{
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "protocol": "rest",
  "id": "assuredworkloads:v1",
  "batchPath": "batch",
  "version": "v1",
  "name": "assuredworkloads",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "revision": "20260817",
  "description": "",
  "version_module": true,
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud": {
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "properties": {
        "steps": {
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via gcloud cli",
          "type": "array"
        },
        "additionalLinks": {
          "type": "array",
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          }
        },
        "gcloudCommands": {
          "description": "Gcloud command to resolve violation",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud"
    },
    "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse": {
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. The token to retrieve the next page of results.",
          "type": "string"
        },
        "dbControlComplianceSummaries": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary"
          },
          "description": "The list of control compliance details.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse",
      "type": "object",
      "description": "The response message for ListDBControlComplianceSummaries."
    },
    "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the control compliance summary.",
          "type": "string"
        },
        "cloudControlReports": {
          "type": "array",
          "description": "The list of cloud control reports.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1CloudControlReport"
          }
        },
        "displayName": {
          "description": "The display name of the control.",
          "type": "string"
        },
        "complianceFrameworks": {
          "items": {
            "type": "string"
          },
          "description": "The list of compliance frameworks that the control belongs to.",
          "type": "array"
        },
        "control": {
          "type": "string",
          "description": "The name of the control."
        },
        "description": {
          "type": "string",
          "description": "The description of the control."
        },
        "overallEvaluationState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The control is passing.",
            "The control is failing.",
            "The control is not assessed."
          ],
          "description": "Output only. The overall evaluation status of the control.",
          "enum": [
            "EVALUATION_STATE_UNSPECIFIED",
            "EVALUATION_STATE_PASSED",
            "EVALUATION_STATE_FAILED",
            "EVALUATION_STATE_NOT_ASSESSED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "totalFindingsCount": {
          "description": "The total number of findings for the control.",
          "type": "integer",
          "format": "int32"
        },
        "isFakeControl": {
          "type": "boolean",
          "description": "Whether the control is a fake control. Fake controls are created and mapped to cloud controls that don't belong to a control group."
        },
        "controlResponsibilityType": {
          "type": "string",
          "enum": [
            "REGULATORY_CONTROL_RESPONSIBILITY_TYPE_UNSPECIFIED",
            "GOOGLE",
            "CUSTOMER",
            "SHARED"
          ],
          "description": "The responsibility type for the control.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google's responsibility.",
            "Your responsibility.",
            "Shared responsibility."
          ]
        },
        "similarControls": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1SimilarControls"
          },
          "type": "array",
          "description": "The list of similar controls."
        }
      },
      "type": "object",
      "description": "The details for control compliance.",
      "id": "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary"
    },
    "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse": {
      "type": "object",
      "properties": {
        "movedEventsCount": {
          "type": "integer",
          "description": "The total number of events successfully moved to the archive table.",
          "format": "int32"
        }
      },
      "description": "Response for archiving resource events.",
      "id": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse"
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Return empty if reached the last page."
        },
        "workloadUpdates": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadUpdate"
          },
          "type": "array",
          "description": "The list of workload updates for a given workload."
        }
      },
      "type": "object",
      "description": "Response of listing the compliance updates per workload with pagination.",
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse"
    },
    "GoogleCloudAssuredworkloadsV1ListViolationsResponse": {
      "description": "Response of ListViolations endpoint.",
      "id": "GoogleCloudAssuredworkloadsV1ListViolationsResponse",
      "type": "object",
      "properties": {
        "violations": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Violation"
          },
          "type": "array",
          "description": "List of Violations under a Workload."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Returns empty if reached the last page."
        },
        "totalSize": {
          "description": "The total number of violations.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateOperationMetadata": {
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateOperationMetadata",
      "properties": {
        "updateName": {
          "description": "Required. The resource name of the update",
          "type": "string"
        },
        "action": {
          "description": "Optional. The time the operation was created.",
          "type": "string",
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "description": "Operation metadata to give request details of ApplyWorkloadUpdate.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse": {
      "type": "object",
      "description": "The response message for ListDbFrameworkComplianceSummariesResponse.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The token to retrieve the next page of results."
        },
        "dbFrameworkComplianceSummaries": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbFrameworkComplianceSummary"
          },
          "description": "The list of framework compliance summaries.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
    },
    "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest": {
      "id": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest",
      "type": "object",
      "properties": {
        "archiveStartTime": {
          "format": "google-datetime",
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong.",
          "type": "string"
        },
        "maxEventsMove": {
          "format": "int32",
          "description": "Required. The maximum total number of events to move in this request.",
          "type": "integer"
        },
        "region": {
          "type": "string",
          "description": "Required. The region of the workload(s) whose events should be reverted. This is used to filter workloads based on AssurantWorkloadData.region."
        },
        "batchSize": {
          "format": "int32",
          "description": "Required. The number of events to process in a single transaction batch.",
          "type": "integer"
        },
        "organizationId": {
          "format": "int64",
          "description": "Required. The organization ID for which to revert events.",
          "type": "string"
        },
        "archiveEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong."
        }
      },
      "description": "Request for reverting archived resource events."
    },
    "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse": {
      "id": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse",
      "properties": {
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
        },
        "updateTime": {
          "description": "Output only. The last updated time of the report.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "supportedCloudProviders": {
          "items": {
            "type": "string",
            "enum": [
              "CLOUD_PROVIDER_UNSPECIFIED",
              "AWS",
              "AZURE",
              "GCP"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Amazon Web Services (AWS).",
              "Microsoft Azure.",
              "Google Cloud."
            ]
          },
          "description": "The list of cloud providers that are supported by the framework.",
          "type": "array"
        },
        "frameworkCategories": {
          "type": "array",
          "description": "The list of framework categories supported.",
          "items": {
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "INDUSTRY_DEFINED_STANDARD",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "An industry-defined framework.",
              "An Assured Workloads framework.",
              "A data security posture framework.",
              "A Google's best practices framework.",
              "A user-created framework."
            ],
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the framework compliance report."
        },
        "targetResourceDetails": {
          "description": "The target resource details of the framework.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1TargetResourceDetails"
          },
          "type": "array"
        },
        "frameworkDescription": {
          "description": "The description of the framework.",
          "type": "string"
        },
        "frameworkDisplayName": {
          "type": "string",
          "description": "Optional. The display name for the framework."
        },
        "majorRevisionId": {
          "type": "string",
          "format": "int64",
          "description": "The latest major revision ID of the framework."
        },
        "framework": {
          "description": "The name of the framework.",
          "type": "string"
        },
        "minorRevisionId": {
          "type": "string",
          "description": "The latest minor revision ID of the latest major revision of the framework.",
          "format": "int64"
        },
        "frameworkType": {
          "type": "string",
          "description": "The type of the framework.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A framework that's provided and managed by Google.",
            "A framework that's created and managed by you."
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        }
      },
      "description": "The response message for FetchDbFrameworkComplianceReport.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyUpdate": {
      "description": "Represents an update for an org policy control applied on an Assured Workload resource. The inherited org policy is not considered.",
      "type": "object",
      "properties": {
        "appliedPolicy": {
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicy",
          "description": "The org policy currently applied on the assured workload resource."
        },
        "suggestedPolicy": {
          "description": "The suggested org policy that replaces the applied policy.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicy"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyUpdate"
    },
    "GoogleCloudAssuredworkloadsV1SimilarControls": {
      "type": "object",
      "properties": {
        "framework": {
          "type": "string",
          "description": "The name of the framework."
        },
        "controlId": {
          "type": "string",
          "description": "The ID of the control."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1SimilarControls",
      "description": "The similar controls."
    },
    "GoogleCloudAssuredworkloadsV1DbFindingSummary": {
      "properties": {
        "findingCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The count of the finding.",
          "readOnly": true
        },
        "resourceFindingCount": {
          "readOnly": true,
          "description": "Output only. Number of active resource findings for this category.",
          "format": "int64",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "Output only. The severity of the finding.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the finding summary."
        },
        "organizationPolicyFindingCount": {
          "type": "string",
          "description": "Output only. Number of active organization policy findings for this category.",
          "readOnly": true,
          "format": "int64"
        },
        "findingCategory": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The category of the finding."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last updated time of the finding.",
          "type": "string",
          "format": "google-datetime"
        },
        "findingClass": {
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT"
          ],
          "description": "Output only. The class of the finding.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The activity is unwanted or malicious.",
            "A potential weakness in software that increases risk to confidentiality, integrity, and availability.",
            "A potential weakness in a cloud resource or asset configuration that increases risk.",
            "A security observation that is for informational purposes.",
            "An error that prevents Security Command Center from functioning properly.",
            "A potential security risk that's due to a change in the security posture.",
            "A combination of security issues that represent a more severe security problem when taken together.",
            "A potential security risk to data assets that contain sensitive data.",
            "A resource or resource group where high risk attack paths converge, based on attack path simulations (APS)."
          ],
          "readOnly": true
        },
        "relatedFrameworks": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of compliance frameworks that the finding belongs to.",
          "type": "array"
        }
      },
      "description": "The details for a finding.",
      "id": "GoogleCloudAssuredworkloadsV1DbFindingSummary",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings": {
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google."
        },
        "resourceType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "type": "string",
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings",
      "description": "Represent the custom settings for the resources to be created."
    },
    "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails",
      "description": "The cloud control assessment details for non-manual cloud controls.",
      "properties": {
        "findingsCount": {
          "description": "The number of findings for the cloud control.",
          "format": "int32",
          "type": "integer"
        },
        "evaluationState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The evaluation status of the cloud control.",
          "enum": [
            "EVALUATION_STATE_UNSPECIFIED",
            "EVALUATION_STATE_PASSED",
            "EVALUATION_STATE_FAILED",
            "EVALUATION_STATE_NOT_ASSESSED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The control is passing.",
            "The control is failing.",
            "The control is not assessed."
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions": {
      "properties": {
        "kajEnrollmentType": {
          "enumDescriptions": [
            "KAJ Enrollment type is unspecified",
            "KAT sets External, Hardware, and Software key feature logging only to TRUE."
          ],
          "type": "string",
          "enum": [
            "KAJ_ENROLLMENT_TYPE_UNSPECIFIED",
            "KEY_ACCESS_TRANSPARENCY_OFF"
          ],
          "description": "Optional. Specifies type of KAJ Enrollment if provided."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions",
      "description": "Options to be set for the given created workload."
    },
    "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse",
      "properties": {
        "movedEventsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of events successfully moved to the original table."
        }
      },
      "description": "Response for reverting archived resource events."
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateResponse": {
      "properties": {
        "appliedUpdate": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadUpdate",
          "description": "The update that was applied."
        }
      },
      "description": "Response for ApplyWorkloadUpdate endpoint.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateResponse"
    },
    "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse": {
      "type": "object",
      "properties": {
        "aggregatedComplianceReports": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1AggregatedComplianceReport"
          },
          "type": "array",
          "description": "The list of aggregated compliance reports."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse",
      "description": "The response message for AggregateDbFrameworkComplianceReport."
    },
    "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions": {
      "description": "Permissions granted to the AW Partner SA account for the customer workload",
      "type": "object",
      "properties": {
        "assuredWorkloadsMonitoring": {
          "type": "boolean",
          "description": "Optional. Allow partner to view violation alerts."
        },
        "dataLogsViewer": {
          "type": "boolean",
          "description": "Optional. Allow the partner to view inspectability logs and monitoring violations."
        },
        "accessTransparencyLogsSupportCaseViewer": {
          "type": "boolean",
          "description": "Optional. Allow partner to view support case details for an AXT log"
        },
        "serviceAccessApprover": {
          "type": "boolean",
          "description": "Optional. Allow partner to view access approval logs."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1CELExpression": {
      "properties": {
        "expression": {
          "description": "Required. The logical expression in CEL. The maximum length of the condition is 1000 characters. For more information, see [CEL expression](https://cloud.google.com/security-command-center/docs/compliance-manager-write-cel-expressions).",
          "type": "string"
        },
        "resourceTypesValues": {
          "$ref": "GoogleCloudAssuredworkloadsV1StringList",
          "description": "The resource instance types on which this expression is defined. The format is `/`. For example: `compute.googleapis.com/Instance`"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1CELExpression",
      "description": "A Common Expression Language (CEL) expression that's used to create a rule."
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse": {
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse",
      "type": "object",
      "properties": {},
      "description": "Response for violation acknowledgement"
    },
    "GoogleCloudAssuredworkloadsV1ViolationExceptionContext": {
      "id": "GoogleCloudAssuredworkloadsV1ViolationExceptionContext",
      "type": "object",
      "properties": {
        "acknowledgementTime": {
          "format": "google-datetime",
          "description": "Timestamp when the violation was acknowledged.",
          "type": "string"
        },
        "comment": {
          "type": "string",
          "description": "Business justification provided towards the acknowledgement of the violation."
        },
        "userName": {
          "type": "string",
          "description": "Name of the user (or service account) who acknowledged the violation."
        }
      },
      "description": "Violation exception detail."
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediation": {
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "properties": {
        "compliantValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values"
        },
        "remediationType": {
          "type": "string",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION_NON_CMEK_SERVICES"
          ],
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation.",
            "Remediation type for resource violation due to gcp.restrictNonCmekServices"
          ],
          "description": "Output only. Reemediation type based on the type of org policy values violated",
          "readOnly": true
        },
        "instructions": {
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions",
          "description": "Required. Remediation instructions to resolve violations"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediation"
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule": {
      "description": "A rule used to express this policy.",
      "properties": {
        "denyAll": {
          "description": "ListPolicy only when all values are denied.",
          "type": "boolean"
        },
        "allowAll": {
          "description": "ListPolicy only when all values are allowed.",
          "type": "boolean"
        },
        "enforce": {
          "description": "BooleanPolicy only.",
          "type": "boolean"
        },
        "values": {
          "description": "ListPolicy only when custom values are specified.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues"
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule"
    },
    "GoogleCloudAssuredworkloadsV1TargetResourceDetails": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1TargetResourceDetails",
      "properties": {
        "targetResourceDisplayName": {
          "description": "The display name of the target resource. For example, `google.com`, `staging-project`, or `development-folder`.",
          "type": "string"
        },
        "frameworkDeployment": {
          "type": "string",
          "description": "The framework deployment name for the target resource. For example, `organizations/{organization_id}/locations/{location}/frameworkDeployments/{framework_deployment_id}`"
        },
        "majorRevisionId": {
          "format": "int64",
          "description": "The major revision ID of the framework for the target resource.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The update time of the target resource."
        },
        "targetResource": {
          "description": "The target resource. For example, `organizations/1234567890`, `projects/1234567890`, or `folders/1234567890`.",
          "type": "string"
        },
        "createTime": {
          "description": "The create time of the target resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "minorRevisionId": {
          "description": "The minor revision ID of the framework for the target resource.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The details for a target resource."
    },
    "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse": {
      "description": "The response message for ListDbFindingSummaries.",
      "id": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Output only. The token to retrieve the next page of results.",
          "readOnly": true,
          "type": "string"
        },
        "dbFindingSummaries": {
          "type": "array",
          "description": "List of finding summary by category.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbFindingSummary"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse": {
      "description": "Response for EnableResourceMonitoring endpoint.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse",
      "properties": {}
    },
    "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus": {
      "properties": {
        "acknowledgedResourceViolationCount": {
          "type": "integer",
          "description": "Number of current resource violations which are not acknowledged.",
          "format": "int32"
        },
        "activeViolationCount": {
          "description": "Number of current orgPolicy violations which are not acknowledged.",
          "type": "integer",
          "format": "int32"
        },
        "acknowledgedViolationCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of current orgPolicy violations which are acknowledged."
        },
        "activeResourceViolationCount": {
          "type": "integer",
          "description": "Number of current resource violations which are acknowledged.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus",
      "description": "Represents the Compliance Status of this workload",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues": {
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues",
      "description": "The values allowed for a ListPolicy.",
      "properties": {
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of values allowed at this resource."
        },
        "deniedValues": {
          "type": "array",
          "description": "List of values denied at this resource.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest": {
      "properties": {
        "nonCompliantOrgPolicy": {
          "type": "string",
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "deprecated": true
        },
        "acknowledgeType": {
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ],
          "type": "string",
          "description": "Optional. Acknowledge type of specified violation.",
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ]
        },
        "comment": {
          "description": "Required. Business justification explaining the need for violation acknowledgement",
          "type": "string"
        }
      },
      "description": "Request for acknowledging the violation",
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest",
      "properties": {
        "restrictionType": {
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "ALLOW_ALL_GCP_RESOURCES",
            "ALLOW_COMPLIANT_RESOURCES",
            "APPEND_COMPLIANT_RESOURCES"
          ],
          "description": "Required. The type of restriction for using gcp products in the Workload environment.",
          "enumDescriptions": [
            "Unknown restriction type.",
            "Allow the use all of all gcp products, irrespective of the compliance posture. This effectively removes gcp.restrictServiceUsage OrgPolicy on the AssuredWorkloads Folder.",
            "Based on Workload's compliance regime, allowed list changes. See - https://cloud.google.com/assured-workloads/docs/supported-products for the list of supported resources.",
            "Similar to ALLOW_COMPLIANT_RESOURCES but adds the list of compliant resources to the existing list of compliant resources. Effective org-policy of the Folder is considered to ensure there is no disruption to the existing customer workflows."
          ],
          "type": "string"
        }
      },
      "description": "Request for restricting list of available resources in Workload environment."
    },
    "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest": {
      "description": "Request for updating permission settings for a partner workload.",
      "id": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest",
      "properties": {
        "partnerPermissions": {
          "description": "Required. The partner permissions to be updated.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
        },
        "updateMask": {
          "description": "Required. The list of fields to be updated. E.g. update_mask { paths: \"partner_permissions.data_logs_viewer\"}",
          "type": "string",
          "format": "google-fieldmask"
        },
        "etag": {
          "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicy": {
      "properties": {
        "resource": {
          "description": "Resource that the OrgPolicy attaches to. Format: folders/123\" projects/123\".",
          "type": "string"
        },
        "reset": {
          "type": "boolean",
          "description": "Ignores policies set above this resource and restores to the `constraint_default` value. `reset` can only be true when `rules` is empty and `inherit` is false."
        },
        "rule": {
          "description": "The rule of the OrgPolicy.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule"
        },
        "constraint": {
          "type": "string",
          "description": "The constraint name of the OrgPolicy. e.g. \"constraints/gcp.resourceLocations\"."
        },
        "inherit": {
          "type": "boolean",
          "description": "If `inherit` is true, policy rules of the lowest ancestor in the resource hierarchy chain are inherited. If it is false, policy rules are not inherited."
        }
      },
      "description": "This assured workload service object is used to represent the org policy attached to a resource. It servces the same purpose as the orgpolicy.v2.Policy object but with functionality that is limited to what is supported by Assured Workloads(e.g. only one rule under one OrgPolicy object, no conditions, etc).",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicy"
    },
    "GoogleCloudAssuredworkloadsV1CloudControlReport": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1CloudControlReport",
      "description": "The cloud control report.",
      "properties": {
        "cloudControlType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOM",
            "BUILT_IN"
          ],
          "description": "The type of the cloud control.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A cloud control that's created and managed by you.",
            "A cloud control that's provided and managed by Google."
          ]
        },
        "categories": {
          "description": "The list of categories for the cloud control.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cloudControlAssessmentDetails": {
          "description": "The details of a cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails"
        },
        "frameworkMajorRevisionIds": {
          "description": "The major revision IDs of the frameworks that the cloud control belongs to.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "similarControls": {
          "description": "The list of similar controls.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1SimilarControls"
          },
          "type": "array"
        },
        "cloudControlDeployment": {
          "type": "string",
          "description": "The name of the cloud control deployment."
        },
        "rules": {
          "description": "The list of rules that correspond to the cloud control.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Rule"
          },
          "type": "array"
        },
        "cloudControl": {
          "description": "The name of the cloud control.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the cloud control."
        },
        "manualCloudControlAssessmentDetails": {
          "$ref": "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails",
          "description": "The details of a manual cloud control assessment."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the cloud control."
        },
        "findingSeverity": {
          "description": "The severity of the finding.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "findingCategory": {
          "type": "string",
          "description": "The category of the finding."
        },
        "enforcementMode": {
          "type": "string",
          "description": "The enforcement mode of the cloud control.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The cloud control is enforced to prevent non-compliance.",
            "The cloud control is enforced to detect non-compliance.",
            "The cloud control is enforced to audit for non-compliance."
          ],
          "enum": [
            "ENFORCEMENT_MODE_UNSPECIFIED",
            "PREVENTIVE",
            "DETECTIVE",
            "AUDIT"
          ]
        },
        "minorRevisionId": {
          "description": "The minor revision ID of the cloud control.",
          "type": "string",
          "format": "int64"
        },
        "majorRevisionId": {
          "description": "The major revision ID of the cloud control.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis": {
      "description": "Represents move analysis results for an asset.",
      "properties": {
        "assetType": {
          "type": "string",
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types)."
        },
        "asset": {
          "type": "string",
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1"
        },
        "analysisGroups": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup"
          },
          "type": "array",
          "description": "List of eligible analyses performed for the asset."
        }
      },
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudAssuredworkloadsV1DbFrameworkComplianceSummary": {
      "properties": {
        "framework": {
          "description": "The name of the framework.",
          "type": "string"
        },
        "findingCount": {
          "description": "Output only. The count of the findings generated against the framework.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "targetResourceDetails": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1TargetResourceDetails"
          },
          "description": "The target resource details for the framework.",
          "type": "array"
        },
        "supportedCloudProviders": {
          "type": "array",
          "description": "The list of cloud providers supported by the framework.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Amazon Web Services (AWS).",
              "Microsoft Azure.",
              "Google Cloud."
            ],
            "enum": [
              "CLOUD_PROVIDER_UNSPECIFIED",
              "AWS",
              "AZURE",
              "GCP"
            ],
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The name of the framework compliance summary.",
          "type": "string"
        },
        "frameworkDisplayName": {
          "description": "Optional. The display name for the framework.",
          "type": "string"
        },
        "controlAssessmentDetails": {
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails",
          "description": "The control assessment details of the framework."
        },
        "frameworkType": {
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A framework that's provided and managed by Google.",
            "A framework that's created and managed by you."
          ],
          "description": "The type of framework.",
          "type": "string"
        },
        "frameworkCategories": {
          "description": "The list of framework categories supported by the framework.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "An industry-defined framework.",
              "An Assured Workloads framework.",
              "A data security posture framework.",
              "A Google's best practices framework.",
              "A user-created framework."
            ],
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "INDUSTRY_DEFINED_STANDARD",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          }
        },
        "minorRevisionId": {
          "description": "The minor revision ID of the framework.",
          "format": "int64",
          "type": "string"
        },
        "controlsPassingTrend": {
          "$ref": "GoogleCloudAssuredworkloadsV1Trend",
          "readOnly": true,
          "description": "Output only. The trend of controls that are passing for the given duration."
        },
        "majorRevisionId": {
          "format": "int64",
          "type": "string",
          "description": "The major revision ID of the framework."
        }
      },
      "type": "object",
      "description": "The details for a framework compliance summary.",
      "id": "GoogleCloudAssuredworkloadsV1DbFrameworkComplianceSummary"
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse": {
      "properties": {
        "workloads": {
          "description": "List of Workloads under a given parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Workload"
          }
        },
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse",
      "type": "object",
      "description": "Response of ListWorkloads endpoint."
    },
    "GoogleCloudAssuredworkloadsV1MoveImpact": {
      "id": "GoogleCloudAssuredworkloadsV1MoveImpact",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Explanation of the impact."
        }
      },
      "type": "object",
      "description": "Represents the impact of moving the asset to the target."
    },
    "GoogleCloudAssuredworkloadsV1Violation": {
      "id": "GoogleCloudAssuredworkloadsV1Violation",
      "type": "object",
      "properties": {
        "nonCompliantOrgPolicy": {
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "type": "string",
          "readOnly": true
        },
        "resourceType": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Type of the resource like compute.googleapis.com/Disk, etc. Empty for org-policy violations."
        },
        "exceptionContexts": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1ViolationExceptionContext"
          },
          "description": "Output only. List of all the exception detail added for the violation.",
          "type": "array",
          "readOnly": true
        },
        "auditLogLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last time when the Violation record was updated.",
          "format": "google-datetime"
        },
        "remediation": {
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediation",
          "description": "Output only. Compliance violation remediation",
          "readOnly": true
        },
        "associatedOrgPolicyViolationId": {
          "type": "string",
          "description": "Optional. Output only. Violation Id of the org-policy violation due to which the resource violation is caused. Empty for org-policy violations.",
          "readOnly": true
        },
        "violationType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "VIOLATION_TYPE_UNSPECIFIED",
            "ORG_POLICY",
            "RESOURCE"
          ],
          "description": "Output only. Type of the violation",
          "enumDescriptions": [
            "Unspecified type.",
            "Org Policy Violation.",
            "Resource Violation."
          ]
        },
        "category": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the violation",
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}",
          "type": "string"
        },
        "resolveTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty."
        },
        "acknowledged": {
          "description": "A boolean that indicates if the violation is acknowledged",
          "type": "boolean"
        },
        "orgPolicyConstraint": {
          "deprecated": true,
          "description": "Output only. Immutable. The org-policy-constraint that was incorrectly changed, which resulted in this violation.",
          "type": "string",
          "readOnly": true
        },
        "beginTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation."
        },
        "resourceName": {
          "readOnly": true,
          "description": "Optional. Output only. Name of the resource like //storage.googleapis.com/myprojectxyz-testbucket. Empty for org-policy violations.",
          "type": "string"
        },
        "exceptionAuditLogLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}"
        },
        "acknowledgementTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp when this violation was acknowledged first. Check exception_contexts to find the last time the violation was acknowledged when there are more than one violations. This field will be absent when acknowledged field is marked as false."
        },
        "parentProjectNumber": {
          "readOnly": true,
          "description": "Optional. Output only. Parent project number where resource is present. Empty for org-policy violations.",
          "type": "string"
        }
      },
      "description": "Workload monitoring Violation."
    },
    "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest": {
      "id": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest",
      "type": "object",
      "properties": {
        "batchSize": {
          "format": "int32",
          "description": "Required. The number of events to process in a single transaction batch.",
          "type": "integer"
        },
        "maxEventsMove": {
          "format": "int32",
          "description": "Required. The maximum total number of events to move in this request.",
          "type": "integer"
        },
        "region": {
          "type": "string",
          "description": "Required. The region of the workload(s) whose events should be archived. This is used to filter workloads based on AssurantWorkloadData.region."
        },
        "organizationId": {
          "type": "string",
          "format": "int64",
          "description": "Required. The organization ID for which to archive events."
        },
        "archiveTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Time to set as ArchiveTime in the archive table. If not provided, the current time is used."
        },
        "eventCutoffTime": {
          "type": "string",
          "description": "Required. Only events with EventTime earlier than this cutoff will be archived.",
          "format": "google-datetime"
        }
      },
      "description": "Request for archiving resource events."
    },
    "GoogleCloudAssuredworkloadsV1Workload": {
      "id": "GoogleCloudAssuredworkloadsV1Workload",
      "properties": {
        "partner": {
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN",
            "SOVEREIGN_CONTROLS_BY_CNTXT",
            "SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner offering without EKM.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "type": "string",
          "description": "Optional. Partner regime associated with this workload."
        },
        "saaEnrollmentResponse": {
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse",
          "readOnly": true
        },
        "resourceMonitoringEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether resource monitoring is enabled for workload or not. It is true when Resource feed is subscribed to AWM topic and AWM Service Agent Role is binded to AW Service Account for resource Assured workload."
        },
        "partnerPermissions": {
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
        },
        "etag": {
          "type": "string",
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations."
        },
        "kajEnrollmentState": {
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload"
        },
        "ekmProvisioningResponse": {
          "description": "Output only. Represents the Ekm Provisioning State of the given workload.",
          "readOnly": true,
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse"
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`."
        },
        "complianceRegime": {
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Switzerland Data Boundary with Access Justifications",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "type": "string",
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "workloadOptions": {
          "description": "Optional. Options to be set for the given created workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "partnerServicesBillingAccount": {
          "description": "Optional. Billing account necessary for purchasing services from Sovereign Partners. This field is required for creating SIA/PSN/CNTXT/Telefonica partner workloads. The caller should have 'billing.resourceAssociations.create' IAM permission on this billing-account. The format of this string is billingAccounts/AAAAAA-BBBBBB-CCCCCC",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels applied to the workload.",
          "type": "object"
        },
        "resourceSettings": {
          "type": "array",
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings"
          }
        },
        "kmsSettings": {
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field.",
          "deprecated": true,
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings"
        },
        "provisionedResourcesParent": {
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}",
          "type": "string"
        },
        "complianceStatus": {
          "description": "Output only. Count of active Violations in the Workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus",
          "readOnly": true
        },
        "resources": {
          "readOnly": true,
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
        },
        "violationNotificationsEnabled": {
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload.",
          "type": "boolean"
        },
        "compliantButDisallowedServices": {
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "enableSovereignControls": {
          "type": "boolean",
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers."
        }
      },
      "description": "A Workload object for managing highly regulated workloads of cloud customers.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1StringList": {
      "description": "A list of strings for the parameter value.",
      "id": "GoogleCloudAssuredworkloadsV1StringList",
      "properties": {
        "values": {
          "type": "array",
          "description": "Required. The strings in the list.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1Trend": {
      "type": "object",
      "properties": {
        "duration": {
          "description": "Output only. The duration for the trend.",
          "readOnly": true,
          "format": "google-duration",
          "type": "string"
        },
        "valuePercent": {
          "readOnly": true,
          "format": "double",
          "description": "Output only. The trend value as a percentage. The value can be positive or negative.",
          "type": "number"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1Trend",
      "description": "The trend of a compliance metric."
    },
    "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings": {
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
      "description": "Settings specific to the Key Management Service.",
      "deprecated": true,
      "properties": {
        "rotationPeriod": {
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "type": "string",
          "format": "google-duration"
        },
        "nextRotationTime": {
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails": {
      "id": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails",
      "description": "The details for a control assessment.",
      "properties": {
        "notAssessedControlIds": {
          "description": "The list of controls that aren't assessed because they require manual review.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "assessedPassingControlIds": {
          "type": "array",
          "description": "The list of controls that were assessed and are passing.",
          "items": {
            "type": "string"
          }
        },
        "assessedPassingControls": {
          "type": "integer",
          "format": "int32",
          "description": "The number of controls that were assessed and are passing."
        },
        "passingControls": {
          "type": "integer",
          "format": "int32",
          "description": "The number of controls that are passing or not assessed."
        },
        "failingControls": {
          "format": "int32",
          "type": "integer",
          "description": "The number of controls that are failing."
        },
        "notAssessedControls": {
          "format": "int32",
          "description": "The number of controls that aren't assessed because they require manual review.",
          "type": "integer"
        },
        "passingControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of controls that are passing or not assessed."
        },
        "failingControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of controls that are failing."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse",
      "properties": {},
      "type": "object",
      "description": "Response for EnableComplianceUpdates endpoint."
    },
    "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails": {
      "type": "object",
      "description": "The details for a manual cloud control assessment.",
      "properties": {
        "manualCloudControlGuide": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The guide for assessing a cloud control manually."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse": {
      "description": "External key management systems(EKM) Provisioning response",
      "type": "object",
      "properties": {
        "ekmProvisioningState": {
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ],
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ],
          "type": "string",
          "description": "Output only. Indicates Ekm enrollment Provisioning of a given workload.",
          "readOnly": true
        },
        "ekmProvisioningErrorDomain": {
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner's provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ],
          "type": "string",
          "description": "Indicates Ekm provisioning error if any.",
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ]
        },
        "ekmProvisioningErrorMapping": {
          "type": "string",
          "description": "Detailed error message if Ekm provisioning fails",
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ],
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse"
    },
    "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse": {
      "description": "Response containing the analysis results for the hypothetical resource move.",
      "id": "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse",
      "properties": {
        "assetMoveAnalyses": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis"
          },
          "description": "List of analysis results for each asset in scope.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Is empty if the last page is reached."
        }
      },
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest": {
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest",
      "type": "object",
      "description": "Request to apply update to a workload.",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ],
          "description": "The action to be performed on the update."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse": {
      "type": "object",
      "properties": {
        "setupStatus": {
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ],
          "description": "Output only. Indicates SAA enrollment status of a given workload.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ]
        },
        "setupErrors": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ],
            "type": "string",
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ]
          },
          "description": "Indicates SAA enrollment setup error if any."
        }
      },
      "description": "Signed Access Approvals (SAA) enrollment response.",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadUpdate": {
      "description": "A workload update is a change to the workload's compliance configuration.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "The time the update was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "details": {
          "$ref": "GoogleCloudAssuredworkloadsV1UpdateDetails",
          "description": "The details of the update."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "The update is available to be applied.",
            "The update has been applied.",
            "The update has been withdrawn by the service."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "APPLIED",
            "WITHDRAWN"
          ],
          "description": "Output only. The state of the update.",
          "type": "string"
        },
        "createTime": {
          "description": "The time the update was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadUpdate"
    },
    "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup": {
      "id": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup",
      "type": "object",
      "description": "Represents a logical group of checks performed for an asset. If successful, the group contains the analysis result, otherwise it contains an error with the failure reason.",
      "properties": {
        "analysisResult": {
          "description": "Result of a successful analysis.",
          "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisResult"
        },
        "displayName": {
          "description": "Name of the analysis group.",
          "type": "string"
        },
        "error": {
          "description": "Error details for a failed analysis.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1Rule": {
      "properties": {
        "celExpression": {
          "$ref": "GoogleCloudAssuredworkloadsV1CELExpression",
          "description": "The rule's logic expression in Common Expression Language (CEL)."
        },
        "description": {
          "description": "Optional. The rule description. The maximum length is 2000 characters.",
          "type": "string"
        },
        "ruleActionTypes": {
          "description": "Required. The functionality that's enabled by the rule.",
          "items": {
            "enum": [
              "RULE_ACTION_TYPE_UNSPECIFIED",
              "RULE_ACTION_TYPE_PREVENTIVE",
              "RULE_ACTION_TYPE_DETECTIVE",
              "RULE_ACTION_TYPE_AUDIT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "The rule is intended to prevent non-compliance.",
              "The rule is intended to detect non-compliance.",
              "The rule is intended to audit non-compliance."
            ]
          },
          "type": "array"
        }
      },
      "description": "A rule in the cloud control.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1Rule"
    },
    "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata": {
      "description": "Operation metadata to give request details of CreateWorkload.",
      "id": "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata",
      "properties": {
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the workload.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Optional. Time when the operation was created.",
          "format": "google-datetime"
        },
        "complianceRegime": {
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
[...]
