{
  "batchPath": "batch",
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "revision": "20260810",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "kind": "discovery#restDescription",
  "name": "assuredworkloads",
  "ownerName": "Google",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "version": "v1",
  "canonicalName": "Assuredworkloads",
  "basePath": "",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "id": "assuredworkloads:v1",
  "resources": {
    "assuredworkloads": {
      "methods": {
        "revertArchivedResourceEvents": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse"
          },
          "description": "Finds matching ArchivedResourceEvents and moves them back to the ResourceEvents table.",
          "flatPath": "v1/assuredworkloads:revertArchivedResourceEvents",
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1/assuredworkloads:revertArchivedResourceEvents",
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "assuredworkloads.assuredworkloads.revertArchivedResourceEvents"
        },
        "archiveResourceEvents": {
          "flatPath": "v1/assuredworkloads:archiveResourceEvents",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse"
          },
          "description": "Finds orphan ResourceEvents matching the criteria and moves them to the ArchivedResourceEvents table.",
          "id": "assuredworkloads.assuredworkloads.archiveResourceEvents",
          "path": "v1/assuredworkloads:archiveResourceEvents",
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceReports": {
              "methods": {
                "aggregate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:aggregate",
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.aggregate",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "httpMethod": "GET",
                  "parameters": {
                    "interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "interval.endTime": {
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate"
                },
                "fetch": {
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "location": "path",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "type": "string"
                    },
                    "endTime": {
                      "type": "string",
                      "description": "Optional. The end time of the report.",
                      "location": "query",
                      "format": "google-datetime"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
                  },
                  "description": "Fetches the framework compliance report for a given scope.",
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.fetch",
                  "path": "v1/{+name}:fetch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^folders/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "filter": {
                          "description": "Optional. The filtering results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse"
                      },
                      "description": "Lists the control compliance summary for a given scope.",
                      "id": "assuredworkloads.folders.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "path": "v1/{+parent}/dbControlComplianceSummaries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFindingSummaries",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "location": "path",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse"
                  },
                  "description": "Lists the finding summary by category for a given scope.",
                  "id": "assuredworkloads.folders.locations.dbFindingSummaries.list",
                  "path": "v1/{+parent}/dbFindingSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ]
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "description": "Lists the framework compliance summary for a given scope.",
                  "id": "assuredworkloads.folders.locations.dbFrameworkComplianceSummaries.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/dbFrameworkComplianceSummaries"
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "assuredworkloads.organizations.locations.operations.get"
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFindingSummaries",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse"
                  },
                  "description": "Lists the finding summary by category for a given scope.",
                  "id": "assuredworkloads.organizations.locations.dbFindingSummaries.list",
                  "path": "v1/{+parent}/dbFindingSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/dbFrameworkComplianceSummaries",
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceSummaries.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "description": "Lists the framework compliance summary for a given scope.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceSummaries"
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "methods": {
                "aggregate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:aggregate",
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.aggregate",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "description": "Gets the aggregated compliance report over time for a given scope.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "location": "path"
                    },
                    "interval.startTime": {
                      "type": "string",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "interval.endTime": {
                      "type": "string",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate"
                },
                "fetch": {
                  "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.fetch",
                  "path": "v1/{+name}:fetch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "type": "string"
                    },
                    "endTime": {
                      "type": "string",
                      "description": "Optional. The end time of the report.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
                  },
                  "description": "Fetches the framework compliance report for a given scope."
                }
              },
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/dbControlComplianceSummaries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "assuredworkloads.organizations.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse"
                      },
                      "description": "Lists the control compliance summary for a given scope.",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. The filtering results.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "workloads": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error. In addition to assuredworkloads.workload.delete permission, the user should also have orgpolicy.policy.set permission on the deleted folder to remove Assured Workloads OrgPolicies.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.delete"
                },
                "analyzeWorkloadMove": {
                  "path": "v1/{+target}:analyzeWorkloadMove",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "assuredworkloads.organizations.locations.workloads.analyzeWorkloadMove",
                  "parameterOrder": [
                    "target"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse"
                  },
                  "description": "Analyzes a hypothetical move of a source resource to a target workload to surface compliance risks. The analysis is best effort and is not guaranteed to be exhaustive.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove",
                  "httpMethod": "GET",
                  "parameters": {
                    "target": {
                      "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source resource will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string"
                    },
                    "assetTypes": {
                      "type": "string",
                      "description": "Optional. List of asset types to be analyzed, including and under the source resource. If empty, all assets are analyzed. The complete list of asset types is available [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
                      "location": "query",
                      "repeated": true
                    },
                    "project": {
                      "type": "string",
                      "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Page size. If a value is not specified, the default value of 10 is used. The maximum value is 50.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The page token from the previous response. It needs to be passed in the second and following requests.",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "externalId": {
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Creates Assured Workload.",
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "path": "v1/{+parent}/workloads",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "restrictAllowedResources": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse"
                  },
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest"
                  },
                  "path": "v1/{+name}:restrictAllowedResources",
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources"
                },
                "patch": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields to be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "description": "Gets Assured Workload associated with a CRM Node"
                },
                "mutatePartnerPermissions": {
                  "id": "assuredworkloads.organizations.locations.workloads.mutatePartnerPermissions",
                  "path": "v1/{+name}:mutatePartnerPermissions",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:mutatePartnerPermissions",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "description": "Update the permissions settings for an existing partner workload. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress."
                },
                "enableResourceMonitoring": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableResourceMonitoring",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse"
                  },
                  "description": "Enable resource violation monitoring for a workload.",
                  "id": "assuredworkloads.organizations.locations.workloads.enableResourceMonitoring",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:enableResourceMonitoring"
                },
                "enableComplianceUpdates": {
                  "id": "assuredworkloads.organizations.locations.workloads.enableComplianceUpdates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:enableComplianceUpdates",
                  "httpMethod": "PUT",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableComplianceUpdates",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse"
                  },
                  "description": "This endpoint enables Assured Workloads service to offer compliance updates for the folder based assured workload. It sets up an Assured Workloads Service Agent, having permissions to read compliance controls (for example: Org Policies) applied on the workload. The caller must have `resourcemanager.folders.getIamPolicy` and `resourcemanager.folders.setIamPolicy` permissions on the assured workload folder."
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse"
                  },
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/workloads"
                }
              },
              "resources": {
                "violations": {
                  "methods": {
                    "list": {
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "path": "v1/{+parent}/violations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations",
                      "httpMethod": "GET",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Actionable sorting delegation.",
                          "location": "query",
                          "type": "string"
                        },
                        "interval.startTime": {
                          "description": "The start of the time window.",
                          "location": "query",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. A custom filter for filtering by the Violations properties.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Page token returned from previous request.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "required": true,
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "location": "path"
                        },
                        "interval.endTime": {
                          "type": "string",
                          "description": "The end of the time window.",
                          "location": "query",
                          "format": "google-datetime"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Page size.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListViolationsResponse"
                      },
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`"
                    },
                    "acknowledge": {
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:acknowledge",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse"
                      },
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1Violation"
                      },
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get"
                    }
                  }
                },
                "updates": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse"
                      },
                      "description": "This endpoint lists all updates for the given workload.",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "required": true,
                          "description": "Required. organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size. The default value is 20 and the max allowed value is 100.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Page token returned from previous request.",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/updates",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "assuredworkloads.organizations.locations.workloads.updates.list"
                    },
                    "apply": {
                      "path": "v1/{+name}:apply",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest"
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.updates.apply",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "This endpoint creates a new operation to apply the given update.",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates/{updatesId}:apply",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the update. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}/updates/{update_id}",
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/updates/[^/]+$"
                        }
                      },
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dbFrameworkComplianceSummaries": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent scope for the framework compliance summary. Format: organizations/{organization}/locations/{location} folders/{folder}/locations/{location} projects/{project}/locations/{location}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Includes basic compliance metadata, but omits trend data.",
                        "Includes all information, including finding_count and controls_passing_trend. Trend data is provided for the last 30 days."
                      ],
                      "enum": [
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_UNSPECIFIED",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_BASIC",
                        "FRAMEWORK_COMPLIANCE_SUMMARY_VIEW_FULL"
                      ],
                      "description": "Optional. Specifies the level of detail to return in the response.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return. Pass the next_page_token value from a previous result.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceSummaries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFrameworkComplianceSummariesResponse"
                  },
                  "description": "Lists the framework compliance summary for a given scope.",
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceSummaries.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/dbFrameworkComplianceSummaries"
                }
              }
            },
            "dbFrameworkComplianceReports": {
              "methods": {
                "fetch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:fetch",
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.fetch",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse"
                  },
                  "description": "Fetches the framework compliance report for a given scope.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the framework compliance report to retrieve.",
                      "location": "path"
                    },
                    "endTime": {
                      "description": "Optional. The end time of the report.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:fetch"
                },
                "aggregate": {
                  "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.aggregate",
                  "path": "v1/{+name}:aggregate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}:aggregate",
                  "parameters": {
                    "interval.startTime": {
                      "type": "string",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "interval.endTime": {
                      "type": "string",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filtering results.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the aggregated compliance report over time to retrieve. Format: `organizations/{organization_id}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}`",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AggregateDbFrameworkComplianceReportResponse"
                  },
                  "description": "Gets the aggregated compliance report over time for a given scope."
                }
              },
              "resources": {
                "dbControlComplianceSummaries": {
                  "methods": {
                    "list": {
                      "id": "assuredworkloads.projects.locations.dbFrameworkComplianceReports.dbControlComplianceSummaries.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/dbControlComplianceSummaries",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token that identifies the page of results that the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dbFrameworkComplianceReports/[^/]+$",
                          "required": true,
                          "description": "Required. The parent scope for the framework overview page. Format: organizations/{organization}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} folders/{folder}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report} projects/{project}/locations/{location}/dbFrameworkComplianceReports/{db_framework_compliance_report}",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the default page size is 50. The maximum value is 1000.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. The filtering results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFrameworkComplianceReports/{dbFrameworkComplianceReportsId}/dbControlComplianceSummaries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse"
                      },
                      "description": "Lists the control compliance summary for a given scope."
                    }
                  }
                }
              }
            },
            "dbFindingSummaries": {
              "methods": {
                "list": {
                  "id": "assuredworkloads.projects.locations.dbFindingSummaries.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/dbFindingSummaries",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent scope for the framework overview page. Formats: - projects/{project}/locations/{location} - folders/{folder}/locations/{location} - organizations/{organization}/locations/{location}",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. The requested page size. The server might return fewer items than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. The filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token that identifies the page of results that the server should return.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbFindingSummaries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse"
                  },
                  "description": "Lists the finding summary by category for a given scope."
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "title": "Assured Workloads API",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "servicePath": "",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions",
      "properties": {
        "accessTransparencyLogsSupportCaseViewer": {
          "description": "Optional. Allow partner to view support case details for an AXT log",
          "type": "boolean"
        },
        "dataLogsViewer": {
          "description": "Optional. Allow the partner to view inspectability logs and monitoring violations.",
          "type": "boolean"
        },
        "serviceAccessApprover": {
          "type": "boolean",
          "description": "Optional. Allow partner to view access approval logs."
        },
        "assuredWorkloadsMonitoring": {
          "description": "Optional. Allow partner to view violation alerts.",
          "type": "boolean"
        }
      },
      "description": "Permissions granted to the AW Partner SA account for the customer workload",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse",
      "properties": {},
      "description": "Response for EnableComplianceUpdates endpoint.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1CloudControlReport": {
      "description": "The cloud control report.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1CloudControlReport",
      "properties": {
        "findingSeverity": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. A critical threat is a threat that can access, modify, or delete data or execute unauthorized code within existing resources.",
            "A high-risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. A high-risk threat is a threat that can create new computational resources in an environment but can't access data or execute code in existing resources.",
            "A medium-risk vulnerability can be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. A medium-risk threat can cause operational impact but might not access data or execute unauthorized code.",
            "A low-risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. A low-risk threat is a threat that has obtained minimal access to an environment but can't access data, execute code, or create resources."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the finding."
        },
        "cloudControl": {
          "type": "string",
          "description": "The name of the cloud control."
        },
        "description": {
          "description": "The description of the cloud control.",
          "type": "string"
        },
        "enforcementMode": {
          "description": "The enforcement mode of the cloud control.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The cloud control is enforced to prevent non-compliance.",
            "The cloud control is enforced to detect non-compliance.",
            "The cloud control is enforced to audit for non-compliance."
          ],
          "enum": [
            "ENFORCEMENT_MODE_UNSPECIFIED",
            "PREVENTIVE",
            "DETECTIVE",
            "AUDIT"
          ]
        },
        "cloudControlAssessmentDetails": {
          "description": "The details of a cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1CloudControlAssessmentDetails"
        },
        "displayName": {
          "description": "The display name of the cloud control.",
          "type": "string"
        },
        "frameworkMajorRevisionIds": {
          "type": "array",
          "description": "The major revision IDs of the frameworks that the cloud control belongs to.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "minorRevisionId": {
          "description": "The minor revision ID of the cloud control.",
          "format": "int64",
          "type": "string"
        },
        "rules": {
          "type": "array",
          "description": "The list of rules that correspond to the cloud control.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Rule"
          }
        },
        "categories": {
          "description": "The list of categories for the cloud control.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cloudControlType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A cloud control that's created and managed by you.",
            "A cloud control that's provided and managed by Google."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOM",
            "BUILT_IN"
          ],
          "description": "The type of the cloud control."
        },
        "manualCloudControlAssessmentDetails": {
          "description": "The details of a manual cloud control assessment.",
          "$ref": "GoogleCloudAssuredworkloadsV1ManualCloudControlAssessmentDetails"
        },
        "similarControls": {
          "type": "array",
          "description": "The list of similar controls.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1SimilarControls"
          }
        },
        "cloudControlDeployment": {
          "type": "string",
          "description": "The name of the cloud control deployment."
        },
        "findingCategory": {
          "type": "string",
          "description": "The category of the finding."
        },
        "majorRevisionId": {
          "description": "The major revision ID of the cloud control.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse": {
      "description": "The response message for FetchDbFrameworkComplianceReport.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1FetchDbFrameworkComplianceReportResponse",
      "properties": {
        "framework": {
          "type": "string",
          "description": "The name of the framework."
        },
        "frameworkDescription": {
          "type": "string",
          "description": "The description of the framework."
        },
        "frameworkCategories": {
          "type": "array",
          "description": "The list of framework categories supported.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "An industry-defined framework.",
              "An Assured Workloads framework.",
              "A data security posture framework.",
              "A Google's best practices framework.",
              "A user-created framework."
            ],
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "INDUSTRY_DEFINED_STANDARD",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          }
        },
        "name": {
          "description": "The name of the framework compliance report.",
          "type": "string"
        },
        "frameworkType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A framework that's provided and managed by Google.",
            "A framework that's created and managed by you."
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "description": "The type of the framework."
        },
        "supportedCloudProviders": {
          "description": "The list of cloud providers that are supported by the framework.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Amazon Web Services (AWS).",
              "Microsoft Azure.",
              "Google Cloud."
            ],
            "enum": [
              "CLOUD_PROVIDER_UNSPECIFIED",
              "AWS",
              "AZURE",
              "GCP"
            ]
          },
          "type": "array"
        },
        "frameworkDisplayName": {
          "type": "string",
          "description": "Optional. The display name for the framework."
        },
        "controlAssessmentDetails": {
          "description": "The control assessment details of the framework.",
          "$ref": "GoogleCloudAssuredworkloadsV1ControlAssessmentDetails"
        },
        "majorRevisionId": {
          "description": "The latest major revision ID of the framework.",
          "format": "int64",
          "type": "string"
        },
        "minorRevisionId": {
          "description": "The latest minor revision ID of the latest major revision of the framework.",
          "format": "int64",
          "type": "string"
        },
        "targetResourceDetails": {
          "description": "The target resource details of the framework.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1TargetResourceDetails"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last updated time of the report.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest": {
      "description": "Request for updating permission settings for a partner workload.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest",
      "properties": {
        "partnerPermissions": {
          "description": "Required. The partner permissions to be updated.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag."
        },
        "updateMask": {
          "description": "Required. The list of fields to be updated. E.g. update_mask { paths: \"partner_permissions.data_logs_viewer\"}",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole": {
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole",
      "properties": {
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Remediation instructions to resolve violation via cloud console",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListDbControlComplianceSummariesResponse",
      "properties": {
        "dbControlComplianceSummaries": {
          "description": "The list of control compliance details.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbControlComplianceSummary"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. The token to retrieve the next page of results.",
          "readOnly": true
        }
      },
      "description": "The response message for ListDBControlComplianceSummaries.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudAssuredworkloadsV1Trend": {
      "type": "object",
      "description": "The trend of a compliance metric.",
      "id": "GoogleCloudAssuredworkloadsV1Trend",
      "properties": {
        "duration": {
          "description": "Output only. The duration for the trend.",
          "readOnly": true,
          "format": "google-duration",
          "type": "string"
        },
        "valuePercent": {
          "description": "Output only. The trend value as a percentage. The value can be positive or negative.",
          "readOnly": true,
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListDbFindingSummariesResponse",
      "properties": {
        "dbFindingSummaries": {
          "type": "array",
          "description": "List of finding summary by category.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1DbFindingSummary"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. The token to retrieve the next page of results.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The response message for ListDbFindingSummaries."
    },
    "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus": {
      "description": "Represents the Compliance Status of this workload",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus",
      "properties": {
        "activeResourceViolationCount": {
          "description": "Number of current resource violations which are acknowledged.",
          "format": "int32",
          "type": "integer"
        },
        "acknowledgedResourceViolationCount": {
          "description": "Number of current resource violations which are not acknowledged.",
          "format": "int32",
          "type": "integer"
        },
        "activeViolationCount": {
          "type": "integer",
          "description": "Number of current orgPolicy violations which are not acknowledged.",
          "format": "int32"
        },
        "acknowledgedViolationCount": {
          "description": "Number of current orgPolicy violations which are acknowledged.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1Violation": {
      "description": "Workload monitoring Violation.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1Violation",
      "properties": {
        "beginTime": {
          "type": "string",
          "description": "Output only. Time of the event which triggered the Violation.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "resolveTime": {
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "auditLogLink": {
          "type": "string",
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}",
          "readOnly": true
        },
        "associatedOrgPolicyViolationId": {
          "type": "string",
          "description": "Optional. Output only. Violation Id of the org-policy violation due to which the resource violation is caused. Empty for org-policy violations.",
          "readOnly": true
        },
        "parentProjectNumber": {
          "type": "string",
          "description": "Optional. Output only. Parent project number where resource is present. Empty for org-policy violations.",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "readOnly": true,
          "type": "string"
        },
        "acknowledged": {
          "type": "boolean",
          "description": "A boolean that indicates if the violation is acknowledged"
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "readOnly": true,
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediation"
        },
        "resourceType": {
          "type": "string",
          "description": "Optional. Output only. Type of the resource like compute.googleapis.com/Disk, etc. Empty for org-policy violations.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last time when the Violation record was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "readOnly": true
        },
        "exceptionContexts": {
          "description": "Output only. List of all the exception detail added for the violation.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1ViolationExceptionContext"
          },
          "type": "array"
        },
        "state": {
          "description": "Output only. State of the violation",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ]
        },
        "acknowledgementTime": {
          "description": "Optional. Timestamp when this violation was acknowledged first. Check exception_contexts to find the last time the violation was acknowledged when there are more than one violations. This field will be absent when acknowledged field is marked as false.",
          "format": "google-datetime",
          "type": "string"
        },
        "violationType": {
          "description": "Output only. Type of the violation",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Org Policy Violation.",
            "Resource Violation."
          ],
          "enum": [
            "VIOLATION_TYPE_UNSPECIFIED",
            "ORG_POLICY",
            "RESOURCE"
          ]
        },
        "exceptionAuditLogLink": {
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}",
          "readOnly": true,
          "type": "string"
        },
        "orgPolicyConstraint": {
          "description": "Output only. Immutable. The org-policy-constraint that was incorrectly changed, which resulted in this violation.",
          "readOnly": true,
          "deprecated": true,
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Optional. Output only. Name of the resource like //storage.googleapis.com/myprojectxyz-testbucket. Empty for org-policy violations.",
          "readOnly": true
        },
        "nonCompliantOrgPolicy": {
          "type": "string",
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata": {
      "id": "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the workload."
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        },
        "complianceRegime": {
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
[...]
