{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloud Audit Manager",
  "baseUrl": "https://auditmanager.googleapis.com/",
  "ownerName": "Google",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://auditmanager.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://auditmanager.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://auditmanager.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Audit Manager API",
  "discoveryVersion": "v1",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/assured-workloads/docs/audit-manager",
  "name": "auditmanager",
  "description": "The Audit Manager API allows customers to manage compliance audits.",
  "kind": "discovery#restDescription",
  "rootUrl": "https://auditmanager.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-auditmanager": {
          "description": "See, edit, configure, and delete your Google Cloud Auditmanager data and see the email address for your Google Account"
        }
      }
    }
  },
  "version": "v1",
  "id": "auditmanager:v1",
  "protocol": "rest",
  "basePath": "",
  "version_module": true,
  "revision": "20260908",
  "schemas": {
    "ControlFamily": {
      "type": "object",
      "description": "Regulatory family of the control.",
      "properties": {
        "displayName": {
          "description": "Display name of the regulatory control family.",
          "type": "string"
        },
        "familyId": {
          "description": "ID of the regulatory control family. To find the list of supported control families, use the ListControls method and review the `control_family` field in the response.",
          "type": "string"
        }
      },
      "id": "ControlFamily"
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuditScopeReport": {
      "type": "object",
      "properties": {
        "scopeReportContents": {
          "format": "byte",
          "type": "string",
          "description": "Audit scope report content in byte format."
        },
        "name": {
          "description": "Identifier. Name for the audit scope report, in one of the following formats: * `projects/{project}/locations/{location}/auditScopeReports/{audit_scope_report}` * `folders/{folder}/locations/{location}/auditScopeReports/{audit_scope_report}` * `organizations/{organization}/locations/{location}/auditScopeReports/{audit_scope_report}`",
          "type": "string"
        }
      },
      "id": "AuditScopeReport",
      "description": "Audit scope report."
    },
    "ListResourceEnrollmentStatusesResponse": {
      "type": "object",
      "id": "ListResourceEnrollmentStatusesResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages."
        },
        "resourceEnrollmentStatuses": {
          "type": "array",
          "items": {
            "$ref": "ResourceEnrollmentStatus"
          },
          "description": "Resources with their enrollment status."
        }
      },
      "description": "Response message for ListResourceEnrollmentStatuses."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "GenerateAuditScopeReportRequest": {
      "description": "Request message for GenerateAuditScopeReport.",
      "id": "GenerateAuditScopeReportRequest",
      "properties": {
        "validateOnly": {
          "description": "Optional. If `true`, only validates the request and does not generate the audit scope report. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
          "type": "boolean"
        },
        "reportFormat": {
          "type": "string",
          "enum": [
            "AUDIT_SCOPE_REPORT_FORMAT_UNSPECIFIED",
            "AUDIT_SCOPE_REPORT_FORMAT_ODF"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Open Document format."
          ],
          "description": "Required. Format for the audit scope report."
        },
        "complianceFramework": {
          "type": "string",
          "description": "Required. Framework (set of controls) that the audit scope report is generated against. For example, `NIST_800_53`."
        },
        "complianceStandard": {
          "description": "Optional. Deprecated. The standard (industry or regulatory requirements) that the audit scope report is run against. Use the `compliance_framework` field instead.",
          "type": "string",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ResourceEnrollmentStatus": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. Display name for the organization, folder, or project.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`",
          "type": "string"
        },
        "enrollmentState": {
          "description": "Output only. Enrollment state of the organization, folder, or project.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The resource isn't enrolled.",
            "The resource isn't enrolled but the parent is enrolled.",
            "The resource is enrolled."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_ENROLLMENT_STATE_UNSPECIFIED",
            "NOT_ENROLLED",
            "INHERITED",
            "ENROLLED"
          ],
          "readOnly": true
        },
        "enrollment": {
          "readOnly": true,
          "$ref": "Enrollment",
          "description": "Output only. Enrolled destination details for the organization, folder, or project."
        },
        "enrolled": {
          "deprecated": true,
          "description": "Output only. Deprecated. Whether the organization, folder, or project is enrolled. Use `enrollment_state` instead.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "An organization, folder, or project with its enrollment status.",
      "id": "ResourceEnrollmentStatus"
    },
    "GenerateAuditReportRequest": {
      "id": "GenerateAuditReportRequest",
      "type": "object",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If `true`, only validates the request and does not generate the audit report. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without triggering expensive Long-Running Operations (LROs) or consuming resource quotas."
        },
        "gcsUri": {
          "description": "URL for the Cloud Storage bucket where the report and evidence is uploaded. You must select a bucket that was provided during the enrollment process.",
          "type": "string"
        },
        "reportFormat": {
          "description": "Required. Format for the audit report.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Open Document format."
          ],
          "type": "string",
          "enum": [
            "AUDIT_REPORT_FORMAT_UNSPECIFIED",
            "AUDIT_REPORT_FORMAT_ODF"
          ]
        },
        "complianceFramework": {
          "type": "string",
          "description": "Required. The framework that's used for the audit report. For example, `NIST_800_53`."
        },
        "complianceStandard": {
          "description": "Optional. Deprecated. Compliance standard for the audit report. Use the `compliance_framework` field instead.",
          "type": "string",
          "deprecated": true
        }
      },
      "description": "Request message for GenerateAuditReport."
    },
    "DestinationDetails": {
      "id": "DestinationDetails",
      "properties": {
        "gcsBucketUri": {
          "type": "string",
          "description": "URI for the Cloud Storage bucket, in the format `gs://{bucket_name}`."
        }
      },
      "description": "Cloud Storage bucket where the audit report is uploaded to.",
      "type": "object"
    },
    "EligibleDestination": {
      "id": "EligibleDestination",
      "type": "object",
      "properties": {
        "eligibleGcsBucket": {
          "type": "string",
          "description": "The location of the Cloud Storage bucket where you want to upload the audit report and evidence during the GenerateAuditReport API call."
        }
      },
      "description": "Details about the bucket where you want to upload the audit report."
    },
    "Control": {
      "properties": {
        "customerResponsibilityImplementation": {
          "description": "Output only. A description of how you can implement your responsibility for this control.",
          "type": "string",
          "readOnly": true
        },
        "family": {
          "readOnly": true,
          "description": "Output only. Category that the control belongs to.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Access control.",
            "Awareness and training.",
            "Audit and accountability.",
            "Certification, accreditation and security assessments.",
            "Configuration management and change control.",
            "Contingency planning and disaster recovery.",
            "Identification and authentication.",
            "Incident response.",
            "Maintenance.",
            "Media protection.",
            "Physical and environmental protection.",
            "Security planning.",
            "Personnel security.",
            "Risk assessment.",
            "System services and acquisition.",
            "System and communications protection.",
            "System and information integrity.",
            "Supply chain risk management."
          ],
          "type": "string",
          "enum": [
            "FAMILY_UNSPECIFIED",
            "AC",
            "AT",
            "AU",
            "CA",
            "CM",
            "CP",
            "IA",
            "IR",
            "MA",
            "MP",
            "PE",
            "PL",
            "PS",
            "RA",
            "SA",
            "SC",
            "SI",
            "SR"
          ]
        },
        "controlFamily": {
          "readOnly": true,
          "$ref": "ControlFamily",
          "description": "Output only. Regulatory family of the control."
        },
        "googleResponsibilityImplementation": {
          "description": "Output only. A description of how Google implements its responsibility for this control.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Control identifier that's used to fetch the findings. The identifier is the same as the control report name."
        },
        "googleResponsibilityDescription": {
          "description": "Output only. A description of Google's responsibility for this control.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name of the control.",
          "readOnly": true
        },
        "responsibilityType": {
          "description": "Output only. Who is responsible for implementing this control. Set to one of the following values: `GOOGLE`, `CUSTOMER`, or `SHARED`.",
          "type": "string",
          "readOnly": true
        },
        "customerResponsibilityDescription": {
          "description": "Output only. A description of your responsibility for this control.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the control."
        }
      },
      "description": "A control.",
      "type": "object",
      "id": "Control"
    },
    "ReportGenerationProgress": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_NOT_STARTED",
            "OPERATION_STATE_EVALUATION_IN_PROGRESS",
            "OPERATION_STATE_EVALUATION_DONE",
            "OPERATION_STATE_EVIDENCE_REPORT_GENERATION_IN_PROGRESS",
            "OPERATION_STATE_EVIDENCE_REPORT_GENERATION_DONE",
            "OPERATION_STATE_EVIDENCE_UPLOAD_IN_PROGRESS",
            "OPERATION_STATE_DONE",
            "OPERATION_STATE_FAILED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Audit generation process hasn't started.",
            "Evaluation process is in progress.",
            "Evaluation process is completed.",
            "Report generation process is in progress.",
            "Report generation process is completed.",
            "The audit report and evidence are being uploaded to your bucket.",
            "The audit report and evidence are uploaded to your bucket.",
            "Audit report generation process failed."
          ],
          "description": "Output only. Current state of execution for report generation.",
          "readOnly": true
        },
        "reportGenerationPercentComplete": {
          "type": "number",
          "description": "Report generation progress, defined in terms of percentage complete. Until evaluation is complete, this value is always `0`.",
          "format": "double"
        },
        "failureReason": {
          "description": "Output only. Reason for failure during the audit report generation process. This field is set only if the `OperationState` attribute is `OPERATION_STATE_FAILED`.",
          "type": "string",
          "readOnly": true
        },
        "evaluationPercentComplete": {
          "description": "Progress of the evaluation process. The progress is defined in terms of percentage complete.",
          "format": "double",
          "type": "number"
        },
        "auditReport": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the audit report."
        },
        "destinationGcsBucket": {
          "description": "Output only. Cloud Storage bucket where the audit report is uploaded to after the evaluation process is completed.",
          "type": "string",
          "readOnly": true
        },
        "reportUploadingPercentComplete": {
          "description": "Report uploading progress, defined in terms of percentage complete. Until evaluation and report generation are complete, this value is always `0`.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Details about the current status of the report-generation process.",
      "id": "ReportGenerationProgress"
    },
    "ListControlsResponse": {
      "id": "ListControlsResponse",
      "properties": {
        "controls": {
          "items": {
            "$ref": "Control"
          },
          "readOnly": true,
          "description": "Output only. Controls for a given regulatory standard.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Response message for ListControls."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "EnrollResourceRequest": {
      "id": "EnrollResourceRequest",
      "description": "Request message for EnrollResource.",
      "properties": {
        "destinations": {
          "description": "Required. Cloud Storage buckets that you can upload your audit reports to during the audit process. When you enroll an organization or folder, you can choose a Cloud Storage bucket from any project in the organization or folder. If you run an audit at the project level using the service agent at the organization or folder level, all the buckets that are associated with the service agent are available.",
          "type": "array",
          "items": {
            "$ref": "EligibleDestination"
          }
        },
        "validateOnly": {
          "description": "Optional. If `true`, only validates the request and does not enroll the resource. This executes standard request validation (such as schema, IAM, and destination checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ScheduleConfig": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Date and time when the first audit run is triggered. Subsequent runs are based on this time and the chosen frequency."
        },
        "frequency": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The audit runs every day.",
            "The audit runs weekly on the same day of the week as `start_time`.",
            "The audit runs monthly on the same day of the month as `start_time`.",
            "The audit runs quarterly (every 3 months) on the same day of the month as `start_time`.",
            "The audit runs annually on the same month and day as `start_time`."
          ],
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "QUARTERLY",
            "ANNUALLY"
          ],
          "description": "Required. Frequency of audit runs."
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Time zone for the audit schedule in IANA format (for example, `America/New_York`). The time zone is used to interpret the `start_time` and the `end_time`, and to calculate subsequent run dates. If not specified, the time zone default is UTC."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Date that the schedule stops. If not specified, the schedule runs indefinitely."
        }
      },
      "description": "Timing and frequency parameters for recurring audit runs.",
      "id": "ScheduleConfig",
      "type": "object"
    },
    "ControlDetails": {
      "id": "ControlDetails",
      "properties": {
        "controlReportSummary": {
          "$ref": "ReportSummary",
          "description": "A control report summary that provides a high-level overview of the compliance controls and the assessment status."
        },
        "complianceState": {
          "type": "string",
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "VIOLATION",
            "MANUAL_REVIEW_NEEDED",
            "ERROR",
            "AUDIT_NOT_SUPPORTED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The resource is compliant.",
            "The resource isn't compliant.",
            "You must complete a manual review.",
            "An error was encountered during the evaluation or evidence gathering process.",
            "The resource can't be audited."
          ],
          "readOnly": true,
          "description": "Output only. Overall status of the findings for the control."
        },
        "control": {
          "$ref": "Control",
          "description": "Control that the findings are being reported for."
        }
      },
      "description": "Evaluation details for a control.",
      "type": "object"
    },
    "Enrollment": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Name of the enrollment, in one of the following formats: * `projects/{project}/locations/{location}/enrollments/{enrollment}` * `folders/{folder}/locations/{location}/enrollments/{enrollment}` * `organizations/{organization}/locations/{location}/enrollments/{enrollment}`"
        },
        "destinationDetails": {
          "items": {
            "$ref": "DestinationDetails"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Cloud Storage buckets where you want to upload the audit reports."
        }
      },
      "id": "Enrollment",
      "description": "Organization, folder, or project to enroll for audit reports."
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Metadata for the long-running operation.",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human-readable status of the operation, if any."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time that the operation finished running.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time that the operation was created."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether you requested that the operation be cancelled. Operations that were cancelled successfully have an Operation.error value with a status code Code.CANCELLED."
        },
        "verb": {
          "type": "string",
          "description": "Output only. The name of the verb that was executed by the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. The API version used to start the operation. For example, `v1`.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. A server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListAuditReportsResponse": {
      "type": "object",
      "id": "ListAuditReportsResponse",
      "description": "Response message for ListAuditReports.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "auditReports": {
          "description": "Output only. Audit reports.",
          "readOnly": true,
          "items": {
            "$ref": "AuditReport"
          },
          "type": "array"
        }
      }
    },
    "ListAuditSchedulesResponse": {
      "description": "Response message for ListAuditSchedules.",
      "properties": {
        "unreachable": {
          "description": "Locations that can't be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that you can send as the `page_token` in a subsequent request to retrieve the next page of results. If this field is empty, there are no subsequent pages."
        },
        "auditSchedules": {
          "description": "List of audit schedules.",
          "items": {
            "$ref": "AuditSchedule"
          },
          "type": "array"
        }
      },
      "id": "ListAuditSchedulesResponse",
      "type": "object"
    },
    "AuditSchedule": {
      "description": "An audit schedule, in one of the following formats: * `projects/{project}/locations/{location}/auditSchedules/{audit_schedule}` * `folders/{folder}/locations/{location}/auditSchedules/{audit_schedule}`",
      "id": "AuditSchedule",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the schedule was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "gcsUri": {
          "description": "Required. Cloud Storage bucket where Audit Manager can upload the audit report and evidence. The format is `gs://{bucket_name}`.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Schedule is active and will trigger runs.",
            "Schedule is paused and will not trigger runs.",
            "Schedule end time has passed.",
            "Schedule setup failed during creation or update.",
            "Schedule is in an error state due to persistent failure to trigger an audit. Manual intervention is required.",
            "Schedule has been marked for deletion by the user."
          ],
          "type": "string",
          "enum": [
            "SCHEDULE_STATE_UNSPECIFIED",
            "SCHEDULE_STATE_ACTIVE",
            "SCHEDULE_STATE_PAUSED",
            "SCHEDULE_STATE_COMPLETED",
            "SCHEDULE_STATE_FAILED_SETUP",
            "SCHEDULE_STATE_ERROR",
            "SCHEDULE_STATE_DELETED"
          ],
          "description": "Optional. State of the audit schedule. While most states are managed by the system, you can use UpdateAuditSchedule to start, pause, or delete the schedule."
        },
        "complianceFramework": {
          "type": "string",
          "description": "Required. Framework (set of controls) that the audit scope report is generated against. For example, `NIST_800_53`."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the schedule was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "reportFormat": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Open Document Format (ODF)."
          ],
          "type": "string",
          "enum": [
            "AUDIT_REPORT_FORMAT_UNSPECIFIED",
            "AUDIT_REPORT_FORMAT_ODF"
          ],
          "description": "Required. Format for the audit report."
        },
        "errorMessage": {
          "description": "Output only. Describes the error if the schedule is in an error state.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. Display name for the audit schedule.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Unique identifier for the audit schedule. Format: projects/{project}/locations/{location}/auditSchedules/{audit_schedule} folders/{folder}/locations/{location}/auditSchedules/{audit_schedule} organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}"
        },
        "nextRunTime": {
          "type": "string",
          "description": "Output only. Calculated timestamp for the next scheduled run.",
          "format": "google-datetime",
          "readOnly": true
        },
        "scheduleConfig": {
          "description": "Required. Configuration that defines when and how often audit runs are automatically triggered for this schedule.",
          "$ref": "ScheduleConfig"
        },
        "lastTriggerTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the audit run was last triggered.",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "AuditReport": {
      "id": "AuditReport",
      "description": "An audit report.",
      "type": "object",
      "properties": {
        "scopeId": {
          "readOnly": true,
          "description": "Output only. Project number, folder ID, or organization ID that the audit report was generated for.",
          "type": "string"
        },
        "reportSummary": {
          "$ref": "ReportSummary",
          "readOnly": true,
          "description": "Output only. Report summary that includes information about compliance and violation counts."
        },
        "complianceStandard": {
          "description": "Output only. Deprecated. Compliance standard to be audited against. Use the `compliance_framework` field instead.",
          "readOnly": true,
          "type": "string",
          "deprecated": true
        },
        "scope": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization, folder, or project that the report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`"
        },
        "destinationDetails": {
          "readOnly": true,
          "$ref": "DestinationDetails",
          "description": "Output only. Cloud Storage bucket where the audit report is uploaded to."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Creation time of the audit report."
        },
        "reportGenerationState": {
          "type": "string",
          "enum": [
            "REPORT_GENERATION_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED",
            "FAILED",
            "SUMMARY_UNKNOWN"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The process is in progress. The operation can have any state except for `OPERATION_STATE_DONE` or `OPERATION_STATE_FAILED`.",
            "The process is completed. The operation state is `OPERATION_STATE_DONE`.",
            "The process has failed. The operation state is `OPERATION_STATE_FAILED`.",
            "The process completed, but the report summary's status is unknown. This state isn't used for new reports."
          ],
          "description": "Output only. State of audit report generation.",
          "readOnly": true
        },
        "controlDetails": {
          "description": "Output only. Overall status of the controls.",
          "items": {
            "$ref": "ControlDetails"
          },
          "type": "array",
          "readOnly": true
        },
        "complianceFramework": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Compliance framework to use for the audit report. For example, `CIS_GCP_FOUNDATIONS_V1_2_0`."
        },
        "operationId": {
          "description": "Output only. Client operation ID for the audit report.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ReportSummary": {
      "properties": {
        "violationCount": {
          "description": "Number of checks with violations.",
          "format": "int32",
          "type": "integer"
        },
        "totalCount": {
          "type": "integer",
          "description": "Total number of evaluated checks.",
          "format": "int32"
        },
        "errorCount": {
          "description": "Number of checks that can't be performed due to errors.",
          "type": "integer",
          "format": "int32"
        },
        "compliantCount": {
          "format": "int32",
          "description": "Number of compliant checks.",
          "type": "integer"
        },
        "manualReviewNeededCount": {
          "type": "integer",
          "description": "Number of checks that require a manual review.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ReportSummary",
      "description": "Additional information about the number of checks that were made during an audit operation."
    },
    "Status": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    }
  },
  "mtlsRootUrl": "https://auditmanager.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "standards": {
              "resources": {
                "controls": {
                  "methods": {
                    "list": {
                      "description": "Lists the controls that you must implement to become compliant to a regulatory standard.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/standards/{standardsId}/controls",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous call, to retrieve the next page of results."
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. Standard to list controls for, in one of the following formats: * `projects/{project}/locations/{location}/standards/{standard}` * `folders/{folder}/locations/{location}/standards/{standard}` * `organizations/{organization}/locations/{location}/standards/{standard}`",
                          "type": "string",
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/[^/]+/standards/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-auditmanager",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "auditmanager.folders.locations.standards.controls.list",
                      "path": "v1/{+parent}/controls",
                      "response": {
                        "$ref": "ListControlsResponse"
                      }
                    }
                  }
                }
              }
            },
            "auditSchedules": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "id": "auditmanager.folders.locations.auditSchedules.get",
                  "httpMethod": "GET",
                  "description": "Gets details of a single audit schedule.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the audit schedule to retrieve, in one of the following formats: * `projects/{project}/locations/{location}/auditSchedules/{audit_schedule}` * `folders/{folder}/locations/{location}/auditSchedules/{audit_schedule}` * `organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}`",
                      "pattern": "^folders/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "description": "Updates an existing audit schedule.",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. Unique identifier for the audit schedule. Format: projects/{project}/locations/{location}/auditSchedules/{audit_schedule} folders/{folder}/locations/{location}/auditSchedules/{audit_schedule} organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}",
                      "pattern": "^folders/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If `true`, only validates the request and does not update the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
                      "location": "query"
                    },
                    "updateMask": {
                      "description": "Optional. List of fields to update.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "auditmanager.folders.locations.auditSchedules.patch",
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Creates a new audit schedule in a given project and location.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Project or folder that this audit schedule is for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}`",
                      "location": "path",
                      "type": "string"
                    },
                    "auditScheduleId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID to use for the audit schedule, which becomes the final component of the audit schedule's resource name."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If `true`, only validates the request and does not create the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas."
                    }
                  },
                  "path": "v1/{+parent}/auditSchedules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "auditmanager.folders.locations.auditSchedules.create",
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditSchedules"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent for the audit schedule, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists audit schedules in a given project and location.",
                  "httpMethod": "GET",
                  "id": "auditmanager.folders.locations.auditSchedules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditSchedules",
                  "path": "v1/{+parent}/auditSchedules",
                  "response": {
                    "$ref": "ListAuditSchedulesResponse"
                  }
                }
              }
            },
            "operationDetails": {
              "methods": {
                "get": {
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^folders/[^/]+/locations/[^/]+/operationDetails/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/operationDetails/{operationDetailsId}",
                  "httpMethod": "GET",
                  "id": "auditmanager.folders.locations.operationDetails.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "operationIds": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^folders/[^/]+/locations/[^/]+/operationIds/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "auditmanager.folders.locations.operationIds.get",
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/operationIds/{operationIdsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "auditScopeReports": {
              "methods": {
                "generate": {
                  "parameterOrder": [
                    "scope"
                  ],
                  "parameters": {
                    "scope": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "description": "Required. Project or folder that the audit scope report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditScopeReports:generate",
                  "httpMethod": "POST",
                  "id": "auditmanager.folders.locations.auditScopeReports.generate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+scope}/auditScopeReports:generate",
                  "description": "Generates an audit scope report for the given standard. The report includes the following: * The technical attributes and constraints that Audit Manager uses to verify your compliance with a framework. * A list of Google Cloud services and resources that are within the scope of the framework.",
                  "response": {
                    "$ref": "AuditScopeReport"
                  },
                  "request": {
                    "$ref": "GenerateAuditScopeReportRequest"
                  }
                }
              }
            },
            "auditReports": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/auditReports/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`"
                    }
                  },
                  "id": "auditmanager.folders.locations.auditReports.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "AuditReport"
                  },
                  "description": "Gets the full metadata and findings for an audit report.",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditReports/{auditReportsId}",
                  "path": "v1/{+name}"
                },
                "generate": {
                  "id": "auditmanager.folders.locations.auditReports.generate",
                  "parameters": {
                    "scope": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "description": "Required. Organization, folder, or project that the audit applies to, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditReports:generate",
                  "httpMethod": "POST",
                  "path": "v1/{+scope}/auditReports:generate",
                  "request": {
                    "$ref": "GenerateAuditReportRequest"
                  },
                  "description": "Registers audit report generation requests. This method returns the operation identifier that you can use to track the report generation progress.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "scope"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListAuditReportsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent organization, folder, or project to list reports for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results."
                    }
                  },
                  "path": "v1/{+parent}/auditReports",
                  "httpMethod": "GET",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/auditReports",
                  "description": "Lists the audit reports for the organization, folder, or project that you specify as the parent scope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "auditmanager.folders.locations.auditReports.list",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "resourceEnrollmentStatuses": {
              "methods": {
                "list": {
                  "description": "Lists all the folders and projects in an organization or folder, along with their enrollments.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListResourceEnrollmentStatusesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent organization or folder to list enrollment statuses for, in one of the following formats: * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "path": "v1/{+parent}/resourceEnrollmentStatuses",
                  "id": "auditmanager.folders.locations.resourceEnrollmentStatuses.list",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/resourceEnrollmentStatuses",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/resourceEnrollmentStatuses/[^/]+$",
                      "description": "Required. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ResourceEnrollmentStatus"
                  },
                  "id": "auditmanager.folders.locations.resourceEnrollmentStatuses.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/resourceEnrollmentStatuses/{resourceEnrollmentStatusesId}",
                  "description": "Gets a resource and its enrollment status.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "enrollResource": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-auditmanager",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "scope"
              ],
              "description": "Adds your project, folder, or organization to Audit Manager. This method creates the Audit Manager service agent in your workload and grants required permissions to the service agent. If you make this request on a workload that's already enrolled, then this method overrides the existing set of destinations.",
              "response": {
                "$ref": "Enrollment"
              },
              "request": {
                "$ref": "EnrollResourceRequest"
              },
              "id": "auditmanager.folders.locations.enrollResource",
              "path": "v1/{+scope}:enrollResource",
              "flatPath": "v1/folders/{foldersId}/locations/{locationsId}:enrollResource",
              "httpMethod": "POST",
              "parameters": {
                "scope": {
                  "required": true,
                  "description": "Required. Organization, folder, or project to enroll in Audit Manager, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                  "type": "string",
                  "pattern": "^folders/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "auditReports": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditReports",
                  "description": "Lists the audit reports for the organization, folder, or project that you specify as the parent scope.",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent organization, folder, or project to list reports for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "format": "int32"
                    }
                  },
                  "id": "auditmanager.projects.locations.auditReports.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListAuditReportsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/auditReports"
                },
                "get": {
                  "id": "auditmanager.projects.locations.auditReports.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "AuditReport"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/auditReports/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the audit report, in one of the following formats: * `projects/{project}/locations/{location}/auditReports/{audit_report}` * `folders/{folder}/locations/{location}/auditReports/{audit_report}` * `organizations/{organization}/locations/{location}/auditReports/{audit_report}`"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditReports/{auditReportsId}",
                  "description": "Gets the full metadata and findings for an audit report."
                },
                "generate": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Registers audit report generation requests. This method returns the operation identifier that you can use to track the report generation progress.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "scope"
                  ],
                  "id": "auditmanager.projects.locations.auditReports.generate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditReports:generate",
                  "request": {
                    "$ref": "GenerateAuditReportRequest"
                  },
                  "path": "v1/{+scope}/auditReports:generate",
                  "parameters": {
                    "scope": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Organization, folder, or project that the audit applies to, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`"
                    }
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "resourceEnrollmentStatuses": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/resourceEnrollmentStatuses/{resourceEnrollmentStatusesId}",
                  "description": "Gets a resource and its enrollment status.",
                  "response": {
                    "$ref": "ResourceEnrollmentStatus"
                  },
                  "id": "auditmanager.projects.locations.resourceEnrollmentStatuses.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/resourceEnrollmentStatuses/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the resource enrollment status, in one of the following formats: * `folders/{folder}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `projects/{project}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}` * `organizations/{organization}/locations/{location}/resourceEnrollmentStatuses/{resource_enrollment_status}`"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "auditSchedules": {
              "methods": {
                "create": {
                  "description": "Creates a new audit schedule in a given project and location.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Project or folder that this audit schedule is for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "auditScheduleId": {
                      "description": "Required. ID to use for the audit schedule, which becomes the final component of the audit schedule's resource name.",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If `true`, only validates the request and does not create the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditSchedules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "path": "v1/{+parent}/auditSchedules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "id": "auditmanager.projects.locations.auditSchedules.create"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous call, to retrieve the next page of results.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent for the audit schedule, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListAuditSchedulesResponse"
                  },
                  "description": "Lists audit schedules in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/auditSchedules",
                  "id": "auditmanager.projects.locations.auditSchedules.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditSchedules"
                },
                "patch": {
                  "request": {
                    "$ref": "AuditSchedule"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "description": "Updates an existing audit schedule.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. List of fields to update.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/auditSchedules/[^/]+$",
                      "description": "Identifier. Unique identifier for the audit schedule. Format: projects/{project}/locations/{location}/auditSchedules/{audit_schedule} folders/{folder}/locations/{location}/auditSchedules/{audit_schedule} organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If `true`, only validates the request and does not update the audit schedule. This executes standard request validation (such as schema, framework existence, scope, and IAM checks) and skips the apply phase. Use this field for the following purposes: * **Infrastructure as Code (IaC)**: Allow tools like Terraform to run dry-run mutations (e.g., `terraform plan`) without creating real resources or incurring costs. * **User Interface Validation**: Enable real-time form and permission validation in custom UIs before submitting requests. * **CI/CD & Automation**: Test your scripts, permissions, and parameters safely without consuming resource quotas."
                    }
                  },
                  "id": "auditmanager.projects.locations.auditSchedules.patch",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditSchedules/{auditSchedulesId}",
                  "id": "auditmanager.projects.locations.auditSchedules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the audit schedule to retrieve, in one of the following formats: * `projects/{project}/locations/{location}/auditSchedules/{audit_schedule}` * `folders/{folder}/locations/{location}/auditSchedules/{audit_schedule}` * `organizations/{organization}/locations/{location}/auditSchedules/{audit_schedule}`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/auditSchedules/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "AuditSchedule"
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single audit schedule.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "auditScopeReports": {
              "methods": {
                "generate": {
                  "parameterOrder": [
                    "scope"
                  ],
                  "id": "auditmanager.projects.locations.auditScopeReports.generate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "AuditScopeReport"
                  },
                  "path": "v1/{+scope}/auditScopeReports:generate",
                  "request": {
                    "$ref": "GenerateAuditScopeReportRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/auditScopeReports:generate",
                  "description": "Generates an audit scope report for the given standard. The report includes the following: * The technical attributes and constraints that Audit Manager uses to verify your compliance with a framework. * A list of Google Cloud services and resources that are within the scope of the framework.",
                  "httpMethod": "POST",
                  "parameters": {
                    "scope": {
                      "description": "Required. Project or folder that the audit scope report is generated for, in one of the following formats: * `projects/{project}/locations/{location}` * `folders/{folder}/locations/{location}` * `organizations/{organization}/locations/{location}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "auditmanager.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "auditmanager.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "auditmanager.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}"
                },
                "list": {
                  "id": "auditmanager.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size."
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET"
                }
              }
            },
            "operationDetails": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "auditmanager.projects.locations.operationDetails.get",
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operationDetails/{operationDetailsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operationDetails/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "operationIds": {
              "methods": {
                "get": {
                  "description": "Gets details about the long-running operation to generate audit reports.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-auditmanager",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "auditmanager.projects.locations.operationIds.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operationIds/{operationIdsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operationIds/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "standards": {
              "resources": {
                "controls": {
                  "methods": {
                    "list": {
                      "id": "auditmanager.projects.locations.standards.controls.list",
                      "description": "Lists the controls that you must implement to become compliant to a regulatory standard.",
                      "response": {
                        "$ref": "ListControlsResponse"
                      },
                      "path": "v1/{+parent}/controls",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-auditmanager",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/standards/{standardsId}/controls",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Maximum number of items to return in a single page. The service might return fewer items than this value. If unspecified, the service picks an appropriate default. The maximum value is 100; values above 100 are reduced to 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
[...]
