{
  "canonicalName": "Authorized Buyers Marketplace",
  "version": "v1",
  "revision": "20260901",
  "kind": "discovery#restDescription",
  "name": "authorizedbuyersmarketplace",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "id": "authorizedbuyersmarketplace:v1",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "resources": {
    "buyers": {
      "resources": {
        "publisherProfiles": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists publisher profiles. The returned publisher profiles aren't in any defined order. The order of the results might change. A new publisher profile can appear in any place in the list of returned results.",
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. Parent that owns the collection of publisher profiles Format: `buyers/{buyerId}`",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token as returned from a previous ListPublisherProfilesResponse.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering] (https://developers.google.com/authorized-buyers/apis/guides/list-filters) syntax."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/publisherProfiles",
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.list",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/publisherProfiles",
              "httpMethod": "GET"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/publisherProfiles/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the publisher profile. Format: `buyers/{buyerId}/publisherProfiles/{publisherProfileId}`"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/publisherProfiles/{publisherProfilesId}",
              "description": "Gets the requested publisher profile by name.",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "PublisherProfile"
              }
            }
          }
        },
        "clients": {
          "resources": {
            "users": {
              "methods": {
                "activate": {
                  "request": {
                    "$ref": "ActivateClientUserRequest"
                  },
                  "path": "v1/{+name}:activate",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:activate",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.activate",
                  "httpMethod": "POST",
                  "description": "Activates an existing client user. The state of the client user will be updated from \"INACTIVE\" to \"ACTIVE\". This method has no effect if the client user is already in \"ACTIVE\" state. An error will be returned if the client user to activate is still in \"INVITED\" state.",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "path": "v1/{+parent}/users",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "description": "Creates a new client user in \"INVITED\" state. An email invitation will be sent to the new user, once accepted the user will become active."
                },
                "deactivate": {
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:deactivate",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.deactivate",
                  "path": "v1/{+name}:deactivate",
                  "parameters": {
                    "name": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "DeactivateClientUserRequest"
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "description": "Deactivates an existing client user. The state of the client user will be updated from \"ACTIVE\" to \"INACTIVE\". This method has no effect if the client user is already in \"INACTIVE\" state. An error will be returned if the client user to deactivate is still in \"INVITED\" state.",
                  "httpMethod": "POST"
                },
                "list": {
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.list",
                  "path": "v1/{+parent}/users",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the list method."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "description": "Required. The name of the client. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                      "format": "int32"
                    }
                  },
                  "description": "Lists all client users for a specified client.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "description": "Deletes an existing client user. The client user will lose access to the Authorized Buyers UI. Note that if a client user is deleted, the user's access to the UI can't be restored unless a new client user is created and activated.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.delete",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.get",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Retrieves an existing client user.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "description": "Gets a client with a given resource name.",
              "response": {
                "$ref": "Client"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.clients.get",
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`"
                }
              }
            },
            "create": {
              "path": "v1/{+parent}/clients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "pattern": "^buyers/[^/]+$"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.create",
              "flatPath": "v1/buyers/{buyersId}/clients",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Client"
              },
              "httpMethod": "POST",
              "description": "Creates a new client.",
              "request": {
                "$ref": "Client"
              }
            },
            "deactivate": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:deactivate",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate",
              "request": {
                "$ref": "DeactivateClientRequest"
              },
              "path": "v1/{+name}:deactivate",
              "response": {
                "$ref": "Client"
              },
              "httpMethod": "POST"
            },
            "patch": {
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Client"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "description": "Updates an existing client.",
              "id": "authorizedbuyersmarketplace.buyers.clients.patch",
              "response": {
                "$ref": "Client"
              },
              "parameters": {
                "name": {
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/clients/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListClientsResponse"
              },
              "description": "Lists all the clients for the current buyer.",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.clients.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size. If left blank, a default page size of 500 will be applied."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string using the [Filtering Syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported fields for filtering are: * partnerClientId Use this field to filter the clients by the partnerClientId. For example, if the partnerClientId of the client is \"1234\", the value of this field should be `partnerClientId = \"1234\"`, in order to get only the client whose partnerClientId is \"1234\" in the response."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the list method."
                }
              },
              "path": "v1/{+parent}/clients",
              "flatPath": "v1/buyers/{buyersId}/clients"
            },
            "activate": {
              "id": "authorizedbuyersmarketplace.buyers.clients.activate",
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state.",
              "request": {
                "$ref": "ActivateClientRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Client"
              },
              "path": "v1/{+name}:activate",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:activate"
            }
          }
        },
        "proposals": {
          "methods": {
            "list": {
              "description": "Lists proposals. A filter expression using [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) may be specified to filter the results.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "path": "v1/{+parent}/proposals",
              "parameters": {
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "description": "Required. Parent that owns the collection of proposals Format: `buyers/{accountId}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will put a size of 500.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from ListProposalsResponse."
                },
                "filter": {
                  "location": "query",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * displayName * dealType * updateTime * state",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.list",
              "flatPath": "v1/buyers/{buyersId}/proposals"
            },
            "accept": {
              "path": "v1/{+name}:accept",
              "httpMethod": "POST",
              "response": {
                "$ref": "Proposal"
              },
              "description": "Accepts the proposal at the given revision number. If the revision number in the request is behind the latest from the server, an error message will be returned. This call updates the Proposal.state from `BUYER_ACCEPTANCE_REQUESTED` to `FINALIZED`; it has no side effect if the Proposal.state is already `FINALIZED` and throws exception if the Proposal.state is not either `BUYER_ACCEPTANCE_REQUESTED` or `FINALIZED`. Accepting a proposal means the buyer understands and accepts the Proposal.terms_and_conditions proposed by the seller.",
              "request": {
                "$ref": "AcceptProposalRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:accept",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.accept",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "addNote": {
              "response": {
                "$ref": "Proposal"
              },
              "path": "v1/{+proposal}:addNote",
              "parameterOrder": [
                "proposal"
              ],
              "request": {
                "$ref": "AddNoteRequest"
              },
              "parameters": {
                "proposal": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`"
                }
              },
              "description": "Creates a note for this proposal and sends to the seller. This method is not supported for proposals with DealType set to 'PRIVATE_AUCTION'.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:addNote",
              "id": "authorizedbuyersmarketplace.buyers.proposals.addNote"
            },
            "patch": {
              "request": {
                "$ref": "Proposal"
              },
              "path": "v1/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}"
                },
                "updateMask": {
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is only allowed for buyer private data, all other fields are immutable."
            },
            "cancelNegotiation": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "parameterOrder": [
                "proposal"
              ],
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'.",
              "parameters": {
                "proposal": {
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation",
              "path": "v1/{+proposal}:cancelNegotiation",
              "httpMethod": "POST"
            },
            "sendRfp": {
              "parameterOrder": [
                "buyer"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.sendRfp",
              "flatPath": "v1/buyers/{buyersId}/proposals:sendRfp",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "parameters": {
                "buyer": {
                  "type": "string",
                  "description": "Required. The current buyer who is sending the RFP in the format: `buyers/{accountId}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+$"
                }
              },
              "description": "Sends a request for proposal (RFP) to a publisher to initiate the negotiation regarding certain inventory. In the RFP, buyers can specify the deal type, deal terms, start and end dates, targeting, and a message to the publisher. Once the RFP is sent, a proposal in `SELLER_REVIEW_REQUESTED` state will be created and returned in the response. The publisher may review your request and respond with detailed deals in the proposal.",
              "path": "v1/{+buyer}/proposals:sendRfp",
              "request": {
                "$ref": "SendRfpRequest"
              }
            },
            "get": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.get",
              "path": "v1/{+name}",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Gets a proposal using its resource name. The proposal is returned at the latest revision.",
              "response": {
                "$ref": "Proposal"
              }
            }
          },
          "resources": {
            "deals": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.get",
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets a deal given its name. The deal is returned at its head revision.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Deal"
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "Deal"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the given deal at the buyer known revision number. If the server revision has advanced since the passed-in proposal.proposal_revision an ABORTED error message will be returned. The revision number is incremented by the server whenever the proposal or its constituent deals are updated. Note: The revision number is kept at a proposal level. The buyer of the API is expected to keep track of the revision number after the last update operation and send it in as part of the next update request. This way, if there are further changes on the server (for example, seller making new updates), then the server can detect conflicts and reject the proposed changes.",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.patch",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "Deal"
                  },
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.list",
                  "path": "v1/{+parent}/deals",
                  "response": {
                    "$ref": "ListDealsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The page token as returned from ListDealsResponse.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "description": "Required. The name of the proposal containing the deals to retrieve. Format: buyers/{accountId}/proposals/{proposalId}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Lists all deals in a proposal. To retrieve only the finalized revision deals regardless if a deal is being renegotiated, see the FinalizedDeals resource."
                },
                "batchUpdate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals:batchUpdate",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the proposal containing the deals to batch update. Format: buyers/{accountId}/proposals/{proposalId}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateDealsRequest"
                  },
                  "response": {
                    "$ref": "BatchUpdateDealsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/deals:batchUpdate",
                  "description": "Batch updates multiple deals in the same proposal."
                }
              }
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.get",
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$"
                }
              },
              "description": "Gets a finalized deal given its name.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.list",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/finalizedDeals",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+$"
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token as returned from ListFinalizedDealsResponse."
                }
              },
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              }
            },
            "resume": {
              "request": {
                "$ref": "ResumeFinalizedDealRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:resume",
              "path": "v1/{+name}:resume",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$"
                }
              },
              "description": "Resumes serving of the given finalized deal. Calling this method for an running deal has no effect. If a deal is initially paused by the seller, calling this method will not resume serving of the deal until the seller also resumes the deal. This method only applies to programmatic guaranteed deals and preferred deals.",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.resume",
              "response": {
                "$ref": "FinalizedDeal"
              }
            },
            "addCreative": {
              "parameterOrder": [
                "deal"
              ],
              "request": {
                "$ref": "AddCreativeRequest"
              },
              "httpMethod": "POST",
              "description": "Add creative to be used in the bidding process for a finalized deal. For programmatic guaranteed deals, it's recommended that you associate at least one approved creative with the deal before calling SetReadyToServe, to help reduce the number of bid responses filtered because they don't contain approved creatives. Creatives successfully added to a deal can be found in the Realtime-bidding Creatives API creative.deal_ids. This method only applies to programmatic guaranteed deals. Maximum number of 1000 creatives can be added to a finalized deal.",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.addCreative",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:addCreative",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "path": "v1/{+deal}:addCreative",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "deal": {
                  "type": "string",
                  "description": "Required. Name of the finalized deal in the format of: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "pause": {
              "description": "Pauses serving of the given finalized deal. This call only pauses the serving status, and does not affect other fields of the finalized deal. Calling this method for an already paused deal has no effect. This method only applies to programmatic guaranteed deals and preferred deals.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "PauseFinalizedDealRequest"
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.pause",
              "path": "v1/{+name}:pause",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:pause",
              "httpMethod": "POST"
            },
            "setReadyToServe": {
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "path": "v1/{+deal}:setReadyToServe",
              "parameters": {
                "deal": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$"
                }
              },
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "deal"
              ],
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.setReadyToServe",
              "httpMethod": "POST",
              "response": {
                "$ref": "FinalizedDeal"
              }
            }
          }
        },
        "auctionPackages": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of auction package to get. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Gets an auction package given its name."
            },
            "unsubscribe": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Unsubscribe from the auction package for the specified buyer. Once unsubscribed, the bidder will no longer receive a call out for the auction package deal ID and the specified buyer.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`"
                }
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "UnsubscribeAuctionPackageRequest"
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:unsubscribe",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribe",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribe"
            },
            "subscribe": {
              "request": {
                "$ref": "SubscribeAuctionPackageRequest"
              },
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribe",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string"
                }
              },
              "description": "Subscribe to the auction package for the specified buyer. Once subscribed, the bidder will receive a call out for inventory matching the auction package targeting criteria with the auction package deal ID and the specified buyer.",
              "path": "v1/{+name}:subscribe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribe",
              "httpMethod": "POST",
              "response": {
                "$ref": "AuctionPackage"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "subscribeClients": {
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribeClients",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "request": {
                "$ref": "SubscribeClientsRequest"
              },
              "description": "Subscribe the specified clients of the buyer to the auction package. If a client in the list does not belong to the buyer, an error response will be returned, and all of the following clients in the list will not be subscribed. Subscribing an already subscribed client will have no effect.",
              "response": {
                "$ref": "AuctionPackage"
              },
              "parameters": {
                "auctionPackage": {
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+auctionPackage}:subscribeClients"
            },
            "unsubscribeClients": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Unsubscribe from the auction package for the specified clients of the buyer. Unsubscribing a client that is not subscribed will have no effect.",
              "response": {
                "$ref": "AuctionPackage"
              },
              "parameters": {
                "auctionPackage": {
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "auctionPackage"
              ],
              "request": {
                "$ref": "UnsubscribeClientsRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribeClients",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribeClients",
              "path": "v1/{+auctionPackage}:unsubscribeClients",
              "httpMethod": "POST"
            },
            "list": {
              "flatPath": "v1/buyers/{buyersId}/auctionPackages",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "List the auction packages. Buyers can use the URL path \"/v1/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "path": "v1/{+parent}/auctionPackages"
            }
          }
        }
      }
    },
    "bidders": {
      "resources": {
        "finalizedDeals": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/finalizedDeals",
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.list",
              "parameters": {
                "orderBy": {
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "type": "string",
                  "pattern": "^bidders/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "flatPath": "v1/bidders/{biddersId}/finalizedDeals",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "setReadyToServe": {
              "httpMethod": "POST",
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "parameterOrder": [
                "deal"
              ],
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "path": "v1/{+deal}:setReadyToServe",
              "response": {
                "$ref": "FinalizedDeal"
              },
              "flatPath": "v1/bidders/{biddersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "deal": {
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^bidders/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.setReadyToServe"
            }
          }
        },
        "auctionPackages": {
          "methods": {
            "list": {
              "description": "List the auction packages. Buyers can use the URL path \"/v1/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "path": "v1/{+parent}/auctionPackages",
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.bidders.auctionPackages.list",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "pattern": "^bidders/[^/]+$"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/auctionPackages"
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "schemas": {
    "SubscribeAuctionPackageRequest": {
      "description": "Request message for SubscribeAuctionPackage.",
      "type": "object",
      "properties": {},
      "id": "SubscribeAuctionPackageRequest"
    },
    "Contact": {
      "type": "object",
      "id": "Contact",
      "description": "Contains information on how a buyer or seller can be reached.",
      "properties": {
        "displayName": {
          "description": "The display_name of the contact.",
          "type": "string"
        },
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        }
      }
    },
    "AdSize": {
      "properties": {
        "width": {
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string",
          "format": "int64"
        },
        "height": {
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "description": "The type of the ad slot size.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ]
        }
      },
      "description": "Represents size of a single ad slot, or a creative.",
      "id": "AdSize",
      "type": "object"
    },
    "ListClientsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        },
        "clients": {
          "type": "array",
          "items": {
            "$ref": "Client"
          },
          "description": "The returned list of clients."
        }
      },
      "description": "Response message for the list method.",
      "id": "ListClientsResponse",
      "type": "object"
    },
    "RtbMetrics": {
      "properties": {
        "bids7Days": {
          "format": "int64",
          "type": "string",
          "description": "Bids in last 7 days."
        },
        "filteredBidRate7Days": {
          "type": "number",
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids).",
          "format": "double"
        },
        "adImpressions7Days": {
          "format": "int64",
          "description": "Ad impressions in last 7 days.",
          "type": "string"
        },
        "bidRate7Days": {
          "format": "double",
          "type": "number",
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests)."
        },
        "mustBidRateCurrentMonth": {
          "format": "double",
          "type": "number",
          "description": "Must bid rate for current month."
        },
        "bidRequests7Days": {
          "type": "string",
          "format": "int64",
          "description": "Bid requests in last 7 days."
        }
      },
      "id": "RtbMetrics",
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)",
      "type": "object"
    },
    "Deal": {
      "type": "object",
      "description": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals.",
      "id": "Deal",
      "properties": {
        "flightEndTime": {
          "type": "string",
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals.",
          "format": "google-datetime"
        },
        "proposalRevision": {
          "type": "string",
          "description": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "format": "int64",
          "readOnly": true
        },
        "buyerPermissionType": {
          "enum": [
            "BUYER_PERMISSION_TYPE_UNSPECIFIED",
            "NEGOTIATOR_ONLY",
            "BIDDER"
          ],
          "description": "Output only. The buyer permission type of the deal.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer permission type.",
            "Only the [Deal.negotiating_buyer] can transact on the deal.",
            "All buyers under the [Deal.negotiating_buyer]'s bidder can transact on the deal."
          ],
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the deal was last updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time of the deal creation.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dealType": {
          "description": "Output only. Type of deal.",
          "type": "string",
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "readOnly": true,
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ]
        },
        "description": {
          "description": "Output only. Free text description for the deal terms.",
          "type": "string",
          "readOnly": true
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal."
        },
        "mediaPlanner": {
          "readOnly": true,
          "$ref": "MediaPlanner",
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser)."
        },
        "deliveryControl": {
          "readOnly": true,
          "description": "Output only. Specifies the pacing set by the publisher.",
          "$ref": "DeliveryControl"
        },
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        },
        "privateAuctionTerms": {
          "description": "The terms for private auction deals.",
          "$ref": "PrivateAuctionTerms"
        },
        "sellerTimeZone": {
          "$ref": "TimeZone",
          "description": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing.",
          "readOnly": true
        },
        "estimatedGrossSpend": {
          "$ref": "Money",
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly."
        },
        "programmaticGuaranteedTerms": {
          "$ref": "ProgrammaticGuaranteedTerms",
          "description": "The terms for programmatic guaranteed deals."
        },
        "flightStartTime": {
          "format": "google-datetime",
          "description": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds.",
          "type": "string"
        },
        "creativeRequirements": {
          "$ref": "CreativeRequirements",
          "description": "Output only. Metadata about the creatives of this deal.",
          "readOnly": true
        },
        "targeting": {
          "description": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized.",
          "$ref": "MarketplaceTargeting"
        },
        "client": {
          "readOnly": true,
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "type": "string"
        },
        "buyer": {
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "billedBuyer": {
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "eligibleSeatIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        }
      }
    },
    "TechnologyTargeting": {
      "id": "TechnologyTargeting",
      "type": "object",
      "properties": {
        "operatingSystemTargeting": {
          "description": "Operating system related targeting information.",
          "$ref": "OperatingSystemTargeting"
        },
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "description": "Represents targeting about various types of technology."
    },
    "FirstPartyMobileApplicationTargeting": {
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "properties": {
        "targetedAppIds": {
          "description": "A list of application IDs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedAppIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of application IDs to be excluded.",
          "type": "array"
        }
      },
      "id": "FirstPartyMobileApplicationTargeting",
      "type": "object"
    },
    "TimeOfDay": {
      "properties": {
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      },
      "id": "TimeOfDay",
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "ProgrammaticGuaranteedTerms": {
      "description": "Pricing terms for Programmatic Guaranteed Deals.",
      "id": "ProgrammaticGuaranteedTerms",
      "properties": {
        "percentShareOfVoice": {
          "format": "int64",
          "type": "string",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100."
        },
        "impressionCap": {
          "format": "int64",
          "type": "string",
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached."
        },
        "guaranteedLooks": {
          "format": "int64",
          "type": "string",
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored."
        },
        "fixedPrice": {
          "$ref": "Price",
          "description": "Fixed price for the deal."
        },
        "minimumDailyLooks": {
          "type": "string",
          "format": "int64",
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks."
        },
        "reservationType": {
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideoTargeting": {
      "description": "Represents targeting information about video.",
      "type": "object",
      "id": "VideoTargeting",
      "properties": {
        "targetedPositionTypes": {
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          }
        },
        "excludedPositionTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          },
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ResumeFinalizedDealRequest": {
      "type": "object",
      "id": "ResumeFinalizedDealRequest",
      "properties": {},
      "description": "Request message for resuming a finalized deal."
    },
    "SetReadyToServeRequest": {
      "properties": {},
      "id": "SetReadyToServeRequest",
      "type": "object",
      "description": "Request message for setting ready to serve for a finalized deal."
    },
    "Note": {
      "type": "object",
      "properties": {
        "creatorRole": {
          "description": "Output only. The role who created the note.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "createTime": {
          "description": "Output only. When this note was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "note": {
          "description": "The text of the note. Maximum length is 1024 characters.",
          "type": "string"
        }
      },
      "id": "Note",
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers."
    },
    "UriTargeting": {
      "id": "UriTargeting",
      "properties": {
        "excludedUris": {
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be excluded.",
          "type": "array"
        },
        "targetedUris": {
          "description": "A list of URLs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "type": "object"
    },
    "AddCreativeRequest": {
      "type": "object",
      "properties": {
        "creative": {
          "type": "string",
          "description": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name."
        }
      },
      "description": "Request message for adding creative to be used in the bidding process for the finalized deal.",
      "id": "AddCreativeRequest"
    },
    "CancelNegotiationRequest": {
      "id": "CancelNegotiationRequest",
      "properties": {},
      "type": "object",
      "description": "Request to cancel an ongoing negotiation."
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "PauseFinalizedDealRequest": {
      "description": "Request message for pausing a finalized deal.",
      "id": "PauseFinalizedDealRequest",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters."
        }
      }
    },
    "UpdateDealRequest": {
      "type": "object",
      "id": "UpdateDealRequest",
      "description": "Request message for updating the deal at the given revision number.",
      "properties": {
        "deal": {
          "$ref": "Deal",
          "description": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        },
        "updateMask": {
          "type": "string",
          "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
          "format": "google-fieldmask"
        }
      }
    },
    "InventoryTypeTargeting": {
      "id": "InventoryTypeTargeting",
      "description": "Targeting of the inventory types a bid request can originate from.",
      "properties": {
        "inventoryTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "INVENTORY_TYPE_UNSPECIFIED",
              "BROWSER",
              "MOBILE_APP",
              "VIDEO_PLAYER"
            ],
            "enumDescriptions": [
              "Unspecified inventory type",
              "Desktop or mobile web browser excluding ads inside a video player",
              "Mobile apps other than video players and web browsers",
              "Instream video and audio"
            ]
          },
          "description": "The list of targeted inventory types for the bid request."
        }
      },
      "type": "object"
    },
    "AuctionPackage": {
      "properties": {
        "subscribedClients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "readOnly": true
        },
        "subscribedMediaPlanners": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MediaPlanner"
          },
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder."
        },
        "eligibleSeatIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display_name assigned to the auction package."
        },
        "subscribedBuyers": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`",
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Output only. A description of the auction package.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the auction package was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dealOwnerSeatId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace."
        },
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`"
        },
        "floorPriceCpm": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price."
        }
      },
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "id": "AuctionPackage",
      "type": "object"
    },
    "Proposal": {
      "id": "Proposal",
      "properties": {
        "lastUpdaterOrCommentorRole": {
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "type": "string",
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "readOnly": true,
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "notes": {
          "type": "array",
          "description": "A list of notes from the buyer and the seller attached to this proposal.",
[...]
