{
  "name": "authorizedbuyersmarketplace",
  "id": "authorizedbuyersmarketplace:v1alpha",
  "servicePath": "",
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "version": "v1alpha",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "ownerName": "Google",
  "schemas": {
    "TaxonomyTargeting": {
      "properties": {
        "excludedTaxonomyIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of excluded content taxonomy IDs.",
          "type": "array"
        },
        "targetedTaxonomyIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of targeted content taxonomy IDs."
        }
      },
      "type": "object",
      "id": "TaxonomyTargeting",
      "description": "Defines targeting criteria for handling the IAB audience and content Taxonomy ID space."
    },
    "VideoTargeting": {
      "properties": {
        "targetedPositionTypes": {
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          }
        },
        "excludedPositionTypes": {
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          }
        }
      },
      "description": "Represents targeting information about video.",
      "type": "object",
      "id": "VideoTargeting"
    },
    "InventoryTypeTargeting": {
      "properties": {
        "inventoryTypes": {
          "type": "array",
          "description": "The list of targeted inventory types for the bid request.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified inventory type",
              "Desktop or mobile web browser excluding ads inside a video player",
              "Mobile apps other than video players and web browsers",
              "Instream video and audio"
            ],
            "enum": [
              "INVENTORY_TYPE_UNSPECIFIED",
              "BROWSER",
              "MOBILE_APP",
              "VIDEO_PLAYER"
            ]
          }
        }
      },
      "id": "InventoryTypeTargeting",
      "type": "object",
      "description": "Targeting of the inventory types a bid request can originate from."
    },
    "Deal": {
      "id": "Deal",
      "description": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals.",
      "properties": {
        "creativeRequirements": {
          "$ref": "CreativeRequirements",
          "readOnly": true,
          "description": "Output only. Metadata about the creatives of this deal."
        },
        "billedBuyer": {
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "privateAuctionTerms": {
          "$ref": "PrivateAuctionTerms",
          "description": "The terms for private auction deals."
        },
        "client": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`"
        },
        "sellerTimeZone": {
          "description": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing.",
          "$ref": "TimeZone",
          "readOnly": true
        },
        "buyerPermissionType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer permission type.",
            "Only the [Deal.negotiating_buyer] can transact on the deal.",
            "All buyers under the [Deal.negotiating_buyer]'s bidder can transact on the deal."
          ],
          "description": "Output only. The buyer permission type of the deal.",
          "enum": [
            "BUYER_PERMISSION_TYPE_UNSPECIFIED",
            "NEGOTIATOR_ONLY",
            "BIDDER"
          ]
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        },
        "deliveryControl": {
          "readOnly": true,
          "$ref": "DeliveryControl",
          "description": "Output only. Specifies the pacing set by the publisher."
        },
        "preferredDealTerms": {
          "$ref": "PreferredDealTerms",
          "description": "The terms for preferred deals."
        },
        "dealType": {
          "description": "Output only. Type of deal.",
          "readOnly": true,
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "type": "string"
        },
        "proposalRevision": {
          "format": "int64",
          "description": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "type": "string",
          "readOnly": true
        },
        "eligibleSeatIds": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace.",
          "items": {
            "type": "string"
          }
        },
        "buyer": {
          "type": "string",
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`",
          "readOnly": true
        },
        "flightStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds."
        },
        "programmaticGuaranteedTerms": {
          "$ref": "ProgrammaticGuaranteedTerms",
          "description": "The terms for programmatic guaranteed deals."
        },
        "flightEndTime": {
          "format": "google-datetime",
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the deal was last updated.",
          "readOnly": true
        },
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        },
        "description": {
          "type": "string",
          "description": "Output only. Free text description for the deal terms.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal."
        },
        "mediaPlanner": {
          "readOnly": true,
          "$ref": "MediaPlanner",
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser)."
        },
        "createTime": {
          "description": "Output only. The time of the deal creation.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "targeting": {
          "description": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized.",
          "$ref": "MarketplaceTargeting"
        },
        "publisherProfile": {
          "type": "string",
          "description": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`"
        }
      },
      "type": "object"
    },
    "ListDealsResponse": {
      "id": "ListDealsResponse",
      "description": "Response message for listing deals in a proposal.",
      "type": "object",
      "properties": {
        "deals": {
          "items": {
            "$ref": "Deal"
          },
          "description": "The list of deals.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      }
    },
    "OperatingSystemTargeting": {
      "id": "OperatingSystemTargeting",
      "properties": {
        "operatingSystemVersionCriteria": {
          "description": "IDs of operating system versions to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemCriteria": {
          "description": "IDs of operating systems to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "type": "object",
      "description": "Represents targeting information for operating systems."
    },
    "AccessControlSettings": {
      "description": "Settings for controlling access to a curated package.",
      "properties": {
        "allowlistedMediaPlanners": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Immutable. The list of media planners that are explicitly granted access to the curated package. Eligible media planners can be found in the mediaPlanners.list method. Only a single media planner may be allowlisted at this time. Format: `mediaPlanners/{mediaPlannerAccountId}`"
        }
      },
      "type": "object",
      "id": "AccessControlSettings"
    },
    "FirstPartyMobileApplicationTargeting": {
      "id": "FirstPartyMobileApplicationTargeting",
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "properties": {
        "excludedAppIds": {
          "description": "A list of application IDs to be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetedAppIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of application IDs to be included."
        }
      },
      "type": "object"
    },
    "MediaPlanner": {
      "id": "MediaPlanner",
      "description": "Represents a media planner account.",
      "type": "object",
      "properties": {
        "ancestorNames": {
          "readOnly": true,
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "accountId": {
          "description": "Output only. Account ID of the media planner.",
          "deprecated": true,
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string"
        }
      }
    },
    "Note": {
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When this note was created.",
          "readOnly": true
        },
        "creatorRole": {
          "description": "Output only. The role who created the note.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "note": {
          "description": "The text of the note. Maximum length is 1024 characters.",
          "type": "string"
        }
      },
      "id": "Note",
      "type": "object"
    },
    "DeliveryControl": {
      "type": "object",
      "id": "DeliveryControl",
      "description": "Message contains details about how the deal will be paced.",
      "properties": {
        "companionDeliveryType": {
          "description": "Output only. Specifies roadblocking in a main companion lineitem.",
          "type": "string",
          "enum": [
            "COMPANION_DELIVERY_TYPE_UNSPECIFIED",
            "DELIVERY_OPTIONAL",
            "DELIVERY_AT_LEAST_ONE",
            "DELIVERY_ALL"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified companion delivery type.",
            "Companions are not required to serve a creative set. The creative set can serve an inventory that has zero or more matching companions.",
            "At least one companion must be served in order for the creative set to be used.",
            "All companions in the set must be served in order for the creative set to be used. This can still serve to inventory that has more companions than can be filled."
          ],
          "readOnly": true
        },
        "creativeRotationType": {
          "type": "string",
          "description": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available.",
          "readOnly": true,
          "enumDescriptions": [
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are served roughly proportionally to their performance.",
            "Creatives are served roughly proportionally to their weights.",
            "Creatives are served exactly in sequential order, also known as Storyboarding."
          ],
          "enum": [
            "CREATIVE_ROTATION_TYPE_UNSPECIFIED",
            "ROTATION_EVEN",
            "ROTATION_OPTIMIZED",
            "ROTATION_MANUAL",
            "ROTATION_SEQUENTIAL"
          ]
        },
        "deliveryRateType": {
          "type": "string",
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "readOnly": true,
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ]
        },
        "roadblockingType": {
          "readOnly": true,
          "enum": [
            "ROADBLOCKING_TYPE_UNSPECIFIED",
            "ONLY_ONE",
            "ONE_OR_MORE",
            "AS_MANY_AS_POSSIBLE",
            "ALL_ROADBLOCK",
            "CREATIVE_SET"
          ],
          "description": "Output only. Specifies the roadblocking type in display creatives.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unspecified roadblocking type.",
            "Only one creative from a deal can serve per ad request. https://support.google.com/admanager/answer/177277.",
            "Any number of creatives from a deal can serve together per ad request.",
            "As many creatives from a deal as can fit on a page will serve. This could mean anywhere from one to all of a deal's creatives given the size constraints of ad slots on a page.",
            "All or none of the creatives from a deal will serve.",
            "A main/companion creative set roadblocking type."
          ]
        },
        "frequencyCap": {
          "type": "array",
          "description": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest.",
          "readOnly": true,
          "items": {
            "$ref": "FrequencyCap"
          }
        }
      }
    },
    "Proposal": {
      "properties": {
        "buyer": {
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal.",
          "type": "string"
        },
        "lastUpdaterOrCommentorRole": {
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}"
        },
        "sellerContacts": {
          "items": {
            "$ref": "Contact"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Contact information for the seller."
        },
        "proposalRevision": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "readOnly": true
        },
        "originatorRole": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "billedBuyer": {
          "type": "string",
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`",
          "readOnly": true
        },
        "client": {
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "type": "string",
          "readOnly": true
        },
        "notes": {
          "description": "A list of notes from the buyer and the seller attached to this proposal.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        },
        "dealType": {
          "description": "Output only. Type of deal the proposal contains.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ]
        },
        "buyerContacts": {
          "type": "array",
          "description": "Contact information for the buyer.",
          "items": {
            "$ref": "Contact"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the proposal was last revised."
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ],
          "description": "Output only. Indicates the state of the proposal."
        },
        "isRenegotiating": {
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated.",
          "type": "boolean",
          "readOnly": true
        },
        "pausingConsented": {
          "type": "boolean",
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers."
        },
        "termsAndConditions": {
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Proposal",
      "type": "object",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer."
    },
    "SubscribeClientsRequest": {
      "type": "object",
      "id": "SubscribeClientsRequest",
      "description": "Request message for SubscribeAuctionPackageClients.",
      "properties": {
        "clients": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already.",
          "type": "array"
        }
      }
    },
    "PublisherProfileMobileApplication": {
      "id": "PublisherProfileMobileApplication",
      "description": "A mobile application that contains a external app ID, name, and app store.",
      "type": "object",
      "properties": {
        "appStore": {
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method.",
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ]
        },
        "externalAppId": {
          "type": "string",
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method."
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        }
      }
    },
    "PackageTargeting": {
      "id": "PackageTargeting",
      "description": "Targeting criteria for curated and auction packages.",
      "type": "object",
      "properties": {
        "includedAdSizes": {
          "items": {
            "$ref": "AdSize"
          },
          "type": "array",
          "description": "Optional. The list of ad sizes to target. If unset, inventory will be targeted regardless of ad size. Curated packages supports `PIXEL` and `INTERSTITIAL` ad sizes."
        },
        "includedDeviceTypes": {
          "description": "Optional. The list of included device types to target. If empty, all device types are targeted.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets desktop or laptop computers.",
              "Targets connected TVs: devices that stream TV content, including smart TVs, gaming consoles, and streaming boxes/sticks.",
              "Targets high-end mobile devices.",
              "Targets tablet devices."
            ],
            "type": "string",
            "enum": [
              "DEVICE_TYPE_UNSPECIFIED",
              "DEVICE_TYPE_PERSONAL_COMPUTER",
              "DEVICE_TYPE_CONNECTED_TV",
              "DEVICE_TYPE_PHONE",
              "DEVICE_TYPE_TABLET"
            ]
          }
        },
        "includedRewardedType": {
          "type": "string",
          "description": "Optional. The targeted rewarded type. If unset, inventory will be targeted regardless of rewarded type.",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory that does NOT offer an explicit reward to the user for watching or interacting with the ad.",
            "Targets inventory that offers a reward to the user in exchange for watching or engaging with the ad."
          ],
          "enum": [
            "REWARDED_TYPE_UNSPECIFIED",
            "REWARDED_TYPE_NON_REWARDED",
            "REWARDED_TYPE_REWARDED"
          ]
        },
        "includedRestrictedCategories": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory where alcohol ads are allowed by the publisher.",
              "Targets inventory where gambling ads are allowed by the publisher."
            ],
            "enum": [
              "RESTRICTED_CATEGORY_UNSPECIFIED",
              "RESTRICTED_CATEGORY_ALCOHOL",
              "RESTRICTED_CATEGORY_GAMBLING"
            ]
          },
          "type": "array",
          "description": "Optional. The list of targeted restricted categories. If empty, inventory will be targeted regardless of restricted categories."
        },
        "languageTargeting": {
          "description": "Optional. The languages to target. If unset, inventory will be targeted regardless of language. See https://developers.google.com/google-ads/api/data/codes-formats#languages for the list of supported language codes.",
          "$ref": "StringTargetingDimension"
        },
        "minimumPredictedViewabilityPercentage": {
          "description": "Optional. The targeted minimum predicted viewability percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% viewability. An unset value indicates inventory will be targeted regardless of predicted viewability.",
          "type": "string",
          "format": "int64"
        },
        "videoTargeting": {
          "description": "Optional. Video specific targeting criteria.",
          "$ref": "PackageVideoTargeting"
        },
        "includedAcceleratedMobilePageType": {
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory on standard web pages not using any AMP framework.",
            "Targets inventory on pages built using the core AMP HTML framework.",
            "Targets inventory on pages using the AMP Story (STAMP) format, which is optimized for visual storytelling (e.g., tappable full-screen experiences)."
          ],
          "description": "Optional. The targeted accelerated mobile page type. If unset, inventory will be targeted regardless of AMP status.",
          "type": "string",
          "enum": [
            "ACCELERATED_MOBILE_PAGE_TYPE_UNSPECIFIED",
            "ACCELERATED_MOBILE_PAGE_TYPE_NON_AMP",
            "ACCELERATED_MOBILE_PAGE_TYPE_AMP",
            "ACCELERATED_MOBILE_PAGE_TYPE_AMP_STORY"
          ]
        },
        "includedEnvironment": {
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_SITE",
            "ENVIRONMENT_APP"
          ],
          "description": "Optional. The environment to target. If unspecified, all environments are targeted.",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory rendered within an ad-supported website.",
            "Targets inventory within a mobile application."
          ],
          "type": "string"
        },
        "minimumPredictedClickThroughRatePercentageMillis": {
          "description": "Optional. The targeted minimum predicted click through rate, ranging in values [10, 10000] (0.01% - 10%). A value of 50 means that the configuration will only match adslots for which we predict at least 0.05% click through rate. An unset value indicates inventory will be targeted regardless of predicted click through rate.",
          "format": "int64",
          "type": "string"
        },
        "includedOpenMeasurementTypes": {
          "type": "array",
          "description": "Optional. The list of targeted open measurement types. If empty, inventory will be targeted regardless of Open Measurement support.",
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory that supports the v1 Open Measurement Interface Definition (OMID)."
            ],
            "enum": [
              "OPEN_MEASUREMENT_TYPE_UNSPECIFIED",
              "OPEN_MEASUREMENT_TYPE_OMID_V1"
            ],
            "type": "string"
          }
        },
        "placementTargeting": {
          "$ref": "PackagePlacementTargeting",
          "description": "Optional. Placement targeting information, for example, URL, mobile applications."
        },
        "geoTargeting": {
          "description": "Optional. The geo criteria IDs to be included or excluded as defined in https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv. If unset, inventory will be targeted regardless of geo.",
          "$ref": "CriteriaTargeting"
        },
        "publisherTargeting": {
          "description": "Optional. The targeted publishers. If unset, inventory will be targeted regardless of publisher. Publishers are identified by their publisher ID from ads.txt / app-ads.txt. See https://iabtechlab.com/ads-txt/ and https://iabtechlab.com/app-ads-txt/ for more details.",
          "$ref": "StringTargetingDimension"
        },
        "publisherProvidedSignalsTargeting": {
          "$ref": "PackagePublisherProvidedSignalsTargeting",
          "description": "Optional. The publisher provided signals to target. If unset, inventory will be targeted regardless of publisher provided signals."
        },
        "includedCreativeFormat": {
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "CREATIVE_FORMAT_DISPLAY",
            "CREATIVE_FORMAT_VIDEO",
            "CREATIVE_FORMAT_AUDIO"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets ad slots intended for HTML display creatives.",
            "Targets ad slots intended for video creatives.",
            "Targets ad slots intended for audio creatives."
          ],
          "description": "Optional. The creative format to target. If unset, all creative markup types are targeted.",
          "type": "string"
        },
        "includedAuthorizedSellerStatuses": {
          "items": {
            "enum": [
              "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
              "AUTHORIZED_SELLER_STATUS_DIRECT",
              "AUTHORIZED_SELLER_STATUS_RESELLER"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory where the seller is declared as 'DIRECT'. This indicates the publisher (content owner) directly controls the seller account and has a direct business contract with the advertising system for this account.",
              "Targets inventory where the seller is declared as 'RESELLER'. This indicates the publisher has authorized another entity to operate the listed seller account and resell their ad space."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The included list of targeted authorized seller statuses. If empty, inventory will be targeted regardless of seller status."
        },
        "includedNativeInventoryTypes": {
          "description": "Optional. The targeted native inventory types. If empty, inventory will be targeted regardless of native inventory type.",
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets ad slots that *only* accept and render native ads.",
              "Targets ad slots that accept and render either native or banner ads."
            ],
            "type": "string",
            "enum": [
              "NATIVE_INVENTORY_TYPE_UNSPECIFIED",
              "NATIVE_INVENTORY_TYPE_NATIVE_ONLY",
              "NATIVE_INVENTORY_TYPE_NATIVE_OR_BANNER"
            ]
          },
          "type": "array"
        },
        "verticalTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Optional. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals. If unset, inventory will be targeted regardless of vertical."
        },
        "includedDataSegments": {
          "type": "array",
          "description": "Optional. The active data segments to be targeted. If unset, inventory will be targeted regardless of data segments. Format: `curators/{account_id}/dataSegments/{data_segment_id}`",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Price": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "Money",
          "description": "The actual price with currency specified."
        },
        "type": {
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ],
          "description": "The pricing type for the deal."
        }
      },
      "description": "Represents a price and a pricing type for a deal.",
      "id": "Price"
    },
    "ActivateCuratedPackageRequest": {
      "type": "object",
      "id": "ActivateCuratedPackageRequest",
      "description": "Request message for ActivateCuratedPackage.",
      "properties": {}
    },
    "PackagePublisherProvidedSignalsTargeting": {
      "type": "object",
      "description": "Represents targeting about publisher provided signals. Different publisher provided signals types will be logically OR'ed.",
      "id": "PackagePublisherProvidedSignalsTargeting",
      "properties": {
        "audienceTargeting": {
          "$ref": "TaxonomyTargeting",
          "description": "Optional. The list of targeted or excluded audience IDs. Based off of IAB Audience Taxonomy version 1.1 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Audience%20Taxonomies/Audience%20Taxonomy%201.1.tsv)"
        },
        "videoAndAudioSignalsTargeting": {
          "description": "Optional. The list of targeted and excluded video and audio signals IDs. These are additional signals supported by publisher provided signals.",
          "$ref": "StringTargetingDimension"
        },
        "contentTargeting": {
          "description": "Optional. The list of targeted or excluded content IDs. Based off of IAB Content Taxonomy version 2.2 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Content%20Taxonomies/Content%20Taxonomy%202.2.tsv)",
          "$ref": "TaxonomyTargeting"
        }
      }
    },
    "AddNoteRequest": {
      "type": "object",
      "id": "AddNoteRequest",
      "description": "Request to add a note.",
      "properties": {
        "note": {
          "$ref": "Note",
          "description": "The note to add."
        }
      }
    },
    "UnsubscribeAuctionPackageRequest": {
      "description": "Request message for UnsubscribeAuctionPackage.",
      "properties": {},
      "type": "object",
      "id": "UnsubscribeAuctionPackageRequest"
    },
    "StringTargetingDimension": {
      "description": "Generic targeting with string values.",
      "properties": {
        "selectionType": {
          "enumDescriptions": [
            "Unspecified selection type. Should not be used.",
            "The values in the targeting dimension are included.",
            "The values in the targeting dimension are excluded."
          ],
          "type": "string",
          "description": "Required. How the items in this list should be targeted.",
          "enum": [
            "SELECTION_TYPE_UNSPECIFIED",
            "SELECTION_TYPE_INCLUDE",
            "SELECTION_TYPE_EXCLUDE"
          ]
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The values specified."
        }
      },
      "id": "StringTargetingDimension",
      "type": "object"
    },
    "DeactivateClientUserRequest": {
      "type": "object",
      "description": "Request message for deactivating a client user.",
      "id": "DeactivateClientUserRequest",
      "properties": {}
    },
    "ListCuratedPackagesResponse": {
      "description": "Response message for ListCuratedPackages.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCuratedPackagesRequest.pageToken field in the subsequent call to `ListCuratedPackages` method to retrieve the next page of results. If empty, then there are no more results.",
          "type": "string"
        },
        "curatedPackages": {
          "type": "array",
          "items": {
            "$ref": "CuratedPackage"
          },
          "description": "The list of curated packages."
        }
      },
      "id": "ListCuratedPackagesResponse",
      "type": "object"
    },
    "AuctionPackage": {
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Output only. A description of the auction package.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The display_name assigned to the auction package.",
          "type": "string"
        },
        "subscribedBuyers": {
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse."
        },
        "dealOwnerSeatId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace."
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`"
        },
        "floorPriceCpm": {
          "readOnly": true,
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price.",
          "$ref": "Money"
        },
        "eligibleSeatIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner."
        },
        "subscribedMediaPlanners": {
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MediaPlanner"
          }
        },
        "createTime": {
          "description": "Output only. Time the auction package was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "subscribedClients": {
          "type": "array",
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuctionPackage"
    },
    "DayPart": {
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Day of week for the period.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
        },
        "endTime": {
          "$ref": "TimeOfDay",
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
        }
      },
      "id": "DayPart",
      "description": "Defines targeting for a period of time on a specific week day."
    },
    "ListPublisherProfilesResponse": {
      "id": "ListPublisherProfilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        },
        "publisherProfiles": {
          "description": "The list of matching publisher profiles.",
          "type": "array",
          "items": {
            "$ref": "PublisherProfile"
          }
        }
      },
      "description": "Response message for profiles visible to the buyer."
    },
    "DeactivateCuratedPackageRequest": {
      "id": "DeactivateCuratedPackageRequest",
      "properties": {},
      "description": "Request message for DeactivateCuratedPackage.",
      "type": "object"
    },
    "BatchUpdateDealsRequest": {
      "description": "Request message for batch updating deals.",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. List of request messages to update deals.",
          "items": {
            "$ref": "UpdateDealRequest"
          }
        }
      },
      "type": "object",
      "id": "BatchUpdateDealsRequest"
    },
    "ListFinalizedDealsResponse": {
      "id": "ListFinalizedDealsResponse",
      "description": "Response message for listing finalized deals.",
      "type": "object",
      "properties": {
        "finalizedDeals": {
          "type": "array",
          "items": {
            "$ref": "FinalizedDeal"
          },
          "description": "The list of finalized deals."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        }
      }
    },
    "Contact": {
      "id": "Contact",
      "properties": {
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display_name of the contact."
        }
      },
      "description": "Contains information on how a buyer or seller can be reached.",
      "type": "object"
    },
    "SetReadyToServeRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for setting ready to serve for a finalized deal.",
      "id": "SetReadyToServeRequest"
    },
    "DayPartTargeting": {
      "type": "object",
      "properties": {
        "timeZoneType": {
          "description": "The time zone type of the day parts",
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ],
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ],
          "type": "string"
        },
        "dayParts": {
          "type": "array",
          "description": "The targeted weekdays and times",
          "items": {
            "$ref": "DayPart"
          }
        }
      },
      "id": "DayPartTargeting",
      "description": "Represents Daypart targeting."
    },
    "ListAuctionPackagesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results.",
          "type": "string"
        },
        "auctionPackages": {
          "type": "array",
          "items": {
            "$ref": "AuctionPackage"
          },
          "description": "The list of auction packages."
        }
      },
      "type": "object",
      "description": "Response message for listing auction packages.",
      "id": "ListAuctionPackagesResponse"
    },
    "DeactivateDataSegmentRequest": {
      "id": "DeactivateDataSegmentRequest",
      "type": "object",
      "description": "Request message for deactivating a data segment",
      "properties": {}
    },
    "PrivateAuctionTerms": {
      "description": "Pricing terms for Private Auctions.",
      "type": "object",
      "id": "PrivateAuctionTerms",
      "properties": {
        "floorPrice": {
          "description": "The minimum price buyer has to bid to compete in the private auction.",
          "$ref": "Price"
        },
        "openAuctionAllowed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction."
        }
      }
    },
    "Client": {
      "type": "object",
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI.",
      "id": "Client",
      "properties": {
        "partnerClientId": {
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Output only. The state of the client."
        },
        "sellerVisible": {
          "type": "boolean",
          "description": "Whether the client will be visible to sellers."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ],
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client.",
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ]
        },
        "displayName": {
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed.",
          "type": "string"
        }
      }
    },
    "ListMediaPlannersResponse": {
      "type": "object",
      "id": "ListMediaPlannersResponse",
      "description": "A response containing media planner account information.",
      "properties": {
        "mediaPlanners": {
          "items": {
            "$ref": "MediaPlanner"
          },
          "type": "array",
          "description": "List of media planners."
        },
        "nextPageToken": {
          "description": "A token which can be passed to a subsequent call to the `ListMediaPlanners` method to retrieve the next page of results in ListMediaPlannersRequest.pageToken.",
          "type": "string"
        }
      }
    },
    "MarketplaceTargeting": {
      "type": "object",
      "description": "Targeting represents different criteria that can be used to target deals or auction packages. For example, they can choose to target inventory only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise.",
      "id": "MarketplaceTargeting",
      "properties": {
        "userListTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Buyer user list targeting information. User lists can be uploaded using https://developers.google.com/authorized-buyers/rtb/bulk-uploader."
        },
        "videoTargeting": {
          "$ref": "VideoTargeting",
          "readOnly": true,
          "description": "Output only. Video targeting information."
        },
        "placementTargeting": {
          "$ref": "PlacementTargeting",
          "readOnly": true,
          "description": "Output only. Placement targeting information, for example, URL, mobile applications."
        },
        "geoTargeting": {
          "readOnly": true,
          "description": "Output only. Geo criteria IDs to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "technologyTargeting": {
          "$ref": "TechnologyTargeting",
          "readOnly": true,
          "description": "Output only. Technology targeting information, for example, operating system, device category."
        },
        "inventoryTypeTargeting": {
          "readOnly": true,
          "$ref": "InventoryTypeTargeting",
          "description": "Output only. Inventory type targeting information."
        },
        "daypartTargeting": {
          "description": "Daypart targeting information.",
          "$ref": "DayPartTargeting"
        },
        "excludedSensitiveCategoryIds": {
          "readOnly": true,
          "description": "Output only. The sensitive content category label IDs excluded. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "verticalTargeting": {
          "description": "Output only. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals",
          "$ref": "CriteriaTargeting",
          "readOnly": true
        },
        "inventorySizeTargeting": {
          "readOnly": true,
          "$ref": "InventorySizeTargeting",
          "description": "Output only. Inventory sizes to be included/excluded."
        }
      }
    },
    "InventorySizeTargeting": {
      "type": "object",
      "description": "Represents the size of an ad unit that can be targeted on a bid request.",
      "id": "InventorySizeTargeting",
      "properties": {
        "targetedInventorySizes": {
          "type": "array",
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be included."
        },
        "excludedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "type": "array",
          "description": "A list of inventory sizes to be excluded."
        }
      }
    },
    "ListDataSegmentsResponse": {
      "id": "ListDataSegmentsResponse",
      "description": "Response message for listing data segments.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListDataSegmentsRequest.pageToken field in the subsequent call to the `ListDataSegments` method to retrieve the next page of results.",
          "type": "string"
        },
        "dataSegments": {
          "description": "The list of data segments.",
          "type": "array",
          "items": {
            "$ref": "DataSegment"
          }
        }
      },
      "type": "object"
    },
    "PreferredDealTerms": {
      "type": "object",
      "id": "PreferredDealTerms",
      "properties": {
        "fixedPrice": {
          "$ref": "Price",
          "description": "Fixed price for the deal."
        }
      },
      "description": "Pricing terms for Preferred Deals."
    },
    "TimeOfDay": {
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "properties": {
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VideoPlayerSizeTargeting": {
      "id": "VideoPlayerSizeTargeting",
      "properties": {
        "minimumWidth": {
          "type": "string",
          "description": "Required. The minimum width of the video player in pixels.",
          "format": "int64"
        },
        "minimumHeight": {
          "description": "Required. The minimum height of the video player in pixels.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Represents the size of the video player that can be targeted. Both width and height are required to be set to non-zero values.",
      "type": "object"
    },
    "PublisherProfile": {
      "properties": {
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "mobileApps": {
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "type": "array",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          }
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "pitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "audienceDescription": {
          "type": "string",
          "description": "Description on the publisher's audience."
        },
        "domains": {
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "directDealsContact": {
          "type": "string",
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "overview": {
          "type": "string",
          "description": "Overview of the publisher."
        },
        "topHeadlines": {
          "items": {
            "type": "string"
          },
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\".",
          "type": "array"
        },
        "samplePageUrl": {
          "type": "string",
          "description": "URL to a sample content page."
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`"
        },
        "publisherCode": {
          "type": "string",
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method."
        },
        "displayName": {
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "isParent": {
          "type": "boolean",
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\"."
        }
      },
      "id": "PublisherProfile",
      "type": "object",
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise."
    },
    "DeactivateClientRequest": {
      "properties": {},
      "description": "Request message for disabling a client.",
      "type": "object",
      "id": "DeactivateClientRequest"
    },
    "SubscribeAuctionPackageRequest": {
      "description": "Request message for SubscribeAuctionPackage.",
      "properties": {},
      "id": "SubscribeAuctionPackageRequest",
      "type": "object"
    },
    "Money": {
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "properties": {
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      }
    },
    "AdSize": {
      "id": "AdSize",
      "description": "Represents size of a single ad slot, or a creative.",
      "properties": {
        "height": {
          "format": "int64",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string"
        },
        "width": {
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "The type of the ad slot size.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ]
        }
      },
      "type": "object"
    },
    "CriteriaTargeting": {
      "id": "CriteriaTargeting",
      "type": "object",
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax.",
      "properties": {
        "excludedCriteriaIds": {
          "description": "A list of numeric IDs to be excluded.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "targetedCriteriaIds": {
          "type": "array",
          "description": "A list of numeric IDs to be included.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "ResumeFinalizedDealRequest": {
      "type": "object",
      "properties": {},
      "id": "ResumeFinalizedDealRequest",
      "description": "Request message for resuming a finalized deal."
    },
    "DataSegment": {
      "id": "DataSegment",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the data segment was created.",
          "readOnly": true
        },
        "cpmFee": {
          "description": "Optional. A fixed fee charged per thousand impressions. Once set, the currency code cannot be changed.",
          "$ref": "Money"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the data segment was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`",
          "type": "string"
        },
        "userListId": {
          "description": "Optional. Immutable. The ID of the User List wrapped by this Data Segment. Curators with a linked Data Partner account can create a data segment that wraps a user list owned by the linked Data Partner account. User lists can be uploaded and managed using the [Data Manager API](https://developers.google.com/data-manager/api/data-partners/audiences). Linking a user list to a data segment lets you define a segment of inventory that is based on an audience you create.",
          "type": "string"
        },
        "millipercentOfMediaFee": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The fee will be charged as a percentage of the impression cost, represented in millipercent. For example, 1% is represented as 1000."
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the data segment.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The data segment is active.",
            "The data segment is inactive.",
            "The data segment is suspended and cannot be activated."
          ]
        }
      },
      "description": "Defines an identifier for a segment of inventory that can be targeted by curators or media planners in the deals or auction packages UI. Curation of inventory is done by curators on external platforms. -- Next ID: 9 --",
      "type": "object"
    },
    "ActivateClientUserRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for activating a client user.",
      "id": "ActivateClientUserRequest"
    },
    "ActivateClientRequest": {
      "description": "Request message for activating a client.",
      "type": "object",
      "id": "ActivateClientRequest",
      "properties": {}
    },
    "FrequencyCap": {
      "type": "object",
      "properties": {
        "maxImpressions": {
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "type": "integer",
          "format": "int32"
        },
        "timeUnitType": {
          "type": "string",
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ],
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ]
        },
        "timeUnitsCount": {
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "FrequencyCap",
      "description": "Message contains details about publisher-set frequency caps of the delivery."
    },
    "PackageVideoTargeting": {
      "id": "PackageVideoTargeting",
      "properties": {
        "minimumPredictedCompletionRatePercentage": {
          "description": "Optional. The targeted minimum predicted completion rate percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% completion rate. An unset value indicates inventory will be targeted regardless of predicted completion rate.",
          "format": "int64",
          "type": "string"
        },
        "includedMaximumAdDurationTargeting": {
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Applies to video ads with a duration up to 15 seconds (0 < duration <= 15s).",
            "Applies to video ads with a duration up to 20 seconds (0 < duration <= 20s).",
            "Applies to video ads with a duration up to 30 seconds (0 < duration <= 30s).",
            "Applies to video ads with a duration up to 60 seconds (0 < duration <= 60s).",
            "Applies to video ads with a duration up to 90 seconds (0 < duration <= 90s).",
            "Applies to video ads with a duration up to 120 seconds (0 < duration <= 120s)."
          ],
          "type": "string",
          "description": "Optional. The targeted maximum video ad duration. If unset, inventory will be targeted regardless of maximum video ad duration.",
          "enum": [
            "MAXIMUM_VIDEO_AD_DURATION_UNSPECIFIED",
            "MAXIMUM_VIDEO_AD_DURATION_FIFTEEN_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_TWENTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_THIRTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_SIXTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_NINETY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_ONE_HUNDRED_TWENTY_SECONDS"
          ]
        },
        "includedPlaybackMethods": {
          "type": "array",
          "description": "Optional. The list of targeted video playback methods. If empty, inventory will be targeted regardless of video playback method.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified video playback method. Should not be used.",
              "Playback starts automatically when the page/content loads.",
              "Playback starts automatically when the page/content loads, but with sound off.",
              "Playback is initiated by a user action (e.g., clicking a play button)."
            ],
            "enum": [
              "PLAYBACK_METHOD_UNSPECIFIED",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_ON",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_OFF",
              "PLAYBACK_METHOD_CLICK_TO_PLAY"
            ]
          }
        },
        "includedPlayerSizeTargeting": {
          "$ref": "VideoPlayerSizeTargeting",
          "description": "Optional. The targeted video player size. If unset, inventory will be targeted regardless of video player size."
        },
        "includedPositionTypes": {
          "description": "Optional. The targeted video ad position types. If empty, inventory will be targeted regardless of video ad position type.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "The ad is played in the middle of the video content.",
              "The ad is played after the video content.",
              "The ad is played before the video content."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "POSITION_TYPE_MIDROLL",
              "POSITION_TYPE_POSTROLL",
              "POSITION_TYPE_PREROLL"
            ]
          }
        },
        "plcmtTargeting": {
          "description": "Optional. The targeted video plcmt types. If unset, inventory will be targeted regardless of video plcmt type.",
          "$ref": "VideoPlcmtTargeting"
        },
        "includedMimeTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "VIDEO_MIME_TYPE_UNSPECIFIED",
              "VIDEO_MIME_TYPE_THREEGPP",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGURL",
              "VIDEO_MIME_TYPE_MP4",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGDASH",
              "VIDEO_MIME_TYPE_APPLICATION_JAVASCRIPT",
              "VIDEO_MIME_TYPE_WEBM"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "3GPP container format used on 3G phones.",
              "HLS/M3U8",
              "MPEG-4 container typically with H.264 codec.",
              "DASH.",
              "JavaScript (used for VPAID ads).",
              "WebM container assuming VP9 codec."
            ]
          },
          "description": "Optional. The list of targeted video mime types using the IANA published MIME type strings (https://www.iana.org/assignments/media-types/media-types.xhtml). If empty, inventory will be targeted regardless of video mime type."
        },
        "includedContentDeliveryMethod": {
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets video content that is being broadcast live.",
            "Targets video content that is transferred incrementally as client's playback requires."
          ],
          "enum": [
            "CONTENT_DELIVERY_METHOD_UNSPECIFIED",
            "CONTENT_DELIVERY_METHOD_STREAMING",
            "CONTENT_DELIVERY_METHOD_PROGRESSIVE"
          ],
          "type": "string",
          "description": "Optional. The targeted video delivery method. If unset, inventory will be targeted regardless of video delivery method."
        }
      },
      "type": "object",
      "description": "Video specific targeting criteria."
    },
    "ClientUser": {
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. The client user's email address that has to be unique across all users for the same client.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the client user.",
          "enum": [
            "STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined user state.",
            "A user who was created but hasn't accepted the invitation yet, not allowed to access the Authorized Buyers UI.",
            "A user that is currently active and allowed to access the Authorized Buyers UI.",
            "A user that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`",
          "type": "string"
        }
      },
      "description": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client.",
      "id": "ClientUser"
    },
    "DealPausingInfo": {
      "id": "DealPausingInfo",
      "type": "object",
      "description": "Information related to deal pausing.",
      "properties": {
        "pauseReason": {
          "description": "The reason for the pausing of the deal; empty for active deals.",
          "type": "string"
        },
        "pausingConsented": {
          "type": "boolean",
          "description": "Whether pausing is consented between buyer and seller for the deal."
        },
        "pauseRole": {
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "The party that first paused the deal; unspecified for active deals.",
          "type": "string"
        }
      }
    },
    "CreativeRequirements": {
      "id": "CreativeRequirements",
      "type": "object",
      "description": "Message captures data about the creatives in the deal.",
      "properties": {
        "programmaticCreativeSource": {
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ]
        },
        "creativeSafeFrameCompatibility": {
          "readOnly": true,
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "type": "string"
        },
        "skippableAdType": {
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "readOnly": true,
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ],
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives.",
          "type": "string"
        },
        "maxAdDurationMs": {
          "type": "string",
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives.",
          "readOnly": true,
          "format": "int64"
        },
        "creativeFormat": {
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ],
          "type": "string",
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ],
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals.",
          "readOnly": true
        },
        "creativePreApprovalPolicy": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "description": "Output only. Specifies the creative pre-approval policy.",
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ]
        }
      }
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone",
      "type": "object"
    },
    "ActivateDataSegmentRequest": {
      "description": "Request message for activating a data segment",
      "properties": {},
      "id": "ActivateDataSegmentRequest",
      "type": "object"
    },
    "ListProposalsResponse": {
      "id": "ListProposalsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "proposals": {
          "description": "The list of proposals.",
          "items": {
            "$ref": "Proposal"
          },
          "type": "array"
        }
      },
      "description": "Response message for listing proposals.",
      "type": "object"
    },
    "PrivateData": {
      "type": "object",
      "properties": {
        "referenceId": {
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units).",
          "type": "string"
        }
      },
      "id": "PrivateData",
      "description": "Buyers are allowed to store certain types of private data in a proposal."
    },
    "BatchUpdateDealsResponse": {
      "description": "Response message for batch updating deals.",
      "id": "BatchUpdateDealsResponse",
      "type": "object",
      "properties": {
        "deals": {
          "description": "Deals updated.",
          "type": "array",
          "items": {
            "$ref": "Deal"
          }
        }
      }
    },
    "VideoPlcmtTargeting": {
      "properties": {
        "selectionType": {
          "enum": [
            "SELECTION_TYPE_UNSPECIFIED",
            "SELECTION_TYPE_INCLUDE",
            "SELECTION_TYPE_EXCLUDE"
          ],
          "enumDescriptions": [
            "Unspecified selection type. Should not be used.",
            "The values in the targeting dimension are included.",
            "The values in the targeting dimension are excluded."
          ],
          "description": "Required. The selection type for the list of video plcmts.",
          "type": "string"
        },
        "videoPlcmtTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Pre-roll, mid-roll, and post-roll ads that are played before, during or after the streaming video content that the consumer has requested. Instream video must be set to “sound on” by default at player start, or have explicitly clear user intent to watch the video content. While there may be other content surrounding the player, the video content must be the focus of the user’s visit. It should remain the primary content on the page and the only video player in-view capable of audio when playing. If the player converts to floating/sticky, subsequent ad calls should accurately convey the updated player size.",
              "Pre-roll, mid-roll, and post-roll ads that are played before, during, or after streaming video content. The video player loads and plays before, between, or after paragraphs of text or graphical content, and starts playing only when it enters the viewport. Accompanying content should only start playback upon entering the viewport. It may convert to a floating/sticky player as it scrolls off the page.",
              "Video ads that are played without video content. During playback, it must be the primary focus of the page and take up the majority of the viewport and cannot be scrolled out of view. This can be in placements like in-app video or slideshows.",
              "Video ads that are played without streaming video content. This can be in placements like slideshows, native feeds, in-content or sticky/floating."
            ],
            "enum": [
              "VIDEO_PLCMT_TYPE_UNSPECIFIED",
              "INSTREAM",
              "ACCOMPANYING_CONTENT",
              "INTERSTITIAL",
              "NO_CONTENT"
            ]
          },
          "description": "Required. The list of targeted video plcmts types. If empty, inventory will be targeted regardless of video plcmt type."
        }
      },
      "description": "Defines targeting criteria based on the video placement type, often corresponding to the IAB OpenRTB 'plcmt' field.",
      "type": "object",
      "id": "VideoPlcmtTargeting"
    },
    "ProgrammaticGuaranteedTerms": {
      "description": "Pricing terms for Programmatic Guaranteed Deals.",
      "properties": {
        "guaranteedLooks": {
          "type": "string",
          "format": "int64",
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored."
        },
        "percentShareOfVoice": {
          "format": "int64",
          "type": "string",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100."
        },
        "minimumDailyLooks": {
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "type": "string",
          "format": "int64"
        },
        "fixedPrice": {
          "$ref": "Price",
          "description": "Fixed price for the deal."
        },
        "impressionCap": {
          "type": "string",
          "format": "int64",
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached."
        },
        "reservationType": {
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProgrammaticGuaranteedTerms"
    },
    "AcceptProposalRequest": {
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "type": "object",
      "id": "AcceptProposalRequest",
      "properties": {
        "proposalRevision": {
          "format": "int64",
          "description": "The last known client revision number of the proposal.",
          "type": "string"
        }
      }
    },
    "ListClientUsersResponse": {
      "properties": {
        "clientUsers": {
          "description": "The returned list of client users.",
          "type": "array",
          "items": {
            "$ref": "ClientUser"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the list method.",
      "id": "ListClientUsersResponse"
    },
    "PackagePlacementTargeting": {
      "type": "object",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "id": "PackagePlacementTargeting",
      "properties": {
        "mobileAppTargeting": {
          "$ref": "StringTargetingDimension",
          "description": "Optional. The list of targeted or excluded mobile application IDs that publishers own. Currently, only Android and Apple apps are supported. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
        },
        "includedMobileAppCategoryTargeting": {
          "type": "array",
          "description": "Optional. The list of targeted mobile app categories.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "uriTargeting": {
          "description": "Optional. The list of targeted or excluded URLs. The domains should have the http/https stripped (for example, google.com), and can contain a max of 5 paths per url.",
          "$ref": "StringTargetingDimension"
        }
      }
    },
    "AddCreativeRequest": {
      "description": "Request message for adding creative to be used in the bidding process for the finalized deal.",
      "properties": {
        "creative": {
          "description": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name.",
[...]
