{
  "version_module": true,
  "title": "Authorized Buyers Marketplace API",
  "version": "v1",
  "ownerDomain": "google.com",
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "name": "authorizedbuyersmarketplace",
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "revision": "20260924",
  "ownerName": "Google",
  "canonicalName": "Authorized Buyers Marketplace",
  "kind": "discovery#restDescription",
  "basePath": "",
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "id": "authorizedbuyersmarketplace:v1",
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "schemas": {
    "PrivateData": {
      "type": "object",
      "properties": {
        "referenceId": {
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units).",
          "type": "string"
        }
      },
      "description": "Buyers are allowed to store certain types of private data in a proposal.",
      "id": "PrivateData"
    },
    "PreferredDealTerms": {
      "id": "PreferredDealTerms",
      "properties": {
        "fixedPrice": {
          "$ref": "Price",
          "description": "Fixed price for the deal."
        }
      },
      "description": "Pricing terms for Preferred Deals.",
      "type": "object"
    },
    "Client": {
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI.",
      "id": "Client",
      "type": "object",
      "properties": {
        "partnerClientId": {
          "type": "string",
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients."
        },
        "sellerVisible": {
          "description": "Whether the client will be visible to sellers.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the client.",
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed."
        },
        "role": {
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ],
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ]
        }
      }
    },
    "Proposal": {
      "type": "object",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer.",
      "id": "Proposal",
      "properties": {
        "sellerContacts": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Contact information for the seller.",
          "items": {
            "$ref": "Contact"
          }
        },
        "pausingConsented": {
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers.",
          "type": "boolean"
        },
        "termsAndConditions": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it."
        },
        "originatorRole": {
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Indicates whether the buyer/seller created the proposal."
        },
        "buyer": {
          "type": "string",
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`",
          "readOnly": true
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "type": "array",
          "description": "A list of notes from the buyer and the seller attached to this proposal."
        },
        "client": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`"
        },
        "lastUpdaterOrCommentorRole": {
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "billedBuyer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`"
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates the state of the proposal.",
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ]
        },
        "isRenegotiating": {
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated.",
          "type": "boolean",
          "readOnly": true
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
          "type": "string"
        },
        "proposalRevision": {
          "readOnly": true,
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "description": "Output only. The time when the proposal was last revised.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal.",
          "readOnly": true,
          "type": "string"
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "items": {
            "$ref": "Contact"
          },
          "type": "array"
        },
        "dealType": {
          "description": "Output only. Type of deal the proposal contains.",
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ]
        }
      }
    },
    "ListDealsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        },
        "deals": {
          "description": "The list of deals.",
          "type": "array",
          "items": {
            "$ref": "Deal"
          }
        }
      },
      "type": "object",
      "description": "Response message for listing deals in a proposal.",
      "id": "ListDealsResponse"
    },
    "UriTargeting": {
      "id": "UriTargeting",
      "properties": {
        "targetedUris": {
          "description": "A list of URLs to be included.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludedUris": {
          "description": "A list of URLs to be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "type": "object"
    },
    "PublisherProfileMobileApplication": {
      "type": "object",
      "description": "A mobile application that contains a external app ID, name, and app store.",
      "id": "PublisherProfileMobileApplication",
      "properties": {
        "externalAppId": {
          "type": "string",
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method."
        },
        "name": {
          "type": "string",
          "description": "The name of the app."
        },
        "appStore": {
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ],
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ]
        }
      }
    },
    "ListAuctionPackagesResponse": {
      "description": "Response message for listing auction packages.",
      "id": "ListAuctionPackagesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results."
        },
        "auctionPackages": {
          "description": "The list of auction packages.",
          "items": {
            "$ref": "AuctionPackage"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "MarketplaceTargeting": {
      "type": "object",
      "properties": {
        "userListTargeting": {
          "description": "Buyer user list targeting information. User lists can be uploaded using https://developers.google.com/authorized-buyers/rtb/bulk-uploader.",
          "$ref": "CriteriaTargeting"
        },
        "technologyTargeting": {
          "description": "Output only. Technology targeting information, for example, operating system, device category.",
          "readOnly": true,
          "$ref": "TechnologyTargeting"
        },
        "placementTargeting": {
          "$ref": "PlacementTargeting",
          "description": "Output only. Placement targeting information, for example, URL, mobile applications.",
          "readOnly": true
        },
        "verticalTargeting": {
          "description": "Output only. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals",
          "$ref": "CriteriaTargeting",
          "readOnly": true
        },
        "inventoryTypeTargeting": {
          "description": "Output only. Inventory type targeting information.",
          "readOnly": true,
          "$ref": "InventoryTypeTargeting"
        },
        "geoTargeting": {
          "readOnly": true,
          "description": "Output only. Geo criteria IDs to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "daypartTargeting": {
          "description": "Daypart targeting information.",
          "$ref": "DayPartTargeting"
        },
        "videoTargeting": {
          "readOnly": true,
          "$ref": "VideoTargeting",
          "description": "Output only. Video targeting information."
        },
        "excludedSensitiveCategoryIds": {
          "description": "Output only. The sensitive content category label IDs excluded. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "readOnly": true
        },
        "inventorySizeTargeting": {
          "readOnly": true,
          "description": "Output only. Inventory sizes to be included/excluded.",
          "$ref": "InventorySizeTargeting"
        }
      },
      "id": "MarketplaceTargeting",
      "description": "Targeting represents different criteria that can be used to target deals or auction packages. For example, they can choose to target inventory only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise."
    },
    "UnsubscribeAuctionPackageRequest": {
      "properties": {},
      "id": "UnsubscribeAuctionPackageRequest",
      "description": "Request message for UnsubscribeAuctionPackage.",
      "type": "object"
    },
    "InventorySizeTargeting": {
      "description": "Represents the size of an ad unit that can be targeted on a bid request.",
      "properties": {
        "targetedInventorySizes": {
          "description": "A list of inventory sizes to be included.",
          "items": {
            "$ref": "AdSize"
          },
          "type": "array"
        },
        "excludedInventorySizes": {
          "description": "A list of inventory sizes to be excluded.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        }
      },
      "id": "InventorySizeTargeting",
      "type": "object"
    },
    "UnsubscribeClientsRequest": {
      "properties": {
        "clients": {
          "description": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "UnsubscribeClientsRequest",
      "description": "Request message for UnsubscribeAuctionPackage."
    },
    "CriteriaTargeting": {
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax.",
      "type": "object",
      "properties": {
        "targetedCriteriaIds": {
          "description": "A list of numeric IDs to be included.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "excludedCriteriaIds": {
          "description": "A list of numeric IDs to be excluded.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "CriteriaTargeting"
    },
    "OperatingSystemTargeting": {
      "type": "object",
      "description": "Represents targeting information for operating systems.",
      "id": "OperatingSystemTargeting",
      "properties": {
        "operatingSystemVersionCriteria": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of operating system versions to be included/excluded."
        },
        "operatingSystemCriteria": {
          "description": "IDs of operating systems to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "PrivateAuctionTerms": {
      "type": "object",
      "properties": {
        "floorPrice": {
          "$ref": "Price",
          "description": "The minimum price buyer has to bid to compete in the private auction."
        },
        "openAuctionAllowed": {
          "readOnly": true,
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction.",
          "type": "boolean"
        }
      },
      "description": "Pricing terms for Private Auctions.",
      "id": "PrivateAuctionTerms"
    },
    "SetReadyToServeRequest": {
      "properties": {},
      "type": "object",
      "id": "SetReadyToServeRequest",
      "description": "Request message for setting ready to serve for a finalized deal."
    },
    "BatchUpdateDealsRequest": {
      "description": "Request message for batch updating deals.",
      "type": "object",
      "id": "BatchUpdateDealsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. List of request messages to update deals.",
          "items": {
            "$ref": "UpdateDealRequest"
          }
        }
      }
    },
    "VideoTargeting": {
      "id": "VideoTargeting",
      "description": "Represents targeting information about video.",
      "properties": {
        "targetedPositionTypes": {
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "type": "array",
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty."
        },
        "excludedPositionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "type": "array",
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty."
        }
      },
      "type": "object"
    },
    "DealPausingInfo": {
      "type": "object",
      "properties": {
        "pausingConsented": {
          "description": "Whether pausing is consented between buyer and seller for the deal.",
          "type": "boolean"
        },
        "pauseRole": {
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "The party that first paused the deal; unspecified for active deals.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "pauseReason": {
          "description": "The reason for the pausing of the deal; empty for active deals.",
          "type": "string"
        }
      },
      "id": "DealPausingInfo",
      "description": "Information related to deal pausing."
    },
    "ProgrammaticGuaranteedTerms": {
      "properties": {
        "minimumDailyLooks": {
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "format": "int64",
          "type": "string"
        },
        "impressionCap": {
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached.",
          "type": "string",
          "format": "int64"
        },
        "percentShareOfVoice": {
          "format": "int64",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100.",
          "type": "string"
        },
        "guaranteedLooks": {
          "format": "int64",
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "type": "string"
        },
        "reservationType": {
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "type": "string"
        },
        "fixedPrice": {
          "$ref": "Price",
          "description": "Fixed price for the deal."
        }
      },
      "id": "ProgrammaticGuaranteedTerms",
      "type": "object",
      "description": "Pricing terms for Programmatic Guaranteed Deals."
    },
    "FinalizedDeal": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the finalized deal. Format: `buyers/{accountId}/finalizedDeals/{finalizedDealId}`"
        },
        "dealPausingInfo": {
          "description": "Information related to deal pausing for the deal.",
          "$ref": "DealPausingInfo"
        },
        "readyToServe": {
          "description": "Whether the Programmatic Guaranteed deal is ready for serving.",
          "type": "boolean"
        },
        "deal": {
          "description": "A copy of the Deal made upon finalization. During renegotiation, this will reflect the last finalized deal before renegotiation was initiated.",
          "$ref": "Deal"
        },
        "dealServingStatus": {
          "type": "string",
          "description": "Serving status of the deal.",
          "enumDescriptions": [
            "Unspecified.",
            "The deal is actively serving or ready to serve when the start date is reached.",
            "The deal serving has ended.",
            "The deal serving is paused by buyer.",
            "The deal serving is paused by seller."
          ],
          "enum": [
            "DEAL_SERVING_STATUS_UNSPECIFIED",
            "ACTIVE",
            "ENDED",
            "PAUSED_BY_BUYER",
            "PAUSED_BY_SELLER"
          ]
        },
        "rtbMetrics": {
          "description": "Real-time bidding metrics for this deal.",
          "$ref": "RtbMetrics"
        }
      },
      "description": "A finalized deal is a snapshot of the deal when both buyer and seller accept the deal. The buyer or seller can update the deal after it's been finalized and renegotiate on the deal targeting, terms and other fields, while at the same time the finalized snapshot of the deal can still be retrieved using this API. The finalized deal contains a copy of the deal as it existed when most recently finalized, as well as fields related to deal serving such as pause/resume status, RTB metrics, and more.",
      "id": "FinalizedDeal",
      "type": "object"
    },
    "PublisherProfile": {
      "properties": {
        "audienceDescription": {
          "description": "Description on the publisher's audience.",
          "type": "string"
        },
        "pitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "topHeadlines": {
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mobileApps": {
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "type": "array"
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "samplePageUrl": {
          "type": "string",
          "description": "URL to a sample content page."
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "name": {
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`",
          "type": "string"
        },
        "publisherCode": {
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method."
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "isParent": {
          "type": "boolean",
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\"."
        }
      },
      "type": "object",
      "id": "PublisherProfile",
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise."
    },
    "SendRfpRequest": {
      "description": "Request to send an RFP. All fields in this request are proposed to publisher and subject to changes by publisher during later negotiation.",
      "type": "object",
      "id": "SendRfpRequest",
      "properties": {
        "publisherProfile": {
          "type": "string",
          "description": "Required. The profile of the publisher who will receive this RFP in the format: `buyers/{accountId}/publisherProfiles/{publisherProfileId}`."
        },
        "buyerContacts": {
          "items": {
            "$ref": "Contact"
          },
          "type": "array",
          "description": "Contact information for the buyer."
        },
        "flightStartTime": {
          "format": "google-datetime",
          "description": "Required. Proposed flight start time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string"
        },
        "inventorySizeTargeting": {
          "$ref": "InventorySizeTargeting",
          "description": "Inventory sizes to be targeted. Only PIXEL inventory size type is supported."
        },
        "geoTargeting": {
          "description": "Geo criteria IDs to be targeted. Refer to Geo tables.",
          "$ref": "CriteriaTargeting"
        },
        "client": {
          "description": "If the current buyer is sending the RFP on behalf of its client, use this field to specify the name of the client in the format: `buyers/{accountId}/clients/{clientAccountid}`.",
          "type": "string"
        },
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "flightEndTime": {
          "description": "Required. Proposed flight end time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string",
          "format": "google-datetime"
        },
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the proposal being created by this RFP."
        },
        "note": {
          "description": "A message that is sent to the publisher. Maximum length is 1024 characters.",
          "type": "string"
        }
      }
    },
    "AddNoteRequest": {
      "type": "object",
      "properties": {
        "note": {
          "$ref": "Note",
          "description": "The note to add."
        }
      },
      "id": "AddNoteRequest",
      "description": "Request to add a note."
    },
    "DeactivateClientRequest": {
      "description": "Request message for disabling a client.",
      "properties": {},
      "type": "object",
      "id": "DeactivateClientRequest"
    },
    "DayPart": {
      "id": "DayPart",
      "description": "Defines targeting for a period of time on a specific week day.",
      "properties": {
        "endTime": {
          "$ref": "TimeOfDay",
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
        },
        "dayOfWeek": {
          "description": "Day of week for the period.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object"
    },
    "ActivateClientRequest": {
      "type": "object",
      "description": "Request message for activating a client.",
      "id": "ActivateClientRequest",
      "properties": {}
    },
    "AddCreativeRequest": {
      "description": "Request message for adding creative to be used in the bidding process for the finalized deal.",
      "id": "AddCreativeRequest",
      "properties": {
        "creative": {
          "type": "string",
          "description": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name."
        }
      },
      "type": "object"
    },
    "SubscribeAuctionPackageRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for SubscribeAuctionPackage.",
      "id": "SubscribeAuctionPackageRequest"
    },
    "ListFinalizedDealsResponse": {
      "properties": {
        "finalizedDeals": {
          "description": "The list of finalized deals.",
          "type": "array",
          "items": {
            "$ref": "FinalizedDeal"
          }
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing finalized deals.",
      "id": "ListFinalizedDealsResponse",
      "type": "object"
    },
    "UpdateDealRequest": {
      "type": "object",
      "description": "Request message for updating the deal at the given revision number.",
      "id": "UpdateDealRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
        },
        "deal": {
          "description": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
          "$ref": "Deal"
        }
      }
    },
    "RtbMetrics": {
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)",
      "id": "RtbMetrics",
      "properties": {
        "adImpressions7Days": {
          "type": "string",
          "format": "int64",
          "description": "Ad impressions in last 7 days."
        },
        "mustBidRateCurrentMonth": {
          "type": "number",
          "format": "double",
          "description": "Must bid rate for current month."
        },
        "bidRate7Days": {
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests).",
          "type": "number",
          "format": "double"
        },
        "bids7Days": {
          "format": "int64",
          "description": "Bids in last 7 days.",
          "type": "string"
        },
        "bidRequests7Days": {
          "format": "int64",
          "description": "Bid requests in last 7 days.",
          "type": "string"
        },
        "filteredBidRate7Days": {
          "type": "number",
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids).",
          "format": "double"
        }
      },
      "type": "object"
    },
    "ResumeFinalizedDealRequest": {
      "type": "object",
      "description": "Request message for resuming a finalized deal.",
      "properties": {},
      "id": "ResumeFinalizedDealRequest"
    },
    "ListProposalsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "proposals": {
          "description": "The list of proposals.",
          "type": "array",
          "items": {
            "$ref": "Proposal"
          }
        }
      },
      "id": "ListProposalsResponse",
      "description": "Response message for listing proposals."
    },
    "Contact": {
      "type": "object",
      "description": "Contains information on how a buyer or seller can be reached.",
      "id": "Contact",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display_name of the contact."
        },
        "email": {
          "type": "string",
          "description": "Email address for the contact."
        }
      }
    },
    "SubscribeClientsRequest": {
      "properties": {
        "clients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already."
        }
      },
      "id": "SubscribeClientsRequest",
      "description": "Request message for SubscribeAuctionPackageClients.",
      "type": "object"
    },
    "DeliveryControl": {
      "id": "DeliveryControl",
      "type": "object",
      "description": "Message contains details about how the deal will be paced.",
      "properties": {
        "creativeRotationType": {
          "readOnly": true,
          "enumDescriptions": [
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are served roughly proportionally to their performance.",
            "Creatives are served roughly proportionally to their weights.",
            "Creatives are served exactly in sequential order, also known as Storyboarding."
          ],
          "description": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available.",
          "type": "string",
          "enum": [
            "CREATIVE_ROTATION_TYPE_UNSPECIFIED",
            "ROTATION_EVEN",
            "ROTATION_OPTIMIZED",
            "ROTATION_MANUAL",
            "ROTATION_SEQUENTIAL"
          ]
        },
        "roadblockingType": {
          "enumDescriptions": [
            "A placeholder for an unspecified roadblocking type.",
            "Only one creative from a deal can serve per ad request. https://support.google.com/admanager/answer/177277.",
            "Any number of creatives from a deal can serve together per ad request.",
            "As many creatives from a deal as can fit on a page will serve. This could mean anywhere from one to all of a deal's creatives given the size constraints of ad slots on a page.",
            "All or none of the creatives from a deal will serve.",
            "A main/companion creative set roadblocking type."
          ],
          "description": "Output only. Specifies the roadblocking type in display creatives.",
          "type": "string",
          "enum": [
            "ROADBLOCKING_TYPE_UNSPECIFIED",
            "ONLY_ONE",
            "ONE_OR_MORE",
            "AS_MANY_AS_POSSIBLE",
            "ALL_ROADBLOCK",
            "CREATIVE_SET"
          ],
          "readOnly": true
        },
        "frequencyCap": {
          "type": "array",
          "items": {
            "$ref": "FrequencyCap"
          },
          "readOnly": true,
          "description": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest."
        },
        "deliveryRateType": {
          "readOnly": true,
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "description": "Output only. Specifies how the impression delivery will be paced."
        },
        "companionDeliveryType": {
          "enum": [
            "COMPANION_DELIVERY_TYPE_UNSPECIFIED",
            "DELIVERY_OPTIONAL",
            "DELIVERY_AT_LEAST_ONE",
            "DELIVERY_ALL"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified companion delivery type.",
            "Companions are not required to serve a creative set. The creative set can serve an inventory that has zero or more matching companions.",
            "At least one companion must be served in order for the creative set to be used.",
            "All companions in the set must be served in order for the creative set to be used. This can still serve to inventory that has more companions than can be filled."
          ],
          "description": "Output only. Specifies roadblocking in a main companion lineitem.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AuctionPackage": {
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "type": "object",
      "id": "AuctionPackage",
      "properties": {
        "subscribedClients": {
          "type": "array",
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the auction package was created."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creator": {
          "type": "string",
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`",
          "readOnly": true
        },
        "subscribedBuyers": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`"
        },
        "displayName": {
          "description": "The display_name assigned to the auction package.",
          "type": "string"
        },
        "floorPriceCpm": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price."
        },
        "eligibleSeatIds": {
          "type": "array",
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "dealOwnerSeatId": {
          "readOnly": true,
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse.",
          "type": "string"
        },
        "subscribedMediaPlanners": {
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MediaPlanner"
          }
        },
        "description": {
          "readOnly": true,
          "description": "Output only. A description of the auction package.",
          "type": "string"
        }
      }
    },
    "Price": {
      "type": "object",
      "description": "Represents a price and a pricing type for a deal.",
      "id": "Price",
      "properties": {
        "type": {
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ],
          "type": "string",
          "description": "The pricing type for the deal."
        },
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        }
      }
    },
    "BatchUpdateDealsResponse": {
      "properties": {
        "deals": {
          "description": "Deals updated.",
          "type": "array",
          "items": {
            "$ref": "Deal"
          }
        }
      },
      "description": "Response message for batch updating deals.",
      "id": "BatchUpdateDealsResponse",
      "type": "object"
    },
    "ActivateClientUserRequest": {
      "description": "Request message for activating a client user.",
      "id": "ActivateClientUserRequest",
      "type": "object",
      "properties": {}
    },
    "TimeZone": {
      "id": "TimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "TechnologyTargeting": {
      "type": "object",
      "description": "Represents targeting about various types of technology.",
      "id": "TechnologyTargeting",
      "properties": {
        "operatingSystemTargeting": {
          "$ref": "OperatingSystemTargeting",
          "description": "Operating system related targeting information."
        },
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "deviceCapabilityTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device capabilities to be included/excluded."
        }
      }
    },
    "ListClientsResponse": {
      "description": "Response message for the list method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        },
        "clients": {
          "description": "The returned list of clients.",
          "type": "array",
          "items": {
            "$ref": "Client"
          }
        }
      },
      "id": "ListClientsResponse"
    },
    "PauseFinalizedDealRequest": {
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters."
        }
      },
      "id": "PauseFinalizedDealRequest",
      "description": "Request message for pausing a finalized deal."
    },
    "AcceptProposalRequest": {
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "id": "AcceptProposalRequest",
      "type": "object",
      "properties": {
        "proposalRevision": {
          "type": "string",
          "description": "The last known client revision number of the proposal.",
          "format": "int64"
        }
      }
    },
    "MediaPlanner": {
      "properties": {
        "ancestorNames": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "type": "array"
        },
        "displayName": {
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
        },
        "accountId": {
          "type": "string",
          "description": "Output only. Account ID of the media planner.",
          "deprecated": true,
          "readOnly": true
        }
      },
      "id": "MediaPlanner",
      "type": "object",
      "description": "Represents a media planner account."
    },
    "ListPublisherProfilesResponse": {
      "properties": {
        "publisherProfiles": {
          "items": {
            "$ref": "PublisherProfile"
          },
          "description": "The list of matching publisher profiles.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        }
      },
      "type": "object",
      "description": "Response message for profiles visible to the buyer.",
      "id": "ListPublisherProfilesResponse"
    },
    "Deal": {
      "properties": {
        "dealType": {
          "readOnly": true,
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "description": "Output only. Type of deal.",
          "type": "string",
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ]
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`",
          "type": "string"
        },
        "buyerPermissionType": {
          "enum": [
            "BUYER_PERMISSION_TYPE_UNSPECIFIED",
            "NEGOTIATOR_ONLY",
            "BIDDER"
          ],
          "type": "string",
          "description": "Output only. The buyer permission type of the deal.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer permission type.",
            "Only the [Deal.negotiating_buyer] can transact on the deal.",
            "All buyers under the [Deal.negotiating_buyer]'s bidder can transact on the deal."
          ],
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time of the deal creation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the deal was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "programmaticGuaranteedTerms": {
          "$ref": "ProgrammaticGuaranteedTerms",
          "description": "The terms for programmatic guaranteed deals."
        },
        "sellerTimeZone": {
          "readOnly": true,
          "description": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing.",
          "$ref": "TimeZone"
        },
        "creativeRequirements": {
          "$ref": "CreativeRequirements",
          "readOnly": true,
          "description": "Output only. Metadata about the creatives of this deal."
        },
        "flightEndTime": {
          "format": "google-datetime",
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals.",
          "type": "string"
        },
        "mediaPlanner": {
          "$ref": "MediaPlanner",
          "readOnly": true,
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser)."
        },
        "targeting": {
          "description": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized.",
          "$ref": "MarketplaceTargeting"
        },
        "client": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal.",
          "readOnly": true
        },
        "proposalRevision": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
        },
        "preferredDealTerms": {
          "$ref": "PreferredDealTerms",
          "description": "The terms for preferred deals."
        },
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        },
        "flightStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds."
        },
        "eligibleSeatIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace."
        },
        "buyer": {
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "billedBuyer": {
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        },
        "deliveryControl": {
          "readOnly": true,
          "description": "Output only. Specifies the pacing set by the publisher.",
          "$ref": "DeliveryControl"
        },
        "description": {
          "type": "string",
          "description": "Output only. Free text description for the deal terms.",
          "readOnly": true
        },
        "privateAuctionTerms": {
          "description": "The terms for private auction deals.",
          "$ref": "PrivateAuctionTerms"
        }
      },
      "type": "object",
      "description": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals.",
      "id": "Deal"
    },
    "ClientUser": {
      "description": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`",
          "readOnly": true,
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Required. The client user's email address that has to be unique across all users for the same client."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the client user.",
          "enum": [
            "STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined user state.",
            "A user who was created but hasn't accepted the invitation yet, not allowed to access the Authorized Buyers UI.",
            "A user that is currently active and allowed to access the Authorized Buyers UI.",
            "A user that is currently inactive and not allowed to access the Authorized Buyers UI."
          ]
        }
      },
      "id": "ClientUser"
    },
    "AdSize": {
      "properties": {
        "height": {
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string",
          "format": "int64"
        },
        "width": {
          "type": "string",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64"
        },
        "type": {
          "description": "The type of the ad slot size.",
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "type": "string"
        }
      },
      "id": "AdSize",
      "type": "object",
      "description": "Represents size of a single ad slot, or a creative."
    },
    "CancelNegotiationRequest": {
      "description": "Request to cancel an ongoing negotiation.",
      "id": "CancelNegotiationRequest",
      "properties": {},
      "type": "object"
    },
    "DeactivateClientUserRequest": {
      "properties": {},
      "description": "Request message for deactivating a client user.",
      "type": "object",
      "id": "DeactivateClientUserRequest"
    },
    "PlacementTargeting": {
      "properties": {
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        },
        "uriTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UriTargeting"
        }
      },
      "id": "PlacementTargeting",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "type": "object"
    },
    "MobileApplicationTargeting": {
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      },
      "description": "Mobile application targeting settings.",
      "id": "MobileApplicationTargeting",
      "type": "object"
    },
    "FrequencyCap": {
      "type": "object",
      "description": "Message contains details about publisher-set frequency caps of the delivery.",
      "properties": {
        "maxImpressions": {
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "type": "integer",
          "format": "int32"
        },
        "timeUnitsCount": {
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "format": "int32",
          "type": "integer"
        },
        "timeUnitType": {
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ],
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ],
          "type": "string",
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped."
        }
      },
      "id": "FrequencyCap"
    },
    "FirstPartyMobileApplicationTargeting": {
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "properties": {
        "targetedAppIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of application IDs to be included.",
          "type": "array"
        },
        "excludedAppIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of application IDs to be excluded."
        }
      },
      "type": "object",
      "id": "FirstPartyMobileApplicationTargeting"
    },
    "ListClientUsersResponse": {
      "type": "object",
      "description": "Response message for the list method.",
      "id": "ListClientUsersResponse",
      "properties": {
        "clientUsers": {
          "description": "The returned list of client users.",
          "type": "array",
          "items": {
            "$ref": "ClientUser"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "Money": {
      "id": "Money",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object"
    },
    "InventoryTypeTargeting": {
      "type": "object",
      "properties": {
        "inventoryTypes": {
          "items": {
            "enumDescriptions": [
              "Unspecified inventory type",
              "Desktop or mobile web browser excluding ads inside a video player",
              "Mobile apps other than video players and web browsers",
              "Instream video and audio"
            ],
            "type": "string",
            "enum": [
              "INVENTORY_TYPE_UNSPECIFIED",
              "BROWSER",
              "MOBILE_APP",
              "VIDEO_PLAYER"
            ]
          },
          "type": "array",
          "description": "The list of targeted inventory types for the bid request."
        }
      },
      "description": "Targeting of the inventory types a bid request can originate from.",
      "id": "InventoryTypeTargeting"
    },
    "DayPartTargeting": {
      "properties": {
        "timeZoneType": {
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ],
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ],
          "type": "string",
          "description": "The time zone type of the day parts"
        },
        "dayParts": {
          "description": "The targeted weekdays and times",
          "items": {
            "$ref": "DayPart"
          },
          "type": "array"
        }
      },
      "id": "DayPartTargeting",
      "type": "object",
      "description": "Represents Daypart targeting."
    },
    "Note": {
      "type": "object",
      "properties": {
        "note": {
          "type": "string",
          "description": "The text of the note. Maximum length is 1024 characters."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When this note was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "creatorRole": {
          "readOnly": true,
          "description": "Output only. The role who created the note.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        }
      },
      "id": "Note",
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers."
    },
    "CreativeRequirements": {
      "description": "Message captures data about the creatives in the deal.",
      "type": "object",
      "properties": {
        "creativePreApprovalPolicy": {
          "type": "string",
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "readOnly": true,
          "description": "Output only. Specifies the creative pre-approval policy.",
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ]
        },
        "creativeSafeFrameCompatibility": {
          "type": "string",
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "readOnly": true,
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ]
        },
        "creativeFormat": {
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ],
          "readOnly": true,
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ],
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals.",
          "type": "string"
        },
        "skippableAdType": {
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ]
        },
        "maxAdDurationMs": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives.",
          "type": "string"
        },
        "programmaticCreativeSource": {
          "type": "string",
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "readOnly": true
        }
      },
      "id": "CreativeRequirements"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "resources": {
    "bidders": {
      "resources": {
        "auctionPackages": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^bidders/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`."
                }
              },
              "path": "v1/{+parent}/auctionPackages",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "flatPath": "v1/bidders/{biddersId}/auctionPackages",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.bidders.auctionPackages.list",
              "description": "List the auction packages. Buyers can use the URL path \"/v1/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients."
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus * readyToServe",
                  "type": "string"
                },
                "orderBy": {
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.list",
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "flatPath": "v1/bidders/{biddersId}/finalizedDeals",
              "httpMethod": "GET",
              "path": "v1/{+parent}/finalizedDeals",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "setReadyToServe": {
              "httpMethod": "POST",
              "flatPath": "v1/bidders/{biddersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.setReadyToServe",
              "parameters": {
                "deal": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "type": "string",
                  "pattern": "^bidders/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "path": "v1/{+deal}:setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "deal"
              ],
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "request": {
                "$ref": "SetReadyToServeRequest"
              }
            }
          }
        }
      }
    },
    "buyers": {
      "resources": {
        "auctionPackages": {
          "methods": {
            "get": {
              "description": "Gets an auction package given its name.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Name of auction package to get. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}",
              "path": "v1/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.get"
            },
            "unsubscribe": {
              "description": "Unsubscribe from the auction package for the specified buyer. Once unsubscribed, the bidder will no longer receive a call out for the auction package deal ID and the specified buyer.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$"
                }
              },
              "path": "v1/{+name}:unsubscribe",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribe",
              "response": {
                "$ref": "AuctionPackage"
              },
              "request": {
                "$ref": "UnsubscribeAuctionPackageRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribe"
            },
            "subscribe": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:subscribe",
              "request": {
                "$ref": "SubscribeAuctionPackageRequest"
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribe",
              "description": "Subscribe to the auction package for the specified buyer. Once subscribed, the bidder will receive a call out for inventory matching the auction package targeting criteria with the auction package deal ID and the specified buyer.",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribe"
            },
            "list": {
              "description": "List the auction packages. Buyers can use the URL path \"/v1/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/auctionPackages",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+$"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500."
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.list",
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages"
            },
            "unsubscribeClients": {
              "request": {
                "$ref": "UnsubscribeClientsRequest"
              },
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribeClients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "response": {
                "$ref": "AuctionPackage"
              },
              "path": "v1/{+auctionPackage}:unsubscribeClients",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribeClients",
              "parameters": {
                "auctionPackage": {
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
[...]
