{
  "canonicalName": "Backupdr",
  "discoveryVersion": "v1",
  "description": "",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/backup-disaster-recovery",
  "revision": "20260701",
  "endpoints": [
    {
      "endpointUrl": "https://backupdr.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://backupdr.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "protocol": "rest",
  "schemas": {
    "DiskDataSourceProperties": {
      "id": "DiskDataSourceProperties",
      "description": "DiskDataSourceProperties represents the properties of a Disk resource that are stored in the DataSource. .",
      "properties": {
        "name": {
          "description": "Name of the disk backed up by the datasource.",
          "type": "string"
        },
        "description": {
          "description": "The description of the disk.",
          "type": "string"
        },
        "sizeGb": {
          "description": "The size of the disk in GB.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "The type of the disk.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InitializeServiceRequest": {
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, validates the request and returns the result, but does not actually run it.",
          "type": "boolean"
        },
        "resourceType": {
          "description": "Required. The resource type to which the default service config will be applied. Examples include, \"compute.googleapis.com/Instance\" and \"storage.googleapis.com/Bucket\".",
          "type": "string"
        },
        "cloudSqlInstanceInitializationConfig": {
          "$ref": "CloudSqlInstanceInitializationConfig",
          "description": "Optional. The configuration for initializing a Cloud SQL instance."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "backupPlanLocation": {
          "description": "Optional. The location where the BackupPlan will be created. This field is required for multi-region BackupVaults and is optional for regional BackupVaults. It is useful when creating a Backup Vault in a multi-region, allowing the BackupPlan to reside in a specific region within that multi-region. If this field is not provided, the BackupPlan will be created in the same location as specified in the `name` field.",
          "type": "string"
        }
      },
      "description": "Request message for initializing the service.",
      "id": "InitializeServiceRequest"
    },
    "BackupGcpResource": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of the resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource: //\"global\"/\"unspecified\".",
          "type": "string"
        },
        "gcpResourcename": {
          "description": "Name of the Google Cloud resource.",
          "type": "string"
        }
      },
      "description": "Minimum details to identify a Google Cloud resource for a backup.",
      "id": "BackupGcpResource"
    },
    "NetworkPerformanceConfig": {
      "description": "Network performance configuration.",
      "id": "NetworkPerformanceConfig",
      "type": "object",
      "properties": {
        "totalEgressBandwidthTier": {
          "enumDescriptions": [
            "This value is unused.",
            "Default network performance config.",
            "Tier 1 network performance config."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "DEFAULT",
            "TIER_1"
          ],
          "type": "string",
          "description": "Optional. The tier of the total egress bandwidth."
        }
      }
    },
    "ListResourceBackupConfigsResponse": {
      "description": "Response for ListResourceBackupConfigs.",
      "id": "ListResourceBackupConfigsResponse",
      "type": "object",
      "properties": {
        "resourceBackupConfigs": {
          "type": "array",
          "description": "The list of ResourceBackupConfigs for the specified scope.",
          "items": {
            "$ref": "ResourceBackupConfig"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "InitiateBackupRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "backupId": {
          "description": "Required. Resource ID of the Backup resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InitiateBackupRequest",
      "description": "request message for InitiateBackup."
    },
    "DiskRestoreProperties": {
      "properties": {
        "diskEncryptionKey": {
          "$ref": "CustomerEncryptionKey",
          "description": "Optional. Encrypts the disk using a customer-supplied encryption key or a customer-managed encryption key."
        },
        "physicalBlockSizeBytes": {
          "description": "Optional. Physical block size of the persistent disk, in bytes. If not present in a request, a default value is used. Currently, the supported size is 4096.",
          "type": "string",
          "format": "int64"
        },
        "sizeGb": {
          "description": "Required. The size of the disk in GB.",
          "type": "string",
          "format": "int64"
        },
        "resourceManagerTags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource manager tags to be bound to the disk.",
          "type": "object"
        },
        "provisionedThroughput": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle."
        },
        "provisionedIops": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle."
        },
        "enableConfidentialCompute": {
          "description": "Optional. Indicates whether this disk is using confidential compute mode. Encryption with a Cloud KMS key is required to enable this option.",
          "type": "boolean"
        },
        "storagePool": {
          "description": "Optional. The storage pool in which the new disk is created. You can provide this as a partial or full URL to the resource.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the disk.",
          "type": "string"
        },
        "architecture": {
          "description": "Optional. The architecture of the source disk. Valid values are ARM64 or X86_64.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ]
        },
        "labels": {
          "description": "Optional. Labels to apply to this disk. These can be modified later using setLabels method. Label values can be empty.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "type": {
          "description": "Required. URL of the disk type resource describing which disk type to use to create the disk.",
          "type": "string"
        },
        "guestOsFeature": {
          "type": "array",
          "description": "Optional. A list of features to enable in the guest operating system. This is applicable only for bootable images.",
          "items": {
            "$ref": "GuestOsFeature"
          }
        },
        "accessMode": {
          "enumDescriptions": [
            "The default AccessMode, means the disk can be attached to single instance in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RO mode."
          ],
          "enum": [
            "READ_WRITE_SINGLE",
            "READ_WRITE_MANY",
            "READ_ONLY_MANY"
          ],
          "type": "string",
          "description": "Optional. The access mode of the disk."
        },
        "description": {
          "description": "Optional. An optional description of this resource. Provide this property when you create the resource.",
          "type": "string"
        },
        "licenses": {
          "description": "Optional. A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourcePolicy": {
          "type": "array",
          "description": "Optional. Resource policies applied to this disk.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "DiskRestoreProperties",
      "description": "DiskRestoreProperties represents the properties of a Disk restore."
    },
    "ListBackupPlanAssociationsResponse": {
      "id": "ListBackupPlanAssociationsResponse",
      "description": "Response message for List BackupPlanAssociation",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "backupPlanAssociations": {
          "type": "array",
          "description": "The list of Backup Plan Associations in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup plan associations in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "BackupPlanAssociation"
          }
        }
      },
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ManagementServer": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Instance type is not mentioned.",
            "Instance for backup and restore management (i.e., AGM)."
          ],
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "BACKUP_RESTORE"
          ],
          "type": "string",
          "description": "Optional. The type of the ManagementServer resource."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. Server specified ETag for the ManagementServer resource to prevent simultaneous updates from overwiting each other.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. Labels currently defined: 1. migrate_from_go= If set to true, the MS is created in migration ready mode.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "baProxyUri": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The hostname or ip address of the exposed AGM endpoints, used by BAs to connect to BA proxy.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. Identifier. The resource name.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the ManagementServer instance (2048 characters or less).",
          "type": "string"
        },
        "workforceIdentityBasedOauth2ClientId": {
          "$ref": "WorkforceIdentityBasedOAuth2ClientID",
          "description": "Output only. The OAuth client IDs for both types of user i.e. 1p and 3p.",
          "readOnly": true
        },
        "managementUri": {
          "readOnly": true,
          "description": "Output only. The hostname or ip address of the exposed AGM endpoints, used by clients to connect to AGM/RD graphical user interface and APIs.",
          "$ref": "ManagementURI"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "The instance is being created.",
            "The instance has been created and is fully usable.",
            "The instance configuration is being updated. Certain kinds of updates may cause the instance to become unusable while the update is in progress.",
            "The instance is being deleted.",
            "The instance is being repaired and may be unstable.",
            "Maintenance is being performed on this instance.",
            "The instance is experiencing an issue and might be unusable. You can get further details from the statusMessage field of Instance resource."
          ],
          "description": "Output only. The ManagementServer state.",
          "enum": [
            "INSTANCE_STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "REPAIRING",
            "MAINTENANCE",
            "ERROR"
          ]
        },
        "updateTime": {
          "description": "Output only. The time when the instance was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "oauth2ClientId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The OAuth 2.0 client id is required to make API calls to the Backup and DR instance API of this ManagementServer. This is the value that should be provided in the 'aud' field of the OIDC ID Token (see openid specification https://openid.net/specs/openid-connect-core-1_0.html#IDToken)."
        },
        "networks": {
          "description": "Optional. VPC networks to which the ManagementServer instance is connected. For this version, only a single network is supported. This field is optional if MS is created without PSA",
          "items": {
            "$ref": "NetworkConfig"
          },
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "workforceIdentityBasedManagementUri": {
          "description": "Output only. The hostnames of the exposed AGM endpoints for both types of user i.e. 1p and 3p, used to connect AGM/RM UI.",
          "$ref": "WorkforceIdentityBasedManagementURI",
          "readOnly": true
        }
      },
      "description": "ManagementServer describes a single BackupDR ManagementServer instance.",
      "id": "ManagementServer"
    },
    "FetchUsableBackupVaultsResponse": {
      "properties": {
        "backupVaults": {
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "BackupVault"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FetchUsableBackupVaultsResponse",
      "description": "Response message for fetching usable BackupVaults."
    },
    "BackupPlanAssociation": {
      "properties": {
        "filestoreInstanceBackupPlanAssociationProperties": {
          "readOnly": true,
          "$ref": "FilestoreInstanceBackupPlanAssociationProperties",
          "description": "Output only. Filestore instance's backup plan association properties."
        },
        "cloudSqlInstanceBackupPlanAssociationProperties": {
          "readOnly": true,
          "description": "Output only. Cloud SQL instance's backup plan association properties.",
          "$ref": "CloudSqlInstanceBackupPlanAssociationProperties"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created."
        },
        "rulesConfigInfo": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The config info related to backup rules.",
          "items": {
            "$ref": "RuleConfigInfo"
          }
        },
        "updateTime": {
          "description": "Output only. The time when the instance was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "resourceType": {
          "description": "Required. Immutable. Resource type of workload on which backupplan is applied",
          "type": "string"
        },
        "backupPlan": {
          "description": "Required. Resource name of backup plan which needs to be applied on workload. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}",
          "type": "string"
        },
        "backupPlanRevisionName": {
          "description": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`",
          "readOnly": true,
          "type": "string"
        },
        "resource": {
          "description": "Required. Immutable. Resource name of workload on which the backup plan is applied. The format can either be the resource name (e.g., \"projects/my-project/zones/us-central1-a/instances/my-instance\") or the full resource URI (e.g., \"https://www.googleapis.com/compute/v1/projects/my-project/zones/us-central1-a/instances/my-instance\").",
          "type": "string"
        },
        "state": {
          "description": "Output only. The BackupPlanAssociation resource state.",
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable.",
            "The resource is being updated."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "UPDATING"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of BackupPlanAssociation in below format Format : projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}"
        },
        "dataSource": {
          "description": "Output only. Resource name of data source which will be used as storage location for backups taken. Format : projects/{project}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}",
          "readOnly": true,
          "type": "string"
        },
        "alloydbClusterBackupPlanAssociationProperties": {
          "readOnly": true,
          "description": "Output only. AlloyDB cluster's backup plan association properties.",
          "$ref": "AlloyDBClusterBackupPlanAssociationProperties"
        },
        "backupPlanRevisionId": {
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "BackupPlanAssociation",
      "description": "A BackupPlanAssociation represents a single BackupPlanAssociation which contains details like workload, backup plan etc"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "RegionDiskTargetEnvironment": {
      "id": "RegionDiskTargetEnvironment",
      "description": "RegionDiskTargetEnvironment represents the target environment for the disk.",
      "properties": {
        "project": {
          "description": "Required. Target project for the disk.",
          "type": "string"
        },
        "replicaZones": {
          "type": "array",
          "description": "Required. Target URLs of the replica zones for the disk.",
          "items": {
            "type": "string"
          }
        },
        "region": {
          "description": "Required. Target region for the disk.",
          "type": "string"
        },
        "useProjectServiceAccount": {
          "description": "Optional. Whether to use the project service account for the disk restore.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ComputeInstanceBackupPlanProperties": {
      "id": "ComputeInstanceBackupPlanProperties",
      "description": "Properties for a compute instance backup plan.",
      "properties": {
        "guestFlush": {
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. AdditionalInfo contains additional Info related to backup plan association resource."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to 'Code.CANCELLED'."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        }
      },
      "type": "object"
    },
    "AccessConfig": {
      "type": "object",
      "properties": {
        "publicPtrDomainName": {
          "description": "Optional. The DNS domain name for the public PTR record.",
          "type": "string"
        },
        "externalIpv6PrefixLength": {
          "description": "Optional. The prefix length of the external IPv6 range.",
          "type": "integer",
          "format": "int32"
        },
        "setPublicPtr": {
          "description": "Optional. Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "ONE_TO_ONE_NAT",
            "Direct IPv6 access."
          ],
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "ONE_TO_ONE_NAT",
            "DIRECT_IPV6"
          ],
          "description": "Optional. In accessConfigs (IPv4), the default and only option is ONE_TO_ONE_NAT. In ipv6AccessConfigs, the default and only option is DIRECT_IPV6."
        },
        "natIP": {
          "description": "Optional. The external IP address of this access configuration.",
          "type": "string"
        },
        "externalIpv6": {
          "description": "Optional. The external IPv6 address of this access configuration.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The name of this access configuration.",
          "type": "string"
        },
        "networkTier": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "High quality, Google-grade network tier, support for all networking products.",
            "Public internet quality, only limited support for other networking products."
          ],
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "PREMIUM",
            "STANDARD"
          ],
          "description": "Optional. This signifies the networking tier used for configuring this access"
        }
      },
      "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported.",
      "id": "AccessConfig"
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "description": "A specification of the type and number of accelerator cards attached to the instance.",
      "properties": {
        "acceleratorType": {
          "description": "Optional. Full or partial URL of the accelerator type resource to attach to this instance.",
          "type": "string"
        },
        "acceleratorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of the guest accelerator cards exposed to this instance."
        }
      },
      "type": "object"
    },
    "RuleConfigInfo": {
      "description": "Message for rules config info.",
      "id": "RuleConfigInfo",
      "type": "object",
      "properties": {
        "ruleId": {
          "description": "Output only. Backup Rule id fetched from backup plan.",
          "readOnly": true,
          "type": "string"
        },
        "lastBackupError": {
          "$ref": "Status",
          "description": "Output only. google.rpc.Status object to store the last backup error.",
          "readOnly": true
        },
        "lastSuccessfulBackupConsistencyTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The point in time when the last successful backup was captured from the source."
        },
        "lastBackupState": {
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "PERMISSION_DENIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State not set.",
            "The first backup is pending.",
            "The most recent backup could not be run/failed because of the lack of permissions.",
            "The last backup operation succeeded.",
            "The last backup operation failed."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last backup state for rule."
        }
      }
    },
    "GcpResource": {
      "id": "GcpResource",
      "description": "Minimum details to identify a Google Cloud resource",
      "properties": {
        "location": {
          "description": "Location of the resource: //\"global\"/\"unspecified\".",
          "type": "string"
        },
        "type": {
          "description": "Type of the resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance.",
          "type": "string"
        },
        "gcpResourcename": {
          "description": "Name of the Google Cloud resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudSqlInstanceBackupPlanAssociationProperties": {
      "type": "object",
      "properties": {
        "instanceCreateTime": {
          "description": "Output only. The time when the instance was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Cloud SQL instance's BPA properties.",
      "id": "CloudSqlInstanceBackupPlanAssociationProperties"
    },
    "AdvancedMachineFeatures": {
      "id": "AdvancedMachineFeatures",
      "description": "Specifies options for controlling advanced machine features.",
      "properties": {
        "enableUefiNetworking": {
          "description": "Optional. Whether to enable UEFI networking for instance creation.",
          "type": "boolean"
        },
        "visibleCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of physical cores to expose to an instance. Multiply by the number of threads per core to compute the total number of virtual CPUs to expose to the instance. If unset, the number of cores is inferred from the instance's nominal CPU count and the underlying platform's SMT width."
        },
        "threadsPerCore": {
          "description": "Optional. The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed.",
          "type": "integer",
          "format": "int32"
        },
        "enableNestedVirtualization": {
          "description": "Optional. Whether to enable nested virtualization or not (default is false).",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "BackupDrTemplateConfig": {
      "properties": {
        "firstPartyManagementUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the BackupDr template resource for the first party identity users."
        },
        "thirdPartyManagementUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the BackupDr template resource for the third party identity users."
        }
      },
      "type": "object",
      "id": "BackupDrTemplateConfig",
      "description": "Provides additional information about Google Cloud Backup and DR's Template backup configuration."
    },
    "Status": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "StandardSchedule": {
      "description": "`StandardSchedule` defines a schedule that run within the confines of a defined window of days. We can define recurrence type for schedule as HOURLY, DAILY, WEEKLY, MONTHLY or YEARLY.",
      "id": "StandardSchedule",
      "type": "object",
      "properties": {
        "hourlyFrequency": {
          "description": "Optional. Specifies frequency for hourly backups. A hourly frequency of 1 means jobs will run every 1 hour from start time till end time defined. This is required for `recurrence_type`, `HOURLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `HOURLY`. The supported values for each resource type are as follows: * `compute.googleapis.com/Instance`: 1-23 * `compute.googleapis.com/Disk`: 1-23 * `sqladmin.googleapis.com/Instance`: 6-23 * `alloydb.googleapis.com/Cluster`: 1-23 * `file.googleapis.com/Instance`: 1-23 Refer to link https://cloud.google.com/backup-disaster-recovery/docs/concepts/cloud_best_practices for more details.",
          "type": "integer",
          "format": "int32"
        },
        "months": {
          "description": "Optional. Specifies the months of year, like `FEBRUARY` and/or `MAY`, on which jobs will run. This field is only applicable when `recurrence_type` is `YEARLY`. A validation error will occur if other values are supplied.",
          "items": {
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ],
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "daysOfWeek": {
          "description": "Optional. Specifies days of week like, MONDAY or TUESDAY, on which jobs will run. This is required for `recurrence_type`, `WEEKLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `WEEKLY`.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          },
          "type": "array"
        },
        "weekDayOfMonth": {
          "$ref": "WeekDayOfMonth",
          "description": "Optional. Specifies a week day of the month like, FIRST SUNDAY or LAST MONDAY, on which jobs will run. This will be specified by two fields in `WeekDayOfMonth`, one for the day, e.g. `MONDAY`, and one for the week, e.g. `LAST`. This field is only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied."
        },
        "recurrenceType": {
          "enumDescriptions": [
            "recurrence type not set",
            "The `BackupRule` is to be applied hourly.",
            "The `BackupRule` is to be applied daily.",
            "The `BackupRule` is to be applied weekly.",
            "The `BackupRule` is to be applied monthly.",
            "The `BackupRule` is to be applied yearly."
          ],
          "enum": [
            "RECURRENCE_TYPE_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY"
          ],
          "type": "string",
          "description": "Required. Specifies the `RecurrenceType` for the schedule."
        },
        "daysOfMonth": {
          "type": "array",
          "description": "Optional. Specifies days of months like 1, 5, or 14 on which jobs will run. Values for `days_of_month` are only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "backupWindow": {
          "$ref": "BackupWindow",
          "description": "Required. A BackupWindow defines the window of day during which backup jobs will run. Jobs are queued at the beginning of the window and will be marked as `NOT_RUN` if they do not start by the end of the window. Note: running jobs will not be cancelled at the end of the window."
        },
        "timeZone": {
          "description": "Required. The time zone to be used when interpreting the schedule. The value of this field must be a time zone name from the IANA tz database. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the list of valid timezone names. For example, Europe/Paris.",
          "type": "string"
        }
      }
    },
    "CloudSqlInstanceBackupProperties": {
      "properties": {
        "instanceCreateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The instance creation timestamp."
        },
        "sourceInstance": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source instance of the backup. Format: projects/{project}/instances/{instance}"
        },
        "databaseInstalledVersion": {
          "description": "Output only. The installed database version of the Cloud SQL instance when the backup was taken.",
          "readOnly": true,
          "type": "string"
        },
        "instanceTier": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`"
        },
        "instanceDeleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The instance delete timestamp."
        },
        "finalBackup": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the backup is a final backup."
        }
      },
      "type": "object",
      "id": "CloudSqlInstanceBackupProperties",
      "description": "CloudSqlInstanceBackupProperties represents Cloud SQL Instance Backup properties."
    },
    "GuestOsFeature": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value, which is unused.",
            "VIRTIO_SCSI_MULTIQUEUE feature type.",
            "WINDOWS feature type.",
            "MULTI_IP_SUBNET feature type.",
            "UEFI_COMPATIBLE feature type.",
            "SECURE_BOOT feature type.",
            "GVNIC feature type.",
            "SEV_CAPABLE feature type.",
            "BARE_METAL_LINUX_COMPATIBLE feature type.",
            "SUSPEND_RESUME_COMPATIBLE feature type.",
            "SEV_LIVE_MIGRATABLE feature type.",
            "SEV_SNP_CAPABLE feature type.",
            "TDX_CAPABLE feature type.",
            "IDPF feature type.",
            "SEV_LIVE_MIGRATABLE_V2 feature type."
          ],
          "enum": [
            "FEATURE_TYPE_UNSPECIFIED",
            "VIRTIO_SCSI_MULTIQUEUE",
            "WINDOWS",
            "MULTI_IP_SUBNET",
            "UEFI_COMPATIBLE",
            "SECURE_BOOT",
            "GVNIC",
            "SEV_CAPABLE",
            "BARE_METAL_LINUX_COMPATIBLE",
            "SUSPEND_RESUME_COMPATIBLE",
            "SEV_LIVE_MIGRATABLE",
            "SEV_SNP_CAPABLE",
            "TDX_CAPABLE",
            "IDPF",
            "SEV_LIVE_MIGRATABLE_V2"
          ],
          "description": "The ID of a supported feature."
        }
      },
      "type": "object",
      "id": "GuestOsFeature",
      "description": "Feature type of the Guest OS."
    },
    "Binding": {
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CloudSqlInstanceDataSourceProperties": {
      "id": "CloudSqlInstanceDataSourceProperties",
      "description": "CloudSqlInstanceDataSourceProperties represents the properties of a Cloud SQL resource that are stored in the DataSource.",
      "properties": {
        "name": {
          "description": "Output only. Name of the Cloud SQL instance backed up by the datasource. Format: projects/{project}/instances/{instance}",
          "readOnly": true,
          "type": "string"
        },
        "databaseInstalledVersion": {
          "description": "Output only. The installed database version of the Cloud SQL instance.",
          "readOnly": true,
          "type": "string"
        },
        "instanceCreateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The instance creation timestamp."
        },
        "instanceTier": {
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ManagementURI": {
      "description": "ManagementURI for the Management Server resource.",
      "id": "ManagementURI",
      "type": "object",
      "properties": {
        "api": {
          "description": "Output only. The ManagementServer AGM/RD API URL.",
          "readOnly": true,
          "type": "string"
        },
        "webUi": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ManagementServer AGM/RD WebUI URL."
        }
      }
    },
    "NodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled.",
      "id": "NodeAffinity",
      "type": "object",
      "properties": {
        "key": {
          "description": "Optional. Corresponds to the label key of Node resource.",
          "type": "string"
        },
        "values": {
          "type": "array",
          "description": "Optional. Corresponds to the label values of Node resource.",
          "items": {
            "type": "string"
          }
        },
        "operator": {
          "description": "Optional. Defines the operation of node selection.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Requires Compute Engine to seek for matched nodes.",
            "Requires Compute Engine to avoid certain nodes."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        }
      }
    },
    "InitializeParams": {
      "description": "Specifies the parameters to initialize this disk.",
      "id": "InitializeParams",
      "type": "object",
      "properties": {
        "replicaZones": {
          "description": "Optional. URL of the zone where the disk should be created. Required for each regional disk associated with the instance.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "diskName": {
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance.",
          "type": "string"
        }
      }
    },
    "BackupRule": {
      "properties": {
        "backupRetentionDays": {
          "description": "Required. Configures the duration for which backup data will be kept. It is defined in “days”. The value should be greater than or equal to minimum enforced retention of the backup vault. Minimum value is 1 and maximum value is 36159 for custom retention on-demand backup. Minimum and maximum values are workload specific for all other rules. Note: Longer retention can lead to higher storage costs post introductory trial. We recommend starting with a short duration of 3 days or less.",
          "type": "integer",
          "format": "int32"
        },
        "ruleId": {
          "description": "Required. Immutable. The unique id of this `BackupRule`. The `rule_id` is unique per `BackupPlan`.The `rule_id` must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens. Pattern, /a-z{,62}/.",
          "type": "string"
        },
        "standardSchedule": {
          "description": "Optional. Defines a schedule that runs within the confines of a defined window of time.",
          "$ref": "StandardSchedule"
        }
      },
      "type": "object",
      "id": "BackupRule",
      "description": "`BackupRule` binds the backup schedule to a retention policy."
    },
    "ListBackupPlansResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlans` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "backupPlans": {
          "type": "array",
          "description": "The list of `BackupPlans` in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of resources from all locations. In case any location is unreachable, the response will only return backup plans in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations. BackupPlan",
          "items": {
            "$ref": "BackupPlan"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for getting a list of `BackupPlan`.",
      "id": "ListBackupPlansResponse"
    },
    "DataSource": {
      "id": "DataSource",
      "description": "Message describing a DataSource object. Datasource object used to represent Datasource details for both admin and basic view.",
      "properties": {
        "dataSourceGcpResource": {
          "$ref": "DataSourceGcpResource",
          "description": "The backed up resource is a Google Cloud resource. The word 'DataSource' was included in the names to indicate that this is the representation of the Google Cloud resource used within the DataSource object."
        },
        "dataSourceBackupApplianceApplication": {
          "$ref": "DataSourceBackupApplianceApplication",
          "description": "The backed up resource is a backup appliance application."
        },
        "etag": {
          "description": "Server specified ETag for the ManagementServer resource to prevent simultaneous updates from overwiting each other.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined:",
          "additionalProperties": {
            "type": "string"
          }
        },
        "backupBlockedByVaultAccessRestriction": {
          "description": "Output only. This field is set to true if the backup is blocked by vault access restriction.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Identifier. Name of the datasource to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}\"`. `{datasource}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the backup vault.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "State not set.",
            "The data source is being created.",
            "The data source has been created and is fully usable.",
            "The data source is being deleted.",
            "The data source is experiencing an issue and might be unusable."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The DataSource resource instance state."
        },
        "backupCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of backups in the data source."
        },
        "totalStoredBytes": {
          "type": "string",
          "format": "int64",
          "description": "The number of bytes (metadata and data) stored in this datasource."
        },
        "configState": {
          "enum": [
            "BACKUP_CONFIG_STATE_UNSPECIFIED",
            "ACTIVE",
            "PASSIVE"
          ],
          "description": "Output only. The backup configuration state.",
          "enumDescriptions": [
            "The possible states of backup configuration. Status not set.",
            "The data source is actively protected (i.e. there is a BackupPlanAssociation or Appliance SLA pointing to it)",
            "The data source is no longer protected (but may have backups under it)"
          ],
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the instance was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time when the instance was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "backupConfigInfo": {
          "description": "Output only. Details of how the resource is configured for backup.",
          "$ref": "BackupConfigInfo",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "FetchAccessTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "description": "Input only. The downscoped token that was created.",
          "type": "string"
        },
        "expireTime": {
          "description": "The token is valid until this time.",
          "type": "string",
          "format": "google-datetime"
        },
        "writeLocation": {
          "description": "The location in bucket that can be used for writing.",
          "type": "string"
        },
        "readLocation": {
          "description": "The location in bucket that can be used for reading.",
          "type": "string"
        }
      },
      "description": "Response message for FetchAccessToken.",
      "id": "FetchAccessTokenResponse"
    },
    "FetchMsComplianceMetadataResponse": {
      "properties": {
        "isAssuredWorkload": {
          "description": "The ms compliance metadata of the target project, if the project is an Assured Workloads project, values will be true, otherwise false.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "FetchMsComplianceMetadataResponse",
      "description": "Response message for GetMsComplianceMetadata"
    },
    "NetworkInterface": {
      "description": "A network interface resource attached to an instance. s",
      "id": "NetworkInterface",
      "type": "object",
      "properties": {
        "subnetwork": {
          "description": "Optional. The URL of the Subnetwork resource for this instance.",
          "type": "string"
        },
        "ipv6Address": {
          "description": "Optional. An IPv6 internal network address for this network interface. To use a static internal IP address, it must be unused and in the same region as the instance's zone. If not specified, Google Cloud will automatically assign an internal IPv6 address from the instance's subnetwork.",
          "type": "string"
        },
        "ipv6AccessType": {
          "type": "string",
          "enumDescriptions": [
            "IPv6 access type not set. Means this network interface hasn't been turned on IPv6 yet.",
            "This network interface can have internal IPv6.",
            "This network interface can have external IPv6."
          ],
          "enum": [
            "UNSPECIFIED_IPV6_ACCESS_TYPE",
            "INTERNAL",
            "EXTERNAL"
          ],
          "description": "Optional. [Output Only] One of EXTERNAL, INTERNAL to indicate whether the IP can be accessed from the Internet. This field is always inherited from its subnetwork."
        },
        "ipv6AccessConfigs": {
          "description": "Optional. An array of IPv6 access configurations for this interface. Currently, only one IPv6 access config, DIRECT_IPV6, is supported. If there is no ipv6AccessConfig specified, then this instance will have no external IPv6 Internet access.",
          "items": {
            "$ref": "AccessConfig"
          },
          "type": "array"
        },
        "aliasIpRanges": {
          "type": "array",
          "description": "Optional. An array of alias IP ranges for this network interface. You can only specify this field for network interfaces in VPC networks.",
          "items": {
            "$ref": "AliasIpRange"
          }
        },
        "internalIpv6PrefixLength": {
          "description": "Optional. The prefix length of the primary internal IPv6 range.",
          "type": "integer",
          "format": "int32"
        },
        "nicType": {
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet.",
          "type": "string",
          "enumDescriptions": [
            "Default should be NIC_TYPE_UNSPECIFIED.",
            "VIRTIO",
            "GVNIC"
          ],
          "enum": [
            "NIC_TYPE_UNSPECIFIED",
            "VIRTIO_NET",
            "GVNIC"
          ]
        },
        "networkAttachment": {
          "description": "Optional. The URL of the network attachment that this interface should connect to in the following format: projects/{project_number}/regions/{region_name}/networkAttachments/{network_attachment_name}.",
          "type": "string"
        },
        "network": {
          "description": "Optional. URL of the VPC network resource for this instance.",
          "type": "string"
        },
        "queueCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The networking queue count that's specified by users for the network interface. Both Rx and Tx queues will be set to this number. It'll be empty if not specified by the users."
        },
        "stackType": {
          "enumDescriptions": [
            "Default should be STACK_TYPE_UNSPECIFIED.",
            "The network interface will be assigned IPv4 address.",
            "The network interface can have both IPv4 and IPv6 addresses."
          ],
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4_ONLY",
            "IPV4_IPV6"
          ],
          "type": "string",
          "description": "The stack type for this network interface."
        },
        "networkIP": {
          "description": "Optional. An IPv4 internal IP address to assign to the instance for this network interface. If not specified by the user, an unused internal IP is assigned by the system.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output Only] The name of the network interface, which is generated by the server."
        },
        "accessConfigs": {
          "type": "array",
          "description": "Optional. An array of configurations for this interface. Currently, only one access config,ONE_TO_ONE_NAT is supported. If there are no accessConfigs specified, then this instance will have no external internet access.",
          "items": {
            "$ref": "AccessConfig"
          }
        }
      }
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "description": "Response message for listing Backups.",
      "properties": {
        "backups": {
          "description": "The list of Backup instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BackupDrPlanConfig": {
      "id": "BackupDrPlanConfig",
      "description": "BackupDrPlanConfig has additional information about Google Cloud Backup and DR's Plan backup configuration.",
      "properties": {
        "backupDrPlanRules": {
          "type": "array",
          "description": "Backup rules of the backup plan resource.",
          "items": {
            "$ref": "BackupDrPlanRule"
          }
        }
      },
      "type": "object"
    },
    "FetchResourceBackupConfigsResponse": {
      "type": "object",
      "properties": {
        "resourceBackupConfigs": {
          "description": "The list of ResourceBackupConfigs for the specified scope.",
          "items": {
            "$ref": "ResourceBackupConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response for FetchResourceBackupConfigs.",
      "id": "FetchResourceBackupConfigsResponse"
    },
    "Trial": {
      "id": "Trial",
      "description": "Represents a Trial for a project.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the trial. Format: projects/{project}/locations/{location}/trial",
          "type": "string"
        },
        "endReason": {
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason for ending the trial.",
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ]
        },
        "endTime": {
          "description": "Output only. The time when the trial will expire.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUBSCRIBED",
            "UNSUBSCRIBED",
            "EXPIRED",
            "ELIGIBLE",
            "NOT_ELIGIBLE"
          ],
          "enumDescriptions": [
            "State not set.",
            "Trial is subscribed.",
            "Trial is unsubscribed before expiration.",
            "Trial is expired post 30 days of subscription.",
            "Trial is eligible for enablement.",
            "Trial is not eligible for enablement."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the trial."
        },
        "startTime": {
          "description": "Output only. The time when the trial was subscribed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "Network configuration for ManagementServer instance.",
      "properties": {
        "network": {
          "description": "Optional. The resource name of the Google Compute Engine VPC network to which the ManagementServer instance is connected.",
          "type": "string"
        },
        "peeringMode": {
          "type": "string",
          "enumDescriptions": [
            "Peering mode not set.",
            "Connect using Private Service Access to the Management Server. Private services access provides an IP address range for multiple Google Cloud services, including Google Cloud Backup and DR."
          ],
          "enum": [
            "PEERING_MODE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS"
          ],
          "description": "Optional. The network connect mode of the ManagementServer instance. For this version, only PRIVATE_SERVICE_ACCESS is supported."
        }
      },
      "type": "object"
    },
    "DiskTargetEnvironment": {
      "properties": {
        "zone": {
          "description": "Required. Target zone for the disk.",
          "type": "string"
        },
        "useProjectServiceAccount": {
          "description": "Optional. Whether to use the project service account for the disk restore.",
          "type": "boolean"
        },
        "project": {
          "description": "Required. Target project for the disk.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DiskTargetEnvironment",
      "description": "DiskTargetEnvironment represents the target environment for the disk."
    },
    "ListDataSourceReferencesResponse": {
      "id": "ListDataSourceReferencesResponse",
      "description": "Response for the ListDataSourceReferences method.",
      "properties": {
        "dataSourceReferences": {
          "type": "array",
          "description": "The DataSourceReferences from the specified parent.",
          "items": {
            "$ref": "DataSourceReference"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AllocationAffinity": {
      "id": "AllocationAffinity",
      "description": "Specifies the reservations that this instance can consume from.",
      "properties": {
        "consumeReservationType": {
          "description": "Optional. Specifies the type of reservation from which this instance can consume",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Do not consume from any allocated capacity.",
            "Consume any allocation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ]
        },
        "key": {
          "description": "Optional. Corresponds to the label key of a reservation resource.",
          "type": "string"
        },
        "values": {
          "description": "Optional. Corresponds to the label values of a reservation resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ComputeInstanceBackupProperties": {
      "properties": {
        "description": {
          "description": "An optional text description for the instances that are created from these properties.",
          "type": "string"
        },
        "disk": {
          "type": "array",
          "description": "An array of disks that are associated with the instances that are created from these properties.",
          "items": {
            "$ref": "AttachedDisk"
          }
        },
        "serviceAccount": {
          "type": "array",
          "description": "A list of service accounts with specified scopes. Access tokens for these service accounts are available to the instances that are created from these properties. Use metadata queries to obtain the access tokens for these instances.",
          "items": {
            "$ref": "ServiceAccount"
          }
        },
        "canIpForward": {
          "description": "Enables instances created based on these properties to send packets with source IP addresses other than their own and receive packets with destination IP addresses other than their own. If these instances will be used as an IP gateway or it will be set as the next-hop in a Route resource, specify `true`. If unsure, leave this set to `false`. See the https://cloud.google.com/vpc/docs/using-routes#canipforward documentation for more information.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to apply to instances that are created from these properties.",
          "type": "object"
        },
        "networkInterface": {
          "type": "array",
          "description": "An array of network access configurations for this interface.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "metadata": {
          "$ref": "Metadata",
          "description": "The metadata key/value pairs to assign to instances that are created from these properties. These pairs can consist of custom metadata or predefined keys. See https://cloud.google.com/compute/docs/metadata/overview for more information."
        },
        "sourceInstance": {
          "description": "The source instance used to create this backup. This can be a partial or full URL to the resource. For example, the following are valid values: -https://www.googleapis.com/compute/v1/projects/project/zones/zone/instances/instance -projects/project/zones/zone/instances/instance",
          "type": "string"
        },
        "scheduling": {
          "$ref": "Scheduling",
          "description": "Specifies the scheduling options for the instances that are created from these properties."
        },
        "guestFlush": {
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false.",
          "type": "boolean"
        },
        "tags": {
          "$ref": "Tags",
          "description": "A list of tags to apply to the instances that are created from these properties. The tags identify valid sources or targets for network firewalls. The setTags method can modify this list of tags. Each tag within the list must comply with RFC1035 (https://www.ietf.org/rfc/rfc1035.txt)."
        },
        "guestAccelerator": {
          "type": "array",
          "description": "A list of guest accelerator cards' type and count to use for instances created from these properties.",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "minCpuPlatform": {
          "description": "Minimum cpu/platform to be used by instances. The instance may be scheduled on the specified or newer cpu/platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: Intel Haswell` or `minCpuPlatform: Intel Sandy Bridge`. For more information, read https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to use for instances that are created from these properties.",
          "type": "string"
        },
        "keyRevocationActionType": {
          "description": "KeyRevocationActionType of the instance. Supported options are \"STOP\" and \"NONE\". The default value is \"NONE\" if it is not specified.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Indicates user chose no operation.",
            "Indicates user chose to opt for VM shutdown on key revocation."
          ],
          "enum": [
            "KEY_REVOCATION_ACTION_TYPE_UNSPECIFIED",
            "NONE",
            "STOP"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ComputeInstanceBackupProperties",
      "description": "ComputeInstanceBackupProperties represents Compute Engine instance backup properties."
    },
    "ServiceAccount": {
      "description": "A service account.",
      "id": "ServiceAccount",
      "type": "object",
      "properties": {
        "email": {
          "description": "Optional. Email address of the service account.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "description": "Optional. The list of scopes to be made available for this service account.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ComputeInstanceDataSourceProperties": {
      "description": "ComputeInstanceDataSourceProperties represents the properties of a ComputeEngine resource that are stored in the DataSource.",
      "id": "ComputeInstanceDataSourceProperties",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the Compute Engine instance.",
          "type": "string"
        },
        "totalDiskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "The sum of all the disk sizes."
        },
        "machineType": {
          "description": "The machine type of the instance.",
          "type": "string"
        },
        "totalDiskCount": {
          "description": "The total number of disks attached to the Instance.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of the compute instance backed up by the datasource.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "RemoveDataSourceRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Message for deleting a DataSource.",
      "id": "RemoveDataSourceRequest"
    },
    "Tags": {
      "description": "A set of instance tags.",
      "id": "Tags",
      "type": "object",
      "properties": {
        "items": {
          "description": "Optional. An array of tags. Each tag must be 1-63 characters long, and comply with RFC1035.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
[...]
