{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-backupdr": {
          "description": "See, edit, configure, and delete your Google Cloud Backup and DR data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://backupdr.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ListDataSourcesResponse": {
      "description": "Response message for listing DataSources.",
      "properties": {
        "dataSources": {
          "type": "array",
          "items": {
            "$ref": "DataSource"
          },
          "description": "The list of DataSource instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListDataSourcesResponse",
      "type": "object"
    },
    "DiskBackupProperties": {
      "type": "object",
      "id": "DiskBackupProperties",
      "description": "DiskBackupProperties represents the properties of a Disk backup.",
      "properties": {
        "storagePool": {
          "description": "The storage pool of the source disk.",
          "type": "string"
        },
        "enableConfidentialCompute": {
          "description": "Indicates whether the source disk is using confidential compute mode.",
          "type": "boolean"
        },
        "licenses": {
          "description": "A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "description": "The URL of the type of the disk.",
          "type": "string"
        },
        "guestOsFeature": {
          "description": "A list of guest OS features that are applicable to this backup.",
          "type": "array",
          "items": {
            "$ref": "GuestOsFeature"
          }
        },
        "physicalBlockSizeBytes": {
          "type": "string",
          "description": "The physical block size of the source disk.",
          "format": "int64"
        },
        "guestFlush": {
          "description": "Optional. Defines if the guest flush is enabled for the source disk. Default value is false.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "description": "The labels of the source disk.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "A description of the source disk.",
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ],
          "description": "The architecture of the source disk. Valid values are ARM64 or X86_64."
        },
        "sizeGb": {
          "description": "Size(in GB) of the source disk.",
          "format": "int64",
          "type": "string"
        },
        "zone": {
          "description": "The URL of the Zone where the source disk.",
          "type": "string"
        },
        "provisionedIops": {
          "description": "The number of IOPS provisioned for the source disk.",
          "format": "int64",
          "type": "string"
        },
        "sourceDisk": {
          "description": "The source disk used to create this backup.",
          "type": "string"
        },
        "accessMode": {
          "description": "The access mode of the source disk.",
          "type": "string"
        },
        "region": {
          "description": "Region and zone are mutually exclusive fields. The URL of the region of the source disk.",
          "type": "string"
        },
        "replicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The URL of the Zones where the source disk should be replicated."
        },
        "provisionedThroughput": {
          "type": "string",
          "description": "The number of throughput provisioned for the source disk.",
          "format": "int64"
        }
      }
    },
    "ResourceBackupConfig": {
      "type": "object",
      "id": "ResourceBackupConfig",
      "description": "ResourceBackupConfig represents a resource along with its backup configurations.",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the cloud resource that this configuration applies to. Supported resource types are ResourceBackupConfig.ResourceType.",
          "readOnly": true
        },
        "targetResourceDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The human friendly name of the target resource."
        },
        "targetResourceType": {
          "description": "Output only. The type of the target resource.",
          "readOnly": true,
          "enumDescriptions": [
            "Resource type not set.",
            "Cloud SQL instance.",
            "Compute Engine VM.",
            "Compute Engine Disk.",
            "Compute Engine Regional Disk.",
            "Filestore Instance."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "COMPUTE_ENGINE_VM",
            "COMPUTE_ENGINE_DISK",
            "COMPUTE_ENGINE_REGIONAL_DISK",
            "FILESTORE_INSTANCE"
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the ResourceBackupConfig. Format: projects/{project}/locations/{location}/resourceBackupConfigs/{uid}",
          "type": "string"
        },
        "backupConfigsDetails": {
          "type": "array",
          "items": {
            "$ref": "BackupConfigDetails"
          },
          "description": "Backup configurations applying to the target resource, including those targeting its related/child resources. For example, backup configuration applicable to Compute Engine disks will be populated in this field for a Compute Engine VM which has the disk associated."
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource backup config.",
          "readOnly": true,
          "type": "string"
        },
        "vaulted": {
          "readOnly": true,
          "description": "Output only. Whether the target resource is protected by a backup vault. This is true if the backup_configs_details is not empty and any of the ResourceBackupConfig.backup_configs_details has a backup configuration with BackupConfigDetails.backup_vault set.",
          "type": "boolean"
        },
        "backupConfigured": {
          "readOnly": true,
          "description": "Output only. Whether the target resource is configured for backup. This is true if the backup_configs_details is not empty.",
          "type": "boolean"
        },
        "targetResourceLabels": {
          "description": "Labels associated with the target resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "FetchUsableBackupVaultsResponse": {
      "id": "FetchUsableBackupVaultsResponse",
      "description": "Response message for fetching usable BackupVaults.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "backupVaults": {
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "BackupVault"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EncryptionConfig": {
      "type": "object",
      "id": "EncryptionConfig",
      "description": "Message describing the EncryptionConfig of backup vault. This determines how data within the vault is encrypted at rest.",
      "properties": {
        "kmsKeyName": {
          "description": "Optional. The Cloud KMS key name to encrypt backups in this backup vault. Must be in the same region as the vault. Some workload backups like compute disk backups may use their inherited source key instead. Format: projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}",
          "type": "string"
        }
      }
    },
    "AlloyDBClusterBackupPlanAssociationProperties": {
      "type": "object",
      "id": "AlloyDBClusterBackupPlanAssociationProperties",
      "description": "Properties for an AlloyDB cluster backup plan association.",
      "properties": {
        "clusterUid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The cluster UID of the AlloyDB cluster."
        }
      }
    },
    "FetchAccessTokenResponse": {
      "type": "object",
      "description": "Response message for FetchAccessToken.",
      "properties": {
        "readLocation": {
          "description": "The location in bucket that can be used for reading.",
          "type": "string"
        },
        "writeLocation": {
          "description": "The location in bucket that can be used for writing.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "The token is valid until this time.",
          "format": "google-datetime"
        },
        "token": {
          "description": "Input only. The downscoped token that was created.",
          "type": "string"
        }
      },
      "id": "FetchAccessTokenResponse"
    },
    "Tags": {
      "type": "object",
      "description": "A set of instance tags.",
      "properties": {
        "items": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. An array of tags. Each tag must be 1-63 characters long, and comply with RFC1035."
        }
      },
      "id": "Tags"
    },
    "BackupPlan": {
      "type": "object",
      "description": "A `BackupPlan` specifies some common fields, such as `description` as well as one or more `BackupRule` messages. Each `BackupRule` has a retention policy and defines a schedule by which the system is to perform backup workloads.",
      "properties": {
        "supportedResourceTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. All resource types to which backupPlan can be applied."
        },
        "computeInstanceBackupPlanProperties": {
          "description": "Optional. Defines optional properties specific to backups of compute instance-based resources, such as Compute Engine. This includes settings like whether to perform a guest flush.",
          "$ref": "ComputeInstanceBackupPlanProperties"
        },
        "resourceType": {
          "description": "Required. The resource type to which the `BackupPlan` will be applied. Examples include, \"compute.googleapis.com/Instance\", \"sqladmin.googleapis.com/Instance\", \"alloydb.googleapis.com/Cluster\", \"compute.googleapis.com/Disk\".",
          "type": "string"
        },
        "logRetentionDays": {
          "description": "Optional. Applicable only for Cloud SQL resource_type. Configures how long logs will be stored. It is defined in “days”. This value should be greater than or equal to minimum enforced log retention duration of the backup vault.",
          "format": "int64",
          "type": "string"
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. This collection of key/value pairs allows for custom labels to be supplied by the user. Example, {\"tag\": \"Weekly\"}.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. When the `BackupPlan` was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "Optional. The description of the `BackupPlan` resource. The description allows for additional details about `BackupPlan` and its use cases to be provided. An example description is the following: \"This is a backup plan that performs a daily backup at 6pm and retains data for 3 months\". The description must be at most 2048 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the `BackupPlan`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}`"
        },
        "backupVaultServiceAccount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Google Cloud service account to be used by the BackupVault for taking backups. Specify the email address of the Backup Vault Service Account."
        },
        "revisionName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`"
        },
        "etag": {
          "description": "Optional. `etag` is returned from the service in the response. As a user of the service, you may provide an etag value in this field to prevent stale resources.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the `BackupPlan` was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "maxCustomOnDemandRetentionDays": {
          "type": "integer",
          "description": "Optional. Optional field to configure the maximum number of days for which a backup can be retained. This field is only applicable for on-demand backups taken with custom retention value.",
          "format": "int32"
        },
        "diskBackupPlanProperties": {
          "description": "Optional. Defines optional properties specific to backups of disk-based resources, such as Compute Engine Persistent Disks. This includes settings like whether to perform a guest flush.",
          "$ref": "DiskBackupPlanProperties"
        },
        "backupVault": {
          "description": "Required. Resource name of backup vault which will be used as storage location for backups. Format: projects/{project}/locations/{location}/backupVaults/{backupvault}",
          "type": "string"
        },
        "backupRules": {
          "type": "array",
          "items": {
            "$ref": "BackupRule"
          },
          "description": "Optional. The backup rules for this `BackupPlan`."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable.",
            "The resource is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "UPDATING"
          ],
          "description": "Output only. The `State` for the `BackupPlan`."
        }
      },
      "id": "BackupPlan"
    },
    "ListBackupPlansResponse": {
      "id": "ListBackupPlansResponse",
      "description": "The response message for getting a list of `BackupPlan`.",
      "properties": {
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlans` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "backupPlans": {
          "type": "array",
          "items": {
            "$ref": "BackupPlan"
          },
          "description": "The list of `BackupPlans` in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of resources from all locations. In case any location is unreachable, the response will only return backup plans in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations. BackupPlan"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "ListResourceBackupConfigsResponse": {
      "description": "Response for ListResourceBackupConfigs.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "resourceBackupConfigs": {
          "description": "The list of ResourceBackupConfigs for the specified scope.",
          "type": "array",
          "items": {
            "$ref": "ResourceBackupConfig"
          }
        }
      },
      "id": "ListResourceBackupConfigsResponse",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "ServiceLockInfo": {
      "type": "object",
      "description": "ServiceLockInfo represents the details of a lock taken by the service on a Backup resource.",
      "properties": {
        "operation": {
          "type": "string",
          "description": "Output only. The name of the operation that created this lock. The lock will automatically be released when the operation completes.",
          "readOnly": true
        }
      },
      "id": "ServiceLockInfo"
    },
    "BackupConfigDetails": {
      "description": "BackupConfigDetails has information about how the resource is configured for backups and about the most recent backup taken for this configuration.",
      "properties": {
        "latestSuccessfulBackupTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the latest successful backup created via this backup configuration.",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The state of the backup config resource.",
          "readOnly": true,
          "enumDescriptions": [
            "Backup config state not set.",
            "The config is in an active state protecting the resource",
            "The config is currently not protecting the resource. Either because it is disabled or the owning project has been deleted without cleanup of the actual resource.",
            "The config still exists but because of some error state it is not protecting the resource. Like the source project is deleted. For eg. PlanAssociation, BackupPlan is deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "ERROR"
          ],
          "type": "string"
        },
        "backupConfigSource": {
          "readOnly": true,
          "description": "Output only. The full resource name of the backup config source resource. For example, \"//backupdr.googleapis.com/v1/projects/{project}/locations/{region}/backupPlans/{backupplanId}\" or \"//compute.googleapis.com/projects/{project}/locations/{region}/resourcePolicies/{resourcePolicyId}\".",
          "type": "string"
        },
        "backupConfigSourceDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the backup config source resource."
        },
        "backupVault": {
          "type": "string",
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the backup vault that will store the backups generated through this backup configuration. Example: \"//backupdr.googleapis.com/v1/projects/{project}/locations/{region}/backupVaults/{backupvaultId}\"",
          "readOnly": true
        },
        "pitrSettings": {
          "readOnly": true,
          "description": "Output only. Point in time recovery settings of the backup configuration resource.",
          "$ref": "PitrSettings"
        },
        "applicableResource": {
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the resource that is applicable for the backup configuration. Example: \"//compute.googleapis.com/projects/{project}/zones/{zone}/instances/{instance}\"",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Backup config type is unspecified.",
            "Backup config is Cloud SQL instance's automated backup config.",
            "Backup config is Compute Engine Resource Policy.",
            "Backup config is Google Cloud Backup and DR's Backup Plan.",
            "Backup config is Google Cloud Backup and DR's Template."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE_BACKUP_CONFIG",
            "COMPUTE_ENGINE_RESOURCE_POLICY",
            "BACKUPDR_BACKUP_PLAN",
            "BACKUPDR_TEMPLATE"
          ],
          "description": "Output only. The type of the backup config resource."
        },
        "backupLocations": {
          "items": {
            "$ref": "BackupLocation"
          },
          "type": "array",
          "description": "The locations where the backups are to be stored."
        },
        "backupDrTemplateConfig": {
          "description": "Google Cloud Backup and DR's Template specific data.",
          "$ref": "BackupDrTemplateConfig"
        },
        "backupDrPlanConfig": {
          "description": "Google Cloud Backup and DR's Backup Plan specific data.",
          "$ref": "BackupDrPlanConfig"
        }
      },
      "id": "BackupConfigDetails",
      "type": "object"
    },
    "TargetResource": {
      "type": "object",
      "id": "TargetResource",
      "description": "Details of the target resource created/modified as part of restore.",
      "properties": {
        "gcpResource": {
          "description": "Details of the native Google Cloud resource created as part of restore.",
          "$ref": "GcpResource"
        }
      }
    },
    "BackupPlanRevision": {
      "description": "`BackupPlanRevision` represents a snapshot of a `BackupPlan` at a point in time.",
      "properties": {
        "state": {
          "description": "Output only. Resource State",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ],
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision}`"
        },
        "backupPlanSnapshot": {
          "description": "The Backup Plan being encompassed by this revision.",
          "$ref": "BackupPlan"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp that the revision was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "BackupPlanRevision",
      "type": "object"
    },
    "SetInternalStatusResponse": {
      "type": "object",
      "id": "SetInternalStatusResponse",
      "description": "Response message from SetStatusInternal method.",
      "properties": {}
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "FetchBackupsForResourceTypeResponse": {
      "type": "object",
      "id": "FetchBackupsForResourceTypeResponse",
      "description": "Response for the FetchBackupsForResourceType method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "The Backups from the specified parent."
        }
      }
    },
    "FetchResourceBackupConfigsResponse": {
      "type": "object",
      "description": "Response for FetchResourceBackupConfigs.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "resourceBackupConfigs": {
          "description": "The list of ResourceBackupConfigs for the specified scope.",
          "items": {
            "$ref": "ResourceBackupConfig"
          },
          "type": "array"
        }
      },
      "id": "FetchResourceBackupConfigsResponse"
    },
    "ListBackupPlanAssociationsResponse": {
      "description": "Response message for List BackupPlanAssociation",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "backupPlanAssociations": {
          "items": {
            "$ref": "BackupPlanAssociation"
          },
          "type": "array",
          "description": "The list of Backup Plan Associations in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup plan associations in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListBackupPlanAssociationsResponse",
      "type": "object"
    },
    "AuditLogConfig": {
      "type": "object",
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "RemoveDataSourceRequest": {
      "type": "object",
      "id": "RemoveDataSourceRequest",
      "description": "Message for deleting a DataSource.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "GcpResource": {
      "id": "GcpResource",
      "description": "Minimum details to identify a Google Cloud resource",
      "properties": {
        "gcpResourcename": {
          "description": "Name of the Google Cloud resource.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource: //\"global\"/\"unspecified\".",
          "type": "string"
        },
        "type": {
          "description": "Type of the resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Trial": {
      "description": "Represents a Trial for a project.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the trial. Format: projects/{project}/locations/{location}/trial",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The time when the trial was subscribed.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "Trial is subscribed.",
            "Trial is unsubscribed before expiration.",
            "Trial is expired post 30 days of subscription.",
            "Trial is eligible for enablement.",
            "Trial is not eligible for enablement."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUBSCRIBED",
            "UNSUBSCRIBED",
            "EXPIRED",
            "ELIGIBLE",
            "NOT_ELIGIBLE"
          ],
          "description": "Output only. The state of the trial."
        },
        "endReason": {
          "type": "string",
          "description": "Output only. The reason for ending the trial.",
          "readOnly": true,
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ],
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ]
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time when the trial will expire.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "Trial",
      "type": "object"
    },
    "FinalizeBackupRequest": {
      "id": "FinalizeBackupRequest",
      "description": "Message for finalizing a Backup.",
      "properties": {
        "description": {
          "description": "This will be assigned to the description field of the newly created Backup.",
          "type": "string"
        },
        "consistencyTime": {
          "type": "string",
          "description": "The point in time when this backup was captured from the source. This will be assigned to the consistency_time field of the newly created Backup.",
          "format": "google-datetime"
        },
        "backupId": {
          "description": "Required. Resource ID of the Backup resource to be finalized. This must be the same backup_id that was used in the InitiateBackupRequest.",
          "type": "string"
        },
        "recoveryRangeStartTime": {
          "type": "string",
          "description": "The earliest timestamp of data available in this Backup. This will set on the newly created Backup.",
          "format": "google-datetime"
        },
        "recoveryRangeEndTime": {
          "description": "The latest timestamp of data available in this Backup. This will be set on the newly created Backup.",
          "format": "google-datetime",
          "type": "string"
        },
        "retentionDuration": {
          "type": "string",
          "description": "The ExpireTime on the backup will be set to FinalizeTime plus this duration. If the resulting ExpireTime is less than EnforcedRetentionEndTime, then ExpireTime is set to EnforcedRetentionEndTime.",
          "format": "google-duration"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TriggerBackupRequest": {
      "type": "object",
      "id": "TriggerBackupRequest",
      "description": "Request message for triggering a backup.",
      "properties": {
        "labels": {
          "description": "Optional. Labels to be applied on the backup.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "customRetentionDays": {
          "description": "Optional. The duration for which backup data will be kept, while taking an on-demand backup with custom retention. It is defined in \"days\". It is mutually exclusive with rule_id. This field is required if rule_id is not provided.",
          "format": "int32",
          "type": "integer"
        },
        "ruleId": {
          "description": "Optional. backup rule_id for which a backup needs to be triggered. If not specified, on-demand backup with custom retention will be triggered.",
          "type": "string"
        }
      }
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "AlloyDBClusterDataSourceReferenceProperties": {
      "id": "AlloyDBClusterDataSourceReferenceProperties",
      "description": "AlloyDBClusterDataSourceReferenceProperties represents the properties of an AlloyDB cluster that are stored in the DataSourceReference.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the AlloyDB cluster backed up by the datasource. Format: projects/{project}/locations/{location}/clusters/{cluster}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudSqlInstanceInitializationConfig": {
      "id": "CloudSqlInstanceInitializationConfig",
      "description": "CloudSqlInstanceInitializationConfig contains the configuration for initializing a Cloud SQL instance.",
      "properties": {
        "edition": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified edition.",
            "Enterprise edition.",
            "Enterprise Plus edition."
          ],
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ],
          "description": "Required. The edition of the Cloud SQL instance."
        }
      },
      "type": "object"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "properties": {
        "unsupportedFeatures": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "Remove once parity achieved between BV_AF and BV_CUSTOM_PROBERS.",
              ""
            ],
            "enum": [
              "FEATURE_UNSPECIFIED",
              "MANAGEMENT_SERVER",
              "COMPUTE_INSTANCE",
              "PROTECTION_SUMMARY",
              "DISK",
              "CLOUD_SQL",
              "ALLOY_DB",
              "FILESTORE",
              "BV_AF",
              "CEP_MONITORING_COMPUTE_INSTANCE",
              "CEP_MONITORING_DISK",
              "BV_CUSTOM_PROBERS",
              "FT_CUSTOM_PROBERS"
            ]
          },
          "description": "List of features that are not supported in the location."
        }
      },
      "type": "object"
    },
    "AlloyDBClusterDataSourceProperties": {
      "type": "object",
      "description": "AlloyDBClusterDataSourceProperties represents the properties of a AlloyDB cluster resource that are stored in the DataSource. .",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the AlloyDB cluster backed up by the datasource."
        },
        "pitrWindows": {
          "type": "array",
          "items": {
            "$ref": "AlloyDbPitrWindow"
          },
          "description": "Output only. Point in time recovery windows. The order is guaranteed to be ascending by start time.",
          "readOnly": true
        },
        "clusterUid": {
          "description": "Output only. The cluster UID of the AlloyDB cluster backed up by the datasource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AlloyDBClusterDataSourceProperties"
    },
    "ComputeInstanceTargetEnvironment": {
      "description": "ComputeInstanceTargetEnvironment represents Compute Engine target environment to be used during restore.",
      "properties": {
        "project": {
          "description": "Required. Target project for the Compute Engine instance.",
          "type": "string"
        },
        "zone": {
          "description": "Required. The zone of the Compute Engine instance.",
          "type": "string"
        },
        "useProjectServiceAccount": {
          "description": "Optional. Whether to use the project service account for the Compute Engine instance restore.",
          "type": "boolean"
        }
      },
      "id": "ComputeInstanceTargetEnvironment",
      "type": "object"
    },
    "BackupApplianceBackupConfig": {
      "type": "object",
      "id": "BackupApplianceBackupConfig",
      "description": "BackupApplianceBackupConfig captures the backup configuration for applications that are protected by Backup Appliances.",
      "properties": {
        "backupApplianceName": {
          "description": "The name of the backup appliance.",
          "type": "string"
        },
        "backupApplianceId": {
          "description": "The ID of the backup appliance.",
          "format": "int64",
          "type": "string"
        },
        "hostName": {
          "description": "The name of the host where the application is running.",
          "type": "string"
        },
        "sltName": {
          "description": "The name of the SLT associated with the application.",
          "type": "string"
        },
        "slaId": {
          "description": "The ID of the SLA of this application.",
          "format": "int64",
          "type": "string"
        },
        "applicationName": {
          "description": "The name of the application.",
          "type": "string"
        },
        "slpName": {
          "description": "The name of the SLP associated with the application.",
          "type": "string"
        }
      }
    },
    "ComputeInstanceBackupProperties": {
      "description": "ComputeInstanceBackupProperties represents Compute Engine instance backup properties.",
      "properties": {
        "networkInterface": {
          "description": "An array of network access configurations for this interface.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "tags": {
          "description": "A list of tags to apply to the instances that are created from these properties. The tags identify valid sources or targets for network firewalls. The setTags method can modify this list of tags. Each tag within the list must comply with RFC1035 (https://www.ietf.org/rfc/rfc1035.txt).",
          "$ref": "Tags"
        },
        "scheduling": {
          "description": "Specifies the scheduling options for the instances that are created from these properties.",
          "$ref": "Scheduling"
        },
        "disk": {
          "description": "An array of disks that are associated with the instances that are created from these properties.",
          "type": "array",
          "items": {
            "$ref": "AttachedDisk"
          }
        },
        "serviceAccount": {
          "description": "A list of service accounts with specified scopes. Access tokens for these service accounts are available to the instances that are created from these properties. Use metadata queries to obtain the access tokens for these instances.",
          "type": "array",
          "items": {
            "$ref": "ServiceAccount"
          }
        },
        "guestFlush": {
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "description": "Labels to apply to instances that are created from these properties.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "An optional text description for the instances that are created from these properties.",
          "type": "string"
        },
        "canIpForward": {
          "description": "Enables instances created based on these properties to send packets with source IP addresses other than their own and receive packets with destination IP addresses other than their own. If these instances will be used as an IP gateway or it will be set as the next-hop in a Route resource, specify `true`. If unsure, leave this set to `false`. See the https://cloud.google.com/vpc/docs/using-routes#canipforward documentation for more information.",
          "type": "boolean"
        },
        "machineType": {
          "description": "The machine type to use for instances that are created from these properties.",
          "type": "string"
        },
        "keyRevocationActionType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Indicates user chose no operation.",
            "Indicates user chose to opt for VM shutdown on key revocation."
          ],
          "enum": [
            "KEY_REVOCATION_ACTION_TYPE_UNSPECIFIED",
            "NONE",
            "STOP"
          ],
          "description": "KeyRevocationActionType of the instance. Supported options are \"STOP\" and \"NONE\". The default value is \"NONE\" if it is not specified."
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to instances that are created from these properties. These pairs can consist of custom metadata or predefined keys. See https://cloud.google.com/compute/docs/metadata/overview for more information.",
          "$ref": "Metadata"
        },
        "minCpuPlatform": {
          "description": "Minimum cpu/platform to be used by instances. The instance may be scheduled on the specified or newer cpu/platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: Intel Haswell` or `minCpuPlatform: Intel Sandy Bridge`. For more information, read https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform.",
          "type": "string"
        },
        "guestAccelerator": {
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "A list of guest accelerator cards' type and count to use for instances created from these properties."
        },
        "sourceInstance": {
          "description": "The source instance used to create this backup. This can be a partial or full URL to the resource. For example, the following are valid values: -https://www.googleapis.com/compute/v1/projects/project/zones/zone/instances/instance -projects/project/zones/zone/instances/instance",
          "type": "string"
        }
      },
      "id": "ComputeInstanceBackupProperties",
      "type": "object"
    },
    "FilestoreInstanceDataSourceReferenceProperties": {
      "type": "object",
      "description": "FilestoreInstanceDataSourceReferenceProperties represents the properties of a Filestore resource that are stored in the DataSourceReference. .",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Filestore instance backed up by the datasource. Format: projects/{project}/instances/{instance}"
        },
        "instanceCreateTime": {
          "readOnly": true,
          "description": "Output only. The instance creation timestamp.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "FilestoreInstanceDataSourceReferenceProperties"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "additionalInfo": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. AdditionalInfo contains additional Info related to backup plan association resource."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to 'Code.CANCELLED'.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AlloyDbPitrWindow": {
      "id": "AlloyDbPitrWindow",
      "description": "Point in time recovery window for an AlloyDB cluster.",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The end time of the PITR window. It is not set if the corresponding Backup Plan Association is active.",
          "format": "google-datetime",
          "type": "string"
        },
        "logRetentionDays": {
          "type": "string",
          "description": "Output only. Log retention days for the PITR window.",
          "format": "int64",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The start time of the PITR window.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "FilestoreInstanceDataSourceProperties": {
      "description": "FilestoreInstanceDataSourceProperties represents the properties of a Filestore resource that are stored in the DataSource. .",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the Filestore instance backed up by the datasource.",
          "type": "string"
        },
        "instanceCreateTime": {
          "type": "string",
          "description": "Output only. The instance creation timestamp.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "FilestoreInstanceDataSourceProperties",
      "type": "object"
    },
    "FetchAccessTokenRequest": {
      "description": "Request message for FetchAccessToken.",
      "properties": {
        "generationId": {
          "description": "Required. The generation of the backup to update.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "FetchAccessTokenRequest",
      "type": "object"
    },
    "WeekDayOfMonth": {
      "description": "`WeekDayOfMonth` defines the week day of the month on which the backups will run. The message combines a `WeekOfMonth` and `DayOfWeek` to produce values like `FIRST`/`MONDAY` or `LAST`/`FRIDAY`.",
      "properties": {
        "weekOfMonth": {
          "type": "string",
          "enumDescriptions": [
            "The zero value. Do not use.",
            "The first week of the month.",
            "The second week of the month.",
            "The third week of the month.",
            "The fourth week of the month.",
            "The last week of the month."
          ],
          "enum": [
            "WEEK_OF_MONTH_UNSPECIFIED",
            "FIRST",
            "SECOND",
            "THIRD",
            "FOURTH",
            "LAST"
          ],
          "description": "Required. Specifies the week of the month."
        },
        "dayOfWeek": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Required. Specifies the day of the week."
        }
      },
      "id": "WeekDayOfMonth",
      "type": "object"
    },
    "DataSourceGcpResource": {
      "type": "object",
      "id": "DataSourceGcpResource",
      "description": "DataSourceGcpResource is used for protected resources that are Google Cloud Resources. This name is easeier to understand than GcpResourceDataSource or GcpDataSourceResource",
      "properties": {
        "cloudSqlInstanceDatasourceProperties": {
          "readOnly": true,
          "description": "Output only. CloudSqlInstanceDataSourceProperties has a subset of Cloud SQL Instance properties that are useful at the Datasource level.",
          "$ref": "CloudSqlInstanceDataSourceProperties"
        },
        "gcpResourcename": {
          "readOnly": true,
          "description": "Output only. Full resource pathname URL of the source Google Cloud resource.",
          "type": "string"
        },
        "computeInstanceDatasourceProperties": {
          "description": "ComputeInstanceDataSourceProperties has a subset of Compute Instance properties that are useful at the Datasource level.",
          "$ref": "ComputeInstanceDataSourceProperties"
        },
        "alloyDbClusterDatasourceProperties": {
          "readOnly": true,
          "description": "Output only. AlloyDBClusterDataSourceProperties has a subset of AlloyDB cluster properties that are useful at the Datasource level. Currently none of its child properties are auditable. If new auditable properties are added, the AUDIT annotation should be added.",
          "$ref": "AlloyDBClusterDataSourceProperties"
        },
        "diskDatasourceProperties": {
          "description": "DiskDataSourceProperties has a subset of Disk properties that are useful at the Datasource level.",
          "$ref": "DiskDataSourceProperties"
        },
        "type": {
          "description": "The type of the Google Cloud resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource: //\"global\"/\"unspecified\".",
          "type": "string"
        },
        "filestoreInstanceDatasourceProperties": {
          "description": "Output only. FilestoreInstanceDataSourceProperties has a subset of FileStore instance properties that are useful at the Datasource level.",
          "$ref": "FilestoreInstanceDataSourceProperties",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      }
    },
    "FetchMsComplianceMetadataResponse": {
      "type": "object",
      "id": "FetchMsComplianceMetadataResponse",
      "description": "Response message for GetMsComplianceMetadata",
      "properties": {
        "isAssuredWorkload": {
          "description": "The ms compliance metadata of the target project, if the project is an Assured Workloads project, values will be true, otherwise false.",
          "type": "boolean"
        }
      }
    },
    "DataSourceBackupConfigInfo": {
      "type": "object",
      "description": "Information of backup configuration on the DataSource.",
      "properties": {
        "lastSuccessfulBackupConsistencyTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of the last successful backup to this DataSource.",
          "format": "google-datetime"
        },
        "lastBackupState": {
          "description": "Output only. The status of the last backup in this DataSource",
          "readOnly": true,
          "enumDescriptions": [
            "Status not set.",
            "The first backup has not yet completed",
            "The most recent backup was successful",
            "The most recent backup failed",
            "The most recent backup could not be run/failed because of the lack of permissions"
          ],
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "SUCCEEDED",
            "FAILED",
            "PERMISSION_DENIED"
          ],
          "type": "string"
        }
      },
      "id": "DataSourceBackupConfigInfo"
    },
    "DisplayDevice": {
      "type": "object",
      "description": "A set of Display Device options",
      "properties": {
        "enableDisplay": {
          "description": "Optional. Enables display for the Compute Engine VM",
          "type": "boolean"
        }
      },
      "id": "DisplayDevice"
    },
    "DiskBackupPlanProperties": {
      "id": "DiskBackupPlanProperties",
      "description": "Properties for a disk backup plan.",
      "properties": {
        "guestFlush": {
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a disk backup. When set to false, the system will create crash-consistent backups. Default value is false.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "RestoreBackupResponse": {
      "description": "Response message for restoring from a Backup.",
      "properties": {
        "targetResource": {
          "description": "Details of the target resource created/modified as part of restore.",
          "$ref": "TargetResource"
        }
      },
      "id": "RestoreBackupResponse",
      "type": "object"
    },
    "ListBackupVaultsResponse": {
      "id": "ListBackupVaultsResponse",
      "description": "Response message for listing BackupVaults.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "backupVaults": {
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array",
          "items": {
            "$ref": "BackupVault"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "PitrSettings": {
      "type": "object",
      "id": "PitrSettings",
      "description": "Point in time recovery settings of the backup configuration resource.",
      "properties": {
        "retentionDays": {
          "type": "integer",
          "description": "Output only. Number of days to retain the backup.",
          "format": "int32",
          "readOnly": true
        }
      }
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "Network configuration for ManagementServer instance.",
      "properties": {
        "network": {
          "description": "Optional. The resource name of the Google Compute Engine VPC network to which the ManagementServer instance is connected.",
          "type": "string"
        },
        "peeringMode": {
          "type": "string",
          "enumDescriptions": [
            "Peering mode not set.",
            "Connect using Private Service Access to the Management Server. Private services access provides an IP address range for multiple Google Cloud services, including Google Cloud Backup and DR."
          ],
          "enum": [
            "PEERING_MODE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS"
          ],
          "description": "Optional. The network connect mode of the ManagementServer instance. For this version, only PRIVATE_SERVICE_ACCESS is supported."
        }
      },
      "type": "object"
    },
    "GoogleCloudBackupdrV1OperationMetadata": {
      "id": "GoogleCloudBackupdrV1OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to 'Code.CANCELLED'.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "additionalInfo": {
          "description": "Output only. AdditionalInfo contains additional Info related to backup plan association resource.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "type": "object"
    },
    "DataSourceBackupApplianceApplication": {
      "type": "object",
      "id": "DataSourceBackupApplianceApplication",
      "description": "BackupApplianceApplication describes a Source Resource when it is an application backed up by a BackupAppliance.",
      "properties": {
        "applicationName": {
          "description": "The name of the Application as known to the Backup Appliance.",
          "type": "string"
        },
        "applicationId": {
          "description": "The appid field of the application within the Backup Appliance.",
          "format": "int64",
          "type": "string"
        },
        "backupAppliance": {
          "description": "Appliance name.",
          "type": "string"
        },
        "applianceId": {
          "type": "string",
          "description": "Appliance Id of the Backup Appliance.",
          "format": "int64"
        },
        "hostId": {
          "type": "string",
          "description": "Hostid of the application host.",
          "format": "int64"
        },
        "type": {
          "description": "The type of the application. e.g. VMBackup",
          "type": "string"
        },
        "hostname": {
          "description": "Hostname of the host where the application is running.",
          "type": "string"
        }
      }
    },
    "InitializeParams": {
      "type": "object",
      "id": "InitializeParams",
      "description": "Specifies the parameters to initialize this disk.",
      "properties": {
        "diskName": {
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance.",
          "type": "string"
        },
        "replicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. URL of the zone where the disk should be created. Required for each regional disk associated with the instance."
        }
      }
    },
    "NetworkInterface": {
      "description": "A network interface resource attached to an instance. s",
      "properties": {
        "accessConfigs": {
          "type": "array",
          "items": {
            "$ref": "AccessConfig"
          },
          "description": "Optional. An array of configurations for this interface. Currently, only one access config,ONE_TO_ONE_NAT is supported. If there are no accessConfigs specified, then this instance will have no external internet access."
        },
        "ipv6Address": {
          "description": "Optional. An IPv6 internal network address for this network interface. To use a static internal IP address, it must be unused and in the same region as the instance's zone. If not specified, Google Cloud will automatically assign an internal IPv6 address from the instance's subnetwork.",
          "type": "string"
        },
        "nicType": {
          "type": "string",
          "enumDescriptions": [
            "Default should be NIC_TYPE_UNSPECIFIED.",
            "VIRTIO",
            "GVNIC"
          ],
          "enum": [
            "NIC_TYPE_UNSPECIFIED",
            "VIRTIO_NET",
            "GVNIC"
          ],
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet."
        },
        "stackType": {
          "enumDescriptions": [
            "Default should be STACK_TYPE_UNSPECIFIED.",
            "The network interface will be assigned IPv4 address.",
            "The network interface can have both IPv4 and IPv6 addresses."
          ],
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4_ONLY",
            "IPV4_IPV6"
          ],
          "description": "The stack type for this network interface.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. The URL of the Subnetwork resource for this instance.",
          "type": "string"
        },
        "network": {
          "description": "Optional. URL of the VPC network resource for this instance.",
          "type": "string"
        },
        "internalIpv6PrefixLength": {
          "description": "Optional. The prefix length of the primary internal IPv6 range.",
          "format": "int32",
          "type": "integer"
        },
        "networkAttachment": {
          "description": "Optional. The URL of the network attachment that this interface should connect to in the following format: projects/{project_number}/regions/{region_name}/networkAttachments/{network_attachment_name}.",
          "type": "string"
        },
        "ipv6AccessConfigs": {
          "type": "array",
          "items": {
            "$ref": "AccessConfig"
          },
          "description": "Optional. An array of IPv6 access configurations for this interface. Currently, only one IPv6 access config, DIRECT_IPV6, is supported. If there is no ipv6AccessConfig specified, then this instance will have no external IPv6 Internet access."
        },
        "queueCount": {
          "type": "integer",
          "description": "Optional. The networking queue count that's specified by users for the network interface. Both Rx and Tx queues will be set to this number. It'll be empty if not specified by the users.",
          "format": "int32"
        },
        "ipv6AccessType": {
          "type": "string",
          "description": "Optional. [Output Only] One of EXTERNAL, INTERNAL to indicate whether the IP can be accessed from the Internet. This field is always inherited from its subnetwork.",
          "enumDescriptions": [
            "IPv6 access type not set. Means this network interface hasn't been turned on IPv6 yet.",
            "This network interface can have internal IPv6.",
            "This network interface can have external IPv6."
          ],
          "enum": [
            "UNSPECIFIED_IPV6_ACCESS_TYPE",
            "INTERNAL",
            "EXTERNAL"
          ]
        },
        "aliasIpRanges": {
          "items": {
            "$ref": "AliasIpRange"
          },
          "type": "array",
          "description": "Optional. An array of alias IP ranges for this network interface. You can only specify this field for network interfaces in VPC networks."
        },
        "networkIP": {
          "description": "Optional. An IPv4 internal IP address to assign to the instance for this network interface. If not specified by the user, an unused internal IP is assigned by the system.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. [Output Only] The name of the network interface, which is generated by the server.",
          "readOnly": true
        }
      },
      "id": "NetworkInterface",
      "type": "object"
    },
    "BackupDrPlanConfig": {
      "type": "object",
      "id": "BackupDrPlanConfig",
      "description": "BackupDrPlanConfig has additional information about Google Cloud Backup and DR's Plan backup configuration.",
      "properties": {
        "backupDrPlanRules": {
          "type": "array",
          "items": {
            "$ref": "BackupDrPlanRule"
          },
          "description": "Backup rules of the backup plan resource."
        }
      }
    },
    "AllocationAffinity": {
      "description": "Specifies the reservations that this instance can consume from.",
      "properties": {
        "consumeReservationType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Do not consume from any allocated capacity.",
            "Consume any allocation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "description": "Optional. Specifies the type of reservation from which this instance can consume"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of a reservation resource."
        },
        "key": {
          "description": "Optional. Corresponds to the label key of a reservation resource.",
          "type": "string"
        }
      },
      "id": "AllocationAffinity",
      "type": "object"
    },
    "ListDataSourceReferencesResponse": {
      "type": "object",
      "description": "Response for the ListDataSourceReferences method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "dataSourceReferences": {
          "description": "The DataSourceReferences from the specified parent.",
          "items": {
            "$ref": "DataSourceReference"
          },
          "type": "array"
        }
      },
      "id": "ListDataSourceReferencesResponse"
    },
    "ServiceAccount": {
      "description": "A service account.",
      "properties": {
        "email": {
          "description": "Optional. Email address of the service account.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of scopes to be made available for this service account."
        }
      },
      "id": "ServiceAccount",
      "type": "object"
    },
    "ListBackupsResponse": {
      "type": "object",
      "description": "Response message for listing Backups.",
      "properties": {
        "backups": {
          "description": "The list of Backup instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListBackupsResponse"
    },
    "FetchMsComplianceMetadataRequest": {
      "type": "object",
      "id": "FetchMsComplianceMetadataRequest",
      "description": "Request message for GetMsComplianceMetadata",
      "properties": {
        "projectId": {
          "description": "Required. The project id of the target project",
          "type": "string"
        }
      }
    },
    "DataSourceGcpResourceInfo": {
      "description": "The Google Cloud resource that the DataSource is associated with.",
      "properties": {
        "gcpResourcename": {
          "readOnly": true,
          "description": "Output only. The resource name of the Google Cloud resource. Ex: projects/{project}/zones/{zone}/instances/{instance}",
          "type": "string"
        },
        "location": {
          "readOnly": true,
          "description": "Output only. The location of the Google Cloud resource. Ex: //\"global\"/\"unspecified\"",
          "type": "string"
        },
        "cloudSqlInstanceProperties": {
          "readOnly": true,
          "description": "Output only. The properties of the Cloud SQL instance.",
          "$ref": "CloudSqlInstanceDataSourceReferenceProperties"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the Google Cloud resource. Ex: compute.googleapis.com/Instance",
          "type": "string"
        },
        "alloyDbClusterProperties": {
          "description": "Output only. The properties of the AlloyDB cluster.",
          "$ref": "AlloyDBClusterDataSourceReferenceProperties",
          "readOnly": true
        },
        "filestoreInstanceProperties": {
          "readOnly": true,
          "description": "Output only. The properties of the Filestore instance.",
          "$ref": "FilestoreInstanceDataSourceReferenceProperties"
        }
      },
      "id": "DataSourceGcpResourceInfo",
      "type": "object"
    },
    "BackupApplianceBackupProperties": {
      "description": "BackupApplianceBackupProperties represents BackupDR backup appliance's properties.",
      "properties": {
        "recoveryRangeStartTime": {
          "description": "Optional. The earliest timestamp of data available in this Backup.",
          "format": "google-datetime",
          "type": "string"
        },
        "finalizeTime": {
          "readOnly": true,
          "description": "Output only. The time when this backup object was finalized (if none, backup is not finalized).",
          "format": "google-datetime",
          "type": "string"
        },
        "recoveryRangeEndTime": {
          "type": "string",
          "description": "Optional. The latest timestamp of data available in this Backup.",
          "format": "google-datetime"
        },
        "generationId": {
          "description": "Output only. The numeric generation ID of the backup (monotonically increasing).",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "BackupApplianceBackupProperties",
      "type": "object"
    },
    "ManagementURI": {
      "description": "ManagementURI for the Management Server resource.",
      "properties": {
        "api": {
          "readOnly": true,
          "description": "Output only. The ManagementServer AGM/RD API URL.",
          "type": "string"
        },
        "webUi": {
          "type": "string",
          "description": "Output only. The ManagementServer AGM/RD WebUI URL.",
          "readOnly": true
        }
      },
      "id": "ManagementURI",
      "type": "object"
    },
    "CustomerEncryptionKey": {
      "type": "object",
      "id": "CustomerEncryptionKey",
      "description": "A customer-supplied encryption key.",
      "properties": {
        "rsaEncryptedKey": {
          "description": "Optional. RSA-wrapped 2048-bit customer-supplied encryption key to either encrypt or decrypt this resource.",
          "type": "string"
        },
        "kmsKeyServiceAccount": {
          "description": "Optional. The service account being used for the encryption request for the given KMS key. If absent, the Compute Engine default service account is used.",
          "type": "string"
        },
        "rawKey": {
          "description": "Optional. Specifies a 256-bit customer-supplied encryption key.",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Optional. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      }
    },
    "InstanceParams": {
      "description": "Additional instance params.",
      "properties": {
        "resourceManagerTags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource manager tags to be bound to the instance.",
          "type": "object"
        }
      },
      "id": "InstanceParams",
      "type": "object"
    },
    "BackupRule": {
      "id": "BackupRule",
      "description": "`BackupRule` binds the backup schedule to a retention policy.",
      "properties": {
        "ruleId": {
          "description": "Required. Immutable. The unique id of this `BackupRule`. The `rule_id` is unique per `BackupPlan`.The `rule_id` must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens. Pattern, /a-z{,62}/.",
          "type": "string"
        },
        "backupRetentionDays": {
          "type": "integer",
          "description": "Required. Configures the duration for which backup data will be kept. It is defined in “days”. The value should be greater than or equal to minimum enforced retention of the backup vault. Minimum value is 1 and maximum value is 36159 for custom retention on-demand backup. Minimum and maximum values are workload specific for all other rules. Note: Longer retention can lead to higher storage costs post introductory trial. We recommend starting with a short duration of 3 days or less.",
          "format": "int32"
        },
        "standardSchedule": {
          "description": "Optional. Defines a schedule that runs within the confines of a defined window of time.",
          "$ref": "StandardSchedule"
        }
      },
      "type": "object"
    },
    "BackupGcpResource": {
      "id": "BackupGcpResource",
      "description": "Minimum details to identify a Google Cloud resource for a backup.",
      "properties": {
        "gcpResourcename": {
          "description": "Name of the Google Cloud resource.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource: //\"global\"/\"unspecified\".",
          "type": "string"
        },
        "type": {
          "description": "Type of the resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GCPBackupPlanInfo": {
      "type": "object",
      "description": "GCPBackupPlanInfo captures the plan configuration details of Google Cloud resources at the time of backup.",
      "properties": {
        "backupPlan": {
          "description": "Resource name of backup plan by which workload is protected at the time of the backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}",
          "type": "string"
        },
        "backupPlanRuleId": {
          "description": "The rule id of the backup plan which triggered this backup in case of scheduled backup or used for",
          "type": "string"
        },
        "backupPlanRevisionName": {
          "description": "Resource name of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}/revisions/{revisionId}",
          "type": "string"
        },
        "backupPlanRevisionId": {
          "description": "The user friendly id of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup.",
          "type": "string"
        }
      },
      "id": "GCPBackupPlanInfo"
    },
    "BackupDrTemplateConfig": {
      "type": "object",
      "id": "BackupDrTemplateConfig",
      "description": "Provides additional information about Google Cloud Backup and DR's Template backup configuration.",
      "properties": {
        "thirdPartyManagementUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the BackupDr template resource for the third party identity users."
        },
        "firstPartyManagementUri": {
          "type": "string",
          "description": "Output only. The URI of the BackupDr template resource for the first party identity users.",
          "readOnly": true
        }
      }
    },
    "ListManagementServersResponse": {
      "type": "object",
      "description": "Response message for listing management servers.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "managementServers": {
          "items": {
            "$ref": "ManagementServer"
          },
          "type": "array",
          "description": "The list of ManagementServer instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return management servers in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListManagementServersResponse"
    },
    "GuestOsFeature": {
      "type": "object",
      "description": "Feature type of the Guest OS.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value, which is unused.",
            "VIRTIO_SCSI_MULTIQUEUE feature type.",
            "WINDOWS feature type.",
            "MULTI_IP_SUBNET feature type.",
            "UEFI_COMPATIBLE feature type.",
            "SECURE_BOOT feature type.",
            "GVNIC feature type.",
            "SEV_CAPABLE feature type.",
            "BARE_METAL_LINUX_COMPATIBLE feature type.",
            "SUSPEND_RESUME_COMPATIBLE feature type.",
            "SEV_LIVE_MIGRATABLE feature type.",
            "SEV_SNP_CAPABLE feature type.",
            "TDX_CAPABLE feature type.",
            "IDPF feature type.",
            "SEV_LIVE_MIGRATABLE_V2 feature type."
          ],
          "enum": [
            "FEATURE_TYPE_UNSPECIFIED",
            "VIRTIO_SCSI_MULTIQUEUE",
            "WINDOWS",
            "MULTI_IP_SUBNET",
            "UEFI_COMPATIBLE",
            "SECURE_BOOT",
            "GVNIC",
            "SEV_CAPABLE",
            "BARE_METAL_LINUX_COMPATIBLE",
            "SUSPEND_RESUME_COMPATIBLE",
            "SEV_LIVE_MIGRATABLE",
            "SEV_SNP_CAPABLE",
            "TDX_CAPABLE",
            "IDPF",
            "SEV_LIVE_MIGRATABLE_V2"
          ],
          "description": "The ID of a supported feature.",
          "type": "string"
        }
      },
      "id": "GuestOsFeature"
    },
    "FetchDataSourceReferencesForResourceTypeResponse": {
      "type": "object",
      "description": "Response for the FetchDataSourceReferencesForResourceType method.",
      "properties": {
        "dataSourceReferences": {
          "items": {
            "$ref": "DataSourceReference"
          },
          "type": "array",
          "description": "The DataSourceReferences from the specified parent."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "FetchDataSourceReferencesForResourceTypeResponse"
    },
    "Backup": {
      "id": "Backup",
      "description": "Message describing a Backup object.",
      "properties": {
        "cloudSqlInstanceBackupProperties": {
          "readOnly": true,
          "description": "Output only. Cloud SQL specific backup properties.",
          "$ref": "CloudSqlInstanceBackupProperties"
        },
        "kmsKeyVersions": {
          "readOnly": true,
          "description": "Optional. Output only. The list of KMS key versions used to encrypt the backup.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceSizeBytes": {
          "description": "Output only. source resource size in bytes at the time of the backup.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Optional. Output only. Reserved for future use.",
          "type": "boolean"
        },
        "enforcedRetentionEndTime": {
          "description": "Optional. The backup can not be deleted before this time.",
          "format": "google-datetime",
          "type": "string"
        },
        "serviceLocks": {
          "items": {
            "$ref": "BackupLock"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of BackupLocks taken by the service to prevent the deletion of the backup."
        },
        "computeInstanceBackupProperties": {
          "description": "Output only. Compute Engine specific backup properties.",
          "$ref": "ComputeInstanceBackupProperties",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "The backup is being created.",
            "The backup has been created and is fully usable.",
            "The backup is being deleted.",
            "The backup is experiencing an issue and might be unusable.",
            "The backup is being uploaded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPLOADING"
          ],
          "description": "Output only. The Backup resource instance state."
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. When this backup is automatically expired.",
          "format": "google-datetime"
        },
        "backupApplianceBackupProperties": {
          "description": "Output only. Backup Appliance specific backup properties.",
          "$ref": "BackupApplianceBackupProperties",
          "readOnly": true
        },
        "backupType": {
[...]
