{
  "batchPath": "batch",
  "rootUrl": "https://backupdr.googleapis.com/",
  "parameters": {
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://backupdr.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "version": "v1",
  "version_module": true,
  "canonicalName": "Backupdr",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/backup-disaster-recovery",
  "ownerDomain": "google.com",
  "baseUrl": "https://backupdr.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "servicePath": "",
  "schemas": {
    "ListDataSourceReferencesResponse": {
      "id": "ListDataSourceReferencesResponse",
      "description": "Response for the ListDataSourceReferences method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "dataSourceReferences": {
          "description": "The DataSourceReferences from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "DataSourceReference"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "AlloyDbClusterBackupProperties": {
      "type": "object",
      "properties": {
        "description": {
          "description": "An optional text description for the backup.",
          "type": "string"
        },
        "storedBytes": {
          "description": "Output only. Storage usage of this particular backup",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "chainId": {
          "description": "Output only. The chain id of this backup. Backups belonging to the same chain are sharing the same chain id. This property is calculated and maintained by BackupDR.",
          "readOnly": true,
          "type": "string"
        },
        "databaseVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The PostgreSQL major version of the AlloyDB cluster when the backup was taken."
        }
      },
      "description": "AlloyDbClusterBackupProperties represents AlloyDB cluster backup properties. .",
      "id": "AlloyDbClusterBackupProperties"
    },
    "ListBackupPlanRevisionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlanRevisions` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "backupPlanRevisions": {
          "description": "The list of `BackupPlanRevisions` in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of resources from all locations. In case any location is unreachable, the response will only return backup plans in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array",
          "items": {
            "$ref": "BackupPlanRevision"
          }
        }
      },
      "type": "object",
      "id": "ListBackupPlanRevisionsResponse",
      "description": "The response message for getting a list of `BackupPlanRevision`."
    },
    "Backup": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Name of the backup to create. It must have the format`\"projects//locations//backupVaults//dataSources/{datasource}/backups/{backup}\"`. `{backup}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the datasource."
        },
        "filestoreInstanceBackupProperties": {
          "description": "Output only. Filestore specific backup properties.",
          "readOnly": true,
          "$ref": "FilestoreInstanceBackupProperties"
        },
        "description": {
          "description": "Output only. The description of the Backup instance (2048 characters or less).",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "backupType": {
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "SCHEDULED",
            "ON_DEMAND",
            "ON_DEMAND_OPERATIONAL"
          ],
          "description": "Output only. Type of the backup, unspecified, scheduled or ondemand.",
          "enumDescriptions": [
            "Backup type is unspecified.",
            "Scheduled backup.",
            "On demand backup.",
            "Operational backup."
          ],
          "readOnly": true,
          "type": "string"
        },
        "gcpResource": {
          "description": "Output only. Unique identifier of the GCP resource that is being backed up.",
          "readOnly": true,
          "$ref": "BackupGcpResource"
        },
        "enforcedRetentionEndTime": {
          "description": "Optional. The backup can not be deleted before this time.",
          "format": "google-datetime",
          "type": "string"
        },
        "expireTime": {
          "description": "Optional. When this backup is automatically expired.",
          "format": "google-datetime",
          "type": "string"
        },
        "kmsKeyVersions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Output only. The list of KMS key versions used to encrypt the backup."
        },
        "etag": {
          "description": "Optional. Server specified ETag to prevent updates from overwriting each other.",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Optional. Output only. Reserved for future use."
        },
        "backupApplianceBackupProperties": {
          "description": "Output only. Backup Appliance specific backup properties.",
          "readOnly": true,
          "$ref": "BackupApplianceBackupProperties"
        },
        "serviceLocks": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "BackupLock"
          },
          "description": "Output only. The list of BackupLocks taken by the service to prevent the deletion of the backup."
        },
        "diskBackupProperties": {
          "readOnly": true,
          "$ref": "DiskBackupProperties",
          "description": "Output only. Disk specific backup properties."
        },
        "computeInstanceBackupProperties": {
          "description": "Output only. Compute Engine specific backup properties.",
          "readOnly": true,
          "$ref": "ComputeInstanceBackupProperties"
        },
        "resourceSizeBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. source resource size in bytes at the time of the backup.",
          "format": "int64"
        },
        "gcpBackupPlanInfo": {
          "readOnly": true,
          "$ref": "GCPBackupPlanInfo",
          "description": "Output only. Configuration for a Google Cloud resource."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Optional. Output only. Reserved for future use."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the instance was updated.",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The Backup resource instance state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPLOADING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "The backup is being created.",
            "The backup has been created and is fully usable.",
            "The backup is being deleted.",
            "The backup is experiencing an issue and might be unusable.",
            "The backup is being uploaded."
          ]
        },
        "cloudSqlInstanceBackupProperties": {
          "description": "Output only. Cloud SQL specific backup properties.",
          "readOnly": true,
          "$ref": "CloudSqlInstanceBackupProperties"
        },
        "consistencyTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The point in time when this backup was captured from the source.",
          "format": "google-datetime"
        },
        "alloyDbBackupProperties": {
          "description": "Output only. AlloyDB specific backup properties.",
          "readOnly": true,
          "$ref": "AlloyDbClusterBackupProperties"
        },
        "backupApplianceLocks": {
          "type": "array",
          "items": {
            "$ref": "BackupLock"
          },
          "description": "Optional. The list of BackupLocks taken by the accessor Backup Appliance."
        },
        "backupRetentionInheritance": {
          "enum": [
            "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED",
            "INHERIT_VAULT_RETENTION",
            "MATCH_BACKUP_EXPIRE_TIME"
          ],
          "description": "Output only. Setting for how the enforced retention end time is inherited. This value is copied from this backup's BackupVault.",
          "enumDescriptions": [
            "Inheritance behavior not set. This will default to `INHERIT_VAULT_RETENTION`.",
            "The enforced retention end time of a backup will be inherited from the backup vault's `backup_minimum_enforced_retention_duration` field. This is the default behavior.",
            "The enforced retention end time of a backup will always match the expire time of the backup. If this is set, the backup's enforced retention end time will be set to match the expire time during creation of the backup. When updating, the ERET and expire time must be updated together and have the same value. Invalid update requests will be rejected by the server."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Message describing a Backup object.",
      "id": "Backup"
    },
    "BackupConfigInfo": {
      "description": "BackupConfigInfo has information about how the resource is configured for Backup and about the most recent backup to this vault.",
      "id": "BackupConfigInfo",
      "type": "object",
      "properties": {
        "lastBackupError": {
          "description": "Output only. If the last backup failed, this field has the error message.",
          "readOnly": true,
          "$ref": "Status"
        },
        "lastBackupState": {
          "description": "Output only. The status of the last backup to this BackupVault",
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "SUCCEEDED",
            "FAILED",
            "PERMISSION_DENIED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Status not set.",
            "The first backup has not yet completed",
            "The most recent backup was successful",
            "The most recent backup failed",
            "The most recent backup could not be run/failed because of the lack of permissions"
          ]
        },
        "gcpBackupConfig": {
          "description": "Configuration for a Google Cloud resource.",
          "$ref": "GcpBackupConfig"
        },
        "backupApplianceBackupConfig": {
          "description": "Configuration for an application backed up by a Backup Appliance.",
          "$ref": "BackupApplianceBackupConfig"
        },
        "lastSuccessfulBackupConsistencyTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the last backup were successful, this field has the consistency date.",
          "format": "google-datetime"
        }
      }
    },
    "SetInternalStatusResponse": {
      "type": "object",
      "properties": {},
      "description": "Response message from SetStatusInternal method.",
      "id": "SetInternalStatusResponse"
    },
    "AlloyDbPitrWindow": {
      "type": "object",
      "properties": {
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The start time of the PITR window.",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The end time of the PITR window. It is not set if the corresponding Backup Plan Association is active.",
          "format": "google-datetime"
        },
        "logRetentionDays": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Log retention days for the PITR window.",
          "format": "int64"
        }
      },
      "description": "Point in time recovery window for an AlloyDB cluster.",
      "id": "AlloyDbPitrWindow"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "DiskRestoreProperties": {
      "description": "DiskRestoreProperties represents the properties of a Disk restore.",
      "id": "DiskRestoreProperties",
      "type": "object",
      "properties": {
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image"
        },
        "resourcePolicy": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Resource policies applied to this disk."
        },
        "description": {
          "description": "Optional. An optional description of this resource. Provide this property when you create the resource.",
          "type": "string"
        },
        "guestOsFeature": {
          "description": "Optional. A list of features to enable in the guest operating system. This is applicable only for bootable images.",
          "type": "array",
          "items": {
            "$ref": "GuestOsFeature"
          }
        },
        "type": {
          "description": "Required. URL of the disk type resource describing which disk type to use to create the disk.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the disk.",
          "type": "string"
        },
        "physicalBlockSizeBytes": {
          "type": "string",
          "description": "Optional. Physical block size of the persistent disk, in bytes. If not present in a request, a default value is used. Currently, the supported size is 4096.",
          "format": "int64"
        },
        "labels": {
          "description": "Optional. Labels to apply to this disk. These can be modified later using setLabels method. Label values can be empty.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ],
          "description": "Optional. The architecture of the source disk. Valid values are ARM64 or X86_64.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ],
          "type": "string"
        },
        "resourceManagerTags": {
          "description": "Optional. Resource manager tags to be bound to the disk.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "provisionedThroughput": {
          "type": "string",
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle.",
          "format": "int64"
        },
        "storagePool": {
          "description": "Optional. The storage pool in which the new disk is created. You can provide this as a partial or full URL to the resource.",
          "type": "string"
        },
        "provisionedIops": {
          "type": "string",
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle.",
          "format": "int64"
        },
        "accessMode": {
          "description": "Optional. The access mode of the disk.",
          "enum": [
            "READ_WRITE_SINGLE",
            "READ_WRITE_MANY",
            "READ_ONLY_MANY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default AccessMode, means the disk can be attached to single instance in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RW mode.",
            "The AccessMode means the disk can be attached to multiple instances in RO mode."
          ]
        },
        "diskEncryptionKey": {
          "description": "Optional. Encrypts the disk using a customer-supplied encryption key or a customer-managed encryption key.",
          "$ref": "CustomerEncryptionKey"
        },
        "sizeGb": {
          "description": "Required. The size of the disk in GB.",
          "format": "int64",
          "type": "string"
        },
        "enableConfidentialCompute": {
          "description": "Optional. Indicates whether this disk is using confidential compute mode. Encryption with a Cloud KMS key is required to enable this option.",
          "type": "boolean"
        }
      }
    },
    "BackupPlanAssociation": {
      "description": "A BackupPlanAssociation represents a single BackupPlanAssociation which contains details like workload, backup plan etc",
      "id": "BackupPlanAssociation",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the instance was updated.",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "UPDATING"
          ],
          "description": "Output only. The BackupPlanAssociation resource state.",
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable.",
            "The resource is being updated."
          ],
          "readOnly": true,
          "type": "string"
        },
        "rulesConfigInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RuleConfigInfo"
          },
          "description": "Output only. The config info related to backup rules."
        },
        "cloudSqlInstanceBackupPlanAssociationProperties": {
          "description": "Output only. Cloud SQL instance's backup plan association properties.",
          "readOnly": true,
          "$ref": "CloudSqlInstanceBackupPlanAssociationProperties"
        },
        "dataSource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of data source which will be used as storage location for backups taken. Format : projects/{project}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}"
        },
        "backupPlan": {
          "description": "Required. Resource name of backup plan which needs to be applied on workload. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The resource name of BackupPlanAssociation in below format Format : projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}",
          "readOnly": true,
          "type": "string"
        },
        "resourceType": {
          "description": "Required. Immutable. Resource type of workload on which backupplan is applied",
          "type": "string"
        },
        "backupPlanRevisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc."
        },
        "filestoreInstanceBackupPlanAssociationProperties": {
          "readOnly": true,
          "$ref": "FilestoreInstanceBackupPlanAssociationProperties",
          "description": "Output only. Filestore instance's backup plan association properties."
        },
        "resource": {
          "description": "Required. Immutable. Resource name of workload on which the backup plan is applied. The format can either be the resource name (e.g., \"projects/my-project/zones/us-central1-a/instances/my-instance\") or the full resource URI (e.g., \"https://www.googleapis.com/compute/v1/projects/my-project/zones/us-central1-a/instances/my-instance\").",
          "type": "string"
        },
        "alloydbClusterBackupPlanAssociationProperties": {
          "readOnly": true,
          "$ref": "AlloyDBClusterBackupPlanAssociationProperties",
          "description": "Output only. AlloyDB cluster's backup plan association properties."
        },
        "backupPlanRevisionName": {
          "description": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "BackupApplianceLockInfo": {
      "type": "object",
      "properties": {
        "backupApplianceName": {
          "description": "Required. The name of the backup/recovery appliance that created this lock.",
          "type": "string"
        },
        "slaId": {
          "description": "The SLA on the backup/recovery appliance that owns the lock.",
          "format": "int64",
          "type": "string"
        },
        "jobName": {
          "description": "The job name on the backup/recovery appliance that created this lock.",
          "type": "string"
        },
        "backupImage": {
          "description": "The image name that depends on this Backup.",
          "type": "string"
        },
        "backupApplianceId": {
          "description": "Required. The ID of the backup/recovery appliance that created this lock.",
          "format": "int64",
          "type": "string"
        },
        "lockReason": {
          "description": "Required. The reason for the lock: e.g. MOUNT/RESTORE/BACKUP/etc. The value of this string is only meaningful to the client and it is not interpreted by the BackupVault service.",
          "type": "string"
        }
      },
      "description": "BackupApplianceLockInfo contains metadata about the backupappliance that created the lock.",
      "id": "BackupApplianceLockInfo"
    },
    "BackupRule": {
      "properties": {
        "backupRetentionDays": {
          "type": "integer",
          "description": "Required. Configures the duration for which backup data will be kept. It is defined in “days”. The value should be greater than or equal to minimum enforced retention of the backup vault. Minimum value is 1 and maximum value is 36159 for custom retention on-demand backup. Minimum and maximum values are workload specific for all other rules. Note: Longer retention can lead to higher storage costs post introductory trial. We recommend starting with a short duration of 3 days or less.",
          "format": "int32"
        },
        "ruleId": {
          "description": "Required. Immutable. The unique id of this `BackupRule`. The `rule_id` is unique per `BackupPlan`.The `rule_id` must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens. Pattern, /a-z{,62}/.",
          "type": "string"
        },
        "standardSchedule": {
          "description": "Optional. Defines a schedule that runs within the confines of a defined window of time.",
          "$ref": "StandardSchedule"
        }
      },
      "type": "object",
      "id": "BackupRule",
      "description": "`BackupRule` binds the backup schedule to a retention policy."
    },
    "Metadata": {
      "properties": {
        "items": {
          "description": "Optional. Array of key/value pairs. The total size of all keys and values must be less than 512 KB.",
          "type": "array",
          "items": {
            "$ref": "Entry"
          }
        }
      },
      "type": "object",
      "id": "Metadata",
      "description": "A metadata key/value entry."
    },
    "BackupDrPlanConfig": {
      "type": "object",
      "properties": {
        "backupDrPlanRules": {
          "type": "array",
          "items": {
            "$ref": "BackupDrPlanRule"
          },
          "description": "Backup rules of the backup plan resource."
        }
      },
      "description": "BackupDrPlanConfig has additional information about Google Cloud Backup and DR's Plan backup configuration.",
      "id": "BackupDrPlanConfig"
    },
    "DataSourceBackupConfigInfo": {
      "id": "DataSourceBackupConfigInfo",
      "description": "Information of backup configuration on the DataSource.",
      "properties": {
        "lastSuccessfulBackupConsistencyTime": {
          "description": "Output only. Timestamp of the last successful backup to this DataSource.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "lastBackupState": {
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "SUCCEEDED",
            "FAILED",
            "PERMISSION_DENIED"
          ],
          "description": "Output only. The status of the last backup in this DataSource",
          "enumDescriptions": [
            "Status not set.",
            "The first backup has not yet completed",
            "The most recent backup was successful",
            "The most recent backup failed",
            "The most recent backup could not be run/failed because of the lack of permissions"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiskBackupProperties": {
      "type": "object",
      "properties": {
        "zone": {
          "description": "The URL of the Zone where the source disk.",
          "type": "string"
        },
        "sourceDisk": {
          "description": "The source disk used to create this backup.",
          "type": "string"
        },
        "region": {
          "description": "Region and zone are mutually exclusive fields. The URL of the region of the source disk.",
          "type": "string"
        },
        "accessMode": {
          "description": "The access mode of the source disk.",
          "type": "string"
        },
        "provisionedIops": {
          "type": "string",
          "description": "The number of IOPS provisioned for the source disk.",
          "format": "int64"
        },
        "replicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The URL of the Zones where the source disk should be replicated."
        },
        "storagePool": {
          "description": "The storage pool of the source disk.",
          "type": "string"
        },
        "sizeGb": {
          "description": "Size(in GB) of the source disk.",
          "format": "int64",
          "type": "string"
        },
        "enableConfidentialCompute": {
          "description": "Indicates whether the source disk is using confidential compute mode.",
          "type": "boolean"
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image."
        },
        "guestOsFeature": {
          "type": "array",
          "items": {
            "$ref": "GuestOsFeature"
          },
          "description": "A list of guest OS features that are applicable to this backup."
        },
        "type": {
          "description": "The URL of the type of the disk.",
          "type": "string"
        },
        "description": {
          "description": "A description of the source disk.",
          "type": "string"
        },
        "physicalBlockSizeBytes": {
          "type": "string",
          "description": "The physical block size of the source disk.",
          "format": "int64"
        },
        "architecture": {
          "description": "The architecture of the source disk. Valid values are ARM64 or X86_64.",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86_64",
            "ARM64"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Disks with architecture X86_64",
            "Disks with architecture ARM64"
          ]
        },
        "guestFlush": {
          "description": "Optional. Defines if the guest flush is enabled for the source disk. Default value is false.",
          "type": "boolean"
        },
        "provisionedThroughput": {
          "type": "string",
          "description": "The number of throughput provisioned for the source disk.",
          "format": "int64"
        },
        "labels": {
          "description": "The labels of the source disk.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "DiskBackupProperties represents the properties of a Disk backup.",
      "id": "DiskBackupProperties"
    },
    "CloudSqlInstanceBackupProperties": {
      "properties": {
        "instanceDeleteTime": {
          "description": "Output only. The instance delete timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "databaseInstalledVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The installed database version of the Cloud SQL instance when the backup was taken."
        },
        "instanceCreateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The instance creation timestamp.",
          "format": "google-datetime"
        },
        "finalBackup": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the backup is a final backup."
        },
        "sourceInstance": {
          "description": "Output only. The source instance of the backup. Format: projects/{project}/instances/{instance}",
          "readOnly": true,
          "type": "string"
        },
        "instanceTier": {
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudSqlInstanceBackupProperties",
      "description": "CloudSqlInstanceBackupProperties represents Cloud SQL Instance Backup properties."
    },
    "FilestoreInstanceDataSourceProperties": {
      "description": "FilestoreInstanceDataSourceProperties represents the properties of a Filestore resource that are stored in the DataSource. .",
      "id": "FilestoreInstanceDataSourceProperties",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Filestore instance backed up by the datasource."
        },
        "instanceCreateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The instance creation timestamp.",
          "format": "google-datetime"
        }
      }
    },
    "ComputeInstanceBackupPlanProperties": {
      "properties": {
        "guestFlush": {
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ComputeInstanceBackupPlanProperties",
      "description": "Properties for a compute instance backup plan."
    },
    "AliasIpRange": {
      "id": "AliasIpRange",
      "description": "An alias IP range attached to an instance's network interface.",
      "properties": {
        "ipCidrRange": {
          "description": "Optional. The IP alias ranges to allocate for this interface.",
          "type": "string"
        },
        "subnetworkRangeName": {
          "description": "Optional. The name of a subnetwork secondary IP range from which to allocate an IP alias range. If not specified, the primary range of the subnetwork is used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataSource": {
      "type": "object",
      "properties": {
        "backupBlockedByVaultAccessRestriction": {
          "description": "Output only. This field is set to true if the backup is blocked by vault access restriction.",
          "readOnly": true,
          "type": "boolean"
        },
        "configState": {
          "enum": [
            "BACKUP_CONFIG_STATE_UNSPECIFIED",
            "ACTIVE",
            "PASSIVE"
          ],
          "description": "Output only. The backup configuration state.",
          "enumDescriptions": [
            "The possible states of backup configuration. Status not set.",
            "The data source is actively protected (i.e. there is a BackupPlanAssociation or Appliance SLA pointing to it)",
            "The data source is no longer protected (but may have backups under it)"
          ],
          "readOnly": true,
          "type": "string"
        },
        "totalStoredBytes": {
          "description": "The number of bytes (metadata and data) stored in this datasource.",
          "format": "int64",
          "type": "string"
        },
        "dataSourceBackupApplianceApplication": {
          "description": "The backed up resource is a backup appliance application.",
          "$ref": "DataSourceBackupApplianceApplication"
        },
        "backupCount": {
          "type": "string",
          "description": "Number of backups in the data source.",
          "format": "int64"
        },
        "dataSourceGcpResource": {
          "description": "The backed up resource is a Google Cloud resource. The word 'DataSource' was included in the names to indicate that this is the representation of the Google Cloud resource used within the DataSource object.",
          "$ref": "DataSourceGcpResource"
        },
        "etag": {
          "description": "Server specified ETag for the ManagementServer resource to prevent simultaneous updates from overwiting each other.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the instance was created.",
          "format": "google-datetime"
        },
        "backupConfigInfo": {
          "description": "Output only. Details of how the resource is configured for backup.",
          "readOnly": true,
          "$ref": "BackupConfigInfo"
        },
        "state": {
          "description": "Output only. The DataSource resource instance state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "The data source is being created.",
            "The data source has been created and is fully usable.",
            "The data source is being deleted.",
            "The data source is experiencing an issue and might be unusable."
          ]
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the instance was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined:"
        },
        "name": {
          "description": "Output only. Identifier. Name of the datasource to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}\"`. `{datasource}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the backup vault.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Message describing a DataSource object. Datasource object used to represent Datasource details for both admin and basic view.",
      "id": "DataSource"
    },
    "FetchBackupsForResourceTypeResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "The Backups from the specified parent."
        }
      },
      "description": "Response for the FetchBackupsForResourceType method.",
      "id": "FetchBackupsForResourceTypeResponse"
    },
    "AccessConfig": {
      "properties": {
        "setPublicPtr": {
          "description": "Optional. Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name.",
          "type": "boolean"
        },
        "externalIpv6PrefixLength": {
          "description": "Optional. The prefix length of the external IPv6 range.",
          "format": "int32",
          "type": "integer"
        },
        "networkTier": {
          "description": "Optional. This signifies the networking tier used for configuring this access",
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "PREMIUM",
            "STANDARD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "High quality, Google-grade network tier, support for all networking products.",
            "Public internet quality, only limited support for other networking products."
          ]
        },
        "name": {
          "description": "Optional. The name of this access configuration.",
          "type": "string"
        },
        "externalIpv6": {
          "description": "Optional. The external IPv6 address of this access configuration.",
          "type": "string"
        },
        "publicPtrDomainName": {
          "description": "Optional. The DNS domain name for the public PTR record.",
          "type": "string"
        },
        "natIP": {
          "description": "Optional. The external IP address of this access configuration.",
          "type": "string"
        },
        "type": {
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "ONE_TO_ONE_NAT",
            "DIRECT_IPV6"
          ],
          "description": "Optional. In accessConfigs (IPv4), the default and only option is ONE_TO_ONE_NAT. In ipv6AccessConfigs, the default and only option is DIRECT_IPV6.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "ONE_TO_ONE_NAT",
            "Direct IPv6 access."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "AccessConfig",
      "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported."
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "type": "object",
      "properties": {
        "unsupportedFeatures": {
          "description": "List of features that are not supported in the location.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "Remove once parity achieved between BV_AF and BV_CUSTOM_PROBERS.",
              ""
            ],
            "type": "string",
            "enum": [
              "FEATURE_UNSPECIFIED",
              "MANAGEMENT_SERVER",
              "COMPUTE_INSTANCE",
              "PROTECTION_SUMMARY",
              "DISK",
              "CLOUD_SQL",
              "ALLOY_DB",
              "FILESTORE",
              "BV_AF",
              "CEP_MONITORING_COMPUTE_INSTANCE",
              "CEP_MONITORING_DISK",
              "BV_CUSTOM_PROBERS",
              "FT_CUSTOM_PROBERS"
            ]
          }
        }
      }
    },
    "ListBackupPlansResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupPlans": {
          "description": "The list of `BackupPlans` in the project for the specified location. If the `{location}` value in the request is \"-\", the response contains a list of resources from all locations. In case any location is unreachable, the response will only return backup plans in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations. BackupPlan",
          "type": "array",
          "items": {
            "$ref": "BackupPlan"
          }
        },
        "nextPageToken": {
          "description": "A token which may be sent as page_token in a subsequent `ListBackupPlans` call to retrieve the next page of results. If this field is omitted or empty, then there are no more results to return.",
          "type": "string"
        }
      },
      "description": "The response message for getting a list of `BackupPlan`.",
      "id": "ListBackupPlansResponse"
    },
    "InstanceParams": {
      "description": "Additional instance params.",
      "id": "InstanceParams",
      "type": "object",
      "properties": {
        "resourceManagerTags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource manager tags to be bound to the instance."
        }
      }
    },
    "BackupApplianceBackupProperties": {
      "id": "BackupApplianceBackupProperties",
      "description": "BackupApplianceBackupProperties represents BackupDR backup appliance's properties.",
      "properties": {
        "finalizeTime": {
          "description": "Output only. The time when this backup object was finalized (if none, backup is not finalized).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "recoveryRangeEndTime": {
          "type": "string",
          "description": "Optional. The latest timestamp of data available in this Backup.",
          "format": "google-datetime"
        },
        "generationId": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The numeric generation ID of the backup (monotonically increasing).",
          "format": "int32"
        },
        "recoveryRangeStartTime": {
          "type": "string",
          "description": "Optional. The earliest timestamp of data available in this Backup.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "AbandonBackupRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "request message for AbandonBackup.",
      "id": "AbandonBackupRequest"
    },
    "ComputeInstanceBackupProperties": {
      "properties": {
        "scheduling": {
          "description": "Specifies the scheduling options for the instances that are created from these properties.",
          "$ref": "Scheduling"
        },
        "serviceAccount": {
          "type": "array",
          "items": {
            "$ref": "ServiceAccount"
          },
          "description": "A list of service accounts with specified scopes. Access tokens for these service accounts are available to the instances that are created from these properties. Use metadata queries to obtain the access tokens for these instances."
        },
        "sourceInstance": {
          "description": "The source instance used to create this backup. This can be a partial or full URL to the resource. For example, the following are valid values: -https://www.googleapis.com/compute/v1/projects/project/zones/zone/instances/instance -projects/project/zones/zone/instances/instance",
          "type": "string"
        },
        "canIpForward": {
          "description": "Enables instances created based on these properties to send packets with source IP addresses other than their own and receive packets with destination IP addresses other than their own. If these instances will be used as an IP gateway or it will be set as the next-hop in a Route resource, specify `true`. If unsure, leave this set to `false`. See the https://cloud.google.com/vpc/docs/using-routes#canipforward documentation for more information.",
          "type": "boolean"
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to instances that are created from these properties. These pairs can consist of custom metadata or predefined keys. See https://cloud.google.com/compute/docs/metadata/overview for more information.",
          "$ref": "Metadata"
        },
        "description": {
          "description": "An optional text description for the instances that are created from these properties.",
          "type": "string"
        },
        "guestAccelerator": {
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "A list of guest accelerator cards' type and count to use for instances created from these properties."
        },
        "networkInterface": {
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "An array of network access configurations for this interface."
        },
        "minCpuPlatform": {
          "description": "Minimum cpu/platform to be used by instances. The instance may be scheduled on the specified or newer cpu/platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: Intel Haswell` or `minCpuPlatform: Intel Sandy Bridge`. For more information, read https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform.",
          "type": "string"
        },
        "keyRevocationActionType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Indicates user chose no operation.",
            "Indicates user chose to opt for VM shutdown on key revocation."
          ],
          "description": "KeyRevocationActionType of the instance. Supported options are \"STOP\" and \"NONE\". The default value is \"NONE\" if it is not specified.",
          "enum": [
            "KEY_REVOCATION_ACTION_TYPE_UNSPECIFIED",
            "NONE",
            "STOP"
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to apply to instances that are created from these properties."
        },
        "guestFlush": {
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false.",
          "type": "boolean"
        },
        "machineType": {
          "description": "The machine type to use for instances that are created from these properties.",
          "type": "string"
        },
        "disk": {
          "type": "array",
          "items": {
            "$ref": "AttachedDisk"
          },
          "description": "An array of disks that are associated with the instances that are created from these properties."
        },
        "tags": {
          "description": "A list of tags to apply to the instances that are created from these properties. The tags identify valid sources or targets for network firewalls. The setTags method can modify this list of tags. Each tag within the list must comply with RFC1035 (https://www.ietf.org/rfc/rfc1035.txt).",
          "$ref": "Tags"
        }
      },
      "type": "object",
      "id": "ComputeInstanceBackupProperties",
      "description": "ComputeInstanceBackupProperties represents Compute Engine instance backup properties."
    },
    "RestoreBackupResponse": {
      "description": "Response message for restoring from a Backup.",
      "id": "RestoreBackupResponse",
      "type": "object",
      "properties": {
        "targetResource": {
          "description": "Details of the target resource created/modified as part of restore.",
          "$ref": "TargetResource"
        }
      }
    },
    "FetchDataSourceReferencesForResourceTypeResponse": {
      "properties": {
        "dataSourceReferences": {
          "type": "array",
          "items": {
            "$ref": "DataSourceReference"
          },
          "description": "The DataSourceReferences from the specified parent."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FetchDataSourceReferencesForResourceTypeResponse",
      "description": "Response for the FetchDataSourceReferencesForResourceType method."
    },
    "FetchResourceBackupConfigsResponse": {
      "id": "FetchResourceBackupConfigsResponse",
      "description": "Response for FetchResourceBackupConfigs.",
      "properties": {
        "resourceBackupConfigs": {
          "type": "array",
          "items": {
            "$ref": "ResourceBackupConfig"
          },
          "description": "The list of ResourceBackupConfigs for the specified scope."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupLock": {
      "description": "BackupLock represents a single lock on a Backup resource. An unexpired lock on a Backup prevents the Backup from being deleted.",
      "id": "BackupLock",
      "type": "object",
      "properties": {
        "backupApplianceLockInfo": {
          "description": "If the client is a backup and recovery appliance, this contains metadata about why the lock exists.",
          "$ref": "BackupApplianceLockInfo"
        },
        "lockUntilTime": {
          "type": "string",
          "description": "Required. The time after which this lock is not considered valid and will no longer protect the Backup from deletion.",
          "format": "google-datetime"
        },
        "serviceLockInfo": {
          "readOnly": true,
          "$ref": "ServiceLockInfo",
          "description": "Output only. Contains metadata about the lock exist for Google Cloud native backups."
        }
      }
    },
    "DataSourceGcpResource": {
      "properties": {
        "computeInstanceDatasourceProperties": {
          "description": "ComputeInstanceDataSourceProperties has a subset of Compute Instance properties that are useful at the Datasource level.",
          "$ref": "ComputeInstanceDataSourceProperties"
        },
        "diskDatasourceProperties": {
          "description": "DiskDataSourceProperties has a subset of Disk properties that are useful at the Datasource level.",
          "$ref": "DiskDataSourceProperties"
        },
        "alloyDbClusterDatasourceProperties": {
          "description": "Output only. AlloyDBClusterDataSourceProperties has a subset of AlloyDB cluster properties that are useful at the Datasource level. Currently none of its child properties are auditable. If new auditable properties are added, the AUDIT annotation should be added.",
          "readOnly": true,
          "$ref": "AlloyDBClusterDataSourceProperties"
        },
        "location": {
          "description": "Location of the resource: //\"global\"/\"unspecified\".",
          "type": "string"
        },
        "cloudSqlInstanceDatasourceProperties": {
          "readOnly": true,
          "$ref": "CloudSqlInstanceDataSourceProperties",
          "description": "Output only. CloudSqlInstanceDataSourceProperties has a subset of Cloud SQL Instance properties that are useful at the Datasource level."
        },
        "gcpResourcename": {
          "description": "Output only. Full resource pathname URL of the source Google Cloud resource.",
          "readOnly": true,
          "type": "string"
        },
        "filestoreInstanceDatasourceProperties": {
          "readOnly": true,
          "$ref": "FilestoreInstanceDataSourceProperties",
          "description": "Output only. FilestoreInstanceDataSourceProperties has a subset of FileStore instance properties that are useful at the Datasource level."
        },
        "type": {
          "description": "The type of the Google Cloud resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataSourceGcpResource",
      "description": "DataSourceGcpResource is used for protected resources that are Google Cloud Resources. This name is easeier to understand than GcpResourceDataSource or GcpDataSourceResource"
    },
    "BackupDrTemplateConfig": {
      "description": "Provides additional information about Google Cloud Backup and DR's Template backup configuration.",
      "id": "BackupDrTemplateConfig",
      "type": "object",
      "properties": {
        "firstPartyManagementUri": {
          "description": "Output only. The URI of the BackupDr template resource for the first party identity users.",
          "readOnly": true,
          "type": "string"
        },
        "thirdPartyManagementUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the BackupDr template resource for the third party identity users."
        }
      }
    },
    "BackupDrPlanRule": {
      "id": "BackupDrPlanRule",
      "description": "BackupDrPlanRule has rule specific information of the backup plan resource.",
      "properties": {
        "lastSuccessfulBackupTime": {
          "description": "Output only. Timestamp of the latest successful backup created via this backup rule.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "ruleId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique Id of the backup rule."
        }
      },
      "type": "object"
    },
    "WeekDayOfMonth": {
      "description": "`WeekDayOfMonth` defines the week day of the month on which the backups will run. The message combines a `WeekOfMonth` and `DayOfWeek` to produce values like `FIRST`/`MONDAY` or `LAST`/`FRIDAY`.",
      "id": "WeekDayOfMonth",
      "type": "object",
      "properties": {
        "weekOfMonth": {
          "description": "Required. Specifies the week of the month.",
          "enum": [
            "WEEK_OF_MONTH_UNSPECIFIED",
            "FIRST",
            "SECOND",
            "THIRD",
            "FOURTH",
            "LAST"
          ],
          "type": "string",
          "enumDescriptions": [
            "The zero value. Do not use.",
            "The first week of the month.",
            "The second week of the month.",
            "The third week of the month.",
            "The fourth week of the month.",
            "The last week of the month."
          ]
        },
        "dayOfWeek": {
          "description": "Required. Specifies the day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      }
    },
    "SetInternalStatusRequest": {
      "description": "Request message for SetStatusInternal method.",
      "id": "SetInternalStatusRequest",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value required for this method to work. This field must be the 32-byte SHA256 hash of the DataSourceID. The DataSourceID used here is only the final piece of the fully qualified resource path for this DataSource (i.e. the part after '.../dataSources/'). This field exists to make this method difficult to call since it is intended for use only by Backup Appliances.",
          "format": "byte"
        },
        "backupConfigState": {
          "enumDescriptions": [
            "The possible states of backup configuration. Status not set.",
            "The data source is actively protected (i.e. there is a BackupPlanAssociation or Appliance SLA pointing to it)",
            "The data source is no longer protected (but may have backups under it)"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "BACKUP_CONFIG_STATE_UNSPECIFIED",
            "ACTIVE",
            "PASSIVE"
          ],
          "description": "Required. Output only. The new BackupConfigState to set for the DataSource."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "WorkforceIdentityBasedOAuth2ClientID": {
      "id": "WorkforceIdentityBasedOAuth2ClientID",
      "description": "OAuth Client ID depending on the Workforce Identity i.e. either 1p or 3p,",
      "properties": {
        "firstPartyOauth2ClientId": {
          "description": "Output only. First party OAuth Client ID for Google Identities.",
          "readOnly": true,
          "type": "string"
        },
        "thirdPartyOauth2ClientId": {
          "description": "Output only. Third party OAuth Client ID for External Identity Providers.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "FilestoreInstanceDataSourceReferenceProperties": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Name of the Filestore instance backed up by the datasource. Format: projects/{project}/instances/{instance}",
          "readOnly": true,
          "type": "string"
        },
        "instanceCreateTime": {
          "description": "Output only. The instance creation timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "FilestoreInstanceDataSourceReferenceProperties represents the properties of a Filestore resource that are stored in the DataSourceReference. .",
      "id": "FilestoreInstanceDataSourceReferenceProperties"
    },
    "FetchBackupPlanAssociationsForResourceTypeResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "backupPlanAssociations": {
          "description": "Output only. The BackupPlanAssociations from the specified parent.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "BackupPlanAssociation"
          }
        }
      },
      "type": "object",
      "id": "FetchBackupPlanAssociationsForResourceTypeResponse",
      "description": "Response for the FetchBackupPlanAssociationsForResourceType method."
    },
    "BackupWindow": {
      "type": "object",
      "properties": {
        "startHourOfDay": {
          "type": "integer",
          "description": "Required. The hour of day (0-23) when the window starts for example if value of start hour of day is 6 that mean backup window start at 6:00.",
          "format": "int32"
        },
        "endHourOfDay": {
          "description": "Required. The hour of day (1-24) when the window end for example if value of end hour of day is 10 that mean backup window end time is 10:00. End hour of day should be greater than start hour of day. 0 <= start_hour_of_day < end_hour_of_day <= 24 End hour of day is not include in backup window that mean if end_hour_of_day= 10 jobs should start before 10:00.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "`BackupWindow` defines a window of the day during which backup jobs will run.",
      "id": "BackupWindow"
    },
    "ListBackupVaultsResponse": {
      "id": "ListBackupVaultsResponse",
      "description": "Response message for listing BackupVaults.",
      "properties": {
        "backupVaults": {
          "type": "array",
          "items": {
            "$ref": "BackupVault"
          },
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "AttachedDisk": {
      "properties": {
        "diskEncryptionKey": {
          "description": "Optional. Encrypts or decrypts a disk using a customer-supplied encryption key.",
          "$ref": "CustomerEncryptionKey"
        },
        "mode": {
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY",
            "LOCKED"
          ],
          "description": "Optional. The mode in which to attach this disk.",
          "enumDescriptions": [
            "Default value, which is unused.",
            "Attaches this disk in read-write mode. Only one virtual machine at a time can be attached to a disk in read-write mode.",
            "Attaches this disk in read-only mode. Multiple virtual machines can use a disk in read-only mode at a time.",
            "The disk is locked for administrative reasons. Nobody else can use the disk. This mode is used (for example) when taking a snapshot of a disk to prevent mounting the disk while it is being snapshotted."
          ],
          "type": "string"
        },
        "diskTypeDeprecated": {
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "SCRATCH",
            "PERSISTENT"
          ],
          "description": "Specifies the type of the disk.",
          "enumDescriptions": [
            "Default value, which is unused.",
            "A scratch disk type.",
            "A persistent disk type."
          ],
          "type": "string",
          "deprecated": true
        },
        "diskType": {
          "description": "Optional. Output only. The URI of the disk type resource. For example: projects/project/zones/zone/diskTypes/pd-standard or pd-ssd",
          "readOnly": true,
          "type": "string"
        },
        "deviceName": {
          "description": "Optional. This is used as an identifier for the disks. This is the unique name has to provided to modify disk parameters like disk_name and replica_zones (in case of RePDs)",
          "type": "string"
        },
        "boot": {
          "description": "Optional. Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem.",
          "type": "boolean"
        },
        "autoDelete": {
          "description": "Optional. Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance).",
          "type": "boolean"
        },
        "diskSizeGb": {
          "type": "string",
          "description": "Optional. The size of the disk in GB.",
          "format": "int64"
        },
        "initializeParams": {
          "description": "Optional. Specifies the parameters to initialize this disk.",
          "$ref": "InitializeParams"
        },
        "kind": {
          "description": "Optional. Type of the resource.",
          "type": "string"
        },
        "license": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Any valid publicly visible licenses."
        },
        "index": {
          "description": "Optional. A zero-based index to this disk, where 0 is reserved for the boot disk.",
          "format": "int64",
          "type": "string"
        },
        "guestOsFeature": {
          "description": "Optional. A list of features to enable on the guest operating system. Applicable only for bootable images.",
          "type": "array",
          "items": {
            "$ref": "GuestOsFeature"
          }
        },
        "type": {
          "enumDescriptions": [
            "Default value, which is unused.",
            "A scratch disk type.",
            "A persistent disk type."
          ],
          "type": "string",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "SCRATCH",
            "PERSISTENT"
          ],
          "description": "Optional. Specifies the type of the disk."
        },
        "source": {
          "description": "Optional. Specifies a valid partial or full URL to an existing Persistent Disk resource.",
          "type": "string"
        },
        "diskInterface": {
          "type": "string",
          "enumDescriptions": [
            "Default value, which is unused.",
            "SCSI Disk Interface.",
            "NVME Disk Interface.",
            "NVDIMM Disk Interface.",
            "ISCSI Disk Interface."
          ],
          "description": "Optional. Specifies the disk interface to use for attaching this disk.",
          "enum": [
            "DISK_INTERFACE_UNSPECIFIED",
            "SCSI",
            "NVME",
            "NVDIMM",
            "ISCSI"
          ]
        },
        "savedState": {
          "enum": [
            "DISK_SAVED_STATE_UNSPECIFIED",
            "PRESERVED"
          ],
          "description": "Optional. Output only. The state of the disk.",
          "enumDescriptions": [
            "Default Disk state has not been preserved.",
            "Disk state has been preserved."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "AttachedDisk",
      "description": "An instance-attached disk resource."
    },
    "NodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled.",
      "id": "NodeAffinity",
      "type": "object",
      "properties": {
        "key": {
          "description": "Optional. Corresponds to the label key of Node resource.",
          "type": "string"
        },
        "operator": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "description": "Optional. Defines the operation of node selection.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Requires Compute Engine to seek for matched nodes.",
            "Requires Compute Engine to avoid certain nodes."
          ],
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of Node resource."
        }
      }
    },
    "ListBackupsResponse": {
      "description": "Response message for listing Backups.",
      "id": "ListBackupsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "backups": {
          "description": "The list of Backup instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "ComputeInstanceRestoreProperties": {
      "properties": {
        "reservationAffinity": {
          "description": "Optional. Specifies the reservations that this instance can consume from.",
          "$ref": "AllocationAffinity"
        },
        "resourcePolicies": {
          "description": "Optional. Resource policies applied to this instance. By default, no resource policies will be applied.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. Name of the compute instance.",
          "type": "string"
        },
        "networkPerformanceConfig": {
          "description": "Optional. Configure network performance such as egress bandwidth tier.",
          "$ref": "NetworkPerformanceConfig"
        },
        "machineType": {
          "description": "Optional. Full or partial URL of the machine type resource to use for this instance.",
          "type": "string"
        },
        "advancedMachineFeatures": {
          "description": "Optional. Controls for advanced machine-related behavior features.",
          "$ref": "AdvancedMachineFeatures"
        },
        "keyRevocationActionType": {
          "enum": [
            "KEY_REVOCATION_ACTION_TYPE_UNSPECIFIED",
            "NONE",
            "STOP"
          ],
          "description": "Optional. KeyRevocationActionType of the instance.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Indicates user chose no operation.",
            "Indicates user chose to opt for VM shutdown on key revocation."
          ],
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels to apply to this instance.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayDevice": {
          "description": "Optional. Enables display device for the instance.",
          "$ref": "DisplayDevice"
        },
        "description": {
          "description": "Optional. An optional description of this resource. Provide this property when you create the resource.",
          "type": "string"
        },
        "canIpForward": {
          "description": "Optional. Allows this instance to send and receive packets with non-matching destination or source IPs.",
          "type": "boolean"
        },
        "hostname": {
          "description": "Optional. Specifies the hostname of the instance. The specified hostname must be RFC1035 compliant. If hostname is not specified, the default hostname is [INSTANCE_NAME].c.[PROJECT_ID].internal when using the global DNS, and [INSTANCE_NAME].[ZONE].c.[PROJECT_ID].internal when using zonal DNS.",
          "type": "string"
        },
        "params": {
          "description": "Input only. Additional params passed with the request, but not persisted as part of resource payload.",
          "$ref": "InstanceParams"
        },
        "privateIpv6GoogleAccess": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Each network interface inherits PrivateIpv6GoogleAccess from its subnetwork.",
            "Outbound private IPv6 access from VMs in this subnet to Google services. If specified, the subnetwork who is attached to the instance's default network interface will be assigned an internal IPv6 prefix if it doesn't have before.",
            "Bidirectional private IPv6 access to/from Google services. If specified, the subnetwork who is attached to the instance's default network interface will be assigned an internal IPv6 prefix if it doesn't have before."
          ],
          "type": "string",
          "enum": [
            "INSTANCE_PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "INHERIT_FROM_SUBNETWORK",
            "ENABLE_OUTBOUND_VM_ACCESS_TO_GOOGLE",
            "ENABLE_BIDIRECTIONAL_ACCESS_TO_GOOGLE"
          ],
          "description": "Optional. The private IPv6 google access type for the VM. If not specified, use INHERIT_FROM_SUBNETWORK as default."
        },
        "disks": {
          "description": "Optional. Array of disks associated with this instance. Persistent disks must be created before you can assign them. Source regional persistent disks will be restored with default replica zones if not specified.",
          "type": "array",
          "items": {
            "$ref": "AttachedDisk"
          }
        },
        "deletionProtection": {
          "description": "Optional. Whether the resource should be protected against deletion.",
          "type": "boolean"
        },
        "guestAccelerators": {
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "Optional. A list of the type and count of accelerator cards attached to the instance."
        },
        "scheduling": {
          "description": "Optional. Sets the scheduling options for this instance.",
          "$ref": "Scheduling"
        },
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Optional. An array of network configurations for this instance. These specify how interfaces are configured to interact with other network services, such as connecting to the internet. Multiple interfaces are supported per instance. Required to restore in different project or region."
        },
        "serviceAccounts": {
          "description": "Optional. A list of service accounts, with their specified scopes, authorized for this instance. Only one service account per VM instance is supported.",
          "type": "array",
          "items": {
            "$ref": "ServiceAccount"
          }
        },
        "instanceEncryptionKey": {
          "description": "Optional. Encrypts suspended data for an instance with a customer-managed encryption key.",
          "$ref": "CustomerEncryptionKey"
        },
        "tags": {
          "description": "Optional. Tags to apply to this instance. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during instance creation.",
          "$ref": "Tags"
        },
        "minCpuPlatform": {
          "description": "Optional. Minimum CPU platform to use for this instance.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. This includes custom metadata and predefined keys.",
          "$ref": "Metadata"
        },
        "confidentialInstanceConfig": {
          "description": "Optional. Controls Confidential compute options on the instance",
          "$ref": "ConfidentialInstanceConfig"
        }
      },
      "type": "object",
      "id": "ComputeInstanceRestoreProperties",
      "description": "ComputeInstanceRestoreProperties represents Compute Engine instance properties to be overridden during restore."
    },
    "InitiateBackupResponse": {
      "description": "Response message for InitiateBackup.",
      "id": "InitiateBackupResponse",
      "type": "object",
      "properties": {
        "backup": {
          "description": "The name of the backup that was created.",
          "type": "string"
        },
        "newBackupGenerationId": {
          "description": "The generation id of the new backup.",
          "format": "int32",
          "type": "integer"
        },
        "baseBackupGenerationId": {
          "description": "The generation id of the base backup. It is needed for the incremental backups.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GcpResource": {
      "id": "GcpResource",
      "description": "Minimum details to identify a Google Cloud resource",
      "properties": {
        "gcpResourcename": {
          "description": "Name of the Google Cloud resource.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource: //\"global\"/\"unspecified\".",
          "type": "string"
        },
        "type": {
          "description": "Type of the resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FetchUsableBackupVaultsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "backupVaults": {
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "type": "array",
          "items": {
            "$ref": "BackupVault"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FetchUsableBackupVaultsResponse",
      "description": "Response message for fetching usable BackupVaults."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "Scheduling": {
      "properties": {
        "instanceTerminationAction": {
          "enum": [
            "INSTANCE_TERMINATION_ACTION_UNSPECIFIED",
            "DELETE",
            "STOP"
          ],
          "description": "Optional. Specifies the termination action for the instance.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Delete the VM.",
            "Stop the VM without storing in-memory content. default action."
          ],
          "type": "string"
        },
        "automaticRestart": {
          "description": "Optional. Specifies whether the instance should be automatically restarted if it is terminated by Compute Engine (not terminated by a user).",
          "type": "boolean"
        },
        "minNodeCpus": {
          "type": "integer",
          "description": "Optional. The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node.",
          "format": "int32"
        },
        "onHostMaintenance": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tells Compute Engine to terminate and (optionally) restart the instance away from the maintenance activity.",
            "Default, Allows Compute Engine to automatically migrate instances out of the way of maintenance events."
          ],
          "description": "Optional. Defines the maintenance behavior for this instance.",
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ]
        },
        "localSsdRecoveryTimeout": {
          "description": "Optional. Specifies the maximum amount of time a Local Ssd Vm should wait while recovery of the Local Ssd state is attempted. Its value should be in between 0 and 168 hours with hour granularity and the default value being 1 hour.",
          "$ref": "SchedulingDuration"
        },
        "preemptible": {
          "description": "Optional. Defines whether the instance is preemptible.",
          "type": "boolean"
        },
        "nodeAffinities": {
          "type": "array",
          "items": {
            "$ref": "NodeAffinity"
          },
          "description": "Optional. A set of node affinity and anti-affinity configurations. Overrides reservationAffinity."
        },
        "provisioningModel": {
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Standard provisioning with user controlled runtime, no discounts.",
            "Heavily discounted, no guaranteed runtime."
          ],
          "type": "string",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT"
          ],
          "description": "Optional. Specifies the provisioning model of the instance."
        }
      },
      "type": "object",
      "id": "Scheduling",
      "description": "Sets the scheduling options for an Instance."
    },
    "GCPBackupPlanInfo": {
      "type": "object",
[...]
