{
  "title": "Bare Metal Solution API",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v2/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v2/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "baremetalsolution.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "id": "baremetalsolution.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v2/{+name}"
            }
          },
          "resources": {
            "provisioningConfigs": {
              "methods": {
                "patch": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/provisioningConfigs/{provisioningConfigsId}",
                  "request": {
                    "$ref": "ProvisioningConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "ProvisioningConfig"
                  },
                  "parameters": {
                    "email": {
                      "description": "Optional. Email provided to send a confirmation with provisioning config to.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/provisioningConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Output only. The system-generated name of the provisioning config. This follows the UUID format.",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to update.",
                      "type": "string"
                    }
                  },
                  "id": "baremetalsolution.projects.locations.provisioningConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update existing ProvisioningConfig."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/provisioningConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the ProvisioningConfig.",
                      "required": true
                    }
                  },
                  "id": "baremetalsolution.projects.locations.provisioningConfigs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get ProvisioningConfig by name.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/provisioningConfigs/{provisioningConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "ProvisioningConfig"
                  }
                },
                "create": {
                  "path": "v2/{+parent}/provisioningConfigs",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/provisioningConfigs",
                  "request": {
                    "$ref": "ProvisioningConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ProvisioningConfig"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent project and location containing the ProvisioningConfig.",
                      "required": true
                    },
                    "email": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Email provided to send a confirmation with provisioning config to."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create new ProvisioningConfig.",
                  "id": "baremetalsolution.projects.locations.provisioningConfigs.create"
                },
                "submit": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/provisioningConfigs:submit",
                  "request": {
                    "$ref": "SubmitProvisioningConfigRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/provisioningConfigs:submit",
                  "response": {
                    "$ref": "SubmitProvisioningConfigResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent project and location containing the ProvisioningConfig.",
                      "type": "string"
                    }
                  },
                  "id": "baremetalsolution.projects.locations.provisioningConfigs.submit",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Submit a provisioning configuration for a given project."
                }
              }
            },
            "networks": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get details of a single network.",
                  "id": "baremetalsolution.projects.locations.networks.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/networks/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource."
                    }
                  },
                  "response": {
                    "$ref": "Network"
                  },
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/networks/{networksId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "rename": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/networks/{networksId}:rename",
                  "request": {
                    "$ref": "RenameNetworkRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+name}:rename",
                  "response": {
                    "$ref": "Network"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/networks/[^/]+$",
                      "location": "path",
                      "description": "Required. The `name` field is used to identify the network. Format: projects/{project}/locations/{location}/networks/{network}",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "baremetalsolution.projects.locations.networks.rename",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "RenameNetwork sets a new name for a network. Use with caution, previous names become immediately invalidated."
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Output only. The resource name of this `Network`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. Format: `projects/{project}/locations/{location}/networks/{network}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/networks/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "The list of fields to update. The only currently supported fields are: `labels`, `reservations`, `vrf.vlan_attachments`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update details of a single network.",
                  "id": "baremetalsolution.projects.locations.networks.patch",
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/networks/{networksId}",
                  "request": {
                    "$ref": "Network"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListNetworksResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/networks",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/networks",
                  "id": "baremetalsolution.projects.locations.networks.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List network in a given project and location.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Parent value for ListNetworksRequest.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results from the server."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Requested page size. The server might return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "List filter.",
                      "type": "string"
                    }
                  }
                },
                "listNetworkUsage": {
                  "id": "baremetalsolution.projects.locations.networks.listNetworkUsage",
                  "parameterOrder": [
                    "location"
                  ],
                  "description": "List all Networks (and used IPs for each Network) in the vendor account associated with the specified project.",
                  "parameters": {
                    "location": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent value (project and location).",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListNetworkUsageResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/networks:listNetworkUsage",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+location}/networks:listNetworkUsage",
                  "httpMethod": "GET"
                }
              }
            },
            "instances": {
              "methods": {
                "disableHyperthreading": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Perform disable hyperthreading operation on a single server.",
                  "id": "baremetalsolution.projects.locations.instances.disableHyperthreading",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the instance. Format: projects/{project}/locations/{location}/instances/{instance}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+name}:disableHyperthreading",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:disableHyperthreading",
                  "request": {
                    "$ref": "DisableHyperthreadingRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "detachLun": {
                  "id": "baremetalsolution.projects.locations.instances.detachLun",
                  "parameterOrder": [
                    "instance"
                  ],
                  "description": "Detach LUN from Instance.",
                  "parameters": {
                    "instance": {
                      "required": true,
                      "description": "Required. Name of the instance.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:detachLun",
                  "request": {
                    "$ref": "DetachLunRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+instance}:detachLun",
                  "httpMethod": "POST"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the resource.",
                      "type": "string"
                    }
                  },
                  "id": "baremetalsolution.projects.locations.instances.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get details about a single server.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Instance"
                  }
                },
                "rename": {
                  "response": {
                    "$ref": "Instance"
                  },
                  "path": "v2/{+name}:rename",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:rename",
                  "request": {
                    "$ref": "RenameInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "RenameInstance sets a new name for an instance. Use with caution, previous names become immediately invalidated.",
                  "id": "baremetalsolution.projects.locations.instances.rename",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the instance. Format: projects/{project}/locations/{location}/instances/{instance}",
                      "required": true
                    }
                  }
                },
                "reset": {
                  "httpMethod": "POST",
                  "path": "v2/{+name}:reset",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:reset",
                  "request": {
                    "$ref": "ResetInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Perform an ungraceful, hard reset on a server. Equivalent to shutting the power off and then turning it back on.",
                  "id": "baremetalsolution.projects.locations.instances.reset"
                },
                "loadAuthInfo": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the server.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Load auth info for a server.",
                  "id": "baremetalsolution.projects.locations.instances.loadAuthInfo",
                  "path": "v2/{+name}:loadAuthInfo",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:loadAuthInfo",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "LoadInstanceAuthInfoResponse"
                  }
                },
                "enableHyperthreading": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Required. The `name` field is used to identify the instance. Format: projects/{project}/locations/{location}/instances/{instance}",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Perform enable hyperthreading operation on a single server.",
                  "id": "baremetalsolution.projects.locations.instances.enableHyperthreading",
                  "httpMethod": "POST",
                  "path": "v2/{+name}:enableHyperthreading",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:enableHyperthreading",
                  "request": {
                    "$ref": "EnableHyperthreadingRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "disableInteractiveSerialConsole": {
                  "id": "baremetalsolution.projects.locations.instances.disableInteractiveSerialConsole",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Disable the interactive serial console feature on an instance.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the resource.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:disableInteractiveSerialConsole",
                  "request": {
                    "$ref": "DisableInteractiveSerialConsoleRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:disableInteractiveSerialConsole",
                  "httpMethod": "POST"
                },
                "reimage": {
                  "id": "baremetalsolution.projects.locations.instances.reimage",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Perform reimage operation on a single server.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Required. The `name` field is used to identify the instance. Format: projects/{project}/locations/{location}/instances/{instance}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:reimage",
                  "request": {
                    "$ref": "ReimageInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:reimage",
                  "httpMethod": "POST"
                },
                "stop": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "id": "baremetalsolution.projects.locations.instances.stop",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Stop a running server.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:stop",
                  "request": {
                    "$ref": "StopInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+name}:stop",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "enableInteractiveSerialConsole": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Enable the interactive serial console feature on an instance.",
                  "id": "baremetalsolution.projects.locations.instances.enableInteractiveSerialConsole",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+name}:enableInteractiveSerialConsole",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:enableInteractiveSerialConsole",
                  "request": {
                    "$ref": "EnableInteractiveSerialConsoleRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/instances",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List servers in a given project and location.",
                  "id": "baremetalsolution.projects.locations.instances.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results from the server."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "List filter."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent value for ListInstancesRequest."
                    }
                  }
                },
                "start": {
                  "id": "baremetalsolution.projects.locations.instances.start",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts a server that was shutdown.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:start",
                  "request": {
                    "$ref": "StartInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:start",
                  "httpMethod": "POST"
                },
                "patch": {
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "request": {
                    "$ref": "Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Immutable. The resource name of this `Instance`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. Format: `projects/{project}/locations/{location}/instances/{instance}`"
                    },
                    "updateMask": {
                      "description": "The list of fields to update. The currently supported fields are: `labels` `hyperthreading_enabled` `os_image` `ssh_keys` `kms_key_version`",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update details of a single server.",
                  "id": "baremetalsolution.projects.locations.instances.patch"
                }
              }
            },
            "volumes": {
              "methods": {
                "rename": {
                  "httpMethod": "POST",
                  "path": "v2/{+name}:rename",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:rename",
                  "request": {
                    "$ref": "RenameVolumeRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Volume"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the volume. Format: projects/{project}/locations/{location}/volumes/{volume}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "RenameVolume sets a new name for a volume. Use with caution, previous names become immediately invalidated.",
                  "id": "baremetalsolution.projects.locations.volumes.rename"
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Volume"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "baremetalsolution.projects.locations.volumes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get details of a single storage volume."
                },
                "evict": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Volume.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Skips volume's cooloff and deletes it now. Volume must be in cooloff state.",
                  "id": "baremetalsolution.projects.locations.volumes.evict",
                  "httpMethod": "POST",
                  "path": "v2/{+name}:evict",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:evict",
                  "request": {
                    "$ref": "EvictVolumeRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "request": {
                    "$ref": "Volume"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Output only. The resource name of this `Volume`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. Format: `projects/{project}/locations/{location}/volumes/{volume}`"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "The list of fields to update. The only currently supported fields are: 'labels'"
                    }
                  },
                  "id": "baremetalsolution.projects.locations.volumes.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update details of a single storage volume."
                },
                "resize": {
                  "path": "v2/{+volume}:resize",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:resize",
                  "request": {
                    "$ref": "ResizeVolumeRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "volume": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Volume to resize.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "volume"
                  ],
                  "description": "Emergency Volume resize.",
                  "id": "baremetalsolution.projects.locations.volumes.resize"
                },
                "list": {
                  "path": "v2/{+parent}/volumes",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListVolumesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. The server might return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "List filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results from the server.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Parent value for ListVolumesRequest.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List storage volumes in a given project and location.",
                  "id": "baremetalsolution.projects.locations.volumes.list"
                }
              },
              "resources": {
                "luns": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Lun"
                      },
                      "path": "v2/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/luns/{lunsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Get details of a single storage logical unit number(LUN).",
                      "id": "baremetalsolution.projects.locations.volumes.luns.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/luns/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the resource."
                        }
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListLunsResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/luns",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+parent}/luns",
                      "httpMethod": "GET",
                      "id": "baremetalsolution.projects.locations.volumes.luns.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List storage volume luns for given storage volume.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "required": true,
                          "description": "Required. Parent value for ListLunsRequest.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results from the server.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Requested page size. The server might return fewer items than requested. If unspecified, server will pick an appropriate default."
                        }
                      }
                    },
                    "evict": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/luns/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the lun.",
                          "type": "string"
                        }
                      },
                      "id": "baremetalsolution.projects.locations.volumes.luns.evict",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Skips lun's cooloff and deletes it now. Lun must be in cooloff state.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/luns/{lunsId}:evict",
                      "request": {
                        "$ref": "EvictLunRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+name}:evict",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "restoreVolumeSnapshot": {
                      "parameters": {
                        "volumeSnapshot": {
                          "type": "string",
                          "description": "Required. Name of the snapshot which will be used to restore its parent volume.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "baremetalsolution.projects.locations.volumes.snapshots.restoreVolumeSnapshot",
                      "parameterOrder": [
                        "volumeSnapshot"
                      ],
                      "description": "Uses the specified snapshot to restore its parent volume. Returns INVALID_ARGUMENT if called for a non-boot volume.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}:restoreVolumeSnapshot",
                      "request": {
                        "$ref": "RestoreVolumeSnapshotRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+volumeSnapshot}:restoreVolumeSnapshot",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "location": "path",
                          "description": "Required. Parent value for ListVolumesRequest.",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Requested page size. The server might return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results from the server.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Retrieves the list of snapshots for the specified volume. Returns a response with an empty list of snapshots if called for a non-boot volume.",
                      "id": "baremetalsolution.projects.locations.volumes.snapshots.list",
                      "path": "v2/{+parent}/snapshots",
                      "httpMethod": "GET",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListVolumeSnapshotsResponse"
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a volume snapshot. Returns INVALID_ARGUMENT if called for a non-boot volume.",
                      "id": "baremetalsolution.projects.locations.volumes.snapshots.delete",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the snapshot to delete.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v2/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots",
                      "request": {
                        "$ref": "VolumeSnapshot"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+parent}/snapshots",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "VolumeSnapshot"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The volume to snapshot.",
                          "required": true
                        }
                      },
                      "id": "baremetalsolution.projects.locations.volumes.snapshots.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Takes a snapshot of a boot volume. Returns INVALID_ARGUMENT if called for a non-boot volume."
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Returns the specified snapshot resource. Returns INVALID_ARGUMENT if called for a non-boot volume.",
                      "id": "baremetalsolution.projects.locations.volumes.snapshots.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the snapshot.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "VolumeSnapshot"
                      },
                      "path": "v2/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "nfsShares": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "NfsShare"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nfsShares/{nfsSharesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "id": "baremetalsolution.projects.locations.nfsShares.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get details of a single NFS share.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nfsShares/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "rename": {
                  "response": {
                    "$ref": "NfsShare"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nfsShares/{nfsSharesId}:rename",
                  "request": {
                    "$ref": "RenameNfsShareRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+name}:rename",
                  "id": "baremetalsolution.projects.locations.nfsShares.rename",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "RenameNfsShare sets a new name for an nfsshare. Use with caution, previous names become immediately invalidated.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nfsShares/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the nfsshare. Format: projects/{project}/locations/{location}/nfsshares/{nfsshare}"
                    }
                  }
                },
                "create": {
                  "id": "baremetalsolution.projects.locations.nfsShares.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create an NFS share.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent project and location.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nfsShares",
                  "request": {
                    "$ref": "NfsShare"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/nfsShares"
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nfsShares",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/nfsShares",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListNfsSharesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results from the server."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Requested page size. The server might return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "List filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent value for ListNfsSharesRequest.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "baremetalsolution.projects.locations.nfsShares.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List NFS shares."
                },
                "patch": {
                  "id": "baremetalsolution.projects.locations.nfsShares.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update details of a single NFS share.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nfsShares/[^/]+$",
                      "location": "path",
                      "description": "Immutable. The name of the NFS share.",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "The list of fields to update. The only currently supported fields are: `labels` `allowed_clients`"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nfsShares/{nfsSharesId}",
                  "request": {
                    "$ref": "NfsShare"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nfsShares/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the NFS share to delete.",
                      "required": true
                    }
                  },
                  "id": "baremetalsolution.projects.locations.nfsShares.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete an NFS share. The underlying volume is automatically deleted.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nfsShares/{nfsSharesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "osImages": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results from the server.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Requested page size. The server might return fewer items than requested. If unspecified, server will pick an appropriate default. Notice that page_size field is not supported and won't be respected in the API request for now, will be updated when pagination is supported.",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent value for ListOSImagesRequest.",
                      "type": "string"
                    }
                  },
                  "id": "baremetalsolution.projects.locations.osImages.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Retrieves the list of OS images which are currently approved.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/osImages",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/osImages",
                  "response": {
                    "$ref": "ListOSImagesResponse"
                  }
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/osImages/{osImagesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "OSImage"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/osImages/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the OS image.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "baremetalsolution.projects.locations.osImages.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get details of a single OS image."
                }
              }
            },
            "provisioningQuotas": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListProvisioningQuotasResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/provisioningQuotas",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/provisioningQuotas",
                  "httpMethod": "GET",
                  "id": "baremetalsolution.projects.locations.provisioningQuotas.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List the budget details to provision resources on a given project.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Requested page size. The server might return fewer items than requested. If unspecified, server will pick an appropriate default. Notice that page_size field is not supported and won't be respected in the API request for now, will be updated when pagination is supported.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results from the server."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent value for ListProvisioningQuotasRequest.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/.*$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get details about an operation.",
                  "id": "baremetalsolution.projects.locations.operations.get",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "sshKeys": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent containing the SSH keys.",
                      "type": "string"
                    },
                    "sshKeyId": {
                      "description": "Required. The ID to use for the key, which will become the final component of the key's resource name. This value must match the regex: [a-zA-Z0-9@.\\-_]{1,64}",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Register a public SSH key in the specified project for use with the interactive serial console feature.",
                  "id": "baremetalsolution.projects.locations.sshKeys.create",
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/sshKeys",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sshKeys",
                  "request": {
                    "$ref": "SSHKey"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "SSHKey"
                  }
                },
                "delete": {
                  "id": "baremetalsolution.projects.locations.sshKeys.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a public SSH key registered in the specified project.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sshKeys/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the SSH key to delete. Currently, the only valid value for the location is \"global\".",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sshKeys/{sshKeysId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent containing the SSH keys. Currently, the only valid value for the location is \"global\"."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the public SSH keys registered for the specified project. These SSH keys are used only for the interactive serial console feature.",
                  "id": "baremetalsolution.projects.locations.sshKeys.list",
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/sshKeys",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sshKeys",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListSSHKeysResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v2",
  "id": "baremetalsolution:v2",
  "description": "Provides ways to manage Bare Metal Solution hardware installed in a regional extension located near a Google Cloud data center.",
  "revision": "20260319",
  "version_module": true,
  "schemas": {
    "ListOSImagesResponse": {
      "id": "ListOSImagesResponse",
      "description": "Request for getting all available OS images.",
      "type": "object",
      "properties": {
        "osImages": {
          "description": "The OS images available.",
          "items": {
            "$ref": "OSImage"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBaremetalsolutionV2LogicalInterface": {
      "description": "Each logical interface represents a logical abstraction of the underlying physical interface (for eg. bond, nic) of the instance. Each logical interface can effectively map to multiple network-IP pairs and still be mapped to one underlying physical interface.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Interface name. This is of syntax or and forms part of the network template name."
        },
        "interfaceIndex": {
          "format": "int32",
          "deprecated": true,
          "type": "integer",
          "description": "The index of the logical interface mapping to the index of the hardware bond or nic on the chosen network template. This field is deprecated."
        },
        "logicalNetworkInterfaces": {
          "type": "array",
          "description": "List of logical network interfaces within a logical interface.",
          "items": {
            "$ref": "LogicalNetworkInterface"
          }
        }
      },
      "id": "GoogleCloudBaremetalsolutionV2LogicalInterface"
    },
    "ProvisioningQuota": {
      "description": "A provisioning quota for a given project.",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The specific location of the provisioining quota."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the provisioning quota."
        },
        "networkBandwidth": {
          "format": "int64",
          "description": "Network bandwidth, Gbps",
          "type": "string"
        },
        "instanceQuota": {
          "description": "Instance quota.",
          "$ref": "InstanceQuota"
        },
        "serverCount": {
          "type": "string",
          "description": "Server count.",
          "format": "int64"
        },
        "storageGib": {
          "description": "Storage size (GB).",
          "type": "string",
          "format": "int64"
        },
        "assetType": {
          "enumDescriptions": [
            "The unspecified type.",
            "The server asset type.",
            "The storage asset type.",
            "The network asset type."
          ],
          "enum": [
            "ASSET_TYPE_UNSPECIFIED",
            "ASSET_TYPE_SERVER",
            "ASSET_TYPE_STORAGE",
            "ASSET_TYPE_NETWORK"
          ],
          "description": "The asset type of this provisioning quota.",
          "type": "string"
        },
        "availableCount": {
          "type": "integer",
          "description": "The available count of the provisioning quota.",
          "format": "int32"
        },
        "gcpService": {
          "type": "string",
          "description": "The gcp service of the provisioning quota."
        }
      },
      "id": "ProvisioningQuota"
    },
    "GoogleCloudBaremetalsolutionV2ServerNetworkTemplateLogicalInterface": {
      "description": "Logical interface.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified value.",
            "Bond interface type.",
            "NIC interface type."
          ],
          "enum": [
            "INTERFACE_TYPE_UNSPECIFIED",
            "BOND",
            "NIC"
          ],
          "type": "string",
          "description": "Interface type."
        },
        "name": {
          "description": "Interface name. This is not a globally unique identifier. Name is unique only inside the ServerNetworkTemplate. This is of syntax or and forms part of the network template name.",
          "type": "string"
        },
        "required": {
          "type": "boolean",
          "description": "If true, interface must have network connected."
        }
      },
      "id": "GoogleCloudBaremetalsolutionV2ServerNetworkTemplateLogicalInterface"
    },
    "ListProvisioningQuotasResponse": {
      "description": "Response message for the list of provisioning quotas.",
      "type": "object",
      "properties": {
        "provisioningQuotas": {
          "type": "array",
          "description": "The provisioning quotas registered in this project.",
          "items": {
            "$ref": "ProvisioningQuota"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListProvisioningQuotasResponse"
    },
    "DetachLunRequest": {
      "id": "DetachLunRequest",
      "description": "Message for detach specific LUN from an Instance.",
      "type": "object",
      "properties": {
        "lun": {
          "type": "string",
          "description": "Required. Name of the Lun to detach."
        },
        "skipReboot": {
          "type": "boolean",
          "description": "If true, performs lun unmapping without instance reboot."
        }
      }
    },
    "InstanceConfig": {
      "id": "InstanceConfig",
      "type": "object",
      "properties": {
        "id": {
          "deprecated": true,
          "type": "string",
          "description": "A transient unique identifier to identify an instance within an ProvisioningConfig request."
        },
        "kmsKeyVersion": {
          "type": "string",
          "description": "Name of the KMS crypto key version used to encrypt the initial passwords. The key has to have ASYMMETRIC_DECRYPT purpose."
        },
        "networkTemplate": {
          "description": "Server network template name. Filled if InstanceConfig.multivlan_config is true.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "boolean",
          "description": "Whether the instance should be provisioned with Hyperthreading enabled."
        },
        "instanceType": {
          "description": "Instance type. [Available types](https://cloud.google.com/bare-metal/docs/bms-planning#server_configurations)",
          "type": "string"
        },
        "networkConfig": {
          "description": "The type of network configuration on the instance.",
          "type": "string",
          "enumDescriptions": [
            "The unspecified network configuration.",
            "Instance part of single client network and single private network.",
            "Instance part of multiple (or single) client networks and private networks."
          ],
          "enum": [
            "NETWORKCONFIG_UNSPECIFIED",
            "SINGLE_VLAN",
            "MULTI_VLAN"
          ]
        },
        "sshKeyNames": {
          "description": "Optional. List of names of ssh keys used to provision the instance.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "privateNetwork": {
          "$ref": "NetworkAddress",
          "deprecated": true,
          "description": "Private network address, if any. Filled if InstanceConfig.multivlan_config is false."
        },
        "accountNetworksEnabled": {
          "type": "boolean",
          "description": "If true networks can be from different projects of the same vendor account."
        },
        "name": {
          "type": "string",
          "description": "The name of the instance config."
        },
        "logicalInterfaces": {
          "description": "List of logical interfaces for the instance. The number of logical interfaces will be the same as number of hardware bond/nic on the chosen network template. Filled if InstanceConfig.multivlan_config is true.",
          "items": {
            "$ref": "GoogleCloudBaremetalsolutionV2LogicalInterface"
          },
          "type": "array"
        },
        "osImage": {
          "description": "OS image to initialize the instance. [Available images](https://cloud.google.com/bare-metal/docs/bms-planning#server_configurations)",
          "type": "string"
        },
        "clientNetwork": {
          "$ref": "NetworkAddress",
          "deprecated": true,
          "description": "Client network address. Filled if InstanceConfig.multivlan_config is false."
        },
        "userNote": {
          "description": "User note field, it can be used by customers to add additional information for the BMS Ops team .",
          "type": "string"
        }
      },
      "description": "Configuration parameters for a new instance."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "id": "Status"
    },
    "Lun": {
      "id": "Lun",
      "type": "object",
      "properties": {
        "storageType": {
          "description": "The storage type for this LUN.",
          "type": "string",
          "enumDescriptions": [
            "The storage type for this LUN is unknown.",
            "This storage type for this LUN is SSD.",
            "This storage type for this LUN is HDD."
          ],
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ]
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time after which LUN will be fully deleted. It is filled only for LUNs in COOL_OFF state.",
          "type": "string"
        },
        "wwid": {
          "type": "string",
          "description": "The WWID for this LUN."
        },
        "instances": {
          "type": "array",
          "description": "Output only. Instances this Lun is attached to.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the LUN.",
          "readOnly": true
        },
        "shareable": {
          "type": "boolean",
          "description": "Display if this LUN can be shared between multiple physical servers."
        },
        "bootLun": {
          "description": "Display if this LUN is a boot LUN.",
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "The LUN is in an unknown state.",
            "The LUN is being created.",
            "The LUN is being updated.",
            "The LUN is ready for use.",
            "The LUN has been requested to be deleted.",
            "The LUN is in cool off state. It will be deleted after `expire_time`."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "READY",
            "DELETING",
            "COOL_OFF"
          ],
          "description": "The state of this storage volume.",
          "type": "string"
        },
        "multiprotocolType": {
          "enumDescriptions": [
            "Server has no OS specified.",
            "Server with Linux OS."
          ],
          "enum": [
            "MULTIPROTOCOL_TYPE_UNSPECIFIED",
            "LINUX"
          ],
          "description": "The LUN multiprotocol type ensures the characteristics of the LUN are optimized for each operating system.",
          "type": "string"
        },
        "id": {
          "description": "An identifier for the LUN, generated by the backend.",
          "type": "string"
        },
        "sizeGb": {
          "format": "int64",
          "type": "string",
          "description": "The size of this LUN, in GiB."
        },
        "storageVolume": {
          "type": "string",
          "description": "Display the storage volume for this LUN."
        }
      },
      "description": "A storage volume logical unit number (LUN)."
    },
    "StartInstanceRequest": {
      "id": "StartInstanceRequest",
      "description": "Message requesting to start a server.",
      "type": "object",
      "properties": {}
    },
    "DisableHyperthreadingRequest": {
      "id": "DisableHyperthreadingRequest",
      "type": "object",
      "properties": {},
      "description": "Message requesting to perform disable hyperthreading operation on a server."
    },
    "EvictLunRequest": {
      "id": "EvictLunRequest",
      "type": "object",
      "properties": {},
      "description": "Request for skip lun cooloff and delete it."
    },
    "Network": {
      "id": "Network",
      "description": "A Network.",
      "type": "object",
      "properties": {
        "vrfAttachment": {
          "description": "Optional. The name of a pre-existing Vrf that the network should be attached to. Format is `vrfs/{vrf}`.",
          "type": "string"
        },
        "reservations": {
          "type": "array",
          "description": "List of IP address reservations in this network. When updating this field, an error will be generated if a reservation conflicts with an IP address already allocated to a physical server.",
          "items": {
            "$ref": "NetworkAddressReservation"
          }
        },
        "macAddress": {
          "type": "array",
          "description": "List of physical interfaces.",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs."
        },
        "vrf": {
          "description": "The Vrf for the Network. Use this only if a new Vrf needs to be created.",
          "$ref": "VRF"
        },
        "mountPoints": {
          "type": "array",
          "description": "Input only. List of mount points to attach the network to.",
          "items": {
            "$ref": "NetworkMountPoint"
          }
        },
        "cidr": {
          "type": "string",
          "description": "The cidr of the Network."
        },
        "jumboFramesEnabled": {
          "type": "boolean",
          "description": "Whether network uses standard frames or jumbo ones."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified value.",
            "Client network, a network peered to a Google Cloud VPC.",
            "Private network, a network local to the Bare Metal Solution environment."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CLIENT",
            "PRIVATE"
          ],
          "description": "The type of this network.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of this `Network`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. Format: `projects/{project}/locations/{location}/networks/{network}`",
          "type": "string"
        },
        "servicesCidr": {
          "description": "IP range for reserved for services (e.g. NFS).",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "An identifier for the `Network`, generated by the backend."
        },
        "ipAddress": {
          "description": "IP address configured.",
          "type": "string"
        },
        "pod": {
          "description": "Immutable. Pod name. Pod is an independent part of infrastructure. Network can only be connected to the assets (instances, nfsshares) allocated in the same pod.",
          "type": "string"
        },
        "gatewayIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Gateway ip address."
        },
        "state": {
          "description": "The Network state.",
          "type": "string",
          "enumDescriptions": [
            "The Network is in an unknown state.",
            "The Network is provisioning.",
            "The Network has been provisioned.",
            "The Network is being deprovisioned.",
            "The Network is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "PROVISIONED",
            "DEPROVISIONING",
            "UPDATING"
          ]
        },
        "vlanId": {
          "type": "string",
          "description": "The vlan id of the Network."
        }
      }
    },
    "Volume": {
      "id": "Volume",
      "description": "A storage volume.",
      "type": "object",
      "properties": {
        "originallyRequestedSizeGib": {
          "format": "int64",
          "description": "Originally requested size, in GiB.",
          "type": "string"
        },
        "snapshotEnabled": {
          "type": "boolean",
          "description": "Whether snapshots are enabled."
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workloadProfile": {
          "enumDescriptions": [
            "The workload profile is in an unknown state.",
            "The workload profile is generic.",
            "The workload profile is hana."
          ],
          "enum": [
            "WORKLOAD_PROFILE_UNSPECIFIED",
            "GENERIC",
            "HANA"
          ],
          "type": "string",
          "description": "The workload profile for the volume."
        },
        "requestedSizeGib": {
          "description": "The requested size of this storage volume, in GiB.",
          "type": "string",
          "format": "int64"
        },
        "bootVolume": {
          "readOnly": true,
          "description": "Output only. Whether this volume is a boot volume. A boot volume is one which contains a boot LUN.",
          "type": "boolean"
        },
        "attached": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Is the Volume attached at at least one instance. This field is a lightweight counterpart of `instances` field. It is filled in List responses as well."
        },
        "maxSizeGib": {
          "format": "int64",
          "type": "string",
          "description": "Maximum size volume can be expanded to in case of evergency, in GiB."
        },
        "storageType": {
          "type": "string",
          "description": "The storage type for this volume.",
          "enumDescriptions": [
            "The storage type for this volume is unknown.",
            "The storage type for this volume is SSD.",
            "This storage type for this volume is HDD."
          ],
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ]
        },
        "autoGrownSizeGib": {
          "format": "int64",
          "description": "The size, in GiB, that this storage volume has expanded as a result of an auto grow policy. In the absence of auto-grow, the value is 0.",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. Time after which volume will be fully deleted. It is filled only for volumes in COOLOFF state.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "protocol": {
          "readOnly": true,
          "enumDescriptions": [
            "Value is not specified.",
            "Fibre Channel protocol.",
            "NFS protocol means Volume is a NFS Share volume. Such volumes cannot be manipulated via Volumes API."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "FIBRE_CHANNEL",
            "NFS"
          ],
          "description": "Output only. Storage protocol for the Volume.",
          "type": "string"
        },
        "emergencySizeGib": {
          "format": "int64",
          "description": "Additional emergency size that was requested for this Volume, in GiB. current_size_gib includes this value.",
          "type": "string"
        },
        "snapshotAutoDeleteBehavior": {
          "type": "string",
          "description": "The behavior to use when snapshot reserved space is full.",
          "enumDescriptions": [
            "The unspecified behavior.",
            "Don't delete any snapshots. This disables new snapshot creation, as long as the snapshot reserved space is full.",
            "Delete the oldest snapshots first.",
            "Delete the newest snapshots first."
          ],
          "enum": [
[...]
