{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/batch/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://batch.googleapis.com/",
  "version": "v1",
  "servicePath": "",
  "title": "Batch API",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "An API to manage the running of Batch resources on Google Cloud Platform.",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "batch.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "batch.projects.locations.operations.get"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "batch.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "batch.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "jobs": {
              "resources": {
                "taskGroups": {
                  "resources": {
                    "tasks": {
                      "methods": {
                        "get": {
                          "description": "Return a single Task.",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "batch.projects.locations.jobs.taskGroups.tasks.get",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "Task"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/taskGroups/{taskGroupsId}/tasks/{tasksId}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. Task name.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/taskGroups/[^/]+/tasks/[^/]+$"
                            }
                          }
                        },
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/taskGroups/{taskGroupsId}/tasks",
                          "response": {
                            "$ref": "ListTasksResponse"
                          },
                          "httpMethod": "GET",
                          "id": "batch.projects.locations.jobs.taskGroups.tasks.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/tasks",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "Page token.",
                              "type": "string"
                            },
                            "parent": {
                              "required": true,
                              "description": "Required. Name of a TaskGroup from which Tasks are being requested. Pattern: \"projects/{project}/locations/{location}/jobs/{job}/taskGroups/{task_group}\"",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/taskGroups/[^/]+$"
                            },
                            "filter": {
                              "description": "Task filter, null filter matches all Tasks. Filter string should be of the format State=TaskStatus.State e.g. State=RUNNING",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Page size.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            }
                          },
                          "description": "List Tasks associated with a job."
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Job"
                  },
                  "path": "v1/{+parent}/jobs",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Create a Job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name where the Job will be created. Pattern: \"projects/{project}/locations/{location}\"",
                      "location": "path"
                    },
                    "jobId": {
                      "type": "string",
                      "location": "query",
                      "description": "ID used to uniquely identify the Job within its parent scope. This field should contain at most 63 characters and must start with lowercase characters. Only lowercase characters, numbers and '-' are accepted. The '-' character cannot be the first or the last one. A system generated ID will be used if the field is not set. The job.name field in the request will be ignored and the created resource name of the Job will be \"{parent}/jobs/{job_id}\"."
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "id": "batch.projects.locations.jobs.create"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a Job.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "reason": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Reason for this deletion."
                    },
                    "name": {
                      "required": true,
                      "description": "Job name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "batch.projects.locations.jobs.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "List all Jobs for a project within a region.",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Sort results. Supported are \"name\", \"name desc\", \"create_time\", and \"create_time desc\".",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Parent path.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "description": "List filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token."
                    },
                    "pageSize": {
                      "description": "Page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "path": "v1/{+parent}/jobs",
                  "httpMethod": "GET",
                  "id": "batch.projects.locations.jobs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListJobsResponse"
                  }
                },
                "cancel": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Cancel a Job.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelJobRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "description": "Required. Job name.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "batch.projects.locations.jobs.cancel",
                  "path": "v1/{+name}:cancel"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get a Job specified by its resource name.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Job name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "id": "batch.projects.locations.jobs.get"
                }
              }
            },
            "state": {
              "methods": {
                "report": {
                  "request": {
                    "$ref": "ReportAgentStateRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Format: projects/{project}/locations/{location} {project} should be a project number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Report agent's state, e.g. agent status and tasks information",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/state:report",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/state:report",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ReportAgentStateResponse"
                  },
                  "id": "batch.projects.locations.state.report"
                }
              }
            }
          },
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "id": "batch.projects.locations.list"
            },
            "get": {
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "batch.projects.locations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "JobStatus": {
      "properties": {
        "runDuration": {
          "format": "google-duration",
          "description": "The duration of time that the Job spent in status RUNNING.",
          "type": "string"
        },
        "taskGroups": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TaskGroupStatus"
          },
          "description": "Aggregated task status for each TaskGroup in the Job. The map key is TaskGroup ID."
        },
        "state": {
          "description": "Job state",
          "type": "string",
          "enumDescriptions": [
            "Job state unspecified.",
            "Job is admitted (validated and persisted) and waiting for resources.",
            "Job is scheduled to run as soon as resource allocation is ready. The resource allocation may happen at a later time but with a high chance to succeed.",
            "Resource allocation has been successful. At least one Task in the Job is RUNNING.",
            "All Tasks in the Job have finished successfully.",
            "At least one Task in the Job has failed.",
            "The Job will be deleted, but has not been deleted yet. Typically this is because resources used by the Job are still being cleaned up.",
            "The Job cancellation is in progress, this is because the resources used by the Job are still being cleaned up.",
            "The Job has been cancelled, the task executions were stopped and the resources were cleaned up."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "SCHEDULED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "DELETION_IN_PROGRESS",
            "CANCELLATION_IN_PROGRESS",
            "CANCELLED"
          ]
        },
        "statusEvents": {
          "items": {
            "$ref": "StatusEvent"
          },
          "description": "Job status events",
          "type": "array"
        }
      },
      "id": "JobStatus",
      "type": "object",
      "description": "Job status."
    },
    "PlacementPolicy": {
      "id": "PlacementPolicy",
      "properties": {
        "collocation": {
          "type": "string",
          "description": "UNSPECIFIED vs. COLLOCATED (default UNSPECIFIED). Use COLLOCATED when you want VMs to be located close to each other for low network latency between the VMs. No placement policy will be generated when collocation is UNSPECIFIED."
        },
        "maxDistance": {
          "format": "int64",
          "description": "When specified, causes the job to fail if more than max_distance logical switches are required between VMs. Batch uses the most compact possible placement of VMs even when max_distance is not specified. An explicit max_distance makes that level of compactness a strict requirement. Not yet implemented",
          "type": "string"
        }
      },
      "type": "object",
      "description": "PlacementPolicy describes a group placement policy for the VMs controlled by this AllocationPolicy."
    },
    "Task": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Task Status.",
          "$ref": "TaskStatus"
        },
        "name": {
          "type": "string",
          "description": "Task name. The name is generated from the parent TaskGroup name and 'id' field. For example: \"projects/123456/locations/us-west1/jobs/job01/taskGroups/group01/tasks/task01\"."
        }
      },
      "description": "A Cloud Batch task.",
      "id": "Task"
    },
    "KMSEnvMap": {
      "properties": {
        "keyName": {
          "type": "string",
          "description": "The name of the KMS key that will be used to decrypt the cipher text."
        },
        "cipherText": {
          "type": "string",
          "description": "The value of the cipherText response from the `encrypt` method."
        }
      },
      "type": "object",
      "id": "KMSEnvMap"
    },
    "ListJobsResponse": {
      "type": "object",
      "id": "ListJobsResponse",
      "description": "ListJob Response.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "Job"
          },
          "description": "Jobs."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location"
    },
    "Script": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "The path to a script file that is accessible from the host VM(s). Unless the script file supports the default `#!/bin/sh` shell interpreter, you must specify an interpreter by including a [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix) as the first line of the file. For example, to execute the script using bash, include `#!/bin/bash` as the first line of the file. Alternatively, to execute the script using Python3, include `#!/usr/bin/env python3` as the first line of the file."
        },
        "text": {
          "description": "The text for a script. Unless the script text supports the default `#!/bin/sh` shell interpreter, you must specify an interpreter by including a [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix) at the beginning of the text. For example, to execute the script using bash, include `#!/bin/bash\\n` at the beginning of the text. Alternatively, to execute the script using Python3, include `#!/usr/bin/env python3\\n` at the beginning of the text.",
          "type": "string"
        }
      },
      "id": "Script",
      "description": "Script runnable."
    },
    "AgentTaskInfo": {
      "id": "AgentTaskInfo",
      "type": "object",
      "description": "Task Info",
      "properties": {
        "taskId": {
          "description": "ID of the Task",
          "type": "string"
        },
        "taskStatus": {
          "$ref": "TaskStatus",
          "description": "The status of the Task. If we need agent specific fields we should fork the public TaskStatus into an agent specific one. Or add them below."
        },
        "runnable": {
          "type": "string",
          "format": "int64",
          "description": "The highest index of a runnable started by the agent for this task. The runnables are indexed from 1. Value 0 is undefined."
        }
      }
    },
    "ServiceAccount": {
      "properties": {
        "email": {
          "description": "Email address of the service account.",
          "type": "string"
        },
        "scopes": {
          "description": "List of scopes to be enabled for this service account.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Carries information about a Google Cloud service account.",
      "type": "object",
      "id": "ServiceAccount"
    },
    "AgentEnvironment": {
      "type": "object",
      "description": "AgentEnvironment is the Environment representation between Agent and CLH communication. The environment is used in both task level and agent level.",
      "properties": {
        "secretVariables": {
          "type": "object",
          "description": "A map of environment variable names to Secret Manager secret names. The VM will access the named secrets to set the value of each environment variable.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptedVariables": {
          "description": "An encrypted JSON dictionary where the key/value pairs correspond to environment variable names and their values.",
          "$ref": "AgentKMSEnvMap"
        },
        "variables": {
          "description": "A map of environment variable names to values.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "AgentEnvironment"
    },
    "StatusEvent": {
      "description": "Status event.",
      "type": "object",
      "properties": {
        "eventTime": {
          "description": "The time this event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "taskState": {
          "description": "Task State. This field is only defined for task-level status events.",
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded.",
            "The Task has not been executed when the Job finishes."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "UNEXECUTED"
          ]
        },
        "type": {
          "type": "string",
          "description": "Type of the event."
        },
        "description": {
          "description": "Description of the event.",
          "type": "string"
        },
        "taskExecution": {
          "$ref": "TaskExecution",
          "description": "Task Execution. This field is only defined for task-level status events where the task fails."
        }
      },
      "id": "StatusEvent"
    },
    "AttachedDisk": {
      "description": "A new or an existing persistent disk (PD) or a local ssd attached to a VM instance.",
      "properties": {
        "newDisk": {
          "$ref": "Disk"
        },
        "deviceName": {
          "description": "Device name that the guest operating system will see. It is used by Runnable.volumes field to mount disks. So please specify the device_name if you want Batch to help mount the disk, and it should match the device_name field in volumes.",
          "type": "string"
        },
        "existingDisk": {
          "type": "string",
          "description": "Name of an existing PD."
        }
      },
      "id": "AttachedDisk",
      "type": "object"
    },
    "TaskGroupStatus": {
      "type": "object",
      "id": "TaskGroupStatus",
      "properties": {
        "instances": {
          "items": {
            "$ref": "InstanceStatus"
          },
          "type": "array",
          "description": "Status of instances allocated for the TaskGroup."
        },
        "counts": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "Count of task in each state in the TaskGroup. The map key is task state name.",
          "type": "object"
        }
      },
      "description": "Aggregated task status for a TaskGroup."
    },
    "ComputeResource": {
      "properties": {
        "memoryMib": {
          "description": "Memory in MiB. `memoryMib` defines the amount of memory per task in MiB units. If undefined, the default value is `2000`. If you also define the VM's machine type using the `machineType` in [InstancePolicy](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicy) field or inside the `instanceTemplate` in the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate) field, make sure the memory resources for both fields are compatible with each other and with how many tasks you want to allow to run on the same VM at the same time. For example, if you specify the `n2-standard-2` machine type, which has 8 GiB each, you are recommended to set `memoryMib` to no more than `8192`, or you are recommended to run two tasks on the same VM if you set `memoryMib` to `4096` or less.",
          "type": "string",
          "format": "int64"
        },
        "bootDiskMib": {
          "format": "int64",
          "description": "Extra boot disk size in MiB for each task.",
          "type": "string"
        },
        "cpuMilli": {
          "format": "int64",
          "type": "string",
          "description": "The milliCPU count. `cpuMilli` defines the amount of CPU resources per task in milliCPU units. For example, `1000` corresponds to 1 vCPU per task. If undefined, the default value is `2000`. If you also define the VM's machine type using the `machineType` in [InstancePolicy](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicy) field or inside the `instanceTemplate` in the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate) field, make sure the CPU resources for both fields are compatible with each other and with how many tasks you want to allow to run on the same VM at the same time. For example, if you specify the `n2-standard-2` machine type, which has 2 vCPUs each, you are recommended to set `cpuMilli` no more than `2000`, or you are recommended to run two tasks on the same VM if you set `cpuMilli` to `1000` or less."
        }
      },
      "description": "Compute resource requirements. ComputeResource defines the amount of resources required for each task. Make sure your tasks have enough resources to successfully run. If you also define the types of resources for a job to use with the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate) field, make sure both fields are compatible with each other.",
      "id": "ComputeResource",
      "type": "object"
    },
    "Disk": {
      "description": "A new persistent disk or a local ssd. A VM can only have one local SSD setting but multiple local SSD partitions. See https://cloud.google.com/compute/docs/disks#pdspecs and https://cloud.google.com/compute/docs/disks#localssds.",
      "id": "Disk",
      "type": "object",
      "properties": {
        "type": {
          "description": "Disk type as shown in `gcloud compute disk-types list`. For example, local SSD uses type \"local-ssd\". Persistent disks and boot disks use \"pd-balanced\", \"pd-extreme\", \"pd-ssd\" or \"pd-standard\". If not specified, \"pd-standard\" will be used as the default type for non-boot disks, \"pd-balanced\" will be used as the default type for boot disks.",
          "type": "string"
        },
        "sizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Disk size in GB. **Non-Boot Disk**: If the `type` specifies a persistent disk, this field is ignored if `data_source` is set as `image` or `snapshot`. If the `type` specifies a local SSD, this field should be a multiple of 375 GB, otherwise, the final size will be the next greater multiple of 375 GB. **Boot Disk**: Batch will calculate the boot disk size based on source image and task requirements if you do not speicify the size. If both this field and the `boot_disk_mib` field in task spec's `compute_resource` are defined, Batch will only honor this field. Also, this field should be no smaller than the source disk's size when the `data_source` is set as `snapshot` or `image`. For example, if you set an image as the `data_source` field and the image's default disk size 30 GB, you can only use this field to make the disk larger or equal to 30 GB."
        },
        "snapshot": {
          "description": "Name of a snapshot used as the data source. Snapshot is not supported as boot disk now.",
          "type": "string"
        },
        "image": {
          "description": "URL for a VM image to use as the data source for this disk. For example, the following are all valid URLs: * Specify the image by its family name: projects/{project}/global/images/family/{image_family} * Specify the image version: projects/{project}/global/images/{image_version} You can also use Batch customized image in short names. The following image values are supported for a boot disk: * `batch-debian`: use Batch Debian images. * `batch-cos`: use Batch Container-Optimized images. * `batch-hpc-rocky`: use Batch HPC Rocky Linux images.",
          "type": "string"
        },
        "diskInterface": {
          "type": "string",
          "description": "Local SSDs are available through both \"SCSI\" and \"NVMe\" interfaces. If not indicated, \"NVMe\" will be the default one for local ssds. This field is ignored for persistent disks as the interface is chosen automatically. See https://cloud.google.com/compute/docs/disks/persistent-disks#choose_an_interface."
        }
      }
    },
    "InstanceStatus": {
      "id": "InstanceStatus",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "The Compute Engine machine type.",
          "type": "string"
        },
        "bootDisk": {
          "$ref": "Disk",
          "description": "The VM boot disk."
        },
        "provisioningModel": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Standard VM.",
            "SPOT VM.",
            "Preemptible VM (PVM). Above SPOT VM is the preferable model for preemptible VM instances: the old preemptible VM model (indicated by this field) is the older model, and has been migrated to use the SPOT model as the underlying technology. This old model will still be supported.",
            "Bound to the lifecycle of the reservation in which it is provisioned.",
            "Instance is provisioned with DWS Flex Start and has limited max run duration."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "PREEMPTIBLE",
            "RESERVATION_BOUND",
            "FLEX_START"
          ],
          "type": "string",
          "description": "The VM instance provisioning model."
        },
        "taskPack": {
          "type": "string",
          "description": "The max number of tasks can be assigned to this instance type.",
          "format": "int64"
        }
      },
      "description": "VM instance status."
    },
    "Runnable": {
      "description": "Runnable describes instructions for executing a specific script or container as part of a Task.",
      "type": "object",
      "id": "Runnable",
      "properties": {
        "background": {
          "description": "Normally, a runnable that doesn't exit causes its task to fail. However, you can set this field to `true` to configure a background runnable. Background runnables are allowed continue running in the background while the task executes subsequent runnables. For example, background runnables are useful for providing services to other runnables or providing debugging-support tools like SSH servers. Specifically, background runnables are killed automatically (if they have not already exited) a short time after all foreground runnables have completed. Even though this is likely to result in a non-zero exit status for the background runnable, these automatic kills are not treated as task failures.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Optional. DisplayName is an optional field that can be provided by the caller. If provided, it will be used in logs and other outputs to identify the script, making it easier for users to understand the logs. If not provided the index of the runnable will be used for outputs.",
          "type": "string"
        },
        "ignoreExitStatus": {
          "description": "Normally, a runnable that returns a non-zero exit status fails and causes the task to fail. However, you can set this field to `true` to allow the task to continue executing its other runnables even if this runnable fails.",
          "type": "boolean"
        },
        "alwaysRun": {
          "description": "By default, after a Runnable fails, no further Runnable are executed. This flag indicates that this Runnable must be run even if the Task has already failed. This is useful for Runnables that copy output files off of the VM or for debugging. The always_run flag does not override the Task's overall max_run_duration. If the max_run_duration has expired then no further Runnables will execute, not even always_run Runnables.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for this Runnable.",
          "type": "object"
        },
        "container": {
          "$ref": "Container",
          "description": "Container runnable."
        },
        "barrier": {
          "description": "Barrier runnable.",
          "$ref": "Barrier"
        },
        "script": {
          "$ref": "Script",
          "description": "Script runnable."
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Timeout for this Runnable."
        },
        "environment": {
          "description": "Environment variables for this Runnable (overrides variables set for the whole Task or TaskGroup).",
          "$ref": "Environment"
        }
      }
    },
    "AgentTimingInfo": {
      "id": "AgentTimingInfo",
      "type": "object",
      "description": "VM timing information",
      "properties": {
        "scriptStartupTime": {
          "description": "Startup time of the Batch VM script.",
          "type": "string",
          "format": "google-datetime"
        },
        "agentStartupTime": {
          "description": "Agent startup time",
          "type": "string",
          "format": "google-datetime"
        },
        "bootTime": {
          "description": "Boot timestamp of the VM OS",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ListTasksResponse": {
      "description": "ListTasks Response.",
      "id": "ListTasksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "tasks": {
          "items": {
            "$ref": "Task"
          },
          "description": "Tasks.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "JobNotification": {
      "id": "JobNotification",
      "description": "Notification configurations.",
      "properties": {
        "pubsubTopic": {
          "description": "The Pub/Sub topic where notifications for the job, like state changes, will be published. If undefined, no Pub/Sub notifications are sent for this job. Specify the topic using the following format: `projects/{project}/topics/{topic}`. Notably, if you want to specify a Pub/Sub topic that is in a different project than the job, your administrator must grant your project's Batch service agent permission to publish to that topic. For more information about configuring Pub/Sub notifications for a job, see https://cloud.google.com/batch/docs/enable-notifications.",
          "type": "string"
        },
        "message": {
          "$ref": "Message",
          "description": "The attribute requirements of messages to be sent to this Pub/Sub topic. Without this field, no message will be sent."
        }
      },
      "type": "object"
    },
    "InstancePolicyOrTemplate": {
      "id": "InstancePolicyOrTemplate",
      "type": "object",
      "properties": {
        "installGpuDrivers": {
          "type": "boolean",
          "description": "Set this field true if you want Batch to help fetch drivers from a third party location and install them for GPUs specified in `policy.accelerators` or `instance_template` on your behalf. Default is false. For Container-Optimized Image cases, Batch will install the accelerator driver following milestones of https://cloud.google.com/container-optimized-os/docs/release-notes. For non Container-Optimized Image cases, following https://github.com/GoogleCloudPlatform/compute-gpu-installation/blob/main/linux/install_gpu_driver.py."
        },
        "policy": {
          "$ref": "InstancePolicy",
          "description": "InstancePolicy."
        },
        "installOpsAgent": {
          "type": "boolean",
          "description": "Optional. Set this field true if you want Batch to install Ops Agent on your behalf. Default is false."
        },
        "instanceTemplate": {
          "description": "Name of an instance template used to create VMs. Named the field as 'instance_template' instead of 'template' to avoid C++ keyword conflict. Batch only supports global instance templates from the same project as the job. You can specify the global instance template as a full or partial URL.",
          "type": "string"
        },
        "blockProjectSshKeys": {
          "description": "Optional. Set this field to `true` if you want Batch to block project-level SSH keys from accessing this job's VMs. Alternatively, you can configure the job to specify a VM instance template that blocks project-level SSH keys. In either case, Batch blocks project-level SSH keys while creating the VMs for this job. Batch allows project-level SSH keys for a job's VMs only if all the following are true: + This field is undefined or set to `false`. + The job's VM instance template (if any) doesn't block project-level SSH keys. Notably, you can override this behavior by manually updating a VM to block or allow project-level SSH keys. For more information about blocking project-level SSH keys, see the Compute Engine documentation: https://cloud.google.com/compute/docs/connect/restrict-ssh-keys#block-keys",
          "type": "boolean"
        }
      },
      "description": "InstancePolicyOrTemplate lets you define the type of resources to use for this job either with an InstancePolicy or an instance template. If undefined, Batch picks the type of VM to use and doesn't include optional VM resources such as GPUs and extra disks."
    },
    "AgentTaskUserAccount": {
      "properties": {
        "gid": {
          "format": "int64",
          "type": "string",
          "description": "gid id an unique identifier of the POSIX account group corresponding to the user account."
        },
        "uid": {
          "type": "string",
          "description": "uid is an unique identifier of the POSIX account corresponding to the user account.",
          "format": "int64"
        }
      },
      "id": "AgentTaskUserAccount",
      "description": "AgentTaskUserAccount contains the information of a POSIX account on the guest os which is used to execute the runnables.",
      "type": "object"
    },
    "AgentTaskRunnable": {
      "properties": {
        "timeout": {
          "type": "string",
          "description": "Timeout for this Runnable.",
          "format": "google-duration"
        },
        "alwaysRun": {
          "description": "By default, after a Runnable fails, no further Runnable are executed. This flag indicates that this Runnable must be run even if the Task has already failed. This is useful for Runnables that copy output files off of the VM or for debugging. The always_run flag does not override the Task's overall max_run_duration. If the max_run_duration has expired then no further Runnables will execute, not even always_run Runnables.",
          "type": "boolean"
        },
        "ignoreExitStatus": {
          "description": "Normally, a non-zero exit status causes the Task to fail. This flag allows execution of other Runnables to continue instead.",
          "type": "boolean"
        },
        "background": {
          "type": "boolean",
          "description": "This flag allows a Runnable to continue running in the background while the Task executes subsequent Runnables. This is useful to provide services to other Runnables (or to provide debugging support tools like SSH servers)."
        },
        "container": {
          "$ref": "AgentContainer",
          "description": "Container runnable."
        },
        "environment": {
          "$ref": "AgentEnvironment",
          "description": "Environment variables for this Runnable (overrides variables set for the whole Task or TaskGroup)."
        },
        "script": {
          "description": "Script runnable.",
          "$ref": "AgentScript"
        }
      },
      "description": "AgentTaskRunnable is the Runnable representation between Agent and CLH communication.",
      "type": "object",
      "id": "AgentTaskRunnable"
    },
    "TaskGroup": {
      "type": "object",
      "properties": {
        "taskCount": {
          "type": "string",
          "description": "Number of Tasks in the TaskGroup. Default is 1.",
          "format": "int64"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. TaskGroup name. The system generates this field based on parent Job name. For example: \"projects/123456/locations/us-west1/jobs/job01/taskGroups/group01\"."
        },
        "taskCountPerNode": {
          "format": "int64",
          "description": "Max number of tasks that can be run on a VM at the same time. If not specified, the system will decide a value based on available compute resources on a VM and task requirements.",
          "type": "string"
        },
        "requireHostsFile": {
          "description": "When true, Batch will populate a file with a list of all VMs assigned to the TaskGroup and set the BATCH_HOSTS_FILE environment variable to the path of that file. Defaults to false. The host file supports up to 1000 VMs.",
          "type": "boolean"
        },
        "parallelism": {
          "type": "string",
          "description": "Max number of tasks that can run in parallel. Default to min(task_count, parallel tasks per job limit). See: [Job Limits](https://cloud.google.com/batch/quotas#job_limits). Field parallelism must be 1 if the scheduling_policy is IN_ORDER.",
          "format": "int64"
        },
        "taskEnvironments": {
          "items": {
            "$ref": "Environment"
          },
          "description": "An array of environment variable mappings, which are passed to Tasks with matching indices. If task_environments is used then task_count should not be specified in the request (and will be ignored). Task count will be the length of task_environments. Tasks get a BATCH_TASK_INDEX and BATCH_TASK_COUNT environment variable, in addition to any environment variables set in task_environments, specifying the number of Tasks in the Task's parent TaskGroup, and the specific Task's index in the TaskGroup (0 through BATCH_TASK_COUNT - 1).",
          "type": "array"
        },
        "taskSpec": {
          "description": "Required. Tasks in the group share the same task spec.",
          "$ref": "TaskSpec"
        },
        "schedulingPolicy": {
          "description": "Scheduling policy for Tasks in the TaskGroup. The default value is AS_SOON_AS_POSSIBLE.",
          "type": "string",
          "enum": [
            "SCHEDULING_POLICY_UNSPECIFIED",
            "AS_SOON_AS_POSSIBLE",
            "IN_ORDER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Run Tasks as soon as resources are available. Tasks might be executed in parallel depending on parallelism and task_count values.",
            "Run Tasks sequentially with increased task index."
          ]
        },
        "permissiveSsh": {
          "type": "boolean",
          "description": "When true, Batch will configure SSH to allow passwordless login between VMs running the Batch tasks in the same TaskGroup."
        },
        "runAsNonRoot": {
          "description": "Optional. If not set or set to false, Batch uses the root user to execute runnables. If set to true, Batch runs the runnables using a non-root user. Currently, the non-root user Batch used is generated by OS Login. For more information, see [About OS Login](https://cloud.google.com/compute/docs/oslogin).",
          "type": "boolean"
        }
      },
      "description": "A TaskGroup defines one or more Tasks that all share the same TaskSpec.",
      "id": "TaskGroup"
    },
    "NFS": {
      "type": "object",
      "id": "NFS",
      "properties": {
        "remotePath": {
          "description": "Remote source path exported from the NFS, e.g., \"/share\".",
          "type": "string"
        },
        "server": {
          "description": "The IP address of the NFS.",
          "type": "string"
        }
      },
      "description": "Represents an NFS volume."
    },
    "AgentInfo": {
      "type": "object",
      "properties": {
        "jobId": {
          "description": "Optional. The assigned Job ID",
          "type": "string"
        },
        "reportTime": {
          "type": "string",
          "description": "When the AgentInfo is generated.",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "AGENT_STATE_UNSPECIFIED",
            "AGENT_STARTING",
            "AGENT_RUNNING",
            "AGENT_STOPPED"
          ],
          "description": "Agent state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The agent is starting on the VM instance.",
            "The agent is running. The agent in the RUNNING state can never go back to the STARTING state.",
            "The agent has stopped, either on request or due to a failure."
          ]
        },
        "tasks": {
          "items": {
            "$ref": "AgentTaskInfo"
          },
          "description": "Task Info.",
          "type": "array"
        },
        "taskGroupId": {
          "type": "string",
          "description": "The assigned task group ID."
        }
      },
      "description": "VM Agent Info.",
      "id": "AgentInfo"
    },
    "TaskStatus": {
      "id": "TaskStatus",
      "description": "Status of a task.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Task state.",
          "enumDescriptions": [
            "Unknown state.",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded.",
            "The Task has not been executed when the Job finishes."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "UNEXECUTED"
          ]
        },
        "statusEvents": {
          "type": "array",
          "description": "Detailed info about why the state is reached.",
          "items": {
            "$ref": "StatusEvent"
          }
        }
      }
    },
    "CancelJobRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "CancelJobRequest",
      "description": "CancelJob Request.",
      "type": "object"
    },
    "GCS": {
      "type": "object",
      "id": "GCS",
      "description": "Represents a Google Cloud Storage volume.",
      "properties": {
        "remotePath": {
          "description": "Remote path, either a bucket name or a subdirectory of a bucket, e.g.: bucket_name, bucket_name/subdirectory/",
          "type": "string"
        }
      }
    },
    "AgentScript": {
      "properties": {
        "path": {
          "description": "Script file path on the host VM. To specify an interpreter, please add a `#!`(also known as [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix))) as the first line of the file.(For example, to execute the script using bash, `#!/bin/bash` should be the first line of the file. To execute the script using`Python3`, `#!/usr/bin/env python3` should be the first line of the file.) Otherwise, the file will by default be executed by `/bin/sh`.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Shell script text. To specify an interpreter, please add a `#!\\n` at the beginning of the text.(For example, to execute the script using bash, `#!/bin/bash\\n` should be added. To execute the script using`Python3`, `#!/usr/bin/env python3\\n` should be added.) Otherwise, the script will by default be executed by `/bin/sh`."
        }
      },
      "type": "object",
      "description": "Script runnable representation on the agent side.",
      "id": "AgentScript"
    },
    "LogsPolicy": {
      "id": "LogsPolicy",
      "description": "LogsPolicy describes if and how a job's logs are preserved. Logs include information that is automatically written by the Batch service agent and any information that you configured the job's runnables to write to the `stdout` or `stderr` streams.",
      "type": "object",
      "properties": {
        "logsPath": {
          "type": "string",
          "description": "When `destination` is set to `PATH`, you must set this field to the path where you want logs to be saved. This path can point to a local directory on the VM or (if congifured) a directory under the mount path of any Cloud Storage bucket, network file system (NFS), or writable persistent disk that is mounted to the job. For example, if the job has a bucket with `mountPath` set to `/mnt/disks/my-bucket`, you can write logs to the root directory of the `remotePath` of that bucket by setting this field to `/mnt/disks/my-bucket/`."
        },
        "destination": {
          "enumDescriptions": [
            "(Default) Logs are not preserved.",
            "Logs are streamed to Cloud Logging. Optionally, you can configure additional settings in the `cloudLoggingOption` field.",
            "Logs are saved to the file path specified in the `logsPath` field."
          ],
          "type": "string",
          "description": "If and where logs should be saved.",
          "enum": [
            "DESTINATION_UNSPECIFIED",
            "CLOUD_LOGGING",
            "PATH"
          ]
        },
        "cloudLoggingOption": {
          "description": "Optional. When `destination` is set to `CLOUD_LOGGING`, you can optionally set this field to configure additional settings for Cloud Logging.",
          "$ref": "CloudLoggingOption"
        }
      }
    },
    "AgentKMSEnvMap": {
      "id": "AgentKMSEnvMap",
      "type": "object",
      "description": "AgentKMSEnvMap contains the encrypted key/value pair to be used in the environment on the Agent side.",
      "properties": {
        "cipherText": {
          "description": "The value of the cipherText response from the `encrypt` method.",
          "type": "string"
        },
        "keyName": {
          "type": "string",
          "description": "The name of the KMS key that will be used to decrypt the cipher text."
        }
      }
    },
    "TaskExecution": {
      "type": "object",
      "description": "This Task Execution field includes detail information for task execution procedures, based on StatusEvent types.",
      "properties": {
        "exitCode": {
          "format": "int32",
          "type": "integer",
          "description": "The exit code of a finished task. If the task succeeded, the exit code will be 0. If the task failed but not due to the following reasons, the exit code will be 50000. Otherwise, it can be from different sources: * Batch known failures: https://cloud.google.com/batch/docs/troubleshooting#reserved-exit-codes. * Batch runnable execution failures; you can rely on Batch logs to further diagnose: https://cloud.google.com/batch/docs/analyze-job-using-logs. If there are multiple runnables failures, Batch only exposes the first error."
        }
      },
      "id": "TaskExecution"
    },
    "CloudLoggingOption": {
      "properties": {
        "useGenericTaskMonitoredResource": {
          "type": "boolean",
          "description": "Optional. Set this field to `true` to change the [monitored resource type](https://cloud.google.com/monitoring/api/resources) for Cloud Logging logs generated by this Batch job from the [`batch.googleapis.com/Job`](https://cloud.google.com/monitoring/api/resources#tag_batch.googleapis.com/Job) type to the formerly used [`generic_task`](https://cloud.google.com/monitoring/api/resources#tag_generic_task) type."
        }
      },
      "description": "`CloudLoggingOption` contains additional settings for Cloud Logging logs generated by Batch job.",
      "id": "CloudLoggingOption",
      "type": "object"
    },
    "AgentMetadata": {
      "id": "AgentMetadata",
      "properties": {
        "creator": {
          "type": "string",
          "description": "Full name of the entity that created this vm. For MIG, this path is: projects/{project}/regions/{region}/InstanceGroupManagers/{igm} The value is retrieved from the vm metadata key of \"created-by\"."
        },
        "version": {
          "type": "string",
          "description": "agent binary version running on VM"
        },
        "machineType": {
          "description": "Optional. machine type of the VM",
          "type": "string"
        },
        "instance": {
          "description": "GCP instance name (go/instance-name).",
          "type": "string"
        },
        "instancePreemptionNoticeReceived": {
          "type": "boolean",
          "description": "If the GCP instance has received preemption notice."
        },
        "imageVersion": {
          "type": "string",
          "description": "image version for the VM that this agent is installed on."
        },
        "instanceId": {
          "description": "GCP instance ID (go/instance-id).",
          "type": "string",
          "format": "uint64"
        },
        "osRelease": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "parsed contents of /etc/os-release",
          "type": "object"
        },
        "zone": {
          "description": "Agent zone.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "When the VM agent started. Use agent_startup_time instead.",
          "deprecated": true
        }
      },
      "description": "VM Agent Metadata.",
      "type": "object"
    },
    "Job": {
      "type": "object",
      "description": "The Cloud Batch Job description.",
      "id": "Job",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Custom labels to apply to the job and any Cloud Logging [LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry) that it generates. Use labels to group and describe the resources they are applied to. Batch automatically applies predefined labels and supports multiple `labels` fields for each job, which each let you apply custom labels to various resources. Label names that start with \"goog-\" or \"google-\" are reserved for predefined labels. For more information about labels with Batch, see [Organize resources using labels](https://cloud.google.com/batch/docs/organize-resources-using-labels)."
        },
        "uid": {
          "type": "string",
          "description": "Output only. A system generated unique ID for the Job.",
          "readOnly": true
        },
        "logsPolicy": {
          "$ref": "LogsPolicy",
          "description": "Log preservation policy for the Job."
        },
        "name": {
          "description": "Output only. Job name. For example: \"projects/123456/locations/us-central1/jobs/job01\".",
          "readOnly": true,
          "type": "string"
        },
        "notifications": {
          "items": {
            "$ref": "JobNotification"
          },
          "description": "Notification configurations.",
          "type": "array"
        },
        "allocationPolicy": {
          "$ref": "AllocationPolicy",
          "description": "Compute resource allocation for all TaskGroups in the Job."
        },
        "taskGroups": {
          "type": "array",
          "description": "Required. TaskGroups in the Job. Only one TaskGroup is supported now.",
          "items": {
            "$ref": "TaskGroup"
          }
        },
        "priority": {
          "format": "int64",
          "type": "string",
          "description": "Priority of the Job. The valid value range is [0, 100). Default value is 0. Higher value indicates higher priority. A job with higher priority value is more likely to run earlier if all other requirements are satisfied."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the Job was created."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last time the Job was updated.",
          "format": "google-datetime"
        },
        "status": {
          "$ref": "JobStatus",
          "description": "Output only. Job status. It is read only for users.",
          "readOnly": true
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "Volume": {
      "id": "Volume",
      "properties": {
        "nfs": {
          "description": "A Network File System (NFS) volume. For example, a Filestore file share.",
          "$ref": "NFS"
        },
        "mountOptions": {
          "description": "Mount options vary based on the type of storage volume: * For a Cloud Storage bucket, all the mount options provided by the [`gcsfuse` tool](https://cloud.google.com/storage/docs/gcsfuse-cli) are supported. * For an existing persistent disk, all mount options provided by the [`mount` command](https://man7.org/linux/man-pages/man8/mount.8.html) except writing are supported. This is due to restrictions of [multi-writer mode](https://cloud.google.com/compute/docs/disks/sharing-disks-between-vms). * For any other disk or a Network File System (NFS), all the mount options provided by the `mount` command are supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gcs": {
          "$ref": "GCS",
          "description": "A Google Cloud Storage (GCS) volume."
        },
        "mountPath": {
          "description": "The mount path for the volume, e.g. /mnt/disks/share.",
          "type": "string"
        },
        "deviceName": {
          "description": "Device name of an attached disk volume, which should align with a device_name specified by job.allocation_policy.instances[0].policy.disks[i].device_name or defined by the given instance template in job.allocation_policy.instances[0].instance_template.",
          "type": "string"
        }
      },
      "description": "Volume describes a volume and parameters for it to be mounted to a VM.",
      "type": "object"
    },
    "AgentTaskSpec": {
      "description": "AgentTaskSpec is the user's TaskSpec representation between Agent and CLH communication.",
      "type": "object",
      "id": "AgentTaskSpec",
      "properties": {
        "userAccount": {
          "$ref": "AgentTaskUserAccount",
          "description": "User account on the VM to run the runnables in the agentTaskSpec. If not set, the runnable will be run under root user."
        },
        "runnables": {
          "items": {
            "$ref": "AgentTaskRunnable"
          },
          "description": "AgentTaskRunnable is runanbles that will be executed on the agent.",
          "type": "array"
        },
        "environment": {
          "$ref": "AgentEnvironment",
          "description": "Environment variables to set before running the Task."
        },
        "loggingOption": {
          "description": "Logging option for the task.",
          "$ref": "AgentTaskLoggingOption"
        },
        "maxRunDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Maximum duration the task should run before being automatically retried (if enabled) or automatically failed. Format the value of this field as a time limit in seconds followed by `s`—for example, `3600s` for 1 hour. The field accepts any value between 0 and the maximum listed for the `Duration` field type at https://protobuf.dev/reference/protobuf/google.protobuf/#duration; however, the actual maximum run time for a job will be limited to the maximum run time for a job listed at https://cloud.google.com/batch/quotas#max-job-duration."
        }
      }
    },
    "ActionCondition": {
      "properties": {
        "exitCodes": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Exit codes of a task execution. If there are more than 1 exit codes, when task executes with any of the exit code in the list, the condition is met and the action will be executed."
        }
      },
      "type": "object",
      "description": "Conditions for actions to deal with task failures.",
      "id": "ActionCondition"
    },
    "Message": {
      "properties": {
        "newJobState": {
          "enumDescriptions": [
            "Job state unspecified.",
            "Job is admitted (validated and persisted) and waiting for resources.",
            "Job is scheduled to run as soon as resource allocation is ready. The resource allocation may happen at a later time but with a high chance to succeed.",
            "Resource allocation has been successful. At least one Task in the Job is RUNNING.",
            "All Tasks in the Job have finished successfully.",
            "At least one Task in the Job has failed.",
            "The Job will be deleted, but has not been deleted yet. Typically this is because resources used by the Job are still being cleaned up.",
            "The Job cancellation is in progress, this is because the resources used by the Job are still being cleaned up.",
            "The Job has been cancelled, the task executions were stopped and the resources were cleaned up."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "SCHEDULED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "DELETION_IN_PROGRESS",
            "CANCELLATION_IN_PROGRESS",
            "CANCELLED"
          ],
          "description": "The new job state."
        },
        "type": {
          "description": "The message type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "JOB_STATE_CHANGED",
            "TASK_STATE_CHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Notify users that the job state has changed.",
            "Notify users that the task state has changed."
          ]
        },
        "newTaskState": {
          "enumDescriptions": [
            "Unknown state.",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded.",
            "The Task has not been executed when the Job finishes."
          ],
          "description": "The new task state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED",
            "UNEXECUTED"
          ],
          "type": "string"
        }
      },
      "id": "Message",
      "description": "Message details. Describe the conditions under which messages will be sent. If no attribute is defined, no message will be sent by default. One message should specify either the job or the task level attributes, but not both. For example, job level: JOB_STATE_CHANGED and/or a specified new_job_state; task level: TASK_STATE_CHANGED and/or a specified new_task_state.",
      "type": "object"
    },
    "Environment": {
      "description": "An Environment describes a collection of environment variables to set when executing Tasks.",
      "properties": {
        "encryptedVariables": {
          "description": "An encrypted JSON dictionary where the key/value pairs correspond to environment variable names and their values.",
          "$ref": "KMSEnvMap"
        },
        "variables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of environment variable names to values."
        },
        "secretVariables": {
          "type": "object",
          "description": "A map of environment variable names to Secret Manager secret names. The VM will access the named secrets to set the value of each environment variable.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Environment",
      "type": "object"
    },
    "AgentTask": {
      "type": "object",
      "id": "AgentTask",
      "properties": {
        "agentTaskSpec": {
          "$ref": "AgentTaskSpec",
          "description": "AgentTaskSpec is the taskSpec representation between Agent and CLH communication. This field will replace the TaskSpec field above in future to have a better separation between user-facaing API and internal API."
        },
        "spec": {
          "$ref": "TaskSpec",
          "description": "Task Spec. This field will be replaced by agent_task_spec below in future."
        },
        "taskSource": {
          "description": "TaskSource represents the source of the task.",
          "enum": [
            "TASK_SOURCE_UNSPECIFIED",
            "BATCH_INTERNAL",
            "USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified task source.",
            "The AgentTask from this source is generated by Batch server. E.g. all the VMActions are from this source. When Batch Agent execute AgentTask from BATCH_INTERNAL, it will log stdout/err with \"batch_agent_logs\" log name.",
            "The AgentTask from this source is provided by Batch users. When Batch Agent execute AgentTask from USER, it will log stdout/err with \"batch_task_logs\" log name."
          ]
        },
        "task": {
          "description": "Task name.",
          "type": "string"
        },
        "intendedState": {
          "enum": [
            "INTENDED_STATE_UNSPECIFIED",
            "ASSIGNED",
            "CANCELLED",
            "DELETED"
          ],
          "description": "The intended state of the task.",
          "enumDescriptions": [
            "Unspecified state.",
            "Assigned state (includes running and finished).",
            "The agent should cancel the execution of this task.",
            "Delete task from agent storage, stop reporting its state."
          ],
          "type": "string"
        },
        "status": {
          "$ref": "TaskStatus",
          "description": "Task status."
        },
        "reachedBarrier": {
          "format": "int64",
          "description": "The highest barrier reached by all tasks in the task's TaskGroup.",
          "type": "string"
        }
      },
      "description": "TODO(b/182501497) The message needs to be redefined when the Agent API server updates data in storage per the backend design."
    },
    "TaskSpec": {
      "description": "Spec of a task",
      "id": "TaskSpec",
      "type": "object",
      "properties": {
        "maxRetryCount": {
          "format": "int32",
          "description": "Maximum number of retries on failures. The default, 0, which means never retry. The valid value range is [0, 10].",
          "type": "integer"
        },
        "computeResource": {
          "description": "ComputeResource requirements.",
          "$ref": "ComputeResource"
        },
        "maxRunDuration": {
          "format": "google-duration",
          "description": "Maximum duration the task should run before being automatically retried (if enabled) or automatically failed. Format the value of this field as a time limit in seconds followed by `s`—for example, `3600s` for 1 hour. The field accepts any value between 0 and the maximum listed for the `Duration` field type at https://protobuf.dev/reference/protobuf/google.protobuf/#duration; however, the actual maximum run time for a job will be limited to the maximum run time for a job listed at https://cloud.google.com/batch/quotas#max-job-duration.",
          "type": "string"
        },
        "environment": {
          "$ref": "Environment",
          "description": "Environment variables to set before running the Task."
        },
        "lifecyclePolicies": {
          "items": {
            "$ref": "LifecyclePolicy"
          },
          "description": "Lifecycle management schema when any task in a task group is failed. Currently we only support one lifecycle policy. When the lifecycle policy condition is met, the action in the policy will execute. If task execution result does not meet with the defined lifecycle policy, we consider it as the default policy. Default policy means if the exit code is 0, exit task. If task ends with non-zero exit code, retry the task with max_retry_count.",
          "type": "array"
        },
        "environments": {
          "type": "object",
          "description": "Deprecated: please use environment(non-plural) instead.",
          "deprecated": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "runnables": {
          "items": {
            "$ref": "Runnable"
          },
          "description": "Required. The sequence of one or more runnables (executable scripts, executable containers, and/or barriers) for each task in this task group to run. Each task runs this list of runnables in order. For a task to succeed, all of its script and container runnables each must meet at least one of the following conditions: + The runnable exited with a zero status. + The runnable didn't finish, but you enabled its `background` subfield. + The runnable exited with a non-zero status, but you enabled its `ignore_exit_status` subfield.",
          "type": "array"
        },
        "volumes": {
          "description": "Volumes to mount before running Tasks using this TaskSpec.",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        }
      }
    },
    "AllocationPolicy": {
      "description": "A Job's resource allocation policy describes when, where, and how compute resources should be allocated for the Job.",
      "type": "object",
      "properties": {
        "placement": {
          "description": "The placement policy.",
          "$ref": "PlacementPolicy"
        },
        "labels": {
          "description": "Custom labels to apply to the job and all the Compute Engine resources that both are created by this allocation policy and support labels. Use labels to group and describe the resources they are applied to. Batch automatically applies predefined labels and supports multiple `labels` fields for each job, which each let you apply custom labels to various resources. Label names that start with \"goog-\" or \"google-\" are reserved for predefined labels. For more information about labels with Batch, see [Organize resources using labels](https://cloud.google.com/batch/docs/organize-resources-using-labels).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Tags applied to the VM instances. The tags identify valid sources or targets for network firewalls. Each tag must be 1-63 characters long, and comply with [RFC1035](https://www.ietf.org/rfc/rfc1035.txt).",
          "type": "array"
        },
        "instances": {
          "description": "Describe instances that can be created by this AllocationPolicy. Only instances[0] is supported now.",
          "type": "array",
          "items": {
            "$ref": "InstancePolicyOrTemplate"
          }
        },
        "serviceAccount": {
          "description": "Defines the service account for Batch-created VMs. If omitted, the [default Compute Engine service account](https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used. Must match the service account specified in any used instance template configured in the Batch job. Includes the following fields: * email: The service account's email address. If not set, the default Compute Engine service account is used. * scopes: Additional OAuth scopes to grant the service account, beyond the default cloud-platform scope. (list of strings)",
          "$ref": "ServiceAccount"
        },
        "location": {
          "$ref": "LocationPolicy",
          "description": "Location where compute resources should be allocated for the Job."
        },
        "network": {
          "description": "The network policy. If you define an instance template in the `InstancePolicyOrTemplate` field, Batch will use the network settings in the instance template instead of this field.",
          "$ref": "NetworkPolicy"
        }
      },
      "id": "AllocationPolicy"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "ReportAgentStateRequest": {
      "id": "ReportAgentStateRequest",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "AgentMetadata",
          "description": "Agent metadata."
        },
        "agentInfo": {
          "$ref": "AgentInfo",
          "description": "Agent info."
        },
        "agentTimingInfo": {
          "$ref": "AgentTimingInfo",
          "description": "Agent timing info."
        }
      },
      "description": "Request to report agent's state. The Request itself implies the agent is healthy."
    },
    "Barrier": {
      "properties": {
        "name": {
          "description": "Barriers are identified by their index in runnable list. Names are not required, but if present should be an identifier.",
          "type": "string"
        }
      },
      "id": "Barrier",
      "description": "A barrier runnable automatically blocks the execution of subsequent runnables until all the tasks in the task group reach the barrier.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Container": {
      "description": "Container runnable.",
      "properties": {
        "enableImageStreaming": {
          "type": "boolean",
          "description": "Optional. If set to true, this container runnable uses Image streaming. Use Image streaming to allow the runnable to initialize without waiting for the entire container image to download, which can significantly reduce startup time for large container images. When `enableImageStreaming` is set to true, the container runtime is [containerd](https://containerd.io/) instead of Docker. Additionally, this container runnable only supports the following `container` subfields: `imageUri`, `commands[]`, `entrypoint`, and `volumes[]`; any other `container` subfields are ignored. For more information about the requirements and limitations for using Image streaming with Batch, see the [`image-streaming` sample on GitHub](https://github.com/GoogleCloudPlatform/batch-samples/tree/main/api-samples/image-streaming)."
        },
        "username": {
          "description": "Required if the container image is from a private Docker registry. The username to login to the Docker registry that contains the image. You can either specify the username directly by using plain text or specify an encrypted username by using a Secret Manager secret: `projects/*/secrets/*/versions/*`. However, using a secret is recommended for enhanced security. Caution: If you specify the username using plain text, you risk the username being exposed to any users who can view the job or its logs. To avoid this risk, specify a secret that contains the username instead. Learn more about [Secret Manager](https://cloud.google.com/secret-manager/docs/) and [using Secret Manager with Batch](https://cloud.google.com/batch/docs/create-run-job-secret-manager).",
          "type": "string"
        },
        "options": {
          "description": "Required for some container images. Arbitrary additional options to include in the `docker run` command when running this container—for example, `--network host`. For the `--volume` option, use the `volumes` field for the container.",
          "type": "string"
        },
        "commands": {
          "items": {
            "type": "string"
          },
          "description": "Required for some container images. Overrides the `CMD` specified in the container. If there is an `ENTRYPOINT` (either in the container image or with the `entrypoint` field below) then these commands are appended as arguments to the `ENTRYPOINT`.",
          "type": "array"
        },
        "password": {
          "description": "Required if the container image is from a private Docker registry. The password to login to the Docker registry that contains the image. For security, it is strongly recommended to specify an encrypted password by using a Secret Manager secret: `projects/*/secrets/*/versions/*`. Warning: If you specify the password using plain text, you risk the password being exposed to any users who can view the job or its logs. To avoid this risk, specify a secret that contains the password instead. Learn more about [Secret Manager](https://cloud.google.com/secret-manager/docs/) and [using Secret Manager with Batch](https://cloud.google.com/batch/docs/create-run-job-secret-manager).",
          "type": "string"
        },
        "entrypoint": {
[...]
