{
  "discoveryVersion": "v1",
  "description": "Chrome Enterprise Premium is a secure enterprise browsing solution that provides secure access to applications and resources, and offers integrated threat and data protection. It adds an extra layer of security to safeguard your Chrome browser environment, including Data Loss Prevention (DLP), real-time URL and file scanning, and Context-Aware Access for SaaS and web apps.",
  "schemas": {
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaSecurityGateway": {
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the resource was last modified.",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The operational state of the SecurityGateway.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "SecurityGateway is being created.",
            "SecurityGateway is being updated.",
            "SecurityGateway is being deleted.",
            "SecurityGateway is running.",
            "SecurityGateway is down and may be restored in the future.",
            "SecurityGateway encountered an error and is in an indeterministic state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "RUNNING",
            "DOWN",
            "ERROR"
          ],
          "type": "string",
          "readOnly": true
        },
        "delegatingServiceAccount": {
          "description": "Output only. Service account used for operations that involve resources in consumer projects.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the resource.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the SecurityGateway. Cannot exceed 64 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created."
        },
        "externalIps": {
          "items": {
            "type": "string"
          },
          "description": "Output only. IP addresses that will be used for establishing connection to the endpoints.",
          "readOnly": true,
          "type": "array"
        },
        "serviceDiscovery": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscovery",
          "description": "Optional. Settings related to the Service Discovery."
        },
        "hubs": {
          "description": "Optional. Map of Hubs that represents regional data path deployment with GCP region as a key.",
          "additionalProperties": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaHub"
          },
          "type": "object"
        },
        "logging": {
          "description": "Optional. Configuration for Cloud Logging. If this field is present, the logging will be enabled.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaLoggingConfig"
        },
        "proxyProtocolConfig": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaProxyProtocolConfig",
          "description": "Optional. Shared proxy configuration for all apps."
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaSecurityGateway",
      "type": "object",
      "description": "The information about a security gateway resource."
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaListAppConnectionsResponse": {
      "properties": {
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "appConnections": {
          "description": "A list of BeyondCorp AppConnections in the project.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnection"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaListAppConnectionsResponse",
      "type": "object",
      "description": "Response message for BeyondCorp.ListAppConnections."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaHub": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaHub",
      "type": "object",
      "properties": {
        "internetGateway": {
          "description": "Optional. Internet Gateway configuration.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaInternetGateway"
        }
      },
      "description": "The Hub message contains information pertaining to the regional data path deployments."
    },
    "NotificationConfig": {
      "properties": {
        "pubsubNotification": {
          "description": "Pub/Sub topic for Connector to subscribe and receive notifications from `projects/{project}/topics/{pubsub_topic}`",
          "$ref": "CloudPubSubNotificationConfig"
        }
      },
      "id": "NotificationConfig",
      "type": "object",
      "description": "NotificationConfig defines the mechanisms to notify instance agent."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaSecurityGatewayOperationMetadata": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaSecurityGatewayOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaResolveInstanceConfigResponse": {
      "properties": {
        "instanceConfig": {
          "description": "AppConnectorInstanceConfig.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorInstanceConfig"
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaResolveInstanceConfigResponse",
      "type": "object",
      "description": "Response message for BeyondCorp.ResolveInstanceConfig."
    },
    "AllocatedConnection": {
      "description": "Allocated connection of the AppGateway.",
      "id": "AllocatedConnection",
      "type": "object",
      "properties": {
        "pscUri": {
          "description": "Required. The PSC uri of an allocated connection",
          "type": "string"
        },
        "ingressPort": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The ingress port of an allocated connection"
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGatewayOperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGatewayOperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaImageConfig": {
      "description": "ImageConfig defines the control plane images to run.",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaImageConfig",
      "type": "object",
      "properties": {
        "targetImage": {
          "description": "The initial image the remote agent will attempt to run for the control plane. Format would be a gcr image path, e.g.: gcr.io/PROJECT-ID/my-image:tag1",
          "type": "string"
        },
        "stableImage": {
          "description": "The stable image that the remote agent will fallback to if the target image fails. Format would be a gcr image path, e.g.: gcr.io/PROJECT-ID/my-image:tag1",
          "type": "string"
        }
      }
    },
    "ResolveConnectionsResponse": {
      "id": "ResolveConnectionsResponse",
      "type": "object",
      "properties": {
        "connectionDetails": {
          "description": "A list of BeyondCorp Connections with details in the project.",
          "items": {
            "$ref": "ConnectionDetails"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "A list of locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response message for BeyondCorp.ResolveConnections."
    },
    "ListConnectionsResponse": {
      "description": "Response message for BeyondCorp.ListConnections.",
      "id": "ListConnectionsResponse",
      "type": "object",
      "properties": {
        "connections": {
          "description": "A list of BeyondCorp Connections in the project.",
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "A list of locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "ResolveInstanceConfigResponse": {
      "description": "Response message for BeyondCorp.ResolveInstanceConfig.",
      "properties": {
        "instanceConfig": {
          "description": "ConnectorInstanceConfig.",
          "$ref": "ConnectorInstanceConfig"
        }
      },
      "id": "ResolveInstanceConfigResponse",
      "type": "object"
    },
    "CloudSecurityZerotrustApplinkLogagentProtoLogAgentDetails": {
      "properties": {},
      "id": "CloudSecurityZerotrustApplinkLogagentProtoLogAgentDetails",
      "type": "object",
      "description": "LogAgentDetails reflects the details of a log agent."
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsight": {
      "description": "The Insight object with configuration that was returned and actual list of records.",
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsight",
      "type": "object",
      "properties": {
        "rows": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRow"
          },
          "description": "Output only. Result rows returned containing the required value(s)."
        },
        "name": {
          "description": "Output only. The insight resource name. e.g. `organizations/{organization_id}/locations/{location_id}/insights/{insight_id}` OR `projects/{project_id}/locations/{location_id}/insights/{insight_id}`.",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "readOnly": true,
          "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadata",
          "description": "Output only. Metadata for the Insight."
        },
        "appliedConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfig",
          "description": "Output only. Applied insight config to generate the result data rows."
        }
      }
    },
    "GoogleIamV1Binding": {
      "properties": {
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      },
      "id": "GoogleIamV1Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaRestartSubscriptionResponse": {
      "description": "Response message for BeyondCorp.RestartSubscription",
      "properties": {},
      "id": "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaRestartSubscriptionResponse",
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "GoogleCloudLocationListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      }
    },
    "GoogleIamV1Policy": {
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "id": "GoogleIamV1Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnection": {
      "description": "A BeyondCorp AppConnection resource represents a BeyondCorp protected AppConnection to a remote application. It creates all the necessary GCP components needed for creating a BeyondCorp protected AppConnection. Multiple connectors can be authorized for a single AppConnection.",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnection",
      "type": "object",
      "properties": {
        "uid": {
          "description": "Output only. A unique identifier for the instance generated by the system.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true,
          "type": "string"
        },
        "applicationEndpoint": {
          "$ref": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionApplicationEndpoint",
          "description": "Required. Address of the remote application endpoint for the BeyondCorp AppConnection."
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Required. Unique resource name of the AppConnection. The name is ignored when creating a AppConnection.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the AppConnection. Cannot exceed 64 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "TCP Proxy based BeyondCorp AppConnection. API will default to this if unset."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TCP_PROXY"
          ],
          "description": "Required. The type of network connectivity used by the AppConnection."
        },
        "gateway": {
          "$ref": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionGateway",
          "description": "Optional. Gateway used by the AppConnection."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "connectors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of [google.cloud.beyondcorp.v1main.Connector.name] that are authorized to be associated with this AppConnection."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "AppConnection is being created.",
            "AppConnection has been created.",
            "AppConnection's configuration is being updated.",
            "AppConnection is being deleted.",
            "AppConnection is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ],
          "description": "Output only. The current state of the AppConnection."
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionOperationMetadata": {
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionOperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamExternal": {
      "description": "Endpoints to forward traffic to.",
      "properties": {
        "endpoints": {
          "type": "array",
          "description": "Required. List of the endpoints to forward traffic to.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpoint"
          }
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamExternal",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscription": {
      "description": "A BeyondCorp Subscription resource represents BeyondCorp Enterprise Subscription. BeyondCorp Enterprise Subscription enables BeyondCorp Enterprise permium features for an organization.",
      "properties": {
        "name": {
          "description": "Identifier. Unique resource name of the Subscription. The name is ignored when creating a subscription.",
          "type": "string"
        },
        "autoRenewEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Represents that, if subscription will renew or end when the term ends."
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Represents an active subscription.",
            "Represents an upcomming subscription.",
            "Represents a completed subscription."
          ],
          "description": "Output only. The current state of the subscription.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "COMPLETED"
          ]
        },
        "type": {
          "description": "Required. Type of subscription.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRIAL",
            "PAID",
            "ALLOWLIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Represents a trial subscription.",
            "Represents a paid subscription.",
            "Reresents an allowlisted subscription."
          ]
        },
        "csgCustomer": {
          "description": "Optional. Whether the subscription is being created as part of the Citrix flow. If this field is set to true, the subscription should have both the start_time and end_time set in the request and the billing account used will be the Citrix master billing account regardless of what its set to in the request. This field can only be set to true in create requests.",
          "type": "boolean"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. End time of the subscription.",
          "type": "string"
        },
        "subscriberType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Represents an online subscription.",
            "Represents an offline subscription.",
            "Represents a trial subscription. This maps to the 'TRIAL' subscriber_type in the Entitler proto (google3/identity/cloud/contextawareaccess/billing/proto/enums.proto), but is named 'CEP_TRIAL' here to avoid a name collision with the 'Type' enum defined above."
          ],
          "description": "Output only. Type of subscriber.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "SUBSCRIBER_TYPE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE",
            "CEP_TRIAL"
          ]
        },
        "seatCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Number of seats in the subscription."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Start time of the subscription.",
          "type": "string"
        },
        "sku": {
          "description": "Required. SKU of subscription.",
          "enum": [
            "SKU_UNSPECIFIED",
            "BCE_STANDARD_SKU"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Represents BeyondCorp Standard SKU."
          ]
        },
        "billingAccount": {
          "description": "Optional. Name of the billing account in the format. e.g. billingAccounts/123456-123456-123456 Required if Subscription is of Paid type.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the subscription."
        }
      },
      "id": "GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscription",
      "type": "object"
    },
    "ConnectionOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "ConnectionOperationMetadata",
      "type": "object",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGateway": {
      "description": "If Service Discovery is done through API, defines its settings.",
      "properties": {
        "resourceOverride": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGatewayOperationDescriptor",
          "description": "Optional. Enables fetching resource model updates to alter service behavior per Chrome profile."
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGateway",
      "type": "object"
    },
    "CloudPubSubNotificationConfig": {
      "description": "The configuration for Pub/Sub messaging for the connector.",
      "id": "CloudPubSubNotificationConfig",
      "type": "object",
      "properties": {
        "pubsubSubscription": {
          "description": "The Pub/Sub subscription the connector uses to receive notifications.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGatewayOperationDescriptor": {
      "description": "API operation descriptor.",
      "properties": {
        "path": {
          "description": "Optional. Contains the URI path fragment where HTTP request is sent.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGatewayOperationDescriptor",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedUserInfo": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedUserInfo",
      "type": "object",
      "properties": {
        "outputType": {
          "enum": [
            "OUTPUT_TYPE_UNSPECIFIED",
            "PROTOBUF",
            "JSON",
            "NONE"
          ],
          "description": "Optional. The delegated user's information.",
          "type": "string",
          "enumDescriptions": [
            "The unspecified output type.",
            "Protobuf output type.",
            "JSON output type.",
            "Explicitly disable header output."
          ]
        }
      },
      "description": "The configuration information for the delegated user."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamNetwork": {
      "properties": {
        "name": {
          "description": "Required. Network name is of the format: `projects/{project}/global/networks/{network}",
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamNetwork",
      "type": "object",
      "description": "Network to forward traffic to."
    },
    "ApplicationEndpoint": {
      "description": "ApplicationEndpoint represents a remote application endpoint.",
      "properties": {
        "host": {
          "description": "Required. Hostname or IP address of the remote application endpoint.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "description": "Required. Port of the remote application endpoint.",
          "format": "int32"
        }
      },
      "id": "ApplicationEndpoint",
      "type": "object"
    },
    "CloudSecurityZerotrustApplinkAppConnectorProtoConnectionConfig": {
      "id": "CloudSecurityZerotrustApplinkAppConnectorProtoConnectionConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "name is the unique ID for each connection. TODO(b/190732451) returns connection name from user-specified name in config. Now, name = ${application_name}:${application_endpoint}",
          "type": "string"
        },
        "userPort": {
          "type": "integer",
          "format": "int32",
          "description": "user_port specifies the reserved port on gateways for user connections."
        },
        "project": {
          "description": "project represents the consumer project the connection belongs to.",
          "type": "string"
        },
        "applicationEndpoint": {
          "description": "application_endpoint is the endpoint of the application the form of host:port. For example, \"localhost:80\".",
          "type": "string"
        },
        "gateway": {
          "type": "array",
          "items": {
            "$ref": "CloudSecurityZerotrustApplinkAppConnectorProtoGateway"
          },
          "description": "gateway lists all instances running a gateway in GCP. They all connect to a connector on the host."
        },
        "applicationName": {
          "description": "application_name represents the given name of the application the connection is connecting with.",
          "type": "string"
        },
        "tunnelsPerGateway": {
          "description": "tunnels_per_gateway reflects the number of tunnels between a connector and a gateway.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "description": "ConnectionConfig represents a Connection Configuration object."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedDeviceInfo": {
      "description": "The delegated device information configuration.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedDeviceInfo",
      "type": "object",
      "properties": {
        "outputType": {
          "description": "Optional. The output type details for the delegated device.",
          "enum": [
            "OUTPUT_TYPE_UNSPECIFIED",
            "PROTOBUF",
            "JSON",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The unspecified output type.",
            "Protobuf output type.",
            "JSON output type.",
            "Explicitly disable header output."
          ]
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo": {
      "properties": {
        "id": {
          "description": "Required. Unique Id for the resource.",
          "type": "string"
        },
        "status": {
          "description": "Overall health status. Overall status is derived based on the status of each sub level resources.",
          "enum": [
            "HEALTH_STATUS_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "UNRESPONSIVE",
            "DEGRADED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unhealthy.",
            "The resource is unresponsive.",
            "Some sub-resources are UNHEALTHY."
          ]
        },
        "sub": {
          "items": {
            "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo"
          },
          "description": "List of Info for the sub level resources.",
          "type": "array"
        },
        "time": {
          "format": "google-datetime",
          "description": "The timestamp to collect the info. It is suggested to be set by the topmost level resource only.",
          "type": "string"
        },
        "resource": {
          "type": "object",
          "description": "Specific details for the resource. This is for internal use only.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo",
      "type": "object",
      "description": "ResourceInfo represents the information or status of an app connector resource component that's used to report on various parts of the system. For example, ResourceInfo can be used to convey the status of a remote_agent, including the status of an appgateway for an runtime environment in a container instance."
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ReportStatusRequest": {
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, validates request by executing a dry-run which would not alter the resource in any way.",
          "type": "boolean"
        },
        "resourceInfo": {
          "$ref": "ResourceInfo",
          "description": "Required. Resource info of the connector."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "ReportStatusRequest",
      "type": "object",
      "description": "Request report the connector status."
    },
    "Connector": {
      "description": "A BeyondCorp connector resource that represents an application facing component deployed proximal to and with direct access to the application instances. It is used to establish connectivity between the remote enterprise environment and GCP. It initiates connections to the applications and can proxy the data from users over the connection.",
      "id": "Connector",
      "type": "object",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A unique identifier for the instance generated by the system."
        },
        "createTime": {
          "description": "Output only. Timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "principalInfo": {
          "$ref": "PrincipalInfo",
          "description": "Required. Principal information about the Identity of the connector."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true,
          "type": "string"
        },
        "resourceInfo": {
          "$ref": "ResourceInfo",
          "description": "Optional. Resource info of the connector."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "name": {
          "description": "Required. Unique resource name of the connector. The name is ignored when creating a connector.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the connector. Cannot exceed 64 characters.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the connector.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Connector is being created.",
            "Connector has been created.",
            "Connector's configuration is being updated.",
            "Connector is being deleted.",
            "Connector is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaProxyProtocolConfig": {
      "properties": {
        "metadataHeaders": {
          "type": "object",
          "description": "Optional. Custom resource specific headers along with the values. The names should conform to RFC 9110: >Field names can contain alphanumeric characters, hyphens, and periods, can contain only ASCII-printable characters and tabs, and must start with a letter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "allowedClientHeaders": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of the allowed client header names.",
          "type": "array"
        },
        "clientIp": {
          "description": "Optional. Client IP configuration. The client IP address is included if true.",
          "type": "boolean"
        },
        "gatewayIdentity": {
          "description": "Optional. The security gateway identity configuration.",
          "enum": [
            "GATEWAY_IDENTITY_UNSPECIFIED",
            "RESOURCE_NAME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified gateway identity.",
            "Resource name for gateway identity, in the format: projects/{project_id}/locations/{location_id}/securityGateways/{security_gateway_id}"
          ]
        },
        "contextualHeaders": {
          "description": "Optional. Configuration for the contextual headers.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeaders"
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaProxyProtocolConfig",
      "type": "object",
      "description": "The configuration for the proxy."
    },
    "ResourceInfo": {
      "id": "ResourceInfo",
      "type": "object",
      "properties": {
        "sub": {
          "description": "List of Info for the sub level resources.",
          "items": {
            "$ref": "ResourceInfo"
          },
          "type": "array"
        },
        "resource": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Specific details for the resource.",
          "type": "object"
        },
        "time": {
          "description": "The timestamp to collect the info. It is suggested to be set by the topmost level resource only.",
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "description": "Required. Unique Id for the resource.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unhealthy.",
            "The resource is unresponsive.",
            "Some sub-resources are UNHEALTHY."
          ],
          "enum": [
            "HEALTH_STATUS_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "UNRESPONSIVE",
            "DEGRADED"
          ],
          "description": "Overall health status. Overall status is derived based on the status of each sub level resources."
        }
      },
      "description": "ResourceInfo represents the information/status of the associated resource."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorInstanceConfig": {
      "description": "AppConnectorInstanceConfig defines the instance config of a AppConnector.",
      "properties": {
        "instanceConfig": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The SLM instance agent configuration."
        },
        "notificationConfig": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfig",
          "description": "NotificationConfig defines the notification mechanism that the remote instance should subscribe to in order to receive notification."
        },
        "sequenceNumber": {
          "type": "string",
          "format": "int64",
          "description": "Required. A monotonically increasing number generated and maintained by the API provider. Every time a config changes in the backend, the sequenceNumber should be bumped up to reflect the change."
        },
        "imageConfig": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaImageConfig",
          "description": "ImageConfig defines the GCR images to run for the remote agent's control plane."
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorInstanceConfig",
      "type": "object"
    },
    "Tunnelv1ProtoTunnelerInfo": {
      "id": "Tunnelv1ProtoTunnelerInfo",
      "type": "object",
      "properties": {
        "backoffRetryCount": {
          "type": "integer",
          "format": "uint32",
          "description": "backoff_retry_count stores the number of times the tunneler has been retried by tunManager for current backoff sequence. Gets reset to 0 if time difference between 2 consecutive retries exceeds backoffRetryResetTime."
        },
        "id": {
          "description": "id is the unique id of a tunneler.",
          "type": "string"
        },
        "latestErr": {
          "$ref": "Tunnelv1ProtoTunnelerError",
          "description": "latest_err stores the Error for the latest tunneler failure. Gets reset everytime the tunneler is retried by tunManager."
        },
        "totalRetryCount": {
          "type": "integer",
          "format": "uint32",
          "description": "total_retry_count stores the total number of times the tunneler has been retried by tunManager."
        },
        "latestRetryTime": {
          "type": "string",
          "description": "latest_retry_time stores the time when the tunneler was last restarted.",
          "format": "google-datetime"
        }
      },
      "description": "TunnelerInfo contains metadata about tunneler launched by connection manager."
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionGateway": {
      "description": "Gateway represents a user facing component that serves as an entrance to enable connectivity.",
      "properties": {
        "l7psc": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. L7 private service connection for this resource."
        },
        "ingressPort": {
          "format": "int32",
          "description": "Output only. Ingress port reserved on the gateways for this AppConnection, if not specified or zero, the default port is 19443.",
          "readOnly": true,
          "type": "integer"
        },
        "type": {
          "description": "Required. The type of hosting used by the gateway.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_REGIONAL_MIG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Gateway hosted in a GCP regional managed instance group."
          ]
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URI for this resource."
        },
        "appGateway": {
          "description": "Required. AppGateway name in following format: `projects/{project_id}/locations/{location_id}/appgateways/{gateway_id}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionGateway",
      "type": "object"
    },
    "CloudSecurityZerotrustApplinkAppConnectorProtoConnectorDetails": {
      "properties": {},
      "id": "CloudSecurityZerotrustApplinkAppConnectorProtoConnectorDetails",
      "type": "object",
      "description": "ConnectorDetails reflects the details of a connector."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRow": {
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRow",
      "type": "object",
      "properties": {
        "fieldValues": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowFieldVal"
          },
          "description": "Output only. Columns/entries/key-vals in the result."
        }
      },
      "description": "Row of the fetch response consisting of a set of entries."
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaListInsightsResponse": {
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaListInsightsResponse",
      "type": "object",
      "properties": {
        "insights": {
          "items": {
            "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsight"
          },
          "description": "Output only. List of all insights.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Next page token to be fetched. Set to empty or NULL if there are no more pages available."
        }
      },
      "description": "The response for the list of insights."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeaders": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeaders",
      "type": "object",
      "properties": {
        "userInfo": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedUserInfo",
          "description": "Optional. User details."
        },
        "groupInfo": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedGroupInfo",
          "description": "Optional. Group details."
        },
        "outputType": {
          "type": "string",
          "enumDescriptions": [
            "The unspecified output type.",
            "Protobuf output type.",
            "JSON output type.",
            "Explicitly disable header output."
          ],
          "description": "Optional. Default output type for all enabled headers.",
          "enum": [
            "OUTPUT_TYPE_UNSPECIFIED",
            "PROTOBUF",
            "JSON",
            "NONE"
          ]
        },
        "deviceInfo": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedDeviceInfo",
          "description": "Optional. The device information configuration."
        }
      },
      "description": "Contextual headers configuration."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaContainerHealthDetails": {
      "description": "ContainerHealthDetails reflects the health details of a container.",
      "properties": {
        "expectedConfigVersion": {
          "description": "The version of the expected config.",
          "type": "string"
        },
        "extendedStatus": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc."
        },
        "errorMsg": {
          "description": "The latest error message.",
          "type": "string"
        },
        "currentConfigVersion": {
          "description": "The version of the current config.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaContainerHealthDetails",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstream": {
      "description": "Which upstream resource to forward traffic to.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstream",
      "type": "object",
      "properties": {
        "network": {
          "description": "Network to forward traffic to.",
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamNetwork"
        },
        "proxyProtocol": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaProxyProtocolConfig",
          "description": "Optional. Enables proxy protocol configuration for the upstream."
        },
        "egressPolicy": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaEgressPolicy",
          "description": "Optional. Routing policy information."
        },
        "external": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamExternal",
          "description": "List of the external endpoints to forward traffic to."
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfigCloudPubSubNotificationConfig": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfigCloudPubSubNotificationConfig",
      "type": "object",
      "properties": {
        "pubsubSubscription": {
          "description": "The Pub/Sub subscription the AppConnector uses to receive notifications.",
          "type": "string"
        }
      },
      "description": "The configuration for Pub/Sub messaging for the AppConnector."
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataField": {
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataField",
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. Description of the field.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Name of the field.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Output only. Field id for which this is the metadata.",
          "readOnly": true,
          "type": "string"
        },
        "filterAlias": {
          "description": "Output only. Field name to be used in filter while requesting configured insight filtered on this field.",
          "type": "string",
          "readOnly": true
        },
        "groupable": {
          "description": "Output only. Indicates whether the field can be used for grouping in custom grouping request.",
          "readOnly": true,
          "type": "boolean"
        },
        "filterable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the field can be used for filtering."
        }
      },
      "description": "Field metadata. Commonly understandable name and description for the field. Multiple such fields constitute the Insight."
    },
    "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionApplicationEndpoint": {
      "properties": {
        "port": {
          "description": "Required. Port of the remote application endpoint.",
          "format": "int32",
          "type": "integer"
        },
        "host": {
          "description": "Required. Hostname or IP address of the remote application endpoint.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionApplicationEndpoint",
      "type": "object",
      "description": "ApplicationEndpoint represents a remote application endpoint."
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "id": "GoogleIamV1AuditConfig",
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowFieldVal": {
      "description": "Column or key value pair from the request as part of key to use in query or a single pair of the fetch response.",
      "properties": {
        "displayName": {
          "description": "Output only. Name of the field.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Value of the field in string format. Acceptable values are strings or numbers."
        },
        "id": {
          "description": "Output only. Field id.",
          "type": "string",
          "readOnly": true
        },
        "filterAlias": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Field name to be used in filter while requesting configured insight filtered on this field."
        }
      },
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowFieldVal",
      "type": "object"
    },
    "ConnectorInstanceConfig": {
      "description": "ConnectorInstanceConfig defines the instance config of a connector.",
      "properties": {
        "sequenceNumber": {
          "type": "string",
          "format": "int64",
          "description": "Required. A monotonically increasing number generated and maintained by the API provider. Every time a config changes in the backend, the sequenceNumber should be bumped up to reflect the change."
        },
        "imageConfig": {
          "$ref": "ImageConfig",
          "description": "ImageConfig defines the GCR images to run for the remote agent's control plane."
        },
        "instanceConfig": {
          "description": "The SLM instance agent configuration.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "notificationConfig": {
          "$ref": "NotificationConfig",
          "description": "NotificationConfig defines the notification mechanism that the remote instance should subscribe to in order to receive notification."
        }
      },
      "id": "ConnectorInstanceConfig",
      "type": "object"
    },
    "RemoteAgentDetails": {
      "description": "RemoteAgentDetails reflects the details of a remote agent.",
      "id": "RemoteAgentDetails",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudBeyondcorpAppconnectorsV1RemoteAgentDetails": {
      "description": "RemoteAgentDetails reflects the details of a remote agent.",
      "properties": {},
      "id": "GoogleCloudBeyondcorpAppconnectorsV1RemoteAgentDetails",
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1ContainerHealthDetails": {
      "description": "ContainerHealthDetails reflects the health details of a container.",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1ContainerHealthDetails",
      "type": "object",
      "properties": {
        "errorMsg": {
          "description": "The latest error message.",
          "type": "string"
        },
        "currentConfigVersion": {
          "description": "The version of the current config.",
          "type": "string"
        },
        "expectedConfigVersion": {
          "description": "The version of the expected config.",
          "type": "string"
        },
        "extendedStatus": {
          "type": "object",
          "description": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudBeyondcorpAppgatewaysV1AppGatewayOperationMetadata": {
      "id": "GoogleCloudBeyondcorpAppgatewaysV1AppGatewayOperationMetadata",
      "type": "object",
      "properties": {
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "PrincipalInfo": {
      "properties": {
        "serviceAccount": {
          "description": "A GCP service account.",
          "$ref": "ServiceAccount"
        }
      },
      "id": "PrincipalInfo",
      "type": "object",
      "description": "PrincipalInfo represents an Identity oneof."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorOperationMetadata": {
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorOperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaConfiguredInsightResponse": {
      "description": "The response for the configured insight.",
      "id": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaConfiguredInsightResponse",
      "type": "object",
      "properties": {
        "appliedConfig": {
          "description": "Output only. Applied insight config to generate the result data rows.",
          "readOnly": true,
          "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfig"
        },
        "nextPageToken": {
          "description": "Output only. Next page token to be fetched. Set to empty or NULL if there are no more pages available.",
          "readOnly": true,
          "type": "string"
        },
        "rows": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Result rows returned containing the required value(s) for configured insight.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRow"
          }
        }
      }
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "id": "GoogleLongrunningOperation",
      "type": "object"
    },
    "Tunnelv1ProtoTunnelerError": {
      "properties": {
        "retryable": {
          "description": "retryable isn't used for now, but we may want to reuse it in the future.",
          "type": "boolean"
        },
        "err": {
          "description": "Original raw error",
          "type": "string"
        }
      },
      "id": "Tunnelv1ProtoTunnelerError",
      "type": "object",
      "description": "TunnelerError is an error proto for errors returned by the connection manager."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfo": {
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfo",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "A GCP service account.",
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfoServiceAccount"
        }
      },
      "description": "PrincipalInfo represents an Identity oneof."
    },
    "Gateway": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Gateway hosted in a GCP regional managed instance group."
          ],
          "description": "Required. The type of hosting used by the gateway.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GCP_REGIONAL_MIG"
          ]
        },
        "uri": {
          "description": "Output only. Server-defined URI for this resource.",
          "readOnly": true,
          "type": "string"
        },
        "userPort": {
          "format": "int32",
          "description": "Output only. User port reserved on the gateways for this connection, if not specified or zero, the default port is 19443.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "Gateway",
      "type": "object",
      "description": "Gateway represents a user facing component that serves as an entrance to enable connectivity."
    },
    "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudBeyondcorpAppconnectionsV1AppConnectionOperationMetadata",
      "type": "object",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaListSecurityGatewaysResponse": {
      "description": "Message for response to listing SecurityGateways.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "A list of locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "securityGateways": {
          "description": "A list of BeyondCorp SecurityGateway in the project.",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaSecurityGateway"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaListSecurityGatewaysResponse",
      "type": "object"
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfoServiceAccount": {
      "description": "ServiceAccount represents a GCP service account.",
      "properties": {
        "email": {
          "description": "Email address of the service account.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfoServiceAccount",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscovery": {
      "description": "Settings related to the Service Discovery.",
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscovery",
      "type": "object",
      "properties": {
        "apiGateway": {
          "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGateway",
          "description": "Optional. External API configuration."
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorOperationMetadata": {
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectorsV1AppConnectorOperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaReportStatusRequest": {
      "description": "Request report the connector status.",
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaReportStatusRequest",
      "type": "object",
      "properties": {
        "resourceInfo": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo",
          "description": "Required. Resource info of the connector."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, validates request by executing a dry-run which would not alter the resource in any way.",
          "type": "boolean"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "GoogleCloudBeyondcorpPartnerservicesV1alphaPartnerServiceOperationMetadata": {
      "type": "object",
      "deprecated": true,
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudBeyondcorpPartnerservicesV1alphaPartnerServiceOperationMetadata",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        }
      }
    },
    "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnector": {
      "description": "A BeyondCorp connector resource that represents an application facing component deployed proximal to and with direct access to the application instances. It is used to establish connectivity between the remote enterprise environment and GCP. It initiates connections to the applications and can proxy the data from users over the connection.",
      "properties": {
        "principalInfo": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfo",
          "description": "Required. Principal information about the Identity of the AppConnector."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was created."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A unique identifier for the instance generated by the system."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "UPDATING",
            "DELETING",
            "DOWN"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the AppConnector.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "AppConnector is being created.",
            "AppConnector has been created.",
            "AppConnector's configuration is being updated.",
            "AppConnector is being deleted.",
            "AppConnector is down and may be restored in the future. This happens when CCFE sends ProjectState = OFF."
          ]
        },
        "name": {
          "description": "Required. Unique resource name of the AppConnector. The name is ignored when creating a AppConnector.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. An arbitrary user-provided name for the AppConnector. Cannot exceed 64 characters.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource was last modified.",
          "readOnly": true,
          "type": "string"
        },
        "resourceInfo": {
          "$ref": "GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo",
          "description": "Optional. Resource info of the connector."
        }
      },
      "id": "GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnector",
      "type": "object"
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaListApplicationsResponse": {
      "id": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaListApplicationsResponse",
      "type": "object",
      "properties": {
        "applications": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplication"
          },
          "description": "A list of BeyondCorp Application in the project."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Message for response to listing Applications."
    },
    "ListConnectorsResponse": {
      "properties": {
        "connectors": {
          "type": "array",
          "items": {
            "$ref": "Connector"
          },
          "description": "A list of BeyondCorp Connectors in the project."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "A list of locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListConnectorsResponse",
      "type": "object",
      "description": "Response message for BeyondCorp.ListConnectors."
    },
    "GoogleLongrunningCancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object"
    },
    "GoogleTypeExpr": {
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedGroupInfo": {
      "description": "The delegated group configuration details.",
      "properties": {
        "outputType": {
[...]
