{
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "protocol": "rest",
  "rootUrl": "https://bigquerydatatransfer.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "Schedule queries or transfer external data from SaaS applications to Google BigQuery on a regular basis.",
  "endpoints": [
    {
      "endpointUrl": "https://bigquerydatatransfer.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://bigquerydatatransfer.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://bigquerydatatransfer.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://bigquerydatatransfer.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://bigquerydatatransfer.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://bigquerydatatransfer.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://bigquerydatatransfer.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://bigquerydatatransfer.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://bigquerydatatransfer.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://bigquerydatatransfer.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://bigquerydatatransfer.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://bigquerydatatransfer.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://bigquerydatatransfer.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "title": "BigQuery Data Transfer API",
  "ownerDomain": "google.com",
  "id": "bigquerydatatransfer:v1",
  "mtlsRootUrl": "https://bigquerydatatransfer.mtls.googleapis.com/",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "BigQuery Data Transfer",
  "batchPath": "batch",
  "ownerName": "Google",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/bigquery-transfer/",
  "basePath": "",
  "schemas": {
    "TransferMessage": {
      "description": "Represents a user facing message for a particular data transfer run.",
      "type": "object",
      "properties": {
        "messageText": {
          "description": "Message text.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "No severity specified.",
            "Informational message.",
            "Warning message.",
            "Error message."
          ],
          "description": "Message severity.",
          "type": "string",
          "enum": [
            "MESSAGE_SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ]
        },
        "messageTime": {
          "description": "Time when message was logged.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "TransferMessage"
    },
    "CheckValidCredsRequest": {
      "id": "CheckValidCredsRequest",
      "description": "A request to determine whether the user has valid credentials. This method is used to limit the number of OAuth popups in the user interface. The user id is inferred from the API call context. If the data source has the Google+ authorization type, this method returns false, as it cannot be determined whether the credentials are already valid merely based on the user id.",
      "type": "object",
      "properties": {}
    },
    "ScheduleOptionsV2": {
      "description": "V2 options customizing different types of data transfer schedule. This field supports existing time-based and manual transfer schedule. Also supports Event-Driven transfer schedule. ScheduleOptionsV2 cannot be used together with ScheduleOptions/Schedule.",
      "type": "object",
      "properties": {
        "manualSchedule": {
          "description": "Manual transfer schedule. If set, the transfer run will not be auto-scheduled by the system, unless the client invokes StartManualTransferRuns. This is equivalent to disable_auto_scheduling = true.",
          "$ref": "ManualSchedule"
        },
        "timeBasedSchedule": {
          "description": "Time based transfer schedule options. This is the default schedule option.",
          "$ref": "TimeBasedSchedule"
        },
        "eventDrivenSchedule": {
          "description": "Event driven transfer schedule options. If set, the transfer will be scheduled upon events arrial.",
          "$ref": "EventDrivenSchedule"
        }
      },
      "id": "ScheduleOptionsV2"
    },
    "ScheduleTransferRunsRequest": {
      "description": "A request to schedule transfer runs for a time range.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Start time of the range of transfer runs. For example, `\"2017-05-25T00:00:00+00:00\"`.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Required. End time of the range of transfer runs. For example, `\"2017-05-30T00:00:00+00:00\"`.",
          "type": "string"
        }
      },
      "id": "ScheduleTransferRunsRequest"
    },
    "TableDetail": {
      "id": "TableDetail",
      "description": "Table details related to hierarchy.",
      "type": "object",
      "properties": {
        "partitionCount": {
          "description": "Optional. Total number of partitions being tracked within the table.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DataSourceParameter": {
      "description": "A parameter used to define custom fields in a data source definition.",
      "type": "object",
      "properties": {
        "required": {
          "description": "Is parameter required.",
          "type": "boolean"
        },
        "fields": {
          "items": {
            "$ref": "DataSourceParameter"
          },
          "description": "Deprecated. This field has no effect.",
          "type": "array"
        },
        "validationHelpUrl": {
          "description": "URL to a help document to further explain the naming requirements.",
          "type": "string"
        },
        "displayName": {
          "description": "Parameter display name in the user interface.",
          "type": "string"
        },
        "maxValue": {
          "format": "double",
          "description": "For integer and double values specifies maximum allowed value.",
          "type": "number"
        },
        "type": {
          "description": "Parameter type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "DOUBLE",
            "BOOLEAN",
            "RECORD",
            "PLUS_PAGE",
            "LIST"
          ],
          "enumDescriptions": [
            "Type unspecified.",
            "String parameter.",
            "Integer parameter (64-bits). Will be serialized to json as string.",
            "Double precision floating point parameter.",
            "Boolean parameter.",
            "Deprecated. This field has no effect.",
            "Page ID for a Google+ Page.",
            "List of strings parameter."
          ]
        },
        "validationRegex": {
          "description": "Regular expression which can be used for parameter validation.",
          "type": "string"
        },
        "immutable": {
          "description": "Cannot be changed after initial creation.",
          "type": "boolean"
        },
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "description": "All possible values for the parameter.",
          "type": "array"
        },
        "paramId": {
          "description": "Parameter identifier.",
          "type": "string"
        },
        "repeated": {
          "description": "Deprecated. This field has no effect.",
          "type": "boolean"
        },
        "minValue": {
          "description": "For integer and double values specifies minimum allowed value.",
          "type": "number",
          "format": "double"
        },
        "recurse": {
          "description": "Deprecated. This field has no effect.",
          "type": "boolean"
        },
        "maxListSize": {
          "description": "For list parameters, the max size of the list.",
          "type": "string",
          "format": "int64"
        },
        "validationDescription": {
          "description": "Description of the requirements for this field, in case the user input does not fulfill the regex pattern or min/max values.",
          "type": "string"
        },
        "deprecated": {
          "description": "If true, it should not be used in new transfers, and it should not be visible to users.",
          "type": "boolean"
        },
        "description": {
          "description": "Parameter description.",
          "type": "string"
        }
      },
      "id": "DataSourceParameter"
    },
    "UserInfo": {
      "description": "Information about a user.",
      "type": "object",
      "properties": {
        "email": {
          "description": "E-mail address of the user.",
          "type": "string"
        }
      },
      "id": "UserInfo"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location"
    },
    "StartManualTransferRunsRequest": {
      "description": "A request to start manual transfer runs.",
      "type": "object",
      "properties": {
        "requestedTimeRange": {
          "description": "A time_range start and end timestamp for historical data files or reports that are scheduled to be transferred by the scheduled transfer run. requested_time_range must be a past time and cannot include future time values.",
          "$ref": "TimeRange"
        },
        "requestedRunTime": {
          "description": "A run_time timestamp for historical data files or reports that are scheduled to be transferred by the scheduled transfer run. requested_run_time must be a past time and cannot include future time values.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "StartManualTransferRunsRequest"
    },
    "DataSource": {
      "description": "Defines the properties and custom parameters for a data source.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Data source resource name.",
          "type": "string"
        },
        "transferType": {
          "deprecated": true,
          "description": "Deprecated. This field has no effect.",
          "type": "string",
          "enum": [
            "TRANSFER_TYPE_UNSPECIFIED",
            "BATCH",
            "STREAMING"
          ],
          "enumDescriptions": [
            "Invalid or Unknown transfer type placeholder.",
            "Batch data transfer.",
            "Streaming data transfer. Streaming data source currently doesn't support multiple transfer configs per project."
          ]
        },
        "defaultSchedule": {
          "description": "Default data transfer schedule. Examples of valid schedules include: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`.",
          "type": "string"
        },
        "helpUrl": {
          "description": "Url for the help document for this data source.",
          "type": "string"
        },
        "supportsCustomSchedule": {
          "description": "Specifies whether the data source supports a user defined schedule, or operates on the default schedule. When set to `true`, user can override default schedule.",
          "type": "boolean"
        },
        "updateDeadlineSeconds": {
          "description": "The number of seconds to wait for an update from the data source before the Data Transfer Service marks the transfer as FAILED.",
          "type": "integer",
          "format": "int32"
        },
        "manualRunsDisabled": {
          "description": "Disables backfilling and manual run scheduling for the data source.",
          "type": "boolean"
        },
        "displayName": {
          "description": "User friendly data source name.",
          "type": "string"
        },
        "description": {
          "description": "User friendly data source description string.",
          "type": "string"
        },
        "dataSourceId": {
          "description": "Data source id.",
          "type": "string"
        },
        "clientId": {
          "description": "Data source client id which should be used to receive refresh token.",
          "type": "string"
        },
        "authorizationType": {
          "description": "Indicates the type of authorization.",
          "type": "string",
          "enum": [
            "AUTHORIZATION_TYPE_UNSPECIFIED",
            "AUTHORIZATION_CODE",
            "GOOGLE_PLUS_AUTHORIZATION_CODE",
            "FIRST_PARTY_OAUTH"
          ],
          "enumDescriptions": [
            "Type unspecified.",
            "Use OAuth 2 authorization codes that can be exchanged for a refresh token on the backend.",
            "Return an authorization code for a given Google+ page that can then be exchanged for a refresh token on the backend.",
            "Use First Party OAuth."
          ]
        },
        "minimumScheduleInterval": {
          "description": "The minimum interval for scheduler to schedule runs.",
          "type": "string",
          "format": "google-duration"
        },
        "dataRefreshType": {
          "description": "Specifies whether the data source supports automatic data refresh for the past few days, and how it's supported. For some data sources, data might not be complete until a few days later, so it's useful to refresh data automatically.",
          "type": "string",
          "enum": [
            "DATA_REFRESH_TYPE_UNSPECIFIED",
            "SLIDING_WINDOW",
            "CUSTOM_SLIDING_WINDOW"
          ],
          "enumDescriptions": [
            "The data source won't support data auto refresh, which is default value.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Does not allow custom values to be set for each transfer config.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Allows custom values to be set for each transfer config."
          ]
        },
        "scopes": {
          "description": "Api auth scopes for which refresh token needs to be obtained. These are scopes needed by a data source to prepare data and ingest them into BigQuery, e.g., https://www.googleapis.com/auth/bigquery",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportsMultipleTransfers": {
          "description": "Deprecated. This field has no effect.",
          "type": "boolean",
          "deprecated": true
        },
        "parameters": {
          "description": "Data source parameters.",
          "type": "array",
          "items": {
            "$ref": "DataSourceParameter"
          }
        },
        "defaultDataRefreshWindowDays": {
          "format": "int32",
          "description": "Default data refresh window on days. Only meaningful when `data_refresh_type` = `SLIDING_WINDOW`.",
          "type": "integer"
        }
      },
      "id": "DataSource"
    },
    "EmailPreferences": {
      "id": "EmailPreferences",
      "description": "Represents preferences for sending email notifications for transfer run events.",
      "type": "object",
      "properties": {
        "enableFailureEmail": {
          "description": "If true, email notifications will be sent on transfer run failures.",
          "type": "boolean"
        }
      }
    },
    "TransferStatusMetric": {
      "description": "Metrics for tracking the transfer status.",
      "type": "object",
      "properties": {
        "pending": {
          "description": "Optional. Number of units pending transfer.",
          "type": "string",
          "format": "int64"
        },
        "completed": {
          "format": "int64",
          "description": "Optional. Number of units transferred successfully.",
          "type": "string"
        },
        "unit": {
          "enumDescriptions": [
            "Default value.",
            "Bytes.",
            "Objects."
          ],
          "description": "Optional. Unit for measuring progress (e.g., BYTES).",
          "type": "string",
          "enum": [
            "TRANSFER_STATUS_UNIT_UNSPECIFIED",
            "TRANSFER_STATUS_UNIT_BYTES",
            "TRANSFER_STATUS_UNIT_OBJECTS"
          ]
        },
        "total": {
          "description": "Optional. Total number of units for the transfer.",
          "type": "string",
          "format": "int64"
        },
        "failed": {
          "format": "int64",
          "description": "Optional. Number of units that failed to transfer.",
          "type": "string"
        }
      },
      "id": "TransferStatusMetric"
    },
    "TransferRunBrief": {
      "description": "Basic information about a transfer run.",
      "type": "object",
      "properties": {
        "run": {
          "description": "Optional. Run URI. The format must be: `projects/{project}/locations/{location}/transferConfigs/{transfer_config}/run/{run}`",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Start time of the transfer run.",
          "type": "string"
        }
      },
      "id": "TransferRunBrief"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "ManualSchedule": {
      "id": "ManualSchedule",
      "description": "Options customizing manual transfers schedule.",
      "type": "object",
      "properties": {}
    },
    "ListTransferResourcesResponse": {
      "id": "ListTransferResourcesResponse",
      "description": "Response for the `ListTransferResources` RPC.",
      "type": "object",
      "properties": {
        "transferResources": {
          "readOnly": true,
          "description": "Output only. The transfer resources.",
          "type": "array",
          "items": {
            "$ref": "TransferResource"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "EnrollDataSourcesRequest": {
      "description": "A request to enroll a set of data sources so they are visible in the BigQuery UI's `Transfer` tab.",
      "type": "object",
      "properties": {
        "dataSourceIds": {
          "description": "Data sources that are enrolled. It is required to provide at least one data source id.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EnrollDataSourcesRequest"
    },
    "PartitionDetail": {
      "id": "PartitionDetail",
      "description": "Partition details related to hierarchy.",
      "type": "object",
      "properties": {
        "table": {
          "description": "Optional. Name of the table which has the partitions.",
          "type": "string"
        }
      }
    },
    "ListTransferLogsResponse": {
      "description": "The returned list transfer run messages.",
      "type": "object",
      "properties": {
        "transferMessages": {
          "items": {
            "$ref": "TransferMessage"
          },
          "description": "Output only. The stored pipeline transfer messages.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `GetTransferRunLogRequest.page_token` to request the next page of list results.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ListTransferLogsResponse"
    },
    "UnenrollDataSourcesRequest": {
      "description": "A request to unenroll a set of data sources so they are no longer visible in the BigQuery UI's `Transfer` tab.",
      "type": "object",
      "properties": {
        "dataSourceIds": {
          "description": "Data sources that are unenrolled. It is required to provide at least one data source id.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "UnenrollDataSourcesRequest"
    },
    "TransferResourceStatusDetail": {
      "id": "TransferResourceStatusDetail",
      "description": "Status details of the resource being transferred.",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Optional. Transfer status summary of the resource.",
          "$ref": "TransferStatusSummary"
        },
        "state": {
          "description": "Optional. Transfer state of the resource.",
          "type": "string",
          "enum": [
            "RESOURCE_TRANSFER_STATE_UNSPECIFIED",
            "RESOURCE_TRANSFER_PENDING",
            "RESOURCE_TRANSFER_RUNNING",
            "RESOURCE_TRANSFER_SUCCEEDED",
            "RESOURCE_TRANSFER_FAILED",
            "RESOURCE_TRANSFER_CANCELLED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Resource is waiting to be transferred.",
            "Resource transfer is running.",
            "Resource transfer is a success.",
            "Resource transfer failed.",
            "Resource transfer was cancelled."
          ]
        },
        "error": {
          "description": "Optional. Transfer error details for the resource.",
          "$ref": "Status"
        },
        "completedPercentage": {
          "description": "Output only. Percentage of the transfer completed. Valid values: 0-100.",
          "type": "number",
          "readOnly": true,
          "format": "double"
        }
      }
    },
    "CheckValidCredsResponse": {
      "id": "CheckValidCredsResponse",
      "description": "A response indicating whether the credentials exist and are valid.",
      "type": "object",
      "properties": {
        "hasValidCreds": {
          "description": "If set to `true`, the credentials exist and are valid.",
          "type": "boolean"
        }
      }
    },
    "MetadataDestination": {
      "description": "The metadata destination of the transfer config.",
      "type": "object",
      "properties": {
        "dataplexConfiguration": {
          "description": "The Dataplex Universal Catalog configuration.",
          "$ref": "DataplexConfiguration"
        }
      },
      "id": "MetadataDestination"
    },
    "ScheduleTransferRunsResponse": {
      "description": "A response to schedule transfer runs for a time range.",
      "type": "object",
      "properties": {
        "runs": {
          "description": "The transfer runs that were scheduled.",
          "type": "array",
          "items": {
            "$ref": "TransferRun"
          }
        }
      },
      "id": "ScheduleTransferRunsResponse"
    },
    "ScheduleOptions": {
      "description": "Options customizing the data transfer schedule.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Specifies time to start scheduling transfer runs. The first run will be scheduled at or after the start time according to a recurrence pattern defined in the schedule string. The start time can be changed at any moment. The time when a data transfer can be triggered manually is not limited by this option.",
          "type": "string"
        },
        "endTime": {
          "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be scheduled at or after the end time. The end time can be changed at any moment. The time when a data transfer can be triggered manually is not limited by this option.",
          "type": "string",
          "format": "google-datetime"
        },
        "disableAutoScheduling": {
          "description": "If true, automatic scheduling of data transfer runs for this configuration will be disabled. The runs can be started on ad-hoc basis using StartManualTransferRuns API. When automatic scheduling is disabled, the TransferConfig.schedule field will be ignored.",
          "type": "boolean"
        }
      },
      "id": "ScheduleOptions"
    },
    "EventDrivenSchedule": {
      "description": "Options customizing EventDriven transfers schedule.",
      "type": "object",
      "properties": {
        "pubsubSubscription": {
          "description": "Pub/Sub subscription name used to receive events. Only Google Cloud Storage data source support this option. Format: projects/{project}/subscriptions/{subscription}",
          "type": "string"
        }
      },
      "id": "EventDrivenSchedule"
    },
    "TransferResource": {
      "id": "TransferResource",
      "description": "Resource (table/partition) that is being transferred.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. Resource type.",
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_TABLE",
            "RESOURCE_TYPE_PARTITION"
          ],
          "enumDescriptions": [
            "Default value.",
            "Table resource type.",
            "Partition resource type."
          ]
        },
        "latestRun": {
          "description": "Optional. Run details for the latest run.",
          "$ref": "TransferRunBrief"
        },
        "lastSuccessfulRun": {
          "$ref": "TransferRunBrief",
          "readOnly": true,
          "description": "Output only. Run details for the last successful run."
        },
        "updateTime": {
          "description": "Output only. Time when the resource was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "destination": {
          "enumDescriptions": [
            "Default value.",
            "BigQuery.",
            "Dataproc Metastore.",
            "BigLake Metastore.",
            "BigLake REST Catalog.",
            "BigLake Hive Catalog."
          ],
          "description": "Optional. Resource destination.",
          "type": "string",
          "enum": [
            "RESOURCE_DESTINATION_UNSPECIFIED",
            "RESOURCE_DESTINATION_BIGQUERY",
            "RESOURCE_DESTINATION_DATAPROC_METASTORE",
            "RESOURCE_DESTINATION_BIGLAKE_METASTORE",
            "RESOURCE_DESTINATION_BIGLAKE_REST_CATALOG",
            "RESOURCE_DESTINATION_BIGLAKE_HIVE_CATALOG"
          ]
        },
        "name": {
          "description": "Identifier. Resource name.",
          "type": "string"
        },
        "latestStatusDetail": {
          "description": "Optional. Status details for the latest run.",
          "$ref": "TransferResourceStatusDetail"
        },
        "hierarchyDetail": {
          "description": "Optional. Details about the hierarchy.",
          "$ref": "HierarchyDetail"
        }
      }
    },
    "ListTransferConfigsResponse": {
      "description": "The returned list of pipelines in the project.",
      "type": "object",
      "properties": {
        "transferConfigs": {
          "items": {
            "$ref": "TransferConfig"
          },
          "description": "Output only. The stored pipeline transfer configurations.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferConfigsRequest.page_token` to request the next page of list results.",
          "type": "string"
        }
      },
      "id": "ListTransferConfigsResponse"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "DataplexConfiguration": {
      "id": "DataplexConfiguration",
      "description": "Configuration for Dataplex destination.",
      "type": "object",
      "properties": {
        "entryGroup": {
          "description": "Required. The Dataplex Universal Catalog entry group for importing the metadata. entry_group has the format of `projects/{project_id}/locations/{region}/entryGroups/{entry_group_id}`.",
          "type": "string"
        }
      }
    },
    "TimeRange": {
      "id": "TimeRange",
      "description": "A specification for a time range, this will request transfer runs with run_time between start_time (inclusive) and end_time (exclusive).",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Start time of the range of transfer runs. For example, `\"2017-05-25T00:00:00+00:00\"`. The start_time must be strictly less than the end_time. Creates transfer runs where run_time is in the range between start_time (inclusive) and end_time (exclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End time of the range of transfer runs. For example, `\"2017-05-30T00:00:00+00:00\"`. The end_time must not be in the future. Creates transfer runs where run_time is in the range between start_time (inclusive) and end_time (exclusive).",
          "type": "string"
        }
      }
    },
    "StartManualTransferRunsResponse": {
      "id": "StartManualTransferRunsResponse",
      "description": "A response to start manual transfer runs.",
      "type": "object",
      "properties": {
        "runs": {
          "description": "The transfer runs that were created.",
          "type": "array",
          "items": {
            "$ref": "TransferRun"
          }
        }
      }
    },
    "TransferStatusSummary": {
      "description": "Status summary of the resource being transferred.",
      "type": "object",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "TransferStatusMetric"
          },
          "description": "Optional. List of transfer status metrics.",
          "type": "array"
        },
        "progressUnit": {
          "description": "Input only. Unit based on which transfer status progress should be calculated.",
          "type": "string",
          "enum": [
            "TRANSFER_STATUS_UNIT_UNSPECIFIED",
            "TRANSFER_STATUS_UNIT_BYTES",
            "TRANSFER_STATUS_UNIT_OBJECTS"
          ],
          "enumDescriptions": [
            "Default value.",
            "Bytes.",
            "Objects."
          ]
        }
      },
      "id": "TransferStatusSummary"
    },
    "HierarchyDetail": {
      "id": "HierarchyDetail",
      "description": "Details about the hierarchy.",
      "type": "object",
      "properties": {
        "tableDetail": {
          "description": "Optional. Table details related to hierarchy.",
          "$ref": "TableDetail"
        },
        "partitionDetail": {
          "description": "Optional. Partition details related to hierarchy.",
          "$ref": "PartitionDetail"
        }
      }
    },
    "ListDataSourcesResponse": {
      "id": "ListDataSourcesResponse",
      "description": "Returns list of supported data sources and their metadata.",
      "type": "object",
      "properties": {
        "dataSources": {
          "items": {
            "$ref": "DataSource"
          },
          "description": "List of supported data sources and their transfer settings.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListDataSourcesRequest.page_token` to request the next page of list results.",
          "type": "string"
        }
      }
    },
    "ListTransferRunsResponse": {
      "description": "The returned list of pipelines in the project.",
      "type": "object",
      "properties": {
        "transferRuns": {
          "description": "Output only. The stored pipeline transfer runs.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "TransferRun"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferRunsRequest.page_token` to request the next page of list results.",
          "type": "string"
        }
      },
      "id": "ListTransferRunsResponse"
    },
    "TransferRun": {
      "id": "TransferRun",
      "description": "Represents a data transfer run.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Data transfer run state. Ignored for input requests.",
          "type": "string",
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ]
        },
        "errorStatus": {
          "description": "Status of the transfer run.",
          "$ref": "Status"
        },
        "dataSourceId": {
          "readOnly": true,
          "description": "Output only. Data source id.",
          "type": "string"
        },
        "userId": {
          "format": "int64",
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
          "type": "string"
        },
        "scheduleTime": {
          "description": "Minimum time after which a transfer run can be started.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last time the data transfer run state was updated.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when transfer run was started. Parameter ignored by server for input requests.",
          "type": "string"
        },
        "params": {
          "readOnly": true,
          "description": "Output only. Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "destinationDatasetId": {
          "description": "Output only. The BigQuery target dataset id.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. Time when transfer run ended. Parameter ignored by server for input requests.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "emailPreferences": {
          "$ref": "EmailPreferences",
          "description": "Output only. Email notifications will be sent according to these preferences to the email address of the user who owns the transfer config this run was derived from.",
          "readOnly": true
        },
        "schedule": {
          "readOnly": true,
          "description": "Output only. Describes the schedule of this transfer run if it was created as part of a regular schedule. For batch transfer runs that are scheduled manually, this is empty. NOTE: the system might choose to delay the schedule depending on the current load, so `schedule_time` doesn't always match this.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the transfer run. Transfer run names have the form `projects/{project_id}/locations/{location}/transferConfigs/{config_id}/runs/{run_id}`. The name is ignored when creating a transfer run.",
          "type": "string"
        },
        "notificationPubsubTopic": {
          "readOnly": true,
          "description": "Output only. Pub/Sub topic where a notification will be sent after this transfer run finishes. The format for specifying a pubsub topic is: `projects/{project_id}/topics/{topic_id}`",
          "type": "string"
        },
        "runTime": {
          "format": "google-datetime",
          "description": "For batch transfer runs, specifies the date and time of the data should be ingested.",
          "type": "string"
        }
      }
    },
    "TimeBasedSchedule": {
      "description": "Options customizing the time based transfer schedule. Options are migrated from the original ScheduleOptions message.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Specifies time to start scheduling transfer runs. The first run will be scheduled at or after the start time according to a recurrence pattern defined in the schedule string. The start time can be changed at any moment.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be scheduled at or after the end time. The end time can be changed at any moment.",
          "type": "string",
          "format": "google-datetime"
        },
        "schedule": {
          "description": "Data transfer schedule. If the data source does not support a custom schedule, this should be empty. If it is empty, the default value for the data source will be used. The specified times are in UTC. Examples of valid format: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`. See more explanation about the format here: https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format NOTE: The minimum interval time between recurring transfers depends on the data source; refer to the documentation for your data source.",
          "type": "string"
        }
      },
      "id": "TimeBasedSchedule"
    },
    "TransferConfig": {
      "id": "TransferConfig",
      "description": "Represents a data transfer configuration. A transfer configuration contains all metadata needed to perform a data transfer. For example, `destination_dataset_id` specifies where data should be stored. When a new transfer configuration is created, the specified `destination_dataset_id` is created when needed and shared with the appropriate data source service account.",
      "type": "object",
      "properties": {
        "scheduleOptionsV2": {
          "description": "Options customizing different types of data transfer schedule. This field replaces \"schedule\" and \"schedule_options\" fields. ScheduleOptionsV2 cannot be used together with ScheduleOptions/Schedule.",
          "$ref": "ScheduleOptionsV2"
        },
        "displayName": {
          "description": "User specified display name for the data transfer.",
          "type": "string"
        },
        "notificationPubsubTopic": {
          "description": "Pub/Sub topic where notifications will be sent after transfer runs associated with this transfer config finish. The format for specifying a pubsub topic is: `projects/{project_id}/topics/{topic_id}`",
          "type": "string"
        },
        "schedule": {
          "description": "Data transfer schedule. If the data source does not support a custom schedule, this should be empty. If it is empty, the default value for the data source will be used. The specified times are in UTC. Examples of valid format: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`. See more explanation about the format here: https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format NOTE: The minimum interval time between recurring transfers depends on the data source; refer to the documentation for your data source.",
          "type": "string"
        },
        "disabled": {
          "description": "Is this config disabled. When set to true, no runs will be scheduled for this transfer config.",
          "type": "boolean"
        },
        "datasetRegion": {
          "description": "Output only. Region in which BigQuery dataset is located.",
          "type": "string",
          "readOnly": true
        },
        "nextRunTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Next time when data transfer will run.",
          "type": "string"
        },
        "dataRefreshWindowDays": {
          "description": "The number of days to look back to automatically refresh the data. For example, if `data_refresh_window_days = 10`, then every day BigQuery reingests data for [today-10, today-1], rather than ingesting data for just [today-1]. Only valid if the data source supports the feature. Set the value to 0 to use the default value.",
          "type": "integer",
          "format": "int32"
        },
        "scheduleOptions": {
          "description": "Options customizing the data transfer schedule.",
          "$ref": "ScheduleOptions"
        },
        "name": {
          "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config.",
          "type": "string"
        },
        "ownerInfo": {
          "description": "Output only. Information about the user whose credentials are used to transfer data. Populated only for `transferConfigs.get` requests. In case the user information is not available, this field will not be populated.",
          "readOnly": true,
          "$ref": "UserInfo"
        },
        "destinationDatasetId": {
          "description": "The BigQuery target dataset id.",
          "type": "string"
        },
        "encryptionConfiguration": {
          "description": "The encryption configuration part. Currently, it is only used for the optional KMS key name. The BigQuery service account of your project must be granted permissions to use the key. Read methods will return the key name applied in effect. Write methods will apply the key if it is present, or otherwise try to apply project default keys if it is absent.",
          "$ref": "EncryptionConfiguration"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Data transfer modification time. Ignored by server on input.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Error code with detailed information about reason of the latest config failure.",
          "readOnly": true
        },
        "params": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq",
          "type": "object"
        },
        "metadataDestination": {
          "description": "The metadata destination of the transfer config.",
          "$ref": "MetadataDestination"
        },
        "emailPreferences": {
          "description": "Email notifications will be sent according to these preferences to the email address of the user who owns this transfer config.",
          "$ref": "EmailPreferences"
        },
        "dataSourceId": {
          "description": "Data source ID. This cannot be changed once data transfer is created. The full list of available data source IDs can be returned through an API call: https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.dataSources/list",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the most recently updated transfer run.",
          "type": "string",
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ]
        },
        "userId": {
          "format": "int64",
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
          "type": "string"
        },
        "managedTableType": {
          "description": "The classification of the destination table.",
          "type": "string",
          "enum": [
            "MANAGED_TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "BIGLAKE"
          ],
          "enumDescriptions": [
            "Type unspecified. This defaults to `NATIVE` table.",
            "The managed table is a native BigQuery table. This is the default value.",
            "The managed table is a BigQuery table for Apache Iceberg (formerly BigLake managed tables), with a BigLake configuration."
          ]
        }
      }
    },
    "EncryptionConfiguration": {
      "description": "Represents the encryption configuration for a transfer.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "The name of the KMS key used for encrypting BigQuery data.",
          "type": "string"
        }
      },
      "id": "EncryptionConfiguration"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "dataSources": {
          "methods": {
            "list": {
              "description": "Lists supported data sources and returns their settings.",
              "path": "v1/{+parent}/dataSources",
              "id": "bigquerydatatransfer.projects.dataSources.list",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListDataSourcesResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/dataSources"
            },
            "get": {
              "description": "Retrieves a supported data source and returns its settings.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "bigquerydatatransfer.projects.dataSources.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "DataSource"
              },
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}"
            },
            "checkValidCreds": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the data source. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CheckValidCredsResponse"
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}:checkValidCreds",
              "description": "Returns true if valid credentials exist for the given data source and requesting user.",
              "request": {
                "$ref": "CheckValidCredsRequest"
              },
              "path": "v1/{+name}:checkValidCreds",
              "id": "bigquerydatatransfer.projects.dataSources.checkValidCreds",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          }
        },
        "transferConfigs": {
          "resources": {
            "runs": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.delete",
                  "path": "v1/{+name}",
                  "description": "Deletes the specified transfer run.",
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "description": "Returns information about running and completed transfer runs.",
                  "path": "v1/{+parent}/runs",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "states": {
                      "description": "When specified, only transfer runs with requested states are returned.",
                      "type": "string",
                      "enum": [
                        "TRANSFER_STATE_UNSPECIFIED",
                        "PENDING",
                        "RUNNING",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELLED"
                      ],
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "State placeholder (0).",
                        "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
                        "Data transfer is in progress (3).",
                        "Data transfer completed successfully (4).",
                        "Data transfer failed (5).",
                        "Data transfer is cancelled (6)."
                      ]
                    },
                    "runAttempt": {
                      "location": "query",
                      "enumDescriptions": [
                        "All runs should be returned.",
                        "Only latest run per day should be returned."
                      ],
                      "description": "Indicates how run attempts are to be pulled.",
                      "type": "string",
                      "enum": [
                        "RUN_ATTEMPT_UNSPECIFIED",
                        "LATEST"
                      ]
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Pagination token, which can be used to request a specific page of `ListTransferRunsRequest` list results. For multiple-page results, `ListTransferRunsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. Name of transfer configuration for which transfer runs should be retrieved. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListTransferRunsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "TransferRun"
                  },
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                  "description": "Returns information about the particular transfer run.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.get"
                }
              },
              "resources": {
                "transferLogs": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                      "parameters": {
                        "messageTypes": {
                          "description": "Message types to return. If not populated - INFO, WARNING and ERROR messages are returned.",
                          "type": "string",
                          "enum": [
                            "MESSAGE_SEVERITY_UNSPECIFIED",
                            "INFO",
                            "WARNING",
                            "ERROR"
                          ],
                          "location": "query",
                          "repeated": true,
                          "enumDescriptions": [
                            "No severity specified.",
                            "Informational message.",
                            "Warning message.",
                            "Error message."
                          ]
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. Transfer run name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Pagination token, which can be used to request a specific page of `ListTransferLogsRequest` list results. For multiple-page results, `ListTransferLogsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Page size. The default page size is the maximum value of 1000 results.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListTransferLogsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/transferLogs",
                      "description": "Returns log messages for the transfer run.",
                      "id": "bigquerydatatransfer.projects.transferConfigs.runs.transferLogs.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    }
                  }
                }
              }
            },
            "transferResources": {
              "methods": {
                "list": {
                  "description": "Returns information about transfer resources.",
                  "path": "v1/{+parent}/transferResources",
                  "id": "bigquerydatatransfer.projects.transferConfigs.transferResources.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of transfer configuration for which transfer resources should be retrieved. The name should be in one of the following forms: * `projects/{project}/transferConfigs/{transfer_config}` * `projects/{project}/locations/{location_id}/transferConfigs/{transfer_config}`",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of transfer resources to return. The maximum value is 1000; values above 1000 will be coerced to 1000. The default page size is the maximum value of 1000 results.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListTransferResources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTransferResources` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter for the transfer resources. Currently supported filters include: * Resource name: `name` - Wildcard supported * Resource type: `type` * Resource destination: `destination` * Latest resource state: `latest_status_detail.state` * Last update time: `update_time` - RFC-3339 format * Parent table name: `hierarchy_detail.partition_detail.table` Multiple filters can be applied using the `AND/OR` operator. Examples: * `name=\"*123\" AND (type=\"TABLE\" OR latest_status_detail.state=\"SUCCEEDED\")` * `update_time >= \"2012-04-21T11:30:00-04:00\"` * `hierarchy_detail.partition_detail.table = \"table1\"`",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListTransferResourcesResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/transferResources"
                },
                "get": {
                  "description": "Returns a transfer resource.",
                  "path": "v1/{+name}",
                  "id": "bigquerydatatransfer.projects.transferConfigs.transferResources.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the transfer resource in the form of: * `projects/{project}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}` * `projects/{project}/locations/{location}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}`",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/transferResources/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "TransferResource"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/transferResources/{transferResourcesId}"
                }
              }
            }
          },
          "methods": {
            "create": {
              "request": {
                "$ref": "TransferConfig"
              },
              "path": "v1/{+parent}/transferConfigs",
              "description": "Creates a new data transfer configuration.",
              "id": "bigquerydatatransfer.projects.transferConfigs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "parameters": {
                "authorizationCode": {
                  "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                  "type": "string",
                  "location": "query",
                  "deprecated": true
                },
                "serviceAccountName": {
                  "location": "query",
                  "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                  "type": "string"
                },
                "versionInfo": {
                  "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The BigQuery project id where the transfer configuration should be created. Must be in the format projects/{project_id}/locations/{location_id} or projects/{project_id}. If specified location and location of the destination bigquery dataset do not match - the request will fail.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "TransferConfig"
              },
              "httpMethod": "POST"
            },
            "startManualRuns": {
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:startManualRuns",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "StartManualTransferRunsResponse"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "StartManualTransferRunsRequest"
              },
              "path": "v1/{+parent}:startManualRuns",
              "description": "Manually initiates transfer runs. You can schedule these runs in two ways: 1. For a specific point in time using the 'requested_run_time' parameter. 2. For a period between 'start_time' (inclusive) and 'end_time' (exclusive). If scheduling a single run, it is set to execute immediately (schedule_time equals the current time). When scheduling multiple runs within a time range, the first run starts now, and subsequent runs are delayed by 15 seconds each.",
              "id": "bigquerydatatransfer.projects.transferConfigs.startManualRuns",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "TransferConfig"
              },
              "path": "v1/{+name}",
              "description": "Returns information about a data transfer config.",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "bigquerydatatransfer.projects.transferConfigs.get"
            },
            "scheduleRuns": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ScheduleTransferRunsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "bigquerydatatransfer.projects.transferConfigs.scheduleRuns",
              "description": "Creates transfer runs for a time range [start_time, end_time]. For each date - or whatever granularity the data source supports - in the range, one transfer run is created. Note that runs are created per UTC time in the time range. DEPRECATED: use StartManualTransferRuns instead.",
              "path": "v1/{+parent}:scheduleRuns",
              "request": {
                "$ref": "ScheduleTransferRunsRequest"
              },
              "deprecated": true
            },
            "patch": {
              "parameters": {
                "versionInfo": {
                  "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config.",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. Required list of fields to be updated in this request.",
                  "type": "string"
                },
                "serviceAccountName": {
                  "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                  "type": "string",
                  "location": "query"
                },
                "authorizationCode": {
                  "deprecated": true,
                  "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "TransferConfig"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "id": "bigquerydatatransfer.projects.transferConfigs.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a data transfer configuration. All fields must be set, even if they are not updated.",
              "request": {
                "$ref": "TransferConfig"
              },
              "path": "v1/{+name}"
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The name of the resource to delete. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "description": "Deletes a data transfer configuration, including any associated transfer runs and logs.",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "bigquerydatatransfer.projects.transferConfigs.delete"
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "parameters": {
                "dataSourceIds": {
                  "description": "When specified, only configurations of requested data sources are returned.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "parent": {
                  "description": "Required. The BigQuery project id for which transfer configs should be returned. If you are using the regionless method, the location must be `US` and `parent` should be in the following form: * `projects/{project_id} If you are using the regionalized method, `parent` should be in the following form: * `projects/{project_id}/locations/{location_id}`",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Pagination token, which can be used to request a specific page of `ListTransfersRequest` list results. For multiple-page results, `ListTransfersResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListTransferConfigsResponse"
              },
              "httpMethod": "GET",
              "id": "bigquerydatatransfer.projects.transferConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/{+parent}/transferConfigs",
              "description": "Returns information about all transfer configs owned by a project in the specified location."
            }
          }
        },
        "locations": {
          "resources": {
            "dataSources": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "bigquerydatatransfer.projects.locations.dataSources.list",
                  "path": "v1/{+parent}/dataSources",
                  "description": "Lists supported data sources and returns their settings.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDataSourcesResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "DataSource"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}",
                  "id": "bigquerydatatransfer.projects.locations.dataSources.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Retrieves a supported data source and returns its settings.",
                  "path": "v1/{+name}"
                },
                "checkValidCreds": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the data source. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CheckValidCredsResponse"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}:checkValidCreds",
                  "description": "Returns true if valid credentials exist for the given data source and requesting user.",
                  "request": {
                    "$ref": "CheckValidCredsRequest"
                  },
                  "path": "v1/{+name}:checkValidCreds",
                  "id": "bigquerydatatransfer.projects.locations.dataSources.checkValidCreds",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                }
              }
            },
            "transferConfigs": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
[...]
