{
  "revision": "20260616",
  "ownerDomain": "google.com",
  "id": "bigquerydatatransfer:v1",
  "canonicalName": "BigQuery Data Transfer",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "version": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://bigquerydatatransfer.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "documentationLink": "https://cloud.google.com/bigquery-transfer/",
  "baseUrl": "https://bigquerydatatransfer.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "version_module": true,
  "basePath": "",
  "servicePath": "",
  "mtlsRootUrl": "https://bigquerydatatransfer.mtls.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "TimeRange": {
      "description": "A specification for a time range, this will request transfer runs with run_time between start_time (inclusive) and end_time (exclusive).",
      "id": "TimeRange",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start time of the range of transfer runs. For example, `\"2017-05-25T00:00:00+00:00\"`. The start_time must be strictly less than the end_time. Creates transfer runs where run_time is in the range between start_time (inclusive) and end_time (exclusive)."
        },
        "endTime": {
          "description": "End time of the range of transfer runs. For example, `\"2017-05-30T00:00:00+00:00\"`. The end_time must not be in the future. Creates transfer runs where run_time is in the range between start_time (inclusive) and end_time (exclusive).",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ListDataSourcesResponse": {
      "id": "ListDataSourcesResponse",
      "type": "object",
      "properties": {
        "dataSources": {
          "type": "array",
          "items": {
            "$ref": "DataSource"
          },
          "description": "List of supported data sources and their transfer settings."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListDataSourcesRequest.page_token` to request the next page of list results.",
          "readOnly": true
        }
      },
      "description": "Returns list of supported data sources and their metadata."
    },
    "StartManualTransferRunsRequest": {
      "id": "StartManualTransferRunsRequest",
      "type": "object",
      "properties": {
        "requestedTimeRange": {
          "description": "A time_range start and end timestamp for historical data files or reports that are scheduled to be transferred by the scheduled transfer run. requested_time_range must be a past time and cannot include future time values.",
          "$ref": "TimeRange"
        },
        "requestedRunTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "A run_time timestamp for historical data files or reports that are scheduled to be transferred by the scheduled transfer run. requested_run_time must be a past time and cannot include future time values."
        }
      },
      "description": "A request to start manual transfer runs."
    },
    "TableDetail": {
      "id": "TableDetail",
      "type": "object",
      "properties": {
        "partitionCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Total number of partitions being tracked within the table."
        }
      },
      "description": "Table details related to hierarchy."
    },
    "ScheduleOptions": {
      "description": "Options customizing the data transfer schedule.",
      "id": "ScheduleOptions",
      "type": "object",
      "properties": {
        "disableAutoScheduling": {
          "description": "If true, automatic scheduling of data transfer runs for this configuration will be disabled. The runs can be started on ad-hoc basis using StartManualTransferRuns API. When automatic scheduling is disabled, the TransferConfig.schedule field will be ignored.",
          "type": "boolean"
        },
        "endTime": {
          "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be scheduled at or after the end time. The end time can be changed at any moment. The time when a data transfer can be triggered manually is not limited by this option.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Specifies time to start scheduling transfer runs. The first run will be scheduled at or after the start time according to a recurrence pattern defined in the schedule string. The start time can be changed at any moment. The time when a data transfer can be triggered manually is not limited by this option.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListTransferResourcesResponse": {
      "id": "ListTransferResourcesResponse",
      "type": "object",
      "properties": {
        "transferResources": {
          "items": {
            "$ref": "TransferResource"
          },
          "description": "Output only. The transfer resources.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "description": "Response for the `ListTransferResources` RPC."
    },
    "ScheduleTransferRunsRequest": {
      "description": "A request to schedule transfer runs for a time range.",
      "id": "ScheduleTransferRunsRequest",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Start time of the range of transfer runs. For example, `\"2017-05-25T00:00:00+00:00\"`."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. End time of the range of transfer runs. For example, `\"2017-05-30T00:00:00+00:00\"`."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "CheckValidCredsRequest": {
      "description": "A request to determine whether the user has valid credentials. This method is used to limit the number of OAuth popups in the user interface. The user id is inferred from the API call context. If the data source has the Google+ authorization type, this method returns false, as it cannot be determined whether the credentials are already valid merely based on the user id.",
      "id": "CheckValidCredsRequest",
      "type": "object",
      "properties": {}
    },
    "EnrollDataSourcesRequest": {
      "description": "A request to enroll a set of data sources so they are visible in the BigQuery UI's `Transfer` tab.",
      "id": "EnrollDataSourcesRequest",
      "type": "object",
      "properties": {
        "dataSourceIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Data sources that are enrolled. It is required to provide at least one data source id."
        }
      }
    },
    "EventDrivenSchedule": {
      "description": "Options customizing EventDriven transfers schedule.",
      "id": "EventDrivenSchedule",
      "type": "object",
      "properties": {
        "pubsubSubscription": {
          "description": "Pub/Sub subscription name used to receive events. Only Google Cloud Storage data source support this option. Format: projects/{project}/subscriptions/{subscription}",
          "type": "string"
        }
      }
    },
    "DataplexConfiguration": {
      "description": "Configuration for Dataplex destination.",
      "id": "DataplexConfiguration",
      "type": "object",
      "properties": {
        "entryGroup": {
          "description": "Required. The Dataplex Universal Catalog entry group for importing the metadata. entry_group has the format of `projects/{project_id}/locations/{region}/entryGroups/{entry_group_id}`.",
          "type": "string"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      }
    },
    "ListTransferLogsResponse": {
      "description": "The returned list transfer run messages.",
      "id": "ListTransferLogsResponse",
      "type": "object",
      "properties": {
        "transferMessages": {
          "type": "array",
          "items": {
            "$ref": "TransferMessage"
          },
          "description": "Output only. The stored pipeline transfer messages.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `GetTransferRunLogRequest.page_token` to request the next page of list results.",
          "readOnly": true
        }
      }
    },
    "TimeBasedSchedule": {
      "id": "TimeBasedSchedule",
      "type": "object",
      "properties": {
        "schedule": {
          "description": "Data transfer schedule. If the data source does not support a custom schedule, this should be empty. If it is empty, the default value for the data source will be used. The specified times are in UTC. Examples of valid format: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`. See more explanation about the format here: https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format NOTE: The minimum interval time between recurring transfers depends on the data source; refer to the documentation for your data source.",
          "type": "string"
        },
        "startTime": {
          "description": "Specifies time to start scheduling transfer runs. The first run will be scheduled at or after the start time according to a recurrence pattern defined in the schedule string. The start time can be changed at any moment.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be scheduled at or after the end time. The end time can be changed at any moment."
        }
      },
      "description": "Options customizing the time based transfer schedule. Options are migrated from the original ScheduleOptions message."
    },
    "ManualSchedule": {
      "description": "Options customizing manual transfers schedule.",
      "id": "ManualSchedule",
      "type": "object",
      "properties": {}
    },
    "DataSourceParameter": {
      "id": "DataSourceParameter",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Parameter display name in the user interface.",
          "type": "string"
        },
        "description": {
          "description": "Parameter description.",
          "type": "string"
        },
        "deprecated": {
          "description": "If true, it should not be used in new transfers, and it should not be visible to users.",
          "type": "boolean"
        },
        "maxListSize": {
          "type": "string",
          "format": "int64",
          "description": "For list parameters, the max size of the list."
        },
        "minValue": {
          "type": "number",
          "format": "double",
          "description": "For integer and double values specifies minimum allowed value."
        },
        "repeated": {
          "description": "Deprecated. This field has no effect.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "Parameter type.",
          "enumDescriptions": [
            "Type unspecified.",
            "String parameter.",
            "Integer parameter (64-bits). Will be serialized to json as string.",
            "Double precision floating point parameter.",
            "Boolean parameter.",
            "Deprecated. This field has no effect.",
            "Page ID for a Google+ Page.",
            "List of strings parameter."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "DOUBLE",
            "BOOLEAN",
            "RECORD",
            "PLUS_PAGE",
            "LIST"
          ]
        },
        "allowedValues": {
          "description": "All possible values for the parameter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maxValue": {
          "type": "number",
          "format": "double",
          "description": "For integer and double values specifies maximum allowed value."
        },
        "validationHelpUrl": {
          "description": "URL to a help document to further explain the naming requirements.",
          "type": "string"
        },
        "immutable": {
          "description": "Cannot be changed after initial creation.",
          "type": "boolean"
        },
        "fields": {
          "items": {
            "$ref": "DataSourceParameter"
          },
          "description": "Deprecated. This field has no effect.",
          "type": "array"
        },
        "paramId": {
          "description": "Parameter identifier.",
          "type": "string"
        },
        "validationDescription": {
          "description": "Description of the requirements for this field, in case the user input does not fulfill the regex pattern or min/max values.",
          "type": "string"
        },
        "required": {
          "description": "Is parameter required.",
          "type": "boolean"
        },
        "validationRegex": {
          "description": "Regular expression which can be used for parameter validation.",
          "type": "string"
        },
        "recurse": {
          "description": "Deprecated. This field has no effect.",
          "type": "boolean"
        }
      },
      "description": "A parameter used to define custom fields in a data source definition."
    },
    "ScheduleOptionsV2": {
      "id": "ScheduleOptionsV2",
      "type": "object",
      "properties": {
        "manualSchedule": {
          "description": "Manual transfer schedule. If set, the transfer run will not be auto-scheduled by the system, unless the client invokes StartManualTransferRuns. This is equivalent to disable_auto_scheduling = true.",
          "$ref": "ManualSchedule"
        },
        "eventDrivenSchedule": {
          "$ref": "EventDrivenSchedule",
          "description": "Event driven transfer schedule options. If set, the transfer will be scheduled upon events arrial."
        },
        "timeBasedSchedule": {
          "$ref": "TimeBasedSchedule",
          "description": "Time based transfer schedule options. This is the default schedule option."
        }
      },
      "description": "V2 options customizing different types of data transfer schedule. This field supports existing time-based and manual transfer schedule. Also supports Event-Driven transfer schedule. ScheduleOptionsV2 cannot be used together with ScheduleOptions/Schedule."
    },
    "TransferConfig": {
      "description": "Represents a data transfer configuration. A transfer configuration contains all metadata needed to perform a data transfer. For example, `destination_dataset_id` specifies where data should be stored. When a new transfer configuration is created, the specified `destination_dataset_id` is created when needed and shared with the appropriate data source service account.",
      "id": "TransferConfig",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Data transfer modification time. Ignored by server on input.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "destinationDatasetId": {
          "description": "The BigQuery target dataset id.",
          "type": "string"
        },
        "metadataDestination": {
          "$ref": "MetadataDestination",
          "description": "The metadata destination of the transfer config."
        },
        "encryptionConfiguration": {
          "$ref": "EncryptionConfiguration",
          "description": "The encryption configuration part. Currently, it is only used for the optional KMS key name. The BigQuery service account of your project must be granted permissions to use the key. Read methods will return the key name applied in effect. Write methods will apply the key if it is present, or otherwise try to apply project default keys if it is absent."
        },
        "schedule": {
          "description": "Data transfer schedule. If the data source does not support a custom schedule, this should be empty. If it is empty, the default value for the data source will be used. The specified times are in UTC. Examples of valid format: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`. See more explanation about the format here: https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format NOTE: The minimum interval time between recurring transfers depends on the data source; refer to the documentation for your data source.",
          "type": "string"
        },
        "datasetRegion": {
          "description": "Output only. Region in which BigQuery dataset is located.",
          "readOnly": true,
          "type": "string"
        },
        "ownerInfo": {
          "$ref": "UserInfo",
          "description": "Output only. Information about the user whose credentials are used to transfer data. Populated only for `transferConfigs.get` requests. In case the user information is not available, this field will not be populated.",
          "readOnly": true
        },
        "disabled": {
          "description": "Is this config disabled. When set to true, no runs will be scheduled for this transfer config.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config.",
          "type": "string"
        },
        "dataRefreshWindowDays": {
          "format": "int32",
          "type": "integer",
          "description": "The number of days to look back to automatically refresh the data. For example, if `data_refresh_window_days = 10`, then every day BigQuery reingests data for [today-10, today-1], rather than ingesting data for just [today-1]. Only valid if the data source supports the feature. Set the value to 0 to use the default value."
        },
        "params": {
          "type": "object",
          "description": "Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "error": {
          "description": "Output only. Error code with detailed information about reason of the latest config failure.",
          "readOnly": true,
          "$ref": "Status"
        },
        "displayName": {
          "description": "User specified display name for the data transfer.",
          "type": "string"
        },
        "notificationPubsubTopic": {
          "description": "Pub/Sub topic where notifications will be sent after transfer runs associated with this transfer config finish. The format for specifying a pubsub topic is: `projects/{project_id}/topics/{topic_id}`",
          "type": "string"
        },
        "scheduleOptions": {
          "$ref": "ScheduleOptions",
          "description": "Options customizing the data transfer schedule."
        },
        "userId": {
          "type": "string",
          "format": "int64",
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done."
        },
        "emailPreferences": {
          "description": "Email notifications will be sent according to these preferences to the email address of the user who owns this transfer config.",
          "$ref": "EmailPreferences"
        },
        "dataSourceId": {
          "description": "Data source ID. This cannot be changed once data transfer is created. The full list of available data source IDs can be returned through an API call: https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.dataSources/list",
          "type": "string"
        },
        "state": {
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ],
          "description": "Output only. State of the most recently updated transfer run.",
          "readOnly": true,
          "type": "string"
        },
        "scheduleOptionsV2": {
          "$ref": "ScheduleOptionsV2",
          "description": "Options customizing different types of data transfer schedule. This field replaces \"schedule\" and \"schedule_options\" fields. ScheduleOptionsV2 cannot be used together with ScheduleOptions/Schedule."
        },
        "nextRunTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Next time when data transfer will run.",
          "readOnly": true
        },
        "managedTableType": {
          "type": "string",
          "description": "The classification of the destination table.",
          "enumDescriptions": [
            "Type unspecified. This defaults to `NATIVE` table.",
            "The managed table is a native BigQuery table. This is the default value.",
            "The managed table is a BigQuery table for Apache Iceberg (formerly BigLake managed tables), with a BigLake configuration."
          ],
          "enum": [
            "MANAGED_TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "BIGLAKE"
          ]
        }
      }
    },
    "UnenrollDataSourcesRequest": {
      "id": "UnenrollDataSourcesRequest",
      "type": "object",
      "properties": {
        "dataSourceIds": {
          "type": "array",
          "description": "Data sources that are unenrolled. It is required to provide at least one data source id.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A request to unenroll a set of data sources so they are no longer visible in the BigQuery UI's `Transfer` tab."
    },
    "PartitionDetail": {
      "id": "PartitionDetail",
      "type": "object",
      "properties": {
        "table": {
          "description": "Optional. Name of the table which has the partitions.",
          "type": "string"
        }
      },
      "description": "Partition details related to hierarchy."
    },
    "MetadataDestination": {
      "id": "MetadataDestination",
      "type": "object",
      "properties": {
        "dataplexConfiguration": {
          "$ref": "DataplexConfiguration",
          "description": "The Dataplex Universal Catalog configuration."
        }
      },
      "description": "The metadata destination of the transfer config."
    },
    "ScheduleTransferRunsResponse": {
      "id": "ScheduleTransferRunsResponse",
      "type": "object",
      "properties": {
        "runs": {
          "type": "array",
          "description": "The transfer runs that were scheduled.",
          "items": {
            "$ref": "TransferRun"
          }
        }
      },
      "description": "A response to schedule transfer runs for a time range."
    },
    "UserInfo": {
      "description": "Information about a user.",
      "id": "UserInfo",
      "type": "object",
      "properties": {
        "email": {
          "description": "E-mail address of the user.",
          "type": "string"
        }
      }
    },
    "CheckValidCredsResponse": {
      "description": "A response indicating whether the credentials exist and are valid.",
      "id": "CheckValidCredsResponse",
      "type": "object",
      "properties": {
        "hasValidCreds": {
          "description": "If set to `true`, the credentials exist and are valid.",
          "type": "boolean"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "TransferResourceStatusDetail": {
      "id": "TransferResourceStatusDetail",
      "type": "object",
      "properties": {
        "error": {
          "description": "Optional. Transfer error details for the resource.",
          "$ref": "Status"
        },
        "state": {
          "enum": [
            "RESOURCE_TRANSFER_STATE_UNSPECIFIED",
            "RESOURCE_TRANSFER_PENDING",
            "RESOURCE_TRANSFER_RUNNING",
            "RESOURCE_TRANSFER_SUCCEEDED",
            "RESOURCE_TRANSFER_FAILED",
            "RESOURCE_TRANSFER_CANCELLED"
          ],
          "description": "Optional. Transfer state of the resource.",
          "enumDescriptions": [
            "Default value.",
            "Resource is waiting to be transferred.",
            "Resource transfer is running.",
            "Resource transfer is a success.",
            "Resource transfer failed.",
            "Resource transfer was cancelled."
          ],
          "type": "string"
        },
        "summary": {
          "$ref": "TransferStatusSummary",
          "description": "Optional. Transfer status summary of the resource."
        },
        "completedPercentage": {
          "format": "double",
          "type": "number",
          "description": "Output only. Percentage of the transfer completed. Valid values: 0-100.",
          "readOnly": true
        }
      },
      "description": "Status details of the resource being transferred."
    },
    "TransferStatusSummary": {
      "id": "TransferStatusSummary",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "Optional. List of transfer status metrics.",
          "items": {
            "$ref": "TransferStatusMetric"
          },
          "type": "array"
        },
        "progressUnit": {
          "description": "Input only. Unit based on which transfer status progress should be calculated.",
          "enumDescriptions": [
            "Default value.",
            "Bytes.",
            "Objects."
          ],
          "enum": [
            "TRANSFER_STATUS_UNIT_UNSPECIFIED",
            "TRANSFER_STATUS_UNIT_BYTES",
            "TRANSFER_STATUS_UNIT_OBJECTS"
          ],
          "type": "string"
        }
      },
      "description": "Status summary of the resource being transferred."
    },
    "TransferResource": {
      "id": "TransferResource",
      "type": "object",
      "properties": {
        "latestRun": {
          "description": "Optional. Run details for the latest run.",
          "$ref": "TransferRunBrief"
        },
        "lastSuccessfulRun": {
          "$ref": "TransferRunBrief",
          "description": "Output only. Run details for the last successful run.",
          "readOnly": true
        },
        "destination": {
          "enum": [
            "RESOURCE_DESTINATION_UNSPECIFIED",
            "RESOURCE_DESTINATION_BIGQUERY",
            "RESOURCE_DESTINATION_DATAPROC_METASTORE",
            "RESOURCE_DESTINATION_BIGLAKE_METASTORE",
            "RESOURCE_DESTINATION_BIGLAKE_REST_CATALOG",
            "RESOURCE_DESTINATION_BIGLAKE_HIVE_CATALOG"
          ],
          "description": "Optional. Resource destination.",
          "enumDescriptions": [
            "Default value.",
            "BigQuery.",
            "Dataproc Metastore.",
            "BigLake Metastore.",
            "BigLake REST Catalog.",
            "BigLake Hive Catalog."
          ],
          "type": "string"
        },
        "hierarchyDetail": {
          "description": "Optional. Details about the hierarchy.",
          "$ref": "HierarchyDetail"
        },
        "name": {
          "description": "Identifier. Resource name.",
          "type": "string"
        },
        "type": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_TABLE",
            "RESOURCE_TYPE_PARTITION"
          ],
          "description": "Optional. Resource type.",
          "enumDescriptions": [
            "Default value.",
            "Table resource type.",
            "Partition resource type."
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when the resource was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "latestStatusDetail": {
          "$ref": "TransferResourceStatusDetail",
          "description": "Optional. Status details for the latest run."
        }
      },
      "description": "Resource (table/partition) that is being transferred."
    },
    "EmailPreferences": {
      "id": "EmailPreferences",
      "type": "object",
      "properties": {
        "enableFailureEmail": {
          "description": "If true, email notifications will be sent on transfer run failures.",
          "type": "boolean"
        }
      },
      "description": "Represents preferences for sending email notifications for transfer run events."
    },
    "ListTransferRunsResponse": {
      "id": "ListTransferRunsResponse",
      "type": "object",
      "properties": {
        "transferRuns": {
          "type": "array",
          "description": "Output only. The stored pipeline transfer runs.",
          "readOnly": true,
          "items": {
            "$ref": "TransferRun"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferRunsRequest.page_token` to request the next page of list results.",
          "readOnly": true
        }
      },
      "description": "The returned list of pipelines in the project."
    },
    "TransferStatusMetric": {
      "description": "Metrics for tracking the transfer status.",
      "id": "TransferStatusMetric",
      "type": "object",
      "properties": {
        "failed": {
          "description": "Optional. Number of units that failed to transfer.",
          "format": "int64",
          "type": "string"
        },
        "total": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Total number of units for the transfer."
        },
        "unit": {
          "type": "string",
          "description": "Optional. Unit for measuring progress (e.g., BYTES).",
          "enumDescriptions": [
            "Default value.",
            "Bytes.",
            "Objects."
          ],
          "enum": [
            "TRANSFER_STATUS_UNIT_UNSPECIFIED",
            "TRANSFER_STATUS_UNIT_BYTES",
            "TRANSFER_STATUS_UNIT_OBJECTS"
          ]
        },
        "completed": {
          "description": "Optional. Number of units transferred successfully.",
          "type": "string",
          "format": "int64"
        },
        "pending": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Number of units pending transfer."
        }
      }
    },
    "HierarchyDetail": {
      "id": "HierarchyDetail",
      "type": "object",
      "properties": {
        "tableDetail": {
          "$ref": "TableDetail",
          "description": "Optional. Table details related to hierarchy."
        },
        "partitionDetail": {
          "$ref": "PartitionDetail",
          "description": "Optional. Partition details related to hierarchy."
        }
      },
      "description": "Details about the hierarchy."
    },
    "TransferMessage": {
      "description": "Represents a user facing message for a particular data transfer run.",
      "id": "TransferMessage",
      "type": "object",
      "properties": {
        "messageTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when message was logged."
        },
        "severity": {
          "description": "Message severity.",
          "enumDescriptions": [
            "No severity specified.",
            "Informational message.",
            "Warning message.",
            "Error message."
          ],
          "enum": [
            "MESSAGE_SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "type": "string"
        },
        "messageText": {
          "description": "Message text.",
          "type": "string"
        }
      }
    },
    "DataSource": {
      "id": "DataSource",
      "type": "object",
      "properties": {
        "authorizationType": {
          "type": "string",
          "enum": [
            "AUTHORIZATION_TYPE_UNSPECIFIED",
            "AUTHORIZATION_CODE",
            "GOOGLE_PLUS_AUTHORIZATION_CODE",
            "FIRST_PARTY_OAUTH"
          ],
          "description": "Indicates the type of authorization.",
          "enumDescriptions": [
            "Type unspecified.",
            "Use OAuth 2 authorization codes that can be exchanged for a refresh token on the backend.",
            "Return an authorization code for a given Google+ page that can then be exchanged for a refresh token on the backend.",
            "Use First Party OAuth."
          ]
        },
        "clientId": {
          "description": "Data source client id which should be used to receive refresh token.",
          "type": "string"
        },
        "transferType": {
          "deprecated": true,
          "enumDescriptions": [
            "Invalid or Unknown transfer type placeholder.",
            "Batch data transfer.",
            "Streaming data transfer. Streaming data source currently doesn't support multiple transfer configs per project."
          ],
          "enum": [
            "TRANSFER_TYPE_UNSPECIFIED",
            "BATCH",
            "STREAMING"
          ],
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "defaultSchedule": {
          "description": "Default data transfer schedule. Examples of valid schedules include: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`.",
          "type": "string"
        },
        "helpUrl": {
          "description": "Url for the help document for this data source.",
          "type": "string"
        },
        "dataSourceId": {
          "description": "Data source id.",
          "type": "string"
        },
        "updateDeadlineSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "The number of seconds to wait for an update from the data source before the Data Transfer Service marks the transfer as FAILED."
        },
        "parameters": {
          "type": "array",
          "description": "Data source parameters.",
          "items": {
            "$ref": "DataSourceParameter"
          }
        },
        "manualRunsDisabled": {
          "description": "Disables backfilling and manual run scheduling for the data source.",
          "type": "boolean"
        },
        "displayName": {
          "description": "User friendly data source name.",
          "type": "string"
        },
        "minimumScheduleInterval": {
          "description": "The minimum interval for scheduler to schedule runs.",
          "format": "google-duration",
          "type": "string"
        },
        "name": {
          "description": "Output only. Data source resource name.",
          "readOnly": true,
          "type": "string"
        },
        "supportsMultipleTransfers": {
          "description": "Deprecated. This field has no effect.",
          "deprecated": true,
          "type": "boolean"
        },
        "supportsCustomSchedule": {
          "description": "Specifies whether the data source supports a user defined schedule, or operates on the default schedule. When set to `true`, user can override default schedule.",
          "type": "boolean"
        },
        "defaultDataRefreshWindowDays": {
          "description": "Default data refresh window on days. Only meaningful when `data_refresh_type` = `SLIDING_WINDOW`.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "description": "User friendly data source description string.",
          "type": "string"
        },
        "scopes": {
          "description": "Api auth scopes for which refresh token needs to be obtained. These are scopes needed by a data source to prepare data and ingest them into BigQuery, e.g., https://www.googleapis.com/auth/bigquery",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataRefreshType": {
          "type": "string",
          "enum": [
            "DATA_REFRESH_TYPE_UNSPECIFIED",
            "SLIDING_WINDOW",
            "CUSTOM_SLIDING_WINDOW"
          ],
          "description": "Specifies whether the data source supports automatic data refresh for the past few days, and how it's supported. For some data sources, data might not be complete until a few days later, so it's useful to refresh data automatically.",
          "enumDescriptions": [
            "The data source won't support data auto refresh, which is default value.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Does not allow custom values to be set for each transfer config.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Allows custom values to be set for each transfer config."
          ]
        }
      },
      "description": "Defines the properties and custom parameters for a data source."
    },
    "TransferRun": {
      "description": "Represents a data transfer run.",
      "id": "TransferRun",
      "type": "object",
      "properties": {
        "errorStatus": {
          "description": "Status of the transfer run.",
          "$ref": "Status"
        },
        "dataSourceId": {
          "description": "Output only. Data source id.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Data transfer run state. Ignored for input requests.",
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ],
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Time when transfer run was started. Parameter ignored by server for input requests.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "userId": {
          "format": "int64",
          "type": "string",
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done."
        },
        "emailPreferences": {
          "description": "Output only. Email notifications will be sent according to these preferences to the email address of the user who owns the transfer config this run was derived from.",
          "readOnly": true,
          "$ref": "EmailPreferences"
        },
        "runTime": {
          "description": "For batch transfer runs, specifies the date and time of the data should be ingested.",
          "type": "string",
          "format": "google-datetime"
        },
        "notificationPubsubTopic": {
          "description": "Output only. Pub/Sub topic where a notification will be sent after this transfer run finishes. The format for specifying a pubsub topic is: `projects/{project_id}/topics/{topic_id}`",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the transfer run. Transfer run names have the form `projects/{project_id}/locations/{location}/transferConfigs/{config_id}/runs/{run_id}`. The name is ignored when creating a transfer run.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. Time when transfer run ended. Parameter ignored by server for input requests.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "params": {
          "description": "Output only. Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "scheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Minimum time after which a transfer run can be started."
        },
        "schedule": {
          "description": "Output only. Describes the schedule of this transfer run if it was created as part of a regular schedule. For batch transfer runs that are scheduled manually, this is empty. NOTE: the system might choose to delay the schedule depending on the current load, so `schedule_time` doesn't always match this.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last time the data transfer run state was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "destinationDatasetId": {
          "type": "string",
          "description": "Output only. The BigQuery target dataset id.",
          "readOnly": true
        },
        "metadataDestination": {
          "$ref": "MetadataDestination",
          "description": "Output only. The metadata destination of the transfer run.",
          "readOnly": true
        }
      }
    },
    "EncryptionConfiguration": {
      "id": "EncryptionConfiguration",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "The name of the KMS key used for encrypting BigQuery data.",
          "type": "string"
        }
      },
      "description": "Represents the encryption configuration for a transfer."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "ListTransferConfigsResponse": {
      "id": "ListTransferConfigsResponse",
      "type": "object",
      "properties": {
        "transferConfigs": {
          "type": "array",
          "items": {
            "$ref": "TransferConfig"
          },
          "description": "Output only. The stored pipeline transfer configurations.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferConfigsRequest.page_token` to request the next page of list results.",
          "readOnly": true
        }
      },
      "description": "The returned list of pipelines in the project."
    },
    "StartManualTransferRunsResponse": {
      "description": "A response to start manual transfer runs.",
      "id": "StartManualTransferRunsResponse",
      "type": "object",
      "properties": {
        "runs": {
          "items": {
            "$ref": "TransferRun"
          },
          "description": "The transfer runs that were created.",
          "type": "array"
        }
      }
    },
    "TransferRunBrief": {
      "description": "Basic information about a transfer run.",
      "id": "TransferRunBrief",
      "type": "object",
      "properties": {
        "run": {
          "description": "Optional. Run URI. The format must be: `projects/{project}/locations/{location}/transferConfigs/{transfer_config}/run/{run}`",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Start time of the transfer run."
        }
      }
    }
  },
  "rootUrl": "https://bigquerydatatransfer.googleapis.com/",
  "name": "bigquerydatatransfer",
  "description": "Schedule queries or transfer external data from SaaS applications to Google BigQuery on a regular basis.",
  "title": "BigQuery Data Transfer API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "methods": {
        "enrollDataSources": {
          "path": "v1/{+name}:enrollDataSources",
          "description": "Enroll data sources in a user project. This allows users to create transfer configurations for these data sources. They will also appear in the ListDataSources RPC and as such, will appear in the [BigQuery UI](https://console.cloud.google.com/bigquery), and the documents can be found in the public guide for [BigQuery Web UI](https://cloud.google.com/bigquery/bigquery-web-ui) and [Data Transfer Service](https://cloud.google.com/bigquery/docs/working-with-transfers).",
          "id": "bigquerydatatransfer.projects.enrollDataSources",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "EnrollDataSourcesRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/projects/{projectsId}:enrollDataSources",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the project resource in the form: `projects/{project_id}`",
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "dataSources": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/dataSources",
              "description": "Lists supported data sources and returns their settings.",
              "id": "bigquerydatatransfer.projects.dataSources.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListDataSourcesResponse"
              },
              "flatPath": "v1/projects/{projectsId}/dataSources",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "checkValidCreds": {
              "id": "bigquerydatatransfer.projects.dataSources.checkValidCreds",
              "httpMethod": "POST",
              "description": "Returns true if valid credentials exist for the given data source and requesting user.",
              "path": "v1/{+name}:checkValidCreds",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}:checkValidCreds",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the data source. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$"
                }
              },
              "response": {
                "$ref": "CheckValidCredsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CheckValidCredsRequest"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "description": "Retrieves a supported data source and returns its settings.",
              "id": "bigquerydatatransfer.projects.dataSources.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "DataSource"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                  "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          }
        },
        "transferConfigs": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "parameters": {
                "authorizationCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                  "deprecated": true
                },
                "updateMask": {
                  "description": "Required. Required list of fields to be updated in this request.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "versionInfo": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config."
                },
                "serviceAccountName": {
                  "location": "query",
                  "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$"
                }
              },
              "response": {
                "$ref": "TransferConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "TransferConfig"
              },
              "id": "bigquerydatatransfer.projects.transferConfigs.patch",
              "httpMethod": "PATCH",
              "description": "Updates a data transfer configuration. All fields must be set, even if they are not updated.",
              "path": "v1/{+name}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Pagination token, which can be used to request a specific page of `ListTransfersRequest` list results. For multiple-page results, `ListTransfersResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The BigQuery project id for which transfer configs should be returned. If you are using the regionless method, the location must be `US` and `parent` should be in the following form: * `projects/{project_id} If you are using the regionalized method, `parent` should be in the following form: * `projects/{project_id}/locations/{location_id}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "dataSourceIds": {
                  "description": "When specified, only configurations of requested data sources are returned.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListTransferConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "bigquerydatatransfer.projects.transferConfigs.list",
              "httpMethod": "GET",
              "description": "Returns information about all transfer configs owned by a project in the specified location.",
              "path": "v1/{+parent}/transferConfigs"
            },
            "get": {
              "description": "Returns information about a data transfer config.",
              "path": "v1/{+name}",
              "id": "bigquerydatatransfer.projects.transferConfigs.get",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "TransferConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "startManualRuns": {
              "id": "bigquerydatatransfer.projects.transferConfigs.startManualRuns",
              "httpMethod": "POST",
              "description": "Manually initiates transfer runs. You can schedule these runs in two ways: 1. For a specific point in time using the 'requested_run_time' parameter. 2. For a period between 'start_time' (inclusive) and 'end_time' (exclusive). If scheduling a single run, it is set to execute immediately (schedule_time equals the current time). When scheduling multiple runs within a time range, the first run starts now, and subsequent runs are delayed by 15 seconds each.",
              "path": "v1/{+parent}:startManualRuns",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:startManualRuns",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$"
                }
              },
              "response": {
                "$ref": "StartManualTransferRunsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "StartManualTransferRunsRequest"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the resource to delete. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Deletes a data transfer configuration, including any associated transfer runs and logs.",
              "id": "bigquerydatatransfer.projects.transferConfigs.delete",
              "httpMethod": "DELETE"
            },
            "create": {
              "id": "bigquerydatatransfer.projects.transferConfigs.create",
              "httpMethod": "POST",
              "path": "v1/{+parent}/transferConfigs",
              "description": "Creates a new data transfer configuration.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "TransferConfig"
              },
              "response": {
                "$ref": "TransferConfig"
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "parameters": {
                "versionInfo": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config."
                },
                "serviceAccountName": {
                  "location": "query",
                  "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                  "type": "string"
                },
                "authorizationCode": {
                  "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                  "deprecated": true,
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The BigQuery project id where the transfer configuration should be created. Must be in the format projects/{project_id}/locations/{location_id} or projects/{project_id}. If specified location and location of the destination bigquery dataset do not match - the request will fail."
                }
              }
            },
            "scheduleRuns": {
              "id": "bigquerydatatransfer.projects.transferConfigs.scheduleRuns",
              "httpMethod": "POST",
              "path": "v1/{+parent}:scheduleRuns",
              "description": "Creates transfer runs for a time range [start_time, end_time]. For each date - or whatever granularity the data source supports - in the range, one transfer run is created. Note that runs are created per UTC time in the time range. DEPRECATED: use StartManualTransferRuns instead.",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "deprecated": true,
              "response": {
                "$ref": "ScheduleTransferRunsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ScheduleTransferRunsRequest"
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "type": "string",
                  "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "location": "path",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "runs": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes the specified transfer run.",
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.delete",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "TransferRun"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.get",
                  "httpMethod": "GET",
                  "description": "Returns information about the particular transfer run.",
                  "path": "v1/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Pagination token, which can be used to request a specific page of `ListTransferRunsRequest` list results. For multiple-page results, `ListTransferRunsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                      "description": "Required. Name of transfer configuration for which transfer runs should be retrieved. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`"
                    },
                    "pageSize": {
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "states": {
                      "enumDescriptions": [
                        "State placeholder (0).",
                        "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
                        "Data transfer is in progress (3).",
                        "Data transfer completed successfully (4).",
                        "Data transfer failed (5).",
                        "Data transfer is cancelled (6)."
                      ],
                      "location": "query",
                      "repeated": true,
                      "enum": [
                        "TRANSFER_STATE_UNSPECIFIED",
                        "PENDING",
                        "RUNNING",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELLED"
                      ],
                      "type": "string",
                      "description": "When specified, only transfer runs with requested states are returned."
                    },
                    "runAttempt": {
                      "description": "Indicates how run attempts are to be pulled.",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "RUN_ATTEMPT_UNSPECIFIED",
                        "LATEST"
                      ],
                      "enumDescriptions": [
                        "All runs should be returned.",
                        "Only latest run per day should be returned."
                      ]
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListTransferRunsResponse"
                  },
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.list",
                  "httpMethod": "GET",
                  "description": "Returns information about running and completed transfer runs.",
                  "path": "v1/{+parent}/runs"
                }
              },
              "resources": {
                "transferLogs": {
                  "methods": {
                    "list": {
                      "id": "bigquerydatatransfer.projects.transferConfigs.runs.transferLogs.list",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/transferLogs",
                      "description": "Returns log messages for the transfer run.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListTransferLogsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                      "parameters": {
                        "pageSize": {
                          "description": "Page size. The default page size is the maximum value of 1000 results.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "messageTypes": {
                          "type": "string",
                          "description": "Message types to return. If not populated - INFO, WARNING and ERROR messages are returned.",
                          "location": "query",
                          "repeated": true,
                          "enum": [
                            "MESSAGE_SEVERITY_UNSPECIFIED",
                            "INFO",
                            "WARNING",
                            "ERROR"
                          ],
                          "enumDescriptions": [
                            "No severity specified.",
                            "Informational message.",
                            "Warning message.",
                            "Error message."
                          ]
                        },
                        "parent": {
                          "description": "Required. Transfer run name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Pagination token, which can be used to request a specific page of `ListTransferLogsRequest` list results. For multiple-page results, `ListTransferLogsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                          "location": "query"
                        }
                      }
                    }
                  }
                }
              }
            },
            "transferResources": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/transferResources",
                  "description": "Returns information about transfer resources.",
                  "id": "bigquerydatatransfer.projects.transferConfigs.transferResources.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListTransferResourcesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/transferResources",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of transfer configuration for which transfer resources should be retrieved. The name should be in one of the following forms: * `projects/{project}/transferConfigs/{transfer_config}` * `projects/{project}/locations/{location_id}/transferConfigs/{transfer_config}`",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListTransferResources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTransferResources` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of transfer resources to return. The maximum value is 1000; values above 1000 will be coerced to 1000. The default page size is the maximum value of 1000 results.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter for the transfer resources. Currently supported filters include: * Resource name: `name` - Wildcard supported * Resource type: `type` * Resource destination: `destination` * Latest resource state: `latest_status_detail.state` * Last update time: `update_time` - RFC-3339 format * Parent table name: `hierarchy_detail.partition_detail.table` Multiple filters can be applied using the `AND/OR` operator. Examples: * `name=\"*123\" AND (type=\"TABLE\" OR latest_status_detail.state=\"SUCCEEDED\")` * `update_time >= \"2012-04-21T11:30:00-04:00\"` * `hierarchy_detail.partition_detail.table = \"table1\"`",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "get": {
                  "id": "bigquerydatatransfer.projects.transferConfigs.transferResources.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Returns a transfer resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "TransferResource"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/transferResources/{transferResourcesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the transfer resource in the form of: * `projects/{project}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}` * `projects/{project}/locations/{location}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}`",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/transferResources/[^/]+$",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "unenrollDataSources": {
              "id": "bigquerydatatransfer.projects.locations.unenrollDataSources",
              "httpMethod": "POST",
              "path": "v1/{+name}:unenrollDataSources",
              "description": "Unenroll data sources in a user project. This allows users to remove transfer configurations for these data sources. They will no longer appear in the ListDataSources RPC and will also no longer appear in the [BigQuery UI](https://console.cloud.google.com/bigquery). Data transfers configurations of unenrolled data sources will not be scheduled.",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "UnenrollDataSourcesRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:unenrollDataSources",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project resource in the form: `projects/{project_id}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              }
            },
            "enrollDataSources": {
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "EnrollDataSourcesRequest"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:enrollDataSources",
              "parameters": {
                "name": {
                  "description": "Required. The name of the project resource in the form: `projects/{project_id}`",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "bigquerydatatransfer.projects.locations.enrollDataSources",
              "httpMethod": "POST",
              "path": "v1/{+name}:enrollDataSources",
              "description": "Enroll data sources in a user project. This allows users to create transfer configurations for these data sources. They will also appear in the ListDataSources RPC and as such, will appear in the [BigQuery UI](https://console.cloud.google.com/bigquery), and the documents can be found in the public guide for [BigQuery Web UI](https://cloud.google.com/bigquery/bigquery-web-ui) and [Data Transfer Service](https://cloud.google.com/bigquery/docs/working-with-transfers)."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
[...]
