{
  "title": "BigQuery Data Transfer API",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://bigquerydatatransfer.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "description": "Schedule queries or transfer external data from SaaS applications to Google BigQuery on a regular basis.",
  "documentationLink": "https://cloud.google.com/bigquery-transfer/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://bigquerydatatransfer.mtls.googleapis.com/",
  "rootUrl": "https://bigquerydatatransfer.googleapis.com/",
  "batchPath": "batch",
  "id": "bigquerydatatransfer:v1",
  "kind": "discovery#restDescription",
  "version": "v1",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "canonicalName": "BigQuery Data Transfer",
  "endpoints": [
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://bigquerydatatransfer.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://bigquerydatatransfer.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://bigquerydatatransfer.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://bigquerydatatransfer.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://bigquerydatatransfer.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://bigquerydatatransfer.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://bigquerydatatransfer.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://bigquerydatatransfer.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "version_module": true,
  "name": "bigquerydatatransfer",
  "basePath": "",
  "schemas": {
    "UnenrollDataSourcesRequest": {
      "description": "A request to unenroll a set of data sources so they are no longer visible in the BigQuery UI's `Transfer` tab.",
      "id": "UnenrollDataSourcesRequest",
      "type": "object",
      "properties": {
        "dataSourceIds": {
          "type": "array",
          "description": "Data sources that are unenrolled. It is required to provide at least one data source id.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ManualSchedule": {
      "id": "ManualSchedule",
      "type": "object",
      "properties": {},
      "description": "Options customizing manual transfers schedule."
    },
    "TimeBasedSchedule": {
      "description": "Options customizing the time based transfer schedule. Options are migrated from the original ScheduleOptions message.",
      "id": "TimeBasedSchedule",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Specifies time to start scheduling transfer runs. The first run will be scheduled at or after the start time according to a recurrence pattern defined in the schedule string. The start time can be changed at any moment.",
          "type": "string",
          "format": "google-datetime"
        },
        "schedule": {
          "type": "string",
          "description": "Data transfer schedule. If the data source does not support a custom schedule, this should be empty. If it is empty, the default value for the data source will be used. The specified times are in UTC. Examples of valid format: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`. See more explanation about the format here: https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format NOTE: The minimum interval time between recurring transfers depends on the data source; refer to the documentation for your data source."
        },
        "endTime": {
          "type": "string",
          "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be scheduled at or after the end time. The end time can be changed at any moment.",
          "format": "google-datetime"
        }
      }
    },
    "PartitionDetail": {
      "description": "Partition details related to hierarchy.",
      "id": "PartitionDetail",
      "type": "object",
      "properties": {
        "table": {
          "type": "string",
          "description": "Optional. Name of the table which has the partitions."
        }
      }
    },
    "EmailPreferences": {
      "id": "EmailPreferences",
      "type": "object",
      "properties": {
        "enableFailureEmail": {
          "description": "If true, email notifications will be sent on transfer run failures.",
          "type": "boolean"
        }
      },
      "description": "Represents preferences for sending email notifications for transfer run events."
    },
    "CheckValidCredsRequest": {
      "id": "CheckValidCredsRequest",
      "type": "object",
      "properties": {},
      "description": "A request to determine whether the user has valid credentials. This method is used to limit the number of OAuth popups in the user interface. The user id is inferred from the API call context. If the data source has the Google+ authorization type, this method returns false, as it cannot be determined whether the credentials are already valid merely based on the user id."
    },
    "TransferConfig": {
      "id": "TransferConfig",
      "type": "object",
      "properties": {
        "dataSourceId": {
          "description": "Data source ID. This cannot be changed once data transfer is created. The full list of available data source IDs can be returned through an API call: https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.dataSources/list",
          "type": "string"
        },
        "encryptionConfiguration": {
          "description": "The encryption configuration part. Currently, it is only used for the optional KMS key name. The BigQuery service account of your project must be granted permissions to use the key. Read methods will return the key name applied in effect. Write methods will apply the key if it is present, or otherwise try to apply project default keys if it is absent.",
          "$ref": "EncryptionConfiguration"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ],
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "Output only. State of the most recently updated transfer run.",
          "type": "string"
        },
        "emailPreferences": {
          "description": "Email notifications will be sent according to these preferences to the email address of the user who owns this transfer config.",
          "$ref": "EmailPreferences"
        },
        "ownerInfo": {
          "$ref": "UserInfo",
          "description": "Output only. Information about the user whose credentials are used to transfer data. Populated only for `transferConfigs.get` requests. In case the user information is not available, this field will not be populated.",
          "readOnly": true
        },
        "dataRefreshWindowDays": {
          "format": "int32",
          "description": "The number of days to look back to automatically refresh the data. For example, if `data_refresh_window_days = 10`, then every day BigQuery reingests data for [today-10, today-1], rather than ingesting data for just [today-1]. Only valid if the data source supports the feature. Set the value to 0 to use the default value.",
          "type": "integer"
        },
        "scheduleOptions": {
          "description": "Options customizing the data transfer schedule.",
          "$ref": "ScheduleOptions"
        },
        "displayName": {
          "description": "User specified display name for the data transfer.",
          "type": "string"
        },
        "notificationPubsubTopic": {
          "description": "Pub/Sub topic where notifications will be sent after transfer runs associated with this transfer config finish. The format for specifying a pubsub topic is: `projects/{project_id}/topics/{topic_id}`",
          "type": "string"
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq"
        },
        "metadataDestination": {
          "description": "The metadata destination of the transfer config.",
          "$ref": "MetadataDestination"
        },
        "destinationDatasetId": {
          "description": "The BigQuery target dataset id.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Is this config disabled. When set to true, no runs will be scheduled for this transfer config."
        },
        "updateTime": {
          "description": "Output only. Data transfer modification time. Ignored by server on input.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "nextRunTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Next time when data transfer will run."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config."
        },
        "scheduleOptionsV2": {
          "description": "Options customizing different types of data transfer schedule. This field replaces \"schedule\" and \"schedule_options\" fields. ScheduleOptionsV2 cannot be used together with ScheduleOptions/Schedule.",
          "$ref": "ScheduleOptionsV2"
        },
        "datasetRegion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region in which BigQuery dataset is located."
        },
        "managedTableType": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified. This defaults to `NATIVE` table.",
            "The managed table is a native BigQuery table. This is the default value.",
            "The managed table is a BigQuery table for Apache Iceberg (formerly BigLake managed tables), with a BigLake configuration."
          ],
          "description": "The classification of the destination table.",
          "enum": [
            "MANAGED_TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "BIGLAKE"
          ]
        },
        "userId": {
          "format": "int64",
          "type": "string",
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done."
        },
        "schedule": {
          "description": "Data transfer schedule. If the data source does not support a custom schedule, this should be empty. If it is empty, the default value for the data source will be used. The specified times are in UTC. Examples of valid format: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`. See more explanation about the format here: https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format NOTE: The minimum interval time between recurring transfers depends on the data source; refer to the documentation for your data source.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Error code with detailed information about reason of the latest config failure."
        }
      },
      "description": "Represents a data transfer configuration. A transfer configuration contains all metadata needed to perform a data transfer. For example, `destination_dataset_id` specifies where data should be stored. When a new transfer configuration is created, the specified `destination_dataset_id` is created when needed and shared with the appropriate data source service account."
    },
    "StartManualTransferRunsResponse": {
      "description": "A response to start manual transfer runs.",
      "id": "StartManualTransferRunsResponse",
      "type": "object",
      "properties": {
        "runs": {
          "type": "array",
          "description": "The transfer runs that were created.",
          "items": {
            "$ref": "TransferRun"
          }
        }
      }
    },
    "ListDataSourcesResponse": {
      "id": "ListDataSourcesResponse",
      "type": "object",
      "properties": {
        "dataSources": {
          "description": "List of supported data sources and their transfer settings.",
          "items": {
            "$ref": "DataSource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListDataSourcesRequest.page_token` to request the next page of list results.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Returns list of supported data sources and their metadata."
    },
    "ListTransferRunsResponse": {
      "description": "The returned list of pipelines in the project.",
      "id": "ListTransferRunsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferRunsRequest.page_token` to request the next page of list results.",
          "readOnly": true,
          "type": "string"
        },
        "transferRuns": {
          "description": "Output only. The stored pipeline transfer runs.",
          "items": {
            "$ref": "TransferRun"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "DataSourceParameter": {
      "id": "DataSourceParameter",
      "type": "object",
      "properties": {
        "immutable": {
          "description": "Cannot be changed after initial creation.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Parameter display name in the user interface."
        },
        "repeated": {
          "type": "boolean",
          "description": "Deprecated. This field has no effect."
        },
        "required": {
          "description": "Is parameter required.",
          "type": "boolean"
        },
        "fields": {
          "type": "array",
          "description": "Deprecated. This field has no effect.",
          "items": {
            "$ref": "DataSourceParameter"
          }
        },
        "recurse": {
          "type": "boolean",
          "description": "Deprecated. This field has no effect."
        },
        "deprecated": {
          "description": "If true, it should not be used in new transfers, and it should not be visible to users.",
          "type": "boolean"
        },
        "maxValue": {
          "type": "number",
          "description": "For integer and double values specifies maximum allowed value.",
          "format": "double"
        },
        "validationHelpUrl": {
          "description": "URL to a help document to further explain the naming requirements.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Parameter description."
        },
        "allowedValues": {
          "description": "All possible values for the parameter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maxListSize": {
          "format": "int64",
          "type": "string",
          "description": "For list parameters, the max size of the list."
        },
        "minValue": {
          "format": "double",
          "type": "number",
          "description": "For integer and double values specifies minimum allowed value."
        },
        "paramId": {
          "type": "string",
          "description": "Parameter identifier."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "String parameter.",
            "Integer parameter (64-bits). Will be serialized to json as string.",
            "Double precision floating point parameter.",
            "Boolean parameter.",
            "Deprecated. This field has no effect.",
            "Page ID for a Google+ Page.",
            "List of strings parameter."
          ],
          "description": "Parameter type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "DOUBLE",
            "BOOLEAN",
            "RECORD",
            "PLUS_PAGE",
            "LIST"
          ]
        },
        "validationDescription": {
          "type": "string",
          "description": "Description of the requirements for this field, in case the user input does not fulfill the regex pattern or min/max values."
        },
        "validationRegex": {
          "type": "string",
          "description": "Regular expression which can be used for parameter validation."
        }
      },
      "description": "A parameter used to define custom fields in a data source definition."
    },
    "TransferRunBrief": {
      "description": "Basic information about a transfer run.",
      "id": "TransferRunBrief",
      "type": "object",
      "properties": {
        "run": {
          "description": "Optional. Run URI. The format must be: `projects/{project}/locations/{location}/transferConfigs/{transfer_config}/run/{run}`",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Start time of the transfer run."
        }
      }
    },
    "ListTransferConfigsResponse": {
      "id": "ListTransferConfigsResponse",
      "type": "object",
      "properties": {
        "transferConfigs": {
          "description": "Output only. The stored pipeline transfer configurations.",
          "items": {
            "$ref": "TransferConfig"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferConfigsRequest.page_token` to request the next page of list results."
        }
      },
      "description": "The returned list of pipelines in the project."
    },
    "TransferStatusMetric": {
      "description": "Metrics for tracking the transfer status.",
      "id": "TransferStatusMetric",
      "type": "object",
      "properties": {
        "pending": {
          "format": "int64",
          "description": "Optional. Number of units pending transfer.",
          "type": "string"
        },
        "unit": {
          "enum": [
            "TRANSFER_STATUS_UNIT_UNSPECIFIED",
            "TRANSFER_STATUS_UNIT_BYTES",
            "TRANSFER_STATUS_UNIT_OBJECTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Bytes.",
            "Objects."
          ],
          "description": "Optional. Unit for measuring progress (e.g., BYTES)."
        },
        "completed": {
          "type": "string",
          "description": "Optional. Number of units transferred successfully.",
          "format": "int64"
        },
        "failed": {
          "type": "string",
          "description": "Optional. Number of units that failed to transfer.",
          "format": "int64"
        },
        "total": {
          "format": "int64",
          "description": "Optional. Total number of units for the transfer.",
          "type": "string"
        }
      }
    },
    "ScheduleTransferRunsRequest": {
      "id": "ScheduleTransferRunsRequest",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Required. End time of the range of transfer runs. For example, `\"2017-05-30T00:00:00+00:00\"`.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "description": "Required. Start time of the range of transfer runs. For example, `\"2017-05-25T00:00:00+00:00\"`.",
          "format": "google-datetime"
        }
      },
      "description": "A request to schedule transfer runs for a time range."
    },
    "TimeRange": {
      "description": "A specification for a time range, this will request transfer runs with run_time between start_time (inclusive) and end_time (exclusive).",
      "id": "TimeRange",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Start time of the range of transfer runs. For example, `\"2017-05-25T00:00:00+00:00\"`. The start_time must be strictly less than the end_time. Creates transfer runs where run_time is in the range between start_time (inclusive) and end_time (exclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "End time of the range of transfer runs. For example, `\"2017-05-30T00:00:00+00:00\"`. The end_time must not be in the future. Creates transfer runs where run_time is in the range between start_time (inclusive) and end_time (exclusive).",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "UserInfo": {
      "id": "UserInfo",
      "type": "object",
      "properties": {
        "email": {
          "description": "E-mail address of the user.",
          "type": "string"
        }
      },
      "description": "Information about a user."
    },
    "StartManualTransferRunsRequest": {
      "description": "A request to start manual transfer runs.",
      "id": "StartManualTransferRunsRequest",
      "type": "object",
      "properties": {
        "requestedRunTime": {
          "description": "A run_time timestamp for historical data files or reports that are scheduled to be transferred by the scheduled transfer run. requested_run_time must be a past time and cannot include future time values.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedTimeRange": {
          "$ref": "TimeRange",
          "description": "A time_range start and end timestamp for historical data files or reports that are scheduled to be transferred by the scheduled transfer run. requested_time_range must be a past time and cannot include future time values."
        }
      }
    },
    "TableDetail": {
      "id": "TableDetail",
      "type": "object",
      "properties": {
        "partitionCount": {
          "description": "Optional. Total number of partitions being tracked within the table.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Table details related to hierarchy."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ScheduleOptionsV2": {
      "id": "ScheduleOptionsV2",
      "type": "object",
      "properties": {
        "eventDrivenSchedule": {
          "$ref": "EventDrivenSchedule",
          "description": "Event driven transfer schedule options. If set, the transfer will be scheduled upon events arrial."
        },
        "manualSchedule": {
          "$ref": "ManualSchedule",
          "description": "Manual transfer schedule. If set, the transfer run will not be auto-scheduled by the system, unless the client invokes StartManualTransferRuns. This is equivalent to disable_auto_scheduling = true."
        },
        "timeBasedSchedule": {
          "$ref": "TimeBasedSchedule",
          "description": "Time based transfer schedule options. This is the default schedule option."
        }
      },
      "description": "V2 options customizing different types of data transfer schedule. This field supports existing time-based and manual transfer schedule. Also supports Event-Driven transfer schedule. ScheduleOptionsV2 cannot be used together with ScheduleOptions/Schedule."
    },
    "TransferStatusSummary": {
      "description": "Status summary of the resource being transferred.",
      "id": "TransferStatusSummary",
      "type": "object",
      "properties": {
        "metrics": {
          "type": "array",
          "description": "Optional. List of transfer status metrics.",
          "items": {
            "$ref": "TransferStatusMetric"
          }
        },
        "progressUnit": {
          "description": "Input only. Unit based on which transfer status progress should be calculated.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Bytes.",
            "Objects."
          ],
          "enum": [
            "TRANSFER_STATUS_UNIT_UNSPECIFIED",
            "TRANSFER_STATUS_UNIT_BYTES",
            "TRANSFER_STATUS_UNIT_OBJECTS"
          ]
        }
      }
    },
    "TransferMessage": {
      "description": "Represents a user facing message for a particular data transfer run.",
      "id": "TransferMessage",
      "type": "object",
      "properties": {
        "messageTime": {
          "format": "google-datetime",
          "description": "Time when message was logged.",
          "type": "string"
        },
        "messageText": {
          "type": "string",
          "description": "Message text."
        },
        "severity": {
          "enum": [
            "MESSAGE_SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "No severity specified.",
            "Informational message.",
            "Warning message.",
            "Error message."
          ],
          "description": "Message severity."
        }
      }
    },
    "TransferResource": {
      "id": "TransferResource",
      "type": "object",
      "properties": {
        "destination": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "BigQuery.",
            "Dataproc Metastore.",
            "BigLake Metastore.",
            "BigLake REST Catalog.",
            "BigLake Hive Catalog."
          ],
          "description": "Optional. Resource destination.",
          "enum": [
            "RESOURCE_DESTINATION_UNSPECIFIED",
            "RESOURCE_DESTINATION_BIGQUERY",
            "RESOURCE_DESTINATION_DATAPROC_METASTORE",
            "RESOURCE_DESTINATION_BIGLAKE_METASTORE",
            "RESOURCE_DESTINATION_BIGLAKE_REST_CATALOG",
            "RESOURCE_DESTINATION_BIGLAKE_HIVE_CATALOG"
          ]
        },
        "latestStatusDetail": {
          "description": "Optional. Status details for the latest run.",
          "$ref": "TransferResourceStatusDetail"
        },
        "hierarchyDetail": {
          "description": "Optional. Details about the hierarchy.",
          "$ref": "HierarchyDetail"
        },
        "lastSuccessfulRun": {
          "description": "Output only. Run details for the last successful run.",
          "readOnly": true,
          "$ref": "TransferRunBrief"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the resource was last updated.",
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Table resource type.",
            "Partition resource type."
          ],
          "description": "Optional. Resource type.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_TABLE",
            "RESOURCE_TYPE_PARTITION"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name."
        },
        "latestRun": {
          "$ref": "TransferRunBrief",
          "description": "Optional. Run details for the latest run."
        }
      },
      "description": "Resource (table/partition) that is being transferred."
    },
    "EncryptionConfiguration": {
      "description": "Represents the encryption configuration for a transfer.",
      "id": "EncryptionConfiguration",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "The name of the KMS key used for encrypting BigQuery data."
        }
      }
    },
    "CheckValidCredsResponse": {
      "description": "A response indicating whether the credentials exist and are valid.",
      "id": "CheckValidCredsResponse",
      "type": "object",
      "properties": {
        "hasValidCreds": {
          "description": "If set to `true`, the credentials exist and are valid.",
          "type": "boolean"
        }
      }
    },
    "EventDrivenSchedule": {
      "id": "EventDrivenSchedule",
      "type": "object",
      "properties": {
        "pubsubSubscription": {
          "type": "string",
          "description": "Pub/Sub subscription name used to receive events. Only Google Cloud Storage data source support this option. Format: projects/{project}/subscriptions/{subscription}"
        }
      },
      "description": "Options customizing EventDriven transfers schedule."
    },
    "TransferRun": {
      "id": "TransferRun",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when transfer run ended. Parameter ignored by server for input requests."
        },
        "scheduleTime": {
          "description": "Minimum time after which a transfer run can be started.",
          "type": "string",
          "format": "google-datetime"
        },
        "notificationPubsubTopic": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Pub/Sub topic where a notification will be sent after this transfer run finishes. The format for specifying a pubsub topic is: `projects/{project_id}/topics/{topic_id}`"
        },
        "params": {
          "description": "Output only. Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "dataSourceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Data source id."
        },
        "runTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "For batch transfer runs, specifies the date and time of the data should be ingested."
        },
        "state": {
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ],
          "description": "Data transfer run state. Ignored for input requests."
        },
        "errorStatus": {
          "$ref": "Status",
          "description": "Status of the transfer run."
        },
        "emailPreferences": {
          "readOnly": true,
          "description": "Output only. Email notifications will be sent according to these preferences to the email address of the user who owns the transfer config this run was derived from.",
          "$ref": "EmailPreferences"
        },
        "name": {
          "description": "Identifier. The resource name of the transfer run. Transfer run names have the form `projects/{project_id}/locations/{location}/transferConfigs/{config_id}/runs/{run_id}`. The name is ignored when creating a transfer run.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when transfer run was started. Parameter ignored by server for input requests."
        },
        "userId": {
          "type": "string",
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
          "format": "int64"
        },
        "schedule": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Describes the schedule of this transfer run if it was created as part of a regular schedule. For batch transfer runs that are scheduled manually, this is empty. NOTE: the system might choose to delay the schedule depending on the current load, so `schedule_time` doesn't always match this."
        },
        "destinationDatasetId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The BigQuery target dataset id."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last time the data transfer run state was updated."
        }
      },
      "description": "Represents a data transfer run."
    },
    "DataSource": {
      "id": "DataSource",
      "type": "object",
      "properties": {
        "dataRefreshType": {
          "enum": [
            "DATA_REFRESH_TYPE_UNSPECIFIED",
            "SLIDING_WINDOW",
            "CUSTOM_SLIDING_WINDOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "The data source won't support data auto refresh, which is default value.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Does not allow custom values to be set for each transfer config.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Allows custom values to be set for each transfer config."
          ],
          "description": "Specifies whether the data source supports automatic data refresh for the past few days, and how it's supported. For some data sources, data might not be complete until a few days later, so it's useful to refresh data automatically."
        },
        "minimumScheduleInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "The minimum interval for scheduler to schedule runs."
        },
        "displayName": {
          "description": "User friendly data source name.",
          "type": "string"
        },
        "helpUrl": {
          "description": "Url for the help document for this data source.",
          "type": "string"
        },
        "defaultSchedule": {
          "type": "string",
          "description": "Default data transfer schedule. Examples of valid schedules include: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`."
        },
        "defaultDataRefreshWindowDays": {
          "type": "integer",
          "description": "Default data refresh window on days. Only meaningful when `data_refresh_type` = `SLIDING_WINDOW`.",
          "format": "int32"
        },
        "dataSourceId": {
          "description": "Data source id.",
          "type": "string"
        },
        "parameters": {
          "description": "Data source parameters.",
          "items": {
            "$ref": "DataSourceParameter"
          },
          "type": "array"
        },
        "manualRunsDisabled": {
          "description": "Disables backfilling and manual run scheduling for the data source.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Data source resource name.",
          "readOnly": true,
          "type": "string"
        },
        "transferType": {
          "type": "string",
          "description": "Deprecated. This field has no effect.",
          "enum": [
            "TRANSFER_TYPE_UNSPECIFIED",
            "BATCH",
            "STREAMING"
          ],
          "enumDescriptions": [
            "Invalid or Unknown transfer type placeholder.",
            "Batch data transfer.",
            "Streaming data transfer. Streaming data source currently doesn't support multiple transfer configs per project."
          ],
          "deprecated": true
        },
        "description": {
          "description": "User friendly data source description string.",
          "type": "string"
        },
        "supportsMultipleTransfers": {
          "description": "Deprecated. This field has no effect.",
          "deprecated": true,
          "type": "boolean"
        },
        "clientId": {
          "description": "Data source client id which should be used to receive refresh token.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "description": "Api auth scopes for which refresh token needs to be obtained. These are scopes needed by a data source to prepare data and ingest them into BigQuery, e.g., https://www.googleapis.com/auth/bigquery",
          "items": {
            "type": "string"
          }
        },
        "updateDeadlineSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "The number of seconds to wait for an update from the data source before the Data Transfer Service marks the transfer as FAILED."
        },
        "supportsCustomSchedule": {
          "type": "boolean",
          "description": "Specifies whether the data source supports a user defined schedule, or operates on the default schedule. When set to `true`, user can override default schedule."
        },
        "authorizationType": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "Use OAuth 2 authorization codes that can be exchanged for a refresh token on the backend.",
            "Return an authorization code for a given Google+ page that can then be exchanged for a refresh token on the backend.",
            "Use First Party OAuth."
          ],
          "description": "Indicates the type of authorization.",
          "enum": [
            "AUTHORIZATION_TYPE_UNSPECIFIED",
            "AUTHORIZATION_CODE",
            "GOOGLE_PLUS_AUTHORIZATION_CODE",
            "FIRST_PARTY_OAUTH"
          ]
        }
      },
      "description": "Defines the properties and custom parameters for a data source."
    },
    "MetadataDestination": {
      "id": "MetadataDestination",
      "type": "object",
      "properties": {
        "dataplexConfiguration": {
          "$ref": "DataplexConfiguration",
          "description": "The Dataplex Universal Catalog configuration."
        }
      },
      "description": "The metadata destination of the transfer config."
    },
    "DataplexConfiguration": {
      "description": "Configuration for Dataplex destination.",
      "id": "DataplexConfiguration",
      "type": "object",
      "properties": {
        "entryGroup": {
          "type": "string",
          "description": "Required. The Dataplex Universal Catalog entry group for importing the metadata. entry_group has the format of `projects/{project_id}/locations/{region}/entryGroups/{entry_group_id}`."
        }
      }
    },
    "EnrollDataSourcesRequest": {
      "description": "A request to enroll a set of data sources so they are visible in the BigQuery UI's `Transfer` tab.",
      "id": "EnrollDataSourcesRequest",
      "type": "object",
      "properties": {
        "dataSourceIds": {
          "type": "array",
          "description": "Data sources that are enrolled. It is required to provide at least one data source id.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListTransferLogsResponse": {
      "id": "ListTransferLogsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `GetTransferRunLogRequest.page_token` to request the next page of list results."
        },
        "transferMessages": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The stored pipeline transfer messages.",
          "items": {
            "$ref": "TransferMessage"
          }
        }
      },
      "description": "The returned list transfer run messages."
    },
    "ListTransferResourcesResponse": {
      "description": "Response for the `ListTransferResources` RPC.",
      "id": "ListTransferResourcesResponse",
      "type": "object",
      "properties": {
        "transferResources": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The transfer resources.",
          "items": {
            "$ref": "TransferResource"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ScheduleOptions": {
      "description": "Options customizing the data transfer schedule.",
      "id": "ScheduleOptions",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Specifies time to start scheduling transfer runs. The first run will be scheduled at or after the start time according to a recurrence pattern defined in the schedule string. The start time can be changed at any moment. The time when a data transfer can be triggered manually is not limited by this option.",
          "type": "string"
        },
        "endTime": {
          "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be scheduled at or after the end time. The end time can be changed at any moment. The time when a data transfer can be triggered manually is not limited by this option.",
          "type": "string",
          "format": "google-datetime"
        },
        "disableAutoScheduling": {
          "type": "boolean",
          "description": "If true, automatic scheduling of data transfer runs for this configuration will be disabled. The runs can be started on ad-hoc basis using StartManualTransferRuns API. When automatic scheduling is disabled, the TransferConfig.schedule field will be ignored."
        }
      }
    },
    "HierarchyDetail": {
      "id": "HierarchyDetail",
      "type": "object",
      "properties": {
        "tableDetail": {
          "$ref": "TableDetail",
          "description": "Optional. Table details related to hierarchy."
        },
        "partitionDetail": {
          "description": "Optional. Partition details related to hierarchy.",
          "$ref": "PartitionDetail"
        }
      },
      "description": "Details about the hierarchy."
    },
    "ScheduleTransferRunsResponse": {
      "description": "A response to schedule transfer runs for a time range.",
      "id": "ScheduleTransferRunsResponse",
      "type": "object",
      "properties": {
        "runs": {
          "description": "The transfer runs that were scheduled.",
          "items": {
            "$ref": "TransferRun"
          },
          "type": "array"
        }
      }
    },
    "TransferResourceStatusDetail": {
      "description": "Status details of the resource being transferred.",
      "id": "TransferResourceStatusDetail",
      "type": "object",
      "properties": {
        "error": {
          "description": "Optional. Transfer error details for the resource.",
          "$ref": "Status"
        },
        "state": {
          "description": "Optional. Transfer state of the resource.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Resource is waiting to be transferred.",
            "Resource transfer is running.",
            "Resource transfer is a success.",
            "Resource transfer failed.",
            "Resource transfer was cancelled."
          ],
          "enum": [
            "RESOURCE_TRANSFER_STATE_UNSPECIFIED",
            "RESOURCE_TRANSFER_PENDING",
            "RESOURCE_TRANSFER_RUNNING",
            "RESOURCE_TRANSFER_SUCCEEDED",
            "RESOURCE_TRANSFER_FAILED",
            "RESOURCE_TRANSFER_CANCELLED"
          ]
        },
        "summary": {
          "description": "Optional. Transfer status summary of the resource.",
          "$ref": "TransferStatusSummary"
        },
        "completedPercentage": {
          "description": "Output only. Percentage of the transfer completed. Valid values: 0-100.",
          "readOnly": true,
          "type": "number",
          "format": "double"
        }
      }
    }
  },
  "revision": "20260718",
  "resources": {
    "projects": {
      "resources": {
        "transferConfigs": {
          "methods": {
            "delete": {
              "id": "bigquerydatatransfer.projects.transferConfigs.delete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the resource to delete. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a data transfer configuration, including any associated transfer runs and logs.",
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "response": {
                "$ref": "Empty"
              }
            },
            "create": {
              "response": {
                "$ref": "TransferConfig"
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "description": "Creates a new data transfer configuration.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "TransferConfig"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/transferConfigs",
              "id": "bigquerydatatransfer.projects.transferConfigs.create",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The BigQuery project id where the transfer configuration should be created. Must be in the format projects/{project_id}/locations/{location_id} or projects/{project_id}. If specified location and location of the destination bigquery dataset do not match - the request will fail.",
                  "location": "path",
                  "required": true
                },
                "authorizationCode": {
                  "type": "string",
                  "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                  "deprecated": true,
                  "location": "query"
                },
                "versionInfo": {
                  "location": "query",
                  "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                  "type": "string"
                },
                "serviceAccountName": {
                  "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns information about all transfer configs owned by a project in the specified location.",
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "response": {
                "$ref": "ListTransferConfigsResponse"
              },
              "id": "bigquerydatatransfer.projects.transferConfigs.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The BigQuery project id for which transfer configs should be returned. If you are using the regionless method, the location must be `US` and `parent` should be in the following form: * `projects/{project_id} If you are using the regionalized method, `parent` should be in the following form: * `projects/{project_id}/locations/{location_id}`",
                  "type": "string"
                },
                "dataSourceIds": {
                  "description": "When specified, only configurations of requested data sources are returned.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "pageToken": {
                  "description": "Pagination token, which can be used to request a specific page of `ListTransfersRequest` list results. For multiple-page results, `ListTransfersResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/{+parent}/transferConfigs",
              "httpMethod": "GET"
            },
            "startManualRuns": {
              "request": {
                "$ref": "StartManualTransferRunsRequest"
              },
              "id": "bigquerydatatransfer.projects.transferConfigs.startManualRuns",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}:startManualRuns",
              "httpMethod": "POST",
              "response": {
                "$ref": "StartManualTransferRunsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Manually initiates transfer runs. You can schedule these runs in two ways: 1. For a specific point in time using the 'requested_run_time' parameter. 2. For a period between 'start_time' (inclusive) and 'end_time' (exclusive). If scheduling a single run, it is set to execute immediately (schedule_time equals the current time). When scheduling multiple runs within a time range, the first run starts now, and subsequent runs are delayed by 15 seconds each.",
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:startManualRuns"
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "id": "bigquerydatatransfer.projects.transferConfigs.patch",
              "parameters": {
                "versionInfo": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config."
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config.",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. Required list of fields to be updated in this request.",
                  "type": "string"
                },
                "authorizationCode": {
                  "location": "query",
                  "type": "string",
                  "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                  "deprecated": true
                },
                "serviceAccountName": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts)."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "TransferConfig"
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "description": "Updates a data transfer configuration. All fields must be set, even if they are not updated.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "TransferConfig"
              }
            },
            "get": {
              "id": "bigquerydatatransfer.projects.transferConfigs.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "TransferConfig"
              },
              "description": "Returns information about a data transfer config.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}"
            },
            "scheduleRuns": {
              "httpMethod": "POST",
              "path": "v1/{+parent}:scheduleRuns",
              "id": "bigquerydatatransfer.projects.transferConfigs.scheduleRuns",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "ScheduleTransferRunsRequest"
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
              "description": "Creates transfer runs for a time range [start_time, end_time]. For each date - or whatever granularity the data source supports - in the range, one transfer run is created. Note that runs are created per UTC time in the time range. DEPRECATED: use StartManualTransferRuns instead.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ScheduleTransferRunsResponse"
              },
              "deprecated": true
            }
          },
          "resources": {
            "runs": {
              "resources": {
                "transferLogs": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListTransferLogsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                      "description": "Returns log messages for the transfer run.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/transferLogs",
                      "id": "bigquerydatatransfer.projects.transferConfigs.runs.transferLogs.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "description": "Required. Transfer run name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "type": "string"
                        },
                        "messageTypes": {
                          "location": "query",
                          "repeated": true,
                          "enumDescriptions": [
                            "No severity specified.",
                            "Informational message.",
                            "Warning message.",
                            "Error message."
                          ],
                          "enum": [
                            "MESSAGE_SEVERITY_UNSPECIFIED",
                            "INFO",
                            "WARNING",
                            "ERROR"
                          ],
                          "type": "string",
                          "description": "Message types to return. If not populated - INFO, WARNING and ERROR messages are returned."
                        },
                        "pageToken": {
                          "description": "Pagination token, which can be used to request a specific page of `ListTransferLogsRequest` list results. For multiple-page results, `ListTransferLogsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Page size. The default page size is the maximum value of 1000 results."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "response": {
                    "$ref": "TransferRun"
                  },
                  "description": "Returns information about the particular transfer run.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the specified transfer run.",
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns information about running and completed transfer runs.",
                  "response": {
                    "$ref": "ListTransferRunsResponse"
                  },
                  "path": "v1/{+parent}/runs",
                  "httpMethod": "GET",
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.list",
                  "parameters": {
                    "pageSize": {
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of transfer configuration for which transfer runs should be retrieved. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Pagination token, which can be used to request a specific page of `ListTransferRunsRequest` list results. For multiple-page results, `ListTransferRunsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "type": "string",
                      "location": "query"
                    },
                    "runAttempt": {
                      "description": "Indicates how run attempts are to be pulled.",
                      "type": "string",
                      "enum": [
                        "RUN_ATTEMPT_UNSPECIFIED",
                        "LATEST"
                      ],
                      "enumDescriptions": [
                        "All runs should be returned.",
                        "Only latest run per day should be returned."
                      ],
                      "location": "query"
                    },
                    "states": {
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "State placeholder (0).",
                        "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
                        "Data transfer is in progress (3).",
                        "Data transfer completed successfully (4).",
                        "Data transfer failed (5).",
                        "Data transfer is cancelled (6)."
                      ],
                      "enum": [
                        "TRANSFER_STATE_UNSPECIFIED",
                        "PENDING",
                        "RUNNING",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELLED"
                      ],
                      "description": "When specified, only transfer runs with requested states are returned.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                }
              }
            },
            "transferResources": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListTransferResourcesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/transferResources",
                  "description": "Returns information about transfer resources.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/transferResources",
                  "id": "bigquerydatatransfer.projects.transferConfigs.transferResources.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of transfer configuration for which transfer resources should be retrieved. The name should be in one of the following forms: * `projects/{project}/transferConfigs/{transfer_config}` * `projects/{project}/locations/{location_id}/transferConfigs/{transfer_config}`",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of transfer resources to return. The maximum value is 1000; values above 1000 will be coerced to 1000. The default page size is the maximum value of 1000 results.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListTransferResources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTransferResources` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter for the transfer resources. Currently supported filters include: * Resource name: `name` - Wildcard supported * Resource type: `type` * Resource destination: `destination` * Latest resource state: `latest_status_detail.state` * Last update time: `update_time` - RFC-3339 format * Parent table name: `hierarchy_detail.partition_detail.table` Multiple filters can be applied using the `AND/OR` operator. Examples: * `name=\"*123\" AND (type=\"TABLE\" OR latest_status_detail.state=\"SUCCEEDED\")` * `update_time >= \"2012-04-21T11:30:00-04:00\"` * `hierarchy_detail.partition_detail.table = \"table1\"`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/transferResources/{transferResourcesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns a transfer resource.",
                  "response": {
                    "$ref": "TransferResource"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "bigquerydatatransfer.projects.transferConfigs.transferResources.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/transferResources/[^/]+$",
                      "description": "Required. The name of the transfer resource in the form of: * `projects/{project}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}` * `projects/{project}/locations/{location}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}`",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                }
              }
            }
          }
        },
        "locations": {
          "resources": {
            "dataSources": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/dataSources",
                  "httpMethod": "GET",
                  "id": "bigquerydatatransfer.projects.locations.dataSources.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "ListDataSourcesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists supported data sources and returns their settings."
                },
                "checkValidCreds": {
                  "request": {
                    "$ref": "CheckValidCredsRequest"
                  },
                  "path": "v1/{+name}:checkValidCreds",
                  "httpMethod": "POST",
                  "id": "bigquerydatatransfer.projects.locations.dataSources.checkValidCreds",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "description": "Required. The name of the data source. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "CheckValidCredsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}:checkValidCreds",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns true if valid credentials exist for the given data source and requesting user."
                },
                "get": {
                  "id": "bigquerydatatransfer.projects.locations.dataSources.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves a supported data source and returns its settings.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}",
                  "response": {
                    "$ref": "DataSource"
                  }
                }
              }
            },
            "transferConfigs": {
              "methods": {
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a data transfer configuration. All fields must be set, even if they are not updated.",
                  "response": {
                    "$ref": "TransferConfig"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Required. Required list of fields to be updated in this request."
                    },
                    "authorizationCode": {
                      "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                      "deprecated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "serviceAccountName": {
                      "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts).",
                      "type": "string",
                      "location": "query"
                    },
                    "versionInfo": {
                      "type": "string",
                      "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
[...]
