{
  "discoveryVersion": "v1",
  "version_module": true,
  "revision": "20260920",
  "batchPath": "batch",
  "description": "Schedule queries or transfer external data from SaaS applications to Google BigQuery on a regular basis.",
  "mtlsRootUrl": "https://bigquerydatatransfer.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "rootUrl": "https://bigquerydatatransfer.googleapis.com/",
  "schemas": {
    "StartManualTransferRunsResponse": {
      "id": "StartManualTransferRunsResponse",
      "properties": {
        "runs": {
          "description": "The transfer runs that were created.",
          "type": "array",
          "items": {
            "$ref": "TransferRun"
          }
        }
      },
      "type": "object",
      "description": "A response to start manual transfer runs."
    },
    "TransferRun": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last time the data transfer run state was updated.",
          "readOnly": true,
          "type": "string"
        },
        "params": {
          "readOnly": true,
          "description": "Output only. Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "dataSourceId": {
          "type": "string",
          "description": "Output only. Data source id.",
          "readOnly": true
        },
        "notificationPubsubTopic": {
          "readOnly": true,
          "description": "Output only. Pub/Sub topic where a notification will be sent after this transfer run finishes. The format for specifying a pubsub topic is: `projects/{project_id}/topics/{topic_id}`",
          "type": "string"
        },
        "scheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Minimum time after which a transfer run can be started."
        },
        "schedule": {
          "readOnly": true,
          "description": "Output only. Describes the schedule of this transfer run if it was created as part of a regular schedule. For batch transfer runs that are scheduled manually, this is empty. NOTE: the system might choose to delay the schedule depending on the current load, so `schedule_time` doesn't always match this.",
          "type": "string"
        },
        "emailPreferences": {
          "$ref": "EmailPreferences",
          "description": "Output only. Email notifications will be sent according to these preferences to the email address of the user who owns the transfer config this run was derived from.",
          "readOnly": true
        },
        "destinationDatasetId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The BigQuery target dataset id."
        },
        "errorStatus": {
          "description": "Status of the transfer run.",
          "$ref": "Status"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Time when transfer run ended. Parameter ignored by server for input requests.",
          "type": "string",
          "format": "google-datetime"
        },
        "runTime": {
          "description": "For batch transfer runs, specifies the date and time of the data should be ingested.",
          "type": "string",
          "format": "google-datetime"
        },
        "parameterConfig": {
          "readOnly": true,
          "description": "Output only. The parameter config of the transfer run.",
          "$ref": "ParameterConfig"
        },
        "state": {
          "description": "Data transfer run state. Ignored for input requests.",
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ],
          "type": "string",
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "startTime": {
          "description": "Output only. Time when transfer run was started. Parameter ignored by server for input requests.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "userId": {
          "format": "int64",
          "type": "string",
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the transfer run. Transfer run names have the form `projects/{project_id}/locations/{location}/transferConfigs/{config_id}/runs/{run_id}`. The name is ignored when creating a transfer run."
        }
      },
      "description": "Represents a data transfer run.",
      "type": "object",
      "id": "TransferRun"
    },
    "ScheduleOptionsV2": {
      "properties": {
        "eventDrivenSchedule": {
          "description": "Event driven transfer schedule options. If set, the transfer will be scheduled upon events arrial.",
          "$ref": "EventDrivenSchedule"
        },
        "manualSchedule": {
          "description": "Manual transfer schedule. If set, the transfer run will not be auto-scheduled by the system, unless the client invokes StartManualTransferRuns. This is equivalent to disable_auto_scheduling = true.",
          "$ref": "ManualSchedule"
        },
        "timeBasedSchedule": {
          "description": "Time based transfer schedule options. This is the default schedule option.",
          "$ref": "TimeBasedSchedule"
        }
      },
      "type": "object",
      "id": "ScheduleOptionsV2",
      "description": "V2 options customizing different types of data transfer schedule. This field supports existing time-based and manual transfer schedule. Also supports Event-Driven transfer schedule. ScheduleOptionsV2 cannot be used together with ScheduleOptions/Schedule."
    },
    "HierarchyDetail": {
      "properties": {
        "partitionDetail": {
          "$ref": "PartitionDetail",
          "description": "Optional. Partition details related to hierarchy."
        },
        "tableDetail": {
          "$ref": "TableDetail",
          "description": "Optional. Table details related to hierarchy."
        }
      },
      "id": "HierarchyDetail",
      "type": "object",
      "description": "Details about the hierarchy."
    },
    "TransferConfig": {
      "type": "object",
      "description": "Represents a data transfer configuration. A transfer configuration contains all metadata needed to perform a data transfer. For example, `destination_dataset_id` specifies where data should be stored. When a new transfer configuration is created, the specified `destination_dataset_id` is created when needed and shared with the appropriate data source service account.",
      "properties": {
        "destinationDatasetId": {
          "description": "The BigQuery target dataset id.",
          "type": "string"
        },
        "disabled": {
          "description": "Is this config disabled. When set to true, no runs will be scheduled for this transfer config.",
          "type": "boolean"
        },
        "displayName": {
          "description": "User specified display name for the data transfer.",
          "type": "string"
        },
        "dataSourceId": {
          "description": "Data source ID. This cannot be changed once data transfer is created. The full list of available data source IDs can be returned through an API call: https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.dataSources/list",
          "type": "string"
        },
        "notificationPubsubTopic": {
          "type": "string",
          "description": "Pub/Sub topic where notifications will be sent after transfer runs associated with this transfer config finish. The format for specifying a pubsub topic is: `projects/{project_id}/topics/{topic_id}`"
        },
        "schedule": {
          "description": "Data transfer schedule. If the data source does not support a custom schedule, this should be empty. If it is empty, the default value for the data source will be used. The specified times are in UTC. Examples of valid format: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`. See more explanation about the format here: https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format NOTE: The minimum interval time between recurring transfers depends on the data source; refer to the documentation for your data source.",
          "type": "string"
        },
        "metadataDestination": {
          "description": "The metadata destination of the transfer config.",
          "$ref": "MetadataDestination"
        },
        "encryptionConfiguration": {
          "description": "The encryption configuration part. Currently, it is only used for the optional KMS key name. The BigQuery service account of your project must be granted permissions to use the key. Read methods will return the key name applied in effect. Write methods will apply the key if it is present, or otherwise try to apply project default keys if it is absent.",
          "$ref": "EncryptionConfiguration"
        },
        "scheduleOptionsV2": {
          "description": "Options customizing different types of data transfer schedule. This field replaces \"schedule\" and \"schedule_options\" fields. ScheduleOptionsV2 cannot be used together with ScheduleOptions/Schedule.",
          "$ref": "ScheduleOptionsV2"
        },
        "userId": {
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
          "type": "string",
          "format": "int64"
        },
        "error": {
          "description": "Output only. Error code with detailed information about reason of the latest config failure.",
          "readOnly": true,
          "$ref": "Status"
        },
        "ownerInfo": {
          "description": "Output only. Information about the user whose credentials are used to transfer data. Populated only for `transferConfigs.get` requests. In case the user information is not available, this field will not be populated.",
          "readOnly": true,
          "$ref": "UserInfo"
        },
        "dataRefreshWindowDays": {
          "type": "integer",
          "description": "The number of days to look back to automatically refresh the data. For example, if `data_refresh_window_days = 10`, then every day BigQuery reingests data for [today-10, today-1], rather than ingesting data for just [today-1]. Only valid if the data source supports the feature. Set the value to 0 to use the default value.",
          "format": "int32"
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq"
        },
        "managedTableType": {
          "type": "string",
          "enum": [
            "MANAGED_TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "BIGLAKE"
          ],
          "description": "The classification of the destination table.",
          "enumDescriptions": [
            "Type unspecified. This defaults to `NATIVE` table.",
            "The managed table is a native BigQuery table. This is the default value.",
            "The managed table is a BigQuery table for Apache Iceberg (formerly BigLake managed tables), with a BigLake configuration."
          ]
        },
        "datasetRegion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region in which BigQuery dataset is located."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Data transfer modification time. Ignored by server on input.",
          "format": "google-datetime",
          "readOnly": true
        },
        "nextRunTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Next time when data transfer will run.",
          "type": "string"
        },
        "emailPreferences": {
          "description": "Email notifications will be sent according to these preferences to the email address of the user who owns this transfer config.",
          "$ref": "EmailPreferences"
        },
        "paramConfig": {
          "description": "Optional. The config for values in `params`.",
          "$ref": "ParameterConfig"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config."
        },
        "scheduleOptions": {
          "$ref": "ScheduleOptions",
          "description": "Options customizing the data transfer schedule."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ],
          "description": "Output only. State of the most recently updated transfer run."
        }
      },
      "id": "TransferConfig"
    },
    "TimeRange": {
      "type": "object",
      "description": "A specification for a time range, this will request transfer runs with run_time between start_time (inclusive) and end_time (exclusive).",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Start time of the range of transfer runs. For example, `\"2017-05-25T00:00:00+00:00\"`. The start_time must be strictly less than the end_time. Creates transfer runs where run_time is in the range between start_time (inclusive) and end_time (exclusive).",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "End time of the range of transfer runs. For example, `\"2017-05-30T00:00:00+00:00\"`. The end_time must not be in the future. Creates transfer runs where run_time is in the range between start_time (inclusive) and end_time (exclusive).",
          "format": "google-datetime"
        }
      },
      "id": "TimeRange"
    },
    "ScheduleTransferRunsRequest": {
      "properties": {
        "startTime": {
          "description": "Required. Start time of the range of transfer runs. For example, `\"2017-05-25T00:00:00+00:00\"`.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Required. End time of the range of transfer runs. For example, `\"2017-05-30T00:00:00+00:00\"`.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ScheduleTransferRunsRequest",
      "description": "A request to schedule transfer runs for a time range.",
      "type": "object"
    },
    "EventDrivenSchedule": {
      "type": "object",
      "properties": {
        "pubsubSubscription": {
          "type": "string",
          "description": "Pub/Sub subscription name used to receive events. Only Google Cloud Storage data source support this option. Format: projects/{project}/subscriptions/{subscription}"
        }
      },
      "id": "EventDrivenSchedule",
      "description": "Options customizing EventDriven transfers schedule."
    },
    "TransferResourceStatusDetail": {
      "id": "TransferResourceStatusDetail",
      "properties": {
        "completedPercentage": {
          "description": "Output only. Percentage of the transfer completed. Valid values: 0-100.",
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "Resource is waiting to be transferred.",
            "Resource transfer is running.",
            "Resource transfer is a success.",
            "Resource transfer failed.",
            "Resource transfer was cancelled."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TRANSFER_STATE_UNSPECIFIED",
            "RESOURCE_TRANSFER_PENDING",
            "RESOURCE_TRANSFER_RUNNING",
            "RESOURCE_TRANSFER_SUCCEEDED",
            "RESOURCE_TRANSFER_FAILED",
            "RESOURCE_TRANSFER_CANCELLED"
          ],
          "description": "Optional. Transfer state of the resource."
        },
        "error": {
          "$ref": "Status",
          "description": "Optional. Transfer error details for the resource."
        },
        "summary": {
          "description": "Optional. Transfer status summary of the resource.",
          "$ref": "TransferStatusSummary"
        }
      },
      "type": "object",
      "description": "Status details of the resource being transferred."
    },
    "TransferStatusMetric": {
      "description": "Metrics for tracking the transfer status.",
      "id": "TransferStatusMetric",
      "type": "object",
      "properties": {
        "unit": {
          "enumDescriptions": [
            "Default value.",
            "Bytes.",
            "Objects."
          ],
          "type": "string",
          "enum": [
            "TRANSFER_STATUS_UNIT_UNSPECIFIED",
            "TRANSFER_STATUS_UNIT_BYTES",
            "TRANSFER_STATUS_UNIT_OBJECTS"
          ],
          "description": "Optional. Unit for measuring progress (e.g., BYTES)."
        },
        "total": {
          "type": "string",
          "description": "Optional. Total number of units for the transfer.",
          "format": "int64"
        },
        "pending": {
          "description": "Optional. Number of units pending transfer.",
          "format": "int64",
          "type": "string"
        },
        "failed": {
          "description": "Optional. Number of units that failed to transfer.",
          "type": "string",
          "format": "int64"
        },
        "completed": {
          "description": "Optional. Number of units transferred successfully.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ScheduleTransferRunsResponse": {
      "properties": {
        "runs": {
          "description": "The transfer runs that were scheduled.",
          "items": {
            "$ref": "TransferRun"
          },
          "type": "array"
        }
      },
      "id": "ScheduleTransferRunsResponse",
      "type": "object",
      "description": "A response to schedule transfer runs for a time range."
    },
    "TableDetail": {
      "description": "Table details related to hierarchy.",
      "id": "TableDetail",
      "type": "object",
      "properties": {
        "partitionCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Total number of partitions being tracked within the table."
        }
      }
    },
    "StartManualTransferRunsRequest": {
      "description": "A request to start manual transfer runs.",
      "type": "object",
      "properties": {
        "requestedRunTime": {
          "format": "google-datetime",
          "description": "A run_time timestamp for historical data files or reports that are scheduled to be transferred by the scheduled transfer run. requested_run_time must be a past time and cannot include future time values.",
          "type": "string"
        },
        "requestedTimeRange": {
          "description": "A time_range start and end timestamp for historical data files or reports that are scheduled to be transferred by the scheduled transfer run. requested_time_range must be a past time and cannot include future time values.",
          "$ref": "TimeRange"
        }
      },
      "id": "StartManualTransferRunsRequest"
    },
    "ParameterConfig": {
      "properties": {
        "secretManagerManagedParams": {
          "description": "Optional. The list of parameters that are stored in Secret Manager. The value of a parameter included in this list will be interpreted as a Secret Manager key version resource name instead of a raw value. The raw value will be retrieved from Secret Manager upon execution.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ParameterConfig",
      "type": "object",
      "description": "Configuration for data source parameters."
    },
    "DataSource": {
      "description": "Defines the properties and custom parameters for a data source.",
      "type": "object",
      "properties": {
        "scopes": {
          "description": "Api auth scopes for which refresh token needs to be obtained. These are scopes needed by a data source to prepare data and ingest them into BigQuery, e.g., https://www.googleapis.com/auth/bigquery",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "User friendly data source name.",
          "type": "string"
        },
        "helpUrl": {
          "type": "string",
          "description": "Url for the help document for this data source."
        },
        "dataSourceId": {
          "description": "Data source id.",
          "type": "string"
        },
        "updateDeadlineSeconds": {
          "description": "The number of seconds to wait for an update from the data source before the Data Transfer Service marks the transfer as FAILED.",
          "format": "int32",
          "type": "integer"
        },
        "minimumScheduleInterval": {
          "description": "The minimum interval for scheduler to schedule runs.",
          "type": "string",
          "format": "google-duration"
        },
        "authorizationType": {
          "description": "Indicates the type of authorization.",
          "type": "string",
          "enum": [
            "AUTHORIZATION_TYPE_UNSPECIFIED",
            "AUTHORIZATION_CODE",
            "GOOGLE_PLUS_AUTHORIZATION_CODE",
            "FIRST_PARTY_OAUTH"
          ],
          "enumDescriptions": [
            "Type unspecified.",
            "Use OAuth 2 authorization codes that can be exchanged for a refresh token on the backend.",
            "Return an authorization code for a given Google+ page that can then be exchanged for a refresh token on the backend.",
            "Use First Party OAuth."
          ]
        },
        "dataRefreshType": {
          "description": "Specifies whether the data source supports automatic data refresh for the past few days, and how it's supported. For some data sources, data might not be complete until a few days later, so it's useful to refresh data automatically.",
          "enumDescriptions": [
            "The data source won't support data auto refresh, which is default value.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Does not allow custom values to be set for each transfer config.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Allows custom values to be set for each transfer config."
          ],
          "type": "string",
          "enum": [
            "DATA_REFRESH_TYPE_UNSPECIFIED",
            "SLIDING_WINDOW",
            "CUSTOM_SLIDING_WINDOW"
          ]
        },
        "transferType": {
          "enum": [
            "TRANSFER_TYPE_UNSPECIFIED",
            "BATCH",
            "STREAMING"
          ],
          "deprecated": true,
          "enumDescriptions": [
            "Invalid or Unknown transfer type placeholder.",
            "Batch data transfer.",
            "Streaming data transfer. Streaming data source currently doesn't support multiple transfer configs per project."
          ],
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "clientId": {
          "description": "Data source client id which should be used to receive refresh token.",
          "type": "string"
        },
        "parameters": {
          "description": "Data source parameters.",
          "type": "array",
          "items": {
            "$ref": "DataSourceParameter"
          }
        },
        "name": {
          "description": "Output only. Data source resource name.",
          "readOnly": true,
          "type": "string"
        },
        "defaultDataRefreshWindowDays": {
          "format": "int32",
          "description": "Default data refresh window on days. Only meaningful when `data_refresh_type` = `SLIDING_WINDOW`.",
          "type": "integer"
        },
        "description": {
          "type": "string",
          "description": "User friendly data source description string."
        },
        "supportsCustomSchedule": {
          "type": "boolean",
          "description": "Specifies whether the data source supports a user defined schedule, or operates on the default schedule. When set to `true`, user can override default schedule."
        },
        "defaultSchedule": {
          "type": "string",
          "description": "Default data transfer schedule. Examples of valid schedules include: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`."
        },
        "manualRunsDisabled": {
          "type": "boolean",
          "description": "Disables backfilling and manual run scheduling for the data source."
        },
        "supportsMultipleTransfers": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated. This field has no effect."
        }
      },
      "id": "DataSource"
    },
    "UnenrollDataSourcesRequest": {
      "properties": {
        "dataSourceIds": {
          "description": "Data sources that are unenrolled. It is required to provide at least one data source id.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "UnenrollDataSourcesRequest",
      "description": "A request to unenroll a set of data sources so they are no longer visible in the BigQuery UI's `Transfer` tab.",
      "type": "object"
    },
    "ListTransferLogsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `GetTransferRunLogRequest.page_token` to request the next page of list results.",
          "type": "string",
          "readOnly": true
        },
        "transferMessages": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The stored pipeline transfer messages.",
          "items": {
            "$ref": "TransferMessage"
          }
        }
      },
      "type": "object",
      "id": "ListTransferLogsResponse",
      "description": "The returned list transfer run messages."
    },
    "ManualSchedule": {
      "id": "ManualSchedule",
      "description": "Options customizing manual transfers schedule.",
      "properties": {},
      "type": "object"
    },
    "UserInfo": {
      "id": "UserInfo",
      "properties": {
        "email": {
          "description": "E-mail address of the user.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about a user."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "EnrollDataSourcesRequest": {
      "description": "A request to enroll a set of data sources so they are visible in the BigQuery UI's `Transfer` tab.",
      "id": "EnrollDataSourcesRequest",
      "properties": {
        "dataSourceIds": {
          "type": "array",
          "description": "Data sources that are enrolled. It is required to provide at least one data source id.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "DataplexConfiguration": {
      "type": "object",
      "properties": {
        "entryGroup": {
          "description": "Required. The Dataplex Universal Catalog entry group for importing the metadata. entry_group has the format of `projects/{project_id}/locations/{region}/entryGroups/{entry_group_id}`.",
          "type": "string"
        }
      },
      "id": "DataplexConfiguration",
      "description": "Configuration for Dataplex destination."
    },
    "ListTransferResourcesResponse": {
      "description": "Response for the `ListTransferResources` RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "transferResources": {
          "readOnly": true,
          "description": "Output only. The transfer resources.",
          "type": "array",
          "items": {
            "$ref": "TransferResource"
          }
        }
      },
      "id": "ListTransferResourcesResponse",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "TimeBasedSchedule": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be scheduled at or after the end time. The end time can be changed at any moment."
        },
        "schedule": {
          "description": "Data transfer schedule. If the data source does not support a custom schedule, this should be empty. If it is empty, the default value for the data source will be used. The specified times are in UTC. Examples of valid format: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`. See more explanation about the format here: https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format NOTE: The minimum interval time between recurring transfers depends on the data source; refer to the documentation for your data source.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Specifies time to start scheduling transfer runs. The first run will be scheduled at or after the start time according to a recurrence pattern defined in the schedule string. The start time can be changed at any moment."
        }
      },
      "id": "TimeBasedSchedule",
      "description": "Options customizing the time based transfer schedule. Options are migrated from the original ScheduleOptions message.",
      "type": "object"
    },
    "TransferRunBrief": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Start time of the transfer run."
        },
        "run": {
          "description": "Optional. Run URI. The format must be: `projects/{project}/locations/{location}/transferConfigs/{transfer_config}/run/{run}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TransferRunBrief",
      "description": "Basic information about a transfer run."
    },
    "TransferMessage": {
      "properties": {
        "severity": {
          "type": "string",
          "enum": [
            "MESSAGE_SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "description": "Message severity.",
          "enumDescriptions": [
            "No severity specified.",
            "Informational message.",
            "Warning message.",
            "Error message."
          ]
        },
        "messageText": {
          "description": "Message text.",
          "type": "string"
        },
        "messageTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when message was logged."
        }
      },
      "description": "Represents a user facing message for a particular data transfer run.",
      "type": "object",
      "id": "TransferMessage"
    },
    "ScheduleOptions": {
      "type": "object",
      "properties": {
        "disableAutoScheduling": {
          "description": "If true, automatic scheduling of data transfer runs for this configuration will be disabled. The runs can be started on ad-hoc basis using StartManualTransferRuns API. When automatic scheduling is disabled, the TransferConfig.schedule field will be ignored.",
          "type": "boolean"
        },
        "startTime": {
          "description": "Specifies time to start scheduling transfer runs. The first run will be scheduled at or after the start time according to a recurrence pattern defined in the schedule string. The start time can be changed at any moment. The time when a data transfer can be triggered manually is not limited by this option.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be scheduled at or after the end time. The end time can be changed at any moment. The time when a data transfer can be triggered manually is not limited by this option.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ScheduleOptions",
      "description": "Options customizing the data transfer schedule."
    },
    "DataSourceParameter": {
      "type": "object",
      "properties": {
        "maxListSize": {
          "format": "int64",
          "type": "string",
          "description": "For list parameters, the max size of the list."
        },
        "description": {
          "description": "Parameter description.",
          "type": "string"
        },
        "fields": {
          "description": "Deprecated. This field has no effect.",
          "items": {
            "$ref": "DataSourceParameter"
          },
          "type": "array"
        },
        "validationDescription": {
          "type": "string",
          "description": "Description of the requirements for this field, in case the user input does not fulfill the regex pattern or min/max values."
        },
        "secretManagerAllowed": {
          "type": "boolean",
          "description": "Output only. If true, the parameter value can be provided through Secret Manager.",
          "readOnly": true
        },
        "repeated": {
          "description": "Deprecated. This field has no effect.",
          "type": "boolean"
        },
        "maxValue": {
          "type": "number",
          "description": "For integer and double values specifies maximum allowed value.",
          "format": "double"
        },
        "immutable": {
          "type": "boolean",
          "description": "Cannot be changed after initial creation."
        },
        "paramId": {
          "description": "Parameter identifier.",
          "type": "string"
        },
        "required": {
          "description": "Is parameter required.",
          "type": "boolean"
        },
        "type": {
          "enumDescriptions": [
            "Type unspecified.",
            "String parameter.",
            "Integer parameter (64-bits). Will be serialized to json as string.",
            "Double precision floating point parameter.",
            "Boolean parameter.",
            "Deprecated. This field has no effect.",
            "Page ID for a Google+ Page.",
            "List of strings parameter."
          ],
          "description": "Parameter type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "DOUBLE",
            "BOOLEAN",
            "RECORD",
            "PLUS_PAGE",
            "LIST"
          ]
        },
        "validationRegex": {
          "description": "Regular expression which can be used for parameter validation.",
          "type": "string"
        },
        "validationHelpUrl": {
          "description": "URL to a help document to further explain the naming requirements.",
          "type": "string"
        },
        "displayName": {
          "description": "Parameter display name in the user interface.",
          "type": "string"
        },
        "recurse": {
          "description": "Deprecated. This field has no effect.",
          "type": "boolean"
        },
        "deprecated": {
          "type": "boolean",
          "description": "If true, it should not be used in new transfers, and it should not be visible to users."
        },
        "allowedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All possible values for the parameter."
        },
        "minValue": {
          "format": "double",
          "type": "number",
          "description": "For integer and double values specifies minimum allowed value."
        }
      },
      "id": "DataSourceParameter",
      "description": "A parameter used to define custom fields in a data source definition."
    },
    "CheckValidCredsRequest": {
      "properties": {},
      "type": "object",
      "id": "CheckValidCredsRequest",
      "description": "A request to determine whether the user has valid credentials. This method is used to limit the number of OAuth popups in the user interface. The user id is inferred from the API call context. If the data source has the Google+ authorization type, this method returns false, as it cannot be determined whether the credentials are already valid merely based on the user id."
    },
    "PartitionDetail": {
      "id": "PartitionDetail",
      "properties": {
        "table": {
          "type": "string",
          "description": "Optional. Name of the table which has the partitions."
        }
      },
      "type": "object",
      "description": "Partition details related to hierarchy."
    },
    "ListTransferConfigsResponse": {
      "id": "ListTransferConfigsResponse",
      "description": "The returned list of pipelines in the project.",
      "type": "object",
      "properties": {
        "transferConfigs": {
          "items": {
            "$ref": "TransferConfig"
          },
          "description": "Output only. The stored pipeline transfer configurations.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferConfigsRequest.page_token` to request the next page of list results.",
          "readOnly": true
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      }
    },
    "ListDataSourcesResponse": {
      "id": "ListDataSourcesResponse",
      "properties": {
        "dataSources": {
          "items": {
            "$ref": "DataSource"
          },
          "description": "List of supported data sources and their transfer settings.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListDataSourcesRequest.page_token` to request the next page of list results."
        }
      },
      "type": "object",
      "description": "Returns list of supported data sources and their metadata."
    },
    "MetadataDestination": {
      "description": "The metadata destination of the transfer config.",
      "id": "MetadataDestination",
      "type": "object",
      "properties": {
        "dataplexConfiguration": {
          "$ref": "DataplexConfiguration",
          "description": "The Dataplex Universal Catalog configuration."
        }
      }
    },
    "TransferResource": {
      "type": "object",
      "id": "TransferResource",
      "description": "Resource (table/partition) that is being transferred.",
      "properties": {
        "lastSuccessfulRun": {
          "$ref": "TransferRunBrief",
          "description": "Output only. Run details for the last successful run.",
          "readOnly": true
        },
        "latestRun": {
          "description": "Optional. Run details for the latest run.",
          "$ref": "TransferRunBrief"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name."
        },
        "destination": {
          "enumDescriptions": [
            "Default value.",
            "BigQuery.",
            "Dataproc Metastore.",
            "BigLake Metastore.",
            "BigLake REST Catalog.",
            "BigLake Hive Catalog."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_DESTINATION_UNSPECIFIED",
            "RESOURCE_DESTINATION_BIGQUERY",
            "RESOURCE_DESTINATION_DATAPROC_METASTORE",
            "RESOURCE_DESTINATION_BIGLAKE_METASTORE",
            "RESOURCE_DESTINATION_BIGLAKE_REST_CATALOG",
            "RESOURCE_DESTINATION_BIGLAKE_HIVE_CATALOG"
          ],
          "description": "Optional. Resource destination."
        },
        "latestStatusDetail": {
          "description": "Optional. Status details for the latest run.",
          "$ref": "TransferResourceStatusDetail"
        },
        "hierarchyDetail": {
          "description": "Optional. Details about the hierarchy.",
          "$ref": "HierarchyDetail"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the resource was last updated."
        },
        "type": {
          "description": "Optional. Resource type.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Table resource type.",
            "Partition resource type."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_TABLE",
            "RESOURCE_TYPE_PARTITION"
          ]
        }
      }
    },
    "EncryptionConfiguration": {
      "properties": {
        "kmsKeyName": {
          "description": "The name of the KMS key used for encrypting BigQuery data.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EncryptionConfiguration",
      "description": "Represents the encryption configuration for a transfer."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "EmailPreferences": {
      "description": "Represents preferences for sending email notifications for transfer run events.",
      "id": "EmailPreferences",
      "type": "object",
      "properties": {
        "enableFailureEmail": {
          "type": "boolean",
          "description": "If true, email notifications will be sent on transfer run failures."
        }
      }
    },
    "CheckValidCredsResponse": {
      "type": "object",
      "description": "A response indicating whether the credentials exist and are valid.",
      "id": "CheckValidCredsResponse",
      "properties": {
        "hasValidCreds": {
          "description": "If set to `true`, the credentials exist and are valid.",
          "type": "boolean"
        }
      }
    },
    "TransferStatusSummary": {
      "properties": {
        "progressUnit": {
          "description": "Input only. Unit based on which transfer status progress should be calculated.",
          "type": "string",
          "enum": [
            "TRANSFER_STATUS_UNIT_UNSPECIFIED",
            "TRANSFER_STATUS_UNIT_BYTES",
            "TRANSFER_STATUS_UNIT_OBJECTS"
          ],
          "enumDescriptions": [
            "Default value.",
            "Bytes.",
            "Objects."
          ]
        },
        "metrics": {
          "description": "Optional. List of transfer status metrics.",
          "type": "array",
          "items": {
            "$ref": "TransferStatusMetric"
          }
        }
      },
      "type": "object",
      "id": "TransferStatusSummary",
      "description": "Status summary of the resource being transferred."
    },
    "ListTransferRunsResponse": {
      "properties": {
        "transferRuns": {
          "description": "Output only. The stored pipeline transfer runs.",
          "type": "array",
          "items": {
            "$ref": "TransferRun"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferRunsRequest.page_token` to request the next page of list results."
        }
      },
      "id": "ListTransferRunsResponse",
      "description": "The returned list of pipelines in the project.",
      "type": "object"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "bigquerydatatransfer",
  "basePath": "",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://bigquerydatatransfer.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://bigquerydatatransfer.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://bigquerydatatransfer.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://bigquerydatatransfer.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://bigquerydatatransfer.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://bigquerydatatransfer.us-central2.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://bigquerydatatransfer.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://bigquerydatatransfer.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://bigquerydatatransfer.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west8",
      "endpointUrl": "https://bigquerydatatransfer.us-west8.rep.googleapis.com/"
    }
  ],
  "canonicalName": "BigQuery Data Transfer",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/bigquery-transfer/",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dataSources": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Retrieves a supported data source and returns its settings.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "DataSource"
                  },
                  "id": "bigquerydatatransfer.projects.locations.dataSources.get"
                },
                "checkValidCreds": {
                  "description": "Returns true if valid credentials exist for the given data source and requesting user.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}:checkValidCreds",
                  "request": {
                    "$ref": "CheckValidCredsRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:checkValidCreds",
                  "id": "bigquerydatatransfer.projects.locations.dataSources.checkValidCreds",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the data source. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/dataSources/{data_source_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "CheckValidCredsResponse"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListDataSourcesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/dataSources",
                  "description": "Lists supported data sources and returns their settings.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "format": "int32"
                    }
                  },
                  "id": "bigquerydatatransfer.projects.locations.dataSources.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources",
                  "httpMethod": "GET"
                }
              }
            },
            "transferConfigs": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "description": "Required. The name of the resource to delete. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.delete",
                  "description": "Deletes a data transfer configuration, including any associated transfer runs and logs.",
                  "path": "v1/{+name}"
                },
                "scheduleRuns": {
                  "request": {
                    "$ref": "ScheduleTransferRunsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
                  "response": {
                    "$ref": "ScheduleTransferRunsResponse"
                  },
                  "description": "Creates transfer runs for a time range [start_time, end_time]. For each date - or whatever granularity the data source supports - in the range, one transfer run is created. Note that runs are created per UTC time in the time range. DEPRECATED: use StartManualTransferRuns instead.",
                  "path": "v1/{+parent}:scheduleRuns",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "type": "string"
                    }
                  },
                  "deprecated": true,
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.scheduleRuns",
                  "httpMethod": "POST"
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TransferConfig"
                  },
                  "request": {
                    "$ref": "TransferConfig"
                  },
                  "path": "v1/{+parent}/transferConfigs",
                  "parameters": {
                    "versionInfo": {
                      "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                      "type": "string",
                      "location": "query"
                    },
                    "serviceAccountName": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts)."
                    },
                    "authorizationCode": {
                      "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to create the transfer config.",
                      "location": "query",
                      "deprecated": true,
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The BigQuery project id where the transfer configuration should be created. Must be in the format projects/{project_id}/locations/{location_id} or projects/{project_id}. If specified location and location of the destination bigquery dataset do not match - the request will fail.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new data transfer configuration.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "request": {
                    "$ref": "TransferConfig"
                  },
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the transfer config. Transfer config names have the form either `projects/{project_id}/locations/{region}/transferConfigs/{config_id}` or `projects/{project_id}/transferConfigs/{config_id}`, where `config_id` is usually a UUID, even though it is not guaranteed or required. The name is ignored when creating a transfer config."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Required list of fields to be updated in this request.",
                      "location": "query",
                      "type": "string"
                    },
                    "authorizationCode": {
                      "location": "query",
                      "type": "string",
                      "deprecated": true,
                      "description": "Deprecated: Authorization code was required when `transferConfig.dataSourceId` is 'youtube_channel' but it is no longer used in any data sources. Use `version_info` instead. Optional OAuth2 authorization code to use with this transfer configuration. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' and new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=authorization_code&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config."
                    },
                    "serviceAccountName": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional service account email. If this field is set, the transfer config will be created with this service account's credentials. It requires that the requesting user calling this API has permissions to act as this service account. Note that not all data sources support service account credentials when creating a transfer config. For the latest list of data sources, read about [using service accounts](https://cloud.google.com/bigquery-transfer/docs/use-service-accounts)."
                    },
                    "versionInfo": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional version info. This parameter replaces `authorization_code` which is no longer used in any data sources. This is required only if `transferConfig.dataSourceId` is 'youtube_channel' *or* new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain version info, make a request to the following URL: https://bigquery.cloud.google.com/datatransfer/oauthz/auth?redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=version_info&client_id=client_id&scope=data_source_scopes * The client_id is the OAuth client_id of the data source as returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. Note that this should not be set when `service_account_name` is used to update the transfer config."
                    }
                  },
                  "description": "Updates a data transfer configuration. All fields must be set, even if they are not updated.",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "TransferConfig"
                  }
                },
                "startManualRuns": {
                  "request": {
                    "$ref": "StartManualTransferRunsRequest"
                  },
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.startManualRuns",
                  "response": {
                    "$ref": "StartManualTransferRunsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}:startManualRuns",
                  "httpMethod": "POST",
                  "description": "Manually initiates transfer runs. You can schedule these runs in two ways: 1. For a specific point in time using the 'requested_run_time' parameter. 2. For a period between 'start_time' (inclusive) and 'end_time' (exclusive). If scheduling a single run, it is set to execute immediately (schedule_time equals the current time). When scheduling multiple runs within a time range, the first run starts now, and subsequent runs are delayed by 15 seconds each.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}:startManualRuns",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "description": "Required. Transfer configuration name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns information about a data transfer config.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "response": {
                    "$ref": "TransferConfig"
                  },
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.get"
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The BigQuery project id for which transfer configs should be returned. If you are using the regionless method, the location must be `US` and `parent` should be in the following form: * `projects/{project_id} If you are using the regionalized method, `parent` should be in the following form: * `projects/{project_id}/locations/{location_id}`",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Pagination token, which can be used to request a specific page of `ListTransfersRequest` list results. For multiple-page results, `ListTransfersResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                      "type": "string"
                    },
                    "dataSourceIds": {
                      "repeated": true,
                      "location": "query",
                      "description": "When specified, only configurations of requested data sources are returned.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.list",
                  "response": {
                    "$ref": "ListTransferConfigsResponse"
                  },
                  "description": "Returns information about all transfer configs owned by a project in the specified location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/transferConfigs"
                }
              },
              "resources": {
                "runs": {
                  "methods": {
                    "delete": {
                      "description": "Deletes the specified transfer run.",
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "path": "v1/{+parent}/runs",
                      "response": {
                        "$ref": "ListTransferRunsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs",
                      "description": "Returns information about running and completed transfer runs.",
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of transfer configuration for which transfer runs should be retrieved. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                          "type": "string"
                        },
                        "runAttempt": {
                          "type": "string",
                          "enumDescriptions": [
                            "All runs should be returned.",
                            "Only latest run per day should be returned."
                          ],
                          "enum": [
                            "RUN_ATTEMPT_UNSPECIFIED",
                            "LATEST"
                          ],
                          "location": "query",
                          "description": "Indicates how run attempts are to be pulled."
                        },
                        "states": {
                          "type": "string",
                          "description": "When specified, only transfer runs with requested states are returned.",
                          "enumDescriptions": [
                            "State placeholder (0).",
                            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
                            "Data transfer is in progress (3).",
                            "Data transfer completed successfully (4).",
                            "Data transfer failed (5).",
                            "Data transfer is cancelled (6)."
                          ],
                          "repeated": true,
                          "location": "query",
                          "enum": [
                            "TRANSFER_STATE_UNSPECIFIED",
                            "PENDING",
                            "RUNNING",
                            "SUCCEEDED",
                            "FAILED",
                            "CANCELLED"
                          ]
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Page size. The default page size is the maximum value of 1000 results."
                        },
                        "pageToken": {
                          "description": "Pagination token, which can be used to request a specific page of `ListTransferRunsRequest` list results. For multiple-page results, `ListTransferRunsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    },
                    "get": {
                      "description": "Returns information about the particular transfer run.",
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.get",
                      "response": {
                        "$ref": "TransferRun"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "description": "Required. The name of the resource requested. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    }
                  },
                  "resources": {
                    "transferLogs": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListTransferLogsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/bigquery",
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "description": "Returns log messages for the transfer run.",
                          "httpMethod": "GET",
                          "parameters": {
                            "messageTypes": {
                              "description": "Message types to return. If not populated - INFO, WARNING and ERROR messages are returned.",
                              "location": "query",
                              "enum": [
                                "MESSAGE_SEVERITY_UNSPECIFIED",
                                "INFO",
                                "WARNING",
                                "ERROR"
                              ],
                              "repeated": true,
                              "enumDescriptions": [
                                "No severity specified.",
                                "Informational message.",
                                "Warning message.",
                                "Error message."
                              ],
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "Pagination token, which can be used to request a specific page of `ListTransferLogsRequest` list results. For multiple-page results, `ListTransferLogsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Page size. The default page size is the maximum value of 1000 results.",
                              "location": "query",
                              "type": "integer"
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                              "description": "Required. Transfer run name. If you are using the regionless method, the location must be `US` and the name should be in the following form: * `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` If you are using the regionalized method, the name should be in the following form: * `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                          "path": "v1/{+parent}/transferLogs",
                          "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.transferLogs.list"
                        }
                      }
                    }
                  }
                },
                "transferResources": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "TransferResource"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the transfer resource in the form of: * `projects/{project}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}` * `projects/{project}/locations/{location}/transferConfigs/{transfer_config}/transferResources/{transfer_resource}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/transferResources/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Returns a transfer resource.",
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.transferResources.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/transferResources/{transferResourcesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Returns information about transfer resources.",
                      "response": {
                        "$ref": "ListTransferResourcesResponse"
                      },
                      "path": "v1/{+parent}/transferResources",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of transfer resources to return. The maximum value is 1000; values above 1000 will be coerced to 1000. The default page size is the maximum value of 1000 results."
                        },
                        "parent": {
                          "description": "Required. Name of transfer configuration for which transfer resources should be retrieved. The name should be in one of the following forms: * `projects/{project}/transferConfigs/{transfer_config}` * `projects/{project}/locations/{location_id}/transferConfigs/{transfer_config}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter for the transfer resources. Currently supported filters include: * Resource name: `name` - Wildcard supported * Resource type: `type` * Resource destination: `destination` * Latest resource state: `latest_status_detail.state` * Last update time: `update_time` - RFC-3339 format * Parent table name: `hierarchy_detail.partition_detail.table` Multiple filters can be applied using the `AND/OR` operator. Examples: * `name=\"*123\" AND (type=\"TABLE\" OR latest_status_detail.state=\"SUCCEEDED\")` * `update_time >= \"2012-04-21T11:30:00-04:00\"` * `hierarchy_detail.partition_detail.table = \"table1\"`",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListTransferResources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTransferResources` must match the call that provided the page token."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/transferResources",
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.transferResources.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
[...]
