{
  "version": "v2",
  "version_module": true,
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin.instance": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        }
      }
    }
  },
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "TieredStorageConfig": {
      "description": "Config for tiered storage. A valid config must have a valid TieredStorageRule. Otherwise the whole TieredStorageConfig must be unset. By default all data is stored in the SSD tier (only SSD instances can configure tiered storage).",
      "id": "TieredStorageConfig",
      "type": "object",
      "properties": {
        "infrequentAccess": {
          "description": "Rule to specify what data is stored in the infrequent access(IA) tier. The IA tier allows storing more data per node with reduced performance.",
          "$ref": "TieredStorageRule"
        }
      }
    },
    "GenerateConsistencyTokenResponse": {
      "type": "object",
      "properties": {
        "consistencyToken": {
          "type": "string",
          "description": "The generated consistency token."
        }
      },
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "id": "GenerateConsistencyTokenResponse"
    },
    "CheckConsistencyRequest": {
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "type": "object",
      "properties": {
        "standardReadRemoteWrites": {
          "$ref": "StandardReadRemoteWrites",
          "description": "Checks that reads using an app profile with `StandardIsolation` can see all writes committed before the token was created, even if the read and write target different clusters."
        },
        "dataBoostReadLocalWrites": {
          "description": "Checks that reads using an app profile with `DataBoostIsolationReadOnly` can see all writes committed before the token was created, but only if the read and write target the same cluster.",
          "$ref": "DataBoostReadLocalWrites"
        },
        "consistencyToken": {
          "description": "Required. The token created using GenerateConsistencyToken for the Table.",
          "type": "string"
        }
      },
      "id": "CheckConsistencyRequest"
    },
    "LogicalView": {
      "id": "LogicalView",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The unique name of the logical view. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag for this logical view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag."
        },
        "deletionProtection": {
          "description": "Optional. Set to true to make the LogicalView protected against deletion.",
          "type": "boolean"
        },
        "query": {
          "description": "Required. The logical view's select query.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A SQL logical view object that can be referenced in SQL queries."
    },
    "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes": {
      "description": "Encodes the value as an 8-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putLong()` with `ByteOrder.BIG_ENDIAN`",
      "properties": {
        "bytesType": {
          "$ref": "GoogleBigtableAdminV2TypeBytes",
          "deprecated": true,
          "description": "Deprecated: ignored if set."
        }
      },
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes"
    },
    "DropRowRangeRequest": {
      "id": "DropRowRangeRequest",
      "properties": {
        "rowKeyPrefix": {
          "description": "Delete all rows that start with this row key prefix. Prefix cannot be zero length.",
          "format": "byte",
          "type": "string"
        },
        "deleteAllDataFromTable": {
          "type": "boolean",
          "description": "Delete all rows in the table. Setting this to false is a no-op."
        }
      },
      "type": "object",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.DropRowRange"
    },
    "CreateTableRequest": {
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CreateTable",
      "type": "object",
      "id": "CreateTableRequest",
      "properties": {
        "initialSplits": {
          "description": "The optional list of row keys that will be used to initially split the table into several tablets (tablets are similar to HBase regions). Given two split keys, `s1` and `s2`, three tablets will be created, spanning the key ranges: `[, s1), [s1, s2), [s2, )`. Example: * Row keys := `[\"a\", \"apple\", \"custom\", \"customer_1\", \"customer_2\",` `\"other\", \"zz\"]` * initial_split_keys := `[\"apple\", \"customer_1\", \"customer_2\", \"other\"]` * Key assignment: - Tablet 1 `[, apple) => {\"a\"}.` - Tablet 2 `[apple, customer_1) => {\"apple\", \"custom\"}.` - Tablet 3 `[customer_1, customer_2) => {\"customer_1\"}.` - Tablet 4 `[customer_2, other) => {\"customer_2\"}.` - Tablet 5 `[other, ) => {\"other\", \"zz\"}.`",
          "type": "array",
          "items": {
            "$ref": "Split"
          }
        },
        "tableId": {
          "description": "Required. The name by which the new table should be referred to within the parent instance, e.g., `foobar` rather than `{parent}/tables/foobar`. Maximum 50 characters.",
          "type": "string"
        },
        "table": {
          "$ref": "Table",
          "description": "Required. The Table to create."
        }
      }
    },
    "GoogleBigtableAdminV2TypeAggregateSum": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeAggregateSum",
      "description": "Computes the sum of the input values. Allowed input: `Int64` State: same as input",
      "properties": {}
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "MaterializedView": {
      "description": "A materialized view object that can be referenced in SQL queries.",
      "type": "object",
      "properties": {
        "clusterStates": {
          "readOnly": true,
          "description": "Output only. Map from cluster ID to per-cluster materialized view state. If it could not be determined whether or not the materialized view has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with `STATE_NOT_KNOWN` state. Views: `REPLICATION_VIEW`, `FULL`.",
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2MaterializedViewClusterState"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The unique name of the materialized view. Format: `projects/{project}/instances/{instance}/materializedViews/{materialized_view}` Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`.",
          "type": "string"
        },
        "query": {
          "description": "Required. Immutable. The materialized view's select query. Views: `SCHEMA_VIEW`, `FULL`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag for this materialized view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`."
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Set to true to make the MaterializedView protected against deletion. Views: `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`."
        }
      },
      "id": "MaterializedView"
    },
    "UpdateMemoryLayerRequest": {
      "properties": {
        "memoryLayer": {
          "$ref": "MemoryLayer",
          "description": "Required. The memory layer to update. The memory layer's `name` format is as follows: `projects/{project}/instances/{instance}/clusters/{cluster}/memoryLayer`."
        },
        "updateMask": {
          "description": "Optional. The list of fields to update.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "Request message for BigtableInstanceAdmin.UpdateMemoryLayer.",
      "type": "object",
      "id": "UpdateMemoryLayerRequest"
    },
    "Backup": {
      "type": "object",
      "id": "Backup",
      "description": "A backup of a Cloud Bigtable table.",
      "properties": {
        "backupType": {
          "type": "string",
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "STANDARD",
            "HOT"
          ],
          "description": "Indicates the backup type of the backup.",
          "enumDescriptions": [
            "Not specified.",
            "The default type for Cloud Bigtable managed backups. Supported for backups created in both HDD and SSD instances. Requires optimization when restored to a table in an SSD instance.",
            "A backup type with faster restore to SSD performance. Only supported for backups created in SSD instances. A new SSD table restored from a hot backup reaches production performance more quickly than a standard backup."
          ]
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the backup.",
          "readOnly": true
        },
        "sourceTable": {
          "description": "Required. Immutable. Name of the table from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects/{project}/instances/{instance}/tables/{source_table}`.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. `start_time` is the time that the backup was started (i.e. approximately the time the CreateBackup request is received). The row data in this backup will be no older than this timestamp.",
          "type": "string"
        },
        "name": {
          "description": "A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/ backups/_a-zA-Z0-9*` The final segment of the name must be between 1 and 50 characters in length. The backup is stored in the cluster identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}/clusters/{cluster}`.",
          "type": "string"
        },
        "sourceBackup": {
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/",
          "readOnly": true,
          "type": "string"
        },
        "sizeBytes": {
          "description": "Output only. Size of the backup in bytes.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The expiration time of the backup. When creating a backup or updating its `expire_time`, the value must be greater than the backup creation time by: - At least 6 hours - At most 90 days Once the `expire_time` has passed, Cloud Bigtable will delete the backup."
        },
        "hotToStandardTime": {
          "description": "The time at which the hot backup will be converted to a standard backup. Once the `hot_to_standard_time` has passed, Cloud Bigtable will convert the hot backup to a standard backup. This value must be greater than the backup creation time by: - At least 24 hours This field only applies for hot backups. When creating or updating a standard backup, attempting to set this field will fail the request.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. `end_time` is the time that the backup was finished. The row data in the backup will be no newer than this timestamp.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the backup.",
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ]
        }
      }
    },
    "CreateLogicalViewMetadata": {
      "type": "object",
      "description": "The metadata for the Operation returned by CreateLogicalView.",
      "id": "CreateLogicalViewMetadata",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "deprecated": true,
          "description": "DEPRECATED: Use request_time instead.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "deprecated": true,
          "description": "DEPRECATED: Use finish_time instead."
        },
        "originalRequest": {
          "$ref": "CreateLogicalViewRequest",
          "description": "The request that prompted the initiation of this CreateLogicalView operation."
        }
      }
    },
    "GoogleBigtableAdminV2TypeStructEncodingSingleton": {
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeStructEncodingSingleton",
      "description": "Uses the encoding of `fields[0].type` as-is. Only valid if `fields.size == 1`. This encoding does not support `DESC` field ordering.",
      "type": "object"
    },
    "GoogleBigtableAdminV2AuthorizedViewFamilySubsets": {
      "type": "object",
      "description": "Subsets of a column family that are included in this AuthorizedView.",
      "properties": {
        "qualifiers": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          },
          "description": "Individual exact column qualifiers to be included in the AuthorizedView."
        },
        "qualifierPrefixes": {
          "type": "array",
          "description": "Prefixes for qualifiers to be included in the AuthorizedView. Every qualifier starting with one of these prefixes is included in the AuthorizedView. To provide access to all qualifiers, include the empty string as a prefix (\"\").",
          "items": {
            "type": "string",
            "format": "byte"
          }
        }
      },
      "id": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets"
    },
    "GoogleBigtableAdminV2TypeString": {
      "type": "object",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeStringEncoding"
        }
      },
      "id": "GoogleBigtableAdminV2TypeString",
      "description": "String Values of type `String` are stored in `Value.string_value`."
    },
    "ListMaterializedViewsResponse": {
      "id": "ListMaterializedViewsResponse",
      "type": "object",
      "properties": {
        "materializedViews": {
          "type": "array",
          "items": {
            "$ref": "MaterializedView"
          },
          "description": "The list of requested materialized views."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for BigtableInstanceAdmin.ListMaterializedViews."
    },
    "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes": {
      "id": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes",
      "type": "object",
      "description": "Encodes the value in a variable length binary format of up to 5 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "properties": {}
    },
    "ListTablesResponse": {
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListTables",
      "type": "object",
      "id": "ListTablesResponse",
      "properties": {
        "tables": {
          "description": "The tables present in the requested instance.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        },
        "nextPageToken": {
          "description": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        }
      }
    },
    "Union": {
      "properties": {
        "rules": {
          "type": "array",
          "description": "Delete cells which would be deleted by any element of `rules`.",
          "items": {
            "$ref": "GcRule"
          }
        }
      },
      "id": "Union",
      "description": "A GcRule which deletes cells matching any of the given rules.",
      "type": "object"
    },
    "GenerateConsistencyTokenRequest": {
      "id": "GenerateConsistencyTokenRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "properties": {},
      "type": "object"
    },
    "PartialUpdateInstanceRequest": {
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance.",
      "properties": {
        "instance": {
          "description": "Required. The Instance which will (partially) replace the current value.",
          "$ref": "Instance"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set."
        }
      },
      "id": "PartialUpdateInstanceRequest",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes",
      "description": "Encodes the value as a 4-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putInt()` with `ByteOrder.BIG_ENDIAN`",
      "properties": {}
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`",
          "type": "string"
        }
      },
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster."
    },
    "CreateBackupMetadata": {
      "description": "Metadata type for the operation returned by CreateBackup.",
      "type": "object",
      "properties": {
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The name of the backup being created.",
          "type": "string"
        },
        "startTime": {
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "format": "google-datetime",
          "type": "string",
          "deprecated": true
        },
        "endTime": {
          "type": "string",
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead.",
          "format": "google-datetime",
          "deprecated": true
        },
        "sourceTable": {
          "description": "The name of the table the backup is created from.",
          "type": "string"
        }
      },
      "id": "CreateBackupMetadata"
    },
    "Operation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "ListAuthorizedViewsResponse": {
      "id": "ListAuthorizedViewsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        },
        "authorizedViews": {
          "description": "The AuthorizedViews present in the requested table.",
          "items": {
            "$ref": "AuthorizedView"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListAuthorizedViews"
    },
    "ClusterConfig": {
      "properties": {
        "clusterAutoscalingConfig": {
          "description": "Autoscaling configuration for this cluster.",
          "$ref": "ClusterAutoscalingConfig"
        }
      },
      "description": "Configuration for a cluster.",
      "id": "ClusterConfig",
      "type": "object"
    },
    "CreateClusterMetadata": {
      "description": "The metadata for the Operation returned by CreateCluster.",
      "properties": {
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "originalRequest": {
          "$ref": "CreateClusterRequest",
          "description": "The request that prompted the initiation of this CreateCluster operation."
        },
        "tables": {
          "additionalProperties": {
            "$ref": "TableProgress"
          },
          "type": "object",
          "description": "Keys: the full `name` of each table that existed in the instance when CreateCluster was first called, i.e. `projects//instances//tables/`. Any table added to the instance by a later API call will be created in the new cluster by that API call, not this one. Values: information on how much of a table's data has been copied to the newly-created cluster so far."
        }
      },
      "id": "CreateClusterMetadata",
      "type": "object"
    },
    "Intersection": {
      "description": "A GcRule which deletes cells matching all of the given rules.",
      "id": "Intersection",
      "properties": {
        "rules": {
          "items": {
            "$ref": "GcRule"
          },
          "type": "array",
          "description": "Only delete cells which would be deleted by every element of `rules`."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "ListSchemaBundlesResponse": {
      "description": "The response for ListSchemaBundles.",
      "properties": {
        "schemaBundles": {
          "type": "array",
          "items": {
            "$ref": "SchemaBundle"
          },
          "description": "The schema bundles from the specified table."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListSchemaBundlesResponse"
    },
    "DataBoostReadLocalWrites": {
      "type": "object",
      "id": "DataBoostReadLocalWrites",
      "properties": {},
      "description": "Checks that all writes before the consistency token was generated in the same cluster are readable by Databoost."
    },
    "CreateClusterRequest": {
      "properties": {
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The cluster to be created. Fields marked `OutputOnly` must be left blank."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`."
        },
        "parent": {
          "description": "Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects/{project}/instances/{instance}`.",
          "type": "string"
        }
      },
      "description": "Request message for BigtableInstanceAdmin.CreateCluster.",
      "id": "CreateClusterRequest",
      "type": "object"
    },
    "RowAffinity": {
      "id": "RowAffinity",
      "properties": {},
      "description": "If enabled, Bigtable will route the request based on the row key of the request, rather than randomly. Instead, each row key will be assigned to a cluster, and will stick to that cluster. If clusters are added or removed, then this may affect which row keys stick to which clusters. To avoid this, users can use a cluster group to specify which clusters are to be used. In this case, new clusters that are not a part of the cluster group will not be routed to, and routing will be unaffected by the new cluster. Moreover, clusters specified in the cluster group cannot be deleted unless removed from the cluster group.",
      "type": "object"
    },
    "OperationProgress": {
      "type": "object",
      "properties": {
        "progressPercent": {
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time the request was received.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "If set, the time at which this operation failed or was completed successfully.",
          "format": "google-datetime"
        }
      },
      "id": "OperationProgress",
      "description": "Encapsulates progress related information for a Cloud Bigtable long running operation."
    },
    "GoogleBigtableAdminV2TypeBytesEncodingRaw": {
      "description": "Leaves the value as-is. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "properties": {
        "escapeNulls": {
          "type": "boolean",
          "description": "If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value which only contains the null byte `0x00`, has one more null byte appended."
        }
      },
      "id": "GoogleBigtableAdminV2TypeBytesEncodingRaw",
      "type": "object"
    },
    "ClusterAutoscalingConfig": {
      "description": "Autoscaling config for a cluster.",
      "properties": {
        "autoscalingLimits": {
          "description": "Required. Autoscaling limits for this cluster.",
          "$ref": "AutoscalingLimits"
        },
        "autoscalingTargets": {
          "description": "Required. Autoscaling targets for this cluster.",
          "$ref": "AutoscalingTargets"
        }
      },
      "type": "object",
      "id": "ClusterAutoscalingConfig"
    },
    "ListHotTabletsResponse": {
      "properties": {
        "hotTablets": {
          "type": "array",
          "description": "List of hot tablets in the tables of the requested cluster that fall within the requested time range. Hot tablets are ordered by node cpu usage percent. If there are multiple hot tablets that correspond to the same tablet within a 15-minute interval, only the hot tablet with the highest node cpu usage will be included in the response.",
          "items": {
            "$ref": "HotTablet"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all hot tablets could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        }
      },
      "type": "object",
      "description": "Response message for BigtableInstanceAdmin.ListHotTablets.",
      "id": "ListHotTabletsResponse"
    },
    "GoogleBigtableAdminV2TypeFloat64": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeFloat64",
      "description": "Float64 Values of type `Float64` are stored in `Value.float_value`."
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw": {
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
      "type": "object",
      "deprecated": true,
      "properties": {},
      "description": "Deprecated: prefer the equivalent `Utf8Bytes`."
    },
    "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount",
      "description": "Computes an approximate unique count over the input values. When using raw data as input, be careful to use a consistent encoding. Otherwise the same value encoded differently could count more than once, or two distinct values could count as identical. Input: Any, or omit for Raw State: TBD Special state conversions: `Int64` (the unique count estimate)"
    },
    "GoogleBigtableAdminV2TypeAggregateMin": {
      "type": "object",
      "description": "Computes the min of the input values. Allowed input: `Int64` State: same as input",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeAggregateMin"
    },
    "GoogleBigtableAdminV2TypeTimestampEncoding": {
      "properties": {
        "unixMicrosInt64": {
          "description": "Encodes the number of microseconds since the Unix epoch using the given `Int64` encoding. Values must be microsecond-aligned. Compatible with: - Java `Instant.truncatedTo()` with `ChronoUnit.MICROS`",
          "$ref": "GoogleBigtableAdminV2TypeInt64Encoding"
        }
      },
      "type": "object",
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeTimestampEncoding"
    },
    "ProtoSchema": {
      "description": "Represents a collection of protobuf schemas.",
      "type": "object",
      "properties": {
        "protoDescriptors": {
          "type": "string",
          "format": "byte",
          "description": "Required. Contains a protobuf-serialized [google.protobuf.FileDescriptorSet](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/descriptor.proto), which could include multiple proto files. To generate it, [install](https://grpc.io/docs/protoc-installation/) and run `protoc` with `--include_imports` and `--descriptor_set_out`. For example, to generate for moon/shot/app.proto, run ``` $protoc --proto_path=/app_path --proto_path=/lib_path \\ --include_imports \\ --descriptor_set_out=descriptors.pb \\ moon/shot/app.proto ``` For more details, see protobuffer [self description](https://developers.google.com/protocol-buffers/docs/techniques#self-description)."
        }
      },
      "id": "ProtoSchema"
    },
    "DataBoostIsolationReadOnly": {
      "id": "DataBoostIsolationReadOnly",
      "type": "object",
      "description": "Data Boost is a serverless compute capability that lets you run high-throughput read jobs and queries on your Bigtable data, without impacting the performance of the clusters that handle your application traffic. Data Boost supports read-only use cases with single-cluster routing.",
      "properties": {
        "computeBillingOwner": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "The host Cloud Project containing the targeted Bigtable Instance / Table pays for compute."
          ],
          "enum": [
            "COMPUTE_BILLING_OWNER_UNSPECIFIED",
            "HOST_PAYS"
          ],
          "description": "The Compute Billing Owner for this Data Boost App Profile."
        }
      }
    },
    "GoogleBigtableAdminV2TypeAggregateMax": {
      "id": "GoogleBigtableAdminV2TypeAggregateMax",
      "type": "object",
      "properties": {},
      "description": "Computes the max of the input values. Allowed input: `Int64` State: same as input"
    },
    "BackupInfo": {
      "description": "Information about a backup.",
      "type": "object",
      "id": "BackupInfo",
      "properties": {
        "backup": {
          "description": "Output only. Name of the backup.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time that the backup was started. Row data in the backup will be no older than this timestamp.",
          "type": "string"
        },
        "sourceBackup": {
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/",
          "type": "string",
          "readOnly": true
        },
        "sourceTable": {
          "type": "string",
          "description": "Output only. Name of the table the backup was created from.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp.",
          "type": "string"
        }
      }
    },
    "UpdateMemoryLayerMetadata": {
      "description": "The metadata for the Operation returned by UpdateMemoryLayer.",
      "id": "UpdateMemoryLayerMetadata",
      "properties": {
        "requestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the original request was received."
        },
        "originalRequest": {
          "$ref": "UpdateMemoryLayerRequest",
          "description": "The request that prompted the initiation of this UpdateMemoryLayer operation."
        },
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully."
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeFloat32": {
      "properties": {},
      "description": "Float32 Values of type `Float32` are stored in `Value.float_value`.",
      "id": "GoogleBigtableAdminV2TypeFloat32",
      "type": "object"
    },
    "CreateInstanceMetadata": {
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "$ref": "CreateInstanceRequest",
          "description": "The request that prompted the initiation of this CreateInstance operation."
        }
      },
      "id": "CreateInstanceMetadata",
      "type": "object",
      "description": "The metadata for the Operation returned by CreateInstance."
    },
    "PartialUpdateClusterRequest": {
      "id": "PartialUpdateClusterRequest",
      "properties": {
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The Cluster which contains the partial updates to be applied, subject to the update_mask."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The subset of Cluster fields which should be replaced."
        }
      },
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateCluster.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeEnum": {
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeEnum",
      "description": "A protobuf enum type. Values of type `Enum` are stored in `Value.int_value`.",
      "properties": {
        "schemaBundleId": {
          "description": "The ID of the schema bundle that this enum is defined in.",
          "type": "string"
        },
        "enumName": {
          "type": "string",
          "description": "The fully qualified name of the protobuf enum message, including package. In the format of \"foo.bar.EnumMessage\"."
        }
      }
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "CreateAuthorizedViewMetadata": {
      "id": "CreateAuthorizedViewMetadata",
      "properties": {
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully."
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which the original request was received.",
          "type": "string"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateAuthorizedView operation.",
          "$ref": "CreateAuthorizedViewRequest"
        }
      },
      "description": "The metadata for the Operation returned by CreateAuthorizedView.",
      "type": "object"
    },
    "UndeleteTableMetadata": {
      "description": "Metadata type for the operation returned by google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable.",
      "id": "UndeleteTableMetadata",
      "properties": {
        "startTime": {
          "deprecated": true,
          "format": "google-datetime",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "type": "string"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which the original request was received.",
          "type": "string"
        },
        "name": {
          "description": "The name of the table being restored.",
          "type": "string"
        },
        "endTime": {
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead.",
          "format": "google-datetime",
          "type": "string",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeBytes": {
      "description": "Bytes Values of type `Bytes` are stored in `Value.bytes_value`.",
      "properties": {
        "encoding": {
          "$ref": "GoogleBigtableAdminV2TypeBytesEncoding",
          "description": "The encoding to use when converting to or from lower level types."
        }
      },
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeBytes"
    },
    "CreateSchemaBundleMetadata": {
      "properties": {
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string"
        },
        "name": {
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The metadata for the Operation returned by CreateSchemaBundle.",
      "id": "CreateSchemaBundleMetadata"
    },
    "Instance": {
      "id": "Instance",
      "properties": {
        "name": {
          "type": "string",
          "description": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "edition": {
          "description": "Optional. The edition of the instance. See Edition for details.",
          "type": "string",
          "enumDescriptions": [
            "The edition is unspecified. This is treated as `ENTERPRISE`.",
            "The Enterprise edition. This is the default offering that is designed to meet the needs of most enterprise workloads.",
            "The Enterprise Plus edition. This is a premium tier that is designed for demanding, multi-tenant workloads requiring the highest levels of performance, scale, and global availability. The nodes in the Enterprise Plus tier come at a higher cost than the Enterprise tier. Any Enterprise Plus features must be disabled before downgrading to Enterprise."
          ],
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The descriptive name for this instance as it appears in UIs. Can be changed at any time, but should be kept globally unique to avoid confusion."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. They can be used to filter resources and aggregate metrics. * Label keys must be between 1 and 63 characters long and must conform to the regular expression: `\\p{Ll}\\p{Lo}{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`. * No more than 64 labels can be associated with a given resource. * Keys and values must both be under 128 bytes. Labels and Tags (below) are both used to bind metadata to resources, with different use-cases. See https://cloud.google.com/resource-manager/docs/tags/tags-overview for an in-depth overview on the difference between tags and labels."
        },
        "type": {
          "description": "The type of the instance. Defaults to `PRODUCTION`.",
          "enumDescriptions": [
            "The type of the instance is unspecified. If set when creating an instance, a `PRODUCTION` instance will be created. If set when updating an instance, the type will be left unchanged.",
            "An instance meant for production use. `serve_nodes` must be set on the cluster.",
            "DEPRECATED: Prefer PRODUCTION for all use cases, as it no longer enforces a higher minimum node count than DEVELOPMENT."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT"
          ],
          "type": "string"
        },
        "knowledgeCatalogRegion": {
          "description": "Output only. The region where Knowledge Catalog data is synced to and stored, including user-created aspects.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. A commit timestamp representing when this Instance was created. For instances created before this field was added (August 2021), this value is `seconds: 0, nanos: 1`.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: - \"123/environment\": \"production\", - \"123/costCenter\": \"marketing\" Tags and Labels (above) are both used to bind metadata to resources, with different use-cases. See https://cloud.google.com/resource-manager/docs/tags/tags-overview for an in-depth overview on the difference between tags and labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "state": {
          "description": "Output only. The current state of the instance.",
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING"
          ],
          "enumDescriptions": [
            "The state of the instance could not be determined.",
            "The instance has been successfully created and can serve requests to its tables.",
            "The instance is currently being created, and may be destroyed if the creation process encounters an error."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "A collection of Bigtable Tables and the resources that serve them. All tables in an instance are served from all Clusters in the instance."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "AuditLogConfig"
    },
    "UpdateClusterMetadata": {
      "description": "The metadata for the Operation returned by UpdateCluster.",
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateCluster operation.",
          "$ref": "Cluster"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "finishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the operation failed or was completed successfully."
        }
      },
      "id": "UpdateClusterMetadata"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "AuthorizedView": {
      "properties": {
        "deletionProtection": {
          "type": "boolean",
          "description": "Set to true to make the AuthorizedView protected against deletion. The parent Table and containing Instance cannot be deleted if an AuthorizedView has this bit set."
        },
        "subsetView": {
          "description": "An AuthorizedView permitting access to an explicit subset of a Table.",
          "$ref": "GoogleBigtableAdminV2AuthorizedViewSubsetView"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of this AuthorizedView. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`"
        },
        "etag": {
          "description": "The etag for this AuthorizedView. If this is provided on update, it must match the server's etag. The server returns ABORTED error on a mismatched etag.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AuthorizedView",
      "description": "An Authorized View of a Cloud Bigtable Table."
    },
    "GoogleBigtableAdminV2TypeStructEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "properties": {
        "singleton": {
          "description": "Use `Singleton` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingSingleton"
        },
        "orderedCodeBytes": {
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes",
          "description": "User `OrderedCodeBytes` encoding."
        },
        "delimitedBytes": {
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes",
          "description": "Use `DelimitedBytes` encoding."
        }
      },
      "id": "GoogleBigtableAdminV2TypeStructEncoding",
      "type": "object"
    },
    "CopyBackupRequest": {
      "description": "The request for CopyBackup.",
      "id": "CopyBackupRequest",
      "properties": {
        "backupId": {
          "description": "Required. The id of the new backup. The `backup_id` along with `parent` are combined as {parent}/backups/{backup_id} to create the full backup name, of the form: `projects/{project}/instances/{instance}/clusters/{cluster}/backups/{backup_id}`. This string must be between 1 and 50 characters in length and match the regex _a-zA-Z0-9*.",
          "type": "string"
        },
        "sourceBackup": {
          "description": "Required. The source backup to be copied from. The source backup needs to be in READY state for it to be copied. Copying a copied backup is not allowed. Once CopyBackup is in progress, the source backup cannot be deleted or cleaned up on expiration until CopyBackup is finished. Values are of the form: `projects//instances//clusters//backups/`.",
          "type": "string"
        },
        "expireTime": {
          "description": "Required. Required. The expiration time of the copied backup with microsecond granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "MultiClusterRoutingUseAny": {
      "type": "object",
      "id": "MultiClusterRoutingUseAny",
      "properties": {
        "clusterIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of clusters to route to. The order is ignored; clusters will be tried in order of distance. If left empty, all clusters are eligible."
        },
        "rowAffinity": {
          "$ref": "RowAffinity",
          "description": "Row affinity sticky routing based on the row key of the request. Requests that span multiple rows are routed non-deterministically."
        }
      },
      "description": "Read/write requests are routed to the nearest cluster in the instance, and will fail over to the nearest cluster that is available in the event of transient errors or delays. Clusters in a region are considered equidistant. Choosing this option sacrifices read-your-writes consistency to improve availability."
    },
    "CreateAuthorizedViewRequest": {
      "description": "The request for CreateAuthorizedView",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. This is the name of the table the AuthorizedView belongs to. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`."
        },
        "authorizedViewId": {
          "description": "Required. The id of the AuthorizedView to create. This AuthorizedView must not already exist. The `authorized_view_id` appended to `parent` forms the full AuthorizedView name of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedView/{authorized_view}`.",
          "type": "string"
        },
        "authorizedView": {
          "description": "Required. The AuthorizedView to create.",
          "$ref": "AuthorizedView"
        }
      },
      "type": "object",
      "id": "CreateAuthorizedViewRequest"
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "DEPRECATED: This field is unused and ignored.",
          "deprecated": true
        },
        "failedLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations from which Instance information could not be retrieved, due to an outage or some other transient condition. Instances whose Clusters are all in one of the failed locations may be missing from `instances`, and Instances with at least one Cluster in a failed location may only have partial information returned. Values are of the form `projects//locations/`"
        },
        "instances": {
          "type": "array",
          "description": "The list of requested instances.",
          "items": {
            "$ref": "Instance"
          }
        }
      },
      "type": "object",
      "description": "Response message for BigtableInstanceAdmin.ListInstances."
    },
    "GoogleBigtableAdminV2TypeInt64": {
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeInt64Encoding"
        }
      },
      "description": "Int64 Values of type `Int64` are stored in `Value.int_value`.",
      "id": "GoogleBigtableAdminV2TypeInt64",
      "type": "object"
    },
    "HotTablet": {
      "properties": {
        "nodeCpuUsagePercent": {
          "format": "float",
          "description": "Output only. The average CPU usage spent by a node on this tablet over the start_time to end_time time range. The percentage is the amount of CPU used by the node to serve the tablet, from 0% (tablet was not interacted with) to 100% (the node spent all cycles serving the hot tablet).",
          "readOnly": true,
          "type": "number"
        },
        "startKey": {
          "type": "string",
          "description": "Tablet Start Key (inclusive)."
        },
        "endTime": {
          "description": "Output only. The end time of the hot tablet.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "tableName": {
          "type": "string",
          "description": "Name of the table that contains the tablet. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`."
        },
        "name": {
          "type": "string",
          "description": "The unique name of the hot tablet. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/hotTablets/[a-zA-Z0-9_-]*`."
        },
        "endKey": {
          "type": "string",
          "description": "Tablet End Key (inclusive)."
        },
        "startTime": {
          "description": "Output only. The start time of the hot tablet.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "A tablet is a defined by a start and end key and is explained in https://cloud.google.com/bigtable/docs/overview#architecture and https://cloud.google.com/bigtable/docs/performance#optimization. A Hot tablet is a tablet that exhibits high average cpu usage during the time interval from start time to end time.",
      "id": "HotTablet",
      "type": "object"
    },
    "Modification": {
      "id": "Modification",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the column family to be modified."
        },
        "update": {
          "description": "Update an existing column family to the specified schema, or fail if no column family exists with the given ID.",
          "$ref": "ColumnFamily"
        },
        "drop": {
          "type": "boolean",
          "description": "Drop (delete) the column family with the given ID, or fail if no such family exists."
        },
        "updateMask": {
          "description": "Optional. A mask specifying which fields (e.g. `gc_rule`) in the `update` mod should be updated, ignored for other modification types. If unset or empty, we treat it as updating `gc_rule` to be backward compatible.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "create": {
          "$ref": "ColumnFamily",
          "description": "Create a new column family with the specified schema, or fail if one already exists with the given ID."
        }
      },
      "type": "object",
      "description": "A create, update, or delete of a particular column family."
    },
    "Type": {
      "properties": {
        "int32Type": {
          "description": "Int32",
          "$ref": "GoogleBigtableAdminV2TypeInt32"
        },
        "protoType": {
          "description": "Proto",
          "$ref": "GoogleBigtableAdminV2TypeProto"
        },
        "arrayType": {
          "$ref": "GoogleBigtableAdminV2TypeArray",
          "description": "Array"
        },
        "timestampType": {
          "description": "Timestamp",
          "$ref": "GoogleBigtableAdminV2TypeTimestamp"
        },
        "aggregateType": {
          "description": "Aggregate",
          "$ref": "GoogleBigtableAdminV2TypeAggregate"
        },
        "dateType": {
          "$ref": "GoogleBigtableAdminV2TypeDate",
          "description": "Date"
        },
        "mapType": {
          "description": "Map",
          "$ref": "GoogleBigtableAdminV2TypeMap"
        },
        "bytesType": {
          "$ref": "GoogleBigtableAdminV2TypeBytes",
          "description": "Bytes"
        },
        "int64Type": {
          "$ref": "GoogleBigtableAdminV2TypeInt64",
          "description": "Int64"
        },
        "enumType": {
          "description": "Enum",
          "$ref": "GoogleBigtableAdminV2TypeEnum"
        },
        "structType": {
          "description": "Struct",
          "$ref": "GoogleBigtableAdminV2TypeStruct"
        },
        "float64Type": {
          "$ref": "GoogleBigtableAdminV2TypeFloat64",
          "description": "Float64"
        },
        "geographyType": {
          "$ref": "GoogleBigtableAdminV2TypeGeography",
          "description": "Geography"
        },
        "boolType": {
          "$ref": "GoogleBigtableAdminV2TypeBool",
          "description": "Bool"
        },
        "stringType": {
          "description": "String",
          "$ref": "GoogleBigtableAdminV2TypeString"
        },
        "float32Type": {
          "description": "Float32",
          "$ref": "GoogleBigtableAdminV2TypeFloat32"
        }
      },
      "description": "`Type` represents the type of data that is written to, read from, or stored in Bigtable. It is heavily based on the GoogleSQL standard to help maintain familiarity and consistency across products and features. For compatibility with Bigtable's existing untyped APIs, each `Type` includes an `Encoding` which describes how to convert to or from the underlying data. Each encoding can operate in one of two modes: - Sorted: In this mode, Bigtable guarantees that `Encode(X) <= Encode(Y)` if and only if `X <= Y`. This is useful anywhere sort order is important, for example when encoding keys. - Distinct: In this mode, Bigtable guarantees that if `X != Y` then `Encode(X) != Encode(Y)`. However, the converse is not guaranteed. For example, both `{'foo': '1', 'bar': '2'}` and `{'bar': '2', 'foo': '1'}` are valid encodings of the same JSON value. The API clearly documents which mode is used wherever an encoding can be configured. Each encoding also documents which values are supported in which modes. For example, when encoding INT64 as a numeric STRING, negative numbers cannot be encoded in sorted mode. This is because `INT64(1) > INT64(-1)`, but `STRING(\"-00001\") > STRING(\"00001\")`.",
      "id": "Type",
      "type": "object"
    },
    "ChangeStreamConfig": {
      "properties": {
        "retentionPeriod": {
          "format": "google-duration",
          "description": "How long the change stream should be retained. Change stream data older than the retention period will not be returned when reading the change stream from the table. Values must be at least 1 day and at most 7 days, and will be truncated to microsecond granularity.",
          "type": "string"
        }
      },
      "description": "Change stream configuration.",
      "type": "object",
      "id": "ChangeStreamConfig"
    },
    "AppProfile": {
      "type": "object",
      "id": "AppProfile",
      "description": "A configuration object describing how Cloud Bigtable should treat traffic from a particular end user application.",
      "properties": {
        "multiClusterRoutingUseAny": {
          "description": "Use a multi-cluster routing policy.",
          "$ref": "MultiClusterRoutingUseAny"
        },
        "standardIsolation": {
          "description": "The standard options used for isolating this app profile's traffic from other use cases.",
          "$ref": "StandardIsolation"
        },
        "description": {
          "type": "string",
          "description": "Long form description of the use case for this AppProfile."
        },
        "name": {
          "description": "The unique name of the app profile, up to 50 characters long. Values are of the form `projects/{project}/instances/{instance}/appProfiles/_a-zA-Z0-9*`.",
          "type": "string"
        },
        "dataBoostIsolationReadOnly": {
          "description": "Specifies that this app profile is intended for read-only usage via the Data Boost feature.",
          "$ref": "DataBoostIsolationReadOnly"
        },
        "priority": {
          "deprecated": true,
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ],
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ],
          "description": "This field has been deprecated in favor of `standard_isolation.priority`. If you set this field, `standard_isolation.priority` will be set instead. The priority of requests sent using this app profile.",
          "type": "string"
        },
        "singleClusterRouting": {
          "description": "Use a single-cluster routing policy.",
          "$ref": "SingleClusterRouting"
        },
        "etag": {
          "type": "string",
          "description": "Strongly validated etag for optimistic concurrency control. Preserve the value returned from `GetAppProfile` when calling `UpdateAppProfile` to fail the request if there has been a modification in the meantime. The `update_mask` of the request need not include `etag` for this protection to apply. See [Wikipedia](https://en.wikipedia.org/wiki/HTTP_ETag) and [RFC 7232](https://tools.ietf.org/html/rfc7232#section-2.3) for more details."
        }
      }
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions",
      "type": "object"
    },
    "Table": {
      "properties": {
        "name": {
          "description": "The unique name of the table. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`. Views: `NAME_ONLY`, `SCHEMA_VIEW`, `REPLICATION_VIEW`, `STATS_VIEW`, `FULL`",
          "type": "string"
        },
        "changeStreamConfig": {
          "$ref": "ChangeStreamConfig",
          "description": "If specified, enable the change stream on this table. Otherwise, the change stream is disabled and the change stream is not retained."
        },
        "columnFamilies": {
          "additionalProperties": {
            "$ref": "ColumnFamily"
          },
          "type": "object",
          "description": "The column families configured for this table, mapped by column family ID. Views: `SCHEMA_VIEW`, `STATS_VIEW`, `FULL`"
        },
        "rowKeySchema": {
          "description": "The row key schema for this table. The schema is used to decode the raw row key bytes into a structured format. The order of field declarations in this schema is important, as it reflects how the raw row key bytes are structured. Currently, this only affects how the key is read via a GoogleSQL query from the ExecuteQuery API. For a SQL query, the _key column is still read as raw bytes. But queries can reference the key fields by name, which will be decoded from _key using provided type and encoding. Queries that reference key fields will fail if they encounter an invalid row key. For example, if _key = \"some_id#2024-04-30#\\x00\\x13\\x00\\xf3\" with the following schema: { fields { field_name: \"id\" type { string { encoding: utf8_bytes {} } } } fields { field_name: \"date\" type { string { encoding: utf8_bytes {} } } } fields { field_name: \"product_code\" type { int64 { encoding: big_endian_bytes {} } } } encoding { delimited_bytes { delimiter: \"#\" } } } The decoded key parts would be: id = \"some_id\", date = \"2024-04-30\", product_code = 1245427 The query \"SELECT _key, product_code FROM table\" will return two columns: /------------------------------------------------------\\ | _key | product_code | | --------------------------------------|--------------| | \"some_id#2024-04-30#\\x00\\x13\\x00\\xf3\" | 1245427 | \\------------------------------------------------------/ The schema has the following invariants: (1) The decoded field values are order-preserved. For read, the field values will be decoded in sorted mode from the raw bytes. (2) Every field in the schema must specify a non-empty name. (3) Every field must specify a type with an associated encoding. The type is limited to scalar types only: Array, Map, Aggregate, and Struct are not allowed. (4) The field names must not collide with existing column family names and reserved keywords \"_key\" and \"_timestamp\". The following update operations are allowed for row_key_schema: - Update from an empty schema to a new schema. - Remove the existing schema. This operation requires setting the `ignore_warnings` flag to `true`, since it might be a backward incompatible change. Without the flag, the update request will fail with an INVALID_ARGUMENT error. Any other row key schema update operation (e.g. update existing schema columns names or types) is currently unsupported.",
          "$ref": "GoogleBigtableAdminV2TypeStruct"
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Set to true to make the table protected against data loss. i.e. deleting the following resources through Admin APIs are prohibited: * The table. * The column families in the table. * The instance containing the table. Note one can still delete the data stored in the table through Data APIs."
        },
        "granularity": {
          "enum": [
            "TIMESTAMP_GRANULARITY_UNSPECIFIED",
            "MILLIS",
            "MICROS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The user did not specify a granularity. Should not be returned. When specified during table creation, MILLIS will be used.",
            "The table keeps data versioned at a granularity of 1ms.",
            "The table keeps data versioned at a granularity of 1us."
          ],
          "description": "Immutable. The granularity at which timestamps are stored in this table. Timestamps not matching the granularity will be rejected. If unspecified at creation time, the value will be set to `MILLIS`. Views: `SCHEMA_VIEW`, `FULL`."
        },
        "clusterStates": {
          "description": "Output only. Map from cluster ID to per-cluster table state. If it could not be determined whether or not the table has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with UNKNOWN `replication_status`. Views: `REPLICATION_VIEW`, `ENCRYPTION_VIEW`, `FULL`",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ClusterState"
          }
        },
        "stats": {
          "readOnly": true,
          "description": "Output only. Only available with STATS_VIEW, this includes summary statistics about the entire table contents. For statistics about a specific column family, see ColumnFamilyStats in the mapped ColumnFamily collection above.",
          "$ref": "TableStats"
        },
        "restoreInfo": {
          "description": "Output only. If this table was restored from another data source (e.g. a backup), this field will be populated with information about the restore.",
          "$ref": "RestoreInfo",
          "readOnly": true
        },
        "tieredStorageConfig": {
          "$ref": "TieredStorageConfig",
          "description": "Rules to specify what data is stored in each storage tier. Different tiers store data differently, providing different trade-offs between cost and performance. Different parts of a table can be stored separately on different tiers. If a config is specified, tiered storage is enabled for this table. Otherwise, tiered storage is disabled. Only SSD instances can configure tiered storage."
        },
        "automatedBackupPolicy": {
          "description": "If specified, automated backups are enabled for this table. Otherwise, automated backups are disabled.",
          "$ref": "AutomatedBackupPolicy"
        }
      },
      "type": "object",
      "description": "A collection of user data indexed by row, column, and timestamp. Each table is served using the resources of its parent cluster.",
      "id": "Table"
    },
    "UpdateAppProfileMetadata": {
      "properties": {},
      "description": "The metadata for the Operation returned by UpdateAppProfile.",
      "type": "object",
      "id": "UpdateAppProfileMetadata"
    },
    "GoogleBigtableAdminV2TypeDate": {
      "id": "GoogleBigtableAdminV2TypeDate",
      "type": "object",
      "properties": {},
      "description": "Date Values of type `Date` are stored in `Value.date_value`."
    },
    "OptimizeRestoredTableMetadata": {
      "id": "OptimizeRestoredTableMetadata",
      "properties": {
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the post-restore optimizations."
        },
        "name": {
          "description": "Name of the restored table being optimized.",
          "type": "string"
        }
      },
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "type": "object"
    },
    "EncryptionInfo": {
      "type": "object",
      "id": "EncryptionInfo",
      "properties": {
        "encryptionStatus": {
          "$ref": "Status",
          "description": "Output only. The status of encrypt/decrypt calls on underlying data for this resource. Regardless of status, the existing data is always encrypted at rest.",
          "readOnly": true
        },
        "kmsKeyVersion": {
          "description": "Output only. The version of the Cloud KMS key specified in the parent cluster that is in use for the data underlying this table.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionType": {
          "type": "string",
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data backing this resource is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data backing this resource is encrypted at rest with a key that is managed by the customer. The in-use version of the key and its status are populated for CMEK-protected tables. CMEK-protected backups are pinned to the key version that was in use at the time the backup was taken. This key version is populated but its status is not tracked and is reported as `UNKNOWN`."
          ],
          "readOnly": true,
          "description": "Output only. The type of encryption used to protect this resource.",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ]
        }
      },
      "description": "Encryption information for a given resource. If this resource is protected with customer managed encryption, the in-use Cloud Key Management Service (Cloud KMS) key version is specified along with its status."
    },
    "GoogleBigtableAdminV2TypeStructField": {
      "description": "A struct field and its type.",
      "type": "object",
      "id": "GoogleBigtableAdminV2TypeStructField",
      "properties": {
        "fieldName": {
          "description": "The field name (optional). Fields without a `field_name` are considered anonymous and cannot be referenced by name.",
          "type": "string"
        },
        "type": {
          "description": "The type of values in this field.",
          "$ref": "Type"
        }
      }
    },
    "GoogleBigtableAdminV2TypeArray": {
      "id": "GoogleBigtableAdminV2TypeArray",
      "properties": {
        "elementType": {
          "description": "The type of the elements in the array. This must not be `Array`.",
          "$ref": "Type"
        }
      },
      "description": "An ordered list of elements of a given type. Values of type `Array` are stored in `Value.array_value`.",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeBytesEncoding": {
      "id": "GoogleBigtableAdminV2TypeBytesEncoding",
      "description": "Rules used to convert to or from lower level types.",
      "type": "object",
      "properties": {
        "raw": {
          "$ref": "GoogleBigtableAdminV2TypeBytesEncodingRaw",
          "description": "Use `Raw` encoding."
        }
      }
    },
    "GcRule": {
      "description": "Rule for determining which cells to delete during garbage collection.",
      "properties": {
        "intersection": {
          "$ref": "Intersection",
          "description": "Delete cells that would be deleted by every nested rule."
        },
        "maxAge": {
          "type": "string",
          "description": "Delete cells in a column older than the given age. Values must be at least one millisecond, and will be truncated to microsecond granularity.",
          "format": "google-duration"
        },
        "maxNumVersions": {
          "description": "Delete all cells in a column except the most recent N.",
          "format": "int32",
          "type": "integer"
        },
        "union": {
          "description": "Delete cells that would be deleted by any nested rule.",
          "$ref": "Union"
        }
      },
      "type": "object",
      "id": "GcRule"
    },
    "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes": {
      "id": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes",
      "description": "Fields are encoded independently, then escaped and delimited by appling the following rules in order: - While the last remaining field is `ASC` or `UNSPECIFIED`, and encodes to the empty string \"\", remove it. - In each remaining field, replace all null bytes `0x00` with the fixed byte pair `{0x00, 0xFF}`. - If any remaining field encodes to the empty string \"\", replace it with the fixed byte pair `{0x00, 0x00}`. - Append the fixed byte pair `{0x00, 0x01}` to each remaining field, except for the last remaining field if it is `ASC`. - Bitwise negate all `DESC` fields. - Concatenate the results, or emit the fixed byte pair `{0x00, 0x00}` if there are no remaining fields to concatenate. Examples: ``` - STRUCT() -> \"\\00\\00\" - STRUCT(\"\") -> \"\\00\\00\" - STRUCT(\"\", \"\") -> \"\\00\\00\" - STRUCT(\"\", \"B\") -> \"\\00\\00\" + \"\\00\\01\" + \"B\" - STRUCT(\"A\", \"\") -> \"A\" - STRUCT(\"\", \"B\", \"\") -> \"\\00\\00\" + \"\\00\\01\" + \"B\" - STRUCT(\"A\", \"\", \"C\") -> \"A\" + \"\\00\\01\" + \"\\00\\00\" + \"\\00\\01\" + \"C\" ``` Examples for struct with `DESC` fields: ``` - STRUCT(\"\" DESC) -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"\", \"\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\" DESC, \"A\") -> \"\\xFF\\xFF\" + \"\\xFF\\xFE\" + \"A\" - STRUCT(\"A\", \"\" DESC, \"\") -> \"A\" + \"\\00\\01\" + \"\\xFF\\xFF\" + \"\\xFF\\xFE\" - STRUCT(\"\", \"A\" DESC) -> \"\\x00\\x00\" + \"\\x00\\x01\" + \"\\xBE\" + \"\\xFF\\xFE\" ``` Since null bytes are always escaped, this encoding can cause size blowup for encodings like `Int64.BigEndianBytes` that are likely to produce many such bytes. Sorted mode: - Fields are encoded in sorted mode. - All values supported by the field encodings are allowed. - Fields with unset or `UNSPECIFIED` order are treated as `ASC`. - Element-wise order is preserved: `A < B` if `A[0] < B[0]`, or if `A[0] == B[0] && A[1] < B[1]`, etc. Strict prefixes sort first. Distinct mode: - Fields are encoded in distinct mode. - All values supported by the field encodings are allowed.",
      "type": "object",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeAggregate": {
      "description": "A value that combines incremental updates into a summarized value. Data is never directly written or read using type `Aggregate`. Writes provide either the `input_type` or `state_type`, and reads always return the `state_type` .",
      "properties": {
        "inputType": {
          "$ref": "Type",
          "description": "Type of the inputs that are accumulated by this `Aggregate`. Use `AddInput` mutations to accumulate new inputs."
        },
        "sum": {
          "description": "Sum aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateSum"
        },
        "min": {
          "$ref": "GoogleBigtableAdminV2TypeAggregateMin",
          "description": "Min aggregator."
        },
        "hllppUniqueCount": {
          "$ref": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount",
          "description": "HyperLogLogPlusPlusUniqueCount aggregator."
        },
        "stateType": {
          "description": "Output only. Type that holds the internal accumulator state for the `Aggregate`. This is a function of the `input_type` and `aggregator` chosen.",
          "readOnly": true,
          "$ref": "Type"
        },
        "max": {
          "$ref": "GoogleBigtableAdminV2TypeAggregateMax",
          "description": "Max aggregator."
        }
      },
      "id": "GoogleBigtableAdminV2TypeAggregate",
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStringEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "properties": {
        "utf8Raw": {
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
          "deprecated": true,
          "description": "Deprecated: if set, converts to an empty `utf8_bytes`."
        },
        "utf8Bytes": {
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes",
          "description": "Use `Utf8Bytes` encoding."
        }
      },
      "id": "GoogleBigtableAdminV2TypeStringEncoding",
      "type": "object"
    },
    "MemoryLayer": {
      "id": "MemoryLayer",
      "description": "The memory layer of a cluster. A memory layer serves reads from memory without hitting the backing persistent data store.",
      "properties": {
        "memoryConfig": {
          "$ref": "GoogleBigtableAdminV2MemoryLayerMemoryConfig",
          "description": "The configuration of this memory layer. Set an empty `memory_config` to enable the memory layer. Unset this to disable the memory layer."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the memory layer. This is always: \"projects/{project}/instances/{instance}/clusters/{cluster}/memoryLayer\"."
        },
        "etag": {
          "description": "Optional. The etag for this memory layer. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state of the memory layer could not be determined.",
            "The memory layer has been successfully enabled and is ready to serve requests.",
            "The memory layer is currently being enabled, and may be disabled if the enablement process encounters an error. A cluster may not be able to serve requests from the memory layer while being enabled.",
            "The memory layer is currently being resized, and may revert to its previous storage size if the process encounters an error. The memory layer is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The memory layer is disabled. The default state for a cluster without a memory layer."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "ENABLING",
            "RESIZING",
            "DISABLED"
          ],
          "description": "Output only. The current state of the memory layer."
        }
      },
      "type": "object"
    },
    "Status": {
[...]
