{
  "version_module": true,
  "mtlsRootUrl": "https://bigtableadmin.mtls.googleapis.com/",
  "batchPath": "batch",
  "name": "bigtableadmin",
  "id": "bigtableadmin:v2",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260624",
  "documentationLink": "https://cloud.google.com/bigtable/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigtable.admin.instance": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version": "v2",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "schemas": {
    "GoogleBigtableAdminV2MemoryLayerMemoryConfig": {
      "type": "object",
      "properties": {
        "storageSizeGib": {
          "description": "Output only. Reporting the current size of the memory layer in GiB.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "GoogleBigtableAdminV2MemoryLayerMemoryConfig",
      "description": "Configuration of a memory layer."
    },
    "ListLogicalViewsResponse": {
      "properties": {
        "logicalViews": {
          "description": "The list of requested logical views.",
          "items": {
            "$ref": "LogicalView"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for BigtableInstanceAdmin.ListLogicalViews.",
      "id": "ListLogicalViewsResponse"
    },
    "GoogleBigtableAdminV2TypeInt32": {
      "id": "GoogleBigtableAdminV2TypeInt32",
      "description": "Int32 Values of type `Int32` are stored in `Value.int_value`.",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeInt32Encoding"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "GoogleBigtableAdminV2TypeArray": {
      "type": "object",
      "properties": {
        "elementType": {
          "description": "The type of the elements in the array. This must not be `Array`.",
          "$ref": "Type"
        }
      },
      "id": "GoogleBigtableAdminV2TypeArray",
      "description": "An ordered list of elements of a given type. Values of type `Array` are stored in `Value.array_value`."
    },
    "UpdateAppProfileMetadata": {
      "id": "UpdateAppProfileMetadata",
      "description": "The metadata for the Operation returned by UpdateAppProfile.",
      "type": "object",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeStructField": {
      "id": "GoogleBigtableAdminV2TypeStructField",
      "description": "A struct field and its type.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of values in this field.",
          "$ref": "Type"
        },
        "fieldName": {
          "description": "The field name (optional). Fields without a `field_name` are considered anonymous and cannot be referenced by name.",
          "type": "string"
        }
      }
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions"
    },
    "UpdateLogicalViewRequest": {
      "description": "Request message for BigtableInstanceAdmin.UpdateLogicalView.",
      "id": "UpdateLogicalViewRequest",
      "properties": {
        "logicalView": {
          "description": "Required. The logical view to update. The logical view's `name` field is used to identify the view to update. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`.",
          "$ref": "LogicalView"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of fields to update.",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStringEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeStringEncoding",
      "properties": {
        "utf8Raw": {
          "deprecated": true,
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
          "description": "Deprecated: if set, converts to an empty `utf8_bytes`."
        },
        "utf8Bytes": {
          "description": "Use `Utf8Bytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeString": {
      "description": "String Values of type `String` are stored in `Value.string_value`.",
      "id": "GoogleBigtableAdminV2TypeString",
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeStringEncoding"
        }
      },
      "type": "object"
    },
    "ListTablesResponse": {
      "properties": {
        "tables": {
          "type": "array",
          "description": "The tables present in the requested instance.",
          "items": {
            "$ref": "Table"
          }
        },
        "nextPageToken": {
          "description": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListTables",
      "id": "ListTablesResponse"
    },
    "GoogleBigtableAdminV2AuthorizedViewFamilySubsets": {
      "properties": {
        "qualifiers": {
          "type": "array",
          "description": "Individual exact column qualifiers to be included in the AuthorizedView.",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "qualifierPrefixes": {
          "description": "Prefixes for qualifiers to be included in the AuthorizedView. Every qualifier starting with one of these prefixes is included in the AuthorizedView. To provide access to all qualifiers, include the empty string as a prefix (\"\").",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Subsets of a column family that are included in this AuthorizedView.",
      "id": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets"
    },
    "GenerateConsistencyTokenRequest": {
      "type": "object",
      "properties": {},
      "id": "GenerateConsistencyTokenRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken"
    },
    "ClusterConfig": {
      "id": "ClusterConfig",
      "description": "Configuration for a cluster.",
      "type": "object",
      "properties": {
        "clusterAutoscalingConfig": {
          "description": "Autoscaling configuration for this cluster.",
          "$ref": "ClusterAutoscalingConfig"
        }
      }
    },
    "GoogleBigtableAdminV2TypeDate": {
      "properties": {},
      "type": "object",
      "description": "Date Values of type `Date` are stored in `Value.date_value`.",
      "id": "GoogleBigtableAdminV2TypeDate"
    },
    "MemoryConfig": {
      "type": "object",
      "properties": {},
      "id": "MemoryConfig",
      "description": "If set, eligible single-row requests (currently limited to ReadRows) using this app profile will be routed to the memory layer. All eligible writes populate the memory layer. MemoryConfig can only be set if the AppProfile uses single cluster routing and the configured cluster has a memory layer enabled."
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes": {
      "properties": {
        "nullEscapeChar": {
          "description": "Single-character escape sequence used to support NULL values. If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value where every character equals `null_escape_char`, has one more `null_escape_char` appended. If `null_escape_char` is set and does not equal the ASCII null character `0x00`, then the encoding will not support sorted mode. .",
          "type": "string"
        }
      },
      "type": "object",
      "description": "UTF-8 encoding. Sorted mode: - All values are supported. - Code point order is preserved. Distinct mode: all values are supported. Compatible with: - BigQuery `TEXT` encoding - HBase `Bytes.toBytes` - Java `String#getBytes(StandardCharsets.UTF_8)`",
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes"
    },
    "UndeleteTableMetadata": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the table being restored.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "deprecated": true,
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead.",
          "format": "google-datetime"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "deprecated": true,
          "type": "string",
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "format": "google-datetime"
        }
      },
      "id": "UndeleteTableMetadata",
      "description": "Metadata type for the operation returned by google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable."
    },
    "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes",
      "description": "Encodes the value as a 4-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putInt()` with `ByteOrder.BIG_ENDIAN`"
    },
    "BackupInfo": {
      "id": "BackupInfo",
      "description": "Information about a backup.",
      "type": "object",
      "properties": {
        "backup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the backup."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp.",
          "format": "google-datetime"
        },
        "sourceBackup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//clusters//backups/"
        },
        "sourceTable": {
          "readOnly": true,
          "description": "Output only. Name of the table the backup was created from.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The time that the backup was started. Row data in the backup will be no older than this timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "StandardIsolation": {
      "description": "Standard options for isolating this app profile's traffic from other use cases.",
      "id": "StandardIsolation",
      "properties": {
        "priority": {
          "description": "The priority of requests sent using this app profile.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Mapped to PRIORITY_HIGH (the legacy behavior) on creation.",
            "",
            "",
            ""
          ]
        },
        "memoryConfig": {
          "description": "Optional. The memory config to use for requests sent using this app profile.",
          "$ref": "MemoryConfig"
        }
      },
      "type": "object"
    },
    "TableStats": {
      "id": "TableStats",
      "description": "Approximate statistics related to a table. These statistics are calculated infrequently, while simultaneously, data in the table can change rapidly. Thus the values reported here (e.g. row count) are very likely out-of date, even the instant they are received in this API. Thus, only treat these values as approximate. IMPORTANT: Everything below is approximate, unless otherwise specified.",
      "type": "object",
      "properties": {
        "averageColumnsPerRow": {
          "description": "How many (column family, column qualifier) combinations are present per row in the table, averaged over all rows in the table. e.g. A table with 2 rows: * A row with cells in \"family:col\" and \"other:col\" (2 distinct columns) * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (3 distinct columns) would report (2 + 3)/2 = 2.5 in this field.",
          "format": "double",
          "type": "number"
        },
        "averageCellsPerColumn": {
          "description": "How many cells are present per column (column family, column qualifier) combinations, averaged over all columns in all rows in the table. e.g. A table with 2 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (4 cells / 2 columns) * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (15 cells / 3 columns) would report (4 + 15)/(2 + 3) = 3.8 in this field.",
          "format": "double",
          "type": "number"
        },
        "rowCount": {
          "description": "How many rows are in the table.",
          "format": "int64",
          "type": "string"
        },
        "logicalDataBytes": {
          "description": "This is roughly how many bytes would be needed to read the entire table (e.g. by streaming all contents out).",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "TieredStorageRule": {
      "id": "TieredStorageRule",
      "description": "Rule to specify what data is stored in a storage tier.",
      "type": "object",
      "properties": {
        "includeIfOlderThan": {
          "type": "string",
          "description": "Include cells older than the given age. For the infrequent access tier, this value must be at least 30 days.",
          "format": "google-duration"
        }
      }
    },
    "AuthorizedView": {
      "id": "AuthorizedView",
      "description": "An Authorized View of a Cloud Bigtable Table.",
      "type": "object",
      "properties": {
        "subsetView": {
          "description": "An AuthorizedView permitting access to an explicit subset of a Table.",
          "$ref": "GoogleBigtableAdminV2AuthorizedViewSubsetView"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of this AuthorizedView. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`"
        },
        "etag": {
          "description": "The etag for this AuthorizedView. If this is provided on update, it must match the server's etag. The server returns ABORTED error on a mismatched etag.",
          "type": "string"
        },
        "deletionProtection": {
          "description": "Set to true to make the AuthorizedView protected against deletion. The parent Table and containing Instance cannot be deleted if an AuthorizedView has this bit set.",
          "type": "boolean"
        }
      }
    },
    "RowAffinity": {
      "id": "RowAffinity",
      "description": "If enabled, Bigtable will route the request based on the row key of the request, rather than randomly. Instead, each row key will be assigned to a cluster, and will stick to that cluster. If clusters are added or removed, then this may affect which row keys stick to which clusters. To avoid this, users can use a cluster group to specify which clusters are to be used. In this case, new clusters that are not a part of the cluster group will not be routed to, and routing will be unaffected by the new cluster. Moreover, clusters specified in the cluster group cannot be deleted unless removed from the cluster group.",
      "type": "object",
      "properties": {}
    },
    "Table": {
      "description": "A collection of user data indexed by row, column, and timestamp. Each table is served using the resources of its parent cluster.",
      "id": "Table",
      "properties": {
        "restoreInfo": {
          "readOnly": true,
          "description": "Output only. If this table was restored from another data source (e.g. a backup), this field will be populated with information about the restore.",
          "$ref": "RestoreInfo"
        },
        "rowKeySchema": {
          "description": "The row key schema for this table. The schema is used to decode the raw row key bytes into a structured format. The order of field declarations in this schema is important, as it reflects how the raw row key bytes are structured. Currently, this only affects how the key is read via a GoogleSQL query from the ExecuteQuery API. For a SQL query, the _key column is still read as raw bytes. But queries can reference the key fields by name, which will be decoded from _key using provided type and encoding. Queries that reference key fields will fail if they encounter an invalid row key. For example, if _key = \"some_id#2024-04-30#\\x00\\x13\\x00\\xf3\" with the following schema: { fields { field_name: \"id\" type { string { encoding: utf8_bytes {} } } } fields { field_name: \"date\" type { string { encoding: utf8_bytes {} } } } fields { field_name: \"product_code\" type { int64 { encoding: big_endian_bytes {} } } } encoding { delimited_bytes { delimiter: \"#\" } } } The decoded key parts would be: id = \"some_id\", date = \"2024-04-30\", product_code = 1245427 The query \"SELECT _key, product_code FROM table\" will return two columns: /------------------------------------------------------\\ | _key | product_code | | --------------------------------------|--------------| | \"some_id#2024-04-30#\\x00\\x13\\x00\\xf3\" | 1245427 | \\------------------------------------------------------/ The schema has the following invariants: (1) The decoded field values are order-preserved. For read, the field values will be decoded in sorted mode from the raw bytes. (2) Every field in the schema must specify a non-empty name. (3) Every field must specify a type with an associated encoding. The type is limited to scalar types only: Array, Map, Aggregate, and Struct are not allowed. (4) The field names must not collide with existing column family names and reserved keywords \"_key\" and \"_timestamp\". The following update operations are allowed for row_key_schema: - Update from an empty schema to a new schema. - Remove the existing schema. This operation requires setting the `ignore_warnings` flag to `true`, since it might be a backward incompatible change. Without the flag, the update request will fail with an INVALID_ARGUMENT error. Any other row key schema update operation (e.g. update existing schema columns names or types) is currently unsupported.",
          "$ref": "GoogleBigtableAdminV2TypeStruct"
        },
        "automatedBackupPolicy": {
          "description": "If specified, automated backups are enabled for this table. Otherwise, automated backups are disabled.",
          "$ref": "AutomatedBackupPolicy"
        },
        "columnFamilies": {
          "type": "object",
          "description": "The column families configured for this table, mapped by column family ID. Views: `SCHEMA_VIEW`, `STATS_VIEW`, `FULL`",
          "additionalProperties": {
            "$ref": "ColumnFamily"
          }
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Set to true to make the table protected against data loss. i.e. deleting the following resources through Admin APIs are prohibited: * The table. * The column families in the table. * The instance containing the table. Note one can still delete the data stored in the table through Data APIs."
        },
        "changeStreamConfig": {
          "description": "If specified, enable the change stream on this table. Otherwise, the change stream is disabled and the change stream is not retained.",
          "$ref": "ChangeStreamConfig"
        },
        "tieredStorageConfig": {
          "description": "Rules to specify what data is stored in each storage tier. Different tiers store data differently, providing different trade-offs between cost and performance. Different parts of a table can be stored separately on different tiers. If a config is specified, tiered storage is enabled for this table. Otherwise, tiered storage is disabled. Only SSD instances can configure tiered storage.",
          "$ref": "TieredStorageConfig"
        },
        "granularity": {
          "enumDescriptions": [
            "The user did not specify a granularity. Should not be returned. When specified during table creation, MILLIS will be used.",
            "The table keeps data versioned at a granularity of 1ms."
          ],
          "type": "string",
          "description": "Immutable. The granularity at which timestamps are stored in this table. Timestamps not matching the granularity will be rejected. If unspecified at creation time, the value will be set to `MILLIS`. Views: `SCHEMA_VIEW`, `FULL`.",
          "enum": [
            "TIMESTAMP_GRANULARITY_UNSPECIFIED",
            "MILLIS"
          ]
        },
        "name": {
          "type": "string",
          "description": "The unique name of the table. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`. Views: `NAME_ONLY`, `SCHEMA_VIEW`, `REPLICATION_VIEW`, `STATS_VIEW`, `FULL`"
        },
        "clusterStates": {
          "type": "object",
          "description": "Output only. Map from cluster ID to per-cluster table state. If it could not be determined whether or not the table has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with UNKNOWN `replication_status`. Views: `REPLICATION_VIEW`, `ENCRYPTION_VIEW`, `FULL`",
          "additionalProperties": {
            "$ref": "ClusterState"
          },
          "readOnly": true
        },
        "stats": {
          "description": "Output only. Only available with STATS_VIEW, this includes summary statistics about the entire table contents. For statistics about a specific column family, see ColumnFamilyStats in the mapped ColumnFamily collection above.",
          "readOnly": true,
          "$ref": "TableStats"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw": {
      "id": "GoogleBigtableAdminV2TypeStringEncodingUtf8Raw",
      "type": "object",
      "properties": {},
      "description": "Deprecated: prefer the equivalent `Utf8Bytes`.",
      "deprecated": true
    },
    "SchemaBundle": {
      "description": "A named collection of related schemas.",
      "id": "SchemaBundle",
      "properties": {
        "protoSchema": {
          "description": "Schema for Protobufs.",
          "$ref": "ProtoSchema"
        },
        "name": {
          "description": "Identifier. The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag for this schema bundle. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag."
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeStructEncoding": {
      "description": "Rules used to convert to or from lower level types.",
      "id": "GoogleBigtableAdminV2TypeStructEncoding",
      "properties": {
        "singleton": {
          "description": "Use `Singleton` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingSingleton"
        },
        "orderedCodeBytes": {
          "description": "User `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingOrderedCodeBytes"
        },
        "delimitedBytes": {
          "description": "Use `DelimitedBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncodingDelimitedBytes"
        }
      },
      "type": "object"
    },
    "AutomatedBackupPolicy": {
      "description": "Defines an automated backup policy for a table",
      "id": "AutomatedBackupPolicy",
      "properties": {
        "locations": {
          "type": "array",
          "description": "Optional. A list of Cloud Bigtable zones where automated backups are allowed to be created. If empty, automated backups will be created in all zones of the instance. Locations are in the format `projects/{project}/locations/{zone}`. You can set this field only for tables in Enterprise Plus instances.",
          "items": {
            "type": "string"
          }
        },
        "retentionPeriod": {
          "type": "string",
          "description": "Required. How long the automated backups should be retained. Values must be at least 3 days and at most 90 days.",
          "format": "google-duration"
        },
        "frequency": {
          "description": "How frequently automated backups should occur. The only supported value at this time is 24 hours. An undefined frequency is treated as 24 hours.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListMemoryLayersResponse": {
      "type": "object",
      "properties": {
        "failedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations from which MemoryLayer information could not be retrieved, due to an outage or some other transient condition. MemoryLayers from these locations may be missing from `memory_layers`, or may only have partial information returned. Values are of the form `projects//locations/`"
        },
        "memoryLayers": {
          "type": "array",
          "items": {
            "$ref": "MemoryLayer"
          },
          "description": "The list of requested memory layers."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListMemoryLayersResponse",
      "description": "Response message for BigtableInstanceAdmin.ListMemoryLayers."
    },
    "GoogleBigtableAdminV2TypeBytesEncoding": {
      "type": "object",
      "properties": {
        "raw": {
          "description": "Use `Raw` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeBytesEncodingRaw"
        }
      },
      "id": "GoogleBigtableAdminV2TypeBytesEncoding",
      "description": "Rules used to convert to or from lower level types."
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ModifyColumnFamiliesRequest": {
      "type": "object",
      "properties": {
        "ignoreWarnings": {
          "description": "Optional. If true, ignore safety checks when modifying the column families.",
          "type": "boolean"
        },
        "modifications": {
          "type": "array",
          "description": "Required. Modifications to be atomically applied to the specified table's families. Entries are applied in order, meaning that earlier modifications can be masked by later ones (in the case of repeated updates to the same family, for example).",
          "items": {
            "$ref": "Modification"
          }
        }
      },
      "id": "ModifyColumnFamiliesRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.ModifyColumnFamilies"
    },
    "OperationProgress": {
      "type": "object",
      "properties": {
        "progressPercent": {
          "type": "integer",
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive.",
          "format": "int32"
        },
        "startTime": {
          "description": "Time the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "If set, the time at which this operation failed or was completed successfully.",
          "format": "google-datetime"
        }
      },
      "id": "OperationProgress",
      "description": "Encapsulates progress related information for a Cloud Bigtable long running operation."
    },
    "ProtoSchema": {
      "properties": {
        "protoDescriptors": {
          "type": "string",
          "description": "Required. Contains a protobuf-serialized [google.protobuf.FileDescriptorSet](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/descriptor.proto), which could include multiple proto files. To generate it, [install](https://grpc.io/docs/protoc-installation/) and run `protoc` with `--include_imports` and `--descriptor_set_out`. For example, to generate for moon/shot/app.proto, run ``` $protoc --proto_path=/app_path --proto_path=/lib_path \\ --include_imports \\ --descriptor_set_out=descriptors.pb \\ moon/shot/app.proto ``` For more details, see protobuffer [self description](https://developers.google.com/protocol-buffers/docs/techniques#self-description).",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "Represents a collection of protobuf schemas.",
      "id": "ProtoSchema"
    },
    "GoogleBigtableAdminV2AuthorizedViewSubsetView": {
      "type": "object",
      "properties": {
        "rowPrefixes": {
          "type": "array",
          "description": "Row prefixes to be included in the AuthorizedView. To provide access to all rows, include the empty string as a prefix (\"\").",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "familySubsets": {
          "type": "object",
          "description": "Map from column family name to the columns in this family to be included in the AuthorizedView.",
          "additionalProperties": {
            "$ref": "GoogleBigtableAdminV2AuthorizedViewFamilySubsets"
          }
        }
      },
      "id": "GoogleBigtableAdminV2AuthorizedViewSubsetView",
      "description": "Defines a simple AuthorizedView that is a subset of the underlying Table."
    },
    "UpdateClusterMetadata": {
      "id": "UpdateClusterMetadata",
      "description": "The metadata for the Operation returned by UpdateCluster.",
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateCluster operation.",
          "$ref": "Cluster"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        }
      }
    },
    "UpdateSchemaBundleMetadata": {
      "id": "UpdateSchemaBundleMetadata",
      "description": "The metadata for the Operation returned by UpdateSchemaBundle.",
      "type": "object",
      "properties": {
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`",
          "type": "string"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ClusterAutoscalingConfig": {
      "type": "object",
      "properties": {
        "autoscalingTargets": {
          "description": "Required. Autoscaling targets for this cluster.",
          "$ref": "AutoscalingTargets"
        },
        "autoscalingLimits": {
          "description": "Required. Autoscaling limits for this cluster.",
          "$ref": "AutoscalingLimits"
        }
      },
      "id": "ClusterAutoscalingConfig",
      "description": "Autoscaling config for a cluster."
    },
    "LogicalView": {
      "properties": {
        "deletionProtection": {
          "description": "Optional. Set to true to make the LogicalView protected against deletion.",
          "type": "boolean"
        },
        "query": {
          "description": "Required. The logical view's select query.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique name of the logical view. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag for this logical view. This may be sent on update requests to ensure that the client has an up-to-date value before proceeding. The server returns an ABORTED error on a mismatched etag.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A SQL logical view object that can be referenced in SQL queries.",
      "id": "LogicalView"
    },
    "GoogleBigtableAdminV2TypeBytes": {
      "properties": {
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeBytesEncoding"
        }
      },
      "type": "object",
      "description": "Bytes Values of type `Bytes` are stored in `Value.bytes_value`.",
      "id": "GoogleBigtableAdminV2TypeBytes"
    },
    "ChangeStreamConfig": {
      "id": "ChangeStreamConfig",
      "description": "Change stream configuration.",
      "type": "object",
      "properties": {
        "retentionPeriod": {
          "description": "How long the change stream should be retained. Change stream data older than the retention period will not be returned when reading the change stream from the table. Values must be at least 1 day and at most 7 days, and will be truncated to microsecond granularity.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "CreateMaterializedViewRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent instance where this materialized view will be created. Format: `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "materializedView": {
          "description": "Required. The materialized view to create.",
          "$ref": "MaterializedView"
        },
        "materializedViewId": {
          "description": "Required. The ID to use for the materialized view, which will become the final component of the materialized view's resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for BigtableInstanceAdmin.CreateMaterializedView.",
      "id": "CreateMaterializedViewRequest"
    },
    "PartialUpdateClusterRequest": {
      "properties": {
        "cluster": {
          "description": "Required. The Cluster which contains the partial updates to be applied, subject to the update_mask.",
          "$ref": "Cluster"
        },
        "updateMask": {
          "description": "Required. The subset of Cluster fields which should be replaced.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateCluster.",
      "id": "PartialUpdateClusterRequest"
    },
    "ListAppProfilesResponse": {
      "properties": {
        "appProfiles": {
          "type": "array",
          "items": {
            "$ref": "AppProfile"
          },
          "description": "The list of requested app profiles."
        },
        "failedLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations from which AppProfile information could not be retrieved, due to an outage or some other transient condition. AppProfiles from these locations may be missing from `app_profiles`. Values are of the form `projects//locations/`",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if not all app profiles could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
        }
      },
      "type": "object",
      "description": "Response message for BigtableInstanceAdmin.ListAppProfiles.",
      "id": "ListAppProfilesResponse"
    },
    "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes": {
      "description": "Encodes the value as an 8-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putLong()` with `ByteOrder.BIG_ENDIAN`",
      "id": "GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes",
      "properties": {
        "bytesType": {
          "deprecated": true,
          "$ref": "GoogleBigtableAdminV2TypeBytes",
          "description": "Deprecated: ignored if set."
        }
      },
      "type": "object"
    },
    "RestoreInfo": {
      "properties": {
        "backupInfo": {
          "description": "Information about the backup used to restore the table. The backup may no longer exist.",
          "$ref": "BackupInfo"
        },
        "sourceType": {
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "type": "string",
          "description": "The type of the restore source.",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ]
        }
      },
      "type": "object",
      "description": "Information about a table restore.",
      "id": "RestoreInfo"
    },
    "CreateLogicalViewMetadata": {
      "id": "CreateLogicalViewMetadata",
      "description": "The metadata for the Operation returned by CreateLogicalView.",
      "type": "object",
      "properties": {
        "startTime": {
          "deprecated": true,
          "type": "string",
          "description": "DEPRECATED: Use request_time instead.",
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateLogicalView operation.",
          "$ref": "CreateLogicalViewRequest"
        },
        "endTime": {
          "deprecated": true,
          "type": "string",
          "description": "DEPRECATED: Use finish_time instead.",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "Response message for BigtableInstanceAdmin.ListInstances.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "deprecated": true,
          "description": "DEPRECATED: This field is unused and ignored."
        },
        "failedLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations from which Instance information could not be retrieved, due to an outage or some other transient condition. Instances whose Clusters are all in one of the failed locations may be missing from `instances`, and Instances with at least one Cluster in a failed location may only have partial information returned. Values are of the form `projects//locations/`",
          "type": "array"
        },
        "instances": {
          "description": "The list of requested instances.",
          "items": {
            "$ref": "Instance"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeInt32Encoding": {
      "type": "object",
      "properties": {
        "bigEndianBytes": {
          "description": "Use `BigEndianBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes"
        },
        "orderedCodeBytes": {
          "description": "Use `OrderedCodeBytes` encoding.",
          "$ref": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes"
        }
      },
      "id": "GoogleBigtableAdminV2TypeInt32Encoding",
      "description": "Rules used to convert to or from lower level types."
    },
    "EncryptionInfo": {
      "type": "object",
      "properties": {
        "encryptionStatus": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. The status of encrypt/decrypt calls on underlying data for this resource. Regardless of status, the existing data is always encrypted at rest."
        },
        "encryptionType": {
          "description": "Output only. The type of encryption used to protect this resource.",
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data backing this resource is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data backing this resource is encrypted at rest with a key that is managed by the customer. The in-use version of the key and its status are populated for CMEK-protected tables. CMEK-protected backups are pinned to the key version that was in use at the time the backup was taken. This key version is populated but its status is not tracked and is reported as `UNKNOWN`."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "readOnly": true,
          "type": "string"
        },
        "kmsKeyVersion": {
          "type": "string",
          "description": "Output only. The version of the Cloud KMS key specified in the parent cluster that is in use for the data underlying this table.",
          "readOnly": true
        }
      },
      "id": "EncryptionInfo",
      "description": "Encryption information for a given resource. If this resource is protected with customer managed encryption, the in-use Cloud Key Management Service (Cloud KMS) key version is specified along with its status."
    },
    "GoogleBigtableAdminV2TypeStruct": {
      "type": "object",
      "properties": {
        "fields": {
          "description": "The names and types of the fields in this struct.",
          "items": {
            "$ref": "GoogleBigtableAdminV2TypeStructField"
          },
          "type": "array"
        },
        "encoding": {
          "description": "The encoding to use when converting to or from lower level types.",
          "$ref": "GoogleBigtableAdminV2TypeStructEncoding"
        }
      },
      "id": "GoogleBigtableAdminV2TypeStruct",
      "description": "A structured data value, consisting of fields which map to dynamically typed values. Values of type `Struct` are stored in `Value.array_value` where entries are in the same order and number as `field_types`."
    },
    "ListBackupsResponse": {
      "type": "object",
      "properties": {
        "backups": {
          "description": "The list of matching backups.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups."
        }
      },
      "id": "ListBackupsResponse",
      "description": "The response for ListBackups."
    },
    "UpdateAuthorizedViewMetadata": {
      "properties": {
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateAuthorizedView operation.",
          "$ref": "UpdateAuthorizedViewRequest"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for the google.longrunning.Operation returned by UpdateAuthorizedView.",
      "id": "UpdateAuthorizedViewMetadata"
    },
    "CreateClusterMetadata": {
      "id": "CreateClusterMetadata",
      "description": "The metadata for the Operation returned by CreateCluster.",
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateCluster operation.",
          "$ref": "CreateClusterRequest"
        },
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "tables": {
          "type": "object",
          "description": "Keys: the full `name` of each table that existed in the instance when CreateCluster was first called, i.e. `projects//instances//tables/`. Any table added to the instance by a later API call will be created in the new cluster by that API call, not this one. Values: information on how much of a table's data has been copied to the newly-created cluster so far.",
          "additionalProperties": {
            "$ref": "TableProgress"
          }
        }
      }
    },
    "PartialUpdateClusterMetadata": {
      "id": "PartialUpdateClusterMetadata",
      "description": "The metadata for the Operation returned by PartialUpdateCluster.",
      "type": "object",
      "properties": {
        "finishTime": {
          "type": "string",
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The original request for PartialUpdateCluster.",
          "$ref": "PartialUpdateClusterRequest"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "OptimizeRestoredTableMetadata": {
      "id": "OptimizeRestoredTableMetadata",
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the restored table being optimized."
        },
        "progress": {
          "description": "The progress of the post-restore optimizations.",
          "$ref": "OperationProgress"
        }
      }
    },
    "CheckConsistencyRequest": {
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "id": "CheckConsistencyRequest",
      "properties": {
        "dataBoostReadLocalWrites": {
          "description": "Checks that reads using an app profile with `DataBoostIsolationReadOnly` can see all writes committed before the token was created, but only if the read and write target the same cluster.",
          "$ref": "DataBoostReadLocalWrites"
        },
        "consistencyToken": {
          "description": "Required. The token created using GenerateConsistencyToken for the Table.",
          "type": "string"
        },
        "standardReadRemoteWrites": {
          "description": "Checks that reads using an app profile with `StandardIsolation` can see all writes committed before the token was created, even if the read and write target different clusters.",
          "$ref": "StandardReadRemoteWrites"
        }
      },
      "type": "object"
    },
    "CreateBackupMetadata": {
      "type": "object",
      "properties": {
        "sourceTable": {
          "type": "string",
          "description": "The name of the table the backup is created from."
        },
        "startTime": {
          "type": "string",
          "deprecated": true,
          "description": "The time at which this operation started. DEPRECATED: Use request_time instead.",
          "format": "google-datetime"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "deprecated": true,
          "description": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead.",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the backup being created."
        }
      },
      "id": "CreateBackupMetadata",
      "description": "Metadata type for the operation returned by CreateBackup."
    },
    "StandardReadRemoteWrites": {
      "type": "object",
      "properties": {},
      "id": "StandardReadRemoteWrites",
      "description": "Checks that all writes before the consistency token was generated are replicated in every cluster and readable."
    },
    "ClusterState": {
      "properties": {
        "replicationState": {
          "enumDescriptions": [
            "The replication state of the table is unknown in this cluster.",
            "The cluster was recently created, and the table must finish copying over pre-existing data from other clusters before it can begin receiving live replication updates and serving Data API requests.",
            "The table is temporarily unable to serve Data API requests from this cluster due to planned internal maintenance.",
            "The table is temporarily unable to serve Data API requests from this cluster due to unplanned or emergency maintenance.",
            "The table can serve Data API requests from this cluster. Depending on replication delay, reads may not immediately reflect the state of the table in other clusters.",
            "The table is fully created and ready for use after a restore, and is being optimized for performance. When optimizations are complete, the table will transition to `READY` state."
          ],
          "description": "Output only. The state of replication for the table in this cluster.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "PLANNED_MAINTENANCE",
            "UNPLANNED_MAINTENANCE",
            "READY",
            "READY_OPTIMIZING"
          ]
        },
        "encryptionInfo": {
          "readOnly": true,
          "items": {
            "$ref": "EncryptionInfo"
          },
          "description": "Output only. The encryption information for the table in this cluster. If the encryption key protecting this resource is customer managed, then its version can be rotated in Cloud Key Management Service (Cloud KMS). The primary version of the key and its status will be reflected here when changes propagate from Cloud KMS.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The state of a table's data in a particular cluster.",
      "id": "ClusterState"
    },
    "HotTablet": {
      "properties": {
        "name": {
          "description": "The unique name of the hot tablet. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/hotTablets/[a-zA-Z0-9_-]*`.",
          "type": "string"
        },
        "endKey": {
          "description": "Tablet End Key (inclusive).",
          "type": "string"
        },
        "nodeCpuUsagePercent": {
          "description": "Output only. The average CPU usage spent by a node on this tablet over the start_time to end_time time range. The percentage is the amount of CPU used by the node to serve the tablet, from 0% (tablet was not interacted with) to 100% (the node spent all cycles serving the hot tablet).",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "startKey": {
          "description": "Tablet Start Key (inclusive).",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The end time of the hot tablet.",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The start time of the hot tablet.",
          "format": "google-datetime",
          "readOnly": true
        },
        "tableName": {
          "description": "Name of the table that contains the tablet. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A tablet is a defined by a start and end key and is explained in https://cloud.google.com/bigtable/docs/overview#architecture and https://cloud.google.com/bigtable/docs/performance#optimization. A Hot tablet is a tablet that exhibits high average cpu usage during the time interval from start time to end time.",
      "id": "HotTablet"
    },
    "GoogleBigtableAdminV2MaterializedViewClusterState": {
      "properties": {
        "replicationState": {
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "READY"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the materialized view in this cluster.",
          "enumDescriptions": [
            "The state of the materialized view is unknown in this cluster.",
            "The cluster or view was recently created, and the materialized view must finish backfilling before it can begin serving Data API requests.",
            "The materialized view can serve Data API requests from this cluster. Depending on materialization and replication delay, reads may not immediately reflect the state of the materialized view in other clusters."
          ]
        }
      },
      "type": "object",
      "description": "The state of a materialized view's data in a particular cluster.",
      "id": "GoogleBigtableAdminV2MaterializedViewClusterState"
    },
    "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount": {
      "id": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount",
      "description": "Computes an approximate unique count over the input values. When using raw data as input, be careful to use a consistent encoding. Otherwise the same value encoded differently could count more than once, or two distinct values could count as identical. Input: Any, or omit for Raw State: TBD Special state conversions: `Int64` (the unique count estimate)",
      "type": "object",
      "properties": {}
    },
    "ColumnFamily": {
      "properties": {
        "stats": {
          "description": "Output only. Only available with STATS_VIEW, this includes summary statistics about column family contents. For statistics over an entire table, see TableStats above.",
          "readOnly": true,
          "$ref": "ColumnFamilyStats"
        },
        "gcRule": {
          "description": "Garbage collection rule specified as a protobuf. Must serialize to at most 500 bytes. NOTE: Garbage collection executes opportunistically in the background, and so it's possible for reads to return a cell even if it matches the active GC expression for its family.",
          "$ref": "GcRule"
        },
        "valueType": {
          "description": "The type of data stored in each of this family's cell values, including its full encoding. If omitted, the family only serves raw untyped bytes. For now, only the `Aggregate` type is supported. `Aggregate` can only be set at family creation and is immutable afterwards. This field is mutually exclusive with `sql_type`. If `value_type` is `Aggregate`, written data must be compatible with: * `value_type.input_type` for `AddInput` mutations",
          "$ref": "Type"
        }
      },
      "type": "object",
      "description": "A set of columns within a table which share a common configuration.",
      "id": "ColumnFamily"
    },
    "Instance": {
      "properties": {
        "edition": {
          "type": "string",
          "enumDescriptions": [
            "The edition is unspecified. This is treated as `ENTERPRISE`.",
            "The Enterprise edition. This is the default offering that is designed to meet the needs of most enterprise workloads.",
            "The Enterprise Plus edition. This is a premium tier that is designed for demanding, multi-tenant workloads requiring the highest levels of performance, scale, and global availability. The nodes in the Enterprise Plus tier come at a higher cost than the Enterprise tier. Any Enterprise Plus features must be disabled before downgrading to Enterprise."
          ],
          "description": "Optional. The edition of the instance. See Edition for details.",
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ]
        },
        "displayName": {
          "description": "Required. The descriptive name for this instance as it appears in UIs. Can be changed at any time, but should be kept globally unique to avoid confusion.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the instance could not be determined.",
            "The instance has been successfully created and can serve requests to its tables.",
            "The instance is currently being created, and may be destroyed if the creation process encounters an error."
          ],
          "description": "Output only. The current state of the instance."
        },
        "name": {
          "description": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`.",
          "type": "string"
        },
        "knowledgeCatalogRegion": {
          "description": "Output only. The region where Knowledge Catalog data is synced to and stored, including user-created aspects.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. A commit timestamp representing when this Instance was created. For instances created before this field was added (August 2021), this value is `seconds: 0, nanos: 1`.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: - \"123/environment\": \"production\", - \"123/costCenter\": \"marketing\" Tags and Labels (above) are both used to bind metadata to resources, with different use-cases. See https://cloud.google.com/resource-manager/docs/tags/tags-overview for an in-depth overview on the difference between tags and labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "labels": {
          "type": "object",
          "description": "Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. They can be used to filter resources and aggregate metrics. * Label keys must be between 1 and 63 characters long and must conform to the regular expression: `\\p{Ll}\\p{Lo}{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`. * No more than 64 labels can be associated with a given resource. * Keys and values must both be under 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "enumDescriptions": [
            "The type of the instance is unspecified. If set when creating an instance, a `PRODUCTION` instance will be created. If set when updating an instance, the type will be left unchanged.",
            "An instance meant for production use. `serve_nodes` must be set on the cluster.",
            "DEPRECATED: Prefer PRODUCTION for all use cases, as it no longer enforces a higher minimum node count than DEVELOPMENT."
          ],
          "type": "string",
          "description": "The type of the instance. Defaults to `PRODUCTION`.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT"
          ]
        }
      },
      "type": "object",
      "description": "A collection of Bigtable Tables and the resources that serve them. All tables in an instance are served from all Clusters in the instance.",
      "id": "Instance"
    },
    "Split": {
      "description": "An initial split point for a newly created table.",
      "id": "Split",
      "properties": {
        "key": {
          "type": "string",
          "description": "Row key to use as an initial tablet boundary.",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeBoolEncoding": {
      "id": "GoogleBigtableAdminV2TypeBoolEncoding",
      "description": "Defines rules used to convert to or from lower level types.",
      "type": "object",
      "properties": {}
    },
    "GoogleBigtableAdminV2TypeAggregateSum": {
      "properties": {},
      "type": "object",
      "description": "Computes the sum of the input values. Allowed input: `Int64` State: same as input",
      "id": "GoogleBigtableAdminV2TypeAggregateSum"
    },
    "EncryptionConfig": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`",
          "type": "string"
        }
      },
      "id": "EncryptionConfig",
      "description": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster."
    },
    "ListAuthorizedViewsResponse": {
      "id": "ListAuthorizedViewsResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListAuthorizedViews",
      "type": "object",
      "properties": {
        "authorizedViews": {
          "description": "The AuthorizedViews present in the requested table.",
          "items": {
            "$ref": "AuthorizedView"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleBigtableAdminV2TypeAggregate": {
      "properties": {
        "stateType": {
          "readOnly": true,
          "description": "Output only. Type that holds the internal accumulator state for the `Aggregate`. This is a function of the `input_type` and `aggregator` chosen.",
          "$ref": "Type"
        },
        "hllppUniqueCount": {
          "description": "HyperLogLogPlusPlusUniqueCount aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount"
        },
        "min": {
          "description": "Min aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateMin"
        },
        "sum": {
          "description": "Sum aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateSum"
        },
        "max": {
          "description": "Max aggregator.",
          "$ref": "GoogleBigtableAdminV2TypeAggregateMax"
        },
        "inputType": {
          "description": "Type of the inputs that are accumulated by this `Aggregate`. Use `AddInput` mutations to accumulate new inputs.",
          "$ref": "Type"
        }
      },
      "type": "object",
      "description": "A value that combines incremental updates into a summarized value. Data is never directly written or read using type `Aggregate`. Writes provide either the `input_type` or `state_type`, and reads always return the `state_type` .",
      "id": "GoogleBigtableAdminV2TypeAggregate"
    },
    "CreateAuthorizedViewRequest": {
      "id": "CreateAuthorizedViewRequest",
      "description": "The request for CreateAuthorizedView",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. This is the name of the table the AuthorizedView belongs to. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.",
          "type": "string"
        },
        "authorizedViewId": {
          "type": "string",
          "description": "Required. The id of the AuthorizedView to create. This AuthorizedView must not already exist. The `authorized_view_id` appended to `parent` forms the full AuthorizedView name of the form `projects/{project}/instances/{instance}/tables/{table}/authorizedView/{authorized_view}`."
        },
        "authorizedView": {
          "description": "Required. The AuthorizedView to create.",
          "$ref": "AuthorizedView"
        }
      }
    },
    "DataBoostIsolationReadOnly": {
      "description": "Data Boost is a serverless compute capability that lets you run high-throughput read jobs and queries on your Bigtable data, without impacting the performance of the clusters that handle your application traffic. Data Boost supports read-only use cases with single-cluster routing.",
      "id": "DataBoostIsolationReadOnly",
      "properties": {
        "computeBillingOwner": {
          "description": "The Compute Billing Owner for this Data Boost App Profile.",
          "enum": [
            "COMPUTE_BILLING_OWNER_UNSPECIFIED",
            "HOST_PAYS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "The host Cloud Project containing the targeted Bigtable Instance / Table pays for compute."
          ]
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeBytesEncodingRaw": {
      "id": "GoogleBigtableAdminV2TypeBytesEncodingRaw",
      "description": "Leaves the value as-is. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "type": "object",
      "properties": {
        "escapeNulls": {
          "description": "If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value which only contains the null byte `0x00`, has one more null byte appended.",
          "type": "boolean"
        }
      }
    },
    "Modification": {
      "id": "Modification",
      "description": "A create, update, or delete of a particular column family.",
      "type": "object",
      "properties": {
        "create": {
          "description": "Create a new column family with the specified schema, or fail if one already exists with the given ID.",
          "$ref": "ColumnFamily"
        },
        "update": {
          "description": "Update an existing column family to the specified schema, or fail if no column family exists with the given ID.",
          "$ref": "ColumnFamily"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. A mask specifying which fields (e.g. `gc_rule`) in the `update` mod should be updated, ignored for other modification types. If unset or empty, we treat it as updating `gc_rule` to be backward compatible.",
          "format": "google-fieldmask"
        },
        "id": {
          "type": "string",
          "description": "The ID of the column family to be modified."
        },
        "drop": {
          "type": "boolean",
          "description": "Drop (delete) the column family with the given ID, or fail if no such family exists."
        }
      }
    },
    "GoogleBigtableAdminV2TypeAggregateMax": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeAggregateMax",
      "description": "Computes the max of the input values. Allowed input: `Int64` State: same as input"
    },
    "CreateClusterRequest": {
      "description": "Request message for BigtableInstanceAdmin.CreateCluster.",
      "id": "CreateClusterRequest",
      "properties": {
        "cluster": {
          "description": "Required. The cluster to be created. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Cluster"
        },
        "parent": {
          "description": "Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects/{project}/instances/{instance}`.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`."
        }
      },
      "type": "object"
    },
    "GoogleBigtableAdminV2TypeMap": {
      "description": "A mapping of keys to values of a given type. Values of type `Map` are stored in a `Value.array_value` where each entry is another `Value.array_value` with two elements (the key and the value, in that order). Normally encoded Map values won't have repeated keys, however, clients are expected to handle the case in which they do. If the same key appears multiple times, the _last_ value takes precedence.",
      "id": "GoogleBigtableAdminV2TypeMap",
      "properties": {
        "keyType": {
          "description": "The type of a map key. Only `Bytes`, `String`, and `Int64` are allowed as key types.",
          "$ref": "Type"
        },
        "valueType": {
          "description": "The type of the values in a map.",
          "$ref": "Type"
        }
      },
      "type": "object"
    },
    "Intersection": {
      "description": "A GcRule which deletes cells matching all of the given rules.",
      "id": "Intersection",
      "properties": {
        "rules": {
          "items": {
            "$ref": "GcRule"
          },
          "description": "Only delete cells which would be deleted by every element of `rules`.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "PartialUpdateInstanceRequest": {
      "id": "PartialUpdateInstanceRequest",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance.",
      "type": "object",
      "properties": {
        "instance": {
          "description": "Required. The Instance which will (partially) replace the current value.",
          "$ref": "Instance"
        },
        "updateMask": {
          "type": "string",
          "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set.",
          "format": "google-fieldmask"
        }
      }
    },
    "CreateInstanceMetadata": {
      "id": "CreateInstanceMetadata",
      "description": "The metadata for the Operation returned by CreateInstance.",
      "type": "object",
      "properties": {
        "requestTime": {
          "type": "string",
          "description": "The time at which the original request was received.",
          "format": "google-datetime"
        },
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateInstance operation.",
          "$ref": "CreateInstanceRequest"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "UndeleteTableRequest": {
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable",
      "id": "UndeleteTableRequest",
      "properties": {},
      "type": "object"
    },
    "TieredStorageConfig": {
      "description": "Config for tiered storage. A valid config must have a valid TieredStorageRule. Otherwise the whole TieredStorageConfig must be unset. By default all data is stored in the SSD tier (only SSD instances can configure tiered storage).",
      "id": "TieredStorageConfig",
      "properties": {
        "infrequentAccess": {
          "description": "Rule to specify what data is stored in the infrequent access(IA) tier. The IA tier allows storing more data per node with reduced performance.",
          "$ref": "TieredStorageRule"
        }
      },
      "type": "object"
    },
    "AutoscalingTargets": {
      "properties": {
        "cpuUtilizationPercent": {
          "type": "integer",
          "description": "The cpu utilization that the Autoscaler should be trying to achieve. This number is on a scale from 0 (no utilization) to 100 (total utilization), and is limited between 10 and 80, otherwise it will return INVALID_ARGUMENT error.",
          "format": "int32"
        },
        "storageUtilizationGibPerNode": {
          "description": "The storage utilization that the Autoscaler should be trying to achieve. This number is limited between 2560 (2.5TiB) and 5120 (5TiB) for a SSD cluster and between 8192 (8TiB) and 16384 (16TiB) for an HDD cluster, otherwise it will return INVALID_ARGUMENT error. If this value is set to 0, it will be treated as if it were set to the default value: 2560 for SSD, 8192 for HDD.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The Autoscaling targets for a Cluster. These determine the recommended nodes.",
      "id": "AutoscalingTargets"
    },
    "GoogleBigtableAdminV2TypeFloat32": {
      "type": "object",
      "properties": {},
      "id": "GoogleBigtableAdminV2TypeFloat32",
      "description": "Float32 Values of type `Float32` are stored in `Value.float_value`."
    },
    "DropRowRangeRequest": {
      "id": "DropRowRangeRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.DropRowRange",
      "type": "object",
      "properties": {
        "deleteAllDataFromTable": {
          "description": "Delete all rows in the table. Setting this to false is a no-op.",
          "type": "boolean"
        },
        "rowKeyPrefix": {
          "description": "Delete all rows that start with this row key prefix. Prefix cannot be zero length.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "MultiClusterRoutingUseAny": {
      "description": "Read/write requests are routed to the nearest cluster in the instance, and will fail over to the nearest cluster that is available in the event of transient errors or delays. Clusters in a region are considered equidistant. Choosing this option sacrifices read-your-writes consistency to improve availability.",
      "id": "MultiClusterRoutingUseAny",
      "properties": {
        "clusterIds": {
          "items": {
            "type": "string"
          },
          "description": "The set of clusters to route to. The order is ignored; clusters will be tried in order of distance. If left empty, all clusters are eligible.",
          "type": "array"
        },
        "rowAffinity": {
          "description": "Row affinity sticky routing based on the row key of the request. Requests that span multiple rows are routed non-deterministically.",
          "$ref": "RowAffinity"
        }
      },
      "type": "object"
    },
    "RestoreTableMetadata": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the table being created and restored to."
        },
        "sourceType": {
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "type": "string",
          "description": "The type of the restore source.",
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ]
        },
        "progress": {
          "description": "The progress of the RestoreTable operation.",
          "$ref": "OperationProgress"
        },
        "backupInfo": {
          "$ref": "BackupInfo"
        },
        "optimizeTableOperationName": {
          "type": "string",
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoredTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful."
        }
      },
      "type": "object",
      "description": "Metadata type for the long-running operation returned by RestoreTable.",
      "id": "RestoreTableMetadata"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "type": "object"
    },
    "UpdateMemoryLayerRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of fields to update.",
          "format": "google-fieldmask"
        },
        "memoryLayer": {
          "description": "Required. The memory layer to update. The memory layer's `name` format is as follows: `projects/{project}/instances/{instance}/clusters/{cluster}/memoryLayer`.",
          "$ref": "MemoryLayer"
        }
      },
      "type": "object",
      "description": "Request message for BigtableInstanceAdmin.UpdateMemoryLayer.",
      "id": "UpdateMemoryLayerRequest"
    },
    "UpdateAuthorizedViewRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of fields to update. A mask specifying which fields in the AuthorizedView resource should be updated. This mask is relative to the AuthorizedView resource, not to the request message. A field will be overwritten if it is in the mask. If empty, all fields set in the request will be overwritten. A special value `*` means to overwrite all fields (including fields not set in the request).",
          "format": "google-fieldmask"
        },
        "ignoreWarnings": {
          "type": "boolean",
          "description": "Optional. If true, ignore the safety checks when updating the AuthorizedView."
        },
        "authorizedView": {
          "description": "Required. The AuthorizedView to update. The `name` in `authorized_view` is used to identify the AuthorizedView. AuthorizedView name must in this format: `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`.",
          "$ref": "AuthorizedView"
        }
      },
      "type": "object",
      "description": "The request for UpdateAuthorizedView.",
      "id": "UpdateAuthorizedViewRequest"
    },
    "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes": {
      "id": "GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes",
      "description": "Encodes the value in a variable length binary format of up to 5 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported.",
      "type": "object",
      "properties": {}
    },
    "Expr": {
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "AutoscalingLimits": {
      "properties": {
        "minServeNodes": {
          "type": "integer",
          "description": "Required. Minimum number of nodes to scale down to.",
          "format": "int32"
[...]
