{
  "discoveryVersion": "v1",
  "canonicalName": "Blockchain Node Engine",
  "revision": "20250514",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "id": "blockchainnodeengine:v1",
  "basePath": "",
  "mtlsRootUrl": "https://blockchainnodeengine.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. A list of extra location types that should be used as conditions for controlling the visibility of the locations.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                }
              },
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "id": "blockchainnodeengine.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "id": "blockchainnodeengine.projects.locations.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location."
                }
              },
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "blockchainnodeengine.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "blockchainnodeengine.projects.locations.operations.get"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "blockchainnodeengine.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "delete": {
                  "id": "blockchainnodeengine.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE"
                }
              }
            },
            "blockchainNodes": {
              "methods": {
                "list": {
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists blockchain nodes in a given project and location.",
                  "path": "v1/{+parent}/blockchainNodes",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filtering results."
                    },
                    "parent": {
                      "description": "Required. Parent value for `ListNodesRequest`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Hint for how to order the results."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListBlockchainNodesResponse"
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "BlockchainNode"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/blockchainNodes/[^/]+$",
                      "description": "Required. The fully qualified name of the blockchain node to fetch. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes/{blockchainNodesId}",
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single blockchain node."
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes/{blockchainNodesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/blockchainNodes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The fully qualified name of the blockchain node to delete. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single blockchain node.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "blockchainNodeId": {
                      "type": "string",
                      "description": "Required. ID of the requesting object.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/blockchainNodes",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new blockchain node in a given project and location.",
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BlockchainNode"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Blockchain node resource by the update. The fields specified in the `update_mask` are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/blockchainNodes/[^/]+$",
                      "description": "Output only. The fully qualified name of the blockchain node. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`."
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes/{blockchainNodesId}",
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single blockchain node.",
                  "request": {
                    "$ref": "BlockchainNode"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GethDetails": {
      "id": "GethDetails",
      "properties": {
        "garbageCollectionMode": {
          "type": "string",
          "enumDescriptions": [
            "The garbage collection has not been specified.",
            "Configures Geth's garbage collection so that older data not needed for a full node is deleted. This is the default mode when creating a full node.",
            "Configures Geth's garbage collection so that old data is never deleted. This is the default mode when creating an archive node. This value can also be chosen when creating a full node in order to create a partial/recent archive node. See [Sync modes](https://geth.ethereum.org/docs/fundamentals/sync-modes) for more details."
          ],
          "description": "Immutable. Blockchain garbage collection mode.",
          "enum": [
            "GARBAGE_COLLECTION_MODE_UNSPECIFIED",
            "FULL",
            "ARCHIVE"
          ]
        }
      },
      "description": "Options for the Geth execution client. See [Command-line Options](https://geth.ethereum.org/docs/fundamentals/command-line-options) for more details.",
      "type": "object"
    },
    "EndpointInfo": {
      "properties": {
        "websocketsApiEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The assigned URL for the node WebSockets API endpoint."
        },
        "jsonRpcApiEndpoint": {
          "readOnly": true,
          "description": "Output only. The assigned URL for the node JSON-RPC API endpoint.",
          "type": "string"
        }
      },
      "id": "EndpointInfo",
      "type": "object",
      "description": "Contains endpoint information through which to interact with a blockchain node."
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have `Operation.error` value with a `google.rpc.Status.code` of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        }
      },
      "id": "OperationMetadata"
    },
    "ListBlockchainNodesResponse": {
      "description": "Message for response to listing blockchain nodes.",
      "type": "object",
      "id": "ListBlockchainNodesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "blockchainNodes": {
          "type": "array",
          "description": "The list of nodes",
          "items": {
            "$ref": "BlockchainNode"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EthereumDetails": {
      "type": "object",
      "description": "Ethereum-specific blockchain node details.",
      "properties": {
        "network": {
          "type": "string",
          "enum": [
            "NETWORK_UNSPECIFIED",
            "MAINNET",
            "TESTNET_GOERLI_PRATER",
            "TESTNET_SEPOLIA",
            "TESTNET_HOLESKY"
          ],
          "enumDescriptions": [
            "The network has not been specified, but should be.",
            "The Ethereum Mainnet.",
            "Deprecated: The Ethereum Testnet based on Goerli protocol. Please use another test network.",
            "The Ethereum Testnet based on Sepolia/Bepolia protocol. See https://github.com/eth-clients/sepolia.",
            "The Ethereum Testnet based on Holesky specification. See https://github.com/eth-clients/holesky."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "description": "Immutable. The Ethereum environment being accessed."
        },
        "consensusClient": {
          "type": "string",
          "enumDescriptions": [
            "Consensus client has not been specified, but should be.",
            "Consensus client implementation written in Rust, maintained by Sigma Prime. See [Lighthouse - Sigma Prime](https://lighthouse.sigmaprime.io/) for details.",
            "Erigon's embedded consensus client embedded in the execution client. Note this option is not currently available when creating new blockchain nodes. See [Erigon on GitHub](https://github.com/ledgerwatch/erigon#embedded-consensus-layer) for details."
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "description": "Immutable. The consensus client.",
          "enum": [
            "CONSENSUS_CLIENT_UNSPECIFIED",
            "LIGHTHOUSE",
            "ERIGON_EMBEDDED_CONSENSUS_LAYER"
          ]
        },
        "gethDetails": {
          "description": "Details for the Geth execution client.",
          "$ref": "GethDetails"
        },
        "additionalEndpoints": {
          "readOnly": true,
          "$ref": "EthereumEndpoints",
          "description": "Output only. Ethereum-specific endpoint information."
        },
        "executionClient": {
          "enum": [
            "EXECUTION_CLIENT_UNSPECIFIED",
            "GETH",
            "ERIGON"
          ],
          "type": "string",
          "enumDescriptions": [
            "Execution client has not been specified, but should be.",
            "Official Go implementation of the Ethereum protocol. See [go-ethereum](https://geth.ethereum.org/) for details.",
            "An implementation of Ethereum (execution client), on the efficiency frontier, written in Go. See [Erigon on GitHub](https://github.com/ledgerwatch/erigon) for details."
          ],
          "description": "Immutable. The execution client"
        },
        "validatorConfig": {
          "$ref": "ValidatorConfig",
          "description": "Configuration for validator-related parameters on the beacon client, and for any GCP-managed validator client."
        },
        "nodeType": {
          "description": "Immutable. The type of Ethereum node.",
          "type": "string",
          "enumDescriptions": [
            "Node type has not been specified, but should be.",
            "An Ethereum node that only downloads Ethereum block headers.",
            "Keeps a complete copy of the blockchain data, and contributes to the network by receiving, validating, and forwarding transactions.",
            "Holds the same data as full node as well as all of the blockchain's history state data dating back to the Genesis Block."
          ],
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "LIGHT",
            "FULL",
            "ARCHIVE"
          ]
        },
        "apiEnableAdmin": {
          "type": "boolean",
          "description": "Immutable. Enables JSON-RPC access to functions in the `admin` namespace. Defaults to `false`."
        },
        "apiEnableDebug": {
          "type": "boolean",
          "description": "Immutable. Enables JSON-RPC access to functions in the `debug` namespace. Defaults to `false`."
        }
      },
      "id": "EthereumDetails"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse"
    },
    "BlockchainNode": {
      "id": "BlockchainNode",
      "properties": {
        "ethereumDetails": {
          "$ref": "EthereumDetails",
          "description": "Ethereum-specific blockchain node details."
        },
        "connectionInfo": {
          "$ref": "ConnectionInfo",
          "readOnly": true,
          "description": "Output only. The connection information used to interact with a blockchain node."
        },
        "labels": {
          "description": "User-provided key-value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp at which the blockchain node was last updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp at which the blockchain node was first created.",
          "format": "google-datetime"
        },
        "privateServiceConnectEnabled": {
          "type": "boolean",
          "description": "Optional. When true, the node is only accessible via Private Service Connect; no public endpoints are exposed. Otherwise, the node is only accessible via public endpoints. Warning: These nodes are deprecated, please use public endpoints instead.",
          "deprecated": true
        },
        "blockchainType": {
          "type": "string",
          "enumDescriptions": [
            "Blockchain type has not been specified, but should be.",
            "The blockchain type is Ethereum."
          ],
          "description": "Immutable. The blockchain type of the node.",
          "enum": [
            "BLOCKCHAIN_TYPE_UNSPECIFIED",
            "ETHEREUM"
          ]
        },
        "state": {
          "type": "string",
          "description": "Output only. A status representing the state of the node.",
          "enumDescriptions": [
            "The state has not been specified.",
            "The node has been requested and is in the process of being created.",
            "The existing node is undergoing deletion, but is not yet finished.",
            "The node is running and ready for use.",
            "The node is in an unexpected or errored state.",
            "The node is currently being updated.",
            "The node is currently being repaired.",
            "The node is currently being reconciled.",
            "The node is syncing, which is the process by which it obtains the latest block and current global state."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "RUNNING",
            "ERROR",
            "UPDATING",
            "REPAIRING",
            "RECONCILING",
            "SYNCING"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully qualified name of the blockchain node. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`."
        }
      },
      "description": "A representation of a blockchain node.",
      "type": "object"
    },
    "ValidatorConfig": {
      "type": "object",
      "description": "Configuration for validator-related parameters on the beacon client, and for any GCP-managed validator client.",
      "properties": {
        "managedValidatorClient": {
          "type": "boolean",
          "description": "Immutable. When true, deploys a GCP-managed validator client alongside the beacon client.",
          "deprecated": true
        },
        "beaconFeeRecipient": {
          "type": "string",
          "description": "An Ethereum address which the beacon client will send fee rewards to if no recipient is configured in the validator client. See https://lighthouse-book.sigmaprime.io/suggested-fee-recipient.html or https://docs.prylabs.network/docs/execution-node/fee-recipient for examples of how this is used. Note that while this is often described as \"suggested\", as we run the execution node we can trust the execution node, and therefore this is considered enforced."
        },
        "mevRelayUrls": {
          "type": "array",
          "description": "URLs for MEV-relay services to use for block building. When set, a GCP-managed MEV-boost service is configured on the beacon client.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ValidatorConfig"
    },
    "ConnectionInfo": {
      "type": "object",
      "description": "The connection information through which to interact with a blockchain node.",
      "properties": {
        "endpointInfo": {
          "description": "Output only. The endpoint information through which to interact with a blockchain node.",
          "$ref": "EndpointInfo",
          "readOnly": true
        },
        "serviceAttachment": {
          "description": "Output only. A service attachment that exposes a node, and has the following format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment_name}",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ConnectionInfo"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "EthereumEndpoints": {
      "type": "object",
      "description": "Contains endpoint information specific to Ethereum nodes.",
      "properties": {
        "executionClientPrometheusMetricsApiEndpoint": {
          "description": "Output only. The assigned URL for the node's execution client's Prometheus metrics endpoint.",
          "type": "string",
          "readOnly": true
        },
        "beaconApiEndpoint": {
          "readOnly": true,
          "description": "Output only. The assigned URL for the node's Beacon API endpoint.",
          "type": "string"
        },
        "beaconPrometheusMetricsApiEndpoint": {
          "readOnly": true,
          "description": "Output only. The assigned URL for the node's Beacon Prometheus metrics endpoint. See [Prometheus Metrics](https://lighthouse-book.sigmaprime.io/advanced_metrics.html) for more details.",
          "type": "string"
        }
      },
      "id": "EthereumEndpoints"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    }
  },
  "title": "Blockchain Node Engine API",
  "name": "blockchainnodeengine",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "rootUrl": "https://blockchainnodeengine.googleapis.com/",
  "documentationLink": "https://cloud.google.com/blockchain-node-engine",
  "baseUrl": "https://blockchainnodeengine.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest"
}