{
  "fullyEncodeReservedExpansion": true,
  "title": "Blockchain Node Engine API",
  "ownerDomain": "google.com",
  "version_module": true,
  "version": "v1",
  "basePath": "",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://blockchainnodeengine.googleapis.com/",
  "schemas": {
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation"
    },
    "BlockchainNode": {
      "description": "A representation of a blockchain node.",
      "type": "object",
      "properties": {
        "blockchainType": {
          "description": "Immutable. The blockchain type of the node.",
          "enum": [
            "BLOCKCHAIN_TYPE_UNSPECIFIED",
            "ETHEREUM"
          ],
          "enumDescriptions": [
            "Blockchain type has not been specified, but should be.",
            "The blockchain type is Ethereum."
          ],
          "type": "string"
        },
        "privateServiceConnectEnabled": {
          "description": "Optional. When true, the node is only accessible via Private Service Connect; no public endpoints are exposed. Otherwise, the node is only accessible via public endpoints. Warning: These nodes are deprecated, please use public endpoints instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. The fully qualified name of the blockchain node. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp at which the blockchain node was first created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "ethereumDetails": {
          "description": "Ethereum-specific blockchain node details.",
          "$ref": "EthereumDetails"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-provided key-value pairs.",
          "type": "object"
        },
        "connectionInfo": {
          "description": "Output only. The connection information used to interact with a blockchain node.",
          "readOnly": true,
          "$ref": "ConnectionInfo"
        },
        "state": {
          "description": "Output only. A status representing the state of the node.",
          "type": "string",
          "enumDescriptions": [
            "The state has not been specified.",
            "The node has been requested and is in the process of being created.",
            "The existing node is undergoing deletion, but is not yet finished.",
            "The node is running and ready for use.",
            "The node is in an unexpected or errored state.",
            "The node is currently being updated.",
            "The node is currently being repaired.",
            "The node is currently being reconciled.",
            "The node is syncing, which is the process by which it obtains the latest block and current global state."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "RUNNING",
            "ERROR",
            "UPDATING",
            "REPAIRING",
            "RECONCILING",
            "SYNCING"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp at which the blockchain node was last updated.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "BlockchainNode"
    },
    "ListBlockchainNodesResponse": {
      "type": "object",
      "id": "ListBlockchainNodesResponse",
      "properties": {
        "blockchainNodes": {
          "type": "array",
          "description": "The list of nodes",
          "items": {
            "$ref": "BlockchainNode"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing blockchain nodes."
    },
    "EndpointInfo": {
      "type": "object",
      "description": "Contains endpoint information through which to interact with a blockchain node.",
      "properties": {
        "jsonRpcApiEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The assigned URL for the node JSON-RPC API endpoint."
        },
        "websocketsApiEndpoint": {
          "readOnly": true,
          "description": "Output only. The assigned URL for the node WebSockets API endpoint.",
          "type": "string"
        }
      },
      "id": "EndpointInfo"
    },
    "GethDetails": {
      "id": "GethDetails",
      "description": "Options for the Geth execution client. See [Command-line Options](https://geth.ethereum.org/docs/fundamentals/command-line-options) for more details.",
      "type": "object",
      "properties": {
        "garbageCollectionMode": {
          "description": "Immutable. Blockchain garbage collection mode.",
          "type": "string",
          "enumDescriptions": [
            "The garbage collection has not been specified.",
            "Configures Geth's garbage collection so that older data not needed for a full node is deleted. This is the default mode when creating a full node.",
            "Configures Geth's garbage collection so that old data is never deleted. This is the default mode when creating an archive node. This value can also be chosen when creating a full node in order to create a partial/recent archive node. See [Sync modes](https://geth.ethereum.org/docs/fundamentals/sync-modes) for more details."
          ],
          "enum": [
            "GARBAGE_COLLECTION_MODE_UNSPECIFIED",
            "FULL",
            "ARCHIVE"
          ]
        }
      }
    },
    "EthereumDetails": {
      "id": "EthereumDetails",
      "description": "Ethereum-specific blockchain node details.",
      "properties": {
        "validatorConfig": {
          "description": "Configuration for validator-related parameters on the beacon client, and for any GCP-managed validator client.",
          "$ref": "ValidatorConfig"
        },
        "gethDetails": {
          "description": "Details for the Geth execution client.",
          "$ref": "GethDetails"
        },
        "apiEnableAdmin": {
          "description": "Immutable. Enables JSON-RPC access to functions in the `admin` namespace. Defaults to `false`.",
          "type": "boolean"
        },
        "consensusClient": {
          "type": "string",
          "enumDescriptions": [
            "Consensus client has not been specified, but should be.",
            "Consensus client implementation written in Rust, maintained by Sigma Prime. See [Lighthouse - Sigma Prime](https://lighthouse.sigmaprime.io/) for details.",
            "Erigon's embedded consensus client embedded in the execution client. Note this option is not currently available when creating new blockchain nodes. See [Erigon on GitHub](https://github.com/ledgerwatch/erigon#embedded-consensus-layer) for details."
          ],
          "description": "Immutable. The consensus client.",
          "enum": [
            "CONSENSUS_CLIENT_UNSPECIFIED",
            "LIGHTHOUSE",
            "ERIGON_EMBEDDED_CONSENSUS_LAYER"
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ]
        },
        "network": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "enumDescriptions": [
            "The network has not been specified, but should be.",
            "The Ethereum Mainnet.",
            "Deprecated: The Ethereum Testnet based on Goerli protocol. Please use another test network.",
            "The Ethereum Testnet based on Sepolia/Bepolia protocol. See https://github.com/eth-clients/sepolia.",
            "The Ethereum Testnet based on Holesky specification. See https://github.com/eth-clients/holesky."
          ],
          "description": "Immutable. The Ethereum environment being accessed.",
          "enum": [
            "NETWORK_UNSPECIFIED",
            "MAINNET",
            "TESTNET_GOERLI_PRATER",
            "TESTNET_SEPOLIA",
            "TESTNET_HOLESKY"
          ]
        },
        "additionalEndpoints": {
          "$ref": "EthereumEndpoints",
          "description": "Output only. Ethereum-specific endpoint information.",
          "readOnly": true
        },
        "executionClient": {
          "enumDescriptions": [
            "Execution client has not been specified, but should be.",
            "Official Go implementation of the Ethereum protocol. See [go-ethereum](https://geth.ethereum.org/) for details.",
            "An implementation of Ethereum (execution client), on the efficiency frontier, written in Go. See [Erigon on GitHub](https://github.com/ledgerwatch/erigon) for details."
          ],
          "description": "Immutable. The execution client",
          "enum": [
            "EXECUTION_CLIENT_UNSPECIFIED",
            "GETH",
            "ERIGON"
          ],
          "type": "string"
        },
        "apiEnableDebug": {
          "description": "Immutable. Enables JSON-RPC access to functions in the `debug` namespace. Defaults to `false`.",
          "type": "boolean"
        },
        "nodeType": {
          "enumDescriptions": [
            "Node type has not been specified, but should be.",
            "An Ethereum node that only downloads Ethereum block headers.",
            "Keeps a complete copy of the blockchain data, and contributes to the network by receiving, validating, and forwarding transactions.",
            "Holds the same data as full node as well as all of the blockchain's history state data dating back to the Genesis Block."
          ],
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "LIGHT",
            "FULL",
            "ARCHIVE"
          ],
          "description": "Immutable. The type of Ethereum node.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ValidatorConfig": {
      "id": "ValidatorConfig",
      "type": "object",
      "description": "Configuration for validator-related parameters on the beacon client, and for any GCP-managed validator client.",
      "properties": {
        "mevRelayUrls": {
          "description": "URLs for MEV-relay services to use for block building. When set, a GCP-managed MEV-boost service is configured on the beacon client.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "managedValidatorClient": {
          "deprecated": true,
          "type": "boolean",
          "description": "Immutable. When true, deploys a GCP-managed validator client alongside the beacon client."
        },
        "beaconFeeRecipient": {
          "description": "An Ethereum address which the beacon client will send fee rewards to if no recipient is configured in the validator client. See https://lighthouse-book.sigmaprime.io/suggested-fee-recipient.html or https://docs.prylabs.network/docs/execution-node/fee-recipient for examples of how this is used. Note that while this is often described as \"suggested\", as we run the execution node we can trust the execution node, and therefore this is considered enforced.",
          "type": "string"
        }
      }
    },
    "EthereumEndpoints": {
      "id": "EthereumEndpoints",
      "properties": {
        "beaconApiEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The assigned URL for the node's Beacon API endpoint."
        },
        "executionClientPrometheusMetricsApiEndpoint": {
          "description": "Output only. The assigned URL for the node's execution client's Prometheus metrics endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "beaconPrometheusMetricsApiEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The assigned URL for the node's Beacon Prometheus metrics endpoint. See [Prometheus Metrics](https://lighthouse-book.sigmaprime.io/advanced_metrics.html) for more details."
        }
      },
      "description": "Contains endpoint information specific to Ethereum nodes.",
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have `Operation.error` value with a `google.rpc.Status.code` of `1`, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "Location": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "ConnectionInfo": {
      "description": "The connection information through which to interact with a blockchain node.",
      "id": "ConnectionInfo",
      "properties": {
        "endpointInfo": {
          "readOnly": true,
          "$ref": "EndpointInfo",
          "description": "Output only. The endpoint information through which to interact with a blockchain node."
        },
        "serviceAttachment": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A service attachment that exposes a node, and has the following format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment_name}"
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "blockchainnodeengine.projects.locations.list",
              "description": "Lists information about the supported locations for this service.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. A list of extra location types that should be used as conditions for controlling the visibility of the locations.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1/{+name}/locations"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "id": "blockchainnodeengine.projects.locations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "blockchainnodeengine.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "blockchainnodeengine.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "blockchainnodeengine.projects.locations.operations.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "blockchainnodeengine.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "blockchainNodes": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Value for parent."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "blockchainNodeId": {
                      "description": "Required. ID of the requesting object.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BlockchainNode"
                  },
                  "description": "Creates a new blockchain node in a given project and location.",
                  "path": "v1/{+parent}/blockchainNodes"
                },
                "delete": {
                  "description": "Deletes a single blockchain node.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.delete",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. The fully qualified name of the blockchain node to delete. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/blockchainNodes/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes/{blockchainNodesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.list",
                  "description": "Lists blockchain nodes in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes",
                  "response": {
                    "$ref": "ListBlockchainNodesResponse"
                  },
                  "path": "v1/{+parent}/blockchainNodes",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent value for `ListNodesRequest`."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filtering results."
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes/{blockchainNodesId}",
                  "response": {
                    "$ref": "BlockchainNode"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/blockchainNodes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The fully qualified name of the blockchain node to fetch. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.get",
                  "description": "Gets details of a single blockchain node."
                },
                "patch": {
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/blockchainNodes/[^/]+$",
                      "description": "Output only. The fully qualified name of the blockchain node. e.g. `projects/my-project/locations/us-central1/blockchainNodes/my-node`."
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Blockchain node resource by the update. The fields specified in the `update_mask` are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "blockchainnodeengine.projects.locations.blockchainNodes.patch",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "BlockchainNode"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single blockchain node.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/blockchainNodes/{blockchainNodesId}"
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20250507",
  "documentationLink": "https://cloud.google.com/blockchain-node-engine",
  "canonicalName": "Blockchain Node Engine",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "id": "blockchainnodeengine:v1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://blockchainnodeengine.mtls.googleapis.com/",
  "description": "",
  "baseUrl": "https://blockchainnodeengine.googleapis.com/",
  "protocol": "rest",
  "name": "blockchainnodeengine",
  "servicePath": ""
}