{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerName": "Google",
  "title": "Books API",
  "id": "books:v1",
  "mtlsRootUrl": "https://books.mtls.googleapis.com/",
  "basePath": "",
  "schemas": {
    "ConcurrentAccessRestriction": {
      "id": "ConcurrentAccessRestriction",
      "type": "object",
      "properties": {
        "maxConcurrentDevices": {
          "description": "The maximum number of concurrent access licenses for this volume.",
          "type": "integer",
          "format": "int32"
        },
        "volumeId": {
          "description": "Identifies the volume for which this entry applies.",
          "type": "string"
        },
        "source": {
          "description": "Client app identifier for verification. Download access and client-validation only.",
          "type": "string"
        },
        "signature": {
          "description": "Response signature.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "message": {
          "description": "Error/warning message.",
          "type": "string"
        },
        "timeWindowSeconds": {
          "format": "int32",
          "description": "Time in seconds for license auto-expiration.",
          "type": "integer"
        },
        "restricted": {
          "description": "Whether this volume has any concurrent access restrictions.",
          "type": "boolean"
        },
        "reasonCode": {
          "description": "Error/warning reason code.",
          "type": "string"
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        },
        "deviceAllowed": {
          "description": "Whether access is granted for this (user, device, volume).",
          "type": "boolean"
        }
      }
    },
    "Seriesmembership": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "member": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "kind": {
          "description": "Resorce type.",
          "type": "string"
        }
      },
      "id": "Seriesmembership"
    },
    "FamilyInfo": {
      "id": "FamilyInfo",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "membership": {
          "description": "Family membership info of the user that made the request.",
          "type": "object",
          "properties": {
            "role": {
              "description": "The role of the user in the family.",
              "type": "string"
            },
            "allowedMaturityRating": {
              "description": "The maximum allowed maturity rating for the user.",
              "type": "string"
            },
            "ageGroup": {
              "description": "The age group of the user.",
              "type": "string"
            },
            "acquirePermission": {
              "description": "Restrictions on user buying and acquiring content.",
              "type": "string"
            },
            "isInFamily": {
              "type": "boolean"
            }
          }
        }
      },
      "type": "object"
    },
    "Category": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "description": "A list of onboarding categories.",
          "type": "array",
          "items": {
            "properties": {
              "name": {
                "type": "string"
              },
              "categoryId": {
                "type": "string"
              },
              "badgeUrl": {
                "type": "string"
              }
            },
            "type": "object"
          }
        }
      },
      "id": "Category"
    },
    "Annotation": {
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "highlightStyle": {
          "description": "The highlight style for this annotation.",
          "type": "string"
        },
        "afterSelectedText": {
          "description": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
          "type": "string"
        },
        "data": {
          "description": "User-created data for this annotation.",
          "type": "string"
        },
        "id": {
          "description": "Id of this annotation, in the form of a GUID.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "layerSummary": {
          "properties": {
            "limitType": {
              "description": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer.",
              "type": "string"
            },
            "allowedCharacterCount": {
              "format": "int32",
              "description": "Maximum allowed characters on this layer, especially for the \"copy\" layer.",
              "type": "integer"
            },
            "remainingCharacterCount": {
              "description": "Remaining allowed characters on this layer, especially for the \"copy\" layer.",
              "type": "integer",
              "format": "int32"
            }
          },
          "type": "object"
        },
        "currentVersionRanges": {
          "properties": {
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation for version above."
            },
            "imageCfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in image CFI format for this annotation for version above."
            },
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string"
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation for version above."
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "description": "Selection ranges for the most recent content version.",
          "type": "object"
        },
        "created": {
          "description": "Timestamp for the created time of this annotation.",
          "type": "string"
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean"
        },
        "layerId": {
          "description": "The layer this annotation is for.",
          "type": "string"
        },
        "pageIds": {
          "description": "Pages that this annotation spans.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updated": {
          "description": "Timestamp for the last time this annotation was modified.",
          "type": "string"
        },
        "clientVersionRanges": {
          "description": "Selection ranges sent from the client.",
          "type": "object",
          "properties": {
            "gbImageRange": {
              "description": "Range in GB image format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "description": "Content version the client sent in.",
              "type": "string"
            },
            "imageCfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in image CFI format for this annotation sent by client."
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            }
          }
        },
        "selectedText": {
          "description": "Excerpt from the volume.",
          "type": "string"
        },
        "volumeId": {
          "description": "The volume that this annotation belongs to.",
          "type": "string"
        },
        "beforeSelectedText": {
          "description": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
          "type": "string"
        }
      },
      "id": "Annotation"
    },
    "ReadingPosition": {
      "id": "ReadingPosition",
      "properties": {
        "gbImagePosition": {
          "description": "Position in a volume for image-based content.",
          "type": "string"
        },
        "epubCfiPosition": {
          "description": "Position in an EPUB as a CFI.",
          "type": "string"
        },
        "gbTextPosition": {
          "description": "Position in a volume for text-based content.",
          "type": "string"
        },
        "pdfPosition": {
          "description": "Position in a PDF file.",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp when this reading position was last updated (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "volumeId": {
          "description": "Volume id associated with this reading position.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for a reading position.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Volume": {
      "properties": {
        "userInfo": {
          "description": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)",
          "type": "object",
          "properties": {
            "review": {
              "$ref": "Review",
              "description": "This user's review of this volume, if one exists."
            },
            "isPreordered": {
              "description": "Whether or not this volume was pre-ordered by the authenticated user making the request. (In LITE projection.)",
              "type": "boolean"
            },
            "copy": {
              "properties": {
                "allowedCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "limitType": {
                  "type": "string"
                },
                "updated": {
                  "type": "string"
                },
                "remainingCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "Copy/Paste accounting information.",
              "type": "object"
            },
            "acquiredTime": {
              "description": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc.",
              "type": "string"
            },
            "isFamilySharingAllowed": {
              "description": "Deprecated: Replaced by familySharing.",
              "type": "boolean"
            },
            "readingPosition": {
              "description": "The user's current reading position in the volume, if one is available. (In LITE projection.)",
              "$ref": "ReadingPosition"
            },
            "isUploaded": {
              "description": "Whether or not this volume was user uploaded.",
              "type": "boolean"
            },
            "isFamilySharedFromUser": {
              "description": "Whether or not the user shared this volume with the family.",
              "type": "boolean"
            },
            "familySharing": {
              "description": "Information on the ability to share with the family.",
              "type": "object",
              "properties": {
                "isSharingAllowed": {
                  "description": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action.",
                  "type": "boolean"
                },
                "familyRole": {
                  "description": "The role of the user in the family.",
                  "type": "string"
                },
                "isSharingDisabledByFop": {
                  "description": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet.",
                  "type": "boolean"
                }
              }
            },
            "isFamilySharingDisabledByFop": {
              "description": "Deprecated: Replaced by familySharing.",
              "type": "boolean"
            },
            "isInMyBooks": {
              "description": "Whether or not this volume is currently in \"my books.\"",
              "type": "boolean"
            },
            "updated": {
              "description": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format).",
              "type": "string"
            },
            "rentalState": {
              "description": "Whether this book is an active or an expired rental.",
              "type": "string"
            },
            "rentalPeriod": {
              "properties": {
                "startUtcSec": {
                  "type": "string",
                  "format": "int64"
                },
                "endUtcSec": {
                  "type": "string",
                  "format": "int64"
                }
              },
              "description": "Period during this book is/was a valid rental.",
              "type": "object"
            },
            "acquisitionType": {
              "format": "int32",
              "description": "How this volume was acquired.",
              "type": "integer"
            },
            "entitlementType": {
              "format": "int32",
              "description": "Whether this volume is purchased, sample, pd download etc.",
              "type": "integer"
            },
            "isFamilySharedToUser": {
              "description": "Whether or not the user received this volume through family sharing.",
              "type": "boolean"
            },
            "userUploadedVolumeInfo": {
              "type": "object",
              "properties": {
                "processingState": {
                  "type": "string"
                }
              }
            },
            "isPurchased": {
              "description": "Whether or not this volume was purchased by the authenticated user making the request. (In LITE projection.)",
              "type": "boolean"
            }
          }
        },
        "searchInfo": {
          "description": "Search result information related to this volume.",
          "type": "object",
          "properties": {
            "textSnippet": {
              "description": "A text snippet containing the search query.",
              "type": "string"
            }
          }
        },
        "volumeInfo": {
          "properties": {
            "authors": {
              "description": "The names of the authors and/or editors for this volume. (In LITE projection)",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "contentVersion": {
              "description": "An identifier for the version of the volume content (text & images). (In LITE projection)",
              "type": "string"
            },
            "ratingsCount": {
              "format": "int32",
              "description": "The number of review ratings for this volume.",
              "type": "integer"
            },
            "imageLinks": {
              "properties": {
                "large": {
                  "description": "Image link for large size (width of ~800 pixels). (In LITE projection)",
                  "type": "string"
                },
                "smallThumbnail": {
                  "description": "Image link for small thumbnail size (width of ~80 pixels). (In LITE projection)",
                  "type": "string"
                },
                "thumbnail": {
                  "description": "Image link for thumbnail size (width of ~128 pixels). (In LITE projection)",
                  "type": "string"
                },
                "extraLarge": {
                  "description": "Image link for extra large size (width of ~1280 pixels). (In LITE projection)",
                  "type": "string"
                },
                "small": {
                  "description": "Image link for small size (width of ~300 pixels). (In LITE projection)",
                  "type": "string"
                },
                "medium": {
                  "description": "Image link for medium size (width of ~575 pixels). (In LITE projection)",
                  "type": "string"
                }
              },
              "description": "A list of image links for all the sizes that are available. (In LITE projection.)",
              "type": "object"
            },
            "averageRating": {
              "format": "double",
              "description": "The mean review rating for this volume. (min = 1.0, max = 5.0)",
              "type": "number"
            },
            "seriesInfo": {
              "$ref": "Volumeseriesinfo"
            },
            "subtitle": {
              "description": "Volume subtitle. (In LITE projection.)",
              "type": "string"
            },
            "title": {
              "description": "Volume title. (In LITE projection.)",
              "type": "string"
            },
            "publisher": {
              "description": "Publisher of this volume. (In LITE projection.)",
              "type": "string"
            },
            "infoLink": {
              "description": "URL to view information about this volume on the Google Books site. (In LITE projection)",
              "type": "string"
            },
            "printedPageCount": {
              "description": "Total number of printed pages in generated pdf representation.",
              "type": "integer",
              "format": "int32"
            },
            "categories": {
              "description": "A list of subject categories, such as \"Fiction\", \"Suspense\", etc.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "readingModes": {
              "description": "The reading modes available for this volume.",
              "type": "object",
              "properties": {
                "text": {
                  "type": "boolean"
                },
                "image": {
                  "type": "boolean"
                }
              }
            },
            "samplePageCount": {
              "description": "Total number of sample pages as per publisher metadata.",
              "type": "integer",
              "format": "int32"
            },
            "publishedDate": {
              "description": "Date of publication. (In LITE projection.)",
              "type": "string"
            },
            "language": {
              "description": "Best language for this volume (based on content). It is the two-letter ISO 639-1 code such as 'fr', 'en', etc.",
              "type": "string"
            },
            "panelizationSummary": {
              "description": "A top-level summary of the panelization info in this volume.",
              "type": "object",
              "properties": {
                "containsImageBubbles": {
                  "type": "boolean"
                },
                "epubBubbleVersion": {
                  "type": "string"
                },
                "imageBubbleVersion": {
                  "type": "string"
                },
                "containsEpubBubbles": {
                  "type": "boolean"
                }
              }
            },
            "description": {
              "description": "A synopsis of the volume. The text of the description is formatted in HTML and includes simple formatting elements, such as b, i, and br tags. (In LITE projection.)",
              "type": "string"
            },
            "pageCount": {
              "format": "int32",
              "description": "Total number of pages as per publisher metadata.",
              "type": "integer"
            },
            "mainCategory": {
              "description": "The main category to which this volume belongs. It will be the category from the categories list returned below that has the highest weight.",
              "type": "string"
            },
            "allowAnonLogging": {
              "description": "Whether anonymous logging should be allowed.",
              "type": "boolean"
            },
            "comicsContent": {
              "description": "Whether the volume has comics content.",
              "type": "boolean"
            },
            "maturityRating": {
              "type": "string"
            },
            "canonicalVolumeLink": {
              "description": "Canonical URL for a volume. (In LITE projection.)",
              "type": "string"
            },
            "printType": {
              "description": "Type of publication of this volume. Possible values are BOOK or MAGAZINE.",
              "type": "string"
            },
            "industryIdentifiers": {
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "description": "Identifier type. Possible values are ISBN_10, ISBN_13, ISSN and OTHER.",
                    "type": "string"
                  },
                  "identifier": {
                    "description": "Industry specific volume identifier.",
                    "type": "string"
                  }
                }
              },
              "description": "Industry standard identifiers for this volume.",
              "type": "array"
            },
            "dimensions": {
              "description": "Physical dimensions of this volume.",
              "type": "object",
              "properties": {
                "width": {
                  "description": "Width of this volume (in cm).",
                  "type": "string"
                },
                "height": {
                  "description": "Height or length of this volume (in cm).",
                  "type": "string"
                },
                "thickness": {
                  "description": "Thickness of this volume (in cm).",
                  "type": "string"
                }
              }
            },
            "previewLink": {
              "description": "URL to preview this volume on the Google Books site.",
              "type": "string"
            }
          },
          "description": "General volume information.",
          "type": "object"
        },
        "kind": {
          "description": "Resource type for a volume. (In LITE projection.)",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for a volume. (In LITE projection.)",
          "type": "string"
        },
        "etag": {
          "description": "Opaque identifier for a specific version of a volume resource. (In LITE projection)",
          "type": "string"
        },
        "layerInfo": {
          "properties": {
            "layers": {
              "description": "A layer should appear here if and only if the layer exists for this book.",
              "type": "array",
              "items": {
                "properties": {
                  "layerId": {
                    "description": "The layer id of this layer (e.g. \"geo\").",
                    "type": "string"
                  },
                  "volumeAnnotationsVersion": {
                    "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "What layers exist in this volume and high level information about them.",
          "type": "object"
        },
        "recommendedInfo": {
          "description": "Recommendation related information for this volume.",
          "type": "object",
          "properties": {
            "explanation": {
              "description": "A text explaining why this volume is recommended.",
              "type": "string"
            }
          }
        },
        "selfLink": {
          "description": "URL to this resource. (In LITE projection.)",
          "type": "string"
        },
        "saleInfo": {
          "description": "Any information about a volume related to the eBookstore and/or purchaseability. This information can depend on the country where the request originates from (i.e. books may not be for sale in certain countries).",
          "type": "object",
          "properties": {
            "saleability": {
              "description": "Whether or not this book is available for sale or offered for free in the Google eBookstore for the country listed above. Possible values are FOR_SALE, FOR_RENTAL_ONLY, FOR_SALE_AND_RENTAL, FREE, NOT_FOR_SALE, or FOR_PREORDER.",
              "type": "string"
            },
            "isEbook": {
              "description": "Whether or not this volume is an eBook (can be added to the My eBooks shelf).",
              "type": "boolean"
            },
            "country": {
              "description": "The two-letter ISO_3166-1 country code for which this sale information is valid. (In LITE projection.)",
              "type": "string"
            },
            "offers": {
              "items": {
                "type": "object",
                "properties": {
                  "giftable": {
                    "description": "Indicates whether the offer is giftable.",
                    "type": "boolean"
                  },
                  "listPrice": {
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    },
                    "description": "Offer list (=undiscounted) price in Micros.",
                    "type": "object"
                  },
                  "rentalDuration": {
                    "properties": {
                      "unit": {
                        "type": "string"
                      },
                      "count": {
                        "type": "number",
                        "format": "double"
                      }
                    },
                    "description": "The rental duration (for rental offers only).",
                    "type": "object"
                  },
                  "retailPrice": {
                    "properties": {
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    },
                    "description": "Offer retail (=discounted) price in Micros",
                    "type": "object"
                  },
                  "finskyOfferType": {
                    "description": "The finsky offer type (e.g., PURCHASE=0 RENTAL=3)",
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "description": "Offers available for this volume (sales and rentals).",
              "type": "array"
            },
            "retailPrice": {
              "properties": {
                "amount": {
                  "format": "double",
                  "description": "Amount in the currency listed below. (In LITE projection.)",
                  "type": "number"
                },
                "currencyCode": {
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                  "type": "string"
                }
              },
              "description": "The actual selling price of the book. This is the same as the suggested retail or list price unless there are offers or discounts on this volume. (In LITE projection.)",
              "type": "object"
            },
            "buyLink": {
              "description": "URL to purchase this volume on the Google Books site. (In LITE projection)",
              "type": "string"
            },
            "onSaleDate": {
              "description": "The date on which this book is available for sale.",
              "type": "string"
            },
            "listPrice": {
              "properties": {
                "currencyCode": {
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                  "type": "string"
                },
                "amount": {
                  "description": "Amount in the currency listed below. (In LITE projection.)",
                  "type": "number",
                  "format": "double"
                }
              },
              "description": "Suggested retail price. (In LITE projection.)",
              "type": "object"
            }
          }
        },
        "accessInfo": {
          "description": "Any information about a volume related to reading or obtaining that volume text. This information can depend on country (books may be public domain in one country but not in another, e.g.).",
          "type": "object",
          "properties": {
            "pdf": {
              "description": "Information about pdf content. (In LITE projection.)",
              "type": "object",
              "properties": {
                "isAvailable": {
                  "description": "Is a scanned image pdf available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                },
                "downloadLink": {
                  "description": "URL to download pdf. (In LITE projection.)",
                  "type": "string"
                },
                "acsTokenLink": {
                  "description": "URL to retrieve ACS token for pdf download. (In LITE projection.)",
                  "type": "string"
                }
              }
            },
            "downloadAccess": {
              "$ref": "DownloadAccessRestriction",
              "description": "Information about a volume's download license access restrictions."
            },
            "textToSpeechPermission": {
              "description": "Whether text-to-speech is permitted for this volume. Values can be ALLOWED, ALLOWED_FOR_ACCESSIBILITY, or NOT_ALLOWED.",
              "type": "string"
            },
            "publicDomain": {
              "description": "Whether or not this book is public domain in the country listed above.",
              "type": "boolean"
            },
            "webReaderLink": {
              "description": "URL to read this volume on the Google Books site. Link will not allow users to read non-viewable volumes.",
              "type": "string"
            },
            "embeddable": {
              "description": "Whether this volume can be embedded in a viewport using the Embedded Viewer API.",
              "type": "boolean"
            },
            "accessViewStatus": {
              "description": "Combines the access and viewability of this volume into a single status field for this user. Values can be FULL_PURCHASED, FULL_PUBLIC_DOMAIN, SAMPLE or NONE. (In LITE projection.)",
              "type": "string"
            },
            "viewOrderUrl": {
              "description": "For ordered but not yet processed orders, we give a URL that can be used to go to the appropriate Google Wallet page.",
              "type": "string"
            },
            "quoteSharingAllowed": {
              "description": "Whether quote sharing is allowed for this volume.",
              "type": "boolean"
            },
            "epub": {
              "properties": {
                "isAvailable": {
                  "description": "Is a flowing text epub available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                },
                "downloadLink": {
                  "description": "URL to download epub. (In LITE projection.)",
                  "type": "string"
                },
                "acsTokenLink": {
                  "description": "URL to retrieve ACS token for epub download. (In LITE projection.)",
                  "type": "string"
                }
              },
              "description": "Information about epub content. (In LITE projection.)",
              "type": "object"
            },
            "explicitOfflineLicenseManagement": {
              "description": "Whether this volume requires that the client explicitly request offline download license rather than have it done automatically when loading the content, if the client supports it.",
              "type": "boolean"
            },
            "driveImportedContentLink": {
              "description": "URL to the Google Drive viewer if this volume is uploaded by the user by selecting the file from Google Drive.",
              "type": "string"
            },
            "country": {
              "description": "The two-letter ISO_3166-1 country code for which this access information is valid. (In LITE projection.)",
              "type": "string"
            },
            "viewability": {
              "description": "The read access of a volume. Possible values are PARTIAL, ALL_PAGES, NO_PAGES or UNKNOWN. This value depends on the country listed above. A value of PARTIAL means that the publisher has allowed some portion of the volume to be viewed publicly, without purchase. This can apply to eBooks as well as non-eBooks. Public domain books will always have a value of ALL_PAGES.",
              "type": "string"
            }
          }
        }
      },
      "type": "object",
      "id": "Volume"
    },
    "Annotations": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "totalItems": {
          "format": "int32",
          "description": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated.",
          "type": "integer"
        },
        "items": {
          "description": "A list of annotations.",
          "type": "array",
          "items": {
            "$ref": "Annotation"
          }
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Annotations"
    },
    "Metadata": {
      "id": "Metadata",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "description": "A list of offline dictionary metadata.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string",
                "format": "int64"
              },
              "language": {
                "type": "string"
              },
              "encrypted_key": {
                "type": "string"
              },
              "size": {
                "type": "string",
                "format": "int64"
              },
              "download_url": {
                "type": "string"
              }
            }
          }
        }
      },
      "type": "object"
    },
    "BooksCloudloadingResource": {
      "properties": {
        "author": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "processingState": {
          "type": "string"
        },
        "volumeId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "BooksCloudloadingResource"
    },
    "Annotationsdata": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type",
          "type": "string"
        },
        "totalItems": {
          "description": "The total number of volume annotations found.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "items": {
          "description": "A list of Annotation Data.",
          "type": "array",
          "items": {
            "$ref": "GeoAnnotationdata"
          }
        }
      },
      "id": "Annotationsdata"
    },
    "DownloadAccesses": {
      "id": "DownloadAccesses",
      "properties": {
        "downloadAccessList": {
          "items": {
            "$ref": "DownloadAccessRestriction"
          },
          "description": "A list of download access responses.",
          "type": "array"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BooksVolumesRecommendedRateResponse": {
      "id": "BooksVolumesRecommendedRateResponse",
      "type": "object",
      "properties": {
        "consistency_token": {
          "type": "string"
        }
      }
    },
    "Discoveryclusters": {
      "type": "object",
      "properties": {
        "totalClusters": {
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "Resorce type.",
          "type": "string"
        },
        "clusters": {
          "type": "array",
          "items": {
            "properties": {
              "subTitle": {
                "type": "string"
              },
              "totalVolumes": {
                "type": "integer",
                "format": "int32"
              },
              "uid": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "banner_with_content_container": {
                "type": "object",
                "properties": {
                  "moreButtonText": {
                    "type": "string"
                  },
                  "imageUrl": {
                    "type": "string"
                  },
                  "moreButtonUrl": {
                    "type": "string"
                  },
                  "maskColorArgb": {
                    "type": "string"
                  },
                  "fillColorArgb": {
                    "type": "string"
                  },
                  "textColorArgb": {
                    "type": "string"
                  }
                }
              },
              "volumes": {
                "type": "array",
                "items": {
                  "$ref": "Volume"
                }
              }
            },
            "type": "object"
          }
        }
      },
      "id": "Discoveryclusters"
    },
    "Series": {
      "properties": {
        "series": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "seriesFormatType": {
                "type": "string"
              },
              "seriesId": {
                "type": "string"
              },
              "seriesType": {
                "type": "string"
              },
              "seriesSubscriptionReleaseInfo": {
                "type": "object",
                "properties": {
                  "seriesSubscriptionType": {
                    "type": "string"
                  },
                  "nextReleaseInfo": {
                    "type": "object",
                    "properties": {
                      "releaseTime": {
                        "type": "string"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    }
                  },
                  "currentReleaseInfo": {
                    "properties": {
                      "releaseNumber": {
                        "type": "string"
                      },
                      "releaseTime": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "cancelTime": {
                    "type": "string"
                  }
                }
              },
              "bannerImageUrl": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "isComplete": {
                "type": "boolean"
              },
              "subscriptionId": {
                "type": "string"
              },
              "imageUrl": {
                "type": "string"
              },
              "eligibleForSubscription": {
                "type": "boolean"
              }
            }
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Series"
    },
    "Bookshelves": {
      "id": "Bookshelves",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "description": "A list of bookshelves.",
          "type": "array",
          "items": {
            "$ref": "Bookshelf"
          }
        }
      },
      "type": "object"
    },
    "Volumeannotations": {
      "id": "Volumeannotations",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version string for all of the volume annotations in this layer (not just the ones in this response). Note: the version string doesn't apply to the annotation data, just the information in this response (e.g. the location of annotations in the book).",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type",
          "type": "string"
        },
        "items": {
          "description": "A list of volume annotations.",
          "type": "array",
          "items": {
            "$ref": "Volumeannotation"
          }
        },
        "totalItems": {
          "description": "The total number of volume annotations found.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Volumes": {
      "properties": {
        "items": {
          "description": "A list of volumes.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "totalItems": {
          "description": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Volumes"
    },
    "RequestAccessData": {
      "properties": {
        "downloadAccess": {
          "description": "A download access response.",
          "$ref": "DownloadAccessRestriction"
        },
        "concurrentAccess": {
          "description": "A concurrent access response.",
          "$ref": "ConcurrentAccessRestriction"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RequestAccessData"
    },
    "Layersummaries": {
      "id": "Layersummaries",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "totalItems": {
          "description": "The total number of layer summaries found.",
          "type": "integer",
          "format": "int32"
        },
        "items": {
          "description": "A list of layer summary items.",
          "type": "array",
          "items": {
            "$ref": "Layersummary"
          }
        }
      }
    },
    "DownloadAccessRestriction": {
      "properties": {
        "restricted": {
          "description": "Whether this volume has any download access restrictions.",
          "type": "boolean"
        },
        "deviceAllowed": {
          "description": "If restricted, whether access is granted for this (user, device, volume).",
          "type": "boolean"
        },
        "justAcquired": {
          "description": "If deviceAllowed, whether access was just acquired with this request.",
          "type": "boolean"
        },
        "reasonCode": {
          "description": "Error/warning reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS",
          "type": "string"
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        },
        "maxDownloadDevices": {
          "description": "If restricted, the maximum number of content download licenses for this volume.",
          "type": "integer",
          "format": "int32"
        },
        "downloadsAcquired": {
          "format": "int32",
          "description": "If restricted, the number of content download licenses already acquired (including the requesting client, if licensed).",
          "type": "integer"
        },
        "message": {
          "description": "Error/warning message.",
          "type": "string"
        },
        "volumeId": {
          "description": "Identifies the volume for which this entry applies.",
          "type": "string"
        },
        "source": {
          "description": "Client app identifier for verification. Download access and client-validation only.",
          "type": "string"
        },
        "signature": {
          "description": "Response signature.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DownloadAccessRestriction"
    },
    "Notification": {
      "id": "Notification",
      "properties": {
        "timeToExpireMs": {
          "type": "string",
          "format": "int64"
        },
        "reason": {
          "type": "string"
        },
        "is_document_mature": {
          "type": "boolean"
        },
        "doc_type": {
          "type": "string"
        },
        "doc_id": {
          "type": "string"
        },
        "targetUrl": {
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "show_notification_settings_action": {
          "type": "boolean"
        },
        "notification_type": {
          "type": "string"
        },
        "pcampaign_id": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "iconUrl": {
          "type": "string"
        },
        "crmExperimentIds": {
          "description": "The list of crm experiment ids.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "notificationGroup": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "dont_show_notification": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Review": {
      "id": "Review",
      "properties": {
        "content": {
          "description": "Review text.",
          "type": "string"
        },
        "date": {
          "description": "Date of this review.",
          "type": "string"
        },
        "volumeId": {
          "description": "Volume that this review is for.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for a review.",
          "type": "string"
        },
        "rating": {
          "description": "Star rating for this review. Possible values are ONE, TWO, THREE, FOUR, FIVE or NOT_RATED.",
          "type": "string"
        },
        "source": {
          "description": "Information regarding the source of this review, when the review is not from a Google Books user.",
          "type": "object",
          "properties": {
            "description": {
              "description": "Name of the source.",
              "type": "string"
            },
            "url": {
              "description": "URL of the source of the review.",
              "type": "string"
            },
            "extraDescription": {
              "description": "Extra text about the source of the review.",
              "type": "string"
            }
          }
        },
        "author": {
          "properties": {
            "displayName": {
              "description": "Name of this person.",
              "type": "string"
            }
          },
          "description": "Author of this review.",
          "type": "object"
        },
        "title": {
          "description": "Title for this review.",
          "type": "string"
        },
        "type": {
          "description": "Source type for this review. Possible values are EDITORIAL, WEB_USER or GOOGLE_USER.",
          "type": "string"
        },
        "fullTextUrl": {
          "description": "URL for the full review text, for reviews gathered from the web.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Volumeseriesinfo": {
      "id": "Volumeseriesinfo",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "shortSeriesBookTitle": {
          "description": "Short book title in the context of the series.",
          "type": "string"
        },
        "volumeSeries": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "issue": {
                "items": {
                  "properties": {
                    "issueOrderNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "issueDisplayNumber": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "List of issues. Applicable only for Collection Edition and Omnibus.",
                "type": "array"
              },
              "seriesId": {
                "description": "The series id.",
                "type": "string"
              },
              "seriesBookType": {
                "description": "The book type in the context of series. Examples - Single Issue, Collection Edition, etc.",
                "type": "string"
              },
              "orderNumber": {
                "description": "The book order number in the series.",
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "bookDisplayNumber": {
          "description": "The display number string. This should be used only for display purposes and the actual sequence should be inferred from the below orderNumber.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Usersettings": {
      "properties": {
        "notification": {
          "type": "object",
          "properties": {
            "moreFromAuthors": {
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "moreFromSeries": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "rewardExpirations": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "priceDrop": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "matchMyInterests": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            }
          }
        },
        "notesExport": {
          "properties": {
            "folderName": {
              "type": "string"
            },
            "isEnabled": {
              "type": "boolean"
            }
          },
          "description": "User settings in sub-objects, each for different purposes.",
          "type": "object"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Usersettings"
    },
    "Layersummary": {
      "type": "object",
      "properties": {
        "updated": {
          "description": "Timestamp for the last time an item in this layer was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "annotationTypes": {
          "items": {
            "type": "string"
          },
          "description": "The list of annotation types contained for this layer.",
          "type": "array"
        },
        "contentVersion": {
          "description": "The content version this resource is for.",
          "type": "string"
        },
        "annotationsLink": {
          "description": "The link to get the annotations for this layer.",
          "type": "string"
        },
        "volumeId": {
          "description": "The volume id this resource is for.",
          "type": "string"
        },
        "annotationCount": {
          "description": "The number of annotations for this layer.",
          "type": "integer",
          "format": "int32"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "volumeAnnotationsVersion": {
          "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
          "type": "string"
        },
        "id": {
          "description": "Unique id of this layer summary.",
          "type": "string"
        },
        "dataCount": {
          "format": "int32",
          "description": "The number of data items for this layer.",
          "type": "integer"
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "annotationsDataLink": {
          "description": "Link to get data for this annotation.",
          "type": "string"
        },
        "layerId": {
          "description": "The layer id for this summary.",
          "type": "string"
        }
      },
      "id": "Layersummary"
    },
    "Dictlayerdata": {
      "type": "object",
      "properties": {
        "common": {
          "properties": {
            "title": {
              "description": "The display title and localized canonical name to use when searching for this entity on Google search.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "kind": {
          "type": "string"
        },
        "dict": {
          "type": "object",
          "properties": {
            "words": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "source": {
                    "properties": {
                      "url": {
                        "type": "string"
                      },
                      "attribution": {
                        "type": "string"
                      }
                    },
                    "description": "The words with different meanings but not related words, e.g. \"go\" (game) and \"go\" (verb).",
                    "type": "object"
                  },
                  "senses": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "syllabification": {
                          "type": "string"
                        },
                        "synonyms": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "source": {
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "attribution": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            }
                          }
                        },
                        "pronunciation": {
                          "type": "string"
                        },
                        "partOfSpeech": {
                          "type": "string"
                        },
                        "definitions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "definition": {
                                "type": "string"
                              },
                              "examples": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "text": {
                                      "type": "string"
                                    },
                                    "source": {
                                      "properties": {
                                        "url": {
                                          "type": "string"
                                        },
                                        "attribution": {
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    }
                                  },
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        },
                        "pronunciationUrl": {
                          "type": "string"
                        },
                        "conjugations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "derivatives": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "examples": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            },
            "source": {
              "properties": {
                "url": {
                  "type": "string"
                },
                "attribution": {
                  "type": "string"
                }
              },
              "description": "The source, url and attribution for this dictionary data.",
              "type": "object"
            }
          }
        }
      },
      "id": "Dictlayerdata"
    },
    "Offers": {
      "id": "Offers",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "artUrl": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "properties": {
                    "author": {
                      "type": "string"
                    },
                    "volumeId": {
                      "type": "string"
                    },
                    "coverUrl": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "canonicalVolumeLink": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "gservicesKey": {
                "type": "string"
              }
            }
          },
          "description": "A list of offers.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Volume2": {
      "id": "Volume2",
      "properties": {
        "items": {
          "items": {
            "$ref": "Volume"
          },
          "description": "A list of volumes.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Bookshelf": {
      "id": "Bookshelf",
      "type": "object",
      "properties": {
        "created": {
          "description": "Created time for this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for bookshelf metadata.",
          "type": "string"
        },
        "access": {
          "description": "Whether this bookshelf is PUBLIC or PRIVATE.",
          "type": "string"
        },
        "volumesLastUpdated": {
          "description": "Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "id": {
          "format": "int32",
          "description": "Id of this bookshelf, only unique by user.",
          "type": "integer"
        },
        "description": {
          "description": "Description of this bookshelf.",
          "type": "string"
        },
        "title": {
          "description": "Title of this bookshelf.",
          "type": "string"
        },
        "volumeCount": {
          "description": "Number of volumes in this bookshelf.",
          "type": "integer",
          "format": "int32"
        },
        "updated": {
          "description": "Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "Volumeannotation": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "id": {
          "description": "Unique id of this volume annotation.",
          "type": "string"
        },
        "layerId": {
          "description": "The Layer this annotation is for.",
          "type": "string"
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "contentRanges": {
          "properties": {
            "gbTextRange": {
              "description": "Range in GB text format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string"
            },
            "gbImageRange": {
              "description": "Range in GB image format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "description": "The content ranges to identify the selected text.",
          "type": "object"
        },
        "data": {
          "description": "Data for this annotation.",
          "type": "string"
        },
        "volumeId": {
          "description": "The Volume this annotation is for.",
          "type": "string"
        },
        "annotationType": {
          "description": "The type of annotation this is.",
          "type": "string"
        },
        "selectedText": {
          "description": "Excerpt from the volume.",
          "type": "string"
        },
        "annotationDataId": {
          "description": "The annotation data id for this volume annotation.",
          "type": "string"
        },
        "pageIds": {
          "description": "Pages the annotation spans.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updated": {
          "description": "Timestamp for the last time this anntoation was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "annotationDataLink": {
          "description": "Link to get data for this annotation.",
          "type": "string"
        }
      },
      "id": "Volumeannotation"
    },
    "GeoAnnotationdata": {
      "id": "GeoAnnotationdata",
      "properties": {
        "data": {
          "$ref": "Geolayerdata",
          "description": "JSON encoded data for this geo annotation data. Emitted with name 'data' in JSON output. Either this or dict_data will be populated."
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string"
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string"
        },
        "encodedData": {
          "format": "byte",
          "description": "Base64 encoded data for this annotation data.",
          "type": "string"
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string"
        },
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DictionaryAnnotationdata": {
      "id": "DictionaryAnnotationdata",
      "properties": {
        "data": {
          "$ref": "Dictlayerdata",
          "description": "JSON encoded data for this dictionary annotation data. Emitted with name 'data' in JSON output. Either this or geo_data will be populated."
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string"
        },
        "encodedData": {
          "description": "Base64 encoded data for this annotation data.",
          "type": "string",
          "format": "byte"
        },
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string"
        },
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string"
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Geolayerdata": {
      "id": "Geolayerdata",
      "type": "object",
      "properties": {
        "geo": {
          "type": "object",
          "properties": {
            "countryCode": {
              "description": "The country code of the location.",
              "type": "string"
            },
            "mapType": {
              "description": "The type of map that should be used for this location. EX: HYBRID, ROADMAP, SATELLITE, TERRAIN",
              "type": "string"
            },
            "latitude": {
              "description": "The latitude of the location.",
              "type": "number",
              "format": "double"
            },
            "boundary": {
              "description": "The boundary of the location as a set of loops containing pairs of latitude, longitude coordinates.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "viewport": {
              "properties": {
                "lo": {
                  "properties": {
                    "longitude": {
                      "type": "number",
                      "format": "double"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "double"
                    }
                  },
                  "type": "object"
                },
                "hi": {
                  "properties": {
                    "longitude": {
                      "type": "number",
                      "format": "double"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "double"
                    }
                  },
                  "type": "object"
                }
              },
              "description": "The viewport for showing this location. This is a latitude, longitude rectangle.",
              "type": "object"
            },
            "cachePolicy": {
              "description": "The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER",
              "type": "string"
            },
            "longitude": {
              "format": "double",
              "description": "The longitude of the location.",
              "type": "number"
            },
            "zoom": {
              "format": "int32",
              "description": "The Zoom level to use for the map. Zoom levels between 0 (the lowest zoom level, in which the entire world can be seen on one map) to 21+ (down to individual buildings). See: https: //developers.google.com/maps/documentation/staticmaps/#Zoomlevels",
              "type": "integer"
            }
          }
        },
        "common": {
          "type": "object",
          "properties": {
            "lang": {
              "description": "The language of the information url and description.",
              "type": "string"
            },
            "snippet": {
              "description": "The description for this location.",
              "type": "string"
            },
            "snippetUrl": {
              "description": "The URL for information for this location. Ex: wikipedia link.",
              "type": "string"
            },
            "previewImageUrl": {
              "description": "The URL for the preview image information.",
              "type": "string"
            },
            "title": {
              "description": "The display title and localized canonical name to use when searching for this entity on Google search.",
              "type": "string"
            }
          }
        },
        "kind": {
          "type": "string"
        }
      }
    },
    "AnnotationsSummary": {
      "properties": {
        "kind": {
          "type": "string"
        },
        "layers": {
          "type": "array",
          "items": {
            "properties": {
              "allowedCharacterCount": {
                "type": "integer",
                "format": "int32"
              },
              "updated": {
                "type": "string"
              },
              "limitType": {
                "type": "string"
              },
              "layerId": {
                "type": "string"
              },
              "remainingCharacterCount": {
                "type": "integer",
                "format": "int32"
              }
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "id": "AnnotationsSummary"
    },
    "BooksAnnotationsRange": {
      "properties": {
        "startPosition": {
          "description": "The starting position for the range.",
          "type": "string"
        },
        "endPosition": {
          "description": "The ending position for the range.",
          "type": "string"
        },
        "endOffset": {
          "description": "The offset from the ending position.",
          "type": "string"
        },
        "startOffset": {
          "description": "The offset from the starting position.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BooksAnnotationsRange"
    }
  },
  "resources": {
    "mylibrary": {
      "resources": {
        "readingpositions": {
          "methods": {
            "setPosition": {
              "parameterOrder": [
                "volumeId",
                "position",
                "timestamp"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
              "id": "books.mylibrary.readingpositions.setPosition",
              "httpMethod": "POST",
              "parameters": {
                "action": {
                  "description": "Action that caused this reading position to be set.",
                  "enumDescriptions": [
                    "",
                    "User chose bookmark within volume.",
                    "User selected chapter from list.",
                    "Next page event.",
                    "Previous page event.",
                    "User navigated to page.",
                    "User chose search results within volume."
                  ],
                  "enum": [
                    "ACTION_UNDEFINED",
                    "bookmark",
                    "chapter",
                    "next-page",
                    "prev-page",
                    "scroll",
                    "search"
                  ],
                  "type": "string",
                  "location": "query"
                },
                "volumeId": {
                  "description": "ID of volume for which to update the reading position.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "timestamp": {
                  "location": "query",
                  "required": true,
                  "description": "RFC 3339 UTC format timestamp associated with this reading position.",
                  "type": "string"
                },
                "position": {
                  "location": "query",
                  "required": true,
                  "description": "Position string for the new volume reading position.",
                  "type": "string"
                },
                "deviceCookie": {
                  "location": "query",
                  "description": "Random persistent device cookie optional on set position.",
                  "type": "string"
                },
                "contentVersion": {
                  "location": "query",
                  "description": "Volume content version for which this reading position applies.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
              "description": "Sets my reading position information for a volume."
            },
            "get": {
              "response": {
                "$ref": "ReadingPosition"
              },
              "parameterOrder": [
                "volumeId"
              ],
              "id": "books.mylibrary.readingpositions.get",
              "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}",
              "httpMethod": "GET",
              "parameters": {
                "volumeId": {
                  "location": "path",
                  "required": true,
                  "description": "ID of volume for which to retrieve a reading position.",
                  "type": "string"
                },
                "contentVersion": {
                  "location": "query",
                  "description": "Volume content version for which this reading position is requested.",
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/readingpositions/{volumeId}",
              "description": "Retrieves my reading position information for a volume."
            }
          }
        },
        "annotations": {
          "methods": {
            "delete": {
              "id": "books.mylibrary.annotations.delete",
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "annotationId"
              ],
              "httpMethod": "DELETE",
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "parameters": {
                "annotationId": {
                  "description": "The ID for the annotation to delete.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "description": "Deletes an annotation."
            },
            "insert": {
              "description": "Inserts a new annotation.",
              "path": "books/v1/mylibrary/annotations",
              "request": {
                "$ref": "Annotation"
              },
              "parameters": {
                "country": {
                  "location": "query",
                  "description": "ISO-3166-1 code to override the IP-based location.",
                  "type": "string"
                },
                "annotationId": {
                  "location": "query",
                  "description": "The ID for the annotation to insert.",
                  "type": "string"
                },
                "showOnlySummaryInResponse": {
                  "description": "Requests that only the summary of the specified layer be provided in the response.",
                  "type": "boolean",
                  "location": "query"
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "POST",
              "flatPath": "books/v1/mylibrary/annotations",
              "id": "books.mylibrary.annotations.insert",
              "parameterOrder": [],
              "response": {
                "$ref": "Annotation"
              }
            },
            "update": {
              "parameterOrder": [
                "annotationId"
              ],
              "response": {
                "$ref": "Annotation"
              },
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "id": "books.mylibrary.annotations.update",
              "httpMethod": "PUT",
              "request": {
                "$ref": "Annotation"
              },
              "parameters": {
                "annotationId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID for the annotation to update.",
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "description": "Updates an existing annotation."
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "books/v1/mylibrary/annotations",
              "id": "books.mylibrary.annotations.list",
              "parameterOrder": [],
              "response": {
                "$ref": "Annotations"
              },
              "description": "Retrieves a list of annotations, possibly filtered.",
              "path": "books/v1/mylibrary/annotations",
              "parameters": {
                "layerIds": {
                  "repeated": true,
                  "description": "The layer ID(s) to limit annotation by.",
                  "type": "string",
                  "location": "query"
                },
                "updatedMax": {
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to restrict annotations to.",
                  "type": "string",
                  "location": "query"
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "showDeleted": {
                  "location": "query",
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                  "type": "boolean"
                },
                "layerId": {
                  "location": "query",
                  "description": "The layer ID to limit annotation by.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous page.",
                  "type": "string",
                  "location": "query"
                },
                "updatedMin": {
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of results to return",
                  "maximum": "40",
                  "location": "query",
                  "type": "integer",
                  "minimum": "0",
                  "format": "uint32"
                },
                "contentVersion": {
                  "description": "The content version for the requested volume.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "summary": {
              "path": "books/v1/mylibrary/annotations/summary",
              "parameters": {
                "layerIds": {
                  "repeated": true,
                  "description": "Array of layer IDs to get the summary for.",
                  "type": "string",
                  "location": "query",
                  "required": true
                },
                "volumeId": {
                  "description": "Volume id to get the summary for.",
                  "type": "string",
                  "location": "query",
                  "required": true
                },
                "source": {
                  "description": "Optional. String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "description": "Gets the summary of specified layers.",
              "id": "books.mylibrary.annotations.summary",
              "flatPath": "books/v1/mylibrary/annotations/summary",
              "response": {
                "$ref": "AnnotationsSummary"
              },
              "parameterOrder": [
                "layerIds",
                "volumeId"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "bookshelves": {
          "methods": {
            "clearVolumes": {
              "httpMethod": "POST",
              "parameterOrder": [
                "shelf"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes",
              "id": "books.mylibrary.bookshelves.clearVolumes",
              "description": "Clears all volumes from a bookshelf.",
              "parameters": {
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "shelf": {
                  "location": "path",
                  "required": true,
                  "description": "ID of bookshelf from which to remove a volume.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes"
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "books/v1/mylibrary/bookshelves",
              "id": "books.mylibrary.bookshelves.list",
              "parameterOrder": [],
              "response": {
                "$ref": "Bookshelves"
              },
              "description": "Retrieves a list of bookshelves belonging to the authenticated user.",
              "path": "books/v1/mylibrary/bookshelves",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "addVolume": {
              "path": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
              "parameters": {
                "reason": {
                  "location": "query",
                  "type": "string",
                  "description": "The reason for which the book is added to the library.",
                  "enumDescriptions": [
                    "",
                    "Volumes added from the PREX flow on iOS.",
                    "Volumes added from the Search flow on iOS.",
                    "Volumes added from the Onboarding flow."
                  ],
                  "enum": [
                    "REASON_UNDEFINED",
                    "IOS_PREX",
                    "IOS_SEARCH",
                    "ONBOARDING"
                  ]
                },
                "volumeId": {
                  "description": "ID of volume to add.",
                  "type": "string",
                  "location": "query",
                  "required": true
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "shelf": {
                  "description": "ID of bookshelf to which to add a volume.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "description": "Adds a volume to a bookshelf.",
              "id": "books.mylibrary.bookshelves.addVolume",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "shelf",
                "volumeId"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "httpMethod": "GET",
              "id": "books.mylibrary.bookshelves.get",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}",
              "response": {
                "$ref": "Bookshelf"
              },
              "parameterOrder": [
                "shelf"
              ],
              "description": "Retrieves metadata for a specific bookshelf belonging to the authenticated user.",
              "path": "books/v1/mylibrary/bookshelves/{shelf}",
              "parameters": {
                "shelf": {
                  "description": "ID of bookshelf to retrieve.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "moveVolume": {
              "httpMethod": "POST",
              "parameterOrder": [
                "shelf",
                "volumeId",
                "volumePosition"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume",
              "id": "books.mylibrary.bookshelves.moveVolume",
              "description": "Moves a volume within a bookshelf.",
              "parameters": {
                "volumeId": {
                  "location": "query",
                  "required": true,
                  "description": "ID of volume to move.",
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "shelf": {
                  "description": "ID of bookshelf with the volume.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "volumePosition": {
                  "format": "int32",
                  "location": "query",
                  "required": true,
                  "type": "integer",
                  "description": "Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume"
            },
            "removeVolume": {
              "description": "Removes a volume from a bookshelf.",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "reason": {
                  "description": "The reason for which the book is removed from the library.",
                  "enumDescriptions": [
                    "",
                    "Samples removed from the Onboarding flow."
                  ],
                  "enum": [
                    "REASON_UNDEFINED",
                    "ONBOARDING"
                  ],
                  "type": "string",
                  "location": "query"
                },
                "volumeId": {
                  "location": "query",
[...]
