{
  "id": "books:v1",
  "description": "The Google Books API allows clients to access the Google Books repository.",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "rootUrl": "https://books.googleapis.com/",
  "name": "books",
  "servicePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "ConcurrentAccessRestriction": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "source": {
          "type": "string",
          "description": "Client app identifier for verification. Download access and client-validation only."
        },
        "maxConcurrentDevices": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of concurrent access licenses for this volume."
        },
        "reasonCode": {
          "description": "Error/warning reason code.",
          "type": "string"
        },
        "restricted": {
          "description": "Whether this volume has any concurrent access restrictions.",
          "type": "boolean"
        },
        "nonce": {
          "type": "string",
          "description": "Client nonce for verification. Download access and client-validation only."
        },
        "message": {
          "description": "Error/warning message.",
          "type": "string"
        },
        "timeWindowSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "Time in seconds for license auto-expiration."
        },
        "signature": {
          "description": "Response signature.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Identifies the volume for which this entry applies."
        },
        "deviceAllowed": {
          "description": "Whether access is granted for this (user, device, volume).",
          "type": "boolean"
        }
      },
      "id": "ConcurrentAccessRestriction"
    },
    "Volumeseriesinfo": {
      "properties": {
        "bookDisplayNumber": {
          "type": "string",
          "description": "The display number string. This should be used only for display purposes and the actual sequence should be inferred from the below orderNumber."
        },
        "volumeSeries": {
          "items": {
            "properties": {
              "seriesId": {
                "description": "The series id.",
                "type": "string"
              },
              "orderNumber": {
                "description": "The book order number in the series.",
                "format": "int32",
                "type": "integer"
              },
              "issue": {
                "description": "List of issues. Applicable only for Collection Edition and Omnibus.",
                "items": {
                  "properties": {
                    "issueOrderNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "issueDisplayNumber": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "seriesBookType": {
                "description": "The book type in the context of series. Examples - Single Issue, Collection Edition, etc.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "shortSeriesBookTitle": {
          "description": "Short book title in the context of the series.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "id": "Volumeseriesinfo",
      "type": "object"
    },
    "Layersummary": {
      "type": "object",
      "id": "Layersummary",
      "properties": {
        "annotationCount": {
          "description": "The number of annotations for this layer.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "type": "string",
          "description": "Unique id of this layer summary."
        },
        "contentVersion": {
          "type": "string",
          "description": "The content version this resource is for."
        },
        "volumeId": {
          "type": "string",
          "description": "The volume id this resource is for."
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time an item in this layer was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "volumeAnnotationsVersion": {
          "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
          "type": "string"
        },
        "annotationsLink": {
          "description": "The link to get the annotations for this layer.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "layerId": {
          "description": "The layer id for this summary.",
          "type": "string"
        },
        "dataCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of data items for this layer."
        },
        "annotationsDataLink": {
          "type": "string",
          "description": "Link to get data for this annotation."
        },
        "annotationTypes": {
          "description": "The list of annotation types contained for this layer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Usersettings": {
      "id": "Usersettings",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "notesExport": {
          "properties": {
            "folderName": {
              "type": "string"
            },
            "isEnabled": {
              "type": "boolean"
            }
          },
          "description": "User settings in sub-objects, each for different purposes.",
          "type": "object"
        },
        "notification": {
          "type": "object",
          "properties": {
            "rewardExpirations": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "priceDrop": {
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "moreFromAuthors": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "moreFromSeries": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "matchMyInterests": {
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "DownloadAccesses": {
      "id": "DownloadAccesses",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "downloadAccessList": {
          "description": "A list of download access responses.",
          "type": "array",
          "items": {
            "$ref": "DownloadAccessRestriction"
          }
        }
      },
      "type": "object"
    },
    "Seriesmembership": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resorce type."
        },
        "member": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "Seriesmembership",
      "type": "object"
    },
    "Bookshelf": {
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "URL to this resource."
        },
        "description": {
          "type": "string",
          "description": "Description of this bookshelf."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for bookshelf metadata."
        },
        "volumesLastUpdated": {
          "type": "string",
          "description": "Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution)."
        },
        "created": {
          "description": "Created time for this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "access": {
          "description": "Whether this bookshelf is PUBLIC or PRIVATE.",
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "Id of this bookshelf, only unique by user."
        },
        "updated": {
          "description": "Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "title": {
          "description": "Title of this bookshelf.",
          "type": "string"
        },
        "volumeCount": {
          "type": "integer",
          "description": "Number of volumes in this bookshelf.",
          "format": "int32"
        }
      },
      "id": "Bookshelf",
      "type": "object"
    },
    "RequestAccessData": {
      "id": "RequestAccessData",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "concurrentAccess": {
          "description": "A concurrent access response.",
          "$ref": "ConcurrentAccessRestriction"
        },
        "downloadAccess": {
          "description": "A download access response.",
          "$ref": "DownloadAccessRestriction"
        }
      },
      "type": "object"
    },
    "Annotationsdata": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of Annotation Data.",
          "items": {
            "$ref": "GeoAnnotationdata"
          }
        },
        "kind": {
          "description": "Resource type",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "totalItems": {
          "description": "The total number of volume annotations found.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Annotationsdata"
    },
    "Dictlayerdata": {
      "type": "object",
      "id": "Dictlayerdata",
      "properties": {
        "dict": {
          "type": "object",
          "properties": {
            "words": {
              "items": {
                "properties": {
                  "derivatives": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "senses": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "partOfSpeech": {
                          "type": "string"
                        },
                        "pronunciation": {
                          "type": "string"
                        },
                        "source": {
                          "properties": {
                            "attribution": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "definitions": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "definition": {
                                "type": "string"
                              },
                              "examples": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "text": {
                                      "type": "string"
                                    },
                                    "source": {
                                      "type": "object",
                                      "properties": {
                                        "url": {
                                          "type": "string"
                                        },
                                        "attribution": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "type": "object"
                                }
                              }
                            },
                            "type": "object"
                          }
                        },
                        "syllabification": {
                          "type": "string"
                        },
                        "pronunciationUrl": {
                          "type": "string"
                        },
                        "conjugations": {
                          "items": {
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "synonyms": {
                          "items": {
                            "type": "object",
                            "properties": {
                              "source": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string"
                                  },
                                  "attribution": {
                                    "type": "string"
                                  }
                                }
                              },
                              "text": {
                                "type": "string"
                              }
                            }
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "examples": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "type": "array"
                  },
                  "source": {
                    "description": "The words with different meanings but not related words, e.g. \"go\" (game) and \"go\" (verb).",
                    "properties": {
                      "url": {
                        "type": "string"
                      },
                      "attribution": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "source": {
              "description": "The source, url and attribution for this dictionary data.",
              "properties": {
                "url": {
                  "type": "string"
                },
                "attribution": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "kind": {
          "type": "string"
        },
        "common": {
          "properties": {
            "title": {
              "description": "The display title and localized canonical name to use when searching for this entity on Google search.",
              "type": "string"
            }
          },
          "type": "object"
        }
      }
    },
    "Volumes": {
      "id": "Volumes",
      "type": "object",
      "properties": {
        "items": {
          "description": "A list of volumes.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "totalItems": {
          "description": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    },
    "Series": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "series": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "imageUrl": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "bannerImageUrl": {
                "type": "string"
              },
              "eligibleForSubscription": {
                "type": "boolean"
              },
              "subscriptionId": {
                "type": "string"
              },
              "seriesSubscriptionReleaseInfo": {
                "properties": {
                  "seriesSubscriptionType": {
                    "type": "string"
                  },
                  "currentReleaseInfo": {
                    "type": "object",
                    "properties": {
                      "releaseTime": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "format": "double",
                        "type": "number"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    }
                  },
                  "cancelTime": {
                    "type": "string"
                  },
                  "nextReleaseInfo": {
                    "type": "object",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "releaseTime": {
                        "type": "string"
                      }
                    }
                  }
                },
                "type": "object"
              },
              "seriesType": {
                "type": "string"
              },
              "isComplete": {
                "type": "boolean"
              },
              "seriesFormatType": {
                "type": "string"
              },
              "seriesId": {
                "type": "string"
              }
            }
          }
        }
      },
      "type": "object",
      "id": "Series"
    },
    "DownloadAccessRestriction": {
      "id": "DownloadAccessRestriction",
      "type": "object",
      "properties": {
        "downloadsAcquired": {
          "format": "int32",
          "description": "If restricted, the number of content download licenses already acquired (including the requesting client, if licensed).",
          "type": "integer"
        },
        "source": {
          "type": "string",
          "description": "Client app identifier for verification. Download access and client-validation only."
        },
        "justAcquired": {
          "description": "If deviceAllowed, whether access was just acquired with this request.",
          "type": "boolean"
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "reasonCode": {
          "description": "Error/warning reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS",
          "type": "string"
        },
        "restricted": {
          "description": "Whether this volume has any download access restrictions.",
          "type": "boolean"
        },
        "volumeId": {
          "type": "string",
          "description": "Identifies the volume for which this entry applies."
        },
        "maxDownloadDevices": {
          "description": "If restricted, the maximum number of content download licenses for this volume.",
          "type": "integer",
          "format": "int32"
        },
        "deviceAllowed": {
          "type": "boolean",
          "description": "If restricted, whether access is granted for this (user, device, volume)."
        },
        "signature": {
          "description": "Response signature.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Error/warning message."
        }
      }
    },
    "Review": {
      "id": "Review",
      "properties": {
        "title": {
          "description": "Title for this review.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for a review."
        },
        "author": {
          "description": "Author of this review.",
          "properties": {
            "displayName": {
              "description": "Name of this person.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "date": {
          "description": "Date of this review.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Volume that this review is for."
        },
        "content": {
          "type": "string",
          "description": "Review text."
        },
        "fullTextUrl": {
          "type": "string",
          "description": "URL for the full review text, for reviews gathered from the web."
        },
        "rating": {
          "description": "Star rating for this review. Possible values are ONE, TWO, THREE, FOUR, FIVE or NOT_RATED.",
          "type": "string"
        },
        "source": {
          "description": "Information regarding the source of this review, when the review is not from a Google Books user.",
          "properties": {
            "extraDescription": {
              "description": "Extra text about the source of the review.",
              "type": "string"
            },
            "url": {
              "type": "string",
              "description": "URL of the source of the review."
            },
            "description": {
              "description": "Name of the source.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "type": {
          "description": "Source type for this review. Possible values are EDITORIAL, WEB_USER or GOOGLE_USER.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Notification": {
      "type": "object",
      "properties": {
        "timeToExpireMs": {
          "format": "int64",
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "pcampaign_id": {
          "type": "string"
        },
        "is_document_mature": {
          "type": "boolean"
        },
        "notification_type": {
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "doc_id": {
          "type": "string"
        },
        "dont_show_notification": {
          "type": "boolean"
        },
        "title": {
          "type": "string"
        },
        "show_notification_settings_action": {
          "type": "boolean"
        },
        "doc_type": {
          "type": "string"
        },
        "iconUrl": {
          "type": "string"
        },
        "reason": {
          "type": "string"
        },
        "targetUrl": {
          "type": "string"
        },
        "crmExperimentIds": {
          "type": "array",
          "description": "The list of crm experiment ids.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "notificationGroup": {
          "type": "string"
        }
      },
      "id": "Notification"
    },
    "BooksVolumesRecommendedRateResponse": {
      "properties": {
        "consistency_token": {
          "type": "string"
        }
      },
      "id": "BooksVolumesRecommendedRateResponse",
      "type": "object"
    },
    "BooksAnnotationsRange": {
      "type": "object",
      "properties": {
        "startOffset": {
          "description": "The offset from the starting position.",
          "type": "string"
        },
        "endOffset": {
          "description": "The offset from the ending position.",
          "type": "string"
        },
        "startPosition": {
          "type": "string",
          "description": "The starting position for the range."
        },
        "endPosition": {
          "description": "The ending position for the range.",
          "type": "string"
        }
      },
      "id": "BooksAnnotationsRange"
    },
    "DictionaryAnnotationdata": {
      "properties": {
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "encodedData": {
          "format": "byte",
          "type": "string",
          "description": "Base64 encoded data for this annotation data."
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string"
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string"
        },
        "data": {
          "description": "JSON encoded data for this dictionary annotation data. Emitted with name 'data' in JSON output. Either this or geo_data will be populated.",
          "$ref": "Dictlayerdata"
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string"
        }
      },
      "id": "DictionaryAnnotationdata",
      "type": "object"
    },
    "FamilyInfo": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "membership": {
          "properties": {
            "ageGroup": {
              "type": "string",
              "description": "The age group of the user."
            },
            "allowedMaturityRating": {
              "description": "The maximum allowed maturity rating for the user.",
              "type": "string"
            },
            "acquirePermission": {
              "description": "Restrictions on user buying and acquiring content.",
              "type": "string"
            },
            "role": {
              "type": "string",
              "description": "The role of the user in the family."
            },
            "isInFamily": {
              "type": "boolean"
            }
          },
          "description": "Family membership info of the user that made the request.",
          "type": "object"
        }
      },
      "id": "FamilyInfo",
      "type": "object"
    },
    "ReadingPosition": {
      "properties": {
        "gbImagePosition": {
          "description": "Position in a volume for image-based content.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for a reading position.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp when this reading position was last updated (formatted UTC timestamp with millisecond resolution)."
        },
        "gbTextPosition": {
          "description": "Position in a volume for text-based content.",
          "type": "string"
        },
        "pdfPosition": {
          "type": "string",
          "description": "Position in a PDF file."
        },
        "epubCfiPosition": {
          "type": "string",
          "description": "Position in an EPUB as a CFI."
        },
        "volumeId": {
          "type": "string",
          "description": "Volume id associated with this reading position."
        }
      },
      "type": "object",
      "id": "ReadingPosition"
    },
    "Volume2": {
      "id": "Volume2",
      "properties": {
        "items": {
          "description": "A list of volumes.",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Volumeannotations": {
      "properties": {
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of volume annotations found.",
          "format": "int32"
        },
        "items": {
          "description": "A list of volume annotations.",
          "items": {
            "$ref": "Volumeannotation"
          },
          "type": "array"
        },
        "version": {
          "description": "The version string for all of the volume annotations in this layer (not just the ones in this response). Note: the version string doesn't apply to the annotation data, just the information in this response (e.g. the location of annotations in the book).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type"
        }
      },
      "type": "object",
      "id": "Volumeannotations"
    },
    "Volumeannotation": {
      "type": "object",
      "properties": {
        "layerId": {
          "type": "string",
          "description": "The Layer this annotation is for."
        },
        "id": {
          "description": "Unique id of this volume annotation.",
          "type": "string"
        },
        "selectedText": {
          "type": "string",
          "description": "Excerpt from the volume."
        },
        "contentRanges": {
          "type": "object",
          "properties": {
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string"
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation for version above."
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "cfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation for version above."
            }
          },
          "description": "The content ranges to identify the selected text."
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "annotationDataLink": {
          "description": "Link to get data for this annotation.",
          "type": "string"
        },
        "annotationDataId": {
          "type": "string",
          "description": "The annotation data id for this volume annotation."
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this anntoation was updated. (RFC 3339 UTC date-time format)."
        },
        "volumeId": {
          "description": "The Volume this annotation is for.",
          "type": "string"
        },
        "annotationType": {
          "description": "The type of annotation this is.",
          "type": "string"
        },
        "pageIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Pages the annotation spans."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "data": {
          "description": "Data for this annotation.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Indicates that this annotation is deleted."
        }
      },
      "id": "Volumeannotation"
    },
    "Discoveryclusters": {
      "properties": {
        "clusters": {
          "items": {
            "type": "object",
            "properties": {
              "uid": {
                "type": "string"
              },
              "subTitle": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "banner_with_content_container": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string"
                  },
                  "fillColorArgb": {
                    "type": "string"
                  },
                  "textColorArgb": {
                    "type": "string"
                  },
                  "moreButtonText": {
                    "type": "string"
                  },
                  "moreButtonUrl": {
                    "type": "string"
                  },
                  "maskColorArgb": {
                    "type": "string"
                  }
                }
              },
              "volumes": {
                "type": "array",
                "items": {
                  "$ref": "Volume"
                }
              },
              "totalVolumes": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "type": "array"
        },
        "totalClusters": {
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Resorce type."
        }
      },
      "id": "Discoveryclusters",
      "type": "object"
    },
    "Bookshelves": {
      "properties": {
        "items": {
          "items": {
            "$ref": "Bookshelf"
          },
          "description": "A list of bookshelves.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "type": "object",
      "id": "Bookshelves"
    },
    "Geolayerdata": {
      "type": "object",
      "properties": {
        "common": {
          "type": "object",
          "properties": {
            "title": {
              "description": "The display title and localized canonical name to use when searching for this entity on Google search.",
              "type": "string"
            },
            "snippetUrl": {
              "description": "The URL for information for this location. Ex: wikipedia link.",
              "type": "string"
            },
            "previewImageUrl": {
              "type": "string",
              "description": "The URL for the preview image information."
            },
            "snippet": {
              "type": "string",
              "description": "The description for this location."
            },
            "lang": {
              "description": "The language of the information url and description.",
              "type": "string"
            }
          }
        },
        "geo": {
          "properties": {
            "zoom": {
              "type": "integer",
              "format": "int32",
              "description": "The Zoom level to use for the map. Zoom levels between 0 (the lowest zoom level, in which the entire world can be seen on one map) to 21+ (down to individual buildings). See: https: //developers.google.com/maps/documentation/staticmaps/#Zoomlevels"
            },
            "viewport": {
              "description": "The viewport for showing this location. This is a latitude, longitude rectangle.",
              "properties": {
                "lo": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "format": "double"
                    },
                    "longitude": {
                      "format": "double",
                      "type": "number"
                    }
                  }
                },
                "hi": {
                  "properties": {
                    "longitude": {
                      "type": "number",
                      "format": "double"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "double"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            },
            "boundary": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The boundary of the location as a set of loops containing pairs of latitude, longitude coordinates."
            },
            "mapType": {
              "type": "string",
              "description": "The type of map that should be used for this location. EX: HYBRID, ROADMAP, SATELLITE, TERRAIN"
            },
            "countryCode": {
              "type": "string",
              "description": "The country code of the location."
            },
            "latitude": {
              "format": "double",
              "type": "number",
              "description": "The latitude of the location."
            },
            "longitude": {
              "description": "The longitude of the location.",
              "type": "number",
              "format": "double"
            },
            "cachePolicy": {
              "type": "string",
              "description": "The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER"
            }
          },
          "type": "object"
        },
        "kind": {
          "type": "string"
        }
      },
      "id": "Geolayerdata"
    },
    "GeoAnnotationdata": {
      "type": "object",
      "properties": {
        "encodedData": {
          "format": "byte",
          "type": "string",
          "description": "Base64 encoded data for this annotation data."
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string"
        },
        "annotationType": {
          "type": "string",
          "description": "The type of annotation this data is for."
        },
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string"
        },
        "data": {
          "description": "JSON encoded data for this geo annotation data. Emitted with name 'data' in JSON output. Either this or dict_data will be populated.",
          "$ref": "Geolayerdata"
        },
        "volumeId": {
          "type": "string",
          "description": "The volume id for this data. *"
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        }
      },
      "id": "GeoAnnotationdata"
    },
    "Metadata": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "type": "array",
          "description": "A list of offline dictionary metadata.",
          "items": {
            "type": "object",
            "properties": {
              "language": {
                "type": "string"
              },
              "size": {
                "type": "string",
                "format": "int64"
              },
              "version": {
                "type": "string",
                "format": "int64"
              },
              "encrypted_key": {
                "type": "string"
              },
              "download_url": {
                "type": "string"
              }
            }
          }
        }
      },
      "id": "Metadata",
      "type": "object"
    },
    "Annotation": {
      "id": "Annotation",
      "properties": {
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "created": {
          "description": "Timestamp for the created time of this annotation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "volumeId": {
          "description": "The volume that this annotation belongs to.",
          "type": "string"
        },
        "afterSelectedText": {
          "description": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "User-created data for this annotation."
        },
        "deleted": {
          "type": "boolean",
          "description": "Indicates that this annotation is deleted."
        },
        "selectedText": {
          "type": "string",
          "description": "Excerpt from the volume."
        },
        "currentVersionRanges": {
          "description": "Selection ranges for the most recent content version.",
          "properties": {
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation for version above."
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string"
            },
            "imageCfiRange": {
              "description": "Range in image CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation for version above."
            }
          },
          "type": "object"
        },
        "pageIds": {
          "description": "Pages that this annotation spans.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this annotation was modified."
        },
        "clientVersionRanges": {
          "properties": {
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation sent by client."
            },
            "imageCfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in image CFI format for this annotation sent by client."
            },
            "contentVersion": {
              "description": "Content version the client sent in.",
              "type": "string"
            },
            "gbImageRange": {
              "description": "Range in GB image format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "description": "Selection ranges sent from the client.",
          "type": "object"
        },
        "highlightStyle": {
          "description": "The highlight style for this annotation.",
          "type": "string"
        },
        "id": {
          "description": "Id of this annotation, in the form of a GUID.",
          "type": "string"
        },
        "layerId": {
          "description": "The layer this annotation is for.",
          "type": "string"
        },
        "beforeSelectedText": {
          "type": "string",
          "description": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty."
        },
        "layerSummary": {
          "properties": {
            "limitType": {
              "type": "string",
              "description": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer."
            },
            "allowedCharacterCount": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum allowed characters on this layer, especially for the \"copy\" layer."
            },
            "remainingCharacterCount": {
              "type": "integer",
              "description": "Remaining allowed characters on this layer, especially for the \"copy\" layer.",
              "format": "int32"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "Annotations": {
      "type": "object",
      "id": "Annotations",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results."
        },
        "totalItems": {
          "format": "int32",
          "description": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated.",
          "type": "integer"
        },
        "items": {
          "description": "A list of annotations.",
          "type": "array",
          "items": {
            "$ref": "Annotation"
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    },
    "Offers": {
      "type": "object",
      "id": "Offers",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "gservicesKey": {
                "type": "string"
              },
              "artUrl": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "volumeId": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "coverUrl": {
                      "type": "string"
                    },
                    "author": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "canonicalVolumeLink": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "type": "array",
          "description": "A list of offers."
        }
      }
    },
    "Volume": {
      "properties": {
        "volumeInfo": {
          "type": "object",
          "properties": {
            "dimensions": {
              "properties": {
                "thickness": {
                  "type": "string",
                  "description": "Thickness of this volume (in cm)."
                },
                "height": {
                  "type": "string",
                  "description": "Height or length of this volume (in cm)."
                },
                "width": {
                  "type": "string",
                  "description": "Width of this volume (in cm)."
                }
              },
              "description": "Physical dimensions of this volume.",
              "type": "object"
            },
            "authors": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "The names of the authors and/or editors for this volume. (In LITE projection)"
            },
            "panelizationSummary": {
              "description": "A top-level summary of the panelization info in this volume.",
              "type": "object",
              "properties": {
                "containsEpubBubbles": {
                  "type": "boolean"
                },
                "epubBubbleVersion": {
                  "type": "string"
                },
                "containsImageBubbles": {
                  "type": "boolean"
                },
                "imageBubbleVersion": {
                  "type": "string"
                }
              }
            },
            "readingModes": {
              "type": "object",
              "properties": {
                "image": {
                  "type": "boolean"
                },
                "text": {
                  "type": "boolean"
                }
              },
              "description": "The reading modes available for this volume."
            },
            "publishedDate": {
              "description": "Date of publication. (In LITE projection.)",
              "type": "string"
            },
            "subtitle": {
              "type": "string",
              "description": "Volume subtitle. (In LITE projection.)"
            },
            "printedPageCount": {
              "type": "integer",
              "description": "Total number of printed pages in generated pdf representation.",
              "format": "int32"
            },
            "comicsContent": {
              "description": "Whether the volume has comics content.",
              "type": "boolean"
            },
            "allowAnonLogging": {
              "description": "Whether anonymous logging should be allowed.",
              "type": "boolean"
            },
            "averageRating": {
              "format": "double",
              "description": "The mean review rating for this volume. (min = 1.0, max = 5.0)",
              "type": "number"
            },
            "language": {
              "type": "string",
              "description": "Best language for this volume (based on content). It is the two-letter ISO 639-1 code such as 'fr', 'en', etc."
            },
            "contentVersion": {
              "description": "An identifier for the version of the volume content (text & images). (In LITE projection)",
              "type": "string"
            },
            "printType": {
              "type": "string",
              "description": "Type of publication of this volume. Possible values are BOOK or MAGAZINE."
            },
            "pageCount": {
              "format": "int32",
              "description": "Total number of pages as per publisher metadata.",
              "type": "integer"
            },
            "description": {
              "type": "string",
              "description": "A synopsis of the volume. The text of the description is formatted in HTML and includes simple formatting elements, such as b, i, and br tags. (In LITE projection.)"
            },
            "previewLink": {
              "type": "string",
              "description": "URL to preview this volume on the Google Books site."
            },
            "title": {
              "type": "string",
              "description": "Volume title. (In LITE projection.)"
            },
            "samplePageCount": {
              "type": "integer",
              "format": "int32",
              "description": "Total number of sample pages as per publisher metadata."
            },
            "canonicalVolumeLink": {
              "description": "Canonical URL for a volume. (In LITE projection.)",
              "type": "string"
            },
            "publisher": {
              "type": "string",
              "description": "Publisher of this volume. (In LITE projection.)"
            },
            "industryIdentifiers": {
              "type": "array",
              "description": "Industry standard identifiers for this volume.",
              "items": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "description": "Industry specific volume identifier.",
                    "type": "string"
                  },
                  "type": {
                    "description": "Identifier type. Possible values are ISBN_10, ISBN_13, ISSN and OTHER.",
                    "type": "string"
                  }
                }
              }
            },
            "infoLink": {
              "type": "string",
              "description": "URL to view information about this volume on the Google Books site. (In LITE projection)"
            },
            "ratingsCount": {
              "format": "int32",
              "type": "integer",
              "description": "The number of review ratings for this volume."
            },
            "categories": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of subject categories, such as \"Fiction\", \"Suspense\", etc."
            },
            "imageLinks": {
              "properties": {
                "small": {
                  "description": "Image link for small size (width of ~300 pixels). (In LITE projection)",
                  "type": "string"
                },
                "medium": {
                  "description": "Image link for medium size (width of ~575 pixels). (In LITE projection)",
                  "type": "string"
                },
                "large": {
                  "type": "string",
                  "description": "Image link for large size (width of ~800 pixels). (In LITE projection)"
                },
                "smallThumbnail": {
                  "description": "Image link for small thumbnail size (width of ~80 pixels). (In LITE projection)",
                  "type": "string"
                },
                "extraLarge": {
                  "description": "Image link for extra large size (width of ~1280 pixels). (In LITE projection)",
                  "type": "string"
                },
                "thumbnail": {
                  "description": "Image link for thumbnail size (width of ~128 pixels). (In LITE projection)",
                  "type": "string"
                }
              },
              "type": "object",
              "description": "A list of image links for all the sizes that are available. (In LITE projection.)"
            },
            "seriesInfo": {
              "$ref": "Volumeseriesinfo"
            },
            "maturityRating": {
              "type": "string"
            },
            "mainCategory": {
              "type": "string",
              "description": "The main category to which this volume belongs. It will be the category from the categories list returned below that has the highest weight."
            }
          },
          "description": "General volume information."
        },
        "searchInfo": {
          "description": "Search result information related to this volume.",
          "properties": {
            "textSnippet": {
              "description": "A text snippet containing the search query.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "layerInfo": {
          "type": "object",
          "properties": {
            "layers": {
              "description": "A layer should appear here if and only if the layer exists for this book.",
              "type": "array",
              "items": {
                "properties": {
                  "layerId": {
                    "type": "string",
                    "description": "The layer id of this layer (e.g. \"geo\")."
                  },
                  "volumeAnnotationsVersion": {
                    "type": "string",
                    "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately."
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "What layers exist in this volume and high level information about them."
        },
        "etag": {
          "description": "Opaque identifier for a specific version of a volume resource. (In LITE projection)",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for a volume. (In LITE projection.)"
        },
        "recommendedInfo": {
          "type": "object",
          "properties": {
            "explanation": {
              "description": "A text explaining why this volume is recommended.",
              "type": "string"
            }
          },
          "description": "Recommendation related information for this volume."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for a volume. (In LITE projection.)"
        },
        "selfLink": {
          "description": "URL to this resource. (In LITE projection.)",
          "type": "string"
        },
        "userInfo": {
          "description": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)",
          "type": "object",
          "properties": {
            "updated": {
              "description": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format).",
              "type": "string"
            },
            "isPreordered": {
              "type": "boolean",
              "description": "Whether or not this volume was pre-ordered by the authenticated user making the request. (In LITE projection.)"
            },
            "readingPosition": {
              "$ref": "ReadingPosition",
              "description": "The user's current reading position in the volume, if one is available. (In LITE projection.)"
            },
            "isFamilySharedToUser": {
              "description": "Whether or not the user received this volume through family sharing.",
              "type": "boolean"
            },
            "rentalState": {
              "type": "string",
              "description": "Whether this book is an active or an expired rental."
            },
            "isFamilySharedFromUser": {
              "description": "Whether or not the user shared this volume with the family.",
              "type": "boolean"
            },
            "isFamilySharingAllowed": {
              "description": "Deprecated: Replaced by familySharing.",
              "type": "boolean"
            },
            "userUploadedVolumeInfo": {
              "type": "object",
              "properties": {
                "processingState": {
                  "type": "string"
                }
              }
            },
            "rentalPeriod": {
              "description": "Period during this book is/was a valid rental.",
              "type": "object",
              "properties": {
                "startUtcSec": {
                  "format": "int64",
                  "type": "string"
                },
                "endUtcSec": {
                  "type": "string",
                  "format": "int64"
                }
              }
            },
            "isInMyBooks": {
              "description": "Whether or not this volume is currently in \"my books.\"",
              "type": "boolean"
            },
            "copy": {
              "description": "Copy/Paste accounting information.",
              "properties": {
                "remainingCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "updated": {
                  "type": "string"
                },
                "limitType": {
                  "type": "string"
                },
                "allowedCharacterCount": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "type": "object"
            },
            "isFamilySharingDisabledByFop": {
              "description": "Deprecated: Replaced by familySharing.",
              "type": "boolean"
            },
            "acquiredTime": {
              "description": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc.",
              "type": "string"
            },
            "isUploaded": {
              "description": "Whether or not this volume was user uploaded.",
              "type": "boolean"
            },
            "familySharing": {
              "description": "Information on the ability to share with the family.",
              "type": "object",
              "properties": {
                "isSharingAllowed": {
                  "type": "boolean",
                  "description": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action."
                },
                "isSharingDisabledByFop": {
                  "type": "boolean",
                  "description": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet."
                },
                "familyRole": {
                  "description": "The role of the user in the family.",
                  "type": "string"
                }
              }
            },
            "entitlementType": {
              "description": "Whether this volume is purchased, sample, pd download etc.",
              "format": "int32",
              "type": "integer"
            },
            "isPurchased": {
              "type": "boolean",
              "description": "Whether or not this volume was purchased by the authenticated user making the request. (In LITE projection.)"
            },
            "acquisitionType": {
              "description": "How this volume was acquired.",
              "format": "int32",
              "type": "integer"
            },
            "review": {
              "description": "This user's review of this volume, if one exists.",
              "$ref": "Review"
            }
          }
        },
        "saleInfo": {
          "description": "Any information about a volume related to the eBookstore and/or purchaseability. This information can depend on the country where the request originates from (i.e. books may not be for sale in certain countries).",
          "properties": {
            "retailPrice": {
              "description": "The actual selling price of the book. This is the same as the suggested retail or list price unless there are offers or discounts on this volume. (In LITE projection.)",
              "properties": {
                "amount": {
                  "description": "Amount in the currency listed below. (In LITE projection.)",
                  "format": "double",
                  "type": "number"
                },
                "currencyCode": {
                  "type": "string",
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)"
                }
              },
              "type": "object"
            },
            "onSaleDate": {
              "type": "string",
              "description": "The date on which this book is available for sale."
            },
            "isEbook": {
              "description": "Whether or not this volume is an eBook (can be added to the My eBooks shelf).",
              "type": "boolean"
            },
            "buyLink": {
              "description": "URL to purchase this volume on the Google Books site. (In LITE projection)",
              "type": "string"
            },
            "listPrice": {
              "type": "object",
              "description": "Suggested retail price. (In LITE projection.)",
              "properties": {
                "amount": {
                  "format": "double",
                  "type": "number",
                  "description": "Amount in the currency listed below. (In LITE projection.)"
                },
                "currencyCode": {
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                  "type": "string"
                }
              }
            },
            "offers": {
              "items": {
                "properties": {
                  "finskyOfferType": {
                    "description": "The finsky offer type (e.g., PURCHASE=0 RENTAL=3)",
                    "format": "int32",
                    "type": "integer"
                  },
                  "giftable": {
                    "type": "boolean",
                    "description": "Indicates whether the offer is giftable."
                  },
                  "listPrice": {
                    "description": "Offer list (=undiscounted) price in Micros.",
                    "type": "object",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    }
                  },
                  "retailPrice": {
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    },
                    "description": "Offer retail (=discounted) price in Micros",
                    "type": "object"
                  },
                  "rentalDuration": {
                    "description": "The rental duration (for rental offers only).",
                    "type": "object",
                    "properties": {
                      "unit": {
                        "type": "string"
                      },
                      "count": {
                        "type": "number",
                        "format": "double"
                      }
                    }
                  }
                },
                "type": "object"
              },
              "description": "Offers available for this volume (sales and rentals).",
              "type": "array"
            },
            "saleability": {
              "type": "string",
              "description": "Whether or not this book is available for sale or offered for free in the Google eBookstore for the country listed above. Possible values are FOR_SALE, FOR_RENTAL_ONLY, FOR_SALE_AND_RENTAL, FREE, NOT_FOR_SALE, or FOR_PREORDER."
            },
            "country": {
              "description": "The two-letter ISO_3166-1 country code for which this sale information is valid. (In LITE projection.)",
              "type": "string"
            }
          },
          "type": "object"
        },
        "accessInfo": {
          "description": "Any information about a volume related to reading or obtaining that volume text. This information can depend on country (books may be public domain in one country but not in another, e.g.).",
          "type": "object",
          "properties": {
            "textToSpeechPermission": {
              "type": "string",
              "description": "Whether text-to-speech is permitted for this volume. Values can be ALLOWED, ALLOWED_FOR_ACCESSIBILITY, or NOT_ALLOWED."
            },
            "viewOrderUrl": {
              "type": "string",
              "description": "For ordered but not yet processed orders, we give a URL that can be used to go to the appropriate Google Wallet page."
            },
            "driveImportedContentLink": {
              "description": "URL to the Google Drive viewer if this volume is uploaded by the user by selecting the file from Google Drive.",
              "type": "string"
            },
            "viewability": {
              "description": "The read access of a volume. Possible values are PARTIAL, ALL_PAGES, NO_PAGES or UNKNOWN. This value depends on the country listed above. A value of PARTIAL means that the publisher has allowed some portion of the volume to be viewed publicly, without purchase. This can apply to eBooks as well as non-eBooks. Public domain books will always have a value of ALL_PAGES.",
              "type": "string"
            },
            "embeddable": {
              "type": "boolean",
              "description": "Whether this volume can be embedded in a viewport using the Embedded Viewer API."
            },
            "accessViewStatus": {
              "description": "Combines the access and viewability of this volume into a single status field for this user. Values can be FULL_PURCHASED, FULL_PUBLIC_DOMAIN, SAMPLE or NONE. (In LITE projection.)",
              "type": "string"
            },
            "downloadAccess": {
              "description": "Information about a volume's download license access restrictions.",
              "$ref": "DownloadAccessRestriction"
            },
            "webReaderLink": {
              "description": "URL to read this volume on the Google Books site. Link will not allow users to read non-viewable volumes.",
              "type": "string"
            },
            "publicDomain": {
              "description": "Whether or not this book is public domain in the country listed above.",
              "type": "boolean"
            },
            "quoteSharingAllowed": {
              "type": "boolean",
              "description": "Whether quote sharing is allowed for this volume."
            },
            "epub": {
              "type": "object",
              "description": "Information about epub content. (In LITE projection.)",
              "properties": {
                "isAvailable": {
                  "description": "Is a flowing text epub available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                },
                "downloadLink": {
                  "type": "string",
                  "description": "URL to download epub. (In LITE projection.)"
                },
                "acsTokenLink": {
                  "description": "URL to retrieve ACS token for epub download. (In LITE projection.)",
                  "type": "string"
                }
              }
            },
            "pdf": {
              "type": "object",
              "properties": {
                "downloadLink": {
                  "description": "URL to download pdf. (In LITE projection.)",
                  "type": "string"
                },
                "isAvailable": {
                  "description": "Is a scanned image pdf available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                },
                "acsTokenLink": {
                  "type": "string",
                  "description": "URL to retrieve ACS token for pdf download. (In LITE projection.)"
                }
              },
              "description": "Information about pdf content. (In LITE projection.)"
            },
            "country": {
              "description": "The two-letter ISO_3166-1 country code for which this access information is valid. (In LITE projection.)",
              "type": "string"
            },
            "explicitOfflineLicenseManagement": {
              "description": "Whether this volume requires that the client explicitly request offline download license rather than have it done automatically when loading the content, if the client supports it.",
              "type": "boolean"
            }
          }
        }
      },
      "id": "Volume",
      "type": "object"
    },
    "Layersummaries": {
      "id": "Layersummaries",
      "properties": {
        "totalItems": {
          "description": "The total number of layer summaries found.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "description": "A list of layer summary items.",
          "type": "array",
          "items": {
            "$ref": "Layersummary"
          }
        }
      },
      "type": "object"
    },
    "AnnotationsSummary": {
      "id": "AnnotationsSummary",
      "properties": {
        "kind": {
          "type": "string"
        },
        "layers": {
          "type": "array",
          "items": {
            "properties": {
              "limitType": {
                "type": "string"
              },
              "allowedCharacterCount": {
                "type": "integer",
                "format": "int32"
              },
              "remainingCharacterCount": {
                "type": "integer",
                "format": "int32"
              },
              "layerId": {
                "type": "string"
              },
              "updated": {
                "type": "string"
              }
            },
            "type": "object"
          }
        }
      },
      "type": "object"
    },
    "BooksCloudloadingResource": {
      "type": "object",
      "properties": {
        "author": {
          "type": "string"
        },
        "volumeId": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "processingState": {
          "type": "string"
        }
      },
      "id": "BooksCloudloadingResource"
    },
    "Category": {
      "type": "object",
      "id": "Category",
      "properties": {
        "items": {
          "items": {
            "type": "object",
            "properties": {
              "categoryId": {
                "type": "string"
              },
              "badgeUrl": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "type": "array",
          "description": "A list of onboarding categories."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "myconfig": {
      "methods": {
        "syncVolumeLicenses": {
          "path": "books/v1/myconfig/syncVolumeLicenses",
          "response": {
            "$ref": "Volumes"
          },
          "id": "books.myconfig.syncVolumeLicenses",
          "description": "Request downloaded content access for specified volumes on the My eBooks shelf.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "POST",
          "flatPath": "books/v1/myconfig/syncVolumeLicenses",
          "parameters": {
            "cpksver": {
              "required": true,
              "description": "The device/version ID from which to release the restriction.",
              "type": "string",
              "location": "query"
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "type": "string",
              "location": "query"
            },
            "features": {
              "type": "string",
              "enum": [
                "FEATURES_UNDEFINED",
                "RENTALS"
              ],
              "repeated": true,
              "enumDescriptions": [
                "",
                "Client supports rentals."
              ],
              "description": "List of features supported by the client, i.e., 'RENTALS'",
              "location": "query"
            },
            "includeNonComicsSeries": {
              "location": "query",
              "type": "boolean",
              "description": "Set to true to include non-comics series. Defaults to false."
            },
            "showPreorders": {
              "type": "boolean",
              "description": "Set to true to show pre-ordered books. Defaults to false.",
              "location": "query"
            },
            "nonce": {
              "description": "The client nonce value.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "volumeIds": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "The volume(s) to request download restrictions for."
            },
            "source": {
              "type": "string",
              "required": true,
              "description": "String to identify the originator of this request.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source"
          ]
        },
        "requestAccess": {
          "httpMethod": "POST",
          "parameters": {
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "required": true,
              "type": "string"
            },
            "cpksver": {
              "description": "The device/version ID from which to request the restrictions.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "nonce": {
              "location": "query",
              "description": "The client nonce value.",
              "required": true,
              "type": "string"
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "type": "string",
              "location": "query"
            },
            "licenseTypes": {
              "type": "string",
              "enum": [
                "LICENSE_TYPES_UNDEFINED",
                "BOTH",
                "CONCURRENT",
                "DOWNLOAD"
              ],
              "description": "The type of access license to request. If not specified, the default is BOTH.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Both concurrent and download licenses.",
                "Concurrent access license.",
                "Offline download access license."
              ]
            },
            "volumeId": {
              "type": "string",
              "description": "The volume to request concurrent/download restrictions for.",
              "location": "query",
              "required": true
            }
          },
          "flatPath": "books/v1/myconfig/requestAccess",
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source",
            "volumeId"
          ],
          "path": "books/v1/myconfig/requestAccess",
          "response": {
            "$ref": "RequestAccessData"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "id": "books.myconfig.requestAccess",
          "description": "Request concurrent and download access restrictions."
        },
        "releaseDownloadAccess": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "DownloadAccesses"
          },
          "parameterOrder": [
            "cpksver",
            "volumeIds"
          ],
          "parameters": {
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "type": "string",
              "location": "query"
            },
            "cpksver": {
              "type": "string",
              "description": "The device/version ID from which to release the restriction.",
              "required": true,
              "location": "query"
            },
            "volumeIds": {
              "description": "The volume(s) to release restrictions for.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "path": "books/v1/myconfig/releaseDownloadAccess",
          "flatPath": "books/v1/myconfig/releaseDownloadAccess",
          "id": "books.myconfig.releaseDownloadAccess",
          "description": "Release downloaded content access restriction."
        },
        "updateUserSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "request": {
            "$ref": "Usersettings"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Usersettings"
          },
          "parameters": {},
          "id": "books.myconfig.updateUserSettings",
          "path": "books/v1/myconfig/updateUserSettings",
          "description": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.",
          "flatPath": "books/v1/myconfig/updateUserSettings",
          "parameterOrder": []
        },
        "getUserSettings": {
          "response": {
            "$ref": "Usersettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "description": "Gets the current settings for the user.",
          "flatPath": "books/v1/myconfig/getUserSettings",
          "id": "books.myconfig.getUserSettings",
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "books/v1/myconfig/getUserSettings",
          "parameters": {
            "country": {
              "type": "string",
              "location": "query",
              "description": "Unused. Added only to workaround TEX mandatory request template requirement"
            }
          }
        }
      }
    },
    "layers": {
      "methods": {
        "list": {
          "response": {
            "$ref": "Layersummaries"
          },
          "description": "List the layer summaries for a volume.",
          "flatPath": "books/v1/volumes/{volumeId}/layersummary",
          "parameters": {
            "volumeId": {
              "location": "path",
              "required": true,
              "description": "The volume to retrieve layers for.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "0",
              "maximum": "200",
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "type": "integer"
            },
            "source": {
              "location": "query",
              "type": "string",
              "description": "String to identify the originator of this request."
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous page.",
              "type": "string",
              "location": "query"
            },
            "contentVersion": {
              "description": "The content version for the requested volume.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameterOrder": [
            "volumeId"
          ],
          "httpMethod": "GET",
          "path": "books/v1/volumes/{volumeId}/layersummary",
          "id": "books.layers.list"
        },
        "get": {
          "id": "books.layers.get",
          "response": {
            "$ref": "Layersummary"
          },
          "httpMethod": "GET",
          "parameters": {
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            },
            "summaryId": {
              "description": "The ID for the layer to get the summary for.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "volumeId": {
              "location": "path",
              "description": "The volume to retrieve layers for.",
              "required": true,
              "type": "string"
            },
            "contentVersion": {
              "type": "string",
              "location": "query",
              "description": "The content version for the requested volume."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "description": "Gets the layer summary for a volume.",
          "flatPath": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
          "path": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
          "parameterOrder": [
            "volumeId",
            "summaryId"
          ]
        }
      },
      "resources": {
        "annotationData": {
          "methods": {
            "list": {
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "description": "Gets the annotation data for a volume and layer.",
              "id": "books.layers.annotationData.list",
              "response": {
                "$ref": "Annotationsdata"
              },
              "parameters": {
                "volumeId": {
                  "description": "The volume to retrieve annotation data for.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "w": {
                  "location": "query",
                  "type": "integer",
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "format": "int32"
                },
                "contentVersion": {
                  "type": "string",
                  "location": "query",
                  "required": true,
                  "description": "The content version for the requested volume."
                },
                "scale": {
                  "format": "int32",
                  "minimum": "0",
                  "type": "integer",
                  "description": "The requested scale for the image.",
                  "location": "query"
                },
                "updatedMax": {
                  "type": "string",
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive)."
                },
                "updatedMin": {
                  "type": "string",
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "location": "query"
                },
                "locale": {
                  "type": "string",
                  "location": "query",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'."
                },
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous page.",
                  "type": "string",
                  "location": "query"
                },
                "annotationDataId": {
                  "description": "The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "maxResults": {
                  "location": "query",
                  "description": "Maximum number of results to return",
                  "maximum": "200",
                  "format": "uint32",
                  "type": "integer",
                  "minimum": "0"
                },
                "layerId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID for the layer to get the annotation data.",
                  "location": "path"
                },
                "h": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationDataId",
                "contentVersion"
              ],
              "id": "books.layers.annotationData.get",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "DictionaryAnnotationdata"
              },
              "description": "Gets the annotation data.",
              "parameters": {
                "annotationDataId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the annotation data to retrieve."
                },
                "scale": {
                  "description": "The requested scale for the image.",
                  "type": "integer",
                  "minimum": "0",
                  "format": "int32",
                  "location": "query"
                },
                "allowWebDefinitions": {
                  "description": "For the dictionary layer. Whether or not to allow web definitions.",
                  "location": "query",
                  "type": "boolean"
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "type": "string",
                  "location": "query"
                },
                "volumeId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The volume to retrieve annotations for."
                },
                "contentVersion": {
                  "type": "string",
                  "location": "query",
                  "required": true,
                  "description": "The content version for the volume you are trying to retrieve."
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "w": {
                  "type": "integer",
                  "location": "query",
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "format": "int32"
                },
                "layerId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID for the layer to get the annotations."
                },
                "h": {
                  "format": "int32",
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "location": "query",
                  "type": "integer"
                }
              }
            }
          }
        },
        "volumeAnnotations": {
          "methods": {
            "get": {
              "description": "Gets the volume annotation.",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationId"
              ],
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
              "id": "books.layers.volumeAnnotations.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Volumeannotation"
              },
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "annotationId": {
                  "location": "path",
                  "description": "The ID of the volume annotation to retrieve.",
                  "required": true,
                  "type": "string"
                },
                "volumeId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The volume to retrieve annotations for."
                },
                "locale": {
                  "type": "string",
                  "location": "query",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'."
                },
                "layerId": {
                  "location": "path",
                  "type": "string",
[...]
