{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/books": {
          "description": "Manage your books"
        }
      }
    }
  },
  "rootUrl": "https://books.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
  "basePath": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://books.mtls.googleapis.com/",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "id": "books:v1",
  "baseUrl": "https://books.googleapis.com/",
  "ownerName": "Google",
  "resources": {
    "volumes": {
      "resources": {
        "useruploaded": {
          "methods": {
            "list": {
              "id": "books.volumes.useruploaded.list",
              "httpMethod": "GET",
              "description": "Return a list of books uploaded by the current user.",
              "flatPath": "books/v1/volumes/useruploaded",
              "parameters": {
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "processingState": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "PROCESSING_STATE_UNDEFINED",
                    "COMPLETED_FAILED",
                    "COMPLETED_SUCCESS",
                    "RUNNING"
                  ],
                  "enumDescriptions": [
                    "",
                    "The volume processing hase failed.",
                    "The volume processing was completed.",
                    "The volume processing is not completed."
                  ],
                  "description": "The processing state of the user uploaded volumes to be returned.",
                  "repeated": true
                },
                "volumeId": {
                  "description": "The ids of the volumes to be returned. If not specified all that match the processingState are returned.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                },
                "locale": {
                  "location": "query",
                  "type": "string",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations."
                },
                "startIndex": {
                  "description": "Index of the first result to return (starts at 0)",
                  "type": "integer",
                  "minimum": "0",
                  "format": "uint32",
                  "location": "query"
                },
                "maxResults": {
                  "description": "Maximum number of results to return.",
                  "minimum": "0",
                  "type": "integer",
                  "maximum": "40",
                  "location": "query",
                  "format": "uint32"
                }
              },
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Volumes"
              },
              "path": "books/v1/volumes/useruploaded"
            }
          }
        },
        "associated": {
          "methods": {
            "list": {
              "flatPath": "books/v1/volumes/{volumeId}/associated",
              "parameters": {
                "locale": {
                  "type": "string",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "location": "query"
                },
                "volumeId": {
                  "type": "string",
                  "required": true,
                  "description": "ID of the source volume.",
                  "location": "path"
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "maxAllowedMaturityRating": {
                  "location": "query",
                  "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                  "type": "string",
                  "enum": [
                    "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                    "MATURE",
                    "not-mature"
                  ],
                  "enumDescriptions": [
                    "",
                    "Show books which are rated mature or lower.",
                    "Show books which are rated not mature."
                  ]
                },
                "association": {
                  "enumDescriptions": [
                    "",
                    "Recommendations for display end-of-sample.",
                    "Recommendations for display end-of-volume.",
                    "Related volumes for Play Store."
                  ],
                  "type": "string",
                  "enum": [
                    "ASSOCIATION_UNDEFINED",
                    "end-of-sample",
                    "end-of-volume",
                    "related-for-play"
                  ],
                  "description": "Association type.",
                  "location": "query"
                }
              },
              "description": "Return a list of associated books.",
              "parameterOrder": [
                "volumeId"
              ],
              "id": "books.volumes.associated.list",
              "response": {
                "$ref": "Volumes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/volumes/{volumeId}/associated",
              "httpMethod": "GET"
            }
          }
        },
        "mybooks": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "description": "Return a list of books in My Library.",
              "httpMethod": "GET",
              "id": "books.volumes.mybooks.list",
              "parameterOrder": [],
              "flatPath": "books/v1/volumes/mybooks",
              "parameters": {
                "processingState": {
                  "repeated": true,
                  "type": "string",
                  "enum": [
                    "PROCESSING_STATE_UNDEFINED",
                    "COMPLETED_FAILED",
                    "COMPLETED_SUCCESS",
                    "RUNNING"
                  ],
                  "description": "The processing state of the user uploaded volumes to be returned. Applicable only if the UPLOADED is specified in the acquireMethod.",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "The volume processing hase failed.",
                    "The volume processing was completed.",
                    "The volume processing is not completed."
                  ]
                },
                "maxResults": {
                  "maximum": "100",
                  "location": "query",
                  "format": "uint32",
                  "minimum": "0",
                  "description": "Maximum number of results to return.",
                  "type": "integer"
                },
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                },
                "country": {
                  "location": "query",
                  "type": "string",
                  "description": "ISO-3166-1 code to override the IP-based location."
                },
                "startIndex": {
                  "description": "Index of the first result to return (starts at 0)",
                  "type": "integer",
                  "minimum": "0",
                  "location": "query",
                  "format": "uint32"
                },
                "locale": {
                  "type": "string",
                  "location": "query",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex:'en_US'. Used for generating recommendations."
                },
                "acquireMethod": {
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "Books acquired via Family Sharing",
                    "Preordered books (not yet available)",
                    "User-rented books past their expiration time",
                    "Public domain books",
                    "Purchased books",
                    "User-rented books",
                    "Sample books",
                    "User uploaded books"
                  ],
                  "description": "How the book was acquired",
                  "type": "string",
                  "enum": [
                    "ACQUIRE_METHOD_UNDEFINED",
                    "FAMILY_SHARED",
                    "PREORDERED",
                    "PREVIOUSLY_RENTED",
                    "PUBLIC_DOMAIN",
                    "PURCHASED",
                    "RENTED",
                    "SAMPLE",
                    "UPLOADED"
                  ],
                  "repeated": true
                }
              },
              "response": {
                "$ref": "Volumes"
              },
              "path": "books/v1/volumes/mybooks"
            }
          }
        },
        "recommended": {
          "methods": {
            "list": {
              "path": "books/v1/volumes/recommended",
              "id": "books.volumes.recommended.list",
              "description": "Return a list of recommended books for the current user.",
              "parameters": {
                "locale": {
                  "location": "query",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "type": "string"
                },
                "maxAllowedMaturityRating": {
                  "enumDescriptions": [
                    "",
                    "Show books which are rated mature or lower.",
                    "Show books which are rated not mature."
                  ],
                  "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                  "type": "string",
                  "enum": [
                    "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                    "MATURE",
                    "not-mature"
                  ],
                  "location": "query"
                },
                "source": {
                  "location": "query",
                  "type": "string",
                  "description": "String to identify the originator of this request."
                }
              },
              "flatPath": "books/v1/volumes/recommended",
              "parameterOrder": [],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Volumes"
              }
            },
            "rate": {
              "id": "books.volumes.recommended.rate",
              "parameterOrder": [
                "rating",
                "volumeId"
              ],
              "response": {
                "$ref": "BooksVolumesRecommendedRateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "POST",
              "flatPath": "books/v1/volumes/recommended/rate",
              "path": "books/v1/volumes/recommended/rate",
              "parameters": {
                "rating": {
                  "enumDescriptions": [
                    "",
                    "Rating indicating a dismissal due to ownership.",
                    "Rating indicating a negative dismissal of a volume."
                  ],
                  "type": "string",
                  "enum": [
                    "RATING_UNDEFINED",
                    "HAVE_IT",
                    "NOT_INTERESTED"
                  ],
                  "required": true,
                  "description": "Rating to be given to the volume.",
                  "location": "query"
                },
                "locale": {
                  "location": "query",
                  "type": "string",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations."
                },
                "source": {
                  "location": "query",
                  "type": "string",
                  "description": "String to identify the originator of this request."
                },
                "volumeId": {
                  "location": "query",
                  "required": true,
                  "type": "string",
                  "description": "ID of the source volume."
                }
              },
              "description": "Rate a recommended book for the current user."
            }
          }
        }
      },
      "methods": {
        "list": {
          "response": {
            "$ref": "Volumes"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameterOrder": [
            "q"
          ],
          "httpMethod": "GET",
          "flatPath": "books/v1/volumes",
          "description": "Performs a book search.",
          "path": "books/v1/volumes",
          "parameters": {
            "printType": {
              "type": "string",
              "enum": [
                "PRINT_TYPE_UNDEFINED",
                "ALL",
                "BOOKS",
                "MAGAZINES"
              ],
              "description": "Restrict to books or magazines.",
              "enumDescriptions": [
                "",
                "All volume content types.",
                "Just books.",
                "Just magazines."
              ],
              "location": "query"
            },
            "libraryRestrict": {
              "description": "Restrict search to this user's library.",
              "location": "query",
              "type": "string",
              "enum": [
                "LIBRARY_RESTRICT_UNDEFINED",
                "my-library",
                "no-restrict"
              ],
              "enumDescriptions": [
                "",
                "Restrict to the user's library, any shelf.",
                "Do not restrict based on user's library."
              ]
            },
            "filter": {
              "location": "query",
              "type": "string",
              "enum": [
                "FILTER_UNDEFINED",
                "ebooks",
                "free-ebooks",
                "full",
                "paid-ebooks",
                "partial"
              ],
              "description": "Filter search results.",
              "enumDescriptions": [
                "",
                "All Google eBooks.",
                "Google eBook with full volume text viewability.",
                "Public can view entire volume text.",
                "Google eBook with a price.",
                "Public able to see parts of text."
              ]
            },
            "download": {
              "type": "string",
              "enum": [
                "DOWNLOAD_UNDEFINED",
                "EPUB"
              ],
              "description": "Restrict to volumes by download availability.",
              "location": "query",
              "enumDescriptions": [
                "",
                "All volumes with epub."
              ]
            },
            "maxAllowedMaturityRating": {
              "type": "string",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out."
            },
            "q": {
              "description": "Full-text search query string.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "startIndex": {
              "type": "integer",
              "minimum": "0",
              "location": "query",
              "format": "uint32",
              "description": "Index of the first result to return (starts at 0)"
            },
            "showPreorders": {
              "type": "boolean",
              "location": "query",
              "description": "Set to true to show books available for preorder. Defaults to false."
            },
            "projection": {
              "type": "string",
              "enum": [
                "PROJECTION_UNDEFINED",
                "FULL",
                "LITE"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Includes all volume data.",
                "Includes a subset of fields in volumeInfo and accessInfo."
              ],
              "description": "Restrict information returned to a set of selected fields."
            },
            "partner": {
              "description": "Restrict and brand results for partner ID.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "enumDescriptions": [
                "",
                "Most recently published.",
                "Relevance to search terms."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "ORDER_BY_UNDEFINED",
                "newest",
                "relevance"
              ],
              "description": "Sort search results."
            },
            "langRestrict": {
              "type": "string",
              "location": "query",
              "description": "Restrict results to books with this language code."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "maximum": "40",
              "type": "integer",
              "minimum": "0",
              "location": "query",
              "format": "uint32"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "books.volumes.list"
        },
        "get": {
          "description": "Gets volume information for a single volume.",
          "path": "books/v1/volumes/{volumeId}",
          "parameters": {
            "user_library_consistent_read": {
              "type": "boolean",
              "location": "query"
            },
            "partner": {
              "type": "string",
              "location": "query",
              "description": "Brand results for partner ID."
            },
            "volumeId": {
              "required": true,
              "description": "ID of volume to retrieve.",
              "type": "string",
              "location": "path"
            },
            "projection": {
              "enumDescriptions": [
                "",
                "Includes all volume data.",
                "Includes a subset of fields in volumeInfo and accessInfo."
              ],
              "location": "query",
              "description": "Restrict information returned to a set of selected fields.",
              "type": "string",
              "enum": [
                "PROJECTION_UNDEFINED",
                "FULL",
                "LITE"
              ]
            },
            "country": {
              "description": "ISO-3166-1 code to override the IP-based location.",
              "type": "string",
              "location": "query"
            },
            "source": {
              "type": "string",
              "description": "string to identify the originator of this request.",
              "location": "query"
            },
            "includeNonComicsSeries": {
              "location": "query",
              "type": "boolean",
              "description": "Set to true to include non-comics series. Defaults to false."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "flatPath": "books/v1/volumes/{volumeId}",
          "id": "books.volumes.get",
          "response": {
            "$ref": "Volume"
          },
          "parameterOrder": [
            "volumeId"
          ]
        }
      }
    },
    "mylibrary": {
      "resources": {
        "annotations": {
          "methods": {
            "update": {
              "request": {
                "$ref": "Annotation"
              },
              "parameters": {
                "annotationId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID for the annotation to update.",
                  "required": true
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                }
              },
              "id": "books.mylibrary.annotations.update",
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "parameterOrder": [
                "annotationId"
              ],
              "description": "Updates an existing annotation.",
              "response": {
                "$ref": "Annotation"
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [],
              "flatPath": "books/v1/mylibrary/annotations",
              "parameters": {
                "updatedMax": {
                  "type": "string",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value of the nextToken from the previous page."
                },
                "showDeleted": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false."
                },
                "maxResults": {
                  "maximum": "40",
                  "description": "Maximum number of results to return",
                  "type": "integer",
                  "location": "query",
                  "format": "uint32",
                  "minimum": "0"
                },
                "updatedMin": {
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "type": "string",
                  "location": "query"
                },
                "layerId": {
                  "description": "The layer ID to limit annotation by.",
                  "type": "string",
                  "location": "query"
                },
                "source": {
                  "location": "query",
                  "type": "string",
                  "description": "String to identify the originator of this request."
                },
                "layerIds": {
                  "location": "query",
                  "description": "The layer ID(s) to limit annotation by.",
                  "type": "string",
                  "repeated": true
                },
                "volumeId": {
                  "location": "query",
                  "type": "string",
                  "description": "The volume to restrict annotations to."
                },
                "contentVersion": {
                  "type": "string",
                  "description": "The content version for the requested volume.",
                  "location": "query"
                }
              },
              "description": "Retrieves a list of annotations, possibly filtered.",
              "path": "books/v1/mylibrary/annotations",
              "id": "books.mylibrary.annotations.list",
              "response": {
                "$ref": "Annotations"
              }
            },
            "delete": {
              "description": "Deletes an annotation.",
              "parameters": {
                "annotationId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID for the annotation to delete.",
                  "required": true
                },
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                }
              },
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "id": "books.mylibrary.annotations.delete",
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [
                "annotationId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE"
            },
            "insert": {
              "response": {
                "$ref": "Annotation"
              },
              "flatPath": "books/v1/mylibrary/annotations",
              "httpMethod": "POST",
              "request": {
                "$ref": "Annotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [],
              "id": "books.mylibrary.annotations.insert",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "country": {
                  "location": "query",
                  "description": "ISO-3166-1 code to override the IP-based location.",
                  "type": "string"
                },
                "showOnlySummaryInResponse": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Requests that only the summary of the specified layer be provided in the response."
                },
                "annotationId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID for the annotation to insert."
                }
              },
              "description": "Inserts a new annotation.",
              "path": "books/v1/mylibrary/annotations"
            },
            "summary": {
              "response": {
                "$ref": "AnnotationsSummary"
              },
              "path": "books/v1/mylibrary/annotations/summary",
              "flatPath": "books/v1/mylibrary/annotations/summary",
              "httpMethod": "POST",
              "id": "books.mylibrary.annotations.summary",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameters": {
                "layerIds": {
                  "required": true,
                  "description": "Array of layer IDs to get the summary for.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "volumeId": {
                  "location": "query",
                  "description": "Volume id to get the summary for.",
                  "required": true,
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "description": "Optional. String to identify the originator of this request.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "layerIds",
                "volumeId"
              ],
              "description": "Gets the summary of specified layers."
            }
          }
        },
        "readingpositions": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "id": "books.mylibrary.readingpositions.get",
              "parameters": {
                "volumeId": {
                  "description": "ID of volume for which to retrieve a reading position.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "contentVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Volume content version for which this reading position is requested."
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ReadingPosition"
              },
              "httpMethod": "GET",
              "description": "Retrieves my reading position information for a volume.",
              "parameterOrder": [
                "volumeId"
              ],
              "path": "books/v1/mylibrary/readingpositions/{volumeId}",
              "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}"
            },
            "setPosition": {
              "parameters": {
                "deviceCookie": {
                  "description": "Random persistent device cookie optional on set position.",
                  "location": "query",
                  "type": "string"
                },
                "action": {
                  "description": "Action that caused this reading position to be set.",
                  "type": "string",
                  "enum": [
                    "ACTION_UNDEFINED",
                    "bookmark",
                    "chapter",
                    "next-page",
                    "prev-page",
                    "scroll",
                    "search"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "User chose bookmark within volume.",
                    "User selected chapter from list.",
                    "Next page event.",
                    "Previous page event.",
                    "User navigated to page.",
                    "User chose search results within volume."
                  ]
                },
                "position": {
                  "location": "query",
                  "type": "string",
                  "description": "Position string for the new volume reading position.",
                  "required": true
                },
                "volumeId": {
                  "location": "path",
                  "description": "ID of volume for which to update the reading position.",
                  "type": "string",
                  "required": true
                },
                "contentVersion": {
                  "description": "Volume content version for which this reading position applies.",
                  "type": "string",
                  "location": "query"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "timestamp": {
                  "description": "RFC 3339 UTC format timestamp associated with this reading position.",
                  "location": "query",
                  "type": "string",
                  "required": true
                }
              },
              "path": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
              "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
              "id": "books.mylibrary.readingpositions.setPosition",
              "parameterOrder": [
                "volumeId",
                "position",
                "timestamp"
              ],
              "description": "Sets my reading position information for a volume.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        },
        "bookshelves": {
          "resources": {
            "volumes": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "shelf"
                  ],
                  "path": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                  "description": "Gets volume information for volumes on a bookshelf.",
                  "response": {
                    "$ref": "Volumes"
                  },
                  "id": "books.mylibrary.bookshelves.volumes.list",
                  "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                  "scopes": [
                    "https://www.googleapis.com/auth/books"
                  ],
                  "parameters": {
                    "country": {
                      "description": "ISO-3166-1 code to override the IP-based location.",
                      "location": "query",
                      "type": "string"
                    },
                    "showPreorders": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Set to true to show pre-ordered books. Defaults to false."
                    },
                    "projection": {
                      "enumDescriptions": [
                        "",
                        "Includes all volume data.",
                        "Includes a subset of fields in volumeInfo and accessInfo."
                      ],
                      "type": "string",
                      "enum": [
                        "PROJECTION_UNDEFINED",
                        "FULL",
                        "LITE"
                      ],
                      "location": "query",
                      "description": "Restrict information returned to a set of selected fields."
                    },
                    "startIndex": {
                      "minimum": "0",
                      "description": "Index of the first element to return (starts at 0)",
                      "type": "integer",
                      "format": "uint32",
                      "location": "query"
                    },
                    "maxResults": {
                      "type": "integer",
                      "description": "Maximum number of results to return",
                      "minimum": "0",
                      "format": "uint32",
                      "location": "query"
                    },
                    "q": {
                      "type": "string",
                      "description": "Full-text search query string in this bookshelf.",
                      "location": "query"
                    },
                    "shelf": {
                      "type": "string",
                      "location": "path",
                      "description": "The bookshelf ID or name retrieve volumes for.",
                      "required": true
                    },
                    "source": {
                      "location": "query",
                      "type": "string",
                      "description": "String to identify the originator of this request."
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "addVolume": {
              "parameters": {
                "volumeId": {
                  "location": "query",
                  "description": "ID of volume to add.",
                  "required": true,
                  "type": "string"
                },
                "shelf": {
                  "location": "path",
                  "type": "string",
                  "description": "ID of bookshelf to which to add a volume.",
                  "required": true
                },
                "reason": {
                  "type": "string",
                  "enum": [
                    "REASON_UNDEFINED",
                    "IOS_PREX",
                    "IOS_SEARCH",
                    "ONBOARDING"
                  ],
                  "enumDescriptions": [
                    "",
                    "Volumes added from the PREX flow on iOS.",
                    "Volumes added from the Search flow on iOS.",
                    "Volumes added from the Onboarding flow."
                  ],
                  "location": "query",
                  "description": "The reason for which the book is added to the library."
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Adds a volume to a bookshelf.",
              "path": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
              "id": "books.mylibrary.bookshelves.addVolume",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
              "parameterOrder": [
                "shelf",
                "volumeId"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "get": {
              "id": "books.mylibrary.bookshelves.get",
              "description": "Retrieves metadata for a specific bookshelf belonging to the authenticated user.",
              "parameterOrder": [
                "shelf"
              ],
              "parameters": {
                "shelf": {
                  "type": "string",
                  "description": "ID of bookshelf to retrieve.",
                  "required": true,
                  "location": "path"
                },
                "source": {
                  "location": "query",
                  "type": "string",
                  "description": "String to identify the originator of this request."
                }
              },
              "httpMethod": "GET",
              "path": "books/v1/mylibrary/bookshelves/{shelf}",
              "response": {
                "$ref": "Bookshelf"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}"
            },
            "list": {
              "id": "books.mylibrary.bookshelves.list",
              "parameters": {
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Bookshelves"
              },
              "description": "Retrieves a list of bookshelves belonging to the authenticated user.",
              "path": "books/v1/mylibrary/bookshelves",
              "parameterOrder": [],
              "httpMethod": "GET",
              "flatPath": "books/v1/mylibrary/bookshelves"
            },
            "removeVolume": {
              "description": "Removes a volume from a bookshelf.",
              "id": "books.mylibrary.bookshelves.removeVolume",
              "path": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "shelf",
                "volumeId"
              ],
              "parameters": {
                "volumeId": {
                  "description": "ID of volume to remove.",
                  "location": "query",
                  "type": "string",
                  "required": true
                },
                "shelf": {
                  "description": "ID of bookshelf from which to remove a volume.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "reason": {
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "Samples removed from the Onboarding flow."
                  ],
                  "description": "The reason for which the book is removed from the library.",
                  "type": "string",
                  "enum": [
                    "REASON_UNDEFINED",
                    "ONBOARDING"
                  ]
                },
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                }
              },
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "moveVolume": {
              "parameters": {
                "shelf": {
                  "description": "ID of bookshelf with the volume.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "source": {
                  "location": "query",
                  "type": "string",
                  "description": "String to identify the originator of this request."
                },
                "volumePosition": {
                  "description": "Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)",
                  "type": "integer",
                  "format": "int32",
                  "required": true,
                  "location": "query"
                },
                "volumeId": {
                  "description": "ID of volume to move.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume",
              "parameterOrder": [
                "shelf",
                "volumeId",
                "volumePosition"
              ],
              "httpMethod": "POST",
              "description": "Moves a volume within a bookshelf.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "id": "books.mylibrary.bookshelves.moveVolume",
              "response": {
                "$ref": "Empty"
              }
            },
            "clearVolumes": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "id": "books.mylibrary.bookshelves.clearVolumes",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes",
              "parameters": {
                "shelf": {
                  "description": "ID of bookshelf from which to remove a volume.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Clears all volumes from a bookshelf.",
              "parameterOrder": [
                "shelf"
              ],
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes"
            }
          }
        }
      }
    },
    "familysharing": {
      "methods": {
        "share": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "books/v1/familysharing/share",
          "description": "Initiates sharing of the content with the user's family. Empty response indicates success.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/familysharing/share",
          "id": "books.familysharing.share",
          "parameters": {
            "volumeId": {
              "location": "query",
              "type": "string",
              "description": "The volume to share."
            },
            "docId": {
              "description": "The docid to share.",
              "type": "string",
              "location": "query"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "unshare": {
          "parameters": {
            "docId": {
              "type": "string",
              "location": "query",
              "description": "The docid to unshare."
            },
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            },
            "volumeId": {
              "type": "string",
              "description": "The volume to unshare.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "books/v1/familysharing/unshare",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "description": "Initiates revoking content that has already been shared with the user's family. Empty response indicates success.",
          "parameterOrder": [],
          "id": "books.familysharing.unshare",
          "path": "books/v1/familysharing/unshare",
          "httpMethod": "POST"
        },
        "getFamilyInfo": {
          "path": "books/v1/familysharing/getFamilyInfo",
          "parameterOrder": [],
          "description": "Gets information regarding the family that the user is part of.",
          "parameters": {
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/familysharing/getFamilyInfo",
          "httpMethod": "GET",
          "response": {
            "$ref": "FamilyInfo"
          },
          "id": "books.familysharing.getFamilyInfo"
        }
      }
    },
    "onboarding": {
      "methods": {
        "listCategories": {
          "flatPath": "books/v1/onboarding/listCategories",
          "id": "books.onboarding.listCategories",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Category"
          },
          "description": "List categories for onboarding experience.",
          "path": "books/v1/onboarding/listCategories",
          "parameters": {
            "locale": {
              "location": "query",
              "type": "string",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset."
            }
          },
          "parameterOrder": []
        },
        "listCategoryVolumes": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "maxAllowedMaturityRating": {
              "type": "string",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "description": "The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out."
            },
            "locale": {
              "type": "string",
              "location": "query",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Number of maximum results per page to be included in the response.",
              "format": "uint32"
            },
            "categoryId": {
              "type": "string",
              "description": "List of category ids requested.",
              "location": "query",
              "repeated": true
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous page.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "List available volumes under categories for onboarding experience.",
          "response": {
            "$ref": "Volume2"
          },
          "httpMethod": "GET",
          "path": "books/v1/onboarding/listCategoryVolumes",
          "flatPath": "books/v1/onboarding/listCategoryVolumes",
          "id": "books.onboarding.listCategoryVolumes"
        }
      }
    },
    "myconfig": {
      "methods": {
        "requestAccess": {
          "flatPath": "books/v1/myconfig/requestAccess",
          "httpMethod": "POST",
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source",
            "volumeId"
          ],
          "response": {
            "$ref": "RequestAccessData"
          },
          "description": "Request concurrent and download access restrictions.",
          "parameters": {
            "cpksver": {
              "description": "The device/version ID from which to request the restrictions.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "volumeId": {
              "location": "query",
              "description": "The volume to request concurrent/download restrictions for.",
              "type": "string",
              "required": true
            },
            "nonce": {
              "description": "The client nonce value.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string",
              "required": true
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "location": "query",
              "type": "string"
            },
            "licenseTypes": {
              "enumDescriptions": [
                "",
                "Both concurrent and download licenses.",
                "Concurrent access license.",
                "Offline download access license."
              ],
              "type": "string",
              "enum": [
                "LICENSE_TYPES_UNDEFINED",
                "BOTH",
                "CONCURRENT",
                "DOWNLOAD"
              ],
              "description": "The type of access license to request. If not specified, the default is BOTH.",
              "location": "query"
            }
          },
          "path": "books/v1/myconfig/requestAccess",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "id": "books.myconfig.requestAccess"
        },
        "syncVolumeLicenses": {
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source"
          ],
          "parameters": {
            "features": {
              "enumDescriptions": [
                "",
                "Client supports rentals."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "FEATURES_UNDEFINED",
                "RENTALS"
              ],
              "repeated": true,
              "description": "List of features supported by the client, i.e., 'RENTALS'"
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "type": "string",
              "location": "query"
            },
            "showPreorders": {
              "description": "Set to true to show pre-ordered books. Defaults to false.",
              "type": "boolean",
              "location": "query"
            },
            "includeNonComicsSeries": {
              "location": "query",
              "description": "Set to true to include non-comics series. Defaults to false.",
              "type": "boolean"
            },
            "volumeIds": {
              "description": "The volume(s) to request download restrictions for.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "nonce": {
              "location": "query",
              "type": "string",
              "description": "The client nonce value.",
              "required": true
            },
            "source": {
              "required": true,
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            },
            "cpksver": {
              "type": "string",
              "location": "query",
              "description": "The device/version ID from which to release the restriction.",
              "required": true
            }
          },
          "description": "Request downloaded content access for specified volumes on the My eBooks shelf.",
          "flatPath": "books/v1/myconfig/syncVolumeLicenses",
          "path": "books/v1/myconfig/syncVolumeLicenses",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "id": "books.myconfig.syncVolumeLicenses",
          "response": {
            "$ref": "Volumes"
          }
        },
        "updateUserSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/myconfig/updateUserSettings",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "Usersettings"
          },
          "id": "books.myconfig.updateUserSettings",
          "flatPath": "books/v1/myconfig/updateUserSettings",
          "description": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.",
          "parameterOrder": [],
          "response": {
            "$ref": "Usersettings"
          }
        },
        "getUserSettings": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Usersettings"
          },
          "path": "books/v1/myconfig/getUserSettings",
          "flatPath": "books/v1/myconfig/getUserSettings",
          "description": "Gets the current settings for the user.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "id": "books.myconfig.getUserSettings",
          "parameters": {
            "country": {
              "type": "string",
              "location": "query",
              "description": "Unused. Added only to workaround TEX mandatory request template requirement"
            }
          },
          "parameterOrder": []
        },
        "releaseDownloadAccess": {
          "flatPath": "books/v1/myconfig/releaseDownloadAccess",
          "response": {
            "$ref": "DownloadAccesses"
          },
          "httpMethod": "POST",
          "parameters": {
            "volumeIds": {
              "description": "The volume(s) to release restrictions for.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            },
            "locale": {
              "type": "string",
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "location": "query"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            },
            "cpksver": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The device/version ID from which to release the restriction."
            }
          },
          "path": "books/v1/myconfig/releaseDownloadAccess",
          "description": "Release downloaded content access restriction.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameterOrder": [
            "cpksver",
            "volumeIds"
          ],
          "id": "books.myconfig.releaseDownloadAccess"
        }
      }
    },
    "personalizedstream": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Discoveryclusters"
          },
          "httpMethod": "GET",
          "flatPath": "books/v1/personalizedstream/get",
          "id": "books.personalizedstream.get",
          "description": "Returns a stream of personalized book clusters",
          "path": "books/v1/personalizedstream/get",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameterOrder": [],
          "parameters": {
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            },
            "maxAllowedMaturityRating": {
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ]
            },
            "locale": {
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "dictionary": {
      "methods": {
        "listOfflineMetadata": {
          "path": "books/v1/dictionary/listOfflineMetadata",
          "parameters": {
            "cpksver": {
              "required": true,
              "location": "query",
              "description": "The device/version ID from which to request the data.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "cpksver"
          ],
          "description": "Returns a list of offline dictionary metadata available",
          "response": {
            "$ref": "Metadata"
          },
          "httpMethod": "GET",
          "id": "books.dictionary.listOfflineMetadata",
          "flatPath": "books/v1/dictionary/listOfflineMetadata",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "cloudloading": {
      "methods": {
        "addBook": {
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "parameters": {
            "upload_client_token": {
              "type": "string",
              "description": "Scotty upload token.",
              "location": "query"
            },
            "drive_document_id": {
              "location": "query",
              "type": "string",
              "description": "A drive document id. The upload_client_token must not be set."
            },
            "mime_type": {
              "location": "query",
              "type": "string",
              "description": "The document MIME type. It can be set only if the drive_document_id is set."
            },
            "name": {
              "location": "query",
              "description": "The document name. It can be set only if the drive_document_id is set.",
              "type": "string"
            }
          },
          "flatPath": "books/v1/cloudloading/addBook",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "books/v1/cloudloading/addBook",
          "description": "Add a user-upload volume and triggers processing.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "id": "books.cloudloading.addBook"
        },
        "updateBook": {
          "description": "Updates a user-upload volume.",
          "httpMethod": "POST",
          "path": "books/v1/cloudloading/updateBook",
          "flatPath": "books/v1/cloudloading/updateBook",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameterOrder": [],
          "id": "books.cloudloading.updateBook",
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "request": {
            "$ref": "BooksCloudloadingResource"
          },
          "parameters": {}
        },
        "deleteBook": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "volumeId": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The id of the book to be removed."
            }
          },
          "flatPath": "books/v1/cloudloading/deleteBook",
          "httpMethod": "POST",
          "description": "Remove the book and its contents",
          "path": "books/v1/cloudloading/deleteBook",
          "id": "books.cloudloading.deleteBook",
          "parameterOrder": [
            "volumeId"
          ]
        }
      }
    },
    "notification": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/notification/get",
          "path": "books/v1/notification/get",
          "parameters": {
            "notification_id": {
              "required": true,
              "description": "String to identify the notification.",
              "type": "string",
              "location": "query"
            },
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            },
            "locale": {
              "location": "query",
              "type": "string",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating notification title and body."
            }
          },
          "response": {
            "$ref": "Notification"
          },
          "httpMethod": "GET",
          "description": "Returns notification details for a given notification id.",
          "parameterOrder": [
            "notification_id"
          ],
          "id": "books.notification.get"
        }
      }
    },
    "bookshelves": {
      "resources": {
        "volumes": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameters": {
                "maxResults": {
                  "location": "query",
                  "format": "uint32",
                  "type": "integer",
                  "minimum": "0",
                  "description": "Maximum number of results to return"
                },
                "showPreorders": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to true to show pre-ordered books. Defaults to false."
                },
                "userId": {
                  "description": "ID of user for whom to retrieve bookshelf volumes.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "startIndex": {
                  "format": "uint32",
                  "minimum": "0",
                  "description": "Index of the first element to return (starts at 0)",
                  "location": "query",
                  "type": "integer"
                },
                "shelf": {
                  "required": true,
                  "description": "ID of bookshelf to retrieve volumes.",
                  "location": "path",
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                }
              },
              "response": {
                "$ref": "Volumes"
              },
              "parameterOrder": [
                "userId",
                "shelf"
              ],
              "path": "books/v1/users/{userId}/bookshelves/{shelf}/volumes",
              "description": "Retrieves volumes in a specific bookshelf for the specified user.",
              "flatPath": "books/v1/users/{userId}/bookshelves/{shelf}/volumes",
              "id": "books.bookshelves.volumes.list"
            }
          }
        }
      },
      "methods": {
        "list": {
          "response": {
            "$ref": "Bookshelves"
          },
          "description": "Retrieves a list of public bookshelves for the specified user.",
          "flatPath": "books/v1/users/{userId}/bookshelves",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "path": "books/v1/users/{userId}/bookshelves",
          "id": "books.bookshelves.list",
          "parameters": {
            "userId": {
              "location": "path",
              "type": "string",
              "description": "ID of user for whom to retrieve bookshelves.",
              "required": true
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "userId"
          ]
        },
        "get": {
          "id": "books.bookshelves.get",
          "flatPath": "books/v1/users/{userId}/bookshelves/{shelf}",
          "response": {
            "$ref": "Bookshelf"
          },
          "httpMethod": "GET",
          "parameters": {
            "shelf": {
              "required": true,
              "type": "string",
              "description": "ID of bookshelf to retrieve.",
              "location": "path"
            },
            "userId": {
              "type": "string",
              "required": true,
              "description": "ID of user for whom to retrieve bookshelves.",
              "location": "path"
            },
            "source": {
              "type": "string",
              "location": "query",
              "description": "String to identify the originator of this request."
            }
          },
          "description": "Retrieves metadata for a specific bookshelf for the specified user.",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameterOrder": [
            "userId",
            "shelf"
          ],
          "path": "books/v1/users/{userId}/bookshelves/{shelf}"
        }
      }
    },
    "series": {
      "methods": {
        "get": {
          "id": "books.series.get",
          "flatPath": "books/v1/series/get",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/series/get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Series"
          },
          "parameterOrder": [
            "series_id"
          ],
          "description": "Returns Series metadata for the given series ids.",
          "parameters": {
            "series_id": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "String that identifies the series"
            }
          }
        }
      },
      "resources": {
        "membership": {
          "methods": {
            "get": {
              "path": "books/v1/series/membership/get",
              "description": "Returns Series membership data given the series id.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Seriesmembership"
              },
              "parameterOrder": [
                "series_id"
              ],
              "flatPath": "books/v1/series/membership/get",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameters": {
                "page_token": {
                  "location": "query",
                  "description": "The value of the nextToken from the previous page.",
                  "type": "string"
                },
                "page_size": {
                  "location": "query",
                  "description": "Number of maximum results per page to be included in the response.",
                  "format": "uint32",
                  "type": "integer"
                },
                "series_id": {
                  "location": "query",
                  "type": "string",
                  "required": true,
                  "description": "String that identifies the series"
                }
              },
              "id": "books.series.membership.get"
            }
          }
        }
      }
    },
    "promooffer": {
      "methods": {
        "accept": {
          "description": "Accepts the promo offer.",
          "parameters": {
            "device": {
              "type": "string",
              "location": "query",
              "description": "device device"
            },
            "volumeId": {
              "type": "string",
              "location": "query",
              "description": "Volume id to exercise the offer"
            },
            "offerId": {
              "type": "string",
              "location": "query"
            },
            "serial": {
              "location": "query",
              "type": "string",
              "description": "device serial"
            },
            "model": {
              "location": "query",
              "type": "string",
              "description": "device model"
            },
            "androidId": {
              "type": "string",
              "location": "query",
              "description": "device android_id"
            },
            "manufacturer": {
              "type": "string",
              "description": "device manufacturer",
              "location": "query"
            },
            "product": {
              "description": "device product",
              "type": "string",
              "location": "query"
            }
          },
          "path": "books/v1/promooffer/accept",
          "flatPath": "books/v1/promooffer/accept",
          "httpMethod": "POST",
          "id": "books.promooffer.accept",
          "parameterOrder": [],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "dismiss": {
          "httpMethod": "POST",
          "flatPath": "books/v1/promooffer/dismiss",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "description": "Marks the promo offer as dismissed.",
          "path": "books/v1/promooffer/dismiss",
          "parameterOrder": [],
          "id": "books.promooffer.dismiss",
          "parameters": {
            "device": {
              "description": "device device",
              "type": "string",
              "location": "query"
            },
            "model": {
              "location": "query",
              "description": "device model",
              "type": "string"
            },
            "serial": {
              "description": "device serial",
              "type": "string",
              "location": "query"
            },
            "manufacturer": {
              "location": "query",
              "type": "string",
              "description": "device manufacturer"
            },
            "product": {
              "description": "device product",
              "location": "query",
              "type": "string"
            },
            "offerId": {
              "type": "string",
              "description": "Offer to dimiss",
              "location": "query"
            },
            "androidId": {
              "location": "query",
              "type": "string",
              "description": "device android_id"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "books.promooffer.get",
          "path": "books/v1/promooffer/get",
          "parameters": {
            "device": {
              "description": "device device",
              "type": "string",
              "location": "query"
            },
            "manufacturer": {
              "location": "query",
              "description": "device manufacturer",
              "type": "string"
            },
            "product": {
              "type": "string",
              "location": "query",
              "description": "device product"
            },
            "androidId": {
              "description": "device android_id",
              "location": "query",
              "type": "string"
            },
            "serial": {
              "type": "string",
              "location": "query",
              "description": "device serial"
            },
            "model": {
              "description": "device model",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "books/v1/promooffer/get",
          "description": "Returns a list of promo offers available to the user",
          "response": {
            "$ref": "Offers"
          }
        }
      }
    },
    "layers": {
      "resources": {
        "annotationData": {
          "methods": {
            "get": {
              "id": "books.layers.annotationData.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "DictionaryAnnotationdata"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationDataId",
                "contentVersion"
              ],
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "description": "Gets the annotation data.",
              "parameters": {
                "annotationDataId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the annotation data to retrieve."
                },
                "layerId": {
                  "description": "The ID for the layer to get the annotations.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "h": {
                  "location": "query",
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "type": "integer",
                  "format": "int32"
                },
                "volumeId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The volume to retrieve annotations for."
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "contentVersion": {
                  "description": "The content version for the volume you are trying to retrieve.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "allowWebDefinitions": {
                  "location": "query",
                  "description": "For the dictionary layer. Whether or not to allow web definitions.",
                  "type": "boolean"
                },
                "w": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The requested pixel width for any images. If width is provided height must also be provided."
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query",
                  "type": "string"
                },
                "scale": {
                  "format": "int32",
                  "description": "The requested scale for the image.",
                  "location": "query",
                  "type": "integer",
                  "minimum": "0"
                }
              }
            },
            "list": {
              "description": "Gets the annotation data for a volume and layer.",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
              "id": "books.layers.annotationData.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The value of the nextToken from the previous page.",
                  "type": "string"
                },
                "annotationDataId": {
                  "location": "query",
                  "type": "string",
                  "description": "The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.",
                  "repeated": true
                },
                "h": {
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotation data for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "maxResults": {
                  "type": "integer",
                  "maximum": "200",
                  "location": "query",
                  "minimum": "0",
                  "format": "uint32",
                  "description": "Maximum number of results to return"
                },
                "locale": {
                  "type": "string",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query"
                },
                "layerId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID for the layer to get the annotation data.",
                  "required": true
                },
                "scale": {
                  "description": "The requested scale for the image.",
                  "type": "integer",
                  "format": "int32",
                  "minimum": "0",
                  "location": "query"
                },
                "contentVersion": {
                  "required": true,
                  "location": "query",
                  "type": "string",
                  "description": "The content version for the requested volume."
                },
                "w": {
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "updatedMax": {
                  "type": "string",
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive)."
                },
                "updatedMin": {
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Annotationsdata"
              },
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data"
            }
          }
        },
        "volumeAnnotations": {
          "methods": {
            "get": {
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationId"
              ],
              "id": "books.layers.volumeAnnotations.get",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
              "response": {
                "$ref": "Volumeannotation"
              },
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "layerId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID for the layer to get the annotations.",
                  "required": true
                },
                "volumeId": {
                  "location": "path",
                  "description": "The volume to retrieve annotations for.",
                  "type": "string",
                  "required": true
                },
                "locale": {
                  "type": "string",
                  "location": "query",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'."
                },
                "annotationId": {
                  "description": "The ID of the volume annotation to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Gets the volume annotation.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "list": {
              "response": {
                "$ref": "Volumeannotations"
              },
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}",
              "parameters": {
                "volumeId": {
                  "description": "The volume to retrieve annotations for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "endPosition": {
                  "location": "query",
                  "description": "The end position to end retrieving data from.",
                  "type": "string"
                },
                "maxResults": {
                  "minimum": "0",
                  "format": "uint32",
                  "maximum": "200",
                  "description": "Maximum number of results to return",
                  "location": "query",
                  "type": "integer"
                },
                "endOffset": {
                  "description": "The end offset to end retrieving data from.",
                  "location": "query",
                  "type": "string"
                },
                "layerId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID for the layer to get the annotations."
                },
                "showDeleted": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false."
                },
                "startOffset": {
                  "location": "query",
                  "type": "string",
                  "description": "The start offset to start retrieving data from."
                },
                "locale": {
                  "type": "string",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query"
                },
                "startPosition": {
                  "description": "The start position to start retrieving data from.",
                  "location": "query",
                  "type": "string"
                },
                "updatedMin": {
                  "type": "string",
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "location": "query"
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query",
                  "type": "string"
                },
                "contentVersion": {
                  "location": "query",
                  "description": "The content version for the requested volume.",
                  "type": "string",
                  "required": true
                },
                "updatedMax": {
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "type": "string",
                  "location": "query"
                },
                "volumeAnnotationsVersion": {
                  "description": "The version of the volume annotations that you are requesting.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Gets the volume annotations for a volume and layer.",
              "httpMethod": "GET",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "id": "books.layers.volumeAnnotations.list"
            }
          }
        }
      },
      "methods": {
        "list": {
          "parameters": {
            "maxResults": {
              "maximum": "200",
              "type": "integer",
              "format": "uint32",
              "description": "Maximum number of results to return",
              "minimum": "0",
              "location": "query"
            },
            "volumeId": {
              "required": true,
              "description": "The volume to retrieve layers for.",
              "location": "path",
              "type": "string"
            },
            "contentVersion": {
              "description": "The content version for the requested volume.",
              "location": "query",
              "type": "string"
            },
            "source": {
              "type": "string",
              "location": "query",
              "description": "String to identify the originator of this request."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The value of the nextToken from the previous page."
            }
          },
          "flatPath": "books/v1/volumes/{volumeId}/layersummary",
          "parameterOrder": [
            "volumeId"
          ],
          "id": "books.layers.list",
          "response": {
            "$ref": "Layersummaries"
          },
          "description": "List the layer summaries for a volume.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/volumes/{volumeId}/layersummary"
        },
        "get": {
          "path": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
          "parameterOrder": [
            "volumeId",
            "summaryId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Layersummary"
          },
          "description": "Gets the layer summary for a volume.",
          "parameters": {
            "volumeId": {
              "required": true,
              "description": "The volume to retrieve layers for.",
              "type": "string",
              "location": "path"
            },
            "source": {
              "type": "string",
              "location": "query",
              "description": "String to identify the originator of this request."
            },
            "contentVersion": {
              "location": "query",
              "type": "string",
              "description": "The content version for the requested volume."
            },
            "summaryId": {
              "type": "string",
              "required": true,
              "description": "The ID for the layer to get the summary for.",
              "location": "path"
            }
          },
          "flatPath": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
          "id": "books.layers.get"
        }
      }
    }
  },
  "revision": "20260929",
  "description": "The Google Books API allows clients to access the Google Books repository.",
  "version_module": true,
  "schemas": {
    "DownloadAccesses": {
      "id": "DownloadAccesses",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "downloadAccessList": {
          "description": "A list of download access responses.",
          "type": "array",
          "items": {
            "$ref": "DownloadAccessRestriction"
          }
        }
      },
      "type": "object"
    },
    "Volume": {
      "id": "Volume",
      "type": "object",
      "properties": {
        "userInfo": {
          "properties": {
            "familySharing": {
              "properties": {
                "familyRole": {
                  "description": "The role of the user in the family.",
                  "type": "string"
                },
                "isSharingAllowed": {
                  "type": "boolean",
                  "description": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action."
                },
                "isSharingDisabledByFop": {
                  "description": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet.",
                  "type": "boolean"
                }
              },
              "description": "Information on the ability to share with the family.",
              "type": "object"
            },
            "isFamilySharingAllowed": {
              "description": "Deprecated: Replaced by familySharing.",
              "type": "boolean"
            },
            "rentalPeriod": {
              "type": "object",
              "description": "Period during this book is/was a valid rental.",
              "properties": {
                "startUtcSec": {
                  "type": "string",
                  "format": "int64"
                },
                "endUtcSec": {
                  "type": "string",
                  "format": "int64"
                }
              }
            },
            "isFamilySharedToUser": {
              "type": "boolean",
              "description": "Whether or not the user received this volume through family sharing."
            },
            "userUploadedVolumeInfo": {
              "type": "object",
              "properties": {
                "processingState": {
                  "type": "string"
                }
              }
            },
            "acquiredTime": {
              "description": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc.",
              "type": "string"
            },
            "acquisitionType": {
              "format": "int32",
              "description": "How this volume was acquired.",
              "type": "integer"
            },
            "entitlementType": {
              "type": "integer",
              "description": "Whether this volume is purchased, sample, pd download etc.",
              "format": "int32"
            },
            "isInMyBooks": {
              "description": "Whether or not this volume is currently in \"my books.\"",
              "type": "boolean"
            },
            "isFamilySharingDisabledByFop": {
              "type": "boolean",
              "description": "Deprecated: Replaced by familySharing."
            },
            "updated": {
              "type": "string",
              "description": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format)."
            },
            "isPreordered": {
              "type": "boolean",
              "description": "Whether or not this volume was pre-ordered by the authenticated user making the request. (In LITE projection.)"
            },
            "isUploaded": {
              "description": "Whether or not this volume was user uploaded.",
              "type": "boolean"
            },
            "review": {
              "description": "This user's review of this volume, if one exists.",
              "$ref": "Review"
            },
            "copy": {
              "type": "object",
              "properties": {
                "allowedCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "remainingCharacterCount": {
                  "format": "int32",
                  "type": "integer"
                },
                "limitType": {
                  "type": "string"
                },
                "updated": {
                  "type": "string"
                }
              },
[...]
