{
  "version": "v1",
  "id": "books:v1",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260825",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
  "description": "The Google Books API allows clients to access the Google Books repository.",
  "rootUrl": "https://books.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "protocol": "rest",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://books.googleapis.com/",
  "name": "books",
  "title": "Books API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/books": {
          "description": "Manage your books"
        }
      }
    }
  },
  "version_module": true,
  "schemas": {
    "DownloadAccessRestriction": {
      "properties": {
        "source": {
          "type": "string",
          "description": "Client app identifier for verification. Download access and client-validation only."
        },
        "volumeId": {
          "description": "Identifies the volume for which this entry applies.",
          "type": "string"
        },
        "restricted": {
          "description": "Whether this volume has any download access restrictions.",
          "type": "boolean"
        },
        "reasonCode": {
          "description": "Error/warning reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS",
          "type": "string"
        },
        "maxDownloadDevices": {
          "type": "integer",
          "description": "If restricted, the maximum number of content download licenses for this volume.",
          "format": "int32"
        },
        "deviceAllowed": {
          "type": "boolean",
          "description": "If restricted, whether access is granted for this (user, device, volume)."
        },
        "downloadsAcquired": {
          "format": "int32",
          "description": "If restricted, the number of content download licenses already acquired (including the requesting client, if licensed).",
          "type": "integer"
        },
        "justAcquired": {
          "type": "boolean",
          "description": "If deviceAllowed, whether access was just acquired with this request."
        },
        "signature": {
          "description": "Response signature.",
          "type": "string"
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Error/warning message."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "type": "object",
      "id": "DownloadAccessRestriction"
    },
    "Volumes": {
      "properties": {
        "items": {
          "items": {
            "$ref": "Volume"
          },
          "type": "array",
          "description": "A list of volumes."
        },
        "totalItems": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "type": "object",
      "id": "Volumes"
    },
    "AnnotationsSummary": {
      "id": "AnnotationsSummary",
      "properties": {
        "layers": {
          "items": {
            "properties": {
              "allowedCharacterCount": {
                "format": "int32",
                "type": "integer"
              },
              "layerId": {
                "type": "string"
              },
              "limitType": {
                "type": "string"
              },
              "remainingCharacterCount": {
                "type": "integer",
                "format": "int32"
              },
              "updated": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "kind": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "DownloadAccesses": {
      "type": "object",
      "id": "DownloadAccesses",
      "properties": {
        "downloadAccessList": {
          "items": {
            "$ref": "DownloadAccessRestriction"
          },
          "type": "array",
          "description": "A list of download access responses."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    },
    "Series": {
      "id": "Series",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "series": {
          "type": "array",
          "items": {
            "properties": {
              "seriesId": {
                "type": "string"
              },
              "seriesType": {
                "type": "string"
              },
              "isComplete": {
                "type": "boolean"
              },
              "eligibleForSubscription": {
                "type": "boolean"
              },
              "subscriptionId": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "bannerImageUrl": {
                "type": "string"
              },
              "seriesFormatType": {
                "type": "string"
              },
              "seriesSubscriptionReleaseInfo": {
                "type": "object",
                "properties": {
                  "cancelTime": {
                    "type": "string"
                  },
                  "currentReleaseInfo": {
                    "type": "object",
                    "properties": {
                      "amountInMicros": {
                        "format": "double",
                        "type": "number"
                      },
                      "releaseTime": {
                        "type": "string"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    }
                  },
                  "nextReleaseInfo": {
                    "type": "object",
                    "properties": {
                      "amountInMicros": {
                        "format": "double",
                        "type": "number"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "releaseTime": {
                        "type": "string"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    }
                  },
                  "seriesSubscriptionType": {
                    "type": "string"
                  }
                }
              },
              "imageUrl": {
                "type": "string"
              }
            },
            "type": "object"
          }
        }
      }
    },
    "Offers": {
      "id": "Offers",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "items": {
            "type": "object",
            "properties": {
              "gservicesKey": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "properties": {
                    "coverUrl": {
                      "type": "string"
                    },
                    "volumeId": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "canonicalVolumeLink": {
                      "type": "string"
                    },
                    "author": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "id": {
                "type": "string"
              },
              "artUrl": {
                "type": "string"
              }
            }
          },
          "type": "array",
          "description": "A list of offers."
        }
      },
      "type": "object"
    },
    "Seriesmembership": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "member": {
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "kind": {
          "description": "Resorce type.",
          "type": "string"
        }
      },
      "id": "Seriesmembership",
      "type": "object"
    },
    "Dictlayerdata": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string"
        },
        "common": {
          "type": "object",
          "properties": {
            "title": {
              "description": "The display title and localized canonical name to use when searching for this entity on Google search.",
              "type": "string"
            }
          }
        },
        "dict": {
          "properties": {
            "words": {
              "items": {
                "type": "object",
                "properties": {
                  "source": {
                    "properties": {
                      "url": {
                        "type": "string"
                      },
                      "attribution": {
                        "type": "string"
                      }
                    },
                    "type": "object",
                    "description": "The words with different meanings but not related words, e.g. \"go\" (game) and \"go\" (verb)."
                  },
                  "senses": {
                    "items": {
                      "properties": {
                        "syllabification": {
                          "type": "string"
                        },
                        "pronunciationUrl": {
                          "type": "string"
                        },
                        "source": {
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "pronunciation": {
                          "type": "string"
                        },
                        "definitions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "definition": {
                                "type": "string"
                              },
                              "examples": {
                                "items": {
                                  "properties": {
                                    "source": {
                                      "properties": {
                                        "url": {
                                          "type": "string"
                                        },
                                        "attribution": {
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              }
                            }
                          }
                        },
                        "conjugations": {
                          "items": {
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "partOfSpeech": {
                          "type": "string"
                        },
                        "synonyms": {
                          "items": {
                            "properties": {
                              "source": {
                                "properties": {
                                  "attribution": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "examples": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "derivatives": {
                    "items": {
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "attribution": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  }
                }
              },
              "type": "array"
            },
            "source": {
              "type": "object",
              "description": "The source, url and attribution for this dictionary data.",
              "properties": {
                "attribution": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              }
            }
          },
          "type": "object"
        }
      },
      "id": "Dictlayerdata"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "Review": {
      "properties": {
        "rating": {
          "description": "Star rating for this review. Possible values are ONE, TWO, THREE, FOUR, FIVE or NOT_RATED.",
          "type": "string"
        },
        "author": {
          "description": "Author of this review.",
          "type": "object",
          "properties": {
            "displayName": {
              "type": "string",
              "description": "Name of this person."
            }
          }
        },
        "content": {
          "type": "string",
          "description": "Review text."
        },
        "title": {
          "type": "string",
          "description": "Title for this review."
        },
        "volumeId": {
          "type": "string",
          "description": "Volume that this review is for."
        },
        "source": {
          "properties": {
            "extraDescription": {
              "type": "string",
              "description": "Extra text about the source of the review."
            },
            "description": {
              "description": "Name of the source.",
              "type": "string"
            },
            "url": {
              "description": "URL of the source of the review.",
              "type": "string"
            }
          },
          "description": "Information regarding the source of this review, when the review is not from a Google Books user.",
          "type": "object"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for a review."
        },
        "type": {
          "type": "string",
          "description": "Source type for this review. Possible values are EDITORIAL, WEB_USER or GOOGLE_USER."
        },
        "date": {
          "description": "Date of this review.",
          "type": "string"
        },
        "fullTextUrl": {
          "description": "URL for the full review text, for reviews gathered from the web.",
          "type": "string"
        }
      },
      "id": "Review",
      "type": "object"
    },
    "BooksCloudloadingResource": {
      "type": "object",
      "properties": {
        "processingState": {
          "type": "string"
        },
        "author": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "volumeId": {
          "type": "string"
        }
      },
      "id": "BooksCloudloadingResource"
    },
    "Layersummary": {
      "id": "Layersummary",
      "properties": {
        "annotationCount": {
          "type": "integer",
          "description": "The number of annotations for this layer.",
          "format": "int32"
        },
        "annotationsLink": {
          "type": "string",
          "description": "The link to get the annotations for this layer."
        },
        "dataCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of data items for this layer."
        },
        "updated": {
          "description": "Timestamp for the last time an item in this layer was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "volumeAnnotationsVersion": {
          "type": "string",
          "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately."
        },
        "id": {
          "description": "Unique id of this layer summary.",
          "type": "string"
        },
        "annotationsDataLink": {
          "type": "string",
          "description": "Link to get data for this annotation."
        },
        "volumeId": {
          "type": "string",
          "description": "The volume id this resource is for."
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "layerId": {
          "description": "The layer id for this summary.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "contentVersion": {
          "type": "string",
          "description": "The content version this resource is for."
        },
        "annotationTypes": {
          "type": "array",
          "description": "The list of annotation types contained for this layer.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Category": {
      "id": "Category",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of onboarding categories.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "categoryId": {
                "type": "string"
              },
              "badgeUrl": {
                "type": "string"
              }
            }
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    },
    "DictionaryAnnotationdata": {
      "type": "object",
      "id": "DictionaryAnnotationdata",
      "properties": {
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string"
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string"
        },
        "data": {
          "$ref": "Dictlayerdata",
          "description": "JSON encoded data for this dictionary annotation data. Emitted with name 'data' in JSON output. Either this or geo_data will be populated."
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "encodedData": {
          "type": "string",
          "description": "Base64 encoded data for this annotation data.",
          "format": "byte"
        }
      }
    },
    "Volume": {
      "id": "Volume",
      "type": "object",
      "properties": {
        "volumeInfo": {
          "type": "object",
          "description": "General volume information.",
          "properties": {
            "comicsContent": {
              "type": "boolean",
              "description": "Whether the volume has comics content."
            },
            "contentVersion": {
              "type": "string",
              "description": "An identifier for the version of the volume content (text & images). (In LITE projection)"
            },
            "ratingsCount": {
              "description": "The number of review ratings for this volume.",
              "type": "integer",
              "format": "int32"
            },
            "industryIdentifiers": {
              "type": "array",
              "description": "Industry standard identifiers for this volume.",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Identifier type. Possible values are ISBN_10, ISBN_13, ISSN and OTHER."
                  },
                  "identifier": {
                    "type": "string",
                    "description": "Industry specific volume identifier."
                  }
                }
              }
            },
            "averageRating": {
              "format": "double",
              "type": "number",
              "description": "The mean review rating for this volume. (min = 1.0, max = 5.0)"
            },
            "maturityRating": {
              "type": "string"
            },
            "pageCount": {
              "description": "Total number of pages as per publisher metadata.",
              "type": "integer",
              "format": "int32"
            },
            "subtitle": {
              "type": "string",
              "description": "Volume subtitle. (In LITE projection.)"
            },
            "mainCategory": {
              "type": "string",
              "description": "The main category to which this volume belongs. It will be the category from the categories list returned below that has the highest weight."
            },
            "canonicalVolumeLink": {
              "description": "Canonical URL for a volume. (In LITE projection.)",
              "type": "string"
            },
            "printType": {
              "description": "Type of publication of this volume. Possible values are BOOK or MAGAZINE.",
              "type": "string"
            },
            "previewLink": {
              "type": "string",
              "description": "URL to preview this volume on the Google Books site."
            },
            "readingModes": {
              "description": "The reading modes available for this volume.",
              "type": "object",
              "properties": {
                "text": {
                  "type": "boolean"
                },
                "image": {
                  "type": "boolean"
                }
              }
            },
            "language": {
              "type": "string",
              "description": "Best language for this volume (based on content). It is the two-letter ISO 639-1 code such as 'fr', 'en', etc."
            },
            "printedPageCount": {
              "format": "int32",
              "description": "Total number of printed pages in generated pdf representation.",
              "type": "integer"
            },
            "imageLinks": {
              "type": "object",
              "properties": {
                "extraLarge": {
                  "description": "Image link for extra large size (width of ~1280 pixels). (In LITE projection)",
                  "type": "string"
                },
                "smallThumbnail": {
                  "type": "string",
                  "description": "Image link for small thumbnail size (width of ~80 pixels). (In LITE projection)"
                },
                "small": {
                  "description": "Image link for small size (width of ~300 pixels). (In LITE projection)",
                  "type": "string"
                },
                "thumbnail": {
                  "description": "Image link for thumbnail size (width of ~128 pixels). (In LITE projection)",
                  "type": "string"
                },
                "large": {
                  "description": "Image link for large size (width of ~800 pixels). (In LITE projection)",
                  "type": "string"
                },
                "medium": {
                  "type": "string",
                  "description": "Image link for medium size (width of ~575 pixels). (In LITE projection)"
                }
              },
              "description": "A list of image links for all the sizes that are available. (In LITE projection.)"
            },
            "infoLink": {
              "type": "string",
              "description": "URL to view information about this volume on the Google Books site. (In LITE projection)"
            },
            "panelizationSummary": {
              "description": "A top-level summary of the panelization info in this volume.",
              "properties": {
                "imageBubbleVersion": {
                  "type": "string"
                },
                "containsImageBubbles": {
                  "type": "boolean"
                },
                "epubBubbleVersion": {
                  "type": "string"
                },
                "containsEpubBubbles": {
                  "type": "boolean"
                }
              },
              "type": "object"
            },
            "description": {
              "description": "A synopsis of the volume. The text of the description is formatted in HTML and includes simple formatting elements, such as b, i, and br tags. (In LITE projection.)",
              "type": "string"
            },
            "categories": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of subject categories, such as \"Fiction\", \"Suspense\", etc."
            },
            "dimensions": {
              "description": "Physical dimensions of this volume.",
              "type": "object",
              "properties": {
                "height": {
                  "description": "Height or length of this volume (in cm).",
                  "type": "string"
                },
                "thickness": {
                  "description": "Thickness of this volume (in cm).",
                  "type": "string"
                },
                "width": {
                  "description": "Width of this volume (in cm).",
                  "type": "string"
                }
              }
            },
            "samplePageCount": {
              "format": "int32",
              "description": "Total number of sample pages as per publisher metadata.",
              "type": "integer"
            },
            "allowAnonLogging": {
              "description": "Whether anonymous logging should be allowed.",
              "type": "boolean"
            },
            "publisher": {
              "description": "Publisher of this volume. (In LITE projection.)",
              "type": "string"
            },
            "publishedDate": {
              "description": "Date of publication. (In LITE projection.)",
              "type": "string"
            },
            "seriesInfo": {
              "$ref": "Volumeseriesinfo"
            },
            "title": {
              "description": "Volume title. (In LITE projection.)",
              "type": "string"
            },
            "authors": {
              "items": {
                "type": "string"
              },
              "description": "The names of the authors and/or editors for this volume. (In LITE projection)",
              "type": "array"
            }
          }
        },
        "selfLink": {
          "description": "URL to this resource. (In LITE projection.)",
          "type": "string"
        },
        "etag": {
          "description": "Opaque identifier for a specific version of a volume resource. (In LITE projection)",
          "type": "string"
        },
        "searchInfo": {
          "properties": {
            "textSnippet": {
              "type": "string",
              "description": "A text snippet containing the search query."
            }
          },
          "type": "object",
          "description": "Search result information related to this volume."
        },
        "recommendedInfo": {
          "type": "object",
          "description": "Recommendation related information for this volume.",
          "properties": {
            "explanation": {
              "type": "string",
              "description": "A text explaining why this volume is recommended."
            }
          }
        },
        "userInfo": {
          "description": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)",
          "properties": {
            "entitlementType": {
              "description": "Whether this volume is purchased, sample, pd download etc.",
              "format": "int32",
              "type": "integer"
            },
            "isFamilySharedFromUser": {
              "description": "Whether or not the user shared this volume with the family.",
              "type": "boolean"
            },
            "isPreordered": {
              "type": "boolean",
              "description": "Whether or not this volume was pre-ordered by the authenticated user making the request. (In LITE projection.)"
            },
            "isUploaded": {
              "description": "Whether or not this volume was user uploaded.",
              "type": "boolean"
            },
            "readingPosition": {
              "description": "The user's current reading position in the volume, if one is available. (In LITE projection.)",
              "$ref": "ReadingPosition"
            },
            "updated": {
              "type": "string",
              "description": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format)."
            },
            "familySharing": {
              "properties": {
                "isSharingAllowed": {
                  "description": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action.",
                  "type": "boolean"
                },
                "familyRole": {
                  "description": "The role of the user in the family.",
                  "type": "string"
                },
                "isSharingDisabledByFop": {
                  "description": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet.",
                  "type": "boolean"
                }
              },
              "type": "object",
              "description": "Information on the ability to share with the family."
            },
            "isInMyBooks": {
              "type": "boolean",
              "description": "Whether or not this volume is currently in \"my books.\""
            },
            "review": {
              "description": "This user's review of this volume, if one exists.",
              "$ref": "Review"
            },
            "isFamilySharingDisabledByFop": {
              "type": "boolean",
              "description": "Deprecated: Replaced by familySharing."
            },
            "isFamilySharingAllowed": {
              "description": "Deprecated: Replaced by familySharing.",
              "type": "boolean"
            },
            "rentalPeriod": {
              "description": "Period during this book is/was a valid rental.",
              "properties": {
                "endUtcSec": {
                  "type": "string",
                  "format": "int64"
                },
                "startUtcSec": {
                  "type": "string",
                  "format": "int64"
                }
              },
              "type": "object"
            },
            "acquisitionType": {
              "format": "int32",
              "description": "How this volume was acquired.",
              "type": "integer"
            },
            "userUploadedVolumeInfo": {
              "properties": {
                "processingState": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "copy": {
              "properties": {
                "updated": {
                  "type": "string"
                },
                "limitType": {
                  "type": "string"
                },
                "allowedCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "remainingCharacterCount": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "type": "object",
              "description": "Copy/Paste accounting information."
            },
            "isFamilySharedToUser": {
              "description": "Whether or not the user received this volume through family sharing.",
              "type": "boolean"
            },
            "acquiredTime": {
              "type": "string",
              "description": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc."
            },
            "rentalState": {
              "type": "string",
              "description": "Whether this book is an active or an expired rental."
            },
            "isPurchased": {
              "type": "boolean",
              "description": "Whether or not this volume was purchased by the authenticated user making the request. (In LITE projection.)"
            }
          },
          "type": "object"
        },
        "layerInfo": {
          "properties": {
            "layers": {
              "type": "array",
              "description": "A layer should appear here if and only if the layer exists for this book.",
              "items": {
                "properties": {
                  "volumeAnnotationsVersion": {
                    "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
                    "type": "string"
                  },
                  "layerId": {
                    "description": "The layer id of this layer (e.g. \"geo\").",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "What layers exist in this volume and high level information about them.",
          "type": "object"
        },
        "kind": {
          "description": "Resource type for a volume. (In LITE projection.)",
          "type": "string"
        },
        "accessInfo": {
          "type": "object",
          "description": "Any information about a volume related to reading or obtaining that volume text. This information can depend on country (books may be public domain in one country but not in another, e.g.).",
          "properties": {
            "country": {
              "type": "string",
              "description": "The two-letter ISO_3166-1 country code for which this access information is valid. (In LITE projection.)"
            },
            "webReaderLink": {
              "type": "string",
              "description": "URL to read this volume on the Google Books site. Link will not allow users to read non-viewable volumes."
            },
            "viewOrderUrl": {
              "description": "For ordered but not yet processed orders, we give a URL that can be used to go to the appropriate Google Wallet page.",
              "type": "string"
            },
            "viewability": {
              "description": "The read access of a volume. Possible values are PARTIAL, ALL_PAGES, NO_PAGES or UNKNOWN. This value depends on the country listed above. A value of PARTIAL means that the publisher has allowed some portion of the volume to be viewed publicly, without purchase. This can apply to eBooks as well as non-eBooks. Public domain books will always have a value of ALL_PAGES.",
              "type": "string"
            },
            "explicitOfflineLicenseManagement": {
              "description": "Whether this volume requires that the client explicitly request offline download license rather than have it done automatically when loading the content, if the client supports it.",
              "type": "boolean"
            },
            "epub": {
              "description": "Information about epub content. (In LITE projection.)",
              "properties": {
                "isAvailable": {
                  "type": "boolean",
                  "description": "Is a flowing text epub available either as public domain or for purchase. (In LITE projection.)"
                },
                "downloadLink": {
                  "description": "URL to download epub. (In LITE projection.)",
                  "type": "string"
                },
                "acsTokenLink": {
                  "type": "string",
                  "description": "URL to retrieve ACS token for epub download. (In LITE projection.)"
                }
              },
              "type": "object"
            },
            "downloadAccess": {
              "description": "Information about a volume's download license access restrictions.",
              "$ref": "DownloadAccessRestriction"
            },
            "textToSpeechPermission": {
              "type": "string",
              "description": "Whether text-to-speech is permitted for this volume. Values can be ALLOWED, ALLOWED_FOR_ACCESSIBILITY, or NOT_ALLOWED."
            },
            "quoteSharingAllowed": {
              "type": "boolean",
              "description": "Whether quote sharing is allowed for this volume."
            },
            "driveImportedContentLink": {
              "description": "URL to the Google Drive viewer if this volume is uploaded by the user by selecting the file from Google Drive.",
              "type": "string"
            },
            "accessViewStatus": {
              "description": "Combines the access and viewability of this volume into a single status field for this user. Values can be FULL_PURCHASED, FULL_PUBLIC_DOMAIN, SAMPLE or NONE. (In LITE projection.)",
              "type": "string"
            },
            "publicDomain": {
              "description": "Whether or not this book is public domain in the country listed above.",
              "type": "boolean"
            },
            "embeddable": {
              "type": "boolean",
              "description": "Whether this volume can be embedded in a viewport using the Embedded Viewer API."
            },
            "pdf": {
              "properties": {
                "isAvailable": {
                  "description": "Is a scanned image pdf available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                },
                "downloadLink": {
                  "type": "string",
                  "description": "URL to download pdf. (In LITE projection.)"
                },
                "acsTokenLink": {
                  "description": "URL to retrieve ACS token for pdf download. (In LITE projection.)",
                  "type": "string"
                }
              },
              "type": "object",
              "description": "Information about pdf content. (In LITE projection.)"
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for a volume. (In LITE projection.)"
        },
        "saleInfo": {
          "description": "Any information about a volume related to the eBookstore and/or purchaseability. This information can depend on the country where the request originates from (i.e. books may not be for sale in certain countries).",
          "properties": {
            "listPrice": {
              "description": "Suggested retail price. (In LITE projection.)",
              "type": "object",
              "properties": {
                "currencyCode": {
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                  "type": "string"
                },
                "amount": {
                  "type": "number",
                  "format": "double",
                  "description": "Amount in the currency listed below. (In LITE projection.)"
                }
              }
            },
            "buyLink": {
              "type": "string",
              "description": "URL to purchase this volume on the Google Books site. (In LITE projection)"
            },
            "country": {
              "description": "The two-letter ISO_3166-1 country code for which this sale information is valid. (In LITE projection.)",
              "type": "string"
            },
            "isEbook": {
              "description": "Whether or not this volume is an eBook (can be added to the My eBooks shelf).",
              "type": "boolean"
            },
            "saleability": {
              "description": "Whether or not this book is available for sale or offered for free in the Google eBookstore for the country listed above. Possible values are FOR_SALE, FOR_RENTAL_ONLY, FOR_SALE_AND_RENTAL, FREE, NOT_FOR_SALE, or FOR_PREORDER.",
              "type": "string"
            },
            "retailPrice": {
              "properties": {
                "currencyCode": {
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                  "type": "string"
                },
                "amount": {
                  "format": "double",
                  "type": "number",
                  "description": "Amount in the currency listed below. (In LITE projection.)"
                }
              },
              "description": "The actual selling price of the book. This is the same as the suggested retail or list price unless there are offers or discounts on this volume. (In LITE projection.)",
              "type": "object"
            },
            "offers": {
              "description": "Offers available for this volume (sales and rentals).",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "finskyOfferType": {
                    "description": "The finsky offer type (e.g., PURCHASE=0 RENTAL=3)",
                    "format": "int32",
                    "type": "integer"
                  },
                  "listPrice": {
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    },
                    "type": "object",
                    "description": "Offer list (=undiscounted) price in Micros."
                  },
                  "giftable": {
                    "description": "Indicates whether the offer is giftable.",
                    "type": "boolean"
                  },
                  "rentalDuration": {
                    "description": "The rental duration (for rental offers only).",
                    "type": "object",
                    "properties": {
                      "unit": {
                        "type": "string"
                      },
                      "count": {
                        "format": "double",
                        "type": "number"
                      }
                    }
                  },
                  "retailPrice": {
                    "properties": {
                      "amountInMicros": {
                        "format": "double",
                        "type": "number"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    },
                    "type": "object",
                    "description": "Offer retail (=discounted) price in Micros"
                  }
                }
              }
            },
            "onSaleDate": {
              "description": "The date on which this book is available for sale.",
              "type": "string"
            }
          },
          "type": "object"
        }
      }
    },
    "ReadingPosition": {
      "type": "object",
      "properties": {
        "volumeId": {
          "description": "Volume id associated with this reading position.",
          "type": "string"
        },
        "epubCfiPosition": {
          "type": "string",
          "description": "Position in an EPUB as a CFI."
        },
        "gbTextPosition": {
          "type": "string",
          "description": "Position in a volume for text-based content."
        },
        "updated": {
          "description": "Timestamp when this reading position was last updated (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for a reading position.",
          "type": "string"
        },
        "pdfPosition": {
          "type": "string",
          "description": "Position in a PDF file."
        },
        "gbImagePosition": {
          "description": "Position in a volume for image-based content.",
          "type": "string"
        }
      },
      "id": "ReadingPosition"
    },
    "Discoveryclusters": {
      "id": "Discoveryclusters",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resorce type."
        },
        "totalClusters": {
          "format": "int32",
          "type": "integer"
        },
        "clusters": {
          "type": "array",
          "items": {
            "properties": {
              "title": {
                "type": "string"
              },
              "totalVolumes": {
                "type": "integer",
                "format": "int32"
              },
              "banner_with_content_container": {
                "properties": {
                  "fillColorArgb": {
                    "type": "string"
                  },
                  "moreButtonUrl": {
                    "type": "string"
                  },
                  "maskColorArgb": {
                    "type": "string"
                  },
                  "textColorArgb": {
                    "type": "string"
                  },
                  "imageUrl": {
                    "type": "string"
                  },
                  "moreButtonText": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "uid": {
                "type": "string"
              },
              "volumes": {
                "items": {
                  "$ref": "Volume"
                },
                "type": "array"
              },
              "subTitle": {
                "type": "string"
              }
            },
            "type": "object"
          }
        }
      },
      "type": "object"
    },
    "Geolayerdata": {
      "id": "Geolayerdata",
      "type": "object",
      "properties": {
        "geo": {
          "type": "object",
          "properties": {
            "boundary": {
              "description": "The boundary of the location as a set of loops containing pairs of latitude, longitude coordinates.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "mapType": {
              "description": "The type of map that should be used for this location. EX: HYBRID, ROADMAP, SATELLITE, TERRAIN",
              "type": "string"
            },
            "longitude": {
              "type": "number",
              "description": "The longitude of the location.",
              "format": "double"
            },
            "cachePolicy": {
              "type": "string",
              "description": "The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER"
            },
            "zoom": {
              "type": "integer",
              "description": "The Zoom level to use for the map. Zoom levels between 0 (the lowest zoom level, in which the entire world can be seen on one map) to 21+ (down to individual buildings). See: https: //developers.google.com/maps/documentation/staticmaps/#Zoomlevels",
              "format": "int32"
            },
            "viewport": {
              "description": "The viewport for showing this location. This is a latitude, longitude rectangle.",
              "type": "object",
              "properties": {
                "lo": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "format": "double"
                    },
                    "longitude": {
                      "format": "double",
                      "type": "number"
                    }
                  }
                },
                "hi": {
                  "properties": {
                    "longitude": {
                      "type": "number",
                      "format": "double"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "double"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "countryCode": {
              "type": "string",
              "description": "The country code of the location."
            },
            "latitude": {
              "description": "The latitude of the location.",
              "format": "double",
              "type": "number"
            }
          }
        },
        "common": {
          "type": "object",
          "properties": {
            "snippetUrl": {
              "type": "string",
              "description": "The URL for information for this location. Ex: wikipedia link."
            },
            "snippet": {
              "description": "The description for this location.",
              "type": "string"
            },
            "previewImageUrl": {
              "description": "The URL for the preview image information.",
              "type": "string"
            },
            "title": {
              "description": "The display title and localized canonical name to use when searching for this entity on Google search.",
              "type": "string"
            },
            "lang": {
              "description": "The language of the information url and description.",
              "type": "string"
            }
          }
        },
        "kind": {
          "type": "string"
        }
      }
    },
    "FamilyInfo": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "membership": {
          "description": "Family membership info of the user that made the request.",
          "properties": {
            "allowedMaturityRating": {
              "description": "The maximum allowed maturity rating for the user.",
              "type": "string"
            },
            "acquirePermission": {
              "type": "string",
              "description": "Restrictions on user buying and acquiring content."
            },
            "role": {
              "description": "The role of the user in the family.",
              "type": "string"
            },
            "ageGroup": {
              "type": "string",
              "description": "The age group of the user."
            },
            "isInFamily": {
              "type": "boolean"
            }
          },
          "type": "object"
        }
      },
      "id": "FamilyInfo"
    },
    "Metadata": {
      "id": "Metadata",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "items": {
            "type": "object",
            "properties": {
              "version": {
                "format": "int64",
                "type": "string"
              },
              "language": {
                "type": "string"
              },
              "size": {
                "format": "int64",
                "type": "string"
              },
              "encrypted_key": {
                "type": "string"
              },
              "download_url": {
                "type": "string"
              }
            }
          },
          "type": "array",
          "description": "A list of offline dictionary metadata."
        }
      },
      "type": "object"
    },
    "Bookshelf": {
      "properties": {
        "description": {
          "description": "Description of this bookshelf.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of this bookshelf."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution)."
        },
        "created": {
          "description": "Created time for this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "id": {
          "description": "Id of this bookshelf, only unique by user.",
          "format": "int32",
          "type": "integer"
        },
        "access": {
          "type": "string",
          "description": "Whether this bookshelf is PUBLIC or PRIVATE."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for bookshelf metadata."
        },
        "volumesLastUpdated": {
          "description": "Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "volumeCount": {
          "description": "Number of volumes in this bookshelf.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Bookshelf",
      "type": "object"
    },
    "RequestAccessData": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "downloadAccess": {
          "$ref": "DownloadAccessRestriction",
          "description": "A download access response."
        },
        "concurrentAccess": {
          "description": "A concurrent access response.",
          "$ref": "ConcurrentAccessRestriction"
        }
      },
      "type": "object",
      "id": "RequestAccessData"
    },
    "Annotation": {
      "id": "Annotation",
      "properties": {
        "selectedText": {
          "description": "Excerpt from the volume.",
          "type": "string"
        },
        "beforeSelectedText": {
          "description": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
          "type": "string"
        },
        "layerSummary": {
          "type": "object",
          "properties": {
            "limitType": {
              "description": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer.",
              "type": "string"
            },
            "allowedCharacterCount": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum allowed characters on this layer, especially for the \"copy\" layer."
            },
            "remainingCharacterCount": {
              "type": "integer",
              "format": "int32",
              "description": "Remaining allowed characters on this layer, especially for the \"copy\" layer."
            }
          }
        },
        "currentVersionRanges": {
          "description": "Selection ranges for the most recent content version.",
          "properties": {
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation for version above."
            },
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string"
            },
            "cfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation for version above."
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation for version above."
            },
            "imageCfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in image CFI format for this annotation for version above."
            }
          },
          "type": "object"
        },
        "deleted": {
          "type": "boolean",
          "description": "Indicates that this annotation is deleted."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "data": {
          "description": "User-created data for this annotation.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this annotation was modified."
        },
        "created": {
          "description": "Timestamp for the created time of this annotation.",
          "type": "string"
        },
        "pageIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Pages that this annotation spans."
        },
        "id": {
          "description": "Id of this annotation, in the form of a GUID.",
          "type": "string"
        },
        "afterSelectedText": {
          "description": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
          "type": "string"
        },
        "highlightStyle": {
          "type": "string",
          "description": "The highlight style for this annotation."
        },
        "volumeId": {
          "description": "The volume that this annotation belongs to.",
          "type": "string"
        },
        "layerId": {
          "description": "The layer this annotation is for.",
          "type": "string"
        },
        "clientVersionRanges": {
          "properties": {
            "gbTextRange": {
              "description": "Range in GB text format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "description": "Content version the client sent in.",
              "type": "string"
            },
            "imageCfiRange": {
              "description": "Range in image CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation sent by client."
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "type": "object",
          "description": "Selection ranges sent from the client."
        }
      },
      "type": "object"
    },
    "Volumeseriesinfo": {
      "type": "object",
      "properties": {
        "shortSeriesBookTitle": {
          "description": "Short book title in the context of the series.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "volumeSeries": {
          "items": {
            "type": "object",
            "properties": {
              "orderNumber": {
                "format": "int32",
                "description": "The book order number in the series.",
                "type": "integer"
              },
              "issue": {
                "items": {
                  "properties": {
                    "issueOrderNumber": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "issueDisplayNumber": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "List of issues. Applicable only for Collection Edition and Omnibus.",
                "type": "array"
              },
              "seriesBookType": {
                "type": "string",
                "description": "The book type in the context of series. Examples - Single Issue, Collection Edition, etc."
              },
              "seriesId": {
                "type": "string",
                "description": "The series id."
              }
            }
          },
          "type": "array"
        },
        "bookDisplayNumber": {
          "type": "string",
          "description": "The display number string. This should be used only for display purposes and the actual sequence should be inferred from the below orderNumber."
        }
      },
      "id": "Volumeseriesinfo"
    },
    "Notification": {
      "id": "Notification",
      "properties": {
        "timeToExpireMs": {
          "type": "string",
          "format": "int64"
        },
        "dont_show_notification": {
          "type": "boolean"
        },
        "iconUrl": {
          "type": "string"
        },
        "doc_type": {
          "type": "string"
        },
        "reason": {
          "type": "string"
        },
        "notificationGroup": {
          "type": "string"
        },
        "pcampaign_id": {
          "type": "string"
        },
        "targetUrl": {
          "type": "string"
        },
        "crmExperimentIds": {
          "type": "array",
          "description": "The list of crm experiment ids.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "doc_id": {
          "type": "string"
        },
        "notification_type": {
          "type": "string"
        },
        "show_notification_settings_action": {
          "type": "boolean"
        },
        "body": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "is_document_mature": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GeoAnnotationdata": {
      "type": "object",
      "id": "GeoAnnotationdata",
      "properties": {
        "annotationType": {
          "type": "string",
          "description": "The type of annotation this data is for."
        },
        "data": {
          "$ref": "Geolayerdata",
          "description": "JSON encoded data for this geo annotation data. Emitted with name 'data' in JSON output. Either this or dict_data will be populated."
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format)."
        },
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "The volume id for this data. *"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string"
        },
        "encodedData": {
          "type": "string",
          "description": "Base64 encoded data for this annotation data.",
          "format": "byte"
        }
      }
    },
    "BooksAnnotationsRange": {
      "id": "BooksAnnotationsRange",
      "properties": {
        "startPosition": {
          "description": "The starting position for the range.",
          "type": "string"
        },
        "startOffset": {
          "description": "The offset from the starting position.",
          "type": "string"
        },
        "endOffset": {
          "description": "The offset from the ending position.",
          "type": "string"
        },
        "endPosition": {
          "type": "string",
          "description": "The ending position for the range."
        }
      },
      "type": "object"
    },
    "Annotationsdata": {
      "type": "object",
      "id": "Annotationsdata",
      "properties": {
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "items": {
          "description": "A list of Annotation Data.",
          "items": {
            "$ref": "GeoAnnotationdata"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Resource type"
        },
        "totalItems": {
          "description": "The total number of volume annotations found.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Volume2": {
      "type": "object",
      "id": "Volume2",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Volume"
          },
          "description": "A list of volumes.",
          "type": "array"
        }
      }
    },
    "Usersettings": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "notesExport": {
          "type": "object",
          "description": "User settings in sub-objects, each for different purposes.",
          "properties": {
            "folderName": {
              "type": "string"
            },
            "isEnabled": {
              "type": "boolean"
            }
          }
        },
        "notification": {
          "type": "object",
          "properties": {
            "moreFromAuthors": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "matchMyInterests": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "rewardExpirations": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "moreFromSeries": {
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "priceDrop": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "type": "object",
      "id": "Usersettings"
    },
    "BooksVolumesRecommendedRateResponse": {
      "type": "object",
      "id": "BooksVolumesRecommendedRateResponse",
      "properties": {
        "consistency_token": {
          "type": "string"
        }
      }
    },
    "Layersummaries": {
      "type": "object",
      "id": "Layersummaries",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of layer summary items.",
          "items": {
            "$ref": "Layersummary"
          }
        },
        "totalItems": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of layer summaries found."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      }
    },
    "Bookshelves": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Bookshelf"
          },
          "description": "A list of bookshelves.",
          "type": "array"
        }
      },
      "id": "Bookshelves"
    },
    "Annotations": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "totalItems": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated."
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of annotations.",
          "items": {
            "$ref": "Annotation"
          }
        }
      },
      "type": "object",
      "id": "Annotations"
    },
    "ConcurrentAccessRestriction": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Error/warning message.",
          "type": "string"
        },
        "deviceAllowed": {
          "description": "Whether access is granted for this (user, device, volume).",
          "type": "boolean"
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "signature": {
          "description": "Response signature.",
          "type": "string"
        },
        "reasonCode": {
          "description": "Error/warning reason code.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Identifies the volume for which this entry applies."
        },
        "restricted": {
          "type": "boolean",
          "description": "Whether this volume has any concurrent access restrictions."
        },
        "timeWindowSeconds": {
          "description": "Time in seconds for license auto-expiration.",
          "format": "int32",
          "type": "integer"
        },
        "maxConcurrentDevices": {
          "description": "The maximum number of concurrent access licenses for this volume.",
          "type": "integer",
          "format": "int32"
        },
        "source": {
          "type": "string",
          "description": "Client app identifier for verification. Download access and client-validation only."
        }
      },
      "id": "ConcurrentAccessRestriction"
    },
    "Volumeannotations": {
      "type": "object",
      "id": "Volumeannotations",
      "properties": {
        "items": {
          "description": "A list of volume annotations.",
          "type": "array",
          "items": {
            "$ref": "Volumeannotation"
          }
        },
        "totalItems": {
          "format": "int32",
          "description": "The total number of volume annotations found.",
          "type": "integer"
        },
        "kind": {
          "description": "Resource type",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "version": {
          "description": "The version string for all of the volume annotations in this layer (not just the ones in this response). Note: the version string doesn't apply to the annotation data, just the information in this response (e.g. the location of annotations in the book).",
          "type": "string"
        }
      }
    },
    "Volumeannotation": {
      "type": "object",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "URL to this resource."
        },
        "layerId": {
          "description": "The Layer this annotation is for.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique id of this volume annotation."
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this anntoation was updated. (RFC 3339 UTC date-time format)."
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "annotationDataLink": {
          "description": "Link to get data for this annotation.",
          "type": "string"
        },
        "annotationType": {
          "description": "The type of annotation this is.",
          "type": "string"
        },
        "pageIds": {
          "description": "Pages the annotation spans.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "annotationDataId": {
          "type": "string",
          "description": "The annotation data id for this volume annotation."
        },
        "deleted": {
          "type": "boolean",
          "description": "Indicates that this annotation is deleted."
        },
        "volumeId": {
          "type": "string",
          "description": "The Volume this annotation is for."
        },
        "data": {
          "description": "Data for this annotation.",
          "type": "string"
        },
        "selectedText": {
          "description": "Excerpt from the volume.",
          "type": "string"
        },
        "contentRanges": {
          "type": "object",
          "properties": {
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation for version above."
            },
            "gbImageRange": {
              "description": "Range in GB image format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string"
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "description": "The content ranges to identify the selected text."
        }
      },
      "id": "Volumeannotation"
    }
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "resources": {
    "mylibrary": {
      "resources": {
        "annotations": {
          "methods": {
            "list": {
              "parameterOrder": [],
              "parameters": {
                "updatedMax": {
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "type": "string"
                },
                "maxResults": {
                  "type": "integer",
                  "location": "query",
                  "format": "uint32",
                  "description": "Maximum number of results to return",
                  "maximum": "40",
                  "minimum": "0"
                },
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                },
                "volumeId": {
                  "location": "query",
                  "type": "string",
                  "description": "The volume to restrict annotations to."
                },
                "contentVersion": {
                  "location": "query",
                  "description": "The content version for the requested volume.",
                  "type": "string"
                },
                "layerId": {
                  "description": "The layer ID to limit annotation by.",
                  "type": "string",
                  "location": "query"
                },
                "showDeleted": {
                  "location": "query",
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                  "type": "boolean"
                },
                "updatedMin": {
                  "type": "string",
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive)."
                },
                "layerIds": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "The layer ID(s) to limit annotation by."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value of the nextToken from the previous page."
                }
              },
              "path": "books/v1/mylibrary/annotations",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/annotations",
              "response": {
                "$ref": "Annotations"
              },
              "description": "Retrieves a list of annotations, possibly filtered.",
              "httpMethod": "GET",
              "id": "books.mylibrary.annotations.list"
            },
            "delete": {
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                },
                "annotationId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID for the annotation to delete."
                }
              },
              "id": "books.mylibrary.annotations.delete",
              "parameterOrder": [
                "annotationId"
              ],
              "description": "Deletes an annotation.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "httpMethod": "DELETE"
            },
            "summary": {
              "description": "Gets the summary of specified layers.",
              "flatPath": "books/v1/mylibrary/annotations/summary",
              "response": {
                "$ref": "AnnotationsSummary"
              },
              "httpMethod": "POST",
              "id": "books.mylibrary.annotations.summary",
              "parameters": {
                "source": {
                  "description": "Optional. String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "layerIds": {
                  "location": "query",
                  "description": "Array of layer IDs to get the summary for.",
                  "required": true,
                  "type": "string",
                  "repeated": true
                },
                "volumeId": {
                  "location": "query",
                  "type": "string",
                  "description": "Volume id to get the summary for.",
                  "required": true
                }
              },
              "path": "books/v1/mylibrary/annotations/summary",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [
                "layerIds",
                "volumeId"
              ]
            },
            "insert": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Annotation"
              },
              "id": "books.mylibrary.annotations.insert",
              "path": "books/v1/mylibrary/annotations",
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "description": "Inserts a new annotation.",
              "parameters": {
                "source": {
                  "location": "query",
                  "type": "string",
                  "description": "String to identify the originator of this request."
                },
                "country": {
                  "description": "ISO-3166-1 code to override the IP-based location.",
                  "location": "query",
                  "type": "string"
                },
                "annotationId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID for the annotation to insert."
                },
                "showOnlySummaryInResponse": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Requests that only the summary of the specified layer be provided in the response."
                }
              },
              "flatPath": "books/v1/mylibrary/annotations",
              "response": {
                "$ref": "Annotation"
              }
            },
            "update": {
              "description": "Updates an existing annotation.",
              "parameters": {
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "annotationId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID for the annotation to update.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [
                "annotationId"
              ],
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "response": {
                "$ref": "Annotation"
              },
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "httpMethod": "PUT",
              "id": "books.mylibrary.annotations.update",
              "request": {
                "$ref": "Annotation"
              }
            }
          }
        },
        "bookshelves": {
          "resources": {
            "volumes": {
              "methods": {
                "list": {
                  "parameters": {
                    "maxResults": {
                      "minimum": "0",
                      "description": "Maximum number of results to return",
                      "type": "integer",
                      "location": "query",
                      "format": "uint32"
                    },
                    "shelf": {
                      "type": "string",
                      "description": "The bookshelf ID or name retrieve volumes for.",
                      "required": true,
                      "location": "path"
                    },
                    "showPreorders": {
                      "description": "Set to true to show pre-ordered books. Defaults to false.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "q": {
                      "type": "string",
                      "description": "Full-text search query string in this bookshelf.",
                      "location": "query"
                    },
                    "country": {
                      "type": "string",
                      "description": "ISO-3166-1 code to override the IP-based location.",
                      "location": "query"
                    },
                    "source": {
                      "description": "String to identify the originator of this request.",
                      "type": "string",
                      "location": "query"
                    },
                    "projection": {
                      "enum": [
                        "PROJECTION_UNDEFINED",
                        "FULL",
                        "LITE"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "",
                        "Includes all volume data.",
                        "Includes a subset of fields in volumeInfo and accessInfo."
                      ],
                      "type": "string",
                      "description": "Restrict information returned to a set of selected fields."
                    },
                    "startIndex": {
                      "minimum": "0",
                      "location": "query",
                      "format": "uint32",
                      "description": "Index of the first element to return (starts at 0)",
                      "type": "integer"
                    }
                  },
                  "description": "Gets volume information for volumes on a bookshelf.",
                  "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                  "response": {
                    "$ref": "Volumes"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/books"
                  ],
                  "parameterOrder": [
                    "shelf"
                  ],
                  "path": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                  "httpMethod": "GET",
                  "id": "books.mylibrary.bookshelves.volumes.list"
                }
              }
            }
          },
          "methods": {
            "removeVolume": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
              "parameterOrder": [
                "shelf",
                "volumeId"
              ],
              "description": "Removes a volume from a bookshelf.",
              "httpMethod": "POST",
              "parameters": {
                "shelf": {
                  "description": "ID of bookshelf from which to remove a volume.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "reason": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "REASON_UNDEFINED",
                    "ONBOARDING"
                  ],
                  "description": "The reason for which the book is removed from the library.",
                  "enumDescriptions": [
                    "",
                    "Samples removed from the Onboarding flow."
                  ]
                },
                "volumeId": {
                  "type": "string",
                  "description": "ID of volume to remove.",
                  "required": true,
                  "location": "query"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "books.mylibrary.bookshelves.removeVolume",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [],
              "id": "books.mylibrary.bookshelves.list",
              "flatPath": "books/v1/mylibrary/bookshelves",
              "response": {
                "$ref": "Bookshelves"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "GET",
              "path": "books/v1/mylibrary/bookshelves",
              "description": "Retrieves a list of bookshelves belonging to the authenticated user."
            },
            "clearVolumes": {
              "id": "books.mylibrary.bookshelves.clearVolumes",
              "description": "Clears all volumes from a bookshelf.",
              "path": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "shelf": {
                  "location": "path",
                  "type": "string",
                  "description": "ID of bookshelf from which to remove a volume.",
                  "required": true
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "shelf"
              ]
            },
            "get": {
              "description": "Retrieves metadata for a specific bookshelf belonging to the authenticated user.",
              "path": "books/v1/mylibrary/bookshelves/{shelf}",
              "parameters": {
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "shelf": {
                  "required": true,
                  "description": "ID of bookshelf to retrieve.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "id": "books.mylibrary.bookshelves.get",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}",
              "response": {
                "$ref": "Bookshelf"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [
                "shelf"
              ]
            },
            "addVolume": {
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "shelf": {
                  "required": true,
                  "type": "string",
                  "description": "ID of bookshelf to which to add a volume.",
                  "location": "path"
                },
                "source": {
                  "location": "query",
                  "type": "string",
                  "description": "String to identify the originator of this request."
                },
                "reason": {
                  "enumDescriptions": [
                    "",
                    "Volumes added from the PREX flow on iOS.",
                    "Volumes added from the Search flow on iOS.",
                    "Volumes added from the Onboarding flow."
                  ],
                  "type": "string",
[...]
