{
  "ownerName": "Google",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/books": {
          "description": "Manage your books"
        }
      }
    }
  },
  "version_module": true,
  "name": "books",
  "version": "v1",
  "discoveryVersion": "v1",
  "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "mtlsRootUrl": "https://books.mtls.googleapis.com/",
  "rootUrl": "https://books.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "description": "The Google Books API allows clients to access the Google Books repository.",
  "id": "books:v1",
  "schemas": {
    "Dictlayerdata": {
      "properties": {
        "kind": {
          "type": "string"
        },
        "dict": {
          "properties": {
            "words": {
              "items": {
                "properties": {
                  "source": {
                    "properties": {
                      "attribution": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    },
                    "type": "object",
                    "description": "The words with different meanings but not related words, e.g. \"go\" (game) and \"go\" (verb)."
                  },
                  "senses": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "pronunciationUrl": {
                          "type": "string"
                        },
                        "conjugations": {
                          "items": {
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "definitions": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "definition": {
                                "type": "string"
                              },
                              "examples": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "text": {
                                      "type": "string"
                                    },
                                    "source": {
                                      "type": "object",
                                      "properties": {
                                        "url": {
                                          "type": "string"
                                        },
                                        "attribution": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "type": "object"
                          }
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        },
                        "pronunciation": {
                          "type": "string"
                        },
                        "syllabification": {
                          "type": "string"
                        },
                        "partOfSpeech": {
                          "type": "string"
                        },
                        "synonyms": {
                          "items": {
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "source": {
                                "type": "object",
                                "properties": {
                                  "attribution": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      }
                    },
                    "type": "array"
                  },
                  "derivatives": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "source": {
                          "properties": {
                            "attribution": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "examples": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "properties": {
                            "attribution": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "source": {
              "properties": {
                "attribution": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "description": "The source, url and attribution for this dictionary data.",
              "type": "object"
            }
          },
          "type": "object"
        },
        "common": {
          "properties": {
            "title": {
              "type": "string",
              "description": "The display title and localized canonical name to use when searching for this entity on Google search."
            }
          },
          "type": "object"
        }
      },
      "id": "Dictlayerdata",
      "type": "object"
    },
    "GeoAnnotationdata": {
      "type": "object",
      "id": "GeoAnnotationdata",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string"
        },
        "annotationType": {
          "type": "string",
          "description": "The type of annotation this data is for."
        },
        "encodedData": {
          "format": "byte",
          "description": "Base64 encoded data for this annotation data.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format)."
        },
        "volumeId": {
          "type": "string",
          "description": "The volume id for this data. *"
        },
        "data": {
          "$ref": "Geolayerdata",
          "description": "JSON encoded data for this geo annotation data. Emitted with name 'data' in JSON output. Either this or dict_data will be populated."
        },
        "id": {
          "type": "string",
          "description": "Unique id for this annotation data."
        },
        "layerId": {
          "type": "string",
          "description": "The Layer id for this data. *"
        }
      }
    },
    "Seriesmembership": {
      "properties": {
        "member": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "nextPageToken": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resorce type."
        }
      },
      "id": "Seriesmembership",
      "type": "object"
    },
    "BooksVolumesRecommendedRateResponse": {
      "id": "BooksVolumesRecommendedRateResponse",
      "properties": {
        "consistency_token": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Bookshelves": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of bookshelves.",
          "items": {
            "$ref": "Bookshelf"
          }
        }
      },
      "id": "Bookshelves"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Annotation": {
      "properties": {
        "beforeSelectedText": {
          "description": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this annotation was modified."
        },
        "clientVersionRanges": {
          "properties": {
            "imageCfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in image CFI format for this annotation sent by client."
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "description": "Content version the client sent in.",
              "type": "string"
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation sent by client."
            }
          },
          "type": "object",
          "description": "Selection ranges sent from the client."
        },
        "afterSelectedText": {
          "description": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "data": {
          "description": "User-created data for this annotation.",
          "type": "string"
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean"
        },
        "currentVersionRanges": {
          "properties": {
            "imageCfiRange": {
              "description": "Range in image CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "cfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation for version above."
            },
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string"
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbImageRange": {
              "description": "Range in GB image format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "description": "Selection ranges for the most recent content version.",
          "type": "object"
        },
        "highlightStyle": {
          "type": "string",
          "description": "The highlight style for this annotation."
        },
        "selectedText": {
          "type": "string",
          "description": "Excerpt from the volume."
        },
        "selfLink": {
          "type": "string",
          "description": "URL to this resource."
        },
        "volumeId": {
          "description": "The volume that this annotation belongs to.",
          "type": "string"
        },
        "pageIds": {
          "description": "Pages that this annotation spans.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "Id of this annotation, in the form of a GUID.",
          "type": "string"
        },
        "created": {
          "description": "Timestamp for the created time of this annotation.",
          "type": "string"
        },
        "layerId": {
          "type": "string",
          "description": "The layer this annotation is for."
        },
        "layerSummary": {
          "type": "object",
          "properties": {
            "allowedCharacterCount": {
              "description": "Maximum allowed characters on this layer, especially for the \"copy\" layer.",
              "type": "integer",
              "format": "int32"
            },
            "remainingCharacterCount": {
              "description": "Remaining allowed characters on this layer, especially for the \"copy\" layer.",
              "type": "integer",
              "format": "int32"
            },
            "limitType": {
              "description": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer.",
              "type": "string"
            }
          }
        }
      },
      "id": "Annotation",
      "type": "object"
    },
    "Volumes": {
      "type": "object",
      "properties": {
        "totalItems": {
          "format": "int32",
          "description": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "description": "A list of volumes.",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        }
      },
      "id": "Volumes"
    },
    "FamilyInfo": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "membership": {
          "description": "Family membership info of the user that made the request.",
          "type": "object",
          "properties": {
            "ageGroup": {
              "description": "The age group of the user.",
              "type": "string"
            },
            "role": {
              "description": "The role of the user in the family.",
              "type": "string"
            },
            "acquirePermission": {
              "description": "Restrictions on user buying and acquiring content.",
              "type": "string"
            },
            "isInFamily": {
              "type": "boolean"
            },
            "allowedMaturityRating": {
              "type": "string",
              "description": "The maximum allowed maturity rating for the user."
            }
          }
        }
      },
      "id": "FamilyInfo"
    },
    "AnnotationsSummary": {
      "type": "object",
      "properties": {
        "layers": {
          "items": {
            "type": "object",
            "properties": {
              "limitType": {
                "type": "string"
              },
              "layerId": {
                "type": "string"
              },
              "updated": {
                "type": "string"
              },
              "allowedCharacterCount": {
                "type": "integer",
                "format": "int32"
              },
              "remainingCharacterCount": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "type": "array"
        },
        "kind": {
          "type": "string"
        }
      },
      "id": "AnnotationsSummary"
    },
    "Review": {
      "properties": {
        "type": {
          "description": "Source type for this review. Possible values are EDITORIAL, WEB_USER or GOOGLE_USER.",
          "type": "string"
        },
        "content": {
          "description": "Review text.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Volume that this review is for."
        },
        "fullTextUrl": {
          "description": "URL for the full review text, for reviews gathered from the web.",
          "type": "string"
        },
        "author": {
          "properties": {
            "displayName": {
              "type": "string",
              "description": "Name of this person."
            }
          },
          "description": "Author of this review.",
          "type": "object"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for a review."
        },
        "source": {
          "description": "Information regarding the source of this review, when the review is not from a Google Books user.",
          "type": "object",
          "properties": {
            "description": {
              "type": "string",
              "description": "Name of the source."
            },
            "url": {
              "type": "string",
              "description": "URL of the source of the review."
            },
            "extraDescription": {
              "description": "Extra text about the source of the review.",
              "type": "string"
            }
          }
        },
        "date": {
          "type": "string",
          "description": "Date of this review."
        },
        "title": {
          "description": "Title for this review.",
          "type": "string"
        },
        "rating": {
          "description": "Star rating for this review. Possible values are ONE, TWO, THREE, FOUR, FIVE or NOT_RATED.",
          "type": "string"
        }
      },
      "id": "Review",
      "type": "object"
    },
    "DownloadAccesses": {
      "properties": {
        "downloadAccessList": {
          "description": "A list of download access responses.",
          "items": {
            "$ref": "DownloadAccessRestriction"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "id": "DownloadAccesses",
      "type": "object"
    },
    "DictionaryAnnotationdata": {
      "type": "object",
      "properties": {
        "volumeId": {
          "type": "string",
          "description": "The volume id for this data. *"
        },
        "data": {
          "$ref": "Dictlayerdata",
          "description": "JSON encoded data for this dictionary annotation data. Emitted with name 'data' in JSON output. Either this or geo_data will be populated."
        },
        "id": {
          "type": "string",
          "description": "Unique id for this annotation data."
        },
        "layerId": {
          "type": "string",
          "description": "The Layer id for this data. *"
        },
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string"
        },
        "encodedData": {
          "format": "byte",
          "type": "string",
          "description": "Base64 encoded data for this annotation data."
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "selfLink": {
          "type": "string",
          "description": "URL for this resource. *"
        }
      },
      "id": "DictionaryAnnotationdata"
    },
    "Bookshelf": {
      "type": "object",
      "id": "Bookshelf",
      "properties": {
        "access": {
          "description": "Whether this bookshelf is PUBLIC or PRIVATE.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution)."
        },
        "volumeCount": {
          "type": "integer",
          "description": "Number of volumes in this bookshelf.",
          "format": "int32"
        },
        "selfLink": {
          "type": "string",
          "description": "URL to this resource."
        },
        "title": {
          "type": "string",
          "description": "Title of this bookshelf."
        },
        "kind": {
          "description": "Resource type for bookshelf metadata.",
          "type": "string"
        },
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "Id of this bookshelf, only unique by user."
        },
        "created": {
          "type": "string",
          "description": "Created time for this bookshelf (formatted UTC timestamp with millisecond resolution)."
        },
        "description": {
          "type": "string",
          "description": "Description of this bookshelf."
        },
        "volumesLastUpdated": {
          "description": "Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        }
      }
    },
    "Geolayerdata": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string"
        },
        "common": {
          "type": "object",
          "properties": {
            "snippetUrl": {
              "description": "The URL for information for this location. Ex: wikipedia link.",
              "type": "string"
            },
            "lang": {
              "type": "string",
              "description": "The language of the information url and description."
            },
            "snippet": {
              "description": "The description for this location.",
              "type": "string"
            },
            "title": {
              "description": "The display title and localized canonical name to use when searching for this entity on Google search.",
              "type": "string"
            },
            "previewImageUrl": {
              "type": "string",
              "description": "The URL for the preview image information."
            }
          }
        },
        "geo": {
          "properties": {
            "boundary": {
              "description": "The boundary of the location as a set of loops containing pairs of latitude, longitude coordinates.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "zoom": {
              "description": "The Zoom level to use for the map. Zoom levels between 0 (the lowest zoom level, in which the entire world can be seen on one map) to 21+ (down to individual buildings). See: https: //developers.google.com/maps/documentation/staticmaps/#Zoomlevels",
              "type": "integer",
              "format": "int32"
            },
            "latitude": {
              "type": "number",
              "description": "The latitude of the location.",
              "format": "double"
            },
            "viewport": {
              "properties": {
                "hi": {
                  "type": "object",
                  "properties": {
                    "longitude": {
                      "type": "number",
                      "format": "double"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "double"
                    }
                  }
                },
                "lo": {
                  "type": "object",
                  "properties": {
                    "longitude": {
                      "type": "number",
                      "format": "double"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "double"
                    }
                  }
                }
              },
              "description": "The viewport for showing this location. This is a latitude, longitude rectangle.",
              "type": "object"
            },
            "mapType": {
              "description": "The type of map that should be used for this location. EX: HYBRID, ROADMAP, SATELLITE, TERRAIN",
              "type": "string"
            },
            "longitude": {
              "format": "double",
              "description": "The longitude of the location.",
              "type": "number"
            },
            "countryCode": {
              "description": "The country code of the location.",
              "type": "string"
            },
            "cachePolicy": {
              "type": "string",
              "description": "The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER"
            }
          },
          "type": "object"
        }
      },
      "id": "Geolayerdata"
    },
    "Annotations": {
      "id": "Annotations",
      "properties": {
        "totalItems": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "description": "A list of annotations.",
          "items": {
            "$ref": "Annotation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Volume2": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "description": "A list of volumes.",
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "Volume2"
    },
    "Volume": {
      "type": "object",
      "properties": {
        "searchInfo": {
          "type": "object",
          "description": "Search result information related to this volume.",
          "properties": {
            "textSnippet": {
              "description": "A text snippet containing the search query.",
              "type": "string"
            }
          }
        },
        "recommendedInfo": {
          "properties": {
            "explanation": {
              "description": "A text explaining why this volume is recommended.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Recommendation related information for this volume."
        },
        "selfLink": {
          "description": "URL to this resource. (In LITE projection.)",
          "type": "string"
        },
        "accessInfo": {
          "properties": {
            "embeddable": {
              "type": "boolean",
              "description": "Whether this volume can be embedded in a viewport using the Embedded Viewer API."
            },
            "driveImportedContentLink": {
              "description": "URL to the Google Drive viewer if this volume is uploaded by the user by selecting the file from Google Drive.",
              "type": "string"
            },
            "country": {
              "type": "string",
              "description": "The two-letter ISO_3166-1 country code for which this access information is valid. (In LITE projection.)"
            },
            "webReaderLink": {
              "description": "URL to read this volume on the Google Books site. Link will not allow users to read non-viewable volumes.",
              "type": "string"
            },
            "epub": {
              "properties": {
                "acsTokenLink": {
                  "type": "string",
                  "description": "URL to retrieve ACS token for epub download. (In LITE projection.)"
                },
                "isAvailable": {
                  "description": "Is a flowing text epub available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                },
                "downloadLink": {
                  "type": "string",
                  "description": "URL to download epub. (In LITE projection.)"
                }
              },
              "description": "Information about epub content. (In LITE projection.)",
              "type": "object"
            },
            "viewability": {
              "type": "string",
              "description": "The read access of a volume. Possible values are PARTIAL, ALL_PAGES, NO_PAGES or UNKNOWN. This value depends on the country listed above. A value of PARTIAL means that the publisher has allowed some portion of the volume to be viewed publicly, without purchase. This can apply to eBooks as well as non-eBooks. Public domain books will always have a value of ALL_PAGES."
            },
            "publicDomain": {
              "description": "Whether or not this book is public domain in the country listed above.",
              "type": "boolean"
            },
            "downloadAccess": {
              "$ref": "DownloadAccessRestriction",
              "description": "Information about a volume's download license access restrictions."
            },
            "pdf": {
              "properties": {
                "downloadLink": {
                  "description": "URL to download pdf. (In LITE projection.)",
                  "type": "string"
                },
                "acsTokenLink": {
                  "type": "string",
                  "description": "URL to retrieve ACS token for pdf download. (In LITE projection.)"
                },
                "isAvailable": {
                  "type": "boolean",
                  "description": "Is a scanned image pdf available either as public domain or for purchase. (In LITE projection.)"
                }
              },
              "description": "Information about pdf content. (In LITE projection.)",
              "type": "object"
            },
            "textToSpeechPermission": {
              "description": "Whether text-to-speech is permitted for this volume. Values can be ALLOWED, ALLOWED_FOR_ACCESSIBILITY, or NOT_ALLOWED.",
              "type": "string"
            },
            "explicitOfflineLicenseManagement": {
              "type": "boolean",
              "description": "Whether this volume requires that the client explicitly request offline download license rather than have it done automatically when loading the content, if the client supports it."
            },
            "quoteSharingAllowed": {
              "type": "boolean",
              "description": "Whether quote sharing is allowed for this volume."
            },
            "accessViewStatus": {
              "description": "Combines the access and viewability of this volume into a single status field for this user. Values can be FULL_PURCHASED, FULL_PUBLIC_DOMAIN, SAMPLE or NONE. (In LITE projection.)",
              "type": "string"
            },
            "viewOrderUrl": {
              "description": "For ordered but not yet processed orders, we give a URL that can be used to go to the appropriate Google Wallet page.",
              "type": "string"
            }
          },
          "description": "Any information about a volume related to reading or obtaining that volume text. This information can depend on country (books may be public domain in one country but not in another, e.g.).",
          "type": "object"
        },
        "kind": {
          "description": "Resource type for a volume. (In LITE projection.)",
          "type": "string"
        },
        "userInfo": {
          "properties": {
            "isInMyBooks": {
              "description": "Whether or not this volume is currently in \"my books.\"",
              "type": "boolean"
            },
            "userUploadedVolumeInfo": {
              "type": "object",
              "properties": {
                "processingState": {
                  "type": "string"
                }
              }
            },
            "copy": {
              "description": "Copy/Paste accounting information.",
              "type": "object",
              "properties": {
                "updated": {
                  "type": "string"
                },
                "limitType": {
                  "type": "string"
                },
                "remainingCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "allowedCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "review": {
              "description": "This user's review of this volume, if one exists.",
              "$ref": "Review"
            },
            "isFamilySharedFromUser": {
              "description": "Whether or not the user shared this volume with the family.",
              "type": "boolean"
            },
            "isPreordered": {
              "type": "boolean",
              "description": "Whether or not this volume was pre-ordered by the authenticated user making the request. (In LITE projection.)"
            },
            "entitlementType": {
              "type": "integer",
              "description": "Whether this volume is purchased, sample, pd download etc.",
              "format": "int32"
            },
            "readingPosition": {
              "description": "The user's current reading position in the volume, if one is available. (In LITE projection.)",
              "$ref": "ReadingPosition"
            },
            "rentalState": {
              "type": "string",
              "description": "Whether this book is an active or an expired rental."
            },
            "updated": {
              "description": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format).",
              "type": "string"
            },
            "isFamilySharedToUser": {
              "description": "Whether or not the user received this volume through family sharing.",
              "type": "boolean"
            },
            "rentalPeriod": {
              "type": "object",
              "description": "Period during this book is/was a valid rental.",
              "properties": {
                "startUtcSec": {
                  "type": "string",
                  "format": "int64"
                },
                "endUtcSec": {
                  "type": "string",
                  "format": "int64"
                }
              }
            },
            "acquiredTime": {
              "type": "string",
              "description": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc."
            },
            "familySharing": {
              "type": "object",
              "description": "Information on the ability to share with the family.",
              "properties": {
                "isSharingDisabledByFop": {
                  "description": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet.",
                  "type": "boolean"
                },
                "isSharingAllowed": {
                  "description": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action.",
                  "type": "boolean"
                },
                "familyRole": {
                  "description": "The role of the user in the family.",
                  "type": "string"
                }
              }
            },
            "acquisitionType": {
              "description": "How this volume was acquired.",
              "type": "integer",
              "format": "int32"
            },
            "isUploaded": {
              "description": "Whether or not this volume was user uploaded.",
              "type": "boolean"
            },
            "isPurchased": {
              "description": "Whether or not this volume was purchased by the authenticated user making the request. (In LITE projection.)",
              "type": "boolean"
            },
            "isFamilySharingAllowed": {
              "type": "boolean",
              "description": "Deprecated: Replaced by familySharing."
            },
            "isFamilySharingDisabledByFop": {
              "type": "boolean",
              "description": "Deprecated: Replaced by familySharing."
            }
          },
          "type": "object",
          "description": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)"
        },
        "layerInfo": {
          "description": "What layers exist in this volume and high level information about them.",
          "type": "object",
          "properties": {
            "layers": {
              "description": "A layer should appear here if and only if the layer exists for this book.",
              "items": {
                "type": "object",
                "properties": {
                  "layerId": {
                    "type": "string",
                    "description": "The layer id of this layer (e.g. \"geo\")."
                  },
                  "volumeAnnotationsVersion": {
                    "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
                    "type": "string"
                  }
                }
              },
              "type": "array"
            }
          }
        },
        "volumeInfo": {
          "description": "General volume information.",
          "type": "object",
          "properties": {
            "printType": {
              "type": "string",
              "description": "Type of publication of this volume. Possible values are BOOK or MAGAZINE."
            },
            "subtitle": {
              "type": "string",
              "description": "Volume subtitle. (In LITE projection.)"
            },
            "industryIdentifiers": {
              "description": "Industry standard identifiers for this volume.",
              "items": {
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Identifier type. Possible values are ISBN_10, ISBN_13, ISSN and OTHER."
                  },
                  "identifier": {
                    "type": "string",
                    "description": "Industry specific volume identifier."
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "averageRating": {
              "format": "double",
              "description": "The mean review rating for this volume. (min = 1.0, max = 5.0)",
              "type": "number"
            },
            "readingModes": {
              "properties": {
                "text": {
                  "type": "boolean"
                },
                "image": {
                  "type": "boolean"
                }
              },
              "description": "The reading modes available for this volume.",
              "type": "object"
            },
            "dimensions": {
              "type": "object",
              "description": "Physical dimensions of this volume.",
              "properties": {
                "height": {
                  "description": "Height or length of this volume (in cm).",
                  "type": "string"
                },
                "width": {
                  "description": "Width of this volume (in cm).",
                  "type": "string"
                },
                "thickness": {
                  "type": "string",
                  "description": "Thickness of this volume (in cm)."
                }
              }
            },
            "categories": {
              "type": "array",
              "description": "A list of subject categories, such as \"Fiction\", \"Suspense\", etc.",
              "items": {
                "type": "string"
              }
            },
            "comicsContent": {
              "type": "boolean",
              "description": "Whether the volume has comics content."
            },
            "maturityRating": {
              "type": "string"
            },
            "contentVersion": {
              "description": "An identifier for the version of the volume content (text & images). (In LITE projection)",
              "type": "string"
            },
            "imageLinks": {
              "properties": {
                "small": {
                  "type": "string",
                  "description": "Image link for small size (width of ~300 pixels). (In LITE projection)"
                },
                "medium": {
                  "type": "string",
                  "description": "Image link for medium size (width of ~575 pixels). (In LITE projection)"
                },
                "extraLarge": {
                  "type": "string",
                  "description": "Image link for extra large size (width of ~1280 pixels). (In LITE projection)"
                },
                "thumbnail": {
                  "description": "Image link for thumbnail size (width of ~128 pixels). (In LITE projection)",
                  "type": "string"
                },
                "smallThumbnail": {
                  "description": "Image link for small thumbnail size (width of ~80 pixels). (In LITE projection)",
                  "type": "string"
                },
                "large": {
                  "description": "Image link for large size (width of ~800 pixels). (In LITE projection)",
                  "type": "string"
                }
              },
              "description": "A list of image links for all the sizes that are available. (In LITE projection.)",
              "type": "object"
            },
            "printedPageCount": {
              "format": "int32",
              "type": "integer",
              "description": "Total number of printed pages in generated pdf representation."
            },
            "publishedDate": {
              "description": "Date of publication. (In LITE projection.)",
              "type": "string"
            },
            "pageCount": {
              "format": "int32",
              "description": "Total number of pages as per publisher metadata.",
              "type": "integer"
            },
            "allowAnonLogging": {
              "description": "Whether anonymous logging should be allowed.",
              "type": "boolean"
            },
            "publisher": {
              "type": "string",
              "description": "Publisher of this volume. (In LITE projection.)"
            },
            "title": {
              "description": "Volume title. (In LITE projection.)",
              "type": "string"
            },
            "infoLink": {
              "type": "string",
              "description": "URL to view information about this volume on the Google Books site. (In LITE projection)"
            },
            "samplePageCount": {
              "format": "int32",
              "description": "Total number of sample pages as per publisher metadata.",
              "type": "integer"
            },
            "mainCategory": {
              "description": "The main category to which this volume belongs. It will be the category from the categories list returned below that has the highest weight.",
              "type": "string"
            },
            "language": {
              "description": "Best language for this volume (based on content). It is the two-letter ISO 639-1 code such as 'fr', 'en', etc.",
              "type": "string"
            },
            "canonicalVolumeLink": {
              "description": "Canonical URL for a volume. (In LITE projection.)",
              "type": "string"
            },
            "description": {
              "type": "string",
              "description": "A synopsis of the volume. The text of the description is formatted in HTML and includes simple formatting elements, such as b, i, and br tags. (In LITE projection.)"
            },
            "ratingsCount": {
              "format": "int32",
              "description": "The number of review ratings for this volume.",
              "type": "integer"
            },
            "authors": {
              "description": "The names of the authors and/or editors for this volume. (In LITE projection)",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "seriesInfo": {
              "$ref": "Volumeseriesinfo"
            },
            "panelizationSummary": {
              "properties": {
                "containsImageBubbles": {
                  "type": "boolean"
                },
                "epubBubbleVersion": {
                  "type": "string"
                },
                "imageBubbleVersion": {
                  "type": "string"
                },
                "containsEpubBubbles": {
                  "type": "boolean"
                }
              },
              "type": "object",
              "description": "A top-level summary of the panelization info in this volume."
            },
            "previewLink": {
              "description": "URL to preview this volume on the Google Books site.",
              "type": "string"
            }
          }
        },
        "etag": {
          "description": "Opaque identifier for a specific version of a volume resource. (In LITE projection)",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for a volume. (In LITE projection.)",
          "type": "string"
        },
        "saleInfo": {
          "properties": {
            "country": {
              "description": "The two-letter ISO_3166-1 country code for which this sale information is valid. (In LITE projection.)",
              "type": "string"
            },
            "retailPrice": {
              "description": "The actual selling price of the book. This is the same as the suggested retail or list price unless there are offers or discounts on this volume. (In LITE projection.)",
              "type": "object",
              "properties": {
                "amount": {
                  "description": "Amount in the currency listed below. (In LITE projection.)",
                  "type": "number",
                  "format": "double"
                },
                "currencyCode": {
                  "type": "string",
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)"
                }
              }
            },
            "offers": {
              "type": "array",
              "description": "Offers available for this volume (sales and rentals).",
              "items": {
                "properties": {
                  "listPrice": {
                    "properties": {
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    },
                    "type": "object",
                    "description": "Offer list (=undiscounted) price in Micros."
                  },
                  "finskyOfferType": {
                    "format": "int32",
                    "type": "integer",
                    "description": "The finsky offer type (e.g., PURCHASE=0 RENTAL=3)"
                  },
                  "giftable": {
                    "type": "boolean",
                    "description": "Indicates whether the offer is giftable."
                  },
                  "retailPrice": {
                    "type": "object",
                    "description": "Offer retail (=discounted) price in Micros",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    }
                  },
                  "rentalDuration": {
                    "properties": {
                      "unit": {
                        "type": "string"
                      },
                      "count": {
                        "type": "number",
                        "format": "double"
                      }
                    },
                    "type": "object",
                    "description": "The rental duration (for rental offers only)."
                  }
                },
                "type": "object"
              }
            },
            "buyLink": {
              "description": "URL to purchase this volume on the Google Books site. (In LITE projection)",
              "type": "string"
            },
            "listPrice": {
              "properties": {
                "amount": {
                  "description": "Amount in the currency listed below. (In LITE projection.)",
                  "type": "number",
                  "format": "double"
                },
                "currencyCode": {
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                  "type": "string"
                }
              },
              "type": "object",
              "description": "Suggested retail price. (In LITE projection.)"
            },
            "saleability": {
              "description": "Whether or not this book is available for sale or offered for free in the Google eBookstore for the country listed above. Possible values are FOR_SALE, FOR_RENTAL_ONLY, FOR_SALE_AND_RENTAL, FREE, NOT_FOR_SALE, or FOR_PREORDER.",
              "type": "string"
            },
            "isEbook": {
              "description": "Whether or not this volume is an eBook (can be added to the My eBooks shelf).",
              "type": "boolean"
            },
            "onSaleDate": {
              "description": "The date on which this book is available for sale.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Any information about a volume related to the eBookstore and/or purchaseability. This information can depend on the country where the request originates from (i.e. books may not be for sale in certain countries)."
        }
      },
      "id": "Volume"
    },
    "RequestAccessData": {
      "type": "object",
      "properties": {
        "concurrentAccess": {
          "description": "A concurrent access response.",
          "$ref": "ConcurrentAccessRestriction"
        },
        "downloadAccess": {
          "$ref": "DownloadAccessRestriction",
          "description": "A download access response."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "id": "RequestAccessData"
    },
    "Series": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "series": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "bannerImageUrl": {
                "type": "string"
              },
              "imageUrl": {
                "type": "string"
              },
              "seriesType": {
                "type": "string"
              },
              "seriesId": {
                "type": "string"
              },
              "eligibleForSubscription": {
                "type": "boolean"
              },
              "subscriptionId": {
                "type": "string"
              },
              "isComplete": {
                "type": "boolean"
              },
              "title": {
                "type": "string"
              },
              "seriesSubscriptionReleaseInfo": {
                "properties": {
                  "seriesSubscriptionType": {
                    "type": "string"
                  },
                  "currentReleaseInfo": {
                    "type": "object",
                    "properties": {
                      "releaseTime": {
                        "type": "string"
                      },
                      "currencyCode": {
                        "type": "string"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    }
                  },
                  "cancelTime": {
                    "type": "string"
                  },
                  "nextReleaseInfo": {
                    "properties": {
                      "releaseNumber": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      },
                      "releaseTime": {
                        "type": "string"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              },
              "seriesFormatType": {
                "type": "string"
              }
            }
          }
        }
      },
      "id": "Series"
    },
    "Discoveryclusters": {
      "properties": {
        "totalClusters": {
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Resorce type."
        },
        "clusters": {
          "items": {
            "type": "object",
            "properties": {
              "volumes": {
                "items": {
                  "$ref": "Volume"
                },
                "type": "array"
              },
              "banner_with_content_container": {
                "properties": {
                  "imageUrl": {
                    "type": "string"
                  },
                  "moreButtonUrl": {
                    "type": "string"
                  },
                  "moreButtonText": {
                    "type": "string"
                  },
                  "textColorArgb": {
                    "type": "string"
                  },
                  "fillColorArgb": {
                    "type": "string"
                  },
                  "maskColorArgb": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "subTitle": {
                "type": "string"
              },
              "uid": {
                "type": "string"
              },
              "totalVolumes": {
                "type": "integer",
                "format": "int32"
              },
              "title": {
                "type": "string"
              }
            }
          },
          "type": "array"
        }
      },
      "id": "Discoveryclusters",
      "type": "object"
    },
    "BooksCloudloadingResource": {
      "type": "object",
      "id": "BooksCloudloadingResource",
      "properties": {
        "volumeId": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "author": {
          "type": "string"
        },
        "processingState": {
          "type": "string"
        }
      }
    },
    "Notification": {
      "id": "Notification",
      "properties": {
        "targetUrl": {
          "type": "string"
        },
        "pcampaign_id": {
          "type": "string"
        },
        "notification_type": {
          "type": "string"
        },
        "doc_type": {
          "type": "string"
        },
        "doc_id": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "notificationGroup": {
          "type": "string"
        },
        "crmExperimentIds": {
          "type": "array",
          "description": "The list of crm experiment ids.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "show_notification_settings_action": {
          "type": "boolean"
        },
        "timeToExpireMs": {
          "type": "string",
          "format": "int64"
        },
        "title": {
          "type": "string"
        },
        "dont_show_notification": {
          "type": "boolean"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "iconUrl": {
          "type": "string"
        },
        "is_document_mature": {
          "type": "boolean"
        },
        "reason": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Layersummary": {
      "type": "object",
      "properties": {
        "volumeId": {
          "type": "string",
          "description": "The volume id this resource is for."
        },
        "id": {
          "description": "Unique id of this layer summary.",
          "type": "string"
        },
        "layerId": {
          "type": "string",
          "description": "The layer id for this summary."
        },
        "annotationCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of annotations for this layer."
        },
        "contentVersion": {
          "description": "The content version this resource is for.",
          "type": "string"
        },
        "annotationTypes": {
          "type": "array",
          "description": "The list of annotation types contained for this layer.",
          "items": {
            "type": "string"
          }
        },
        "dataCount": {
          "type": "integer",
          "description": "The number of data items for this layer.",
          "format": "int32"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "annotationsLink": {
          "description": "The link to get the annotations for this layer.",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time an item in this layer was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "volumeAnnotationsVersion": {
          "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
          "type": "string"
        },
        "annotationsDataLink": {
          "type": "string",
          "description": "Link to get data for this annotation."
        }
      },
      "id": "Layersummary"
    },
    "Category": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "type": "array",
          "description": "A list of onboarding categories.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "badgeUrl": {
                "type": "string"
              },
              "categoryId": {
                "type": "string"
              }
            }
          }
        }
      },
      "id": "Category"
    },
    "DownloadAccessRestriction": {
      "id": "DownloadAccessRestriction",
      "properties": {
        "reasonCode": {
          "description": "Error/warning reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Client app identifier for verification. Download access and client-validation only."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "deviceAllowed": {
          "description": "If restricted, whether access is granted for this (user, device, volume).",
          "type": "boolean"
        },
        "justAcquired": {
          "type": "boolean",
          "description": "If deviceAllowed, whether access was just acquired with this request."
        },
        "nonce": {
          "type": "string",
          "description": "Client nonce for verification. Download access and client-validation only."
        },
        "signature": {
          "type": "string",
          "description": "Response signature."
        },
        "downloadsAcquired": {
          "format": "int32",
          "description": "If restricted, the number of content download licenses already acquired (including the requesting client, if licensed).",
          "type": "integer"
        },
        "restricted": {
          "type": "boolean",
          "description": "Whether this volume has any download access restrictions."
        },
        "maxDownloadDevices": {
          "description": "If restricted, the maximum number of content download licenses for this volume.",
          "type": "integer",
          "format": "int32"
        },
        "volumeId": {
          "type": "string",
          "description": "Identifies the volume for which this entry applies."
        },
        "message": {
          "description": "Error/warning message.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Annotationsdata": {
      "id": "Annotationsdata",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type"
        },
        "items": {
          "type": "array",
          "description": "A list of Annotation Data.",
          "items": {
            "$ref": "GeoAnnotationdata"
          }
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "totalItems": {
          "type": "integer",
          "description": "The total number of volume annotations found.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ReadingPosition": {
      "id": "ReadingPosition",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type for a reading position."
        },
        "epubCfiPosition": {
          "description": "Position in an EPUB as a CFI.",
          "type": "string"
        },
        "gbImagePosition": {
          "description": "Position in a volume for image-based content.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp when this reading position was last updated (formatted UTC timestamp with millisecond resolution)."
        },
        "pdfPosition": {
          "description": "Position in a PDF file.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "Volume id associated with this reading position."
        },
        "gbTextPosition": {
          "type": "string",
          "description": "Position in a volume for text-based content."
        }
      },
      "type": "object"
    },
    "BooksAnnotationsRange": {
      "id": "BooksAnnotationsRange",
      "properties": {
        "startPosition": {
          "description": "The starting position for the range.",
          "type": "string"
        },
        "endOffset": {
          "description": "The offset from the ending position.",
          "type": "string"
        },
        "startOffset": {
          "type": "string",
          "description": "The offset from the starting position."
        },
        "endPosition": {
          "type": "string",
          "description": "The ending position for the range."
        }
      },
      "type": "object"
    },
    "Layersummaries": {
      "type": "object",
      "id": "Layersummaries",
      "properties": {
        "totalItems": {
          "description": "The total number of layer summaries found.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "description": "A list of layer summary items.",
          "items": {
            "$ref": "Layersummary"
          },
          "type": "array"
        }
      }
    },
    "Volumeseriesinfo": {
      "type": "object",
      "id": "Volumeseriesinfo",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "shortSeriesBookTitle": {
          "description": "Short book title in the context of the series.",
          "type": "string"
        },
        "volumeSeries": {
          "type": "array",
          "items": {
            "properties": {
              "seriesBookType": {
                "description": "The book type in the context of series. Examples - Single Issue, Collection Edition, etc.",
                "type": "string"
              },
              "orderNumber": {
                "format": "int32",
                "description": "The book order number in the series.",
                "type": "integer"
              },
              "issue": {
                "description": "List of issues. Applicable only for Collection Edition and Omnibus.",
                "items": {
                  "properties": {
                    "issueOrderNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "issueDisplayNumber": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "seriesId": {
                "description": "The series id.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "bookDisplayNumber": {
          "type": "string",
          "description": "The display number string. This should be used only for display purposes and the actual sequence should be inferred from the below orderNumber."
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "items": {
          "type": "array",
          "description": "A list of offline dictionary metadata.",
          "items": {
            "properties": {
              "download_url": {
                "type": "string"
              },
              "version": {
                "type": "string",
                "format": "int64"
              },
              "encrypted_key": {
                "type": "string"
              },
              "language": {
                "type": "string"
              },
              "size": {
                "type": "string",
                "format": "int64"
              }
            },
            "type": "object"
          }
        }
      },
      "type": "object"
    },
    "Volumeannotations": {
      "id": "Volumeannotations",
      "properties": {
        "totalItems": {
          "type": "integer",
          "description": "The total number of volume annotations found.",
          "format": "int32"
        },
        "version": {
          "description": "The version string for all of the volume annotations in this layer (not just the ones in this response). Note: the version string doesn't apply to the annotation data, just the information in this response (e.g. the location of annotations in the book).",
          "type": "string"
        },
        "kind": {
          "description": "Resource type",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "items": {
          "description": "A list of volume annotations.",
          "items": {
            "$ref": "Volumeannotation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Offers": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of offers.",
          "items": {
            "type": "object",
            "properties": {
              "artUrl": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "coverUrl": {
                      "type": "string"
                    },
                    "author": {
                      "type": "string"
                    },
                    "volumeId": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "canonicalVolumeLink": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    }
                  }
                }
              },
              "gservicesKey": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          }
        }
      },
      "id": "Offers",
      "type": "object"
    },
    "ConcurrentAccessRestriction": {
      "type": "object",
      "properties": {
        "reasonCode": {
          "type": "string",
          "description": "Error/warning reason code."
        },
        "timeWindowSeconds": {
          "format": "int32",
          "description": "Time in seconds for license auto-expiration.",
          "type": "integer"
        },
        "source": {
          "description": "Client app identifier for verification. Download access and client-validation only.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "deviceAllowed": {
          "description": "Whether access is granted for this (user, device, volume).",
          "type": "boolean"
        },
        "nonce": {
          "type": "string",
          "description": "Client nonce for verification. Download access and client-validation only."
        },
        "signature": {
          "type": "string",
          "description": "Response signature."
        },
        "restricted": {
          "type": "boolean",
          "description": "Whether this volume has any concurrent access restrictions."
        },
        "message": {
          "type": "string",
          "description": "Error/warning message."
        },
        "volumeId": {
          "type": "string",
          "description": "Identifies the volume for which this entry applies."
        },
        "maxConcurrentDevices": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of concurrent access licenses for this volume."
        }
      },
      "id": "ConcurrentAccessRestriction"
    },
    "Volumeannotation": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id of this volume annotation.",
          "type": "string"
        },
        "layerId": {
          "description": "The Layer this annotation is for.",
          "type": "string"
        },
        "contentRanges": {
          "type": "object",
          "description": "The content ranges to identify the selected text.",
          "properties": {
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string"
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbImageRange": {
              "description": "Range in GB image format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            }
          }
        },
        "pageIds": {
          "type": "array",
          "description": "Pages the annotation spans.",
          "items": {
            "type": "string"
          }
        },
        "volumeId": {
          "description": "The Volume this annotation is for.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "selectedText": {
          "type": "string",
          "description": "Excerpt from the volume."
        },
        "deleted": {
          "type": "boolean",
          "description": "Indicates that this annotation is deleted."
        },
        "annotationType": {
          "type": "string",
          "description": "The type of annotation this is."
        },
        "annotationDataId": {
          "type": "string",
          "description": "The annotation data id for this volume annotation."
        },
        "annotationDataLink": {
          "description": "Link to get data for this annotation.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "Data for this annotation."
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time this anntoation was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        }
      },
      "id": "Volumeannotation"
    },
    "Usersettings": {
      "id": "Usersettings",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "notesExport": {
          "properties": {
            "isEnabled": {
              "type": "boolean"
            },
            "folderName": {
              "type": "string"
            }
          },
          "type": "object",
          "description": "User settings in sub-objects, each for different purposes."
        },
        "notification": {
          "type": "object",
          "properties": {
            "moreFromSeries": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "rewardExpirations": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "matchMyInterests": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "priceDrop": {
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "moreFromAuthors": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "familysharing": {
      "methods": {
        "share": {
          "parameters": {
            "docId": {
              "description": "The docid to share.",
              "type": "string",
              "location": "query"
            },
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            },
            "volumeId": {
              "location": "query",
              "description": "The volume to share.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/familysharing/share",
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "books.familysharing.share",
          "path": "books/v1/familysharing/share",
          "description": "Initiates sharing of the content with the user's family. Empty response indicates success.",
          "response": {
            "$ref": "Empty"
          }
        },
        "getFamilyInfo": {
          "parameters": {
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/familysharing/getFamilyInfo",
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "books.familysharing.getFamilyInfo",
          "path": "books/v1/familysharing/getFamilyInfo",
          "description": "Gets information regarding the family that the user is part of.",
          "response": {
            "$ref": "FamilyInfo"
          }
        },
        "unshare": {
          "httpMethod": "POST",
          "path": "books/v1/familysharing/unshare",
          "description": "Initiates revoking content that has already been shared with the user's family. Empty response indicates success.",
          "response": {
            "$ref": "Empty"
          },
          "id": "books.familysharing.unshare",
          "parameters": {
            "docId": {
              "location": "query",
              "description": "The docid to unshare.",
              "type": "string"
            },
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            },
            "volumeId": {
              "description": "The volume to unshare.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/familysharing/unshare",
          "parameterOrder": []
        }
      }
    },
    "notification": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Notification"
          },
          "path": "books/v1/notification/get",
          "description": "Returns notification details for a given notification id.",
          "id": "books.notification.get",
          "httpMethod": "GET",
          "flatPath": "books/v1/notification/get",
          "parameterOrder": [
            "notification_id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "notification_id": {
              "description": "String to identify the notification.",
              "type": "string",
              "location": "query",
              "required": true
            },
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            },
            "locale": {
              "location": "query",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating notification title and body.",
              "type": "string"
            }
          }
        }
      }
    },
    "dictionary": {
      "methods": {
        "listOfflineMetadata": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/dictionary/listOfflineMetadata",
          "parameterOrder": [
            "cpksver"
          ],
          "parameters": {
            "cpksver": {
              "type": "string",
              "description": "The device/version ID from which to request the data.",
              "required": true,
              "location": "query"
            }
          },
          "path": "books/v1/dictionary/listOfflineMetadata",
          "description": "Returns a list of offline dictionary metadata available",
          "response": {
            "$ref": "Metadata"
          },
          "id": "books.dictionary.listOfflineMetadata",
          "httpMethod": "GET"
        }
      }
    },
    "personalizedstream": {
      "methods": {
        "get": {
          "id": "books.personalizedstream.get",
          "path": "books/v1/personalizedstream/get",
          "description": "Returns a stream of personalized book clusters",
          "response": {
            "$ref": "Discoveryclusters"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/personalizedstream/get",
          "parameterOrder": [],
          "parameters": {
            "locale": {
              "type": "string",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
              "location": "query"
            },
            "maxAllowedMaturityRating": {
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
              "location": "query",
              "type": "string",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ]
            },
            "source": {
              "location": "query",
              "type": "string",
              "description": "String to identify the originator of this request."
            }
          }
        }
      }
    },
    "cloudloading": {
      "methods": {
        "addBook": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/cloudloading/addBook",
          "parameterOrder": [],
          "parameters": {
            "mime_type": {
              "description": "The document MIME type. It can be set only if the drive_document_id is set.",
              "type": "string",
              "location": "query"
            },
            "drive_document_id": {
              "location": "query",
              "type": "string",
              "description": "A drive document id. The upload_client_token must not be set."
            },
            "upload_client_token": {
              "location": "query",
              "type": "string",
              "description": "Scotty upload token."
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "The document name. It can be set only if the drive_document_id is set."
            }
          },
          "id": "books.cloudloading.addBook",
          "path": "books/v1/cloudloading/addBook",
          "description": "Add a user-upload volume and triggers processing.",
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "httpMethod": "POST"
        },
        "deleteBook": {
          "id": "books.cloudloading.deleteBook",
          "response": {
            "$ref": "Empty"
          },
          "path": "books/v1/cloudloading/deleteBook",
          "description": "Remove the book and its contents",
          "httpMethod": "POST",
          "flatPath": "books/v1/cloudloading/deleteBook",
          "parameterOrder": [
            "volumeId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "volumeId": {
              "description": "The id of the book to be removed.",
              "type": "string",
              "location": "query",
              "required": true
            }
          }
        },
        "updateBook": {
          "httpMethod": "POST",
          "path": "books/v1/cloudloading/updateBook",
          "description": "Updates a user-upload volume.",
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "id": "books.cloudloading.updateBook",
          "parameters": {},
          "request": {
            "$ref": "BooksCloudloadingResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/cloudloading/updateBook",
          "parameterOrder": []
        }
      }
    },
    "myconfig": {
      "methods": {
        "releaseDownloadAccess": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/myconfig/releaseDownloadAccess",
          "parameterOrder": [
            "cpksver",
            "volumeIds"
          ],
          "parameters": {
            "locale": {
              "location": "query",
              "type": "string",
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US."
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            },
            "volumeIds": {
              "description": "The volume(s) to release restrictions for.",
              "required": true,
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "cpksver": {
              "type": "string",
              "description": "The device/version ID from which to release the restriction.",
              "required": true,
              "location": "query"
            }
          },
          "path": "books/v1/myconfig/releaseDownloadAccess",
          "description": "Release downloaded content access restriction.",
          "response": {
            "$ref": "DownloadAccesses"
          },
          "id": "books.myconfig.releaseDownloadAccess",
          "httpMethod": "POST"
        },
        "updateUserSettings": {
          "parameters": {},
          "flatPath": "books/v1/myconfig/updateUserSettings",
          "parameterOrder": [],
          "request": {
            "$ref": "Usersettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "POST",
          "id": "books.myconfig.updateUserSettings",
          "response": {
            "$ref": "Usersettings"
          },
          "path": "books/v1/myconfig/updateUserSettings",
          "description": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value."
        },
        "getUserSettings": {
          "httpMethod": "GET",
          "path": "books/v1/myconfig/getUserSettings",
          "description": "Gets the current settings for the user.",
          "response": {
            "$ref": "Usersettings"
          },
          "id": "books.myconfig.getUserSettings",
          "parameters": {
            "country": {
              "description": "Unused. Added only to workaround TEX mandatory request template requirement",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/myconfig/getUserSettings",
          "parameterOrder": []
        },
        "requestAccess": {
          "flatPath": "books/v1/myconfig/requestAccess",
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source",
            "volumeId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "licenseTypes": {
              "location": "query",
              "enum": [
                "LICENSE_TYPES_UNDEFINED",
                "BOTH",
                "CONCURRENT",
                "DOWNLOAD"
              ],
              "type": "string",
              "description": "The type of access license to request. If not specified, the default is BOTH.",
              "enumDescriptions": [
                "",
                "Both concurrent and download licenses.",
                "Concurrent access license.",
                "Offline download access license."
              ]
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query",
              "required": true
            },
            "cpksver": {
              "location": "query",
              "required": true,
              "description": "The device/version ID from which to request the restrictions.",
              "type": "string"
            },
            "locale": {
              "type": "string",
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "location": "query"
            },
            "volumeId": {
              "type": "string",
              "description": "The volume to request concurrent/download restrictions for.",
              "required": true,
              "location": "query"
            },
            "nonce": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The client nonce value."
            }
          },
          "id": "books.myconfig.requestAccess",
          "response": {
            "$ref": "RequestAccessData"
          },
          "path": "books/v1/myconfig/requestAccess",
          "description": "Request concurrent and download access restrictions.",
          "httpMethod": "POST"
        },
        "syncVolumeLicenses": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/myconfig/syncVolumeLicenses",
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source"
          ],
          "parameters": {
            "cpksver": {
              "type": "string",
              "description": "The device/version ID from which to release the restriction.",
              "required": true,
              "location": "query"
            },
            "features": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "enum": [
                "FEATURES_UNDEFINED",
                "RENTALS"
              ],
              "enumDescriptions": [
                "",
                "Client supports rentals."
              ],
              "description": "List of features supported by the client, i.e., 'RENTALS'"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query",
              "required": true
            },
            "volumeIds": {
              "type": "string",
              "description": "The volume(s) to request download restrictions for.",
              "repeated": true,
              "location": "query"
            },
            "includeNonComicsSeries": {
              "location": "query",
              "type": "boolean",
              "description": "Set to true to include non-comics series. Defaults to false."
            },
            "locale": {
              "location": "query",
              "type": "string",
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US."
            },
            "nonce": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The client nonce value."
            },
            "showPreorders": {
              "location": "query",
              "description": "Set to true to show pre-ordered books. Defaults to false.",
              "type": "boolean"
            }
          },
          "path": "books/v1/myconfig/syncVolumeLicenses",
          "description": "Request downloaded content access for specified volumes on the My eBooks shelf.",
          "response": {
            "$ref": "Volumes"
          },
          "id": "books.myconfig.syncVolumeLicenses",
          "httpMethod": "POST"
        }
      }
    },
    "promooffer": {
      "methods": {
        "dismiss": {
          "httpMethod": "POST",
          "id": "books.promooffer.dismiss",
          "response": {
            "$ref": "Empty"
          },
          "path": "books/v1/promooffer/dismiss",
          "description": "Marks the promo offer as dismissed.",
          "parameters": {
            "product": {
              "location": "query",
              "description": "device product",
              "type": "string"
            },
            "manufacturer": {
              "location": "query",
              "description": "device manufacturer",
              "type": "string"
            },
            "serial": {
              "location": "query",
              "type": "string",
              "description": "device serial"
            },
            "model": {
              "location": "query",
              "description": "device model",
              "type": "string"
            },
            "offerId": {
              "location": "query",
              "type": "string",
              "description": "Offer to dimiss"
            },
            "androidId": {
              "location": "query",
              "description": "device android_id",
              "type": "string"
            },
            "device": {
              "location": "query",
              "description": "device device",
              "type": "string"
            }
          },
          "flatPath": "books/v1/promooffer/dismiss",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "id": "books.promooffer.get",
          "path": "books/v1/promooffer/get",
          "description": "Returns a list of promo offers available to the user",
          "response": {
            "$ref": "Offers"
          },
          "parameters": {
            "product": {
              "location": "query",
              "type": "string",
              "description": "device product"
            },
            "androidId": {
              "type": "string",
              "description": "device android_id",
              "location": "query"
            },
            "device": {
              "location": "query",
              "description": "device device",
[...]
