{
  "revision": "20260811",
  "fullyEncodeReservedExpansion": true,
  "description": "The Google Books API allows clients to access the Google Books repository.",
  "basePath": "",
  "id": "books:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://books.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/books": {
          "description": "Manage your books"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "title": "Books API",
  "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
  "resources": {
    "mylibrary": {
      "resources": {
        "annotations": {
          "methods": {
            "summary": {
              "path": "books/v1/mylibrary/annotations/summary",
              "response": {
                "$ref": "AnnotationsSummary"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "POST",
              "parameters": {
                "layerIds": {
                  "required": true,
                  "description": "Array of layer IDs to get the summary for.",
                  "type": "string",
                  "repeated": true,
                  "location": "query"
                },
                "volumeId": {
                  "description": "Volume id to get the summary for.",
                  "type": "string",
                  "required": true,
                  "location": "query"
                },
                "source": {
                  "description": "Optional. String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "books.mylibrary.annotations.summary",
              "flatPath": "books/v1/mylibrary/annotations/summary",
              "parameterOrder": [
                "layerIds",
                "volumeId"
              ],
              "description": "Gets the summary of specified layers."
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "annotationId": {
                  "description": "The ID for the annotation to delete.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "books.mylibrary.annotations.delete",
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "parameterOrder": [
                "annotationId"
              ],
              "description": "Deletes an annotation.",
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "insert": {
              "path": "books/v1/mylibrary/annotations",
              "request": {
                "$ref": "Annotation"
              },
              "response": {
                "$ref": "Annotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "POST",
              "parameters": {
                "country": {
                  "description": "ISO-3166-1 code to override the IP-based location.",
                  "type": "string",
                  "location": "query"
                },
                "showOnlySummaryInResponse": {
                  "location": "query",
                  "description": "Requests that only the summary of the specified layer be provided in the response.",
                  "type": "boolean"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "annotationId": {
                  "location": "query",
                  "description": "The ID for the annotation to insert.",
                  "type": "string"
                }
              },
              "id": "books.mylibrary.annotations.insert",
              "flatPath": "books/v1/mylibrary/annotations",
              "parameterOrder": [],
              "description": "Inserts a new annotation."
            },
            "update": {
              "id": "books.mylibrary.annotations.update",
              "httpMethod": "PUT",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "annotationId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID for the annotation to update.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "annotationId"
              ],
              "description": "Updates an existing annotation.",
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "request": {
                "$ref": "Annotation"
              },
              "response": {
                "$ref": "Annotation"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Annotations"
              },
              "path": "books/v1/mylibrary/annotations",
              "parameterOrder": [],
              "description": "Retrieves a list of annotations, possibly filtered.",
              "flatPath": "books/v1/mylibrary/annotations",
              "id": "books.mylibrary.annotations.list",
              "httpMethod": "GET",
              "parameters": {
                "maxResults": {
                  "maximum": "40",
                  "description": "Maximum number of results to return",
                  "minimum": "0",
                  "type": "integer",
                  "format": "uint32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value of the nextToken from the previous page.",
                  "type": "string"
                },
                "updatedMin": {
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "type": "string",
                  "location": "query"
                },
                "layerIds": {
                  "repeated": true,
                  "location": "query",
                  "description": "The layer ID(s) to limit annotation by.",
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to restrict annotations to.",
                  "type": "string",
                  "location": "query"
                },
                "contentVersion": {
                  "description": "The content version for the requested volume.",
                  "type": "string",
                  "location": "query"
                },
                "layerId": {
                  "location": "query",
                  "description": "The layer ID to limit annotation by.",
                  "type": "string"
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "updatedMax": {
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "type": "string"
                },
                "showDeleted": {
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                  "type": "boolean",
                  "location": "query"
                }
              }
            }
          }
        },
        "bookshelves": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Bookshelves"
              },
              "path": "books/v1/mylibrary/bookshelves",
              "parameterOrder": [],
              "description": "Retrieves a list of bookshelves belonging to the authenticated user.",
              "flatPath": "books/v1/mylibrary/bookshelves",
              "id": "books.mylibrary.bookshelves.list",
              "httpMethod": "GET",
              "parameters": {
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                }
              }
            },
            "addVolume": {
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
              "parameterOrder": [
                "shelf",
                "volumeId"
              ],
              "description": "Adds a volume to a bookshelf.",
              "httpMethod": "POST",
              "parameters": {
                "volumeId": {
                  "description": "ID of volume to add.",
                  "type": "string",
                  "location": "query",
                  "required": true
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "shelf": {
                  "description": "ID of bookshelf to which to add a volume.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "reason": {
                  "enum": [
                    "REASON_UNDEFINED",
                    "IOS_PREX",
                    "IOS_SEARCH",
                    "ONBOARDING"
                  ],
                  "location": "query",
                  "description": "The reason for which the book is added to the library.",
                  "type": "string",
                  "enumDescriptions": [
                    "",
                    "Volumes added from the PREX flow on iOS.",
                    "Volumes added from the Search flow on iOS.",
                    "Volumes added from the Onboarding flow."
                  ]
                }
              },
              "id": "books.mylibrary.bookshelves.addVolume"
            },
            "clearVolumes": {
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes",
              "parameterOrder": [
                "shelf"
              ],
              "description": "Clears all volumes from a bookshelf.",
              "httpMethod": "POST",
              "parameters": {
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "shelf": {
                  "description": "ID of bookshelf from which to remove a volume.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "books.mylibrary.bookshelves.clearVolumes",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes"
            },
            "removeVolume": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
              "parameterOrder": [
                "shelf",
                "volumeId"
              ],
              "description": "Removes a volume from a bookshelf.",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
              "id": "books.mylibrary.bookshelves.removeVolume",
              "httpMethod": "POST",
              "parameters": {
                "shelf": {
                  "description": "ID of bookshelf from which to remove a volume.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "reason": {
                  "enumDescriptions": [
                    "",
                    "Samples removed from the Onboarding flow."
                  ],
                  "location": "query",
                  "enum": [
                    "REASON_UNDEFINED",
                    "ONBOARDING"
                  ],
                  "description": "The reason for which the book is removed from the library.",
                  "type": "string"
                },
                "volumeId": {
                  "description": "ID of volume to remove.",
                  "type": "string",
                  "required": true,
                  "location": "query"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "moveVolume": {
              "parameterOrder": [
                "shelf",
                "volumeId",
                "volumePosition"
              ],
              "description": "Moves a volume within a bookshelf.",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume",
              "id": "books.mylibrary.bookshelves.moveVolume",
              "httpMethod": "POST",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "volumeId": {
                  "location": "query",
                  "required": true,
                  "description": "ID of volume to move.",
                  "type": "string"
                },
                "volumePosition": {
                  "required": true,
                  "description": "Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "shelf": {
                  "required": true,
                  "location": "path",
                  "description": "ID of bookshelf with the volume.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume"
            },
            "get": {
              "parameterOrder": [
                "shelf"
              ],
              "description": "Retrieves metadata for a specific bookshelf belonging to the authenticated user.",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}",
              "id": "books.mylibrary.bookshelves.get",
              "httpMethod": "GET",
              "parameters": {
                "shelf": {
                  "location": "path",
                  "required": true,
                  "description": "ID of bookshelf to retrieve.",
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Bookshelf"
              },
              "path": "books/v1/mylibrary/bookshelves/{shelf}"
            }
          },
          "resources": {
            "volumes": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "Volumes"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/books"
                  ],
                  "path": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                  "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                  "parameterOrder": [
                    "shelf"
                  ],
                  "description": "Gets volume information for volumes on a bookshelf.",
                  "httpMethod": "GET",
                  "parameters": {
                    "shelf": {
                      "required": true,
                      "location": "path",
                      "description": "The bookshelf ID or name retrieve volumes for.",
                      "type": "string"
                    },
                    "startIndex": {
                      "location": "query",
                      "description": "Index of the first element to return (starts at 0)",
                      "minimum": "0",
                      "type": "integer",
                      "format": "uint32"
                    },
                    "projection": {
                      "description": "Restrict information returned to a set of selected fields.",
                      "type": "string",
                      "enum": [
                        "PROJECTION_UNDEFINED",
                        "FULL",
                        "LITE"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "",
                        "Includes all volume data.",
                        "Includes a subset of fields in volumeInfo and accessInfo."
                      ]
                    },
                    "showPreorders": {
                      "description": "Set to true to show pre-ordered books. Defaults to false.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "country": {
                      "description": "ISO-3166-1 code to override the IP-based location.",
                      "type": "string",
                      "location": "query"
                    },
                    "maxResults": {
                      "location": "query",
                      "description": "Maximum number of results to return",
                      "minimum": "0",
                      "type": "integer",
                      "format": "uint32"
                    },
                    "q": {
                      "description": "Full-text search query string in this bookshelf.",
                      "type": "string",
                      "location": "query"
                    },
                    "source": {
                      "description": "String to identify the originator of this request.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "books.mylibrary.bookshelves.volumes.list"
                }
              }
            }
          }
        },
        "readingpositions": {
          "methods": {
            "get": {
              "response": {
                "$ref": "ReadingPosition"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/readingpositions/{volumeId}",
              "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}",
              "parameterOrder": [
                "volumeId"
              ],
              "description": "Retrieves my reading position information for a volume.",
              "httpMethod": "GET",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "volumeId": {
                  "location": "path",
                  "required": true,
                  "description": "ID of volume for which to retrieve a reading position.",
                  "type": "string"
                },
                "contentVersion": {
                  "location": "query",
                  "description": "Volume content version for which this reading position is requested.",
                  "type": "string"
                }
              },
              "id": "books.mylibrary.readingpositions.get"
            },
            "setPosition": {
              "httpMethod": "POST",
              "parameters": {
                "action": {
                  "description": "Action that caused this reading position to be set.",
                  "type": "string",
                  "enum": [
                    "ACTION_UNDEFINED",
                    "bookmark",
                    "chapter",
                    "next-page",
                    "prev-page",
                    "scroll",
                    "search"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "User chose bookmark within volume.",
                    "User selected chapter from list.",
                    "Next page event.",
                    "Previous page event.",
                    "User navigated to page.",
                    "User chose search results within volume."
                  ]
                },
                "volumeId": {
                  "description": "ID of volume for which to update the reading position.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "deviceCookie": {
                  "location": "query",
                  "description": "Random persistent device cookie optional on set position.",
                  "type": "string"
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "contentVersion": {
                  "location": "query",
                  "description": "Volume content version for which this reading position applies.",
                  "type": "string"
                },
                "position": {
                  "location": "query",
                  "required": true,
                  "description": "Position string for the new volume reading position.",
                  "type": "string"
                },
                "timestamp": {
                  "required": true,
                  "location": "query",
                  "description": "RFC 3339 UTC format timestamp associated with this reading position.",
                  "type": "string"
                }
              },
              "id": "books.mylibrary.readingpositions.setPosition",
              "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
              "parameterOrder": [
                "volumeId",
                "position",
                "timestamp"
              ],
              "description": "Sets my reading position information for a volume.",
              "path": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        }
      }
    },
    "volumes": {
      "methods": {
        "list": {
          "id": "books.volumes.list",
          "httpMethod": "GET",
          "parameters": {
            "maxAllowedMaturityRating": {
              "location": "query",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ]
            },
            "libraryRestrict": {
              "enumDescriptions": [
                "",
                "Restrict to the user's library, any shelf.",
                "Do not restrict based on user's library."
              ],
              "description": "Restrict search to this user's library.",
              "type": "string",
              "location": "query",
              "enum": [
                "LIBRARY_RESTRICT_UNDEFINED",
                "my-library",
                "no-restrict"
              ]
            },
            "partner": {
              "description": "Restrict and brand results for partner ID.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "location": "query",
              "required": true,
              "description": "Full-text search query string.",
              "type": "string"
            },
            "startIndex": {
              "description": "Index of the first result to return (starts at 0)",
              "minimum": "0",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "download": {
              "enumDescriptions": [
                "",
                "All volumes with epub."
              ],
              "description": "Restrict to volumes by download availability.",
              "type": "string",
              "enum": [
                "DOWNLOAD_UNDEFINED",
                "EPUB"
              ],
              "location": "query"
            },
            "filter": {
              "location": "query",
              "enum": [
                "FILTER_UNDEFINED",
                "ebooks",
                "free-ebooks",
                "full",
                "paid-ebooks",
                "partial"
              ],
              "description": "Filter search results.",
              "type": "string",
              "enumDescriptions": [
                "",
                "All Google eBooks.",
                "Google eBook with full volume text viewability.",
                "Public can view entire volume text.",
                "Google eBook with a price.",
                "Public able to see parts of text."
              ]
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "type": "string",
              "location": "query",
              "enum": [
                "PROJECTION_UNDEFINED",
                "FULL",
                "LITE"
              ],
              "enumDescriptions": [
                "",
                "Includes all volume data.",
                "Includes a subset of fields in volumeInfo and accessInfo."
              ]
            },
            "langRestrict": {
              "location": "query",
              "description": "Restrict results to books with this language code.",
              "type": "string"
            },
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            },
            "orderBy": {
              "enumDescriptions": [
                "",
                "Most recently published.",
                "Relevance to search terms."
              ],
              "description": "Sort search results.",
              "type": "string",
              "location": "query",
              "enum": [
                "ORDER_BY_UNDEFINED",
                "newest",
                "relevance"
              ]
            },
            "showPreorders": {
              "location": "query",
              "description": "Set to true to show books available for preorder. Defaults to false.",
              "type": "boolean"
            },
            "printType": {
              "enumDescriptions": [
                "",
                "All volume content types.",
                "Just books.",
                "Just magazines."
              ],
              "location": "query",
              "enum": [
                "PRINT_TYPE_UNDEFINED",
                "ALL",
                "BOOKS",
                "MAGAZINES"
              ],
              "description": "Restrict to books or magazines.",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "maximum": "40"
            }
          },
          "parameterOrder": [
            "q"
          ],
          "description": "Performs a book search.",
          "flatPath": "books/v1/volumes",
          "path": "books/v1/volumes",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Volumes"
          }
        },
        "get": {
          "response": {
            "$ref": "Volume"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/volumes/{volumeId}",
          "flatPath": "books/v1/volumes/{volumeId}",
          "parameterOrder": [
            "volumeId"
          ],
          "description": "Gets volume information for a single volume.",
          "httpMethod": "GET",
          "parameters": {
            "includeNonComicsSeries": {
              "location": "query",
              "description": "Set to true to include non-comics series. Defaults to false.",
              "type": "boolean"
            },
            "source": {
              "location": "query",
              "description": "string to identify the originator of this request.",
              "type": "string"
            },
            "user_library_consistent_read": {
              "type": "boolean",
              "location": "query"
            },
            "partner": {
              "location": "query",
              "description": "Brand results for partner ID.",
              "type": "string"
            },
            "country": {
              "location": "query",
              "description": "ISO-3166-1 code to override the IP-based location.",
              "type": "string"
            },
            "volumeId": {
              "description": "ID of volume to retrieve.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "type": "string",
              "location": "query",
              "enum": [
                "PROJECTION_UNDEFINED",
                "FULL",
                "LITE"
              ],
              "enumDescriptions": [
                "",
                "Includes all volume data.",
                "Includes a subset of fields in volumeInfo and accessInfo."
              ]
            }
          },
          "id": "books.volumes.get"
        }
      },
      "resources": {
        "associated": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "association": {
                  "enumDescriptions": [
                    "",
                    "Recommendations for display end-of-sample.",
                    "Recommendations for display end-of-volume.",
                    "Related volumes for Play Store."
                  ],
                  "description": "Association type.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "ASSOCIATION_UNDEFINED",
                    "end-of-sample",
                    "end-of-volume",
                    "related-for-play"
                  ]
                },
                "volumeId": {
                  "required": true,
                  "location": "path",
                  "description": "ID of the source volume.",
                  "type": "string"
                },
                "locale": {
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "type": "string",
                  "location": "query"
                },
                "maxAllowedMaturityRating": {
                  "enumDescriptions": [
                    "",
                    "Show books which are rated mature or lower.",
                    "Show books which are rated not mature."
                  ],
                  "enum": [
                    "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                    "MATURE",
                    "not-mature"
                  ],
                  "location": "query",
                  "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                  "type": "string"
                }
              },
              "id": "books.volumes.associated.list",
              "flatPath": "books/v1/volumes/{volumeId}/associated",
              "parameterOrder": [
                "volumeId"
              ],
              "description": "Return a list of associated books.",
              "path": "books/v1/volumes/{volumeId}/associated",
              "response": {
                "$ref": "Volumes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        },
        "useruploaded": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "maxResults": {
                  "location": "query",
                  "description": "Maximum number of results to return.",
                  "minimum": "0",
                  "type": "integer",
                  "format": "uint32",
                  "maximum": "40"
                },
                "volumeId": {
                  "location": "query",
                  "repeated": true,
                  "description": "The ids of the volumes to be returned. If not specified all that match the processingState are returned.",
                  "type": "string"
                },
                "locale": {
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "type": "string",
                  "location": "query"
                },
                "processingState": {
                  "description": "The processing state of the user uploaded volumes to be returned.",
                  "type": "string",
                  "repeated": true,
                  "enum": [
                    "PROCESSING_STATE_UNDEFINED",
                    "COMPLETED_FAILED",
                    "COMPLETED_SUCCESS",
                    "RUNNING"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "The volume processing hase failed.",
                    "The volume processing was completed.",
                    "The volume processing is not completed."
                  ]
                },
                "startIndex": {
                  "location": "query",
                  "description": "Index of the first result to return (starts at 0)",
                  "minimum": "0",
                  "type": "integer",
                  "format": "uint32"
                }
              },
              "id": "books.volumes.useruploaded.list",
              "flatPath": "books/v1/volumes/useruploaded",
              "parameterOrder": [],
              "description": "Return a list of books uploaded by the current user.",
              "path": "books/v1/volumes/useruploaded",
              "response": {
                "$ref": "Volumes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        },
        "mybooks": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "maxResults": {
                  "location": "query",
                  "description": "Maximum number of results to return.",
                  "minimum": "0",
                  "type": "integer",
                  "format": "uint32",
                  "maximum": "100"
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "processingState": {
                  "enumDescriptions": [
                    "",
                    "The volume processing hase failed.",
                    "The volume processing was completed.",
                    "The volume processing is not completed."
                  ],
                  "location": "query",
                  "repeated": true,
                  "enum": [
                    "PROCESSING_STATE_UNDEFINED",
                    "COMPLETED_FAILED",
                    "COMPLETED_SUCCESS",
                    "RUNNING"
                  ],
                  "description": "The processing state of the user uploaded volumes to be returned. Applicable only if the UPLOADED is specified in the acquireMethod.",
                  "type": "string"
                },
                "startIndex": {
                  "location": "query",
                  "description": "Index of the first result to return (starts at 0)",
                  "minimum": "0",
                  "type": "integer",
                  "format": "uint32"
                },
                "country": {
                  "location": "query",
                  "description": "ISO-3166-1 code to override the IP-based location.",
                  "type": "string"
                },
                "locale": {
                  "location": "query",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex:'en_US'. Used for generating recommendations.",
                  "type": "string"
                },
                "acquireMethod": {
                  "description": "How the book was acquired",
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "enum": [
                    "ACQUIRE_METHOD_UNDEFINED",
                    "FAMILY_SHARED",
                    "PREORDERED",
                    "PREVIOUSLY_RENTED",
                    "PUBLIC_DOMAIN",
                    "PURCHASED",
                    "RENTED",
                    "SAMPLE",
                    "UPLOADED"
                  ],
                  "enumDescriptions": [
                    "",
                    "Books acquired via Family Sharing",
                    "Preordered books (not yet available)",
                    "User-rented books past their expiration time",
                    "Public domain books",
                    "Purchased books",
                    "User-rented books",
                    "Sample books",
                    "User uploaded books"
                  ]
                }
              },
              "id": "books.volumes.mybooks.list",
              "flatPath": "books/v1/volumes/mybooks",
              "parameterOrder": [],
              "description": "Return a list of books in My Library.",
              "path": "books/v1/volumes/mybooks",
              "response": {
                "$ref": "Volumes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        },
        "recommended": {
          "methods": {
            "list": {
              "response": {
                "$ref": "Volumes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/volumes/recommended",
              "flatPath": "books/v1/volumes/recommended",
              "parameterOrder": [],
              "description": "Return a list of recommended books for the current user.",
              "httpMethod": "GET",
              "parameters": {
                "locale": {
                  "location": "query",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "type": "string"
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "maxAllowedMaturityRating": {
                  "enumDescriptions": [
                    "",
                    "Show books which are rated mature or lower.",
                    "Show books which are rated not mature."
                  ],
                  "enum": [
                    "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                    "MATURE",
                    "not-mature"
                  ],
                  "location": "query",
                  "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                  "type": "string"
                }
              },
              "id": "books.volumes.recommended.list"
            },
            "rate": {
              "flatPath": "books/v1/volumes/recommended/rate",
              "parameterOrder": [
                "rating",
                "volumeId"
              ],
              "description": "Rate a recommended book for the current user.",
              "httpMethod": "POST",
              "parameters": {
                "rating": {
                  "enum": [
                    "RATING_UNDEFINED",
                    "HAVE_IT",
                    "NOT_INTERESTED"
                  ],
                  "location": "query",
                  "description": "Rating to be given to the volume.",
                  "type": "string",
                  "required": true,
                  "enumDescriptions": [
                    "",
                    "Rating indicating a dismissal due to ownership.",
                    "Rating indicating a negative dismissal of a volume."
                  ]
                },
                "volumeId": {
                  "description": "ID of the source volume.",
                  "type": "string",
                  "required": true,
                  "location": "query"
                },
                "locale": {
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "type": "string",
                  "location": "query"
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                }
              },
              "id": "books.volumes.recommended.rate",
              "response": {
                "$ref": "BooksVolumesRecommendedRateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/volumes/recommended/rate"
            }
          }
        }
      }
    },
    "notification": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "notification_id": {
              "location": "query",
              "required": true,
              "description": "String to identify the notification.",
              "type": "string"
            },
            "locale": {
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating notification title and body.",
              "type": "string",
              "location": "query"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "books.notification.get",
          "flatPath": "books/v1/notification/get",
          "parameterOrder": [
            "notification_id"
          ],
          "description": "Returns notification details for a given notification id.",
          "path": "books/v1/notification/get",
          "response": {
            "$ref": "Notification"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "series": {
      "methods": {
        "get": {
          "path": "books/v1/series/get",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Series"
          },
          "id": "books.series.get",
          "httpMethod": "GET",
          "parameters": {
            "series_id": {
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "String that identifies the series",
              "type": "string"
            }
          },
          "parameterOrder": [
            "series_id"
          ],
          "description": "Returns Series metadata for the given series ids.",
          "flatPath": "books/v1/series/get"
        }
      },
      "resources": {
        "membership": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "page_token": {
                  "description": "The value of the nextToken from the previous page.",
                  "type": "string",
                  "location": "query"
                },
                "series_id": {
                  "description": "String that identifies the series",
                  "type": "string",
                  "location": "query",
                  "required": true
                },
                "page_size": {
                  "description": "Number of maximum results per page to be included in the response.",
                  "type": "integer",
                  "format": "uint32",
                  "location": "query"
                }
              },
              "id": "books.series.membership.get",
              "flatPath": "books/v1/series/membership/get",
              "parameterOrder": [
                "series_id"
              ],
              "description": "Returns Series membership data given the series id.",
              "path": "books/v1/series/membership/get",
              "response": {
                "$ref": "Seriesmembership"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        }
      }
    },
    "bookshelves": {
      "methods": {
        "list": {
          "path": "books/v1/users/{userId}/bookshelves",
          "response": {
            "$ref": "Bookshelves"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "parameters": {
            "userId": {
              "location": "path",
              "required": true,
              "description": "ID of user for whom to retrieve bookshelves.",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "books.bookshelves.list",
          "flatPath": "books/v1/users/{userId}/bookshelves",
          "parameterOrder": [
            "userId"
          ],
          "description": "Retrieves a list of public bookshelves for the specified user."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Bookshelf"
          },
          "path": "books/v1/users/{userId}/bookshelves/{shelf}",
          "parameterOrder": [
            "userId",
            "shelf"
          ],
          "description": "Retrieves metadata for a specific bookshelf for the specified user.",
          "flatPath": "books/v1/users/{userId}/bookshelves/{shelf}",
          "id": "books.bookshelves.get",
          "httpMethod": "GET",
          "parameters": {
            "shelf": {
              "description": "ID of bookshelf to retrieve.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "userId": {
              "location": "path",
              "required": true,
              "description": "ID of user for whom to retrieve bookshelves.",
              "type": "string"
            },
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "volumes": {
          "methods": {
            "list": {
              "parameterOrder": [
                "userId",
                "shelf"
              ],
              "description": "Retrieves volumes in a specific bookshelf for the specified user.",
              "flatPath": "books/v1/users/{userId}/bookshelves/{shelf}/volumes",
              "id": "books.bookshelves.volumes.list",
              "httpMethod": "GET",
              "parameters": {
                "showPreorders": {
                  "location": "query",
                  "description": "Set to true to show pre-ordered books. Defaults to false.",
                  "type": "boolean"
                },
                "shelf": {
                  "description": "ID of bookshelf to retrieve volumes.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "startIndex": {
                  "description": "Index of the first element to return (starts at 0)",
                  "minimum": "0",
                  "type": "integer",
                  "format": "uint32",
                  "location": "query"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "maxResults": {
                  "location": "query",
                  "description": "Maximum number of results to return",
                  "minimum": "0",
                  "type": "integer",
                  "format": "uint32"
                },
                "userId": {
                  "description": "ID of user for whom to retrieve bookshelf volumes.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Volumes"
              },
              "path": "books/v1/users/{userId}/bookshelves/{shelf}/volumes"
            }
          }
        }
      }
    },
    "promooffer": {
      "methods": {
        "dismiss": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Empty"
          },
          "path": "books/v1/promooffer/dismiss",
          "parameterOrder": [],
          "description": "Marks the promo offer as dismissed.",
          "flatPath": "books/v1/promooffer/dismiss",
          "id": "books.promooffer.dismiss",
          "httpMethod": "POST",
          "parameters": {
            "androidId": {
              "location": "query",
              "description": "device android_id",
              "type": "string"
            },
            "device": {
              "location": "query",
              "description": "device device",
              "type": "string"
            },
            "manufacturer": {
              "location": "query",
              "description": "device manufacturer",
              "type": "string"
            },
            "offerId": {
              "location": "query",
              "description": "Offer to dimiss",
              "type": "string"
            },
            "model": {
              "description": "device model",
              "type": "string",
              "location": "query"
            },
            "serial": {
              "location": "query",
              "description": "device serial",
              "type": "string"
            },
            "product": {
              "description": "device product",
              "type": "string",
              "location": "query"
            }
          }
        },
        "accept": {
          "flatPath": "books/v1/promooffer/accept",
          "parameterOrder": [],
          "description": "Accepts the promo offer.",
          "httpMethod": "POST",
          "parameters": {
            "product": {
              "location": "query",
              "description": "device product",
              "type": "string"
            },
            "volumeId": {
              "description": "Volume id to exercise the offer",
              "type": "string",
              "location": "query"
            },
            "androidId": {
              "description": "device android_id",
              "type": "string",
              "location": "query"
            },
            "device": {
              "description": "device device",
              "type": "string",
              "location": "query"
            },
            "manufacturer": {
              "description": "device manufacturer",
              "type": "string",
              "location": "query"
            },
            "offerId": {
              "type": "string",
              "location": "query"
            },
            "model": {
              "location": "query",
              "description": "device model",
              "type": "string"
            },
            "serial": {
              "location": "query",
              "description": "device serial",
              "type": "string"
            }
          },
          "id": "books.promooffer.accept",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/promooffer/accept"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "model": {
              "description": "device model",
              "type": "string",
              "location": "query"
            },
            "serial": {
              "location": "query",
              "description": "device serial",
              "type": "string"
            },
            "androidId": {
              "location": "query",
              "description": "device android_id",
              "type": "string"
            },
            "device": {
              "location": "query",
              "description": "device device",
              "type": "string"
            },
            "manufacturer": {
              "location": "query",
              "description": "device manufacturer",
              "type": "string"
            },
            "product": {
              "location": "query",
              "description": "device product",
              "type": "string"
            }
          },
          "id": "books.promooffer.get",
          "flatPath": "books/v1/promooffer/get",
          "parameterOrder": [],
          "description": "Returns a list of promo offers available to the user",
          "path": "books/v1/promooffer/get",
          "response": {
            "$ref": "Offers"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "dictionary": {
      "methods": {
        "listOfflineMetadata": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Metadata"
          },
          "path": "books/v1/dictionary/listOfflineMetadata",
          "parameterOrder": [
            "cpksver"
          ],
          "description": "Returns a list of offline dictionary metadata available",
          "flatPath": "books/v1/dictionary/listOfflineMetadata",
          "id": "books.dictionary.listOfflineMetadata",
          "httpMethod": "GET",
          "parameters": {
            "cpksver": {
              "required": true,
              "location": "query",
              "description": "The device/version ID from which to request the data.",
              "type": "string"
            }
          }
        }
      }
    },
    "personalizedstream": {
      "methods": {
        "get": {
          "id": "books.personalizedstream.get",
          "httpMethod": "GET",
          "parameters": {
            "locale": {
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
              "type": "string",
              "location": "query"
            },
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            },
            "maxAllowedMaturityRating": {
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
              "type": "string",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ]
            }
          },
          "parameterOrder": [],
          "description": "Returns a stream of personalized book clusters",
          "flatPath": "books/v1/personalizedstream/get",
          "path": "books/v1/personalizedstream/get",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Discoveryclusters"
          }
        }
      }
    },
    "familysharing": {
      "methods": {
        "share": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Empty"
          },
          "path": "books/v1/familysharing/share",
          "parameterOrder": [],
          "description": "Initiates sharing of the content with the user's family. Empty response indicates success.",
          "flatPath": "books/v1/familysharing/share",
          "id": "books.familysharing.share",
          "httpMethod": "POST",
          "parameters": {
            "docId": {
              "description": "The docid to share.",
              "type": "string",
              "location": "query"
            },
            "volumeId": {
              "description": "The volume to share.",
              "type": "string",
              "location": "query"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "getFamilyInfo": {
          "id": "books.familysharing.getFamilyInfo",
          "httpMethod": "GET",
          "parameters": {
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "description": "Gets information regarding the family that the user is part of.",
          "flatPath": "books/v1/familysharing/getFamilyInfo",
          "path": "books/v1/familysharing/getFamilyInfo",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "FamilyInfo"
          }
        },
        "unshare": {
          "id": "books.familysharing.unshare",
          "httpMethod": "POST",
          "parameters": {
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            },
            "volumeId": {
              "location": "query",
              "description": "The volume to unshare.",
              "type": "string"
            },
            "docId": {
              "location": "query",
              "description": "The docid to unshare.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "description": "Initiates revoking content that has already been shared with the user's family. Empty response indicates success.",
          "flatPath": "books/v1/familysharing/unshare",
          "path": "books/v1/familysharing/unshare",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "cloudloading": {
      "methods": {
        "addBook": {
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/cloudloading/addBook",
          "flatPath": "books/v1/cloudloading/addBook",
          "parameterOrder": [],
          "description": "Add a user-upload volume and triggers processing.",
          "httpMethod": "POST",
          "parameters": {
            "drive_document_id": {
              "description": "A drive document id. The upload_client_token must not be set.",
              "type": "string",
              "location": "query"
            },
            "mime_type": {
              "description": "The document MIME type. It can be set only if the drive_document_id is set.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "location": "query",
              "description": "The document name. It can be set only if the drive_document_id is set.",
              "type": "string"
            },
            "upload_client_token": {
              "location": "query",
              "description": "Scotty upload token.",
              "type": "string"
            }
          },
          "id": "books.cloudloading.addBook"
        },
        "updateBook": {
          "flatPath": "books/v1/cloudloading/updateBook",
          "parameterOrder": [],
          "description": "Updates a user-upload volume.",
          "httpMethod": "POST",
          "parameters": {},
          "id": "books.cloudloading.updateBook",
          "request": {
            "$ref": "BooksCloudloadingResource"
          },
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/cloudloading/updateBook"
        },
        "deleteBook": {
          "flatPath": "books/v1/cloudloading/deleteBook",
          "parameterOrder": [
            "volumeId"
          ],
          "description": "Remove the book and its contents",
          "httpMethod": "POST",
          "parameters": {
            "volumeId": {
              "description": "The id of the book to be removed.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "id": "books.cloudloading.deleteBook",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/cloudloading/deleteBook"
        }
      }
    },
    "myconfig": {
      "methods": {
        "getUserSettings": {
          "path": "books/v1/myconfig/getUserSettings",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Usersettings"
          },
          "id": "books.myconfig.getUserSettings",
          "httpMethod": "GET",
          "parameters": {
            "country": {
              "location": "query",
              "description": "Unused. Added only to workaround TEX mandatory request template requirement",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "description": "Gets the current settings for the user.",
          "flatPath": "books/v1/myconfig/getUserSettings"
        },
        "releaseDownloadAccess": {
          "parameterOrder": [
            "cpksver",
            "volumeIds"
          ],
          "description": "Release downloaded content access restriction.",
          "flatPath": "books/v1/myconfig/releaseDownloadAccess",
          "id": "books.myconfig.releaseDownloadAccess",
          "httpMethod": "POST",
          "parameters": {
            "cpksver": {
              "description": "The device/version ID from which to release the restriction.",
              "type": "string",
              "location": "query",
              "required": true
            },
            "volumeIds": {
              "repeated": true,
              "location": "query",
              "description": "The volume(s) to release restrictions for.",
              "type": "string",
              "required": true
            },
            "locale": {
              "location": "query",
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "type": "string"
            },
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "DownloadAccesses"
          },
          "path": "books/v1/myconfig/releaseDownloadAccess"
        },
        "requestAccess": {
          "response": {
            "$ref": "RequestAccessData"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/myconfig/requestAccess",
          "flatPath": "books/v1/myconfig/requestAccess",
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source",
            "volumeId"
          ],
          "description": "Request concurrent and download access restrictions.",
          "httpMethod": "POST",
          "parameters": {
            "cpksver": {
              "description": "The device/version ID from which to request the restrictions.",
              "type": "string",
              "location": "query",
              "required": true
            },
            "volumeId": {
              "location": "query",
              "required": true,
              "description": "The volume to request concurrent/download restrictions for.",
              "type": "string"
            },
            "licenseTypes": {
              "location": "query",
              "enum": [
                "LICENSE_TYPES_UNDEFINED",
                "BOTH",
                "CONCURRENT",
                "DOWNLOAD"
              ],
              "description": "The type of access license to request. If not specified, the default is BOTH.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Both concurrent and download licenses.",
                "Concurrent access license.",
                "Offline download access license."
              ]
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "type": "string",
              "location": "query"
            },
            "nonce": {
              "location": "query",
              "required": true,
              "description": "The client nonce value.",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "id": "books.myconfig.requestAccess"
        },
        "updateUserSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "request": {
            "$ref": "Usersettings"
          },
          "response": {
            "$ref": "Usersettings"
          },
          "path": "books/v1/myconfig/updateUserSettings",
          "parameterOrder": [],
          "description": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.",
          "flatPath": "books/v1/myconfig/updateUserSettings",
          "id": "books.myconfig.updateUserSettings",
          "httpMethod": "POST",
          "parameters": {}
        },
        "syncVolumeLicenses": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Volumes"
          },
          "path": "books/v1/myconfig/syncVolumeLicenses",
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source"
          ],
          "description": "Request downloaded content access for specified volumes on the My eBooks shelf.",
          "flatPath": "books/v1/myconfig/syncVolumeLicenses",
          "id": "books.myconfig.syncVolumeLicenses",
          "httpMethod": "POST",
          "parameters": {
            "locale": {
              "location": "query",
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "type": "string"
            },
            "showPreorders": {
              "description": "Set to true to show pre-ordered books. Defaults to false.",
              "type": "boolean",
              "location": "query"
            },
            "cpksver": {
              "description": "The device/version ID from which to release the restriction.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "features": {
              "enumDescriptions": [
                "",
                "Client supports rentals."
              ],
              "location": "query",
              "repeated": true,
              "enum": [
                "FEATURES_UNDEFINED",
                "RENTALS"
              ],
              "description": "List of features supported by the client, i.e., 'RENTALS'",
              "type": "string"
            },
            "includeNonComicsSeries": {
              "location": "query",
              "description": "Set to true to include non-comics series. Defaults to false.",
              "type": "boolean"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "volumeIds": {
              "description": "The volume(s) to request download restrictions for.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "nonce": {
              "description": "The client nonce value.",
              "type": "string",
              "location": "query",
              "required": true
            }
          }
        }
      }
    },
    "onboarding": {
      "methods": {
        "listCategories": {
          "path": "books/v1/onboarding/listCategories",
          "response": {
            "$ref": "Category"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET",
          "parameters": {
            "locale": {
              "location": "query",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
              "type": "string"
            }
          },
          "id": "books.onboarding.listCategories",
          "flatPath": "books/v1/onboarding/listCategories",
          "parameterOrder": [],
          "description": "List categories for onboarding experience."
        },
        "listCategoryVolumes": {
          "id": "books.onboarding.listCategoryVolumes",
          "httpMethod": "GET",
          "parameters": {
            "locale": {
              "location": "query",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
              "type": "string"
            },
            "categoryId": {
              "description": "List of category ids requested.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "maxAllowedMaturityRating": {
              "description": "The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out.",
              "type": "string",
              "location": "query",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ]
            },
            "pageToken": {
              "location": "query",
              "description": "The value of the nextToken from the previous page.",
              "type": "string"
            },
            "pageSize": {
              "description": "Number of maximum results per page to be included in the response.",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "description": "List available volumes under categories for onboarding experience.",
          "flatPath": "books/v1/onboarding/listCategoryVolumes",
          "path": "books/v1/onboarding/listCategoryVolumes",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Volume2"
          }
        }
      }
    },
    "layers": {
      "methods": {
        "list": {
          "parameterOrder": [
            "volumeId"
          ],
          "description": "List the layer summaries for a volume.",
          "flatPath": "books/v1/volumes/{volumeId}/layersummary",
          "id": "books.layers.list",
          "httpMethod": "GET",
          "parameters": {
            "source": {
              "location": "query",
              "description": "String to identify the originator of this request.",
              "type": "string"
            },
            "contentVersion": {
              "description": "The content version for the requested volume.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return",
              "minimum": "0",
              "type": "integer",
              "format": "uint32",
              "maximum": "200"
            },
            "pageToken": {
              "location": "query",
              "description": "The value of the nextToken from the previous page.",
              "type": "string"
            },
            "volumeId": {
              "required": true,
              "location": "path",
              "description": "The volume to retrieve layers for.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Layersummaries"
          },
          "path": "books/v1/volumes/{volumeId}/layersummary"
        },
        "get": {
          "response": {
            "$ref": "Layersummary"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
          "flatPath": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
          "parameterOrder": [
            "volumeId",
            "summaryId"
          ],
          "description": "Gets the layer summary for a volume.",
          "httpMethod": "GET",
          "parameters": {
            "volumeId": {
              "required": true,
              "location": "path",
              "description": "The volume to retrieve layers for.",
              "type": "string"
            },
            "summaryId": {
              "required": true,
              "location": "path",
              "description": "The ID for the layer to get the summary for.",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            },
            "contentVersion": {
              "description": "The content version for the requested volume.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "books.layers.get"
        }
      },
      "resources": {
        "annotationData": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Annotationsdata"
              },
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "description": "Gets the annotation data for a volume and layer.",
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
              "id": "books.layers.annotationData.list",
              "httpMethod": "GET",
              "parameters": {
                "h": {
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotation data for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "annotationDataId": {
                  "description": "The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.",
                  "type": "string",
                  "repeated": true,
                  "location": "query"
                },
                "maxResults": {
                  "maximum": "200",
                  "description": "Maximum number of results to return",
                  "minimum": "0",
                  "type": "integer",
                  "format": "uint32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value of the nextToken from the previous page.",
                  "type": "string"
                },
                "updatedMin": {
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "type": "string",
                  "location": "query"
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "type": "string",
                  "location": "query"
                },
                "scale": {
                  "location": "query",
                  "description": "The requested scale for the image.",
                  "minimum": "0",
                  "type": "integer",
                  "format": "int32"
                },
                "contentVersion": {
                  "required": true,
                  "location": "query",
                  "description": "The content version for the requested volume.",
                  "type": "string"
                },
                "w": {
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "updatedMax": {
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "type": "string"
                },
                "layerId": {
                  "description": "The ID for the layer to get the annotation data.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "get": {
              "id": "books.layers.annotationData.get",
              "httpMethod": "GET",
              "parameters": {
                "allowWebDefinitions": {
                  "description": "For the dictionary layer. Whether or not to allow web definitions.",
                  "type": "boolean",
                  "location": "query"
                },
                "contentVersion": {
                  "description": "The content version for the volume you are trying to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "query"
                },
                "w": {
                  "location": "query",
                  "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                  "type": "integer",
                  "format": "int32"
                },
                "annotationDataId": {
                  "description": "The ID of the annotation data to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "layerId": {
                  "description": "The ID for the layer to get the annotations.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "volumeId": {
                  "location": "path",
                  "required": true,
                  "description": "The volume to retrieve annotations for.",
                  "type": "string"
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "type": "string",
                  "location": "query"
                },
                "scale": {
                  "description": "The requested scale for the image.",
                  "minimum": "0",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "h": {
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationDataId",
                "contentVersion"
              ],
              "description": "Gets the annotation data.",
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "DictionaryAnnotationdata"
              }
            }
          }
        },
        "volumeAnnotations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "description": "Gets the volume annotations for a volume and layer.",
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}",
              "id": "books.layers.volumeAnnotations.list",
              "httpMethod": "GET",
              "parameters": {
                "volumeAnnotationsVersion": {
                  "location": "query",
                  "description": "The version of the volume annotations that you are requesting.",
                  "type": "string"
                },
                "contentVersion": {
                  "location": "query",
                  "required": true,
                  "description": "The content version for the requested volume.",
                  "type": "string"
                },
                "layerId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID for the layer to get the annotations.",
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "updatedMax": {
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "type": "string"
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "type": "string",
                  "location": "query"
                },
                "maxResults": {
                  "description": "Maximum number of results to return",
                  "minimum": "0",
                  "type": "integer",
                  "format": "uint32",
                  "location": "query",
                  "maximum": "200"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value of the nextToken from the previous page.",
                  "type": "string"
                },
                "updatedMin": {
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "type": "string",
                  "location": "query"
                },
                "endOffset": {
                  "description": "The end offset to end retrieving data from.",
                  "type": "string",
                  "location": "query"
                },
                "showDeleted": {
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                  "type": "boolean",
                  "location": "query"
                },
                "startPosition": {
                  "description": "The start position to start retrieving data from.",
                  "type": "string",
                  "location": "query"
                },
                "startOffset": {
                  "location": "query",
                  "description": "The start offset to start retrieving data from.",
                  "type": "string"
                },
                "volumeId": {
                  "location": "path",
                  "required": true,
                  "description": "The volume to retrieve annotations for.",
                  "type": "string"
                },
                "endPosition": {
                  "description": "The end position to end retrieving data from.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Volumeannotations"
              },
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}"
            },
            "get": {
              "response": {
                "$ref": "Volumeannotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationId"
              ],
              "description": "Gets the volume annotation.",
              "httpMethod": "GET",
              "parameters": {
                "volumeId": {
                  "description": "The volume to retrieve annotations for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "type": "string",
                  "location": "query"
                },
                "layerId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID for the layer to get the annotations.",
                  "type": "string"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                },
                "annotationId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the volume annotation to retrieve.",
                  "type": "string"
                }
              },
              "id": "books.layers.volumeAnnotations.get"
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "batchPath": "batch",
  "baseUrl": "https://books.googleapis.com/",
  "name": "books",
  "version_module": true,
  "ownerName": "Google",
  "version": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "Volume": {
      "type": "object",
      "id": "Volume",
      "properties": {
        "userInfo": {
          "description": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)",
          "type": "object",
          "properties": {
            "isFamilySharingDisabledByFop": {
              "description": "Deprecated: Replaced by familySharing.",
              "type": "boolean"
            },
            "readingPosition": {
              "description": "The user's current reading position in the volume, if one is available. (In LITE projection.)",
              "$ref": "ReadingPosition"
            },
            "isPurchased": {
              "description": "Whether or not this volume was purchased by the authenticated user making the request. (In LITE projection.)",
              "type": "boolean"
            },
            "familySharing": {
              "properties": {
                "familyRole": {
                  "description": "The role of the user in the family.",
                  "type": "string"
                },
                "isSharingDisabledByFop": {
                  "description": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet.",
                  "type": "boolean"
                },
                "isSharingAllowed": {
                  "description": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action.",
                  "type": "boolean"
                }
              },
              "description": "Information on the ability to share with the family.",
              "type": "object"
            },
            "rentalState": {
              "description": "Whether this book is an active or an expired rental.",
              "type": "string"
            },
            "isFamilySharedFromUser": {
              "description": "Whether or not the user shared this volume with the family.",
              "type": "boolean"
            },
            "isInMyBooks": {
              "description": "Whether or not this volume is currently in \"my books.\"",
              "type": "boolean"
            },
            "isFamilySharedToUser": {
              "description": "Whether or not the user received this volume through family sharing.",
              "type": "boolean"
            },
            "updated": {
[...]
