{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://books.mtls.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://books.googleapis.com/",
  "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
  "resources": {
    "notification": {
      "methods": {
        "get": {
          "path": "books/v1/notification/get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "id": "books.notification.get",
          "flatPath": "books/v1/notification/get",
          "parameters": {
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            },
            "notification_id": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "String to identify the notification."
            },
            "locale": {
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating notification title and body.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Returns notification details for a given notification id.",
          "response": {
            "$ref": "Notification"
          },
          "parameterOrder": [
            "notification_id"
          ]
        }
      }
    },
    "onboarding": {
      "methods": {
        "listCategoryVolumes": {
          "description": "List available volumes under categories for onboarding experience.",
          "response": {
            "$ref": "Volume2"
          },
          "parameters": {
            "pageSize": {
              "description": "Number of maximum results per page to be included in the response.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "maxAllowedMaturityRating": {
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "type": "string",
              "location": "query",
              "description": "The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out.",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ]
            },
            "locale": {
              "type": "string",
              "location": "query",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset."
            },
            "categoryId": {
              "description": "List of category ids requested.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous page.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "books/v1/onboarding/listCategoryVolumes",
          "flatPath": "books/v1/onboarding/listCategoryVolumes",
          "parameterOrder": [],
          "id": "books.onboarding.listCategoryVolumes",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "listCategories": {
          "description": "List categories for onboarding experience.",
          "parameterOrder": [],
          "path": "books/v1/onboarding/listCategories",
          "httpMethod": "GET",
          "id": "books.onboarding.listCategories",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "locale": {
              "location": "query",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
              "type": "string"
            }
          },
          "flatPath": "books/v1/onboarding/listCategories",
          "response": {
            "$ref": "Category"
          }
        }
      }
    },
    "volumes": {
      "methods": {
        "list": {
          "path": "books/v1/volumes",
          "response": {
            "$ref": "Volumes"
          },
          "httpMethod": "GET",
          "description": "Performs a book search.",
          "parameterOrder": [
            "q"
          ],
          "flatPath": "books/v1/volumes",
          "parameters": {
            "orderBy": {
              "enum": [
                "ORDER_BY_UNDEFINED",
                "newest",
                "relevance"
              ],
              "enumDescriptions": [
                "",
                "Most recently published.",
                "Relevance to search terms."
              ],
              "type": "string",
              "description": "Sort search results.",
              "location": "query"
            },
            "libraryRestrict": {
              "enum": [
                "LIBRARY_RESTRICT_UNDEFINED",
                "my-library",
                "no-restrict"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                "Restrict to the user's library, any shelf.",
                "Do not restrict based on user's library."
              ],
              "description": "Restrict search to this user's library."
            },
            "showPreorders": {
              "location": "query",
              "type": "boolean",
              "description": "Set to true to show books available for preorder. Defaults to false."
            },
            "download": {
              "description": "Restrict to volumes by download availability.",
              "enumDescriptions": [
                "",
                "All volumes with epub."
              ],
              "enum": [
                "DOWNLOAD_UNDEFINED",
                "EPUB"
              ],
              "type": "string",
              "location": "query"
            },
            "startIndex": {
              "type": "integer",
              "location": "query",
              "description": "Index of the first result to return (starts at 0)",
              "format": "uint32",
              "minimum": "0"
            },
            "filter": {
              "enumDescriptions": [
                "",
                "All Google eBooks.",
                "Google eBook with full volume text viewability.",
                "Public can view entire volume text.",
                "Google eBook with a price.",
                "Public able to see parts of text."
              ],
              "description": "Filter search results.",
              "location": "query",
              "enum": [
                "FILTER_UNDEFINED",
                "ebooks",
                "free-ebooks",
                "full",
                "paid-ebooks",
                "partial"
              ],
              "type": "string"
            },
            "partner": {
              "description": "Restrict and brand results for partner ID.",
              "location": "query",
              "type": "string"
            },
            "maxAllowedMaturityRating": {
              "location": "query",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "type": "string",
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ]
            },
            "printType": {
              "description": "Restrict to books or magazines.",
              "enum": [
                "PRINT_TYPE_UNDEFINED",
                "ALL",
                "BOOKS",
                "MAGAZINES"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "All volume content types.",
                "Just books.",
                "Just magazines."
              ],
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "maximum": "40",
              "type": "integer",
              "minimum": "0",
              "description": "Maximum number of results to return."
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Full-text search query string."
            },
            "langRestrict": {
              "location": "query",
              "description": "Restrict results to books with this language code.",
              "type": "string"
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "enumDescriptions": [
                "",
                "Includes all volume data.",
                "Includes a subset of fields in volumeInfo and accessInfo."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "PROJECTION_UNDEFINED",
                "FULL",
                "LITE"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "id": "books.volumes.list"
        },
        "get": {
          "parameters": {
            "includeNonComicsSeries": {
              "location": "query",
              "type": "boolean",
              "description": "Set to true to include non-comics series. Defaults to false."
            },
            "volumeId": {
              "description": "ID of volume to retrieve.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "country": {
              "description": "ISO-3166-1 code to override the IP-based location.",
              "type": "string",
              "location": "query"
            },
            "projection": {
              "location": "query",
              "description": "Restrict information returned to a set of selected fields.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Includes all volume data.",
                "Includes a subset of fields in volumeInfo and accessInfo."
              ],
              "enum": [
                "PROJECTION_UNDEFINED",
                "FULL",
                "LITE"
              ]
            },
            "partner": {
              "location": "query",
              "description": "Brand results for partner ID.",
              "type": "string"
            },
            "user_library_consistent_read": {
              "type": "boolean",
              "location": "query"
            },
            "source": {
              "type": "string",
              "description": "string to identify the originator of this request.",
              "location": "query"
            }
          },
          "path": "books/v1/volumes/{volumeId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "volumeId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/volumes/{volumeId}",
          "id": "books.volumes.get",
          "response": {
            "$ref": "Volume"
          },
          "description": "Gets volume information for a single volume."
        }
      },
      "resources": {
        "associated": {
          "methods": {
            "list": {
              "description": "Return a list of associated books.",
              "path": "books/v1/volumes/{volumeId}/associated",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameters": {
                "locale": {
                  "location": "query",
                  "type": "string",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations."
                },
                "association": {
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "Recommendations for display end-of-sample.",
                    "Recommendations for display end-of-volume.",
                    "Related volumes for Play Store."
                  ],
                  "description": "Association type.",
                  "enum": [
                    "ASSOCIATION_UNDEFINED",
                    "end-of-sample",
                    "end-of-volume",
                    "related-for-play"
                  ],
                  "type": "string"
                },
                "maxAllowedMaturityRating": {
                  "enum": [
                    "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                    "MATURE",
                    "not-mature"
                  ],
                  "enumDescriptions": [
                    "",
                    "Show books which are rated mature or lower.",
                    "Show books which are rated not mature."
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out."
                },
                "volumeId": {
                  "type": "string",
                  "description": "ID of the source volume.",
                  "location": "path",
                  "required": true
                },
                "source": {
                  "location": "query",
                  "type": "string",
                  "description": "String to identify the originator of this request."
                }
              },
              "id": "books.volumes.associated.list",
              "parameterOrder": [
                "volumeId"
              ],
              "response": {
                "$ref": "Volumes"
              },
              "httpMethod": "GET",
              "flatPath": "books/v1/volumes/{volumeId}/associated"
            }
          }
        },
        "recommended": {
          "methods": {
            "list": {
              "parameterOrder": [],
              "httpMethod": "GET",
              "id": "books.volumes.recommended.list",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameters": {
                "maxAllowedMaturityRating": {
                  "enumDescriptions": [
                    "",
                    "Show books which are rated mature or lower.",
                    "Show books which are rated not mature."
                  ],
                  "enum": [
                    "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                    "MATURE",
                    "not-mature"
                  ],
                  "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                  "location": "query",
                  "type": "string"
                },
                "source": {
                  "location": "query",
                  "type": "string",
                  "description": "String to identify the originator of this request."
                },
                "locale": {
                  "location": "query",
                  "type": "string",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations."
                }
              },
              "response": {
                "$ref": "Volumes"
              },
              "flatPath": "books/v1/volumes/recommended",
              "path": "books/v1/volumes/recommended",
              "description": "Return a list of recommended books for the current user."
            },
            "rate": {
              "id": "books.volumes.recommended.rate",
              "flatPath": "books/v1/volumes/recommended/rate",
              "parameterOrder": [
                "rating",
                "volumeId"
              ],
              "response": {
                "$ref": "BooksVolumesRecommendedRateResponse"
              },
              "description": "Rate a recommended book for the current user.",
              "path": "books/v1/volumes/recommended/rate",
              "parameters": {
                "locale": {
                  "location": "query",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "type": "string"
                },
                "rating": {
                  "enum": [
                    "RATING_UNDEFINED",
                    "HAVE_IT",
                    "NOT_INTERESTED"
                  ],
                  "description": "Rating to be given to the volume.",
                  "required": true,
                  "type": "string",
                  "enumDescriptions": [
                    "",
                    "Rating indicating a dismissal due to ownership.",
                    "Rating indicating a negative dismissal of a volume."
                  ],
                  "location": "query"
                },
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                },
                "volumeId": {
                  "description": "ID of the source volume.",
                  "type": "string",
                  "location": "query",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        },
        "useruploaded": {
          "methods": {
            "list": {
              "description": "Return a list of books uploaded by the current user.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/volumes/useruploaded",
              "response": {
                "$ref": "Volumes"
              },
              "path": "books/v1/volumes/useruploaded",
              "parameters": {
                "processingState": {
                  "type": "string",
                  "enum": [
                    "PROCESSING_STATE_UNDEFINED",
                    "COMPLETED_FAILED",
                    "COMPLETED_SUCCESS",
                    "RUNNING"
                  ],
                  "repeated": true,
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "The volume processing hase failed.",
                    "The volume processing was completed.",
                    "The volume processing is not completed."
                  ],
                  "description": "The processing state of the user uploaded volumes to be returned."
                },
                "startIndex": {
                  "minimum": "0",
                  "format": "uint32",
                  "type": "integer",
                  "description": "Index of the first result to return (starts at 0)",
                  "location": "query"
                },
                "volumeId": {
                  "repeated": true,
                  "description": "The ids of the volumes to be returned. If not specified all that match the processingState are returned.",
                  "type": "string",
                  "location": "query"
                },
                "source": {
                  "location": "query",
                  "type": "string",
                  "description": "String to identify the originator of this request."
                },
                "maxResults": {
                  "maximum": "40",
                  "type": "integer",
                  "location": "query",
                  "format": "uint32",
                  "minimum": "0",
                  "description": "Maximum number of results to return."
                },
                "locale": {
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [],
              "id": "books.volumes.useruploaded.list",
              "httpMethod": "GET"
            }
          }
        },
        "mybooks": {
          "methods": {
            "list": {
              "id": "books.volumes.mybooks.list",
              "response": {
                "$ref": "Volumes"
              },
              "path": "books/v1/volumes/mybooks",
              "parameters": {
                "maxResults": {
                  "format": "uint32",
                  "minimum": "0",
                  "type": "integer",
                  "description": "Maximum number of results to return.",
                  "maximum": "100",
                  "location": "query"
                },
                "acquireMethod": {
                  "repeated": true,
                  "description": "How the book was acquired",
                  "enumDescriptions": [
                    "",
                    "Books acquired via Family Sharing",
                    "Preordered books (not yet available)",
                    "User-rented books past their expiration time",
                    "Public domain books",
                    "Purchased books",
                    "User-rented books",
                    "Sample books",
                    "User uploaded books"
                  ],
                  "enum": [
                    "ACQUIRE_METHOD_UNDEFINED",
                    "FAMILY_SHARED",
                    "PREORDERED",
                    "PREVIOUSLY_RENTED",
                    "PUBLIC_DOMAIN",
                    "PURCHASED",
                    "RENTED",
                    "SAMPLE",
                    "UPLOADED"
                  ],
                  "type": "string",
                  "location": "query"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "locale": {
                  "location": "query",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex:'en_US'. Used for generating recommendations.",
                  "type": "string"
                },
                "country": {
                  "type": "string",
                  "location": "query",
                  "description": "ISO-3166-1 code to override the IP-based location."
                },
                "startIndex": {
                  "description": "Index of the first result to return (starts at 0)",
                  "minimum": "0",
                  "location": "query",
                  "type": "integer",
                  "format": "uint32"
                },
                "processingState": {
                  "repeated": true,
                  "enum": [
                    "PROCESSING_STATE_UNDEFINED",
                    "COMPLETED_FAILED",
                    "COMPLETED_SUCCESS",
                    "RUNNING"
                  ],
                  "location": "query",
                  "description": "The processing state of the user uploaded volumes to be returned. Applicable only if the UPLOADED is specified in the acquireMethod.",
                  "enumDescriptions": [
                    "",
                    "The volume processing hase failed.",
                    "The volume processing was completed.",
                    "The volume processing is not completed."
                  ],
                  "type": "string"
                }
              },
              "flatPath": "books/v1/volumes/mybooks",
              "description": "Return a list of books in My Library.",
              "httpMethod": "GET",
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            }
          }
        }
      }
    },
    "familysharing": {
      "methods": {
        "getFamilyInfo": {
          "description": "Gets information regarding the family that the user is part of.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "FamilyInfo"
          },
          "flatPath": "books/v1/familysharing/getFamilyInfo",
          "parameters": {
            "source": {
              "location": "query",
              "type": "string",
              "description": "String to identify the originator of this request."
            }
          },
          "id": "books.familysharing.getFamilyInfo",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/familysharing/getFamilyInfo"
        },
        "share": {
          "id": "books.familysharing.share",
          "parameterOrder": [],
          "path": "books/v1/familysharing/share",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "docId": {
              "type": "string",
              "location": "query",
              "description": "The docid to share."
            },
            "volumeId": {
              "location": "query",
              "description": "The volume to share.",
              "type": "string"
            },
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            }
          },
          "description": "Initiates sharing of the content with the user's family. Empty response indicates success.",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "books/v1/familysharing/share",
          "httpMethod": "POST"
        },
        "unshare": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "flatPath": "books/v1/familysharing/unshare",
          "path": "books/v1/familysharing/unshare",
          "id": "books.familysharing.unshare",
          "parameters": {
            "docId": {
              "description": "The docid to unshare.",
              "location": "query",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            },
            "volumeId": {
              "type": "string",
              "location": "query",
              "description": "The volume to unshare."
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Initiates revoking content that has already been shared with the user's family. Empty response indicates success."
        }
      }
    },
    "cloudloading": {
      "methods": {
        "updateBook": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "id": "books.cloudloading.updateBook",
          "description": "Updates a user-upload volume.",
          "flatPath": "books/v1/cloudloading/updateBook",
          "request": {
            "$ref": "BooksCloudloadingResource"
          },
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "books/v1/cloudloading/updateBook",
          "parameters": {}
        },
        "addBook": {
          "parameterOrder": [],
          "id": "books.cloudloading.addBook",
          "httpMethod": "POST",
          "flatPath": "books/v1/cloudloading/addBook",
          "response": {
            "$ref": "BooksCloudloadingResource"
          },
          "description": "Add a user-upload volume and triggers processing.",
          "parameters": {
            "drive_document_id": {
              "description": "A drive document id. The upload_client_token must not be set.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "description": "The document name. It can be set only if the drive_document_id is set.",
              "type": "string",
              "location": "query"
            },
            "upload_client_token": {
              "location": "query",
              "description": "Scotty upload token.",
              "type": "string"
            },
            "mime_type": {
              "type": "string",
              "description": "The document MIME type. It can be set only if the drive_document_id is set.",
              "location": "query"
            }
          },
          "path": "books/v1/cloudloading/addBook",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "deleteBook": {
          "parameters": {
            "volumeId": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The id of the book to be removed."
            }
          },
          "id": "books.cloudloading.deleteBook",
          "httpMethod": "POST",
          "path": "books/v1/cloudloading/deleteBook",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameterOrder": [
            "volumeId"
          ],
          "flatPath": "books/v1/cloudloading/deleteBook",
          "response": {
            "$ref": "Empty"
          },
          "description": "Remove the book and its contents"
        }
      }
    },
    "personalizedstream": {
      "methods": {
        "get": {
          "parameters": {
            "locale": {
              "location": "query",
              "type": "string",
              "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations."
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            },
            "maxAllowedMaturityRating": {
              "location": "query",
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "type": "string",
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ]
            }
          },
          "id": "books.personalizedstream.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Discoveryclusters"
          },
          "path": "books/v1/personalizedstream/get",
          "parameterOrder": [],
          "flatPath": "books/v1/personalizedstream/get",
          "description": "Returns a stream of personalized book clusters",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        }
      }
    },
    "mylibrary": {
      "resources": {
        "readingpositions": {
          "methods": {
            "get": {
              "response": {
                "$ref": "ReadingPosition"
              },
              "id": "books.mylibrary.readingpositions.get",
              "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "path": "books/v1/mylibrary/readingpositions/{volumeId}",
              "parameterOrder": [
                "volumeId"
              ],
              "parameters": {
                "volumeId": {
                  "required": true,
                  "description": "ID of volume for which to retrieve a reading position.",
                  "location": "path",
                  "type": "string"
                },
                "contentVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Volume content version for which this reading position is requested."
                },
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                }
              },
              "description": "Retrieves my reading position information for a volume.",
              "httpMethod": "GET"
            },
            "setPosition": {
              "parameters": {
                "contentVersion": {
                  "location": "query",
                  "description": "Volume content version for which this reading position applies.",
                  "type": "string"
                },
                "timestamp": {
                  "description": "RFC 3339 UTC format timestamp associated with this reading position.",
                  "type": "string",
                  "required": true,
                  "location": "query"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "position": {
                  "type": "string",
                  "description": "Position string for the new volume reading position.",
                  "required": true,
                  "location": "query"
                },
                "action": {
                  "type": "string",
                  "enum": [
                    "ACTION_UNDEFINED",
                    "bookmark",
                    "chapter",
                    "next-page",
                    "prev-page",
                    "scroll",
                    "search"
                  ],
                  "enumDescriptions": [
                    "",
                    "User chose bookmark within volume.",
                    "User selected chapter from list.",
                    "Next page event.",
                    "Previous page event.",
                    "User navigated to page.",
                    "User chose search results within volume."
                  ],
                  "description": "Action that caused this reading position to be set.",
                  "location": "query"
                },
                "volumeId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of volume for which to update the reading position."
                },
                "deviceCookie": {
                  "location": "query",
                  "description": "Random persistent device cookie optional on set position.",
                  "type": "string"
                }
              },
              "description": "Sets my reading position information for a volume.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "id": "books.mylibrary.readingpositions.setPosition",
              "parameterOrder": [
                "volumeId",
                "position",
                "timestamp"
              ],
              "flatPath": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
              "path": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition"
            }
          }
        },
        "annotations": {
          "methods": {
            "insert": {
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/annotations",
              "request": {
                "$ref": "Annotation"
              },
              "response": {
                "$ref": "Annotation"
              },
              "path": "books/v1/mylibrary/annotations",
              "id": "books.mylibrary.annotations.insert",
              "httpMethod": "POST",
              "parameters": {
                "showOnlySummaryInResponse": {
                  "location": "query",
                  "description": "Requests that only the summary of the specified layer be provided in the response.",
                  "type": "boolean"
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "annotationId": {
                  "description": "The ID for the annotation to insert.",
                  "type": "string",
                  "location": "query"
                },
                "country": {
                  "location": "query",
                  "description": "ISO-3166-1 code to override the IP-based location.",
                  "type": "string"
                }
              },
              "description": "Inserts a new annotation."
            },
            "update": {
              "response": {
                "$ref": "Annotation"
              },
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "description": "Updates an existing annotation.",
              "parameters": {
                "annotationId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID for the annotation to update."
                },
                "source": {
                  "location": "query",
                  "type": "string",
                  "description": "String to identify the originator of this request."
                }
              },
              "request": {
                "$ref": "Annotation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [
                "annotationId"
              ],
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "id": "books.mylibrary.annotations.update",
              "httpMethod": "PUT"
            },
            "delete": {
              "parameterOrder": [
                "annotationId"
              ],
              "path": "books/v1/mylibrary/annotations/{annotationId}",
              "parameters": {
                "annotationId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID for the annotation to delete."
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                }
              },
              "id": "books.mylibrary.annotations.delete",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "description": "Deletes an annotation.",
              "httpMethod": "DELETE",
              "flatPath": "books/v1/mylibrary/annotations/{annotationId}",
              "response": {
                "$ref": "Empty"
              }
            },
            "summary": {
              "description": "Gets the summary of specified layers.",
              "httpMethod": "POST",
              "parameterOrder": [
                "layerIds",
                "volumeId"
              ],
              "id": "books.mylibrary.annotations.summary",
              "parameters": {
                "layerIds": {
                  "location": "query",
                  "type": "string",
                  "required": true,
                  "repeated": true,
                  "description": "Array of layer IDs to get the summary for."
                },
                "volumeId": {
                  "required": true,
                  "location": "query",
                  "description": "Volume id to get the summary for.",
                  "type": "string"
                },
                "source": {
                  "description": "Optional. String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "books/v1/mylibrary/annotations/summary",
              "response": {
                "$ref": "AnnotationsSummary"
              },
              "path": "books/v1/mylibrary/annotations/summary",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/annotations",
              "parameters": {
                "pageToken": {
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query",
                  "type": "string"
                },
                "layerId": {
                  "location": "query",
                  "type": "string",
                  "description": "The layer ID to limit annotation by."
                },
                "maxResults": {
                  "minimum": "0",
                  "description": "Maximum number of results to return",
                  "format": "uint32",
                  "type": "integer",
                  "location": "query",
                  "maximum": "40"
                },
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                },
                "updatedMax": {
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "location": "query",
                  "type": "string"
                },
                "updatedMin": {
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "type": "string"
                },
                "showDeleted": {
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "contentVersion": {
                  "type": "string",
                  "description": "The content version for the requested volume.",
                  "location": "query"
                },
                "layerIds": {
                  "repeated": true,
                  "location": "query",
                  "type": "string",
                  "description": "The layer ID(s) to limit annotation by."
                },
                "volumeId": {
                  "type": "string",
                  "description": "The volume to restrict annotations to.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Annotations"
              },
              "id": "books.mylibrary.annotations.list",
              "httpMethod": "GET",
              "parameterOrder": [],
              "path": "books/v1/mylibrary/annotations",
              "description": "Retrieves a list of annotations, possibly filtered."
            }
          }
        },
        "bookshelves": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [
                "shelf"
              ],
              "description": "Retrieves metadata for a specific bookshelf belonging to the authenticated user.",
              "response": {
                "$ref": "Bookshelf"
              },
              "parameters": {
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                },
                "shelf": {
                  "description": "ID of bookshelf to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "books.mylibrary.bookshelves.get",
              "path": "books/v1/mylibrary/bookshelves/{shelf}",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}",
              "httpMethod": "GET"
            },
            "clearVolumes": {
              "parameterOrder": [
                "shelf"
              ],
              "id": "books.mylibrary.bookshelves.clearVolumes",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "description": "Clears all volumes from a bookshelf.",
              "path": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes",
              "parameters": {
                "shelf": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "ID of bookshelf from which to remove a volume."
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "addVolume": {
              "id": "books.mylibrary.bookshelves.addVolume",
              "parameterOrder": [
                "shelf",
                "volumeId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "volumeId": {
                  "location": "query",
                  "description": "ID of volume to add.",
                  "required": true,
                  "type": "string"
                },
                "shelf": {
                  "description": "ID of bookshelf to which to add a volume.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "reason": {
                  "description": "The reason for which the book is added to the library.",
                  "enumDescriptions": [
                    "",
                    "Volumes added from the PREX flow on iOS.",
                    "Volumes added from the Search flow on iOS.",
                    "Volumes added from the Onboarding flow."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "REASON_UNDEFINED",
                    "IOS_PREX",
                    "IOS_SEARCH",
                    "ONBOARDING"
                  ]
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "description": "Adds a volume to a bookshelf.",
              "response": {
                "$ref": "Empty"
              }
            },
            "moveVolume": {
              "parameterOrder": [
                "shelf",
                "volumeId",
                "volumePosition"
              ],
              "httpMethod": "POST",
              "path": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume",
              "description": "Moves a volume within a bookshelf.",
              "parameters": {
                "shelf": {
                  "type": "string",
                  "location": "path",
                  "description": "ID of bookshelf with the volume.",
                  "required": true
                },
                "volumePosition": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "required": true,
                  "description": "Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "type": "string",
                  "description": "ID of volume to move.",
                  "location": "query",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "books.mylibrary.bookshelves.moveVolume",
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "source": {
                  "description": "String to identify the originator of this request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "books/v1/mylibrary/bookshelves",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Bookshelves"
              },
              "path": "books/v1/mylibrary/bookshelves",
              "id": "books.mylibrary.bookshelves.list",
              "parameterOrder": [],
              "description": "Retrieves a list of bookshelves belonging to the authenticated user."
            },
            "removeVolume": {
              "httpMethod": "POST",
              "path": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "shelf",
                "volumeId"
              ],
              "parameters": {
                "reason": {
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    "Samples removed from the Onboarding flow."
                  ],
                  "type": "string",
                  "description": "The reason for which the book is removed from the library.",
                  "enum": [
                    "REASON_UNDEFINED",
                    "ONBOARDING"
                  ]
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "shelf": {
                  "required": true,
                  "description": "ID of bookshelf from which to remove a volume.",
                  "location": "path",
                  "type": "string"
                },
                "volumeId": {
                  "required": true,
                  "type": "string",
                  "location": "query",
                  "description": "ID of volume to remove."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
              "id": "books.mylibrary.bookshelves.removeVolume",
              "description": "Removes a volume from a bookshelf."
            }
          },
          "resources": {
            "volumes": {
              "methods": {
                "list": {
                  "path": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                  "httpMethod": "GET",
                  "id": "books.mylibrary.bookshelves.volumes.list",
                  "response": {
                    "$ref": "Volumes"
                  },
                  "description": "Gets volume information for volumes on a bookshelf.",
                  "parameters": {
                    "showPreorders": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Set to true to show pre-ordered books. Defaults to false."
                    },
                    "projection": {
                      "description": "Restrict information returned to a set of selected fields.",
                      "location": "query",
                      "enum": [
                        "PROJECTION_UNDEFINED",
                        "FULL",
                        "LITE"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "",
                        "Includes all volume data.",
                        "Includes a subset of fields in volumeInfo and accessInfo."
                      ]
                    },
                    "shelf": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The bookshelf ID or name retrieve volumes for."
                    },
                    "source": {
                      "description": "String to identify the originator of this request.",
                      "location": "query",
                      "type": "string"
                    },
                    "maxResults": {
                      "type": "integer",
                      "location": "query",
                      "minimum": "0",
                      "description": "Maximum number of results to return",
                      "format": "uint32"
                    },
                    "q": {
                      "description": "Full-text search query string in this bookshelf.",
                      "type": "string",
                      "location": "query"
                    },
                    "startIndex": {
                      "description": "Index of the first element to return (starts at 0)",
                      "type": "integer",
                      "format": "uint32",
                      "location": "query",
                      "minimum": "0"
                    },
                    "country": {
                      "location": "query",
                      "description": "ISO-3166-1 code to override the IP-based location.",
                      "type": "string"
                    }
                  },
                  "flatPath": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                  "scopes": [
                    "https://www.googleapis.com/auth/books"
                  ],
                  "parameterOrder": [
                    "shelf"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "myconfig": {
      "methods": {
        "requestAccess": {
          "httpMethod": "POST",
          "description": "Request concurrent and download access restrictions.",
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source",
            "volumeId"
          ],
          "parameters": {
            "licenseTypes": {
              "description": "The type of access license to request. If not specified, the default is BOTH.",
              "enum": [
                "LICENSE_TYPES_UNDEFINED",
                "BOTH",
                "CONCURRENT",
                "DOWNLOAD"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                "Both concurrent and download licenses.",
                "Concurrent access license.",
                "Offline download access license."
              ]
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "cpksver": {
              "description": "The device/version ID from which to request the restrictions.",
              "type": "string",
              "location": "query",
              "required": true
            },
            "volumeId": {
              "description": "The volume to request concurrent/download restrictions for.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "nonce": {
              "required": true,
              "type": "string",
              "description": "The client nonce value.",
              "location": "query"
            },
            "locale": {
              "location": "query",
              "type": "string",
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "RequestAccessData"
          },
          "id": "books.myconfig.requestAccess",
          "flatPath": "books/v1/myconfig/requestAccess",
          "path": "books/v1/myconfig/requestAccess"
        },
        "syncVolumeLicenses": {
          "flatPath": "books/v1/myconfig/syncVolumeLicenses",
          "httpMethod": "POST",
          "response": {
            "$ref": "Volumes"
          },
          "parameters": {
            "volumeIds": {
              "description": "The volume(s) to request download restrictions for.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "showPreorders": {
              "description": "Set to true to show pre-ordered books. Defaults to false.",
              "type": "boolean",
              "location": "query"
            },
            "includeNonComicsSeries": {
              "description": "Set to true to include non-comics series. Defaults to false.",
              "type": "boolean",
              "location": "query"
            },
            "source": {
              "location": "query",
              "required": true,
              "description": "String to identify the originator of this request.",
              "type": "string"
            },
            "features": {
              "enumDescriptions": [
                "",
                "Client supports rentals."
              ],
              "description": "List of features supported by the client, i.e., 'RENTALS'",
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "FEATURES_UNDEFINED",
                "RENTALS"
              ]
            },
            "cpksver": {
              "type": "string",
              "description": "The device/version ID from which to release the restriction.",
              "required": true,
              "location": "query"
            },
            "nonce": {
              "type": "string",
              "location": "query",
              "description": "The client nonce value.",
              "required": true
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "books/v1/myconfig/syncVolumeLicenses",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "id": "books.myconfig.syncVolumeLicenses",
          "parameterOrder": [
            "cpksver",
            "nonce",
            "source"
          ],
          "description": "Request downloaded content access for specified volumes on the My eBooks shelf."
        },
        "releaseDownloadAccess": {
          "parameterOrder": [
            "cpksver",
            "volumeIds"
          ],
          "description": "Release downloaded content access restriction.",
          "flatPath": "books/v1/myconfig/releaseDownloadAccess",
          "id": "books.myconfig.releaseDownloadAccess",
          "response": {
            "$ref": "DownloadAccesses"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "volumeIds": {
              "description": "The volume(s) to release restrictions for.",
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "locale": {
              "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
              "type": "string",
              "location": "query"
            },
            "cpksver": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "The device/version ID from which to release the restriction."
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "books/v1/myconfig/releaseDownloadAccess",
          "httpMethod": "POST"
        },
        "getUserSettings": {
          "parameters": {
            "country": {
              "location": "query",
              "description": "Unused. Added only to workaround TEX mandatory request template requirement",
              "type": "string"
            }
          },
          "id": "books.myconfig.getUserSettings",
          "httpMethod": "GET",
          "flatPath": "books/v1/myconfig/getUserSettings",
          "response": {
            "$ref": "Usersettings"
          },
          "parameterOrder": [],
          "path": "books/v1/myconfig/getUserSettings",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "description": "Gets the current settings for the user."
        },
        "updateUserSettings": {
          "description": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.",
          "flatPath": "books/v1/myconfig/updateUserSettings",
          "request": {
            "$ref": "Usersettings"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Usersettings"
          },
          "id": "books.myconfig.updateUserSettings",
          "httpMethod": "POST",
          "parameters": {},
          "path": "books/v1/myconfig/updateUserSettings"
        }
      }
    },
    "bookshelves": {
      "methods": {
        "list": {
          "parameters": {
            "userId": {
              "description": "ID of user for whom to retrieve bookshelves.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "source": {
              "type": "string",
              "location": "query",
              "description": "String to identify the originator of this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "id": "books.bookshelves.list",
          "httpMethod": "GET",
          "path": "books/v1/users/{userId}/bookshelves",
          "parameterOrder": [
            "userId"
          ],
          "flatPath": "books/v1/users/{userId}/bookshelves",
          "response": {
            "$ref": "Bookshelves"
          },
          "description": "Retrieves a list of public bookshelves for the specified user."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/users/{userId}/bookshelves/{shelf}",
          "response": {
            "$ref": "Bookshelf"
          },
          "parameterOrder": [
            "userId",
            "shelf"
          ],
          "flatPath": "books/v1/users/{userId}/bookshelves/{shelf}",
          "parameters": {
            "userId": {
              "required": true,
              "description": "ID of user for whom to retrieve bookshelves.",
              "location": "path",
              "type": "string"
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            },
            "shelf": {
              "type": "string",
              "description": "ID of bookshelf to retrieve.",
              "required": true,
              "location": "path"
            }
          },
          "id": "books.bookshelves.get",
          "description": "Retrieves metadata for a specific bookshelf for the specified user.",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "volumes": {
          "methods": {
            "list": {
              "response": {
                "$ref": "Volumes"
              },
              "httpMethod": "GET",
              "flatPath": "books/v1/users/{userId}/bookshelves/{shelf}/volumes",
              "id": "books.bookshelves.volumes.list",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "ID of user for whom to retrieve bookshelf volumes."
                },
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "showPreorders": {
                  "location": "query",
                  "description": "Set to true to show pre-ordered books. Defaults to false.",
                  "type": "boolean"
                },
                "startIndex": {
                  "format": "uint32",
                  "type": "integer",
                  "minimum": "0",
                  "location": "query",
                  "description": "Index of the first element to return (starts at 0)"
                },
                "maxResults": {
                  "type": "integer",
                  "format": "uint32",
                  "minimum": "0",
                  "description": "Maximum number of results to return",
                  "location": "query"
                },
                "shelf": {
                  "type": "string",
                  "description": "ID of bookshelf to retrieve volumes.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Retrieves volumes in a specific bookshelf for the specified user.",
              "path": "books/v1/users/{userId}/bookshelves/{shelf}/volumes",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [
                "userId",
                "shelf"
              ]
            }
          }
        }
      }
    },
    "promooffer": {
      "methods": {
        "accept": {
          "parameterOrder": [],
          "flatPath": "books/v1/promooffer/accept",
          "description": "Accepts the promo offer.",
          "id": "books.promooffer.accept",
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "androidId": {
              "description": "device android_id",
              "type": "string",
              "location": "query"
            },
            "product": {
              "description": "device product",
              "location": "query",
              "type": "string"
            },
            "serial": {
              "type": "string",
              "description": "device serial",
              "location": "query"
            },
            "manufacturer": {
              "type": "string",
              "location": "query",
              "description": "device manufacturer"
            },
            "volumeId": {
              "description": "Volume id to exercise the offer",
              "location": "query",
              "type": "string"
            },
            "offerId": {
              "type": "string",
              "location": "query"
            },
            "model": {
              "location": "query",
              "description": "device model",
              "type": "string"
            },
            "device": {
              "description": "device device",
              "location": "query",
              "type": "string"
            }
          },
          "path": "books/v1/promooffer/accept"
        },
        "get": {
          "httpMethod": "GET",
          "path": "books/v1/promooffer/get",
          "parameters": {
            "device": {
              "type": "string",
              "description": "device device",
              "location": "query"
            },
            "model": {
              "description": "device model",
              "location": "query",
              "type": "string"
            },
            "product": {
              "location": "query",
              "type": "string",
              "description": "device product"
            },
            "androidId": {
              "description": "device android_id",
              "type": "string",
              "location": "query"
            },
            "serial": {
              "description": "device serial",
              "location": "query",
              "type": "string"
            },
            "manufacturer": {
              "type": "string",
              "location": "query",
              "description": "device manufacturer"
            }
          },
          "response": {
            "$ref": "Offers"
          },
          "id": "books.promooffer.get",
          "flatPath": "books/v1/promooffer/get",
          "description": "Returns a list of promo offers available to the user",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameterOrder": []
        },
        "dismiss": {
          "httpMethod": "POST",
          "path": "books/v1/promooffer/dismiss",
          "parameters": {
            "product": {
              "type": "string",
              "location": "query",
              "description": "device product"
            },
            "model": {
              "description": "device model",
              "location": "query",
              "type": "string"
            },
            "device": {
              "description": "device device",
              "location": "query",
              "type": "string"
            },
            "androidId": {
              "description": "device android_id",
              "type": "string",
              "location": "query"
            },
            "offerId": {
              "location": "query",
              "type": "string",
              "description": "Offer to dimiss"
            },
            "serial": {
              "location": "query",
              "description": "device serial",
              "type": "string"
            },
            "manufacturer": {
              "description": "device manufacturer",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "id": "books.promooffer.dismiss",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "books/v1/promooffer/dismiss",
          "parameterOrder": [],
          "description": "Marks the promo offer as dismissed."
        }
      }
    },
    "series": {
      "resources": {
        "membership": {
          "methods": {
            "get": {
              "path": "books/v1/series/membership/get",
              "id": "books.series.membership.get",
              "parameterOrder": [
                "series_id"
              ],
              "description": "Returns Series membership data given the series id.",
              "flatPath": "books/v1/series/membership/get",
              "parameters": {
                "series_id": {
                  "type": "string",
                  "description": "String that identifies the series",
                  "required": true,
                  "location": "query"
                },
                "page_token": {
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query",
                  "type": "string"
                },
                "page_size": {
                  "description": "Number of maximum results per page to be included in the response.",
                  "type": "integer",
                  "location": "query",
                  "format": "uint32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Seriesmembership"
              },
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameters": {
            "series_id": {
              "required": true,
              "description": "String that identifies the series",
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Series"
          },
          "parameterOrder": [
            "series_id"
          ],
          "httpMethod": "GET",
          "flatPath": "books/v1/series/get",
          "path": "books/v1/series/get",
          "description": "Returns Series metadata for the given series ids.",
          "id": "books.series.get"
        }
      }
    },
    "layers": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The value of the nextToken from the previous page."
            },
            "volumeId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The volume to retrieve layers for."
            },
            "source": {
              "type": "string",
              "description": "String to identify the originator of this request.",
              "location": "query"
            },
            "contentVersion": {
              "location": "query",
              "type": "string",
              "description": "The content version for the requested volume."
            },
            "maxResults": {
              "minimum": "0",
              "type": "integer",
              "description": "Maximum number of results to return",
              "format": "uint32",
              "maximum": "200",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "path": "books/v1/volumes/{volumeId}/layersummary",
          "description": "List the layer summaries for a volume.",
          "flatPath": "books/v1/volumes/{volumeId}/layersummary",
          "parameterOrder": [
            "volumeId"
          ],
          "response": {
            "$ref": "Layersummaries"
          },
          "id": "books.layers.list"
        },
        "get": {
          "parameters": {
            "contentVersion": {
              "description": "The content version for the requested volume.",
              "location": "query",
              "type": "string"
            },
            "summaryId": {
              "description": "The ID for the layer to get the summary for.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "source": {
              "description": "String to identify the originator of this request.",
              "type": "string",
              "location": "query"
            },
            "volumeId": {
              "required": true,
              "description": "The volume to retrieve layers for.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "books.layers.get",
          "httpMethod": "GET",
          "path": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "response": {
            "$ref": "Layersummary"
          },
          "flatPath": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
          "parameterOrder": [
            "volumeId",
            "summaryId"
          ],
          "description": "Gets the layer summary for a volume."
        }
      },
      "resources": {
        "volumeAnnotations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "locale": {
                  "location": "query",
                  "type": "string",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'."
                },
                "volumeId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The volume to retrieve annotations for."
                },
                "layerId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The ID for the layer to get the annotations."
                },
                "source": {
                  "type": "string",
                  "location": "query",
                  "description": "String to identify the originator of this request."
                },
                "annotationId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the volume annotation to retrieve."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "id": "books.layers.volumeAnnotations.get",
              "description": "Gets the volume annotation.",
              "response": {
                "$ref": "Volumeannotation"
              },
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}"
            },
            "list": {
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}",
              "description": "Gets the volume annotations for a volume and layer.",
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}",
              "response": {
                "$ref": "Volumeannotations"
              },
              "id": "books.layers.volumeAnnotations.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "parameters": {
                "startOffset": {
                  "location": "query",
                  "description": "The start offset to start retrieving data from.",
                  "type": "string"
                },
                "source": {
                  "location": "query",
                  "type": "string",
                  "description": "String to identify the originator of this request."
                },
                "endOffset": {
                  "description": "The end offset to end retrieving data from.",
                  "location": "query",
                  "type": "string"
                },
                "updatedMax": {
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "type": "string"
                },
                "maxResults": {
                  "minimum": "0",
                  "description": "Maximum number of results to return",
                  "location": "query",
                  "format": "uint32",
                  "maximum": "200",
                  "type": "integer"
                },
                "locale": {
                  "location": "query",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "type": "string"
                },
                "layerId": {
                  "description": "The ID for the layer to get the annotations.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "showDeleted": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false."
                },
                "startPosition": {
                  "description": "The start position to start retrieving data from.",
                  "location": "query",
                  "type": "string"
                },
                "volumeAnnotationsVersion": {
                  "location": "query",
                  "description": "The version of the volume annotations that you are requesting.",
                  "type": "string"
                },
                "updatedMin": {
                  "location": "query",
                  "type": "string",
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive)."
                },
                "endPosition": {
                  "description": "The end position to end retrieving data from.",
                  "location": "query",
                  "type": "string"
                },
                "contentVersion": {
                  "description": "The content version for the requested volume.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotations for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The value of the nextToken from the previous page.",
                  "location": "query"
                }
              }
            }
          }
        },
        "annotationData": {
          "methods": {
            "get": {
              "response": {
                "$ref": "DictionaryAnnotationdata"
              },
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
              "parameterOrder": [
                "volumeId",
                "layerId",
                "annotationDataId",
                "contentVersion"
              ],
              "description": "Gets the annotation data.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "id": "books.layers.annotationData.get",
              "parameters": {
                "h": {
                  "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "locale": {
                  "type": "string",
                  "location": "query",
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'."
                },
                "allowWebDefinitions": {
                  "description": "For the dictionary layer. Whether or not to allow web definitions.",
                  "type": "boolean",
                  "location": "query"
                },
                "scale": {
                  "location": "query",
                  "description": "The requested scale for the image.",
                  "type": "integer",
                  "minimum": "0",
                  "format": "int32"
                },
                "volumeId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The volume to retrieve annotations for."
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "contentVersion": {
                  "location": "query",
                  "type": "string",
                  "required": true,
                  "description": "The content version for the volume you are trying to retrieve."
                },
                "layerId": {
                  "description": "The ID for the layer to get the annotations.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "w": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The requested pixel width for any images. If width is provided height must also be provided."
                },
                "annotationDataId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the annotation data to retrieve.",
                  "type": "string"
                }
              },
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}"
            },
            "list": {
              "parameterOrder": [
                "volumeId",
                "layerId",
                "contentVersion"
              ],
              "description": "Gets the annotation data for a volume and layer.",
              "flatPath": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
              "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Annotationsdata"
              },
              "id": "books.layers.annotationData.list",
              "parameters": {
                "source": {
                  "type": "string",
                  "description": "String to identify the originator of this request.",
                  "location": "query"
                },
                "w": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The requested pixel width for any images. If width is provided height must also be provided."
                },
                "annotationDataId": {
                  "type": "string",
                  "description": "The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.",
                  "location": "query",
                  "repeated": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The value of the nextToken from the previous page."
                },
                "layerId": {
                  "location": "path",
                  "description": "The ID for the layer to get the annotation data.",
                  "required": true,
                  "type": "string"
                },
                "maxResults": {
                  "minimum": "0",
                  "format": "uint32",
                  "maximum": "200",
                  "location": "query",
                  "description": "Maximum number of results to return",
                  "type": "integer"
                },
                "locale": {
                  "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                  "location": "query",
                  "type": "string"
                },
                "updatedMax": {
                  "location": "query",
                  "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                  "type": "string"
                },
                "updatedMin": {
                  "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                  "location": "query",
                  "type": "string"
                },
                "volumeId": {
                  "description": "The volume to retrieve annotation data for.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "contentVersion": {
                  "description": "The content version for the requested volume.",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "scale": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The requested scale for the image.",
                  "minimum": "0"
                },
                "h": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The requested pixel height for any images. If height is provided width must also be provided."
                }
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "dictionary": {
      "methods": {
        "listOfflineMetadata": {
          "id": "books.dictionary.listOfflineMetadata",
          "parameterOrder": [
            "cpksver"
          ],
          "path": "books/v1/dictionary/listOfflineMetadata",
          "response": {
            "$ref": "Metadata"
          },
          "flatPath": "books/v1/dictionary/listOfflineMetadata",
          "description": "Returns a list of offline dictionary metadata available",
          "parameters": {
            "cpksver": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "The device/version ID from which to request the data."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "name": "books",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/books": {
          "description": "Manage your books"
        }
      }
    }
  },
  "version": "v1",
  "ownerName": "Google",
  "version_module": true,
  "baseUrl": "https://books.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "Offers": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "items": {
            "type": "object",
            "properties": {
              "gservicesKey": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "canonicalVolumeLink": {
                      "type": "string"
                    },
                    "volumeId": {
                      "type": "string"
                    },
                    "coverUrl": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "author": {
                      "type": "string"
                    }
                  }
                }
              },
              "id": {
                "type": "string"
              },
              "artUrl": {
                "type": "string"
              }
            }
          },
          "description": "A list of offers.",
          "type": "array"
        }
      },
      "id": "Offers",
      "type": "object"
    },
    "Volume": {
      "id": "Volume",
      "properties": {
        "id": {
          "description": "Unique identifier for a volume. (In LITE projection.)",
          "type": "string"
        },
        "userInfo": {
          "description": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)",
          "properties": {
            "isInMyBooks": {
              "description": "Whether or not this volume is currently in \"my books.\"",
              "type": "boolean"
            },
            "acquiredTime": {
              "type": "string",
              "description": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc."
            },
            "familySharing": {
              "properties": {
                "isSharingAllowed": {
                  "description": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action.",
                  "type": "boolean"
                },
                "familyRole": {
                  "type": "string",
                  "description": "The role of the user in the family."
                },
                "isSharingDisabledByFop": {
                  "description": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet.",
                  "type": "boolean"
                }
              },
              "type": "object",
              "description": "Information on the ability to share with the family."
            },
            "review": {
              "$ref": "Review",
              "description": "This user's review of this volume, if one exists."
            },
            "readingPosition": {
              "description": "The user's current reading position in the volume, if one is available. (In LITE projection.)",
              "$ref": "ReadingPosition"
            },
            "isFamilySharedToUser": {
              "description": "Whether or not the user received this volume through family sharing.",
              "type": "boolean"
            },
            "isUploaded": {
              "type": "boolean",
              "description": "Whether or not this volume was user uploaded."
            },
            "rentalState": {
              "description": "Whether this book is an active or an expired rental.",
              "type": "string"
            },
            "acquisitionType": {
              "type": "integer",
              "format": "int32",
              "description": "How this volume was acquired."
            },
            "userUploadedVolumeInfo": {
              "type": "object",
              "properties": {
                "processingState": {
                  "type": "string"
                }
              }
            },
            "updated": {
              "description": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format).",
              "type": "string"
            },
            "copy": {
              "properties": {
                "allowedCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "limitType": {
                  "type": "string"
                },
                "remainingCharacterCount": {
                  "type": "integer",
[...]
