{
  "servicePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
  "title": "Books API",
  "description": "The Google Books API allows clients to access the Google Books repository.",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "name": "books",
  "id": "books:v1",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://books.mtls.googleapis.com/",
  "revision": "20260908",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "basePath": "",
  "version": "v1",
  "schemas": {
    "Review": {
      "type": "object",
      "id": "Review",
      "properties": {
        "fullTextUrl": {
          "type": "string",
          "description": "URL for the full review text, for reviews gathered from the web."
        },
        "volumeId": {
          "type": "string",
          "description": "Volume that this review is for."
        },
        "rating": {
          "description": "Star rating for this review. Possible values are ONE, TWO, THREE, FOUR, FIVE or NOT_RATED.",
          "type": "string"
        },
        "type": {
          "description": "Source type for this review. Possible values are EDITORIAL, WEB_USER or GOOGLE_USER.",
          "type": "string"
        },
        "date": {
          "type": "string",
          "description": "Date of this review."
        },
        "kind": {
          "description": "Resource type for a review.",
          "type": "string"
        },
        "author": {
          "properties": {
            "displayName": {
              "type": "string",
              "description": "Name of this person."
            }
          },
          "description": "Author of this review.",
          "type": "object"
        },
        "title": {
          "description": "Title for this review.",
          "type": "string"
        },
        "content": {
          "description": "Review text.",
          "type": "string"
        },
        "source": {
          "type": "object",
          "description": "Information regarding the source of this review, when the review is not from a Google Books user.",
          "properties": {
            "description": {
              "type": "string",
              "description": "Name of the source."
            },
            "extraDescription": {
              "type": "string",
              "description": "Extra text about the source of the review."
            },
            "url": {
              "description": "URL of the source of the review.",
              "type": "string"
            }
          }
        }
      }
    },
    "Discoveryclusters": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resorce type."
        },
        "totalClusters": {
          "format": "int32",
          "type": "integer"
        },
        "clusters": {
          "items": {
            "type": "object",
            "properties": {
              "volumes": {
                "type": "array",
                "items": {
                  "$ref": "Volume"
                }
              },
              "title": {
                "type": "string"
              },
              "subTitle": {
                "type": "string"
              },
              "banner_with_content_container": {
                "properties": {
                  "imageUrl": {
                    "type": "string"
                  },
                  "fillColorArgb": {
                    "type": "string"
                  },
                  "textColorArgb": {
                    "type": "string"
                  },
                  "moreButtonText": {
                    "type": "string"
                  },
                  "maskColorArgb": {
                    "type": "string"
                  },
                  "moreButtonUrl": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "uid": {
                "type": "string"
              },
              "totalVolumes": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "type": "array"
        }
      },
      "id": "Discoveryclusters",
      "type": "object"
    },
    "Metadata": {
      "id": "Metadata",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "properties": {
              "language": {
                "type": "string"
              },
              "encrypted_key": {
                "type": "string"
              },
              "download_url": {
                "type": "string"
              },
              "version": {
                "type": "string",
                "format": "int64"
              },
              "size": {
                "format": "int64",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of offline dictionary metadata."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    },
    "AnnotationsSummary": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string"
        },
        "layers": {
          "type": "array",
          "items": {
            "properties": {
              "limitType": {
                "type": "string"
              },
              "layerId": {
                "type": "string"
              },
              "updated": {
                "type": "string"
              },
              "remainingCharacterCount": {
                "type": "integer",
                "format": "int32"
              },
              "allowedCharacterCount": {
                "type": "integer",
                "format": "int32"
              }
            },
            "type": "object"
          }
        }
      },
      "id": "AnnotationsSummary"
    },
    "ConcurrentAccessRestriction": {
      "type": "object",
      "id": "ConcurrentAccessRestriction",
      "properties": {
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        },
        "deviceAllowed": {
          "type": "boolean",
          "description": "Whether access is granted for this (user, device, volume)."
        },
        "reasonCode": {
          "type": "string",
          "description": "Error/warning reason code."
        },
        "restricted": {
          "description": "Whether this volume has any concurrent access restrictions.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "message": {
          "type": "string",
          "description": "Error/warning message."
        },
        "maxConcurrentDevices": {
          "type": "integer",
          "description": "The maximum number of concurrent access licenses for this volume.",
          "format": "int32"
        },
        "volumeId": {
          "description": "Identifies the volume for which this entry applies.",
          "type": "string"
        },
        "signature": {
          "type": "string",
          "description": "Response signature."
        },
        "timeWindowSeconds": {
          "format": "int32",
          "description": "Time in seconds for license auto-expiration.",
          "type": "integer"
        },
        "source": {
          "type": "string",
          "description": "Client app identifier for verification. Download access and client-validation only."
        }
      }
    },
    "Volume2": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          },
          "description": "A list of volumes."
        }
      },
      "id": "Volume2",
      "type": "object"
    },
    "ReadingPosition": {
      "type": "object",
      "properties": {
        "gbImagePosition": {
          "type": "string",
          "description": "Position in a volume for image-based content."
        },
        "gbTextPosition": {
          "description": "Position in a volume for text-based content.",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp when this reading position was last updated (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "epubCfiPosition": {
          "description": "Position in an EPUB as a CFI.",
          "type": "string"
        },
        "pdfPosition": {
          "description": "Position in a PDF file.",
          "type": "string"
        },
        "volumeId": {
          "description": "Volume id associated with this reading position.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for a reading position."
        }
      },
      "id": "ReadingPosition"
    },
    "Annotationsdata": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results."
        },
        "totalItems": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of volume annotations found."
        },
        "items": {
          "description": "A list of Annotation Data.",
          "type": "array",
          "items": {
            "$ref": "GeoAnnotationdata"
          }
        },
        "kind": {
          "description": "Resource type",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Annotationsdata"
    },
    "Series": {
      "type": "object",
      "id": "Series",
      "properties": {
        "series": {
          "items": {
            "properties": {
              "eligibleForSubscription": {
                "type": "boolean"
              },
              "title": {
                "type": "string"
              },
              "seriesId": {
                "type": "string"
              },
              "subscriptionId": {
                "type": "string"
              },
              "imageUrl": {
                "type": "string"
              },
              "isComplete": {
                "type": "boolean"
              },
              "bannerImageUrl": {
                "type": "string"
              },
              "seriesFormatType": {
                "type": "string"
              },
              "seriesType": {
                "type": "string"
              },
              "seriesSubscriptionReleaseInfo": {
                "type": "object",
                "properties": {
                  "nextReleaseInfo": {
                    "properties": {
                      "releaseNumber": {
                        "type": "string"
                      },
                      "releaseTime": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "cancelTime": {
                    "type": "string"
                  },
                  "seriesSubscriptionType": {
                    "type": "string"
                  },
                  "currentReleaseInfo": {
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      },
                      "releaseNumber": {
                        "type": "string"
                      },
                      "releaseTime": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                }
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    },
    "Annotation": {
      "type": "object",
      "id": "Annotation",
      "properties": {
        "pageIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Pages that this annotation spans."
        },
        "highlightStyle": {
          "description": "The highlight style for this annotation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "deleted": {
          "type": "boolean",
          "description": "Indicates that this annotation is deleted."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "layerSummary": {
          "type": "object",
          "properties": {
            "remainingCharacterCount": {
              "description": "Remaining allowed characters on this layer, especially for the \"copy\" layer.",
              "format": "int32",
              "type": "integer"
            },
            "limitType": {
              "type": "string",
              "description": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer."
            },
            "allowedCharacterCount": {
              "format": "int32",
              "description": "Maximum allowed characters on this layer, especially for the \"copy\" layer.",
              "type": "integer"
            }
          }
        },
        "beforeSelectedText": {
          "type": "string",
          "description": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty."
        },
        "data": {
          "description": "User-created data for this annotation.",
          "type": "string"
        },
        "volumeId": {
          "type": "string",
          "description": "The volume that this annotation belongs to."
        },
        "id": {
          "description": "Id of this annotation, in the form of a GUID.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this annotation was modified."
        },
        "layerId": {
          "description": "The layer this annotation is for.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Timestamp for the created time of this annotation."
        },
        "currentVersionRanges": {
          "description": "Selection ranges for the most recent content version.",
          "properties": {
            "gbTextRange": {
              "description": "Range in GB text format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "type": "string",
              "description": "Content version applicable to ranges below."
            },
            "imageCfiRange": {
              "description": "Range in image CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation for version above."
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "type": "object"
        },
        "afterSelectedText": {
          "description": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.",
          "type": "string"
        },
        "selectedText": {
          "description": "Excerpt from the volume.",
          "type": "string"
        },
        "clientVersionRanges": {
          "properties": {
            "gbTextRange": {
              "description": "Range in GB text format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "type": "string",
              "description": "Content version the client sent in."
            },
            "imageCfiRange": {
              "description": "Range in image CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbImageRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation sent by client."
            },
            "cfiRange": {
              "description": "Range in CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "type": "object",
          "description": "Selection ranges sent from the client."
        }
      }
    },
    "Volumes": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          },
          "description": "A list of volumes."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "totalItems": {
          "format": "int32",
          "description": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Volumes"
    },
    "Volume": {
      "properties": {
        "searchInfo": {
          "properties": {
            "textSnippet": {
              "type": "string",
              "description": "A text snippet containing the search query."
            }
          },
          "description": "Search result information related to this volume.",
          "type": "object"
        },
        "volumeInfo": {
          "type": "object",
          "description": "General volume information.",
          "properties": {
            "mainCategory": {
              "description": "The main category to which this volume belongs. It will be the category from the categories list returned below that has the highest weight.",
              "type": "string"
            },
            "language": {
              "type": "string",
              "description": "Best language for this volume (based on content). It is the two-letter ISO 639-1 code such as 'fr', 'en', etc."
            },
            "allowAnonLogging": {
              "description": "Whether anonymous logging should be allowed.",
              "type": "boolean"
            },
            "readingModes": {
              "type": "object",
              "description": "The reading modes available for this volume.",
              "properties": {
                "text": {
                  "type": "boolean"
                },
                "image": {
                  "type": "boolean"
                }
              }
            },
            "categories": {
              "type": "array",
              "description": "A list of subject categories, such as \"Fiction\", \"Suspense\", etc.",
              "items": {
                "type": "string"
              }
            },
            "printedPageCount": {
              "format": "int32",
              "type": "integer",
              "description": "Total number of printed pages in generated pdf representation."
            },
            "comicsContent": {
              "description": "Whether the volume has comics content.",
              "type": "boolean"
            },
            "previewLink": {
              "description": "URL to preview this volume on the Google Books site.",
              "type": "string"
            },
            "pageCount": {
              "description": "Total number of pages as per publisher metadata.",
              "type": "integer",
              "format": "int32"
            },
            "authors": {
              "description": "The names of the authors and/or editors for this volume. (In LITE projection)",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "contentVersion": {
              "type": "string",
              "description": "An identifier for the version of the volume content (text & images). (In LITE projection)"
            },
            "publishedDate": {
              "description": "Date of publication. (In LITE projection.)",
              "type": "string"
            },
            "panelizationSummary": {
              "type": "object",
              "description": "A top-level summary of the panelization info in this volume.",
              "properties": {
                "epubBubbleVersion": {
                  "type": "string"
                },
                "containsEpubBubbles": {
                  "type": "boolean"
                },
                "containsImageBubbles": {
                  "type": "boolean"
                },
                "imageBubbleVersion": {
                  "type": "string"
                }
              }
            },
            "imageLinks": {
              "type": "object",
              "properties": {
                "large": {
                  "description": "Image link for large size (width of ~800 pixels). (In LITE projection)",
                  "type": "string"
                },
                "thumbnail": {
                  "type": "string",
                  "description": "Image link for thumbnail size (width of ~128 pixels). (In LITE projection)"
                },
                "smallThumbnail": {
                  "type": "string",
                  "description": "Image link for small thumbnail size (width of ~80 pixels). (In LITE projection)"
                },
                "medium": {
                  "description": "Image link for medium size (width of ~575 pixels). (In LITE projection)",
                  "type": "string"
                },
                "small": {
                  "description": "Image link for small size (width of ~300 pixels). (In LITE projection)",
                  "type": "string"
                },
                "extraLarge": {
                  "type": "string",
                  "description": "Image link for extra large size (width of ~1280 pixels). (In LITE projection)"
                }
              },
              "description": "A list of image links for all the sizes that are available. (In LITE projection.)"
            },
            "averageRating": {
              "description": "The mean review rating for this volume. (min = 1.0, max = 5.0)",
              "format": "double",
              "type": "number"
            },
            "maturityRating": {
              "type": "string"
            },
            "description": {
              "description": "A synopsis of the volume. The text of the description is formatted in HTML and includes simple formatting elements, such as b, i, and br tags. (In LITE projection.)",
              "type": "string"
            },
            "subtitle": {
              "type": "string",
              "description": "Volume subtitle. (In LITE projection.)"
            },
            "title": {
              "description": "Volume title. (In LITE projection.)",
              "type": "string"
            },
            "canonicalVolumeLink": {
              "description": "Canonical URL for a volume. (In LITE projection.)",
              "type": "string"
            },
            "industryIdentifiers": {
              "type": "array",
              "description": "Industry standard identifiers for this volume.",
              "items": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Industry specific volume identifier."
                  },
                  "type": {
                    "description": "Identifier type. Possible values are ISBN_10, ISBN_13, ISSN and OTHER.",
                    "type": "string"
                  }
                }
              }
            },
            "infoLink": {
              "type": "string",
              "description": "URL to view information about this volume on the Google Books site. (In LITE projection)"
            },
            "dimensions": {
              "properties": {
                "thickness": {
                  "description": "Thickness of this volume (in cm).",
                  "type": "string"
                },
                "height": {
                  "description": "Height or length of this volume (in cm).",
                  "type": "string"
                },
                "width": {
                  "type": "string",
                  "description": "Width of this volume (in cm)."
                }
              },
              "description": "Physical dimensions of this volume.",
              "type": "object"
            },
            "ratingsCount": {
              "type": "integer",
              "description": "The number of review ratings for this volume.",
              "format": "int32"
            },
            "publisher": {
              "description": "Publisher of this volume. (In LITE projection.)",
              "type": "string"
            },
            "seriesInfo": {
              "$ref": "Volumeseriesinfo"
            },
            "samplePageCount": {
              "type": "integer",
              "description": "Total number of sample pages as per publisher metadata.",
              "format": "int32"
            },
            "printType": {
              "type": "string",
              "description": "Type of publication of this volume. Possible values are BOOK or MAGAZINE."
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "URL to this resource. (In LITE projection.)"
        },
        "etag": {
          "description": "Opaque identifier for a specific version of a volume resource. (In LITE projection)",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for a volume. (In LITE projection.)"
        },
        "accessInfo": {
          "type": "object",
          "description": "Any information about a volume related to reading or obtaining that volume text. This information can depend on country (books may be public domain in one country but not in another, e.g.).",
          "properties": {
            "country": {
              "type": "string",
              "description": "The two-letter ISO_3166-1 country code for which this access information is valid. (In LITE projection.)"
            },
            "driveImportedContentLink": {
              "type": "string",
              "description": "URL to the Google Drive viewer if this volume is uploaded by the user by selecting the file from Google Drive."
            },
            "downloadAccess": {
              "description": "Information about a volume's download license access restrictions.",
              "$ref": "DownloadAccessRestriction"
            },
            "pdf": {
              "properties": {
                "isAvailable": {
                  "description": "Is a scanned image pdf available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                },
                "downloadLink": {
                  "description": "URL to download pdf. (In LITE projection.)",
                  "type": "string"
                },
                "acsTokenLink": {
                  "type": "string",
                  "description": "URL to retrieve ACS token for pdf download. (In LITE projection.)"
                }
              },
              "description": "Information about pdf content. (In LITE projection.)",
              "type": "object"
            },
            "webReaderLink": {
              "type": "string",
              "description": "URL to read this volume on the Google Books site. Link will not allow users to read non-viewable volumes."
            },
            "explicitOfflineLicenseManagement": {
              "description": "Whether this volume requires that the client explicitly request offline download license rather than have it done automatically when loading the content, if the client supports it.",
              "type": "boolean"
            },
            "accessViewStatus": {
              "type": "string",
              "description": "Combines the access and viewability of this volume into a single status field for this user. Values can be FULL_PURCHASED, FULL_PUBLIC_DOMAIN, SAMPLE or NONE. (In LITE projection.)"
            },
            "viewability": {
              "type": "string",
              "description": "The read access of a volume. Possible values are PARTIAL, ALL_PAGES, NO_PAGES or UNKNOWN. This value depends on the country listed above. A value of PARTIAL means that the publisher has allowed some portion of the volume to be viewed publicly, without purchase. This can apply to eBooks as well as non-eBooks. Public domain books will always have a value of ALL_PAGES."
            },
            "viewOrderUrl": {
              "description": "For ordered but not yet processed orders, we give a URL that can be used to go to the appropriate Google Wallet page.",
              "type": "string"
            },
            "quoteSharingAllowed": {
              "type": "boolean",
              "description": "Whether quote sharing is allowed for this volume."
            },
            "textToSpeechPermission": {
              "description": "Whether text-to-speech is permitted for this volume. Values can be ALLOWED, ALLOWED_FOR_ACCESSIBILITY, or NOT_ALLOWED.",
              "type": "string"
            },
            "publicDomain": {
              "description": "Whether or not this book is public domain in the country listed above.",
              "type": "boolean"
            },
            "embeddable": {
              "type": "boolean",
              "description": "Whether this volume can be embedded in a viewport using the Embedded Viewer API."
            },
            "epub": {
              "type": "object",
              "properties": {
                "isAvailable": {
                  "description": "Is a flowing text epub available either as public domain or for purchase. (In LITE projection.)",
                  "type": "boolean"
                },
                "downloadLink": {
                  "description": "URL to download epub. (In LITE projection.)",
                  "type": "string"
                },
                "acsTokenLink": {
                  "description": "URL to retrieve ACS token for epub download. (In LITE projection.)",
                  "type": "string"
                }
              },
              "description": "Information about epub content. (In LITE projection.)"
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type for a volume. (In LITE projection.)"
        },
        "layerInfo": {
          "description": "What layers exist in this volume and high level information about them.",
          "properties": {
            "layers": {
              "items": {
                "type": "object",
                "properties": {
                  "layerId": {
                    "type": "string",
                    "description": "The layer id of this layer (e.g. \"geo\")."
                  },
                  "volumeAnnotationsVersion": {
                    "type": "string",
                    "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately."
                  }
                }
              },
              "type": "array",
              "description": "A layer should appear here if and only if the layer exists for this book."
            }
          },
          "type": "object"
        },
        "recommendedInfo": {
          "type": "object",
          "description": "Recommendation related information for this volume.",
          "properties": {
            "explanation": {
              "description": "A text explaining why this volume is recommended.",
              "type": "string"
            }
          }
        },
        "userInfo": {
          "properties": {
            "updated": {
              "description": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format).",
              "type": "string"
            },
            "isFamilySharingDisabledByFop": {
              "description": "Deprecated: Replaced by familySharing.",
              "type": "boolean"
            },
            "rentalState": {
              "description": "Whether this book is an active or an expired rental.",
              "type": "string"
            },
            "rentalPeriod": {
              "type": "object",
              "description": "Period during this book is/was a valid rental.",
              "properties": {
                "startUtcSec": {
                  "type": "string",
                  "format": "int64"
                },
                "endUtcSec": {
                  "format": "int64",
                  "type": "string"
                }
              }
            },
            "isFamilySharedFromUser": {
              "type": "boolean",
              "description": "Whether or not the user shared this volume with the family."
            },
            "isFamilySharedToUser": {
              "description": "Whether or not the user received this volume through family sharing.",
              "type": "boolean"
            },
            "isFamilySharingAllowed": {
              "type": "boolean",
              "description": "Deprecated: Replaced by familySharing."
            },
            "isPurchased": {
              "type": "boolean",
              "description": "Whether or not this volume was purchased by the authenticated user making the request. (In LITE projection.)"
            },
            "acquiredTime": {
              "type": "string",
              "description": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc."
            },
            "isUploaded": {
              "type": "boolean",
              "description": "Whether or not this volume was user uploaded."
            },
            "acquisitionType": {
              "format": "int32",
              "type": "integer",
              "description": "How this volume was acquired."
            },
            "review": {
              "description": "This user's review of this volume, if one exists.",
              "$ref": "Review"
            },
            "isPreordered": {
              "type": "boolean",
              "description": "Whether or not this volume was pre-ordered by the authenticated user making the request. (In LITE projection.)"
            },
            "isInMyBooks": {
              "description": "Whether or not this volume is currently in \"my books.\"",
              "type": "boolean"
            },
            "readingPosition": {
              "$ref": "ReadingPosition",
              "description": "The user's current reading position in the volume, if one is available. (In LITE projection.)"
            },
            "copy": {
              "description": "Copy/Paste accounting information.",
              "properties": {
                "allowedCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "updated": {
                  "type": "string"
                },
                "limitType": {
                  "type": "string"
                },
                "remainingCharacterCount": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "type": "object"
            },
            "userUploadedVolumeInfo": {
              "properties": {
                "processingState": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "entitlementType": {
              "format": "int32",
              "description": "Whether this volume is purchased, sample, pd download etc.",
              "type": "integer"
            },
            "familySharing": {
              "properties": {
                "familyRole": {
                  "description": "The role of the user in the family.",
                  "type": "string"
                },
                "isSharingDisabledByFop": {
                  "type": "boolean",
                  "description": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet."
                },
                "isSharingAllowed": {
                  "description": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action.",
                  "type": "boolean"
                }
              },
              "type": "object",
              "description": "Information on the ability to share with the family."
            }
          },
          "type": "object",
          "description": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)"
        },
        "saleInfo": {
          "properties": {
            "retailPrice": {
              "type": "object",
              "description": "The actual selling price of the book. This is the same as the suggested retail or list price unless there are offers or discounts on this volume. (In LITE projection.)",
              "properties": {
                "amount": {
                  "description": "Amount in the currency listed below. (In LITE projection.)",
                  "type": "number",
                  "format": "double"
                },
                "currencyCode": {
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)",
                  "type": "string"
                }
              }
            },
            "offers": {
              "items": {
                "type": "object",
                "properties": {
                  "listPrice": {
                    "description": "Offer list (=undiscounted) price in Micros.",
                    "properties": {
                      "currencyCode": {
                        "type": "string"
                      },
                      "amountInMicros": {
                        "type": "number",
                        "format": "double"
                      }
                    },
                    "type": "object"
                  },
                  "giftable": {
                    "type": "boolean",
                    "description": "Indicates whether the offer is giftable."
                  },
                  "retailPrice": {
                    "properties": {
                      "amountInMicros": {
                        "format": "double",
                        "type": "number"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    },
                    "type": "object",
                    "description": "Offer retail (=discounted) price in Micros"
                  },
                  "rentalDuration": {
                    "description": "The rental duration (for rental offers only).",
                    "properties": {
                      "count": {
                        "type": "number",
                        "format": "double"
                      },
                      "unit": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "finskyOfferType": {
                    "format": "int32",
                    "description": "The finsky offer type (e.g., PURCHASE=0 RENTAL=3)",
                    "type": "integer"
                  }
                }
              },
              "type": "array",
              "description": "Offers available for this volume (sales and rentals)."
            },
            "isEbook": {
              "description": "Whether or not this volume is an eBook (can be added to the My eBooks shelf).",
              "type": "boolean"
            },
            "buyLink": {
              "type": "string",
              "description": "URL to purchase this volume on the Google Books site. (In LITE projection)"
            },
            "onSaleDate": {
              "description": "The date on which this book is available for sale.",
              "type": "string"
            },
            "saleability": {
              "type": "string",
              "description": "Whether or not this book is available for sale or offered for free in the Google eBookstore for the country listed above. Possible values are FOR_SALE, FOR_RENTAL_ONLY, FOR_SALE_AND_RENTAL, FREE, NOT_FOR_SALE, or FOR_PREORDER."
            },
            "listPrice": {
              "description": "Suggested retail price. (In LITE projection.)",
              "properties": {
                "amount": {
                  "format": "double",
                  "type": "number",
                  "description": "Amount in the currency listed below. (In LITE projection.)"
                },
                "currencyCode": {
                  "type": "string",
                  "description": "An ISO 4217, three-letter currency code. (In LITE projection.)"
                }
              },
              "type": "object"
            },
            "country": {
              "description": "The two-letter ISO_3166-1 country code for which this sale information is valid. (In LITE projection.)",
              "type": "string"
            }
          },
          "description": "Any information about a volume related to the eBookstore and/or purchaseability. This information can depend on the country where the request originates from (i.e. books may not be for sale in certain countries).",
          "type": "object"
        }
      },
      "type": "object",
      "id": "Volume"
    },
    "BooksVolumesRecommendedRateResponse": {
      "properties": {
        "consistency_token": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "BooksVolumesRecommendedRateResponse"
    },
    "Offers": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "properties": {
              "id": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "properties": {
                    "author": {
                      "type": "string"
                    },
                    "canonicalVolumeLink": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "volumeId": {
                      "type": "string"
                    },
                    "coverUrl": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "gservicesKey": {
                "type": "string"
              },
              "artUrl": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "A list of offers.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "id": "Offers"
    },
    "Volumeseriesinfo": {
      "type": "object",
      "properties": {
        "shortSeriesBookTitle": {
          "type": "string",
          "description": "Short book title in the context of the series."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "volumeSeries": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "issue": {
                "type": "array",
                "items": {
                  "properties": {
                    "issueOrderNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "issueDisplayNumber": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "List of issues. Applicable only for Collection Edition and Omnibus."
              },
              "orderNumber": {
                "description": "The book order number in the series.",
                "type": "integer",
                "format": "int32"
              },
              "seriesId": {
                "description": "The series id.",
                "type": "string"
              },
              "seriesBookType": {
                "type": "string",
                "description": "The book type in the context of series. Examples - Single Issue, Collection Edition, etc."
              }
            }
          }
        },
        "bookDisplayNumber": {
          "description": "The display number string. This should be used only for display purposes and the actual sequence should be inferred from the below orderNumber.",
          "type": "string"
        }
      },
      "id": "Volumeseriesinfo"
    },
    "Layersummaries": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "totalItems": {
          "description": "The total number of layer summaries found.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "description": "A list of layer summary items.",
          "items": {
            "$ref": "Layersummary"
          },
          "type": "array"
        }
      },
      "id": "Layersummaries",
      "type": "object"
    },
    "RequestAccessData": {
      "id": "RequestAccessData",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "downloadAccess": {
          "description": "A download access response.",
          "$ref": "DownloadAccessRestriction"
        },
        "concurrentAccess": {
          "description": "A concurrent access response.",
          "$ref": "ConcurrentAccessRestriction"
        }
      },
      "type": "object"
    },
    "Dictlayerdata": {
      "id": "Dictlayerdata",
      "properties": {
        "common": {
          "type": "object",
          "properties": {
            "title": {
              "description": "The display title and localized canonical name to use when searching for this entity on Google search.",
              "type": "string"
            }
          }
        },
        "dict": {
          "type": "object",
          "properties": {
            "words": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "object",
                    "description": "The words with different meanings but not related words, e.g. \"go\" (game) and \"go\" (verb).",
                    "properties": {
                      "attribution": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    }
                  },
                  "derivatives": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "type": "object"
                    }
                  },
                  "examples": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  },
                  "senses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "conjugations": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "source": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "attribution": {
                              "type": "string"
                            }
                          }
                        },
                        "synonyms": {
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "source": {
                                "properties": {
                                  "attribution": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            }
                          },
                          "type": "array"
                        },
                        "pronunciation": {
                          "type": "string"
                        },
                        "syllabification": {
                          "type": "string"
                        },
                        "definitions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "examples": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "source": {
                                      "type": "object",
                                      "properties": {
                                        "url": {
                                          "type": "string"
                                        },
                                        "attribution": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "definition": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "partOfSpeech": {
                          "type": "string"
                        },
                        "pronunciationUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "source": {
              "type": "object",
              "description": "The source, url and attribution for this dictionary data.",
              "properties": {
                "url": {
                  "type": "string"
                },
                "attribution": {
                  "type": "string"
                }
              }
            }
          }
        },
        "kind": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Layersummary": {
      "type": "object",
      "id": "Layersummary",
      "properties": {
        "dataCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of data items for this layer."
        },
        "kind": {
          "description": "Resource Type",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "URL to this resource."
        },
        "annotationsDataLink": {
          "description": "Link to get data for this annotation.",
          "type": "string"
        },
        "annotationsLink": {
          "type": "string",
          "description": "The link to get the annotations for this layer."
        },
        "annotationCount": {
          "format": "int32",
          "description": "The number of annotations for this layer.",
          "type": "integer"
        },
        "contentVersion": {
          "type": "string",
          "description": "The content version this resource is for."
        },
        "volumeId": {
          "type": "string",
          "description": "The volume id this resource is for."
        },
        "volumeAnnotationsVersion": {
          "description": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately.",
          "type": "string"
        },
        "annotationTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of annotation types contained for this layer."
        },
        "layerId": {
          "description": "The layer id for this summary.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time an item in this layer was updated. (RFC 3339 UTC date-time format)."
        },
        "id": {
          "description": "Unique id of this layer summary.",
          "type": "string"
        }
      }
    },
    "BooksCloudloadingResource": {
      "properties": {
        "title": {
          "type": "string"
        },
        "processingState": {
          "type": "string"
        },
        "author": {
          "type": "string"
        },
        "volumeId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "BooksCloudloadingResource"
    },
    "Volumeannotation": {
      "properties": {
        "annotationDataId": {
          "description": "The annotation data id for this volume annotation.",
          "type": "string"
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean"
        },
        "volumeId": {
          "type": "string",
          "description": "The Volume this annotation is for."
        },
        "pageIds": {
          "type": "array",
          "description": "Pages the annotation spans.",
          "items": {
            "type": "string"
          }
        },
        "contentRanges": {
          "properties": {
            "contentVersion": {
              "type": "string",
              "description": "Content version applicable to ranges below."
            },
            "gbTextRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation for version above."
            },
            "gbImageRange": {
              "description": "Range in GB image format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "cfiRange": {
              "$ref": "BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation for version above."
            }
          },
          "type": "object",
          "description": "The content ranges to identify the selected text."
        },
        "id": {
          "type": "string",
          "description": "Unique id of this volume annotation."
        },
        "annotationDataLink": {
          "type": "string",
          "description": "Link to get data for this annotation."
        },
        "selectedText": {
          "type": "string",
          "description": "Excerpt from the volume."
        },
        "layerId": {
          "description": "The Layer this annotation is for.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this anntoation was updated. (RFC 3339 UTC date-time format)."
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "Data for this annotation."
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "annotationType": {
          "type": "string",
          "description": "The type of annotation this is."
        }
      },
      "id": "Volumeannotation",
      "type": "object"
    },
    "DictionaryAnnotationdata": {
      "id": "DictionaryAnnotationdata",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "annotationType": {
          "type": "string",
          "description": "The type of annotation this data is for."
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string"
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "encodedData": {
          "description": "Base64 encoded data for this annotation data.",
          "type": "string",
          "format": "byte"
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "data": {
          "description": "JSON encoded data for this dictionary annotation data. Emitted with name 'data' in JSON output. Either this or geo_data will be populated.",
          "$ref": "Dictlayerdata"
        },
        "id": {
          "type": "string",
          "description": "Unique id for this annotation data."
        }
      }
    },
    "Usersettings": {
      "id": "Usersettings",
      "type": "object",
      "properties": {
        "notification": {
          "properties": {
            "moreFromSeries": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "moreFromAuthors": {
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "priceDrop": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "rewardExpirations": {
              "type": "object",
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              }
            },
            "matchMyInterests": {
              "properties": {
                "opted_state": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "notesExport": {
          "description": "User settings in sub-objects, each for different purposes.",
          "properties": {
            "isEnabled": {
              "type": "boolean"
            },
            "folderName": {
              "type": "string"
            }
          },
          "type": "object"
        }
      }
    },
    "BooksAnnotationsRange": {
      "properties": {
        "startPosition": {
          "description": "The starting position for the range.",
          "type": "string"
        },
        "startOffset": {
          "description": "The offset from the starting position.",
          "type": "string"
        },
        "endOffset": {
          "type": "string",
          "description": "The offset from the ending position."
        },
        "endPosition": {
          "description": "The ending position for the range.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BooksAnnotationsRange"
    },
    "Annotations": {
      "properties": {
        "items": {
          "items": {
            "$ref": "Annotation"
          },
          "description": "A list of annotations.",
          "type": "array"
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results.",
          "type": "string"
        },
        "totalItems": {
          "description": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Annotations",
      "type": "object"
    },
    "Category": {
      "properties": {
        "items": {
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "categoryId": {
                "type": "string"
              },
              "badgeUrl": {
                "type": "string"
              }
            }
          },
          "type": "array",
          "description": "A list of onboarding categories."
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "id": "Category",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "Seriesmembership": {
      "properties": {
        "member": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "kind": {
          "type": "string",
          "description": "Resorce type."
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Seriesmembership"
    },
    "Geolayerdata": {
      "properties": {
        "kind": {
          "type": "string"
        },
        "common": {
          "properties": {
            "snippet": {
              "description": "The description for this location.",
              "type": "string"
            },
            "lang": {
              "description": "The language of the information url and description.",
              "type": "string"
            },
            "snippetUrl": {
              "type": "string",
              "description": "The URL for information for this location. Ex: wikipedia link."
            },
            "previewImageUrl": {
              "description": "The URL for the preview image information.",
              "type": "string"
            },
            "title": {
              "description": "The display title and localized canonical name to use when searching for this entity on Google search.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "geo": {
          "properties": {
            "countryCode": {
              "description": "The country code of the location.",
              "type": "string"
            },
            "mapType": {
              "description": "The type of map that should be used for this location. EX: HYBRID, ROADMAP, SATELLITE, TERRAIN",
              "type": "string"
            },
            "zoom": {
              "format": "int32",
              "type": "integer",
              "description": "The Zoom level to use for the map. Zoom levels between 0 (the lowest zoom level, in which the entire world can be seen on one map) to 21+ (down to individual buildings). See: https: //developers.google.com/maps/documentation/staticmaps/#Zoomlevels"
            },
            "boundary": {
              "description": "The boundary of the location as a set of loops containing pairs of latitude, longitude coordinates.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "latitude": {
              "format": "double",
              "description": "The latitude of the location.",
              "type": "number"
            },
            "longitude": {
              "type": "number",
              "description": "The longitude of the location.",
              "format": "double"
            },
            "viewport": {
              "type": "object",
              "description": "The viewport for showing this location. This is a latitude, longitude rectangle.",
              "properties": {
                "lo": {
                  "properties": {
                    "longitude": {
                      "type": "number",
                      "format": "double"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "double"
                    }
                  },
                  "type": "object"
                },
                "hi": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "format": "double",
                      "type": "number"
                    },
                    "longitude": {
                      "format": "double",
                      "type": "number"
                    }
                  }
                }
              }
            },
            "cachePolicy": {
              "description": "The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER",
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Geolayerdata"
    },
    "GeoAnnotationdata": {
      "properties": {
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource Type"
        },
        "annotationType": {
          "type": "string",
          "description": "The type of annotation this data is for."
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string"
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string"
        },
        "encodedData": {
          "description": "Base64 encoded data for this annotation data.",
          "type": "string",
          "format": "byte"
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string"
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "type": "string"
        },
        "data": {
          "description": "JSON encoded data for this geo annotation data. Emitted with name 'data' in JSON output. Either this or dict_data will be populated.",
          "$ref": "Geolayerdata"
        }
      },
      "id": "GeoAnnotationdata",
      "type": "object"
    },
    "DownloadAccesses": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "downloadAccessList": {
          "description": "A list of download access responses.",
          "items": {
            "$ref": "DownloadAccessRestriction"
          },
          "type": "array"
        }
      },
      "id": "DownloadAccesses",
      "type": "object"
    },
    "Volumeannotations": {
      "properties": {
        "totalItems": {
          "format": "int32",
          "description": "The total number of volume annotations found.",
          "type": "integer"
        },
        "version": {
          "description": "The version string for all of the volume annotations in this layer (not just the ones in this response). Note: the version string doesn't apply to the annotation data, just the information in this response (e.g. the location of annotations in the book).",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Volumeannotation"
          },
          "description": "A list of volume annotations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results."
        },
        "kind": {
          "description": "Resource type",
          "type": "string"
        }
      },
      "id": "Volumeannotations",
      "type": "object"
    },
    "Bookshelf": {
      "id": "Bookshelf",
      "properties": {
        "created": {
          "description": "Created time for this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "volumesLastUpdated": {
          "type": "string",
          "description": "Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution)."
        },
        "updated": {
          "description": "Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution).",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "URL to this resource."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for bookshelf metadata."
        },
        "id": {
          "format": "int32",
          "description": "Id of this bookshelf, only unique by user.",
          "type": "integer"
        },
        "volumeCount": {
          "description": "Number of volumes in this bookshelf.",
          "type": "integer",
          "format": "int32"
        },
        "access": {
          "description": "Whether this bookshelf is PUBLIC or PRIVATE.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of this bookshelf."
        },
        "title": {
          "description": "Title of this bookshelf.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Notification": {
      "properties": {
        "dont_show_notification": {
          "type": "boolean"
        },
        "notification_type": {
          "type": "string"
        },
        "show_notification_settings_action": {
          "type": "boolean"
        },
        "doc_type": {
          "type": "string"
        },
        "timeToExpireMs": {
          "type": "string",
          "format": "int64"
        },
        "iconUrl": {
          "type": "string"
        },
        "reason": {
          "type": "string"
        },
        "is_document_mature": {
          "type": "boolean"
        },
        "title": {
          "type": "string"
        },
        "notificationGroup": {
          "type": "string"
        },
        "doc_id": {
          "type": "string"
        },
        "crmExperimentIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "The list of crm experiment ids."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "targetUrl": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "pcampaign_id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Notification"
    },
    "FamilyInfo": {
      "id": "FamilyInfo",
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "membership": {
          "description": "Family membership info of the user that made the request.",
          "properties": {
            "ageGroup": {
              "type": "string",
              "description": "The age group of the user."
            },
            "isInFamily": {
              "type": "boolean"
            },
            "role": {
              "description": "The role of the user in the family.",
              "type": "string"
            },
            "allowedMaturityRating": {
              "description": "The maximum allowed maturity rating for the user.",
              "type": "string"
            },
            "acquirePermission": {
              "type": "string",
              "description": "Restrictions on user buying and acquiring content."
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "DownloadAccessRestriction": {
      "id": "DownloadAccessRestriction",
      "type": "object",
      "properties": {
        "message": {
          "description": "Error/warning message.",
          "type": "string"
        },
        "deviceAllowed": {
          "description": "If restricted, whether access is granted for this (user, device, volume).",
          "type": "boolean"
        },
        "downloadsAcquired": {
          "type": "integer",
          "description": "If restricted, the number of content download licenses already acquired (including the requesting client, if licensed).",
          "format": "int32"
        },
        "signature": {
          "type": "string",
          "description": "Response signature."
        },
        "source": {
          "description": "Client app identifier for verification. Download access and client-validation only.",
          "type": "string"
        },
        "restricted": {
          "type": "boolean",
          "description": "Whether this volume has any download access restrictions."
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string"
        },
        "reasonCode": {
          "description": "Error/warning reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS",
          "type": "string"
        },
        "volumeId": {
          "description": "Identifies the volume for which this entry applies.",
          "type": "string"
        },
        "maxDownloadDevices": {
          "format": "int32",
          "description": "If restricted, the maximum number of content download licenses for this volume.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Resource type."
        },
        "justAcquired": {
          "description": "If deviceAllowed, whether access was just acquired with this request.",
          "type": "boolean"
        }
      }
    },
    "Bookshelves": {
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string"
        },
        "items": {
          "description": "A list of bookshelves.",
          "type": "array",
          "items": {
            "$ref": "Bookshelf"
          }
        }
      },
      "id": "Bookshelves",
      "type": "object"
    }
  },
  "baseUrl": "https://books.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/books": {
          "description": "Manage your books"
        }
      }
    }
  },
  "rootUrl": "https://books.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "volumes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "enum": [
                "FILTER_UNDEFINED",
                "ebooks",
                "free-ebooks",
                "full",
                "paid-ebooks",
                "partial"
              ],
              "description": "Filter search results.",
              "enumDescriptions": [
                "",
                "All Google eBooks.",
                "Google eBook with full volume text viewability.",
                "Public can view entire volume text.",
                "Google eBook with a price.",
                "Public able to see parts of text."
              ]
            },
            "libraryRestrict": {
              "enum": [
                "LIBRARY_RESTRICT_UNDEFINED",
                "my-library",
                "no-restrict"
              ],
              "type": "string",
              "description": "Restrict search to this user's library.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Restrict to the user's library, any shelf.",
                "Do not restrict based on user's library."
              ]
            },
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "location": "query",
              "enum": [
                "PROJECTION_UNDEFINED",
                "FULL",
                "LITE"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "Includes all volume data.",
                "Includes a subset of fields in volumeInfo and accessInfo."
              ]
            },
            "showPreorders": {
              "location": "query",
              "type": "boolean",
              "description": "Set to true to show books available for preorder. Defaults to false."
            },
            "source": {
              "location": "query",
              "type": "string",
              "description": "String to identify the originator of this request."
            },
            "download": {
              "location": "query",
              "enum": [
                "DOWNLOAD_UNDEFINED",
                "EPUB"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "All volumes with epub."
              ],
              "description": "Restrict to volumes by download availability."
            },
            "maxAllowedMaturityRating": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Show books which are rated mature or lower.",
                "Show books which are rated not mature."
              ],
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
              "location": "query"
            },
            "printType": {
              "enumDescriptions": [
                "",
                "All volume content types.",
                "Just books.",
                "Just magazines."
              ],
              "description": "Restrict to books or magazines.",
              "type": "string",
              "enum": [
                "PRINT_TYPE_UNDEFINED",
                "ALL",
                "BOOKS",
                "MAGAZINES"
              ],
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "minimum": "0",
              "maximum": "40"
            },
            "orderBy": {
              "type": "string",
              "description": "Sort search results.",
              "enum": [
                "ORDER_BY_UNDEFINED",
                "newest",
                "relevance"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Most recently published.",
                "Relevance to search terms."
              ]
            },
            "partner": {
              "location": "query",
              "description": "Restrict and brand results for partner ID.",
              "type": "string"
            },
            "startIndex": {
              "location": "query",
              "description": "Index of the first result to return (starts at 0)",
              "minimum": "0",
              "format": "uint32",
              "type": "integer"
            },
            "q": {
              "type": "string",
              "description": "Full-text search query string.",
              "location": "query",
              "required": true
            },
            "langRestrict": {
              "description": "Restrict results to books with this language code.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "books.volumes.list",
          "path": "books/v1/volumes",
          "parameterOrder": [
            "q"
          ],
          "response": {
            "$ref": "Volumes"
          },
          "description": "Performs a book search.",
          "flatPath": "books/v1/volumes",
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ]
        },
        "get": {
          "parameters": {
            "source": {
              "location": "query",
              "description": "string to identify the originator of this request.",
              "type": "string"
            },
            "includeNonComicsSeries": {
              "description": "Set to true to include non-comics series. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "volumeId": {
              "description": "ID of volume to retrieve.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "partner": {
              "type": "string",
              "description": "Brand results for partner ID.",
              "location": "query"
            },
            "country": {
              "description": "ISO-3166-1 code to override the IP-based location.",
              "location": "query",
              "type": "string"
            },
            "projection": {
              "type": "string",
              "description": "Restrict information returned to a set of selected fields.",
              "enum": [
                "PROJECTION_UNDEFINED",
                "FULL",
                "LITE"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Includes all volume data.",
                "Includes a subset of fields in volumeInfo and accessInfo."
              ]
            },
            "user_library_consistent_read": {
              "type": "boolean",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "books/v1/volumes/{volumeId}",
          "description": "Gets volume information for a single volume.",
          "flatPath": "books/v1/volumes/{volumeId}",
          "response": {
            "$ref": "Volume"
          },
          "scopes": [
            "https://www.googleapis.com/auth/books"
          ],
          "parameterOrder": [
            "volumeId"
          ],
          "id": "books.volumes.get"
        }
      },
      "resources": {
        "associated": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "books/v1/volumes/{volumeId}/associated",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "parameters": {
                "volumeId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the source volume."
                },
                "association": {
                  "type": "string",
                  "enumDescriptions": [
                    "",
                    "Recommendations for display end-of-sample.",
                    "Recommendations for display end-of-volume.",
                    "Related volumes for Play Store."
                  ],
                  "location": "query",
                  "description": "Association type.",
                  "enum": [
                    "ASSOCIATION_UNDEFINED",
                    "end-of-sample",
                    "end-of-volume",
                    "related-for-play"
                  ]
                },
                "locale": {
                  "location": "query",
                  "type": "string",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations."
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "maxAllowedMaturityRating": {
                  "enum": [
                    "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                    "MATURE",
                    "not-mature"
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                  "enumDescriptions": [
                    "",
                    "Show books which are rated mature or lower.",
                    "Show books which are rated not mature."
                  ]
                }
              },
              "response": {
                "$ref": "Volumes"
              },
              "path": "books/v1/volumes/{volumeId}/associated",
              "parameterOrder": [
                "volumeId"
              ],
              "id": "books.volumes.associated.list",
              "description": "Return a list of associated books."
            }
          }
        },
        "mybooks": {
          "methods": {
            "list": {
              "path": "books/v1/volumes/mybooks",
              "httpMethod": "GET",
              "id": "books.volumes.mybooks.list",
              "parameterOrder": [],
              "parameters": {
                "locale": {
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex:'en_US'. Used for generating recommendations.",
                  "type": "string",
                  "location": "query"
                },
                "source": {
                  "description": "String to identify the originator of this request.",
                  "location": "query",
                  "type": "string"
                },
                "processingState": {
                  "enum": [
                    "PROCESSING_STATE_UNDEFINED",
                    "COMPLETED_FAILED",
                    "COMPLETED_SUCCESS",
                    "RUNNING"
                  ],
                  "enumDescriptions": [
                    "",
                    "The volume processing hase failed.",
                    "The volume processing was completed.",
                    "The volume processing is not completed."
                  ],
                  "repeated": true,
                  "location": "query",
                  "type": "string",
                  "description": "The processing state of the user uploaded volumes to be returned. Applicable only if the UPLOADED is specified in the acquireMethod."
                },
                "country": {
                  "location": "query",
                  "description": "ISO-3166-1 code to override the IP-based location.",
                  "type": "string"
                },
                "maxResults": {
                  "minimum": "0",
                  "maximum": "100",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of results to return.",
                  "format": "uint32"
                },
                "startIndex": {
                  "format": "uint32",
                  "location": "query",
                  "type": "integer",
                  "minimum": "0",
                  "description": "Index of the first result to return (starts at 0)"
                },
                "acquireMethod": {
                  "enum": [
                    "ACQUIRE_METHOD_UNDEFINED",
                    "FAMILY_SHARED",
                    "PREORDERED",
                    "PREVIOUSLY_RENTED",
                    "PUBLIC_DOMAIN",
                    "PURCHASED",
                    "RENTED",
                    "SAMPLE",
                    "UPLOADED"
                  ],
                  "repeated": true,
                  "location": "query",
                  "description": "How the book was acquired",
                  "enumDescriptions": [
                    "",
                    "Books acquired via Family Sharing",
                    "Preordered books (not yet available)",
                    "User-rented books past their expiration time",
                    "Public domain books",
                    "Purchased books",
                    "User-rented books",
                    "Sample books",
                    "User uploaded books"
                  ],
                  "type": "string"
                }
              },
              "description": "Return a list of books in My Library.",
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "response": {
                "$ref": "Volumes"
              },
              "flatPath": "books/v1/volumes/mybooks"
            }
          }
        },
        "recommended": {
          "methods": {
            "rate": {
              "parameters": {
                "volumeId": {
                  "type": "string",
                  "location": "query",
                  "required": true,
                  "description": "ID of the source volume."
                },
                "locale": {
                  "location": "query",
                  "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                  "type": "string"
                },
                "source": {
                  "location": "query",
                  "description": "String to identify the originator of this request.",
                  "type": "string"
                },
                "rating": {
                  "enumDescriptions": [
                    "",
                    "Rating indicating a dismissal due to ownership.",
                    "Rating indicating a negative dismissal of a volume."
                  ],
                  "enum": [
                    "RATING_UNDEFINED",
                    "HAVE_IT",
                    "NOT_INTERESTED"
                  ],
                  "description": "Rating to be given to the volume.",
                  "type": "string",
                  "location": "query",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "BooksVolumesRecommendedRateResponse"
              },
              "description": "Rate a recommended book for the current user.",
              "path": "books/v1/volumes/recommended/rate",
              "flatPath": "books/v1/volumes/recommended/rate",
              "parameterOrder": [
                "rating",
                "volumeId"
              ],
              "id": "books.volumes.recommended.rate"
            },
            "list": {
              "description": "Return a list of recommended books for the current user.",
              "id": "books.volumes.recommended.list",
              "response": {
                "$ref": "Volumes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/books"
              ],
              "flatPath": "books/v1/volumes/recommended",
              "httpMethod": "GET",
              "path": "books/v1/volumes/recommended",
              "parameters": {
                "maxAllowedMaturityRating": {
                  "location": "query",
                  "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                  "type": "string",
                  "enumDescriptions": [
                    "",
                    "Show books which are rated mature or lower.",
[...]
