{
  "id": "businessprofileperformance:v1",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "basePath": "",
  "mtlsRootUrl": "https://businessprofileperformance.mtls.googleapis.com/",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "baseUrl": "https://businessprofileperformance.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "MultiDailyMetricTimeSeries": {
      "description": "Represents a list of tuples of DailyMetric-DailySubEntityType-TimeSeries.",
      "id": "MultiDailyMetricTimeSeries",
      "properties": {
        "dailyMetricTimeSeries": {
          "type": "array",
          "description": "List of DailyMetric-TimeSeries pairs.",
          "items": {
            "$ref": "DailyMetricTimeSeries"
          }
        }
      },
      "type": "object"
    },
    "DatedValue": {
      "properties": {
        "value": {
          "description": "The value of the datapoint. This will not be present when the value is zero.",
          "type": "string",
          "format": "int64"
        },
        "date": {
          "$ref": "Date",
          "description": "The date that the datapoint corresponds to. This represents a month value if the day field is not set."
        }
      },
      "type": "object",
      "id": "DatedValue",
      "description": "Represents a single datapoint in the timeseries, where each datapoint is a date-value pair."
    },
    "GetDailyMetricsTimeSeriesResponse": {
      "description": "Represents the response for GetDailyMetricsTimeSeries.",
      "properties": {
        "timeSeries": {
          "description": "The daily time series.",
          "$ref": "TimeSeries"
        }
      },
      "type": "object",
      "id": "GetDailyMetricsTimeSeriesResponse"
    },
    "DailyMetricTimeSeries": {
      "description": "Represents a single datapoint, where each datapoint is a DailyMetric-DailySubEntityType-TimeSeries tuple.",
      "type": "object",
      "properties": {
        "dailySubEntityType": {
          "$ref": "DailySubEntityType",
          "description": "The DailySubEntityType that the TimeSeries represents. Will not be present when breakdown does not exist."
        },
        "dailyMetric": {
          "description": "The DailyMetric that the TimeSeries represents.",
          "enumDescriptions": [
            "Represents the default unknown value.",
            "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "The number of message conversations received on the business profile.",
            "The number of times a direction request was requested to the business location.",
            "The number of times the business profile call button was clicked.",
            "The number of times the business profile website was clicked.",
            "The number of bookings made from the business profile via Reserve with Google.",
            "The number of food orders received from the business profile.",
            "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
          ],
          "enum": [
            "DAILY_METRIC_UNKNOWN",
            "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
            "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
            "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
            "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
            "BUSINESS_CONVERSATIONS",
            "BUSINESS_DIRECTION_REQUESTS",
            "CALL_CLICKS",
            "WEBSITE_CLICKS",
            "BUSINESS_BOOKINGS",
            "BUSINESS_FOOD_ORDERS",
            "BUSINESS_FOOD_MENU_CLICKS"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ]
        },
        "timeSeries": {
          "description": "List of datapoints where each datapoint is a date-value pair.",
          "$ref": "TimeSeries"
        }
      },
      "id": "DailyMetricTimeSeries"
    },
    "SearchKeywordCount": {
      "description": "Represents a single search keyword and its value.",
      "id": "SearchKeywordCount",
      "type": "object",
      "properties": {
        "insightsValue": {
          "description": "One of either: 1) The sum of the number of unique users that used the keyword in a month, aggregated for each month requested. 2) A threshold that indicates that the actual value is below this threshold.",
          "$ref": "InsightsValue"
        },
        "searchKeyword": {
          "type": "string",
          "description": "The lower-cased string that the user entered."
        }
      }
    },
    "ListSearchKeywordImpressionsMonthlyResponse": {
      "type": "object",
      "description": "Represents the response for ListSearchKeywordImpressionsMonthly.",
      "id": "ListSearchKeywordImpressionsMonthlyResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating the last paginated result returned. This can be used by succeeding requests to get the next \"page\" of keywords. It will only be present when there are more results to be returned.",
          "format": "byte"
        },
        "searchKeywordsCounts": {
          "items": {
            "$ref": "SearchKeywordCount"
          },
          "description": "Search terms which have been used to find a business.",
          "type": "array"
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "properties": {
        "seconds": {
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "InsightsValue": {
      "id": "InsightsValue",
      "properties": {
        "value": {
          "description": "Represents the actual value.",
          "format": "int64",
          "type": "string"
        },
        "threshold": {
          "format": "int64",
          "description": "Represents the threshold below which the actual value falls.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents an insights value."
    },
    "TimeSeries": {
      "properties": {
        "datedValues": {
          "description": "List of datapoints in the timeseries, where each datapoint is a date-value pair.",
          "type": "array",
          "items": {
            "$ref": "DatedValue"
          }
        }
      },
      "id": "TimeSeries",
      "type": "object",
      "description": "Represents a timeseries."
    },
    "DailySubEntityType": {
      "properties": {
        "dayOfWeek": {
          "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string"
        },
        "timeOfDay": {
          "description": "Represents the time of the day in 24 hour format. Eg: 13:34:20 Currently supported DailyMetrics = NONE.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "DailySubEntityType",
      "type": "object",
      "description": "Represents all possible subentity types that are associated with DailyMetrics. Note: Currently, all metrics are returned as daily aggregates and sub-entity breakdowns are not supported."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      }
    },
    "FetchMultiDailyMetricsTimeSeriesResponse": {
      "id": "FetchMultiDailyMetricsTimeSeriesResponse",
      "description": "Represents the response for FetchMultiDailyMetricsTimeSeries.",
      "type": "object",
      "properties": {
        "multiDailyMetricTimeSeries": {
          "items": {
            "$ref": "MultiDailyMetricTimeSeries"
          },
          "type": "array",
          "description": "DailyMetrics and their corresponding time series."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "Business Profile Performance",
  "rootUrl": "https://businessprofileperformance.googleapis.com/",
  "documentationLink": "https://developers.google.com/my-business/",
  "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "title": "Business Profile Performance API",
  "resources": {
    "locations": {
      "methods": {
        "getDailyMetricsTimeSeries": {
          "parameters": {
            "dailyRange.endDate.day": {
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer",
              "location": "query"
            },
            "dailyMetric": {
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "type": "string",
              "location": "query",
              "description": "Required. The metric to retrieve time series.",
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ]
            },
            "dailyRange.startDate.day": {
              "location": "query",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32"
            },
            "dailySubEntityType.dayOfWeek": {
              "type": "string",
              "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
              "enumDescriptions": [
                "The day of the week is unspecified.",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "enum": [
                "DAY_OF_WEEK_UNSPECIFIED",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ],
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.seconds": {
              "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "name": {
              "required": true,
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "pattern": "^locations/[^/]+$",
              "type": "string",
              "location": "path"
            },
            "dailySubEntityType.timeOfDay.nanos": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
            },
            "dailySubEntityType.timeOfDay.minutes": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
            },
            "dailyRange.startDate.year": {
              "location": "query",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32"
            },
            "dailyRange.endDate.month": {
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.hours": {
              "format": "int32",
              "location": "query",
              "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
              "type": "integer"
            },
            "dailyRange.endDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "type": "integer"
            },
            "dailyRange.startDate.month": {
              "location": "query",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32"
            }
          },
          "id": "businessprofileperformance.locations.getDailyMetricsTimeSeries",
          "flatPath": "v1/locations/{locationsId}:getDailyMetricsTimeSeries",
          "httpMethod": "GET",
          "path": "v1/{+name}:getDailyMetricsTimeSeries",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GetDailyMetricsTimeSeriesResponse"
          },
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metric. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`"
        },
        "fetchMultiDailyMetricsTimeSeries": {
          "parameters": {
            "dailyRange.startDate.month": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "dailyRange.endDate.day": {
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer"
            },
            "dailyRange.endDate.month": {
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "format": "int32"
            },
            "dailyRange.startDate.year": {
              "type": "integer",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32"
            },
            "location": {
              "location": "path",
              "pattern": "^locations/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id."
            },
            "dailyRange.startDate.day": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "dailyRange.endDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer",
              "format": "int32"
            },
            "dailyMetrics": {
              "location": "query",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "type": "string",
              "description": "Required. The metrics to retrieve time series for.",
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "repeated": true,
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ]
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/locations/{locationsId}:fetchMultiDailyMetricsTimeSeries",
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metrics. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:fetchMultiDailyMetricsTimeSeries?dailyMetrics=WEBSITE_CLICKS&dailyMetrics=CALL_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "path": "v1/{+location}:fetchMultiDailyMetricsTimeSeries",
          "parameterOrder": [
            "location"
          ],
          "id": "businessprofileperformance.locations.fetchMultiDailyMetricsTimeSeries",
          "response": {
            "$ref": "FetchMultiDailyMetricsTimeSeriesResponse"
          }
        }
      },
      "resources": {
        "searchkeywords": {
          "resources": {
            "impressions": {
              "resources": {
                "monthly": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/locations/{locationsId}/searchkeywords/impressions/monthly",
                      "id": "businessprofileperformance.locations.searchkeywords.impressions.monthly.list",
                      "path": "v1/{+parent}/searchkeywords/impressions/monthly",
                      "parameters": {
                        "monthlyRange.startMonth.day": {
                          "location": "query",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageSize": {
                          "description": "Optional. The number of results requested. The default page size is 100. Page size can be set to a maximum of 100.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "format": "byte",
                          "description": "Optional. A token indicating the next paginated result to be returned."
                        },
                        "monthlyRange.startMonth.month": {
                          "location": "query",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "monthlyRange.endMonth.day": {
                          "location": "query",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "monthlyRange.endMonth.year": {
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "monthlyRange.endMonth.month": {
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^locations/[^/]+$",
                          "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
                          "type": "string",
                          "location": "path"
                        },
                        "monthlyRange.startMonth.year": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                        }
                      },
                      "response": {
                        "$ref": "ListSearchKeywordImpressionsMonthlyResponse"
                      },
                      "description": "Returns the search keywords used to find a business in search or maps. Each search keyword is accompanied by impressions which are aggregated on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1",
  "name": "businessprofileperformance",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version_module": true,
  "revision": "20260928",
  "fullyEncodeReservedExpansion": true
}