{
  "rootUrl": "https://businessprofileperformance.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "version": "v1",
  "name": "businessprofileperformance",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "resources": {
    "locations": {
      "resources": {
        "searchkeywords": {
          "resources": {
            "impressions": {
              "resources": {
                "monthly": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "monthlyRange.startMonth.year": {
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "monthlyRange.startMonth.day": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "location": "query"
                        },
                        "monthlyRange.endMonth.day": {
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The number of results requested. The default page size is 100. Page size can be set to a maximum of 100.",
                          "format": "int32"
                        },
                        "monthlyRange.endMonth.year": {
                          "location": "query",
                          "format": "int32",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token indicating the next paginated result to be returned.",
                          "type": "string",
                          "format": "byte"
                        },
                        "monthlyRange.startMonth.month": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                        },
                        "monthlyRange.endMonth.month": {
                          "type": "integer",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
                          "required": true,
                          "type": "string",
                          "pattern": "^locations/[^/]+$"
                        }
                      },
                      "path": "v1/{+parent}/searchkeywords/impressions/monthly",
                      "response": {
                        "$ref": "ListSearchKeywordImpressionsMonthlyResponse"
                      },
                      "id": "businessprofileperformance.locations.searchkeywords.impressions.monthly.list",
                      "description": "Returns the search keywords used to find a business in search or maps. Each search keyword is accompanied by impressions which are aggregated on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`",
                      "flatPath": "v1/locations/{locationsId}/searchkeywords/impressions/monthly",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "getDailyMetricsTimeSeries": {
          "flatPath": "v1/locations/{locationsId}:getDailyMetricsTimeSeries",
          "response": {
            "$ref": "GetDailyMetricsTimeSeriesResponse"
          },
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metric. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:getDailyMetricsTimeSeries",
          "id": "businessprofileperformance.locations.getDailyMetricsTimeSeries",
          "parameters": {
            "name": {
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "location": "path",
              "pattern": "^locations/[^/]+$",
              "type": "string",
              "required": true
            },
            "dailyRange.startDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32",
              "location": "query"
            },
            "dailyRange.endDate.year": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "dailySubEntityType.timeOfDay.nanos": {
              "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "dailyRange.startDate.month": {
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "format": "int32"
            },
            "dailyMetric": {
              "description": "Required. The metric to retrieve time series.",
              "location": "query",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "type": "string",
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ]
            },
            "dailyRange.endDate.day": {
              "type": "integer",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32"
            },
            "dailySubEntityType.timeOfDay.minutes": {
              "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailyRange.endDate.month": {
              "format": "int32",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer"
            },
            "dailyRange.startDate.year": {
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "format": "int32"
            },
            "dailySubEntityType.dayOfWeek": {
              "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
              "enumDescriptions": [
                "The day of the week is unspecified.",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "location": "query",
              "enum": [
                "DAY_OF_WEEK_UNSPECIFIED",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ],
              "type": "string"
            },
            "dailySubEntityType.timeOfDay.seconds": {
              "format": "int32",
              "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
              "type": "integer",
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.hours": {
              "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "fetchMultiDailyMetricsTimeSeries": {
          "id": "businessprofileperformance.locations.fetchMultiDailyMetricsTimeSeries",
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metrics. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:fetchMultiDailyMetricsTimeSeries?dailyMetrics=WEBSITE_CLICKS&dailyMetrics=CALL_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "httpMethod": "GET",
          "flatPath": "v1/locations/{locationsId}:fetchMultiDailyMetricsTimeSeries",
          "response": {
            "$ref": "FetchMultiDailyMetricsTimeSeriesResponse"
          },
          "parameterOrder": [
            "location"
          ],
          "parameters": {
            "dailyRange.endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "dailyRange.endDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32"
            },
            "location": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^locations/[^/]+$",
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id."
            },
            "dailyRange.startDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "dailyMetrics": {
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "repeated": true,
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "type": "string",
              "description": "Required. The metrics to retrieve time series for.",
              "location": "query",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ]
            },
            "dailyRange.startDate.month": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "dailyRange.startDate.day": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "dailyRange.endDate.month": {
              "format": "int32",
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query"
            }
          },
          "path": "v1/{+location}:fetchMultiDailyMetricsTimeSeries"
        }
      }
    }
  },
  "revision": "20260923",
  "protocol": "rest",
  "servicePath": "",
  "title": "Business Profile Performance API",
  "version_module": true,
  "basePath": "",
  "canonicalName": "Business Profile Performance",
  "documentationLink": "https://developers.google.com/my-business/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://businessprofileperformance.googleapis.com/",
  "schemas": {
    "SearchKeywordCount": {
      "properties": {
        "searchKeyword": {
          "type": "string",
          "description": "The lower-cased string that the user entered."
        },
        "insightsValue": {
          "description": "One of either: 1) The sum of the number of unique users that used the keyword in a month, aggregated for each month requested. 2) A threshold that indicates that the actual value is below this threshold.",
          "$ref": "InsightsValue"
        }
      },
      "id": "SearchKeywordCount",
      "type": "object",
      "description": "Represents a single search keyword and its value."
    },
    "GetDailyMetricsTimeSeriesResponse": {
      "properties": {
        "timeSeries": {
          "$ref": "TimeSeries",
          "description": "The daily time series."
        }
      },
      "description": "Represents the response for GetDailyMetricsTimeSeries.",
      "type": "object",
      "id": "GetDailyMetricsTimeSeriesResponse"
    },
    "TimeSeries": {
      "properties": {
        "datedValues": {
          "description": "List of datapoints in the timeseries, where each datapoint is a date-value pair.",
          "type": "array",
          "items": {
            "$ref": "DatedValue"
          }
        }
      },
      "id": "TimeSeries",
      "description": "Represents a timeseries.",
      "type": "object"
    },
    "FetchMultiDailyMetricsTimeSeriesResponse": {
      "type": "object",
      "properties": {
        "multiDailyMetricTimeSeries": {
          "items": {
            "$ref": "MultiDailyMetricTimeSeries"
          },
          "type": "array",
          "description": "DailyMetrics and their corresponding time series."
        }
      },
      "id": "FetchMultiDailyMetricsTimeSeriesResponse",
      "description": "Represents the response for FetchMultiDailyMetricsTimeSeries."
    },
    "ListSearchKeywordImpressionsMonthlyResponse": {
      "description": "Represents the response for ListSearchKeywordImpressionsMonthly.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "format": "byte",
          "description": "A token indicating the last paginated result returned. This can be used by succeeding requests to get the next \"page\" of keywords. It will only be present when there are more results to be returned."
        },
        "searchKeywordsCounts": {
          "type": "array",
          "items": {
            "$ref": "SearchKeywordCount"
          },
          "description": "Search terms which have been used to find a business."
        }
      },
      "id": "ListSearchKeywordImpressionsMonthlyResponse",
      "type": "object"
    },
    "Date": {
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "MultiDailyMetricTimeSeries": {
      "description": "Represents a list of tuples of DailyMetric-DailySubEntityType-TimeSeries.",
      "id": "MultiDailyMetricTimeSeries",
      "type": "object",
      "properties": {
        "dailyMetricTimeSeries": {
          "type": "array",
          "description": "List of DailyMetric-TimeSeries pairs.",
          "items": {
            "$ref": "DailyMetricTimeSeries"
          }
        }
      }
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "properties": {
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "DailySubEntityType": {
      "properties": {
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE."
        },
        "timeOfDay": {
          "description": "Represents the time of the day in 24 hour format. Eg: 13:34:20 Currently supported DailyMetrics = NONE.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "DailySubEntityType",
      "type": "object",
      "description": "Represents all possible subentity types that are associated with DailyMetrics. Note: Currently, all metrics are returned as daily aggregates and sub-entity breakdowns are not supported."
    },
    "InsightsValue": {
      "id": "InsightsValue",
      "description": "Represents an insights value.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Represents the actual value."
        },
        "threshold": {
          "description": "Represents the threshold below which the actual value falls.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DatedValue": {
      "description": "Represents a single datapoint in the timeseries, where each datapoint is a date-value pair.",
      "type": "object",
      "id": "DatedValue",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "The date that the datapoint corresponds to. This represents a month value if the day field is not set."
        },
        "value": {
          "description": "The value of the datapoint. This will not be present when the value is zero.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DailyMetricTimeSeries": {
      "type": "object",
      "id": "DailyMetricTimeSeries",
      "description": "Represents a single datapoint, where each datapoint is a DailyMetric-DailySubEntityType-TimeSeries tuple.",
      "properties": {
        "dailySubEntityType": {
          "description": "The DailySubEntityType that the TimeSeries represents. Will not be present when breakdown does not exist.",
          "$ref": "DailySubEntityType"
        },
        "timeSeries": {
          "description": "List of datapoints where each datapoint is a date-value pair.",
          "$ref": "TimeSeries"
        },
        "dailyMetric": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Represents the default unknown value.",
            "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "The number of message conversations received on the business profile.",
            "The number of times a direction request was requested to the business location.",
            "The number of times the business profile call button was clicked.",
            "The number of times the business profile website was clicked.",
            "The number of bookings made from the business profile via Reserve with Google.",
            "The number of food orders received from the business profile.",
            "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
          ],
          "type": "string",
          "enum": [
            "DAILY_METRIC_UNKNOWN",
            "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
            "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
            "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
            "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
            "BUSINESS_CONVERSATIONS",
            "BUSINESS_DIRECTION_REQUESTS",
            "CALL_CLICKS",
            "WEBSITE_CLICKS",
            "BUSINESS_BOOKINGS",
            "BUSINESS_FOOD_ORDERS",
            "BUSINESS_FOOD_MENU_CLICKS"
          ],
          "description": "The DailyMetric that the TimeSeries represents."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "id": "businessprofileperformance:v1",
  "mtlsRootUrl": "https://businessprofileperformance.mtls.googleapis.com/"
}