{
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://developers.google.com/my-business/",
  "basePath": "",
  "id": "businessprofileperformance:v1",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "discoveryVersion": "v1",
  "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "name": "businessprofileperformance",
  "baseUrl": "https://businessprofileperformance.googleapis.com/",
  "mtlsRootUrl": "https://businessprofileperformance.mtls.googleapis.com/",
  "ownerName": "Google",
  "revision": "20260916",
  "protocol": "rest",
  "version": "v1",
  "rootUrl": "https://businessprofileperformance.googleapis.com/",
  "batchPath": "batch",
  "title": "Business Profile Performance API",
  "servicePath": "",
  "ownerDomain": "google.com",
  "resources": {
    "locations": {
      "resources": {
        "searchkeywords": {
          "resources": {
            "impressions": {
              "resources": {
                "monthly": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "monthlyRange.startMonth.month": {
                          "location": "query",
                          "format": "int32",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "type": "integer"
                        },
                        "monthlyRange.endMonth.year": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "location": "query"
                        },
                        "monthlyRange.startMonth.year": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "location": "query"
                        },
                        "monthlyRange.endMonth.month": {
                          "type": "integer",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^locations/[^/]+$",
                          "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "format": "byte",
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token indicating the next paginated result to be returned."
                        },
                        "monthlyRange.endMonth.day": {
                          "format": "int32",
                          "location": "query",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "type": "integer"
                        },
                        "monthlyRange.startMonth.day": {
                          "format": "int32",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageSize": {
                          "description": "Optional. The number of results requested. The default page size is 100. Page size can be set to a maximum of 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v1/locations/{locationsId}/searchkeywords/impressions/monthly",
                      "description": "Returns the search keywords used to find a business in search or maps. Each search keyword is accompanied by impressions which are aggregated on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`",
                      "path": "v1/{+parent}/searchkeywords/impressions/monthly",
                      "id": "businessprofileperformance.locations.searchkeywords.impressions.monthly.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListSearchKeywordImpressionsMonthlyResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "fetchMultiDailyMetricsTimeSeries": {
          "response": {
            "$ref": "FetchMultiDailyMetricsTimeSeriesResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "location"
          ],
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metrics. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:fetchMultiDailyMetricsTimeSeries?dailyMetrics=WEBSITE_CLICKS&dailyMetrics=CALL_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "flatPath": "v1/locations/{locationsId}:fetchMultiDailyMetricsTimeSeries",
          "parameters": {
            "location": {
              "required": true,
              "type": "string",
              "pattern": "^locations/[^/]+$",
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "location": "path"
            },
            "dailyRange.startDate.month": {
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "format": "int32"
            },
            "dailyRange.startDate.day": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "dailyRange.endDate.day": {
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "dailyRange.endDate.year": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "dailyMetrics": {
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "description": "Required. The metrics to retrieve time series for.",
              "repeated": true,
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "type": "string",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "location": "query"
            },
            "dailyRange.startDate.year": {
              "format": "int32",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer"
            },
            "dailyRange.endDate.month": {
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "format": "int32"
            }
          },
          "path": "v1/{+location}:fetchMultiDailyMetricsTimeSeries",
          "id": "businessprofileperformance.locations.fetchMultiDailyMetricsTimeSeries"
        },
        "getDailyMetricsTimeSeries": {
          "response": {
            "$ref": "GetDailyMetricsTimeSeriesResponse"
          },
          "httpMethod": "GET",
          "path": "v1/{+name}:getDailyMetricsTimeSeries",
          "parameterOrder": [
            "name"
          ],
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metric. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "flatPath": "v1/locations/{locationsId}:getDailyMetricsTimeSeries",
          "id": "businessprofileperformance.locations.getDailyMetricsTimeSeries",
          "parameters": {
            "dailyRange.startDate.day": {
              "format": "int32",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.hours": {
              "location": "query",
              "format": "int32",
              "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
              "type": "integer"
            },
            "dailyRange.startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "dailySubEntityType.dayOfWeek": {
              "enum": [
                "DAY_OF_WEEK_UNSPECIFIED",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ],
              "location": "query",
              "enumDescriptions": [
                "The day of the week is unspecified.",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "type": "string",
              "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE."
            },
            "dailySubEntityType.timeOfDay.minutes": {
              "location": "query",
              "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
              "type": "integer",
              "format": "int32"
            },
            "dailyRange.endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.nanos": {
              "format": "int32",
              "location": "query",
              "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
              "type": "integer"
            },
            "dailyRange.startDate.year": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "dailyMetric": {
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "type": "string",
              "location": "query",
              "description": "Required. The metric to retrieve time series.",
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ]
            },
            "dailySubEntityType.timeOfDay.seconds": {
              "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "dailyRange.endDate.day": {
              "location": "query",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            },
            "name": {
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "required": true,
              "pattern": "^locations/[^/]+$",
              "location": "path",
              "type": "string"
            },
            "dailyRange.endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "FetchMultiDailyMetricsTimeSeriesResponse": {
      "type": "object",
      "properties": {
        "multiDailyMetricTimeSeries": {
          "description": "DailyMetrics and their corresponding time series.",
          "type": "array",
          "items": {
            "$ref": "MultiDailyMetricTimeSeries"
          }
        }
      },
      "id": "FetchMultiDailyMetricsTimeSeriesResponse",
      "description": "Represents the response for FetchMultiDailyMetricsTimeSeries."
    },
    "MultiDailyMetricTimeSeries": {
      "id": "MultiDailyMetricTimeSeries",
      "description": "Represents a list of tuples of DailyMetric-DailySubEntityType-TimeSeries.",
      "properties": {
        "dailyMetricTimeSeries": {
          "description": "List of DailyMetric-TimeSeries pairs.",
          "type": "array",
          "items": {
            "$ref": "DailyMetricTimeSeries"
          }
        }
      },
      "type": "object"
    },
    "InsightsValue": {
      "type": "object",
      "id": "InsightsValue",
      "description": "Represents an insights value.",
      "properties": {
        "value": {
          "format": "int64",
          "type": "string",
          "description": "Represents the actual value."
        },
        "threshold": {
          "description": "Represents the threshold below which the actual value falls.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "TimeSeries": {
      "properties": {
        "datedValues": {
          "description": "List of datapoints in the timeseries, where each datapoint is a date-value pair.",
          "items": {
            "$ref": "DatedValue"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "TimeSeries",
      "description": "Represents a timeseries."
    },
    "DailyMetricTimeSeries": {
      "type": "object",
      "properties": {
        "dailySubEntityType": {
          "description": "The DailySubEntityType that the TimeSeries represents. Will not be present when breakdown does not exist.",
          "$ref": "DailySubEntityType"
        },
        "dailyMetric": {
          "enumDescriptions": [
            "Represents the default unknown value.",
            "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "The number of message conversations received on the business profile.",
            "The number of times a direction request was requested to the business location.",
            "The number of times the business profile call button was clicked.",
            "The number of times the business profile website was clicked.",
            "The number of bookings made from the business profile via Reserve with Google.",
            "The number of food orders received from the business profile.",
            "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enum": [
            "DAILY_METRIC_UNKNOWN",
            "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
            "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
            "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
            "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
            "BUSINESS_CONVERSATIONS",
            "BUSINESS_DIRECTION_REQUESTS",
            "CALL_CLICKS",
            "WEBSITE_CLICKS",
            "BUSINESS_BOOKINGS",
            "BUSINESS_FOOD_ORDERS",
            "BUSINESS_FOOD_MENU_CLICKS"
          ],
          "description": "The DailyMetric that the TimeSeries represents.",
          "type": "string"
        },
        "timeSeries": {
          "$ref": "TimeSeries",
          "description": "List of datapoints where each datapoint is a date-value pair."
        }
      },
      "id": "DailyMetricTimeSeries",
      "description": "Represents a single datapoint, where each datapoint is a DailyMetric-DailySubEntityType-TimeSeries tuple."
    },
    "SearchKeywordCount": {
      "properties": {
        "searchKeyword": {
          "type": "string",
          "description": "The lower-cased string that the user entered."
        },
        "insightsValue": {
          "$ref": "InsightsValue",
          "description": "One of either: 1) The sum of the number of unique users that used the keyword in a month, aggregated for each month requested. 2) A threshold that indicates that the actual value is below this threshold."
        }
      },
      "id": "SearchKeywordCount",
      "type": "object",
      "description": "Represents a single search keyword and its value."
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        }
      }
    },
    "DatedValue": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the datapoint. This will not be present when the value is zero.",
          "type": "string",
          "format": "int64"
        },
        "date": {
          "$ref": "Date",
          "description": "The date that the datapoint corresponds to. This represents a month value if the day field is not set."
        }
      },
      "id": "DatedValue",
      "description": "Represents a single datapoint in the timeseries, where each datapoint is a date-value pair."
    },
    "DailySubEntityType": {
      "id": "DailySubEntityType",
      "properties": {
        "dayOfWeek": {
          "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "timeOfDay": {
          "$ref": "TimeOfDay",
          "description": "Represents the time of the day in 24 hour format. Eg: 13:34:20 Currently supported DailyMetrics = NONE."
        }
      },
      "description": "Represents all possible subentity types that are associated with DailyMetrics. Note: Currently, all metrics are returned as daily aggregates and sub-entity breakdowns are not supported.",
      "type": "object"
    },
    "ListSearchKeywordImpressionsMonthlyResponse": {
      "id": "ListSearchKeywordImpressionsMonthlyResponse",
      "type": "object",
      "description": "Represents the response for ListSearchKeywordImpressionsMonthly.",
      "properties": {
        "searchKeywordsCounts": {
          "items": {
            "$ref": "SearchKeywordCount"
          },
          "description": "Search terms which have been used to find a business.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating the last paginated result returned. This can be used by succeeding requests to get the next \"page\" of keywords. It will only be present when there are more results to be returned.",
          "format": "byte"
        }
      }
    },
    "GetDailyMetricsTimeSeriesResponse": {
      "type": "object",
      "properties": {
        "timeSeries": {
          "description": "The daily time series.",
          "$ref": "TimeSeries"
        }
      },
      "id": "GetDailyMetricsTimeSeriesResponse",
      "description": "Represents the response for GetDailyMetricsTimeSeries."
    },
    "Date": {
      "type": "object",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    }
  },
  "canonicalName": "Business Profile Performance"
}