{
  "documentationLink": "https://developers.google.com/my-business/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "description": "The Business Profile Performance API allows merchants to fetch performance reports about their business profile on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "canonicalName": "Business Profile Performance",
  "rootUrl": "https://businessprofileperformance.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "businessprofileperformance",
  "baseUrl": "https://businessprofileperformance.googleapis.com/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://businessprofileperformance.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "revision": "20260920",
  "version_module": true,
  "version": "v1",
  "schemas": {
    "SearchKeywordCount": {
      "description": "Represents a single search keyword and its value.",
      "id": "SearchKeywordCount",
      "properties": {
        "searchKeyword": {
          "type": "string",
          "description": "The lower-cased string that the user entered."
        },
        "insightsValue": {
          "description": "One of either: 1) The sum of the number of unique users that used the keyword in a month, aggregated for each month requested. 2) A threshold that indicates that the actual value is below this threshold.",
          "$ref": "InsightsValue"
        }
      },
      "type": "object"
    },
    "DatedValue": {
      "description": "Represents a single datapoint in the timeseries, where each datapoint is a date-value pair.",
      "id": "DatedValue",
      "type": "object",
      "properties": {
        "date": {
          "description": "The date that the datapoint corresponds to. This represents a month value if the day field is not set.",
          "$ref": "Date"
        },
        "value": {
          "description": "The value of the datapoint. This will not be present when the value is zero.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DailySubEntityType": {
      "type": "object",
      "id": "DailySubEntityType",
      "properties": {
        "timeOfDay": {
          "$ref": "TimeOfDay",
          "description": "Represents the time of the day in 24 hour format. Eg: 13:34:20 Currently supported DailyMetrics = NONE."
        },
        "dayOfWeek": {
          "type": "string",
          "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "description": "Represents all possible subentity types that are associated with DailyMetrics. Note: Currently, all metrics are returned as daily aggregates and sub-entity breakdowns are not supported."
    },
    "TimeSeries": {
      "type": "object",
      "properties": {
        "datedValues": {
          "type": "array",
          "description": "List of datapoints in the timeseries, where each datapoint is a date-value pair.",
          "items": {
            "$ref": "DatedValue"
          }
        }
      },
      "description": "Represents a timeseries.",
      "id": "TimeSeries"
    },
    "Date": {
      "properties": {
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date"
    },
    "TimeOfDay": {
      "properties": {
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "TimeOfDay",
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "MultiDailyMetricTimeSeries": {
      "properties": {
        "dailyMetricTimeSeries": {
          "type": "array",
          "items": {
            "$ref": "DailyMetricTimeSeries"
          },
          "description": "List of DailyMetric-TimeSeries pairs."
        }
      },
      "type": "object",
      "id": "MultiDailyMetricTimeSeries",
      "description": "Represents a list of tuples of DailyMetric-DailySubEntityType-TimeSeries."
    },
    "FetchMultiDailyMetricsTimeSeriesResponse": {
      "type": "object",
      "description": "Represents the response for FetchMultiDailyMetricsTimeSeries.",
      "id": "FetchMultiDailyMetricsTimeSeriesResponse",
      "properties": {
        "multiDailyMetricTimeSeries": {
          "items": {
            "$ref": "MultiDailyMetricTimeSeries"
          },
          "description": "DailyMetrics and their corresponding time series.",
          "type": "array"
        }
      }
    },
    "DailyMetricTimeSeries": {
      "description": "Represents a single datapoint, where each datapoint is a DailyMetric-DailySubEntityType-TimeSeries tuple.",
      "properties": {
        "timeSeries": {
          "description": "List of datapoints where each datapoint is a date-value pair.",
          "$ref": "TimeSeries"
        },
        "dailySubEntityType": {
          "$ref": "DailySubEntityType",
          "description": "The DailySubEntityType that the TimeSeries represents. Will not be present when breakdown does not exist."
        },
        "dailyMetric": {
          "enum": [
            "DAILY_METRIC_UNKNOWN",
            "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
            "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
            "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
            "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
            "BUSINESS_CONVERSATIONS",
            "BUSINESS_DIRECTION_REQUESTS",
            "CALL_CLICKS",
            "WEBSITE_CLICKS",
            "BUSINESS_BOOKINGS",
            "BUSINESS_FOOD_ORDERS",
            "BUSINESS_FOOD_MENU_CLICKS"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "type": "string",
          "description": "The DailyMetric that the TimeSeries represents.",
          "enumDescriptions": [
            "Represents the default unknown value.",
            "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
            "The number of message conversations received on the business profile.",
            "The number of times a direction request was requested to the business location.",
            "The number of times the business profile call button was clicked.",
            "The number of times the business profile website was clicked.",
            "The number of bookings made from the business profile via Reserve with Google.",
            "The number of food orders received from the business profile.",
            "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
          ]
        }
      },
      "id": "DailyMetricTimeSeries",
      "type": "object"
    },
    "ListSearchKeywordImpressionsMonthlyResponse": {
      "description": "Represents the response for ListSearchKeywordImpressionsMonthly.",
      "properties": {
        "searchKeywordsCounts": {
          "type": "array",
          "description": "Search terms which have been used to find a business.",
          "items": {
            "$ref": "SearchKeywordCount"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating the last paginated result returned. This can be used by succeeding requests to get the next \"page\" of keywords. It will only be present when there are more results to be returned.",
          "format": "byte"
        }
      },
      "id": "ListSearchKeywordImpressionsMonthlyResponse",
      "type": "object"
    },
    "GetDailyMetricsTimeSeriesResponse": {
      "type": "object",
      "id": "GetDailyMetricsTimeSeriesResponse",
      "properties": {
        "timeSeries": {
          "description": "The daily time series.",
          "$ref": "TimeSeries"
        }
      },
      "description": "Represents the response for GetDailyMetricsTimeSeries."
    },
    "InsightsValue": {
      "description": "Represents an insights value.",
      "properties": {
        "threshold": {
          "description": "Represents the threshold below which the actual value falls.",
          "type": "string",
          "format": "int64"
        },
        "value": {
          "format": "int64",
          "description": "Represents the actual value.",
          "type": "string"
        }
      },
      "id": "InsightsValue",
      "type": "object"
    }
  },
  "basePath": "",
  "id": "businessprofileperformance:v1",
  "title": "Business Profile Performance API",
  "resources": {
    "locations": {
      "methods": {
        "fetchMultiDailyMetricsTimeSeries": {
          "id": "businessprofileperformance.locations.fetchMultiDailyMetricsTimeSeries",
          "flatPath": "v1/locations/{locationsId}:fetchMultiDailyMetricsTimeSeries",
          "parameterOrder": [
            "location"
          ],
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metrics. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:fetchMultiDailyMetricsTimeSeries?dailyMetrics=WEBSITE_CLICKS&dailyMetrics=CALL_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "parameters": {
            "dailyRange.startDate.month": {
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "format": "int32"
            },
            "location": {
              "pattern": "^locations/[^/]+$",
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "dailyRange.endDate.month": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "dailyMetrics": {
              "type": "string",
              "location": "query",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ],
              "description": "Required. The metrics to retrieve time series for.",
              "repeated": true
            },
            "dailyRange.startDate.day": {
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer"
            },
            "dailyRange.startDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "type": "integer"
            },
            "dailyRange.endDate.day": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "dailyRange.endDate.year": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            }
          },
          "path": "v1/{+location}:fetchMultiDailyMetricsTimeSeries",
          "httpMethod": "GET",
          "response": {
            "$ref": "FetchMultiDailyMetricsTimeSeriesResponse"
          }
        },
        "getDailyMetricsTimeSeries": {
          "description": " Returns the values for each date from a given time range that are associated with the specific daily metric. Note: Only daily data is available. Hourly metrics are not supported. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`",
          "response": {
            "$ref": "GetDailyMetricsTimeSeriesResponse"
          },
          "httpMethod": "GET",
          "path": "v1/{+name}:getDailyMetricsTimeSeries",
          "parameterOrder": [
            "name"
          ],
          "id": "businessprofileperformance.locations.getDailyMetricsTimeSeries",
          "flatPath": "v1/locations/{locationsId}:getDailyMetricsTimeSeries",
          "parameters": {
            "dailyRange.startDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "dailySubEntityType.dayOfWeek": {
              "enumDescriptions": [
                "The day of the week is unspecified.",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "description": "Represents the day of the week. Eg: MONDAY. Currently supported DailyMetrics = NONE.",
              "type": "string",
              "enum": [
                "DAY_OF_WEEK_UNSPECIFIED",
                "MONDAY",
                "TUESDAY",
                "WEDNESDAY",
                "THURSDAY",
                "FRIDAY",
                "SATURDAY",
                "SUNDAY"
              ],
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.hours": {
              "location": "query",
              "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
              "format": "int32",
              "type": "integer"
            },
            "dailyMetric": {
              "location": "query",
              "description": "Required. The metric to retrieve time series.",
              "type": "string",
              "enum": [
                "DAILY_METRIC_UNKNOWN",
                "BUSINESS_IMPRESSIONS_DESKTOP_MAPS",
                "BUSINESS_IMPRESSIONS_DESKTOP_SEARCH",
                "BUSINESS_IMPRESSIONS_MOBILE_MAPS",
                "BUSINESS_IMPRESSIONS_MOBILE_SEARCH",
                "BUSINESS_CONVERSATIONS",
                "BUSINESS_DIRECTION_REQUESTS",
                "CALL_CLICKS",
                "WEBSITE_CLICKS",
                "BUSINESS_BOOKINGS",
                "BUSINESS_FOOD_ORDERS",
                "BUSINESS_FOOD_MENU_CLICKS"
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                false,
                true,
                false
              ],
              "enumDescriptions": [
                "Represents the default unknown value.",
                "Business impressions on Google Maps on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Desktop devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Maps on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "Business impressions on Google Search on Mobile devices. Multiple impressions by a unique user within a single day are counted as a single impression.",
                "The number of message conversations received on the business profile.",
                "The number of times a direction request was requested to the business location.",
                "The number of times the business profile call button was clicked.",
                "The number of times the business profile website was clicked.",
                "The number of bookings made from the business profile via Reserve with Google.",
                "The number of food orders received from the business profile.",
                "The number of clicks to view or interact with the menu content on the business profile. Multiple clicks by a unique user within a single day are counted as 1."
              ]
            },
            "dailyRange.endDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "dailySubEntityType.timeOfDay.minutes": {
              "format": "int32",
              "type": "integer",
              "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
              "location": "query"
            },
            "dailyRange.endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "dailyRange.startDate.month": {
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "location": "query"
            },
            "dailySubEntityType.timeOfDay.seconds": {
              "type": "integer",
              "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
              "format": "int32",
              "location": "query"
            },
            "name": {
              "pattern": "^locations/[^/]+$",
              "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "dailyRange.endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "dailyRange.startDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer",
              "format": "int32"
            },
            "dailySubEntityType.timeOfDay.nanos": {
              "format": "int32",
              "location": "query",
              "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
              "type": "integer"
            }
          }
        }
      },
      "resources": {
        "searchkeywords": {
          "resources": {
            "impressions": {
              "resources": {
                "monthly": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/locations/{locationsId}/searchkeywords/impressions/monthly",
                      "httpMethod": "GET",
                      "id": "businessprofileperformance.locations.searchkeywords.impressions.monthly.list",
                      "path": "v1/{+parent}/searchkeywords/impressions/monthly",
                      "description": "Returns the search keywords used to find a business in search or maps. Each search keyword is accompanied by impressions which are aggregated on a monthly basis. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The number of results requested. The default page size is 100. Page size can be set to a maximum of 100.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "monthlyRange.endMonth.month": {
                          "type": "integer",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The location for which the time series should be fetched. Format: locations/{location_id} where location_id is an unobfuscated listing id.",
                          "pattern": "^locations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "format": "byte",
                          "location": "query",
                          "description": "Optional. A token indicating the next paginated result to be returned.",
                          "type": "string"
                        },
                        "monthlyRange.startMonth.day": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                        },
                        "monthlyRange.endMonth.year": {
                          "format": "int32",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                          "type": "integer",
                          "location": "query"
                        },
                        "monthlyRange.startMonth.month": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                        },
                        "monthlyRange.startMonth.year": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                        },
                        "monthlyRange.endMonth.day": {
                          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "response": {
                        "$ref": "ListSearchKeywordImpressionsMonthlyResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest"
}