{
  "discoveryVersion": "v1",
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "calendar/v3/",
  "protocol": "rest",
  "icons": {
    "x16": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-16dp/logo_calendar_2020q4_color_1x_web_16dp.png",
    "x32": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-32dp/logo_calendar_2020q4_color_1x_web_32dp.png"
  },
  "schemas": {
    "CalendarNotification": {
      "id": "CalendarNotification",
      "properties": {
        "method": {
          "type": "string",
          "description": "The method used to deliver the notification. The possible value is:  \n- \"email\" - Notifications are sent via email.  \nRequired when adding a notification."
        },
        "type": {
          "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an attendee responds to the event invitation. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).  \nRequired when adding a notification.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConferenceSolutionKey": {
      "type": "object",
      "id": "ConferenceSolutionKey",
      "properties": {
        "type": {
          "description": "The conference solution type.\nIf a client encounters an unfamiliar or empty type, it should still be able to display the entry points. However, it should disallow modifications.\nThe possible values are:  \n- \"eventHangout\" for Hangouts for consumers (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"eventNamedHangout\" for classic Hangouts for Google Workspace users (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"hangoutsMeet\" for Google Meet (http://meet.google.com)\n- \"addOn\" for 3P conference providers",
          "type": "string"
        }
      }
    },
    "ConferenceSolution": {
      "properties": {
        "name": {
          "description": "The user-visible name of this solution. Not localized.",
          "type": "string"
        },
        "key": {
          "$ref": "ConferenceSolutionKey",
          "description": "The key which can uniquely identify the conference solution for this event."
        },
        "iconUri": {
          "description": "The user-visible icon for this solution.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConferenceSolution"
    },
    "Colors": {
      "id": "Colors",
      "properties": {
        "kind": {
          "default": "calendar#colors",
          "type": "string",
          "description": "Type of the resource (\"calendar#colors\")."
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only."
        },
        "event": {
          "type": "object",
          "description": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its colorId field. Read-only.",
          "additionalProperties": {
            "description": "An event color definition.",
            "$ref": "ColorDefinition"
          }
        },
        "calendar": {
          "type": "object",
          "additionalProperties": {
            "description": "A calendar color definition.",
            "$ref": "ColorDefinition"
          },
          "description": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its colorId field. Read-only."
        }
      },
      "type": "object"
    },
    "FreeBusyResponse": {
      "id": "FreeBusyResponse",
      "type": "object",
      "properties": {
        "groups": {
          "description": "Expansion of groups.",
          "type": "object",
          "additionalProperties": {
            "description": "List of calendars that are members of this group.",
            "$ref": "FreeBusyGroup"
          }
        },
        "timeMax": {
          "description": "The end of the interval.",
          "format": "date-time",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#freeBusy\").",
          "default": "calendar#freeBusy",
          "type": "string"
        },
        "calendars": {
          "type": "object",
          "description": "List of free/busy information for calendars.",
          "additionalProperties": {
            "description": "Free/busy expansions for a single calendar.",
            "$ref": "FreeBusyCalendar"
          }
        },
        "timeMin": {
          "type": "string",
          "description": "The start of the interval.",
          "format": "date-time"
        }
      }
    },
    "ConferenceParametersAddOnParameters": {
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "ConferenceParametersAddOnParameters"
    },
    "EventLabel": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the label. Optional.\nIf provided this must have at most 50 characters."
        },
        "id": {
          "description": "The ID of the label. Optional when inserting a new label. If not provided, a unique ID will be generated. Required when updating a label.\nIf provided, the ID must be unique within the calendar and follow UUID format.",
          "type": "string"
        },
        "backgroundColor": {
          "description": "Background color of the label in hexadecimal format, such as \"#039be5\". Events with this label are displayed in this color. Required.",
          "type": "string"
        }
      },
      "id": "EventLabel",
      "type": "object"
    },
    "CreateConferenceRequest": {
      "type": "object",
      "id": "CreateConferenceRequest",
      "properties": {
        "conferenceSolutionKey": {
          "description": "The conference solution, such as Hangouts or Google Meet.",
          "$ref": "ConferenceSolutionKey"
        },
        "requestId": {
          "description": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored.",
          "type": "string"
        },
        "status": {
          "$ref": "ConferenceRequestStatus",
          "description": "The status of the conference create request."
        }
      }
    },
    "Setting": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the user setting."
        },
        "kind": {
          "description": "Type of the resource (\"calendar#setting\").",
          "type": "string",
          "default": "calendar#setting"
        },
        "value": {
          "description": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "Setting"
    },
    "CalendarListEntry": {
      "id": "CalendarListEntry",
      "type": "object",
      "properties": {
        "defaultReminders": {
          "description": "The default reminders that the authenticated user has for this calendar.",
          "items": {
            "$ref": "EventReminder"
          },
          "type": "array"
        },
        "accessRole": {
          "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writerWithoutPrivateAccess\" - Provides read and write access to the calendar. Private events will appear to users with writerWithoutPrivateAccess access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role.",
          "type": "string"
        },
        "backgroundColor": {
          "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.",
          "type": "string"
        },
        "timeZone": {
          "description": "The time zone of the calendar. Optional. Read-only.",
          "type": "string"
        },
        "autoAcceptInvitations": {
          "type": "boolean",
          "description": "Whether this calendar automatically accepts invitations. Only valid for resource calendars. Read-only."
        },
        "summaryOverride": {
          "type": "string",
          "description": "The summary that the authenticated user has set for this calendar. Optional."
        },
        "dataOwner": {
          "description": "The email of the owner of the calendar. Set only for secondary calendars. Read-only.",
          "type": "string"
        },
        "primary": {
          "type": "boolean",
          "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.",
          "default": "false"
        },
        "location": {
          "description": "Geographic location of the calendar as free-form text. Optional. Read-only.",
          "type": "string"
        },
        "colorId": {
          "type": "string",
          "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional."
        },
        "hidden": {
          "type": "boolean",
          "description": "Whether the calendar has been hidden from the list. Optional. The attribute is only returned when the calendar is hidden, in which case the value is true.",
          "default": "false"
        },
        "deleted": {
          "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "summary": {
          "description": "Title of the calendar. Read-only.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "notificationSettings": {
          "properties": {
            "notifications": {
              "type": "array",
              "description": "The list of notifications set for this calendar.",
              "items": {
                "$ref": "CalendarNotification"
              }
            }
          },
          "type": "object",
          "description": "The notifications that the authenticated user is receiving for this calendar."
        },
        "foregroundColor": {
          "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#calendarListEntry\").",
          "type": "string",
          "default": "calendar#calendarListEntry"
        },
        "id": {
          "type": "string",
          "annotations": {
            "required": [
              "calendar.calendarList.insert"
            ]
          },
          "description": "Identifier of the calendar."
        },
        "conferenceProperties": {
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed.",
          "$ref": "ConferenceProperties"
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional. Read-only."
        },
        "selected": {
          "type": "boolean",
          "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False.",
          "default": "false"
        }
      }
    },
    "ConferenceRequestStatus": {
      "type": "object",
      "id": "ConferenceRequestStatus",
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points."
        }
      }
    },
    "ConferenceData": {
      "properties": {
        "conferenceSolution": {
          "description": "The conference solution, such as Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "$ref": "ConferenceSolution"
        },
        "entryPoints": {
          "type": "array",
          "description": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "items": {
            "$ref": "EntryPoint"
          }
        },
        "notes": {
          "description": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional.",
          "type": "string"
        },
        "parameters": {
          "description": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming.",
          "$ref": "ConferenceParameters"
        },
        "signature": {
          "type": "string",
          "description": "The signature of the conference data.\nGenerated on server side.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request."
        },
        "createRequest": {
          "description": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "$ref": "CreateConferenceRequest"
        },
        "conferenceId": {
          "type": "string",
          "description": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nThe ID value is formed differently for each conference solution type:  \n- eventHangout: ID is not set. (This conference type is deprecated.)\n- eventNamedHangout: ID is the name of the Hangout. (This conference type is deprecated.)\n- hangoutsMeet: ID is the 10-letter meeting code, for example aaa-bbbb-ccc.\n- addOn: ID is defined by the third-party provider.  Optional."
        }
      },
      "type": "object",
      "id": "ConferenceData"
    },
    "EventAttachment": {
      "type": "object",
      "id": "EventAttachment",
      "properties": {
        "iconLink": {
          "type": "string",
          "description": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments."
        },
        "mimeType": {
          "description": "Internet media type (MIME type) of the attachment.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Attachment title."
        },
        "fileId": {
          "type": "string",
          "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API."
        },
        "fileUrl": {
          "type": "string",
          "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment."
        }
      }
    },
    "Acl": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#acl\").",
          "default": "calendar#acl"
        },
        "items": {
          "items": {
            "$ref": "AclRule"
          },
          "type": "array",
          "description": "List of rules on the access control list."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        }
      },
      "id": "Acl",
      "type": "object"
    },
    "EventOutOfOfficeProperties": {
      "properties": {
        "declineMessage": {
          "type": "string",
          "description": "Response message to set if an existing event or new invitation is automatically declined by Calendar."
        },
        "autoDeclineMode": {
          "type": "string",
          "description": "Whether to decline meeting invitations which overlap Out of office events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Out of office event is present are to be declined."
        }
      },
      "id": "EventOutOfOfficeProperties",
      "type": "object"
    },
    "EventAttendee": {
      "properties": {
        "id": {
          "description": "The attendee's Profile ID, if available.",
          "type": "string"
        },
        "additionalGuests": {
          "description": "Number of additional guests. Optional. The default is 0.",
          "default": "0",
          "type": "integer",
          "format": "int32"
        },
        "comment": {
          "type": "string",
          "description": "The attendee's response comment. Optional."
        },
        "displayName": {
          "description": "The attendee's name, if available. Optional.",
          "type": "string"
        },
        "self": {
          "type": "boolean",
          "default": "false",
          "description": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False."
        },
        "optional": {
          "type": "boolean",
          "description": "Whether this is an optional attendee. Optional. The default is False.",
          "default": "false"
        },
        "organizer": {
          "type": "boolean",
          "description": "Whether the attendee is the organizer of the event. Read-only. The default is False."
        },
        "asyncOperation": {
          "type": "string",
          "description": "If present, indicates the status of an asynchronous operation ongoing for this attendee (e.g. listing of members of large attendee groups). Read-only. The default is to not be present.\nPossible values are:  \n- \"inProgress\" - The asynchronous operation is in progress. \n- (not present) - Otherwise.",
          "default": ""
        },
        "resource": {
          "description": "Whether the attendee is a resource. Can only be set when the attendee is added to the event for the first time. Subsequent modifications are ignored. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "responseStatus": {
          "description": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation (recommended for new events). \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.  Warning: If you add an event using the values declined, tentative, or accepted, attendees with the \"Add invitations to my calendar\" setting set to \"When I respond to invitation in email\" or \"Only if the sender is known\" might have their response reset to needsAction and won't see an event in their calendar unless they change their response in the event invitation email. Furthermore, if more than 200 guests are invited to the event, response status is not propagated to the guests.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.\nRequired when adding an attendee."
        }
      },
      "type": "object",
      "id": "EventAttendee"
    },
    "Settings": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "etag": {
          "type": "string",
          "description": "Etag of the collection."
        },
        "items": {
          "type": "array",
          "description": "List of user settings.",
          "items": {
            "$ref": "Setting"
          }
        },
        "kind": {
          "type": "string",
          "default": "calendar#settings",
          "description": "Type of the collection (\"calendar#settings\")."
        }
      },
      "id": "Settings"
    },
    "ConferenceProperties": {
      "id": "ConferenceProperties",
      "properties": {
        "allowedConferenceSolutionTypes": {
          "description": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ConferenceParameters": {
      "id": "ConferenceParameters",
      "properties": {
        "addOnParameters": {
          "description": "Additional add-on specific data.",
          "$ref": "ConferenceParametersAddOnParameters"
        }
      },
      "type": "object"
    },
    "Calendar": {
      "properties": {
        "labelProperties": {
          "description": "Label properties defined on this calendar. If specified, overwrites the existing label properties. If not specified, the label properties remain unchanged.",
          "$ref": "LabelProperties"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#calendar\").",
          "default": "calendar#calendar",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
        },
        "summary": {
          "annotations": {
            "required": [
              "calendar.calendars.insert"
            ]
          },
          "description": "Title of the calendar.",
          "type": "string"
        },
        "dataOwner": {
          "type": "string",
          "description": "The email of the owner of the calendar. Set only for secondary calendars. Read-only."
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional."
        },
        "id": {
          "description": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method.",
          "type": "string"
        },
        "conferenceProperties": {
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed.",
          "$ref": "ConferenceProperties"
        },
        "autoAcceptInvitations": {
          "description": "Whether this calendar automatically accepts invitations. Only valid for resource calendars.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional."
        }
      },
      "id": "Calendar",
      "type": "object"
    },
    "ColorDefinition": {
      "type": "object",
      "id": "ColorDefinition",
      "properties": {
        "background": {
          "type": "string",
          "description": "The background color associated with this color definition."
        },
        "foreground": {
          "type": "string",
          "description": "The foreground color that can be used to write on top of a background with 'background' color."
        }
      }
    },
    "Event": {
      "type": "object",
      "id": "Event",
      "properties": {
        "workingLocationProperties": {
          "description": "Working location event data.",
          "$ref": "EventWorkingLocationProperties"
        },
        "id": {
          "type": "string",
          "description": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs."
        },
        "colorId": {
          "type": "string",
          "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Creation time of the event (as a RFC3339 timestamp). Read-only."
        },
        "locked": {
          "default": "false",
          "type": "boolean",
          "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only."
        },
        "transparency": {
          "type": "string",
          "description": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI.",
          "default": "opaque"
        },
        "gadget": {
          "type": "object",
          "description": "A gadget that extends this event. Gadgets are deprecated; this structure is instead only used for returning birthday calendar metadata.",
          "properties": {
            "title": {
              "type": "string",
              "description": "The gadget's title. Deprecated."
            },
            "preferences": {
              "additionalProperties": {
                "description": "The preference name and corresponding value.",
                "type": "string"
              },
              "type": "object",
              "description": "Preferences."
            },
            "height": {
              "format": "int32",
              "type": "integer",
              "description": "The gadget's height in pixels. The height must be an integer greater than 0. Optional. Deprecated."
            },
            "type": {
              "description": "The gadget's type. Deprecated.",
              "type": "string"
            },
            "width": {
              "format": "int32",
              "type": "integer",
              "description": "The gadget's width in pixels. The width must be an integer greater than 0. Optional. Deprecated."
            },
            "link": {
              "description": "The gadget's URL. The URL scheme must be HTTPS. Deprecated.",
              "type": "string"
            },
            "display": {
              "type": "string",
              "description": "The gadget's display mode. Deprecated. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked."
            },
            "iconLink": {
              "description": "The gadget's icon URL. The URL scheme must be HTTPS. Deprecated.",
              "type": "string"
            }
          }
        },
        "summary": {
          "description": "Title of the event.",
          "type": "string"
        },
        "visibility": {
          "type": "string",
          "description": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons.  \nNote on recurring events: Changing the visibility of a single instance of a recurring event can affect all instances of the series. If the new setting is more restrictive (e.g. from public to private), it is applied to all instances. If the new setting is less restrictive (e.g. from private to public), the change is ignored. To make a recurring event less restrictive, you must update the parent recurring event.",
          "default": "default"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the main event data (as a RFC3339 timestamp). Updating event reminders will not cause this to change. Read-only.",
          "format": "date-time"
        },
        "extendedProperties": {
          "type": "object",
          "description": "Extended properties of the event.",
          "properties": {
            "private": {
              "additionalProperties": {
                "type": "string",
                "description": "The name of the private property and the corresponding value."
              },
              "type": "object",
              "description": "Properties that are private to the copy of the event that appears on this calendar."
            },
            "shared": {
              "type": "object",
              "additionalProperties": {
                "description": "The name of the shared property and the corresponding value.",
                "type": "string"
              },
              "description": "Properties that are shared between copies of the event on other attendees' calendars."
            }
          }
        },
        "sequence": {
          "description": "Sequence number as per iCalendar.",
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "type": "string",
          "description": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled (deleted). The list method returns cancelled events only on incremental sync (when syncToken or updatedMin are specified) or if the showDeleted flag is set to true. The get method always returns them.\nA cancelled status represents two different states depending on the event type:  \n- Cancelled exceptions of an uncancelled recurring event indicate that this instance should no longer be presented to the user. Clients should store these events for the lifetime of the parent recurring event.\nCancelled exceptions are only guaranteed to have values for the id, recurringEventId and originalStartTime fields populated. The other fields might be empty.  \n- All other cancelled events represent deleted events. Clients should remove their locally synced copies. Such cancelled events will eventually disappear, so do not rely on them being available indefinitely.\nDeleted events are only guaranteed to have the id field populated.   On the organizer's calendar, cancelled events continue to expose event details (summary, location, etc.) so that they can be restored (undeleted). Similarly, the events to which the user was invited and that they manually removed continue to provide details. However, incremental sync requests with showDeleted set to false will not return these details.\nIf an event changes its organizer (for example via the move operation) and the original organizer is not on the attendee list, it will leave behind a cancelled event where only the id field is guaranteed to be populated."
        },
        "birthdayProperties": {
          "$ref": "EventBirthdayProperties",
          "description": "Birthday or special event data. Used if eventType is \"birthday\". Immutable."
        },
        "attendeesOmitted": {
          "type": "boolean",
          "default": "false",
          "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False."
        },
        "kind": {
          "default": "calendar#event",
          "type": "string",
          "description": "Type of the resource (\"calendar#event\")."
        },
        "organizer": {
          "type": "object",
          "description": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event.",
          "properties": {
            "id": {
              "description": "The organizer's Profile ID, if available.",
              "type": "string"
            },
            "displayName": {
              "type": "string",
              "description": "The organizer's name, if available."
            },
            "email": {
              "description": "The organizer's email address, if available. It must be a valid email address as per RFC5322.",
              "type": "string"
            },
            "self": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
            }
          }
        },
        "end": {
          "$ref": "EventDateTime",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance."
        },
        "recurringEventId": {
          "description": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable.",
          "type": "string"
        },
        "htmlLink": {
          "description": "An absolute link to this event in the Google Calendar Web UI. Read-only.",
          "type": "string"
        },
        "guestsCanModify": {
          "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "creator": {
          "type": "object",
          "description": "The creator of the event. Read-only.",
          "properties": {
            "email": {
              "type": "string",
              "description": "The creator's email address, if available."
            },
            "self": {
              "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
              "default": "false",
              "type": "boolean"
            },
            "id": {
              "description": "The creator's Profile ID, if available.",
              "type": "string"
            },
            "displayName": {
              "type": "string",
              "description": "The creator's name, if available."
            }
          }
        },
        "attendees": {
          "description": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users. Service accounts need to use domain-wide delegation of authority to populate the attendee list.",
          "type": "array",
          "items": {
            "$ref": "EventAttendee"
          }
        },
        "privateCopy": {
          "type": "boolean",
          "default": "false",
          "description": "If set to True, Event propagation is disabled. Note that it is not the same thing as Private event properties. Optional. Immutable. The default is False."
        },
        "conferenceData": {
          "$ref": "ConferenceData",
          "description": "The conference-related information, such as details of a Google Meet conference. To create new conference details use the createRequest field. To persist your changes, remember to set the conferenceDataVersion request parameter to 1 for all event modification requests. Warning: Reusing Google Meet conference data across different events can cause access issues and expose meeting details to unintended users. To help ensure meeting privacy, always generate a unique conference for each event by using the createRequest field."
        },
        "originalStartTime": {
          "$ref": "EventDateTime",
          "description": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. It uniquely identifies the instance within the recurring event series even if the instance was moved to a different time. Immutable."
        },
        "location": {
          "description": "Geographic location of the event as free-form text. Optional.",
          "type": "string"
        },
        "focusTimeProperties": {
          "$ref": "EventFocusTimeProperties",
          "description": "Focus Time event data. Used if eventType is focusTime."
        },
        "description": {
          "description": "Description of the event. Can contain HTML. Optional.",
          "type": "string"
        },
        "reminders": {
          "type": "object",
          "properties": {
            "useDefault": {
              "description": "Whether the default reminders of the calendar apply to the event.",
              "type": "boolean"
            },
            "overrides": {
              "type": "array",
              "items": {
                "$ref": "EventReminder"
              },
              "description": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5."
            }
          },
          "description": "Information about the event's reminders for the authenticated user. Note that changing reminders does not also change the updated property of the enclosing event."
        },
        "eventLabelId": {
          "description": "The ID of the event label assigned to the event. Optional. This refers to the ID of an entry in the labelProperties.eventLabels property of the calendar (see the Calendars.get endpoint.)\nThis property supersedes the index-based colorId property. To set or change this property, you need to specify eventLabelVersion=1 in the parameters of the insert, import, update, and patch methods.\nSetting an empty string, or not setting this field at all, will remove the existing label from the event.",
          "type": "string"
        },
        "source": {
          "description": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event.",
          "type": "object",
          "properties": {
            "title": {
              "description": "Title of the source; for example a title of a web page or an email subject.",
              "type": "string"
            },
            "url": {
              "type": "string",
              "description": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS."
            }
          }
        },
        "endTimeUnspecified": {
          "default": "false",
          "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False.",
          "type": "boolean"
        },
        "guestsCanInviteOthers": {
          "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True.",
          "default": "true",
          "type": "boolean"
        },
        "iCalUID": {
          "annotations": {
            "required": [
              "calendar.events.import"
            ]
          },
          "description": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the iCalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same iCalUIDs. To retrieve an event using its iCalUID, call the events.list method using the iCalUID parameter. To retrieve an event using its id, call the events.get method.",
          "type": "string"
        },
        "guestsCanSeeOtherGuests": {
          "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True.",
          "default": "true",
          "type": "boolean"
        },
        "outOfOfficeProperties": {
          "$ref": "EventOutOfOfficeProperties",
          "description": "Out of office event data. Used if eventType is outOfOffice."
        },
        "eventType": {
          "type": "string",
          "description": "Specific type of the event. This cannot be modified after the event is created. Possible values are:  \n- \"birthday\" - A special all-day event with an annual recurrence. \n- \"default\" - A regular event or not further specified. \n- \"focusTime\" - A focus-time event. \n- \"fromGmail\" - An event from Gmail. This type of event cannot be created. \n- \"outOfOffice\" - An out-of-office event. \n- \"workingLocation\" - A working location event.",
          "default": "default"
        },
        "recurrence": {
          "type": "array",
          "description": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events.",
          "items": {
            "type": "string"
          }
        },
        "hangoutLink": {
          "description": "An absolute link to the Google Hangout associated with this event. Read-only.",
          "type": "string"
        },
        "attachments": {
          "items": {
            "$ref": "EventAttachment"
          },
          "description": "File attachments for the event.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,",
          "type": "array"
        },
        "start": {
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "description": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance.",
          "$ref": "EventDateTime"
        },
        "anyoneCanAddSelf": {
          "default": "false",
          "description": "Whether anyone can invite themselves to the event (deprecated). Optional. The default is False.",
          "type": "boolean"
        }
      }
    },
    "FreeBusyRequest": {
      "type": "object",
      "properties": {
        "groupExpansionMax": {
          "format": "int32",
          "type": "integer",
          "description": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error is returned for a group with more members than this value. Maximum value is 100."
        },
        "timeZone": {
          "default": "UTC",
          "description": "Time zone used in the response. Optional. The default is UTC.",
          "type": "string"
        },
        "calendarExpansionMax": {
          "type": "integer",
          "format": "int32",
          "description": "Maximal number of calendars for which FreeBusy information is to be provided. Optional. Maximum value is 50."
        },
        "items": {
          "type": "array",
          "description": "List of calendars and/or groups to query.",
          "items": {
            "$ref": "FreeBusyRequestItem"
          }
        },
        "timeMax": {
          "type": "string",
          "format": "date-time",
          "description": "The end of the interval for the query formatted as per RFC3339."
        },
        "timeMin": {
          "type": "string",
          "format": "date-time",
          "description": "The start of the interval for the query formatted as per RFC3339."
        }
      },
      "id": "FreeBusyRequest"
    },
    "EventFocusTimeProperties": {
      "type": "object",
      "id": "EventFocusTimeProperties",
      "properties": {
        "declineMessage": {
          "type": "string",
          "description": "Response message to set if an existing event or new invitation is automatically declined by Calendar."
        },
        "chatStatus": {
          "description": "The status to mark the user in Chat and related products. This can be available or doNotDisturb.",
          "type": "string"
        },
        "autoDeclineMode": {
          "description": "Whether to decline meeting invitations which overlap Focus Time events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Focus Time event is present are to be declined.",
          "type": "string"
        }
      }
    },
    "FreeBusyRequestItem": {
      "id": "FreeBusyRequestItem",
      "properties": {
        "id": {
          "type": "string",
          "description": "The identifier of a calendar or a group."
        }
      },
      "type": "object"
    },
    "EventBirthdayProperties": {
      "type": "object",
      "id": "EventBirthdayProperties",
      "properties": {
        "contact": {
          "type": "string",
          "description": "Resource name of the contact this birthday event is linked to. This can be used to fetch contact details from People API. Format: \"people/c12345\". Read-only."
        },
        "customTypeName": {
          "description": "Custom type label specified for this event. This is populated if birthdayProperties.type is set to \"custom\". Read-only.",
          "type": "string"
        },
        "type": {
          "description": "Type of birthday or special event. Possible values are:  \n- \"anniversary\" - An anniversary other than birthday. Always has a contact. \n- \"birthday\" - A birthday event. This is the default value. \n- \"custom\" - A special date whose label is further specified in the customTypeName field. Always has a contact. \n- \"other\" - A special date which does not fall into the other categories, and does not have a custom label. Always has a contact. \n- \"self\" - Calendar owner's own birthday. Cannot have a contact.  The Calendar API only supports creating events with the type \"birthday\". The type cannot be changed after the event is created.",
          "type": "string",
          "default": "birthday"
        }
      }
    },
    "FreeBusyCalendar": {
      "id": "FreeBusyCalendar",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Optional error(s) (if computation for the calendar failed)."
        },
        "busy": {
          "type": "array",
          "items": {
            "$ref": "TimePeriod"
          },
          "description": "List of time ranges during which this calendar should be regarded as busy."
        }
      }
    },
    "Channel": {
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" (or \"webhook\"). Both values refer to a channel where Http requests are used to deliver messages.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\".",
          "default": "api#channel"
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "Declares a new parameter by name."
          }
        },
        "expiration": {
          "format": "int64",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Channel"
    },
    "CalendarList": {
      "type": "object",
      "id": "CalendarList",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "Calendars that are present on the user's calendar list.",
          "items": {
            "$ref": "CalendarListEntry"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "kind": {
          "description": "Type of the collection (\"calendar#calendarList\").",
          "type": "string",
          "default": "calendar#calendarList"
        }
      }
    },
    "Error": {
      "id": "Error",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain, or broad category, of the error."
        },
        "reason": {
          "type": "string",
          "description": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list."
        }
      },
      "type": "object"
    },
    "Events": {
      "properties": {
        "updated": {
          "description": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only.",
          "type": "string",
          "format": "date-time"
        },
        "defaultReminders": {
          "description": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True).",
          "items": {
            "$ref": "EventReminder"
          },
          "type": "array"
        },
        "items": {
          "description": "List of events on the calendar.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        },
        "description": {
          "description": "Description of the calendar. Read-only.",
          "type": "string"
        },
        "timeZone": {
          "description": "The time zone of the calendar. Read-only.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "kind": {
          "default": "calendar#events",
          "description": "Type of the collection (\"calendar#events\").",
          "type": "string"
        },
        "summary": {
          "description": "Title of the calendar. Read-only.",
          "type": "string"
        },
        "accessRole": {
          "description": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writerWithoutPrivateAccess\" - The user has read and write access to the calendar. Private events will appear to users with writerWithoutPrivateAccess access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        }
      },
      "type": "object",
      "id": "Events"
    },
    "EventDateTime": {
      "properties": {
        "date": {
          "type": "string",
          "format": "date",
          "description": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event."
        },
        "dateTime": {
          "description": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone.",
          "type": "string",
          "format": "date-time"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end."
        }
      },
      "id": "EventDateTime",
      "type": "object"
    },
    "LabelProperties": {
      "type": "object",
      "id": "LabelProperties",
      "properties": {
        "eventLabels": {
          "type": "array",
          "items": {
            "$ref": "EventLabel"
          },
          "description": "Event labels defined on this calendar. If this is present when updating the calendar, it will replace the existing event labels.\nExtend the list to add a new event label, and remove entities from the list to delete a label from calendar.\nEach calendar can have a maximum of 200 labels."
        }
      }
    },
    "EventReminder": {
      "properties": {
        "method": {
          "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder.",
          "type": "string"
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder."
        }
      },
      "id": "EventReminder",
      "type": "object"
    },
    "TimePeriod": {
      "type": "object",
      "id": "TimePeriod",
      "properties": {
        "end": {
          "type": "string",
          "format": "date-time",
          "description": "The (exclusive) end of the time period."
        },
        "start": {
          "format": "date-time",
          "description": "The (inclusive) start of the time period.",
          "type": "string"
        }
      }
    },
    "FreeBusyGroup": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Optional error(s) (if computation for the group failed)."
        },
        "calendars": {
          "type": "array",
          "description": "List of calendars' identifiers within a group.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "FreeBusyGroup"
    },
    "AclRule": {
      "id": "AclRule",
      "properties": {
        "role": {
          "annotations": {
            "required": [
              "calendar.acl.insert"
            ]
          },
          "type": "string",
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writerWithoutPrivateAccess\" - Provides read and write access to the calendar. Private events will appear to users with writerWithoutPrivateAccess access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. Provides read access to the calendar's ACLs. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role."
        },
        "id": {
          "type": "string",
          "description": "Identifier of the Access Control List (ACL) rule. See Sharing calendars."
        },
        "kind": {
          "description": "Type of the resource (\"calendar#aclRule\").",
          "default": "calendar#aclRule",
          "type": "string"
        },
        "scope": {
          "annotations": {
            "required": [
              "calendar.acl.insert",
              "calendar.acl.update"
            ]
          },
          "properties": {
            "type": {
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not.",
              "type": "string",
              "annotations": {
                "required": [
                  "calendar.acl.insert",
                  "calendar.acl.update"
                ]
              }
            },
            "value": {
              "type": "string",
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\"."
            }
          },
          "type": "object",
          "description": "The extent to which calendar access is granted by this ACL rule."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "type": "object"
    },
    "EventWorkingLocationProperties": {
      "type": "object",
      "properties": {
        "homeOffice": {
          "type": "any",
          "description": "If present, specifies that the user is working at home."
        },
        "customLocation": {
          "type": "object",
          "properties": {
            "label": {
              "description": "An optional extra label for additional information.",
              "type": "string"
            }
          },
          "description": "If present, specifies that the user is working from a custom location."
        },
        "type": {
          "description": "Type of the working location. Possible values are:  \n- \"homeOffice\" - The user is working at home. \n- \"officeLocation\" - The user is working from an office. \n- \"customLocation\" - The user is working from a custom location.  Any details are specified in a sub-field of the specified name, but this field may be missing if empty. Any other fields are ignored.\nRequired when adding working location properties.",
          "type": "string"
        },
        "officeLocation": {
          "description": "If present, specifies that the user is working from an office.",
          "properties": {
            "floorId": {
              "type": "string",
              "description": "An optional floor identifier."
            },
            "label": {
              "description": "The office name that's displayed in Calendar Web and Mobile clients. We recommend you reference a building name in the organization's Resources database.",
              "type": "string"
            },
            "buildingId": {
              "description": "An optional building identifier. This should reference a building ID in the organization's Resources database.",
              "type": "string"
            },
            "floorSectionId": {
              "description": "An optional floor section identifier.",
              "type": "string"
            },
            "deskId": {
              "description": "An optional desk identifier.",
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "id": "EventWorkingLocationProperties"
    },
    "EntryPoint": {
      "type": "object",
      "id": "EntryPoint",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. Example: \"SE\" for Sweden.\nCalendar backend will populate this field only for EntryPointType.PHONE."
        },
        "password": {
          "description": "The password to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "accessCode": {
          "type": "string",
          "description": "The access code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "entryPointFeatures": {
          "description": "Features of the entry point, such as being toll or toll-free. One entry point can have multiple features. However, toll and toll-free cannot be both set on the same entry point.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uri": {
          "description": "The URI of the entry point. The maximum length is 1300 characters.\nFormat:  \n- for video, http: or https: schema is required.\n- for phone, tel: schema is required. The URI should include the entire dial sequence (e.g., tel:+12345678900,,,123456789;1234).\n- for sip, sip: schema is required, e.g., sip:12345678@myprovider.com.\n- for more, http: or https: schema is required.",
          "type": "string"
        },
        "passcode": {
          "type": "string",
          "description": "The passcode to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed."
        },
        "label": {
          "type": "string",
          "description": "The label for the URI. Visible to end users. Not localized. The maximum length is 512 characters.\nExamples:  \n- for video: meet.google.com/aaa-bbbb-ccc\n- for phone: +1 123 268 2601\n- for sip: 12345678@altostrat.com\n- for more: should not be filled  \nOptional."
        },
        "entryPointType": {
          "type": "string",
          "description": "The type of the conference entry point.\nPossible values are:  \n- \"video\" - joining a conference over HTTP. A conference can have zero or one video entry point.\n- \"phone\" - joining a conference by dialing a phone number. A conference can have zero or more phone entry points.\n- \"sip\" - joining a conference over SIP. A conference can have zero or one sip entry point.\n- \"more\" - further conference joining instructions, for example additional phone numbers. A conference can have zero or one more entry point. A conference with only a more entry point is not a valid conference."
        },
        "pin": {
          "type": "string",
          "description": "The PIN to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "meetingCode": {
          "type": "string",
          "description": "The meeting code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/calendar/firstapp",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "revision": "20260826",
  "basePath": "/calendar/v3/",
  "title": "Calendar API",
  "name": "calendar",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "description": "Data format for the response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "channels": {
      "methods": {
        "stop": {
          "description": "Stop watching resources through this channel",
          "id": "calendar.channels.stop",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "path": "channels/stop",
          "httpMethod": "POST",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          }
        }
      }
    },
    "settings": {
      "methods": {
        "get": {
          "parameters": {
            "setting": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The id of the user setting."
            }
          },
          "id": "calendar.settings.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "GET",
          "path": "users/me/settings/{setting}",
          "description": "Returns a single user setting.",
          "parameterOrder": [
            "setting"
          ],
          "response": {
            "$ref": "Setting"
          }
        },
        "list": {
          "path": "users/me/settings",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "parameters": {
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "Settings"
          },
          "supportsSubscription": true,
          "id": "calendar.settings.list",
          "description": "Returns all user settings for the authenticated user.",
          "httpMethod": "GET"
        },
        "watch": {
          "path": "users/me/settings/watch",
          "supportsSubscription": true,
          "response": {
            "$ref": "Channel"
          },
          "id": "calendar.settings.watch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "description": "Watch for changes to Settings resources.",
          "parameters": {
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "format": "int32"
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            }
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "httpMethod": "POST"
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "httpMethod": "POST",
          "id": "calendar.freebusy.query",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.freebusy",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns free/busy information for a set of calendars.",
          "response": {
            "$ref": "FreeBusyResponse"
          },
          "path": "freeBusy"
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "Colors"
          },
          "id": "calendar.colors.get",
          "path": "colors",
          "description": "Returns the color definitions for calendars and events.",
          "httpMethod": "GET"
        }
      }
    },
    "events": {
      "methods": {
        "move": {
          "id": "calendar.events.move",
          "httpMethod": "POST",
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ],
          "parameters": {
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier of the source calendar where the event currently is on.",
              "type": "string"
            },
            "destination": {
              "description": "Calendar identifier of the target calendar where the event is to be moved to.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "eventId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Event identifier."
            },
            "sendUpdates": {
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "type": "string",
              "description": "Guests who should receive notifications about the change of the event's organizer.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            }
          },
          "description": "Moves an event to another calendar, i.e. changes an event's organizer. Note that only default events can be moved; birthday, focusTime, fromGmail, outOfOffice and workingLocation events cannot be moved.",
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ]
        },
        "delete": {
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "description": "Deletes an event.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "path": "calendars/{calendarId}/events/{eventId}",
          "parameters": {
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "eventId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Event identifier."
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "location": "query",
              "type": "string",
              "description": "Guests who should receive notifications about the deletion of the event.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            }
          },
          "id": "calendar.events.delete"
        },
        "import": {
          "response": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/import",
          "request": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.events.import",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "parameters": {
            "conferenceDataVersion": {
              "type": "integer",
              "maximum": "1",
              "minimum": "0",
              "location": "query",
              "format": "int32",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0."
            },
            "supportsAttachments": {
              "type": "boolean",
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "eventLabelVersion": {
              "format": "int32",
              "description": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
              "maximum": "1",
              "type": "integer",
              "location": "query",
              "minimum": "0"
            }
          },
          "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar. Only events with an eventType of default may be imported.\nDeprecated behavior: If a non-default event is imported, its type will be changed to default and any event-type-specific properties it may have will be dropped.",
          "httpMethod": "POST"
        },
        "list": {
          "description": "Returns events on the specified calendar.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "path": "calendars/{calendarId}/events",
          "id": "calendar.events.list",
          "response": {
            "$ref": "Events"
          },
          "parameters": {
            "maxResults": {
              "default": "250",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "location": "query",
              "format": "int32"
            },
            "eventTypes": {
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ],
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ],
              "repeated": true
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored."
            },
            "iCalUID": {
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "type": "string",
              "location": "query"
            },
            "timeMin": {
              "type": "string",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "location": "query",
              "format": "date-time"
            },
            "sharedExtendedProperty": {
              "repeated": true,
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string",
              "location": "query"
            },
            "timeMax": {
              "location": "query",
              "format": "date-time",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "type": "string"
            },
            "showHiddenInvitations": {
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "privateExtendedProperty": {
              "repeated": true,
              "type": "string",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "enum": [
                "startTime",
                "updated"
              ],
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "q": {
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional.",
              "type": "string",
              "location": "query"
            },
            "singleEvents": {
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "updatedMin": {
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "format": "date-time",
              "type": "string",
              "location": "query"
            },
            "timeZone": {
              "location": "query",
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "maxAttendees": {
              "type": "integer",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "id": "calendar.events.get",
          "parameters": {
            "eventId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Event identifier."
            },
            "timeZone": {
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query"
            },
            "alwaysIncludeEmail": {
[...]
