{
  "icons": {
    "x16": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-16dp/logo_calendar_2020q4_color_1x_web_16dp.png",
    "x32": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-32dp/logo_calendar_2020q4_color_1x_web_32dp.png"
  },
  "discoveryVersion": "v1",
  "id": "calendar:v3",
  "batchPath": "batch/calendar/v3",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "schemas": {
    "AclRule": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Identifier of the Access Control List (ACL) rule. See Sharing calendars."
        },
        "kind": {
          "type": "string",
          "default": "calendar#aclRule",
          "description": "Type of the resource (\"calendar#aclRule\")."
        },
        "role": {
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writerWithoutPrivateAccess\" - Provides read and write access to the calendar. Private events will appear to users with writerWithoutPrivateAccess access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. Provides read access to the calendar's ACLs. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role.",
          "annotations": {
            "required": [
              "calendar.acl.insert"
            ]
          },
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "scope": {
          "description": "The extent to which calendar access is granted by this ACL rule.",
          "annotations": {
            "required": [
              "calendar.acl.insert",
              "calendar.acl.update"
            ]
          },
          "type": "object",
          "properties": {
            "type": {
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not.",
              "annotations": {
                "required": [
                  "calendar.acl.insert",
                  "calendar.acl.update"
                ]
              },
              "type": "string"
            },
            "value": {
              "type": "string",
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\"."
            }
          }
        }
      },
      "id": "AclRule",
      "type": "object"
    },
    "ConferenceSolutionKey": {
      "id": "ConferenceSolutionKey",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The conference solution type.\nIf a client encounters an unfamiliar or empty type, it should still be able to display the entry points. However, it should disallow modifications.\nThe possible values are:  \n- \"eventHangout\" for Hangouts for consumers (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"eventNamedHangout\" for classic Hangouts for Google Workspace users (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"hangoutsMeet\" for Google Meet (http://meet.google.com)\n- \"addOn\" for 3P conference providers"
        }
      }
    },
    "Events": {
      "properties": {
        "defaultReminders": {
          "description": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True).",
          "items": {
            "$ref": "EventReminder"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Read-only."
        },
        "accessRole": {
          "type": "string",
          "description": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writerWithoutPrivateAccess\" - The user has read and write access to the calendar. Private events will appear to users with writerWithoutPrivateAccess access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role."
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Read-only."
        },
        "items": {
          "description": "List of events on the calendar.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "summary": {
          "type": "string",
          "description": "Title of the calendar. Read-only."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "kind": {
          "type": "string",
          "default": "calendar#events",
          "description": "Type of the collection (\"calendar#events\")."
        }
      },
      "id": "Events",
      "type": "object"
    },
    "CalendarList": {
      "id": "CalendarList",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "calendar#calendarList",
          "description": "Type of the collection (\"calendar#calendarList\")."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "items": {
          "description": "Calendars that are present on the user's calendar list.",
          "items": {
            "$ref": "CalendarListEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        }
      }
    },
    "EventReminder": {
      "properties": {
        "method": {
          "type": "string",
          "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder."
        }
      },
      "id": "EventReminder",
      "type": "object"
    },
    "FreeBusyRequestItem": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The identifier of a calendar or a group."
        }
      },
      "id": "FreeBusyRequestItem",
      "type": "object"
    },
    "ConferenceParameters": {
      "id": "ConferenceParameters",
      "type": "object",
      "properties": {
        "addOnParameters": {
          "$ref": "ConferenceParametersAddOnParameters",
          "description": "Additional add-on specific data."
        }
      }
    },
    "EventAttendee": {
      "id": "EventAttendee",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The attendee's Profile ID, if available."
        },
        "responseStatus": {
          "type": "string",
          "description": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation (recommended for new events). \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.  Warning: If you add an event using the values declined, tentative, or accepted, attendees with the \"Add invitations to my calendar\" setting set to \"When I respond to invitation in email\" or \"Only if the sender is known\" might have their response reset to needsAction and won't see an event in their calendar unless they change their response in the event invitation email. Furthermore, if more than 200 guests are invited to the event, response status is not propagated to the guests."
        },
        "email": {
          "type": "string",
          "description": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.\nRequired when adding an attendee."
        },
        "comment": {
          "type": "string",
          "description": "The attendee's response comment. Optional."
        },
        "organizer": {
          "type": "boolean",
          "description": "Whether the attendee is the organizer of the event. Read-only. The default is False."
        },
        "resource": {
          "description": "Whether the attendee is a resource. Can only be set when the attendee is added to the event for the first time. Subsequent modifications are ignored. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "additionalGuests": {
          "description": "Number of additional guests. Optional. The default is 0.",
          "format": "int32",
          "type": "integer",
          "default": "0"
        },
        "self": {
          "description": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "displayName": {
          "type": "string",
          "description": "The attendee's name, if available. Optional."
        },
        "asyncOperation": {
          "type": "string",
          "default": "",
          "description": "If present, indicates the status of an asynchronous operation ongoing for this attendee (e.g. listing of members of large attendee groups). Read-only. The default is to not be present.\nPossible values are:  \n- \"inProgress\" - The asynchronous operation is in progress. \n- (not present) - Otherwise."
        },
        "optional": {
          "description": "Whether this is an optional attendee. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        }
      }
    },
    "FreeBusyCalendar": {
      "id": "FreeBusyCalendar",
      "type": "object",
      "properties": {
        "errors": {
          "description": "Optional error(s) (if computation for the calendar failed).",
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        },
        "busy": {
          "description": "List of time ranges during which this calendar should be regarded as busy.",
          "items": {
            "$ref": "TimePeriod"
          },
          "type": "array"
        }
      }
    },
    "EventBirthdayProperties": {
      "id": "EventBirthdayProperties",
      "type": "object",
      "properties": {
        "contact": {
          "type": "string",
          "description": "Resource name of the contact this birthday event is linked to. This can be used to fetch contact details from People API. Format: \"people/c12345\". Read-only."
        },
        "customTypeName": {
          "type": "string",
          "description": "Custom type label specified for this event. This is populated if birthdayProperties.type is set to \"custom\". Read-only."
        },
        "type": {
          "type": "string",
          "default": "birthday",
          "description": "Type of birthday or special event. Possible values are:  \n- \"anniversary\" - An anniversary other than birthday. Always has a contact. \n- \"birthday\" - A birthday event. This is the default value. \n- \"custom\" - A special date whose label is further specified in the customTypeName field. Always has a contact. \n- \"other\" - A special date which does not fall into the other categories, and does not have a custom label. Always has a contact. \n- \"self\" - Calendar owner's own birthday. Cannot have a contact.  The Calendar API only supports creating events with the type \"birthday\". The type cannot be changed after the event is created."
        }
      }
    },
    "CalendarListEntry": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional. Read-only."
        },
        "defaultReminders": {
          "type": "array",
          "description": "The default reminders that the authenticated user has for this calendar.",
          "items": {
            "$ref": "EventReminder"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Optional. Read-only."
        },
        "deleted": {
          "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "autoAcceptInvitations": {
          "type": "boolean",
          "description": "Whether this calendar automatically accepts invitations. Only valid for resource calendars. Read-only."
        },
        "id": {
          "type": "string",
          "description": "Identifier of the calendar.",
          "annotations": {
            "required": [
              "calendar.calendarList.insert"
            ]
          }
        },
        "notificationSettings": {
          "description": "The notifications that the authenticated user is receiving for this calendar.",
          "properties": {
            "notifications": {
              "description": "The list of notifications set for this calendar.",
              "items": {
                "$ref": "CalendarNotification"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "backgroundColor": {
          "type": "string",
          "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
        },
        "hidden": {
          "description": "Whether the calendar has been hidden from the list. Optional. The attribute is only returned when the calendar is hidden, in which case the value is true.",
          "type": "boolean",
          "default": "false"
        },
        "accessRole": {
          "type": "string",
          "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writerWithoutPrivateAccess\" - Provides read and write access to the calendar. Private events will appear to users with writerWithoutPrivateAccess access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role."
        },
        "summaryOverride": {
          "type": "string",
          "description": "The summary that the authenticated user has set for this calendar. Optional."
        },
        "colorId": {
          "type": "string",
          "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional."
        },
        "conferenceProperties": {
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed.",
          "$ref": "ConferenceProperties"
        },
        "foregroundColor": {
          "type": "string",
          "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
        },
        "selected": {
          "type": "boolean",
          "default": "false",
          "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False."
        },
        "kind": {
          "type": "string",
          "default": "calendar#calendarListEntry",
          "description": "Type of the resource (\"calendar#calendarListEntry\")."
        },
        "primary": {
          "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional. Read-only."
        },
        "dataOwner": {
          "type": "string",
          "description": "The email of the owner of the calendar. Set only for secondary calendars. Read-only."
        },
        "summary": {
          "type": "string",
          "description": "Title of the calendar. Read-only."
        }
      },
      "id": "CalendarListEntry",
      "type": "object"
    },
    "FreeBusyResponse": {
      "properties": {
        "calendars": {
          "type": "object",
          "description": "List of free/busy information for calendars.",
          "additionalProperties": {
            "description": "Free/busy expansions for a single calendar.",
            "$ref": "FreeBusyCalendar"
          }
        },
        "groups": {
          "type": "object",
          "description": "Expansion of groups.",
          "additionalProperties": {
            "description": "List of calendars that are members of this group.",
            "$ref": "FreeBusyGroup"
          }
        },
        "kind": {
          "type": "string",
          "default": "calendar#freeBusy",
          "description": "Type of the resource (\"calendar#freeBusy\")."
        },
        "timeMin": {
          "description": "The start of the interval.",
          "format": "date-time",
          "type": "string"
        },
        "timeMax": {
          "format": "date-time",
          "description": "The end of the interval.",
          "type": "string"
        }
      },
      "id": "FreeBusyResponse",
      "type": "object"
    },
    "Calendar": {
      "id": "Calendar",
      "type": "object",
      "properties": {
        "summary": {
          "type": "string",
          "annotations": {
            "required": [
              "calendar.calendars.insert"
            ]
          },
          "description": "Title of the calendar."
        },
        "dataOwner": {
          "type": "string",
          "description": "The email of the owner of the calendar. Set only for secondary calendars. Read-only."
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional."
        },
        "autoAcceptInvitations": {
          "type": "boolean",
          "description": "Whether this calendar automatically accepts invitations. Only valid for resource calendars."
        },
        "id": {
          "type": "string",
          "description": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method."
        },
        "kind": {
          "type": "string",
          "default": "calendar#calendar",
          "description": "Type of the resource (\"calendar#calendar\")."
        },
        "labelProperties": {
          "$ref": "LabelProperties",
          "description": "Label properties defined on this calendar. If specified, overwrites the existing label properties. If not specified, the label properties remain unchanged."
        },
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional."
        }
      }
    },
    "TimePeriod": {
      "properties": {
        "end": {
          "description": "The (exclusive) end of the time period.",
          "format": "date-time",
          "type": "string"
        },
        "start": {
          "type": "string",
          "description": "The (inclusive) start of the time period.",
          "format": "date-time"
        }
      },
      "id": "TimePeriod",
      "type": "object"
    },
    "ConferenceData": {
      "id": "ConferenceData",
      "type": "object",
      "properties": {
        "entryPoints": {
          "type": "array",
          "description": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "items": {
            "$ref": "EntryPoint"
          }
        },
        "conferenceId": {
          "type": "string",
          "description": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nThe ID value is formed differently for each conference solution type:  \n- eventHangout: ID is not set. (This conference type is deprecated.)\n- eventNamedHangout: ID is the name of the Hangout. (This conference type is deprecated.)\n- hangoutsMeet: ID is the 10-letter meeting code, for example aaa-bbbb-ccc.\n- addOn: ID is defined by the third-party provider.  Optional."
        },
        "conferenceSolution": {
          "$ref": "ConferenceSolution",
          "description": "The conference solution, such as Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "parameters": {
          "$ref": "ConferenceParameters",
          "description": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming."
        },
        "notes": {
          "type": "string",
          "description": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional."
        },
        "signature": {
          "type": "string",
          "description": "The signature of the conference data.\nGenerated on server side.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request."
        },
        "createRequest": {
          "description": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "$ref": "CreateConferenceRequest"
        }
      }
    },
    "ConferenceParametersAddOnParameters": {
      "id": "ConferenceParametersAddOnParameters",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ConferenceRequestStatus": {
      "id": "ConferenceRequestStatus",
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points."
        }
      }
    },
    "LabelProperties": {
      "id": "LabelProperties",
      "type": "object",
      "properties": {
        "eventLabels": {
          "type": "array",
          "description": "Event labels defined on this calendar. If this is present when updating the calendar, it will replace the existing event labels.\nExtend the list to add a new event label, and remove entities from the list to delete a label from calendar.\nEach calendar can have a maximum of 200 labels.",
          "items": {
            "$ref": "EventLabel"
          }
        }
      }
    },
    "Channel": {
      "id": "Channel",
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" (or \"webhook\"). Both values refer to a channel where Http requests are used to deliver messages."
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "kind": {
          "type": "string",
          "default": "api#channel",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\"."
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "additionalProperties": {
            "type": "string",
            "description": "Declares a new parameter by name."
          },
          "type": "object"
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "expiration": {
          "format": "int64",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string"
        }
      }
    },
    "EntryPoint": {
      "id": "EntryPoint",
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "description": "The password to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "accessCode": {
          "type": "string",
          "description": "The access code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "entryPointType": {
          "type": "string",
          "description": "The type of the conference entry point.\nPossible values are:  \n- \"video\" - joining a conference over HTTP. A conference can have zero or one video entry point.\n- \"phone\" - joining a conference by dialing a phone number. A conference can have zero or more phone entry points.\n- \"sip\" - joining a conference over SIP. A conference can have zero or one sip entry point.\n- \"more\" - further conference joining instructions, for example additional phone numbers. A conference can have zero or one more entry point. A conference with only a more entry point is not a valid conference."
        },
        "pin": {
          "type": "string",
          "description": "The PIN to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "entryPointFeatures": {
          "type": "array",
          "description": "Features of the entry point, such as being toll or toll-free. One entry point can have multiple features. However, toll and toll-free cannot be both set on the same entry point.",
          "items": {
            "type": "string"
          }
        },
        "label": {
          "type": "string",
          "description": "The label for the URI. Visible to end users. Not localized. The maximum length is 512 characters.\nExamples:  \n- for video: meet.google.com/aaa-bbbb-ccc\n- for phone: +1 123 268 2601\n- for sip: 12345678@altostrat.com\n- for more: should not be filled  \nOptional."
        },
        "passcode": {
          "type": "string",
          "description": "The passcode to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed."
        },
        "uri": {
          "type": "string",
          "description": "The URI of the entry point. The maximum length is 1300 characters.\nFormat:  \n- for video, http: or https: schema is required.\n- for phone, tel: schema is required. The URI should include the entire dial sequence (e.g., tel:+12345678900,,,123456789;1234).\n- for sip, sip: schema is required, e.g., sip:12345678@myprovider.com.\n- for more, http: or https: schema is required."
        },
        "meetingCode": {
          "type": "string",
          "description": "The meeting code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "regionCode": {
          "type": "string",
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. Example: \"SE\" for Sweden.\nCalendar backend will populate this field only for EntryPointType.PHONE."
        }
      }
    },
    "CalendarNotification": {
      "id": "CalendarNotification",
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "The method used to deliver the notification. The possible value is:  \n- \"email\" - Notifications are sent via email.  \nRequired when adding a notification."
        },
        "type": {
          "type": "string",
          "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an attendee responds to the event invitation. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).  \nRequired when adding a notification."
        }
      }
    },
    "Acl": {
      "id": "Acl",
      "type": "object",
      "properties": {
        "items": {
          "description": "List of rules on the access control list.",
          "items": {
            "$ref": "AclRule"
          },
          "type": "array"
        },
        "kind": {
          "description": "Type of the collection (\"calendar#acl\").",
          "type": "string",
          "default": "calendar#acl"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        }
      }
    },
    "Error": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain, or broad category, of the error."
        },
        "reason": {
          "type": "string",
          "description": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list."
        }
      },
      "id": "Error",
      "type": "object"
    },
    "Colors": {
      "id": "Colors",
      "type": "object",
      "properties": {
        "event": {
          "type": "object",
          "additionalProperties": {
            "description": "An event color definition.",
            "$ref": "ColorDefinition"
          },
          "description": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its colorId field. Read-only."
        },
        "kind": {
          "description": "Type of the resource (\"calendar#colors\").",
          "type": "string",
          "default": "calendar#colors"
        },
        "calendar": {
          "description": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its colorId field. Read-only.",
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "A calendar color definition."
          },
          "type": "object"
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only.",
          "format": "date-time"
        }
      }
    },
    "EventFocusTimeProperties": {
      "properties": {
        "declineMessage": {
          "type": "string",
          "description": "Response message to set if an existing event or new invitation is automatically declined by Calendar."
        },
        "autoDeclineMode": {
          "type": "string",
          "description": "Whether to decline meeting invitations which overlap Focus Time events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Focus Time event is present are to be declined."
        },
        "chatStatus": {
          "type": "string",
          "description": "The status to mark the user in Chat and related products. This can be available or doNotDisturb."
        }
      },
      "id": "EventFocusTimeProperties",
      "type": "object"
    },
    "EventWorkingLocationProperties": {
      "properties": {
        "customLocation": {
          "type": "object",
          "properties": {
            "label": {
              "type": "string",
              "description": "An optional extra label for additional information."
            }
          },
          "description": "If present, specifies that the user is working from a custom location."
        },
        "homeOffice": {
          "type": "any",
          "description": "If present, specifies that the user is working at home."
        },
        "officeLocation": {
          "description": "If present, specifies that the user is working from an office.",
          "properties": {
            "deskId": {
              "type": "string",
              "description": "An optional desk identifier."
            },
            "floorId": {
              "type": "string",
              "description": "An optional floor identifier."
            },
            "label": {
              "type": "string",
              "description": "The office name that's displayed in Calendar Web and Mobile clients. We recommend you reference a building name in the organization's Resources database."
            },
            "buildingId": {
              "type": "string",
              "description": "An optional building identifier. This should reference a building ID in the organization's Resources database."
            },
            "floorSectionId": {
              "type": "string",
              "description": "An optional floor section identifier."
            }
          },
          "type": "object"
        },
        "type": {
          "type": "string",
          "description": "Type of the working location. Possible values are:  \n- \"homeOffice\" - The user is working at home. \n- \"officeLocation\" - The user is working from an office. \n- \"customLocation\" - The user is working from a custom location.  Any details are specified in a sub-field of the specified name, but this field may be missing if empty. Any other fields are ignored.\nRequired when adding working location properties."
        }
      },
      "id": "EventWorkingLocationProperties",
      "type": "object"
    },
    "EventLabel": {
      "properties": {
        "backgroundColor": {
          "type": "string",
          "description": "Background color of the label in hexadecimal format, such as \"#039be5\". Events with this label are displayed in this color. Required."
        },
        "id": {
          "type": "string",
          "description": "The ID of the label. Optional when inserting a new label. If not provided, a unique ID will be generated. Required when updating a label.\nIf provided, the ID must be unique within the calendar and follow UUID format."
        },
        "name": {
          "type": "string",
          "description": "Name of the label. Optional.\nIf provided this must have at most 50 characters."
        }
      },
      "id": "EventLabel",
      "type": "object"
    },
    "Setting": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the user setting."
        },
        "kind": {
          "type": "string",
          "default": "calendar#setting",
          "description": "Type of the resource (\"calendar#setting\")."
        },
        "value": {
          "type": "string",
          "description": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "id": "Setting",
      "type": "object"
    },
    "EventDateTime": {
      "properties": {
        "date": {
          "type": "string",
          "format": "date",
          "description": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event."
        },
        "dateTime": {
          "type": "string",
          "description": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone.",
          "format": "date-time"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end."
        }
      },
      "id": "EventDateTime",
      "type": "object"
    },
    "FreeBusyGroup": {
      "properties": {
        "calendars": {
          "description": "List of calendars' identifiers within a group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "errors": {
          "description": "Optional error(s) (if computation for the group failed).",
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        }
      },
      "id": "FreeBusyGroup",
      "type": "object"
    },
    "CreateConferenceRequest": {
      "id": "CreateConferenceRequest",
      "type": "object",
      "properties": {
        "conferenceSolutionKey": {
          "$ref": "ConferenceSolutionKey",
          "description": "The conference solution, such as Hangouts or Google Meet."
        },
        "status": {
          "description": "The status of the conference create request.",
          "$ref": "ConferenceRequestStatus"
        },
        "requestId": {
          "type": "string",
          "description": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored."
        }
      }
    },
    "Event": {
      "id": "Event",
      "type": "object",
      "properties": {
        "locked": {
          "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only.",
          "type": "boolean",
          "default": "false"
        },
        "privateCopy": {
          "description": "If set to True, Event propagation is disabled. Note that it is not the same thing as Private event properties. Optional. Immutable. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "focusTimeProperties": {
          "$ref": "EventFocusTimeProperties",
          "description": "Focus Time event data. Used if eventType is focusTime."
        },
        "id": {
          "type": "string",
          "description": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs."
        },
        "source": {
          "description": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event.",
          "properties": {
            "title": {
              "type": "string",
              "description": "Title of the source; for example a title of a web page or an email subject."
            },
            "url": {
              "type": "string",
              "description": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS."
            }
          },
          "type": "object"
        },
        "colorId": {
          "type": "string",
          "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
        },
        "originalStartTime": {
          "description": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. It uniquely identifies the instance within the recurring event series even if the instance was moved to a different time. Immutable.",
          "$ref": "EventDateTime"
        },
        "created": {
          "description": "Creation time of the event (as a RFC3339 timestamp). Read-only.",
          "format": "date-time",
          "type": "string"
        },
        "gadget": {
          "description": "A gadget that extends this event. Gadgets are deprecated; this structure is instead only used for returning birthday calendar metadata.",
          "properties": {
            "display": {
              "type": "string",
              "description": "The gadget's display mode. Deprecated. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked."
            },
            "title": {
              "type": "string",
              "description": "The gadget's title. Deprecated."
            },
            "type": {
              "type": "string",
              "description": "The gadget's type. Deprecated."
            },
            "height": {
              "format": "int32",
              "description": "The gadget's height in pixels. The height must be an integer greater than 0. Optional. Deprecated.",
              "type": "integer"
            },
            "iconLink": {
              "type": "string",
              "description": "The gadget's icon URL. The URL scheme must be HTTPS. Deprecated."
            },
            "width": {
              "type": "integer",
              "description": "The gadget's width in pixels. The width must be an integer greater than 0. Optional. Deprecated.",
              "format": "int32"
            },
            "link": {
              "type": "string",
              "description": "The gadget's URL. The URL scheme must be HTTPS. Deprecated."
            },
            "preferences": {
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "description": "The preference name and corresponding value."
              },
              "description": "Preferences."
            }
          },
          "type": "object"
        },
        "creator": {
          "description": "The creator of the event. Read-only.",
          "type": "object",
          "properties": {
            "displayName": {
              "type": "string",
              "description": "The creator's name, if available."
            },
            "id": {
              "type": "string",
              "description": "The creator's Profile ID, if available."
            },
            "email": {
              "type": "string",
              "description": "The creator's email address, if available."
            },
            "self": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
            }
          }
        },
        "anyoneCanAddSelf": {
          "description": "Whether anyone can invite themselves to the event (deprecated). Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "attachments": {
          "type": "array",
          "description": "File attachments for the event.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,",
          "items": {
            "$ref": "EventAttachment"
          }
        },
        "guestsCanModify": {
          "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "recurrence": {
          "description": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "summary": {
          "type": "string",
          "description": "Title of the event."
        },
        "organizer": {
          "description": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event.",
          "type": "object",
          "properties": {
            "self": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
            },
            "email": {
              "type": "string",
              "description": "The organizer's email address, if available. It must be a valid email address as per RFC5322."
            },
            "displayName": {
              "type": "string",
              "description": "The organizer's name, if available."
            },
            "id": {
              "type": "string",
              "description": "The organizer's Profile ID, if available."
            }
          }
        },
        "updated": {
          "format": "date-time",
          "description": "Last modification time of the main event data (as a RFC3339 timestamp). Updating event reminders will not cause this to change. Read-only.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled (deleted). The list method returns cancelled events only on incremental sync (when syncToken or updatedMin are specified) or if the showDeleted flag is set to true. The get method always returns them.\nA cancelled status represents two different states depending on the event type:  \n- Cancelled exceptions of an uncancelled recurring event indicate that this instance should no longer be presented to the user. Clients should store these events for the lifetime of the parent recurring event.\nCancelled exceptions are only guaranteed to have values for the id, recurringEventId and originalStartTime fields populated. The other fields might be empty.  \n- All other cancelled events represent deleted events. Clients should remove their locally synced copies. Such cancelled events will eventually disappear, so do not rely on them being available indefinitely.\nDeleted events are only guaranteed to have the id field populated.   On the organizer's calendar, cancelled events continue to expose event details (summary, location, etc.) so that they can be restored (undeleted). Similarly, the events to which the user was invited and that they manually removed continue to provide details. However, incremental sync requests with showDeleted set to false will not return these details.\nIf an event changes its organizer (for example via the move operation) and the original organizer is not on the attendee list, it will leave behind a cancelled event where only the id field is guaranteed to be populated."
        },
        "description": {
          "type": "string",
          "description": "Description of the event. Can contain HTML. Optional."
        },
        "eventLabelId": {
          "type": "string",
          "description": "The ID of the event label assigned to the event. Optional. This refers to the ID of an entry in the labelProperties.eventLabels property of the calendar (see the Calendars.get endpoint.)\nThis property supersedes the index-based colorId property. To set or change this property, you need to specify eventLabelVersion=1 in the parameters of the insert, import, update, and patch methods.\nSetting an empty string, or not setting this field at all, will remove the existing label from the event."
        },
        "workingLocationProperties": {
          "description": "Working location event data.",
          "$ref": "EventWorkingLocationProperties"
        },
        "eventType": {
          "description": "Specific type of the event. This cannot be modified after the event is created. Possible values are:  \n- \"birthday\" - A special all-day event with an annual recurrence. \n- \"default\" - A regular event or not further specified. \n- \"focusTime\" - A focus-time event. \n- \"fromGmail\" - An event from Gmail. This type of event cannot be created. \n- \"outOfOffice\" - An out-of-office event. \n- \"workingLocation\" - A working location event.",
          "type": "string",
          "default": "default"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "sequence": {
          "type": "integer",
          "format": "int32",
          "description": "Sequence number as per iCalendar."
        },
        "guestsCanInviteOthers": {
          "type": "boolean",
          "default": "true",
          "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True."
        },
        "outOfOfficeProperties": {
          "description": "Out of office event data. Used if eventType is outOfOffice.",
          "$ref": "EventOutOfOfficeProperties"
        },
        "conferenceData": {
          "description": "The conference-related information, such as details of a Google Meet conference. To create new conference details use the createRequest field. To persist your changes, remember to set the conferenceDataVersion request parameter to 1 for all event modification requests. Warning: Reusing Google Meet conference data across different events can cause access issues and expose meeting details to unintended users. To help ensure meeting privacy, always generate a unique conference for each event by using the createRequest field.",
          "$ref": "ConferenceData"
        },
        "end": {
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance.",
          "$ref": "EventDateTime"
        },
        "guestsCanSeeOtherGuests": {
          "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True.",
          "type": "boolean",
          "default": "true"
        },
        "htmlLink": {
          "type": "string",
          "description": "An absolute link to this event in the Google Calendar Web UI. Read-only."
        },
        "visibility": {
          "type": "string",
          "default": "default",
          "description": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons.  \nNote on recurring events: Changing the visibility of a single instance of a recurring event can affect all instances of the series. If the new setting is more restrictive (e.g. from public to private), it is applied to all instances. If the new setting is less restrictive (e.g. from private to public), the change is ignored. To make a recurring event less restrictive, you must update the parent recurring event."
        },
        "transparency": {
          "type": "string",
          "default": "opaque",
          "description": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI."
        },
        "endTimeUnspecified": {
          "type": "boolean",
          "default": "false",
          "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False."
        },
        "extendedProperties": {
          "type": "object",
          "properties": {
            "private": {
              "additionalProperties": {
                "type": "string",
                "description": "The name of the private property and the corresponding value."
              },
              "description": "Properties that are private to the copy of the event that appears on this calendar.",
              "type": "object"
            },
            "shared": {
              "additionalProperties": {
                "type": "string",
                "description": "The name of the shared property and the corresponding value."
              },
              "description": "Properties that are shared between copies of the event on other attendees' calendars.",
              "type": "object"
            }
          },
          "description": "Extended properties of the event."
        },
        "start": {
          "$ref": "EventDateTime",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "description": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance."
        },
        "attendees": {
          "type": "array",
          "description": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users. Service accounts need to use domain-wide delegation of authority to populate the attendee list.",
          "items": {
            "$ref": "EventAttendee"
          }
        },
        "birthdayProperties": {
          "description": "Birthday or special event data. Used if eventType is \"birthday\". Immutable.",
          "$ref": "EventBirthdayProperties"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#event\").",
          "type": "string",
          "default": "calendar#event"
        },
        "recurringEventId": {
          "type": "string",
          "description": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable."
        },
        "hangoutLink": {
          "type": "string",
          "description": "An absolute link to the Google Hangout associated with this event. Read-only."
        },
        "reminders": {
          "type": "object",
          "properties": {
            "useDefault": {
              "type": "boolean",
              "description": "Whether the default reminders of the calendar apply to the event."
            },
            "overrides": {
              "description": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5.",
              "items": {
                "$ref": "EventReminder"
              },
              "type": "array"
            }
          },
          "description": "Information about the event's reminders for the authenticated user. Note that changing reminders does not also change the updated property of the enclosing event."
        },
        "attendeesOmitted": {
          "type": "boolean",
          "default": "false",
          "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False."
        },
        "iCalUID": {
          "type": "string",
          "description": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the iCalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same iCalUIDs. To retrieve an event using its iCalUID, call the events.list method using the iCalUID parameter. To retrieve an event using its id, call the events.get method.",
          "annotations": {
            "required": [
              "calendar.events.import"
            ]
          }
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the event as free-form text. Optional."
        }
      }
    },
    "ConferenceSolution": {
      "id": "ConferenceSolution",
      "type": "object",
      "properties": {
        "key": {
          "$ref": "ConferenceSolutionKey",
          "description": "The key which can uniquely identify the conference solution for this event."
        },
        "iconUri": {
          "type": "string",
          "description": "The user-visible icon for this solution."
        },
        "name": {
          "type": "string",
          "description": "The user-visible name of this solution. Not localized."
        }
      }
    },
    "EventAttachment": {
      "id": "EventAttachment",
      "type": "object",
      "properties": {
        "fileId": {
          "type": "string",
          "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API."
        },
        "iconLink": {
          "type": "string",
          "description": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments."
        },
        "mimeType": {
          "type": "string",
          "description": "Internet media type (MIME type) of the attachment."
        },
        "title": {
          "type": "string",
          "description": "Attachment title."
        },
        "fileUrl": {
          "type": "string",
          "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment."
        }
      }
    },
    "FreeBusyRequest": {
      "id": "FreeBusyRequest",
      "type": "object",
      "properties": {
        "calendarExpansionMax": {
          "type": "integer",
          "format": "int32",
          "description": "Maximal number of calendars for which FreeBusy information is to be provided. Optional. Maximum value is 50."
        },
        "timeZone": {
          "type": "string",
          "default": "UTC",
          "description": "Time zone used in the response. Optional. The default is UTC."
        },
        "items": {
          "description": "List of calendars and/or groups to query.",
          "items": {
            "$ref": "FreeBusyRequestItem"
          },
          "type": "array"
        },
        "timeMax": {
          "type": "string",
          "description": "The end of the interval for the query formatted as per RFC3339.",
          "format": "date-time"
        },
        "groupExpansionMax": {
          "type": "integer",
          "format": "int32",
          "description": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error is returned for a group with more members than this value. Maximum value is 100."
        },
        "timeMin": {
          "type": "string",
          "format": "date-time",
          "description": "The start of the interval for the query formatted as per RFC3339."
        }
      }
    },
    "ConferenceProperties": {
      "properties": {
        "allowedConferenceSolutionTypes": {
          "description": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ConferenceProperties",
      "type": "object"
    },
    "ColorDefinition": {
      "properties": {
        "background": {
          "type": "string",
          "description": "The background color associated with this color definition."
        },
        "foreground": {
          "type": "string",
          "description": "The foreground color that can be used to write on top of a background with 'background' color."
        }
      },
      "id": "ColorDefinition",
      "type": "object"
    },
    "EventOutOfOfficeProperties": {
      "id": "EventOutOfOfficeProperties",
      "type": "object",
      "properties": {
        "autoDeclineMode": {
          "type": "string",
          "description": "Whether to decline meeting invitations which overlap Out of office events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Out of office event is present are to be declined."
        },
        "declineMessage": {
          "type": "string",
          "description": "Response message to set if an existing event or new invitation is automatically declined by Calendar."
        }
      }
    },
    "Settings": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of the collection."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "items": {
          "description": "List of user settings.",
          "items": {
            "$ref": "Setting"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "calendar#settings",
          "description": "Type of the collection (\"calendar#settings\")."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        }
      },
      "id": "Settings",
      "type": "object"
    }
  },
  "rootUrl": "https://www.googleapis.com/",
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "resources": {
    "settings": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "calendar.settings.get",
          "parameterOrder": [
            "setting"
          ],
          "description": "Returns a single user setting.",
          "path": "users/me/settings/{setting}",
          "parameters": {
            "setting": {
              "description": "The id of the user setting.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Setting"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "path": "users/me/settings",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "location": "query",
              "type": "integer"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Settings"
          },
          "description": "Returns all user settings for the authenticated user.",
          "supportsSubscription": true,
          "httpMethod": "GET",
          "id": "calendar.settings.list"
        },
        "watch": {
          "path": "users/me/settings/watch",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "type": "integer"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "description": "Watch for changes to Settings resources.",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "httpMethod": "POST",
          "id": "calendar.settings.watch",
          "supportsSubscription": true
        }
      }
    },
    "acl": {
      "methods": {
        "delete": {
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "ruleId": {
              "description": "ACL rule identifier.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "id": "calendar.acl.delete",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes an access control rule."
        },
        "insert": {
          "request": {
            "$ref": "AclRule"
          },
          "httpMethod": "POST",
          "id": "calendar.acl.insert",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "path": "calendars/{calendarId}/acl",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "description": "Creates an access control rule.",
          "parameterOrder": [
            "calendarId"
          ]
        },
        "list": {
          "id": "calendar.acl.list",
          "httpMethod": "GET",
          "supportsSubscription": true,
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Acl"
          },
          "path": "calendars/{calendarId}/acl",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Returns the rules in the access control list for the calendar."
        },
        "patch": {
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "description": "Updates an access control rule. This method supports patch semantics.",
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "location": "query",
              "type": "boolean"
            },
            "ruleId": {
              "type": "string",
              "description": "ACL rule identifier.",
              "required": true,
              "location": "path"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "httpMethod": "PATCH",
          "id": "calendar.acl.patch",
          "request": {
            "$ref": "AclRule"
          }
        },
        "update": {
          "id": "calendar.acl.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "AclRule"
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "description": "Updates an access control rule.",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "ruleId": {
              "description": "ACL rule identifier.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ]
        },
        "watch": {
          "path": "calendars/{calendarId}/acl/watch",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Watch for changes to ACL resources.",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "id": "calendar.acl.watch",
          "supportsSubscription": true
        },
        "get": {
          "description": "Returns an access control rule.",
          "httpMethod": "GET",
          "id": "calendar.acl.get",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "ruleId": {
              "type": "string",
              "description": "ACL rule identifier.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "AclRule"
          }
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "description": "Stop watching resources through this channel",
          "id": "calendar.channels.stop",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "path": "channels/stop"
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "description": "Returns the color definitions for calendars and events.",
          "httpMethod": "GET",
          "id": "calendar.colors.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "colors",
          "response": {
            "$ref": "Colors"
          }
        }
      }
    },
    "calendarList": {
      "methods": {
        "delete": {
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          },
          "path": "users/me/calendarList/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "id": "calendar.calendarList.delete",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "DELETE",
          "description": "Removes a calendar from the user's calendar list."
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "parameters": {
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "CalendarListEntry"
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "path": "users/me/calendarList",
          "description": "Inserts an existing calendar into the user's calendar list.",
          "id": "calendar.calendarList.insert",
          "httpMethod": "POST"
        },
        "list": {
          "description": "Returns the calendars on the user's calendar list.",
          "supportsSubscription": true,
          "id": "calendar.calendarList.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query"
            },
            "showHidden": {
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "showOwnOrganizationOnly": {
              "type": "boolean",
              "description": "Whether to show only entries for calendars from the organization. This parameter is only applicable to Google Workspace users. Optional. The default is False.",
              "location": "query"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole and showOwnOrganizationOnly query parameters cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            },
            "minAccessRole": {
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ],
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "CalendarList"
          },
          "path": "users/me/calendarList"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "parameters": {
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
[...]
