{
  "revision": "20260629",
  "description": "Manipulates events and other calendar data.",
  "basePath": "/calendar/v3/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/calendar.events": {
          "description": "View and edit events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.events.owned.readonly": {
          "description": "See the events on Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.settings.readonly": {
          "description": "View your Calendar settings"
        },
        "https://www.googleapis.com/auth/calendar.acls": {
          "description": "See and change the sharing permissions of Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.freebusy": {
          "description": "View your availability in your calendars"
        },
        "https://www.googleapis.com/auth/calendar.events.public.readonly": {
          "description": "See the events on public calendars"
        },
        "https://www.googleapis.com/auth/calendar.readonly": {
          "description": "See and download any calendar you can access using your Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.calendarlist": {
          "description": "See, add, and remove Google calendars you’re subscribed to"
        },
        "https://www.googleapis.com/auth/calendar.calendars": {
          "description": "See and change the properties of Google calendars you have access to, and create secondary calendars"
        },
        "https://www.googleapis.com/auth/calendar.calendars.readonly": {
          "description": "See the title, description, default time zone, and other properties of Google calendars you have access to"
        },
        "https://www.googleapis.com/auth/calendar.events.readonly": {
          "description": "View events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.events.owned": {
          "description": "See, create, change, and delete events on Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.acls.readonly": {
          "description": "See the sharing permissions of Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.events.freebusy": {
          "description": "See the availability on Google calendars you have access to"
        },
        "https://www.googleapis.com/auth/calendar.app.created": {
          "description": "Make secondary Google calendars, and see, create, change, and delete events on them"
        },
        "https://www.googleapis.com/auth/calendar": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.calendarlist.readonly": {
          "description": "See the list of Google calendars you’re subscribed to"
        }
      }
    }
  },
  "title": "Calendar API",
  "documentationLink": "https://developers.google.com/workspace/calendar/firstapp",
  "ownerDomain": "google.com",
  "id": "calendar:v3",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-16dp/logo_calendar_2020q4_color_1x_web_16dp.png",
    "x32": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-32dp/logo_calendar_2020q4_color_1x_web_32dp.png"
  },
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "kind": "discovery#restDescription",
  "resources": {
    "calendars": {
      "methods": {
        "clear": {
          "path": "calendars/{calendarId}/clear",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "httpMethod": "POST",
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.calendars.clear",
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            }
          }
        },
        "delete": {
          "id": "calendar.calendars.delete",
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            }
          },
          "path": "calendars/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
          "parameterOrder": [
            "calendarId"
          ]
        },
        "patch": {
          "id": "calendar.calendars.patch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "request": {
            "$ref": "Calendar"
          },
          "response": {
            "$ref": "Calendar"
          },
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "path": "calendars/{calendarId}",
          "httpMethod": "PATCH",
          "description": "Updates metadata for a calendar. This method supports patch semantics.",
          "parameterOrder": [
            "calendarId"
          ]
        },
        "get": {
          "path": "calendars/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars",
            "https://www.googleapis.com/auth/calendar.calendars.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "description": "Returns metadata for a calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.get",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Updates metadata for a calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}",
          "parameters": {
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Calendar"
          },
          "request": {
            "$ref": "Calendar"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "id": "calendar.calendars.update"
        },
        "insert": {
          "httpMethod": "POST",
          "description": "Creates a secondary calendar.\nThe authenticated user for the request is made the data owner of the new calendar.\n\nNote: We recommend to authenticate as the intended data owner of the calendar. You can use domain-wide delegation of authority to allow applications to act on behalf of a specific user. Don't use a service account for authentication. If you use a service account for authentication, the service account is the data owner, which can lead to unexpected behavior. For example, if a service account is the data owner, data ownership cannot be transferred.",
          "request": {
            "$ref": "Calendar"
          },
          "path": "calendars",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendars"
          ],
          "id": "calendar.calendars.insert",
          "response": {
            "$ref": "Calendar"
          }
        },
        "transferOwnership": {
          "id": "calendar.calendars.transferOwnership",
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs, call the calendarList.list method.",
              "required": true
            },
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "When true, the method runs using the user's Google Workspace administrator privileges. The calling user must be a Google Workspace administrator with the Manage Calendars privilege. This method currently only supports admin access, thus only true is accepted for this field.",
              "required": true
            },
            "newDataOwner": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The email address of a user who will become the data owner of the calendar."
            }
          },
          "httpMethod": "POST",
          "description": "Transfers a secondary calendar between users within a Google Workspace organization. Requires user authentication with Manage Calendars administrator privilege, and one of the following authorization scopes: \n- https://www.googleapis.com/auth/calendar \n- https://www.googleapis.com/auth/calendar.calendars In the request, set useAdminAccess to true. The secondary calendar must be active to be transferred. Transferring disabled or deleted calendars isn't supported.",
          "parameterOrder": [
            "calendarId",
            "newDataOwner",
            "useAdminAccess"
          ],
          "path": "calendars/{calendarId}/transferOwnership",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendars"
          ]
        }
      }
    },
    "settings": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Setting"
          },
          "id": "calendar.settings.get",
          "parameters": {
            "setting": {
              "type": "string",
              "location": "path",
              "description": "The id of the user setting.",
              "required": true
            }
          },
          "path": "users/me/settings/{setting}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "GET",
          "description": "Returns a single user setting.",
          "parameterOrder": [
            "setting"
          ]
        },
        "list": {
          "path": "users/me/settings",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "supportsSubscription": true,
          "httpMethod": "GET",
          "description": "Returns all user settings for the authenticated user.",
          "response": {
            "$ref": "Settings"
          },
          "id": "calendar.settings.list",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "watch": {
          "path": "users/me/settings/watch",
          "httpMethod": "POST",
          "description": "Watch for changes to Settings resources.",
          "response": {
            "$ref": "Channel"
          },
          "parameters": {
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "type": "integer",
              "minimum": "1"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "supportsSubscription": true,
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "id": "calendar.settings.watch"
        }
      }
    },
    "calendarList": {
      "methods": {
        "insert": {
          "id": "calendar.calendarList.insert",
          "parameters": {
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "httpMethod": "POST",
          "description": "Inserts an existing calendar into the user's calendar list.",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "path": "users/me/calendarList",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "request": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.update",
          "path": "users/me/calendarList/{calendarId}",
          "httpMethod": "PUT",
          "description": "Updates an existing calendar on the user's calendar list.",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          },
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            },
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            }
          }
        },
        "delete": {
          "id": "calendar.calendarList.delete",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "description": "Removes a calendar from the user's calendar list.",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ]
        },
        "get": {
          "response": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.get",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "users/me/calendarList/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "description": "Returns a calendar from the user's calendar list.",
          "parameterOrder": [
            "calendarId"
          ]
        },
        "list": {
          "path": "users/me/calendarList",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "httpMethod": "GET",
          "description": "Returns the calendars on the user's calendar list.",
          "response": {
            "$ref": "CalendarList"
          },
          "id": "calendar.calendarList.list",
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "showHidden": {
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "minAccessRole": {
              "type": "string",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ],
              "location": "query",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ],
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction."
            }
          }
        },
        "patch": {
          "request": {
            "$ref": "CalendarListEntry"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "id": "calendar.calendarList.patch",
          "httpMethod": "PATCH",
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics.",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "parameters": {
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          }
        },
        "watch": {
          "response": {
            "$ref": "Channel"
          },
          "parameters": {
            "showHidden": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to show hidden entries. Optional. The default is False."
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "minAccessRole": {
              "location": "query",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ],
              "type": "string",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ]
            }
          },
          "path": "users/me/calendarList/watch",
          "httpMethod": "POST",
          "description": "Watch for changes to CalendarList resources.",
          "id": "calendar.calendarList.watch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          }
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "path": "channels/stop",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "POST",
          "description": "Stop watching resources through this channel",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "id": "calendar.channels.stop"
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "httpMethod": "POST",
          "description": "Returns free/busy information for a set of calendars.",
          "path": "freeBusy",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.freebusy",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.freebusy.query",
          "response": {
            "$ref": "FreeBusyResponse"
          }
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Colors"
          },
          "id": "calendar.colors.get",
          "path": "colors",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "description": "Returns the color definitions for calendars and events."
        }
      }
    },
    "events": {
      "methods": {
        "delete": {
          "id": "calendar.events.delete",
          "parameters": {
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the deletion of the event.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            },
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path"
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "eventId": {
              "description": "Event identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes an event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "path": "calendars/{calendarId}/events/{eventId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ]
        },
        "patch": {
          "id": "calendar.events.patch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "request": {
            "$ref": "Event"
          },
          "response": {
            "$ref": "Event"
          },
          "parameters": {
            "conferenceDataVersion": {
              "minimum": "0",
              "type": "integer",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "maximum": "1",
              "format": "int32",
              "location": "query"
            },
            "eventId": {
              "required": true,
              "description": "Event identifier.",
              "type": "string",
              "location": "path"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            },
            "supportsAttachments": {
              "type": "boolean",
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "maxAttendees": {
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32"
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false."
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "PATCH",
          "description": "Updates an event. This method supports patch semantics.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ]
        },
        "watch": {
          "id": "calendar.events.watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "parameters": {
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored.",
              "type": "boolean",
              "location": "query"
            },
            "showHiddenInvitations": {
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "singleEvents": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False."
            },
            "timeMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "format": "date-time"
            },
            "privateExtendedProperty": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "timeMax": {
              "type": "string",
              "location": "query",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "format": "date-time"
            },
            "iCalUID": {
              "type": "string",
              "location": "query",
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID."
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "maxAttendees": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "minimum": "1"
            },
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path"
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "type": "string",
              "location": "query",
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional."
            },
            "maxResults": {
              "type": "integer",
              "default": "250",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "format": "int32"
            },
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "eventTypes": {
              "repeated": true,
              "location": "query",
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types.",
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ],
              "type": "string",
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ]
            },
            "orderBy": {
              "enum": [
                "startTime",
                "updated"
              ],
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ]
            },
            "updatedMin": {
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "format": "date-time",
              "type": "string",
              "location": "query"
            },
            "sharedExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string",
              "repeated": true,
              "location": "query"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "description": "Watch for changes to Events resources.",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/events/watch"
        },
        "insert": {
          "request": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "id": "calendar.events.insert",
          "httpMethod": "POST",
          "description": "Creates an event.",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/events",
          "parameters": {
            "conferenceDataVersion": {
              "type": "integer",
              "minimum": "0",
              "location": "query",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "maximum": "1",
              "format": "int32"
            },
            "sendUpdates": {
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. Warning: Using the value none can have significant adverse effects, including events not syncing to external calendars or events being lost altogether for some users. For calendar migration tasks, consider using the events.import method instead."
              ]
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "maxAttendees": {
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query"
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Event"
          }
        },
        "quickAdd": {
          "id": "calendar.events.quickAdd",
          "parameters": {
            "text": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The text describing the event to be created."
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "sendUpdates": {
              "location": "query",
              "description": "Guests who should receive notifications about the creation of the new event.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            }
          },
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "description": "Creates an event based on a simple text string.",
          "parameterOrder": [
            "calendarId",
            "text"
          ],
          "path": "calendars/{calendarId}/events/quickAdd",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ]
        },
        "move": {
          "response": {
            "$ref": "Event"
          },
          "id": "calendar.events.move",
          "parameters": {
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "eventId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Event identifier."
            },
            "sendUpdates": {
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the change of the event's organizer.",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier of the source calendar where the event currently is on."
            },
            "destination": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Calendar identifier of the target calendar where the event is to be moved to."
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "httpMethod": "POST",
          "description": "Moves an event to another calendar, i.e. changes an event's organizer. Note that only default events can be moved; birthday, focusTime, fromGmail, outOfOffice and workingLocation events cannot be moved.",
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ]
        },
        "instances": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "id": "calendar.events.instances",
          "path": "calendars/{calendarId}/events/{eventId}/instances",
          "httpMethod": "GET",
          "description": "Returns instances of the specified recurring event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "response": {
            "$ref": "Events"
          },
          "parameters": {
            "eventId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Recurring event identifier."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "timeMax": {
              "type": "string",
              "location": "query",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "format": "date-time"
            },
            "timeMin": {
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "format": "date-time",
              "type": "string",
              "location": "query"
            },
            "timeZone": {
              "type": "string",
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "format": "int32",
              "type": "integer",
              "minimum": "1"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False."
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxAttendees": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "minimum": "1"
            },
            "originalStart": {
              "type": "string",
              "location": "query",
              "description": "The original start time of the instance in the result. Optional."
            }
          }
        },
        "get": {
          "response": {
            "$ref": "Event"
          },
          "id": "calendar.events.get",
          "parameters": {
            "maxAttendees": {
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query",
              "minimum": "1",
              "type": "integer"
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string",
              "location": "query"
            },
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "eventId": {
              "description": "Event identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ]
        },
        "list": {
          "id": "calendar.events.list",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "parameters": {
            "sharedExtendedProperty": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "eventTypes": {
              "type": "string",
              "enumDescriptions": [
                "Special all-day events with an annual recurrence.",
                "Regular events.",
                "Focus time events.",
                "Events from Gmail.",
                "Out of office events.",
                "Working location events."
              ],
              "repeated": true,
              "location": "query",
              "enum": [
                "birthday",
                "default",
                "focusTime",
                "fromGmail",
                "outOfOffice",
                "workingLocation"
              ],
              "description": "Event types to return. Optional. This parameter can be repeated multiple times to return events of different types. If unset, returns all event types."
            },
            "orderBy": {
              "type": "string",
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "location": "query",
              "enum": [
                "startTime",
                "updated"
              ],
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order."
            },
            "updatedMin": {
              "format": "date-time",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "description": "Free text search terms to find events that match these terms in the following fields:\n\n- summary \n- description \n- location \n- attendee's displayName \n- attendee's email \n- organizer's displayName \n- organizer's email \n- workingLocationProperties.officeLocation.buildingId \n- workingLocationProperties.officeLocation.deskId \n- workingLocationProperties.officeLocation.label \n- workingLocationProperties.customLocation.label \nThese search terms also match predefined keywords against all display title translations of working location, out-of-office, and focus-time events. For example, searching for \"Office\" or \"Bureau\" returns working location events of type officeLocation, whereas searching for \"Out of office\" or \"Abwesend\" returns out-of-office events. Optional.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "default": "250",
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False."
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string",
              "location": "query"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxAttendees": {
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32"
            },
            "iCalUID": {
              "description": "Specifies an event ID in the iCalendar format to be provided in the response. Optional. Use this if you want to search for an event by its iCalendar ID.",
              "type": "string",
              "location": "query"
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin All other query parameters should be the same as for the initial synchronization to avoid undefined behavior. If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "timeMax": {
              "format": "date-time",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "type": "string",
              "location": "query"
            },
            "privateExtendedProperty": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "singleEvents": {
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "timeMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "format": "date-time"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored."
            },
            "showHiddenInvitations": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False."
            }
          },
          "response": {
            "$ref": "Events"
          },
          "httpMethod": "GET",
          "description": "Returns events on the specified calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/events"
        },
        "update": {
          "parameters": {
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "maxAttendees": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "minimum": "1"
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "conferenceDataVersion": {
              "location": "query",
              "format": "int32",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "maximum": "1",
              "type": "integer",
              "minimum": "0"
            },
            "eventId": {
              "type": "string",
              "location": "path",
              "description": "Event identifier.",
              "required": true
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "sendUpdates": {
              "location": "query",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            }
          },
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "PUT",
          "description": "Updates an event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "path": "calendars/{calendarId}/events/{eventId}",
          "id": "calendar.events.update",
          "request": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ]
        },
        "import": {
          "id": "calendar.events.import",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "request": {
            "$ref": "Event"
          },
          "response": {
            "$ref": "Event"
          },
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "maximum": "1",
              "format": "int32",
              "location": "query",
              "minimum": "0",
              "type": "integer"
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "calendars/{calendarId}/events/import",
          "httpMethod": "POST",
          "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar. Only events with an eventType of default may be imported.\nDeprecated behavior: If a non-default event is imported, its type will be changed to default and any event-type-specific properties it may have will be dropped.",
          "parameterOrder": [
            "calendarId"
          ]
        }
      }
    },
    "acl": {
      "methods": {
        "update": {
          "parameters": {
            "ruleId": {
              "type": "string",
              "location": "path",
              "description": "ACL rule identifier.",
              "required": true
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True."
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "httpMethod": "PUT",
          "description": "Updates an access control rule.",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "id": "calendar.acl.update",
          "request": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ]
        },
        "insert": {
          "id": "calendar.acl.insert",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "request": {
            "$ref": "AclRule"
          },
          "response": {
            "$ref": "AclRule"
          },
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "sendNotifications": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True."
            }
          },
          "path": "calendars/{calendarId}/acl",
          "httpMethod": "POST",
          "description": "Creates an access control rule.",
          "parameterOrder": [
            "calendarId"
          ]
        },
        "patch": {
          "parameters": {
            "ruleId": {
              "description": "ACL rule identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path"
            },
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "type": "boolean",
              "location": "query"
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "httpMethod": "PATCH",
          "description": "Updates an access control rule. This method supports patch semantics.",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "id": "calendar.acl.patch",
          "request": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ]
        },
        "watch": {
          "response": {
            "$ref": "Channel"
          },
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "calendars/{calendarId}/acl/watch",
          "httpMethod": "POST",
          "description": "Watch for changes to ACL resources.",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.acl.watch",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "supportsSubscription": true,
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          }
        },
        "get": {
          "id": "calendar.acl.get",
          "parameters": {
            "calendarId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "ruleId": {
              "required": true,
              "description": "ACL rule identifier.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "httpMethod": "GET",
          "description": "Returns an access control rule.",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "supportsSubscription": true,
          "id": "calendar.acl.list",
          "path": "calendars/{calendarId}/acl",
          "httpMethod": "GET",
          "description": "Returns the rules in the access control list for the calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Acl"
          },
          "parameters": {
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer"
            },
            "showDeleted": {
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            }
          }
        },
        "delete": {
          "id": "calendar.acl.delete",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "ruleId": {
              "required": true,
              "description": "ACL rule identifier.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes an access control rule.",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ]
        }
      }
    }
  },
  "ownerName": "Google",
  "schemas": {
    "AclRule": {
      "id": "AclRule",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "scope": {
          "properties": {
            "type": {
              "type": "string",
              "annotations": {
                "required": [
                  "calendar.acl.insert",
                  "calendar.acl.update"
                ]
              },
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not."
            },
            "value": {
              "type": "string",
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\"."
            }
          },
          "annotations": {
            "required": [
              "calendar.acl.insert",
              "calendar.acl.update"
            ]
          },
          "description": "The extent to which calendar access is granted by this ACL rule.",
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the Access Control List (ACL) rule. See Sharing calendars."
        },
        "kind": {
          "type": "string",
          "default": "calendar#aclRule",
          "description": "Type of the resource (\"calendar#aclRule\")."
        },
        "role": {
          "annotations": {
            "required": [
              "calendar.acl.insert"
            ]
          },
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. Provides read access to the calendar's ACLs. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Channel": {
      "id": "Channel",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" (or \"webhook\"). Both values refer to a channel where Http requests are used to deliver messages."
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "additionalProperties": {
            "type": "string",
            "description": "Declares a new parameter by name."
          },
          "type": "object"
        },
        "expiration": {
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\".",
          "default": "api#channel",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        }
      },
      "type": "object"
    },
    "EventFocusTimeProperties": {
      "type": "object",
      "id": "EventFocusTimeProperties",
      "properties": {
        "autoDeclineMode": {
          "type": "string",
          "description": "Whether to decline meeting invitations which overlap Focus Time events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Focus Time event is present are to be declined."
        },
        "declineMessage": {
          "type": "string",
          "description": "Response message to set if an existing event or new invitation is automatically declined by Calendar."
        },
        "chatStatus": {
          "type": "string",
          "description": "The status to mark the user in Chat and related products. This can be available or doNotDisturb."
        }
      }
    },
    "Setting": {
      "id": "Setting",
      "properties": {
        "kind": {
          "type": "string",
          "default": "calendar#setting",
          "description": "Type of the resource (\"calendar#setting\")."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "value": {
          "type": "string",
          "description": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters."
        },
        "id": {
          "type": "string",
          "description": "The id of the user setting."
        }
      },
      "type": "object"
    },
    "Events": {
      "id": "Events",
      "properties": {
        "timeZone": {
[...]
