{
  "description": "Manipulates events and other calendar data.",
  "basePath": "/calendar/v3/",
  "discoveryVersion": "v1",
  "title": "Calendar API",
  "version": "v3",
  "rootUrl": "https://www.googleapis.com/",
  "name": "calendar",
  "servicePath": "calendar/v3/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/calendar": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.calendars.readonly": {
          "description": "See the title, description, default time zone, and other properties of Google calendars you have access to"
        },
        "https://www.googleapis.com/auth/calendar.acls.readonly": {
          "description": "See the sharing permissions of Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.freebusy": {
          "description": "View your availability in your calendars"
        },
        "https://www.googleapis.com/auth/calendar.acls": {
          "description": "See and change the sharing permissions of Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.events": {
          "description": "View and edit events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.calendarlist": {
          "description": "See, add, and remove Google calendars you’re subscribed to"
        },
        "https://www.googleapis.com/auth/calendar.events.public.readonly": {
          "description": "See the events on public calendars"
        },
        "https://www.googleapis.com/auth/calendar.calendarlist.readonly": {
          "description": "See the list of Google calendars you’re subscribed to"
        },
        "https://www.googleapis.com/auth/calendar.events.freebusy": {
          "description": "See the availability on Google calendars you have access to"
        },
        "https://www.googleapis.com/auth/calendar.readonly": {
          "description": "See and download any calendar you can access using your Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.events.owned.readonly": {
          "description": "See the events on Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.calendars": {
          "description": "See and change the properties of Google calendars you have access to, and create secondary calendars"
        },
        "https://www.googleapis.com/auth/calendar.settings.readonly": {
          "description": "View your Calendar settings"
        },
        "https://www.googleapis.com/auth/calendar.events.readonly": {
          "description": "View events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.events.owned": {
          "description": "See, create, change, and delete events on Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.app.created": {
          "description": "Make secondary Google calendars, and see, create, change, and delete events on them"
        }
      }
    }
  },
  "revision": "20260617",
  "ownerDomain": "google.com",
  "schemas": {
    "Colors": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "calendar#colors",
          "description": "Type of the resource (\"calendar#colors\")."
        },
        "event": {
          "description": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its colorId field. Read-only.",
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "An event color definition."
          },
          "type": "object"
        },
        "calendar": {
          "description": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its colorId field. Read-only.",
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "A calendar color definition."
          },
          "type": "object"
        },
        "updated": {
          "format": "date-time",
          "description": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only.",
          "type": "string"
        }
      },
      "id": "Colors"
    },
    "Event": {
      "type": "object",
      "properties": {
        "creator": {
          "description": "The creator of the event. Read-only.",
          "type": "object",
          "properties": {
            "self": {
              "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
              "type": "boolean",
              "default": "false"
            },
            "email": {
              "type": "string",
              "description": "The creator's email address, if available."
            },
            "id": {
              "description": "The creator's Profile ID, if available.",
              "type": "string"
            },
            "displayName": {
              "description": "The creator's name, if available.",
              "type": "string"
            }
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "iCalUID": {
          "annotations": {
            "required": [
              "calendar.events.import"
            ]
          },
          "type": "string",
          "description": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the iCalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same iCalUIDs. To retrieve an event using its iCalUID, call the events.list method using the iCalUID parameter. To retrieve an event using its id, call the events.get method."
        },
        "id": {
          "type": "string",
          "description": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs."
        },
        "guestsCanModify": {
          "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#event\").",
          "type": "string",
          "default": "calendar#event"
        },
        "organizer": {
          "description": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event.",
          "type": "object",
          "properties": {
            "self": {
              "description": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
              "type": "boolean",
              "default": "false"
            },
            "email": {
              "type": "string",
              "description": "The organizer's email address, if available. It must be a valid email address as per RFC5322."
            },
            "id": {
              "description": "The organizer's Profile ID, if available.",
              "type": "string"
            },
            "displayName": {
              "description": "The organizer's name, if available.",
              "type": "string"
            }
          }
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the event as free-form text. Optional."
        },
        "attendeesOmitted": {
          "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "htmlLink": {
          "type": "string",
          "description": "An absolute link to this event in the Google Calendar Web UI. Read-only."
        },
        "colorId": {
          "type": "string",
          "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
        },
        "gadget": {
          "description": "A gadget that extends this event. Gadgets are deprecated; this structure is instead only used for returning birthday calendar metadata.",
          "type": "object",
          "properties": {
            "height": {
              "format": "int32",
              "description": "The gadget's height in pixels. The height must be an integer greater than 0. Optional. Deprecated.",
              "type": "integer"
            },
            "type": {
              "description": "The gadget's type. Deprecated.",
              "type": "string"
            },
            "width": {
              "format": "int32",
              "description": "The gadget's width in pixels. The width must be an integer greater than 0. Optional. Deprecated.",
              "type": "integer"
            },
            "preferences": {
              "type": "object",
              "description": "Preferences.",
              "additionalProperties": {
                "description": "The preference name and corresponding value.",
                "type": "string"
              }
            },
            "link": {
              "type": "string",
              "description": "The gadget's URL. The URL scheme must be HTTPS. Deprecated."
            },
            "display": {
              "type": "string",
              "description": "The gadget's display mode. Deprecated. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked."
            },
            "title": {
              "description": "The gadget's title. Deprecated.",
              "type": "string"
            },
            "iconLink": {
              "type": "string",
              "description": "The gadget's icon URL. The URL scheme must be HTTPS. Deprecated."
            }
          }
        },
        "reminders": {
          "description": "Information about the event's reminders for the authenticated user. Note that changing reminders does not also change the updated property of the enclosing event.",
          "type": "object",
          "properties": {
            "useDefault": {
              "type": "boolean",
              "description": "Whether the default reminders of the calendar apply to the event."
            },
            "overrides": {
              "type": "array",
              "items": {
                "$ref": "EventReminder"
              },
              "description": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5."
            }
          }
        },
        "summary": {
          "type": "string",
          "description": "Title of the event."
        },
        "start": {
          "description": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance.",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "$ref": "EventDateTime"
        },
        "guestsCanInviteOthers": {
          "type": "boolean",
          "default": "true",
          "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True."
        },
        "transparency": {
          "description": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI.",
          "type": "string",
          "default": "opaque"
        },
        "workingLocationProperties": {
          "$ref": "EventWorkingLocationProperties",
          "description": "Working location event data."
        },
        "conferenceData": {
          "$ref": "ConferenceData",
          "description": "The conference-related information, such as details of a Google Meet conference. To create new conference details use the createRequest field. To persist your changes, remember to set the conferenceDataVersion request parameter to 1 for all event modification requests. Warning: Reusing Google Meet conference data across different events can cause access issues and expose meeting details to unintended users. To help ensure meeting privacy, always generate a unique conference for each event by using the createRequest field."
        },
        "extendedProperties": {
          "description": "Extended properties of the event.",
          "type": "object",
          "properties": {
            "private": {
              "type": "object",
              "description": "Properties that are private to the copy of the event that appears on this calendar.",
              "additionalProperties": {
                "description": "The name of the private property and the corresponding value.",
                "type": "string"
              }
            },
            "shared": {
              "description": "Properties that are shared between copies of the event on other attendees' calendars.",
              "additionalProperties": {
                "description": "The name of the shared property and the corresponding value.",
                "type": "string"
              },
              "type": "object"
            }
          }
        },
        "source": {
          "type": "object",
          "properties": {
            "title": {
              "type": "string",
              "description": "Title of the source; for example a title of a web page or an email subject."
            },
            "url": {
              "description": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS.",
              "type": "string"
            }
          },
          "description": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event."
        },
        "attendees": {
          "type": "array",
          "items": {
            "$ref": "EventAttendee"
          },
          "description": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users. Service accounts need to use domain-wide delegation of authority to populate the attendee list."
        },
        "endTimeUnspecified": {
          "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "outOfOfficeProperties": {
          "$ref": "EventOutOfOfficeProperties",
          "description": "Out of office event data. Used if eventType is outOfOffice."
        },
        "description": {
          "description": "Description of the event. Can contain HTML. Optional.",
          "type": "string"
        },
        "focusTimeProperties": {
          "$ref": "EventFocusTimeProperties",
          "description": "Focus Time event data. Used if eventType is focusTime."
        },
        "end": {
          "$ref": "EventDateTime",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance."
        },
        "eventType": {
          "description": "Specific type of the event. This cannot be modified after the event is created. Possible values are:  \n- \"birthday\" - A special all-day event with an annual recurrence. \n- \"default\" - A regular event or not further specified. \n- \"focusTime\" - A focus-time event. \n- \"fromGmail\" - An event from Gmail. This type of event cannot be created. \n- \"outOfOffice\" - An out-of-office event. \n- \"workingLocation\" - A working location event.",
          "type": "string",
          "default": "default"
        },
        "hangoutLink": {
          "description": "An absolute link to the Google Hangout associated with this event. Read-only.",
          "type": "string"
        },
        "attachments": {
          "description": "File attachments for the event.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,",
          "type": "array",
          "items": {
            "$ref": "EventAttachment"
          }
        },
        "originalStartTime": {
          "$ref": "EventDateTime",
          "description": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. It uniquely identifies the instance within the recurring event series even if the instance was moved to a different time. Immutable."
        },
        "locked": {
          "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only.",
          "type": "boolean",
          "default": "false"
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Creation time of the event (as a RFC3339 timestamp). Read-only."
        },
        "updated": {
          "format": "date-time",
          "description": "Last modification time of the main event data (as a RFC3339 timestamp). Updating event reminders will not cause this to change. Read-only.",
          "type": "string"
        },
        "recurringEventId": {
          "description": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable.",
          "type": "string"
        },
        "recurrence": {
          "description": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "guestsCanSeeOtherGuests": {
          "type": "boolean",
          "default": "true",
          "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True."
        },
        "privateCopy": {
          "type": "boolean",
          "default": "false",
          "description": "If set to True, Event propagation is disabled. Note that it is not the same thing as Private event properties. Optional. Immutable. The default is False."
        },
        "visibility": {
          "description": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons.",
          "type": "string",
          "default": "default"
        },
        "anyoneCanAddSelf": {
          "description": "Whether anyone can invite themselves to the event (deprecated). Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "birthdayProperties": {
          "$ref": "EventBirthdayProperties",
          "description": "Birthday or special event data. Used if eventType is \"birthday\". Immutable."
        },
        "sequence": {
          "type": "integer",
          "description": "Sequence number as per iCalendar.",
          "format": "int32"
        },
        "status": {
          "type": "string",
          "description": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled (deleted). The list method returns cancelled events only on incremental sync (when syncToken or updatedMin are specified) or if the showDeleted flag is set to true. The get method always returns them.\nA cancelled status represents two different states depending on the event type:  \n- Cancelled exceptions of an uncancelled recurring event indicate that this instance should no longer be presented to the user. Clients should store these events for the lifetime of the parent recurring event.\nCancelled exceptions are only guaranteed to have values for the id, recurringEventId and originalStartTime fields populated. The other fields might be empty.  \n- All other cancelled events represent deleted events. Clients should remove their locally synced copies. Such cancelled events will eventually disappear, so do not rely on them being available indefinitely.\nDeleted events are only guaranteed to have the id field populated.   On the organizer's calendar, cancelled events continue to expose event details (summary, location, etc.) so that they can be restored (undeleted). Similarly, the events to which the user was invited and that they manually removed continue to provide details. However, incremental sync requests with showDeleted set to false will not return these details.\nIf an event changes its organizer (for example via the move operation) and the original organizer is not on the attendee list, it will leave behind a cancelled event where only the id field is guaranteed to be populated."
        }
      },
      "id": "Event"
    },
    "EventWorkingLocationProperties": {
      "id": "EventWorkingLocationProperties",
      "type": "object",
      "properties": {
        "customLocation": {
          "type": "object",
          "properties": {
            "label": {
              "type": "string",
              "description": "An optional extra label for additional information."
            }
          },
          "description": "If present, specifies that the user is working from a custom location."
        },
        "homeOffice": {
          "description": "If present, specifies that the user is working at home.",
          "type": "any"
        },
        "officeLocation": {
          "type": "object",
          "properties": {
            "buildingId": {
              "type": "string",
              "description": "An optional building identifier. This should reference a building ID in the organization's Resources database."
            },
            "floorId": {
              "description": "An optional floor identifier.",
              "type": "string"
            },
            "floorSectionId": {
              "type": "string",
              "description": "An optional floor section identifier."
            },
            "label": {
              "description": "The office name that's displayed in Calendar Web and Mobile clients. We recommend you reference a building name in the organization's Resources database.",
              "type": "string"
            },
            "deskId": {
              "description": "An optional desk identifier.",
              "type": "string"
            }
          },
          "description": "If present, specifies that the user is working from an office."
        },
        "type": {
          "description": "Type of the working location. Possible values are:  \n- \"homeOffice\" - The user is working at home. \n- \"officeLocation\" - The user is working from an office. \n- \"customLocation\" - The user is working from a custom location.  Any details are specified in a sub-field of the specified name, but this field may be missing if empty. Any other fields are ignored.\nRequired when adding working location properties.",
          "type": "string"
        }
      }
    },
    "Events": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "calendar#events",
          "description": "Type of the collection (\"calendar#events\")."
        },
        "defaultReminders": {
          "description": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True).",
          "type": "array",
          "items": {
            "$ref": "EventReminder"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "items": {
          "description": "List of events on the calendar.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        },
        "accessRole": {
          "description": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "updated": {
          "description": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only.",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Read-only."
        },
        "summary": {
          "type": "string",
          "description": "Title of the calendar. Read-only."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Read-only."
        }
      },
      "id": "Events"
    },
    "Acl": {
      "type": "object",
      "properties": {
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "kind": {
          "description": "Type of the collection (\"calendar#acl\").",
          "type": "string",
          "default": "calendar#acl"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "AclRule"
          },
          "description": "List of rules on the access control list."
        }
      },
      "id": "Acl"
    },
    "CalendarList": {
      "id": "CalendarList",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "CalendarListEntry"
          },
          "description": "Calendars that are present on the user's calendar list."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "kind": {
          "description": "Type of the collection (\"calendar#calendarList\").",
          "type": "string",
          "default": "calendar#calendarList"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        }
      }
    },
    "ConferenceProperties": {
      "type": "object",
      "properties": {
        "allowedConferenceSolutionTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional."
        }
      },
      "id": "ConferenceProperties"
    },
    "Channel": {
      "id": "Channel",
      "type": "object",
      "properties": {
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" (or \"webhook\"). Both values refer to a channel where Http requests are used to deliver messages."
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "additionalProperties": {
            "description": "Declares a new parameter by name.",
            "type": "string"
          },
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "expiration": {
          "format": "int64",
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\".",
          "type": "string",
          "default": "api#channel"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        }
      }
    },
    "ConferenceParameters": {
      "type": "object",
      "properties": {
        "addOnParameters": {
          "$ref": "ConferenceParametersAddOnParameters",
          "description": "Additional add-on specific data."
        }
      },
      "id": "ConferenceParameters"
    },
    "Calendar": {
      "id": "Calendar",
      "type": "object",
      "properties": {
        "location": {
          "description": "Geographic location of the calendar as free-form text. Optional.",
          "type": "string"
        },
        "id": {
          "description": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method.",
          "type": "string"
        },
        "autoAcceptInvitations": {
          "description": "Whether this calendar automatically accepts invitations. Only valid for resource calendars.",
          "type": "boolean"
        },
        "dataOwner": {
          "description": "The email of the owner of the calendar. Set only for secondary calendars. Read-only.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#calendar\").",
          "type": "string",
          "default": "calendar#calendar"
        },
        "summary": {
          "annotations": {
            "required": [
              "calendar.calendars.insert"
            ]
          },
          "type": "string",
          "description": "Title of the calendar."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
        },
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        },
        "description": {
          "description": "Description of the calendar. Optional.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "EventLabel": {
      "type": "object",
      "id": "EventLabel"
    },
    "TimePeriod": {
      "id": "TimePeriod",
      "type": "object",
      "properties": {
        "end": {
          "description": "The (exclusive) end of the time period.",
          "type": "string",
          "format": "date-time"
        },
        "start": {
          "format": "date-time",
          "description": "The (inclusive) start of the time period.",
          "type": "string"
        }
      }
    },
    "EventAttendee": {
      "type": "object",
      "properties": {
        "asyncOperation": {
          "description": "If present, indicates the status of an asynchronous operation ongoing for this attendee (e.g. listing of members of large attendee groups). Read-only. The default is to not be present.\nPossible values are:  \n- \"inProgress\" - The asynchronous operation is in progress. \n- (not present) - Otherwise.",
          "type": "string",
          "default": ""
        },
        "responseStatus": {
          "description": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation (recommended for new events). \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.  Warning: If you add an event using the values declined, tentative, or accepted, attendees with the \"Add invitations to my calendar\" setting set to \"When I respond to invitation in email\" or \"Only if the sender is known\" might have their response reset to needsAction and won't see an event in their calendar unless they change their response in the event invitation email. Furthermore, if more than 200 guests are invited to the event, response status is not propagated to the guests.",
          "type": "string"
        },
        "additionalGuests": {
          "description": "Number of additional guests. Optional. The default is 0.",
          "type": "integer",
          "default": "0",
          "format": "int32"
        },
        "self": {
          "description": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "resource": {
          "type": "boolean",
          "default": "false",
          "description": "Whether the attendee is a resource. Can only be set when the attendee is added to the event for the first time. Subsequent modifications are ignored. Optional. The default is False."
        },
        "organizer": {
          "description": "Whether the attendee is the organizer of the event. Read-only. The default is False.",
          "type": "boolean"
        },
        "optional": {
          "description": "Whether this is an optional attendee. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "id": {
          "description": "The attendee's Profile ID, if available.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The attendee's name, if available. Optional."
        },
        "comment": {
          "type": "string",
          "description": "The attendee's response comment. Optional."
        },
        "email": {
          "description": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.\nRequired when adding an attendee.",
          "type": "string"
        }
      },
      "id": "EventAttendee"
    },
    "ColorDefinition": {
      "id": "ColorDefinition",
      "type": "object",
      "properties": {
        "foreground": {
          "type": "string",
          "description": "The foreground color that can be used to write on top of a background with 'background' color."
        },
        "background": {
          "description": "The background color associated with this color definition.",
          "type": "string"
        }
      }
    },
    "ConferenceSolution": {
      "type": "object",
      "properties": {
        "iconUri": {
          "description": "The user-visible icon for this solution.",
          "type": "string"
        },
        "key": {
          "$ref": "ConferenceSolutionKey",
          "description": "The key which can uniquely identify the conference solution for this event."
        },
        "name": {
          "description": "The user-visible name of this solution. Not localized.",
          "type": "string"
        }
      },
      "id": "ConferenceSolution"
    },
    "FreeBusyResponse": {
      "type": "object",
      "properties": {
        "calendars": {
          "description": "List of free/busy information for calendars.",
          "additionalProperties": {
            "$ref": "FreeBusyCalendar",
            "description": "Free/busy expansions for a single calendar."
          },
          "type": "object"
        },
        "timeMin": {
          "type": "string",
          "description": "The start of the interval.",
          "format": "date-time"
        },
        "groups": {
          "description": "Expansion of groups.",
          "additionalProperties": {
            "$ref": "FreeBusyGroup",
            "description": "List of calendars that are members of this group."
          },
          "type": "object"
        },
        "timeMax": {
          "format": "date-time",
          "type": "string",
          "description": "The end of the interval."
        },
        "kind": {
          "type": "string",
          "default": "calendar#freeBusy",
          "description": "Type of the resource (\"calendar#freeBusy\")."
        }
      },
      "id": "FreeBusyResponse"
    },
    "FreeBusyRequest": {
      "id": "FreeBusyRequest",
      "type": "object",
      "properties": {
        "timeMax": {
          "description": "The end of the interval for the query formatted as per RFC3339.",
          "type": "string",
          "format": "date-time"
        },
        "calendarExpansionMax": {
          "type": "integer",
          "description": "Maximal number of calendars for which FreeBusy information is to be provided. Optional. Maximum value is 50.",
          "format": "int32"
        },
        "groupExpansionMax": {
          "type": "integer",
          "description": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error is returned for a group with more members than this value. Maximum value is 100.",
          "format": "int32"
        },
        "items": {
          "description": "List of calendars and/or groups to query.",
          "type": "array",
          "items": {
            "$ref": "FreeBusyRequestItem"
          }
        },
        "timeZone": {
          "type": "string",
          "default": "UTC",
          "description": "Time zone used in the response. Optional. The default is UTC."
        },
        "timeMin": {
          "format": "date-time",
          "type": "string",
          "description": "The start of the interval for the query formatted as per RFC3339."
        }
      }
    },
    "ConferenceData": {
      "id": "ConferenceData",
      "type": "object",
      "properties": {
        "createRequest": {
          "$ref": "CreateConferenceRequest",
          "description": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "conferenceSolution": {
          "$ref": "ConferenceSolution",
          "description": "The conference solution, such as Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "entryPoints": {
          "type": "array",
          "items": {
            "$ref": "EntryPoint"
          },
          "description": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "signature": {
          "description": "The signature of the conference data.\nGenerated on server side.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request.",
          "type": "string"
        },
        "conferenceId": {
          "type": "string",
          "description": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nThe ID value is formed differently for each conference solution type:  \n- eventHangout: ID is not set. (This conference type is deprecated.)\n- eventNamedHangout: ID is the name of the Hangout. (This conference type is deprecated.)\n- hangoutsMeet: ID is the 10-letter meeting code, for example aaa-bbbb-ccc.\n- addOn: ID is defined by the third-party provider.  Optional."
        },
        "notes": {
          "description": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional.",
          "type": "string"
        },
        "parameters": {
          "$ref": "ConferenceParameters",
          "description": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming."
        }
      }
    },
    "Settings": {
      "type": "object",
      "properties": {
        "items": {
          "description": "List of user settings.",
          "type": "array",
          "items": {
            "$ref": "Setting"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag of the collection."
        },
        "kind": {
          "description": "Type of the collection (\"calendar#settings\").",
          "type": "string",
          "default": "calendar#settings"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        }
      },
      "id": "Settings"
    },
    "EventFocusTimeProperties": {
      "id": "EventFocusTimeProperties",
      "type": "object",
      "properties": {
        "autoDeclineMode": {
          "type": "string",
          "description": "Whether to decline meeting invitations which overlap Focus Time events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Focus Time event is present are to be declined."
        },
        "chatStatus": {
          "type": "string",
          "description": "The status to mark the user in Chat and related products. This can be available or doNotDisturb."
        },
        "declineMessage": {
          "description": "Response message to set if an existing event or new invitation is automatically declined by Calendar.",
          "type": "string"
        }
      }
    },
    "CalendarNotification": {
      "type": "object",
      "properties": {
        "method": {
          "description": "The method used to deliver the notification. The possible value is:  \n- \"email\" - Notifications are sent via email.  \nRequired when adding a notification.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an attendee responds to the event invitation. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).  \nRequired when adding a notification."
        }
      },
      "id": "CalendarNotification"
    },
    "EventOutOfOfficeProperties": {
      "id": "EventOutOfOfficeProperties",
      "type": "object",
      "properties": {
        "autoDeclineMode": {
          "description": "Whether to decline meeting invitations which overlap Out of office events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Out of office event is present are to be declined.",
          "type": "string"
        },
        "declineMessage": {
          "type": "string",
          "description": "Response message to set if an existing event or new invitation is automatically declined by Calendar."
        }
      }
    },
    "Setting": {
      "id": "Setting",
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource (\"calendar#setting\").",
          "type": "string",
          "default": "calendar#setting"
        },
        "value": {
          "type": "string",
          "description": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters."
        },
        "id": {
          "description": "The id of the user setting.",
          "type": "string"
        }
      }
    },
    "EntryPoint": {
      "id": "EntryPoint",
      "type": "object",
      "properties": {
        "entryPointType": {
          "description": "The type of the conference entry point.\nPossible values are:  \n- \"video\" - joining a conference over HTTP. A conference can have zero or one video entry point.\n- \"phone\" - joining a conference by dialing a phone number. A conference can have zero or more phone entry points.\n- \"sip\" - joining a conference over SIP. A conference can have zero or one sip entry point.\n- \"more\" - further conference joining instructions, for example additional phone numbers. A conference can have zero or one more entry point. A conference with only a more entry point is not a valid conference.",
          "type": "string"
        },
        "passcode": {
          "type": "string",
          "description": "The passcode to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed."
        },
        "pin": {
          "description": "The PIN to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "entryPointFeatures": {
          "description": "Features of the entry point, such as being toll or toll-free. One entry point can have multiple features. However, toll and toll-free cannot be both set on the same entry point.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accessCode": {
          "description": "The access code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "regionCode": {
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. Example: \"SE\" for Sweden.\nCalendar backend will populate this field only for EntryPointType.PHONE.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "The label for the URI. Visible to end users. Not localized. The maximum length is 512 characters.\nExamples:  \n- for video: meet.google.com/aaa-bbbb-ccc\n- for phone: +1 123 268 2601\n- for sip: 12345678@altostrat.com\n- for more: should not be filled  \nOptional."
        },
        "meetingCode": {
          "description": "The meeting code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "uri": {
          "type": "string",
          "description": "The URI of the entry point. The maximum length is 1300 characters.\nFormat:  \n- for video, http: or https: schema is required.\n- for phone, tel: schema is required. The URI should include the entire dial sequence (e.g., tel:+12345678900,,,123456789;1234).\n- for sip, sip: schema is required, e.g., sip:12345678@myprovider.com.\n- for more, http: or https: schema is required."
        }
      }
    },
    "FreeBusyRequestItem": {
      "id": "FreeBusyRequestItem",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The identifier of a calendar or a group."
        }
      }
    },
    "ConferenceParametersAddOnParameters": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ConferenceParametersAddOnParameters"
    },
    "FreeBusyGroup": {
      "id": "FreeBusyGroup",
      "type": "object",
      "properties": {
        "calendars": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of calendars' identifiers within a group."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Optional error(s) (if computation for the group failed)."
        }
      }
    },
    "ConferenceRequestStatus": {
      "id": "ConferenceRequestStatus",
      "type": "object",
      "properties": {
        "statusCode": {
          "description": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points.",
          "type": "string"
        }
      }
    },
    "EventAttachment": {
      "id": "EventAttachment",
      "type": "object",
      "properties": {
        "fileId": {
          "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Internet media type (MIME type) of the attachment."
        },
        "title": {
          "type": "string",
          "description": "Attachment title."
        },
        "fileUrl": {
          "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment.",
          "type": "string"
        },
        "iconLink": {
          "type": "string",
          "description": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments."
        }
      }
    },
    "LabelProperties": {
      "id": "LabelProperties",
      "type": "object"
    },
    "Error": {
      "id": "Error",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Domain, or broad category, of the error.",
          "type": "string"
        },
        "reason": {
          "description": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list.",
          "type": "string"
        }
      }
    },
    "CalendarListEntry": {
      "id": "CalendarListEntry",
      "type": "object",
      "properties": {
        "deleted": {
          "type": "boolean",
          "default": "false",
          "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False."
        },
        "location": {
          "description": "Geographic location of the calendar as free-form text. Optional. Read-only.",
          "type": "string"
        },
        "summaryOverride": {
          "type": "string",
          "description": "The summary that the authenticated user has set for this calendar. Optional."
        },
        "autoAcceptInvitations": {
          "type": "boolean",
          "description": "Whether this calendar automatically accepts invitations. Only valid for resource calendars. Read-only."
        },
        "kind": {
          "type": "string",
          "default": "calendar#calendarListEntry",
          "description": "Type of the resource (\"calendar#calendarListEntry\")."
        },
        "defaultReminders": {
          "type": "array",
          "items": {
            "$ref": "EventReminder"
          },
          "description": "The default reminders that the authenticated user has for this calendar."
        },
        "id": {
          "annotations": {
            "required": [
              "calendar.calendarList.insert"
            ]
          },
          "type": "string",
          "description": "Identifier of the calendar."
        },
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional. Read-only."
        },
        "accessRole": {
          "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "selected": {
          "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "backgroundColor": {
          "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.",
          "type": "string"
        },
        "dataOwner": {
          "description": "The email of the owner of the calendar. Set only for secondary calendars. Read-only.",
          "type": "string"
        },
        "foregroundColor": {
          "type": "string",
          "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
        },
        "summary": {
          "description": "Title of the calendar. Read-only.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Optional. Read-only."
        },
        "primary": {
          "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.",
          "type": "boolean",
          "default": "false"
        },
        "hidden": {
          "description": "Whether the calendar has been hidden from the list. Optional. The attribute is only returned when the calendar is hidden, in which case the value is true.",
          "type": "boolean",
          "default": "false"
        },
        "notificationSettings": {
          "type": "object",
          "properties": {
            "notifications": {
              "description": "The list of notifications set for this calendar.",
              "type": "array",
              "items": {
                "$ref": "CalendarNotification"
              }
            }
          },
          "description": "The notifications that the authenticated user is receiving for this calendar."
        },
        "colorId": {
          "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional.",
          "type": "string"
        }
      }
    },
    "CreateConferenceRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored."
        },
        "conferenceSolutionKey": {
          "$ref": "ConferenceSolutionKey",
          "description": "The conference solution, such as Hangouts or Google Meet."
        },
        "status": {
          "$ref": "ConferenceRequestStatus",
          "description": "The status of the conference create request."
        }
      },
      "id": "CreateConferenceRequest"
    },
    "ConferenceSolutionKey": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The conference solution type.\nIf a client encounters an unfamiliar or empty type, it should still be able to display the entry points. However, it should disallow modifications.\nThe possible values are:  \n- \"eventHangout\" for Hangouts for consumers (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"eventNamedHangout\" for classic Hangouts for Google Workspace users (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"hangoutsMeet\" for Google Meet (http://meet.google.com)\n- \"addOn\" for 3P conference providers",
          "type": "string"
        }
      },
      "id": "ConferenceSolutionKey"
    },
    "FreeBusyCalendar": {
      "id": "FreeBusyCalendar",
      "type": "object",
      "properties": {
        "busy": {
          "type": "array",
          "items": {
            "$ref": "TimePeriod"
          },
          "description": "List of time ranges during which this calendar should be regarded as busy."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Optional error(s) (if computation for the calendar failed)."
        }
      }
    },
    "EventBirthdayProperties": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of birthday or special event. Possible values are:  \n- \"anniversary\" - An anniversary other than birthday. Always has a contact. \n- \"birthday\" - A birthday event. This is the default value. \n- \"custom\" - A special date whose label is further specified in the customTypeName field. Always has a contact. \n- \"other\" - A special date which does not fall into the other categories, and does not have a custom label. Always has a contact. \n- \"self\" - Calendar owner's own birthday. Cannot have a contact.  The Calendar API only supports creating events with the type \"birthday\". The type cannot be changed after the event is created.",
          "type": "string",
          "default": "birthday"
        },
        "contact": {
          "type": "string",
          "description": "Resource name of the contact this birthday event is linked to. This can be used to fetch contact details from People API. Format: \"people/c12345\". Read-only."
        },
        "customTypeName": {
          "description": "Custom type label specified for this event. This is populated if birthdayProperties.type is set to \"custom\". Read-only.",
          "type": "string"
        }
      },
      "id": "EventBirthdayProperties"
    },
    "AclRule": {
      "id": "AclRule",
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifier of the Access Control List (ACL) rule. See Sharing calendars.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "description": "Type of the resource (\"calendar#aclRule\").",
          "type": "string",
          "default": "calendar#aclRule"
        },
        "scope": {
          "description": "The extent to which calendar access is granted by this ACL rule.",
          "type": "object",
          "properties": {
            "type": {
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not.",
              "type": "string",
              "annotations": {
                "required": [
                  "calendar.acl.insert",
                  "calendar.acl.update"
                ]
              }
            },
            "value": {
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\".",
              "type": "string"
            }
          },
          "annotations": {
            "required": [
              "calendar.acl.insert",
              "calendar.acl.update"
            ]
          }
        },
        "role": {
          "type": "string",
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. Provides read access to the calendar's ACLs. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role.",
          "annotations": {
            "required": [
              "calendar.acl.insert"
            ]
          }
        }
      }
    },
    "EventReminder": {
      "id": "EventReminder",
      "type": "object",
      "properties": {
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder."
        },
        "method": {
          "type": "string",
          "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
        }
      }
    },
    "EventDateTime": {
      "id": "EventDateTime",
      "type": "object",
      "properties": {
        "dateTime": {
          "description": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone.",
          "type": "string",
          "format": "date-time"
        },
        "date": {
          "format": "date",
          "type": "string",
          "description": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event."
        },
        "timeZone": {
          "description": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "calendarList": {
      "methods": {
        "list": {
          "response": {
            "$ref": "CalendarList"
          },
          "description": "Returns the calendars on the user's calendar list.",
          "id": "calendar.calendarList.list",
          "parameters": {
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "minAccessRole": {
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ],
              "location": "query",
              "type": "string",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ]
            },
            "showHidden": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to show hidden entries. Optional. The default is False."
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "path": "users/me/calendarList"
        },
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "id": "calendar.calendarList.insert",
          "parameters": {
            "colorRgbFormat": {
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "type": "boolean"
            }
          },
          "path": "users/me/calendarList",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "description": "Inserts an existing calendar into the user's calendar list."
        },
        "update": {
          "description": "Updates an existing calendar on the user's calendar list.",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "path": "users/me/calendarList/{calendarId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "id": "calendar.calendarList.update",
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "colorRgbFormat": {
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            }
          }
        },
        "watch": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "id": "calendar.calendarList.watch",
          "parameters": {
            "showHidden": {
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "minimum": "1",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "minAccessRole": {
              "location": "query",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer",
                "writerWithoutPrivateAccess"
              ],
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "type": "string",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events.",
                "The user can read and modify events that aren't private. The user can read free/busy information about private events. The user can't modify private events."
              ]
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "path": "users/me/calendarList/watch",
          "httpMethod": "POST",
          "description": "Watch for changes to CalendarList resources.",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          }
        },
        "get": {
          "description": "Returns a calendar from the user's calendar list.",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.calendarList.get",
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            }
          }
        },
        "delete": {
          "id": "calendar.calendarList.delete",
          "parameters": {
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Removes a calendar from the user's calendar list."
        },
        "patch": {
          "id": "calendar.calendarList.patch",
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "colorRgbFormat": {
              "type": "boolean",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "CalendarListEntry"
          },
          "httpMethod": "PATCH",
          "path": "users/me/calendarList/{calendarId}",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics."
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "description": "Stop watching resources through this channel",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "path": "channels/stop",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "id": "calendar.channels.stop"
        }
      }
    },
    "colors": {
      "methods": {
        "get": {
          "path": "colors",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.calendarlist",
            "https://www.googleapis.com/auth/calendar.calendarlist.readonly",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.colors.get",
          "description": "Returns the color definitions for calendars and events.",
          "response": {
            "$ref": "Colors"
          }
        }
      }
    },
    "events": {
      "methods": {
        "get": {
          "description": "Returns an event based on its Google Calendar ID. To retrieve an event using its iCalendar ID, call the events.list method using the iCalUID parameter.",
          "response": {
            "$ref": "Event"
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.events.get",
          "parameters": {
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "eventId": {
              "location": "path",
              "description": "Event identifier.",
              "type": "string",
              "required": true
            },
            "maxAttendees": {
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional."
            },
            "timeZone": {
              "location": "query",
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar."
            }
          }
        },
        "instances": {
          "description": "Returns instances of the specified recurring event.",
          "httpMethod": "GET",
          "path": "calendars/{calendarId}/events/{eventId}/instances",
          "response": {
            "$ref": "Events"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.freebusy",
            "https://www.googleapis.com/auth/calendar.events.owned",
            "https://www.googleapis.com/auth/calendar.events.owned.readonly",
            "https://www.googleapis.com/auth/calendar.events.public.readonly",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "id": "calendar.events.instances",
          "parameters": {
            "originalStart": {
              "type": "string",
              "description": "The original start time of the instance in the result. Optional.",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "timeMax": {
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "type": "string",
              "format": "date-time",
              "location": "query"
            },
            "timeMin": {
              "format": "date-time",
              "location": "query",
              "type": "string",
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset."
            },
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional."
            },
            "eventId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Recurring event identifier."
            },
            "maxAttendees": {
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean",
              "location": "query"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ]
        },
        "patch": {
          "request": {
            "$ref": "Event"
          },
          "description": "Updates an event. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "path": "calendars/{calendarId}/events/{eventId}",
          "response": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "id": "calendar.events.patch",
          "parameters": {
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "location": "query",
              "maximum": "1"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "supportsAttachments": {
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean"
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ],
              "location": "query",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "type": "string"
            },
            "eventId": {
              "type": "string",
              "required": true,
              "description": "Event identifier.",
              "location": "path"
            },
            "maxAttendees": {
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "location": "query"
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ]
        },
        "quickAdd": {
          "description": "Creates an event based on a simple text string.",
          "response": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/quickAdd",
          "parameterOrder": [
            "calendarId",
            "text"
          ],
          "id": "calendar.events.quickAdd",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
[...]
