{
  "discoveryVersion": "v1",
  "schemas": {
    "ListCertificatesResponse": {
      "type": "object",
      "description": "Response for the `ListCertificates` method.",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certificates": {
          "type": "array",
          "items": {
            "$ref": "Certificate"
          },
          "description": "A list of certificates for the parent resource."
        }
      },
      "id": "ListCertificatesResponse"
    },
    "CertificateAuthorityServiceConfig": {
      "type": "object",
      "description": "Contains information required to contact CA service.",
      "properties": {
        "caPool": {
          "type": "string",
          "description": "Required. A CA pool resource used to issue a certificate. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\"."
        }
      },
      "id": "CertificateAuthorityServiceConfig"
    },
    "UsedBy": {
      "id": "UsedBy",
      "description": "Defines a resource that uses the certificate.",
      "properties": {
        "name": {
          "description": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, e.g. `//certificatemanager.googleapis.com/projects/*/locations/*/certificateMaps/*/certificateMapEntries/*` or `//compute.googleapis.com/projects/*/locations/*/targetHttpsProxies/*`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "IpConfig": {
      "type": "object",
      "id": "IpConfig",
      "description": "Defines IP configuration where this Certificate Map is serving.",
      "properties": {
        "ipAddress": {
          "description": "Output only. An external IP address.",
          "readOnly": true,
          "type": "string"
        },
        "ports": {
          "description": "Output only. Ports.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "readOnly": true
        }
      }
    },
    "CNAME": {
      "id": "CNAME",
      "description": "CNAME troubleshooting information.",
      "properties": {
        "expectedData": {
          "description": "Output only. The expected value of the CNAME record for the domain, equals to `dns_resource_record.data` in the corresponding `DnsAuthorization`.",
          "readOnly": true,
          "type": "string"
        },
        "resolvedData": {
          "description": "Output only. The resolved CNAME chain. Empty list if the CNAME record for `CNAME.name` is not found. Otherwise the first item is the value of the CNAME record for `CNAME.name`. If the CNAME chain is longer, the second item is the value of the CNAME record for the first item, and so on.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the CNAME record for the domain, equals to `dns_resource_record.name` in the corresponding `DnsAuthorization`."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "TrustStore": {
      "type": "object",
      "description": "Defines a trust store.",
      "properties": {
        "trustAnchors": {
          "type": "array",
          "items": {
            "$ref": "TrustAnchor"
          },
          "description": "Optional. List of Trust Anchors to be used while performing validation against a given TrustStore."
        },
        "intermediateCas": {
          "description": "Optional. Set of intermediate CA certificates used for the path building phase of chain validation. The field is currently not supported if TrustConfig is used for the workload certificate feature.",
          "type": "array",
          "items": {
            "$ref": "IntermediateCA"
          }
        }
      },
      "id": "TrustStore"
    },
    "CertificateMap": {
      "type": "object",
      "id": "CertificateMap",
      "description": "Defines a collection of certificate configurations.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a certificate map."
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a Certificate Map.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of labels associated with a Certificate Map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gclbTargets": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GclbTarget"
          },
          "description": "Output only. A list of GCLB targets that use this Certificate Map. A Target Proxy is only present on this list if it's attached to a Forwarding Rule."
        },
        "updateTime": {
          "description": "Output only. The update timestamp of a Certificate Map.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DnsAuthorization": {
      "type": "object",
      "id": "DnsAuthorization",
      "description": "A DnsAuthorization resource describes a way to perform domain authorization for certificate issuance.",
      "properties": {
        "createTime": {
          "description": "Output only. The creation timestamp of a DnsAuthorization.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a DnsAuthorization.",
          "type": "string"
        },
        "dnsResourceRecord": {
          "description": "Output only. DNS Resource Record that needs to be added to DNS configuration.",
          "readOnly": true,
          "$ref": "DnsResourceRecord"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update timestamp of a DnsAuthorization.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with a DnsAuthorization."
        },
        "domain": {
          "description": "Required. Immutable. A domain that is being authorized. A DnsAuthorization resource covers a single domain and its wildcard, e.g. authorization for `example.com` can be used to issue certificates for `example.com` and `*.example.com`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "FIXED_RECORD DNS authorization uses DNS-01 validation method.",
            "PER_PROJECT_RECORD DNS authorization allows for independent management of Google-managed certificates with DNS authorization across multiple projects."
          ],
          "description": "Optional. Immutable. Type of DnsAuthorization. If unset during resource creation the following default will be used: - in location `global`: FIXED_RECORD, - in other locations: PER_PROJECT_RECORD.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED_RECORD",
            "PER_PROJECT_RECORD"
          ]
        }
      }
    },
    "CertificateAuthorityConfig": {
      "id": "CertificateAuthorityConfig",
      "description": "The CA that issues the workload certificate. It includes CA address, type, authentication to CA service, etc.",
      "properties": {
        "certificateAuthorityServiceConfig": {
          "description": "Defines a CertificateAuthorityServiceConfig.",
          "$ref": "CertificateAuthorityServiceConfig"
        }
      },
      "type": "object"
    },
    "AllowlistedCertificate": {
      "description": "Defines an allowlisted certificate.",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "Required. PEM certificate that is allowlisted. The certificate can be up to 5k bytes, and must be a parseable X.509 certificate."
        }
      },
      "id": "AllowlistedCertificate",
      "type": "object"
    },
    "ProvisioningIssue": {
      "description": "Information about issues with provisioning a Managed Certificate.",
      "properties": {
        "details": {
          "description": "Output only. Human readable explanation about the issue. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use Reason enum.",
          "readOnly": true,
          "type": "string"
        },
        "reason": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "AUTHORIZATION_ISSUE",
            "RATE_LIMITED"
          ],
          "enumDescriptions": [
            "Reason is unspecified.",
            "Certificate provisioning failed due to an issue with one or more of the domains on the certificate. For details of which domains failed, consult the `authorization_attempt_info` field.",
            "Exceeded Certificate Authority quotas or internal rate limits of the system. Provisioning may take longer to complete."
          ],
          "description": "Output only. Reason for provisioning failures."
        }
      },
      "id": "ProvisioningIssue",
      "type": "object"
    },
    "ListCertificateMapsResponse": {
      "description": "Response for the `ListCertificateMaps` method.",
      "properties": {
        "certificateMaps": {
          "type": "array",
          "items": {
            "$ref": "CertificateMap"
          },
          "description": "A list of certificate maps for the parent resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListCertificateMapsResponse",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DnsResourceRecord": {
      "description": "The structure describing the DNS Resource Record that needs to be added to DNS configuration for the authorization to be usable by certificate.",
      "properties": {
        "name": {
          "description": "Output only. Fully qualified name of the DNS Resource Record. e.g. `_acme-challenge.example.com`",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the DNS Resource Record. Currently always set to \"CNAME\"."
        },
        "data": {
          "description": "Output only. Data of the DNS Resource Record.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DnsResourceRecord",
      "type": "object"
    },
    "TrustConfig": {
      "description": "Defines a trust config.",
      "properties": {
        "createTime": {
          "description": "Output only. The creation timestamp of a TrustConfig.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`."
        },
        "spiffeTrustStores": {
          "description": "Optional. Defines a mapping from a trust domain to a TrustStore. This is used for SPIFFE certificate validation.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TrustStore"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update timestamp of a TrustConfig.",
          "format": "google-datetime"
        },
        "trustStores": {
          "description": "Optional. Set of trust stores to perform validation against. This field is supported when TrustConfig is configured with Load Balancers, currently not supported for SPIFFE certificate validation. Only one TrustStore specified is currently allowed.",
          "type": "array",
          "items": {
            "$ref": "TrustStore"
          }
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a TrustConfig.",
          "type": "string"
        },
        "allowlistedCertificates": {
          "description": "Optional. A certificate matching an allowlisted certificate is always considered valid as long as the certificate is parseable, proof of private key possession is established, and constraints on the certificate's SAN field are met.",
          "type": "array",
          "items": {
            "$ref": "AllowlistedCertificate"
          }
        },
        "labels": {
          "description": "Optional. Set of labels associated with a TrustConfig.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        }
      },
      "id": "TrustConfig",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "Certificate": {
      "id": "Certificate",
      "description": "Defines TLS certificate.",
      "properties": {
        "name": {
          "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a Certificate."
        },
        "scope": {
          "enumDescriptions": [
            "Use the DEFAULT scope if you plan to use the certificate with global external Application Load Balancer, global external proxy Network Load Balancer, or any of the regional Google Cloud services.",
            "Use the EDGE_CACHE scope if you plan to use the certificate with Media CDN. The certificates are served from Edge Points of Presence. See https://cloud.google.com/vpc/docs/edge-locations.",
            "Use the ALL_REGIONS scope if you plan to use the certificate with cross-region internal Application Load Balancer. The certificates are served from all Google Cloud regions. See https://cloud.google.com/compute/docs/regions-zones.",
            "Associated with certificates used as client certificates in Backend mTLS."
          ],
          "type": "string",
          "description": "Optional. Immutable. The scope of the certificate.",
          "enum": [
            "DEFAULT",
            "EDGE_CACHE",
            "ALL_REGIONS",
            "CLIENT_AUTH"
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a Certificate."
        },
        "managed": {
          "description": "If set, contains configuration and state of a managed certificate.",
          "$ref": "ManagedCertificate"
        },
        "managedIdentity": {
          "description": "If set, contains configuration and state of a managed identity certificate.",
          "$ref": "ManagedIdentityCertificate"
        },
        "selfManaged": {
          "description": "If set, defines data of a self-managed certificate.",
          "$ref": "SelfManagedCertificate"
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The expiry timestamp of a Certificate."
        },
        "sanDnsnames": {
          "description": "Output only. The list of Subject Alternative Names of dnsName type defined in the certificate (see RFC 5280 4.2.1.6). Managed certificates that haven't been provisioned yet have this field populated with a value of the managed.domains field.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "usedBy": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UsedBy"
          },
          "description": "Output only. The list of resources that use this Certificate."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with a Certificate."
        },
        "pemCertificate": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The PEM-encoded certificate chain."
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a certificate."
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation. Output only.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "apiVersion": {
          "description": "API version used to start the operation.",
          "type": "string"
        }
      }
    },
    "ListCertificateIssuanceConfigsResponse": {
      "id": "ListCertificateIssuanceConfigsResponse",
      "description": "Response for the `ListCertificateIssuanceConfigs` method.",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "certificateIssuanceConfigs": {
          "description": "A list of certificate configs for the parent resource.",
          "type": "array",
          "items": {
            "$ref": "CertificateIssuanceConfig"
          }
        }
      },
      "type": "object"
    },
    "TrustAnchor": {
      "type": "object",
      "id": "TrustAnchor",
      "description": "Defines a trust anchor.",
      "properties": {
        "pemCertificate": {
          "description": "PEM root certificate of the PKI used for validation. Each certificate provided in PEM format may occupy up to 5kB.",
          "type": "string"
        }
      }
    },
    "IntermediateCA": {
      "type": "object",
      "id": "IntermediateCA",
      "description": "Defines an intermediate CA.",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "PEM intermediate certificate used for building up paths for validation. Each certificate provided in PEM format may occupy up to 5kB."
        }
      }
    },
    "CertificateMapEntry": {
      "type": "object",
      "description": "Defines a certificate map entry.",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "A Hostname (FQDN, e.g. `example.com`) or a wildcard hostname expression (`*.example.com`) for a set of hostnames with common suffix. Used as Server Name Indication (SNI) for selecting a proper certificate."
        },
        "labels": {
          "description": "Optional. Set of labels associated with a Certificate Map Entry.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "matcher": {
          "description": "A predefined matcher for particular cases, other than SNI selection.",
          "enum": [
            "MATCHER_UNSPECIFIED",
            "PRIMARY"
          ],
          "enumDescriptions": [
            "A matcher has't been recognized.",
            "A primary certificate that is served when SNI wasn't specified in the request or SNI couldn't be found in the map."
          ],
          "type": "string"
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a certificate map entry.",
          "type": "string"
        },
        "certificates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A set of Certificates defines for the given `hostname`. There can be defined up to four certificates in each Certificate Map Entry. Each certificate must match pattern `projects/*/locations/*/certificates/*`."
        },
        "updateTime": {
          "description": "Output only. The update timestamp of a Certificate Map Entry.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`."
        },
        "state": {
          "description": "Output only. A serving state of this Certificate Map Entry.",
          "enumDescriptions": [
            "The status is undefined.",
            "The configuration is serving.",
            "Update is in progress. Some frontends may serve this configuration."
          ],
          "enum": [
            "SERVING_STATE_UNSPECIFIED",
            "ACTIVE",
            "PENDING"
          ],
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation timestamp of a Certificate Map Entry.",
          "format": "google-datetime"
        }
      },
      "id": "CertificateMapEntry"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "IPs": {
      "id": "IPs",
      "description": "IPs troubleshooting information.",
      "properties": {
        "serving": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of IP addresses, where the certificate is attached and port 443 is open."
        },
        "resolved": {
          "description": "Output only. The list of IP addresses resolved from the domain's A/AAAA records. Can contain both ipv4 and ipv6 addresses.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "servingOnAltPorts": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of IP addresses, where the certificate is attached, but port 443 is not open."
        }
      },
      "type": "object"
    },
    "ListDnsAuthorizationsResponse": {
      "description": "Response for the `ListDnsAuthorizations` method.",
      "properties": {
        "dnsAuthorizations": {
          "description": "A list of dns authorizations for the parent resource.",
          "type": "array",
          "items": {
            "$ref": "DnsAuthorization"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListDnsAuthorizationsResponse",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "CertificateIssuanceConfig": {
      "type": "object",
      "description": "CertificateIssuanceConfig specifies how to issue and manage a certificate.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a CertificateIssuanceConfig.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`."
        },
        "certificateAuthorityConfig": {
          "description": "Required. The CA that issues the workload certificate. It includes the CA address, type, authentication to CA service, etc.",
          "$ref": "CertificateAuthorityConfig"
        },
        "keyAlgorithm": {
          "description": "Required. The key algorithm to use when generating the private key.",
          "enum": [
            "KEY_ALGORITHM_UNSPECIFIED",
            "RSA_2048",
            "ECDSA_P256"
          ],
          "enumDescriptions": [
            "Unspecified key algorithm.",
            "Specifies RSA with a 2048-bit modulus.",
            "Specifies ECDSA with curve P256."
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a CertificateIssuanceConfig."
        },
        "rotationWindowPercentage": {
          "description": "Required. Specifies the percentage of elapsed time of the certificate lifetime to wait before renewing the certificate. Must be a number between 1-99, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with a CertificateIssuanceConfig."
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a CertificateIssuanceConfig.",
          "type": "string"
        },
        "lifetime": {
          "description": "Required. Workload certificate lifetime requested.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "CertificateIssuanceConfig"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ListTrustConfigsResponse": {
      "type": "object",
      "description": "Response for the `ListTrustConfigs` method.",
      "properties": {
        "trustConfigs": {
          "description": "A list of TrustConfigs for the parent resource.",
          "type": "array",
          "items": {
            "$ref": "TrustConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListTrustConfigsResponse"
    },
    "GclbTarget": {
      "type": "object",
      "description": "Describes a Target Proxy that uses this Certificate Map.",
      "properties": {
        "targetHttpsProxy": {
          "description": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetHttpsProxies/*`.",
          "readOnly": true,
          "type": "string"
        },
        "targetSslProxy": {
          "description": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetSslProxies/*`.",
          "type": "string",
          "readOnly": true
        },
        "ipConfigs": {
          "description": "Output only. IP configurations for this Target Proxy where the Certificate Map is serving.",
          "type": "array",
          "items": {
            "$ref": "IpConfig"
          },
          "readOnly": true
        }
      },
      "id": "GclbTarget"
    },
    "Troubleshooting": {
      "description": "Troubleshooting information for the authorization attempt.",
      "properties": {
        "issues": {
          "readOnly": true,
          "type": "array",
          "items": {
            "enum": [
              "ISSUE_UNSPECIFIED",
              "CNAME_MISMATCH",
              "RESOLVED_TO_NOT_SERVING",
              "RESOLVED_TO_SERVING_ON_ALT_PORTS",
              "NO_RESOLVED_IPS",
              "CERTIFICATE_NOT_ATTACHED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Issue is unspecified.",
              "The resolved CNAME value doesn't match the expected CNAME.",
              "Domain has A/AAAA records that point to IPs, where the certificate is not attached.",
              "Domain has A/AAAA records that point to IPs, where the certificate is attached, but port 443 is not open.",
              "Domain doesn't have any A/AAAA records.",
              "Certificate is not configured to be served from any IPs (e.g. Certificate is not attached to any load balancer)."
            ]
          },
          "description": "Output only. The list of issues discovered during the authorization attempt."
        },
        "ips": {
          "readOnly": true,
          "$ref": "IPs",
          "description": "Output only. IPs troubleshooting information."
        },
        "cname": {
          "description": "Output only. CNAME troubleshooting information.",
          "readOnly": true,
          "$ref": "CNAME"
        }
      },
      "id": "Troubleshooting",
      "type": "object"
    },
    "ListCertificateMapEntriesResponse": {
      "id": "ListCertificateMapEntriesResponse",
      "description": "Response for the `ListCertificateMapEntries` method.",
      "properties": {
        "certificateMapEntries": {
          "description": "A list of certificate map entries for the parent resource.",
          "type": "array",
          "items": {
            "$ref": "CertificateMapEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "SelfManagedCertificate": {
      "description": "Certificate data for a SelfManaged Certificate. SelfManaged Certificates are uploaded by the user. Updating such certificates before they expire remains the user's responsibility.",
      "properties": {
        "pemCertificate": {
          "description": "Optional. Input only. The PEM-encoded certificate chain. Leaf certificate comes first, followed by intermediate ones if any.",
          "type": "string"
        },
        "pemPrivateKey": {
          "type": "string",
          "description": "Optional. Input only. The PEM-encoded private key of the leaf certificate."
        }
      },
      "id": "SelfManagedCertificate",
      "type": "object"
    },
    "AuthorizationAttemptInfo": {
      "description": "State of the latest attempt to authorize a domain for certificate issuance.",
      "properties": {
        "attemptTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp, when the authorization attempt was made.",
          "type": "string",
          "readOnly": true
        },
        "failureReason": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "FAILURE_REASON_UNSPECIFIED",
            "CONFIG",
            "CAA",
            "RATE_LIMITED"
          ],
          "enumDescriptions": [
            "FailureReason is unspecified.",
            "There was a problem with the user's DNS or load balancer configuration for this domain.",
            "Certificate issuance forbidden by an explicit CAA record for the domain or a failure to check CAA records for the domain.",
            "Reached a CA or internal rate-limit for the domain, e.g. for certificates per top-level private domain."
          ],
          "description": "Output only. Reason for failure of the authorization attempt for the domain."
        },
        "details": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human readable explanation for reaching the state. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use FailureReason enum."
        },
        "troubleshooting": {
          "readOnly": true,
          "$ref": "Troubleshooting",
          "description": "Output only. Troubleshooting information for the authorization attempt. This field is only populated if the authorization attempt failed."
        },
        "domain": {
          "description": "Output only. Domain name of the authorization attempt.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AUTHORIZING",
            "AUTHORIZED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate provisioning for this domain is under way. Google Cloud will attempt to authorize the domain.",
            "A managed certificate can be provisioned, no issues for this domain.",
            "Attempt to authorize the domain failed. This prevents the Managed Certificate from being issued. See `failure_reason` and `details` fields for more information."
          ],
          "description": "Output only. State of the domain for managed certificate issuance."
        }
      },
      "id": "AuthorizationAttemptInfo",
      "type": "object"
    },
    "ManagedIdentityCertificate": {
      "id": "ManagedIdentityCertificate",
      "description": "Configuration and state of a Managed Identity Certificate. Certificate Manager provisions and renews Managed Identity Certificates automatically, for as long as it's authorized to do so.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ],
          "description": "Output only. State of the managed certificate resource.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ]
        },
        "identity": {
          "type": "string",
          "description": "Required. Immutable. SPIFFE ID of the Managed Identity used for this certificate."
        },
        "provisioningIssue": {
          "readOnly": true,
          "$ref": "ProvisioningIssue",
          "description": "Output only. Information about issues with provisioning a managed certificate."
        }
      },
      "type": "object"
    },
    "ManagedCertificate": {
      "description": "Configuration and state of a Managed Certificate. Certificate Manager provisions and renews Managed Certificates automatically, for as long as it's authorized to do so.",
      "properties": {
        "provisioningIssue": {
          "readOnly": true,
          "$ref": "ProvisioningIssue",
          "description": "Output only. Information about issues with provisioning a Managed Certificate."
        },
        "issuanceConfig": {
          "description": "Optional. Immutable. The resource name for a CertificateIssuanceConfig used to configure private PKI certificates in the format `projects/*/locations/*/certificateIssuanceConfigs/*`. If this field is not set, the certificates will instead be publicly signed as documented at https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#caa.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ],
          "description": "Output only. State of the managed certificate resource.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ]
        },
        "dnsAuthorizations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. Authorizations that will be used for performing domain authorization."
        },
        "authorizationAttemptInfo": {
          "description": "Output only. Detailed state of the latest authorization attempt for each domain specified for managed certificate resource.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AuthorizationAttemptInfo"
          }
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. The domains for which a managed SSL certificate will be generated. Wildcard domains are only supported with DNS challenge resolution."
        }
      },
      "id": "ManagedCertificate",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "type": "object"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://certificatemanager.googleapis.com/",
  "version": "v1",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "id": "certificatemanager.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "certificatemanager.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "certificates": {
              "methods": {
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Certificates returned."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of certificates to return per call.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListCertificatesResponse`. Indicates that this is a continuation of a prior `ListCertificates` call, and that the system should return the next page of data."
                    },
                    "orderBy": {
                      "description": "Optional. A list of Certificate field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCertificatesResponse"
                  },
                  "id": "certificatemanager.projects.locations.certificates.list",
                  "path": "v1/{+parent}/certificates",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Certificates in a given project and location."
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Certificate.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "id": "certificatemanager.projects.locations.certificates.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. A name of the certificate to delete. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a Certificate.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`.",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Certificate"
                  },
                  "id": "certificatemanager.projects.locations.certificates.patch"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single Certificate.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. A name of the certificate to describe. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Certificate"
                  },
                  "id": "certificatemanager.projects.locations.certificates.get",
                  "path": "v1/{+name}"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Certificate in a given project and location.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "id": "certificatemanager.projects.locations.certificates.create",
                  "path": "v1/{+parent}/certificates",
                  "request": {
                    "$ref": "Certificate"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the certificate. Must be in the format `projects/*/locations/*`.",
                      "type": "string"
                    },
                    "certificateId": {
                      "description": "Required. A user-provided name of the certificate.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "certificateMaps": {
              "resources": {
                "certificateMapEntries": {
                  "methods": {
                    "patch": {
                      "description": "Updates a CertificateMapEntry.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "path": "v1/{+name}",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.patch",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "updateMask": {
                          "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "path": "v1/{+parent}/certificateMapEntries",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.list",
                      "response": {
                        "$ref": "ListCertificateMapEntriesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The project, location and certificate map from which the certificate map entries should be listed, specified in the format `projects/*/locations/*/certificateMaps/*`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of certificate map entries to return. The service may return fewer than this value. If unspecified, at most 50 certificate map entries will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The value returned by the last `ListCertificateMapEntriesResponse`. Indicates that this is a continuation of a prior `ListCertificateMapEntries` call, and that the system should return the next page of data."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A list of Certificate Map Entry field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter expression to restrict the returned Certificate Map Entries."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists CertificateMapEntries in a given project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a single CertificateMapEntry.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. A name of the certificate map entry to delete. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.delete"
                    },
                    "get": {
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. A name of the certificate map entry to describe. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "CertificateMapEntry"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single CertificateMapEntry.",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}"
                    },
                    "create": {
                      "description": "Creates a new CertificateMapEntry in a given project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.create",
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "path": "v1/{+parent}/certificateMapEntries",
                      "parameters": {
                        "certificateMapEntryId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. A user-provided name of the certificate map entry."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "description": "Required. The parent resource of the certificate map entry. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "id": "certificatemanager.projects.locations.certificateMaps.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a CertificateMap."
                },
                "list": {
                  "id": "certificatemanager.projects.locations.certificateMaps.list",
                  "path": "v1/{+parent}/certificateMaps",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The project and location from which the certificate maps should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of certificate maps to return per call."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListCertificateMapsResponse`. Indicates that this is a continuation of a prior `ListCertificateMaps` call, and that the system should return the next page of data."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A list of Certificate Map field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Certificates Maps returned."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCertificateMapsResponse"
                  },
                  "description": "Lists CertificateMaps in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps"
                },
                "delete": {
                  "id": "certificatemanager.projects.locations.certificateMaps.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the certificate map to delete. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single CertificateMap. A Certificate Map can't be deleted if it contains Certificate Map Entries. Remove all the entries from the map before calling this method.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. A name of the certificate map to describe. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CertificateMap"
                  },
                  "id": "certificatemanager.projects.locations.certificateMaps.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single CertificateMap."
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "httpMethod": "POST",
                  "description": "Creates a new CertificateMap in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "certificateMapId": {
                      "description": "Required. A user-provided name of the certificate map.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource of the certificate map. Must be in the format `projects/*/locations/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "path": "v1/{+parent}/certificateMaps",
                  "id": "certificatemanager.projects.locations.certificateMaps.create"
                }
              }
            },
            "dnsAuthorizations": {
              "methods": {
                "get": {
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. A name of the dns authorization to describe. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "DnsAuthorization"
                  },
                  "description": "Gets details of a single DnsAuthorization.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new DnsAuthorization in a given project and location.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.create",
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource of the dns authorization. Must be in the format `projects/*/locations/*`."
                    },
                    "dnsAuthorizationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. A user-provided name of the dns authorization."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "description": "Lists DnsAuthorizations in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.list",
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The project and location from which the dns authorizations should be listed, specified in the format `projects/*/locations/*`."
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of dns authorizations to return per call.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListDnsAuthorizationsResponse`. Indicates that this is a continuation of a prior `ListDnsAuthorizations` call, and that the system should return the next page of data."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A list of Dns Authorization field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`."
                    },
                    "filter": {
                      "description": "Optional. Filter expression to restrict the Dns Authorizations returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDnsAuthorizationsResponse"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the dns authorization to delete. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single DnsAuthorization.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a DnsAuthorization.",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.patch",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "parameters": {
                    "name": {
                      "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "certificateIssuanceConfigs": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.get",
                  "response": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the certificate issuance config to describe. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single CertificateIssuanceConfig.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "httpMethod": "GET"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new CertificateIssuanceConfig in a given project and location.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.create",
                  "path": "v1/{+parent}/certificateIssuanceConfigs",
                  "request": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "parameters": {
                    "certificateIssuanceConfigId": {
                      "description": "Required. A user-provided name of the certificate config.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource of the certificate issuance config. Must be in the format `projects/*/locations/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of certificate configs to return per call.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListCertificateIssuanceConfigsResponse`. Indicates that this is a continuation of a prior `ListCertificateIssuanceConfigs` call, and that the system should return the next page of data."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A list of Certificate Config field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Certificates Configs returned."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCertificateIssuanceConfigsResponse"
                  },
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.list",
                  "path": "v1/{+parent}/certificateIssuanceConfigs",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists CertificateIssuanceConfigs in a given project and location."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single CertificateIssuanceConfig.",
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the certificate issuance config to delete. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.delete",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "description": "Updates a CertificateIssuanceConfig.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.patch",
                  "request": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "path": "v1/{+name}"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "id": "certificatemanager.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
[...]
