{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerName": "Google",
  "id": "certificatemanager:v1",
  "basePath": "",
  "version": "v1",
  "baseUrl": "https://certificatemanager.googleapis.com/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "description": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "certificatemanager.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                }
              },
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "id": "certificatemanager.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "certificatemanager.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "certificatemanager.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "certificatemanager.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "certificatemanager.projects.locations.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                }
              }
            },
            "certificates": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/certificates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of certificates to return per call.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to restrict the Certificates returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. A list of Certificate field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`.",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListCertificatesResponse`. Indicates that this is a continuation of a prior `ListCertificates` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCertificatesResponse"
                  },
                  "description": "Lists Certificates in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "id": "certificatemanager.projects.locations.certificates.list"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "description": "Required. A name of the certificate to describe. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "id": "certificatemanager.projects.locations.certificates.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Certificate"
                  },
                  "description": "Gets details of a single Certificate.",
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "id": "certificatemanager.projects.locations.certificates.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single Certificate.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. A name of the certificate to delete. Must be in the format `projects/*/locations/*/certificates/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$"
                    }
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new Certificate in a given project and location.",
                  "id": "certificatemanager.projects.locations.certificates.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "path": "v1/{+parent}/certificates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the certificate. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "certificateId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. A user-provided name of the certificate."
                    }
                  },
                  "request": {
                    "$ref": "Certificate"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a Certificate.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "id": "certificatemanager.projects.locations.certificates.patch",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Certificate"
                  }
                }
              }
            },
            "trustConfigs": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/trustConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource of the TrustConfig. Must be in the format `projects/*/locations/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "trustConfigId": {
                      "description": "Required. A user-provided name of the TrustConfig. Must match the regexp `[a-z0-9-]{1,63}`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "TrustConfig"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new TrustConfig in a given project and location.",
                  "id": "certificatemanager.projects.locations.trustConfigs.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListTrustConfigsResponse"
                  },
                  "description": "Lists TrustConfigs in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs",
                  "id": "certificatemanager.projects.locations.trustConfigs.list",
                  "path": "v1/{+parent}/trustConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filter expression to restrict the TrustConfigs returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of TrustConfigs to return per call.",
                      "format": "int32"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A list of TrustConfig field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The project and location from which the TrustConfigs should be listed, specified in the format `projects/*/locations/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListTrustConfigsResponse`. Indicates that this is a continuation of a prior `ListTrustConfigs` call, and that the system should return the next page of data.",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "TrustConfig"
                  },
                  "description": "Gets details of a single TrustConfig.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "id": "certificatemanager.projects.locations.trustConfigs.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. A name of the TrustConfig to describe. Must be in the format `projects/*/locations/*/trustConfigs/*`."
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "description": "Required. A name of the TrustConfig to delete. Must be in the format `projects/*/locations/*/trustConfigs/*`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The current etag of the TrustConfig. If an etag is provided and does not match the current etag of the resource, deletion will be blocked and an ABORTED error will be returned."
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "certificatemanager.projects.locations.trustConfigs.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single TrustConfig.",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "TrustConfig"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "certificatemanager.projects.locations.trustConfigs.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a TrustConfig."
                }
              }
            },
            "certificateMaps": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "certificatemanager.projects.locations.certificateMaps.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a CertificateMap.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "path": "v1/{+parent}/certificateMaps",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter expression to restrict the Certificates Maps returned.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Maximum number of certificate maps to return per call.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The project and location from which the certificate maps should be listed, specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListCertificateMapsResponse`. Indicates that this is a continuation of a prior `ListCertificateMaps` call, and that the system should return the next page of data.",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A list of Certificate Map field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`."
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "id": "certificatemanager.projects.locations.certificateMaps.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCertificateMapsResponse"
                  },
                  "description": "Lists CertificateMaps in a given project and location."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "id": "certificatemanager.projects.locations.certificateMaps.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CertificateMap"
                  },
                  "description": "Gets details of a single CertificateMap.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. A name of the certificate map to describe. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "certificatemanager.projects.locations.certificateMaps.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single CertificateMap. A Certificate Map can't be deleted if it contains Certificate Map Entries. Remove all the entries from the map before calling this method.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. A name of the certificate map to delete. Must be in the format `projects/*/locations/*/certificateMaps/*`."
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new CertificateMap in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "id": "certificatemanager.projects.locations.certificateMaps.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource of the certificate map. Must be in the format `projects/*/locations/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "certificateMapId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. A user-provided name of the certificate map."
                    }
                  },
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "path": "v1/{+parent}/certificateMaps",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "certificateMapEntries": {
                  "methods": {
                    "patch": {
                      "parameters": {
                        "name": {
                          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates a CertificateMapEntry.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.patch",
                      "httpMethod": "PATCH"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new CertificateMapEntry in a given project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.create",
                      "path": "v1/{+parent}/certificateMapEntries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "certificateMapEntryId": {
                          "description": "Required. A user-provided name of the certificate map entry.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource of the certificate map entry. Must be in the format `projects/*/locations/*/certificateMaps/*`."
                        }
                      },
                      "request": {
                        "$ref": "CertificateMapEntry"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListCertificateMapEntriesResponse"
                      },
                      "description": "Lists CertificateMapEntries in a given project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.list",
                      "path": "v1/{+parent}/certificateMapEntries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filter expression to restrict the returned Certificate Map Entries.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Maximum number of certificate map entries to return. The service may return fewer than this value. If unspecified, at most 50 certificate map entries will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. A list of Certificate Map Entry field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The project, location and certificate map from which the certificate map entries should be listed, specified in the format `projects/*/locations/*/certificateMaps/*`.",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The value returned by the last `ListCertificateMapEntriesResponse`. Indicates that this is a continuation of a prior `ListCertificateMapEntries` call, and that the system should return the next page of data.",
                          "location": "query"
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "CertificateMapEntry"
                      },
                      "description": "Gets details of a single CertificateMapEntry.",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. A name of the certificate map entry to describe. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$"
                        }
                      }
                    },
                    "delete": {
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a single CertificateMapEntry.",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. A name of the certificate map entry to delete. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "dnsAuthorizations": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The project and location from which the dns authorizations should be listed, specified in the format `projects/*/locations/*`.",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The value returned by the last `ListDnsAuthorizationsResponse`. Indicates that this is a continuation of a prior `ListDnsAuthorizations` call, and that the system should return the next page of data.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. A list of Dns Authorization field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to restrict the Dns Authorizations returned.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of dns authorizations to return per call.",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDnsAuthorizationsResponse"
                  },
                  "description": "Lists DnsAuthorizations in a given project and location."
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "DnsAuthorization"
                  },
                  "description": "Gets details of a single DnsAuthorization.",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. A name of the dns authorization to describe. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$"
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single DnsAuthorization.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. A name of the dns authorization to delete. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource of the dns authorization. Must be in the format `projects/*/locations/*`.",
                      "required": true,
                      "type": "string"
                    },
                    "dnsAuthorizationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. A user-provided name of the dns authorization."
                    }
                  },
                  "httpMethod": "POST",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new DnsAuthorization in a given project and location."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a DnsAuthorization.",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "DnsAuthorization"
                  }
                }
              }
            },
            "certificateIssuanceConfigs": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCertificateIssuanceConfigsResponse"
                  },
                  "description": "Lists CertificateIssuanceConfigs in a given project and location.",
                  "path": "v1/{+parent}/certificateIssuanceConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A list of Certificate Config field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`.",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListCertificateIssuanceConfigsResponse`. Indicates that this is a continuation of a prior `ListCertificateIssuanceConfigs` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of certificate configs to return per call.",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter expression to restrict the Certificates Configs returned.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "description": "Gets details of a single CertificateIssuanceConfig.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. A name of the certificate issuance config to describe. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the certificate issuance config to delete. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single CertificateIssuanceConfig.",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new CertificateIssuanceConfig in a given project and location.",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs",
                  "httpMethod": "POST",
                  "parameters": {
                    "certificateIssuanceConfigId": {
                      "description": "Required. A user-provided name of the certificate config.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the certificate issuance config. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "path": "v1/{+parent}/certificateIssuanceConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a CertificateIssuanceConfig.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Certificate Manager",
  "schemas": {
    "SelfManagedCertificate": {
      "id": "SelfManagedCertificate",
      "type": "object",
      "description": "Certificate data for a SelfManaged Certificate. SelfManaged Certificates are uploaded by the user. Updating such certificates before they expire remains the user's responsibility.",
      "properties": {
        "pemPrivateKey": {
          "description": "Optional. Input only. The PEM-encoded private key of the leaf certificate.",
          "type": "string"
        },
        "pemCertificate": {
          "description": "Optional. Input only. The PEM-encoded certificate chain. Leaf certificate comes first, followed by intermediate ones if any.",
          "type": "string"
        }
      }
    },
    "ListCertificateIssuanceConfigsResponse": {
      "id": "ListCertificateIssuanceConfigsResponse",
      "type": "object",
      "description": "Response for the `ListCertificateIssuanceConfigs` method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "certificateIssuanceConfigs": {
          "type": "array",
          "items": {
            "$ref": "CertificateIssuanceConfig"
          },
          "description": "A list of certificate configs for the parent resource."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "IntermediateCA": {
      "id": "IntermediateCA",
      "description": "Defines an intermediate CA.",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "PEM intermediate certificate used for building up paths for validation. Each certificate provided in PEM format may occupy up to 5kB."
        }
      },
      "type": "object"
    },
    "AllowlistedCertificate": {
      "id": "AllowlistedCertificate",
      "description": "Defines an allowlisted certificate.",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "Required. PEM certificate that is allowlisted. The certificate can be up to 5k bytes, and must be a parseable X.509 certificate."
        }
      },
      "type": "object"
    },
    "DnsAuthorization": {
      "type": "object",
      "description": "A DnsAuthorization resource describes a way to perform domain authorization for certificate issuance.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation timestamp of a DnsAuthorization.",
          "format": "google-datetime"
        },
        "tags": {
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with a DnsAuthorization.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "FIXED_RECORD DNS authorization uses DNS-01 validation method.",
            "PER_PROJECT_RECORD DNS authorization allows for independent management of Google-managed certificates with DNS authorization across multiple projects."
          ],
          "description": "Optional. Immutable. Type of DnsAuthorization. If unset during resource creation the following default will be used: - in location `global`: FIXED_RECORD, - in other locations: PER_PROJECT_RECORD.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED_RECORD",
            "PER_PROJECT_RECORD"
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last update timestamp of a DnsAuthorization.",
          "format": "google-datetime",
          "readOnly": true
        },
        "domain": {
          "type": "string",
          "description": "Required. Immutable. A domain that is being authorized. A DnsAuthorization resource covers a single domain and its wildcard, e.g. authorization for `example.com` can be used to issue certificates for `example.com` and `*.example.com`."
        },
        "dnsResourceRecord": {
          "readOnly": true,
          "$ref": "DnsResourceRecord",
          "description": "Output only. DNS Resource Record that needs to be added to DNS configuration."
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a DnsAuthorization.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`."
        }
      },
      "id": "DnsAuthorization"
    },
    "DnsResourceRecord": {
      "id": "DnsResourceRecord",
      "description": "The structure describing the DNS Resource Record that needs to be added to DNS configuration for the authorization to be usable by certificate.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Fully qualified name of the DNS Resource Record. e.g. `_acme-challenge.example.com`",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Type of the DNS Resource Record. Currently always set to \"CNAME\".",
          "type": "string"
        },
        "data": {
          "readOnly": true,
          "description": "Output only. Data of the DNS Resource Record.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Operation"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "IPs": {
      "id": "IPs",
      "type": "object",
      "description": "IPs troubleshooting information.",
      "properties": {
        "servingOnAltPorts": {
          "readOnly": true,
          "description": "Output only. The list of IP addresses, where the certificate is attached, but port 443 is not open.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resolved": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of IP addresses resolved from the domain's A/AAAA records. Can contain both ipv4 and ipv6 addresses.",
          "readOnly": true
        },
        "serving": {
          "description": "Output only. The list of IP addresses, where the certificate is attached and port 443 is open.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "ListTrustConfigsResponse": {
      "description": "Response for the `ListTrustConfigs` method.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "trustConfigs": {
          "description": "A list of TrustConfigs for the parent resource.",
          "type": "array",
          "items": {
            "$ref": "TrustConfig"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListTrustConfigsResponse"
    },
    "UsedBy": {
      "id": "UsedBy",
      "type": "object",
      "description": "Defines a resource that uses the certificate.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, e.g. `//certificatemanager.googleapis.com/projects/*/locations/*/certificateMaps/*/certificateMapEntries/*` or `//compute.googleapis.com/projects/*/locations/*/targetHttpsProxies/*`.",
          "type": "string"
        }
      }
    },
    "ListDnsAuthorizationsResponse": {
      "id": "ListDnsAuthorizationsResponse",
      "type": "object",
      "description": "Response for the `ListDnsAuthorizations` method.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsAuthorizations": {
          "type": "array",
          "items": {
            "$ref": "DnsAuthorization"
          },
          "description": "A list of dns authorizations for the parent resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      }
    },
    "ListCertificatesResponse": {
      "type": "object",
      "description": "Response for the `ListCertificates` method.",
      "properties": {
        "certificates": {
          "description": "A list of certificates for the parent resource.",
          "type": "array",
          "items": {
            "$ref": "Certificate"
          }
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "id": "ListCertificatesResponse"
    },
    "TrustAnchor": {
      "id": "TrustAnchor",
      "type": "object",
      "description": "Defines a trust anchor.",
      "properties": {
        "pemCertificate": {
          "description": "PEM root certificate of the PKI used for validation. Each certificate provided in PEM format may occupy up to 5kB.",
          "type": "string"
        }
      }
    },
    "ManagedCertificate": {
      "id": "ManagedCertificate",
      "description": "Configuration and state of a Managed Certificate. Certificate Manager provisions and renews Managed Certificates automatically, for as long as it's authorized to do so.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ],
          "description": "Output only. State of the managed certificate resource.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ],
          "readOnly": true
        },
        "authorizationAttemptInfo": {
          "description": "Output only. Detailed state of the latest authorization attempt for each domain specified for managed certificate resource.",
          "type": "array",
          "items": {
            "$ref": "AuthorizationAttemptInfo"
          },
          "readOnly": true
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. The domains for which a managed SSL certificate will be generated. Wildcard domains are only supported with DNS challenge resolution."
        },
        "issuanceConfig": {
          "type": "string",
          "description": "Optional. Immutable. The resource name for a CertificateIssuanceConfig used to configure private PKI certificates in the format `projects/*/locations/*/certificateIssuanceConfigs/*`. If this field is not set, the certificates will instead be publicly signed as documented at https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#caa."
        },
        "provisioningIssue": {
          "description": "Output only. Information about issues with provisioning a Managed Certificate.",
          "readOnly": true,
          "$ref": "ProvisioningIssue"
        },
        "dnsAuthorizations": {
          "description": "Optional. Immutable. Authorizations that will be used for performing domain authorization.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "CertificateIssuanceConfig": {
      "type": "object",
      "description": "CertificateIssuanceConfig specifies how to issue and manage a certificate.",
      "properties": {
        "createTime": {
          "description": "Output only. The creation timestamp of a CertificateIssuanceConfig.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "keyAlgorithm": {
          "enumDescriptions": [
            "Unspecified key algorithm.",
            "Specifies RSA with a 2048-bit modulus.",
            "Specifies ECDSA with curve P256."
          ],
          "type": "string",
          "enum": [
            "KEY_ALGORITHM_UNSPECIFIED",
            "RSA_2048",
            "ECDSA_P256"
          ],
          "description": "Required. The key algorithm to use when generating the private key."
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "labels": {
          "description": "Optional. Set of labels associated with a CertificateIssuanceConfig.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "lifetime": {
          "type": "string",
          "description": "Required. Workload certificate lifetime requested.",
          "format": "google-duration"
        },
        "rotationWindowPercentage": {
          "type": "integer",
          "description": "Required. Specifies the percentage of elapsed time of the certificate lifetime to wait before renewing the certificate. Must be a number between 1-99, inclusive.",
          "format": "int32"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last update timestamp of a CertificateIssuanceConfig.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a CertificateIssuanceConfig.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`."
        },
        "certificateAuthorityConfig": {
          "description": "Required. The CA that issues the workload certificate. It includes the CA address, type, authentication to CA service, etc.",
          "$ref": "CertificateAuthorityConfig"
        }
      },
      "id": "CertificateIssuanceConfig"
    },
    "AuthorizationAttemptInfo": {
      "id": "AuthorizationAttemptInfo",
      "description": "State of the latest attempt to authorize a domain for certificate issuance.",
      "properties": {
        "domain": {
          "readOnly": true,
          "description": "Output only. Domain name of the authorization attempt.",
          "type": "string"
        },
        "failureReason": {
          "enumDescriptions": [
            "FailureReason is unspecified.",
            "There was a problem with the user's DNS or load balancer configuration for this domain.",
            "Certificate issuance forbidden by an explicit CAA record for the domain or a failure to check CAA records for the domain.",
            "Reached a CA or internal rate-limit for the domain, e.g. for certificates per top-level private domain."
          ],
          "description": "Output only. Reason for failure of the authorization attempt for the domain.",
          "type": "string",
          "enum": [
            "FAILURE_REASON_UNSPECIFIED",
            "CONFIG",
            "CAA",
            "RATE_LIMITED"
          ],
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AUTHORIZING",
            "AUTHORIZED",
            "FAILED"
          ],
          "description": "Output only. State of the domain for managed certificate issuance.",
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate provisioning for this domain is under way. Google Cloud will attempt to authorize the domain.",
            "A managed certificate can be provisioned, no issues for this domain.",
            "Attempt to authorize the domain failed. This prevents the Managed Certificate from being issued. See `failure_reason` and `details` fields for more information."
          ],
          "readOnly": true
        },
        "details": {
          "readOnly": true,
          "description": "Output only. Human readable explanation for reaching the state. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use FailureReason enum.",
          "type": "string"
        },
        "attemptTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp, when the authorization attempt was made.",
          "format": "google-datetime"
        },
        "troubleshooting": {
          "readOnly": true,
          "$ref": "Troubleshooting",
          "description": "Output only. Troubleshooting information for the authorization attempt. This field is only populated if the authorization attempt failed."
        }
      },
      "type": "object"
    },
    "ListCertificateMapsResponse": {
      "id": "ListCertificateMapsResponse",
      "description": "Response for the `ListCertificateMaps` method.",
      "properties": {
        "certificateMaps": {
          "type": "array",
          "items": {
            "$ref": "CertificateMap"
          },
          "description": "A list of certificate maps for the parent resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "CertificateAuthorityConfig": {
      "description": "The CA that issues the workload certificate. It includes CA address, type, authentication to CA service, etc.",
      "properties": {
        "certificateAuthorityServiceConfig": {
          "description": "Defines a CertificateAuthorityServiceConfig.",
          "$ref": "CertificateAuthorityServiceConfig"
        }
      },
      "type": "object",
      "id": "CertificateAuthorityConfig"
    },
    "CertificateAuthorityServiceConfig": {
      "description": "Contains information required to contact CA service.",
      "properties": {
        "caPool": {
          "description": "Required. A CA pool resource used to issue a certificate. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CertificateAuthorityServiceConfig"
    },
    "TrustStore": {
      "type": "object",
      "description": "Defines a trust store.",
      "properties": {
        "intermediateCas": {
          "type": "array",
          "items": {
            "$ref": "IntermediateCA"
          },
          "description": "Optional. Set of intermediate CA certificates used for the path building phase of chain validation. The field is currently not supported if TrustConfig is used for the workload certificate feature."
        },
        "trustAnchors": {
          "description": "Optional. List of Trust Anchors to be used while performing validation against a given TrustStore.",
          "type": "array",
          "items": {
            "$ref": "TrustAnchor"
          }
        }
      },
      "id": "TrustStore"
    },
    "ProvisioningIssue": {
      "id": "ProvisioningIssue",
      "type": "object",
      "description": "Information about issues with provisioning a Managed Certificate.",
      "properties": {
        "details": {
          "type": "string",
          "description": "Output only. Human readable explanation about the issue. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use Reason enum.",
          "readOnly": true
        },
        "reason": {
          "readOnly": true,
          "enumDescriptions": [
            "Reason is unspecified.",
            "Certificate provisioning failed due to an issue with one or more of the domains on the certificate. For details of which domains failed, consult the `authorization_attempt_info` field.",
            "Exceeded Certificate Authority quotas or internal rate limits of the system. Provisioning may take longer to complete."
          ],
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "AUTHORIZATION_ISSUE",
            "RATE_LIMITED"
          ],
          "description": "Output only. Reason for provisioning failures."
        }
      }
    },
    "TrustConfig": {
      "id": "TrustConfig",
      "type": "object",
      "description": "Defines a trust config.",
      "properties": {
        "trustStores": {
          "type": "array",
          "items": {
            "$ref": "TrustStore"
          },
          "description": "Optional. Set of trust stores to perform validation against. This field is supported when TrustConfig is configured with Load Balancers, currently not supported for SPIFFE certificate validation. Only one TrustStore specified is currently allowed."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "name": {
          "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a TrustConfig."
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of a TrustConfig.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The creation timestamp of a TrustConfig.",
          "format": "google-datetime",
          "readOnly": true
        },
        "spiffeTrustStores": {
          "additionalProperties": {
            "$ref": "TrustStore"
          },
          "type": "object",
          "description": "Optional. Defines a mapping from a trust domain to a TrustStore. This is used for SPIFFE certificate validation."
        },
        "allowlistedCertificates": {
          "type": "array",
          "items": {
            "$ref": "AllowlistedCertificate"
          },
          "description": "Optional. A certificate matching an allowlisted certificate is always considered valid as long as the certificate is parseable, proof of private key possession is established, and constraints on the certificate's SAN field are met."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with a TrustConfig.",
          "type": "object"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status"
    },
    "ListCertificateMapEntriesResponse": {
      "id": "ListCertificateMapEntriesResponse",
      "description": "Response for the `ListCertificateMapEntries` method.",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certificateMapEntries": {
          "description": "A list of certificate map entries for the parent resource.",
          "type": "array",
          "items": {
            "$ref": "CertificateMapEntry"
          }
        }
      },
      "type": "object"
    },
    "Certificate": {
      "description": "Defines TLS certificate.",
      "properties": {
        "managedIdentity": {
          "description": "If set, contains configuration and state of a managed identity certificate.",
          "$ref": "ManagedIdentityCertificate"
        },
        "usedBy": {
          "readOnly": true,
          "description": "Output only. The list of resources that use this Certificate.",
          "type": "array",
          "items": {
            "$ref": "UsedBy"
          }
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of a Certificate.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "scope": {
          "enumDescriptions": [
            "Use the DEFAULT scope if you plan to use the certificate with global external Application Load Balancer, global external proxy Network Load Balancer, or any of the regional Google Cloud services.",
            "Use the EDGE_CACHE scope if you plan to use the certificate with Media CDN. The certificates are served from Edge Points of Presence. See https://cloud.google.com/vpc/docs/edge-locations.",
            "Use the ALL_REGIONS scope if you plan to use the certificate with cross-region internal Application Load Balancer. The certificates are served from all Google Cloud regions. See https://cloud.google.com/compute/docs/regions-zones.",
            "Associated with certificates used as client certificates in Backend mTLS."
          ],
          "description": "Optional. Immutable. The scope of the certificate.",
          "type": "string",
          "enum": [
            "DEFAULT",
            "EDGE_CACHE",
            "ALL_REGIONS",
            "CLIENT_AUTH"
          ]
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with a Certificate.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The expiry timestamp of a Certificate.",
          "format": "google-datetime"
        },
        "pemCertificate": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The PEM-encoded certificate chain."
        },
        "name": {
          "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a certificate."
        },
        "managed": {
          "description": "If set, contains configuration and state of a managed certificate.",
          "$ref": "ManagedCertificate"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation timestamp of a Certificate.",
          "format": "google-datetime"
        },
        "sanDnsnames": {
          "description": "Output only. The list of Subject Alternative Names of dnsName type defined in the certificate (see RFC 5280 4.2.1.6). Managed certificates that haven't been provisioned yet have this field populated with a value of the managed.domains field.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "additionalProperties": {
            "type": "string"
          }
        },
        "selfManaged": {
          "description": "If set, defines data of a self-managed certificate.",
          "$ref": "SelfManagedCertificate"
        }
      },
      "type": "object",
      "id": "Certificate"
    },
    "GclbTarget": {
      "type": "object",
      "description": "Describes a Target Proxy that uses this Certificate Map.",
      "properties": {
        "ipConfigs": {
          "description": "Output only. IP configurations for this Target Proxy where the Certificate Map is serving.",
          "type": "array",
          "items": {
            "$ref": "IpConfig"
          },
          "readOnly": true
        },
        "targetSslProxy": {
          "type": "string",
[...]
