{
  "documentationLink": "https://docs.cloud.google.com/certificate-manager/docs/overview",
  "description": "",
  "baseUrl": "https://certificatemanager.googleapis.com/",
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "servicePath": "",
  "id": "certificatemanager:v1",
  "discoveryVersion": "v1",
  "revision": "20260812",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "title": "Certificate Manager API",
  "ownerName": "Google",
  "schemas": {
    "IntermediateCA": {
      "id": "IntermediateCA",
      "description": "Defines an intermediate CA.",
      "properties": {
        "pemCertificate": {
          "description": "PEM intermediate certificate used for building up paths for validation. Each certificate provided in PEM format may occupy up to 5kB.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DnsResourceRecord": {
      "id": "DnsResourceRecord",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. Type of the DNS Resource Record. Currently always set to \"CNAME\".",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Fully qualified name of the DNS Resource Record. e.g. `_acme-challenge.example.com`",
          "type": "string"
        },
        "data": {
          "readOnly": true,
          "description": "Output only. Data of the DNS Resource Record.",
          "type": "string"
        }
      },
      "description": "The structure describing the DNS Resource Record that needs to be added to DNS configuration for the authorization to be usable by certificate.",
      "type": "object"
    },
    "ListCertificatesResponse": {
      "properties": {
        "certificates": {
          "description": "A list of certificates for the parent resource.",
          "items": {
            "$ref": "Certificate"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "description": "A list of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListCertificatesResponse",
      "description": "Response for the `ListCertificates` method.",
      "type": "object"
    },
    "ManagedIdentityCertificate": {
      "properties": {
        "identity": {
          "description": "Required. Immutable. SPIFFE ID of the Managed Identity used for this certificate.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the managed certificate resource.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ],
          "type": "string"
        },
        "provisioningIssue": {
          "readOnly": true,
          "description": "Output only. Information about issues with provisioning a managed certificate.",
          "$ref": "ProvisioningIssue"
        }
      },
      "type": "object",
      "id": "ManagedIdentityCertificate",
      "description": "Configuration and state of a Managed Identity Certificate. Certificate Manager provisions and renews Managed Identity Certificates automatically, for as long as it's authorized to do so."
    },
    "Troubleshooting": {
      "properties": {
        "cname": {
          "$ref": "CNAME",
          "description": "Output only. CNAME troubleshooting information.",
          "readOnly": true
        },
        "ips": {
          "$ref": "IPs",
          "description": "Output only. IPs troubleshooting information.",
          "readOnly": true
        },
        "issues": {
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Issue is unspecified.",
              "The resolved CNAME value doesn't match the expected CNAME.",
              "Domain has A/AAAA records that point to IPs, where the certificate is not attached.",
              "Domain has A/AAAA records that point to IPs, where the certificate is attached, but port 443 is not open.",
              "Domain doesn't have any A/AAAA records.",
              "Certificate is not configured to be served from any IPs (e.g. Certificate is not attached to any load balancer)."
            ],
            "enum": [
              "ISSUE_UNSPECIFIED",
              "CNAME_MISMATCH",
              "RESOLVED_TO_NOT_SERVING",
              "RESOLVED_TO_SERVING_ON_ALT_PORTS",
              "NO_RESOLVED_IPS",
              "CERTIFICATE_NOT_ATTACHED"
            ]
          },
          "description": "Output only. The list of issues discovered during the authorization attempt.",
          "type": "array"
        }
      },
      "id": "Troubleshooting",
      "description": "Troubleshooting information for the authorization attempt.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "description": "API version used to start the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Server-defined resource path for the target of the operation."
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "description": "Represents the metadata of the long-running operation. Output only.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "IpConfig": {
      "type": "object",
      "description": "Defines IP configuration where this Certificate Map is serving.",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Output only. An external IP address.",
          "readOnly": true
        },
        "ports": {
          "readOnly": true,
          "type": "array",
          "items": {
            "format": "uint32",
            "type": "integer"
          },
          "description": "Output only. Ports."
        }
      },
      "id": "IpConfig"
    },
    "Certificate": {
      "properties": {
        "pemCertificate": {
          "readOnly": true,
          "description": "Output only. The PEM-encoded certificate chain.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation timestamp of a Certificate.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with a Certificate."
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of a Certificate.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`.",
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "selfManaged": {
          "$ref": "SelfManagedCertificate",
          "description": "If set, defines data of a self-managed certificate."
        },
        "managed": {
          "$ref": "ManagedCertificate",
          "description": "If set, contains configuration and state of a managed certificate."
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The expiry timestamp of a Certificate.",
          "format": "google-datetime"
        },
        "usedBy": {
          "type": "array",
          "description": "Output only. The list of resources that use this Certificate.",
          "items": {
            "$ref": "UsedBy"
          },
          "readOnly": true
        },
        "managedIdentity": {
          "description": "If set, contains configuration and state of a managed identity certificate.",
          "$ref": "ManagedIdentityCertificate"
        },
        "scope": {
          "enum": [
            "DEFAULT",
            "EDGE_CACHE",
            "ALL_REGIONS",
            "CLIENT_AUTH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Use the DEFAULT scope if you plan to use the certificate with global external Application Load Balancer, global external proxy Network Load Balancer, or any of the regional Google Cloud services.",
            "Use the EDGE_CACHE scope if you plan to use the certificate with Media CDN. The certificates are served from Edge Points of Presence. See https://cloud.google.com/vpc/docs/edge-locations.",
            "Use the ALL_REGIONS scope if you plan to use the certificate with cross-region internal Application Load Balancer. The certificates are served from all Google Cloud regions. See https://cloud.google.com/compute/docs/regions-zones.",
            "Associated with certificates used as client certificates in Backend mTLS."
          ],
          "description": "Optional. Immutable. The scope of the certificate."
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a certificate.",
          "type": "string"
        },
        "sanDnsnames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of Subject Alternative Names of dnsName type defined in the certificate (see RFC 5280 4.2.1.6). Managed certificates that haven't been provisioned yet have this field populated with a value of the managed.domains field.",
          "readOnly": true
        }
      },
      "description": "Defines TLS certificate.",
      "id": "Certificate",
      "type": "object"
    },
    "ListCertificateMapEntriesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certificateMapEntries": {
          "type": "array",
          "description": "A list of certificate map entries for the parent resource.",
          "items": {
            "$ref": "CertificateMapEntry"
          }
        }
      },
      "id": "ListCertificateMapEntriesResponse",
      "description": "Response for the `ListCertificateMapEntries` method."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location"
    },
    "ListCertificateIssuanceConfigsResponse": {
      "description": "Response for the `ListCertificateIssuanceConfigs` method.",
      "type": "object",
      "properties": {
        "certificateIssuanceConfigs": {
          "items": {
            "$ref": "CertificateIssuanceConfig"
          },
          "description": "A list of certificate configs for the parent resource.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "id": "ListCertificateIssuanceConfigsResponse"
    },
    "ListCertificateMapsResponse": {
      "description": "Response for the `ListCertificateMaps` method.",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certificateMaps": {
          "items": {
            "$ref": "CertificateMap"
          },
          "description": "A list of certificate maps for the parent resource.",
          "type": "array"
        }
      },
      "id": "ListCertificateMapsResponse",
      "type": "object"
    },
    "DnsAuthorization": {
      "description": "A DnsAuthorization resource describes a way to perform domain authorization for certificate issuance.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. Immutable. Type of DnsAuthorization. If unset during resource creation the following default will be used: - in location `global`: FIXED_RECORD, - in other locations: PER_PROJECT_RECORD.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED_RECORD",
            "PER_PROJECT_RECORD"
          ],
          "enumDescriptions": [
            "Type is unspecified.",
            "FIXED_RECORD DNS authorization uses DNS-01 validation method.",
            "PER_PROJECT_RECORD DNS authorization allows for independent management of Google-managed certificates with DNS authorization across multiple projects."
          ],
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Required. Immutable. A domain that is being authorized. A DnsAuthorization resource covers a single domain and its wildcard, e.g. authorization for `example.com` can be used to issue certificates for `example.com` and `*.example.com`."
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of a DnsAuthorization.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a DnsAuthorization.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`.",
          "type": "string"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Optional. Set of labels associated with a DnsAuthorization.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dnsResourceRecord": {
          "readOnly": true,
          "$ref": "DnsResourceRecord",
          "description": "Output only. DNS Resource Record that needs to be added to DNS configuration."
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a DnsAuthorization."
        }
      },
      "id": "DnsAuthorization"
    },
    "AllowlistedCertificate": {
      "id": "AllowlistedCertificate",
      "description": "Defines an allowlisted certificate.",
      "type": "object",
      "properties": {
        "pemCertificate": {
          "description": "Required. PEM certificate that is allowlisted. The certificate can be up to 5k bytes, and must be a parseable X.509 certificate.",
          "type": "string"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListTrustConfigsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "trustConfigs": {
          "description": "A list of TrustConfigs for the parent resource.",
          "items": {
            "$ref": "TrustConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "id": "ListTrustConfigsResponse",
      "type": "object",
      "description": "Response for the `ListTrustConfigs` method."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "CertificateAuthorityServiceConfig": {
      "description": "Contains information required to contact CA service.",
      "id": "CertificateAuthorityServiceConfig",
      "properties": {
        "caPool": {
          "description": "Required. A CA pool resource used to issue a certificate. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TrustAnchor": {
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "PEM root certificate of the PKI used for validation. Each certificate provided in PEM format may occupy up to 5kB."
        }
      },
      "type": "object",
      "description": "Defines a trust anchor.",
      "id": "TrustAnchor"
    },
    "ProvisioningIssue": {
      "id": "ProvisioningIssue",
      "description": "Information about issues with provisioning a Managed Certificate.",
      "type": "object",
      "properties": {
        "details": {
          "description": "Output only. Human readable explanation about the issue. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use Reason enum.",
          "readOnly": true,
          "type": "string"
        },
        "reason": {
          "enumDescriptions": [
            "Reason is unspecified.",
            "Certificate provisioning failed due to an issue with one or more of the domains on the certificate. For details of which domains failed, consult the `authorization_attempt_info` field.",
            "Exceeded Certificate Authority quotas or internal rate limits of the system. Provisioning may take longer to complete."
          ],
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "AUTHORIZATION_ISSUE",
            "RATE_LIMITED"
          ],
          "readOnly": true,
          "description": "Output only. Reason for provisioning failures."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      }
    },
    "SelfManagedCertificate": {
      "description": "Certificate data for a SelfManaged Certificate. SelfManaged Certificates are uploaded by the user. Updating such certificates before they expire remains the user's responsibility.",
      "id": "SelfManagedCertificate",
      "properties": {
        "pemCertificate": {
          "description": "Optional. Input only. The PEM-encoded certificate chain. Leaf certificate comes first, followed by intermediate ones if any.",
          "type": "string"
        },
        "pemPrivateKey": {
          "description": "Optional. Input only. The PEM-encoded private key of the leaf certificate.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CertificateAuthorityConfig": {
      "description": "The CA that issues the workload certificate. It includes CA address, type, authentication to CA service, etc.",
      "properties": {
        "certificateAuthorityServiceConfig": {
          "description": "Defines a CertificateAuthorityServiceConfig.",
          "$ref": "CertificateAuthorityServiceConfig"
        }
      },
      "id": "CertificateAuthorityConfig",
      "type": "object"
    },
    "ManagedCertificate": {
      "properties": {
        "issuanceConfig": {
          "description": "Optional. Immutable. The resource name for a CertificateIssuanceConfig used to configure private PKI certificates in the format `projects/*/locations/*/certificateIssuanceConfigs/*`. If this field is not set, the certificates will instead be publicly signed as documented at https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#caa.",
          "type": "string"
        },
        "authorizationAttemptInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AuthorizationAttemptInfo"
          },
          "description": "Output only. Detailed state of the latest authorization attempt for each domain specified for managed certificate resource."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "FAILED",
            "ACTIVE"
          ],
          "description": "Output only. State of the managed certificate resource.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate Manager attempts to provision or renew the certificate. If the process takes longer than expected, consult the `provisioning_issue` field.",
            "Multiple certificate provisioning attempts failed and Certificate Manager gave up. To try again, delete and create a new managed Certificate resource. For details see the `provisioning_issue` field.",
            "The certificate management is working, and a certificate has been provisioned."
          ]
        },
        "provisioningIssue": {
          "description": "Output only. Information about issues with provisioning a Managed Certificate.",
          "$ref": "ProvisioningIssue",
          "readOnly": true
        },
        "dnsAuthorizations": {
          "type": "array",
          "description": "Optional. Immutable. Authorizations that will be used for performing domain authorization.",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Immutable. The domains for which a managed SSL certificate will be generated. Wildcard domains are only supported with DNS challenge resolution."
        }
      },
      "description": "Configuration and state of a Managed Certificate. Certificate Manager provisions and renews Managed Certificates automatically, for as long as it's authorized to do so.",
      "id": "ManagedCertificate",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "AuthorizationAttemptInfo": {
      "properties": {
        "troubleshooting": {
          "description": "Output only. Troubleshooting information for the authorization attempt. This field is only populated if the authorization attempt failed.",
          "readOnly": true,
          "$ref": "Troubleshooting"
        },
        "failureReason": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "FAILURE_REASON_UNSPECIFIED",
            "CONFIG",
            "CAA",
            "RATE_LIMITED"
          ],
          "enumDescriptions": [
            "FailureReason is unspecified.",
            "There was a problem with the user's DNS or load balancer configuration for this domain.",
            "Certificate issuance forbidden by an explicit CAA record for the domain or a failure to check CAA records for the domain.",
            "Reached a CA or internal rate-limit for the domain, e.g. for certificates per top-level private domain."
          ],
          "description": "Output only. Reason for failure of the authorization attempt for the domain."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State is unspecified.",
            "Certificate provisioning for this domain is under way. Google Cloud will attempt to authorize the domain.",
            "A managed certificate can be provisioned, no issues for this domain.",
            "Attempt to authorize the domain failed. This prevents the Managed Certificate from being issued. See `failure_reason` and `details` fields for more information."
          ],
          "description": "Output only. State of the domain for managed certificate issuance.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AUTHORIZING",
            "AUTHORIZED",
            "FAILED"
          ]
        },
        "domain": {
          "description": "Output only. Domain name of the authorization attempt.",
          "type": "string",
          "readOnly": true
        },
        "attemptTime": {
          "description": "Output only. The timestamp, when the authorization attempt was made.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "details": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human readable explanation for reaching the state. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use FailureReason enum."
        }
      },
      "type": "object",
      "id": "AuthorizationAttemptInfo",
      "description": "State of the latest attempt to authorize a domain for certificate issuance."
    },
    "UsedBy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, e.g. `//certificatemanager.googleapis.com/projects/*/locations/*/certificateMaps/*/certificateMapEntries/*` or `//compute.googleapis.com/projects/*/locations/*/targetHttpsProxies/*`."
        }
      },
      "id": "UsedBy",
      "description": "Defines a resource that uses the certificate."
    },
    "GclbTarget": {
      "properties": {
        "ipConfigs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. IP configurations for this Target Proxy where the Certificate Map is serving.",
          "items": {
            "$ref": "IpConfig"
          }
        },
        "targetHttpsProxy": {
          "description": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetHttpsProxies/*`.",
          "type": "string",
          "readOnly": true
        },
        "targetSslProxy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetSslProxies/*`."
        }
      },
      "type": "object",
      "description": "Describes a Target Proxy that uses this Certificate Map.",
      "id": "GclbTarget"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "TrustStore": {
      "id": "TrustStore",
      "description": "Defines a trust store.",
      "properties": {
        "trustAnchors": {
          "items": {
            "$ref": "TrustAnchor"
          },
          "type": "array",
          "description": "Optional. List of Trust Anchors to be used while performing validation against a given TrustStore."
        },
        "intermediateCas": {
          "items": {
            "$ref": "IntermediateCA"
          },
          "description": "Optional. Set of intermediate CA certificates used for the path building phase of chain validation. The field is currently not supported if TrustConfig is used for the workload certificate feature.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CertificateMapEntry": {
      "id": "CertificateMapEntry",
      "description": "Defines a certificate map entry.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The status is undefined.",
            "The configuration is serving.",
            "Update is in progress. Some frontends may serve this configuration."
          ],
          "description": "Output only. A serving state of this Certificate Map Entry.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "SERVING_STATE_UNSPECIFIED",
            "ACTIVE",
            "PENDING"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with a Certificate Map Entry.",
          "type": "object"
        },
        "matcher": {
          "description": "A predefined matcher for particular cases, other than SNI selection.",
          "enumDescriptions": [
            "A matcher has't been recognized.",
            "A primary certificate that is served when SNI wasn't specified in the request or SNI couldn't be found in the map."
          ],
          "type": "string",
          "enum": [
            "MATCHER_UNSPECIFIED",
            "PRIMARY"
          ]
        },
        "hostname": {
          "description": "A Hostname (FQDN, e.g. `example.com`) or a wildcard hostname expression (`*.example.com`) for a set of hostnames with common suffix. Used as Server Name Indication (SNI) for selecting a proper certificate.",
          "type": "string"
        },
        "certificates": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A set of Certificates defines for the given `hostname`. There can be defined up to four certificates in each Certificate Map Entry. Each certificate must match pattern `projects/*/locations/*/certificates/*`."
        },
        "name": {
          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The update timestamp of a Certificate Map Entry."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation timestamp of a Certificate Map Entry.",
          "type": "string"
        },
        "description": {
          "description": "Optional. One or more paragraphs of text description of a certificate map entry.",
          "type": "string"
        }
      }
    },
    "CNAME": {
      "description": "CNAME troubleshooting information.",
      "id": "CNAME",
      "properties": {
        "expectedData": {
          "type": "string",
          "description": "Output only. The expected value of the CNAME record for the domain, equals to `dns_resource_record.data` in the corresponding `DnsAuthorization`.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the CNAME record for the domain, equals to `dns_resource_record.name` in the corresponding `DnsAuthorization`.",
          "type": "string"
        },
        "resolvedData": {
          "type": "array",
          "description": "Output only. The resolved CNAME chain. Empty list if the CNAME record for `CNAME.name` is not found. Otherwise the first item is the value of the CNAME record for `CNAME.name`. If the CNAME chain is longer, the second item is the value of the CNAME record for the first item, and so on.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListDnsAuthorizationsResponse": {
      "id": "ListDnsAuthorizationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "dnsAuthorizations": {
          "type": "array",
          "items": {
            "$ref": "DnsAuthorization"
          },
          "description": "A list of dns authorizations for the parent resource."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for the `ListDnsAuthorizations` method."
    },
    "CertificateIssuanceConfig": {
      "type": "object",
      "id": "CertificateIssuanceConfig",
      "properties": {
        "keyAlgorithm": {
          "description": "Required. The key algorithm to use when generating the private key.",
          "enum": [
            "KEY_ALGORITHM_UNSPECIFIED",
            "RSA_2048",
            "ECDSA_P256"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified key algorithm.",
            "Specifies RSA with a 2048-bit modulus.",
            "Specifies ECDSA with curve P256."
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a CertificateIssuanceConfig."
        },
        "lifetime": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Workload certificate lifetime requested."
        },
        "rotationWindowPercentage": {
          "type": "integer",
          "description": "Required. Specifies the percentage of elapsed time of the certificate lifetime to wait before renewing the certificate. Must be a number between 1-99, inclusive.",
          "format": "int32"
        },
        "certificateAuthorityConfig": {
          "description": "Required. The CA that issues the workload certificate. It includes the CA address, type, authentication to CA service, etc.",
          "$ref": "CertificateAuthorityConfig"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last update timestamp of a CertificateIssuanceConfig."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation timestamp of a CertificateIssuanceConfig.",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of labels associated with a CertificateIssuanceConfig."
        },
        "name": {
          "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`.",
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        }
      },
      "description": "CertificateIssuanceConfig specifies how to issue and manage a certificate."
    },
    "IPs": {
      "id": "IPs",
      "description": "IPs troubleshooting information.",
      "properties": {
        "serving": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of IP addresses, where the certificate is attached and port 443 is open.",
          "items": {
            "type": "string"
          }
        },
        "resolved": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of IP addresses resolved from the domain's A/AAAA records. Can contain both ipv4 and ipv6 addresses."
        },
        "servingOnAltPorts": {
          "description": "Output only. The list of IP addresses, where the certificate is attached, but port 443 is not open.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "TrustConfig": {
      "id": "TrustConfig",
      "properties": {
        "updateTime": {
          "description": "Output only. The last update timestamp of a TrustConfig.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "spiffeTrustStores": {
          "type": "object",
          "description": "Optional. Defines a mapping from a trust domain to a TrustStore. This is used for SPIFFE certificate validation.",
          "additionalProperties": {
            "$ref": "TrustStore"
          }
        },
        "labels": {
          "description": "Optional. Set of labels associated with a TrustConfig.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a TrustConfig.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "trustStores": {
          "items": {
            "$ref": "TrustStore"
          },
          "type": "array",
          "description": "Optional. Set of trust stores to perform validation against. This field is supported when TrustConfig is configured with Load Balancers, currently not supported for SPIFFE certificate validation. Only one TrustStore specified is currently allowed."
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a TrustConfig."
        },
        "allowlistedCertificates": {
          "items": {
            "$ref": "AllowlistedCertificate"
          },
          "description": "Optional. A certificate matching an allowlisted certificate is always considered valid as long as the certificate is parseable, proof of private key possession is established, and constraints on the certificate's SAN field are met.",
          "type": "array"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`.",
          "type": "string"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Defines a trust config."
    },
    "CertificateMap": {
      "properties": {
        "name": {
          "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`.",
          "type": "string"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "updateTime": {
          "description": "Output only. The update timestamp of a Certificate Map.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation timestamp of a Certificate Map."
        },
        "labels": {
          "description": "Optional. Set of labels associated with a Certificate Map.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Optional. One or more paragraphs of text description of a certificate map."
        },
        "gclbTargets": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list of GCLB targets that use this Certificate Map. A Target Proxy is only present on this list if it's attached to a Forwarding Rule.",
          "items": {
            "$ref": "GclbTarget"
          }
        }
      },
      "description": "Defines a collection of certificate configurations.",
      "type": "object",
      "id": "CertificateMap"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://certificatemanager.mtls.googleapis.com/",
  "rootUrl": "https://certificatemanager.googleapis.com/",
  "version": "v1",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "id": "certificatemanager.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "id": "certificatemanager.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "trustConfigs": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the TrustConfig to describe. Must be in the format `projects/*/locations/*/trustConfigs/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "response": {
                    "$ref": "TrustConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single TrustConfig.",
                  "path": "v1/{+name}",
                  "id": "certificatemanager.projects.locations.trustConfigs.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "certificatemanager.projects.locations.trustConfigs.patch",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates a TrustConfig.",
                  "request": {
                    "$ref": "TrustConfig"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "description": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`."
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/trustConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs",
                  "request": {
                    "$ref": "TrustConfig"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource of the TrustConfig. Must be in the format `projects/*/locations/*`.",
                      "location": "path"
                    },
                    "trustConfigId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A user-provided name of the TrustConfig. Must match the regexp `[a-z0-9-]{1,63}`."
                    }
                  },
                  "id": "certificatemanager.projects.locations.trustConfigs.create",
                  "description": "Creates a new TrustConfig in a given project and location."
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs",
                  "path": "v1/{+parent}/trustConfigs",
                  "description": "Lists TrustConfigs in a given project and location.",
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filter expression to restrict the TrustConfigs returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. A list of TrustConfig field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of TrustConfigs to return per call.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location from which the TrustConfigs should be listed, specified in the format `projects/*/locations/*`.",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The value returned by the last `ListTrustConfigsResponse`. Indicates that this is a continuation of a prior `ListTrustConfigs` call, and that the system should return the next page of data.",
                      "type": "string"
                    }
                  },
                  "id": "certificatemanager.projects.locations.trustConfigs.list",
                  "response": {
                    "$ref": "ListTrustConfigsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "etag": {
                      "description": "Optional. The current etag of the TrustConfig. If an etag is provided and does not match the current etag of the resource, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. A name of the TrustConfig to delete. Must be in the format `projects/*/locations/*/trustConfigs/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trustConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Deletes a single TrustConfig.",
                  "id": "certificatemanager.projects.locations.trustConfigs.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/trustConfigs/{trustConfigsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "dnsAuthorizations": {
              "methods": {
                "list": {
                  "description": "Lists DnsAuthorizations in a given project and location.",
                  "response": {
                    "$ref": "ListDnsAuthorizationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The project and location from which the dns authorizations should be listed, specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A list of Dns Authorization field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to restrict the Dns Authorizations returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of dns authorizations to return per call.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListDnsAuthorizationsResponse`. Indicates that this is a continuation of a prior `ListDnsAuthorizations` call, and that the system should return the next page of data.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations",
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a single DnsAuthorization.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the dns authorization to delete. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "httpMethod": "PATCH",
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates a DnsAuthorization.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Creates a new DnsAuthorization in a given project and location.",
                  "path": "v1/{+parent}/dnsAuthorizations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource of the dns authorization. Must be in the format `projects/*/locations/*`."
                    },
                    "dnsAuthorizationId": {
                      "location": "query",
                      "description": "Required. A user-provided name of the dns authorization.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "DnsAuthorization"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dnsAuthorizations/{dnsAuthorizationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dnsAuthorizations/[^/]+$",
                      "location": "path",
                      "description": "Required. A name of the dns authorization to describe. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`."
                    }
                  },
                  "id": "certificatemanager.projects.locations.dnsAuthorizations.get",
                  "response": {
                    "$ref": "DnsAuthorization"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets details of a single DnsAuthorization.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "certificateIssuanceConfigs": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "path": "v1/{+name}",
                  "description": "Gets details of a single CertificateIssuanceConfig.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. A name of the certificate issuance config to describe. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.get"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. A name of the certificate issuance config to delete. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a single CertificateIssuanceConfig.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new CertificateIssuanceConfig in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the certificate issuance config. Must be in the format `projects/*/locations/*`.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "certificateIssuanceConfigId": {
                      "description": "Required. A user-provided name of the certificate config.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.create",
                  "path": "v1/{+parent}/certificateIssuanceConfigs"
                },
                "patch": {
                  "request": {
                    "$ref": "CertificateIssuanceConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a CertificateIssuanceConfig.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateIssuanceConfigs/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs/{certificateIssuanceConfigsId}",
                  "path": "v1/{+name}",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.patch"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "certificatemanager.projects.locations.certificateIssuanceConfigs.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateIssuanceConfigs",
                  "description": "Lists CertificateIssuanceConfigs in a given project and location.",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter expression to restrict the Certificates Configs returned."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of certificate configs to return per call.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListCertificateIssuanceConfigsResponse`. Indicates that this is a continuation of a prior `ListCertificateIssuanceConfigs` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. A list of Certificate Config field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/certificateIssuanceConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListCertificateIssuanceConfigsResponse"
                  }
                }
              }
            },
            "certificateMaps": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "id": "certificatemanager.projects.locations.certificateMaps.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource of the certificate map. Must be in the format `projects/*/locations/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "certificateMapId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A user-provided name of the certificate map."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new CertificateMap in a given project and location.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/certificateMaps",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps",
                  "description": "Lists CertificateMaps in a given project and location.",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListCertificateMapsResponse`. Indicates that this is a continuation of a prior `ListCertificateMaps` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The project and location from which the certificate maps should be listed, specified in the format `projects/*/locations/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of certificate maps to return per call.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to restrict the Certificates Maps returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. A list of Certificate Map field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListCertificateMapsResponse"
                  },
                  "id": "certificatemanager.projects.locations.certificateMaps.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/certificateMaps"
                },
                "patch": {
                  "request": {
                    "$ref": "CertificateMap"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "description": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`.",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "id": "certificatemanager.projects.locations.certificateMaps.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a CertificateMap.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "certificatemanager.projects.locations.certificateMaps.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "description": "Required. A name of the certificate map to delete. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single CertificateMap. A Certificate Map can't be deleted if it contains Certificate Map Entries. Remove all the entries from the map before calling this method."
                },
                "get": {
                  "description": "Gets details of a single CertificateMap.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                      "description": "Required. A name of the certificate map to describe. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "certificatemanager.projects.locations.certificateMaps.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "CertificateMap"
                  },
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "certificateMapEntries": {
                  "methods": {
                    "delete": {
                      "path": "v1/{+name}",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes a single CertificateMapEntry.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. A name of the certificate map entry to delete. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.get",
                      "response": {
                        "$ref": "CertificateMapEntry"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. A name of the certificate map entry to describe. Must be in the format `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single CertificateMapEntry."
                    },
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "description": "Required. The parent resource of the certificate map entry. Must be in the format `projects/*/locations/*/certificateMaps/*`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "certificateMapEntryId": {
                          "type": "string",
                          "description": "Required. A user-provided name of the certificate map entry.",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/certificateMapEntries",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.create",
                      "description": "Creates a new CertificateMapEntry in a given project and location.",
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "CertificateMapEntry"
                      },
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates a CertificateMapEntry.",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+/certificateMapEntries/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificateMaps/{certificateMapsId}/certificateMapEntries/{certificateMapEntriesId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists CertificateMapEntries in a given project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "certificatemanager.projects.locations.certificateMaps.certificateMapEntries.list",
                      "response": {
                        "$ref": "ListCertificateMapEntriesResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The value returned by the last `ListCertificateMapEntriesResponse`. Indicates that this is a continuation of a prior `ListCertificateMapEntries` call, and that the system should return the next page of data.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The project, location and certificate map from which the certificate map entries should be listed, specified in the format `projects/*/locations/*/certificateMaps/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateMaps/[^/]+$",
                          "required": true
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. A list of Certificate Map Entry field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
[...]
