{
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "servicePath": "",
  "title": "Gemini Enterprise for Customer Experience API",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "version": "v1",
  "name": "ces",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "revision": "20260612",
  "id": "ces:v1",
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "canonicalName": "Customer Engagement Suite",
  "schemas": {
    "McpToolset": {
      "properties": {
        "customHeaders": {
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "serverAddress": {
          "type": "string",
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
        },
        "toolOverrides": {
          "type": "array",
          "description": "Optional. Overrides for individual tools within this toolset. This allows overriding specific details like descriptions, names, or pinning the tools' states so they aren't fully dynamic.",
          "items": {
            "$ref": "McpToolOverride"
          }
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        }
      },
      "id": "McpToolset",
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "type": "object"
    },
    "TransferRuleDisablePlannerTransfer": {
      "id": "TransferRuleDisablePlannerTransfer",
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "type": "object",
      "properties": {
        "expressionCondition": {
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent.",
          "$ref": "ExpressionCondition"
        }
      }
    },
    "BatchDeleteConversationsRequest": {
      "properties": {
        "conversations": {
          "type": "array",
          "description": "Required. The resource names of the conversations to delete.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "BatchDeleteConversationsRequest",
      "description": "Request message for AgentService.BatchDeleteConversations."
    },
    "ClientCertificateSettings": {
      "properties": {
        "tlsCertificate": {
          "type": "string",
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines."
        },
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "privateKey": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        }
      },
      "type": "object",
      "id": "ClientCertificateSettings",
      "description": "Settings for custom client certificates."
    },
    "GuardrailModelSafety": {
      "properties": {
        "safetySettings": {
          "type": "array",
          "description": "Required. List of safety settings.",
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          }
        }
      },
      "type": "object",
      "id": "GuardrailModelSafety",
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe."
    },
    "DataStoreSettings": {
      "properties": {
        "engines": {
          "description": "Output only. The engines for the app.",
          "readOnly": true,
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "DataStoreSettings",
      "description": "Data store related settings for the app."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        }
      }
    },
    "TransferRule": {
      "id": "TransferRule",
      "description": "Rule for transferring to a specific agent.",
      "type": "object",
      "properties": {
        "deterministicTransfer": {
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met.",
          "$ref": "TransferRuleDeterministicTransfer"
        },
        "direction": {
          "type": "string",
          "description": "Required. The direction of the transfer.",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ]
        },
        "childAgent": {
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        }
      }
    },
    "EvaluationMetricsThresholds": {
      "properties": {
        "goldenEvaluationMetricsThresholds": {
          "description": "Optional. The golden evaluation metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
        },
        "hallucinationMetricBehavior": {
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "goldenHallucinationMetricBehavior": {
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "scenarioHallucinationMetricBehavior": {
          "type": "string",
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        }
      },
      "type": "object",
      "id": "EvaluationMetricsThresholds",
      "description": "Threshold settings for metrics in an Evaluation."
    },
    "AgentTool": {
      "id": "AgentTool",
      "description": "Represents a tool that allows the agent to call another agent.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "agent": {
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the agent tool."
        },
        "rootAgent": {
          "type": "string",
          "description": "Optional. Deprecated: Use `agent` instead. The resource name of the root agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "deprecated": true
        }
      }
    },
    "GuardrailContentFilter": {
      "properties": {
        "bannedContentsInUserInput": {
          "type": "array",
          "description": "Optional. List of banned phrases. Applies only to user inputs.",
          "items": {
            "type": "string"
          }
        },
        "bannedContents": {
          "type": "array",
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses.",
          "items": {
            "type": "string"
          }
        },
        "bannedContentsInAgentResponse": {
          "description": "Optional. List of banned phrases. Applies only to agent responses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "matchType": {
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ],
          "type": "string",
          "description": "Required. Match type for the content filter.",
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ]
        },
        "disregardDiacritics": {
          "description": "Optional. If true, diacritics are ignored during matching.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GuardrailContentFilter",
      "description": "Guardrail that bans certain content from being used in the conversation."
    },
    "CitationsCitedChunk": {
      "type": "object",
      "id": "CitationsCitedChunk",
      "description": "Piece of cited information.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI used for citation."
        },
        "text": {
          "type": "string",
          "description": "Text used for citation."
        },
        "title": {
          "description": "Title of the cited document.",
          "type": "string"
        }
      }
    },
    "LfA2aV1Message": {
      "properties": {
        "referenceTaskIds": {
          "type": "array",
          "description": "A list of task IDs that this message references for additional context.",
          "items": {
            "type": "string"
          }
        },
        "contextId": {
          "type": "string",
          "description": "Optional. The context id of the message. If set, the message will be associated with the given context."
        },
        "taskId": {
          "description": "Optional. The task id of the message. If set, the message will be associated with the given task.",
          "type": "string"
        },
        "parts": {
          "type": "array",
          "description": "Required. Parts is the container of the message content.",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        },
        "messageId": {
          "description": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator.",
          "type": "string"
        },
        "extensions": {
          "type": "array",
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Optional. Any metadata to provide along with the message.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "role": {
          "type": "string",
          "description": "Required. Identifies the sender of the message.",
          "enumDescriptions": [
            "The role is unspecified.",
            "The message is from the client to the server.",
            "The message is from the server to the client."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ]
        }
      },
      "id": "LfA2aV1Message",
      "description": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "Action": {
      "id": "Action",
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details.",
      "type": "object",
      "properties": {
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        },
        "inputFields": {
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "outputFields": {
          "type": "array",
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WidgetTool": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The description of the widget tool."
        },
        "widgetType": {
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED.",
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ],
          "type": "string",
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ]
        },
        "dataMapping": {
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters.",
          "$ref": "WidgetToolDataMapping"
        },
        "textResponseConfig": {
          "description": "Optional. Configuration for always-included text responses.",
          "$ref": "WidgetToolTextResponseConfig"
        },
        "parameters": {
          "description": "Optional. The input parameters of the widget tool.",
          "$ref": "Schema"
        },
        "uiConfig": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Configuration for rendering the widget."
        },
        "name": {
          "type": "string",
          "description": "Required. The display name of the widget tool."
        }
      },
      "id": "WidgetTool",
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent.",
      "type": "object"
    },
    "ChannelProfileWebWidgetConfig": {
      "type": "object",
      "id": "ChannelProfileWebWidgetConfig",
      "description": "Message for configuration for the web widget.",
      "properties": {
        "theme": {
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ],
          "type": "string",
          "description": "Optional. The theme of the web widget.",
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ]
        },
        "modality": {
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ],
          "type": "string",
          "description": "Optional. The modality of the web widget.",
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ]
        },
        "webWidgetTitle": {
          "description": "Optional. The title of the web widget.",
          "type": "string"
        },
        "securitySettings": {
          "description": "Optional. The security settings of the web widget.",
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings"
        }
      }
    },
    "AmbientSoundConfig": {
      "id": "AmbientSoundConfig",
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "type": "object",
      "properties": {
        "prebuiltAmbientNoise": {
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "deprecated": true,
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "type": "string",
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ]
        },
        "prebuiltAmbientSound": {
          "type": "string",
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\""
        },
        "gcsUri": {
          "type": "string",
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
        },
        "volumeGainDb": {
          "type": "number",
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "format": "double"
        }
      }
    },
    "DataStoreTool": {
      "properties": {
        "modalityConfigs": {
          "type": "array",
          "description": "Optional. The modality configs for the data store.",
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          }
        },
        "engineSource": {
          "description": "Optional. Search within an Engine (potentially across multiple DataStores).",
          "$ref": "DataStoreToolEngineSource"
        },
        "name": {
          "description": "Required. The data store tool name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        },
        "filterParameterBehavior": {
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "description": "Optional. The filter parameter behavior.",
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ],
          "type": "string"
        },
        "dataStoreSource": {
          "description": "Optional. Search within a single specific DataStore.",
          "$ref": "DataStoreToolDataStoreSource"
        },
        "boostSpecs": {
          "type": "array",
          "description": "Optional. Boost specification to boost certain documents.",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          }
        }
      },
      "type": "object",
      "id": "DataStoreTool",
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "Span": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Output only. The start time of the span.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "childSpans": {
          "type": "array",
          "description": "Output only. The child spans that are nested under this span.",
          "readOnly": true,
          "items": {
            "$ref": "Span"
          }
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of the span.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The name of the span.",
          "readOnly": true,
          "type": "string"
        },
        "duration": {
          "description": "Output only. The duration of the span.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. Key-value attributes associated with the span.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Span",
      "description": "A span is a unit of work or a single operation during the request processing."
    },
    "DataStoreConnectorConfig": {
      "id": "DataStoreConnectorConfig",
      "description": "The connector config for the data store connection.",
      "type": "object",
      "properties": {
        "collection": {
          "type": "string",
          "description": "Resource name of the collection the data store belongs to."
        },
        "collectionDisplayName": {
          "type": "string",
          "description": "Display name of the collection the data store belongs to."
        },
        "dataSource": {
          "type": "string",
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`."
        }
      }
    },
    "ClientFunction": {
      "id": "ClientFunction",
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The function description.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The function name."
        },
        "parameters": {
          "description": "Optional. The schema of the function parameters.",
          "$ref": "Schema"
        },
        "response": {
          "description": "Optional. The schema of the function response.",
          "$ref": "Schema"
        }
      }
    },
    "DataStoreToolEngineSource": {
      "properties": {
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "engine": {
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        },
        "dataStoreSources": {
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          },
          "type": "array"
        }
      },
      "id": "DataStoreToolEngineSource",
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "type": "object"
    },
    "DataStoreToolModalityConfig": {
      "id": "DataStoreToolModalityConfig",
      "description": "If specified, will apply the given configuration for the specified modality.",
      "type": "object",
      "properties": {
        "modalityType": {
          "type": "string",
          "description": "Required. The modality type.",
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ]
        },
        "rewriterConfig": {
          "description": "Optional. The rewriter config.",
          "$ref": "DataStoreToolRewriterConfig"
        },
        "groundingConfig": {
          "description": "Optional. The grounding configuration.",
          "$ref": "DataStoreToolGroundingConfig"
        },
        "summarizationConfig": {
          "description": "Optional. The summarization config.",
          "$ref": "DataStoreToolSummarizationConfig"
        }
      }
    },
    "FileSearchTool": {
      "properties": {
        "corpusType": {
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        },
        "fileCorpus": {
          "type": "string",
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}"
        },
        "name": {
          "type": "string",
          "description": "Required. The tool name."
        }
      },
      "id": "FileSearchTool",
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "type": "object"
    },
    "ListAgentsResponse": {
      "type": "object",
      "id": "ListAgentsResponse",
      "description": "Response message for AgentService.ListAgents.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "agents": {
          "type": "array",
          "description": "The list of agents.",
          "items": {
            "$ref": "Agent"
          }
        }
      }
    },
    "TlsConfigCaCert": {
      "type": "object",
      "id": "TlsConfigCaCert",
      "description": "The CA certificate.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates."
        },
        "cert": {
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "SynthesizeSpeechConfig": {
      "properties": {
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        },
        "speakingRate": {
          "type": "number",
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "format": "double"
        }
      },
      "id": "SynthesizeSpeechConfig",
      "description": "Configuration for how the agent response should be synthesized.",
      "type": "object"
    },
    "ExpressionCondition": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Required. The string representation of cloud.api.Expression condition."
        }
      },
      "id": "ExpressionCondition",
      "description": "Expression condition based on session state.",
      "type": "object"
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "type": "object",
      "properties": {
        "subject": {
          "type": "string",
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "clientKey": {
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "issuer": {
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      }
    },
    "RetrieveToolsRequest": {
      "id": "RetrieveToolsRequest",
      "description": "Request message for ToolService.RetrieveTools.",
      "type": "object",
      "properties": {
        "bypassPersistenceConfig": {
          "type": "boolean",
          "description": "Optional. If true, the returned tools will contain raw descriptions and schemas directly from the server, bypassing any stored persistence configurations (overrides/snapshots)."
        },
        "toolIds": {
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DataStoreSettingsEngine": {
      "type": "object",
      "id": "DataStoreSettingsEngine",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "readOnly": true
        },
        "type": {
          "description": "Output only. The type of the engine.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ]
        }
      }
    },
    "RunSessionResponse": {
      "properties": {
        "outputs": {
          "type": "array",
          "description": "Outputs for the session.",
          "items": {
            "$ref": "SessionOutput"
          }
        }
      },
      "id": "RunSessionResponse",
      "description": "Response message for SessionService.RunSession.",
      "type": "object"
    },
    "Example": {
      "type": "object",
      "id": "Example",
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the example was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the example was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "description": {
          "description": "Optional. Human-readable description of the example.",
          "type": "string"
        },
        "entryAgent": {
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the example."
        },
        "messages": {
          "type": "array",
          "description": "Optional. The collection of messages that make up the conversation.",
          "items": {
            "$ref": "Message"
          }
        },
        "invalid": {
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "Guardrail": {
      "properties": {
        "llmPolicy": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
          "$ref": "GuardrailLlmPolicy"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "contentFilter": {
          "description": "Optional. Guardrail that bans certain content from being used in the conversation.",
          "$ref": "GuardrailContentFilter"
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the guardrail."
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "modelSafety": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings.",
          "$ref": "GuardrailModelSafety"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the guardrail was created.",
          "readOnly": true,
          "type": "string"
        },
        "action": {
          "description": "Optional. Action to take when the guardrail is triggered.",
          "$ref": "TriggerAction"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "readOnly": true
        },
        "llmPromptSecurity": {
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification.",
          "$ref": "GuardrailLlmPromptSecurity"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the guardrail."
        }
      },
      "type": "object",
      "id": "Guardrail",
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure."
    },
    "GuardrailCodeCallback": {
      "properties": {
        "beforeModelCallback": {
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "afterAgentCallback": {
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "afterModelCallback": {
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeAgentCallback": {
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        }
      },
      "id": "GuardrailCodeCallback",
      "description": "Guardrail that blocks the conversation based on the code callbacks provided.",
      "type": "object"
    },
    "Location": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "GoogleSearchToolPromptConfig": {
      "type": "object",
      "id": "GoogleSearchToolPromptConfig",
      "description": "Prompt settings used by the model when processing or summarizing the google search results.",
      "properties": {
        "textPrompt": {
          "type": "string",
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used."
        },
        "voicePrompt": {
          "type": "string",
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used."
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "type": "object",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "description": "Settings for golden evaluations.",
      "properties": {
        "turnLevelMetricsThresholds": {
          "description": "Optional. The turn level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "expectationLevelMetricsThresholds": {
          "description": "Optional. The expectation level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
        },
        "toolMatchingSettings": {
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation.",
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings"
        }
      }
    },
    "TriggerActionGenerativeAnswer": {
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Required. The prompt to use for the generative answer."
        }
      },
      "id": "TriggerActionGenerativeAnswer",
      "description": "The agent will immediately respond with a generative answer.",
      "type": "object"
    },
    "Event": {
      "id": "Event",
      "description": "Event input.",
      "type": "object",
      "properties": {
        "event": {
          "type": "string",
          "description": "Required. The name of the event."
        }
      }
    },
    "GuardrailModelSafetySafetySetting": {
      "properties": {
        "category": {
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          ],
          "type": "string",
          "description": "Required. The harm category.",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content."
          ]
        },
        "threshold": {
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "type": "string",
          "description": "Required. The harm block threshold.",
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ]
        }
      },
      "type": "object",
      "id": "GuardrailModelSafetySafetySetting",
      "description": "Safety setting."
    },
    "Citations": {
      "type": "object",
      "id": "Citations",
      "description": "Citations associated with the agent response.",
      "properties": {
        "citedChunks": {
          "type": "array",
          "description": "List of cited pieces of information.",
          "items": {
            "$ref": "CitationsCitedChunk"
          }
        }
      }
    },
    "SessionOutput": {
      "type": "object",
      "id": "SessionOutput",
      "description": "Output for the session.",
      "properties": {
        "citations": {
          "description": "Citations that provide the source information for the agent's generated text.",
          "$ref": "Citations"
        },
        "turnCompleted": {
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn.",
          "type": "boolean"
        },
        "turnIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1."
        },
        "audio": {
          "format": "byte",
          "description": "Output audio from the CES agent.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Output text from the CES agent."
        },
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool.",
          "$ref": "GoogleSearchSuggestions"
        },
        "diagnosticInfo": {
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn.",
          "$ref": "SessionOutputDiagnosticInfo"
        },
        "toolCalls": {
          "description": "Request for the client to execute the tools.",
          "$ref": "ToolCalls"
        },
        "payload": {
          "description": "Custom payload with structured output from the CES agent.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "McpToolOverride": {
      "type": "object",
      "id": "McpToolOverride",
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "properties": {
        "descriptionOverride": {
          "type": "string",
          "description": "Optional. If present, this tool uses this description instead of the original description from the server."
        },
        "nameOverride": {
          "type": "string",
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools."
        },
        "snapshot": {
          "$ref": "McpToolDefinition",
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present.",
          "readOnly": true
        },
        "tool": {
          "description": "Required. The original name of the tool as it is emitted by the MCP server.",
          "type": "string"
        }
      }
    },
    "ExportAppRequest": {
      "properties": {
        "exportFormat": {
          "description": "Required. The format to export the app in.",
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ]
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`."
        },
        "gcsUri": {
          "type": "string",
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object."
        }
      },
      "type": "object",
      "id": "ExportAppRequest",
      "description": "Request message for AgentService.ExportApp."
    },
    "SecuritySettings": {
      "id": "SecuritySettings",
      "description": "Project/Location level security settings for CES.",
      "type": "object",
      "properties": {
        "endpointControlPolicy": {
          "description": "Optional. Endpoint control related settings.",
          "$ref": "EndpointControlPolicy"
        },
        "name": {
          "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time of the security settings.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Output only. Etag of the security settings.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of the security settings.",
          "readOnly": true
        }
      }
    },
    "WidgetToolDataMapping": {
      "type": "object",
      "id": "WidgetToolDataMapping",
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "properties": {
        "fieldMappings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool."
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ],
          "description": "Optional. The mode of the data mapping.",
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ],
          "type": "string"
        },
        "sourceToolName": {
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`",
          "type": "string"
        },
        "pythonScript": {
          "type": "string",
          "description": "Deprecated: Use `python_function` instead.",
          "deprecated": true
        },
        "pythonFunction": {
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format.",
          "$ref": "PythonFunction"
        }
      }
    },
    "AgentCard": {
      "properties": {
        "supportedInterfaces": {
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "items": {
            "$ref": "AgentInterface"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the agent."
        },
        "version": {
          "description": "Required. The version of the agent.",
          "type": "string"
        },
        "skills": {
          "type": "array",
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "items": {
            "$ref": "AgentSkill"
          }
        },
        "description": {
          "description": "Required. A description of the agent's domain of action/solution space.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AgentCard",
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard"
    },
    "BigQueryExportSettings": {
      "id": "BigQueryExportSettings",
      "description": "Settings to describe the BigQuery export behaviors for the app.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the BigQuery export is enabled."
        },
        "dataset": {
          "description": "Optional. The BigQuery **dataset ID** to export the data to.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        }
      }
    },
    "OpenApiToolset": {
      "properties": {
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates",
          "$ref": "TlsConfig"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema.",
          "type": "boolean"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "openApiSchema": {
          "type": "string",
          "description": "Required. The OpenAPI schema of the toolset."
        }
      },
      "type": "object",
      "id": "OpenApiToolset",
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "MockedToolCall": {
      "type": "object",
      "id": "MockedToolCall",
      "description": "A mocked tool call. Expresses the target tool + a pattern to match against that tool's args / inputs. If the pattern matches, then the mock response will be returned.",
      "properties": {
        "toolId": {
          "description": "Optional. The name of the tool to mock. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "tool": {
          "description": "Optional. Deprecated. Use tool_identifier instead.",
          "deprecated": true,
          "type": "string"
        },
        "mockResponse": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The mock response / output to return if the tool call args / inputs match the pattern."
        },
        "toolset": {
          "description": "Optional. The toolset to mock.",
          "$ref": "ToolsetTool"
        },
        "expectedArgsPattern": {
          "description": "Required. A pattern to match against the args / inputs of all dispatched tool calls. If the tool call inputs match this pattern, then mock output will be returned.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "properties": {
        "escalateSession": {
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details.",
          "type": "boolean"
        }
      },
      "id": "ErrorHandlingSettingsEndSessionConfig",
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors).",
      "type": "object"
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "properties": {
        "extraToolCallBehavior": {
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "type": "string",
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ]
        }
      },
      "id": "EvaluationMetricsThresholdsToolMatchingSettings",
      "description": "Settings for matching tool calls.",
      "type": "object"
    },
    "ListExamplesResponse": {
      "id": "ListExamplesResponse",
      "description": "Response message for AgentService.ListExamples.",
      "type": "object",
      "properties": {
        "examples": {
          "type": "array",
          "description": "The list of examples.",
          "items": {
            "$ref": "Example"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "ListGuardrailsResponse": {
      "type": "object",
      "id": "ListGuardrailsResponse",
      "description": "Response message for AgentService.ListGuardrails.",
      "properties": {
        "guardrails": {
          "type": "array",
          "description": "The list of guardrails.",
          "items": {
            "$ref": "Guardrail"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "ListToolsetsResponse": {
      "properties": {
        "toolsets": {
          "description": "The list of toolsets.",
          "items": {
            "$ref": "Toolset"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListToolsetsResponse",
      "description": "Response message for AgentService.ListToolsets."
    },
    "ToolsetTool": {
      "properties": {
        "toolset": {
          "type": "string",
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        },
        "toolId": {
          "type": "string",
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for."
        }
      },
      "id": "ToolsetTool",
      "description": "A tool that is created from a toolset.",
      "type": "object"
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "properties": {
        "enablePublicAccess": {
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableRecaptcha": {
          "type": "boolean",
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled."
        },
        "enableOriginCheck": {
          "type": "boolean",
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins."
        }
      },
      "type": "object",
      "id": "ChannelProfileWebWidgetConfigSecuritySettings",
      "description": "Security settings for the web widget."
    },
    "TimeZoneSettings": {
      "id": "TimeZoneSettings",
      "description": "TimeZone settings of the app.",
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris."
        }
      }
    },
    "Chunk": {
      "id": "Chunk",
      "description": "A chunk of content within a message.",
      "type": "object",
      "properties": {
        "toolResponse": {
          "description": "Optional. Tool execution response.",
          "$ref": "ToolResponse"
        },
        "payload": {
          "description": "Optional. Custom payload data.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "toolCall": {
          "description": "Optional. Tool execution request.",
          "$ref": "ToolCall"
        },
        "agentTransfer": {
          "description": "Optional. Agent transfer event.",
          "$ref": "AgentTransfer"
        },
        "updatedVariables": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names."
        },
        "transcript": {
          "type": "string",
          "description": "Optional. Transcript associated with the audio."
        },
        "image": {
          "description": "Optional. Image data.",
          "$ref": "Image"
        },
        "defaultVariables": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names."
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "blob": {
          "description": "Optional. Blob data.",
          "$ref": "Blob"
        }
      }
    },
    "ChannelProfile": {
      "type": "object",
      "id": "ChannelProfile",
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony.",
      "properties": {
        "webWidgetConfig": {
          "description": "Optional. The configuration for the web widget.",
          "$ref": "ChannelProfileWebWidgetConfig"
        },
        "disableBargeInControl": {
          "type": "boolean",
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt."
        },
        "noiseSuppressionLevel": {
          "type": "string",
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
        },
        "profileId": {
          "description": "Optional. The unique identifier of the channel profile.",
          "type": "string"
        },
        "channelType": {
          "type": "string",
          "description": "Optional. The type of the channel profile.",
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Five9 channel.",
            "Third party contact center integration channel."
          ],
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION"
          ]
        },
        "personaProperty": {
          "description": "Optional. The persona property of the channel profile.",
          "$ref": "ChannelProfilePersonaProperty"
        },
        "disableDtmf": {
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency).",
          "type": "boolean"
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "type": "object",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
      "description": "Turn level metrics thresholds.",
      "properties": {
        "semanticSimilaritySuccessThreshold": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3."
        },
        "overallToolInvocationCorrectnessThreshold": {
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0.",
          "type": "number",
          "format": "float"
        },
        "semanticSimilarityChannel": {
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Optional. The semantic similarity channel to use for evaluation.",
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ],
          "type": "string"
        }
      }
    },
    "AppSnapshot": {
      "type": "object",
      "id": "AppSnapshot",
      "description": "A snapshot of the app.",
      "properties": {
        "tools": {
          "type": "array",
          "description": "Optional. List of tools in the app.",
          "items": {
            "$ref": "Tool"
          }
        },
        "examples": {
          "type": "array",
          "description": "Optional. List of examples in the app.",
          "items": {
            "$ref": "Example"
          }
        },
        "guardrails": {
          "type": "array",
          "description": "Optional. List of guardrails in the app.",
          "items": {
            "$ref": "Guardrail"
          }
        },
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "agents": {
          "description": "Optional. List of agents in the app.",
          "items": {
            "$ref": "Agent"
          },
          "type": "array"
        },
        "toolsets": {
          "description": "Optional. List of toolsets in the app.",
          "items": {
            "$ref": "Toolset"
          },
          "type": "array"
        }
      }
    },
    "ImportAppRequest": {
      "id": "ImportAppRequest",
      "description": "Request message for AgentService.ImportApp.",
      "type": "object",
      "properties": {
        "importOptions": {
          "description": "Optional. Options governing the import process for the app.",
          "$ref": "ImportAppRequestImportOptions"
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "appContent": {
          "description": "Raw bytes representing the compressed zip file with the app folder structure.",
          "type": "string",
          "format": "byte"
        },
        "appId": {
          "type": "string",
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error."
        },
        "ignoreAppLock": {
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock.",
          "type": "boolean"
        }
      }
    },
    "GoogleSearchTool": {
      "type": "object",
      "id": "GoogleSearchTool",
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search.",
      "properties": {
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "contextUrls": {
          "type": "array",
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed.",
          "items": {
            "type": "string"
          }
        },
        "preferredDomains": {
          "type": "array",
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified.",
          "items": {
            "type": "string"
          }
        },
        "promptConfig": {
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice.",
          "$ref": "GoogleSearchToolPromptConfig"
        },
        "excludeDomains": {
          "type": "array",
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        }
      }
    },
    "AppVersion": {
      "type": "object",
      "id": "AppVersion",
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app version."
        },
        "creator": {
          "description": "Output only. Email of the user who created the app version.",
          "readOnly": true,
          "type": "string"
        },
        "snapshot": {
          "description": "Output only. The snapshot of the app when the version is created.",
          "readOnly": true,
          "$ref": "AppSnapshot"
        },
        "name": {
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app version was created.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the app version."
        }
      }
    },
    "OpenApiTool": {
      "type": "object",
      "id": "OpenApiTool",
      "description": "A remote API tool defined by an OpenAPI schema.",
      "properties": {
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust.",
          "$ref": "TlsConfig"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "ignoreUnknownFields": {
          "type": "boolean",
          "description": "Optional. If true, the agent will ignore unknown fields in the API response."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`."
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "openApiSchema": {
          "type": "string",
          "description": "Required. The OpenAPI schema in JSON or YAML format."
        }
      }
    },
    "LfA2aV1Part": {
      "type": "object",
      "id": "LfA2aV1Part",
      "description": "`Part` represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON).",
      "properties": {
        "data": {
          "type": "any",
          "description": "Arbitrary structured `data` as a JSON value (object, array, string, number, boolean, or null)."
        },
        "text": {
          "type": "string",
          "description": "The string content of the `text` part."
        },
        "raw": {
          "type": "string",
          "description": "The `raw` byte content of a file. In JSON serialization, this is encoded as a base64 string.",
          "format": "byte"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. metadata associated with this part."
        },
        "filename": {
          "description": "An optional `filename` for the file (e.g., \"document.pdf\").",
          "type": "string"
        },
        "mediaType": {
          "type": "string",
          "description": "The `media_type` (MIME type) of the part content (e.g., \"text/plain\", \"application/json\", \"image/png\"). This field is available for all part types."
        },
        "url": {
          "type": "string",
          "description": "A `url` pointing to the file's content."
        }
      }
    },
    "BearerTokenConfig": {
      "id": "BearerTokenConfig",
      "description": "Configurations for authentication with a bearer token.",
      "type": "object",
      "properties": {
        "token": {
          "description": "Required. The bearer token. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      }
    },
    "LoggingSettings": {
      "properties": {
        "conversationLoggingSettings": {
          "description": "Optional. Settings to describe the conversation logging behaviors for the app.",
          "$ref": "ConversationLoggingSettings"
        },
        "audioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded. The audio is subject to redaction as configured in RedactionConfig.",
          "$ref": "AudioRecordingConfig"
        },
        "evaluationAudioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions.",
          "$ref": "AudioRecordingConfig"
        },
        "cloudLoggingSettings": {
          "description": "Optional. Settings to describe the Cloud Logging behaviors for the app.",
          "$ref": "CloudLoggingSettings"
        },
        "metricAnalysisSettings": {
          "description": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app.",
          "$ref": "MetricAnalysisSettings"
        },
        "redactionConfig": {
          "description": "Optional. Configuration for how sensitive data should be redacted.",
          "$ref": "RedactionConfig"
        },
        "bigqueryExportSettings": {
          "description": "Optional. Configures the BigQuery export behaviors for the app. The conversation data is subject to redaction as configured in RedactionConfig.",
          "$ref": "BigQueryExportSettings"
        },
        "unredactedAudioRecordingConfig": {
          "description": "Optional. Configures an additional recording of unredacted audio. This can be used to maintain a raw audio copy when audio redaction is enabled, typically for auditing or monitoring purposes.",
          "$ref": "AudioRecordingConfig"
        }
      },
      "id": "LoggingSettings",
      "description": "Settings to describe the logging behaviors for the app.",
      "type": "object"
    },
    "DataStoreToolRewriterConfig": {
      "properties": {
        "modelSettings": {
          "description": "Required. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the rewriter is disabled."
        }
      },
      "type": "object",
      "id": "DataStoreToolRewriterConfig",
      "description": "Rewriter configuration."
    },
    "McpTool": {
      "type": "object",
      "id": "McpTool",
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details.",
      "properties": {
        "description": {
          "description": "Optional. The description of the MCP tool.",
          "type": "string"
        },
        "nameOverride": {
          "type": "string",
          "description": "Optional. The name override of the MCP tool. This is populated if the name was overridden by a Toolset override."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "STALE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "The tool is available and actively offered by the server.",
            "The tool is configured or pinned, but currently not offered by the server.",
            "The tool exists on the server, but does not match the version on the server."
          ],
          "description": "Output only. The dynamic availability state of the tool on the external server.",
          "readOnly": true
        },
        "serverAddress": {
          "type": "string",
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
        },
        "customHeaders": {
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "outputSchema": {
          "description": "Optional. The schema of the output arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the MCP tool."
        },
        "inputSchema": {
          "description": "Optional. The schema of the input arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        }
      }
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "properties": {
        "oauthToken": {
          "type": "string",
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`."
        }
      },
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "type": "object"
    },
    "LfA2aV1SendMessageResponse": {
      "properties": {
        "task": {
          "description": "The task created or updated by the message.",
          "$ref": "LfA2aV1Task"
        },
        "message": {
          "description": "A message from the agent.",
          "$ref": "LfA2aV1Message"
        }
      },
      "id": "LfA2aV1SendMessageResponse",
      "description": "Represents the response for the `SendMessage` method.",
      "type": "object"
    },
    "ListConversationsResponse": {
      "properties": {
        "conversations": {
          "description": "The list of conversations.",
          "items": {
            "$ref": "Conversation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListConversationsResponse",
      "description": "Response message for AgentService.ListConversations.",
      "type": "object"
    },
    "EndUserAuthConfig": {
      "properties": {
        "oauth2AuthCodeConfig": {
          "description": "Oauth 2.0 Authorization Code authentication.",
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig"
        },
        "oauth2JwtBearerConfig": {
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication.",
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig"
        }
      },
      "type": "object",
      "id": "EndUserAuthConfig",
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`."
    },
    "TriggerAction": {
      "properties": {
        "respondImmediately": {
          "description": "Optional. Immediately respond with a preconfigured response.",
          "$ref": "TriggerActionRespondImmediately"
        },
        "transferAgent": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "TriggerActionTransferAgent"
        },
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        }
      },
      "id": "TriggerAction",
      "description": "Action that is taken when a certain precondition is met.",
      "type": "object"
    },
    "Changelog": {
      "properties": {
        "newResource": {
          "description": "Output only. The new resource after the change.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "displayName": {
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed.",
          "readOnly": true,
          "type": "string"
        },
        "sequenceNumber": {
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "dependentResources": {
          "type": "array",
          "description": "Output only. The dependent resources that were changed.",
          "readOnly": true,
          "items": {
            "type": "object",
            "additionalProperties": {
[...]
