{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1",
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260831",
  "name": "ces",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "title": "Gemini Enterprise for Customer Experience API",
  "protocol": "rest",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/"
    }
  ],
  "kind": "discovery#restDescription",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "baseUrl": "https://ces.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "basePath": "",
  "schemas": {
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "description": "Security settings for the web widget.",
      "id": "ChannelProfileWebWidgetConfigSecuritySettings",
      "type": "object",
      "properties": {
        "enableOriginCheck": {
          "type": "boolean",
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins."
        },
        "enableRecaptcha": {
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled.",
          "type": "boolean"
        },
        "enablePublicAccess": {
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "type": "array",
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LfA2aV1AgentCardSignature": {
      "type": "object",
      "id": "LfA2aV1AgentCardSignature",
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "properties": {
        "header": {
          "description": "The unprotected JWS header values.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "signature": {
          "description": "Required. The computed signature, base64url-encoded.",
          "type": "string"
        },
        "protected": {
          "type": "string",
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object."
        }
      }
    },
    "RedactionConfig": {
      "type": "object",
      "description": "Configuration to instruct how sensitive data should be handled.",
      "id": "RedactionConfig",
      "properties": {
        "inspectTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`"
        },
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        },
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        }
      }
    },
    "SessionConfig": {
      "id": "SessionConfig",
      "properties": {
        "deployment": {
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\".",
          "type": "string"
        },
        "excludeDiagnosticInfo": {
          "type": "boolean",
          "description": "Optional. Whether to exclude diagnostic info from the session output."
        },
        "useToolFakes": {
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools.",
          "type": "boolean"
        },
        "entryAgent": {
          "type": "string",
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "enableTextStreaming": {
          "type": "boolean",
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession."
        },
        "outputAudioConfig": {
          "$ref": "OutputAudioConfig",
          "description": "Optional. Configuration for generating the output audio."
        },
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "historicalContexts": {
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "remoteDialogflowQueryParameters": {
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
          "$ref": "SessionConfigRemoteDialogflowQueryParameters"
        }
      },
      "type": "object",
      "description": "The configuration for the session."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "ToolResponse": {
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result."
        },
        "parentToolCallId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling."
        },
        "agentName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the tool."
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "id": {
          "description": "Optional. The matching ID of the tool call the response is for.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ToolResponse",
      "description": "The execution result of a specific tool from the client or the agent."
    },
    "LfA2aV1AgentProvider": {
      "description": "Represents the service provider of an agent.",
      "properties": {
        "organization": {
          "description": "Required. The name of the agent provider's organization. Example: \"Google\"",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Required. A URL for the agent provider's website or relevant documentation. Example: \"https://ai.google.dev\""
        }
      },
      "id": "LfA2aV1AgentProvider",
      "type": "object"
    },
    "Guardrail": {
      "properties": {
        "llmPromptSecurity": {
          "$ref": "GuardrailLlmPromptSecurity",
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification."
        },
        "name": {
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the guardrail.",
          "type": "string"
        },
        "codeCallback": {
          "$ref": "GuardrailCodeCallback",
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution."
        },
        "contentFilter": {
          "description": "Optional. Guardrail that bans certain content from being used in the conversation.",
          "$ref": "GuardrailContentFilter"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "modelSafety": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings.",
          "$ref": "GuardrailModelSafety"
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the guardrail."
        },
        "action": {
          "description": "Optional. Action to take when the guardrail is triggered.",
          "$ref": "TriggerAction"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was created.",
          "format": "google-datetime"
        },
        "llmPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
        }
      },
      "id": "Guardrail",
      "type": "object",
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure."
    },
    "ListAgentsResponse": {
      "properties": {
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "description": "The list of agents.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListAgentsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListAgents."
    },
    "LfA2aV1SendMessageRequest": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Required. The message to send to the agent.",
          "$ref": "LfA2aV1Message"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A flexible key-value map for passing additional context or parameters."
        },
        "configuration": {
          "description": "Configuration for the send request.",
          "$ref": "LfA2aV1SendMessageConfiguration"
        }
      },
      "id": "LfA2aV1SendMessageRequest",
      "description": "Represents a request for the `SendMessage` method."
    },
    "Message": {
      "description": "A message within a conversation.",
      "type": "object",
      "properties": {
        "chunks": {
          "type": "array",
          "description": "Optional. Content of the message as a series of chunks.",
          "items": {
            "$ref": "Chunk"
          }
        },
        "eventTime": {
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "format": "google-datetime",
          "type": "string"
        },
        "role": {
          "description": "Optional. The role within the conversation, e.g., user, agent.",
          "type": "string"
        }
      },
      "id": "Message"
    },
    "ExportAppRequest": {
      "type": "object",
      "description": "Request message for AgentService.ExportApp.",
      "id": "ExportAppRequest",
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "type": "string",
          "description": "Required. The format to export the app in."
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`."
        },
        "gcsUri": {
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object.",
          "type": "string"
        }
      }
    },
    "LfA2aV1Message": {
      "description": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it.",
      "type": "object",
      "id": "LfA2aV1Message",
      "properties": {
        "parts": {
          "items": {
            "$ref": "LfA2aV1Part"
          },
          "type": "array",
          "description": "Required. Parts is the container of the message content."
        },
        "referenceTaskIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of task IDs that this message references for additional context."
        },
        "taskId": {
          "description": "Optional. The task id of the message. If set, the message will be associated with the given task.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. Any metadata to provide along with the message."
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "description": "Required. Identifies the sender of the message.",
          "type": "string",
          "enumDescriptions": [
            "The role is unspecified.",
            "The message is from the client to the server.",
            "The message is from the server to the client."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ]
        },
        "contextId": {
          "description": "Optional. The context id of the message. If set, the message will be associated with the given context.",
          "type": "string"
        },
        "messageId": {
          "type": "string",
          "description": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator."
        }
      }
    },
    "EvaluationMetricsThresholds": {
      "type": "object",
      "description": "Threshold settings for metrics in an Evaluation.",
      "id": "EvaluationMetricsThresholds",
      "properties": {
        "scenarioHallucinationMetricBehavior": {
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. The hallucination metric behavior for scenario evaluations."
        },
        "hallucinationMetricBehavior": {
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "type": "string"
        },
        "goldenEvaluationMetricsThresholds": {
          "description": "Optional. The golden evaluation metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
        },
        "goldenHallucinationMetricBehavior": {
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "type": "string"
        }
      }
    },
    "DataStoreSettingsEngine": {
      "id": "DataStoreSettingsEngine",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "description": "Output only. The type of the engine.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        }
      }
    },
    "BatchDeleteConversationsRequest": {
      "type": "object",
      "id": "BatchDeleteConversationsRequest",
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "properties": {
        "conversations": {
          "items": {
            "type": "string"
          },
          "description": "Required. The resource names of the conversations to delete.",
          "type": "array"
        }
      }
    },
    "ChannelProfileInstagramConfig": {
      "type": "object",
      "description": "Configuration specific to Instagram deployments.",
      "id": "ChannelProfileInstagramConfig",
      "properties": {
        "description": {
          "description": "Output only. The description of the Meta business page or profile.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fetched Meta business page name."
        },
        "thumbnailUrl": {
          "description": "Output only. The fetched Meta business profile thumbnail URL.",
          "readOnly": true,
          "type": "string"
        },
        "instagramAccountId": {
          "type": "string",
          "description": "Required. The Instagram Account ID."
        }
      }
    },
    "ListExamplesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "examples": {
          "items": {
            "$ref": "Example"
          },
          "description": "The list of examples.",
          "type": "array"
        }
      },
      "id": "ListExamplesResponse",
      "description": "Response message for AgentService.ListExamples.",
      "type": "object"
    },
    "AgentTool": {
      "id": "AgentTool",
      "description": "Represents a tool that allows the agent to call another agent.",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        },
        "name": {
          "description": "Required. The name of the agent tool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        }
      },
      "type": "object"
    },
    "LfA2aV1StreamResponse": {
      "description": "A wrapper object used in streaming operations to encapsulate different types of response data.",
      "id": "LfA2aV1StreamResponse",
      "type": "object",
      "properties": {
        "statusUpdate": {
          "description": "An event indicating a task status update.",
          "$ref": "LfA2aV1TaskStatusUpdateEvent"
        },
        "task": {
          "description": "A Task object containing the current state of the task.",
          "$ref": "LfA2aV1Task"
        },
        "artifactUpdate": {
          "description": "An event indicating a task artifact update.",
          "$ref": "LfA2aV1TaskArtifactUpdateEvent"
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A Message object containing a message from the agent."
        }
      }
    },
    "GenerateChatTokenRequest": {
      "properties": {
        "deployment": {
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        },
        "liveHandoffEnabled": {
          "description": "Optional. Indicates if live handoff is enabled for the session.",
          "type": "boolean"
        }
      },
      "description": "Request message for WidgetService.GenerateChatToken.",
      "id": "GenerateChatTokenRequest",
      "type": "object"
    },
    "ImportAppResponse": {
      "description": "Response message for AgentService.ImportApp.",
      "id": "ImportAppResponse",
      "type": "object",
      "properties": {
        "warnings": {
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "The resource name of the app that was imported.",
          "type": "string"
        }
      }
    },
    "RetrieveToolsRequest": {
      "properties": {
        "bypassPersistenceConfig": {
          "description": "Optional. If true, the returned tools will contain raw descriptions and schemas directly from the server, bypassing any stored persistence configurations (overrides/snapshots).",
          "type": "boolean"
        },
        "toolIds": {
          "type": "array",
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Request message for ToolService.RetrieveTools.",
      "id": "RetrieveToolsRequest"
    },
    "App": {
      "id": "App",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the app was last updated.",
          "format": "google-datetime"
        },
        "globalInstruction": {
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents.",
          "type": "string"
        },
        "rootAgent": {
          "type": "string",
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "pinned": {
          "description": "Optional. Whether the app is pinned in the app list.",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true
        },
        "dataStoreSettings": {
          "$ref": "DataStoreSettings",
          "description": "Optional. The data store settings for the app."
        },
        "timeZoneSettings": {
          "description": "Optional. TimeZone settings of the app.",
          "$ref": "TimeZoneSettings"
        },
        "vpcScSettings": {
          "$ref": "VpcScSettings",
          "description": "Optional. VPC-SC settings for the app."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the app was created.",
          "format": "google-datetime"
        },
        "locked": {
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected.",
          "type": "boolean"
        },
        "deploymentCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of deployments in the app.",
          "readOnly": true
        },
        "clientCertificateSettings": {
          "$ref": "ClientCertificateSettings",
          "description": "Optional. The default client certificate settings for the app."
        },
        "variableDeclarations": {
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "type": "array",
          "description": "Optional. The declarations of the variables."
        },
        "defaultChannelProfile": {
          "description": "Optional. The default channel profile used by the app.",
          "$ref": "ChannelProfile"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the app."
        },
        "validationErrors": {
          "readOnly": true,
          "description": "Output only. Misconfigurations or warnings in the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "toolExecutionMode": {
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ],
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL.",
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ],
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages."
        },
        "dashboardSettings": {
          "$ref": "DashboardSettings",
          "description": "Optional. App-specific dashboard settings for linking and configuring Contact Center Insights dashboards."
        },
        "languageSettings": {
          "description": "Optional. Language settings of the app.",
          "$ref": "LanguageSettings"
        },
        "predefinedVariableDeclarations": {
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The declarations of predefined variables for the app."
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the app."
        },
        "errorHandlingSettings": {
          "$ref": "ErrorHandlingSettings",
          "description": "Optional. Error handling settings of the app."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed."
        },
        "loggingSettings": {
          "description": "Optional. Logging settings of the app.",
          "$ref": "LoggingSettings"
        },
        "evaluationMetricsThresholds": {
          "description": "Optional. The evaluation thresholds for the app.",
          "$ref": "EvaluationMetricsThresholds"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`"
        },
        "guardrails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "audioProcessingConfig": {
          "$ref": "AudioProcessingConfig",
          "description": "Optional. Audio processing configuration of the app."
        }
      },
      "type": "object",
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context."
    },
    "TriggerActionGenerativeAnswer": {
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Required. The prompt to use for the generative answer.",
          "type": "string"
        }
      },
      "id": "TriggerActionGenerativeAnswer",
      "description": "The agent will immediately respond with a generative answer."
    },
    "ServiceDirectoryConfig": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app."
        }
      },
      "id": "ServiceDirectoryConfig",
      "description": "Configuration for tools using Service Directory."
    },
    "LfA2aV1AgentSkill": {
      "id": "LfA2aV1AgentSkill",
      "type": "object",
      "description": "Represents a distinct capability or function that an agent can perform.",
      "properties": {
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "tags": {
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        },
        "inputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of supported input media types for this skill, overriding the agent's defaults."
        },
        "outputModes": {
          "type": "array",
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "securityRequirements": {
          "description": "Security schemes necessary for this skill.",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "type": "array"
        }
      }
    },
    "VpcScSettings": {
      "description": "VPC-SC settings for the app.",
      "id": "VpcScSettings",
      "type": "object",
      "properties": {
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "type": "array"
        }
      }
    },
    "WidgetTool": {
      "id": "WidgetTool",
      "type": "object",
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The display name of the widget tool."
        },
        "dataMapping": {
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters.",
          "$ref": "WidgetToolDataMapping"
        },
        "parameters": {
          "$ref": "Schema",
          "description": "Optional. The input parameters of the widget tool."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the widget tool."
        },
        "uiConfig": {
          "description": "Optional. Configuration for rendering the widget.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "widgetType": {
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ],
          "type": "string",
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ],
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED."
        },
        "textResponseConfig": {
          "description": "Optional. Configuration for always-included text responses.",
          "$ref": "WidgetToolTextResponseConfig"
        }
      }
    },
    "ToolCalls": {
      "properties": {
        "toolCalls": {
          "items": {
            "$ref": "ToolCall"
          },
          "type": "array",
          "description": "Optional. The list of tool calls to execute."
        }
      },
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "id": "ToolCalls",
      "type": "object"
    },
    "ListToolsResponse": {
      "type": "object",
      "id": "ListToolsResponse",
      "description": "Response message for AgentService.ListTools.",
      "properties": {
        "tools": {
          "description": "The list of tools.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "TlsConfigCaCert": {
      "properties": {
        "cert": {
          "type": "string",
          "format": "byte",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates."
        }
      },
      "id": "TlsConfigCaCert",
      "description": "The CA certificate.",
      "type": "object"
    },
    "GoogleSearchToolPromptConfig": {
      "id": "GoogleSearchToolPromptConfig",
      "description": "Prompt settings used by the model when processing or summarizing the google search results.",
      "type": "object",
      "properties": {
        "voicePrompt": {
          "type": "string",
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used."
        },
        "textPrompt": {
          "type": "string",
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used."
        }
      }
    },
    "ExecuteToolResponse": {
      "type": "object",
      "id": "ExecuteToolResponse",
      "description": "Response message for ToolService.ExecuteTool.",
      "properties": {
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the Google Search Tool during the tool execution.",
          "$ref": "GoogleSearchSuggestions"
        },
        "variables": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The variable values at the end of the tool execution."
        },
        "toolsetTool": {
          "description": "The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "citations": {
          "description": "Citations that provide the source information for the tool's execution.",
          "$ref": "Citations"
        },
        "tool": {
          "type": "string",
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "type": "object"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ModelSettings": {
      "type": "object",
      "properties": {
        "temperature": {
          "format": "double",
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative.",
          "type": "number"
        },
        "model": {
          "type": "string",
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent."
        }
      },
      "description": "Model settings contains various configurations for the LLM model.",
      "id": "ModelSettings"
    },
    "LfA2aV1APIKeySecurityScheme": {
      "type": "object",
      "id": "LfA2aV1APIKeySecurityScheme",
      "description": "Defines a security scheme using an API key.",
      "properties": {
        "name": {
          "description": "Required. The name of the header, query, or cookie parameter to be used.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. The location of the API key. Valid values are \"query\", \"header\", or \"cookie\"."
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      }
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters."
        },
        "trafficPercentage": {
          "format": "int32",
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100.",
          "type": "integer"
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        }
      },
      "type": "object",
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "description": "Traffic allocation for the version release."
    },
    "GuardrailContentFilter": {
      "description": "Guardrail that bans certain content from being used in the conversation.",
      "id": "GuardrailContentFilter",
      "properties": {
        "matchType": {
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ],
          "type": "string",
          "description": "Required. Match type for the content filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ]
        },
        "disregardDiacritics": {
          "description": "Optional. If true, diacritics are ignored during matching.",
          "type": "boolean"
        },
        "bannedContents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses."
        },
        "bannedContentsInAgentResponse": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of banned phrases. Applies only to agent responses.",
          "type": "array"
        },
        "bannedContentsInUserInput": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of banned phrases. Applies only to user inputs.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ChannelProfileWebWidgetConfig": {
      "properties": {
        "theme": {
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "type": "string",
          "description": "Optional. The theme of the web widget.",
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ]
        },
        "webWidgetTitle": {
          "type": "string",
          "description": "Optional. The title of the web widget."
        },
        "modality": {
          "description": "Optional. The modality of the web widget.",
          "type": "string",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ],
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ]
        },
        "securitySettings": {
          "description": "Optional. The security settings of the web widget.",
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings"
        }
      },
      "id": "ChannelProfileWebWidgetConfig",
      "description": "Message for configuration for the web widget.",
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "type": "object",
      "properties": {
        "overallToolInvocationCorrectnessThreshold": {
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0.",
          "type": "number",
          "format": "float"
        },
        "semanticSimilaritySuccessThreshold": {
          "type": "integer",
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3.",
          "format": "int32"
        },
        "semanticSimilarityChannel": {
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ],
          "description": "Optional. The semantic similarity channel to use for evaluation."
        }
      },
      "description": "Turn level metrics thresholds.",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
    },
    "FileSearchTool": {
      "id": "FileSearchTool",
      "properties": {
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        },
        "corpusType": {
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        },
        "name": {
          "type": "string",
          "description": "Required. The tool name."
        }
      },
      "type": "object",
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results."
    },
    "BearerTokenConfig": {
      "type": "object",
      "properties": {
        "token": {
          "description": "Required. The bearer token. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "description": "Configurations for authentication with a bearer token.",
      "id": "BearerTokenConfig"
    },
    "Conversation": {
      "type": "object",
      "properties": {
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The language code of the conversation."
        },
        "messages": {
          "description": "Deprecated. Use turns instead.",
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "deprecated": true
        },
        "channelType": {
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "description": "DEPRECATED. Please use input_types instead.",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Output only. Indicate the source of the conversation.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ]
        },
        "deployment": {
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "readOnly": true,
          "type": "string"
        },
        "appVersion": {
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the conversation was completed.",
          "format": "google-datetime"
        },
        "turnCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of turns in the conversation."
        },
        "inputTypes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ],
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "type": "string"
          },
          "description": "Output only. The input types of the conversation."
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the conversation was created."
        },
        "entryAgent": {
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string",
          "readOnly": true
        },
        "turns": {
          "description": "Required. The turns in the conversation.",
          "items": {
            "$ref": "ConversationTurn"
          },
          "type": "array"
        }
      },
      "id": "Conversation",
      "description": "A conversation represents an interaction between an end user and the CES app."
    },
    "LanguageSettings": {
      "properties": {
        "fallbackAction": {
          "type": "string",
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation.",
          "deprecated": true
        },
        "enableMultilingualSupport": {
          "type": "boolean",
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input."
        },
        "defaultLanguageCode": {
          "type": "string",
          "description": "Optional. The default language code of the app."
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`."
        }
      },
      "id": "LanguageSettings",
      "type": "object",
      "description": "Language settings of the app."
    },
    "DataStoreToolModalityConfig": {
      "id": "DataStoreToolModalityConfig",
      "description": "If specified, will apply the given configuration for the specified modality.",
      "type": "object",
      "properties": {
        "rewriterConfig": {
          "$ref": "DataStoreToolRewriterConfig",
          "description": "Optional. The rewriter config."
        },
        "groundingConfig": {
          "$ref": "DataStoreToolGroundingConfig",
          "description": "Optional. The grounding configuration."
        },
        "snippetsConfig": {
          "$ref": "DataStoreToolSnippetsConfig",
          "description": "Optional. The snippets configuration."
        },
        "modalityType": {
          "description": "Required. The modality type.",
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "type": "string"
        },
        "summarizationConfig": {
          "description": "Optional. The summarization config.",
          "$ref": "DataStoreToolSummarizationConfig"
        }
      }
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "properties": {
        "escalateSession": {
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details.",
          "type": "boolean"
        }
      },
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors).",
      "type": "object",
      "id": "ErrorHandlingSettingsEndSessionConfig"
    },
    "ExportAppResponse": {
      "properties": {
        "appContent": {
          "type": "string",
          "description": "App folder compressed as a zip file.",
          "format": "byte"
        },
        "appUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported."
        }
      },
      "type": "object",
      "id": "ExportAppResponse",
      "description": "Response message for AgentService.ExportApp."
    },
    "RetrieveToolSchemaRequest": {
      "type": "object",
      "properties": {
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        },
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        }
      },
      "id": "RetrieveToolSchemaRequest",
      "description": "Request message for ToolService.RetrieveToolSchema."
    },
    "InstagramCredentials": {
      "type": "object",
      "id": "InstagramCredentials",
      "properties": {
        "authCode": {
          "type": "string",
          "description": "Required. The Meta auth code provided by the embedded signup flow."
        },
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The Conversation Profile ID to use for the deployment."
        }
      },
      "description": "Ephemeral Meta credentials for Instagram native integration."
    },
    "DataStoreToolBoostSpecs": {
      "type": "object",
      "properties": {
        "spec": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "description": "Required. A list of boosting specifications."
        },
        "dataStores": {
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DataStoreToolBoostSpecs",
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting."
    },
    "AudioProcessingConfig": {
      "description": "Configuration for how the input and output audio should be processed and delivered.",
      "type": "object",
      "id": "AudioProcessingConfig",
      "properties": {
        "inactivityTimeout": {
          "format": "google-duration",
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement.",
          "type": "string"
        },
        "bargeInConfig": {
          "description": "Optional. Configures the agent behavior for the user barge-in activities.",
          "$ref": "BargeInConfig"
        },
        "ambientSoundConfig": {
          "$ref": "AmbientSoundConfig",
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
        },
        "synthesizeSpeechConfigs": {
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          }
        }
      }
    },
    "ListConversationsResponse": {
      "description": "Response message for AgentService.ListConversations.",
      "type": "object",
      "id": "ListConversationsResponse",
      "properties": {
        "conversations": {
          "type": "array",
          "description": "The list of conversations.",
          "items": {
            "$ref": "Conversation"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "type": "object",
      "properties": {
        "clientKey": {
          "type": "string",
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "issuer": {
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "subject": {
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration."
    },
    "ActionEntityOperation": {
      "id": "ActionEntityOperation",
      "type": "object",
      "description": "Entity CRUD operation specification.",
      "properties": {
        "entityId": {
          "description": "Required. ID of the entity.",
          "type": "string"
        },
        "operation": {
          "description": "Required. Operation to perform on the entity.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ]
        }
      }
    },
    "DataStoreToolDataStoreSource": {
      "id": "DataStoreToolDataStoreSource",
      "type": "object",
      "description": "Configuration for searching within a specific DataStore.",
      "properties": {
        "dataStore": {
          "description": "Optional. The data store.",
          "$ref": "DataStore"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        }
      }
    },
    "AudioRecordingConfig": {
      "description": "Configuration for how the audio interactions should be recorded.",
      "id": "AudioRecordingConfig",
      "type": "object",
      "properties": {
        "gcsBucket": {
          "type": "string",
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "gcsPathPrefix": {
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used.",
          "type": "string"
        }
      }
    },
    "ToolResponses": {
      "type": "object",
      "id": "ToolResponses",
      "properties": {
        "toolResponses": {
          "items": {
            "$ref": "ToolResponse"
          },
          "type": "array",
          "description": "Optional. The list of tool execution results."
        }
      },
      "description": "Execution results for the requested tool calls from the client."
    },
    "LfA2aV1DeviceCodeOAuthFlow": {
      "description": "Defines configuration details for the OAuth 2.0 Device Code flow (RFC 8628). This flow is designed for input-constrained devices such as IoT devices, and CLI tools where the user authenticates on a separate device.",
      "type": "object",
      "properties": {
        "deviceAuthorizationUrl": {
          "description": "Required. The device authorization endpoint URL.",
          "type": "string"
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens.",
          "type": "string"
        }
      },
      "id": "LfA2aV1DeviceCodeOAuthFlow"
    },
    "ListDeploymentsResponse": {
      "description": "Response message for AgentService.ListDeployments.",
      "id": "ListDeploymentsResponse",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "RemoteA2aConfig": {
      "id": "RemoteA2aConfig",
      "properties": {
        "agentCard": {
          "$ref": "AgentCard",
          "description": "Optional. The full agent card defined inline."
        },
        "inputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Mapping of input variable names of remote agent to GECX variable names."
        },
        "agentRegistry": {
          "description": "Optional. Reference to the agent in the Agent Registry. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication configuration for calling the remote agent. Optional if the registry reference already handles authentication.",
          "$ref": "ApiAuthentication"
        },
        "contextId": {
          "description": "Optional. If not empty, interactions with the remote A2A agent will use this context ID. This context_id field can refer to a session variable like `$context.variables.order_agent_session_id`.",
          "type": "string"
        },
        "streamingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether streaming is enabled for the remote agent."
        },
        "outputVariableMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of output variable names of remote agent to GECX variable names."
        }
      },
      "type": "object",
      "description": "Shared configuration for connecting to a remote [A2A](https://github.com/a2aproject/A2A) agent."
    },
    "ChannelProfile": {
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony.",
      "id": "ChannelProfile",
      "properties": {
        "profileId": {
          "description": "Optional. The unique identifier of the channel profile.",
          "type": "string"
        },
        "personaProperty": {
          "$ref": "ChannelProfilePersonaProperty",
          "description": "Optional. The persona property of the channel profile."
        },
        "webWidgetConfig": {
          "$ref": "ChannelProfileWebWidgetConfig",
          "description": "Optional. The configuration for the web widget."
        },
        "disableDtmf": {
          "type": "boolean",
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency)."
        },
        "instagramConfig": {
          "description": "Optional. Configuration specific to Instagram deployments.",
          "$ref": "ChannelProfileInstagramConfig"
        },
        "noiseSuppressionLevel": {
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "disableBargeInControl": {
          "type": "boolean",
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt."
        },
        "channelType": {
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Contact Center as a Service (CCaaS Chat) channel.",
            "Five9 channel.",
            "Third party contact center integration channel.",
            "WhatsApp channel.",
            "Instagram channel."
          ],
          "type": "string",
          "description": "Optional. The type of the channel profile.",
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "CONTACT_CENTER_AS_A_SERVICE_CHAT",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION",
            "WHATSAPP",
            "INSTAGRAM"
          ]
        },
        "whatsappConfig": {
          "description": "Optional. Configuration specific to WhatsApp deployments.",
          "$ref": "ChannelProfileWhatsAppConfig"
        }
      },
      "type": "object"
    },
    "ConnectorTool": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        },
        "action": {
          "$ref": "Action",
          "description": "Required. Action for the tool to use."
        }
      },
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "type": "object",
      "id": "ConnectorTool"
    },
    "ListChangelogsResponse": {
      "properties": {
        "changelogs": {
          "type": "array",
          "description": "The list of changelogs.",
          "items": {
            "$ref": "Changelog"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for AgentService.ListChangelogs.",
      "id": "ListChangelogsResponse"
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "properties": {
        "boost": {
          "type": "number",
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "format": "float"
        },
        "boostControlSpec": {
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value."
        },
        "condition": {
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "description": "Boost specification for a condition."
    },
    "LfA2aV1AgentCapabilities": {
      "properties": {
        "extendedAgentCard": {
          "description": "Indicates if the agent supports providing an extended agent card when authenticated.",
          "type": "boolean"
        },
        "streaming": {
          "description": "Indicates if the agent supports streaming responses.",
          "type": "boolean"
        },
        "pushNotifications": {
          "description": "Indicates if the agent supports sending push notifications for asynchronous task updates.",
          "type": "boolean"
        },
        "extensions": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentExtension"
          },
          "description": "A list of protocol extensions supported by the agent."
        }
      },
      "description": "Defines optional capabilities supported by an agent.",
      "id": "LfA2aV1AgentCapabilities",
      "type": "object"
    },
    "CloudLoggingSettings": {
      "type": "object",
      "properties": {
        "enableCloudLogging": {
          "type": "boolean",
          "description": "Optional. Whether to enable Cloud Logging for the sessions."
        }
      },
      "id": "CloudLoggingSettings",
      "description": "Settings to describe the Cloud Logging behaviors for the app."
    },
    "Changelog": {
      "properties": {
        "action": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The action that was performed on the resource."
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the change author."
        },
        "newResource": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. The new resource after the change.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "resourceType": {
          "description": "Output only. The type of the resource that was changed.",
          "type": "string",
          "readOnly": true
        },
        "originalResource": {
          "description": "Output only. The original resource before the change.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`"
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource that was changed."
        },
        "sequenceNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource.",
          "readOnly": true
        },
        "dependentResources": {
          "description": "Output only. The dependent resources that were changed.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          },
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the change was made.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Changelog",
      "description": "Changelogs represent a change made to the app or to an resource within the app.",
      "type": "object"
    },
    "AppVersion": {
      "properties": {
        "snapshot": {
          "description": "Output only. The snapshot of the app when the version is created.",
          "$ref": "AppSnapshot",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the app version was created."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app version."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the app version."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the app version was last updated.",
          "type": "string"
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email of the user who created the app version."
        }
      },
      "id": "AppVersion",
      "type": "object",
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created."
    },
    "OutputAudioConfig": {
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses.",
      "type": "object",
      "properties": {
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The sample rate (in Hertz) of the output audio data."
        },
        "audioEncoding": {
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "description": "Required. The encoding of the output audio data.",
          "type": "string"
        }
      },
      "id": "OutputAudioConfig"
    },
    "LfA2aV1AuthenticationInfo": {
      "id": "LfA2aV1AuthenticationInfo",
      "description": "Defines authentication details, used for push notifications.",
      "properties": {
        "credentials": {
          "type": "string",
          "description": "Push Notification credentials. Format depends on the scheme (e.g., token for Bearer)."
        },
        "scheme": {
          "type": "string",
          "description": "Required. HTTP Authentication Scheme from the [IANA registry](https://www.iana.org/assignments/http-authschemes/). Examples: `Bearer`, `Basic`, `Digest`. Scheme names are case-insensitive per [RFC 9110 Section 11.1](https://www.rfc-editor.org/rfc/rfc9110#section-11.1)."
        }
      },
      "type": "object"
    },
    "ClientFunction": {
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent.",
      "properties": {
        "parameters": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function parameters."
        },
        "name": {
          "description": "Required. The function name.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The function description.",
          "type": "string"
        },
        "response": {
          "description": "Optional. The schema of the function response.",
          "$ref": "Schema"
        }
      },
      "type": "object",
      "id": "ClientFunction"
    },
    "SessionInput": {
      "id": "SessionInput",
      "properties": {
        "audio": {
          "format": "byte",
          "type": "string",
          "description": "Optional. Audio data from the end user."
        },
        "blob": {
          "description": "Optional. Blob data from the end user.",
          "$ref": "Blob"
        },
        "variables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "type": "object"
        },
        "toolResponses": {
          "description": "Optional. Execution results for the tool calls from the client.",
          "$ref": "ToolResponses"
        },
        "text": {
          "type": "string",
          "description": "Optional. Text data from the end user."
        },
        "image": {
          "$ref": "Image",
          "description": "Optional. Image data from the end user."
        },
        "willContinue": {
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal.",
          "type": "boolean"
        },
        "dtmf": {
          "description": "Optional. DTMF digits from the end user.",
          "type": "string"
        },
        "event": {
          "description": "Optional. Event input.",
          "$ref": "Event"
        }
      },
      "description": "Input for the session.",
      "type": "object"
    },
    "Deployment": {
      "id": "Deployment",
      "properties": {
        "instagramCredentials": {
          "$ref": "InstagramCredentials",
          "description": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile."
        },
        "displayName": {
          "description": "Required. Display name of the deployment.",
          "type": "string"
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app."
        },
        "whatsappCredentials": {
          "description": "Optional. Input only. Ephemeral WhatsApp credentials required when configuring a WhatsApp channel profile.",
          "$ref": "WhatsAppCredentials"
        },
        "name": {
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "agentRegistryDeployment": {
          "description": "Optional. Configuration for deploying this deployment to Agent Registry. If present, this deployment will be published to Agent Registry.",
          "$ref": "AgentRegistryDeployment"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was last updated."
        },
        "modality": {
          "enum": [
            "MODALITY_UNSPECIFIED",
            "MODALITY_TEXT",
            "MODALITY_VOICE",
            "MODALITY_VIDEO"
          ],
          "enumDescriptions": [
            "Unknown modality.",
            "Text modality.",
            "Voice modality.",
            "Video modality."
[...]
