{
  "basePath": "",
  "revision": "20260824",
  "rootUrl": "https://ces.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "version_module": true,
  "discoveryVersion": "v1",
  "name": "ces",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "properties": {
        "extraToolCallBehavior": {
          "type": "string",
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ],
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL."
        }
      },
      "type": "object",
      "id": "EvaluationMetricsThresholdsToolMatchingSettings",
      "description": "Settings for matching tool calls."
    },
    "RedactionConfig": {
      "id": "RedactionConfig",
      "type": "object",
      "properties": {
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        },
        "inspectTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`"
        },
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        }
      },
      "description": "Configuration to instruct how sensitive data should be handled."
    },
    "AudioRecordingConfig": {
      "id": "AudioRecordingConfig",
      "properties": {
        "gcsPathPrefix": {
          "type": "string",
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used."
        },
        "gcsBucket": {
          "type": "string",
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        }
      },
      "description": "Configuration for how the audio interactions should be recorded.",
      "type": "object"
    },
    "Guardrail": {
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when the guardrail was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "contentFilter": {
          "description": "Optional. Guardrail that bans certain content from being used in the conversation.",
          "$ref": "GuardrailContentFilter"
        },
        "llmPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
        },
        "description": {
          "description": "Optional. Description of the guardrail.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether the guardrail is enabled."
        },
        "modelSafety": {
          "$ref": "GuardrailModelSafety",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the guardrail was last updated."
        },
        "llmPromptSecurity": {
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification.",
          "$ref": "GuardrailLlmPromptSecurity"
        },
        "displayName": {
          "description": "Required. Display name of the guardrail.",
          "type": "string"
        },
        "action": {
          "$ref": "TriggerAction",
          "description": "Optional. Action to take when the guardrail is triggered."
        },
        "name": {
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "string"
        }
      },
      "id": "Guardrail",
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure.",
      "type": "object"
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "properties": {
        "subject": {
          "type": "string",
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "issuer": {
          "type": "string",
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "clientKey": {
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "type": "object"
    },
    "VpcScSettings": {
      "description": "VPC-SC settings for the app.",
      "type": "object",
      "properties": {
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "VpcScSettings"
    },
    "WidgetToolDataMapping": {
      "properties": {
        "sourceToolName": {
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`",
          "type": "string"
        },
        "pythonScript": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: Use `python_function` instead."
        },
        "pythonFunction": {
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format.",
          "$ref": "PythonFunction"
        },
        "mode": {
          "description": "Optional. The mode of the data mapping.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ],
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ]
        },
        "fieldMappings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool.",
          "type": "object"
        }
      },
      "id": "WidgetToolDataMapping",
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "type": "object"
    },
    "WhatsAppCredentials": {
      "description": "Ephemeral Meta credentials for WhatsApp native integration.",
      "properties": {
        "phoneNumber": {
          "description": "Required. The phone number to register with WhatsApp.",
          "type": "string"
        },
        "pin": {
          "type": "string",
          "description": "Required. The 6-digit PIN created by the user for two-step verification."
        },
        "businessAccountId": {
          "description": "Required. The Business Account ID to use for the phone number.",
          "type": "string"
        },
        "conversationProfileId": {
          "description": "Optional. The Conversation Profile ID to use for the deployment.",
          "type": "string"
        },
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WhatsAppCredentials"
    },
    "WidgetToolTextResponseConfig": {
      "id": "WidgetToolTextResponseConfig",
      "description": "Configuration for the text response returned with the widget.",
      "properties": {
        "staticText": {
          "description": "Optional. The static text response to return when type is STATIC.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ],
          "description": "Optional. The strategy for providing the text response.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ]
        },
        "textResponseInstruction": {
          "type": "string",
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED."
        }
      },
      "type": "object"
    },
    "GuardrailModelSafetySafetySetting": {
      "id": "GuardrailModelSafetySafetySetting",
      "type": "object",
      "description": "Safety setting.",
      "properties": {
        "threshold": {
          "description": "Required. The harm block threshold.",
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ],
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ]
        },
        "category": {
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_PROFANITY",
            "HARM_CATEGORY_TOXIC"
          ],
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is profanity.",
            "The harm category is toxic."
          ],
          "description": "Required. The harm category."
        }
      }
    },
    "AppSnapshot": {
      "description": "A snapshot of the app.",
      "properties": {
        "toolsets": {
          "type": "array",
          "description": "Optional. List of toolsets in the app.",
          "items": {
            "$ref": "Toolset"
          }
        },
        "examples": {
          "type": "array",
          "items": {
            "$ref": "Example"
          },
          "description": "Optional. List of examples in the app."
        },
        "guardrails": {
          "type": "array",
          "description": "Optional. List of guardrails in the app.",
          "items": {
            "$ref": "Guardrail"
          }
        },
        "app": {
          "$ref": "App",
          "description": "Optional. The basic settings for the app."
        },
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "type": "array",
          "description": "Optional. List of agents in the app."
        },
        "tools": {
          "type": "array",
          "items": {
            "$ref": "Tool"
          },
          "description": "Optional. List of tools in the app."
        }
      },
      "type": "object",
      "id": "AppSnapshot"
    },
    "RetrieveToolsRequest": {
      "id": "RetrieveToolsRequest",
      "type": "object",
      "description": "Request message for ToolService.RetrieveTools.",
      "properties": {
        "bypassPersistenceConfig": {
          "description": "Optional. If true, the returned tools will contain raw descriptions and schemas directly from the server, bypassing any stored persistence configurations (overrides/snapshots).",
          "type": "boolean"
        },
        "toolIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned.",
          "type": "array"
        }
      }
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "type": "object",
      "properties": {
        "defaultPromptTemplate": {
          "type": "string",
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY.",
          "readOnly": true
        }
      },
      "description": "Configuration for default system security settings.",
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings"
    },
    "ListToolsetsResponse": {
      "id": "ListToolsetsResponse",
      "properties": {
        "toolsets": {
          "type": "array",
          "items": {
            "$ref": "Toolset"
          },
          "description": "The list of toolsets."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for AgentService.ListToolsets."
    },
    "LfA2aV1Message": {
      "id": "LfA2aV1Message",
      "type": "object",
      "properties": {
        "taskId": {
          "type": "string",
          "description": "Optional. The task id of the message. If set, the message will be associated with the given task."
        },
        "extensions": {
          "type": "array",
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "items": {
            "type": "string"
          }
        },
        "contextId": {
          "description": "Optional. The context id of the message. If set, the message will be associated with the given context.",
          "type": "string"
        },
        "referenceTaskIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of task IDs that this message references for additional context."
        },
        "role": {
          "description": "Required. Identifies the sender of the message.",
          "enumDescriptions": [
            "The role is unspecified.",
            "The message is from the client to the server.",
            "The message is from the server to the client."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ]
        },
        "messageId": {
          "description": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator.",
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Part"
          },
          "description": "Required. Parts is the container of the message content."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Any metadata to provide along with the message."
        }
      },
      "description": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it."
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "properties": {
        "boostAmount": {
          "type": "number",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "format": "float"
        },
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "LfA2aV1OAuth2SecurityScheme": {
      "id": "LfA2aV1OAuth2SecurityScheme",
      "description": "Defines a security scheme using OAuth 2.0.",
      "type": "object",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "flows": {
          "$ref": "LfA2aV1OAuthFlows",
          "description": "Required. An object containing configuration information for the supported OAuth 2.0 flows."
        },
        "oauth2MetadataUrl": {
          "description": "URL to the OAuth2 authorization server metadata [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required.",
          "type": "string"
        }
      }
    },
    "LfA2aV1AuthenticationInfo": {
      "description": "Defines authentication details, used for push notifications.",
      "properties": {
        "scheme": {
          "type": "string",
          "description": "Required. HTTP Authentication Scheme from the [IANA registry](https://www.iana.org/assignments/http-authschemes/). Examples: `Bearer`, `Basic`, `Digest`. Scheme names are case-insensitive per [RFC 9110 Section 11.1](https://www.rfc-editor.org/rfc/rfc9110#section-11.1)."
        },
        "credentials": {
          "description": "Push Notification credentials. Format depends on the scheme (e.g., token for Bearer).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LfA2aV1AuthenticationInfo"
    },
    "LfA2aV1TaskArtifactUpdateEvent": {
      "properties": {
        "taskId": {
          "description": "Required. The ID of the task for this artifact.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Optional. Metadata associated with the artifact update.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "append": {
          "description": "If true, the content of this artifact should be appended to a previously sent artifact with the same ID.",
          "type": "boolean"
        },
        "lastChunk": {
          "description": "If true, this is the final chunk of the artifact.",
          "type": "boolean"
        },
        "contextId": {
          "description": "Required. The ID of the context that this task belongs to.",
          "type": "string"
        },
        "artifact": {
          "$ref": "LfA2aV1Artifact",
          "description": "Required. The artifact that was generated or updated."
        }
      },
      "description": "A task delta where an artifact has been generated.",
      "type": "object",
      "id": "LfA2aV1TaskArtifactUpdateEvent"
    },
    "Blob": {
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation.",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes of the blob."
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        }
      }
    },
    "ApiAuthentication": {
      "id": "ApiAuthentication",
      "type": "object",
      "description": "Authentication information required for API calls.",
      "properties": {
        "serviceAgentIdTokenAuthConfig": {
          "$ref": "ServiceAgentIdTokenAuthConfig",
          "description": "Optional. Config for ID token auth generated from CES service agent."
        },
        "bearerTokenConfig": {
          "$ref": "BearerTokenConfig",
          "description": "Optional. Config for bearer token auth."
        },
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        },
        "apiKeyConfig": {
          "description": "Optional. Config for API key auth.",
          "$ref": "ApiKeyConfig"
        },
        "serviceAccountAuthConfig": {
          "$ref": "ServiceAccountAuthConfig",
          "description": "Optional. Config for service account authentication."
        }
      }
    },
    "LfA2aV1Task": {
      "properties": {
        "history": {
          "items": {
            "$ref": "LfA2aV1Message"
          },
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`.",
          "type": "array"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task."
        },
        "artifacts": {
          "items": {
            "$ref": "LfA2aV1Artifact"
          },
          "type": "array",
          "description": "A set of output artifacts for a `Task`."
        },
        "id": {
          "description": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        },
        "status": {
          "$ref": "LfA2aV1TaskStatus",
          "description": "Required. The current status of a `Task`, including `state` and a `message`."
        },
        "contextId": {
          "type": "string",
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages)."
        }
      },
      "description": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "id": "LfA2aV1Task",
      "type": "object"
    },
    "AgentTransfer": {
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "id": "AgentTransfer",
      "type": "object",
      "properties": {
        "targetAgent": {
          "type": "string",
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the agent."
        }
      }
    },
    "EvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholds",
      "type": "object",
      "properties": {
        "scenarioHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "goldenEvaluationMetricsThresholds": {
          "description": "Optional. The golden evaluation metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
        },
        "hallucinationMetricBehavior": {
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "goldenHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        }
      },
      "description": "Threshold settings for metrics in an Evaluation."
    },
    "LfA2aV1ImplicitOAuthFlow": {
      "description": "Deprecated: Use Authorization Code + PKCE instead.",
      "type": "object",
      "id": "LfA2aV1ImplicitOAuthFlow",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "authorizationUrl": {
          "type": "string",
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
        },
        "scopes": {
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "ModelSettings": {
      "id": "ModelSettings",
      "properties": {
        "model": {
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent.",
          "type": "string"
        },
        "temperature": {
          "format": "double",
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative.",
          "type": "number"
        }
      },
      "description": "Model settings contains various configurations for the LLM model.",
      "type": "object"
    },
    "RunSessionRequest": {
      "description": "Request message for SessionService.RunSession.",
      "properties": {
        "config": {
          "$ref": "SessionConfig",
          "description": "Required. The configuration for the session."
        },
        "inputs": {
          "items": {
            "$ref": "SessionInput"
          },
          "type": "array",
          "description": "Required. Inputs for the session."
        }
      },
      "type": "object",
      "id": "RunSessionRequest"
    },
    "ServiceAccountAuthConfig": {
      "id": "ServiceAccountAuthConfig",
      "description": "Configurations for authentication using a custom service account.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Required. The email address of the service account used for authentication. CES uses this service account to exchange an access token and the access token is then sent in the `Authorization` header of the request. The service account must have the `roles/iam.serviceAccountTokenCreator` role granted to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "scopes": {
          "description": "Optional. The OAuth scopes to grant. If not specified, the default scope `https://www.googleapis.com/auth/cloud-platform` is used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Callback": {
      "type": "object",
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "id": "Callback",
      "properties": {
        "description": {
          "description": "Optional. Human-readable description of the callback.",
          "type": "string"
        },
        "pythonCode": {
          "type": "string",
          "description": "Required. The python code to execute for the callback."
        },
        "disabled": {
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent.",
          "type": "boolean"
        },
        "proactiveExecutionEnabled": {
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations.",
          "type": "boolean"
        }
      }
    },
    "ChannelProfileWebWidgetConfig": {
      "description": "Message for configuration for the web widget.",
      "properties": {
        "theme": {
          "description": "Optional. The theme of the web widget.",
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "type": "string",
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ]
        },
        "securitySettings": {
          "description": "Optional. The security settings of the web widget.",
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings"
        },
        "modality": {
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ],
          "description": "Optional. The modality of the web widget.",
          "type": "string",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ]
        },
        "webWidgetTitle": {
          "type": "string",
          "description": "Optional. The title of the web widget."
        }
      },
      "id": "ChannelProfileWebWidgetConfig",
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Expectation level metrics thresholds.",
      "type": "object",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "TransferRuleDeterministicTransfer": {
      "properties": {
        "pythonCodeCondition": {
          "description": "Optional. A rule that uses Python code block to evaluate the conditions. If the condition evaluates to true, the transfer occurs.",
          "$ref": "PythonCodeCondition"
        },
        "expressionCondition": {
          "description": "Optional. A rule that evaluates a session state condition. If the condition evaluates to true, the transfer occurs.",
          "$ref": "ExpressionCondition"
        }
      },
      "type": "object",
      "description": "Deterministic transfer rule. When the condition evaluates to true, the transfer occurs.",
      "id": "TransferRuleDeterministicTransfer"
    },
    "ServiceAgentIdTokenAuthConfig": {
      "id": "ServiceAgentIdTokenAuthConfig",
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent.",
      "type": "object",
      "properties": {}
    },
    "BigQueryExportSettings": {
      "id": "BigQueryExportSettings",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Indicates whether the BigQuery export is enabled.",
          "type": "boolean"
        },
        "dataset": {
          "description": "Optional. The BigQuery **dataset ID** to export the data to.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        }
      },
      "description": "Settings to describe the BigQuery export behaviors for the app."
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "type": "object",
      "properties": {
        "toolMatchingSettings": {
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation.",
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings"
        },
        "turnLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. The turn level metrics thresholds."
        },
        "expectationLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. The expectation level metrics thresholds."
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "description": "Settings for golden evaluations."
    },
    "ExperimentConfigVersionRelease": {
      "type": "object",
      "description": "Version release for the experiment.",
      "id": "ExperimentConfigVersionRelease",
      "properties": {
        "state": {
          "description": "Optional. State of the version release.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ]
        },
        "trafficAllocations": {
          "description": "Optional. Traffic allocations for the version release.",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          },
          "type": "array"
        }
      }
    },
    "Schema": {
      "id": "Schema",
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "properties": {
        "minimum": {
          "format": "double",
          "type": "number",
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER."
        },
        "additionalProperties": {
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties.",
          "$ref": "Schema"
        },
        "enum": {
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "uniqueItems": {
          "type": "boolean",
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY."
        },
        "ref": {
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring.",
          "type": "string"
        },
        "minItems": {
          "format": "int64",
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "type": "string"
        },
        "maximum": {
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "format": "double",
          "type": "number"
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the schema."
        },
        "prefixItems": {
          "items": {
            "$ref": "Schema"
          },
          "description": "Optional. Schemas of initial elements of Type.ARRAY.",
          "type": "array"
        },
        "defs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema."
        },
        "type": {
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "description": "Required. The type of the data.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ]
        },
        "properties": {
          "type": "object",
          "description": "Optional. Properties of Type.OBJECT.",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Indicates if the value may be null."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the data."
        },
        "required": {
          "description": "Optional. Required properties of Type.OBJECT.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "anyOf": {
          "items": {
            "$ref": "Schema"
          },
          "type": "array",
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list."
        },
        "maxItems": {
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "format": "int64",
          "type": "string"
        },
        "default": {
          "type": "any",
          "description": "Optional. Default value of the data."
        }
      },
      "type": "object"
    },
    "DataStoreToolSnippetsConfig": {
      "id": "DataStoreToolSnippetsConfig",
      "description": "Snippets configuration.",
      "type": "object",
      "properties": {
        "maxSnippets": {
          "description": "Optional. Number of snippets to return per query. If unset, returns all snippets from the service by default.",
          "format": "int32",
          "type": "integer"
        },
        "enableSnippets": {
          "description": "Optional. Whether snippets are enabled.",
          "type": "boolean"
        }
      }
    },
    "Toolset": {
      "properties": {
        "openApiToolset": {
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema.",
          "$ref": "OpenApiToolset"
        },
        "executionType": {
          "description": "Optional. The execution type of the tools in the toolset.",
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ]
        },
        "connectorToolset": {
          "$ref": "ConnectorToolset",
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection."
        },
        "name": {
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "mcpToolset": {
          "$ref": "McpToolset",
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the toolset was created."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the toolset."
        },
        "timeout": {
          "description": "Optional. The timeout for the toolset execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` toolsets and 60 seconds for `ASYNCHRONOUS` toolsets.",
          "format": "google-duration",
          "type": "string"
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tools behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "displayName": {
          "description": "Optional. The display name of the toolset. Must be unique within the same app.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the toolset was last updated.",
          "format": "google-datetime"
        }
      },
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent.",
      "id": "Toolset",
      "type": "object"
    },
    "ExportAppRequest": {
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "description": "Required. The format to export the app in.",
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ]
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`.",
          "type": "string"
        },
        "gcsUri": {
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object.",
          "type": "string"
        }
      },
      "id": "ExportAppRequest",
      "description": "Request message for AgentService.ExportApp.",
      "type": "object"
    },
    "LfA2aV1ClientCredentialsOAuthFlow": {
      "id": "LfA2aV1ClientCredentialsOAuthFlow",
      "description": "Defines configuration details for the OAuth 2.0 Client Credentials flow.",
      "properties": {
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "type": "object"
        },
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RetrieveToolsResponse": {
      "type": "object",
      "description": "Response message for ToolService.RetrieveTools.",
      "id": "RetrieveToolsResponse",
      "properties": {
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "description": "The list of tools that are included in the specified toolset.",
          "type": "array"
        }
      }
    },
    "ListToolsResponse": {
      "id": "ListToolsResponse",
      "properties": {
        "tools": {
          "description": "The list of tools.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListTools.",
      "type": "object"
    },
    "LfA2aV1SecurityScheme": {
      "type": "object",
      "description": "Defines a security scheme that can be used to secure an agent's endpoints. This is a discriminated union type based on the OpenAPI 3.2 Security Scheme Object. See: https://spec.openapis.org/oas/v3.2.0.html#security-scheme-object",
      "id": "LfA2aV1SecurityScheme",
      "properties": {
        "oauth2SecurityScheme": {
          "$ref": "LfA2aV1OAuth2SecurityScheme",
          "description": "OAuth 2.0 authentication."
        },
        "apiKeySecurityScheme": {
          "$ref": "LfA2aV1APIKeySecurityScheme",
          "description": "API key-based authentication."
        },
        "httpAuthSecurityScheme": {
          "$ref": "LfA2aV1HTTPAuthSecurityScheme",
          "description": "HTTP authentication (Basic, Bearer, etc.)."
        },
        "openIdConnectSecurityScheme": {
          "description": "OpenID Connect authentication.",
          "$ref": "LfA2aV1OpenIdConnectSecurityScheme"
        },
        "mtlsSecurityScheme": {
          "description": "Mutual TLS authentication.",
          "$ref": "LfA2aV1MutualTlsSecurityScheme"
        }
      }
    },
    "WidgetTool": {
      "type": "object",
      "properties": {
        "widgetType": {
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ],
          "type": "string",
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ],
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED."
        },
        "dataMapping": {
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters.",
          "$ref": "WidgetToolDataMapping"
        },
        "parameters": {
          "description": "Optional. The input parameters of the widget tool.",
          "$ref": "Schema"
        },
        "name": {
          "type": "string",
          "description": "Required. The display name of the widget tool."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the widget tool."
        },
        "uiConfig": {
          "type": "object",
          "description": "Optional. Configuration for rendering the widget.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "textResponseConfig": {
          "$ref": "WidgetToolTextResponseConfig",
          "description": "Optional. Configuration for always-included text responses."
        }
      },
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent.",
      "id": "WidgetTool"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "description": "Turn level metrics thresholds.",
      "type": "object",
      "properties": {
        "semanticSimilaritySuccessThreshold": {
          "type": "integer",
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3.",
          "format": "int32"
        },
        "overallToolInvocationCorrectnessThreshold": {
          "type": "number",
          "format": "float",
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0."
        },
        "semanticSimilarityChannel": {
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ],
          "description": "Optional. The semantic similarity channel to use for evaluation.",
          "type": "string",
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ]
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
    },
    "SynthesizeSpeechConfig": {
      "type": "object",
      "id": "SynthesizeSpeechConfig",
      "description": "Configuration for how the agent response should be synthesized.",
      "properties": {
        "consentAudioGcsUri": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the consent audio for voice cloning."
        },
        "voiceSampleGcsUri": {
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file. Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "deprecated": true,
          "type": "string"
        },
        "instruction": {
          "type": "string",
          "description": "Optional. The instruction used to synthesize speech when using a generative model."
        },
        "speakingRate": {
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "format": "double",
          "type": "number"
        },
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        },
        "model": {
          "type": "string",
          "description": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used."
        }
      }
    },
    "GuardrailLlmPromptSecurity": {
      "type": "object",
      "id": "GuardrailLlmPromptSecurity",
      "properties": {
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        },
        "customPolicy": {
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail.",
          "$ref": "GuardrailLlmPolicy"
        },
        "defaultSettings": {
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
        }
      },
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification."
    },
    "SystemTool": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the system tool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the system tool.",
          "readOnly": true
        }
      },
      "id": "SystemTool",
      "description": "Pre-defined system tool."
    },
    "Agent": {
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "type": "object",
      "properties": {
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "childAgents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "validationErrors": {
          "readOnly": true,
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the agent was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "instruction": {
          "type": "string",
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior."
        },
        "llmAgent": {
          "$ref": "AgentLlmAgent",
          "description": "Optional. The default agent type."
        },
        "transferRules": {
          "items": {
            "$ref": "TransferRule"
          },
          "type": "array",
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used."
        },
        "tools": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "afterModelCallbacks": {
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "description": {
          "description": "Optional. Human-readable description of the agent.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "beforeAgentCallbacks": {
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "afterAgentCallbacks": {
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "afterToolCallbacks": {
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the agent was created.",
          "type": "string"
        },
        "generatedSummary": {
          "readOnly": true,
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "type": "string"
        },
        "toolsets": {
          "items": {
            "$ref": "AgentAgentToolset"
          },
          "type": "array",
          "description": "Optional. List of toolsets for the agent."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the agent."
        },
        "beforeToolCallbacks": {
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "guardrails": {
          "type": "array",
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "items": {
            "type": "string"
          }
        },
        "beforeModelCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        }
      },
      "id": "Agent"
    },
    "ExperimentConfig": {
      "type": "object",
      "properties": {
        "versionRelease": {
          "$ref": "ExperimentConfigVersionRelease",
          "description": "Optional. Version release for the experiment."
        }
      },
      "description": "Experiment for the deployment.",
      "id": "ExperimentConfig"
    },
    "AgentTool": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the agent tool."
        },
        "agent": {
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        }
      },
      "id": "AgentTool",
      "description": "Represents a tool that allows the agent to call another agent."
    },
    "TriggerActionGenerativeAnswer": {
      "id": "TriggerActionGenerativeAnswer",
      "type": "object",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Required. The prompt to use for the generative answer."
        }
      },
      "description": "The agent will immediately respond with a generative answer."
    },
    "AgentSkill": {
      "type": "object",
      "id": "AgentSkill",
      "description": "Represents a distinct capability or function that an agent can perform.",
      "properties": {
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        },
        "inputModes": {
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "examples": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Example prompts or scenarios that this skill can handle."
        },
        "outputModes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of supported output media types for this skill, overriding the agent's defaults."
        }
      }
    },
    "ImportAppResponse": {
      "type": "object",
      "description": "Response message for AgentService.ImportApp.",
      "id": "ImportAppResponse",
      "properties": {
        "warnings": {
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The resource name of the app that was imported.",
          "type": "string"
        }
      }
    },
    "TransferRuleDisablePlannerTransfer": {
      "id": "TransferRuleDisablePlannerTransfer",
      "type": "object",
      "properties": {
        "expressionCondition": {
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent.",
          "$ref": "ExpressionCondition"
        }
      },
      "description": "A rule that prevents the planner from transferring to the target agent."
    },
    "LfA2aV1AgentSkill": {
      "type": "object",
      "properties": {
        "outputModes": {
          "items": {
            "type": "string"
          },
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "type": "array"
        },
        "name": {
          "description": "Required. A human-readable name for the skill.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. A set of keywords describing the skill's capabilities."
        },
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "securityRequirements": {
          "description": "Security schemes necessary for this skill.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          }
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "inputModes": {
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "LfA2aV1AgentSkill",
      "description": "Represents a distinct capability or function that an agent can perform."
    },
    "ErrorHandlingSettingsFallbackResponseConfig": {
      "description": "Configuration for handling fallback responses.",
      "properties": {
        "maxFallbackAttempts": {
          "description": "Optional. The maximum number of fallback attempts to make before the agent emitting EndSession Signal.",
          "format": "int32",
          "type": "integer"
        },
        "customFallbackMessages": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The fallback messages in case of system errors (e.g. LLM errors), mapped by [supported language code](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/reference/language)."
        }
      },
      "id": "ErrorHandlingSettingsFallbackResponseConfig",
      "type": "object"
    },
    "Tool": {
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "type": "object",
      "id": "Tool",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property.",
          "type": "string"
        },
        "dataStoreTool": {
          "$ref": "DataStoreTool",
          "description": "Optional. The data store tool."
        },
        "openApiTool": {
          "description": "Optional. The open API tool.",
          "$ref": "OpenApiTool"
        },
        "name": {
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
          "type": "string"
        },
        "clientFunction": {
          "description": "Optional. The client function.",
          "$ref": "ClientFunction"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the tool was created.",
          "format": "google-datetime"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools.",
          "type": "string"
        },
        "mcpTool": {
          "$ref": "McpTool",
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset."
        },
        "systemTool": {
          "$ref": "SystemTool",
          "description": "Optional. The system tool."
        },
        "widgetTool": {
          "description": "Optional. The widget tool.",
          "$ref": "WidgetTool"
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "googleSearchTool": {
          "description": "Optional. The google search tool.",
          "$ref": "GoogleSearchTool"
        },
        "generatedSummary": {
          "readOnly": true,
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the tool was last updated."
        },
        "agentTool": {
          "$ref": "AgentTool",
          "description": "Optional. The agent tool."
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "remoteAgentTool": {
          "description": "Optional. The remote agent tool.",
          "$ref": "RemoteAgentTool"
        },
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        },
        "executionType": {
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tool."
        },
        "connectorTool": {
          "$ref": "ConnectorTool",
          "description": "Optional. The Integration Connector tool."
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tool behavior in fake mode."
        }
      }
    },
    "LfA2aV1TaskStatus": {
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\""
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message associated with the status."
        },
        "state": {
          "description": "Required. The current state of this task.",
          "type": "string",
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ]
        }
      },
      "id": "LfA2aV1TaskStatus",
      "description": "A container for the status of a task",
      "type": "object"
    },
    "LfA2aV1SendMessageConfiguration": {
      "type": "object",
      "id": "LfA2aV1SendMessageConfiguration",
      "description": "Configuration of a send message request.",
      "properties": {
        "acceptedOutputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output."
        },
        "taskPushNotificationConfig": {
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request.",
          "$ref": "LfA2aV1TaskPushNotificationConfig"
        },
        "historyLength": {
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit.",
          "type": "integer",
          "format": "int32"
        },
        "returnImmediately": {
          "type": "boolean",
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning."
        }
      }
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "description": "Security settings for the web widget.",
      "properties": {
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\""
        },
        "enableOriginCheck": {
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins.",
          "type": "boolean"
        },
        "enablePublicAccess": {
          "type": "boolean",
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent."
        },
        "enableRecaptcha": {
          "type": "boolean",
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled."
        }
      },
      "type": "object",
      "id": "ChannelProfileWebWidgetConfigSecuritySettings"
    },
    "OpenApiTool": {
      "id": "OpenApiTool",
      "properties": {
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust.",
          "$ref": "TlsConfig"
        },
        "description": {
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`.",
          "type": "string"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "name": {
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`.",
          "type": "string"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema in JSON or YAML format.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A remote API tool defined by an OpenAPI schema."
    },
    "McpToolset": {
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "properties": {
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "customHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
        },
        "serverAddress": {
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "toolOverrides": {
          "description": "Optional. Overrides for individual tools within this toolset. This allows overriding specific details like descriptions, names, or pinning the tools' states so they aren't fully dynamic.",
          "items": {
            "$ref": "McpToolOverride"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "McpToolset"
    },
    "LfA2aV1StringList": {
      "type": "object",
      "properties": {
        "list": {
          "type": "array",
          "description": "The individual string values.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED A list of strings.",
      "id": "LfA2aV1StringList"
    },
    "ActionEntityOperation": {
      "description": "Entity CRUD operation specification.",
      "properties": {
        "entityId": {
          "description": "Required. ID of the entity.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "Required. Operation to perform on the entity."
        }
      },
      "id": "ActionEntityOperation",
      "type": "object"
    },
    "DataStoreToolModalityConfig": {
      "description": "If specified, will apply the given configuration for the specified modality.",
      "type": "object",
      "properties": {
        "modalityType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Required. The modality type."
        },
        "summarizationConfig": {
          "$ref": "DataStoreToolSummarizationConfig",
          "description": "Optional. The summarization config."
        },
        "groundingConfig": {
          "description": "Optional. The grounding configuration.",
          "$ref": "DataStoreToolGroundingConfig"
        },
        "snippetsConfig": {
          "description": "Optional. The snippets configuration.",
          "$ref": "DataStoreToolSnippetsConfig"
        },
        "rewriterConfig": {
          "description": "Optional. The rewriter config.",
          "$ref": "DataStoreToolRewriterConfig"
        }
      },
      "id": "DataStoreToolModalityConfig"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "DataStoreToolSummarizationConfig": {
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "disabled": {
          "description": "Optional. Whether summarization is disabled.",
          "type": "boolean"
        }
      },
      "id": "DataStoreToolSummarizationConfig",
      "description": "Summarization configuration."
    },
    "OAuthConfig": {
      "type": "object",
      "description": "Configurations for authentication with OAuth.",
      "id": "OAuthConfig",
      "properties": {
        "clientId": {
          "description": "Required. The client ID from the OAuth provider.",
          "type": "string"
        },
        "clientSecretVersion": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token."
        },
        "oauthGrantType": {
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ],
          "description": "Required. OAuth grant types.",
          "type": "string",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ]
        },
        "scopes": {
          "description": "Optional. The OAuth scopes to grant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "LfA2aV1TaskStatusUpdateEvent": {
      "description": "An event sent by the agent to notify the client of a change in a task's status.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "LfA2aV1TaskStatus",
          "description": "Required. The new status of the task."
        },
        "taskId": {
          "description": "Required. The ID of the task that has changed.",
          "type": "string"
        },
        "contextId": {
          "type": "string",
          "description": "Required. The ID of the context that the task belongs to."
        },
        "metadata": {
          "type": "object",
          "description": "Optional. Metadata associated with the task update.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "LfA2aV1TaskStatusUpdateEvent"
    },
    "DashboardSettings": {
      "id": "DashboardSettings",
      "type": "object",
      "properties": {
        "defaultDashboard": {
          "description": "Optional. The resource name of the default Contact Center Insights dashboard associated with the app. This is the dashboard that will be displayed when users navigate to the Monitoring view for the app. Format: `projects/{project}/locations/{location}/dashboards/{dashboard}`",
          "type": "string"
        }
      },
      "description": "Settings for dashboards associated with the app, that show up in the Monitoring view."
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters."
        },
        "trafficPercentage": {
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100.",
          "format": "int32",
          "type": "integer"
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        }
      },
      "description": "Traffic allocation for the version release.",
      "id": "ExperimentConfigVersionReleaseTrafficAllocation"
    },
    "ExecuteToolRequest": {
      "id": "ExecuteToolRequest",
      "type": "object",
      "description": "Request message for ToolService.ExecuteTool.",
      "properties": {
        "variables": {
          "type": "object",
          "description": "Optional. The variables that are available for the tool execution.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "mockConfig": {
          "$ref": "MockConfig",
          "description": "Optional. Mock configuration for the tool execution. If this field is set, tools that call other tools will be mocked based on the provided patterns and responses."
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        },
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "context": {
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleSearchSuggestions": {
      "id": "GoogleSearchSuggestions",
      "type": "object",
      "properties": {
        "htmls": {
          "type": "array",
          "description": "Compliant HTML and CSS styling for search suggestions. The provided HTML and CSS automatically adapts to your device settings, displaying in either light or dark mode indicated by `@media(prefers-color-scheme)`.",
          "items": {
            "type": "string"
          }
        },
        "webSearchQueries": {
          "description": "List of queries used to perform the google search along with the search result URIs forming the search suggestions.",
          "items": {
            "$ref": "WebSearchQuery"
          },
          "type": "array"
        }
      },
      "description": "Search suggestions from Google Search Tool."
    },
    "ServiceDirectoryConfig": {
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app.",
          "type": "string"
        }
      },
      "id": "ServiceDirectoryConfig",
      "description": "Configuration for tools using Service Directory."
    },
    "LfA2aV1Part": {
      "type": "object",
      "properties": {
        "data": {
          "type": "any",
          "description": "Arbitrary structured `data` as a JSON value (object, array, string, number, boolean, or null)."
        },
        "url": {
          "description": "A `url` pointing to the file's content.",
          "type": "string"
        },
        "text": {
          "description": "The string content of the `text` part.",
          "type": "string"
        },
        "raw": {
          "description": "The `raw` byte content of a file. In JSON serialization, this is encoded as a base64 string.",
          "type": "string",
          "format": "byte"
        },
[...]
