{
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        }
      }
    }
  },
  "description": "",
  "servicePath": "",
  "ownerDomain": "google.com",
  "version": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "id": "ces:v1",
  "schemas": {
    "MockConfig": {
      "properties": {
        "unmatchedToolCallBehavior": {
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls.",
          "type": "string"
        },
        "mockedToolCalls": {
          "items": {
            "$ref": "MockedToolCall"
          },
          "description": "Optional. All tool calls to mock for the duration of the session.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "MockConfig",
      "description": "Mock tool calls configuration for the session."
    },
    "AgentAgentToolset": {
      "id": "AgentAgentToolset",
      "type": "object",
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The tools IDs to filter the toolset.",
          "type": "array"
        }
      },
      "description": "A toolset with a selection of its tools."
    },
    "DeployChannelResponse": {
      "description": "Response message for AgentService.DeployChannel.",
      "properties": {
        "deployment": {
          "description": "The created deployment.",
          "$ref": "Deployment"
        }
      },
      "id": "DeployChannelResponse",
      "type": "object"
    },
    "ExperimentConfig": {
      "properties": {
        "versionRelease": {
          "description": "Optional. Version release for the experiment.",
          "$ref": "ExperimentConfigVersionRelease"
        }
      },
      "type": "object",
      "id": "ExperimentConfig",
      "description": "Experiment for the deployment."
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "ListToolsetsResponse": {
      "id": "ListToolsetsResponse",
      "description": "Response message for AgentService.ListToolsets.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "toolsets": {
          "type": "array",
          "items": {
            "$ref": "Toolset"
          },
          "description": "The list of toolsets."
        }
      },
      "type": "object"
    },
    "LfA2aV1OpenIdConnectSecurityScheme": {
      "type": "object",
      "description": "Defines a security scheme using OpenID Connect.",
      "id": "LfA2aV1OpenIdConnectSecurityScheme",
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        },
        "openIdConnectUrl": {
          "description": "Required. The [OpenID Connect Discovery URL](https://openid.net/specs/openid-connect-discovery-1_0.html) for the OIDC provider's metadata.",
          "type": "string"
        }
      }
    },
    "BigQueryExportSettings": {
      "type": "object",
      "properties": {
        "project": {
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the BigQuery export is enabled."
        },
        "dataset": {
          "type": "string",
          "description": "Optional. The BigQuery **dataset ID** to export the data to."
        }
      },
      "id": "BigQueryExportSettings",
      "description": "Settings to describe the BigQuery export behaviors for the app."
    },
    "LfA2aV1PasswordOAuthFlow": {
      "properties": {
        "scopes": {
          "type": "object",
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "tokenUrl": {
          "type": "string",
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        }
      },
      "type": "object",
      "id": "LfA2aV1PasswordOAuthFlow",
      "description": "Deprecated: Use Authorization Code + PKCE or Device Code."
    },
    "DataStoreToolRewriterConfig": {
      "id": "DataStoreToolRewriterConfig",
      "properties": {
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the rewriter is disabled.",
          "type": "boolean"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Required. Configurations for the LLM model."
        }
      },
      "type": "object",
      "description": "Rewriter configuration."
    },
    "LfA2aV1AgentSkill": {
      "id": "LfA2aV1AgentSkill",
      "properties": {
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "securityRequirements": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "description": "Security schemes necessary for this skill."
        },
        "tags": {
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        },
        "inputModes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults."
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        },
        "outputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of supported output media types for this skill, overriding the agent's defaults."
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        }
      },
      "description": "Represents a distinct capability or function that an agent can perform.",
      "type": "object"
    },
    "OpenApiToolset": {
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema.",
      "type": "object",
      "properties": {
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema.",
          "type": "boolean"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates",
          "$ref": "TlsConfig"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema of the toolset.",
          "type": "string"
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        }
      },
      "id": "OpenApiToolset"
    },
    "InputAudioConfig": {
      "id": "InputAudioConfig",
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "type": "object",
      "properties": {
        "noiseSuppressionLevel": {
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "description": "Required. The encoding of the input audio data.",
          "type": "string"
        },
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListAppsResponse": {
      "properties": {
        "apps": {
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAppsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListApps."
    },
    "AgentRegistryDeployment": {
      "type": "object",
      "description": "Configuration and status for Agent Registry deployment.",
      "id": "AgentRegistryDeployment",
      "properties": {
        "agentRegistryServiceName": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The resource name of the deployed Agent Registry service. Format: `projects/{project}/locations/{location}/services/{service}`"
        }
      }
    },
    "SessionOutputDiagnosticInfo": {
      "description": "Contains execution details during the processing.",
      "id": "SessionOutputDiagnosticInfo",
      "type": "object",
      "properties": {
        "rootSpan": {
          "$ref": "Span",
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "List of the messages that happened during the processing."
        }
      }
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
      "type": "object",
      "properties": {
        "defaultPromptTemplate": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY."
        }
      },
      "description": "Configuration for default system security settings."
    },
    "TimeZoneSettings": {
      "id": "TimeZoneSettings",
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris."
        }
      },
      "description": "TimeZone settings of the app."
    },
    "McpToolset": {
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "id": "McpToolset",
      "type": "object",
      "properties": {
        "serverAddress": {
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
        },
        "customHeaders": {
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "toolOverrides": {
          "items": {
            "$ref": "McpToolOverride"
          },
          "description": "Optional. Overrides for individual tools within this toolset. This allows overriding specific details like descriptions, names, or pinning the tools' states so they aren't fully dynamic.",
          "type": "array"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        }
      }
    },
    "EndpointControlPolicy": {
      "description": "Defines project/location level endpoint control policy.",
      "id": "EndpointControlPolicy",
      "type": "object",
      "properties": {
        "allowedOrigins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\"."
        },
        "enforcementScope": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ],
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced.",
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ]
        }
      }
    },
    "Conversation": {
      "type": "object",
      "id": "Conversation",
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "properties": {
        "deployment": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the conversation was completed."
        },
        "turns": {
          "items": {
            "$ref": "ConversationTurn"
          },
          "type": "array",
          "description": "Required. The turns in the conversation."
        },
        "turnCount": {
          "description": "Output only. The number of turns in the conversation.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Timestamp when the conversation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language code of the conversation."
        },
        "inputTypes": {
          "description": "Output only. The input types of the conversation.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ]
          },
          "readOnly": true
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "deprecated": true,
          "description": "Deprecated. Use turns instead."
        },
        "channelType": {
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "description": "DEPRECATED. Please use input_types instead.",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ]
        },
        "source": {
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "readOnly": true,
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "description": "Output only. Indicate the source of the conversation.",
          "type": "string"
        },
        "entryAgent": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "appVersion": {
          "type": "string",
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "readOnly": true
        }
      }
    },
    "LfA2aV1AgentCapabilities": {
      "id": "LfA2aV1AgentCapabilities",
      "properties": {
        "streaming": {
          "type": "boolean",
          "description": "Indicates if the agent supports streaming responses."
        },
        "pushNotifications": {
          "description": "Indicates if the agent supports sending push notifications for asynchronous task updates.",
          "type": "boolean"
        },
        "extendedAgentCard": {
          "type": "boolean",
          "description": "Indicates if the agent supports providing an extended agent card when authenticated."
        },
        "extensions": {
          "items": {
            "$ref": "LfA2aV1AgentExtension"
          },
          "type": "array",
          "description": "A list of protocol extensions supported by the agent."
        }
      },
      "type": "object",
      "description": "Defines optional capabilities supported by an agent."
    },
    "LfA2aV1AgentExtension": {
      "description": "A declaration of a protocol extension supported by an Agent.",
      "properties": {
        "required": {
          "type": "boolean",
          "description": "If true, the client must understand and comply with the extension's requirements."
        },
        "uri": {
          "description": "The unique URI identifying the extension.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of how this agent uses the extension."
        },
        "params": {
          "description": "Optional. Extension-specific configuration parameters.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "LfA2aV1AgentExtension"
    },
    "InstagramCredentials": {
      "description": "Ephemeral Meta credentials for Instagram native integration.",
      "type": "object",
      "id": "InstagramCredentials",
      "properties": {
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        },
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The Conversation Profile ID to use for the deployment."
        }
      }
    },
    "GenerateChatTokenRequest": {
      "properties": {
        "deployment": {
          "type": "string",
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}"
        },
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        },
        "liveHandoffEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates if live handoff is enabled for the session."
        }
      },
      "type": "object",
      "description": "Request message for WidgetService.GenerateChatToken.",
      "id": "GenerateChatTokenRequest"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "type": "object",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "Optional. The name of the field whose value will be used to determine the boost amount."
        },
        "controlPoints": {
          "type": "array",
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        },
        "interpolationType": {
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        },
        "attributeType": {
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ]
        }
      }
    },
    "LanguageSettings": {
      "id": "LanguageSettings",
      "description": "Language settings of the app.",
      "type": "object",
      "properties": {
        "defaultLanguageCode": {
          "description": "Optional. The default language code of the app.",
          "type": "string"
        },
        "fallbackAction": {
          "type": "string",
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation.",
          "deprecated": true
        },
        "supportedLanguageCodes": {
          "type": "array",
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`.",
          "items": {
            "type": "string"
          }
        },
        "enableMultilingualSupport": {
          "type": "boolean",
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input."
        }
      }
    },
    "ErrorHandlingSettings": {
      "type": "object",
      "properties": {
        "errorHandlingStrategy": {
          "description": "Optional. The strategy to use for error handling.",
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ]
        },
        "endSessionConfig": {
          "$ref": "ErrorHandlingSettingsEndSessionConfig",
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors)."
        },
        "fallbackResponseConfig": {
          "description": "Optional. Configuration for handling fallback responses.",
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig"
        }
      },
      "id": "ErrorHandlingSettings",
      "description": "Settings to describe how errors should be handled in the app."
    },
    "RunSessionResponse": {
      "type": "object",
      "description": "Response message for SessionService.RunSession.",
      "properties": {
        "outputs": {
          "type": "array",
          "description": "Outputs for the session.",
          "items": {
            "$ref": "SessionOutput"
          }
        }
      },
      "id": "RunSessionResponse"
    },
    "ListChangelogsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "changelogs": {
          "items": {
            "$ref": "Changelog"
          },
          "description": "The list of changelogs.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListChangelogsResponse",
      "description": "Response message for AgentService.ListChangelogs."
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters.",
          "type": "string"
        },
        "trafficPercentage": {
          "format": "int32",
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100.",
          "type": "integer"
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        }
      },
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "description": "Traffic allocation for the version release."
    },
    "RetrieveToolsRequest": {
      "id": "RetrieveToolsRequest",
      "type": "object",
      "description": "Request message for ToolService.RetrieveTools.",
      "properties": {
        "toolIds": {
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bypassPersistenceConfig": {
          "description": "Optional. If true, the returned tools will contain raw descriptions and schemas directly from the server, bypassing any stored persistence configurations (overrides/snapshots).",
          "type": "boolean"
        }
      }
    },
    "TriggerActionGenerativeAnswer": {
      "description": "The agent will immediately respond with a generative answer.",
      "type": "object",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Required. The prompt to use for the generative answer."
        }
      },
      "id": "TriggerActionGenerativeAnswer"
    },
    "TransferRule": {
      "properties": {
        "direction": {
          "description": "Required. The direction of the transfer.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "type": "string"
        },
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        },
        "childAgent": {
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "deterministicTransfer": {
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met.",
          "$ref": "TransferRuleDeterministicTransfer"
        }
      },
      "type": "object",
      "description": "Rule for transferring to a specific agent.",
      "id": "TransferRule"
    },
    "AgentRemoteA2aAgent": {
      "description": "The agent which will transfer execution to a remote [A2A](https://github.com/a2aproject/A2A) agent.",
      "type": "object",
      "id": "AgentRemoteA2aAgent",
      "properties": {
        "a2aConfig": {
          "description": "Required. The A2A connection configuration.",
          "$ref": "RemoteA2aConfig"
        }
      }
    },
    "ExecuteToolRequest": {
      "id": "ExecuteToolRequest",
      "type": "object",
      "description": "Request message for ToolService.ExecuteTool.",
      "properties": {
        "args": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The input parameters and values for the tool in JSON object format."
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}"
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The variables that are available for the tool execution."
        },
        "context": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool.",
          "type": "object"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "mockConfig": {
          "$ref": "MockConfig",
          "description": "Optional. Mock configuration for the tool execution. If this field is set, tools that call other tools will be mocked based on the provided patterns and responses."
        }
      }
    },
    "EndUserAuthConfig": {
      "properties": {
        "oauth2AuthCodeConfig": {
          "description": "Oauth 2.0 Authorization Code authentication.",
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig"
        },
        "oauth2JwtBearerConfig": {
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig",
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication."
        }
      },
      "type": "object",
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`.",
      "id": "EndUserAuthConfig"
    },
    "LfA2aV1ClientCredentialsOAuthFlow": {
      "description": "Defines configuration details for the OAuth 2.0 Client Credentials flow.",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "tokenUrl": {
          "description": "Required. The token URL to be used for this flow.",
          "type": "string"
        },
        "scopes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The available scopes for the OAuth2 security scheme."
        }
      },
      "id": "LfA2aV1ClientCredentialsOAuthFlow",
      "type": "object"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "properties": {
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable)."
    },
    "ConnectorTool": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "action": {
          "description": "Required. Action for the tool to use.",
          "$ref": "Action"
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "name": {
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        }
      },
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "id": "ConnectorTool"
    },
    "RemoteAgentTool": {
      "description": "Represents a tool that allows the agent to call another remote agent.",
      "id": "RemoteAgentTool",
      "type": "object",
      "properties": {
        "agentCard": {
          "description": "Required. The agent card of the remote agent that this tool invokes.",
          "$ref": "AgentCard"
        },
        "inputVariableMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of input variable names of remote agent to GECX variable names."
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the tool."
        },
        "outputVariableMapping": {
          "type": "object",
          "description": "Optional. Mapping of output variable names of remote agent to GECX variable names.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "statefulAgent": {
          "type": "boolean",
          "description": "Optional. When enabled, the interaction between the CXAS app and the remote agent will share the same context. If the remote agent returns a context_id, it will be persisted for the entirety of the session for this remote agent tool."
        },
        "apiAuthentication": {
          "description": "Optional. Authentication configuration for calling the remote agent.",
          "$ref": "ApiAuthentication"
        }
      }
    },
    "OAuthConfig": {
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The OAuth scopes to grant."
        },
        "clientSecretVersion": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "oauthGrantType": {
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ],
          "type": "string",
          "description": "Required. OAuth grant types.",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ]
        },
        "clientId": {
          "type": "string",
          "description": "Required. The client ID from the OAuth provider."
        },
        "tokenEndpoint": {
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token.",
          "type": "string"
        }
      },
      "description": "Configurations for authentication with OAuth.",
      "id": "OAuthConfig",
      "type": "object"
    },
    "AgentRemoteDialogflowAgent": {
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent.",
      "id": "AgentRemoteDialogflowAgent",
      "properties": {
        "environmentId": {
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used.",
          "type": "string"
        },
        "outputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "type": "object"
        },
        "inputVariableMapping": {
          "type": "object",
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "agent": {
          "type": "string",
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        },
        "flowId": {
          "type": "string",
          "description": "Optional. The flow ID of the flow in the Dialogflow agent."
        },
        "respectResponseInterruptionSettings": {
          "type": "boolean",
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings."
        },
        "languageCodeVariable": {
          "type": "string",
          "description": "Optional. The name of the variable that contains the language code to be used for the Dialogflow session. If unspecified, the default language code of the Dialogflow agent will be used."
        }
      },
      "type": "object"
    },
    "TriggerActionRespondImmediately": {
      "id": "TriggerActionRespondImmediately",
      "description": "The agent will immediately respond with a preconfigured response.",
      "type": "object",
      "properties": {
        "responses": {
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly.",
          "type": "array",
          "items": {
            "$ref": "TriggerActionResponse"
          }
        }
      }
    },
    "LfA2aV1SendMessageConfiguration": {
      "properties": {
        "historyLength": {
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit.",
          "type": "integer",
          "format": "int32"
        },
        "taskPushNotificationConfig": {
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request.",
          "$ref": "LfA2aV1TaskPushNotificationConfig"
        },
        "returnImmediately": {
          "type": "boolean",
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning."
        },
        "acceptedOutputModes": {
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "LfA2aV1SendMessageConfiguration",
      "type": "object",
      "description": "Configuration of a send message request."
    },
    "ActionEntityOperation": {
      "id": "ActionEntityOperation",
      "properties": {
        "entityId": {
          "type": "string",
          "description": "Required. ID of the entity."
        },
        "operation": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ],
          "type": "string",
          "description": "Required. Operation to perform on the entity."
        }
      },
      "type": "object",
      "description": "Entity CRUD operation specification."
    },
    "AgentSkill": {
      "properties": {
        "inputModes": {
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "type": "array"
        },
        "examples": {
          "items": {
            "type": "string"
          },
          "description": "Example prompts or scenarios that this skill can handle.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Required. A detailed description of the skill."
        },
        "outputModes": {
          "type": "array",
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "name": {
          "description": "Required. A human-readable name for the skill.",
          "type": "string"
        }
      },
      "description": "Represents a distinct capability or function that an agent can perform.",
      "type": "object",
      "id": "AgentSkill"
    },
    "ExperimentConfigVersionRelease": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ],
          "description": "Optional. State of the version release."
        },
        "trafficAllocations": {
          "description": "Optional. Traffic allocations for the version release.",
          "type": "array",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          }
        }
      },
      "description": "Version release for the experiment.",
      "id": "ExperimentConfigVersionRelease",
      "type": "object"
    },
    "BargeInConfig": {
      "properties": {
        "disableBargeIn": {
          "type": "boolean",
          "deprecated": true,
          "description": "Optional. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored."
        },
        "bargeInAwareness": {
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "BargeInConfig",
      "description": "Configuration for how the user barge-in activities should be handled."
    },
    "ImportAppRequestImportOptions": {
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data.",
      "properties": {
        "conflictResolutionStrategy": {
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ],
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one.",
          "type": "boolean"
        }
      },
      "id": "ImportAppRequestImportOptions",
      "type": "object"
    },
    "ClientFunction": {
      "type": "object",
      "id": "ClientFunction",
      "properties": {
        "description": {
          "description": "Optional. The function description.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. The schema of the function parameters.",
          "$ref": "Schema"
        },
        "response": {
          "description": "Optional. The schema of the function response.",
          "$ref": "Schema"
        },
        "name": {
          "description": "Required. The function name.",
          "type": "string"
        }
      },
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent."
    },
    "ChannelProfile": {
      "type": "object",
      "id": "ChannelProfile",
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony.",
      "properties": {
        "disableDtmf": {
          "type": "boolean",
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency)."
        },
        "whatsappConfig": {
          "description": "Optional. Configuration specific to WhatsApp deployments.",
          "$ref": "ChannelProfileWhatsAppConfig"
        },
        "profileId": {
          "description": "Optional. The unique identifier of the channel profile.",
          "type": "string"
        },
        "instagramConfig": {
          "$ref": "ChannelProfileInstagramConfig",
          "description": "Optional. Configuration specific to Instagram deployments."
        },
        "webWidgetConfig": {
          "$ref": "ChannelProfileWebWidgetConfig",
          "description": "Optional. The configuration for the web widget."
        },
        "channelType": {
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Contact Center as a Service (CCaaS Chat) channel.",
            "Five9 channel.",
            "Third party contact center integration channel.",
            "WhatsApp channel.",
            "Instagram channel."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "CONTACT_CENTER_AS_A_SERVICE_CHAT",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION",
            "WHATSAPP",
            "INSTAGRAM"
          ],
          "description": "Optional. The type of the channel profile."
        },
        "disableBargeInControl": {
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt.",
          "type": "boolean"
        },
        "personaProperty": {
          "$ref": "ChannelProfilePersonaProperty",
          "description": "Optional. The persona property of the channel profile."
        },
        "noiseSuppressionLevel": {
          "type": "string",
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
        }
      }
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "id": "ChannelProfileWebWidgetConfigSecuritySettings",
      "description": "Security settings for the web widget.",
      "type": "object",
      "properties": {
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\""
        },
        "enablePublicAccess": {
          "type": "boolean",
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent."
        },
        "enableOriginCheck": {
          "type": "boolean",
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins."
        },
        "enableRecaptcha": {
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled.",
          "type": "boolean"
        }
      }
    },
    "LfA2aV1AgentCardSignature": {
      "properties": {
        "header": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The unprotected JWS header values."
        },
        "protected": {
          "type": "string",
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object."
        },
        "signature": {
          "type": "string",
          "description": "Required. The computed signature, base64url-encoded."
        }
      },
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "type": "object",
      "id": "LfA2aV1AgentCardSignature"
    },
    "WhatsAppCredentials": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Required. The phone number to register with WhatsApp."
        },
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "pin": {
          "type": "string",
          "description": "Required. The 6-digit PIN created by the user for two-step verification."
        },
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The Conversation Profile ID to use for the deployment."
        },
        "businessAccountId": {
          "type": "string",
          "description": "Required. The Business Account ID to use for the phone number."
        },
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        }
      },
      "id": "WhatsAppCredentials",
      "type": "object",
      "description": "Ephemeral Meta credentials for WhatsApp native integration."
    },
    "ApiAuthentication": {
      "properties": {
        "serviceAgentIdTokenAuthConfig": {
          "$ref": "ServiceAgentIdTokenAuthConfig",
          "description": "Optional. Config for ID token auth generated from CES service agent."
        },
        "bearerTokenConfig": {
          "description": "Optional. Config for bearer token auth.",
          "$ref": "BearerTokenConfig"
        },
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        },
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        },
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        }
      },
      "description": "Authentication information required for API calls.",
      "type": "object",
      "id": "ApiAuthentication"
    },
    "LfA2aV1Artifact": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Optional. Metadata included with the artifact.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        },
        "artifactId": {
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task.",
          "type": "string"
        },
        "parts": {
          "items": {
            "$ref": "LfA2aV1Part"
          },
          "description": "Required. The content of the artifact. Must contain at least one part.",
          "type": "array"
        },
        "description": {
          "description": "Optional. A human readable description of the artifact.",
          "type": "string"
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Artifact."
        }
      },
      "id": "LfA2aV1Artifact",
      "description": "Artifacts represent task outputs."
    },
    "GuardrailLlmPromptSecurity": {
      "type": "object",
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification.",
      "id": "GuardrailLlmPromptSecurity",
      "properties": {
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        },
        "customPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail."
        },
        "defaultSettings": {
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
        }
      }
    },
    "LfA2aV1AgentInterface": {
      "type": "object",
      "id": "LfA2aV1AgentInterface",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "properties": {
        "tenant": {
          "description": "Optional. An opaque string used for routing requests to a specific agent or tenant when multiple agents are served behind a single A2A endpoint. When set, clients MUST include this value in the `tenant` field of all request messages sent to this interface. The server is responsible for interpreting the value and routing requests accordingly; the protocol does not define its format or semantics.",
          "type": "string"
        },
        "protocolBinding": {
          "type": "string",
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`."
        },
        "url": {
          "type": "string",
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
        },
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        }
      }
    },
    "DataStoreTool": {
      "type": "object",
      "properties": {
        "filterParameterBehavior": {
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ],
          "description": "Optional. The filter parameter behavior."
        },
        "dataStoreSource": {
          "$ref": "DataStoreToolDataStoreSource",
          "description": "Optional. Search within a single specific DataStore."
        },
        "modalityConfigs": {
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          },
          "type": "array",
          "description": "Optional. The modality configs for the data store."
        },
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        },
        "engineSource": {
          "description": "Optional. Search within an Engine (potentially across multiple DataStores).",
          "$ref": "DataStoreToolEngineSource"
        },
        "boostSpecs": {
          "description": "Optional. Boost specification to boost certain documents.",
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The data store tool name."
        }
      },
      "id": "DataStoreTool",
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "Message": {
      "description": "A message within a conversation.",
      "id": "Message",
      "type": "object",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "Optional. The role within the conversation, e.g., user, agent."
        },
        "chunks": {
          "description": "Optional. Content of the message as a series of chunks.",
          "items": {
            "$ref": "Chunk"
          },
          "type": "array"
        }
      }
    },
    "DataStore": {
      "id": "DataStore",
      "description": "A DataStore resource in Vertex AI Search.",
      "type": "object",
      "properties": {
        "documentProcessingMode": {
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores.",
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the data store was created.",
          "format": "google-datetime"
        },
        "connectorConfig": {
          "$ref": "DataStoreConnectorConfig",
          "readOnly": true,
          "description": "Output only. The connector config for the data store connection."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the data store."
        },
        "name": {
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`",
          "type": "string"
        }
      }
    },
    "PythonFunction": {
      "type": "object",
      "description": "A Python function tool.",
      "id": "PythonFunction",
      "properties": {
        "description": {
          "description": "Output only. The description of the Python function, parsed from the python code's docstring.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for the tool."
        },
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "description": "Expectation level metrics thresholds.",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "type": "object",
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "type": "number",
          "format": "float",
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0."
        }
      }
    },
    "ExportAppRequest": {
      "type": "object",
      "description": "Request message for AgentService.ExportApp.",
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "description": "Required. The format to export the app in.",
          "type": "string"
        },
        "gcsUri": {
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object.",
          "type": "string"
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`."
        }
      },
      "id": "ExportAppRequest"
    },
    "TlsConfigCaCert": {
      "id": "TlsConfigCaCert",
      "type": "object",
      "description": "The CA certificate.",
      "properties": {
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        },
        "cert": {
          "format": "byte",
          "type": "string",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```"
        }
      }
    },
    "DataStoreToolSummarizationConfig": {
      "properties": {
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "disabled": {
          "description": "Optional. Whether summarization is disabled.",
          "type": "boolean"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Summarization configuration.",
      "id": "DataStoreToolSummarizationConfig"
    },
    "ChannelProfileInstagramConfig": {
      "properties": {
        "instagramAccountId": {
          "description": "Required. The Instagram Account ID.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the Meta business page or profile."
        },
        "thumbnailUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fetched Meta business profile thumbnail URL."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fetched Meta business page name."
        }
      },
      "type": "object",
      "description": "Configuration specific to Instagram deployments.",
      "id": "ChannelProfileInstagramConfig"
    },
    "DataStoreSettings": {
      "properties": {
        "engines": {
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "type": "array",
          "description": "Output only. The engines for the app.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DataStoreSettings",
      "description": "Data store related settings for the app."
    },
    "AgentTool": {
      "properties": {
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "agent": {
          "type": "string",
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the agent tool."
        }
      },
      "id": "AgentTool",
      "type": "object",
      "description": "Represents a tool that allows the agent to call another agent."
    },
    "LfA2aV1TaskArtifactUpdateEvent": {
      "properties": {
        "append": {
          "description": "If true, the content of this artifact should be appended to a previously sent artifact with the same ID.",
          "type": "boolean"
        },
        "taskId": {
          "description": "Required. The ID of the task for this artifact.",
          "type": "string"
        },
        "contextId": {
          "type": "string",
          "description": "Required. The ID of the context that this task belongs to."
        },
        "lastChunk": {
          "description": "If true, this is the final chunk of the artifact.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Metadata associated with the artifact update.",
          "type": "object"
        },
        "artifact": {
          "description": "Required. The artifact that was generated or updated.",
          "$ref": "LfA2aV1Artifact"
        }
      },
      "description": "A task delta where an artifact has been generated.",
      "id": "LfA2aV1TaskArtifactUpdateEvent",
      "type": "object"
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "type": "object",
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "properties": {
        "payload": {
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "endUserMetadata": {
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        }
      },
      "id": "SessionConfigRemoteDialogflowQueryParameters"
    },
    "PythonCodeCondition": {
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. The python code to execute."
        }
      },
      "type": "object",
      "id": "PythonCodeCondition",
      "description": "Python code block to evaluate the condition."
    },
    "ImportAppRequest": {
      "description": "Request message for AgentService.ImportApp.",
      "properties": {
        "importOptions": {
          "description": "Optional. Options governing the import process for the app.",
          "$ref": "ImportAppRequestImportOptions"
        },
        "appContent": {
          "description": "Raw bytes representing the compressed zip file with the app folder structure.",
          "format": "byte",
          "type": "string"
        },
        "jsonPatchGcsUri": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI pointing to a JSON file containing the patches."
        },
        "jsonPatchContent": {
          "type": "string",
          "description": "Optional. Patch content as a JSON string."
        },
        "ignoreAppLock": {
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error."
        },
        "appId": {
          "type": "string",
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced."
        },
        "gcsUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`."
        }
      },
      "type": "object",
      "id": "ImportAppRequest"
    },
    "RemoteA2aConfig": {
      "description": "Shared configuration for connecting to a remote [A2A](https://github.com/a2aproject/A2A) agent.",
      "type": "object",
      "id": "RemoteA2aConfig",
      "properties": {
        "apiAuthentication": {
          "description": "Optional. Authentication configuration for calling the remote agent. Optional if the registry reference already handles authentication.",
          "$ref": "ApiAuthentication"
        },
        "inputVariableMapping": {
          "description": "Optional. Mapping of input variable names of remote agent to GECX variable names.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "streamingEnabled": {
          "description": "Optional. Whether streaming is enabled for the remote agent.",
          "type": "boolean"
        },
        "agentCard": {
          "description": "Optional. The full agent card defined inline.",
          "$ref": "AgentCard"
        },
        "outputVariableMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of output variable names of remote agent to GECX variable names."
        },
        "contextId": {
          "type": "string",
          "description": "Optional. If not empty, interactions with the remote A2A agent will use this context ID. This context_id field can refer to a session variable like `$context.variables.order_agent_session_id`."
        },
        "agentRegistry": {
          "description": "Optional. Reference to the agent in the Agent Registry. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "ChannelProfilePersonaProperty": {
      "description": "Represents the persona property of a channel.",
      "type": "object",
      "properties": {
        "persona": {
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ],
          "description": "Optional. The persona of the channel."
        }
      },
      "id": "ChannelProfilePersonaProperty"
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "type": "object",
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "properties": {
        "clientKey": {
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "issuer": {
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "id": "EndUserAuthConfigOauth2JwtBearerConfig"
    },
    "LfA2aV1TaskStatus": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Required. The current state of this task.",
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ],
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ]
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message associated with the status."
        },
        "timestamp": {
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "LfA2aV1TaskStatus",
      "description": "A container for the status of a task"
    },
    "ServiceAccountAuthConfig": {
      "description": "Configurations for authentication using a custom service account.",
      "properties": {
        "scopes": {
          "type": "array",
          "description": "Optional. The OAuth scopes to grant. If not specified, the default scope `https://www.googleapis.com/auth/cloud-platform` is used.",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "Required. The email address of the service account used for authentication. CES uses this service account to exchange an access token and the access token is then sent in the `Authorization` header of the request. The service account must have the `roles/iam.serviceAccountTokenCreator` role granted to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ServiceAccountAuthConfig"
    },
    "SynthesizeSpeechConfig": {
      "description": "Configuration for how the agent response should be synthesized.",
      "id": "SynthesizeSpeechConfig",
      "properties": {
        "speakingRate": {
          "type": "number",
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "format": "double"
        },
        "consentAudioGcsUri": {
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the consent audio for voice cloning.",
          "type": "string",
          "deprecated": true
        },
        "voiceSampleGcsUri": {
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file. Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "deprecated": true,
          "type": "string"
        },
        "model": {
          "description": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used.",
          "type": "string"
        },
        "instruction": {
          "type": "string",
          "description": "Optional. The instruction used to synthesize speech when using a generative model."
        },
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        }
      },
      "type": "object"
    },
    "ListGuardrailsResponse": {
      "type": "object",
      "description": "Response message for AgentService.ListGuardrails.",
      "id": "ListGuardrailsResponse",
      "properties": {
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "description": "The list of guardrails.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ExportAppResponse": {
      "properties": {
        "appUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported.",
          "type": "string"
        },
        "appContent": {
          "format": "byte",
          "type": "string",
          "description": "App folder compressed as a zip file."
        }
      },
      "id": "ExportAppResponse",
      "type": "object",
      "description": "Response message for AgentService.ExportApp."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
[...]
