{
  "baseUrl": "https://ces.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "schemas": {
    "ClientFunction": {
      "type": "object",
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The function description."
        },
        "response": {
          "description": "Optional. The schema of the function response.",
          "$ref": "Schema"
        },
        "parameters": {
          "description": "Optional. The schema of the function parameters.",
          "$ref": "Schema"
        },
        "name": {
          "type": "string",
          "description": "Required. The function name."
        }
      },
      "id": "ClientFunction"
    },
    "GoogleSearchToolPromptConfig": {
      "properties": {
        "voicePrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used.",
          "type": "string"
        },
        "textPrompt": {
          "type": "string",
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used."
        }
      },
      "type": "object",
      "id": "GoogleSearchToolPromptConfig",
      "description": "Prompt settings used by the model when processing or summarizing the google search results."
    },
    "RetrieveToolsRequest": {
      "description": "Request message for ToolService.RetrieveTools.",
      "id": "RetrieveToolsRequest",
      "properties": {
        "toolIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned."
        },
        "bypassPersistenceConfig": {
          "description": "Optional. If true, the returned tools will contain raw descriptions and schemas directly from the server, bypassing any stored persistence configurations (overrides/snapshots).",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ConversationLoggingSettings": {
      "properties": {
        "disableConversationLogging": {
          "description": "Optional. Whether to disable conversation logging for the sessions.",
          "type": "boolean"
        },
        "retentionWindow": {
          "description": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConversationLoggingSettings",
      "description": "Settings to describe the conversation logging behaviors for the app."
    },
    "ListGuardrailsResponse": {
      "properties": {
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array",
          "description": "The list of guardrails."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListGuardrailsResponse",
      "description": "Response message for AgentService.ListGuardrails."
    },
    "GenerateAppResourceRequestEvaluationGenerationConfig": {
      "id": "GenerateAppResourceRequestEvaluationGenerationConfig",
      "description": "The configuration to be used to generate the evaluations.",
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "Optional. The insights dataset to be used to fetch conversation data for generating the evaluations. Format: `projects/{project}/locations/{location}/datasets/{dataset}`."
        }
      }
    },
    "LfA2aV1Message": {
      "type": "object",
      "id": "LfA2aV1Message",
      "description": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it.",
      "properties": {
        "contextId": {
          "description": "Optional. The context id of the message. If set, the message will be associated with the given context.",
          "type": "string"
        },
        "referenceTaskIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of task IDs that this message references for additional context."
        },
        "taskId": {
          "type": "string",
          "description": "Optional. The task id of the message. If set, the message will be associated with the given task."
        },
        "messageId": {
          "type": "string",
          "description": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. Any metadata to provide along with the message."
        },
        "parts": {
          "description": "Required. Parts is the container of the message content.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ],
          "description": "Required. Identifies the sender of the message.",
          "enumDescriptions": [
            "The role is unspecified.",
            "The message is from the client to the server.",
            "The message is from the server to the client."
          ]
        }
      }
    },
    "LfA2aV1OAuth2SecurityScheme": {
      "description": "Defines a security scheme using OAuth 2.0.",
      "type": "object",
      "properties": {
        "oauth2MetadataUrl": {
          "type": "string",
          "description": "URL to the OAuth2 authorization server metadata [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required."
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "flows": {
          "description": "Required. An object containing configuration information for the supported OAuth 2.0 flows.",
          "$ref": "LfA2aV1OAuthFlows"
        }
      },
      "id": "LfA2aV1OAuth2SecurityScheme"
    },
    "SecuritySettings": {
      "id": "SecuritySettings",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Create time of the security settings.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag of the security settings.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of the security settings.",
          "type": "string"
        },
        "endpointControlPolicy": {
          "description": "Optional. Endpoint control related settings.",
          "$ref": "EndpointControlPolicy"
        }
      },
      "description": "Project/Location level security settings for CES."
    },
    "GenerateAppResourceRequestEvaluationPersonasGenerationConfig": {
      "properties": {},
      "id": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig",
      "description": "The configuration to be used to generate the evaluation personas.",
      "type": "object"
    },
    "RunEvaluationResultMetricsRequest": {
      "id": "RunEvaluationResultMetricsRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for EvaluationService.RunEvaluationResultMetrics."
    },
    "EndUserAuthConfig": {
      "type": "object",
      "properties": {
        "oauth2AuthCodeConfig": {
          "description": "Oauth 2.0 Authorization Code authentication.",
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig"
        },
        "oauth2JwtBearerConfig": {
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig",
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication."
        }
      },
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`.",
      "id": "EndUserAuthConfig"
    },
    "OAuthConfig": {
      "type": "object",
      "id": "OAuthConfig",
      "properties": {
        "oauthGrantType": {
          "description": "Required. OAuth grant types.",
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ],
          "type": "string",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ]
        },
        "clientId": {
          "type": "string",
          "description": "Required. The client ID from the OAuth provider."
        },
        "clientSecretVersion": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "tokenEndpoint": {
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token.",
          "type": "string"
        },
        "scopes": {
          "description": "Optional. The OAuth scopes to grant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Configurations for authentication with OAuth."
    },
    "EvaluationResultSpanLatency": {
      "description": "The latency of a span execution.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Output only. The resource name of the guardrail or tool spans.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the span. Applicable to tool and guardrail spans."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The end time of span.",
          "type": "string",
          "readOnly": true
        },
        "executionLatency": {
          "readOnly": true,
          "description": "Output only. The latency of span.",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "description": "Output only. The start time of span.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "callback": {
          "type": "string",
          "description": "Output only. The name of the user callback span.",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the LLM span."
        },
        "toolset": {
          "readOnly": true,
          "$ref": "ToolsetTool",
          "description": "Output only. The toolset tool identifier."
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The type of span.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tool call span.",
            "User callback span.",
            "Guardrail span.",
            "LLM span."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOOL",
            "USER_CALLBACK",
            "GUARDRAIL",
            "LLM"
          ]
        }
      },
      "id": "EvaluationResultSpanLatency"
    },
    "ImportAppResponse": {
      "type": "object",
      "description": "Response message for AgentService.ImportApp.",
      "id": "ImportAppResponse",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the app that was imported."
        },
        "warnings": {
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AggregatedMetricsSemanticSimilarityMetrics": {
      "properties": {
        "score": {
          "type": "number",
          "description": "Output only. The average semantic similarity score (0-4).",
          "format": "float",
          "readOnly": true
        }
      },
      "description": "Metrics for semantic similarity results.",
      "type": "object",
      "id": "AggregatedMetricsSemanticSimilarityMetrics"
    },
    "Tool": {
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "googleSearchTool": {
          "$ref": "GoogleSearchTool",
          "description": "Optional. The google search tool."
        },
        "widgetTool": {
          "description": "Optional. The widget tool.",
          "$ref": "WidgetTool"
        },
        "name": {
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the tool was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "mcpTool": {
          "$ref": "McpTool",
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset."
        },
        "connectorTool": {
          "description": "Optional. The Integration Connector tool.",
          "$ref": "ConnectorTool"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the tool was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property.",
          "type": "string",
          "readOnly": true
        },
        "systemTool": {
          "description": "Optional. The system tool.",
          "$ref": "SystemTool"
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tool behavior in fake mode."
        },
        "timeout": {
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools.",
          "type": "string",
          "format": "google-duration"
        },
        "clientFunction": {
          "description": "Optional. The client function.",
          "$ref": "ClientFunction"
        },
        "agentTool": {
          "$ref": "AgentTool",
          "description": "Optional. The agent tool."
        },
        "generatedSummary": {
          "readOnly": true,
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "type": "string"
        },
        "openApiTool": {
          "description": "Optional. The open API tool.",
          "$ref": "OpenApiTool"
        },
        "remoteAgentTool": {
          "$ref": "RemoteAgentTool",
          "description": "Optional. The remote agent tool."
        },
        "dataStoreTool": {
          "description": "Optional. The data store tool.",
          "$ref": "DataStoreTool"
        },
        "executionType": {
          "description": "Optional. The execution type of the tool.",
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ]
        },
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        }
      },
      "id": "Tool",
      "type": "object"
    },
    "RedactionConfig": {
      "id": "RedactionConfig",
      "description": "Configuration to instruct how sensitive data should be handled.",
      "properties": {
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        },
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        }
      },
      "type": "object"
    },
    "WidgetToolDataMapping": {
      "id": "WidgetToolDataMapping",
      "properties": {
        "mode": {
          "description": "Optional. The mode of the data mapping.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ],
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ]
        },
        "fieldMappings": {
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sourceToolName": {
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`",
          "type": "string"
        },
        "pythonFunction": {
          "$ref": "PythonFunction",
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format."
        },
        "pythonScript": {
          "deprecated": true,
          "description": "Deprecated: Use `python_function` instead.",
          "type": "string"
        }
      },
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "type": "object"
    },
    "ServiceAgentIdTokenAuthConfig": {
      "properties": {},
      "id": "ServiceAgentIdTokenAuthConfig",
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent.",
      "type": "object"
    },
    "RemoteA2aConfig": {
      "description": "Shared configuration for connecting to a remote [A2A](https://github.com/a2aproject/A2A) agent.",
      "properties": {
        "outputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of output variable names of remote agent to GECX variable names.",
          "type": "object"
        },
        "agentRegistry": {
          "type": "string",
          "description": "Optional. Reference to the agent in the Agent Registry. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        },
        "inputVariableMapping": {
          "description": "Optional. Mapping of input variable names of remote agent to GECX variable names.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "agentCard": {
          "$ref": "AgentCard",
          "description": "Optional. The full agent card defined inline."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication configuration for calling the remote agent. Optional if the registry reference already handles authentication."
        },
        "contextId": {
          "type": "string",
          "description": "Optional. If not empty, interactions with the remote A2A agent will use this context ID. This context_id field can refer to a session variable like `$context.variables.order_agent_session_id`."
        },
        "streamingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether streaming is enabled for the remote agent."
        }
      },
      "id": "RemoteA2aConfig",
      "type": "object"
    },
    "Example": {
      "type": "object",
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "properties": {
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "Optional. The collection of messages that make up the conversation.",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the example was created.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Human-readable description of the example.",
          "type": "string"
        },
        "entryAgent": {
          "type": "string",
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "invalid": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples."
        },
        "name": {
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the example was last updated."
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "displayName": {
          "description": "Required. Display name of the example.",
          "type": "string"
        }
      },
      "id": "Example"
    },
    "SessionConfig": {
      "properties": {
        "useToolFakes": {
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools.",
          "type": "boolean"
        },
        "entryAgent": {
          "type": "string",
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "enableTextStreaming": {
          "type": "boolean",
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession."
        },
        "remoteDialogflowQueryParameters": {
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
          "$ref": "SessionConfigRemoteDialogflowQueryParameters"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\"."
        },
        "excludeDiagnosticInfo": {
          "description": "Optional. Whether to exclude diagnostic info from the session output.",
          "type": "boolean"
        },
        "historicalContexts": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state."
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "deployment": {
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "inputAudioConfig": {
          "$ref": "InputAudioConfig",
          "description": "Optional. Configuration for processing the input audio."
        }
      },
      "description": "The configuration for the session.",
      "id": "SessionConfig",
      "type": "object"
    },
    "AggregatedMetrics": {
      "type": "object",
      "id": "AggregatedMetrics",
      "properties": {
        "metricsByAppVersion": {
          "items": {
            "$ref": "AggregatedMetricsMetricsByAppVersion"
          },
          "readOnly": true,
          "description": "Output only. Aggregated metrics, grouped by app version ID.",
          "type": "array"
        }
      },
      "description": "Aggregated metrics for an evaluation or evaluation dataset."
    },
    "EvaluationResultTaskCompletionResult": {
      "properties": {
        "score": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The task completion score. Can be -1, 0, 1",
          "format": "int32"
        },
        "explanation": {
          "description": "Output only. The explanation for the task completion score.",
          "type": "string",
          "readOnly": true
        },
        "label": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The label associated with each score. Score 1: Task Completed Score 0: Task Not Completed Score -1: User Goal Undefined"
        }
      },
      "id": "EvaluationResultTaskCompletionResult",
      "type": "object",
      "description": "The result of the task completion check for the conversation."
    },
    "GenerateAppResourceRequestAppGenerationConfig": {
      "properties": {
        "gcsLocation": {
          "type": "string",
          "description": "Optional. The Cloud Storage location to store the generated question answer data to be used by the Datastore tool. This data is generated only when using conversation data as an input source. The location must be in the same project as the app. Format: `gs://...`."
        },
        "generateEvaluations": {
          "description": "Optional. Whether to generate the evaluations for the app. If true, the provided context will be used to generate the evaluations data.",
          "type": "boolean"
        },
        "datasetId": {
          "description": "Optional. The insights dataset to be used to fetch conversation data for generating the agents & tools. Format: `projects/{project}/locations/{location}/datasets/{dataset}`.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "Optional. The context which describes the requirements of the agents & tools to be generated."
        },
        "fileContexts": {
          "description": "Optional. The files to be used as context.",
          "type": "array",
          "items": {
            "$ref": "FileContext"
          }
        }
      },
      "type": "object",
      "id": "GenerateAppResourceRequestAppGenerationConfig",
      "description": "The configuration to be used to generate the app."
    },
    "EvaluationExpectation": {
      "description": "An evaluation expectation represents a specific criteria to evaluate against.",
      "id": "EvaluationExpectation",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of this evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`"
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Timestamp when the evaluation expectation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "llmCriteria": {
          "description": "Optional. Evaluation criteria based on an LLM prompt.",
          "$ref": "EvaluationExpectationLlmCriteria"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. User-defined tags for expectations. Can be used to filter expectations."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the evaluation expectation was last updated."
        },
        "displayName": {
          "description": "Required. User-defined display name. Must be unique within the app.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Callback": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the callback."
        },
        "pythonCode": {
          "description": "Required. The python code to execute for the callback.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent."
        },
        "proactiveExecutionEnabled": {
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations.",
          "type": "boolean"
        }
      },
      "id": "Callback",
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "type": "object"
    },
    "ClientCertificateSettings": {
      "properties": {
        "privateKey": {
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "passphrase": {
          "type": "string",
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        },
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        }
      },
      "description": "Settings for custom client certificates.",
      "id": "ClientCertificateSettings",
      "type": "object"
    },
    "GenerateAppResourceRequestHillClimbingFixConfig": {
      "properties": {
        "qualityReport": {
          "description": "Required. The quality report used to inform the instruction following fix.",
          "$ref": "QualityReport"
        }
      },
      "type": "object",
      "id": "GenerateAppResourceRequestHillClimbingFixConfig",
      "description": "The configuration to be used for hill climbing fixes."
    },
    "Changelog": {
      "type": "object",
      "id": "Changelog",
      "description": "Changelogs represent a change made to the app or to an resource within the app.",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the change was made.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "sequenceNumber": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "readOnly": true
        },
        "author": {
          "readOnly": true,
          "description": "Output only. Email address of the change author.",
          "type": "string"
        },
        "resourceType": {
          "description": "Output only. The type of the resource that was changed.",
          "readOnly": true,
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "Output only. The resource that was changed.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource.",
          "readOnly": true
        },
        "dependentResources": {
          "description": "Output only. The dependent resources that were changed.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`"
        },
        "action": {
          "description": "Output only. The action that was performed on the resource.",
          "readOnly": true,
          "type": "string"
        },
        "originalResource": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. The original resource before the change."
        },
        "newResource": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "readOnly": true,
          "description": "Output only. The new resource after the change."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed."
        }
      }
    },
    "RetrieveToolSchemaRequest": {
      "id": "RetrieveToolSchemaRequest",
      "properties": {
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        },
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for ToolService.RetrieveToolSchema."
    },
    "GuardrailLlmPolicy": {
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Required. Policy prompt.",
          "type": "string"
        },
        "maxConversationMessages": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used."
        },
        "failOpen": {
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail.",
          "type": "boolean"
        },
        "allowShortUtterance": {
          "type": "boolean",
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped."
        },
        "policyScope": {
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ],
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond.",
          "type": "string",
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ]
        },
        "modelSettings": {
          "description": "Optional. Model settings.",
          "$ref": "ModelSettings"
        }
      },
      "id": "GuardrailLlmPolicy"
    },
    "BigQueryExportSettings": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the BigQuery export is enabled."
        },
        "project": {
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "dataset": {
          "type": "string",
          "description": "Optional. The BigQuery **dataset ID** to export the data to."
        }
      },
      "description": "Settings to describe the BigQuery export behaviors for the app.",
      "id": "BigQueryExportSettings"
    },
    "ExportEvaluationResultsRequest": {
      "id": "ExportEvaluationResultsRequest",
      "description": "Request message for EvaluationService.ExportEvaluationResults.",
      "type": "object",
      "properties": {
        "exportOptions": {
          "$ref": "ExportOptions",
          "description": "Optional. The export options for the evaluation results."
        },
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The resource names of the evaluation results to export."
        }
      }
    },
    "TlsConfigCaCert": {
      "properties": {
        "cert": {
          "format": "byte",
          "type": "string",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```"
        },
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        }
      },
      "id": "TlsConfigCaCert",
      "type": "object",
      "description": "The CA certificate."
    },
    "DataStoreConnectorConfig": {
      "type": "object",
      "properties": {
        "collectionDisplayName": {
          "type": "string",
          "description": "Display name of the collection the data store belongs to."
        },
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        },
        "dataSource": {
          "type": "string",
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`."
        }
      },
      "id": "DataStoreConnectorConfig",
      "description": "The connector config for the data store connection."
    },
    "ListConversationsResponse": {
      "properties": {
        "conversations": {
          "description": "The list of conversations.",
          "items": {
            "$ref": "Conversation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListConversationsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListConversations."
    },
    "GenerateAppResourceResponseTools": {
      "type": "object",
      "description": "The list of tools generated by the LLM assistant.",
      "id": "GenerateAppResourceResponseTools",
      "properties": {
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "The list of tools generated by the LLM assistant."
        }
      }
    },
    "RunSessionRequest": {
      "description": "Request message for SessionService.RunSession.",
      "id": "RunSessionRequest",
      "properties": {
        "config": {
          "description": "Required. The configuration for the session.",
          "$ref": "SessionConfig"
        },
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "SessionInput"
          },
          "description": "Required. Inputs for the session."
        }
      },
      "type": "object"
    },
    "GuardrailContentFilter": {
      "description": "Guardrail that bans certain content from being used in the conversation.",
      "type": "object",
      "properties": {
        "bannedContentsInUserInput": {
          "description": "Optional. List of banned phrases. Applies only to user inputs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bannedContentsInAgentResponse": {
          "type": "array",
          "description": "Optional. List of banned phrases. Applies only to agent responses.",
          "items": {
            "type": "string"
          }
        },
        "disregardDiacritics": {
          "description": "Optional. If true, diacritics are ignored during matching.",
          "type": "boolean"
        },
        "bannedContents": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses.",
          "type": "array"
        },
        "matchType": {
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ],
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ],
          "description": "Required. Match type for the content filter."
        }
      },
      "id": "GuardrailContentFilter"
    },
    "BearerTokenConfig": {
      "description": "Configurations for authentication with a bearer token.",
      "id": "BearerTokenConfig",
      "type": "object",
      "properties": {
        "token": {
          "description": "Required. The bearer token. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      }
    },
    "InputAudioConfig": {
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "type": "object",
      "id": "InputAudioConfig",
      "properties": {
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "type": "integer",
          "format": "int32"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "description": "Required. The encoding of the input audio data.",
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ]
        },
        "noiseSuppressionLevel": {
          "type": "string",
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
        }
      }
    },
    "TransferRule": {
      "type": "object",
      "description": "Rule for transferring to a specific agent.",
      "properties": {
        "deterministicTransfer": {
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met.",
          "$ref": "TransferRuleDeterministicTransfer"
        },
        "childAgent": {
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "description": "Required. The direction of the transfer.",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ]
        }
      },
      "id": "TransferRule"
    },
    "ListChangelogsResponse": {
      "type": "object",
      "id": "ListChangelogsResponse",
      "description": "Response message for AgentService.ListChangelogs.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "changelogs": {
          "type": "array",
          "description": "The list of changelogs.",
          "items": {
            "$ref": "Changelog"
          }
        }
      }
    },
    "LfA2aV1APIKeySecurityScheme": {
      "description": "Defines a security scheme using an API key.",
      "properties": {
        "location": {
          "description": "Required. The location of the API key. Valid values are \"query\", \"header\", or \"cookie\".",
          "type": "string"
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the header, query, or cookie parameter to be used.",
          "type": "string"
        }
      },
      "id": "LfA2aV1APIKeySecurityScheme",
      "type": "object"
    },
    "TransferRuleDeterministicTransfer": {
      "properties": {
        "pythonCodeCondition": {
          "$ref": "PythonCodeCondition",
          "description": "Optional. A rule that uses Python code block to evaluate the conditions. If the condition evaluates to true, the transfer occurs."
        },
        "expressionCondition": {
          "description": "Optional. A rule that evaluates a session state condition. If the condition evaluates to true, the transfer occurs.",
          "$ref": "ExpressionCondition"
        }
      },
      "id": "TransferRuleDeterministicTransfer",
      "type": "object",
      "description": "Deterministic transfer rule. When the condition evaluates to true, the transfer occurs."
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "Event": {
      "properties": {
        "event": {
          "description": "Required. The name of the event.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Event",
      "description": "Event input."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "TriggerActionTransferAgent": {
      "id": "TriggerActionTransferAgent",
      "description": "The agent will transfer the conversation to a different agent.",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      },
      "type": "object"
    },
    "ImportAppRequestImportOptions": {
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one."
        },
        "conflictResolutionStrategy": {
          "type": "string",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ]
        }
      },
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data.",
      "type": "object",
      "id": "ImportAppRequestImportOptions"
    },
    "DeployChannelResponse": {
      "description": "Response message for AgentService.DeployChannel.",
      "id": "DeployChannelResponse",
      "properties": {
        "deployment": {
          "description": "The created deployment.",
          "$ref": "Deployment"
        }
      },
      "type": "object"
    },
    "DataStoreToolBoostSpec": {
      "id": "DataStoreToolBoostSpec",
      "properties": {
        "conditionBoostSpecs": {
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpec"
          },
          "type": "array",
          "description": "Required. A list of boosting specifications."
        }
      },
      "type": "object",
      "description": "Boost specification to boost certain documents."
    },
    "DataStoreToolSummarizationConfig": {
      "description": "Summarization configuration.",
      "properties": {
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether summarization is disabled."
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        }
      },
      "id": "DataStoreToolSummarizationConfig",
      "type": "object"
    },
    "ToolCalls": {
      "properties": {
        "toolCalls": {
          "items": {
            "$ref": "ToolCall"
          },
          "type": "array",
          "description": "Optional. The list of tool calls to execute."
        }
      },
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "type": "object",
      "id": "ToolCalls"
    },
    "OptimizationConfig": {
      "id": "OptimizationConfig",
      "description": "Configuration for running the optimization step after the evaluation run.",
      "properties": {
        "generateLossReport": {
          "type": "boolean",
          "description": "Optional. Whether to generate a loss report."
        },
        "shouldSuggestFix": {
          "description": "Output only. Whether to suggest a fix for the losses.",
          "type": "boolean",
          "readOnly": true
        },
        "reportSummary": {
          "description": "Output only. The summary of the loss report.",
          "readOnly": true,
          "type": "string"
        },
        "assistantSession": {
          "type": "string",
          "description": "Output only. The assistant session to use for the optimization based on this evaluation run. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistantSession}`",
          "readOnly": true
        },
        "lossReport": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. The generated loss report.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "errorMessage": {
          "description": "Output only. The error message if the optimization run failed.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. The status of the optimization run.",
          "type": "string",
          "enum": [
            "OPTIMIZATION_STATUS_UNSPECIFIED",
            "RUNNING",
            "COMPLETED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Optimization status is not specified.",
            "Optimization is running.",
            "Optimization has completed.",
            "Optimization failed due to an internal error."
          ]
        }
      },
      "type": "object"
    },
    "GuardrailModelSafety": {
      "properties": {
        "safetySettings": {
          "description": "Required. List of safety settings.",
          "type": "array",
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          }
        }
      },
      "type": "object",
      "id": "GuardrailModelSafety",
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe."
    },
    "InstagramCredentials": {
      "description": "Ephemeral Meta credentials for Instagram native integration.",
      "type": "object",
      "properties": {
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The Conversation Profile ID to use for the deployment."
        },
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        }
      },
      "id": "InstagramCredentials"
    },
    "EvaluationScenario": {
      "id": "EvaluationScenario",
      "properties": {
        "task": {
          "type": "string",
          "description": "Required. The task to be targeted by the scenario."
        },
        "rubrics": {
          "description": "Required. The rubrics to score the scenario against.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scenarioExpectations": {
          "items": {
            "$ref": "EvaluationScenarioExpectation"
          },
          "description": "Required. The ScenarioExpectations to evaluate the conversation produced by the user simulation.",
          "type": "array"
        },
        "taskCompletionBehavior": {
          "deprecated": true,
          "type": "string",
          "enum": [
            "TASK_COMPLETION_BEHAVIOR_UNSPECIFIED",
            "TASK_SATISFIED",
            "TASK_REJECTED"
          ],
          "enumDescriptions": [
            "Behavior unspecified. Will default to TASK_SATISFIED.",
            "The user task should be completed successfully.",
            "The user task should be rejected."
          ],
          "description": "Optional. Deprecated. Use user_goal_behavior instead."
        },
        "userGoalBehavior": {
          "description": "Optional. The expected behavior of the user goal.",
          "enumDescriptions": [
            "Behavior unspecified. Will default to USER_GOAL_SATISFIED.",
            "The user goal should be completed successfully.",
            "The user goal should be rejected.",
            "Ignore the user goal status."
          ],
          "type": "string",
          "enum": [
            "USER_GOAL_BEHAVIOR_UNSPECIFIED",
            "USER_GOAL_SATISFIED",
            "USER_GOAL_REJECTED",
            "USER_GOAL_IGNORED"
          ]
        },
        "userFacts": {
          "description": "Optional. The user facts to be used by the scenario.",
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          },
          "type": "array"
        },
        "evaluationExpectations": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The evaluation expectations to evaluate the conversation produced by the simulation against. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluationExpectation}`",
          "type": "array"
        },
        "variableOverrides": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Variables / Session Parameters as context for the session, keyed by variable names. Members of this struct will override any default values set by the system. Note, these are different from user facts, which are facts known to the user. Variables are parameters known to the agent: i.e. MDN (phone number) passed by the telephony system.",
          "type": "object"
        },
        "maxTurns": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of turns to simulate. The maximum allowed value is 100. The default value is 100."
        },
        "scenarioExecutionMode": {
          "description": "Optional. The execution mode for scenario evaluations.",
          "enumDescriptions": [
            "Unspecified execution mode. Defaults to QUALITY_OPTIMIZED.",
            "Quality optimized mode.",
            "Speed optimized mode."
          ],
          "type": "string",
          "enum": [
            "SCENARIO_EXECUTION_MODE_UNSPECIFIED",
            "QUALITY_OPTIMIZED",
            "SPEED_OPTIMIZED"
          ]
        }
      },
      "type": "object",
      "description": "The config for a scenario"
    },
    "LfA2aV1HTTPAuthSecurityScheme": {
      "id": "LfA2aV1HTTPAuthSecurityScheme",
      "description": "Defines a security scheme using HTTP authentication.",
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        },
        "bearerFormat": {
          "type": "string",
          "description": "A hint to the client to identify how the bearer token is formatted (e.g., \"JWT\"). Primarily for documentation purposes."
        },
        "scheme": {
          "description": "Required. The name of the HTTP Authentication scheme to be used in the Authorization header, as defined in RFC7235 (e.g., \"Bearer\"). This value should be registered in the IANA Authentication Scheme registry.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EvaluationStep": {
      "type": "object",
      "properties": {
        "userInput": {
          "$ref": "SessionInput",
          "description": "Optional. User input for the conversation."
        },
        "agentTransfer": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "AgentTransfer"
        },
        "expectation": {
          "$ref": "EvaluationGoldenExpectation",
          "description": "Optional. Executes an expectation on the current turn."
        }
      },
      "description": "A step defines a singular action to happen during the evaluation.",
      "id": "EvaluationStep"
    },
    "PythonCodeCondition": {
      "id": "PythonCodeCondition",
      "description": "Python code block to evaluate the condition.",
      "type": "object",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. The python code to execute."
        }
      }
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "properties": {
        "endUserMetadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object"
        },
        "payload": {
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "webhookHeaders": {
          "type": "object",
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "type": "object",
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent."
    },
    "AudioRecordingConfig": {
      "type": "object",
      "properties": {
        "gcsPathPrefix": {
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used.",
          "type": "string"
        },
        "gcsBucket": {
          "type": "string",
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        }
      },
      "id": "AudioRecordingConfig",
      "description": "Configuration for how the audio interactions should be recorded."
    },
    "GenerateAppResourceResponseAppResources": {
      "type": "object",
      "id": "GenerateAppResourceResponseAppResources",
      "properties": {
        "appSnapshot": {
          "$ref": "AppSnapshot",
          "description": "The app snapshot generated by the LLM assistant. This snapshot contains the app, agents & tools generated by the LLM assistant."
        },
        "evaluations": {
          "type": "array",
          "description": "The list of evaluations generated by the LLM assistant.",
          "items": {
            "$ref": "Evaluation"
          }
        }
      },
      "description": "The list of app resources generated by the LLM assistant."
    },
    "EvaluationResultGoldenExpectationOutcome": {
      "properties": {
        "observedAgentTransfer": {
          "readOnly": true,
          "description": "Output only. The result of the agent transfer expectation.",
          "$ref": "AgentTransfer"
        },
        "expectation": {
          "$ref": "EvaluationGoldenExpectation",
          "readOnly": true,
          "description": "Output only. The expectation that was evaluated."
        },
        "observedToolResponse": {
          "$ref": "ToolResponse",
          "description": "Output only. The result of the tool response expectation.",
          "readOnly": true
        },
        "toolInvocationResult": {
          "$ref": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
          "readOnly": true,
          "description": "Output only. The result of the tool invocation check."
        },
        "observedToolCall": {
          "description": "Output only. The result of the tool call expectation.",
          "readOnly": true,
          "$ref": "ToolCall"
        },
        "observedAgentResponse": {
          "description": "Output only. The result of the agent response expectation.",
          "$ref": "Message",
          "readOnly": true
        },
        "observedPayload": {
          "description": "Output only. An observed custom payload. There are no expectations for custom payloads. This is only used for metrics calculation. The outcome is always SKIPPED.",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "semanticSimilarityResult": {
          "readOnly": true,
          "description": "Output only. The result of the semantic similarity check.",
          "$ref": "EvaluationResultSemanticSimilarityResult",
          "deprecated": true
        },
        "outcome": {
          "description": "Output only. The outcome of the expectation.",
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true
        }
      },
      "id": "EvaluationResultGoldenExpectationOutcome",
      "type": "object",
      "description": "Specifies the expectation and the result of that expectation."
    },
    "ScheduledEvaluationRunSchedulingConfig": {
      "type": "object",
      "id": "ScheduledEvaluationRunSchedulingConfig",
      "description": "Eval scheduling configuration details",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. Timestamp when the eval should start.",
          "format": "google-datetime"
        },
        "daysOfWeek": {
          "description": "Optional. The days of the week to run the eval. Applicable only for Weekly and Biweekly frequencies. 1 is Monday, 2 is Tuesday, ..., 7 is Sunday.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "frequency": {
          "description": "Required. The frequency with which to run the eval",
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "NONE",
            "DAILY",
            "WEEKLY",
            "BIWEEKLY"
          ],
          "enumDescriptions": [
            "The frequency is unspecified.",
            "Indicates a one-time scheduled run that should not repeat",
            "Run the evaluation daily.",
            "Run the evaluation weekly.",
            "Run the evaluation biweekly."
          ]
        }
      }
    },
    "ImportEvaluationsOperationMetadata": {
      "description": "Represents the metadata of the long-running operation for EvaluationService.ImportEvaluations.",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "ImportEvaluationsOperationMetadata"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "DataStoreToolEngineSource": {
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "id": "DataStoreToolEngineSource",
      "type": "object",
      "properties": {
        "dataStoreSources": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          },
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine."
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        },
        "engine": {
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        }
      }
    },
    "ListToolsResponse": {
      "id": "ListToolsResponse",
      "description": "Response message for AgentService.ListTools.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "description": "The list of tools.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleSearchTool": {
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search.",
      "properties": {
        "contextUrls": {
          "type": "array",
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed.",
          "items": {
            "type": "string"
          }
        },
        "promptConfig": {
          "$ref": "GoogleSearchToolPromptConfig",
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice."
        },
        "preferredDomains": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified.",
          "type": "array"
        },
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "excludeDomains": {
          "type": "array",
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        }
      },
      "id": "GoogleSearchTool",
      "type": "object"
    },
    "LfA2aV1SendMessageResponse": {
      "properties": {
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message from the agent."
        },
        "task": {
          "$ref": "LfA2aV1Task",
          "description": "The task created or updated by the message."
        }
      },
      "description": "Represents the response for the `SendMessage` method.",
      "id": "LfA2aV1SendMessageResponse",
      "type": "object"
    },
    "QualityReportIssue": {
      "properties": {
        "description": {
          "description": "Optional. Description of the issue found.",
          "type": "string"
        },
        "proposedSolution": {
          "type": "string",
          "description": "Optional. Proposed solution to fix the issue by modifying instructions or tools."
        },
        "occurrenceCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. How many times this issue occurred."
        }
      },
      "description": "The issue identified.",
      "type": "object",
      "id": "QualityReportIssue"
    },
    "LfA2aV1SecurityRequirement": {
      "type": "object",
      "properties": {
        "schemes": {
          "additionalProperties": {
            "$ref": "LfA2aV1StringList"
          },
          "type": "object",
          "description": "A map of security schemes to the required scopes."
        }
      },
      "description": "Defines the security requirements for an agent.",
      "id": "LfA2aV1SecurityRequirement"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "McpTool": {
      "id": "McpTool",
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details.",
      "properties": {
        "customHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details."
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust."
        },
        "serverAddress": {
          "type": "string",
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the MCP tool."
        },
        "inputSchema": {
          "description": "Optional. The schema of the input arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "state": {
          "description": "Output only. The dynamic availability state of the tool on the external server.",
          "enumDescriptions": [
            "Default state.",
            "The tool is available and actively offered by the server.",
            "The tool is configured or pinned, but currently not offered by the server.",
            "The tool exists on the server, but does not match the version on the server."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "STALE"
          ],
          "readOnly": true
        },
        "nameOverride": {
          "description": "Optional. The name override of the MCP tool. This is populated if the name was overridden by a Toolset override.",
          "type": "string"
        },
        "outputSchema": {
          "description": "Optional. The schema of the output arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "description": {
          "description": "Optional. The description of the MCP tool.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
        }
      },
      "type": "object"
    },
    "AgentRegistryDeployment": {
      "properties": {
        "agentRegistryServiceName": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. The resource name of the deployed Agent Registry service. Format: `projects/{project}/locations/{location}/services/{service}`"
        }
      },
      "type": "object",
      "id": "AgentRegistryDeployment",
      "description": "Configuration and status for Agent Registry deployment."
    },
    "AgentLlmAgent": {
      "properties": {},
      "id": "AgentLlmAgent",
      "type": "object",
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model."
    },
    "GenerateEvaluationRequest": {
      "type": "object",
      "description": "Request message for EvaluationService.GenerateEvaluation.",
      "id": "GenerateEvaluationRequest",
      "properties": {
        "source": {
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "description": "Optional. Indicate the source of the conversation. If not set, all sources will be searched."
        },
        "evaluationType": {
          "description": "Optional. The type of evaluation to generate. Defaults to GOLDEN if unspecified.",
          "enumDescriptions": [
            "Unspecified type. Defaults to GOLDEN.",
            "Golden evaluation.",
            "Scenario evaluation."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "GOLDEN",
            "SCENARIO"
          ]
        }
      }
    },
    "GuardrailModelSafetySafetySetting": {
      "id": "GuardrailModelSafetySafetySetting",
      "description": "Safety setting.",
      "type": "object",
      "properties": {
        "threshold": {
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ],
          "description": "Required. The harm block threshold."
        },
        "category": {
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is profanity.",
            "The harm category is toxic."
          ],
          "description": "Required. The harm category.",
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_PROFANITY",
            "HARM_CATEGORY_TOXIC"
          ]
        }
      }
    },
    "Evaluation": {
      "description": "An evaluation represents all of the information needed to simulate and evaluate an agent.",
      "id": "Evaluation",
      "properties": {
        "createdBy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The user who created the evaluation."
        },
        "evaluationDatasets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of evaluation datasets the evaluation belongs to. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the evaluation was created."
        },
        "invalid": {
          "readOnly": true,
          "description": "Output only. Whether the evaluation is invalid. This can happen if an evaluation is referencing a tool, toolset, or agent that has since been deleted.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-defined description of the evaluation."
        },
        "evaluationMetricsConfigOverride": {
          "$ref": "EvaluationMetricsConfig",
          "description": "Optional. Overrides metrics config for this specific evaluation."
        },
        "aggregatedMetrics": {
          "readOnly": true,
          "$ref": "AggregatedMetrics",
          "description": "Output only. The aggregated metrics for this evaluation across all runs."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the evaluation was last updated.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. User-defined display name of the evaluation. Unique within an App.",
          "type": "string"
        },
        "evaluationRuns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The EvaluationRuns that this Evaluation is associated with.",
          "readOnly": true
        },
        "scenario": {
          "description": "Optional. The config for a scenario.",
          "$ref": "EvaluationScenario"
        },
        "golden": {
          "description": "Optional. The golden steps to be evaluated.",
          "$ref": "EvaluationGolden"
        },
        "lastTenResults": {
          "description": "Output only. The last 10 evaluation results for this evaluation. This is only populated if include_last_ten_results is set to true in the ListEvaluationsRequest or GetEvaluationRequest.",
          "items": {
            "$ref": "EvaluationResult"
          },
          "type": "array",
          "readOnly": true
        },
        "tags": {
          "description": "Optional. User defined tags to categorize the evaluation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastCompletedResult": {
          "description": "Output only. The latest evaluation result for this evaluation.",
          "$ref": "EvaluationResult",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of this evaluation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`",
          "type": "string"
        },
        "lastUpdatedBy": {
          "description": "Output only. The user who last updated the evaluation.",
          "readOnly": true,
          "type": "string"
        },
        "evaluationMetricsThresholdOverride": {
          "description": "Optional. Overrides metrics thresholds for this specific evaluation.",
          "$ref": "EvaluationMetricsThresholds"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        }
      },
      "type": "object"
    },
    "LfA2aV1AgentCardSignature": {
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "properties": {
        "header": {
          "description": "The unprotected JWS header values.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "protected": {
          "type": "string",
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object."
        },
        "signature": {
          "type": "string",
          "description": "Required. The computed signature, base64url-encoded."
        }
      },
      "id": "LfA2aV1AgentCardSignature",
      "type": "object"
    },
    "DataStoreToolRewriterConfig": {
      "id": "DataStoreToolRewriterConfig",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Whether the rewriter is disabled.",
          "type": "boolean"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Required. Configurations for the LLM model."
        }
      },
      "description": "Rewriter configuration."
    },
    "ExportAppRequest": {
      "description": "Request message for AgentService.ExportApp.",
      "id": "ExportAppRequest",
      "type": "object",
      "properties": {
        "gcsUri": {
[...]
