{
  "name": "ces",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "revision": "20260806",
  "discoveryVersion": "v1",
  "description": "",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                }
              },
              "path": "v1beta/{+name}/locations",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "ces.projects.locations.list"
            },
            "updateSecuritySettings": {
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/securitySettings",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`",
                  "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings$",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SecuritySettings"
              },
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates the security settings for the project and location.",
              "id": "ces.projects.locations.updateSecuritySettings",
              "response": {
                "$ref": "SecuritySettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getSecuritySettings": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings$",
                  "description": "Required. The resource name of the security settings to retrieve. Format: `projects/{project}/locations/{location}/securitySettings`",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "description": "Retrieves the security settings for the project and location.",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/securitySettings",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SecuritySettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "ces.projects.locations.getSecuritySettings"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "ces.projects.locations.get",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "apps": {
              "methods": {
                "exportApp": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:exportApp",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Required. The resource name of the app to export.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}:exportApp",
                  "httpMethod": "POST",
                  "description": "Exports the specified app.",
                  "request": {
                    "$ref": "ExportAppRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.exportApp"
                },
                "getExtendedAgentCard": {
                  "response": {
                    "$ref": "LfA2aV1AgentCard"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.getExtendedAgentCard",
                  "parameterOrder": [
                    "tenant"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/extendedAgentCard",
                  "path": "v1beta/{+tenant}/extendedAgentCard",
                  "httpMethod": "GET",
                  "description": "Gets the extended agent card for the authenticated agent.",
                  "parameters": {
                    "tenant": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the app to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets details of the specified app.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "App"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.get"
                },
                "runEvaluation": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.runEvaluation",
                  "parameters": {
                    "app": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The app to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1beta/{+app}:runEvaluation",
                  "httpMethod": "POST",
                  "description": "Runs an evaluation of the app.",
                  "request": {
                    "$ref": "RunEvaluationRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:runEvaluation",
                  "parameterOrder": [
                    "app"
                  ]
                },
                "testPersonaVoice": {
                  "path": "v1beta/{+app}:testPersonaVoice",
                  "httpMethod": "POST",
                  "description": "Tests the voice of a persona. Also accepts a default persona.",
                  "request": {
                    "$ref": "TestPersonaVoiceRequest"
                  },
                  "parameters": {
                    "app": {
                      "location": "path",
                      "description": "Required. the resource name of the app to test the persona voice for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "app"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:testPersonaVoice",
                  "response": {
                    "$ref": "TestPersonaVoiceResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.testPersonaVoice"
                },
                "retrieveToolSchema": {
                  "id": "ces.projects.locations.apps.retrieveToolSchema",
                  "response": {
                    "$ref": "RetrieveToolSchemaResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:retrieveToolSchema",
                  "request": {
                    "$ref": "RetrieveToolSchemaRequest"
                  },
                  "path": "v1beta/{+parent}:retrieveToolSchema",
                  "httpMethod": "POST",
                  "description": "Retrieve the schema of the given tool. The schema is computed on the fly for the given instance of the tool.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the app which the tool/toolset belongs to. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the location to create an app in.",
                      "location": "path"
                    },
                    "appId": {
                      "description": "Optional. The ID to use for the app, which will become the final component of the app's resource name. If not provided, a unique ID will be automatically assigned for the app.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+parent}/apps",
                  "httpMethod": "POST",
                  "description": "Creates a new app in the given project and location.",
                  "request": {
                    "$ref": "App"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "importApp": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name with the location of the app to import.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1beta/{+parent}/apps:importApp",
                  "httpMethod": "POST",
                  "description": "Imports the specified app.",
                  "request": {
                    "$ref": "ImportAppRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps:importApp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.importApp"
                },
                "importEvaluations": {
                  "request": {
                    "$ref": "ImportEvaluationsRequest"
                  },
                  "path": "v1beta/{+parent}:importEvaluations",
                  "httpMethod": "POST",
                  "description": "Imports evaluations into the app.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Required. The app to import the evaluations into. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:importEvaluations",
                  "id": "ces.projects.locations.apps.importEvaluations",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the app to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                    },
                    "etag": {
                      "type": "string",
                      "description": "Optional. The current etag of the app. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the app, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes the specified app.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "generateAppResource": {
                  "path": "v1beta/{+parent}:generateAppResource",
                  "httpMethod": "POST",
                  "description": "Generates specific resources (e.g. agent) in the app using LLM assistant.",
                  "request": {
                    "$ref": "GenerateAppResourceRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Required. The resource name of the app to generate the resource for."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:generateAppResource",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.generateAppResource"
                },
                "patch": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "App"
                  },
                  "path": "v1beta/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Updates the specified app.",
                  "id": "ces.projects.locations.apps.patch",
                  "response": {
                    "$ref": "App"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListAppsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.list",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter to be applied when listing the apps. See https://google.aip.dev/160 for more details.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the location to list apps from.",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous list AgentService.ListApps call.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v1beta/{+parent}/apps",
                  "httpMethod": "GET",
                  "description": "Lists apps in the given project and location."
                },
                "executeTool": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the app which the tool/toolset belongs to. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "ExecuteToolRequest"
                  },
                  "path": "v1beta/{+parent}:executeTool",
                  "httpMethod": "POST",
                  "description": "Executes the given tool with the given arguments.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:executeTool",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "ces.projects.locations.apps.executeTool",
                  "response": {
                    "$ref": "ExecuteToolResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "evaluationExpectations": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListEvaluationExpectationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.evaluationExpectations.list",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list evaluation expectations from.",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationExpectations call.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the evaluation expectations. See https://google.aip.dev/160 for more details.",
                          "location": "query"
                        }
                      },
                      "path": "v1beta/{+parent}/evaluationExpectations",
                      "httpMethod": "GET",
                      "description": "Lists all evaluation expectations in the given app.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.evaluationExpectations.delete",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the evaluation expectation to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "location": "path"
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The current etag of the evaluation expectation. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the evaluation expectation, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Deletes an evaluation expectation."
                    },
                    "create": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The app to create the evaluation expectation for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "evaluationExpectationId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the evaluation expectation, which will become the final component of the evaluation expectation's resource name. If not provided, a unique ID will be automatically assigned for the evaluation expectation.",
                          "location": "query"
                        }
                      },
                      "path": "v1beta/{+parent}/evaluationExpectations",
                      "httpMethod": "POST",
                      "description": "Creates an evaluation expectation.",
                      "request": {
                        "$ref": "EvaluationExpectation"
                      },
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.evaluationExpectations.create"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets details of the specified evaluation expectation.",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the evaluation expectation to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "ces.projects.locations.apps.evaluationExpectations.get",
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "id": "ces.projects.locations.apps.evaluationExpectations.patch",
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Identifier. The unique identifier of this evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "EvaluationExpectation"
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "PATCH",
                      "description": "Updates an evaluation expectation.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "message": {
                  "methods": {
                    "send": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/message:send",
                      "parameterOrder": [
                        "tenant"
                      ],
                      "parameters": {
                        "tenant": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set."
                        }
                      },
                      "request": {
                        "$ref": "LfA2aV1SendMessageRequest"
                      },
                      "path": "v1beta/{+tenant}/message:send",
                      "httpMethod": "POST",
                      "description": "Sends a message to an agent.",
                      "id": "ces.projects.locations.apps.message.send",
                      "response": {
                        "$ref": "LfA2aV1SendMessageResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "agents": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.agents.delete",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents/{agentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the agent to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "force": {
                          "description": "Optional. Indicates whether to forcefully delete the agent, even if it is still referenced by other app/agents/examples. * If `force = false`, the deletion fails if other agents/examples reference it. * If `force = true`, delete the agent and remove it from all referencing apps/agents/examples.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The current etag of the agent. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the agent, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified agent."
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents",
                      "path": "v1beta/{+parent}/agents",
                      "httpMethod": "GET",
                      "description": "Lists agents in the given app.",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the agents. See https://google.aip.dev/160 for more details.",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list agents from.",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListAgents call.",
                          "location": "query"
                        }
                      },
                      "id": "ces.projects.locations.apps.agents.list",
                      "response": {
                        "$ref": "ListAgentsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents/{agentsId}",
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets details of the specified agent.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/agents/[^/]+$",
                          "description": "Required. The resource name of the agent to retrieve.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "ces.projects.locations.apps.agents.get",
                      "response": {
                        "$ref": "Agent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "PATCH",
                      "description": "Updates the specified agent.",
                      "request": {
                        "$ref": "Agent"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents/{agentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Agent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.agents.patch"
                    },
                    "create": {
                      "id": "ces.projects.locations.apps.agents.create",
                      "response": {
                        "$ref": "Agent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to create an agent in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "agentId": {
                          "description": "Optional. The ID to use for the agent, which will become the final component of the agent's resource name. If not provided, a unique ID will be automatically assigned for the agent.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Agent"
                      },
                      "path": "v1beta/{+parent}/agents",
                      "httpMethod": "POST",
                      "description": "Creates a new agent in the given app."
                    }
                  }
                },
                "guardrails": {
                  "methods": {
                    "create": {
                      "path": "v1beta/{+parent}/guardrails",
                      "httpMethod": "POST",
                      "description": "Creates a new guardrail in the given app.",
                      "request": {
                        "$ref": "Guardrail"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to create a guardrail in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "guardrailId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the guardrail, which will become the final component of the guardrail's resource name. If not provided, a unique ID will be automatically assigned for the guardrail.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails",
                      "response": {
                        "$ref": "Guardrail"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.guardrails.create"
                    },
                    "get": {
                      "response": {
                        "$ref": "Guardrail"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.guardrails.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the guardrail to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets details of the specified guardrail.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "request": {
                        "$ref": "Guardrail"
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "PATCH",
                      "description": "Updates the specified guardrail.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "id": "ces.projects.locations.apps.guardrails.patch",
                      "response": {
                        "$ref": "Guardrail"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "id": "ces.projects.locations.apps.guardrails.list",
                      "response": {
                        "$ref": "ListGuardrailsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+parent}/guardrails",
                      "httpMethod": "GET",
                      "description": "Lists guardrails in the given app.",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list guardrails from.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListGuardrails call.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the guardrails. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails"
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.guardrails.delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the guardrail to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "force": {
                          "type": "boolean",
                          "description": "Optional. Indicates whether to forcefully delete the guardrail, even if it is still referenced by app/agents. * If `force = false`, the deletion fails if any apps/agents still reference the guardrail. * If `force = true`, all existing references from apps/agents will be removed and the guardrail will be deleted.",
                          "location": "query"
                        },
                        "etag": {
                          "description": "Optional. The current etag of the guardrail. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the guardrail, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified guardrail.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "get": {
                      "id": "ces.projects.locations.apps.tools.get",
                      "response": {
                        "$ref": "Tool"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "description": "Required. The resource name of the tool to retrieve."
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets details of the specified tool.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "path": "v1beta/{+name}",
                      "httpMethod": "PATCH",
                      "description": "Updates the specified tool.",
                      "request": {
                        "$ref": "Tool"
                      },
                      "parameters": {
                        "name": {
                          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "response": {
                        "$ref": "Tool"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.tools.patch"
                    },
                    "create": {
                      "path": "v1beta/{+parent}/tools",
                      "httpMethod": "POST",
                      "description": "Creates a new tool in the given app.",
                      "request": {
                        "$ref": "Tool"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to create a tool in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "toolId": {
                          "description": "Optional. The ID to use for the tool, which will become the final component of the tool's resource name. If not provided, a unique ID will be automatically assigned for the tool.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools",
                      "response": {
                        "$ref": "Tool"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.tools.create"
                    },
                    "delete": {
                      "parameters": {
                        "etag": {
                          "type": "string",
                          "description": "Optional. The current etag of the tool. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the tool, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query"
                        },
                        "force": {
                          "description": "Optional. Indicates whether to forcefully delete the tool, even if it is still referenced by agents/examples. * If `force = false`, the deletion will fail if any agents still reference the tool. * If `force = true`, all existing references from agents will be removed and the tool will be deleted.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "description": "Required. The resource name of the tool to delete.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified tool.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.tools.delete"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListToolsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.tools.list",
                      "path": "v1beta/{+parent}/tools",
                      "httpMethod": "GET",
                      "description": "Lists tools in the given app.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to list tools from.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListTools call.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the tools. Use \"include_system_tools=true\" to include system tools in the response. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools"
                    }
                  }
                },
                "evaluationDatasets": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets",
                      "path": "v1beta/{+parent}/evaluationDatasets",
                      "httpMethod": "GET",
                      "description": "Lists all evaluation datasets in the given app.",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the evaluation datasets. See https://google.aip.dev/160 for more details.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The resource name of the app to list evaluation datasets from.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationDatasets call.",
                          "location": "query"
                        }
                      },
                      "id": "ces.projects.locations.apps.evaluationDatasets.list",
                      "response": {
                        "$ref": "ListEvaluationDatasetsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets/{evaluationDatasetsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationDatasets/[^/]+$",
                          "description": "Required. The resource name of the evaluation dataset to delete.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The current etag of the evaluation dataset. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the evaluation dataset, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Deletes an evaluation dataset.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.evaluationDatasets.delete"
                    },
                    "create": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The app to create the evaluation for. Format: `projects/{project}/locations/{location}/apps/{app}`"
                        },
                        "evaluationDatasetId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the evaluation dataset, which will become the final component of the evaluation dataset's resource name. If not provided, a unique ID will be automatically assigned for the evaluation.",
                          "location": "query"
                        }
                      },
                      "path": "v1beta/{+parent}/evaluationDatasets",
                      "httpMethod": "POST",
                      "description": "Creates an evaluation dataset.",
                      "request": {
                        "$ref": "EvaluationDataset"
                      },
                      "response": {
                        "$ref": "EvaluationDataset"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.evaluationDatasets.create"
                    },
                    "patch": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets/{evaluationDatasetsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Identifier. The unique identifier of this evaluation dataset. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationDatasets/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "PATCH",
                      "description": "Updates an evaluation dataset.",
                      "request": {
                        "$ref": "EvaluationDataset"
                      },
                      "response": {
                        "$ref": "EvaluationDataset"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.evaluationDatasets.patch"
                    },
                    "get": {
                      "id": "ces.projects.locations.apps.evaluationDatasets.get",
                      "response": {
                        "$ref": "EvaluationDataset"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the evaluation dataset to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationDatasets/[^/]+$"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets details of the specified evaluation dataset.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets/{evaluationDatasetsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "conversations": {
                  "methods": {
                    "get": {
                      "id": "ces.projects.locations.apps.conversations.get",
                      "response": {
                        "$ref": "Conversation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets details of the specified conversation.",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the conversation to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "source": {
                          "location": "query",
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation.",
                            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
                          ],
                          "description": "Optional. Indicate the source of the conversation. If not set, all source will be searched.",
                          "deprecated": true,
                          "type": "string",
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL",
                            "AGENT_TOOL"
                          ]
                        },
                        "view": {
                          "location": "query",
                          "enumDescriptions": [
                            "Not specified, defaults to CONVERSATION_VIEW_BASIC.",
                            "The basic view. Returns everything except resolved instructions.",
                            "The full view. Includes resolved instructions dynamically per turn."
                          ],
                          "description": "Optional. The view specifying which fields in the response should be populated.",
                          "type": "string",
                          "enum": [
                            "CONVERSATION_VIEW_UNSPECIFIED",
                            "CONVERSATION_VIEW_BASIC",
                            "CONVERSATION_VIEW_FULL"
                          ]
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations/{conversationsId}"
                    },
                    "batchDelete": {
                      "request": {
                        "$ref": "BatchDeleteConversationsRequest"
                      },
                      "path": "v1beta/{+parent}/conversations:batchDelete",
                      "httpMethod": "POST",
                      "description": "Batch deletes the specified conversations.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to delete conversations from. Format: `projects/{project}/locations/{location}/apps/{app}`"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations:batchDelete",
                      "id": "ces.projects.locations.apps.conversations.batchDelete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations/{conversationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the conversation to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/conversations/[^/]+$"
                        },
                        "source": {
                          "deprecated": true,
                          "type": "string",
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL",
                            "AGENT_TOOL"
                          ],
                          "description": "Optional. Indicate the source of the conversation. If not set, Source.Live will be applied by default.",
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation.",
                            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
                          ],
                          "location": "query"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified conversation.",
                      "id": "ces.projects.locations.apps.conversations.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "generateEvaluation": {
                      "parameters": {
                        "conversation": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/conversations/[^/]+$",
                          "description": "Required. The conversation to create the golden evaluation for. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GenerateEvaluationRequest"
                      },
                      "path": "v1beta/{+conversation}:generateEvaluation",
                      "httpMethod": "POST",
                      "description": "Creates a golden evaluation from a conversation.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations/{conversationsId}:generateEvaluation",
                      "parameterOrder": [
                        "conversation"
                      ],
                      "id": "ces.projects.locations.apps.conversations.generateEvaluation",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "path": "v1beta/{+parent}/conversations",
                      "httpMethod": "GET",
                      "description": "Lists conversations in the given app.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list conversations from.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListConversations call.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the conversations. See https://google.aip.dev/160 for more details.",
                          "location": "query"
                        },
                        "sources": {
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation.",
                            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
                          ],
                          "location": "query",
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL",
                            "AGENT_TOOL"
                          ],
                          "type": "string",
                          "description": "Optional. Indicate the sources of the conversations. If not set, all available sources will be applied by default.",
                          "repeated": true
                        },
                        "source": {
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL",
                            "AGENT_TOOL"
                          ],
                          "type": "string",
                          "description": "Optional. Indicate the source of the conversation. If not set, Source.Live will be applied by default. Will be deprecated in favor of `sources` field.",
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation.",
                            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
                          ],
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations",
                      "id": "ces.projects.locations.apps.conversations.list",
                      "response": {
                        "$ref": "ListConversationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "toolsets": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets",
                      "path": "v1beta/{+parent}/toolsets",
                      "httpMethod": "GET",
                      "description": "Lists toolsets in the given app.",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the toolsets. See https://google.aip.dev/160 for more details.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list toolsets from.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListToolsets call.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "ListToolsetsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.toolsets.list"
                    },
                    "retrieveTools": {
                      "response": {
                        "$ref": "RetrieveToolsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.toolsets.retrieveTools",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}:retrieveTools",
                      "parameterOrder": [
                        "toolset"
                      ],
                      "parameters": {
                        "toolset": {
                          "description": "Required. The name of the toolset to retrieve the tools for. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v1beta/{+toolset}:retrieveTools",
                      "httpMethod": "POST",
                      "description": "Retrieve the list of tools included in the specified toolset.",
                      "request": {
                        "$ref": "RetrieveToolsRequest"
                      }
                    },
                    "delete": {
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified toolset.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "description": "Required. The resource name of the toolset to delete.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "etag": {
                          "description": "Optional. The current etag of the toolset. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the toolset, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "force": {
                          "type": "boolean",
                          "description": "Optional. Indicates whether to forcefully delete the toolset, even if it is still referenced by app/agents. * If `force = false`, the deletion fails if any agents still reference the toolset. * If `force = true`, all existing references from agents will be removed and the toolset will be deleted.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}",
                      "id": "ces.projects.locations.apps.toolsets.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "id": "ces.projects.locations.apps.toolsets.create",
                      "response": {
                        "$ref": "Toolset"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the app to create a toolset in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "toolsetId": {
[...]
