{
  "endpoints": [
    {
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "discoveryVersion": "v1",
  "revision": "20260903",
  "baseUrl": "https://ces.googleapis.com/",
  "canonicalName": "Customer Engagement Suite",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        }
      }
    }
  },
  "name": "ces",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "id": "ces:v1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "rootUrl": "https://ces.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "title": "Gemini Enterprise for Customer Experience API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "schemas": {
    "RunSessionRequest": {
      "properties": {
        "config": {
          "description": "Required. The configuration for the session.",
          "$ref": "SessionConfig"
        },
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "SessionInput"
          },
          "description": "Required. Inputs for the session."
        }
      },
      "type": "object",
      "id": "RunSessionRequest",
      "description": "Request message for SessionService.RunSession."
    },
    "DataStoreToolGroundingConfig": {
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Whether grounding is disabled.",
          "type": "boolean"
        },
        "groundingLevel": {
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "DataStoreToolGroundingConfig",
      "description": "Grounding configuration."
    },
    "ExperimentConfigVersionRelease": {
      "type": "object",
      "description": "Version release for the experiment.",
      "properties": {
        "trafficAllocations": {
          "type": "array",
          "description": "Optional. Traffic allocations for the version release.",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          }
        },
        "state": {
          "description": "Optional. State of the version release.",
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ],
          "type": "string"
        }
      },
      "id": "ExperimentConfigVersionRelease"
    },
    "DataStoreTool": {
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "type": "object",
      "id": "DataStoreTool",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        },
        "name": {
          "description": "Required. The data store tool name.",
          "type": "string"
        },
        "filterParameterBehavior": {
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "description": "Optional. The filter parameter behavior.",
          "type": "string",
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ]
        },
        "dataStoreSource": {
          "$ref": "DataStoreToolDataStoreSource",
          "description": "Optional. Search within a single specific DataStore."
        },
        "modalityConfigs": {
          "description": "Optional. The modality configs for the data store.",
          "type": "array",
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          }
        },
        "boostSpecs": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          },
          "description": "Optional. Boost specification to boost certain documents."
        },
        "engineSource": {
          "$ref": "DataStoreToolEngineSource",
          "description": "Optional. Search within an Engine (potentially across multiple DataStores)."
        }
      }
    },
    "ChannelProfileInstagramConfig": {
      "properties": {
        "thumbnailUrl": {
          "description": "Output only. The fetched Meta business profile thumbnail URL.",
          "type": "string",
          "readOnly": true
        },
        "instagramAccountId": {
          "type": "string",
          "description": "Required. The Instagram Account ID."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the Meta business page or profile."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The fetched Meta business page name.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ChannelProfileInstagramConfig",
      "description": "Configuration specific to Instagram deployments."
    },
    "AppSnapshot": {
      "properties": {
        "tools": {
          "description": "Optional. List of tools in the app.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        },
        "guardrails": {
          "description": "Optional. List of guardrails in the app.",
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array"
        },
        "toolsets": {
          "type": "array",
          "description": "Optional. List of toolsets in the app.",
          "items": {
            "$ref": "Toolset"
          }
        },
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "examples": {
          "items": {
            "$ref": "Example"
          },
          "type": "array",
          "description": "Optional. List of examples in the app."
        },
        "agents": {
          "description": "Optional. List of agents in the app.",
          "type": "array",
          "items": {
            "$ref": "Agent"
          }
        }
      },
      "description": "A snapshot of the app.",
      "id": "AppSnapshot",
      "type": "object"
    },
    "ConnectorToolset": {
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "type": "object",
      "properties": {
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "authConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override"
        },
        "connectorActions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "Required. The list of connector actions/entity operations to generate tools for."
        }
      },
      "id": "ConnectorToolset"
    },
    "SessionOutput": {
      "type": "object",
      "properties": {
        "turnIndex": {
          "format": "int32",
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1.",
          "type": "integer"
        },
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
        "progress": {
          "type": "string",
          "description": "Intermediate progress update from the CES agent."
        },
        "audio": {
          "description": "Output audio from the CES agent.",
          "type": "string",
          "format": "byte"
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool.",
          "$ref": "GoogleSearchSuggestions"
        },
        "diagnosticInfo": {
          "$ref": "SessionOutputDiagnosticInfo",
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn."
        },
        "text": {
          "type": "string",
          "description": "Output text from the CES agent."
        },
        "payload": {
          "description": "Custom payload with structured output from the CES agent.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "image": {
          "description": "Output image from the CES agent.",
          "$ref": "Image"
        },
        "toolCalls": {
          "$ref": "ToolCalls",
          "description": "Request for the client to execute the tools."
        },
        "turnCompleted": {
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn.",
          "type": "boolean"
        },
        "citations": {
          "description": "Citations that provide the source information for the agent's generated text.",
          "$ref": "Citations"
        },
        "context": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "Context messages for external supervision guardrails."
        }
      },
      "id": "SessionOutput",
      "description": "Output for the session."
    },
    "LfA2aV1SendMessageConfiguration": {
      "description": "Configuration of a send message request.",
      "properties": {
        "taskPushNotificationConfig": {
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request.",
          "$ref": "LfA2aV1TaskPushNotificationConfig"
        },
        "returnImmediately": {
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning.",
          "type": "boolean"
        },
        "historyLength": {
          "format": "int32",
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit.",
          "type": "integer"
        },
        "acceptedOutputModes": {
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "LfA2aV1SendMessageConfiguration",
      "type": "object"
    },
    "GoogleSearchToolPromptConfig": {
      "id": "GoogleSearchToolPromptConfig",
      "properties": {
        "textPrompt": {
          "type": "string",
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used."
        },
        "voicePrompt": {
          "type": "string",
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used."
        }
      },
      "type": "object",
      "description": "Prompt settings used by the model when processing or summarizing the google search results."
    },
    "TransferRuleDisablePlannerTransfer": {
      "properties": {
        "expressionCondition": {
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent.",
          "$ref": "ExpressionCondition"
        }
      },
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "id": "TransferRuleDisablePlannerTransfer",
      "type": "object"
    },
    "EvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholds",
      "properties": {
        "hallucinationMetricBehavior": {
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "deprecated": true,
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations."
        },
        "goldenEvaluationMetricsThresholds": {
          "description": "Optional. The golden evaluation metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
        },
        "scenarioHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "type": "string"
        },
        "goldenHallucinationMetricBehavior": {
          "type": "string",
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        }
      },
      "description": "Threshold settings for metrics in an Evaluation.",
      "type": "object"
    },
    "LfA2aV1TaskStatus": {
      "type": "object",
      "id": "LfA2aV1TaskStatus",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "type": "string"
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message associated with the status."
        },
        "state": {
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ],
          "type": "string",
          "description": "Required. The current state of this task.",
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ]
        }
      },
      "description": "A container for the status of a task"
    },
    "LfA2aV1DeviceCodeOAuthFlow": {
      "type": "object",
      "properties": {
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. The available scopes for the OAuth2 security scheme."
        },
        "deviceAuthorizationUrl": {
          "type": "string",
          "description": "Required. The device authorization endpoint URL."
        }
      },
      "id": "LfA2aV1DeviceCodeOAuthFlow",
      "description": "Defines configuration details for the OAuth 2.0 Device Code flow (RFC 8628). This flow is designed for input-constrained devices such as IoT devices, and CLI tools where the user authenticates on a separate device."
    },
    "ListAppsResponse": {
      "id": "ListAppsResponse",
      "description": "Response message for AgentService.ListApps.",
      "properties": {
        "apps": {
          "type": "array",
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          }
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TransferRuleDeterministicTransfer": {
      "id": "TransferRuleDeterministicTransfer",
      "description": "Deterministic transfer rule. When the condition evaluates to true, the transfer occurs.",
      "properties": {
        "expressionCondition": {
          "$ref": "ExpressionCondition",
          "description": "Optional. A rule that evaluates a session state condition. If the condition evaluates to true, the transfer occurs."
        },
        "pythonCodeCondition": {
          "$ref": "PythonCodeCondition",
          "description": "Optional. A rule that uses Python code block to evaluate the conditions. If the condition evaluates to true, the transfer occurs."
        }
      },
      "type": "object"
    },
    "AgentTool": {
      "description": "Represents a tool that allows the agent to call another agent.",
      "properties": {
        "name": {
          "description": "Required. The name of the agent tool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        },
        "agent": {
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        }
      },
      "id": "AgentTool",
      "type": "object"
    },
    "LfA2aV1AgentProvider": {
      "type": "object",
      "id": "LfA2aV1AgentProvider",
      "description": "Represents the service provider of an agent.",
      "properties": {
        "organization": {
          "description": "Required. The name of the agent provider's organization. Example: \"Google\"",
          "type": "string"
        },
        "url": {
          "description": "Required. A URL for the agent provider's website or relevant documentation. Example: \"https://ai.google.dev\"",
          "type": "string"
        }
      }
    },
    "LfA2aV1StreamResponse": {
      "description": "A wrapper object used in streaming operations to encapsulate different types of response data.",
      "id": "LfA2aV1StreamResponse",
      "type": "object",
      "properties": {
        "statusUpdate": {
          "$ref": "LfA2aV1TaskStatusUpdateEvent",
          "description": "An event indicating a task status update."
        },
        "task": {
          "$ref": "LfA2aV1Task",
          "description": "A Task object containing the current state of the task."
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A Message object containing a message from the agent."
        },
        "artifactUpdate": {
          "$ref": "LfA2aV1TaskArtifactUpdateEvent",
          "description": "An event indicating a task artifact update."
        }
      }
    },
    "LfA2aV1AgentInterface": {
      "type": "object",
      "properties": {
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        },
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "url": {
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\"",
          "type": "string"
        },
        "tenant": {
          "type": "string",
          "description": "Optional. An opaque string used for routing requests to a specific agent or tenant when multiple agents are served behind a single A2A endpoint. When set, clients MUST include this value in the `tenant` field of all request messages sent to this interface. The server is responsible for interpreting the value and routing requests accordingly; the protocol does not define its format or semantics."
        }
      },
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "id": "LfA2aV1AgentInterface"
    },
    "MockConfig": {
      "id": "MockConfig",
      "description": "Mock tool calls configuration for the session.",
      "type": "object",
      "properties": {
        "mockedToolCalls": {
          "items": {
            "$ref": "MockedToolCall"
          },
          "type": "array",
          "description": "Optional. All tool calls to mock for the duration of the session."
        },
        "unmatchedToolCallBehavior": {
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "type": "string",
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ]
        }
      }
    },
    "ErrorHandlingSettings": {
      "description": "Settings to describe how errors should be handled in the app.",
      "type": "object",
      "properties": {
        "endSessionConfig": {
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors).",
          "$ref": "ErrorHandlingSettingsEndSessionConfig"
        },
        "fallbackResponseConfig": {
          "description": "Optional. Configuration for handling fallback responses.",
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig"
        },
        "errorHandlingStrategy": {
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ],
          "type": "string",
          "description": "Optional. The strategy to use for error handling.",
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ]
        }
      },
      "id": "ErrorHandlingSettings"
    },
    "Citations": {
      "description": "Citations associated with the agent response.",
      "properties": {
        "citedChunks": {
          "description": "List of cited pieces of information.",
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "type": "array"
        },
        "inlineCitations": {
          "type": "array",
          "items": {
            "$ref": "CitationsInlineCitation"
          },
          "description": "Optional. List of inline citations in the agent response."
        }
      },
      "type": "object",
      "id": "Citations"
    },
    "VpcScSettings": {
      "id": "VpcScSettings",
      "type": "object",
      "description": "VPC-SC settings for the app.",
      "properties": {
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "type": "array"
        }
      }
    },
    "ExperimentConfig": {
      "id": "ExperimentConfig",
      "properties": {
        "versionRelease": {
          "$ref": "ExperimentConfigVersionRelease",
          "description": "Optional. Version release for the experiment."
        }
      },
      "description": "Experiment for the deployment.",
      "type": "object"
    },
    "GuardrailModelSafetySafetySetting": {
      "id": "GuardrailModelSafetySafetySetting",
      "properties": {
        "threshold": {
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ],
          "description": "Required. The harm block threshold."
        },
        "category": {
          "description": "Required. The harm category.",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_PROFANITY",
            "HARM_CATEGORY_TOXIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is profanity.",
            "The harm category is toxic."
          ]
        }
      },
      "type": "object",
      "description": "Safety setting."
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "description": "Expectation level metrics thresholds.",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "format": "float",
          "type": "number",
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0."
        }
      },
      "type": "object"
    },
    "LfA2aV1OAuth2SecurityScheme": {
      "id": "LfA2aV1OAuth2SecurityScheme",
      "description": "Defines a security scheme using OAuth 2.0.",
      "properties": {
        "oauth2MetadataUrl": {
          "description": "URL to the OAuth2 authorization server metadata [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required.",
          "type": "string"
        },
        "flows": {
          "description": "Required. An object containing configuration information for the supported OAuth 2.0 flows.",
          "$ref": "LfA2aV1OAuthFlows"
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImportAppRequestImportOptions": {
      "type": "object",
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data.",
      "id": "ImportAppRequestImportOptions",
      "properties": {
        "conflictResolutionStrategy": {
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ]
        },
        "validateOnly": {
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one.",
          "type": "boolean"
        }
      }
    },
    "App": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the app was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app was created.",
          "type": "string",
          "readOnly": true
        },
        "modelSettings": {
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed.",
          "$ref": "ModelSettings"
        },
        "guardrails": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "array"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages."
        },
        "dashboardSettings": {
          "$ref": "DashboardSettings",
          "description": "Optional. App-specific dashboard settings for linking and configuring Contact Center Insights dashboards."
        },
        "dataStoreSettings": {
          "description": "Optional. The data store settings for the app.",
          "$ref": "DataStoreSettings"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the app."
        },
        "rootAgent": {
          "type": "string",
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "clientCertificateSettings": {
          "$ref": "ClientCertificateSettings",
          "description": "Optional. The default client certificate settings for the app."
        },
        "audioProcessingConfig": {
          "description": "Optional. Audio processing configuration of the app.",
          "$ref": "AudioProcessingConfig"
        },
        "timeZoneSettings": {
          "$ref": "TimeZoneSettings",
          "description": "Optional. TimeZone settings of the app."
        },
        "loggingSettings": {
          "description": "Optional. Logging settings of the app.",
          "$ref": "LoggingSettings"
        },
        "evaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholds",
          "description": "Optional. The evaluation thresholds for the app."
        },
        "pinned": {
          "description": "Optional. Whether the app is pinned in the app list.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Human-readable description of the app.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "deploymentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of deployments in the app.",
          "readOnly": true
        },
        "locked": {
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected.",
          "type": "boolean"
        },
        "variableDeclarations": {
          "type": "array",
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "description": "Optional. The declarations of the variables."
        },
        "globalInstruction": {
          "type": "string",
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents."
        },
        "validationErrors": {
          "type": "array",
          "description": "Output only. Misconfigurations or warnings in the app.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "languageSettings": {
          "description": "Optional. Language settings of the app.",
          "$ref": "LanguageSettings"
        },
        "vpcScSettings": {
          "$ref": "VpcScSettings",
          "description": "Optional. VPC-SC settings for the app."
        },
        "toolExecutionMode": {
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ],
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL.",
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ],
          "type": "string"
        },
        "errorHandlingSettings": {
          "description": "Optional. Error handling settings of the app.",
          "$ref": "ErrorHandlingSettings"
        },
        "predefinedVariableDeclarations": {
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The declarations of predefined variables for the app."
        },
        "defaultChannelProfile": {
          "description": "Optional. The default channel profile used by the app.",
          "$ref": "ChannelProfile"
        }
      },
      "type": "object",
      "id": "App",
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context."
    },
    "LfA2aV1MutualTlsSecurityScheme": {
      "type": "object",
      "id": "LfA2aV1MutualTlsSecurityScheme",
      "description": "Defines a security scheme using mTLS authentication.",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      }
    },
    "WidgetToolDataMapping": {
      "properties": {
        "sourceToolName": {
          "type": "string",
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`"
        },
        "pythonFunction": {
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format.",
          "$ref": "PythonFunction"
        },
        "pythonScript": {
          "type": "string",
          "description": "Deprecated: Use `python_function` instead.",
          "deprecated": true
        },
        "fieldMappings": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool."
        },
        "mode": {
          "description": "Optional. The mode of the data mapping.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ],
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ]
        }
      },
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "type": "object",
      "id": "WidgetToolDataMapping"
    },
    "DataStoreToolDataStoreSource": {
      "id": "DataStoreToolDataStoreSource",
      "description": "Configuration for searching within a specific DataStore.",
      "type": "object",
      "properties": {
        "dataStore": {
          "description": "Optional. The data store.",
          "$ref": "DataStore"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        }
      }
    },
    "GenerateChatTokenRequest": {
      "properties": {
        "liveHandoffEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates if live handoff is enabled for the session."
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget."
        },
        "deployment": {
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}",
          "type": "string"
        }
      },
      "description": "Request message for WidgetService.GenerateChatToken.",
      "id": "GenerateChatTokenRequest",
      "type": "object"
    },
    "ListToolsetsResponse": {
      "description": "Response message for AgentService.ListToolsets.",
      "properties": {
        "toolsets": {
          "description": "The list of toolsets.",
          "type": "array",
          "items": {
            "$ref": "Toolset"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListToolsetsResponse",
      "type": "object"
    },
    "DataStoreToolSnippetsConfig": {
      "type": "object",
      "properties": {
        "maxSnippets": {
          "format": "int32",
          "description": "Optional. Number of snippets to return per query. If unset, returns all snippets from the service by default.",
          "type": "integer"
        },
        "enableSnippets": {
          "description": "Optional. Whether snippets are enabled.",
          "type": "boolean"
        }
      },
      "id": "DataStoreToolSnippetsConfig",
      "description": "Snippets configuration."
    },
    "PythonCodeCondition": {
      "id": "PythonCodeCondition",
      "type": "object",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. The python code to execute."
        }
      },
      "description": "Python code block to evaluate the condition."
    },
    "DataStoreToolModalityConfig": {
      "id": "DataStoreToolModalityConfig",
      "properties": {
        "rewriterConfig": {
          "$ref": "DataStoreToolRewriterConfig",
          "description": "Optional. The rewriter config."
        },
        "snippetsConfig": {
          "$ref": "DataStoreToolSnippetsConfig",
          "description": "Optional. The snippets configuration."
        },
        "groundingConfig": {
          "description": "Optional. The grounding configuration.",
          "$ref": "DataStoreToolGroundingConfig"
        },
        "modalityType": {
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Required. The modality type.",
          "type": "string"
        },
        "summarizationConfig": {
          "$ref": "DataStoreToolSummarizationConfig",
          "description": "Optional. The summarization config."
        }
      },
      "type": "object",
      "description": "If specified, will apply the given configuration for the specified modality."
    },
    "CitationsCitedChunk": {
      "properties": {
        "requiresAttribution": {
          "description": "Whether this citation requires attribution to be shown to the end users.",
          "type": "boolean"
        },
        "uri": {
          "description": "URI used for citation.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Text used for citation."
        },
        "title": {
          "type": "string",
          "description": "Title of the cited document."
        }
      },
      "id": "CitationsCitedChunk",
      "description": "Piece of cited information.",
      "type": "object"
    },
    "LfA2aV1AgentExtension": {
      "description": "A declaration of a protocol extension supported by an Agent.",
      "properties": {
        "params": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. Extension-specific configuration parameters."
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of how this agent uses the extension."
        },
        "uri": {
          "type": "string",
          "description": "The unique URI identifying the extension."
        },
        "required": {
          "description": "If true, the client must understand and comply with the extension's requirements.",
          "type": "boolean"
        }
      },
      "id": "LfA2aV1AgentExtension",
      "type": "object"
    },
    "Schema": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The description of the data."
        },
        "minimum": {
          "format": "double",
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER.",
          "type": "number"
        },
        "required": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Required properties of Type.OBJECT."
        },
        "uniqueItems": {
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY.",
          "type": "boolean"
        },
        "minItems": {
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "format": "int64",
          "type": "string"
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "description": "Required. The type of the data.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ]
        },
        "additionalProperties": {
          "$ref": "Schema",
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties."
        },
        "ref": {
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring.",
          "type": "string"
        },
        "anyOf": {
          "type": "array",
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "items": {
            "$ref": "Schema"
          }
        },
        "defs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema."
        },
        "maxItems": {
          "format": "int64",
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "type": "string"
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "maximum": {
          "format": "double",
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "type": "number"
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "enum": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}"
        },
        "properties": {
          "additionalProperties": {
            "$ref": "Schema"
          },
          "type": "object",
          "description": "Optional. Properties of Type.OBJECT."
        },
        "prefixItems": {
          "description": "Optional. Schemas of initial elements of Type.ARRAY.",
          "items": {
            "$ref": "Schema"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Schema",
      "description": "Represents a select subset of an OpenAPI 3.0 schema object."
    },
    "ToolFakeConfig": {
      "description": "Configuration for tool behavior in fake mode.",
      "properties": {
        "codeBlock": {
          "$ref": "CodeBlock",
          "description": "Optional. Code block which will be executed instead of a real tool call."
        },
        "enableFakeMode": {
          "description": "Optional. Whether the tool is using fake mode.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ToolFakeConfig"
    },
    "AgentSkill": {
      "description": "Represents a distinct capability or function that an agent can perform.",
      "type": "object",
      "id": "AgentSkill",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        },
        "outputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of supported output media types for this skill, overriding the agent's defaults."
        },
        "tags": {
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Required. A detailed description of the skill."
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "inputModes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults."
        },
        "examples": {
          "items": {
            "type": "string"
          },
          "description": "Example prompts or scenarios that this skill can handle.",
          "type": "array"
        }
      }
    },
    "SystemTool": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the system tool."
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the system tool.",
          "readOnly": true
        }
      },
      "id": "SystemTool",
      "description": "Pre-defined system tool."
    },
    "LfA2aV1OpenIdConnectSecurityScheme": {
      "description": "Defines a security scheme using OpenID Connect.",
      "properties": {
        "openIdConnectUrl": {
          "type": "string",
          "description": "Required. The [OpenID Connect Discovery URL](https://openid.net/specs/openid-connect-discovery-1_0.html) for the OIDC provider's metadata."
        },
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        }
      },
      "type": "object",
      "id": "LfA2aV1OpenIdConnectSecurityScheme"
    },
    "ListGuardrailsResponse": {
      "id": "ListGuardrailsResponse",
      "type": "object",
      "properties": {
        "guardrails": {
          "type": "array",
          "items": {
            "$ref": "Guardrail"
          },
          "description": "The list of guardrails."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListGuardrails."
    },
    "LfA2aV1PasswordOAuthFlow": {
      "properties": {
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty."
        }
      },
      "type": "object",
      "id": "LfA2aV1PasswordOAuthFlow",
      "description": "Deprecated: Use Authorization Code + PKCE or Device Code."
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "properties": {
        "overallToolInvocationCorrectnessThreshold": {
          "format": "float",
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0.",
          "type": "number"
        },
        "semanticSimilaritySuccessThreshold": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3."
        },
        "semanticSimilarityChannel": {
          "description": "Optional. The semantic similarity channel to use for evaluation.",
          "type": "string",
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ]
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
      "type": "object",
      "description": "Turn level metrics thresholds."
    },
    "LfA2aV1AgentCardSignature": {
      "type": "object",
      "id": "LfA2aV1AgentCardSignature",
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "properties": {
        "signature": {
          "description": "Required. The computed signature, base64url-encoded.",
          "type": "string"
        },
        "header": {
          "type": "object",
          "description": "The unprotected JWS header values.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "protected": {
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object.",
          "type": "string"
        }
      }
    },
    "ToolsetTool": {
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolId": {
          "type": "string",
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for."
        }
      },
      "description": "A tool that is created from a toolset.",
      "type": "object",
      "id": "ToolsetTool"
    },
    "AgentAgentToolset": {
      "type": "object",
      "id": "AgentAgentToolset",
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolIds": {
          "type": "array",
          "description": "Optional. The tools IDs to filter the toolset.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A toolset with a selection of its tools."
    },
    "TlsConfigCaCert": {
      "description": "The CA certificate.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        },
        "cert": {
          "type": "string",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "format": "byte"
        }
      },
      "id": "TlsConfigCaCert"
    },
    "ListExamplesResponse": {
      "id": "ListExamplesResponse",
      "properties": {
        "examples": {
          "type": "array",
          "description": "The list of examples.",
          "items": {
            "$ref": "Example"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for AgentService.ListExamples."
    },
    "CitationsInlineCitation": {
      "description": "An inline citation in the response text.",
      "id": "CitationsInlineCitation",
      "type": "object",
      "properties": {
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index (in bytes) of the text segment in the agent response."
        },
        "citedChunkIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "The indices of the cited chunks that back this text segment. Indices refer to the elements in `cited_chunks`."
        },
        "endIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The ending index (in bytes) of the text segment in the agent response."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status",
      "type": "object"
    },
    "GuardrailContentFilter": {
      "properties": {
        "bannedContents": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses.",
          "type": "array"
        },
        "matchType": {
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ],
          "type": "string",
          "description": "Required. Match type for the content filter."
        },
        "disregardDiacritics": {
          "type": "boolean",
          "description": "Optional. If true, diacritics are ignored during matching."
        },
        "bannedContentsInUserInput": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of banned phrases. Applies only to user inputs."
        },
        "bannedContentsInAgentResponse": {
          "type": "array",
          "description": "Optional. List of banned phrases. Applies only to agent responses.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Guardrail that bans certain content from being used in the conversation.",
      "id": "GuardrailContentFilter"
    },
    "RedactionConfig": {
      "id": "RedactionConfig",
      "description": "Configuration to instruct how sensitive data should be handled.",
      "properties": {
        "deidentifyTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`"
        },
        "inspectTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`"
        },
        "enableRedaction": {
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "LfA2aV1Task": {
      "id": "LfA2aV1Task",
      "description": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "type": "object",
      "properties": {
        "history": {
          "type": "array",
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`.",
          "items": {
            "$ref": "LfA2aV1Message"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task.",
          "type": "object"
        },
        "status": {
          "description": "Required. The current status of a `Task`, including `state` and a `message`.",
          "$ref": "LfA2aV1TaskStatus"
        },
        "id": {
          "description": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        },
        "artifacts": {
          "description": "A set of output artifacts for a `Task`.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Artifact"
          }
        },
        "contextId": {
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages).",
          "type": "string"
        }
      }
    },
    "Guardrail": {
      "type": "object",
      "id": "Guardrail",
      "properties": {
        "contentFilter": {
          "$ref": "GuardrailContentFilter",
          "description": "Optional. Guardrail that bans certain content from being used in the conversation."
        },
        "llmPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
        },
        "displayName": {
          "description": "Required. Display name of the guardrail.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the guardrail was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "llmPromptSecurity": {
          "$ref": "GuardrailLlmPromptSecurity",
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification."
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "modelSafety": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings.",
          "$ref": "GuardrailModelSafety"
        },
        "codeCallback": {
          "$ref": "GuardrailCodeCallback",
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "description": {
          "description": "Optional. Description of the guardrail.",
          "type": "string"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "action": {
          "$ref": "TriggerAction",
          "description": "Optional. Action to take when the guardrail is triggered."
        }
      },
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure."
    },
    "DataStoreSettingsEngine": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "description": "Output only. The type of the engine.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "readOnly": true
        }
      },
      "id": "DataStoreSettingsEngine",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "type": "object",
      "properties": {
        "defaultPromptTemplate": {
          "type": "string",
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY.",
          "readOnly": true
        }
      },
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
      "description": "Configuration for default system security settings."
    },
    "LfA2aV1SendMessageResponse": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message from the agent."
        },
        "task": {
          "description": "The task created or updated by the message.",
          "$ref": "LfA2aV1Task"
        }
      },
      "id": "LfA2aV1SendMessageResponse",
      "description": "Represents the response for the `SendMessage` method."
    },
    "DataStoreSettings": {
      "id": "DataStoreSettings",
      "properties": {
        "engines": {
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "description": "Output only. The engines for the app.",
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Data store related settings for the app."
    },
    "OpenApiTool": {
      "type": "object",
      "properties": {
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust.",
          "$ref": "TlsConfig"
        },
        "ignoreUnknownFields": {
          "type": "boolean",
          "description": "Optional. If true, the agent will ignore unknown fields in the API response."
        },
        "name": {
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`."
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema in JSON or YAML format.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        }
      },
      "description": "A remote API tool defined by an OpenAPI schema.",
      "id": "OpenApiTool"
    },
    "DataStoreToolEngineSource": {
      "type": "object",
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "properties": {
        "engine": {
          "type": "string",
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        },
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "dataStoreSources": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          },
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine."
        }
      },
      "id": "DataStoreToolEngineSource"
    },
    "FileSearchTool": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The tool name.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "corpusType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED."
        },
        "fileCorpus": {
          "type": "string",
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}"
        }
      },
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "id": "FileSearchTool"
    },
    "MockedToolCall": {
      "properties": {
        "expectedArgsPattern": {
          "description": "Required. A pattern to match against the args / inputs of all dispatched tool calls. If the tool call inputs match this pattern, then mock output will be returned.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolId": {
          "type": "string",
          "description": "Optional. The name of the tool to mock. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "mockResponse": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The mock response / output to return if the tool call args / inputs match the pattern."
        },
        "tool": {
          "deprecated": true,
          "description": "Optional. Deprecated. Use tool_identifier instead.",
          "type": "string"
        },
        "toolset": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset to mock."
        }
      },
      "id": "MockedToolCall",
      "type": "object",
      "description": "A mocked tool call. Expresses the target tool + a pattern to match against that tool's args / inputs. If the pattern matches, then the mock response will be returned."
    },
    "ListAgentsResponse": {
      "type": "object",
      "id": "ListAgentsResponse",
      "description": "Response message for AgentService.ListAgents.",
      "properties": {
        "agents": {
          "type": "array",
          "description": "The list of agents.",
          "items": {
            "$ref": "Agent"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "properties": {
        "escalateSession": {
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ErrorHandlingSettingsEndSessionConfig",
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors)."
    },
    "Changelog": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the change was made.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "dependentResources": {
          "readOnly": true,
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "Output only. The dependent resources that were changed."
        },
        "resourceType": {
          "description": "Output only. The type of the resource that was changed.",
          "type": "string",
          "readOnly": true
        },
        "action": {
          "type": "string",
          "description": "Output only. The action that was performed on the resource.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`"
        },
        "description": {
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource.",
          "readOnly": true,
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "Output only. The resource that was changed.",
          "readOnly": true
        },
        "sequenceNumber": {
          "type": "string",
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "readOnly": true,
          "format": "int64"
        },
        "newResource": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. The new resource after the change."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed."
        },
        "originalResource": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. The original resource before the change."
        },
        "author": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the change author."
        }
      },
      "description": "Changelogs represent a change made to the app or to an resource within the app.",
      "id": "Changelog"
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "description": "Security settings for the web widget.",
      "properties": {
        "enableOriginCheck": {
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "type": "array",
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "items": {
            "type": "string"
          }
        },
        "enableRecaptcha": {
          "type": "boolean",
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled."
        },
        "enablePublicAccess": {
          "type": "boolean",
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent."
        }
      },
      "type": "object",
      "id": "ChannelProfileWebWidgetConfigSecuritySettings"
    },
    "Blob": {
      "id": "Blob",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes of the blob."
        }
      },
      "description": "Represents a blob input or output in the conversation.",
      "type": "object"
    },
    "Example": {
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "id": "Example",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the example was created.",
          "readOnly": true
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the example.",
          "type": "string"
        },
        "entryAgent": {
          "type": "string",
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the example was last updated."
        },
        "invalid": {
          "readOnly": true,
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Human-readable description of the example.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`"
        },
        "messages": {
          "description": "Optional. The collection of messages that make up the conversation.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExportAppResponse": {
      "properties": {
        "appUri": {
          "type": "string",
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported."
        },
        "appContent": {
          "description": "App folder compressed as a zip file.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "ExportAppResponse",
      "type": "object",
      "description": "Response message for AgentService.ExportApp."
    },
    "GoogleSearchSuggestions": {
      "description": "Search suggestions from Google Search Tool.",
      "properties": {
        "htmls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Compliant HTML and CSS styling for search suggestions. The provided HTML and CSS automatically adapts to your device settings, displaying in either light or dark mode indicated by `@media(prefers-color-scheme)`."
        },
        "webSearchQueries": {
          "type": "array",
          "items": {
            "$ref": "WebSearchQuery"
          },
          "description": "List of queries used to perform the google search along with the search result URIs forming the search suggestions."
        }
      },
      "type": "object",
      "id": "GoogleSearchSuggestions"
    },
    "SessionConfig": {
      "description": "The configuration for the session.",
      "properties": {
        "remoteDialogflowQueryParameters": {
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
          "$ref": "SessionConfigRemoteDialogflowQueryParameters"
        },
        "excludeDiagnosticInfo": {
          "description": "Optional. Whether to exclude diagnostic info from the session output.",
          "type": "boolean"
        },
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "useToolFakes": {
          "type": "boolean",
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools."
        },
        "entryAgent": {
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\".",
          "type": "string"
        },
        "historicalContexts": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state."
        },
        "enableTextStreaming": {
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession.",
          "type": "boolean"
        },
        "deployment": {
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SessionConfig"
    },
    "LfA2aV1ClientCredentialsOAuthFlow": {
      "description": "Defines configuration details for the OAuth 2.0 Client Credentials flow.",
      "id": "LfA2aV1ClientCredentialsOAuthFlow",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "tokenUrl": {
          "description": "Required. The token URL to be used for this flow.",
          "type": "string"
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "DataStoreToolBoostSpec": {
      "type": "object",
      "description": "Boost specification to boost certain documents.",
      "id": "DataStoreToolBoostSpec",
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "description": "Required. A list of boosting specifications.",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpec"
          }
        }
      }
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "type": "object",
      "properties": {
        "oauthToken": {
          "type": "string",
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`."
        }
      },
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "description": "Oauth 2.0 Authorization Code authentication configuration."
    },
    "Event": {
      "type": "object",
      "description": "Event input.",
      "properties": {
        "event": {
          "type": "string",
          "description": "Required. The name of the event."
        }
      },
      "id": "Event"
    },
    "LfA2aV1Artifact": {
      "id": "LfA2aV1Artifact",
      "type": "object",
      "description": "Artifacts represent task outputs.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Metadata included with the artifact.",
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human readable description of the artifact."
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "artifactId": {
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task.",
          "type": "string"
        },
        "parts": {
          "description": "Required. The content of the artifact. Must contain at least one part.",
          "items": {
            "$ref": "LfA2aV1Part"
          },
          "type": "array"
        },
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        }
      }
    },
    "Agent": {
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "id": "Agent",
      "properties": {
        "beforeAgentCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "beforeToolCallbacks": {
          "items": {
[...]
