{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        }
      }
    }
  },
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "revision": "20260708",
  "endpoints": [
    {
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "version": "v1beta",
  "title": "Gemini Enterprise for Customer Experience API",
  "schemas": {
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "type": "object",
      "properties": {
        "controlPoints": {
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "type": "array"
        },
        "attributeType": {
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "interpolationType": {
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "type": "string",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec"
    },
    "EvaluationMetricsConfigGoldenMetricsConfig": {
      "description": "Configuration for the golden metrics for the evaluation.",
      "type": "object",
      "properties": {
        "semanticSimilarityMetricsConfig": {
          "description": "Optional. Global configuration for semantic similarity metrics.",
          "$ref": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig"
        },
        "toolCorrectnessMetricsConfig": {
          "$ref": "EvaluationMetricsConfigToolCorrectnessMetricsConfig",
          "description": "Optional. Configuration for turn level tool correctness metrics."
        },
        "stepToolCorrectnessMetricsConfig": {
          "$ref": "EvaluationMetricsConfigToolCorrectnessMetricsConfig",
          "description": "Optional. Configuration for step level tool correctness metrics."
        }
      },
      "id": "EvaluationMetricsConfigGoldenMetricsConfig"
    },
    "DataStoreSettingsEngine": {
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "readOnly": true,
          "description": "Output only. The type of the engine."
        }
      },
      "id": "DataStoreSettingsEngine"
    },
    "ListAppsResponse": {
      "id": "ListAppsResponse",
      "description": "Response message for AgentService.ListApps.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apps": {
          "description": "The list of apps.",
          "type": "array",
          "items": {
            "$ref": "App"
          }
        }
      }
    },
    "FileContext": {
      "id": "FileContext",
      "description": "Files to be used as context. Files can be provided as raw bytes.",
      "type": "object",
      "properties": {
        "fileBytes": {
          "$ref": "FileContextFileBytes",
          "description": "Optional. File provided as raw bytes."
        }
      }
    },
    "LfA2aV1SendMessageResponse": {
      "id": "LfA2aV1SendMessageResponse",
      "description": "Represents the response for the `SendMessage` method.",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message from the agent."
        },
        "task": {
          "description": "The task created or updated by the message.",
          "$ref": "LfA2aV1Task"
        }
      }
    },
    "ImportEvaluationsRequest": {
      "id": "ImportEvaluationsRequest",
      "description": "Request message for EvaluationService.ImportEvaluations.",
      "type": "object",
      "properties": {
        "conversationList": {
          "$ref": "ImportEvaluationsRequestConversationList",
          "description": "The conversations to import the evaluations from."
        },
        "importOptions": {
          "description": "Optional. Options governing the import process for the evaluations.",
          "$ref": "ImportEvaluationsRequestImportOptions"
        },
        "csvContent": {
          "description": "Raw bytes representing the csv file with the evaluations structure.",
          "type": "string",
          "format": "byte"
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import evaluations. The format of this URI must be `gs:///`.",
          "type": "string"
        }
      }
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "description": "Security settings for the web widget.",
      "type": "object",
      "properties": {
        "enableOriginCheck": {
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableRecaptcha": {
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled.",
          "type": "boolean"
        },
        "enablePublicAccess": {
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent.",
          "type": "boolean"
        }
      },
      "id": "ChannelProfileWebWidgetConfigSecuritySettings"
    },
    "TestPersonaVoiceRequest": {
      "id": "TestPersonaVoiceRequest",
      "description": "Request message for EvaluationService.TestPersonaVoice.",
      "type": "object",
      "properties": {
        "personaId": {
          "description": "Required. The persona ID to test the voice for. Also accepts \"default\".",
          "type": "string"
        },
        "text": {
          "description": "Required. The text to test the voice for.",
          "type": "string"
        }
      }
    },
    "ListToolsResponse": {
      "description": "Response message for AgentService.ListTools.",
      "type": "object",
      "properties": {
        "tools": {
          "description": "The list of tools.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListToolsResponse"
    },
    "EvaluationResultGoldenExpectationOutcomeToolInvocationResult": {
      "id": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
      "description": "The result of the tool invocation check.",
      "type": "object",
      "properties": {
        "parameterCorrectnessScore": {
          "description": "Output only. The tool invocation parameter correctness score. This indicates the percent of parameters from the expected tool call that were also present in the actual tool call.",
          "type": "number",
          "format": "float",
          "readOnly": true
        },
        "explanation": {
          "description": "Output only. A free text explanation for the tool invocation result.",
          "type": "string",
          "readOnly": true
        },
        "outcome": {
          "type": "string",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true,
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the parameter_correctness_score to the threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL."
        }
      }
    },
    "SessionConfig": {
      "description": "The configuration for the session.",
      "type": "object",
      "properties": {
        "enableTextStreaming": {
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession.",
          "type": "boolean"
        },
        "entryAgent": {
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\".",
          "type": "string"
        },
        "useToolFakes": {
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools.",
          "type": "boolean"
        },
        "remoteDialogflowQueryParameters": {
          "$ref": "SessionConfigRemoteDialogflowQueryParameters",
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent."
        },
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "historicalContexts": {
          "items": {
            "$ref": "Message"
          },
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state.",
          "type": "array"
        },
        "outputAudioConfig": {
          "$ref": "OutputAudioConfig",
          "description": "Optional. Configuration for generating the output audio."
        },
        "deployment": {
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        }
      },
      "id": "SessionConfig"
    },
    "ChannelProfileInstagramConfig": {
      "id": "ChannelProfileInstagramConfig",
      "description": "Configuration specific to Instagram deployments.",
      "type": "object",
      "properties": {
        "thumbnailUrl": {
          "readOnly": true,
          "description": "Output only. The fetched Meta business profile thumbnail URL.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. The description of the Meta business page or profile.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The fetched Meta business page name.",
          "type": "string"
        },
        "instagramAccountId": {
          "description": "Required. The Instagram Account ID.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "OperationMetadata"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "type": "object",
      "properties": {
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
    },
    "GenerateAppResourceRequestAppVersionContext": {
      "description": "The app version context specifying the base snapshot and target agent.",
      "type": "object",
      "properties": {
        "agentResourceName": {
          "description": "The resource name of the target agent to be used by the LLM assistant. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "appVersion": {
          "description": "The resource name of the app version to be used by the LLM assistant. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        }
      },
      "id": "GenerateAppResourceRequestAppVersionContext"
    },
    "LfA2aV1PasswordOAuthFlow": {
      "id": "LfA2aV1PasswordOAuthFlow",
      "description": "Deprecated: Use Authorization Code + PKCE or Device Code.",
      "type": "object",
      "properties": {
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "EvaluationRunProgress": {
      "description": "The progress of the evaluation run.",
      "type": "object",
      "properties": {
        "errorCount": {
          "readOnly": true,
          "description": "Output only. Number of evaluation results that failed to execute. (EvaluationResult.execution_state is ERROR).",
          "type": "integer",
          "format": "int32"
        },
        "completedCount": {
          "readOnly": true,
          "description": "Output only. Number of evaluation results that finished successfully. (EvaluationResult.execution_state is COMPLETED).",
          "type": "integer",
          "format": "int32"
        },
        "passedCount": {
          "readOnly": true,
          "description": "Output only. Number of completed evaluation results with an outcome of PASS. (EvaluationResult.execution_state is COMPLETED and EvaluationResult.evaluation_status is PASS).",
          "type": "integer",
          "format": "int32"
        },
        "failedCount": {
          "readOnly": true,
          "description": "Output only. Number of completed evaluation results with an outcome of FAIL. (EvaluationResult.execution_state is COMPLETED and EvaluationResult.evaluation_status is FAIL).",
          "type": "integer",
          "format": "int32"
        },
        "totalCount": {
          "readOnly": true,
          "description": "Output only. Total number of evaluation results in this run.",
          "type": "integer",
          "format": "int32"
        },
        "cancelledCount": {
          "readOnly": true,
          "description": "Output only. Number of evaluation results that were cancelled. (EvaluationResult.execution_state is CANCELLED).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "EvaluationRunProgress"
    },
    "EndUserAuthConfig": {
      "id": "EndUserAuthConfig",
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`.",
      "type": "object",
      "properties": {
        "oauth2JwtBearerConfig": {
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig",
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication."
        },
        "oauth2AuthCodeConfig": {
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig",
          "description": "Oauth 2.0 Authorization Code authentication."
        }
      }
    },
    "TestPersonaVoiceResponse": {
      "description": "Response message for EvaluationService.TestPersonaVoice.",
      "type": "object",
      "properties": {
        "audio": {
          "description": "The audio data bytes of the synthesized voice.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "TestPersonaVoiceResponse"
    },
    "AudioRecordingConfig": {
      "description": "Configuration for how the audio interactions should be recorded.",
      "type": "object",
      "properties": {
        "gcsBucket": {
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "gcsPathPrefix": {
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used.",
          "type": "string"
        }
      },
      "id": "AudioRecordingConfig"
    },
    "ConnectorTool": {
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "type": "object",
      "properties": {
        "action": {
          "$ref": "Action",
          "description": "Required. Action for the tool to use."
        },
        "name": {
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "authConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details."
        },
        "description": {
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        }
      },
      "id": "ConnectorTool"
    },
    "Blob": {
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "McpToolDefinition": {
      "id": "McpToolDefinition",
      "description": "Container for a tool's core definition elements that are snapshot. Schemas in the snapshot are used as-is and cannot be overridden.",
      "type": "object",
      "properties": {
        "inputSchema": {
          "description": "Output only. The schema of the input arguments of the MCP tool.",
          "readOnly": true,
          "$ref": "Schema"
        },
        "description": {
          "description": "Output only. The description of the MCP tool. This can be overridden by `description_override` in `McpToolOverride`.",
          "type": "string",
          "readOnly": true
        },
        "outputSchema": {
          "description": "Output only. The schema of the output arguments of the MCP tool.",
          "readOnly": true,
          "$ref": "Schema"
        }
      }
    },
    "RunSessionRequest": {
      "id": "RunSessionRequest",
      "description": "Request message for SessionService.RunSession.",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "SessionConfig",
          "description": "Required. The configuration for the session."
        },
        "inputs": {
          "items": {
            "$ref": "SessionInput"
          },
          "description": "Required. Inputs for the session.",
          "type": "array"
        }
      }
    },
    "DataStoreToolRewriterConfig": {
      "description": "Rewriter configuration.",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the rewriter is disabled.",
          "type": "boolean"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Required. Configurations for the LLM model."
        }
      },
      "id": "DataStoreToolRewriterConfig"
    },
    "LfA2aV1AgentExtension": {
      "id": "LfA2aV1AgentExtension",
      "description": "A declaration of a protocol extension supported by an Agent.",
      "type": "object",
      "properties": {
        "description": {
          "description": "A human-readable description of how this agent uses the extension.",
          "type": "string"
        },
        "uri": {
          "description": "The unique URI identifying the extension.",
          "type": "string"
        },
        "required": {
          "description": "If true, the client must understand and comply with the extension's requirements.",
          "type": "boolean"
        },
        "params": {
          "description": "Optional. Extension-specific configuration parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "TimeZoneSettings": {
      "description": "TimeZone settings of the app.",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris.",
          "type": "string"
        }
      },
      "id": "TimeZoneSettings"
    },
    "SessionOutputDiagnosticInfo": {
      "id": "SessionOutputDiagnosticInfo",
      "description": "Contains execution details during the processing.",
      "type": "object",
      "properties": {
        "messages": {
          "description": "List of the messages that happened during the processing.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "rootSpan": {
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations.",
          "$ref": "Span"
        }
      }
    },
    "Guardrail": {
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure.",
      "type": "object",
      "properties": {
        "llmPromptSecurity": {
          "$ref": "GuardrailLlmPromptSecurity",
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification."
        },
        "name": {
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the guardrail was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "llmPolicy": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
          "$ref": "GuardrailLlmPolicy"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "modelSafety": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings.",
          "$ref": "GuardrailModelSafety"
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "action": {
          "$ref": "TriggerAction",
          "description": "Optional. Action to take when the guardrail is triggered."
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the guardrail.",
          "type": "string"
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        },
        "displayName": {
          "description": "Required. Display name of the guardrail.",
          "type": "string"
        },
        "contentFilter": {
          "$ref": "GuardrailContentFilter",
          "description": "Optional. Guardrail that bans certain content from being used in the conversation."
        }
      },
      "id": "Guardrail"
    },
    "ExperimentConfig": {
      "description": "Experiment for the deployment.",
      "type": "object",
      "properties": {
        "versionRelease": {
          "description": "Optional. Version release for the experiment.",
          "$ref": "ExperimentConfigVersionRelease"
        }
      },
      "id": "ExperimentConfig"
    },
    "ListEvaluationRunsResponse": {
      "id": "ListEvaluationRunsResponse",
      "description": "Response message for EvaluationService.ListEvaluationRuns.",
      "type": "object",
      "properties": {
        "evaluationRuns": {
          "description": "The list of evaluation runs.",
          "type": "array",
          "items": {
            "$ref": "EvaluationRun"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationRunsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Chunk": {
      "id": "Chunk",
      "description": "A chunk of content within a message.",
      "type": "object",
      "properties": {
        "payload": {
          "description": "Optional. Custom payload data.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "Optional. Tool execution response."
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "updatedVariables": {
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "blob": {
          "$ref": "Blob",
          "description": "Optional. Blob data."
        },
        "image": {
          "$ref": "Image",
          "description": "Optional. Image data."
        },
        "defaultVariables": {
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "agentTransfer": {
          "$ref": "AgentTransfer",
          "description": "Optional. Agent transfer event."
        },
        "toolCall": {
          "$ref": "ToolCall",
          "description": "Optional. Tool execution request."
        },
        "transcript": {
          "description": "Optional. Transcript associated with the audio.",
          "type": "string"
        }
      }
    },
    "Event": {
      "id": "Event",
      "description": "Event input.",
      "type": "object",
      "properties": {
        "event": {
          "description": "Required. The name of the event.",
          "type": "string"
        }
      }
    },
    "ServiceDirectoryConfig": {
      "id": "ServiceDirectoryConfig",
      "description": "Configuration for tools using Service Directory.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app.",
          "type": "string"
        }
      }
    },
    "ExecuteToolResponse": {
      "id": "ExecuteToolResponse",
      "description": "Response message for ToolService.ExecuteTool.",
      "type": "object",
      "properties": {
        "response": {
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolsetTool": {
          "description": "The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the Google Search Tool during the tool execution.",
          "$ref": "GoogleSearchSuggestions"
        },
        "citations": {
          "$ref": "Citations",
          "description": "Citations that provide the source information for the tool's execution."
        },
        "tool": {
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "variables": {
          "description": "The variable values at the end of the tool execution.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "RetrieveToolsResponse": {
      "id": "RetrieveToolsResponse",
      "description": "Response message for ToolService.RetrieveTools.",
      "type": "object",
      "properties": {
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "description": "The list of tools that are included in the specified toolset.",
          "type": "array"
        }
      }
    },
    "GenerateAppResourceRequestEvaluationPersonasGenerationConfig": {
      "id": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig",
      "description": "The configuration to be used to generate the evaluation personas.",
      "type": "object",
      "properties": {}
    },
    "LfA2aV1OAuth2SecurityScheme": {
      "id": "LfA2aV1OAuth2SecurityScheme",
      "description": "Defines a security scheme using OAuth 2.0.",
      "type": "object",
      "properties": {
        "flows": {
          "$ref": "LfA2aV1OAuthFlows",
          "description": "Required. An object containing configuration information for the supported OAuth 2.0 flows."
        },
        "oauth2MetadataUrl": {
          "description": "URL to the OAuth2 authorization server metadata [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required.",
          "type": "string"
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      }
    },
    "EvaluationMetricsConfigExpectationsMetMetricsConfig": {
      "description": "Configuration for the expectation level metrics for the evaluation. To disable the metric, set the message but do not set the `enable_expectations_met_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "type": "object",
      "properties": {
        "enableExpectationsMetMetrics": {
          "description": "Optional. Whether to calculate the expectation level metrics for the evaluation.",
          "type": "boolean"
        }
      },
      "id": "EvaluationMetricsConfigExpectationsMetMetricsConfig"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location"
    },
    "EvaluationResult": {
      "description": "An evaluation result represents the output of running an Evaluation.",
      "type": "object",
      "properties": {
        "changelogCreateTime": {
          "readOnly": true,
          "description": "Output only. The create time of the changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft.",
          "type": "string",
          "format": "google-datetime"
        },
        "executionState": {
          "description": "Output only. The state of the evaluation result execution.",
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "COMPLETED",
            "ERROR",
            "CANCELLED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Evaluation result execution state is not specified.",
            "Evaluation result execution is queued.",
            "Evaluation result execution is running.",
            "Evaluation result execution has completed.",
            "Evaluation result execution failed due to an internal error.",
            "Evaluation result execution was cancelled."
          ]
        },
        "displayName": {
          "description": "Required. Display name of the Evaluation Result. Unique within an Evaluation. By default, it has the following format: \" result - \".",
          "type": "string"
        },
        "appVersionDisplayName": {
          "readOnly": true,
          "description": "Output only. The display name of the `app_version` that the evaluation ran against.",
          "type": "string"
        },
        "goldenResult": {
          "readOnly": true,
          "$ref": "EvaluationResultGoldenResult",
          "description": "Output only. The outcome of a golden evaluation."
        },
        "persona": {
          "description": "Output only. The persona used to generate the conversation for the evaluation result.",
          "readOnly": true,
          "$ref": "EvaluationPersona"
        },
        "errorInfo": {
          "readOnly": true,
          "$ref": "EvaluationErrorInfo",
          "description": "Output only. Error information for the evaluation result."
        },
        "config": {
          "readOnly": true,
          "$ref": "EvaluationConfig",
          "description": "Output only. The configuration used in the evaluation run that resulted in this result."
        },
        "initiatedBy": {
          "description": "Output only. The user who initiated the evaluation run that resulted in this result.",
          "type": "string",
          "readOnly": true
        },
        "evaluationMetricsThresholds": {
          "description": "Output only. The evaluation thresholds for the result.",
          "readOnly": true,
          "$ref": "EvaluationMetricsThresholds"
        },
        "evaluationRun": {
          "description": "Output only. The evaluation run that produced this result. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`",
          "type": "string",
          "readOnly": true
        },
        "evaluationStatus": {
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true,
          "description": "Output only. The outcome of the evaluation. Only populated if execution_state is COMPLETE."
        },
        "changelog": {
          "description": "Output only. The changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft.",
          "type": "string",
          "readOnly": true
        },
        "appVersion": {
          "readOnly": true,
          "description": "Output only. The app version used to generate the conversation that resulted in this result. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "goldenRunMethod": {
          "description": "Output only. The method used to run the golden evaluation.",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ],
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the evaluation result. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}/results/{result}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the evaluation result was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "scenarioResult": {
          "readOnly": true,
          "$ref": "EvaluationResultScenarioResult",
          "description": "Output only. The outcome of a scenario evaluation."
        },
        "error": {
          "description": "Output only. Deprecated: Use `error_info` instead. Errors encountered during execution.",
          "deprecated": true,
          "readOnly": true,
          "$ref": "Status"
        }
      },
      "id": "EvaluationResult"
    },
    "EvaluationResultOverallToolInvocationResult": {
      "id": "EvaluationResultOverallToolInvocationResult",
      "description": "The result of the overall tool invocation check.",
      "type": "object",
      "properties": {
        "toolInvocationScore": {
          "description": "The overall tool invocation score for this turn. This indicates the overall percent of tools from the expected turn that were actually invoked.",
          "type": "number",
          "format": "float"
        },
        "outcome": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the tool_invocation_score to the overall_tool_invocation_correctness_threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL."
        }
      }
    },
    "RunEvaluationRequest": {
      "description": "Request message for EvaluationService.RunEvaluation.",
      "type": "object",
      "properties": {
        "evaluationDataset": {
          "description": "Optional. An evaluation dataset to run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the evaluation run.",
          "type": "string"
        },
        "scheduledEvaluationRun": {
          "description": "Optional. The resource name of the `ScheduledEvaluationRun` that is triggering this evaluation run. If this field is set, the `scheduled_evaluation_run` field on the created `EvaluationRun` resource will be populated from this value. Format: `projects/{project}/locations/{location}/apps/{app}/scheduledEvaluationRuns/{scheduled_evaluation_run}`",
          "type": "string"
        },
        "generateLatencyReport": {
          "description": "Optional. Whether to generate a latency report for the evaluation run.",
          "type": "boolean"
        },
        "evaluations": {
          "description": "Optional. List of evaluations to run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "runCount": {
          "description": "Optional. The number of times to run the evaluation. If not set, the default value is 1 per golden, and 5 per scenario.",
          "type": "integer",
          "format": "int32"
        },
        "config": {
          "description": "Optional. The configuration to use for the run.",
          "$ref": "EvaluationConfig"
        },
        "optimizationConfig": {
          "$ref": "OptimizationConfig",
          "description": "Optional. Configuration for running the optimization step after the evaluation run. If not set, the optimization step will not be run."
        },
        "evaluationRunCachingSettings": {
          "$ref": "EvaluationRunCachingSettings",
          "description": "Optional. The caching settings to use for the evaluation run."
        },
        "appVersion": {
          "description": "Optional. The app version to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "personaRunConfigs": {
          "description": "Optional. The configuration to use for the run per persona.",
          "type": "array",
          "items": {
            "$ref": "PersonaRunConfig"
          }
        },
        "goldenRunMethod": {
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "description": "Optional. The method to run the evaluation if it is a golden evaluation. If not set, default to STABLE.",
          "type": "string",
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ]
        },
        "app": {
          "description": "Required. The app to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}`",
          "type": "string"
        }
      },
      "id": "RunEvaluationRequest"
    },
    "EvaluationExpectationLlmCriteria": {
      "id": "EvaluationExpectationLlmCriteria",
      "description": "Configuration for LLM-based evaluation criteria.",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Required. The prompt/instructions provided to the LLM judge.",
          "type": "string"
        }
      }
    },
    "LfA2aV1MutualTlsSecurityScheme": {
      "id": "LfA2aV1MutualTlsSecurityScheme",
      "description": "Defines a security scheme using mTLS authentication.",
      "type": "object",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      }
    },
    "LfA2aV1Task": {
      "description": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "type": "object",
      "properties": {
        "artifacts": {
          "description": "A set of output artifacts for a `Task`.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Artifact"
          }
        },
        "metadata": {
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "contextId": {
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages).",
          "type": "string"
        },
        "history": {
          "items": {
            "$ref": "LfA2aV1Message"
          },
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`.",
          "type": "array"
        },
        "id": {
          "description": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        },
        "status": {
          "$ref": "LfA2aV1TaskStatus",
          "description": "Required. The current status of a `Task`, including `state` and a `message`."
        }
      },
      "id": "LfA2aV1Task"
    },
    "EvaluationResultScenarioResult": {
      "id": "EvaluationResultScenarioResult",
      "description": "The outcome of a scenario evaluation.",
      "type": "object",
      "properties": {
        "taskCompleted": {
          "readOnly": true,
          "description": "Output only. Whether the task was completed for this turn. This is a composite of all expectations satisfied, no hallucinations, and user goal satisfaction.",
          "type": "boolean"
        },
        "rubricOutcomes": {
          "items": {
            "$ref": "EvaluationResultScenarioRubricOutcome"
          },
          "description": "Output only. The outcome of the rubric.",
          "type": "array",
          "readOnly": true
        },
        "userGoalSatisfactionResult": {
          "readOnly": true,
          "$ref": "EvaluationResultUserGoalSatisfactionResult",
          "description": "Output only. The result of the user goal satisfaction check."
        },
        "spanLatencies": {
          "description": "Output only. The latency of spans in the conversation.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultSpanLatency"
          }
        },
        "evaluationExpectationResults": {
          "description": "Output only. The results of the evaluation expectations.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultEvaluationExpectationResult"
          }
        },
        "toolCallLatencies": {
          "readOnly": true,
          "description": "Output only. The latency of each tool call execution in the conversation.",
          "type": "array",
          "items": {
            "$ref": "EvaluationResultToolCallLatency"
          }
        },
        "expectationOutcomes": {
          "description": "Output only. The outcome of each expectation.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultScenarioExpectationOutcome"
          }
        },
        "allExpectationsSatisfied": {
          "readOnly": true,
          "description": "Output only. Whether all expectations were satisfied for this turn.",
          "type": "boolean"
        },
        "hallucinationResult": {
          "description": "Output only. The result of the hallucination check. There will be one hallucination result for each turn in the conversation.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultHallucinationResult"
          }
        },
        "conversation": {
          "readOnly": true,
          "description": "Output only. The conversation that was generated in the scenario.",
          "type": "string"
        },
        "userFacts": {
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          },
          "readOnly": true,
          "description": "Output only. The user facts that were used by the scenario for this result.",
          "type": "array"
        },
        "task": {
          "readOnly": true,
          "description": "Output only. The task that was used when running the scenario for this result.",
          "type": "string"
        },
        "taskCompletionResult": {
          "description": "Output only. The result of the task completion check.",
          "deprecated": true,
          "readOnly": true,
          "$ref": "EvaluationResultTaskCompletionResult"
        }
      }
    },
    "TransferRule": {
      "description": "Rule for transferring to a specific agent.",
      "type": "object",
      "properties": {
        "direction": {
          "description": "Required. The direction of the transfer.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ]
        },
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        },
        "childAgent": {
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "deterministicTransfer": {
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met.",
          "$ref": "TransferRuleDeterministicTransfer"
        }
      },
      "id": "TransferRule"
    },
    "ToolCall": {
      "description": "Request for the client or the agent to execute the specified tool.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. Display name of the tool.",
          "type": "string",
          "readOnly": true
        },
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "id": {
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse.",
          "type": "string"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute.",
          "$ref": "ToolsetTool"
        }
      },
      "id": "ToolCall"
    },
    "PythonCodeCondition": {
      "description": "Python code block to evaluate the condition.",
      "type": "object",
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute.",
          "type": "string"
        }
      },
      "id": "PythonCodeCondition"
    },
    "TransferRuleDisablePlannerTransfer": {
      "id": "TransferRuleDisablePlannerTransfer",
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "type": "object",
      "properties": {
        "expressionCondition": {
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent.",
          "$ref": "ExpressionCondition"
        }
      }
    },
    "ToolFakeConfig": {
      "id": "ToolFakeConfig",
      "description": "Configuration for tool behavior in fake mode.",
      "type": "object",
      "properties": {
        "enableFakeMode": {
          "description": "Optional. Whether the tool is using fake mode.",
          "type": "boolean"
        },
        "codeBlock": {
          "$ref": "CodeBlock",
          "description": "Optional. Code block which will be executed instead of a real tool call."
        }
      }
    },
    "BargeInConfig": {
      "description": "Configuration for how the user barge-in activities should be handled.",
      "type": "object",
      "properties": {
        "bargeInAwareness": {
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually.",
          "type": "boolean"
        },
        "disableBargeIn": {
          "description": "Optional. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "id": "BargeInConfig"
    },
    "GenerateAppResourceRequest": {
      "id": "GenerateAppResourceRequest",
      "description": "Request message for AgentService.GenerateAppResource.",
      "type": "object",
      "properties": {
        "agent": {
          "$ref": "Agent",
          "description": "The agent resource to be used by the LLM assistant, can be empty for generating a new agent."
        },
        "tool": {
          "description": "The tool resource to be used by the LLM assistant, can be empty for generating a new tool.",
          "$ref": "Tool"
        },
        "evaluationGenerationConfig": {
          "description": "Optional. The configuration to be used to generate the evaluations.",
          "$ref": "GenerateAppResourceRequestEvaluationGenerationConfig"
        },
        "evaluationPersonasGenerationConfig": {
          "$ref": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig",
          "description": "Optional. The configuration to be used to generate the evaluation personas."
        },
        "qualityReportGenerationConfig": {
          "description": "Optional. The configuration to be used for quality report generation.",
          "$ref": "GenerateAppResourceRequestQualityReportGenerationConfig"
        },
        "appGenerationConfig": {
          "$ref": "GenerateAppResourceRequestAppGenerationConfig",
          "description": "Optional. The configuration to be used to generate the agents and tools."
        },
        "toolset": {
          "$ref": "Toolset",
          "description": "The toolset resource to be used by the LLM assistant, can be empty for generating a new toolset."
        },
        "appVersionContext": {
          "$ref": "GenerateAppResourceRequestAppVersionContext",
          "description": "The app version context specifying the base snapshot and target agent."
        },
        "toolGenerationConfig": {
          "description": "Optional. The configuration to be used to generate the tool.",
          "$ref": "GenerateAppResourceRequestToolGenerationConfig"
        },
        "refineInstructions": {
          "description": "Optional. List of refine instructions to be used to refine the resource.",
          "type": "array",
          "items": {
            "$ref": "GenerateAppResourceRequestRefineInstructions"
          }
        },
        "hillClimbingFixConfig": {
          "$ref": "GenerateAppResourceRequestHillClimbingFixConfig",
          "description": "Optional. The configuration to be used for hill climbing fixes."
        }
      }
    },
    "GenerateAppResourceRequestRefineInstructions": {
      "id": "GenerateAppResourceRequestRefineInstructions",
      "description": "The instructions to be used to refine a part of the resource. The part of the resource can be specified with a start index, end index and a field mask. For example, if you want to refine a part of the agent instructions you can specify the index of the first character of the instructions, the index of the last character of the instructions and the field mask as \"instructions\".",
      "type": "object",
      "properties": {
        "endIndex": {
          "description": "Required. The last character (inclusive) of the text to refine.",
          "type": "string",
          "format": "int64"
        },
        "instructions": {
          "description": "Required. The instructions to refine the resource.",
          "type": "string"
        },
        "fieldMask": {
          "description": "Required. The field of the resource being refined. Only one field is allowed per RefineInstructions. If refining agent instructions, the field mask should be \"instructions\".",
          "type": "string",
          "format": "google-fieldmask"
        },
        "startIndex": {
          "description": "Required. The first character (inclusive) of the text to refine.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SecuritySettings": {
      "id": "SecuritySettings",
      "description": "Project/Location level security settings for CES.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`",
          "type": "string"
        },
        "endpointControlPolicy": {
          "description": "Optional. Endpoint control related settings.",
          "$ref": "EndpointControlPolicy"
        },
        "createTime": {
          "description": "Output only. Create time of the security settings.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. Etag of the security settings.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Last update time of the security settings.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "FileContextFileBytes": {
      "description": "File provided as raw bytes.",
      "type": "object",
      "properties": {
        "data": {
          "description": "Required. Raw bytes of the file.",
          "type": "string",
          "format": "byte"
        },
        "fileName": {
          "description": "Required. The name of the file provided as raw bytes.",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      },
      "id": "FileContextFileBytes"
    },
    "ListExamplesResponse": {
      "id": "ListExamplesResponse",
      "description": "Response message for AgentService.ListExamples.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "examples": {
          "description": "The list of examples.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        }
      }
    },
    "ExportEvaluationRunsResponse": {
      "description": "Response message for EvaluationService.ExportEvaluationRuns.",
      "type": "object",
      "properties": {
        "evaluationRunsContent": {
          "description": "The content of the exported Evaluation Runs. This will be populated if gcs_uri was not specified in the request.",
          "type": "string",
          "format": "byte"
        },
        "evaluationRunsUri": {
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Runs were written. This will be populated if gcs_uri was specified in the request.",
          "type": "string"
        }
      },
      "id": "ExportEvaluationRunsResponse"
    },
    "EvaluationPersonaSpeechConfig": {
      "description": "Configuration for Text-to-Speech generation.",
      "type": "object",
      "properties": {
        "voiceId": {
          "description": "Optional. The specific voice identifier/accent to use. Example: \"en-US-Wavenet-D\" or \"en-GB-Standard-A\"",
          "type": "string"
        },
        "environment": {
          "description": "Optional. The simulated audio environment.",
          "type": "string",
          "enumDescriptions": [
            "Background environment unspecified.",
            "Call center environment.",
            "Traffic noise environment.",
            "Kids noise environment.",
            "Cafe environment."
          ],
          "enum": [
            "BACKGROUND_ENVIRONMENT_UNSPECIFIED",
            "CALL_CENTER",
            "TRAFFIC",
            "KIDS_NOISE",
            "CAFE"
          ]
        },
        "speakingRate": {
          "description": "Optional. The speaking rate. 1.0 is normal. Lower is slower (e.g., 0.8), higher is faster (e.g., 1.5). Useful for testing how the agent handles fast talkers.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "EvaluationPersonaSpeechConfig"
    },
    "OpenApiTool": {
      "id": "OpenApiTool",
      "description": "A remote API tool defined by an OpenAPI schema.",
      "type": "object",
      "properties": {
        "openApiSchema": {
          "description": "Required. The OpenAPI schema in JSON or YAML format.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust."
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`.",
          "type": "string"
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`.",
          "type": "string"
        }
      }
    },
    "EndpointControlPolicy": {
      "id": "EndpointControlPolicy",
      "description": "Defines project/location level endpoint control policy.",
      "type": "object",
      "properties": {
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enforcementScope": {
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ],
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ]
        }
      }
    },
    "LatencyReport": {
      "id": "LatencyReport",
      "description": "Latency report for the evaluation run.",
      "type": "object",
      "properties": {
        "llmCallLatencies": {
          "description": "Output only. Unordered list. Latency metrics for each LLM call.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "LatencyReportLlmCallLatency"
          }
        },
        "toolLatencies": {
          "description": "Output only. Unordered list. Latency metrics for each tool.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "LatencyReportToolLatency"
          }
        },
        "callbackLatencies": {
          "description": "Output only. Unordered list. Latency metrics for each callback.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "LatencyReportCallbackLatency"
          }
        },
        "sessionCount": {
          "description": "Output only. The total number of sessions considered in the latency report.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "guardrailLatencies": {
          "items": {
            "$ref": "LatencyReportGuardrailLatency"
          },
          "readOnly": true,
          "description": "Output only. Unordered list. Latency metrics for each guardrail.",
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "AggregatedMetricsMetricsByTurn": {
      "id": "AggregatedMetricsMetricsByTurn",
      "description": "Metrics aggregated per turn.",
      "type": "object",
      "properties": {
        "toolMetrics": {
          "description": "Output only. Metrics for each tool within this turn.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          }
        },
        "hallucinationMetrics": {
          "description": "Output only. Metrics for hallucination within this turn.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          }
        },
        "turnIndex": {
          "readOnly": true,
          "description": "Output only. The turn index (0-based).",
          "type": "integer",
          "format": "int32"
        },
        "semanticSimilarityMetrics": {
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          },
          "description": "Output only. Metrics for semantic similarity within this turn.",
          "type": "array",
          "readOnly": true
        },
        "toolCallLatencyMetrics": {
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          },
          "description": "Output only. Metrics for tool call latency within this turn.",
          "type": "array",
          "readOnly": true
        },
        "turnLatencyMetrics": {
          "readOnly": true,
          "description": "Output only. Metrics for turn latency within this turn.",
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          }
        }
      }
    },
    "MetricAnalysisSettings": {
      "id": "MetricAnalysisSettings",
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline.",
      "type": "object",
      "properties": {
        "llmMetricsOptedOut": {
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected.",
          "type": "boolean"
        }
      }
    },
    "ErrorHandlingSettings": {
      "id": "ErrorHandlingSettings",
      "description": "Settings to describe how errors should be handled in the app.",
      "type": "object",
      "properties": {
        "fallbackResponseConfig": {
          "description": "Optional. Configuration for handling fallback responses.",
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig"
        },
        "errorHandlingStrategy": {
          "description": "Optional. The strategy to use for error handling.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ],
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ]
        },
        "endSessionConfig": {
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors).",
          "$ref": "ErrorHandlingSettingsEndSessionConfig"
        }
      }
    },
    "AmbientSoundConfig": {
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string"
        },
        "prebuiltAmbientSound": {
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\"",
          "type": "string"
        },
        "prebuiltAmbientNoise": {
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`."
        },
        "volumeGainDb": {
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "AmbientSoundConfig"
    },
    "RunEvaluationResultMetricsResponse": {
      "id": "RunEvaluationResultMetricsResponse",
      "description": "Response message for EvaluationService.RunEvaluationResultMetrics.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Output only. The status of the evaluation result metrics calculation.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ]
        }
      }
    },
    "LatencyReportToolLatency": {
      "description": "Latency metrics for a single tool.",
      "type": "object",
      "properties": {
        "latencyMetrics": {
          "readOnly": true,
          "$ref": "LatencyReportLatencyMetrics",
          "description": "Output only. The latency metrics for the tool."
        },
        "toolsetTool": {
          "readOnly": true,
          "$ref": "ToolsetTool",
          "description": "Output only. The toolset tool identifier."
        },
        "toolDisplayName": {
          "description": "Output only. The display name of the tool.",
          "type": "string",
          "readOnly": true
        },
        "tool": {
          "description": "Output only. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "LatencyReportToolLatency"
    },
    "AggregatedMetricsHallucinationMetrics": {
      "description": "Metrics for hallucination results.",
      "type": "object",
      "properties": {
        "score": {
          "readOnly": true,
          "description": "Output only. The average hallucination score (0 to 1).",
          "type": "number",
          "format": "float"
        }
      },
      "id": "AggregatedMetricsHallucinationMetrics"
    },
    "TlsConfigCaCert": {
      "id": "TlsConfigCaCert",
      "description": "The CA certificate.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        },
        "cert": {
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "description": "Settings for golden evaluations.",
      "type": "object",
      "properties": {
        "turnLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. The turn level metrics thresholds."
        },
        "expectationLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. The expectation level metrics thresholds."
        },
        "toolMatchingSettings": {
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings",
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation."
        }
      }
    },
    "CloudLoggingSettings": {
      "id": "CloudLoggingSettings",
      "description": "Settings to describe the Cloud Logging behaviors for the app.",
      "type": "object",
      "properties": {
        "enableCloudLogging": {
          "description": "Optional. Whether to enable Cloud Logging for the sessions.",
          "type": "boolean"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "type": "object",
      "properties": {
        "subject": {
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "issuer": {
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "clientKey": {
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      }
    },
    "EvaluationResultToolCallLatency": {
      "id": "EvaluationResultToolCallLatency",
      "description": "The latency of a tool call execution.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the tool.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The start time of the tool call execution.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The end time of the tool call execution.",
          "type": "string",
          "format": "google-datetime"
        },
        "tool": {
          "readOnly": true,
          "description": "Output only. The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`.",
          "type": "string"
        },
        "executionLatency": {
          "description": "Output only. The latency of the tool call execution.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        }
      }
    },
    "EvaluationResultGoldenExpectationOutcome": {
      "description": "Specifies the expectation and the result of that expectation.",
      "type": "object",
      "properties": {
        "semanticSimilarityResult": {
          "readOnly": true,
          "$ref": "EvaluationResultSemanticSimilarityResult",
          "description": "Output only. The result of the semantic similarity check.",
          "deprecated": true
        },
        "observedToolCall": {
          "description": "Output only. The result of the tool call expectation.",
          "readOnly": true,
          "$ref": "ToolCall"
        },
        "expectation": {
          "readOnly": true,
          "$ref": "EvaluationGoldenExpectation",
          "description": "Output only. The expectation that was evaluated."
        },
        "observedPayload": {
          "readOnly": true,
          "description": "Output only. An observed custom payload. There are no expectations for custom payloads. This is only used for metrics calculation. The outcome is always SKIPPED.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "outcome": {
          "type": "string",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true,
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "description": "Output only. The outcome of the expectation."
        },
        "observedAgentResponse": {
          "description": "Output only. The result of the agent response expectation.",
          "readOnly": true,
          "$ref": "Message"
        },
        "observedToolResponse": {
          "description": "Output only. The result of the tool response expectation.",
          "readOnly": true,
          "$ref": "ToolResponse"
        },
        "toolInvocationResult": {
          "readOnly": true,
          "$ref": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
          "description": "Output only. The result of the tool invocation check."
        },
        "observedAgentTransfer": {
          "readOnly": true,
          "$ref": "AgentTransfer",
          "description": "Output only. The result of the agent transfer expectation."
        }
      },
      "id": "EvaluationResultGoldenExpectationOutcome"
    },
    "LfA2aV1APIKeySecurityScheme": {
      "id": "LfA2aV1APIKeySecurityScheme",
      "description": "Defines a security scheme using an API key.",
      "type": "object",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the header, query, or cookie parameter to be used.",
          "type": "string"
        },
        "location": {
          "description": "Required. The location of the API key. Valid values are \"query\", \"header\", or \"cookie\".",
          "type": "string"
        }
      }
    },
    "GenerateEvaluationOperationMetadata": {
      "description": "Operation metadata for EvaluationService.GenerateEvaluation.",
      "type": "object",
      "properties": {},
      "id": "GenerateEvaluationOperationMetadata"
    },
    "ApiKeyConfig": {
      "description": "Configurations for authentication with API key.",
      "type": "object",
      "properties": {
        "keyName": {
          "description": "Required. The parameter name or the header name of the API key. E.g., If the API request is \"https://example.com/act?X-Api-Key=\", \"X-Api-Key\" would be the parameter name.",
          "type": "string"
        },
        "apiKeySecretVersion": {
          "description": "Required. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "requestLocation": {
          "description": "Required. Key location in the request.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value should not be used.",
            "Represents the key in http header.",
            "Represents the key in query string."
          ],
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ]
        }
      },
      "id": "ApiKeyConfig"
    },
    "EvaluationMetricsThresholds": {
      "description": "Threshold settings for metrics in an Evaluation.",
      "type": "object",
      "properties": {
        "goldenEvaluationMetricsThresholds": {
          "description": "Optional. The golden evaluation metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
        },
        "hallucinationMetricBehavior": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations."
        },
        "goldenHallucinationMetricBehavior": {
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "scenarioHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        }
      },
      "id": "EvaluationMetricsThresholds"
    },
    "RetrieveToolSchemaRequest": {
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "type": "object",
      "properties": {
        "toolsetTool": {
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        }
      },
      "id": "RetrieveToolSchemaRequest"
    },
    "BearerTokenConfig": {
      "description": "Configurations for authentication with a bearer token.",
      "type": "object",
      "properties": {
        "token": {
          "description": "Required. The bearer token. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "id": "BearerTokenConfig"
    },
    "EvaluationGoldenTurn": {
      "id": "EvaluationGoldenTurn",
      "description": "A golden turn defines a single turn in a golden conversation.",
      "type": "object",
      "properties": {
        "turnLevelMetricsThresholdsOverride": {
          "description": "Optional. Overrides for turn-level metric thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "hallucinationMetricBehaviorOverride": {
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. Override for turn-level hallucination metric behavior.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "rootSpan": {
          "$ref": "Span",
          "description": "Optional. The root span of the golden turn for processing and maintaining audio information. The uri for the audio must contain audio saved in 16Khz sample rate."
        },
        "steps": {
          "description": "Required. The steps required to replay a golden conversation.",
          "type": "array",
          "items": {
            "$ref": "EvaluationStep"
          }
        }
      }
    },
    "GenerateAppResourceRequestEvaluationGenerationConfig": {
      "description": "The configuration to be used to generate the evaluations.",
[...]
