{
  "title": "Gemini Enterprise for Customer Experience API",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "baseUrl": "https://ces.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Customer Engagement Suite",
  "schemas": {
    "EvaluationResultHallucinationResult": {
      "description": "The result of the hallucination check for a single turn.",
      "properties": {
        "score": {
          "description": "Output only. The hallucination score. Can be -1, 0, 1.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "label": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The label associated with each score. Score 1: Justified Score 0: Not Justified Score -1: No Claim To Assess"
        },
        "explanation": {
          "description": "Output only. The explanation for the hallucination score.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "EvaluationResultHallucinationResult"
    },
    "LfA2aV1Part": {
      "id": "LfA2aV1Part",
      "description": "`Part` represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON).",
      "properties": {
        "raw": {
          "type": "string",
          "description": "The `raw` byte content of a file. In JSON serialization, this is encoded as a base64 string.",
          "format": "byte"
        },
        "data": {
          "type": "any",
          "description": "Arbitrary structured `data` as a JSON value (object, array, string, number, boolean, or null)."
        },
        "text": {
          "type": "string",
          "description": "The string content of the `text` part."
        },
        "mediaType": {
          "description": "The `media_type` (MIME type) of the part content (e.g., \"text/plain\", \"application/json\", \"image/png\"). This field is available for all part types.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. metadata associated with this part."
        },
        "url": {
          "type": "string",
          "description": "A `url` pointing to the file's content."
        },
        "filename": {
          "type": "string",
          "description": "An optional `filename` for the file (e.g., \"document.pdf\")."
        }
      },
      "type": "object"
    },
    "InputAudioConfig": {
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "properties": {
        "sampleRateHertz": {
          "type": "integer",
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "format": "int32"
        },
        "noiseSuppressionLevel": {
          "type": "string",
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
        },
        "audioEncoding": {
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "type": "string",
          "description": "Required. The encoding of the input audio data.",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ]
        }
      },
      "type": "object",
      "id": "InputAudioConfig"
    },
    "GenerateAppResourceRequest": {
      "id": "GenerateAppResourceRequest",
      "description": "Request message for AgentService.GenerateAppResource.",
      "properties": {
        "appVersionContext": {
          "$ref": "GenerateAppResourceRequestAppVersionContext",
          "description": "The app version context specifying the base snapshot and target agent."
        },
        "qualityReportGenerationConfig": {
          "description": "Optional. The configuration to be used for quality report generation.",
          "$ref": "GenerateAppResourceRequestQualityReportGenerationConfig"
        },
        "toolset": {
          "$ref": "Toolset",
          "description": "The toolset resource to be used by the LLM assistant, can be empty for generating a new toolset."
        },
        "toolGenerationConfig": {
          "$ref": "GenerateAppResourceRequestToolGenerationConfig",
          "description": "Optional. The configuration to be used to generate the tool."
        },
        "refineInstructions": {
          "description": "Optional. List of refine instructions to be used to refine the resource.",
          "type": "array",
          "items": {
            "$ref": "GenerateAppResourceRequestRefineInstructions"
          }
        },
        "agent": {
          "description": "The agent resource to be used by the LLM assistant, can be empty for generating a new agent.",
          "$ref": "Agent"
        },
        "hillClimbingFixConfig": {
          "$ref": "GenerateAppResourceRequestHillClimbingFixConfig",
          "description": "Optional. The configuration to be used for hill climbing fixes."
        },
        "tool": {
          "$ref": "Tool",
          "description": "The tool resource to be used by the LLM assistant, can be empty for generating a new tool."
        },
        "evaluationGenerationConfig": {
          "$ref": "GenerateAppResourceRequestEvaluationGenerationConfig",
          "description": "Optional. The configuration to be used to generate the evaluations."
        },
        "appGenerationConfig": {
          "$ref": "GenerateAppResourceRequestAppGenerationConfig",
          "description": "Optional. The configuration to be used to generate the agents and tools."
        },
        "evaluationPersonasGenerationConfig": {
          "description": "Optional. The configuration to be used to generate the evaluation personas.",
          "$ref": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig"
        }
      },
      "type": "object"
    },
    "LfA2aV1SendMessageConfiguration": {
      "id": "LfA2aV1SendMessageConfiguration",
      "description": "Configuration of a send message request.",
      "properties": {
        "returnImmediately": {
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning.",
          "type": "boolean"
        },
        "acceptedOutputModes": {
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "historyLength": {
          "type": "integer",
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit.",
          "format": "int32"
        },
        "taskPushNotificationConfig": {
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request.",
          "$ref": "LfA2aV1TaskPushNotificationConfig"
        }
      },
      "type": "object"
    },
    "CloudLoggingSettings": {
      "id": "CloudLoggingSettings",
      "type": "object",
      "description": "Settings to describe the Cloud Logging behaviors for the app.",
      "properties": {
        "enableCloudLogging": {
          "description": "Optional. Whether to enable Cloud Logging for the sessions.",
          "type": "boolean"
        }
      }
    },
    "WidgetTool": {
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent.",
      "properties": {
        "dataMapping": {
          "$ref": "WidgetToolDataMapping",
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the widget tool."
        },
        "uiConfig": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Configuration for rendering the widget."
        },
        "textResponseConfig": {
          "description": "Optional. Configuration for always-included text responses.",
          "$ref": "WidgetToolTextResponseConfig"
        },
        "widgetType": {
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED.",
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ]
        },
        "parameters": {
          "description": "Optional. The input parameters of the widget tool.",
          "$ref": "Schema"
        },
        "name": {
          "description": "Required. The display name of the widget tool.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WidgetTool"
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Response message for AgentService.ListDeployments.",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "AggregatedMetricsToolCallLatencyMetrics": {
      "id": "AggregatedMetricsToolCallLatencyMetrics",
      "type": "object",
      "description": "Metrics for tool call latency.",
      "properties": {
        "tool": {
          "description": "Output only. The name of the tool.",
          "readOnly": true,
          "type": "string"
        },
        "averageLatency": {
          "description": "Output only. The average latency of the tool calls.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "EvaluationGoldenTurn": {
      "type": "object",
      "description": "A golden turn defines a single turn in a golden conversation.",
      "properties": {
        "rootSpan": {
          "$ref": "Span",
          "description": "Optional. The root span of the golden turn for processing and maintaining audio information. The uri for the audio must contain audio saved in 16Khz sample rate."
        },
        "turnLevelMetricsThresholdsOverride": {
          "description": "Optional. Overrides for turn-level metric thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "hallucinationMetricBehaviorOverride": {
          "description": "Optional. Override for turn-level hallucination metric behavior.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "EvaluationStep"
          },
          "description": "Required. The steps required to replay a golden conversation."
        }
      },
      "id": "EvaluationGoldenTurn"
    },
    "EvaluationMetricsConfigScenarioMetricsConfig": {
      "id": "EvaluationMetricsConfigScenarioMetricsConfig",
      "type": "object",
      "description": "Configuration for the scenario metrics for the evaluation.",
      "properties": {
        "userGoalMetMetricsConfig": {
          "$ref": "EvaluationMetricsConfigUserGoalMetMetricsConfig",
          "description": "Optional. Configuration for user goal met metrics."
        },
        "expectationsMetMetricsConfig": {
          "$ref": "EvaluationMetricsConfigExpectationsMetMetricsConfig",
          "description": "Optional. Configuration for expectation level metrics."
        }
      }
    },
    "TriggerActionTransferAgent": {
      "id": "TriggerActionTransferAgent",
      "description": "The agent will transfer the conversation to a different agent.",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      },
      "type": "object"
    },
    "UploadEvaluationAudioRequest": {
      "type": "object",
      "description": "Request message for EvaluationService.UploadEvaluationAudio.",
      "properties": {
        "audioContent": {
          "description": "Required. The raw audio bytes. The format of the audio must be single-channel LINEAR16 with a sample rate of 16kHz (default InputAudioConfig).",
          "format": "byte",
          "type": "string"
        },
        "previousAudioGcsUri": {
          "type": "string",
          "description": "Optional. The Google Cloud Storage URI of the previously uploaded audio file to be deleted. Format: `gs:///`"
        }
      },
      "id": "UploadEvaluationAudioRequest"
    },
    "EvaluationPersona": {
      "id": "EvaluationPersona",
      "type": "object",
      "description": "A persona represents an end user in an evaluation.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The description of the persona."
        },
        "displayName": {
          "description": "Required. The display name of the persona. Unique within an app.",
          "type": "string"
        },
        "speechConfig": {
          "$ref": "EvaluationPersonaSpeechConfig",
          "description": "Optional. Configuration for how the persona sounds (TTS settings)."
        },
        "name": {
          "description": "Required. The unique identifier of the persona. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationPersonas/{evaluationPersona}`",
          "type": "string"
        },
        "personality": {
          "description": "Required. An instruction for the agent on how to behave in the evaluation.",
          "type": "string"
        }
      }
    },
    "OpenApiTool": {
      "type": "object",
      "description": "A remote API tool defined by an OpenAPI schema.",
      "properties": {
        "description": {
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        },
        "openApiSchema": {
          "type": "string",
          "description": "Required. The OpenAPI schema in JSON or YAML format."
        },
        "url": {
          "type": "string",
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        }
      },
      "id": "OpenApiTool"
    },
    "DataStoreSettingsEngine": {
      "id": "DataStoreSettingsEngine",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        },
        "type": {
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "type": "string",
          "description": "Output only. The type of the engine."
        }
      },
      "type": "object"
    },
    "RemoteAgentTool": {
      "type": "object",
      "description": "Represents a tool that allows the agent to call another remote agent.",
      "properties": {
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the tool."
        },
        "agentCard": {
          "description": "Required. The agent card of the remote agent that this tool invokes.",
          "$ref": "AgentCard"
        }
      },
      "id": "RemoteAgentTool"
    },
    "ToolCall": {
      "description": "Request for the client or the agent to execute the specified tool.",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the tool."
        },
        "id": {
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse.",
          "type": "string"
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to execute."
        }
      },
      "type": "object",
      "id": "ToolCall"
    },
    "DataStoreToolEngineSource": {
      "type": "object",
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "properties": {
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "engine": {
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        },
        "dataStoreSources": {
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "type": "array",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          }
        }
      },
      "id": "DataStoreToolEngineSource"
    },
    "McpToolset": {
      "id": "McpToolset",
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "properties": {
        "serverAddress": {
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "toolOverrides": {
          "description": "Optional. Overrides for individual tools within this toolset. This allows overriding specific details like descriptions, names, or pinning the tools' states so they aren't fully dynamic.",
          "type": "array",
          "items": {
            "$ref": "McpToolOverride"
          }
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "customHeaders": {
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        }
      },
      "type": "object"
    },
    "LfA2aV1AuthenticationInfo": {
      "description": "Defines authentication details, used for push notifications.",
      "properties": {
        "scheme": {
          "type": "string",
          "description": "Required. HTTP Authentication Scheme from the [IANA registry](https://www.iana.org/assignments/http-authschemes/). Examples: `Bearer`, `Basic`, `Digest`. Scheme names are case-insensitive per [RFC 9110 Section 11.1](https://www.rfc-editor.org/rfc/rfc9110#section-11.1)."
        },
        "credentials": {
          "description": "Push Notification credentials. Format depends on the scheme (e.g., token for Bearer).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LfA2aV1AuthenticationInfo"
    },
    "LfA2aV1SendMessageResponse": {
      "description": "Represents the response for the `SendMessage` method.",
      "properties": {
        "task": {
          "$ref": "LfA2aV1Task",
          "description": "The task created or updated by the message."
        },
        "message": {
          "description": "A message from the agent.",
          "$ref": "LfA2aV1Message"
        }
      },
      "type": "object",
      "id": "LfA2aV1SendMessageResponse"
    },
    "RedactionConfig": {
      "description": "Configuration to instruct how sensitive data should be handled.",
      "properties": {
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        },
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        },
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RedactionConfig"
    },
    "Action": {
      "id": "Action",
      "type": "object",
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details.",
      "properties": {
        "inputFields": {
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectionActionId": {
          "type": "string",
          "description": "ID of a Connection action for the tool to use."
        },
        "outputFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned."
        },
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        }
      }
    },
    "ListEvaluationsResponse": {
      "id": "ListEvaluationsResponse",
      "type": "object",
      "description": "Response message for EvaluationService.ListEvaluations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "evaluations": {
          "description": "The list of evaluations.",
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          }
        }
      }
    },
    "AggregatedMetricsMetricsByTurn": {
      "description": "Metrics aggregated per turn.",
      "properties": {
        "turnLatencyMetrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          },
          "description": "Output only. Metrics for turn latency within this turn."
        },
        "toolMetrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          },
          "description": "Output only. Metrics for each tool within this turn."
        },
        "turnIndex": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The turn index (0-based).",
          "format": "int32"
        },
        "semanticSimilarityMetrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          },
          "description": "Output only. Metrics for semantic similarity within this turn."
        },
        "toolCallLatencyMetrics": {
          "description": "Output only. Metrics for tool call latency within this turn.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          }
        },
        "hallucinationMetrics": {
          "description": "Output only. Metrics for hallucination within this turn.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          }
        }
      },
      "type": "object",
      "id": "AggregatedMetricsMetricsByTurn"
    },
    "ListAppVersionsResponse": {
      "type": "object",
      "description": "Response message for AgentService.ListAppVersions.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "appVersions": {
          "description": "The list of app versions.",
          "type": "array",
          "items": {
            "$ref": "AppVersion"
          }
        }
      },
      "id": "ListAppVersionsResponse"
    },
    "GenerateAppResourceResponseGenerateResultInfo": {
      "description": "This provides additional information about the generated result.",
      "properties": {
        "explanation": {
          "description": "An explanation of the changes in the generated resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenerateAppResourceResponseGenerateResultInfo"
    },
    "EvaluationScenarioUserFact": {
      "type": "object",
      "description": "Facts about the user as a key value pair.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the user fact."
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the user fact."
        }
      },
      "id": "EvaluationScenarioUserFact"
    },
    "SessionOutput": {
      "id": "SessionOutput",
      "description": "Output for the session.",
      "properties": {
        "turnIndex": {
          "type": "integer",
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1.",
          "format": "int32"
        },
        "text": {
          "description": "Output text from the CES agent.",
          "type": "string"
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool.",
          "$ref": "GoogleSearchSuggestions"
        },
        "audio": {
          "description": "Output audio from the CES agent.",
          "format": "byte",
          "type": "string"
        },
        "diagnosticInfo": {
          "$ref": "SessionOutputDiagnosticInfo",
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn."
        },
        "payload": {
          "description": "Custom payload with structured output from the CES agent.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
        "toolCalls": {
          "$ref": "ToolCalls",
          "description": "Request for the client to execute the tools."
        },
        "turnCompleted": {
          "type": "boolean",
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn."
        },
        "context": {
          "description": "Context messages for external supervision guardrails.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "citations": {
          "$ref": "Citations",
          "description": "Citations that provide the source information for the agent's generated text."
        }
      },
      "type": "object"
    },
    "Agent": {
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "properties": {
        "guardrails": {
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "afterToolCallbacks": {
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "childAgents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the agent was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "validationErrors": {
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "description": {
          "description": "Optional. Human-readable description of the agent.",
          "type": "string"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Configurations for the LLM model."
        },
        "beforeModelCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "transferRules": {
          "type": "array",
          "items": {
            "$ref": "TransferRule"
          },
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used."
        },
        "beforeToolCallbacks": {
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "toolsets": {
          "description": "Optional. List of toolsets for the agent.",
          "type": "array",
          "items": {
            "$ref": "AgentAgentToolset"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp when the agent was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "llmAgent": {
          "description": "Optional. The default agent type.",
          "$ref": "AgentLlmAgent"
        },
        "beforeAgentCallbacks": {
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "afterModelCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "afterAgentCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "tools": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the agent."
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        }
      },
      "type": "object",
      "id": "Agent"
    },
    "GoogleSearchTool": {
      "id": "GoogleSearchTool",
      "type": "object",
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the tool."
        },
        "contextUrls": {
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludeDomains": {
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "promptConfig": {
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice.",
          "$ref": "GoogleSearchToolPromptConfig"
        },
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "preferredDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified."
        }
      }
    },
    "OpenApiToolset": {
      "id": "OpenApiToolset",
      "type": "object",
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema.",
      "properties": {
        "url": {
          "type": "string",
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
        },
        "openApiSchema": {
          "type": "string",
          "description": "Required. The OpenAPI schema of the toolset."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "ignoreUnknownFields": {
          "type": "boolean",
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates",
          "$ref": "TlsConfig"
        }
      }
    },
    "ListEvaluationRunsResponse": {
      "id": "ListEvaluationRunsResponse",
      "type": "object",
      "description": "Response message for EvaluationService.ListEvaluationRuns.",
      "properties": {
        "evaluationRuns": {
          "description": "The list of evaluation runs.",
          "type": "array",
          "items": {
            "$ref": "EvaluationRun"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationRunsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "LfA2aV1SecurityRequirement": {
      "description": "Defines the security requirements for an agent.",
      "properties": {
        "schemes": {
          "description": "A map of security schemes to the required scopes.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LfA2aV1StringList"
          }
        }
      },
      "type": "object",
      "id": "LfA2aV1SecurityRequirement"
    },
    "LfA2aV1MutualTlsSecurityScheme": {
      "id": "LfA2aV1MutualTlsSecurityScheme",
      "description": "Defines a security scheme using mTLS authentication.",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LfA2aV1Artifact": {
      "id": "LfA2aV1Artifact",
      "description": "Artifacts represent task outputs.",
      "properties": {
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        },
        "parts": {
          "description": "Required. The content of the artifact. Must contain at least one part.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Artifact."
        },
        "artifactId": {
          "type": "string",
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task."
        },
        "description": {
          "description": "Optional. A human readable description of the artifact.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Metadata included with the artifact."
        }
      },
      "type": "object"
    },
    "GenerateAppResourceRequestEvaluationPersonasGenerationConfig": {
      "id": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig",
      "type": "object",
      "description": "The configuration to be used to generate the evaluation personas.",
      "properties": {}
    },
    "CitationsCitedChunk": {
      "id": "CitationsCitedChunk",
      "description": "Piece of cited information.",
      "properties": {
        "title": {
          "description": "Title of the cited document.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Text used for citation."
        },
        "uri": {
          "description": "URI used for citation.",
          "type": "string"
        },
        "requiresAttribution": {
          "description": "Whether this citation requires attribution to be shown to the end users.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "RetrieveToolSchemaResponse": {
      "description": "Response message for ToolService.RetrieveToolSchema.",
      "properties": {
        "inputSchema": {
          "description": "The schema of the tool input parameters.",
          "$ref": "Schema"
        },
        "tool": {
          "type": "string",
          "description": "The name of the tool that the schema is for. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "outputSchema": {
          "description": "The schema of the tool output parameters.",
          "$ref": "Schema"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "The toolset tool that the schema is for."
        }
      },
      "type": "object",
      "id": "RetrieveToolSchemaResponse"
    },
    "LfA2aV1SendMessageRequest": {
      "id": "LfA2aV1SendMessageRequest",
      "description": "Represents a request for the `SendMessage` method.",
      "properties": {
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "Required. The message to send to the agent."
        },
        "metadata": {
          "description": "A flexible key-value map for passing additional context or parameters.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "configuration": {
          "description": "Configuration for the send request.",
          "$ref": "LfA2aV1SendMessageConfiguration"
        }
      },
      "type": "object"
    },
    "CodeBlock": {
      "id": "CodeBlock",
      "type": "object",
      "description": "A code block to be executed instead of a real tool call.",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead."
        }
      }
    },
    "ScheduledEvaluationRun": {
      "description": "Represents a scheduled evaluation run configuration.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the scheduled evaluation run was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The unique identifier of the scheduled evaluation run config. Format: projects/{projectId}/locations/{locationId}/apps/{appId}/scheduledEvaluationRuns/{scheduledEvaluationRunId}",
          "type": "string"
        },
        "lastUpdatedBy": {
          "description": "Output only. The user who last updated the evaluation.",
          "readOnly": true,
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "description": "Optional. Whether this config is active"
        },
        "displayName": {
          "type": "string",
          "description": "Required. User-defined display name of the scheduled evaluation run config."
        },
        "schedulingConfig": {
          "description": "Required. Configuration for the timing and frequency with which to execute the evaluations.",
          "$ref": "ScheduledEvaluationRunSchedulingConfig"
        },
        "totalExecutions": {
          "description": "Output only. The total number of times this run has been executed",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "request": {
          "description": "Required. The RunEvaluationRequest to schedule",
          "$ref": "RunEvaluationRequest"
        },
        "createdBy": {
          "description": "Output only. The user who created the scheduled evaluation run.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the evaluation was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "lastCompletedRun": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last successful EvaluationRun of this scheduled execution. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`"
        },
        "nextScheduledExecutionTime": {
          "description": "Output only. The next time this is scheduled to execute",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "description": {
          "description": "Optional. User-defined description of the scheduled evaluation run.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ScheduledEvaluationRun"
    },
    "PersonaRunConfig": {
      "id": "PersonaRunConfig",
      "description": "Configuration for running an evaluation for a specific persona.",
      "properties": {
        "taskCount": {
          "type": "integer",
          "description": "Optional. The number of tasks to run for the persona.",
          "format": "int32"
        },
        "persona": {
          "type": "string",
          "description": "Optional. The persona to use for the evaluation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationPersonas/{evaluationPersona}`"
        }
      },
      "type": "object"
    },
    "ToolCalls": {
      "id": "ToolCalls",
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "properties": {
        "toolCalls": {
          "type": "array",
          "items": {
            "$ref": "ToolCall"
          },
          "description": "Optional. The list of tool calls to execute."
        }
      },
      "type": "object"
    },
    "PythonCodeCondition": {
      "id": "PythonCodeCondition",
      "type": "object",
      "description": "Python code block to evaluate the condition.",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. The python code to execute."
        }
      }
    },
    "AgentInterface": {
      "id": "AgentInterface",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "properties": {
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        },
        "tenant": {
          "type": "string",
          "description": "Tenant ID to be used in the request when calling the agent."
        },
        "url": {
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\"",
          "type": "string"
        },
        "protocolBinding": {
          "type": "string",
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`."
        }
      },
      "type": "object"
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "id": "ErrorHandlingSettingsEndSessionConfig",
      "type": "object",
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors).",
      "properties": {
        "escalateSession": {
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details.",
          "type": "boolean"
        }
      }
    },
    "SessionInput": {
      "id": "SessionInput",
      "description": "Input for the session.",
      "properties": {
        "variables": {
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "toolResponses": {
          "description": "Optional. Execution results for the tool calls from the client.",
          "$ref": "ToolResponses"
        },
        "image": {
          "description": "Optional. Image data from the end user.",
          "$ref": "Image"
        },
        "blob": {
          "description": "Optional. Blob data from the end user.",
          "$ref": "Blob"
        },
        "willContinue": {
          "type": "boolean",
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal."
        },
        "audio": {
          "description": "Optional. Audio data from the end user.",
          "format": "byte",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Optional. Text data from the end user."
        },
        "event": {
          "$ref": "Event",
          "description": "Optional. Event input."
        },
        "dtmf": {
          "type": "string",
          "description": "Optional. DTMF digits from the end user."
        }
      },
      "type": "object"
    },
    "EvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholds",
      "description": "Threshold settings for metrics in an Evaluation.",
      "properties": {
        "scenarioHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "goldenHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "goldenEvaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
          "description": "Optional. The golden evaluation metrics thresholds."
        },
        "hallucinationMetricBehavior": {
          "type": "string",
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        }
      },
      "type": "object"
    },
    "ListGuardrailsResponse": {
      "description": "Response message for AgentService.ListGuardrails.",
      "properties": {
        "guardrails": {
          "description": "The list of guardrails.",
          "type": "array",
          "items": {
            "$ref": "Guardrail"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListGuardrailsResponse"
    },
    "ListAgentsResponse": {
      "description": "Response message for AgentService.ListAgents.",
      "properties": {
        "agents": {
          "description": "The list of agents.",
          "type": "array",
          "items": {
            "$ref": "Agent"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAgentsResponse"
    },
    "GenerateAppResourceRequestAppVersionContext": {
      "id": "GenerateAppResourceRequestAppVersionContext",
      "type": "object",
      "description": "The app version context specifying the base snapshot and target agent.",
      "properties": {
        "appVersion": {
          "type": "string",
          "description": "The resource name of the app version to be used by the LLM assistant. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        },
        "agentResourceName": {
          "description": "The resource name of the target agent to be used by the LLM assistant. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      }
    },
    "EvaluationResult": {
      "id": "EvaluationResult",
      "description": "An evaluation result represents the output of running an Evaluation.",
      "properties": {
        "evaluationStatus": {
          "type": "string",
          "description": "Output only. The outcome of the evaluation. Only populated if execution_state is COMPLETE.",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true,
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ]
        },
        "evaluationMetricsThresholds": {
          "description": "Output only. The evaluation thresholds for the result.",
          "readOnly": true,
          "$ref": "EvaluationMetricsThresholds"
        },
        "persona": {
          "description": "Output only. The persona used to generate the conversation for the evaluation result.",
          "readOnly": true,
          "$ref": "EvaluationPersona"
        },
        "scenarioResult": {
          "readOnly": true,
          "$ref": "EvaluationResultScenarioResult",
          "description": "Output only. The outcome of a scenario evaluation."
        },
        "errorInfo": {
          "readOnly": true,
          "$ref": "EvaluationErrorInfo",
          "description": "Output only. Error information for the evaluation result."
        },
        "appVersion": {
          "description": "Output only. The app version used to generate the conversation that resulted in this result. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "readOnly": true,
          "type": "string"
        },
        "evaluationRun": {
          "description": "Output only. The evaluation run that produced this result. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`",
          "readOnly": true,
          "type": "string"
        },
        "goldenRunMethod": {
          "description": "Output only. The method used to run the golden evaluation.",
          "type": "string",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the Evaluation Result. Unique within an Evaluation. By default, it has the following format: \" result - \"."
        },
        "config": {
          "description": "Output only. The configuration used in the evaluation run that resulted in this result.",
          "readOnly": true,
          "$ref": "EvaluationConfig"
        },
        "outcomeMetadata": {
          "readOnly": true,
          "enum": [
            "OUTCOME_METADATA_UNSPECIFIED",
            "GRACEFUL_HANDOFF"
          ],
          "enumDescriptions": [
            "Unspecified outcome metadata.",
            "The evaluation resulted in a graceful handoff to a human representative."
          ],
          "type": "string",
          "description": "Output only. The outcome metadata of the evaluation. Only populated if execution_state is COMPLETE."
        },
        "rootSpan": {
          "readOnly": true,
          "$ref": "Span",
          "description": "Output only. The root span of the evaluation execution, which includes information about each step of the evaluation."
        },
        "goldenResult": {
          "description": "Output only. The outcome of a golden evaluation.",
          "readOnly": true,
          "$ref": "EvaluationResultGoldenResult"
        },
        "initiatedBy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user who initiated the evaluation run that resulted in this result."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the evaluation result was created.",
          "format": "google-datetime"
        },
        "appVersionDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the `app_version` that the evaluation ran against."
        },
        "changelogCreateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The create time of the changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft.",
          "format": "google-datetime"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Deprecated: Use `error_info` instead. Errors encountered during execution.",
          "deprecated": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the evaluation result. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}/results/{result}`"
        },
        "changelog": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft."
        },
        "executionState": {
          "enumDescriptions": [
            "Evaluation result execution state is not specified.",
            "Evaluation result execution is queued.",
            "Evaluation result execution is running.",
            "Evaluation result execution has completed.",
            "Evaluation result execution failed due to an internal error.",
            "Evaluation result execution was cancelled."
          ],
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "COMPLETED",
            "ERROR",
            "CANCELLED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the evaluation result execution.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TriggerAction": {
      "type": "object",
      "description": "Action that is taken when a certain precondition is met.",
      "properties": {
        "transferAgent": {
          "$ref": "TriggerActionTransferAgent",
          "description": "Optional. Transfer the conversation to a different agent."
        },
        "respondImmediately": {
          "description": "Optional. Immediately respond with a preconfigured response.",
          "$ref": "TriggerActionRespondImmediately"
        },
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        }
      },
      "id": "TriggerAction"
    },
    "MetricAnalysisSettings": {
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline.",
      "properties": {
        "llmMetricsOptedOut": {
          "type": "boolean",
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected."
        }
      },
      "type": "object",
      "id": "MetricAnalysisSettings"
    },
    "GoogleSearchToolPromptConfig": {
      "id": "GoogleSearchToolPromptConfig",
      "type": "object",
      "description": "Prompt settings used by the model when processing or summarizing the google search results.",
      "properties": {
        "textPrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used.",
          "type": "string"
        },
        "voicePrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used.",
          "type": "string"
        }
      }
    },
    "Tool": {
      "type": "object",
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "properties": {
        "systemTool": {
          "description": "Optional. The system tool.",
          "$ref": "SystemTool"
        },
        "remoteAgentTool": {
          "$ref": "RemoteAgentTool",
          "description": "Optional. The remote agent tool."
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the tool was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "googleSearchTool": {
          "description": "Optional. The google search tool.",
          "$ref": "GoogleSearchTool"
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tool behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "openApiTool": {
          "$ref": "OpenApiTool",
          "description": "Optional. The open API tool."
        },
        "mcpTool": {
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset.",
          "$ref": "McpTool"
        },
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        },
        "dataStoreTool": {
          "$ref": "DataStoreTool",
          "description": "Optional. The data store tool."
        },
        "clientFunction": {
          "$ref": "ClientFunction",
          "description": "Optional. The client function."
        },
        "agentTool": {
          "description": "Optional. The agent tool.",
          "$ref": "AgentTool"
        },
        "timeout": {
          "type": "string",
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools.",
          "format": "google-duration"
        },
        "executionType": {
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "type": "string",
          "description": "Optional. The execution type of the tool.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the tool was created.",
          "format": "google-datetime"
        },
        "connectorTool": {
          "$ref": "ConnectorTool",
          "description": "Optional. The Integration Connector tool."
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "widgetTool": {
          "$ref": "WidgetTool",
          "description": "Optional. The widget tool."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property."
        }
      },
      "id": "Tool"
    },
    "AppVariableDeclaration": {
      "type": "object",
      "description": "Defines the structure and metadata for a variable.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores."
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the variable."
        },
        "schema": {
          "description": "Required. The schema of the variable.",
          "$ref": "Schema"
        }
      },
      "id": "AppVariableDeclaration"
    },
    "DataStoreToolGroundingConfig": {
      "type": "object",
      "description": "Grounding configuration.",
      "properties": {
        "groundingLevel": {
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned.",
          "format": "float",
          "type": "number"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether grounding is disabled."
        }
      },
      "id": "DataStoreToolGroundingConfig"
    },
    "EvaluationMetricsConfigHallucinationMetricsConfig": {
      "description": "Configuration for the hallucination metrics for the evaluation. To disable the metric, set the message but do not set the `enable_hallucination_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "properties": {
        "enableHallucinationMetrics": {
          "type": "boolean",
          "description": "Optional. Whether to calculate hallucination metrics for the evaluation."
        }
      },
      "type": "object",
      "id": "EvaluationMetricsConfigHallucinationMetricsConfig"
    },
    "LanguageSettings": {
      "id": "LanguageSettings",
      "description": "Language settings of the app.",
      "properties": {
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`."
        },
        "enableMultilingualSupport": {
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input.",
          "type": "boolean"
        },
        "defaultLanguageCode": {
          "description": "Optional. The default language code of the app.",
          "type": "string"
        },
        "fallbackAction": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation."
        }
      },
      "type": "object"
    },
    "LfA2aV1OAuthFlows": {
      "id": "LfA2aV1OAuthFlows",
      "description": "Defines the configuration for the supported OAuth 2.0 flows.",
      "properties": {
        "authorizationCode": {
          "$ref": "LfA2aV1AuthorizationCodeOAuthFlow",
          "description": "Configuration for the OAuth Authorization Code flow."
        },
        "deviceCode": {
          "description": "Configuration for the OAuth Device Code flow.",
          "$ref": "LfA2aV1DeviceCodeOAuthFlow"
        },
        "implicit": {
          "deprecated": true,
          "$ref": "LfA2aV1ImplicitOAuthFlow",
          "description": "Deprecated: Use Authorization Code + PKCE instead."
        },
        "password": {
          "deprecated": true,
          "$ref": "LfA2aV1PasswordOAuthFlow",
          "description": "Deprecated: Use Authorization Code + PKCE or Device Code."
        },
        "clientCredentials": {
          "$ref": "LfA2aV1ClientCredentialsOAuthFlow",
          "description": "Configuration for the OAuth Client Credentials flow."
        }
      },
      "type": "object"
    },
    "DataStoreToolRewriterConfig": {
      "type": "object",
      "description": "Rewriter configuration.",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        },
        "disabled": {
          "description": "Optional. Whether the rewriter is disabled.",
          "type": "boolean"
        },
        "modelSettings": {
          "description": "Required. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        }
      },
      "id": "DataStoreToolRewriterConfig"
    },
    "WidgetToolDataMapping": {
      "id": "WidgetToolDataMapping",
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "properties": {
        "fieldMappings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool."
        },
        "mode": {
          "description": "Optional. The mode of the data mapping.",
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ]
        },
        "pythonScript": {
          "type": "string",
          "description": "Deprecated: Use `python_function` instead.",
          "deprecated": true
        },
        "pythonFunction": {
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format.",
          "$ref": "PythonFunction"
        },
        "sourceToolName": {
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExportEvaluationsResponse": {
      "id": "ExportEvaluationsResponse",
      "type": "object",
      "description": "Response message for EvaluationService.ExportEvaluations.",
      "properties": {
        "evaluationsContent": {
          "type": "string",
          "description": "The content of the exported Evaluations. This will be populated if gcs_uri was not specified in the request.",
          "format": "byte"
        },
        "evaluationsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI folder where the exported evaluations were written. This will be populated if gcs_uri was specified in the request."
        },
        "failedEvaluations": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. A map of evaluation resource names that could not be exported, to the reason why they failed."
        }
      }
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "type": "object",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "attributeType": {
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "type": "string"
        },
        "controlPoints": {
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        },
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "interpolationType": {
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "type": "string",
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "TlsConfig": {
      "id": "TlsConfig",
      "description": "The TLS configuration.",
      "properties": {
        "caCerts": {
          "type": "array",
          "items": {
            "$ref": "TlsConfigCaCert"
          },
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification."
        }
      },
      "type": "object"
    },
    "McpTool": {
      "type": "object",
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details.",
      "properties": {
        "nameOverride": {
          "description": "Optional. The name override of the MCP tool. This is populated if the name was overridden by a Toolset override.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
        },
        "customHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details."
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the MCP tool."
        },
        "serverAddress": {
          "type": "string",
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the MCP tool."
        },
        "inputSchema": {
          "description": "Optional. The schema of the input arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "STALE"
          ],
          "enumDescriptions": [
            "Default state.",
            "The tool is available and actively offered by the server.",
            "The tool is configured or pinned, but currently not offered by the server.",
            "The tool exists on the server, but does not match the version on the server."
          ],
          "type": "string",
          "description": "Output only. The dynamic availability state of the tool on the external server."
        },
        "outputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the output arguments of the MCP tool."
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        }
      },
      "id": "McpTool"
    },
    "LfA2aV1AgentCard": {
      "type": "object",
      "description": "A self-describing manifest for an agent. It provides essential metadata including the agent's identity, capabilities, skills, supported communication methods, and security requirements. Next ID: 20",
      "properties": {
        "capabilities": {
          "$ref": "LfA2aV1AgentCapabilities",
          "description": "Required. A2A Capability set supported by the agent."
        },
        "description": {
          "description": "Required. A human-readable description of the agent, assisting users and other agents in understanding its purpose. Example: \"Agent that helps users with recipes and cooking.\"",
          "type": "string"
        },
        "defaultOutputModes": {
          "description": "Required. The media types supported as outputs from this agent.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "provider": {
          "description": "The service provider of the agent.",
          "$ref": "LfA2aV1AgentProvider"
        },
        "documentationUrl": {
          "type": "string",
          "description": "A URL providing additional documentation about the agent."
        },
        "securityRequirements": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "description": "Security requirements for contacting the agent."
        },
        "supportedInterfaces": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentInterface"
          },
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred."
        },
        "securitySchemes": {
          "description": "The security scheme details used for authenticating with this agent.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LfA2aV1SecurityScheme"
          }
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentCardSignature"
          },
          "description": "JSON Web Signatures computed for this `AgentCard`."
        },
        "version": {
          "type": "string",
          "description": "Required. The version of the agent. Example: \"1.0.0\""
        },
        "defaultInputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as media types."
        },
        "iconUrl": {
          "description": "Optional. A URL to an icon for the agent.",
          "type": "string"
        },
        "name": {
          "description": "Required. A human readable name for the agent. Example: \"Recipe Agent\"",
          "type": "string"
        },
        "skills": {
          "description": "Required. Skills represent the abilities of an agent. It is largely a descriptive concept but represents a more focused set of behaviors that the agent is likely to succeed at.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentSkill"
          }
        }
      },
      "id": "LfA2aV1AgentCard"
    },
    "EndSession": {
      "description": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent.",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Provides additional information about the end session signal, such as the reason for ending the session."
        }
      },
      "type": "object",
      "id": "EndSession"
    },
    "GenerateAppResourceRequestRefineInstructions": {
      "description": "The instructions to be used to refine a part of the resource. The part of the resource can be specified with a start index, end index and a field mask. For example, if you want to refine a part of the agent instructions you can specify the index of the first character of the instructions, the index of the last character of the instructions and the field mask as \"instructions\".",
      "properties": {
        "instructions": {
          "description": "Required. The instructions to refine the resource.",
          "type": "string"
        },
        "endIndex": {
          "type": "string",
          "description": "Required. The last character (inclusive) of the text to refine.",
          "format": "int64"
        },
        "fieldMask": {
          "type": "string",
          "description": "Required. The field of the resource being refined. Only one field is allowed per RefineInstructions. If refining agent instructions, the field mask should be \"instructions\".",
          "format": "google-fieldmask"
        },
        "startIndex": {
          "type": "string",
          "description": "Required. The first character (inclusive) of the text to refine.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GenerateAppResourceRequestRefineInstructions"
    },
    "EvaluationMetricsConfig": {
[...]
