{
  "servicePath": "",
  "discoveryVersion": "v1",
  "canonicalName": "Customer Engagement Suite",
  "name": "ces",
  "basePath": "",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "schemas": {
    "LfA2aV1SendMessageConfiguration": {
      "id": "LfA2aV1SendMessageConfiguration",
      "type": "object",
      "properties": {
        "taskPushNotificationConfig": {
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request.",
          "$ref": "LfA2aV1TaskPushNotificationConfig"
        },
        "historyLength": {
          "type": "integer",
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit.",
          "format": "int32"
        },
        "acceptedOutputModes": {
          "type": "array",
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output.",
          "items": {
            "type": "string"
          }
        },
        "returnImmediately": {
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning.",
          "type": "boolean"
        }
      },
      "description": "Configuration of a send message request."
    },
    "LfA2aV1Task": {
      "id": "LfA2aV1Task",
      "description": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Required. The current status of a `Task`, including `state` and a `message`.",
          "$ref": "LfA2aV1TaskStatus"
        },
        "history": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`.",
          "items": {
            "$ref": "LfA2aV1Message"
          },
          "type": "array"
        },
        "artifacts": {
          "description": "A set of output artifacts for a `Task`.",
          "items": {
            "$ref": "LfA2aV1Artifact"
          },
          "type": "array"
        },
        "contextId": {
          "type": "string",
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages)."
        },
        "id": {
          "type": "string",
          "description": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task.",
          "type": "object"
        }
      }
    },
    "ConnectorTool": {
      "id": "ConnectorTool",
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "type": "object",
      "properties": {
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "name": {
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        },
        "description": {
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "action": {
          "$ref": "Action",
          "description": "Required. Action for the tool to use."
        }
      }
    },
    "BatchDeleteConversationsRequest": {
      "type": "object",
      "properties": {
        "conversations": {
          "description": "Required. The resource names of the conversations to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "id": "BatchDeleteConversationsRequest"
    },
    "GenerateChatTokenResponse": {
      "id": "GenerateChatTokenResponse",
      "description": "Response message for WidgetService.GenerateChatToken.",
      "type": "object",
      "properties": {
        "chatToken": {
          "type": "string",
          "description": "The session scoped token for chat widget to authenticate with Session APIs."
        },
        "expireTime": {
          "description": "The time at which the chat token expires.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Message": {
      "type": "object",
      "properties": {
        "chunks": {
          "type": "array",
          "description": "Optional. Content of the message as a series of chunks.",
          "items": {
            "$ref": "Chunk"
          }
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example."
        },
        "role": {
          "type": "string",
          "description": "Optional. The role within the conversation, e.g., user, agent."
        }
      },
      "description": "A message within a conversation.",
      "id": "Message"
    },
    "CloudLoggingSettings": {
      "id": "CloudLoggingSettings",
      "description": "Settings to describe the Cloud Logging behaviors for the app.",
      "type": "object",
      "properties": {
        "enableCloudLogging": {
          "type": "boolean",
          "description": "Optional. Whether to enable Cloud Logging for the sessions."
        }
      }
    },
    "DataStoreToolBoostSpec": {
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "description": "Required. A list of boosting specifications.",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpec"
          }
        }
      },
      "description": "Boost specification to boost certain documents.",
      "id": "DataStoreToolBoostSpec"
    },
    "ToolCall": {
      "description": "Request for the client or the agent to execute the specified tool.",
      "type": "object",
      "properties": {
        "args": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "type": "object"
        },
        "id": {
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse.",
          "type": "string"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the tool."
        }
      },
      "id": "ToolCall"
    },
    "TriggerActionGenerativeAnswer": {
      "description": "The agent will immediately respond with a generative answer.",
      "type": "object",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Required. The prompt to use for the generative answer."
        }
      },
      "id": "TriggerActionGenerativeAnswer"
    },
    "SynthesizeSpeechConfig": {
      "id": "SynthesizeSpeechConfig",
      "description": "Configuration for how the agent response should be synthesized.",
      "type": "object",
      "properties": {
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        },
        "speakingRate": {
          "type": "number",
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "format": "double"
        }
      }
    },
    "ExperimentConfigVersionRelease": {
      "id": "ExperimentConfigVersionRelease",
      "description": "Version release for the experiment.",
      "type": "object",
      "properties": {
        "trafficAllocations": {
          "description": "Optional. Traffic allocations for the version release.",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Pending state. Experiment is pending and not valid.",
            "Running state. Experiment is running and valid.",
            "Done state. Experiment is done and no longer valid.",
            "Expired state. Experiment is expired and no longer valid."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ],
          "type": "string",
          "description": "Optional. State of the version release."
        }
      }
    },
    "ListExamplesResponse": {
      "id": "ListExamplesResponse",
      "description": "Response message for AgentService.ListExamples.",
      "type": "object",
      "properties": {
        "examples": {
          "description": "The list of examples.",
          "items": {
            "$ref": "Example"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ExecuteToolRequest": {
      "description": "Request message for ToolService.ExecuteTool.",
      "type": "object",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}"
        },
        "variables": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The variables that are available for the tool execution.",
          "type": "object"
        },
        "context": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool."
        },
        "args": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "type": "object"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        },
        "mockConfig": {
          "$ref": "MockConfig",
          "description": "Optional. Mock configuration for the tool execution. If this field is set, tools that call other tools will be mocked based on the provided patterns and responses."
        }
      },
      "id": "ExecuteToolRequest"
    },
    "MockConfig": {
      "id": "MockConfig",
      "type": "object",
      "properties": {
        "mockedToolCalls": {
          "description": "Optional. All tool calls to mock for the duration of the session.",
          "items": {
            "$ref": "MockedToolCall"
          },
          "type": "array"
        },
        "unmatchedToolCallBehavior": {
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls.",
          "type": "string"
        }
      },
      "description": "Mock tool calls configuration for the session."
    },
    "WebSearchQuery": {
      "description": "Represents a single web search query and its associated search uri.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The URI to the Google Search results page for the query.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "The search query text."
        }
      },
      "id": "WebSearchQuery"
    },
    "Guardrail": {
      "type": "object",
      "properties": {
        "action": {
          "description": "Optional. Action to take when the guardrail is triggered.",
          "$ref": "TriggerAction"
        },
        "contentFilter": {
          "$ref": "GuardrailContentFilter",
          "description": "Optional. Guardrail that bans certain content from being used in the conversation."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether the guardrail is enabled."
        },
        "llmPolicy": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
          "$ref": "GuardrailLlmPolicy"
        },
        "codeCallback": {
          "$ref": "GuardrailCodeCallback",
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was created.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the guardrail.",
          "type": "string"
        },
        "llmPromptSecurity": {
          "$ref": "GuardrailLlmPromptSecurity",
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "modelSafety": {
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings.",
          "$ref": "GuardrailModelSafety"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the guardrail."
        }
      },
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure.",
      "id": "Guardrail"
    },
    "ClientFunction": {
      "id": "ClientFunction",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Optional. The schema of the function parameters.",
          "$ref": "Schema"
        },
        "name": {
          "type": "string",
          "description": "Required. The function name."
        },
        "description": {
          "type": "string",
          "description": "Optional. The function description."
        },
        "response": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function response."
        }
      },
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent."
    },
    "ImportAppRequestImportOptions": {
      "id": "ImportAppRequestImportOptions",
      "type": "object",
      "properties": {
        "conflictResolutionStrategy": {
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ],
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "type": "string"
        }
      },
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data."
    },
    "EndUserAuthConfig": {
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`.",
      "type": "object",
      "properties": {
        "oauth2JwtBearerConfig": {
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig",
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication."
        },
        "oauth2AuthCodeConfig": {
          "description": "Oauth 2.0 Authorization Code authentication.",
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig"
        }
      },
      "id": "EndUserAuthConfig"
    },
    "BearerTokenConfig": {
      "type": "object",
      "properties": {
        "token": {
          "description": "Required. The bearer token. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "description": "Configurations for authentication with a bearer token.",
      "id": "BearerTokenConfig"
    },
    "AgentRemoteDialogflowAgent": {
      "id": "AgentRemoteDialogflowAgent",
      "type": "object",
      "properties": {
        "flowId": {
          "description": "Optional. The flow ID of the flow in the Dialogflow agent.",
          "type": "string"
        },
        "environmentId": {
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used.",
          "type": "string"
        },
        "inputVariableMapping": {
          "type": "object",
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "agent": {
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "outputVariableMapping": {
          "type": "object",
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "respectResponseInterruptionSettings": {
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings.",
          "type": "boolean"
        },
        "languageCodeVariable": {
          "type": "string",
          "description": "Optional. The name of the variable that contains the language code to be used for the Dialogflow session. If unspecified, the default language code of the Dialogflow agent will be used."
        }
      },
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "Changelog": {
      "id": "Changelog",
      "description": "Changelogs represent a change made to the app or to an resource within the app.",
      "type": "object",
      "properties": {
        "newResource": {
          "description": "Output only. The new resource after the change.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "author": {
          "description": "Output only. Email address of the change author.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed."
        },
        "dependentResources": {
          "description": "Output only. The dependent resources that were changed.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "readOnly": true,
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the change was made.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource."
        },
        "action": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The action that was performed on the resource."
        },
        "originalResource": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. The original resource before the change."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`"
        },
        "resource": {
          "description": "Output only. The resource that was changed.",
          "readOnly": true,
          "type": "string"
        },
        "resourceType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the resource that was changed."
        },
        "sequenceNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "format": "int64"
        }
      }
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "description": "Security settings for the web widget.",
      "type": "object",
      "properties": {
        "enablePublicAccess": {
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent.",
          "type": "boolean"
        },
        "enableOriginCheck": {
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins.",
          "type": "boolean"
        },
        "enableRecaptcha": {
          "type": "boolean",
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled."
        },
        "allowedOrigins": {
          "type": "array",
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ChannelProfileWebWidgetConfigSecuritySettings"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status"
    },
    "Deployment": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the deployment."
        },
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this deployment was created."
        },
        "experimentConfig": {
          "$ref": "ExperimentConfig",
          "description": "Optional. Experiment configuration for the deployment."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this deployment was last updated.",
          "format": "google-datetime"
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "id": "Deployment"
    },
    "LfA2aV1Artifact": {
      "id": "LfA2aV1Artifact",
      "description": "Artifacts represent task outputs.",
      "type": "object",
      "properties": {
        "artifactId": {
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task.",
          "type": "string"
        },
        "parts": {
          "type": "array",
          "description": "Required. The content of the artifact. Must contain at least one part.",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        },
        "metadata": {
          "type": "object",
          "description": "Optional. Metadata included with the artifact.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "description": {
          "description": "Optional. A human readable description of the artifact.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "A human readable name for the artifact."
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AgentSkill": {
      "description": "Represents a distinct capability or function that an agent can perform.",
      "type": "object",
      "properties": {
        "inputModes": {
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "tags": {
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "outputModes": {
          "type": "array",
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        }
      },
      "id": "AgentSkill"
    },
    "LfA2aV1SendMessageRequest": {
      "id": "LfA2aV1SendMessageRequest",
      "description": "Represents a request for the `SendMessage` method.",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "Required. The message to send to the agent."
        },
        "configuration": {
          "description": "Configuration for the send request.",
          "$ref": "LfA2aV1SendMessageConfiguration"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "A flexible key-value map for passing additional context or parameters."
        }
      }
    },
    "GuardrailCodeCallback": {
      "type": "object",
      "properties": {
        "afterAgentCallback": {
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeAgentCallback": {
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "afterModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "beforeModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        }
      },
      "description": "Guardrail that blocks the conversation based on the code callbacks provided.",
      "id": "GuardrailCodeCallback"
    },
    "AgentCard": {
      "id": "AgentCard",
      "type": "object",
      "properties": {
        "supportedInterfaces": {
          "type": "array",
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "items": {
            "$ref": "AgentInterface"
          }
        },
        "version": {
          "type": "string",
          "description": "Required. The version of the agent."
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the agent."
        },
        "description": {
          "description": "Required. A description of the agent's domain of action/solution space.",
          "type": "string"
        },
        "skills": {
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "items": {
            "$ref": "AgentSkill"
          },
          "type": "array"
        }
      },
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard"
    },
    "DataStoreToolGroundingConfig": {
      "id": "DataStoreToolGroundingConfig",
      "description": "Grounding configuration.",
      "type": "object",
      "properties": {
        "groundingLevel": {
          "format": "float",
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned.",
          "type": "number"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether grounding is disabled."
        }
      }
    },
    "ApiAuthentication": {
      "type": "object",
      "properties": {
        "serviceAgentIdTokenAuthConfig": {
          "$ref": "ServiceAgentIdTokenAuthConfig",
          "description": "Optional. Config for ID token auth generated from CES service agent."
        },
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        },
        "bearerTokenConfig": {
          "$ref": "BearerTokenConfig",
          "description": "Optional. Config for bearer token auth."
        },
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Optional. Config for OAuth."
        },
        "serviceAccountAuthConfig": {
          "$ref": "ServiceAccountAuthConfig",
          "description": "Optional. Config for service account authentication."
        }
      },
      "description": "Authentication information required for API calls.",
      "id": "ApiAuthentication"
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "type": "object",
      "properties": {
        "condition": {
          "type": "string",
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))"
        },
        "boost": {
          "format": "float",
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "type": "number"
        },
        "boostControlSpec": {
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value."
        }
      },
      "description": "Boost specification for a condition."
    },
    "Event": {
      "id": "Event",
      "description": "Event input.",
      "type": "object",
      "properties": {
        "event": {
          "type": "string",
          "description": "Required. The name of the event."
        }
      }
    },
    "LfA2aV1TaskStatus": {
      "id": "LfA2aV1TaskStatus",
      "description": "A container for the status of a task",
      "type": "object",
      "properties": {
        "state": {
          "description": "Required. The current state of this task.",
          "type": "string",
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ]
        },
        "message": {
          "description": "A message associated with the status.",
          "$ref": "LfA2aV1Message"
        },
        "timestamp": {
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "AudioProcessingConfig": {
      "id": "AudioProcessingConfig",
      "type": "object",
      "properties": {
        "bargeInConfig": {
          "description": "Optional. Configures the agent behavior for the user barge-in activities.",
          "$ref": "BargeInConfig"
        },
        "inactivityTimeout": {
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement.",
          "type": "string",
          "format": "google-duration"
        },
        "ambientSoundConfig": {
          "$ref": "AmbientSoundConfig",
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
        },
        "synthesizeSpeechConfigs": {
          "type": "object",
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          }
        }
      },
      "description": "Configuration for how the input and output audio should be processed and delivered."
    },
    "ListGuardrailsResponse": {
      "id": "ListGuardrailsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "guardrails": {
          "type": "array",
          "description": "The list of guardrails.",
          "items": {
            "$ref": "Guardrail"
          }
        }
      },
      "description": "Response message for AgentService.ListGuardrails."
    },
    "ListAgentsResponse": {
      "id": "ListAgentsResponse",
      "description": "Response message for AgentService.ListAgents.",
      "type": "object",
      "properties": {
        "agents": {
          "type": "array",
          "description": "The list of agents.",
          "items": {
            "$ref": "Agent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "Toolset": {
      "id": "Toolset",
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent.",
      "type": "object",
      "properties": {
        "connectorToolset": {
          "$ref": "ConnectorToolset",
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection."
        },
        "executionType": {
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "type": "string",
          "description": "Optional. The execution type of the tools in the toolset."
        },
        "displayName": {
          "description": "Optional. The display name of the toolset. Must be unique within the same app.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the toolset was created.",
          "readOnly": true,
          "type": "string"
        },
        "mcpToolset": {
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server.",
          "$ref": "McpToolset"
        },
        "etag": {
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "openApiToolset": {
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema.",
          "$ref": "OpenApiToolset"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the toolset was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tools behavior in fake mode."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        },
        "description": {
          "description": "Optional. The description of the toolset.",
          "type": "string"
        }
      }
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "type": "object",
      "properties": {
        "webhookHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object"
        },
        "endUserMetadata": {
          "type": "object",
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        }
      },
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent."
    },
    "RetrieveToolsResponse": {
      "description": "Response message for ToolService.RetrieveTools.",
      "type": "object",
      "properties": {
        "tools": {
          "type": "array",
          "description": "The list of tools that are included in the specified toolset.",
          "items": {
            "$ref": "Tool"
          }
        }
      },
      "id": "RetrieveToolsResponse"
    },
    "GuardrailLlmPolicy": {
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
      "type": "object",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Required. Policy prompt."
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail."
        },
        "maxConversationMessages": {
          "type": "integer",
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used.",
          "format": "int32"
        },
        "policyScope": {
          "type": "string",
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond.",
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ],
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ]
        },
        "allowShortUtterance": {
          "type": "boolean",
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped."
        },
        "modelSettings": {
          "description": "Optional. Model settings.",
          "$ref": "ModelSettings"
        }
      },
      "id": "GuardrailLlmPolicy"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "description": "Settings for golden evaluations.",
      "type": "object",
      "properties": {
        "expectationLevelMetricsThresholds": {
          "description": "Optional. The expectation level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
        },
        "toolMatchingSettings": {
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings",
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation."
        },
        "turnLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. The turn level metrics thresholds."
        }
      }
    },
    "RetrieveToolSchemaRequest": {
      "type": "object",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        }
      },
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "id": "RetrieveToolSchemaRequest"
    },
    "DataStoreToolBoostSpecs": {
      "id": "DataStoreToolBoostSpecs",
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting.",
      "type": "object",
      "properties": {
        "dataStores": {
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "spec": {
          "description": "Required. A list of boosting specifications.",
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "type": "array"
        }
      }
    },
    "LfA2aV1Part": {
      "id": "LfA2aV1Part",
      "description": "`Part` represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON).",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The string content of the `text` part."
        },
        "metadata": {
          "description": "Optional. metadata associated with this part.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "mediaType": {
          "description": "The `media_type` (MIME type) of the part content (e.g., \"text/plain\", \"application/json\", \"image/png\"). This field is available for all part types.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "A `url` pointing to the file's content."
        },
        "raw": {
          "description": "The `raw` byte content of a file. In JSON serialization, this is encoded as a base64 string.",
          "type": "string",
          "format": "byte"
        },
        "data": {
          "description": "Arbitrary structured `data` as a JSON value (object, array, string, number, boolean, or null).",
          "type": "any"
        },
        "filename": {
          "description": "An optional `filename` for the file (e.g., \"document.pdf\").",
          "type": "string"
        }
      }
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
      "type": "object",
      "properties": {
        "defaultPromptTemplate": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY."
        }
      },
      "description": "Configuration for default system security settings."
    },
    "Blob": {
      "id": "Blob",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "Required. Raw bytes of the blob."
        }
      },
      "description": "Represents a blob input or output in the conversation."
    },
    "ListConversationsResponse": {
      "description": "Response message for AgentService.ListConversations.",
      "type": "object",
      "properties": {
        "conversations": {
          "type": "array",
          "description": "The list of conversations.",
          "items": {
            "$ref": "Conversation"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListConversationsResponse"
    },
    "Agent": {
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "remoteDialogflowAgent": {
          "$ref": "AgentRemoteDialogflowAgent",
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "validationErrors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "items": {
            "type": "string"
          }
        },
        "childAgents": {
          "type": "array",
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "items": {
            "type": "string"
          }
        },
        "transferRules": {
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "items": {
            "$ref": "TransferRule"
          },
          "type": "array"
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "guardrails": {
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the agent was created.",
          "readOnly": true,
          "type": "string"
        },
        "afterToolCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "llmAgent": {
          "description": "Optional. The default agent type.",
          "$ref": "AgentLlmAgent"
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        },
        "beforeAgentCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "tools": {
          "type": "array",
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "items": {
            "type": "string"
          }
        },
        "afterModelCallbacks": {
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "description": {
          "description": "Optional. Human-readable description of the agent.",
          "type": "string"
        },
        "beforeModelCallbacks": {
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Required. Display name of the agent.",
          "type": "string"
        },
        "beforeToolCallbacks": {
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Configurations for the LLM model."
        },
        "afterAgentCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the agent was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "toolsets": {
          "type": "array",
          "description": "Optional. List of toolsets for the agent.",
          "items": {
            "$ref": "AgentAgentToolset"
          }
        }
      },
      "id": "Agent"
    },
    "Image": {
      "id": "Image",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes of the image.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Represents an image input or output in the conversation."
    },
    "TlsConfig": {
      "id": "TlsConfig",
      "description": "The TLS configuration.",
      "type": "object",
      "properties": {
        "caCerts": {
          "type": "array",
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "items": {
            "$ref": "TlsConfigCaCert"
          }
        }
      }
    },
    "LfA2aV1Message": {
      "type": "object",
      "properties": {
        "messageId": {
          "type": "string",
          "description": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator."
        },
        "referenceTaskIds": {
          "description": "A list of task IDs that this message references for additional context.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "taskId": {
          "type": "string",
          "description": "Optional. The task id of the message. If set, the message will be associated with the given task."
        },
        "contextId": {
          "description": "Optional. The context id of the message. If set, the message will be associated with the given context.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "Required. Identifies the sender of the message.",
          "enumDescriptions": [
            "The role is unspecified.",
            "The message is from the client to the server.",
            "The message is from the server to the client."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ]
        },
        "metadata": {
          "type": "object",
          "description": "Optional. Any metadata to provide along with the message.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "parts": {
          "type": "array",
          "description": "Required. Parts is the container of the message content.",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        }
      },
      "description": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it.",
      "id": "LfA2aV1Message"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "properties": {
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "attributeType": {
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "type": "string"
        },
        "interpolationType": {
          "type": "string",
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        },
        "controlPoints": {
          "type": "array",
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        }
      },
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec"
    },
    "DataStoreToolEngineSource": {
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "type": "object",
      "properties": {
        "engine": {
          "type": "string",
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata"
        },
        "dataStoreSources": {
          "type": "array",
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          }
        }
      },
      "id": "DataStoreToolEngineSource"
    },
    "WidgetToolTextResponseConfig": {
      "type": "object",
      "properties": {
        "textResponseInstruction": {
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED.",
          "type": "string"
        },
        "staticText": {
          "description": "Optional. The static text response to return when type is STATIC.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ],
          "type": "string",
          "description": "Optional. The strategy for providing the text response."
        }
      },
      "description": "Configuration for the text response returned with the widget.",
      "id": "WidgetToolTextResponseConfig"
    },
    "SystemTool": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the system tool.",
          "type": "string"
        },
        "description": {
          "description": "Output only. The description of the system tool.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Pre-defined system tool.",
      "id": "SystemTool"
    },
    "ModelSettings": {
      "description": "Model settings contains various configurations for the LLM model.",
      "type": "object",
      "properties": {
        "model": {
          "type": "string",
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent."
        },
        "temperature": {
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "ModelSettings"
    },
    "PythonCodeCondition": {
      "id": "PythonCodeCondition",
      "type": "object",
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute.",
          "type": "string"
        }
      },
      "description": "Python code block to evaluate the condition."
    },
    "LoggingSettings": {
      "id": "LoggingSettings",
      "description": "Settings to describe the logging behaviors for the app.",
      "type": "object",
      "properties": {
        "metricAnalysisSettings": {
          "$ref": "MetricAnalysisSettings",
          "description": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app."
        },
        "bigqueryExportSettings": {
          "description": "Optional. Configures the BigQuery export behaviors for the app. The conversation data is subject to redaction as configured in RedactionConfig.",
          "$ref": "BigQueryExportSettings"
        },
        "redactionConfig": {
          "description": "Optional. Configuration for how sensitive data should be redacted.",
          "$ref": "RedactionConfig"
        },
        "audioRecordingConfig": {
          "$ref": "AudioRecordingConfig",
          "description": "Optional. Configuration for how audio interactions should be recorded. The audio is subject to redaction as configured in RedactionConfig."
        },
        "conversationLoggingSettings": {
          "description": "Optional. Settings to describe the conversation logging behaviors for the app.",
          "$ref": "ConversationLoggingSettings"
        },
        "evaluationAudioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions.",
          "$ref": "AudioRecordingConfig"
        },
        "unredactedAudioRecordingConfig": {
          "$ref": "AudioRecordingConfig",
          "description": "Optional. Configures an additional recording of unredacted audio. This can be used to maintain a raw audio copy when audio redaction is enabled, typically for auditing or monitoring purposes."
        },
        "cloudLoggingSettings": {
          "$ref": "CloudLoggingSettings",
          "description": "Optional. Settings to describe the Cloud Logging behaviors for the app."
        }
      }
    },
    "Span": {
      "id": "Span",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the span."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The start time of the span.",
          "readOnly": true,
          "type": "string"
        },
        "childSpans": {
          "description": "Output only. The child spans that are nested under this span.",
          "items": {
            "$ref": "Span"
          },
          "readOnly": true,
          "type": "array"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The end time of the span.",
          "readOnly": true,
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "description": "Output only. The duration of the span.",
          "readOnly": true,
          "type": "string"
        },
        "attributes": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Key-value attributes associated with the span.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "EvaluationMetricsThresholds": {
      "description": "Threshold settings for metrics in an Evaluation.",
      "type": "object",
      "properties": {
        "scenarioHallucinationMetricBehavior": {
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "type": "string"
        },
        "goldenHallucinationMetricBehavior": {
          "type": "string",
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "goldenEvaluationMetricsThresholds": {
          "description": "Optional. The golden evaluation metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
        },
        "hallucinationMetricBehavior": {
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "deprecated": true,
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        }
      },
      "id": "EvaluationMetricsThresholds"
    },
    "AgentLlmAgent": {
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model.",
      "type": "object",
      "properties": {},
      "id": "AgentLlmAgent"
    },
    "SessionInput": {
      "id": "SessionInput",
      "type": "object",
      "properties": {
        "willContinue": {
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal.",
          "type": "boolean"
        },
        "event": {
          "$ref": "Event",
          "description": "Optional. Event input."
        },
        "dtmf": {
          "type": "string",
          "description": "Optional. DTMF digits from the end user."
        },
        "variables": {
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "text": {
          "description": "Optional. Text data from the end user.",
          "type": "string"
        },
        "image": {
          "description": "Optional. Image data from the end user.",
          "$ref": "Image"
        },
        "toolResponses": {
          "$ref": "ToolResponses",
          "description": "Optional. Execution results for the tool calls from the client."
        },
        "audio": {
          "type": "string",
          "description": "Optional. Audio data from the end user.",
          "format": "byte"
        },
        "blob": {
          "$ref": "Blob",
          "description": "Optional. Blob data from the end user."
        }
      },
      "description": "Input for the session."
    },
    "InputAudioConfig": {
      "type": "object",
      "properties": {
        "audioEncoding": {
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "type": "string",
          "description": "Required. The encoding of the input audio data."
        },
        "sampleRateHertz": {
          "format": "int32",
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "type": "integer"
        },
        "noiseSuppressionLevel": {
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        }
      },
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "id": "InputAudioConfig"
    },
    "ConnectorToolset": {
      "id": "ConnectorToolset",
      "type": "object",
      "properties": {
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "connectorActions": {
          "type": "array",
          "description": "Required. The list of connector actions/entity operations to generate tools for.",
          "items": {
            "$ref": "Action"
          }
        },
        "authConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override"
        }
      },
      "description": "A toolset that generates tools from an Integration Connectors Connection."
    },
    "ListChangelogsResponse": {
      "id": "ListChangelogsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "changelogs": {
          "description": "The list of changelogs.",
          "items": {
            "$ref": "Changelog"
          },
          "type": "array"
        }
      },
      "description": "Response message for AgentService.ListChangelogs."
    },
    "MetricAnalysisSettings": {
      "id": "MetricAnalysisSettings",
      "type": "object",
      "properties": {
        "llmMetricsOptedOut": {
          "type": "boolean",
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected."
        }
      },
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline."
    },
    "GoogleSearchToolPromptConfig": {
      "type": "object",
      "properties": {
        "textPrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used.",
          "type": "string"
        },
        "voicePrompt": {
          "type": "string",
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used."
        }
      },
      "description": "Prompt settings used by the model when processing or summarizing the google search results.",
      "id": "GoogleSearchToolPromptConfig"
    },
    "Action": {
      "id": "Action",
      "type": "object",
      "properties": {
        "inputFields": {
          "type": "array",
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "items": {
            "type": "string"
          }
        },
        "outputFields": {
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityOperation": {
          "$ref": "ActionEntityOperation",
          "description": "Entity operation configuration for the tool to use."
        },
        "connectionActionId": {
          "type": "string",
          "description": "ID of a Connection action for the tool to use."
        }
      },
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details."
    },
    "McpToolOverride": {
      "type": "object",
      "properties": {
        "snapshot": {
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present.",
          "readOnly": true,
          "$ref": "McpToolDefinition"
        },
        "tool": {
          "type": "string",
          "description": "Required. The original name of the tool as it is emitted by the MCP server."
        },
        "nameOverride": {
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools.",
          "type": "string"
        },
        "descriptionOverride": {
          "description": "Optional. If present, this tool uses this description instead of the original description from the server.",
          "type": "string"
        }
      },
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "id": "McpToolOverride"
    },
    "DataStoreTool": {
      "id": "DataStoreTool",
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "type": "object",
      "properties": {
        "engineSource": {
          "description": "Optional. Search within an Engine (potentially across multiple DataStores).",
          "$ref": "DataStoreToolEngineSource"
        },
        "name": {
          "description": "Required. The data store tool name.",
          "type": "string"
        },
        "modalityConfigs": {
          "description": "Optional. The modality configs for the data store.",
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          },
          "type": "array"
        },
        "boostSpecs": {
          "type": "array",
          "description": "Optional. Boost specification to boost certain documents.",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          }
        },
        "filterParameterBehavior": {
          "type": "string",
          "description": "Optional. The filter parameter behavior.",
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ],
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ]
        },
        "dataStoreSource": {
          "$ref": "DataStoreToolDataStoreSource",
          "description": "Optional. Search within a single specific DataStore."
        },
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        }
      }
    },
    "GoogleSearchTool": {
      "id": "GoogleSearchTool",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        },
        "contextUrls": {
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
[...]
