{
  "version": "v1beta",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "id": "ces:v1beta",
  "schemas": {
    "ImportEvaluationsRequestConversationList": {
      "id": "ImportEvaluationsRequestConversationList",
      "type": "object",
      "properties": {
        "conversations": {
          "type": "array",
          "description": "Optional. Conversation resource names.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A list of conversation resource names."
    },
    "PythonFunction": {
      "description": "A Python function tool.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used."
        },
        "pythonCode": {
          "type": "string",
          "description": "Optional. The Python code to execute for the tool."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the Python function, parsed from the python code's docstring."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for the tool.",
          "$ref": "ServiceDirectoryConfig"
        }
      },
      "id": "PythonFunction",
      "type": "object"
    },
    "Deployment": {
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "properties": {
        "instagramCredentials": {
          "description": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile.",
          "$ref": "InstagramCredentials"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this deployment was last updated.",
          "format": "google-datetime"
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app."
        },
        "displayName": {
          "description": "Required. Display name of the deployment.",
          "type": "string"
        },
        "experimentConfig": {
          "description": "Optional. Experiment configuration for the deployment.",
          "$ref": "ExperimentConfig"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was created.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "modality": {
          "description": "Optional. The modality of the deployment. Note: Deployment-level modality override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "type": "string",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "MODALITY_TEXT",
            "MODALITY_VOICE",
            "MODALITY_VIDEO"
          ],
          "enumDescriptions": [
            "Unknown modality.",
            "Text modality.",
            "Voice modality.",
            "Video modality."
          ]
        },
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        },
        "whatsappCredentials": {
          "description": "Optional. Input only. Ephemeral WhatsApp credentials required when configuring a WhatsApp channel profile.",
          "$ref": "WhatsAppCredentials"
        },
        "modelSettings": {
          "description": "Optional. Model settings for the deployment. Overrides model settings configured at the app/agent levels. Note: Deployment-level model settings override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "$ref": "ModelSettings"
        }
      },
      "id": "Deployment",
      "type": "object"
    },
    "ImportAppRequestImportOptions": {
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data.",
      "properties": {
        "conflictResolutionStrategy": {
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "type": "string",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ]
        },
        "validateOnly": {
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one.",
          "type": "boolean"
        }
      },
      "id": "ImportAppRequestImportOptions",
      "type": "object"
    },
    "QualityReportAgentIssues": {
      "description": "Issues identified for a single agent.",
      "id": "QualityReportAgentIssues",
      "type": "object",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Optional. The name of the agent to which the issues are related. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "issues": {
          "description": "Optional. List of issues found for this agent.",
          "items": {
            "$ref": "QualityReportIssue"
          },
          "type": "array"
        }
      }
    },
    "ChannelProfile": {
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony.",
      "properties": {
        "instagramConfig": {
          "description": "Optional. Configuration specific to Instagram deployments.",
          "$ref": "ChannelProfileInstagramConfig"
        },
        "disableBargeInControl": {
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt.",
          "type": "boolean"
        },
        "profileId": {
          "description": "Optional. The unique identifier of the channel profile.",
          "type": "string"
        },
        "disableDtmf": {
          "type": "boolean",
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency)."
        },
        "whatsappConfig": {
          "description": "Optional. Configuration specific to WhatsApp deployments.",
          "$ref": "ChannelProfileWhatsAppConfig"
        },
        "webWidgetConfig": {
          "description": "Optional. The configuration for the web widget.",
          "$ref": "ChannelProfileWebWidgetConfig"
        },
        "noiseSuppressionLevel": {
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "channelType": {
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Contact Center as a Service (CCaaS Chat) channel.",
            "Five9 channel.",
            "Third party contact center integration channel.",
            "WhatsApp channel.",
            "Instagram channel."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "CONTACT_CENTER_AS_A_SERVICE_CHAT",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION",
            "WHATSAPP",
            "INSTAGRAM"
          ],
          "description": "Optional. The type of the channel profile."
        },
        "personaProperty": {
          "description": "Optional. The persona property of the channel profile.",
          "$ref": "ChannelProfilePersonaProperty"
        }
      },
      "id": "ChannelProfile",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "EndSession": {
      "description": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent.",
      "properties": {
        "metadata": {
          "description": "Optional. Provides additional information about the end session signal, such as the reason for ending the session.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "EndSession",
      "type": "object"
    },
    "ListAppVersionsResponse": {
      "description": "Response message for AgentService.ListAppVersions.",
      "properties": {
        "appVersions": {
          "description": "The list of app versions.",
          "items": {
            "$ref": "AppVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAppVersionsResponse",
      "type": "object"
    },
    "LfA2aV1AuthorizationCodeOAuthFlow": {
      "description": "Defines configuration details for the OAuth 2.0 Authorization Code flow.",
      "properties": {
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "pkceRequired": {
          "type": "boolean",
          "description": "Indicates if PKCE (RFC 7636) is required for this flow. PKCE should always be used for public clients and is recommended for all clients."
        },
        "authorizationUrl": {
          "description": "Required. The authorization URL to be used for this flow.",
          "type": "string"
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. The available scopes for the OAuth2 security scheme."
        }
      },
      "id": "LfA2aV1AuthorizationCodeOAuthFlow",
      "type": "object"
    },
    "AgentSkill": {
      "properties": {
        "tags": {
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "inputModes": {
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "outputModes": {
          "type": "array",
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        }
      },
      "id": "AgentSkill",
      "type": "object",
      "description": "Represents a distinct capability or function that an agent can perform."
    },
    "DataStoreToolRewriterConfig": {
      "id": "DataStoreToolRewriterConfig",
      "type": "object",
      "properties": {
        "modelSettings": {
          "description": "Required. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the rewriter is disabled.",
          "type": "boolean"
        }
      },
      "description": "Rewriter configuration."
    },
    "AmbientSoundConfig": {
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "properties": {
        "volumeGainDb": {
          "type": "number",
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "format": "double"
        },
        "prebuiltAmbientSound": {
          "type": "string",
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\""
        },
        "prebuiltAmbientNoise": {
          "deprecated": true,
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ]
        },
        "gcsUri": {
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string"
        }
      },
      "id": "AmbientSoundConfig",
      "type": "object"
    },
    "LanguageSettings": {
      "description": "Language settings of the app.",
      "id": "LanguageSettings",
      "type": "object",
      "properties": {
        "defaultLanguageCode": {
          "type": "string",
          "description": "Optional. The default language code of the app."
        },
        "enableMultilingualSupport": {
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input.",
          "type": "boolean"
        },
        "supportedLanguageCodes": {
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fallbackAction": {
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "properties": {
        "expectationLevelMetricsThresholds": {
          "description": "Optional. The expectation level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
        },
        "turnLevelMetricsThresholds": {
          "description": "Optional. The turn level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "toolMatchingSettings": {
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation.",
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings"
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "type": "object",
      "description": "Settings for golden evaluations."
    },
    "GenerateAppResourceRequestAppGenerationConfig": {
      "properties": {
        "context": {
          "description": "Optional. The context which describes the requirements of the agents & tools to be generated.",
          "type": "string"
        },
        "fileContexts": {
          "description": "Optional. The files to be used as context.",
          "items": {
            "$ref": "FileContext"
          },
          "type": "array"
        },
        "datasetId": {
          "type": "string",
          "description": "Optional. The insights dataset to be used to fetch conversation data for generating the agents & tools. Format: `projects/{project}/locations/{location}/datasets/{dataset}`."
        },
        "gcsLocation": {
          "description": "Optional. The Cloud Storage location to store the generated question answer data to be used by the Datastore tool. This data is generated only when using conversation data as an input source. The location must be in the same project as the app. Format: `gs://...`.",
          "type": "string"
        },
        "generateEvaluations": {
          "type": "boolean",
          "description": "Optional. Whether to generate the evaluations for the app. If true, the provided context will be used to generate the evaluations data."
        }
      },
      "id": "GenerateAppResourceRequestAppGenerationConfig",
      "type": "object",
      "description": "The configuration to be used to generate the app."
    },
    "ExportEvaluationRunsResponse": {
      "properties": {
        "evaluationRunsContent": {
          "type": "string",
          "format": "byte",
          "description": "The content of the exported Evaluation Runs. This will be populated if gcs_uri was not specified in the request."
        },
        "evaluationRunsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Runs were written. This will be populated if gcs_uri was specified in the request."
        }
      },
      "id": "ExportEvaluationRunsResponse",
      "type": "object",
      "description": "Response message for EvaluationService.ExportEvaluationRuns."
    },
    "TlsConfig": {
      "description": "The TLS configuration.",
      "properties": {
        "caCerts": {
          "type": "array",
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "items": {
            "$ref": "TlsConfigCaCert"
          }
        }
      },
      "id": "TlsConfig",
      "type": "object"
    },
    "ApiAuthentication": {
      "description": "Authentication information required for API calls.",
      "id": "ApiAuthentication",
      "type": "object",
      "properties": {
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        },
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        },
        "apiKeyConfig": {
          "description": "Optional. Config for API key auth.",
          "$ref": "ApiKeyConfig"
        },
        "serviceAgentIdTokenAuthConfig": {
          "description": "Optional. Config for ID token auth generated from CES service agent.",
          "$ref": "ServiceAgentIdTokenAuthConfig"
        },
        "bearerTokenConfig": {
          "description": "Optional. Config for bearer token auth.",
          "$ref": "BearerTokenConfig"
        }
      }
    },
    "LfA2aV1OAuthFlows": {
      "description": "Defines the configuration for the supported OAuth 2.0 flows.",
      "id": "LfA2aV1OAuthFlows",
      "type": "object",
      "properties": {
        "authorizationCode": {
          "description": "Configuration for the OAuth Authorization Code flow.",
          "$ref": "LfA2aV1AuthorizationCodeOAuthFlow"
        },
        "deviceCode": {
          "description": "Configuration for the OAuth Device Code flow.",
          "$ref": "LfA2aV1DeviceCodeOAuthFlow"
        },
        "clientCredentials": {
          "description": "Configuration for the OAuth Client Credentials flow.",
          "$ref": "LfA2aV1ClientCredentialsOAuthFlow"
        },
        "password": {
          "description": "Deprecated: Use Authorization Code + PKCE or Device Code.",
          "$ref": "LfA2aV1PasswordOAuthFlow",
          "deprecated": true
        },
        "implicit": {
          "deprecated": true,
          "description": "Deprecated: Use Authorization Code + PKCE instead.",
          "$ref": "LfA2aV1ImplicitOAuthFlow"
        }
      }
    },
    "AgentTransfer": {
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "id": "AgentTransfer",
      "type": "object",
      "properties": {
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Display name of the agent.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "BatchDeleteConversationsResponse": {
      "properties": {
        "deletedConversations": {
          "type": "array",
          "description": "The list of conversations that were successfully deleted.",
          "items": {
            "type": "string"
          }
        },
        "failedConversations": {
          "description": "The list of conversations that failed to be deleted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "errorMessages": {
          "type": "array",
          "description": "Optional. A list of error messages associated with conversations that failed to be deleted.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeleteConversationsResponse",
      "type": "object",
      "description": "Response message for AgentService.BatchDeleteConversations."
    },
    "App": {
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context.",
      "properties": {
        "rootAgent": {
          "type": "string",
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "audioProcessingConfig": {
          "description": "Optional. Audio processing configuration of the app.",
          "$ref": "AudioProcessingConfig"
        },
        "pinned": {
          "description": "Optional. Whether the app is pinned in the app list.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "loggingSettings": {
          "description": "Optional. Logging settings of the app.",
          "$ref": "LoggingSettings"
        },
        "timeZoneSettings": {
          "description": "Optional. TimeZone settings of the app.",
          "$ref": "TimeZoneSettings"
        },
        "displayName": {
          "description": "Required. Display name of the app.",
          "type": "string"
        },
        "toolExecutionMode": {
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL.",
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ],
          "type": "string",
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ]
        },
        "predefinedVariableDeclarations": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The declarations of predefined variables for the app.",
          "items": {
            "$ref": "AppVariableDeclaration"
          }
        },
        "languageSettings": {
          "description": "Optional. Language settings of the app.",
          "$ref": "LanguageSettings"
        },
        "evaluationMetricsThresholds": {
          "description": "Optional. The evaluation thresholds for the app.",
          "$ref": "EvaluationMetricsThresholds"
        },
        "locked": {
          "type": "boolean",
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected."
        },
        "errorHandlingSettings": {
          "description": "Optional. Error handling settings of the app.",
          "$ref": "ErrorHandlingSettings"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages."
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        },
        "defaultChannelProfile": {
          "description": "Optional. The default channel profile used by the app.",
          "$ref": "ChannelProfile"
        },
        "deploymentCount": {
          "format": "int32",
          "description": "Output only. Number of deployments in the app.",
          "readOnly": true,
          "type": "integer"
        },
        "evaluationPersonas": {
          "type": "array",
          "description": "Optional. The evaluation personas for the app. This field is used to define the personas that can be used for evaluation. Maximum of 30 personas can be defined.",
          "items": {
            "$ref": "EvaluationPersona"
          }
        },
        "modelSettings": {
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed.",
          "$ref": "ModelSettings"
        },
        "guardrails": {
          "type": "array",
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "items": {
            "type": "string"
          }
        },
        "dataStoreSettings": {
          "description": "Optional. The data store settings for the app.",
          "$ref": "DataStoreSettings"
        },
        "description": {
          "description": "Optional. Human-readable description of the app.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app was created."
        },
        "clientCertificateSettings": {
          "description": "Optional. The default client certificate settings for the app.",
          "$ref": "ClientCertificateSettings"
        },
        "globalInstruction": {
          "type": "string",
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents."
        },
        "variableDeclarations": {
          "type": "array",
          "description": "Optional. The declarations of the variables.",
          "items": {
            "$ref": "AppVariableDeclaration"
          }
        },
        "vpcScSettings": {
          "description": "Optional. VPC-SC settings for the app.",
          "$ref": "VpcScSettings"
        },
        "evaluationSettings": {
          "description": "Optional. The evaluation settings for the app.",
          "$ref": "EvaluationSettings"
        },
        "validationErrors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Misconfigurations or warnings in the app.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "App",
      "type": "object"
    },
    "Action": {
      "id": "Action",
      "type": "object",
      "properties": {
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        },
        "inputFields": {
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "outputFields": {
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details."
    },
    "InputAudioConfig": {
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "properties": {
        "audioEncoding": {
          "description": "Required. The encoding of the input audio data.",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "format": "int32"
        },
        "noiseSuppressionLevel": {
          "type": "string",
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
        }
      },
      "id": "InputAudioConfig",
      "type": "object"
    },
    "TriggerAction": {
      "description": "Action that is taken when a certain precondition is met.",
      "id": "TriggerAction",
      "type": "object",
      "properties": {
        "transferAgent": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "TriggerActionTransferAgent"
        },
        "respondImmediately": {
          "description": "Optional. Immediately respond with a preconfigured response.",
          "$ref": "TriggerActionRespondImmediately"
        },
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        }
      }
    },
    "EvaluationResultGoldenResult": {
      "properties": {
        "turnReplayResults": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The result of running each turn of the golden conversation.",
          "items": {
            "$ref": "EvaluationResultGoldenResultTurnReplayResult"
          }
        },
        "evaluationExpectationResults": {
          "description": "Output only. The results of the evaluation expectations.",
          "items": {
            "$ref": "EvaluationResultEvaluationExpectationResult"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "EvaluationResultGoldenResult",
      "type": "object",
      "description": "The result of a golden evaluation."
    },
    "EvaluationResultScenarioResult": {
      "properties": {
        "hallucinationResult": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The result of the hallucination check. There will be one hallucination result for each turn in the conversation.",
          "items": {
            "$ref": "EvaluationResultHallucinationResult"
          }
        },
        "expectationOutcomes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The outcome of each expectation.",
          "items": {
            "$ref": "EvaluationResultScenarioExpectationOutcome"
          }
        },
        "userGoalSatisfactionResult": {
          "readOnly": true,
          "description": "Output only. The result of the user goal satisfaction check.",
          "$ref": "EvaluationResultUserGoalSatisfactionResult"
        },
        "evaluationExpectationResults": {
          "description": "Output only. The results of the evaluation expectations.",
          "items": {
            "$ref": "EvaluationResultEvaluationExpectationResult"
          },
          "readOnly": true,
          "type": "array"
        },
        "rubricOutcomes": {
          "description": "Output only. The outcome of the rubric.",
          "items": {
            "$ref": "EvaluationResultScenarioRubricOutcome"
          },
          "readOnly": true,
          "type": "array"
        },
        "userFacts": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The user facts that were used by the scenario for this result.",
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          }
        },
        "allExpectationsSatisfied": {
          "description": "Output only. Whether all expectations were satisfied for this turn.",
          "readOnly": true,
          "type": "boolean"
        },
        "spanLatencies": {
          "description": "Output only. The latency of spans in the conversation.",
          "items": {
            "$ref": "EvaluationResultSpanLatency"
          },
          "readOnly": true,
          "type": "array"
        },
        "conversation": {
          "description": "Output only. The conversation that was generated in the scenario.",
          "readOnly": true,
          "type": "string"
        },
        "task": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The task that was used when running the scenario for this result."
        },
        "taskCompletionResult": {
          "description": "Output only. The result of the task completion check.",
          "$ref": "EvaluationResultTaskCompletionResult",
          "readOnly": true,
          "deprecated": true
        },
        "taskCompleted": {
          "description": "Output only. Whether the task was completed for this turn. This is a composite of all expectations satisfied, no hallucinations, and user goal satisfaction.",
          "readOnly": true,
          "type": "boolean"
        },
        "toolCallLatencies": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The latency of each tool call execution in the conversation.",
          "items": {
            "$ref": "EvaluationResultToolCallLatency"
          }
        }
      },
      "id": "EvaluationResultScenarioResult",
      "type": "object",
      "description": "The outcome of a scenario evaluation."
    },
    "LfA2aV1StringList": {
      "id": "LfA2aV1StringList",
      "type": "object",
      "properties": {
        "list": {
          "type": "array",
          "description": "The individual string values.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED A list of strings."
    },
    "OpenApiToolset": {
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema.",
      "id": "OpenApiToolset",
      "type": "object",
      "properties": {
        "openApiSchema": {
          "description": "Required. The OpenAPI schema of the toolset.",
          "type": "string"
        },
        "ignoreUnknownFields": {
          "type": "boolean",
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema."
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates",
          "$ref": "TlsConfig"
        },
        "url": {
          "type": "string",
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        }
      }
    },
    "EvaluationMetricsConfigHallucinationMetricsConfig": {
      "description": "Configuration for the hallucination metrics for the evaluation. To disable the metric, set the message but do not set the `enable_hallucination_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "properties": {
        "enableHallucinationMetrics": {
          "description": "Optional. Whether to calculate hallucination metrics for the evaluation.",
          "type": "boolean"
        }
      },
      "id": "EvaluationMetricsConfigHallucinationMetricsConfig",
      "type": "object"
    },
    "GuardrailModelSafety": {
      "id": "GuardrailModelSafety",
      "type": "object",
      "properties": {
        "safetySettings": {
          "description": "Required. List of safety settings.",
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          },
          "type": "array"
        }
      },
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe."
    },
    "ListToolsResponse": {
      "description": "Response message for AgentService.ListTools.",
      "properties": {
        "tools": {
          "description": "The list of tools.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListToolsResponse",
      "type": "object"
    },
    "EvaluationResultScenarioRubricOutcome": {
      "description": "The outcome of the evaluation against the rubric.",
      "id": "EvaluationResultScenarioRubricOutcome",
      "type": "object",
      "properties": {
        "rubric": {
          "description": "Output only. The rubric that was used to evaluate the conversation.",
          "readOnly": true,
          "type": "string"
        },
        "score": {
          "format": "float",
          "description": "Output only. The score of the conversation against the rubric.",
          "readOnly": true,
          "type": "number"
        },
        "scoreExplanation": {
          "description": "Output only. The rater's response to the rubric.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors).",
      "properties": {
        "escalateSession": {
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details.",
          "type": "boolean"
        }
      },
      "id": "ErrorHandlingSettingsEndSessionConfig",
      "type": "object"
    },
    "FileSearchTool": {
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "properties": {
        "corpusType": {
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED."
        },
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The tool name."
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        }
      },
      "id": "FileSearchTool",
      "type": "object"
    },
    "GenerateChatTokenRequest": {
      "id": "GenerateChatTokenRequest",
      "type": "object",
      "properties": {
        "deployment": {
          "type": "string",
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}"
        },
        "liveHandoffEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates if live handoff is enabled for the session."
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget."
        }
      },
      "description": "Request message for WidgetService.GenerateChatToken."
    },
    "LoggingSettings": {
      "description": "Settings to describe the logging behaviors for the app.",
      "id": "LoggingSettings",
      "type": "object",
      "properties": {
        "unredactedBigqueryExportSettings": {
          "description": "Optional. Configures the BigQuery export behaviors for the app. The unredacted conversation data will be exported to BigQuery tables if it is enabled.",
          "$ref": "BigQueryExportSettings"
        },
        "audioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded. The audio is subject to redaction as configured in RedactionConfig.",
          "$ref": "AudioRecordingConfig"
        },
        "conversationLoggingSettings": {
          "description": "Optional. Settings to describe the conversation logging behaviors for the app.",
          "$ref": "ConversationLoggingSettings"
        },
        "evaluationAudioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions.",
          "$ref": "AudioRecordingConfig"
        },
        "cloudLoggingSettings": {
          "description": "Optional. Settings to describe the Cloud Logging behaviors for the app.",
          "$ref": "CloudLoggingSettings"
        },
        "redactionConfig": {
          "description": "Optional. Configuration for how sensitive data should be redacted.",
          "$ref": "RedactionConfig"
        },
        "bigqueryExportSettings": {
          "description": "Optional. Configures the BigQuery export behaviors for the app. The conversation data is subject to redaction as configured in RedactionConfig.",
          "$ref": "BigQueryExportSettings"
        },
        "metricAnalysisSettings": {
          "description": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app.",
          "$ref": "MetricAnalysisSettings"
        },
        "unredactedAudioRecordingConfig": {
          "description": "Optional. Configures an additional recording of unredacted audio. This can be used to maintain a raw audio copy when audio redaction is enabled, typically for auditing or monitoring purposes.",
          "$ref": "AudioRecordingConfig"
        }
      }
    },
    "EvaluationGoldenExpectation": {
      "id": "EvaluationGoldenExpectation",
      "type": "object",
      "properties": {
        "agentResponse": {
          "description": "Optional. Check that the agent responded with the correct response. The role \"agent\" is implied.",
          "$ref": "Message"
        },
        "note": {
          "type": "string",
          "description": "Optional. A note for this requirement, useful in reporting when specific checks fail. E.g., \"Check_Payment_Tool_Called\"."
        },
        "agentTransfer": {
          "description": "Optional. Check that the agent transferred the conversation to a different agent.",
          "$ref": "AgentTransfer"
        },
        "toolCall": {
          "description": "Optional. Check that a specific tool was called with the parameters.",
          "$ref": "ToolCall"
        },
        "noToolCalls": {
          "description": "Optional. Check that no tools were called during this turn.",
          "type": "boolean"
        },
        "agentResponseHallucinationMetricsConfigOverride": {
          "description": "Optional. Overrides for agent_response hallucination metrics.",
          "$ref": "EvaluationMetricsConfigHallucinationMetricsConfig"
        },
        "mockToolResponse": {
          "description": "Optional. The tool response to mock, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM.",
          "$ref": "ToolResponse"
        },
        "agentResponseSemanticSimilarityMetricsConfigOverride": {
          "description": "Optional. Overrides for agent_response semantic similarity metrics.",
          "$ref": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig"
        },
        "skipEvaluation": {
          "description": "Optional. If set to true, this specific expectation will not be evaluated.",
          "type": "boolean"
        },
        "updatedVariables": {
          "description": "Optional. Check that the agent updated the session variables to the expected values. Used to also capture agent variable updates for golden evals.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "expectationLevelMetricsThresholdsOverride": {
          "description": "Optional. Overrides metrics at the step level.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
        },
        "comparisonType": {
          "description": "Optional. The comparison type to use for the expectation check.",
          "type": "string",
          "enum": [
            "COMPARISON_TYPE_UNSPECIFIED",
            "EQUALS",
            "CONTAINS",
            "SEMANTIC_SIMILARITY"
          ],
          "enumDescriptions": [
            "Unspecified comparison type. Behavior defaults to SEMANTIC_SIMILARITY for agent responses and tool calls.",
            "Exact string match.",
            "Substring match (checks if the expected string is contained in the actual response).",
            "Semantic similarity match (evaluates meaning similarity using an LLM)."
          ]
        },
        "toolResponse": {
          "description": "Optional. Check that a specific tool had the expected response.",
          "$ref": "ToolResponse"
        }
      },
      "description": "Represents a single, checkable requirement."
    },
    "LfA2aV1TaskStatus": {
      "id": "LfA2aV1TaskStatus",
      "type": "object",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ],
          "type": "string",
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "description": "Required. The current state of this task."
        },
        "message": {
          "description": "A message associated with the status.",
          "$ref": "LfA2aV1Message"
        }
      },
      "description": "A container for the status of a task"
    },
    "TriggerActionTransferAgent": {
      "description": "The agent will transfer the conversation to a different agent.",
      "id": "TriggerActionTransferAgent",
      "type": "object",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      }
    },
    "EvaluationMetricsConfigScenarioMetricsConfig": {
      "properties": {
        "expectationsMetMetricsConfig": {
          "description": "Optional. Configuration for expectation level metrics.",
          "$ref": "EvaluationMetricsConfigExpectationsMetMetricsConfig"
        },
        "userGoalMetMetricsConfig": {
          "description": "Optional. Configuration for user goal met metrics.",
          "$ref": "EvaluationMetricsConfigUserGoalMetMetricsConfig"
        }
      },
      "id": "EvaluationMetricsConfigScenarioMetricsConfig",
      "type": "object",
      "description": "Configuration for the scenario metrics for the evaluation."
    },
    "Event": {
      "id": "Event",
      "type": "object",
      "properties": {
        "event": {
          "description": "Required. The name of the event.",
          "type": "string"
        }
      },
      "description": "Event input."
    },
    "EvaluationRunCachingSettings": {
      "description": "Settings for evaluation run caching.",
      "id": "EvaluationRunCachingSettings",
      "type": "object",
      "properties": {
        "runCachingMode": {
          "description": "Optional. The caching mode to use for the evaluation run. If not set, default to FORCE_RUN.",
          "type": "string",
          "enum": [
            "EVALUATION_RUN_CACHING_MODE_UNSPECIFIED",
            "FORCE_RUN",
            "SKIP_IF_UNCHANGED"
          ],
          "enumDescriptions": [
            "The run caching mode is unspecified.",
            "Always execute a full live simulation regardless of whether changelogs exist.",
            "Skip execution and copy previous verified results if no dependencies have mutated, the evaluation channel/run method are the same."
          ]
        }
      }
    },
    "GuardrailContentFilter": {
      "id": "GuardrailContentFilter",
      "type": "object",
      "properties": {
        "bannedContents": {
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bannedContentsInUserInput": {
          "description": "Optional. List of banned phrases. Applies only to user inputs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bannedContentsInAgentResponse": {
          "description": "Optional. List of banned phrases. Applies only to agent responses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disregardDiacritics": {
          "type": "boolean",
          "description": "Optional. If true, diacritics are ignored during matching."
        },
        "matchType": {
          "description": "Required. Match type for the content filter.",
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ],
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ]
        }
      },
      "description": "Guardrail that bans certain content from being used in the conversation."
    },
    "CodeBlock": {
      "description": "A code block to be executed instead of a real tool call.",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead."
        }
      },
      "id": "CodeBlock",
      "type": "object"
    },
    "EvaluationResultHallucinationResult": {
      "description": "The result of the hallucination check for a single turn.",
      "id": "EvaluationResultHallucinationResult",
      "type": "object",
      "properties": {
        "score": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The hallucination score. Can be -1, 0, 1."
        },
        "explanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The explanation for the hallucination score."
        },
        "label": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The label associated with each score. Score 1: Justified Score 0: Not Justified Score -1: No Claim To Assess"
        }
      }
    },
    "Example": {
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "properties": {
        "messages": {
          "type": "array",
          "description": "Optional. The collection of messages that make up the conversation.",
          "items": {
            "$ref": "Message"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the example was last updated."
        },
        "invalid": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the example."
        },
        "name": {
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the example.",
          "type": "string"
        },
        "entryAgent": {
          "type": "string",
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the example was created.",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        }
      },
      "id": "Example",
      "type": "object"
    },
    "Schema": {
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "id": "Schema",
      "type": "object",
      "properties": {
        "prefixItems": {
          "description": "Optional. Schemas of initial elements of Type.ARRAY.",
          "items": {
            "$ref": "Schema"
          },
          "type": "array"
        },
        "enum": {
          "type": "array",
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "items": {
            "type": "string"
          }
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "anyOf": {
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "items": {
            "$ref": "Schema"
          },
          "type": "array"
        },
        "additionalProperties": {
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties.",
          "$ref": "Schema"
        },
        "ref": {
          "type": "string",
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring."
        },
        "uniqueItems": {
          "type": "boolean",
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY."
        },
        "properties": {
          "description": "Optional. Properties of Type.OBJECT.",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "type": "object"
        },
        "minimum": {
          "format": "double",
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER.",
          "type": "number"
        },
        "minItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Minimum number of the elements for Type.ARRAY."
        },
        "defs": {
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema.",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "type": "object"
        },
        "maximum": {
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "format": "double",
          "type": "number"
        },
        "description": {
          "description": "Optional. The description of the data.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the data.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ],
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ]
        },
        "required": {
          "description": "Optional. Required properties of Type.OBJECT.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maxItems": {
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "format": "int64",
          "type": "string"
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        }
      }
    },
    "SessionOutputDiagnosticInfo": {
      "id": "SessionOutputDiagnosticInfo",
      "type": "object",
      "properties": {
        "rootSpan": {
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations.",
          "$ref": "Span"
        },
        "messages": {
          "description": "List of the messages that happened during the processing.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        }
      },
      "description": "Contains execution details during the processing."
    },
    "EvaluationPersona": {
      "description": "A persona represents an end user in an evaluation.",
      "id": "EvaluationPersona",
      "type": "object",
      "properties": {
        "speechConfig": {
          "description": "Optional. Configuration for how the persona sounds (TTS settings).",
          "$ref": "EvaluationPersonaSpeechConfig"
        },
        "personality": {
          "type": "string",
          "description": "Required. An instruction for the agent on how to behave in the evaluation."
        },
        "name": {
          "description": "Required. The unique identifier of the persona. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationPersonas/{evaluationPersona}`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the persona."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the persona. Unique within an app."
        }
      }
    },
    "AppSnapshot": {
      "description": "A snapshot of the app.",
      "properties": {
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "toolsets": {
          "description": "Optional. List of toolsets in the app.",
          "items": {
            "$ref": "Toolset"
          },
          "type": "array"
        },
        "agents": {
          "type": "array",
          "description": "Optional. List of agents in the app.",
          "items": {
            "$ref": "Agent"
          }
        },
        "guardrails": {
          "type": "array",
          "description": "Optional. List of guardrails in the app.",
          "items": {
            "$ref": "Guardrail"
          }
        },
        "tools": {
          "description": "Optional. List of tools in the app.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        },
        "examples": {
          "description": "Optional. List of examples in the app.",
          "items": {
            "$ref": "Example"
          },
          "type": "array"
        }
      },
      "id": "AppSnapshot",
      "type": "object"
    },
    "QualityReport": {
      "id": "QualityReport",
      "type": "object",
      "properties": {
        "issues": {
          "description": "Optional. The issues grouped by agent.",
          "items": {
            "$ref": "QualityReportAgentIssues"
          },
          "type": "array"
        },
        "evaluationRuns": {
          "type": "array",
          "description": "Optional. A list of evaluation runs used to generate the quality report. Format: `projects/{project}/locations/{location}/evaluationRuns/{evaluationRun}`.",
          "items": {
            "type": "string"
          }
        },
        "generalIssues": {
          "description": "Optional. General issues not specific to any agent.",
          "items": {
            "$ref": "QualityReportIssue"
          },
          "type": "array"
        }
      },
      "description": "The report describing any identified quality issues in the app."
    },
    "ListEvaluationDatasetsResponse": {
      "id": "ListEvaluationDatasetsResponse",
      "type": "object",
      "properties": {
        "evaluationDatasets": {
          "type": "array",
          "description": "The list of evaluation datasets.",
          "items": {
            "$ref": "EvaluationDataset"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationDatasetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for EvaluationService.ListEvaluationDatasets."
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "description": "Expectation level metrics thresholds.",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "type": "object",
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "ExportEvaluationRunsRequest": {
      "id": "ExportEvaluationRunsRequest",
      "type": "object",
      "properties": {
        "exportOptions": {
          "description": "Optional. The export options for the evaluation runs.",
          "$ref": "ExportOptions"
        },
        "names": {
          "description": "Required. The resource names of the evaluation runs to export.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for EvaluationService.ExportEvaluationRuns."
    },
    "McpToolDefinition": {
      "description": "Container for a tool's core definition elements that are snapshot. Schemas in the snapshot are used as-is and cannot be overridden.",
      "id": "McpToolDefinition",
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. The description of the MCP tool. This can be overridden by `description_override` in `McpToolOverride`.",
          "readOnly": true,
          "type": "string"
        },
        "outputSchema": {
          "readOnly": true,
          "description": "Output only. The schema of the output arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "inputSchema": {
          "description": "Output only. The schema of the input arguments of the MCP tool.",
          "$ref": "Schema",
          "readOnly": true
        }
      }
    },
    "ListEvaluationRunsResponse": {
      "id": "ListEvaluationRunsResponse",
      "type": "object",
      "properties": {
        "evaluationRuns": {
          "type": "array",
          "description": "The list of evaluation runs.",
          "items": {
            "$ref": "EvaluationRun"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationRunsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "description": "Response message for EvaluationService.ListEvaluationRuns."
    },
    "AggregatedMetrics": {
      "id": "AggregatedMetrics",
      "type": "object",
      "properties": {
        "metricsByAppVersion": {
          "description": "Output only. Aggregated metrics, grouped by app version ID.",
          "items": {
            "$ref": "AggregatedMetricsMetricsByAppVersion"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Aggregated metrics for an evaluation or evaluation dataset."
    },
    "GenerateAppResourceRequestRefineInstructions": {
      "id": "GenerateAppResourceRequestRefineInstructions",
      "type": "object",
      "properties": {
        "instructions": {
          "type": "string",
          "description": "Required. The instructions to refine the resource."
        },
        "endIndex": {
          "description": "Required. The last character (inclusive) of the text to refine.",
          "format": "int64",
          "type": "string"
        },
        "fieldMask": {
          "type": "string",
          "description": "Required. The field of the resource being refined. Only one field is allowed per RefineInstructions. If refining agent instructions, the field mask should be \"instructions\".",
          "format": "google-fieldmask"
        },
        "startIndex": {
          "format": "int64",
          "description": "Required. The first character (inclusive) of the text to refine.",
          "type": "string"
        }
      },
      "description": "The instructions to be used to refine a part of the resource. The part of the resource can be specified with a start index, end index and a field mask. For example, if you want to refine a part of the agent instructions you can specify the index of the first character of the instructions, the index of the last character of the instructions and the field mask as \"instructions\"."
    },
    "GenerateAppResourceResponseGenerateResultInfo": {
      "id": "GenerateAppResourceResponseGenerateResultInfo",
      "type": "object",
      "properties": {
        "explanation": {
          "type": "string",
          "description": "An explanation of the changes in the generated resource."
        }
      },
      "description": "This provides additional information about the generated result."
    },
    "LfA2aV1ClientCredentialsOAuthFlow": {
      "description": "Defines configuration details for the OAuth 2.0 Client Credentials flow.",
      "id": "LfA2aV1ClientCredentialsOAuthFlow",
      "type": "object",
      "properties": {
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens.",
          "type": "string"
        },
        "scopes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The available scopes for the OAuth2 security scheme."
        }
      }
    },
    "Changelog": {
      "description": "Changelogs represent a change made to the app or to an resource within the app.",
      "id": "Changelog",
      "type": "object",
      "properties": {
        "newResource": {
          "description": "Output only. The new resource after the change.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true,
          "type": "object"
        },
        "sequenceNumber": {
          "format": "int64",
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "readOnly": true,
          "type": "string"
        },
        "dependentResources": {
          "description": "Output only. The dependent resources that were changed.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          },
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource."
        },
        "createTime": {
          "description": "Output only. The time when the change was made.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "action": {
          "description": "Output only. The action that was performed on the resource.",
          "readOnly": true,
          "type": "string"
        },
        "resource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource that was changed."
        },
        "displayName": {
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed.",
          "readOnly": true,
          "type": "string"
        },
        "resourceType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the resource that was changed."
        },
        "author": {
          "description": "Output only. Email address of the change author.",
          "readOnly": true,
          "type": "string"
        },
        "originalResource": {
          "description": "Output only. The original resource before the change.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "EvaluationResultToolCallLatency": {
      "description": "The latency of a tool call execution.",
      "properties": {
        "executionLatency": {
          "description": "Output only. The latency of the tool call execution.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "tool": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The start time of the tool call execution.",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The end time of the tool call execution."
        },
        "displayName": {
          "description": "Output only. The display name of the tool.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "EvaluationResultToolCallLatency",
      "type": "object"
    },
    "EvaluationResultTaskCompletionResult": {
      "description": "The result of the task completion check for the conversation.",
      "id": "EvaluationResultTaskCompletionResult",
      "type": "object",
      "properties": {
        "score": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The task completion score. Can be -1, 0, 1",
          "format": "int32"
        },
        "explanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The explanation for the task completion score."
        },
        "label": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The label associated with each score. Score 1: Task Completed Score 0: Task Not Completed Score -1: User Goal Undefined"
        }
      }
    },
    "LfA2aV1SendMessageRequest": {
      "description": "Represents a request for the `SendMessage` method.",
      "properties": {
        "message": {
          "description": "Required. The message to send to the agent.",
          "$ref": "LfA2aV1Message"
        },
        "configuration": {
          "description": "Configuration for the send request.",
          "$ref": "LfA2aV1SendMessageConfiguration"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "A flexible key-value map for passing additional context or parameters."
        }
      },
      "id": "LfA2aV1SendMessageRequest",
      "type": "object"
    },
    "EvaluationScenario": {
      "properties": {
        "maxTurns": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of turns to simulate. The maximum allowed value is 100. The default value is 100."
        },
        "variableOverrides": {
          "description": "Optional. Variables / Session Parameters as context for the session, keyed by variable names. Members of this struct will override any default values set by the system. Note, these are different from user facts, which are facts known to the user. Variables are parameters known to the agent: i.e. MDN (phone number) passed by the telephony system.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "userGoalBehavior": {
          "type": "string",
          "enum": [
            "USER_GOAL_BEHAVIOR_UNSPECIFIED",
            "USER_GOAL_SATISFIED",
            "USER_GOAL_REJECTED",
            "USER_GOAL_IGNORED"
          ],
          "enumDescriptions": [
            "Behavior unspecified. Will default to USER_GOAL_SATISFIED.",
            "The user goal should be completed successfully.",
            "The user goal should be rejected.",
            "Ignore the user goal status."
          ],
          "description": "Optional. The expected behavior of the user goal."
        },
        "rubrics": {
          "description": "Required. The rubrics to score the scenario against.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "task": {
          "description": "Required. The task to be targeted by the scenario.",
          "type": "string"
        },
        "scenarioExecutionMode": {
          "enumDescriptions": [
            "Unspecified execution mode. Defaults to QUALITY_OPTIMIZED.",
            "Quality optimized mode.",
            "Speed optimized mode."
          ],
          "type": "string",
          "enum": [
            "SCENARIO_EXECUTION_MODE_UNSPECIFIED",
            "QUALITY_OPTIMIZED",
            "SPEED_OPTIMIZED"
          ],
          "description": "Optional. The execution mode for scenario evaluations."
        },
        "scenarioExpectations": {
          "description": "Required. The ScenarioExpectations to evaluate the conversation produced by the user simulation.",
          "items": {
            "$ref": "EvaluationScenarioExpectation"
          },
          "type": "array"
        },
        "evaluationExpectations": {
          "type": "array",
          "description": "Optional. The evaluation expectations to evaluate the conversation produced by the simulation against. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluationExpectation}`",
          "items": {
            "type": "string"
          }
        },
        "taskCompletionBehavior": {
          "description": "Optional. Deprecated. Use user_goal_behavior instead.",
          "enumDescriptions": [
            "Behavior unspecified. Will default to TASK_SATISFIED.",
            "The user task should be completed successfully.",
            "The user task should be rejected."
          ],
          "type": "string",
          "deprecated": true,
          "enum": [
            "TASK_COMPLETION_BEHAVIOR_UNSPECIFIED",
            "TASK_SATISFIED",
            "TASK_REJECTED"
          ]
        },
        "userFacts": {
          "type": "array",
          "description": "Optional. The user facts to be used by the scenario.",
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          }
        }
      },
      "id": "EvaluationScenario",
      "type": "object",
      "description": "The config for a scenario"
    },
    "LfA2aV1AuthenticationInfo": {
      "description": "Defines authentication details, used for push notifications.",
      "properties": {
        "scheme": {
          "type": "string",
          "description": "Required. HTTP Authentication Scheme from the [IANA registry](https://www.iana.org/assignments/http-authschemes/). Examples: `Bearer`, `Basic`, `Digest`. Scheme names are case-insensitive per [RFC 9110 Section 11.1](https://www.rfc-editor.org/rfc/rfc9110#section-11.1)."
        },
        "credentials": {
          "description": "Push Notification credentials. Format depends on the scheme (e.g., token for Bearer).",
          "type": "string"
        }
      },
      "id": "LfA2aV1AuthenticationInfo",
      "type": "object"
    },
    "SynthesizeSpeechConfig": {
      "description": "Configuration for how the agent response should be synthesized.",
      "properties": {
        "consentAudioGcsUri": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the consent audio for voice cloning."
        },
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        },
        "model": {
          "description": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used.",
          "type": "string"
        },
        "instruction": {
          "type": "string",
          "description": "Optional. The instruction used to synthesize speech when using a generative model."
        },
        "speakingRate": {
          "format": "double",
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "type": "number"
        },
        "voiceSampleGcsUri": {
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file. Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "SynthesizeSpeechConfig",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ConnectorTool": {
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "id": "ConnectorTool",
      "type": "object",
      "properties": {
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        },
        "action": {
          "description": "Required. Action for the tool to use.",
          "$ref": "Action"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        }
      }
    },
    "Image": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp"
        },
        "data": {
          "type": "string",
          "description": "Required. Raw bytes of the image.",
          "format": "byte"
        }
      },
      "id": "Image",
      "type": "object",
      "description": "Represents an image input or output in the conversation."
    },
    "ExportEvaluationsResponse": {
      "id": "ExportEvaluationsResponse",
      "type": "object",
      "properties": {
        "evaluationsUri": {
          "description": "The Google Cloud Storage URI folder where the exported evaluations were written. This will be populated if gcs_uri was specified in the request.",
          "type": "string"
        },
        "failedEvaluations": {
          "description": "Output only. A map of evaluation resource names that could not be exported, to the reason why they failed.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        },
        "evaluationsContent": {
          "type": "string",
          "description": "The content of the exported Evaluations. This will be populated if gcs_uri was not specified in the request.",
          "format": "byte"
        }
      },
      "description": "Response message for EvaluationService.ExportEvaluations."
    },
    "WhatsAppCredentials": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Required. The phone number to register with WhatsApp."
        },
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        },
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "conversationProfileId": {
          "description": "Optional. The Conversation Profile ID to use for the deployment.",
          "type": "string"
        },
        "pin": {
          "type": "string",
          "description": "Required. The 6-digit PIN created by the user for two-step verification."
        },
        "businessAccountId": {
          "type": "string",
          "description": "Required. The Business Account ID to use for the phone number."
        }
      },
      "id": "WhatsAppCredentials",
      "type": "object",
      "description": "Ephemeral Meta credentials for WhatsApp native integration."
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "type": "object",
      "properties": {
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
[...]
