{
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "ces",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "description": "",
  "id": "ces:v1",
  "discoveryVersion": "v1",
  "revision": "20260730",
  "rootUrl": "https://ces.googleapis.com/",
  "canonicalName": "Customer Engagement Suite",
  "version": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "id": "ces.projects.locations.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "ces.projects.locations.list",
              "path": "v1/{+name}/locations",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/ces",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "apps": {
              "methods": {
                "importApp": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name with the location of the app to import.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/apps:importApp",
                  "id": "ces.projects.locations.apps.importApp",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ImportAppRequest"
                  },
                  "description": "Imports the specified app.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps:importApp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "id": "ces.projects.locations.apps.patch",
                  "response": {
                    "$ref": "App"
                  },
                  "request": {
                    "$ref": "App"
                  },
                  "description": "Updates the specified app.",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "executeTool": {
                  "response": {
                    "$ref": "ExecuteToolResponse"
                  },
                  "request": {
                    "$ref": "ExecuteToolRequest"
                  },
                  "description": "Executes the given tool with the given arguments.",
                  "path": "v1/{+parent}:executeTool",
                  "id": "ces.projects.locations.apps.executeTool",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the app which the tool/toolset belongs to. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:executeTool",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "retrieveToolSchema": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the app which the tool/toolset belongs to. Format: `projects/{project}/locations/{location}/apps/{app}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}:retrieveToolSchema",
                  "id": "ces.projects.locations.apps.retrieveToolSchema",
                  "response": {
                    "$ref": "RetrieveToolSchemaResponse"
                  },
                  "request": {
                    "$ref": "RetrieveToolSchemaRequest"
                  },
                  "description": "Retrieve the schema of the given tool. The schema is computed on the fly for the given instance of the tool.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:retrieveToolSchema",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "ces.projects.locations.apps.create",
                  "path": "v1/{+parent}/apps",
                  "request": {
                    "$ref": "App"
                  },
                  "description": "Creates a new app in the given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the location to create an app in.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "appId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The ID to use for the app, which will become the final component of the app's resource name. If not provided, a unique ID will be automatically assigned for the app."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "App"
                  },
                  "description": "Gets details of the specified app.",
                  "path": "v1/{+name}",
                  "id": "ces.projects.locations.apps.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the app to retrieve."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getExtendedAgentCard": {
                  "parameters": {
                    "tenant": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.getExtendedAgentCard",
                  "path": "v1/{+tenant}/extendedAgentCard",
                  "description": "Gets the extended agent card for the authenticated agent.",
                  "response": {
                    "$ref": "LfA2aV1AgentCard"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/extendedAgentCard",
                  "parameterOrder": [
                    "tenant"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "description": "Lists apps in the given project and location.",
                  "response": {
                    "$ref": "ListAppsResponse"
                  },
                  "id": "ces.projects.locations.apps.list",
                  "path": "v1/{+parent}/apps",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous list AgentService.ListApps call.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter to be applied when listing the apps. See https://google.aip.dev/160 for more details.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the location to list apps from.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the app to delete.",
                      "type": "string",
                      "location": "path"
                    },
                    "etag": {
                      "description": "Optional. The current etag of the app. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the app, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes the specified app.",
                  "path": "v1/{+name}",
                  "id": "ces.projects.locations.apps.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "exportApp": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:exportApp",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ExportAppRequest"
                  },
                  "description": "Exports the specified app.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ces.projects.locations.apps.exportApp",
                  "path": "v1/{+name}:exportApp",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the app to export.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ces.projects.locations.apps.versions.create",
                      "path": "v1/{+parent}/versions",
                      "request": {
                        "$ref": "AppVersion"
                      },
                      "description": "Creates a new app version in the given app.",
                      "response": {
                        "$ref": "AppVersion"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the app to create an app version in.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "appVersionId": {
                          "description": "Optional. The ID to use for the app version, which will become the final component of the app version's resource name. If not provided, a unique ID will be automatically assigned for the app version.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "id": "ces.projects.locations.apps.versions.delete",
                      "path": "v1/{+name}",
                      "description": "Deletes the specified app version.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the app version to delete.",
                          "type": "string",
                          "location": "path"
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The current etag of the app version. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the app version, deletion will be blocked and an ABORTED error will be returned."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "restore": {
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}:restore",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:restore",
                      "id": "ces.projects.locations.apps.versions.restore",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "RestoreAppVersionRequest"
                      },
                      "description": "Restores the specified app version. This will create a new app version from the current draft app and overwrite the current draft with the specified app version.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the app version to restore.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "AppVersion"
                      },
                      "description": "Gets details of the specified app version.",
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.versions.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the app version to retrieve."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "getExtendedAgentCard": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}/extendedAgentCard",
                      "parameterOrder": [
                        "tenant"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "tenant": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "required": true,
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "LfA2aV1AgentCard"
                      },
                      "description": "Gets the extended agent card for the authenticated agent.",
                      "path": "v1/{+tenant}/extendedAgentCard",
                      "id": "ces.projects.locations.apps.versions.getExtendedAgentCard"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/versions",
                      "id": "ces.projects.locations.apps.versions.list",
                      "response": {
                        "$ref": "ListAppVersionsResponse"
                      },
                      "description": "Lists all app versions in the given app.",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the app to list app versions from."
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the app versions. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListAppVersions call."
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "message": {
                      "methods": {
                        "send": {
                          "parameters": {
                            "tenant": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                              "required": true,
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          },
                          "description": "Sends a message to an agent.",
                          "response": {
                            "$ref": "LfA2aV1SendMessageResponse"
                          },
                          "id": "ces.projects.locations.apps.versions.message.send",
                          "path": "v1/{+tenant}/message:send",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}/message:send",
                          "parameterOrder": [
                            "tenant"
                          ],
                          "httpMethod": "POST"
                        }
                      }
                    }
                  }
                },
                "deployments": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Deployment"
                      },
                      "description": "Gets details of the specified deployment.",
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.deployments.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "getExtendedAgentCard": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/extendedAgentCard",
                      "parameterOrder": [
                        "tenant"
                      ],
                      "id": "ces.projects.locations.apps.deployments.getExtendedAgentCard",
                      "path": "v1/{+tenant}/extendedAgentCard",
                      "description": "Gets the extended agent card for the authenticated agent.",
                      "response": {
                        "$ref": "LfA2aV1AgentCard"
                      },
                      "parameters": {
                        "tenant": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "required": true,
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListDeployments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDeployments` must match the call that provided the page token."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent app. Format: `projects/{project}/locations/{location}/apps/{app}`"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of deployments to return. The service may return fewer than this value. If unspecified, at most 50 deployments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/deployments",
                      "id": "ces.projects.locations.apps.deployments.list",
                      "response": {
                        "$ref": "ListDeploymentsResponse"
                      },
                      "description": "Lists deployments in the given app."
                    },
                    "patch": {
                      "id": "ces.projects.locations.apps.deployments.patch",
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "Deployment"
                      },
                      "description": "Updates the specified deployment.",
                      "response": {
                        "$ref": "Deployment"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The list of fields to update.",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app. Format: `projects/{project}/locations/{location}/apps/{app}`"
                        },
                        "deploymentId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The ID to use for the deployment, which will become the final component of the deployment's resource name. If not provided, a unique ID will be automatically assigned for the deployment."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Deployment"
                      },
                      "description": "Creates a new deployment in the given app.",
                      "response": {
                        "$ref": "Deployment"
                      },
                      "id": "ces.projects.locations.apps.deployments.create",
                      "path": "v1/{+parent}/deployments",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the deployment to delete. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$"
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The etag of the deployment. If an etag is provided and does not match the current etag of the deployment, deletion will be blocked and an ABORTED error will be returned."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.deployments.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes the specified deployment.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE"
                    }
                  },
                  "resources": {
                    "message": {
                      "methods": {
                        "send": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/message:send",
                          "parameterOrder": [
                            "tenant"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "tenant": {
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+tenant}/message:send",
                          "id": "ces.projects.locations.apps.deployments.message.send",
                          "response": {
                            "$ref": "LfA2aV1SendMessageResponse"
                          },
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          },
                          "description": "Sends a message to an agent."
                        }
                      }
                    }
                  }
                },
                "changelogs": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs/{changelogsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the changelog to retrieve.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/changelogs/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the specified changelog.",
                      "response": {
                        "$ref": "Changelog"
                      },
                      "id": "ces.projects.locations.apps.changelogs.get",
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListChangelogsResponse"
                      },
                      "description": "Lists the changelogs of the specified app.",
                      "path": "v1/{+parent}/changelogs",
                      "id": "ces.projects.locations.apps.changelogs.list",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListChangelogs call.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the changelogs. See https://google.aip.dev/160 for more details. The filter string can be used to filter by `action`, `resource_type`, `resource_name`, `author`, and `create_time`. The `:` comparator can be used for case-insensitive partial matching on string fields, while `=` performs an exact case-sensitive match. Examples: * `action:update` (case-insensitive partial match) * `action=\"Create\"` (case-sensitive exact match) * `resource_type:agent` * `resource_name:my-agent` * `author:me@example.com` * `create_time > \"2025-01-01T00:00:00Z\"` * `create_time <= \"2025-01-01T00:00:00Z\" AND resource_type:tool`"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the app to list changelogs from.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "agents": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents/{agentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Agent"
                      },
                      "description": "Gets details of the specified agent.",
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.agents.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the agent to retrieve.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/agents/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/agents",
                      "id": "ces.projects.locations.apps.agents.list",
                      "response": {
                        "$ref": "ListAgentsResponse"
                      },
                      "description": "Lists agents in the given app.",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListAgents call.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the agents. See https://google.aip.dev/160 for more details."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the app to list agents from.",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents/{agentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.agents.patch",
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "Agent"
                      },
                      "description": "Updates the specified agent.",
                      "response": {
                        "$ref": "Agent"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the app to create an agent in.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "agentId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The ID to use for the agent, which will become the final component of the agent's resource name. If not provided, a unique ID will be automatically assigned for the agent."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/agents",
                      "id": "ces.projects.locations.apps.agents.create",
                      "response": {
                        "$ref": "Agent"
                      },
                      "request": {
                        "$ref": "Agent"
                      },
                      "description": "Creates a new agent in the given app."
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents/{agentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes the specified agent.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "ces.projects.locations.apps.agents.delete",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the agent to delete.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/agents/[^/]+$"
                        },
                        "etag": {
                          "description": "Optional. The current etag of the agent. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the agent, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string",
                          "location": "query"
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Indicates whether to forcefully delete the agent, even if it is still referenced by other app/agents/examples. * If `force = false`, the deletion fails if other agents/examples reference it. * If `force = true`, delete the agent and remove it from all referencing apps/agents/examples."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "sessions": {
                  "methods": {
                    "generateChatToken": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The session name to generate the chat token for. Format: projects/{project}/locations/{location}/apps/{app}/sessions/{session}"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:generateChatToken",
                      "id": "ces.projects.locations.apps.sessions.generateChatToken",
                      "response": {
                        "$ref": "GenerateChatTokenResponse"
                      },
                      "request": {
                        "$ref": "GenerateChatTokenRequest"
                      },
                      "description": "Generates a session scoped token for chat widget to authenticate with Session APIs.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:generateChatToken",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST"
                    },
                    "streamRunSession": {
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:streamRunSession",
                      "parameterOrder": [
                        "session"
                      ],
                      "response": {
                        "$ref": "RunSessionResponse"
                      },
                      "request": {
                        "$ref": "RunSessionRequest"
                      },
                      "description": "Initiates a single-turn interaction with the CES agent. Uses server-side streaming to deliver incremental results and partial responses as they are generated. By default, complete responses (e.g., messages from callbacks or full LLM responses) are sent to the client as soon as they are available. To enable streaming individual text chunks directly from the model, set enable_text_streaming to true.",
                      "path": "v1/{+session}:streamRunSession",
                      "id": "ces.projects.locations.apps.sessions.streamRunSession",
                      "parameters": {
                        "session": {
                          "description": "Required. The unique identifier of the session. Format: `projects/{project}/locations/{location}/apps/{app}/sessions/{session}`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "runSession": {
                      "id": "ces.projects.locations.apps.sessions.runSession",
                      "path": "v1/{+session}:runSession",
                      "request": {
                        "$ref": "RunSessionRequest"
                      },
                      "description": "Initiates a single-turn interaction with the CES agent within a session.",
                      "response": {
                        "$ref": "RunSessionResponse"
                      },
                      "parameters": {
                        "session": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "required": true,
                          "description": "Required. The unique identifier of the session. Format: `projects/{project}/locations/{location}/apps/{app}/sessions/{session}`",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:runSession",
                      "parameterOrder": [
                        "session"
                      ]
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "patch": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Example"
                      },
                      "description": "Updates the specified example.",
                      "response": {
                        "$ref": "Example"
                      },
                      "id": "ces.projects.locations.apps.examples.patch",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH"
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the app to list examples from.",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the examples. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListExamples call.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists examples in the given app.",
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "id": "ces.projects.locations.apps.examples.list",
                      "path": "v1/{+parent}/examples"
                    },
                    "get": {
                      "description": "Gets details of the specified example.",
                      "response": {
                        "$ref": "Example"
                      },
                      "id": "ces.projects.locations.apps.examples.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the example to retrieve.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "path": "v1/{+parent}/examples",
                      "id": "ces.projects.locations.apps.examples.create",
                      "response": {
                        "$ref": "Example"
                      },
                      "request": {
                        "$ref": "Example"
                      },
                      "description": "Creates a new example in the given app.",
                      "parameters": {
                        "exampleId": {
                          "description": "Optional. The ID to use for the example, which will become the final component of the example's resource name. If not provided, a unique ID will be automatically assigned for the example.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the app to create an example in."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the example to delete.",
                          "type": "string",
                          "location": "path"
                        },
                        "etag": {
                          "description": "Optional. The current etag of the example. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the example, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes the specified example.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "ces.projects.locations.apps.examples.delete",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE"
                    }
                  }
                },
                "toolsets": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/toolsets",
                      "id": "ces.projects.locations.apps.toolsets.list",
                      "response": {
                        "$ref": "ListToolsetsResponse"
                      },
                      "description": "Lists toolsets in the given app.",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the app to list toolsets from.",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the toolsets. See https://google.aip.dev/160 for more details."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListToolsets call."
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.toolsets.get",
                      "response": {
                        "$ref": "Toolset"
                      },
                      "description": "Gets details of the specified toolset.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the toolset to retrieve.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.toolsets.patch",
                      "response": {
                        "$ref": "Toolset"
                      },
                      "request": {
                        "$ref": "Toolset"
                      },
                      "description": "Updates the specified toolset.",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "id": "ces.projects.locations.apps.toolsets.create",
                      "path": "v1/{+parent}/toolsets",
                      "request": {
                        "$ref": "Toolset"
                      },
                      "description": "Creates a new toolset in the given app.",
                      "response": {
                        "$ref": "Toolset"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the app to create a toolset in.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "toolsetId": {
                          "description": "Optional. The ID to use for the toolset, which will become the final component of the toolset's resource name. If not provided, a unique ID will be automatically assigned for the toolset.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the toolset to delete.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "required": true
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The current etag of the toolset. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the toolset, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Indicates whether to forcefully delete the toolset, even if it is still referenced by app/agents. * If `force = false`, the deletion fails if any agents still reference the toolset. * If `force = true`, all existing references from agents will be removed and the toolset will be deleted."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes the specified toolset.",
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.toolsets.delete"
                    },
                    "retrieveTools": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}:retrieveTools",
                      "parameterOrder": [
                        "toolset"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "toolset": {
                          "description": "Required. The name of the toolset to retrieve the tools for. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.toolsets.retrieveTools",
                      "path": "v1/{+toolset}:retrieveTools",
                      "request": {
                        "$ref": "RetrieveToolsRequest"
                      },
                      "description": "Retrieve the list of tools included in the specified toolset.",
                      "response": {
                        "$ref": "RetrieveToolsResponse"
                      }
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "patch": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Tool"
                      },
                      "request": {
                        "$ref": "Tool"
                      },
                      "description": "Updates the specified tool.",
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.tools.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.tools.get",
                      "response": {
                        "$ref": "Tool"
                      },
                      "description": "Gets details of the specified tool.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the tool to retrieve."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "description": "Lists tools in the given app.",
                      "response": {
                        "$ref": "ListToolsResponse"
                      },
                      "id": "ces.projects.locations.apps.tools.list",
                      "path": "v1/{+parent}/tools",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list tools from.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the tools. Use \"include_system_tools=true\" to include system tools in the response. See https://google.aip.dev/160 for more details."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListTools call."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the app to create a tool in.",
                          "type": "string",
                          "location": "path"
                        },
                        "toolId": {
                          "description": "Optional. The ID to use for the tool, which will become the final component of the tool's resource name. If not provided, a unique ID will be automatically assigned for the tool.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Tool"
                      },
                      "request": {
                        "$ref": "Tool"
                      },
                      "description": "Creates a new tool in the given app.",
                      "path": "v1/{+parent}/tools",
                      "id": "ces.projects.locations.apps.tools.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "id": "ces.projects.locations.apps.tools.delete",
                      "path": "v1/{+name}",
                      "description": "Deletes the specified tool.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Indicates whether to forcefully delete the tool, even if it is still referenced by agents/examples. * If `force = false`, the deletion will fail if any agents still reference the tool. * If `force = true`, all existing references from agents will be removed and the tool will be deleted."
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the tool to delete."
                        },
                        "etag": {
                          "description": "Optional. The current etag of the tool. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the tool, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "conversations": {
                  "methods": {
                    "batchDelete": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to delete conversations from. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "BatchDeleteConversationsRequest"
                      },
                      "description": "Batch deletes the specified conversations.",
                      "path": "v1/{+parent}/conversations:batchDelete",
                      "id": "ces.projects.locations.apps.conversations.batchDelete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations:batchDelete",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations/{conversationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "source": {
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation.",
                            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
                          ],
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL",
                            "AGENT_TOOL"
                          ],
                          "description": "Optional. Indicate the source of the conversation. If not set, all source will be searched.",
                          "deprecated": true,
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the conversation to retrieve.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/conversations/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of the specified conversation.",
                      "response": {
                        "$ref": "Conversation"
                      },
                      "id": "ces.projects.locations.apps.conversations.get",
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "description": "Lists conversations in the given app.",
                      "response": {
                        "$ref": "ListConversationsResponse"
                      },
                      "id": "ces.projects.locations.apps.conversations.list",
                      "path": "v1/{+parent}/conversations",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListConversations call.",
                          "type": "string",
                          "location": "query"
                        },
                        "sources": {
                          "location": "query",
                          "repeated": true,
                          "type": "string",
                          "description": "Optional. Indicate the sources of the conversations. If not set, all available sources will be applied by default.",
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation.",
                            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
                          ],
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL",
                            "AGENT_TOOL"
                          ]
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
[...]
