{
  "fullyEncodeReservedExpansion": true,
  "version": "v1beta",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "description": "",
  "revision": "20260824",
  "kind": "discovery#restDescription",
  "version_module": true,
  "name": "ces",
  "servicePath": "",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://ces.googleapis.com/",
  "basePath": "",
  "title": "Gemini Enterprise for Customer Experience API",
  "schemas": {
    "ConversationTurn": {
      "type": "object",
      "id": "ConversationTurn",
      "description": "All information about a single turn in the conversation.",
      "properties": {
        "rootSpan": {
          "description": "Optional. The root span of the action processing.",
          "$ref": "Span"
        },
        "messages": {
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "userIntendedText": {
          "type": "string",
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled."
        }
      }
    },
    "GuardrailCodeCallback": {
      "properties": {
        "beforeAgentCallback": {
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "afterAgentCallback": {
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeModelCallback": {
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "afterModelCallback": {
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        }
      },
      "id": "GuardrailCodeCallback",
      "description": "Guardrail that blocks the conversation based on the code callbacks provided.",
      "type": "object"
    },
    "EvaluationDataset": {
      "id": "EvaluationDataset",
      "description": "An evaluation dataset represents a set of evaluations that are grouped together basaed on shared tags.",
      "type": "object",
      "properties": {
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "aggregatedMetrics": {
          "readOnly": true,
          "description": "Output only. The aggregated metrics for this evaluation dataset across all runs.",
          "$ref": "AggregatedMetrics"
        },
        "lastUpdatedBy": {
          "description": "Output only. The user who last updated the evaluation dataset.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. User-defined display name of the evaluation dataset. Unique within an App."
        },
        "name": {
          "description": "Identifier. The unique identifier of this evaluation dataset. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the evaluation dataset was last updated."
        },
        "createdBy": {
          "description": "Output only. The user who created the evaluation dataset.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the evaluation dataset was created."
        },
        "evaluations": {
          "description": "Optional. Evaluations that are included in this dataset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListToolsetsResponse": {
      "properties": {
        "toolsets": {
          "description": "The list of toolsets.",
          "type": "array",
          "items": {
            "$ref": "Toolset"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListToolsetsResponse",
      "description": "Response message for AgentService.ListToolsets."
    },
    "TlsConfig": {
      "properties": {
        "caCerts": {
          "items": {
            "$ref": "TlsConfigCaCert"
          },
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TlsConfig",
      "description": "The TLS configuration."
    },
    "GoogleSearchTool": {
      "id": "GoogleSearchTool",
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search.",
      "type": "object",
      "properties": {
        "preferredDomains": {
          "type": "array",
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified.",
          "items": {
            "type": "string"
          }
        },
        "contextUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed."
        },
        "excludeDomains": {
          "type": "array",
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "promptConfig": {
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice.",
          "$ref": "GoogleSearchToolPromptConfig"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        }
      }
    },
    "AgentSkill": {
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "type": "array"
        },
        "examples": {
          "items": {
            "type": "string"
          },
          "description": "Example prompts or scenarios that this skill can handle.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the skill."
        },
        "outputModes": {
          "items": {
            "type": "string"
          },
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "type": "array"
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "inputModes": {
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AgentSkill",
      "description": "Represents a distinct capability or function that an agent can perform."
    },
    "ImportEvaluationsRequestConversationList": {
      "id": "ImportEvaluationsRequestConversationList",
      "description": "A list of conversation resource names.",
      "type": "object",
      "properties": {
        "conversations": {
          "description": "Optional. Conversation resource names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LfA2aV1PasswordOAuthFlow": {
      "id": "LfA2aV1PasswordOAuthFlow",
      "description": "Deprecated: Use Authorization Code + PKCE or Device Code.",
      "type": "object",
      "properties": {
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object"
        }
      }
    },
    "Image": {
      "id": "Image",
      "description": "Represents an image input or output in the conversation.",
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes of the image."
        }
      }
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters."
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        },
        "trafficPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100."
        }
      },
      "type": "object",
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "description": "Traffic allocation for the version release."
    },
    "ExecuteToolResponse": {
      "properties": {
        "tool": {
          "type": "string",
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the Google Search Tool during the tool execution.",
          "$ref": "GoogleSearchSuggestions"
        },
        "toolsetTool": {
          "description": "The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "citations": {
          "description": "Citations that provide the source information for the tool's execution.",
          "$ref": "Citations"
        },
        "variables": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The variable values at the end of the tool execution."
        },
        "response": {
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "ExecuteToolResponse",
      "description": "Response message for ToolService.ExecuteTool.",
      "type": "object"
    },
    "ImportEvaluationsOperationMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "type": "object",
      "id": "ImportEvaluationsOperationMetadata",
      "description": "Represents the metadata of the long-running operation for EvaluationService.ImportEvaluations."
    },
    "LfA2aV1TaskStatusUpdateEvent": {
      "properties": {
        "taskId": {
          "description": "Required. The ID of the task that has changed.",
          "type": "string"
        },
        "status": {
          "description": "Required. The new status of the task.",
          "$ref": "LfA2aV1TaskStatus"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Metadata associated with the task update."
        },
        "contextId": {
          "description": "Required. The ID of the context that the task belongs to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LfA2aV1TaskStatusUpdateEvent",
      "description": "An event sent by the agent to notify the client of a change in a task's status."
    },
    "LatencyReportLatencyMetrics": {
      "properties": {
        "p90Latency": {
          "description": "Output only. The 90th percentile latency.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "callCount": {
          "description": "Output only. The number of times the resource was called.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "p50Latency": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The 50th percentile latency."
        },
        "p99Latency": {
          "description": "Output only. The 99th percentile latency.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "LatencyReportLatencyMetrics",
      "description": "Latency metrics for a component.",
      "type": "object"
    },
    "AggregatedMetricsTurnLatencyMetrics": {
      "properties": {
        "averageLatency": {
          "description": "Output only. The average latency of the turns.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "AggregatedMetricsTurnLatencyMetrics",
      "description": "Metrics for turn latency.",
      "type": "object"
    },
    "LfA2aV1OpenIdConnectSecurityScheme": {
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "openIdConnectUrl": {
          "description": "Required. The [OpenID Connect Discovery URL](https://openid.net/specs/openid-connect-discovery-1_0.html) for the OIDC provider's metadata.",
          "type": "string"
        }
      },
      "id": "LfA2aV1OpenIdConnectSecurityScheme",
      "description": "Defines a security scheme using OpenID Connect.",
      "type": "object"
    },
    "ApiAuthentication": {
      "properties": {
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        },
        "serviceAgentIdTokenAuthConfig": {
          "description": "Optional. Config for ID token auth generated from CES service agent.",
          "$ref": "ServiceAgentIdTokenAuthConfig"
        },
        "apiKeyConfig": {
          "description": "Optional. Config for API key auth.",
          "$ref": "ApiKeyConfig"
        },
        "bearerTokenConfig": {
          "description": "Optional. Config for bearer token auth.",
          "$ref": "BearerTokenConfig"
        },
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        }
      },
      "id": "ApiAuthentication",
      "description": "Authentication information required for API calls.",
      "type": "object"
    },
    "RedactionConfig": {
      "id": "RedactionConfig",
      "description": "Configuration to instruct how sensitive data should be handled.",
      "type": "object",
      "properties": {
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        },
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        }
      }
    },
    "GuardrailModelSafety": {
      "id": "GuardrailModelSafety",
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe.",
      "type": "object",
      "properties": {
        "safetySettings": {
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          },
          "description": "Required. List of safety settings.",
          "type": "array"
        }
      }
    },
    "GenerateAppResourceResponseGenerateResultInfo": {
      "properties": {
        "explanation": {
          "type": "string",
          "description": "An explanation of the changes in the generated resource."
        }
      },
      "type": "object",
      "id": "GenerateAppResourceResponseGenerateResultInfo",
      "description": "This provides additional information about the generated result."
    },
    "TriggerActionGenerativeAnswer": {
      "id": "TriggerActionGenerativeAnswer",
      "description": "The agent will immediately respond with a generative answer.",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Required. The prompt to use for the generative answer.",
          "type": "string"
        }
      }
    },
    "WhatsAppCredentials": {
      "properties": {
        "pin": {
          "description": "Required. The 6-digit PIN created by the user for two-step verification.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Required. The phone number to register with WhatsApp."
        },
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "conversationProfileId": {
          "description": "Optional. The Conversation Profile ID to use for the deployment.",
          "type": "string"
        },
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        },
        "businessAccountId": {
          "type": "string",
          "description": "Required. The Business Account ID to use for the phone number."
        }
      },
      "id": "WhatsAppCredentials",
      "description": "Ephemeral Meta credentials for WhatsApp native integration.",
      "type": "object"
    },
    "AggregatedMetricsMetricsByTurn": {
      "id": "AggregatedMetricsMetricsByTurn",
      "description": "Metrics aggregated per turn.",
      "type": "object",
      "properties": {
        "semanticSimilarityMetrics": {
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Metrics for semantic similarity within this turn."
        },
        "turnIndex": {
          "description": "Output only. The turn index (0-based).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "turnLatencyMetrics": {
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Metrics for turn latency within this turn."
        },
        "toolCallLatencyMetrics": {
          "description": "Output only. Metrics for tool call latency within this turn.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          }
        },
        "hallucinationMetrics": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Metrics for hallucination within this turn.",
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          }
        },
        "toolMetrics": {
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Metrics for each tool within this turn."
        }
      }
    },
    "EvaluationRun": {
      "type": "object",
      "id": "EvaluationRun",
      "description": "An evaluation run represents an all the evaluation results from an evaluation execution.",
      "properties": {
        "evaluationRunSummaries": {
          "description": "Output only. Map of evaluation name to EvaluationRunSummary.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "EvaluationRunEvaluationRunSummary"
          }
        },
        "initiatedBy": {
          "description": "Output only. The user who initiated the evaluation run.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the evaluation run was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "optimizationConfig": {
          "description": "Optional. Configuration for running the optimization step after the evaluation run. If not set, the optimization step will not be run.",
          "$ref": "OptimizationConfig"
        },
        "personaRunConfigs": {
          "items": {
            "$ref": "PersonaRunConfig"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The configuration to use for the run per persona."
        },
        "changelog": {
          "description": "Output only. The changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft.",
          "readOnly": true,
          "type": "string"
        },
        "goldenRunMethod": {
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ],
          "description": "Output only. The method used to run the evaluation.",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "config": {
          "description": "Output only. The configuration used in the run.",
          "$ref": "EvaluationConfig",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Evaluation run state is not specified.",
            "Indicates the evaluation run is queued.",
            "Evaluation run is running.",
            "Evaluation run has completed.",
            "The evaluation run has an error.",
            "Evaluation run was cancelled."
          ],
          "description": "Output only. The state of the evaluation run.",
          "enum": [
            "EVALUATION_RUN_STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "COMPLETED",
            "ERROR",
            "CANCELLED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "deprecated": true,
          "description": "Output only. Deprecated: Use error_info instead. Errors encountered during execution.",
          "$ref": "Status",
          "readOnly": true
        },
        "evaluationDataset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The evaluation dataset that this run is associated with. This field is mutually exclusive with `evaluations`. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`"
        },
        "displayName": {
          "description": "Optional. User-defined display name of the evaluation run. default: \" run - \".",
          "type": "string"
        },
        "appVersionDisplayName": {
          "description": "Output only. The display name of the `app_version` that the evaluation ran against.",
          "readOnly": true,
          "type": "string"
        },
        "runCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of times the evaluations inside the run were run."
        },
        "scheduledEvaluationRun": {
          "description": "Output only. The scheduled evaluation run resource name that created this evaluation run. This field is only set if the evaluation run was created by a scheduled evaluation run. Format: `projects/{project}/locations/{location}/apps/{app}/scheduledEvaluationRuns/{scheduled_evaluation_run}`",
          "readOnly": true,
          "type": "string"
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The operation that created this evaluation run. Format: `projects/{project}/locations/{location}/operations/{operation}`"
        },
        "changelogCreateTime": {
          "description": "Output only. The create time of the changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "evaluations": {
          "description": "Output only. The evaluations that are part of this run. The list may contain evaluations of either type. This field is mutually exclusive with `evaluation_dataset`. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "evaluationResults": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The evaluation results that are part of this run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}/results/{result}`",
          "readOnly": true,
          "type": "array"
        },
        "evaluationType": {
          "enumDescriptions": [
            "Evaluation type is not specified.",
            "Golden evaluation.",
            "Scenario evaluation.",
            "Indicates the run includes a mix of golden and scenario evaluations."
          ],
          "description": "Output only. The type of the evaluations in this run.",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "GOLDEN",
            "SCENARIO",
            "MIXED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "progress": {
          "readOnly": true,
          "description": "Output only. The progress of the evaluation run.",
          "$ref": "EvaluationRunProgress"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the evaluation run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`"
        },
        "latencyReport": {
          "description": "Output only. Latency report for the evaluation run.",
          "$ref": "LatencyReport",
          "readOnly": true
        },
        "appVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The app version to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        },
        "errorInfo": {
          "readOnly": true,
          "description": "Output only. Error information for the evaluation run.",
          "$ref": "EvaluationErrorInfo"
        }
      }
    },
    "EvaluationMetricsConfigToolCorrectnessMetricsConfig": {
      "properties": {
        "enableToolCorrectnessMetrics": {
          "description": "Optional. Whether to calculate tool correctness metrics for the evaluation.",
          "type": "boolean"
        }
      },
      "id": "EvaluationMetricsConfigToolCorrectnessMetricsConfig",
      "description": "Configuration for correctness metrics for the evaluation. To disable the metric, set the message but do not set the `enable_tool_correctness_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "type": "object"
    },
    "LatencyReportCallbackLatency": {
      "properties": {
        "stage": {
          "description": "Output only. The stage of the callback.",
          "readOnly": true,
          "type": "string"
        },
        "latencyMetrics": {
          "description": "Output only. The latency metrics for the callback.",
          "$ref": "LatencyReportLatencyMetrics",
          "readOnly": true
        }
      },
      "id": "LatencyReportCallbackLatency",
      "description": "Latency metrics for a single callback.",
      "type": "object"
    },
    "ImportAppRequestImportOptions": {
      "id": "ImportAppRequestImportOptions",
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data.",
      "type": "object",
      "properties": {
        "conflictResolutionStrategy": {
          "type": "string",
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ]
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one."
        }
      }
    },
    "SynthesizeSpeechConfig": {
      "id": "SynthesizeSpeechConfig",
      "description": "Configuration for how the agent response should be synthesized.",
      "type": "object",
      "properties": {
        "voice": {
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech.",
          "type": "string"
        },
        "speakingRate": {
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "type": "number",
          "format": "double"
        },
        "instruction": {
          "description": "Optional. The instruction used to synthesize speech when using a generative model.",
          "type": "string"
        },
        "consentAudioGcsUri": {
          "type": "string",
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the consent audio for voice cloning.",
          "deprecated": true
        },
        "model": {
          "description": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used.",
          "type": "string"
        },
        "voiceSampleGcsUri": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file. Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string"
        }
      }
    },
    "ImportAppResponse": {
      "type": "object",
      "id": "ImportAppResponse",
      "description": "Response message for AgentService.ImportApp.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the app that was imported."
        },
        "warnings": {
          "items": {
            "type": "string"
          },
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here.",
          "type": "array"
        }
      }
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
      "description": "Configuration for default system security settings.",
      "type": "object",
      "properties": {
        "defaultPromptTemplate": {
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TriggerActionRespondImmediately": {
      "properties": {
        "responses": {
          "type": "array",
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly.",
          "items": {
            "$ref": "TriggerActionResponse"
          }
        }
      },
      "type": "object",
      "id": "TriggerActionRespondImmediately",
      "description": "The agent will immediately respond with a preconfigured response."
    },
    "EvaluationResultTaskCompletionResult": {
      "type": "object",
      "id": "EvaluationResultTaskCompletionResult",
      "description": "The result of the task completion check for the conversation.",
      "properties": {
        "score": {
          "description": "Output only. The task completion score. Can be -1, 0, 1",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "explanation": {
          "description": "Output only. The explanation for the task completion score.",
          "readOnly": true,
          "type": "string"
        },
        "label": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The label associated with each score. Score 1: Task Completed Score 0: Task Not Completed Score -1: User Goal Undefined"
        }
      }
    },
    "TransferRule": {
      "id": "TransferRule",
      "description": "Rule for transferring to a specific agent.",
      "type": "object",
      "properties": {
        "deterministicTransfer": {
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met.",
          "$ref": "TransferRuleDeterministicTransfer"
        },
        "childAgent": {
          "type": "string",
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        },
        "direction": {
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "description": "Required. The direction of the transfer.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "type": "string"
        }
      }
    },
    "OpenApiTool": {
      "type": "object",
      "id": "OpenApiTool",
      "description": "A remote API tool defined by an OpenAPI schema.",
      "properties": {
        "openApiSchema": {
          "description": "Required. The OpenAPI schema in JSON or YAML format.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required by the API.",
          "$ref": "ApiAuthentication"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust.",
          "$ref": "TlsConfig"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "name": {
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`.",
          "type": "string"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`."
        }
      }
    },
    "LfA2aV1AgentCard": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Required. A human-readable description of the agent, assisting users and other agents in understanding its purpose. Example: \"Agent that helps users with recipes and cooking.\""
        },
        "defaultInputModes": {
          "items": {
            "type": "string"
          },
          "description": "Required. protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as media types.",
          "type": "array"
        },
        "capabilities": {
          "description": "Required. A2A Capability set supported by the agent.",
          "$ref": "LfA2aV1AgentCapabilities"
        },
        "signatures": {
          "items": {
            "$ref": "LfA2aV1AgentCardSignature"
          },
          "description": "JSON Web Signatures computed for this `AgentCard`.",
          "type": "array"
        },
        "iconUrl": {
          "type": "string",
          "description": "Optional. A URL to an icon for the agent."
        },
        "version": {
          "type": "string",
          "description": "Required. The version of the agent. Example: \"1.0.0\""
        },
        "supportedInterfaces": {
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentInterface"
          }
        },
        "documentationUrl": {
          "description": "A URL providing additional documentation about the agent.",
          "type": "string"
        },
        "defaultOutputModes": {
          "description": "Required. The media types supported as outputs from this agent.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "skills": {
          "items": {
            "$ref": "LfA2aV1AgentSkill"
          },
          "description": "Required. Skills represent the abilities of an agent. It is largely a descriptive concept but represents a more focused set of behaviors that the agent is likely to succeed at.",
          "type": "array"
        },
        "name": {
          "description": "Required. A human readable name for the agent. Example: \"Recipe Agent\"",
          "type": "string"
        },
        "provider": {
          "description": "The service provider of the agent.",
          "$ref": "LfA2aV1AgentProvider"
        },
        "securitySchemes": {
          "description": "The security scheme details used for authenticating with this agent.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LfA2aV1SecurityScheme"
          }
        },
        "securityRequirements": {
          "type": "array",
          "description": "Security requirements for contacting the agent.",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          }
        }
      },
      "id": "LfA2aV1AgentCard",
      "description": "A self-describing manifest for an agent. It provides essential metadata including the agent's identity, capabilities, skills, supported communication methods, and security requirements. Next ID: 20",
      "type": "object"
    },
    "PythonFunction": {
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the Python function, parsed from the python code's docstring."
        },
        "name": {
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used.",
          "type": "string"
        },
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for the tool.",
          "$ref": "ServiceDirectoryConfig"
        }
      },
      "type": "object",
      "id": "PythonFunction",
      "description": "A Python function tool."
    },
    "ExportAppResponse": {
      "properties": {
        "appContent": {
          "description": "App folder compressed as a zip file.",
          "type": "string",
          "format": "byte"
        },
        "appUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExportAppResponse",
      "description": "Response message for AgentService.ExportApp."
    },
    "McpTool": {
      "properties": {
        "customHeaders": {
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "nameOverride": {
          "type": "string",
          "description": "Optional. The name override of the MCP tool. This is populated if the name was overridden by a Toolset override."
        },
        "serverAddress": {
          "type": "string",
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the MCP tool."
        },
        "outputSchema": {
          "description": "Optional. The schema of the output arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "inputSchema": {
          "description": "Optional. The schema of the input arguments of the MCP tool.",
          "$ref": "Schema"
        },
        "name": {
          "description": "Required. The name of the MCP tool.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The dynamic availability state of the tool on the external server.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "STALE"
          ],
          "enumDescriptions": [
            "Default state.",
            "The tool is available and actively offered by the server.",
            "The tool is configured or pinned, but currently not offered by the server.",
            "The tool exists on the server, but does not match the version on the server."
          ]
        }
      },
      "type": "object",
      "id": "McpTool",
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details."
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "type": "number",
          "format": "float",
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0."
        }
      },
      "type": "object",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "description": "Expectation level metrics thresholds."
    },
    "ChannelProfileInstagramConfig": {
      "properties": {
        "thumbnailUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fetched Meta business profile thumbnail URL."
        },
        "instagramAccountId": {
          "description": "Required. The Instagram Account ID.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fetched Meta business page name."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the Meta business page or profile."
        }
      },
      "type": "object",
      "id": "ChannelProfileInstagramConfig",
      "description": "Configuration specific to Instagram deployments."
    },
    "EvaluationMetricsConfig": {
      "properties": {
        "goldenMetricsConfig": {
          "description": "Optional. Configuration for the golden metrics for the evaluation.",
          "$ref": "EvaluationMetricsConfigGoldenMetricsConfig"
        },
        "scenarioMetricsConfig": {
          "description": "Optional. Configuration for the scenario metrics for the evaluation.",
          "$ref": "EvaluationMetricsConfigScenarioMetricsConfig"
        }
      },
      "id": "EvaluationMetricsConfig",
      "description": "Configures the metrics for an evaluation.",
      "type": "object"
    },
    "Schema": {
      "type": "object",
      "id": "Schema",
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "properties": {
        "maximum": {
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "type": "number",
          "format": "double"
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the data.",
          "type": "string"
        },
        "anyOf": {
          "type": "array",
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "items": {
            "$ref": "Schema"
          }
        },
        "minimum": {
          "type": "number",
          "format": "double",
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER."
        },
        "properties": {
          "additionalProperties": {
            "$ref": "Schema"
          },
          "type": "object",
          "description": "Optional. Properties of Type.OBJECT."
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Indicates if the value may be null."
        },
        "maxItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Maximum number of the elements for Type.ARRAY."
        },
        "defs": {
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "prefixItems": {
          "description": "Optional. Schemas of initial elements of Type.ARRAY.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        },
        "ref": {
          "type": "string",
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring."
        },
        "uniqueItems": {
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY.",
          "type": "boolean"
        },
        "enum": {
          "type": "array",
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "items": {
            "type": "string"
          }
        },
        "minItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Minimum number of the elements for Type.ARRAY."
        },
        "type": {
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "type": "string",
          "description": "Required. The type of the data.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ]
        },
        "required": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Required properties of Type.OBJECT."
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "additionalProperties": {
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties.",
          "$ref": "Schema"
        }
      }
    },
    "ChannelProfileWebWidgetConfig": {
      "id": "ChannelProfileWebWidgetConfig",
      "description": "Message for configuration for the web widget.",
      "type": "object",
      "properties": {
        "theme": {
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "type": "string",
          "description": "Optional. The theme of the web widget.",
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ]
        },
        "securitySettings": {
          "description": "Optional. The security settings of the web widget.",
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings"
        },
        "modality": {
          "type": "string",
          "description": "Optional. The modality of the web widget.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ],
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ]
        },
        "webWidgetTitle": {
          "type": "string",
          "description": "Optional. The title of the web widget."
        }
      }
    },
    "PersonaRunConfig": {
      "id": "PersonaRunConfig",
      "description": "Configuration for running an evaluation for a specific persona.",
      "type": "object",
      "properties": {
        "taskCount": {
          "description": "Optional. The number of tasks to run for the persona.",
          "type": "integer",
          "format": "int32"
        },
        "persona": {
          "type": "string",
          "description": "Optional. The persona to use for the evaluation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationPersonas/{evaluationPersona}`"
        }
      }
    },
    "Conversation": {
      "id": "Conversation",
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "type": "object",
      "properties": {
        "appVersion": {
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The language code of the conversation."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`"
        },
        "turns": {
          "type": "array",
          "description": "Required. The turns in the conversation.",
          "items": {
            "$ref": "ConversationTurn"
          }
        },
        "messages": {
          "type": "array",
          "description": "Deprecated. Use turns instead.",
          "deprecated": true,
          "items": {
            "$ref": "Message"
          }
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conversation was completed."
        },
        "turnCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of turns in the conversation."
        },
        "source": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "description": "Output only. Indicate the source of the conversation.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ]
        },
        "channelType": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "description": "DEPRECATED. Please use input_types instead.",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ]
        },
        "entryAgent": {
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Timestamp when the conversation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "inputTypes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The input types of the conversation.",
          "items": {
            "type": "string",
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ]
          }
        },
        "deployment": {
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "McpToolOverride": {
      "type": "object",
      "id": "McpToolOverride",
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "properties": {
        "nameOverride": {
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools.",
          "type": "string"
        },
        "tool": {
          "description": "Required. The original name of the tool as it is emitted by the MCP server.",
          "type": "string"
        },
        "snapshot": {
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present.",
          "$ref": "McpToolDefinition",
          "readOnly": true
        },
        "descriptionOverride": {
          "type": "string",
          "description": "Optional. If present, this tool uses this description instead of the original description from the server."
        }
      }
    },
    "AmbientSoundConfig": {
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
        },
        "prebuiltAmbientSound": {
          "type": "string",
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\""
        },
        "prebuiltAmbientNoise": {
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "deprecated": true,
          "type": "string"
        },
        "volumeGainDb": {
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "AmbientSoundConfig",
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "type": "object"
    },
    "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfig": {
      "type": "object",
      "id": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfig",
      "description": "The configuration to be used to generate an Open API schema.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The base uri of the tool."
        },
        "operationGenerationConfigs": {
          "description": "Required. The list of operations to be added to the Open API schema.",
          "type": "array",
          "items": {
            "$ref": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfigOperationGenerationConfig"
          }
        }
      }
    },
    "EvaluationResultScenarioExpectationOutcomeObservedToolCall": {
      "type": "object",
      "id": "EvaluationResultScenarioExpectationOutcomeObservedToolCall",
      "description": "The observed tool call and response.",
      "properties": {
        "toolResponse": {
          "readOnly": true,
          "description": "Output only. The observed tool response.",
          "$ref": "ToolResponse"
        },
        "toolCall": {
          "readOnly": true,
          "description": "Output only. The observed tool call.",
          "$ref": "ToolCall"
        }
      }
    },
    "DataStoreTool": {
      "properties": {
        "dataStoreSource": {
          "description": "Optional. Search within a single specific DataStore.",
          "$ref": "DataStoreToolDataStoreSource"
        },
        "filterParameterBehavior": {
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ],
          "type": "string",
          "description": "Optional. The filter parameter behavior.",
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ]
        },
        "boostSpecs": {
          "type": "array",
          "description": "Optional. Boost specification to boost certain documents.",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          }
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "engineSource": {
          "description": "Optional. Search within an Engine (potentially across multiple DataStores).",
          "$ref": "DataStoreToolEngineSource"
        },
        "name": {
          "description": "Required. The data store tool name.",
          "type": "string"
        },
        "modalityConfigs": {
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          },
          "description": "Optional. The modality configs for the data store.",
          "type": "array"
        }
      },
      "id": "DataStoreTool",
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "type": "object"
    },
    "TriggerActionResponse": {
      "type": "object",
      "id": "TriggerActionResponse",
      "description": "Represents a response from the agent.",
      "properties": {
        "disabled": {
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent.",
          "type": "boolean"
        },
        "text": {
          "type": "string",
          "description": "Required. Text for the agent to respond with."
        }
      }
    },
    "AgentCard": {
      "type": "object",
      "id": "AgentCard",
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard",
      "properties": {
        "supportedInterfaces": {
          "items": {
            "$ref": "AgentInterface"
          },
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array"
        },
        "skills": {
          "type": "array",
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "items": {
            "$ref": "AgentSkill"
          }
        },
        "description": {
          "type": "string",
          "description": "Required. A description of the agent's domain of action/solution space."
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the agent."
        },
        "version": {
          "type": "string",
          "description": "Required. The version of the agent."
        }
      }
    },
    "TestPersonaVoiceRequest": {
      "type": "object",
      "id": "TestPersonaVoiceRequest",
      "description": "Request message for EvaluationService.TestPersonaVoice.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The text to test the voice for."
        },
        "personaId": {
          "description": "Required. The persona ID to test the voice for. Also accepts \"default\".",
          "type": "string"
        }
      }
    },
    "GenerateAppResourceRequestToolGenerationConfig": {
      "id": "GenerateAppResourceRequestToolGenerationConfig",
      "description": "The configuration to be used to generate a tool.",
      "type": "object",
      "properties": {
        "fileContexts": {
          "type": "array",
          "description": "Optional. The files to be used as context.",
          "items": {
            "$ref": "FileContext"
          }
        },
        "context": {
          "type": "string",
          "description": "Optional. The context which describes the tool to be generated. This can be empty if the tool request & response are provided."
        },
        "openApiToolsetGenerationConfig": {
          "description": "Optional. The configuration to be used to generate an Open API schema.",
          "$ref": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfig"
        }
      }
    },
    "ListChangelogsResponse": {
      "id": "ListChangelogsResponse",
      "description": "Response message for AgentService.ListChangelogs.",
      "type": "object",
      "properties": {
        "changelogs": {
          "description": "The list of changelogs.",
          "type": "array",
          "items": {
            "$ref": "Changelog"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "RunEvaluationResultMetricsResponse": {
      "properties": {
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the evaluation result metrics calculation.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ]
        }
      },
      "id": "RunEvaluationResultMetricsResponse",
      "description": "Response message for EvaluationService.RunEvaluationResultMetrics.",
      "type": "object"
    },
    "TriggerActionTransferAgent": {
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      },
      "id": "TriggerActionTransferAgent",
      "description": "The agent will transfer the conversation to a different agent.",
      "type": "object"
    },
    "LfA2aV1ClientCredentialsOAuthFlow": {
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "type": "object"
        },
        "tokenUrl": {
          "description": "Required. The token URL to be used for this flow.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LfA2aV1ClientCredentialsOAuthFlow",
      "description": "Defines configuration details for the OAuth 2.0 Client Credentials flow."
    },
    "FileSearchTool": {
      "properties": {
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        },
        "name": {
          "description": "Required. The tool name.",
          "type": "string"
        },
        "corpusType": {
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "type": "string",
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        }
      },
      "id": "FileSearchTool",
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "type": "object"
    },
    "RetrieveToolSchemaRequest": {
      "type": "object",
      "id": "RetrieveToolSchemaRequest",
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        }
      }
    },
    "ToolCall": {
      "type": "object",
      "id": "ToolCall",
      "description": "Request for the client or the agent to execute the specified tool.",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "id": {
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse.",
          "type": "string"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute.",
          "$ref": "ToolsetTool"
        },
        "agentName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the tool."
        },
        "parentToolCallId": {
          "description": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling.",
          "readOnly": true,
          "type": "string"
        },
        "args": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "type": "object"
        }
      }
    },
    "MockConfig": {
      "properties": {
        "mockedToolCalls": {
          "type": "array",
          "description": "Optional. All tool calls to mock for the duration of the session.",
          "items": {
            "$ref": "MockedToolCall"
          }
        },
        "unmatchedToolCallBehavior": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "type": "string",
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls.",
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ]
        }
      },
      "type": "object",
      "id": "MockConfig",
      "description": "Mock tool calls configuration for the session."
    },
    "ErrorHandlingSettingsFallbackResponseConfig": {
      "id": "ErrorHandlingSettingsFallbackResponseConfig",
      "description": "Configuration for handling fallback responses.",
      "type": "object",
      "properties": {
        "customFallbackMessages": {
          "type": "object",
          "description": "Optional. The fallback messages in case of system errors (e.g. LLM errors), mapped by [supported language code](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/reference/language).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maxFallbackAttempts": {
          "description": "Optional. The maximum number of fallback attempts to make before the agent emitting EndSession Signal.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ExportEvaluationsResponse": {
      "properties": {
        "evaluationsUri": {
          "description": "The Google Cloud Storage URI folder where the exported evaluations were written. This will be populated if gcs_uri was specified in the request.",
          "type": "string"
        },
        "failedEvaluations": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. A map of evaluation resource names that could not be exported, to the reason why they failed."
        },
        "evaluationsContent": {
          "type": "string",
          "format": "byte",
          "description": "The content of the exported Evaluations. This will be populated if gcs_uri was not specified in the request."
        }
      },
      "id": "ExportEvaluationsResponse",
      "description": "Response message for EvaluationService.ExportEvaluations.",
      "type": "object"
    },
    "AgentAgentToolset": {
      "properties": {
        "toolIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The tools IDs to filter the toolset."
        },
        "toolset": {
          "type": "string",
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        }
      },
      "id": "AgentAgentToolset",
      "description": "A toolset with a selection of its tools.",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListDeploymentsResponse",
      "description": "Response message for AgentService.ListDeployments."
    },
    "TlsConfigCaCert": {
      "type": "object",
      "id": "TlsConfigCaCert",
      "description": "The CA certificate.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates."
        },
        "cert": {
          "type": "string",
          "format": "byte",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "MetricAnalysisSettings": {
      "properties": {
        "llmMetricsOptedOut": {
          "type": "boolean",
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected."
        }
      },
      "type": "object",
      "id": "MetricAnalysisSettings",
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline."
    },
    "Toolset": {
      "id": "Toolset",
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the toolset. Must be unique within the same app."
        },
        "etag": {
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "executionType": {
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "type": "string",
          "description": "Optional. The execution type of the tools in the toolset.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the toolset."
        },
        "timeout": {
          "description": "Optional. The timeout for the toolset execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` toolsets and 60 seconds for `ASYNCHRONOUS` toolsets.",
          "type": "string",
          "format": "google-duration"
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tools behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "openApiToolset": {
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema.",
          "$ref": "OpenApiToolset"
        },
        "connectorToolset": {
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection.",
          "$ref": "ConnectorToolset"
        },
        "createTime": {
          "description": "Output only. Timestamp when the toolset was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "mcpToolset": {
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server.",
          "$ref": "McpToolset"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the toolset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AggregatedMetricsToolCallLatencyMetrics": {
      "properties": {
        "tool": {
          "description": "Output only. The name of the tool.",
          "readOnly": true,
          "type": "string"
        },
        "averageLatency": {
          "description": "Output only. The average latency of the tool calls.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "AggregatedMetricsToolCallLatencyMetrics",
      "description": "Metrics for tool call latency.",
      "type": "object"
    },
    "Blob": {
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes of the blob."
        }
      },
      "type": "object",
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation."
    },
    "ImportAppRequest": {
      "type": "object",
      "id": "ImportAppRequest",
      "description": "Request message for AgentService.ImportApp.",
      "properties": {
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "jsonPatchGcsUri": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI pointing to a JSON file containing the patches."
        },
        "appId": {
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced.",
          "type": "string"
        },
        "appContent": {
          "type": "string",
          "format": "byte",
          "description": "Raw bytes representing the compressed zip file with the app folder structure."
        },
        "ignoreAppLock": {
          "type": "boolean",
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock."
        },
        "jsonPatchContent": {
          "type": "string",
          "description": "Optional. Patch content as a JSON string."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error."
        },
        "importOptions": {
          "description": "Optional. Options governing the import process for the app.",
          "$ref": "ImportAppRequestImportOptions"
        }
      }
    },
    "ActionEntityOperation": {
      "properties": {
        "operation": {
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ],
          "type": "string",
          "description": "Required. Operation to perform on the entity.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        },
        "entityId": {
          "description": "Required. ID of the entity.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ActionEntityOperation",
      "description": "Entity CRUD operation specification."
    },
    "LfA2aV1DeviceCodeOAuthFlow": {
      "type": "object",
      "id": "LfA2aV1DeviceCodeOAuthFlow",
      "description": "Defines configuration details for the OAuth 2.0 Device Code flow (RFC 8628). This flow is designed for input-constrained devices such as IoT devices, and CLI tools where the user authenticates on a separate device.",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deviceAuthorizationUrl": {
          "type": "string",
          "description": "Required. The device authorization endpoint URL."
        },
        "tokenUrl": {
          "description": "Required. The token URL to be used for this flow.",
          "type": "string"
        }
      }
    },
    "ModelSettings": {
      "type": "object",
      "id": "ModelSettings",
      "description": "Model settings contains various configurations for the LLM model.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent."
        },
        "temperature": {
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "BargeInConfig": {
      "id": "BargeInConfig",
[...]
