{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://ces.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "revision": "20260806",
  "basePath": "",
  "id": "ces:v1",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "name": "ces",
  "servicePath": "",
  "batchPath": "batch",
  "title": "Gemini Enterprise for Customer Experience API",
  "version_module": true,
  "ownerName": "Google",
  "schemas": {
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object"
    },
    "DataStoreToolModalityConfig": {
      "type": "object",
      "id": "DataStoreToolModalityConfig",
      "description": "If specified, will apply the given configuration for the specified modality.",
      "properties": {
        "modalityType": {
          "type": "string",
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Required. The modality type.",
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ]
        },
        "summarizationConfig": {
          "$ref": "DataStoreToolSummarizationConfig",
          "description": "Optional. The summarization config."
        },
        "snippetsConfig": {
          "$ref": "DataStoreToolSnippetsConfig",
          "description": "Optional. The snippets configuration."
        },
        "rewriterConfig": {
          "$ref": "DataStoreToolRewriterConfig",
          "description": "Optional. The rewriter config."
        },
        "groundingConfig": {
          "description": "Optional. The grounding configuration.",
          "$ref": "DataStoreToolGroundingConfig"
        }
      }
    },
    "LfA2aV1OAuthFlows": {
      "id": "LfA2aV1OAuthFlows",
      "description": "Defines the configuration for the supported OAuth 2.0 flows.",
      "properties": {
        "clientCredentials": {
          "description": "Configuration for the OAuth Client Credentials flow.",
          "$ref": "LfA2aV1ClientCredentialsOAuthFlow"
        },
        "password": {
          "description": "Deprecated: Use Authorization Code + PKCE or Device Code.",
          "deprecated": true,
          "$ref": "LfA2aV1PasswordOAuthFlow"
        },
        "implicit": {
          "description": "Deprecated: Use Authorization Code + PKCE instead.",
          "deprecated": true,
          "$ref": "LfA2aV1ImplicitOAuthFlow"
        },
        "authorizationCode": {
          "$ref": "LfA2aV1AuthorizationCodeOAuthFlow",
          "description": "Configuration for the OAuth Authorization Code flow."
        },
        "deviceCode": {
          "$ref": "LfA2aV1DeviceCodeOAuthFlow",
          "description": "Configuration for the OAuth Device Code flow."
        }
      },
      "type": "object"
    },
    "Citations": {
      "type": "object",
      "id": "Citations",
      "description": "Citations associated with the agent response.",
      "properties": {
        "citedChunks": {
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "type": "array",
          "description": "List of cited pieces of information."
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ToolResponses": {
      "id": "ToolResponses",
      "description": "Execution results for the requested tool calls from the client.",
      "properties": {
        "toolResponses": {
          "items": {
            "$ref": "ToolResponse"
          },
          "type": "array",
          "description": "Optional. The list of tool execution results."
        }
      },
      "type": "object"
    },
    "TlsConfigCaCert": {
      "id": "TlsConfigCaCert",
      "description": "The CA certificate.",
      "properties": {
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        },
        "cert": {
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "type": "object",
      "id": "ChannelProfileWebWidgetConfigSecuritySettings",
      "description": "Security settings for the web widget.",
      "properties": {
        "enableOriginCheck": {
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enablePublicAccess": {
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent.",
          "type": "boolean"
        },
        "enableRecaptcha": {
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled.",
          "type": "boolean"
        }
      }
    },
    "ConversationTurn": {
      "id": "ConversationTurn",
      "description": "All information about a single turn in the conversation.",
      "properties": {
        "rootSpan": {
          "description": "Optional. The root span of the action processing.",
          "$ref": "Span"
        },
        "userIntendedText": {
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled.",
          "type": "string"
        },
        "messages": {
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "templateAttributes": {
          "type": "object",
          "description": "Optional. Variables or configurations referenced by the template engine during dynamic prompt generation. This allows reconstructing the exact prompt sent to the model for this turn.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "resolvedDeveloperInstruction": {
          "description": "Output only. The full dynamically resolved developer instruction generated from templates. This field is only populated on-demand when requested during history retrieval. It is not persisted.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClientFunction": {
      "id": "ClientFunction",
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent.",
      "properties": {
        "description": {
          "description": "Optional. The function description.",
          "type": "string"
        },
        "name": {
          "description": "Required. The function name.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. The schema of the function parameters.",
          "$ref": "Schema"
        },
        "response": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function response."
        }
      },
      "type": "object"
    },
    "ListAppsResponse": {
      "id": "ListAppsResponse",
      "description": "Response message for AgentService.ListApps.",
      "properties": {
        "apps": {
          "items": {
            "$ref": "App"
          },
          "type": "array",
          "description": "The list of apps."
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Toolset": {
      "type": "object",
      "id": "Toolset",
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent.",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when the toolset was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "executionType": {
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tools in the toolset.",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the toolset. Must be unique within the same app.",
          "type": "string"
        },
        "connectorToolset": {
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection.",
          "$ref": "ConnectorToolset"
        },
        "description": {
          "description": "Optional. The description of the toolset.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the toolset was last updated.",
          "readOnly": true
        },
        "mcpToolset": {
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server.",
          "$ref": "McpToolset"
        },
        "openApiToolset": {
          "$ref": "OpenApiToolset",
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema."
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tools behavior in fake mode."
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout for the toolset execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` toolsets and 60 seconds for `ASYNCHRONOUS` toolsets."
        }
      }
    },
    "ExecuteToolResponse": {
      "type": "object",
      "id": "ExecuteToolResponse",
      "description": "Response message for ToolService.ExecuteTool.",
      "properties": {
        "response": {
          "type": "object",
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tool": {
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "citations": {
          "description": "Citations that provide the source information for the tool's execution.",
          "$ref": "Citations"
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the Google Search Tool during the tool execution.",
          "$ref": "GoogleSearchSuggestions"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "The toolset tool that got executed."
        },
        "variables": {
          "type": "object",
          "description": "The variable values at the end of the tool execution.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ExportAppResponse": {
      "id": "ExportAppResponse",
      "description": "Response message for AgentService.ExportApp.",
      "properties": {
        "appContent": {
          "format": "byte",
          "type": "string",
          "description": "App folder compressed as a zip file."
        },
        "appUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppSnapshot": {
      "id": "AppSnapshot",
      "description": "A snapshot of the app.",
      "properties": {
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "examples": {
          "description": "Optional. List of examples in the app.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        },
        "toolsets": {
          "description": "Optional. List of toolsets in the app.",
          "type": "array",
          "items": {
            "$ref": "Toolset"
          }
        },
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array",
          "description": "Optional. List of guardrails in the app."
        },
        "tools": {
          "description": "Optional. List of tools in the app.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "agents": {
          "description": "Optional. List of agents in the app.",
          "type": "array",
          "items": {
            "$ref": "Agent"
          }
        }
      },
      "type": "object"
    },
    "AgentRemoteDialogflowAgent": {
      "type": "object",
      "id": "AgentRemoteDialogflowAgent",
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent.",
      "properties": {
        "flowId": {
          "description": "Optional. The flow ID of the flow in the Dialogflow agent.",
          "type": "string"
        },
        "respectResponseInterruptionSettings": {
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings.",
          "type": "boolean"
        },
        "agent": {
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "environmentId": {
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used.",
          "type": "string"
        },
        "inputVariableMapping": {
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "languageCodeVariable": {
          "description": "Optional. The name of the variable that contains the language code to be used for the Dialogflow session. If unspecified, the default language code of the Dialogflow agent will be used.",
          "type": "string"
        },
        "outputVariableMapping": {
          "type": "object",
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleSearchToolPromptConfig": {
      "id": "GoogleSearchToolPromptConfig",
      "description": "Prompt settings used by the model when processing or summarizing the google search results.",
      "properties": {
        "textPrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used.",
          "type": "string"
        },
        "voicePrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ServiceDirectoryConfig": {
      "type": "object",
      "id": "ServiceDirectoryConfig",
      "description": "Configuration for tools using Service Directory.",
      "properties": {
        "service": {
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app.",
          "type": "string"
        }
      }
    },
    "SystemTool": {
      "id": "SystemTool",
      "description": "Pre-defined system tool.",
      "properties": {
        "name": {
          "description": "Required. The name of the system tool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the system tool.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GenerateChatTokenResponse": {
      "id": "GenerateChatTokenResponse",
      "description": "Response message for WidgetService.GenerateChatToken.",
      "properties": {
        "chatToken": {
          "description": "The session scoped token for chat widget to authenticate with Session APIs.",
          "type": "string"
        },
        "expireTime": {
          "description": "The time at which the chat token expires.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "RetrieveToolSchemaRequest": {
      "id": "RetrieveToolSchemaRequest",
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "properties": {
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        }
      },
      "type": "object"
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "type": "object",
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "properties": {
        "payload": {
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "webhookHeaders": {
          "type": "object",
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endUserMetadata": {
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "AudioRecordingConfig": {
      "type": "object",
      "id": "AudioRecordingConfig",
      "description": "Configuration for how the audio interactions should be recorded.",
      "properties": {
        "gcsBucket": {
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "gcsPathPrefix": {
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used.",
          "type": "string"
        }
      }
    },
    "ToolFakeConfig": {
      "type": "object",
      "id": "ToolFakeConfig",
      "description": "Configuration for tool behavior in fake mode.",
      "properties": {
        "enableFakeMode": {
          "description": "Optional. Whether the tool is using fake mode.",
          "type": "boolean"
        },
        "codeBlock": {
          "$ref": "CodeBlock",
          "description": "Optional. Code block which will be executed instead of a real tool call."
        }
      }
    },
    "TimeZoneSettings": {
      "id": "TimeZoneSettings",
      "description": "TimeZone settings of the app.",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExportAppRequest": {
      "type": "object",
      "id": "ExportAppRequest",
      "description": "Request message for AgentService.ExportApp.",
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "description": "Required. The format to export the app in.",
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "type": "string"
        },
        "gcsUri": {
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object.",
          "type": "string"
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`.",
          "type": "string"
        }
      }
    },
    "TriggerAction": {
      "type": "object",
      "id": "TriggerAction",
      "description": "Action that is taken when a certain precondition is met.",
      "properties": {
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        },
        "transferAgent": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "TriggerActionTransferAgent"
        },
        "respondImmediately": {
          "description": "Optional. Immediately respond with a preconfigured response.",
          "$ref": "TriggerActionRespondImmediately"
        }
      }
    },
    "App": {
      "id": "App",
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context.",
      "properties": {
        "metadata": {
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "evaluationMetricsThresholds": {
          "description": "Optional. The evaluation thresholds for the app.",
          "$ref": "EvaluationMetricsThresholds"
        },
        "toolExecutionMode": {
          "type": "string",
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ],
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL.",
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app was last updated.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Human-readable description of the app.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the app.",
          "type": "string"
        },
        "vpcScSettings": {
          "description": "Optional. VPC-SC settings for the app.",
          "$ref": "VpcScSettings"
        },
        "predefinedVariableDeclarations": {
          "readOnly": true,
          "description": "Output only. The declarations of predefined variables for the app.",
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "type": "array"
        },
        "rootAgent": {
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "audioProcessingConfig": {
          "$ref": "AudioProcessingConfig",
          "description": "Optional. Audio processing configuration of the app."
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "locked": {
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected.",
          "type": "boolean"
        },
        "pinned": {
          "description": "Optional. Whether the app is pinned in the app list.",
          "type": "boolean"
        },
        "dataStoreSettings": {
          "$ref": "DataStoreSettings",
          "description": "Optional. The data store settings for the app."
        },
        "validationErrors": {
          "description": "Output only. Misconfigurations or warnings in the app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languageSettings": {
          "$ref": "LanguageSettings",
          "description": "Optional. Language settings of the app."
        },
        "defaultChannelProfile": {
          "$ref": "ChannelProfile",
          "description": "Optional. The default channel profile used by the app."
        },
        "clientCertificateSettings": {
          "$ref": "ClientCertificateSettings",
          "description": "Optional. The default client certificate settings for the app."
        },
        "modelSettings": {
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed.",
          "$ref": "ModelSettings"
        },
        "timeZoneSettings": {
          "$ref": "TimeZoneSettings",
          "description": "Optional. TimeZone settings of the app."
        },
        "variableDeclarations": {
          "type": "array",
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "description": "Optional. The declarations of the variables."
        },
        "guardrails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the app was created."
        },
        "errorHandlingSettings": {
          "description": "Optional. Error handling settings of the app.",
          "$ref": "ErrorHandlingSettings"
        },
        "deploymentCount": {
          "description": "Output only. Number of deployments in the app.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
          "type": "string"
        },
        "loggingSettings": {
          "$ref": "LoggingSettings",
          "description": "Optional. Logging settings of the app."
        },
        "globalInstruction": {
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClientCertificateSettings": {
      "type": "object",
      "id": "ClientCertificateSettings",
      "description": "Settings for custom client certificates.",
      "properties": {
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        },
        "privateKey": {
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        }
      }
    },
    "DataStore": {
      "id": "DataStore",
      "description": "A DataStore resource in Vertex AI Search.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "readOnly": true,
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ],
          "description": "Output only. The type of the data store. This field is readonly and populated by the server."
        },
        "connectorConfig": {
          "description": "Output only. The connector config for the data store connection.",
          "readOnly": true,
          "$ref": "DataStoreConnectorConfig"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the data store was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`",
          "type": "string"
        },
        "documentProcessingMode": {
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "readOnly": true,
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ]
        },
        "displayName": {
          "description": "Output only. The display name of the data store.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "LfA2aV1AgentCapabilities": {
      "type": "object",
      "id": "LfA2aV1AgentCapabilities",
      "description": "Defines optional capabilities supported by an agent.",
      "properties": {
        "pushNotifications": {
          "description": "Indicates if the agent supports sending push notifications for asynchronous task updates.",
          "type": "boolean"
        },
        "streaming": {
          "description": "Indicates if the agent supports streaming responses.",
          "type": "boolean"
        },
        "extensions": {
          "description": "A list of protocol extensions supported by the agent.",
          "items": {
            "$ref": "LfA2aV1AgentExtension"
          },
          "type": "array"
        },
        "extendedAgentCard": {
          "description": "Indicates if the agent supports providing an extended agent card when authenticated.",
          "type": "boolean"
        }
      }
    },
    "LfA2aV1TaskStatus": {
      "type": "object",
      "id": "LfA2aV1TaskStatus",
      "description": "A container for the status of a task",
      "properties": {
        "timestamp": {
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "format": "google-datetime",
          "type": "string"
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message associated with the status."
        },
        "state": {
          "description": "Required. The current state of this task.",
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ],
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "type": "string"
        }
      }
    },
    "ChannelProfileWebWidgetConfig": {
      "type": "object",
      "id": "ChannelProfileWebWidgetConfig",
      "description": "Message for configuration for the web widget.",
      "properties": {
        "webWidgetTitle": {
          "description": "Optional. The title of the web widget.",
          "type": "string"
        },
        "securitySettings": {
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings",
          "description": "Optional. The security settings of the web widget."
        },
        "modality": {
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ],
          "description": "Optional. The modality of the web widget.",
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ],
          "type": "string"
        },
        "theme": {
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ],
          "description": "Optional. The theme of the web widget.",
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "type": "string"
        }
      }
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "type": "object",
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "description": "Traffic allocation for the version release.",
      "properties": {
        "trafficPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100."
        },
        "appVersion": {
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "id": {
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "Changelog": {
      "id": "Changelog",
      "description": "Changelogs represent a change made to the app or to an resource within the app.",
      "properties": {
        "newResource": {
          "readOnly": true,
          "description": "Output only. The new resource after the change.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource.",
          "type": "string"
        },
        "originalResource": {
          "type": "object",
          "description": "Output only. The original resource before the change.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed."
        },
        "dependentResources": {
          "readOnly": true,
          "description": "Output only. The dependent resources that were changed.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the change was made."
        },
        "resourceType": {
          "readOnly": true,
          "description": "Output only. The type of the resource that was changed.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Output only. The action that was performed on the resource.",
          "readOnly": true
        },
        "sequenceNumber": {
          "readOnly": true,
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "format": "int64",
          "type": "string"
        },
        "resource": {
          "description": "Output only. The resource that was changed.",
          "readOnly": true,
          "type": "string"
        },
        "author": {
          "type": "string",
          "description": "Output only. Email address of the change author.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SessionOutputDiagnosticInfo": {
      "id": "SessionOutputDiagnosticInfo",
      "description": "Contains execution details during the processing.",
      "properties": {
        "rootSpan": {
          "$ref": "Span",
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "List of the messages that happened during the processing."
        }
      },
      "type": "object"
    },
    "ListAppVersionsResponse": {
      "id": "ListAppVersionsResponse",
      "description": "Response message for AgentService.ListAppVersions.",
      "properties": {
        "appVersions": {
          "description": "The list of app versions.",
          "type": "array",
          "items": {
            "$ref": "AppVersion"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GuardrailCodeCallback": {
      "type": "object",
      "id": "GuardrailCodeCallback",
      "description": "Guardrail that blocks the conversation based on the code callbacks provided.",
      "properties": {
        "beforeAgentCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "afterModelCallback": {
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "beforeModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "afterAgentCallback": {
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        }
      }
    },
    "RunSessionResponse": {
      "id": "RunSessionResponse",
      "description": "Response message for SessionService.RunSession.",
      "properties": {
        "outputs": {
          "description": "Outputs for the session.",
          "items": {
            "$ref": "SessionOutput"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DataStoreToolBoostSpecs": {
      "type": "object",
      "id": "DataStoreToolBoostSpecs",
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting.",
      "properties": {
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}."
        },
        "spec": {
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "type": "array",
          "description": "Required. A list of boosting specifications."
        }
      }
    },
    "LfA2aV1OAuth2SecurityScheme": {
      "type": "object",
      "id": "LfA2aV1OAuth2SecurityScheme",
      "description": "Defines a security scheme using OAuth 2.0.",
      "properties": {
        "flows": {
          "description": "Required. An object containing configuration information for the supported OAuth 2.0 flows.",
          "$ref": "LfA2aV1OAuthFlows"
        },
        "oauth2MetadataUrl": {
          "description": "URL to the OAuth2 authorization server metadata [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required.",
          "type": "string"
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      }
    },
    "LfA2aV1AgentInterface": {
      "type": "object",
      "id": "LfA2aV1AgentInterface",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "properties": {
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        },
        "url": {
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\"",
          "type": "string"
        },
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "tenant": {
          "description": "Optional. An opaque string used for routing requests to a specific agent or tenant when multiple agents are served behind a single A2A endpoint. When set, clients MUST include this value in the `tenant` field of all request messages sent to this interface. The server is responsible for interpreting the value and routing requests accordingly; the protocol does not define its format or semantics.",
          "type": "string"
        }
      }
    },
    "GuardrailModelSafety": {
      "type": "object",
      "id": "GuardrailModelSafety",
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe.",
      "properties": {
        "safetySettings": {
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          },
          "type": "array",
          "description": "Required. List of safety settings."
        }
      }
    },
    "RetrieveToolSchemaResponse": {
      "type": "object",
      "id": "RetrieveToolSchemaResponse",
      "description": "Response message for ToolService.RetrieveToolSchema.",
      "properties": {
        "toolsetTool": {
          "description": "The toolset tool that the schema is for.",
          "$ref": "ToolsetTool"
        },
        "outputSchema": {
          "$ref": "Schema",
          "description": "The schema of the tool output parameters."
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "The schema of the tool input parameters."
        },
        "tool": {
          "description": "The name of the tool that the schema is for. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        }
      }
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "properties": {
        "oauthToken": {
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "McpToolDefinition": {
      "type": "object",
      "id": "McpToolDefinition",
      "description": "Container for a tool's core definition elements that are snapshot. Schemas in the snapshot are used as-is and cannot be overridden.",
      "properties": {
        "inputSchema": {
          "readOnly": true,
          "$ref": "Schema",
          "description": "Output only. The schema of the input arguments of the MCP tool."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The description of the MCP tool. This can be overridden by `description_override` in `McpToolOverride`."
        },
        "outputSchema": {
          "description": "Output only. The schema of the output arguments of the MCP tool.",
          "readOnly": true,
          "$ref": "Schema"
        }
      }
    },
    "ListConversationsResponse": {
      "id": "ListConversationsResponse",
      "description": "Response message for AgentService.ListConversations.",
      "properties": {
        "conversations": {
          "type": "array",
          "items": {
            "$ref": "Conversation"
          },
          "description": "The list of conversations."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TriggerActionTransferAgent": {
      "id": "TriggerActionTransferAgent",
      "description": "The agent will transfer the conversation to a different agent.",
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OutputAudioConfig": {
      "type": "object",
      "id": "OutputAudioConfig",
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses.",
      "properties": {
        "audioEncoding": {
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "description": "Required. The encoding of the output audio data.",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The sample rate (in Hertz) of the output audio data."
        }
      }
    },
    "LfA2aV1Part": {
      "type": "object",
      "id": "LfA2aV1Part",
      "description": "`Part` represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON).",
      "properties": {
        "url": {
          "description": "A `url` pointing to the file's content.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Optional. metadata associated with this part.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "filename": {
          "description": "An optional `filename` for the file (e.g., \"document.pdf\").",
          "type": "string"
        },
        "data": {
          "description": "Arbitrary structured `data` as a JSON value (object, array, string, number, boolean, or null).",
          "type": "any"
        },
        "text": {
          "description": "The string content of the `text` part.",
          "type": "string"
        },
        "raw": {
          "description": "The `raw` byte content of a file. In JSON serialization, this is encoded as a base64 string.",
          "type": "string",
          "format": "byte"
        },
        "mediaType": {
          "description": "The `media_type` (MIME type) of the part content (e.g., \"text/plain\", \"application/json\", \"image/png\"). This field is available for all part types.",
          "type": "string"
        }
      }
    },
    "LfA2aV1AgentProvider": {
      "id": "LfA2aV1AgentProvider",
      "description": "Represents the service provider of an agent.",
      "properties": {
        "url": {
          "description": "Required. A URL for the agent provider's website or relevant documentation. Example: \"https://ai.google.dev\"",
          "type": "string"
        },
        "organization": {
          "description": "Required. The name of the agent provider's organization. Example: \"Google\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TransferRule": {
      "id": "TransferRule",
      "description": "Rule for transferring to a specific agent.",
      "properties": {
        "deterministicTransfer": {
          "$ref": "TransferRuleDeterministicTransfer",
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met."
        },
        "direction": {
          "type": "string",
          "description": "Required. The direction of the transfer.",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ]
        },
        "childAgent": {
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        }
      },
      "type": "object"
    },
    "Action": {
      "id": "Action",
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details.",
      "properties": {
        "inputFields": {
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "entityOperation": {
          "$ref": "ActionEntityOperation",
          "description": "Entity operation configuration for the tool to use."
        },
        "outputFields": {
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "DataStoreToolSummarizationConfig": {
      "type": "object",
      "id": "DataStoreToolSummarizationConfig",
      "description": "Summarization configuration.",
      "properties": {
        "disabled": {
          "description": "Optional. Whether summarization is disabled.",
          "type": "boolean"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Configurations for the LLM model."
        }
      }
    },
    "Tool": {
      "id": "Tool",
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "properties": {
        "dataStoreTool": {
          "$ref": "DataStoreTool",
          "description": "Optional. The data store tool."
        },
        "systemTool": {
          "$ref": "SystemTool",
          "description": "Optional. The system tool."
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "connectorTool": {
          "description": "Optional. The Integration Connector tool.",
          "$ref": "ConnectorTool"
        },
        "widgetTool": {
          "description": "Optional. The widget tool.",
          "$ref": "WidgetTool"
        },
        "openApiTool": {
          "$ref": "OpenApiTool",
          "description": "Optional. The open API tool."
        },
        "name": {
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
          "type": "string"
        },
        "generatedSummary": {
          "type": "string",
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "readOnly": true
        },
        "clientFunction": {
          "description": "Optional. The client function.",
          "$ref": "ClientFunction"
        },
        "executionType": {
          "description": "Optional. The execution type of the tool.",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the tool was created."
        },
        "remoteAgentTool": {
          "$ref": "RemoteAgentTool",
          "description": "Optional. The remote agent tool."
        },
        "fileSearchTool": {
          "$ref": "FileSearchTool",
          "description": "Optional. The file search tool."
        },
        "displayName": {
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property.",
          "readOnly": true,
          "type": "string"
        },
        "googleSearchTool": {
          "$ref": "GoogleSearchTool",
          "description": "Optional. The google search tool."
        },
        "agentTool": {
          "$ref": "AgentTool",
          "description": "Optional. The agent tool."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the tool was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools."
        },
        "pythonFunction": {
          "$ref": "PythonFunction",
          "description": "Optional. The python function tool."
        },
        "mcpTool": {
          "$ref": "McpTool",
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset."
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tool behavior in fake mode."
        }
      },
      "type": "object"
    },
    "ServiceAgentIdTokenAuthConfig": {
      "type": "object",
      "id": "ServiceAgentIdTokenAuthConfig",
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent.",
      "properties": {}
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "description": "Expectation level metrics thresholds.",
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "type": "number",
          "format": "float",
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0."
        }
      },
      "type": "object"
    },
    "DataStoreTool": {
      "id": "DataStoreTool",
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "properties": {
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "filterParameterBehavior": {
          "type": "string",
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "description": "Optional. The filter parameter behavior.",
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ]
        },
        "name": {
          "description": "Required. The data store tool name.",
          "type": "string"
        },
        "dataStoreSource": {
          "$ref": "DataStoreToolDataStoreSource",
          "description": "Optional. Search within a single specific DataStore."
        },
        "engineSource": {
          "description": "Optional. Search within an Engine (potentially across multiple DataStores).",
          "$ref": "DataStoreToolEngineSource"
        },
        "boostSpecs": {
          "description": "Optional. Boost specification to boost certain documents.",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          },
          "type": "array"
        },
        "modalityConfigs": {
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          },
          "type": "array",
          "description": "Optional. The modality configs for the data store."
        }
      },
      "type": "object"
    },
    "AgentTransfer": {
      "type": "object",
      "id": "AgentTransfer",
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "properties": {
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name of the agent.",
          "readOnly": true
        }
      }
    },
    "DataStoreConnectorConfig": {
      "id": "DataStoreConnectorConfig",
      "description": "The connector config for the data store connection.",
      "properties": {
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        },
        "dataSource": {
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`.",
          "type": "string"
        },
        "collectionDisplayName": {
          "description": "Display name of the collection the data store belongs to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListExamplesResponse": {
      "type": "object",
      "id": "ListExamplesResponse",
      "description": "Response message for AgentService.ListExamples.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "examples": {
          "items": {
            "$ref": "Example"
          },
          "type": "array",
          "description": "The list of examples."
        }
      }
    },
    "Blob": {
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation.",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "Guardrail": {
      "id": "Guardrail",
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure.",
      "properties": {
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "llmPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "string"
        },
        "codeCallback": {
          "$ref": "GuardrailCodeCallback",
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution."
        },
        "action": {
          "$ref": "TriggerAction",
          "description": "Optional. Action to take when the guardrail is triggered."
        },
        "modelSafety": {
          "$ref": "GuardrailModelSafety",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the guardrail was created."
        },
        "description": {
          "description": "Optional. Description of the guardrail.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the guardrail.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "llmPromptSecurity": {
          "$ref": "GuardrailLlmPromptSecurity",
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification."
        },
        "contentFilter": {
          "$ref": "GuardrailContentFilter",
          "description": "Optional. Guardrail that bans certain content from being used in the conversation."
        }
      },
      "type": "object"
    },
    "Span": {
      "type": "object",
      "id": "Span",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "properties": {
        "attributes": {
          "readOnly": true,
          "description": "Output only. Key-value attributes associated with the span.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The duration of the span."
        },
        "name": {
          "description": "Output only. The name of the span.",
          "readOnly": true,
          "type": "string"
        },
        "childSpans": {
          "readOnly": true,
          "description": "Output only. The child spans that are nested under this span.",
          "items": {
            "$ref": "Span"
          },
          "type": "array"
        },
        "endTime": {
          "description": "Output only. The end time of the span.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The start time of the span.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "TransferRuleDisablePlannerTransfer": {
      "id": "TransferRuleDisablePlannerTransfer",
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "properties": {
        "expressionCondition": {
          "$ref": "ExpressionCondition",
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent."
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        }
      }
    },
    "MockConfig": {
      "id": "MockConfig",
      "description": "Mock tool calls configuration for the session.",
      "properties": {
        "mockedToolCalls": {
          "description": "Optional. All tool calls to mock for the duration of the session.",
          "items": {
            "$ref": "MockedToolCall"
          },
          "type": "array"
        },
        "unmatchedToolCallBehavior": {
          "type": "string",
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ],
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ]
        }
      },
      "type": "object"
    },
    "ToolCalls": {
      "type": "object",
      "id": "ToolCalls",
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "properties": {
        "toolCalls": {
          "items": {
            "$ref": "ToolCall"
          },
          "type": "array",
          "description": "Optional. The list of tool calls to execute."
        }
      }
    },
    "ApiAuthentication": {
      "type": "object",
      "id": "ApiAuthentication",
      "description": "Authentication information required for API calls.",
      "properties": {
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        },
        "serviceAgentIdTokenAuthConfig": {
          "$ref": "ServiceAgentIdTokenAuthConfig",
          "description": "Optional. Config for ID token auth generated from CES service agent."
        },
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        },
        "bearerTokenConfig": {
          "description": "Optional. Config for bearer token auth.",
          "$ref": "BearerTokenConfig"
        },
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        }
      }
    },
    "AgentInterface": {
      "type": "object",
      "id": "AgentInterface",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "properties": {
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        },
        "url": {
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\"",
          "type": "string"
        },
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "tenant": {
          "description": "Tenant ID to be used in the request when calling the agent.",
          "type": "string"
        }
      }
    },
    "WhatsAppCredentials": {
      "type": "object",
      "id": "WhatsAppCredentials",
      "description": "Ephemeral Meta credentials for WhatsApp native integration.",
      "properties": {
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        },
        "businessAccountId": {
          "description": "Required. The Business Account ID to use for the phone number.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Required. The phone number to register with WhatsApp.",
          "type": "string"
        },
        "pin": {
          "description": "Required. The 6-digit PIN created by the user for two-step verification.",
          "type": "string"
        },
        "conversationProfileId": {
          "description": "Optional. The Conversation Profile ID to use for the deployment.",
          "type": "string"
        },
        "wabaId": {
          "description": "Required. The WhatsApp Business Account ID.",
          "type": "string"
        }
      }
    },
    "AgentLlmAgent": {
      "id": "AgentLlmAgent",
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model.",
      "properties": {},
      "type": "object"
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "description": "Boost specification for a condition.",
      "properties": {
        "condition": {
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))",
          "type": "string"
        },
        "boost": {
          "format": "float",
          "type": "number",
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored."
        },
        "boostControlSpec": {
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec"
        }
      },
      "type": "object"
    },
    "ListToolsetsResponse": {
      "type": "object",
      "id": "ListToolsetsResponse",
      "description": "Response message for AgentService.ListToolsets.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "toolsets": {
          "items": {
            "$ref": "Toolset"
          },
          "type": "array",
          "description": "The list of toolsets."
        }
      }
    },
    "LfA2aV1AgentCardSignature": {
      "type": "object",
      "id": "LfA2aV1AgentCardSignature",
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "properties": {
        "protected": {
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object.",
          "type": "string"
        },
        "signature": {
          "description": "Required. The computed signature, base64url-encoded.",
          "type": "string"
        },
        "header": {
          "description": "The unprotected JWS header values.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "CitationsCitedChunk": {
      "id": "CitationsCitedChunk",
      "description": "Piece of cited information.",
      "properties": {
        "title": {
          "description": "Title of the cited document.",
          "type": "string"
        },
        "uri": {
          "description": "URI used for citation.",
          "type": "string"
        },
        "text": {
          "description": "Text used for citation.",
          "type": "string"
        },
        "requiresAttribution": {
          "description": "Whether this citation requires attribution to be shown to the end users.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "format": "float",
          "type": "number",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        }
      }
    },
    "LfA2aV1APIKeySecurityScheme": {
      "type": "object",
      "id": "LfA2aV1APIKeySecurityScheme",
      "description": "Defines a security scheme using an API key.",
      "properties": {
        "location": {
          "description": "Required. The location of the API key. Valid values are \"query\", \"header\", or \"cookie\".",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the header, query, or cookie parameter to be used.",
          "type": "string"
        },
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      }
    },
    "LfA2aV1MutualTlsSecurityScheme": {
      "id": "LfA2aV1MutualTlsSecurityScheme",
      "description": "Defines a security scheme using mTLS authentication.",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PythonCodeCondition": {
      "type": "object",
      "id": "PythonCodeCondition",
      "description": "Python code block to evaluate the condition.",
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute.",
          "type": "string"
        }
      }
    },
    "GuardrailContentFilter": {
      "type": "object",
      "id": "GuardrailContentFilter",
      "description": "Guardrail that bans certain content from being used in the conversation.",
      "properties": {
        "disregardDiacritics": {
          "description": "Optional. If true, diacritics are ignored during matching.",
          "type": "boolean"
        },
        "bannedContentsInAgentResponse": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of banned phrases. Applies only to agent responses."
        },
        "bannedContentsInUserInput": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of banned phrases. Applies only to user inputs."
        },
        "matchType": {
          "type": "string",
          "description": "Required. Match type for the content filter.",
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ]
        },
        "bannedContents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses."
        }
      }
    },
    "LfA2aV1AgentCard": {
      "id": "LfA2aV1AgentCard",
      "description": "A self-describing manifest for an agent. It provides essential metadata including the agent's identity, capabilities, skills, supported communication methods, and security requirements. Next ID: 20",
      "properties": {
        "defaultOutputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The media types supported as outputs from this agent."
        },
        "iconUrl": {
          "description": "Optional. A URL to an icon for the agent.",
          "type": "string"
        },
        "description": {
          "description": "Required. A human-readable description of the agent, assisting users and other agents in understanding its purpose. Example: \"Agent that helps users with recipes and cooking.\"",
          "type": "string"
        },
        "version": {
          "description": "Required. The version of the agent. Example: \"1.0.0\"",
          "type": "string"
        },
        "skills": {
          "items": {
            "$ref": "LfA2aV1AgentSkill"
          },
          "type": "array",
          "description": "Required. Skills represent the abilities of an agent. It is largely a descriptive concept but represents a more focused set of behaviors that the agent is likely to succeed at."
        },
        "defaultInputModes": {
          "description": "Required. protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as media types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "capabilities": {
          "$ref": "LfA2aV1AgentCapabilities",
          "description": "Required. A2A Capability set supported by the agent."
        },
        "name": {
          "description": "Required. A human readable name for the agent. Example: \"Recipe Agent\"",
          "type": "string"
        },
        "provider": {
          "description": "The service provider of the agent.",
          "$ref": "LfA2aV1AgentProvider"
        },
        "securitySchemes": {
          "type": "object",
          "description": "The security scheme details used for authenticating with this agent.",
          "additionalProperties": {
            "$ref": "LfA2aV1SecurityScheme"
          }
        },
        "supportedInterfaces": {
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentInterface"
          }
        },
        "signatures": {
          "items": {
            "$ref": "LfA2aV1AgentCardSignature"
          },
          "type": "array",
          "description": "JSON Web Signatures computed for this `AgentCard`."
        },
        "documentationUrl": {
          "description": "A URL providing additional documentation about the agent.",
          "type": "string"
        },
        "securityRequirements": {
          "description": "Security requirements for contacting the agent.",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LfA2aV1OpenIdConnectSecurityScheme": {
      "id": "LfA2aV1OpenIdConnectSecurityScheme",
      "description": "Defines a security scheme using OpenID Connect.",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "openIdConnectUrl": {
          "description": "Required. The [OpenID Connect Discovery URL](https://openid.net/specs/openid-connect-discovery-1_0.html) for the OIDC provider's metadata.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Deployment": {
      "type": "object",
      "id": "Deployment",
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "properties": {
        "instagramCredentials": {
          "description": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile.",
          "$ref": "InstagramCredentials"
        },
        "modality": {
          "enum": [
            "MODALITY_UNSPECIFIED",
            "MODALITY_TEXT",
            "MODALITY_VOICE",
            "MODALITY_VIDEO"
          ],
          "description": "Optional. The modality of the deployment. Note: Deployment-level modality override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "enumDescriptions": [
            "Unknown modality.",
            "Text modality.",
[...]
