{
  "baseUrl": "https://ces.googleapis.com/",
  "basePath": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "servicePath": "",
  "id": "ces:v1",
  "name": "ces",
  "ownerDomain": "google.com",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://ces.googleapis.com/",
  "revision": "20260901",
  "endpoints": [
    {
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        }
      }
    }
  },
  "description": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "protocol": "rest",
  "batchPath": "batch",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "version_module": true,
  "schemas": {
    "RunSessionRequest": {
      "id": "RunSessionRequest",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "SessionConfig",
          "description": "Required. The configuration for the session."
        },
        "inputs": {
          "description": "Required. Inputs for the session.",
          "items": {
            "$ref": "SessionInput"
          },
          "type": "array"
        }
      },
      "description": "Request message for SessionService.RunSession."
    },
    "RemoteAgentTool": {
      "description": "Represents a tool that allows the agent to call another remote agent.",
      "properties": {
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "agentCard": {
          "$ref": "AgentCard",
          "description": "Required. The agent card of the remote agent that this tool invokes."
        },
        "apiAuthentication": {
          "description": "Optional. Authentication configuration for calling the remote agent.",
          "$ref": "ApiAuthentication"
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the tool."
        }
      },
      "id": "RemoteAgentTool",
      "type": "object"
    },
    "TimeZoneSettings": {
      "description": "TimeZone settings of the app.",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris."
        }
      },
      "type": "object",
      "id": "TimeZoneSettings"
    },
    "ExecuteToolRequest": {
      "id": "ExecuteToolRequest",
      "type": "object",
      "properties": {
        "args": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The input parameters and values for the tool in JSON object format."
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        },
        "mockConfig": {
          "$ref": "MockConfig",
          "description": "Optional. Mock configuration for the tool execution. If this field is set, tools that call other tools will be mocked based on the provided patterns and responses."
        },
        "context": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool.",
          "type": "object"
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "variables": {
          "type": "object",
          "description": "Optional. The variables that are available for the tool execution.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "Request message for ToolService.ExecuteTool."
    },
    "RetrieveToolsResponse": {
      "properties": {
        "tools": {
          "description": "The list of tools that are included in the specified toolset.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        }
      },
      "description": "Response message for ToolService.RetrieveTools.",
      "type": "object",
      "id": "RetrieveToolsResponse"
    },
    "RedactionConfig": {
      "properties": {
        "enableRedaction": {
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording.",
          "type": "boolean"
        },
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        },
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        }
      },
      "id": "RedactionConfig",
      "description": "Configuration to instruct how sensitive data should be handled.",
      "type": "object"
    },
    "DataStoreTool": {
      "id": "DataStoreTool",
      "type": "object",
      "properties": {
        "boostSpecs": {
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          },
          "description": "Optional. Boost specification to boost certain documents.",
          "type": "array"
        },
        "dataStoreSource": {
          "description": "Optional. Search within a single specific DataStore.",
          "$ref": "DataStoreToolDataStoreSource"
        },
        "modalityConfigs": {
          "description": "Optional. The modality configs for the data store.",
          "type": "array",
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          }
        },
        "engineSource": {
          "description": "Optional. Search within an Engine (potentially across multiple DataStores).",
          "$ref": "DataStoreToolEngineSource"
        },
        "filterParameterBehavior": {
          "description": "Optional. The filter parameter behavior.",
          "type": "string",
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. The data store tool name."
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        }
      },
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "LfA2aV1OAuthFlows": {
      "type": "object",
      "id": "LfA2aV1OAuthFlows",
      "properties": {
        "password": {
          "$ref": "LfA2aV1PasswordOAuthFlow",
          "description": "Deprecated: Use Authorization Code + PKCE or Device Code.",
          "deprecated": true
        },
        "implicit": {
          "deprecated": true,
          "description": "Deprecated: Use Authorization Code + PKCE instead.",
          "$ref": "LfA2aV1ImplicitOAuthFlow"
        },
        "deviceCode": {
          "description": "Configuration for the OAuth Device Code flow.",
          "$ref": "LfA2aV1DeviceCodeOAuthFlow"
        },
        "clientCredentials": {
          "$ref": "LfA2aV1ClientCredentialsOAuthFlow",
          "description": "Configuration for the OAuth Client Credentials flow."
        },
        "authorizationCode": {
          "description": "Configuration for the OAuth Authorization Code flow.",
          "$ref": "LfA2aV1AuthorizationCodeOAuthFlow"
        }
      },
      "description": "Defines the configuration for the supported OAuth 2.0 flows."
    },
    "DataStore": {
      "description": "A DataStore resource in Vertex AI Search.",
      "properties": {
        "name": {
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`",
          "type": "string"
        },
        "documentProcessingMode": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the data store was created."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the data store.",
          "readOnly": true
        },
        "connectorConfig": {
          "$ref": "DataStoreConnectorConfig",
          "readOnly": true,
          "description": "Output only. The connector config for the data store connection."
        }
      },
      "type": "object",
      "id": "DataStore"
    },
    "Toolset": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the toolset was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "executionType": {
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tools in the toolset."
        },
        "openApiToolset": {
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema.",
          "$ref": "OpenApiToolset"
        },
        "connectorToolset": {
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection.",
          "$ref": "ConnectorToolset"
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tools behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "mcpToolset": {
          "$ref": "McpToolset",
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the toolset was last updated.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the toolset. Must be unique within the same app."
        },
        "etag": {
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "timeout": {
          "description": "Optional. The timeout for the toolset execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` toolsets and 60 seconds for `ASYNCHRONOUS` toolsets.",
          "type": "string",
          "format": "google-duration"
        },
        "description": {
          "description": "Optional. The description of the toolset.",
          "type": "string"
        }
      },
      "id": "Toolset",
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent."
    },
    "OutputAudioConfig": {
      "id": "OutputAudioConfig",
      "properties": {
        "sampleRateHertz": {
          "format": "int32",
          "description": "Required. The sample rate (in Hertz) of the output audio data.",
          "type": "integer"
        },
        "audioEncoding": {
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "description": "Required. The encoding of the output audio data.",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ]
        }
      },
      "type": "object",
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "RemoteA2aConfig": {
      "id": "RemoteA2aConfig",
      "type": "object",
      "properties": {
        "streamingEnabled": {
          "description": "Optional. Whether streaming is enabled for the remote agent.",
          "type": "boolean"
        },
        "inputVariableMapping": {
          "description": "Optional. Mapping of input variable names of remote agent to GECX variable names.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication configuration for calling the remote agent. Optional if the registry reference already handles authentication.",
          "$ref": "ApiAuthentication"
        },
        "agentRegistry": {
          "type": "string",
          "description": "Optional. Reference to the agent in the Agent Registry. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        },
        "contextId": {
          "description": "Optional. If not empty, interactions with the remote A2A agent will use this context ID. This context_id field can refer to a session variable like `$context.variables.order_agent_session_id`.",
          "type": "string"
        },
        "outputVariableMapping": {
          "description": "Optional. Mapping of output variable names of remote agent to GECX variable names.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "agentCard": {
          "description": "Optional. The full agent card defined inline.",
          "$ref": "AgentCard"
        }
      },
      "description": "Shared configuration for connecting to a remote [A2A](https://github.com/a2aproject/A2A) agent."
    },
    "LfA2aV1AgentCardSignature": {
      "type": "object",
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "properties": {
        "signature": {
          "description": "Required. The computed signature, base64url-encoded.",
          "type": "string"
        },
        "protected": {
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object.",
          "type": "string"
        },
        "header": {
          "type": "object",
          "description": "The unprotected JWS header values.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "LfA2aV1AgentCardSignature"
    },
    "DataStoreToolSnippetsConfig": {
      "properties": {
        "enableSnippets": {
          "type": "boolean",
          "description": "Optional. Whether snippets are enabled."
        },
        "maxSnippets": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of snippets to return per query. If unset, returns all snippets from the service by default."
        }
      },
      "description": "Snippets configuration.",
      "id": "DataStoreToolSnippetsConfig",
      "type": "object"
    },
    "LfA2aV1AuthorizationCodeOAuthFlow": {
      "properties": {
        "tokenUrl": {
          "description": "Required. The token URL to be used for this flow.",
          "type": "string"
        },
        "pkceRequired": {
          "description": "Indicates if PKCE (RFC 7636) is required for this flow. PKCE should always be used for public clients and is recommended for all clients.",
          "type": "boolean"
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. The available scopes for the OAuth2 security scheme."
        },
        "authorizationUrl": {
          "type": "string",
          "description": "Required. The authorization URL to be used for this flow."
        },
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        }
      },
      "type": "object",
      "id": "LfA2aV1AuthorizationCodeOAuthFlow",
      "description": "Defines configuration details for the OAuth 2.0 Authorization Code flow."
    },
    "Conversation": {
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "Message"
          },
          "description": "Deprecated. Use turns instead."
        },
        "entryAgent": {
          "type": "string",
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the conversation was created."
        },
        "source": {
          "description": "Output only. Indicate the source of the conversation.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ]
        },
        "deployment": {
          "type": "string",
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "readOnly": true
        },
        "channelType": {
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "deprecated": true,
          "description": "DEPRECATED. Please use input_types instead.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. The language code of the conversation.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conversation was completed."
        },
        "inputTypes": {
          "readOnly": true,
          "description": "Output only. The input types of the conversation.",
          "items": {
            "type": "string",
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ],
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ]
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        },
        "turns": {
          "description": "Required. The turns in the conversation.",
          "items": {
            "$ref": "ConversationTurn"
          },
          "type": "array"
        },
        "turnCount": {
          "description": "Output only. The number of turns in the conversation.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "appVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        }
      },
      "id": "Conversation"
    },
    "Citations": {
      "properties": {
        "citedChunks": {
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "description": "List of cited pieces of information.",
          "type": "array"
        },
        "inlineCitations": {
          "description": "Optional. List of inline citations in the agent response.",
          "type": "array",
          "items": {
            "$ref": "CitationsInlineCitation"
          }
        }
      },
      "description": "Citations associated with the agent response.",
      "type": "object",
      "id": "Citations"
    },
    "Example": {
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "type": "object",
      "properties": {
        "entryAgent": {
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the example was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the example.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the example.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "invalid": {
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples.",
          "type": "boolean",
          "readOnly": true
        },
        "messages": {
          "description": "Optional. The collection of messages that make up the conversation.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the example was last updated.",
          "readOnly": true
        }
      },
      "id": "Example"
    },
    "AudioProcessingConfig": {
      "type": "object",
      "id": "AudioProcessingConfig",
      "description": "Configuration for how the input and output audio should be processed and delivered.",
      "properties": {
        "customVoiceSamples": {
          "items": {
            "$ref": "CustomVoiceSample"
          },
          "type": "array",
          "description": "Optional. Configures custom voice samples for voice cloning."
        },
        "ambientSoundConfig": {
          "$ref": "AmbientSoundConfig",
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
        },
        "synthesizeSpeechConfigs": {
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          },
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "type": "object"
        },
        "inactivityTimeout": {
          "type": "string",
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement.",
          "format": "google-duration"
        },
        "bargeInConfig": {
          "$ref": "BargeInConfig",
          "description": "Optional. Configures the agent behavior for the user barge-in activities."
        }
      }
    },
    "TriggerActionTransferAgent": {
      "description": "The agent will transfer the conversation to a different agent.",
      "type": "object",
      "id": "TriggerActionTransferAgent",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      }
    },
    "BearerTokenConfig": {
      "description": "Configurations for authentication with a bearer token.",
      "id": "BearerTokenConfig",
      "type": "object",
      "properties": {
        "token": {
          "description": "Required. The bearer token. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      }
    },
    "ListExamplesResponse": {
      "description": "Response message for AgentService.ListExamples.",
      "properties": {
        "examples": {
          "description": "The list of examples.",
          "items": {
            "$ref": "Example"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListExamplesResponse",
      "type": "object"
    },
    "TlsConfigCaCert": {
      "description": "The CA certificate.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates."
        },
        "cert": {
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "TlsConfigCaCert",
      "type": "object"
    },
    "EndpointControlPolicy": {
      "id": "EndpointControlPolicy",
      "description": "Defines project/location level endpoint control policy.",
      "type": "object",
      "properties": {
        "enforcementScope": {
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced.",
          "type": "string",
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ],
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ]
        },
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DataStoreSettings": {
      "type": "object",
      "id": "DataStoreSettings",
      "description": "Data store related settings for the app.",
      "properties": {
        "engines": {
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "description": "Output only. The engines for the app.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "EndUserAuthConfig": {
      "type": "object",
      "properties": {
        "oauth2AuthCodeConfig": {
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig",
          "description": "Oauth 2.0 Authorization Code authentication."
        },
        "oauth2JwtBearerConfig": {
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig",
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication."
        }
      },
      "id": "EndUserAuthConfig",
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`."
    },
    "Tool": {
      "type": "object",
      "id": "Tool",
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "properties": {
        "widgetTool": {
          "$ref": "WidgetTool",
          "description": "Optional. The widget tool."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected."
        },
        "timeout": {
          "format": "google-duration",
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools.",
          "type": "string"
        },
        "connectorTool": {
          "$ref": "ConnectorTool",
          "description": "Optional. The Integration Connector tool."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the tool was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tool behavior in fake mode."
        },
        "agentTool": {
          "$ref": "AgentTool",
          "description": "Optional. The agent tool."
        },
        "dataStoreTool": {
          "description": "Optional. The data store tool.",
          "$ref": "DataStoreTool"
        },
        "mcpTool": {
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset.",
          "$ref": "McpTool"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the tool was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "remoteAgentTool": {
          "$ref": "RemoteAgentTool",
          "description": "Optional. The remote agent tool."
        },
        "systemTool": {
          "$ref": "SystemTool",
          "description": "Optional. The system tool."
        },
        "googleSearchTool": {
          "$ref": "GoogleSearchTool",
          "description": "Optional. The google search tool."
        },
        "executionType": {
          "description": "Optional. The execution type of the tool.",
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ]
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property."
        },
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "generatedSummary": {
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "readOnly": true,
          "type": "string"
        },
        "clientFunction": {
          "$ref": "ClientFunction",
          "description": "Optional. The client function."
        },
        "openApiTool": {
          "$ref": "OpenApiTool",
          "description": "Optional. The open API tool."
        }
      }
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "type": "object",
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "properties": {
        "oauthToken": {
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      }
    },
    "ToolCalls": {
      "type": "object",
      "description": "Request for the client to execute the tools and return the execution results before continuing the session.",
      "properties": {
        "toolCalls": {
          "description": "Optional. The list of tool calls to execute.",
          "type": "array",
          "items": {
            "$ref": "ToolCall"
          }
        }
      },
      "id": "ToolCalls"
    },
    "Image": {
      "type": "object",
      "id": "Image",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes of the image."
        },
        "altText": {
          "type": "string",
          "description": "Optional. The alternative text for the image."
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp"
        }
      },
      "description": "Represents an image input or output in the conversation."
    },
    "TlsConfig": {
      "properties": {
        "caCerts": {
          "items": {
            "$ref": "TlsConfigCaCert"
          },
          "type": "array",
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification."
        }
      },
      "type": "object",
      "id": "TlsConfig",
      "description": "The TLS configuration."
    },
    "LfA2aV1AgentInterface": {
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "properties": {
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "protocolVersion": {
          "type": "string",
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\""
        },
        "url": {
          "type": "string",
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
        },
        "tenant": {
          "type": "string",
          "description": "Optional. An opaque string used for routing requests to a specific agent or tenant when multiple agents are served behind a single A2A endpoint. When set, clients MUST include this value in the `tenant` field of all request messages sent to this interface. The server is responsible for interpreting the value and routing requests accordingly; the protocol does not define its format or semantics."
        }
      },
      "id": "LfA2aV1AgentInterface",
      "type": "object"
    },
    "SystemTool": {
      "type": "object",
      "id": "SystemTool",
      "properties": {
        "name": {
          "description": "Required. The name of the system tool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The description of the system tool."
        }
      },
      "description": "Pre-defined system tool."
    },
    "GoogleSearchTool": {
      "id": "GoogleSearchTool",
      "properties": {
        "preferredDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified."
        },
        "contextUrls": {
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludeDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "promptConfig": {
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice.",
          "$ref": "GoogleSearchToolPromptConfig"
        }
      },
      "type": "object",
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search."
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "id": "ErrorHandlingSettingsEndSessionConfig",
      "type": "object",
      "properties": {
        "escalateSession": {
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details.",
          "type": "boolean"
        }
      },
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors)."
    },
    "WidgetToolDataMapping": {
      "type": "object",
      "id": "WidgetToolDataMapping",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ],
          "description": "Optional. The mode of the data mapping.",
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ]
        },
        "pythonFunction": {
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format.",
          "$ref": "PythonFunction"
        },
        "pythonScript": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: Use `python_function` instead."
        },
        "sourceToolName": {
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`",
          "type": "string"
        },
        "fieldMappings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool."
        }
      },
      "description": "Configuration for mapping data from a source tool to the widget's input parameters."
    },
    "RestoreAppVersionRequest": {
      "id": "RestoreAppVersionRequest",
      "type": "object",
      "description": "Request message for AgentService.RestoreAppVersion",
      "properties": {}
    },
    "ClientCertificateSettings": {
      "id": "ClientCertificateSettings",
      "properties": {
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        },
        "privateKey": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        }
      },
      "type": "object",
      "description": "Settings for custom client certificates."
    },
    "ConnectorTool": {
      "id": "ConnectorTool",
      "type": "object",
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "properties": {
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "action": {
          "$ref": "Action",
          "description": "Required. Action for the tool to use."
        },
        "description": {
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        }
      }
    },
    "OpenApiToolset": {
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema.",
      "id": "OpenApiToolset",
      "properties": {
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "url": {
          "type": "string",
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema of the toolset.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration."
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "LfA2aV1DeviceCodeOAuthFlow": {
      "description": "Defines configuration details for the OAuth 2.0 Device Code flow (RFC 8628). This flow is designed for input-constrained devices such as IoT devices, and CLI tools where the user authenticates on a separate device.",
      "id": "LfA2aV1DeviceCodeOAuthFlow",
      "type": "object",
      "properties": {
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deviceAuthorizationUrl": {
          "type": "string",
          "description": "Required. The device authorization endpoint URL."
        },
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        }
      }
    },
    "ListDeploymentsResponse": {
      "type": "object",
      "id": "ListDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments."
        }
      },
      "description": "Response message for AgentService.ListDeployments."
    },
    "WidgetToolTextResponseConfig": {
      "type": "object",
      "properties": {
        "textResponseInstruction": {
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ],
          "description": "Optional. The strategy for providing the text response.",
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ]
        },
        "staticText": {
          "type": "string",
          "description": "Optional. The static text response to return when type is STATIC."
        }
      },
      "description": "Configuration for the text response returned with the widget.",
      "id": "WidgetToolTextResponseConfig"
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "type": "object",
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "properties": {
        "subject": {
          "type": "string",
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "clientKey": {
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "issuer": {
          "type": "string",
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`."
        }
      },
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration."
    },
    "LfA2aV1ImplicitOAuthFlow": {
      "description": "Deprecated: Use Authorization Code + PKCE instead.",
      "properties": {
        "authorizationUrl": {
          "type": "string",
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
        },
        "scopes": {
          "type": "object",
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        }
      },
      "id": "LfA2aV1ImplicitOAuthFlow",
      "type": "object"
    },
    "SessionOutputDiagnosticInfo": {
      "description": "Contains execution details during the processing.",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "List of the messages that happened during the processing."
        },
        "rootSpan": {
          "$ref": "Span",
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations."
        }
      },
      "type": "object",
      "id": "SessionOutputDiagnosticInfo"
    },
    "LfA2aV1Artifact": {
      "description": "Artifacts represent task outputs.",
      "properties": {
        "parts": {
          "type": "array",
          "description": "Required. The content of the artifact. Must contain at least one part.",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        },
        "extensions": {
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "type": "array"
        },
        "description": {
          "description": "Optional. A human readable description of the artifact.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Metadata included with the artifact.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        },
        "artifactId": {
          "type": "string",
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task."
        }
      },
      "type": "object",
      "id": "LfA2aV1Artifact"
    },
    "SynthesizeSpeechConfig": {
      "id": "SynthesizeSpeechConfig",
      "type": "object",
      "properties": {
        "instruction": {
          "type": "string",
          "description": "Optional. The instruction used to synthesize speech when using a generative model."
        },
        "model": {
          "description": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used.",
          "type": "string"
        },
        "speakingRate": {
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "type": "number",
          "format": "double"
        },
        "consentAudioGcsUri": {
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the consent audio for voice cloning.",
          "deprecated": true,
          "type": "string"
        },
        "voiceSampleGcsUri": {
          "type": "string",
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file. Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "deprecated": true
        },
        "voice": {
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech.",
          "type": "string"
        }
      },
      "description": "Configuration for how the agent response should be synthesized."
    },
    "AgentRegistryDeployment": {
      "id": "AgentRegistryDeployment",
      "description": "Configuration and status for Agent Registry deployment.",
      "properties": {
        "agentRegistryServiceName": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The resource name of the deployed Agent Registry service. Format: `projects/{project}/locations/{location}/services/{service}`"
        }
      },
      "type": "object"
    },
    "TransferRule": {
      "type": "object",
      "id": "TransferRule",
      "properties": {
        "childAgent": {
          "type": "string",
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "deterministicTransfer": {
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met.",
          "$ref": "TransferRuleDeterministicTransfer"
        },
        "direction": {
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "description": "Required. The direction of the transfer."
        },
        "disablePlannerTransfer": {
          "$ref": "TransferRuleDisablePlannerTransfer",
          "description": "Optional. Rule that prevents the planner from transferring to the target agent."
        }
      },
      "description": "Rule for transferring to a specific agent."
    },
    "LfA2aV1AuthenticationInfo": {
      "description": "Defines authentication details, used for push notifications.",
      "id": "LfA2aV1AuthenticationInfo",
      "type": "object",
      "properties": {
        "scheme": {
          "type": "string",
          "description": "Required. HTTP Authentication Scheme from the [IANA registry](https://www.iana.org/assignments/http-authschemes/). Examples: `Bearer`, `Basic`, `Digest`. Scheme names are case-insensitive per [RFC 9110 Section 11.1](https://www.rfc-editor.org/rfc/rfc9110#section-11.1)."
        },
        "credentials": {
          "description": "Push Notification credentials. Format depends on the scheme (e.g., token for Bearer).",
          "type": "string"
        }
      }
    },
    "ConnectorToolset": {
      "id": "ConnectorToolset",
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "type": "object",
      "properties": {
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "connectorActions": {
          "items": {
            "$ref": "Action"
          },
          "description": "Required. The list of connector actions/entity operations to generate tools for.",
          "type": "array"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override",
          "$ref": "EndUserAuthConfig"
        }
      }
    },
    "CodeBlock": {
      "description": "A code block to be executed instead of a real tool call.",
      "properties": {
        "pythonCode": {
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead.",
          "type": "string"
        }
      },
      "id": "CodeBlock",
      "type": "object"
    },
    "McpToolDefinition": {
      "description": "Container for a tool's core definition elements that are snapshot. Schemas in the snapshot are used as-is and cannot be overridden.",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. The description of the MCP tool. This can be overridden by `description_override` in `McpToolOverride`.",
          "type": "string"
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "Output only. The schema of the input arguments of the MCP tool.",
          "readOnly": true
        },
        "outputSchema": {
          "readOnly": true,
          "description": "Output only. The schema of the output arguments of the MCP tool.",
          "$ref": "Schema"
        }
      },
      "type": "object",
      "id": "McpToolDefinition"
    },
    "ToolResponse": {
      "id": "ToolResponse",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. The matching ID of the tool call the response is for."
        },
        "agentName": {
          "description": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it.",
          "readOnly": true,
          "type": "string"
        },
        "parentToolCallId": {
          "type": "string",
          "description": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling.",
          "readOnly": true
        },
        "response": {
          "description": "Required. The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of the tool."
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        }
      },
      "description": "The execution result of a specific tool from the client or the agent."
    },
    "ImportAppResponse": {
      "id": "ImportAppResponse",
      "type": "object",
      "description": "Response message for AgentService.ImportApp.",
      "properties": {
        "name": {
          "description": "The resource name of the app that was imported.",
          "type": "string"
        },
        "warnings": {
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Agent": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the agent was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        },
        "remoteDialogflowAgent": {
          "$ref": "AgentRemoteDialogflowAgent",
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "transferRules": {
          "items": {
            "$ref": "TransferRule"
          },
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "type": "array"
        },
        "llmAgent": {
          "$ref": "AgentLlmAgent",
          "description": "Optional. The default agent type."
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "beforeToolCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "createTime": {
          "description": "Output only. Timestamp when the agent was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "childAgents": {
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "afterAgentCallbacks": {
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the agent."
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "afterModelCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "beforeAgentCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "afterToolCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "guardrails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "validationErrors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "tools": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "remoteA2aAgent": {
          "$ref": "AgentRemoteA2aAgent",
          "description": "Optional. The remote [A2A](https://github.com/a2aproject/A2A) agent to be used for the agent execution."
        },
        "description": {
          "description": "Optional. Human-readable description of the agent.",
          "type": "string"
        },
        "beforeModelCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "toolsets": {
          "items": {
            "$ref": "AgentAgentToolset"
          },
          "description": "Optional. List of toolsets for the agent.",
          "type": "array"
        }
      },
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "type": "object",
      "id": "Agent"
    },
    "RunSessionResponse": {
      "description": "Response message for SessionService.RunSession.",
      "properties": {
        "outputs": {
          "description": "Outputs for the session.",
          "items": {
            "$ref": "SessionOutput"
          },
          "type": "array"
        }
      },
      "id": "RunSessionResponse",
      "type": "object"
    },
    "ExperimentConfig": {
      "description": "Experiment for the deployment.",
      "type": "object",
      "id": "ExperimentConfig",
      "properties": {
        "versionRelease": {
          "$ref": "ExperimentConfigVersionRelease",
          "description": "Optional. Version release for the experiment."
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "properties": {
        "experimentConfig": {
          "description": "Optional. Experiment configuration for the deployment.",
          "$ref": "ExperimentConfig"
        },
        "createTime": {
          "description": "Output only. Timestamp when this deployment was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "channelProfile": {
          "$ref": "ChannelProfile",
          "description": "Required. The channel profile used in the deployment."
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        },
        "agentRegistryDeployment": {
          "description": "Optional. Configuration for deploying this deployment to Agent Registry. If present, this deployment will be published to Agent Registry.",
          "$ref": "AgentRegistryDeployment"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Model settings for the deployment. Overrides model settings configured at the app/agent levels. Note: Deployment-level model settings override is gated behind an allowlist. Contact the CXAS team to enable this field."
        },
        "modality": {
          "type": "string",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "MODALITY_TEXT",
            "MODALITY_VOICE",
            "MODALITY_VIDEO"
          ],
          "description": "Optional. The modality of the deployment. Note: Deployment-level modality override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "enumDescriptions": [
            "Unknown modality.",
            "Text modality.",
            "Voice modality.",
            "Video modality."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this deployment was last updated.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "instagramCredentials": {
          "description": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile.",
          "$ref": "InstagramCredentials"
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app."
        },
        "whatsappCredentials": {
          "description": "Optional. Input only. Ephemeral WhatsApp credentials required when configuring a WhatsApp channel profile.",
          "$ref": "WhatsAppCredentials"
        },
        "displayName": {
          "description": "Required. Display name of the deployment.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GuardrailLlmPromptSecurity": {
      "type": "object",
      "id": "GuardrailLlmPromptSecurity",
      "properties": {
        "defaultSettings": {
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration."
        },
        "customPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail."
        }
      },
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification."
    },
    "ToolFakeConfig": {
      "id": "ToolFakeConfig",
      "type": "object",
      "description": "Configuration for tool behavior in fake mode.",
      "properties": {
        "codeBlock": {
          "$ref": "CodeBlock",
          "description": "Optional. Code block which will be executed instead of a real tool call."
        },
        "enableFakeMode": {
          "type": "boolean",
          "description": "Optional. Whether the tool is using fake mode."
        }
      }
    },
    "LoggingSettings": {
      "properties": {
        "metricAnalysisSettings": {
          "description": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app.",
          "$ref": "MetricAnalysisSettings"
        },
        "unredactedBigqueryExportSettings": {
          "$ref": "BigQueryExportSettings",
          "description": "Optional. Configures the BigQuery export behaviors for the app. The unredacted conversation data will be exported to BigQuery tables if it is enabled."
        },
        "audioRecordingConfig": {
          "$ref": "AudioRecordingConfig",
          "description": "Optional. Configuration for how audio interactions should be recorded. The audio is subject to redaction as configured in RedactionConfig."
        },
        "unredactedAudioRecordingConfig": {
          "description": "Optional. Configures an additional recording of unredacted audio. This can be used to maintain a raw audio copy when audio redaction is enabled, typically for auditing or monitoring purposes.",
          "$ref": "AudioRecordingConfig"
        },
        "cloudLoggingSettings": {
          "description": "Optional. Settings to describe the Cloud Logging behaviors for the app.",
          "$ref": "CloudLoggingSettings"
        },
        "evaluationAudioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions.",
          "$ref": "AudioRecordingConfig"
        },
        "redactionConfig": {
          "$ref": "RedactionConfig",
          "description": "Optional. Configuration for how sensitive data should be redacted."
        },
        "conversationLoggingSettings": {
          "$ref": "ConversationLoggingSettings",
          "description": "Optional. Settings to describe the conversation logging behaviors for the app."
        },
        "bigqueryExportSettings": {
          "$ref": "BigQueryExportSettings",
          "description": "Optional. Configures the BigQuery export behaviors for the app. The conversation data is subject to redaction as configured in RedactionConfig."
        }
      },
      "description": "Settings to describe the logging behaviors for the app.",
      "type": "object",
      "id": "LoggingSettings"
    },
    "ConversationLoggingSettings": {
      "description": "Settings to describe the conversation logging behaviors for the app.",
      "id": "ConversationLoggingSettings",
      "properties": {
        "retentionWindow": {
          "description": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days.",
          "type": "string",
          "format": "google-duration"
        },
        "disableConversationLogging": {
          "description": "Optional. Whether to disable conversation logging for the sessions.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SessionOutput": {
      "description": "Output for the session.",
      "type": "object",
      "properties": {
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom payload with structured output from the CES agent.",
          "type": "object"
        },
        "citations": {
          "description": "Citations that provide the source information for the agent's generated text.",
          "$ref": "Citations"
        },
        "toolCalls": {
          "description": "Request for the client to execute the tools.",
          "$ref": "ToolCalls"
        },
        "turnIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1."
        },
        "audio": {
          "type": "string",
          "format": "byte",
          "description": "Output audio from the CES agent."
        },
        "text": {
          "description": "Output text from the CES agent.",
          "type": "string"
        },
        "context": {
          "description": "Context messages for external supervision guardrails.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "image": {
          "description": "Output image from the CES agent.",
          "$ref": "Image"
        },
        "turnCompleted": {
          "type": "boolean",
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn."
        },
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool.",
          "$ref": "GoogleSearchSuggestions"
        },
        "diagnosticInfo": {
          "$ref": "SessionOutputDiagnosticInfo",
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn."
        }
      },
      "id": "SessionOutput"
    },
    "MockConfig": {
      "id": "MockConfig",
      "type": "object",
      "properties": {
        "mockedToolCalls": {
          "type": "array",
          "description": "Optional. All tool calls to mock for the duration of the session.",
          "items": {
            "$ref": "MockedToolCall"
          }
        },
        "unmatchedToolCallBehavior": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "type": "string",
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ],
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls."
        }
      },
      "description": "Mock tool calls configuration for the session."
    },
    "AgentTool": {
      "type": "object",
      "id": "AgentTool",
      "description": "Represents a tool that allows the agent to call another agent.",
      "properties": {
        "name": {
          "description": "Required. The name of the agent tool.",
          "type": "string"
        },
        "agent": {
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        }
      }
    },
    "DataStoreToolRewriterConfig": {
      "id": "DataStoreToolRewriterConfig",
      "type": "object",
      "description": "Rewriter configuration.",
      "properties": {
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Required. Configurations for the LLM model."
        },
        "disabled": {
          "description": "Optional. Whether the rewriter is disabled.",
          "type": "boolean"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "GenerateChatTokenResponse": {
      "id": "GenerateChatTokenResponse",
      "type": "object",
      "description": "Response message for WidgetService.GenerateChatToken.",
      "properties": {
        "expireTime": {
          "description": "The time at which the chat token expires.",
          "type": "string",
          "format": "google-datetime"
        },
        "chatToken": {
          "type": "string",
          "description": "The session scoped token for chat widget to authenticate with Session APIs."
        }
      }
    },
    "VpcScSettings": {
      "description": "VPC-SC settings for the app.",
      "properties": {
        "allowedOrigins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls."
        }
      },
      "type": "object",
      "id": "VpcScSettings"
    },
    "ExportAppRequest": {
      "type": "object",
      "properties": {
        "exportFormat": {
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "description": "Required. The format to export the app in."
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`.",
          "type": "string"
        },
        "gcsUri": {
          "type": "string",
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object."
        }
      },
      "id": "ExportAppRequest",
      "description": "Request message for AgentService.ExportApp."
    },
    "LfA2aV1TaskStatusUpdateEvent": {
      "type": "object",
      "description": "An event sent by the agent to notify the client of a change in a task's status.",
      "id": "LfA2aV1TaskStatusUpdateEvent",
      "properties": {
        "contextId": {
          "description": "Required. The ID of the context that the task belongs to.",
          "type": "string"
        },
        "taskId": {
          "description": "Required. The ID of the task that has changed.",
          "type": "string"
        },
        "status": {
          "$ref": "LfA2aV1TaskStatus",
          "description": "Required. The new status of the task."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Metadata associated with the task update."
        }
      }
    },
    "ListAgentsResponse": {
      "properties": {
        "agents": {
          "description": "The list of agents.",
          "items": {
            "$ref": "Agent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListAgents.",
      "type": "object",
      "id": "ListAgentsResponse"
    },
    "LfA2aV1SecurityRequirement": {
      "description": "Defines the security requirements for an agent.",
      "type": "object",
      "id": "LfA2aV1SecurityRequirement",
      "properties": {
        "schemes": {
          "type": "object",
          "description": "A map of security schemes to the required scopes.",
          "additionalProperties": {
            "$ref": "LfA2aV1StringList"
          }
        }
      }
    },
    "LfA2aV1APIKeySecurityScheme": {
      "description": "Defines a security scheme using an API key.",
      "id": "LfA2aV1APIKeySecurityScheme",
      "properties": {
        "location": {
[...]
