{
  "rootUrl": "https://ces.googleapis.com/",
  "version_module": true,
  "endpoints": [
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/"
    }
  ],
  "batchPath": "batch",
  "baseUrl": "https://ces.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "id": "ces:v1beta",
  "canonicalName": "Customer Engagement Suite",
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "name": "ces",
  "description": "",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "title": "Gemini Enterprise for Customer Experience API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "path": "v1beta/{+name}/operations",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "ces.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET"
                },
                "delete": {
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "ces.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "id": "ces.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1beta/{+name}:cancel",
                  "id": "ces.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                }
              }
            },
            "apps": {
              "methods": {
                "runEvaluation": {
                  "id": "ces.projects.locations.apps.runEvaluation",
                  "parameterOrder": [
                    "app"
                  ],
                  "request": {
                    "$ref": "RunEvaluationRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "app": {
                      "description": "Required. The app to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Runs an evaluation of the app.",
                  "path": "v1beta/{+app}:runEvaluation",
                  "httpMethod": "POST",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:runEvaluation",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "exportApp": {
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:exportApp",
                  "httpMethod": "POST",
                  "path": "v1beta/{+name}:exportApp",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the app to export."
                    }
                  },
                  "description": "Exports the specified app.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ExportAppRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ces.projects.locations.apps.exportApp"
                },
                "executeTool": {
                  "path": "v1beta/{+parent}:executeTool",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the app which the tool/toolset belongs to. Format: `projects/{project}/locations/{location}/apps/{app}`"
                    }
                  },
                  "description": "Executes the given tool with the given arguments.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ExecuteToolRequest"
                  },
                  "response": {
                    "$ref": "ExecuteToolResponse"
                  },
                  "id": "ces.projects.locations.apps.executeTool",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:executeTool",
                  "httpMethod": "POST"
                },
                "testPersonaVoice": {
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:testPersonaVoice",
                  "httpMethod": "POST",
                  "path": "v1beta/{+app}:testPersonaVoice",
                  "parameters": {
                    "app": {
                      "description": "Required. the resource name of the app to test the persona voice for. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Tests the voice of a persona. Also accepts a default persona.",
                  "response": {
                    "$ref": "TestPersonaVoiceResponse"
                  },
                  "parameterOrder": [
                    "app"
                  ],
                  "request": {
                    "$ref": "TestPersonaVoiceRequest"
                  },
                  "id": "ces.projects.locations.apps.testPersonaVoice"
                },
                "retrieveToolSchema": {
                  "httpMethod": "POST",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:retrieveToolSchema",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ces.projects.locations.apps.retrieveToolSchema",
                  "response": {
                    "$ref": "RetrieveToolSchemaResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "RetrieveToolSchemaRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the app which the tool/toolset belongs to. Format: `projects/{project}/locations/{location}/apps/{app}`"
                    }
                  },
                  "description": "Retrieve the schema of the given tool. The schema is computed on the fly for the given instance of the tool.",
                  "path": "v1beta/{+parent}:retrieveToolSchema"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ces.projects.locations.apps.delete",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the app to delete."
                    },
                    "etag": {
                      "type": "string",
                      "description": "Optional. The current etag of the app. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the app, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query"
                    }
                  },
                  "description": "Deletes the specified app."
                },
                "importApp": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name with the location of the app to import."
                    }
                  },
                  "description": "Imports the specified app.",
                  "path": "v1beta/{+parent}/apps:importApp",
                  "id": "ces.projects.locations.apps.importApp",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ImportAppRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps:importApp",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the app to retrieve."
                    }
                  },
                  "description": "Gets details of the specified app.",
                  "path": "v1beta/{+name}",
                  "id": "ces.projects.locations.apps.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "App"
                  }
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the location to list apps from."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous list AgentService.ListApps call.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter to be applied when listing the apps. See https://google.aip.dev/160 for more details.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists apps in the given project and location.",
                  "path": "v1beta/{+parent}/apps",
                  "id": "ces.projects.locations.apps.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAppsResponse"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "patch": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Updates the specified app.",
                  "path": "v1beta/{+name}",
                  "id": "ces.projects.locations.apps.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "App"
                  },
                  "response": {
                    "$ref": "App"
                  }
                },
                "importEvaluations": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ImportEvaluationsRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ces.projects.locations.apps.importEvaluations",
                  "path": "v1beta/{+parent}:importEvaluations",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The app to import the evaluations into. Format: `projects/{project}/locations/{location}/apps/{app}`"
                    }
                  },
                  "description": "Imports evaluations into the app.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:importEvaluations"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps",
                  "httpMethod": "POST",
                  "path": "v1beta/{+parent}/apps",
                  "parameters": {
                    "appId": {
                      "description": "Optional. The ID to use for the app, which will become the final component of the app's resource name. If not provided, a unique ID will be automatically assigned for the app.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the location to create an app in."
                    }
                  },
                  "description": "Creates a new app in the given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "App"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ces.projects.locations.apps.create"
                },
                "generateAppResource": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the app to generate the resource for.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Generates specific resources (e.g. agent) in the app using LLM assistant.",
                  "path": "v1beta/{+parent}:generateAppResource",
                  "id": "ces.projects.locations.apps.generateAppResource",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GenerateAppResourceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}:generateAppResource",
                  "scopes": [
                    "https://www.googleapis.com/auth/ces",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "message": {
                  "methods": {
                    "send": {
                      "path": "v1beta/{+tenant}/message:send",
                      "parameters": {
                        "tenant": {
                          "description": "Optional. Tenant ID, provided as a path parameter.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Sends a message to an agent.",
                      "parameterOrder": [
                        "tenant"
                      ],
                      "request": {
                        "$ref": "LfA2aV1SendMessageRequest"
                      },
                      "response": {
                        "$ref": "LfA2aV1SendMessageResponse"
                      },
                      "id": "ces.projects.locations.apps.message.send",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/message:send",
                      "httpMethod": "POST"
                    }
                  }
                },
                "evaluationExpectations": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.evaluationExpectations.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "EvaluationExpectation"
                      },
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The app to create the evaluation expectation for. Format: `projects/{project}/locations/{location}/apps/{app}`"
                        },
                        "evaluationExpectationId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the evaluation expectation, which will become the final component of the evaluation expectation's resource name. If not provided, a unique ID will be automatically assigned for the evaluation expectation.",
                          "location": "query"
                        }
                      },
                      "description": "Creates an evaluation expectation.",
                      "path": "v1beta/{+parent}/evaluationExpectations"
                    },
                    "patch": {
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The unique identifier of this evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Updates an evaluation expectation.",
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "EvaluationExpectation"
                      },
                      "id": "ces.projects.locations.apps.evaluationExpectations.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "httpMethod": "PATCH"
                    },
                    "delete": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the evaluation expectation to delete."
                        },
                        "etag": {
                          "description": "Optional. The current etag of the evaluation expectation. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the evaluation expectation, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Deletes an evaluation expectation.",
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.evaluationExpectations.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "get": {
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the evaluation expectation to retrieve.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationExpectations/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Gets details of the specified evaluation expectation.",
                      "response": {
                        "$ref": "EvaluationExpectation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.evaluationExpectations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations/{evaluationExpectationsId}",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "path": "v1beta/{+parent}/evaluationExpectations",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the evaluation expectations. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list evaluation expectations from.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationExpectations call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists all evaluation expectations in the given app.",
                      "response": {
                        "$ref": "ListEvaluationExpectationsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ces.projects.locations.apps.evaluationExpectations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationExpectations",
                      "httpMethod": "GET"
                    }
                  }
                },
                "changelogs": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/changelogs/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the changelog to retrieve."
                        }
                      },
                      "description": "Gets the specified changelog.",
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.changelogs.get",
                      "response": {
                        "$ref": "Changelog"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs/{changelogsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    },
                    "list": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the app to list changelogs from."
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListChangelogs call.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the changelogs. See https://google.aip.dev/160 for more details. The filter string can be used to filter by `action`, `resource_type`, `resource_name`, `author`, and `create_time`. The `:` comparator can be used for case-insensitive partial matching on string fields, while `=` performs an exact case-sensitive match. Examples: * `action:update` (case-insensitive partial match) * `action=\"Create\"` (case-sensitive exact match) * `resource_type:agent` * `resource_name:my-agent` * `author:me@example.com` * `create_time > \"2025-01-01T00:00:00Z\"` * `create_time <= \"2025-01-01T00:00:00Z\" AND resource_type:tool`",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists the changelogs of the specified app.",
                      "path": "v1beta/{+parent}/changelogs",
                      "id": "ces.projects.locations.apps.changelogs.list",
                      "response": {
                        "$ref": "ListChangelogsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "deployments": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of deployments to return. The service may return fewer than this value. If unspecified, at most 50 deployments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListDeployments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDeployments` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists deployments in the given app.",
                      "path": "v1beta/{+parent}/deployments",
                      "id": "ces.projects.locations.apps.deployments.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListDeploymentsResponse"
                      }
                    },
                    "get": {
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
                        }
                      },
                      "description": "Gets details of the specified deployment.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Deployment"
                      },
                      "id": "ces.projects.locations.apps.deployments.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "path": "v1beta/{+parent}/deployments",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "deploymentId": {
                          "description": "Optional. The ID to use for the deployment, which will become the final component of the deployment's resource name. If not provided, a unique ID will be automatically assigned for the deployment.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Creates a new deployment in the given app.",
                      "response": {
                        "$ref": "Deployment"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Deployment"
                      },
                      "id": "ces.projects.locations.apps.deployments.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments",
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Optional. The list of fields to update.",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "description": "Updates the specified deployment.",
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.deployments.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Deployment"
                      },
                      "response": {
                        "$ref": "Deployment"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "httpMethod": "DELETE",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the deployment to delete. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "etag": {
                          "description": "Optional. The etag of the deployment. If an etag is provided and does not match the current etag of the deployment, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Deletes the specified deployment.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.deployments.delete"
                    }
                  }
                },
                "evaluations": {
                  "resources": {
                    "results": {
                      "methods": {
                        "export": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}/results:export",
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "description": "Required. The resource name of the evaluation to export evaluation results from. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "description": "Exports evaluations results.",
                          "path": "v1beta/{+parent}/results:export",
                          "id": "ces.projects.locations.apps.evaluations.results.export",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "ExportEvaluationResultsRequest"
                          },
                          "response": {
                            "$ref": "Operation"
                          }
                        },
                        "list": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}/results",
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "description": "Required. The resource name of the evaluation to list evaluation results from. To filter by evaluation run, use `-` as the evaluation ID and specify the evaluation run ID in the filter. For example: `projects/{project}/locations/{location}/apps/{app}/evaluations/-`",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+$",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluationResults call.",
                              "location": "query"
                            },
                            "orderBy": {
                              "type": "string",
                              "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                              "location": "query"
                            },
                            "filter": {
                              "description": "Optional. Filter to be applied when listing the evaluation results. See https://google.aip.dev/160 for more details.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "description": "Lists all evaluation results for a given evaluation.",
                          "path": "v1beta/{+parent}/results",
                          "id": "ces.projects.locations.apps.evaluations.results.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListEvaluationResultsResponse"
                          }
                        },
                        "get": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+/results/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The resource name of the evaluation result to retrieve."
                            }
                          },
                          "description": "Gets details of the specified evaluation result.",
                          "path": "v1beta/{+name}",
                          "id": "ces.projects.locations.apps.evaluations.results.get",
                          "response": {
                            "$ref": "EvaluationResult"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}/results/{resultsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET"
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}/results/{resultsId}",
                          "response": {
                            "$ref": "Empty"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "ces.projects.locations.apps.evaluations.results.delete",
                          "path": "v1beta/{+name}",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the evaluation result to delete.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+/results/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "description": "Deletes an evaluation result."
                        }
                      }
                    }
                  },
                  "methods": {
                    "uploadEvaluationAudio": {
                      "id": "ces.projects.locations.apps.evaluations.uploadEvaluationAudio",
                      "response": {
                        "$ref": "UploadEvaluationAudioResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "UploadEvaluationAudioRequest"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Evaluation for which to upload the evaluation audio. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Uploads audio for use in Golden Evaluations. Stores the audio in the Cloud Storage bucket defined in 'App.logging_settings.evaluation_audio_recording_config.gcs_bucket' and returns a transcript.",
                      "path": "v1beta/{+name}:uploadEvaluationAudio",
                      "httpMethod": "POST",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}:uploadEvaluationAudio",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations",
                      "response": {
                        "$ref": "ListEvaluationsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ces.projects.locations.apps.evaluations.list",
                      "path": "v1beta/{+parent}/evaluations",
                      "parameters": {
                        "evaluationRunFilter": {
                          "type": "string",
                          "description": "Optional. Filter string for fields on the associated EvaluationRun resources. See https://google.aip.dev/160 for more details. Supported fields: create_time, initiated_by, app_version_display_name",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the app to list evaluations from."
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list EvaluationService.ListEvaluations call.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Deprecated: Use evaluation_filter and evaluation_run_filter instead.",
                          "location": "query",
                          "deprecated": true
                        },
                        "evaluationFilter": {
                          "description": "Optional. Filter to be applied on the evaluation when listing the evaluations. See https://google.aip.dev/160 for more details. Supported fields: evaluation_datasets",
                          "location": "query",
                          "type": "string"
                        },
                        "lastTenResults": {
                          "type": "boolean",
                          "description": "Optional. Whether to include the last 10 evaluation results for each evaluation in the response.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\", and \"update_time\" are supported. Time fields are ordered in descending order, and the name field is ordered in ascending order. If not included, \"update_time\" will be the default. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists all evaluations in the given app."
                    },
                    "export": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to export evaluations from. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Exports evaluations.",
                      "path": "v1beta/{+parent}/evaluations:export",
                      "id": "ces.projects.locations.apps.evaluations.export",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "ExportEvaluationsRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations:export",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    },
                    "get": {
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the evaluation to retrieve.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Gets details of the specified evaluation.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Evaluation"
                      },
                      "id": "ces.projects.locations.apps.evaluations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The app to create the evaluation for. Format: `projects/{project}/locations/{location}/apps/{app}`"
                        },
                        "evaluationId": {
                          "description": "Optional. The ID to use for the evaluation, which will become the final component of the evaluation's resource name. If not provided, a unique ID will be automatically assigned for the evaluation.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Creates an evaluation.",
                      "path": "v1beta/{+parent}/evaluations",
                      "id": "ces.projects.locations.apps.evaluations.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Evaluation"
                      },
                      "response": {
                        "$ref": "Evaluation"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}",
                      "response": {
                        "$ref": "Evaluation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Evaluation"
                      },
                      "id": "ces.projects.locations.apps.evaluations.patch",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Identifier. The unique identifier of this evaluation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Updates an evaluation."
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluations/{evaluationsId}",
                      "httpMethod": "DELETE",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the evaluation to delete.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluations/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "force": {
                          "type": "boolean",
                          "description": "Optional. Indicates whether to forcefully delete the evaluation, even if it is still referenced by evaluation datasets. * If `force = false`, the deletion will fail if any datasets still reference the evaluation. * If `force = true`, all existing references from datasets will be removed and the evaluation will be deleted.",
                          "location": "query"
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The current etag of the evaluation. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the evaluation, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query"
                        }
                      },
                      "description": "Deletes an evaluation.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.evaluations.delete"
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples",
                      "response": {
                        "$ref": "Example"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Example"
                      },
                      "id": "ces.projects.locations.apps.examples.create",
                      "path": "v1beta/{+parent}/examples",
                      "parameters": {
                        "exampleId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the example, which will become the final component of the example's resource name. If not provided, a unique ID will be automatically assigned for the example.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to create an example in.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Creates a new example in the given app."
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "type": "string",
                          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Updates the specified example.",
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.examples.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Example"
                      },
                      "response": {
                        "$ref": "Example"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "ces.projects.locations.apps.examples.delete",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the example to delete.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The current etag of the example. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the example, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query"
                        }
                      },
                      "description": "Deletes the specified example.",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}"
                    },
                    "list": {
                      "id": "ces.projects.locations.apps.examples.list",
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to list examples from.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListExamples call.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the examples. See https://google.aip.dev/160 for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query"
                        }
                      },
                      "description": "Lists examples in the given app.",
                      "path": "v1beta/{+parent}/examples",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Example"
                      },
                      "id": "ces.projects.locations.apps.examples.get",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the example to retrieve."
                        }
                      },
                      "description": "Gets details of the specified example.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}"
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the tools. Use \"include_system_tools=true\" to include system tools in the response. See https://google.aip.dev/160 for more details.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the app to list tools from."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListTools call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists tools in the given app.",
                      "path": "v1beta/{+parent}/tools",
                      "id": "ces.projects.locations.apps.tools.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListToolsResponse"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    },
                    "get": {
                      "response": {
                        "$ref": "Tool"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.tools.get",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the tool to retrieve.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Gets details of the specified tool.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}"
                    },
                    "create": {
                      "path": "v1beta/{+parent}/tools",
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the app to create a tool in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "toolId": {
                          "description": "Optional. The ID to use for the tool, which will become the final component of the tool's resource name. If not provided, a unique ID will be automatically assigned for the tool.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Creates a new tool in the given app.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Tool"
                      },
                      "response": {
                        "$ref": "Tool"
                      },
                      "id": "ces.projects.locations.apps.tools.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools",
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.tools.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Tool"
                      },
                      "response": {
                        "$ref": "Tool"
                      },
                      "parameters": {
                        "name": {
                          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query"
                        }
                      },
                      "description": "Updates the specified tool.",
                      "path": "v1beta/{+name}"
                    },
                    "delete": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "etag": {
                          "description": "Optional. The current etag of the tool. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the tool, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "force": {
                          "description": "Optional. Indicates whether to forcefully delete the tool, even if it is still referenced by agents/examples. * If `force = false`, the deletion will fail if any agents still reference the tool. * If `force = true`, all existing references from agents will be removed and the tool will be deleted.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the tool to delete."
                        }
                      },
                      "description": "Deletes the specified tool.",
                      "path": "v1beta/{+name}",
                      "id": "ces.projects.locations.apps.tools.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "evaluationDatasets": {
                  "methods": {
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets",
                      "httpMethod": "POST",
                      "path": "v1beta/{+parent}/evaluationDatasets",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The app to create the evaluation for. Format: `projects/{project}/locations/{location}/apps/{app}`"
                        },
                        "evaluationDatasetId": {
                          "description": "Optional. The ID to use for the evaluation dataset, which will become the final component of the evaluation dataset's resource name. If not provided, a unique ID will be automatically assigned for the evaluation.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Creates an evaluation dataset.",
                      "response": {
                        "$ref": "EvaluationDataset"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "EvaluationDataset"
                      },
                      "id": "ces.projects.locations.apps.evaluationDatasets.create"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/evaluationDatasets/{evaluationDatasetsId}",
                      "httpMethod": "PATCH",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The unique identifier of this evaluation dataset. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/evaluationDatasets/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query",
                          "type": "string",
[...]
