{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "endpoints": [
    {
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/"
    }
  ],
  "rootUrl": "https://ces.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "canonicalName": "Customer Engagement Suite",
  "version": "v1",
  "basePath": "",
  "title": "Gemini Enterprise for Customer Experience API",
  "description": "",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "schemas": {
    "DataStoreToolGroundingConfig": {
      "id": "DataStoreToolGroundingConfig",
      "properties": {
        "groundingLevel": {
          "format": "float",
          "type": "number",
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether grounding is disabled."
        }
      },
      "description": "Grounding configuration.",
      "type": "object"
    },
    "ConnectorTool": {
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "type": "object",
      "id": "ConnectorTool",
      "properties": {
        "action": {
          "description": "Required. Action for the tool to use.",
          "$ref": "Action"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        },
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool."
        },
        "description": {
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        }
      }
    },
    "LfA2aV1SendMessageRequest": {
      "id": "LfA2aV1SendMessageRequest",
      "properties": {
        "configuration": {
          "description": "Configuration for the send request.",
          "$ref": "LfA2aV1SendMessageConfiguration"
        },
        "metadata": {
          "description": "A flexible key-value map for passing additional context or parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "Required. The message to send to the agent."
        }
      },
      "description": "Represents a request for the `SendMessage` method.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "WidgetToolTextResponseConfig": {
      "description": "Configuration for the text response returned with the widget.",
      "type": "object",
      "id": "WidgetToolTextResponseConfig",
      "properties": {
        "staticText": {
          "description": "Optional. The static text response to return when type is STATIC.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ],
          "description": "Optional. The strategy for providing the text response.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ]
        },
        "textResponseInstruction": {
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED.",
          "type": "string"
        }
      }
    },
    "ExportAppRequest": {
      "type": "object",
      "id": "ExportAppRequest",
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "The export format is unspecified.",
            "The export format is JSON.",
            "The export format is YAML."
          ],
          "description": "Required. The format to export the app in.",
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ]
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`."
        },
        "gcsUri": {
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object.",
          "type": "string"
        }
      },
      "description": "Request message for AgentService.ExportApp."
    },
    "InstagramCredentials": {
      "type": "object",
      "description": "Ephemeral Meta credentials for Instagram native integration.",
      "id": "InstagramCredentials",
      "properties": {
        "conversationProfileId": {
          "description": "Optional. The Conversation Profile ID to use for the deployment.",
          "type": "string"
        },
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        }
      }
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
      "type": "object",
      "properties": {
        "defaultPromptTemplate": {
          "type": "string",
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY.",
          "readOnly": true
        }
      },
      "description": "Configuration for default system security settings."
    },
    "WhatsAppCredentials": {
      "id": "WhatsAppCredentials",
      "type": "object",
      "properties": {
        "pin": {
          "type": "string",
          "description": "Required. The 6-digit PIN created by the user for two-step verification."
        },
        "phoneNumber": {
          "description": "Required. The phone number to register with WhatsApp.",
          "type": "string"
        },
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        },
        "wabaId": {
          "description": "Required. The WhatsApp Business Account ID.",
          "type": "string"
        },
        "businessAccountId": {
          "description": "Required. The Business Account ID to use for the phone number.",
          "type": "string"
        },
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The Conversation Profile ID to use for the deployment."
        }
      },
      "description": "Ephemeral Meta credentials for WhatsApp native integration."
    },
    "ListConversationsResponse": {
      "properties": {
        "conversations": {
          "items": {
            "$ref": "Conversation"
          },
          "description": "The list of conversations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "id": "ListConversationsResponse",
      "description": "Response message for AgentService.ListConversations.",
      "type": "object"
    },
    "Message": {
      "id": "Message",
      "description": "A message within a conversation.",
      "type": "object",
      "properties": {
        "chunks": {
          "description": "Optional. Content of the message as a series of chunks.",
          "items": {
            "$ref": "Chunk"
          },
          "type": "array"
        },
        "role": {
          "description": "Optional. The role within the conversation, e.g., user, agent.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "type": "string"
        }
      }
    },
    "DataStoreToolBoostSpecs": {
      "type": "object",
      "id": "DataStoreToolBoostSpecs",
      "properties": {
        "spec": {
          "description": "Required. A list of boosting specifications.",
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "type": "array"
        },
        "dataStores": {
          "items": {
            "type": "string"
          },
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "type": "array"
        }
      },
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting."
    },
    "DataStore": {
      "type": "object",
      "properties": {
        "documentProcessingMode": {
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores.",
          "type": "string",
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "readOnly": true
        },
        "connectorConfig": {
          "$ref": "DataStoreConnectorConfig",
          "description": "Output only. The connector config for the data store connection.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`"
        },
        "displayName": {
          "description": "Output only. The display name of the data store.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Timestamp when the data store was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ],
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "readOnly": true,
          "description": "Output only. The type of the data store. This field is readonly and populated by the server."
        }
      },
      "description": "A DataStore resource in Vertex AI Search.",
      "id": "DataStore"
    },
    "ListChangelogsResponse": {
      "type": "object",
      "description": "Response message for AgentService.ListChangelogs.",
      "properties": {
        "changelogs": {
          "items": {
            "$ref": "Changelog"
          },
          "type": "array",
          "description": "The list of changelogs."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListChangelogsResponse"
    },
    "SessionInput": {
      "type": "object",
      "description": "Input for the session.",
      "id": "SessionInput",
      "properties": {
        "variables": {
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "dtmf": {
          "description": "Optional. DTMF digits from the end user.",
          "type": "string"
        },
        "image": {
          "description": "Optional. Image data from the end user.",
          "$ref": "Image"
        },
        "text": {
          "type": "string",
          "description": "Optional. Text data from the end user."
        },
        "blob": {
          "description": "Optional. Blob data from the end user.",
          "$ref": "Blob"
        },
        "willContinue": {
          "type": "boolean",
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal."
        },
        "event": {
          "$ref": "Event",
          "description": "Optional. Event input."
        },
        "toolResponses": {
          "description": "Optional. Execution results for the tool calls from the client.",
          "$ref": "ToolResponses"
        },
        "audio": {
          "format": "byte",
          "type": "string",
          "description": "Optional. Audio data from the end user."
        }
      }
    },
    "ListGuardrailsResponse": {
      "description": "Response message for AgentService.ListGuardrails.",
      "id": "ListGuardrailsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "description": "The list of guardrails.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GenerateChatTokenRequest": {
      "type": "object",
      "properties": {
        "deployment": {
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}",
          "type": "string"
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget."
        },
        "liveHandoffEnabled": {
          "description": "Optional. Indicates if live handoff is enabled for the session.",
          "type": "boolean"
        }
      },
      "description": "Request message for WidgetService.GenerateChatToken.",
      "id": "GenerateChatTokenRequest"
    },
    "Toolset": {
      "id": "Toolset",
      "type": "object",
      "properties": {
        "openApiToolset": {
          "$ref": "OpenApiToolset",
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema."
        },
        "mcpToolset": {
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server.",
          "$ref": "McpToolset"
        },
        "name": {
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the toolset was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "executionType": {
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tools in the toolset."
        },
        "displayName": {
          "description": "Optional. The display name of the toolset. Must be unique within the same app.",
          "type": "string"
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tools behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "description": {
          "description": "Optional. The description of the toolset.",
          "type": "string"
        },
        "connectorToolset": {
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection.",
          "$ref": "ConnectorToolset"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the toolset was created.",
          "type": "string",
          "readOnly": true
        },
        "timeout": {
          "description": "Optional. The timeout for the toolset execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` toolsets and 60 seconds for `ASYNCHRONOUS` toolsets.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent."
    },
    "AppVersion": {
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created.",
      "properties": {
        "snapshot": {
          "readOnly": true,
          "$ref": "AppSnapshot",
          "description": "Output only. The snapshot of the app when the version is created."
        },
        "displayName": {
          "description": "Optional. The display name of the app version.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the app version was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email of the user who created the app version."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the app version was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the app version."
        }
      },
      "type": "object",
      "id": "AppVersion"
    },
    "ImportAppResponse": {
      "type": "object",
      "description": "Response message for AgentService.ImportApp.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the app that was imported."
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here."
        }
      },
      "id": "ImportAppResponse"
    },
    "ListDeploymentsResponse": {
      "description": "Response message for AgentService.ListDeployments.",
      "id": "ListDeploymentsResponse",
      "properties": {
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "type": "array",
          "description": "The list of deployments."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "ActionEntityOperation": {
      "properties": {
        "operation": {
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "Required. Operation to perform on the entity."
        },
        "entityId": {
          "description": "Required. ID of the entity.",
          "type": "string"
        }
      },
      "description": "Entity CRUD operation specification.",
      "id": "ActionEntityOperation",
      "type": "object"
    },
    "AgentTool": {
      "type": "object",
      "description": "Represents a tool that allows the agent to call another agent.",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        },
        "name": {
          "description": "Required. The name of the agent tool.",
          "type": "string"
        }
      },
      "id": "AgentTool"
    },
    "Blob": {
      "id": "Blob",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "Required. Raw bytes of the blob.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a blob input or output in the conversation."
    },
    "TurnHandoffEvent": {
      "properties": {
        "turnId": {
          "description": "Identifies the turn to resume.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "SERVER_RESTART"
          ],
          "description": "Why the stream is handing off.",
          "enumDescriptions": [
            "Unspecified.",
            "The serving task is shutting down (release push or rescheduling)."
          ]
        }
      },
      "type": "object",
      "description": "Emitted before this task stops serving the stream mid-turn (e.g. a server restart). The turn's state is persisted; a reconnect carrying resume_from_sequence_number continues it on another task.",
      "id": "TurnHandoffEvent"
    },
    "ConnectorToolset": {
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "properties": {
        "authConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override"
        },
        "connectorActions": {
          "type": "array",
          "description": "Required. The list of connector actions/entity operations to generate tools for.",
          "items": {
            "$ref": "Action"
          }
        },
        "connection": {
          "type": "string",
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
        }
      },
      "id": "ConnectorToolset",
      "type": "object"
    },
    "ListAppsResponse": {
      "id": "ListAppsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListApps.",
      "properties": {
        "apps": {
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        }
      }
    },
    "RetrieveToolsResponse": {
      "properties": {
        "tools": {
          "description": "The list of tools that are included in the specified toolset.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        }
      },
      "description": "Response message for ToolService.RetrieveTools.",
      "type": "object",
      "id": "RetrieveToolsResponse"
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "type": "object",
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "properties": {
        "oauthToken": {
          "type": "string",
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`."
        }
      }
    },
    "DataStoreToolBoostSpec": {
      "description": "Boost specification to boost certain documents.",
      "properties": {
        "conditionBoostSpecs": {
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpec"
          },
          "type": "array",
          "description": "Required. A list of boosting specifications."
        }
      },
      "id": "DataStoreToolBoostSpec",
      "type": "object"
    },
    "McpToolOverride": {
      "type": "object",
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "properties": {
        "snapshot": {
          "readOnly": true,
          "$ref": "McpToolDefinition",
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present."
        },
        "tool": {
          "description": "Required. The original name of the tool as it is emitted by the MCP server.",
          "type": "string"
        },
        "nameOverride": {
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools.",
          "type": "string"
        },
        "descriptionOverride": {
          "description": "Optional. If present, this tool uses this description instead of the original description from the server.",
          "type": "string"
        }
      },
      "id": "McpToolOverride"
    },
    "RemoteA2aConfig": {
      "type": "object",
      "id": "RemoteA2aConfig",
      "description": "Shared configuration for connecting to a remote [A2A](https://github.com/a2aproject/A2A) agent.",
      "properties": {
        "apiAuthentication": {
          "description": "Optional. Authentication configuration for calling the remote agent. Optional if the registry reference already handles authentication.",
          "$ref": "ApiAuthentication"
        },
        "agentCard": {
          "$ref": "AgentCard",
          "description": "Optional. The full agent card defined inline."
        },
        "inputVariableMapping": {
          "description": "Optional. Mapping of input variable names of remote agent to GECX variable names.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "agentRegistry": {
          "description": "Optional. Reference to the agent in the Agent Registry. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "outputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Mapping of output variable names of remote agent to GECX variable names."
        },
        "contextId": {
          "description": "Optional. If not empty, interactions with the remote A2A agent will use this context ID. This context_id field can refer to a session variable like `$context.variables.order_agent_session_id`.",
          "type": "string"
        },
        "streamingEnabled": {
          "description": "Optional. Whether streaming is enabled for the remote agent.",
          "type": "boolean"
        }
      }
    },
    "StreamChatAiAssistantResponse": {
      "type": "object",
      "description": "Response message for SessionService.StreamChatAiAssistant.",
      "id": "StreamChatAiAssistantResponse",
      "properties": {
        "optionQuestionsChunk": {
          "$ref": "OptionQuestionsChunk",
          "description": "Structured clarification options parsed out of the model turn. The console renders these as a selectable option list instead of raw text."
        },
        "turnCompleted": {
          "$ref": "TurnCompletedEvent",
          "description": "The turn has ended. Sent as the last event of every turn, on the original stream and on every attached or resumed stream, so clients can end the turn on an explicit signal instead of inferring it from stream closure."
        },
        "artifactChunk": {
          "$ref": "ArtifactChunk",
          "description": "Generated-document artifact event (live preview deltas + final GCS pointer)."
        },
        "status": {
          "description": "Simple status update.",
          "$ref": "Status"
        },
        "thoughtChunk": {
          "description": "Thought text chunk (agent's reasoning before generating response).",
          "type": "string"
        },
        "toolCall": {
          "$ref": "ToolCall",
          "description": "Tool call execution event."
        },
        "textChunk": {
          "type": "string",
          "description": "Text Token (for streaming Gemini responses word-by-word)."
        },
        "confirmationRequest": {
          "$ref": "AssistantConfirmationRequest",
          "description": "A blocking confirmation the agent paused on. The agent resumes when the answer arrives on a later request's `confirmation_response`. Only sent to clients that declared the CONFIRMATION_CARDS capability on the request."
        },
        "toolResponse": {
          "description": "Tool call response event.",
          "$ref": "ToolResponse"
        },
        "eventId": {
          "description": "Unique identifier for the event.",
          "type": "string"
        },
        "turnInProgress": {
          "type": "boolean",
          "description": "Optional. Indicates whether the turn is still actively running in the background."
        },
        "handoff": {
          "$ref": "TurnHandoffEvent",
          "description": "Tells the client to silently reconnect with resume_from_sequence_number: the task serving this stream is going away and the turn will continue elsewhere. Not an error; the stream completes normally after this event."
        },
        "uiEvent": {
          "$ref": "UiEvent",
          "description": "Optional. UI event payload."
        },
        "eventTime": {
          "description": "Timestamp when the event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "resumeSnapshot": {
          "description": "A compacted replay of an in-flight turn, sent as the first event of every attach or resume before any live event. The client replaces any locally rendered state for this turn with the snapshot's contents.",
          "$ref": "TurnResumeSnapshot"
        },
        "sequenceNumber": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Monotonically increasing sequence number for this session turn."
        },
        "sessionCheckpoint": {
          "description": "Session checkpoint/compaction recap event containing user intent and rolling summary.",
          "$ref": "SessionCheckpoint"
        },
        "turnMetadata": {
          "description": "Optional. Turn-level metadata and intent categorization.",
          "$ref": "TurnMetadata"
        }
      }
    },
    "LfA2aV1AgentCardSignature": {
      "id": "LfA2aV1AgentCardSignature",
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "properties": {
        "protected": {
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object.",
          "type": "string"
        },
        "signature": {
          "type": "string",
          "description": "Required. The computed signature, base64url-encoded."
        },
        "header": {
          "type": "object",
          "description": "The unprotected JWS header values.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "SessionOutput": {
      "type": "object",
      "properties": {
        "payload": {
          "description": "Custom payload with structured output from the CES agent.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "diagnosticInfo": {
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn.",
          "$ref": "SessionOutputDiagnosticInfo"
        },
        "turnCompleted": {
          "type": "boolean",
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn."
        },
        "turnIndex": {
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1.",
          "type": "integer",
          "format": "int32"
        },
        "endSession": {
          "description": "Indicates the session has ended.",
          "$ref": "EndSession"
        },
        "text": {
          "description": "Output text from the CES agent.",
          "type": "string"
        },
        "citations": {
          "description": "Citations that provide the source information for the agent's generated text.",
          "$ref": "Citations"
        },
        "progress": {
          "type": "string",
          "description": "Intermediate progress update from the CES agent."
        },
        "image": {
          "$ref": "Image",
          "description": "Output image from the CES agent."
        },
        "toolCalls": {
          "description": "Request for the client to execute the tools.",
          "$ref": "ToolCalls"
        },
        "audio": {
          "format": "byte",
          "description": "Output audio from the CES agent.",
          "type": "string"
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool.",
          "$ref": "GoogleSearchSuggestions"
        }
      },
      "id": "SessionOutput",
      "description": "Output for the session."
    },
    "BigQueryExportSettings": {
      "properties": {
        "project": {
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "dataset": {
          "description": "Optional. The BigQuery **dataset ID** to export the data to.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Indicates whether the BigQuery export is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "BigQueryExportSettings",
      "description": "Settings to describe the BigQuery export behaviors for the app."
    },
    "AssistantSuggestion": {
      "type": "object",
      "properties": {
        "suggestionId": {
          "type": "string",
          "description": "Stable identifier for this suggestion, round-tripped by clients in interaction logging."
        },
        "icon": {
          "enumDescriptions": [
            "Unspecified icon.",
            "Resume a previous session.",
            "Build something new.",
            "Evaluation-related suggestion.",
            "Deployment-related suggestion.",
            "Exploration / discovery suggestion.",
            "Fix an error or failing state."
          ],
          "description": "Icon hint for the chip.",
          "type": "string",
          "enum": [
            "ICON_UNSPECIFIED",
            "RESUME",
            "BUILD",
            "EVALUATE",
            "DEPLOY",
            "EXPLORE",
            "FIX"
          ]
        },
        "source": {
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "RULE",
            "LLM_RANKED"
          ],
          "description": "How this suggestion was produced.",
          "enumDescriptions": [
            "Unspecified source.",
            "Deterministic rule-table candidate with template phrasing.",
            "Rule-table candidate re-ranked and phrased by the LLM phrasing step."
          ]
        },
        "candidateType": {
          "description": "Rule-table candidate type in kebab-case (e.g. \"resume-pending-review\"), for metrics.",
          "type": "string"
        },
        "loadSession": {
          "$ref": "AssistantSuggestionLoadSession",
          "description": "Open an existing assistant session."
        },
        "sendMessage": {
          "description": "Prefill the composer with this text and submit immediately. Only used for quick-reply chips inside an active onboarding conversation.",
          "type": "string"
        },
        "seedPrompt": {
          "type": "string",
          "description": "Prefill the composer with this text; the user reviews and sends."
        },
        "label": {
          "description": "Chip label shown to the user (at most 60 characters).",
          "type": "string"
        },
        "rationale": {
          "type": "string",
          "description": "Optional short explanation of why this suggestion is shown (tooltip / rationale popover)."
        }
      },
      "id": "AssistantSuggestion",
      "description": "A single personalized onboarding suggestion chip for the AI assistant's zero state."
    },
    "BatchDeleteConversationsRequest": {
      "type": "object",
      "properties": {
        "conversations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The resource names of the conversations to delete."
        }
      },
      "id": "BatchDeleteConversationsRequest",
      "description": "Request message for AgentService.BatchDeleteConversations."
    },
    "TriggerActionTransferAgent": {
      "description": "The agent will transfer the conversation to a different agent.",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      },
      "id": "TriggerActionTransferAgent",
      "type": "object"
    },
    "ImportAppRequest": {
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "ignoreAppLock": {
          "type": "boolean",
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock."
        },
        "appId": {
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "jsonPatchGcsUri": {
          "description": "Optional. A Cloud Storage URI pointing to a JSON file containing the patches.",
          "type": "string"
        },
        "appContent": {
          "format": "byte",
          "description": "Raw bytes representing the compressed zip file with the app folder structure.",
          "type": "string"
        },
        "jsonPatchContent": {
          "description": "Optional. Patch content as a JSON string.",
          "type": "string"
        },
        "importOptions": {
          "$ref": "ImportAppRequestImportOptions",
          "description": "Optional. Options governing the import process for the app."
        }
      },
      "id": "ImportAppRequest",
      "description": "Request message for AgentService.ImportApp."
    },
    "OAuthConfig": {
      "id": "OAuthConfig",
      "description": "Configurations for authentication with OAuth.",
      "type": "object",
      "properties": {
        "clientSecretVersion": {
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "clientId": {
          "description": "Required. The client ID from the OAuth provider.",
          "type": "string"
        },
        "oauthGrantType": {
          "type": "string",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "description": "Required. OAuth grant types.",
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ]
        },
        "tokenEndpoint": {
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The OAuth scopes to grant."
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "TurnResumeSnapshot": {
      "properties": {
        "turnId": {
          "type": "string",
          "description": "Identifies the turn being attached to."
        },
        "resolvedSequenceNumber": {
          "format": "int64",
          "type": "string",
          "description": "The position this snapshot represents. Live events follow with sequence_number strictly greater than this. When lower than the resume_from_sequence_number the client requested, flushed progress lags what the client already rendered: the client must discard its rendered content of this turn beyond this position before applying the snapshot."
        },
        "events": {
          "items": {
            "$ref": "StreamChatAiAssistantResponse"
          },
          "description": "Compacted events reconstructing the turn's visible output, in render order, using the same event shapes as live streaming.",
          "type": "array"
        },
        "orphanDeadlineTime": {
          "format": "google-datetime",
          "description": "When the turn will be wound down if no client remains attached.",
          "type": "string"
        }
      },
      "description": "A compacted replay of an in-flight turn: everything needed to render the turn's visible output so far, plus the position live events continue from.",
      "type": "object",
      "id": "TurnResumeSnapshot"
    },
    "ListAgentsResponse": {
      "description": "Response message for AgentService.ListAgents.",
      "id": "ListAgentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "description": "The list of agents.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExpressionCondition": {
      "id": "ExpressionCondition",
      "type": "object",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Required. The string representation of cloud.api.Expression condition."
        }
      },
      "description": "Expression condition based on session state."
    },
    "Changelog": {
      "properties": {
        "originalResource": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. The original resource before the change."
        },
        "author": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the change author."
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed.",
          "readOnly": true,
          "type": "string"
        },
        "action": {
          "description": "Output only. The action that was performed on the resource.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the change was made.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sequenceNumber": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "readOnly": true
        },
        "resourceType": {
          "description": "Output only. The type of the resource that was changed.",
          "readOnly": true,
          "type": "string"
        },
        "resource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource that was changed."
        },
        "name": {
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`",
          "type": "string"
        },
        "newResource": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. The new resource after the change.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "dependentResources": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The dependent resources that were changed.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        }
      },
      "id": "Changelog",
      "type": "object",
      "description": "Changelogs represent a change made to the app or to an resource within the app."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "AssistantSuggestionLoadSession": {
      "description": "Parameters for the load_session action.",
      "id": "AssistantSuggestionLoadSession",
      "type": "object",
      "properties": {
        "assistantSessionId": {
          "type": "string",
          "description": "Identifier of the assistant session to open (the final segment of the AssistantSession resource name)."
        }
      }
    },
    "ListAppVersionsResponse": {
      "id": "ListAppVersionsResponse",
      "type": "object",
      "properties": {
        "appVersions": {
          "items": {
            "$ref": "AppVersion"
          },
          "description": "The list of app versions.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "description": "Response message for AgentService.ListAppVersions."
    },
    "LfA2aV1AgentInterface": {
      "properties": {
        "tenant": {
          "description": "Optional. An opaque string used for routing requests to a specific agent or tenant when multiple agents are served behind a single A2A endpoint. When set, clients MUST include this value in the `tenant` field of all request messages sent to this interface. The server is responsible for interpreting the value and routing requests accordingly; the protocol does not define its format or semantics.",
          "type": "string"
        },
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        },
        "url": {
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "id": "LfA2aV1AgentInterface"
    },
    "AgentCard": {
      "properties": {
        "skills": {
          "items": {
            "$ref": "AgentSkill"
          },
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "type": "array"
        },
        "supportedInterfaces": {
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array",
          "items": {
            "$ref": "AgentInterface"
          }
        },
        "description": {
          "type": "string",
          "description": "Required. A description of the agent's domain of action/solution space."
        },
        "version": {
          "type": "string",
          "description": "Required. The version of the agent."
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the agent."
        }
      },
      "type": "object",
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard",
      "id": "AgentCard"
    },
    "TransferRule": {
      "id": "TransferRule",
      "description": "Rule for transferring to a specific agent.",
      "type": "object",
      "properties": {
        "disablePlannerTransfer": {
          "$ref": "TransferRuleDisablePlannerTransfer",
          "description": "Optional. Rule that prevents the planner from transferring to the target agent."
        },
        "deterministicTransfer": {
          "$ref": "TransferRuleDeterministicTransfer",
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met."
        },
        "childAgent": {
          "type": "string",
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "description": "Required. The direction of the transfer.",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ]
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "properties": {
        "turnLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. The turn level metrics thresholds."
        },
        "expectationLevelMetricsThresholds": {
          "description": "Optional. The expectation level metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds"
        },
        "toolMatchingSettings": {
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation.",
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings"
        }
      },
      "description": "Settings for golden evaluations.",
      "type": "object"
    },
    "GuardrailModelSafetySafetySetting": {
      "type": "object",
      "properties": {
        "threshold": {
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "description": "Required. The harm block threshold.",
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ]
        },
        "category": {
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_PROFANITY",
            "HARM_CATEGORY_TOXIC"
          ],
          "description": "Required. The harm category.",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is profanity.",
            "The harm category is toxic."
          ]
        }
      },
      "description": "Safety setting.",
      "id": "GuardrailModelSafetySafetySetting"
    },
    "ConversationTurn": {
      "properties": {
        "messages": {
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "rootSpan": {
          "description": "Optional. The root span of the action processing.",
          "$ref": "Span"
        },
        "userIntendedText": {
          "type": "string",
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled."
        }
      },
      "id": "ConversationTurn",
      "description": "All information about a single turn in the conversation.",
      "type": "object"
    },
    "GuardrailLlmPolicy": {
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
      "type": "object",
      "properties": {
        "maxConversationMessages": {
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used.",
          "type": "integer",
          "format": "int32"
        },
        "allowShortUtterance": {
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped.",
          "type": "boolean"
        },
        "policyScope": {
          "type": "string",
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ],
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ],
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond."
        },
        "prompt": {
          "type": "string",
          "description": "Required. Policy prompt."
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Model settings."
        }
      },
      "id": "GuardrailLlmPolicy"
    },
    "LfA2aV1AgentProvider": {
      "type": "object",
      "description": "Represents the service provider of an agent.",
      "properties": {
        "organization": {
          "type": "string",
          "description": "Required. The name of the agent provider's organization. Example: \"Google\""
        },
        "url": {
          "type": "string",
          "description": "Required. A URL for the agent provider's website or relevant documentation. Example: \"https://ai.google.dev\""
        }
      },
      "id": "LfA2aV1AgentProvider"
    },
    "ErrorHandlingSettings": {
      "id": "ErrorHandlingSettings",
      "properties": {
        "fallbackResponseConfig": {
          "description": "Optional. Configuration for handling fallback responses.",
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig"
        },
        "endSessionConfig": {
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors).",
          "$ref": "ErrorHandlingSettingsEndSessionConfig"
        },
        "errorHandlingStrategy": {
          "type": "string",
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ],
          "description": "Optional. The strategy to use for error handling.",
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ]
        }
      },
      "type": "object",
      "description": "Settings to describe how errors should be handled in the app."
    },
    "ExperimentConfigVersionRelease": {
      "id": "ExperimentConfigVersionRelease",
      "description": "Version release for the experiment.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ],
          "description": "Optional. State of the version release.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ]
        },
        "trafficAllocations": {
          "type": "array",
          "description": "Optional. Traffic allocations for the version release.",
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          }
        }
      },
      "type": "object"
    },
    "WidgetTool": {
      "properties": {
        "textResponseConfig": {
          "description": "Optional. Configuration for always-included text responses.",
          "$ref": "WidgetToolTextResponseConfig"
        },
        "parameters": {
          "description": "Optional. The input parameters of the widget tool.",
          "$ref": "Schema"
        },
        "widgetType": {
          "type": "string",
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ],
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED.",
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the widget tool."
        },
        "dataMapping": {
          "$ref": "WidgetToolDataMapping",
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters."
        },
        "name": {
          "description": "Required. The display name of the widget tool.",
          "type": "string"
        },
        "uiConfig": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Configuration for rendering the widget."
        }
      },
      "id": "WidgetTool",
      "type": "object",
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent."
    },
    "ExecuteToolResponse": {
      "description": "Response message for ToolService.ExecuteTool.",
      "id": "ExecuteToolResponse",
      "properties": {
        "toolsetTool": {
          "description": "The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "googleSearchSuggestions": {
          "$ref": "GoogleSearchSuggestions",
          "description": "The suggestions returned from Google Search as a result of invoking the Google Search Tool during the tool execution."
        },
        "citations": {
          "description": "Citations that provide the source information for the tool's execution.",
          "$ref": "Citations"
        },
        "tool": {
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "response": {
          "type": "object",
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "variables": {
          "description": "The variable values at the end of the tool execution.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GenerateOnboardingSuggestionsRequest": {
      "type": "object",
      "id": "GenerateOnboardingSuggestionsRequest",
      "description": "Request message for SessionService.GenerateOnboardingSuggestions.",
      "properties": {
        "maxSuggestions": {
          "type": "integer",
          "description": "Optional. Maximum number of suggestions to return. Defaults to 4 when unset.",
          "format": "int32"
        }
      }
    },
    "LfA2aV1SecurityRequirement": {
      "id": "LfA2aV1SecurityRequirement",
      "type": "object",
      "description": "Defines the security requirements for an agent.",
      "properties": {
        "schemes": {
          "description": "A map of security schemes to the required scopes.",
          "additionalProperties": {
            "$ref": "LfA2aV1StringList"
          },
          "type": "object"
        }
      }
    },
    "LfA2aV1OAuthFlows": {
      "properties": {
        "authorizationCode": {
          "description": "Configuration for the OAuth Authorization Code flow.",
          "$ref": "LfA2aV1AuthorizationCodeOAuthFlow"
        },
        "deviceCode": {
          "description": "Configuration for the OAuth Device Code flow.",
          "$ref": "LfA2aV1DeviceCodeOAuthFlow"
        },
        "clientCredentials": {
          "$ref": "LfA2aV1ClientCredentialsOAuthFlow",
          "description": "Configuration for the OAuth Client Credentials flow."
        },
        "password": {
          "$ref": "LfA2aV1PasswordOAuthFlow",
          "deprecated": true,
          "description": "Deprecated: Use Authorization Code + PKCE or Device Code."
        },
        "implicit": {
          "deprecated": true,
          "$ref": "LfA2aV1ImplicitOAuthFlow",
          "description": "Deprecated: Use Authorization Code + PKCE instead."
        }
      },
      "description": "Defines the configuration for the supported OAuth 2.0 flows.",
      "id": "LfA2aV1OAuthFlows",
      "type": "object"
    },
    "Tool": {
      "id": "Tool",
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "properties": {
        "connectorTool": {
          "$ref": "ConnectorTool",
          "description": "Optional. The Integration Connector tool."
        },
        "clientFunction": {
          "description": "Optional. The client function.",
          "$ref": "ClientFunction"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property."
        },
        "remoteAgentTool": {
          "$ref": "RemoteAgentTool",
          "description": "Optional. The remote agent tool."
        },
        "systemTool": {
          "description": "Optional. The system tool.",
          "$ref": "SystemTool"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the tool was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "mcpTool": {
          "$ref": "McpTool",
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset."
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools."
        },
        "fileSearchTool": {
          "$ref": "FileSearchTool",
          "description": "Optional. The file search tool."
        },
        "googleSearchTool": {
          "description": "Optional. The google search tool.",
          "$ref": "GoogleSearchTool"
        },
        "executionType": {
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "description": "Optional. The execution type of the tool.",
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "dataStoreTool": {
          "$ref": "DataStoreTool",
          "description": "Optional. The data store tool."
        },
        "readOnly": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the tool is read-only. If true, the tool cannot be modified by the user."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the tool was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
          "type": "string"
        },
        "openApiTool": {
          "$ref": "OpenApiTool",
          "description": "Optional. The open API tool."
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "pythonFunction": {
          "$ref": "PythonFunction",
          "description": "Optional. The python function tool."
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tool behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "agentTool": {
          "$ref": "AgentTool",
          "description": "Optional. The agent tool."
        },
        "widgetTool": {
          "description": "Optional. The widget tool.",
          "$ref": "WidgetTool"
        },
        "generatedSummary": {
          "readOnly": true,
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImportAppRequestImportOptions": {
      "type": "object",
      "id": "ImportAppRequestImportOptions",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one."
        },
        "conflictResolutionStrategy": {
          "type": "string",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ],
          "description": "Optional. The strategy to use when resolving conflicts during import."
        }
      },
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data."
    },
    "Schema": {
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "id": "Schema",
      "properties": {
        "defs": {
          "additionalProperties": {
            "$ref": "Schema"
          },
          "type": "object",
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema."
        },
        "additionalProperties": {
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties.",
          "$ref": "Schema"
        },
        "type": {
          "description": "Required. The type of the data.",
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ]
        },
        "minimum": {
          "type": "number",
          "format": "double",
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER."
        },
        "maxItems": {
          "type": "string",
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "format": "int64"
        },
        "items": {
          "$ref": "Schema",
          "description": "Optional. Schema of the elements of Type.ARRAY."
        },
        "ref": {
          "type": "string",
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring."
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "uniqueItems": {
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY.",
          "type": "boolean"
        },
        "prefixItems": {
          "type": "array",
          "items": {
            "$ref": "Schema"
          },
          "description": "Optional. Schemas of initial elements of Type.ARRAY."
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "maximum": {
          "format": "double",
          "type": "number",
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER."
        },
        "minItems": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Minimum number of the elements for Type.ARRAY."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the data."
        },
        "properties": {
          "description": "Optional. Properties of Type.OBJECT.",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "type": "object"
        },
        "required": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Required properties of Type.OBJECT."
        },
        "enum": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}"
        },
        "anyOf": {
          "type": "array",
          "items": {
            "$ref": "Schema"
          },
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list."
        }
      },
      "type": "object"
    },
    "ListExamplesResponse": {
      "description": "Response message for AgentService.ListExamples.",
      "id": "ListExamplesResponse",
      "properties": {
        "examples": {
          "items": {
            "$ref": "Example"
          },
          "description": "The list of examples.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LfA2aV1AgentSkill": {
      "type": "object",
      "id": "LfA2aV1AgentSkill",
      "description": "Represents a distinct capability or function that an agent can perform.",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A set of keywords describing the skill's capabilities."
        },
        "securityRequirements": {
          "type": "array",
          "description": "Security schemes necessary for this skill.",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          }
        },
        "name": {
          "description": "Required. A human-readable name for the skill.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. A detailed description of the skill."
        },
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        },
        "inputModes": {
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "outputModes": {
          "items": {
            "type": "string"
          },
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "type": "array"
        }
      }
    },
    "EndSession": {
      "description": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. Provides additional information about the end session signal, such as the reason for ending the session."
        }
      },
      "id": "EndSession",
      "type": "object"
    },
    "ChannelProfileInstagramConfig": {
      "properties": {
        "instagramAccountId": {
          "description": "Required. The Instagram Account ID.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The fetched Meta business page name.",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the Meta business page or profile."
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "Output only. The fetched Meta business profile thumbnail URL.",
          "readOnly": true
        }
      },
      "description": "Configuration specific to Instagram deployments.",
      "type": "object",
      "id": "ChannelProfileInstagramConfig"
    },
    "ChannelProfilePersonaProperty": {
      "description": "Represents the persona property of a channel.",
      "id": "ChannelProfilePersonaProperty",
      "properties": {
        "persona": {
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ],
          "description": "Optional. The persona of the channel."
        }
      },
      "type": "object"
    },
    "AmbientSoundConfig": {
      "properties": {
        "volumeGainDb": {
          "format": "double",
          "type": "number",
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that."
        },
        "prebuiltAmbientSound": {
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\"",
          "type": "string"
        },
        "prebuiltAmbientNoise": {
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "deprecated": true,
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "type": "string",
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ]
        },
        "gcsUri": {
          "type": "string",
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
        }
      },
      "id": "AmbientSoundConfig",
      "type": "object",
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
    },
    "ExportAppResponse": {
      "type": "object",
      "properties": {
        "appContent": {
          "description": "App folder compressed as a zip file.",
          "type": "string",
          "format": "byte"
        },
        "appUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ExportApp.",
      "id": "ExportAppResponse"
    },
    "FileSearchTool": {
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "id": "FileSearchTool",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        },
        "name": {
          "description": "Required. The tool name.",
          "type": "string"
        },
        "corpusType": {
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED."
        }
      }
    },
    "LfA2aV1StreamResponse": {
      "description": "A wrapper object used in streaming operations to encapsulate different types of response data.",
      "properties": {
        "task": {
          "$ref": "LfA2aV1Task",
          "description": "A Task object containing the current state of the task."
        },
        "artifactUpdate": {
          "description": "An event indicating a task artifact update.",
          "$ref": "LfA2aV1TaskArtifactUpdateEvent"
        },
        "statusUpdate": {
          "description": "An event indicating a task status update.",
          "$ref": "LfA2aV1TaskStatusUpdateEvent"
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A Message object containing a message from the agent."
        }
      },
      "type": "object",
      "id": "LfA2aV1StreamResponse"
    },
    "ClientCertificateSettings": {
      "properties": {
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        },
        "privateKey": {
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "passphrase": {
          "type": "string",
[...]
