{
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "title": "Gemini Enterprise for Customer Experience API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://ces.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "servicePath": "",
  "name": "ces",
  "revision": "20260806",
  "protocol": "rest",
  "baseUrl": "https://ces.googleapis.com/",
  "canonicalName": "Customer Engagement Suite",
  "ownerDomain": "google.com",
  "schemas": {
    "WhatsAppCredentials": {
      "id": "WhatsAppCredentials",
      "description": "Ephemeral Meta credentials for WhatsApp native integration.",
      "properties": {
        "conversationProfileId": {
          "description": "Optional. The Conversation Profile ID to use for the deployment.",
          "type": "string"
        },
        "businessAccountId": {
          "description": "Required. The Business Account ID to use for the phone number.",
          "type": "string"
        },
        "wabaId": {
          "description": "Required. The WhatsApp Business Account ID.",
          "type": "string"
        },
        "pin": {
          "description": "Required. The 6-digit PIN created by the user for two-step verification.",
          "type": "string"
        },
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Required. The phone number to register with WhatsApp.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleSearchToolPromptConfig": {
      "id": "GoogleSearchToolPromptConfig",
      "description": "Prompt settings used by the model when processing or summarizing the google search results.",
      "properties": {
        "voicePrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used.",
          "type": "string"
        },
        "textPrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Message": {
      "id": "Message",
      "description": "A message within a conversation.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Optional. The role within the conversation, e.g., user, agent.",
          "type": "string"
        },
        "chunks": {
          "description": "Optional. Content of the message as a series of chunks.",
          "type": "array",
          "items": {
            "$ref": "Chunk"
          }
        },
        "eventTime": {
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GenerateChatTokenResponse": {
      "id": "GenerateChatTokenResponse",
      "description": "Response message for WidgetService.GenerateChatToken.",
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the chat token expires."
        },
        "chatToken": {
          "description": "The session scoped token for chat widget to authenticate with Session APIs.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Blob": {
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ToolResponse": {
      "properties": {
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name of the tool.",
          "readOnly": true
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool that got executed.",
          "$ref": "ToolsetTool"
        },
        "id": {
          "description": "Optional. The matching ID of the tool call the response is for.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ToolResponse",
      "description": "The execution result of a specific tool from the client or the agent."
    },
    "DataStore": {
      "id": "DataStore",
      "description": "A DataStore resource in Vertex AI Search.",
      "type": "object",
      "properties": {
        "documentProcessingMode": {
          "readOnly": true,
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores."
        },
        "displayName": {
          "description": "Output only. The display name of the data store.",
          "readOnly": true,
          "type": "string"
        },
        "connectorConfig": {
          "description": "Output only. The connector config for the data store connection.",
          "readOnly": true,
          "$ref": "DataStoreConnectorConfig"
        },
        "name": {
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the data store was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "readOnly": true,
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ]
        }
      }
    },
    "App": {
      "properties": {
        "predefinedVariableDeclarations": {
          "description": "Output only. The declarations of predefined variables for the app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AppVariableDeclaration"
          }
        },
        "variableDeclarations": {
          "type": "array",
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "description": "Optional. The declarations of the variables."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app was created.",
          "readOnly": true
        },
        "toolExecutionMode": {
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL.",
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ]
        },
        "clientCertificateSettings": {
          "$ref": "ClientCertificateSettings",
          "description": "Optional. The default client certificate settings for the app."
        },
        "name": {
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
          "type": "string"
        },
        "rootAgent": {
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "locked": {
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected.",
          "type": "boolean"
        },
        "evaluationMetricsThresholds": {
          "description": "Optional. The evaluation thresholds for the app.",
          "$ref": "EvaluationMetricsThresholds"
        },
        "description": {
          "description": "Optional. Human-readable description of the app.",
          "type": "string"
        },
        "loggingSettings": {
          "$ref": "LoggingSettings",
          "description": "Optional. Logging settings of the app."
        },
        "deploymentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of deployments in the app.",
          "readOnly": true
        },
        "pinned": {
          "description": "Optional. Whether the app is pinned in the app list.",
          "type": "boolean"
        },
        "audioProcessingConfig": {
          "$ref": "AudioProcessingConfig",
          "description": "Optional. Audio processing configuration of the app."
        },
        "defaultChannelProfile": {
          "description": "Optional. The default channel profile used by the app.",
          "$ref": "ChannelProfile"
        },
        "dataStoreSettings": {
          "description": "Optional. The data store settings for the app.",
          "$ref": "DataStoreSettings"
        },
        "timeZoneSettings": {
          "$ref": "TimeZoneSettings",
          "description": "Optional. TimeZone settings of the app."
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name of the app.",
          "type": "string"
        },
        "globalInstruction": {
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents.",
          "type": "string"
        },
        "errorHandlingSettings": {
          "$ref": "ErrorHandlingSettings",
          "description": "Optional. Error handling settings of the app."
        },
        "guardrails": {
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app was last updated.",
          "readOnly": true
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages."
        },
        "languageSettings": {
          "$ref": "LanguageSettings",
          "description": "Optional. Language settings of the app."
        },
        "validationErrors": {
          "description": "Output only. Misconfigurations or warnings in the app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vpcScSettings": {
          "$ref": "VpcScSettings",
          "description": "Optional. VPC-SC settings for the app."
        }
      },
      "type": "object",
      "id": "App",
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context."
    },
    "MetricAnalysisSettings": {
      "type": "object",
      "properties": {
        "llmMetricsOptedOut": {
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected.",
          "type": "boolean"
        }
      },
      "id": "MetricAnalysisSettings",
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline."
    },
    "InstagramCredentials": {
      "id": "InstagramCredentials",
      "description": "Ephemeral Meta credentials for Instagram native integration.",
      "type": "object",
      "properties": {
        "conversationProfileId": {
          "description": "Optional. The Conversation Profile ID to use for the deployment.",
          "type": "string"
        },
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        }
      }
    },
    "GuardrailModelSafetySafetySetting": {
      "id": "GuardrailModelSafetySafetySetting",
      "description": "Safety setting.",
      "properties": {
        "category": {
          "type": "string",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content."
          ],
          "description": "Required. The harm category.",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          ]
        },
        "threshold": {
          "description": "Required. The harm block threshold.",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ]
        }
      },
      "type": "object"
    },
    "Citations": {
      "properties": {
        "citedChunks": {
          "type": "array",
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "description": "List of cited pieces of information."
        }
      },
      "type": "object",
      "id": "Citations",
      "description": "Citations associated with the agent response."
    },
    "AgentInterface": {
      "type": "object",
      "properties": {
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        },
        "tenant": {
          "description": "Tenant ID to be used in the request when calling the agent.",
          "type": "string"
        },
        "url": {
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\"",
          "type": "string"
        }
      },
      "id": "AgentInterface",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms."
    },
    "ApiAuthentication": {
      "type": "object",
      "properties": {
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        },
        "serviceAccountAuthConfig": {
          "$ref": "ServiceAccountAuthConfig",
          "description": "Optional. Config for service account authentication."
        },
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Optional. Config for OAuth."
        },
        "bearerTokenConfig": {
          "$ref": "BearerTokenConfig",
          "description": "Optional. Config for bearer token auth."
        },
        "serviceAgentIdTokenAuthConfig": {
          "$ref": "ServiceAgentIdTokenAuthConfig",
          "description": "Optional. Config for ID token auth generated from CES service agent."
        }
      },
      "id": "ApiAuthentication",
      "description": "Authentication information required for API calls."
    },
    "LfA2aV1ClientCredentialsOAuthFlow": {
      "properties": {
        "tokenUrl": {
          "description": "Required. The token URL to be used for this flow.",
          "type": "string"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens.",
          "type": "string"
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "LfA2aV1ClientCredentialsOAuthFlow",
      "description": "Defines configuration details for the OAuth 2.0 Client Credentials flow."
    },
    "LanguageSettings": {
      "properties": {
        "enableMultilingualSupport": {
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input.",
          "type": "boolean"
        },
        "fallbackAction": {
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation.",
          "deprecated": true,
          "type": "string"
        },
        "defaultLanguageCode": {
          "description": "Optional. The default language code of the app.",
          "type": "string"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`."
        }
      },
      "type": "object",
      "id": "LanguageSettings",
      "description": "Language settings of the app."
    },
    "ActionEntityOperation": {
      "id": "ActionEntityOperation",
      "description": "Entity CRUD operation specification.",
      "properties": {
        "entityId": {
          "description": "Required. ID of the entity.",
          "type": "string"
        },
        "operation": {
          "description": "Required. Operation to perform on the entity.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Operation type unspecified. Invalid, ConnectorTool create/update will fail.",
            "List operation.",
            "Get operation.",
            "Create operation.",
            "Update operation.",
            "Delete operation."
          ]
        }
      },
      "type": "object"
    },
    "Agent": {
      "id": "Agent",
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "beforeToolCallbacks": {
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "displayName": {
          "description": "Required. Display name of the agent.",
          "type": "string"
        },
        "beforeModelCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "transferRules": {
          "type": "array",
          "items": {
            "$ref": "TransferRule"
          },
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used."
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the agent was created.",
          "readOnly": true
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "toolsets": {
          "description": "Optional. List of toolsets for the agent.",
          "type": "array",
          "items": {
            "$ref": "AgentAgentToolset"
          }
        },
        "beforeAgentCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "childAgents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "llmAgent": {
          "$ref": "AgentLlmAgent",
          "description": "Optional. The default agent type."
        },
        "generatedSummary": {
          "type": "string",
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "readOnly": true
        },
        "afterToolCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "tools": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the agent was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Human-readable description of the agent.",
          "type": "string"
        },
        "guardrails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        },
        "afterAgentCallbacks": {
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        },
        "afterModelCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "validationErrors": {
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "DataStoreToolRewriterConfig": {
      "properties": {
        "modelSettings": {
          "description": "Required. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the rewriter is disabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "DataStoreToolRewriterConfig",
      "description": "Rewriter configuration."
    },
    "ListDeploymentsResponse": {
      "type": "object",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListDeploymentsResponse",
      "description": "Response message for AgentService.ListDeployments."
    },
    "CodeBlock": {
      "id": "CodeBlock",
      "description": "A code block to be executed instead of a real tool call.",
      "properties": {
        "pythonCode": {
          "description": "Required. Python code which will be invoked in tool fake mode. Expected Python function signature - To catch all tool calls: def fake_tool_call(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: To catch a specific tool call: def fake_{tool_id}(tool: Tool, input: dict[str, Any], callback_context: CallbackContext) -> Optional[dict[str, Any]]: If the function returns None, the real tool will be invoked instead.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "McpToolset": {
      "id": "McpToolset",
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "type": "object",
      "properties": {
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required to access tools and execute a tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
        },
        "serverAddress": {
          "description": "Required. The address of the MCP server, for example, \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter.",
          "$ref": "ServiceDirectoryConfig"
        },
        "customHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details."
        },
        "toolOverrides": {
          "description": "Optional. Overrides for individual tools within this toolset. This allows overriding specific details like descriptions, names, or pinning the tools' states so they aren't fully dynamic.",
          "type": "array",
          "items": {
            "$ref": "McpToolOverride"
          }
        }
      }
    },
    "TriggerActionRespondImmediately": {
      "type": "object",
      "properties": {
        "responses": {
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly.",
          "type": "array",
          "items": {
            "$ref": "TriggerActionResponse"
          }
        }
      },
      "id": "TriggerActionRespondImmediately",
      "description": "The agent will immediately respond with a preconfigured response."
    },
    "ListChangelogsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "changelogs": {
          "description": "The list of changelogs.",
          "type": "array",
          "items": {
            "$ref": "Changelog"
          }
        }
      },
      "id": "ListChangelogsResponse",
      "description": "Response message for AgentService.ListChangelogs."
    },
    "ClientCertificateSettings": {
      "id": "ClientCertificateSettings",
      "description": "Settings for custom client certificates.",
      "type": "object",
      "properties": {
        "privateKey": {
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        }
      }
    },
    "ToolCall": {
      "id": "ToolCall",
      "description": "Request for the client or the agent to execute the specified tool.",
      "properties": {
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to execute."
        },
        "id": {
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name of the tool.",
          "readOnly": true
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AudioRecordingConfig": {
      "properties": {
        "gcsBucket": {
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "gcsPathPrefix": {
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AudioRecordingConfig",
      "description": "Configuration for how the audio interactions should be recorded."
    },
    "EvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholds",
      "description": "Threshold settings for metrics in an Evaluation.",
      "type": "object",
      "properties": {
        "hallucinationMetricBehavior": {
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "deprecated": true,
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "scenarioHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "goldenEvaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
          "description": "Optional. The golden evaluation metrics thresholds."
        },
        "goldenHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        }
      }
    },
    "BatchDeleteConversationsRequest": {
      "properties": {
        "conversations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The resource names of the conversations to delete."
        }
      },
      "type": "object",
      "id": "BatchDeleteConversationsRequest",
      "description": "Request message for AgentService.BatchDeleteConversations."
    },
    "RetrieveToolSchemaRequest": {
      "properties": {
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        }
      },
      "type": "object",
      "id": "RetrieveToolSchemaRequest",
      "description": "Request message for ToolService.RetrieveToolSchema."
    },
    "Tool": {
      "properties": {
        "agentTool": {
          "description": "Optional. The agent tool.",
          "$ref": "AgentTool"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools."
        },
        "clientFunction": {
          "$ref": "ClientFunction",
          "description": "Optional. The client function."
        },
        "executionType": {
          "type": "string",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "description": "Optional. The execution type of the tool.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "fileSearchTool": {
          "$ref": "FileSearchTool",
          "description": "Optional. The file search tool."
        },
        "widgetTool": {
          "$ref": "WidgetTool",
          "description": "Optional. The widget tool."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the tool was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        },
        "generatedSummary": {
          "type": "string",
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "readOnly": true
        },
        "dataStoreTool": {
          "description": "Optional. The data store tool.",
          "$ref": "DataStoreTool"
        },
        "googleSearchTool": {
          "description": "Optional. The google search tool.",
          "$ref": "GoogleSearchTool"
        },
        "remoteAgentTool": {
          "description": "Optional. The remote agent tool.",
          "$ref": "RemoteAgentTool"
        },
        "connectorTool": {
          "description": "Optional. The Integration Connector tool.",
          "$ref": "ConnectorTool"
        },
        "systemTool": {
          "$ref": "SystemTool",
          "description": "Optional. The system tool."
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tool behavior in fake mode."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the tool was created.",
          "readOnly": true
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "mcpTool": {
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset.",
          "$ref": "McpTool"
        },
        "name": {
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
          "type": "string"
        },
        "openApiTool": {
          "$ref": "OpenApiTool",
          "description": "Optional. The open API tool."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Tool",
      "description": "A tool represents an action that the CES agent can take to achieve certain goals."
    },
    "Example": {
      "id": "Example",
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "type": "object",
      "properties": {
        "entryAgent": {
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the example.",
          "type": "string"
        },
        "invalid": {
          "type": "boolean",
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples.",
          "readOnly": true
        },
        "messages": {
          "description": "Optional. The collection of messages that make up the conversation.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the example was last updated.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the example was created.",
          "readOnly": true
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the example.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
          "type": "string"
        }
      }
    },
    "VpcScSettings": {
      "type": "object",
      "properties": {
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "VpcScSettings",
      "description": "VPC-SC settings for the app."
    },
    "LfA2aV1SendMessageRequest": {
      "id": "LfA2aV1SendMessageRequest",
      "description": "Represents a request for the `SendMessage` method.",
      "type": "object",
      "properties": {
        "configuration": {
          "$ref": "LfA2aV1SendMessageConfiguration",
          "description": "Configuration for the send request."
        },
        "message": {
          "description": "Required. The message to send to the agent.",
          "$ref": "LfA2aV1Message"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A flexible key-value map for passing additional context or parameters."
        }
      }
    },
    "Event": {
      "properties": {
        "event": {
          "description": "Required. The name of the event.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Event",
      "description": "Event input."
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "type": "object",
      "properties": {
        "controlPoints": {
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here."
        },
        "attributeType": {
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ]
        },
        "interpolationType": {
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        },
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        }
      }
    },
    "ExecuteToolResponse": {
      "type": "object",
      "properties": {
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "The toolset tool that got executed."
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The variable values at the end of the tool execution."
        },
        "tool": {
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result."
        },
        "citations": {
          "description": "Citations that provide the source information for the tool's execution.",
          "$ref": "Citations"
        },
        "googleSearchSuggestions": {
          "description": "The suggestions returned from Google Search as a result of invoking the Google Search Tool during the tool execution.",
          "$ref": "GoogleSearchSuggestions"
        }
      },
      "id": "ExecuteToolResponse",
      "description": "Response message for ToolService.ExecuteTool."
    },
    "LfA2aV1Message": {
      "id": "LfA2aV1Message",
      "description": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it.",
      "properties": {
        "messageId": {
          "description": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "The role is unspecified.",
            "The message is from the client to the server.",
            "The message is from the server to the client."
          ],
          "description": "Required. Identifies the sender of the message.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ]
        },
        "referenceTaskIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of task IDs that this message references for additional context."
        },
        "parts": {
          "description": "Required. Parts is the container of the message content.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Message."
        },
        "contextId": {
          "description": "Optional. The context id of the message. If set, the message will be associated with the given context.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Any metadata to provide along with the message.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "taskId": {
          "description": "Optional. The task id of the message. If set, the message will be associated with the given task.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Callback": {
      "id": "Callback",
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "properties": {
        "description": {
          "description": "Optional. Human-readable description of the callback.",
          "type": "string"
        },
        "pythonCode": {
          "description": "Required. The python code to execute for the callback.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent.",
          "type": "boolean"
        },
        "proactiveExecutionEnabled": {
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AppVersion": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the app version.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the app version was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "type": "string",
          "description": "Output only. Email of the user who created the app version.",
          "readOnly": true
        },
        "snapshot": {
          "description": "Output only. The snapshot of the app when the version is created.",
          "readOnly": true,
          "$ref": "AppSnapshot"
        },
        "description": {
          "description": "Optional. The description of the app version.",
          "type": "string"
        }
      },
      "id": "AppVersion",
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created."
    },
    "LfA2aV1SendMessageConfiguration": {
      "type": "object",
      "properties": {
        "historyLength": {
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit.",
          "type": "integer",
          "format": "int32"
        },
        "returnImmediately": {
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning.",
          "type": "boolean"
        },
        "acceptedOutputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output."
        },
        "taskPushNotificationConfig": {
          "$ref": "LfA2aV1TaskPushNotificationConfig",
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request."
        }
      },
      "id": "LfA2aV1SendMessageConfiguration",
      "description": "Configuration of a send message request."
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "description": "Expectation level metrics thresholds.",
      "type": "object",
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "LfA2aV1StringList": {
      "id": "LfA2aV1StringList",
      "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED A list of strings.",
      "properties": {
        "list": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The individual string values."
        }
      },
      "type": "object"
    },
    "ListAppVersionsResponse": {
      "properties": {
        "appVersions": {
          "description": "The list of app versions.",
          "type": "array",
          "items": {
            "$ref": "AppVersion"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAppVersionsResponse",
      "description": "Response message for AgentService.ListAppVersions."
    },
    "Deployment": {
      "id": "Deployment",
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "properties": {
        "whatsappCredentials": {
          "$ref": "WhatsAppCredentials",
          "description": "Optional. Input only. Ephemeral WhatsApp credentials required when configuring a WhatsApp channel profile."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was last updated.",
          "readOnly": true
        },
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was created.",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        },
        "modelSettings": {
          "description": "Optional. Model settings for the deployment. Overrides model settings configured at the app/agent levels. Note: Deployment-level model settings override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "$ref": "ModelSettings"
        },
        "displayName": {
          "description": "Required. Display name of the deployment.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "instagramCredentials": {
          "description": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile.",
          "$ref": "InstagramCredentials"
        },
        "experimentConfig": {
          "$ref": "ExperimentConfig",
          "description": "Optional. Experiment configuration for the deployment."
        },
        "modality": {
          "type": "string",
          "enumDescriptions": [
            "Unknown modality.",
            "Text modality.",
            "Voice modality.",
            "Video modality."
          ],
          "description": "Optional. The modality of the deployment. Note: Deployment-level modality override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "MODALITY_TEXT",
            "MODALITY_VOICE",
            "MODALITY_VIDEO"
          ]
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeZoneSettings": {
      "id": "TimeZoneSettings",
      "description": "TimeZone settings of the app.",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataStoreSettings": {
      "properties": {
        "engines": {
          "description": "Output only. The engines for the app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DataStoreSettingsEngine"
          }
        }
      },
      "type": "object",
      "id": "DataStoreSettings",
      "description": "Data store related settings for the app."
    },
    "GoogleSearchTool": {
      "properties": {
        "promptConfig": {
          "$ref": "GoogleSearchToolPromptConfig",
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice."
        },
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "preferredDomains": {
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "contextUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed."
        },
        "excludeDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded."
        }
      },
      "type": "object",
      "id": "GoogleSearchTool",
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search."
    },
    "AppSnapshot": {
      "properties": {
        "tools": {
          "type": "array",
          "items": {
            "$ref": "Tool"
          },
          "description": "Optional. List of tools in the app."
        },
        "examples": {
          "description": "Optional. List of examples in the app.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        },
        "toolsets": {
          "type": "array",
          "items": {
            "$ref": "Toolset"
          },
          "description": "Optional. List of toolsets in the app."
        },
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "guardrails": {
          "description": "Optional. List of guardrails in the app.",
          "type": "array",
          "items": {
            "$ref": "Guardrail"
          }
        },
        "agents": {
          "type": "array",
          "items": {
            "$ref": "Agent"
          },
          "description": "Optional. List of agents in the app."
        }
      },
      "type": "object",
      "id": "AppSnapshot",
      "description": "A snapshot of the app."
    },
    "AgentCard": {
      "properties": {
        "description": {
          "description": "Required. A description of the agent's domain of action/solution space.",
          "type": "string"
        },
        "supportedInterfaces": {
          "type": "array",
          "items": {
            "$ref": "AgentInterface"
          },
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred."
        },
        "skills": {
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "type": "array",
          "items": {
            "$ref": "AgentSkill"
          }
        },
        "name": {
          "description": "Required. A human-readable name for the agent.",
          "type": "string"
        },
        "version": {
          "description": "Required. The version of the agent.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AgentCard",
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard"
    },
    "DataStoreSettingsEngine": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "description": "Output only. The type of the engine.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ]
        }
      },
      "id": "DataStoreSettingsEngine",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "TriggerActionResponse": {
      "properties": {
        "text": {
          "description": "Required. Text for the agent to respond with.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "TriggerActionResponse",
      "description": "Represents a response from the agent."
    },
    "LfA2aV1AgentInterface": {
      "id": "LfA2aV1AgentInterface",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "type": "object",
      "properties": {
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        },
        "tenant": {
          "description": "Optional. An opaque string used for routing requests to a specific agent or tenant when multiple agents are served behind a single A2A endpoint. When set, clients MUST include this value in the `tenant` field of all request messages sent to this interface. The server is responsible for interpreting the value and routing requests accordingly; the protocol does not define its format or semantics.",
          "type": "string"
        },
        "url": {
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\"",
          "type": "string"
        }
      }
    },
    "LfA2aV1HTTPAuthSecurityScheme": {
      "id": "LfA2aV1HTTPAuthSecurityScheme",
      "description": "Defines a security scheme using HTTP authentication.",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "bearerFormat": {
          "description": "A hint to the client to identify how the bearer token is formatted (e.g., \"JWT\"). Primarily for documentation purposes.",
          "type": "string"
        },
        "scheme": {
          "description": "Required. The name of the HTTP Authentication scheme to be used in the Authorization header, as defined in RFC7235 (e.g., \"Bearer\"). This value should be registered in the IANA Authentication Scheme registry.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataStoreToolSummarizationConfig": {
      "id": "DataStoreToolSummarizationConfig",
      "description": "Summarization configuration.",
      "properties": {
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether summarization is disabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Changelog": {
      "id": "Changelog",
      "description": "Changelogs represent a change made to the app or to an resource within the app.",
      "type": "object",
      "properties": {
        "sequenceNumber": {
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "author": {
          "description": "Output only. Email address of the change author.",
          "readOnly": true,
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "Output only. The type of the resource that was changed.",
          "readOnly": true
        },
        "originalResource": {
          "description": "Output only. The original resource before the change.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "dependentResources": {
          "description": "Output only. The dependent resources that were changed.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed.",
          "readOnly": true
        },
        "action": {
          "type": "string",
          "description": "Output only. The action that was performed on the resource.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "Output only. The resource that was changed.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the change was made.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource.",
          "readOnly": true
        },
        "newResource": {
          "description": "Output only. The new resource after the change.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "OpenApiTool": {
      "id": "OpenApiTool",
      "description": "A remote API tool defined by an OpenAPI schema.",
      "properties": {
        "openApiSchema": {
          "description": "Required. The OpenAPI schema in JSON or YAML format.",
          "type": "string"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust.",
          "$ref": "TlsConfig"
        },
        "name": {
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`.",
          "type": "string"
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`.",
          "type": "string"
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        }
      },
      "type": "object"
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "properties": {
        "extraToolCallBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ],
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ]
        }
      },
      "type": "object",
      "id": "EvaluationMetricsThresholdsToolMatchingSettings",
      "description": "Settings for matching tool calls."
    },
    "TriggerActionTransferAgent": {
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TriggerActionTransferAgent",
      "description": "The agent will transfer the conversation to a different agent."
    },
    "TransferRuleDeterministicTransfer": {
      "properties": {
        "pythonCodeCondition": {
          "description": "Optional. A rule that uses Python code block to evaluate the conditions. If the condition evaluates to true, the transfer occurs.",
          "$ref": "PythonCodeCondition"
        },
        "expressionCondition": {
          "description": "Optional. A rule that evaluates a session state condition. If the condition evaluates to true, the transfer occurs.",
          "$ref": "ExpressionCondition"
        }
      },
      "type": "object",
      "id": "TransferRuleDeterministicTransfer",
      "description": "Deterministic transfer rule. When the condition evaluates to true, the transfer occurs."
    },
    "LfA2aV1AuthorizationCodeOAuthFlow": {
      "id": "LfA2aV1AuthorizationCodeOAuthFlow",
      "description": "Defines configuration details for the OAuth 2.0 Authorization Code flow.",
      "type": "object",
      "properties": {
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens.",
          "type": "string"
        },
        "authorizationUrl": {
          "description": "Required. The authorization URL to be used for this flow.",
          "type": "string"
        },
        "tokenUrl": {
          "description": "Required. The token URL to be used for this flow.",
          "type": "string"
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pkceRequired": {
          "description": "Indicates if PKCE (RFC 7636) is required for this flow. PKCE should always be used for public clients and is recommended for all clients.",
          "type": "boolean"
        }
      }
    },
    "PythonCodeCondition": {
      "type": "object",
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute.",
          "type": "string"
        }
      },
      "id": "PythonCodeCondition",
      "description": "Python code block to evaluate the condition."
    },
    "RetrieveToolsResponse": {
      "id": "RetrieveToolsResponse",
      "description": "Response message for ToolService.RetrieveTools.",
      "properties": {
        "tools": {
          "type": "array",
          "items": {
            "$ref": "Tool"
          },
          "description": "The list of tools that are included in the specified toolset."
        }
      },
      "type": "object"
    },
    "MockConfig": {
      "id": "MockConfig",
      "description": "Mock tool calls configuration for the session.",
      "properties": {
        "mockedToolCalls": {
          "description": "Optional. All tool calls to mock for the duration of the session.",
          "type": "array",
          "items": {
            "$ref": "MockedToolCall"
          }
        },
        "unmatchedToolCallBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls.",
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ]
        }
      },
      "type": "object"
    },
    "ListToolsResponse": {
      "id": "ListToolsResponse",
      "description": "Response message for AgentService.ListTools.",
      "properties": {
        "tools": {
          "description": "The list of tools.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ServiceDirectoryConfig": {
      "properties": {
        "service": {
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ServiceDirectoryConfig",
      "description": "Configuration for tools using Service Directory."
    },
    "GuardrailLlmPromptSecurity": {
      "type": "object",
      "properties": {
        "customPolicy": {
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail.",
          "$ref": "GuardrailLlmPolicy"
        },
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        },
        "defaultSettings": {
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
        }
      },
      "id": "GuardrailLlmPromptSecurity",
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification."
    },
    "MockedToolCall": {
      "type": "object",
      "properties": {
        "expectedArgsPattern": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. A pattern to match against the args / inputs of all dispatched tool calls. If the tool call inputs match this pattern, then mock output will be returned."
        },
        "toolset": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset to mock."
        },
        "toolId": {
          "description": "Optional. The name of the tool to mock. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "mockResponse": {
          "description": "Optional. The mock response / output to return if the tool call args / inputs match the pattern.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tool": {
          "description": "Optional. Deprecated. Use tool_identifier instead.",
          "type": "string",
          "deprecated": true
        }
      },
      "id": "MockedToolCall",
      "description": "A mocked tool call. Expresses the target tool + a pattern to match against that tool's args / inputs. If the pattern matches, then the mock response will be returned."
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "id": "ErrorHandlingSettingsEndSessionConfig",
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors).",
      "type": "object",
      "properties": {
        "escalateSession": {
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details.",
          "type": "boolean"
        }
      }
    },
    "DataStoreToolSnippetsConfig": {
      "id": "DataStoreToolSnippetsConfig",
      "description": "Snippets configuration.",
      "type": "object",
      "properties": {
        "enableSnippets": {
          "description": "Optional. Whether snippets are enabled.",
          "type": "boolean"
        }
      }
    },
    "RunSessionResponse": {
      "id": "RunSessionResponse",
      "description": "Response message for SessionService.RunSession.",
      "type": "object",
      "properties": {
        "outputs": {
          "description": "Outputs for the session.",
          "type": "array",
          "items": {
            "$ref": "SessionOutput"
          }
        }
      }
    },
    "Location": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "McpToolOverride": {
      "id": "McpToolOverride",
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "type": "object",
      "properties": {
        "tool": {
          "description": "Required. The original name of the tool as it is emitted by the MCP server.",
          "type": "string"
        },
        "descriptionOverride": {
          "description": "Optional. If present, this tool uses this description instead of the original description from the server.",
          "type": "string"
        },
        "snapshot": {
          "$ref": "McpToolDefinition",
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present.",
          "readOnly": true
        },
        "nameOverride": {
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools.",
          "type": "string"
        }
      }
    },
    "McpToolDefinition": {
      "properties": {
        "inputSchema": {
          "description": "Output only. The schema of the input arguments of the MCP tool.",
          "readOnly": true,
          "$ref": "Schema"
        },
        "outputSchema": {
          "description": "Output only. The schema of the output arguments of the MCP tool.",
          "readOnly": true,
          "$ref": "Schema"
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the MCP tool. This can be overridden by `description_override` in `McpToolOverride`.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "McpToolDefinition",
      "description": "Container for a tool's core definition elements that are snapshot. Schemas in the snapshot are used as-is and cannot be overridden."
    },
    "EndpointControlPolicy": {
      "id": "EndpointControlPolicy",
      "description": "Defines project/location level endpoint control policy.",
      "properties": {
        "enforcementScope": {
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced.",
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ]
        },
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "DataStoreConnectorConfig": {
      "id": "DataStoreConnectorConfig",
      "description": "The connector config for the data store connection.",
      "properties": {
        "collectionDisplayName": {
          "description": "Display name of the collection the data store belongs to.",
          "type": "string"
        },
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        },
        "dataSource": {
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "TriggerActionGenerativeAnswer": {
      "id": "TriggerActionGenerativeAnswer",
      "description": "The agent will immediately respond with a generative answer.",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Required. The prompt to use for the generative answer.",
          "type": "string"
        }
      }
    },
    "BigQueryExportSettings": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Indicates whether the BigQuery export is enabled.",
          "type": "boolean"
        },
        "dataset": {
          "description": "Optional. The BigQuery **dataset ID** to export the data to.",
          "type": "string"
        },
        "project": {
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        }
      },
      "id": "BigQueryExportSettings",
[...]
