{
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "description": "",
  "canonicalName": "Customer Engagement Suite",
  "version_module": true,
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "revision": "20260924",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "title": "Gemini Enterprise for Customer Experience API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "ownerName": "Google",
  "servicePath": "",
  "schemas": {
    "ApiKeyConfig": {
      "type": "object",
      "description": "Configurations for authentication with API key.",
      "id": "ApiKeyConfig",
      "properties": {
        "keyName": {
          "type": "string",
          "description": "Required. The parameter name or the header name of the API key. E.g., If the API request is \"https://example.com/act?X-Api-Key=\", \"X-Api-Key\" would be the parameter name."
        },
        "apiKeySecretVersion": {
          "description": "Required. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "requestLocation": {
          "description": "Required. Key location in the request.",
          "type": "string",
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ],
          "enumDescriptions": [
            "Unspecified. This value should not be used.",
            "Represents the key in http header.",
            "Represents the key in query string."
          ]
        }
      }
    },
    "ToolCall": {
      "id": "ToolCall",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the tool.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse."
        },
        "args": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The input parameters and values for the tool in JSON object format."
        },
        "agentName": {
          "description": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it.",
          "type": "string",
          "readOnly": true
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to execute."
        },
        "tool": {
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "parentToolCallId": {
          "type": "string",
          "description": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Request for the client or the agent to execute the specified tool."
    },
    "ChannelProfile": {
      "id": "ChannelProfile",
      "type": "object",
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony.",
      "properties": {
        "personaProperty": {
          "$ref": "ChannelProfilePersonaProperty",
          "description": "Optional. The persona property of the channel profile."
        },
        "instagramConfig": {
          "$ref": "ChannelProfileInstagramConfig",
          "description": "Optional. Configuration specific to Instagram deployments."
        },
        "webWidgetConfig": {
          "description": "Optional. The configuration for the web widget.",
          "$ref": "ChannelProfileWebWidgetConfig"
        },
        "disableBargeInControl": {
          "type": "boolean",
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt."
        },
        "profileId": {
          "description": "Optional. The unique identifier of the channel profile.",
          "type": "string"
        },
        "disableDtmf": {
          "type": "boolean",
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency)."
        },
        "whatsappConfig": {
          "$ref": "ChannelProfileWhatsAppConfig",
          "description": "Optional. Configuration specific to WhatsApp deployments."
        },
        "channelType": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "CONTACT_CENTER_AS_A_SERVICE_CHAT",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION",
            "WHATSAPP",
            "INSTAGRAM"
          ],
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Contact Center as a Service (CCaaS Chat) channel.",
            "Five9 channel.",
            "Third party contact center integration channel.",
            "WhatsApp channel.",
            "Instagram channel."
          ],
          "description": "Optional. The type of the channel profile."
        },
        "noiseSuppressionLevel": {
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        }
      }
    },
    "BigQueryExportSettings": {
      "id": "BigQueryExportSettings",
      "properties": {
        "dataset": {
          "description": "Optional. The BigQuery **dataset ID** to export the data to.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Indicates whether the BigQuery export is enabled.",
          "type": "boolean"
        },
        "project": {
          "type": "string",
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        }
      },
      "type": "object",
      "description": "Settings to describe the BigQuery export behaviors for the app."
    },
    "ListDeploymentsResponse": {
      "description": "Response message for AgentService.ListDeployments.",
      "id": "ListDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deployments": {
          "description": "The list of deployments.",
          "items": {
            "$ref": "Deployment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AgentTool": {
      "description": "Represents a tool that allows the agent to call another agent.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        },
        "agent": {
          "type": "string",
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        },
        "name": {
          "description": "Required. The name of the agent tool.",
          "type": "string"
        }
      },
      "id": "AgentTool"
    },
    "AppVersion": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the app version was last updated.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. The display name of the app version.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the app version was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "creator": {
          "description": "Output only. Email of the user who created the app version.",
          "type": "string",
          "readOnly": true
        },
        "snapshot": {
          "$ref": "AppSnapshot",
          "description": "Output only. The snapshot of the app when the version is created.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the app version.",
          "type": "string"
        }
      },
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created.",
      "id": "AppVersion",
      "type": "object"
    },
    "ChannelProfileWhatsAppConfig": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Optional. The phone number in E.164 format."
        },
        "phoneNumberId": {
          "description": "Required. The Meta phone number ID.",
          "type": "string"
        },
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "thumbnailUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fetched Meta business profile thumbnail URL."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fetched Meta business page name."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the Meta business page or profile."
        }
      },
      "type": "object",
      "description": "Configuration specific to WhatsApp deployments.",
      "id": "ChannelProfileWhatsAppConfig"
    },
    "EndUserAuthConfig": {
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`.",
      "properties": {
        "oauth2AuthCodeConfig": {
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig",
          "description": "Oauth 2.0 Authorization Code authentication."
        },
        "oauth2JwtBearerConfig": {
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication.",
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig"
        }
      },
      "type": "object",
      "id": "EndUserAuthConfig"
    },
    "ExpressionCondition": {
      "type": "object",
      "id": "ExpressionCondition",
      "properties": {
        "expression": {
          "description": "Required. The string representation of cloud.api.Expression condition.",
          "type": "string"
        }
      },
      "description": "Expression condition based on session state."
    },
    "DataStoreToolModalityConfig": {
      "properties": {
        "summarizationConfig": {
          "description": "Optional. The summarization config.",
          "$ref": "DataStoreToolSummarizationConfig"
        },
        "modalityType": {
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "type": "string",
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Required. The modality type."
        },
        "groundingConfig": {
          "$ref": "DataStoreToolGroundingConfig",
          "description": "Optional. The grounding configuration."
        },
        "rewriterConfig": {
          "description": "Optional. The rewriter config.",
          "$ref": "DataStoreToolRewriterConfig"
        },
        "snippetsConfig": {
          "description": "Optional. The snippets configuration.",
          "$ref": "DataStoreToolSnippetsConfig"
        }
      },
      "description": "If specified, will apply the given configuration for the specified modality.",
      "id": "DataStoreToolModalityConfig",
      "type": "object"
    },
    "WidgetTool": {
      "type": "object",
      "properties": {
        "uiConfig": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Configuration for rendering the widget."
        },
        "textResponseConfig": {
          "$ref": "WidgetToolTextResponseConfig",
          "description": "Optional. Configuration for always-included text responses."
        },
        "description": {
          "description": "Optional. The description of the widget tool.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The display name of the widget tool."
        },
        "dataMapping": {
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters.",
          "$ref": "WidgetToolDataMapping"
        },
        "parameters": {
          "description": "Optional. The input parameters of the widget tool.",
          "$ref": "Schema"
        },
        "widgetType": {
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ],
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED.",
          "type": "string",
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ]
        }
      },
      "id": "WidgetTool",
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent."
    },
    "DataStoreToolGroundingConfig": {
      "id": "DataStoreToolGroundingConfig",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Whether grounding is disabled.",
          "type": "boolean"
        },
        "groundingLevel": {
          "format": "float",
          "type": "number",
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned."
        }
      },
      "description": "Grounding configuration."
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "type": "object",
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "properties": {
        "subject": {
          "type": "string",
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "clientKey": {
          "type": "string",
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`."
        },
        "issuer": {
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      }
    },
    "ModelSettings": {
      "properties": {
        "model": {
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent.",
          "type": "string"
        },
        "thinkingLevel": {
          "enumDescriptions": [
            "Thinking level is unspecified.",
            "Default thinking level.",
            "Low thinking level.",
            "Medium thinking level.",
            "High thinking level."
          ],
          "type": "string",
          "enum": [
            "THINKING_LEVEL_UNSPECIFIED",
            "DEFAULT",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Optional. The thinking level of the model."
        },
        "temperature": {
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Model settings contains various configurations for the LLM model.",
      "id": "ModelSettings"
    },
    "AudioProcessingConfig": {
      "id": "AudioProcessingConfig",
      "type": "object",
      "properties": {
        "bargeInConfig": {
          "$ref": "BargeInConfig",
          "description": "Optional. Configures the agent behavior for the user barge-in activities."
        },
        "customVoiceSamples": {
          "description": "Optional. Configures custom voice samples for voice cloning.",
          "type": "array",
          "items": {
            "$ref": "CustomVoiceSample"
          }
        },
        "ambientSoundConfig": {
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
          "$ref": "AmbientSoundConfig"
        },
        "synthesizeSpeechConfigs": {
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          },
          "type": "object"
        },
        "inactivityTimeout": {
          "format": "google-duration",
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement.",
          "type": "string"
        }
      },
      "description": "Configuration for how the input and output audio should be processed and delivered."
    },
    "OutputAudioConfig": {
      "id": "OutputAudioConfig",
      "properties": {
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the output audio data.",
          "format": "int32",
          "type": "integer"
        },
        "audioEncoding": {
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "description": "Required. The encoding of the output audio data.",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ]
        }
      },
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses.",
      "type": "object"
    },
    "RetrieveToolSchemaRequest": {
      "id": "RetrieveToolSchemaRequest",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        }
      },
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "type": "object"
    },
    "ChannelProfileInstagramConfig": {
      "type": "object",
      "id": "ChannelProfileInstagramConfig",
      "properties": {
        "displayName": {
          "description": "Output only. The fetched Meta business page name.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. The description of the Meta business page or profile.",
          "readOnly": true
        },
        "instagramAccountId": {
          "type": "string",
          "description": "Required. The Instagram Account ID."
        },
        "thumbnailUrl": {
          "readOnly": true,
          "description": "Output only. The fetched Meta business profile thumbnail URL.",
          "type": "string"
        }
      },
      "description": "Configuration specific to Instagram deployments."
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "boostAmount": {
          "type": "number",
          "format": "float",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        },
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        }
      }
    },
    "ListAgentsResponse": {
      "properties": {
        "agents": {
          "type": "array",
          "items": {
            "$ref": "Agent"
          },
          "description": "The list of agents."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAgentsResponse",
      "description": "Response message for AgentService.ListAgents.",
      "type": "object"
    },
    "LfA2aV1OAuth2SecurityScheme": {
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        },
        "oauth2MetadataUrl": {
          "description": "URL to the OAuth2 authorization server metadata [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required.",
          "type": "string"
        },
        "flows": {
          "description": "Required. An object containing configuration information for the supported OAuth 2.0 flows.",
          "$ref": "LfA2aV1OAuthFlows"
        }
      },
      "description": "Defines a security scheme using OAuth 2.0.",
      "type": "object",
      "id": "LfA2aV1OAuth2SecurityScheme"
    },
    "LfA2aV1StreamResponse": {
      "description": "A wrapper object used in streaming operations to encapsulate different types of response data.",
      "properties": {
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A Message object containing a message from the agent."
        },
        "task": {
          "description": "A Task object containing the current state of the task.",
          "$ref": "LfA2aV1Task"
        },
        "statusUpdate": {
          "$ref": "LfA2aV1TaskStatusUpdateEvent",
          "description": "An event indicating a task status update."
        },
        "artifactUpdate": {
          "$ref": "LfA2aV1TaskArtifactUpdateEvent",
          "description": "An event indicating a task artifact update."
        }
      },
      "type": "object",
      "id": "LfA2aV1StreamResponse"
    },
    "ConversationLoggingSettings": {
      "type": "object",
      "description": "Settings to describe the conversation logging behaviors for the app.",
      "properties": {
        "retentionWindow": {
          "format": "google-duration",
          "description": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days.",
          "type": "string"
        },
        "disableConversationLogging": {
          "description": "Optional. Whether to disable conversation logging for the sessions.",
          "type": "boolean"
        }
      },
      "id": "ConversationLoggingSettings"
    },
    "RedactionConfig": {
      "id": "RedactionConfig",
      "type": "object",
      "properties": {
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        },
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        },
        "deidentifyTemplate": {
          "type": "string",
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`"
        }
      },
      "description": "Configuration to instruct how sensitive data should be handled."
    },
    "TransferRuleDisablePlannerTransfer": {
      "properties": {
        "expressionCondition": {
          "$ref": "ExpressionCondition",
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent."
        }
      },
      "type": "object",
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "id": "TransferRuleDisablePlannerTransfer"
    },
    "PythonFunction": {
      "id": "PythonFunction",
      "description": "A Python function tool.",
      "properties": {
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for the tool.",
          "$ref": "ServiceDirectoryConfig"
        },
        "description": {
          "description": "Output only. The description of the Python function, parsed from the python code's docstring.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataStoreToolSnippetsConfig": {
      "id": "DataStoreToolSnippetsConfig",
      "properties": {
        "enableSnippets": {
          "description": "Optional. Whether snippets are enabled.",
          "type": "boolean"
        },
        "maxSnippets": {
          "type": "integer",
          "description": "Optional. Number of snippets to return per query. If unset, returns all snippets from the service by default.",
          "format": "int32"
        }
      },
      "description": "Snippets configuration.",
      "type": "object"
    },
    "Deployment": {
      "properties": {
        "appVersion": {
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app.",
          "type": "string"
        },
        "modality": {
          "enumDescriptions": [
            "Unknown modality.",
            "Text modality.",
            "Voice modality.",
            "Video modality."
          ],
          "description": "Optional. The modality of the deployment. Note: Deployment-level modality override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "type": "string",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "MODALITY_TEXT",
            "MODALITY_VOICE",
            "MODALITY_VIDEO"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the deployment."
        },
        "agentRegistryDeployment": {
          "$ref": "AgentRegistryDeployment",
          "description": "Optional. Configuration for deploying this deployment to Agent Registry. If present, this deployment will be published to Agent Registry."
        },
        "whatsappCredentials": {
          "$ref": "WhatsAppCredentials",
          "description": "Optional. Input only. Ephemeral WhatsApp credentials required when configuring a WhatsApp channel profile."
        },
        "name": {
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "experimentConfig": {
          "description": "Optional. Experiment configuration for the deployment.",
          "$ref": "ExperimentConfig"
        },
        "instagramCredentials": {
          "description": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile.",
          "$ref": "InstagramCredentials"
        },
        "modelSettings": {
          "description": "Optional. Model settings for the deployment. Overrides model settings configured at the app/agent levels. Note: Deployment-level model settings override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "$ref": "ModelSettings"
        },
        "channelProfile": {
          "$ref": "ChannelProfile",
          "description": "Required. The channel profile used in the deployment."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was last updated.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this deployment was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "id": "Deployment",
      "type": "object"
    },
    "AgentAgentToolset": {
      "type": "object",
      "description": "A toolset with a selection of its tools.",
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolIds": {
          "type": "array",
          "description": "Optional. The tools IDs to filter the toolset.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AgentAgentToolset"
    },
    "DataStoreToolRewriterConfig": {
      "description": "Rewriter configuration.",
      "type": "object",
      "properties": {
        "modelSettings": {
          "description": "Required. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the rewriter is disabled.",
          "type": "boolean"
        }
      },
      "id": "DataStoreToolRewriterConfig"
    },
    "FileSearchTool": {
      "id": "FileSearchTool",
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "properties": {
        "corpusType": {
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ]
        },
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The tool name."
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataStoreToolBoostSpecs": {
      "type": "object",
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting.",
      "id": "DataStoreToolBoostSpecs",
      "properties": {
        "spec": {
          "description": "Required. A list of boosting specifications.",
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          }
        },
        "dataStores": {
          "type": "array",
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SessionOutputDiagnosticInfo": {
      "description": "Contains execution details during the processing.",
      "id": "SessionOutputDiagnosticInfo",
      "properties": {
        "rootSpan": {
          "$ref": "Span",
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "List of the messages that happened during the processing."
        }
      },
      "type": "object"
    },
    "ErrorHandlingSettings": {
      "properties": {
        "errorHandlingStrategy": {
          "description": "Optional. The strategy to use for error handling.",
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ],
          "type": "string",
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ]
        },
        "endSessionConfig": {
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors).",
          "$ref": "ErrorHandlingSettingsEndSessionConfig"
        },
        "fallbackResponseConfig": {
          "description": "Optional. Configuration for handling fallback responses.",
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig"
        }
      },
      "description": "Settings to describe how errors should be handled in the app.",
      "type": "object",
      "id": "ErrorHandlingSettings"
    },
    "AudioRecordingConfig": {
      "description": "Configuration for how the audio interactions should be recorded.",
      "id": "AudioRecordingConfig",
      "properties": {
        "gcsPathPrefix": {
          "type": "string",
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used."
        },
        "gcsBucket": {
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataStoreSettingsEngine": {
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "description": "Output only. The type of the engine."
        }
      },
      "id": "DataStoreSettingsEngine",
      "type": "object"
    },
    "GenerateOnboardingSuggestionsResponse": {
      "id": "GenerateOnboardingSuggestionsResponse",
      "type": "object",
      "properties": {
        "contextToken": {
          "description": "Opaque token capturing the onboarding snapshot used to generate these suggestions. Clients echo it on the first StreamChatAiAssistantRequest so the server can reuse the snapshot.",
          "type": "string"
        },
        "suggestions": {
          "items": {
            "$ref": "AssistantSuggestion"
          },
          "description": "Personalized suggestions, ranked most relevant first.",
          "type": "array"
        },
        "userProfile": {
          "description": "Classification of the requesting user's history.",
          "type": "string",
          "enum": [
            "USER_PROFILE_UNSPECIFIED",
            "NEW",
            "EXPLORING",
            "RETURNING"
          ],
          "enumDescriptions": [
            "Unspecified profile.",
            "No assistant sessions containing messages.",
            "One or two assistant sessions containing messages.",
            "More than two assistant sessions containing messages."
          ]
        }
      },
      "description": "Response message for SessionService.GenerateOnboardingSuggestions."
    },
    "GuardrailSupervisor": {
      "properties": {
        "detectionMode": {
          "enumDescriptions": [
            "Detection mode is unspecified. Default to NON_BLOCKING.",
            "Non blocking detection mode. Response is not blocked when the supervisor detection is ongoing.",
            "Blocking detection mode. Response is blocked when the supervisor detection is ongoing."
          ],
          "description": "Optional. The detection mode of the supervisor.",
          "type": "string",
          "enum": [
            "DETECTION_MODE_UNSPECIFIED",
            "NON_BLOCKING",
            "BLOCKING"
          ]
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "Invalid text issue type.",
            "Language shift issue type.",
            "Speaker shift issue type.",
            "Audio mismatch issue type.",
            "Missing tool call issue type.",
            "Custom issue type.",
            "Choppy audio issue type.",
            "Agent profanity issue type."
          ],
          "description": "Optional. The type of the supervisor.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INVALID_TEXT",
            "LANGUAGE_SHIFT",
            "SPEAKER_SHIFT",
            "AUDIO_MISMATCH",
            "MISSING_TOOL_CALL",
            "CUSTOM",
            "CHOPPY_AUDIO",
            "PROFANITY"
          ]
        }
      },
      "id": "GuardrailSupervisor",
      "description": "Guardrail that runs supervisor intervention.",
      "type": "object"
    },
    "TurnMetadata": {
      "properties": {
        "contractRelated": {
          "description": "Indicates whether this assistant turn was contract-related (e.g. contract drafting, alignment, extraction, or revision).",
          "type": "boolean"
        },
        "contractFinalized": {
          "description": "Set on the final artifact event of a turn whose contract draft was published (a revision was activated). Terminal for the clarification flow of this draft: contract_progress is authoritative and complete.",
          "type": "boolean"
        },
        "contractStreamingPhase": {
          "description": "Set only on in-flight progress estimates emitted while a contract artifact fence is streaming, and on the revision-turn-start event. Unset on authoritative payloads.",
          "enumDescriptions": [
            "The payload is authoritative (computed from a complete contract document, a persisted snapshot, or the pre-draft state). Clients must replace any previously received progress with it.",
            "An initial contract draft is streaming. contract_progress is an in-flight estimate: non-decreasing within one artifact fence, capped below the authoritative range, with pillar_breakdowns carrying total_item_count == 0 to mark estimated pillar states.",
            "A revision of an existing contract is streaming (for example after an annotation submission). Same estimate semantics as DRAFTING."
          ],
          "type": "string",
          "enum": [
            "CONTRACT_STREAMING_PHASE_UNSPECIFIED",
            "DRAFTING",
            "REVISING"
          ]
        },
        "contractDraftComplete": {
          "description": "Set on the terminal event of a contract draft whose every placeholder is resolved (contract_progress is 100%), whether or not the draft was published. Clients complete and dismiss the contract progress display on it; publication is reported separately by contract_finalized.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Turn-level metadata and intent categorization.",
      "id": "TurnMetadata"
    },
    "AppVariableDeclaration": {
      "description": "Defines the structure and metadata for a variable.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores."
        },
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        },
        "description": {
          "description": "Required. The description of the variable.",
          "type": "string"
        }
      },
      "id": "AppVariableDeclaration"
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "properties": {
        "trafficPercentage": {
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "type": "string",
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters."
        },
        "appVersion": {
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        }
      },
      "description": "Traffic allocation for the version release.",
      "type": "object",
      "id": "ExperimentConfigVersionReleaseTrafficAllocation"
    },
    "Chunk": {
      "id": "Chunk",
      "description": "A chunk of content within a message.",
      "properties": {
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "Optional. Tool execution response."
        },
        "payload": {
          "description": "Optional. Custom payload data.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "defaultVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names."
        },
        "agentTransfer": {
          "$ref": "AgentTransfer",
          "description": "Optional. Agent transfer event."
        },
        "toolCall": {
          "description": "Optional. Tool execution request.",
          "$ref": "ToolCall"
        },
        "transcript": {
          "description": "Optional. Transcript associated with the audio.",
          "type": "string"
        },
        "image": {
          "description": "Optional. Image data.",
          "$ref": "Image"
        },
        "updatedVariables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "type": "object"
        },
        "blob": {
          "description": "Optional. Blob data.",
          "$ref": "Blob"
        },
        "text": {
          "type": "string",
          "description": "Optional. Text data."
        }
      },
      "type": "object"
    },
    "CancelAssistantTurnRequest": {
      "properties": {
        "turnId": {
          "description": "Optional. The turn to cancel; empty cancels whichever turn is running. A cancel naming a turn that is no longer the running one is a no-op.",
          "type": "string"
        }
      },
      "id": "CancelAssistantTurnRequest",
      "type": "object",
      "description": "Request to cancel an assistant session's in-flight turn."
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "properties": {
        "webhookHeaders": {
          "type": "object",
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "endUserMetadata": {
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "id": "SessionConfigRemoteDialogflowQueryParameters"
    },
    "LanguageSettings": {
      "description": "Language settings of the app.",
      "properties": {
        "enableMultilingualSupport": {
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input.",
          "type": "boolean"
        },
        "defaultLanguageCode": {
          "description": "Optional. The default language code of the app.",
          "type": "string"
        },
        "fallbackAction": {
          "deprecated": true,
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation.",
          "type": "string"
        },
        "supportedLanguageCodes": {
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "LanguageSettings",
      "type": "object"
    },
    "SystemTool": {
      "id": "SystemTool",
      "description": "Pre-defined system tool.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the system tool."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The description of the system tool."
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "properties": {
        "semanticSimilarityChannel": {
          "type": "string",
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Optional. The semantic similarity channel to use for evaluation.",
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ]
        },
        "overallToolInvocationCorrectnessThreshold": {
          "format": "float",
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0.",
          "type": "number"
        },
        "semanticSimilaritySuccessThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3."
        }
      },
      "description": "Turn level metrics thresholds.",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
      "type": "object"
    },
    "RemoteAgentTool": {
      "id": "RemoteAgentTool",
      "description": "Represents a tool that allows the agent to call another remote agent.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the tool."
        },
        "statefulAgent": {
          "type": "boolean",
          "description": "Optional. When enabled, the interaction between the CXAS app and the remote agent will share the same context. If the remote agent returns a context_id, it will be persisted for the entirety of the session for this remote agent tool."
        },
        "agentCard": {
          "description": "Required. The agent card of the remote agent that this tool invokes.",
          "$ref": "AgentCard"
        },
        "outputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of output variable names of remote agent to GECX variable names.",
          "type": "object"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication configuration for calling the remote agent.",
          "$ref": "ApiAuthentication"
        },
        "description": {
          "description": "Required. The description of the tool.",
          "type": "string"
        },
        "inputVariableMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of input variable names of remote agent to GECX variable names."
        }
      },
      "type": "object"
    },
    "Callback": {
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute for the callback.",
          "type": "string"
        },
        "proactiveExecutionEnabled": {
          "type": "boolean",
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations."
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the callback."
        },
        "disabled": {
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent.",
          "type": "boolean"
        }
      },
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "id": "Callback",
      "type": "object"
    },
    "ExperimentConfig": {
      "id": "ExperimentConfig",
      "description": "Experiment for the deployment.",
      "properties": {
        "versionRelease": {
          "description": "Optional. Version release for the experiment.",
          "$ref": "ExperimentConfigVersionRelease"
        }
      },
      "type": "object"
    },
    "AgentCard": {
      "id": "AgentCard",
      "type": "object",
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard",
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. The version of the agent."
        },
        "skills": {
          "type": "array",
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "items": {
            "$ref": "AgentSkill"
          }
        },
        "description": {
          "description": "Required. A description of the agent's domain of action/solution space.",
          "type": "string"
        },
        "supportedInterfaces": {
          "type": "array",
          "items": {
            "$ref": "AgentInterface"
          },
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred."
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the agent."
        }
      }
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "properties": {
        "boostControlSpec": {
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value."
        },
        "condition": {
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))",
          "type": "string"
        },
        "boost": {
          "format": "float",
          "type": "number",
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored."
        }
      },
      "description": "Boost specification for a condition.",
      "type": "object"
    },
    "OperationCompletedEvent": {
      "description": "Event sent by the client or background worker to resume an assistant session after an asynchronous Long-Running Operation (LRO) completes.",
      "properties": {
        "operationName": {
          "type": "string",
          "description": "The operation resource name (e.g. `operations/{op}`)."
        },
        "status": {
          "description": "Status of the operation run (e.g. \"SUCCEEDED\", \"FAILED\", \"CANCELLED\").",
          "type": "string"
        },
        "targetResourceName": {
          "description": "The primary resource targeted or produced by the operation (e.g. evaluation run ID, app ID, dataset ID).",
          "type": "string"
        },
        "metadata": {
          "description": "Optional structured result metadata (e.g. pass_rate, total_examples, export_uri).",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "deduplicationToken": {
          "description": "Optional deduplication token (e.g. UUID) to prevent duplicate turn execution from concurrent browser tabs.",
          "type": "string"
        },
        "error": {
          "description": "Optional canonical error status if the operation failed.",
          "$ref": "Status"
        },
        "operationType": {
          "type": "string",
          "description": "The operation type or tool name (e.g. \"run_evaluation\", \"copy_app\", \"export_app\")."
        }
      },
      "id": "OperationCompletedEvent",
      "type": "object"
    },
    "ListGuardrailsResponse": {
      "type": "object",
      "id": "ListGuardrailsResponse",
      "properties": {
        "guardrails": {
          "type": "array",
          "description": "The list of guardrails.",
          "items": {
            "$ref": "Guardrail"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "description": "Response message for AgentService.ListGuardrails."
    },
    "Image": {
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp"
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "Required. Raw bytes of the image."
        },
        "altText": {
          "description": "Optional. The alternative text for the image.",
          "type": "string"
        }
      },
      "description": "Represents an image input or output in the conversation.",
      "id": "Image"
    },
    "MetricAnalysisSettings": {
      "type": "object",
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline.",
      "properties": {
        "llmMetricsOptedOut": {
          "type": "boolean",
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected."
        }
      },
      "id": "MetricAnalysisSettings"
    },
    "DataStoreToolBoostSpec": {
      "description": "Boost specification to boost certain documents.",
      "id": "DataStoreToolBoostSpec",
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpec"
          },
          "description": "Required. A list of boosting specifications.",
          "type": "array"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "MockConfig": {
      "description": "Mock tool calls configuration for the session.",
      "properties": {
        "mockedToolCalls": {
          "type": "array",
          "items": {
            "$ref": "MockedToolCall"
          },
          "description": "Optional. All tool calls to mock for the duration of the session."
        },
        "unmatchedToolCallBehavior": {
          "type": "string",
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls."
        }
      },
      "id": "MockConfig",
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "type": "object",
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "properties": {
        "expectationLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. The expectation level metrics thresholds."
        },
        "toolMatchingSettings": {
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings",
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation."
        },
        "turnLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. The turn level metrics thresholds."
        }
      },
      "description": "Settings for golden evaluations."
    },
    "ClientCertificateSettings": {
      "id": "ClientCertificateSettings",
      "type": "object",
      "properties": {
        "tlsCertificate": {
          "type": "string",
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines."
        },
        "passphrase": {
          "type": "string",
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        },
        "privateKey": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        }
      },
      "description": "Settings for custom client certificates."
    },
    "Tool": {
      "properties": {
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected."
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "openApiTool": {
          "$ref": "OpenApiTool",
          "description": "Optional. The open API tool."
        },
        "clientFunction": {
          "description": "Optional. The client function.",
          "$ref": "ClientFunction"
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "agentTool": {
          "$ref": "AgentTool",
          "description": "Optional. The agent tool."
        },
        "systemTool": {
          "description": "Optional. The system tool.",
          "$ref": "SystemTool"
        },
        "readOnly": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the tool is read-only. If true, the tool cannot be modified by the user."
        },
        "timeout": {
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools.",
          "type": "string",
          "format": "google-duration"
        },
        "remoteAgentTool": {
          "$ref": "RemoteAgentTool",
          "description": "Optional. The remote agent tool."
        },
        "pythonFunction": {
          "description": "Optional. The python function tool.",
          "$ref": "PythonFunction"
        },
        "mcpTool": {
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset.",
          "$ref": "McpTool"
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tool behavior in fake mode."
        },
        "widgetTool": {
          "$ref": "WidgetTool",
          "description": "Optional. The widget tool."
        },
        "googleSearchTool": {
          "description": "Optional. The google search tool.",
          "$ref": "GoogleSearchTool"
        },
        "displayName": {
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the tool was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when the tool was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dataStoreTool": {
          "description": "Optional. The data store tool.",
          "$ref": "DataStoreTool"
        },
        "executionType": {
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tool.",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ]
        },
        "connectorTool": {
          "description": "Optional. The Integration Connector tool.",
          "$ref": "ConnectorTool"
        }
      },
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "id": "Tool",
      "type": "object"
    },
    "LfA2aV1AgentCapabilities": {
      "type": "object",
      "properties": {
        "pushNotifications": {
          "description": "Indicates if the agent supports sending push notifications for asynchronous task updates.",
          "type": "boolean"
        },
        "extendedAgentCard": {
          "type": "boolean",
          "description": "Indicates if the agent supports providing an extended agent card when authenticated."
        },
        "extensions": {
          "type": "array",
          "description": "A list of protocol extensions supported by the agent.",
          "items": {
            "$ref": "LfA2aV1AgentExtension"
          }
        },
        "streaming": {
          "description": "Indicates if the agent supports streaming responses.",
          "type": "boolean"
        }
      },
      "description": "Defines optional capabilities supported by an agent.",
      "id": "LfA2aV1AgentCapabilities"
    },
    "GuardrailLlmPolicy": {
      "id": "GuardrailLlmPolicy",
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
      "properties": {
        "allowShortUtterance": {
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped.",
          "type": "boolean"
        },
        "policyScope": {
          "type": "string",
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ],
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ],
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond."
        },
        "prompt": {
          "type": "string",
          "description": "Required. Policy prompt."
        },
        "modelSettings": {
          "description": "Optional. Model settings.",
          "$ref": "ModelSettings"
        },
        "maxConversationMessages": {
          "type": "integer",
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used.",
          "format": "int32"
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail."
        }
      },
      "type": "object"
    },
    "SessionConfig": {
      "type": "object",
      "id": "SessionConfig",
      "properties": {
        "deployment": {
          "type": "string",
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
        },
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "enableTextStreaming": {
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession.",
          "type": "boolean"
        },
        "timeZone": {
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\".",
          "type": "string"
        },
        "useToolFakes": {
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools.",
          "type": "boolean"
        },
        "entryAgent": {
          "type": "string",
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "remoteDialogflowQueryParameters": {
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
          "$ref": "SessionConfigRemoteDialogflowQueryParameters"
        },
        "historicalContexts": {
          "items": {
            "$ref": "Message"
          },
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state.",
          "type": "array"
        },
        "excludeDiagnosticInfo": {
          "type": "boolean",
          "description": "Optional. Whether to exclude diagnostic info from the session output."
        }
      },
      "description": "The configuration for the session."
    },
    "DataStoreConnectorConfig": {
      "id": "DataStoreConnectorConfig",
      "properties": {
        "collection": {
          "type": "string",
          "description": "Resource name of the collection the data store belongs to."
        },
        "collectionDisplayName": {
          "description": "Display name of the collection the data store belongs to.",
          "type": "string"
        },
        "dataSource": {
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`.",
          "type": "string"
        }
      },
      "description": "The connector config for the data store connection.",
      "type": "object"
    },
    "Example": {
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "invalid": {
          "type": "boolean",
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the example was last updated."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the example was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "messages": {
          "type": "array",
          "description": "Optional. The collection of messages that make up the conversation.",
          "items": {
            "$ref": "Message"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the example."
        },
        "entryAgent": {
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the example.",
          "type": "string"
        }
      },
      "id": "Example"
    },
    "McpTool": {
      "id": "McpTool",
      "properties": {
        "nameOverride": {
          "type": "string",
          "description": "Optional. The name override of the MCP tool. This is populated if the name was overridden by a Toolset override."
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the input arguments of the MCP tool."
        },
        "serverAddress": {
          "type": "string",
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "state": {
          "description": "Output only. The dynamic availability state of the tool on the external server.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "STALE"
          ],
          "enumDescriptions": [
            "Default state.",
            "The tool is available and actively offered by the server.",
            "The tool is configured or pinned, but currently not offered by the server.",
            "The tool exists on the server, but does not match the version on the server."
          ]
        },
        "name": {
          "description": "Required. The name of the MCP tool.",
          "type": "string"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
        },
        "customHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "type": "object"
        },
        "description": {
          "description": "Optional. The description of the MCP tool.",
          "type": "string"
        },
        "outputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the output arguments of the MCP tool."
        }
      },
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details.",
      "type": "object"
    },
    "LfA2aV1AgentSkill": {
      "type": "object",
      "description": "Represents a distinct capability or function that an agent can perform.",
      "id": "LfA2aV1AgentSkill",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "type": "array"
        },
        "examples": {
          "type": "array",
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "inputModes": {
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "outputModes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of supported output media types for this skill, overriding the agent's defaults."
        },
        "name": {
          "description": "Required. A human-readable name for the skill.",
          "type": "string"
        },
        "securityRequirements": {
          "description": "Security schemes necessary for this skill.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          }
        }
      }
    },
    "AgentInterface": {
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "properties": {
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "tenant": {
          "description": "Tenant ID to be used in the request when calling the agent.",
          "type": "string"
        },
        "protocolVersion": {
          "type": "string",
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\""
        },
        "url": {
          "type": "string",
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
        }
      },
      "type": "object",
      "id": "AgentInterface"
    },
    "LfA2aV1AuthorizationCodeOAuthFlow": {
      "properties": {
        "authorizationUrl": {
          "description": "Required. The authorization URL to be used for this flow.",
          "type": "string"
        },
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "pkceRequired": {
          "description": "Indicates if PKCE (RFC 7636) is required for this flow. PKCE should always be used for public clients and is recommended for all clients.",
          "type": "boolean"
        },
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "LfA2aV1AuthorizationCodeOAuthFlow",
      "type": "object",
      "description": "Defines configuration details for the OAuth 2.0 Authorization Code flow."
    },
    "ArtifactChunk": {
      "description": "A streamed fragment of a document artifact (e.g. a markdown TDD) that the assistant is generating. Content deltas stream while the document is being written so clients can render a live preview; the FINALIZED chunk carries the GCS URI once the file has been persisted.",
      "type": "object",
      "id": "ArtifactChunk",
      "properties": {
        "artifactId": {
          "type": "string",
          "description": "Identifier of the artifact, stable across all chunks of one artifact within the stream."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "DELTA",
            "FINALIZED",
            "FAILED",
            "CLOSED"
          ],
          "enumDescriptions": [
            "Unused default.",
            "The assistant started generating the artifact.",
            "A content increment; content_delta is set.",
            "The artifact was persisted; gcs_uri is set.",
            "Generation or persistence failed; the artifact was not saved.",
            "The document finished streaming: its content was fully delivered via content_delta chunks. Persistence may still follow; a FINALIZED chunk with a gcs_uri is sent if and when the artifact is saved."
          ],
          "description": "Lifecycle position of this chunk."
        },
        "contentDelta": {
          "description": "Incremental artifact content. Set on DELTA chunks.",
          "type": "string"
        },
        "gcsUri": {
          "description": "The GCS object the artifact was persisted to. Set on FINALIZED chunks.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The file name shown to the user, e.g. \"hotel_booking_tdd.md\". Set on STARTED (and repeated on FINALIZED)."
        },
        "mimeType": {
          "description": "The IANA media type of the artifact content, e.g. \"text/markdown\".",
          "type": "string"
        }
      }
    },
    "AgentRemoteA2aAgent": {
      "id": "AgentRemoteA2aAgent",
      "type": "object",
      "description": "The agent which will transfer execution to a remote [A2A](https://github.com/a2aproject/A2A) agent.",
      "properties": {
        "a2aConfig": {
          "description": "Required. The A2A connection configuration.",
          "$ref": "RemoteA2aConfig"
        }
      }
    },
    "LfA2aV1ImplicitOAuthFlow": {
      "description": "Deprecated: Use Authorization Code + PKCE instead.",
      "id": "LfA2aV1ImplicitOAuthFlow",
      "properties": {
        "authorizationUrl": {
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS",
          "type": "string"
        },
        "scopes": {
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TriggerActionGenerativeAnswer": {
      "id": "TriggerActionGenerativeAnswer",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Required. The prompt to use for the generative answer."
        }
      },
      "description": "The agent will immediately respond with a generative answer.",
      "type": "object"
    },
    "ClientFunction": {
      "id": "ClientFunction",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Optional. The schema of the function parameters.",
          "$ref": "Schema"
        },
        "description": {
          "description": "Optional. The function description.",
          "type": "string"
        },
        "response": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function response."
        },
        "name": {
          "type": "string",
          "description": "Required. The function name."
        }
      },
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent."
    },
    "ExecuteToolRequest": {
      "id": "ExecuteToolRequest",
      "type": "object",
      "description": "Request message for ToolService.ExecuteTool.",
      "properties": {
        "context": {
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool.",
[...]
