{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        }
      }
    }
  },
  "id": "ces:v1",
  "name": "ces",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260612",
  "rootUrl": "https://ces.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "version": "v1",
  "ownerDomain": "google.com",
  "title": "Gemini Enterprise for Customer Experience API",
  "basePath": "",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "schemas": {
    "ErrorHandlingSettingsFallbackResponseConfig": {
      "id": "ErrorHandlingSettingsFallbackResponseConfig",
      "type": "object",
      "properties": {
        "customFallbackMessages": {
          "description": "Optional. The fallback messages in case of system errors (e.g. LLM errors), mapped by [supported language code](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/reference/language).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maxFallbackAttempts": {
          "type": "integer",
          "description": "Optional. The maximum number of fallback attempts to make before the agent emitting EndSession Signal.",
          "format": "int32"
        }
      },
      "description": "Configuration for handling fallback responses."
    },
    "ApiAuthentication": {
      "id": "ApiAuthentication",
      "type": "object",
      "properties": {
        "serviceAgentIdTokenAuthConfig": {
          "$ref": "ServiceAgentIdTokenAuthConfig",
          "description": "Optional. Config for ID token auth generated from CES service agent."
        },
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        },
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        },
        "serviceAccountAuthConfig": {
          "$ref": "ServiceAccountAuthConfig",
          "description": "Optional. Config for service account authentication."
        },
        "bearerTokenConfig": {
          "description": "Optional. Config for bearer token auth.",
          "$ref": "BearerTokenConfig"
        }
      },
      "description": "Authentication information required for API calls."
    },
    "GoogleSearchToolPromptConfig": {
      "description": "Prompt settings used by the model when processing or summarizing the google search results.",
      "id": "GoogleSearchToolPromptConfig",
      "type": "object",
      "properties": {
        "textPrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used.",
          "type": "string"
        },
        "voicePrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used.",
          "type": "string"
        }
      }
    },
    "EndUserAuthConfig": {
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`.",
      "properties": {
        "oauth2AuthCodeConfig": {
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig",
          "description": "Oauth 2.0 Authorization Code authentication."
        },
        "oauth2JwtBearerConfig": {
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication.",
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig"
        }
      },
      "id": "EndUserAuthConfig",
      "type": "object"
    },
    "DataStoreSettingsEngine": {
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "description": "Output only. The type of the engine.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "type": "string"
        }
      },
      "id": "DataStoreSettingsEngine",
      "type": "object"
    },
    "AgentLlmAgent": {
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model.",
      "properties": {},
      "id": "AgentLlmAgent",
      "type": "object"
    },
    "DataStoreToolBoostSpecs": {
      "id": "DataStoreToolBoostSpecs",
      "type": "object",
      "properties": {
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}."
        },
        "spec": {
          "description": "Required. A list of boosting specifications.",
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "type": "array"
        }
      },
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting."
    },
    "LoggingSettings": {
      "properties": {
        "redactionConfig": {
          "description": "Optional. Configuration for how sensitive data should be redacted.",
          "$ref": "RedactionConfig"
        },
        "audioRecordingConfig": {
          "$ref": "AudioRecordingConfig",
          "description": "Optional. Configuration for how audio interactions should be recorded. The audio is subject to redaction as configured in RedactionConfig."
        },
        "conversationLoggingSettings": {
          "$ref": "ConversationLoggingSettings",
          "description": "Optional. Settings to describe the conversation logging behaviors for the app."
        },
        "metricAnalysisSettings": {
          "description": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app.",
          "$ref": "MetricAnalysisSettings"
        },
        "bigqueryExportSettings": {
          "$ref": "BigQueryExportSettings",
          "description": "Optional. Configures the BigQuery export behaviors for the app. The conversation data is subject to redaction as configured in RedactionConfig."
        },
        "cloudLoggingSettings": {
          "description": "Optional. Settings to describe the Cloud Logging behaviors for the app.",
          "$ref": "CloudLoggingSettings"
        },
        "unredactedAudioRecordingConfig": {
          "description": "Optional. Configures an additional recording of unredacted audio. This can be used to maintain a raw audio copy when audio redaction is enabled, typically for auditing or monitoring purposes.",
          "$ref": "AudioRecordingConfig"
        },
        "evaluationAudioRecordingConfig": {
          "description": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions.",
          "$ref": "AudioRecordingConfig"
        }
      },
      "id": "LoggingSettings",
      "type": "object",
      "description": "Settings to describe the logging behaviors for the app."
    },
    "ExperimentConfig": {
      "properties": {
        "versionRelease": {
          "description": "Optional. Version release for the experiment.",
          "$ref": "ExperimentConfigVersionRelease"
        }
      },
      "id": "ExperimentConfig",
      "type": "object",
      "description": "Experiment for the deployment."
    },
    "BatchDeleteConversationsRequest": {
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "id": "BatchDeleteConversationsRequest",
      "type": "object",
      "properties": {
        "conversations": {
          "description": "Required. The resource names of the conversations to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AppVersion": {
      "id": "AppVersion",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the app version.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "creator": {
          "description": "Output only. Email of the user who created the app version.",
          "readOnly": true,
          "type": "string"
        },
        "snapshot": {
          "readOnly": true,
          "description": "Output only. The snapshot of the app when the version is created.",
          "$ref": "AppSnapshot"
        },
        "description": {
          "description": "Optional. The description of the app version.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the app version was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created."
    },
    "App": {
      "id": "App",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when the app was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "timeZoneSettings": {
          "$ref": "TimeZoneSettings",
          "description": "Optional. TimeZone settings of the app."
        },
        "modelSettings": {
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed.",
          "$ref": "ModelSettings"
        },
        "pinned": {
          "description": "Optional. Whether the app is pinned in the app list.",
          "type": "boolean"
        },
        "evaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholds",
          "description": "Optional. The evaluation thresholds for the app."
        },
        "globalInstruction": {
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents.",
          "type": "string"
        },
        "locked": {
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Human-readable description of the app.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the app was last updated.",
          "format": "google-datetime"
        },
        "languageSettings": {
          "$ref": "LanguageSettings",
          "description": "Optional. Language settings of the app."
        },
        "displayName": {
          "description": "Required. Display name of the app.",
          "type": "string"
        },
        "defaultChannelProfile": {
          "description": "Optional. The default channel profile used by the app.",
          "$ref": "ChannelProfile"
        },
        "deploymentCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of deployments in the app.",
          "format": "int32"
        },
        "rootAgent": {
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "errorHandlingSettings": {
          "description": "Optional. Error handling settings of the app.",
          "$ref": "ErrorHandlingSettings"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
          "type": "string"
        },
        "guardrails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "loggingSettings": {
          "$ref": "LoggingSettings",
          "description": "Optional. Logging settings of the app."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages."
        },
        "audioProcessingConfig": {
          "$ref": "AudioProcessingConfig",
          "description": "Optional. Audio processing configuration of the app."
        },
        "predefinedVariableDeclarations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "description": "Output only. The declarations of predefined variables for the app."
        },
        "dataStoreSettings": {
          "description": "Optional. The data store settings for the app.",
          "$ref": "DataStoreSettings"
        },
        "variableDeclarations": {
          "description": "Optional. The declarations of the variables.",
          "type": "array",
          "items": {
            "$ref": "AppVariableDeclaration"
          }
        },
        "clientCertificateSettings": {
          "description": "Optional. The default client certificate settings for the app.",
          "$ref": "ClientCertificateSettings"
        },
        "validationErrors": {
          "description": "Output only. Misconfigurations or warnings in the app.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "toolExecutionMode": {
          "type": "string",
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL.",
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ],
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ]
        },
        "vpcScSettings": {
          "$ref": "VpcScSettings",
          "description": "Optional. VPC-SC settings for the app."
        }
      },
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context."
    },
    "BargeInConfig": {
      "description": "Configuration for how the user barge-in activities should be handled.",
      "properties": {
        "disableBargeIn": {
          "description": "Optional. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile.",
          "deprecated": true,
          "type": "boolean"
        },
        "bargeInAwareness": {
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually.",
          "type": "boolean"
        }
      },
      "id": "BargeInConfig",
      "type": "object"
    },
    "ChannelProfileWebWidgetConfig": {
      "description": "Message for configuration for the web widget.",
      "id": "ChannelProfileWebWidgetConfig",
      "type": "object",
      "properties": {
        "securitySettings": {
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings",
          "description": "Optional. The security settings of the web widget."
        },
        "modality": {
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ],
          "description": "Optional. The modality of the web widget.",
          "type": "string"
        },
        "webWidgetTitle": {
          "description": "Optional. The title of the web widget.",
          "type": "string"
        },
        "theme": {
          "type": "string",
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ],
          "description": "Optional. The theme of the web widget."
        }
      }
    },
    "ListAgentsResponse": {
      "properties": {
        "agents": {
          "type": "array",
          "items": {
            "$ref": "Agent"
          },
          "description": "The list of agents."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAgentsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListAgents."
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "description": "Security settings for the web widget.",
      "properties": {
        "enablePublicAccess": {
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent.",
          "type": "boolean"
        },
        "enableOriginCheck": {
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\""
        },
        "enableRecaptcha": {
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled.",
          "type": "boolean"
        }
      },
      "id": "ChannelProfileWebWidgetConfigSecuritySettings",
      "type": "object"
    },
    "ServiceDirectoryConfig": {
      "id": "ServiceDirectoryConfig",
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app.",
          "type": "string"
        }
      },
      "description": "Configuration for tools using Service Directory."
    },
    "WidgetToolTextResponseConfig": {
      "description": "Configuration for the text response returned with the widget.",
      "properties": {
        "textResponseInstruction": {
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Optional. The strategy for providing the text response.",
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ]
        },
        "staticText": {
          "description": "Optional. The static text response to return when type is STATIC.",
          "type": "string"
        }
      },
      "id": "WidgetToolTextResponseConfig",
      "type": "object"
    },
    "LfA2aV1Part": {
      "properties": {
        "raw": {
          "description": "The `raw` byte content of a file. In JSON serialization, this is encoded as a base64 string.",
          "format": "byte",
          "type": "string"
        },
        "mediaType": {
          "description": "The `media_type` (MIME type) of the part content (e.g., \"text/plain\", \"application/json\", \"image/png\"). This field is available for all part types.",
          "type": "string"
        },
        "data": {
          "description": "Arbitrary structured `data` as a JSON value (object, array, string, number, boolean, or null).",
          "type": "any"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. metadata associated with this part."
        },
        "filename": {
          "description": "An optional `filename` for the file (e.g., \"document.pdf\").",
          "type": "string"
        },
        "url": {
          "description": "A `url` pointing to the file's content.",
          "type": "string"
        },
        "text": {
          "description": "The string content of the `text` part.",
          "type": "string"
        }
      },
      "id": "LfA2aV1Part",
      "type": "object",
      "description": "`Part` represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON)."
    },
    "GuardrailModelSafetySafetySetting": {
      "id": "GuardrailModelSafetySafetySetting",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Required. The harm category.",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content."
          ],
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          ]
        },
        "threshold": {
          "type": "string",
          "description": "Required. The harm block threshold.",
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ],
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ]
        }
      },
      "description": "Safety setting."
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "type": "object",
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        },
        "endUserMetadata": {
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "webhookHeaders": {
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent."
    },
    "AgentTool": {
      "properties": {
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "rootAgent": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: Use `agent` instead. The resource name of the root agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        },
        "name": {
          "description": "Required. The name of the agent tool.",
          "type": "string"
        },
        "agent": {
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        }
      },
      "id": "AgentTool",
      "type": "object",
      "description": "Represents a tool that allows the agent to call another agent."
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "description": "Settings for matching tool calls.",
      "id": "EvaluationMetricsThresholdsToolMatchingSettings",
      "type": "object",
      "properties": {
        "extraToolCallBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ],
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL."
        }
      }
    },
    "InputAudioConfig": {
      "id": "InputAudioConfig",
      "type": "object",
      "properties": {
        "sampleRateHertz": {
          "type": "integer",
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "format": "int32"
        },
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "description": "Required. The encoding of the input audio data."
        },
        "noiseSuppressionLevel": {
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        }
      },
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data."
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "properties": {
        "appVersion": {
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "id": {
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters.",
          "type": "string"
        },
        "trafficPercentage": {
          "type": "integer",
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100.",
          "format": "int32"
        }
      },
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "type": "object",
      "description": "Traffic allocation for the version release."
    },
    "VpcScSettings": {
      "properties": {
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls."
        }
      },
      "id": "VpcScSettings",
      "type": "object",
      "description": "VPC-SC settings for the app."
    },
    "AppSnapshot": {
      "properties": {
        "agents": {
          "description": "Optional. List of agents in the app.",
          "type": "array",
          "items": {
            "$ref": "Agent"
          }
        },
        "toolsets": {
          "items": {
            "$ref": "Toolset"
          },
          "type": "array",
          "description": "Optional. List of toolsets in the app."
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "Optional. List of tools in the app."
        },
        "examples": {
          "description": "Optional. List of examples in the app.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        },
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array",
          "description": "Optional. List of guardrails in the app."
        },
        "app": {
          "$ref": "App",
          "description": "Optional. The basic settings for the app."
        }
      },
      "id": "AppSnapshot",
      "type": "object",
      "description": "A snapshot of the app."
    },
    "DataStoreToolModalityConfig": {
      "description": "If specified, will apply the given configuration for the specified modality.",
      "properties": {
        "rewriterConfig": {
          "$ref": "DataStoreToolRewriterConfig",
          "description": "Optional. The rewriter config."
        },
        "modalityType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Required. The modality type."
        },
        "summarizationConfig": {
          "description": "Optional. The summarization config.",
          "$ref": "DataStoreToolSummarizationConfig"
        },
        "groundingConfig": {
          "description": "Optional. The grounding configuration.",
          "$ref": "DataStoreToolGroundingConfig"
        }
      },
      "id": "DataStoreToolModalityConfig",
      "type": "object"
    },
    "TriggerAction": {
      "id": "TriggerAction",
      "type": "object",
      "properties": {
        "respondImmediately": {
          "description": "Optional. Immediately respond with a preconfigured response.",
          "$ref": "TriggerActionRespondImmediately"
        },
        "generativeAnswer": {
          "$ref": "TriggerActionGenerativeAnswer",
          "description": "Optional. Respond with a generative answer."
        },
        "transferAgent": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "TriggerActionTransferAgent"
        }
      },
      "description": "Action that is taken when a certain precondition is met."
    },
    "Deployment": {
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "id": "Deployment",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the deployment.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this deployment was last updated.",
          "format": "google-datetime"
        },
        "experimentConfig": {
          "$ref": "ExperimentConfig",
          "description": "Optional. Experiment configuration for the deployment."
        },
        "channelProfile": {
          "$ref": "ChannelProfile",
          "description": "Required. The channel profile used in the deployment."
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this deployment was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListAppVersionsResponse": {
      "description": "Response message for AgentService.ListAppVersions.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "appVersions": {
          "description": "The list of app versions.",
          "type": "array",
          "items": {
            "$ref": "AppVersion"
          }
        }
      },
      "id": "ListAppVersionsResponse",
      "type": "object"
    },
    "Blob": {
      "properties": {
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      },
      "id": "Blob",
      "type": "object",
      "description": "Represents a blob input or output in the conversation."
    },
    "TlsConfig": {
      "description": "The TLS configuration.",
      "properties": {
        "caCerts": {
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "items": {
            "$ref": "TlsConfigCaCert"
          },
          "type": "array"
        }
      },
      "id": "TlsConfig",
      "type": "object"
    },
    "MockedToolCall": {
      "description": "A mocked tool call. Expresses the target tool + a pattern to match against that tool's args / inputs. If the pattern matches, then the mock response will be returned.",
      "id": "MockedToolCall",
      "type": "object",
      "properties": {
        "mockResponse": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The mock response / output to return if the tool call args / inputs match the pattern."
        },
        "expectedArgsPattern": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. A pattern to match against the args / inputs of all dispatched tool calls. If the tool call inputs match this pattern, then mock output will be returned."
        },
        "toolId": {
          "description": "Optional. The name of the tool to mock. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "toolset": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset to mock."
        },
        "tool": {
          "description": "Optional. Deprecated. Use tool_identifier instead.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "AgentRemoteDialogflowAgent": {
      "id": "AgentRemoteDialogflowAgent",
      "type": "object",
      "properties": {
        "flowId": {
          "description": "Optional. The flow ID of the flow in the Dialogflow agent.",
          "type": "string"
        },
        "agent": {
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "outputVariableMapping": {
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environmentId": {
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used.",
          "type": "string"
        },
        "inputVariableMapping": {
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "respectResponseInterruptionSettings": {
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings.",
          "type": "boolean"
        },
        "languageCodeVariable": {
          "description": "Optional. The name of the variable that contains the language code to be used for the Dialogflow session. If unspecified, the default language code of the Dialogflow agent will be used.",
          "type": "string"
        }
      },
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent."
    },
    "TriggerActionRespondImmediately": {
      "description": "The agent will immediately respond with a preconfigured response.",
      "id": "TriggerActionRespondImmediately",
      "type": "object",
      "properties": {
        "responses": {
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly.",
          "type": "array",
          "items": {
            "$ref": "TriggerActionResponse"
          }
        }
      }
    },
    "GuardrailLlmPolicy": {
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
      "id": "GuardrailLlmPolicy",
      "type": "object",
      "properties": {
        "policyScope": {
          "type": "string",
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond.",
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ],
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ]
        },
        "maxConversationMessages": {
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used.",
          "format": "int32",
          "type": "integer"
        },
        "failOpen": {
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail.",
          "type": "boolean"
        },
        "prompt": {
          "description": "Required. Policy prompt.",
          "type": "string"
        },
        "allowShortUtterance": {
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped.",
          "type": "boolean"
        },
        "modelSettings": {
          "description": "Optional. Model settings.",
          "$ref": "ModelSettings"
        }
      }
    },
    "Example": {
      "id": "Example",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the example.",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "Optional. The collection of messages that make up the conversation."
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "entryAgent": {
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the example was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "invalid": {
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples.",
          "readOnly": true,
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Human-readable description of the example.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the example was created.",
          "format": "google-datetime"
        }
      },
      "description": "An example represents a sample conversation between the user and the agent(s)."
    },
    "Tool": {
      "id": "Tool",
      "type": "object",
      "properties": {
        "googleSearchTool": {
          "description": "Optional. The google search tool.",
          "$ref": "GoogleSearchTool"
        },
        "widgetTool": {
          "$ref": "WidgetTool",
          "description": "Optional. The widget tool."
        },
        "name": {
          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
          "type": "string"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the tool was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "dataStoreTool": {
          "$ref": "DataStoreTool",
          "description": "Optional. The data store tool."
        },
        "mcpTool": {
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset.",
          "$ref": "McpTool"
        },
        "toolFakeConfig": {
          "$ref": "ToolFakeConfig",
          "description": "Optional. Configuration for tool behavior in fake mode."
        },
        "pythonFunction": {
          "$ref": "PythonFunction",
          "description": "Optional. The python function tool."
        },
        "openApiTool": {
          "$ref": "OpenApiTool",
          "description": "Optional. The open API tool."
        },
        "agentTool": {
          "description": "Optional. The agent tool.",
          "$ref": "AgentTool"
        },
        "displayName": {
          "description": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property.",
          "readOnly": true,
          "type": "string"
        },
        "executionType": {
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tool.",
          "type": "string"
        },
        "connectorTool": {
          "description": "Optional. The Integration Connector tool.",
          "$ref": "ConnectorTool"
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "timeout": {
          "description": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools.",
          "format": "google-duration",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the tool was last updated.",
          "format": "google-datetime"
        },
        "remoteAgentTool": {
          "description": "Optional. The remote agent tool.",
          "$ref": "RemoteAgentTool"
        },
        "systemTool": {
          "description": "Optional. The system tool.",
          "$ref": "SystemTool"
        },
        "clientFunction": {
          "$ref": "ClientFunction",
          "description": "Optional. The client function."
        },
        "generatedSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation."
        }
      },
      "description": "A tool represents an action that the CES agent can take to achieve certain goals."
    },
    "BigQueryExportSettings": {
      "description": "Settings to describe the BigQuery export behaviors for the app.",
      "properties": {
        "project": {
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Indicates whether the BigQuery export is enabled.",
          "type": "boolean"
        },
        "dataset": {
          "description": "Optional. The BigQuery **dataset ID** to export the data to.",
          "type": "string"
        }
      },
      "id": "BigQueryExportSettings",
      "type": "object"
    },
    "Schema": {
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "id": "Schema",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of the data.",
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ]
        },
        "required": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Required properties of Type.OBJECT."
        },
        "maximum": {
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "format": "double",
          "type": "number"
        },
        "enum": {
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defs": {
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "additionalProperties": {
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties.",
          "$ref": "Schema"
        },
        "minItems": {
          "type": "string",
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "format": "int64"
        },
        "items": {
          "$ref": "Schema",
          "description": "Optional. Schema of the elements of Type.ARRAY."
        },
        "ref": {
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring.",
          "type": "string"
        },
        "anyOf": {
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        },
        "prefixItems": {
          "description": "Optional. Schemas of initial elements of Type.ARRAY.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "uniqueItems": {
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY.",
          "type": "boolean"
        },
        "minimum": {
          "type": "number",
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER.",
          "format": "double"
        },
        "description": {
          "description": "Optional. The description of the data.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "description": "Optional. Properties of Type.OBJECT."
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "maxItems": {
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "TransferRule": {
      "id": "TransferRule",
      "type": "object",
      "properties": {
        "disablePlannerTransfer": {
          "description": "Optional. Rule that prevents the planner from transferring to the target agent.",
          "$ref": "TransferRuleDisablePlannerTransfer"
        },
        "direction": {
          "description": "Required. The direction of the transfer.",
          "enumDescriptions": [
            "Unspecified direction.",
            "Transfer from the parent agent to the child agent.",
            "Transfer from the child agent to the parent agent."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "PARENT_TO_CHILD",
            "CHILD_TO_PARENT"
          ],
          "type": "string"
        },
        "deterministicTransfer": {
          "description": "Optional. A rule that immediately transfers to the target agent when the condition is met.",
          "$ref": "TransferRuleDeterministicTransfer"
        },
        "childAgent": {
          "description": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "description": "Rule for transferring to a specific agent."
    },
    "AgentAgentToolset": {
      "description": "A toolset with a selection of its tools.",
      "id": "AgentAgentToolset",
      "type": "object",
      "properties": {
        "toolIds": {
          "description": "Optional. The tools IDs to filter the toolset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "toolset": {
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        }
      }
    },
    "AgentSkill": {
      "properties": {
        "tags": {
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "examples": {
          "description": "Example prompts or scenarios that this skill can handle.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "name": {
          "description": "Required. A human-readable name for the skill.",
          "type": "string"
        },
        "inputModes": {
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputModes": {
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AgentSkill",
      "type": "object",
      "description": "Represents a distinct capability or function that an agent can perform."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "OpenApiTool": {
      "description": "A remote API tool defined by an OpenAPI schema.",
      "properties": {
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`.",
          "type": "string"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration."
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema in JSON or YAML format.",
          "type": "string"
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust."
        }
      },
      "id": "OpenApiTool",
      "type": "object"
    },
    "LfA2aV1SendMessageRequest": {
      "description": "Represents a request for the `SendMessage` method.",
      "properties": {
        "configuration": {
          "$ref": "LfA2aV1SendMessageConfiguration",
          "description": "Configuration for the send request."
        },
        "metadata": {
          "description": "A flexible key-value map for passing additional context or parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "message": {
          "description": "Required. The message to send to the agent.",
          "$ref": "LfA2aV1Message"
        }
      },
      "id": "LfA2aV1SendMessageRequest",
      "type": "object"
    },
    "Image": {
      "id": "Image",
      "type": "object",
      "properties": {
        "data": {
          "description": "Required. Raw bytes of the image.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp",
          "type": "string"
        }
      },
      "description": "Represents an image input or output in the conversation."
    },
    "GuardrailLlmPromptSecurityDefaultSecuritySettings": {
      "description": "Configuration for default system security settings.",
      "id": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
      "type": "object",
      "properties": {
        "defaultPromptTemplate": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The default prompt template used by the system. This field is for display purposes to show the user what prompt the system uses by default. It is OUTPUT_ONLY."
        }
      }
    },
    "RunSessionResponse": {
      "description": "Response message for SessionService.RunSession.",
      "properties": {
        "outputs": {
          "items": {
            "$ref": "SessionOutput"
          },
          "type": "array",
          "description": "Outputs for the session."
        }
      },
      "id": "RunSessionResponse",
      "type": "object"
    },
    "GenerateChatTokenRequest": {
      "description": "Request message for WidgetService.GenerateChatToken.",
      "properties": {
        "deployment": {
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        },
        "liveHandoffEnabled": {
          "description": "Optional. Indicates if live handoff is enabled for the session.",
          "type": "boolean"
        }
      },
      "id": "GenerateChatTokenRequest",
      "type": "object"
    },
    "McpToolDefinition": {
      "description": "Container for a tool's core definition elements that are snapshot. Schemas in the snapshot are used as-is and cannot be overridden.",
      "id": "McpToolDefinition",
      "type": "object",
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the MCP tool. This can be overridden by `description_override` in `McpToolOverride`."
        },
        "inputSchema": {
          "description": "Output only. The schema of the input arguments of the MCP tool.",
          "$ref": "Schema",
          "readOnly": true
        },
        "outputSchema": {
          "$ref": "Schema",
          "description": "Output only. The schema of the output arguments of the MCP tool.",
          "readOnly": true
        }
      }
    },
    "RestoreAppVersionRequest": {
      "description": "Request message for AgentService.RestoreAppVersion",
      "properties": {},
      "id": "RestoreAppVersionRequest",
      "type": "object"
    },
    "EndSession": {
      "description": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent.",
      "properties": {
        "metadata": {
          "description": "Optional. Provides additional information about the end session signal, such as the reason for ending the session.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "EndSession",
      "type": "object"
    },
    "DataStoreTool": {
      "id": "DataStoreTool",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The data store tool name.",
          "type": "string"
        },
        "dataStoreSource": {
          "description": "Optional. Search within a single specific DataStore.",
          "$ref": "DataStoreToolDataStoreSource"
        },
        "filterParameterBehavior": {
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ],
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "description": "Optional. The filter parameter behavior.",
          "type": "string"
        },
        "engineSource": {
          "description": "Optional. Search within an Engine (potentially across multiple DataStores).",
          "$ref": "DataStoreToolEngineSource"
        },
        "modalityConfigs": {
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          },
          "type": "array",
          "description": "Optional. The modality configs for the data store."
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "boostSpecs": {
          "description": "Optional. Boost specification to boost certain documents.",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          },
          "type": "array"
        }
      },
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "OAuthConfig": {
      "description": "Configurations for authentication with OAuth.",
      "properties": {
        "clientId": {
          "description": "Required. The client ID from the OAuth provider.",
          "type": "string"
        },
        "tokenEndpoint": {
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The OAuth scopes to grant."
        },
        "oauthGrantType": {
          "type": "string",
          "description": "Required. OAuth grant types.",
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ],
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ]
        },
        "clientSecretVersion": {
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        }
      },
      "id": "OAuthConfig",
      "type": "object"
    },
    "DataStoreToolGroundingConfig": {
      "id": "DataStoreToolGroundingConfig",
      "type": "object",
      "properties": {
        "groundingLevel": {
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned.",
          "format": "float",
          "type": "number"
        },
        "disabled": {
          "description": "Optional. Whether grounding is disabled.",
          "type": "boolean"
        }
      },
      "description": "Grounding configuration."
    },
    "ListGuardrailsResponse": {
      "properties": {
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "type": "array",
          "description": "The list of guardrails."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListGuardrailsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListGuardrailsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListGuardrails."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "description": "Boost specification for a condition.",
      "properties": {
        "condition": {
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))",
          "type": "string"
        },
        "boost": {
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "format": "float",
          "type": "number"
        },
        "boostControlSpec": {
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value."
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "type": "object"
    },
    "CloudLoggingSettings": {
      "properties": {
        "enableCloudLogging": {
          "description": "Optional. Whether to enable Cloud Logging for the sessions.",
          "type": "boolean"
        }
      },
      "id": "CloudLoggingSettings",
      "type": "object",
      "description": "Settings to describe the Cloud Logging behaviors for the app."
    },
    "ListExamplesResponse": {
      "id": "ListExamplesResponse",
      "type": "object",
      "properties": {
        "examples": {
          "description": "The list of examples.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListExamples."
    },
    "Citations": {
      "properties": {
        "citedChunks": {
          "type": "array",
          "items": {
            "$ref": "CitationsCitedChunk"
          },
          "description": "List of cited pieces of information."
        }
      },
      "id": "Citations",
      "type": "object",
      "description": "Citations associated with the agent response."
    },
    "ChannelProfile": {
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony.",
      "id": "ChannelProfile",
      "type": "object",
      "properties": {
        "channelType": {
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Five9 channel.",
            "Third party contact center integration channel."
          ],
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION"
          ],
          "description": "Optional. The type of the channel profile.",
          "type": "string"
        },
        "noiseSuppressionLevel": {
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "profileId": {
          "description": "Optional. The unique identifier of the channel profile.",
          "type": "string"
        },
        "disableDtmf": {
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency).",
          "type": "boolean"
        },
        "personaProperty": {
          "description": "Optional. The persona property of the channel profile.",
          "$ref": "ChannelProfilePersonaProperty"
        },
        "disableBargeInControl": {
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt.",
          "type": "boolean"
        },
        "webWidgetConfig": {
          "description": "Optional. The configuration for the web widget.",
          "$ref": "ChannelProfileWebWidgetConfig"
        }
      }
    },
    "PythonFunction": {
      "id": "PythonFunction",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used.",
          "type": "string"
        },
        "description": {
          "description": "Output only. The description of the Python function, parsed from the python code's docstring.",
          "readOnly": true,
          "type": "string"
        },
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration for the tool.",
          "$ref": "ServiceDirectoryConfig"
        }
      },
      "description": "A Python function tool."
    },
    "GuardrailLlmPromptSecurity": {
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification.",
      "id": "GuardrailLlmPromptSecurity",
      "type": "object",
      "properties": {
        "customPolicy": {
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail.",
          "$ref": "GuardrailLlmPolicy"
        },
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        },
        "defaultSettings": {
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response.",
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings"
        }
      }
    },
    "AgentCard": {
      "id": "AgentCard",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. A human-readable name for the agent.",
          "type": "string"
        },
        "skills": {
          "items": {
            "$ref": "AgentSkill"
          },
          "type": "array",
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at."
        },
        "supportedInterfaces": {
          "type": "array",
          "items": {
            "$ref": "AgentInterface"
          },
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred."
        },
        "version": {
          "description": "Required. The version of the agent.",
          "type": "string"
        },
        "description": {
          "description": "Required. A description of the agent's domain of action/solution space.",
          "type": "string"
        }
      },
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard"
    },
    "ConversationTurn": {
      "description": "All information about a single turn in the conversation.",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing."
        },
        "rootSpan": {
          "description": "Optional. The root span of the action processing.",
          "$ref": "Span"
        }
      },
      "id": "ConversationTurn",
      "type": "object"
    },
    "AgentTransfer": {
      "properties": {
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the agent."
        }
      },
      "id": "AgentTransfer",
      "type": "object",
      "description": "Represents an event indicating the transfer of a conversation to a different agent."
    },
    "AudioProcessingConfig": {
      "properties": {
        "ambientSoundConfig": {
          "$ref": "AmbientSoundConfig",
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
        },
        "synthesizeSpeechConfigs": {
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          }
        },
        "inactivityTimeout": {
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement.",
          "format": "google-duration",
          "type": "string"
        },
        "bargeInConfig": {
          "$ref": "BargeInConfig",
          "description": "Optional. Configures the agent behavior for the user barge-in activities."
        }
      },
      "id": "AudioProcessingConfig",
      "type": "object",
      "description": "Configuration for how the input and output audio should be processed and delivered."
    },
    "FileSearchTool": {
      "id": "FileSearchTool",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        },
        "corpusType": {
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "type": "string"
        },
        "name": {
          "description": "Required. The tool name.",
          "type": "string"
        }
      },
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results."
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "McpToolOverride": {
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "properties": {
        "nameOverride": {
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools.",
          "type": "string"
        },
        "tool": {
          "description": "Required. The original name of the tool as it is emitted by the MCP server.",
          "type": "string"
        },
        "descriptionOverride": {
          "description": "Optional. If present, this tool uses this description instead of the original description from the server.",
          "type": "string"
        },
        "snapshot": {
          "readOnly": true,
          "$ref": "McpToolDefinition",
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present."
        }
      },
      "id": "McpToolOverride",
      "type": "object"
    },
    "GuardrailModelSafety": {
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe.",
      "properties": {
        "safetySettings": {
          "description": "Required. List of safety settings.",
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          },
          "type": "array"
        }
      },
      "id": "GuardrailModelSafety",
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "description": "Turn level metrics thresholds.",
      "properties": {
        "semanticSimilarityChannel": {
          "type": "string",
          "description": "Optional. The semantic similarity channel to use for evaluation.",
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ],
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ]
        },
        "overallToolInvocationCorrectnessThreshold": {
          "type": "number",
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0.",
          "format": "float"
        },
        "semanticSimilaritySuccessThreshold": {
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
      "type": "object"
    },
    "ToolFakeConfig": {
      "properties": {
        "codeBlock": {
          "description": "Optional. Code block which will be executed instead of a real tool call.",
          "$ref": "CodeBlock"
        },
        "enableFakeMode": {
          "description": "Optional. Whether the tool is using fake mode.",
          "type": "boolean"
        }
      },
      "id": "ToolFakeConfig",
      "type": "object",
      "description": "Configuration for tool behavior in fake mode."
    },
    "RetrieveToolsRequest": {
      "properties": {
        "bypassPersistenceConfig": {
          "description": "Optional. If true, the returned tools will contain raw descriptions and schemas directly from the server, bypassing any stored persistence configurations (overrides/snapshots).",
          "type": "boolean"
        },
        "toolIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned."
        }
      },
      "id": "RetrieveToolsRequest",
      "type": "object",
      "description": "Request message for ToolService.RetrieveTools."
    },
    "SessionInput": {
      "description": "Input for the session.",
      "properties": {
        "dtmf": {
          "description": "Optional. DTMF digits from the end user.",
          "type": "string"
        },
        "event": {
          "$ref": "Event",
          "description": "Optional. Event input."
        },
        "toolResponses": {
          "description": "Optional. Execution results for the tool calls from the client.",
          "$ref": "ToolResponses"
        },
        "willContinue": {
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal.",
          "type": "boolean"
        },
        "text": {
          "description": "Optional. Text data from the end user.",
          "type": "string"
        },
        "blob": {
          "$ref": "Blob",
          "description": "Optional. Blob data from the end user."
        },
        "variables": {
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "image": {
          "description": "Optional. Image data from the end user.",
          "$ref": "Image"
        },
        "audio": {
          "description": "Optional. Audio data from the end user.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "SessionInput",
      "type": "object"
    },
    "TriggerActionTransferAgent": {
      "description": "The agent will transfer the conversation to a different agent.",
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "id": "TriggerActionTransferAgent",
      "type": "object"
    },
    "AudioRecordingConfig": {
      "description": "Configuration for how the audio interactions should be recorded.",
      "id": "AudioRecordingConfig",
      "type": "object",
      "properties": {
        "gcsBucket": {
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "gcsPathPrefix": {
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used.",
          "type": "string"
        }
      }
    },
    "DataStoreToolDataStoreSource": {
      "id": "DataStoreToolDataStoreSource",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "dataStore": {
          "description": "Optional. The data store.",
          "$ref": "DataStore"
        }
      },
      "description": "Configuration for searching within a specific DataStore."
    },
    "RetrieveToolSchemaResponse": {
      "id": "RetrieveToolSchemaResponse",
      "type": "object",
      "properties": {
        "toolsetTool": {
          "description": "The toolset tool that the schema is for.",
          "$ref": "ToolsetTool"
        },
        "inputSchema": {
          "description": "The schema of the tool input parameters.",
          "$ref": "Schema"
        },
        "outputSchema": {
          "$ref": "Schema",
[...]
