{
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "canonicalName": "Customer Engagement Suite",
  "endpoints": [
    {
      "location": "us",
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/"
    }
  ],
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://ces.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "ces",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "version": "v1",
  "baseUrl": "https://ces.googleapis.com/",
  "basePath": "",
  "discoveryVersion": "v1",
  "id": "ces:v1",
  "description": "",
  "revision": "20260903",
  "schemas": {
    "ToolResponses": {
      "type": "object",
      "properties": {
        "toolResponses": {
          "items": {
            "$ref": "ToolResponse"
          },
          "description": "Optional. The list of tool execution results.",
          "type": "array"
        }
      },
      "id": "ToolResponses",
      "description": "Execution results for the requested tool calls from the client."
    },
    "ConversationTurn": {
      "type": "object",
      "properties": {
        "userIntendedText": {
          "type": "string",
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled."
        },
        "rootSpan": {
          "description": "Optional. The root span of the action processing.",
          "$ref": "Span"
        },
        "messages": {
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        }
      },
      "description": "All information about a single turn in the conversation.",
      "id": "ConversationTurn"
    },
    "LfA2aV1SendMessageRequest": {
      "type": "object",
      "id": "LfA2aV1SendMessageRequest",
      "description": "Represents a request for the `SendMessage` method.",
      "properties": {
        "configuration": {
          "description": "Configuration for the send request.",
          "$ref": "LfA2aV1SendMessageConfiguration"
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "Required. The message to send to the agent."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A flexible key-value map for passing additional context or parameters.",
          "type": "object"
        }
      }
    },
    "LfA2aV1AgentCapabilities": {
      "type": "object",
      "description": "Defines optional capabilities supported by an agent.",
      "id": "LfA2aV1AgentCapabilities",
      "properties": {
        "streaming": {
          "type": "boolean",
          "description": "Indicates if the agent supports streaming responses."
        },
        "extensions": {
          "description": "A list of protocol extensions supported by the agent.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentExtension"
          }
        },
        "pushNotifications": {
          "description": "Indicates if the agent supports sending push notifications for asynchronous task updates.",
          "type": "boolean"
        },
        "extendedAgentCard": {
          "type": "boolean",
          "description": "Indicates if the agent supports providing an extended agent card when authenticated."
        }
      }
    },
    "RetrieveToolsResponse": {
      "properties": {
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "description": "The list of tools that are included in the specified toolset.",
          "type": "array"
        }
      },
      "id": "RetrieveToolsResponse",
      "type": "object",
      "description": "Response message for ToolService.RetrieveTools."
    },
    "LfA2aV1OpenIdConnectSecurityScheme": {
      "id": "LfA2aV1OpenIdConnectSecurityScheme",
      "description": "Defines a security scheme using OpenID Connect.",
      "properties": {
        "description": {
          "description": "An optional description for the security scheme.",
          "type": "string"
        },
        "openIdConnectUrl": {
          "description": "Required. The [OpenID Connect Discovery URL](https://openid.net/specs/openid-connect-discovery-1_0.html) for the OIDC provider's metadata.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExportAppResponse": {
      "properties": {
        "appContent": {
          "description": "App folder compressed as a zip file.",
          "type": "string",
          "format": "byte"
        },
        "appUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ExportApp.",
      "type": "object",
      "id": "ExportAppResponse"
    },
    "EndSession": {
      "description": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent.",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Optional. Provides additional information about the end session signal, such as the reason for ending the session.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "EndSession",
      "type": "object"
    },
    "ServiceDirectoryConfig": {
      "type": "object",
      "description": "Configuration for tools using Service Directory.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app."
        }
      },
      "id": "ServiceDirectoryConfig"
    },
    "ErrorHandlingSettingsFallbackResponseConfig": {
      "description": "Configuration for handling fallback responses.",
      "type": "object",
      "properties": {
        "maxFallbackAttempts": {
          "type": "integer",
          "description": "Optional. The maximum number of fallback attempts to make before the agent emitting EndSession Signal.",
          "format": "int32"
        },
        "customFallbackMessages": {
          "type": "object",
          "description": "Optional. The fallback messages in case of system errors (e.g. LLM errors), mapped by [supported language code](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/reference/language).",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ErrorHandlingSettingsFallbackResponseConfig"
    },
    "LfA2aV1AgentSkill": {
      "description": "Represents a distinct capability or function that an agent can perform.",
      "id": "LfA2aV1AgentSkill",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. A human-readable name for the skill.",
          "type": "string"
        },
        "description": {
          "description": "Required. A detailed description of the skill.",
          "type": "string"
        },
        "securityRequirements": {
          "description": "Security schemes necessary for this skill.",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          },
          "type": "array"
        },
        "inputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of supported input media types for this skill, overriding the agent's defaults."
        },
        "id": {
          "description": "Required. A unique identifier for the agent's skill.",
          "type": "string"
        },
        "tags": {
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputModes": {
          "type": "array",
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "examples": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Example prompts or scenarios that this skill can handle."
        }
      }
    },
    "LfA2aV1APIKeySecurityScheme": {
      "description": "Defines a security scheme using an API key.",
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        },
        "location": {
          "description": "Required. The location of the API key. Valid values are \"query\", \"header\", or \"cookie\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the header, query, or cookie parameter to be used."
        }
      },
      "type": "object",
      "id": "LfA2aV1APIKeySecurityScheme"
    },
    "LfA2aV1AgentExtension": {
      "id": "LfA2aV1AgentExtension",
      "properties": {
        "params": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Extension-specific configuration parameters.",
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of how this agent uses the extension."
        },
        "required": {
          "type": "boolean",
          "description": "If true, the client must understand and comply with the extension's requirements."
        },
        "uri": {
          "description": "The unique URI identifying the extension.",
          "type": "string"
        }
      },
      "description": "A declaration of a protocol extension supported by an Agent.",
      "type": "object"
    },
    "LfA2aV1Artifact": {
      "description": "Artifacts represent task outputs.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. A human readable description of the artifact."
        },
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Artifact."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Metadata included with the artifact."
        },
        "parts": {
          "items": {
            "$ref": "LfA2aV1Part"
          },
          "type": "array",
          "description": "Required. The content of the artifact. Must contain at least one part."
        },
        "artifactId": {
          "type": "string",
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task."
        }
      },
      "id": "LfA2aV1Artifact"
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "description": "Boost specification for a condition.",
      "properties": {
        "boost": {
          "type": "number",
          "format": "float",
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored."
        },
        "boostControlSpec": {
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec"
        },
        "condition": {
          "type": "string",
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))"
        }
      }
    },
    "WidgetTool": {
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Optional. The input parameters of the widget tool.",
          "$ref": "Schema"
        },
        "textResponseConfig": {
          "description": "Optional. Configuration for always-included text responses.",
          "$ref": "WidgetToolTextResponseConfig"
        },
        "uiConfig": {
          "type": "object",
          "description": "Optional. Configuration for rendering the widget.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "dataMapping": {
          "$ref": "WidgetToolDataMapping",
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters."
        },
        "name": {
          "description": "Required. The display name of the widget tool.",
          "type": "string"
        },
        "widgetType": {
          "type": "string",
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED.",
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ],
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the widget tool."
        }
      },
      "id": "WidgetTool",
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent."
    },
    "ApiAuthentication": {
      "type": "object",
      "properties": {
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Optional. Config for OAuth."
        },
        "bearerTokenConfig": {
          "description": "Optional. Config for bearer token auth.",
          "$ref": "BearerTokenConfig"
        },
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        },
        "serviceAgentIdTokenAuthConfig": {
          "$ref": "ServiceAgentIdTokenAuthConfig",
          "description": "Optional. Config for ID token auth generated from CES service agent."
        },
        "apiKeyConfig": {
          "description": "Optional. Config for API key auth.",
          "$ref": "ApiKeyConfig"
        }
      },
      "id": "ApiAuthentication",
      "description": "Authentication information required for API calls."
    },
    "EvaluationMetricsThresholdsToolMatchingSettings": {
      "properties": {
        "extraToolCallBehavior": {
          "enum": [
            "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "ALLOW"
          ],
          "description": "Optional. Behavior for extra tool calls. Defaults to FAIL.",
          "enumDescriptions": [
            "Unspecified behavior. Defaults to FAIL.",
            "Fail the evaluation if an extra tool call is encountered.",
            "Allow the extra tool call."
          ],
          "type": "string"
        }
      },
      "id": "EvaluationMetricsThresholdsToolMatchingSettings",
      "type": "object",
      "description": "Settings for matching tool calls."
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "boostAmount": {
          "format": "float",
          "type": "number",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        },
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "type": "object"
    },
    "InputAudioConfig": {
      "type": "object",
      "id": "InputAudioConfig",
      "properties": {
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "description": "Required. The encoding of the input audio data."
        },
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "format": "int32",
          "type": "integer"
        },
        "noiseSuppressionLevel": {
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        }
      },
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data."
    },
    "PythonFunction": {
      "id": "PythonFunction",
      "type": "object",
      "description": "A Python function tool.",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. The description of the Python function, parsed from the python code's docstring.",
          "type": "string"
        },
        "pythonCode": {
          "type": "string",
          "description": "Optional. The Python code to execute for the tool."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for the tool."
        },
        "name": {
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used.",
          "type": "string"
        }
      }
    },
    "TriggerActionRespondImmediately": {
      "id": "TriggerActionRespondImmediately",
      "type": "object",
      "description": "The agent will immediately respond with a preconfigured response.",
      "properties": {
        "responses": {
          "type": "array",
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly.",
          "items": {
            "$ref": "TriggerActionResponse"
          }
        }
      }
    },
    "ListAppsResponse": {
      "properties": {
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "apps": {
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListAppsResponse",
      "description": "Response message for AgentService.ListApps."
    },
    "WebSearchQuery": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI to the Google Search results page for the query."
        },
        "query": {
          "description": "The search query text.",
          "type": "string"
        }
      },
      "id": "WebSearchQuery",
      "description": "Represents a single web search query and its associated search uri."
    },
    "AppSnapshot": {
      "id": "AppSnapshot",
      "type": "object",
      "description": "A snapshot of the app.",
      "properties": {
        "toolsets": {
          "description": "Optional. List of toolsets in the app.",
          "items": {
            "$ref": "Toolset"
          },
          "type": "array"
        },
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "description": "Optional. List of agents in the app.",
          "type": "array"
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "description": "Optional. List of tools in the app.",
          "type": "array"
        },
        "app": {
          "description": "Optional. The basic settings for the app.",
          "$ref": "App"
        },
        "guardrails": {
          "type": "array",
          "items": {
            "$ref": "Guardrail"
          },
          "description": "Optional. List of guardrails in the app."
        },
        "examples": {
          "type": "array",
          "description": "Optional. List of examples in the app.",
          "items": {
            "$ref": "Example"
          }
        }
      }
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "type": "object",
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "properties": {
        "issuer": {
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "clientKey": {
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`."
        }
      }
    },
    "TriggerActionGenerativeAnswer": {
      "properties": {
        "prompt": {
          "description": "Required. The prompt to use for the generative answer.",
          "type": "string"
        }
      },
      "description": "The agent will immediately respond with a generative answer.",
      "id": "TriggerActionGenerativeAnswer",
      "type": "object"
    },
    "Example": {
      "id": "Example",
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "properties": {
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "Optional. The collection of messages that make up the conversation."
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the example."
        },
        "entryAgent": {
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the example.",
          "type": "string"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the example was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the example was created.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
          "type": "string"
        },
        "invalid": {
          "type": "boolean",
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ExperimentConfig": {
      "type": "object",
      "properties": {
        "versionRelease": {
          "description": "Optional. Version release for the experiment.",
          "$ref": "ExperimentConfigVersionRelease"
        }
      },
      "description": "Experiment for the deployment.",
      "id": "ExperimentConfig"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "ExperimentConfigVersionReleaseTrafficAllocation": {
      "description": "Traffic allocation for the version release.",
      "type": "object",
      "id": "ExperimentConfigVersionReleaseTrafficAllocation",
      "properties": {
        "id": {
          "description": "Optional. Id of the traffic allocation. Free format string, up to 128 characters.",
          "type": "string"
        },
        "trafficPercentage": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Traffic percentage of the traffic allocation. Must be between 0 and 100."
        },
        "appVersion": {
          "description": "Optional. App version of the traffic allocation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        }
      }
    },
    "RetrieveToolSchemaResponse": {
      "type": "object",
      "id": "RetrieveToolSchemaResponse",
      "description": "Response message for ToolService.RetrieveToolSchema.",
      "properties": {
        "outputSchema": {
          "$ref": "Schema",
          "description": "The schema of the tool output parameters."
        },
        "toolsetTool": {
          "description": "The toolset tool that the schema is for.",
          "$ref": "ToolsetTool"
        },
        "tool": {
          "type": "string",
          "description": "The name of the tool that the schema is for. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "The schema of the tool input parameters."
        }
      }
    },
    "Agent": {
      "id": "Agent",
      "type": "object",
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the agent was last updated."
        },
        "tools": {
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "beforeModelCallbacks": {
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "llmAgent": {
          "description": "Optional. The default agent type.",
          "$ref": "AgentLlmAgent"
        },
        "transferRules": {
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "type": "array",
          "items": {
            "$ref": "TransferRule"
          }
        },
        "afterToolCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "childAgents": {
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "beforeToolCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "guardrails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "remoteA2aAgent": {
          "description": "Optional. The remote [A2A](https://github.com/a2aproject/A2A) agent to be used for the agent execution.",
          "$ref": "AgentRemoteA2aAgent"
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the agent was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the agent."
        },
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "beforeAgentCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "generatedSummary": {
          "type": "string",
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "readOnly": true
        },
        "afterAgentCallbacks": {
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "toolsets": {
          "items": {
            "$ref": "AgentAgentToolset"
          },
          "description": "Optional. List of toolsets for the agent.",
          "type": "array"
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "afterModelCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the agent."
        },
        "validationErrors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality."
        }
      }
    },
    "ChannelProfilePersonaProperty": {
      "id": "ChannelProfilePersonaProperty",
      "description": "Represents the persona property of a channel.",
      "type": "object",
      "properties": {
        "persona": {
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ],
          "description": "Optional. The persona of the channel.",
          "type": "string"
        }
      }
    },
    "FileSearchTool": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The tool name.",
          "type": "string"
        },
        "corpusType": {
          "type": "string",
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ]
        },
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        }
      },
      "id": "FileSearchTool",
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results."
    },
    "ApiKeyConfig": {
      "type": "object",
      "properties": {
        "keyName": {
          "description": "Required. The parameter name or the header name of the API key. E.g., If the API request is \"https://example.com/act?X-Api-Key=\", \"X-Api-Key\" would be the parameter name.",
          "type": "string"
        },
        "apiKeySecretVersion": {
          "description": "Required. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "requestLocation": {
          "enumDescriptions": [
            "Unspecified. This value should not be used.",
            "Represents the key in http header.",
            "Represents the key in query string."
          ],
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ],
          "type": "string",
          "description": "Required. Key location in the request."
        }
      },
      "id": "ApiKeyConfig",
      "description": "Configurations for authentication with API key."
    },
    "AgentRemoteDialogflowAgent": {
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent.",
      "properties": {
        "outputVariableMapping": {
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "agent": {
          "type": "string",
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        },
        "inputVariableMapping": {
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environmentId": {
          "type": "string",
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used."
        },
        "respectResponseInterruptionSettings": {
          "type": "boolean",
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings."
        },
        "flowId": {
          "description": "Optional. The flow ID of the flow in the Dialogflow agent.",
          "type": "string"
        },
        "languageCodeVariable": {
          "description": "Optional. The name of the variable that contains the language code to be used for the Dialogflow session. If unspecified, the default language code of the Dialogflow agent will be used.",
          "type": "string"
        }
      },
      "id": "AgentRemoteDialogflowAgent",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "description": "Response message for AgentService.ListDeployments.",
      "id": "ListDeploymentsResponse",
      "type": "object",
      "properties": {
        "deployments": {
          "type": "array",
          "description": "The list of deployments.",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "InstagramCredentials": {
      "description": "Ephemeral Meta credentials for Instagram native integration.",
      "properties": {
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        },
        "conversationProfileId": {
          "description": "Optional. The Conversation Profile ID to use for the deployment.",
          "type": "string"
        }
      },
      "id": "InstagramCredentials",
      "type": "object"
    },
    "EvaluationMetricsThresholds": {
      "type": "object",
      "properties": {
        "scenarioHallucinationMetricBehavior": {
          "description": "Optional. The hallucination metric behavior for scenario evaluations.",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string"
        },
        "goldenEvaluationMetricsThresholds": {
          "description": "Optional. The golden evaluation metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
        },
        "hallucinationMetricBehavior": {
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations."
        },
        "goldenHallucinationMetricBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        }
      },
      "description": "Threshold settings for metrics in an Evaluation.",
      "id": "EvaluationMetricsThresholds"
    },
    "CitationsInlineCitation": {
      "description": "An inline citation in the response text.",
      "type": "object",
      "id": "CitationsInlineCitation",
      "properties": {
        "citedChunkIndices": {
          "description": "The indices of the cited chunks that back this text segment. Indices refer to the elements in `cited_chunks`.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "endIndex": {
          "description": "The ending index (in bytes) of the text segment in the agent response.",
          "type": "integer",
          "format": "int32"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index (in bytes) of the text segment in the agent response."
        }
      }
    },
    "DashboardSettings": {
      "type": "object",
      "id": "DashboardSettings",
      "description": "Settings for dashboards associated with the app, that show up in the Monitoring view.",
      "properties": {
        "defaultDashboard": {
          "type": "string",
          "description": "Optional. The resource name of the default Contact Center Insights dashboard associated with the app. This is the dashboard that will be displayed when users navigate to the Monitoring view for the app. Format: `projects/{project}/locations/{location}/dashboards/{dashboard}`"
        }
      }
    },
    "DataStoreSettingsEngine": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "description": "Output only. The type of the engine.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataStoreSettingsEngine",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "MockConfig": {
      "type": "object",
      "properties": {
        "mockedToolCalls": {
          "description": "Optional. All tool calls to mock for the duration of the session.",
          "items": {
            "$ref": "MockedToolCall"
          },
          "type": "array"
        },
        "unmatchedToolCallBehavior": {
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls.",
          "type": "string"
        }
      },
      "id": "MockConfig",
      "description": "Mock tool calls configuration for the session."
    },
    "TriggerActionResponse": {
      "description": "Represents a response from the agent.",
      "properties": {
        "text": {
          "description": "Required. Text for the agent to respond with.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent.",
          "type": "boolean"
        }
      },
      "id": "TriggerActionResponse",
      "type": "object"
    },
    "LfA2aV1ImplicitOAuthFlow": {
      "description": "Deprecated: Use Authorization Code + PKCE instead.",
      "id": "LfA2aV1ImplicitOAuthFlow",
      "type": "object",
      "properties": {
        "authorizationUrl": {
          "type": "string",
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
        },
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object"
        }
      }
    },
    "AgentTransfer": {
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "properties": {
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of the agent."
        }
      },
      "id": "AgentTransfer",
      "type": "object"
    },
    "CitationsCitedChunk": {
      "id": "CitationsCitedChunk",
      "properties": {
        "requiresAttribution": {
          "description": "Whether this citation requires attribution to be shown to the end users.",
          "type": "boolean"
        },
        "uri": {
          "description": "URI used for citation.",
          "type": "string"
        },
        "text": {
          "description": "Text used for citation.",
          "type": "string"
        },
        "title": {
          "description": "Title of the cited document.",
          "type": "string"
        }
      },
      "description": "Piece of cited information.",
      "type": "object"
    },
    "ImportAppRequestImportOptions": {
      "id": "ImportAppRequestImportOptions",
      "properties": {
        "validateOnly": {
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one.",
          "type": "boolean"
        },
        "conflictResolutionStrategy": {
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "type": "string",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ]
        }
      },
      "type": "object",
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data."
    },
    "RunSessionRequest": {
      "id": "RunSessionRequest",
      "description": "Request message for SessionService.RunSession.",
      "properties": {
        "config": {
          "$ref": "SessionConfig",
          "description": "Required. The configuration for the session."
        },
        "inputs": {
          "items": {
            "$ref": "SessionInput"
          },
          "description": "Required. Inputs for the session.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "LfA2aV1TaskPushNotificationConfig": {
      "description": "A container associating a push notification configuration with a specific task.",
      "properties": {
        "url": {
          "description": "Required. The URL where the notification should be sent.",
          "type": "string"
        },
        "id": {
          "description": "The push notification configuration details. A unique identifier (e.g. UUID) for this push notification configuration.",
          "type": "string"
        },
        "tenant": {
          "type": "string",
          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set."
        },
        "taskId": {
          "description": "The ID of the task this configuration is associated with.",
          "type": "string"
        },
        "token": {
          "description": "A token unique for this task or session.",
          "type": "string"
        },
        "authentication": {
          "$ref": "LfA2aV1AuthenticationInfo",
          "description": "Authentication information required to send the notification."
        }
      },
      "id": "LfA2aV1TaskPushNotificationConfig",
      "type": "object"
    },
    "LfA2aV1AgentCardSignature": {
      "type": "object",
      "id": "LfA2aV1AgentCardSignature",
      "properties": {
        "protected": {
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object.",
          "type": "string"
        },
        "signature": {
          "description": "Required. The computed signature, base64url-encoded.",
          "type": "string"
        },
        "header": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The unprotected JWS header values.",
          "type": "object"
        }
      },
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS)."
    },
    "TransferRuleDeterministicTransfer": {
      "type": "object",
      "id": "TransferRuleDeterministicTransfer",
      "properties": {
        "expressionCondition": {
          "description": "Optional. A rule that evaluates a session state condition. If the condition evaluates to true, the transfer occurs.",
          "$ref": "ExpressionCondition"
        },
        "pythonCodeCondition": {
          "description": "Optional. A rule that uses Python code block to evaluate the conditions. If the condition evaluates to true, the transfer occurs.",
          "$ref": "PythonCodeCondition"
        }
      },
      "description": "Deterministic transfer rule. When the condition evaluates to true, the transfer occurs."
    },
    "ClientFunction": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The function description."
        },
        "parameters": {
          "$ref": "Schema",
          "description": "Optional. The schema of the function parameters."
        },
        "response": {
          "description": "Optional. The schema of the function response.",
          "$ref": "Schema"
        },
        "name": {
          "description": "Required. The function name.",
          "type": "string"
        }
      },
      "id": "ClientFunction",
      "type": "object",
      "description": "Represents a client-side function that the agent can invoke. When the tool is chosen by the agent, control is handed off to the client. The client is responsible for executing the function and returning the result as a ToolResponse to continue the interaction with the agent."
    },
    "MetricAnalysisSettings": {
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline.",
      "type": "object",
      "id": "MetricAnalysisSettings",
      "properties": {
        "llmMetricsOptedOut": {
          "type": "boolean",
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected."
        }
      }
    },
    "LfA2aV1OAuthFlows": {
      "id": "LfA2aV1OAuthFlows",
      "type": "object",
      "description": "Defines the configuration for the supported OAuth 2.0 flows.",
      "properties": {
        "password": {
          "$ref": "LfA2aV1PasswordOAuthFlow",
          "description": "Deprecated: Use Authorization Code + PKCE or Device Code.",
          "deprecated": true
        },
        "authorizationCode": {
          "description": "Configuration for the OAuth Authorization Code flow.",
          "$ref": "LfA2aV1AuthorizationCodeOAuthFlow"
        },
        "clientCredentials": {
          "$ref": "LfA2aV1ClientCredentialsOAuthFlow",
          "description": "Configuration for the OAuth Client Credentials flow."
        },
        "deviceCode": {
          "$ref": "LfA2aV1DeviceCodeOAuthFlow",
          "description": "Configuration for the OAuth Device Code flow."
        },
        "implicit": {
          "$ref": "LfA2aV1ImplicitOAuthFlow",
          "deprecated": true,
          "description": "Deprecated: Use Authorization Code + PKCE instead."
        }
      }
    },
    "Citations": {
      "description": "Citations associated with the agent response.",
      "properties": {
        "inlineCitations": {
          "type": "array",
          "items": {
            "$ref": "CitationsInlineCitation"
          },
          "description": "Optional. List of inline citations in the agent response."
        },
        "citedChunks": {
          "type": "array",
          "description": "List of cited pieces of information.",
          "items": {
            "$ref": "CitationsCitedChunk"
          }
        }
      },
      "id": "Citations",
      "type": "object"
    },
    "ListAppVersionsResponse": {
      "properties": {
        "appVersions": {
          "type": "array",
          "items": {
            "$ref": "AppVersion"
          },
          "description": "The list of app versions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for AgentService.ListAppVersions.",
      "id": "ListAppVersionsResponse"
    },
    "ListConversationsResponse": {
      "properties": {
        "conversations": {
          "description": "The list of conversations.",
          "items": {
            "$ref": "Conversation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for AgentService.ListConversations.",
      "id": "ListConversationsResponse"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "description": "Expectation level metrics thresholds.",
      "type": "object",
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "format": "float",
          "type": "number",
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0."
        }
      }
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "type": "object",
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "properties": {
        "oauthToken": {
          "type": "string",
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`."
        }
      }
    },
    "GuardrailContentFilter": {
      "id": "GuardrailContentFilter",
      "type": "object",
      "properties": {
        "bannedContentsInAgentResponse": {
          "description": "Optional. List of banned phrases. Applies only to agent responses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bannedContentsInUserInput": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of banned phrases. Applies only to user inputs.",
          "type": "array"
        },
        "disregardDiacritics": {
          "description": "Optional. If true, diacritics are ignored during matching.",
          "type": "boolean"
        },
        "bannedContents": {
          "type": "array",
          "description": "Optional. List of banned phrases. Applies to both user inputs and agent responses.",
          "items": {
            "type": "string"
          }
        },
        "matchType": {
          "type": "string",
          "description": "Required. Match type for the content filter.",
          "enumDescriptions": [
            "Match type is not specified.",
            "Content is matched for substrings character by character.",
            "Content only matches if the pattern found in the text is surrounded by word delimiters. Banned phrases can also contain word delimiters.",
            "Content is matched using regular expression syntax."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH",
            "REGEXP_MATCH"
          ]
        }
      },
      "description": "Guardrail that bans certain content from being used in the conversation."
    },
    "DataStoreTool": {
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "properties": {
        "boostSpecs": {
          "description": "Optional. Boost specification to boost certain documents.",
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          },
          "type": "array"
        },
        "engineSource": {
          "description": "Optional. Search within an Engine (potentially across multiple DataStores).",
          "$ref": "DataStoreToolEngineSource"
        },
        "dataStoreSource": {
          "$ref": "DataStoreToolDataStoreSource",
          "description": "Optional. Search within a single specific DataStore."
        },
        "name": {
          "description": "Required. The data store tool name.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "modalityConfigs": {
          "type": "array",
          "description": "Optional. The modality configs for the data store.",
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          }
        },
        "filterParameterBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ],
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "description": "Optional. The filter parameter behavior."
        }
      },
      "type": "object",
      "id": "DataStoreTool"
    },
    "RedactionConfig": {
      "properties": {
        "deidentifyTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) deidentify template name to instruct on how to de-identify content. Format: `projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
          "type": "string"
        },
        "enableRedaction": {
          "type": "boolean",
          "description": "Optional. If true, redaction will be applied in various logging scenarios, including conversation history, Cloud Logging and audio recording."
        },
        "inspectTemplate": {
          "description": "Optional. [DLP](https://cloud.google.com/dlp/docs) inspect template name to configure detection of sensitive data types. Format: `projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
          "type": "string"
        }
      },
      "description": "Configuration to instruct how sensitive data should be handled.",
      "id": "RedactionConfig",
      "type": "object"
    },
    "GenerateChatTokenResponse": {
      "description": "Response message for WidgetService.GenerateChatToken.",
      "properties": {
        "chatToken": {
          "type": "string",
          "description": "The session scoped token for chat widget to authenticate with Session APIs."
        },
        "expireTime": {
          "description": "The time at which the chat token expires.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenerateChatTokenResponse"
    },
    "McpTool": {
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The description of the MCP tool."
        },
        "customHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details."
        },
        "nameOverride": {
          "type": "string",
          "description": "Optional. The name override of the MCP tool. This is populated if the name was overridden by a Toolset override."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the input arguments of the MCP tool."
        },
        "serverAddress": {
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "apiAuthentication": {
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication.",
          "$ref": "ApiAuthentication"
        },
        "state": {
          "description": "Output only. The dynamic availability state of the tool on the external server.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "The tool is available and actively offered by the server.",
            "The tool is configured or pinned, but currently not offered by the server.",
            "The tool exists on the server, but does not match the version on the server."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "STALE"
          ]
        },
        "outputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the output arguments of the MCP tool."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the MCP tool."
        }
      },
      "id": "McpTool",
      "type": "object"
    },
    "ImportAppRequest": {
      "id": "ImportAppRequest",
      "description": "Request message for AgentService.ImportApp.",
      "properties": {
        "appContent": {
          "description": "Raw bytes representing the compressed zip file with the app folder structure.",
          "format": "byte",
          "type": "string"
        },
        "jsonPatchGcsUri": {
          "description": "Optional. A Cloud Storage URI pointing to a JSON file containing the patches.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error."
        },
        "jsonPatchContent": {
          "type": "string",
          "description": "Optional. Patch content as a JSON string."
        },
        "importOptions": {
          "$ref": "ImportAppRequestImportOptions",
          "description": "Optional. Options governing the import process for the app."
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "ignoreAppLock": {
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock.",
          "type": "boolean"
        },
        "appId": {
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChannelProfileWebWidgetConfig": {
      "description": "Message for configuration for the web widget.",
      "type": "object",
      "properties": {
        "theme": {
          "type": "string",
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ],
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "description": "Optional. The theme of the web widget."
        },
        "securitySettings": {
          "description": "Optional. The security settings of the web widget.",
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings"
        },
        "modality": {
          "type": "string",
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ],
          "description": "Optional. The modality of the web widget."
        },
        "webWidgetTitle": {
          "description": "Optional. The title of the web widget.",
          "type": "string"
        }
      },
      "id": "ChannelProfileWebWidgetConfig"
    },
    "OpenApiTool": {
      "type": "object",
      "id": "OpenApiTool",
      "properties": {
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration."
        },
        "openApiSchema": {
          "type": "string",
          "description": "Required. The OpenAPI schema in JSON or YAML format."
        },
        "name": {
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`.",
          "type": "string"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`."
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust."
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        },
        "url": {
          "type": "string",
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
        }
      },
      "description": "A remote API tool defined by an OpenAPI schema."
    },
    "ClientCertificateSettings": {
      "description": "Settings for custom client certificates.",
      "properties": {
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        },
        "passphrase": {
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        },
        "privateKey": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        }
      },
      "id": "ClientCertificateSettings",
      "type": "object"
    },
    "AppVersion": {
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created.",
      "id": "AppVersion",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the app version was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the app version."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the app version was created."
        },
        "description": {
          "description": "Optional. The description of the app version.",
          "type": "string"
        },
        "creator": {
          "description": "Output only. Email of the user who created the app version.",
          "type": "string",
          "readOnly": true
        },
        "snapshot": {
          "description": "Output only. The snapshot of the app when the version is created.",
          "$ref": "AppSnapshot",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "readOnly": true
        }
      }
    },
    "TriggerActionTransferAgent": {
      "type": "object",
      "id": "TriggerActionTransferAgent",
      "description": "The agent will transfer the conversation to a different agent.",
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      }
    },
    "DataStoreToolBoostSpec": {
      "id": "DataStoreToolBoostSpec",
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "description": "Required. A list of boosting specifications.",
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpec"
          }
        }
      },
      "description": "Boost specification to boost certain documents."
    },
    "WidgetToolDataMapping": {
      "properties": {
        "fieldMappings": {
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pythonFunction": {
          "$ref": "PythonFunction",
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format."
        },
        "pythonScript": {
          "description": "Deprecated: Use `python_function` instead.",
          "type": "string",
          "deprecated": true
        },
        "mode": {
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ],
          "description": "Optional. The mode of the data mapping.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ]
        },
        "sourceToolName": {
          "type": "string",
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`"
        }
      },
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "type": "object",
      "id": "WidgetToolDataMapping"
    },
    "DeployChannelResponse": {
      "properties": {
        "deployment": {
          "$ref": "Deployment",
          "description": "The created deployment."
        }
      },
      "type": "object",
      "id": "DeployChannelResponse",
      "description": "Response message for AgentService.DeployChannel."
    },
    "Toolset": {
      "description": "A toolset represents a group of dynamically managed tools that can be used by the agent.",
      "properties": {
        "executionType": {
          "description": "Optional. The execution type of the tools in the toolset.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the toolset. Must be unique within the same app."
        },
        "toolFakeConfig": {
          "description": "Optional. Configuration for tools behavior in fake mode.",
          "$ref": "ToolFakeConfig"
        },
        "connectorToolset": {
          "description": "Optional. A toolset that generates tools from an Integration Connectors Connection.",
          "$ref": "ConnectorToolset"
        },
        "openApiToolset": {
          "description": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema.",
          "$ref": "OpenApiToolset"
        },
        "name": {
          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the toolset."
        },
        "timeout": {
          "description": "Optional. The timeout for the toolset execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` toolsets and 60 seconds for `ASYNCHRONOUS` toolsets.",
          "format": "google-duration",
          "type": "string"
        },
        "mcpToolset": {
          "description": "Optional. A toolset that contains a list of tools that are offered by the MCP server.",
          "$ref": "McpToolset"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the toolset was last updated.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the toolset was created.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Toolset"
    },
    "LanguageSettings": {
      "description": "Language settings of the app.",
      "properties": {
        "fallbackAction": {
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation.",
          "type": "string",
          "deprecated": true
        },
        "enableMultilingualSupport": {
          "type": "boolean",
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input."
        },
        "defaultLanguageCode": {
          "type": "string",
          "description": "Optional. The default language code of the app."
        },
        "supportedLanguageCodes": {
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "LanguageSettings",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "BearerTokenConfig": {
      "id": "BearerTokenConfig",
      "properties": {
        "token": {
          "type": "string",
          "description": "Required. The bearer token. Must be in the format `$context.variables.`."
        }
      },
      "type": "object",
      "description": "Configurations for authentication with a bearer token."
    },
    "TriggerAction": {
      "type": "object",
      "properties": {
        "respondImmediately": {
          "description": "Optional. Immediately respond with a preconfigured response.",
          "$ref": "TriggerActionRespondImmediately"
        },
        "generativeAnswer": {
          "description": "Optional. Respond with a generative answer.",
          "$ref": "TriggerActionGenerativeAnswer"
        },
        "transferAgent": {
          "$ref": "TriggerActionTransferAgent",
          "description": "Optional. Transfer the conversation to a different agent."
        }
      },
      "description": "Action that is taken when a certain precondition is met.",
      "id": "TriggerAction"
    },
    "OutputAudioConfig": {
      "id": "OutputAudioConfig",
      "type": "object",
      "properties": {
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the output audio data.",
          "type": "integer",
          "format": "int32"
        },
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "description": "Required. The encoding of the output audio data.",
          "type": "string"
        }
      },
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses."
    },
    "TlsConfigCaCert": {
      "type": "object",
      "description": "The CA certificate.",
      "properties": {
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        },
        "cert": {
          "type": "string",
          "format": "byte",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```"
        }
      },
      "id": "TlsConfigCaCert"
    },
    "VpcScSettings": {
      "id": "VpcScSettings",
      "properties": {
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "type": "array"
        }
      },
      "description": "VPC-SC settings for the app.",
      "type": "object"
    },
    "TimeZoneSettings": {
      "id": "TimeZoneSettings",
      "description": "TimeZone settings of the app.",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris.",
          "type": "string"
        }
      }
    },
    "ConnectorToolset": {
      "properties": {
        "authConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override"
        },
        "connectorActions": {
          "type": "array",
          "description": "Required. The list of connector actions/entity operations to generate tools for.",
          "items": {
            "$ref": "Action"
          }
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A toolset that generates tools from an Integration Connectors Connection.",
      "id": "ConnectorToolset"
    },
    "Blob": {
      "type": "object",
      "description": "Represents a blob input or output in the conversation.",
      "id": "Blob",
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "Required. Raw bytes of the blob."
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The IANA standard MIME type of the source data."
        }
      }
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "description": "Security settings for the web widget.",
[...]
