{
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "revision": "20260612",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "rootUrl": "https://ces.googleapis.com/",
  "protocol": "rest",
  "baseUrl": "https://ces.googleapis.com/",
  "name": "ces",
  "basePath": "",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "id": "ces:v1beta",
  "version": "v1beta",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://ces.us.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/"
    }
  ],
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "discoveryVersion": "v1",
  "schemas": {
    "GuardrailModelSafety": {
      "properties": {
        "safetySettings": {
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          },
          "description": "Required. List of safety settings.",
          "type": "array"
        }
      },
      "id": "GuardrailModelSafety",
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe.",
      "type": "object"
    },
    "SessionConfig": {
      "properties": {
        "remoteDialogflowQueryParameters": {
          "$ref": "SessionConfigRemoteDialogflowQueryParameters",
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent."
        },
        "enableTextStreaming": {
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession.",
          "type": "boolean"
        },
        "timeZone": {
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\".",
          "type": "string"
        },
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "useToolFakes": {
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools.",
          "type": "boolean"
        },
        "historicalContexts": {
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "deployment": {
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "entryAgent": {
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "id": "SessionConfig",
      "description": "The configuration for the session.",
      "type": "object"
    },
    "DataStore": {
      "id": "DataStore",
      "description": "A DataStore resource in Vertex AI Search.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the data store.",
          "type": "string",
          "readOnly": true
        },
        "connectorConfig": {
          "description": "Output only. The connector config for the data store connection.",
          "readOnly": true,
          "$ref": "DataStoreConnectorConfig"
        },
        "documentProcessingMode": {
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores.",
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ],
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the data store was created.",
          "type": "string"
        }
      }
    },
    "QualityReport": {
      "properties": {
        "issues": {
          "items": {
            "$ref": "QualityReportAgentIssues"
          },
          "description": "Optional. The issues grouped by agent.",
          "type": "array"
        },
        "evaluationRuns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of evaluation runs used to generate the quality report. Format: `projects/{project}/locations/{location}/evaluationRuns/{evaluationRun}`.",
          "type": "array"
        },
        "generalIssues": {
          "items": {
            "$ref": "QualityReportIssue"
          },
          "description": "Optional. General issues not specific to any agent.",
          "type": "array"
        }
      },
      "id": "QualityReport",
      "description": "The report describing any identified quality issues in the app.",
      "type": "object"
    },
    "ScheduledEvaluationRunSchedulingConfig": {
      "id": "ScheduledEvaluationRunSchedulingConfig",
      "description": "Eval scheduling configuration details",
      "type": "object",
      "properties": {
        "daysOfWeek": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Optional. The days of the week to run the eval. Applicable only for Weekly and Biweekly frequencies. 1 is Monday, 2 is Tuesday, ..., 7 is Sunday.",
          "type": "array"
        },
        "frequency": {
          "description": "Required. The frequency with which to run the eval",
          "type": "string",
          "enumDescriptions": [
            "The frequency is unspecified.",
            "Indicates a one-time scheduled run that should not repeat",
            "Run the evaluation daily.",
            "Run the evaluation weekly.",
            "Run the evaluation biweekly."
          ],
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "NONE",
            "DAILY",
            "WEEKLY",
            "BIWEEKLY"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Timestamp when the eval should start.",
          "type": "string"
        }
      }
    },
    "ChannelProfilePersonaProperty": {
      "properties": {
        "persona": {
          "description": "Optional. The persona of the channel.",
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN persona.",
            "The agent keeps the responses concise and to the point",
            "The agent provides additional context, explanations, and details"
          ],
          "enum": [
            "UNKNOWN",
            "CONCISE",
            "CHATTY"
          ]
        }
      },
      "id": "ChannelProfilePersonaProperty",
      "description": "Represents the persona property of a channel.",
      "type": "object"
    },
    "Conversation": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the conversation was completed.",
          "type": "string"
        },
        "source": {
          "description": "Output only. Indicate the source of the conversation.",
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the conversation was created.",
          "type": "string"
        },
        "entryAgent": {
          "readOnly": true,
          "description": "Output only. The agent that initially handles the conversation. If not specified, the conversation is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "inputTypes": {
          "description": "Output only. The input types of the conversation.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified input type.",
              "Text input.",
              "Event input.",
              "Audio input.",
              "Image input.",
              "Blob input.",
              "Client function tool response input.",
              "Variables input."
            ],
            "enum": [
              "INPUT_TYPE_UNSPECIFIED",
              "INPUT_TYPE_TEXT",
              "INPUT_TYPE_EVENT",
              "INPUT_TYPE_AUDIO",
              "INPUT_TYPE_IMAGE",
              "INPUT_TYPE_BLOB",
              "INPUT_TYPE_TOOL_RESPONSE",
              "INPUT_TYPE_VARIABLES"
            ]
          }
        },
        "turns": {
          "description": "Required. The turns in the conversation.",
          "type": "array",
          "items": {
            "$ref": "ConversationTurn"
          }
        },
        "appVersion": {
          "description": "Output only. The version of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string",
          "readOnly": true
        },
        "languageCode": {
          "readOnly": true,
          "description": "Output only. The language code of the conversation.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/conversations/{conversation}`",
          "type": "string"
        },
        "deployment": {
          "readOnly": true,
          "description": "Output only. The deployment of the app used for processing the conversation. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "turnCount": {
          "format": "int32",
          "description": "Output only. The number of turns in the conversation.",
          "type": "integer",
          "readOnly": true
        },
        "channelType": {
          "description": "DEPRECATED. Please use input_types instead.",
          "enumDescriptions": [
            "Unspecified channel type.",
            "The conversation only contains text messages between the end user and the agent.",
            "The conversation contains audio messages between the end user and the agent.",
            "The conversation multi-modal messages (e.g. image) between the end user and the agent."
          ],
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO",
            "MULTIMODAL"
          ],
          "deprecated": true,
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "Deprecated. Use turns instead.",
          "type": "array",
          "deprecated": true
        }
      },
      "id": "Conversation",
      "description": "A conversation represents an interaction between an end user and the CES app.",
      "type": "object"
    },
    "GenerateAppResourceRequestEvaluationPersonasGenerationConfig": {
      "properties": {},
      "id": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig",
      "description": "The configuration to be used to generate the evaluation personas.",
      "type": "object"
    },
    "ErrorHandlingSettingsFallbackResponseConfig": {
      "properties": {
        "customFallbackMessages": {
          "description": "Optional. The fallback messages in case of system errors (e.g. LLM errors), mapped by [supported language code](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/reference/language).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maxFallbackAttempts": {
          "format": "int32",
          "description": "Optional. The maximum number of fallback attempts to make before the agent emitting EndSession Signal.",
          "type": "integer"
        }
      },
      "id": "ErrorHandlingSettingsFallbackResponseConfig",
      "description": "Configuration for handling fallback responses.",
      "type": "object"
    },
    "ImportAppResponse": {
      "properties": {
        "name": {
          "description": "The resource name of the app that was imported.",
          "type": "string"
        },
        "warnings": {
          "description": "Warning messages generated during the import process. If errors occur for specific resources, they will not be included in the imported app and the error will be mentioned here.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ImportAppResponse",
      "description": "Response message for AgentService.ImportApp.",
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds",
      "description": "Settings for golden evaluations.",
      "type": "object",
      "properties": {
        "turnLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. The turn level metrics thresholds."
        },
        "toolMatchingSettings": {
          "description": "Optional. The tool matching settings. An extra tool call is a tool call that is present in the execution but does not match any tool call in the golden expectation.",
          "$ref": "EvaluationMetricsThresholdsToolMatchingSettings"
        },
        "expectationLevelMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. The expectation level metrics thresholds."
        }
      }
    },
    "EvaluationMetricsConfigToolCorrectnessMetricsConfig": {
      "properties": {
        "enableToolCorrectnessMetrics": {
          "description": "Optional. Whether to calculate tool correctness metrics for the evaluation.",
          "type": "boolean"
        }
      },
      "id": "EvaluationMetricsConfigToolCorrectnessMetricsConfig",
      "description": "Configuration for correctness metrics for the evaluation. To disable the metric, set the message but do not set the `enable_tool_correctness_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "type": "object"
    },
    "EvaluationResultScenarioExpectationOutcome": {
      "id": "EvaluationResultScenarioExpectationOutcome",
      "description": "The outcome of a scenario expectation.",
      "type": "object",
      "properties": {
        "observedToolCall": {
          "description": "Output only. The observed tool call.",
          "readOnly": true,
          "$ref": "EvaluationResultScenarioExpectationOutcomeObservedToolCall"
        },
        "outcome": {
          "description": "Output only. The outcome of the ScenarioExpectation.",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "observedAgentResponse": {
          "readOnly": true,
          "$ref": "Message",
          "description": "Output only. The observed agent response."
        },
        "expectation": {
          "description": "Output only. The expectation that was evaluated.",
          "readOnly": true,
          "$ref": "EvaluationScenarioExpectation"
        }
      }
    },
    "EndpointControlPolicy": {
      "properties": {
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enforcementScope": {
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ],
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ]
        }
      },
      "id": "EndpointControlPolicy",
      "description": "Defines project/location level endpoint control policy.",
      "type": "object"
    },
    "AggregatedMetricsMetricsByTurn": {
      "properties": {
        "hallucinationMetrics": {
          "description": "Output only. Metrics for hallucination within this turn.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          }
        },
        "toolMetrics": {
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          },
          "description": "Output only. Metrics for each tool within this turn.",
          "type": "array"
        },
        "semanticSimilarityMetrics": {
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          },
          "description": "Output only. Metrics for semantic similarity within this turn.",
          "type": "array"
        },
        "toolCallLatencyMetrics": {
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          },
          "description": "Output only. Metrics for tool call latency within this turn.",
          "type": "array"
        },
        "turnLatencyMetrics": {
          "description": "Output only. Metrics for turn latency within this turn.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          }
        },
        "turnIndex": {
          "format": "int32",
          "description": "Output only. The turn index (0-based).",
          "type": "integer",
          "readOnly": true
        }
      },
      "id": "AggregatedMetricsMetricsByTurn",
      "description": "Metrics aggregated per turn.",
      "type": "object"
    },
    "ImportEvaluationsRequestConversationList": {
      "properties": {
        "conversations": {
          "description": "Optional. Conversation resource names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ImportEvaluationsRequestConversationList",
      "description": "A list of conversation resource names.",
      "type": "object"
    },
    "EndUserAuthConfig": {
      "properties": {
        "oauth2AuthCodeConfig": {
          "description": "Oauth 2.0 Authorization Code authentication.",
          "$ref": "EndUserAuthConfigOauth2AuthCodeConfig"
        },
        "oauth2JwtBearerConfig": {
          "description": "JWT Profile Oauth 2.0 Authorization Grant authentication.",
          "$ref": "EndUserAuthConfigOauth2JwtBearerConfig"
        }
      },
      "id": "EndUserAuthConfig",
      "description": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`.",
      "type": "object"
    },
    "Span": {
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "Output only. The duration of the span.",
          "type": "string",
          "readOnly": true
        },
        "attributes": {
          "readOnly": true,
          "description": "Output only. Key-value attributes associated with the span.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "startTime": {
          "description": "Output only. The start time of the span.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The end time of the span.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The name of the span.",
          "type": "string",
          "readOnly": true
        },
        "childSpans": {
          "description": "Output only. The child spans that are nested under this span.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Span"
          }
        }
      },
      "id": "Span",
      "description": "A span is a unit of work or a single operation during the request processing.",
      "type": "object"
    },
    "ConversationLoggingSettings": {
      "id": "ConversationLoggingSettings",
      "description": "Settings to describe the conversation logging behaviors for the app.",
      "type": "object",
      "properties": {
        "disableConversationLogging": {
          "description": "Optional. Whether to disable conversation logging for the sessions.",
          "type": "boolean"
        },
        "retentionWindow": {
          "format": "google-duration",
          "description": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days.",
          "type": "string"
        }
      }
    },
    "DataStoreSettings": {
      "properties": {
        "engines": {
          "readOnly": true,
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "description": "Output only. The engines for the app.",
          "type": "array"
        }
      },
      "id": "DataStoreSettings",
      "description": "Data store related settings for the app.",
      "type": "object"
    },
    "OptimizationConfig": {
      "id": "OptimizationConfig",
      "description": "Configuration for running the optimization step after the evaluation run.",
      "type": "object",
      "properties": {
        "generateLossReport": {
          "description": "Optional. Whether to generate a loss report.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Output only. The error message if the optimization run failed.",
          "type": "string",
          "readOnly": true
        },
        "assistantSession": {
          "description": "Output only. The assistant session to use for the optimization based on this evaluation run. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistantSession}`",
          "type": "string",
          "readOnly": true
        },
        "shouldSuggestFix": {
          "description": "Output only. Whether to suggest a fix for the losses.",
          "type": "boolean",
          "readOnly": true
        },
        "lossReport": {
          "description": "Output only. The generated loss report.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true
        },
        "reportSummary": {
          "description": "Output only. The summary of the loss report.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the optimization run.",
          "enumDescriptions": [
            "Optimization status is not specified.",
            "Optimization is running.",
            "Optimization has completed.",
            "Optimization failed due to an internal error."
          ],
          "enum": [
            "OPTIMIZATION_STATUS_UNSPECIFIED",
            "RUNNING",
            "COMPLETED",
            "ERROR"
          ]
        }
      }
    },
    "Action": {
      "properties": {
        "inputFields": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used.",
          "type": "array"
        },
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        },
        "connectionActionId": {
          "description": "ID of a Connection action for the tool to use.",
          "type": "string"
        },
        "outputFields": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "type": "array"
        }
      },
      "id": "Action",
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details.",
      "type": "object"
    },
    "EvaluationScenarioExpectation": {
      "properties": {
        "toolExpectation": {
          "$ref": "EvaluationScenarioExpectationToolExpectation",
          "description": "Optional. The tool call and response pair to be evaluated."
        },
        "agentResponse": {
          "description": "Optional. The agent response to be evaluated.",
          "$ref": "Message"
        }
      },
      "id": "EvaluationScenarioExpectation",
      "description": "The expectation to evaluate the conversation produced by the simulation.",
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "properties": {
        "semanticSimilaritySuccessThreshold": {
          "format": "int32",
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3.",
          "type": "integer"
        },
        "overallToolInvocationCorrectnessThreshold": {
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0.",
          "type": "number",
          "format": "float"
        },
        "semanticSimilarityChannel": {
          "description": "Optional. The semantic similarity channel to use for evaluation.",
          "type": "string",
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ],
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ]
        }
      },
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
      "description": "Turn level metrics thresholds.",
      "type": "object"
    },
    "AppSnapshot": {
      "properties": {
        "agents": {
          "description": "Optional. List of agents in the app.",
          "type": "array",
          "items": {
            "$ref": "Agent"
          }
        },
        "examples": {
          "items": {
            "$ref": "Example"
          },
          "description": "Optional. List of examples in the app.",
          "type": "array"
        },
        "guardrails": {
          "items": {
            "$ref": "Guardrail"
          },
          "description": "Optional. List of guardrails in the app.",
          "type": "array"
        },
        "tools": {
          "description": "Optional. List of tools in the app.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "toolsets": {
          "description": "Optional. List of toolsets in the app.",
          "type": "array",
          "items": {
            "$ref": "Toolset"
          }
        },
        "app": {
          "$ref": "App",
          "description": "Optional. The basic settings for the app."
        }
      },
      "id": "AppSnapshot",
      "description": "A snapshot of the app.",
      "type": "object"
    },
    "ApiKeyConfig": {
      "id": "ApiKeyConfig",
      "description": "Configurations for authentication with API key.",
      "type": "object",
      "properties": {
        "apiKeySecretVersion": {
          "description": "Required. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "keyName": {
          "description": "Required. The parameter name or the header name of the API key. E.g., If the API request is \"https://example.com/act?X-Api-Key=\", \"X-Api-Key\" would be the parameter name.",
          "type": "string"
        },
        "requestLocation": {
          "description": "Required. Key location in the request.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value should not be used.",
            "Represents the key in http header.",
            "Represents the key in query string."
          ],
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ]
        }
      }
    },
    "ListChangelogsResponse": {
      "properties": {
        "changelogs": {
          "items": {
            "$ref": "Changelog"
          },
          "description": "The list of changelogs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListChangelogsResponse",
      "description": "Response message for AgentService.ListChangelogs.",
      "type": "object"
    },
    "GenerateAppResourceResponseGenerateResultInfo": {
      "properties": {
        "explanation": {
          "description": "An explanation of the changes in the generated resource.",
          "type": "string"
        }
      },
      "id": "GenerateAppResourceResponseGenerateResultInfo",
      "description": "This provides additional information about the generated result.",
      "type": "object"
    },
    "EvaluationStep": {
      "id": "EvaluationStep",
      "description": "A step defines a singular action to happen during the evaluation.",
      "type": "object",
      "properties": {
        "agentTransfer": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "AgentTransfer"
        },
        "userInput": {
          "$ref": "SessionInput",
          "description": "Optional. User input for the conversation."
        },
        "expectation": {
          "$ref": "EvaluationGoldenExpectation",
          "description": "Optional. Executes an expectation on the current turn."
        }
      }
    },
    "ErrorHandlingSettings": {
      "id": "ErrorHandlingSettings",
      "description": "Settings to describe how errors should be handled in the app.",
      "type": "object",
      "properties": {
        "errorHandlingStrategy": {
          "description": "Optional. The strategy to use for error handling.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ],
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ]
        },
        "fallbackResponseConfig": {
          "description": "Optional. Configuration for handling fallback responses.",
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig"
        },
        "endSessionConfig": {
          "$ref": "ErrorHandlingSettingsEndSessionConfig",
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors)."
        }
      }
    },
    "ConnectorTool": {
      "id": "ConnectorTool",
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "type": "object",
      "properties": {
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details.",
          "$ref": "EndUserAuthConfig"
        },
        "description": {
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "action": {
          "description": "Required. Action for the tool to use.",
          "$ref": "Action"
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        }
      }
    },
    "DataStoreToolSummarizationConfig": {
      "id": "DataStoreToolSummarizationConfig",
      "description": "Summarization configuration.",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "disabled": {
          "description": "Optional. Whether summarization is disabled.",
          "type": "boolean"
        }
      }
    },
    "TransferRuleDisablePlannerTransfer": {
      "id": "TransferRuleDisablePlannerTransfer",
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "type": "object",
      "properties": {
        "expressionCondition": {
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent.",
          "$ref": "ExpressionCondition"
        }
      }
    },
    "ListToolsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "tools": {
          "description": "The list of tools.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        }
      },
      "id": "ListToolsResponse",
      "description": "Response message for AgentService.ListTools.",
      "type": "object"
    },
    "Example": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the example was created.",
          "type": "string",
          "readOnly": true
        },
        "invalid": {
          "readOnly": true,
          "description": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Human-readable description of the example.",
          "type": "string"
        },
        "entryAgent": {
          "description": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the example.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
          "type": "string"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "messages": {
          "description": "Optional. The collection of messages that make up the conversation.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the example was last updated.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Example",
      "description": "An example represents a sample conversation between the user and the agent(s).",
      "type": "object"
    },
    "ScheduledEvaluationRun": {
      "id": "ScheduledEvaluationRun",
      "description": "Represents a scheduled evaluation run configuration.",
      "type": "object",
      "properties": {
        "totalExecutions": {
          "format": "int32",
          "description": "Output only. The total number of times this run has been executed",
          "type": "integer",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the scheduled evaluation run config. Format: projects/{projectId}/locations/{locationId}/apps/{appId}/scheduledEvaluationRuns/{scheduledEvaluationRunId}",
          "type": "string"
        },
        "nextScheduledExecutionTime": {
          "readOnly": true,
          "description": "Output only. The next time this is scheduled to execute",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Timestamp when the scheduled evaluation run was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createdBy": {
          "description": "Output only. The user who created the scheduled evaluation run.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-defined description of the scheduled evaluation run.",
          "type": "string"
        },
        "lastUpdatedBy": {
          "readOnly": true,
          "description": "Output only. The user who last updated the evaluation.",
          "type": "string"
        },
        "schedulingConfig": {
          "$ref": "ScheduledEvaluationRunSchedulingConfig",
          "description": "Required. Configuration for the timing and frequency with which to execute the evaluations."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the evaluation was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. User-defined display name of the scheduled evaluation run config.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "request": {
          "$ref": "RunEvaluationRequest",
          "description": "Required. The RunEvaluationRequest to schedule"
        },
        "lastCompletedRun": {
          "readOnly": true,
          "description": "Output only. The last successful EvaluationRun of this scheduled execution. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`",
          "type": "string"
        },
        "active": {
          "description": "Optional. Whether this config is active",
          "type": "boolean"
        }
      }
    },
    "ToolsetTool": {
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolId": {
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for.",
          "type": "string"
        }
      },
      "id": "ToolsetTool",
      "description": "A tool that is created from a toolset.",
      "type": "object"
    },
    "ImportEvaluationsRequestImportOptions": {
      "id": "ImportEvaluationsRequestImportOptions",
      "description": "Configuration options for the evaluation import process. These options control how the import behaves, particularly when conflicts arise with existing evaluations data.",
      "type": "object",
      "properties": {
        "conflictResolutionStrategy": {
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "type": "string",
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Overwrite the existing evaluation with the new one.",
            "Keep the existing evaluation and skip the new one.",
            "Keep the existing evaluation and duplicate the new one as a new evaluation."
          ],
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "OVERWRITE",
            "SKIP",
            "DUPLICATE"
          ]
        }
      }
    },
    "VpcScSettings": {
      "properties": {
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "type": "array"
        }
      },
      "id": "VpcScSettings",
      "description": "VPC-SC settings for the app.",
      "type": "object"
    },
    "ImportAppRequest": {
      "properties": {
        "importOptions": {
          "description": "Optional. Options governing the import process for the app.",
          "$ref": "ImportAppRequestImportOptions"
        },
        "ignoreAppLock": {
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock.",
          "type": "boolean"
        },
        "appId": {
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced.",
          "type": "string"
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "appContent": {
          "format": "byte",
          "description": "Raw bytes representing the compressed zip file with the app folder structure.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error.",
          "type": "string"
        }
      },
      "id": "ImportAppRequest",
      "description": "Request message for AgentService.ImportApp.",
      "type": "object"
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "properties": {
        "webhookHeaders": {
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "endUserMetadata": {
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "SessionConfigRemoteDialogflowQueryParameters",
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "type": "object"
    },
    "AggregatedMetricsToolMetrics": {
      "properties": {
        "tool": {
          "readOnly": true,
          "description": "Output only. The name of the tool.",
          "type": "string"
        },
        "failCount": {
          "readOnly": true,
          "description": "Output only. The number of times the tool failed.",
          "type": "integer",
          "format": "int32"
        },
        "passCount": {
          "description": "Output only. The number of times the tool passed.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "id": "AggregatedMetricsToolMetrics",
      "description": "Metrics for a single tool.",
      "type": "object"
    },
    "Chunk": {
      "properties": {
        "transcript": {
          "description": "Optional. Transcript associated with the audio.",
          "type": "string"
        },
        "toolCall": {
          "description": "Optional. Tool execution request.",
          "$ref": "ToolCall"
        },
        "blob": {
          "description": "Optional. Blob data.",
          "$ref": "Blob"
        },
        "image": {
          "$ref": "Image",
          "description": "Optional. Image data."
        },
        "agentTransfer": {
          "description": "Optional. Agent transfer event.",
          "$ref": "AgentTransfer"
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "defaultVariables": {
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolResponse": {
          "description": "Optional. Tool execution response.",
          "$ref": "ToolResponse"
        },
        "payload": {
          "description": "Optional. Custom payload data.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "updatedVariables": {
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "Chunk",
      "description": "A chunk of content within a message.",
      "type": "object"
    },
    "EvaluationResultScenarioExpectationOutcomeObservedToolCall": {
      "properties": {
        "toolResponse": {
          "description": "Output only. The observed tool response.",
          "readOnly": true,
          "$ref": "ToolResponse"
        },
        "toolCall": {
          "readOnly": true,
          "$ref": "ToolCall",
          "description": "Output only. The observed tool call."
        }
      },
      "id": "EvaluationResultScenarioExpectationOutcomeObservedToolCall",
      "description": "The observed tool call and response.",
      "type": "object"
    },
    "BargeInConfig": {
      "id": "BargeInConfig",
      "description": "Configuration for how the user barge-in activities should be handled.",
      "type": "object",
      "properties": {
        "disableBargeIn": {
          "deprecated": true,
          "description": "Optional. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile.",
          "type": "boolean"
        },
        "bargeInAwareness": {
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually.",
          "type": "boolean"
        }
      }
    },
    "Agent": {
      "id": "Agent",
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Configurations for the LLM model."
        },
        "guardrails": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "array"
        },
        "transferRules": {
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "type": "array",
          "items": {
            "$ref": "TransferRule"
          }
        },
        "description": {
          "description": "Optional. Human-readable description of the agent.",
          "type": "string"
        },
        "generatedSummary": {
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "type": "string",
          "readOnly": true
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        },
        "createTime": {
          "description": "Output only. Timestamp when the agent was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "validationErrors": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "type": "array"
        },
        "beforeModelCallbacks": {
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "llmAgent": {
          "$ref": "AgentLlmAgent",
          "description": "Optional. The default agent type."
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the agent was last updated.",
          "type": "string"
        },
        "tools": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "array"
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "toolsets": {
          "description": "Optional. List of toolsets for the agent.",
          "type": "array",
          "items": {
            "$ref": "AgentAgentToolset"
          }
        },
        "childAgents": {
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. Display name of the agent.",
          "type": "string"
        },
        "afterAgentCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "beforeToolCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "afterToolCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "afterModelCallbacks": {
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "beforeAgentCallbacks": {
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        }
      }
    },
    "DataStoreToolBoostSpec": {
      "id": "DataStoreToolBoostSpec",
      "description": "Boost specification to boost certain documents.",
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpec"
          },
          "description": "Required. A list of boosting specifications.",
          "type": "array"
        }
      }
    },
    "EvaluationResultSemanticSimilarityResult": {
      "properties": {
        "score": {
          "readOnly": true,
          "description": "Output only. The semantic similarity score. Can be 0, 1, 2, 3, or 4.",
          "type": "integer",
          "format": "int32"
        },
        "outcome": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The outcome of the semantic similarity check. This is determined by comparing the score to the semantic_similarity_success_threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ]
        },
        "explanation": {
          "description": "Output only. The explanation for the semantic similarity score.",
          "type": "string",
          "readOnly": true
        },
        "label": {
          "description": "Output only. The label associated with each score. Score 4: Fully Consistent Score 3: Mostly Consistent Score 2: Partially Consistent (Minor Omissions) Score 1: Largely Inconsistent (Major Omissions) Score 0: Completely Inconsistent / Contradictory",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "EvaluationResultSemanticSimilarityResult",
      "description": "The result of the semantic similarity check.",
      "type": "object"
    },
    "EvaluationResultEvaluationExpectationResult": {
      "id": "EvaluationResultEvaluationExpectationResult",
      "description": "The result of a single evaluation expectation.",
      "type": "object",
      "properties": {
        "prompt": {
          "readOnly": true,
          "description": "Output only. The prompt that was used for the evaluation.",
          "type": "string"
        },
        "evaluationExpectation": {
          "readOnly": true,
          "description": "Output only. The evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`",
          "type": "string"
        },
        "explanation": {
          "readOnly": true,
          "description": "Output only. The explanation for the result.",
          "type": "string"
        },
        "outcome": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The outcome of the evaluation expectation.",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ]
        }
      }
    },
    "EvaluationScenarioExpectationToolExpectation": {
      "id": "EvaluationScenarioExpectationToolExpectation",
      "description": "The tool call and response pair to be evaluated.",
      "type": "object",
      "properties": {
        "expectedToolCall": {
          "description": "Required. The expected tool call, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM.",
          "$ref": "ToolCall"
        },
        "mockToolResponse": {
          "$ref": "ToolResponse",
          "description": "Required. The tool response to mock, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM."
        }
      }
    },
    "TimeZoneSettings": {
      "id": "TimeZoneSettings",
      "description": "TimeZone settings of the app.",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris.",
          "type": "string"
        }
      }
    },
    "EvaluationResultUserGoalSatisfactionResult": {
      "id": "EvaluationResultUserGoalSatisfactionResult",
      "description": "The result of a user goal satisfaction check for a conversation.",
      "type": "object",
      "properties": {
        "label": {
          "description": "Output only. The label associated with each score. Score 1: User Task Satisfied Score 0: User Task Not Satisfied Score -1: User Task Unspecified",
          "type": "string",
          "readOnly": true
        },
        "explanation": {
          "readOnly": true,
          "description": "Output only. The explanation for the user task satisfaction score.",
          "type": "string"
        },
        "score": {
          "readOnly": true,
          "description": "Output only. The user task satisfaction score. Can be -1, 0, 1.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AgentAgentToolset": {
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolIds": {
          "description": "Optional. The tools IDs to filter the toolset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AgentAgentToolset",
      "description": "A toolset with a selection of its tools.",
      "type": "object"
    },
    "EvaluationResultScenarioRubricOutcome": {
      "id": "EvaluationResultScenarioRubricOutcome",
      "description": "The outcome of the evaluation against the rubric.",
      "type": "object",
      "properties": {
        "rubric": {
          "description": "Output only. The rubric that was used to evaluate the conversation.",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "format": "float",
          "description": "Output only. The score of the conversation against the rubric.",
          "type": "number",
          "readOnly": true
        },
        "scoreExplanation": {
          "description": "Output only. The rater's response to the rubric.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "FileSearchTool": {
      "id": "FileSearchTool",
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The tool name.",
          "type": "string"
        },
        "corpusType": {
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ]
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        },
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        }
      }
    },
    "ImportEvaluationsRequest": {
      "id": "ImportEvaluationsRequest",
      "description": "Request message for EvaluationService.ImportEvaluations.",
      "type": "object",
      "properties": {
        "csvContent": {
          "format": "byte",
          "description": "Raw bytes representing the csv file with the evaluations structure.",
          "type": "string"
        },
        "importOptions": {
          "$ref": "ImportEvaluationsRequestImportOptions",
          "description": "Optional. Options governing the import process for the evaluations."
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import evaluations. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "conversationList": {
          "$ref": "ImportEvaluationsRequestConversationList",
          "description": "The conversations to import the evaluations from."
        }
      }
    },
    "EvaluationGolden": {
      "properties": {
        "turns": {
          "items": {
            "$ref": "EvaluationGoldenTurn"
          },
          "description": "Required. The golden turns required to replay a golden conversation.",
          "type": "array"
        },
        "evaluationExpectations": {
          "description": "Optional. The evaluation expectations to evaluate the replayed conversation against. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluationExpectation}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EvaluationGolden",
      "description": "The steps required to replay a golden conversation.",
      "type": "object"
    },
    "TestPersonaVoiceRequest": {
      "properties": {
        "text": {
          "description": "Required. The text to test the voice for.",
          "type": "string"
        },
        "personaId": {
          "description": "Required. The persona ID to test the voice for. Also accepts \"default\".",
          "type": "string"
        }
      },
      "id": "TestPersonaVoiceRequest",
      "description": "Request message for EvaluationService.TestPersonaVoice.",
      "type": "object"
    },
    "EvaluationMetricsConfigHallucinationMetricsConfig": {
      "properties": {
        "enableHallucinationMetrics": {
          "description": "Optional. Whether to calculate hallucination metrics for the evaluation.",
          "type": "boolean"
        }
      },
      "id": "EvaluationMetricsConfigHallucinationMetricsConfig",
      "description": "Configuration for the hallucination metrics for the evaluation. To disable the metric, set the message but do not set the `enable_hallucination_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "type": "object"
    },
    "EvaluationResultOverallToolInvocationResult": {
      "properties": {
        "toolInvocationScore": {
          "description": "The overall tool invocation score for this turn. This indicates the overall percent of tools from the expected turn that were actually invoked.",
          "type": "number",
          "format": "float"
        },
        "outcome": {
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the tool_invocation_score to the overall_tool_invocation_correctness_threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "EvaluationResultOverallToolInvocationResult",
      "description": "The result of the overall tool invocation check.",
      "type": "object"
    },
    "EvaluationMetricsConfigGoldenMetricsConfig": {
      "id": "EvaluationMetricsConfigGoldenMetricsConfig",
      "description": "Configuration for the golden metrics for the evaluation.",
      "type": "object",
      "properties": {
        "toolCorrectnessMetricsConfig": {
          "description": "Optional. Configuration for turn level tool correctness metrics.",
          "$ref": "EvaluationMetricsConfigToolCorrectnessMetricsConfig"
        },
        "semanticSimilarityMetricsConfig": {
          "$ref": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig",
          "description": "Optional. Global configuration for semantic similarity metrics."
        },
        "stepToolCorrectnessMetricsConfig": {
          "description": "Optional. Configuration for step level tool correctness metrics.",
          "$ref": "EvaluationMetricsConfigToolCorrectnessMetricsConfig"
        }
      }
    },
    "Blob": {
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation.",
      "type": "object"
    },
    "SystemTool": {
      "id": "SystemTool",
      "description": "Pre-defined system tool.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the system tool.",
          "type": "string"
        },
        "description": {
          "description": "Output only. The description of the system tool.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OutputAudioConfig": {
      "properties": {
        "audioEncoding": {
          "description": "Required. The encoding of the output audio data.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ]
        },
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the output audio data.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "OutputAudioConfig",
      "description": "OutputAudioConfig configures how the CES agent should synthesize outgoing audio responses.",
      "type": "object"
    },
    "AgentTool": {
      "properties": {
        "name": {
          "description": "Required. The name of the agent tool.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "rootAgent": {
          "description": "Optional. Deprecated: Use `agent` instead. The resource name of the root agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string",
          "deprecated": true
        },
        "agent": {
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        }
      },
      "id": "AgentTool",
      "description": "Represents a tool that allows the agent to call another agent.",
      "type": "object"
    },
    "ListEvaluationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations.",
          "type": "array"
        }
      },
      "id": "ListEvaluationsResponse",
      "description": "Response message for EvaluationService.ListEvaluations.",
      "type": "object"
    },
    "ListConversationsResponse": {
      "id": "ListConversationsResponse",
      "description": "Response message for AgentService.ListConversations.",
      "type": "object",
      "properties": {
        "conversations": {
          "items": {
            "$ref": "Conversation"
          },
          "description": "The list of conversations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListConversationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SecuritySettings": {
      "id": "SecuritySettings",
      "description": "Project/Location level security settings for CES.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag of the security settings.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the security settings.",
          "type": "string",
          "readOnly": true
        },
        "endpointControlPolicy": {
          "$ref": "EndpointControlPolicy",
          "description": "Optional. Endpoint control related settings."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last update time of the security settings.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleSearchTool": {
      "id": "GoogleSearchTool",
      "description": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "promptConfig": {
          "$ref": "GoogleSearchToolPromptConfig",
          "description": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice."
        },
        "excludeDomains": {
          "description": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contextUrls": {
          "description": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "preferredDomains": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified.",
          "type": "array"
        }
      }
    },
    "EvaluationGoldenTurn": {
      "id": "EvaluationGoldenTurn",
      "description": "A golden turn defines a single turn in a golden conversation.",
      "type": "object",
      "properties": {
        "hallucinationMetricBehaviorOverride": {
          "description": "Optional. Override for turn-level hallucination metric behavior.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "steps": {
          "items": {
            "$ref": "EvaluationStep"
          },
          "description": "Required. The steps required to replay a golden conversation.",
          "type": "array"
        },
        "turnLevelMetricsThresholdsOverride": {
          "description": "Optional. Overrides for turn-level metric thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds"
        },
        "rootSpan": {
          "description": "Optional. The root span of the golden turn for processing and maintaining audio information. The uri for the audio must contain audio saved in 16Khz sample rate.",
          "$ref": "Span"
        }
      }
    },
    "ChannelProfile": {
      "properties": {
        "webWidgetConfig": {
          "$ref": "ChannelProfileWebWidgetConfig",
          "description": "Optional. The configuration for the web widget."
        },
        "profileId": {
          "description": "Optional. The unique identifier of the channel profile.",
          "type": "string"
        },
        "channelType": {
          "description": "Optional. The type of the channel profile.",
          "type": "string",
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Five9 channel.",
            "Third party contact center integration channel."
          ],
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION"
          ]
        },
        "personaProperty": {
          "$ref": "ChannelProfilePersonaProperty",
          "description": "Optional. The persona property of the channel profile."
        },
        "noiseSuppressionLevel": {
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "disableDtmf": {
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency).",
          "type": "boolean"
        },
        "disableBargeInControl": {
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt.",
          "type": "boolean"
        }
      },
      "id": "ChannelProfile",
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony.",
      "type": "object"
    },
    "ExecuteToolResponse": {
      "id": "ExecuteToolResponse",
      "description": "Response message for ToolService.ExecuteTool.",
      "type": "object",
      "properties": {
        "tool": {
          "description": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "string"
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "The toolset tool that got executed."
        },
        "response": {
          "description": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "variables": {
          "description": "The variable values at the end of the tool execution.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ExpressionCondition": {
      "id": "ExpressionCondition",
      "description": "Expression condition based on session state.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Required. The string representation of cloud.api.Expression condition.",
          "type": "string"
        }
      }
    },
    "AudioRecordingConfig": {
      "id": "AudioRecordingConfig",
      "description": "Configuration for how the audio interactions should be recorded.",
      "type": "object",
      "properties": {
        "gcsBucket": {
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "gcsPathPrefix": {
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used.",
          "type": "string"
        }
      }
    },
    "Deployment": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        },
        "experimentConfig": {
          "description": "Optional. Experiment configuration for the deployment.",
          "$ref": "ExperimentConfig"
        },
        "displayName": {
          "description": "Required. Display name of the deployment.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was last updated.",
          "type": "string",
          "readOnly": true
        },
        "appVersion": {
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was created.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Deployment",
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "type": "object"
    },
    "QualityReportAgentIssues": {
      "properties": {
        "agent": {
          "description": "Optional. The name of the agent to which the issues are related. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "issues": {
          "description": "Optional. List of issues found for this agent.",
          "type": "array",
          "items": {
            "$ref": "QualityReportIssue"
          }
        }
      },
      "id": "QualityReportAgentIssues",
      "description": "Issues identified for a single agent.",
      "type": "object"
    },
    "LfA2aV1AuthenticationInfo": {
      "id": "LfA2aV1AuthenticationInfo",
      "description": "Defines authentication details, used for push notifications.",
      "type": "object",
      "properties": {
        "credentials": {
          "description": "Push Notification credentials. Format depends on the scheme (e.g., token for Bearer).",
          "type": "string"
        },
        "scheme": {
          "description": "Required. HTTP Authentication Scheme from the [IANA registry](https://www.iana.org/assignments/http-authschemes/). Examples: `Bearer`, `Basic`, `Digest`. Scheme names are case-insensitive per [RFC 9110 Section 11.1](https://www.rfc-editor.org/rfc/rfc9110#section-11.1).",
          "type": "string"
        }
      }
    },
    "MetricAnalysisSettings": {
      "id": "MetricAnalysisSettings",
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline.",
      "type": "object",
      "properties": {
        "llmMetricsOptedOut": {
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected.",
          "type": "boolean"
        }
      }
    },
    "EvaluationResultGoldenResult": {
      "properties": {
        "turnReplayResults": {
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultGoldenResultTurnReplayResult"
          },
          "description": "Output only. The result of running each turn of the golden conversation.",
          "type": "array"
        },
        "evaluationExpectationResults": {
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultEvaluationExpectationResult"
          },
          "description": "Output only. The results of the evaluation expectations.",
          "type": "array"
        }
      },
      "id": "EvaluationResultGoldenResult",
      "description": "The result of a golden evaluation.",
      "type": "object"
    },
    "GenerateChatTokenRequest": {
      "properties": {
        "liveHandoffEnabled": {
          "description": "Optional. Indicates if live handoff is enabled for the session.",
          "type": "boolean"
        },
        "deployment": {
          "description": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Optional. The reCAPTCHA token generated by the client-side chat widget.",
          "type": "string"
        }
      },
      "id": "GenerateChatTokenRequest",
      "description": "Request message for WidgetService.GenerateChatToken.",
      "type": "object"
    },
    "EndUserAuthConfigOauth2JwtBearerConfig": {
      "id": "EndUserAuthConfigOauth2JwtBearerConfig",
      "description": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration.",
      "type": "object",
      "properties": {
        "subject": {
          "description": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "clientKey": {
          "description": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        },
        "issuer": {
          "description": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      }
    },
    "DataStoreToolBoostSpecs": {
      "properties": {
[...]
