{
  "batchPath": "batch",
  "version_module": true,
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "basePath": "",
  "title": "Gemini Enterprise for Customer Experience API",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "endpoints": [
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "id": "ces:v1",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    }
  },
  "rootUrl": "https://ces.googleapis.com/",
  "canonicalName": "Customer Engagement Suite",
  "ownerName": "Google",
  "name": "ces",
  "version": "v1",
  "schemas": {
    "GuardrailModelSafetySafetySetting": {
      "description": "Safety setting.",
      "properties": {
        "threshold": {
          "description": "Required. The harm block threshold.",
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ]
        },
        "category": {
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_PROFANITY",
            "HARM_CATEGORY_TOXIC"
          ],
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is profanity.",
            "The harm category is toxic."
          ],
          "type": "string",
          "description": "Required. The harm category."
        }
      },
      "id": "GuardrailModelSafetySafetySetting",
      "type": "object"
    },
    "Guardrail": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether the guardrail is enabled."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "llmPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
        },
        "contentFilter": {
          "$ref": "GuardrailContentFilter",
          "description": "Optional. Guardrail that bans certain content from being used in the conversation."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the guardrail."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the guardrail was created.",
          "readOnly": true
        },
        "action": {
          "description": "Optional. Action to take when the guardrail is triggered.",
          "$ref": "TriggerAction"
        },
        "llmPromptSecurity": {
          "$ref": "GuardrailLlmPromptSecurity",
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the guardrail."
        },
        "supervisor": {
          "description": "Optional. Guardrail that runs supervisor intervention.",
          "$ref": "GuardrailSupervisor"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "name": {
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "type": "string"
        },
        "modelSafety": {
          "$ref": "GuardrailModelSafety",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings."
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        }
      },
      "type": "object",
      "id": "Guardrail",
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure."
    },
    "TlsConfigCaCert": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        },
        "cert": {
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "The CA certificate.",
      "id": "TlsConfigCaCert"
    },
    "Callback": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Human-readable description of the callback.",
          "type": "string"
        },
        "pythonCode": {
          "type": "string",
          "description": "Required. The python code to execute for the callback."
        },
        "disabled": {
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent.",
          "type": "boolean"
        },
        "proactiveExecutionEnabled": {
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations.",
          "type": "boolean"
        }
      },
      "id": "Callback",
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction."
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "ErrorHandlingSettingsEndSessionConfig": {
      "description": "Configuration for ending the session in case of system errors (e.g. LLM errors).",
      "type": "object",
      "id": "ErrorHandlingSettingsEndSessionConfig",
      "properties": {
        "escalateSession": {
          "description": "Optional. Whether to escalate the session in EndSession. If session is escalated, metadata in EndSession will contain `session_escalated = true`. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/deploy/google-telephony-platform#transfer_a_call_to_a_human_agent for details.",
          "type": "boolean"
        }
      }
    },
    "LfA2aV1AgentProvider": {
      "id": "LfA2aV1AgentProvider",
      "type": "object",
      "properties": {
        "url": {
          "description": "Required. A URL for the agent provider's website or relevant documentation. Example: \"https://ai.google.dev\"",
          "type": "string"
        },
        "organization": {
          "description": "Required. The name of the agent provider's organization. Example: \"Google\"",
          "type": "string"
        }
      },
      "description": "Represents the service provider of an agent."
    },
    "Message": {
      "type": "object",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when the message was sent or received. Should not be used if the message is part of an example.",
          "type": "string"
        },
        "chunks": {
          "items": {
            "$ref": "Chunk"
          },
          "description": "Optional. Content of the message as a series of chunks.",
          "type": "array"
        },
        "role": {
          "description": "Optional. The role within the conversation, e.g., user, agent.",
          "type": "string"
        }
      },
      "id": "Message",
      "description": "A message within a conversation."
    },
    "LfA2aV1AuthenticationInfo": {
      "description": "Defines authentication details, used for push notifications.",
      "type": "object",
      "properties": {
        "scheme": {
          "description": "Required. HTTP Authentication Scheme from the [IANA registry](https://www.iana.org/assignments/http-authschemes/). Examples: `Bearer`, `Basic`, `Digest`. Scheme names are case-insensitive per [RFC 9110 Section 11.1](https://www.rfc-editor.org/rfc/rfc9110#section-11.1).",
          "type": "string"
        },
        "credentials": {
          "type": "string",
          "description": "Push Notification credentials. Format depends on the scheme (e.g., token for Bearer)."
        }
      },
      "id": "LfA2aV1AuthenticationInfo"
    },
    "RunSessionResponse": {
      "type": "object",
      "properties": {
        "outputs": {
          "description": "Outputs for the session.",
          "type": "array",
          "items": {
            "$ref": "SessionOutput"
          }
        }
      },
      "description": "Response message for SessionService.RunSession.",
      "id": "RunSessionResponse"
    },
    "TriggerActionTransferAgent": {
      "id": "TriggerActionTransferAgent",
      "type": "object",
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "description": "The agent will transfer the conversation to a different agent."
    },
    "ErrorHandlingSettings": {
      "type": "object",
      "description": "Settings to describe how errors should be handled in the app.",
      "properties": {
        "endSessionConfig": {
          "description": "Optional. Configuration for ending the session in case of system errors (e.g. LLM errors).",
          "$ref": "ErrorHandlingSettingsEndSessionConfig"
        },
        "fallbackResponseConfig": {
          "description": "Optional. Configuration for handling fallback responses.",
          "$ref": "ErrorHandlingSettingsFallbackResponseConfig"
        },
        "errorHandlingStrategy": {
          "enumDescriptions": [
            "Unspecified error handling strategy.",
            "No specific handling is enabled.",
            "A fallback message will be returned to the user in case of system errors (e.g. LLM errors).",
            "An EndSession signal will be emitted in case of system errors (e.g. LLM errors)."
          ],
          "description": "Optional. The strategy to use for error handling.",
          "type": "string",
          "enum": [
            "ERROR_HANDLING_STRATEGY_UNSPECIFIED",
            "NONE",
            "FALLBACK_RESPONSE",
            "END_SESSION"
          ]
        }
      },
      "id": "ErrorHandlingSettings"
    },
    "CustomVoiceSample": {
      "properties": {
        "voiceInstruction": {
          "type": "string",
          "description": "Optional. Natural language instructions for voice style, tone, pacing, or pronunciation."
        },
        "voiceSampleGcsUri": {
          "description": "Optional. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file.",
          "type": "string"
        },
        "previewAudioContent": {
          "readOnly": true,
          "description": "Output only. Synthesized preview audio for custom voice, formatted as canonical WAV (LINEAR16, 24kHz, 16-bit, mono).",
          "type": "string",
          "format": "byte"
        },
        "consentAudioGcsUri": {
          "description": "Optional. Consent audio for voice cloning.",
          "type": "string"
        },
        "previewText": {
          "type": "string",
          "description": "Optional. Text for synthesizing preview audio for custom voice."
        },
        "name": {
          "description": "Optional. The user-defined name for the custom voice sample.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for a custom voice sample used for voice cloning.",
      "id": "CustomVoiceSample"
    },
    "SessionInput": {
      "id": "SessionInput",
      "type": "object",
      "description": "Input for the session.",
      "properties": {
        "variables": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "type": "object"
        },
        "toolResponses": {
          "description": "Optional. Execution results for the tool calls from the client.",
          "$ref": "ToolResponses"
        },
        "blob": {
          "$ref": "Blob",
          "description": "Optional. Blob data from the end user."
        },
        "dtmf": {
          "description": "Optional. DTMF digits from the end user.",
          "type": "string"
        },
        "audio": {
          "description": "Optional. Audio data from the end user.",
          "format": "byte",
          "type": "string"
        },
        "willContinue": {
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal.",
          "type": "boolean"
        },
        "event": {
          "$ref": "Event",
          "description": "Optional. Event input."
        },
        "image": {
          "description": "Optional. Image data from the end user.",
          "$ref": "Image"
        },
        "text": {
          "description": "Optional. Text data from the end user.",
          "type": "string"
        }
      }
    },
    "MetricAnalysisSettings": {
      "type": "object",
      "id": "MetricAnalysisSettings",
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline.",
      "properties": {
        "llmMetricsOptedOut": {
          "type": "boolean",
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected."
        }
      }
    },
    "ExecuteToolRequest": {
      "id": "ExecuteToolRequest",
      "properties": {
        "context": {
          "type": "object",
          "description": "Optional. The [ToolCallContext](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/python#environment for details) to be passed to the Python tool.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "mockConfig": {
          "description": "Optional. Mock configuration for the tool execution. If this field is set, tools that call other tools will be mocked based on the provided patterns and responses.",
          "$ref": "MockConfig"
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The variables that are available for the tool execution."
        },
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to execute. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}"
        },
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "Request message for ToolService.ExecuteTool.",
      "type": "object"
    },
    "FileSearchTool": {
      "id": "FileSearchTool",
      "properties": {
        "corpusType": {
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ],
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "type": "string"
        },
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        },
        "name": {
          "description": "Required. The tool name.",
          "type": "string"
        }
      },
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "type": "object"
    },
    "Agent": {
      "id": "Agent",
      "type": "object",
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "properties": {
        "toolsets": {
          "description": "Optional. List of toolsets for the agent.",
          "items": {
            "$ref": "AgentAgentToolset"
          },
          "type": "array"
        },
        "afterToolCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "generatedSummary": {
          "readOnly": true,
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "type": "string"
        },
        "transferRules": {
          "type": "array",
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used.",
          "items": {
            "$ref": "TransferRule"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "remoteA2aAgent": {
          "description": "Optional. The remote [A2A](https://github.com/a2aproject/A2A) agent to be used for the agent execution.",
          "$ref": "AgentRemoteA2aAgent"
        },
        "afterAgentCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "validationErrors": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality."
        },
        "beforeToolCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the agent was created.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the agent."
        },
        "tools": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "beforeModelCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "childAgents": {
          "type": "array",
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "items": {
            "type": "string"
          }
        },
        "beforeAgentCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "instruction": {
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the agent was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "guardrails": {
          "type": "array",
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the agent."
        },
        "afterModelCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        },
        "llmAgent": {
          "description": "Optional. The default agent type.",
          "$ref": "AgentLlmAgent"
        }
      }
    },
    "ListAppVersionsResponse": {
      "description": "Response message for AgentService.ListAppVersions.",
      "type": "object",
      "id": "ListAppVersionsResponse",
      "properties": {
        "appVersions": {
          "description": "The list of app versions.",
          "items": {
            "$ref": "AppVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "LfA2aV1OAuthFlows": {
      "id": "LfA2aV1OAuthFlows",
      "type": "object",
      "properties": {
        "clientCredentials": {
          "$ref": "LfA2aV1ClientCredentialsOAuthFlow",
          "description": "Configuration for the OAuth Client Credentials flow."
        },
        "implicit": {
          "deprecated": true,
          "description": "Deprecated: Use Authorization Code + PKCE instead.",
          "$ref": "LfA2aV1ImplicitOAuthFlow"
        },
        "password": {
          "$ref": "LfA2aV1PasswordOAuthFlow",
          "deprecated": true,
          "description": "Deprecated: Use Authorization Code + PKCE or Device Code."
        },
        "deviceCode": {
          "description": "Configuration for the OAuth Device Code flow.",
          "$ref": "LfA2aV1DeviceCodeOAuthFlow"
        },
        "authorizationCode": {
          "description": "Configuration for the OAuth Authorization Code flow.",
          "$ref": "LfA2aV1AuthorizationCodeOAuthFlow"
        }
      },
      "description": "Defines the configuration for the supported OAuth 2.0 flows."
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "properties": {
        "oauthToken": {
          "type": "string",
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`."
        }
      },
      "type": "object",
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "id": "EndUserAuthConfigOauth2AuthCodeConfig"
    },
    "ToolResponses": {
      "properties": {
        "toolResponses": {
          "description": "Optional. The list of tool execution results.",
          "items": {
            "$ref": "ToolResponse"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ToolResponses",
      "description": "Execution results for the requested tool calls from the client."
    },
    "ConnectorToolset": {
      "properties": {
        "connectorActions": {
          "description": "Required. The list of connector actions/entity operations to generate tools for.",
          "type": "array",
          "items": {
            "$ref": "Action"
          }
        },
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "authConfig": {
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override",
          "$ref": "EndUserAuthConfig"
        }
      },
      "type": "object",
      "id": "ConnectorToolset",
      "description": "A toolset that generates tools from an Integration Connectors Connection."
    },
    "LfA2aV1SendMessageRequest": {
      "properties": {
        "configuration": {
          "description": "Configuration for the send request.",
          "$ref": "LfA2aV1SendMessageConfiguration"
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "Required. The message to send to the agent."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A flexible key-value map for passing additional context or parameters."
        }
      },
      "description": "Represents a request for the `SendMessage` method.",
      "id": "LfA2aV1SendMessageRequest",
      "type": "object"
    },
    "LfA2aV1TaskStatusUpdateEvent": {
      "id": "LfA2aV1TaskStatusUpdateEvent",
      "type": "object",
      "properties": {
        "taskId": {
          "type": "string",
          "description": "Required. The ID of the task that has changed."
        },
        "status": {
          "$ref": "LfA2aV1TaskStatus",
          "description": "Required. The new status of the task."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Metadata associated with the task update."
        },
        "contextId": {
          "description": "Required. The ID of the context that the task belongs to.",
          "type": "string"
        }
      },
      "description": "An event sent by the agent to notify the client of a change in a task's status."
    },
    "WidgetToolTextResponseConfig": {
      "id": "WidgetToolTextResponseConfig",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ],
          "type": "string",
          "description": "Optional. The strategy for providing the text response."
        },
        "staticText": {
          "description": "Optional. The static text response to return when type is STATIC.",
          "type": "string"
        },
        "textResponseInstruction": {
          "type": "string",
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED."
        }
      },
      "description": "Configuration for the text response returned with the widget."
    },
    "LfA2aV1Message": {
      "description": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it.",
      "properties": {
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ],
          "description": "Required. Identifies the sender of the message.",
          "enumDescriptions": [
            "The role is unspecified.",
            "The message is from the client to the server.",
            "The message is from the server to the client."
          ],
          "type": "string"
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Message."
        },
        "contextId": {
          "type": "string",
          "description": "Optional. The context id of the message. If set, the message will be associated with the given context."
        },
        "parts": {
          "description": "Required. Parts is the container of the message content.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Part"
          }
        },
        "taskId": {
          "type": "string",
          "description": "Optional. The task id of the message. If set, the message will be associated with the given task."
        },
        "referenceTaskIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of task IDs that this message references for additional context."
        },
        "messageId": {
          "type": "string",
          "description": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator."
        },
        "metadata": {
          "type": "object",
          "description": "Optional. Any metadata to provide along with the message.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "LfA2aV1Message",
      "type": "object"
    },
    "LfA2aV1SendMessageConfiguration": {
      "id": "LfA2aV1SendMessageConfiguration",
      "type": "object",
      "description": "Configuration of a send message request.",
      "properties": {
        "historyLength": {
          "type": "integer",
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit.",
          "format": "int32"
        },
        "taskPushNotificationConfig": {
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request.",
          "$ref": "LfA2aV1TaskPushNotificationConfig"
        },
        "acceptedOutputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output."
        },
        "returnImmediately": {
          "type": "boolean",
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning."
        }
      }
    },
    "SessionOutputDiagnosticInfo": {
      "properties": {
        "messages": {
          "description": "List of the messages that happened during the processing.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "rootSpan": {
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations.",
          "$ref": "Span"
        }
      },
      "description": "Contains execution details during the processing.",
      "id": "SessionOutputDiagnosticInfo",
      "type": "object"
    },
    "ExpressionCondition": {
      "description": "Expression condition based on session state.",
      "properties": {
        "expression": {
          "description": "Required. The string representation of cloud.api.Expression condition.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExpressionCondition"
    },
    "InstagramCredentials": {
      "id": "InstagramCredentials",
      "properties": {
        "authCode": {
          "type": "string",
          "description": "Required. The Meta auth code provided by the embedded signup flow."
        },
        "conversationProfileId": {
          "description": "Optional. The Conversation Profile ID to use for the deployment.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Ephemeral Meta credentials for Instagram native integration."
    },
    "LfA2aV1OAuth2SecurityScheme": {
      "id": "LfA2aV1OAuth2SecurityScheme",
      "properties": {
        "flows": {
          "$ref": "LfA2aV1OAuthFlows",
          "description": "Required. An object containing configuration information for the supported OAuth 2.0 flows."
        },
        "oauth2MetadataUrl": {
          "type": "string",
          "description": "URL to the OAuth2 authorization server metadata [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required."
        },
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        }
      },
      "type": "object",
      "description": "Defines a security scheme using OAuth 2.0."
    },
    "Action": {
      "properties": {
        "connectionActionId": {
          "type": "string",
          "description": "ID of a Connection action for the tool to use."
        },
        "entityOperation": {
          "description": "Entity operation configuration for the tool to use.",
          "$ref": "ActionEntityOperation"
        },
        "outputFields": {
          "description": "Optional. Entity fields to return from the operation. If no fields are specified, all fields of the Entity will be returned.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inputFields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Entity fields to use as inputs for the operation. If no fields are specified, all fields of the Entity will be used."
        }
      },
      "id": "Action",
      "type": "object",
      "description": "Configuration of an Action for the tool to use. Note: This can be either an Action or an Operation. See https://cloud.google.com/integration-connectors/docs/entities-operation-action for details."
    },
    "SessionConfigRemoteDialogflowQueryParameters": {
      "description": "[QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
      "type": "object",
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The payload to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters)."
        },
        "webhookHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The HTTP headers to be sent as webhook_headers in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "type": "object"
        },
        "endUserMetadata": {
          "description": "Optional. The end user metadata to be sent in [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "SessionConfigRemoteDialogflowQueryParameters"
    },
    "LfA2aV1StringList": {
      "type": "object",
      "id": "LfA2aV1StringList",
      "properties": {
        "list": {
          "items": {
            "type": "string"
          },
          "description": "The individual string values.",
          "type": "array"
        }
      },
      "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED A list of strings."
    },
    "CitationsCitedChunk": {
      "properties": {
        "uri": {
          "description": "URI used for citation.",
          "type": "string"
        },
        "requiresAttribution": {
          "description": "Whether this citation requires attribution to be shown to the end users.",
          "type": "boolean"
        },
        "title": {
          "description": "Title of the cited document.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Text used for citation."
        }
      },
      "id": "CitationsCitedChunk",
      "description": "Piece of cited information.",
      "type": "object"
    },
    "ListToolsResponse": {
      "id": "ListToolsResponse",
      "properties": {
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "The list of tools."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListTools.",
      "type": "object"
    },
    "DataStoreToolModalityConfig": {
      "id": "DataStoreToolModalityConfig",
      "type": "object",
      "properties": {
        "snippetsConfig": {
          "$ref": "DataStoreToolSnippetsConfig",
          "description": "Optional. The snippets configuration."
        },
        "rewriterConfig": {
          "description": "Optional. The rewriter config.",
          "$ref": "DataStoreToolRewriterConfig"
        },
        "summarizationConfig": {
          "$ref": "DataStoreToolSummarizationConfig",
          "description": "Optional. The summarization config."
        },
        "groundingConfig": {
          "description": "Optional. The grounding configuration.",
          "$ref": "DataStoreToolGroundingConfig"
        },
        "modalityType": {
          "type": "string",
          "description": "Required. The modality type.",
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ]
        }
      },
      "description": "If specified, will apply the given configuration for the specified modality."
    },
    "GuardrailSupervisor": {
      "description": "Guardrail that runs supervisor intervention.",
      "id": "GuardrailSupervisor",
      "type": "object",
      "properties": {
        "detectionMode": {
          "enumDescriptions": [
            "Detection mode is unspecified. Default to NON_BLOCKING.",
            "Non blocking detection mode. Response is not blocked when the supervisor detection is ongoing.",
            "Blocking detection mode. Response is blocked when the supervisor detection is ongoing."
          ],
          "enum": [
            "DETECTION_MODE_UNSPECIFIED",
            "NON_BLOCKING",
            "BLOCKING"
          ],
          "description": "Optional. The detection mode of the supervisor.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified.",
            "Invalid text issue type.",
            "Language shift issue type.",
            "Speaker shift issue type.",
            "Audio mismatch issue type.",
            "Missing tool call issue type.",
            "Custom issue type.",
            "Choppy audio issue type."
          ],
          "type": "string",
          "description": "Optional. The type of the supervisor.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INVALID_TEXT",
            "LANGUAGE_SHIFT",
            "SPEAKER_SHIFT",
            "AUDIO_MISMATCH",
            "MISSING_TOOL_CALL",
            "CUSTOM",
            "CHOPPY_AUDIO"
          ]
        }
      }
    },
    "LfA2aV1AgentCardSignature": {
      "type": "object",
      "id": "LfA2aV1AgentCardSignature",
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS).",
      "properties": {
        "header": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The unprotected JWS header values."
        },
        "protected": {
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object.",
          "type": "string"
        },
        "signature": {
          "type": "string",
          "description": "Required. The computed signature, base64url-encoded."
        }
      }
    },
    "ModelSettings": {
      "type": "object",
      "description": "Model settings contains various configurations for the LLM model.",
      "id": "ModelSettings",
      "properties": {
        "model": {
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent.",
          "type": "string"
        },
        "temperature": {
          "format": "double",
          "type": "number",
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative."
        }
      }
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "properties": {
        "boost": {
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "format": "float",
          "type": "number"
        },
        "boostControlSpec": {
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec"
        },
        "condition": {
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))",
          "type": "string"
        }
      },
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "type": "object",
      "description": "Boost specification for a condition."
    },
    "ExperimentConfigVersionRelease": {
      "id": "ExperimentConfigVersionRelease",
      "properties": {
        "trafficAllocations": {
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          },
          "description": "Optional. Traffic allocations for the version release.",
          "type": "array"
        },
        "state": {
          "description": "Optional. State of the version release.",
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ],
          "type": "string"
        }
      },
      "description": "Version release for the experiment.",
      "type": "object"
    },
    "LfA2aV1TaskArtifactUpdateEvent": {
      "properties": {
        "artifact": {
          "$ref": "LfA2aV1Artifact",
          "description": "Required. The artifact that was generated or updated."
        },
        "taskId": {
          "type": "string",
          "description": "Required. The ID of the task for this artifact."
        },
        "metadata": {
          "description": "Optional. Metadata associated with the artifact update.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "lastChunk": {
          "description": "If true, this is the final chunk of the artifact.",
          "type": "boolean"
        },
        "contextId": {
          "description": "Required. The ID of the context that this task belongs to.",
          "type": "string"
        },
        "append": {
          "description": "If true, the content of this artifact should be appended to a previously sent artifact with the same ID.",
          "type": "boolean"
        }
      },
      "description": "A task delta where an artifact has been generated.",
      "type": "object",
      "id": "LfA2aV1TaskArtifactUpdateEvent"
    },
    "DataStoreToolRewriterConfig": {
      "id": "DataStoreToolRewriterConfig",
      "properties": {
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the rewriter is disabled.",
          "type": "boolean"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Required. Configurations for the LLM model."
        }
      },
      "description": "Rewriter configuration.",
      "type": "object"
    },
    "ListAppsResponse": {
      "description": "Response message for AgentService.ListApps.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "apps": {
          "description": "The list of apps.",
          "type": "array",
          "items": {
            "$ref": "App"
          }
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListAppsResponse",
      "type": "object"
    },
    "ChannelProfileWebWidgetConfig": {
      "type": "object",
      "id": "ChannelProfileWebWidgetConfig",
      "description": "Message for configuration for the web widget.",
      "properties": {
        "theme": {
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "description": "Optional. The theme of the web widget."
        },
        "securitySettings": {
          "description": "Optional. The security settings of the web widget.",
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings"
        },
        "modality": {
          "description": "Optional. The modality of the web widget.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ]
        },
        "webWidgetTitle": {
          "description": "Optional. The title of the web widget.",
          "type": "string"
        }
      }
    },
    "LfA2aV1SendMessageResponse": {
      "id": "LfA2aV1SendMessageResponse",
      "type": "object",
      "properties": {
        "task": {
          "description": "The task created or updated by the message.",
          "$ref": "LfA2aV1Task"
        },
        "message": {
          "$ref": "LfA2aV1Message",
          "description": "A message from the agent."
        }
      },
      "description": "Represents the response for the `SendMessage` method."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Span": {
      "type": "object",
      "properties": {
        "childSpans": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Span"
          },
          "description": "Output only. The child spans that are nested under this span."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of the span.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "duration": {
          "type": "string",
          "description": "Output only. The duration of the span.",
          "format": "google-duration",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the span.",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The start time of the span.",
          "format": "google-datetime"
        },
        "attributes": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Key-value attributes associated with the span.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "Span",
      "description": "A span is a unit of work or a single operation during the request processing."
    },
    "AmbientSoundConfig": {
      "id": "AmbientSoundConfig",
      "type": "object",
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "properties": {
        "prebuiltAmbientSound": {
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\"",
          "type": "string"
        },
        "gcsUri": {
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "type": "string"
        },
        "prebuiltAmbientNoise": {
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "type": "string",
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "deprecated": true,
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ]
        },
        "volumeGainDb": {
          "type": "number",
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "format": "double"
        }
      }
    },
    "MockedToolCall": {
      "description": "A mocked tool call. Expresses the target tool + a pattern to match against that tool's args / inputs. If the pattern matches, then the mock response will be returned.",
      "type": "object",
      "properties": {
        "expectedArgsPattern": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. A pattern to match against the args / inputs of all dispatched tool calls. If the tool call inputs match this pattern, then mock output will be returned."
        },
        "toolset": {
          "description": "Optional. The toolset to mock.",
          "$ref": "ToolsetTool"
        },
        "toolId": {
          "type": "string",
          "description": "Optional. The name of the tool to mock. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "mockResponse": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The mock response / output to return if the tool call args / inputs match the pattern.",
          "type": "object"
        },
        "tool": {
          "description": "Optional. Deprecated. Use tool_identifier instead.",
          "type": "string",
          "deprecated": true
        }
      },
      "id": "MockedToolCall"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "RestoreAppVersionRequest": {
      "type": "object",
      "id": "RestoreAppVersionRequest",
      "properties": {},
      "description": "Request message for AgentService.RestoreAppVersion"
    },
    "ToolsetTool": {
      "description": "A tool that is created from a toolset.",
      "properties": {
        "toolset": {
          "description": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
          "type": "string"
        },
        "toolId": {
          "type": "string",
          "description": "Optional. The tool ID to filter the tools to retrieve the schema for."
        }
      },
      "id": "ToolsetTool",
      "type": "object"
    },
    "McpToolOverride": {
      "description": "Overrides associated with a given tool in a Toolset. This enables \"pinning\" or \"overriding\" of tool definitions from the external dynamic server.",
      "type": "object",
      "properties": {
        "snapshot": {
          "$ref": "McpToolDefinition",
          "readOnly": true,
          "description": "Output only. If present, this tool is \"Pinned\" and uses the snapshot values as fallbacks if the server becomes temporarily unavailable or if no Override is present."
        },
        "tool": {
          "description": "Required. The original name of the tool as it is emitted by the MCP server.",
          "type": "string"
        },
        "nameOverride": {
          "description": "Optional. If present, this tool uses this name in the Agent instead of the original name. This is primarily used as an alias if the MCP server offers poorly named tools.",
          "type": "string"
        },
        "descriptionOverride": {
          "description": "Optional. If present, this tool uses this description instead of the original description from the server.",
          "type": "string"
        }
      },
      "id": "McpToolOverride"
    },
    "BargeInConfig": {
      "id": "BargeInConfig",
      "type": "object",
      "properties": {
        "bargeInAwareness": {
          "description": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually.",
          "type": "boolean"
        },
        "disableBargeIn": {
          "description": "Optional. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "description": "Configuration for how the user barge-in activities should be handled."
    },
    "TransferRuleDisablePlannerTransfer": {
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "properties": {
        "expressionCondition": {
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent.",
          "$ref": "ExpressionCondition"
        }
      },
      "type": "object",
      "id": "TransferRuleDisablePlannerTransfer"
    },
    "ChannelProfileWhatsAppConfig": {
      "id": "ChannelProfileWhatsAppConfig",
      "description": "Configuration specific to WhatsApp deployments.",
      "type": "object",
      "properties": {
        "wabaId": {
          "type": "string",
          "description": "Required. The WhatsApp Business Account ID."
        },
        "description": {
          "description": "Output only. The description of the Meta business page or profile.",
          "type": "string",
          "readOnly": true
        },
        "phoneNumber": {
          "type": "string",
          "description": "Optional. The phone number in E.164 format."
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "Output only. The fetched Meta business profile thumbnail URL.",
          "readOnly": true
        },
        "phoneNumberId": {
          "description": "Required. The Meta phone number ID.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The fetched Meta business page name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TriggerActionResponse": {
      "type": "object",
      "id": "TriggerActionResponse",
      "properties": {
        "text": {
          "description": "Required. Text for the agent to respond with.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent."
        }
      },
      "description": "Represents a response from the agent."
    },
    "ClientCertificateSettings": {
      "id": "ClientCertificateSettings",
      "properties": {
        "passphrase": {
          "type": "string",
          "description": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
        },
        "tlsCertificate": {
          "description": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines.",
          "type": "string"
        },
        "privateKey": {
          "description": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Settings for custom client certificates."
    },
    "LanguageSettings": {
      "properties": {
        "enableMultilingualSupport": {
          "description": "Optional. Enables multilingual support. If true, agents in the app will use pre-built instructions to improve handling of multilingual input.",
          "type": "boolean"
        },
        "fallbackAction": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: This feature is no longer supported. Use `enable_multilingual_support` instead to improve handling of multilingual input. The action to perform when an agent receives input in an unsupported language. This can be a predefined action or a custom tool call. Valid values are: - A tool's full resource name, which triggers a specific tool execution. - A predefined system action, such as \"escalate\" or \"exit\", which triggers an EndSession signal with corresponding metadata to terminate the conversation."
        },
        "defaultLanguageCode": {
          "description": "Optional. The default language code of the app.",
          "type": "string"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "description": "Optional. List of languages codes supported by the app, in addition to the `default_language_code`.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Language settings of the app.",
      "id": "LanguageSettings",
      "type": "object"
    },
    "RetrieveToolSchemaRequest": {
      "description": "Request message for ToolService.RetrieveToolSchema.",
      "type": "object",
      "id": "RetrieveToolSchemaRequest",
      "properties": {
        "toolsetTool": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned."
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "McpToolDefinition": {
      "description": "Container for a tool's core definition elements that are snapshot. Schemas in the snapshot are used as-is and cannot be overridden.",
      "properties": {
        "inputSchema": {
          "description": "Output only. The schema of the input arguments of the MCP tool.",
          "readOnly": true,
          "$ref": "Schema"
        },
        "outputSchema": {
          "readOnly": true,
          "$ref": "Schema",
          "description": "Output only. The schema of the output arguments of the MCP tool."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The description of the MCP tool. This can be overridden by `description_override` in `McpToolOverride`."
        }
      },
      "id": "McpToolDefinition",
      "type": "object"
    },
    "LfA2aV1AgentCard": {
      "type": "object",
      "properties": {
        "defaultOutputModes": {
          "items": {
            "type": "string"
          },
          "description": "Required. The media types supported as outputs from this agent.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Required. A human-readable description of the agent, assisting users and other agents in understanding its purpose. Example: \"Agent that helps users with recipes and cooking.\""
        },
        "provider": {
          "description": "The service provider of the agent.",
          "$ref": "LfA2aV1AgentProvider"
        },
        "version": {
          "description": "Required. The version of the agent. Example: \"1.0.0\"",
          "type": "string"
        },
        "signatures": {
          "description": "JSON Web Signatures computed for this `AgentCard`.",
          "type": "array",
          "items": {
            "$ref": "LfA2aV1AgentCardSignature"
          }
        },
        "defaultInputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as media types."
        },
        "iconUrl": {
          "type": "string",
          "description": "Optional. A URL to an icon for the agent."
        },
        "securityRequirements": {
          "type": "array",
          "description": "Security requirements for contacting the agent.",
          "items": {
            "$ref": "LfA2aV1SecurityRequirement"
          }
        },
        "securitySchemes": {
          "description": "The security scheme details used for authenticating with this agent.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LfA2aV1SecurityScheme"
          }
        },
        "documentationUrl": {
          "type": "string",
          "description": "A URL providing additional documentation about the agent."
        },
        "supportedInterfaces": {
          "type": "array",
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "items": {
            "$ref": "LfA2aV1AgentInterface"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. A human readable name for the agent. Example: \"Recipe Agent\""
        },
        "capabilities": {
          "$ref": "LfA2aV1AgentCapabilities",
          "description": "Required. A2A Capability set supported by the agent."
        },
        "skills": {
          "items": {
            "$ref": "LfA2aV1AgentSkill"
          },
          "description": "Required. Skills represent the abilities of an agent. It is largely a descriptive concept but represents a more focused set of behaviors that the agent is likely to succeed at.",
          "type": "array"
        }
      },
      "description": "A self-describing manifest for an agent. It provides essential metadata including the agent's identity, capabilities, skills, supported communication methods, and security requirements. Next ID: 20",
      "id": "LfA2aV1AgentCard"
    },
    "BigQueryExportSettings": {
      "type": "object",
      "id": "BigQueryExportSettings",
      "properties": {
        "dataset": {
          "description": "Optional. The BigQuery **dataset ID** to export the data to.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Indicates whether the BigQuery export is enabled.",
          "type": "boolean"
        },
        "project": {
          "type": "string",
          "description": "Optional. The **project ID** of the BigQuery dataset to export the data to. Note: If the BigQuery dataset is in a different project from the app, you should grant `roles/bigquery.admin` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        }
      },
      "description": "Settings to describe the BigQuery export behaviors for the app."
    },
    "VpcScSettings": {
      "type": "object",
      "properties": {
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "VpcScSettings",
      "description": "VPC-SC settings for the app."
    },
    "DataStoreToolSnippetsConfig": {
      "id": "DataStoreToolSnippetsConfig",
      "type": "object",
      "properties": {
        "enableSnippets": {
          "description": "Optional. Whether snippets are enabled.",
          "type": "boolean"
        },
        "maxSnippets": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of snippets to return per query. If unset, returns all snippets from the service by default."
        }
      },
      "description": "Snippets configuration."
    },
    "AudioRecordingConfig": {
      "properties": {
        "gcsPathPrefix": {
          "type": "string",
          "description": "Optional. The Cloud Storage path prefix for audio recordings. This prefix can include the following placeholders, which will be dynamically substituted at serving time: - $project: project ID - $location: app location - $app: app ID - $date: session date in YYYY-MM-DD format - $session: session ID If the path prefix is not specified, the default prefix `$project/$location/$app/$date/$session/` will be used."
        },
        "gcsBucket": {
          "type": "string",
          "description": "Optional. The [Cloud Storage](https://cloud.google.com/storage) bucket to store the session audio recordings. The URI must start with \"gs://\". Please choose a bucket location that meets your data residency requirements. Note: If the Cloud Storage bucket is in a different project from the app, you should grant `storage.objects.create` permission to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        }
      },
      "id": "AudioRecordingConfig",
      "description": "Configuration for how the audio interactions should be recorded.",
      "type": "object"
    },
    "DataStore": {
      "description": "A DataStore resource in Vertex AI Search.",
      "type": "object",
      "id": "DataStore",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the data store.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Timestamp when the data store was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`",
          "type": "string"
        },
        "documentProcessingMode": {
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores."
        },
        "type": {
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "readOnly": true,
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ],
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "type": "string"
        },
        "connectorConfig": {
          "readOnly": true,
          "$ref": "DataStoreConnectorConfig",
          "description": "Output only. The connector config for the data store connection."
        }
      }
    },
    "RemoteAgentTool": {
      "id": "RemoteAgentTool",
      "type": "object",
      "description": "Represents a tool that allows the agent to call another remote agent.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the tool."
        },
        "description": {
          "description": "Required. The description of the tool.",
          "type": "string"
        },
        "outputVariableMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of output variable names of remote agent to GECX variable names."
        },
        "agentCard": {
          "description": "Required. The agent card of the remote agent that this tool invokes.",
          "$ref": "AgentCard"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication configuration for calling the remote agent."
        },
        "inputVariableMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Mapping of input variable names of remote agent to GECX variable names."
        },
        "statefulAgent": {
          "type": "boolean",
          "description": "Optional. When enabled, the interaction between the CXAS app and the remote agent will share the same context. If the remote agent returns a context_id, it will be persisted for the entirety of the session for this remote agent tool."
        }
      }
    },
    "DataStoreSettingsEngine": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ],
          "description": "Output only. The type of the engine.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "readOnly": true
        }
      },
      "id": "DataStoreSettingsEngine",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "DataStoreToolDataStoreSource": {
      "type": "object",
      "description": "Configuration for searching within a specific DataStore.",
      "properties": {
        "dataStore": {
          "description": "Optional. The data store.",
          "$ref": "DataStore"
        },
        "filter": {
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        }
      },
      "id": "DataStoreToolDataStoreSource"
    },
    "DataStoreToolGroundingConfig": {
      "type": "object",
      "description": "Grounding configuration.",
      "id": "DataStoreToolGroundingConfig",
      "properties": {
        "groundingLevel": {
          "format": "float",
          "description": "Optional. The groundedness threshold of the answer based on the retrieved sources. The value has a configurable range of [1, 5]. The level is used to threshold the groundedness of the answer, meaning that all responses with a groundedness score below the threshold will fall back to returning relevant snippets only. For example, a level of 3 means that the groundedness score must be 3 or higher for the response to be returned.",
          "type": "number"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether grounding is disabled."
        }
      }
    },
    "McpTool": {
      "description": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details.",
      "properties": {
        "description": {
          "description": "Optional. The description of the MCP tool.",
          "type": "string"
        },
        "inputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the input arguments of the MCP tool."
        },
        "state": {
          "description": "Output only. The dynamic availability state of the tool on the external server.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default state.",
            "The tool is available and actively offered by the server.",
            "The tool is configured or pinned, but currently not offered by the server.",
            "The tool exists on the server, but does not match the version on the server."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "STALE"
          ]
        },
        "serverAddress": {
          "description": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details.",
          "type": "string"
        },
        "outputSchema": {
          "$ref": "Schema",
          "description": "Optional. The schema of the output arguments of the MCP tool."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
        },
        "name": {
          "description": "Required. The name of the MCP tool.",
          "type": "string"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust.",
          "$ref": "TlsConfig"
        },
        "customHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "type": "object"
        },
        "nameOverride": {
          "description": "Optional. The name override of the MCP tool. This is populated if the name was overridden by a Toolset override.",
          "type": "string"
        }
      },
      "id": "McpTool",
      "type": "object"
    },
    "ListToolsetsResponse": {
      "id": "ListToolsetsResponse",
      "type": "object",
      "description": "Response message for AgentService.ListToolsets.",
      "properties": {
        "toolsets": {
          "type": "array",
          "description": "The list of toolsets.",
          "items": {
            "$ref": "Toolset"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsetsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "AgentSkill": {
      "id": "AgentSkill",
      "properties": {
        "description": {
          "type": "string",
          "description": "Required. A detailed description of the skill."
        },
        "name": {
          "description": "Required. A human-readable name for the skill.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        },
        "examples": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Example prompts or scenarios that this skill can handle."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. A set of keywords describing the skill's capabilities."
        },
        "inputModes": {
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "outputModes": {
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a distinct capability or function that an agent can perform.",
      "type": "object"
    },
    "ListExamplesResponse": {
      "id": "ListExamplesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "examples": {
          "type": "array",
          "description": "The list of examples.",
          "items": {
            "$ref": "Example"
          }
        }
      },
      "description": "Response message for AgentService.ListExamples."
    },
    "TimeZoneSettings": {
      "type": "object",
      "id": "TimeZoneSettings",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris."
        }
      },
      "description": "TimeZone settings of the app."
    },
    "PythonFunction": {
      "description": "A Python function tool.",
      "type": "object",
      "properties": {
        "pythonCode": {
          "type": "string",
          "description": "Optional. The Python code to execute for the tool."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the Python function, parsed from the python code's docstring."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for the tool."
        }
      },
      "id": "PythonFunction"
    },
    "RunSessionRequest": {
      "id": "RunSessionRequest",
      "properties": {
        "config": {
          "$ref": "SessionConfig",
          "description": "Required. The configuration for the session."
        },
        "inputs": {
          "items": {
            "$ref": "SessionInput"
          },
          "type": "array",
          "description": "Required. Inputs for the session."
        }
      },
      "description": "Request message for SessionService.RunSession.",
      "type": "object"
    },
    "DataStoreTool": {
      "type": "object",
      "properties": {
        "modalityConfigs": {
          "items": {
            "$ref": "DataStoreToolModalityConfig"
          },
          "description": "Optional. The modality configs for the data store.",
          "type": "array"
        },
        "boostSpecs": {
          "items": {
            "$ref": "DataStoreToolBoostSpecs"
          },
          "type": "array",
          "description": "Optional. Boost specification to boost certain documents."
        },
        "filterParameterBehavior": {
          "enumDescriptions": [
            "Default filter behavior. Include filter parameter for connector datastores. For the rest of the datastore types, the filter input parameter is omitted.",
            "Always include filter parameter for all datastore types.",
            "The filter parameter is never included in the list of tool parameters, regardless of the datastore type."
          ],
          "enum": [
            "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED",
            "ALWAYS_INCLUDE",
            "NEVER_INCLUDE"
          ],
          "description": "Optional. The filter parameter behavior.",
          "type": "string"
        },
        "engineSource": {
          "$ref": "DataStoreToolEngineSource",
          "description": "Optional. Search within an Engine (potentially across multiple DataStores)."
        },
        "name": {
          "type": "string",
          "description": "Required. The data store tool name."
        },
        "dataStoreSource": {
          "description": "Optional. Search within a single specific DataStore.",
          "$ref": "DataStoreToolDataStoreSource"
        },
        "description": {
          "description": "Optional. The tool description.",
          "type": "string"
        }
      },
      "id": "DataStoreTool",
      "description": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
    },
    "ImportAppRequest": {
      "type": "object",
      "id": "ImportAppRequest",
      "properties": {
        "jsonPatchContent": {
          "type": "string",
          "description": "Optional. Patch content as a JSON string."
        },
        "appContent": {
[...]
