{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "protocol": "rest",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "rootUrl": "https://ces.googleapis.com/",
  "canonicalName": "Customer Engagement Suite",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "name": "ces",
  "kind": "discovery#restDescription",
  "schemas": {
    "LfA2aV1TaskStatus": {
      "type": "object",
      "id": "LfA2aV1TaskStatus",
      "description": "A container for the status of a task",
      "properties": {
        "timestamp": {
          "type": "string",
          "description": "ISO 8601 Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "format": "google-datetime"
        },
        "message": {
          "description": "A message associated with the status.",
          "$ref": "LfA2aV1Message"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The task is in an unknown or indeterminate state.",
            "Indicates that a task has been successfully submitted and acknowledged.",
            "Indicates that a task is actively being processed by the agent.",
            "Indicates that a task has finished successfully. This is a terminal state.",
            "Indicates that a task has finished with an error. This is a terminal state.",
            "Indicates that a task was canceled before completion. This is a terminal state.",
            "Indicates that the agent requires additional user input to proceed. This is an interrupted state.",
            "Indicates that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Indicates that authentication is required to proceed. This is an interrupted state."
          ],
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "description": "Required. The current state of this task."
        }
      }
    },
    "LfA2aV1PasswordOAuthFlow": {
      "id": "LfA2aV1PasswordOAuthFlow",
      "description": "Deprecated: Use Authorization Code + PKCE or Device Code.",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "scopes": {
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SynthesizeSpeechConfig": {
      "id": "SynthesizeSpeechConfig",
      "description": "Configuration for how the agent response should be synthesized.",
      "properties": {
        "voiceSampleGcsUri": {
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file. Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object.",
          "deprecated": true,
          "type": "string"
        },
        "speakingRate": {
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error.",
          "format": "double",
          "type": "number"
        },
        "model": {
          "description": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used.",
          "type": "string"
        },
        "voice": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
        },
        "instruction": {
          "description": "Optional. The instruction used to synthesize speech when using a generative model.",
          "type": "string"
        },
        "consentAudioGcsUri": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the consent audio for voice cloning."
        }
      },
      "type": "object"
    },
    "AmbientSoundConfig": {
      "type": "object",
      "id": "AmbientSoundConfig",
      "description": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
      "properties": {
        "volumeGainDb": {
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that.",
          "format": "double",
          "type": "number"
        },
        "prebuiltAmbientNoise": {
          "type": "string",
          "enum": [
            "PREBUILT_AMBIENT_NOISE_UNSPECIFIED",
            "RETAIL_STORE",
            "CONVENTION_HALL",
            "OUTDOOR"
          ],
          "description": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`.",
          "enumDescriptions": [
            "Not specified.",
            "Ambient noise of a retail store.",
            "Ambient noise of a convention hall.",
            "Ambient noise of a street."
          ],
          "deprecated": true
        },
        "gcsUri": {
          "type": "string",
          "description": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
        },
        "prebuiltAmbientSound": {
          "type": "string",
          "description": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\""
        }
      }
    },
    "SecuritySettings": {
      "type": "object",
      "id": "SecuritySettings",
      "description": "Project/Location level security settings for CES.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`"
        },
        "endpointControlPolicy": {
          "description": "Optional. Endpoint control related settings.",
          "$ref": "EndpointControlPolicy"
        },
        "etag": {
          "description": "Output only. Etag of the security settings.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update time of the security settings."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time of the security settings.",
          "format": "google-datetime"
        }
      }
    },
    "ServiceAgentIdTokenAuthConfig": {
      "type": "object",
      "id": "ServiceAgentIdTokenAuthConfig",
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent.",
      "properties": {}
    },
    "AppVariableDeclaration": {
      "type": "object",
      "id": "AppVariableDeclaration",
      "description": "Defines the structure and metadata for a variable.",
      "properties": {
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        },
        "name": {
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the variable."
        }
      }
    },
    "MetricAnalysisSettings": {
      "type": "object",
      "id": "MetricAnalysisSettings",
      "description": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline.",
      "properties": {
        "llmMetricsOptedOut": {
          "type": "boolean",
          "description": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected."
        }
      }
    },
    "DataStoreToolRewriterConfig": {
      "id": "DataStoreToolRewriterConfig",
      "description": "Rewriter configuration.",
      "properties": {
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Required. Configurations for the LLM model."
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the rewriter is disabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "TriggerActionTransferAgent": {
      "id": "TriggerActionTransferAgent",
      "description": "The agent will transfer the conversation to a different agent.",
      "properties": {
        "agent": {
          "description": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LfA2aV1ClientCredentialsOAuthFlow": {
      "type": "object",
      "id": "LfA2aV1ClientCredentialsOAuthFlow",
      "description": "Defines configuration details for the OAuth 2.0 Client Credentials flow.",
      "properties": {
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "scopes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The available scopes for the OAuth2 security scheme."
        }
      }
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
      "description": "Expectation level metrics thresholds.",
      "properties": {
        "toolInvocationParameterCorrectnessThreshold": {
          "type": "number",
          "description": "Optional. The success threshold for individual tool invocation parameter correctness. Must be a float between 0 and 1. Default is 1.0.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "ListAgentsResponse": {
      "type": "object",
      "id": "ListAgentsResponse",
      "description": "Response message for AgentService.ListAgents.",
      "properties": {
        "agents": {
          "description": "The list of agents.",
          "items": {
            "$ref": "Agent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "SessionOutput": {
      "id": "SessionOutput",
      "description": "Output for the session.",
      "properties": {
        "endSession": {
          "$ref": "EndSession",
          "description": "Indicates the session has ended."
        },
        "toolCalls": {
          "$ref": "ToolCalls",
          "description": "Request for the client to execute the tools."
        },
        "turnCompleted": {
          "description": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn.",
          "type": "boolean"
        },
        "audio": {
          "type": "string",
          "format": "byte",
          "description": "Output audio from the CES agent."
        },
        "googleSearchSuggestions": {
          "$ref": "GoogleSearchSuggestions",
          "description": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool."
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom payload with structured output from the CES agent."
        },
        "diagnosticInfo": {
          "description": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn.",
          "$ref": "SessionOutputDiagnosticInfo"
        },
        "turnIndex": {
          "description": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1.",
          "format": "int32",
          "type": "integer"
        },
        "context": {
          "type": "array",
          "description": "Context messages for external supervision guardrails.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "text": {
          "description": "Output text from the CES agent.",
          "type": "string"
        },
        "citations": {
          "description": "Citations that provide the source information for the agent's generated text.",
          "$ref": "Citations"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "SystemTool": {
      "id": "SystemTool",
      "description": "Pre-defined system tool.",
      "properties": {
        "description": {
          "description": "Output only. The description of the system tool.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Required. The name of the system tool.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApiAuthentication": {
      "id": "ApiAuthentication",
      "description": "Authentication information required for API calls.",
      "properties": {
        "bearerTokenConfig": {
          "$ref": "BearerTokenConfig",
          "description": "Optional. Config for bearer token auth."
        },
        "serviceAgentIdTokenAuthConfig": {
          "description": "Optional. Config for ID token auth generated from CES service agent.",
          "$ref": "ServiceAgentIdTokenAuthConfig"
        },
        "serviceAccountAuthConfig": {
          "$ref": "ServiceAccountAuthConfig",
          "description": "Optional. Config for service account authentication."
        },
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        },
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Optional. Config for OAuth."
        }
      },
      "type": "object"
    },
    "MockedToolCall": {
      "type": "object",
      "id": "MockedToolCall",
      "description": "A mocked tool call. Expresses the target tool + a pattern to match against that tool's args / inputs. If the pattern matches, then the mock response will be returned.",
      "properties": {
        "toolset": {
          "$ref": "ToolsetTool",
          "description": "Optional. The toolset to mock."
        },
        "tool": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated. Use tool_identifier instead."
        },
        "mockResponse": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The mock response / output to return if the tool call args / inputs match the pattern."
        },
        "expectedArgsPattern": {
          "description": "Required. A pattern to match against the args / inputs of all dispatched tool calls. If the tool call inputs match this pattern, then mock output will be returned.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "toolId": {
          "type": "string",
          "description": "Optional. The name of the tool to mock. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        }
      }
    },
    "TlsConfig": {
      "id": "TlsConfig",
      "description": "The TLS configuration.",
      "properties": {
        "caCerts": {
          "description": "Required. Specifies a list of allowed custom CA certificates for HTTPS verification.",
          "items": {
            "$ref": "TlsConfigCaCert"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LfA2aV1Artifact": {
      "id": "LfA2aV1Artifact",
      "description": "Artifacts represent task outputs.",
      "properties": {
        "metadata": {
          "description": "Optional. Metadata included with the artifact.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "name": {
          "description": "A human readable name for the artifact.",
          "type": "string"
        },
        "artifactId": {
          "description": "Required. Unique identifier (e.g. UUID) for the artifact. It must be unique within a task.",
          "type": "string"
        },
        "parts": {
          "description": "Required. The content of the artifact. Must contain at least one part.",
          "items": {
            "$ref": "LfA2aV1Part"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human readable description of the artifact."
        },
        "extensions": {
          "description": "The URIs of extensions that are present or contributed to this Artifact.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "TimeZoneSettings": {
      "type": "object",
      "id": "TimeZoneSettings",
      "description": "TimeZone settings of the app.",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris.",
          "type": "string"
        }
      }
    },
    "OpenApiTool": {
      "type": "object",
      "id": "OpenApiTool",
      "description": "A remote API tool defined by an OpenAPI schema.",
      "properties": {
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`."
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust."
        },
        "openApiSchema": {
          "type": "string",
          "description": "Required. The OpenAPI schema in JSON or YAML format."
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`.",
          "type": "string"
        }
      }
    },
    "TriggerActionRespondImmediately": {
      "type": "object",
      "id": "TriggerActionRespondImmediately",
      "description": "The agent will immediately respond with a preconfigured response.",
      "properties": {
        "responses": {
          "description": "Required. The canned responses for the agent to choose from. The response is chosen randomly.",
          "items": {
            "$ref": "TriggerActionResponse"
          },
          "type": "array"
        }
      }
    },
    "FileSearchTool": {
      "id": "FileSearchTool",
      "description": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results.",
      "properties": {
        "corpusType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified corpus type.",
            "The corpus is created and owned by the user.",
            "The corpus is created by the agent."
          ],
          "description": "Optional. The type of the corpus. Default is FULLY_MANAGED.",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "USER_OWNED",
            "FULLY_MANAGED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. The tool name."
        },
        "description": {
          "type": "string",
          "description": "Optional. The tool description."
        },
        "fileCorpus": {
          "description": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EndpointControlPolicy": {
      "id": "EndpointControlPolicy",
      "description": "Defines project/location level endpoint control policy.",
      "properties": {
        "enforcementScope": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ],
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced.",
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ]
        },
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      }
    },
    "WhatsAppCredentials": {
      "type": "object",
      "id": "WhatsAppCredentials",
      "description": "Ephemeral Meta credentials for WhatsApp native integration.",
      "properties": {
        "authCode": {
          "description": "Required. The Meta auth code provided by the embedded signup flow.",
          "type": "string"
        },
        "conversationProfileId": {
          "type": "string",
          "description": "Optional. The Conversation Profile ID to use for the deployment."
        },
        "pin": {
          "type": "string",
          "description": "Required. The 6-digit PIN created by the user for two-step verification."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Required. The phone number to register with WhatsApp."
        },
        "wabaId": {
          "description": "Required. The WhatsApp Business Account ID.",
          "type": "string"
        },
        "businessAccountId": {
          "description": "Required. The Business Account ID to use for the phone number.",
          "type": "string"
        }
      }
    },
    "AgentSkill": {
      "type": "object",
      "id": "AgentSkill",
      "description": "Represents a distinct capability or function that an agent can perform.",
      "properties": {
        "inputModes": {
          "type": "array",
          "description": "The set of supported input media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Required. A detailed description of the skill."
        },
        "examples": {
          "type": "array",
          "description": "Example prompts or scenarios that this skill can handle.",
          "items": {
            "type": "string"
          }
        },
        "outputModes": {
          "type": "array",
          "description": "The set of supported output media types for this skill, overriding the agent's defaults.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. A human-readable name for the skill.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for the agent's skill."
        },
        "tags": {
          "type": "array",
          "description": "Required. A set of keywords describing the skill's capabilities.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GuardrailModelSafetySafetySetting": {
      "type": "object",
      "id": "GuardrailModelSafetySafetySetting",
      "description": "Safety setting.",
      "properties": {
        "category": {
          "description": "Required. The harm category.",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content."
          ]
        },
        "threshold": {
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "description": "Required. The harm block threshold.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ]
        }
      }
    },
    "Changelog": {
      "id": "Changelog",
      "description": "Changelogs represent a change made to the app or to an resource within the app.",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of the change. It typically should be the display name of the resource that was changed."
        },
        "action": {
          "description": "Output only. The action that was performed on the resource.",
          "readOnly": true,
          "type": "string"
        },
        "dependentResources": {
          "description": "Output only. The dependent resources that were changed.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "type": "array",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource that was changed."
        },
        "description": {
          "description": "Output only. Description of the change. which typically captures the changed fields in the resource.",
          "readOnly": true,
          "type": "string"
        },
        "resourceType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the resource that was changed."
        },
        "createTime": {
          "description": "Output only. The time when the change was made.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "newResource": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true,
          "description": "Output only. The new resource after the change."
        },
        "originalResource": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "readOnly": true,
          "description": "Output only. The original resource before the change."
        },
        "sequenceNumber": {
          "format": "int64",
          "description": "Output only. The monotonically increasing sequence number of the changelog.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique identifier of the changelog. Format: `projects/{project}/locations/{location}/apps/{app}/changelogs/{changelog}`",
          "type": "string"
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the change author."
        }
      },
      "type": "object"
    },
    "Schema": {
      "id": "Schema",
      "description": "Represents a select subset of an OpenAPI 3.0 schema object.",
      "properties": {
        "prefixItems": {
          "type": "array",
          "description": "Optional. Schemas of initial elements of Type.ARRAY.",
          "items": {
            "$ref": "Schema"
          }
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Indicates if the value may be null."
        },
        "uniqueItems": {
          "description": "Optional. Indicate the items in the array must be unique. Only applies to TYPE.ARRAY.",
          "type": "boolean"
        },
        "maximum": {
          "type": "number",
          "description": "Optional. Maximum value for Type.INTEGER and Type.NUMBER.",
          "format": "double"
        },
        "minItems": {
          "type": "string",
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "String type.",
            "Integer type.",
            "Number type.",
            "Boolean type.",
            "Object type.",
            "Array type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "NUMBER",
            "BOOLEAN",
            "OBJECT",
            "ARRAY"
          ],
          "description": "Required. The type of the data."
        },
        "additionalProperties": {
          "$ref": "Schema",
          "description": "Optional. Can either be a boolean or an object, controls the presence of additional properties."
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "minimum": {
          "description": "Optional. Minimum value for Type.INTEGER and Type.NUMBER.",
          "format": "double",
          "type": "number"
        },
        "items": {
          "$ref": "Schema",
          "description": "Optional. Schema of the elements of Type.ARRAY."
        },
        "anyOf": {
          "type": "array",
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "items": {
            "$ref": "Schema"
          }
        },
        "maxItems": {
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "format": "int64",
          "type": "string"
        },
        "required": {
          "description": "Optional. Required properties of Type.OBJECT.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ref": {
          "type": "string",
          "description": "Optional. Allows indirect references between schema nodes. The value should be a valid reference to a child of the root `defs`. For example, the following schema defines a reference to a schema node named \"Pet\": ``` type: object properties: pet: ref: #/defs/Pet defs: Pet: type: object properties: name: type: string ``` The value of the \"pet\" property is a reference to the schema node named \"Pet\". See details in https://json-schema.org/understanding-json-schema/structuring."
        },
        "description": {
          "description": "Optional. The description of the data.",
          "type": "string"
        },
        "enum": {
          "description": "Optional. Possible values of the element of primitive type with enum format. Examples: 1. We can define direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]} 2. We can define apartment number as : {type:INTEGER, format:enum, enum:[\"101\", \"201\", \"301\"]}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "defs": {
          "description": "Optional. A map of definitions for use by `ref`. Only allowed at the root of the schema.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "properties": {
          "description": "Optional. Properties of Type.OBJECT.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          }
        }
      },
      "type": "object"
    },
    "AgentTransfer": {
      "type": "object",
      "id": "AgentTransfer",
      "description": "Represents an event indicating the transfer of a conversation to a different agent.",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the agent."
        },
        "targetAgent": {
          "type": "string",
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
        }
      }
    },
    "AgentInterface": {
      "id": "AgentInterface",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "properties": {
        "tenant": {
          "description": "Tenant ID to be used in the request when calling the agent.",
          "type": "string"
        },
        "protocolBinding": {
          "type": "string",
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`."
        },
        "protocolVersion": {
          "type": "string",
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\""
        },
        "url": {
          "type": "string",
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
        }
      },
      "type": "object"
    },
    "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "id": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
      "description": "Turn level metrics thresholds.",
      "properties": {
        "semanticSimilaritySuccessThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3."
        },
        "overallToolInvocationCorrectnessThreshold": {
          "type": "number",
          "format": "float",
          "description": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0."
        },
        "semanticSimilarityChannel": {
          "type": "string",
          "enumDescriptions": [
            "Metric unspecified. Defaults to TEXT.",
            "Use text semantic similarity.",
            "Use audio semantic similarity."
          ],
          "description": "Optional. The semantic similarity channel to use for evaluation.",
          "enum": [
            "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ]
        }
      },
      "type": "object"
    },
    "CloudLoggingSettings": {
      "type": "object",
      "id": "CloudLoggingSettings",
      "description": "Settings to describe the Cloud Logging behaviors for the app.",
      "properties": {
        "enableCloudLogging": {
          "description": "Optional. Whether to enable Cloud Logging for the sessions.",
          "type": "boolean"
        }
      }
    },
    "Callback": {
      "type": "object",
      "id": "Callback",
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "properties": {
        "proactiveExecutionEnabled": {
          "type": "boolean",
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations."
        },
        "pythonCode": {
          "description": "Required. The python code to execute for the callback.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent."
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the callback."
        }
      }
    },
    "OAuthConfig": {
      "type": "object",
      "id": "OAuthConfig",
      "description": "Configurations for authentication with OAuth.",
      "properties": {
        "clientSecretVersion": {
          "type": "string",
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token."
        },
        "scopes": {
          "description": "Optional. The OAuth scopes to grant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clientId": {
          "description": "Required. The client ID from the OAuth provider.",
          "type": "string"
        },
        "oauthGrantType": {
          "description": "Required. OAuth grant types.",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ]
        }
      }
    },
    "WidgetToolTextResponseConfig": {
      "type": "object",
      "id": "WidgetToolTextResponseConfig",
      "description": "Configuration for the text response returned with the widget.",
      "properties": {
        "textResponseInstruction": {
          "type": "string",
          "description": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The LLM dynamically decides whether to generate a text response alongside the widget based on the conversation context.",
            "The LLM is explicitly required to generate a text response.",
            "A pre-defined static text response is always used."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "LLM_GENERATED",
            "STATIC"
          ],
          "description": "Optional. The strategy for providing the text response."
        },
        "staticText": {
          "type": "string",
          "description": "Optional. The static text response to return when type is STATIC."
        }
      }
    },
    "ChannelProfileWebWidgetConfigSecuritySettings": {
      "type": "object",
      "id": "ChannelProfileWebWidgetConfigSecuritySettings",
      "description": "Security settings for the web widget.",
      "properties": {
        "enableOriginCheck": {
          "description": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins.",
          "type": "boolean"
        },
        "enableRecaptcha": {
          "type": "boolean",
          "description": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled."
        },
        "enablePublicAccess": {
          "description": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent.",
          "type": "boolean"
        },
        "allowedOrigins": {
          "description": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\"",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TlsConfigCaCert": {
      "id": "TlsConfigCaCert",
      "description": "The CA certificate.",
      "properties": {
        "cert": {
          "format": "byte",
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CitationsCitedChunk": {
      "type": "object",
      "id": "CitationsCitedChunk",
      "description": "Piece of cited information.",
      "properties": {
        "text": {
          "description": "Text used for citation.",
          "type": "string"
        },
        "title": {
          "description": "Title of the cited document.",
          "type": "string"
        },
        "requiresAttribution": {
          "type": "boolean",
          "description": "Whether this citation requires attribution to be shown to the end users."
        },
        "uri": {
          "type": "string",
          "description": "URI used for citation."
        }
      }
    },
    "AppSnapshot": {
      "id": "AppSnapshot",
      "description": "A snapshot of the app.",
      "properties": {
        "app": {
          "$ref": "App",
          "description": "Optional. The basic settings for the app."
        },
        "agents": {
          "type": "array",
          "description": "Optional. List of agents in the app.",
          "items": {
            "$ref": "Agent"
          }
        },
        "tools": {
          "type": "array",
          "description": "Optional. List of tools in the app.",
          "items": {
            "$ref": "Tool"
          }
        },
        "guardrails": {
          "type": "array",
          "description": "Optional. List of guardrails in the app.",
          "items": {
            "$ref": "Guardrail"
          }
        },
        "examples": {
          "description": "Optional. List of examples in the app.",
          "items": {
            "$ref": "Example"
          },
          "type": "array"
        },
        "toolsets": {
          "description": "Optional. List of toolsets in the app.",
          "items": {
            "$ref": "Toolset"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LfA2aV1AgentInterface": {
      "type": "object",
      "id": "LfA2aV1AgentInterface",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
        },
        "protocolBinding": {
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`.",
          "type": "string"
        },
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        },
        "tenant": {
          "type": "string",
          "description": "Optional. An opaque string used for routing requests to a specific agent or tenant when multiple agents are served behind a single A2A endpoint. When set, clients MUST include this value in the `tenant` field of all request messages sent to this interface. The server is responsible for interpreting the value and routing requests accordingly; the protocol does not define its format or semantics."
        }
      }
    },
    "ListDeploymentsResponse": {
      "type": "object",
      "id": "ListDeploymentsResponse",
      "description": "Response message for AgentService.ListDeployments.",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "items": {
            "$ref": "Deployment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "DataStoreToolEngineSource": {
      "type": "object",
      "id": "DataStoreToolEngineSource",
      "description": "Configuration for searching within an Engine, potentially targeting specific DataStores.",
      "properties": {
        "dataStoreSources": {
          "type": "array",
          "description": "Optional. Use to target specific DataStores within the Engine. If empty, the search applies to all DataStores associated with the Engine.",
          "items": {
            "$ref": "DataStoreToolDataStoreSource"
          }
        },
        "filter": {
          "description": "Optional. A filter applied to the search across the Engine. Not relevant and not used if 'data_store_sources' is provided. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "engine": {
          "description": "Required. Full resource name of the Engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
          "type": "string"
        }
      }
    },
    "DataStoreToolBoostSpecConditionBoostSpec": {
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpec",
      "description": "Boost specification for a condition.",
      "properties": {
        "condition": {
          "description": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))",
          "type": "string"
        },
        "boost": {
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "format": "float",
          "type": "number"
        },
        "boostControlSpec": {
          "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value."
        }
      }
    },
    "ListExamplesResponse": {
      "type": "object",
      "id": "ListExamplesResponse",
      "description": "Response message for AgentService.ListExamples.",
      "properties": {
        "examples": {
          "type": "array",
          "description": "The list of examples.",
          "items": {
            "$ref": "Example"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "PythonFunction": {
      "type": "object",
      "id": "PythonFunction",
      "description": "A Python function tool.",
      "properties": {
        "description": {
          "description": "Output only. The description of the Python function, parsed from the python code's docstring.",
          "readOnly": true,
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration for the tool."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used."
        },
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        }
      }
    },
    "ConversationLoggingSettings": {
      "type": "object",
      "id": "ConversationLoggingSettings",
      "description": "Settings to describe the conversation logging behaviors for the app.",
      "properties": {
        "disableConversationLogging": {
          "type": "boolean",
          "description": "Optional. Whether to disable conversation logging for the sessions."
        },
        "retentionWindow": {
          "description": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "AgentRemoteDialogflowAgent": {
      "id": "AgentRemoteDialogflowAgent",
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent.",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`"
        },
        "languageCodeVariable": {
          "description": "Optional. The name of the variable that contains the language code to be used for the Dialogflow session. If unspecified, the default language code of the Dialogflow agent will be used.",
          "type": "string"
        },
        "respectResponseInterruptionSettings": {
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings.",
          "type": "boolean"
        },
        "environmentId": {
          "type": "string",
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used."
        },
        "inputVariableMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input."
        },
        "outputVariableMapping": {
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "flowId": {
          "type": "string",
          "description": "Optional. The flow ID of the flow in the Dialogflow agent."
        }
      },
      "type": "object"
    },
    "ListChangelogsResponse": {
      "type": "object",
      "id": "ListChangelogsResponse",
      "description": "Response message for AgentService.ListChangelogs.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "changelogs": {
          "type": "array",
          "description": "The list of changelogs.",
          "items": {
            "$ref": "Changelog"
          }
        }
      }
    },
    "ExpressionCondition": {
      "type": "object",
      "id": "ExpressionCondition",
      "description": "Expression condition based on session state.",
      "properties": {
        "expression": {
          "description": "Required. The string representation of cloud.api.Expression condition.",
          "type": "string"
        }
      }
    },
    "ConnectorTool": {
      "id": "ConnectorTool",
      "description": "A ConnectorTool allows connections to different integrations. See: https://cloud.google.com/integration-connectors/docs/overview.",
      "properties": {
        "connection": {
          "description": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`",
          "type": "string"
        },
        "authConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the ConnectorTool creation will fail. See https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override for details."
        },
        "name": {
          "description": "Optional. The name of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the tool that can be used by the Agent to decide whether to call this ConnectorTool.",
          "type": "string"
        },
        "action": {
          "$ref": "Action",
          "description": "Required. Action for the tool to use."
        }
      },
      "type": "object"
    },
    "Chunk": {
      "id": "Chunk",
      "description": "A chunk of content within a message.",
      "properties": {
        "agentTransfer": {
          "$ref": "AgentTransfer",
          "description": "Optional. Agent transfer event."
        },
        "updatedVariables": {
          "description": "A struct represents variables that were updated in the conversation, keyed by variable names.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "blob": {
          "$ref": "Blob",
          "description": "Optional. Blob data."
        },
        "toolCall": {
          "description": "Optional. Tool execution request.",
          "$ref": "ToolCall"
        },
        "defaultVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A struct represents default variables at the start of the conversation, keyed by variable names."
        },
        "transcript": {
          "description": "Optional. Transcript associated with the audio.",
          "type": "string"
        },
        "payload": {
          "description": "Optional. Custom payload data.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "Optional. Tool execution response."
        },
        "text": {
          "description": "Optional. Text data.",
          "type": "string"
        },
        "image": {
          "$ref": "Image",
          "description": "Optional. Image data."
        }
      },
      "type": "object"
    },
    "Deployment": {
      "type": "object",
      "id": "Deployment",
      "description": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        },
        "modality": {
          "enum": [
            "MODALITY_UNSPECIFIED",
            "MODALITY_TEXT",
            "MODALITY_VOICE",
            "MODALITY_VIDEO"
          ],
          "description": "Optional. The modality of the deployment. Note: Deployment-level modality override is gated behind an allowlist. Contact the CXAS team to enable this field.",
          "type": "string",
          "enumDescriptions": [
            "Unknown modality.",
            "Text modality.",
            "Voice modality.",
            "Video modality."
          ]
        },
        "appVersion": {
          "type": "string",
          "description": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Model settings for the deployment. Overrides model settings configured at the app/agent levels. Note: Deployment-level model settings override is gated behind an allowlist. Contact the CXAS team to enable this field."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this deployment was created."
        },
        "whatsappCredentials": {
          "description": "Optional. Input only. Ephemeral WhatsApp credentials required when configuring a WhatsApp channel profile.",
          "$ref": "WhatsAppCredentials"
        },
        "instagramCredentials": {
          "$ref": "InstagramCredentials",
          "description": "Optional. Input only. Ephemeral Instagram credentials required when configuring a Instagram channel profile."
        },
        "channelProfile": {
          "description": "Required. The channel profile used in the deployment.",
          "$ref": "ChannelProfile"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this deployment was last updated.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the deployment."
        },
        "experimentConfig": {
          "$ref": "ExperimentConfig",
          "description": "Optional. Experiment configuration for the deployment."
        }
      }
    },
    "ListAppVersionsResponse": {
      "id": "ListAppVersionsResponse",
      "description": "Response message for AgentService.ListAppVersions.",
      "properties": {
        "appVersions": {
          "description": "The list of app versions.",
          "items": {
            "$ref": "AppVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "LfA2aV1OpenIdConnectSecurityScheme": {
      "type": "object",
      "id": "LfA2aV1OpenIdConnectSecurityScheme",
      "description": "Defines a security scheme using OpenID Connect.",
      "properties": {
        "openIdConnectUrl": {
          "description": "Required. The [OpenID Connect Discovery URL](https://openid.net/specs/openid-connect-discovery-1_0.html) for the OIDC provider's metadata.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "An optional description for the security scheme."
        }
      }
    },
    "AgentLlmAgent": {
      "type": "object",
      "id": "AgentLlmAgent",
      "description": "Default agent type. The agent uses instructions and callbacks specified in the agent to perform the task using a large language model.",
      "properties": {}
    },
    "Image": {
      "type": "object",
      "id": "Image",
      "description": "Represents an image input or output in the conversation.",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Required. Raw bytes of the image."
        }
      }
    },
    "VpcScSettings": {
      "id": "VpcScSettings",
      "description": "VPC-SC settings for the app.",
      "properties": {
        "allowedOrigins": {
          "type": "array",
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "WidgetToolDataMapping": {
      "type": "object",
      "id": "WidgetToolDataMapping",
      "description": "Configuration for mapping data from a source tool to the widget's input parameters.",
      "properties": {
        "mode": {
          "description": "Optional. The mode of the data mapping.",
          "enum": [
            "MODE_UNSPECIFIED",
            "FIELD_MAPPING",
            "PYTHON_SCRIPT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "Use the `field_mappings` map for data transformation.",
            "Use the `python_script` for data transformation."
          ]
        },
        "sourceToolName": {
          "type": "string",
          "description": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`"
        },
        "fieldMappings": {
          "description": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pythonScript": {
          "description": "Deprecated: Use `python_function` instead.",
          "deprecated": true,
          "type": "string"
        },
        "pythonFunction": {
          "description": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format.",
          "$ref": "PythonFunction"
        }
      }
    },
    "ApiKeyConfig": {
      "type": "object",
      "id": "ApiKeyConfig",
      "description": "Configurations for authentication with API key.",
      "properties": {
        "keyName": {
          "description": "Required. The parameter name or the header name of the API key. E.g., If the API request is \"https://example.com/act?X-Api-Key=\", \"X-Api-Key\" would be the parameter name.",
          "type": "string"
        },
        "apiKeySecretVersion": {
          "description": "Required. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "requestLocation": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value should not be used.",
            "Represents the key in http header.",
            "Represents the key in query string."
          ],
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ],
          "description": "Required. Key location in the request."
        }
      }
    },
    "GuardrailModelSafety": {
      "type": "object",
      "id": "GuardrailModelSafety",
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe.",
      "properties": {
        "safetySettings": {
          "type": "array",
          "description": "Required. List of safety settings.",
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          }
        }
      }
    },
    "WidgetTool": {
      "type": "object",
      "id": "WidgetTool",
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent.",
      "properties": {
        "widgetType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ],
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ],
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED."
        },
        "description": {
          "description": "Optional. The description of the widget tool.",
          "type": "string"
        },
        "dataMapping": {
          "$ref": "WidgetToolDataMapping",
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters."
        },
        "parameters": {
          "description": "Optional. The input parameters of the widget tool.",
          "$ref": "Schema"
        },
        "name": {
          "type": "string",
          "description": "Required. The display name of the widget tool."
        },
        "uiConfig": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Configuration for rendering the widget."
        },
        "textResponseConfig": {
          "$ref": "WidgetToolTextResponseConfig",
          "description": "Optional. Configuration for always-included text responses."
        }
      }
    },
    "Event": {
      "type": "object",
      "id": "Event",
      "description": "Event input.",
      "properties": {
        "event": {
          "description": "Required. The name of the event.",
          "type": "string"
        }
      }
    },
    "ListAppsResponse": {
      "type": "object",
      "id": "ListAppsResponse",
      "description": "Response message for AgentService.ListApps.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "apps": {
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          },
          "type": "array"
        }
      }
    },
    "DataStoreToolSummarizationConfig": {
      "type": "object",
      "id": "DataStoreToolSummarizationConfig",
      "description": "Summarization configuration.",
      "properties": {
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "prompt": {
          "description": "Optional. The prompt definition. If not set, default prompt will be used.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether summarization is disabled."
        }
      }
    },
    "TriggerActionGenerativeAnswer": {
      "type": "object",
      "id": "TriggerActionGenerativeAnswer",
      "description": "The agent will immediately respond with a generative answer.",
      "properties": {
        "prompt": {
          "description": "Required. The prompt to use for the generative answer.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "DataStoreToolSnippetsConfig": {
      "id": "DataStoreToolSnippetsConfig",
      "description": "Snippets configuration.",
      "properties": {
        "enableSnippets": {
          "type": "boolean",
          "description": "Optional. Whether snippets are enabled."
        }
      },
      "type": "object"
    },
    "SessionOutputDiagnosticInfo": {
      "id": "SessionOutputDiagnosticInfo",
      "description": "Contains execution details during the processing.",
      "properties": {
        "rootSpan": {
          "$ref": "Span",
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations."
        },
        "messages": {
          "description": "List of the messages that happened during the processing.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DataStoreConnectorConfig": {
      "type": "object",
      "id": "DataStoreConnectorConfig",
      "description": "The connector config for the data store connection.",
      "properties": {
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        },
        "collectionDisplayName": {
          "description": "Display name of the collection the data store belongs to.",
          "type": "string"
        },
        "dataSource": {
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`.",
          "type": "string"
        }
      }
    },
    "AgentTool": {
      "type": "object",
      "id": "AgentTool",
      "description": "Represents a tool that allows the agent to call another agent.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the tool's purpose."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the agent tool."
        },
        "agent": {
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        }
      }
    },
    "ToolCall": {
      "type": "object",
      "id": "ToolCall",
      "description": "Request for the client or the agent to execute the specified tool.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse."
        },
        "tool": {
          "type": "string",
          "description": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
        },
        "args": {
          "description": "Optional. The input parameters and values for the tool in JSON object format.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "displayName": {
          "description": "Output only. Display name of the tool.",
          "readOnly": true,
          "type": "string"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to execute.",
          "$ref": "ToolsetTool"
        }
      }
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "Optional. The name of the field whose value will be used to determine the boost amount."
        },
        "attributeType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "interpolationType": {
          "type": "string",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        },
        "controlPoints": {
          "type": "array",
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        }
      }
    },
    "Blob": {
      "type": "object",
      "id": "Blob",
      "description": "Represents a blob input or output in the conversation.",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GuardrailLlmPromptSecurity": {
      "type": "object",
      "id": "GuardrailLlmPromptSecurity",
      "description": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification.",
      "properties": {
        "defaultSettings": {
          "$ref": "GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "description": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
        },
        "customPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Use a user-defined LlmPolicy to configure the security guardrail."
        },
        "failOpen": {
          "description": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration.",
          "type": "boolean"
        }
      }
    },
    "BatchDeleteConversationsRequest": {
      "id": "BatchDeleteConversationsRequest",
      "description": "Request message for AgentService.BatchDeleteConversations.",
      "properties": {
        "conversations": {
          "type": "array",
          "description": "Required. The resource names of the conversations to delete.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Guardrail": {
      "id": "Guardrail",
      "description": "Guardrail contains a list of checks and balances to keep the agents safe and secure.",
      "properties": {
        "llmPromptSecurity": {
          "$ref": "GuardrailLlmPromptSecurity",
          "description": "Optional. Guardrail that blocks the conversation if the prompt is considered unsafe based on the LLM classification."
        },
        "action": {
          "$ref": "TriggerAction",
          "description": "Optional. Action to take when the guardrail is triggered."
        },
        "contentFilter": {
          "description": "Optional. Guardrail that bans certain content from being used in the conversation.",
          "$ref": "GuardrailContentFilter"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the guardrail."
        },
        "enabled": {
          "description": "Optional. Whether the guardrail is enabled.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the guardrail was created.",
          "format": "google-datetime"
        },
        "llmPolicy": {
          "$ref": "GuardrailLlmPolicy",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the guardrail was last updated."
        },
        "codeCallback": {
          "description": "Optional. Guardrail that potentially blocks the conversation based on the result of the callback execution.",
          "$ref": "GuardrailCodeCallback"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "modelSafety": {
          "$ref": "GuardrailModelSafety",
          "description": "Optional. Guardrail that blocks the conversation if the LLM response is considered unsafe based on the model safety settings."
        },
        "description": {
          "description": "Optional. Description of the guardrail.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InputAudioConfig": {
      "id": "InputAudioConfig",
      "description": "InputAudioConfig configures how the CES agent should interpret the incoming audio data.",
      "properties": {
        "audioEncoding": {
          "description": "Required. The encoding of the input audio data.",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MULAW",
            "ALAW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified audio encoding.",
            "16-bit linear PCM audio encoding.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law."
          ]
        },
        "noiseSuppressionLevel": {
          "type": "string",
          "description": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
        },
        "sampleRateHertz": {
          "description": "Required. The sample rate (in Hertz) of the input audio data.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ImportAppRequestImportOptions": {
      "id": "ImportAppRequestImportOptions",
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data.",
      "properties": {
        "conflictResolutionStrategy": {
          "type": "string",
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ],
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "description": "Optional. The strategy to use when resolving conflicts during import."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one."
        }
      },
      "type": "object"
    },
    "RestoreAppVersionRequest": {
      "type": "object",
      "id": "RestoreAppVersionRequest",
      "description": "Request message for AgentService.RestoreAppVersion",
      "properties": {}
    },
    "AudioProcessingConfig": {
      "id": "AudioProcessingConfig",
      "description": "Configuration for how the input and output audio should be processed and delivered.",
      "properties": {
        "synthesizeSpeechConfigs": {
          "description": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SynthesizeSpeechConfig"
          }
        },
        "bargeInConfig": {
          "description": "Optional. Configures the agent behavior for the user barge-in activities.",
          "$ref": "BargeInConfig"
        },
        "ambientSoundConfig": {
          "description": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation.",
          "$ref": "AmbientSoundConfig"
        },
        "inactivityTimeout": {
          "description": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "McpToolset": {
      "type": "object",
      "id": "McpToolset",
      "description": "A toolset that contains a list of tools that are offered by the MCP server.",
      "properties": {
        "customHeaders": {
          "description": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
[...]
