{
  "canonicalName": "Customer Engagement Suite",
  "protocol": "rest",
  "version": "v1beta",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "location": "us",
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "schemas": {
    "ExportEvaluationResultsRequest": {
      "description": "Request message for EvaluationService.ExportEvaluationResults.",
      "id": "ExportEvaluationResultsRequest",
      "properties": {
        "names": {
          "description": "Required. The resource names of the evaluation results to export.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exportOptions": {
          "$ref": "ExportOptions",
          "description": "Optional. The export options for the evaluation results."
        }
      },
      "type": "object"
    },
    "ExportEvaluationRunsRequest": {
      "id": "ExportEvaluationRunsRequest",
      "type": "object",
      "description": "Request message for EvaluationService.ExportEvaluationRuns.",
      "properties": {
        "exportOptions": {
          "$ref": "ExportOptions",
          "description": "Optional. The export options for the evaluation runs."
        },
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The resource names of the evaluation runs to export."
        }
      }
    },
    "TriggerAction": {
      "properties": {
        "transferAgent": {
          "$ref": "TriggerActionTransferAgent",
          "description": "Optional. Transfer the conversation to a different agent."
        },
        "generativeAnswer": {
          "$ref": "TriggerActionGenerativeAnswer",
          "description": "Optional. Respond with a generative answer."
        },
        "respondImmediately": {
          "description": "Optional. Immediately respond with a preconfigured response.",
          "$ref": "TriggerActionRespondImmediately"
        }
      },
      "type": "object",
      "description": "Action that is taken when a certain precondition is met.",
      "id": "TriggerAction"
    },
    "GuardrailModelSafety": {
      "properties": {
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "GuardrailModelSafetySafetySetting"
          },
          "description": "Required. List of safety settings."
        }
      },
      "description": "Model safety settings overrides. When this is set, it will override the default settings and trigger the guardrail if the response is considered unsafe.",
      "type": "object",
      "id": "GuardrailModelSafety"
    },
    "EvaluationStep": {
      "description": "A step defines a singular action to happen during the evaluation.",
      "type": "object",
      "properties": {
        "agentTransfer": {
          "$ref": "AgentTransfer",
          "description": "Optional. Transfer the conversation to a different agent."
        },
        "expectation": {
          "description": "Optional. Executes an expectation on the current turn.",
          "$ref": "EvaluationGoldenExpectation"
        },
        "userInput": {
          "description": "Optional. User input for the conversation.",
          "$ref": "SessionInput"
        }
      },
      "id": "EvaluationStep"
    },
    "AssistantConfirmationResponse": {
      "id": "AssistantConfirmationResponse",
      "properties": {
        "answerText": {
          "description": "The chosen option's submit_text, or free-form user text. The paused action is cancelled and the text is handed to the agent to act on.",
          "type": "string"
        },
        "confirmed": {
          "description": "Binary answer: true approves the paused action, false declines it.",
          "type": "boolean"
        },
        "confirmationId": {
          "type": "string",
          "description": "The AssistantConfirmationRequest.confirmation_id being answered."
        }
      },
      "type": "object",
      "description": "The user's answer to an AssistantConfirmationRequest, sent on the next SessionService.StreamChatAiAssistant call to resume the paused agent."
    },
    "GuardrailSupervisor": {
      "type": "object",
      "id": "GuardrailSupervisor",
      "properties": {
        "detectionMode": {
          "description": "Optional. The detection mode of the supervisor.",
          "type": "string",
          "enum": [
            "DETECTION_MODE_UNSPECIFIED",
            "NON_BLOCKING",
            "BLOCKING"
          ],
          "enumDescriptions": [
            "Detection mode is unspecified. Default to NON_BLOCKING.",
            "Non blocking detection mode. Response is not blocked when the supervisor detection is ongoing.",
            "Blocking detection mode. Response is blocked when the supervisor detection is ongoing."
          ]
        },
        "type": {
          "description": "Optional. The type of the supervisor.",
          "enumDescriptions": [
            "Type is unspecified.",
            "Invalid text issue type.",
            "Language shift issue type.",
            "Speaker shift issue type.",
            "Audio mismatch issue type.",
            "Missing tool call issue type.",
            "Custom issue type.",
            "Choppy audio issue type.",
            "Agent profanity issue type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INVALID_TEXT",
            "LANGUAGE_SHIFT",
            "SPEAKER_SHIFT",
            "AUDIO_MISMATCH",
            "MISSING_TOOL_CALL",
            "CUSTOM",
            "CHOPPY_AUDIO",
            "PROFANITY"
          ]
        }
      },
      "description": "Guardrail that runs supervisor intervention."
    },
    "CloudLoggingSettings": {
      "type": "object",
      "properties": {
        "enableCloudLogging": {
          "type": "boolean",
          "description": "Optional. Whether to enable Cloud Logging for the sessions."
        }
      },
      "description": "Settings to describe the Cloud Logging behaviors for the app.",
      "id": "CloudLoggingSettings"
    },
    "LfA2aV1DeviceCodeOAuthFlow": {
      "id": "LfA2aV1DeviceCodeOAuthFlow",
      "description": "Defines configuration details for the OAuth 2.0 Device Code flow (RFC 8628). This flow is designed for input-constrained devices such as IoT devices, and CLI tools where the user authenticates on a separate device.",
      "type": "object",
      "properties": {
        "deviceAuthorizationUrl": {
          "description": "Required. The device authorization endpoint URL.",
          "type": "string"
        },
        "tokenUrl": {
          "type": "string",
          "description": "Required. The token URL to be used for this flow."
        },
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens."
        },
        "scopes": {
          "description": "Required. The available scopes for the OAuth2 security scheme.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "QualityReportAgentIssues": {
      "type": "object",
      "description": "Issues identified for a single agent.",
      "id": "QualityReportAgentIssues",
      "properties": {
        "issues": {
          "type": "array",
          "items": {
            "$ref": "QualityReportIssue"
          },
          "description": "Optional. List of issues found for this agent."
        },
        "agent": {
          "description": "Optional. The name of the agent to which the issues are related. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        }
      }
    },
    "FileContext": {
      "id": "FileContext",
      "type": "object",
      "description": "Files to be used as context. Files can be provided as raw bytes.",
      "properties": {
        "fileBytes": {
          "description": "Optional. File provided as raw bytes.",
          "$ref": "FileContextFileBytes"
        }
      }
    },
    "ChannelProfile": {
      "type": "object",
      "properties": {
        "webWidgetConfig": {
          "$ref": "ChannelProfileWebWidgetConfig",
          "description": "Optional. The configuration for the web widget."
        },
        "noiseSuppressionLevel": {
          "description": "Optional. The noise suppression level of the channel profile. Available values are \"low\", \"moderate\", \"high\", \"very_high\".",
          "type": "string"
        },
        "whatsappConfig": {
          "$ref": "ChannelProfileWhatsAppConfig",
          "description": "Optional. Configuration specific to WhatsApp deployments."
        },
        "disableDtmf": {
          "type": "boolean",
          "description": "Optional. Whether to disable DTMF (dual-tone multi-frequency)."
        },
        "instagramConfig": {
          "description": "Optional. Configuration specific to Instagram deployments.",
          "$ref": "ChannelProfileInstagramConfig"
        },
        "personaProperty": {
          "$ref": "ChannelProfilePersonaProperty",
          "description": "Optional. The persona property of the channel profile."
        },
        "channelType": {
          "description": "Optional. The type of the channel profile.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "WEB_UI",
            "API",
            "TWILIO",
            "GOOGLE_TELEPHONY_PLATFORM",
            "CONTACT_CENTER_AS_A_SERVICE",
            "CONTACT_CENTER_AS_A_SERVICE_CHAT",
            "FIVE9",
            "CONTACT_CENTER_INTEGRATION",
            "WHATSAPP",
            "INSTAGRAM"
          ],
          "enumDescriptions": [
            "Unknown channel type.",
            "Web UI channel.",
            "API channel.",
            "Twilio channel.",
            "Google Telephony Platform channel.",
            "Contact Center as a Service (CCaaS) channel.",
            "Contact Center as a Service (CCaaS Chat) channel.",
            "Five9 channel.",
            "Third party contact center integration channel.",
            "WhatsApp channel.",
            "Instagram channel."
          ]
        },
        "profileId": {
          "type": "string",
          "description": "Optional. The unique identifier of the channel profile."
        },
        "disableBargeInControl": {
          "description": "Optional. Whether to disable user barge-in control in the conversation. - **true**: User interruptions are disabled while the agent is speaking. - **false**: The agent retains automatic control over when the user can interrupt.",
          "type": "boolean"
        }
      },
      "description": "A ChannelProfile configures the agent's behavior for a specific communication channel, such as web UI or telephony.",
      "id": "ChannelProfile"
    },
    "ImportAppRequest": {
      "id": "ImportAppRequest",
      "description": "Request message for AgentService.ImportApp.",
      "properties": {
        "jsonPatchGcsUri": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI pointing to a JSON file containing the patches."
        },
        "displayName": {
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "ignoreAppLock": {
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock.",
          "type": "boolean"
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`.",
          "type": "string"
        },
        "jsonPatchContent": {
          "description": "Optional. Patch content as a JSON string.",
          "type": "string"
        },
        "appContent": {
          "type": "string",
          "format": "byte",
          "description": "Raw bytes representing the compressed zip file with the app folder structure."
        },
        "appId": {
          "type": "string",
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced."
        },
        "importOptions": {
          "$ref": "ImportAppRequestImportOptions",
          "description": "Optional. Options governing the import process for the app."
        }
      },
      "type": "object"
    },
    "OptionQuestionsChunkOption": {
      "id": "OptionQuestionsChunkOption",
      "type": "object",
      "description": "A single selectable option.",
      "properties": {
        "details": {
          "description": "Optional trade-off details shown as secondary text.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Short plain-text option title (no markdown, no numbering)."
        },
        "submitText": {
          "description": "Optional message text to send when the option is chosen; defaults to `title` when empty.",
          "type": "string"
        }
      }
    },
    "GenerateEvaluationRequest": {
      "description": "Request message for EvaluationService.GenerateEvaluation.",
      "id": "GenerateEvaluationRequest",
      "type": "object",
      "properties": {
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "deprecated": true,
          "type": "string",
          "description": "Optional. Indicate the source of the conversation. If not set, all sources will be searched."
        },
        "evaluationType": {
          "enumDescriptions": [
            "Unspecified type. Defaults to GOLDEN.",
            "Golden evaluation.",
            "Scenario evaluation."
          ],
          "description": "Optional. The type of evaluation to generate. Defaults to GOLDEN if unspecified.",
          "type": "string",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "GOLDEN",
            "SCENARIO"
          ]
        }
      }
    },
    "RunAssistantRequest": {
      "description": "Request message for AssistantService.RunAssistant.",
      "id": "RunAssistantRequest",
      "type": "object",
      "properties": {
        "assistantSession": {
          "type": "string",
          "description": "Required. The assistant session to be used to run the assistant. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistant_session}`"
        },
        "interactionType": {
          "description": "Optional. Different interaction types for the assistant message.",
          "enumDescriptions": [
            "The default value. This value is used if the type is not specified.",
            "The message is a user input. User input is provided in the chunk list.",
            "The message is for polling the state of the assistant session.",
            "The message is to dismiss the assistant session pending review. This will change the state of the assistant session to idle."
          ],
          "type": "string",
          "enum": [
            "INTERACTION_TYPE_UNSPECIFIED",
            "NEW_MESSAGE",
            "POLL",
            "DISMISS"
          ]
        },
        "message": {
          "$ref": "AssistantMessage",
          "description": "Required. The message to send to the assistant agent."
        }
      }
    },
    "ListAppVersionsResponse": {
      "type": "object",
      "id": "ListAppVersionsResponse",
      "properties": {
        "appVersions": {
          "description": "The list of app versions.",
          "type": "array",
          "items": {
            "$ref": "AppVersion"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for AgentService.ListAppVersions."
    },
    "GuardrailLlmPolicy": {
      "properties": {
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Model settings."
        },
        "maxConversationMessages": {
          "type": "integer",
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used.",
          "format": "int32"
        },
        "policyScope": {
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ],
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond.",
          "type": "string",
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ]
        },
        "failOpen": {
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail.",
          "type": "boolean"
        },
        "allowShortUtterance": {
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped.",
          "type": "boolean"
        },
        "prompt": {
          "type": "string",
          "description": "Required. Policy prompt."
        }
      },
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
      "id": "GuardrailLlmPolicy",
      "type": "object"
    },
    "EvaluationConfig": {
      "id": "EvaluationConfig",
      "properties": {
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "outputAudioConfig": {
          "$ref": "OutputAudioConfig",
          "description": "Optional. Configuration for generating the output audio."
        },
        "evaluationChannel": {
          "enumDescriptions": [
            "Unspecified evaluation channel.",
            "Text-only evaluation channel.",
            "Audio evaluation channel."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "description": "Optional. The channel to evaluate."
        },
        "toolCallBehaviour": {
          "description": "Optional. Specifies whether the evaluation should use real tool calls or fake tools.",
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ]
        }
      },
      "description": "EvaluationConfig configures settings for running the evaluation.",
      "type": "object"
    },
    "AggregatedMetricsMetricsByAppVersion": {
      "id": "AggregatedMetricsMetricsByAppVersion",
      "type": "object",
      "description": "Metrics aggregated per app version.",
      "properties": {
        "passCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of times the evaluation passed."
        },
        "failCount": {
          "description": "Output only. The number of times the evaluation failed.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "semanticSimilarityMetrics": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Metrics for semantic similarity within this app version.",
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          }
        },
        "toolMetrics": {
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Metrics for each tool within this app version."
        },
        "appVersionId": {
          "description": "Output only. The app version ID.",
          "type": "string",
          "readOnly": true
        },
        "turnLatencyMetrics": {
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          },
          "description": "Output only. Metrics for turn latency within this app version.",
          "readOnly": true,
          "type": "array"
        },
        "hallucinationMetrics": {
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          },
          "type": "array",
          "description": "Output only. Metrics for hallucination within this app version.",
          "readOnly": true
        },
        "metricsByTurn": {
          "items": {
            "$ref": "AggregatedMetricsMetricsByTurn"
          },
          "type": "array",
          "description": "Output only. Metrics aggregated per turn within this app version.",
          "readOnly": true
        },
        "toolCallLatencyMetrics": {
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          },
          "description": "Output only. Metrics for tool call latency within this app version.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "GuardrailModelSafetySafetySetting": {
      "properties": {
        "category": {
          "description": "Required. The harm category.",
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_PROFANITY",
            "HARM_CATEGORY_TOXIC"
          ],
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is profanity.",
            "The harm category is toxic."
          ]
        },
        "threshold": {
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "description": "Required. The harm block threshold.",
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ]
        }
      },
      "type": "object",
      "id": "GuardrailModelSafetySafetySetting",
      "description": "Safety setting."
    },
    "AgentCard": {
      "id": "AgentCard",
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard",
      "type": "object",
      "properties": {
        "version": {
          "description": "Required. The version of the agent.",
          "type": "string"
        },
        "supportedInterfaces": {
          "type": "array",
          "items": {
            "$ref": "AgentInterface"
          },
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred."
        },
        "skills": {
          "items": {
            "$ref": "AgentSkill"
          },
          "type": "array",
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at."
        },
        "name": {
          "type": "string",
          "description": "Required. A human-readable name for the agent."
        },
        "description": {
          "description": "Required. A description of the agent's domain of action/solution space.",
          "type": "string"
        }
      }
    },
    "GenerateAppResourceResponseEvaluations": {
      "id": "GenerateAppResourceResponseEvaluations",
      "type": "object",
      "properties": {
        "evaluations": {
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of generated evaluations."
        }
      },
      "description": "The list of evaluations generated by the LLM assistant."
    },
    "ScheduledEvaluationRunSchedulingConfig": {
      "description": "Eval scheduling configuration details",
      "properties": {
        "daysOfWeek": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Optional. The days of the week to run the eval. Applicable only for Weekly and Biweekly frequencies. 1 is Monday, 2 is Tuesday, ..., 7 is Sunday."
        },
        "frequency": {
          "description": "Required. The frequency with which to run the eval",
          "enumDescriptions": [
            "The frequency is unspecified.",
            "Indicates a one-time scheduled run that should not repeat",
            "Run the evaluation daily.",
            "Run the evaluation weekly.",
            "Run the evaluation biweekly."
          ],
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "NONE",
            "DAILY",
            "WEEKLY",
            "BIWEEKLY"
          ]
        },
        "startTime": {
          "type": "string",
          "description": "Required. Timestamp when the eval should start.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "ScheduledEvaluationRunSchedulingConfig"
    },
    "AggregatedMetricsToolCallLatencyMetrics": {
      "properties": {
        "averageLatency": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The average latency of the tool calls.",
          "format": "google-duration"
        },
        "tool": {
          "description": "Output only. The name of the tool.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metrics for tool call latency.",
      "id": "AggregatedMetricsToolCallLatencyMetrics"
    },
    "ExperimentConfigVersionRelease": {
      "id": "ExperimentConfigVersionRelease",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "EXPIRED"
          ],
          "description": "Optional. State of the version release.",
          "enumDescriptions": [
            "Unspecified state.",
            "Deprecated: This state is no longer used.",
            "Running state. Experiment is running and valid.",
            "Deprecated: This state is no longer used.",
            "Deprecated: This state is no longer used."
          ]
        },
        "trafficAllocations": {
          "items": {
            "$ref": "ExperimentConfigVersionReleaseTrafficAllocation"
          },
          "description": "Optional. Traffic allocations for the version release.",
          "type": "array"
        }
      },
      "description": "Version release for the experiment."
    },
    "LfA2aV1AgentInterface": {
      "properties": {
        "protocolVersion": {
          "description": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\"",
          "type": "string"
        },
        "tenant": {
          "type": "string",
          "description": "Optional. An opaque string used for routing requests to a specific agent or tenant when multiple agents are served behind a single A2A endpoint. When set, clients MUST include this value in the `tenant` field of all request messages sent to this interface. The server is responsible for interpreting the value and routing requests accordingly; the protocol does not define its format or semantics."
        },
        "url": {
          "description": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\"",
          "type": "string"
        },
        "protocolBinding": {
          "type": "string",
          "description": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`."
        }
      },
      "type": "object",
      "description": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms.",
      "id": "LfA2aV1AgentInterface"
    },
    "LfA2aV1SecurityRequirement": {
      "type": "object",
      "id": "LfA2aV1SecurityRequirement",
      "properties": {
        "schemes": {
          "type": "object",
          "description": "A map of security schemes to the required scopes.",
          "additionalProperties": {
            "$ref": "LfA2aV1StringList"
          }
        }
      },
      "description": "Defines the security requirements for an agent."
    },
    "SessionOutputDiagnosticInfo": {
      "description": "Contains execution details during the processing.",
      "type": "object",
      "id": "SessionOutputDiagnosticInfo",
      "properties": {
        "rootSpan": {
          "description": "A trace of the entire request processing, represented as a root span. This span can contain nested child spans for specific operations.",
          "$ref": "Span"
        },
        "messages": {
          "description": "List of the messages that happened during the processing.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        }
      }
    },
    "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
      "properties": {
        "attributeType": {
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. E.g. `5D`, `3DT12H30M`, `T24H`."
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value)."
        },
        "controlPoints": {
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "type": "array",
          "items": {
            "$ref": "DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        },
        "fieldName": {
          "type": "string",
          "description": "Optional. The name of the field whose value will be used to determine the boost amount."
        },
        "interpolationType": {
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        }
      },
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "type": "object"
    },
    "LfA2aV1AgentCardSignature": {
      "properties": {
        "protected": {
          "type": "string",
          "description": "Required. Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object."
        },
        "header": {
          "description": "The unprotected JWS header values.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "signature": {
          "type": "string",
          "description": "Required. The computed signature, base64url-encoded."
        }
      },
      "id": "LfA2aV1AgentCardSignature",
      "type": "object",
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS)."
    },
    "EvaluationResultSpanLatency": {
      "id": "EvaluationResultSpanLatency",
      "type": "object",
      "description": "The latency of a span execution.",
      "properties": {
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The start time of span."
        },
        "executionLatency": {
          "type": "string",
          "description": "Output only. The latency of span.",
          "readOnly": true,
          "format": "google-duration"
        },
        "callback": {
          "description": "Output only. The name of the user callback span.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The display name of the span. Applicable to tool and guardrail spans.",
          "readOnly": true,
          "type": "string"
        },
        "resource": {
          "description": "Output only. The resource name of the guardrail or tool spans.",
          "readOnly": true,
          "type": "string"
        },
        "model": {
          "description": "Output only. The name of the LLM span.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOOL",
            "USER_CALLBACK",
            "GUARDRAIL",
            "LLM"
          ],
          "description": "Output only. The type of span.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tool call span.",
            "User callback span.",
            "Guardrail span.",
            "LLM span."
          ]
        },
        "toolset": {
          "$ref": "ToolsetTool",
          "description": "Output only. The toolset tool identifier.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of span.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GenerateAppResourceResponse": {
      "description": "Response message for AgentService.GenerateAppResource.",
      "properties": {
        "agent": {
          "description": "Agent generated by the LLM assistant.",
          "$ref": "Agent"
        },
        "appResources": {
          "description": "The app resources generated by the LLM assistant.",
          "$ref": "GenerateAppResourceResponseAppResources"
        },
        "evaluations": {
          "description": "Evaluations generated by the LLM assistant.",
          "$ref": "GenerateAppResourceResponseEvaluations"
        },
        "appSnapshot": {
          "$ref": "AppSnapshot",
          "description": "App snapshot generated by the LLM assistant. This snapshot contains the app, agents & tools generated by the LLM assistant."
        },
        "generateResultInfo": {
          "$ref": "GenerateAppResourceResponseGenerateResultInfo",
          "description": "Additional information about the generated result."
        },
        "tools": {
          "$ref": "GenerateAppResourceResponseTools",
          "description": "The list of tools generated by the LLM assistant."
        },
        "toolset": {
          "$ref": "Toolset",
          "description": "Toolset generated by the LLM assistant. Supports Open API toolset schema generation."
        },
        "qualityReport": {
          "$ref": "QualityReport",
          "description": "The quality report generated by the LLM assistant."
        }
      },
      "id": "GenerateAppResourceResponse",
      "type": "object"
    },
    "ExportEvaluationsResponse": {
      "description": "Response message for EvaluationService.ExportEvaluations.",
      "type": "object",
      "properties": {
        "evaluationsUri": {
          "description": "The Google Cloud Storage URI folder where the exported evaluations were written. This will be populated if gcs_uri was specified in the request.",
          "type": "string"
        },
        "evaluationsContent": {
          "type": "string",
          "description": "The content of the exported Evaluations. This will be populated if gcs_uri was not specified in the request.",
          "format": "byte"
        },
        "failedEvaluations": {
          "readOnly": true,
          "description": "Output only. A map of evaluation resource names that could not be exported, to the reason why they failed.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ExportEvaluationsResponse"
    },
    "AgentTransfer": {
      "properties": {
        "targetAgent": {
          "description": "Required. The agent to which the conversation is being transferred. The agent will handle the conversation from this point forward. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name of the agent.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "AgentTransfer",
      "description": "Represents an event indicating the transfer of a conversation to a different agent."
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "type": "object",
      "properties": {
        "oauthToken": {
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      },
      "description": "Oauth 2.0 Authorization Code authentication configuration."
    },
    "ModelSettings": {
      "id": "ModelSettings",
      "description": "Model settings contains various configurations for the LLM model.",
      "properties": {
        "thinkingLevel": {
          "description": "Optional. The thinking level of the model.",
          "type": "string",
          "enum": [
            "THINKING_LEVEL_UNSPECIFIED",
            "DEFAULT",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "Thinking level is unspecified.",
            "Default thinking level.",
            "Low thinking level.",
            "Medium thinking level.",
            "High thinking level."
          ]
        },
        "model": {
          "type": "string",
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent."
        },
        "temperature": {
          "type": "number",
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative.",
          "format": "double"
        }
      },
      "type": "object"
    },
    "EvaluationResultGoldenExpectationOutcomeToolInvocationResult": {
      "type": "object",
      "description": "The result of the tool invocation check.",
      "id": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
      "properties": {
        "outcome": {
          "readOnly": true,
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the parameter_correctness_score to the threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "type": "string"
        },
        "explanation": {
          "type": "string",
          "description": "Output only. A free text explanation for the tool invocation result.",
          "readOnly": true
        },
        "parameterCorrectnessScore": {
          "description": "Output only. The tool invocation parameter correctness score. This indicates the percent of parameters from the expected tool call that were also present in the actual tool call.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        }
      }
    },
    "EvaluationMetricsConfigSemanticSimilarityMetricsConfig": {
      "properties": {
        "enableSemanticSimilarityMetrics": {
          "description": "Optional. Whether to calculate semantic similarity metrics for the evaluation.",
          "type": "boolean"
        }
      },
      "id": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig",
      "description": "Configuration for similarity metrics for the evaluation. To disable the metric, set the message but do not set the `enable_semantic_similarity_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "type": "object"
    },
    "BearerTokenConfig": {
      "type": "object",
      "id": "BearerTokenConfig",
      "description": "Configurations for authentication with a bearer token.",
      "properties": {
        "token": {
          "description": "Required. The bearer token. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      }
    },
    "DataStoreToolBoostSpecs": {
      "properties": {
        "spec": {
          "description": "Required. A list of boosting specifications.",
          "items": {
            "$ref": "DataStoreToolBoostSpec"
          },
          "type": "array"
        },
        "dataStores": {
          "description": "Required. The Data Store where the boosting configuration is applied. Full resource name of DataStore, such as projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "DataStoreToolBoostSpecs",
      "description": "Boost specifications to boost certain documents. For more information, please refer to https://cloud.google.com/generative-ai-app-builder/docs/boosting.",
      "type": "object"
    },
    "AssistantMessage": {
      "type": "object",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "Required. Timestamp when the message was sent or received.",
          "type": "string"
        },
        "attachedGcsUris": {
          "description": "Optional. Cloud Storage URIs for files uploaded by the user during this turn. This allows attachments to be persisted and rendered in the session history UI. Example: \"gs://cxas-transient-uploads/uuid/prd.pdf\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Required. Role within the conversation \"user\" or \"model\".",
          "type": "string"
        },
        "chunks": {
          "type": "array",
          "items": {
            "$ref": "AssistantChunk"
          },
          "description": "Optional. Content of the message as chunks."
        }
      },
      "id": "AssistantMessage",
      "description": "A message in an assistant session."
    },
    "GenerateAppResourceRequestHillClimbingFixConfig": {
      "type": "object",
      "description": "The configuration to be used for hill climbing fixes.",
      "id": "GenerateAppResourceRequestHillClimbingFixConfig",
      "properties": {
        "qualityReport": {
          "description": "Required. The quality report used to inform the instruction following fix.",
          "$ref": "QualityReport"
        }
      }
    },
    "TriggerActionResponse": {
      "id": "TriggerActionResponse",
      "description": "Represents a response from the agent.",
      "properties": {
        "disabled": {
          "description": "Optional. Whether the response is disabled. Disabled responses are not used by the agent.",
          "type": "boolean"
        },
        "text": {
          "description": "Required. Text for the agent to respond with.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImportEvaluationsRequest": {
      "properties": {
        "csvContent": {
          "description": "Raw bytes representing the csv file with the evaluations structure.",
          "type": "string",
          "format": "byte"
        },
        "importOptions": {
          "$ref": "ImportEvaluationsRequestImportOptions",
          "description": "Optional. Options governing the import process for the evaluations."
        },
        "conversationList": {
          "description": "The conversations to import the evaluations from.",
          "$ref": "ImportEvaluationsRequestConversationList"
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import evaluations. The format of this URI must be `gs:///`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for EvaluationService.ImportEvaluations.",
      "id": "ImportEvaluationsRequest"
    },
    "GoogleSearchToolPromptConfig": {
      "type": "object",
      "properties": {
        "voicePrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used.",
          "type": "string"
        },
        "textPrompt": {
          "description": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used.",
          "type": "string"
        }
      },
      "id": "GoogleSearchToolPromptConfig",
      "description": "Prompt settings used by the model when processing or summarizing the google search results."
    },
    "LfA2aV1AgentExtension": {
      "type": "object",
      "id": "LfA2aV1AgentExtension",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The unique URI identifying the extension."
        },
        "params": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Extension-specific configuration parameters."
        },
        "required": {
          "type": "boolean",
          "description": "If true, the client must understand and comply with the extension's requirements."
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of how this agent uses the extension."
        }
      },
      "description": "A declaration of a protocol extension supported by an Agent."
    },
    "ServiceDirectoryConfig": {
      "type": "object",
      "description": "Configuration for tools using Service Directory.",
      "id": "ServiceDirectoryConfig",
      "properties": {
        "service": {
          "type": "string",
          "description": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app."
        }
      }
    },
    "CancelAssistantTurnResponse": {
      "properties": {
        "cancelled": {
          "description": "Whether an in-flight turn was found and asked to stop (directly on this task, or through an epoch preemption for a turn hosted elsewhere).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Response for CancelAssistantTurn.",
      "id": "CancelAssistantTurnResponse"
    },
    "TurnHandoffEvent": {
      "description": "Emitted before this task stops serving the stream mid-turn (e.g. a server restart). The turn's state is persisted; a reconnect carrying resume_from_sequence_number continues it on another task.",
      "id": "TurnHandoffEvent",
      "type": "object",
      "properties": {
        "turnId": {
          "type": "string",
          "description": "Identifies the turn to resume."
        },
        "reason": {
          "description": "Why the stream is handing off.",
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "SERVER_RESTART"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The serving task is shutting down (release push or rescheduling)."
          ]
        }
      }
    },
    "CitationsCitedChunk": {
      "id": "CitationsCitedChunk",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI used for citation."
        },
        "title": {
          "type": "string",
          "description": "Title of the cited document."
        },
        "text": {
          "description": "Text used for citation.",
          "type": "string"
        },
        "requiresAttribution": {
          "description": "Whether this citation requires attribution to be shown to the end users.",
          "type": "boolean"
        }
      },
      "description": "Piece of cited information.",
      "type": "object"
    },
    "GenerateEvaluationOperationMetadata": {
      "description": "Operation metadata for EvaluationService.GenerateEvaluation.",
      "id": "GenerateEvaluationOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "EvaluationScenario": {
      "id": "EvaluationScenario",
      "description": "The config for a scenario",
      "properties": {
        "taskCompletionBehavior": {
          "enumDescriptions": [
            "Behavior unspecified. Will default to TASK_SATISFIED.",
            "The user task should be completed successfully.",
            "The user task should be rejected."
          ],
          "type": "string",
          "description": "Optional. Deprecated. Use user_goal_behavior instead.",
          "enum": [
            "TASK_COMPLETION_BEHAVIOR_UNSPECIFIED",
            "TASK_SATISFIED",
            "TASK_REJECTED"
          ],
          "deprecated": true
        },
        "userGoalBehavior": {
          "description": "Optional. The expected behavior of the user goal.",
          "type": "string",
          "enum": [
            "USER_GOAL_BEHAVIOR_UNSPECIFIED",
            "USER_GOAL_SATISFIED",
            "USER_GOAL_REJECTED",
            "USER_GOAL_IGNORED"
          ],
          "enumDescriptions": [
            "Behavior unspecified. Will default to USER_GOAL_SATISFIED.",
            "The user goal should be completed successfully.",
            "The user goal should be rejected.",
            "Ignore the user goal status."
          ]
        },
        "maxTurns": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of turns to simulate. The maximum allowed value is 100. The default value is 100."
        },
        "evaluationExpectations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The evaluation expectations to evaluate the conversation produced by the simulation against. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluationExpectation}`"
        },
        "rubrics": {
          "type": "array",
          "description": "Required. The rubrics to score the scenario against.",
          "items": {
            "type": "string"
          }
        },
        "scenarioExpectations": {
          "description": "Required. The ScenarioExpectations to evaluate the conversation produced by the user simulation.",
          "type": "array",
          "items": {
            "$ref": "EvaluationScenarioExpectation"
          }
        },
        "userFacts": {
          "description": "Optional. The user facts to be used by the scenario.",
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          },
          "type": "array"
        },
        "variableOverrides": {
          "type": "object",
          "description": "Optional. Variables / Session Parameters as context for the session, keyed by variable names. Members of this struct will override any default values set by the system. Note, these are different from user facts, which are facts known to the user. Variables are parameters known to the agent: i.e. MDN (phone number) passed by the telephony system.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "task": {
          "description": "Required. The task to be targeted by the scenario.",
          "type": "string"
        },
        "scenarioExecutionMode": {
          "description": "Optional. The execution mode for scenario evaluations.",
          "type": "string",
          "enum": [
            "SCENARIO_EXECUTION_MODE_UNSPECIFIED",
            "QUALITY_OPTIMIZED",
            "SPEED_OPTIMIZED"
          ],
          "enumDescriptions": [
            "Unspecified execution mode. Defaults to QUALITY_OPTIMIZED.",
            "Quality optimized mode.",
            "Speed optimized mode."
          ]
        }
      },
      "type": "object"
    },
    "ImportAppRequestImportOptions": {
      "id": "ImportAppRequestImportOptions",
      "properties": {
        "conflictResolutionStrategy": {
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Replace existing data with imported data. If an app with the same `app_id` already exists, its content will be updated based on the imported app. - Resources (App, Agents, Tools, Examples, Guardrails, Toolsets) in the imported app that have the same display name as existing resources will overwrite the existing ones. - Imported resources with new display names will be created. - Existing resources that do not have a matching display name in the imported app will remain untouched.",
            "Overwrite existing data with imported data. If an app with the same `app_id` already exists, its content will be overwritten with the imported app. - Existing resources (Agents, Tools, Examples, Guardrails, Toolsets) in the app will be deleted. - Imported resources will be created as new resources."
          ],
          "type": "string",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "REPLACE",
            "OVERWRITE"
          ],
          "description": "Optional. The strategy to use when resolving conflicts during import."
        },
        "validateOnly": {
          "description": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data."
    },
    "DataStoreToolRewriterConfig": {
      "id": "DataStoreToolRewriterConfig",
      "description": "Rewriter configuration.",
      "type": "object",
      "properties": {
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Required. Configurations for the LLM model."
        },
        "prompt": {
          "type": "string",
          "description": "Optional. The prompt definition. If not set, default prompt will be used."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the rewriter is disabled."
        }
      }
    },
    "DataStoreToolDataStoreSource": {
      "id": "DataStoreToolDataStoreSource",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. Filter specification for the DataStore. See: https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata",
          "type": "string"
        },
        "dataStore": {
          "$ref": "DataStore",
          "description": "Optional. The data store."
        }
      },
      "description": "Configuration for searching within a specific DataStore."
    },
    "EvaluationResultGoldenResultTurnReplayResult": {
      "id": "EvaluationResultGoldenResultTurnReplayResult",
      "type": "object",
      "description": "The result of running a single turn of the golden conversation.",
      "properties": {
        "semanticSimilarityResult": {
          "description": "Output only. The result of the semantic similarity check.",
          "$ref": "EvaluationResultSemanticSimilarityResult",
          "readOnly": true
        },
        "spanLatencies": {
          "readOnly": true,
          "description": "Output only. The latency of spans in the turn.",
          "items": {
            "$ref": "EvaluationResultSpanLatency"
          },
          "type": "array"
        },
        "toolOrderedInvocationScore": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. The overall tool ordered invocation score for this turn. This indicates the overall percent of tools from the expected turn that were actually invoked in the expected order."
        },
        "hallucinationResult": {
          "description": "Output only. The result of the hallucination check.",
          "$ref": "EvaluationResultHallucinationResult",
          "readOnly": true
        },
        "overallToolInvocationResult": {
          "$ref": "EvaluationResultOverallToolInvocationResult",
          "readOnly": true,
          "description": "Output only. The result of the overall tool invocation check."
        },
        "toolCallLatencies": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultToolCallLatency"
          },
          "description": "Output only. The latency of each tool call in the turn."
        },
        "errorInfo": {
          "readOnly": true,
          "description": "Output only. Information about the error that occurred during this turn.",
          "$ref": "EvaluationErrorInfo"
        },
        "toolInvocationScore": {
          "type": "number",
          "readOnly": true,
          "format": "float",
          "deprecated": true,
          "description": "Output only. Deprecated. Use OverallToolInvocationResult instead."
        },
        "conversation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The conversation that was generated for this turn."
        },
        "turnLatency": {
          "description": "Output only. Duration of the turn.",
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        },
        "expectationOutcome": {
          "description": "Output only. The outcome of each expectation.",
          "readOnly": true,
          "items": {
            "$ref": "EvaluationResultGoldenExpectationOutcome"
          },
          "type": "array"
        }
      }
    },
    "EvaluationResultGoldenExpectationOutcome": {
      "id": "EvaluationResultGoldenExpectationOutcome",
      "description": "Specifies the expectation and the result of that expectation.",
      "properties": {
        "toolInvocationResult": {
          "$ref": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
          "readOnly": true,
          "description": "Output only. The result of the tool invocation check."
        },
        "observedToolCall": {
          "description": "Output only. The result of the tool call expectation.",
          "readOnly": true,
          "$ref": "ToolCall"
        },
        "semanticSimilarityResult": {
          "description": "Output only. The result of the semantic similarity check.",
          "readOnly": true,
          "deprecated": true,
          "$ref": "EvaluationResultSemanticSimilarityResult"
        },
        "observedAgentTransfer": {
          "description": "Output only. The result of the agent transfer expectation.",
          "$ref": "AgentTransfer",
          "readOnly": true
        },
        "outcome": {
          "type": "string",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true,
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "description": "Output only. The outcome of the expectation."
        },
        "expectation": {
          "$ref": "EvaluationGoldenExpectation",
          "readOnly": true,
          "description": "Output only. The expectation that was evaluated."
        },
        "observedToolResponse": {
          "readOnly": true,
          "$ref": "ToolResponse",
          "description": "Output only. The result of the tool response expectation."
        },
        "observedAgentResponse": {
          "readOnly": true,
          "$ref": "Message",
          "description": "Output only. The result of the agent response expectation."
        },
        "observedPayload": {
          "readOnly": true,
          "description": "Output only. An observed custom payload. There are no expectations for custom payloads. This is only used for metrics calculation. The outcome is always SKIPPED.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "MockConfig": {
      "id": "MockConfig",
      "description": "Mock tool calls configuration for the session.",
      "properties": {
        "unmatchedToolCallBehavior": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Throw an error for any tool calls that don't match a mock expected input pattern.",
            "For unmatched tool calls, pass the tool call through to real tool."
          ],
          "type": "string",
          "enum": [
            "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED",
            "FAIL",
            "PASS_THROUGH"
          ],
          "description": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls."
        },
        "mockedToolCalls": {
          "type": "array",
          "description": "Optional. All tool calls to mock for the duration of the session.",
          "items": {
            "$ref": "MockedToolCall"
          }
        }
      },
      "type": "object"
    },
    "ImportEvaluationsRequestImportOptions": {
      "properties": {
        "conflictResolutionStrategy": {
          "description": "Optional. The strategy to use when resolving conflicts during import.",
          "type": "string",
          "enum": [
            "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED",
            "OVERWRITE",
            "SKIP",
            "DUPLICATE"
          ],
          "enumDescriptions": [
            "The conflict resolution strategy is unspecified.",
            "Overwrite the existing evaluation with the new one.",
            "Keep the existing evaluation and skip the new one.",
            "Keep the existing evaluation and duplicate the new one as a new evaluation."
          ]
        }
      },
      "description": "Configuration options for the evaluation import process. These options control how the import behaves, particularly when conflicts arise with existing evaluations data.",
      "id": "ImportEvaluationsRequestImportOptions",
      "type": "object"
    },
    "EvaluationMetricsThresholds": {
      "description": "Threshold settings for metrics in an Evaluation.",
      "type": "object",
      "properties": {
        "goldenEvaluationMetricsThresholds": {
          "description": "Optional. The golden evaluation metrics thresholds.",
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholds"
        },
        "scenarioHallucinationMetricBehavior": {
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "description": "Optional. The hallucination metric behavior for scenario evaluations."
        },
        "hallucinationMetricBehavior": {
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. Deprecated: Use `golden_hallucination_metric_behavior` instead. The hallucination metric behavior is currently used for golden evaluations.",
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ]
        },
        "goldenHallucinationMetricBehavior": {
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "description": "Optional. The hallucination metric behavior for golden evaluations.",
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        }
      },
      "id": "EvaluationMetricsThresholds"
    },
    "EvaluationSettings": {
      "id": "EvaluationSettings",
      "description": "Settings for evaluation.",
      "type": "object",
      "properties": {
        "goldenRunMethod": {
          "description": "Optional. The default method used to run golden evaluations. This will be used if no golden_run_method is specified in the RunEvaluationRequest.",
          "enumDescriptions": [
            "Run method is not specified.",
            "Run the evaluation as stable replay, where each turn is a unique session with the previous expected turns injected as context.",
            "Run the evaluation as naive replay, where the run is a single session with no context injected."
          ],
          "type": "string",
          "enum": [
            "GOLDEN_RUN_METHOD_UNSPECIFIED",
            "STABLE",
            "NAIVE"
          ]
        },
        "scenarioEvaluationToolCallBehaviour": {
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "description": "Optional. Configures the default tool call behaviour for scenario evaluations."
        },
        "goldenEvaluationToolCallBehaviour": {
          "type": "string",
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "description": "Optional. Configures the default tool call behaviour for golden evaluations."
        },
        "metricsConfig": {
          "$ref": "EvaluationMetricsConfig",
          "description": "Optional. Configures the default metrics for evaluations."
        },
        "scenarioConversationInitiator": {
          "enumDescriptions": [
            "Unspecified. Defaults to USER.",
            "The user starts the conversation.",
            "The agent starts the conversation."
          ],
          "description": "Optional. Who starts the conversation in a scenario evaluation.",
          "type": "string",
          "enum": [
            "SCENARIO_CONVERSATION_INITIATOR_UNSPECIFIED",
            "USER",
            "AGENT"
          ]
        },
        "evaluationRunCachingSettings": {
          "description": "Optional. The caching settings to use for the evaluation run.",
          "$ref": "EvaluationRunCachingSettings"
        },
        "scenarioExecutionMode": {
          "description": "Optional. The execution mode for scenario evaluations. If not provided, will default to QUALITY_OPTIMIZED.",
          "enumDescriptions": [
            "Unspecified execution mode. Defaults to QUALITY_OPTIMIZED.",
            "Quality optimized mode.",
            "Speed optimized mode."
          ],
          "type": "string",
          "enum": [
            "SCENARIO_EXECUTION_MODE_UNSPECIFIED",
            "QUALITY_OPTIMIZED",
            "SPEED_OPTIMIZED"
          ]
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      }
    },
    "ChatAiAssistantRequest": {
      "description": "Request message for AssistantService.ChatAiAssistant.",
      "type": "object",
      "id": "ChatAiAssistantRequest",
      "properties": {
        "message": {
          "type": "string",
          "description": "Required. The message to send to the assistant agent."
        },
        "contextToken": {
          "type": "string",
          "description": "Optional. Opaque onboarding context token returned by SessionService.GenerateOnboardingSuggestions. When set and still fresh, the server reuses the onboarding snapshot computed for the zero state instead of recomputing it for the first conversation turn."
        },
        "attachedGcsUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Cloud Storage URIs for files uploaded by the user during this turn. Example: \"gs://cxas-transient-uploads/uuid/prd.pdf\""
        },
        "assistantSession": {
          "description": "Required. The assistant session to be used to run the assistant. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistant_session}`",
          "type": "string"
        }
      }
    },
    "Agent": {
      "type": "object",
      "description": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks.",
      "id": "Agent",
      "properties": {
        "tools": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`",
          "type": "array"
        },
        "beforeAgentCallbacks": {
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array"
        },
        "toolsets": {
          "description": "Optional. List of toolsets for the agent.",
          "type": "array",
          "items": {
            "$ref": "AgentAgentToolset"
          }
        },
        "name": {
          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "afterModelCallbacks": {
          "type": "array",
          "description": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the agent was created.",
          "readOnly": true
        },
        "afterAgentCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "childAgents": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "array"
        },
        "remoteA2aAgent": {
          "$ref": "AgentRemoteA2aAgent",
          "description": "Optional. The remote [A2A](https://github.com/a2aproject/A2A) agent to be used for the agent execution."
        },
        "displayName": {
          "description": "Required. Display name of the agent.",
          "type": "string"
        },
        "transferRules": {
          "type": "array",
          "items": {
            "$ref": "TransferRule"
          },
          "description": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used."
        },
        "instruction": {
          "type": "string",
          "description": "Optional. Instructions for the LLM model to guide the agent's behavior."
        },
        "beforeModelCallbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
        },
        "llmAgent": {
          "description": "Optional. The default agent type.",
          "$ref": "AgentLlmAgent"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the agent was last updated.",
          "readOnly": true
        },
        "afterToolCallbacks": {
          "description": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "items": {
            "$ref": "Callback"
          },
          "type": "array"
        },
        "generatedSummary": {
          "description": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation.",
          "readOnly": true,
          "type": "string"
        },
        "validationErrors": {
          "readOnly": true,
          "description": "Output only. Misconfigurations or errors in the agent that may affect agent quality.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "beforeToolCallbacks": {
          "description": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped.",
          "type": "array",
          "items": {
            "$ref": "Callback"
          }
        },
        "modelSettings": {
          "description": "Optional. Configurations for the LLM model.",
          "$ref": "ModelSettings"
        },
        "description": {
          "description": "Optional. Human-readable description of the agent.",
          "type": "string"
        },
        "remoteDialogflowAgent": {
          "description": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "$ref": "AgentRemoteDialogflowAgent"
        },
        "etag": {
          "type": "string",
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "guardrails": {
          "type": "array",
          "description": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExportEvaluationsRequest": {
      "id": "ExportEvaluationsRequest",
      "properties": {
        "includeEvaluationResults": {
          "description": "Optional. Includes evaluation results in the export. At least one of include_evaluation_results or include_evaluations must be set.",
          "type": "boolean"
        },
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The resource names of the evaluations to export."
        },
        "includeEvaluations": {
          "type": "boolean",
          "description": "Optional. Includes evaluations in the export. At least one of include_evaluation_results or include_evaluations must be set."
        },
        "exportOptions": {
          "description": "Optional. The export options for the evaluations.",
          "$ref": "ExportOptions"
        }
      },
      "description": "Request message for EvaluationService.ExportEvaluations.",
      "type": "object"
    },
    "CustomVoiceSampleWarning": {
      "id": "CustomVoiceSampleWarning",
      "properties": {
        "message": {
          "readOnly": true,
          "description": "Output only. A human-readable description of the warning.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified warning type.",
            "The audio level of the voice sample is too low (e.g. low RMS amplitude)."
          ],
          "enum": [
            "WARNING_TYPE_UNSPECIFIED",
            "LOW_AUDIO_LEVEL"
          ],
          "description": "Output only. The type of the warning.",
          "readOnly": true
        }
      },
      "description": "A warning message encountered during voice sample processing.",
      "type": "object"
    },
    "EvaluationGoldenTurn": {
      "properties": {
        "steps": {
          "type": "array",
          "description": "Required. The steps required to replay a golden conversation.",
          "items": {
            "$ref": "EvaluationStep"
          }
        },
        "turnLevelMetricsThresholdsOverride": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds",
          "description": "Optional. Overrides for turn-level metric thresholds."
        },
        "rootSpan": {
          "description": "Optional. The root span of the golden turn for processing and maintaining audio information. The uri for the audio must contain audio saved in 16Khz sample rate.",
          "$ref": "Span"
        },
        "hallucinationMetricBehaviorOverride": {
          "type": "string",
          "enum": [
            "HALLUCINATION_METRIC_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified hallucination metric behavior.",
            "Disable hallucination metric.",
            "Enable hallucination metric."
          ],
          "description": "Optional. Override for turn-level hallucination metric behavior."
        }
      },
      "description": "A golden turn defines a single turn in a golden conversation.",
      "type": "object",
      "id": "EvaluationGoldenTurn"
    },
    "RetrieveToolSchemaRequest": {
      "id": "RetrieveToolSchemaRequest",
      "type": "object",
      "properties": {
        "tool": {
          "description": "Optional. The name of the tool to retrieve the schema for. Format: projects/{project}/locations/{location}/apps/{app}/tools/{tool}",
          "type": "string"
        },
        "toolsetTool": {
          "description": "Optional. The toolset tool to retrieve the schema for. Only one tool should match the predicate from the toolset. Otherwise, an error will be returned.",
          "$ref": "ToolsetTool"
        }
      },
      "description": "Request message for ToolService.RetrieveToolSchema."
    },
    "ExpressionCondition": {
      "description": "Expression condition based on session state.",
      "type": "object",
      "id": "ExpressionCondition",
      "properties": {
        "expression": {
          "description": "Required. The string representation of cloud.api.Expression condition.",
          "type": "string"
        }
      }
    },
    "SessionInput": {
      "id": "SessionInput",
      "type": "object",
      "description": "Input for the session.",
      "properties": {
        "blob": {
          "description": "Optional. Blob data from the end user.",
          "$ref": "Blob"
        },
        "image": {
          "description": "Optional. Image data from the end user.",
          "$ref": "Image"
        },
        "audio": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Audio data from the end user."
        },
        "variables": {
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "willContinue": {
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal.",
          "type": "boolean"
        },
        "event": {
          "description": "Optional. Event input.",
          "$ref": "Event"
        },
        "dtmf": {
          "description": "Optional. DTMF digits from the end user.",
          "type": "string"
        },
        "toolResponses": {
          "description": "Optional. Execution results for the tool calls from the client.",
          "$ref": "ToolResponses"
        },
        "text": {
          "description": "Optional. Text data from the end user.",
          "type": "string"
        }
      }
    },
    "TransferRuleDisablePlannerTransfer": {
      "description": "A rule that prevents the planner from transferring to the target agent.",
      "properties": {
        "expressionCondition": {
          "$ref": "ExpressionCondition",
          "description": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent."
        }
      },
      "id": "TransferRuleDisablePlannerTransfer",
      "type": "object"
    },
    "EvaluationGoldenExpectation": {
      "properties": {
        "note": {
          "type": "string",
          "description": "Optional. A note for this requirement, useful in reporting when specific checks fail. E.g., \"Check_Payment_Tool_Called\"."
        },
        "agentResponseSemanticSimilarityMetricsConfigOverride": {
          "description": "Optional. Overrides for agent_response semantic similarity metrics.",
          "$ref": "EvaluationMetricsConfigSemanticSimilarityMetricsConfig"
        },
        "expectationLevelMetricsThresholdsOverride": {
          "$ref": "EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsExpectationLevelMetricsThresholds",
          "description": "Optional. Overrides metrics at the step level."
        },
        "mockToolResponse": {
          "$ref": "ToolResponse",
          "description": "Optional. The tool response to mock, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM."
        },
        "comparisonType": {
          "type": "string",
          "enum": [
            "COMPARISON_TYPE_UNSPECIFIED",
            "EQUALS",
            "CONTAINS",
            "SEMANTIC_SIMILARITY"
          ],
          "description": "Optional. The comparison type to use for the expectation check.",
          "enumDescriptions": [
            "Unspecified comparison type. Behavior defaults to SEMANTIC_SIMILARITY for agent responses and tool calls.",
            "Exact string match.",
            "Substring match (checks if the expected string is contained in the actual response).",
            "Semantic similarity match (evaluates meaning similarity using an LLM)."
          ]
        },
        "agentResponse": {
          "description": "Optional. Check that the agent responded with the correct response. The role \"agent\" is implied.",
          "$ref": "Message"
        },
        "toolCall": {
          "description": "Optional. Check that a specific tool was called with the parameters.",
          "$ref": "ToolCall"
        },
        "agentTransfer": {
          "description": "Optional. Check that the agent transferred the conversation to a different agent.",
          "$ref": "AgentTransfer"
        },
        "agentResponseHallucinationMetricsConfigOverride": {
          "description": "Optional. Overrides for agent_response hallucination metrics.",
          "$ref": "EvaluationMetricsConfigHallucinationMetricsConfig"
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "Optional. Check that a specific tool had the expected response."
        },
        "noToolCalls": {
          "description": "Optional. Check that no tools were called during this turn.",
          "type": "boolean"
        },
        "skipEvaluation": {
          "type": "boolean",
          "description": "Optional. If set to true, this specific expectation will not be evaluated."
        },
        "updatedVariables": {
          "type": "object",
          "description": "Optional. Check that the agent updated the session variables to the expected values. Used to also capture agent variable updates for golden evals.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "Represents a single, checkable requirement.",
      "id": "EvaluationGoldenExpectation"
    },
    "ConversationTurn": {
      "properties": {
        "rootSpan": {
          "$ref": "Span",
          "description": "Optional. The root span of the action processing."
        },
        "userIntendedText": {
          "type": "string",
          "description": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing."
        }
      },
      "description": "All information about a single turn in the conversation.",
      "type": "object",
      "id": "ConversationTurn"
    },
    "ListAssistantSessionsResponse": {
      "description": "Response message for AssistantService.ListAssistantSessions.",
      "id": "ListAssistantSessionsResponse",
      "type": "object",
      "properties": {
        "assistantSessions": {
          "description": "The list of assistant sessions.",
          "items": {
            "$ref": "AssistantSession"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token that can be sent as ListAssistantSessionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        }
      }
    },
    "EvaluationRunCachingSettings": {
      "description": "Settings for evaluation run caching.",
      "properties": {
        "runCachingMode": {
          "enumDescriptions": [
            "The run caching mode is unspecified.",
            "Always execute a full live simulation regardless of whether changelogs exist.",
            "Skip execution and copy previous verified results if no dependencies have mutated, the evaluation channel/run method are the same."
          ],
          "description": "Optional. The caching mode to use for the evaluation run. If not set, default to FORCE_RUN.",
          "type": "string",
          "enum": [
            "EVALUATION_RUN_CACHING_MODE_UNSPECIFIED",
            "FORCE_RUN",
            "SKIP_IF_UNCHANGED"
          ]
        }
      },
      "id": "EvaluationRunCachingSettings",
      "type": "object"
    },
    "GenerateAppResourceRequestEvaluationPersonasGenerationConfig": {
      "type": "object",
      "id": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig",
      "description": "The configuration to be used to generate the evaluation personas.",
      "properties": {}
    },
    "Tool": {
      "description": "A tool represents an action that the CES agent can take to achieve certain goals.",
      "id": "Tool",
      "properties": {
        "agentTool": {
          "$ref": "AgentTool",
          "description": "Optional. The agent tool."
        },
        "googleSearchTool": {
          "$ref": "GoogleSearchTool",
          "description": "Optional. The google search tool."
        },
        "pythonFunction": {
          "$ref": "PythonFunction",
          "description": "Optional. The python function tool."
        },
        "etag": {
          "description": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes.",
          "type": "string"
        },
        "clientFunction": {
          "$ref": "ClientFunction",
          "description": "Optional. The client function."
        },
        "fileSearchTool": {
          "description": "Optional. The file search tool.",
          "$ref": "FileSearchTool"
        },
        "mcpTool": {
          "description": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset.",
          "$ref": "McpTool"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the tool was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "executionType": {
          "type": "string",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "Optional. The execution type of the tool.",
          "enumDescriptions": [
            "The execution type is unspecified. Defaults to `SYNCHRONOUS` if unspecified.",
            "The tool is executed synchronously. The session is blocked until the tool returns.",
            "The tool is executed asynchronously. The session will continue while the tool is executing."
          ]
        },
        "readOnly": {
          "description": "Output only. Indicates whether the tool is read-only. If true, the tool cannot be modified by the user.",
          "type": "boolean",
          "readOnly": true
        },
        "remoteAgentTool": {
          "$ref": "RemoteAgentTool",
[...]
