{
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "baseUrl": "https://ces.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "",
  "endpoints": [
    {
      "location": "us",
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://ces.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "mtlsRootUrl": "https://ces.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ces": {
          "description": "Create, update, delete, and manage your Next Gen Agents"
        }
      }
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://ces.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "apps": {
              "resources": {
                "message": {
                  "methods": {
                    "stream": {
                      "response": {
                        "$ref": "LfA2aV1StreamResponse"
                      },
                      "parameterOrder": [
                        "tenant"
                      ],
                      "path": "v1/{+tenant}/message:stream",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "tenant": {
                          "required": true,
                          "type": "string",
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        }
                      },
                      "id": "ces.projects.locations.apps.message.stream",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/message:stream",
                      "httpMethod": "POST",
                      "description": "Sends a streaming message to an agent, allowing for real-time interaction and status updates. Streaming version of `SendMessage`",
                      "request": {
                        "$ref": "LfA2aV1SendMessageRequest"
                      }
                    },
                    "send": {
                      "id": "ces.projects.locations.apps.message.send",
                      "response": {
                        "$ref": "LfA2aV1SendMessageResponse"
                      },
                      "path": "v1/{+tenant}/message:send",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Sends a message to an agent.",
                      "httpMethod": "POST",
                      "parameters": {
                        "tenant": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/message:send",
                      "request": {
                        "$ref": "LfA2aV1SendMessageRequest"
                      },
                      "parameterOrder": [
                        "tenant"
                      ]
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "description": "Gets details of the specified example.",
                      "path": "v1/{+name}",
                      "id": "ces.projects.locations.apps.examples.get",
                      "response": {
                        "$ref": "Example"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the example to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$"
                        }
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "exampleId": {
                          "description": "Optional. The ID to use for the example, which will become the final component of the example's resource name. If not provided, a unique ID will be automatically assigned for the example.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to create an example in.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Example"
                      },
                      "id": "ces.projects.locations.apps.examples.create",
                      "path": "v1/{+parent}/examples",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new example in the given app.",
                      "request": {
                        "$ref": "Example"
                      },
                      "httpMethod": "POST"
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListExamples call.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the examples. See https://google.aip.dev/160 for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The resource name of the app to list examples from.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        }
                      },
                      "id": "ces.projects.locations.apps.examples.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/examples",
                      "description": "Lists examples in the given app."
                    },
                    "delete": {
                      "id": "ces.projects.locations.apps.examples.delete",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the example to delete.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$"
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The current etag of the example. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the example, deletion will be blocked and an ABORTED error will be returned."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "description": "Deletes the specified example.",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "patch": {
                      "description": "Updates the specified example.",
                      "id": "ces.projects.locations.apps.examples.patch",
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/examples/{examplesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Example"
                      },
                      "response": {
                        "$ref": "Example"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/examples/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "versions": {
                  "resources": {
                    "message": {
                      "methods": {
                        "stream": {
                          "id": "ces.projects.locations.apps.versions.message.stream",
                          "parameterOrder": [
                            "tenant"
                          ],
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          },
                          "httpMethod": "POST",
                          "description": "Sends a streaming message to an agent, allowing for real-time interaction and status updates. Streaming version of `SendMessage`",
                          "response": {
                            "$ref": "LfA2aV1StreamResponse"
                          },
                          "parameters": {
                            "tenant": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set."
                            }
                          },
                          "path": "v1/{+tenant}/message:stream",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}/message:stream",
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "send": {
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "path": "v1/{+tenant}/message:send",
                          "parameterOrder": [
                            "tenant"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}/message:send",
                          "parameters": {
                            "tenant": {
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "id": "ces.projects.locations.apps.versions.message.send",
                          "response": {
                            "$ref": "LfA2aV1SendMessageResponse"
                          },
                          "description": "Sends a message to an agent.",
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "getExtendedAgentCard": {
                      "parameters": {
                        "tenant": {
                          "required": true,
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "LfA2aV1AgentCard"
                      },
                      "parameterOrder": [
                        "tenant"
                      ],
                      "description": "Gets the extended agent card for the authenticated agent.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+tenant}/extendedAgentCard",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}/extendedAgentCard",
                      "id": "ces.projects.locations.apps.versions.getExtendedAgentCard"
                    },
                    "restore": {
                      "id": "ces.projects.locations.apps.versions.restore",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}:restore",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Restores the specified app version. This will create a new app version from the current draft app and overwrite the current draft with the specified app version.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "RestoreAppVersionRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the app version to restore.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}:restore",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "id": "ces.projects.locations.apps.versions.list",
                      "description": "Lists all app versions in the given app.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListAppVersionsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list app versions from.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListAppVersions call.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the app versions. See https://google.aip.dev/160 for more details.",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions",
                      "path": "v1/{+parent}/versions",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
                          "location": "path"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. The list of fields to update. If empty, fields `display_name` and `description` will be updated."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.versions.patch",
                      "description": "Updates the specified app version.",
                      "request": {
                        "$ref": "AppVersion"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "AppVersion"
                      },
                      "httpMethod": "PATCH"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/versions",
                      "response": {
                        "$ref": "AppVersion"
                      },
                      "description": "Creates a new app version in the given app.",
                      "id": "ces.projects.locations.apps.versions.create",
                      "parameters": {
                        "appVersionId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The ID to use for the app version, which will become the final component of the app version's resource name. If not provided, a unique ID will be automatically assigned for the app version."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the app to create an app version in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "AppVersion"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "id": "ces.projects.locations.apps.versions.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of the specified app version.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "AppVersion"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the app version to retrieve.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes the specified app version.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the app version to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/versions/[^/]+$",
                          "required": true
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. The current etag of the app version. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the app version, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query"
                        }
                      },
                      "id": "ces.projects.locations.apps.versions.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/versions/{versionsId}",
                      "path": "v1/{+name}"
                    }
                  }
                },
                "agents": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "ces.projects.locations.apps.agents.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified agent.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents/{agentsId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Indicates whether to forcefully delete the agent, even if it is still referenced by other app/agents/examples. * If `force = false`, the deletion fails if other agents/examples reference it. * If `force = true`, delete the agent and remove it from all referencing apps/agents/examples."
                        },
                        "name": {
                          "description": "Required. The resource name of the agent to delete.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "etag": {
                          "description": "Optional. The current etag of the agent. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the agent, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents",
                      "id": "ces.projects.locations.apps.agents.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/agents",
                      "parameters": {
                        "agentId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The ID to use for the agent, which will become the final component of the agent's resource name. If not provided, a unique ID will be automatically assigned for the agent."
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the app to create an agent in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Creates a new agent in the given app.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Agent"
                      },
                      "response": {
                        "$ref": "Agent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/agents/[^/]+$",
                          "description": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated."
                        }
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Agent"
                      },
                      "id": "ces.projects.locations.apps.agents.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents/{agentsId}",
                      "description": "Updates the specified agent.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Agent"
                      },
                      "httpMethod": "PATCH"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filter to be applied when listing the agents. See https://google.aip.dev/160 for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The resource name of the app to list agents from.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListAgents call.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "id": "ces.projects.locations.apps.agents.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents",
                      "path": "v1/{+parent}/agents",
                      "description": "Lists agents in the given app.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListAgentsResponse"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the agent to retrieve.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/agents/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/agents/{agentsId}",
                      "id": "ces.projects.locations.apps.agents.get",
                      "description": "Gets details of the specified agent.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Agent"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "description": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "Tool"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "id": "ces.projects.locations.apps.tools.patch",
                      "response": {
                        "$ref": "Tool"
                      },
                      "description": "Updates the specified tool."
                    },
                    "list": {
                      "id": "ces.projects.locations.apps.tools.list",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists tools in the given app.",
                      "response": {
                        "$ref": "ListToolsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/tools",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the tools. Use \"include_system_tools=true\" to include system tools in the response. See https://google.aip.dev/160 for more details.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListTools call."
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the app to list tools from.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        }
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "Tool"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "description": "Gets details of the specified tool.",
                      "id": "ces.projects.locations.apps.tools.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the tool to retrieve.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$"
                        }
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.tools.delete",
                      "description": "Deletes the specified tool.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools/{toolsId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The current etag of the tool. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the tool, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "force": {
                          "description": "Optional. Indicates whether to forcefully delete the tool, even if it is still referenced by agents/examples. * If `force = false`, the deletion will fail if any agents still reference the tool. * If `force = true`, all existing references from agents will be removed and the tool will be deleted.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "description": "Required. The resource name of the tool to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/tools/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "path": "v1/{+parent}/tools",
                      "description": "Creates a new tool in the given app.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The resource name of the app to create a tool in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "toolId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the tool, which will become the final component of the tool's resource name. If not provided, a unique ID will be automatically assigned for the tool.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Tool"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/tools",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "id": "ces.projects.locations.apps.tools.create",
                      "request": {
                        "$ref": "Tool"
                      }
                    }
                  }
                },
                "toolsets": {
                  "methods": {
                    "get": {
                      "id": "ces.projects.locations.apps.toolsets.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the toolset to retrieve."
                        }
                      },
                      "description": "Gets details of the specified toolset.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Toolset"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Indicates whether to forcefully delete the toolset, even if it is still referenced by app/agents. * If `force = false`, the deletion fails if any agents still reference the toolset. * If `force = true`, all existing references from agents will be removed and the toolset will be deleted."
                        },
                        "name": {
                          "description": "Required. The resource name of the toolset to delete.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The current etag of the toolset. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the toolset, deletion will be blocked and an ABORTED error will be returned."
                        }
                      },
                      "id": "ces.projects.locations.apps.toolsets.delete",
                      "description": "Deletes the specified toolset.",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "list": {
                      "id": "ces.projects.locations.apps.toolsets.list",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "description": "Required. The resource name of the app to list toolsets from.",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListToolsets call."
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the toolsets. See https://google.aip.dev/160 for more details."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer"
                        }
                      },
                      "path": "v1/{+parent}/toolsets",
                      "description": "Lists toolsets in the given app.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListToolsetsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "response": {
                        "$ref": "Toolset"
                      },
                      "parameters": {
                        "toolsetId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The ID to use for the toolset, which will become the final component of the toolset's resource name. If not provided, a unique ID will be automatically assigned for the toolset."
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The resource name of the app to create a toolset in.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "Toolset"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/toolsets",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets",
                      "id": "ces.projects.locations.apps.toolsets.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new toolset in the given app.",
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "response": {
                        "$ref": "Toolset"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.toolsets.patch",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated."
                        }
                      },
                      "path": "v1/{+name}",
                      "description": "Updates the specified toolset.",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Toolset"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}"
                    },
                    "retrieveTools": {
                      "path": "v1/{+toolset}:retrieveTools",
                      "response": {
                        "$ref": "RetrieveToolsResponse"
                      },
                      "parameterOrder": [
                        "toolset"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "toolset": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/toolsets/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the toolset to retrieve the tools for. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
                        }
                      },
                      "id": "ces.projects.locations.apps.toolsets.retrieveTools",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/toolsets/{toolsetsId}:retrieveTools",
                      "description": "Retrieve the list of tools included in the specified toolset.",
                      "request": {
                        "$ref": "RetrieveToolsRequest"
                      }
                    }
                  }
                },
                "guardrails": {
                  "methods": {
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "httpMethod": "PATCH",
                      "description": "Updates the specified guardrail.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.guardrails.patch",
                      "response": {
                        "$ref": "Guardrail"
                      },
                      "request": {
                        "$ref": "Guardrail"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. Field mask is used to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Identifier. The unique identifier of the guardrail. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
                        }
                      }
                    },
                    "list": {
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter to be applied when listing the guardrails. See https://google.aip.dev/160 for more details."
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The resource name of the app to list guardrails from.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListGuardrails call.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        }
                      },
                      "id": "ces.projects.locations.apps.guardrails.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails",
                      "path": "v1/{+parent}/guardrails",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListGuardrailsResponse"
                      },
                      "description": "Lists guardrails in the given app.",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "description": "Gets details of the specified guardrail.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Guardrail"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}",
                      "id": "ces.projects.locations.apps.guardrails.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the guardrail to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "delete": {
                      "id": "ces.projects.locations.apps.guardrails.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/guardrails/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the guardrail to delete.",
                          "required": true,
                          "location": "path"
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Indicates whether to forcefully delete the guardrail, even if it is still referenced by app/agents. * If `force = false`, the deletion fails if any apps/agents still reference the guardrail. * If `force = true`, all existing references from apps/agents will be removed and the guardrail will be deleted."
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. The current etag of the guardrail. If an etag is not provided, the deletion will overwrite any concurrent changes. If an etag is provided and does not match the current etag of the guardrail, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes the specified guardrail.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails/{guardrailsId}"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/guardrails",
                      "description": "Creates a new guardrail in the given app.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/guardrails",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Guardrail"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.guardrails.create",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The resource name of the app to create a guardrail in.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "location": "path"
                        },
                        "guardrailId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the guardrail, which will become the final component of the guardrail's resource name. If not provided, a unique ID will be automatically assigned for the guardrail.",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Guardrail"
                      }
                    }
                  }
                },
                "sessions": {
                  "methods": {
                    "runSession": {
                      "response": {
                        "$ref": "RunSessionResponse"
                      },
                      "path": "v1/{+session}:runSession",
                      "httpMethod": "POST",
                      "description": "Initiates a single-turn interaction with the CES agent within a session.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.sessions.runSession",
                      "parameters": {
                        "session": {
                          "description": "Required. The unique identifier of the session. Format: `projects/{project}/locations/{location}/apps/{app}/sessions/{session}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:runSession",
                      "parameterOrder": [
                        "session"
                      ],
                      "request": {
                        "$ref": "RunSessionRequest"
                      }
                    },
                    "streamRunSession": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:streamRunSession",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "session"
                      ],
                      "path": "v1/{+session}:streamRunSession",
                      "description": "Initiates a single-turn interaction with the CES agent. Uses server-side streaming to deliver incremental results and partial responses as they are generated. By default, complete responses (e.g., messages from callbacks or full LLM responses) are sent to the client as soon as they are available. To enable streaming individual text chunks directly from the model, set enable_text_streaming to true.",
                      "response": {
                        "$ref": "RunSessionResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "RunSessionRequest"
                      },
                      "parameters": {
                        "session": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "required": true,
                          "description": "Required. The unique identifier of the session. Format: `projects/{project}/locations/{location}/apps/{app}/sessions/{session}`",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "ces.projects.locations.apps.sessions.streamRunSession"
                    },
                    "generateChatToken": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GenerateChatTokenResponse"
                      },
                      "description": "Generates a session scoped token for chat widget to authenticate with Session APIs.",
                      "id": "ces.projects.locations.apps.sessions.generateChatToken",
                      "request": {
                        "$ref": "GenerateChatTokenRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The session name to generate the chat token for. Format: projects/{project}/locations/{location}/apps/{app}/sessions/{session}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/sessions/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:generateChatToken",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/sessions/{sessionsId}:generateChatToken"
                    }
                  }
                },
                "deployments": {
                  "resources": {
                    "message": {
                      "methods": {
                        "stream": {
                          "parameters": {
                            "tenant": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          },
                          "response": {
                            "$ref": "LfA2aV1StreamResponse"
                          },
                          "description": "Sends a streaming message to an agent, allowing for real-time interaction and status updates. Streaming version of `SendMessage`",
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "tenant"
                          ],
                          "id": "ces.projects.locations.apps.deployments.message.stream",
                          "path": "v1/{+tenant}/message:stream",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/message:stream"
                        },
                        "send": {
                          "request": {
                            "$ref": "LfA2aV1SendMessageRequest"
                          },
                          "parameterOrder": [
                            "tenant"
                          ],
                          "parameters": {
                            "tenant": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                              "location": "path",
                              "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                              "type": "string",
                              "required": true
                            }
                          },
                          "path": "v1/{+tenant}/message:send",
                          "description": "Sends a message to an agent.",
                          "response": {
                            "$ref": "LfA2aV1SendMessageResponse"
                          },
                          "id": "ces.projects.locations.apps.deployments.message.send",
                          "scopes": [
                            "https://www.googleapis.com/auth/ces",
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/message:send",
                          "httpMethod": "POST"
                        }
                      }
                    }
                  },
                  "methods": {
                    "delete": {
                      "description": "Deletes the specified deployment.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the deployment to delete. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "type": "string"
                        },
                        "etag": {
                          "description": "Optional. The etag of the deployment. If an etag is provided and does not match the current etag of the deployment, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ces.projects.locations.apps.deployments.delete",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.deployments.patch",
                      "response": {
                        "$ref": "Deployment"
                      },
                      "description": "Updates the specified deployment.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "Deployment"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. The list of fields to update.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "location": "path",
                          "description": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/deployments",
                      "response": {
                        "$ref": "ListDeploymentsResponse"
                      },
                      "description": "Lists deployments in the given app.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of deployments to return. The service may return fewer than this value. If unspecified, at most 50 deployments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListDeployments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDeployments` must match the call that provided the page token.",
                          "location": "query"
                        }
                      },
                      "id": "ces.projects.locations.apps.deployments.list"
                    },
                    "get": {
                      "description": "Gets details of the specified deployment.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Deployment"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
                          "required": true
                        }
                      },
                      "id": "ces.projects.locations.apps.deployments.get",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/deployments",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments",
                      "httpMethod": "POST",
                      "id": "ces.projects.locations.apps.deployments.create",
                      "response": {
                        "$ref": "Deployment"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent app. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "deploymentId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The ID to use for the deployment, which will become the final component of the deployment's resource name. If not provided, a unique ID will be automatically assigned for the deployment."
                        }
                      },
                      "description": "Creates a new deployment in the given app.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Deployment"
                      }
                    },
                    "getExtendedAgentCard": {
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "LfA2aV1AgentCard"
                      },
                      "httpMethod": "GET",
                      "description": "Gets the extended agent card for the authenticated agent.",
                      "parameters": {
                        "tenant": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/deployments/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Optional. Opaque routing identifier. Must match the `tenant` value from the selected `AgentInterface` in the Agent Card when that field is set.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "tenant"
                      ],
                      "id": "ces.projects.locations.apps.deployments.getExtendedAgentCard",
                      "path": "v1/{+tenant}/extendedAgentCard",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/deployments/{deploymentsId}/extendedAgentCard"
                    }
                  }
                },
                "changelogs": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list AgentService.ListChangelogs call.",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Only \"name\" and \"create_time\" is supported. See https://google.aip.dev/132#ordering for more details."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter to be applied when listing the changelogs. See https://google.aip.dev/160 for more details. The filter string can be used to filter by `action`, `resource_type`, `resource_name`, `author`, and `create_time`. The `:` comparator can be used for case-insensitive partial matching on string fields, while `=` performs an exact case-sensitive match. Examples: * `action:update` (case-insensitive partial match) * `action=\"Create\"` (case-sensitive exact match) * `resource_type:agent` * `resource_name:my-agent` * `author:me@example.com` * `create_time > \"2025-01-01T00:00:00Z\"` * `create_time <= \"2025-01-01T00:00:00Z\" AND resource_type:tool`",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The resource name of the app to list changelogs from.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/changelogs",
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.changelogs.list",
                      "response": {
                        "$ref": "ListChangelogsResponse"
                      },
                      "description": "Lists the changelogs of the specified app.",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/changelogs/{changelogsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/changelogs/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the changelog to retrieve.",
                          "required": true
                        }
                      },
                      "description": "Gets the specified changelog.",
                      "response": {
                        "$ref": "Changelog"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "ces.projects.locations.apps.changelogs.get"
                    }
                  }
                },
                "conversations": {
                  "methods": {
                    "batchDelete": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the app to delete conversations from. Format: `projects/{project}/locations/{location}/apps/{app}`",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "ces.projects.locations.apps.conversations.batchDelete",
                      "request": {
                        "$ref": "BatchDeleteConversationsRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations:batchDelete",
                      "path": "v1/{+parent}/conversations:batchDelete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "description": "Batch deletes the specified conversations."
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "description": "Gets details of the specified conversation.",
                      "response": {
                        "$ref": "Conversation"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apps/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the conversation to retrieve.",
                          "type": "string",
                          "required": true
                        },
                        "source": {
                          "deprecated": true,
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation.",
                            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
                          ],
                          "description": "Optional. Indicate the source of the conversation. If not set, all source will be searched.",
                          "type": "string",
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL",
                            "AGENT_TOOL"
                          ],
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations/{conversationsId}",
                      "id": "ces.projects.locations.apps.conversations.get"
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/ces",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apps/{appsId}/conversations/{conversationsId}",
                      "description": "Deletes the specified conversation.",
                      "id": "ces.projects.locations.apps.conversations.delete",
                      "parameters": {
                        "source": {
                          "enumDescriptions": [
                            "Unspecified source.",
                            "The conversation is from the live end user.",
                            "The conversation is from the simulator.",
                            "The conversation is from the evaluation.",
                            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
                          ],
                          "deprecated": true,
                          "type": "string",
                          "enum": [
                            "SOURCE_UNSPECIFIED",
                            "LIVE",
                            "SIMULATOR",
                            "EVAL",
                            "AGENT_TOOL"
                          ],
                          "location": "query",
                          "description": "Optional. Indicate the source of the conversation. If not set, Source.Live will be applied by default."
                        },
                        "name": {
[...]
