{
  "endpoints": [
    {
      "endpointUrl": "https://ces.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://ces.eu.rep.googleapis.com/"
    }
  ],
  "documentationLink": "https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://ces.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "version": "v1beta",
  "name": "ces",
  "discoveryVersion": "v1",
  "revision": "20260612",
  "title": "Gemini Enterprise for Customer Experience API",
  "version_module": true,
  "canonicalName": "Customer Engagement Suite",
  "servicePath": "",
  "baseUrl": "https://ces.googleapis.com/",
  "schemas": {
    "ServiceAgentIdTokenAuthConfig": {
      "description": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent.",
      "properties": {},
      "id": "ServiceAgentIdTokenAuthConfig",
      "type": "object"
    },
    "EndUserAuthConfigOauth2AuthCodeConfig": {
      "id": "EndUserAuthConfigOauth2AuthCodeConfig",
      "type": "object",
      "description": "Oauth 2.0 Authorization Code authentication configuration.",
      "properties": {
        "oauthToken": {
          "description": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      }
    },
    "ApiAuthentication": {
      "description": "Authentication information required for API calls.",
      "properties": {
        "apiKeyConfig": {
          "$ref": "ApiKeyConfig",
          "description": "Optional. Config for API key auth."
        },
        "serviceAccountAuthConfig": {
          "description": "Optional. Config for service account authentication.",
          "$ref": "ServiceAccountAuthConfig"
        },
        "bearerTokenConfig": {
          "description": "Optional. Config for bearer token auth.",
          "$ref": "BearerTokenConfig"
        },
        "oauthConfig": {
          "description": "Optional. Config for OAuth.",
          "$ref": "OAuthConfig"
        },
        "serviceAgentIdTokenAuthConfig": {
          "$ref": "ServiceAgentIdTokenAuthConfig",
          "description": "Optional. Config for ID token auth generated from CES service agent."
        }
      },
      "id": "ApiAuthentication",
      "type": "object"
    },
    "OptimizationConfig": {
      "description": "Configuration for running the optimization step after the evaluation run.",
      "properties": {
        "reportSummary": {
          "description": "Output only. The summary of the loss report.",
          "readOnly": true,
          "type": "string"
        },
        "lossReport": {
          "description": "Output only. The generated loss report.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true,
          "type": "object"
        },
        "shouldSuggestFix": {
          "description": "Output only. Whether to suggest a fix for the losses.",
          "readOnly": true,
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Output only. The error message if the optimization run failed.",
          "readOnly": true,
          "type": "string"
        },
        "assistantSession": {
          "description": "Output only. The assistant session to use for the optimization based on this evaluation run. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistantSession}`",
          "readOnly": true,
          "type": "string"
        },
        "generateLossReport": {
          "description": "Optional. Whether to generate a loss report.",
          "type": "boolean"
        },
        "status": {
          "enum": [
            "OPTIMIZATION_STATUS_UNSPECIFIED",
            "RUNNING",
            "COMPLETED",
            "ERROR"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Optimization status is not specified.",
            "Optimization is running.",
            "Optimization has completed.",
            "Optimization failed due to an internal error."
          ],
          "type": "string",
          "description": "Output only. The status of the optimization run."
        }
      },
      "id": "OptimizationConfig",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AggregatedMetricsToolCallLatencyMetrics": {
      "description": "Metrics for tool call latency.",
      "properties": {
        "tool": {
          "description": "Output only. The name of the tool.",
          "readOnly": true,
          "type": "string"
        },
        "averageLatency": {
          "description": "Output only. The average latency of the tool calls.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "AggregatedMetricsToolCallLatencyMetrics",
      "type": "object"
    },
    "AppVersion": {
      "id": "AppVersion",
      "type": "object",
      "description": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created.",
      "properties": {
        "snapshot": {
          "readOnly": true,
          "description": "Output only. The snapshot of the app when the version is created.",
          "$ref": "AppSnapshot"
        },
        "creator": {
          "description": "Output only. Email of the user who created the app version.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "name": {
          "description": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the app version.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the app version.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app version was created."
        }
      }
    },
    "OAuthConfig": {
      "id": "OAuthConfig",
      "type": "object",
      "description": "Configurations for authentication with OAuth.",
      "properties": {
        "oauthGrantType": {
          "description": "Required. OAuth grant types.",
          "enumDescriptions": [
            "Unspecified. Defaults to CLIENT_CREDENTIAL.",
            "Represents the [client credential flow](https://oauth.net/2/grant-types/client-credentials)."
          ],
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "type": "string"
        },
        "tokenEndpoint": {
          "description": "Required. The token endpoint in the OAuth provider to exchange for an access token.",
          "type": "string"
        },
        "clientId": {
          "description": "Required. The client ID from the OAuth provider.",
          "type": "string"
        },
        "clientSecretVersion": {
          "description": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "scopes": {
          "description": "Optional. The OAuth scopes to grant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DataStoreSettingsEngine": {
      "id": "DataStoreSettingsEngine",
      "type": "object",
      "description": "An engine to which the data stores are connected. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the engine. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified engine type.",
            "The SOLUTION_TYPE_SEARCH engine for the app. All connector data stores added to the app will be added to this engine.",
            "Chat engine type. The SOLUTION_TYPE_CHAT engine for the app. All connector data stores added to the app will be added to this engine."
          ],
          "description": "Output only. The type of the engine.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "ENGINE_TYPE_SEARCH",
            "ENGINE_TYPE_CHAT"
          ]
        }
      }
    },
    "WebSearchQuery": {
      "description": "Represents a single web search query and its associated search uri.",
      "properties": {
        "uri": {
          "description": "The URI to the Google Search results page for the query.",
          "type": "string"
        },
        "query": {
          "description": "The search query text.",
          "type": "string"
        }
      },
      "id": "WebSearchQuery",
      "type": "object"
    },
    "ModelSettings": {
      "description": "Model settings contains various configurations for the LLM model.",
      "properties": {
        "model": {
          "description": "Optional. The LLM model that the agent should use. If not set, the agent will inherit the model from its parent agent.",
          "type": "string"
        },
        "temperature": {
          "description": "Optional. If set, this temperature will be used for the LLM model. Temperature controls the randomness of the model's responses. Lower temperatures produce responses that are more predictable. Higher temperatures produce responses that are more creative.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "ModelSettings",
      "type": "object"
    },
    "DataStoreSettings": {
      "description": "Data store related settings for the app.",
      "properties": {
        "engines": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DataStoreSettingsEngine"
          },
          "description": "Output only. The engines for the app."
        }
      },
      "id": "DataStoreSettings",
      "type": "object"
    },
    "AgentCard": {
      "description": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard",
      "properties": {
        "version": {
          "description": "Required. The version of the agent.",
          "type": "string"
        },
        "skills": {
          "description": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "items": {
            "$ref": "AgentSkill"
          },
          "type": "array"
        },
        "supportedInterfaces": {
          "description": "Required. Ordered list of supported interfaces. The first entry is preferred.",
          "type": "array",
          "items": {
            "$ref": "AgentInterface"
          }
        },
        "name": {
          "description": "Required. A human-readable name for the agent.",
          "type": "string"
        },
        "description": {
          "description": "Required. A description of the agent's domain of action/solution space.",
          "type": "string"
        }
      },
      "id": "AgentCard",
      "type": "object"
    },
    "ExportEvaluationRunsResponse": {
      "id": "ExportEvaluationRunsResponse",
      "type": "object",
      "description": "Response message for EvaluationService.ExportEvaluationRuns.",
      "properties": {
        "evaluationRunsUri": {
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Runs were written. This will be populated if gcs_uri was specified in the request.",
          "type": "string"
        },
        "evaluationRunsContent": {
          "type": "string",
          "format": "byte",
          "description": "The content of the exported Evaluation Runs. This will be populated if gcs_uri was not specified in the request."
        }
      }
    },
    "SessionConfig": {
      "description": "The configuration for the session.",
      "properties": {
        "historicalContexts": {
          "description": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "useToolFakes": {
          "description": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools.",
          "type": "boolean"
        },
        "remoteDialogflowQueryParameters": {
          "description": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent.",
          "$ref": "SessionConfigRemoteDialogflowQueryParameters"
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "$ref": "OutputAudioConfig"
        },
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "$ref": "InputAudioConfig"
        },
        "timeZone": {
          "description": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\".",
          "type": "string"
        },
        "enableTextStreaming": {
          "description": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession.",
          "type": "boolean"
        },
        "entryAgent": {
          "description": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "deployment": {
          "description": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`",
          "type": "string"
        }
      },
      "id": "SessionConfig",
      "type": "object"
    },
    "AgentRemoteDialogflowAgent": {
      "id": "AgentRemoteDialogflowAgent",
      "type": "object",
      "description": "The agent which will transfer execution to a remote [Dialogflow CX](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent. The Dialogflow agent will process subsequent user queries until the session ends or flow ends, and the control is transferred back to the parent CES agent.",
      "properties": {
        "respectResponseInterruptionSettings": {
          "description": "Optional. Indicates whether to respect the message-level interruption settings configured in the Dialogflow agent. * If false: all response messages from the Dialogflow agent follow the app-level barge-in settings. * If true: only response messages with [`allow_playback_interruption`](https://docs.cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#text) set to true will be interruptable, all other messages follow the app-level barge-in settings.",
          "type": "boolean"
        },
        "languageCodeVariable": {
          "description": "Optional. The name of the variable that contains the language code to be used for the Dialogflow session. If unspecified, the default language code of the Dialogflow agent will be used.",
          "type": "string"
        },
        "flowId": {
          "description": "Optional. The flow ID of the flow in the Dialogflow agent.",
          "type": "string"
        },
        "environmentId": {
          "description": "Optional. The environment ID of the Dialogflow agent to be used for the agent execution. If not specified, the draft environment will be used.",
          "type": "string"
        },
        "agent": {
          "description": "Required. The [Dialogflow](https://docs.cloud.google.com/dialogflow/cx/docs/concept/agent) agent resource name. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "outputVariableMapping": {
          "type": "object",
          "description": "Optional. The mapping of the Dialogflow session parameters names to the app variables names to be sent back to the CES agent after the Dialogflow agent execution ends.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inputVariableMapping": {
          "description": "Optional. The mapping of the app variables names to the Dialogflow session parameters names to be sent to the Dialogflow agent as input.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "TlsConfigCaCert": {
      "id": "TlsConfigCaCert",
      "type": "object",
      "description": "The CA certificate.",
      "properties": {
        "displayName": {
          "description": "Required. The name of the allowed custom CA certificates. This can be used to disambiguate the custom CA certificates.",
          "type": "string"
        },
        "cert": {
          "description": "Required. The allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, CES will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command: ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile <(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GenerateEvaluationRequest": {
      "id": "GenerateEvaluationRequest",
      "type": "object",
      "description": "Request message for EvaluationService.GenerateEvaluation.",
      "properties": {
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LIVE",
            "SIMULATOR",
            "EVAL",
            "AGENT_TOOL"
          ],
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified source.",
            "The conversation is from the live end user.",
            "The conversation is from the simulator.",
            "The conversation is from the evaluation.",
            "The conversation is from an agent tool. Agent tool runs the agent in a separate session, which is persisted for testing and debugging purposes."
          ],
          "description": "Optional. Indicate the source of the conversation. If not set, all sources will be searched."
        }
      }
    },
    "LfA2aV1SendMessageResponse": {
      "description": "Represents the response for the `SendMessage` method.",
      "properties": {
        "task": {
          "$ref": "LfA2aV1Task",
          "description": "The task created or updated by the message."
        },
        "message": {
          "description": "A message from the agent.",
          "$ref": "LfA2aV1Message"
        }
      },
      "id": "LfA2aV1SendMessageResponse",
      "type": "object"
    },
    "SynthesizeSpeechConfig": {
      "description": "Configuration for how the agent response should be synthesized.",
      "properties": {
        "voice": {
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech.",
          "type": "string"
        },
        "speakingRate": {
          "type": "number",
          "format": "double",
          "description": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error."
        }
      },
      "id": "SynthesizeSpeechConfig",
      "type": "object"
    },
    "DataStoreConnectorConfig": {
      "id": "DataStoreConnectorConfig",
      "type": "object",
      "description": "The connector config for the data store connection.",
      "properties": {
        "collectionDisplayName": {
          "description": "Display name of the collection the data store belongs to.",
          "type": "string"
        },
        "dataSource": {
          "description": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`.",
          "type": "string"
        },
        "collection": {
          "description": "Resource name of the collection the data store belongs to.",
          "type": "string"
        }
      }
    },
    "EvaluationConfig": {
      "description": "EvaluationConfig configures settings for running the evaluation.",
      "properties": {
        "inputAudioConfig": {
          "description": "Optional. Configuration for processing the input audio.",
          "deprecated": true,
          "$ref": "InputAudioConfig"
        },
        "toolCallBehaviour": {
          "enumDescriptions": [
            "Unspecified tool call behavior. Will default to real tool calls.",
            "Use real tool calls.",
            "Use fake tool calls."
          ],
          "enum": [
            "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED",
            "REAL",
            "FAKE"
          ],
          "type": "string",
          "description": "Optional. Specifies whether the evaluation should use real tool calls or fake tools."
        },
        "evaluationChannel": {
          "enumDescriptions": [
            "Unspecified evaluation channel.",
            "Text-only evaluation channel.",
            "Audio evaluation channel."
          ],
          "enum": [
            "EVALUATION_CHANNEL_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "type": "string",
          "description": "Optional. The channel to evaluate."
        },
        "outputAudioConfig": {
          "description": "Optional. Configuration for generating the output audio.",
          "deprecated": true,
          "$ref": "OutputAudioConfig"
        }
      },
      "id": "EvaluationConfig",
      "type": "object"
    },
    "GenerateAppResourceResponseAppResources": {
      "description": "The list of app resources generated by the LLM assistant.",
      "properties": {
        "evaluations": {
          "description": "The list of evaluations generated by the LLM assistant.",
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          }
        },
        "appSnapshot": {
          "description": "The app snapshot generated by the LLM assistant. This snapshot contains the app, agents & tools generated by the LLM assistant.",
          "$ref": "AppSnapshot"
        }
      },
      "id": "GenerateAppResourceResponseAppResources",
      "type": "object"
    },
    "App": {
      "id": "App",
      "type": "object",
      "description": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context.",
      "properties": {
        "variableDeclarations": {
          "items": {
            "$ref": "AppVariableDeclaration"
          },
          "type": "array",
          "description": "Optional. The declarations of the variables."
        },
        "defaultChannelProfile": {
          "$ref": "ChannelProfile",
          "description": "Optional. The default channel profile used by the app."
        },
        "audioProcessingConfig": {
          "description": "Optional. Audio processing configuration of the app.",
          "$ref": "AudioProcessingConfig"
        },
        "clientCertificateSettings": {
          "$ref": "ClientCertificateSettings",
          "description": "Optional. The default client certificate settings for the app."
        },
        "deploymentCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of deployments in the app."
        },
        "locked": {
          "description": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected.",
          "type": "boolean"
        },
        "evaluationMetricsThresholds": {
          "$ref": "EvaluationMetricsThresholds",
          "description": "Optional. The evaluation thresholds for the app."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "errorHandlingSettings": {
          "description": "Optional. Error handling settings of the app.",
          "$ref": "ErrorHandlingSettings"
        },
        "guardrails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
        },
        "pinned": {
          "description": "Optional. Whether the app is pinned in the app list.",
          "type": "boolean"
        },
        "evaluationSettings": {
          "description": "Optional. The evaluation settings for the app.",
          "$ref": "EvaluationSettings"
        },
        "createTime": {
          "description": "Output only. Timestamp when the app was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the app was last updated."
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed."
        },
        "name": {
          "description": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`",
          "type": "string"
        },
        "toolExecutionMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified tool execution mode. Default to PARALLEL.",
            "If there are multiple tools being selected, they will be executed in parallel, with the same [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context).",
            "If there are multiple tools being selected, they will be executed sequentially. The next tool will only be executed after the previous tool completes and it can see updated [ToolContext](https://google.github.io/adk-docs/context/#the-different-types-of-context) from the previous tool."
          ],
          "enum": [
            "TOOL_EXECUTION_MODE_UNSPECIFIED",
            "PARALLEL",
            "SEQUENTIAL"
          ],
          "description": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL."
        },
        "dataStoreSettings": {
          "$ref": "DataStoreSettings",
          "description": "Optional. The data store settings for the app."
        },
        "predefinedVariableDeclarations": {
          "description": "Output only. The declarations of predefined variables for the app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AppVariableDeclaration"
          }
        },
        "loggingSettings": {
          "description": "Optional. Logging settings of the app.",
          "$ref": "LoggingSettings"
        },
        "metadata": {
          "description": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "vpcScSettings": {
          "description": "Optional. VPC-SC settings for the app.",
          "$ref": "VpcScSettings"
        },
        "evaluationPersonas": {
          "items": {
            "$ref": "EvaluationPersona"
          },
          "type": "array",
          "description": "Optional. The evaluation personas for the app. This field is used to define the personas that can be used for evaluation. Maximum of 30 personas can be defined."
        },
        "rootAgent": {
          "description": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the app.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the app.",
          "type": "string"
        },
        "languageSettings": {
          "$ref": "LanguageSettings",
          "description": "Optional. Language settings of the app."
        },
        "timeZoneSettings": {
          "description": "Optional. TimeZone settings of the app.",
          "$ref": "TimeZoneSettings"
        },
        "globalInstruction": {
          "description": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents.",
          "type": "string"
        },
        "validationErrors": {
          "description": "Output only. Misconfigurations or warnings in the app.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LfA2aV1SendMessageConfiguration": {
      "description": "Configuration of a send message request.",
      "properties": {
        "returnImmediately": {
          "description": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning.",
          "type": "boolean"
        },
        "acceptedOutputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output."
        },
        "taskPushNotificationConfig": {
          "description": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request.",
          "$ref": "LfA2aV1TaskPushNotificationConfig"
        },
        "historyLength": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit."
        }
      },
      "id": "LfA2aV1SendMessageConfiguration",
      "type": "object"
    },
    "AgentTool": {
      "id": "AgentTool",
      "type": "object",
      "description": "Represents a tool that allows the agent to call another agent.",
      "properties": {
        "name": {
          "description": "Required. The name of the agent tool.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the tool's purpose.",
          "type": "string"
        },
        "agent": {
          "description": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "type": "string"
        },
        "rootAgent": {
          "description": "Optional. Deprecated: Use `agent` instead. The resource name of the root agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "TriggerAction": {
      "description": "Action that is taken when a certain precondition is met.",
      "properties": {
        "respondImmediately": {
          "description": "Optional. Immediately respond with a preconfigured response.",
          "$ref": "TriggerActionRespondImmediately"
        },
        "transferAgent": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "TriggerActionTransferAgent"
        },
        "generativeAnswer": {
          "$ref": "TriggerActionGenerativeAnswer",
          "description": "Optional. Respond with a generative answer."
        }
      },
      "id": "TriggerAction",
      "type": "object"
    },
    "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfig": {
      "id": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfig",
      "type": "object",
      "description": "The configuration to be used to generate an Open API schema.",
      "properties": {
        "operationGenerationConfigs": {
          "description": "Required. The list of operations to be added to the Open API schema.",
          "items": {
            "$ref": "GenerateAppResourceRequestToolGenerationConfigOpenApiToolsetGenerationConfigOperationGenerationConfig"
          },
          "type": "array"
        },
        "uri": {
          "description": "Required. The base uri of the tool.",
          "type": "string"
        }
      }
    },
    "DataStoreToolModalityConfig": {
      "description": "If specified, will apply the given configuration for the specified modality.",
      "properties": {
        "rewriterConfig": {
          "$ref": "DataStoreToolRewriterConfig",
          "description": "Optional. The rewriter config."
        },
        "summarizationConfig": {
          "$ref": "DataStoreToolSummarizationConfig",
          "description": "Optional. The summarization config."
        },
        "modalityType": {
          "description": "Required. The modality type.",
          "enumDescriptions": [
            "Unspecified modality type.",
            "Text modality.",
            "Audio modality."
          ],
          "enum": [
            "MODALITY_TYPE_UNSPECIFIED",
            "TEXT",
            "AUDIO"
          ],
          "type": "string"
        },
        "groundingConfig": {
          "$ref": "DataStoreToolGroundingConfig",
          "description": "Optional. The grounding configuration."
        }
      },
      "id": "DataStoreToolModalityConfig",
      "type": "object"
    },
    "EvaluationResultGoldenExpectationOutcomeToolInvocationResult": {
      "id": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
      "type": "object",
      "description": "The result of the tool invocation check.",
      "properties": {
        "explanation": {
          "description": "Output only. A free text explanation for the tool invocation result.",
          "readOnly": true,
          "type": "string"
        },
        "parameterCorrectnessScore": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. The tool invocation parameter correctness score. This indicates the percent of parameters from the expected tool call that were also present in the actual tool call."
        },
        "outcome": {
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the parameter_correctness_score to the threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "type": "string",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true,
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ]
        }
      }
    },
    "ConversationLoggingSettings": {
      "id": "ConversationLoggingSettings",
      "type": "object",
      "description": "Settings to describe the conversation logging behaviors for the app.",
      "properties": {
        "disableConversationLogging": {
          "description": "Optional. Whether to disable conversation logging for the sessions.",
          "type": "boolean"
        },
        "retentionWindow": {
          "description": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "SystemTool": {
      "id": "SystemTool",
      "type": "object",
      "description": "Pre-defined system tool.",
      "properties": {
        "name": {
          "description": "Required. The name of the system tool.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the system tool."
        }
      }
    },
    "GuardrailLlmPolicy": {
      "description": "Guardrail that blocks the conversation if the LLM response is considered violating the policy based on the LLM classification.",
      "properties": {
        "maxConversationMessages": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. When checking this policy, consider the last 'n' messages in the conversation. When not set a default value of 10 will be used."
        },
        "prompt": {
          "description": "Required. Policy prompt.",
          "type": "string"
        },
        "modelSettings": {
          "$ref": "ModelSettings",
          "description": "Optional. Model settings."
        },
        "policyScope": {
          "description": "Required. Defines when to apply the policy check during the conversation. If set to `POLICY_SCOPE_UNSPECIFIED`, the policy will be applied to the user input. When applying the policy to the agent response, additional latency will be introduced before the agent can respond.",
          "enumDescriptions": [
            "Policy scope is not specified.",
            "Policy check is triggered on user input.",
            "Policy check is triggered on agent response. Applying this policy scope will introduce additional latency before the agent can respond.",
            "Policy check is triggered on both user input and agent response. Applying this policy scope will introduce additional latency before the agent can respond."
          ],
          "enum": [
            "POLICY_SCOPE_UNSPECIFIED",
            "USER_QUERY",
            "AGENT_RESPONSE",
            "USER_QUERY_AND_AGENT_RESPONSE"
          ],
          "type": "string"
        },
        "failOpen": {
          "description": "Optional. If an error occurs during the policy check, fail open and do not trigger the guardrail.",
          "type": "boolean"
        },
        "allowShortUtterance": {
          "description": "Optional. By default, the LLM policy check is bypassed for short utterances. Enabling this setting applies the policy check to all utterances, including those that would normally be skipped.",
          "type": "boolean"
        }
      },
      "id": "GuardrailLlmPolicy",
      "type": "object"
    },
    "EvaluationScenario": {
      "id": "EvaluationScenario",
      "type": "object",
      "description": "The config for a scenario",
      "properties": {
        "rubrics": {
          "description": "Required. The rubrics to score the scenario against.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "taskCompletionBehavior": {
          "description": "Optional. Deprecated. Use user_goal_behavior instead.",
          "type": "string",
          "enumDescriptions": [
            "Behavior unspecified. Will default to TASK_SATISFIED.",
            "The user task should be completed successfully.",
            "The user task should be rejected."
          ],
          "deprecated": true,
          "enum": [
            "TASK_COMPLETION_BEHAVIOR_UNSPECIFIED",
            "TASK_SATISFIED",
            "TASK_REJECTED"
          ]
        },
        "scenarioExpectations": {
          "description": "Required. The ScenarioExpectations to evaluate the conversation produced by the user simulation.",
          "items": {
            "$ref": "EvaluationScenarioExpectation"
          },
          "type": "array"
        },
        "userGoalBehavior": {
          "description": "Optional. The expected behavior of the user goal.",
          "enumDescriptions": [
            "Behavior unspecified. Will default to USER_GOAL_SATISFIED.",
            "The user goal should be completed successfully.",
            "The user goal should be rejected.",
            "Ignore the user goal status."
          ],
          "enum": [
            "USER_GOAL_BEHAVIOR_UNSPECIFIED",
            "USER_GOAL_SATISFIED",
            "USER_GOAL_REJECTED",
            "USER_GOAL_IGNORED"
          ],
          "type": "string"
        },
        "userFacts": {
          "type": "array",
          "items": {
            "$ref": "EvaluationScenarioUserFact"
          },
          "description": "Optional. The user facts to be used by the scenario."
        },
        "evaluationExpectations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The evaluation expectations to evaluate the conversation produced by the simulation against. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluationExpectation}`"
        },
        "maxTurns": {
          "description": "Optional. The maximum number of turns to simulate. If not specified, the simulation will continue until the task is complete.",
          "type": "integer",
          "format": "int32"
        },
        "variableOverrides": {
          "type": "object",
          "description": "Optional. Variables / Session Parameters as context for the session, keyed by variable names. Members of this struct will override any default values set by the system. Note, these are different from user facts, which are facts known to the user. Variables are parameters known to the agent: i.e. MDN (phone number) passed by the telephony system.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "task": {
          "description": "Required. The task to be targeted by the scenario.",
          "type": "string"
        }
      }
    },
    "EvaluationScenarioExpectationToolExpectation": {
      "id": "EvaluationScenarioExpectationToolExpectation",
      "type": "object",
      "description": "The tool call and response pair to be evaluated.",
      "properties": {
        "expectedToolCall": {
          "description": "Required. The expected tool call, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM.",
          "$ref": "ToolCall"
        },
        "mockToolResponse": {
          "description": "Required. The tool response to mock, with the parameters of interest specified. Any parameters not specified will be hallucinated by the LLM.",
          "$ref": "ToolResponse"
        }
      }
    },
    "EvaluationResultGoldenExpectationOutcome": {
      "id": "EvaluationResultGoldenExpectationOutcome",
      "type": "object",
      "description": "Specifies the expectation and the result of that expectation.",
      "properties": {
        "observedAgentResponse": {
          "description": "Output only. The result of the agent response expectation.",
          "$ref": "Message",
          "readOnly": true
        },
        "observedAgentTransfer": {
          "description": "Output only. The result of the agent transfer expectation.",
          "$ref": "AgentTransfer",
          "readOnly": true
        },
        "expectation": {
          "description": "Output only. The expectation that was evaluated.",
          "$ref": "EvaluationGoldenExpectation",
          "readOnly": true
        },
        "toolInvocationResult": {
          "$ref": "EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
          "description": "Output only. The result of the tool invocation check.",
          "readOnly": true
        },
        "observedToolCall": {
          "readOnly": true,
          "$ref": "ToolCall",
          "description": "Output only. The result of the tool call expectation."
        },
        "outcome": {
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "type": "string",
          "description": "Output only. The outcome of the expectation.",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ],
          "readOnly": true
        },
        "observedToolResponse": {
          "readOnly": true,
          "description": "Output only. The result of the tool response expectation.",
          "$ref": "ToolResponse"
        },
        "observedPayload": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. An observed custom payload. There are no expectations for custom payloads. This is only used for metrics calculation. The outcome is always SKIPPED.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "semanticSimilarityResult": {
          "readOnly": true,
          "description": "Output only. The result of the semantic similarity check.",
          "deprecated": true,
          "$ref": "EvaluationResultSemanticSimilarityResult"
        }
      }
    },
    "ExportAppResponse": {
      "id": "ExportAppResponse",
      "type": "object",
      "description": "Response message for AgentService.ExportApp.",
      "properties": {
        "appUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported.",
          "type": "string"
        },
        "appContent": {
          "type": "string",
          "format": "byte",
          "description": "App folder compressed as a zip file."
        }
      }
    },
    "LfA2aV1Task": {
      "id": "LfA2aV1Task",
      "type": "object",
      "description": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history.",
      "properties": {
        "contextId": {
          "description": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages).",
          "type": "string"
        },
        "artifacts": {
          "type": "array",
          "items": {
            "$ref": "LfA2aV1Artifact"
          },
          "description": "A set of output artifacts for a `Task`."
        },
        "id": {
          "description": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task.",
          "type": "string"
        },
        "status": {
          "description": "Required. The current status of a `Task`, including `state` and a `message`.",
          "$ref": "LfA2aV1TaskStatus"
        },
        "history": {
          "items": {
            "$ref": "LfA2aV1Message"
          },
          "type": "array",
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`."
        },
        "metadata": {
          "type": "object",
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "RestoreAppVersionRequest": {
      "id": "RestoreAppVersionRequest",
      "type": "object",
      "description": "Request message for AgentService.RestoreAppVersion",
      "properties": {}
    },
    "EvaluationResultToolCallLatency": {
      "id": "EvaluationResultToolCallLatency",
      "type": "object",
      "description": "The latency of a tool call execution.",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the tool."
        },
        "startTime": {
          "description": "Output only. The start time of the tool call execution.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "executionLatency": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The latency of the tool call execution."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The end time of the tool call execution."
        },
        "tool": {
          "description": "Output only. The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AggregatedMetricsTurnLatencyMetrics": {
      "description": "Metrics for turn latency.",
      "properties": {
        "averageLatency": {
          "description": "Output only. The average latency of the turns.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "AggregatedMetricsTurnLatencyMetrics",
      "type": "object"
    },
    "PythonCodeCondition": {
      "id": "PythonCodeCondition",
      "type": "object",
      "description": "Python code block to evaluate the condition.",
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute.",
          "type": "string"
        }
      }
    },
    "Blob": {
      "description": "Represents a blob input or output in the conversation.",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes of the blob.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Blob",
      "type": "object"
    },
    "ExportEvaluationRunsRequest": {
      "id": "ExportEvaluationRunsRequest",
      "type": "object",
      "description": "Request message for EvaluationService.ExportEvaluationRuns.",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The resource names of the evaluation runs to export."
        },
        "exportOptions": {
          "$ref": "ExportOptions",
          "description": "Optional. The export options for the evaluation runs."
        }
      }
    },
    "ChannelProfileWebWidgetConfig": {
      "description": "Message for configuration for the web widget.",
      "properties": {
        "theme": {
          "type": "string",
          "enumDescriptions": [
            "Unknown theme.",
            "Light theme.",
            "Dark theme."
          ],
          "enum": [
            "THEME_UNSPECIFIED",
            "LIGHT",
            "DARK"
          ],
          "description": "Optional. The theme of the web widget."
        },
        "modality": {
          "description": "Optional. The modality of the web widget.",
          "type": "string",
          "enumDescriptions": [
            "Unknown modality.",
            "Widget supports both chat and voice input.",
            "Widget supports only voice input.",
            "Widget supports only chat input.",
            "Widget supports chat, voice, and video input."
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "CHAT_AND_VOICE",
            "VOICE_ONLY",
            "CHAT_ONLY",
            "CHAT_VOICE_AND_VIDEO"
          ]
        },
        "webWidgetTitle": {
          "description": "Optional. The title of the web widget.",
          "type": "string"
        },
        "securitySettings": {
          "$ref": "ChannelProfileWebWidgetConfigSecuritySettings",
          "description": "Optional. The security settings of the web widget."
        }
      },
      "id": "ChannelProfileWebWidgetConfig",
      "type": "object"
    },
    "Event": {
      "id": "Event",
      "type": "object",
      "description": "Event input.",
      "properties": {
        "event": {
          "description": "Required. The name of the event.",
          "type": "string"
        }
      }
    },
    "DataStore": {
      "id": "DataStore",
      "type": "object",
      "description": "A DataStore resource in Vertex AI Search.",
      "properties": {
        "documentProcessingMode": {
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "readOnly": true,
          "description": "Output only. The document processing mode for the data store connection. Only set for PUBLIC_WEB and UNSTRUCTURED data stores.",
          "enumDescriptions": [
            "Not specified.",
            "Documents are processed as documents.",
            "Documents are converted to chunks."
          ],
          "type": "string"
        },
        "name": {
          "description": "Required. Full resource name of the DataStore. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the data store."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the data store was created."
        },
        "type": {
          "description": "Output only. The type of the data store. This field is readonly and populated by the server.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. This value indicates that the data store type is not specified, so it will not be used during search.",
            "A data store that contains public web content.",
            "A data store that contains unstructured private data.",
            "A data store that contains structured data used as FAQ.",
            "A data store that is a connector to a first-party or a third-party service."
          ],
          "readOnly": true,
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "FAQ",
            "CONNECTOR"
          ]
        },
        "connectorConfig": {
          "readOnly": true,
          "$ref": "DataStoreConnectorConfig",
          "description": "Output only. The connector config for the data store connection."
        }
      }
    },
    "EvaluationExpectation": {
      "description": "An evaluation expectation represents a specific criteria to evaluate against.",
      "properties": {
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the evaluation expectation was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "llmCriteria": {
          "$ref": "EvaluationExpectationLlmCriteria",
          "description": "Optional. Evaluation criteria based on an LLM prompt."
        },
        "name": {
          "description": "Identifier. The unique identifier of this evaluation expectation. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationExpectations/{evaluation_expectation}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. User-defined display name. Must be unique within the app.",
          "type": "string"
        },
        "tags": {
          "description": "Optional. User-defined tags for expectations. Can be used to filter expectations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp when the evaluation expectation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "EvaluationExpectation",
      "type": "object"
    },
    "Callback": {
      "description": "A callback defines the custom logic to be executed at various stages of agent interaction.",
      "properties": {
        "pythonCode": {
          "description": "Required. The python code to execute for the callback.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the callback is disabled. Disabled callbacks are ignored by the agent.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Human-readable description of the callback.",
          "type": "string"
        },
        "proactiveExecutionEnabled": {
          "description": "Optional. If enabled, the callback will also be executed on intermediate model outputs. This setting only affects after model callback. **ENABLE WITH CAUTION**. Typically after model callback only needs to be executed after receiving all model responses. Enabling proactive execution may have negative implication on the execution cost and latency, and should only be enabled in rare situations.",
          "type": "boolean"
        }
      },
      "id": "Callback",
      "type": "object"
    },
    "ImportAppRequest": {
      "id": "ImportAppRequest",
      "type": "object",
      "description": "Request message for AgentService.ImportApp.",
      "properties": {
        "displayName": {
          "description": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "appContent": {
          "type": "string",
          "format": "byte",
          "description": "Raw bytes representing the compressed zip file with the app folder structure."
        },
        "ignoreAppLock": {
          "description": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock.",
          "type": "boolean"
        },
        "appId": {
          "description": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced.",
          "type": "string"
        },
        "importOptions": {
          "description": "Optional. Options governing the import process for the app.",
          "$ref": "ImportAppRequestImportOptions"
        },
        "gcsUri": {
          "description": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`.",
          "type": "string"
        }
      }
    },
    "GenerateAppResourceRequestEvaluationGenerationConfig": {
      "id": "GenerateAppResourceRequestEvaluationGenerationConfig",
      "type": "object",
      "description": "The configuration to be used to generate the evaluations.",
      "properties": {
        "datasetId": {
          "description": "Optional. The insights dataset to be used to fetch conversation data for generating the evaluations. Format: `projects/{project}/locations/{location}/datasets/{dataset}`.",
          "type": "string"
        }
      }
    },
    "EvaluationMetricsConfigExpectationsMetMetricsConfig": {
      "id": "EvaluationMetricsConfigExpectationsMetMetricsConfig",
      "type": "object",
      "description": "Configuration for the expectation level metrics for the evaluation. To disable the metric, set the message but do not set the `enable_expectations_met_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely.",
      "properties": {
        "enableExpectationsMetMetrics": {
          "description": "Optional. Whether to calculate the expectation level metrics for the evaluation.",
          "type": "boolean"
        }
      }
    },
    "EvaluationResultOverallToolInvocationResult": {
      "description": "The result of the overall tool invocation check.",
      "properties": {
        "toolInvocationScore": {
          "description": "The overall tool invocation score for this turn. This indicates the overall percent of tools from the expected turn that were actually invoked.",
          "type": "number",
          "format": "float"
        },
        "outcome": {
          "description": "Output only. The outcome of the tool invocation check. This is determined by comparing the tool_invocation_score to the overall_tool_invocation_correctness_threshold. If the score is equal to or above the threshold, the outcome will be PASS. Otherwise, the outcome will be FAIL.",
          "type": "string",
          "enumDescriptions": [
            "Evaluation outcome is not specified.",
            "Evaluation/Expectation passed. In the case of an evaluation, this means that all expectations were met.",
            "Evaluation/Expectation failed. In the case of an evaluation, this means that at least one expectation was not met.",
            "Evaluation/Expectation was skipped."
          ],
          "readOnly": true,
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "PASS",
            "FAIL",
            "SKIPPED"
          ]
        }
      },
      "id": "EvaluationResultOverallToolInvocationResult",
      "type": "object"
    },
    "TransferRuleDeterministicTransfer": {
      "description": "Deterministic transfer rule. When the condition evaluates to true, the transfer occurs.",
      "properties": {
        "expressionCondition": {
          "$ref": "ExpressionCondition",
          "description": "Optional. A rule that evaluates a session state condition. If the condition evaluates to true, the transfer occurs."
        },
        "pythonCodeCondition": {
          "description": "Optional. A rule that uses Python code block to evaluate the conditions. If the condition evaluates to true, the transfer occurs.",
          "$ref": "PythonCodeCondition"
        }
      },
      "id": "TransferRuleDeterministicTransfer",
      "type": "object"
    },
    "ServiceAccountAuthConfig": {
      "description": "Configurations for authentication using a custom service account.",
      "properties": {
        "serviceAccount": {
          "description": "Required. The email address of the service account used for authentication. CES uses this service account to exchange an access token and the access token is then sent in the `Authorization` header of the request. The service account must have the `roles/iam.serviceAccountTokenCreator` role granted to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`.",
          "type": "string"
        },
        "scopes": {
          "description": "Optional. The OAuth scopes to grant. If not specified, the default scope `https://www.googleapis.com/auth/cloud-platform` is used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ServiceAccountAuthConfig",
      "type": "object"
    },
    "SessionInput": {
      "id": "SessionInput",
      "type": "object",
      "description": "Input for the session.",
      "properties": {
        "variables": {
          "description": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "dtmf": {
          "description": "Optional. DTMF digits from the end user.",
          "type": "string"
        },
        "toolResponses": {
          "description": "Optional. Execution results for the tool calls from the client.",
          "$ref": "ToolResponses"
        },
        "willContinue": {
          "description": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal.",
          "type": "boolean"
        },
        "text": {
          "description": "Optional. Text data from the end user.",
          "type": "string"
        },
        "audio": {
          "description": "Optional. Audio data from the end user.",
          "type": "string",
          "format": "byte"
        },
        "blob": {
          "description": "Optional. Blob data from the end user.",
          "$ref": "Blob"
        },
        "event": {
          "$ref": "Event",
          "description": "Optional. Event input."
        },
        "image": {
          "$ref": "Image",
          "description": "Optional. Image data from the end user."
        }
      }
    },
    "ListEvaluationExpectationsResponse": {
      "description": "Response message for EvaluationService.ListEvaluationExpectations.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationExpectationsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "evaluationExpectations": {
          "items": {
            "$ref": "EvaluationExpectation"
          },
          "type": "array",
          "description": "The list of evaluation expectations."
        }
      },
      "id": "ListEvaluationExpectationsResponse",
      "type": "object"
    },
    "ListToolsResponse": {
      "description": "Response message for AgentService.ListTools.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages.",
          "type": "string"
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "The list of tools."
        }
      },
      "id": "ListToolsResponse",
      "type": "object"
    },
    "DeleteEvaluationRunOperationMetadata": {
      "description": "Operation metadata for EvaluationService.DeleteEvaluationRun.",
      "properties": {},
      "id": "DeleteEvaluationRunOperationMetadata",
      "type": "object"
    },
    "LatencyReportToolLatency": {
      "id": "LatencyReportToolLatency",
      "type": "object",
      "description": "Latency metrics for a single tool.",
      "properties": {
        "toolDisplayName": {
          "description": "Output only. The display name of the tool.",
          "readOnly": true,
          "type": "string"
        },
        "toolsetTool": {
          "readOnly": true,
          "description": "Output only. The toolset tool identifier.",
          "$ref": "ToolsetTool"
        },
        "latencyMetrics": {
          "description": "Output only. The latency metrics for the tool.",
          "$ref": "LatencyReportLatencyMetrics",
          "readOnly": true
        },
        "tool": {
          "description": "Output only. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "BearerTokenConfig": {
      "id": "BearerTokenConfig",
      "type": "object",
      "description": "Configurations for authentication with a bearer token.",
      "properties": {
        "token": {
          "description": "Required. The bearer token. Must be in the format `$context.variables.`.",
          "type": "string"
        }
      }
    },
    "ExportEvaluationsResponse": {
      "id": "ExportEvaluationsResponse",
      "type": "object",
      "description": "Response message for EvaluationService.ExportEvaluations.",
      "properties": {
        "failedEvaluations": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. A map of evaluation resource names that could not be exported, to the reason why they failed.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "evaluationsContent": {
          "type": "string",
          "format": "byte",
          "description": "The content of the exported Evaluations. This will be populated if gcs_uri was not specified in the request."
        },
        "evaluationsUri": {
          "description": "The Google Cloud Storage URI folder where the exported evaluations were written. This will be populated if gcs_uri was specified in the request.",
          "type": "string"
        }
      }
    },
    "AggregatedMetricsMetricsByAppVersion": {
      "id": "AggregatedMetricsMetricsByAppVersion",
      "type": "object",
      "description": "Metrics aggregated per app version.",
      "properties": {
        "metricsByTurn": {
          "description": "Output only. Metrics aggregated per turn within this app version.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsMetricsByTurn"
          }
        },
        "appVersionId": {
          "description": "Output only. The app version ID.",
          "readOnly": true,
          "type": "string"
        },
        "toolCallLatencyMetrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsToolCallLatencyMetrics"
          },
          "description": "Output only. Metrics for tool call latency within this app version."
        },
        "passCount": {
          "description": "Output only. The number of times the evaluation passed.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "semanticSimilarityMetrics": {
          "description": "Output only. Metrics for semantic similarity within this app version.",
          "items": {
            "$ref": "AggregatedMetricsSemanticSimilarityMetrics"
          },
          "readOnly": true,
          "type": "array"
        },
        "turnLatencyMetrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsTurnLatencyMetrics"
          },
          "description": "Output only. Metrics for turn latency within this app version."
        },
        "toolMetrics": {
          "description": "Output only. Metrics for each tool within this app version.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsToolMetrics"
          }
        },
        "hallucinationMetrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AggregatedMetricsHallucinationMetrics"
          },
          "description": "Output only. Metrics for hallucination within this app version."
        },
        "failCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of times the evaluation failed."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "BatchDeleteConversationsResponse": {
      "id": "BatchDeleteConversationsResponse",
      "type": "object",
      "description": "Response message for AgentService.BatchDeleteConversations.",
      "properties": {
        "deletedConversations": {
          "description": "The list of conversations that were successfully deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "errorMessages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of error messages associated with conversations that failed to be deleted."
        },
        "failedConversations": {
          "description": "The list of conversations that failed to be deleted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EvaluationResultScenarioExpectationOutcomeObservedToolCall": {
      "id": "EvaluationResultScenarioExpectationOutcomeObservedToolCall",
      "type": "object",
      "description": "The observed tool call and response.",
      "properties": {
        "toolCall": {
          "$ref": "ToolCall",
          "description": "Output only. The observed tool call.",
          "readOnly": true
        },
        "toolResponse": {
          "description": "Output only. The observed tool response.",
          "$ref": "ToolResponse",
          "readOnly": true
        }
      }
    },
    "GenerateAppResourceRequest": {
      "description": "Request message for AgentService.GenerateAppResource.",
      "properties": {
        "refineInstructions": {
          "description": "Optional. List of refine instructions to be used to refine the resource.",
          "items": {
            "$ref": "GenerateAppResourceRequestRefineInstructions"
          },
          "type": "array"
        },
        "agent": {
          "description": "The agent resource to be used by the LLM assistant, can be empty for generating a new agent.",
          "$ref": "Agent"
        },
        "toolGenerationConfig": {
          "$ref": "GenerateAppResourceRequestToolGenerationConfig",
          "description": "Optional. The configuration to be used to generate the tool."
        },
        "evaluationPersonasGenerationConfig": {
          "$ref": "GenerateAppResourceRequestEvaluationPersonasGenerationConfig",
          "description": "Optional. The configuration to be used to generate the evaluation personas."
        },
        "tool": {
          "description": "The tool resource to be used by the LLM assistant, can be empty for generating a new tool.",
          "$ref": "Tool"
        },
        "appGenerationConfig": {
          "description": "Optional. The configuration to be used to generate the agents and tools.",
          "$ref": "GenerateAppResourceRequestAppGenerationConfig"
        },
        "qualityReportGenerationConfig": {
          "description": "Optional. The configuration to be used for quality report generation.",
          "$ref": "GenerateAppResourceRequestQualityReportGenerationConfig"
        },
        "toolset": {
          "description": "The toolset resource to be used by the LLM assistant, can be empty for generating a new toolset.",
          "$ref": "Toolset"
        },
        "hillClimbingFixConfig": {
          "$ref": "GenerateAppResourceRequestHillClimbingFixConfig",
          "description": "Optional. The configuration to be used for hill climbing fixes."
        },
        "evaluationGenerationConfig": {
          "description": "Optional. The configuration to be used to generate the evaluations.",
          "$ref": "GenerateAppResourceRequestEvaluationGenerationConfig"
        }
      },
      "id": "GenerateAppResourceRequest",
      "type": "object"
    },
    "OpenApiTool": {
      "id": "OpenApiTool",
      "type": "object",
      "description": "A remote API tool defined by an OpenAPI schema.",
      "properties": {
        "openApiSchema": {
          "description": "Required. The OpenAPI schema in JSON or YAML format.",
          "type": "string"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust.",
          "$ref": "TlsConfig"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Service Directory configuration.",
          "$ref": "ServiceDirectoryConfig"
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`.",
          "type": "string"
        },
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response.",
          "type": "boolean"
        }
      }
    },
    "EvaluationStep": {
      "id": "EvaluationStep",
      "type": "object",
      "description": "A step defines a singular action to happen during the evaluation.",
      "properties": {
        "userInput": {
          "description": "Optional. User input for the conversation.",
          "$ref": "SessionInput"
        },
        "expectation": {
          "$ref": "EvaluationGoldenExpectation",
          "description": "Optional. Executes an expectation on the current turn."
        },
        "agentTransfer": {
          "description": "Optional. Transfer the conversation to a different agent.",
          "$ref": "AgentTransfer"
        }
      }
    },
    "RemoteAgentTool": {
      "id": "RemoteAgentTool",
      "type": "object",
      "description": "Represents a tool that allows the agent to call another remote agent.",
      "properties": {
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "description": {
          "description": "Required. The description of the tool.",
          "type": "string"
        },
        "agentCard": {
          "$ref": "AgentCard",
          "description": "Required. The agent card of the remote agent that this tool invokes."
        }
      }
    },
    "EvaluationRunProgress": {
      "description": "The progress of the evaluation run.",
      "properties": {
        "totalCount": {
          "description": "Output only. Total number of evaluation results in this run.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "completedCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of evaluation results that finished successfully. (EvaluationResult.execution_state is COMPLETED)."
        },
        "errorCount": {
          "description": "Output only. Number of evaluation results that failed to execute. (EvaluationResult.execution_state is ERROR).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "failedCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of completed evaluation results with an outcome of FAIL. (EvaluationResult.execution_state is COMPLETED and EvaluationResult.evaluation_status is FAIL)."
        },
        "passedCount": {
          "description": "Output only. Number of completed evaluation results with an outcome of PASS. (EvaluationResult.execution_state is COMPLETED and EvaluationResult.evaluation_status is PASS).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "EvaluationRunProgress",
      "type": "object"
    },
    "AppVariableDeclaration": {
      "id": "AppVariableDeclaration",
      "type": "object",
      "description": "Defines the structure and metadata for a variable.",
      "properties": {
        "schema": {
          "$ref": "Schema",
          "description": "Required. The schema of the variable."
        },
        "name": {
          "description": "Required. The name of the variable. The name must start with a letter or underscore and contain only letters, numbers, or underscores.",
          "type": "string"
        },
        "description": {
          "description": "Required. The description of the variable.",
          "type": "string"
        }
      }
    },
    "OpenApiToolset": {
      "id": "OpenApiToolset",
      "type": "object",
      "description": "A toolset that contains a list of tools that are defined by an OpenAPI schema.",
      "properties": {
        "apiAuthentication": {
          "$ref": "ApiAuthentication",
          "description": "Optional. Authentication information required by the API."
        },
        "ignoreUnknownFields": {
          "description": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema.",
          "type": "boolean"
        },
        "openApiSchema": {
          "description": "Required. The OpenAPI schema of the toolset.",
          "type": "string"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration. Includes the custom server certificates",
          "$ref": "TlsConfig"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Service Directory configuration."
        },
        "url": {
          "description": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema.",
          "type": "string"
        }
      }
    },
    "EndpointControlPolicy": {
      "id": "EndpointControlPolicy",
      "type": "object",
      "description": "Defines project/location level endpoint control policy.",
      "properties": {
        "enforcementScope": {
          "description": "Optional. The scope in which this policy's allowed_origins list is enforced.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This policy will be treated as VPCSC_ONLY.",
            "This policy applies only when VPC-SC is active.",
            "This policy ALWAYS applies, regardless of VPC-SC status."
          ],
          "enum": [
            "ENFORCEMENT_SCOPE_UNSPECIFIED",
            "VPCSC_ONLY",
            "ALWAYS"
          ]
        },
        "allowedOrigins": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The allowed HTTP(s) origins that tools in the App are able to directly call. The enforcement depends on the value of enforcement_scope and the VPC-SC status of the project. If a port number is not provided, all ports will be allowed. Otherwise, the port number must match exactly. For example, \"https://example.com\" will match \"https://example.com:443\" and any other port. \"https://example.com:443\" will only match \"https://example.com:443\"."
        }
      }
    },
    "GuardrailCodeCallback": {
      "description": "Guardrail that blocks the conversation based on the code callbacks provided.",
      "properties": {
        "beforeAgentCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute before the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "beforeModelCallback": {
          "description": "Optional. The callback to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        },
        "afterModelCallback": {
          "$ref": "Callback",
          "description": "Optional. The callback to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing."
        },
        "afterAgentCallback": {
          "description": "Optional. The callback to execute after the agent is called. Each callback function is expected to return a structure (e.g., a dict or object) containing at least: - 'decision': Either 'OK' or 'TRIGGER'. - 'reason': A string explaining the decision. A 'TRIGGER' decision may halt further processing.",
          "$ref": "Callback"
        }
      },
      "id": "GuardrailCodeCallback",
      "type": "object"
    },
    "GenerateChatTokenResponse": {
      "id": "GenerateChatTokenResponse",
      "type": "object",
      "description": "Response message for WidgetService.GenerateChatToken.",
      "properties": {
        "chatToken": {
          "description": "The session scoped token for chat widget to authenticate with Session APIs.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the chat token expires."
        }
      }
    },
    "ExportEvaluationResultsResponse": {
      "id": "ExportEvaluationResultsResponse",
      "type": "object",
      "description": "Response message for EvaluationService.ExportEvaluationResults.",
      "properties": {
        "evaluationResultsUri": {
          "description": "The Google Cloud Storage URI folder where the exported Evaluation Results were written. This will be populated if gcs_uri was specified in the request.",
          "type": "string"
        },
        "evaluationResultsContent": {
          "type": "string",
          "format": "byte",
          "description": "The content of the exported Evaluation Results. This will be populated if gcs_uri was not specified in the request."
        }
      }
    },
    "WidgetTool": {
      "id": "WidgetTool",
      "type": "object",
      "description": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent.",
      "properties": {
        "name": {
          "description": "Required. The display name of the widget tool.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the widget tool.",
          "type": "string"
        },
        "textResponseConfig": {
          "description": "Optional. Configuration for always-included text responses.",
          "$ref": "WidgetToolTextResponseConfig"
        },
        "uiConfig": {
          "type": "object",
          "description": "Optional. Configuration for rendering the widget.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "dataMapping": {
          "description": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters.",
          "$ref": "WidgetToolDataMapping"
        },
        "widgetType": {
          "enumDescriptions": [
            "Unspecified widget type.",
            "Custom widget type.",
            "Product carousel widget.",
            "Product details widget.",
            "Quick actions widget.",
            "Product comparison widget.",
            "Advanced product details widget.",
            "Short form widget.",
            "Overall satisfaction widget.",
            "Order summary widget.",
            "Appointment details widget.",
            "Appointment scheduler widget.",
            "Contact form widget."
          ],
          "enum": [
            "WIDGET_TYPE_UNSPECIFIED",
            "CUSTOM",
            "PRODUCT_CAROUSEL",
            "PRODUCT_DETAILS",
            "QUICK_ACTIONS",
            "PRODUCT_COMPARISON",
            "ADVANCED_PRODUCT_DETAILS",
            "SHORT_FORM",
            "OVERALL_SATISFACTION",
            "ORDER_SUMMARY",
            "APPOINTMENT_DETAILS",
            "APPOINTMENT_SCHEDULER",
            "CONTACT_FORM"
          ],
          "type": "string",
          "description": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED."
        },
        "parameters": {
          "$ref": "Schema",
          "description": "Optional. The input parameters of the widget tool."
        }
      }
    },
    "VpcScSettings": {
      "description": "VPC-SC settings for the app.",
      "properties": {
        "allowedOrigins": {
          "description": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "VpcScSettings",
      "type": "object"
    },
    "PythonFunction": {
      "description": "A Python function tool.",
      "properties": {
        "pythonCode": {
          "description": "Optional. The Python code to execute for the tool.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The name of the Python function to execute. Must match a Python function name defined in the python code. Case sensitive. If the name is not provided, the first function defined in the python code will be used.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the Python function, parsed from the python code's docstring."
        },
        "serviceDirectoryConfig": {
[...]
