{
  "discoveryVersion": "v1",
  "version_module": true,
  "revision": "20260807",
  "ownerName": "Google",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            }
          },
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "parameterOrder": [
            "customer"
          ],
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          },
          "httpMethod": "POST",
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "parameters": {
            "customer": {
              "pattern": "^customers/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The customer for which the file upload will apply."
            }
          },
          "id": "chromepolicy.media.upload",
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ]
        }
      }
    },
    "customers": {
      "resources": {
        "policies": {
          "methods": {
            "resolve": {
              "parameters": {
                "customer": {
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                }
              },
              "id": "chromepolicy.customers.policies.resolve",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              },
              "httpMethod": "POST",
              "path": "v1/{+customer}/policies:resolve",
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              },
              "description": "Gets the resolved policy values for a list of policies that match a search query."
            }
          },
          "resources": {
            "orgunits": {
              "methods": {
                "batchInherit": {
                  "path": "v1/{+customer}/policies/orgunits:batchInherit",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  }
                },
                "batchModify": {
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string"
                    }
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/orgunits:batchModify"
                }
              }
            },
            "groups": {
              "methods": {
                "batchDelete": {
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  },
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST"
                },
                "listGroupPriorityOrdering": {
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  },
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering",
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  },
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status."
                },
                "batchModify": {
                  "path": "v1/{+customer}/policies/groups:batchModify",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.groups.batchModify",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string"
                    }
                  },
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  }
                },
                "updateGroupPriorityOrdering": {
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  }
                }
              }
            },
            "networks": {
              "methods": {
                "removeNetwork": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "parameters": {
                    "customer": {
                      "description": "Required. The customer whose network will be removed.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  },
                  "description": "Remove an existing network by guid."
                },
                "defineNetwork": {
                  "path": "v1/{+customer}/policies/networks:defineNetwork",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  },
                  "httpMethod": "POST",
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The customer who will own this new network."
                    }
                  },
                  "description": "Define a new network.",
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  }
                },
                "defineCertificate": {
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  },
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer for which the certificate will apply.",
                      "type": "string"
                    }
                  },
                  "id": "chromepolicy.customers.policies.networks.defineCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/networks:defineCertificate"
                },
                "removeCertificate": {
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  },
                  "description": "Remove an existing certificate by guid.",
                  "parameters": {
                    "customer": {
                      "description": "Required. The customer whose certificate will be removed.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/networks:removeCertificate"
                }
              }
            }
          }
        },
        "policySchemas": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/policySchemas",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              },
              "httpMethod": "GET",
              "id": "chromepolicy.customers.policySchemas.list",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The customer for which the listing request will apply.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "flatPath": "v1/customers/{customersId}/policySchemas"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The policy schema resource name to query.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/policySchemas/.*$"
                }
              },
              "id": "chromepolicy.customers.policySchemas.get",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "description": "Get a specific policy schema for a customer by its resource name."
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Chrome Policy API",
  "version": "v1",
  "schemas": {
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest",
      "type": "object",
      "properties": {
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        },
        "updateMask": {
          "type": "string",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "format": "google-fieldmask"
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        }
      },
      "description": "Request parameters for modifying a policy value for a specific group target."
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "id": "GoogleChromePolicyVersionsV1PolicySchema",
      "type": "object",
      "properties": {
        "categoryTitle": {
          "description": "Title of the category in which a setting belongs.",
          "type": "string"
        },
        "definition": {
          "description": "Schema definition using proto descriptor.",
          "$ref": "Proto2FileDescriptorProto"
        },
        "schemaName": {
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies.",
          "readOnly": true,
          "type": "string"
        },
        "validTargetResources": {
          "items": {
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ],
            "type": "string",
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ]
          },
          "description": "Output only. Information about applicable target resources for the policy.",
          "readOnly": true,
          "type": "array"
        },
        "additionalTargetKeyNames": {
          "type": "array",
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          }
        },
        "policyDescription": {
          "type": "string",
          "description": "Output only. Description about the policy schema for user consumption.",
          "readOnly": true
        },
        "policyApiLifecycle": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyApiLifecycle",
          "description": "Output only. Current lifecycle information.",
          "readOnly": true
        },
        "fieldDescriptions": {
          "description": "Output only. Detailed description of each field that is part of the schema. Fields are suggested to be displayed by the ordering in this list, not by field number.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          }
        },
        "supportedPlatforms": {
          "type": "array",
          "description": "Output only. List indicates that the policy will only apply to devices/users on these platforms.",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Unspecified platform.",
              "ChromeOS.",
              "Chrome Browser for OSX/Windows/Linux.",
              "Chrome Browser for Android.",
              "Chrome Browser for iOS."
            ],
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "CHROME_OS",
              "CHROME_BROWSER",
              "CHROME_BROWSER_FOR_ANDROID",
              "CHROME_BROWSER_FOR_IOS"
            ]
          }
        },
        "notices": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          },
          "type": "array",
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "readOnly": true
        },
        "name": {
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}",
          "type": "string"
        },
        "accessRestrictions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Specific access restrictions related to this policy.",
          "readOnly": true
        },
        "supportUri": {
          "type": "string",
          "description": "Output only. URI to related support article for this schema.",
          "readOnly": true
        }
      },
      "description": "Resource representing a policy schema."
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest",
      "type": "object",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policySchema": {
          "description": "The schema name of the policy for the request.",
          "type": "string"
        },
        "policyNamespace": {
          "description": "The namespace of the policy type for the request.",
          "type": "string"
        }
      },
      "description": "Request message for listing the group priority ordering of an app."
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "description": "Response message for downloading an uploaded file.",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse",
      "type": "object",
      "properties": {
        "downloadUri": {
          "description": "The uri for end user to download the file.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "description": "Request message for getting the resolved policy value for a specific target.",
      "id": "GoogleChromePolicyVersionsV1ResolveRequest",
      "type": "object",
      "properties": {
        "policySchemaFilter": {
          "description": "Required. The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\"",
          "type": "string"
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target resource on which the policies should be resolved."
        },
        "pageToken": {
          "description": "The page token used to retrieve a specific page of the request.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000."
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "description": "Response object for removing a network.",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "description": "Response message for getting the resolved policy value for a specific target.",
      "id": "GoogleChromePolicyVersionsV1ResolveResponse",
      "type": "object",
      "properties": {
        "resolvedPolicies": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          },
          "type": "array",
          "description": "The list of resolved policies found by the resolve request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to get the next set of resolved policies found by the request."
        }
      }
    },
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "id": "GoogleChromePolicyVersionsV1NetworkSetting",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the network setting.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the network setting."
        }
      },
      "description": "A network setting contains network configurations. It adheres to the PolicyAPI formats defined under the namespace chrome.networks.{wifi/ethernet/cellular/vpn}.Details"
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          }
        }
      },
      "description": "Request message for specifying that multiple policy values inherit their value from their parents."
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "description": "Request message for specifying that multiple policy values will be deleted.",
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          },
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array"
        }
      }
    },
    "Proto2OneofDescriptorProto": {
      "id": "Proto2OneofDescriptorProto",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "description": "Describes a oneof."
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest",
      "type": "object",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string"
        }
      },
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit."
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "description": "Response message for listing policy schemas that match a filter.",
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse",
      "type": "object",
      "properties": {
        "policySchemas": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          },
          "type": "array",
          "description": "The list of policy schemas that match the query."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to get the next page of policy schemas."
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "description": "Request object for creating a new network.",
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest",
      "type": "object",
      "properties": {
        "settings": {
          "description": "Required. Detailed network settings.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "targetResource": {
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the new created network.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "description": "The fields that will become required based on the value of this field.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems",
      "type": "object",
      "properties": {
        "fieldConditions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement."
        },
        "requiredFields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The fields that are required as a consequence of the field conditions."
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse",
      "type": "object",
      "properties": {
        "networkId": {
          "type": "string",
          "description": "Network ID of the new created network."
        },
        "targetResource": {
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array",
          "description": "Detailed network settings of the new created network"
        }
      },
      "description": "Response object for creating a network."
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies",
      "type": "object",
      "properties": {
        "sourceField": {
          "description": "The source field which this field depends on.",
          "type": "string"
        },
        "sourceFieldValue": {
          "description": "The value which the source field must have for this field to be allowed to be set.",
          "type": "string"
        }
      },
      "description": "The field and the value it must have for another field to be allowed to be set."
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse",
      "type": "object",
      "properties": {
        "policySchema": {
          "description": "Output only. The schema name of the policy for the group IDs.",
          "readOnly": true,
          "type": "string"
        },
        "policyTargetKey": {
          "description": "Output only. The target resource for which the group priority ordering has been retrieved.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "groupIds": {
          "type": "array",
          "description": "Output only. The group IDs, in priority ordering.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "policyNamespace": {
          "description": "Output only. The namespace of the policy type of the group IDs.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Response message for listing the group priority ordering of an app."
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest",
      "type": "object",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        },
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        },
        "updateMask": {
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleChromePolicyVersionsV1FieldConstraints": {
      "id": "GoogleChromePolicyVersionsV1FieldConstraints",
      "type": "object",
      "properties": {
        "numericRangeConstraint": {
          "$ref": "GoogleChromePolicyVersionsV1NumericRangeConstraint",
          "description": "The allowed range for numeric fields."
        },
        "uploadedFileConstraints": {
          "$ref": "GoogleChromePolicyVersionsV1UploadedFileConstraints",
          "description": "Constraints on the uploaded file of a file policy. If present, this policy requires a URL that can be fetched by uploading a file with the constraints specified in this proto."
        }
      },
      "description": "Information about any range constraints."
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key name."
        },
        "keyDescription": {
          "description": "Key description.",
          "type": "string"
        }
      },
      "description": "Additional key names that will be used to identify the target of the policy value."
    },
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError",
      "type": "object",
      "properties": {
        "field": {
          "description": "Output only. The name of the field with the error.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "description": "Output only. The error message related to the field.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Error information for a modification request of a specific field on a specific policy."
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey",
      "type": "object",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")"
        },
        "additionalTargetKeys": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy."
        }
      },
      "description": "The key used to identify the target on which the policy will be applied."
    },
    "GoogleChromePolicyVersionsV1PolicyModificationError": {
      "description": "Error information for a modification request of a specific policy on a specific target.",
      "id": "GoogleChromePolicyVersionsV1PolicyModificationError",
      "type": "object",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The specific policy target modification that had error.",
          "readOnly": true
        },
        "errors": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The non-field errors related to the modification.",
          "readOnly": true
        },
        "policySchema": {
          "type": "string",
          "description": "Output only. The specific policy schema modification that had an error.",
          "readOnly": true
        },
        "fieldErrors": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationFieldError"
          },
          "description": "Output only. The error messages related to the modification.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "description": "The resolved value of a policy for a given target.",
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "Output only. The resolved value of the policy.",
          "readOnly": true
        },
        "addedSourceKey": {
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "targetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The target resource for which the resolved policy value applies.",
          "readOnly": true
        },
        "sourceKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer.",
          "readOnly": true
        }
      }
    },
    "Proto2DescriptorProto": {
      "id": "Proto2DescriptorProto",
      "type": "object",
      "properties": {
        "nestedType": {
          "type": "array",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "field": {
          "type": "array",
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          }
        },
        "name": {
          "type": "string"
        },
        "oneofDecl": {
          "type": "array",
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          }
        },
        "visibility": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Support for `export` and `local` keywords on enums.",
          "type": "string",
          "enum": [
            "VISIBILITY_UNSET",
            "VISIBILITY_LOCAL",
            "VISIBILITY_EXPORT"
          ]
        }
      },
      "description": "Describes a message type."
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "description": "Request object for removing a network",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest",
      "type": "object",
      "properties": {
        "targetResource": {
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the network to remove."
        }
      }
    },
    "Proto2EnumDescriptorProto": {
      "id": "Proto2EnumDescriptorProto",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        },
        "name": {
          "type": "string"
        },
        "visibility": {
          "description": "Support for `export` and `local` keywords on enums.",
          "type": "string",
          "enum": [
            "VISIBILITY_UNSET",
            "VISIBILITY_LOCAL",
            "VISIBILITY_EXPORT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "description": "Describes an enum type."
    },
    "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails": {
      "id": "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails",
      "type": "object",
      "properties": {
        "modificationErrors": {
          "description": "Output only. List of specific policy modifications errors that may have occurred during a modifying request.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationError"
          }
        }
      },
      "description": "Details of the errors encountered during a policy modification request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request."
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription",
      "type": "object",
      "properties": {
        "noticeValue": {
          "type": "string",
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "readOnly": true
        },
        "noticeMessage": {
          "description": "Output only. The notice message associate with the value of the field.",
          "readOnly": true,
          "type": "string"
        },
        "acknowledgementRequired": {
          "type": "boolean",
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "readOnly": true
        },
        "field": {
          "description": "Output only. The field name associated with the notice.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema."
    },
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "description": "Request object for creating a certificate.",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest",
      "type": "object",
      "properties": {
        "ceritificateName": {
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name.",
          "type": "string"
        },
        "certificate": {
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file.",
          "type": "string"
        },
        "targetResource": {
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "settings": {
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "id": "GoogleChromePolicyVersionsV1PolicyValue",
      "type": "object",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema associated with this policy."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The value of the policy that is compatible with the schema that it is associated with."
        }
      },
      "description": "A particular value for a policy managed by the service."
    },
    "GoogleChromePolicyVersionsV1UploadedFileConstraints": {
      "id": "GoogleChromePolicyVersionsV1UploadedFileConstraints",
      "type": "object",
      "properties": {
        "supportedContentTypes": {
          "description": "File types that can be uploaded for a setting.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CONTENT_TYPE_UNSPECIFIED",
              "CONTENT_TYPE_PLAIN_TEXT",
              "CONTENT_TYPE_HTML",
              "CONTENT_TYPE_IMAGE_JPEG",
              "CONTENT_TYPE_IMAGE_GIF",
              "CONTENT_TYPE_IMAGE_PNG",
              "CONTENT_TYPE_JSON",
              "CONTENT_TYPE_ZIP",
              "CONTENT_TYPE_GZIP",
              "CONTENT_TYPE_CSV",
              "CONTENT_TYPE_YAML",
              "CONTENT_TYPE_IMAGE_WEBP"
            ],
            "enumDescriptions": [
              "Unspecified content type.",
              "Plain text.",
              "HTML.",
              "JPEG.",
              "GIF.",
              "PNG.",
              "JSON.",
              "ZIP.",
              "GZIP.",
              "CSV.",
              "YAML.",
              "WEBP."
            ]
          }
        },
        "sizeLimitBytes": {
          "description": "The size limit of uploaded files for a setting, in bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Constraints on the uploaded file of a file policy."
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest",
      "type": "object",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "groupIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The group IDs, in desired priority ordering."
        },
        "policySchema": {
          "type": "string",
          "description": "The schema name of the policy for the request."
        },
        "policyNamespace": {
          "type": "string",
          "description": "The namespace of the policy type for the request."
        }
      },
      "description": "Request message for updating the group priority ordering of an app."
    },
    "Proto2FieldDescriptorProto": {
      "description": "Describes a field within a message.",
      "id": "Proto2FieldDescriptorProto",
      "type": "object",
      "properties": {
        "typeName": {
          "type": "string",
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace)."
        },
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "proto3Optional": {
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`.",
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string",
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes >= 128 are escaped."
        },
        "type": {
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported after proto2. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields. In Editions, the group wire format can be enabled via the `message_encoding` feature.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "type": "string",
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP."
        },
        "oneofIndex": {
          "format": "int32",
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof.",
          "type": "integer"
        },
        "label": {
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            "The required label is only allowed in proto2. In proto3 and Editions it's explicitly prohibited. In Editions, the `field_presence` feature can be used to get this behavior."
          ],
          "type": "string",
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REPEATED",
            "LABEL_REQUIRED"
          ]
        },
        "jsonName": {
          "type": "string",
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase."
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription",
      "type": "object",
      "properties": {
        "fieldDependencies": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          },
          "type": "array",
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set.",
          "readOnly": true
        },
        "fieldDescription": {
          "description": "Output only. The description of the field.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Deprecated. Use name and field_description instead. The description for the field.",
          "deprecated": true,
          "type": "string"
        },
        "field": {
          "description": "Output only. The name of the field for associated with this description.",
          "readOnly": true,
          "type": "string"
        },
        "inputConstraint": {
          "description": "Output only. Any input constraints associated on the values for the field.",
          "readOnly": true,
          "type": "string"
        },
        "knownValueDescriptions": {
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          }
        },
        "requiredItems": {
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          }
        },
        "defaultValue": {
          "type": "any",
          "description": "Output only. Client default if the policy is unset.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the field.",
          "readOnly": true,
          "type": "string"
        },
        "nestedFieldDescriptions": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "type": "array",
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields. Fields are suggested to be displayed by the ordering in this list, not by field number.",
          "readOnly": true
        },
        "fieldConstraints": {
          "$ref": "GoogleChromePolicyVersionsV1FieldConstraints",
          "description": "Output only. Information on any input constraints associated on the values for the field.",
          "readOnly": true
        }
      },
      "description": "Provides detailed information for a particular field that is part of a PolicySchema."
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          }
        }
      },
      "description": "Request message for modifying multiple policy values for a specific target."
    },
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest",
      "type": "object",
      "properties": {
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string"
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        }
      },
      "description": "Request parameters for deleting the policy value of a specific group target."
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          }
        }
      },
      "description": "Request message for modifying multiple policy values for a specific group-based target."
    },
    "Proto2FileDescriptorProto": {
      "id": "Proto2FileDescriptorProto",
      "type": "object",
      "properties": {
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\". WARNING: This field should only be used by protobuf plugins or special cases like the proto compiler. Other uses are discouraged and developers should rely on the protoreflect APIs for their client language.",
          "type": "string"
        },
        "editionDeprecated": {
          "deprecated": true,
          "type": "string",
          "description": "copybara:strip_begin TODO(b/538805613) Deprecate and remove this field in favor of enums. copybara:strip_end"
        },
        "name": {
          "description": "file name, relative to root of source tree",
          "type": "string"
        },
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "optionDependency": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Names of files imported by this file purely for the purpose of providing option extensions. These are excluded from the dependency list above."
        },
        "messageType": {
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array",
          "description": "All top-level definitions in this file."
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        }
      },
      "description": "Describes a complete .proto file."
    },
    "GoogleChromePolicyVersionsV1NumericRangeConstraint": {
      "description": "A constraint on upper and/or lower bounds, with at least one being set.",
      "id": "GoogleChromePolicyVersionsV1NumericRangeConstraint",
      "type": "object",
      "properties": {
        "minimum": {
          "description": "Minimum value.",
          "type": "string",
          "format": "int64"
        },
        "maximum": {
          "format": "int64",
          "description": "Maximum value.",
          "type": "string"
        }
      }
    },
    "Proto2EnumValueDescriptorProto": {
      "description": "Describes a value within an enum.",
      "id": "Proto2EnumValueDescriptorProto",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "number": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "description": "Response object for creating a certificate.",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse",
      "type": "object",
      "properties": {
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)",
          "type": "array"
        },
        "networkId": {
          "description": "The guid of the certificate created by the action.",
          "type": "string"
        },
        "targetResource": {
          "type": "string",
          "description": "the resource at which the certificate is defined."
        }
      }
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest",
      "type": "object",
      "properties": {
        "policyField": {
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file.",
          "type": "string"
        }
      },
      "description": "Request message for uploading a file for a policy."
    },
    "GoogleChromePolicyVersionsV1PolicyApiLifecycle": {
      "id": "GoogleChromePolicyVersionsV1PolicyApiLifecycle",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description about current life cycle."
        },
        "endSupport": {
          "$ref": "GoogleTypeDate",
          "description": "End supporting date for current policy. Attempting to modify a policy after its end support date will result in a Bad Request (400 error). Could only be set if policy_api_lifecycle_stage is API_DEPRECATED."
        },
        "deprecatedInFavorOf": {
          "type": "array",
          "description": "In the event that this policy was deprecated in favor of another policy, the fully qualified namespace(s) of the new policies as they will show in PolicyAPI. Could only be set if policy_api_lifecycle_stage is API_DEPRECATED.",
          "items": {
            "type": "string"
          }
        },
        "scheduledToDeprecatePolicies": {
          "description": "Corresponding to deprecated_in_favor_of, the fully qualified namespace(s) of the old policies that will be deprecated because of introduction of this policy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policyApiLifecycleStage": {
          "enumDescriptions": [
            "Policy Api Lifecycle is Unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ],
          "type": "string",
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ],
          "description": "Indicates current life cycle stage of the policy API."
        }
      },
      "description": "Lifecycle information."
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest",
      "type": "object",
      "properties": {
        "targetResource": {
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the certificate to remove."
        }
      },
      "description": "Request object for removing a certificate."
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "description": "Response object for removing a certificate.",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {}
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Output only. The string represenstation of the value that can be set for the field.",
          "readOnly": true
        },
        "fieldDependencies": {
          "description": "Output only. Field conditions required for this value to be valid.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          }
        },
        "description": {
          "description": "Output only. Additional description for this value.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails",
      "type": "object",
      "properties": {
        "certificateReferences": {
          "type": "array",
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          }
        }
      }
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate.",
      "id": "GoogleChromePolicyVersionsV1CertificateReference",
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "Output only. The obfuscated id of the org unit the referencing network is in.",
          "readOnly": true,
          "type": "string"
        },
        "network": {
          "description": "Output only. The name of the referencing network.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to ChromeOS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to ChromeOS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "name": "chromepolicy",
  "canonicalName": "Chrome Policy",
  "documentationLink": "http://developers.google.com/chrome/policy",
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "id": "chromepolicy:v1",
  "protocol": "rest",
  "batchPath": "batch",
  "basePath": "",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}