{
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "schemas": {
    "Item": {
      "id": "Item",
      "properties": {
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "crxVersion": {
          "type": "string",
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version."
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "items": {
            "$ref": "ItemError"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Item2": {
      "type": "object",
      "properties": {
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "status": {
          "type": "array",
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        },
        "statusDetail": {
          "items": {
            "type": "string"
          },
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "type": "array"
        }
      },
      "id": "Item2"
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "properties": {
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        },
        "deployPercentage": {
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "format": "int32",
          "type": "integer"
        },
        "reviewExemption": {
          "type": "boolean",
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
        }
      },
      "type": "object"
    },
    "ItemError": {
      "id": "ItemError",
      "type": "object",
      "properties": {
        "error_code": {
          "type": "string",
          "description": "The error code."
        },
        "error_detail": {
          "type": "string",
          "description": "The human-readable detail message of the error."
        }
      },
      "description": "Error of the item"
    }
  },
  "discoveryVersion": "v1",
  "name": "chromewebstore",
  "version_module": true,
  "canonicalName": "Chromewebstore",
  "kind": "discovery#restDescription",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "basePath": "",
  "id": "chromewebstore:v1.1",
  "title": "Chrome Web Store API",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1.1",
  "protocol": "rest",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "items": {
      "methods": {
        "get": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "httpMethod": "GET",
          "parameters": {
            "itemId": {
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projection": {
              "location": "query",
              "description": "Determines which subset of the item information to return.",
              "type": "string",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ]
            }
          },
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.get",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "description": "Gets your own Chrome Web Store item.",
          "parameterOrder": [
            "itemId"
          ]
        },
        "update": {
          "description": "Updates an existing item.",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameterOrder": [
            "itemId"
          ],
          "supportsMediaUpload": true,
          "path": "chromewebstore/v1.1/items/{itemId}",
          "httpMethod": "PUT",
          "parameters": {
            "itemId": {
              "required": true,
              "description": "The ID of the item to upload.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "request": {
            "$ref": "Item"
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            }
          },
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.update"
        },
        "insert": {
          "parameterOrder": [],
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "path": "chromewebstore/v1.1/items",
          "httpMethod": "POST",
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Inserts a new item.",
          "flatPath": "chromewebstore/v1.1/items",
          "id": "chromewebstore.items.insert"
        },
        "publish": {
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "httpMethod": "POST",
          "parameters": {
            "itemId": {
              "description": "The ID of the item to publish.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "publishTarget": {
              "type": "string",
              "location": "query",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\"."
            },
            "deployPercentage": {
              "format": "int32",
              "type": "integer",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "location": "query"
            },
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "type": "boolean",
              "location": "query"
            }
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameterOrder": [
            "itemId"
          ],
          "response": {
            "$ref": "Item2"
          },
          "description": "Publishes an item.",
          "request": {
            "$ref": "PublishRequest"
          },
          "id": "chromewebstore.items.publish",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ]
        }
      }
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "revision": "20260920",
  "servicePath": ""
}