{
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "path": "v2/{+name}:upload",
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "description": "Upload a new package to an existing item.",
          "id": "chromewebstore.media.upload",
          "httpMethod": "POST",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            },
            "maxSize": "2147483648"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "required": true,
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`"
            }
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ]
        }
      }
    },
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "publish": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "path": "v2/{+name}:publish",
              "request": {
                "$ref": "PublishItemRequest"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "response": {
                "$ref": "PublishItemResponse"
              },
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "id": "chromewebstore.publishers.items.publish",
              "httpMethod": "POST"
            },
            "fetchStatus": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "path": "v2/{+name}:fetchStatus",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "description": "Fetch the status of an item.",
              "id": "chromewebstore.publishers.items.fetchStatus",
              "httpMethod": "GET"
            },
            "cancelSubmission": {
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "path": "v2/{+name}:cancelSubmission",
              "request": {
                "$ref": "CancelSubmissionRequest"
              }
            },
            "setPublishedDeployPercentage": {
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "httpMethod": "POST",
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`"
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "title": "Chrome Web Store API",
  "version": "v2",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "canonicalName": "Chromewebstore",
  "name": "chromewebstore",
  "ownerName": "Google",
  "revision": "20260629",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "batchPath": "batch",
  "schemas": {
    "PublishItemResponse": {
      "id": "PublishItemResponse",
      "type": "object",
      "description": "Response message for `PublishItem`.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the item that was submitted"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "description": "Output only. The current state of the submission."
        },
        "warningInfo": {
          "$ref": "WarningsInfo",
          "readOnly": true,
          "description": "Output only. Non-blocking warnings encountered during the request."
        },
        "itemId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the item."
        }
      }
    },
    "SetPublishedDeployPercentageResponse": {
      "type": "object",
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "properties": {},
      "id": "SetPublishedDeployPercentageResponse"
    },
    "FetchItemStatusResponse": {
      "id": "FetchItemStatusResponse",
      "type": "object",
      "description": "Response message for `FetchItemStatus`.",
      "properties": {
        "warned": {
          "type": "boolean",
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details."
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        },
        "publishedItemRevisionStatus": {
          "$ref": "ItemRevisionStatus",
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "readOnly": true
        },
        "itemId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the item."
        },
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "lastAsyncUploadState": {
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours."
        }
      }
    },
    "Warning": {
      "id": "Warning",
      "description": "Represents a single warning encountered during the request.",
      "properties": {
        "reason": {
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue."
        }
      },
      "type": "object"
    },
    "CancelSubmissionResponse": {
      "description": "Response message for `CancelSubmission`.",
      "properties": {},
      "type": "object",
      "id": "CancelSubmissionResponse"
    },
    "DeployInfo": {
      "id": "DeployInfo",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "SetPublishedDeployPercentageRequest": {
      "id": "SetPublishedDeployPercentageRequest",
      "description": "Request message for SetPublishedDeployPercentage.",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage."
        }
      },
      "type": "object"
    },
    "ItemRevisionStatus": {
      "id": "ItemRevisionStatus",
      "type": "object",
      "description": "Details on the status of an item revision.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the item"
        },
        "distributionChannels": {
          "items": {
            "$ref": "DistributionChannel"
          },
          "description": "Details on the package of the item",
          "type": "array"
        }
      }
    },
    "CancelSubmissionRequest": {
      "description": "Request message for CancelSubmission.",
      "properties": {},
      "type": "object",
      "id": "CancelSubmissionRequest"
    },
    "UploadItemPackageRequest": {
      "description": "Request message for UploadItemPackage.",
      "properties": {},
      "type": "object",
      "id": "UploadItemPackageRequest"
    },
    "UploadItemPackageResponse": {
      "id": "UploadItemPackageResponse",
      "description": "Response message for `UploadItemPackage`.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the item the package was uploaded to."
        },
        "crxVersion": {
          "type": "string",
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`)."
        },
        "itemId": {
          "description": "Output only. The ID of the item the package was uploaded to.",
          "readOnly": true,
          "type": "string"
        },
        "uploadState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method."
        }
      },
      "type": "object"
    },
    "DistributionChannel": {
      "id": "DistributionChannel",
      "type": "object",
      "description": "Deployment information for a specific release channel",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "type": "integer",
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100)."
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        }
      }
    },
    "WarningsInfo": {
      "id": "WarningsInfo",
      "type": "object",
      "description": "Message containing details on warnings encountered during PublishItem.",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "Warning"
          },
          "type": "array",
          "description": "All warnings encountered during the request."
        }
      }
    },
    "PublishItemRequest": {
      "description": "Request message for PublishItem.",
      "properties": {
        "skipReview": {
          "type": "boolean",
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset."
        },
        "blockOnWarnings": {
          "type": "boolean",
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset."
        },
        "publishType": {
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ]
        },
        "deployInfos": {
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "type": "array",
          "items": {
            "$ref": "DeployInfo"
          }
        }
      },
      "type": "object",
      "id": "PublishItemRequest"
    }
  },
  "version_module": true,
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "chromewebstore:v2",
  "servicePath": "",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/"
}