{
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/chrome/management/",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "version": "v1",
  "revision": "20260927",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "id": "chromemanagement:v1",
  "canonicalName": "Chrome Management",
  "fullyEncodeReservedExpansion": true,
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "discoveryVersion": "v1",
  "servicePath": "",
  "title": "Chrome Management API",
  "resources": {
    "operations": {
      "methods": {
        "list": {
          "path": "v1/{+name}",
          "flatPath": "v1/operations",
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "id": "chromemanagement.operations.list",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "The standard list filter."
            },
            "name": {
              "description": "The name of the operation's parent resource.",
              "location": "path",
              "pattern": "^operations$",
              "type": "string",
              "required": true
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The standard list page size."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The standard list page token."
            },
            "returnPartialSuccess": {
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        },
        "cancel": {
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "request": {
            "$ref": "GoogleLongrunningCancelOperationRequest"
          },
          "httpMethod": "POST",
          "id": "chromemanagement.operations.cancel",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be cancelled.",
              "required": true
            }
          },
          "flatPath": "v1/operations/{operationsId}:cancel",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "delete": {
          "flatPath": "v1/operations/{operationsId}",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "location": "path",
              "description": "The name of the operation resource to be deleted.",
              "type": "string",
              "required": true
            }
          },
          "id": "chromemanagement.operations.delete",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE"
        }
      }
    },
    "customers": {
      "resources": {
        "connectorConfigs": {
          "methods": {
            "patch": {
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The update mask that can be used to specify which fields to update.",
                  "location": "query"
                }
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "id": "chromemanagement.customers.connectorConfigs.patch",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a connector config."
            },
            "get": {
              "description": "Gets a connector config with customer ID and config ID.",
              "path": "v1/{+name}",
              "id": "chromemanagement.customers.connectorConfigs.get",
              "parameters": {
                "name": {
                  "description": "Required. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "httpMethod": "GET"
            },
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "description": "Required. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "id": "chromemanagement.customers.connectorConfigs.delete",
              "description": "Deletes a connector config.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "create": {
              "description": "Creates a connector config.",
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/connectorConfigs",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Format: customers/{customer}",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "connectorConfigId": {
                  "description": "Optional. ID to use for the connector config, which becomes the final component of the connector config's resource name. If provided, the ID must be 1-36 characters long, and contain only lowercase letters, digits, and hyphens. It must start with a letter, and end with a letter or number. If not provided, the connector config will be assigned a random UUID.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "path": "v1/{+parent}/connectorConfigs",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "id": "chromemanagement.customers.connectorConfigs.create"
            },
            "list": {
              "id": "chromemanagement.customers.connectorConfigs.list",
              "description": "Lists connector configs of a customer.",
              "flatPath": "v1/customers/{customersId}/connectorConfigs",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/connectorConfigs",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of connector configs to return. The default page size is 50 if page_size is unspecified, and the maximum page size allowed is 100. Values above 100 will be capped at 100.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. Format: customers/{customer}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListConnectorConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectorConfigs` must match the call that provided the page token.",
                  "type": "string"
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "countPrintJobsByUser": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
              },
              "id": "chromemanagement.customers.reports.countPrintJobsByUser",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'user_email' field. Supported order_by fields: * user_email * job_count * printer_count * device_count",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Token to specify the page of the response to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "format": "int32"
                },
                "printerOrgUnitId": {
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs initiated with printers from the specified organizational unit will be counted. If omitted, all print jobs will be counted.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByUser",
              "httpMethod": "GET",
              "description": "Get a summary of printing done by each user.",
              "path": "v1/{+customer}/reports:countPrintJobsByUser",
              "parameterOrder": [
                "customer"
              ]
            },
            "countActiveDevices": {
              "flatPath": "v1/customers/{customersId}/reports:countActiveDevices",
              "id": "chromemanagement.customers.reports.countActiveDevices",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "description": "Get a count of active devices per set time frames.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountActiveDevicesResponse"
              },
              "path": "v1/{+customer}/reports:countActiveDevices",
              "httpMethod": "GET",
              "parameters": {
                "date.month": {
                  "format": "int32",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "date.year": {
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer",
                  "location": "query"
                },
                "date.day": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                }
              }
            },
            "countChromeBrowsersNeedingAttention": {
              "parameters": {
                "customer": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                },
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned."
                }
              },
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              },
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "parameterOrder": [
                "customer"
              ]
            },
            "countInstalledApps": {
              "description": "Generate report of app installations.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countInstalledApps",
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "orderBy": {
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id * manifest_versions * risk_score",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id * manifest_versions * risk_score",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ]
            },
            "countDevicesPerBootType": {
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerBootType",
              "httpMethod": "GET",
              "parameters": {
                "date.day": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "date.month": {
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "format": "int32",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                },
                "date.year": {
                  "location": "query",
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer"
                }
              },
              "path": "v1/{+customer}/reports:countDevicesPerBootType",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse"
              },
              "id": "chromemanagement.customers.reports.countDevicesPerBootType",
              "description": "Get a count of devices per boot type."
            },
            "countChromeCrashEvents": {
              "parameters": {
                "customer": {
                  "required": true,
                  "description": "Customer ID.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "If specified, only count the number of crash events of the devices in this organizational unit.",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * browser_version * count * date",
                  "location": "query"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Supported filter fields: * major_browser_version * minor_browser_version * browser_channel * device_platform * past_number_days Example: `major_browser_version = 'M115' AND past_number_days = '28'`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countChromeCrashEvents",
              "description": "Get a count of Chrome crash events.",
              "flatPath": "v1/customers/{customersId}/reports:countChromeCrashEvents",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:countChromeCrashEvents",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponse"
              }
            },
            "findSaasUsageProfiles": {
              "id": "chromemanagement.customers.reports.findSaasUsageProfiles",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1FindSaasUsageProfilesResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 100 reports will be returned. The maximum value is 200; values above 200 will be coerced to 200.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. The order by expression to sort the SaaS profile reports. Supported fields: * email * os_platform * first_navigation_time * last_navigation_time Default order is ascending. To specify descending order for a field, append \" desc\".",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `FindSaasUsageProfiles` call. Provide this to retrieve the subsequent page."
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. The filter expression to narrow down the SaaS profile reports to return. Supported operators are: =, !=, <, <=, >, >=, :. Logical operators AND, OR, and NOT are supported. Supported fields: * email * org_unit_id * os_platform * first_navigation_time * last_navigation_time",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "app": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The name of the SaaS application (e.g., `ChatGPT`, `Gemini`)."
                }
              },
              "path": "v1/{+customer}/reports:findSaasUsageProfiles",
              "flatPath": "v1/customers/{customersId}/reports:findSaasUsageProfiles",
              "description": "Find SaaS usage reports of a customer grouped by profiles based on the given search and sorting criteria."
            },
            "countChromeProfileVersions": {
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "Optional. Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Token to specify the page of the request to be returned.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "type": "integer"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countChromeProfileVersions",
              "flatPath": "v1/customers/{customersId}/reports:countChromeProfileVersions",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countChromeProfileVersions",
              "description": "Generate report of installed Chrome versions on managed profiles.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeProfileVersionsResponse"
              }
            },
            "countDevicesPerReleaseChannel": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "date.day": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "date.month": {
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32"
                },
                "customer": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "pattern": "^customers/[^/]+$"
                },
                "date.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerReleaseChannel",
              "id": "chromemanagement.customers.reports.countDevicesPerReleaseChannel",
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:countDevicesPerReleaseChannel",
              "description": "Get a count of devices per channel.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse"
              },
              "parameterOrder": [
                "customer"
              ]
            },
            "findSaasUsage": {
              "response": {
                "$ref": "GoogleChromeManagementV1FindSaasUsageReportsResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.findSaasUsage",
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The order by expression to sort the SaaS reports. Supported fields: * app * category * organization * founded_year * headquarters * primary_domain * visits_count * distinct_users_count * distinct_browsers_count * content_transfer_count Default order is ascending. To specify descending order for a field, append \" desc\". Example: `visits_count desc`"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. The filter expression to narrow down the SaaS reports to return. Supported operators are: =, !=, <, <=, >, >=, :. Logical operators AND, OR, and NOT are supported. Supported fields: * app * org_unit_id * first_navigation_time * last_navigation_time * category * organization * founded_year * headquarters * primary_domain * domains * encryption_protocols * visits_count * distinct_users_count * distinct_browsers_count * content_transfer_count Example: `(first_navigation_time < \"2026-01-31T00:00:00Z\" AND last_navigation_time > \"2026-01-01T00:00:00Z\") AND visits_count > 100`",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `FindSaasUsageReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FindSaasUsageReports` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 100 reports will be returned. The maximum value is 200; values above 200 will be coerced to 200."
                },
                "customer": {
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/customers/{customersId}/reports:findSaasUsage",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Find SaaS usage reports of a customer based on the given search and sorting criteria.",
              "path": "v1/{+customer}/reports:findSaasUsage"
            },
            "enumeratePrintJobs": {
              "httpMethod": "GET",
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. If not specified, results will be ordered in descending order of the `complete_time` field. Supported order by fields: * title * state * create_time * complete_time * document_page_count * color_mode * duplex_mode * printer * user_email"
                },
                "pageSize": {
                  "description": "The number of print jobs in the page from 0 to 100 inclusive, if page_size is not specified or zero, the size will be 50.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "printerOrgUnitId": {
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs submitted to printers from the specified organizational unit will be returned.",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported for `complete_time`. Note: Only = comparator supported for `user_id` and `printer_id`. Supported filter fields: * complete_time * printer_id * user_id"
                },
                "pageToken": {
                  "description": "A page token received from a previous `EnumeratePrintJobs` call. Provide this to retrieve the subsequent page. If omitted, the first page of results will be returned. When paginating, all other parameters provided to `EnumeratePrintJobs` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1/{+customer}/reports:enumeratePrintJobs",
              "response": {
                "$ref": "GoogleChromeManagementV1EnumeratePrintJobsResponse"
              },
              "description": "Get a list of print jobs.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:enumeratePrintJobs",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.enumeratePrintJobs"
            },
            "countChromeHardwareFleetDevices": {
              "parameters": {
                "readMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "type": "string"
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\".",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "description": "Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeHardwareFleetDevices",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:countChromeHardwareFleetDevices",
              "flatPath": "v1/customers/{customersId}/reports:countChromeHardwareFleetDevices"
            },
            "countPrintJobsByPrinter": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "type": "integer"
                },
                "customer": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request."
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "description": "The ID of the organizational unit for printers. If specified, only data for printers from the specified organizational unit will be returned. If omitted, data for printers from all organizational units will be returned.",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'printer' field. Supported order_by fields: * printer * job_count * device_count * user_count",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the page of the response to be returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Get a summary of printing done by each printer.",
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countPrintJobsByPrinter",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByPrinter",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
              },
              "path": "v1/{+customer}/reports:countPrintJobsByPrinter"
            },
            "countChromeVersions": {
              "description": "Generate report of installed Chrome versions.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "path": "v1/{+customer}/reports:countChromeVersions",
              "httpMethod": "GET",
              "parameters": {
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "id": "chromemanagement.customers.reports.countChromeVersions"
            },
            "countChromeDevicesThatNeedAttention": {
              "parameters": {
                "readMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. Mask of the fields that should be populated in the returned report."
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query"
                },
                "customer": {
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              }
            },
            "countChromeDevicesReachingAutoExpirationDate": {
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947).",
              "parameters": {
                "maxAueDate": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date."
                },
                "minAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units.",
                  "location": "query"
                }
              },
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate"
            },
            "findInstalledAppDevices": {
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "parameters": {
                "appType": {
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned."
                },
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit."
                },
                "customer": {
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "format": "int32"
                },
                "appId": {
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Generate report of managed Chrome browser devices that have a specified app installed.",
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices"
            },
            "findInstalledAppProfiles": {
              "id": "chromemanagement.customers.reports.findInstalledAppProfiles",
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppProfiles",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "Optional. Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Field used to order results. Supported order by fields: * email * profile_id * profile_permanent_id",
                  "location": "query"
                },
                "appType": {
                  "type": "string",
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "location": "query",
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ]
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Token to specify the page of the request to be returned.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100."
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "type": "string"
                },
                "appId": {
                  "location": "query",
                  "description": "Required. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "type": "string"
                }
              },
              "path": "v1/{+customer}/reports:findInstalledAppProfiles",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppProfilesResponse"
              },
              "description": "Generate report of managed Chrome profiles that have a specified app installed."
            },
            "findSaasUsageBrowsers": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `FindSaasUsageBrowsers` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. The filter expression to narrow down the SaaS browser reports to return. Supported operators are: =, !=, <, <=, >, >=, :. Logical operators AND, OR, and NOT are supported. Supported fields: * machine * os_platform * first_navigation_time * last_navigation_time * org_unit_id",
                  "location": "query"
                },
                "app": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The name of the SaaS application (e.g., `ChatGPT`, `Gemini`)."
                },
                "orderBy": {
                  "description": "Optional. The order by expression to sort the SaaS browser reports. Supported fields: * machine * os_platform * first_navigation_time * last_navigation_time Default order is ascending. To specify descending order for a field, append \" desc\".",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of browsers to return. The service may return fewer than this value. If unspecified, at most 100 browsers will be returned. The maximum value is 200; values above 200 will be coerced to 200.",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Find SaaS usage reports of a customer grouped by browsers based on the given search and sorting criteria.",
              "flatPath": "v1/customers/{customersId}/reports:findSaasUsageBrowsers",
              "id": "chromemanagement.customers.reports.findSaasUsageBrowsers",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1FindSaasUsageBrowsersResponse"
              },
              "path": "v1/{+customer}/reports:findSaasUsageBrowsers"
            }
          }
        },
        "enterprise": {
          "resources": {
            "securityInsights": {
              "methods": {
                "checkEnablementStatus": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:checkEnablementStatus",
                  "id": "chromemanagement.customers.enterprise.securityInsights.checkEnablementStatus",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse"
                  },
                  "description": "Gets the setting state of the insights feature for the customer.",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The customer to check the enablement status for. Format: customers/{customer_id}",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "path": "v1/{+customer}/enterprise/securityInsights:checkEnablementStatus",
                  "httpMethod": "GET"
                },
                "queryContentTransfersBreakdowns": {
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse"
                  },
                  "parameters": {
                    "metric": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The metric to return the breakdowns for. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS.",
                      "enumDescriptions": [
                        "Unspecified content transfers metric. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS.",
                        "The total number of content transfers (sensitive and non-sensitive). This is the sum of the total_uploads, total_downloads, and total_prints.",
                        "The total number of content uploads (sensitive and non-sensitive).",
                        "The total number of content downloads (sensitive and non-sensitive).",
                        "The total number of content prints (sensitive and non-sensitive).",
                        "The total number of sensitive content transfers. This is the sum of the sensitive_uploads, sensitive_downloads, and sensitive_prints.",
                        "The number of sensitive content uploads.",
                        "The number of sensitive content downloads.",
                        "The number of sensitive content prints."
                      ],
                      "enum": [
                        "CONTENT_TRANSFERS_METRIC_UNSPECIFIED",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_UPLOADS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_DOWNLOADS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_PRINTS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_SENSITIVE_TRANSFERS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_UPLOADS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_DOWNLOADS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_PRINTS"
                      ]
                    },
                    "fixedTimeRange": {
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified fixed time range. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS.",
                        "Four hours.",
                        "One day.",
                        "One week.",
                        "Four weeks."
                      ],
                      "description": "Optional. The fixed time range to return the breakdowns for. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS. Fixed time ranges are used to allow for precomputation and optimize response times.",
                      "enum": [
                        "FIXED_TIME_RANGE_UNSPECIFIED",
                        "FIXED_TIME_RANGE_FOUR_HOURS",
                        "FIXED_TIME_RANGE_ONE_DAY",
                        "FIXED_TIME_RANGE_ONE_WEEK",
                        "FIXED_TIME_RANGE_FOUR_WEEKS"
                      ]
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days or more recent than 48 hours ago. If `event_time` is not specified, results will end 48 hours ago. Supported fields for filtering: - `user` - `event_domain` - `content_category` - `event_time` Filtering by `user` or `event_domain` requires the `breakdown` dimension to be set to the corresponding value (e.g., you must set `breakdown = USER` to filter by `user`). Supported operators: - `=` for `user`, `event_domain`, and `content_category`. - `<=` for `event_time`. Supported conjunctions: - `AND` Example: `user = \"testuser\" AND event_time <= \"2024-01-02T00:00:00Z\"`"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of breakdowns to return. The service may return fewer than this value. If unspecified, at most 50 breakdowns will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `QueryContentTransfersBreakdowns` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryContentTransfersBreakdowns` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "breakdown": {
                      "enum": [
                        "CONTENT_TRANSFERS_BREAKDOWN_DIMENSION_UNSPECIFIED",
                        "USER",
                        "EVENT_DOMAIN",
                        "CONTENT_CATEGORY"
                      ],
                      "description": "Optional. The dimension to break down the content transfers by. Defaults to USER.",
                      "enumDescriptions": [
                        "Unspecified breakdown dimension. Defaults to USER.",
                        "Breakdown by user.",
                        "Breakdown by event domain.",
                        "Breakdown by content category."
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "customer": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryContentTransfersBreakdowns",
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryContentTransfersBreakdowns",
                  "description": "Returns summaries of content transfers for a given metric and breakdown dimension.",
                  "path": "v1/{+customer}/enterprise/securityInsights:queryContentTransfersBreakdowns"
                },
                "queryContentTransfers": {
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryContentTransfersResponse"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/enterprise/securityInsights:queryContentTransfers",
                  "description": "Returns a high-level summary of content transfers for a given customer.",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryContentTransfers",
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryContentTransfers",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days, and may be unavailable or inaccurate for time ranges less than 4 hours. If `event_time` is not specified, results will be returned for the last 30 days. Supported fields for filtering: - `event_time` Supported operators: - `>=` and `<=` for `event_time` Supported conjunctions: - `AND` Example: `event_time >= \"2024-01-01T00:00:00Z\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET"
                },
                "queryUrlVisitsBreakdowns": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of breakdowns to return. The service may return fewer than this value. If unspecified, at most 50 breakdowns will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days or more recent than 48 hours ago. If `event_time` is not specified, results will end 48 hours ago. Supported fields for filtering: - `user` - `event_domain` - `event_time` Filtering by `user` or `event_domain` requires the `breakdown` dimension to be set to the corresponding value (e.g., you must set `breakdown = USER` to filter by `user`). Supported operators: - `=` for `user` and `event_domain`. - `<=` for `event_time`. Supported conjunctions: - `AND` Example: `user = \"testuser\" AND event_time <= \"2024-01-02T00:00:00Z\"`"
                    },
                    "metric": {
                      "description": "Optional. The metric to return the breakdowns for. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified URL visits metric. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
                        "The total number of suspicious URL visits. This is the sum of the high_risk_url_visits, medium_risk_url_visits, and low_risk_url_visits.",
                        "The number of suspicious URL visits with high risk.",
                        "The number of suspicious URL visits with medium risk.",
                        "The number of suspicious URL visits with low risk."
                      ],
                      "location": "query",
                      "enum": [
                        "URL_VISITS_METRIC_UNSPECIFIED",
                        "URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS",
                        "URL_VISITS_METRIC_HIGH_RISK_URL_VISITS",
                        "URL_VISITS_METRIC_MEDIUM_RISK_URL_VISITS",
                        "URL_VISITS_METRIC_LOW_RISK_URL_VISITS"
                      ]
                    },
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\"."
                    },
                    "fixedTimeRange": {
                      "enum": [
                        "FIXED_TIME_RANGE_UNSPECIFIED",
                        "FIXED_TIME_RANGE_FOUR_HOURS",
                        "FIXED_TIME_RANGE_ONE_DAY",
                        "FIXED_TIME_RANGE_ONE_WEEK",
                        "FIXED_TIME_RANGE_FOUR_WEEKS"
                      ],
                      "enumDescriptions": [
                        "Unspecified fixed time range. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS.",
                        "Four hours.",
                        "One day.",
                        "One week.",
                        "Four weeks."
                      ],
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The fixed time range to return the breakdowns for. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS. Fixed time ranges are used to allow for precomputation and optimize response times."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `QueryUrlVisitsBreakdowns` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryUrlVisitsBreakdowns` must match the call that provided the page token."
                    },
                    "breakdown": {
                      "location": "query",
                      "description": "Optional. The dimension to break down the URL visits by. Defaults to USER.",
                      "enumDescriptions": [
                        "Unspecified breakdown dimension. Defaults to USER.",
                        "Breakdown by user.",
                        "Breakdown by event domain."
                      ],
                      "type": "string",
                      "enum": [
                        "URL_VISITS_BREAKDOWN_DIMENSION_UNSPECIFIED",
                        "USER",
                        "EVENT_DOMAIN"
                      ]
                    }
                  },
                  "path": "v1/{+customer}/enterprise/securityInsights:queryUrlVisitsBreakdowns",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse"
                  },
                  "description": "Returns summaries of URL visits for a given metric and breakdown dimension. Requires a Chrome Enterprise Premium subscription. If the customer does not have this subscription, query results will be empty.",
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryUrlVisitsBreakdowns",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryUrlVisitsBreakdowns",
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ]
                },
                "enable": {
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:enable",
                  "httpMethod": "POST",
                  "description": "Enables insights for the customer and sets up required chrome connectors.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "Required. The customer to enable insights for. Format: customers/{customer}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1EnableInsightsResponse"
                  },
                  "path": "v1/{+customer}/enterprise/securityInsights:enable",
                  "id": "chromemanagement.customers.enterprise.securityInsights.enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights"
                  ],
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1EnableInsightsRequest"
                  }
                },
                "disable": {
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1DisableInsightsRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:disable",
                  "path": "v1/{+customer}/enterprise/securityInsights:disable",
                  "id": "chromemanagement.customers.enterprise.securityInsights.disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The customer to disable insights for. Format: customers/{customer}"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1DisableInsightsResponse"
                  },
                  "description": "Disables insights for the customer."
                },
                "queryUrlVisits": {
                  "path": "v1/{+customer}/enterprise/securityInsights:queryUrlVisits",
                  "description": "Returns a high-level summary of URL visits for a given customer. Requires a Chrome Enterprise Premium subscription. If the customer does not have this subscription, query results will be empty.",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days, and may be unavailable or inaccurate for time ranges less than 4 hours. If `event_time` is not specified, results will be returned for the last 30 days. Supported fields for filtering: - `event_time` Supported operators: - `>=` and `<=` for `event_time` Supported conjunctions: - `AND` Example: `event_time >= \"2024-01-01T00:00:00Z\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "type": "string"
                    }
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryUrlVisits",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryUrlVisits",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ]
                }
              }
            }
          }
        },
        "certificateProvisioningProcesses": {
          "methods": {
            "claim": {
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Claims a certificate provisioning process. For each certificate provisioning process, this operation can succeed only for one `caller_instance_id`.",
              "path": "v1/{+name}:claim",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to claim. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:claim",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.claim"
            },
            "uploadCertificate": {
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:uploadCertificate",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:uploadCertificate",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateRequest"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateResponse"
              },
              "httpMethod": "POST",
              "description": "Uploads a successfully issued certificate for a certificate provisioning process.",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.uploadCertificate"
            },
            "signData": {
              "description": "Requests the client that initiated a certificate provisioning process to sign data. This should only be called after `ClaimCertificateProvisioningProcess` has been successfully executed.",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:signData",
              "path": "v1/{+name}:signData",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SignDataRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.signData",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "required": true
                }
              }
            },
            "setFailure": {
              "httpMethod": "POST",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.setFailure",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureRequest"
              },
              "path": "v1/{+name}:setFailure",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:setFailure",
              "description": "Marks a certificate provisioning process as failed.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id."
                }
              },
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Retrieves a certificate provisioning process.",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.get",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.certificateProvisioningProcesses.operations.get",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                }
              }
            }
          }
        },
        "telemetry": {
          "resources": {
            "events": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/telemetry/events",
                  "flatPath": "v1/customers/{customersId}/telemetry/events",
                  "id": "chromemanagement.customers.telemetry.events.list",
                  "description": "List telemetry events.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryEventsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Token to specify next page in the list."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only include resources that match the filter. Although this parameter is currently optional, this parameter will be required- please specify at least 1 event type. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The \"timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\"."
                    },
                    "parent": {
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Read mask to specify which fields to return. Although currently required, this field will become optional, while the filter parameter with an event type will be come required. Supported read_mask paths are: - device - user - audio_severe_underrun_event - usb_peripherals_event - https_latency_change_event - network_state_change_event - wifi_signal_strength_event - vpn_connection_state_change_event - app_install_event - app_uninstall_event - app_launch_event - os_crash_event - external_displays_event ",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000."
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/telemetry/devices",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "description": "List all telemetry devices.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. Only include resources that match the filter. Requests that don't specify a \"reports_timestamp\" value will default to returning only recent reports. Specify \"reports_timestamp>=0\" to get all report data. Supported filter fields: - org_unit_id - serial_number - device_id - reports_timestamp The \"reports_timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Token to specify next page in the list."
                    },
                    "readMask": {
                      "location": "query",
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/devices"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "location": "path"
                    },
                    "readMask": {
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "description": "Get telemetry device.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ]
                }
              }
            },
            "notificationConfigs": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Delete a telemetry notification config.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the notification config to delete. Format: `customers/{customer}/telemetry/notificationConfigs/{notification_config}`",
                      "pattern": "^customers/[^/]+/telemetry/notificationConfigs/[^/]+$"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs/{notificationConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.delete"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of notification configs to return. The service may return fewer than this value. If unspecified, at most 100 notification configs will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
[...]
