{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1.1",
  "protocol": "rest",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    }
  },
  "resources": {
    "items": {
      "methods": {
        "publish": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Publishes an item.",
          "response": {
            "$ref": "Item2"
          },
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "publishTarget": {
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "location": "query",
              "type": "string"
            },
            "itemId": {
              "description": "The ID of the item to publish.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "deployPercentage": {
              "format": "int32",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "location": "query",
              "type": "integer"
            },
            "reviewExemption": {
              "type": "boolean",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "itemId"
          ],
          "request": {
            "$ref": "PublishRequest"
          },
          "id": "chromewebstore.items.publish",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish"
        },
        "update": {
          "response": {
            "$ref": "Item"
          },
          "description": "Updates an existing item.",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "request": {
            "$ref": "Item"
          },
          "supportsMediaUpload": true,
          "parameters": {
            "itemId": {
              "type": "string",
              "description": "The ID of the item to upload.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "itemId"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}",
          "id": "chromewebstore.items.update",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            },
            "maxSize": "2147483648"
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}"
        },
        "get": {
          "id": "chromewebstore.items.get",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "description": "Gets your own Chrome Web Store item.",
          "response": {
            "$ref": "Item"
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "projection": {
              "type": "string",
              "location": "query",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "description": "Determines which subset of the item information to return.",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ]
            },
            "itemId": {
              "type": "string",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "itemId"
          ]
        },
        "insert": {
          "supportsMediaUpload": true,
          "path": "chromewebstore/v1.1/items",
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "Item"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Inserts a new item.",
          "flatPath": "chromewebstore/v1.1/items",
          "id": "chromewebstore.items.insert",
          "mediaUpload": {
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items",
                "multipart": true
              }
            }
          }
        }
      }
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "title": "Chrome Web Store API",
  "canonicalName": "Chromewebstore",
  "version_module": true,
  "ownerDomain": "google.com",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "schemas": {
    "Item": {
      "id": "Item",
      "properties": {
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "type": "array",
          "items": {
            "$ref": "ItemError"
          }
        },
        "crxVersion": {
          "type": "string",
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version."
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique ID of the item."
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Item2": {
      "properties": {
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "status": {
          "type": "array",
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        },
        "statusDetail": {
          "type": "array",
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Item2"
    },
    "ItemError": {
      "id": "ItemError",
      "description": "Error of the item",
      "properties": {
        "error_code": {
          "type": "string",
          "description": "The error code."
        },
        "error_detail": {
          "type": "string",
          "description": "The human-readable detail message of the error."
        }
      },
      "type": "object"
    },
    "PublishRequest": {
      "type": "object",
      "properties": {
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        },
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        },
        "deployPercentage": {
          "format": "int32",
          "type": "integer",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base."
        }
      },
      "id": "PublishRequest"
    }
  },
  "id": "chromewebstore:v1.1",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "basePath": "",
  "ownerName": "Google",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "revision": "20260811",
  "name": "chromewebstore",
  "kind": "discovery#restDescription"
}