{
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "title": "Chrome Policy API",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "basePath": "",
  "canonicalName": "Chrome Policy",
  "resources": {
    "customers": {
      "resources": {
        "policies": {
          "methods": {
            "resolve": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "parameters": {
                "customer": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Gets the resolved policy values for a list of policies that match a search query.",
              "path": "v1/{+customer}/policies:resolve",
              "parameterOrder": [
                "customer"
              ],
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              },
              "id": "chromepolicy.customers.policies.resolve",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              }
            }
          },
          "resources": {
            "groups": {
              "methods": {
                "updateGroupPriorityOrdering": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  },
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "listGroupPriorityOrdering": {
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ],
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering"
                },
                "batchModify": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true
                    }
                  },
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "path": "v1/{+customer}/policies/groups:batchModify",
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  },
                  "id": "chromepolicy.customers.policies.groups.batchModify",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "batchDelete": {
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  },
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true
                    }
                  },
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status."
                }
              }
            },
            "orgunits": {
              "methods": {
                "batchModify": {
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status."
                },
                "batchInherit": {
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/orgunits:batchInherit",
                  "parameters": {
                    "customer": {
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                }
              }
            },
            "networks": {
              "methods": {
                "removeNetwork": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  },
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork",
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer whose network will be removed.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Remove an existing network by guid."
                },
                "defineCertificate": {
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "description": "Required. The customer for which the certificate will apply.",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "id": "chromepolicy.customers.policies.networks.defineCertificate",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  },
                  "path": "v1/{+customer}/policies/networks:defineCertificate"
                },
                "removeCertificate": {
                  "path": "v1/{+customer}/policies/networks:removeCertificate",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer whose certificate will be removed.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Remove an existing certificate by guid.",
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate"
                },
                "defineNetwork": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer who will own this new network.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Define a new network.",
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/networks:defineNetwork",
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  }
                }
              }
            }
          }
        },
        "policySchemas": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "chromepolicy.customers.policySchemas.get",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The policy schema resource name to query.",
                  "pattern": "^customers/[^/]+/policySchemas/.*$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Get a specific policy schema for a customer by its resource name.",
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`."
                },
                "pageToken": {
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer for which the listing request will apply."
                }
              },
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/policySchemas",
              "id": "chromepolicy.customers.policySchemas.list",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ],
          "parameters": {
            "customer": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^customers/[^/]+$",
              "description": "Required. The customer for which the file upload will apply."
            }
          },
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            }
          },
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          },
          "parameterOrder": [
            "customer"
          ],
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "id": "chromepolicy.media.upload",
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          }
        }
      }
    }
  },
  "version": "v1",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "documentationLink": "http://developers.google.com/chrome/policy",
  "id": "chromepolicy:v1",
  "protocol": "rest",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to ChromeOS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to ChromeOS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "schemas": {
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse",
      "type": "object",
      "description": "Response object for removing a certificate.",
      "properties": {}
    },
    "Proto2EnumValueDescriptorProto": {
      "description": "Describes a value within an enum.",
      "properties": {
        "name": {
          "type": "string"
        },
        "number": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Proto2EnumValueDescriptorProto",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "description": "Response message for downloading an uploaded file.",
      "properties": {
        "downloadUri": {
          "type": "string",
          "description": "The uri for end user to download the file."
        }
      },
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse",
      "type": "object"
    },
    "Proto2EnumDescriptorProto": {
      "description": "Describes an enum type.",
      "properties": {
        "name": {
          "type": "string"
        },
        "visibility": {
          "description": "Support for `export` and `local` keywords on enums.",
          "type": "string",
          "enum": [
            "VISIBILITY_UNSET",
            "VISIBILITY_LOCAL",
            "VISIBILITY_EXPORT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        }
      },
      "id": "Proto2EnumDescriptorProto",
      "type": "object"
    },
    "Proto2OneofDescriptorProto": {
      "description": "Describes a oneof.",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2OneofDescriptorProto",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest",
      "type": "object",
      "description": "Request message for listing the group priority ordering of an app.",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The schema name of the policy for the request."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app."
        },
        "policyNamespace": {
          "description": "The namespace of the policy type for the request.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "description": "A network setting contains network configurations. It adheres to the PolicyAPI formats defined under the namespace chrome.networks.{wifi/ethernet/cellular/vpn}.Details",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the network setting."
        },
        "value": {
          "description": "The value of the network setting.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1NetworkSetting",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "id": "GoogleChromePolicyVersionsV1ResolveRequest",
      "type": "object",
      "description": "Request message for getting the resolved policy value for a specific target.",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "The page token used to retrieve a specific page of the request."
        },
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "pageSize": {
          "format": "int32",
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000.",
          "type": "integer"
        },
        "policySchemaFilter": {
          "type": "string",
          "description": "Required. The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\""
        }
      }
    },
    "GoogleChromePolicyVersionsV1NumericRangeConstraint": {
      "description": "A constraint on upper and/or lower bounds, with at least one being set.",
      "properties": {
        "minimum": {
          "type": "string",
          "description": "Minimum value.",
          "format": "int64"
        },
        "maximum": {
          "type": "string",
          "description": "Maximum value.",
          "format": "int64"
        }
      },
      "id": "GoogleChromePolicyVersionsV1NumericRangeConstraint",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails": {
      "description": "Details of the errors encountered during a policy modification request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "properties": {
        "modificationErrors": {
          "description": "Output only. List of specific policy modifications errors that may have occurred during a modifying request.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationError"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "description": "Request message for specifying that multiple policy values will be deleted.",
      "properties": {
        "requests": {
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName",
      "type": "object",
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "properties": {
        "key": {
          "description": "Key name.",
          "type": "string"
        },
        "keyDescription": {
          "description": "Key description.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicyModificationError": {
      "id": "GoogleChromePolicyVersionsV1PolicyModificationError",
      "type": "object",
      "description": "Error information for a modification request of a specific policy on a specific target.",
      "properties": {
        "fieldErrors": {
          "readOnly": true,
          "description": "Output only. The error messages related to the modification.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationFieldError"
          },
          "type": "array"
        },
        "errors": {
          "type": "array",
          "description": "Output only. The non-field errors related to the modification.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "policySchema": {
          "readOnly": true,
          "description": "Output only. The specific policy schema modification that had an error.",
          "type": "string"
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The specific policy target modification that had error.",
          "readOnly": true
        }
      }
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy",
      "type": "object",
      "description": "The resolved value of a policy for a given target.",
      "properties": {
        "value": {
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "Output only. The resolved value of the policy."
        },
        "sourceKey": {
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer."
        },
        "addedSourceKey": {
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies."
        },
        "targetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The target resource for which the resolved policy value applies.",
          "readOnly": true
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError",
      "type": "object",
      "description": "Error information for a modification request of a specific field on a specific policy.",
      "properties": {
        "field": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the field with the error."
        },
        "error": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message related to the field."
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest",
      "type": "object",
      "description": "Request object for creating a new network.",
      "properties": {
        "targetResource": {
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "settings": {
          "description": "Required. Detailed network settings.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the new created network."
        }
      }
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "description": "Request message for uploading a file for a policy.",
      "properties": {
        "policyField": {
          "type": "string",
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file."
        }
      },
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest",
      "type": "object",
      "description": "Request object for creating a certificate.",
      "properties": {
        "ceritificateName": {
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name.",
          "type": "string"
        },
        "certificate": {
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file.",
          "type": "string"
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "settings": {
          "type": "array",
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        }
      }
    },
    "Proto2FieldDescriptorProto": {
      "id": "Proto2FieldDescriptorProto",
      "type": "object",
      "description": "Describes a field within a message.",
      "properties": {
        "proto3Optional": {
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`.",
          "type": "boolean"
        },
        "defaultValue": {
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes >= 128 are escaped.",
          "type": "string"
        },
        "type": {
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP.",
          "type": "string",
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported after proto2. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields. In Editions, the group wire format can be enabled via the `message_encoding` feature.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ]
        },
        "name": {
          "type": "string"
        },
        "label": {
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REPEATED",
            "LABEL_REQUIRED"
          ],
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            "The required label is only allowed in proto2. In proto3 and Editions it's explicitly prohibited. In Editions, the `field_presence` feature can be used to get this behavior."
          ],
          "type": "string"
        },
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "oneofIndex": {
          "format": "int32",
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof.",
          "type": "integer"
        },
        "jsonName": {
          "type": "string",
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase."
        },
        "typeName": {
          "type": "string",
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace)."
        }
      }
    },
    "Proto2DescriptorProto": {
      "description": "Describes a message type.",
      "properties": {
        "field": {
          "type": "array",
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          }
        },
        "nestedType": {
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array"
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "visibility": {
          "enum": [
            "VISIBILITY_UNSET",
            "VISIBILITY_LOCAL",
            "VISIBILITY_EXPORT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Support for `export` and `local` keywords on enums.",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "oneofDecl": {
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          },
          "type": "array"
        }
      },
      "id": "Proto2DescriptorProto",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "description": "Response message for listing the group priority ordering of an app.",
      "properties": {
        "policyTargetKey": {
          "description": "Output only. The target resource for which the group priority ordering has been retrieved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true
        },
        "policySchema": {
          "description": "Output only. The schema name of the policy for the group IDs.",
          "type": "string",
          "readOnly": true
        },
        "groupIds": {
          "readOnly": true,
          "description": "Output only. The group IDs, in priority ordering.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "policyNamespace": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The namespace of the policy type of the group IDs."
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "description": "The field and the value it must have for another field to be allowed to be set.",
      "properties": {
        "sourceFieldValue": {
          "description": "The value which the source field must have for this field to be allowed to be set.",
          "type": "string"
        },
        "sourceField": {
          "type": "string",
          "description": "The source field which this field depends on."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        }
      },
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription",
      "type": "object",
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. Additional description for this value.",
          "readOnly": true
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The string represenstation of the value that can be set for the field."
        },
        "fieldDependencies": {
          "readOnly": true,
          "description": "Output only. Field conditions required for this value to be valid.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "description": "A particular value for a policy managed by the service.",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema associated with this policy."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The value of the policy that is compatible with the schema that it is associated with."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyValue",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "description": "Response message for listing policy schemas that match a filter.",
      "properties": {
        "policySchemas": {
          "type": "array",
          "description": "The list of policy schemas that match the query.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          }
        },
        "nextPageToken": {
          "description": "The page token used to get the next page of policy schemas.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "id": "GoogleChromePolicyVersionsV1CertificateReference",
      "type": "object",
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate.",
      "properties": {
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The obfuscated id of the org unit the referencing network is in.",
          "readOnly": true
        },
        "network": {
          "readOnly": true,
          "description": "Output only. The name of the referencing network.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "description": "Request message for updating the group priority ordering of an app.",
      "properties": {
        "policyNamespace": {
          "description": "The namespace of the policy type for the request.",
          "type": "string"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policySchema": {
          "type": "string",
          "description": "The schema name of the policy for the request."
        },
        "groupIds": {
          "type": "array",
          "description": "Required. The group IDs, in desired priority ordering.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest",
      "type": "object",
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "properties": {
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        },
        "updateMask": {
          "type": "string",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "format": "google-fieldmask"
        },
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit."
        }
      }
    },
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "description": "Request parameters for deleting the policy value of a specific group target.",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems",
      "type": "object",
      "description": "The fields that will become required based on the value of this field.",
      "properties": {
        "fieldConditions": {
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requiredFields": {
          "description": "The fields that are required as a consequence of the field conditions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse",
      "type": "object",
      "description": "Response object for creating a certificate.",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "the resource at which the certificate is defined."
        },
        "settings": {
          "type": "array",
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "networkId": {
          "type": "string",
          "description": "The guid of the certificate created by the action."
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "description": "Resource representing a policy schema.",
      "properties": {
        "definition": {
          "$ref": "Proto2FileDescriptorProto",
          "description": "Schema definition using proto descriptor."
        },
        "policyApiLifecycle": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyApiLifecycle",
          "description": "Output only. Current lifecycle information.",
          "readOnly": true
        },
        "fieldDescriptions": {
          "type": "array",
          "description": "Output only. Detailed description of each field that is part of the schema. Fields are suggested to be displayed by the ordering in this list, not by field number.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "readOnly": true
        },
        "supportUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI to related support article for this schema."
        },
        "supportedPlatforms": {
          "description": "Output only. List indicates that the policy will only apply to devices/users on these platforms.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified platform.",
              "ChromeOS.",
              "Chrome Browser for OSX/Windows/Linux.",
              "Chrome Browser for Android.",
              "Chrome Browser for iOS."
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "CHROME_OS",
              "CHROME_BROWSER",
              "CHROME_BROWSER_FOR_ANDROID",
              "CHROME_BROWSER_FOR_IOS"
            ]
          },
          "type": "array",
          "readOnly": true
        },
        "categoryTitle": {
          "type": "string",
          "description": "Title of the category in which a setting belongs."
        },
        "name": {
          "type": "string",
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}"
        },
        "policyDescription": {
          "readOnly": true,
          "description": "Output only. Description about the policy schema for user consumption.",
          "type": "string"
        },
        "validTargetResources": {
          "readOnly": true,
          "description": "Output only. Information about applicable target resources for the policy.",
          "items": {
            "type": "string",
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ],
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ]
          },
          "type": "array"
        },
        "additionalTargetKeyNames": {
          "readOnly": true,
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          },
          "type": "array"
        },
        "notices": {
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          },
          "type": "array",
          "readOnly": true
        },
        "accessRestrictions": {
          "type": "array",
          "description": "Output only. Specific access restrictions related to this policy.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "schemaName": {
          "type": "string",
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies.",
          "readOnly": true
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchema",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "description": "Response object for creating a network.",
      "properties": {
        "targetResource": {
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "settings": {
          "type": "array",
          "description": "Detailed network settings of the new created network",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "networkId": {
          "type": "string",
          "description": "Network ID of the new created network."
        }
      },
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "properties": {
        "certificateReferences": {
          "readOnly": true,
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "description": "Request parameters for modifying a policy value for a specific group target.",
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'."
        },
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest",
      "type": "object",
      "description": "Request message for modifying multiple policy values for a specific group-based target.",
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicyApiLifecycle": {
      "description": "Lifecycle information.",
      "properties": {
        "policyApiLifecycleStage": {
          "type": "string",
          "description": "Indicates current life cycle stage of the policy API.",
          "enumDescriptions": [
            "Policy Api Lifecycle is Unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ],
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ]
        },
        "endSupport": {
          "description": "End supporting date for current policy. Attempting to modify a policy after its end support date will result in a Bad Request (400 error). Could only be set if policy_api_lifecycle_stage is API_DEPRECATED.",
          "$ref": "GoogleTypeDate"
        },
        "deprecatedInFavorOf": {
          "type": "array",
          "description": "In the event that this policy was deprecated in favor of another policy, the fully qualified namespace(s) of the new policies as they will show in PolicyAPI. Could only be set if policy_api_lifecycle_stage is API_DEPRECATED.",
          "items": {
            "type": "string"
          }
        },
        "scheduledToDeprecatePolicies": {
          "type": "array",
          "description": "Corresponding to deprecated_in_favor_of, the fully qualified namespace(s) of the old policies that will be deprecated because of introduction of this policy.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Description about current life cycle."
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyApiLifecycle",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "description": "Request object for removing a certificate.",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "networkId": {
          "description": "Required. The GUID of the certificate to remove.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest",
      "type": "object"
    },
    "Proto2FileDescriptorProto": {
      "description": "Describes a complete .proto file.",
      "properties": {
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "messageType": {
          "description": "All top-level definitions in this file.",
          "items": {
            "$ref": "Proto2DescriptorProto"
          },
          "type": "array"
        },
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\". WARNING: This field should only be used by protobuf plugins or special cases like the proto compiler. Other uses are discouraged and developers should rely on the protoreflect APIs for their client language.",
          "type": "string"
        },
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "file name, relative to root of source tree"
        },
        "optionDependency": {
          "type": "array",
          "description": "Names of files imported by this file purely for the purpose of providing option extensions. These are excluded from the dependency list above.",
          "items": {
            "type": "string"
          }
        },
        "editionDeprecated": {
          "deprecated": true,
          "description": "copybara:strip_begin TODO(b/297898292) Deprecate and remove this field in favor of enums. copybara:strip_end",
          "type": "string"
        }
      },
      "id": "Proto2FileDescriptorProto",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "properties": {
        "acknowledgementRequired": {
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "type": "boolean",
          "readOnly": true
        },
        "noticeValue": {
          "readOnly": true,
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "type": "string"
        },
        "noticeMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The notice message associate with the value of the field."
        },
        "field": {
          "description": "Output only. The field name associated with the notice.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription",
      "type": "object"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      }
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "description": "Response object for removing a network.",
      "properties": {},
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription",
      "type": "object",
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "properties": {
        "field": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the field for associated with this description."
        },
        "fieldDependencies": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          }
        },
        "nestedFieldDescriptions": {
          "type": "array",
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields. Fields are suggested to be displayed by the ordering in this list, not by field number.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "readOnly": true
        },
        "fieldConstraints": {
          "description": "Output only. Information on any input constraints associated on the values for the field.",
          "$ref": "GoogleChromePolicyVersionsV1FieldConstraints",
          "readOnly": true
        },
        "knownValueDescriptions": {
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          },
          "type": "array",
          "readOnly": true
        },
        "fieldDescription": {
          "readOnly": true,
          "description": "Output only. The description of the field.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Deprecated. Use name and field_description instead. The description for the field.",
          "deprecated": true
        },
        "requiredItems": {
          "type": "array",
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          },
          "readOnly": true
        },
        "defaultValue": {
          "readOnly": true,
          "description": "Output only. Client default if the policy is unset.",
          "type": "any"
        },
        "inputConstraint": {
          "description": "Output only. Any input constraints associated on the values for the field.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the field.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1UploadedFileConstraints": {
      "description": "Constraints on the uploaded file of a file policy.",
      "properties": {
        "sizeLimitBytes": {
          "format": "int64",
          "type": "string",
          "description": "The size limit of uploaded files for a setting, in bytes."
        },
        "supportedContentTypes": {
          "type": "array",
          "description": "File types that can be uploaded for a setting.",
          "items": {
            "type": "string",
            "enum": [
              "CONTENT_TYPE_UNSPECIFIED",
              "CONTENT_TYPE_PLAIN_TEXT",
              "CONTENT_TYPE_HTML",
              "CONTENT_TYPE_IMAGE_JPEG",
              "CONTENT_TYPE_IMAGE_GIF",
              "CONTENT_TYPE_IMAGE_PNG",
              "CONTENT_TYPE_JSON",
              "CONTENT_TYPE_ZIP",
              "CONTENT_TYPE_GZIP",
              "CONTENT_TYPE_CSV",
              "CONTENT_TYPE_YAML",
              "CONTENT_TYPE_IMAGE_WEBP"
            ],
            "enumDescriptions": [
              "Unspecified content type.",
              "Plain text.",
              "HTML.",
              "JPEG.",
              "GIF.",
              "PNG.",
              "JSON.",
              "ZIP.",
              "GZIP.",
              "CSV.",
              "YAML.",
              "WEBP."
            ]
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1UploadedFileConstraints",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "properties": {
        "requests": {
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "description": "Request message for modifying multiple policy values for a specific target.",
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest",
      "type": "object",
      "description": "Request object for removing a network",
      "properties": {
        "networkId": {
          "type": "string",
          "description": "Required. The GUID of the network to remove."
        },
        "targetResource": {
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "description": "Response message for getting the resolved policy value for a specific target.",
      "properties": {
        "resolvedPolicies": {
          "type": "array",
          "description": "The list of resolved policies found by the resolve request.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          }
        },
        "nextPageToken": {
          "description": "The page token used to get the next set of resolved policies found by the request.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ResolveResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "description": "The key used to identify the target on which the policy will be applied.",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")"
        },
        "additionalTargetKeys": {
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1FieldConstraints": {
      "id": "GoogleChromePolicyVersionsV1FieldConstraints",
      "type": "object",
      "description": "Information about any range constraints.",
      "properties": {
        "numericRangeConstraint": {
          "description": "The allowed range for numeric fields.",
          "$ref": "GoogleChromePolicyVersionsV1NumericRangeConstraint"
        },
        "uploadedFileConstraints": {
          "description": "Constraints on the uploaded file of a file policy. If present, this policy requires a URL that can be fetched by uploading a file with the constraints specified in this proto.",
          "$ref": "GoogleChromePolicyVersionsV1UploadedFileConstraints"
        }
      }
    }
  },
  "name": "chromepolicy",
  "servicePath": "",
  "revision": "20260710",
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "ownerName": "Google",
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "baseUrl": "https://chromepolicy.googleapis.com/"
}