{
  "version": "v1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "discoveryVersion": "v1",
  "id": "chromemanagement:v1",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "name": "chromemanagement",
  "servicePath": "",
  "revision": "20260716",
  "title": "Chrome Management API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "basePath": "",
  "version_module": true,
  "documentationLink": "https://developers.google.com/chrome/management/",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly": {
          "description": "See Chrome Security Insights reports"
        },
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.securityinsights": {
          "description": "Turn Chrome Security Insights on and off and view the data it generates"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        }
      }
    }
  },
  "resources": {
    "operations": {
      "methods": {
        "delete": {
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "flatPath": "v1/operations/{operationsId}",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "location": "path",
              "required": true,
              "description": "The name of the operation resource to be deleted.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "id": "chromemanagement.operations.delete",
          "parameterOrder": [
            "name"
          ]
        },
        "cancel": {
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^operations/.*$",
              "type": "string",
              "required": true,
              "description": "The name of the operation resource to be cancelled."
            }
          },
          "id": "chromemanagement.operations.cancel",
          "path": "v1/{+name}:cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "request": {
            "$ref": "GoogleLongrunningCancelOperationRequest"
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "flatPath": "v1/operations",
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "The standard list filter."
            },
            "returnPartialSuccess": {
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The standard list page token."
            },
            "name": {
              "type": "string",
              "required": true,
              "description": "The name of the operation's parent resource.",
              "location": "path",
              "pattern": "^operations$"
            },
            "pageSize": {
              "description": "The standard list page size.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "id": "chromemanagement.operations.list",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "customers": {
      "resources": {
        "certificateProvisioningProcesses": {
          "methods": {
            "signData": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:signData",
              "description": "Requests the client that initiated a certificate provisioning process to sign data. This should only be called after `ClaimCertificateProvisioningProcess` has been successfully executed.",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:signData",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SignDataRequest"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.signData",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "location": "path"
                }
              }
            },
            "setFailure": {
              "path": "v1/{+name}:setFailure",
              "description": "Marks a certificate provisioning process as failed.",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:setFailure",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureRequest"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$"
                }
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.setFailure"
            },
            "get": {
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Retrieves a certificate provisioning process.",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$"
                }
              }
            },
            "uploadCertificate": {
              "path": "v1/{+name}:uploadCertificate",
              "description": "Uploads a successfully issued certificate for a certificate provisioning process.",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:uploadCertificate",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateRequest"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$"
                }
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.uploadCertificate"
            },
            "claim": {
              "path": "v1/{+name}:claim",
              "description": "Claims a certificate provisioning process. For each certificate provisioning process, this operation can succeed only for one `caller_instance_id`.",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:claim",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to claim. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.claim"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.certificateProvisioningProcesses.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            }
          }
        },
        "thirdPartyProfileUsers": {
          "methods": {
            "move": {
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Moves a third party chrome profile user to a destination OU. All profiles associated to that user will be moved to the destination OU.",
              "path": "v1/{+name}:move",
              "flatPath": "v1/customers/{customersId}/thirdPartyProfileUsers/{thirdPartyProfileUsersId}:move",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest"
              },
              "id": "chromemanagement.customers.thirdPartyProfileUsers.move",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/thirdPartyProfileUsers/[^/]+$",
                  "location": "path",
                  "description": "Required. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "apps": {
          "methods": {
            "countChromeAppRequests": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "description": "Generate summary of app installation requests.",
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "parameters": {
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50."
                }
              }
            },
            "fetchUsersRequestingExtension": {
              "id": "chromemanagement.customers.apps.fetchUsersRequestingExtension",
              "parameters": {
                "orgUnitId": {
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "extensionId": {
                  "description": "Required. The extension for which we want to find the requesting users.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse"
              },
              "flatPath": "v1/customers/{customersId}/apps:fetchUsersRequestingExtension",
              "description": "Get a list of users that have requested to install an extension.",
              "path": "v1/{+customer}/apps:fetchUsersRequestingExtension"
            },
            "fetchDevicesRequestingExtension": {
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse"
              },
              "flatPath": "v1/customers/{customersId}/apps:fetchDevicesRequestingExtension",
              "description": "Get a list of devices that have requested to install an extension.",
              "path": "v1/{+customer}/apps:fetchDevicesRequestingExtension",
              "id": "chromemanagement.customers.apps.fetchDevicesRequestingExtension",
              "parameters": {
                "orgUnitId": {
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "extensionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The extension for which we want to find requesting devices."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day."
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "android": {
              "methods": {
                "get": {
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "path": "v1/{+name}",
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "id": "chromemanagement.customers.apps.android.get"
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "description": "Get a specific app for a customer by its resource name.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "location": "path",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "chromemanagement.customers.apps.chrome.get"
                }
              }
            },
            "web": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a specific app for a customer by its resource name.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "id": "chromemanagement.customers.apps.web.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$",
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        },
        "telemetry": {
          "resources": {
            "devices": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get telemetry device.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "readMask": {
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$"
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter. Requests that don't specify a \"reports_timestamp\" value will default to returning only recent reports. Specify \"reports_timestamp>=0\" to get all report data. Supported filter fields: - org_unit_id - serial_number - device_id - reports_timestamp The \"reports_timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Token to specify next page in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "readMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report "
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices",
                  "description": "List all telemetry devices.",
                  "path": "v1/{+parent}/telemetry/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  }
                }
              }
            },
            "users": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryUser"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get telemetry user.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/telemetry/users/{usersId}",
                  "id": "chromemanagement.customers.telemetry.users.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the `TelemetryUser` to return.",
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+/telemetry/users/[^/]+$"
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report "
                    }
                  }
                },
                "list": {
                  "description": "List all telemetry users.",
                  "path": "v1/{+parent}/telemetry/users",
                  "flatPath": "v1/customers/{customersId}/telemetry/users",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryUsersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Token to specify next page in the list."
                    },
                    "filter": {
                      "description": "Only include resources that match the filter. Supported filter fields: - user_id - user_org_unit_id ",
                      "type": "string",
                      "location": "query"
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report "
                    }
                  },
                  "id": "chromemanagement.customers.telemetry.users.list"
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryEventsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List telemetry events.",
                  "path": "v1/{+parent}/telemetry/events",
                  "flatPath": "v1/customers/{customersId}/telemetry/events",
                  "id": "chromemanagement.customers.telemetry.events.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "readMask": {
                      "description": "Required. Read mask to specify which fields to return. Although currently required, this field will become optional, while the filter parameter with an event type will be come required. Supported read_mask paths are: - device - user - audio_severe_underrun_event - usb_peripherals_event - https_latency_change_event - network_state_change_event - wifi_signal_strength_event - vpn_connection_state_change_event - app_install_event - app_uninstall_event - app_launch_event - os_crash_event - external_displays_event ",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only include resources that match the filter. Although this parameter is currently optional, this parameter will be required- please specify at least 1 event type. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The \"timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\"."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Token to specify next page in the list."
                    }
                  }
                }
              }
            },
            "notificationConfigs": {
              "methods": {
                "delete": {
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs/{notificationConfigsId}",
                  "path": "v1/{+name}",
                  "description": "Delete a telemetry notification config.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/telemetry/notificationConfigs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the notification config to delete. Format: `customers/{customer}/telemetry/notificationConfigs/{notification_config}`"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.delete"
                },
                "list": {
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "description": "List all telemetry notification configs.",
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListTelemetryNotificationConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTelemetryNotificationConfigs` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent which owns the notification configs.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of notification configs to return. The service may return fewer than this value. If unspecified, at most 100 notification configs will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.list"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource where this notification config will be created. Format: `customers/{customer}`",
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.create",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs",
                  "request": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  },
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "description": "Create a telemetry notification config.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  }
                }
              }
            }
          }
        },
        "connectorConfigs": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: customers/{customer}",
                  "required": true
                },
                "connectorConfigId": {
                  "description": "Optional. ID to use for the connector config, which becomes the final component of the connector config's resource name. If provided, the ID must be 1-36 characters long, and contain only lowercase letters, digits, and hyphens. It must start with a letter, and end with a letter or number. If not provided, the connector config will be assigned a random UUID.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "chromemanagement.customers.connectorConfigs.create",
              "description": "Creates a connector config.",
              "path": "v1/{+parent}/connectorConfigs",
              "flatPath": "v1/customers/{customersId}/connectorConfigs",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "description": "Lists connector configs of a customer.",
              "path": "v1/{+parent}/connectorConfigs",
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/connectorConfigs",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Format: customers/{customer}",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of connector configs to return. The default page size is 50 if page_size is unspecified, and the maximum page size allowed is 100. Values above 100 will be capped at 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListConnectorConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectorConfigs` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "chromemanagement.customers.connectorConfigs.list"
            },
            "patch": {
              "path": "v1/{+name}",
              "description": "Updates a connector config.",
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Identifier. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. The update mask that can be used to specify which fields to update."
                }
              },
              "id": "chromemanagement.customers.connectorConfigs.patch"
            },
            "get": {
              "id": "chromemanagement.customers.connectorConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Gets a connector config with customer ID and config ID."
            },
            "delete": {
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a connector config.",
              "id": "chromemanagement.customers.connectorConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        },
        "enterprise": {
          "resources": {
            "securityInsights": {
              "methods": {
                "enable": {
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1EnableInsightsResponse"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/enterprise/securityInsights:enable",
                  "description": "Enables insights for the customer and sets up required chrome connectors.",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:enable",
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1EnableInsightsRequest"
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.enable",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights"
                  ],
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "description": "Required. The customer to enable insights for. Format: customers/{customer}",
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    }
                  }
                },
                "queryContentTransfersBreakdowns": {
                  "path": "v1/{+customer}/enterprise/securityInsights:queryContentTransfersBreakdowns",
                  "description": "Returns summaries of content transfers for a given metric and breakdown dimension.",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryContentTransfersBreakdowns",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "parameters": {
                    "breakdown": {
                      "enum": [
                        "CONTENT_TRANSFERS_BREAKDOWN_DIMENSION_UNSPECIFIED",
                        "USER",
                        "EVENT_DOMAIN",
                        "CONTENT_CATEGORY"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified breakdown dimension. Defaults to USER.",
                        "Breakdown by user.",
                        "Breakdown by event domain.",
                        "Breakdown by content category."
                      ],
                      "description": "Optional. The dimension to break down the content transfers by. Defaults to USER.",
                      "type": "string"
                    },
                    "metric": {
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified content transfers metric. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS.",
                        "The total number of content transfers (sensitive and non-sensitive). This is the sum of the total_uploads, total_downloads, and total_prints.",
                        "The total number of content uploads (sensitive and non-sensitive).",
                        "The total number of content downloads (sensitive and non-sensitive).",
                        "The total number of content prints (sensitive and non-sensitive).",
                        "The total number of sensitive content transfers. This is the sum of the sensitive_uploads, sensitive_downloads, and sensitive_prints.",
                        "The number of sensitive content uploads.",
                        "The number of sensitive content downloads.",
                        "The number of sensitive content prints."
                      ],
                      "enum": [
                        "CONTENT_TRANSFERS_METRIC_UNSPECIFIED",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_UPLOADS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_DOWNLOADS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_PRINTS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_SENSITIVE_TRANSFERS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_UPLOADS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_DOWNLOADS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_PRINTS"
                      ],
                      "type": "string",
                      "description": "Optional. The metric to return the breakdowns for. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS."
                    },
                    "fixedTimeRange": {
                      "description": "Optional. The fixed time range to return the breakdowns for. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS. Fixed time ranges are used to allow for precomputation and optimize response times.",
                      "type": "string",
                      "enum": [
                        "FIXED_TIME_RANGE_UNSPECIFIED",
                        "FIXED_TIME_RANGE_FOUR_HOURS",
                        "FIXED_TIME_RANGE_ONE_DAY",
                        "FIXED_TIME_RANGE_ONE_WEEK",
                        "FIXED_TIME_RANGE_FOUR_WEEKS"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified fixed time range. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS.",
                        "Four hours.",
                        "One day.",
                        "One week.",
                        "Four weeks."
                      ]
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of breakdowns to return. The service may return fewer than this value. If unspecified, at most 50 breakdowns will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `QueryContentTransfersBreakdowns` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryContentTransfersBreakdowns` must match the call that provided the page token."
                    },
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days or more recent than 48 hours ago. If `event_time` is not specified, results will end 48 hours ago. Supported fields for filtering: - `user` - `event_domain` - `content_category` - `event_time` Filtering by `user` or `event_domain` requires the `breakdown` dimension to be set to the corresponding value (e.g., you must set `breakdown = USER` to filter by `user`). Supported operators: - `=` for `user`, `event_domain`, and `content_category`. - `<=` for `event_time`. Supported conjunctions: - `AND` Example: `user = \"testuser\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryContentTransfersBreakdowns"
                },
                "checkEnablementStatus": {
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "description": "Required. The customer to check the enablement status for. Format: customers/{customer_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.enterprise.securityInsights.checkEnablementStatus",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:checkEnablementStatus",
                  "description": "Gets the setting state of the insights feature for the customer.",
                  "path": "v1/{+customer}/enterprise/securityInsights:checkEnablementStatus",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse"
                  }
                },
                "queryContentTransfers": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryContentTransfersResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryContentTransfers",
                  "description": "Returns a high-level summary of content transfers for a given customer.",
                  "path": "v1/{+customer}/enterprise/securityInsights:queryContentTransfers",
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryContentTransfers",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days, and may be unavailable or inaccurate for time ranges less than 4 hours. If `event_time` is not specified, results will be returned for the last 30 days. Supported fields for filtering: - `event_time` Supported operators: - `>=` and `<=` for `event_time` Supported conjunctions: - `AND` Example: `event_time >= \"2024-01-01T00:00:00Z\" AND event_time <= \"2024-01-02T00:00:00Z\"`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "queryUrlVisitsBreakdowns": {
                  "parameters": {
                    "fixedTimeRange": {
                      "enum": [
                        "FIXED_TIME_RANGE_UNSPECIFIED",
                        "FIXED_TIME_RANGE_FOUR_HOURS",
                        "FIXED_TIME_RANGE_ONE_DAY",
                        "FIXED_TIME_RANGE_ONE_WEEK",
                        "FIXED_TIME_RANGE_FOUR_WEEKS"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified fixed time range. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS.",
                        "Four hours.",
                        "One day.",
                        "One week.",
                        "Four weeks."
                      ],
                      "description": "Optional. The fixed time range to return the breakdowns for. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS. Fixed time ranges are used to allow for precomputation and optimize response times.",
                      "type": "string"
                    },
                    "metric": {
                      "type": "string",
                      "description": "Optional. The metric to return the breakdowns for. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified URL visits metric. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
                        "The total number of suspicious URL visits. This is the sum of the high_risk_url_visits, medium_risk_url_visits, and low_risk_url_visits.",
                        "The number of suspicious URL visits with high risk.",
                        "The number of suspicious URL visits with medium risk.",
                        "The number of suspicious URL visits with low risk."
                      ],
                      "enum": [
                        "URL_VISITS_METRIC_UNSPECIFIED",
                        "URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS",
                        "URL_VISITS_METRIC_HIGH_RISK_URL_VISITS",
                        "URL_VISITS_METRIC_MEDIUM_RISK_URL_VISITS",
                        "URL_VISITS_METRIC_LOW_RISK_URL_VISITS"
                      ]
                    },
                    "breakdown": {
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified breakdown dimension. Defaults to USER.",
                        "Breakdown by user.",
                        "Breakdown by event domain."
                      ],
                      "enum": [
                        "URL_VISITS_BREAKDOWN_DIMENSION_UNSPECIFIED",
                        "USER",
                        "EVENT_DOMAIN"
                      ],
                      "type": "string",
                      "description": "Optional. The dimension to break down the URL visits by. Defaults to USER."
                    },
                    "customer": {
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days or more recent than 48 hours ago. If `event_time` is not specified, results will end 48 hours ago. Supported fields for filtering: - `user` - `event_domain` - `event_time` Filtering by `user` or `event_domain` requires the `breakdown` dimension to be set to the corresponding value (e.g., you must set `breakdown = USER` to filter by `user`). Supported operators: - `=` for `user` and `event_domain`. - `<=` for `event_time`. Supported conjunctions: - `AND` Example: `user = \"testuser\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `QueryUrlVisitsBreakdowns` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryUrlVisitsBreakdowns` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of breakdowns to return. The service may return fewer than this value. If unspecified, at most 50 breakdowns will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryUrlVisitsBreakdowns",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryUrlVisitsBreakdowns",
                  "description": "Returns summaries of URL visits for a given metric and breakdown dimension. Requires a Chrome Enterprise Premium subscription. If the customer does not have this subscription, query results will be empty.",
                  "path": "v1/{+customer}/enterprise/securityInsights:queryUrlVisitsBreakdowns",
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse"
                  }
                },
                "disable": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights"
                  ],
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "description": "Required. The customer to disable insights for. Format: customers/{customer}",
                      "required": true
                    }
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.disable",
                  "path": "v1/{+customer}/enterprise/securityInsights:disable",
                  "description": "Disables insights for the customer.",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:disable",
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1DisableInsightsRequest"
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1DisableInsightsResponse"
                  },
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "queryUrlVisits": {
                  "description": "Returns a high-level summary of URL visits for a given customer. Requires a Chrome Enterprise Premium subscription. If the customer does not have this subscription, query results will be empty.",
                  "path": "v1/{+customer}/enterprise/securityInsights:queryUrlVisits",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryUrlVisits",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    },
                    "filter": {
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days, and may be unavailable or inaccurate for time ranges less than 4 hours. If `event_time` is not specified, results will be returned for the last 30 days. Supported fields for filtering: - `event_time` Supported operators: - `>=` and `<=` for `event_time` Supported conjunctions: - `AND` Example: `event_time >= \"2024-01-01T00:00:00Z\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryUrlVisits"
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "findInstalledAppProfiles": {
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppProfilesResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppProfiles",
              "description": "Generate report of managed Chrome profiles that have a specified app installed.",
              "path": "v1/{+customer}/reports:findInstalledAppProfiles",
              "id": "chromemanagement.customers.reports.findInstalledAppProfiles",
              "parameters": {
                "pageToken": {
                  "description": "Optional. Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Field used to order results. Supported order by fields: * email * profile_id * profile_permanent_id"
                },
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                },
                "appId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote)."
                },
                "appType": {
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100."
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET"
            },
            "countDevicesPerBootType": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Get a count of devices per boot type.",
              "path": "v1/{+customer}/reports:countDevicesPerBootType",
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerBootType",
              "id": "chromemanagement.customers.reports.countDevicesPerBootType",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "customer": {
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "date.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "date.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "date.day": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                }
              }
            },
            "countChromeDevicesThatNeedAttention": {
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention",
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "parameters": {
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned."
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "type": "string"
                },
                "readMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. Mask of the fields that should be populated in the returned report."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET"
            },
            "countChromeVersions": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:countChromeVersions",
              "description": "Generate report of installed Chrome versions.",
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned."
                },
                "customer": {
                  "type": "string",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                }
              }
            },
            "findInstalledAppDevices": {
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "description": "Generate report of managed Chrome browser devices that have a specified app installed.",
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "appId": {
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "location": "query",
                  "type": "string"
                },
                "appType": {
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "countInstalledApps": {
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "path": "v1/{+customer}/reports:countInstalledApps",
              "description": "Generate report of app installations.",
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned."
                },
                "orderBy": {
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id * manifest_versions * risk_score",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id * manifest_versions * risk_score",
                  "type": "string",
                  "location": "query"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.countInstalledApps"
            },
            "countChromeBrowsersNeedingAttention": {
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "required": true,
                  "type": "string"
                },
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned."
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity.",
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              }
            },
            "countChromeHardwareFleetDevices": {
              "flatPath": "v1/customers/{customersId}/reports:countChromeHardwareFleetDevices",
              "path": "v1/{+customer}/reports:countChromeHardwareFleetDevices",
              "description": "Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
              },
              "parameters": {
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\".",
                  "type": "string"
                },
                "readMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. Mask of the fields that should be populated in the returned report."
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.countChromeHardwareFleetDevices"
            },
            "countChromeProfileVersions": {
              "id": "chromemanagement.customers.reports.countChromeProfileVersions",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token to specify the page of the request to be returned."
                },
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeProfileVersionsResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Generate report of installed Chrome versions on managed profiles.",
              "path": "v1/{+customer}/reports:countChromeProfileVersions",
              "flatPath": "v1/customers/{customersId}/reports:countChromeProfileVersions"
            },
            "countPrintJobsByUser": {
              "id": "chromemanagement.customers.reports.countPrintJobsByUser",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "printerOrgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs initiated with printers from the specified organizational unit will be counted. If omitted, all print jobs will be counted."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the page of the response to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'user_email' field. Supported order_by fields: * user_email * job_count * printer_count * device_count"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
              },
              "parameterOrder": [
                "customer"
              ],
[...]
