{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "revision": "20260816",
  "canonicalName": "Chromewebstore",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "protocol": "rest",
  "version": "v2",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "id": "chromewebstore:v2",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "CancelSubmissionResponse": {
      "type": "object",
      "id": "CancelSubmissionResponse",
      "properties": {},
      "description": "Response message for `CancelSubmission`."
    },
    "UploadItemPackageResponse": {
      "type": "object",
      "id": "UploadItemPackageResponse",
      "properties": {
        "name": {
          "description": "The name of the item the package was uploaded to.",
          "type": "string"
        },
        "uploadState": {
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ]
        },
        "itemId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the item the package was uploaded to."
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`).",
          "type": "string"
        }
      },
      "description": "Response message for `UploadItemPackage`."
    },
    "DeployInfo": {
      "id": "DeployInfo",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters."
    },
    "UploadItemPackageRequest": {
      "description": "Request message for UploadItemPackage.",
      "id": "UploadItemPackageRequest",
      "properties": {},
      "type": "object"
    },
    "Warning": {
      "id": "Warning",
      "properties": {
        "description": {
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue.",
          "type": "string"
        },
        "reason": {
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a single warning encountered during the request."
    },
    "SetPublishedDeployPercentageRequest": {
      "description": "Request message for SetPublishedDeployPercentage.",
      "id": "SetPublishedDeployPercentageRequest",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ItemRevisionStatus": {
      "type": "object",
      "id": "ItemRevisionStatus",
      "properties": {
        "state": {
          "description": "Output only. Current state of the item",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ]
        },
        "distributionChannels": {
          "description": "Details on the package of the item",
          "items": {
            "$ref": "DistributionChannel"
          },
          "type": "array"
        }
      },
      "description": "Details on the status of an item revision."
    },
    "CancelSubmissionRequest": {
      "id": "CancelSubmissionRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for CancelSubmission."
    },
    "PublishItemResponse": {
      "type": "object",
      "id": "PublishItemResponse",
      "properties": {
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        },
        "state": {
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "description": "Output only. The current state of the submission.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "readOnly": true
        },
        "warningInfo": {
          "description": "Output only. Non-blocking warnings encountered during the request.",
          "$ref": "WarningsInfo",
          "readOnly": true
        },
        "itemId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the item."
        }
      },
      "description": "Response message for `PublishItem`."
    },
    "WarningsInfo": {
      "type": "object",
      "id": "WarningsInfo",
      "properties": {
        "warnings": {
          "type": "array",
          "description": "All warnings encountered during the request.",
          "items": {
            "$ref": "Warning"
          }
        }
      },
      "description": "Message containing details on warnings encountered during PublishItem."
    },
    "DistributionChannel": {
      "description": "Deployment information for a specific release channel",
      "id": "DistributionChannel",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "format": "int32"
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetPublishedDeployPercentageResponse": {
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "id": "SetPublishedDeployPercentageResponse",
      "properties": {},
      "type": "object"
    },
    "FetchItemStatusResponse": {
      "type": "object",
      "id": "FetchItemStatusResponse",
      "properties": {
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "itemId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the item."
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "publishedItemRevisionStatus": {
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "$ref": "ItemRevisionStatus",
          "readOnly": true
        },
        "lastAsyncUploadState": {
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ]
        }
      },
      "description": "Response message for `FetchItemStatus`."
    },
    "PublishItemRequest": {
      "type": "object",
      "id": "PublishItemRequest",
      "properties": {
        "publishType": {
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ]
        },
        "blockOnWarnings": {
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "deployInfos": {
          "type": "array",
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "items": {
            "$ref": "DeployInfo"
          }
        }
      },
      "description": "Request message for PublishItem."
    }
  },
  "ownerName": "Google",
  "name": "chromewebstore",
  "version_module": true,
  "ownerDomain": "google.com",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "id": "chromewebstore.media.upload",
          "httpMethod": "POST",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            }
          },
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "description": "Upload a new package to an existing item.",
          "path": "v2/{+name}:upload",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "parameters": {
            "name": {
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "fetchStatus": {
              "path": "v2/{+name}:fetchStatus",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "description": "Fetch the status of an item.",
              "id": "chromewebstore.publishers.items.fetchStatus",
              "httpMethod": "GET",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ]
            },
            "publish": {
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "id": "chromewebstore.publishers.items.publish",
              "httpMethod": "POST",
              "response": {
                "$ref": "PublishItemResponse"
              },
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "path": "v2/{+name}:publish",
              "request": {
                "$ref": "PublishItemRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "cancelSubmission": {
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "path": "v2/{+name}:cancelSubmission",
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "httpMethod": "POST"
            },
            "setPublishedDeployPercentage": {
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "httpMethod": "POST",
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "basePath": "",
  "kind": "discovery#restDescription",
  "title": "Chrome Web Store API",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "batchPath": "batch"
}