{
  "canonicalName": "Chromewebstore",
  "ownerName": "Google",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "version": "v2",
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "publish": {
              "request": {
                "$ref": "PublishItemRequest"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "id": "chromewebstore.publishers.items.publish",
              "path": "v2/{+name}:publish",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PublishItemResponse"
              },
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "httpMethod": "POST"
            },
            "cancelSubmission": {
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "path": "v2/{+name}:cancelSubmission"
            },
            "setPublishedDeployPercentage": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "parameterOrder": [
                "name"
              ]
            },
            "fetchStatus": {
              "httpMethod": "GET",
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "description": "Fetch the status of an item.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "path": "v2/{+name}:fetchStatus",
              "id": "chromewebstore.publishers.items.fetchStatus",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/v2/{+name}:upload",
                "multipart": true
              }
            },
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ]
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "description": "Upload a new package to an existing item.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "type": "string",
              "required": true,
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "path": "v2/{+name}:upload",
          "supportsMediaUpload": true,
          "id": "chromewebstore.media.upload",
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload"
        }
      }
    }
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260624",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "schemas": {
    "PublishItemResponse": {
      "type": "object",
      "properties": {
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item.",
          "readOnly": true
        },
        "warningInfo": {
          "description": "Output only. Non-blocking warnings encountered during the request.",
          "readOnly": true,
          "$ref": "WarningsInfo"
        },
        "name": {
          "type": "string",
          "description": "The name of the item that was submitted"
        },
        "state": {
          "description": "Output only. The current state of the submission.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ]
        }
      },
      "id": "PublishItemResponse",
      "description": "Response message for `PublishItem`."
    },
    "SetPublishedDeployPercentageRequest": {
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage."
        }
      },
      "id": "SetPublishedDeployPercentageRequest",
      "description": "Request message for SetPublishedDeployPercentage.",
      "type": "object"
    },
    "DeployInfo": {
      "id": "DeployInfo",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "properties": {
        "deployPercentage": {
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ItemRevisionStatus": {
      "properties": {
        "state": {
          "description": "Output only. Current state of the item",
          "readOnly": true,
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "type": "string"
        },
        "distributionChannels": {
          "description": "Details on the package of the item",
          "items": {
            "$ref": "DistributionChannel"
          },
          "type": "array"
        }
      },
      "id": "ItemRevisionStatus",
      "description": "Details on the status of an item revision.",
      "type": "object"
    },
    "Warning": {
      "type": "object",
      "id": "Warning",
      "description": "Represents a single warning encountered during the request.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning."
        },
        "description": {
          "type": "string",
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue."
        }
      }
    },
    "WarningsInfo": {
      "type": "object",
      "id": "WarningsInfo",
      "description": "Message containing details on warnings encountered during PublishItem.",
      "properties": {
        "warnings": {
          "description": "All warnings encountered during the request.",
          "items": {
            "$ref": "Warning"
          },
          "type": "array"
        }
      }
    },
    "SetPublishedDeployPercentageResponse": {
      "properties": {},
      "id": "SetPublishedDeployPercentageResponse",
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "type": "object"
    },
    "DistributionChannel": {
      "type": "object",
      "id": "DistributionChannel",
      "description": "Deployment information for a specific release channel",
      "properties": {
        "crxVersion": {
          "type": "string",
          "description": "The extension version provided in the manifest of the uploaded package."
        },
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100)."
        }
      }
    },
    "CancelSubmissionRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelSubmissionRequest",
      "description": "Request message for CancelSubmission."
    },
    "UploadItemPackageResponse": {
      "type": "object",
      "id": "UploadItemPackageResponse",
      "description": "Response message for `UploadItemPackage`.",
      "properties": {
        "uploadState": {
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "readOnly": true,
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "type": "string"
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the item the package was uploaded to."
        },
        "itemId": {
          "description": "Output only. The ID of the item the package was uploaded to.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FetchItemStatusResponse": {
      "id": "FetchItemStatusResponse",
      "description": "Response message for `FetchItemStatus`.",
      "properties": {
        "publishedItemRevisionStatus": {
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "readOnly": true,
          "$ref": "ItemRevisionStatus"
        },
        "lastAsyncUploadState": {
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "readOnly": true,
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "type": "string"
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        },
        "takenDown": {
          "type": "boolean",
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details."
        },
        "itemId": {
          "description": "Output only. The ID of the item.",
          "readOnly": true,
          "type": "string"
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PublishItemRequest": {
      "properties": {
        "publishType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ]
        },
        "deployInfos": {
          "type": "array",
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "items": {
            "$ref": "DeployInfo"
          }
        },
        "skipReview": {
          "type": "boolean",
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset."
        },
        "blockOnWarnings": {
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset.",
          "type": "boolean"
        }
      },
      "id": "PublishItemRequest",
      "description": "Request message for PublishItem.",
      "type": "object"
    },
    "UploadItemPackageRequest": {
      "properties": {},
      "id": "UploadItemPackageRequest",
      "description": "Request message for UploadItemPackage.",
      "type": "object"
    },
    "CancelSubmissionResponse": {
      "type": "object",
      "id": "CancelSubmissionResponse",
      "description": "Response message for `CancelSubmission`.",
      "properties": {}
    }
  },
  "title": "Chrome Web Store API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "name": "chromewebstore",
  "version_module": true,
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "id": "chromewebstore:v2",
  "basePath": ""
}