{
  "version": "v1.1",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "servicePath": "",
  "basePath": "",
  "kind": "discovery#restDescription",
  "name": "chromewebstore",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "id": "chromewebstore:v1.1",
  "version_module": true,
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "revision": "20260819",
  "title": "Chrome Web Store API",
  "ownerDomain": "google.com",
  "canonicalName": "Chromewebstore",
  "schemas": {
    "Item": {
      "type": "object",
      "id": "Item",
      "properties": {
        "itemError": {
          "type": "array",
          "items": {
            "$ref": "ItemError"
          },
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store."
        },
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "uploadState": {
          "type": "string",
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" "
        },
        "id": {
          "type": "string",
          "description": "Unique ID of the item."
        }
      }
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "properties": {
        "target": {
          "type": "string",
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value."
        },
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        },
        "deployPercentage": {
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ItemError": {
      "properties": {
        "error_detail": {
          "type": "string",
          "description": "The human-readable detail message of the error."
        },
        "error_code": {
          "type": "string",
          "description": "The error code."
        }
      },
      "type": "object",
      "description": "Error of the item",
      "id": "ItemError"
    },
    "Item2": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Static string value is always \"chromewebstore#item\"."
        },
        "statusDetail": {
          "type": "array",
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "items": {
            "type": "string"
          }
        },
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Item2",
      "type": "object"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "description": "Inserts a new item.",
          "flatPath": "chromewebstore/v1.1/items",
          "response": {
            "$ref": "Item"
          },
          "parameterOrder": [],
          "parameters": {
            "publisherEmail": {
              "location": "query",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "type": "string"
            }
          },
          "path": "chromewebstore/v1.1/items",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "httpMethod": "POST",
          "id": "chromewebstore.items.insert",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            },
            "maxSize": "2147483648"
          }
        },
        "publish": {
          "description": "Publishes an item.",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "id": "chromewebstore.items.publish",
          "request": {
            "$ref": "PublishRequest"
          },
          "parameters": {
            "publishTarget": {
              "location": "query",
              "type": "string",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\"."
            },
            "reviewExemption": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
            },
            "itemId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the item to publish."
            },
            "deployPercentage": {
              "location": "query",
              "type": "integer",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "format": "int32"
            }
          },
          "httpMethod": "POST",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "response": {
            "$ref": "Item2"
          },
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameterOrder": [
            "itemId"
          ]
        },
        "get": {
          "path": "chromewebstore/v1.1/items/{itemId}",
          "description": "Gets your own Chrome Web Store item.",
          "response": {
            "$ref": "Item"
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "projection": {
              "type": "string",
              "description": "Determines which subset of the item information to return.",
              "location": "query",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ]
            },
            "itemId": {
              "location": "path",
              "type": "string",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "chromewebstore.items.get",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "parameterOrder": [
            "itemId"
          ]
        },
        "update": {
          "supportsMediaUpload": true,
          "description": "Updates an existing item.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "itemId"
          ],
          "request": {
            "$ref": "Item"
          },
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.update",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "itemId": {
              "description": "The ID of the item to upload.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ]
        }
      }
    }
  },
  "baseUrl": "https://chromewebstore.googleapis.com/"
}