{
  "id": "chromewebstore:v1.1",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "version": "v1.1",
  "resources": {
    "items": {
      "methods": {
        "update": {
          "id": "chromewebstore.items.update",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "response": {
            "$ref": "Item"
          },
          "description": "Updates an existing item.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "itemId"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}",
          "supportsMediaUpload": true,
          "parameters": {
            "itemId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the item to upload.",
              "required": true
            }
          },
          "request": {
            "$ref": "Item"
          }
        },
        "publish": {
          "parameters": {
            "publishTarget": {
              "location": "query",
              "type": "string",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\"."
            },
            "itemId": {
              "description": "The ID of the item to publish.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "deployPercentage": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update."
            },
            "reviewExemption": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
            }
          },
          "request": {
            "$ref": "PublishRequest"
          },
          "parameterOrder": [
            "itemId"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "httpMethod": "POST",
          "response": {
            "$ref": "Item2"
          },
          "description": "Publishes an item.",
          "id": "chromewebstore.items.publish",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish"
        },
        "get": {
          "parameters": {
            "itemId": {
              "type": "string",
              "location": "path",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "required": true
            },
            "projection": {
              "type": "string",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "location": "query",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "description": "Determines which subset of the item information to return."
            }
          },
          "httpMethod": "GET",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameterOrder": [
            "itemId"
          ],
          "response": {
            "$ref": "Item"
          },
          "description": "Gets your own Chrome Web Store item.",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "id": "chromewebstore.items.get",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ]
        },
        "insert": {
          "response": {
            "$ref": "Item"
          },
          "description": "Inserts a new item.",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            }
          },
          "id": "chromewebstore.items.insert",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "flatPath": "chromewebstore/v1.1/items",
          "parameters": {
            "publisherEmail": {
              "location": "query",
              "type": "string",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address."
            }
          },
          "supportsMediaUpload": true,
          "parameterOrder": [],
          "path": "chromewebstore/v1.1/items",
          "httpMethod": "POST"
        }
      }
    }
  },
  "batchPath": "batch",
  "title": "Chrome Web Store API",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "name": "chromewebstore",
  "kind": "discovery#restDescription",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "schemas": {
    "ItemError": {
      "description": "Error of the item",
      "id": "ItemError",
      "type": "object",
      "properties": {
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        },
        "error_code": {
          "description": "The error code.",
          "type": "string"
        }
      }
    },
    "Item2": {
      "id": "Item2",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Static string value is always \"chromewebstore#item\"."
        },
        "item_id": {
          "type": "string",
          "description": "The ID of this item."
        }
      }
    },
    "Item": {
      "properties": {
        "uploadState": {
          "type": "string",
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" "
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "items": {
            "$ref": "ItemError"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Unique ID of the item."
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        }
      },
      "id": "Item",
      "type": "object"
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        },
        "deployPercentage": {
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "format": "int32",
          "type": "integer"
        },
        "reviewExemption": {
          "type": "boolean",
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
        }
      }
    }
  },
  "basePath": "",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "canonicalName": "Chromewebstore",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "revision": "20260701"
}