{
  "title": "Chrome Web Store API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "version_module": true,
  "schemas": {
    "Item": {
      "id": "Item",
      "properties": {
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "itemError": {
          "type": "array",
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "items": {
            "$ref": "ItemError"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\"."
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "uploadState": {
          "type": "string",
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" "
        }
      },
      "type": "object"
    },
    "Item2": {
      "properties": {
        "status": {
          "items": {
            "type": "string"
          },
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array"
        },
        "item_id": {
          "type": "string",
          "description": "The ID of this item."
        },
        "kind": {
          "type": "string",
          "description": "Static string value is always \"chromewebstore#item\"."
        },
        "statusDetail": {
          "type": "array",
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Item2"
    },
    "PublishRequest": {
      "properties": {
        "target": {
          "type": "string",
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value."
        },
        "reviewExemption": {
          "type": "boolean",
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
        },
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base."
        }
      },
      "type": "object",
      "id": "PublishRequest"
    },
    "ItemError": {
      "type": "object",
      "properties": {
        "error_code": {
          "type": "string",
          "description": "The error code."
        },
        "error_detail": {
          "type": "string",
          "description": "The human-readable detail message of the error."
        }
      },
      "id": "ItemError",
      "description": "Error of the item"
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "revision": "20260924",
  "batchPath": "batch",
  "id": "chromewebstore:v1.1",
  "parameters": {
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "name": "chromewebstore",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "version": "v1.1",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "id": "chromewebstore.items.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "mediaUpload": {
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            }
          },
          "response": {
            "$ref": "Item"
          },
          "httpMethod": "POST",
          "parameters": {
            "publisherEmail": {
              "location": "query",
              "type": "string",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address."
            }
          },
          "supportsMediaUpload": true,
          "path": "chromewebstore/v1.1/items",
          "description": "Inserts a new item.",
          "flatPath": "chromewebstore/v1.1/items"
        },
        "get": {
          "description": "Gets your own Chrome Web Store item.",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "response": {
            "$ref": "Item"
          },
          "parameterOrder": [
            "itemId"
          ],
          "id": "chromewebstore.items.get",
          "parameters": {
            "itemId": {
              "required": true,
              "location": "path",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "type": "string"
            },
            "projection": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "description": "Determines which subset of the item information to return.",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ]
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}"
        },
        "publish": {
          "parameters": {
            "itemId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the item to publish.",
              "required": true
            },
            "publishTarget": {
              "location": "query",
              "type": "string",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\"."
            },
            "reviewExemption": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
            },
            "deployPercentage": {
              "location": "query",
              "format": "int32",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "type": "integer"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "parameterOrder": [
            "itemId"
          ],
          "description": "Publishes an item.",
          "response": {
            "$ref": "Item2"
          },
          "request": {
            "$ref": "PublishRequest"
          },
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "id": "chromewebstore.items.publish",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish"
        },
        "update": {
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Updates an existing item.",
          "id": "chromewebstore.items.update",
          "request": {
            "$ref": "Item"
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameterOrder": [
            "itemId"
          ],
          "parameters": {
            "itemId": {
              "location": "path",
              "required": true,
              "description": "The ID of the item to upload.",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "Item"
          },
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          }
        }
      }
    }
  },
  "servicePath": "",
  "canonicalName": "Chromewebstore",
  "protocol": "rest",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api"
}