{
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "id": "chromewebstore:v2",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "canonicalName": "Chromewebstore",
  "version_module": true,
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "version": "v2",
  "name": "chromewebstore",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "servicePath": "",
  "revision": "20260901",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "schemas": {
    "DistributionChannel": {
      "description": "Deployment information for a specific release channel",
      "type": "object",
      "id": "DistributionChannel",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "type": "integer",
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100)."
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        }
      }
    },
    "UploadItemPackageRequest": {
      "description": "Request message for UploadItemPackage.",
      "type": "object",
      "id": "UploadItemPackageRequest",
      "properties": {}
    },
    "SetPublishedDeployPercentageResponse": {
      "id": "SetPublishedDeployPercentageResponse",
      "properties": {},
      "type": "object",
      "description": "Response message for `SetPublishedDeployPercentage`."
    },
    "Warning": {
      "id": "Warning",
      "description": "Represents a single warning encountered during the request.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning."
        },
        "description": {
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PublishItemRequest": {
      "description": "Request message for PublishItem.",
      "type": "object",
      "id": "PublishItemRequest",
      "properties": {
        "blockOnWarnings": {
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "publishType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ]
        },
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "deployInfos": {
          "type": "array",
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "items": {
            "$ref": "DeployInfo"
          }
        }
      }
    },
    "FetchItemStatusResponse": {
      "id": "FetchItemStatusResponse",
      "properties": {
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "publishedItemRevisionStatus": {
          "$ref": "ItemRevisionStatus",
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "readOnly": true
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "publicKey": {
          "type": "string",
          "description": "The public key of the item, which may be generated by the store."
        },
        "submittedItemRevisionStatus": {
          "$ref": "ItemRevisionStatus",
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish."
        },
        "lastAsyncUploadState": {
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "readOnly": true,
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours."
        },
        "itemId": {
          "description": "Output only. The ID of the item.",
          "type": "string",
          "readOnly": true
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Response message for `FetchItemStatus`."
    },
    "WarningsInfo": {
      "description": "Message containing details on warnings encountered during PublishItem.",
      "type": "object",
      "id": "WarningsInfo",
      "properties": {
        "warnings": {
          "type": "array",
          "description": "All warnings encountered during the request.",
          "items": {
            "$ref": "Warning"
          }
        }
      }
    },
    "DeployInfo": {
      "properties": {
        "deployPercentage": {
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DeployInfo",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "type": "object"
    },
    "CancelSubmissionResponse": {
      "type": "object",
      "id": "CancelSubmissionResponse",
      "description": "Response message for `CancelSubmission`.",
      "properties": {}
    },
    "CancelSubmissionRequest": {
      "properties": {},
      "id": "CancelSubmissionRequest",
      "type": "object",
      "description": "Request message for CancelSubmission."
    },
    "ItemRevisionStatus": {
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "description": "Output only. Current state of the item"
        },
        "distributionChannels": {
          "items": {
            "$ref": "DistributionChannel"
          },
          "type": "array",
          "description": "Details on the package of the item"
        }
      },
      "description": "Details on the status of an item revision.",
      "type": "object",
      "id": "ItemRevisionStatus"
    },
    "UploadItemPackageResponse": {
      "description": "Response message for `UploadItemPackage`.",
      "id": "UploadItemPackageResponse",
      "properties": {
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item the package was uploaded to.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the item the package was uploaded to."
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`).",
          "type": "string"
        },
        "uploadState": {
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetPublishedDeployPercentageRequest": {
      "type": "object",
      "description": "Request message for SetPublishedDeployPercentage.",
      "id": "SetPublishedDeployPercentageRequest",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "type": "integer"
        }
      }
    },
    "PublishItemResponse": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item.",
          "readOnly": true
        },
        "warningInfo": {
          "$ref": "WarningsInfo",
          "description": "Output only. Non-blocking warnings encountered during the request.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "readOnly": true,
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "description": "Output only. The current state of the submission.",
          "type": "string"
        }
      },
      "id": "PublishItemResponse",
      "description": "Response message for `PublishItem`."
    }
  },
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "publish": {
              "httpMethod": "POST",
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "response": {
                "$ref": "PublishItemResponse"
              },
              "id": "chromewebstore.publishers.items.publish",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "PublishItemRequest"
              },
              "path": "v2/{+name}:publish",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish"
            },
            "cancelSubmission": {
              "httpMethod": "POST",
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "path": "v2/{+name}:cancelSubmission",
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true
                }
              },
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission."
            },
            "fetchStatus": {
              "id": "chromewebstore.publishers.items.fetchStatus",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "description": "Fetch the status of an item.",
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}:fetchStatus",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus"
            },
            "setPublishedDeployPercentage": {
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "httpMethod": "POST",
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "required": true,
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "parameters": {
            "name": {
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            }
          },
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Upload a new package to an existing item.",
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "httpMethod": "POST",
          "path": "v2/{+name}:upload",
          "id": "chromewebstore.media.upload"
        }
      }
    }
  },
  "batchPath": "batch",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "basePath": "",
  "title": "Chrome Web Store API"
}