{
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "servicePath": "",
  "canonicalName": "Chrome Management",
  "batchPath": "batch",
  "title": "Chrome Management API",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.securityinsights": {
          "description": "Turn Chrome Security Insights on and off and view the data it generates"
        },
        "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly": {
          "description": "See Chrome Security Insights reports"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        }
      }
    }
  },
  "id": "chromemanagement:v1",
  "basePath": "",
  "revision": "20260716",
  "discoveryVersion": "v1",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "schemas": {
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "description": "Response containing counts for devices that need attention.",
      "properties": {
        "pendingUpdate": {
          "description": "Number of devices that are pending an OS update.",
          "type": "string",
          "format": "int64"
        },
        "osVersionNotCompliantCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices whose OS version is not compliant."
        },
        "noRecentUserActivityCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days."
        },
        "noRecentPolicySyncCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days."
        },
        "unsupportedPolicyCount": {
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse": {
      "description": "Response message for listing notification configs for a customer.",
      "properties": {
        "telemetryNotificationConfigs": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
          },
          "description": "The telemetry notification configs from the specified customer.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData",
      "type": "object",
      "description": "Information of conflicting policy applied on a Chrome browser profile.",
      "properties": {
        "source": {
          "type": "string",
          "description": "Output only. Source of the policy.",
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ],
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ],
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryUsersResponse": {
      "description": "Response message for listing telemetry users for a customer.",
      "properties": {
        "telemetryUsers": {
          "type": "array",
          "description": "Telemetry users returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUser"
          }
        },
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryUsersResponse",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData",
      "type": "object",
      "description": "Information of the policies applied on an extension.",
      "properties": {
        "extensionId": {
          "description": "Output only. ID of the extension.",
          "readOnly": true,
          "type": "string"
        },
        "policyData": {
          "description": "Output only. Information of the policies applied on the extension.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          },
          "type": "array"
        },
        "extensionName": {
          "description": "Output only. Name of the extension.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1ProfileAppInstallInstance": {
      "id": "GoogleChromeManagementV1ProfileAppInstallInstance",
      "type": "object",
      "description": "Describes a profile reporting Chrome Profile information.",
      "properties": {
        "profileId": {
          "type": "string",
          "description": "Output only. The Chrome client side profile ID.",
          "readOnly": true
        },
        "profilePermanentId": {
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer.",
          "readOnly": true,
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Output only. The email of the profile.",
          "readOnly": true
        },
        "profileOrgUnitId": {
          "type": "string",
          "description": "Output only. The organizational unit id of the profile.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse": {
      "description": "Response message for QueryUrlVisits.",
      "properties": {
        "summaries": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1UrlVisitsSummary"
          },
          "description": "A collection of summaries for various URL visit metrics.",
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1CountActiveDevicesResponse": {
      "id": "GoogleChromeManagementV1CountActiveDevicesResponse",
      "type": "object",
      "description": "Response containing the number of active devices.",
      "properties": {
        "sevenDaysCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of active devices in the 7 days leading up to the date specified in the request."
        },
        "thirtyDaysCount": {
          "description": "Number of active devices in the 30 days leading up to the date specified in the request.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryOsCrashEvent": {
      "id": "GoogleChromeManagementV1TelemetryOsCrashEvent",
      "type": "object",
      "description": "OS crash data.",
      "properties": {
        "crashType": {
          "description": "Crash type.",
          "enum": [
            "CRASH_TYPE_UNSPECIFIED",
            "CRASH_TYPE_KERNEL",
            "CRASH_TYPE_EMBEDDED_CONTROLLER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Crash type unknown.",
            "Kernel crash.",
            "Embedded controller crash."
          ]
        },
        "crashId": {
          "description": "Crash id.",
          "type": "string"
        },
        "sessionType": {
          "type": "string",
          "enumDescriptions": [
            "Session type unknown.",
            "Signed in user.",
            "Kiosk.",
            "Managed guest session.",
            "Active directory session."
          ],
          "description": "Session type.",
          "enum": [
            "SESSION_TYPE_UNSPECIFIED",
            "SESSION_TYPE_SIGNED_IN_USER",
            "SESSION_TYPE_KIOSK",
            "SESSION_TYPE_MANAGED_GUEST",
            "SESSION_TYPE_ACTIVE_DIRECTORY"
          ]
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleChromeManagementV1TelemetryDeviceInfo": {
      "id": "GoogleChromeManagementV1TelemetryDeviceInfo",
      "type": "object",
      "description": "Information about a device associated with telemetry data. * Granular Permission needed: TELEMETRY_API_DEVICE",
      "properties": {
        "orgUnitId": {
          "type": "string",
          "description": "Output only. Organization unit ID of the device.",
          "readOnly": true
        },
        "deviceId": {
          "type": "string",
          "description": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig": {
      "description": "Palo Alto Networks connector config.",
      "properties": {
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Palo Alto Networks config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig",
      "type": "object"
    },
    "GoogleChromeManagementV1DisplayInfo": {
      "id": "GoogleChromeManagementV1DisplayInfo",
      "type": "object",
      "description": "Information for a display.",
      "properties": {
        "displayName": {
          "description": "Output only. Display device name.",
          "readOnly": true,
          "type": "string"
        },
        "edidVersion": {
          "description": "Output only. EDID version.",
          "readOnly": true,
          "type": "string"
        },
        "deviceId": {
          "description": "Output only. Represents the graphics card device id.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "isInternal": {
          "type": "boolean",
          "description": "Output only. Indicates if display is internal or not.",
          "readOnly": true
        },
        "refreshRate": {
          "description": "Output only. Refresh rate in Hz.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "resolutionHeight": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Resolution height in pixels.",
          "readOnly": true
        },
        "serialNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Serial number.",
          "readOnly": true
        },
        "resolutionWidth": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Resolution width in pixels.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse": {
      "description": "Response from checking the enablement status of insights for the customer.",
      "properties": {
        "insightsState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insights feature is enabled for the customer.",
            "The insights feature is disabled for the customer."
          ],
          "description": "The state of the insights feature.",
          "enum": [
            "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED",
            "INSIGHTS_ENABLED",
            "INSIGHTS_DISABLED"
          ]
        }
      },
      "id": "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount": {
      "description": "The `count` of the Chrome crash events at the `date`.",
      "properties": {
        "count": {
          "description": "Total count of crash events.",
          "type": "string",
          "format": "int64"
        },
        "date": {
          "description": "Date of the crash event.",
          "$ref": "GoogleTypeDate"
        },
        "browserVersion": {
          "description": "Browser version this is counting.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount",
      "type": "object"
    },
    "GoogleChromeManagementV1BatteryStatusReport": {
      "id": "GoogleChromeManagementV1BatteryStatusReport",
      "type": "object",
      "description": "Status data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_REPORT",
      "properties": {
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the sample was collected on device",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "description": "Output only. Battery serial number.",
          "readOnly": true
        },
        "sample": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BatterySampleReport"
          },
          "description": "Output only. Sampling data for the battery sorted in a decreasing order of report_time.",
          "readOnly": true
        },
        "fullChargeCapacity": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Full charge capacity (mAmpere-hours).",
          "readOnly": true
        },
        "batteryHealth": {
          "description": "Output only. Battery health.",
          "enum": [
            "BATTERY_HEALTH_UNSPECIFIED",
            "BATTERY_HEALTH_NORMAL",
            "BATTERY_REPLACE_SOON",
            "BATTERY_REPLACE_NOW"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Health unknown.",
            "Battery is healthy, full charge capacity / design capacity > 80%",
            "Battery is moderately unhealthy and suggested to be replaced soon, full charge capacity / design capacity 75% - 80%",
            "Battery is unhealthy and suggested to be replaced, full charge capacity / design capacity < 75%"
          ]
        },
        "cycleCount": {
          "description": "Output only. Cycle count.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent": {
      "id": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
      "type": "object",
      "description": "`TelemetryUsbPeripheralsEvent` is triggered USB devices are either added or removed. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "properties": {
        "usbPeripheralReport": {
          "type": "array",
          "description": "List of usb devices that were either added or removed.",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          }
        }
      }
    },
    "GoogleChromeManagementVersionsV1UrlVisitsBreakdown": {
      "id": "GoogleChromeManagementVersionsV1UrlVisitsBreakdown",
      "type": "object",
      "description": "A URL visits summary for a given breakdown dimension.",
      "properties": {
        "summary": {
          "description": "The summary of URL visits for the breakdown dimension.",
          "$ref": "GoogleChromeManagementVersionsV1UrlVisitsSummary"
        },
        "user": {
          "description": "The user that visited the URL.",
          "type": "string"
        },
        "eventDomain": {
          "description": "The event domain of the URL visits.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type.",
      "properties": {
        "cpuReports": {
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array"
        },
        "memoryReports": {
          "type": "array",
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "storageReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128)."
        },
        "modelReports": {
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1PeripheralsReport": {
      "id": "GoogleChromeManagementV1PeripheralsReport",
      "type": "object",
      "description": "Peripherals report. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "properties": {
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the report was collected.",
          "readOnly": true
        },
        "usbPeripheralReport": {
          "type": "array",
          "description": "Reports of all usb connected devices.",
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          }
        }
      }
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand": {
      "description": "A representation of a remote command for a Chrome browser profile.",
      "properties": {
        "commandType": {
          "description": "Required. Type of the remote command. The only supported command_type is \"clearBrowsingData\".",
          "type": "string"
        },
        "validDuration": {
          "description": "Output only. Valid duration of the remote command.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "description": "Identifier. Format: customers/{customer_id}/profiles/{profile_permanent_id}/commands/{command_id}",
          "type": "string"
        },
        "commandState": {
          "description": "Output only. State of the remote command.",
          "enum": [
            "COMMAND_STATE_UNSPECIFIED",
            "PENDING",
            "EXPIRED",
            "EXECUTED_BY_CLIENT"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified command state.",
            "Represents a command in a pending state.",
            "Represents a command that has expired.",
            "Represents a command that has been executed by the client."
          ]
        },
        "commandResult": {
          "description": "Output only. Result of the remote command.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult"
        },
        "issueTime": {
          "description": "Output only. Timestamp of the issurance of the remote command.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "payload": {
          "description": "Required. Payload of the remote command. The payload for \"clearBrowsingData\" command supports: - fields \"clearCache\" and \"clearCookies\" - values of boolean type.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1DeviceTrustConfig": {
      "id": "GoogleChromeManagementVersionsV1DeviceTrustConfig",
      "type": "object",
      "description": "Device trust config for device trust connectors.",
      "properties": {
        "serviceAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of email addresses of the service accounts which are allowed to call the Verified Access API with full access."
        },
        "scope": {
          "description": "Required. The scope at which this configuration will be applied. Note that this only applies to Chrome browser, as in ChromeOS it's always applied.",
          "enum": [
            "BROWSER_ENFORCEMENT_SCOPE_UNSPECIFIED",
            "BROWSERS_ONLY",
            "PROFILES_ONLY",
            "BROWSERS_AND_PROFILES"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Only browsers are enforced.",
            "Only profiles are enforced.",
            "Both browsers and profiles are enforced."
          ]
        },
        "serviceProvider": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Universal device trust connector.",
            "Okta service provider.",
            "Ping Identity service provider.",
            "OneLogin service provider.",
            "Duo service provider.",
            "Zscaler service provider.",
            "Omnissa service provider.",
            "JumpCloud service provider."
          ],
          "description": "Optional. The service provider for the device trust connector.",
          "enum": [
            "SERVICE_PROVIDER_UNSPECIFIED",
            "UNIVERSAL_DEVICE_TRUST",
            "OKTA",
            "PING_IDENTITY",
            "ONELOGIN",
            "DUO",
            "ZSCALER",
            "OMNISSA",
            "JUMPCLOUD"
          ]
        },
        "urlMatchers": {
          "type": "array",
          "description": "Required. List of URLs allowed to be part of the attestation flow to get the set of signals from the machine. URLs must have HTTPS scheme, e.g. \"https://example.com\". Wildcards, *, are allowed. For detailed information on valid URL patterns, please see https://cloud.google.com/docs/chrome-enterprise/policies/url-patterns.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleChromeManagementV1AppDetails": {
      "description": "Resource representing app details.",
      "properties": {
        "appId": {
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app.",
          "readOnly": true,
          "type": "string"
        },
        "latestPublishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Latest published time.",
          "readOnly": true
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published.",
          "readOnly": true
        },
        "chromeAppInfo": {
          "$ref": "GoogleChromeManagementV1ChromeAppInfo",
          "description": "Output only. Chrome Web Store app information.",
          "readOnly": true
        },
        "isPaidApp": {
          "description": "Output only. Indicates if the app has to be paid for OR has paid content.",
          "readOnly": true,
          "type": "boolean"
        },
        "serviceError": {
          "$ref": "GoogleRpcStatus",
          "description": "Output only. Information about a partial service error if applicable.",
          "readOnly": true
        },
        "publisher": {
          "type": "string",
          "description": "Output only. The publisher of the item.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Output only. App type.",
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ],
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ],
          "readOnly": true
        },
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true,
          "type": "string"
        },
        "privacyPolicyUri": {
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}",
          "readOnly": true,
          "type": "string"
        },
        "reviewNumber": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true
        },
        "homepageUri": {
          "description": "Output only. Home page or Website uri.",
          "readOnly": true,
          "type": "string"
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. App's display name.",
          "readOnly": true,
          "type": "string"
        },
        "categoryIds": {
          "description": "Output only. The category IDs of the app, which are the same as stored in the Web Store item. It's expected that there is only one category ID.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reviewRating": {
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "androidAppInfo": {
          "description": "Output only. Android app information.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1AndroidAppInfo"
        },
        "description": {
          "type": "string",
          "description": "Output only. App's description.",
          "readOnly": true
        },
        "firstPublishTime": {
          "description": "Output only. First published time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleChromeManagementV1AppDetails",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppRequest": {
      "description": "Details of an app installation request.",
      "properties": {
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true,
          "type": "string"
        },
        "latestRequestTime": {
          "description": "Output only. The timestamp of the most recently made request for this app.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "requestCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total count of requests for this app.",
          "readOnly": true
        },
        "appId": {
          "description": "Output only. Unique store identifier for the app. Example: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension.",
          "readOnly": true,
          "type": "string"
        },
        "appDetails": {
          "description": "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}",
          "readOnly": true,
          "type": "string"
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. App's display name.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppRequest",
      "type": "object"
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "type": "object",
      "description": "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_REPORT",
      "properties": {
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the graphics data was reported.",
          "readOnly": true
        },
        "displays": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          },
          "description": "Output only. Information about the displays for the device.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1SignDataMetadata": {
      "id": "GoogleChromeManagementVersionsV1SignDataMetadata",
      "type": "object",
      "description": "Metadata for the long-running operation returned by signData.",
      "properties": {
        "startTime": {
          "description": "Output only. Start time of the SignData operation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementV1InstalledApp": {
      "description": "Describes an installed app.",
      "properties": {
        "homepageUri": {
          "description": "Output only. Homepage uri of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "riskAssessment": {
          "$ref": "GoogleChromeManagementV1RiskAssessmentData",
          "description": "Output only. If available, the risk assessment data about this extension.",
          "readOnly": true
        },
        "browserDeviceCount": {
          "description": "Output only. Count of browser devices with this app installed.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "appInstallType": {
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. How the app was installed.",
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ]
        },
        "profileCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Count of Chrome Profiles with this app installed.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the installed app.",
          "readOnly": true
        },
        "osUserCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Name of the installed app.",
          "readOnly": true
        },
        "permissions": {
          "description": "Output only. Permissions of the installed app.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appSource": {
          "description": "Output only. Source of the installed app.",
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ]
        },
        "appId": {
          "type": "string",
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true
        },
        "disabled": {
          "description": "Output only. Whether the app is disabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "appType": {
          "type": "string",
          "description": "Output only. Type of the app.",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ],
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1InstalledApp",
      "type": "object"
    },
    "GoogleChromeManagementV1CpuInfo": {
      "id": "GoogleChromeManagementV1CpuInfo",
      "type": "object",
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO",
      "properties": {
        "architecture": {
          "readOnly": true,
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "type": "string"
        },
        "keylockerConfigured": {
          "type": "boolean",
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "readOnly": true
        },
        "keylockerSupported": {
          "type": "boolean",
          "description": "Output only. Whether keylocker is supported.",
          "readOnly": true
        },
        "model": {
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "readOnly": true,
          "type": "string"
        },
        "maxClockSpeed": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The max CPU clock speed in kHz.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "type": "object",
      "description": "Contains information regarding the current OS update status. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceOsUpdateStatus](https://chromeenterprise.google/policies/#ReportDeviceOsUpdateStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "properties": {
        "lastUpdateCheckTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last update check.",
          "readOnly": true
        },
        "updateState": {
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the os update.",
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ]
        },
        "newRequestedPlatformVersion": {
          "type": "string",
          "description": "Output only. New requested platform version from the pending updated kiosk app.",
          "readOnly": true
        },
        "newPlatformVersion": {
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot.",
          "readOnly": true,
          "type": "string"
        },
        "lastUpdateTime": {
          "description": "Output only. Timestamp of the last successful update.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastRebootTime": {
          "description": "Output only. Timestamp of the last reboot.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementVersionsV1GenericProfile": {
      "description": "Describes a generic certificate provisioning profile.",
      "properties": {
        "profileAdapterConfigReference": {
          "description": "Output only. A string that references the administrator-provided configuration for the certificate provisioning profile.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1GenericProfile",
      "type": "object"
    },
    "GoogleChromeManagementV1CountPrintJobsByUserResponse": {
      "description": "Response containing a summary printing report for each user that has initiated a print job with a printer from the specified organizational unit during the requested time interval.",
      "properties": {
        "totalSize": {
          "description": "Total number of users matching request.",
          "type": "string",
          "format": "int64"
        },
        "userPrintReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1UserPrintReport"
          },
          "description": "List of UserPrintReports matching request."
        },
        "nextPageToken": {
          "description": "Pagination token for requesting the next page.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1CountPrintJobsByUserResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1RuntimeCountersReport": {
      "id": "GoogleChromeManagementV1RuntimeCountersReport",
      "type": "object",
      "description": "Runtime counters retrieved from CPU. Currently the runtime counters telemetry is only supported by Intel vPro PSR on Gen 14+.",
      "properties": {
        "enterPoweroffCount": {
          "description": "Number of times that the device has entered into the power-off state. Currently obtained via the PSR, count from S0->S5.",
          "type": "string",
          "format": "int64"
        },
        "uptimeRuntimeDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total lifetime runtime. Currently always S0 runtime from Intel vPro PSR."
        },
        "enterHibernationCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of times that the device has entered into the hibernation state. Currently obtained via the PSR, count from S0->S4."
        },
        "enterSleepCount": {
          "description": "Number of times that the device has entered into the sleep state. Currently obtained via the PSR, count from S0->S3.",
          "type": "string",
          "format": "int64"
        },
        "reportTime": {
          "description": "Timestamp when the report was collected.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent": {
      "description": "`TelemetryNetworkSignalStrengthEvent` is triggered on WiFi signal strength events. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "properties": {
        "signalStrengthDbm": {
          "type": "integer",
          "format": "int32",
          "description": "Signal strength RSSI value."
        },
        "guid": {
          "description": "Unique identifier of the network.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1QueryContentTransfersResponse": {
      "id": "GoogleChromeManagementVersionsV1QueryContentTransfersResponse",
      "type": "object",
      "description": "Response message for QueryContentTransfers.",
      "properties": {
        "summaries": {
          "type": "array",
          "description": "A collection of summaries for various content transfers metrics.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ContentTransfersSummary"
          }
        }
      }
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse": {
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse",
      "type": "object",
      "description": "Response for MoveThirdPartyProfileUser method.",
      "properties": {
        "thirdPartyProfileUser": {
          "$ref": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
          "description": "Output only. The moved third party profile user.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "description": "Provides information about the status of the CPU. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_REPORT",
      "properties": {
        "sampleFrequency": {
          "description": "Output only. Frequency the report is sampled.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled.",
          "readOnly": true
        },
        "cpuTemperatureInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          },
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "readOnly": true
        },
        "cpuUtilizationPct": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Sample of CPU utilization (0-100 percent).",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "type": "object",
      "description": "Chrome Web Store app information.",
      "properties": {
        "isCwsHosted": {
          "type": "boolean",
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store.",
          "readOnly": true
        },
        "isTheme": {
          "type": "boolean",
          "description": "Output only. Whether the app or extension is a theme.",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Unspecified ItemType.",
            "Chrome Extensions.",
            "Any other type than extension."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Types of an item in the Chrome Web Store",
          "enum": [
            "ITEM_TYPE_UNSPECIFIED",
            "EXTENSION",
            "OTHERS"
          ]
        },
        "minUserCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The minimum number of users using this app.",
          "readOnly": true
        },
        "kioskEnabled": {
          "type": "boolean",
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices",
          "readOnly": true
        },
        "manifestVersion": {
          "description": "Output only. The version of this extension's manifest.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "isKioskOnly": {
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices",
          "readOnly": true,
          "type": "boolean"
        },
        "googleOwned": {
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "boolean"
        },
        "permissions": {
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          },
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "array"
        },
        "supportEnabled": {
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true,
          "type": "boolean"
        },
        "siteAccess": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          },
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true
        },
        "isExtensionPolicySupported": {
          "type": "boolean",
          "description": "Output only. Whether an app supports policy for extensions.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1PrintJob": {
      "description": "Represents a request to print a document that has been submitted to a printer.",
      "properties": {
        "documentPageCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of pages in the document."
        },
        "completeTime": {
          "description": "Print job completion timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "userId": {
          "description": "The unique Directory API ID of the user who submitted the print job.",
          "type": "string"
        },
        "colorMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Black and white.",
            "Color."
          ],
          "description": "Color mode.",
          "enum": [
            "COLOR_MODE_UNSPECIFIED",
            "BLACK_AND_WHITE",
            "COLOR"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Print job creation timestamp."
        },
        "duplexMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "One-sided.",
            "Two-sided flipping over long edge.",
            "Two-sided flipping over short edge."
          ],
          "description": "Duplex mode.",
          "enum": [
            "DUPLEX_MODE_UNSPECIFIED",
            "ONE_SIDED",
            "TWO_SIDED_LONG_EDGE",
            "TWO_SIDED_SHORT_EDGE"
          ]
        },
        "id": {
          "description": "Unique ID of the print job.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Print job is in an unspecified state.",
            "The document was successfully printed.",
            "Print job was cancelled.",
            "Print job failed."
          ],
          "description": "The final state of the job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PRINTED",
            "CANCELLED",
            "FAILED"
          ]
        },
        "printer": {
          "description": "Name of the printer used for printing.",
          "type": "string"
        },
        "copyCount": {
          "description": "Number of copies.",
          "type": "integer",
          "format": "int32"
        },
        "userEmail": {
          "description": "The primary e-mail address of the user who submitted the print job.",
          "type": "string"
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "printerId": {
          "description": "API ID of the printer used for printing.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1PrintJob",
      "type": "object"
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.",
      "properties": {
        "problem": {
          "readOnly": true,
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ],
          "type": "string"
        },
        "latency": {
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData",
      "type": "object"
    },
    "GoogleChromeManagementV1AppUsageData": {
      "id": "GoogleChromeManagementV1AppUsageData",
      "type": "object",
      "description": "App usage data.",
      "properties": {
        "runningDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "App foreground running time."
        },
        "appId": {
          "description": "App id.",
          "type": "string"
        },
        "appType": {
          "description": "Type of app.",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ]
        },
        "appInstanceId": {
          "description": "Application instance id. This will be unique per window/instance.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult": {
      "description": "Result of the execution of a command.",
      "properties": {
        "resultType": {
          "readOnly": true,
          "enumDescriptions": [
            "Represents an unspecified command result.",
            "Represents a command with an ignored result.",
            "Represents a failed command.",
            "Represents a succeeded command."
          ],
          "description": "Output only. Result type of the remote command.",
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ],
          "type": "string"
        },
        "resultCode": {
          "description": "Output only. Result code that indicates the type of error or success of the command.",
          "readOnly": true,
          "type": "string"
        },
        "clientExecutionTime": {
          "description": "Output only. Timestamp of the client execution of the remote command.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult",
      "type": "object"
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "description": "Telemetry data reported by a managed device.",
      "properties": {
        "httpsLatencyChangeEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`.",
          "readOnly": true
        },
        "vpnConnectionStateChangeEvent": {
          "description": "Output only. Payload for VPN connection state change event. Present only when `event_type` is `VPN_CONNECTION_STATE_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent"
        },
        "osCrashEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryOsCrashEvent",
          "description": "Output only. Payload for OS crash event. Present only when `event_type` is `OS_CRASH`.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the event.",
          "readOnly": true,
          "type": "string"
        },
        "externalDisplaysEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
          "description": "Output only. Payload for external display connected/disconnected event. Present only when `event_type` is `EXTERNAL_DISPLAY_CONNECTED` or `EXTERNAL_DISPLAY_DISCONNECTED`.",
          "readOnly": true
        },
        "eventType": {
          "description": "The event type of the current event.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "NETWORK_STATE_CHANGE",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE",
            "WIFI_SIGNAL_STRENGTH_LOW",
            "WIFI_SIGNAL_STRENGTH_RECOVERED",
            "VPN_CONNECTION_STATE_CHANGE",
            "APP_INSTALLED",
            "APP_UNINSTALLED",
            "APP_LAUNCHED",
            "OS_CRASH",
            "EXTERNAL_DISPLAY_CONNECTED",
            "EXTERNAL_DISPLAY_DISCONNECTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered immediately on any changes to a network connection.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
            "Triggered when connected WiFi network signal strength drops below -70dBm.",
            "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
            "Triggered on changes to VPN connections.",
            "Triggered when an app is installed.",
            "Triggered when an app is uninstalled.",
            "Triggered when an app is launched.",
            "Triggered when a crash occurs.",
            "Triggered when an external display is connected.",
            "Triggered when an external display is disconnected."
          ]
        },
        "appUninstallEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAppUninstallEvent",
          "description": "Output only. Payload for app uninstall event. Present only when `event_type` is `APP_UNINSTALLED`.",
          "readOnly": true
        },
        "user": {
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo",
          "description": "Output only. Information about the user associated with the event.",
          "readOnly": true
        },
        "audioSevereUnderrunEvent": {
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent"
        },
        "networkStateChangeEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent",
          "description": "Output only. Payload for network connection state change event. Present only when `event_type` is `NETWORK_STATE_CHANGE`.",
          "readOnly": true
        },
        "wifiSignalStrengthEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
          "description": "Output only. Payload for WiFi signal strength events. Present only when `event_type` is `WIFI_SIGNAL_STRENGTH_LOW` or `WIFI_SIGNAL_STRENGTH_RECOVERED`.",
          "readOnly": true
        },
        "appInstallEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryAppInstallEvent",
          "description": "Output only. Payload for app install event. Present only when `event_type` is `APP_INSTALLED`.",
          "readOnly": true
        },
        "device": {
          "description": "Output only. Information about the device associated with the event.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo"
        },
        "usbPeripheralsEvent": {
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.",
          "readOnly": true
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp that represents when the event was reported."
        },
        "appLaunchEvent": {
          "description": "Output only. Payload for app launch event.Present only when `event_type` is `APP_LAUNCHED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppLaunchEvent"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryEvent",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1SplunkConfig": {
      "description": "Splunk connector config.",
      "properties": {
        "source": {
          "description": "Optional. Optional source name to override the default one set in the Splunk admin console.",
          "type": "string"
        },
        "portNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The port number to use. If not set, the default Splunk port is used."
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Splunk config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "unsecureScheme": {
          "description": "Optional. Whether to use an unsecure HTTP scheme. Defaults to false (HTTPS).",
          "type": "boolean"
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "hecToken": {
          "description": "Required. Input only. The data input's HTTP Event Collector token to use as an Authorization header.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1SplunkConfig",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse": {
      "description": "Response to ListChromeBrowserProfiles method.",
      "properties": {
        "chromeBrowserProfiles": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
          },
          "description": "The list of profiles returned."
        },
        "totalSize": {
          "type": "string",
          "format": "int64",
          "description": "Total size represents an estimated number of resources returned. Not guaranteed to be accurate above 10k profiles."
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1XdrSettings": {
      "id": "GoogleChromeManagementVersionsV1XdrSettings",
      "type": "object",
      "description": "XDR settings for connector configs.",
      "properties": {
        "enableAllXdrEvents": {
          "description": "Required. Whether to enable all XDR events.",
          "type": "boolean"
        }
      }
    },
    "GoogleChromeManagementV1PrinterReport": {
      "description": "Report for CountPrintJobsByPrinter, contains statistics on printer usage. Contains the total number of print jobs initiated with this printer, the number of users and the number of devices that have initiated at least one print job with this printer.",
      "properties": {
        "deviceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of chrome devices that have been used to send print jobs to the specified printer."
        },
        "printer": {
          "description": "Printer name.",
          "type": "string"
        },
        "printerModel": {
          "description": "Printer model.",
          "type": "string"
        },
        "jobCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of print jobs sent to the printer."
        },
        "userCount": {
          "description": "Number of users that have sent print jobs to the printer.",
          "type": "string",
          "format": "int64"
        },
        "printerId": {
          "description": "Printer API ID.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1PrinterReport",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ChromeOsUserSession": {
      "description": "Describes the ChromeOS user session that a `CertificateProvisioningProcess` belongs to.",
      "properties": {
        "userDirectoryApiId": {
          "description": "Output only. The unique Directory API ID of the user.",
          "readOnly": true,
          "type": "string"
        },
        "userPrimaryEmail": {
          "type": "string",
          "description": "Output only. The primary e-mail address of the user.",
          "readOnly": true
        },
        "chromeOsDevice": {
          "$ref": "GoogleChromeManagementVersionsV1ChromeOsDevice",
          "description": "Output only. This field contains information about the ChromeOS device that the user session is running on. It is only set if the user is affiliated, i.e., if the user is managed by the same organization that manages the ChromeOS device.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ChromeOsUserSession",
      "type": "object"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1TouchScreenInfo": {
      "description": "Information on the device touch screen.",
      "properties": {
        "touchpadLibrary": {
          "description": "Output only. Touchpad library name used by the input stack.",
          "readOnly": true,
          "type": "string"
        },
        "devices": {
          "description": "Output only. List of the internal touch screen devices.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1TouchScreenDevice"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1TouchScreenInfo",
      "type": "object"
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "id": "GoogleChromeManagementV1MemoryInfo",
      "type": "object",
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO",
      "properties": {
        "availableRamBytes": {
          "description": "Output only. Amount of available RAM in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "totalMemoryEncryption": {
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "description": "Output only. Total memory encryption info for the device.",
          "readOnly": true
        },
        "totalRamBytes": {
          "description": "Output only. Total RAM in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryEventNotificationFilter": {
      "id": "GoogleChromeManagementV1TelemetryEventNotificationFilter",
      "type": "object",
      "description": "Configures how the telemetry events should be filtered.",
      "properties": {
        "eventTypes": {
          "type": "array",
          "description": "Only sends the notifications for events of these types. Must not be empty.",
          "items": {
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "AUDIO_SEVERE_UNDERRUN",
              "NETWORK_STATE_CHANGE",
              "USB_ADDED",
              "USB_REMOVED",
              "NETWORK_HTTPS_LATENCY_CHANGE",
              "WIFI_SIGNAL_STRENGTH_LOW",
              "WIFI_SIGNAL_STRENGTH_RECOVERED",
              "VPN_CONNECTION_STATE_CHANGE",
              "APP_INSTALLED",
              "APP_UNINSTALLED",
              "APP_LAUNCHED",
              "OS_CRASH",
              "EXTERNAL_DISPLAY_CONNECTED",
              "EXTERNAL_DISPLAY_DISCONNECTED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Event type unknown.",
              "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
              "Triggered immediately on any changes to a network connection.",
              "Triggered when USB devices are added.",
              "Triggered when USB devices are removed.",
              "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
              "Triggered when connected WiFi network signal strength drops below -70dBm.",
              "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
              "Triggered on changes to VPN connections.",
              "Triggered when an app is installed.",
              "Triggered when an app is uninstalled.",
              "Triggered when an app is launched.",
              "Triggered when a crash occurs.",
              "Triggered when an external display is connected.",
              "Triggered when an external display is disconnected."
            ]
          }
        }
      }
    },
    "GoogleChromeManagementV1DisplayDevice": {
      "description": "Information of a display device.",
      "properties": {
        "displayWidthMm": {
          "description": "Output only. Display width in millimeters.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "edidVersion": {
          "type": "string",
          "description": "Output only. EDID version.",
          "readOnly": true
        },
        "serialNumber": {
          "description": "Output only. Serial number.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "modelId": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Manufacturer product code.",
          "readOnly": true
        },
        "displayHeightMm": {
          "description": "Output only. Display height in millimeters.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "manufactureYear": {
          "description": "Output only. Year of manufacture.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display device name.",
          "readOnly": true
        },
        "internal": {
          "description": "Output only. Is display internal or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "manufacturerId": {
          "description": "Output only. Three letter manufacturer ID.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1DisplayDevice",
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "GoogleChromeManagementV1FindInstalledAppProfilesResponse": {
      "description": "Response containing a list of profiles with queried app installed.",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of profiles matching request."
        },
        "profiles": {
          "description": "A list of profiles which have the app installed. Sorted in ascending alphabetical order on the profile.Email field.",
          "items": {
            "$ref": "GoogleChromeManagementV1ProfileAppInstallInstance"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1FindInstalledAppProfilesResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse": {
      "description": "Response containing the number of devices with the given channel.",
      "properties": {
        "ltcChannelCount": {
          "description": "Number of devices with ltc release channel.",
          "type": "string",
          "format": "int64"
        },
        "ltsChannelCount": {
          "description": "Number of devices with lts release channel.",
          "type": "string",
          "format": "int64"
        },
        "betaChannelCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with beta release channel."
        },
        "unreportedChannelCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with an unreported release channel."
        },
        "stableChannelCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with stable release channel."
        },
        "canaryChannelCount": {
          "description": "Number of devices with canary release channel.",
          "type": "string",
          "format": "int64"
        },
        "devChannelCount": {
          "description": "Number of devices with dev release channel.",
          "type": "string",
          "format": "int64"
        },
        "unsupportedChannelCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with unsupported release channel."
        }
      },
      "id": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse": {
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse",
      "type": "object",
      "description": "Response to ListChromeBrowserProfileCommands method.",
      "properties": {
        "chromeBrowserProfileCommands": {
          "type": "array",
          "description": "The list of commands returned.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
          }
        },
        "totalSize": {
          "type": "string",
          "format": "int64",
          "description": "Total size represents an estimated number of resources returned."
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TouchScreenDevice": {
      "id": "GoogleChromeManagementV1TouchScreenDevice",
      "type": "object",
      "description": "Information of an internal touch screen device.",
      "properties": {
        "stylusCapable": {
          "description": "Output only. Touch screen device is stylus capable or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Touch screen device display name.",
          "readOnly": true
        },
        "touchPointCount": {
          "description": "Output only. Number of touch points supported on the device.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "description": "Permission requested by a Chrome app or extension.",
      "properties": {
        "type": {
          "description": "Output only. The type of the permission.",
          "readOnly": true,
          "type": "string"
        },
        "documentationUri": {
          "description": "Output only. If available, a URI to a page that has documentation for the current permission.",
          "readOnly": true,
          "type": "string"
        },
        "accessUserData": {
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppPermission",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponse": {
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponse",
      "type": "object",
      "description": "Response contains a list of CrashEventCountByVersionPerDay which count the chrome crash at the certain date.",
      "properties": {
        "crashEventCounts": {
          "type": "array",
          "description": "Crash event counts grouped by date and browser version.",
          "items": {
            "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount"
          }
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingDataPolicyData": {
      "description": "Information of a policy applied on a Chrome browser profile.",
      "properties": {
        "source": {
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the policy.",
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ]
        },
        "error": {
          "type": "string",
          "description": "Output only. Error message of the policy, if any.",
          "readOnly": true
        },
        "conflicts": {
          "type": "array",
          "description": "Output only. Conflicting policy information.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData"
          }
        },
        "value": {
          "type": "string",
          "description": "Output only. Value of the policy.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the policy.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ReportingDataPolicyData",
      "type": "object"
    },
    "GoogleChromeManagementV1EnumeratePrintJobsResponse": {
      "id": "GoogleChromeManagementV1EnumeratePrintJobsResponse",
      "type": "object",
      "description": "Response containing a list of print jobs.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be used in a subsequent request to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "printJobs": {
          "type": "array",
          "description": "List of requested print jobs.",
          "items": {
            "$ref": "GoogleChromeManagementV1PrintJob"
          }
        },
        "totalSize": {
          "description": "Total number of print jobs matching request.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1StorageInfo": {
      "id": "GoogleChromeManagementV1StorageInfo",
      "type": "object",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_INFO",
      "properties": {
        "volume": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1StorageInfoDiskVolume"
          },
          "description": "Information for disk volumes"
        },
        "totalDiskBytes": {
          "description": "The total space for user data storage in the device in bytes.",
          "type": "string",
          "format": "int64"
        },
        "availableDiskBytes": {
          "description": "The available space for user data storage in the device in bytes.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1BootPerformanceReport": {
      "description": "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "properties": {
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the report was collected."
        },
        "bootUpTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when power came on."
        },
        "shutdownTime": {
          "description": "The timestamp when shutdown.",
          "type": "string",
          "format": "google-datetime"
        },
        "bootUpDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total time to boot up."
        },
        "shutdownDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total time since shutdown start to power off."
        },
        "shutdownReason": {
          "type": "string",
          "enumDescriptions": [
            "Shutdown reason is not specified.",
            "User initiated.",
            "System update initiated.",
            "Shutdown due to low battery.",
            "Shutdown due to other reasons."
          ],
          "description": "The shutdown reason.",
          "enum": [
            "SHUTDOWN_REASON_UNSPECIFIED",
            "USER_REQUEST",
            "SYSTEM_UPDATE",
            "LOW_BATTERY",
            "OTHER"
          ]
        }
      },
      "id": "GoogleChromeManagementV1BootPerformanceReport",
      "type": "object"
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "properties": {
        "deviceAueCountReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          },
          "description": "The list of reports sorted by auto update expiration date in ascending order.",
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceAudioStatus](https://chromeenterprise.google/policies/#ReportDeviceAudioStatus) * Data Collection Frequency: 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_AUDIO_REPORT",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "inputGain": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Active input device's gain in [0, 100].",
          "readOnly": true
        },
        "outputMute": {
          "description": "Output only. Is active output device mute or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "inputMute": {
          "type": "boolean",
          "description": "Output only. Is active input device mute or not.",
          "readOnly": true
        },
        "outputDevice": {
          "type": "string",
          "description": "Output only. Active output device's name.",
          "readOnly": true
        },
        "inputDevice": {
          "type": "string",
          "description": "Output only. Active input device's name.",
          "readOnly": true
        },
        "outputVolume": {
          "description": "Output only. Active output device's volume in [0, 100].",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleChromeManagementV1AudioStatusReport",
      "type": "object"
    },
    "GoogleChromeManagementV1ThunderboltInfo": {
      "id": "GoogleChromeManagementV1ThunderboltInfo",
      "type": "object",
      "description": "Thunderbolt bus info. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceSecurityStatus](https://chromeenterprise.google/policies/#ReportDeviceSecurityStatus) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: No * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BUS_DEVICE_INFO",
      "properties": {
        "securityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Thunderbolt security level is not set.",
            "All devices are automatically connected by the firmware. No user approval is needed.",
            "User is asked whether the device is allowed to be connected.",
            "User is asked whether the device is allowed to be connected. In addition the device is sent a challenge that should match the expected one based on a random key written to the key sysfs attribute",
            "The firmware automatically creates tunnels for Thunderbolt.",
            "The firmware automatically creates tunnels for the USB controller and Display Port in a dock. All PCIe links downstream of the dock are removed.",
            "PCIE tunneling is disabled."
          ],
          "description": "Security level of the Thunderbolt bus.",
          "enum": [
            "THUNDERBOLT_SECURITY_LEVEL_UNSPECIFIED",
            "THUNDERBOLT_SECURITY_NONE_LEVEL",
            "THUNDERBOLT_SECURITY_USER_LEVEL",
            "THUNDERBOLT_SECURITY_SECURE_LEVEL",
            "THUNDERBOLT_SECURITY_DP_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_USB_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_NO_PCIE_LEVEL"
          ]
        }
      }
    },
    "GoogleChromeManagementV1BatteryInfo": {
      "id": "GoogleChromeManagementV1BatteryInfo",
      "type": "object",
      "description": "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_INFO",
      "properties": {
        "manufactureDate": {
          "$ref": "GoogleTypeDate",
          "description": "Output only. The date the battery was manufactured.",
          "readOnly": true
        },
        "technology": {
          "description": "Output only. Technology of the battery. Example: Li-ion",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "Output only. Battery serial number.",
          "readOnly": true
        },
        "designCapacity": {
          "type": "string",
[...]
