{
  "version": "v1.1",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Chromewebstore",
  "name": "chromewebstore",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "discoveryVersion": "v1",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "title": "Chrome Web Store API",
  "schemas": {
    "PublishRequest": {
      "properties": {
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        },
        "deployPercentage": {
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "type": "integer"
        },
        "reviewExemption": {
          "type": "boolean",
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
        }
      },
      "id": "PublishRequest",
      "type": "object"
    },
    "Item2": {
      "type": "object",
      "properties": {
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "statusDetail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Detailed human-comprehensible explanation of the status code above."
        },
        "kind": {
          "type": "string",
          "description": "Static string value is always \"chromewebstore#item\"."
        },
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Item2"
    },
    "Item": {
      "id": "Item",
      "properties": {
        "crxVersion": {
          "type": "string",
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version."
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "uploadState": {
          "type": "string",
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" "
        },
        "itemError": {
          "items": {
            "$ref": "ItemError"
          },
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ItemError": {
      "properties": {
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        },
        "error_code": {
          "type": "string",
          "description": "The error code."
        }
      },
      "id": "ItemError",
      "description": "Error of the item",
      "type": "object"
    }
  },
  "revision": "20260819",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "resources": {
    "items": {
      "methods": {
        "get": {
          "path": "chromewebstore/v1.1/items/{itemId}",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "description": "Gets your own Chrome Web Store item.",
          "id": "chromewebstore.items.get",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Item"
          },
          "parameterOrder": [
            "itemId"
          ],
          "parameters": {
            "itemId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme."
            },
            "projection": {
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "type": "string",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "location": "query",
              "description": "Determines which subset of the item information to return."
            }
          }
        },
        "publish": {
          "parameters": {
            "deployPercentage": {
              "type": "integer",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "format": "int32",
              "location": "query"
            },
            "publishTarget": {
              "type": "string",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "location": "query"
            },
            "itemId": {
              "location": "path",
              "required": true,
              "description": "The ID of the item to publish.",
              "type": "string"
            },
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [
            "itemId"
          ],
          "description": "Publishes an item.",
          "httpMethod": "POST",
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "request": {
            "$ref": "PublishRequest"
          },
          "response": {
            "$ref": "Item2"
          },
          "id": "chromewebstore.items.publish",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ]
        },
        "insert": {
          "id": "chromewebstore.items.insert",
          "supportsMediaUpload": true,
          "path": "chromewebstore/v1.1/items",
          "mediaUpload": {
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items",
                "multipart": true
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "response": {
            "$ref": "Item"
          },
          "parameterOrder": [],
          "flatPath": "chromewebstore/v1.1/items",
          "httpMethod": "POST",
          "parameters": {
            "publisherEmail": {
              "location": "query",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "type": "string"
            }
          },
          "description": "Inserts a new item."
        },
        "update": {
          "path": "chromewebstore/v1.1/items/{itemId}",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            },
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ]
          },
          "request": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.update",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Item"
          },
          "httpMethod": "PUT",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "itemId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the item to upload."
            }
          },
          "parameterOrder": [
            "itemId"
          ],
          "description": "Updates an existing item."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "id": "chromewebstore:v1.1",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "version_module": true,
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  }
}