{
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "title": "Chrome Policy API",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "revision": "20260616",
  "name": "chromepolicy",
  "servicePath": "",
  "version": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "ownerName": "Google",
  "canonicalName": "Chrome Policy",
  "batchPath": "batch",
  "id": "chromepolicy:v1",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to ChromeOS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to ChromeOS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyNamespace": {
          "description": "The namespace of the policy type for the request.",
          "type": "string"
        },
        "policySchema": {
          "description": "The schema name of the policy for the request.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest",
      "description": "Request message for listing the group priority ordering of an app.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "properties": {
        "error": {
          "readOnly": true,
          "description": "Output only. The error message related to the field.",
          "type": "string"
        },
        "field": {
          "readOnly": true,
          "description": "Output only. The name of the field with the error.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError",
      "description": "Error information for a modification request of a specific field on a specific policy.",
      "type": "object"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate"
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "properties": {
        "networkId": {
          "description": "Network ID of the new created network.",
          "type": "string"
        },
        "targetResource": {
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "settings": {
          "description": "Detailed network settings of the new created network",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse",
      "description": "Response object for creating a network.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1NumericRangeConstraint": {
      "id": "GoogleChromePolicyVersionsV1NumericRangeConstraint",
      "properties": {
        "minimum": {
          "description": "Minimum value.",
          "type": "string",
          "format": "int64"
        },
        "maximum": {
          "description": "Maximum value.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A constraint on upper and/or lower bounds, with at least one being set.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "description": "Request message for uploading a file for a policy.",
      "type": "object",
      "properties": {
        "policyField": {
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "properties": {
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "updateMask": {
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest",
      "description": "Request parameters for modifying a policy value for a specific group target.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "description": "The resolved value of a policy for a given target.",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "readOnly": true,
          "description": "Output only. The resolved value of the policy."
        },
        "addedSourceKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true,
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies."
        },
        "targetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The target resource for which the resolved policy value applies.",
          "readOnly": true
        },
        "sourceKey": {
          "readOnly": true,
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy"
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest",
      "properties": {
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "type": "object"
    },
    "Proto2FieldDescriptorProto": {
      "id": "Proto2FieldDescriptorProto",
      "properties": {
        "typeName": {
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace).",
          "type": "string"
        },
        "defaultValue": {
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes >= 128 are escaped.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REPEATED",
            "LABEL_REQUIRED"
          ],
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            "The required label is only allowed in proto2. In proto3 and Editions it's explicitly prohibited. In Editions, the `field_presence` feature can be used to get this behavior."
          ]
        },
        "type": {
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported after proto2. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields. In Editions, the group wire format can be enabled via the `message_encoding` feature.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP.",
          "type": "string",
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ]
        },
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "proto3Optional": {
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`.",
          "type": "boolean"
        },
        "oneofIndex": {
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof.",
          "type": "integer",
          "format": "int32"
        },
        "jsonName": {
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase.",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "description": "Describes a field within a message.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails": {
      "description": "Details of the errors encountered during a policy modification request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "type": "object",
      "properties": {
        "modificationErrors": {
          "description": "Output only. List of specific policy modifications errors that may have occurred during a modifying request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationError"
          },
          "readOnly": true
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "description": "Response object for removing a certificate.",
      "type": "object",
      "properties": {},
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "properties": {
        "updateMask": {
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest",
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "description": "Request object for removing a network",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest",
      "properties": {
        "networkId": {
          "description": "Required. The GUID of the network to remove.",
          "type": "string"
        },
        "targetResource": {
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "description": "The field and the value it must have for another field to be allowed to be set.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies",
      "properties": {
        "sourceField": {
          "description": "The source field which this field depends on.",
          "type": "string"
        },
        "sourceFieldValue": {
          "description": "The value which the source field must have for this field to be allowed to be set.",
          "type": "string"
        }
      }
    },
    "Proto2EnumDescriptorProto": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        },
        "visibility": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Support for `export` and `local` keywords on enums.",
          "type": "string",
          "enum": [
            "VISIBILITY_UNSET",
            "VISIBILITY_LOCAL",
            "VISIBILITY_EXPORT"
          ]
        }
      },
      "id": "Proto2EnumDescriptorProto",
      "description": "Describes an enum type.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "description": "Response object for removing a network.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse",
      "properties": {}
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "description": "The key used to identify the target on which the policy will be applied.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey",
      "properties": {
        "targetResource": {
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")",
          "type": "string"
        },
        "additionalTargetKeys": {
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Proto2EnumValueDescriptorProto": {
      "description": "Describes a value within an enum.",
      "type": "object",
      "id": "Proto2EnumValueDescriptorProto",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse",
      "properties": {
        "policyTargetKey": {
          "readOnly": true,
          "description": "Output only. The target resource for which the group priority ordering has been retrieved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyNamespace": {
          "description": "Output only. The namespace of the policy type of the group IDs.",
          "type": "string",
          "readOnly": true
        },
        "policySchema": {
          "readOnly": true,
          "description": "Output only. The schema name of the policy for the group IDs.",
          "type": "string"
        },
        "groupIds": {
          "readOnly": true,
          "description": "Output only. The group IDs, in priority ordering.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for listing the group priority ordering of an app.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription",
      "properties": {
        "inputConstraint": {
          "description": "Output only. Any input constraints associated on the values for the field.",
          "type": "string",
          "readOnly": true
        },
        "field": {
          "readOnly": true,
          "description": "Output only. The name of the field for associated with this description.",
          "type": "string"
        },
        "requiredItems": {
          "readOnly": true,
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          }
        },
        "description": {
          "deprecated": true,
          "description": "Deprecated. Use name and field_description instead. The description for the field.",
          "type": "string"
        },
        "knownValueDescriptions": {
          "readOnly": true,
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          }
        },
        "fieldDependencies": {
          "readOnly": true,
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          }
        },
        "name": {
          "description": "Output only. The name of the field.",
          "type": "string",
          "readOnly": true
        },
        "fieldConstraints": {
          "description": "Output only. Information on any input constraints associated on the values for the field.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1FieldConstraints"
        },
        "defaultValue": {
          "description": "Output only. Client default if the policy is unset.",
          "type": "any",
          "readOnly": true
        },
        "fieldDescription": {
          "description": "Output only. The description of the field.",
          "type": "string",
          "readOnly": true
        },
        "nestedFieldDescriptions": {
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields. Fields are suggested to be displayed by the ordering in this list, not by field number.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "readOnly": true
        }
      }
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest",
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          }
        }
      },
      "description": "Request message for modifying multiple policy values for a specific group-based target.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse",
      "properties": {
        "policySchemas": {
          "description": "The list of policy schemas that match the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          }
        },
        "nextPageToken": {
          "description": "The page token used to get the next page of policy schemas.",
          "type": "string"
        }
      },
      "description": "Response message for listing policy schemas that match a filter.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationError": {
      "properties": {
        "errors": {
          "description": "Output only. The non-field errors related to the modification.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "policySchema": {
          "readOnly": true,
          "description": "Output only. The specific policy schema modification that had an error.",
          "type": "string"
        },
        "fieldErrors": {
          "description": "Output only. The error messages related to the modification.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationFieldError"
          },
          "readOnly": true
        },
        "policyTargetKey": {
          "description": "Output only. The specific policy target modification that had error.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyModificationError",
      "description": "Error information for a modification request of a specific policy on a specific target.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "id": "GoogleChromePolicyVersionsV1PolicySchema",
      "properties": {
        "supportUri": {
          "readOnly": true,
          "description": "Output only. URI to related support article for this schema.",
          "type": "string"
        },
        "policyApiLifecycle": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyApiLifecycle",
          "description": "Output only. Current lifecycle information.",
          "readOnly": true
        },
        "policyDescription": {
          "description": "Output only. Description about the policy schema for user consumption.",
          "type": "string",
          "readOnly": true
        },
        "supportedPlatforms": {
          "readOnly": true,
          "description": "Output only. List indicates that the policy will only apply to devices/users on these platforms.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified platform.",
              "ChromeOS.",
              "Chrome Browser for OSX/Windows/Linux.",
              "Chrome Browser for Android.",
              "Chrome Browser for iOS."
            ],
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "CHROME_OS",
              "CHROME_BROWSER",
              "CHROME_BROWSER_FOR_ANDROID",
              "CHROME_BROWSER_FOR_IOS"
            ]
          }
        },
        "schemaName": {
          "readOnly": true,
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies.",
          "type": "string"
        },
        "accessRestrictions": {
          "description": "Output only. Specific access restrictions related to this policy.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "fieldDescriptions": {
          "readOnly": true,
          "description": "Output only. Detailed description of each field that is part of the schema. Fields are suggested to be displayed by the ordering in this list, not by field number.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          }
        },
        "categoryTitle": {
          "description": "Title of the category in which a setting belongs.",
          "type": "string"
        },
        "additionalTargetKeyNames": {
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          },
          "readOnly": true
        },
        "notices": {
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          },
          "readOnly": true
        },
        "validTargetResources": {
          "description": "Output only. Information about applicable target resources for the policy.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ],
            "type": "string",
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ]
          },
          "readOnly": true
        },
        "definition": {
          "description": "Schema definition using proto descriptor.",
          "$ref": "Proto2FileDescriptorProto"
        },
        "name": {
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}",
          "type": "string"
        }
      },
      "description": "Resource representing a policy schema.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "description": "A particular value for a policy managed by the service.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the policy that is compatible with the schema that it is associated with.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema associated with this policy.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyValue"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "type": "object",
      "properties": {
        "acknowledgementRequired": {
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "type": "boolean",
          "readOnly": true
        },
        "noticeValue": {
          "readOnly": true,
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "type": "string"
        },
        "field": {
          "readOnly": true,
          "description": "Output only. The field name associated with the notice.",
          "type": "string"
        },
        "noticeMessage": {
          "readOnly": true,
          "description": "Output only. The notice message associate with the value of the field.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "properties": {
        "resolvedPolicies": {
          "description": "The list of resolved policies found by the resolve request.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          }
        },
        "nextPageToken": {
          "description": "The page token used to get the next set of resolved policies found by the request.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ResolveResponse",
      "description": "Response message for getting the resolved policy value for a specific target.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest",
      "description": "Request message for modifying multiple policy values for a specific target.",
      "type": "object"
    },
    "Proto2OneofDescriptorProto": {
      "description": "Describes a oneof.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Proto2OneofDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1UploadedFileConstraints": {
      "properties": {
        "supportedContentTypes": {
          "description": "File types that can be uploaded for a setting.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CONTENT_TYPE_UNSPECIFIED",
              "CONTENT_TYPE_PLAIN_TEXT",
              "CONTENT_TYPE_HTML",
              "CONTENT_TYPE_IMAGE_JPEG",
              "CONTENT_TYPE_IMAGE_GIF",
              "CONTENT_TYPE_IMAGE_PNG",
              "CONTENT_TYPE_JSON",
              "CONTENT_TYPE_ZIP",
              "CONTENT_TYPE_GZIP",
              "CONTENT_TYPE_CSV",
              "CONTENT_TYPE_YAML",
              "CONTENT_TYPE_IMAGE_WEBP"
            ],
            "enumDescriptions": [
              "Unspecified content type.",
              "Plain text.",
              "HTML.",
              "JPEG.",
              "GIF.",
              "PNG.",
              "JSON.",
              "ZIP.",
              "GZIP.",
              "CSV.",
              "YAML.",
              "WEBP."
            ]
          }
        },
        "sizeLimitBytes": {
          "description": "The size limit of uploaded files for a setting, in bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleChromePolicyVersionsV1UploadedFileConstraints",
      "description": "Constraints on the uploaded file of a file policy.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest",
      "properties": {
        "settings": {
          "description": "Required. Detailed network settings.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "targetResource": {
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the new created network.",
          "type": "string"
        }
      },
      "description": "Request object for creating a new network.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "description": "The fields that will become required based on the value of this field.",
      "type": "object",
      "properties": {
        "requiredFields": {
          "description": "The fields that are required as a consequence of the field conditions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fieldConditions": {
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName",
      "properties": {
        "keyDescription": {
          "description": "Key description.",
          "type": "string"
        },
        "key": {
          "description": "Key name.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "description": "Response message for downloading an uploaded file.",
      "type": "object",
      "properties": {
        "downloadUri": {
          "description": "The uri for end user to download the file.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "properties": {
        "requests": {
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest",
      "description": "Request message for specifying that multiple policy values will be deleted.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "description": "Request object for creating a certificate.",
      "type": "object",
      "properties": {
        "settings": {
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "targetResource": {
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "ceritificateName": {
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name.",
          "type": "string"
        },
        "certificate": {
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
    },
    "GoogleChromePolicyVersionsV1PolicyApiLifecycle": {
      "properties": {
        "policyApiLifecycleStage": {
          "description": "Indicates current life cycle stage of the policy API.",
          "type": "string",
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ],
          "enumDescriptions": [
            "Policy Api Lifecycle is Unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ]
        },
        "scheduledToDeprecatePolicies": {
          "description": "Corresponding to deprecated_in_favor_of, the fully qualified namespace(s) of the old policies that will be deprecated because of introduction of this policy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Description about current life cycle.",
          "type": "string"
        },
        "endSupport": {
          "description": "End supporting date for current policy. Attempting to modify a policy after its end support date will result in a Bad Request (400 error). Could only be set if policy_api_lifecycle_stage is API_DEPRECATED.",
          "$ref": "GoogleTypeDate"
        },
        "deprecatedInFavorOf": {
          "description": "In the event that this policy was deprecated in favor of another policy, the fully qualified namespace(s) of the new policies as they will show in PolicyAPI. Could only be set if policy_api_lifecycle_stage is API_DEPRECATED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyApiLifecycle",
      "description": "Lifecycle information.",
      "type": "object"
    },
    "Proto2FileDescriptorProto": {
      "id": "Proto2FileDescriptorProto",
      "properties": {
        "optionDependency": {
          "description": "Names of files imported by this file purely for the purpose of providing option extensions. These are excluded from the dependency list above.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "editionDeprecated": {
          "description": "copybara:strip_begin TODO(b/297898292) Deprecate and remove this field in favor of enums. copybara:strip_end",
          "type": "string",
          "deprecated": true
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "name": {
          "description": "file name, relative to root of source tree",
          "type": "string"
        },
        "messageType": {
          "description": "All top-level definitions in this file.",
          "type": "array",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\". WARNING: This field should only be used by protobuf plugins or special cases like the proto compiler. Other uses are discouraged and developers should rely on the protoreflect APIs for their client language.",
          "type": "string"
        }
      },
      "description": "Describes a complete .proto file.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription",
      "properties": {
        "fieldDependencies": {
          "readOnly": true,
          "description": "Output only. Field conditions required for this value to be valid.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          }
        },
        "description": {
          "description": "Output only. Additional description for this value.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Output only. The string represenstation of the value that can be set for the field.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "description": "Request parameters for deleting the policy value of a specific group target.",
      "type": "object",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "description": "Request message for getting the resolved policy value for a specific target.",
      "type": "object",
      "properties": {
        "policySchemaFilter": {
          "description": "Required. The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\"",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000.",
          "type": "integer",
          "format": "int32"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "pageToken": {
          "description": "The page token used to retrieve a specific page of the request.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1ResolveRequest"
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "properties": {
        "policySchema": {
          "description": "The schema name of the policy for the request.",
          "type": "string"
        },
        "groupIds": {
          "description": "Required. The group IDs, in desired priority ordering.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policyNamespace": {
          "description": "The namespace of the policy type for the request.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest",
      "description": "Request message for updating the group priority ordering of an app.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "properties": {
        "policySchema": {
          "description": "The fully qualified name of the network setting.",
          "type": "string"
        },
        "value": {
          "description": "The value of the network setting.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1NetworkSetting",
      "description": "A network setting contains network configurations. It adheres to the PolicyAPI formats defined under the namespace chrome.networks.{wifi/ethernet/cellular/vpn}.Details",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails",
      "properties": {
        "certificateReferences": {
          "readOnly": true,
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          }
        }
      }
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate.",
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "Output only. The obfuscated id of the org unit the referencing network is in.",
          "type": "string",
          "readOnly": true
        },
        "network": {
          "readOnly": true,
          "description": "Output only. The name of the referencing network.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1CertificateReference"
    },
    "GoogleChromePolicyVersionsV1FieldConstraints": {
      "description": "Information about any range constraints.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1FieldConstraints",
      "properties": {
        "uploadedFileConstraints": {
          "description": "Constraints on the uploaded file of a file policy. If present, this policy requires a URL that can be fetched by uploading a file with the constraints specified in this proto.",
          "$ref": "GoogleChromePolicyVersionsV1UploadedFileConstraints"
        },
        "numericRangeConstraint": {
          "description": "The allowed range for numeric fields.",
          "$ref": "GoogleChromePolicyVersionsV1NumericRangeConstraint"
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "properties": {
        "settings": {
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "networkId": {
          "description": "The guid of the certificate created by the action.",
          "type": "string"
        },
        "targetResource": {
          "description": "the resource at which the certificate is defined.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse",
      "description": "Response object for creating a certificate.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest",
      "properties": {
        "targetResource": {
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "networkId": {
          "description": "Required. The GUID of the certificate to remove.",
          "type": "string"
        }
      },
      "description": "Request object for removing a certificate.",
      "type": "object"
    },
    "Proto2DescriptorProto": {
      "id": "Proto2DescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        },
        "nestedType": {
          "type": "array",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "field": {
          "type": "array",
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          }
        },
        "visibility": {
          "description": "Support for `export` and `local` keywords on enums.",
          "type": "string",
          "enum": [
            "VISIBILITY_UNSET",
            "VISIBILITY_LOCAL",
            "VISIBILITY_EXPORT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "oneofDecl": {
          "type": "array",
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          }
        }
      },
      "description": "Describes a message type.",
      "type": "object"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "http://developers.google.com/chrome/policy",
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          },
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          },
          "id": "chromepolicy.media.upload",
          "parameters": {
            "customer": {
              "location": "path",
              "description": "Required. The customer for which the file upload will apply.",
              "required": true,
              "pattern": "^customers/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ],
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            }
          },
          "parameterOrder": [
            "customer"
          ]
        }
      }
    },
    "customers": {
      "resources": {
        "policies": {
          "methods": {
            "resolve": {
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              },
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              },
              "id": "chromepolicy.customers.policies.resolve",
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                }
              },
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "path": "v1/{+customer}/policies:resolve",
              "description": "Gets the resolved policy values for a list of policies that match a search query."
            }
          },
          "resources": {
            "orgunits": {
              "methods": {
                "batchModify": {
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "batchInherit": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path"
                    }
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+customer}/policies/orgunits:batchInherit",
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit"
                }
              }
            },
            "groups": {
              "methods": {
                "batchDelete": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete"
                },
                "updateGroupPriorityOrdering": {
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering",
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "batchModify": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/policies/groups:batchModify",
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "chromepolicy.customers.policies.groups.batchModify",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "listGroupPriorityOrdering": {
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "location": "path"
                    }
                  },
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  },
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  },
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering",
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering",
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ]
                }
              }
            },
            "networks": {
              "methods": {
                "defineCertificate": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer for which the certificate will apply.",
                      "location": "path"
                    }
                  },
                  "id": "chromepolicy.customers.policies.networks.defineCertificate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  },
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  },
                  "path": "v1/{+customer}/policies/networks:defineCertificate",
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate"
                },
                "removeCertificate": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "description": "Required. The customer whose certificate will be removed.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  },
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  },
                  "path": "v1/{+customer}/policies/networks:removeCertificate",
                  "description": "Remove an existing certificate by guid.",
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate"
                },
                "removeNetwork": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer whose network will be removed.",
                      "location": "path"
                    }
                  },
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  },
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "description": "Remove an existing network by guid.",
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork"
                },
                "defineNetwork": {
                  "parameters": {
                    "customer": {
                      "description": "Required. The customer who will own this new network.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  },
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  },
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "path": "v1/{+customer}/policies/networks:defineNetwork",
                  "description": "Define a new network.",
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork",
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                }
              }
            }
          }
        },
        "policySchemas": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The policy schema resource name to query.",
                  "required": true,
                  "pattern": "^customers/[^/]+/policySchemas/.*$",
                  "type": "string"
                }
              },
              "id": "chromepolicy.customers.policySchemas.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              },
              "path": "v1/{+name}",
              "description": "Get a specific policy schema for a customer by its resource name.",
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The customer for which the listing request will apply.",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`.",
                  "type": "string"
                }
              },
              "id": "chromepolicy.customers.policySchemas.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              },
              "path": "v1/{+parent}/policySchemas",
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "flatPath": "v1/customers/{customersId}/policySchemas"
            }
          }
        }
      }
    }
  }
}