{
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version_module": true,
  "name": "chromewebstore",
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "id": "chromewebstore.items.insert",
          "path": "chromewebstore/v1.1/items",
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "location": "query",
              "type": "string"
            }
          },
          "supportsMediaUpload": true,
          "description": "Inserts a new item.",
          "flatPath": "chromewebstore/v1.1/items",
          "parameterOrder": [],
          "response": {
            "$ref": "Item"
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items",
                "multipart": true
              }
            },
            "maxSize": "2147483648"
          },
          "httpMethod": "POST"
        },
        "get": {
          "id": "chromewebstore.items.get",
          "parameterOrder": [
            "itemId"
          ],
          "description": "Gets your own Chrome Web Store item.",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "parameters": {
            "projection": {
              "description": "Determines which subset of the item information to return.",
              "type": "string",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "location": "query"
            },
            "itemId": {
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "response": {
            "$ref": "Item"
          },
          "httpMethod": "GET",
          "path": "chromewebstore/v1.1/items/{itemId}"
        },
        "update": {
          "parameterOrder": [
            "itemId"
          ],
          "response": {
            "$ref": "Item"
          },
          "description": "Updates an existing item.",
          "supportsMediaUpload": true,
          "path": "chromewebstore/v1.1/items/{itemId}",
          "httpMethod": "PUT",
          "mediaUpload": {
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            }
          },
          "id": "chromewebstore.items.update",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "request": {
            "$ref": "Item"
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "itemId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the item to upload."
            }
          }
        },
        "publish": {
          "response": {
            "$ref": "Item2"
          },
          "description": "Publishes an item.",
          "request": {
            "$ref": "PublishRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "parameterOrder": [
            "itemId"
          ],
          "httpMethod": "POST",
          "id": "chromewebstore.items.publish",
          "parameters": {
            "deployPercentage": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update."
            },
            "itemId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the item to publish."
            },
            "publishTarget": {
              "location": "query",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "type": "string"
            },
            "reviewExemption": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
            }
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "path": "chromewebstore/v1.1/items/{itemId}/publish"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "canonicalName": "Chromewebstore",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "title": "Chrome Web Store API",
  "batchPath": "batch",
  "revision": "20260824",
  "fullyEncodeReservedExpansion": true,
  "version": "v1.1",
  "schemas": {
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "type": "integer",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base."
        },
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        },
        "reviewExemption": {
          "type": "boolean",
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
        }
      }
    },
    "Item": {
      "properties": {
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "type": "array",
          "items": {
            "$ref": "ItemError"
          }
        },
        "id": {
          "type": "string",
          "description": "Unique ID of the item."
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "crxVersion": {
          "type": "string",
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version."
        }
      },
      "id": "Item",
      "type": "object"
    },
    "Item2": {
      "id": "Item2",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        },
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "status": {
          "items": {
            "type": "string"
          },
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array"
        },
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ItemError": {
      "description": "Error of the item",
      "type": "object",
      "id": "ItemError",
      "properties": {
        "error_detail": {
          "type": "string",
          "description": "The human-readable detail message of the error."
        },
        "error_code": {
          "description": "The error code.",
          "type": "string"
        }
      }
    }
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "id": "chromewebstore:v1.1",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them."
}