{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "canonicalName": "Chromewebstore",
  "ownerDomain": "google.com",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "revision": "20260615",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "protocol": "rest",
  "servicePath": "",
  "schemas": {
    "PublishRequest": {
      "properties": {
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        },
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        },
        "deployPercentage": {
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "PublishRequest"
    },
    "ItemError": {
      "id": "ItemError",
      "description": "Error of the item",
      "type": "object",
      "properties": {
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        },
        "error_code": {
          "description": "The error code.",
          "type": "string"
        }
      }
    },
    "Item2": {
      "properties": {
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        },
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Item2"
    },
    "Item": {
      "properties": {
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "type": "array",
          "items": {
            "$ref": "ItemError"
          }
        }
      },
      "type": "object",
      "id": "Item"
    }
  },
  "id": "chromewebstore:v1.1",
  "batchPath": "batch",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Chrome Web Store API",
  "discoveryVersion": "v1",
  "version": "v1.1",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "basePath": "",
  "name": "chromewebstore",
  "resources": {
    "items": {
      "methods": {
        "insert": {
          "parameters": {
            "publisherEmail": {
              "location": "query",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "flatPath": "chromewebstore/v1.1/items",
          "path": "chromewebstore/v1.1/items",
          "response": {
            "$ref": "Item"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Inserts a new item.",
          "id": "chromewebstore.items.insert",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            }
          }
        },
        "publish": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "itemId": {
              "description": "The ID of the item to publish.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "publishTarget": {
              "location": "query",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "type": "string"
            },
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "type": "boolean",
              "location": "query"
            },
            "deployPercentage": {
              "location": "query",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "itemId"
          ],
          "httpMethod": "POST",
          "id": "chromewebstore.items.publish",
          "request": {
            "$ref": "PublishRequest"
          },
          "response": {
            "$ref": "Item2"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Publishes an item."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Updates an existing item.",
          "response": {
            "$ref": "Item"
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            }
          },
          "id": "chromewebstore.items.update",
          "request": {
            "$ref": "Item"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "itemId"
          ],
          "supportsMediaUpload": true,
          "parameters": {
            "itemId": {
              "description": "The ID of the item to upload.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "flatPath": "chromewebstore/v1.1/items/{itemId}"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "itemId"
          ],
          "parameters": {
            "itemId": {
              "location": "path",
              "required": true,
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "type": "string"
            },
            "projection": {
              "description": "Determines which subset of the item information to return.",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "type": "string",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "location": "query"
            }
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "description": "Gets your own Chrome Web Store item.",
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.get"
        }
      }
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them."
}