{
  "discoveryVersion": "v1",
  "version_module": true,
  "resources": {
    "items": {
      "methods": {
        "get": {
          "id": "chromewebstore.items.get",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "parameters": {
            "itemId": {
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "projection": {
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "location": "query",
              "type": "string",
              "description": "Determines which subset of the item information to return."
            }
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "description": "Gets your own Chrome Web Store item.",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "itemId"
          ],
          "response": {
            "$ref": "Item"
          }
        },
        "insert": {
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "parameterOrder": [],
          "response": {
            "$ref": "Item"
          },
          "flatPath": "chromewebstore/v1.1/items",
          "httpMethod": "POST",
          "path": "chromewebstore/v1.1/items",
          "description": "Inserts a new item.",
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "location": "query",
              "type": "string"
            }
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "id": "chromewebstore.items.insert"
        },
        "publish": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "httpMethod": "POST",
          "parameterOrder": [
            "itemId"
          ],
          "response": {
            "$ref": "Item2"
          },
          "request": {
            "$ref": "PublishRequest"
          },
          "parameters": {
            "itemId": {
              "description": "The ID of the item to publish.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "location": "query",
              "type": "boolean"
            },
            "deployPercentage": {
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "publishTarget": {
              "location": "query",
              "type": "string",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\"."
            }
          },
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "description": "Publishes an item.",
          "id": "chromewebstore.items.publish",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ]
        },
        "update": {
          "parameterOrder": [
            "itemId"
          ],
          "response": {
            "$ref": "Item"
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "httpMethod": "PUT",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items/{itemId}",
                "multipart": true
              }
            },
            "maxSize": "2147483648"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "id": "chromewebstore.items.update",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "description": "Updates an existing item.",
          "parameters": {
            "itemId": {
              "description": "The ID of the item to upload.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "supportsMediaUpload": true,
          "request": {
            "$ref": "Item"
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version": "v1.1",
  "id": "chromewebstore:v1.1",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "basePath": "",
  "title": "Chrome Web Store API",
  "name": "chromewebstore",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "revision": "20260609",
  "canonicalName": "Chromewebstore",
  "servicePath": "",
  "schemas": {
    "Item": {
      "id": "Item",
      "type": "object",
      "properties": {
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\"."
        },
        "id": {
          "type": "string",
          "description": "Unique ID of the item."
        },
        "publicKey": {
          "type": "string",
          "description": "Public key of this item."
        },
        "itemError": {
          "type": "array",
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "items": {
            "$ref": "ItemError"
          }
        },
        "uploadState": {
          "type": "string",
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" "
        }
      }
    },
    "ItemError": {
      "description": "Error of the item",
      "properties": {
        "error_code": {
          "description": "The error code.",
          "type": "string"
        },
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        }
      },
      "id": "ItemError",
      "type": "object"
    },
    "PublishRequest": {
      "properties": {
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        },
        "reviewExemption": {
          "type": "boolean",
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
        },
        "deployPercentage": {
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "PublishRequest",
      "type": "object"
    },
    "Item2": {
      "properties": {
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "item_id": {
          "type": "string",
          "description": "The ID of this item."
        },
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        }
      },
      "id": "Item2",
      "type": "object"
    }
  },
  "kind": "discovery#restDescription"
}