{
  "revision": "20260930",
  "kind": "discovery#restDescription",
  "name": "chromewebstore",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "version": "v1.1",
  "basePath": "",
  "title": "Chrome Web Store API",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "canonicalName": "Chromewebstore",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "version_module": true,
  "id": "chromewebstore:v1.1",
  "servicePath": "",
  "resources": {
    "items": {
      "methods": {
        "update": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "path": "chromewebstore/v1.1/items/{itemId}",
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "parameterOrder": [
            "itemId"
          ],
          "request": {
            "$ref": "Item"
          },
          "response": {
            "$ref": "Item"
          },
          "description": "Updates an existing item.",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "supportsMediaUpload": true,
          "parameters": {
            "itemId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the item to upload."
            }
          },
          "id": "chromewebstore.items.update",
          "httpMethod": "PUT"
        },
        "publish": {
          "request": {
            "$ref": "PublishRequest"
          },
          "id": "chromewebstore.items.publish",
          "parameterOrder": [
            "itemId"
          ],
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "deployPercentage": {
              "format": "int32",
              "type": "integer",
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "location": "query"
            },
            "publishTarget": {
              "type": "string",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "location": "query"
            },
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "type": "boolean",
              "location": "query"
            },
            "itemId": {
              "type": "string",
              "required": true,
              "description": "The ID of the item to publish.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Item2"
          },
          "description": "Publishes an item."
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Inserts a new item.",
          "path": "chromewebstore/v1.1/items",
          "parameterOrder": [],
          "supportsMediaUpload": true,
          "parameters": {
            "publisherEmail": {
              "type": "string",
              "location": "query",
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address."
            }
          },
          "mediaUpload": {
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items",
                "multipart": true
              }
            }
          },
          "httpMethod": "POST",
          "id": "chromewebstore.items.insert",
          "response": {
            "$ref": "Item"
          },
          "flatPath": "chromewebstore/v1.1/items"
        },
        "get": {
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "itemId": {
              "location": "path",
              "type": "string",
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "required": true
            },
            "projection": {
              "type": "string",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ],
              "location": "query",
              "description": "Determines which subset of the item information to return."
            }
          },
          "response": {
            "$ref": "Item"
          },
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "description": "Gets your own Chrome Web Store item.",
          "parameterOrder": [
            "itemId"
          ],
          "id": "chromewebstore.items.get"
        }
      }
    }
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "batchPath": "batch",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "schemas": {
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base."
        },
        "reviewExemption": {
          "type": "boolean",
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data."
        },
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        }
      }
    },
    "Item2": {
      "type": "object",
      "id": "Item2",
      "properties": {
        "status": {
          "type": "array",
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "items": {
            "type": "string"
          }
        },
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Static string value is always \"chromewebstore#item\"."
        }
      }
    },
    "Item": {
      "type": "object",
      "id": "Item",
      "properties": {
        "crxVersion": {
          "type": "string",
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\"."
        },
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "itemError": {
          "type": "array",
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "items": {
            "$ref": "ItemError"
          }
        }
      }
    },
    "ItemError": {
      "properties": {
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        },
        "error_code": {
          "type": "string",
          "description": "The error code."
        }
      },
      "type": "object",
      "id": "ItemError",
      "description": "Error of the item"
    }
  }
}