{
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "cancelSubmission": {
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "parameterOrder": [
                "name"
              ],
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "path": "v2/{+name}:cancelSubmission",
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "httpMethod": "POST",
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "required": true
                }
              }
            },
            "fetchStatus": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "id": "chromewebstore.publishers.items.fetchStatus",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Fetch the status of an item.",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "path": "v2/{+name}:fetchStatus"
            },
            "setPublishedDeployPercentage": {
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage"
            },
            "publish": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "PublishItemRequest"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "path": "v2/{+name}:publish",
              "response": {
                "$ref": "PublishItemResponse"
              },
              "id": "chromewebstore.publishers.items.publish"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "path": "v2/{+name}:upload",
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "parameters": {
            "name": {
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "mediaUpload": {
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            }
          },
          "id": "chromewebstore.media.upload",
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "description": "Upload a new package to an existing item.",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "name": "chromewebstore",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "ownerDomain": "google.com",
  "protocol": "rest",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "servicePath": "",
  "version": "v2",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "basePath": "",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "schemas": {
    "DeployInfo": {
      "type": "object",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "id": "DeployInfo",
      "properties": {
        "deployPercentage": {
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CancelSubmissionResponse": {
      "description": "Response message for `CancelSubmission`.",
      "id": "CancelSubmissionResponse",
      "properties": {},
      "type": "object"
    },
    "WarningsInfo": {
      "type": "object",
      "properties": {
        "warnings": {
          "description": "All warnings encountered during the request.",
          "items": {
            "$ref": "Warning"
          },
          "type": "array"
        }
      },
      "id": "WarningsInfo",
      "description": "Message containing details on warnings encountered during PublishItem."
    },
    "UploadItemPackageRequest": {
      "properties": {},
      "id": "UploadItemPackageRequest",
      "description": "Request message for UploadItemPackage.",
      "type": "object"
    },
    "SetPublishedDeployPercentageRequest": {
      "id": "SetPublishedDeployPercentageRequest",
      "description": "Request message for SetPublishedDeployPercentage.",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage."
        }
      }
    },
    "Warning": {
      "description": "Represents a single warning encountered during the request.",
      "id": "Warning",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue."
        },
        "reason": {
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PublishItemResponse": {
      "description": "Response message for `PublishItem`.",
      "id": "PublishItemResponse",
      "properties": {
        "warningInfo": {
          "$ref": "WarningsInfo",
          "description": "Output only. Non-blocking warnings encountered during the request.",
          "readOnly": true
        },
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item.",
          "readOnly": true
        },
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "type": "string",
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the submission."
        }
      },
      "type": "object"
    },
    "DistributionChannel": {
      "description": "Deployment information for a specific release channel",
      "properties": {
        "crxVersion": {
          "type": "string",
          "description": "The extension version provided in the manifest of the uploaded package."
        },
        "deployPercentage": {
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DistributionChannel",
      "type": "object"
    },
    "SetPublishedDeployPercentageResponse": {
      "properties": {},
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "id": "SetPublishedDeployPercentageResponse",
      "type": "object"
    },
    "ItemRevisionStatus": {
      "description": "Details on the status of an item revision.",
      "type": "object",
      "id": "ItemRevisionStatus",
      "properties": {
        "distributionChannels": {
          "type": "array",
          "items": {
            "$ref": "DistributionChannel"
          },
          "description": "Details on the package of the item"
        },
        "state": {
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "description": "Output only. Current state of the item",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CancelSubmissionRequest": {
      "type": "object",
      "id": "CancelSubmissionRequest",
      "properties": {},
      "description": "Request message for CancelSubmission."
    },
    "FetchItemStatusResponse": {
      "description": "Response message for `FetchItemStatus`.",
      "type": "object",
      "id": "FetchItemStatusResponse",
      "properties": {
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item.",
          "readOnly": true
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "publishedItemRevisionStatus": {
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "readOnly": true,
          "$ref": "ItemRevisionStatus"
        },
        "lastAsyncUploadState": {
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "type": "string",
          "readOnly": true
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "submittedItemRevisionStatus": {
          "$ref": "ItemRevisionStatus",
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish."
        }
      }
    },
    "PublishItemRequest": {
      "properties": {
        "deployInfos": {
          "type": "array",
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "items": {
            "$ref": "DeployInfo"
          }
        },
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "blockOnWarnings": {
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "publishType": {
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ],
          "type": "string",
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ]
        }
      },
      "description": "Request message for PublishItem.",
      "type": "object",
      "id": "PublishItemRequest"
    },
    "UploadItemPackageResponse": {
      "description": "Response message for `UploadItemPackage`.",
      "properties": {
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`).",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item the package was uploaded to.",
          "readOnly": true
        },
        "uploadState": {
          "type": "string",
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "readOnly": true,
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the item the package was uploaded to."
        }
      },
      "id": "UploadItemPackageResponse",
      "type": "object"
    }
  },
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "revision": "20260819",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "canonicalName": "Chromewebstore",
  "title": "Chrome Web Store API",
  "id": "chromewebstore:v2"
}