{
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "servicePath": "",
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "canonicalName": "Chrome Management",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "GoogleChromeManagementVersionsV1DeviceInfo": {
      "description": "Information of a device that runs a Chrome browser profile.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1DeviceInfo",
      "properties": {
        "hostname": {
          "description": "Output only. Hostname of the device on which the profile exists.",
          "type": "string",
          "readOnly": true
        },
        "affiliatedDeviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device ID that identifies the affiliated device on which the profile exists. If the device type is CHROME_BROWSER, then this represents a unique Directory API ID of the device that can be used in Admin SDK Browsers API."
        },
        "deviceType": {
          "enumDescriptions": [
            "Represents an unspecified device type.",
            "Represents a Chrome browser device."
          ],
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "CHROME_BROWSER"
          ],
          "readOnly": true,
          "description": "Output only. Type of the device on which the profile exists."
        },
        "machine": {
          "description": "Output only. Machine name of the device on which the profile exists. On platforms which do not report the machine name (currently iOS and Android) this is instead set to the browser's device_id - but note that this is a different device_id than the |affiliated_device_id|.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppPermission": {
      "type": "object",
      "id": "GoogleChromeManagementV1ChromeAppPermission",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the permission."
        },
        "documentationUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If available, a URI to a page that has documentation for the current permission."
        },
        "accessUserData": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If available, whether this permissions grants the app/extension access to user data."
        }
      },
      "description": "Permission requested by a Chrome app or extension."
    },
    "GoogleChromeManagementV1UserRequestingExtensionDetails": {
      "description": "Details of a user requesting an extension, including the email and the justification.",
      "id": "GoogleChromeManagementV1UserRequestingExtensionDetails",
      "properties": {
        "justification": {
          "description": "Request justification as entered by the user.",
          "type": "string"
        },
        "email": {
          "description": "The e-mail address of a user that has requested the extension.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the permission.",
          "type": "string"
        }
      },
      "description": "Permission requested by an Android app.",
      "type": "object",
      "id": "GoogleChromeManagementV1AndroidAppPermission"
    },
    "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "description": "Information of the policies applied on an extension.",
      "id": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData",
      "type": "object",
      "properties": {
        "extensionId": {
          "type": "string",
          "description": "Output only. ID of the extension.",
          "readOnly": true
        },
        "extensionName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the extension."
        },
        "policyData": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Information of the policies applied on the extension."
        }
      }
    },
    "GoogleChromeManagementV1DiskInfo": {
      "properties": {
        "health": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk health."
        },
        "serialNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Disk serial number."
        },
        "type": {
          "description": "Output only. Disk type: eMMC / NVMe / ATA / SCSI.",
          "type": "string",
          "readOnly": true
        },
        "discardTimeThisSession": {
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+.",
          "type": "string"
        },
        "readTimeThisSession": {
          "readOnly": true,
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Time spent reading from disk since last boot."
        },
        "sizeBytes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Disk size."
        },
        "volumeIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Disk volumes.",
          "readOnly": true,
          "type": "array"
        },
        "model": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Disk model."
        },
        "writeTimeThisSession": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Time spent writing to disk since last boot.",
          "readOnly": true
        },
        "bytesWrittenThisSession": {
          "format": "int64",
          "description": "Output only. Number of bytes written since last boot.",
          "type": "string",
          "readOnly": true
        },
        "manufacturer": {
          "readOnly": true,
          "description": "Output only. Disk manufacturer.",
          "type": "string"
        },
        "bytesReadThisSession": {
          "type": "string",
          "description": "Output only. Number of bytes read since last boot.",
          "format": "int64",
          "readOnly": true
        },
        "ioTimeThisSession": {
          "description": "Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Status of the single storage device.",
      "id": "GoogleChromeManagementV1DiskInfo"
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "type": "object",
      "properties": {
        "label": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. CPU label. Example: Core 0"
        },
        "temperatureCelsius": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. CPU temperature in Celsius."
        }
      },
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
      "id": "GoogleChromeManagementV1CpuTemperatureInfo"
    },
    "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent": {
      "type": "object",
      "description": "`TelemetryNetworkSignalStrengthEvent` is triggered on WiFi signal strength events. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "id": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
      "properties": {
        "guid": {
          "description": "Unique identifier of the network.",
          "type": "string"
        },
        "signalStrengthDbm": {
          "description": "Signal strength RSSI value.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleChromeManagementV1DeviceRequestingExtensionDetails": {
      "properties": {
        "justification": {
          "type": "string",
          "description": "Request justification as entered by the user."
        },
        "deviceName": {
          "type": "string",
          "description": "The name of a device that has requested the extension."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceRequestingExtensionDetails",
      "description": "Details of a device requesting an extension, including the name of the device and the justification of the request."
    },
    "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse": {
      "description": "Response from checking the enablement status of insights for the customer.",
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse",
      "properties": {
        "insightsState": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insights feature is enabled for the customer.",
            "The insights feature is disabled for the customer."
          ],
          "description": "The state of the insights feature.",
          "type": "string",
          "enum": [
            "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED",
            "INSIGHTS_ENABLED",
            "INSIGHTS_DISABLED"
          ]
        }
      }
    },
    "GoogleChromeManagementVersionsV1GoogleSecOpsConfig": {
      "description": "Google SecOps connector config.",
      "type": "object",
      "properties": {
        "reportingSettings": {
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings",
          "description": "Required. The reporting settings for the Google SecOps config."
        },
        "host": {
          "type": "string",
          "description": "Required. Host of ingestion API endpoint. Allows customer to upload events to servers in specific geographical regions. Existing configs that don't have this setting default to US."
        },
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1GoogleSecOpsConfig"
    },
    "GoogleChromeManagementV1PrintJob": {
      "description": "Represents a request to print a document that has been submitted to a printer.",
      "id": "GoogleChromeManagementV1PrintJob",
      "type": "object",
      "properties": {
        "userId": {
          "description": "The unique Directory API ID of the user who submitted the print job.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the document."
        },
        "documentPageCount": {
          "description": "Number of pages in the document.",
          "type": "integer",
          "format": "int32"
        },
        "colorMode": {
          "enumDescriptions": [
            "Unspecified.",
            "Black and white.",
            "Color."
          ],
          "description": "Color mode.",
          "type": "string",
          "enum": [
            "COLOR_MODE_UNSPECIFIED",
            "BLACK_AND_WHITE",
            "COLOR"
          ]
        },
        "printerId": {
          "description": "API ID of the printer used for printing.",
          "type": "string"
        },
        "duplexMode": {
          "type": "string",
          "enum": [
            "DUPLEX_MODE_UNSPECIFIED",
            "ONE_SIDED",
            "TWO_SIDED_LONG_EDGE",
            "TWO_SIDED_SHORT_EDGE"
          ],
          "description": "Duplex mode.",
          "enumDescriptions": [
            "Unspecified.",
            "One-sided.",
            "Two-sided flipping over long edge.",
            "Two-sided flipping over short edge."
          ]
        },
        "createTime": {
          "description": "Print job creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "The final state of the job.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PRINTED",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Print job is in an unspecified state.",
            "The document was successfully printed.",
            "Print job was cancelled.",
            "Print job failed."
          ]
        },
        "printer": {
          "description": "Name of the printer used for printing.",
          "type": "string"
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Print job completion timestamp.",
          "type": "string"
        },
        "copyCount": {
          "description": "Number of copies.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "description": "Unique ID of the print job.",
          "type": "string"
        },
        "userEmail": {
          "description": "The primary e-mail address of the user who submitted the print job.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1EnumeratePrintJobsResponse": {
      "type": "object",
      "description": "Response containing a list of print jobs.",
      "id": "GoogleChromeManagementV1EnumeratePrintJobsResponse",
      "properties": {
        "printJobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1PrintJob"
          },
          "description": "List of requested print jobs."
        },
        "totalSize": {
          "format": "int64",
          "description": "Total number of print jobs matching request.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "A token, which can be used in a subsequent request to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1SplunkConfig": {
      "properties": {
        "portNumber": {
          "type": "integer",
          "description": "Optional. The port number to use. If not set, the default Splunk port is used.",
          "format": "int32"
        },
        "source": {
          "description": "Optional. Optional source name to override the default one set in the Splunk admin console.",
          "type": "string"
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Splunk config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "hecToken": {
          "type": "string",
          "description": "Required. Input only. The data input's HTTP Event Collector token to use as an Authorization header."
        },
        "unsecureScheme": {
          "description": "Optional. Whether to use an unsecure HTTP scheme. Defaults to false (HTTPS).",
          "type": "boolean"
        }
      },
      "id": "GoogleChromeManagementVersionsV1SplunkConfig",
      "type": "object",
      "description": "Splunk connector config."
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse": {
      "type": "object",
      "description": "Response for MoveThirdPartyProfileUser method.",
      "properties": {
        "thirdPartyProfileUser": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser",
          "description": "Output only. The moved third party profile user."
        }
      },
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse"
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "type": "object",
      "properties": {
        "networkDevices": {
          "description": "Output only. List of network devices.",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "description": "Network device information. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_NETWORK_INFO",
      "id": "GoogleChromeManagementV1NetworkInfo"
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse",
      "properties": {
        "deviceAueCountReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          },
          "type": "array",
          "description": "The list of reports sorted by auto update expiration date in ascending order."
        }
      }
    },
    "GoogleChromeManagementV1TelemetryNotificationFilter": {
      "id": "GoogleChromeManagementV1TelemetryNotificationFilter",
      "description": "Configures how the telemetry data should be filtered.",
      "properties": {
        "userOrgUnitId": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by users in this org unit.",
          "type": "string"
        },
        "userEmail": {
          "description": "If set, only sends notifications for telemetry data coming from devices owned by this user.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "If set, only sends notifications for telemetry data coming from this device."
        },
        "telemetryEventNotificationFilter": {
          "description": "Only sends notifications for the telemetry events matching this filter.",
          "$ref": "GoogleChromeManagementV1TelemetryEventNotificationFilter"
        },
        "deviceOrgUnitId": {
          "description": "If set, only sends notifications for telemetry data coming from devices in this org unit.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest": {
      "properties": {
        "callerInstanceId": {
          "description": "Required. The instance id of the caller.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for claiming a certificate provisioning process.",
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest"
    },
    "GoogleChromeManagementV1BootPerformanceReport": {
      "description": "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Timestamp when the report was collected.",
          "format": "google-datetime",
          "type": "string"
        },
        "shutdownDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Total time since shutdown start to power off."
        },
        "bootUpTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when power came on."
        },
        "bootUpDuration": {
          "type": "string",
          "description": "Total time to boot up.",
          "format": "google-duration"
        },
        "shutdownReason": {
          "description": "The shutdown reason.",
          "enumDescriptions": [
            "Shutdown reason is not specified.",
            "User initiated.",
            "System update initiated.",
            "Shutdown due to low battery.",
            "Shutdown due to other reasons."
          ],
          "type": "string",
          "enum": [
            "SHUTDOWN_REASON_UNSPECIFIED",
            "USER_REQUEST",
            "SYSTEM_UPDATE",
            "LOW_BATTERY",
            "OTHER"
          ]
        },
        "shutdownTime": {
          "type": "string",
          "description": "The timestamp when shutdown.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleChromeManagementV1BootPerformanceReport"
    },
    "GoogleChromeManagementVersionsV1UrlVisitsBreakdown": {
      "type": "object",
      "properties": {
        "eventDomain": {
          "description": "The event domain of the URL visits.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "The user that visited the URL."
        },
        "summary": {
          "$ref": "GoogleChromeManagementVersionsV1UrlVisitsSummary",
          "description": "The summary of URL visits for the breakdown dimension."
        }
      },
      "id": "GoogleChromeManagementVersionsV1UrlVisitsBreakdown",
      "description": "A URL visits summary for a given breakdown dimension."
    },
    "GoogleChromeManagementVersionsV1GenericCaConnection": {
      "id": "GoogleChromeManagementVersionsV1GenericCaConnection",
      "type": "object",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service."
        }
      },
      "description": "Describes a generic Certificate Authority Connection."
    },
    "GoogleChromeManagementV1RiskAssessmentEntry": {
      "id": "GoogleChromeManagementV1RiskAssessmentEntry",
      "description": "One risk assessment entry.",
      "properties": {
        "riskLevel": {
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ],
          "description": "Output only. The bucketed risk level for the risk assessment."
        },
        "riskAssessment": {
          "$ref": "GoogleChromeManagementV1RiskAssessment",
          "description": "Output only. The details of the provider's risk assessment.",
          "readOnly": true
        },
        "provider": {
          "type": "string",
          "enum": [
            "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED",
            "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI",
            "RISK_ASSESSMENT_PROVIDER_LAYERX",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value when no provider is specified.",
            "CRXcavator.",
            "Deprecated: Please use RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2 instead. Spin.Ai.",
            "LayerX Security.",
            "Spin.AI V2."
          ],
          "description": "Output only. The risk assessment provider from which this entry comes from.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ]
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountActiveDevicesResponse": {
      "description": "Response containing the number of active devices.",
      "properties": {
        "sevenDaysCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of active devices in the 7 days leading up to the date specified in the request."
        },
        "thirtyDaysCount": {
          "format": "int64",
          "description": "Number of active devices in the 30 days leading up to the date specified in the request.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1CountActiveDevicesResponse"
    },
    "GoogleChromeManagementV1CpuInfo": {
      "id": "GoogleChromeManagementV1CpuInfo",
      "properties": {
        "architecture": {
          "readOnly": true,
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ]
        },
        "keylockerSupported": {
          "description": "Output only. Whether keylocker is supported.",
          "type": "boolean",
          "readOnly": true
        },
        "model": {
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "type": "string",
          "readOnly": true
        },
        "maxClockSpeed": {
          "description": "Output only. The max CPU clock speed in kHz.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "keylockerConfigured": {
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO",
      "type": "object"
    },
    "GoogleChromeManagementV1AppReport": {
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "description": "Timestamp when the report was collected.",
          "type": "string"
        },
        "usageData": {
          "description": "App usage data.",
          "items": {
            "$ref": "GoogleChromeManagementV1AppUsageData"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "App report.",
      "id": "GoogleChromeManagementV1AppReport"
    },
    "GoogleChromeManagementV1Device": {
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "Output only. The ID of the device that reported this Chrome browser information.",
          "type": "string",
          "readOnly": true
        },
        "machine": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the machine within its local network."
        }
      },
      "id": "GoogleChromeManagementV1Device",
      "description": "Describes a device reporting Chrome browser information."
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO",
      "type": "object",
      "id": "GoogleChromeManagementV1MemoryInfo",
      "properties": {
        "totalRamBytes": {
          "readOnly": true,
          "description": "Output only. Total RAM in bytes.",
          "type": "string",
          "format": "int64"
        },
        "availableRamBytes": {
          "description": "Output only. Amount of available RAM in bytes.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "totalMemoryEncryption": {
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "readOnly": true,
          "description": "Output only. Total memory encryption info for the device."
        }
      }
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "type": "object",
      "properties": {
        "modelReports": {
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook).",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "memoryReports": {
          "type": "array",
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "cpuReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz).",
          "type": "array"
        },
        "storageReports": {
          "type": "array",
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        }
      },
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type."
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "type": "object",
      "properties": {
        "latency": {
          "format": "google-duration",
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.",
          "type": "string",
          "readOnly": true
        },
        "problem": {
          "type": "string",
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "description": "Output only. HTTPS latency routine problem if a problem occurred."
        }
      },
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.",
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData"
    },
    "GoogleChromeManagementV1RiskAssessment": {
      "description": "Risk assessment for a Chrome extension.",
      "id": "GoogleChromeManagementV1RiskAssessment",
      "type": "object",
      "properties": {
        "assessment": {
          "type": "string",
          "description": "Risk assessment for the extension. Currently, this is a numerical value, and its interpretation is specific to each risk assessment provider."
        },
        "detailsUrl": {
          "type": "string",
          "description": "A URL that a user can navigate to for more information about the risk assessment."
        },
        "version": {
          "description": "The version of the extension that this assessment applies to.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeProfileVersionsResponse": {
      "properties": {
        "profileBrowserVersions": {
          "description": "List of all browser versions reported for profiles and their install counts.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1BrowserVersion"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Total number browser versions matching request."
        }
      },
      "type": "object",
      "description": "Response containing requested managed profile versions details and counts.",
      "id": "GoogleChromeManagementV1CountChromeProfileVersionsResponse"
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "properties": {
        "keyLength": {
          "description": "The length of the encryption keys.",
          "type": "string",
          "format": "int64"
        },
        "maxKeys": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of keys that can be used for encryption."
        },
        "encryptionState": {
          "description": "The state of memory encryption on the device.",
          "type": "string",
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ],
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ]
        },
        "encryptionAlgorithm": {
          "type": "string",
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ],
          "description": "Memory encryption algorithm.",
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ]
        }
      },
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeConfig": {
      "properties": {
        "apiKey": {
          "description": "Required. Input only. API key to use on the ingestion API.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Required. Host to identify the customer specific server to receive the events."
        },
        "reportingSettings": {
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings",
          "description": "Required. The reporting settings for the CrowdStrike config."
        }
      },
      "type": "object",
      "description": "CrowdStrike connector config.",
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeConfig"
    },
    "GoogleChromeManagementV1HeartbeatStatusReport": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State not specified",
            "Device is not eligible for heartbeat monitoring",
            "Device is online",
            "Device is offline",
            "Device is outdated"
          ],
          "description": "State the device changed to",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "OFFLINE",
            "DEVICE_OUTDATED"
          ]
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when status changed was detected"
        }
      },
      "description": "Heartbeat status report of a device. * Available for Kiosks * This field provides online/offline/unknown status of a device and will only be included if the status has changed (e.g. Online -> Offline) * Data for this field is controlled via policy: [HeartbeatEnabled](https://chromeenterprise.google/policies/#HeartbeatEnabled) [More Info](https://support.google.com/chrome/a/answer/6179663#:~:text=On%20the%20Chrome,device%20status%20alerts) * Heartbeat Frequency: 2 mins * Note: If a device goes offline, it can take up to 12 minutes for the online status of the device to be updated * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: N/A * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "id": "GoogleChromeManagementV1HeartbeatStatusReport"
    },
    "GoogleChromeManagementV1FindSaasUsageReportsResponse": {
      "id": "GoogleChromeManagementV1FindSaasUsageReportsResponse",
      "type": "object",
      "description": "Response to `FindSaasUsage` method.",
      "properties": {
        "totalSize": {
          "type": "string",
          "format": "int64",
          "description": "Total number of SaaS usage reports that match the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "saasReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1SaasUsageReport"
          },
          "description": "The list of SaaS usage reports.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayData": {
      "properties": {
        "displayName": {
          "description": "The display name.",
          "type": "string"
        },
        "resolutionHorizontal": {
          "format": "int32",
          "type": "integer",
          "description": "The horizontal resolution."
        },
        "serialNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The serial number."
        },
        "refreshRate": {
          "format": "int64",
          "description": "The refresh rate.",
          "type": "string"
        },
        "resolutionVertical": {
          "format": "int32",
          "type": "integer",
          "description": "The vertical resolution."
        },
        "edidVersion": {
          "description": "The EDID version.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayData",
      "description": "External display data."
    },
    "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse": {
      "id": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse",
      "description": "Response containing counts for browsers that need attention.",
      "properties": {
        "noRecentActivityCount": {
          "format": "int64",
          "description": "Number of browsers that haven’t had any recent activity",
          "type": "string"
        },
        "recentlyEnrolledCount": {
          "type": "string",
          "description": "Number of browsers that have been recently enrolled",
          "format": "int64"
        },
        "pendingBrowserUpdateCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of browsers that are pending an OS update"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1TouchScreenDevice": {
      "description": "Information of an internal touch screen device.",
      "type": "object",
      "properties": {
        "touchPointCount": {
          "readOnly": true,
          "description": "Output only. Number of touch points supported on the device.",
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "description": "Output only. Touch screen device display name.",
          "type": "string",
          "readOnly": true
        },
        "stylusCapable": {
          "description": "Output only. Touch screen device is stylus capable or not.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1TouchScreenDevice"
    },
    "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig": {
      "id": "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig",
      "description": "Palo Alto Networks connector config.",
      "type": "object",
      "properties": {
        "apiKey": {
          "type": "string",
          "description": "Required. Input only. API key to use on the ingestion API."
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Palo Alto Networks config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse": {
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse",
      "properties": {
        "totalSize": {
          "format": "int64",
          "type": "string",
          "description": "Total size represents an estimated number of resources returned."
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        },
        "chromeBrowserProfileCommands": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
          },
          "description": "The list of commands returned."
        }
      },
      "type": "object",
      "description": "Response to ListChromeBrowserProfileCommands method."
    },
    "GoogleChromeManagementVersionsV1ConnectorConfig": {
      "description": "A representation of a connector config.",
      "id": "GoogleChromeManagementVersionsV1ConnectorConfig",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "REPORTING",
            "DEVICE_TRUST",
            "XDR",
            "IDENTITY_BASED_ENROLLMENT",
            "CERTIFICATE_AUTHORITY",
            "ROOT_STORE",
            "CONTENT_ANALYSIS"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Reporting connector.",
            "Device trust connector.",
            "XDR connector.",
            "Authentication connector.",
            "Certificate authority connector. Not yet supported in the API.",
            "Root certificate connector.",
            "Content analysis connector."
          ],
          "description": "Required. The type of the connector."
        },
        "status": {
          "description": "Output only. The status of the connector config.",
          "$ref": "GoogleChromeManagementVersionsV1ConnectorConfigStatus",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: customers/{customer}/connectorConfigs/{connector_config}"
        },
        "displayName": {
          "description": "Required. The display name of the config.",
          "type": "string"
        },
        "details": {
          "description": "Required. The details of the connector config.",
          "$ref": "GoogleChromeManagementVersionsV1ConnectorConfigDetails"
        }
      }
    },
    "GoogleChromeManagementV1AppDetails": {
      "type": "object",
      "id": "GoogleChromeManagementV1AppDetails",
      "properties": {
        "privacyPolicyUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found."
        },
        "chromeAppInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1ChromeAppInfo",
          "description": "Output only. Chrome Web Store app information."
        },
        "publisher": {
          "description": "Output only. The publisher of the item.",
          "type": "string",
          "readOnly": true
        },
        "detailUri": {
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true,
          "type": "string"
        },
        "homepageUri": {
          "readOnly": true,
          "description": "Output only. Home page or Website uri.",
          "type": "string"
        },
        "type": {
          "description": "Output only. App type.",
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ]
        },
        "description": {
          "description": "Output only. App's description.",
          "readOnly": true,
          "type": "string"
        },
        "latestPublishTime": {
          "readOnly": true,
          "description": "Output only. Latest published time.",
          "format": "google-datetime",
          "type": "string"
        },
        "isPaidApp": {
          "type": "boolean",
          "description": "Output only. Indicates if the app has to be paid for OR has paid content.",
          "readOnly": true
        },
        "reviewNumber": {
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}",
          "readOnly": true
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published.",
          "type": "string"
        },
        "serviceError": {
          "readOnly": true,
          "description": "Output only. Information about a partial service error if applicable.",
          "$ref": "GoogleRpcStatus"
        },
        "displayName": {
          "description": "Output only. App's display name.",
          "type": "string",
          "readOnly": true
        },
        "appId": {
          "type": "string",
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app.",
          "readOnly": true
        },
        "reviewRating": {
          "format": "float",
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app.",
          "readOnly": true,
          "type": "number"
        },
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "readOnly": true,
          "type": "string"
        },
        "categoryIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The category IDs of the app, which are the same as stored in the Web Store item. It's expected that there is only one category ID."
        },
        "androidAppInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1AndroidAppInfo",
          "description": "Output only. Android app information."
        },
        "firstPublishTime": {
          "type": "string",
          "description": "Output only. First published time.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Resource representing app details."
    },
    "GoogleChromeManagementVersionsV1UrlVisitsSummary": {
      "id": "GoogleChromeManagementVersionsV1UrlVisitsSummary",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The count of the URL visits metric."
        },
        "metric": {
          "description": "The type of URL visits metric.",
          "type": "string",
          "enum": [
            "URL_VISITS_METRIC_UNSPECIFIED",
            "URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS",
            "URL_VISITS_METRIC_HIGH_RISK_URL_VISITS",
            "URL_VISITS_METRIC_MEDIUM_RISK_URL_VISITS",
            "URL_VISITS_METRIC_LOW_RISK_URL_VISITS"
          ],
          "enumDescriptions": [
            "Unspecified URL visits metric. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
            "The total number of suspicious URL visits. This is the sum of the high_risk_url_visits, medium_risk_url_visits, and low_risk_url_visits.",
            "The number of suspicious URL visits with high risk.",
            "The number of suspicious URL visits with medium risk.",
            "The number of suspicious URL visits with low risk."
          ]
        }
      },
      "description": "Summary of URL visits for a given metric.",
      "type": "object"
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          },
          "description": "Telemetry devices returned in the response."
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1ChromeAppSiteAccess": {
      "properties": {
        "hostMatch": {
          "description": "Output only. This can contain very specific hosts, or patterns like \"*.com\" for instance.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1ChromeAppSiteAccess",
      "type": "object",
      "description": "Represent one host permission."
    },
    "GoogleChromeManagementV1BrowserVersion": {
      "properties": {
        "channel": {
          "enumDescriptions": [
            "No release channel specified.",
            "Canary release channel.",
            "Dev release channel.",
            "Beta release channel.",
            "Stable release channel."
          ],
          "readOnly": true,
          "description": "Output only. The release channel of the installed browser.",
          "type": "string",
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "DEV",
            "BETA",
            "STABLE"
          ]
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Count grouped by device_system and major version",
          "readOnly": true
        },
        "system": {
          "description": "Output only. The device operating system.",
          "type": "string",
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ]
        },
        "deviceOsVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Version of the system-specified operating system."
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full version of the installed browser."
        }
      },
      "id": "GoogleChromeManagementV1BrowserVersion",
      "type": "object",
      "description": "Describes a browser version and its install count."
    },
    "GoogleChromeManagementV1SaasUsageBrowser": {
      "properties": {
        "orgUnitId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the organizational unit."
        },
        "devicePermanentId": {
          "readOnly": true,
          "description": "Output only. The device permanent ID.",
          "type": "string"
        },
        "lastNavigationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the application was last navigated to by this browser.",
          "type": "string"
        },
        "osPlatform": {
          "enumDescriptions": [
            "No operating system specified.",
            "Other operating system.",
            "Android operating system.",
            "Apple iOS operating system.",
            "ChromeOS operating system.",
            "Microsoft Windows operating system.",
            "Apple macOS operating system.",
            "Linux operating system."
          ],
          "type": "string",
          "enum": [
            "DEVICE_SYSTEM_UNSPECIFIED",
            "SYSTEM_OTHER",
            "SYSTEM_ANDROID",
            "SYSTEM_IOS",
            "SYSTEM_CROS",
            "SYSTEM_WINDOWS",
            "SYSTEM_MAC",
            "SYSTEM_LINUX"
          ],
          "readOnly": true,
          "description": "Output only. The OS platform."
        },
        "osVersion": {
          "description": "Output only. The OS version.",
          "readOnly": true,
          "type": "string"
        },
        "machine": {
          "description": "Output only. The machine name.",
          "readOnly": true,
          "type": "string"
        },
        "firstNavigationTime": {
          "description": "Output only. The timestamp when the application was first navigated to by this browser.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Details of a SaaS usage browser.",
      "type": "object",
      "id": "GoogleChromeManagementV1SaasUsageBrowser"
    },
    "GoogleChromeManagementV1ProfileAppInstallInstance": {
      "description": "Describes a profile reporting Chrome Profile information.",
      "id": "GoogleChromeManagementV1ProfileAppInstallInstance",
      "type": "object",
      "properties": {
        "profileId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Chrome client side profile ID."
        },
        "email": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email of the profile."
        },
        "profileOrgUnitId": {
          "description": "Output only. The organizational unit id of the profile.",
          "type": "string",
          "readOnly": true
        },
        "profilePermanentId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer."
        }
      }
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "type": "object",
      "properties": {
        "volumeId": {
          "description": "Disk volume id.",
          "type": "string"
        },
        "storageFreeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Free storage space in bytes."
        },
        "storageTotalBytes": {
          "format": "int64",
          "description": "Total storage space in bytes.",
          "type": "string"
        }
      },
      "description": "Information for disk volumes",
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume"
    },
    "GoogleChromeManagementV1RiskAssessmentData": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "Individual risk assessments.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1RiskAssessmentEntry"
          }
        },
        "overallRiskLevel": {
          "description": "Overall assessed risk level across all entries. This will be the highest risk level from all entries.",
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "type": "string",
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ]
        }
      },
      "description": "Risk assessment data about an extension/app.",
      "id": "GoogleChromeManagementV1RiskAssessmentData"
    },
    "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse": {
      "properties": {
        "connectorConfigs": {
          "description": "The list of connector configs returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to retrieve the next page of the listing request. If the token is empty, there are no more pages to retrieve."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse",
      "description": "Response to ListConnectorConfigs method."
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayEvent": {
      "properties": {
        "externalDisplayData": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayData"
          },
          "description": "List of external displays that were connected/disconnected.",
          "type": "array"
        }
      },
      "description": "External display connected/disconnected event payload.",
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
      "type": "object"
    },
    "GoogleChromeManagementV1SaasUsageReportContentTransferDetails": {
      "description": "Provides information about content transfer events, if available.",
      "type": "object",
      "properties": {
        "contentTransferCount": {
          "description": "Output only. Total number of content transfers associated with the application.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1SaasUsageReportContentTransferDetails"
    },
    "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse": {
      "type": "object",
      "properties": {
        "betaChannelCount": {
          "format": "int64",
          "description": "Number of devices with beta release channel.",
          "type": "string"
        },
        "ltcChannelCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices with ltc release channel."
        },
        "ltsChannelCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices with lts release channel."
        },
        "stableChannelCount": {
          "type": "string",
          "description": "Number of devices with stable release channel.",
          "format": "int64"
        },
        "devChannelCount": {
          "description": "Number of devices with dev release channel.",
          "type": "string",
          "format": "int64"
        },
        "unsupportedChannelCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices with unsupported release channel."
        },
        "unreportedChannelCount": {
          "description": "Number of devices with an unreported release channel.",
          "type": "string",
          "format": "int64"
        },
        "canaryChannelCount": {
          "description": "Number of devices with canary release channel.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Response containing the number of devices with the given channel.",
      "id": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse"
    },
    "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse": {
      "id": "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse",
      "description": "Response message for QueryContentTransfersBreakdowns.",
      "properties": {
        "contentTransfersBreakdowns": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ContentTransfersBreakdown"
          },
          "description": "The content transfer breakdowns from the specified insight.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountDevicesPerBootTypeResponse": {
      "id": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse",
      "type": "object",
      "description": "Response containing the number of devices with the given boot type.",
      "properties": {
        "devBootTypeCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices with dev boot type."
        },
        "unreportedBootTypeCount": {
          "type": "string",
          "description": "Number of devices with unreported boot type.",
          "format": "int64"
        },
        "verifiedBootTypeCount": {
          "description": "Number of devices with verified boot type.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "properties": {
        "displays": {
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          },
          "type": "array",
          "description": "Output only. Information about the displays for the device.",
          "readOnly": true
        },
        "reportTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the graphics data was reported.",
          "format": "google-datetime"
        }
      },
      "description": "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1GraphicsStatusReport"
    },
    "GoogleChromeManagementVersionsV1UploadCertificateRequest": {
      "type": "object",
      "description": "Request message for uploading an issued certificate for a certificate provisioning process.",
      "properties": {
        "certificatePem": {
          "description": "Required. The issued certificate in PEM format.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1UploadCertificateRequest"
    },
    "GoogleChromeManagementVersionsV1SetFailureResponse": {
      "properties": {},
      "id": "GoogleChromeManagementVersionsV1SetFailureResponse",
      "type": "object",
      "description": "Response message for publishing a failure for a certificate provisioning process."
    },
    "GoogleChromeManagementV1PeripheralsReport": {
      "description": "Peripherals report. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "id": "GoogleChromeManagementV1PeripheralsReport",
      "type": "object",
      "properties": {
        "reportTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the report was collected."
        },
        "usbPeripheralReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          },
          "type": "array",
          "description": "Reports of all usb connected devices."
        }
      }
    },
    "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent": {
      "type": "object",
      "properties": {},
      "id": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent",
      "description": "`TelemetryAudioSevereUnderrunEvent` is triggered when a audio devices run out of buffer data for more than 5 seconds. * Granular permission needed: TELEMETRY_API_AUDIO_REPORT"
    },
    "GoogleChromeManagementV1DeviceActivityReport": {
      "description": "Device activity report. * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT",
      "id": "GoogleChromeManagementV1DeviceActivityReport",
      "type": "object",
      "properties": {
        "deviceActivityState": {
          "enumDescriptions": [
            "Device activity state is unspecified.",
            "Device is currently being used.",
            "Device is currently idle.",
            "Device is currently locked."
          ],
          "type": "string",
          "enum": [
            "DEVICE_ACTIVITY_STATE_UNSPECIFIED",
            "ACTIVE",
            "IDLE",
            "LOCKED"
          ],
          "readOnly": true,
          "description": "Output only. Device activity state."
        },
        "reportTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the report was collected."
        }
      }
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "properties": {
        "isExtensionPolicySupported": {
          "type": "boolean",
          "description": "Output only. Whether an app supports policy for extensions.",
          "readOnly": true
        },
        "permissions": {
          "type": "array",
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          },
          "readOnly": true
        },
        "minUserCount": {
          "readOnly": true,
          "description": "Output only. The minimum number of users using this app.",
          "type": "integer",
          "format": "int32"
        },
        "manifestVersion": {
          "format": "int64",
          "description": "Output only. The version of this extension's manifest.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Output only. Types of an item in the Chrome Web Store",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified ItemType.",
            "Chrome Extensions.",
            "Any other type than extension."
          ],
          "type": "string",
          "enum": [
            "ITEM_TYPE_UNSPECIFIED",
            "EXTENSION",
            "OTHERS"
          ]
        },
        "siteAccess": {
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          },
          "type": "array",
          "readOnly": true
        },
        "googleOwned": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found."
        },
        "kioskEnabled": {
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices",
          "readOnly": true,
          "type": "boolean"
        },
        "isKioskOnly": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices"
        },
        "supportEnabled": {
          "type": "boolean",
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.",
          "readOnly": true
        },
        "isCwsHosted": {
          "readOnly": true,
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store.",
          "type": "boolean"
        },
        "isTheme": {
          "description": "Output only. Whether the app or extension is a theme.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Chrome Web Store app information.",
      "id": "GoogleChromeManagementV1ChromeAppInfo"
    },
    "GoogleChromeManagementV1InstalledApp": {
      "properties": {
        "appType": {
          "readOnly": true,
          "description": "Output only. Type of the app.",
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ],
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ]
        },
        "profileCount": {
          "description": "Output only. Count of Chrome Profiles with this app installed.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "homepageUri": {
          "type": "string",
          "description": "Output only. Homepage uri of the installed app.",
          "readOnly": true
        },
        "osUserCount": {
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the installed app.",
          "type": "string"
        },
        "riskAssessment": {
          "readOnly": true,
          "description": "Output only. If available, the risk assessment data about this extension.",
          "$ref": "GoogleChromeManagementV1RiskAssessmentData"
        },
        "permissions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Permissions of the installed app.",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the app is disabled."
        },
        "browserDeviceCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Count of browser devices with this app installed.",
          "type": "string"
        },
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true,
          "type": "string"
        },
        "appInstallType": {
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "type": "string",
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "description": "Output only. How the app was installed.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Name of the installed app.",
          "readOnly": true,
          "type": "string"
        },
        "appSource": {
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ],
          "readOnly": true,
          "description": "Output only. Source of the installed app.",
          "type": "string",
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ]
        }
      },
      "id": "GoogleChromeManagementV1InstalledApp",
      "type": "object",
      "description": "Describes an installed app."
    },
    "GoogleChromeManagementV1AppUsageData": {
      "type": "object",
      "id": "GoogleChromeManagementV1AppUsageData",
      "description": "App usage data.",
      "properties": {
        "appInstanceId": {
          "type": "string",
          "description": "Application instance id. This will be unique per window/instance."
        },
        "appType": {
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "description": "Type of app.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "type": "string",
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ]
        },
        "appId": {
          "description": "App id.",
          "type": "string"
        },
        "runningDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "App foreground running time."
        }
      }
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "type": "object",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT",
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "properties": {
        "disk": {
          "readOnly": true,
          "description": "Output only. Reports on disk.",
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "type": "array"
        },
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of when the sample was collected on device"
        }
      }
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification.",
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "properties": {
        "count": {
          "description": "Count of devices with a unique hardware specification.",
          "format": "int64",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Public name of the hardware specification."
        }
      }
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand": {
      "description": "A representation of a remote command for a Chrome browser profile.",
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand",
      "type": "object",
      "properties": {
        "commandType": {
          "type": "string",
          "description": "Required. Type of the remote command. The only supported command_type is \"clearBrowsingData\"."
        },
        "commandState": {
          "readOnly": true,
          "description": "Output only. State of the remote command.",
          "type": "string",
          "enum": [
            "COMMAND_STATE_UNSPECIFIED",
            "PENDING",
            "EXPIRED",
            "EXECUTED_BY_CLIENT"
          ],
          "enumDescriptions": [
            "Represents an unspecified command state.",
            "Represents a command in a pending state.",
            "Represents a command that has expired.",
            "Represents a command that has been executed by the client."
          ]
        },
        "validDuration": {
          "format": "google-duration",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Valid duration of the remote command."
        },
        "name": {
          "description": "Identifier. Format: customers/{customer_id}/profiles/{profile_permanent_id}/commands/{command_id}",
          "type": "string"
        },
        "commandResult": {
          "description": "Output only. Result of the remote command.",
          "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult",
          "readOnly": true
        },
        "payload": {
          "description": "Required. Payload of the remote command. The payload for \"clearBrowsingData\" command supports: - fields \"clearCache\" and \"clearCookies\" - values of boolean type.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "issueTime": {
          "description": "Output only. Timestamp of the issurance of the remote command.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "id": "GoogleChromeManagementV1CountChromeAppRequestsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "requestedApps": {
          "description": "Count of requested apps matching request.",
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppRequest"
          },
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "description": "Total number of matching app requests.",
          "type": "integer"
        }
      },
      "description": "Response containing summary of requested app installations.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ContentTransfersSummary": {
      "id": "GoogleChromeManagementVersionsV1ContentTransfersSummary",
      "description": "Summary of content transfers for a given metric.",
      "properties": {
        "count": {
          "description": "The count of the content transfers metric.",
          "format": "int64",
          "type": "string"
        },
        "metric": {
          "description": "The type of content transfers metric.",
          "type": "string",
          "enum": [
            "CONTENT_TRANSFERS_METRIC_UNSPECIFIED",
            "CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS",
            "CONTENT_TRANSFERS_METRIC_TOTAL_UPLOADS",
            "CONTENT_TRANSFERS_METRIC_TOTAL_DOWNLOADS",
            "CONTENT_TRANSFERS_METRIC_TOTAL_PRINTS",
            "CONTENT_TRANSFERS_METRIC_TOTAL_SENSITIVE_TRANSFERS",
            "CONTENT_TRANSFERS_METRIC_SENSITIVE_UPLOADS",
            "CONTENT_TRANSFERS_METRIC_SENSITIVE_DOWNLOADS",
            "CONTENT_TRANSFERS_METRIC_SENSITIVE_PRINTS"
          ],
          "enumDescriptions": [
            "Unspecified content transfers metric. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS.",
            "The total number of content transfers (sensitive and non-sensitive). This is the sum of the total_uploads, total_downloads, and total_prints.",
            "The total number of content uploads (sensitive and non-sensitive).",
            "The total number of content downloads (sensitive and non-sensitive).",
            "The total number of content prints (sensitive and non-sensitive).",
            "The total number of sensitive content transfers. This is the sum of the sensitive_uploads, sensitive_downloads, and sensitive_prints.",
            "The number of sensitive content uploads.",
            "The number of sensitive content downloads.",
            "The number of sensitive content prints."
          ]
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "properties": {
        "deviceId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents the graphics card device id."
        },
        "adapter": {
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "readOnly": true,
          "type": "string"
        },
        "driverVersion": {
          "type": "string",
          "description": "Output only. Version of the GPU driver.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "description": "Information of a graphics adapter (GPU).",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig": {
      "type": "object",
      "description": "CrowdStrike XDR connector config.",
      "properties": {
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "apiKey": {
          "type": "string",
          "description": "Required. Input only. API key to use on the ingestion API."
        },
        "xdrSettings": {
          "$ref": "GoogleChromeManagementVersionsV1XdrSettings",
          "description": "Required. The XDR settings for the CrowdStrike XDR config."
        }
      },
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig"
    },
    "GoogleChromeManagementV1TelemetryEventNotificationFilter": {
      "id": "GoogleChromeManagementV1TelemetryEventNotificationFilter",
      "description": "Configures how the telemetry events should be filtered.",
      "type": "object",
      "properties": {
        "eventTypes": {
          "type": "array",
          "description": "Only sends the notifications for events of these types. Must not be empty.",
          "items": {
            "type": "string",
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "AUDIO_SEVERE_UNDERRUN",
              "NETWORK_STATE_CHANGE",
              "USB_ADDED",
              "USB_REMOVED",
              "NETWORK_HTTPS_LATENCY_CHANGE",
              "WIFI_SIGNAL_STRENGTH_LOW",
              "WIFI_SIGNAL_STRENGTH_RECOVERED",
              "VPN_CONNECTION_STATE_CHANGE",
              "APP_INSTALLED",
              "APP_UNINSTALLED",
              "APP_LAUNCHED",
              "OS_CRASH",
              "EXTERNAL_DISPLAY_CONNECTED",
              "EXTERNAL_DISPLAY_DISCONNECTED"
            ],
            "enumDescriptions": [
              "Event type unknown.",
              "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
              "Triggered immediately on any changes to a network connection.",
              "Triggered when USB devices are added.",
              "Triggered when USB devices are removed.",
              "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
              "Triggered when connected WiFi network signal strength drops below -70dBm.",
              "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
              "Triggered on changes to VPN connections.",
              "Triggered when an app is installed.",
              "Triggered when an app is uninstalled.",
              "Triggered when an app is launched.",
              "Triggered when a crash occurs.",
              "Triggered when an external display is connected.",
              "Triggered when an external display is disconnected."
            ]
          }
        }
      }
    },
    "GoogleChromeManagementV1UsbPeripheralReport": {
      "description": "USB connected peripheral report.",
      "properties": {
        "categories": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Categories the device belongs to https://www.usb.org/defined-class-codes"
        },
        "classId": {
          "description": "Output only. Class ID https://www.usb.org/defined-class-codes",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "vid": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Vendor ID",
          "format": "int32"
        },
        "subclassId": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Subclass ID https://www.usb.org/defined-class-codes",
          "format": "int32"
        },
        "name": {
          "description": "Output only. Device name, model name, or product name",
          "type": "string",
          "readOnly": true
        },
        "firmwareVersion": {
          "description": "Output only. Firmware version",
          "readOnly": true,
          "type": "string"
        },
        "pid": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Product ID"
        },
        "vendor": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Vendor name"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1UsbPeripheralReport"
    },
    "GoogleChromeManagementV1TelemetryAppUninstallEvent": {
      "properties": {
        "appUninstallSource": {
          "type": "string",
          "enum": [
            "APPLICATION_UNINSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_UNINSTALL_SOURCE_APP_LIST",
            "APPLICATION_UNINSTALL_SOURCE_APP_MANAGEMENT",
            "APPLICATION_UNINSTALL_SOURCE_SHELF",
            "APPLICATION_UNINSTALL_SOURCE_MIGRATION"
          ],
          "enumDescriptions": [
            "Application uninstall source unknown.",
            "Application uninstalled from the App List (Launcher).",
            "Application uninstalled from the App Managedment page.",
            "Application uninstalled from the Shelf.",
            "Application uninstalled by app migration."
          ],
          "description": "App uninstall source."
        },
        "appType": {
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
[...]
