{
  "title": "Chrome Web Store API",
  "basePath": "",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "ownerName": "Google",
  "protocol": "rest",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "schemas": {
    "Item": {
      "id": "Item",
      "properties": {
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "type": "array",
          "items": {
            "$ref": "ItemError"
          }
        }
      },
      "type": "object"
    },
    "Item2": {
      "properties": {
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Item2"
    },
    "PublishRequest": {
      "type": "object",
      "properties": {
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        },
        "deployPercentage": {
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "type": "integer"
        },
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        }
      },
      "id": "PublishRequest"
    },
    "ItemError": {
      "id": "ItemError",
      "description": "Error of the item",
      "type": "object",
      "properties": {
        "error_code": {
          "description": "The error code.",
          "type": "string"
        },
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        }
      }
    }
  },
  "id": "chromewebstore:v1.1",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "resources": {
    "items": {
      "methods": {
        "get": {
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "itemId": {
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "projection": {
              "type": "string",
              "description": "Determines which subset of the item information to return.",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "location": "query",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "httpMethod": "GET",
          "id": "chromewebstore.items.get",
          "response": {
            "$ref": "Item"
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "description": "Gets your own Chrome Web Store item.",
          "parameterOrder": [
            "itemId"
          ]
        },
        "publish": {
          "parameterOrder": [
            "itemId"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "description": "Publishes an item.",
          "request": {
            "$ref": "PublishRequest"
          },
          "response": {
            "$ref": "Item2"
          },
          "id": "chromewebstore.items.publish",
          "httpMethod": "POST",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "parameters": {
            "deployPercentage": {
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "publishTarget": {
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "type": "string",
              "location": "query"
            },
            "itemId": {
              "description": "The ID of the item to publish.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "type": "boolean",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ]
        },
        "insert": {
          "path": "chromewebstore/v1.1/items",
          "description": "Inserts a new item.",
          "parameterOrder": [],
          "flatPath": "chromewebstore/v1.1/items",
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items",
                "multipart": true
              }
            }
          },
          "id": "chromewebstore.items.insert",
          "response": {
            "$ref": "Item"
          }
        },
        "update": {
          "parameterOrder": [
            "itemId"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}",
          "description": "Updates an existing item.",
          "request": {
            "$ref": "Item"
          },
          "httpMethod": "PUT",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "itemId": {
              "location": "path",
              "required": true,
              "description": "The ID of the item to upload.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.update",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "revision": "20260616",
  "servicePath": "",
  "batchPath": "batch",
  "version": "v1.1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "name": "chromewebstore",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "canonicalName": "Chromewebstore"
}