{
  "canonicalName": "Chrome Management",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "revision": "20260930",
  "resources": {
    "customers": {
      "resources": {
        "enterprise": {
          "resources": {
            "securityInsights": {
              "methods": {
                "queryContentTransfersBreakdowns": {
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryContentTransfersBreakdowns",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days or more recent than 48 hours ago. If `event_time` is not specified, results will end 48 hours ago. Supported fields for filtering: - `user` - `event_domain` - `content_category` - `event_time` Filtering by `user` or `event_domain` requires the `breakdown` dimension to be set to the corresponding value (e.g., you must set `breakdown = USER` to filter by `user`). Supported operators: - `=` for `user`, `event_domain`, and `content_category`. - `<=` for `event_time`. Supported conjunctions: - `AND` Example: `user = \"testuser\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `QueryContentTransfersBreakdowns` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryContentTransfersBreakdowns` must match the call that provided the page token."
                    },
                    "fixedTimeRange": {
                      "type": "string",
                      "description": "Optional. The fixed time range to return the breakdowns for. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS. Fixed time ranges are used to allow for precomputation and optimize response times.",
                      "location": "query",
                      "enum": [
                        "FIXED_TIME_RANGE_UNSPECIFIED",
                        "FIXED_TIME_RANGE_FOUR_HOURS",
                        "FIXED_TIME_RANGE_ONE_DAY",
                        "FIXED_TIME_RANGE_ONE_WEEK",
                        "FIXED_TIME_RANGE_FOUR_WEEKS"
                      ],
                      "enumDescriptions": [
                        "Unspecified fixed time range. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS.",
                        "Four hours.",
                        "One day.",
                        "One week.",
                        "Four weeks."
                      ]
                    },
                    "customer": {
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of breakdowns to return. The service may return fewer than this value. If unspecified, at most 50 breakdowns will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    },
                    "metric": {
                      "description": "Optional. The metric to return the breakdowns for. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS.",
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified content transfers metric. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS.",
                        "The total number of content transfers (sensitive and non-sensitive). This is the sum of the total_uploads, total_downloads, and total_prints.",
                        "The total number of content uploads (sensitive and non-sensitive).",
                        "The total number of content downloads (sensitive and non-sensitive).",
                        "The total number of content prints (sensitive and non-sensitive).",
                        "The total number of sensitive content transfers. This is the sum of the sensitive_uploads, sensitive_downloads, and sensitive_prints.",
                        "The number of sensitive content uploads.",
                        "The number of sensitive content downloads.",
                        "The number of sensitive content prints."
                      ],
                      "enum": [
                        "CONTENT_TRANSFERS_METRIC_UNSPECIFIED",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_UPLOADS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_DOWNLOADS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_PRINTS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_SENSITIVE_TRANSFERS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_UPLOADS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_DOWNLOADS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_PRINTS"
                      ]
                    },
                    "breakdown": {
                      "description": "Optional. The dimension to break down the content transfers by. Defaults to USER.",
                      "enumDescriptions": [
                        "Unspecified breakdown dimension. Defaults to USER.",
                        "Breakdown by user.",
                        "Breakdown by event domain.",
                        "Breakdown by content category."
                      ],
                      "enum": [
                        "CONTENT_TRANSFERS_BREAKDOWN_DIMENSION_UNSPECIFIED",
                        "USER",
                        "EVENT_DOMAIN",
                        "CONTENT_CATEGORY"
                      ],
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryContentTransfersBreakdowns",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "description": "Returns summaries of content transfers for a given metric and breakdown dimension.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+customer}/enterprise/securityInsights:queryContentTransfersBreakdowns"
                },
                "queryUrlVisitsBreakdowns": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "breakdown": {
                      "description": "Optional. The dimension to break down the URL visits by. Defaults to USER.",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "URL_VISITS_BREAKDOWN_DIMENSION_UNSPECIFIED",
                        "USER",
                        "EVENT_DOMAIN"
                      ],
                      "enumDescriptions": [
                        "Unspecified breakdown dimension. Defaults to USER.",
                        "Breakdown by user.",
                        "Breakdown by event domain."
                      ]
                    },
                    "customer": {
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    },
                    "metric": {
                      "enum": [
                        "URL_VISITS_METRIC_UNSPECIFIED",
                        "URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS",
                        "URL_VISITS_METRIC_HIGH_RISK_URL_VISITS",
                        "URL_VISITS_METRIC_MEDIUM_RISK_URL_VISITS",
                        "URL_VISITS_METRIC_LOW_RISK_URL_VISITS"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified URL visits metric. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
                        "The total number of suspicious URL visits. This is the sum of the high_risk_url_visits, medium_risk_url_visits, and low_risk_url_visits.",
                        "The number of suspicious URL visits with high risk.",
                        "The number of suspicious URL visits with medium risk.",
                        "The number of suspicious URL visits with low risk."
                      ],
                      "description": "Optional. The metric to return the breakdowns for. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
                      "type": "string"
                    },
                    "fixedTimeRange": {
                      "enumDescriptions": [
                        "Unspecified fixed time range. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS.",
                        "Four hours.",
                        "One day.",
                        "One week.",
                        "Four weeks."
                      ],
                      "description": "Optional. The fixed time range to return the breakdowns for. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS. Fixed time ranges are used to allow for precomputation and optimize response times.",
                      "type": "string",
                      "enum": [
                        "FIXED_TIME_RANGE_UNSPECIFIED",
                        "FIXED_TIME_RANGE_FOUR_HOURS",
                        "FIXED_TIME_RANGE_ONE_DAY",
                        "FIXED_TIME_RANGE_ONE_WEEK",
                        "FIXED_TIME_RANGE_FOUR_WEEKS"
                      ],
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `QueryUrlVisitsBreakdowns` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryUrlVisitsBreakdowns` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of breakdowns to return. The service may return fewer than this value. If unspecified, at most 50 breakdowns will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days or more recent than 48 hours ago. If `event_time` is not specified, results will end 48 hours ago. Supported fields for filtering: - `user` - `event_domain` - `event_time` Filtering by `user` or `event_domain` requires the `breakdown` dimension to be set to the corresponding value (e.g., you must set `breakdown = USER` to filter by `user`). Supported operators: - `=` for `user` and `event_domain`. - `<=` for `event_time`. Supported conjunctions: - `AND` Example: `user = \"testuser\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "location": "query"
                    }
                  },
                  "description": "Returns summaries of URL visits for a given metric and breakdown dimension. Requires a Chrome Enterprise Premium subscription. If the customer does not have this subscription, query results will be empty.",
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryUrlVisitsBreakdowns",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryUrlVisitsBreakdowns",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+customer}/enterprise/securityInsights:queryUrlVisitsBreakdowns",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ]
                },
                "queryContentTransfers": {
                  "path": "v1/{+customer}/enterprise/securityInsights:queryContentTransfers",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryContentTransfersResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryContentTransfers",
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryContentTransfers",
                  "description": "Returns a high-level summary of content transfers for a given customer.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days, and may be unavailable or inaccurate for time ranges less than 4 hours. If `event_time` is not specified, results will be returned for the last 30 days. Supported fields for filtering: - `event_time` Supported operators: - `>=` and `<=` for `event_time` Supported conjunctions: - `AND` Example: `event_time >= \"2024-01-01T00:00:00Z\" AND event_time <= \"2024-01-02T00:00:00Z\"`"
                    },
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "disable": {
                  "path": "v1/{+customer}/enterprise/securityInsights:disable",
                  "id": "chromemanagement.customers.enterprise.securityInsights.disable",
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The customer to disable insights for. Format: customers/{customer}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1DisableInsightsResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:disable",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1DisableInsightsRequest"
                  },
                  "description": "Disables insights for the customer."
                },
                "checkEnablementStatus": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "description": "Gets the setting state of the insights feature for the customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "path": "v1/{+customer}/enterprise/securityInsights:checkEnablementStatus",
                  "parameters": {
                    "customer": {
                      "description": "Required. The customer to check the enablement status for. Format: customers/{customer_id}",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:checkEnablementStatus",
                  "id": "chromemanagement.customers.enterprise.securityInsights.checkEnablementStatus"
                },
                "enable": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/enterprise/securityInsights:enable",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1EnableInsightsResponse"
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.enable",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:enable",
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1EnableInsightsRequest"
                  },
                  "description": "Enables insights for the customer and sets up required chrome connectors.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights"
                  ],
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer to enable insights for. Format: customers/{customer}",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "queryUrlVisits": {
                  "description": "Returns a high-level summary of URL visits for a given customer. Requires a Chrome Enterprise Premium subscription. If the customer does not have this subscription, query results will be empty.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse"
                  },
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryUrlVisits",
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/enterprise/securityInsights:queryUrlVisits",
                  "parameters": {
                    "filter": {
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days, and may be unavailable or inaccurate for time ranges less than 4 hours. If `event_time` is not specified, results will be returned for the last 30 days. Supported fields for filtering: - `event_time` Supported operators: - `>=` and `<=` for `event_time` Supported conjunctions: - `AND` Example: `event_time >= \"2024-01-01T00:00:00Z\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "type": "string",
                      "location": "query"
                    },
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryUrlVisits"
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "countPrintJobsByPrinter": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByPrinter",
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:countPrintJobsByPrinter",
              "id": "chromemanagement.customers.reports.countPrintJobsByPrinter",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to specify the page of the response to be returned.",
                  "type": "string"
                },
                "printerOrgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit for printers. If specified, only data for printers from the specified organizational unit will be returned. If omitted, data for printers from all organizational units will be returned."
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'printer' field. Supported order_by fields: * printer * job_count * device_count * user_count"
                },
                "customer": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "location": "path"
                }
              },
              "description": "Get a summary of printing done by each printer.",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "countInstalledApps": {
              "path": "v1/{+customer}/reports:countInstalledApps",
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id * manifest_versions * risk_score",
                  "location": "query"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned."
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id * manifest_versions * risk_score"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "description": "Generate report of app installations."
            },
            "countChromeDevicesThatNeedAttention": {
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                },
                "readMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. Mask of the fields that should be populated in the returned report."
                }
              },
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention"
            },
            "countDevicesPerReleaseChannel": {
              "id": "chromemanagement.customers.reports.countDevicesPerReleaseChannel",
              "parameters": {
                "customer": {
                  "location": "path",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                },
                "date.day": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "date.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "date.year": {
                  "location": "query",
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer"
                }
              },
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerReleaseChannel",
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Get a count of devices per channel.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:countDevicesPerReleaseChannel"
            },
            "findInstalledAppDevices": {
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "parameters": {
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit."
                },
                "customer": {
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query"
                },
                "appId": {
                  "type": "string",
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "location": "query"
                },
                "appType": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ]
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Generate report of managed Chrome browser devices that have a specified app installed.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "id": "chromemanagement.customers.reports.findInstalledAppDevices"
            },
            "enumeratePrintJobs": {
              "description": "Get a list of print jobs.",
              "path": "v1/{+customer}/reports:enumeratePrintJobs",
              "parameters": {
                "customer": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported for `complete_time`. Note: Only = comparator supported for `user_id` and `printer_id`. Supported filter fields: * complete_time * printer_id * user_id",
                  "type": "string",
                  "location": "query"
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs submitted to printers from the specified organizational unit will be returned."
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. If not specified, results will be ordered in descending order of the `complete_time` field. Supported order by fields: * title * state * create_time * complete_time * document_page_count * color_mode * duplex_mode * printer * user_email",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The number of print jobs in the page from 0 to 100 inclusive, if page_size is not specified or zero, the size will be 50.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from a previous `EnumeratePrintJobs` call. Provide this to retrieve the subsequent page. If omitted, the first page of results will be returned. When paginating, all other parameters provided to `EnumeratePrintJobs` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.enumeratePrintJobs",
              "response": {
                "$ref": "GoogleChromeManagementV1EnumeratePrintJobsResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:enumeratePrintJobs",
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeProfileVersions": {
              "parameters": {
                "orgUnitId": {
                  "description": "The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+customer}/reports:countChromeProfileVersions",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeProfileVersionsResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeProfileVersions",
              "id": "chromemanagement.customers.reports.countChromeProfileVersions",
              "description": "Generate report of installed Chrome versions on managed profiles."
            },
            "countChromeDevicesReachingAutoExpirationDate": {
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "parameters": {
                "orgUnitId": {
                  "location": "query",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units.",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                },
                "minAueDate": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date."
                },
                "maxAueDate": {
                  "location": "query",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date.",
                  "type": "string"
                }
              },
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ],
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947)."
            },
            "countChromeHardwareFleetDevices": {
              "flatPath": "v1/customers/{customersId}/reports:countChromeHardwareFleetDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer ID or \"my_customer\".",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "readMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "format": "google-fieldmask"
                }
              },
              "id": "chromemanagement.customers.reports.countChromeHardwareFleetDevices",
              "path": "v1/{+customer}/reports:countChromeHardwareFleetDevices"
            },
            "countDevicesPerBootType": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerBootType",
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:countDevicesPerBootType",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "date.month": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\"."
                },
                "date.day": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query"
                },
                "date.year": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                }
              },
              "description": "Get a count of devices per boot type.",
              "id": "chromemanagement.customers.reports.countDevicesPerBootType",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "countChromeBrowsersNeedingAttention": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "parameterOrder": [
                "customer"
              ],
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity.",
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "parameters": {
                "customer": {
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "findSaasUsageProfiles": {
              "response": {
                "$ref": "GoogleChromeManagementV1FindSaasUsageProfilesResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:findSaasUsageProfiles",
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:findSaasUsageProfiles",
              "description": "Find SaaS usage reports of a customer grouped by profiles based on the given search and sorting criteria.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `FindSaasUsageProfiles` call. Provide this to retrieve the subsequent page.",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. The order by expression to sort the SaaS profile reports. Supported fields: * email * os_platform * first_navigation_time * last_navigation_time Default order is ascending. To specify descending order for a field, append \" desc\".",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 100 reports will be returned. The maximum value is 200; values above 200 will be coerced to 200.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional. The filter expression to narrow down the SaaS profile reports to return. Supported operators are: =, !=, <, <=, >, >=, :. Logical operators AND, OR, and NOT are supported. Supported fields: * email * org_unit_id * os_platform * first_navigation_time * last_navigation_time",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "app": {
                  "description": "Required. The name of the SaaS application (e.g., `ChatGPT`, `Gemini`).",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "chromemanagement.customers.reports.findSaasUsageProfiles",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ]
            },
            "findSaasUsageBrowsers": {
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.findSaasUsageBrowsers",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Find SaaS usage reports of a customer grouped by browsers based on the given search and sorting criteria.",
              "parameters": {
                "orderBy": {
                  "description": "Optional. The order by expression to sort the SaaS browser reports. Supported fields: * machine * os_platform * first_navigation_time * last_navigation_time Default order is ascending. To specify descending order for a field, append \" desc\".",
                  "type": "string",
                  "location": "query"
                },
                "app": {
                  "type": "string",
                  "description": "Required. The name of the SaaS application (e.g., `ChatGPT`, `Gemini`).",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of browsers to return. The service may return fewer than this value. If unspecified, at most 100 browsers will be returned. The maximum value is 200; values above 200 will be coerced to 200."
                },
                "filter": {
                  "description": "Optional. The filter expression to narrow down the SaaS browser reports to return. Supported operators are: =, !=, <, <=, >, >=, :. Logical operators AND, OR, and NOT are supported. Supported fields: * machine * os_platform * first_navigation_time * last_navigation_time * org_unit_id",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `FindSaasUsageBrowsers` call. Provide this to retrieve the subsequent page."
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:findSaasUsageBrowsers",
              "response": {
                "$ref": "GoogleChromeManagementV1FindSaasUsageBrowsersResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:findSaasUsageBrowsers"
            },
            "countActiveDevices": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:countActiveDevices",
              "description": "Get a count of active devices per set time frames.",
              "id": "chromemanagement.customers.reports.countActiveDevices",
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/reports:countActiveDevices",
              "parameters": {
                "customer": {
                  "location": "path",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "date.day": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "date.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "date.month": {
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountActiveDevicesResponse"
              }
            },
            "countPrintJobsByUser": {
              "description": "Get a summary of printing done by each user.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countPrintJobsByUser",
              "parameters": {
                "customer": {
                  "required": true,
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs initiated with printers from the specified organizational unit will be counted. If omitted, all print jobs will be counted.",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'user_email' field. Supported order_by fields: * user_email * job_count * printer_count * device_count",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the page of the response to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "path": "v1/{+customer}/reports:countPrintJobsByUser",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByUser",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
              }
            },
            "countChromeVersions": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "description": "Generate report of installed Chrome versions.",
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "customer": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "location": "query"
                },
                "orgUnitId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the organizational unit."
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "path": "v1/{+customer}/reports:countChromeVersions"
            },
            "findSaasUsage": {
              "description": "Find SaaS usage reports of a customer based on the given search and sorting criteria.",
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:findSaasUsage",
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `FindSaasUsageReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FindSaasUsageReports` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The order by expression to sort the SaaS reports. Supported fields: * app * category * organization * founded_year * headquarters * primary_domain * visits_count * distinct_users_count * distinct_browsers_count * content_transfer_count Default order is ascending. To specify descending order for a field, append \" desc\". Example: `visits_count desc`"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. The filter expression to narrow down the SaaS reports to return. Supported operators are: =, !=, <, <=, >, >=, :. Logical operators AND, OR, and NOT are supported. Supported fields: * app * org_unit_id * first_navigation_time * last_navigation_time * category * organization * founded_year * headquarters * primary_domain * domains * encryption_protocols * visits_count * distinct_users_count * distinct_browsers_count * content_transfer_count Example: `(first_navigation_time < \"2026-01-31T00:00:00Z\" AND last_navigation_time > \"2026-01-01T00:00:00Z\") AND visits_count > 100`",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 100 reports will be returned. The maximum value is 200; values above 200 will be coerced to 200.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "flatPath": "v1/customers/{customersId}/reports:findSaasUsage",
              "response": {
                "$ref": "GoogleChromeManagementV1FindSaasUsageReportsResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.findSaasUsage",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "findInstalledAppProfiles": {
              "path": "v1/{+customer}/reports:findInstalledAppProfiles",
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppProfilesResponse"
              },
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppProfiles",
              "description": "Generate report of managed Chrome profiles that have a specified app installed.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.findInstalledAppProfiles",
              "parameters": {
                "appType": {
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "type": "string",
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Field used to order results. Supported order by fields: * email * profile_id * profile_permanent_id",
                  "location": "query",
                  "type": "string"
                },
                "appId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote)."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The ID of the organizational unit.",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                },
                "pageToken": {
                  "description": "Optional. Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                }
              },
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeCrashEvents": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeCrashEvents",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeCrashEvents",
              "description": "Get a count of Chrome crash events.",
              "path": "v1/{+customer}/reports:countChromeCrashEvents",
              "parameters": {
                "orgUnitId": {
                  "description": "If specified, only count the number of crash events of the devices in this organizational unit.",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Customer ID.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Supported filter fields: * major_browser_version * minor_browser_version * browser_channel * device_platform * past_number_days Example: `major_browser_version = 'M115' AND past_number_days = '28'`."
                },
                "orderBy": {
                  "description": "Field used to order results. Supported order by fields: * browser_version * count * date",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "certificateProvisioningProcesses": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}/operations/{operationsId}",
                  "id": "chromemanagement.customers.certificateProvisioningProcesses.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                }
              }
            }
          },
          "methods": {
            "claim": {
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to claim. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$"
                }
              },
              "path": "v1/{+name}:claim",
              "description": "Claims a certificate provisioning process. For each certificate provisioning process, this operation can succeed only for one `caller_instance_id`.",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:claim",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.claim",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "signData": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:signData",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:signData",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SignDataRequest"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.signData",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Requests the client that initiated a certificate provisioning process to sign data. This should only be called after `ClaimCertificateProvisioningProcess` has been successfully executed."
            },
            "uploadCertificate": {
              "id": "chromemanagement.customers.certificateProvisioningProcesses.uploadCertificate",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateRequest"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateResponse"
              },
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:uploadCertificate",
              "path": "v1/{+name}:uploadCertificate",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Uploads a successfully issued certificate for a certificate provisioning process."
            },
            "get": {
              "description": "Retrieves a certificate provisioning process.",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess"
              },
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id."
                }
              },
              "httpMethod": "GET",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.get",
              "path": "v1/{+name}"
            },
            "setFailure": {
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "chromemanagement.customers.certificateProvisioningProcesses.setFailure",
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:setFailure",
              "path": "v1/{+name}:setFailure",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureResponse"
              },
              "description": "Marks a certificate provisioning process as failed."
            }
          }
        },
        "connectorConfigs": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "description": "Gets a connector config with customer ID and config ID.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Format: customers/{customer}/connectorConfigs/{connector_config}"
                }
              },
              "httpMethod": "GET",
              "id": "chromemanagement.customers.connectorConfigs.get"
            },
            "create": {
              "parameters": {
                "connectorConfigId": {
                  "description": "Optional. ID to use for the connector config, which becomes the final component of the connector config's resource name. If provided, the ID must be 1-36 characters long, and contain only lowercase letters, digits, and hyphens. It must start with a letter, and end with a letter or number. If not provided, the connector config will be assigned a random UUID.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. Format: customers/{customer}",
                  "type": "string",
                  "required": true
                }
              },
              "id": "chromemanagement.customers.connectorConfigs.create",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/connectorConfigs",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a connector config.",
              "path": "v1/{+parent}/connectorConfigs"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "chromemanagement.customers.connectorConfigs.patch",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "required": true,
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$"
                },
                "updateMask": {
                  "description": "Optional. The update mask that can be used to specify which fields to update.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "httpMethod": "PATCH",
              "description": "Updates a connector config."
            },
            "delete": {
              "id": "chromemanagement.customers.connectorConfigs.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "description": "Required. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a connector config.",
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListConnectorConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectorConfigs` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Format: customers/{customer}",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of connector configs to return. The default page size is 50 if page_size is unspecified, and the maximum page size allowed is 100. Values above 100 will be capped at 100.",
                  "type": "integer"
                }
              },
              "description": "Lists connector configs of a customer.",
              "id": "chromemanagement.customers.connectorConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/connectorConfigs",
              "flatPath": "v1/customers/{customersId}/connectorConfigs",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse"
              }
            }
          }
        },
        "apps": {
          "methods": {
            "fetchUsersRequestingExtension": {
              "parameters": {
                "orgUnitId": {
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "extensionId": {
                  "description": "Required. The extension for which we want to find the requesting users.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "type": "integer",
                  "format": "int32"
                },
                "customer": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.apps.fetchUsersRequestingExtension",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "path": "v1/{+customer}/apps:fetchUsersRequestingExtension",
              "description": "Get a list of users that have requested to install an extension.",
              "response": {
                "$ref": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse"
              },
              "flatPath": "v1/customers/{customersId}/apps:fetchUsersRequestingExtension"
            },
            "fetchDevicesRequestingExtension": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50."
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned."
                },
                "pageToken": {
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day.",
                  "location": "query",
                  "type": "string"
                },
                "extensionId": {
                  "location": "query",
                  "description": "Required. The extension for which we want to find requesting devices.",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Get a list of devices that have requested to install an extension.",
              "id": "chromemanagement.customers.apps.fetchDevicesRequestingExtension",
              "flatPath": "v1/customers/{customersId}/apps:fetchDevicesRequestingExtension",
              "path": "v1/{+customer}/apps:fetchDevicesRequestingExtension",
              "response": {
                "$ref": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse"
              },
              "httpMethod": "GET"
            },
            "countChromeAppRequests": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                },
                "orderBy": {
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time",
                  "type": "string",
                  "location": "query"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                }
              },
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "description": "Generate summary of app installation requests.",
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "android": {
              "methods": {
                "get": {
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.apps.android.get"
                }
              }
            },
            "chrome": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "required": true,
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.apps.chrome.get"
                }
              }
            },
            "web": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "id": "chromemanagement.customers.apps.web.get",
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameters": {
                    "name": {
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ]
                }
              }
            }
          }
        },
        "telemetry": {
          "resources": {
            "events": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "description": "List telemetry events.",
                  "id": "chromemanagement.customers.telemetry.events.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. Only include resources that match the filter. Although this parameter is currently optional, this parameter will be required- please specify at least 1 event type. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The \"timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "type": "string",
                      "location": "query"
                    },
                    "readMask": {
                      "description": "Required. Read mask to specify which fields to return. Although currently required, this field will become optional, while the filter parameter with an event type will be come required. Supported read_mask paths are: - device - user - audio_severe_underrun_event - usb_peripherals_event - https_latency_change_event - network_state_change_event - wifi_signal_strength_event - vpn_connection_state_change_event - app_install_event - app_uninstall_event - app_launch_event - os_crash_event - external_displays_event ",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "pattern": "^customers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Token to specify next page in the list."
                    }
                  },
                  "path": "v1/{+parent}/telemetry/events",
                  "flatPath": "v1/customers/{customersId}/telemetry/events",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryEventsResponse"
                  }
                }
              }
            },
            "devices": {
              "methods": {
                "get": {
                  "description": "Get telemetry device.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "location": "path",
                      "type": "string"
                    },
[...]
