{
  "title": "Chrome Web Store API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "chromewebstore",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "basePath": "",
  "ownerName": "Google",
  "version": "v1.1",
  "discoveryVersion": "v1",
  "servicePath": "",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "version_module": true,
  "ownerDomain": "google.com",
  "canonicalName": "Chromewebstore",
  "resources": {
    "items": {
      "methods": {
        "get": {
          "description": "Gets your own Chrome Web Store item.",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "id": "chromewebstore.items.get",
          "parameters": {
            "itemId": {
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "projection": {
              "location": "query",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "description": "Determines which subset of the item information to return.",
              "type": "string",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ]
            }
          },
          "path": "chromewebstore/v1.1/items/{itemId}",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "response": {
            "$ref": "Item"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "itemId"
          ]
        },
        "insert": {
          "description": "Inserts a new item.",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "id": "chromewebstore.items.insert",
          "mediaUpload": {
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "path": "/upload/chromewebstore/v1.1/items",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "chromewebstore/v1.1/items",
          "flatPath": "chromewebstore/v1.1/items",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Item"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "publish": {
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Publishes an item.",
          "request": {
            "$ref": "PublishRequest"
          },
          "id": "chromewebstore.items.publish",
          "parameters": {
            "deployPercentage": {
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "publishTarget": {
              "location": "query",
              "type": "string",
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\"."
            },
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "location": "query",
              "type": "boolean"
            },
            "itemId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the item to publish."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "itemId"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish",
          "response": {
            "$ref": "Item2"
          }
        },
        "update": {
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            },
            "maxSize": "2147483648"
          },
          "request": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.update",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "description": "Updates an existing item.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "itemId"
          ],
          "path": "chromewebstore/v1.1/items/{itemId}",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Item"
          },
          "parameters": {
            "itemId": {
              "description": "The ID of the item to upload.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "id": "chromewebstore:v1.1",
  "revision": "20260610",
  "batchPath": "batch",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "schemas": {
    "Item": {
      "id": "Item",
      "type": "object",
      "properties": {
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        },
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "type": "array",
          "items": {
            "$ref": "ItemError"
          }
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        }
      }
    },
    "Item2": {
      "properties": {
        "statusDetail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Detailed human-comprehensible explanation of the status code above."
        },
        "status": {
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        },
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        }
      },
      "id": "Item2",
      "type": "object"
    },
    "ItemError": {
      "description": "Error of the item",
      "properties": {
        "error_code": {
          "description": "The error code.",
          "type": "string"
        },
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        }
      },
      "id": "ItemError",
      "type": "object"
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base."
        },
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        },
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        }
      }
    }
  }
}