{
  "batchPath": "batch",
  "basePath": "",
  "id": "chromemanagement:v1",
  "version": "v1",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "revision": "20260901",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/chrome/management/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "protocol": "rest",
  "name": "chromemanagement",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "discoveryVersion": "v1",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "canonicalName": "Chrome Management",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly": {
          "description": "See Chrome Security Insights reports"
        },
        "https://www.googleapis.com/auth/chrome.management.securityinsights": {
          "description": "Turn Chrome Security Insights on and off and view the data it generates"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        }
      }
    }
  },
  "title": "Chrome Management API",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "schemas": {
    "GoogleChromeManagementVersionsV1QueryContentTransfersResponse": {
      "id": "GoogleChromeManagementVersionsV1QueryContentTransfersResponse",
      "properties": {
        "summaries": {
          "type": "array",
          "description": "A collection of summaries for various content transfers metrics.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ContentTransfersSummary"
          }
        }
      },
      "type": "object",
      "description": "Response message for QueryContentTransfers."
    },
    "GoogleChromeManagementV1DisplayDevice": {
      "type": "object",
      "id": "GoogleChromeManagementV1DisplayDevice",
      "description": "Information of a display device.",
      "properties": {
        "manufacturerId": {
          "description": "Output only. Three letter manufacturer ID.",
          "type": "string",
          "readOnly": true
        },
        "modelId": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Manufacturer product code."
        },
        "serialNumber": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Serial number.",
          "format": "int32"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display device name.",
          "readOnly": true
        },
        "displayHeightMm": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Display height in millimeters.",
          "format": "int32"
        },
        "manufactureYear": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Year of manufacture.",
          "type": "integer"
        },
        "edidVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. EDID version."
        },
        "displayWidthMm": {
          "readOnly": true,
          "description": "Output only. Display width in millimeters.",
          "type": "integer",
          "format": "int32"
        },
        "internal": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Is display internal or not."
        }
      }
    },
    "GoogleChromeManagementVersionsV1AttestationCredential": {
      "description": "Information of public key associated with a Chrome browser profile.",
      "type": "object",
      "properties": {
        "publicKey": {
          "type": "string",
          "format": "byte",
          "readOnly": true,
          "description": "Output only. Value of the public key."
        },
        "keyTrustLevel": {
          "readOnly": true,
          "enum": [
            "KEY_TRUST_LEVEL_UNSPECIFIED",
            "CHROME_BROWSER_HW_KEY",
            "CHROME_BROWSER_OS_KEY"
          ],
          "type": "string",
          "description": "Output only. Trust level of the public key.",
          "enumDescriptions": [
            "Represents an unspecified public key trust level.",
            "Represents a HW key.",
            "Represents an OS key."
          ]
        },
        "keyType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "RSA_KEY",
            "EC_KEY"
          ],
          "description": "Output only. Type of the public key.",
          "enumDescriptions": [
            "Represents an unspecified public key type.",
            "Represents a RSA key.",
            "Represents an EC key."
          ]
        },
        "keyRotationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Latest rotation timestamp of the public key rotation."
        }
      },
      "id": "GoogleChromeManagementVersionsV1AttestationCredential"
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayEvent": {
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
      "properties": {
        "externalDisplayData": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayData"
          },
          "description": "List of external displays that were connected/disconnected."
        }
      },
      "description": "External display connected/disconnected event payload.",
      "type": "object"
    },
    "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "userDetails": {
          "items": {
            "$ref": "GoogleChromeManagementV1UserRequestingExtensionDetails"
          },
          "description": "Details of users that have requested the queried extension.",
          "type": "array"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of users in response."
        }
      },
      "id": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse",
      "type": "object",
      "description": "Response containing a list of users that have requested the queried extension."
    },
    "GoogleChromeManagementV1ProfileAppInstallInstance": {
      "properties": {
        "profilePermanentId": {
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer.",
          "readOnly": true,
          "type": "string"
        },
        "profileOrgUnitId": {
          "description": "Output only. The organizational unit id of the profile.",
          "type": "string",
          "readOnly": true
        },
        "profileId": {
          "description": "Output only. The Chrome client side profile ID.",
          "type": "string",
          "readOnly": true
        },
        "email": {
          "description": "Output only. The email of the profile.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementV1ProfileAppInstallInstance",
      "description": "Describes a profile reporting Chrome Profile information."
    },
    "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse": {
      "id": "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse",
      "description": "Response message for QueryContentTransfersBreakdowns.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "contentTransfersBreakdowns": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ContentTransfersBreakdown"
          },
          "description": "The content transfer breakdowns from the specified insight."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1CountInstalledAppsResponse": {
      "description": "Response containing details of queried installed apps.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountInstalledAppsResponse",
      "properties": {
        "installedApps": {
          "items": {
            "$ref": "GoogleChromeManagementV1InstalledApp"
          },
          "type": "array",
          "description": "List of installed apps matching request."
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "Total number of installed apps matching request.",
          "format": "int32"
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryUsersResponse": {
      "properties": {
        "telemetryUsers": {
          "description": "Telemetry users returned in the response.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryUser"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryUsersResponse",
      "type": "object",
      "description": "Response message for listing telemetry users for a customer."
    },
    "GoogleChromeManagementV1ThunderboltInfo": {
      "type": "object",
      "description": "Thunderbolt bus info. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceSecurityStatus](https://chromeenterprise.google/policies/#ReportDeviceSecurityStatus) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: No * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BUS_DEVICE_INFO",
      "properties": {
        "securityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Thunderbolt security level is not set.",
            "All devices are automatically connected by the firmware. No user approval is needed.",
            "User is asked whether the device is allowed to be connected.",
            "User is asked whether the device is allowed to be connected. In addition the device is sent a challenge that should match the expected one based on a random key written to the key sysfs attribute",
            "The firmware automatically creates tunnels for Thunderbolt.",
            "The firmware automatically creates tunnels for the USB controller and Display Port in a dock. All PCIe links downstream of the dock are removed.",
            "PCIE tunneling is disabled."
          ],
          "enum": [
            "THUNDERBOLT_SECURITY_LEVEL_UNSPECIFIED",
            "THUNDERBOLT_SECURITY_NONE_LEVEL",
            "THUNDERBOLT_SECURITY_USER_LEVEL",
            "THUNDERBOLT_SECURITY_SECURE_LEVEL",
            "THUNDERBOLT_SECURITY_DP_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_USB_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_NO_PCIE_LEVEL"
          ],
          "description": "Security level of the Thunderbolt bus."
        }
      },
      "id": "GoogleChromeManagementV1ThunderboltInfo"
    },
    "GoogleChromeManagementVersionsV1DeviceTrustConfig": {
      "id": "GoogleChromeManagementVersionsV1DeviceTrustConfig",
      "type": "object",
      "properties": {
        "serviceProvider": {
          "description": "Optional. The service provider for the device trust connector.",
          "enum": [
            "SERVICE_PROVIDER_UNSPECIFIED",
            "UNIVERSAL_DEVICE_TRUST",
            "OKTA",
            "PING_IDENTITY",
            "ONELOGIN",
            "DUO",
            "ZSCALER",
            "OMNISSA",
            "JUMPCLOUD"
          ],
          "enumDescriptions": [
            "Default value.",
            "Universal device trust connector.",
            "Okta service provider.",
            "Ping Identity service provider.",
            "OneLogin service provider.",
            "Duo service provider.",
            "Zscaler service provider.",
            "Omnissa service provider.",
            "JumpCloud service provider."
          ],
          "type": "string"
        },
        "serviceAccounts": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of email addresses of the service accounts which are allowed to call the Verified Access API with full access.",
          "type": "array"
        },
        "urlMatchers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of URLs allowed to be part of the attestation flow to get the set of signals from the machine. URLs must have HTTPS scheme, e.g. \"https://example.com\". Wildcards, *, are allowed. For detailed information on valid URL patterns, please see https://cloud.google.com/docs/chrome-enterprise/policies/url-patterns."
        },
        "scope": {
          "enum": [
            "BROWSER_ENFORCEMENT_SCOPE_UNSPECIFIED",
            "BROWSERS_ONLY",
            "PROFILES_ONLY",
            "BROWSERS_AND_PROFILES"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Only browsers are enforced.",
            "Only profiles are enforced.",
            "Both browsers and profiles are enforced."
          ],
          "description": "Required. The scope at which this configuration will be applied. Note that this only applies to Chrome browser, as in ChromeOS it's always applied.",
          "type": "string"
        }
      },
      "description": "Device trust config for device trust connectors."
    },
    "GoogleChromeManagementVersionsV1GenericCaConnection": {
      "description": "Describes a generic Certificate Authority Connection.",
      "id": "GoogleChromeManagementVersionsV1GenericCaConnection",
      "type": "object",
      "properties": {
        "caConnectionAdapterConfigReference": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A string that references the administrator-provided configuration for the certification authority service."
        }
      }
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponse": {
      "description": "Response contains a list of CrashEventCountByVersionPerDay which count the chrome crash at the certain date.",
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponse",
      "type": "object",
      "properties": {
        "crashEventCounts": {
          "description": "Crash event counts grouped by date and browser version.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount"
          }
        }
      }
    },
    "GoogleChromeManagementVersionsV1SubjectAltName": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "The subject alternative name type is unspecified.",
            "The subject alternative name type is an email address adhering to RFC822.",
            "The subject alternative name type is a Domain Name System (DNS).",
            "The subject alternative name type is a User Principal Name (UPN).",
            "The subject alternative name type is a Uniform Resource Identifier (URI)."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "SUBJECT_ALT_NAME_TYPE_UNSPECIFIED",
            "RFC822_NAME",
            "DNS_NAME",
            "OTHER_NAME_USER_PRINCIPAL_NAME",
            "UNIFORM_RESOURCE_IDENTIFIER"
          ],
          "description": "Output only. The type of the SubjectAltName extension."
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the subject alternative name with respect to the `type`."
        }
      },
      "id": "GoogleChromeManagementVersionsV1SubjectAltName",
      "description": "Describes a subject alternative name.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ConnectorConfigStatus": {
      "id": "GoogleChromeManagementVersionsV1ConnectorConfigStatus",
      "type": "object",
      "description": "The status of the connector config.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The connector config is enabled.",
            "The connector config is transiently disabled due to failures."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CONFIG_STATE_UNKNOWN",
            "ENABLED",
            "DISABLED_BY_FAILURES"
          ],
          "description": "Output only. The state of the connector config. The connector state is disabled if the connector has not successfully sent an event in the last 24 hours."
        },
        "failureStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Field recording time of the earliest failure since the last success event. This field is only set when the state is `DISABLED_BY_FAILURES`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Field recording time of most recent modification of the status. For `ENABLED`, this is the time the status was changed to `ENABLED`. For `DISABLED_BY_FAILURES`, this is the time of the most recent failed attempt to send an event to this config.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest": {
      "description": "Request message for claiming a certificate provisioning process.",
      "properties": {
        "callerInstanceId": {
          "type": "string",
          "description": "Required. The instance id of the caller."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest"
    },
    "GoogleChromeManagementV1AndroidAppPermission": {
      "type": "object",
      "id": "GoogleChromeManagementV1AndroidAppPermission",
      "description": "Permission requested by an Android app.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Output only. The type of the permission.",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.",
      "type": "object",
      "properties": {
        "deviceAueCountReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          },
          "description": "The list of reports sorted by auto update expiration date in ascending order.",
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
    },
    "GoogleChromeManagementV1TelemetryAppLaunchEvent": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryAppLaunchEvent",
      "description": "App launch data.",
      "properties": {
        "appId": {
          "type": "string",
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id."
        },
        "appType": {
          "description": "Type of app.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ]
        },
        "appLaunchSource": {
          "enum": [
            "APPLICATION_LAUNCH_SOURCE_UNSPECIFIED",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_GRID_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_QUERY_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_APP_LIST_RECOMMENDATION",
            "APPLICATION_LAUNCH_SOURCE_PARENTAL_CONTROLS",
            "APPLICATION_LAUNCH_SOURCE_SHELF",
            "APPLICATION_LAUNCH_SOURCE_FILE_MANAGER",
            "APPLICATION_LAUNCH_SOURCE_LINK",
            "APPLICATION_LAUNCH_SOURCE_OMNIBOX",
            "APPLICATION_LAUNCH_SOURCE_CHROME_INTERNAL",
            "APPLICATION_LAUNCH_SOURCE_KEYBOARD",
            "APPLICATION_LAUNCH_SOURCE_OTHER_APP",
            "APPLICATION_LAUNCH_SOURCE_MENU",
            "APPLICATION_LAUNCH_SOURCE_INSTALLED_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_TEST",
            "APPLICATION_LAUNCH_SOURCE_ARC",
            "APPLICATION_LAUNCH_SOURCE_SHARESHEET",
            "APPLICATION_LAUNCH_SOURCE_RELEASE_NOTES_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_FULL_RESTORE",
            "APPLICATION_LAUNCH_SOURCE_SMART_TEXT_CONTEXT_MENU",
            "APPLICATION_LAUNCH_SOURCE_DISCOVER_TAB_NOTIFICATION",
            "APPLICATION_LAUNCH_SOURCE_MANAGEMENT_API",
            "APPLICATION_LAUNCH_SOURCE_KIOSK",
            "APPLICATION_LAUNCH_SOURCE_COMMAND_LINE",
            "APPLICATION_LAUNCH_SOURCE_BACKGROUND_MODE",
            "APPLICATION_LAUNCH_SOURCE_NEW_TAB_PAGE",
            "APPLICATION_LAUNCH_SOURCE_INTENT_URL",
            "APPLICATION_LAUNCH_SOURCE_OS_LOGIN",
            "APPLICATION_LAUNCH_SOURCE_PROTOCOL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_URL_HANDLER",
            "APPLICATION_LAUNCH_SOURCE_LOCK_SCREEN",
            "APPLICATION_LAUNCH_SOURCE_APP_HOME_PAGE",
            "APPLICATION_LAUNCH_SOURCE_REPARENTING",
            "APPLICATION_LAUNCH_SOURCE_PROFILE_MENU",
            "APPLICATION_LAUNCH_SOURCE_SYSTEM_TRAY_CALENDAR",
            "APPLICATION_LAUNCH_SOURCE_INSTALLER",
            "APPLICATION_LAUNCH_SOURCE_FIRST_RUN",
            "APPLICATION_LAUNCH_SOURCE_WELCOME_TOUR",
            "APPLICATION_LAUNCH_SOURCE_FOCUS_MODE",
            "APPLICATION_LAUNCH_SOURCE_SPARKY",
            "APPLICATION_LAUNCH_SOURCE_NAVIGATION_CAPTURING",
            "APPLICATION_LAUNCH_SOURCE_WEB_INSTALL_API"
          ],
          "enumDescriptions": [
            "Application launch source unknown.",
            "Application launched from the grid of apps, not the search box.",
            "Application launched from the grid of apps, off of the context menu.",
            "Application launched from query-dependent results (larger icons).",
            "Application launched from query-dependent results, off of the context menu.",
            "Application launched from query-less recommendations (smaller icons).",
            "Application launched from the Parental Controls Settings section and Per App time notification.",
            "Application launched from shelf.",
            "Application launched from the file manager",
            "Application launched from left click on a link in the browser.",
            "Application launched from entering a URL in the Omnibox on the browser.",
            "Application launched from a Chrome internal call.",
            "Application launched from keyboard shortcut for opening app.",
            "Application launched from clicking a link in another app or WebUI.",
            "Application launched from menu.",
            "Application launched from the installed notification.",
            "Application launched from a test.",
            "Application launched from Arc.",
            "Application launched from Sharesheet.",
            "Application launched from the release notes notification.",
            "Application launched from a full restore.",
            "Application launched from a smart text selection context menu.",
            "Application launched from a discover tab notification.",
            "Application launched from the Management API.",
            "Application launched from kiosk.",
            "Application launched from the command line.",
            "Application launched from background mode.",
            "Application launched from the new tab page.",
            "Application launched from an intent URL.",
            "Application launched from OS login.",
            "Application launched from protocol handler.",
            "Application launched from URL handler.",
            "Application launched from lock screen app launcher.",
            "Application launched from app home (chrome://apps) page.",
            "Application launched from moving content into an app.",
            "Application launched from profile menu of installable chrome://password-manager WebUI.",
            "Application launched from system tray calendar.",
            "Application launched from source installer.",
            "Count first-run Help app launches separately so that we can understand the number of user-triggered launches.",
            "Application launched from welcome tour.",
            "Applicationed launched from focus panel.",
            "Application launched from experimental feature Sparky.",
            "Application launched from navigation capturing.",
            "Application launched from web install API."
          ],
          "type": "string",
          "description": "App launch source."
        }
      }
    },
    "GoogleChromeManagementV1CpuTemperatureInfo": {
      "properties": {
        "label": {
          "description": "Output only. CPU label. Example: Core 0",
          "type": "string",
          "readOnly": true
        },
        "temperatureCelsius": {
          "readOnly": true,
          "description": "Output only. CPU temperature in Celsius.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleChromeManagementV1CpuTemperatureInfo",
      "type": "object",
      "description": "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
    },
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "description": "Response message for listing telemetry events for a customer.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        },
        "telemetryEvents": {
          "description": "Telemetry events returned in the response.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          },
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryNotificationConfig": {
      "description": "Configuration to receive notifications of telemetry data.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the notification configuration.",
          "type": "string"
        },
        "googleCloudPubsubTopic": {
          "type": "string",
          "description": "The pubsub topic to which notifications are published to."
        },
        "filter": {
          "$ref": "GoogleChromeManagementV1TelemetryNotificationFilter",
          "description": "Only send notifications for telemetry data matching this filter."
        },
        "customer": {
          "readOnly": true,
          "description": "Output only. Google Workspace customer that owns the resource.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryNotificationConfig"
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse": {
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse",
      "properties": {
        "thirdPartyProfileUser": {
          "readOnly": true,
          "description": "Output only. The moved third party profile user.",
          "$ref": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser"
        }
      },
      "type": "object",
      "description": "Response for MoveThirdPartyProfileUser method."
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "type": "object",
      "description": "Response containing counts for devices that need attention.",
      "properties": {
        "noRecentUserActivityCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days."
        },
        "unsupportedPolicyCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch."
        },
        "osVersionNotCompliantCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of devices whose OS version is not compliant."
        },
        "pendingUpdate": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices that are pending an OS update."
        },
        "noRecentPolicySyncCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days."
        }
      },
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
    },
    "GoogleChromeManagementV1CountPrintJobsByPrinterResponse": {
      "id": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse",
      "description": "Response containing a summary printing report for each printer from the specified organizational unit for the requested time interval.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token for requesting the next page."
        },
        "printerReports": {
          "description": "List of PrinterReports matching request.",
          "items": {
            "$ref": "GoogleChromeManagementV1PrinterReport"
          },
          "type": "array"
        },
        "totalSize": {
          "type": "string",
          "description": "Total number of printers matching request.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleChromeManagementV1KioskAppStatusReport": {
      "description": "Kiosk app status report of a device. * Available for Kiosks * This field provides the app id and version number running on a kiosk device and the timestamp of when the report was last updated * Data for this field is controlled via policy: [ReportDeviceSessionStatus](https://chromeenterprise.google/policies/#ReportDeviceSessionStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_APPS_REPORT",
      "type": "object",
      "id": "GoogleChromeManagementV1KioskAppStatusReport",
      "properties": {
        "appVersion": {
          "type": "string",
          "description": "App version number of kiosk app for example \"1.10.118\""
        },
        "reportTime": {
          "type": "string",
          "description": "Timestamp of when report was collected",
          "format": "google-datetime"
        },
        "appId": {
          "type": "string",
          "description": "App id of kiosk app for example \"mdmkkicfmmkgmpkmkdikhlbggogpicma\""
        }
      }
    },
    "GoogleChromeManagementVersionsV1DeviceInfo": {
      "properties": {
        "machine": {
          "description": "Output only. Machine name of the device on which the profile exists. On platforms which do not report the machine name (currently iOS and Android) this is instead set to the browser's device_id - but note that this is a different device_id than the |affiliated_device_id|.",
          "type": "string",
          "readOnly": true
        },
        "hostname": {
          "description": "Output only. Hostname of the device on which the profile exists.",
          "readOnly": true,
          "type": "string"
        },
        "affiliatedDeviceId": {
          "description": "Output only. Device ID that identifies the affiliated device on which the profile exists. If the device type is CHROME_BROWSER, then this represents a unique Directory API ID of the device that can be used in Admin SDK Browsers API.",
          "type": "string",
          "readOnly": true
        },
        "deviceType": {
          "enumDescriptions": [
            "Represents an unspecified device type.",
            "Represents a Chrome browser device."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the device on which the profile exists.",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "CHROME_BROWSER"
          ]
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1DeviceInfo",
      "description": "Information of a device that runs a Chrome browser profile."
    },
    "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse": {
      "description": "Response containing a list of devices that have requested the queried extension.",
      "id": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse",
      "type": "object",
      "properties": {
        "deviceDetails": {
          "type": "array",
          "description": "Details of devices that have requested the queried extension.",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceRequestingExtensionDetails"
          }
        },
        "totalSize": {
          "type": "integer",
          "description": "Optional. Total number of devices in response.",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "Optional. Token to specify the next page in the list. Token expires after 1 day.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1InstalledApp": {
      "description": "Describes an installed app.",
      "type": "object",
      "id": "GoogleChromeManagementV1InstalledApp",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the installed app.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Output only. Whether the app is disabled.",
          "readOnly": true
        },
        "appInstallType": {
          "enumDescriptions": [
            "Application install type not specified.",
            "Multiple app install types.",
            "Normal app install type.",
            "Administrator app install type.",
            "Development app install type.",
            "Sideloaded app install type.",
            "Other app install type."
          ],
          "enum": [
            "APP_INSTALL_TYPE_UNSPECIFIED",
            "MULTIPLE",
            "NORMAL",
            "ADMIN",
            "DEVELOPMENT",
            "SIDELOAD",
            "OTHER"
          ],
          "readOnly": true,
          "description": "Output only. How the app was installed.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Name of the installed app.",
          "type": "string"
        },
        "appSource": {
          "enumDescriptions": [
            "Application source not specified.",
            "Generally for extensions and Chrome apps.",
            "Play Store app."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the installed app.",
          "enum": [
            "APP_SOURCE_UNSPECIFIED",
            "CHROME_WEBSTORE",
            "PLAY_STORE"
          ]
        },
        "profileCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Count of Chrome Profiles with this app installed."
        },
        "permissions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Permissions of the installed app.",
          "items": {
            "type": "string"
          }
        },
        "browserDeviceCount": {
          "readOnly": true,
          "description": "Output only. Count of browser devices with this app installed.",
          "format": "int64",
          "type": "string"
        },
        "homepageUri": {
          "readOnly": true,
          "description": "Output only. Homepage uri of the installed app.",
          "type": "string"
        },
        "appId": {
          "description": "Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
          "readOnly": true,
          "type": "string"
        },
        "osUserCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Count of ChromeOS users with this app installed.",
          "type": "string"
        },
        "appType": {
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "EXTENSION",
            "APP",
            "THEME",
            "HOSTED_APP",
            "ANDROID_APP"
          ],
          "description": "Output only. Type of the app.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "App type not specified.",
            "Chrome extension.",
            "Chrome app.",
            "Chrome theme.",
            "Chrome hosted app.",
            "ARC++ app."
          ]
        },
        "riskAssessment": {
          "description": "Output only. If available, the risk assessment data about this extension.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1RiskAssessmentData"
        }
      }
    },
    "GoogleChromeManagementV1NetworkBandwidthReport": {
      "id": "GoogleChromeManagementV1NetworkBandwidthReport",
      "description": "Network bandwidth report. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "type": "string",
          "description": "Output only. Timestamp of when the report was collected.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "downloadSpeedKbps": {
          "readOnly": true,
          "description": "Output only. Download speed in kilobits per second.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryOsCrashEvent": {
      "type": "object",
      "id": "GoogleChromeManagementV1TelemetryOsCrashEvent",
      "description": "OS crash data.",
      "properties": {
        "crashType": {
          "enum": [
            "CRASH_TYPE_UNSPECIFIED",
            "CRASH_TYPE_KERNEL",
            "CRASH_TYPE_EMBEDDED_CONTROLLER"
          ],
          "description": "Crash type.",
          "type": "string",
          "enumDescriptions": [
            "Crash type unknown.",
            "Kernel crash.",
            "Embedded controller crash."
          ]
        },
        "crashId": {
          "type": "string",
          "description": "Crash id."
        },
        "sessionType": {
          "type": "string",
          "enumDescriptions": [
            "Session type unknown.",
            "Signed in user.",
            "Kiosk.",
            "Managed guest session.",
            "Active directory session."
          ],
          "enum": [
            "SESSION_TYPE_UNSPECIFIED",
            "SESSION_TYPE_SIGNED_IN_USER",
            "SESSION_TYPE_KIOSK",
            "SESSION_TYPE_MANAGED_GUEST",
            "SESSION_TYPE_ACTIVE_DIRECTORY"
          ],
          "description": "Session type."
        }
      }
    },
    "GoogleTypeDate": {
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleChromeManagementV1CountActiveDevicesResponse": {
      "id": "GoogleChromeManagementV1CountActiveDevicesResponse",
      "description": "Response containing the number of active devices.",
      "properties": {
        "sevenDaysCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of active devices in the 7 days leading up to the date specified in the request."
        },
        "thirtyDaysCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of active devices in the 30 days leading up to the date specified in the request."
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "description": "Network device information. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_NETWORK_INFO",
      "id": "GoogleChromeManagementV1NetworkInfo",
      "type": "object",
      "properties": {
        "networkDevices": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          },
          "description": "Output only. List of network devices."
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "telemetryNotificationConfigs": {
          "description": "The telemetry notification configs from the specified customer.",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
          },
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse",
      "description": "Response message for listing notification configs for a customer."
    },
    "GoogleChromeManagementVersionsV1ScepProfile": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ScepProfile",
      "properties": {
        "subjectCommonName": {
          "description": "Output only. The common name of the subject.",
          "type": "string",
          "readOnly": true
        },
        "organization": {
          "description": "Output only. The name of the organization the subject belongs to.",
          "readOnly": true,
          "type": "string"
        },
        "country": {
          "description": "Output only. The country of the subject.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the subject."
        },
        "keyUsages": {
          "type": "array",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "The key usage is unspecified.",
              "The key can be used for signing.",
              "The key can be used for key encipherment."
            ],
            "type": "string",
            "enum": [
              "KEY_USAGE_UNSPECIFIED",
              "KEY_USAGE_SIGNING",
              "KEY_USAGE_KEY_ENCIPHERMENT"
            ]
          },
          "description": "Output only. The allowed key usages for certificate's key."
        },
        "locality": {
          "description": "Output only. The locality of the subject.",
          "readOnly": true,
          "type": "string"
        },
        "certificateTemplateName": {
          "readOnly": true,
          "description": "Output only. The certificate template name as defined by the admin on their on-prem infrastructure. The Certificate Authority uses this name to identify the certificate template.",
          "type": "string"
        },
        "subjectAltNames": {
          "description": "Output only. The subject alternative names.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1SubjectAltName"
          },
          "type": "array",
          "readOnly": true
        },
        "organizationalUnits": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The organizational units of the subject."
        }
      },
      "description": "Describes a SCEP certificate provisioning profile."
    },
    "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "urlVisitsBreakdowns": {
          "description": "The URL visit breakdowns from the specified insight.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1UrlVisitsBreakdown"
          }
        }
      },
      "description": "Response message for QueryUrlVisitsBreakdowns.",
      "id": "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse",
      "type": "object"
    },
    "GoogleChromeManagementV1DiskInfo": {
      "type": "object",
      "description": "Status of the single storage device.",
      "id": "GoogleChromeManagementV1DiskInfo",
      "properties": {
        "health": {
          "readOnly": true,
          "description": "Output only. Disk health.",
          "type": "string"
        },
        "writeTimeThisSession": {
          "description": "Output only. Time spent writing to disk since last boot.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "sizeBytes": {
          "description": "Output only. Disk size.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "discardTimeThisSession": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+.",
          "readOnly": true
        },
        "serialNumber": {
          "description": "Output only. Disk serial number.",
          "readOnly": true,
          "type": "string"
        },
        "bytesWrittenThisSession": {
          "description": "Output only. Number of bytes written since last boot.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Output only. Disk type: eMMC / NVMe / ATA / SCSI.",
          "type": "string",
          "readOnly": true
        },
        "model": {
          "description": "Output only. Disk model.",
          "readOnly": true,
          "type": "string"
        },
        "readTimeThisSession": {
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. Time spent reading from disk since last boot.",
          "type": "string"
        },
        "volumeIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Disk volumes.",
          "type": "array",
          "readOnly": true
        },
        "ioTimeThisSession": {
          "format": "google-duration",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times."
        },
        "manufacturer": {
          "description": "Output only. Disk manufacturer.",
          "readOnly": true,
          "type": "string"
        },
        "bytesReadThisSession": {
          "readOnly": true,
          "description": "Output only. Number of bytes read since last boot.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementVersionsV1MipLabelConfig": {
      "id": "GoogleChromeManagementVersionsV1MipLabelConfig",
      "description": "MIP label connector config.",
      "type": "object",
      "properties": {
        "domains": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Domain can be used optionally for the corner case where one Dasher customer ID maps to multiple Microsoft tenant ID. Each domain can be verified with at most one Microsoft tenant.",
          "type": "array"
        },
        "microsoftTenantId": {
          "type": "string",
          "description": "Required. Microsoft tenant ID."
        }
      }
    },
    "GoogleChromeManagementV1DeviceAueCountReport": {
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceAueCountReport",
      "description": "Report for CountChromeDevicesPerAueDateResponse, contains the count of devices of a specific model and auto update expiration range.",
      "properties": {
        "aueMonth": {
          "description": "Enum value of month corresponding to the auto update expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string",
          "enumDescriptions": [
            "The unspecified month.",
            "The month of January.",
            "The month of February.",
            "The month of March.",
            "The month of April.",
            "The month of May.",
            "The month of June.",
            "The month of July.",
            "The month of August.",
            "The month of September.",
            "The month of October.",
            "The month of November.",
            "The month of December."
          ],
          "enum": [
            "MONTH_UNSPECIFIED",
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ]
        },
        "aueYear": {
          "format": "int64",
          "description": "Int value of year corresponding to the Auto Update Expiration date in UTC time zone. If the device is already expired, this field is empty.",
          "type": "string"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Count of devices of this model."
        },
        "model": {
          "description": "Public model name of the devices.",
          "type": "string"
        },
        "expired": {
          "description": "Boolean value for whether or not the device has already expired.",
          "type": "boolean"
        }
      }
    },
    "GoogleChromeManagementVersionsV1EnableInsightsRequest": {
      "id": "GoogleChromeManagementVersionsV1EnableInsightsRequest",
      "description": "Request to enable insights for the customer.",
      "properties": {
        "targetOus": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The Organizational Units to set up required connectors for. Organizational Units are provided as paths relative to root. If this field is not set, connectors will be set up at root OU (as if it were set to [\"/\"]). Example: [\"/corp/sales\", \"/eng\"]"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "type": "object",
      "properties": {
        "problem": {
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "type": "string",
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ],
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "readOnly": true
        },
        "latency": {
          "format": "google-duration",
          "readOnly": true,
          "type": "string",
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY."
        }
      },
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData",
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites."
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleChromeManagementVersionsV1ContentTransfersSummary": {
      "type": "object",
      "properties": {
        "metric": {
          "description": "The type of content transfers metric.",
          "enum": [
            "CONTENT_TRANSFERS_METRIC_UNSPECIFIED",
            "CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS",
            "CONTENT_TRANSFERS_METRIC_TOTAL_UPLOADS",
            "CONTENT_TRANSFERS_METRIC_TOTAL_DOWNLOADS",
            "CONTENT_TRANSFERS_METRIC_TOTAL_PRINTS",
            "CONTENT_TRANSFERS_METRIC_TOTAL_SENSITIVE_TRANSFERS",
            "CONTENT_TRANSFERS_METRIC_SENSITIVE_UPLOADS",
            "CONTENT_TRANSFERS_METRIC_SENSITIVE_DOWNLOADS",
            "CONTENT_TRANSFERS_METRIC_SENSITIVE_PRINTS"
          ],
          "enumDescriptions": [
            "Unspecified content transfers metric. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS.",
            "The total number of content transfers (sensitive and non-sensitive). This is the sum of the total_uploads, total_downloads, and total_prints.",
            "The total number of content uploads (sensitive and non-sensitive).",
            "The total number of content downloads (sensitive and non-sensitive).",
            "The total number of content prints (sensitive and non-sensitive).",
            "The total number of sensitive content transfers. This is the sum of the sensitive_uploads, sensitive_downloads, and sensitive_prints.",
            "The number of sensitive content uploads.",
            "The number of sensitive content downloads.",
            "The number of sensitive content prints."
          ],
          "type": "string"
        },
        "count": {
          "type": "string",
          "description": "The count of the content transfers metric.",
          "format": "int64"
        }
      },
      "description": "Summary of content transfers for a given metric.",
      "id": "GoogleChromeManagementVersionsV1ContentTransfersSummary"
    },
    "GoogleChromeManagementVersionsV1PubSubXdrConfig": {
      "id": "GoogleChromeManagementVersionsV1PubSubXdrConfig",
      "properties": {
        "topicFullPath": {
          "description": "Required. The full path to the topic to send the event to.",
          "type": "string"
        },
        "xdrSettings": {
          "description": "Required. The XDR settings for the Pub/Sub XDR config.",
          "$ref": "GoogleChromeManagementVersionsV1XdrSettings"
        }
      },
      "type": "object",
      "description": "Pub/Sub XDR connector config."
    },
    "GoogleChromeManagementV1MemoryInfo": {
      "description": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO",
      "id": "GoogleChromeManagementV1MemoryInfo",
      "type": "object",
      "properties": {
        "totalRamBytes": {
          "readOnly": true,
          "description": "Output only. Total RAM in bytes.",
          "format": "int64",
          "type": "string"
        },
        "availableRamBytes": {
          "description": "Output only. Amount of available RAM in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "totalMemoryEncryption": {
          "description": "Output only. Total memory encryption info for the device.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TotalMemoryEncryptionInfo"
        }
      }
    },
    "GoogleChromeManagementV1TouchScreenDevice": {
      "id": "GoogleChromeManagementV1TouchScreenDevice",
      "description": "Information of an internal touch screen device.",
      "properties": {
        "stylusCapable": {
          "type": "boolean",
          "description": "Output only. Touch screen device is stylus capable or not.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Touch screen device display name."
        },
        "touchPointCount": {
          "readOnly": true,
          "description": "Output only. Number of touch points supported on the device.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1DeviceRequestingExtensionDetails": {
      "description": "Details of a device requesting an extension, including the name of the device and the justification of the request.",
      "type": "object",
      "id": "GoogleChromeManagementV1DeviceRequestingExtensionDetails",
      "properties": {
        "justification": {
          "type": "string",
          "description": "Request justification as entered by the user."
        },
        "deviceName": {
          "description": "The name of a device that has requested the extension.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1FindInstalledAppProfilesResponse": {
      "type": "object",
      "id": "GoogleChromeManagementV1FindInstalledAppProfilesResponse",
      "description": "Response containing a list of profiles with queried app installed.",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "Total number of profiles matching request.",
          "format": "int32"
        },
        "profiles": {
          "items": {
            "$ref": "GoogleChromeManagementV1ProfileAppInstallInstance"
          },
          "type": "array",
          "description": "A list of profiles which have the app installed. Sorted in ascending alphabetical order on the profile.Email field."
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1XdrSettings": {
      "description": "XDR settings for connector configs.",
      "id": "GoogleChromeManagementVersionsV1XdrSettings",
      "type": "object",
      "properties": {
        "enableAllXdrEvents": {
          "description": "Required. Whether to enable all XDR events.",
          "type": "boolean"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse": {
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse",
      "description": "Response to ListChromeBrowserProfileCommands method.",
      "properties": {
        "totalSize": {
          "description": "Total size represents an estimated number of resources returned.",
          "type": "string",
          "format": "int64"
        },
        "chromeBrowserProfileCommands": {
          "description": "The list of commands returned.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse": {
      "description": "Response to ListConnectorConfigs method.",
      "id": "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to retrieve the next page of the listing request. If the token is empty, there are no more pages to retrieve."
        },
        "connectorConfigs": {
          "description": "The list of connector configs returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
          }
        }
      }
    },
    "GoogleChromeManagementV1UsbPeripheralReport": {
      "properties": {
        "name": {
          "description": "Output only. Device name, model name, or product name",
          "readOnly": true,
          "type": "string"
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Categories the device belongs to https://www.usb.org/defined-class-codes"
        },
        "vendor": {
          "type": "string",
          "description": "Output only. Vendor name",
          "readOnly": true
        },
        "firmwareVersion": {
          "readOnly": true,
          "description": "Output only. Firmware version",
          "type": "string"
        },
        "vid": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Vendor ID"
        },
        "pid": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Product ID",
          "type": "integer"
        },
        "subclassId": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Subclass ID https://www.usb.org/defined-class-codes",
          "type": "integer"
        },
        "classId": {
          "format": "int32",
          "description": "Output only. Class ID https://www.usb.org/defined-class-codes",
          "type": "integer",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1UsbPeripheralReport",
      "description": "USB connected peripheral report.",
      "type": "object"
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "Total size represents an estimated number of resources returned. Not guaranteed to be accurate above 10k profiles.",
          "type": "string",
          "format": "int64"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token that can be used to list the next page."
        },
        "chromeBrowserProfiles": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
          },
          "type": "array",
          "description": "The list of profiles returned."
        }
      },
      "description": "Response to ListChromeBrowserProfiles method.",
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse"
    },
    "GoogleChromeManagementV1TelemetryUserDevice": {
      "type": "object",
      "description": "Telemetry data collected for a managed user and device. * Granular permission needed: TELEMETRY_API_DEVICE",
      "id": "GoogleChromeManagementV1TelemetryUserDevice",
      "properties": {
        "peripheralsReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array"
        },
        "audioStatusReport": {
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "readOnly": true,
          "type": "array"
        },
        "networkBandwidthReport": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          },
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time.",
          "readOnly": true
        },
        "deviceId": {
          "type": "string",
          "description": "The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab."
        },
        "appReport": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          },
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time."
        },
        "deviceActivityReport": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Device activity reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceActivityReport"
          }
        }
      }
    },
    "GoogleChromeManagementV1CpuInfo": {
      "type": "object",
      "properties": {
        "model": {
          "description": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz",
          "readOnly": true,
          "type": "string"
        },
        "keylockerConfigured": {
          "description": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.",
          "type": "boolean",
          "readOnly": true
        },
        "maxClockSpeed": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The max CPU clock speed in kHz."
        },
        "architecture": {
          "enumDescriptions": [
            "Architecture unknown.",
            "x64 architecture"
          ],
          "type": "string",
          "description": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X64"
          ],
          "readOnly": true
        },
        "keylockerSupported": {
          "description": "Output only. Whether keylocker is supported.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleChromeManagementV1CpuInfo",
      "description": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO"
    },
    "GoogleChromeManagementVersionsV1ReportingData": {
      "id": "GoogleChromeManagementVersionsV1ReportingData",
      "description": "Reporting data of a Chrome browser profile.",
      "properties": {
        "profilePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Path of the profile. A valid path is included only in affiliated profiles."
        },
        "policyData": {
          "description": "Output only. Information of the policies applied on the profile.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          },
          "readOnly": true,
          "type": "array"
        },
        "installedBrowserVersion": {
          "description": "Output only. Updated version of a browser, if it is different from the active browser version.",
          "type": "string",
          "readOnly": true
        },
        "extensionPolicyData": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData"
          },
          "description": "Output only. Information of the policies applied on the extensions.",
          "type": "array"
        },
        "extensionData": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataExtensionData"
          },
          "description": "Output only. Information of the extensions installed on the profile.",
          "readOnly": true,
          "type": "array"
        },
        "browserExecutablePath": {
          "type": "string",
          "description": "Output only. Executable path of the installed Chrome browser. A valid path is included only in affiliated profiles.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleChromeManagementV1StorageStatusReport": {
      "id": "GoogleChromeManagementV1StorageStatusReport",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the sample was collected on device",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "disk": {
          "items": {
            "$ref": "GoogleChromeManagementV1DiskInfo"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Reports on disk."
        }
      },
      "type": "object",
      "description": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_REPORT"
    },
    "GoogleChromeManagementVersionsV1UploadCertificateResponse": {
      "description": "Response message for publishing an issued certificate for a certificate provisioning process.",
      "type": "object",
      "properties": {},
      "id": "GoogleChromeManagementVersionsV1UploadCertificateResponse"
    },
    "GoogleChromeManagementV1GraphicsAdapterInfo": {
      "properties": {
        "deviceId": {
          "readOnly": true,
          "description": "Output only. Represents the graphics card device id.",
          "format": "int64",
          "type": "string"
        },
        "adapter": {
          "readOnly": true,
          "description": "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2).",
          "type": "string"
        },
        "driverVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Version of the GPU driver."
        }
      },
      "id": "GoogleChromeManagementV1GraphicsAdapterInfo",
      "type": "object",
      "description": "Information of a graphics adapter (GPU)."
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount": {
      "properties": {
        "count": {
          "description": "Total count of crash events.",
          "type": "string",
          "format": "int64"
        },
        "browserVersion": {
          "description": "Browser version this is counting.",
          "type": "string"
        },
        "date": {
          "description": "Date of the crash event.",
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "The `count` of the Chrome crash events at the `date`.",
      "type": "object",
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount"
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "properties": {
        "signalStrengthDbm": {
          "type": "integer",
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "readOnly": true,
          "format": "int32"
        },
        "transmissionPowerDbm": {
          "description": "Output only. Transmission power measured in decibels.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "transmissionBitRateMbps": {
          "readOnly": true,
          "description": "Output only. Transmission bit rate measured in Megabits per second.",
          "type": "string",
          "format": "int64"
        },
        "sampleFrequency": {
          "type": "string",
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. Frequency the report is sampled."
        },
        "receivingBitRateMbps": {
          "type": "string",
          "description": "Output only. Receiving bit rate measured in Megabits per second.",
          "readOnly": true,
          "format": "int64"
        },
        "ipv6Address": {
          "description": "Output only. IPv6 addresses assigned to this network, if any. Each address is a string in standard IPv6 text representation (e.g., \"2001:db8::1\").",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "metered": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the network was detected as metered."
        },
        "wifiLinkQuality": {
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "encryptionOn": {
          "type": "boolean",
          "description": "Output only. Whether the wifi encryption key is turned off.",
          "readOnly": true
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the network state was reported.",
          "readOnly": true,
          "type": "string"
        },
        "connectionState": {
          "type": "string",
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "description": "Output only. Current connection state of the network.",
          "readOnly": true,
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ]
        },
        "connectionType": {
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ],
          "description": "Output only. Network connection type."
        },
        "gatewayIpAddress": {
          "readOnly": true,
          "description": "Output only. Gateway IP address.",
          "type": "string"
        },
        "linkDownSpeedKbps": {
          "description": "Output only. The maximum downstream bandwidth in Kilobits per second (Kbps), if reported by the network interface or connection.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "lanIpAddress": {
          "description": "Output only. LAN IP address.",
          "type": "string",
          "readOnly": true
        },
        "guid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Network connection guid."
        },
        "gatewayIpv6Address": {
          "description": "Output only. The gateway IPv6 for this interface, if detected",
          "type": "string",
          "readOnly": true
        },
        "wifiPowerManagementEnabled": {
          "type": "boolean",
          "description": "Output only. Wifi power management enabled",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "State of visible/configured networks. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportNetworkStatus](https://chromeenterprise.google/policies/#ReportNetworkStatus) * Data Collection Frequency: 60 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: Yes * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "id": "GoogleChromeManagementV1NetworkStatusReport"
    },
    "GoogleChromeManagementV1TelemetryAppUninstallEvent": {
      "type": "object",
      "properties": {
        "appId": {
          "type": "string",
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id."
        },
        "appUninstallSource": {
          "description": "App uninstall source.",
          "enum": [
            "APPLICATION_UNINSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_UNINSTALL_SOURCE_APP_LIST",
            "APPLICATION_UNINSTALL_SOURCE_APP_MANAGEMENT",
            "APPLICATION_UNINSTALL_SOURCE_SHELF",
            "APPLICATION_UNINSTALL_SOURCE_MIGRATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Application uninstall source unknown.",
            "Application uninstalled from the App List (Launcher).",
            "Application uninstalled from the App Managedment page.",
            "Application uninstalled from the Shelf.",
            "Application uninstalled by app migration."
          ]
        },
        "appType": {
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "description": "Type of app.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "type": "string"
        }
      },
      "description": "App uninstall data.",
      "id": "GoogleChromeManagementV1TelemetryAppUninstallEvent"
    },
    "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig": {
      "description": "CrowdStrike XDR connector config.",
      "properties": {
        "xdrSettings": {
          "$ref": "GoogleChromeManagementVersionsV1XdrSettings",
          "description": "Required. The XDR settings for the CrowdStrike XDR config."
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "apiKey": {
          "type": "string",
          "description": "Required. Input only. API key to use on the ingestion API."
        }
      },
      "type": "object",
      "id": "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig"
    },
    "GoogleChromeManagementVersionsV1SetFailureRequest": {
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Required. A message describing the failure details. It is displayed on the ChromeOS client device."
        }
      },
      "id": "GoogleChromeManagementVersionsV1SetFailureRequest",
      "type": "object",
      "description": "Request message for marking a certificate provisioning process as failed."
    },
    "GoogleChromeManagementV1PrintJob": {
      "type": "object",
      "description": "Represents a request to print a document that has been submitted to a printer.",
      "id": "GoogleChromeManagementV1PrintJob",
      "properties": {
        "userId": {
          "description": "The unique Directory API ID of the user who submitted the print job.",
          "type": "string"
        },
        "printerId": {
          "type": "string",
          "description": "API ID of the printer used for printing."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Print job creation timestamp."
        },
        "colorMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Black and white.",
            "Color."
          ],
          "description": "Color mode.",
          "enum": [
            "COLOR_MODE_UNSPECIFIED",
            "BLACK_AND_WHITE",
            "COLOR"
          ]
        },
        "id": {
          "type": "string",
          "description": "Unique ID of the print job."
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "description": "The primary e-mail address of the user who submitted the print job."
        },
        "copyCount": {
          "description": "Number of copies.",
          "format": "int32",
          "type": "integer"
        },
        "documentPageCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of pages in the document."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PRINTED",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Print job is in an unspecified state.",
            "The document was successfully printed.",
            "Print job was cancelled.",
            "Print job failed."
          ],
          "description": "The final state of the job."
        },
        "printer": {
          "type": "string",
          "description": "Name of the printer used for printing."
        },
        "duplexMode": {
          "enum": [
            "DUPLEX_MODE_UNSPECIFIED",
            "ONE_SIDED",
            "TWO_SIDED_LONG_EDGE",
            "TWO_SIDED_SHORT_EDGE"
          ],
          "description": "Duplex mode.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "One-sided.",
            "Two-sided flipping over long edge.",
            "Two-sided flipping over short edge."
          ]
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Print job completion timestamp."
        }
      }
    },
    "GoogleChromeManagementV1AudioStatusReport": {
      "properties": {
        "inputGain": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Active input device's gain in [0, 100]."
        },
        "outputMute": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Is active output device mute or not."
        },
        "inputDevice": {
          "description": "Output only. Active input device's name.",
          "readOnly": true,
          "type": "string"
        },
        "outputVolume": {
          "type": "integer",
          "description": "Output only. Active output device's volume in [0, 100].",
          "readOnly": true,
          "format": "int32"
        },
        "outputDevice": {
          "type": "string",
          "description": "Output only. Active output device's name.",
          "readOnly": true
        },
        "reportTime": {
          "readOnly": true,
          "format": "google-datetime",
[...]
