{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "version": "v2",
  "revision": "20260811",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "ownerName": "Google",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "chromewebstore",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "basePath": "",
  "servicePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "UploadItemPackageResponse": {
      "id": "UploadItemPackageResponse",
      "type": "object",
      "description": "Response message for `UploadItemPackage`.",
      "properties": {
        "uploadState": {
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the item the package was uploaded to."
        },
        "itemId": {
          "description": "Output only. The ID of the item the package was uploaded to.",
          "readOnly": true,
          "type": "string"
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`).",
          "type": "string"
        }
      }
    },
    "SetPublishedDeployPercentageResponse": {
      "id": "SetPublishedDeployPercentageResponse",
      "type": "object",
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "properties": {}
    },
    "Warning": {
      "description": "Represents a single warning encountered during the request.",
      "properties": {
        "description": {
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning."
        }
      },
      "id": "Warning",
      "type": "object"
    },
    "SetPublishedDeployPercentageRequest": {
      "id": "SetPublishedDeployPercentageRequest",
      "type": "object",
      "description": "Request message for SetPublishedDeployPercentage.",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage."
        }
      }
    },
    "CancelSubmissionResponse": {
      "description": "Response message for `CancelSubmission`.",
      "properties": {},
      "id": "CancelSubmissionResponse",
      "type": "object"
    },
    "PublishItemRequest": {
      "description": "Request message for PublishItem.",
      "properties": {
        "deployInfos": {
          "type": "array",
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "items": {
            "$ref": "DeployInfo"
          }
        },
        "skipReview": {
          "type": "boolean",
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset."
        },
        "publishType": {
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ],
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ]
        },
        "blockOnWarnings": {
          "type": "boolean",
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset."
        }
      },
      "id": "PublishItemRequest",
      "type": "object"
    },
    "WarningsInfo": {
      "id": "WarningsInfo",
      "type": "object",
      "description": "Message containing details on warnings encountered during PublishItem.",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "Warning"
          },
          "description": "All warnings encountered during the request.",
          "type": "array"
        }
      }
    },
    "ItemRevisionStatus": {
      "id": "ItemRevisionStatus",
      "type": "object",
      "description": "Details on the status of an item revision.",
      "properties": {
        "distributionChannels": {
          "description": "Details on the package of the item",
          "items": {
            "$ref": "DistributionChannel"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "type": "string",
          "description": "Output only. Current state of the item",
          "readOnly": true
        }
      }
    },
    "UploadItemPackageRequest": {
      "description": "Request message for UploadItemPackage.",
      "properties": {},
      "id": "UploadItemPackageRequest",
      "type": "object"
    },
    "PublishItemResponse": {
      "id": "PublishItemResponse",
      "type": "object",
      "description": "Response message for `PublishItem`.",
      "properties": {
        "warningInfo": {
          "description": "Output only. Non-blocking warnings encountered during the request.",
          "readOnly": true,
          "$ref": "WarningsInfo"
        },
        "state": {
          "description": "Output only. The current state of the submission.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the item that was submitted"
        },
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item.",
          "readOnly": true
        }
      }
    },
    "FetchItemStatusResponse": {
      "description": "Response message for `FetchItemStatus`.",
      "properties": {
        "warned": {
          "type": "boolean",
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details."
        },
        "name": {
          "type": "string",
          "description": "The name of the requested item."
        },
        "itemId": {
          "type": "string",
          "description": "Output only. The ID of the item.",
          "readOnly": true
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "publishedItemRevisionStatus": {
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "readOnly": true,
          "$ref": "ItemRevisionStatus"
        },
        "lastAsyncUploadState": {
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ]
        },
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        }
      },
      "id": "FetchItemStatusResponse",
      "type": "object"
    },
    "DistributionChannel": {
      "description": "Deployment information for a specific release channel",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100)."
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        }
      },
      "id": "DistributionChannel",
      "type": "object"
    },
    "CancelSubmissionRequest": {
      "description": "Request message for CancelSubmission.",
      "properties": {},
      "id": "CancelSubmissionRequest",
      "type": "object"
    },
    "DeployInfo": {
      "id": "DeployInfo",
      "type": "object",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "properties": {
        "deployPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100)."
        }
      }
    }
  },
  "title": "Chrome Web Store API",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "id": "chromewebstore.media.upload",
          "description": "Upload a new package to an existing item.",
          "path": "v2/{+name}:upload",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "parameters": {
            "name": {
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "required": true
            }
          },
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "httpMethod": "POST",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            },
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ]
          }
        }
      }
    },
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "publish": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "response": {
                "$ref": "PublishItemResponse"
              },
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "request": {
                "$ref": "PublishItemRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "id": "chromewebstore.publishers.items.publish",
              "path": "v2/{+name}:publish",
              "parameterOrder": [
                "name"
              ],
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`."
            },
            "fetchStatus": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "httpMethod": "GET",
              "id": "chromewebstore.publishers.items.fetchStatus",
              "description": "Fetch the status of an item.",
              "path": "v2/{+name}:fetchStatus",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ]
            },
            "setPublishedDeployPercentage": {
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "parameterOrder": [
                "name"
              ],
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "required": true,
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "cancelSubmission": {
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission.",
              "path": "v2/{+name}:cancelSubmission",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "httpMethod": "POST"
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        }
      }
    }
  },
  "canonicalName": "Chromewebstore",
  "id": "chromewebstore:v2"
}