{
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly": {
          "description": "See Chrome Security Insights reports"
        },
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.securityinsights": {
          "description": "Turn Chrome Security Insights on and off and view the data it generates"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        }
      }
    }
  },
  "version": "v1",
  "id": "chromemanagement:v1",
  "ownerName": "Google",
  "name": "chromemanagement",
  "revision": "20260927",
  "kind": "discovery#restDescription",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "canonicalName": "Chrome Management",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "basePath": "",
  "documentationLink": "https://developers.google.com/chrome/management/",
  "title": "Chrome Management API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "version_module": true,
  "protocol": "rest",
  "resources": {
    "operations": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "id": "chromemanagement.operations.delete",
          "flatPath": "v1/operations/{operationsId}",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "required": true,
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "path": "v1/{+name}"
        },
        "cancel": {
          "request": {
            "$ref": "GoogleLongrunningCancelOperationRequest"
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "path": "v1/{+name}:cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}:cancel",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource to be cancelled.",
              "type": "string",
              "required": true,
              "pattern": "^operations/.*$"
            }
          },
          "id": "chromemanagement.operations.cancel",
          "httpMethod": "POST"
        },
        "list": {
          "parameters": {
            "name": {
              "description": "The name of the operation's parent resource.",
              "location": "path",
              "pattern": "^operations$",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The standard list page size.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "The standard list filter."
            },
            "returnPartialSuccess": {
              "location": "query",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "type": "boolean"
            }
          },
          "path": "v1/{+name}",
          "flatPath": "v1/operations",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "id": "chromemanagement.operations.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "customers": {
      "resources": {
        "connectorConfigs": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "chromemanagement.customers.connectorConfigs.get",
              "description": "Gets a connector config with customer ID and config ID.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: customers/{customer}/connectorConfigs/{connector_config}"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/connectorConfigs",
              "description": "Creates a connector config.",
              "parameters": {
                "connectorConfigId": {
                  "description": "Optional. ID to use for the connector config, which becomes the final component of the connector config's resource name. If provided, the ID must be 1-36 characters long, and contain only lowercase letters, digits, and hyphens. It must start with a letter, and end with a letter or number. If not provided, the connector config will be assigned a random UUID.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Format: customers/{customer}",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/customers/{customersId}/connectorConfigs",
              "httpMethod": "POST",
              "id": "chromemanagement.customers.connectorConfigs.create"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "chromemanagement.customers.connectorConfigs.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. Format: customers/{customer}",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of connector configs to return. The default page size is 50 if page_size is unspecified, and the maximum page size allowed is 100. Values above 100 will be capped at 100.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListConnectorConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectorConfigs` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "flatPath": "v1/customers/{customersId}/connectorConfigs",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse"
              },
              "description": "Lists connector configs of a customer.",
              "path": "v1/{+parent}/connectorConfigs"
            },
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "description": "Identifier. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The update mask that can be used to specify which fields to update."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a connector config.",
              "id": "chromemanagement.customers.connectorConfigs.patch",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              }
            },
            "delete": {
              "id": "chromemanagement.customers.connectorConfigs.delete",
              "httpMethod": "DELETE",
              "description": "Deletes a connector config.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "description": "Required. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}"
            }
          }
        },
        "certificateProvisioningProcesses": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "id": "chromemanagement.customers.certificateProvisioningProcesses.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess"
              },
              "description": "Retrieves a certificate provisioning process.",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.get"
            },
            "uploadCertificate": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateRequest"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.uploadCertificate",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateResponse"
              },
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id."
                }
              },
              "description": "Uploads a successfully issued certificate for a certificate provisioning process.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:uploadCertificate",
              "path": "v1/{+name}:uploadCertificate"
            },
            "claim": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse"
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.claim",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:claim",
              "path": "v1/{+name}:claim",
              "httpMethod": "POST",
              "description": "Claims a certificate provisioning process. For each certificate provisioning process, this operation can succeed only for one `caller_instance_id`.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to claim. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true
                }
              }
            },
            "setFailure": {
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:setFailure",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.setFailure",
              "description": "Marks a certificate provisioning process as failed.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureRequest"
              },
              "path": "v1/{+name}:setFailure",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureResponse"
              }
            },
            "signData": {
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:signData",
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SignDataRequest"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.signData",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:signData",
              "description": "Requests the client that initiated a certificate provisioning process to sign data. This should only be called after `ClaimCertificateProvisioningProcess` has been successfully executed.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "apps": {
          "methods": {
            "fetchUsersRequestingExtension": {
              "description": "Get a list of users that have requested to install an extension.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "format": "int32"
                },
                "extensionId": {
                  "description": "Required. The extension for which we want to find the requesting users.",
                  "location": "query",
                  "type": "string"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned."
                },
                "customer": {
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+customer}/apps:fetchUsersRequestingExtension",
              "flatPath": "v1/customers/{customersId}/apps:fetchUsersRequestingExtension",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "httpMethod": "GET",
              "id": "chromemanagement.customers.apps.fetchUsersRequestingExtension",
              "response": {
                "$ref": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse"
              },
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeAppRequests": {
              "parameters": {
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned."
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time",
                  "type": "string"
                }
              },
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "description": "Generate summary of app installation requests."
            },
            "fetchDevicesRequestingExtension": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse"
              },
              "id": "chromemanagement.customers.apps.fetchDevicesRequestingExtension",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day."
                },
                "customer": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                },
                "extensionId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The extension for which we want to find requesting devices."
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned."
                }
              },
              "path": "v1/{+customer}/apps:fetchDevicesRequestingExtension",
              "parameterOrder": [
                "customer"
              ],
              "description": "Get a list of devices that have requested to install an extension.",
              "flatPath": "v1/customers/{customersId}/apps:fetchDevicesRequestingExtension",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "chrome": {
              "methods": {
                "get": {
                  "description": "Get a specific app for a customer by its resource name.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "android": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Get a specific app for a customer by its resource name.",
                  "id": "chromemanagement.customers.apps.android.get",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  }
                }
              }
            },
            "web": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.apps.web.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}"
                }
              }
            }
          }
        },
        "telemetry": {
          "resources": {
            "notificationConfigs": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs/{notificationConfigsId}",
                  "description": "Delete a telemetry notification config.",
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the notification config to delete. Format: `customers/{customer}/telemetry/notificationConfigs/{notification_config}`",
                      "pattern": "^customers/[^/]+/telemetry/notificationConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "create": {
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this notification config will be created. Format: `customers/{customer}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "description": "Create a telemetry notification config.",
                  "request": {
                    "$ref": "GoogleChromeManagementV1TelemetryNotificationConfig"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs"
                },
                "list": {
                  "path": "v1/{+parent}/telemetry/notificationConfigs",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryNotificationConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "description": "List all telemetry notification configs.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListTelemetryNotificationConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTelemetryNotificationConfigs` must match the call that provided the page token."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent which owns the notification configs.",
                      "pattern": "^customers/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The maximum number of notification configs to return. The service may return fewer than this value. If unspecified, at most 100 notification configs will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "id": "chromemanagement.customers.telemetry.notificationConfigs.list",
                  "flatPath": "v1/customers/{customersId}/telemetry/notificationConfigs"
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "description": "List all telemetry devices.",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryDevicesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Token to specify next page in the list.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000."
                    },
                    "readMask": {
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request."
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter. Requests that don't specify a \"reports_timestamp\" value will default to returning only recent reports. Specify \"reports_timestamp>=0\" to get all report data. Supported filter fields: - org_unit_id - serial_number - device_id - reports_timestamp The \"reports_timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/telemetry/devices",
                  "flatPath": "v1/customers/{customersId}/telemetry/devices"
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.telemetry.devices.get",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryDevice"
                  },
                  "description": "Get telemetry device.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/devices/{devicesId}",
                  "parameters": {
                    "readMask": {
                      "location": "query",
                      "description": "Required. Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - device_id - serial_number - cpu_info - cpu_status_report - memory_info - memory_status_report - network_info - network_diagnostics_report - network_status_report - os_update_status - graphics_info - graphics_status_report - battery_info - battery_status_report - storage_info - storage_status_report - thunderbolt_info - audio_status_report - boot_performance_report - heartbeat_status_report - network_bandwidth_report - peripherals_report - kiosk_app_status_report - app_report - runtime_counters_report ",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. Name of the `TelemetryDevice` to return.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+/telemetry/devices/[^/]+$"
                    }
                  }
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryEventsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "path": "v1/{+parent}/telemetry/events",
                  "description": "List telemetry events.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/events",
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.telemetry.events.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter. Although this parameter is currently optional, this parameter will be required- please specify at least 1 event type. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The \"timestamp\" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC \"Zulu\" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: \"2014-10-02T15:01:23Z\", \"2014-10-02T15:01:23.045123456Z\", \"1679283943823\".",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Token to specify next page in the list.",
                      "type": "string"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Read mask to specify which fields to return. Although currently required, this field will become optional, while the filter parameter with an event type will be come required. Supported read_mask paths are: - device - user - audio_severe_underrun_event - usb_peripherals_event - https_latency_change_event - network_state_change_event - wifi_signal_strength_event - vpn_connection_state_change_event - app_install_event - app_uninstall_event - app_launch_event - os_crash_event - external_displays_event ",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "users": {
              "methods": {
                "get": {
                  "description": "Get telemetry user.",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/users/{usersId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "chromemanagement.customers.telemetry.users.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleChromeManagementV1TelemetryUser"
                  },
                  "parameters": {
                    "readMask": {
                      "type": "string",
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report ",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/telemetry/users/[^/]+$",
                      "description": "Required. Name of the `TelemetryUser` to return.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "list": {
                  "flatPath": "v1/customers/{customersId}/telemetry/users",
                  "description": "List all telemetry users.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "readMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Read mask to specify which fields to return. Supported read_mask paths are: - name - org_unit_id - user_id - user_email - user_device.device_id - user_device.audio_status_report - user_device.device_activity_report - user_device.network_bandwidth_report - user_device.peripherals_report - user_device.app_report "
                    },
                    "pageToken": {
                      "description": "Token to specify next page in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                      "location": "path"
                    },
                    "filter": {
                      "description": "Only include resources that match the filter. Supported filter fields: - user_id - user_org_unit_id ",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum number of results to return. Default value is 100. Maximum value is 1000.",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.telemetry.users.list",
                  "path": "v1/{+parent}/telemetry/users",
                  "response": {
                    "$ref": "GoogleChromeManagementV1ListTelemetryUsersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ]
                }
              }
            }
          }
        },
        "enterprise": {
          "resources": {
            "securityInsights": {
              "methods": {
                "queryContentTransfersBreakdowns": {
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryContentTransfersBreakdowns",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/enterprise/securityInsights:queryContentTransfersBreakdowns",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryContentTransfersBreakdowns",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `QueryContentTransfersBreakdowns` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryContentTransfersBreakdowns` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "fixedTimeRange": {
                      "type": "string",
                      "enum": [
                        "FIXED_TIME_RANGE_UNSPECIFIED",
                        "FIXED_TIME_RANGE_FOUR_HOURS",
                        "FIXED_TIME_RANGE_ONE_DAY",
                        "FIXED_TIME_RANGE_ONE_WEEK",
                        "FIXED_TIME_RANGE_FOUR_WEEKS"
                      ],
                      "enumDescriptions": [
                        "Unspecified fixed time range. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS.",
                        "Four hours.",
                        "One day.",
                        "One week.",
                        "Four weeks."
                      ],
                      "location": "query",
                      "description": "Optional. The fixed time range to return the breakdowns for. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS. Fixed time ranges are used to allow for precomputation and optimize response times."
                    },
                    "breakdown": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "CONTENT_TRANSFERS_BREAKDOWN_DIMENSION_UNSPECIFIED",
                        "USER",
                        "EVENT_DOMAIN",
                        "CONTENT_CATEGORY"
                      ],
                      "description": "Optional. The dimension to break down the content transfers by. Defaults to USER.",
                      "enumDescriptions": [
                        "Unspecified breakdown dimension. Defaults to USER.",
                        "Breakdown by user.",
                        "Breakdown by event domain.",
                        "Breakdown by content category."
                      ]
                    },
                    "metric": {
                      "description": "Optional. The metric to return the breakdowns for. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS.",
                      "type": "string",
                      "enum": [
                        "CONTENT_TRANSFERS_METRIC_UNSPECIFIED",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_UPLOADS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_DOWNLOADS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_PRINTS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_SENSITIVE_TRANSFERS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_UPLOADS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_DOWNLOADS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_PRINTS"
                      ],
                      "enumDescriptions": [
                        "Unspecified content transfers metric. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS.",
                        "The total number of content transfers (sensitive and non-sensitive). This is the sum of the total_uploads, total_downloads, and total_prints.",
                        "The total number of content uploads (sensitive and non-sensitive).",
                        "The total number of content downloads (sensitive and non-sensitive).",
                        "The total number of content prints (sensitive and non-sensitive).",
                        "The total number of sensitive content transfers. This is the sum of the sensitive_uploads, sensitive_downloads, and sensitive_prints.",
                        "The number of sensitive content uploads.",
                        "The number of sensitive content downloads.",
                        "The number of sensitive content prints."
                      ],
                      "location": "query"
                    },
                    "customer": {
                      "type": "string",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$"
                    },
                    "filter": {
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days or more recent than 48 hours ago. If `event_time` is not specified, results will end 48 hours ago. Supported fields for filtering: - `user` - `event_domain` - `content_category` - `event_time` Filtering by `user` or `event_domain` requires the `breakdown` dimension to be set to the corresponding value (e.g., you must set `breakdown = USER` to filter by `user`). Supported operators: - `=` for `user`, `event_domain`, and `content_category`. - `<=` for `event_time`. Supported conjunctions: - `AND` Example: `user = \"testuser\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of breakdowns to return. The service may return fewer than this value. If unspecified, at most 50 breakdowns will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "description": "Returns summaries of content transfers for a given metric and breakdown dimension.",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse"
                  }
                },
                "queryUrlVisitsBreakdowns": {
                  "path": "v1/{+customer}/enterprise/securityInsights:queryUrlVisitsBreakdowns",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryUrlVisitsBreakdowns",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryUrlVisitsBreakdowns",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "fixedTimeRange": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "FIXED_TIME_RANGE_UNSPECIFIED",
                        "FIXED_TIME_RANGE_FOUR_HOURS",
                        "FIXED_TIME_RANGE_ONE_DAY",
                        "FIXED_TIME_RANGE_ONE_WEEK",
                        "FIXED_TIME_RANGE_FOUR_WEEKS"
                      ],
                      "description": "Optional. The fixed time range to return the breakdowns for. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS. Fixed time ranges are used to allow for precomputation and optimize response times.",
                      "enumDescriptions": [
                        "Unspecified fixed time range. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS.",
                        "Four hours.",
                        "One day.",
                        "One week.",
                        "Four weeks."
                      ]
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days or more recent than 48 hours ago. If `event_time` is not specified, results will end 48 hours ago. Supported fields for filtering: - `user` - `event_domain` - `event_time` Filtering by `user` or `event_domain` requires the `breakdown` dimension to be set to the corresponding value (e.g., you must set `breakdown = USER` to filter by `user`). Supported operators: - `=` for `user` and `event_domain`. - `<=` for `event_time`. Supported conjunctions: - `AND` Example: `user = \"testuser\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "location": "query"
                    },
                    "breakdown": {
                      "type": "string",
                      "enum": [
                        "URL_VISITS_BREAKDOWN_DIMENSION_UNSPECIFIED",
                        "USER",
                        "EVENT_DOMAIN"
                      ],
                      "description": "Optional. The dimension to break down the URL visits by. Defaults to USER.",
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified breakdown dimension. Defaults to USER.",
                        "Breakdown by user.",
                        "Breakdown by event domain."
                      ]
                    },
                    "customer": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "pattern": "^customers/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of breakdowns to return. The service may return fewer than this value. If unspecified, at most 50 breakdowns will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `QueryUrlVisitsBreakdowns` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryUrlVisitsBreakdowns` must match the call that provided the page token."
                    },
                    "metric": {
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified URL visits metric. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
                        "The total number of suspicious URL visits. This is the sum of the high_risk_url_visits, medium_risk_url_visits, and low_risk_url_visits.",
                        "The number of suspicious URL visits with high risk.",
                        "The number of suspicious URL visits with medium risk.",
                        "The number of suspicious URL visits with low risk."
                      ],
                      "description": "Optional. The metric to return the breakdowns for. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
                      "type": "string",
                      "enum": [
                        "URL_VISITS_METRIC_UNSPECIFIED",
                        "URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS",
                        "URL_VISITS_METRIC_HIGH_RISK_URL_VISITS",
                        "URL_VISITS_METRIC_MEDIUM_RISK_URL_VISITS",
                        "URL_VISITS_METRIC_LOW_RISK_URL_VISITS"
                      ]
                    }
                  },
                  "description": "Returns summaries of URL visits for a given metric and breakdown dimension. Requires a Chrome Enterprise Premium subscription. If the customer does not have this subscription, query results will be empty."
                },
                "enable": {
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1EnableInsightsRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:enable",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "description": "Required. The customer to enable insights for. Format: customers/{customer}",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights"
                  ],
                  "path": "v1/{+customer}/enterprise/securityInsights:enable",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1EnableInsightsResponse"
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.enable",
                  "description": "Enables insights for the customer and sets up required chrome connectors.",
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "disable": {
                  "httpMethod": "POST",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer to disable insights for. Format: customers/{customer}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "path": "v1/{+customer}/enterprise/securityInsights:disable",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1DisableInsightsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights"
                  ],
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1DisableInsightsRequest"
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.disable",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:disable",
                  "description": "Disables insights for the customer."
                },
                "queryUrlVisits": {
                  "httpMethod": "GET",
                  "path": "v1/{+customer}/enterprise/securityInsights:queryUrlVisits",
                  "description": "Returns a high-level summary of URL visits for a given customer. Requires a Chrome Enterprise Premium subscription. If the customer does not have this subscription, query results will be empty.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days, and may be unavailable or inaccurate for time ranges less than 4 hours. If `event_time` is not specified, results will be returned for the last 30 days. Supported fields for filtering: - `event_time` Supported operators: - `>=` and `<=` for `event_time` Supported conjunctions: - `AND` Example: `event_time >= \"2024-01-01T00:00:00Z\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "location": "query"
                    },
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse"
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryUrlVisits",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryUrlVisits"
                },
                "queryContentTransfers": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryContentTransfers",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days, and may be unavailable or inaccurate for time ranges less than 4 hours. If `event_time` is not specified, results will be returned for the last 30 days. Supported fields for filtering: - `event_time` Supported operators: - `>=` and `<=` for `event_time` Supported conjunctions: - `AND` Example: `event_time >= \"2024-01-01T00:00:00Z\" AND event_time <= \"2024-01-02T00:00:00Z\"`"
                    },
                    "customer": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "description": "Returns a high-level summary of content transfers for a given customer.",
                  "path": "v1/{+customer}/enterprise/securityInsights:queryContentTransfers",
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryContentTransfers",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryContentTransfersResponse"
                  }
                },
                "checkEnablementStatus": {
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "description": "Required. The customer to check the enablement status for. Format: customers/{customer_id}"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+customer}/enterprise/securityInsights:checkEnablementStatus",
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:checkEnablementStatus",
                  "description": "Gets the setting state of the insights feature for the customer.",
                  "id": "chromemanagement.customers.enterprise.securityInsights.checkEnablementStatus"
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "countPrintJobsByUser": {
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countPrintJobsByUser",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByUser",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "printerOrgUnitId": {
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs initiated with printers from the specified organizational unit will be counted. If omitted, all print jobs will be counted.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the page of the response to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'user_email' field. Supported order_by fields: * user_email * job_count * printer_count * device_count"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer"
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                }
              },
              "description": "Get a summary of printing done by each user.",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "path": "v1/{+customer}/reports:countPrintJobsByUser",
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
              }
            },
            "countChromeDevicesReachingAutoExpirationDate": {
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947).",
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "parameters": {
                "customer": {
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "maxAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date.",
                  "location": "query",
                  "type": "string"
                },
                "minAueDate": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date."
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units.",
                  "location": "query"
                }
              },
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              }
            },
            "findInstalledAppProfiles": {
              "path": "v1/{+customer}/reports:findInstalledAppProfiles",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppProfilesResponse"
              },
              "description": "Generate report of managed Chrome profiles that have a specified app installed.",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Token to specify the page of the request to be returned."
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Field used to order results. Supported order by fields: * email * profile_id * profile_permanent_id",
                  "type": "string"
                },
                "appId": {
                  "type": "string",
                  "description": "Required. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).",
                  "location": "query"
                },
                "appType": {
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "type": "string",
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "location": "query"
                }
              },
              "id": "chromemanagement.customers.reports.findInstalledAppProfiles",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppProfiles"
            },
            "countDevicesPerBootType": {
              "path": "v1/{+customer}/reports:countDevicesPerBootType",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse"
              },
              "description": "Get a count of devices per boot type.",
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countDevicesPerBootType",
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerBootType",
              "parameters": {
                "customer": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "date.year": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                },
                "date.day": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query"
                },
                "date.month": {
                  "type": "integer",
                  "location": "query",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "customer"
              ]
            },
            "enumeratePrintJobs": {
              "description": "Get a list of print jobs.",
              "parameters": {
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "required": true
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. If not specified, results will be ordered in descending order of the `complete_time` field. Supported order by fields: * title * state * create_time * complete_time * document_page_count * color_mode * duplex_mode * printer * user_email"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The number of print jobs in the page from 0 to 100 inclusive, if page_size is not specified or zero, the size will be 50."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported for `complete_time`. Note: Only = comparator supported for `user_id` and `printer_id`. Supported filter fields: * complete_time * printer_id * user_id"
                },
                "pageToken": {
                  "description": "A page token received from a previous `EnumeratePrintJobs` call. Provide this to retrieve the subsequent page. If omitted, the first page of results will be returned. When paginating, all other parameters provided to `EnumeratePrintJobs` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs submitted to printers from the specified organizational unit will be returned.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1EnumeratePrintJobsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+customer}/reports:enumeratePrintJobs",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:enumeratePrintJobs",
              "id": "chromemanagement.customers.reports.enumeratePrintJobs",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "countChromeCrashEvents": {
              "id": "chromemanagement.customers.reports.countChromeCrashEvents",
              "path": "v1/{+customer}/reports:countChromeCrashEvents",
              "parameterOrder": [
                "customer"
              ],
              "description": "Get a count of Chrome crash events.",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameters": {
                "customer": {
                  "required": true,
                  "description": "Customer ID.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "If specified, only count the number of crash events of the devices in this organizational unit."
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. Supported order by fields: * browser_version * count * date"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Supported filter fields: * major_browser_version * minor_browser_version * browser_channel * device_platform * past_number_days Example: `major_browser_version = 'M115' AND past_number_days = '28'`."
                }
              },
              "flatPath": "v1/customers/{customersId}/reports:countChromeCrashEvents",
              "httpMethod": "GET"
            },
            "findSaasUsageBrowsers": {
              "description": "Find SaaS usage reports of a customer grouped by browsers based on the given search and sorting criteria.",
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:findSaasUsageBrowsers",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "id": "chromemanagement.customers.reports.findSaasUsageBrowsers",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The filter expression to narrow down the SaaS browser reports to return. Supported operators are: =, !=, <, <=, >, >=, :. Logical operators AND, OR, and NOT are supported. Supported fields: * machine * os_platform * first_navigation_time * last_navigation_time * org_unit_id"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of browsers to return. The service may return fewer than this value. If unspecified, at most 100 browsers will be returned. The maximum value is 200; values above 200 will be coerced to 200.",
                  "format": "int32",
                  "type": "integer"
                },
                "app": {
                  "description": "Required. The name of the SaaS application (e.g., `ChatGPT`, `Gemini`).",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. The order by expression to sort the SaaS browser reports. Supported fields: * machine * os_platform * first_navigation_time * last_navigation_time Default order is ascending. To specify descending order for a field, append \" desc\".",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `FindSaasUsageBrowsers` call. Provide this to retrieve the subsequent page."
                },
                "customer": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\"."
                }
              },
              "path": "v1/{+customer}/reports:findSaasUsageBrowsers",
              "response": {
                "$ref": "GoogleChromeManagementV1FindSaasUsageBrowsersResponse"
              },
              "httpMethod": "GET"
            },
            "countPrintJobsByPrinter": {
              "description": "Get a summary of printing done by each printer.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Token to specify the page of the response to be returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time"
                },
                "printerOrgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only data for printers from the specified organizational unit will be returned. If omitted, data for printers from all organizational units will be returned.",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'printer' field. Supported order_by fields: * printer * job_count * device_count * user_count"
                }
              },
              "path": "v1/{+customer}/reports:countPrintJobsByPrinter",
              "id": "chromemanagement.customers.reports.countPrintJobsByPrinter",
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByPrinter"
            },
            "countChromeBrowsersNeedingAttention": {
              "parameters": {
                "customer": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "httpMethod": "GET",
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity.",
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "parameterOrder": [
                "customer"
              ]
            },
            "countActiveDevices": {
              "httpMethod": "GET",
              "parameters": {
                "date.year": {
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "format": "int32"
                },
                "date.month": {
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "format": "int32",
                  "location": "query"
                },
                "customer": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$"
                },
                "date.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "flatPath": "v1/customers/{customersId}/reports:countActiveDevices",
              "description": "Get a count of active devices per set time frames.",
              "parameterOrder": [
                "customer"
              ],
              "id": "chromemanagement.customers.reports.countActiveDevices",
              "response": {
                "$ref": "GoogleChromeManagementV1CountActiveDevicesResponse"
              },
              "path": "v1/{+customer}/reports:countActiveDevices",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "findSaasUsage": {
              "parameterOrder": [
                "customer"
              ],
[...]
