{
  "canonicalName": "Chrome Management",
  "ownerDomain": "google.com",
  "version_module": true,
  "documentationLink": "https://developers.google.com/chrome/management/",
  "revision": "20260616",
  "protocol": "rest",
  "baseUrl": "https://chromemanagement.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1",
  "description": "The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.",
  "basePath": "",
  "name": "chromemanagement",
  "servicePath": "",
  "mtlsRootUrl": "https://chromemanagement.mtls.googleapis.com/",
  "resources": {
    "customers": {
      "resources": {
        "profiles": {
          "methods": {
            "get": {
              "flatPath": "v1/customers/{customersId}/profiles/{profilesId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles",
                "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/profiles/[^/]+$",
                  "required": true,
                  "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                  "type": "string"
                }
              },
              "description": "Gets a Chrome browser profile with customer ID and profile permanent ID.",
              "path": "v1/{+name}",
              "id": "chromemanagement.customers.profiles.get"
            },
            "list": {
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "description": "Optional. The fields used to specify the ordering of the results. The supported fields are: - profile_id - display_name - user_email - last_activity_time - last_policy_sync_time - last_status_report_time - first_enrollment_time - os_platform_type - os_version - browser_version - browser_channel - policy_count - extension_count - identity_provider - affiliation_state - os_platform_version By default, sorting is in ascending order, to specify descending order for a field, a suffix \" desc\" should be added to the field name. The default ordering is the descending order of last_status_report_time.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. The filter used to filter profiles. The following fields can be used in the filter: - profile_id - display_name - user_email - last_activity_time - last_policy_sync_time - last_status_report_time - first_enrollment_time - os_platform_type - os_version - browser_version - browser_channel - policy_count - extension_count - identity_provider - affiliation_state - os_platform_version - ouId Any of the above fields can be used to specify a filter, and filtering by multiple fields is supported with AND operator. String type fields and enum type fields support '=' and '!=' operators. The integer type and the timestamp type fields support '=', '!=', '<', '>', '<=' and '>=' operators. Timestamps expect an RFC-3339 formatted string (e.g. 2012-04-21T11:30:00-04:00). Wildcard '*' can be used with a string type field filter. In addition, string literal filtering is also supported, for example, 'ABC' as a filter maps to a filter that checks if any of the filterable string type fields contains 'ABC'. Organization unit number can be used as a filtering criteria here by specifying 'ouId = ${your_org_unit_id}', please note that only single OU ID matching is supported.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of profiles to return. The default page size is 100 if page_size is unspecified, and the maximum page size allowed is 200.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. Format: customers/{customer_id}",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The page token used to retrieve a specific page of the listing request."
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse"
              },
              "id": "chromemanagement.customers.profiles.list",
              "description": "Lists Chrome browser profiles of a customer based on the given search and sorting criteria.",
              "path": "v1/{+parent}/profiles",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles",
                "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/profiles",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ],
              "flatPath": "v1/customers/{customersId}/profiles/{profilesId}",
              "id": "chromemanagement.customers.profiles.delete",
              "path": "v1/{+name}",
              "description": "Deletes the data collected from a Chrome browser profile.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                  "pattern": "^customers/[^/]+/profiles/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          },
          "resources": {
            "commands": {
              "methods": {
                "list": {
                  "id": "chromemanagement.customers.profiles.commands.list",
                  "path": "v1/{+parent}/commands",
                  "description": "Lists remote commands of a Chrome browser profile.",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of commands to return. The default page size is 100 if page_size is unspecified, and the maximum page size allowed is 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. The page token used to retrieve a specific page of the listing request.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/profiles/[^/]+$",
                      "required": true,
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ListChromeBrowserProfileCommandsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles",
                    "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles"
                  ],
                  "path": "v1/{+parent}/commands",
                  "description": "Creates a Chrome browser profile remote command.",
                  "id": "chromemanagement.customers.profiles.commands.create",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/profiles/[^/]+$",
                      "required": true,
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  }
                },
                "get": {
                  "id": "chromemanagement.customers.profiles.commands.get",
                  "description": "Gets a Chrome browser profile remote command.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Format: customers/{customer_id}/profiles/{profile_permanent_id}/commands/{command_id}",
                      "pattern": "^customers/[^/]+/profiles/[^/]+/commands/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommand"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.profiles",
                    "https://www.googleapis.com/auth/chrome.management.profiles.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/profiles/{profilesId}/commands/{commandsId}"
                }
              }
            }
          }
        },
        "certificateProvisioningProcesses": {
          "methods": {
            "claim": {
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:claim",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to claim. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.claim",
              "description": "Claims a certificate provisioning process. For each certificate provisioning process, this operation can succeed only for one `caller_instance_id`.",
              "path": "v1/{+name}:claim"
            },
            "signData": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:signData",
              "httpMethod": "POST",
              "description": "Requests the client that initiated a certificate provisioning process to sign data. This should only be called after `ClaimCertificateProvisioningProcess` has been successfully executed.",
              "path": "v1/{+name}:signData",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.signData",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SignDataRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "setFailure": {
              "id": "chromemanagement.customers.certificateProvisioningProcesses.setFailure",
              "path": "v1/{+name}:setFailure",
              "description": "Marks a certificate provisioning process as failed.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id."
                }
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureRequest"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1SetFailureResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:setFailure"
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess"
              },
              "id": "chromemanagement.customers.certificateProvisioningProcesses.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves a certificate provisioning process."
            },
            "uploadCertificate": {
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateResponse"
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1UploadCertificateRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of the `CertificateProvisioningProcess` to return. The name pattern is given as `customers/{customer}/certificateProvisioningProcesses/{certificate_provisioning_process}` with `{customer}` being the obfuscated customer id and `{certificate_provisioning_process}` being the certificate provisioning process id.",
                  "type": "string"
                }
              },
              "description": "Uploads a successfully issued certificate for a certificate provisioning process.",
              "path": "v1/{+name}:uploadCertificate",
              "id": "chromemanagement.customers.certificateProvisioningProcesses.uploadCertificate",
              "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}:uploadCertificate",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/certificateProvisioningProcesses/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/certificateProvisioningProcesses/{certificateProvisioningProcessesId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "chromemanagement.customers.certificateProvisioningProcesses.operations.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            }
          }
        },
        "thirdPartyProfileUsers": {
          "methods": {
            "move": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.profiles"
              ],
              "flatPath": "v1/customers/{customersId}/thirdPartyProfileUsers/{thirdPartyProfileUsersId}:move",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/thirdPartyProfileUsers/[^/]+$",
                  "required": true,
                  "description": "Required. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserRequest"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse"
              },
              "id": "chromemanagement.customers.thirdPartyProfileUsers.move",
              "path": "v1/{+name}:move",
              "description": "Moves a third party chrome profile user to a destination OU. All profiles associated to that user will be moved to the destination OU."
            }
          }
        },
        "enterprise": {
          "resources": {
            "securityInsights": {
              "methods": {
                "enable": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights"
                  ],
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:enable",
                  "id": "chromemanagement.customers.enterprise.securityInsights.enable",
                  "path": "v1/{+customer}/enterprise/securityInsights:enable",
                  "description": "Enables insights for the customer and sets up required chrome connectors.",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "description": "Required. The customer to enable insights for. Format: customers/{customer}",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1EnableInsightsRequest"
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1EnableInsightsResponse"
                  }
                },
                "disable": {
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights"
                  ],
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:disable",
                  "id": "chromemanagement.customers.enterprise.securityInsights.disable",
                  "description": "Disables insights for the customer.",
                  "path": "v1/{+customer}/enterprise/securityInsights:disable",
                  "request": {
                    "$ref": "GoogleChromeManagementVersionsV1DisableInsightsRequest"
                  },
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "Required. The customer to disable insights for. Format: customers/{customer}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1DisableInsightsResponse"
                  }
                },
                "queryUrlVisits": {
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days, and may be unavailable or inaccurate for time ranges less than 4 hours. If `event_time` is not specified, results will be returned for the last 30 days. Supported fields for filtering: - `event_time` Supported operators: - `>=` and `<=` for `event_time` Supported conjunctions: - `AND` Example: `event_time >= \"2024-01-01T00:00:00Z\" AND event_time <= \"2024-01-02T00:00:00Z\"`"
                    },
                    "customer": {
                      "type": "string",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+customer}/enterprise/securityInsights:queryUrlVisits",
                  "description": "Returns a high-level summary of URL visits for a given customer.",
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryUrlVisits",
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryUrlVisits",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "queryUrlVisitsBreakdowns": {
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryUrlVisitsBreakdowns",
                  "path": "v1/{+customer}/enterprise/securityInsights:queryUrlVisitsBreakdowns",
                  "description": "Returns summaries of URL visits for a given metric and breakdown dimension.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of breakdowns to return. The service may return fewer than this value. If unspecified, at most 50 breakdowns will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `QueryUrlVisitsBreakdowns` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryUrlVisitsBreakdowns` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "breakdown": {
                      "enum": [
                        "URL_VISITS_BREAKDOWN_DIMENSION_UNSPECIFIED",
                        "USER",
                        "EVENT_DOMAIN"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified breakdown dimension. Defaults to USER.",
                        "Breakdown by user.",
                        "Breakdown by event domain."
                      ],
                      "type": "string",
                      "description": "Optional. The dimension to break down the URL visits by. Defaults to USER."
                    },
                    "fixedTimeRange": {
                      "enum": [
                        "FIXED_TIME_RANGE_UNSPECIFIED",
                        "FIXED_TIME_RANGE_FOUR_HOURS",
                        "FIXED_TIME_RANGE_ONE_DAY",
                        "FIXED_TIME_RANGE_ONE_WEEK",
                        "FIXED_TIME_RANGE_FOUR_WEEKS"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified fixed time range. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS.",
                        "Four hours.",
                        "One day.",
                        "One week.",
                        "Four weeks."
                      ],
                      "type": "string",
                      "description": "Optional. The fixed time range to return the breakdowns for. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS. Fixed time ranges are used to allow for precomputation and optimize response times."
                    },
                    "metric": {
                      "type": "string",
                      "description": "Optional. The metric to return the breakdowns for. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
                      "enum": [
                        "URL_VISITS_METRIC_UNSPECIFIED",
                        "URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS",
                        "URL_VISITS_METRIC_HIGH_RISK_URL_VISITS",
                        "URL_VISITS_METRIC_MEDIUM_RISK_URL_VISITS",
                        "URL_VISITS_METRIC_LOW_RISK_URL_VISITS"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified URL visits metric. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
                        "The total number of suspicious URL visits. This is the sum of the high_risk_url_visits, medium_risk_url_visits, and low_risk_url_visits.",
                        "The number of suspicious URL visits with high risk.",
                        "The number of suspicious URL visits with medium risk.",
                        "The number of suspicious URL visits with low risk."
                      ]
                    },
                    "filter": {
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days or more recent than 48 hours ago. If `event_time` is not specified, results will end 48 hours ago. Supported fields for filtering: - `user` - `event_domain` - `event_time` Filtering by `user` or `event_domain` requires the `breakdown` dimension to be set to the corresponding value (e.g., you must set `breakdown = USER` to filter by `user`). Supported operators: - `=` for `user` and `event_domain`. - `<=` for `event_time`. Supported conjunctions: - `AND` Example: `user = \"testuser\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryUrlVisitsBreakdowns"
                },
                "queryContentTransfers": {
                  "description": "Returns a high-level summary of content transfers for a given customer.",
                  "path": "v1/{+customer}/enterprise/securityInsights:queryContentTransfers",
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryContentTransfers",
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryContentTransfersResponse"
                  },
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days, and may be unavailable or inaccurate for time ranges less than 4 hours. If `event_time` is not specified, results will be returned for the last 30 days. Supported fields for filtering: - `event_time` Supported operators: - `>=` and `<=` for `event_time` Supported conjunctions: - `AND` Example: `event_time >= \"2024-01-01T00:00:00Z\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "location": "query"
                    },
                    "customer": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryContentTransfers",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ]
                },
                "queryContentTransfersBreakdowns": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:queryContentTransfersBreakdowns",
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "breakdown": {
                      "type": "string",
                      "description": "Optional. The dimension to break down the content transfers by. Defaults to USER.",
                      "enum": [
                        "CONTENT_TRANSFERS_BREAKDOWN_DIMENSION_UNSPECIFIED",
                        "USER",
                        "EVENT_DOMAIN",
                        "CONTENT_CATEGORY"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified breakdown dimension. Defaults to USER.",
                        "Breakdown by user.",
                        "Breakdown by event domain.",
                        "Breakdown by content category."
                      ]
                    },
                    "fixedTimeRange": {
                      "enum": [
                        "FIXED_TIME_RANGE_UNSPECIFIED",
                        "FIXED_TIME_RANGE_FOUR_HOURS",
                        "FIXED_TIME_RANGE_ONE_DAY",
                        "FIXED_TIME_RANGE_ONE_WEEK",
                        "FIXED_TIME_RANGE_FOUR_WEEKS"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified fixed time range. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS.",
                        "Four hours.",
                        "One day.",
                        "One week.",
                        "Four weeks."
                      ],
                      "type": "string",
                      "description": "Optional. The fixed time range to return the breakdowns for. Defaults to FIXED_TIME_RANGE_FOUR_WEEKS. Fixed time ranges are used to allow for precomputation and optimize response times."
                    },
                    "metric": {
                      "enum": [
                        "CONTENT_TRANSFERS_METRIC_UNSPECIFIED",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_UPLOADS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_DOWNLOADS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_PRINTS",
                        "CONTENT_TRANSFERS_METRIC_TOTAL_SENSITIVE_TRANSFERS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_UPLOADS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_DOWNLOADS",
                        "CONTENT_TRANSFERS_METRIC_SENSITIVE_PRINTS"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified content transfers metric. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS.",
                        "The total number of content transfers (sensitive and non-sensitive). This is the sum of the total_uploads, total_downloads, and total_prints.",
                        "The total number of content uploads (sensitive and non-sensitive).",
                        "The total number of content downloads (sensitive and non-sensitive).",
                        "The total number of content prints (sensitive and non-sensitive).",
                        "The total number of sensitive content transfers. This is the sum of the sensitive_uploads, sensitive_downloads, and sensitive_prints.",
                        "The number of sensitive content uploads.",
                        "The number of sensitive content downloads.",
                        "The number of sensitive content prints."
                      ],
                      "type": "string",
                      "description": "Optional. The metric to return the breakdowns for. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS."
                    },
                    "filter": {
                      "description": "Optional. The filter to apply to the request. For syntax, see AIP-160. Data is not available for events older than 180 days or more recent than 48 hours ago. If `event_time` is not specified, results will end 48 hours ago. Supported fields for filtering: - `user` - `event_domain` - `content_category` - `event_time` Filtering by `user` or `event_domain` requires the `breakdown` dimension to be set to the corresponding value (e.g., you must set `breakdown = USER` to filter by `user`). Supported operators: - `=` for `user`, `event_domain`, and `content_category`. - `<=` for `event_time`. Supported conjunctions: - `AND` Example: `user = \"testuser\" AND event_time <= \"2024-01-02T00:00:00Z\"`",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of breakdowns to return. The service may return fewer than this value. If unspecified, at most 50 breakdowns will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "customer": {
                      "type": "string",
                      "description": "Required. The customer ID in the format \"customers/{customer_id}\".",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `QueryContentTransfersBreakdowns` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryContentTransfersBreakdowns` must match the call that provided the page token."
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1QueryContentTransfersBreakdownsResponse"
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.queryContentTransfersBreakdowns",
                  "description": "Returns summaries of content transfers for a given metric and breakdown dimension.",
                  "path": "v1/{+customer}/enterprise/securityInsights:queryContentTransfersBreakdowns"
                },
                "checkEnablementStatus": {
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The customer to check the enablement status for. Format: customers/{customer_id}"
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementVersionsV1CheckEnablementStatusResponse"
                  },
                  "id": "chromemanagement.customers.enterprise.securityInsights.checkEnablementStatus",
                  "path": "v1/{+customer}/enterprise/securityInsights:checkEnablementStatus",
                  "description": "Gets the setting state of the insights feature for the customer.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.securityinsights",
                    "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/enterprise/securityInsights:checkEnablementStatus",
                  "parameterOrder": [
                    "customer"
                  ]
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "countChromeCrashEvents": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeCrashEvents",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "orgUnitId": {
                  "type": "string",
                  "description": "If specified, only count the number of crash events of the devices in this organizational unit.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field used to order results. Supported order by fields: * browser_version * count * date",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Customer ID."
                },
                "filter": {
                  "location": "query",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Supported filter fields: * major_browser_version * minor_browser_version * browser_channel * device_platform * past_number_days Example: `major_browser_version = 'M115' AND past_number_days = '28'`.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponse"
              },
              "id": "chromemanagement.customers.reports.countChromeCrashEvents",
              "path": "v1/{+customer}/reports:countChromeCrashEvents",
              "description": "Get a count of Chrome crash events."
            },
            "countInstalledApps": {
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countInstalledApps",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Generate report of app installations.",
              "path": "v1/{+customer}/reports:countInstalledApps",
              "id": "chromemanagement.customers.reports.countInstalledApps",
              "response": {
                "$ref": "GoogleChromeManagementV1CountInstalledAppsResponse"
              },
              "parameters": {
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id * manifest_versions * risk_score"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id * manifest_versions * risk_score"
                }
              }
            },
            "findInstalledAppDevices": {
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppDevicesResponse"
              },
              "parameters": {
                "appType": {
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ]
                },
                "customer": {
                  "location": "path",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to specify the page of the request to be returned."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "location": "query"
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "The ID of the organizational unit.",
                  "type": "string"
                },
                "appId": {
                  "location": "query",
                  "type": "string",
                  "description": "Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote)."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. Supported order by fields: * machine * device_id",
                  "location": "query"
                }
              },
              "description": "Generate report of managed Chrome browser devices that have a specified app installed.",
              "path": "v1/{+customer}/reports:findInstalledAppDevices",
              "id": "chromemanagement.customers.reports.findInstalledAppDevices",
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppDevices",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeHardwareFleetDevices": {
              "flatPath": "v1/customers/{customersId}/reports:countChromeHardwareFleetDevices",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
              },
              "parameters": {
                "customer": {
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\".",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "readMask": {
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string"
                }
              },
              "path": "v1/{+customer}/reports:countChromeHardwareFleetDevices",
              "description": "Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "id": "chromemanagement.customers.reports.countChromeHardwareFleetDevices"
            },
            "countChromeVersions": {
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeVersions",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Generate report of installed Chrome versions.",
              "path": "v1/{+customer}/reports:countChromeVersions",
              "id": "chromemanagement.customers.reports.countChromeVersions",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeVersionsResponse"
              },
              "parameters": {
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "location": "query"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
                }
              }
            },
            "countPrintJobsByPrinter": {
              "id": "chromemanagement.customers.reports.countPrintJobsByPrinter",
              "description": "Get a summary of printing done by each printer.",
              "path": "v1/{+customer}/reports:countPrintJobsByPrinter",
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'printer' field. Supported order_by fields: * printer * job_count * device_count * user_count",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 100."
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only data for printers from the specified organizational unit will be returned. If omitted, data for printers from all organizational units will be returned."
                },
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request."
                },
                "pageToken": {
                  "description": "Token to specify the page of the response to be returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByPrinter"
            },
            "countChromeDevicesThatNeedAttention": {
              "description": "Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947",
              "path": "v1/{+customer}/reports:countChromeDevicesThatNeedAttention",
              "id": "chromemanagement.customers.reports.countChromeDevicesThatNeedAttention",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
              },
              "parameters": {
                "readMask": {
                  "type": "string",
                  "description": "Required. Mask of the fields that should be populated in the returned report.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesThatNeedAttention",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "countChromeProfileVersions": {
              "id": "chromemanagement.customers.reports.countChromeProfileVersions",
              "path": "v1/{+customer}/reports:countChromeProfileVersions",
              "description": "Generate report of installed Chrome versions on managed profiles.",
              "parameters": {
                "filter": {
                  "description": "Optional. Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "type": "string",
                  "location": "query"
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit. If omitted, all data will be returned.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100."
                },
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeProfileVersionsResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeProfileVersions"
            },
            "enumeratePrintJobs": {
              "id": "chromemanagement.customers.reports.enumeratePrintJobs",
              "path": "v1/{+customer}/reports:enumeratePrintJobs",
              "description": "Get a list of print jobs.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The number of print jobs in the page from 0 to 100 inclusive, if page_size is not specified or zero, the size will be 50."
                },
                "printerOrgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs submitted to printers from the specified organizational unit will be returned."
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A page token received from a previous `EnumeratePrintJobs` call. Provide this to retrieve the subsequent page. If omitted, the first page of results will be returned. When paginating, all other parameters provided to `EnumeratePrintJobs` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field used to order results. If not specified, results will be ordered in descending order of the `complete_time` field. Supported order by fields: * title * state * create_time * complete_time * document_page_count * color_mode * duplex_mode * printer * user_email",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported for `complete_time`. Note: Only = comparator supported for `user_id` and `printer_id`. Supported filter fields: * complete_time * printer_id * user_id",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1EnumeratePrintJobsResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:enumeratePrintJobs"
            },
            "countChromeBrowsersNeedingAttention": {
              "description": "Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity.",
              "path": "v1/{+customer}/reports:countChromeBrowsersNeedingAttention",
              "id": "chromemanagement.customers.reports.countChromeBrowsersNeedingAttention",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
              },
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "location": "path"
                },
                "orgUnitId": {
                  "description": "Optional. The ID of the organizational unit. If omitted, all data will be returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeBrowsersNeedingAttention",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "findInstalledAppProfiles": {
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Field used to order results. Supported order by fields: * email * profile_id * profile_permanent_id"
                },
                "appId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote)."
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 100.",
                  "format": "int32",
                  "location": "query"
                },
                "orgUnitId": {
                  "location": "query",
                  "description": "Optional. The ID of the organizational unit.",
                  "type": "string"
                },
                "appType": {
                  "location": "query",
                  "enumDescriptions": [
                    "App type not specified.",
                    "Chrome extension.",
                    "Chrome app.",
                    "Chrome theme.",
                    "Chrome hosted app.",
                    "ARC++ app."
                  ],
                  "enum": [
                    "APP_TYPE_UNSPECIFIED",
                    "EXTENSION",
                    "APP",
                    "THEME",
                    "HOSTED_APP",
                    "ANDROID_APP"
                  ],
                  "description": "Type of the app. Optional. If not provided, an app type will be inferred from the format of the app ID.",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. Token to specify the page of the request to be returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1FindInstalledAppProfilesResponse"
              },
              "id": "chromemanagement.customers.reports.findInstalledAppProfiles",
              "path": "v1/{+customer}/reports:findInstalledAppProfiles",
              "description": "Generate report of managed Chrome profiles that have a specified app installed.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:findInstalledAppProfiles",
              "parameterOrder": [
                "customer"
              ]
            },
            "countChromeDevicesReachingAutoExpirationDate": {
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countChromeDevicesReachingAutoExpirationDate",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "description": "Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947).",
              "path": "v1/{+customer}/reports:countChromeDevicesReachingAutoExpirationDate",
              "id": "chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate",
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
              },
              "parameters": {
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The organizational unit ID, if omitted, will return data for all organizational units."
                },
                "maxAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date.",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "minAueDate": {
                  "description": "Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "countActiveDevices": {
              "parameters": {
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "location": "path"
                },
                "date.year": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                },
                "date.month": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                },
                "date.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountActiveDevicesResponse"
              },
              "id": "chromemanagement.customers.reports.countActiveDevices",
              "description": "Get a count of active devices per set time frames.",
              "path": "v1/{+customer}/reports:countActiveDevices",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countActiveDevices",
              "parameterOrder": [
                "customer"
              ]
            },
            "countDevicesPerReleaseChannel": {
              "path": "v1/{+customer}/reports:countDevicesPerReleaseChannel",
              "description": "Get a count of devices per channel.",
              "id": "chromemanagement.customers.reports.countDevicesPerReleaseChannel",
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse"
              },
              "parameters": {
                "date.day": {
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "format": "int32",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "date.year": {
                  "location": "query",
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer"
                },
                "date.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerReleaseChannel",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            },
            "countPrintJobsByUser": {
              "parameters": {
                "printerOrgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit for printers. If specified, only print jobs initiated with printers from the specified organizational unit will be counted. If omitted, all print jobs will be counted.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum number of results to return. Maximum and default are 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "customer": {
                  "type": "string",
                  "description": "Required. Customer ID prefixed with \"customers/\" or \"customers/my_customer\" to use the customer associated to the account making the request.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "Token to specify the page of the response to be returned.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field used to order results. If omitted, results will be ordered in ascending order of the 'user_email' field. Supported order_by fields: * user_email * job_count * printer_count * device_count",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Note: Only >= and <= comparators are supported in this filter. Supported filter fields: * complete_time",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1CountPrintJobsByUserResponse"
              },
              "id": "chromemanagement.customers.reports.countPrintJobsByUser",
              "path": "v1/{+customer}/reports:countPrintJobsByUser",
              "description": "Get a summary of printing done by each user.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countPrintJobsByUser",
              "parameterOrder": [
                "customer"
              ]
            },
            "countDevicesPerBootType": {
              "description": "Get a count of devices per boot type.",
              "path": "v1/{+customer}/reports:countDevicesPerBootType",
              "id": "chromemanagement.customers.reports.countDevicesPerBootType",
              "response": {
                "$ref": "GoogleChromeManagementV1CountDevicesPerBootTypeResponse"
              },
              "parameters": {
                "date.day": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "customer": {
                  "description": "Required. Obfuscated customer ID prefixed with \"customers/C\" or \"customers/my_customer\".",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "date.year": {
                  "location": "query",
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer"
                },
                "date.month": {
                  "location": "query",
                  "format": "int32",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/reports:countDevicesPerBootType",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.reports.readonly"
              ]
            }
          }
        },
        "apps": {
          "methods": {
            "countChromeAppRequests": {
              "response": {
                "$ref": "GoogleChromeManagementV1CountChromeAppRequestsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50."
                },
                "orgUnitId": {
                  "type": "string",
                  "description": "The ID of the organizational unit.",
                  "location": "query"
                },
                "customer": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Customer id or \"my_customer\" to use the customer associated to the account making the request.",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to specify the page of the request to be returned.",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field used to order results. Supported fields: * request_count * latest_request_time",
                  "type": "string"
                }
              },
              "path": "v1/{+customer}/apps:countChromeAppRequests",
              "description": "Generate summary of app installation requests.",
              "id": "chromemanagement.customers.apps.countChromeAppRequests",
              "flatPath": "v1/customers/{customersId}/apps:countChromeAppRequests",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "parameterOrder": [
                "customer"
              ]
            },
            "fetchDevicesRequestingExtension": {
              "path": "v1/{+customer}/apps:fetchDevicesRequestingExtension",
              "description": "Get a list of devices that have requested to install an extension.",
              "id": "chromemanagement.customers.apps.fetchDevicesRequestingExtension",
              "response": {
                "$ref": "GoogleChromeManagementV1FetchDevicesRequestingExtensionResponse"
              },
              "parameters": {
                "extensionId": {
                  "type": "string",
                  "description": "Required. The extension for which we want to find requesting devices.",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\".",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "format": "int32",
                  "location": "query"
                },
                "orgUnitId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned."
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/customers/{customersId}/apps:fetchDevicesRequestingExtension",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ]
            },
            "fetchUsersRequestingExtension": {
              "parameters": {
                "pageSize": {
                  "description": "Optional. Maximum number of results to return. Maximum and default are 50. Any page size larger than 50 will be coerced to 50.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "orgUnitId": {
                  "description": "The ID of the organizational unit. Only consider devices that directly belong to this org unit, i.e. sub-orgunits are not counted. If omitted, all data will be returned.",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The customer ID or \"my_customer\" prefixed with \"customers/\"."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Token to specify the page of the request to be returned. Token expires after 1 day.",
                  "location": "query"
                },
                "extensionId": {
                  "type": "string",
                  "description": "Required. The extension for which we want to find the requesting users.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleChromeManagementV1FetchUsersRequestingExtensionResponse"
              },
              "id": "chromemanagement.customers.apps.fetchUsersRequestingExtension",
              "path": "v1/{+customer}/apps:fetchUsersRequestingExtension",
              "description": "Get a list of users that have requested to install an extension.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/apps:fetchUsersRequestingExtension",
              "parameterOrder": [
                "customer"
              ]
            }
          },
          "resources": {
            "chrome": {
              "methods": {
                "get": {
                  "description": "Get a specific app for a customer by its resource name.",
                  "path": "v1/{+name}",
                  "id": "chromemanagement.customers.apps.chrome.get",
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^customers/[^/]+/apps/chrome/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/customers/{customersId}/apps/chrome/{chromeId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ]
                }
              }
            },
            "web": {
              "methods": {
                "get": {
                  "id": "chromemanagement.customers.apps.web.get",
                  "path": "v1/{+name}",
                  "description": "Get a specific app for a customer by its resource name.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "pattern": "^customers/[^/]+/apps/web/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/apps/web/{webId}"
                }
              }
            },
            "android": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.appdetails.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/apps/android/{androidId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version.",
                      "pattern": "^customers/[^/]+/apps/android/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleChromeManagementV1AppDetails"
                  },
                  "id": "chromemanagement.customers.apps.android.get",
                  "description": "Get a specific app for a customer by its resource name.",
                  "path": "v1/{+name}"
                }
              }
            }
          }
        },
        "connectorConfigs": {
          "methods": {
            "list": {
              "flatPath": "v1/customers/{customersId}/connectorConfigs",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Format: customers/{customer}",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListConnectorConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectorConfigs` must match the call that provided the page token."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of connector configs to return. The default page size is 50 if page_size is unspecified, and the maximum page size allowed is 100. Values above 100 will be capped at 100.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/connectorConfigs",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists connector configs of a customer.",
              "id": "chromemanagement.customers.connectorConfigs.list"
            },
            "get": {
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: customers/{customer}/connectorConfigs/{connector_config}"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a connector config with customer ID and config ID.",
              "id": "chromemanagement.customers.connectorConfigs.get"
            },
            "create": {
              "description": "Creates a connector config.",
              "path": "v1/{+parent}/connectorConfigs",
              "id": "chromemanagement.customers.connectorConfigs.create",
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: customers/{customer}"
                },
                "connectorConfigId": {
                  "type": "string",
                  "description": "Optional. ID to use for the connector config, which becomes the final component of the connector config's resource name. If provided, the ID must be 1-63 characters long, and contain only lowercase letters, digits, and hyphens. It must start with a letter, and end with a letter or number. If not provided, the connector config will be assigned a random UUID.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/customers/{customersId}/connectorConfigs",
              "httpMethod": "POST"
            },
            "delete": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a connector config.",
              "id": "chromemanagement.customers.connectorConfigs.delete",
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "type": "string",
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "required": true
                }
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1/customers/{customersId}/connectorConfigs/{connectorConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. Format: customers/{customer}/connectorConfigs/{connector_config}",
                  "pattern": "^customers/[^/]+/connectorConfigs/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. The update mask that can be used to specify which fields to update.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "response": {
                "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
              },
              "id": "chromemanagement.customers.connectorConfigs.patch",
              "path": "v1/{+name}",
              "description": "Updates a connector config."
            }
          }
        },
        "telemetry": {
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.telemetry.readonly"
                  ],
                  "flatPath": "v1/customers/{customersId}/telemetry/devices",
                  "id": "chromemanagement.customers.telemetry.devices.list",
                  "path": "v1/{+parent}/telemetry/devices",
                  "description": "List all telemetry devices.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Token to specify next page in the list."
                    },
                    "parent": {
                      "type": "string",
[...]
