{
  "documentationLink": "http://developers.google.com/chrome/policy",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to ChromeOS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to ChromeOS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "revision": "20260923",
  "batchPath": "batch",
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "discoveryVersion": "v1",
  "name": "chromepolicy",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "schemas": {
    "GoogleChromePolicyVersionsV1NetworkSetting": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1NetworkSetting",
      "properties": {
        "value": {
          "description": "The value of the network setting.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "policySchema": {
          "description": "The fully qualified name of the network setting.",
          "type": "string"
        }
      },
      "description": "A network setting contains network configurations. It adheres to the PolicyAPI formats defined under the namespace chrome.networks.{wifi/ethernet/cellular/vpn}.Details"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkRequest",
      "description": "Request object for removing a network",
      "properties": {
        "targetResource": {
          "description": "Required. The target resource on which this network will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "networkId": {
          "description": "Required. The GUID of the network to remove.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription": {
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription",
      "type": "object",
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "properties": {
        "fieldDescription": {
          "description": "Output only. The description of the field.",
          "type": "string",
          "readOnly": true
        },
        "requiredItems": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems"
          },
          "description": "Output only. Provides a list of fields that are required to be set if this field has a certain value.",
          "readOnly": true
        },
        "knownValueDescriptions": {
          "description": "Output only. If the field has a set of known values, this field will provide a description for these values.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
          }
        },
        "description": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. Use name and field_description instead. The description for the field."
        },
        "inputConstraint": {
          "description": "Output only. Any input constraints associated on the values for the field.",
          "type": "string",
          "readOnly": true
        },
        "fieldDependencies": {
          "description": "Output only. Provides a list of fields and values. At least one of the fields must have the corresponding value in order for this field to be allowed to be set.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          },
          "type": "array",
          "readOnly": true
        },
        "field": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the field for associated with this description."
        },
        "defaultValue": {
          "readOnly": true,
          "description": "Output only. Client default if the policy is unset.",
          "type": "any"
        },
        "fieldConstraints": {
          "$ref": "GoogleChromePolicyVersionsV1FieldConstraints",
          "readOnly": true,
          "description": "Output only. Information on any input constraints associated on the values for the field."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the field."
        },
        "nestedFieldDescriptions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          },
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields. Fields are suggested to be displayed by the ordering in this list, not by field number.",
          "type": "array"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. Additional description for this value.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "Output only. The string represenstation of the value that can be set for the field.",
          "readOnly": true
        },
        "fieldDependencies": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Field conditions required for this value to be valid.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
          }
        }
      },
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldKnownValueDescription"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest": {
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest",
      "type": "object",
      "description": "Request message for listing the group priority ordering of an app.",
      "properties": {
        "policySchema": {
          "type": "string",
          "description": "The schema name of the policy for the request."
        },
        "policyNamespace": {
          "description": "The namespace of the policy type for the request.",
          "type": "string"
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to retrieve the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription": {
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "type": "object",
      "properties": {
        "acknowledgementRequired": {
          "type": "boolean",
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "readOnly": true
        },
        "noticeValue": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set."
        },
        "noticeMessage": {
          "type": "string",
          "description": "Output only. The notice message associate with the value of the field.",
          "readOnly": true
        },
        "field": {
          "description": "Output only. The field name associated with the notice.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest": {
      "id": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest"
          },
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      },
      "type": "object",
      "description": "Request message for modifying multiple policy values for a specific group-based target."
    },
    "GoogleChromePolicyVersionsV1PolicyModificationFieldError": {
      "type": "object",
      "properties": {
        "field": {
          "readOnly": true,
          "description": "Output only. The name of the field with the error.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. The error message related to the field.",
          "type": "string"
        }
      },
      "description": "Error information for a modification request of a specific field on a specific policy.",
      "id": "GoogleChromePolicyVersionsV1PolicyModificationFieldError"
    },
    "GoogleChromePolicyVersionsV1PolicySchema": {
      "id": "GoogleChromePolicyVersionsV1PolicySchema",
      "type": "object",
      "description": "Resource representing a policy schema.",
      "properties": {
        "supportUri": {
          "type": "string",
          "description": "Output only. URI to related support article for this schema.",
          "readOnly": true
        },
        "categoryTitle": {
          "type": "string",
          "description": "Title of the category in which a setting belongs."
        },
        "fieldDescriptions": {
          "description": "Output only. Detailed description of each field that is part of the schema. Fields are suggested to be displayed by the ordering in this list, not by field number.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaFieldDescription"
          }
        },
        "policyDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description about the policy schema for user consumption."
        },
        "accessRestrictions": {
          "type": "array",
          "description": "Output only. Specific access restrictions related to this policy.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "schemaName": {
          "readOnly": true,
          "description": "Output only. The fully qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies BatchModifyOrgUnitPolicies BatchModifyGroupPolicies or BatchDeleteGroupPolicies.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}"
        },
        "additionalTargetKeyNames": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName"
          },
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "readOnly": true,
          "type": "array"
        },
        "validTargetResources": {
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "TARGET_RESOURCE_UNSPECIFIED",
              "ORG_UNIT",
              "GROUP"
            ],
            "enumDescriptions": [
              "Unspecified target resource.",
              "Organizational Unit target resource.",
              "Group target resource."
            ]
          },
          "type": "array",
          "description": "Output only. Information about applicable target resources for the policy."
        },
        "definition": {
          "description": "Schema definition using proto descriptor.",
          "$ref": "Proto2FileDescriptorProto"
        },
        "notices": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchemaNoticeDescription"
          },
          "type": "array",
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "readOnly": true
        },
        "supportedPlatforms": {
          "items": {
            "enumDescriptions": [
              "Unspecified platform.",
              "ChromeOS.",
              "Chrome Browser for OSX/Windows/Linux.",
              "Chrome Browser for Android.",
              "Chrome Browser for iOS."
            ],
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "CHROME_OS",
              "CHROME_BROWSER",
              "CHROME_BROWSER_FOR_ANDROID",
              "CHROME_BROWSER_FOR_IOS"
            ]
          },
          "type": "array",
          "description": "Output only. List indicates that the policy will only apply to devices/users on these platforms.",
          "readOnly": true
        },
        "policyApiLifecycle": {
          "description": "Output only. Current lifecycle information.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyApiLifecycle",
          "readOnly": true
        }
      }
    },
    "GoogleChromePolicyVersionsV1ResolvedPolicy": {
      "description": "The resolved value of a policy for a given target.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ResolvedPolicy",
      "properties": {
        "addedSourceKey": {
          "description": "Output only. The added source key establishes at which level an entity was explicitly added for management. This is useful for certain type of policies that are only applied if they are explicitly added for management. For example: apps and networks. An entity can only be deleted from management in an Organizational Unit that it was explicitly added to. If this is not present it means that the policy is managed without the need to explicitly add an entity, for example: standard user or device policies.",
          "readOnly": true,
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "sourceKey": {
          "readOnly": true,
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "targetKey": {
          "description": "Output only. The target resource for which the resolved policy value applies.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true
        },
        "value": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "readOnly": true,
          "description": "Output only. The resolved value of the policy."
        }
      }
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileRequest": {
      "description": "Request message for uploading a file for a policy.",
      "properties": {
        "policyField": {
          "description": "Required. The fully qualified policy schema and field name this file is uploaded for. This information will be used to validate the content type of the file.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails": {
      "description": "Details of the errors encountered during a remove certificate request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request.",
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateErrorDetails",
      "type": "object",
      "properties": {
        "certificateReferences": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. If the certificate was not removed, a list of references to the certificate that prevented it from being removed. Only unreferenced certificates can be removed.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1CertificateReference"
          }
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Proto2EnumDescriptorProto": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        },
        "name": {
          "type": "string"
        },
        "visibility": {
          "description": "Support for `export` and `local` keywords on enums.",
          "type": "string",
          "enum": [
            "VISIBILITY_UNSET",
            "VISIBILITY_LOCAL",
            "VISIBILITY_EXPORT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "description": "Describes an enum type.",
      "type": "object",
      "id": "Proto2EnumDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1RemoveNetworkResponse": {
      "properties": {},
      "description": "Response object for removing a network.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems": {
      "description": "The fields that will become required based on the value of this field.",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaRequiredItems",
      "properties": {
        "fieldConditions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The value(s) of the field that provoke required field enforcement. An empty field_conditions implies that any value assigned to this field will provoke required field enforcement."
        },
        "requiredFields": {
          "description": "The fields that are required as a consequence of the field conditions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyTargetKey": {
      "description": "The key used to identify the target on which the policy will be applied.",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\") * Group (\"groups/{group_id}\")"
        },
        "additionalTargetKeys": {
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicyTargetKey"
    },
    "Proto2FileDescriptorProto": {
      "type": "object",
      "properties": {
        "editionDeprecated": {
          "deprecated": true,
          "type": "string",
          "description": "copybara:strip_begin TODO(b/538805613) Deprecate and remove this field in favor of enums. copybara:strip_end"
        },
        "syntax": {
          "type": "string",
          "description": "The syntax of the proto file. The supported values are \"proto2\", \"proto3\", and \"editions\". If `edition` is present, this value must be \"editions\". WARNING: This field should only be used by protobuf plugins or special cases like the proto compiler. Other uses are discouraged and developers should rely on the protoreflect APIs for their client language."
        },
        "messageType": {
          "type": "array",
          "description": "All top-level definitions in this file.",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string"
        },
        "optionDependency": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Names of files imported by this file purely for the purpose of providing option extensions. These are excluded from the dependency list above."
        },
        "name": {
          "type": "string",
          "description": "file name, relative to root of source tree"
        },
        "enumType": {
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          },
          "type": "array"
        }
      },
      "id": "Proto2FileDescriptorProto",
      "description": "Describes a complete .proto file."
    },
    "Proto2FieldDescriptorProto": {
      "properties": {
        "defaultValue": {
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes >= 128 are escaped.",
          "type": "string"
        },
        "jsonName": {
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported after proto2. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields. In Editions, the group wire format can be enabled via the `message_encoding` feature.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "type": "string",
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP."
        },
        "name": {
          "type": "string"
        },
        "label": {
          "type": "string",
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REPEATED",
            "LABEL_REQUIRED"
          ],
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            "The required label is only allowed in proto2. In proto3 and Editions it's explicitly prohibited. In Editions, the `field_presence` feature can be used to get this behavior."
          ]
        },
        "typeName": {
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace).",
          "type": "string"
        },
        "oneofIndex": {
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof.",
          "format": "int32",
          "type": "integer"
        },
        "proto3Optional": {
          "type": "boolean",
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`."
        },
        "number": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Describes a field within a message.",
      "id": "Proto2FieldDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest": {
      "type": "object",
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "properties": {
        "requests": {
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
    },
    "GoogleChromePolicyVersionsV1ResolveRequest": {
      "description": "Request message for getting the resolved policy value for a specific target.",
      "id": "GoogleChromePolicyVersionsV1ResolveRequest",
      "type": "object",
      "properties": {
        "policySchemaFilter": {
          "type": "string",
          "description": "Required. The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/policy/guides/policy-schemas for details on schema namespaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\""
        },
        "pageToken": {
          "type": "string",
          "description": "The page token used to retrieve a specific page of the request."
        },
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000.",
          "format": "int32"
        }
      }
    },
    "Proto2DescriptorProto": {
      "id": "Proto2DescriptorProto",
      "properties": {
        "name": {
          "type": "string"
        },
        "oneofDecl": {
          "type": "array",
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          }
        },
        "visibility": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Support for `export` and `local` keywords on enums.",
          "type": "string",
          "enum": [
            "VISIBILITY_UNSET",
            "VISIBILITY_LOCAL",
            "VISIBILITY_EXPORT"
          ]
        },
        "field": {
          "type": "array",
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          }
        },
        "enumType": {
          "type": "array",
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "nestedType": {
          "type": "array",
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        }
      },
      "description": "Describes a message type.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest": {
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        },
        "updateMask": {
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        }
      },
      "description": "Request parameters for modifying a policy value for a specific group target.",
      "id": "GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1NumericRangeConstraint": {
      "id": "GoogleChromePolicyVersionsV1NumericRangeConstraint",
      "properties": {
        "minimum": {
          "format": "int64",
          "type": "string",
          "description": "Minimum value."
        },
        "maximum": {
          "description": "Maximum value.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A constraint on upper and/or lower bounds, with at least one being set.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1CertificateReference": {
      "description": "Error information for removing of a specific certificate on a specific target. A reference to a certificate.",
      "properties": {
        "orgUnitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The obfuscated id of the org unit the referencing network is in."
        },
        "network": {
          "description": "Output only. The name of the referencing network.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1CertificateReference"
    },
    "Proto2OneofDescriptorProto": {
      "description": "Describes a oneof.",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Proto2OneofDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest": {
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to update the group priority ordering. The target resource must point to an app.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "groupIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The group IDs, in desired priority ordering."
        },
        "policyNamespace": {
          "description": "The namespace of the policy type for the request.",
          "type": "string"
        },
        "policySchema": {
          "type": "string",
          "description": "The schema name of the policy for the request."
        }
      },
      "id": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest",
      "description": "Request message for updating the group priority ordering of an app.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse": {
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Output only. The target resource for which the group priority ordering has been retrieved.",
          "readOnly": true
        },
        "policyNamespace": {
          "type": "string",
          "description": "Output only. The namespace of the policy type of the group IDs.",
          "readOnly": true
        },
        "policySchema": {
          "type": "string",
          "description": "Output only. The schema name of the policy for the group IDs.",
          "readOnly": true
        },
        "groupIds": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The group IDs, in priority ordering.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse",
      "description": "Response message for listing the group priority ordering of an app."
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateResponse": {
      "description": "Response object for removing a certificate.",
      "properties": {},
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationError": {
      "properties": {
        "errors": {
          "description": "Output only. The non-field errors related to the modification.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policyTargetKey": {
          "description": "Output only. The specific policy target modification that had error.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "readOnly": true
        },
        "policySchema": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The specific policy schema modification that had an error."
        },
        "fieldErrors": {
          "description": "Output only. The error messages related to the modification.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationFieldError"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Error information for a modification request of a specific policy on a specific target.",
      "id": "GoogleChromePolicyVersionsV1PolicyModificationError"
    },
    "GoogleChromePolicyVersionsV1RemoveCertificateRequest": {
      "description": "Request object for removing a certificate.",
      "properties": {
        "networkId": {
          "description": "Required. The GUID of the certificate to remove.",
          "type": "string"
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this certificate will be removed. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        }
      },
      "id": "GoogleChromePolicyVersionsV1RemoveCertificateRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ResolveResponse": {
      "type": "object",
      "description": "Response message for getting the resolved policy value for a specific target.",
      "id": "GoogleChromePolicyVersionsV1ResolveResponse",
      "properties": {
        "resolvedPolicies": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ResolvedPolicy"
          },
          "type": "array",
          "description": "The list of resolved policies found by the resolve request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token used to get the next set of resolved policies found by the request."
        }
      }
    },
    "GoogleChromePolicyVersionsV1PolicyValue": {
      "description": "A particular value for a policy managed by the service.",
      "properties": {
        "value": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The value of the policy that is compatible with the schema that it is associated with."
        },
        "policySchema": {
          "description": "The fully qualified name of the policy schema associated with this policy.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1PolicyValue",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DefineCertificateResponse": {
      "properties": {
        "networkId": {
          "type": "string",
          "description": "The guid of the certificate created by the action."
        },
        "targetResource": {
          "type": "string",
          "description": "the resource at which the certificate is defined."
        },
        "settings": {
          "description": "the affiliated settings of the certificate (NOT IMPLEMENTED)",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        }
      },
      "description": "Response object for creating a certificate.",
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
    },
    "Proto2EnumValueDescriptorProto": {
      "properties": {
        "name": {
          "type": "string"
        },
        "number": {
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Describes a value within an enum.",
      "type": "object",
      "id": "Proto2EnumValueDescriptorProto"
    },
    "GoogleChromePolicyVersionsV1AdditionalTargetKeyName": {
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "properties": {
        "keyDescription": {
          "description": "Key description.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key name."
        }
      },
      "id": "GoogleChromePolicyVersionsV1AdditionalTargetKeyName",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest": {
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest",
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "properties": {
        "policyValue": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyValue",
          "description": "The new value for the policy."
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string"
        }
      }
    },
    "GoogleChromePolicyVersionsV1DefineNetworkRequest": {
      "description": "Request object for creating a new network.",
      "id": "GoogleChromePolicyVersionsV1DefineNetworkRequest",
      "type": "object",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "name": {
          "description": "Required. Name of the new created network.",
          "type": "string"
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array",
          "description": "Required. Detailed network settings."
        }
      }
    },
    "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest"
          },
          "type": "array",
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. "
        }
      },
      "description": "Request message for modifying multiple policy values for a specific target.",
      "id": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest": {
      "type": "object",
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey"
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        }
      },
      "id": "GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "List of policies that will be deleted as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to a group resource. 3. All `policyTargetKey` values must have the same `app_id` key name in the `additionalTargetKeys`. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest",
      "description": "Request message for specifying that multiple policy values will be deleted.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest": {
      "properties": {
        "policyTargetKey": {
          "$ref": "GoogleChromePolicyVersionsV1PolicyTargetKey",
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to a Group."
        },
        "policySchema": {
          "type": "string",
          "description": "The fully qualified name of the policy schema that is being inherited."
        }
      },
      "type": "object",
      "description": "Request parameters for deleting the policy value of a specific group target.",
      "id": "GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest"
    },
    "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails": {
      "properties": {
        "modificationErrors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicyModificationError"
          },
          "description": "Output only. List of specific policy modifications errors that may have occurred during a modifying request."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicyModificationErrorDetails",
      "description": "Details of the errors encountered during a policy modification request. This message will be returned as part of the details of a google.rpc.Status returned to the user when there is an error in their request."
    },
    "GoogleChromePolicyVersionsV1UploadPolicyFileResponse": {
      "properties": {
        "downloadUri": {
          "description": "The uri for end user to download the file.",
          "type": "string"
        }
      },
      "id": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse",
      "description": "Response message for downloading an uploaded file.",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1PolicyApiLifecycle": {
      "description": "Lifecycle information.",
      "properties": {
        "policyApiLifecycleStage": {
          "type": "string",
          "enum": [
            "API_UNSPECIFIED",
            "API_PREVIEW",
            "API_DEVELOPMENT",
            "API_CURRENT",
            "API_DEPRECATED"
          ],
          "enumDescriptions": [
            "Policy Api Lifecycle is Unspecified.",
            "Policy is not working yet, but giving developers heads up on format. This stage can transfer to API_DEVELOPEMNT or API_CURRENT.",
            "Policy can change format in backward incompatible way (breaking change). This stage can transfer to API_CURRENT or API_DEPRECATED. This could be used for policies launched only to TTs or launched to selected customers for emergency usage.",
            "Policy in official format. Policy can change format in backward compatible way (non-breaking change). Example: this policy can introduce a new field, which is considered non-breaking change, when field masks are properly utilized. This stage can transfer to API_DEPRECATED.",
            "Please stop using this policy. This policy is deprecated and may/will be removed in the future. Most likely a new policy was introduced to replace this one."
          ],
          "description": "Indicates current life cycle stage of the policy API."
        },
        "scheduledToDeprecatePolicies": {
          "description": "Corresponding to deprecated_in_favor_of, the fully qualified namespace(s) of the old policies that will be deprecated because of introduction of this policy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Description about current life cycle."
        },
        "endSupport": {
          "$ref": "GoogleTypeDate",
          "description": "End supporting date for current policy. Attempting to modify a policy after its end support date will result in a Bad Request (400 error). Could only be set if policy_api_lifecycle_stage is API_DEPRECATED."
        },
        "deprecatedInFavorOf": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "In the event that this policy was deprecated in favor of another policy, the fully qualified namespace(s) of the new policies as they will show in PolicyAPI. Could only be set if policy_api_lifecycle_stage is API_DEPRECATED."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicyApiLifecycle"
    },
    "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies": {
      "description": "The field and the value it must have for another field to be allowed to be set.",
      "properties": {
        "sourceField": {
          "type": "string",
          "description": "The source field which this field depends on."
        },
        "sourceFieldValue": {
          "type": "string",
          "description": "The value which the source field must have for this field to be allowed to be set."
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1PolicySchemaFieldDependencies"
    },
    "GoogleChromePolicyVersionsV1DefineNetworkResponse": {
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "The target resource on which this new network will be defined. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")"
        },
        "networkId": {
          "description": "Network ID of the new created network.",
          "type": "string"
        },
        "settings": {
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          },
          "type": "array",
          "description": "Detailed network settings of the new created network"
        }
      },
      "description": "Response object for creating a network.",
      "id": "GoogleChromePolicyVersionsV1DefineNetworkResponse",
      "type": "object"
    },
    "GoogleChromePolicyVersionsV1UploadedFileConstraints": {
      "properties": {
        "sizeLimitBytes": {
          "description": "The size limit of uploaded files for a setting, in bytes.",
          "type": "string",
          "format": "int64"
        },
        "supportedContentTypes": {
          "description": "File types that can be uploaded for a setting.",
          "items": {
            "enumDescriptions": [
              "Unspecified content type.",
              "Plain text.",
              "HTML.",
              "JPEG.",
              "GIF.",
              "PNG.",
              "JSON.",
              "ZIP.",
              "GZIP.",
              "CSV.",
              "YAML.",
              "WEBP."
            ],
            "type": "string",
            "enum": [
              "CONTENT_TYPE_UNSPECIFIED",
              "CONTENT_TYPE_PLAIN_TEXT",
              "CONTENT_TYPE_HTML",
              "CONTENT_TYPE_IMAGE_JPEG",
              "CONTENT_TYPE_IMAGE_GIF",
              "CONTENT_TYPE_IMAGE_PNG",
              "CONTENT_TYPE_JSON",
              "CONTENT_TYPE_ZIP",
              "CONTENT_TYPE_GZIP",
              "CONTENT_TYPE_CSV",
              "CONTENT_TYPE_YAML",
              "CONTENT_TYPE_IMAGE_WEBP"
            ]
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleChromePolicyVersionsV1UploadedFileConstraints",
      "description": "Constraints on the uploaded file of a file policy."
    },
    "GoogleChromePolicyVersionsV1FieldConstraints": {
      "description": "Information about any range constraints.",
      "type": "object",
      "properties": {
        "numericRangeConstraint": {
          "description": "The allowed range for numeric fields.",
          "$ref": "GoogleChromePolicyVersionsV1NumericRangeConstraint"
        },
        "uploadedFileConstraints": {
          "description": "Constraints on the uploaded file of a file policy. If present, this policy requires a URL that can be fetched by uploading a file with the constraints specified in this proto.",
          "$ref": "GoogleChromePolicyVersionsV1UploadedFileConstraints"
        }
      },
      "id": "GoogleChromePolicyVersionsV1FieldConstraints"
    },
    "GoogleChromePolicyVersionsV1ListPolicySchemasResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The page token used to get the next page of policy schemas.",
          "type": "string"
        },
        "policySchemas": {
          "type": "array",
          "description": "The list of policy schemas that match the query.",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
          }
        }
      },
      "id": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse",
      "type": "object",
      "description": "Response message for listing policy schemas that match a filter."
    },
    "GoogleChromePolicyVersionsV1DefineCertificateRequest": {
      "id": "GoogleChromePolicyVersionsV1DefineCertificateRequest",
      "properties": {
        "settings": {
          "description": "Optional. Certificate settings within the chrome.networks.certificates namespace.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromePolicyVersionsV1NetworkSetting"
          }
        },
        "ceritificateName": {
          "description": "Optional. The optional name of the certificate. If not specified, the certificate issuer will be used as the name.",
          "type": "string"
        },
        "targetResource": {
          "description": "Required. The target resource on which this certificate is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string"
        },
        "certificate": {
          "type": "string",
          "description": "Required. The raw contents of the .PEM, .CRT, or .CER file."
        }
      },
      "description": "Request object for creating a certificate.",
      "type": "object"
    }
  },
  "id": "chromepolicy:v1",
  "ownerName": "Google",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "supportsMediaUpload": true,
          "flatPath": "v1/customers/{customersId}/policies/files:uploadPolicyFile",
          "path": "v1/{+customer}/policies/files:uploadPolicyFile",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+customer}/policies/files:uploadPolicyFile"
              }
            }
          },
          "response": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chrome.management.policy"
          ],
          "parameters": {
            "customer": {
              "description": "Required. The customer for which the file upload will apply.",
              "required": true,
              "pattern": "^customers/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "customer"
          ],
          "description": "Creates an enterprise file from the content provided by user. Returns a public download url for end user.",
          "request": {
            "$ref": "GoogleChromePolicyVersionsV1UploadPolicyFileRequest"
          },
          "id": "chromepolicy.media.upload",
          "httpMethod": "POST"
        }
      }
    },
    "customers": {
      "resources": {
        "policies": {
          "resources": {
            "orgunits": {
              "methods": {
                "batchModify": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "customer": {
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchModify",
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "batchInherit": {
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/policies/orgunits:batchInherit",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "parameterOrder": [
                    "customer"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/orgunits:batchInherit"
                }
              }
            },
            "networks": {
              "methods": {
                "removeNetwork": {
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeNetwork",
                  "description": "Remove an existing network by guid.",
                  "id": "chromepolicy.customers.policies.networks.removeNetwork",
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveNetworkResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/networks:removeNetwork",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "description": "Required. The customer whose network will be removed.",
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "defineNetwork": {
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineNetwork",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkRequest"
                  },
                  "parameters": {
                    "customer": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The customer who will own this new network.",
                      "pattern": "^customers/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "chromepolicy.customers.policies.networks.defineNetwork",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineNetworkResponse"
                  },
                  "path": "v1/{+customer}/policies/networks:defineNetwork",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "httpMethod": "POST",
                  "description": "Define a new network.",
                  "parameterOrder": [
                    "customer"
                  ]
                },
                "defineCertificate": {
                  "flatPath": "v1/customers/{customersId}/policies/networks:defineCertificate",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/networks:defineCertificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "id": "chromepolicy.customers.policies.networks.defineCertificate",
                  "description": "Creates a certificate at a specified OU for a customer.",
                  "parameterOrder": [
                    "customer"
                  ],
                  "parameters": {
                    "customer": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The customer for which the certificate will apply.",
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1DefineCertificateRequest"
                  }
                },
                "removeCertificate": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Remove an existing certificate by guid.",
                  "id": "chromepolicy.customers.policies.networks.removeCertificate",
                  "parameters": {
                    "customer": {
                      "required": true,
                      "description": "Required. The customer whose certificate will be removed.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateRequest"
                  },
                  "path": "v1/{+customer}/policies/networks:removeCertificate",
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1RemoveCertificateResponse"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "flatPath": "v1/customers/{customersId}/policies/networks:removeCertificate"
                }
              }
            },
            "groups": {
              "methods": {
                "updateGroupPriorityOrdering": {
                  "description": "Update a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "path": "v1/{+customer}/policies/groups:updateGroupPriorityOrdering",
                  "httpMethod": "POST",
                  "id": "chromepolicy.customers.policies.groups.updateGroupPriorityOrdering",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/groups:updateGroupPriorityOrdering",
                  "parameterOrder": [
                    "customer"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                },
                "batchModify": {
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest"
                  },
                  "parameters": {
                    "customer": {
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "type": "string"
                    }
                  },
                  "id": "chromepolicy.customers.policies.groups.batchModify",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+customer}/policies/groups:batchModify",
                  "parameterOrder": [
                    "customer"
                  ],
                  "description": "Modify multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchModify",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ]
                },
                "listGroupPriorityOrdering": {
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy",
                    "https://www.googleapis.com/auth/chrome.management.policy.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse"
                  },
                  "parameters": {
                    "customer": {
                      "description": "Required. ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request.",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/customers/{customersId}/policies/groups:listGroupPriorityOrdering",
                  "path": "v1/{+customer}/policies/groups:listGroupPriorityOrdering",
                  "parameterOrder": [
                    "customer"
                  ],
                  "id": "chromepolicy.customers.policies.groups.listGroupPriorityOrdering",
                  "description": "Retrieve a group priority ordering for an app. The target app must be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure the request will return the error details as part of the google.rpc.Status.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest"
                  }
                },
                "batchDelete": {
                  "path": "v1/{+customer}/policies/groups:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "description": "Delete multiple policy values that are applied to a specific group. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`, though the values for those keys may be different. On failure the request will return the error details as part of the google.rpc.Status.",
                  "request": {
                    "$ref": "GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest"
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/customers/{customersId}/policies/groups:batchDelete",
                  "parameters": {
                    "customer": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^customers/[^/]+$",
                      "description": "ID of the Google Workspace account or literal \"my_customer\" for the customer associated to the request."
                    }
                  },
                  "id": "chromepolicy.customers.policies.groups.batchDelete",
                  "httpMethod": "POST"
                }
              }
            }
          },
          "methods": {
            "resolve": {
              "parameterOrder": [
                "customer"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "id": "chromepolicy.customers.policies.resolve",
              "path": "v1/{+customer}/policies:resolve",
              "request": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveRequest"
              },
              "description": "Gets the resolved policy values for a list of policies that match a search query.",
              "parameters": {
                "customer": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request."
                }
              },
              "flatPath": "v1/customers/{customersId}/policies:resolve",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ResolveResponse"
              },
              "httpMethod": "POST"
            }
          }
        },
        "policySchemas": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "flatPath": "v1/customers/{customersId}/policySchemas",
              "path": "v1/{+parent}/policySchemas",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1ListPolicySchemasResponse"
              },
              "id": "chromepolicy.customers.policySchemas.list",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer for which the listing request will apply.",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of policy schemas to return, defaults to 100 and has a maximum of 1000.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "type": "string"
                }
              },
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/policySchemas/{policySchemasId}",
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "description": "Get a specific policy schema for a customer by its resource name.",
              "response": {
                "$ref": "GoogleChromePolicyVersionsV1PolicySchema"
              },
              "path": "v1/{+name}",
              "id": "chromepolicy.customers.policySchemas.get",
              "parameters": {
                "name": {
                  "description": "Required. The policy schema resource name to query.",
                  "required": true,
                  "pattern": "^customers/[^/]+/policySchemas/.*$",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "canonicalName": "Chrome Policy",
  "protocol": "rest",
  "version_module": true,
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://chromepolicy.mtls.googleapis.com/",
  "title": "Chrome Policy API",
  "servicePath": ""
}