{
  "rootUrl": "https://chromemanagement.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.appdetails.readonly": {
          "description": "See detailed information about apps installed on Chrome browsers and devices managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.reports.readonly": {
          "description": "See reports about devices and Chrome browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles.readonly": {
          "description": "See Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.telemetry.readonly": {
          "description": "See basic device and telemetry information collected from ChromeOS devices or users managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.profiles": {
          "description": "See, edit, delete, and take other necessary actions on Chrome browser profiles managed by your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.securityinsights.readonly": {
          "description": "See Chrome Security Insights reports"
        },
        "https://www.googleapis.com/auth/chrome.management.securityinsights": {
          "description": "Turn Chrome Security Insights on and off and view the data it generates"
        }
      }
    }
  },
  "basePath": "",
  "name": "chromemanagement",
  "documentationLink": "https://developers.google.com/chrome/management/",
  "revision": "20260705",
  "discoveryVersion": "v1",
  "servicePath": "",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "schemas": {
    "GoogleChromeManagementVersionsV1XdrSettings": {
      "id": "GoogleChromeManagementVersionsV1XdrSettings",
      "description": "XDR settings for connector configs.",
      "type": "object",
      "properties": {
        "enableAllXdrEvents": {
          "type": "boolean",
          "description": "Required. Whether to enable all XDR events."
        }
      }
    },
    "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "type": "object",
      "properties": {
        "noRecentUserActivityCount": {
          "type": "string",
          "description": "Number of ChromeOS devices that have not seen any user activity in the past 28 days.",
          "format": "int64"
        },
        "osVersionNotCompliantCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of devices whose OS version is not compliant."
        },
        "noRecentPolicySyncCount": {
          "description": "Number of ChromeOS devices have not synced policies in the past 28 days.",
          "type": "string",
          "format": "int64"
        },
        "pendingUpdate": {
          "format": "int64",
          "description": "Number of devices that are pending an OS update.",
          "type": "string"
        },
        "unsupportedPolicyCount": {
          "format": "int64",
          "description": "Number of devices that are unable to apply a policy due to an OS version mismatch.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse",
      "description": "Response containing counts for devices that need attention."
    },
    "GoogleChromeManagementV1CountActiveDevicesResponse": {
      "id": "GoogleChromeManagementV1CountActiveDevicesResponse",
      "description": "Response containing the number of active devices.",
      "type": "object",
      "properties": {
        "sevenDaysCount": {
          "type": "string",
          "description": "Number of active devices in the 7 days leading up to the date specified in the request.",
          "format": "int64"
        },
        "thirtyDaysCount": {
          "type": "string",
          "description": "Number of active devices in the 30 days leading up to the date specified in the request.",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1CountPrintJobsByPrinterResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "format": "int64",
          "description": "Total number of printers matching request.",
          "type": "string"
        },
        "printerReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1PrinterReport"
          },
          "description": "List of PrinterReports matching request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token for requesting the next page."
        }
      },
      "id": "GoogleChromeManagementV1CountPrintJobsByPrinterResponse",
      "description": "Response containing a summary printing report for each printer from the specified organizational unit for the requested time interval."
    },
    "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse": {
      "type": "object",
      "properties": {
        "modelReports": {
          "type": "array",
          "description": "The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook).",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          }
        },
        "memoryReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).",
          "type": "array"
        },
        "cpuReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "description": "The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz).",
          "type": "array"
        },
        "storageReports": {
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceHardwareCountReport"
          },
          "type": "array",
          "description": "The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128)."
        }
      },
      "id": "GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse",
      "description": "Response containing a list of devices with a specific type of hardware specification from the requested hardware type."
    },
    "GoogleChromeManagementV1RuntimeCountersReport": {
      "type": "object",
      "properties": {
        "uptimeRuntimeDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Total lifetime runtime. Currently always S0 runtime from Intel vPro PSR."
        },
        "enterHibernationCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of times that the device has entered into the hibernation state. Currently obtained via the PSR, count from S0->S4."
        },
        "enterSleepCount": {
          "description": "Number of times that the device has entered into the sleep state. Currently obtained via the PSR, count from S0->S3.",
          "type": "string",
          "format": "int64"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Timestamp when the report was collected.",
          "type": "string"
        },
        "enterPoweroffCount": {
          "format": "int64",
          "description": "Number of times that the device has entered into the power-off state. Currently obtained via the PSR, count from S0->S5.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1RuntimeCountersReport",
      "description": "Runtime counters retrieved from CPU. Currently the runtime counters telemetry is only supported by Intel vPro PSR on Gen 14+."
    },
    "GoogleChromeManagementV1StorageInfoDiskVolume": {
      "id": "GoogleChromeManagementV1StorageInfoDiskVolume",
      "description": "Information for disk volumes",
      "type": "object",
      "properties": {
        "storageFreeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Free storage space in bytes."
        },
        "storageTotalBytes": {
          "format": "int64",
          "type": "string",
          "description": "Total storage space in bytes."
        },
        "volumeId": {
          "description": "Disk volume id.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1OsUpdateStatus": {
      "type": "object",
      "properties": {
        "lastRebootTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last reboot.",
          "type": "string"
        },
        "lastUpdateCheckTime": {
          "type": "string",
          "description": "Output only. Timestamp of the last update check.",
          "format": "google-datetime",
          "readOnly": true
        },
        "lastUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last successful update.",
          "type": "string"
        },
        "updateState": {
          "readOnly": true,
          "enum": [
            "UPDATE_STATE_UNSPECIFIED",
            "OS_IMAGE_DOWNLOAD_NOT_STARTED",
            "OS_IMAGE_DOWNLOAD_IN_PROGRESS",
            "OS_UPDATE_NEED_REBOOT"
          ],
          "description": "Output only. Current state of the os update.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "OS has not started downloading.",
            "OS has started download on device.",
            "Device needs reboot to finish upload."
          ]
        },
        "newPlatformVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot."
        },
        "newRequestedPlatformVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. New requested platform version from the pending updated kiosk app."
        }
      },
      "id": "GoogleChromeManagementV1OsUpdateStatus",
      "description": "Contains information regarding the current OS update status. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceOsUpdateStatus](https://chromeenterprise.google/policies/#ReportDeviceOsUpdateStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT"
    },
    "GoogleChromeManagementVersionsV1SetFailureResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleChromeManagementVersionsV1SetFailureResponse",
      "description": "Response message for publishing a failure for a certificate provisioning process."
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponse": {
      "type": "object",
      "properties": {
        "crashEventCounts": {
          "items": {
            "$ref": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount"
          },
          "description": "Crash event counts grouped by date and browser version.",
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponse",
      "description": "Response contains a list of CrashEventCountByVersionPerDay which count the chrome crash at the certain date."
    },
    "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "urlVisitsBreakdowns": {
          "type": "array",
          "description": "The URL visit breakdowns from the specified insight.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1UrlVisitsBreakdown"
          }
        }
      },
      "id": "GoogleChromeManagementVersionsV1QueryUrlVisitsBreakdownsResponse",
      "description": "Response message for QueryUrlVisitsBreakdowns."
    },
    "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse": {
      "type": "object",
      "properties": {
        "deviceAueCountReports": {
          "description": "The list of reports sorted by auto update expiration date in ascending order.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceAueCountReport"
          }
        }
      },
      "id": "GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse",
      "description": "Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date."
    },
    "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult": {
      "type": "object",
      "properties": {
        "clientExecutionTime": {
          "type": "string",
          "description": "Output only. Timestamp of the client execution of the remote command.",
          "format": "google-datetime",
          "readOnly": true
        },
        "resultType": {
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified command result.",
            "Represents a command with an ignored result.",
            "Represents a failed command.",
            "Represents a succeeded command."
          ],
          "description": "Output only. Result type of the remote command.",
          "readOnly": true,
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ]
        },
        "resultCode": {
          "description": "Output only. Result code that indicates the type of error or success of the command.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult",
      "description": "Result of the execution of a command."
    },
    "GoogleChromeManagementVersionsV1SignDataResponse": {
      "type": "object",
      "properties": {
        "certificateProvisioningProcess": {
          "description": "Output only. The certificate provisioning process. The signature generated by the client will be available in the `signature` field of `CertificateProvisioningProcess`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1CertificateProvisioningProcess"
        }
      },
      "id": "GoogleChromeManagementVersionsV1SignDataResponse",
      "description": "Response message for requesting a signature from the client that initated a certificate provisioning process."
    },
    "GoogleChromeManagementV1ChromeAppInfo": {
      "id": "GoogleChromeManagementV1ChromeAppInfo",
      "description": "Chrome Web Store app information.",
      "type": "object",
      "properties": {
        "siteAccess": {
          "description": "Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppSiteAccess"
          }
        },
        "googleOwned": {
          "readOnly": true,
          "description": "Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found.",
          "type": "boolean"
        },
        "isCwsHosted": {
          "readOnly": true,
          "description": "Output only. Whether the app or extension is in a published state in the Chrome Web Store.",
          "type": "boolean"
        },
        "isTheme": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the app or extension is a theme."
        },
        "isKioskOnly": {
          "readOnly": true,
          "description": "Output only. Whether the app is only for Kiosk mode on ChromeOS devices",
          "type": "boolean"
        },
        "permissions": {
          "items": {
            "$ref": "GoogleChromeManagementV1ChromeAppPermission"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found."
        },
        "kioskEnabled": {
          "description": "Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices",
          "type": "boolean",
          "readOnly": true
        },
        "manifestVersion": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The version of this extension's manifest.",
          "type": "string"
        },
        "supportEnabled": {
          "description": "Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.",
          "type": "boolean",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "enum": [
            "ITEM_TYPE_UNSPECIFIED",
            "EXTENSION",
            "OTHERS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified ItemType.",
            "Chrome Extensions.",
            "Any other type than extension."
          ],
          "description": "Output only. Types of an item in the Chrome Web Store"
        },
        "minUserCount": {
          "type": "integer",
          "description": "Output only. The minimum number of users using this app.",
          "format": "int32",
          "readOnly": true
        },
        "isExtensionPolicySupported": {
          "readOnly": true,
          "description": "Output only. Whether an app supports policy for extensions.",
          "type": "boolean"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryOsCrashEvent": {
      "type": "object",
      "properties": {
        "sessionType": {
          "enum": [
            "SESSION_TYPE_UNSPECIFIED",
            "SESSION_TYPE_SIGNED_IN_USER",
            "SESSION_TYPE_KIOSK",
            "SESSION_TYPE_MANAGED_GUEST",
            "SESSION_TYPE_ACTIVE_DIRECTORY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Session type unknown.",
            "Signed in user.",
            "Kiosk.",
            "Managed guest session.",
            "Active directory session."
          ],
          "description": "Session type."
        },
        "crashType": {
          "enum": [
            "CRASH_TYPE_UNSPECIFIED",
            "CRASH_TYPE_KERNEL",
            "CRASH_TYPE_EMBEDDED_CONTROLLER"
          ],
          "description": "Crash type.",
          "type": "string",
          "enumDescriptions": [
            "Crash type unknown.",
            "Kernel crash.",
            "Embedded controller crash."
          ]
        },
        "crashId": {
          "type": "string",
          "description": "Crash id."
        }
      },
      "id": "GoogleChromeManagementV1TelemetryOsCrashEvent",
      "description": "OS crash data."
    },
    "GoogleChromeManagementV1TelemetryExternalDisplayData": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name."
        },
        "resolutionHorizontal": {
          "format": "int32",
          "description": "The horizontal resolution.",
          "type": "integer"
        },
        "refreshRate": {
          "description": "The refresh rate.",
          "type": "string",
          "format": "int64"
        },
        "serialNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The serial number."
        },
        "edidVersion": {
          "type": "string",
          "description": "The EDID version."
        },
        "resolutionVertical": {
          "format": "int32",
          "type": "integer",
          "description": "The vertical resolution."
        }
      },
      "id": "GoogleChromeManagementV1TelemetryExternalDisplayData",
      "description": "External display data."
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleChromeManagementV1TelemetryUserDevice": {
      "type": "object",
      "properties": {
        "deviceActivityReport": {
          "description": "Output only. Device activity reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1DeviceActivityReport"
          }
        },
        "peripheralsReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1PeripheralsReport"
          },
          "description": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array"
        },
        "audioStatusReport": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1AudioStatusReport"
          },
          "description": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array"
        },
        "networkBandwidthReport": {
          "description": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkBandwidthReport"
          }
        },
        "appReport": {
          "type": "array",
          "description": "Output only. App reports collected periodically sorted in a decreasing order of report_time.",
          "items": {
            "$ref": "GoogleChromeManagementV1AppReport"
          },
          "readOnly": true
        },
        "deviceId": {
          "type": "string",
          "description": "The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab."
        }
      },
      "id": "GoogleChromeManagementV1TelemetryUserDevice",
      "description": "Telemetry data collected for a managed user and device. * Granular permission needed: TELEMETRY_API_DEVICE"
    },
    "GoogleChromeManagementV1FindInstalledAppDevicesResponse": {
      "id": "GoogleChromeManagementV1FindInstalledAppDevicesResponse",
      "description": "Response containing a list of devices with queried app installed.",
      "type": "object",
      "properties": {
        "devices": {
          "items": {
            "$ref": "GoogleChromeManagementV1Device"
          },
          "description": "A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.",
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of devices matching request."
        },
        "nextPageToken": {
          "description": "Token to specify the next page of the request.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1ProfileAppInstallInstance": {
      "id": "GoogleChromeManagementV1ProfileAppInstallInstance",
      "description": "Describes a profile reporting Chrome Profile information.",
      "type": "object",
      "properties": {
        "profilePermanentId": {
          "description": "Output only. Profile permanent ID is the unique identifier of a profile within one customer.",
          "type": "string",
          "readOnly": true
        },
        "email": {
          "description": "Output only. The email of the profile.",
          "type": "string",
          "readOnly": true
        },
        "profileId": {
          "type": "string",
          "description": "Output only. The Chrome client side profile ID.",
          "readOnly": true
        },
        "profileOrgUnitId": {
          "readOnly": true,
          "description": "Output only. The organizational unit id of the profile.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1SplunkConfig": {
      "type": "object",
      "properties": {
        "unsecureScheme": {
          "description": "Optional. Whether to use an unsecure HTTP scheme. Defaults to false (HTTPS).",
          "type": "boolean"
        },
        "portNumber": {
          "description": "Optional. The port number to use. If not set, the default Splunk port is used.",
          "type": "integer",
          "format": "int32"
        },
        "host": {
          "description": "Required. Host to identify the customer specific server to receive the events.",
          "type": "string"
        },
        "hecToken": {
          "description": "Required. Input only. The data input's HTTP Event Collector token to use as an Authorization header.",
          "type": "string"
        },
        "reportingSettings": {
          "description": "Required. The reporting settings for the Splunk config.",
          "$ref": "GoogleChromeManagementVersionsV1ReportingSettings"
        },
        "source": {
          "type": "string",
          "description": "Optional. Optional source name to override the default one set in the Splunk admin console."
        }
      },
      "id": "GoogleChromeManagementVersionsV1SplunkConfig",
      "description": "Splunk connector config."
    },
    "GoogleChromeManagementV1HeartbeatStatusReport": {
      "type": "object",
      "properties": {
        "reportTime": {
          "type": "string",
          "description": "Timestamp of when status changed was detected",
          "format": "google-datetime"
        },
        "state": {
          "description": "State the device changed to",
          "type": "string",
          "enumDescriptions": [
            "State not specified",
            "Device is not eligible for heartbeat monitoring",
            "Device is online",
            "Device is offline",
            "Device is outdated"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "OFFLINE",
            "DEVICE_OUTDATED"
          ]
        }
      },
      "id": "GoogleChromeManagementV1HeartbeatStatusReport",
      "description": "Heartbeat status report of a device. * Available for Kiosks * This field provides online/offline/unknown status of a device and will only be included if the status has changed (e.g. Online -> Offline) * Data for this field is controlled via policy: [HeartbeatEnabled](https://chromeenterprise.google/policies/#HeartbeatEnabled) [More Info](https://support.google.com/chrome/a/answer/6179663#:~:text=On%20the%20Chrome,device%20status%20alerts) * Heartbeat Frequency: 2 mins * Note: If a device goes offline, it can take up to 12 minutes for the online status of the device to be updated * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: N/A * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_DEVICE_ACTIVITY_REPORT"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleChromeManagementVersionsV1ReportingDataPolicyData": {
      "type": "object",
      "properties": {
        "source": {
          "readOnly": true,
          "enum": [
            "POLICY_SOURCE_UNSPECIFIED",
            "MACHINE_PLATFORM",
            "USER_PLATFORM",
            "MACHINE_LEVEL_USER_CLOUD",
            "USER_CLOUD",
            "MACHINE_MERGED"
          ],
          "description": "Output only. Source of the policy.",
          "type": "string",
          "enumDescriptions": [
            "Represents an unspecified policy source.",
            "Represents a machine level platform policy.",
            "Represents a user level platform policy.",
            "Represents a machine level user cloud policy.",
            "Represents a user level cloud policy.",
            "Represents a machine level merged policy."
          ]
        },
        "value": {
          "readOnly": true,
          "description": "Output only. Value of the policy.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Error message of the policy, if any."
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the policy.",
          "readOnly": true
        },
        "conflicts": {
          "description": "Output only. Conflicting policy information.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData"
          }
        }
      },
      "id": "GoogleChromeManagementVersionsV1ReportingDataPolicyData",
      "description": "Information of a policy applied on a Chrome browser profile."
    },
    "GoogleChromeManagementV1ListTelemetryDevicesResponse": {
      "id": "GoogleChromeManagementV1ListTelemetryDevicesResponse",
      "type": "object",
      "properties": {
        "devices": {
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryDevice"
          },
          "type": "array",
          "description": "Telemetry devices returned in the response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify next page in the list."
        }
      }
    },
    "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount": {
      "id": "GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount",
      "description": "The `count` of the Chrome crash events at the `date`.",
      "type": "object",
      "properties": {
        "date": {
          "description": "Date of the crash event.",
          "$ref": "GoogleTypeDate"
        },
        "count": {
          "type": "string",
          "description": "Total count of crash events.",
          "format": "int64"
        },
        "browserVersion": {
          "description": "Browser version this is counting.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent": {
      "id": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent",
      "description": "`TelemetryUsbPeripheralsEvent` is triggered USB devices are either added or removed. * Granular permission needed: TELEMETRY_API_PERIPHERALS_REPORT",
      "type": "object",
      "properties": {
        "usbPeripheralReport": {
          "items": {
            "$ref": "GoogleChromeManagementV1UsbPeripheralReport"
          },
          "description": "List of usb devices that were either added or removed.",
          "type": "array"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ReportingData": {
      "type": "object",
      "properties": {
        "installedBrowserVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Updated version of a browser, if it is different from the active browser version."
        },
        "profilePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Path of the profile. A valid path is included only in affiliated profiles."
        },
        "policyData": {
          "type": "array",
          "description": "Output only. Information of the policies applied on the profile.",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataPolicyData"
          },
          "readOnly": true
        },
        "browserExecutablePath": {
          "description": "Output only. Executable path of the installed Chrome browser. A valid path is included only in affiliated profiles.",
          "type": "string",
          "readOnly": true
        },
        "extensionData": {
          "description": "Output only. Information of the extensions installed on the profile.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataExtensionData"
          }
        },
        "extensionPolicyData": {
          "description": "Output only. Information of the policies applied on the extensions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData"
          }
        }
      },
      "id": "GoogleChromeManagementVersionsV1ReportingData",
      "description": "Reporting data of a Chrome browser profile."
    },
    "GoogleChromeManagementVersionsV1ContentTransfersBreakdown": {
      "id": "GoogleChromeManagementVersionsV1ContentTransfersBreakdown",
      "description": "A content transfers summary for a given breakdown dimension.",
      "type": "object",
      "properties": {
        "user": {
          "type": "string",
          "description": "The user that transferred the content."
        },
        "contentCategory": {
          "description": "The content category of the content transfers.",
          "type": "string"
        },
        "summary": {
          "description": "The summary of content transfers for the breakdown dimension.",
          "$ref": "GoogleChromeManagementVersionsV1ContentTransfersSummary"
        },
        "eventDomain": {
          "type": "string",
          "description": "The event domain of the content transfers."
        }
      }
    },
    "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse": {
      "id": "GoogleChromeManagementVersionsV1ClaimCertificateProvisioningProcessResponse",
      "description": "Response message for claiming a certificate provisioning process.",
      "type": "object",
      "properties": {}
    },
    "GoogleChromeManagementV1AppDetails": {
      "type": "object",
      "properties": {
        "appId": {
          "type": "string",
          "description": "Output only. Unique store identifier for the item. Examples: \"gmbmikajjgmnabiglmofipeabaddhgne\" for the Save to Google Drive Chrome extension, \"com.google.android.apps.docs\" for the Google Drive Android app.",
          "readOnly": true
        },
        "serviceError": {
          "description": "Output only. Information about a partial service error if applicable.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "detailUri": {
          "type": "string",
          "description": "Output only. The uri for the detail page of the item.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. App's display name."
        },
        "homepageUri": {
          "readOnly": true,
          "description": "Output only. Home page or Website uri.",
          "type": "string"
        },
        "isPaidApp": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the app has to be paid for OR has paid content."
        },
        "iconUri": {
          "description": "Output only. A link to an image that can be used as an icon for the product.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}",
          "readOnly": true
        },
        "publisher": {
          "type": "string",
          "description": "Output only. The publisher of the item.",
          "readOnly": true
        },
        "latestPublishTime": {
          "type": "string",
          "description": "Output only. Latest published time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "reviewNumber": {
          "type": "string",
          "description": "Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.",
          "format": "int64",
          "readOnly": true
        },
        "privacyPolicyUri": {
          "description": "Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "enum": [
            "APP_ITEM_TYPE_UNSPECIFIED",
            "CHROME",
            "ANDROID",
            "WEB"
          ],
          "type": "string",
          "enumDescriptions": [
            "App type unspecified.",
            "Chrome app.",
            "ARC++ app.",
            "Web app."
          ],
          "description": "Output only. App type."
        },
        "description": {
          "type": "string",
          "description": "Output only. App's description.",
          "readOnly": true
        },
        "firstPublishTime": {
          "type": "string",
          "description": "Output only. First published time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "chromeAppInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1ChromeAppInfo",
          "description": "Output only. Chrome Web Store app information."
        },
        "androidAppInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1AndroidAppInfo",
          "description": "Output only. Android app information."
        },
        "reviewRating": {
          "description": "Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app.",
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. App version. A new revision is committed whenever a new version of the app is published."
        },
        "categoryIds": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The category IDs of the app, which are the same as stored in the Web Store item. It's expected that there is only one category ID."
        }
      },
      "id": "GoogleChromeManagementV1AppDetails",
      "description": "Resource representing app details."
    },
    "GoogleChromeManagementV1TelemetryEvent": {
      "type": "object",
      "properties": {
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "AUDIO_SEVERE_UNDERRUN",
            "NETWORK_STATE_CHANGE",
            "USB_ADDED",
            "USB_REMOVED",
            "NETWORK_HTTPS_LATENCY_CHANGE",
            "WIFI_SIGNAL_STRENGTH_LOW",
            "WIFI_SIGNAL_STRENGTH_RECOVERED",
            "VPN_CONNECTION_STATE_CHANGE",
            "APP_INSTALLED",
            "APP_UNINSTALLED",
            "APP_LAUNCHED",
            "OS_CRASH",
            "EXTERNAL_DISPLAY_CONNECTED",
            "EXTERNAL_DISPLAY_DISCONNECTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Event type unknown.",
            "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
            "Triggered immediately on any changes to a network connection.",
            "Triggered when USB devices are added.",
            "Triggered when USB devices are removed.",
            "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
            "Triggered when connected WiFi network signal strength drops below -70dBm.",
            "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
            "Triggered on changes to VPN connections.",
            "Triggered when an app is installed.",
            "Triggered when an app is uninstalled.",
            "Triggered when an app is launched.",
            "Triggered when a crash occurs.",
            "Triggered when an external display is connected.",
            "Triggered when an external display is disconnected."
          ],
          "description": "The event type of the current event."
        },
        "reportTime": {
          "description": "Timestamp that represents when the event was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "user": {
          "description": "Output only. Information about the user associated with the event.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUserInfo"
        },
        "device": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryDeviceInfo",
          "description": "Output only. Information about the device associated with the event."
        },
        "wifiSignalStrengthEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkSignalStrengthEvent",
          "description": "Output only. Payload for WiFi signal strength events. Present only when `event_type` is `WIFI_SIGNAL_STRENGTH_LOW` or `WIFI_SIGNAL_STRENGTH_RECOVERED`."
        },
        "appLaunchEvent": {
          "description": "Output only. Payload for app launch event.Present only when `event_type` is `APP_LAUNCHED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppLaunchEvent"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the event.",
          "type": "string"
        },
        "appInstallEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppInstallEvent",
          "description": "Output only. Payload for app install event. Present only when `event_type` is `APP_INSTALLED`."
        },
        "externalDisplaysEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryExternalDisplayEvent",
          "description": "Output only. Payload for external display connected/disconnected event. Present only when `event_type` is `EXTERNAL_DISPLAY_CONNECTED` or `EXTERNAL_DISPLAY_DISCONNECTED`."
        },
        "httpsLatencyChangeEvent": {
          "description": "Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent"
        },
        "appUninstallEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAppUninstallEvent",
          "description": "Output only. Payload for app uninstall event. Present only when `event_type` is `APP_UNINSTALLED`."
        },
        "audioSevereUnderrunEvent": {
          "description": "Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent"
        },
        "vpnConnectionStateChangeEvent": {
          "description": "Output only. Payload for VPN connection state change event. Present only when `event_type` is `VPN_CONNECTION_STATE_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent"
        },
        "networkStateChangeEvent": {
          "description": "Output only. Payload for network connection state change event. Present only when `event_type` is `NETWORK_STATE_CHANGE`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent"
        },
        "usbPeripheralsEvent": {
          "description": "Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryUsbPeripheralsEvent"
        },
        "osCrashEvent": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TelemetryOsCrashEvent",
          "description": "Output only. Payload for OS crash event. Present only when `event_type` is `OS_CRASH`."
        }
      },
      "id": "GoogleChromeManagementV1TelemetryEvent",
      "description": "Telemetry data reported by a managed device."
    },
    "GoogleTypeDate": {
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleChromeManagementV1ThunderboltInfo": {
      "id": "GoogleChromeManagementV1ThunderboltInfo",
      "description": "Thunderbolt bus info. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceSecurityStatus](https://chromeenterprise.google/policies/#ReportDeviceSecurityStatus) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: No * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BUS_DEVICE_INFO",
      "type": "object",
      "properties": {
        "securityLevel": {
          "description": "Security level of the Thunderbolt bus.",
          "type": "string",
          "enumDescriptions": [
            "Thunderbolt security level is not set.",
            "All devices are automatically connected by the firmware. No user approval is needed.",
            "User is asked whether the device is allowed to be connected.",
            "User is asked whether the device is allowed to be connected. In addition the device is sent a challenge that should match the expected one based on a random key written to the key sysfs attribute",
            "The firmware automatically creates tunnels for Thunderbolt.",
            "The firmware automatically creates tunnels for the USB controller and Display Port in a dock. All PCIe links downstream of the dock are removed.",
            "PCIE tunneling is disabled."
          ],
          "enum": [
            "THUNDERBOLT_SECURITY_LEVEL_UNSPECIFIED",
            "THUNDERBOLT_SECURITY_NONE_LEVEL",
            "THUNDERBOLT_SECURITY_USER_LEVEL",
            "THUNDERBOLT_SECURITY_SECURE_LEVEL",
            "THUNDERBOLT_SECURITY_DP_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_USB_ONLY_LEVEL",
            "THUNDERBOLT_SECURITY_NO_PCIE_LEVEL"
          ]
        }
      }
    },
    "GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "type": "object",
      "properties": {
        "telemetryEvents": {
          "description": "Telemetry events returned in the response.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementV1TelemetryEvent"
          }
        },
        "nextPageToken": {
          "description": "Token to specify next page in the list.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1ListTelemetryEventsResponse",
      "description": "Response message for listing telemetry events for a customer."
    },
    "GoogleChromeManagementV1RiskAssessmentEntry": {
      "id": "GoogleChromeManagementV1RiskAssessmentEntry",
      "description": "One risk assessment entry.",
      "type": "object",
      "properties": {
        "riskLevel": {
          "description": "Output only. The bucketed risk level for the risk assessment.",
          "type": "string",
          "enumDescriptions": [
            "Risk level not specified.",
            "Extension that represents a low risk.",
            "Extension that represents a medium risk.",
            "Extension that represents a high risk."
          ],
          "readOnly": true,
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "RISK_LEVEL_LOW",
            "RISK_LEVEL_MEDIUM",
            "RISK_LEVEL_HIGH"
          ]
        },
        "provider": {
          "readOnly": true,
          "enum": [
            "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED",
            "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI",
            "RISK_ASSESSMENT_PROVIDER_LAYERX",
            "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value when no provider is specified.",
            "CRXcavator.",
            "Spin.Ai.",
            "LayerX Security.",
            "Spin.AI V2."
          ],
          "description": "Output only. The risk assessment provider from which this entry comes from."
        },
        "riskAssessment": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1RiskAssessment",
          "description": "Output only. The details of the provider's risk assessment."
        }
      }
    },
    "GoogleChromeManagementV1NetworkStatusReport": {
      "type": "object",
      "properties": {
        "lanIpAddress": {
          "type": "string",
          "description": "Output only. LAN IP address.",
          "readOnly": true
        },
        "sampleFrequency": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. Frequency the report is sampled.",
          "type": "string"
        },
        "connectionState": {
          "readOnly": true,
          "enum": [
            "NETWORK_CONNECTION_STATE_UNSPECIFIED",
            "ONLINE",
            "CONNECTED",
            "PORTAL",
            "CONNECTING",
            "NOT_CONNECTED"
          ],
          "description": "Output only. Current connection state of the network.",
          "type": "string",
          "enumDescriptions": [
            "Network connection state unspecified.",
            "The network is connected and internet connectivity is available.",
            "The network is connected and not in a detected portal state, but internet connectivity may not be available.",
            "The network is connected but a portal state was detected. Internet connectivity may be limited.",
            "The network is in the process of connecting.",
            "The network is not connected."
          ]
        },
        "transmissionBitRateMbps": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Transmission bit rate measured in Megabits per second."
        },
        "connectionType": {
          "type": "string",
          "enumDescriptions": [
            "Network connection type unspecified",
            "Cellular network connection.",
            "Ethernet network connection.",
            "Tether network connection.",
            "VPN network connection.",
            "Wifi network connection."
          ],
          "description": "Output only. Network connection type.",
          "readOnly": true,
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "CELLULAR",
            "ETHERNET",
            "TETHER",
            "VPN",
            "WIFI"
          ]
        },
        "wifiLinkQuality": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal."
        },
        "metered": {
          "type": "boolean",
          "description": "Output only. Whether the network was detected as metered.",
          "readOnly": true
        },
        "wifiPowerManagementEnabled": {
          "readOnly": true,
          "description": "Output only. Wifi power management enabled",
          "type": "boolean"
        },
        "gatewayIpv6Address": {
          "type": "string",
          "description": "Output only. The gateway IPv6 for this interface, if detected",
          "readOnly": true
        },
        "encryptionOn": {
          "type": "boolean",
          "description": "Output only. Whether the wifi encryption key is turned off.",
          "readOnly": true
        },
        "reportTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the network state was reported.",
          "type": "string"
        },
        "signalStrengthDbm": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Signal strength for wireless networks measured in decibels.",
          "type": "integer"
        },
        "linkDownSpeedKbps": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The maximum downstream bandwidth in Kilobits per second (Kbps), if reported by the network interface or connection."
        },
        "receivingBitRateMbps": {
          "description": "Output only. Receiving bit rate measured in Megabits per second.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "gatewayIpAddress": {
          "description": "Output only. Gateway IP address.",
          "type": "string",
          "readOnly": true
        },
        "guid": {
          "readOnly": true,
          "description": "Output only. Network connection guid.",
          "type": "string"
        },
        "ipv6Address": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. IPv6 addresses assigned to this network, if any. Each address is a string in standard IPv6 text representation (e.g., \"2001:db8::1\").",
          "type": "array"
        },
        "transmissionPowerDbm": {
          "type": "integer",
          "description": "Output only. Transmission power measured in decibels.",
          "format": "int32",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1NetworkStatusReport",
      "description": "State of visible/configured networks. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportNetworkStatus](https://chromeenterprise.google/policies/#ReportNetworkStatus) * Data Collection Frequency: 60 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: Yes * Granular permission needed: TELEMETRY_API_NETWORK_REPORT"
    },
    "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "type": "object",
      "properties": {
        "httpsLatencyRoutineData": {
          "description": "HTTPS latency routine data that triggered the event.",
          "$ref": "GoogleChromeManagementV1HttpsLatencyRoutineData"
        },
        "httpsLatencyState": {
          "description": "Current HTTPS latency state.",
          "type": "string",
          "enumDescriptions": [
            "HTTPS latency state is unspecified.",
            "HTTPS latency recovered from a problem.",
            "HTTPS latency problem."
          ],
          "enum": [
            "HTTPS_LATENCY_STATE_UNSPECIFIED",
            "RECOVERY",
            "PROBLEM"
          ]
        }
      },
      "id": "GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent",
      "description": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT"
    },
    "GoogleChromeManagementVersionsV1SignDataRequest": {
      "type": "object",
      "properties": {
        "signData": {
          "description": "Required. The data that the client was asked to sign.",
          "type": "string",
          "format": "byte"
        },
        "signatureAlgorithm": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server-side builds the PKCS#1 DigestInfo and sends a SHA256 hash of it to the client. The client should sign using RSA with PKCS#1 v1.5 padding.",
            "The server-side builds the PKCS#1 DigestInfo and sends it unhashed to the client. The client is responsible for signing and hashing using the P-256 curve."
          ],
          "description": "Required. The signature algorithm that the adapter expects the client and backend components to use when processing `sign_data`.",
          "enum": [
            "SIGNATURE_ALGORITHM_UNSPECIFIED",
            "SIGNATURE_ALGORITHM_RSA_PKCS1_V1_5_SHA256",
            "SIGNATURE_ALGORITHM_ECDSA_SHA256"
          ]
        }
      },
      "id": "GoogleChromeManagementVersionsV1SignDataRequest",
      "description": "Request message for requesting a signature from the client that initated a certificate provisioning process."
    },
    "GoogleChromeManagementVersionsV1UploadCertificateResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleChromeManagementVersionsV1UploadCertificateResponse",
      "description": "Response message for publishing an issued certificate for a certificate provisioning process."
    },
    "GoogleChromeManagementVersionsV1ContentTransfersSummary": {
      "type": "object",
      "properties": {
        "metric": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified content transfers metric. Defaults to CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS.",
            "The total number of content transfers (sensitive and non-sensitive). This is the sum of the total_uploads, total_downloads, and total_prints.",
            "The total number of content uploads (sensitive and non-sensitive).",
            "The total number of content downloads (sensitive and non-sensitive).",
            "The total number of content prints (sensitive and non-sensitive).",
            "The total number of sensitive content transfers. This is the sum of the sensitive_uploads, sensitive_downloads, and sensitive_prints.",
            "The number of sensitive content uploads.",
            "The number of sensitive content downloads.",
            "The number of sensitive content prints."
          ],
          "description": "The type of content transfers metric.",
          "enum": [
            "CONTENT_TRANSFERS_METRIC_UNSPECIFIED",
            "CONTENT_TRANSFERS_METRIC_TOTAL_TRANSFERS",
            "CONTENT_TRANSFERS_METRIC_TOTAL_UPLOADS",
            "CONTENT_TRANSFERS_METRIC_TOTAL_DOWNLOADS",
            "CONTENT_TRANSFERS_METRIC_TOTAL_PRINTS",
            "CONTENT_TRANSFERS_METRIC_TOTAL_SENSITIVE_TRANSFERS",
            "CONTENT_TRANSFERS_METRIC_SENSITIVE_UPLOADS",
            "CONTENT_TRANSFERS_METRIC_SENSITIVE_DOWNLOADS",
            "CONTENT_TRANSFERS_METRIC_SENSITIVE_PRINTS"
          ]
        },
        "count": {
          "format": "int64",
          "description": "The count of the content transfers metric.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ContentTransfersSummary",
      "description": "Summary of content transfers for a given metric."
    },
    "GoogleChromeManagementV1HttpsLatencyRoutineData": {
      "type": "object",
      "properties": {
        "problem": {
          "description": "Output only. HTTPS latency routine problem if a problem occurred.",
          "type": "string",
          "enumDescriptions": [
            "HTTPS latency problem not specified.",
            "One or more DNS resolutions resulted in a failure.",
            "One or more HTTPS requests resulted in a failure.",
            "Average HTTPS request latency time between 500ms and 1000ms is high.",
            "Average HTTPS request latency time greater than 1000ms is very high."
          ],
          "readOnly": true,
          "enum": [
            "HTTPS_LATENCY_PROBLEM_UNSPECIFIED",
            "FAILED_DNS_RESOLUTIONS",
            "FAILED_HTTPS_REQUESTS",
            "HIGH_LATENCY",
            "VERY_HIGH_LATENCY"
          ]
        },
        "latency": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementV1HttpsLatencyRoutineData",
      "description": "Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites."
    },
    "GoogleChromeManagementV1AndroidAppInfo": {
      "type": "object",
      "properties": {
        "permissions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1AndroidAppPermission"
          },
          "description": "Output only. Permissions requested by an Android app.",
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1AndroidAppInfo",
      "description": "Android app information."
    },
    "GoogleChromeManagementV1GraphicsStatusReport": {
      "id": "GoogleChromeManagementV1GraphicsStatusReport",
      "description": "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the graphics data was reported."
        },
        "displays": {
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayInfo"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information about the displays for the device."
        }
      }
    },
    "GoogleChromeManagementV1TelemetryEventNotificationFilter": {
      "type": "object",
      "properties": {
        "eventTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Event type unknown.",
              "Triggered when a audio devices run out of buffer data for more than 5 seconds.",
              "Triggered immediately on any changes to a network connection.",
              "Triggered when USB devices are added.",
              "Triggered when USB devices are removed.",
              "Triggered when a new HTTPS latency problem was detected or the device has recovered form an existing HTTPS latency problem.",
              "Triggered when connected WiFi network signal strength drops below -70dBm.",
              "Triggered when connected WiFi network signal strength is recovered from a signal drop.",
              "Triggered on changes to VPN connections.",
              "Triggered when an app is installed.",
              "Triggered when an app is uninstalled.",
              "Triggered when an app is launched.",
              "Triggered when a crash occurs.",
              "Triggered when an external display is connected.",
              "Triggered when an external display is disconnected."
            ],
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "AUDIO_SEVERE_UNDERRUN",
              "NETWORK_STATE_CHANGE",
              "USB_ADDED",
              "USB_REMOVED",
              "NETWORK_HTTPS_LATENCY_CHANGE",
              "WIFI_SIGNAL_STRENGTH_LOW",
              "WIFI_SIGNAL_STRENGTH_RECOVERED",
              "VPN_CONNECTION_STATE_CHANGE",
              "APP_INSTALLED",
              "APP_UNINSTALLED",
              "APP_LAUNCHED",
              "OS_CRASH",
              "EXTERNAL_DISPLAY_CONNECTED",
              "EXTERNAL_DISPLAY_DISCONNECTED"
            ]
          },
          "description": "Only sends the notifications for events of these types. Must not be empty.",
          "type": "array"
        }
      },
      "id": "GoogleChromeManagementV1TelemetryEventNotificationFilter",
      "description": "Configures how the telemetry events should be filtered."
    },
    "GoogleChromeManagementV1KioskAppStatusReport": {
      "id": "GoogleChromeManagementV1KioskAppStatusReport",
      "description": "Kiosk app status report of a device. * Available for Kiosks * This field provides the app id and version number running on a kiosk device and the timestamp of when the report was last updated * Data for this field is controlled via policy: [ReportDeviceSessionStatus](https://chromeenterprise.google/policies/#ReportDeviceSessionStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_APPS_REPORT",
      "type": "object",
      "properties": {
        "appId": {
          "type": "string",
          "description": "App id of kiosk app for example \"mdmkkicfmmkgmpkmkdikhlbggogpicma\""
        },
        "appVersion": {
          "description": "App version number of kiosk app for example \"1.10.118\"",
          "type": "string"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "Timestamp of when report was collected",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementV1NetworkBandwidthReport": {
      "id": "GoogleChromeManagementV1NetworkBandwidthReport",
      "description": "Network bandwidth report. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT",
      "type": "object",
      "properties": {
        "reportTime": {
          "description": "Output only. Timestamp of when the report was collected.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "downloadSpeedKbps": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Download speed in kilobits per second.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse": {
      "type": "object",
      "properties": {
        "thirdPartyProfileUser": {
          "description": "Output only. The moved third party profile user.",
          "readOnly": true,
          "$ref": "GoogleChromeManagementVersionsV1ThirdPartyProfileUser"
        }
      },
      "id": "GoogleChromeManagementVersionsV1MoveThirdPartyProfileUserResponse",
      "description": "Response for MoveThirdPartyProfileUser method."
    },
    "GoogleChromeManagementV1TelemetryNotificationConfig": {
      "id": "GoogleChromeManagementV1TelemetryNotificationConfig",
      "description": "Configuration to receive notifications of telemetry data.",
      "type": "object",
      "properties": {
        "googleCloudPubsubTopic": {
          "type": "string",
          "description": "The pubsub topic to which notifications are published to."
        },
        "filter": {
          "description": "Only send notifications for telemetry data matching this filter.",
          "$ref": "GoogleChromeManagementV1TelemetryNotificationFilter"
        },
        "customer": {
          "type": "string",
          "description": "Output only. Google Workspace customer that owns the resource.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the notification configuration.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleChromeManagementVersionsV1UrlVisitsSummary": {
      "type": "object",
      "properties": {
        "metric": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified URL visits metric. Defaults to URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS.",
            "The total number of suspicious URL visits. This is the sum of the high_risk_url_visits, medium_risk_url_visits, and low_risk_url_visits.",
            "The number of suspicious URL visits with high risk.",
            "The number of suspicious URL visits with medium risk.",
            "The number of suspicious URL visits with low risk."
          ],
          "description": "The type of URL visits metric.",
          "enum": [
            "URL_VISITS_METRIC_UNSPECIFIED",
            "URL_VISITS_METRIC_TOTAL_SUSPICIOUS_URL_VISITS",
            "URL_VISITS_METRIC_HIGH_RISK_URL_VISITS",
            "URL_VISITS_METRIC_MEDIUM_RISK_URL_VISITS",
            "URL_VISITS_METRIC_LOW_RISK_URL_VISITS"
          ]
        },
        "count": {
          "format": "int64",
          "description": "The count of the URL visits metric.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1UrlVisitsSummary",
      "description": "Summary of URL visits for a given metric."
    },
    "GoogleChromeManagementVersionsV1GenericProfile": {
      "type": "object",
      "properties": {
        "profileAdapterConfigReference": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A string that references the administrator-provided configuration for the certificate provisioning profile."
        }
      },
      "id": "GoogleChromeManagementVersionsV1GenericProfile",
      "description": "Describes a generic certificate provisioning profile."
    },
    "GoogleChromeManagementV1DeviceHardwareCountReport": {
      "id": "GoogleChromeManagementV1DeviceHardwareCountReport",
      "description": "Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification.",
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Public name of the hardware specification."
        },
        "count": {
          "type": "string",
          "description": "Count of devices with a unique hardware specification.",
          "format": "int64"
        }
      }
    },
    "GoogleChromeManagementV1AppUsageData": {
      "id": "GoogleChromeManagementV1AppUsageData",
      "description": "App usage data.",
      "type": "object",
      "properties": {
        "runningDuration": {
          "type": "string",
          "description": "App foreground running time.",
          "format": "google-duration"
        },
        "appType": {
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ],
          "description": "Type of app.",
          "type": "string",
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ]
        },
        "appInstanceId": {
          "description": "Application instance id. This will be unique per window/instance.",
          "type": "string"
        },
        "appId": {
          "description": "App id.",
          "type": "string"
        }
      }
    },
    "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "format": "int64",
          "type": "string",
          "description": "Total size represents an estimated number of resources returned. Not guaranteed to be accurate above 10k profiles."
        },
        "chromeBrowserProfiles": {
          "description": "The list of profiles returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ChromeBrowserProfile"
          }
        },
        "nextPageToken": {
          "description": "The pagination token that can be used to list the next page.",
          "type": "string"
        }
      },
      "id": "GoogleChromeManagementVersionsV1ListChromeBrowserProfilesResponse",
      "description": "Response to ListChromeBrowserProfiles method."
    },
    "GoogleChromeManagementV1PrinterReport": {
      "type": "object",
      "properties": {
        "printer": {
          "description": "Printer name.",
          "type": "string"
        },
        "userCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of users that have sent print jobs to the printer."
        },
        "printerModel": {
          "type": "string",
          "description": "Printer model."
        },
        "deviceCount": {
          "format": "int64",
          "description": "Number of chrome devices that have been used to send print jobs to the specified printer.",
          "type": "string"
        },
        "printerId": {
          "type": "string",
          "description": "Printer API ID."
        },
        "jobCount": {
          "description": "Number of print jobs sent to the printer.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleChromeManagementV1PrinterReport",
      "description": "Report for CountPrintJobsByPrinter, contains statistics on printer usage. Contains the total number of print jobs initiated with this printer, the number of users and the number of devices that have initiated at least one print job with this printer."
    },
    "GoogleChromeManagementVersionsV1ConnectorConfigDetails": {
      "id": "GoogleChromeManagementVersionsV1ConnectorConfigDetails",
      "description": "The details of the connector config.",
      "type": "object",
      "properties": {
        "mipLabelConfig": {
          "description": "MIP label connector config.",
          "$ref": "GoogleChromeManagementVersionsV1MipLabelConfig"
        },
        "crowdStrikeFalconNextGenConfig": {
          "description": "CrowdStrike Falcon Next Gen connector config.",
          "$ref": "GoogleChromeManagementVersionsV1CrowdStrikeFalconNextGenConfig"
        },
        "crowdStrikeConfig": {
          "description": "CrowdStrike connector config.",
          "$ref": "GoogleChromeManagementVersionsV1CrowdStrikeConfig"
        },
        "pubSubXdrConfig": {
          "description": "Pub/Sub XDR connector config.",
          "$ref": "GoogleChromeManagementVersionsV1PubSubXdrConfig"
        },
        "googleSecOpsConfig": {
          "description": "Google SecOps connector config.",
          "$ref": "GoogleChromeManagementVersionsV1GoogleSecOpsConfig"
        },
        "crowdStrikeXdrConfig": {
          "description": "CrowdStrike XDR connector config.",
          "$ref": "GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig"
        },
        "deviceTrustConfig": {
          "description": "Device trust connector config.",
          "$ref": "GoogleChromeManagementVersionsV1DeviceTrustConfig"
        },
        "splunkConfig": {
          "description": "Splunk connector config.",
          "$ref": "GoogleChromeManagementVersionsV1SplunkConfig"
        },
        "pubSubConfig": {
          "description": "Pub/Sub connector config.",
          "$ref": "GoogleChromeManagementVersionsV1PubSubConfig"
        },
        "paloAltoNetworksConfig": {
          "description": "Palo Alto Networks connector config.",
          "$ref": "GoogleChromeManagementVersionsV1PaloAltoNetworksConfig"
        }
      }
    },
    "GoogleChromeManagementV1NetworkInfo": {
      "id": "GoogleChromeManagementV1NetworkInfo",
      "description": "Network device information. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_NETWORK_INFO",
      "type": "object",
      "properties": {
        "networkDevices": {
          "description": "Output only. List of network devices.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1NetworkDevice"
          }
        }
      }
    },
    "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token used to retrieve the next page of the listing request. If the token is empty, there are no more pages to retrieve.",
          "type": "string"
        },
        "connectorConfigs": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1ConnectorConfig"
          },
          "type": "array",
          "description": "The list of connector configs returned."
        }
      },
      "id": "GoogleChromeManagementVersionsV1ListConnectorConfigsResponse",
      "description": "Response to ListConnectorConfigs method."
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "id": "GoogleChromeManagementV1TotalMemoryEncryptionInfo",
      "description": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A",
      "type": "object",
      "properties": {
        "encryptionState": {
          "type": "string",
          "enumDescriptions": [
            "Memory encryption state is not set.",
            "The memory encryption state is unknown.",
            "Memory encrpytion on the device is disabled.",
            "Memory encryption on the device uses total memory encryption.",
            "Memory encryption on the device uses multi-key total memory encryption."
          ],
          "description": "The state of memory encryption on the device.",
          "enum": [
            "MEMORY_ENCRYPTION_STATE_UNSPECIFIED",
            "MEMORY_ENCRYPTION_STATE_UNKNOWN",
            "MEMORY_ENCRYPTION_STATE_DISABLED",
            "MEMORY_ENCRYPTION_STATE_TME",
            "MEMORY_ENCRYPTION_STATE_MKTME"
          ]
        },
        "maxKeys": {
          "format": "int64",
          "description": "The maximum number of keys that can be used for encryption.",
          "type": "string"
        },
        "keyLength": {
          "description": "The length of the encryption keys.",
          "type": "string",
          "format": "int64"
        },
        "encryptionAlgorithm": {
          "enum": [
            "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED",
            "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128",
            "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          ],
          "type": "string",
          "enumDescriptions": [
            "Memory encryption algorithm is not set.",
            "The memory encryption algorithm being used is unknown.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 128 bit block cypher.",
            "The memory encryption algorithm is using the AES_XTS encryption algorithm with a 256 bit block cypher."
          ],
          "description": "Memory encryption algorithm."
        }
      }
    },
    "GoogleChromeManagementV1GraphicsInfo": {
      "type": "object",
      "properties": {
        "adapterInfo": {
          "description": "Output only. Information about the graphics adapter (GPU).",
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1GraphicsAdapterInfo"
        },
        "displayDevices": {
          "type": "array",
          "description": "Output only. Information about the display(s) of the device.",
          "items": {
            "$ref": "GoogleChromeManagementV1DisplayDevice"
          },
          "readOnly": true
        },
        "touchScreenInfo": {
          "readOnly": true,
          "$ref": "GoogleChromeManagementV1TouchScreenInfo",
          "description": "Output only. Information about the internal touch screen(s) of the device."
        },
        "eprivacySupported": {
          "type": "boolean",
          "description": "Output only. Is ePrivacy screen supported or not.",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementV1GraphicsInfo",
      "description": "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_INFO"
    },
    "GoogleChromeManagementV1CpuStatusReport": {
      "id": "GoogleChromeManagementV1CpuStatusReport",
      "description": "Provides information about the status of the CPU. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_REPORT",
      "type": "object",
      "properties": {
        "sampleFrequency": {
          "type": "string",
          "description": "Output only. Frequency the report is sampled.",
          "format": "google-duration",
          "readOnly": true
        },
        "reportTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp in milliseconds representing time at which this report was sampled."
        },
        "cpuUtilizationPct": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Sample of CPU utilization (0-100 percent).",
          "type": "integer"
        },
        "cpuTemperatureInfo": {
          "description": "Output only. CPU temperature sample info per CPU core in Celsius",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleChromeManagementV1CpuTemperatureInfo"
          }
        }
      }
    },
    "GoogleChromeManagementV1TelemetryAppInstallEvent": {
      "type": "object",
      "properties": {
        "appId": {
          "type": "string",
          "description": "App id. For PWAs this is the start URL, and for extensions this is the extension id."
        },
        "appInstallSource": {
          "enum": [
            "APPLICATION_INSTALL_SOURCE_UNSPECIFIED",
            "APPLICATION_INSTALL_SOURCE_SYSTEM",
            "APPLICATION_INSTALL_SOURCE_SYNC",
            "APPLICATION_INSTALL_SOURCE_PLAY_STORE",
            "APPLICATION_INSTALL_SOURCE_CHROME_WEB_STORE",
            "APPLICATION_INSTALL_SOURCE_BROWSER"
          ],
          "description": "App installation source.",
          "type": "string",
          "enumDescriptions": [
            "Application install source is unknown.",
            "Application installed as part of Chrome OS.",
            "Application install source is a sync.",
            "Application install source is the Play store.",
            "Application install source is the Chrome web store.",
            "Application install source is a browser."
          ]
        },
        "appInstallTime": {
          "enum": [
            "APPLICATION_INSTALL_TIME_UNSPECIFIED",
            "APPLICATION_INSTALL_TIME_INIT",
            "APPLICATION_INSTALL_TIME_RUNNING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Application install time unknown.",
            "Application install is initialized.",
            "Application install is currently running."
          ],
          "description": "App installation time depending on the app lifecycle."
        },
        "appInstallReason": {
          "description": "App installation reason.",
          "type": "string",
          "enumDescriptions": [
            "Application install reason is unknown.",
            "Application installed with the system and is considered part of the OS.",
            "Application installed by policy.",
            "Application installed by an original equipment manufacturer (OEM).",
            "Application installed by default, but is not considered a system app.",
            "Application installed by sync.",
            "Application installed by user action.",
            "Application installed bt SubApp API call.",
            "Application installed by Kiosk on Chrome OS.",
            "Application installed by command line argument."
          ],
          "enum": [
            "APPLICATION_INSTALL_REASON_UNSPECIFIED",
            "APPLICATION_INSTALL_REASON_SYSTEM",
            "APPLICATION_INSTALL_REASON_POLICY",
            "APPLICATION_INSTALL_REASON_OEM",
            "APPLICATION_INSTALL_REASON_DEFAULT",
            "APPLICATION_INSTALL_REASON_SYNC",
            "APPLICATION_INSTALL_REASON_USER",
            "APPLICATION_INSTALL_REASON_SUB_APP",
            "APPLICATION_INSTALL_REASON_KIOSK",
            "APPLICATION_INSTALL_REASON_COMMAND_LINE"
          ]
        },
        "appType": {
          "description": "Type of app.",
          "type": "string",
          "enumDescriptions": [
            "Application type unknown.",
            "Application type arc (Android app).",
            "Deprecated. This value is no longer used. Application type built-in.",
            "Application type Linux (via Crostini).",
            "Application type Chrome app.",
            "Application type web.",
            "Application type Mac OS.",
            "Application type Plugin VM.",
            "Deprecated. This value is no longer used. Application type standalone browser (Lacros browser app).",
            "Application type remote.",
            "Application type borealis.",
            "Application type system web.",
            "Deprecated. This value is no longer used. Application type standalone browser chrome app.",
            "Application type extension.",
            "Deprecated. This value is no longer used. Application type standalone browser extension.",
            "Application type bruschetta."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enum": [
            "TELEMETRY_APPLICATION_TYPE_UNSPECIFIED",
            "APPLICATION_TYPE_ARC",
            "APPLICATION_TYPE_BUILT_IN",
            "APPLICATION_TYPE_CROSTINI",
            "APPLICATION_TYPE_CHROME_APP",
            "APPLICATION_TYPE_WEB",
            "APPLICATION_TYPE_MAC_OS",
            "APPLICATION_TYPE_PLUGIN_VM",
            "APPLICATION_TYPE_STANDALONE_BROWSER",
            "APPLICATION_TYPE_REMOTE",
            "APPLICATION_TYPE_BOREALIS",
            "APPLICATION_TYPE_SYSTEM_WEB",
            "APPLICATION_TYPE_STANDALONE_BROWSER_CHROME_APP",
            "APPLICATION_TYPE_EXTENSION",
            "APPLICATION_TYPE_STANDALONE_BROWSER_EXTENSION",
            "APPLICATION_TYPE_BRUSCHETTA"
          ]
        }
      },
      "id": "GoogleChromeManagementV1TelemetryAppInstallEvent",
      "description": "App installation data."
    },
    "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse": {
      "type": "object",
      "properties": {
        "summaries": {
          "items": {
            "$ref": "GoogleChromeManagementVersionsV1UrlVisitsSummary"
          },
          "type": "array",
          "description": "A collection of summaries for various URL visit metrics."
        }
      },
      "id": "GoogleChromeManagementVersionsV1QueryUrlVisitsResponse",
      "description": "Response message for QueryUrlVisits."
    },
    "GoogleChromeManagementVersionsV1SignDataMetadata": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Output only. Start time of the SignData operation.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleChromeManagementVersionsV1SignDataMetadata",
      "description": "Metadata for the long-running operation returned by signData."
    },
    "GoogleChromeManagementV1Device": {
      "type": "object",
      "properties": {
        "deviceId": {
          "readOnly": true,
[...]
