{
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "version_module": true,
  "protocol": "rest",
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "cancelSubmission": {
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "path": "v2/{+name}:cancelSubmission",
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission."
            },
            "publish": {
              "id": "chromewebstore.publishers.items.publish",
              "request": {
                "$ref": "PublishItemRequest"
              },
              "path": "v2/{+name}:publish",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "httpMethod": "POST",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "response": {
                "$ref": "PublishItemResponse"
              },
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "setPublishedDeployPercentage": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "path": "v2/{+name}:setPublishedDeployPercentage"
            },
            "fetchStatus": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "description": "Fetch the status of an item.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ],
              "path": "v2/{+name}:fetchStatus",
              "id": "chromewebstore.publishers.items.fetchStatus"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "id": "chromewebstore.media.upload",
          "path": "v2/{+name}:upload",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "httpMethod": "POST",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            },
            "maxSize": "2147483648"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^publishers/[^/]+/items/[^/]+$",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "description": "Upload a new package to an existing item."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "name": "chromewebstore",
  "id": "chromewebstore:v2",
  "revision": "20260715",
  "schemas": {
    "UploadItemPackageRequest": {
      "type": "object",
      "id": "UploadItemPackageRequest",
      "description": "Request message for UploadItemPackage.",
      "properties": {}
    },
    "Warning": {
      "properties": {
        "description": {
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning."
        }
      },
      "type": "object",
      "id": "Warning",
      "description": "Represents a single warning encountered during the request."
    },
    "UploadItemPackageResponse": {
      "properties": {
        "itemId": {
          "description": "Output only. The ID of the item the package was uploaded to.",
          "type": "string",
          "readOnly": true
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`).",
          "type": "string"
        },
        "uploadState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the item the package was uploaded to."
        }
      },
      "id": "UploadItemPackageResponse",
      "description": "Response message for `UploadItemPackage`.",
      "type": "object"
    },
    "CancelSubmissionRequest": {
      "id": "CancelSubmissionRequest",
      "description": "Request message for CancelSubmission.",
      "type": "object",
      "properties": {}
    },
    "SetPublishedDeployPercentageRequest": {
      "properties": {
        "deployPercentage": {
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "SetPublishedDeployPercentageRequest",
      "description": "Request message for SetPublishedDeployPercentage."
    },
    "PublishItemResponse": {
      "id": "PublishItemResponse",
      "description": "Response message for `PublishItem`.",
      "type": "object",
      "properties": {
        "itemId": {
          "readOnly": true,
          "description": "Output only. The ID of the item.",
          "type": "string"
        },
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "description": "Output only. The current state of the submission.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ]
        },
        "warningInfo": {
          "readOnly": true,
          "description": "Output only. Non-blocking warnings encountered during the request.",
          "$ref": "WarningsInfo"
        }
      }
    },
    "DeployInfo": {
      "type": "object",
      "id": "DeployInfo",
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer"
        }
      }
    },
    "WarningsInfo": {
      "id": "WarningsInfo",
      "description": "Message containing details on warnings encountered during PublishItem.",
      "type": "object",
      "properties": {
        "warnings": {
          "description": "All warnings encountered during the request.",
          "items": {
            "$ref": "Warning"
          },
          "type": "array"
        }
      }
    },
    "ItemRevisionStatus": {
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. Current state of the item",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "distributionChannels": {
          "type": "array",
          "description": "Details on the package of the item",
          "items": {
            "$ref": "DistributionChannel"
          }
        }
      },
      "type": "object",
      "id": "ItemRevisionStatus",
      "description": "Details on the status of an item revision."
    },
    "CancelSubmissionResponse": {
      "id": "CancelSubmissionResponse",
      "description": "Response message for `CancelSubmission`.",
      "type": "object",
      "properties": {}
    },
    "FetchItemStatusResponse": {
      "properties": {
        "publicKey": {
          "type": "string",
          "description": "The public key of the item, which may be generated by the store."
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "warned": {
          "type": "boolean",
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details."
        },
        "itemId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the item."
        },
        "publishedItemRevisionStatus": {
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "$ref": "ItemRevisionStatus",
          "readOnly": true
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        },
        "lastAsyncUploadState": {
          "readOnly": true,
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "type": "string"
        },
        "takenDown": {
          "type": "boolean",
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details."
        }
      },
      "id": "FetchItemStatusResponse",
      "description": "Response message for `FetchItemStatus`.",
      "type": "object"
    },
    "PublishItemRequest": {
      "properties": {
        "publishType": {
          "type": "string",
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ]
        },
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "blockOnWarnings": {
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "deployInfos": {
          "type": "array",
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "items": {
            "$ref": "DeployInfo"
          }
        }
      },
      "id": "PublishItemRequest",
      "description": "Request message for PublishItem.",
      "type": "object"
    },
    "DistributionChannel": {
      "properties": {
        "deployPercentage": {
          "format": "int32",
          "type": "integer",
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100)."
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        }
      },
      "id": "DistributionChannel",
      "description": "Deployment information for a specific release channel",
      "type": "object"
    },
    "SetPublishedDeployPercentageResponse": {
      "type": "object",
      "id": "SetPublishedDeployPercentageResponse",
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "properties": {}
    }
  },
  "canonicalName": "Chromewebstore",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "ownerDomain": "google.com",
  "version": "v2",
  "servicePath": "",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "ownerName": "Google",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "title": "Chrome Web Store API"
}