{
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "version": "v1.1",
  "version_module": true,
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "name": "chromewebstore",
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "",
  "protocol": "rest",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "canonicalName": "Chromewebstore",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Item": {
      "id": "Item",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies this resource as an Item. Value: the fixed string \"chromewebstore#item\".",
          "type": "string"
        },
        "id": {
          "description": "Unique ID of the item.",
          "type": "string"
        },
        "itemError": {
          "description": "Detail human-readable status of the operation, in English only. Same error messages are displayed when you upload your app to the Chrome Web Store.",
          "type": "array",
          "items": {
            "$ref": "ItemError"
          }
        },
        "crxVersion": {
          "description": "The CRX version of the item. If the projection is draft, then it is the draft's CRX version.",
          "type": "string"
        },
        "uploadState": {
          "description": "Status of the operation. Possible values are: - \\\"FAILURE\\\" - \\\"IN_PROGRESS\\\" - \\\"NOT_FOUND\\\" - \\\"SUCCESS\\\" ",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key of this item.",
          "type": "string"
        }
      }
    },
    "ItemError": {
      "properties": {
        "error_code": {
          "description": "The error code.",
          "type": "string"
        },
        "error_detail": {
          "description": "The human-readable detail message of the error.",
          "type": "string"
        }
      },
      "id": "ItemError",
      "description": "Error of the item",
      "type": "object"
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "target": {
          "description": "The publish target of this publish operation. This is the same as using publishTarget as a URL query parameter. The string value can either be target=\"trustedTesters\" or target=\"default\". The default value, if none is supplied, is target=\"default\". Recommended usage is to use the URL query parameter to specificy the value.",
          "type": "string"
        },
        "deployPercentage": {
          "format": "int32",
          "description": "The target deploy percentage of the item. It's only useful for items with big user base.",
          "type": "integer"
        },
        "reviewExemption": {
          "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
          "type": "boolean"
        }
      }
    },
    "Item2": {
      "id": "Item2",
      "type": "object",
      "properties": {
        "item_id": {
          "description": "The ID of this item.",
          "type": "string"
        },
        "status": {
          "items": {
            "type": "string"
          },
          "description": "The status code of this publish operation. It may contain multiple elements from the following list: NOT_AUTHORIZED, INVALID_DEVELOPER, DEVELOPER_NO_OWNERSHIP, DEVELOPER_SUSPENDED, ITEM_NOT_FOUND, ITEM_PENDING_REVIEW, ITEM_TAKEN_DOWN, PUBLISHER_SUSPENDED.",
          "type": "array"
        },
        "kind": {
          "description": "Static string value is always \"chromewebstore#item\".",
          "type": "string"
        },
        "statusDetail": {
          "description": "Detailed human-comprehensible explanation of the status code above.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "title": "Chrome Web Store API",
  "id": "chromewebstore:v1.1",
  "revision": "20260708",
  "ownerDomain": "google.com",
  "resources": {
    "items": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "Item"
          },
          "parameters": {
            "itemId": {
              "description": "The ID of the item to upload.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items/{itemId}"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648"
          },
          "request": {
            "$ref": "Item"
          },
          "supportsMediaUpload": true,
          "path": "chromewebstore/v1.1/items/{itemId}",
          "flatPath": "chromewebstore/v1.1/items/{itemId}",
          "parameterOrder": [
            "itemId"
          ],
          "description": "Updates an existing item.",
          "id": "chromewebstore.items.update",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ]
        },
        "get": {
          "path": "chromewebstore/v1.1/items/{itemId}",
          "parameters": {
            "itemId": {
              "required": true,
              "description": "Unique identifier representing the Chrome App, Chrome Extension, or the Chrome Theme.",
              "location": "path",
              "type": "string"
            },
            "projection": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Return information extracted from the current draft.",
                "Return information extracted from the published item draft."
              ],
              "description": "Determines which subset of the item information to return.",
              "enum": [
                "DRAFT",
                "PUBLISHED"
              ]
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Item"
          },
          "id": "chromewebstore.items.get",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore",
            "https://www.googleapis.com/auth/chromewebstore.readonly"
          ],
          "parameterOrder": [
            "itemId"
          ],
          "description": "Gets your own Chrome Web Store item.",
          "flatPath": "chromewebstore/v1.1/items/{itemId}"
        },
        "insert": {
          "id": "chromewebstore.items.insert",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "parameterOrder": [],
          "description": "Inserts a new item.",
          "flatPath": "chromewebstore/v1.1/items",
          "supportsMediaUpload": true,
          "path": "chromewebstore/v1.1/items",
          "httpMethod": "POST",
          "response": {
            "$ref": "Item"
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/chromewebstore/v1.1/items"
              }
            }
          },
          "parameters": {
            "publisherEmail": {
              "description": "The email of the publisher who owns the items. Defaults to the caller's email address.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "publish": {
          "path": "chromewebstore/v1.1/items/{itemId}/publish",
          "httpMethod": "POST",
          "response": {
            "$ref": "Item2"
          },
          "request": {
            "$ref": "PublishRequest"
          },
          "parameters": {
            "itemId": {
              "description": "The ID of the item to publish.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "deployPercentage": {
              "description": "The deploy percentage you want to set for your item. Valid values are [0, 100]. If set to any number less than 100, only that many percentage of users will be allowed to get the update.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "publishTarget": {
              "description": "Provide defined publishTarget in URL (case sensitive): publishTarget=\"trustedTesters\" or publishTarget=\"default\". Defaults to publishTarget=\"default\".",
              "location": "query",
              "type": "string"
            },
            "reviewExemption": {
              "description": "Optional. The caller request to exempt the review and directly publish because the update is within the list that we can automatically validate. The API will check if the exemption can be granted using real time data.",
              "location": "query",
              "type": "boolean"
            }
          },
          "id": "chromewebstore.items.publish",
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "parameterOrder": [
            "itemId"
          ],
          "description": "Publishes an item.",
          "flatPath": "chromewebstore/v1.1/items/{itemId}/publish"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them."
}