{
  "baseUrl": "https://chromewebstore.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "title": "Chrome Web Store API",
  "mtlsRootUrl": "https://chromewebstore.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "publishers": {
      "resources": {
        "items": {
          "methods": {
            "cancelSubmission": {
              "id": "chromewebstore.publishers.items.cancelSubmission",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "response": {
                "$ref": "CancelSubmissionResponse"
              },
              "request": {
                "$ref": "CancelSubmissionRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "path": "v2/{+name}:cancelSubmission",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:cancelSubmission",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission."
            },
            "publish": {
              "request": {
                "$ref": "PublishItemRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "path": "v2/{+name}:publish",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:publish",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`.",
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "response": {
                "$ref": "PublishItemResponse"
              },
              "id": "chromewebstore.publishers.items.publish"
            },
            "fetchStatus": {
              "path": "v2/{+name}:fetchStatus",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:fetchStatus",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Fetch the status of an item.",
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/items/[^/]+$",
                  "description": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "chromewebstore.publishers.items.fetchStatus",
              "response": {
                "$ref": "FetchItemStatusResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore",
                "https://www.googleapis.com/auth/chromewebstore.readonly"
              ]
            },
            "setPublishedDeployPercentage": {
              "scopes": [
                "https://www.googleapis.com/auth/chromewebstore"
              ],
              "response": {
                "$ref": "SetPublishedDeployPercentageResponse"
              },
              "id": "chromewebstore.publishers.items.setPublishedDeployPercentage",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^publishers/[^/]+/items/[^/]+$"
                }
              },
              "request": {
                "$ref": "SetPublishedDeployPercentageRequest"
              },
              "path": "v2/{+name}:setPublishedDeployPercentage",
              "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:setPublishedDeployPercentage",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users."
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "supportsMediaUpload": true,
          "id": "chromewebstore.media.upload",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "2147483648",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2/{+name}:upload"
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/chromewebstore"
          ],
          "response": {
            "$ref": "UploadItemPackageResponse"
          },
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
              "type": "string",
              "required": true,
              "pattern": "^publishers/[^/]+/items/[^/]+$"
            }
          },
          "request": {
            "$ref": "UploadItemPackageRequest"
          },
          "path": "v2/{+name}:upload",
          "flatPath": "v2/publishers/{publishersId}/items/{itemsId}:upload",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "description": "Upload a new package to an existing item."
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "version": "v2",
  "batchPath": "batch",
  "id": "chromewebstore:v2",
  "basePath": "",
  "version_module": true,
  "servicePath": "",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chromewebstore": {
          "description": "See, edit, update, or publish your Chrome Web Store extensions, themes, apps, and licences you have access to"
        },
        "https://www.googleapis.com/auth/chromewebstore.readonly": {
          "description": "See and download your Chrome Web Store extensions and apps, and see licenses you have access to"
        }
      }
    }
  },
  "revision": "20260803",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://chromewebstore.googleapis.com/",
  "description": "The Chrome Web Store API provides access to data about apps and extensions, as well as developer tools for managing them.",
  "schemas": {
    "UploadItemPackageRequest": {
      "id": "UploadItemPackageRequest",
      "properties": {},
      "description": "Request message for UploadItemPackage.",
      "type": "object"
    },
    "ItemRevisionStatus": {
      "description": "Details on the status of an item revision.",
      "type": "object",
      "id": "ItemRevisionStatus",
      "properties": {
        "distributionChannels": {
          "items": {
            "$ref": "DistributionChannel"
          },
          "description": "Details on the package of the item",
          "type": "array"
        },
        "state": {
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the item",
          "type": "string"
        }
      }
    },
    "DeployInfo": {
      "description": "Deployment information for a specific release channel. Used in requests to update deployment parameters.",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "description": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DeployInfo"
    },
    "CancelSubmissionRequest": {
      "description": "Request message for CancelSubmission.",
      "type": "object",
      "id": "CancelSubmissionRequest",
      "properties": {}
    },
    "PublishItemResponse": {
      "properties": {
        "itemId": {
          "description": "Output only. The ID of the item.",
          "type": "string",
          "readOnly": true
        },
        "warningInfo": {
          "description": "Output only. Non-blocking warnings encountered during the request.",
          "$ref": "WarningsInfo",
          "readOnly": true
        },
        "name": {
          "description": "The name of the item that was submitted",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the submission.",
          "type": "string",
          "enum": [
            "ITEM_STATE_UNSPECIFIED",
            "PENDING_REVIEW",
            "STAGED",
            "PUBLISHED",
            "PUBLISHED_TO_TESTERS",
            "REJECTED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The item is pending review.",
            "The item has been approved and is ready to be published.",
            "The item is published publicly.",
            "The item is published to trusted testers.",
            "The item has been rejected for publishing.",
            "The item submission has been cancelled."
          ]
        }
      },
      "id": "PublishItemResponse",
      "description": "Response message for `PublishItem`.",
      "type": "object"
    },
    "FetchItemStatusResponse": {
      "properties": {
        "itemId": {
          "readOnly": true,
          "description": "Output only. The ID of the item.",
          "type": "string"
        },
        "submittedItemRevisionStatus": {
          "description": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish.",
          "$ref": "ItemRevisionStatus"
        },
        "publicKey": {
          "description": "The public key of the item, which may be generated by the store.",
          "type": "string"
        },
        "lastAsyncUploadState": {
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "readOnly": true,
          "description": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours.",
          "type": "string"
        },
        "name": {
          "description": "The name of the requested item.",
          "type": "string"
        },
        "takenDown": {
          "description": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details.",
          "type": "boolean"
        },
        "publishedItemRevisionStatus": {
          "description": "Output only. Status of the current published revision of the item. Will be unset if the item is not published.",
          "$ref": "ItemRevisionStatus",
          "readOnly": true
        },
        "warned": {
          "description": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details.",
          "type": "boolean"
        }
      },
      "id": "FetchItemStatusResponse",
      "description": "Response message for `FetchItemStatus`.",
      "type": "object"
    },
    "DistributionChannel": {
      "description": "Deployment information for a specific release channel",
      "type": "object",
      "properties": {
        "deployPercentage": {
          "description": "The current deploy percentage for the release channel (nonnegative number between 0 and 100).",
          "type": "integer",
          "format": "int32"
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package.",
          "type": "string"
        }
      },
      "id": "DistributionChannel"
    },
    "Warning": {
      "properties": {
        "reason": {
          "description": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning.",
          "type": "string"
        },
        "description": {
          "description": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue.",
          "type": "string"
        }
      },
      "id": "Warning",
      "description": "Represents a single warning encountered during the request.",
      "type": "object"
    },
    "SetPublishedDeployPercentageRequest": {
      "properties": {
        "deployPercentage": {
          "description": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SetPublishedDeployPercentageRequest",
      "description": "Request message for SetPublishedDeployPercentage.",
      "type": "object"
    },
    "WarningsInfo": {
      "properties": {
        "warnings": {
          "description": "All warnings encountered during the request.",
          "type": "array",
          "items": {
            "$ref": "Warning"
          }
        }
      },
      "id": "WarningsInfo",
      "description": "Message containing details on warnings encountered during PublishItem.",
      "type": "object"
    },
    "SetPublishedDeployPercentageResponse": {
      "description": "Response message for `SetPublishedDeployPercentage`.",
      "type": "object",
      "properties": {},
      "id": "SetPublishedDeployPercentageResponse"
    },
    "PublishItemRequest": {
      "description": "Request message for PublishItem.",
      "type": "object",
      "properties": {
        "deployInfos": {
          "description": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset.",
          "type": "array",
          "items": {
            "$ref": "DeployInfo"
          }
        },
        "blockOnWarnings": {
          "description": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset.",
          "type": "boolean"
        },
        "publishType": {
          "enum": [
            "PUBLISH_TYPE_UNSPECIFIED",
            "DEFAULT_PUBLISH",
            "STAGED_PUBLISH"
          ],
          "description": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as DEFAULT_PUBLISH.",
            "The submission will be published immediately after being approved.",
            "After approval the submission will be staged and can then be published by the developer."
          ]
        },
        "skipReview": {
          "description": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset.",
          "type": "boolean"
        }
      },
      "id": "PublishItemRequest"
    },
    "UploadItemPackageResponse": {
      "description": "Response message for `UploadItemPackage`.",
      "type": "object",
      "id": "UploadItemPackageResponse",
      "properties": {
        "name": {
          "description": "The name of the item the package was uploaded to.",
          "type": "string"
        },
        "itemId": {
          "description": "Output only. The ID of the item the package was uploaded to.",
          "type": "string",
          "readOnly": true
        },
        "uploadState": {
          "enum": [
            "UPLOAD_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "IN_PROGRESS",
            "FAILED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "The default value.",
            "The upload succeeded.",
            "The upload is currently being processed.",
            "The upload failed.",
            "Used as the value of `lastAsyncUploadState` in a `fetchStatus` response indicating that an upload attempt was not found."
          ],
          "description": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method.",
          "type": "string",
          "readOnly": true
        },
        "crxVersion": {
          "description": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`).",
          "type": "string"
        }
      }
    },
    "CancelSubmissionResponse": {
      "description": "Response message for `CancelSubmission`.",
      "type": "object",
      "id": "CancelSubmissionResponse",
      "properties": {}
    }
  },
  "name": "chromewebstore",
  "kind": "discovery#restDescription",
  "canonicalName": "Chromewebstore",
  "documentationLink": "https://developer.chrome.com/docs/webstore/api"
}