{
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "baseUrl": "https://civicinfo.googleapis.com/",
  "name": "civicinfo",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20261002",
  "ownerDomain": "google.com",
  "title": "Google Civic Information API",
  "protocol": "rest",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/civic-information/",
  "basePath": "",
  "canonicalName": "Civic Info",
  "resources": {
    "elections": {
      "methods": {
        "electionQuery": {
          "path": "civicinfo/v2/elections",
          "parameters": {
            "productionDataOnly": {
              "default": "true",
              "location": "query",
              "type": "boolean",
              "description": "Whether to include data that has not been allowlisted yet"
            }
          },
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/elections",
          "description": "List of available elections to query.",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          },
          "parameterOrder": [],
          "id": "civicinfo.elections.electionQuery"
        },
        "voterInfoQuery": {
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/voterinfo",
          "parameters": {
            "officialOnly": {
              "type": "boolean",
              "description": "If set to true, only data from official state sources will be returned.",
              "default": "false",
              "location": "query"
            },
            "productionDataOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "default": "true"
            },
            "electionId": {
              "default": "0",
              "location": "query",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "type": "string",
              "format": "int64"
            },
            "returnAllAvailableData": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries."
            },
            "address": {
              "location": "query",
              "description": "The registered address of the voter to look up.",
              "type": "string"
            }
          },
          "path": "civicinfo/v2/voterinfo",
          "parameterOrder": [],
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "id": "civicinfo.elections.voterInfoQuery"
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "flatPath": "civicinfo/v2/divisions",
          "parameters": {
            "query": {
              "type": "string",
              "location": "query",
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          },
          "path": "civicinfo/v2/divisions",
          "id": "civicinfo.divisions.search"
        },
        "queryDivisionByAddress": {
          "httpMethod": "GET",
          "description": "Lookup OCDIDs and names for divisions related to an address.",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          },
          "parameters": {
            "address": {
              "type": "string",
              "location": "query"
            }
          },
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "path": "civicinfo/v2/divisionsByAddress",
          "parameterOrder": []
        }
      }
    }
  },
  "version": "v2",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "schemas": {
    "CivicinfoSchemaV2Candidate": {
      "id": "CivicinfoSchemaV2Candidate",
      "type": "object",
      "properties": {
        "party": {
          "type": "string",
          "description": "The full name of the party the candidate is a member of."
        },
        "email": {
          "type": "string",
          "description": "The email address for the candidate's campaign."
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "channels": {
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          },
          "type": "array",
          "description": "A list of known (social) media channels for this candidate."
        },
        "name": {
          "type": "string",
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\""
        },
        "orderOnBallot": {
          "format": "int64",
          "description": "The order the candidate appears on the ballot for this contest.",
          "type": "string"
        },
        "phone": {
          "description": "The voice phone number for the candidate's campaign office.",
          "type": "string"
        }
      },
      "description": "Information about a candidate running for elected office."
    },
    "CivicinfoSchemaV2Contest": {
      "properties": {
        "electorateSpecifications": {
          "type": "string",
          "description": "A description of any additional eligibility requirements for voting in this contest."
        },
        "referendumText": {
          "type": "string",
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "candidates": {
          "description": "The candidate choices for this contest.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          }
        },
        "level": {
          "items": {
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "type": "array"
        },
        "referendumUrl": {
          "type": "string",
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "district": {
          "$ref": "CivicinfoSchemaV2ElectoralDistrict",
          "description": "Information about the electoral district that this contest is in."
        },
        "special": {
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "type": "array",
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources."
        },
        "ballotPlacement": {
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "type": "string",
          "format": "int64"
        },
        "primaryParties": {
          "description": "If this is a partisan election, the name of the party/parties it is for.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "referendumBallotResponses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'."
        },
        "office": {
          "type": "string",
          "description": "The name of the office for this contest."
        },
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "numberElected": {
          "format": "int64",
          "type": "string",
          "description": "The number of candidates that will be elected to office in this contest."
        },
        "roles": {
          "type": "array",
          "description": "The roles which this office fulfills.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ]
          }
        },
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        },
        "referendumSubtitle": {
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumProStatement": {
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumBrief": {
          "type": "string",
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'."
        },
        "numberVotingFor": {
          "description": "The number of candidates that a voter may vote for in this contest.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CivicinfoSchemaV2Contest",
      "type": "object",
      "description": "Information about a contest that appears on a voter's ballot."
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "description": "The result of a voter info lookup query.",
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "properties": {
        "kind": {
          "type": "string",
          "default": "civicinfo#voterInfoResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\"."
        },
        "otherElections": {
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user.",
          "type": "array"
        },
        "mailOnly": {
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).",
          "type": "boolean"
        },
        "precinctId": {
          "type": "string"
        },
        "pollingLocations": {
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote on election day.",
          "type": "array"
        },
        "precincts": {
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\".",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          },
          "type": "array"
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "contests": {
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          },
          "description": "Contests that will appear on the voter's ballot.",
          "type": "array"
        },
        "earlyVoteSites": {
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "state": {
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          },
          "type": "array",
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array."
        },
        "dropOffLocations": {
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "election": {
          "description": "The election that was queried.",
          "$ref": "CivicinfoSchemaV2Election"
        }
      },
      "type": "object"
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "type": "object",
      "description": "Information about an election administrative body (e.g. County Board of Elections).",
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "properties": {
        "absenteeVotingInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for information on absentee voting."
        },
        "correspondenceAddress": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The mailing address of this administrative body."
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        },
        "electionOfficials": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          },
          "description": "The election officials for this election administrative body."
        },
        "physicalAddress": {
          "description": "The physical address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "votingLocationFinderUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up where to vote."
        },
        "electionNoticeUrl": {
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification.",
          "type": "string"
        },
        "voter_services": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A description of the services this administrative body may provide."
        },
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "hoursOfOperation": {
          "description": "A description of the hours of operation for this administrative body.",
          "type": "string"
        },
        "electionNoticeText": {
          "description": "A last minute or emergency notification text provided by this administrative body.",
          "type": "string"
        },
        "name": {
          "description": "The name of this election administrative body.",
          "type": "string"
        },
        "electionInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up general election information."
        },
        "electionRegistrationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up how to register to vote."
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "description": "Describes a political geography.",
      "id": "CivicinfoSchemaV2GeographicDivision",
      "properties": {
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "officeIndices": {
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          }
        },
        "alsoKnownAs": {
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "civicinfo#divisionSearchResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\"."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          }
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "description": "The result of a division search query."
    },
    "CivicinfoSchemaV2Election": {
      "description": "Information about the election that was queried.",
      "properties": {
        "shapeLookupBehavior": {
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "description": "A displayable name for the election.",
          "type": "string"
        },
        "ocdDivisionId": {
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).",
          "type": "string"
        },
        "electionDay": {
          "description": "Day of the election in YYYY-MM-DD format.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of this election.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2Election"
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "type": "object",
      "properties": {
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        },
        "line3": {
          "description": "The third line of the address, if needed.",
          "type": "string"
        },
        "city": {
          "description": "The city or town for the address.",
          "type": "string"
        },
        "line1": {
          "type": "string",
          "description": "The street name and number of this address."
        },
        "state": {
          "type": "string",
          "description": "The US two letter state abbreviation of the address."
        },
        "locationName": {
          "type": "string",
          "description": "The name of the location."
        },
        "zip": {
          "type": "string",
          "description": "The US Postal Zip Code of the address."
        },
        "addressLine": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A simple representation of an address.",
      "id": "CivicinfoSchemaV2SimpleAddressType"
    },
    "CivicinfoSchemaV2Precinct": {
      "type": "object",
      "id": "CivicinfoSchemaV2Precinct",
      "properties": {
        "electoralDistrictId": {
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "administrationRegionId": {
          "type": "string",
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag."
        },
        "pollingLocationId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "number": {
          "type": "string",
          "description": "The number of the precinct."
        },
        "earlyVoteSiteId": {
          "type": "array",
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "items": {
            "type": "string"
          }
        },
        "contestId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "ID(s) of the Contest message(s) for this precinct."
        },
        "ocdId": {
          "description": "Encouraged. The OCD ID of the precinct",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the precinct."
        },
        "ward": {
          "type": "string",
          "description": "Specifies the ward the precinct is contained within."
        },
        "datasetId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Dataset ID. What datasets our Precincts come from."
        },
        "splitName": {
          "type": "string",
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt."
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for this precinct."
        },
        "spatialBoundaryId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct."
        },
        "mailOnly": {
          "description": "Specifies if the precinct runs mail-only elections.",
          "type": "boolean"
        }
      }
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "id": "CivicinfoSchemaV2ElectoralDistrict",
      "type": "object",
      "properties": {
        "scope": {
          "type": "string",
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ],
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the district."
        },
        "id": {
          "type": "string",
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper."
        }
      },
      "description": "Describes the geographic scope of a contest."
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "default": "civicinfo#electionsQueryResponse"
        },
        "elections": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "A list of available elections"
        }
      },
      "type": "object",
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "description": "The list of elections available for this version of the API."
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "type": "object",
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "description": "Represents a political geographic division that matches the requested query.",
      "properties": {
        "ocdId": {
          "description": "The unique Open Civic Data identifier for this division",
          "type": "string"
        },
        "aliases": {
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the jurisdiction."
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources."
        },
        "electionAdministrationBody": {
          "$ref": "CivicinfoSchemaV2AdministrativeBody",
          "description": "The election administration body for this area."
        },
        "local_jurisdiction": {
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state.",
          "$ref": "CivicinfoSchemaV2AdministrationRegion"
        }
      },
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "type": "object",
      "description": "Describes information about a regional election administrative area."
    },
    "CivicinfoSchemaV2Channel": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique public identifier for the candidate's channel."
        }
      },
      "id": "CivicinfoSchemaV2Channel",
      "description": "A social media or web channel for a candidate."
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "description": "Information about individual election officials.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The full name of the election official."
        },
        "title": {
          "type": "string",
          "description": "The title of the election official."
        },
        "emailAddress": {
          "description": "The email address of the election official.",
          "type": "string"
        },
        "faxNumber": {
          "type": "string",
          "description": "The fax number of the election official."
        },
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2ElectionOfficial"
    },
    "CivicinfoSchemaV2PollingLocation": {
      "id": "CivicinfoSchemaV2PollingLocation",
      "type": "object",
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.",
      "properties": {
        "notes": {
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use).",
          "type": "string"
        },
        "longitude": {
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations."
        },
        "address": {
          "description": "The address of the location.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "pollingHours": {
          "type": "string",
          "description": "A description of when this location is open."
        },
        "endDate": {
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations."
        },
        "name": {
          "type": "string",
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations."
        },
        "voterServices": {
          "type": "string",
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations."
        },
        "sources": {
          "type": "array",
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        }
      }
    },
    "CivicinfoSchemaV2Source": {
      "properties": {
        "official": {
          "description": "Whether this data comes from an official government source.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the data source.",
          "type": "string"
        }
      },
      "description": "Contains information about the data source for the element containing it.",
      "type": "object",
      "id": "CivicinfoSchemaV2Source"
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "properties": {
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address."
        },
        "divisions": {
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          },
          "type": "object"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse",
      "type": "object"
    }
  },
  "rootUrl": "https://civicinfo.googleapis.com/",
  "id": "civicinfo:v2",
  "servicePath": "",
  "batchPath": "batch"
}