{
  "discoveryVersion": "v1",
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "rootUrl": "https://civicinfo.googleapis.com/",
  "baseUrl": "https://civicinfo.googleapis.com/",
  "kind": "discovery#restDescription",
  "resources": {
    "elections": {
      "methods": {
        "voterInfoQuery": {
          "flatPath": "civicinfo/v2/voterinfo",
          "parameters": {
            "address": {
              "location": "query",
              "type": "string",
              "description": "The registered address of the voter to look up."
            },
            "returnAllAvailableData": {
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "officialOnly": {
              "location": "query",
              "type": "boolean",
              "description": "If set to true, only data from official state sources will be returned.",
              "default": "false"
            },
            "electionId": {
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "type": "string",
              "default": "0",
              "location": "query",
              "format": "int64"
            },
            "productionDataOnly": {
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [],
          "path": "civicinfo/v2/voterinfo",
          "httpMethod": "GET",
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "id": "civicinfo.elections.voterInfoQuery",
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          }
        },
        "electionQuery": {
          "flatPath": "civicinfo/v2/elections",
          "parameters": {
            "productionDataOnly": {
              "description": "Whether to include data that has not been allowlisted yet",
              "default": "true",
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "path": "civicinfo/v2/elections",
          "httpMethod": "GET",
          "description": "List of available elections to query.",
          "id": "civicinfo.elections.electionQuery",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          }
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "flatPath": "civicinfo/v2/divisions",
          "parameters": {
            "query": {
              "type": "string",
              "location": "query",
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html"
            }
          },
          "parameterOrder": [],
          "path": "civicinfo/v2/divisions",
          "httpMethod": "GET",
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "id": "civicinfo.divisions.search",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          }
        },
        "queryDivisionByAddress": {
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "parameters": {
            "address": {
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "path": "civicinfo/v2/divisionsByAddress",
          "httpMethod": "GET",
          "description": "Lookup OCDIDs and names for divisions related to an address.",
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          }
        }
      }
    }
  },
  "id": "civicinfo:v2",
  "name": "civicinfo",
  "ownerName": "Google",
  "version_module": true,
  "protocol": "rest",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    }
  },
  "servicePath": "",
  "documentationLink": "https://developers.google.com/civic-information/",
  "title": "Google Civic Information API",
  "revision": "20260423",
  "ownerDomain": "google.com",
  "canonicalName": "Civic Info",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v2",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "basePath": "",
  "schemas": {
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "description": "The list of elections available for this version of the API.",
      "type": "object",
      "properties": {
        "elections": {
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "A list of available elections",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "default": "civicinfo#electionsQueryResponse",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the district.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ],
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special"
        },
        "id": {
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper.",
          "type": "string"
        }
      },
      "description": "Describes the geographic scope of a contest.",
      "id": "CivicinfoSchemaV2ElectoralDistrict"
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "description": "Describes information about a regional election administrative area.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the jurisdiction.",
          "type": "string"
        },
        "electionAdministrationBody": {
          "description": "The election administration body for this area.",
          "$ref": "CivicinfoSchemaV2AdministrativeBody"
        },
        "local_jurisdiction": {
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state.",
          "$ref": "CivicinfoSchemaV2AdministrationRegion"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources."
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
          "default": "civicinfo#divisionSearchResponse",
          "type": "string"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          }
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "description": "The result of a division search query."
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "description": "Information about an election administrative body (e.g. County Board of Elections).",
      "type": "object",
      "properties": {
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "voter_services": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A description of the services this administrative body may provide."
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "name": {
          "description": "The name of this election administrative body.",
          "type": "string"
        },
        "ballotInfoUrl": {
          "description": "A URL provided by this administrative body to give contest information to the voter.",
          "type": "string"
        },
        "absenteeVotingInfoUrl": {
          "description": "A URL provided by this administrative body for information on absentee voting.",
          "type": "string"
        },
        "electionOfficials": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          },
          "description": "The election officials for this election administrative body."
        },
        "votingLocationFinderUrl": {
          "description": "A URL provided by this administrative body for looking up where to vote.",
          "type": "string"
        },
        "hoursOfOperation": {
          "description": "A description of the hours of operation for this administrative body.",
          "type": "string"
        },
        "electionRegistrationUrl": {
          "description": "A URL provided by this administrative body for looking up how to register to vote.",
          "type": "string"
        },
        "electionNoticeText": {
          "description": "A last minute or emergency notification text provided by this administrative body.",
          "type": "string"
        },
        "correspondenceAddress": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The mailing address of this administrative body."
        },
        "physicalAddress": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The physical address of this administrative body."
        },
        "electionNoticeUrl": {
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification.",
          "type": "string"
        },
        "electionInfoUrl": {
          "description": "A URL provided by this administrative body for looking up general election information.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2Channel": {
      "description": "A social media or web channel for a candidate.",
      "id": "CivicinfoSchemaV2Channel",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
          "type": "string"
        },
        "id": {
          "description": "The unique public identifier for the candidate's channel.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2Source": {
      "id": "CivicinfoSchemaV2Source",
      "description": "Contains information about the data source for the element containing it.",
      "type": "object",
      "properties": {
        "official": {
          "description": "Whether this data comes from an official government source.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the data source.",
          "type": "string"
        }
      }
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "type": "object",
      "properties": {
        "divisions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          }
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse"
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "description": "A simple representation of an address.",
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "type": "object",
      "properties": {
        "line1": {
          "description": "The street name and number of this address.",
          "type": "string"
        },
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        },
        "addressLine": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "city": {
          "description": "The city or town for the address.",
          "type": "string"
        },
        "state": {
          "description": "The US two letter state abbreviation of the address.",
          "type": "string"
        },
        "locationName": {
          "description": "The name of the location.",
          "type": "string"
        },
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        },
        "line3": {
          "description": "The third line of the address, if needed.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "description": "Describes a political geography.",
      "id": "CivicinfoSchemaV2GeographicDivision",
      "type": "object",
      "properties": {
        "officeIndices": {
          "type": "array",
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
          "items": {
            "format": "uint32",
            "type": "integer"
          }
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "alsoKnownAs": {
          "type": "array",
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CivicinfoSchemaV2PollingLocation": {
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.",
      "id": "CivicinfoSchemaV2PollingLocation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "latitude": {
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "type": "number",
          "format": "double"
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "longitude": {
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "type": "number",
          "format": "double"
        },
        "address": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The address of the location."
        },
        "pollingHours": {
          "description": "A description of when this location is open.",
          "type": "string"
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "endDate": {
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "notes": {
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use).",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2Contest": {
      "description": "Information about a contest that appears on a voter's ballot.",
      "id": "CivicinfoSchemaV2Contest",
      "type": "object",
      "properties": {
        "ballotPlacement": {
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "type": "string",
          "format": "int64"
        },
        "referendumText": {
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumBallotResponses": {
          "items": {
            "type": "string"
          },
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "type": "array"
        },
        "special": {
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
          "type": "string"
        },
        "level": {
          "type": "array",
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "type": "string"
          }
        },
        "district": {
          "$ref": "CivicinfoSchemaV2ElectoralDistrict",
          "description": "Information about the electoral district that this contest is in."
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "numberVotingFor": {
          "description": "The number of candidates that a voter may vote for in this contest.",
          "format": "int64",
          "type": "string"
        },
        "candidates": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          },
          "description": "The candidate choices for this contest."
        },
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "sources": {
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "type": "array"
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "office": {
          "description": "The name of the office for this contest.",
          "type": "string"
        },
        "referendumProStatement": {
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "electorateSpecifications": {
          "description": "A description of any additional eligibility requirements for voting in this contest.",
          "type": "string"
        },
        "numberElected": {
          "format": "int64",
          "type": "string",
          "description": "The number of candidates that will be elected to office in this contest."
        },
        "referendumSubtitle": {
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumBrief": {
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "primaryParties": {
          "type": "array",
          "description": "If this is a partisan election, the name of the party/parties it is for.",
          "items": {
            "type": "string"
          }
        },
        "roles": {
          "description": "The roles which this office fulfills.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ]
          },
          "type": "array"
        },
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The full name of the election official.",
          "type": "string"
        },
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "faxNumber": {
          "description": "The fax number of the election official.",
          "type": "string"
        },
        "title": {
          "description": "The title of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the election official.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "description": "Information about individual election officials."
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "type": "object",
      "properties": {
        "state": {
          "type": "array",
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
          "default": "civicinfo#voterInfoResponse",
          "type": "string"
        },
        "contests": {
          "description": "Contests that will appear on the voter's ballot.",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          },
          "type": "array"
        },
        "otherElections": {
          "type": "array",
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user.",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          }
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "dropOffLocations": {
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.",
          "type": "array"
        },
        "mailOnly": {
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).",
          "type": "boolean"
        },
        "precincts": {
          "type": "array",
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\".",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          }
        },
        "election": {
          "description": "The election that was queried.",
          "$ref": "CivicinfoSchemaV2Election"
        },
        "pollingLocations": {
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote on election day.",
          "type": "array"
        },
        "precinctId": {
          "type": "string"
        },
        "earlyVoteSites": {
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "type": "array"
        }
      },
      "description": "The result of a voter info lookup query.",
      "id": "CivicinfoApiprotosV2VoterInfoResponse"
    },
    "CivicinfoSchemaV2Election": {
      "description": "Information about the election that was queried.",
      "id": "CivicinfoSchemaV2Election",
      "type": "object",
      "properties": {
        "electionDay": {
          "description": "Day of the election in YYYY-MM-DD format.",
          "type": "string"
        },
        "shapeLookupBehavior": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ]
        },
        "id": {
          "description": "The unique ID of this election.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "A displayable name for the election.",
          "type": "string"
        },
        "ocdDivisionId": {
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2Candidate": {
      "type": "object",
      "properties": {
        "phone": {
          "description": "The voice phone number for the candidate's campaign office.",
          "type": "string"
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        },
        "name": {
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\"",
          "type": "string"
        },
        "channels": {
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          },
          "description": "A list of known (social) media channels for this candidate.",
          "type": "array"
        },
        "party": {
          "description": "The full name of the party the candidate is a member of.",
          "type": "string"
        },
        "orderOnBallot": {
          "description": "The order the candidate appears on the ballot for this contest.",
          "type": "string",
          "format": "int64"
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "email": {
          "description": "The email address for the candidate's campaign.",
          "type": "string"
        }
      },
      "description": "Information about a candidate running for elected office.",
      "id": "CivicinfoSchemaV2Candidate"
    },
    "CivicinfoSchemaV2Precinct": {
      "id": "CivicinfoSchemaV2Precinct",
      "type": "object",
      "properties": {
        "pollingLocationId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "spatialBoundaryId": {
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mailOnly": {
          "description": "Specifies if the precinct runs mail-only elections.",
          "type": "boolean"
        },
        "ocdId": {
          "description": "Encouraged. The OCD ID of the precinct",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "electoralDistrictId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct."
        },
        "splitName": {
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt.",
          "type": "string"
        },
        "earlyVoteSiteId": {
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array"
        },
        "datasetId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Dataset ID. What datasets our Precincts come from."
        },
        "number": {
          "description": "The number of the precinct.",
          "type": "string"
        },
        "id": {
          "description": "Required. A unique identifier for this precinct.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the precinct.",
          "type": "string"
        },
        "administrationRegionId": {
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag.",
          "type": "string"
        },
        "ward": {
          "description": "Specifies the ward the precinct is contained within.",
          "type": "string"
        },
        "contestId": {
          "description": "ID(s) of the Contest message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "description": "Represents a political geographic division that matches the requested query.",
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "items": {
            "type": "string"
          }
        },
        "ocdId": {
          "description": "The unique Open Civic Data identifier for this division",
          "type": "string"
        }
      }
    }
  }
}