{
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "elections": {
      "methods": {
        "voterInfoQuery": {
          "flatPath": "civicinfo/v2/voterinfo",
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "address": {
              "location": "query",
              "type": "string",
              "description": "The registered address of the voter to look up."
            },
            "officialOnly": {
              "description": "If set to true, only data from official state sources will be returned.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "returnAllAvailableData": {
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "productionDataOnly": {
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "location": "query",
              "type": "boolean",
              "default": "true"
            },
            "electionId": {
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "default": "0",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "path": "civicinfo/v2/voterinfo",
          "id": "civicinfo.elections.voterInfoQuery",
          "parameterOrder": []
        },
        "electionQuery": {
          "id": "civicinfo.elections.electionQuery",
          "parameterOrder": [],
          "path": "civicinfo/v2/elections",
          "description": "List of available elections to query.",
          "parameters": {
            "productionDataOnly": {
              "location": "query",
              "type": "boolean",
              "default": "true",
              "description": "Whether to include data that has not been allowlisted yet"
            }
          },
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/elections",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          }
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "id": "civicinfo.divisions.search",
          "parameterOrder": [],
          "path": "civicinfo/v2/divisions",
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/divisions",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          },
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "parameters": {
            "query": {
              "location": "query",
              "type": "string",
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html"
            }
          }
        },
        "queryDivisionByAddress": {
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          },
          "description": "Lookup OCDIDs and names for divisions related to an address.",
          "parameters": {
            "address": {
              "location": "query",
              "type": "string"
            }
          },
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "parameterOrder": [],
          "path": "civicinfo/v2/divisionsByAddress"
        }
      }
    }
  },
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "name": "civicinfo",
  "documentationLink": "https://developers.google.com/civic-information/",
  "schemas": {
    "CivicinfoSchemaV2Channel": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
          "type": "string"
        },
        "id": {
          "description": "The unique public identifier for the candidate's channel.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2Channel",
      "description": "A social media or web channel for a candidate."
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "properties": {
        "pollingLocations": {
          "description": "Locations where the voter is eligible to vote on election day.",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "type": "array"
        },
        "otherElections": {
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user.",
          "type": "array"
        },
        "state": {
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          },
          "type": "array"
        },
        "mailOnly": {
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).",
          "type": "boolean"
        },
        "election": {
          "$ref": "CivicinfoSchemaV2Election",
          "description": "The election that was queried."
        },
        "contests": {
          "type": "array",
          "description": "Contests that will appear on the voter's ballot.",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          }
        },
        "kind": {
          "default": "civicinfo#voterInfoResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\"."
        },
        "precinctId": {
          "type": "string"
        },
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address"
        },
        "precincts": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          },
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\"."
        },
        "dropOffLocations": {
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.",
          "type": "array"
        },
        "earlyVoteSites": {
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "type": "array"
        }
      },
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "description": "The result of a voter info lookup query.",
      "type": "object"
    },
    "CivicinfoSchemaV2Contest": {
      "properties": {
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        },
        "referendumSubtitle": {
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "ballotPlacement": {
          "format": "int64",
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "type": "string"
        },
        "roles": {
          "description": "The roles which this office fulfills.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ]
          },
          "type": "array"
        },
        "referendumText": {
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "numberElected": {
          "type": "string",
          "format": "int64",
          "description": "The number of candidates that will be elected to office in this contest."
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "special": {
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
          "type": "string"
        },
        "district": {
          "description": "Information about the electoral district that this contest is in.",
          "$ref": "CivicinfoSchemaV2ElectoralDistrict"
        },
        "numberVotingFor": {
          "description": "The number of candidates that a voter may vote for in this contest.",
          "format": "int64",
          "type": "string"
        },
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumProStatement": {
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "candidates": {
          "description": "The candidate choices for this contest.",
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          },
          "type": "array"
        },
        "office": {
          "description": "The name of the office for this contest.",
          "type": "string"
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "primaryParties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If this is a partisan election, the name of the party/parties it is for."
        },
        "referendumBrief": {
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "electorateSpecifications": {
          "description": "A description of any additional eligibility requirements for voting in this contest.",
          "type": "string"
        },
        "level": {
          "items": {
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "type": "array"
        },
        "referendumBallotResponses": {
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2Contest",
      "description": "Information about a contest that appears on a voter's ballot.",
      "type": "object"
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "properties": {
        "locationName": {
          "description": "The name of the location.",
          "type": "string"
        },
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        },
        "addressLine": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "description": "The US two letter state abbreviation of the address.",
          "type": "string"
        },
        "line3": {
          "description": "The third line of the address, if needed.",
          "type": "string"
        },
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        },
        "line1": {
          "description": "The street name and number of this address.",
          "type": "string"
        },
        "city": {
          "description": "The city or town for the address.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "description": "A simple representation of an address.",
      "type": "object"
    },
    "CivicinfoSchemaV2PollingLocation": {
      "properties": {
        "address": {
          "description": "The address of the location.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "name": {
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "longitude": {
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "format": "double",
          "type": "number"
        },
        "pollingHours": {
          "description": "A description of when this location is open.",
          "type": "string"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations."
        },
        "endDate": {
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "notes": {
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use).",
          "type": "string"
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        }
      },
      "id": "CivicinfoSchemaV2PollingLocation",
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.",
      "type": "object"
    },
    "CivicinfoSchemaV2Precinct": {
      "type": "object",
      "id": "CivicinfoSchemaV2Precinct",
      "properties": {
        "administrationRegionId": {
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the precinct.",
          "type": "string"
        },
        "splitName": {
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt.",
          "type": "string"
        },
        "mailOnly": {
          "description": "Specifies if the precinct runs mail-only elections.",
          "type": "boolean"
        },
        "ocdId": {
          "description": "Encouraged. The OCD ID of the precinct",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "number": {
          "description": "The number of the precinct.",
          "type": "string"
        },
        "electoralDistrictId": {
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "earlyVoteSiteId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pollingLocationId": {
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array"
        },
        "contestId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the Contest message(s) for this precinct."
        },
        "spatialBoundaryId": {
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct.",
          "type": "array"
        },
        "id": {
          "description": "Required. A unique identifier for this precinct.",
          "type": "string"
        },
        "ward": {
          "description": "Specifies the ward the precinct is contained within.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Dataset ID. What datasets our Precincts come from."
        }
      }
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "type": "object",
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "description": "The list of elections available for this version of the API.",
      "properties": {
        "elections": {
          "description": "A list of available elections",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "type": "array"
        },
        "kind": {
          "default": "civicinfo#electionsQueryResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\"."
        }
      }
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "type": "object",
      "properties": {
        "id": {
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper.",
          "type": "string"
        },
        "scope": {
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "description": "The name of the district.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2ElectoralDistrict",
      "description": "Describes the geographic scope of a contest."
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "type": "object",
      "properties": {
        "hoursOfOperation": {
          "description": "A description of the hours of operation for this administrative body.",
          "type": "string"
        },
        "electionInfoUrl": {
          "description": "A URL provided by this administrative body for looking up general election information.",
          "type": "string"
        },
        "electionNoticeText": {
          "description": "A last minute or emergency notification text provided by this administrative body.",
          "type": "string"
        },
        "electionOfficials": {
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          },
          "description": "The election officials for this election administrative body.",
          "type": "array"
        },
        "voter_services": {
          "type": "array",
          "description": "A description of the services this administrative body may provide.",
          "items": {
            "type": "string"
          }
        },
        "physicalAddress": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The physical address of this administrative body."
        },
        "ballotInfoUrl": {
          "description": "A URL provided by this administrative body to give contest information to the voter.",
          "type": "string"
        },
        "correspondenceAddress": {
          "description": "The mailing address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "name": {
          "description": "The name of this election administrative body.",
          "type": "string"
        },
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "absenteeVotingInfoUrl": {
          "description": "A URL provided by this administrative body for information on absentee voting.",
          "type": "string"
        },
        "electionRegistrationUrl": {
          "description": "A URL provided by this administrative body for looking up how to register to vote.",
          "type": "string"
        },
        "votingLocationFinderUrl": {
          "description": "A URL provided by this administrative body for looking up where to vote.",
          "type": "string"
        },
        "electionNoticeUrl": {
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "description": "Information about an election administrative body (e.g. County Board of Elections)."
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "type": "object",
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse",
      "properties": {
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address."
        },
        "divisions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          }
        }
      }
    },
    "CivicinfoSchemaV2Candidate": {
      "properties": {
        "name": {
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\"",
          "type": "string"
        },
        "party": {
          "description": "The full name of the party the candidate is a member of.",
          "type": "string"
        },
        "orderOnBallot": {
          "description": "The order the candidate appears on the ballot for this contest.",
          "format": "int64",
          "type": "string"
        },
        "email": {
          "description": "The email address for the candidate's campaign.",
          "type": "string"
        },
        "phone": {
          "description": "The voice phone number for the candidate's campaign office.",
          "type": "string"
        },
        "channels": {
          "description": "A list of known (social) media channels for this candidate.",
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          },
          "type": "array"
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2Candidate",
      "description": "Information about a candidate running for elected office.",
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "properties": {
        "aliases": {
          "items": {
            "type": "string"
          },
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "type": "array"
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "ocdId": {
          "description": "The unique Open Civic Data identifier for this division",
          "type": "string"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "description": "Represents a political geographic division that matches the requested query.",
      "type": "object"
    },
    "CivicinfoSchemaV2Source": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the data source.",
          "type": "string"
        },
        "official": {
          "description": "Whether this data comes from an official government source.",
          "type": "boolean"
        }
      },
      "id": "CivicinfoSchemaV2Source",
      "description": "Contains information about the data source for the element containing it."
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "type": "object",
      "id": "CivicinfoSchemaV2GeographicDivision",
      "description": "Describes a political geography.",
      "properties": {
        "officeIndices": {
          "items": {
            "format": "uint32",
            "type": "integer"
          },
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
          "type": "array"
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "alsoKnownAs": {
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CivicinfoSchemaV2Election": {
      "type": "object",
      "properties": {
        "shapeLookupBehavior": {
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "id": {
          "description": "The unique ID of this election.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "A displayable name for the election.",
          "type": "string"
        },
        "electionDay": {
          "description": "Day of the election in YYYY-MM-DD format.",
          "type": "string"
        },
        "ocdDivisionId": {
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2Election",
      "description": "Information about the election that was queried."
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "type": "object",
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "description": "Describes information about a regional election administrative area.",
      "properties": {
        "electionAdministrationBody": {
          "description": "The election administration body for this area.",
          "$ref": "CivicinfoSchemaV2AdministrativeBody"
        },
        "local_jurisdiction": {
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state.",
          "$ref": "CivicinfoSchemaV2AdministrationRegion"
        },
        "name": {
          "description": "The name of the jurisdiction.",
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array"
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "description": "The result of a division search query.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
          "type": "string",
          "default": "civicinfo#divisionSearchResponse"
        },
        "results": {
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The full name of the election official.",
          "type": "string"
        },
        "title": {
          "description": "The title of the election official.",
          "type": "string"
        },
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the election official.",
          "type": "string"
        },
        "faxNumber": {
          "description": "The fax number of the election official.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "description": "Information about individual election officials."
    }
  },
  "rootUrl": "https://civicinfo.googleapis.com/",
  "revision": "20260423",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://civicinfo.googleapis.com/",
  "protocol": "rest",
  "ownerName": "Google",
  "canonicalName": "Civic Info",
  "basePath": "",
  "batchPath": "batch",
  "version": "v2",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "title": "Google Civic Information API",
  "version_module": true,
  "id": "civicinfo:v2"
}