{
  "discoveryVersion": "v1",
  "resources": {
    "elections": {
      "methods": {
        "voterInfoQuery": {
          "id": "civicinfo.elections.voterInfoQuery",
          "path": "civicinfo/v2/voterinfo",
          "flatPath": "civicinfo/v2/voterinfo",
          "parameterOrder": [],
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "httpMethod": "GET",
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "parameters": {
            "returnAllAvailableData": {
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "officialOnly": {
              "description": "If set to true, only data from official state sources will be returned.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "productionDataOnly": {
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "address": {
              "location": "query",
              "type": "string",
              "description": "The registered address of the voter to look up."
            },
            "electionId": {
              "default": "0",
              "type": "string",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "format": "int64",
              "location": "query"
            }
          }
        },
        "electionQuery": {
          "flatPath": "civicinfo/v2/elections",
          "parameterOrder": [],
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          },
          "httpMethod": "GET",
          "description": "List of available elections to query.",
          "id": "civicinfo.elections.electionQuery",
          "path": "civicinfo/v2/elections",
          "parameters": {
            "productionDataOnly": {
              "description": "Whether to include data that has not been allowlisted yet",
              "default": "true",
              "location": "query",
              "type": "boolean"
            }
          }
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "parameters": {
            "query": {
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "flatPath": "civicinfo/v2/divisions",
          "parameterOrder": [],
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          },
          "id": "civicinfo.divisions.search",
          "path": "civicinfo/v2/divisions"
        },
        "queryDivisionByAddress": {
          "parameters": {
            "address": {
              "location": "query",
              "type": "string"
            }
          },
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "path": "civicinfo/v2/divisionsByAddress",
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "parameterOrder": [],
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          },
          "httpMethod": "GET",
          "description": "Lookup OCDIDs and names for divisions related to an address."
        }
      }
    }
  },
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/civic-information/",
  "title": "Google Civic Information API",
  "basePath": "",
  "version": "v2",
  "rootUrl": "https://civicinfo.googleapis.com/",
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "revision": "20260619",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "CivicinfoSchemaV2AdministrativeBody": {
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "type": "object",
      "description": "Information about an election administrative body (e.g. County Board of Elections).",
      "properties": {
        "electionInfoUrl": {
          "description": "A URL provided by this administrative body for looking up general election information.",
          "type": "string"
        },
        "electionOfficials": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          },
          "description": "The election officials for this election administrative body."
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "electionNoticeUrl": {
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification.",
          "type": "string"
        },
        "votingLocationFinderUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up where to vote."
        },
        "voter_services": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A description of the services this administrative body may provide."
        },
        "correspondenceAddress": {
          "description": "The mailing address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "electionNoticeText": {
          "type": "string",
          "description": "A last minute or emergency notification text provided by this administrative body."
        },
        "absenteeVotingInfoUrl": {
          "description": "A URL provided by this administrative body for information on absentee voting.",
          "type": "string"
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        },
        "hoursOfOperation": {
          "description": "A description of the hours of operation for this administrative body.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of this election administrative body."
        },
        "electionRegistrationConfirmationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote."
        },
        "electionRegistrationUrl": {
          "description": "A URL provided by this administrative body for looking up how to register to vote.",
          "type": "string"
        },
        "physicalAddress": {
          "description": "The physical address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        }
      }
    },
    "CivicinfoSchemaV2Election": {
      "id": "CivicinfoSchemaV2Election",
      "type": "object",
      "description": "Information about the election that was queried.",
      "properties": {
        "ocdDivisionId": {
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).",
          "type": "string"
        },
        "shapeLookupBehavior": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ]
        },
        "name": {
          "description": "A displayable name for the election.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this election.",
          "format": "int64"
        },
        "electionDay": {
          "description": "Day of the election in YYYY-MM-DD format.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2Channel": {
      "id": "CivicinfoSchemaV2Channel",
      "type": "object",
      "description": "A social media or web channel for a candidate.",
      "properties": {
        "type": {
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique public identifier for the candidate's channel."
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "type": "object",
      "description": "Represents a political geographic division that matches the requested query.",
      "properties": {
        "ocdId": {
          "type": "string",
          "description": "The unique Open Civic Data identifier for this division"
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "aliases": {
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CivicinfoSchemaV2Candidate": {
      "description": "Information about a candidate running for elected office.",
      "properties": {
        "orderOnBallot": {
          "type": "string",
          "format": "int64",
          "description": "The order the candidate appears on the ballot for this contest."
        },
        "name": {
          "type": "string",
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\""
        },
        "phone": {
          "type": "string",
          "description": "The voice phone number for the candidate's campaign office."
        },
        "party": {
          "type": "string",
          "description": "The full name of the party the candidate is a member of."
        },
        "email": {
          "description": "The email address for the candidate's campaign.",
          "type": "string"
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        },
        "channels": {
          "description": "A list of known (social) media channels for this candidate.",
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          },
          "type": "array"
        }
      },
      "id": "CivicinfoSchemaV2Candidate",
      "type": "object"
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "type": "object",
      "description": "The result of a voter info lookup query.",
      "properties": {
        "state": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          },
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array."
        },
        "contests": {
          "description": "Contests that will appear on the voter's ballot.",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          },
          "type": "array"
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "mailOnly": {
          "type": "boolean",
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well)."
        },
        "pollingLocations": {
          "description": "Locations where the voter is eligible to vote on election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "earlyVoteSites": {
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "precinctId": {
          "type": "string"
        },
        "precincts": {
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\".",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          }
        },
        "dropOffLocations": {
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "type": "array",
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field."
        },
        "otherElections": {
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "type": "array",
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user."
        },
        "kind": {
          "default": "civicinfo#voterInfoResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\"."
        },
        "election": {
          "description": "The election that was queried.",
          "$ref": "CivicinfoSchemaV2Election"
        }
      }
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "description": "Information about individual election officials.",
      "properties": {
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "faxNumber": {
          "description": "The fax number of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the election official.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The full name of the election official."
        },
        "title": {
          "type": "string",
          "description": "The title of the election official."
        }
      },
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "type": "object"
    },
    "CivicinfoSchemaV2Precinct": {
      "id": "CivicinfoSchemaV2Precinct",
      "type": "object",
      "properties": {
        "mailOnly": {
          "type": "boolean",
          "description": "Specifies if the precinct runs mail-only elections."
        },
        "ward": {
          "type": "string",
          "description": "Specifies the ward the precinct is contained within."
        },
        "splitName": {
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt.",
          "type": "string"
        },
        "ocdId": {
          "description": "Encouraged. The OCD ID of the precinct",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pollingLocationId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "electoralDistrictId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct."
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for this precinct."
        },
        "number": {
          "type": "string",
          "description": "The number of the precinct."
        },
        "earlyVoteSiteId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the PollingLocation message(s) for this precinct."
        },
        "datasetId": {
          "type": "string",
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the precinct."
        },
        "contestId": {
          "description": "ID(s) of the Contest message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "spatialBoundaryId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct."
        },
        "administrationRegionId": {
          "type": "string",
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag."
        }
      }
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "type": "object",
      "description": "A simple representation of an address.",
      "properties": {
        "addressLine": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "city": {
          "type": "string",
          "description": "The city or town for the address."
        },
        "line3": {
          "description": "The third line of the address, if needed.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The US two letter state abbreviation of the address."
        },
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        },
        "locationName": {
          "description": "The name of the location.",
          "type": "string"
        },
        "line1": {
          "description": "The street name and number of this address.",
          "type": "string"
        },
        "line2": {
          "type": "string",
          "description": "The second line the address, if needed."
        }
      }
    },
    "CivicinfoSchemaV2Source": {
      "id": "CivicinfoSchemaV2Source",
      "type": "object",
      "description": "Contains information about the data source for the element containing it.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the data source."
        },
        "official": {
          "type": "boolean",
          "description": "Whether this data comes from an official government source."
        }
      }
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "type": "object",
      "description": "Describes information about a regional election administrative area.",
      "properties": {
        "name": {
          "description": "The name of the jurisdiction.",
          "type": "string"
        },
        "local_jurisdiction": {
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state.",
          "$ref": "CivicinfoSchemaV2AdministrationRegion"
        },
        "sources": {
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "electionAdministrationBody": {
          "description": "The election administration body for this area.",
          "$ref": "CivicinfoSchemaV2AdministrativeBody"
        }
      }
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "description": "Describes the geographic scope of a contest.",
      "properties": {
        "name": {
          "description": "The name of the district.",
          "type": "string"
        },
        "scope": {
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ]
        },
        "id": {
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2ElectoralDistrict",
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "description": "The result of a division search query.",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          }
        },
        "kind": {
          "default": "civicinfo#divisionSearchResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\"."
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse",
      "type": "object",
      "properties": {
        "normalizedInput": {
          "description": "The normalized version of the requested address.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "divisions": {
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          },
          "type": "object"
        }
      }
    },
    "CivicinfoSchemaV2PollingLocation": {
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.",
      "properties": {
        "endDate": {
          "type": "string",
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations."
        },
        "notes": {
          "type": "string",
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use)."
        },
        "pollingHours": {
          "type": "string",
          "description": "A description of when this location is open."
        },
        "longitude": {
          "format": "double",
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "type": "number"
        },
        "name": {
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "address": {
          "description": "The address of the location.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources."
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations."
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2PollingLocation",
      "type": "object"
    },
    "CivicinfoSchemaV2Contest": {
      "id": "CivicinfoSchemaV2Contest",
      "type": "object",
      "description": "Information about a contest that appears on a voter's ballot.",
      "properties": {
        "special": {
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
          "type": "string"
        },
        "district": {
          "description": "Information about the electoral district that this contest is in.",
          "$ref": "CivicinfoSchemaV2ElectoralDistrict"
        },
        "ballotPlacement": {
          "format": "int64",
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "type": "string"
        },
        "referendumProStatement": {
          "type": "string",
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumEffectOfAbstain": {
          "type": "string",
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'."
        },
        "primaryParties": {
          "description": "If this is a partisan election, the name of the party/parties it is for.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "referendumConStatement": {
          "type": "string",
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "type": "array",
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources."
        },
        "numberVotingFor": {
          "type": "string",
          "description": "The number of candidates that a voter may vote for in this contest.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'."
        },
        "electorateSpecifications": {
          "description": "A description of any additional eligibility requirements for voting in this contest.",
          "type": "string"
        },
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "office": {
          "description": "The name of the office for this contest.",
          "type": "string"
        },
        "referendumBallotResponses": {
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "referendumSubtitle": {
          "type": "string",
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "ballotTitle": {
          "type": "string",
          "description": "The official title on the ballot for this contest, only where available."
        },
        "referendumBrief": {
          "type": "string",
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'."
        },
        "level": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ]
          },
          "type": "array",
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\"."
        },
        "roles": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ]
          },
          "type": "array",
          "description": "The roles which this office fulfills."
        },
        "referendumPassageThreshold": {
          "type": "string",
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'."
        },
        "numberElected": {
          "description": "The number of candidates that will be elected to office in this contest.",
          "format": "int64",
          "type": "string"
        },
        "referendumText": {
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "candidates": {
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          },
          "type": "array",
          "description": "The candidate choices for this contest."
        }
      }
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "description": "The list of elections available for this version of the API.",
      "properties": {
        "elections": {
          "description": "A list of available elections",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "default": "civicinfo#electionsQueryResponse",
          "type": "string"
        }
      },
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "type": "object"
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "description": "Describes a political geography.",
      "properties": {
        "alsoKnownAs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc."
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "officeIndices": {
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "type": "array",
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request."
        }
      },
      "id": "CivicinfoSchemaV2GeographicDivision",
      "type": "object"
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "baseUrl": "https://civicinfo.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "civicinfo",
  "version_module": true,
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "batchPath": "batch",
  "canonicalName": "Civic Info",
  "id": "civicinfo:v2",
  "ownerName": "Google"
}