{
  "rootUrl": "https://civicinfo.googleapis.com/",
  "basePath": "",
  "id": "civicinfo:v2",
  "ownerDomain": "google.com",
  "version": "v2",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "revision": "20260423",
  "discoveryVersion": "v1",
  "schemas": {
    "CivicinfoSchemaV2PollingLocation": {
      "id": "CivicinfoSchemaV2PollingLocation",
      "type": "object",
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.",
      "properties": {
        "pollingHours": {
          "description": "A description of when this location is open.",
          "type": "string"
        },
        "address": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The address of the location."
        },
        "sources": {
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "notes": {
          "type": "string",
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use)."
        },
        "name": {
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "voterServices": {
          "type": "string",
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations."
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "endDate": {
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "longitude": {
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "description": "Describes information about a regional election administrative area.",
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "type": "object",
      "properties": {
        "sources": {
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "electionAdministrationBody": {
          "$ref": "CivicinfoSchemaV2AdministrativeBody",
          "description": "The election administration body for this area."
        },
        "name": {
          "description": "The name of the jurisdiction.",
          "type": "string"
        },
        "local_jurisdiction": {
          "$ref": "CivicinfoSchemaV2AdministrationRegion",
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state."
        }
      }
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "type": "object",
      "description": "A simple representation of an address.",
      "properties": {
        "city": {
          "description": "The city or town for the address.",
          "type": "string"
        },
        "line1": {
          "description": "The street name and number of this address.",
          "type": "string"
        },
        "line3": {
          "description": "The third line of the address, if needed.",
          "type": "string"
        },
        "locationName": {
          "type": "string",
          "description": "The name of the location."
        },
        "line2": {
          "description": "The second line the address, if needed.",
          "type": "string"
        },
        "addressLine": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "description": "The US two letter state abbreviation of the address."
        },
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        }
      }
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "description": "The result of a voter info lookup query.",
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "type": "object",
      "properties": {
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address"
        },
        "pollingLocations": {
          "description": "Locations where the voter is eligible to vote on election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "otherElections": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user."
        },
        "precincts": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          },
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\"."
        },
        "dropOffLocations": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field."
        },
        "mailOnly": {
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).",
          "type": "boolean"
        },
        "election": {
          "$ref": "CivicinfoSchemaV2Election",
          "description": "The election that was queried."
        },
        "precinctId": {
          "type": "string"
        },
        "earlyVoteSites": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote early, prior to election day."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
          "type": "string",
          "default": "civicinfo#voterInfoResponse"
        },
        "contests": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          },
          "description": "Contests that will appear on the voter's ballot."
        },
        "state": {
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          }
        }
      }
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "properties": {
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address."
        },
        "divisions": {
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          },
          "type": "object"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse",
      "type": "object"
    },
    "CivicinfoSchemaV2Election": {
      "description": "Information about the election that was queried.",
      "id": "CivicinfoSchemaV2Election",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "A displayable name for the election."
        },
        "electionDay": {
          "type": "string",
          "description": "Day of the election in YYYY-MM-DD format."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The unique ID of this election."
        },
        "shapeLookupBehavior": {
          "type": "string",
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "ocdDivisionId": {
          "type": "string",
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us)."
        }
      }
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "description": "Information about individual election officials.",
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The full name of the election official."
        },
        "title": {
          "type": "string",
          "description": "The title of the election official."
        },
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the election official.",
          "type": "string"
        },
        "faxNumber": {
          "description": "The fax number of the election official.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2Precinct": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the precinct."
        },
        "electoralDistrictId": {
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "datasetId": {
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "type": "string",
          "format": "int64"
        },
        "number": {
          "type": "string",
          "description": "The number of the precinct."
        },
        "contestId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the Contest message(s) for this precinct."
        },
        "earlyVoteSiteId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the PollingLocation message(s) for this precinct."
        },
        "splitName": {
          "type": "string",
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt."
        },
        "mailOnly": {
          "description": "Specifies if the precinct runs mail-only elections.",
          "type": "boolean"
        },
        "ocdId": {
          "description": "Encouraged. The OCD ID of the precinct",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pollingLocationId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Required. A unique identifier for this precinct.",
          "type": "string"
        },
        "administrationRegionId": {
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag.",
          "type": "string"
        },
        "ward": {
          "description": "Specifies the ward the precinct is contained within.",
          "type": "string"
        },
        "spatialBoundaryId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct."
        }
      },
      "id": "CivicinfoSchemaV2Precinct",
      "type": "object"
    },
    "CivicinfoSchemaV2Candidate": {
      "properties": {
        "phone": {
          "description": "The voice phone number for the candidate's campaign office.",
          "type": "string"
        },
        "channels": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          },
          "description": "A list of known (social) media channels for this candidate."
        },
        "party": {
          "type": "string",
          "description": "The full name of the party the candidate is a member of."
        },
        "name": {
          "type": "string",
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\""
        },
        "email": {
          "type": "string",
          "description": "The email address for the candidate's campaign."
        },
        "orderOnBallot": {
          "type": "string",
          "description": "The order the candidate appears on the ballot for this contest.",
          "format": "int64"
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2Candidate",
      "type": "object",
      "description": "Information about a candidate running for elected office."
    },
    "CivicinfoSchemaV2Source": {
      "properties": {
        "official": {
          "description": "Whether this data comes from an official government source.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name of the data source."
        }
      },
      "description": "Contains information about the data source for the element containing it.",
      "id": "CivicinfoSchemaV2Source",
      "type": "object"
    },
    "CivicinfoSchemaV2Contest": {
      "properties": {
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "numberElected": {
          "description": "The number of candidates that will be elected to office in this contest.",
          "type": "string",
          "format": "int64"
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumBrief": {
          "type": "string",
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'."
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "ballotTitle": {
          "type": "string",
          "description": "The official title on the ballot for this contest, only where available."
        },
        "referendumSubtitle": {
          "type": "string",
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "district": {
          "description": "Information about the electoral district that this contest is in.",
          "$ref": "CivicinfoSchemaV2ElectoralDistrict"
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "primaryParties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If this is a partisan election, the name of the party/parties it is for."
        },
        "roles": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ]
          },
          "description": "The roles which this office fulfills."
        },
        "numberVotingFor": {
          "format": "int64",
          "description": "The number of candidates that a voter may vote for in this contest.",
          "type": "string"
        },
        "electorateSpecifications": {
          "type": "string",
          "description": "A description of any additional eligibility requirements for voting in this contest."
        },
        "special": {
          "type": "string",
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle."
        },
        "referendumBallotResponses": {
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumText": {
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumProStatement": {
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "office": {
          "type": "string",
          "description": "The name of the office for this contest."
        },
        "sources": {
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          }
        },
        "level": {
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ]
          }
        },
        "candidates": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          },
          "description": "The candidate choices for this contest."
        },
        "ballotPlacement": {
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Information about a contest that appears on a voter's ballot.",
      "id": "CivicinfoSchemaV2Contest",
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "description": "Represents a political geographic division that matches the requested query.",
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district."
        },
        "ocdId": {
          "description": "The unique Open Civic Data identifier for this division",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "properties": {
        "name": {
          "description": "The name of the division.",
          "type": "string"
        },
        "alsoKnownAs": {
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "officeIndices": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request."
        }
      },
      "id": "CivicinfoSchemaV2GeographicDivision",
      "type": "object",
      "description": "Describes a political geography."
    },
    "CivicinfoSchemaV2Channel": {
      "properties": {
        "type": {
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique public identifier for the candidate's channel."
        }
      },
      "description": "A social media or web channel for a candidate.",
      "id": "CivicinfoSchemaV2Channel",
      "type": "object"
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "properties": {
        "elections": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "A list of available elections"
        },
        "kind": {
          "default": "civicinfo#electionsQueryResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\"."
        }
      },
      "description": "The list of elections available for this version of the API.",
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "description": "The result of a division search query.",
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          }
        },
        "kind": {
          "default": "civicinfo#divisionSearchResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\"."
        }
      }
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "id": "CivicinfoSchemaV2ElectoralDistrict",
      "type": "object",
      "description": "Describes the geographic scope of a contest.",
      "properties": {
        "id": {
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper.",
          "type": "string"
        },
        "scope": {
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the district."
        }
      }
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "properties": {
        "physicalAddress": {
          "description": "The physical address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "correspondenceAddress": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The mailing address of this administrative body."
        },
        "electionNoticeUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification."
        },
        "hoursOfOperation": {
          "description": "A description of the hours of operation for this administrative body.",
          "type": "string"
        },
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "electionRegistrationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up how to register to vote."
        },
        "electionOfficials": {
          "description": "The election officials for this election administrative body.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          }
        },
        "absenteeVotingInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for information on absentee voting."
        },
        "votingLocationFinderUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up where to vote."
        },
        "name": {
          "type": "string",
          "description": "The name of this election administrative body."
        },
        "voter_services": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A description of the services this administrative body may provide."
        },
        "electionNoticeText": {
          "type": "string",
          "description": "A last minute or emergency notification text provided by this administrative body."
        },
        "electionInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up general election information."
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        }
      },
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "type": "object",
      "description": "Information about an election administrative body (e.g. County Board of Elections)."
    }
  },
  "baseUrl": "https://civicinfo.googleapis.com/",
  "kind": "discovery#restDescription",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Civic Information API",
  "canonicalName": "Civic Info",
  "ownerName": "Google",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/civic-information/",
  "resources": {
    "elections": {
      "methods": {
        "voterInfoQuery": {
          "flatPath": "civicinfo/v2/voterinfo",
          "httpMethod": "GET",
          "path": "civicinfo/v2/voterinfo",
          "parameterOrder": [],
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "id": "civicinfo.elections.voterInfoQuery",
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "parameters": {
            "electionId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "default": "0"
            },
            "returnAllAvailableData": {
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "officialOnly": {
              "type": "boolean",
              "description": "If set to true, only data from official state sources will be returned.",
              "location": "query",
              "default": "false"
            },
            "address": {
              "description": "The registered address of the voter to look up.",
              "location": "query",
              "type": "string"
            },
            "productionDataOnly": {
              "type": "boolean",
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "location": "query",
              "default": "true"
            }
          }
        },
        "electionQuery": {
          "parameters": {
            "productionDataOnly": {
              "type": "boolean",
              "description": "Whether to include data that has not been allowlisted yet",
              "location": "query",
              "default": "true"
            }
          },
          "id": "civicinfo.elections.electionQuery",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          },
          "description": "List of available elections to query.",
          "path": "civicinfo/v2/elections",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/elections"
        }
      }
    },
    "divisions": {
      "methods": {
        "queryDivisionByAddress": {
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "description": "Lookup OCDIDs and names for divisions related to an address.",
          "path": "civicinfo/v2/divisionsByAddress",
          "parameterOrder": [],
          "parameters": {
            "address": {
              "location": "query",
              "type": "string"
            }
          },
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          }
        },
        "search": {
          "path": "civicinfo/v2/divisions",
          "parameterOrder": [],
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "flatPath": "civicinfo/v2/divisions",
          "httpMethod": "GET",
          "id": "civicinfo.divisions.search",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          },
          "parameters": {
            "query": {
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "name": "civicinfo",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "servicePath": ""
}