{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "version": "v2",
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "servicePath": "",
  "baseUrl": "https://civicinfo.googleapis.com/",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "name": "civicinfo",
  "id": "civicinfo:v2",
  "version_module": true,
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "title": "Google Civic Information API",
  "documentationLink": "https://developers.google.com/civic-information/",
  "rootUrl": "https://civicinfo.googleapis.com/",
  "schemas": {
    "CivicinfoSchemaV2SimpleAddressType": {
      "properties": {
        "state": {
          "type": "string",
          "description": "The US two letter state abbreviation of the address."
        },
        "line2": {
          "type": "string",
          "description": "The second line the address, if needed."
        },
        "locationName": {
          "description": "The name of the location.",
          "type": "string"
        },
        "line3": {
          "type": "string",
          "description": "The third line of the address, if needed."
        },
        "addressLine": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "city": {
          "type": "string",
          "description": "The city or town for the address."
        },
        "zip": {
          "type": "string",
          "description": "The US Postal Zip Code of the address."
        },
        "line1": {
          "type": "string",
          "description": "The street name and number of this address."
        }
      },
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "type": "object",
      "description": "A simple representation of an address."
    },
    "CivicinfoSchemaV2ElectionOfficial": {
      "properties": {
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "faxNumber": {
          "description": "The fax number of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the election official."
        },
        "name": {
          "type": "string",
          "description": "The full name of the election official."
        },
        "title": {
          "type": "string",
          "description": "The title of the election official."
        }
      },
      "description": "Information about individual election officials.",
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "type": "object"
    },
    "CivicinfoSchemaV2Election": {
      "id": "CivicinfoSchemaV2Election",
      "type": "object",
      "description": "Information about the election that was queried.",
      "properties": {
        "ocdDivisionId": {
          "type": "string",
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us)."
        },
        "name": {
          "type": "string",
          "description": "A displayable name for the election."
        },
        "electionDay": {
          "description": "Day of the election in YYYY-MM-DD format.",
          "type": "string"
        },
        "shapeLookupBehavior": {
          "type": "string",
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "id": {
          "description": "The unique ID of this election.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2Precinct": {
      "id": "CivicinfoSchemaV2Precinct",
      "type": "object",
      "properties": {
        "contestId": {
          "type": "array",
          "description": "ID(s) of the Contest message(s) for this precinct.",
          "items": {
            "type": "string"
          }
        },
        "spatialBoundaryId": {
          "type": "array",
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct.",
          "items": {
            "type": "string"
          }
        },
        "splitName": {
          "type": "string",
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt."
        },
        "pollingLocationId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "ID(s) of the PollingLocation message(s) for this precinct."
        },
        "administrationRegionId": {
          "type": "string",
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag."
        },
        "number": {
          "type": "string",
          "description": "The number of the precinct."
        },
        "mailOnly": {
          "description": "Specifies if the precinct runs mail-only elections.",
          "type": "boolean"
        },
        "name": {
          "description": "Required. The name of the precinct.",
          "type": "string"
        },
        "ocdId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Encouraged. The OCD ID of the precinct"
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for this precinct."
        },
        "ward": {
          "description": "Specifies the ward the precinct is contained within.",
          "type": "string"
        },
        "earlyVoteSiteId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "datasetId": {
          "type": "string",
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "format": "int64"
        },
        "electoralDistrictId": {
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CivicinfoSchemaV2Candidate": {
      "properties": {
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "orderOnBallot": {
          "type": "string",
          "description": "The order the candidate appears on the ballot for this contest.",
          "format": "int64"
        },
        "email": {
          "description": "The email address for the candidate's campaign.",
          "type": "string"
        },
        "name": {
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\"",
          "type": "string"
        },
        "phone": {
          "description": "The voice phone number for the candidate's campaign office.",
          "type": "string"
        },
        "channels": {
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          },
          "type": "array",
          "description": "A list of known (social) media channels for this candidate."
        },
        "party": {
          "type": "string",
          "description": "The full name of the party the candidate is a member of."
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        }
      },
      "description": "Information about a candidate running for elected office.",
      "id": "CivicinfoSchemaV2Candidate",
      "type": "object"
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "description": "The list of elections available for this version of the API.",
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "type": "object",
      "properties": {
        "elections": {
          "type": "array",
          "description": "A list of available elections",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "default": "civicinfo#electionsQueryResponse",
          "type": "string"
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "properties": {
        "ocdId": {
          "type": "string",
          "description": "The unique Open Civic Data identifier for this division"
        },
        "aliases": {
          "type": "array",
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The name of the division.",
          "type": "string"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "type": "object",
      "description": "Represents a political geographic division that matches the requested query."
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the jurisdiction."
        },
        "electionAdministrationBody": {
          "description": "The election administration body for this area.",
          "$ref": "CivicinfoSchemaV2AdministrativeBody"
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array"
        },
        "local_jurisdiction": {
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state.",
          "$ref": "CivicinfoSchemaV2AdministrationRegion"
        }
      },
      "id": "CivicinfoSchemaV2AdministrationRegion",
      "type": "object",
      "description": "Describes information about a regional election administrative area."
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "properties": {
        "normalizedInput": {
          "description": "The normalized version of the requested address.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "divisions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          }
        }
      },
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse",
      "type": "object"
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "description": "Describes a political geography.",
      "id": "CivicinfoSchemaV2GeographicDivision",
      "type": "object",
      "properties": {
        "officeIndices": {
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          }
        },
        "alsoKnownAs": {
          "items": {
            "type": "string"
          },
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the division."
        }
      }
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "description": "The result of a division search query.",
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
          "default": "civicinfo#divisionSearchResponse"
        }
      }
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "id": "CivicinfoApiprotosV2VoterInfoResponse",
      "type": "object",
      "description": "The result of a voter info lookup query.",
      "properties": {
        "contests": {
          "description": "Contests that will appear on the voter's ballot.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          }
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "dropOffLocations": {
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "precincts": {
          "type": "array",
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\".",
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          }
        },
        "otherElections": {
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "type": "array",
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user."
        },
        "precinctId": {
          "type": "string"
        },
        "mailOnly": {
          "type": "boolean",
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well)."
        },
        "election": {
          "description": "The election that was queried.",
          "$ref": "CivicinfoSchemaV2Election"
        },
        "earlyVoteSites": {
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "type": "array"
        },
        "state": {
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
          "default": "civicinfo#voterInfoResponse",
          "type": "string"
        },
        "pollingLocations": {
          "description": "Locations where the voter is eligible to vote on election day.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        }
      }
    },
    "CivicinfoSchemaV2Contest": {
      "properties": {
        "referendumTitle": {
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "district": {
          "description": "Information about the electoral district that this contest is in.",
          "$ref": "CivicinfoSchemaV2ElectoralDistrict"
        },
        "referendumBrief": {
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "special": {
          "type": "string",
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle."
        },
        "referendumSubtitle": {
          "type": "string",
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumProStatement": {
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumBallotResponses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'."
        },
        "electorateSpecifications": {
          "type": "string",
          "description": "A description of any additional eligibility requirements for voting in this contest."
        },
        "office": {
          "description": "The name of the office for this contest.",
          "type": "string"
        },
        "referendumConStatement": {
          "type": "string",
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
        },
        "referendumPassageThreshold": {
          "type": "string",
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'."
        },
        "primaryParties": {
          "description": "If this is a partisan election, the name of the party/parties it is for.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "type": "array",
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources."
        },
        "roles": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "The roles which this office fulfills."
        },
        "numberVotingFor": {
          "type": "string",
          "description": "The number of candidates that a voter may vote for in this contest.",
          "format": "int64"
        },
        "referendumText": {
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        },
        "numberElected": {
          "description": "The number of candidates that will be elected to office in this contest.",
          "format": "int64",
          "type": "string"
        },
        "candidates": {
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          },
          "type": "array",
          "description": "The candidate choices for this contest."
        },
        "level": {
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "type": "string"
          }
        },
        "ballotPlacement": {
          "description": "A number specifying the position of this contest on the voter's ballot.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2Contest",
      "type": "object",
      "description": "Information about a contest that appears on a voter's ballot."
    },
    "CivicinfoSchemaV2PollingLocation": {
      "properties": {
        "pollingHours": {
          "type": "string",
          "description": "A description of when this location is open."
        },
        "notes": {
          "type": "string",
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use)."
        },
        "name": {
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "latitude": {
          "type": "number",
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "format": "double"
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "type": "array",
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources."
        },
        "voterServices": {
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations."
        },
        "longitude": {
          "type": "number",
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.",
          "format": "double"
        },
        "startDate": {
          "type": "string",
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations."
        },
        "address": {
          "description": "The address of the location.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        }
      },
      "id": "CivicinfoSchemaV2PollingLocation",
      "type": "object",
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot."
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "description": "Describes the geographic scope of a contest.",
      "id": "CivicinfoSchemaV2ElectoralDistrict",
      "type": "object",
      "properties": {
        "id": {
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper.",
          "type": "string"
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the district."
        }
      }
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "properties": {
        "electionInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up general election information."
        },
        "absenteeVotingInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for information on absentee voting."
        },
        "hoursOfOperation": {
          "type": "string",
          "description": "A description of the hours of operation for this administrative body."
        },
        "electionNoticeText": {
          "description": "A last minute or emergency notification text provided by this administrative body.",
          "type": "string"
        },
        "voter_services": {
          "items": {
            "type": "string"
          },
          "description": "A description of the services this administrative body may provide.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of this election administrative body."
        },
        "electionNoticeUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification."
        },
        "correspondenceAddress": {
          "description": "The mailing address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "electionRegistrationConfirmationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote."
        },
        "votingLocationFinderUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up where to vote."
        },
        "physicalAddress": {
          "description": "The physical address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "electionOfficials": {
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          },
          "type": "array",
          "description": "The election officials for this election administrative body."
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        },
        "electionRegistrationUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body for looking up how to register to vote."
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        }
      },
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "type": "object",
      "description": "Information about an election administrative body (e.g. County Board of Elections)."
    },
    "CivicinfoSchemaV2Source": {
      "id": "CivicinfoSchemaV2Source",
      "type": "object",
      "description": "Contains information about the data source for the element containing it.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the data source."
        },
        "official": {
          "type": "boolean",
          "description": "Whether this data comes from an official government source."
        }
      }
    },
    "CivicinfoSchemaV2Channel": {
      "id": "CivicinfoSchemaV2Channel",
      "type": "object",
      "description": "A social media or web channel for a candidate.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter"
        },
        "id": {
          "description": "The unique public identifier for the candidate's channel.",
          "type": "string"
        }
      }
    }
  },
  "protocol": "rest",
  "ownerName": "Google",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "resources": {
    "elections": {
      "methods": {
        "electionQuery": {
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          },
          "path": "civicinfo/v2/elections",
          "id": "civicinfo.elections.electionQuery",
          "parameters": {
            "productionDataOnly": {
              "type": "boolean",
              "description": "Whether to include data that has not been allowlisted yet",
              "default": "true",
              "location": "query"
            }
          },
          "flatPath": "civicinfo/v2/elections",
          "description": "List of available elections to query.",
          "parameterOrder": []
        },
        "voterInfoQuery": {
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "id": "civicinfo.elections.voterInfoQuery",
          "path": "civicinfo/v2/voterinfo",
          "parameters": {
            "returnAllAvailableData": {
              "type": "boolean",
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "default": "false",
              "location": "query"
            },
            "electionId": {
              "location": "query",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "default": "0",
              "format": "int64",
              "type": "string"
            },
            "productionDataOnly": {
              "type": "boolean",
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
              "default": "true",
              "location": "query"
            },
            "address": {
              "description": "The registered address of the voter to look up.",
              "location": "query",
              "type": "string"
            },
            "officialOnly": {
              "description": "If set to true, only data from official state sources will be returned.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [],
          "flatPath": "civicinfo/v2/voterinfo",
          "description": "Looks up information relevant to a voter based on the voter's registered address."
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "parameterOrder": [],
          "flatPath": "civicinfo/v2/divisions",
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "parameters": {
            "query": {
              "type": "string",
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
              "location": "query"
            }
          },
          "id": "civicinfo.divisions.search",
          "path": "civicinfo/v2/divisions",
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          }
        },
        "queryDivisionByAddress": {
          "parameters": {
            "address": {
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "description": "Lookup OCDIDs and names for divisions related to an address.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          },
          "path": "civicinfo/v2/divisionsByAddress",
          "id": "civicinfo.divisions.queryDivisionByAddress"
        }
      }
    }
  },
  "revision": "20260723",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Civic Info"
}