{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://classroom.mtls.googleapis.com/",
  "batchPath": "batch",
  "name": "classroom",
  "version": "v1",
  "ownerDomain": "google.com",
  "id": "classroom:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/classroom.courses.readonly": {
          "description": "View your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.topics.readonly": {
          "description": "View topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.addons.teacher": {
          "description": "See, create, and update its own attachments to posts in classes you teach in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.profile.photos": {
          "description": "View the profile photos of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.rosters.readonly": {
          "description": "View your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly": {
          "description": "See all classwork materials for your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.announcements": {
          "description": "View and manage announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.announcements.readonly": {
          "description": "View announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.push-notifications": {
          "description": "Receive notifications about your Google Classroom data"
        },
        "https://www.googleapis.com/auth/classroom.topics": {
          "description": "See, create, and edit topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me": {
          "description": "See, create and edit coursework items including assignments, questions, and grades"
        },
        "https://www.googleapis.com/auth/classroom.profile.emails": {
          "description": "View the email addresses of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students": {
          "description": "Manage course work and grades for students in the Google Classroom classes you teach and view the course work and grades for classes you administer"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly": {
          "description": "View guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students": {
          "description": "View and manage guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.rosters": {
          "description": "Manage your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials": {
          "description": "See, edit, and create classwork materials in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly": {
          "description": "View your Google Classroom guardians"
        },
        "https://www.googleapis.com/auth/classroom.courses": {
          "description": "See, edit, create, and permanently delete your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.addons.student": {
          "description": "See and update its own attachments to posts in Google Classroom"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "documentationLink": "https://developers.google.com/workspace/classroom/",
  "baseUrl": "https://classroom.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "title": "Google Classroom API",
  "resources": {
    "userProfiles": {
      "methods": {
        "get": {
          "flatPath": "v1/userProfiles/{userId}",
          "description": "Returns a user profile. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access this user profile, if no profile exists with the requested ID, or for access errors.",
          "parameters": {
            "userId": {
              "description": "Identifier of the profile to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "classroom.userProfiles.get",
          "response": {
            "$ref": "UserProfile"
          },
          "path": "v1/userProfiles/{userId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.profile.emails",
            "https://www.googleapis.com/auth/classroom.profile.photos",
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ]
        }
      },
      "resources": {
        "guardianInvitations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "studentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "path": "v1/userProfiles/{studentId}/guardianInvitations",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListGuardianInvitationsResponse"
              },
              "id": "classroom.userProfiles.guardianInvitations.list",
              "parameters": {
                "studentId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the student whose guardian invitations are to be returned. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user is permitted to view guardian invitations.",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32"
                },
                "states": {
                  "enumDescriptions": [
                    "Should never be returned.",
                    "The invitation is active and awaiting a response.",
                    "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
                  ],
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "description": "If specified, only results with the specified `state` values are returned. Otherwise, results with a `state` of `PENDING` are returned.",
                  "enum": [
                    "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
                    "PENDING",
                    "COMPLETE"
                  ]
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                },
                "invitedEmailAddress": {
                  "location": "query",
                  "type": "string",
                  "description": "If specified, only results with the specified `invited_email_address` are returned."
                }
              },
              "description": "Returns a list of guardian invitations that the requesting user is permitted to view, filtered by the parameters provided. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian invitations for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` or `state` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations"
            },
            "get": {
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "parameters": {
                "studentId": {
                  "description": "The ID of the student whose guardian invitation is being requested.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "invitationId": {
                  "description": "The `id` field of the `GuardianInvitation` being requested.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Returns a specific guardian invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view guardian invitations for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if Classroom cannot find any record of the given student or `invitation_id`. May also be returned if the student exists, but the requesting user does not have access to see that student.",
              "id": "classroom.userProfiles.guardianInvitations.get",
              "response": {
                "$ref": "GuardianInvitation"
              },
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ]
            },
            "create": {
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
              "parameters": {
                "studentId": {
                  "location": "path",
                  "type": "string",
                  "description": "ID of the student (in standard format)",
                  "required": true
                }
              },
              "description": "Creates a guardian invitation, and sends an email to the guardian asking them to confirm that they are the student's guardian. Once the guardian accepts the invitation, their `state` will change to `COMPLETED` and they will start receiving guardian notifications. A `Guardian` resource will also be created to represent the active guardian. The request object must have the `student_id` and `invited_email_address` fields set. Failing to set these fields, or setting any other fields in the request, will result in an error. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if the guardian in question has already rejected too many requests for that student, if guardians are not enabled for the domain in question, or for other access errors. * `RESOURCE_EXHAUSTED` if the student or guardian has exceeded the guardian link limit. * `INVALID_ARGUMENT` if the guardian email address is not valid (for example, if it is too long), or if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API). This error will also be returned if read-only fields are set, or if the `state` field is set to to a value other than `PENDING`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student. * `ALREADY_EXISTS` if there is already a pending guardian invitation for the student and `invited_email_address` provided, or if the provided `invited_email_address` matches the Google account of an existing `Guardian` for this user.",
              "id": "classroom.userProfiles.guardianInvitations.create",
              "response": {
                "$ref": "GuardianInvitation"
              },
              "path": "v1/userProfiles/{studentId}/guardianInvitations",
              "httpMethod": "POST",
              "parameterOrder": [
                "studentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "request": {
                "$ref": "GuardianInvitation"
              }
            },
            "patch": {
              "response": {
                "$ref": "GuardianInvitation"
              },
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "request": {
                "$ref": "GuardianInvitation"
              },
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "parameters": {
                "invitationId": {
                  "description": "The `id` field of the `GuardianInvitation` to be modified.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "studentId": {
                  "required": true,
                  "description": "The ID of the student whose guardian invitation is to be modified.",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields are valid: * `state` When set in a query parameter, this field should be specified as `updateMask=,,...`",
                  "format": "google-fieldmask"
                }
              },
              "description": "Modifies a guardian invitation. Currently, the only valid modification is to change the `state` from `PENDING` to `COMPLETE`. This has the effect of withdrawing the invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if guardians are not enabled for the domain in question or for other access errors. * `FAILED_PRECONDITION` if the guardian link is not in the `PENDING` state. * `INVALID_ARGUMENT` if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API), or if the passed `GuardianInvitation` has a `state` other than `COMPLETE`, or if it modifies fields other than `state`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student, or if the `id` field does not refer to a guardian invitation known to Classroom.",
              "id": "classroom.userProfiles.guardianInvitations.patch"
            }
          }
        },
        "guardians": {
          "methods": {
            "delete": {
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "id": "classroom.userProfiles.guardians.delete",
              "parameters": {
                "studentId": {
                  "required": true,
                  "description": "The student whose guardian is to be deleted. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "location": "path",
                  "type": "string"
                },
                "guardianId": {
                  "description": "The `id` field from a `Guardian`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Deletes a guardian. The guardian will no longer receive guardian notifications and the guardian will no longer be accessible via the API. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to manage guardians for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API). * `NOT_FOUND` if the requesting user is permitted to modify guardians for the requested `student_id`, but no `Guardian` record exists for that student with the provided `guardian_id`.",
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ]
            },
            "list": {
              "parameterOrder": [
                "studentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "response": {
                "$ref": "ListGuardiansResponse"
              },
              "path": "v1/userProfiles/{studentId}/guardians",
              "httpMethod": "GET",
              "description": "Returns a list of guardians that the requesting user is permitted to view, restricted to those that match the request. To list guardians for any student that the requesting user may view guardians for, use the literal character `-` for the student ID. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian information for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, if the `invited_email_address` filter is set by a user who is not a domain administrator, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "parameters": {
                "studentId": {
                  "required": true,
                  "description": "Filter results by the student who the guardian is linked to. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user has access to view.",
                  "location": "path",
                  "type": "string"
                },
                "invitedEmailAddress": {
                  "description": "Filter results by the email address that the original invitation was sent to, resulting in this guardian link. This filter can only be used by domain administrators.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "id": "classroom.userProfiles.guardians.list",
              "flatPath": "v1/userProfiles/{studentId}/guardians"
            },
            "get": {
              "id": "classroom.userProfiles.guardians.get",
              "parameters": {
                "studentId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The student whose guardian is being requested. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
                },
                "guardianId": {
                  "required": true,
                  "description": "The `id` field from a `Guardian`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Returns a specific guardian. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to view guardian information for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if the requesting user is permitted to view guardians for the requested `student_id`, but no `Guardian` record exists for that student that matches the provided `guardian_id`.",
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Guardian"
              }
            }
          }
        }
      }
    },
    "invitations": {
      "methods": {
        "get": {
          "path": "v1/invitations/{id}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Invitation"
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "flatPath": "v1/invitations/{id}",
          "id": "classroom.invitations.get",
          "description": "Returns an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "parameters": {
            "id": {
              "description": "Identifier of the invitation to return.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "path": "v1/invitations/{id}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "id": "classroom.invitations.delete",
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "description": "Identifier of the invitation to delete.",
              "required": true
            }
          },
          "description": "Deletes an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested invitation or for access errors. * `NOT_FOUND` if no invitation exists with the requested ID.",
          "flatPath": "v1/invitations/{id}"
        },
        "accept": {
          "flatPath": "v1/invitations/{id}:accept",
          "description": "Accepts an invitation, removing it and adding the invited user to the teachers or students (as appropriate) of the specified course. Only the invited user may accept an invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to accept the requested invitation or for access errors. * `FAILED_PRECONDITION` for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * `NOT_FOUND` if no invitation exists with the requested ID.",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifier of the invitation to accept."
            }
          },
          "id": "classroom.invitations.accept",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/invitations/{id}:accept",
          "httpMethod": "POST",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ]
        },
        "list": {
          "flatPath": "v1/invitations",
          "id": "classroom.invitations.list",
          "description": "Returns a list of invitations that the requesting user is permitted to view, restricted to those that match the list request. *Note:* At least one of `user_id` or `course_id` must be supplied. Both fields can be supplied. This method returns the following error codes: * `PERMISSION_DENIED` for access errors.",
          "parameters": {
            "pageToken": {
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Maximum number of items to return. The default is 500 if unspecified or `0`. The server may return fewer than the specified number of results.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "userId": {
              "description": "Restricts returned invitations to those for a specific user. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "location": "query",
              "type": "string"
            },
            "courseId": {
              "description": "Restricts returned invitations to those for a course with the specified identifier.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/invitations",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListInvitationsResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ]
        },
        "create": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.rosters"
          ],
          "request": {
            "$ref": "Invitation"
          },
          "response": {
            "$ref": "Invitation"
          },
          "path": "v1/invitations",
          "httpMethod": "POST",
          "parameters": {},
          "description": "Creates an invitation. Only one invitation for a user and course may exist at a time. Delete and re-create an invitation to make changes. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create invitations for this course or for access errors. * `NOT_FOUND` if the course or the user does not exist. * `FAILED_PRECONDITION`: * if the requested user's account is disabled. * if the user already has this role or a role with greater permissions. * for the following request errors: * IneligibleOwner * `ALREADY_EXISTS` if an invitation for the specified user and course already exists.",
          "id": "classroom.invitations.create",
          "flatPath": "v1/invitations"
        }
      }
    },
    "courses": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Course"
          },
          "path": "v1/courses/{id}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "request": {
            "$ref": "Course"
          },
          "flatPath": "v1/courses/{id}",
          "description": "Updates a course. Note: Unlike other fields, `levels` is not cleared if omitted from the request. The `UpdateCourse` method only modifies `levels` if it is explicitly provided; otherwise, the existing value is preserved. Use the `PatchCourse` method to clear the `levels` field. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * CourseTitleCannotContainUrl",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias."
            }
          },
          "id": "classroom.courses.update"
        },
        "list": {
          "description": "Returns a list of courses that the requesting user is permitted to view, restricted to those that match the request. Returned courses are ordered by creation time, with the most recently created coming first. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the query argument is malformed. * `NOT_FOUND` if any users specified in the query arguments do not exist.",
          "parameters": {
            "studentId": {
              "location": "query",
              "type": "string",
              "description": "Restricts returned courses to those having a student with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user If specified, `teacher_id` must be empty."
            },
            "teacherId": {
              "description": "Restricts returned courses to those having a teacher with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user If specified, `student_id` must be empty.",
              "location": "query",
              "type": "string"
            },
            "courseStates": {
              "enumDescriptions": [
                "No course state. No returned Course message will use this value.",
                "The course is active.",
                "The course has been archived. You cannot modify it except to change it to a different state.",
                "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
                "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
                "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
              ],
              "location": "query",
              "type": "string",
              "repeated": true,
              "enum": [
                "COURSE_STATE_UNSPECIFIED",
                "ACTIVE",
                "ARCHIVED",
                "PROVISIONED",
                "DECLINED",
                "SUSPENDED"
              ],
              "description": "Restricts returned courses to those in one of the specified states. If unspecified, Courses in any state are returned."
            },
            "pageSize": {
              "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
            }
          },
          "id": "classroom.courses.list",
          "flatPath": "v1/courses",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "response": {
            "$ref": "ListCoursesResponse"
          },
          "path": "v1/courses",
          "httpMethod": "GET"
        },
        "create": {
          "parameters": {},
          "description": "Creates a course. The user specified in `ownerId` is the owner of the created course and added as a teacher. A non-admin requesting user can only create a course with themselves as the owner. Domain admins can create courses owned by any user within their domain. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create courses or for access errors. * `NOT_FOUND` if the primary teacher is not a valid user. * `FAILED_PRECONDITION` if the course owner's account is disabled or for the following request errors: * UserCannotOwnCourse * UserGroupsMembershipLimitReached * CourseTitleCannotContainUrl * `ALREADY_EXISTS` if an alias was specified in the `id` and already exists.",
          "id": "classroom.courses.create",
          "flatPath": "v1/courses",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "request": {
            "$ref": "Course"
          },
          "response": {
            "$ref": "Course"
          },
          "path": "v1/courses",
          "httpMethod": "POST"
        },
        "patch": {
          "path": "v1/courses/{id}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Course"
          },
          "request": {
            "$ref": "Course"
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "flatPath": "v1/courses/{id}",
          "id": "classroom.courses.patch",
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid: * `courseState` * `description` * `descriptionHeading` * `name` * `ownerId` * `room` * `section` * `subject` * `levels` Note: patches to ownerId are treated as being effective immediately, but in practice it may take some time for the ownership transfer of all affected resources to complete. When set in a query parameter, this field should be specified as `updateMask=,,...`",
              "format": "google-fieldmask"
            }
          },
          "description": "Updates one or more fields in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * InactiveCourseOwner * IneligibleOwner * CourseTitleCannotContainUrl"
        },
        "updateGradingPeriodSettings": {
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "description": "Updates grading period settings of a course. Individual grading periods can be added, removed, or modified using this method. The requesting user and course owner must be eligible to modify Grading Periods. For details, see [licensing requirements](https://developers.google.com/workspace/classroom/grading-periods/manage-grading-periods#licensing_requirements). This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the grading period settings in a course or for access errors: * UserIneligibleToUpdateGradingPeriodSettings * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
          "parameters": {
            "courseId": {
              "location": "path",
              "type": "string",
              "description": "Required. The identifier of the course.",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Mask that identifies which fields in the GradingPeriodSettings to update. The GradingPeriodSettings `grading_periods` list will be fully replaced by the grading periods specified in the update request. For example: * Grading periods included in the list without an ID are considered additions, and a new ID will be assigned when the request is made. * Grading periods that currently exist, but are missing from the request will be considered deletions. * Grading periods with an existing ID and modified data are considered edits. Unmodified data will be left as is. * Grading periods included with an unknown ID will result in an error. The following fields may be specified: * `grading_periods` * `apply_to_existing_coursework`",
              "format": "google-fieldmask"
            }
          },
          "id": "classroom.courses.updateGradingPeriodSettings",
          "response": {
            "$ref": "GradingPeriodSettings"
          },
          "path": "v1/courses/{courseId}/gradingPeriodSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "courseId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "request": {
            "$ref": "GradingPeriodSettings"
          }
        },
        "delete": {
          "path": "v1/courses/{id}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "flatPath": "v1/courses/{id}",
          "id": "classroom.courses.delete",
          "parameters": {
            "id": {
              "required": true,
              "description": "Identifier of the course to delete. This identifier can be either the Classroom-assigned identifier or an alias.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Deletes a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID."
        },
        "get": {
          "path": "v1/courses/{id}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Course"
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "flatPath": "v1/courses/{id}",
          "id": "classroom.courses.get",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifier of the course to return. This identifier can be either the Classroom-assigned identifier or an alias."
            }
          },
          "description": "Returns a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID."
        },
        "getGradingPeriodSettings": {
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "id": "classroom.courses.getGradingPeriodSettings",
          "description": "Returns the grading period settings in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user isn't permitted to access the grading period settings in the requested course or for access errors. * `NOT_FOUND` if the requested course does not exist.",
          "parameters": {
            "courseId": {
              "required": true,
              "description": "Required. The identifier of the course.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1/courses/{courseId}/gradingPeriodSettings",
          "httpMethod": "GET",
          "response": {
            "$ref": "GradingPeriodSettings"
          },
          "parameterOrder": [
            "courseId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ]
        }
      },
      "resources": {
        "studentGroups": {
          "methods": {
            "create": {
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "request": {
                "$ref": "StudentGroup"
              },
              "response": {
                "$ref": "StudentGroup"
              },
              "path": "v1/courses/{courseId}/studentGroups",
              "httpMethod": "POST",
              "description": "Creates a student group for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the student group or for access errors. * `NOT_FOUND` if the course does not exist or the requesting user doesn't have access to the course. * `FAILED_PRECONDITION` if creating the student group would exceed the maximum number of student groups per course.",
              "parameters": {
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The identifier of the course."
                }
              },
              "id": "classroom.courses.studentGroups.create",
              "flatPath": "v1/courses/{courseId}/studentGroups"
            },
            "patch": {
              "path": "v1/courses/{courseId}/studentGroups/{id}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "StudentGroup"
              },
              "request": {
                "$ref": "StudentGroup"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ],
              "flatPath": "v1/courses/{courseId}/studentGroups/{id}",
              "id": "classroom.courses.studentGroups.patch",
              "description": "Updates one or more fields in a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested student group or for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied.",
              "parameters": {
                "id": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Identifier of the student group."
                },
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Identifier of the course."
                },
                "updateMask": {
                  "description": "Required. Mask that identifies which fields on the student group to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields can be specified by teachers: * `title`",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "delete": {
              "flatPath": "v1/courses/{courseId}/studentGroups/{id}",
              "id": "classroom.courses.studentGroups.delete",
              "description": "Deletes a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested student group or for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group.",
              "parameters": {
                "id": {
                  "description": "Required. The identifier of the student group to delete.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "courseId": {
                  "description": "Required. The identifier of the course containing the student group to delete.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/courses/{courseId}/studentGroups/{id}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters"
              ]
            },
            "list": {
              "path": "v1/courses/{courseId}/studentGroups",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListStudentGroupsResponse"
              },
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.rosters",
                "https://www.googleapis.com/auth/classroom.rosters.readonly"
              ],
              "flatPath": "v1/courses/{courseId}/studentGroups",
              "id": "classroom.courses.studentGroups.list",
              "description": "Returns a list of groups in a course. This method returns the following error codes: * `NOT_FOUND` if the course does not exist.",
              "parameters": {
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum, which is currently set to 75 items. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "courseId": {
                  "description": "Required. The identifier of the course.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "studentGroupMembers": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId",
                    "userId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers/{userId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "courseId": {
                      "description": "Required. The identifier of the course containing the relevant student group.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "userId": {
                      "required": true,
                      "description": "Required. The identifier of the student group member to delete.",
                      "location": "path",
                      "type": "string"
                    },
                    "studentGroupId": {
                      "description": "Required. The identifier of the student group containing the student group member to delete.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Deletes a student group member. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested student group member or for access errors. * `NOT_FOUND` if the student group member does not exist or the user does not have access to the student group.",
                  "id": "classroom.courses.studentGroups.studentGroupMembers.delete",
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers/{userId}"
                },
                "list": {
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters",
                    "https://www.googleapis.com/auth/classroom.rosters.readonly"
                  ],
                  "response": {
                    "$ref": "ListStudentGroupMembersResponse"
                  },
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "httpMethod": "GET",
                  "parameters": {
                    "courseId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The identifier of the course.",
                      "required": true
                    },
                    "studentGroupId": {
                      "required": true,
                      "description": "Required. The identifier of the student group.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                    }
                  },
                  "description": "Returns a list of students in a group. This method returns the following error codes: * `NOT_FOUND` if the course or student group does not exist.",
                  "id": "classroom.courses.studentGroups.studentGroupMembers.list",
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers"
                },
                "create": {
                  "parameterOrder": [
                    "courseId",
                    "studentGroupId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.rosters"
                  ],
                  "request": {
                    "$ref": "StudentGroupMember"
                  },
                  "response": {
                    "$ref": "StudentGroupMember"
                  },
                  "path": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers",
                  "httpMethod": "POST",
                  "parameters": {
                    "courseId": {
                      "required": true,
                      "description": "Required. The identifier of the course.",
                      "location": "path",
                      "type": "string"
                    },
                    "studentGroupId": {
                      "description": "Required. The identifier of the student group.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Creates a student group member for a student group. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the student group or member for access errors. * `NOT_FOUND` if the student group does not exist or the user does not have access to the student group. * `ALREADY_EXISTS` if the student group member already exists. * `FAILED_PRECONDITION` if attempting to add a member to a student group that has reached its member limit.",
                  "id": "classroom.courses.studentGroups.studentGroupMembers.create",
                  "flatPath": "v1/courses/{courseId}/studentGroups/{studentGroupId}/studentGroupMembers"
                }
              }
            }
          }
        },
        "announcements": {
          "methods": {
            "modifyAssignees": {
              "flatPath": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "parameters": {
                "id": {
                  "description": "Identifier of the announcement.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "description": "Modifies assignee mode and options of an announcement. Only a teacher of the course that contains the announcement may call this method. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist. * `FAILED_PRECONDITION` for the following request error: * EmptyAssignees",
              "id": "classroom.courses.announcements.modifyAssignees",
              "response": {
                "$ref": "Announcement"
              },
              "path": "v1/courses/{courseId}/announcements/{id}:modifyAssignees",
              "httpMethod": "POST",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "request": {
                "$ref": "ModifyAnnouncementAssigneesRequest"
              }
            },
            "getAddOnContext": {
              "parameterOrder": [
                "courseId",
                "itemId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "response": {
                "$ref": "AddOnContext"
              },
              "path": "v1/courses/{courseId}/announcements/{itemId}/addOnContext",
              "httpMethod": "GET",
              "parameters": {
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Identifier of the course."
                },
                "itemId": {
                  "required": true,
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "location": "path",
                  "type": "string"
                },
                "attachmentId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe)."
                },
                "addOnToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. The authorization token is required when neither of the following is true: * The add-on has attachments on the post. * The developer project issuing the request is the same project that created the post."
                },
                "postId": {
                  "description": "Optional. Deprecated, use `item_id` instead.",
                  "location": "query",
                  "type": "string",
                  "deprecated": true
                }
              },
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "id": "classroom.courses.announcements.getAddOnContext",
              "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnContext"
            },
            "create": {
              "request": {
                "$ref": "Announcement"
              },
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "path": "v1/courses/{courseId}/announcements",
              "httpMethod": "POST",
              "response": {
                "$ref": "Announcement"
              },
              "id": "classroom.courses.announcements.create",
              "description": "Creates an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create announcements in the requested course, share a Drive attachment, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist. * `FAILED_PRECONDITION` for the following request error: * AttachmentNotVisible",
              "parameters": {
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "flatPath": "v1/courses/{courseId}/announcements"
            },
            "patch": {
              "request": {
                "$ref": "Announcement"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "path": "v1/courses/{courseId}/announcements/{id}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Announcement"
              },
              "id": "classroom.courses.announcements.patch",
              "description": "Updates one or more fields of an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if the requested course or announcement does not exist",
              "parameters": {
                "id": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the announcement."
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                },
                "updateMask": {
                  "description": "Mask that identifies which fields on the announcement to update. This field is required to do an update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the Announcement object. If a field that does not support empty values is included in the update mask and not set in the Announcement object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `text` * `state` * `scheduled_time`",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/courses/{courseId}/announcements/{id}"
            },
            "list": {
              "id": "classroom.courses.announcements.list",
              "description": "Returns a list of announcements that the requester is permitted to view. Course students may only view `PUBLISHED` announcements. Course teachers and domain administrators may view all announcements. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`"
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                },
                "announcementStates": {
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for announcement that has been published. This is the default state.",
                    "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
                    "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
                  ],
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "description": "Restriction on the `state` of announcements returned. If this argument is left unspecified, the default value is `PUBLISHED`.",
                  "enum": [
                    "ANNOUNCEMENT_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ]
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                }
              },
              "flatPath": "v1/courses/{courseId}/announcements",
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "path": "v1/courses/{courseId}/announcements",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAnnouncementsResponse"
              }
            },
            "delete": {
              "path": "v1/courses/{courseId}/announcements/{id}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements"
              ],
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "id": "classroom.courses.announcements.delete",
              "description": "Deletes an announcement. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding announcement item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding announcement, if the requesting user is not permitted to delete the requested course or for access errors. * `FAILED_PRECONDITION` if the requested announcement has already been deleted. * `NOT_FOUND` if no course exists with the requested ID.",
              "parameters": {
                "id": {
                  "required": true,
                  "description": "Identifier of the announcement to delete. This identifier is a Classroom-assigned identifier.",
                  "location": "path",
                  "type": "string"
                },
                "courseId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias."
                }
              }
            },
            "get": {
              "id": "classroom.courses.announcements.get",
              "parameters": {
                "id": {
                  "required": true,
                  "description": "Identifier of the announcement.",
                  "location": "path",
                  "type": "string"
                },
                "courseId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "required": true
                }
              },
              "description": "Returns an announcement. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or announcement, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or announcement does not exist.",
              "flatPath": "v1/courses/{courseId}/announcements/{id}",
              "parameterOrder": [
                "courseId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.announcements",
                "https://www.googleapis.com/auth/classroom.announcements.readonly"
              ],
              "path": "v1/courses/{courseId}/announcements/{id}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Announcement"
              }
            }
          },
          "resources": {
            "addOnAttachments": {
              "methods": {
                "create": {
                  "parameters": {
                    "addOnToken": {
                      "description": "Optional. Token that authorizes the request. The token is passed as a query parameter when the user is redirected from Classroom to the add-on's URL. This authorization token is required for in-Classroom attachment creation but optional for partner-first attachment creation. Returns an error if not provided for partner-first attachment creation and the developer projects that created the attachment and its parent stream item do not match.",
                      "location": "query",
                      "type": "string"
                    },
                    "courseId": {
                      "required": true,
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string"
                    },
                    "itemId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which to create the attachment. This field is required, but is not marked as such while we are migrating from post_id."
                    },
                    "postId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "deprecated": true
                    }
                  },
                  "description": "Creates an add-on attachment under a post. Requires the add-on to have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "id": "classroom.courses.announcements.addOnAttachments.create",
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "request": {
                    "$ref": "AddOnAttachment"
                  },
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "httpMethod": "POST"
                },
                "patch": {
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "description": "Updates an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameters": {
                    "postId": {
                      "description": "Required. Identifier of the post under which the attachment is attached.",
                      "location": "query",
                      "type": "string"
                    },
                    "courseId": {
                      "required": true,
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string"
                    },
                    "itemId": {
                      "required": true,
                      "description": "Identifier of the post under which the attachment is attached.",
                      "location": "path",
                      "type": "string"
                    },
                    "attachmentId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the attachment."
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Mask that identifies which fields on the attachment to update. The update fails if invalid fields are specified. If a field supports empty values, it can be cleared by specifying it in the update mask and not in the `AddOnAttachment` object. If a field that does not support empty values is included in the update mask and not set in the `AddOnAttachment` object, an `INVALID_ARGUMENT` error is returned. The following fields may be specified by teachers: * `title` * `teacher_view_uri` * `student_view_uri` * `student_work_review_uri` * `due_date` * `due_time` * `max_points`",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "classroom.courses.announcements.addOnAttachments.patch",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "request": {
                    "$ref": "AddOnAttachment"
                  }
                },
                "list": {
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "id": "classroom.courses.announcements.addOnAttachments.list",
                  "description": "Returns all attachments created by an add-on under the post. Requires the add-on to have active attachments on the post or have permission to create new attachments on the post. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of attachments to return. The service may return fewer than this value. If unspecified, at most 20 attachments will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListAddOnAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAddOnAttachments` must match the call that provided the page token."
                    },
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "itemId": {
                      "location": "path",
                      "type": "string",
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` whose attachments should be enumerated. This field is required, but is not marked as such while we are migrating from post_id.",
                      "required": true
                    },
                    "postId": {
                      "deprecated": true,
                      "description": "Optional. Identifier of the post under the course whose attachments to enumerate. Deprecated, use `item_id` instead.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAddOnAttachmentsResponse"
                  },
                  "parameterOrder": [
                    "courseId",
                    "itemId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ]
                },
                "delete": {
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ],
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "id": "classroom.courses.announcements.addOnAttachments.delete",
                  "parameters": {
                    "postId": {
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "location": "query",
                      "type": "string",
                      "deprecated": true
                    },
                    "courseId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier of the course."
                    },
                    "itemId": {
                      "required": true,
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "path",
                      "type": "string"
                    },
                    "attachmentId": {
                      "description": "Required. Identifier of the attachment.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Deletes an add-on attachment. Requires the add-on to have been the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist."
                },
                "get": {
                  "flatPath": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "id": "classroom.courses.announcements.addOnAttachments.get",
                  "parameters": {
                    "postId": {
                      "deprecated": true,
                      "description": "Optional. Deprecated, use `item_id` instead.",
                      "location": "query",
                      "type": "string"
                    },
                    "courseId": {
                      "description": "Required. Identifier of the course.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "itemId": {
                      "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "attachmentId": {
                      "required": true,
                      "description": "Required. Identifier of the attachment.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Returns an add-on attachment. Requires the add-on requesting the attachment to be the original creator of the attachment. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
                  "path": "v1/courses/{courseId}/announcements/{itemId}/addOnAttachments/{attachmentId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AddOnAttachment"
                  },
                  "parameterOrder": [
                    "courseId",
                    "itemId",
                    "attachmentId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/classroom.addons.student",
                    "https://www.googleapis.com/auth/classroom.addons.teacher"
                  ]
                }
              }
            }
          }
        },
        "courseWorkMaterials": {
          "methods": {
            "list": {
              "flatPath": "v1/courses/{courseId}/courseWorkMaterials",
              "id": "classroom.courses.courseWorkMaterials.list",
              "description": "Returns a list of course work material that the requester is permitted to view. Course students may only view `PUBLISHED` course work material. Course teachers and domain administrators may view all course work material. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
              "parameters": {
                "orderBy": {
                  "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported field is `updateTime`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `updateTime asc`, `updateTime`",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "materialDriveId": {
                  "description": "Optional filtering for course work material with at least one Drive material whose ID matches the provided string. If `material_link` is also specified, course work material must have materials matching both filters.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "courseWorkMaterialStates": {
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "No state specified. This is never returned.",
                    "Status for course work material that has been published. This is the default state.",
                    "Status for a course work material that is not yet published. Course work material in this state is visible only to course teachers and domain administrators.",
                    "Status for course work material that was published but is now deleted. Course work material in this state is visible only to course teachers and domain administrators. Course work material in this state is deleted after some time."
                  ],
                  "enum": [
                    "COURSEWORK_MATERIAL_STATE_UNSPECIFIED",
                    "PUBLISHED",
                    "DRAFT",
                    "DELETED"
                  ],
                  "description": "Restriction on the work status to return. Only course work material that matches is returned. If unspecified, items with a work status of `PUBLISHED` is returned.",
                  "repeated": true
                },
                "materialLink": {
                  "description": "Optional filtering for course work material with at least one link material whose URL partially matches the provided string.",
                  "location": "query",
                  "type": "string"
                },
                "courseId": {
                  "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/courses/{courseId}/courseWorkMaterials",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCourseWorkMaterialResponse"
              },
              "parameterOrder": [
                "courseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.courseworkmaterials",
                "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly"
              ]
            },
            "getAddOnContext": {
              "parameterOrder": [
                "courseId",
                "itemId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.addons.student",
                "https://www.googleapis.com/auth/classroom.addons.teacher"
              ],
              "path": "v1/courses/{courseId}/courseWorkMaterials/{itemId}/addOnContext",
              "httpMethod": "GET",
              "response": {
                "$ref": "AddOnContext"
              },
              "id": "classroom.courses.courseWorkMaterials.getAddOnContext",
              "description": "Gets metadata for Classroom add-ons in the context of a specific post. To maintain the integrity of its own data and permissions model, an add-on should call this to validate query parameters and the requesting user's role whenever the add-on is opened in an [iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/iframes-overview). This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if one of the identified resources does not exist.",
              "parameters": {
                "courseId": {
                  "description": "Required. Identifier of the course.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "itemId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. This field is required, but is not marked as such while we are migrating from post_id.",
                  "required": true
                },
                "attachmentId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The identifier of the attachment. This field is required for all requests except when the user is in the [Attachment Discovery iframe](https://developers.google.com/workspace/classroom/add-ons/get-started/iframes/attachment-discovery-iframe)."
                },
                "postId": {
                  "deprecated": true,
                  "description": "Optional. Deprecated, use `item_id` instead.",
                  "location": "query",
                  "type": "string"
                },
                "addOnToken": {
[...]
