{
  "basePath": "",
  "title": "Google Classroom API",
  "mtlsRootUrl": "https://classroom.mtls.googleapis.com/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "description": "Manages classes, rosters, and invitations in Google Classroom.",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ListGuardianInvitationsResponse": {
      "description": "Response when listing guardian invitations.",
      "type": "object",
      "id": "ListGuardianInvitationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "guardianInvitations": {
          "items": {
            "$ref": "GuardianInvitation"
          },
          "description": "Guardian invitations that matched the list request.",
          "type": "array"
        }
      }
    },
    "YouTubeVideo": {
      "properties": {
        "alternateLink": {
          "description": "URL that can be used to view the YouTube video. Read-only.",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image of the YouTube video. Read-only.",
          "type": "string"
        },
        "id": {
          "description": "YouTube API resource ID.",
          "type": "string"
        },
        "title": {
          "description": "Title of the YouTube video. Read-only.",
          "type": "string"
        }
      },
      "id": "YouTubeVideo",
      "description": "YouTube video item.",
      "type": "object"
    },
    "CourseWork": {
      "properties": {
        "alternateLink": {
          "description": "Absolute link to this course work in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only.",
          "type": "string"
        },
        "submissionModificationMode": {
          "enum": [
            "SUBMISSION_MODIFICATION_MODE_UNSPECIFIED",
            "MODIFIABLE_UNTIL_TURNED_IN",
            "MODIFIABLE"
          ],
          "description": "Setting to determine when students are allowed to modify submissions. If unspecified, the default value is `MODIFIABLE_UNTIL_TURNED_IN`.",
          "type": "string",
          "enumDescriptions": [
            "No modification mode specified. This is never returned.",
            "Submissions can be modified before being turned in.",
            "Submissions can be modified at any time."
          ]
        },
        "id": {
          "description": "Classroom-assigned identifier of this course work, unique per course. Read-only.",
          "type": "string"
        },
        "dueTime": {
          "description": "Optional time of day, in UTC, that submissions for this course work are due. This must be specified if `due_date` is specified.",
          "$ref": "TimeOfDay"
        },
        "assigneeMode": {
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "description": "Assignee mode of the coursework. If unspecified, the default value is `ALL_STUDENTS`.",
          "type": "string"
        },
        "individualStudentsOptions": {
          "$ref": "IndividualStudentsOptions",
          "description": "Identifiers of students with access to the coursework. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field are assigned the coursework."
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "materials": {
          "description": "Additional materials. CourseWork must have no more than 20 material items.",
          "type": "array",
          "items": {
            "$ref": "Material"
          }
        },
        "state": {
          "enum": [
            "COURSE_WORK_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for work that has been published. This is the default state.",
            "Status for work that is not yet published. Work in this state is visible only to course teachers and domain administrators.",
            "Status for work that was published but is now deleted. Work in this state is visible only to course teachers and domain administrators. Work in this state is deleted after some time."
          ],
          "description": "Status of this course work. If unspecified, the default state is `DRAFT`.",
          "type": "string"
        },
        "workType": {
          "description": "Type of this course work. The type is set when the course work is created and cannot be changed.",
          "type": "string",
          "enumDescriptions": [
            "No work type specified. This is never returned.",
            "An assignment.",
            "A short answer question.",
            "A multiple-choice question."
          ],
          "enum": [
            "COURSE_WORK_TYPE_UNSPECIFIED",
            "ASSIGNMENT",
            "SHORT_ANSWER_QUESTION",
            "MULTIPLE_CHOICE_QUESTION"
          ]
        },
        "dueDate": {
          "$ref": "Date",
          "description": "Optional date, in UTC, that submissions for this course work are due. This must be specified if `due_time` is specified."
        },
        "scheduledTime": {
          "description": "Optional timestamp when this course work is scheduled to be published.",
          "type": "string",
          "format": "google-datetime"
        },
        "maxPoints": {
          "description": "Maximum grade for this course work. If zero or unspecified, this assignment is considered ungraded. This must be a non-negative integer value.",
          "type": "number",
          "format": "double"
        },
        "creationTime": {
          "description": "Timestamp when this course work was created. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "title": {
          "description": "Title of this course work. The title must be a valid UTF-8 string containing between 1 and 3000 characters.",
          "type": "string"
        },
        "assignment": {
          "description": "Assignment details. This is populated only when `work_type` is `ASSIGNMENT`. Read-only.",
          "$ref": "Assignment"
        },
        "multipleChoiceQuestion": {
          "$ref": "MultipleChoiceQuestion",
          "description": "Multiple choice question details. For read operations, this field is populated only when `work_type` is `MULTIPLE_CHOICE_QUESTION`. For write operations, this field must be specified when creating course work with a `work_type` of `MULTIPLE_CHOICE_QUESTION`, and it must not be set otherwise."
        },
        "topicId": {
          "description": "Identifier for the topic that this coursework is associated with. Must match an existing topic in the course.",
          "type": "string"
        },
        "gradingPeriodId": {
          "description": "Identifier of the grading period associated with the coursework. * At creation, if unspecified, the grading period ID will be set based on the `dueDate` (or `scheduledTime` if no `dueDate` is set). * To indicate no association to any grading period, set this field to an empty string (\"\"). * If specified, it must match an existing grading period ID in the course.",
          "type": "string"
        },
        "description": {
          "description": "Optional description of this course work. If set, the description must be a valid UTF-8 string containing no more than 30,000 characters.",
          "type": "string"
        },
        "updateTime": {
          "description": "Timestamp of the most recent change to this course work. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "associatedWithDeveloper": {
          "description": "Whether this course work item is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only.",
          "type": "boolean"
        },
        "gradeCategory": {
          "description": "The category that this coursework's grade contributes to. Present only when a category has been chosen for the coursework. May be used in calculating the overall grade. Read-only.",
          "$ref": "GradeCategory"
        },
        "creatorUserId": {
          "description": "Identifier for the user that created the coursework. Read-only.",
          "type": "string"
        }
      },
      "id": "CourseWork",
      "description": "Course work created by a teacher for students of the course.",
      "type": "object"
    },
    "CopyHistory": {
      "id": "CopyHistory",
      "properties": {
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        },
        "postId": {
          "deprecated": true,
          "description": "Immutable. Deprecated, use `item_id` instead.",
          "type": "string"
        },
        "itemId": {
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached.",
          "type": "string"
        },
        "attachmentId": {
          "description": "Immutable. Identifier of the attachment.",
          "type": "string"
        }
      },
      "description": "Identifier of a previous copy of a given attachment.",
      "type": "object"
    },
    "Course": {
      "description": "A Course in Classroom.",
      "type": "object",
      "properties": {
        "enrollmentCode": {
          "description": "Enrollment code to use when joining this course. Specifying this field in a course update mask results in an error. Read-only.",
          "type": "string"
        },
        "id": {
          "description": "Identifier for this course assigned by Classroom. When creating a course, you may optionally set this identifier to an alias string in the request to create a corresponding alias. The `id` is still assigned by Classroom and cannot be updated after the course is created. Specifying this field in a course update mask results in an error.",
          "type": "string"
        },
        "name": {
          "description": "Name of the course. For example, \"10th Grade Biology\". The name is required. It must be between 1 and 750 characters and a valid UTF-8 string.",
          "type": "string"
        },
        "courseState": {
          "enum": [
            "COURSE_STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "PROVISIONED",
            "DECLINED",
            "SUSPENDED"
          ],
          "description": "State of the course. If unspecified, the default state is `PROVISIONED`.",
          "type": "string",
          "enumDescriptions": [
            "No course state. No returned Course message will use this value.",
            "The course is active.",
            "The course has been archived. You cannot modify it except to change it to a different state.",
            "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
            "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
            "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
          ]
        },
        "alternateLink": {
          "description": "Absolute link to this course in the Classroom web UI. Read-only.",
          "type": "string"
        },
        "guardiansEnabled": {
          "description": "Whether or not guardian notifications are enabled for this course. Read-only.",
          "type": "boolean"
        },
        "calendarId": {
          "description": "The Calendar ID for a calendar that all course members can see, to which Classroom adds events for course work and announcements in the course. The Calendar for a course is created asynchronously when the course is set to `CourseState.ACTIVE` for the first time (at creation time or when it is updated to `ACTIVE` through the UI or the API). The Calendar ID will not be populated until the creation process is completed. Read-only.",
          "type": "string"
        },
        "subject": {
          "description": "Optional. The subject of the course.",
          "type": "string"
        },
        "gradebookSettings": {
          "description": "The gradebook settings that specify how a student's overall grade for the course will be calculated and who it will be displayed to. Read-only.",
          "$ref": "GradebookSettings"
        },
        "section": {
          "description": "Section of the course. For example, \"Period 2\". If set, this field must be a valid UTF-8 string and no longer than 2800 characters.",
          "type": "string"
        },
        "teacherFolder": {
          "description": "Information about a Drive Folder that is shared with all teachers of the course. This field will only be set for teachers of the course and domain administrators. Read-only.",
          "$ref": "DriveFolder"
        },
        "updateTime": {
          "description": "Time of the most recent update to this course. Specifying this field in a course update mask results in an error. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "courseMaterialSets": {
          "description": "Sets of materials that appear on the \"about\" page of this course. Read-only.",
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "CourseMaterialSet"
          }
        },
        "descriptionHeading": {
          "description": "Optional heading for the description. For example, \"Welcome to 10th Grade Biology.\" If set, this field must be a valid UTF-8 string and no longer than 3600 characters.",
          "type": "string"
        },
        "ownerId": {
          "description": "The identifier of the owner of a course. When specified as a parameter of a create course request, this field is required. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user This must be set in a create request. Admins can also specify this field in a patch course request to transfer ownership. In other contexts, it is read-only.",
          "type": "string"
        },
        "courseGroupEmail": {
          "description": "The email address of a Google group containing all members of the course. This group does not accept email and can only be used for permissions. Read-only.",
          "type": "string"
        },
        "description": {
          "description": "Optional description. For example, \"We'll be learning about the structure of living creatures from a combination of textbooks, guest lectures, and lab work. Expect to be excited!\" If set, this field must be a valid UTF-8 string and no longer than 30,000 characters.",
          "type": "string"
        },
        "room": {
          "description": "Optional room location. For example, \"301\". If set, this field must be a valid UTF-8 string and no longer than 650 characters.",
          "type": "string"
        },
        "creationTime": {
          "description": "Creation time of the course. Specifying this field in a course update mask results in an error. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "teacherGroupEmail": {
          "description": "The email address of a Google group containing all teachers of the course. This group does not accept email and can only be used for permissions. Read-only.",
          "type": "string"
        },
        "levels": {
          "description": "Optional. Levels for the course. Examples: \"9th grade\", \"Middle school\", \"4th - 5th\", \"K-2\", \"3000\". If set, this field must be a valid UTF-8 string and fewer than 1000 characters. This field can only be cleared using the `PatchCourse` method.",
          "type": "string"
        }
      },
      "id": "Course"
    },
    "Topic": {
      "description": "Topic created by a teacher for the course",
      "type": "object",
      "properties": {
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "updateTime": {
          "description": "The time the topic was last updated by the system. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "topicId": {
          "description": "Unique identifier for the topic. Read-only.",
          "type": "string"
        },
        "name": {
          "description": "The name of the topic, generated by the user. Leading and trailing whitespaces, if any, are trimmed. Also, multiple consecutive whitespaces are collapsed into one inside the name. The result must be a non-empty string. Topic names are case sensitive, and must be no longer than 100 characters.",
          "type": "string"
        }
      },
      "id": "Topic"
    },
    "Attachment": {
      "properties": {
        "form": {
          "$ref": "Form",
          "description": "Google Forms attachment."
        },
        "youTubeVideo": {
          "description": "Youtube video attachment.",
          "$ref": "YouTubeVideo"
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "Google Drive file attachment."
        },
        "link": {
          "$ref": "Link",
          "description": "Link attachment."
        }
      },
      "id": "Attachment",
      "description": "Attachment added to student assignment work. When creating attachments, setting the `form` field is not supported.",
      "type": "object"
    },
    "ListAnnouncementsResponse": {
      "properties": {
        "announcements": {
          "items": {
            "$ref": "Announcement"
          },
          "description": "Announcement items that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "id": "ListAnnouncementsResponse",
      "description": "Response when listing course work.",
      "type": "object"
    },
    "Material": {
      "properties": {
        "notebook": {
          "$ref": "NotebookLmNotebook",
          "description": "NotebookLM Notebook material. Read-only."
        },
        "youtubeVideo": {
          "description": "YouTube video material.",
          "$ref": "YouTubeVideo"
        },
        "gem": {
          "description": "Gemini Gem material. Read-only.",
          "$ref": "GeminiGem"
        },
        "link": {
          "description": "Link material. On creation, this is upgraded to a more appropriate type if possible, and this is reflected in the response.",
          "$ref": "Link"
        },
        "driveFile": {
          "$ref": "SharedDriveFile",
          "description": "Google Drive file material."
        },
        "form": {
          "description": "Google Forms material. Read-only.",
          "$ref": "Form"
        }
      },
      "id": "Material",
      "description": "Material attached to course work. When creating attachments, setting the `form`, `gem`, or `notebook` field is not supported.",
      "type": "object"
    },
    "ListStudentGroupMembersResponse": {
      "id": "ListStudentGroupMembersResponse",
      "properties": {
        "studentGroupMembers": {
          "description": "The student group members.",
          "type": "array",
          "items": {
            "$ref": "StudentGroupMember"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing students in a group.",
      "type": "object"
    },
    "TurnInStudentSubmissionRequest": {
      "id": "TurnInStudentSubmissionRequest",
      "properties": {},
      "description": "Request to turn in a student submission.",
      "type": "object"
    },
    "StudentContext": {
      "description": "Role-specific context if the requesting user is a student.",
      "type": "object",
      "properties": {
        "submissionId": {
          "description": "Requesting user's submission id to be used for grade passback and to identify the student when showing student work to the teacher. This is set exactly when `supportsStudentWork` is `true`.",
          "type": "string"
        }
      },
      "id": "StudentContext"
    },
    "Name": {
      "id": "Name",
      "properties": {
        "familyName": {
          "description": "The user's last name. Read-only.",
          "type": "string"
        },
        "fullName": {
          "description": "The user's full name formed by concatenating the first and last name values. Read-only.",
          "type": "string"
        },
        "givenName": {
          "description": "The user's first name. Read-only.",
          "type": "string"
        }
      },
      "description": "Details of the user's name.",
      "type": "object"
    },
    "SharedDriveFile": {
      "properties": {
        "shareMode": {
          "enum": [
            "UNKNOWN_SHARE_MODE",
            "VIEW",
            "EDIT",
            "STUDENT_COPY"
          ],
          "enumDescriptions": [
            "No sharing mode specified. This should never be returned.",
            "Students can view the shared file.",
            "Students can edit the shared file.",
            "Students have a personal copy of the shared file."
          ],
          "description": "Mechanism by which students access the Drive item.",
          "type": "string"
        },
        "driveFile": {
          "description": "Drive file details.",
          "$ref": "DriveFile"
        }
      },
      "id": "SharedDriveFile",
      "description": "Drive file that is used as material for course work.",
      "type": "object"
    },
    "NotebookLmNotebook": {
      "properties": {
        "id": {
          "description": "Notebook resource id.",
          "type": "string"
        },
        "url": {
          "description": "URL that can be used to access the Notebook.",
          "type": "string"
        },
        "title": {
          "description": "Title of the Notebook.",
          "type": "string"
        }
      },
      "id": "NotebookLmNotebook",
      "description": "NotebookLM Notebook link.",
      "type": "object"
    },
    "ListCourseAliasesResponse": {
      "description": "Response when listing course aliases.",
      "type": "object",
      "id": "ListCourseAliasesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "aliases": {
          "items": {
            "$ref": "CourseAlias"
          },
          "description": "The course aliases.",
          "type": "array"
        }
      }
    },
    "CourseWorkChangesInfo": {
      "id": "CourseWorkChangesInfo",
      "properties": {
        "courseId": {
          "description": "The `course_id` of the course to subscribe to work changes for.",
          "type": "string"
        }
      },
      "description": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`.",
      "type": "object"
    },
    "Rubric": {
      "description": "The rubric of the course work. A rubric is a scoring guide used to evaluate student work and give feedback. For further details, see [Rubrics structure and known limitations](/classroom/rubrics/limitations).",
      "type": "object",
      "id": "Rubric",
      "properties": {
        "sourceSpreadsheetId": {
          "description": "Input only. Immutable. Google Sheets ID of the spreadsheet. This spreadsheet must contain formatted rubric settings. See [Create or reuse a rubric for an assignment](https://support.google.com/edu/classroom/answer/9335069). Use of this field requires the `https://www.googleapis.com/auth/spreadsheets.readonly` or `https://www.googleapis.com/auth/spreadsheets` scope.",
          "type": "string"
        },
        "creationTime": {
          "description": "Output only. Timestamp when this rubric was created. Read-only.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "id": {
          "description": "Classroom-assigned identifier for the rubric. This is unique among rubrics for the relevant course work. Read-only.",
          "type": "string"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp of the most recent change to this rubric. Read-only.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "courseWorkId": {
          "description": "Identifier for the course work this corresponds to. Read-only.",
          "type": "string"
        },
        "criteria": {
          "description": "List of criteria. Each criterion is a dimension on which performance is rated.",
          "type": "array",
          "items": {
            "$ref": "Criterion"
          }
        }
      }
    },
    "ListTopicResponse": {
      "id": "ListTopicResponse",
      "properties": {
        "topic": {
          "description": "Topic items that match the request.",
          "type": "array",
          "items": {
            "$ref": "Topic"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing topics.",
      "type": "object"
    },
    "IndividualStudentsOptions": {
      "properties": {
        "studentIds": {
          "description": "Identifiers for the students that have access to the coursework/announcement.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "IndividualStudentsOptions",
      "description": "Assignee details about a coursework/announcement. This field is set if and only if `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
      "type": "object"
    },
    "Link": {
      "description": "URL item.",
      "type": "object",
      "id": "Link",
      "properties": {
        "thumbnailUrl": {
          "description": "URL of a thumbnail image of the target URL. Read-only.",
          "type": "string"
        },
        "title": {
          "description": "Title of the target of the URL. Read-only.",
          "type": "string"
        },
        "url": {
          "description": "URL to link to. This must be a valid UTF-8 string containing between 1 and 2024 characters.",
          "type": "string"
        }
      }
    },
    "MultipleChoiceQuestion": {
      "description": "Additional details for multiple-choice questions.",
      "type": "object",
      "id": "MultipleChoiceQuestion",
      "properties": {
        "choices": {
          "description": "Possible choices.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Registration": {
      "description": "An instruction to Classroom to send notifications from the `feed` to the provided destination.",
      "type": "object",
      "id": "Registration",
      "properties": {
        "registrationId": {
          "description": "A server-generated unique identifier for this `Registration`. Read-only.",
          "type": "string"
        },
        "expiryTime": {
          "description": "The time until which the `Registration` is effective. This is a read-only field assigned by the server.",
          "type": "string",
          "format": "google-datetime"
        },
        "feed": {
          "description": "Specification for the class of notifications that Classroom should deliver to the destination.",
          "$ref": "Feed"
        },
        "cloudPubsubTopic": {
          "description": "The Cloud Pub/Sub topic that notifications are to be sent to.",
          "$ref": "CloudPubsubTopic"
        }
      }
    },
    "DriveFolder": {
      "properties": {
        "title": {
          "description": "Title of the Drive folder. Read-only.",
          "type": "string"
        },
        "id": {
          "description": "Drive API resource ID.",
          "type": "string"
        },
        "alternateLink": {
          "description": "URL that can be used to access the Drive folder. Read-only.",
          "type": "string"
        }
      },
      "id": "DriveFolder",
      "description": "Representation of a Google Drive folder.",
      "type": "object"
    },
    "Form": {
      "description": "Google Forms item.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the Form. Read-only.",
          "type": "string"
        },
        "responseUrl": {
          "description": "URL of the form responses document. Only set if responses have been recorded and only when the requesting user is an editor of the form. Read-only.",
          "type": "string"
        },
        "formUrl": {
          "description": "URL of the form.",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image of the Form. Read-only.",
          "type": "string"
        }
      },
      "id": "Form"
    },
    "Teacher": {
      "properties": {
        "profile": {
          "$ref": "UserProfile",
          "description": "Global user information for the teacher. Read-only."
        },
        "userId": {
          "description": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
          "type": "string"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        }
      },
      "id": "Teacher",
      "description": "Teacher of a course.",
      "type": "object"
    },
    "AddOnAttachmentStudentSubmission": {
      "description": "Payload for grade update requests.",
      "type": "object",
      "properties": {
        "postSubmissionState": {
          "enum": [
            "SUBMISSION_STATE_UNSPECIFIED",
            "NEW",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT"
          ],
          "description": "Submission state of add-on attachment's parent post (i.e. assignment).",
          "type": "string",
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
            "Has been created.",
            "Has been turned in to the teacher.",
            "Has been returned to the student.",
            "Student chose to \"unsubmit\" the assignment."
          ]
        },
        "courseWorkSubmissionId": {
          "readOnly": true,
          "description": "Output only. Identifier of the course work submission under which this attachment submission was made.",
          "type": "string"
        },
        "id": {
          "description": "Output only. Classroom-assigned identifier for this student submission. This is unique among submissions for the relevant course work and add-on attachment combination.",
          "type": "string",
          "readOnly": true
        },
        "pointsEarned": {
          "description": "Student grade on this attachment. If unset, no grade was set.",
          "type": "number",
          "format": "double"
        },
        "userId": {
          "description": "Identifier for the student that owns this submission. Requires the user to be a teacher in the course and have permission to read student submissions. See [`courseWork.studentSubmissions.get`](/workspace/classroom/reference/rest/v1/courses.courseWork.studentSubmissions/get#authorization-scopes) for the list of acceptable OAuth scopes for this field. Read-only.",
          "type": "string"
        }
      },
      "id": "AddOnAttachmentStudentSubmission"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        },
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "TimeOfDay"
    },
    "ListRubricsResponse": {
      "description": "Response when listing rubrics.",
      "type": "object",
      "id": "ListRubricsResponse",
      "properties": {
        "rubrics": {
          "description": "Rubrics that match the request.",
          "type": "array",
          "items": {
            "$ref": "Rubric"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      }
    },
    "DriveFile": {
      "description": "Representation of a Google Drive file.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Drive API resource ID.",
          "type": "string"
        },
        "title": {
          "description": "Title of the Drive item. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "description": "URL that can be used to access the Drive item. Read-only.",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image of the Drive item. Read-only.",
          "type": "string"
        }
      },
      "id": "DriveFile"
    },
    "ModifyAttachmentsRequest": {
      "description": "Request to modify the attachments of a student submission.",
      "type": "object",
      "id": "ModifyAttachmentsRequest",
      "properties": {
        "addAttachments": {
          "items": {
            "$ref": "Attachment"
          },
          "description": "Attachments to add. A student submission may not have more than 20 attachments. Form attachments are not supported.",
          "type": "array"
        }
      }
    },
    "Feed": {
      "description": "A class of notifications that an application can register to receive. For example: \"all roster changes for a domain\".",
      "type": "object",
      "id": "Feed",
      "properties": {
        "feedType": {
          "description": "The type of feed.",
          "type": "string",
          "enumDescriptions": [
            "Should never be returned or provided.",
            "All roster changes for a particular domain. Notifications will be generated whenever a user joins or leaves a course. No notifications will be generated when an invitation is created or deleted, but notifications will be generated when a user joins a course by accepting an invitation.",
            "All roster changes for a particular course. Notifications will be generated whenever a user joins or leaves a course. No notifications will be generated when an invitation is created or deleted, but notifications will be generated when a user joins a course by accepting an invitation.",
            "All course work activity for a particular course. Notifications will be generated when a CourseWork or StudentSubmission object is created or modified. No notification will be generated when a StudentSubmission object is created in connection with the creation or modification of its parent CourseWork object (but a notification will be generated for that CourseWork object's creation or modification)."
          ],
          "enum": [
            "FEED_TYPE_UNSPECIFIED",
            "DOMAIN_ROSTER_CHANGES",
            "COURSE_ROSTER_CHANGES",
            "COURSE_WORK_CHANGES"
          ]
        },
        "courseRosterChangesInfo": {
          "description": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`. This field must be specified if `feed_type` is `COURSE_ROSTER_CHANGES`.",
          "$ref": "CourseRosterChangesInfo"
        },
        "courseWorkChangesInfo": {
          "$ref": "CourseWorkChangesInfo",
          "description": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`. This field must be specified if `feed_type` is `COURSE_WORK_CHANGES`."
        }
      }
    },
    "ListCoursesResponse": {
      "description": "Response when listing courses.",
      "type": "object",
      "id": "ListCoursesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "courses": {
          "description": "Courses that match the list request.",
          "type": "array",
          "items": {
            "$ref": "Course"
          }
        }
      }
    },
    "TeacherContext": {
      "description": "Role-specific context if the requesting user is a teacher.",
      "type": "object",
      "id": "TeacherContext",
      "properties": {}
    },
    "ListStudentSubmissionsResponse": {
      "description": "Response when listing student submissions.",
      "type": "object",
      "id": "ListStudentSubmissionsResponse",
      "properties": {
        "studentSubmissions": {
          "description": "Student work that matches the request.",
          "type": "array",
          "items": {
            "$ref": "StudentSubmission"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      }
    },
    "GradingPeriod": {
      "description": "An individual grading period. Grading periods must not have overlapping date ranges and must be listed in chronological order. For example, if the end_date of a grading period is 2024-01-25, then the start_date of the next grading period must be 2024-01-26 or later. Each grading period must have a unique title within a course.",
      "type": "object",
      "id": "GradingPeriod",
      "properties": {
        "title": {
          "description": "Required. Title of the grading period. For example, “Semester 1”.",
          "type": "string"
        },
        "id": {
          "description": "Output only. System generated grading period ID. Read-only.",
          "type": "string",
          "readOnly": true
        },
        "startDate": {
          "$ref": "Date",
          "description": "Required. Start date, in UTC, of the grading period. Inclusive."
        },
        "endDate": {
          "$ref": "Date",
          "description": "Required. End date, in UTC, of the grading period. Inclusive."
        }
      }
    },
    "EmbedUri": {
      "id": "EmbedUri",
      "properties": {
        "uri": {
          "description": "Required. URI to be iframed after being populated with query parameters. This must be a valid UTF-8 string containing between 1 and 1800 characters.",
          "type": "string"
        }
      },
      "description": "URI to be iframed after being populated with query parameters.",
      "type": "object"
    },
    "GradeCategory": {
      "id": "GradeCategory",
      "properties": {
        "id": {
          "description": "ID of the grade category.",
          "type": "string"
        },
        "weight": {
          "description": "The weight of the category average as part of overall average. A weight of 12.34% is represented as 123400 (100% is 1,000,000). The last two digits should always be zero since we use two decimal precision. Only applicable when grade calculation type is WEIGHTED_CATEGORIES.",
          "type": "integer",
          "format": "int32"
        },
        "defaultGradeDenominator": {
          "format": "int32",
          "description": "Default value of denominator. Only applicable when grade calculation type is TOTAL_POINTS.",
          "type": "integer"
        },
        "name": {
          "description": "Name of the grade category.",
          "type": "string"
        }
      },
      "description": "Details for a grade category in a course. Coursework may have zero or one grade category, and the category may be used in computing the overall grade. See the [help center article](https://support.google.com/edu/classroom/answer/9184995) for details.",
      "type": "object"
    },
    "MultipleChoiceSubmission": {
      "properties": {
        "answer": {
          "description": "Student's select choice.",
          "type": "string"
        }
      },
      "id": "MultipleChoiceSubmission",
      "description": "Student work for a multiple-choice question.",
      "type": "object"
    },
    "CourseRosterChangesInfo": {
      "properties": {
        "courseId": {
          "description": "The `course_id` of the course to subscribe to roster changes for.",
          "type": "string"
        }
      },
      "id": "CourseRosterChangesInfo",
      "description": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`.",
      "type": "object"
    },
    "RubricGrade": {
      "properties": {
        "criterionId": {
          "description": "Optional. Criterion ID.",
          "type": "string"
        },
        "levelId": {
          "description": "Optional. Optional level ID of the selected level. If empty, no level was selected.",
          "type": "string"
        },
        "points": {
          "description": "Optional. Optional points assigned for this criterion, typically based on the level. Levels might or might not have points. If unset, no points were set for this criterion.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "RubricGrade",
      "description": "A rubric grade set for the student submission. There is at most one entry per rubric criterion.",
      "type": "object"
    },
    "Level": {
      "description": "A level of the criterion.",
      "type": "object",
      "id": "Level",
      "properties": {
        "description": {
          "description": "The description of the level.",
          "type": "string"
        },
        "id": {
          "description": "The level ID. On creation, an ID is assigned.",
          "type": "string"
        },
        "points": {
          "description": "Optional points associated with this level. If set, all levels within the rubric must specify points and the value must be distinct across all levels within a single criterion. 0 is distinct from no points.",
          "type": "number",
          "format": "double"
        },
        "title": {
          "description": "The title of the level. If the level has no points set, title must be set.",
          "type": "string"
        }
      }
    },
    "ListCourseWorkMaterialResponse": {
      "description": "Response when listing course work material.",
      "type": "object",
      "id": "ListCourseWorkMaterialResponse",
      "properties": {
        "courseWorkMaterial": {
          "description": "Course work material items that match the request.",
          "type": "array",
          "items": {
            "$ref": "CourseWorkMaterial"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      }
    },
    "AddOnContext": {
      "properties": {
        "teacherContext": {
          "$ref": "TeacherContext",
          "description": "Add-on context corresponding to the requesting user's role as a teacher. Its presence implies that the requesting user is a teacher in the course."
        },
        "supportsStudentWork": {
          "description": "Optional. Whether the post allows the teacher to see student work and passback grades.",
          "type": "boolean"
        },
        "studentContext": {
          "$ref": "StudentContext",
          "description": "Add-on context corresponding to the requesting user's role as a student. Its presence implies that the requesting user is a student in the course."
        },
        "postId": {
          "description": "Immutable. Deprecated, use `item_id` instead.",
          "type": "string",
          "deprecated": true
        },
        "itemId": {
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached.",
          "type": "string"
        },
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        }
      },
      "id": "AddOnContext",
      "description": "Attachment-relevant metadata for Classroom add-ons in the context of a specific post.",
      "type": "object"
    },
    "ModifyAnnouncementAssigneesRequest": {
      "properties": {
        "modifyIndividualStudentsOptions": {
          "description": "Set which students can view or cannot view the announcement. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
          "$ref": "ModifyIndividualStudentsOptions"
        },
        "assigneeMode": {
          "description": "Mode of the announcement describing whether it is accessible by all students or specified individual students.",
          "type": "string",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        }
      },
      "id": "ModifyAnnouncementAssigneesRequest",
      "description": "Request to modify assignee mode and options of an announcement.",
      "type": "object"
    },
    "Criterion": {
      "properties": {
        "description": {
          "description": "The description of the criterion.",
          "type": "string"
        },
        "levels": {
          "description": "The list of levels within this criterion.",
          "type": "array",
          "items": {
            "$ref": "Level"
          }
        },
        "title": {
          "description": "The title of the criterion.",
          "type": "string"
        },
        "id": {
          "description": "The criterion ID. On creation, an ID is assigned.",
          "type": "string"
        }
      },
      "id": "Criterion",
      "description": "A rubric criterion. Each criterion is a dimension on which performance is rated.",
      "type": "object"
    },
    "ReclaimStudentSubmissionRequest": {
      "description": "Request to reclaim a student submission.",
      "type": "object",
      "properties": {},
      "id": "ReclaimStudentSubmissionRequest"
    },
    "GlobalPermission": {
      "description": "Global user permission description.",
      "type": "object",
      "properties": {
        "permission": {
          "description": "Permission value.",
          "type": "string",
          "enumDescriptions": [
            "No permission is specified. This is not returned and is not a valid value.",
            "User is permitted to create a course."
          ],
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "CREATE_COURSE"
          ]
        }
      },
      "id": "GlobalPermission"
    },
    "StudentGroupMember": {
      "id": "StudentGroupMember",
      "properties": {
        "courseId": {
          "description": "The identifier of the course.",
          "type": "string"
        },
        "studentGroupId": {
          "description": "The identifier of the student group.",
          "type": "string"
        },
        "userId": {
          "description": "Identifier of the student.",
          "type": "string"
        }
      },
      "description": "A student member in a student group.",
      "type": "object"
    },
    "Announcement": {
      "properties": {
        "assigneeMode": {
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "description": "Assignee mode of the announcement. If unspecified, the default value is `ALL_STUDENTS`.",
          "type": "string"
        },
        "individualStudentsOptions": {
          "description": "Identifiers of students with access to the announcement. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the announcement.",
          "$ref": "IndividualStudentsOptions"
        },
        "alternateLink": {
          "description": "Absolute link to this announcement in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "Timestamp when this announcement was created. Read-only.",
          "type": "string"
        },
        "id": {
          "description": "Classroom-assigned identifier of this announcement, unique per course. Read-only.",
          "type": "string"
        },
        "text": {
          "description": "Description of this announcement. The text must be a valid UTF-8 string containing no more than 30,000 characters.",
          "type": "string"
        },
        "creatorUserId": {
          "description": "Identifier for the user that created the announcement. Read-only.",
          "type": "string"
        },
        "scheduledTime": {
          "description": "Optional timestamp when this announcement is scheduled to be published.",
          "type": "string",
          "format": "google-datetime"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "materials": {
          "items": {
            "$ref": "Material"
          },
          "description": "Additional materials. Announcements must have no more than 20 material items.",
          "type": "array"
        },
        "state": {
          "enum": [
            "ANNOUNCEMENT_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "description": "Status of this announcement. If unspecified, the default state is `DRAFT`.",
          "type": "string",
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for announcement that has been published. This is the default state.",
            "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
            "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Timestamp of the most recent change to this announcement. Read-only.",
          "type": "string"
        }
      },
      "id": "Announcement",
      "description": "Announcement created by a teacher for students of the course",
      "type": "object"
    },
    "StudentGroup": {
      "description": "A student group in a course.",
      "type": "object",
      "id": "StudentGroup",
      "properties": {
        "courseId": {
          "description": "The identifier of the course.",
          "type": "string"
        },
        "title": {
          "description": "The title of the student group.",
          "type": "string"
        },
        "id": {
          "description": "The identifier of the student group.",
          "type": "string"
        }
      }
    },
    "GradingPeriodSettings": {
      "properties": {
        "gradingPeriods": {
          "items": {
            "$ref": "GradingPeriod"
          },
          "description": "The list of grading periods in a specific course. Grading periods must not have overlapping date ranges and must be listed in chronological order. Each grading period must have a unique title within a course.",
          "type": "array"
        },
        "applyToExistingCoursework": {
          "description": "Supports toggling the application of grading periods on existing stream items. Once set, this value is persisted meaning that it does not need to be set in every request to update `GradingPeriodSettings`. If not previously set, the default is False.",
          "type": "boolean"
        }
      },
      "id": "GradingPeriodSettings",
      "description": "Grading period settings that include all the individual grading periods in a course.",
      "type": "object"
    },
    "Assignment": {
      "description": "Additional details for assignments.",
      "type": "object",
      "properties": {
        "studentWorkFolder": {
          "$ref": "DriveFolder",
          "description": "Drive folder where attachments from student submissions are placed. This is only populated for course teachers and administrators."
        }
      },
      "id": "Assignment"
    },
    "ShortAnswerSubmission": {
      "properties": {
        "answer": {
          "description": "Student response to a short-answer question.",
          "type": "string"
        }
      },
      "id": "ShortAnswerSubmission",
      "description": "Student work for a short answer question.",
      "type": "object"
    },
    "CourseMaterialSet": {
      "id": "CourseMaterialSet",
      "properties": {
        "title": {
          "description": "Title for this set.",
          "type": "string"
        },
        "materials": {
          "description": "Materials attached to this set.",
          "type": "array",
          "items": {
            "$ref": "CourseMaterial"
          }
        }
      },
      "description": "A set of materials that appears on the \"About\" page of the course. These materials might include a syllabus, schedule, or other background information relating to the course as a whole.",
      "type": "object"
    },
    "GradebookSettings": {
      "description": "The gradebook settings for a course. See the [help center article](https://support.google.com/edu/classroom/answer/9184995) for details.",
      "type": "object",
      "id": "GradebookSettings",
      "properties": {
        "gradeCategories": {
          "items": {
            "$ref": "GradeCategory"
          },
          "description": "Grade categories that are available for coursework in the course.",
          "type": "array"
        },
        "calculationType": {
          "enum": [
            "CALCULATION_TYPE_UNSPECIFIED",
            "TOTAL_POINTS",
            "WEIGHTED_CATEGORIES"
          ],
          "description": "Indicates how the overall grade is calculated.",
          "type": "string",
          "enumDescriptions": [
            "No method specified. This is never returned.",
            "Overall grade is the sum of grades divided by the sum of total points regardless of category.",
            "Overall grade is the weighted average by category."
          ]
        },
        "displaySetting": {
          "description": "Indicates who can see the overall grade..",
          "type": "string",
          "enumDescriptions": [
            "No setting specified. This is never returned.",
            "Shows overall grade in the gradebook and student profile to both teachers and students.",
            "Does not show overall grade in the gradebook or student profile.",
            "Shows the overall grade to teachers in the gradebook and student profile. Hides from students in their student profile."
          ],
          "enum": [
            "DISPLAY_SETTING_UNSPECIFIED",
            "SHOW_OVERALL_GRADE",
            "HIDE_OVERALL_GRADE",
            "SHOW_TEACHERS_ONLY"
          ]
        }
      }
    },
    "GuardianInvitation": {
      "properties": {
        "creationTime": {
          "description": "The time that this invitation was created. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "invitationId": {
          "description": "Unique identifier for this invitation. Read-only.",
          "type": "string"
        },
        "state": {
          "enum": [
            "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ],
          "description": "The state that this invitation is in.",
          "type": "string",
          "enumDescriptions": [
            "Should never be returned.",
            "The invitation is active and awaiting a response.",
            "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
          ]
        },
        "studentId": {
          "description": "ID of the student (in standard format)",
          "type": "string"
        },
        "invitedEmailAddress": {
          "description": "Email address that the invitation was sent to. This field is only visible to domain administrators.",
          "type": "string"
        }
      },
      "id": "GuardianInvitation",
      "description": "An invitation to become the guardian of a specified user, sent to a specified email address.",
      "type": "object"
    },
    "CloudPubsubTopic": {
      "properties": {
        "topicName": {
          "description": "The `name` field of a Cloud Pub/Sub [Topic](https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic).",
          "type": "string"
        }
      },
      "id": "CloudPubsubTopic",
      "description": "A reference to a Cloud Pub/Sub topic. To register for notifications, the owner of the topic must grant `classroom-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "type": "object"
    },
    "ListStudentGroupsResponse": {
      "id": "ListStudentGroupsResponse",
      "properties": {
        "studentGroups": {
          "items": {
            "$ref": "StudentGroup"
          },
          "description": "The student groups.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing student groups.",
      "type": "object"
    },
    "StateHistory": {
      "properties": {
        "actorUserId": {
          "description": "The teacher or student who made the change.",
          "type": "string"
        },
        "stateTimestamp": {
          "description": "When the submission entered this state.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT",
            "STUDENT_EDITED_AFTER_TURN_IN"
          ],
          "description": "The workflow pipeline stage.",
          "type": "string",
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The Submission has been created.",
            "The student has turned in an assigned document, which may or may not be a template.",
            "The teacher has returned the assigned document to the student.",
            "The student turned in the assigned document, and then chose to \"unsubmit\" the assignment, giving the student control again as the owner.",
            "The student edited their submission after turning it in. Currently, only used by Questions, when the student edits their answer."
          ]
        }
      },
      "id": "StateHistory",
      "description": "The history of each state this submission has been in.",
      "type": "object"
    },
    "GradeHistory": {
      "id": "GradeHistory",
      "properties": {
        "gradeTimestamp": {
          "format": "google-datetime",
          "description": "When the grade of the submission was changed.",
          "type": "string"
        },
        "actorUserId": {
          "description": "The teacher who made the grade change.",
          "type": "string"
        },
        "pointsEarned": {
          "description": "The numerator of the grade at this time in the submission grade history.",
          "type": "number",
          "format": "double"
        },
        "gradeChangeType": {
          "enum": [
            "UNKNOWN_GRADE_CHANGE_TYPE",
            "DRAFT_GRADE_POINTS_EARNED_CHANGE",
            "ASSIGNED_GRADE_POINTS_EARNED_CHANGE",
            "MAX_POINTS_CHANGE"
          ],
          "description": "The type of grade change at this time in the submission grade history.",
          "type": "string",
          "enumDescriptions": [
            "No grade change type specified. This should never be returned.",
            "A change in the numerator of the draft grade.",
            "A change in the numerator of the assigned grade.",
            "A change in the denominator of the grade."
          ]
        },
        "maxPoints": {
          "description": "The denominator of the grade at this time in the submission grade history.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "The history of each grade on this submission.",
      "type": "object"
    },
    "CourseAlias": {
      "properties": {
        "alias": {
          "description": "Alias string. The format of the string indicates the desired alias scoping. * `d:` indicates a domain-scoped alias. Example: `d:math_101` * `p:` indicates a project-scoped alias. Example: `p:abc123` This field has a maximum length of 256 characters.",
          "type": "string"
        }
      },
      "id": "CourseAlias",
      "description": "Alternative identifier for a course. An alias uniquely identifies a course. It must be unique within one of the following scopes: * domain: A domain-scoped alias is visible to all users within the alias creator's domain and can be created only by a domain admin. A domain-scoped alias is often used when a course has an identifier external to Classroom. * project: A project-scoped alias is visible to any request from an application using the Developer Console project ID that created the alias and can be created by any project. A project-scoped alias is often used when an application has alternative identifiers. A random value can also be used to avoid duplicate courses in the event of transmission failures, as retrying a request will return `ALREADY_EXISTS` if a previous one has succeeded.",
      "type": "object"
    },
    "StudentSubmission": {
      "description": "Student submission for course work. `StudentSubmission` items are generated when a `CourseWork` item is created. Student submissions that have never been accessed (i.e. with `state` = NEW) may not have a creation time or update time.",
      "type": "object",
      "properties": {
        "associatedWithDeveloper": {
          "description": "Whether this student submission is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only.",
          "type": "boolean"
        },
        "userId": {
          "description": "Identifier for the student that owns this submission. Read-only.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last update time of this submission. This may be unset if the student has not accessed this item. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "courseWorkType": {
          "enum": [
            "COURSE_WORK_TYPE_UNSPECIFIED",
            "ASSIGNMENT",
            "SHORT_ANSWER_QUESTION",
            "MULTIPLE_CHOICE_QUESTION"
          ],
          "enumDescriptions": [
            "No work type specified. This is never returned.",
            "An assignment.",
            "A short answer question.",
            "A multiple-choice question."
          ],
          "description": "Type of course work this submission is for. Read-only.",
          "type": "string"
        },
        "assignmentSubmission": {
          "$ref": "AssignmentSubmission",
          "description": "Submission content when course_work_type is ASSIGNMENT. Students can modify this content using ModifyAttachments."
        },
        "creationTime": {
          "description": "Creation time of this submission. This may be unset if the student has not accessed this item. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "late": {
          "description": "Whether this submission is late. Read-only.",
          "type": "boolean"
        },
        "courseWorkId": {
          "description": "Identifier for the course work this corresponds to. Read-only.",
          "type": "string"
        },
        "submissionHistory": {
          "description": "The history of the submission (includes state and grade histories). Read-only.",
          "type": "array",
          "items": {
            "$ref": "SubmissionHistory"
          }
        },
        "assignedGrade": {
          "format": "double",
          "description": "Optional grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This may be modified only by course teachers.",
          "type": "number"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "state": {
          "enum": [
            "SUBMISSION_STATE_UNSPECIFIED",
            "NEW",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT"
          ],
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
            "Has been created.",
            "Has been turned in to the teacher.",
            "Has been returned to the student.",
            "Student chose to \"unsubmit\" the assignment."
          ],
          "description": "State of this submission. Read-only.",
          "type": "string"
        },
        "shortAnswerSubmission": {
          "description": "Submission content when course_work_type is SHORT_ANSWER_QUESTION.",
          "$ref": "ShortAnswerSubmission"
        },
        "draftRubricGrades": {
          "additionalProperties": {
            "$ref": "RubricGrade"
          },
          "description": "Pending rubric grades based on the rubric's criteria. This map is empty if there is no rubric attached to this course work or if a rubric is attached, but no grades have been set on any criteria. Entries are only populated for grades that have been set. Key: The rubric's criterion ID. Read-only.",
          "type": "object"
        },
        "alternateLink": {
          "description": "Absolute link to the submission in the Classroom web UI. Read-only.",
          "type": "string"
        },
        "draftGrade": {
          "description": "Optional pending grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This is only visible to and modifiable by course teachers.",
          "type": "number",
          "format": "double"
        },
        "assignedRubricGrades": {
          "description": "Assigned rubric grades based on the rubric's Criteria. This map is empty if there is no rubric attached to this course work or if a rubric is attached, but no grades have been set on any Criteria. Entries are only populated for grades that have been set. Key: The rubric's criterion ID. Read-only.",
          "type": "object",
          "additionalProperties": {
            "$ref": "RubricGrade"
          }
        },
        "id": {
          "description": "Classroom-assigned Identifier for the student submission. This is unique among submissions for the relevant course work. Read-only.",
          "type": "string"
        },
        "multipleChoiceSubmission": {
          "$ref": "MultipleChoiceSubmission",
          "description": "Submission content when course_work_type is MULTIPLE_CHOICE_QUESTION."
        }
      },
      "id": "StudentSubmission"
    },
    "AddOnAttachment": {
      "description": "An add-on attachment on a post.",
      "type": "object",
      "properties": {
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        },
        "postId": {
          "deprecated": true,
          "description": "Immutable. Deprecated, use `item_id` instead.",
          "type": "string"
        },
        "itemId": {
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. Unique per course.",
          "type": "string"
        },
        "teacherViewUri": {
          "description": "Required. URI to show the teacher view of the attachment. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, and `attachmentId` query parameters set.",
          "$ref": "EmbedUri"
        },
        "maxPoints": {
          "description": "Maximum grade for this attachment. Can only be set if `studentWorkReviewUri` is set. Set to a non-zero value to indicate that the attachment supports grade passback. If set, this must be a non-negative integer value. When set to zero, the attachment will not support grade passback.",
          "type": "number",
          "format": "double"
        },
        "studentWorkReviewUri": {
          "description": "URI for the teacher to see student work on the attachment, if applicable. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, `attachmentId`, and `submissionId` query parameters set. This is the same `submissionId` returned in the [`AddOnContext.studentContext`](/workspace/classroom/reference/rest/v1/AddOnContext#StudentContext) field when a student views the attachment. If the URI is omitted or removed, `max_points` will also be discarded.",
          "$ref": "EmbedUri"
        },
        "dueDate": {
          "description": "Date, in UTC, that work on this attachment is due. This must be specified if `due_time` is specified.",
          "$ref": "Date"
        },
        "copyHistory": {
          "description": "Output only. Identifiers of attachments that were previous copies of this attachment. If the attachment was previously copied by virtue of its parent post being copied, this enumerates the identifiers of attachments that were its previous copies in ascending chronological order of copy.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CopyHistory"
          }
        },
        "id": {
          "description": "Immutable. Classroom-assigned identifier for this attachment, unique per post.",
          "type": "string"
        },
        "dueTime": {
          "description": "Time of day, in UTC, that work on this attachment is due. This must be specified if `due_date` is specified.",
          "$ref": "TimeOfDay"
        },
        "title": {
          "description": "Required. Title of this attachment. The title must be between 1 and 1000 characters.",
          "type": "string"
        },
        "studentViewUri": {
          "description": "Required. URI to show the student view of the attachment. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, and `attachmentId` query parameters set.",
          "$ref": "EmbedUri"
        }
      },
      "id": "AddOnAttachment"
    },
    "UserProfile": {
      "id": "UserProfile",
      "properties": {
        "photoUrl": {
          "description": "URL of user's profile photo. Must request `https://www.googleapis.com/auth/classroom.profile.photos` scope for this field to be populated in a response body. Read-only.",
          "type": "string"
        },
        "verifiedTeacher": {
          "description": "Represents whether a Google Workspace for Education user's domain administrator has explicitly verified them as being a teacher. This field is always false if the user is not a member of a Google Workspace for Education domain. Read-only",
          "type": "boolean"
        },
        "emailAddress": {
          "description": "Email address of the user. Must request `https://www.googleapis.com/auth/classroom.profile.emails` scope for this field to be populated in a response body. Read-only.",
          "type": "string"
        },
        "id": {
          "description": "Identifier of the user. Read-only.",
          "type": "string"
        },
        "name": {
          "description": "Name of the user. Read-only.",
          "$ref": "Name"
        },
        "permissions": {
          "description": "Global permissions of the user. Read-only.",
          "type": "array",
          "items": {
            "$ref": "GlobalPermission"
          }
        }
      },
      "description": "Global information for a user.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "ListStudentsResponse": {
      "description": "Response when listing students.",
      "type": "object",
      "id": "ListStudentsResponse",
      "properties": {
        "students": {
          "description": "Students who match the list request.",
          "type": "array",
          "items": {
            "$ref": "Student"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      }
    },
    "ListTeachersResponse": {
      "properties": {
        "teachers": {
          "description": "Teachers who match the list request.",
          "type": "array",
          "items": {
            "$ref": "Teacher"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "id": "ListTeachersResponse",
      "description": "Response when listing teachers.",
      "type": "object"
    },
    "ListGuardiansResponse": {
      "id": "ListGuardiansResponse",
      "properties": {
        "guardians": {
          "description": "Guardians on this page of results that met the criteria specified in the request.",
          "type": "array",
          "items": {
            "$ref": "Guardian"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing guardians.",
      "type": "object"
    },
    "ModifyIndividualStudentsOptions": {
      "id": "ModifyIndividualStudentsOptions",
      "properties": {
        "addStudentIds": {
          "description": "IDs of students to be added as having access to this coursework/announcement.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removeStudentIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs of students to be removed from having access to this coursework/announcement.",
          "type": "array"
        }
      },
      "description": "Contains fields to add or remove students from a course work or announcement where the `assigneeMode` is set to `INDIVIDUAL_STUDENTS`.",
      "type": "object"
    },
    "Student": {
      "description": "Student in a course.",
      "type": "object",
      "id": "Student",
      "properties": {
        "studentWorkFolder": {
          "description": "Information about a Drive Folder for this student's work in this course. Only visible to the student and domain administrators. Read-only.",
          "$ref": "DriveFolder"
        },
        "profile": {
          "description": "Global user information for the student. Read-only.",
          "$ref": "UserProfile"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "userId": {
          "description": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
          "type": "string"
        }
      }
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "SubmissionHistory": {
      "properties": {
        "stateHistory": {
          "$ref": "StateHistory",
          "description": "The state history information of the submission, if present."
        },
        "gradeHistory": {
          "$ref": "GradeHistory",
          "description": "The grade history information of the submission, if present."
        }
      },
      "id": "SubmissionHistory",
      "description": "The history of the submission. This currently includes state and grade histories.",
      "type": "object"
    },
    "ModifyCourseWorkAssigneesRequest": {
      "properties": {
        "assigneeMode": {
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "description": "Mode of the coursework describing whether it will be assigned to all students or specified individual students.",
          "type": "string"
        },
        "modifyIndividualStudentsOptions": {
          "$ref": "ModifyIndividualStudentsOptions",
          "description": "Set which students are assigned or not assigned to the coursework. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`."
        }
      },
      "id": "ModifyCourseWorkAssigneesRequest",
      "description": "Request to modify assignee mode and options of a coursework.",
      "type": "object"
    },
    "Invitation": {
      "id": "Invitation",
      "properties": {
        "courseId": {
          "description": "Identifier of the course to invite the user to.",
          "type": "string"
        },
        "role": {
          "enum": [
            "COURSE_ROLE_UNSPECIFIED",
            "STUDENT",
            "TEACHER",
            "OWNER"
          ],
          "enumDescriptions": [
            "No course role.",
            "Student in the course.",
            "Teacher of the course.",
            "Owner of the course."
          ],
          "description": "Role to invite the user to have. Must not be `COURSE_ROLE_UNSPECIFIED`.",
          "type": "string"
        },
        "id": {
          "description": "Identifier assigned by Classroom. Read-only.",
          "type": "string"
        },
        "userId": {
          "description": "Identifier of the invited user. When specified as a parameter of a request, this identifier can be set to one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
          "type": "string"
        }
      },
      "description": "An invitation to join a course.",
      "type": "object"
    },
    "ListInvitationsResponse": {
      "id": "ListInvitationsResponse",
      "properties": {
        "invitations": {
          "description": "Invitations that match the list request.",
          "type": "array",
          "items": {
            "$ref": "Invitation"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing invitations.",
      "type": "object"
    },
    "ListCourseWorkResponse": {
      "description": "Response when listing course work.",
      "type": "object",
      "id": "ListCourseWorkResponse",
      "properties": {
        "courseWork": {
          "description": "Course work items that match the request.",
          "type": "array",
          "items": {
            "$ref": "CourseWork"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      }
    },
    "GeminiGem": {
      "id": "GeminiGem",
      "properties": {
        "title": {
          "description": "Title of the Gem.",
          "type": "string"
        },
        "id": {
          "description": "Gems resource id.",
          "type": "string"
        },
        "url": {
          "description": "URL that can be used to access the Gem.",
          "type": "string"
        }
      },
      "description": "Gemini Gem link.",
      "type": "object"
    },
    "Guardian": {
      "properties": {
        "studentId": {
          "description": "Identifier for the student to whom the guardian relationship applies.",
          "type": "string"
        },
        "invitedEmailAddress": {
          "description": "The email address to which the initial guardian invitation was sent. This field is only visible to domain administrators.",
          "type": "string"
        },
        "guardianId": {
          "description": "Identifier for the guardian.",
          "type": "string"
        },
        "guardianProfile": {
          "description": "User profile for the guardian.",
          "$ref": "UserProfile"
        }
      },
      "id": "Guardian",
      "description": "Association between a student and a guardian of that student. The guardian may receive information about the student's course work.",
      "type": "object"
    },
    "CourseWorkMaterial": {
      "id": "CourseWorkMaterial",
      "properties": {
        "updateTime": {
          "description": "Timestamp of the most recent change to this course work material. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "topicId": {
          "description": "Identifier for the topic that this course work material is associated with. Must match an existing topic in the course.",
          "type": "string"
        },
        "description": {
          "description": "Optional description of this course work material. The text must be a valid UTF-8 string containing no more than 30,000 characters.",
          "type": "string"
        },
        "creatorUserId": {
          "description": "Identifier for the user that created the course work material. Read-only.",
          "type": "string"
        },
        "title": {
          "description": "Title of this course work material. The title must be a valid UTF-8 string containing between 1 and 3000 characters.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "Timestamp when this course work material was created. Read-only.",
          "type": "string"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "materials": {
          "description": "Additional materials. A course work material must have no more than 20 material items.",
          "type": "array",
          "items": {
            "$ref": "Material"
          }
        },
        "state": {
          "enum": [
            "COURSEWORK_MATERIAL_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "description": "Status of this course work material. If unspecified, the default state is `DRAFT`.",
          "type": "string",
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for course work material that has been published. This is the default state.",
            "Status for a course work material that is not yet published. Course work material in this state is visible only to course teachers and domain administrators.",
            "Status for course work material that was published but is now deleted. Course work material in this state is visible only to course teachers and domain administrators. Course work material in this state is deleted after some time."
          ]
        },
        "scheduledTime": {
          "description": "Optional timestamp when this course work material is scheduled to be published.",
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "description": "Classroom-assigned identifier of this course work material, unique per course. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Absolute link to this course work material in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only.",
          "type": "string"
        },
        "individualStudentsOptions": {
          "$ref": "IndividualStudentsOptions",
          "description": "Identifiers of students with access to the course work material. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the course work material."
        },
        "assigneeMode": {
          "description": "Assignee mode of the course work material. If unspecified, the default value is `ALL_STUDENTS`.",
          "type": "string",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        }
      },
      "description": "Course work material created by a teacher for students of the course",
      "type": "object"
    },
    "ListAddOnAttachmentsResponse": {
      "id": "ListAddOnAttachmentsResponse",
      "properties": {
        "addOnAttachments": {
          "items": {
            "$ref": "AddOnAttachment"
          },
          "description": "Attachments under the given post.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response when listing add-on attachments.",
      "type": "object"
    },
    "ReturnStudentSubmissionRequest": {
      "description": "Request to return a student submission.",
      "type": "object",
      "properties": {},
      "id": "ReturnStudentSubmissionRequest"
    },
    "AssignmentSubmission": {
      "properties": {
        "attachments": {
          "description": "Attachments added by the student. Drive files that correspond to materials with a share mode of STUDENT_COPY may not exist yet if the student has not accessed the assignment in Classroom. Some attachment metadata is only populated if the requesting user has permission to access it. Identifier and alternate_link fields are always available, but others (for example, title) may not be.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        }
      },
      "id": "AssignmentSubmission",
      "description": "Student work for an assignment.",
      "type": "object"
    },
    "CourseMaterial": {
      "properties": {
        "link": {
          "description": "Link atatchment.",
          "$ref": "Link"
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "Google Drive file attachment."
        },
        "youTubeVideo": {
          "description": "Youtube video attachment.",
          "$ref": "YouTubeVideo"
        },
        "form": {
          "description": "Google Forms attachment.",
          "$ref": "Form"
        }
      },
      "id": "CourseMaterial",
      "description": "A material attached to a course as part of a material set.",
      "type": "object"
    }
  },
  "id": "classroom:v1",
  "revision": "20260707",
  "version": "v1",
  "name": "classroom",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/classroom.addons.teacher": {
          "description": "See, create, and update its own attachments to posts in classes you teach in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.courses": {
          "description": "See, edit, create, and permanently delete your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly": {
          "description": "See all classwork materials for your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.rosters.readonly": {
          "description": "View your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.addons.student": {
          "description": "See and update its own attachments to posts in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.push-notifications": {
          "description": "Receive notifications about your Google Classroom data"
        },
        "https://www.googleapis.com/auth/classroom.profile.photos": {
          "description": "View the profile photos of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials": {
          "description": "See, edit, and create classwork materials in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me": {
          "description": "See, create and edit coursework items including assignments, questions, and grades"
        },
        "https://www.googleapis.com/auth/classroom.announcements.readonly": {
          "description": "View announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.topics": {
          "description": "See, create, and edit topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.courses.readonly": {
          "description": "View your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.announcements": {
          "description": "View and manage announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.topics.readonly": {
          "description": "View topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students": {
          "description": "Manage course work and grades for students in the Google Classroom classes you teach and view the course work and grades for classes you administer"
        },
        "https://www.googleapis.com/auth/classroom.profile.emails": {
          "description": "View the email addresses of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly": {
          "description": "View guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students": {
          "description": "View and manage guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.rosters": {
          "description": "Manage your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly": {
          "description": "View your Google Classroom guardians"
        },
[...]
