{
  "version": "v1",
  "discoveryVersion": "v1",
  "schemas": {
    "GlobalPermission": {
      "description": "Global user permission description.",
      "id": "GlobalPermission",
      "type": "object",
      "properties": {
        "permission": {
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "CREATE_COURSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No permission is specified. This is not returned and is not a valid value.",
            "User is permitted to create a course."
          ],
          "description": "Permission value."
        }
      }
    },
    "ListTeachersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "teachers": {
          "items": {
            "$ref": "Teacher"
          },
          "description": "Teachers who match the list request.",
          "type": "array"
        }
      },
      "id": "ListTeachersResponse",
      "description": "Response when listing teachers.",
      "type": "object"
    },
    "AssignmentSubmission": {
      "id": "AssignmentSubmission",
      "type": "object",
      "description": "Student work for an assignment.",
      "properties": {
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "Attachment"
          },
          "description": "Attachments added by the student. Drive files that correspond to materials with a share mode of STUDENT_COPY may not exist yet if the student has not accessed the assignment in Classroom. Some attachment metadata is only populated if the requesting user has permission to access it. Identifier and alternate_link fields are always available, but others (for example, title) may not be."
        }
      }
    },
    "GradingPeriodSettings": {
      "description": "Grading period settings that include all the individual grading periods in a course.",
      "id": "GradingPeriodSettings",
      "properties": {
        "gradingPeriods": {
          "type": "array",
          "items": {
            "$ref": "GradingPeriod"
          },
          "description": "The list of grading periods in a specific course. Grading periods must not have overlapping date ranges and must be listed in chronological order. Each grading period must have a unique title within a course."
        },
        "applyToExistingCoursework": {
          "description": "Supports toggling the application of grading periods on existing stream items. Once set, this value is persisted meaning that it does not need to be set in every request to update `GradingPeriodSettings`. If not previously set, the default is False.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListStudentGroupsResponse": {
      "description": "Response when listing student groups.",
      "id": "ListStudentGroupsResponse",
      "type": "object",
      "properties": {
        "studentGroups": {
          "items": {
            "$ref": "StudentGroup"
          },
          "type": "array",
          "description": "The student groups."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      }
    },
    "ListCourseAliasesResponse": {
      "type": "object",
      "description": "Response when listing course aliases.",
      "properties": {
        "aliases": {
          "type": "array",
          "description": "The course aliases.",
          "items": {
            "$ref": "CourseAlias"
          }
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "id": "ListCourseAliasesResponse"
    },
    "ListCoursesResponse": {
      "type": "object",
      "id": "ListCoursesResponse",
      "description": "Response when listing courses.",
      "properties": {
        "courses": {
          "description": "Courses that match the list request.",
          "items": {
            "$ref": "Course"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      }
    },
    "ListInvitationsResponse": {
      "id": "ListInvitationsResponse",
      "properties": {
        "invitations": {
          "items": {
            "$ref": "Invitation"
          },
          "description": "Invitations that match the list request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        }
      },
      "description": "Response when listing invitations.",
      "type": "object"
    },
    "GradebookSettings": {
      "description": "The gradebook settings for a course. See the [help center article](https://support.google.com/edu/classroom/answer/9184995) for details.",
      "id": "GradebookSettings",
      "properties": {
        "calculationType": {
          "enum": [
            "CALCULATION_TYPE_UNSPECIFIED",
            "TOTAL_POINTS",
            "WEIGHTED_CATEGORIES"
          ],
          "description": "Indicates how the overall grade is calculated.",
          "enumDescriptions": [
            "No method specified. This is never returned.",
            "Overall grade is the sum of grades divided by the sum of total points regardless of category.",
            "Overall grade is the weighted average by category."
          ],
          "type": "string"
        },
        "displaySetting": {
          "enum": [
            "DISPLAY_SETTING_UNSPECIFIED",
            "SHOW_OVERALL_GRADE",
            "HIDE_OVERALL_GRADE",
            "SHOW_TEACHERS_ONLY"
          ],
          "enumDescriptions": [
            "No setting specified. This is never returned.",
            "Shows overall grade in the gradebook and student profile to both teachers and students.",
            "Does not show overall grade in the gradebook or student profile.",
            "Shows the overall grade to teachers in the gradebook and student profile. Hides from students in their student profile."
          ],
          "type": "string",
          "description": "Indicates who can see the overall grade.."
        },
        "gradeCategories": {
          "type": "array",
          "items": {
            "$ref": "GradeCategory"
          },
          "description": "Grade categories that are available for coursework in the course."
        }
      },
      "type": "object"
    },
    "Criterion": {
      "id": "Criterion",
      "description": "A rubric criterion. Each criterion is a dimension on which performance is rated.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The criterion ID. On creation, an ID is assigned.",
          "type": "string"
        },
        "title": {
          "description": "The title of the criterion.",
          "type": "string"
        },
        "levels": {
          "items": {
            "$ref": "Level"
          },
          "description": "The list of levels within this criterion.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "The description of the criterion."
        }
      }
    },
    "Attachment": {
      "description": "Attachment added to student assignment work. When creating attachments, setting the `form` field is not supported.",
      "properties": {
        "link": {
          "$ref": "Link",
          "description": "Link attachment."
        },
        "driveFile": {
          "description": "Google Drive file attachment.",
          "$ref": "DriveFile"
        },
        "youTubeVideo": {
          "description": "Youtube video attachment.",
          "$ref": "YouTubeVideo"
        },
        "form": {
          "$ref": "Form",
          "description": "Google Forms attachment."
        }
      },
      "id": "Attachment",
      "type": "object"
    },
    "ListAnnouncementsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        },
        "announcements": {
          "type": "array",
          "items": {
            "$ref": "Announcement"
          },
          "description": "Announcement items that match the request."
        }
      },
      "type": "object",
      "description": "Response when listing course work.",
      "id": "ListAnnouncementsResponse"
    },
    "Course": {
      "type": "object",
      "description": "A Course in Classroom.",
      "id": "Course",
      "properties": {
        "enrollmentCode": {
          "type": "string",
          "description": "Enrollment code to use when joining this course. Specifying this field in a course update mask results in an error. Read-only."
        },
        "section": {
          "type": "string",
          "description": "Section of the course. For example, \"Period 2\". If set, this field must be a valid UTF-8 string and no longer than 2800 characters."
        },
        "descriptionHeading": {
          "description": "Optional heading for the description. For example, \"Welcome to 10th Grade Biology.\" If set, this field must be a valid UTF-8 string and no longer than 3600 characters.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "Creation time of the course. Specifying this field in a course update mask results in an error. Read-only.",
          "type": "string"
        },
        "id": {
          "description": "Identifier for this course assigned by Classroom. When creating a course, you may optionally set this identifier to an alias string in the request to create a corresponding alias. The `id` is still assigned by Classroom and cannot be updated after the course is created. Specifying this field in a course update mask results in an error.",
          "type": "string"
        },
        "courseMaterialSets": {
          "type": "array",
          "items": {
            "$ref": "CourseMaterialSet"
          },
          "description": "Sets of materials that appear on the \"about\" page of this course. Read-only.",
          "deprecated": true
        },
        "courseState": {
          "description": "State of the course. If unspecified, the default state is `PROVISIONED`.",
          "type": "string",
          "enumDescriptions": [
            "No course state. No returned Course message will use this value.",
            "The course is active.",
            "The course has been archived. You cannot modify it except to change it to a different state.",
            "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
            "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
            "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
          ],
          "enum": [
            "COURSE_STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "PROVISIONED",
            "DECLINED",
            "SUSPENDED"
          ]
        },
        "name": {
          "description": "Name of the course. For example, \"10th Grade Biology\". The name is required. It must be between 1 and 750 characters and a valid UTF-8 string.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional description. For example, \"We'll be learning about the structure of living creatures from a combination of textbooks, guest lectures, and lab work. Expect to be excited!\" If set, this field must be a valid UTF-8 string and no longer than 30,000 characters."
        },
        "alternateLink": {
          "type": "string",
          "description": "Absolute link to this course in the Classroom web UI. Read-only."
        },
        "guardiansEnabled": {
          "description": "Whether or not guardian notifications are enabled for this course. Read-only.",
          "type": "boolean"
        },
        "room": {
          "type": "string",
          "description": "Optional room location. For example, \"301\". If set, this field must be a valid UTF-8 string and no longer than 650 characters."
        },
        "calendarId": {
          "description": "The Calendar ID for a calendar that all course members can see, to which Classroom adds events for course work and announcements in the course. The Calendar for a course is created asynchronously when the course is set to `CourseState.ACTIVE` for the first time (at creation time or when it is updated to `ACTIVE` through the UI or the API). The Calendar ID will not be populated until the creation process is completed. Read-only.",
          "type": "string"
        },
        "levels": {
          "type": "string",
          "description": "Optional. Levels for the course. Examples: \"9th grade\", \"Middle school\", \"4th - 5th\", \"K-2\", \"3000\". If set, this field must be a valid UTF-8 string and fewer than 1000 characters. This field can only be cleared using the `PatchCourse` method."
        },
        "gradebookSettings": {
          "description": "The gradebook settings that specify how a student's overall grade for the course will be calculated and who it will be displayed to. Read-only.",
          "$ref": "GradebookSettings"
        },
        "updateTime": {
          "description": "Time of the most recent update to this course. Specifying this field in a course update mask results in an error. Read-only.",
          "format": "google-datetime",
          "type": "string"
        },
        "ownerId": {
          "type": "string",
          "description": "The identifier of the owner of a course. When specified as a parameter of a create course request, this field is required. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user This must be set in a create request. Admins can also specify this field in a patch course request to transfer ownership. In other contexts, it is read-only."
        },
        "teacherFolder": {
          "description": "Information about a Drive Folder that is shared with all teachers of the course. This field will only be set for teachers of the course and domain administrators. Read-only.",
          "$ref": "DriveFolder"
        },
        "teacherGroupEmail": {
          "description": "The email address of a Google group containing all teachers of the course. This group does not accept email and can only be used for permissions. Read-only.",
          "type": "string"
        },
        "subject": {
          "description": "Optional. The subject of the course.",
          "type": "string"
        },
        "courseGroupEmail": {
          "description": "The email address of a Google group containing all members of the course. This group does not accept email and can only be used for permissions. Read-only.",
          "type": "string"
        }
      }
    },
    "EmbedUri": {
      "description": "URI to be iframed after being populated with query parameters.",
      "properties": {
        "uri": {
          "description": "Required. URI to be iframed after being populated with query parameters. This must be a valid UTF-8 string containing between 1 and 1800 characters.",
          "type": "string"
        }
      },
      "id": "EmbedUri",
      "type": "object"
    },
    "ModifyAttachmentsRequest": {
      "id": "ModifyAttachmentsRequest",
      "type": "object",
      "properties": {
        "addAttachments": {
          "items": {
            "$ref": "Attachment"
          },
          "type": "array",
          "description": "Attachments to add. A student submission may not have more than 20 attachments. Form attachments are not supported."
        }
      },
      "description": "Request to modify the attachments of a student submission."
    },
    "Topic": {
      "properties": {
        "updateTime": {
          "description": "The time the topic was last updated by the system. Read-only.",
          "format": "google-datetime",
          "type": "string"
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "topicId": {
          "type": "string",
          "description": "Unique identifier for the topic. Read-only."
        },
        "name": {
          "description": "The name of the topic, generated by the user. Leading and trailing whitespaces, if any, are trimmed. Also, multiple consecutive whitespaces are collapsed into one inside the name. The result must be a non-empty string. Topic names are case sensitive, and must be no longer than 100 characters.",
          "type": "string"
        }
      },
      "description": "Topic created by a teacher for the course",
      "id": "Topic",
      "type": "object"
    },
    "Guardian": {
      "type": "object",
      "description": "Association between a student and a guardian of that student. The guardian may receive information about the student's course work.",
      "id": "Guardian",
      "properties": {
        "guardianId": {
          "type": "string",
          "description": "Identifier for the guardian."
        },
        "invitedEmailAddress": {
          "description": "The email address to which the initial guardian invitation was sent. This field is only visible to domain administrators.",
          "type": "string"
        },
        "guardianProfile": {
          "description": "User profile for the guardian.",
          "$ref": "UserProfile"
        },
        "studentId": {
          "type": "string",
          "description": "Identifier for the student to whom the guardian relationship applies."
        }
      }
    },
    "ListGuardiansResponse": {
      "type": "object",
      "id": "ListGuardiansResponse",
      "description": "Response when listing guardians.",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "guardians": {
          "items": {
            "$ref": "Guardian"
          },
          "type": "array",
          "description": "Guardians on this page of results that met the criteria specified in the request."
        }
      }
    },
    "Student": {
      "description": "Student in a course.",
      "type": "object",
      "id": "Student",
      "properties": {
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "userId": {
          "type": "string",
          "description": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
        },
        "studentWorkFolder": {
          "description": "Information about a Drive Folder for this student's work in this course. Only visible to the student and domain administrators. Read-only.",
          "$ref": "DriveFolder"
        },
        "profile": {
          "description": "Global user information for the student. Read-only.",
          "$ref": "UserProfile"
        }
      }
    },
    "ShortAnswerSubmission": {
      "description": "Student work for a short answer question.",
      "id": "ShortAnswerSubmission",
      "type": "object",
      "properties": {
        "answer": {
          "description": "Student response to a short-answer question.",
          "type": "string"
        }
      }
    },
    "CloudPubsubTopic": {
      "id": "CloudPubsubTopic",
      "description": "A reference to a Cloud Pub/Sub topic. To register for notifications, the owner of the topic must grant `classroom-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pub/Sub [Topic](https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        }
      },
      "type": "object"
    },
    "ReturnStudentSubmissionRequest": {
      "description": "Request to return a student submission.",
      "type": "object",
      "id": "ReturnStudentSubmissionRequest",
      "properties": {}
    },
    "AddOnAttachment": {
      "description": "An add-on attachment on a post.",
      "id": "AddOnAttachment",
      "type": "object",
      "properties": {
        "maxPoints": {
          "description": "Maximum grade for this attachment. Can only be set if `studentWorkReviewUri` is set. Set to a non-zero value to indicate that the attachment supports grade passback. If set, this must be a non-negative integer value. When set to zero, the attachment will not support grade passback.",
          "type": "number",
          "format": "double"
        },
        "postId": {
          "type": "string",
          "deprecated": true,
          "description": "Immutable. Deprecated, use `item_id` instead."
        },
        "studentViewUri": {
          "description": "Required. URI to show the student view of the attachment. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, and `attachmentId` query parameters set.",
          "$ref": "EmbedUri"
        },
        "copyHistory": {
          "type": "array",
          "description": "Output only. Identifiers of attachments that were previous copies of this attachment. If the attachment was previously copied by virtue of its parent post being copied, this enumerates the identifiers of attachments that were its previous copies in ascending chronological order of copy.",
          "items": {
            "$ref": "CopyHistory"
          },
          "readOnly": true
        },
        "studentWorkReviewUri": {
          "$ref": "EmbedUri",
          "description": "URI for the teacher to see student work on the attachment, if applicable. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, `attachmentId`, and `submissionId` query parameters set. This is the same `submissionId` returned in the [`AddOnContext.studentContext`](/workspace/classroom/reference/rest/v1/AddOnContext#StudentContext) field when a student views the attachment. If the URI is omitted or removed, `max_points` will also be discarded."
        },
        "id": {
          "type": "string",
          "description": "Immutable. Classroom-assigned identifier for this attachment, unique per post."
        },
        "teacherViewUri": {
          "$ref": "EmbedUri",
          "description": "Required. URI to show the teacher view of the attachment. The URI will be opened in an iframe with the `courseId`, `itemId`, `itemType`, and `attachmentId` query parameters set."
        },
        "itemId": {
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached. Unique per course.",
          "type": "string"
        },
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        },
        "title": {
          "description": "Required. Title of this attachment. The title must be between 1 and 1000 characters.",
          "type": "string"
        },
        "dueDate": {
          "$ref": "Date",
          "description": "Date, in UTC, that work on this attachment is due. This must be specified if `due_time` is specified."
        },
        "dueTime": {
          "$ref": "TimeOfDay",
          "description": "Time of day, in UTC, that work on this attachment is due. This must be specified if `due_date` is specified."
        }
      }
    },
    "SubmissionHistory": {
      "id": "SubmissionHistory",
      "description": "The history of the submission. This currently includes state and grade histories.",
      "properties": {
        "stateHistory": {
          "$ref": "StateHistory",
          "description": "The state history information of the submission, if present."
        },
        "gradeHistory": {
          "description": "The grade history information of the submission, if present.",
          "$ref": "GradeHistory"
        }
      },
      "type": "object"
    },
    "TimeOfDay": {
      "properties": {
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay"
    },
    "CopyHistory": {
      "type": "object",
      "id": "CopyHistory",
      "description": "Identifier of a previous copy of a given attachment.",
      "properties": {
        "attachmentId": {
          "type": "string",
          "description": "Immutable. Identifier of the attachment."
        },
        "postId": {
          "description": "Immutable. Deprecated, use `item_id` instead.",
          "type": "string",
          "deprecated": true
        },
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached."
        }
      }
    },
    "CourseMaterial": {
      "description": "A material attached to a course as part of a material set.",
      "type": "object",
      "properties": {
        "link": {
          "description": "Link atatchment.",
          "$ref": "Link"
        },
        "youTubeVideo": {
          "description": "Youtube video attachment.",
          "$ref": "YouTubeVideo"
        },
        "driveFile": {
          "description": "Google Drive file attachment.",
          "$ref": "DriveFile"
        },
        "form": {
          "description": "Google Forms attachment.",
          "$ref": "Form"
        }
      },
      "id": "CourseMaterial"
    },
    "Registration": {
      "type": "object",
      "description": "An instruction to Classroom to send notifications from the `feed` to the provided destination.",
      "id": "Registration",
      "properties": {
        "feed": {
          "$ref": "Feed",
          "description": "Specification for the class of notifications that Classroom should deliver to the destination."
        },
        "registrationId": {
          "description": "A server-generated unique identifier for this `Registration`. Read-only.",
          "type": "string"
        },
        "cloudPubsubTopic": {
          "description": "The Cloud Pub/Sub topic that notifications are to be sent to.",
          "$ref": "CloudPubsubTopic"
        },
        "expiryTime": {
          "format": "google-datetime",
          "description": "The time until which the `Registration` is effective. This is a read-only field assigned by the server.",
          "type": "string"
        }
      }
    },
    "CourseWorkChangesInfo": {
      "type": "object",
      "description": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`.",
      "id": "CourseWorkChangesInfo",
      "properties": {
        "courseId": {
          "type": "string",
          "description": "The `course_id` of the course to subscribe to work changes for."
        }
      }
    },
    "ListAddOnAttachmentsResponse": {
      "description": "Response when listing add-on attachments.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "addOnAttachments": {
          "items": {
            "$ref": "AddOnAttachment"
          },
          "description": "Attachments under the given post.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListAddOnAttachmentsResponse"
    },
    "CourseMaterialSet": {
      "description": "A set of materials that appears on the \"About\" page of the course. These materials might include a syllabus, schedule, or other background information relating to the course as a whole.",
      "id": "CourseMaterialSet",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title for this set.",
          "type": "string"
        },
        "materials": {
          "description": "Materials attached to this set.",
          "items": {
            "$ref": "CourseMaterial"
          },
          "type": "array"
        }
      }
    },
    "YouTubeVideo": {
      "type": "object",
      "id": "YouTubeVideo",
      "description": "YouTube video item.",
      "properties": {
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image of the YouTube video. Read-only."
        },
        "alternateLink": {
          "type": "string",
          "description": "URL that can be used to view the YouTube video. Read-only."
        },
        "id": {
          "type": "string",
          "description": "YouTube API resource ID."
        },
        "title": {
          "type": "string",
          "description": "Title of the YouTube video. Read-only."
        }
      }
    },
    "SharedDriveFile": {
      "id": "SharedDriveFile",
      "type": "object",
      "description": "Drive file that is used as material for course work.",
      "properties": {
        "driveFile": {
          "$ref": "DriveFile",
          "description": "Drive file details."
        },
        "shareMode": {
          "enumDescriptions": [
            "No sharing mode specified. This should never be returned.",
            "Students can view the shared file.",
            "Students can edit the shared file.",
            "Students have a personal copy of the shared file."
          ],
          "description": "Mechanism by which students access the Drive item.",
          "enum": [
            "UNKNOWN_SHARE_MODE",
            "VIEW",
            "EDIT",
            "STUDENT_COPY"
          ],
          "type": "string"
        }
      }
    },
    "Link": {
      "description": "URL item.",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL to link to. This must be a valid UTF-8 string containing between 1 and 2024 characters.",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image of the target URL. Read-only.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the target of the URL. Read-only."
        }
      },
      "id": "Link"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Assignment": {
      "id": "Assignment",
      "properties": {
        "studentWorkFolder": {
          "description": "Drive folder where attachments from student submissions are placed. This is only populated for course teachers and administrators.",
          "$ref": "DriveFolder"
        }
      },
      "type": "object",
      "description": "Additional details for assignments."
    },
    "StudentSubmission": {
      "id": "StudentSubmission",
      "description": "Student submission for course work. `StudentSubmission` items are generated when a `CourseWork` item is created. Student submissions that have never been accessed (i.e. with `state` = NEW) may not have a creation time or update time.",
      "type": "object",
      "properties": {
        "draftRubricGrades": {
          "description": "Pending rubric grades based on the rubric's criteria. This map is empty if there is no rubric attached to this course work or if a rubric is attached, but no grades have been set on any criteria. Entries are only populated for grades that have been set. Key: The rubric's criterion ID. Read-only.",
          "additionalProperties": {
            "$ref": "RubricGrade"
          },
          "type": "object"
        },
        "id": {
          "description": "Classroom-assigned Identifier for the student submission. This is unique among submissions for the relevant course work. Read-only.",
          "type": "string"
        },
        "courseWorkId": {
          "type": "string",
          "description": "Identifier for the course work this corresponds to. Read-only."
        },
        "submissionHistory": {
          "items": {
            "$ref": "SubmissionHistory"
          },
          "description": "The history of the submission (includes state and grade histories). Read-only.",
          "type": "array"
        },
        "associatedWithDeveloper": {
          "type": "boolean",
          "description": "Whether this student submission is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only."
        },
        "assignedGrade": {
          "type": "number",
          "format": "double",
          "description": "Optional grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This may be modified only by course teachers."
        },
        "state": {
          "enum": [
            "SUBMISSION_STATE_UNSPECIFIED",
            "NEW",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT"
          ],
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
            "Has been created.",
            "Has been turned in to the teacher.",
            "Has been returned to the student.",
            "Student chose to \"unsubmit\" the assignment."
          ],
          "description": "State of this submission. Read-only.",
          "type": "string"
        },
        "userId": {
          "description": "Identifier for the student that owns this submission. Read-only.",
          "type": "string"
        },
        "late": {
          "type": "boolean",
          "description": "Whether this submission is late. Read-only."
        },
        "draftGrade": {
          "type": "number",
          "format": "double",
          "description": "Optional pending grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This is only visible to and modifiable by course teachers."
        },
        "assignedRubricGrades": {
          "type": "object",
          "description": "Assigned rubric grades based on the rubric's Criteria. This map is empty if there is no rubric attached to this course work or if a rubric is attached, but no grades have been set on any Criteria. Entries are only populated for grades that have been set. Key: The rubric's criterion ID. Read-only.",
          "additionalProperties": {
            "$ref": "RubricGrade"
          }
        },
        "courseWorkType": {
          "description": "Type of course work this submission is for. Read-only.",
          "enumDescriptions": [
            "No work type specified. This is never returned.",
            "An assignment.",
            "A short answer question.",
            "A multiple-choice question."
          ],
          "enum": [
            "COURSE_WORK_TYPE_UNSPECIFIED",
            "ASSIGNMENT",
            "SHORT_ANSWER_QUESTION",
            "MULTIPLE_CHOICE_QUESTION"
          ],
          "type": "string"
        },
        "shortAnswerSubmission": {
          "description": "Submission content when course_work_type is SHORT_ANSWER_QUESTION.",
          "$ref": "ShortAnswerSubmission"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation time of this submission. This may be unset if the student has not accessed this item. Read-only."
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "multipleChoiceSubmission": {
          "description": "Submission content when course_work_type is MULTIPLE_CHOICE_QUESTION.",
          "$ref": "MultipleChoiceSubmission"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last update time of this submission. This may be unset if the student has not accessed this item. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Absolute link to the submission in the Classroom web UI. Read-only.",
          "type": "string"
        },
        "assignmentSubmission": {
          "description": "Submission content when course_work_type is ASSIGNMENT. Students can modify this content using ModifyAttachments.",
          "$ref": "AssignmentSubmission"
        }
      }
    },
    "MultipleChoiceQuestion": {
      "type": "object",
      "id": "MultipleChoiceQuestion",
      "properties": {
        "choices": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Possible choices."
        }
      },
      "description": "Additional details for multiple-choice questions."
    },
    "IndividualStudentsOptions": {
      "description": "Assignee details about a coursework/announcement. This field is set if and only if `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
      "properties": {
        "studentIds": {
          "description": "Identifiers for the students that have access to the coursework/announcement.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "IndividualStudentsOptions"
    },
    "ListRubricsResponse": {
      "id": "ListRubricsResponse",
      "description": "Response when listing rubrics.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "rubrics": {
          "type": "array",
          "description": "Rubrics that match the request.",
          "items": {
            "$ref": "Rubric"
          }
        }
      }
    },
    "GeminiGem": {
      "properties": {
        "title": {
          "description": "Title of the Gem.",
          "type": "string"
        },
        "id": {
          "description": "Gems resource id.",
          "type": "string"
        },
        "url": {
          "description": "URL that can be used to access the Gem.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GeminiGem",
      "description": "Gemini Gem link."
    },
    "RubricGrade": {
      "properties": {
        "points": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional points assigned for this criterion, typically based on the level. Levels might or might not have points. If unset, no points were set for this criterion."
        },
        "levelId": {
          "description": "Optional. Optional level ID of the selected level. If empty, no level was selected.",
          "type": "string"
        },
        "criterionId": {
          "description": "Optional. Criterion ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A rubric grade set for the student submission. There is at most one entry per rubric criterion.",
      "id": "RubricGrade"
    },
    "TeacherContext": {
      "description": "Role-specific context if the requesting user is a teacher.",
      "properties": {},
      "id": "TeacherContext",
      "type": "object"
    },
    "ModifyIndividualStudentsOptions": {
      "description": "Contains fields to add or remove students from a course work or announcement where the `assigneeMode` is set to `INDIVIDUAL_STUDENTS`.",
      "id": "ModifyIndividualStudentsOptions",
      "properties": {
        "removeStudentIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of students to be removed from having access to this coursework/announcement."
        },
        "addStudentIds": {
          "description": "IDs of students to be added as having access to this coursework/announcement.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GuardianInvitation": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Should never be returned.",
            "The invitation is active and awaiting a response.",
            "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
          ],
          "type": "string",
          "description": "The state that this invitation is in.",
          "enum": [
            "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ]
        },
        "studentId": {
          "type": "string",
          "description": "ID of the student (in standard format)"
        },
        "invitedEmailAddress": {
          "type": "string",
          "description": "Email address that the invitation was sent to. This field is only visible to domain administrators."
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "The time that this invitation was created. Read-only.",
          "type": "string"
        },
        "invitationId": {
          "type": "string",
          "description": "Unique identifier for this invitation. Read-only."
        }
      },
      "id": "GuardianInvitation",
      "description": "An invitation to become the guardian of a specified user, sent to a specified email address.",
      "type": "object"
    },
    "AddOnContext": {
      "id": "AddOnContext",
      "properties": {
        "itemId": {
          "type": "string",
          "description": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached."
        },
        "teacherContext": {
          "$ref": "TeacherContext",
          "description": "Add-on context corresponding to the requesting user's role as a teacher. Its presence implies that the requesting user is a teacher in the course."
        },
        "supportsStudentWork": {
          "description": "Optional. Whether the post allows the teacher to see student work and passback grades.",
          "type": "boolean"
        },
        "studentContext": {
          "$ref": "StudentContext",
          "description": "Add-on context corresponding to the requesting user's role as a student. Its presence implies that the requesting user is a student in the course."
        },
        "courseId": {
          "description": "Immutable. Identifier of the course.",
          "type": "string"
        },
        "postId": {
          "type": "string",
          "deprecated": true,
          "description": "Immutable. Deprecated, use `item_id` instead."
        }
      },
      "description": "Attachment-relevant metadata for Classroom add-ons in the context of a specific post.",
      "type": "object"
    },
    "Rubric": {
      "properties": {
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "id": {
          "description": "Classroom-assigned identifier for the rubric. This is unique among rubrics for the relevant course work. Read-only.",
          "type": "string"
        },
        "creationTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this rubric was created. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "sourceSpreadsheetId": {
          "type": "string",
          "description": "Input only. Immutable. Google Sheets ID of the spreadsheet. This spreadsheet must contain formatted rubric settings. See [Create or reuse a rubric for an assignment](https://support.google.com/edu/classroom/answer/9335069). Use of this field requires the `https://www.googleapis.com/auth/spreadsheets.readonly` or `https://www.googleapis.com/auth/spreadsheets` scope."
        },
        "criteria": {
          "type": "array",
          "description": "List of criteria. Each criterion is a dimension on which performance is rated.",
          "items": {
            "$ref": "Criterion"
          }
        },
        "courseWorkId": {
          "description": "Identifier for the course work this corresponds to. Read-only.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp of the most recent change to this rubric. Read-only.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "The rubric of the course work. A rubric is a scoring guide used to evaluate student work and give feedback. For further details, see [Rubrics structure and known limitations](/classroom/rubrics/limitations).",
      "id": "Rubric",
      "type": "object"
    },
    "GradeCategory": {
      "type": "object",
      "description": "Details for a grade category in a course. Coursework may have zero or one grade category, and the category may be used in computing the overall grade. See the [help center article](https://support.google.com/edu/classroom/answer/9184995) for details.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the grade category."
        },
        "defaultGradeDenominator": {
          "description": "Default value of denominator. Only applicable when grade calculation type is TOTAL_POINTS.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "description": "ID of the grade category.",
          "type": "string"
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "The weight of the category average as part of overall average. A weight of 12.34% is represented as 123400 (100% is 1,000,000). The last two digits should always be zero since we use two decimal precision. Only applicable when grade calculation type is WEIGHTED_CATEGORIES."
        }
      },
      "id": "GradeCategory"
    },
    "StateHistory": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT",
            "STUDENT_EDITED_AFTER_TURN_IN"
          ],
          "description": "The workflow pipeline stage.",
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The Submission has been created.",
            "The student has turned in an assigned document, which may or may not be a template.",
            "The teacher has returned the assigned document to the student.",
            "The student turned in the assigned document, and then chose to \"unsubmit\" the assignment, giving the student control again as the owner.",
            "The student edited their submission after turning it in. Currently, only used by Questions, when the student edits their answer."
          ]
        },
        "actorUserId": {
          "type": "string",
          "description": "The teacher or student who made the change."
        },
        "stateTimestamp": {
          "format": "google-datetime",
          "description": "When the submission entered this state.",
          "type": "string"
        }
      },
      "id": "StateHistory",
      "type": "object",
      "description": "The history of each state this submission has been in."
    },
    "Material": {
      "properties": {
        "notebook": {
          "$ref": "NotebookLmNotebook",
          "description": "NotebookLM Notebook material. Read-only."
        },
        "form": {
          "description": "Google Forms material. Read-only.",
          "$ref": "Form"
        },
        "driveFile": {
          "$ref": "SharedDriveFile",
          "description": "Google Drive file material."
        },
        "gem": {
          "$ref": "GeminiGem",
          "description": "Gemini Gem material. Read-only."
        },
        "youtubeVideo": {
          "description": "YouTube video material.",
          "$ref": "YouTubeVideo"
        },
        "link": {
          "$ref": "Link",
          "description": "Link material. On creation, this is upgraded to a more appropriate type if possible, and this is reflected in the response."
        }
      },
      "id": "Material",
      "description": "Material attached to course work. When creating attachments, setting the `form`, `gem`, or `notebook` field is not supported.",
      "type": "object"
    },
    "NotebookLmNotebook": {
      "type": "object",
      "description": "NotebookLM Notebook link.",
      "properties": {
        "url": {
          "description": "URL that can be used to access the Notebook.",
          "type": "string"
        },
        "id": {
          "description": "Notebook resource id.",
          "type": "string"
        },
        "title": {
          "description": "Title of the Notebook.",
          "type": "string"
        }
      },
      "id": "NotebookLmNotebook"
    },
    "Invitation": {
      "type": "object",
      "properties": {
        "courseId": {
          "type": "string",
          "description": "Identifier of the course to invite the user to."
        },
        "id": {
          "type": "string",
          "description": "Identifier assigned by Classroom. Read-only."
        },
        "userId": {
          "description": "Identifier of the invited user. When specified as a parameter of a request, this identifier can be set to one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
          "type": "string"
        },
        "role": {
          "enum": [
            "COURSE_ROLE_UNSPECIFIED",
            "STUDENT",
            "TEACHER",
            "OWNER"
          ],
          "enumDescriptions": [
            "No course role.",
            "Student in the course.",
            "Teacher of the course.",
            "Owner of the course."
          ],
          "type": "string",
          "description": "Role to invite the user to have. Must not be `COURSE_ROLE_UNSPECIFIED`."
        }
      },
      "description": "An invitation to join a course.",
      "id": "Invitation"
    },
    "CourseRosterChangesInfo": {
      "type": "object",
      "description": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`.",
      "properties": {
        "courseId": {
          "type": "string",
          "description": "The `course_id` of the course to subscribe to roster changes for."
        }
      },
      "id": "CourseRosterChangesInfo"
    },
    "ModifyCourseWorkAssigneesRequest": {
      "type": "object",
      "properties": {
        "modifyIndividualStudentsOptions": {
          "description": "Set which students are assigned or not assigned to the coursework. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
          "$ref": "ModifyIndividualStudentsOptions"
        },
        "assigneeMode": {
          "type": "string",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "description": "Mode of the coursework describing whether it will be assigned to all students or specified individual students.",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        }
      },
      "description": "Request to modify assignee mode and options of a coursework.",
      "id": "ModifyCourseWorkAssigneesRequest"
    },
    "ListCourseWorkMaterialResponse": {
      "id": "ListCourseWorkMaterialResponse",
      "properties": {
        "courseWorkMaterial": {
          "type": "array",
          "items": {
            "$ref": "CourseWorkMaterial"
          },
          "description": "Course work material items that match the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "type": "object",
      "description": "Response when listing course work material."
    },
    "CourseWorkMaterial": {
      "id": "CourseWorkMaterial",
      "description": "Course work material created by a teacher for students of the course",
      "properties": {
        "description": {
          "description": "Optional description of this course work material. The text must be a valid UTF-8 string containing no more than 30,000 characters.",
          "type": "string"
        },
        "materials": {
          "description": "Additional materials. A course work material must have no more than 20 material items.",
          "type": "array",
          "items": {
            "$ref": "Material"
          }
        },
        "assigneeMode": {
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "type": "string",
          "description": "Assignee mode of the course work material. If unspecified, the default value is `ALL_STUDENTS`."
        },
        "updateTime": {
          "description": "Timestamp of the most recent change to this course work material. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "individualStudentsOptions": {
          "$ref": "IndividualStudentsOptions",
          "description": "Identifiers of students with access to the course work material. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the course work material."
        },
        "topicId": {
          "description": "Identifier for the topic that this course work material is associated with. Must match an existing topic in the course.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "description": "Timestamp when this course work material was created. Read-only.",
          "format": "google-datetime"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "type": "string",
          "description": "Absolute link to this course work material in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only."
        },
        "title": {
          "description": "Title of this course work material. The title must be a valid UTF-8 string containing between 1 and 3000 characters.",
          "type": "string"
        },
        "scheduledTime": {
          "description": "Optional timestamp when this course work material is scheduled to be published.",
          "type": "string",
          "format": "google-datetime"
        },
        "creatorUserId": {
          "description": "Identifier for the user that created the course work material. Read-only.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Classroom-assigned identifier of this course work material, unique per course. Read-only."
        },
        "state": {
          "description": "Status of this course work material. If unspecified, the default state is `DRAFT`.",
          "type": "string",
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for course work material that has been published. This is the default state.",
            "Status for a course work material that is not yet published. Course work material in this state is visible only to course teachers and domain administrators.",
            "Status for course work material that was published but is now deleted. Course work material in this state is visible only to course teachers and domain administrators. Course work material in this state is deleted after some time."
          ],
          "enum": [
            "COURSEWORK_MATERIAL_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ]
        }
      },
      "type": "object"
    },
    "CourseAlias": {
      "description": "Alternative identifier for a course. An alias uniquely identifies a course. It must be unique within one of the following scopes: * domain: A domain-scoped alias is visible to all users within the alias creator's domain and can be created only by a domain admin. A domain-scoped alias is often used when a course has an identifier external to Classroom. * project: A project-scoped alias is visible to any request from an application using the Developer Console project ID that created the alias and can be created by any project. A project-scoped alias is often used when an application has alternative identifiers. A random value can also be used to avoid duplicate courses in the event of transmission failures, as retrying a request will return `ALREADY_EXISTS` if a previous one has succeeded.",
      "type": "object",
      "id": "CourseAlias",
      "properties": {
        "alias": {
          "type": "string",
          "description": "Alias string. The format of the string indicates the desired alias scoping. * `d:` indicates a domain-scoped alias. Example: `d:math_101` * `p:` indicates a project-scoped alias. Example: `p:abc123` This field has a maximum length of 256 characters."
        }
      }
    },
    "ListTopicResponse": {
      "id": "ListTopicResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        },
        "topic": {
          "description": "Topic items that match the request.",
          "type": "array",
          "items": {
            "$ref": "Topic"
          }
        }
      },
      "type": "object",
      "description": "Response when listing topics."
    },
    "GradeHistory": {
      "properties": {
        "pointsEarned": {
          "type": "number",
          "description": "The numerator of the grade at this time in the submission grade history.",
          "format": "double"
        },
        "maxPoints": {
          "format": "double",
          "type": "number",
          "description": "The denominator of the grade at this time in the submission grade history."
        },
        "gradeTimestamp": {
          "description": "When the grade of the submission was changed.",
          "type": "string",
          "format": "google-datetime"
        },
        "gradeChangeType": {
          "type": "string",
          "enumDescriptions": [
            "No grade change type specified. This should never be returned.",
            "A change in the numerator of the draft grade.",
            "A change in the numerator of the assigned grade.",
            "A change in the denominator of the grade."
          ],
          "description": "The type of grade change at this time in the submission grade history.",
          "enum": [
            "UNKNOWN_GRADE_CHANGE_TYPE",
            "DRAFT_GRADE_POINTS_EARNED_CHANGE",
            "ASSIGNED_GRADE_POINTS_EARNED_CHANGE",
            "MAX_POINTS_CHANGE"
          ]
        },
        "actorUserId": {
          "type": "string",
          "description": "The teacher who made the grade change."
        }
      },
      "type": "object",
      "description": "The history of each grade on this submission.",
      "id": "GradeHistory"
    },
    "AddOnAttachmentStudentSubmission": {
      "type": "object",
      "description": "Payload for grade update requests.",
      "properties": {
        "userId": {
          "description": "Identifier for the student that owns this submission. Requires the user to be a teacher in the course and have permission to read student submissions. See [`courseWork.studentSubmissions.get`](/workspace/classroom/reference/rest/v1/courses.courseWork.studentSubmissions/get#authorization-scopes) for the list of acceptable OAuth scopes for this field. Read-only.",
          "type": "string"
        },
        "postSubmissionState": {
          "type": "string",
          "description": "Submission state of add-on attachment's parent post (i.e. assignment).",
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
            "Has been created.",
            "Has been turned in to the teacher.",
            "Has been returned to the student.",
            "Student chose to \"unsubmit\" the assignment."
          ],
          "enum": [
            "SUBMISSION_STATE_UNSPECIFIED",
            "NEW",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT"
          ]
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Classroom-assigned identifier for this student submission. This is unique among submissions for the relevant course work and add-on attachment combination."
        },
        "courseWorkSubmissionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier of the course work submission under which this attachment submission was made."
        },
        "pointsEarned": {
          "description": "Student grade on this attachment. If unset, no grade was set.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "AddOnAttachmentStudentSubmission"
    },
    "ListCourseWorkResponse": {
      "id": "ListCourseWorkResponse",
      "description": "Response when listing course work.",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "courseWork": {
          "description": "Course work items that match the request.",
          "type": "array",
          "items": {
            "$ref": "CourseWork"
          }
        }
      },
      "type": "object"
    },
    "Level": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the level. If the level has no points set, title must be set."
        },
        "id": {
          "description": "The level ID. On creation, an ID is assigned.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the level."
        },
        "points": {
          "type": "number",
          "format": "double",
          "description": "Optional points associated with this level. If set, all levels within the rubric must specify points and the value must be distinct across all levels within a single criterion. 0 is distinct from no points."
        }
      },
      "type": "object",
      "id": "Level",
      "description": "A level of the criterion."
    },
    "ListGuardianInvitationsResponse": {
      "description": "Response when listing guardian invitations.",
      "id": "ListGuardianInvitationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "guardianInvitations": {
          "type": "array",
          "description": "Guardian invitations that matched the list request.",
          "items": {
            "$ref": "GuardianInvitation"
          }
        }
      },
      "type": "object"
    },
    "Feed": {
      "description": "A class of notifications that an application can register to receive. For example: \"all roster changes for a domain\".",
      "type": "object",
      "id": "Feed",
      "properties": {
        "courseWorkChangesInfo": {
          "$ref": "CourseWorkChangesInfo",
          "description": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`. This field must be specified if `feed_type` is `COURSE_WORK_CHANGES`."
        },
        "courseRosterChangesInfo": {
          "$ref": "CourseRosterChangesInfo",
          "description": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`. This field must be specified if `feed_type` is `COURSE_ROSTER_CHANGES`."
        },
        "feedType": {
          "type": "string",
          "enumDescriptions": [
            "Should never be returned or provided.",
            "All roster changes for a particular domain. Notifications will be generated whenever a user joins or leaves a course. No notifications will be generated when an invitation is created or deleted, but notifications will be generated when a user joins a course by accepting an invitation.",
            "All roster changes for a particular course. Notifications will be generated whenever a user joins or leaves a course. No notifications will be generated when an invitation is created or deleted, but notifications will be generated when a user joins a course by accepting an invitation.",
            "All course work activity for a particular course. Notifications will be generated when a CourseWork or StudentSubmission object is created or modified. No notification will be generated when a StudentSubmission object is created in connection with the creation or modification of its parent CourseWork object (but a notification will be generated for that CourseWork object's creation or modification)."
          ],
          "description": "The type of feed.",
          "enum": [
            "FEED_TYPE_UNSPECIFIED",
            "DOMAIN_ROSTER_CHANGES",
            "COURSE_ROSTER_CHANGES",
            "COURSE_WORK_CHANGES"
          ]
        }
      }
    },
    "CourseWork": {
      "id": "CourseWork",
      "type": "object",
      "properties": {
        "associatedWithDeveloper": {
          "description": "Whether this course work item is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only.",
          "type": "boolean"
        },
        "workType": {
          "enum": [
            "COURSE_WORK_TYPE_UNSPECIFIED",
            "ASSIGNMENT",
            "SHORT_ANSWER_QUESTION",
            "MULTIPLE_CHOICE_QUESTION"
          ],
          "enumDescriptions": [
            "No work type specified. This is never returned.",
            "An assignment.",
            "A short answer question.",
            "A multiple-choice question."
          ],
          "description": "Type of this course work. The type is set when the course work is created and cannot be changed.",
          "type": "string"
        },
        "dueTime": {
          "description": "Optional time of day, in UTC, that submissions for this course work are due. This must be specified if `due_date` is specified.",
          "$ref": "TimeOfDay"
        },
        "individualStudentsOptions": {
          "description": "Identifiers of students with access to the coursework. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field are assigned the coursework.",
          "$ref": "IndividualStudentsOptions"
        },
        "maxPoints": {
          "type": "number",
          "format": "double",
          "description": "Maximum grade for this course work. If zero or unspecified, this assignment is considered ungraded. This must be a non-negative integer value."
        },
        "submissionModificationMode": {
          "enumDescriptions": [
            "No modification mode specified. This is never returned.",
            "Submissions can be modified before being turned in.",
            "Submissions can be modified at any time."
          ],
          "enum": [
            "SUBMISSION_MODIFICATION_MODE_UNSPECIFIED",
            "MODIFIABLE_UNTIL_TURNED_IN",
            "MODIFIABLE"
          ],
          "description": "Setting to determine when students are allowed to modify submissions. If unspecified, the default value is `MODIFIABLE_UNTIL_TURNED_IN`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional description of this course work. If set, the description must be a valid UTF-8 string containing no more than 30,000 characters."
        },
        "multipleChoiceQuestion": {
          "$ref": "MultipleChoiceQuestion",
          "description": "Multiple choice question details. For read operations, this field is populated only when `work_type` is `MULTIPLE_CHOICE_QUESTION`. For write operations, this field must be specified when creating course work with a `work_type` of `MULTIPLE_CHOICE_QUESTION`, and it must not be set otherwise."
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when this course work was created. Read-only."
        },
        "id": {
          "type": "string",
          "description": "Classroom-assigned identifier of this course work, unique per course. Read-only."
        },
        "assigneeMode": {
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "description": "Assignee mode of the coursework. If unspecified, the default value is `ALL_STUDENTS`.",
          "type": "string"
        },
        "gradeCategory": {
          "description": "The category that this coursework's grade contributes to. Present only when a category has been chosen for the coursework. May be used in calculating the overall grade. Read-only.",
          "$ref": "GradeCategory"
        },
        "topicId": {
          "type": "string",
          "description": "Identifier for the topic that this coursework is associated with. Must match an existing topic in the course."
        },
        "dueDate": {
          "description": "Optional date, in UTC, that submissions for this course work are due. This must be specified if `due_time` is specified.",
          "$ref": "Date"
        },
        "materials": {
          "items": {
            "$ref": "Material"
          },
          "type": "array",
          "description": "Additional materials. CourseWork must have no more than 20 material items."
        },
        "title": {
          "type": "string",
          "description": "Title of this course work. The title must be a valid UTF-8 string containing between 1 and 3000 characters."
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "scheduledTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional timestamp when this course work is scheduled to be published."
        },
        "creatorUserId": {
          "description": "Identifier for the user that created the coursework. Read-only.",
          "type": "string"
        },
        "assignment": {
          "description": "Assignment details. This is populated only when `work_type` is `ASSIGNMENT`. Read-only.",
          "$ref": "Assignment"
        },
        "gradingPeriodId": {
          "description": "Identifier of the grading period associated with the coursework. * At creation, if unspecified, the grading period ID will be set based on the `dueDate` (or `scheduledTime` if no `dueDate` is set). * To indicate no association to any grading period, set this field to an empty string (\"\"). * If specified, it must match an existing grading period ID in the course.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Absolute link to this course work in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for work that has been published. This is the default state.",
            "Status for work that is not yet published. Work in this state is visible only to course teachers and domain administrators.",
            "Status for work that was published but is now deleted. Work in this state is visible only to course teachers and domain administrators. Work in this state is deleted after some time."
          ],
          "enum": [
            "COURSE_WORK_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "description": "Status of this course work. If unspecified, the default state is `DRAFT`."
        },
        "updateTime": {
          "type": "string",
          "description": "Timestamp of the most recent change to this course work. Read-only.",
          "format": "google-datetime"
        }
      },
      "description": "Course work created by a teacher for students of the course."
    },
    "StudentContext": {
      "id": "StudentContext",
      "properties": {
        "submissionId": {
          "type": "string",
          "description": "Requesting user's submission id to be used for grade passback and to identify the student when showing student work to the teacher. This is set exactly when `supportsStudentWork` is `true`."
        }
      },
      "description": "Role-specific context if the requesting user is a student.",
      "type": "object"
    },
    "StudentGroupMember": {
      "type": "object",
      "properties": {
        "userId": {
          "description": "Identifier of the student.",
          "type": "string"
        },
        "courseId": {
          "type": "string",
          "description": "The identifier of the course."
        },
        "studentGroupId": {
          "description": "The identifier of the student group.",
          "type": "string"
        }
      },
      "description": "A student member in a student group.",
      "id": "StudentGroupMember"
    },
    "Form": {
      "description": "Google Forms item.",
      "type": "object",
      "id": "Form",
      "properties": {
        "responseUrl": {
          "type": "string",
          "description": "URL of the form responses document. Only set if responses have been recorded and only when the requesting user is an editor of the form. Read-only."
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image of the Form. Read-only."
        },
        "formUrl": {
          "description": "URL of the form.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the Form. Read-only."
        }
      }
    },
    "ListStudentGroupMembersResponse": {
      "type": "object",
      "id": "ListStudentGroupMembersResponse",
      "description": "Response when listing students in a group.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        },
        "studentGroupMembers": {
          "items": {
            "$ref": "StudentGroupMember"
          },
          "type": "array",
          "description": "The student group members."
        }
      }
    },
    "ReclaimStudentSubmissionRequest": {
      "id": "ReclaimStudentSubmissionRequest",
      "properties": {},
      "description": "Request to reclaim a student submission.",
      "type": "object"
    },
    "DriveFile": {
      "id": "DriveFile",
      "type": "object",
      "description": "Representation of a Google Drive file.",
      "properties": {
        "alternateLink": {
          "description": "URL that can be used to access the Drive item. Read-only.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the Drive item. Read-only."
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image of the Drive item. Read-only."
        },
        "id": {
          "type": "string",
          "description": "Drive API resource ID."
        }
      }
    },
    "ListStudentsResponse": {
      "id": "ListStudentsResponse",
      "description": "Response when listing students.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        },
        "students": {
          "description": "Students who match the list request.",
          "items": {
            "$ref": "Student"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "StudentGroup": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the student group."
        },
        "id": {
          "type": "string",
          "description": "The identifier of the student group."
        },
        "courseId": {
          "description": "The identifier of the course.",
          "type": "string"
        }
      },
      "id": "StudentGroup",
      "type": "object",
      "description": "A student group in a course."
    },
    "MultipleChoiceSubmission": {
      "description": "Student work for a multiple-choice question.",
      "id": "MultipleChoiceSubmission",
      "type": "object",
      "properties": {
        "answer": {
          "description": "Student's select choice.",
          "type": "string"
        }
      }
    },
    "GradingPeriod": {
      "type": "object",
      "description": "An individual grading period. Grading periods must not have overlapping date ranges and must be listed in chronological order. For example, if the end_date of a grading period is 2024-01-25, then the start_date of the next grading period must be 2024-01-26 or later. Each grading period must have a unique title within a course.",
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "Required. End date, in UTC, of the grading period. Inclusive."
        },
        "startDate": {
          "description": "Required. Start date, in UTC, of the grading period. Inclusive.",
          "$ref": "Date"
        },
        "id": {
          "description": "Output only. System generated grading period ID. Read-only.",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the grading period. For example, “Semester 1”."
        }
      },
      "id": "GradingPeriod"
    },
    "Teacher": {
      "id": "Teacher",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
        },
        "profile": {
          "$ref": "UserProfile",
          "description": "Global user information for the teacher. Read-only."
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        }
      },
      "description": "Teacher of a course.",
      "type": "object"
    },
    "Name": {
      "type": "object",
      "id": "Name",
      "properties": {
        "givenName": {
          "type": "string",
          "description": "The user's first name. Read-only."
        },
        "familyName": {
          "type": "string",
          "description": "The user's last name. Read-only."
        },
        "fullName": {
          "description": "The user's full name formed by concatenating the first and last name values. Read-only.",
          "type": "string"
        }
      },
      "description": "Details of the user's name."
    },
    "ModifyAnnouncementAssigneesRequest": {
      "id": "ModifyAnnouncementAssigneesRequest",
      "properties": {
        "assigneeMode": {
          "description": "Mode of the announcement describing whether it is accessible by all students or specified individual students.",
          "type": "string",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        },
        "modifyIndividualStudentsOptions": {
          "description": "Set which students can view or cannot view the announcement. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
          "$ref": "ModifyIndividualStudentsOptions"
        }
      },
      "description": "Request to modify assignee mode and options of an announcement.",
      "type": "object"
    },
    "ListStudentSubmissionsResponse": {
      "properties": {
        "studentSubmissions": {
          "description": "Student work that matches the request.",
          "type": "array",
          "items": {
            "$ref": "StudentSubmission"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "type": "object",
      "id": "ListStudentSubmissionsResponse",
      "description": "Response when listing student submissions."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Announcement": {
      "properties": {
        "scheduledTime": {
          "format": "google-datetime",
          "description": "Optional timestamp when this announcement is scheduled to be published.",
          "type": "string"
        },
        "creatorUserId": {
          "description": "Identifier for the user that created the announcement. Read-only.",
          "type": "string"
        },
        "id": {
          "description": "Classroom-assigned identifier of this announcement, unique per course. Read-only.",
          "type": "string"
        },
        "assigneeMode": {
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "type": "string",
          "description": "Assignee mode of the announcement. If unspecified, the default value is `ALL_STUDENTS`.",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        },
        "individualStudentsOptions": {
          "$ref": "IndividualStudentsOptions",
          "description": "Identifiers of students with access to the announcement. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the announcement."
        },
        "alternateLink": {
          "description": "Absolute link to this announcement in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only.",
          "type": "string"
        },
        "creationTime": {
          "description": "Timestamp when this announcement was created. Read-only.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Status of this announcement. If unspecified, the default state is `DRAFT`.",
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for announcement that has been published. This is the default state.",
            "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
            "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
          ],
          "enum": [
            "ANNOUNCEMENT_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ]
        },
        "text": {
          "type": "string",
          "description": "Description of this announcement. The text must be a valid UTF-8 string containing no more than 30,000 characters."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Timestamp of the most recent change to this announcement. Read-only.",
          "type": "string"
        },
        "materials": {
          "description": "Additional materials. Announcements must have no more than 20 material items.",
          "items": {
            "$ref": "Material"
          },
          "type": "array"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Announcement created by a teacher for students of the course",
      "id": "Announcement"
    },
    "DriveFolder": {
      "id": "DriveFolder",
      "description": "Representation of a Google Drive folder.",
      "properties": {
        "alternateLink": {
          "type": "string",
          "description": "URL that can be used to access the Drive folder. Read-only."
        },
        "id": {
          "type": "string",
          "description": "Drive API resource ID."
        },
        "title": {
          "type": "string",
          "description": "Title of the Drive folder. Read-only."
        }
      },
      "type": "object"
    },
    "TurnInStudentSubmissionRequest": {
      "description": "Request to turn in a student submission.",
      "type": "object",
      "id": "TurnInStudentSubmissionRequest",
      "properties": {}
    },
    "UserProfile": {
      "type": "object",
      "description": "Global information for a user.",
      "id": "UserProfile",
      "properties": {
        "photoUrl": {
          "type": "string",
          "description": "URL of user's profile photo. Must request `https://www.googleapis.com/auth/classroom.profile.photos` scope for this field to be populated in a response body. Read-only."
        },
        "permissions": {
          "description": "Global permissions of the user. Read-only.",
          "items": {
            "$ref": "GlobalPermission"
          },
          "type": "array"
        },
        "verifiedTeacher": {
          "description": "Represents whether a Google Workspace for Education user's domain administrator has explicitly verified them as being a teacher. This field is always false if the user is not a member of a Google Workspace for Education domain. Read-only",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the user. Read-only.",
          "$ref": "Name"
        },
        "emailAddress": {
          "description": "Email address of the user. Must request `https://www.googleapis.com/auth/classroom.profile.emails` scope for this field to be populated in a response body. Read-only.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the user. Read-only."
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "resources": {
    "courses": {
      "methods": {
        "patch": {
          "flatPath": "v1/courses/{id}",
          "id": "classroom.courses.patch",
          "request": {
            "$ref": "Course"
          },
          "response": {
            "$ref": "Course"
          },
          "path": "v1/courses/{id}",
          "parameters": {
            "id": {
              "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid: * `courseState` * `description` * `descriptionHeading` * `name` * `ownerId` * `room` * `section` * `subject` * `learningStandardSettings` * `levels` Note: patches to ownerId are treated as being effective immediately, but in practice it may take some time for the ownership transfer of all affected resources to complete. When set in a query parameter, this field should be specified as `updateMask=,,...`",
              "format": "google-fieldmask"
            }
          },
          "description": "Updates one or more fields in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable * InactiveCourseOwner * IneligibleOwner * CourseTitleCannotContainUrl",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "id"
          ]
        },
        "getGradingPeriodSettings": {
          "description": "Returns the grading period settings in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user isn't permitted to access the grading period settings in the requested course or for access errors. * `NOT_FOUND` if the requested course does not exist.",
          "parameterOrder": [
            "courseId"
          ],
          "path": "v1/courses/{courseId}/gradingPeriodSettings",
          "response": {
            "$ref": "GradingPeriodSettings"
          },
          "httpMethod": "GET",
          "parameters": {
            "courseId": {
              "description": "Required. The identifier of the course.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses",
            "https://www.googleapis.com/auth/classroom.courses.readonly"
          ],
          "flatPath": "v1/courses/{courseId}/gradingPeriodSettings",
          "id": "classroom.courses.getGradingPeriodSettings"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "description": "Creates a course. The user specified in `ownerId` is the owner of the created course and added as a teacher. A non-admin requesting user can only create a course with themselves as the owner. Domain admins can create courses owned by any user within their domain. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create courses or for access errors. * `NOT_FOUND` if the primary teacher is not a valid user. * `FAILED_PRECONDITION` if the course owner's account is disabled or for the following request errors: * UserCannotOwnCourse * UserGroupsMembershipLimitReached * CourseTitleCannotContainUrl * `ALREADY_EXISTS` if an alias was specified in the `id` and already exists.",
          "flatPath": "v1/courses",
[...]
