{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260618",
  "discoveryVersion": "v1",
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "ownerName": "Google",
  "title": "Cloud Product Registry API",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "resources": {
    "productSuites": {
      "methods": {
        "lookupEntity": {
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "httpMethod": "GET",
          "parameters": {
            "lookupUri": {
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "type": "string",
              "pattern": "^productSuites/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/{+lookupUri}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "description": "Look up entities."
        },
        "get": {
          "response": {
            "$ref": "ProductSuite"
          },
          "description": "Get details of a ProductSuite.",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/productSuites/{productSuitesId}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "pattern": "^productSuites/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "id": "cloudproductregistry.productSuites.get",
          "httpMethod": "GET"
        },
        "list": {
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "description": "Lists ProductSuites.",
          "path": "v1/productSuites",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "id": "cloudproductregistry.productSuites.list",
          "httpMethod": "GET",
          "flatPath": "v1/productSuites"
        }
      }
    },
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "get": {
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "description": "Get details of a LogicalProductVariant.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1/{+parent}/variants",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "description": "Lists LogicalProductVariants matching given criteria.",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "pattern": "^logicalProducts/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token.",
                  "location": "query"
                }
              }
            },
            "lookupEntity": {
              "parameters": {
                "lookupUri": {
                  "required": true,
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "location": "path"
                }
              },
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "httpMethod": "GET",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "description": "Look up entities.",
              "path": "v1/{+lookupUri}:lookupEntity",
              "parameterOrder": [
                "lookupUri"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "response": {
            "$ref": "LogicalProduct"
          },
          "description": "Gets details of a LogicalProduct.",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "parameters": {
            "name": {
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "type": "string",
              "pattern": "^logicalProducts/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "id": "cloudproductregistry.logicalProducts.get",
          "httpMethod": "GET"
        },
        "list": {
          "flatPath": "v1/logicalProducts",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "id": "cloudproductregistry.logicalProducts.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "description": "Lists LogicalProducts matching given criteria.",
          "path": "v1/logicalProducts",
          "parameterOrder": []
        },
        "lookupEntity": {
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "httpMethod": "GET",
          "parameters": {
            "lookupUri": {
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "type": "string",
              "pattern": "^logicalProducts/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "path": "v1/{+lookupUri}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "description": "Look up entities."
        }
      }
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "name": "cloudproductregistry",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "version": "v1",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "canonicalName": "Cloud Product Registry",
  "id": "cloudproductregistry:v1",
  "description": "cloudproductregistry.googleapis.com API.",
  "servicePath": "",
  "schemas": {
    "ListProductSuitesResponse": {
      "properties": {
        "productSuites": {
          "type": "array",
          "description": "Matched ProductSuites",
          "items": {
            "$ref": "ProductSuite"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListProductSuitesResponse",
      "type": "object",
      "description": "Response message for ListProductSuites."
    },
    "LogicalProductVariant": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "string"
        },
        "lifecycleState": {
          "type": "string",
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "readOnly": true,
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ]
        },
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc."
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProductVariant."
        },
        "replaced": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        }
      },
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "id": "LogicalProductVariant",
      "type": "object"
    },
    "LogicalProduct": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}."
        },
        "lifecycleState": {
          "readOnly": true,
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product.",
          "type": "string"
        },
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc."
        },
        "title": {
          "description": "Display name of the LogicalProduct.",
          "type": "string"
        },
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        },
        "productSuite": {
          "type": "string",
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}."
        },
        "variants": {
          "readOnly": true,
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "id": "LogicalProduct",
      "type": "object"
    },
    "ListLogicalProductsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "logicalProducts": {
          "type": "array",
          "description": "Matched LogicalProducts",
          "items": {
            "$ref": "LogicalProduct"
          }
        }
      },
      "description": "Response message for ListLogicalProducts.",
      "id": "ListLogicalProductsResponse",
      "type": "object"
    },
    "ListLogicalProductVariantsResponse": {
      "id": "ListLogicalProductVariantsResponse",
      "type": "object",
      "description": "Response message for ListLogicalProductVariants.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "logicalProductVariants": {
          "type": "array",
          "description": "Matched LogicalProductVariants",
          "items": {
            "$ref": "LogicalProductVariant"
          }
        }
      }
    },
    "ProductSuite": {
      "id": "ProductSuite",
      "type": "object",
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "properties": {
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "logicalProducts": {
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "Title of the ProductSuite."
        },
        "replaced": {
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "LookupEntityResponse": {
      "properties": {
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        },
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        },
        "productSuite": {
          "description": "Matched ProductSuite.",
          "$ref": "ProductSuite"
        }
      },
      "id": "LookupEntityResponse",
      "type": "object",
      "description": "Response message for LookupEntity."
    }
  }
}