{
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "basePath": "",
  "name": "cloudbuild",
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Build",
  "description": "Creates and manages builds on Google Cloud Platform.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://cloudbuild.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://cloudbuild.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://cloudbuild.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://cloudbuild.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://cloudbuild.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://cloudbuild.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://cloudbuild.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://cloudbuild.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://cloudbuild.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://cloudbuild.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://cloudbuild.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://cloudbuild.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://cloudbuild.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://cloudbuild.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://cloudbuild.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://cloudbuild.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://cloudbuild.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://cloudbuild.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://cloudbuild.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://cloudbuild.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://cloudbuild.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://cloudbuild.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://cloudbuild.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://cloudbuild.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://cloudbuild.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "batchPath": "batch",
  "servicePath": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "schemas": {
    "UploadedGenericArtifact": {
      "properties": {
        "artifactFingerprint": {
          "readOnly": true,
          "$ref": "FileHashes",
          "description": "Output only. The hash of the whole artifact."
        },
        "pushTiming": {
          "readOnly": true,
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "$ref": "TimeSpan"
        },
        "uri": {
          "type": "string",
          "description": "Output only. URI of the uploaded artifact. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1",
          "readOnly": true
        },
        "artifactRegistryPackage": {
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true
        },
        "fileHashes": {
          "readOnly": true,
          "description": "Output only. The file hashes that make up the generic artifact.",
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "type": "object"
        }
      },
      "description": "A generic artifact uploaded to Artifact Registry using the GenericArtifact directive.",
      "id": "UploadedGenericArtifact",
      "type": "object"
    },
    "GitConfig": {
      "description": "GitConfig is a configuration for git operations.",
      "id": "GitConfig",
      "type": "object",
      "properties": {
        "http": {
          "$ref": "HttpConfig",
          "description": "Configuration for HTTP related git operations."
        }
      }
    },
    "WorkerPool": {
      "description": "Configuration for a `WorkerPool`. Cloud Build owns and maintains a pool of workers for general use and have no access to a project's private network. By default, builds submitted to Cloud Build will use a worker from this pool. If your build needs access to resources on a private network, create and use a `WorkerPool` to run your builds. Private `WorkerPool`s give your builds access to any single VPC network that you administer, including any on-prem resources connected to that VPC network. For an overview of private pools, see [Private pools overview](https://cloud.google.com/build/docs/private-pools/private-pools-overview).",
      "id": "WorkerPool",
      "type": "object",
      "properties": {
        "uid": {
          "readOnly": true,
          "description": "Output only. A unique identifier for the `WorkerPool`.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the request to delete the `WorkerPool` was received.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "DELETING",
            "DELETED",
            "UPDATING"
          ],
          "enumDescriptions": [
            "State of the `WorkerPool` is unknown.",
            "`WorkerPool` is being created.",
            "`WorkerPool` is running.",
            "`WorkerPool` is being deleted: cancelling builds and draining workers.",
            "`WorkerPool` is deleted.",
            "`WorkerPool` is being updated; new builds cannot be run."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. `WorkerPool` state."
        },
        "privatePoolV1Config": {
          "description": "Private Pool configuration.",
          "$ref": "PrivatePoolV1Config"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the request to create the `WorkerPool` was received.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "User specified annotations. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. Time at which the request to update the `WorkerPool` was received.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed."
        },
        "displayName": {
          "type": "string",
          "description": "A user-specified, human-readable name for the `WorkerPool`. If provided, this value must be 1-63 characters."
        }
      }
    },
    "RetryBuildRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`"
        },
        "projectId": {
          "description": "Required. ID of the project.",
          "type": "string"
        },
        "id": {
          "description": "Required. Build ID of the original build.",
          "type": "string"
        }
      },
      "id": "RetryBuildRequest",
      "type": "object",
      "description": "Specifies a build to retry."
    },
    "GenericArtifactDependency": {
      "properties": {
        "destPath": {
          "description": "Required. Where the artifact files should be placed on the worker.",
          "type": "string"
        },
        "resource": {
          "description": "Required. The location to download the artifact files from. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1",
          "type": "string"
        }
      },
      "id": "GenericArtifactDependency",
      "type": "object",
      "description": "Represents a generic artifact as a build dependency."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ApprovalConfig": {
      "description": "ApprovalConfig describes configuration for manual approval of a build.",
      "id": "ApprovalConfig",
      "type": "object",
      "properties": {
        "approvalRequired": {
          "type": "boolean",
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start."
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusDetail": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ArtifactObjects": {
      "properties": {
        "timing": {
          "description": "Output only. Stores timing information for pushing all artifact objects.",
          "$ref": "TimeSpan",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix."
        },
        "paths": {
          "description": "Path globs used to match files in the build's workspace.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.",
      "id": "ArtifactObjects",
      "type": "object"
    },
    "UploadedNpmPackage": {
      "id": "UploadedNpmPackage",
      "type": "object",
      "description": "An npm package uploaded to Artifact Registry using the NpmPackage directive.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI of the uploaded npm package."
        },
        "artifactRegistryPackage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry."
        },
        "pushTiming": {
          "readOnly": true,
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pushing the specified artifact."
        },
        "fileHashes": {
          "description": "Hash types and values of the npm package.",
          "$ref": "FileHashes"
        }
      }
    },
    "PullRequestFilter": {
      "properties": {
        "branch": {
          "type": "string",
          "description": "Regex of branches to match. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "invertRegex": {
          "description": "If true, branches that do NOT match the git_ref will trigger a build.",
          "type": "boolean"
        },
        "commentControl": {
          "enum": [
            "COMMENTS_DISABLED",
            "COMMENTS_ENABLED",
            "COMMENTS_ENABLED_FOR_EXTERNAL_CONTRIBUTORS_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not require `/gcbrun` comments from a user with repository write permission or above on pull requests before builds are triggered. Comments that contain `/gcbrun` will still fire builds so this should be thought of as comments not required.",
            "Builds will only fire in response to pull requests if: 1. The pull request author has repository write permission or above and `/gcbrun` is in the PR description. 2. A user with repository writer permissions or above comments `/gcbrun` on a pull request authored by any user.",
            "Builds will only fire in response to pull requests if: 1. The pull request author is a repository writer or above. 2. If the author does not have write permissions, a user with write permissions or above must comment `/gcbrun` in order to fire a build."
          ],
          "description": "If CommentControl is enabled, depending on the setting, builds may not fire until a repository writer comments `/gcbrun` on a pull request or `/gcbrun` is in the pull request description. Only PR comments that contain `/gcbrun` will trigger builds. If CommentControl is set to disabled, comments with `/gcbrun` from a user with repository write permission or above will still trigger builds to run."
        }
      },
      "id": "PullRequestFilter",
      "type": "object",
      "description": "PullRequestFilter contains filter properties for matching GitHub Pull Requests."
    },
    "GitFileSource": {
      "id": "GitFileSource",
      "type": "object",
      "description": "GitFileSource describes a file within a (possibly remote) code repository.",
      "properties": {
        "uri": {
          "description": "The URI of the repo. Either uri or repository can be specified. If unspecified, the repo from which the trigger invocation originated is assumed to be the repo from which to read the specified path.",
          "type": "string"
        },
        "repository": {
          "type": "string",
          "description": "The fully qualified resource name of the Repos API repository. Either URI or repository can be specified. If unspecified, the repo from which the trigger invocation originated is assumed to be the repo from which to read the specified path."
        },
        "revision": {
          "description": "The branch, tag, arbitrary ref, or SHA version of the repo to use when resolving the filename (optional). This field respects the same syntax/resolution as described here: https://git-scm.com/docs/gitrevisions If unspecified, the revision from which the trigger invocation originated is assumed to be the revision from which to read the specified path.",
          "type": "string"
        },
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The full resource name of the github enterprise config. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`. `projects/{project}/githubEnterpriseConfigs/{id}`."
        },
        "bitbucketServerConfig": {
          "description": "The full resource name of the bitbucket server config. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "The path of the file, with the repo root as the root of the path."
        },
        "repoType": {
          "type": "string",
          "enumDescriptions": [
            "The default, unknown repo type. Don't use it, instead use one of the other repo types.",
            "A Google Cloud Source Repositories-hosted repo.",
            "A GitHub-hosted repo not necessarily on \"github.com\" (i.e. GitHub Enterprise).",
            "A Bitbucket Server-hosted repo.",
            "A GitLab-hosted repo.",
            "A Bitbucket Cloud-hosted repo."
          ],
          "description": "See RepoType above.",
          "enum": [
            "UNKNOWN",
            "CLOUD_SOURCE_REPOSITORIES",
            "GITHUB",
            "BITBUCKET_SERVER",
            "GITLAB",
            "BITBUCKET_CLOUD"
          ]
        }
      }
    },
    "ListGithubEnterpriseConfigsResponse": {
      "properties": {
        "configs": {
          "items": {
            "$ref": "GitHubEnterpriseConfig"
          },
          "description": "A list of GitHubEnterpriseConfigs",
          "type": "array"
        }
      },
      "description": "RPC response object returned by ListGithubEnterpriseConfigs RPC method.",
      "id": "ListGithubEnterpriseConfigsResponse",
      "type": "object"
    },
    "CreateBitbucketServerConnectedRepositoryRequest": {
      "description": "Request to connect a repository from a connected Bitbucket Server host.",
      "id": "CreateBitbucketServerConnectedRepositoryRequest",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The name of the `BitbucketServerConfig` that added connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`"
        },
        "bitbucketServerConnectedRepository": {
          "description": "Required. The Bitbucket Server repository to connect.",
          "$ref": "BitbucketServerConnectedRepository"
        }
      }
    },
    "DeleteBitbucketServerConfigOperationMetadata": {
      "properties": {
        "bitbucketServerConfig": {
          "type": "string",
          "description": "The resource name of the BitbucketServerConfig to be deleted. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`."
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was completed."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was created."
        }
      },
      "description": "Metadata for `DeleteBitbucketServerConfig` operation.",
      "id": "DeleteBitbucketServerConfigOperationMetadata",
      "type": "object"
    },
    "NetworkConfig": {
      "description": "Defines the network configuration for the pool.",
      "id": "NetworkConfig",
      "type": "object",
      "properties": {
        "peeredNetwork": {
          "description": "Required. Immutable. The network definition that the workers are peered to. If this section is left empty, the workers will be peered to `WorkerPool.project_id` on the service producer network. Must be in the format `projects/{project}/global/networks/{network}`, where `{project}` is a project number, such as `12345`, and `{network}` is the name of a VPC network in the project. See [Understanding network configuration options](https://cloud.google.com/build/docs/private-pools/set-up-private-pool-environment)",
          "type": "string"
        },
        "peeredNetworkIpRange": {
          "description": "Immutable. Subnet IP range within the peered network. This is specified in CIDR notation with a slash and the subnet prefix size. You can optionally specify an IP address before the subnet prefix value. e.g. `192.168.0.0/29` would specify an IP range starting at 192.168.0.0 with a prefix size of 29 bits. `/16` would specify a prefix size of 16 bits, with an automatically determined IP within the peered VPC. If unspecified, a value of `/24` will be used.",
          "type": "string"
        },
        "egressOption": {
          "enum": [
            "EGRESS_OPTION_UNSPECIFIED",
            "NO_PUBLIC_EGRESS",
            "PUBLIC_EGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "If set, defaults to PUBLIC_EGRESS.",
            "If set, workers are created without any public address, which prevents network egress to public IPs unless a network proxy is configured.",
            "If set, workers are created with a public address which allows for public internet egress."
          ],
          "description": "Option to configure network egress for the workers."
        }
      }
    },
    "WebhookConfig": {
      "properties": {
        "secret": {
          "type": "string",
          "description": "Required. Resource name for the secret required as a URL parameter."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "OK",
            "SECRET_DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The webhook auth configuration not been checked.",
            "The auth configuration is properly setup.",
            "The secret provided in auth_method has been deleted."
          ],
          "description": "Potential issues with the underlying Pub/Sub subscription configuration. Only populated on get requests."
        }
      },
      "description": "WebhookConfig describes the configuration of a trigger that creates a build whenever a webhook is sent to a trigger's webhook URL.",
      "id": "WebhookConfig",
      "type": "object"
    },
    "GitHubEnterpriseSecrets": {
      "properties": {
        "webhookSecretName": {
          "deprecated": true,
          "type": "string",
          "description": "The resource name for the webhook secret in Secret Manager."
        },
        "oauthSecretName": {
          "type": "string",
          "description": "The resource name for the OAuth secret in Secret Manager.",
          "deprecated": true
        },
        "webhookSecretVersionName": {
          "description": "The resource name for the webhook secret secret version in Secret Manager.",
          "type": "string"
        },
        "privateKeyVersionName": {
          "description": "The resource name for the private key secret version.",
          "type": "string"
        },
        "oauthSecretVersionName": {
          "description": "The resource name for the OAuth secret secret version in Secret Manager.",
          "type": "string"
        },
        "privateKeyName": {
          "deprecated": true,
          "description": "The resource name for the private key secret.",
          "type": "string"
        },
        "oauthClientIdVersionName": {
          "type": "string",
          "description": "The resource name for the OAuth client ID secret version in Secret Manager."
        },
        "oauthClientIdName": {
          "deprecated": true,
          "description": "The resource name for the OAuth client ID secret in Secret Manager.",
          "type": "string"
        }
      },
      "id": "GitHubEnterpriseSecrets",
      "type": "object",
      "description": "GitHubEnterpriseSecrets represents the names of all necessary secrets in Secret Manager for a GitHub Enterprise server. Format is: projects//secrets/."
    },
    "Source": {
      "properties": {
        "repoSource": {
          "$ref": "RepoSource",
          "description": "If provided, get the source from this location in a Cloud Source Repository."
        },
        "gitSource": {
          "description": "If provided, get the source from this Git repository.",
          "$ref": "GitSource"
        },
        "developerConnectConfig": {
          "description": "If provided, get the source from this Developer Connect config.",
          "$ref": "DeveloperConnectConfig"
        },
        "connectedRepository": {
          "description": "Optional. If provided, get the source from this 2nd-gen Google Cloud Build repository resource.",
          "$ref": "ConnectedRepository"
        },
        "storageSource": {
          "$ref": "StorageSource",
          "description": "If provided, get the source from this location in Cloud Storage."
        },
        "storageSourceManifest": {
          "$ref": "StorageSourceManifest",
          "description": "If provided, get the source from this manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher)."
        }
      },
      "description": "Location of the source in a supported storage service.",
      "id": "Source",
      "type": "object"
    },
    "StepResult": {
      "id": "StepResult",
      "type": "object",
      "description": "StepResult is the declaration of a result for a build step.",
      "properties": {
        "name": {
          "description": "Required. The name of the result.",
          "type": "string"
        },
        "attestationContent": {
          "description": "Optional. The content of the attestation to be generated.",
          "type": "string"
        },
        "attestationType": {
          "description": "Optional. The type of attestation to be generated.",
          "type": "string"
        }
      }
    },
    "StorageSource": {
      "properties": {
        "bucket": {
          "description": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "object": {
          "type": "string",
          "description": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build."
        },
        "sourceFetcher": {
          "enum": [
            "SOURCE_FETCHER_UNSPECIFIED",
            "GSUTIL",
            "GCS_FETCHER"
          ],
          "description": "Optional. Option to specify the tool to fetch the source file for the build.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified defaults to GSUTIL.",
            "Use the \"gsutil\" tool to download the source file.",
            "Use the Cloud Storage Fetcher tool to download the source file."
          ]
        },
        "generation": {
          "type": "string",
          "description": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "format": "int64"
        }
      },
      "description": "Location of the source in an archive file in Cloud Storage.",
      "id": "StorageSource",
      "type": "object"
    },
    "BuildStepResults": {
      "properties": {
        "results": {
          "type": "object",
          "description": "Results for a build step.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Results for a build step.",
      "id": "BuildStepResults",
      "type": "object"
    },
    "DeleteWorkerPoolOperationMetadata": {
      "description": "Metadata for the `DeleteWorkerPool` operation.",
      "id": "DeleteWorkerPoolOperationMetadata",
      "type": "object",
      "properties": {
        "completeTime": {
          "format": "google-datetime",
          "description": "Time the operation was completed.",
          "type": "string"
        },
        "createTime": {
          "description": "Time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "workerPool": {
          "type": "string",
          "description": "The resource name of the `WorkerPool` being deleted. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`."
        }
      }
    },
    "ListBitbucketServerRepositoriesResponse": {
      "properties": {
        "bitbucketServerRepositories": {
          "type": "array",
          "description": "List of Bitbucket Server repositories.",
          "items": {
            "$ref": "BitbucketServerRepository"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "RPC response object returned by the ListBitbucketServerRepositories RPC method.",
      "id": "ListBitbucketServerRepositoriesResponse",
      "type": "object"
    },
    "ListWorkerPoolsResponse": {
      "description": "Response containing existing `WorkerPools`.",
      "id": "ListWorkerPoolsResponse",
      "type": "object",
      "properties": {
        "workerPools": {
          "type": "array",
          "description": "`WorkerPools` for the specified project.",
          "items": {
            "$ref": "WorkerPool"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through large result sets. Provide this value in a subsequent ListWorkerPoolsRequest to return the next page of results."
        }
      }
    },
    "UpdateBitbucketServerConfigOperationMetadata": {
      "properties": {
        "bitbucketServerConfig": {
          "type": "string",
          "description": "The resource name of the BitbucketServerConfig to be updated. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`."
        },
        "completeTime": {
          "type": "string",
          "description": "Time the operation was completed.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Time the operation was created.",
          "format": "google-datetime"
        }
      },
      "id": "UpdateBitbucketServerConfigOperationMetadata",
      "type": "object",
      "description": "Metadata for `UpdateBitbucketServerConfig` operation."
    },
    "ArtifactResult": {
      "id": "ArtifactResult",
      "type": "object",
      "description": "An artifact that was uploaded during a build. This is a single record in the artifact manifest JSON file.",
      "properties": {
        "location": {
          "description": "The path of an artifact in a Cloud Storage bucket, with the generation number. For example, `gs://mybucket/path/to/output.jar#generation`.",
          "type": "string"
        },
        "fileHash": {
          "items": {
            "$ref": "FileHashes"
          },
          "description": "The file hash of the artifact.",
          "type": "array"
        }
      }
    },
    "UpdateWorkerPoolOperationMetadata": {
      "properties": {
        "workerPool": {
          "description": "The resource name of the `WorkerPool` being updated. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time the operation was created.",
          "type": "string"
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was completed."
        }
      },
      "id": "UpdateWorkerPoolOperationMetadata",
      "type": "object",
      "description": "Metadata for the `UpdateWorkerPool` operation."
    },
    "GenericArtifact": {
      "properties": {
        "registryPath": {
          "type": "string",
          "description": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION"
        },
        "folder": {
          "type": "string",
          "description": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry."
        }
      },
      "description": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "id": "GenericArtifact",
      "type": "object"
    },
    "ListBuildsResponse": {
      "properties": {
        "builds": {
          "type": "array",
          "description": "Builds will be sorted by `create_time`, descending.",
          "items": {
            "$ref": "Build"
          }
        },
        "nextPageToken": {
          "description": "Token to receive the next page of results. This will be absent if the end of the response list has been reached.",
          "type": "string"
        }
      },
      "description": "Response including listed builds.",
      "id": "ListBuildsResponse",
      "type": "object"
    },
    "DeveloperConnectConfig": {
      "properties": {
        "revision": {
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref.",
          "type": "string"
        },
        "gitRepositoryLink": {
          "type": "string",
          "description": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`."
        },
        "dir": {
          "description": "Required. Directory, relative to the source root, in which to run the build.",
          "type": "string"
        }
      },
      "id": "DeveloperConnectConfig",
      "type": "object",
      "description": "This config defines the location of a source through Developer Connect."
    },
    "HttpBody": {
      "id": "HttpBody",
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "properties": {
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "extensions": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array"
        }
      }
    },
    "BatchCreateBitbucketServerConnectedRepositoriesRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreateBitbucketServerConnectedRepositoryRequest"
          },
          "type": "array",
          "description": "Required. Requests to connect Bitbucket Server repositories."
        }
      },
      "id": "BatchCreateBitbucketServerConnectedRepositoriesRequest",
      "type": "object",
      "description": "RPC request object accepted by BatchCreateBitbucketServerConnectedRepositories RPC method."
    },
    "Warning": {
      "description": "A non-fatal problem encountered during the execution of the build.",
      "id": "Warning",
      "type": "object",
      "properties": {
        "text": {
          "description": "Explanation of the warning generated.",
          "type": "string"
        },
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ALERT"
          ],
          "description": "The priority for this warning.",
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "e.g. deprecation warnings and alternative feature highlights.",
            "e.g. automated detection of possible issues with the build.",
            "e.g. alerts that a feature used in the build is pending removal"
          ]
        }
      }
    },
    "ConnectedRepository": {
      "properties": {
        "revision": {
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref.",
          "type": "string"
        },
        "repository": {
          "type": "string",
          "description": "Required. Name of the Google Cloud Build repository, formatted as `projects/*/locations/*/connections/*/repositories/*`."
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build.",
          "type": "string"
        }
      },
      "description": "Location of the source in a 2nd-gen Google Cloud Build repository resource.",
      "id": "ConnectedRepository",
      "type": "object"
    },
    "RepoSource": {
      "properties": {
        "branchName": {
          "type": "string",
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "tagName": {
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "repoName": {
          "type": "string",
          "description": "Required. Name of the Cloud Source Repository."
        },
        "substitutions": {
          "type": "object",
          "description": "Optional. Substitutions to use in a triggered build. Should only be used with RunBuildTrigger",
          "additionalProperties": {
            "type": "string"
          }
        },
        "projectId": {
          "type": "string",
          "description": "Optional. ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed."
        },
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        },
        "invertRegex": {
          "type": "boolean",
          "description": "Optional. Only trigger a build if the revision regex does NOT match the revision regex."
        }
      },
      "id": "RepoSource",
      "type": "object",
      "description": "Location of the source in a Google Cloud Source Repository."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "UploadedPythonPackage": {
      "description": "Artifact uploaded using the PythonPackage directive.",
      "id": "UploadedPythonPackage",
      "type": "object",
      "properties": {
        "fileHashes": {
          "$ref": "FileHashes",
          "description": "Hash types and values of the Python Artifact."
        },
        "pushTiming": {
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "readOnly": true
        },
        "artifactRegistryPackage": {
          "readOnly": true,
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "type": "string"
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        }
      }
    },
    "ApprovalResult": {
      "properties": {
        "approverAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called."
        },
        "decision": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build is approved.",
            "Build is rejected."
          ],
          "description": "Required. The decision of this manual approval.",
          "enum": [
            "DECISION_UNSPECIFIED",
            "APPROVED",
            "REJECTED"
          ]
        },
        "comment": {
          "description": "Optional. An optional comment for this manual approval result.",
          "type": "string"
        },
        "approvalTime": {
          "type": "string",
          "description": "Output only. The time when the approval decision was made.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "url": {
          "type": "string",
          "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build."
        }
      },
      "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build.",
      "id": "ApprovalResult",
      "type": "object"
    },
    "BitbucketServerRepository": {
      "id": "BitbucketServerRepository",
      "type": "object",
      "description": "BitbucketServerRepository represents a repository hosted on a Bitbucket Server.",
      "properties": {
        "description": {
          "description": "Description of the repository.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the repository."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the repository."
        },
        "repoId": {
          "$ref": "BitbucketServerRepositoryId",
          "description": "Identifier for a repository hosted on a Bitbucket Server."
        },
        "browseUri": {
          "type": "string",
          "description": "Link to the browse repo page on the Bitbucket Server instance."
        }
      }
    },
    "Oci": {
      "id": "Oci",
      "type": "object",
      "description": "OCI image to upload to Artifact Registry upon successful completion of all build steps.",
      "properties": {
        "registryPath": {
          "type": "string",
          "description": "Required. Registry path to upload the container to. e.g. us-east1-docker.pkg.dev/my-project/my-repo/my-image"
        },
        "tags": {
          "type": "array",
          "description": "Optional. Tags to apply to the uploaded image. e.g. latest, 1.0.0",
          "items": {
            "type": "string"
          }
        },
        "file": {
          "type": "string",
          "description": "Required. Path on the local file system where to find the container to upload. e.g. /workspace/my-image.tar"
        }
      }
    },
    "FileHashes": {
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "Hash"
          },
          "description": "Collection of file hashes.",
          "type": "array"
        }
      },
      "description": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build.",
      "id": "FileHashes",
      "type": "object"
    },
    "SourceProvenance": {
      "properties": {
        "resolvedStorageSourceManifest": {
          "$ref": "StorageSourceManifest",
          "description": "A copy of the build's `source.storage_source_manifest`, if exists, with any revisions resolved. This feature is in Preview."
        },
        "resolvedStorageSource": {
          "description": "A copy of the build's `source.storage_source`, if exists, with any generations resolved.",
          "$ref": "StorageSource"
        },
        "resolvedConnectedRepository": {
          "$ref": "ConnectedRepository",
          "description": "Output only. A copy of the build's `source.connected_repository`, if exists, with any revisions resolved.",
          "readOnly": true
        },
        "resolvedGitSource": {
          "description": "Output only. A copy of the build's `source.git_source`, if exists, with any revisions resolved.",
          "$ref": "GitSource",
          "readOnly": true
        },
        "fileHashes": {
          "type": "object",
          "description": "Output only. Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. Note that `FileHashes` will only be populated if `BuildOptions` has requested a `SourceProvenanceHash`. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (`.tar.gz`), the `FileHash` will be for the single path to that file.",
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "readOnly": true
        },
        "resolvedRepoSource": {
          "description": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved.",
          "$ref": "RepoSource"
        }
      },
      "description": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build.",
      "id": "SourceProvenance",
      "type": "object"
    },
    "RepositoryEventConfig": {
      "id": "RepositoryEventConfig",
      "type": "object",
      "description": "The configuration of a trigger that creates a build whenever an event from Repo API is received.",
      "properties": {
        "repository": {
          "description": "The resource name of the Repo API resource.",
          "type": "string"
        },
        "repositoryType": {
          "enum": [
            "REPOSITORY_TYPE_UNSPECIFIED",
            "GITHUB",
            "GITHUB_ENTERPRISE",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER",
            "BITBUCKET_CLOUD"
          ],
          "enumDescriptions": [
            "If unspecified, RepositoryType defaults to GITHUB.",
            "The SCM repo is GITHUB.",
            "The SCM repo is GITHUB Enterprise.",
            "The SCM repo is GITLAB Enterprise.",
            "The SCM repo is BITBUCKET Data Center.",
            "The SCM repo is BITBUCKET Cloud."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the SCM vendor the repository points to."
        },
        "pullRequest": {
          "$ref": "PullRequestFilter",
          "description": "Filter to match changes in pull requests."
        },
        "push": {
          "$ref": "PushFilter",
          "description": "Filter to match changes in refs like branches, tags."
        }
      }
    },
    "MavenArtifact": {
      "properties": {
        "deployFolder": {
          "description": "Optional. Path to a folder containing the files to upload to Artifact Registry. This can be either an absolute path, e.g. `/workspace/my-app/target/`, or a relative path from /workspace, e.g. `my-app/target/`. This field is mutually exclusive with the `path` field.",
          "type": "string"
        },
        "artifactId": {
          "type": "string",
          "description": "Maven `artifactId` value used when uploading the artifact to Artifact Registry."
        },
        "path": {
          "type": "string",
          "description": "Optional. Path to an artifact in the build's workspace to be uploaded to Artifact Registry. This can be either an absolute path, e.g. /workspace/my-app/target/my-app-1.0.SNAPSHOT.jar or a relative path from /workspace, e.g. my-app/target/my-app-1.0.SNAPSHOT.jar."
        },
        "groupId": {
          "description": "Maven `groupId` value used when uploading the artifact to Artifact Registry.",
          "type": "string"
        },
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-maven.pkg.dev/$PROJECT/$REPOSITORY\" Artifact in the workspace specified by path will be uploaded to Artifact Registry with this location as a prefix."
        },
        "version": {
          "type": "string",
          "description": "Maven `version` value used when uploading the artifact to Artifact Registry."
        }
      },
      "description": "A Maven artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "id": "MavenArtifact",
      "type": "object"
    },
    "Secret": {
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Cloud KMS key name to use to decrypt these envs."
        },
        "secretEnv": {
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "additionalProperties": {
            "format": "byte",
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials.",
      "id": "Secret",
      "type": "object"
    },
    "DefaultServiceAccount": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: `projects/{project}/locations/{location}/defaultServiceAccount`."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Output only. The email address of the service account identity that will be used for a build by default. This is returned in the format `projects/{project}/serviceAccounts/{service_account}` where `{service_account}` could be the legacy Cloud Build SA, in the format [PROJECT_NUMBER]@cloudbuild.gserviceaccount.com or the Compute SA, in the format [PROJECT_NUMBER]-compute@developer.gserviceaccount.com. If no service account will be used by default, this will be empty.",
          "readOnly": true
        }
      },
      "description": "The default service account used for `Builds`.",
      "id": "DefaultServiceAccount",
      "type": "object"
    },
    "BuildApproval": {
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The state of this build's approval.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ]
        },
        "config": {
          "readOnly": true,
          "$ref": "ApprovalConfig",
          "description": "Output only. Configuration for manual approval of this build."
        },
        "result": {
          "readOnly": true,
          "description": "Output only. Result of manual approval for this Build.",
          "$ref": "ApprovalResult"
        }
      },
      "description": "BuildApproval describes a build's approval configuration, state, and result.",
      "id": "BuildApproval",
      "type": "object"
    },
    "ReceiveTriggerWebhookResponse": {
      "id": "ReceiveTriggerWebhookResponse",
      "type": "object",
      "description": "ReceiveTriggerWebhookResponse [Experimental] is the response object for the ReceiveTriggerWebhook method.",
      "properties": {}
    },
    "GitSourceRepository": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Location of the Git repository."
        },
        "developerConnect": {
          "type": "string",
          "description": "The Developer Connect Git repository link formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`"
        }
      },
      "description": "A repository for a git source.",
      "id": "GitSourceRepository",
      "type": "object"
    },
    "PubsubConfig": {
      "description": "PubsubConfig describes the configuration of a trigger that creates a build whenever a Pub/Sub message is published.",
      "id": "PubsubConfig",
      "type": "object",
      "properties": {
        "topic": {
          "description": "Optional. The name of the topic from which this subscription is receiving messages. Format is `projects/{project}/topics/{topic}`.",
          "type": "string"
        },
        "subscription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the subscription. Format is `projects/{project}/subscriptions/{subscription}`."
        },
        "serviceAccountEmail": {
          "description": "Service account that will make the push request.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "OK",
            "SUBSCRIPTION_DELETED",
            "TOPIC_DELETED",
            "SUBSCRIPTION_MISCONFIGURED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The subscription configuration has not been checked.",
            "The Pub/Sub subscription is properly configured.",
            "The subscription has been deleted.",
            "The topic has been deleted.",
            "Some of the subscription's field are misconfigured."
          ],
          "description": "Potential issues with the underlying Pub/Sub subscription configuration. Only populated on get requests."
        }
      }
    },
    "CreateGitHubEnterpriseConfigOperationMetadata": {
      "properties": {
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The resource name of the GitHubEnterprise to be created. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Time the operation was completed.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Time the operation was created.",
          "format": "google-datetime"
        }
      },
      "id": "CreateGitHubEnterpriseConfigOperationMetadata",
      "type": "object",
      "description": "Metadata for `CreateGithubEnterpriseConfig` operation."
    },
    "TimeSpan": {
      "id": "TimeSpan",
      "type": "object",
      "description": "Start and end times for a build execution phase.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Start of time span.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End of time span.",
          "type": "string"
        }
      }
    },
    "Volume": {
      "properties": {
        "name": {
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths."
        }
      },
      "id": "Volume",
      "type": "object",
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution."
    },
    "CreateWorkerPoolOperationMetadata": {
      "id": "CreateWorkerPoolOperationMetadata",
      "type": "object",
      "description": "Metadata for the `CreateWorkerPool` operation.",
      "properties": {
        "workerPool": {
          "type": "string",
          "description": "The resource name of the `WorkerPool` to create. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was created."
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was completed."
        }
      }
    },
    "Results": {
      "description": "Artifacts created by the build pipeline.",
      "id": "Results",
      "type": "object",
      "properties": {
        "artifactTiming": {
          "description": "Time to push all non-container artifacts to Cloud Storage.",
          "$ref": "TimeSpan"
        },
        "images": {
          "items": {
            "$ref": "BuiltImage"
          },
          "type": "array",
          "description": "Container images that were built as a part of the build."
        },
        "artifactManifest": {
          "description": "Path to the artifact manifest for non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage.",
          "type": "string"
        },
        "genericArtifacts": {
          "readOnly": true,
          "items": {
            "$ref": "UploadedGenericArtifact"
          },
          "type": "array",
          "description": "Output only. Generic artifacts uploaded to Artifact Registry at the end of the build."
        },
        "buildStepImages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of build step digests, in the order corresponding to build step indices."
        },
        "goModules": {
          "items": {
            "$ref": "UploadedGoModule"
          },
          "description": "Optional. Go module artifacts uploaded to Artifact Registry at the end of the build.",
          "type": "array"
        },
        "mavenArtifacts": {
          "description": "Maven artifacts uploaded to Artifact Registry at the end of the build.",
          "type": "array",
          "items": {
            "$ref": "UploadedMavenArtifact"
          }
        },
        "buildStepOutputs": {
          "type": "array",
          "description": "List of build step outputs, produced by builder images, in the order corresponding to build step indices. [Cloud Builders](https://cloud.google.com/cloud-build/docs/cloud-builders) can produce this output by writing to `$BUILDER_OUTPUT/output`. Only the first 50KB of data is stored. Note that the `$BUILDER_OUTPUT` variable is read-only and can't be substituted.",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "buildStepResults": {
          "type": "object",
          "description": "Results for build steps. step_id -> ",
          "additionalProperties": {
            "$ref": "BuildStepResults"
          }
        },
        "pythonPackages": {
          "type": "array",
          "description": "Python artifacts uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "UploadedPythonPackage"
          }
        },
        "npmPackages": {
          "items": {
            "$ref": "UploadedNpmPackage"
          },
          "description": "Npm packages uploaded to Artifact Registry at the end of the build.",
          "type": "array"
        },
        "numArtifacts": {
          "format": "int64",
          "type": "string",
          "description": "Number of non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage."
        }
      }
    },
    "StorageSourceManifest": {
      "description": "Location of the source manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).",
      "id": "StorageSourceManifest",
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. Cloud Storage bucket containing the source manifest (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        },
        "object": {
          "description": "Required. Cloud Storage object containing the source manifest. This object must be a JSON file.",
          "type": "string"
        },
        "generation": {
          "format": "int64",
          "type": "string",
          "description": "Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used."
        }
      }
    },
    "Artifacts": {
      "description": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps.",
      "id": "Artifacts",
      "type": "object",
      "properties": {
        "goModules": {
          "description": "Optional. A list of Go modules to be uploaded to Artifact Registry upon successful completion of all build steps. If any objects fail to be pushed, the build is marked FAILURE.",
          "type": "array",
          "items": {
            "$ref": "GoModule"
          }
        },
        "npmPackages": {
          "type": "array",
          "description": "A list of npm packages to be uploaded to Artifact Registry upon successful completion of all build steps. Npm packages in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any packages fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "NpmPackage"
          }
        },
        "genericArtifacts": {
          "description": "Optional. A list of generic artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. If any artifacts fail to be pushed, the build is marked FAILURE.",
          "type": "array",
          "items": {
            "$ref": "GenericArtifact"
          }
        },
        "pythonPackages": {
          "description": "A list of Python packages to be uploaded to Artifact Registry upon successful completion of all build steps. The build service account credentials will be used to perform the upload. If any objects fail to be pushed, the build is marked FAILURE.",
          "type": "array",
          "items": {
            "$ref": "PythonPackage"
          }
        },
        "mavenArtifacts": {
          "items": {
            "$ref": "MavenArtifact"
          },
          "type": "array",
          "description": "A list of Maven artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. Artifacts in the workspace matching specified paths globs will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any artifacts fail to be pushed, the build is marked FAILURE."
        },
        "oci": {
          "type": "array",
          "description": "Optional. A list of OCI images to be uploaded to Artifact Registry upon successful completion of all build steps. OCI images in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any images fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "Oci"
          }
        },
        "objects": {
          "description": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE.",
          "$ref": "ArtifactObjects"
        },
        "images": {
          "type": "array",
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BuiltImage": {
      "properties": {
        "artifactRegistryPackage": {
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true
        },
        "digest": {
          "type": "string",
          "description": "Docker Registry 2.0 digest."
        },
        "ociMediaType": {
          "enumDescriptions": [
            "Default value.",
            "The artifact is an image manifest, which represents a single image with all its layers.",
            "The artifact is an image index, which can contain a list of image manifests."
          ],
          "enum": [
            "OCI_MEDIA_TYPE_UNSPECIFIED",
            "IMAGE_MANIFEST",
            "IMAGE_INDEX"
          ],
          "type": "string",
          "description": "Output only. The OCI media type of the artifact. Non-OCI images, such as Docker images, will have an unspecified value.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name used to push the container image to Google Container Registry, as presented to `docker push`."
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified image.",
          "$ref": "TimeSpan",
          "readOnly": true
        }
      },
      "description": "An image built by the pipeline.",
      "id": "BuiltImage",
      "type": "object"
    },
    "NpmPackage": {
      "description": "Npm package to upload to Artifact Registry upon successful completion of all build steps.",
      "id": "NpmPackage",
      "type": "object",
      "properties": {
        "repository": {
          "description": "Artifact Registry repository, in the form \"https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY\" Npm package in the workspace specified by path will be zipped and uploaded to Artifact Registry with this location as a prefix.",
          "type": "string"
        },
        "packagePath": {
          "type": "string",
          "description": "Optional. Path to the package.json. e.g. workspace/path/to/package Only one of `archive` or `package_path` can be specified."
        }
      }
    },
    "BuildStep": {
      "id": "BuildStep",
      "type": "object",
      "description": "A step in the build pipeline.",
      "properties": {
        "volumes": {
          "type": "array",
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "items": {
            "$ref": "Volume"
          }
        },
        "script": {
          "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args.",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency.",
          "type": "string"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
          "type": "array"
        },
        "status": {
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "type": "string",
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses.",
          "readOnly": true
        },
        "waitFor": {
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out."
        },
        "results": {
          "type": "array",
          "description": "Declaration of results for this build step.",
          "items": {
            "$ref": "StepResult"
          }
        },
        "dir": {
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution.",
          "type": "string"
        },
        "entrypoint": {
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used.",
          "type": "string"
        },
        "env": {
          "type": "array",
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "items": {
            "type": "string"
          }
        },
        "allowExitCodes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence."
        },
        "exitCode": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Return code from running the step."
        },
        "allowFailure": {
          "description": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step."
        },
        "timing": {
          "description": "Output only. Stores timing information for executing this build step.",
          "$ref": "TimeSpan",
          "readOnly": true
        },
        "automapSubstitutions": {
          "description": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption.",
          "type": "boolean"
        },
        "pullTiming": {
          "readOnly": true,
          "description": "Output only. Stores timing information for pulling this build step's builder image only.",
          "$ref": "TimeSpan"
        },
        "secretEnv": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`."
        }
      }
    },
    "Secrets": {
      "properties": {
        "secretManager": {
          "type": "array",
          "description": "Secrets in Secret Manager and associated secret environment variable.",
          "items": {
            "$ref": "SecretManagerSecret"
          }
        },
        "inline": {
          "items": {
            "$ref": "InlineSecret"
          },
          "description": "Secrets encrypted with KMS key and the associated secret environment variable.",
          "type": "array"
        }
      },
      "description": "Secrets and secret environment variables.",
      "id": "Secrets",
      "type": "object"
    },
    "UploadedGoModule": {
      "properties": {
        "fileHashes": {
          "description": "Hash types and values of the Go Module Artifact.",
          "$ref": "FileHashes"
        },
        "pushTiming": {
          "readOnly": true,
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "$ref": "TimeSpan"
        },
        "artifactRegistryPackage": {
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true
        },
        "uri": {
          "type": "string",
          "description": "URI of the uploaded artifact."
        }
      },
      "description": "A Go module artifact uploaded to Artifact Registry using the GoModule directive.",
      "id": "UploadedGoModule",
      "type": "object"
    },
    "PythonPackage": {
      "description": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository.",
      "id": "PythonPackage",
      "type": "object",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix."
        },
        "paths": {
          "description": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoModule": {
      "properties": {
        "repositoryName": {
          "description": "Optional. Artifact Registry repository name. Specified Go modules will be zipped and uploaded to Artifact Registry with this location as a prefix. e.g. my-go-repo",
          "type": "string"
        },
        "repositoryProjectId": {
          "type": "string",
          "description": "Optional. Project ID of the Artifact Registry repository. Defaults to the build project."
        },
        "modulePath": {
          "description": "Optional. The Go module's \"module path\". e.g. example.com/foo/v2",
          "type": "string"
        },
        "sourcePath": {
          "description": "Optional. Source path of the go.mod file in the build's workspace. If not specified, this will default to the current directory. e.g. ~/code/go/mypackage",
          "type": "string"
        },
        "repositoryLocation": {
          "description": "Optional. Location of the Artifact Registry repository. i.e. us-east1 Defaults to the build’s location.",
          "type": "string"
        },
        "moduleVersion": {
          "type": "string",
          "description": "Optional. The Go module's semantic version in the form vX.Y.Z. e.g. v0.1.1 Pre-release identifiers can also be added by appending a dash and dot separated ASCII alphanumeric characters and hyphens. e.g. v0.2.3-alpha.x.12m.5"
        }
      },
      "id": "GoModule",
      "type": "object",
      "description": "Go module to upload to Artifact Registry upon successful completion of all build steps. A module refers to all dependencies in a go.mod file."
    },
    "ApproveBuildRequest": {
      "id": "ApproveBuildRequest",
      "type": "object",
      "description": "Request to approve or reject a pending build.",
      "properties": {
        "approvalResult": {
          "description": "Approval decision and metadata.",
          "$ref": "ApprovalResult"
        }
      }
    },
    "BatchCreateBitbucketServerConnectedRepositoriesResponse": {
      "properties": {
        "bitbucketServerConnectedRepositories": {
          "items": {
            "$ref": "BitbucketServerConnectedRepository"
          },
          "description": "The connected Bitbucket Server repositories.",
          "type": "array"
        }
      },
      "description": "Response of BatchCreateBitbucketServerConnectedRepositories RPC method including all successfully connected Bitbucket Server repositories.",
      "id": "BatchCreateBitbucketServerConnectedRepositoriesResponse",
      "type": "object"
    },
    "HttpConfig": {
      "description": "HttpConfig is a configuration for HTTP related git operations.",
      "id": "HttpConfig",
      "type": "object",
      "properties": {
        "proxySecretVersionName": {
          "type": "string",
          "description": "SecretVersion resource of the HTTP proxy URL. The Service Account used in the build (either the default Service Account or user-specified Service Account) should have `secretmanager.versions.access` permissions on this secret. The proxy URL should be in format `protocol://@]proxyhost[:port]`."
        }
      }
    },
    "Dependency": {
      "description": "A dependency that the Cloud Build worker will fetch before executing user steps.",
      "id": "Dependency",
      "type": "object",
      "properties": {
        "gitSource": {
          "description": "Represents a git repository as a build dependency.",
          "$ref": "GitSourceDependency"
        },
        "empty": {
          "description": "If set to true disable all dependency fetching (ignoring the default source as well).",
          "type": "boolean"
        },
        "genericArtifact": {
          "description": "Represents a generic artifact as a build dependency.",
          "$ref": "GenericArtifactDependency"
        }
      }
    },
    "RemoveBitbucketServerConnectedRepositoryRequest": {
      "properties": {
        "connectedRepository": {
          "description": "The connected repository to remove.",
          "$ref": "BitbucketServerRepositoryId"
        }
      },
      "id": "RemoveBitbucketServerConnectedRepositoryRequest",
      "type": "object",
      "description": "RPC request object accepted by RemoveBitbucketServerConnectedRepository RPC method."
    },
    "DeleteGitHubEnterpriseConfigOperationMetadata": {
      "id": "DeleteGitHubEnterpriseConfigOperationMetadata",
      "type": "object",
      "description": "Metadata for `DeleteGitHubEnterpriseConfig` operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Time the operation was created.",
          "type": "string"
        },
        "githubEnterpriseConfig": {
          "description": "The resource name of the GitHubEnterprise to be deleted. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`.",
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "description": "Time the operation was completed.",
          "format": "google-datetime"
        }
      }
    },
    "CancelBuildRequest": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the build."
        },
        "name": {
          "type": "string",
          "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`"
        },
        "projectId": {
          "description": "Required. ID of the project.",
          "type": "string"
        }
      },
      "id": "CancelBuildRequest",
      "type": "object",
      "description": "Request to cancel an ongoing build."
    },
    "CreateBitbucketServerConfigOperationMetadata": {
      "description": "Metadata for `CreateBitbucketServerConfig` operation.",
      "id": "CreateBitbucketServerConfigOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Time the operation was created.",
          "format": "google-datetime"
        },
        "bitbucketServerConfig": {
          "type": "string",
          "description": "The resource name of the BitbucketServerConfig to be created. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{id}`."
        },
        "completeTime": {
          "type": "string",
          "description": "Time the operation was completed.",
          "format": "google-datetime"
        }
      }
    },
    "FailureInfo": {
      "id": "FailureInfo",
      "type": "object",
      "description": "A fatal problem encountered during the execution of the build.",
      "properties": {
        "type": {
          "description": "The name of the failure.",
          "type": "string",
          "enumDescriptions": [
            "Type unspecified",
            "Unable to push the image to the repository.",
            "Final image not found.",
            "Unauthorized push of the final image.",
            "Backend logging failures. Should retry.",
            "A build step has failed.",
            "The source fetching has failed."
          ],
          "enum": [
            "FAILURE_TYPE_UNSPECIFIED",
            "PUSH_FAILED",
            "PUSH_IMAGE_NOT_FOUND",
            "PUSH_NOT_AUTHORIZED",
            "LOGGING_FAILURE",
            "USER_BUILD_STEP",
            "FETCH_SOURCE_FAILED"
          ]
        },
        "detail": {
          "description": "Explains the failure issue in more detail using hard-coded text.",
          "type": "string"
        }
      }
    },
    "UpdateGitHubEnterpriseConfigOperationMetadata": {
      "id": "UpdateGitHubEnterpriseConfigOperationMetadata",
      "type": "object",
      "description": "Metadata for `UpdateGitHubEnterpriseConfig` operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was created."
        },
        "githubEnterpriseConfig": {
          "type": "string",
          "description": "The resource name of the GitHubEnterprise to be updated. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the operation was completed."
        }
      }
    },
    "InlineSecret": {
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value.",
      "id": "InlineSecret",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*"
        },
        "envMap": {
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "additionalProperties": {
            "format": "byte",
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "BuildOperationMetadata": {
      "properties": {
        "build": {
          "description": "The build that the operation is tracking.",
          "$ref": "Build"
        }
      },
      "id": "BuildOperationMetadata",
      "type": "object",
      "description": "Metadata for build operations."
    },
    "PoolOption": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}"
        }
      },
      "description": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
      "id": "PoolOption",
      "type": "object"
    },
    "RunBuildTriggerRequest": {
      "description": "Specifies a build trigger to run and the source to use.",
      "id": "RunBuildTriggerRequest",
      "type": "object",
[...]
