{
  "title": "Cloud Billing API",
  "version": "v1beta",
  "canonicalName": "Cloudbilling",
  "protocol": "rest",
  "revision": "20260901",
  "documentationLink": "https://cloud.google.com/billing/docs/apis",
  "ownerDomain": "google.com",
  "baseUrl": "https://cloudbilling.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-billing": {
          "description": "View and manage your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-billing.readonly": {
          "description": "View your Google Cloud Platform billing accounts"
        }
      }
    }
  },
  "id": "cloudbilling:v1beta",
  "resources": {
    "skus": {
      "resources": {
        "prices": {
          "methods": {
            "list": {
              "id": "cloudbilling.skus.prices.list",
              "flatPath": "v1beta/skus/{skusId}/prices",
              "description": "Lists the latest prices for all SKUs.",
              "path": "v1beta/{+parent}/prices",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "currencyCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU.",
                  "pattern": "^skus/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query"
                }
              }
            }
          }
        },
        "price": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta/skus/{skusId}/price",
              "parameters": {
                "name": {
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price",
                  "location": "path",
                  "pattern": "^skus/[^/]+/price$",
                  "type": "string",
                  "required": true
                },
                "currencyCode": {
                  "location": "query",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest price for the given SKU.",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              },
              "id": "cloudbilling.skus.price.get"
            }
          }
        }
      }
    },
    "skuGroups": {
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              },
              "id": "cloudbilling.skuGroups.skus.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus",
              "path": "v1beta/{+parent}/skus",
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^skuGroups/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}",
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}",
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "id": "cloudbilling.skuGroups.skus.get"
            }
          }
        }
      },
      "methods": {
        "list": {
          "flatPath": "v1beta/skuGroups",
          "path": "v1beta/skuGroups",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "description": "Lists all publicly listed SKU groups.",
          "id": "cloudbilling.skuGroups.list"
        },
        "get": {
          "id": "cloudbilling.skuGroups.get",
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "description": "Gets a publicly listed SKU group.",
          "flatPath": "v1beta/skuGroups/{skuGroupsId}",
          "parameters": {
            "name": {
              "pattern": "^skuGroups/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}"
            }
          }
        }
      }
    },
    "v1beta": {
      "methods": {
        "generateInsights": {
          "flatPath": "v1beta:generateInsights",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta:generateInsights",
          "id": "cloudbilling.generateInsights",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "GenerateInsightsRequest"
          },
          "description": "Analyzes cost data for a billing account and/or specific projects. Returns a natural language summary and supporting datasets.",
          "response": {
            "$ref": "GenerateInsightsResponse"
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "services": {
          "methods": {
            "list": {
              "description": "Lists services visible to a billing account.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/services",
              "parameters": {
                "parent": {
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}",
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "id": "cloudbilling.billingAccounts.services.list",
              "httpMethod": "GET",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "cloudbilling.billingAccounts.services.get",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}",
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Gets a Google Cloud service visible to a billing account.",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "skus": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/skus",
              "description": "Lists SKUs visible to a billing account.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$",
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus",
              "httpMethod": "GET",
              "id": "cloudbilling.billingAccounts.skus.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              },
              "id": "cloudbilling.billingAccounts.skus.get",
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}"
                }
              },
              "description": "Gets a SKU visible to a billing account.",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "price": {
              "methods": {
                "get": {
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$"
                    },
                    "currencyCode": {
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "prices": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  },
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account.",
                  "httpMethod": "GET",
                  "id": "cloudbilling.billingAccounts.skus.prices.list",
                  "path": "v1beta/{+parent}/prices",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "currencyCode": {
                      "location": "query",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                    }
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices"
                }
              }
            }
          }
        },
        "skuGroups": {
          "methods": {
            "get": {
              "path": "v1beta/{+name}",
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Gets a SKU group visible to a billing account.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}"
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}",
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned."
                }
              },
              "description": "Lists SKU groups visible to a billing account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/skuGroups",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups"
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "list": {
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}"
                    },
                    "pageToken": {
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
                  },
                  "path": "v1beta/{+parent}/skus"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a SKU that is part of a billing account SKU group.",
                  "path": "v1beta/{+name}",
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}",
                      "required": true,
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "cloudbilling",
  "batchPath": "batch",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "schemas": {
    "UserContext": {
      "id": "UserContext",
      "type": "object",
      "description": "Additional context for personalization (e.g., user persona, role).",
      "properties": {
        "role": {
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.).",
          "type": "string"
        },
        "persona": {
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer).",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ],
          "type": "string",
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ]
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
      "type": "object",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price.",
      "properties": {
        "interval": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "type": "string",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month."
        },
        "level": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
      "type": "object",
      "properties": {
        "sourceSku": {
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}",
          "type": "string"
        }
      },
      "description": "Encapsulates a price migrated from other SKUs."
    },
    "AgenticQueryInfo": {
      "description": "A local representation of the query used to fetch the data. This is used instead of the raw QueryBillingDataRequest to avoid pulling in Cloud Policy Enforcement (CPE) resource_type annotations into the response payload, which causes ESF validation failures.",
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "The filter applied to the query."
        },
        "view": {
          "description": "The view queried.",
          "type": "string"
        },
        "columns": {
          "description": "The columns queried.",
          "type": "string"
        },
        "groupBy": {
          "description": "The group-by clause applied to the query.",
          "type": "string"
        },
        "orderBy": {
          "description": "The order-by clause applied to the query.",
          "type": "string"
        },
        "parents": {
          "description": "The parents (e.g. projects, billing accounts) queried.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "limit": {
          "description": "The row limit applied to the query.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AgenticQueryInfo"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          }
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
      "properties": {},
      "description": "Encapsulates a default price which is the current list price."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
    },
    "Datetime": {
      "description": "A datetime value.",
      "properties": {
        "bitFieldDatetimeSeconds": {
          "format": "int64",
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Non-negative fractions of a second at nanosecond resolution."
        }
      },
      "id": "Datetime",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time.",
      "properties": {
        "discountPercent": {
          "description": "Percentage of the floating discount.",
          "$ref": "Decimal"
        },
        "skuGroup": {
          "type": "string",
          "description": "SKU group where the floating discount comes from."
        },
        "discountScopeType": {
          "type": "string",
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'."
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "description": "All product categories that the SKU group SKU belongs to.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          }
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
    },
    "BillingData": {
      "id": "BillingData",
      "properties": {
        "columnInfo": {
          "type": "array",
          "description": "Information about columns.",
          "items": {
            "$ref": "ColumnInfo"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "Rows."
        }
      },
      "description": "Encapsulates billing data.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus).",
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
        },
        "billingAccountService": {
          "type": "string",
          "description": "BillingAccountService that the BillingAccountSku belongs to."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\"."
        },
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "description": "Encapsulates a Google Cloud region.",
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingPricesV1betaUnitInfo",
      "description": "Encapsulates the unit information for a Rate",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "name": {
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "service": {
          "type": "string",
          "description": "Service that the SkuGroupSku belongs to."
        },
        "displayName": {
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the SkuGroupSku."
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the SkuGroupSku."
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse",
      "type": "object",
      "properties": {
        "skuGroupSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          },
          "description": "The returned SKU group SKUs."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Response message for ListSkuGroupSkus."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "description": "Encapsulates a price reason which contains background information about the origin of the price.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
      "properties": {
        "fixedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
          "description": "Fixed price applicable during the terms of a contract agreement."
        },
        "listPriceAsCeiling": {
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling"
        },
        "migratedPrice": {
          "description": "Price migrated from other SKUs.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
        },
        "mergedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
          "description": "Price after merging from multiple sources."
        },
        "defaultPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
          "description": "Default price which is the current list price."
        },
        "fixedDiscount": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
          "description": "Discount off the list price, anchored to the list price as of a fixed time."
        },
        "type": {
          "type": "string",
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'."
        },
        "floatingDiscount": {
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "description": "Encapsulates a global geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "properties": {}
    },
    "GenerateInsightsResponse": {
      "properties": {
        "finalResult": {
          "$ref": "FinalResult",
          "readOnly": true,
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream."
        },
        "rejection": {
          "$ref": "Rejection",
          "description": "Output only. The request was rejected (e.g. out of scope).",
          "readOnly": true
        },
        "thoughtChunk": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status."
        },
        "summaryChunk": {
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Response for GenerateInsights.",
      "id": "GenerateInsightsResponse"
    },
    "DataSet": {
      "properties": {
        "suggestedChart": {
          "description": "Output only. A suggested chart for the data set, used for UI rendering.",
          "$ref": "SuggestedChart",
          "readOnly": true
        },
        "queryInfo": {
          "$ref": "AgenticQueryInfo",
          "readOnly": true,
          "description": "Output only. The query used to fetch this data."
        },
        "billingData": {
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service.",
          "$ref": "BillingData",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts).",
      "id": "DataSet"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "type": "object",
      "properties": {
        "discountScopeType": {
          "type": "string",
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'."
        },
        "discountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of the fixed discount."
        },
        "fixTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that the fixed discount is anchored to."
        },
        "skuGroup": {
          "type": "string",
          "description": "SKU group where the fixed discount comes from."
        }
      },
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time."
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\"."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\"."
        }
      },
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "type": "object"
    },
    "Range": {
      "properties": {
        "end": {
          "description": "Represents the end of the range.",
          "$ref": "ValueProto"
        },
        "start": {
          "description": "Represents the start of the range.",
          "$ref": "ValueProto"
        }
      },
      "type": "object",
      "id": "Range",
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present."
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "description": "Encapsulates a Google Cloud service visible to a billing account.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"."
        },
        "displayName": {
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\".",
          "type": "string"
        },
        "serviceId": {
          "type": "string",
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\"."
        }
      }
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "type": "object",
      "description": "Encapsulates the latest price for a SKU.",
      "properties": {
        "rate": {
          "$ref": "GoogleCloudBillingPricesV1betaRate",
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        },
        "valueType": {
          "type": "string",
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"]."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the latest price."
        },
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingPricesV1betaPrice"
    },
    "Struct": {
      "properties": {
        "field": {
          "items": {
            "$ref": "ValueProto"
          },
          "description": "The fields in the struct",
          "type": "array"
        }
      },
      "id": "Struct",
      "type": "object",
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "description": "Response message for ListBillingAccountSkus.",
      "type": "object",
      "properties": {
        "billingAccountSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          },
          "description": "The returned billing account SKUs."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          },
          "description": "All product categories that the billing account SKU belong to."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types.",
      "properties": {}
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "id": "GoogleCloudBillingPricesV1betaRateTier",
      "type": "object",
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "listPrice": {
          "$ref": "Money",
          "description": "List price of one tier."
        },
        "startAmount": {
          "$ref": "Decimal",
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100."
        }
      }
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo",
      "properties": {
        "interval": {
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "type": "string",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ]
        },
        "level": {
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        }
      },
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price."
    },
    "Decimal": {
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "id": "Decimal",
      "type": "object"
    },
    "Map": {
      "id": "Map",
      "type": "object",
      "properties": {
        "entry": {
          "description": "Represents the map entries in the map.",
          "items": {
            "$ref": "MapEntry"
          },
          "type": "array"
        }
      },
      "description": "An unordered mapping from key to value, represented as a collection of map entries."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
      "properties": {
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the billing account SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        },
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "multiRegionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
          "description": "Multi-regional geographic metadata with 2 or more regions."
        }
      }
    },
    "BillingDataResource": {
      "properties": {
        "resource": {
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`",
          "type": "string"
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. If not provided the billing account currently associated with the resource will be used."
        }
      },
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data.",
      "type": "object",
      "id": "BillingDataResource"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "description": "Encapsulates the unit information for a Rate",
      "type": "object",
      "properties": {
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        },
        "unit": {
          "type": "string",
          "description": "Shorthand for the unit. Example: GiBy.mo."
        },
        "unitQuantity": {
          "$ref": "Decimal",
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000."
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory",
      "type": "object",
      "description": "Encapsulates a product category."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "description": "Response message for ListBillingAccountPrices.",
      "type": "object",
      "properties": {
        "billingAccountPrices": {
          "description": "The returned billing account prices.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "skuGroups": {
          "description": "The returned publicly listed SKU groups.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ListSkuGroups."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "description": "Encapsulates a product category."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "type": "object",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the SKU group SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ]
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "type": "object",
      "properties": {
        "regions": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          },
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional"
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "description": "Response message for ListBillingAccountServices.",
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "billingAccountServices": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          },
          "type": "array",
          "description": "The returned billing account services."
        }
      },
      "type": "object"
    },
    "ColumnInfo": {
      "type": "object",
      "properties": {
        "column": {
          "description": "Name of the column.",
          "type": "string"
        }
      },
      "description": "Represents a column header.",
      "id": "ColumnInfo"
    },
    "Row": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          },
          "description": "Values for a row in the column order."
        }
      },
      "type": "object",
      "id": "Row",
      "description": "Represents a row in the query result."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal"
    },
    "GenerateInsightsRequest": {
      "properties": {
        "parents": {
          "items": {
            "$ref": "BillingDataResource"
          },
          "description": "Optional. The billing account or projects to analyze.",
          "type": "array"
        },
        "overriddenMaxIterationCounts": {
          "format": "int32",
          "description": "Optional. Overrides the maximum iterations for any selected strategy.",
          "type": "integer"
        },
        "userContext": {
          "$ref": "UserContext",
          "description": "Optional. Additional context for personalization (e.g., user persona, role)."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\""
        },
        "prompt": {
          "type": "string",
          "description": "Required. The natural language prompt from the user."
        }
      },
      "type": "object",
      "id": "GenerateInsightsRequest",
      "description": "Request for GenerateInsights."
    },
    "Money": {
      "type": "object",
      "properties": {
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        }
      },
      "id": "Money",
      "description": "Represents an amount of money with its currency type."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
        }
      },
      "description": "Encapsulates a regional geographic taxonomy.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "type": "object",
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
    },
    "FinalResult": {
      "description": "Encapsulates all structured data and the completed summary.",
      "properties": {
        "suggestedQueries": {
          "items": {
            "$ref": "SuggestedQuery"
          },
          "type": "array",
          "description": "Output only. A list of suggested follow-up queries for the user.",
          "readOnly": true
        },
        "fullAnalysis": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references."
        },
        "dataSets": {
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts).",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DataSet"
          }
        },
        "insights": {
          "items": {
            "$ref": "Insight"
          },
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "readOnly": true,
          "type": "array"
        },
        "summary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full natural language summary (re-sent for consistency)."
        },
        "interopLinks": {
          "readOnly": true,
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries).",
          "type": "array",
          "items": {
            "$ref": "InteropLink"
          }
        }
      },
      "id": "FinalResult",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku",
      "properties": {
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to.",
          "type": "string"
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "displayName": {
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Encapsulates a SKU that is part of a billing account SKU group."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "properties": {
        "regions": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          },
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "properties": {
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
        },
        "tiers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          },
          "description": "All tiers associated with the `Rate` price."
        },
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate",
      "type": "object",
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers."
    },
    "ValueProto": {
      "id": "ValueProto",
      "type": "object",
      "properties": {
        "tokenlistValue": {
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end",
          "type": "string",
          "format": "byte"
        },
        "int32Value": {
          "type": "integer",
          "description": "Primitive value for int32.",
          "format": "int32"
        },
        "floatValue": {
          "format": "float",
          "description": "Primitive for float.",
          "type": "number"
        },
        "uuidValue": {
          "type": "string",
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes().",
          "format": "byte"
        },
        "int64Value": {
          "format": "int64",
          "description": "Primitive for int64.",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "description": "Primitive for double.",
          "type": "number"
        },
        "boolValue": {
          "description": "Primitive for bool.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "Primitive for string.",
          "type": "string"
        },
        "structValue": {
          "$ref": "Struct",
          "description": "A struct of values"
        },
        "uint64Value": {
          "format": "uint64",
          "type": "string",
          "description": "Primitive for uint64."
        },
        "numericValue": {
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes().",
          "format": "byte",
          "type": "string"
        },
        "rangeValue": {
          "$ref": "Range",
          "description": "Encoded range value. See go/googlesql_range."
        },
        "bignumericValue": {
          "format": "byte",
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes().",
          "type": "string"
        },
        "timestampValue": {
          "description": "primitive for timestamp",
          "format": "google-datetime",
          "type": "string"
        },
        "protoValue": {
          "format": "byte",
          "type": "string",
          "description": "Stores a serialized protocol message."
        },
        "ValueProtoSwitchMustHaveADefault": {
          "type": "boolean",
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added."
        },
        "bytesValue": {
          "type": "string",
          "format": "byte",
          "description": "Primitive for bytes."
        },
        "intervalValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes()."
        },
        "datetimeValue": {
          "$ref": "Datetime",
          "description": "primitive for datetime"
        },
        "geographyValue": {
          "format": "byte",
          "description": "Geography encoded using ::stlib::STGeographyEncoder",
          "type": "string"
        },
        "arrayValue": {
          "$ref": "Array",
          "description": "An array of value"
        },
        "timestampPicoValue": {
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes().",
          "format": "byte",
          "type": "string"
        },
        "timeValue": {
          "format": "int64",
          "type": "string",
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details."
        },
        "jsonValue": {
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document.",
          "type": "string"
        },
        "dateValue": {
          "type": "integer",
          "description": "Primitive for date.",
          "format": "int32"
        },
        "mapValue": {
          "description": "Encoded map value. See go/googlesql_map.",
          "$ref": "Map"
        },
        "uint32Value": {
          "format": "uint32",
          "type": "integer",
          "description": "Primitive for uint32."
        },
        "enumValue": {
          "format": "int32",
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete.",
          "type": "integer"
        }
      },
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto."
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "properties": {
        "tiers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          },
          "description": "All tiers associated with the `Rate` price."
        },
        "unitInfo": {
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        },
        "aggregationInfo": {
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo",
          "description": "Aggregation info for tiers such as aggregation level and interval."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaRate",
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ]
        },
        "multiRegionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
          "description": "Multi-regional geographic metadata with 2 or more regions."
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
        },
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        }
      },
      "type": "object"
    },
    "InteropLink": {
      "properties": {
        "url": {
          "description": "Output only. The URL of the link.",
          "readOnly": true,
          "type": "string"
        },
        "linkType": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ],
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ],
          "type": "string",
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc."
        },
        "label": {
          "readOnly": true,
          "description": "Output only. The label of the link, suitable for UI rendering.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InteropLink",
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries)."
    },
    "SuggestedChart": {
      "type": "object",
      "properties": {
        "chartTitle": {
          "description": "The title of the chart.",
          "type": "string"
        },
        "xAxisField": {
          "description": "The field used for the x-axis.",
          "type": "string"
        },
        "yAxisField": {
          "description": "The field used for the y-axis.",
          "type": "string"
        },
        "yAxisLabel": {
          "description": "The label of the y-axis.",
          "type": "string"
        },
        "seriesField": {
          "type": "string",
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data."
        },
        "chartType": {
          "description": "The type of the chart.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ],
          "type": "string",
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ]
        },
        "xAxisLabel": {
          "description": "The label of the x-axis.",
          "type": "string"
        }
      },
      "description": "A suggested chart for the data set, used for UI rendering.",
      "id": "SuggestedChart"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\"."
        }
      },
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "properties": {
        "billingAccountSkuGroups": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          },
          "type": "array",
          "description": "The returned publicly listed billing account SKU groups."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse",
      "type": "object",
      "description": "Response message for ListBillingAccountSkuGroups."
    },
    "Rejection": {
      "id": "Rejection",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Output only. The reason for the rejection.",
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ],
          "readOnly": true
        },
        "displayMessage": {
          "type": "string",
          "description": "Output only. A user-facing message explaining the rejection.",
          "readOnly": true
        }
      },
      "description": "Encapsulates details about why a request was rejected.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "description": "Encapsulates a rate price tier.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "type": "object",
      "properties": {
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        },
        "effectiveDiscountPercent": {
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details.",
          "$ref": "Decimal"
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        },
        "contractPrice": {
          "description": "Negotiated contract price specific for a billing account.",
          "$ref": "Money"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "type": "object",
      "properties": {
        "valueType": {
          "type": "string",
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"]."
        },
        "rate": {
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate"
        },
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        },
        "priceReason": {
          "description": "Background information on the origin of the price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the latest billing account price."
        }
      },
      "description": "Encapsulates the latest price for a billing account SKU.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "description": "Encapsulates a Google Cloud region."
    },
    "MapEntry": {
      "id": "MapEntry",
      "description": "A single entry in a Map, representing the mapping between `key` and `value`.",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map value of the entry."
        },
        "key": {
          "description": "Represents the serialized map key for the entry.",
          "$ref": "ValueProto"
        }
      }
    },
    "Array": {
      "properties": {
        "element": {
          "items": {
            "$ref": "ValueProto"
          },
          "description": "The elements of the array.",
          "type": "array"
        }
      },
      "description": "An ordered collection of elements of arbitrary count.",
      "id": "Array",
      "type": "object"
    },
    "Insight": {
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO",
      "type": "object",
      "id": "Insight",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ],
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding)."
        },
        "title": {
          "type": "string",
          "description": "Output only. The title of the insight.",
          "readOnly": true
        },
        "description": {
          "description": "Output only. The description of the insight.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "type": "object",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "billingAccountSkuGroupSkus": {
          "description": "The returned billing account SKU group SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ListBillingAccountSkuGroupSkus.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "type": "object",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
    },
    "SuggestedQuery": {
      "properties": {
        "query": {
          "description": "The natural language query.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A suggested follow-up query for the user.",
      "id": "SuggestedQuery"
    },
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "type": "object",
      "description": "Response message for ListPrices.",
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse",
      "properties": {
        "nextPageToken": {
[...]
