{
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "productSuites": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "flatPath": "v1/productSuites",
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "description": "Lists ProductSuites.",
          "httpMethod": "GET",
          "id": "cloudproductregistry.productSuites.list",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token."
            }
          },
          "path": "v1/productSuites"
        },
        "lookupEntity": {
          "httpMethod": "GET",
          "parameterOrder": [
            "lookupUri"
          ],
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "parameters": {
            "lookupUri": {
              "type": "string",
              "location": "path",
              "pattern": "^productSuites/[^/]+$",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "required": true
            }
          },
          "path": "v1/{+lookupUri}:lookupEntity",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "description": "Look up entities."
        },
        "get": {
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^productSuites/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}"
            }
          },
          "id": "cloudproductregistry.productSuites.get",
          "httpMethod": "GET",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "response": {
            "$ref": "ProductSuite"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Get details of a ProductSuite."
        }
      }
    },
    "logicalProducts": {
      "methods": {
        "lookupEntity": {
          "description": "Look up entities.",
          "parameters": {
            "lookupUri": {
              "required": true,
              "pattern": "^logicalProducts/[^/]+$",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "parameterOrder": [
            "lookupUri"
          ],
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "httpMethod": "GET",
          "path": "v1/{+lookupUri}:lookupEntity"
        },
        "list": {
          "id": "cloudproductregistry.logicalProducts.list",
          "description": "Lists LogicalProducts matching given criteria.",
          "path": "v1/logicalProducts",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "type": "integer"
            },
            "filter": {
              "type": "string",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "flatPath": "v1/logicalProducts",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "httpMethod": "GET"
        },
        "get": {
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "pattern": "^logicalProducts/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "cloudproductregistry.logicalProducts.get",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "response": {
            "$ref": "LogicalProduct"
          },
          "description": "Gets details of a LogicalProduct."
        }
      },
      "resources": {
        "variants": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "httpMethod": "GET",
              "description": "Get details of a LogicalProductVariant.",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^logicalProducts/[^/]+$"
                }
              },
              "path": "v1/{+parent}/variants",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "httpMethod": "GET",
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "description": "Lists LogicalProductVariants matching given criteria.",
              "parameterOrder": [
                "parent"
              ]
            },
            "lookupEntity": {
              "httpMethod": "GET",
              "path": "v1/{+lookupUri}:lookupEntity",
              "parameters": {
                "lookupUri": {
                  "location": "path",
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Look up entities.",
              "parameterOrder": [
                "lookupUri"
              ],
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "servicePath": "",
  "schemas": {
    "LookupEntityResponse": {
      "type": "object",
      "id": "LookupEntityResponse",
      "properties": {
        "logicalProduct": {
          "$ref": "LogicalProduct",
          "description": "Matched LogicalProduct."
        },
        "productSuite": {
          "$ref": "ProductSuite",
          "description": "Matched ProductSuite."
        },
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        }
      },
      "description": "Response message for LookupEntity."
    },
    "ListProductSuitesResponse": {
      "description": "Response message for ListProductSuites.",
      "type": "object",
      "id": "ListProductSuitesResponse",
      "properties": {
        "productSuites": {
          "type": "array",
          "items": {
            "$ref": "ProductSuite"
          },
          "description": "Matched ProductSuites"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ListLogicalProductsResponse": {
      "properties": {
        "logicalProducts": {
          "type": "array",
          "description": "Matched LogicalProducts",
          "items": {
            "$ref": "LogicalProduct"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListLogicalProductsResponse",
      "description": "Response message for ListLogicalProducts."
    },
    "ListLogicalProductVariantsResponse": {
      "id": "ListLogicalProductVariantsResponse",
      "properties": {
        "logicalProductVariants": {
          "description": "Matched LogicalProductVariants",
          "items": {
            "$ref": "LogicalProductVariant"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListLogicalProductVariants.",
      "type": "object"
    },
    "LogicalProductVariant": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProductVariant."
        },
        "lifecycleState": {
          "readOnly": true,
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "Deprecated: Private General Availability entities are not exposed. The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "type": "string"
        },
        "replaced": {
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "replacement": {
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "readOnly": true
        }
      },
      "id": "LogicalProductVariant",
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment."
    },
    "LogicalProduct": {
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "type": "object",
      "id": "LogicalProduct",
      "properties": {
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc."
        },
        "productSuite": {
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        },
        "variants": {
          "readOnly": true,
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "description": "Display name of the LogicalProduct.",
          "type": "string"
        },
        "lifecycleState": {
          "readOnly": true,
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "Deprecated: Private General Availability entities are not exposed. The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "description": "Output only. Current Lifecycle state of the logical product."
        },
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        }
      }
    },
    "ProductSuite": {
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "replaced": {
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "logicalProducts": {
          "readOnly": true,
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "replacement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc."
        }
      },
      "id": "ProductSuite"
    }
  },
  "canonicalName": "Cloud Product Registry",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "version": "v1",
  "basePath": "",
  "title": "Cloud Product Registry API",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "cloudproductregistry:v1",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "version_module": true,
  "name": "cloudproductregistry",
  "kind": "discovery#restDescription",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "batchPath": "batch",
  "revision": "20260930"
}