{
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "ownerDomain": "google.com",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Build API",
  "batchPath": "batch",
  "name": "cloudbuild",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "description": "Creates and manages builds on Google Cloud Platform.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v2",
  "revision": "20260814",
  "ownerName": "Google",
  "version_module": true,
  "basePath": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "id": "cloudbuild:v2",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://cloudbuild.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://cloudbuild.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://cloudbuild.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://cloudbuild.asia-northeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://cloudbuild.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://cloudbuild.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://cloudbuild.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://cloudbuild.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://cloudbuild.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://cloudbuild.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://cloudbuild.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://cloudbuild.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://cloudbuild.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://cloudbuild.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://cloudbuild.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://cloudbuild.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://cloudbuild.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://cloudbuild.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://cloudbuild.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://cloudbuild.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://cloudbuild.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://cloudbuild.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://cloudbuild.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://cloudbuild.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://cloudbuild.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://cloudbuild.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://cloudbuild.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "Location"
              },
              "id": "cloudbuild.projects.locations.get",
              "description": "Gets information about a location.",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}/locations",
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "repeated": true,
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/locations",
              "id": "cloudbuild.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v2/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            },
            "connections": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "id": "cloudbuild.projects.locations.connections.create",
                  "description": "Creates a Connection.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+parent}/connections",
                  "parameters": {
                    "parent": {
                      "description": "Required. Project and location where the connection will be created. Format: `projects/*/locations/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "connectionId": {
                      "description": "Required. The ID to use for the Connection, which will become the final component of the Connection's resource name. Names must be unique per-project per-location. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Connection"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "getIamPolicy": {
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer"
                    }
                  },
                  "path": "v2/{+resource}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "cloudbuild.projects.locations.connections.getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:getIamPolicy",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "processWebhook": {
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/connections:processWebhook",
                  "parameters": {
                    "parent": {
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "webhookKey": {
                      "description": "Arbitrary additional key to find the matching repository for a webhook event if needed.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections:processWebhook",
                  "id": "cloudbuild.projects.locations.connections.processWebhook",
                  "description": "ProcessWebhook is called by the external SCM for notifying of events."
                },
                "list": {
                  "id": "cloudbuild.projects.locations.connections.list",
                  "description": "Lists Connections in a given project and location.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Number of results to return in the list.",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of Connections. Format: `projects/*/locations/*`.",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Page start.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "Optional. If set to true, the response will return partial results when some regions are unreachable. If set to false, the response will fail if any region is unreachable.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "path": "v2/{+parent}/connections",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Connection to retrieve. Format: `projects/*/locations/*/connections/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Connection"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "id": "cloudbuild.projects.locations.connections.get",
                  "description": "Gets details of a single connection."
                },
                "fetchLinkableRepositories": {
                  "path": "v2/{+connection}:fetchLinkableRepositories",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Page start.",
                      "type": "string"
                    },
                    "connection": {
                      "description": "Required. The name of the Connection. Format: `projects/*/locations/*/connections/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Number of results to return in the list. Default to 20.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "connection"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchLinkableRepositories",
                  "id": "cloudbuild.projects.locations.connections.fetchLinkableRepositories",
                  "description": "FetchLinkableRepositories get repositories from SCM that are accessible and could be added to the connection.",
                  "response": {
                    "$ref": "FetchLinkableRepositoriesResponse"
                  }
                },
                "setIamPolicy": {
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "cloudbuild.projects.locations.connections.setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:setIamPolicy"
                },
                "testIamPermissions": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "path": "v2/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:testIamPermissions",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.connections.testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Connection to delete. Format: `projects/*/locations/*/connections/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "etag": {
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.connections.delete",
                  "description": "Deletes a single connection.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "path": "v2/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated.",
                      "type": "string"
                    },
                    "etag": {
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, update will be blocked and an ABORTED error will be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    },
                    "allowMissing": {
                      "description": "If set to true, and the connection is not found a new connection will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input connection has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties).",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Connection"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.connections.patch",
                  "description": "Updates a single connection.",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "repositories": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path"
                        },
                        "repositoryId": {
                          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v2/{+parent}/repositories",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Repository"
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.create",
                      "description": "Creates a Repository.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "batchCreate": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "BatchCreateRepositoriesRequest"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path",
                          "description": "Required. The connection to contain all the repositories being created. Format: projects/*/locations/*/connections/* The parent field in the CreateRepositoryRequest messages must either be empty or match this field.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v2/{+parent}/repositories:batchCreate",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.batchCreate",
                      "description": "Creates multiple repositories inside a connection.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories:batchCreate",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "etag": {
                          "location": "query",
                          "description": "The current etag of the repository. If an etag is provided and does not match the current etag of the repository, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        },
                        "validateOnly": {
                          "location": "query",
                          "description": "If set, validate the request, but do not actually post it.",
                          "type": "boolean"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "description": "Required. The name of the Repository to delete. Format: `projects/*/locations/*/connections/*/repositories/*`.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "cloudbuild.projects.locations.connections.repositories.delete",
                      "description": "Deletes a single repository.",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListRepositoriesResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "id": "cloudbuild.projects.locations.connections.repositories.list",
                      "description": "Lists Repositories in a given connection.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/repositories",
                      "parameters": {
                        "pageToken": {
                          "description": "Page start.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "description": "A filter expression that filters resources listed in the response. Expressions must follow API improvement proposal [AIP-160](https://google.aip.dev/160). e.g. `remote_uri:\"https://github.com*\"`.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent, which owns this collection of Repositories. Format: `projects/*/locations/*/connections/*`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "Number of results to return in the list.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "returnPartialSuccess": {
                          "description": "Optional. If set to true, the response will return partial results when some regions are unreachable. If set to false, the response will fail if any region is unreachable.",
                          "type": "boolean",
                          "location": "query"
                        }
                      }
                    },
                    "accessReadToken": {
                      "response": {
                        "$ref": "FetchReadTokenResponse"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadToken",
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadToken",
                      "description": "Fetches read token of a given repository.",
                      "request": {
                        "$ref": "FetchReadTokenRequest"
                      },
                      "parameterOrder": [
                        "repository"
                      ],
                      "path": "v2/{+repository}:accessReadToken",
                      "parameters": {
                        "repository": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "fetchGitRefs": {
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. Page start.",
                          "type": "string",
                          "location": "query"
                        },
                        "repository": {
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "location": "path"
                        },
                        "refType": {
                          "location": "query",
                          "enumDescriptions": [
                            "No type specified.",
                            "To fetch tags.",
                            "To fetch branches."
                          ],
                          "description": "Type of refs to fetch",
                          "type": "string",
                          "enum": [
                            "REF_TYPE_UNSPECIFIED",
                            "TAG",
                            "BRANCH"
                          ]
                        },
                        "pageSize": {
                          "description": "Optional. Number of results to return in the list. Default to 20.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "path": "v2/{+repository}:fetchGitRefs",
                      "parameterOrder": [
                        "repository"
                      ],
                      "id": "cloudbuild.projects.locations.connections.repositories.fetchGitRefs",
                      "description": "Fetch the list of branches or tags for a given repository.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:fetchGitRefs",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "FetchGitRefsResponse"
                      }
                    },
                    "accessReadWriteToken": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadWriteToken",
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadWriteToken",
                      "description": "Fetches read/write token of a given repository.",
                      "response": {
                        "$ref": "FetchReadWriteTokenResponse"
                      },
                      "path": "v2/{+repository}:accessReadWriteToken",
                      "parameters": {
                        "repository": {
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "FetchReadWriteTokenRequest"
                      },
                      "parameterOrder": [
                        "repository"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the Repository to retrieve. Format: `projects/*/locations/*/connections/*/repositories/*`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "Repository"
                      },
                      "id": "cloudbuild.projects.locations.connections.repositories.get",
                      "description": "Gets details of a single repository.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "canonicalName": "Cloud Build",
  "schemas": {
    "GoogleDevtoolsCloudbuildV2Condition": {
      "id": "GoogleDevtoolsCloudbuildV2Condition",
      "description": "Conditions defines a readiness condition for a Knative resource.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the condition.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "TRUE",
            "FALSE"
          ],
          "enumDescriptions": [
            "Default enum type indicating execution is still ongoing.",
            "Success",
            "Failure"
          ]
        },
        "severity": {
          "description": "Severity with which to treat failures of this type of condition.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Severity is warning.",
            "Severity is informational only."
          ]
        },
        "type": {
          "description": "Type of condition.",
          "type": "string"
        },
        "reason": {
          "description": "The reason for the condition's last transition.",
          "type": "string"
        },
        "lastTransitionTime": {
          "description": "LastTransitionTime is the last time the condition transitioned from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "message": {
          "description": "A human readable message indicating details about the transition.",
          "type": "string"
        }
      }
    },
    "ListRepositoriesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "description": "The list of Repositories.",
          "type": "array"
        }
      },
      "id": "ListRepositoriesResponse",
      "description": "Message for response to listing Repositories.",
      "type": "object"
    },
    "EmbeddedTask": {
      "properties": {
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User annotations. See https://google.aip.dev/128#annotations",
          "type": "object"
        },
        "taskSpec": {
          "description": "Spec to instantiate this TaskRun.",
          "$ref": "TaskSpec"
        }
      },
      "id": "EmbeddedTask",
      "description": "EmbeddedTask defines a Task that is embedded in a Pipeline.",
      "type": "object"
    },
    "WorkspacePipelineTaskBinding": {
      "id": "WorkspacePipelineTaskBinding",
      "description": "WorkspacePipelineTaskBinding maps workspaces from the PipelineSpec to the workspaces declared in the Task.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the workspace as declared by the task.",
          "type": "string"
        },
        "workspace": {
          "description": "Name of the workspace declared by the pipeline.",
          "type": "string"
        },
        "subPath": {
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional",
          "type": "string"
        }
      }
    },
    "EmptyDirVolumeSource": {
      "properties": {},
      "id": "EmptyDirVolumeSource",
      "description": "Represents an empty Volume source.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV2OperationMetadata": {
      "id": "GoogleDevtoolsCloudbuildV2OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StepTemplate": {
      "id": "StepTemplate",
      "description": "StepTemplate can be used as the basis for all step containers within the Task, so that the steps inherit settings on the base container.",
      "type": "object",
      "properties": {
        "env": {
          "description": "Optional. List of environment variables to set in the Step. Cannot be updated.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "volumeMounts": {
          "description": "Optional. Pod volumes to mount into the container's filesystem.",
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          }
        }
      }
    },
    "PipelineTask": {
      "properties": {
        "retries": {
          "format": "int32",
          "description": "Retries represents how many times this task should be retried in case of task failure.",
          "type": "integer"
        },
        "whenExpressions": {
          "description": "Conditions that need to be true for the task to run.",
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          }
        },
        "runAfter": {
          "description": "RunAfter is the list of PipelineTask names that should be executed before this Task executes. (Used to force a specific ordering in graph execution.)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "taskSpec": {
          "description": "Spec to instantiate this TaskRun.",
          "$ref": "EmbeddedTask"
        },
        "params": {
          "description": "Params is a list of parameter names and values.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        },
        "taskRef": {
          "description": "Reference to a specific instance of a task.",
          "$ref": "TaskRef"
        },
        "timeout": {
          "description": "Time after which the TaskRun times out. Defaults to 1 hour. Specified TaskRun timeout should be less than 24h.",
          "type": "string",
          "format": "google-duration"
        },
        "workspaces": {
          "items": {
            "$ref": "WorkspacePipelineTaskBinding"
          },
          "description": "Workspaces maps workspaces from the pipeline spec to the workspaces declared in the Task.",
          "type": "array"
        },
        "name": {
          "description": "Name of the task.",
          "type": "string"
        }
      },
      "id": "PipelineTask",
      "description": "PipelineTask defines a task in a Pipeline.",
      "type": "object"
    },
    "FetchReadTokenResponse": {
      "properties": {
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        }
      },
      "id": "FetchReadTokenResponse",
      "description": "Message for responding to get read token.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig": {
      "id": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      }
    },
    "SkippedTask": {
      "id": "SkippedTask",
      "description": "SkippedTask is used to describe the Tasks that were skipped due to their When Expressions evaluating to False.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name is the Pipeline Task name",
          "type": "string"
        },
        "whenExpressions": {
          "items": {
            "$ref": "WhenExpression"
          },
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask",
          "type": "array"
        },
        "reason": {
          "description": "Output only. Reason is the cause of the PipelineTask being skipped.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PipelineRef": {
      "id": "PipelineRef",
      "description": "PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the Pipeline.",
          "type": "string"
        },
        "params": {
          "items": {
            "$ref": "Param"
          },
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "type": "array"
        },
        "resolver": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "type": "string",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ]
        }
      }
    },
    "BitbucketDataCenterConfig": {
      "properties": {
        "authorizerCredential": {
          "description": "Required. A http access token with the `REPO_ADMIN` scope access.",
          "$ref": "UserCredential"
        },
        "sslCa": {
          "description": "Optional. SSL certificate to use for requests to the Bitbucket Data Center.",
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center instance or cluster this connection is for.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet."
        },
        "serverVersion": {
          "readOnly": true,
          "description": "Output only. Version of the Bitbucket Data Center running on the `host_uri`.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "Required. A http access token with the `REPO_READ` access.",
          "$ref": "UserCredential"
        }
      },
      "id": "BitbucketDataCenterConfig",
      "description": "Configuration for connections to Bitbucket Data Center.",
      "type": "object"
    },
    "SecretVolumeSource": {
      "id": "SecretVolumeSource",
      "description": "Secret Volume Source.",
      "type": "object",
      "properties": {
        "secretVersion": {
          "description": "Optional. Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "type": "string"
        },
        "secretName": {
          "description": "Name of the secret referenced by the WorkspaceBinding.",
          "type": "string"
        }
      }
    },
    "TaskResult": {
      "properties": {
        "description": {
          "description": "Description of the result.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "description": "The type of data that the result holds.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ]
        },
        "properties": {
          "description": "When type is OBJECT, this map holds the names of fields inside that object along with the type of data each field holds.",
          "type": "object",
          "additionalProperties": {
            "$ref": "PropertySpec"
          }
        },
        "value": {
          "$ref": "ParamValue",
          "description": "Optional. Optionally used to initialize a Task's result with a Step's result."
        },
        "name": {
          "description": "Name of the result.",
          "type": "string"
        }
      },
      "id": "TaskResult",
      "description": "TaskResult is used to describe the results of a task.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Connection": {
      "id": "Connection",
      "description": "A connection to a SCM like GitHub, GitHub Enterprise, Bitbucket Data Center, Bitbucket Cloud or GitLab.",
      "type": "object",
      "properties": {
        "installationState": {
          "readOnly": true,
          "$ref": "InstallationState",
          "description": "Output only. Installation state of the Connection."
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "bitbucketDataCenterConfig": {
          "$ref": "BitbucketDataCenterConfig",
          "description": "Configuration for connections to Bitbucket Data Center."
        },
        "name": {
          "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "bitbucketCloudConfig": {
          "$ref": "BitbucketCloudConfig",
          "description": "Configuration for connections to Bitbucket Cloud."
        },
        "createTime": {
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitLabConfig"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "type": "boolean",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "githubEnterpriseConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig",
          "description": "Configuration for connections to an instance of GitHub Enterprise."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "type": "string"
        }
      }
    },
    "Step": {
      "id": "Step",
      "description": "Step embeds the Container type, which allows it to include fields not provided by Container.",
      "type": "object",
      "properties": {
        "timeout": {
          "description": "Time after which the Step times out. Defaults to never.",
          "type": "string",
          "format": "google-duration"
        },
        "onError": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "StopAndFail indicates exit if the step/task exits with non-zero exit code",
            "Continue indicates continue executing the rest of the steps/tasks irrespective of the exit code"
          ],
          "description": "Optional. OnError defines the exiting behavior on error can be set to [ continue | stopAndFail ]",
          "type": "string",
          "enum": [
            "ON_ERROR_TYPE_UNSPECIFIED",
            "STOP_AND_FAIL",
            "CONTINUE"
          ]
        },
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        },
        "ref": {
          "description": "Optional. Optional reference to a remote StepAction.",
          "$ref": "StepRef"
        },
        "image": {
          "description": "Docker image name.",
          "type": "string"
        },
        "command": {
          "items": {
            "type": "string"
          },
          "description": "Entrypoint array.",
          "type": "array"
        },
        "params": {
          "items": {
            "$ref": "Param"
          },
          "description": "Optional. Optional parameters passed to the StepAction.",
          "type": "array"
        },
        "volumeMounts": {
          "items": {
            "$ref": "VolumeMount"
          },
          "description": "Pod volumes to mount into the container's filesystem.",
          "type": "array"
        },
        "name": {
          "description": "Name of the container specified as a DNS_LABEL.",
          "type": "string"
        },
        "env": {
          "items": {
            "$ref": "EnvVar"
          },
          "description": "List of environment variables to set in the container.",
          "type": "array"
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Optional. SecurityContext defines the security options the Step should be run with. If set, the fields of SecurityContext override the equivalent fields of PodSecurityContext. More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ +optional"
        },
        "script": {
          "description": "The contents of an executable file to execute.",
          "type": "string"
        },
        "args": {
          "description": "Arguments to the entrypoint.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        }
      },
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "ParamSpec": {
      "id": "ParamSpec",
      "description": "ParamSpec defines parameters needed beyond typed inputs (such as resources). Parameter values are provided by users as inputs on a TaskRun or PipelineRun.",
      "type": "object",
      "properties": {
        "default": {
          "$ref": "ParamValue",
          "description": "The default value a parameter takes if no input value is supplied"
        },
        "name": {
          "description": "Name of the ParamSpec",
          "type": "string"
        },
        "description": {
          "description": "Description of the ParamSpec",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type.",
            "Object type."
          ],
          "description": "Type of ParamSpec",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ]
        }
      }
    },
    "EnvVar": {
      "id": "EnvVar",
      "description": "Environment variable.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the environment variable.",
          "type": "string"
        },
        "name": {
          "description": "Name of the environment variable.",
          "type": "string"
        }
      }
    },
    "BatchCreateRepositoriesResponse": {
      "id": "BatchCreateRepositoriesResponse",
      "description": "Message for response of creating repositories in batch.",
      "type": "object",
      "properties": {
        "repositories": {
          "description": "Repository resources created.",
          "type": "array",
          "items": {
            "$ref": "Repository"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Worker": {
      "id": "Worker",
      "description": "Configuration for the worker.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Optional. Machine type of a worker, default is \"e2-standard-2\".",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "FetchReadTokenRequest": {
      "properties": {},
      "id": "FetchReadTokenRequest",
      "description": "Message for fetching SCM read token.",
      "type": "object"
    },
    "PipelineResult": {
      "id": "PipelineResult",
      "description": "A value produced by a Pipeline.",
      "type": "object",
      "properties": {
        "value": {
          "readOnly": true,
          "description": "Output only. Value of the result.",
          "$ref": "ResultValue"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the result.",
          "type": "string"
        },
        "description": {
          "description": "Output only. Description of the result.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Output only. The type of data that the result holds.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ]
        }
      }
    },
    "PipelineSpec": {
      "properties": {
        "workspaces": {
          "items": {
            "$ref": "PipelineWorkspaceDeclaration"
          },
          "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun.",
          "type": "array"
        },
        "generatedYaml": {
          "description": "Output only. auto-generated yaml that is output only for display purpose for workflows using pipeline_spec, used by UI/gcloud cli for Workflows.",
          "type": "string",
          "readOnly": true
        },
        "tasks": {
          "items": {
            "$ref": "PipelineTask"
          },
          "description": "List of Tasks that execute when this Pipeline is run.",
          "type": "array"
        },
        "params": {
          "description": "List of parameters.",
          "type": "array",
          "items": {
            "$ref": "ParamSpec"
          }
        },
        "finallyTasks": {
          "items": {
            "$ref": "PipelineTask"
          },
          "description": "List of Tasks that execute just before leaving the Pipeline i.e. either after all Tasks are finished executing successfully or after a failure which would result in ending the Pipeline.",
          "type": "array"
        },
        "results": {
          "readOnly": true,
          "description": "Optional. Output only. List of results written out by the pipeline's containers",
          "type": "array",
          "items": {
            "$ref": "PipelineResult"
          }
        }
      },
      "id": "PipelineSpec",
      "description": "PipelineSpec defines the desired state of Pipeline.",
      "type": "object"
    },
    "PipelineRunResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "$ref": "ResultValue",
          "description": "Output only. Value of the result."
        },
        "name": {
          "description": "Output only. Name of the TaskRun",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "PipelineRunResult",
      "description": "PipelineRunResult used to describe the results of a pipeline",
      "type": "object"
    },
    "OAuthCredential": {
      "id": "OAuthCredential",
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Output only. The username associated to this token.",
          "type": "string",
          "readOnly": true
        },
        "oauthTokenSecretVersion": {
          "description": "Optional. A SecretManager resource containing the OAuth token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      }
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "description": "Message for response to listing Connections.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connections": {
          "description": "The list of Connections.",
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        }
      }
    },
    "Policy": {
      "properties": {
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "UserCredential": {
      "properties": {
        "userTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the user token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "username": {
          "description": "Output only. The username associated to this token.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "UserCredential",
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "type": "object"
    },
    "TaskRef": {
      "id": "TaskRef",
      "description": "TaskRef can be used to refer to a specific instance of a task. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object",
      "properties": {
        "params": {
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        },
        "resolver": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "type": "string",
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ]
        },
        "name": {
          "description": "Optional. Name of the task.",
          "type": "string"
        }
      }
    },
    "WorkspaceDeclaration": {
      "id": "WorkspaceDeclaration",
      "description": "WorkspaceDeclaration is a declaration of a volume that a Task requires.",
      "type": "object",
      "properties": {
        "optional": {
          "description": "Optional. Optional marks a Workspace as not being required in TaskRuns. By default this field is false and so declared workspaces are required.",
          "type": "boolean"
        },
        "name": {
          "description": "Name is the name by which you can bind the volume at runtime.",
          "type": "string"
        },
        "readOnly": {
          "description": "ReadOnly dictates whether a mounted volume is writable.",
          "type": "boolean"
        },
        "description": {
          "description": "Description is a human readable description of this volume.",
          "type": "string"
        },
        "mountPath": {
          "description": "MountPath overrides the directory that the volume will be made available at.",
          "type": "string"
        }
      }
    },
    "VolumeSource": {
      "id": "VolumeSource",
      "description": "Volumes available to mount.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Volume. Must be a DNS_LABEL and unique within the pod. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names",
          "type": "string"
        },
        "emptyDir": {
          "description": "A temporary directory that shares a pod's lifetime.",
          "$ref": "EmptyDirVolumeSource"
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "HttpBody": {
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "The HTTP request/response body as raw binary.",
          "type": "string"
        },
        "extensions": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array"
        }
      }
    },
    "Param": {
      "properties": {
        "value": {
          "description": "Value of the parameter.",
          "$ref": "ParamValue"
        },
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        }
      },
      "id": "Param",
      "description": "Param defined with name and value. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object"
    },
    "VolumeMount": {
      "id": "VolumeMount",
      "description": "Pod volumes to mount into the container's filesystem.",
      "type": "object",
      "properties": {
        "mountPath": {
          "description": "Path within the container at which the volume should be mounted. Must not contain ':'.",
          "type": "string"
        },
        "readOnly": {
          "description": "Mounted read-only if true, read-write otherwise (false or unspecified).",
          "type": "boolean"
        },
        "subPath": {
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root).",
          "type": "string"
        },
        "name": {
          "description": "Name of the volume.",
          "type": "string"
        },
        "subPathExpr": {
          "description": "Expanded path within the volume from which the container's volume should be mounted. Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container's environment. Defaults to \"\" (volume's root).",
          "type": "string"
        }
      }
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "description": "Security options the container should be run with.",
      "type": "object",
      "properties": {
        "privileged": {
          "description": "Run container in privileged mode.",
          "type": "boolean"
        },
        "runAsUser": {
          "description": "Optional. The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "string",
          "format": "int64"
        },
        "runAsGroup": {
          "description": "Optional. The GID to run the entrypoint of the container process. Uses runtime default if unset. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "string",
          "format": "int64"
        },
        "runAsNonRoot": {
          "description": "Optional. Indicates that the container must run as a non-root user. If true, the Kubelet will validate the image at runtime to ensure that it does not run as UID 0 (root) and fail to start the container if it does. If unset or false, no such validation will be performed. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional",
          "type": "boolean"
        },
        "allowPrivilegeEscalation": {
          "description": "Optional. AllowPrivilegeEscalation controls whether a process can gain more privileges than its parent process. This bool directly controls if the no_new_privs flag will be set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged 2) has CAP_SYS_ADMIN Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "boolean"
        }
      }
    },
    "Security": {
      "id": "Security",
      "description": "Security configuration.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at runtime.",
          "type": "string"
        },
        "privilegeMode": {
          "description": "Optional. Privilege mode.",
          "type": "string",
          "enum": [
            "PRIVILEGE_MODE_UNSPECIFIED",
            "PRIVILEGED",
            "UNPRIVILEGED"
          ],
          "enumDescriptions": [
            "Default to PRIVILEGED.",
            "Privileged mode.",
            "Unprivileged mode."
          ],
          "deprecated": true
        }
      }
    },
    "FetchReadWriteTokenResponse": {
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string"
        }
      },
      "id": "FetchReadWriteTokenResponse",
      "description": "Message for responding to get read/write token.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "BatchCreateRepositoriesRequest": {
      "properties": {
        "requests": {
          "items": {
[...]
