{
  "id": "cloudproductregistry:v1",
  "name": "cloudproductregistry",
  "protocol": "rest",
  "basePath": "",
  "servicePath": "",
  "discoveryVersion": "v1",
  "parameters": {
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "kind": "discovery#restDescription",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "revision": "20260903",
  "schemas": {
    "LogicalProduct": {
      "type": "object",
      "properties": {
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        },
        "productSuite": {
          "type": "string",
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}."
        },
        "lifecycleState": {
          "readOnly": true,
          "description": "Output only. Current Lifecycle state of the logical product.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ]
        },
        "variants": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "replacement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}."
        },
        "title": {
          "description": "Display name of the LogicalProduct.",
          "type": "string"
        }
      },
      "id": "LogicalProduct",
      "description": "Represents an independent service offering that can be provisioned by a customer."
    },
    "ListLogicalProductVariantsResponse": {
      "id": "ListLogicalProductVariantsResponse",
      "description": "Response message for ListLogicalProductVariants.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProductVariants": {
          "type": "array",
          "description": "Matched LogicalProductVariants",
          "items": {
            "$ref": "LogicalProductVariant"
          }
        }
      }
    },
    "LogicalProductVariant": {
      "id": "LogicalProductVariant",
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "string"
        },
        "lifecycleState": {
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ]
        },
        "replaced": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement."
        },
        "replacement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc."
        },
        "title": {
          "description": "Display name of the LogicalProductVariant.",
          "type": "string"
        }
      }
    },
    "ListLogicalProductsResponse": {
      "type": "object",
      "id": "ListLogicalProductsResponse",
      "properties": {
        "logicalProducts": {
          "description": "Matched LogicalProducts",
          "type": "array",
          "items": {
            "$ref": "LogicalProduct"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListLogicalProducts."
    },
    "ProductSuite": {
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc.",
          "readOnly": true,
          "type": "string"
        },
        "replaced": {
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "logicalProducts": {
          "type": "array",
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "id": "ProductSuite",
      "description": "Represents a unified grouping of products sharing a common brand and market positioning."
    },
    "LookupEntityResponse": {
      "id": "LookupEntityResponse",
      "description": "Response message for LookupEntity.",
      "properties": {
        "productSuite": {
          "description": "Matched ProductSuite.",
          "$ref": "ProductSuite"
        },
        "logicalProductVariant": {
          "$ref": "LogicalProductVariant",
          "description": "Matched LogicalProductVariant."
        },
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        }
      },
      "type": "object"
    },
    "ListProductSuitesResponse": {
      "description": "Response message for ListProductSuites.",
      "type": "object",
      "id": "ListProductSuitesResponse",
      "properties": {
        "productSuites": {
          "type": "array",
          "items": {
            "$ref": "ProductSuite"
          },
          "description": "Matched ProductSuites"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    }
  },
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "version": "v1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "canonicalName": "Cloud Product Registry",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "resources": {
    "productSuites": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "cloudproductregistry.productSuites.list",
          "flatPath": "v1/productSuites",
          "parameterOrder": [],
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "description": "Lists ProductSuites.",
          "path": "v1/productSuites"
        },
        "lookupEntity": {
          "path": "v1/{+lookupUri}:lookupEntity",
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "httpMethod": "GET",
          "parameters": {
            "lookupUri": {
              "pattern": "^productSuites/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}"
            }
          },
          "description": "Look up entities.",
          "parameterOrder": [
            "lookupUri"
          ],
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          }
        },
        "get": {
          "description": "Get details of a ProductSuite.",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudproductregistry.productSuites.get",
          "response": {
            "$ref": "ProductSuite"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^productSuites/[^/]+$"
            }
          }
        }
      }
    },
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "lookupEntity": {
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "httpMethod": "GET",
              "parameters": {
                "lookupUri": {
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}"
                }
              },
              "parameterOrder": [
                "lookupUri"
              ],
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "path": "v1/{+lookupUri}:lookupEntity",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "description": "Look up entities."
            },
            "list": {
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "path": "v1/{+parent}/variants",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token."
                },
                "parent": {
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "location": "path",
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "description": "Lists LogicalProductVariants matching given criteria."
            },
            "get": {
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "description": "Get details of a LogicalProductVariant.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "location": "path",
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$"
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^logicalProducts/[^/]+$"
            }
          },
          "id": "cloudproductregistry.logicalProducts.get",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "description": "Gets details of a LogicalProduct.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "LogicalProduct"
          }
        },
        "lookupEntity": {
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "httpMethod": "GET",
          "parameters": {
            "lookupUri": {
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "pattern": "^logicalProducts/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Look up entities.",
          "path": "v1/{+lookupUri}:lookupEntity",
          "id": "cloudproductregistry.logicalProducts.lookupEntity"
        },
        "list": {
          "flatPath": "v1/logicalProducts",
          "description": "Lists LogicalProducts matching given criteria.",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "id": "cloudproductregistry.logicalProducts.list",
          "path": "v1/logicalProducts",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "filter": {
              "type": "string",
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "batchPath": "batch",
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "title": "Cloud Product Registry API",
  "ownerDomain": "google.com"
}