{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "description": "The Cloud Channel API enables Google Cloud partners to have a single unified resale platform and APIs across all of Google Cloud including GCP, Workspace, Maps and Chrome.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.reports.usage.readonly": {
          "description": "View usage reports for your Google Workspace domain"
        },
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        }
      }
    }
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "baseUrl": "https://cloudchannel.googleapis.com/",
  "name": "cloudchannel",
  "servicePath": "",
  "protocol": "rest",
  "revision": "20260607",
  "schemas": {
    "GoogleCloudChannelV1RepricingAdjustment": {
      "type": "object",
      "properties": {
        "percentageAdjustment": {
          "$ref": "GoogleCloudChannelV1PercentageAdjustment",
          "description": "Flat markup or markdown on an entire bill."
        }
      },
      "id": "GoogleCloudChannelV1RepricingAdjustment",
      "description": "A type that represents the various adjustments you can apply to a bill."
    },
    "GoogleCloudChannelV1alpha1Report": {
      "properties": {
        "name": {
          "description": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}",
          "type": "string"
        },
        "displayName": {
          "description": "A human-readable name for this report.",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Column"
          },
          "description": "The list of columns included in the report. This defines the schema of the report results."
        },
        "description": {
          "description": "A description of other aspects of the report, such as the products it supports.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1alpha1Report",
      "description": "The ID and description of a report that was used to generate report data. For example, \"Google Cloud Daily Spend\", \"Google Workspace License Activity\", etc.",
      "type": "object",
      "deprecated": true
    },
    "GoogleCloudChannelV1ReportStatus": {
      "id": "GoogleCloudChannelV1ReportStatus",
      "description": "Status of a report generation process.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The report generation's start time."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The report generation's completion time."
        },
        "state": {
          "description": "The current state of the report generation process.",
          "enumDescriptions": [
            "Not used.",
            "Report processing started.",
            "Data generated from the report is being staged.",
            "Report data is available for access.",
            "Report failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "WRITING",
            "AVAILABLE",
            "FAILED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "deprecated": true
    },
    "GoogleCloudChannelV1OperationMetadata": {
      "type": "object",
      "properties": {
        "operationType": {
          "type": "string",
          "description": "The RPC that initiated this Long Running Operation.",
          "enumDescriptions": [
            "Not used.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_RENEWAL_SETTINGS",
            "START_PAID_SERVICE",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ]
        }
      },
      "id": "GoogleCloudChannelV1OperationMetadata",
      "description": "Provides contextual information about a google.longrunning.Operation."
    },
    "GoogleCloudChannelV1RepricingConfigEntitlementGranularity": {
      "id": "GoogleCloudChannelV1RepricingConfigEntitlementGranularity",
      "description": "Applies the repricing configuration at the entitlement level.",
      "properties": {
        "entitlement": {
          "description": "Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1AssociationInfo": {
      "properties": {
        "baseEntitlement": {
          "description": "The name of the base entitlement, for which this entitlement is an add-on.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1alpha1AssociationInfo",
      "description": "Association links that an entitlement has to other entitlements.",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudChannelV1PriceTier": {
      "id": "GoogleCloudChannelV1PriceTier",
      "description": "Defines price at resource tier level. For example, an offer with following definition : * Tier 1: Provide 25% discount for all seats between 1 and 25. * Tier 2: Provide 10% discount for all seats between 26 and 100. * Tier 3: Provide flat 15% discount for all seats above 100. Each of these tiers is represented as a PriceTier.",
      "properties": {
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the tier."
        },
        "firstResource": {
          "description": "First resource for which the tier price applies.",
          "type": "integer",
          "format": "int32"
        },
        "lastResource": {
          "type": "integer",
          "format": "int32",
          "description": "Last resource for which the tier price applies."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1Parameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "editable": {
          "type": "boolean",
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "readOnly": true
        },
        "value": {
          "description": "Value of the parameter.",
          "$ref": "GoogleCloudChannelV1alpha1Value"
        }
      },
      "id": "GoogleCloudChannelV1alpha1Parameter",
      "description": "Definition for extended entitlement parameters.",
      "type": "object"
    },
    "GoogleCloudChannelV1TrialSettings": {
      "id": "GoogleCloudChannelV1TrialSettings",
      "description": "Settings for trial offers.",
      "properties": {
        "trial": {
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com)."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1RunReportJobRequest": {
      "deprecated": true,
      "properties": {
        "filter": {
          "description": "Optional. A structured string that defines conditions on dimension columns to restrict the report output. Filters support logical operators (AND, OR, NOT) and conditional operators (=, !=, <, >, <=, and >=) using `column_id` as keys. For example: `(customer:\"accounts/C123abc/customers/S456def\" OR customer:\"accounts/C123abc/customers/S789ghi\") AND invoice_start_date.year >= 2022`",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code, such as \"en-US\". If specified, the response is localized to the corresponding language code if the original data sources support it. Default is \"en-US\"."
        },
        "dateRange": {
          "description": "Optional. The range of usage or invoice dates to include in the result.",
          "$ref": "GoogleCloudChannelV1DateRange"
        }
      },
      "id": "GoogleCloudChannelV1RunReportJobRequest",
      "description": "Request message for CloudChannelReportsService.RunReportJob.",
      "type": "object"
    },
    "GoogleCloudChannelV1ChangeRenewalSettingsRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1ChangeRenewalSettingsRequest",
      "description": "Request message for CloudChannelService.ChangeRenewalSettings.",
      "properties": {
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1RenewalSettings",
          "description": "Required. New renewal settings."
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ConditionalOverride": {
      "type": "object",
      "id": "GoogleCloudChannelV1ConditionalOverride",
      "description": "Specifies the override to conditionally apply.",
      "properties": {
        "repricingCondition": {
          "$ref": "GoogleCloudChannelV1RepricingCondition",
          "description": "Required. Specifies the condition which, if met, will apply the override."
        },
        "rebillingBasis": {
          "description": "Required. The RebillingBasis to use for the applied override. Shows the relative cost based on your repricing costs.",
          "enumDescriptions": [
            "Not used.",
            "Use the list cost, also known as the MSRP.",
            "Pass through all discounts except the Reseller Program Discount. If this is the default cost base and no adjustments are specified, the output cost will be exactly what the customer would see if they viewed the bill in the Google Cloud Console."
          ],
          "enum": [
            "REBILLING_BASIS_UNSPECIFIED",
            "COST_AT_LIST",
            "DIRECT_CUSTOMER_COST"
          ],
          "type": "string"
        },
        "adjustment": {
          "$ref": "GoogleCloudChannelV1RepricingAdjustment",
          "description": "Required. Information about the applied override's adjustment."
        }
      }
    },
    "GoogleCloudChannelV1alpha1TransferEntitlementsResponse": {
      "id": "GoogleCloudChannelV1alpha1TransferEntitlementsResponse",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Entitlement"
          },
          "type": "array",
          "description": "The transferred entitlements."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1SuspendEntitlementRequest": {
      "id": "GoogleCloudChannelV1SuspendEntitlementRequest",
      "description": "Request message for CloudChannelService.SuspendEntitlement.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest": {
      "properties": {
        "channelPartnerLink": {
          "description": "Required. The channel partner link to update. Only channel_partner_link.link_state is allowed for updates.",
          "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
        },
        "updateMask": {
          "description": "Required. The update mask that applies to the resource. The only allowable value for an update mask is channel_partner_link.link_state.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest",
      "description": "Request message for CloudChannelService.UpdateChannelPartnerLink",
      "type": "object"
    },
    "GoogleCloudChannelV1PercentageAdjustment": {
      "id": "GoogleCloudChannelV1PercentageAdjustment",
      "description": "An adjustment that applies a flat markup or markdown to an entire bill.",
      "properties": {
        "percentage": {
          "$ref": "GoogleTypeDecimal",
          "description": "The percentage of the bill to adjust. For example: Mark down by 1% => \"-1.00\" Mark up by 1% => \"1.00\" Pass-Through => \"0.00\""
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListChannelPartnerLinksResponse": {
      "properties": {
        "channelPartnerLinks": {
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
          },
          "type": "array",
          "description": "The Channel partner links for a reseller."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerLinksRequest.page_token to obtain that page."
        }
      },
      "id": "GoogleCloudChannelV1ListChannelPartnerLinksResponse",
      "description": "Response message for CloudChannelService.ListChannelPartnerLinks.",
      "type": "object"
    },
    "GoogleCloudChannelV1Report": {
      "deprecated": true,
      "properties": {
        "name": {
          "description": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}",
          "type": "string"
        },
        "displayName": {
          "description": "A human-readable name for this report.",
          "type": "string"
        },
        "columns": {
          "description": "The list of columns included in the report. This defines the schema of the report results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Column"
          }
        },
        "description": {
          "description": "A description of other aspects of the report, such as the products it supports.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1Report",
      "description": "The ID and description of a report that was used to generate report data. For example, \"Google Cloud Daily Spend\", \"Google Workspace License Activity\", etc.",
      "type": "object"
    },
    "GoogleCloudChannelV1Product": {
      "type": "object",
      "id": "GoogleCloudChannelV1Product",
      "description": "A Product is the entity a customer uses when placing an order. For example, Google Workspace, Google Voice, etc.",
      "properties": {
        "name": {
          "description": "Resource Name of the Product. Format: products/{product_id}",
          "type": "string"
        },
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the product."
        }
      }
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse",
      "description": "Response Message for RegisterSubscriber.",
      "properties": {
        "topic": {
          "description": "Name of the topic the subscriber will listen to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ReportResultsMetadata": {
      "deprecated": true,
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1ReportResultsMetadata",
      "description": "The features describing the data. Returned by CloudChannelReportsService.RunReportJob and CloudChannelReportsService.FetchReportResults.",
      "properties": {
        "dateRange": {
          "description": "The date range of reported usage.",
          "$ref": "GoogleCloudChannelV1alpha1DateRange"
        },
        "precedingDateRange": {
          "description": "The usage dates immediately preceding `date_range` with the same duration. Use this to calculate trending usage and costs. This is only populated if you request trending data. For example, if `date_range` is July 1-15, `preceding_date_range` will be June 16-30.",
          "$ref": "GoogleCloudChannelV1alpha1DateRange"
        },
        "report": {
          "description": "Details of the completed report.",
          "$ref": "GoogleCloudChannelV1alpha1Report"
        },
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "The total number of rows of data in the final report."
        }
      }
    },
    "GoogleCloudChannelV1Customer": {
      "type": "object",
      "id": "GoogleCloudChannelV1Customer",
      "description": "Entity representing a customer of a reseller or distributor.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
          "readOnly": true
        },
        "primaryContactInfo": {
          "$ref": "GoogleCloudChannelV1ContactInfo",
          "description": "Primary contact info."
        },
        "domain": {
          "description": "Required. The customer's primary domain. Must match the primary contact email's domain.",
          "type": "string"
        },
        "cloudIdentityInfo": {
          "description": "Output only. Cloud Identity information for the customer. Populated only if a Cloud Identity account exists for this customer.",
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "orgDisplayName": {
          "type": "string",
          "description": "Required. Name of the organization that the customer entity represents."
        },
        "orgPostalAddress": {
          "description": "Required. The organization address for the customer. To enforce US laws and embargoes, we require a region, postal code, and address lines. You must provide valid addresses for every customer. To set the customer's language, use the Customer-level language code.",
          "$ref": "GoogleTypePostalAddress"
        },
        "channelPartnerId": {
          "type": "string",
          "description": "Cloud Identity ID of the customer's channel partner. Populated only if a channel partner exists for this customer."
        },
        "alternateEmail": {
          "description": "Secondary contact email. You need to provide an alternate email to create different domains if a primary contact email already exists. Users will receive a notification with credentials when you create an admin.google.com account. Secondary emails are also recovery email addresses. Alternate emails are optional when you create Team customers.",
          "type": "string"
        },
        "cloudIdentityId": {
          "type": "string",
          "description": "Output only. The customer's Cloud Identity ID if the customer has a Cloud Identity resource.",
          "readOnly": true
        },
        "correlationId": {
          "description": "Optional. External CRM ID for the customer. Populated only if a CRM ID exists for this customer.",
          "type": "string"
        },
        "customerAttestationState": {
          "type": "string",
          "description": "Optional. Indicate if a customer is attesting about the correctness of provided information. Only required if creating a GCP Entitlement.",
          "enumDescriptions": [
            "Default value if not set yet",
            "Customer is exempt from attesting based on exemption list at https://cloud.google.com/terms/direct-tos-exemptions. Contact information of customer will be mandatory.",
            "Customer is not exempt and has verified the information provided is correct. Contact information of customer will be mandatory."
          ],
          "enum": [
            "CUSTOMER_ATTESTATION_STATE_UNSPECIFIED",
            "EXEMPT",
            "NON_EXEMPT_AND_INFO_VERIFIED"
          ]
        },
        "createTime": {
          "description": "Output only. Time when the customer was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when the customer was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudChannelV1alpha1DateRange": {
      "deprecated": true,
      "properties": {
        "usageStartDateTime": {
          "description": "The earliest usage date time (inclusive). If you use time groupings (daily, weekly, etc), each group uses midnight to midnight (Pacific time). The usage start date is rounded down to include all usage from the specified date. We recommend that clients pass `usage_start_date_time` in Pacific time.",
          "$ref": "GoogleTypeDateTime"
        },
        "usageEndDateTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "The latest usage date time (exclusive). If you use time groupings (daily, weekly, etc), each group uses midnight to midnight (Pacific time). The usage end date is rounded down to include all usage from the specified date. We recommend that clients pass `usage_start_date_time` in Pacific time."
        },
        "invoiceStartDate": {
          "description": "The earliest invoice date (inclusive). If this value is not the first day of a month, this will move it back to the first day of the given month.",
          "$ref": "GoogleTypeDate"
        },
        "invoiceEndDate": {
          "$ref": "GoogleTypeDate",
          "description": "The latest invoice date (inclusive). If this value is not the last day of a month, this will move it forward to the last day of the given month."
        }
      },
      "id": "GoogleCloudChannelV1alpha1DateRange",
      "description": "A representation of usage or invoice date ranges.",
      "type": "object"
    },
    "GoogleCloudChannelV1ChannelPartnerRepricingConfig": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month.",
          "readOnly": true
        },
        "repricingConfig": {
          "$ref": "GoogleCloudChannelV1RepricingConfig",
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to ChannelPartner."
        },
        "name": {
          "description": "Output only. Resource name of the ChannelPartnerRepricingConfig. Format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ChannelPartnerRepricingConfig",
      "description": "Configuration for how a distributor will rebill a channel partner (also known as a distributor-authorized reseller)."
    },
    "GoogleCloudChannelV1TransferEligibility": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Localized description if reseller is not eligible to transfer the SKU.",
          "type": "string"
        },
        "ineligibilityReason": {
          "type": "string",
          "description": "Specified the reason for ineligibility.",
          "enumDescriptions": [
            "Not used.",
            "Reseller needs to accept TOS before transferring the SKU.",
            "Reseller not eligible to sell the SKU.",
            "SKU subscription is suspended",
            "The reseller is not authorized to transact on this Product. See https://support.google.com/channelservices/answer/9759265"
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "PENDING_TOS_ACCEPTANCE",
            "SKU_NOT_ELIGIBLE",
            "SKU_SUSPENDED",
            "CHANNEL_PARTNER_NOT_AUTHORIZED_FOR_SKU"
          ]
        },
        "isEligible": {
          "type": "boolean",
          "description": "Whether reseller is eligible to transfer the SKU."
        }
      },
      "id": "GoogleCloudChannelV1TransferEligibility",
      "description": "Specifies transfer eligibility of a SKU."
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest",
      "description": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Domain to fetch for Cloud Identity account customers, including domain and team customers. For team customers, please use the domain for their emails."
        },
        "primaryAdminEmail": {
          "type": "string",
          "description": "Optional. Primary admin email to fetch for Cloud Identity account team customer."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1RunReportJobResponse": {
      "deprecated": true,
      "properties": {
        "reportMetadata": {
          "description": "The metadata for the report's results (display name, columns, row count, and date range). If you view this before the operation finishes, you may see incomplete data.",
          "$ref": "GoogleCloudChannelV1alpha1ReportResultsMetadata"
        },
        "reportJob": {
          "description": "Pass `report_job.name` to FetchReportResultsRequest.report_job to retrieve the report's results.",
          "$ref": "GoogleCloudChannelV1alpha1ReportJob"
        }
      },
      "id": "GoogleCloudChannelV1alpha1RunReportJobResponse",
      "description": "Response message for CloudChannelReportsService.RunReportJob.",
      "type": "object"
    },
    "GoogleCloudChannelV1Parameter": {
      "properties": {
        "value": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Value of the parameter."
        },
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "editable": {
          "description": "Output only. Specifies whether this parameter is allowed to be changed. For example, for a Google Workspace Business Starter entitlement in commitment plan, num_units is editable when entitlement is active.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudChannelV1Parameter",
      "description": "Definition for extended entitlement parameters.",
      "type": "object"
    },
    "GoogleCloudChannelV1BillingAccount": {
      "type": "object",
      "id": "GoogleCloudChannelV1BillingAccount",
      "description": "Represents a billing account.",
      "properties": {
        "createTime": {
          "description": "Output only. The time when this billing account was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Resource name of the billing account. Format: accounts/{account_id}/billingAccounts/{billing_account_id}.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the billing account."
        },
        "currencyCode": {
          "description": "Output only. The 3-letter currency code defined in ISO 4217.",
          "readOnly": true,
          "type": "string"
        },
        "regionCode": {
          "description": "Output only. The CLDR region code.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1alpha1RenewalSettings": {
      "properties": {
        "resizeUnitCount": {
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time.",
          "type": "boolean"
        },
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        },
        "paymentOption": {
          "deprecated": true,
          "enumDescriptions": [
            "Not used.",
            "Paid in yearly installments.",
            "Paid in monthly installments."
          ],
          "enum": [
            "PAYMENT_OPTION_UNSPECIFIED",
            "ANNUAL",
            "MONTHLY"
          ],
          "type": "string",
          "description": "Set if enable_renewal=true. Deprecated: Use `payment_cycle` instead."
        },
        "scheduledRenewalOffer": {
          "type": "string",
          "description": "Output only. The offer resource name that the entitlement will renew on at the end date. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "readOnly": true
        },
        "paymentPlan": {
          "description": "Describes how a reseller will be billed.",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "type": "string"
        },
        "disableCommitment": {
          "type": "boolean",
          "description": "If true, disables commitment-based offer on renewal and switches to flexible or pay as you go. Deprecated: Use `payment_plan` instead.",
          "deprecated": true
        },
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1alpha1Period"
        }
      },
      "id": "GoogleCloudChannelV1alpha1RenewalSettings",
      "description": "Renewal settings for renewable Offers.",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1OpportunityEvent": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1OpportunityEvent",
      "description": "Represents Pub/Sub message content describing opportunity updates.",
      "properties": {
        "eventType": {
          "type": "string",
          "description": "Type of event which happened for the opportunity.",
          "enumDescriptions": [
            "Not used.",
            "New opportunity created.",
            "Existing opportunity updated.",
            "Partner has been detached from the opportunity and can no longer access it."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "PARTNER_DETACHED"
          ]
        },
        "partner": {
          "type": "string",
          "description": "Resource name of the partner. Format: partners/{partner}"
        },
        "opportunity": {
          "description": "Resource name of the opportunity. Format: opportunities/{opportunity}",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse": {
      "id": "GoogleCloudChannelV1ListCustomerRepricingConfigsResponse",
      "description": "Response message for CloudChannelService.ListCustomerRepricingConfigs.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListCustomerRepricingConfigsRequest.page_token to obtain that page."
        },
        "customerRepricingConfigs": {
          "description": "The repricing configs for this channel partner.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1CustomerRepricingConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "GoogleCloudChannelV1CustomerRepricingConfig": {
      "id": "GoogleCloudChannelV1CustomerRepricingConfig",
      "description": "Configuration for how a reseller will reprice a Customer.",
      "properties": {
        "repricingConfig": {
          "$ref": "GoogleCloudChannelV1RepricingConfig",
          "description": "Required. The configuration for bill modifications made by a reseller before sending it to customers."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the CustomerRepricingConfig. Format: accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of an update to the repricing rule. If `update_time` is after RepricingConfig.effective_invoice_month then it indicates this was set mid-month.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ChannelPartnerEvent": {
      "id": "GoogleCloudChannelV1alpha1ChannelPartnerEvent",
      "description": "Represents Pub/Sub messages about updates to a Channel Partner. You can retrieve updated values through the ChannelPartnerLinks API.",
      "properties": {
        "channelPartner": {
          "type": "string",
          "description": "Resource name for the Channel Partner Link. Channel_partner uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}"
        },
        "eventType": {
          "description": "Type of event which happened for the channel partner.",
          "enumDescriptions": [
            "Default value. Does not display if there are no errors.",
            "The Channel Partner link state changed.",
            "The Channel Partner's Partner Advantage information changed. This can entail the Channel Partner's authorization to sell a product in a particular region."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "LINK_STATE_CHANGED",
            "PARTNER_ADVANTAGE_INFO_CHANGED"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ReportJob": {
      "deprecated": true,
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1ReportJob",
      "description": "The result of a RunReportJob operation. Contains the name to use in FetchReportResultsRequest.report_job and the status of the operation.",
      "properties": {
        "name": {
          "description": "Required. The resource name of a report job. Name uses the format: `accounts/{account_id}/reportJobs/{report_job_id}`",
          "type": "string"
        },
        "reportStatus": {
          "description": "The current status of report generation.",
          "$ref": "GoogleCloudChannelV1alpha1ReportStatus"
        }
      }
    },
    "GoogleCloudChannelV1ListPurchasableSkusResponse": {
      "properties": {
        "purchasableSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1PurchasableSku"
          },
          "description": "The list of SKUs requested."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ListPurchasableSkusResponse",
      "description": "Response message for ListPurchasableSkus.",
      "type": "object"
    },
    "GoogleCloudChannelV1CustomerEvent": {
      "type": "object",
      "id": "GoogleCloudChannelV1CustomerEvent",
      "description": "Represents Pub/Sub message content describing customer update.",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "eventType": {
          "description": "Type of event which happened for the customer.",
          "enumDescriptions": [
            "Not used.",
            "Primary domain for customer was changed.",
            "Primary domain of the customer has been verified."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIMARY_DOMAIN_CHANGED",
            "PRIMARY_DOMAIN_VERIFIED"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse": {
      "type": "object",
      "properties": {
        "billableSkus": {
          "description": "The list of billable SKUs in the requested SKU group.",
          "items": {
            "$ref": "GoogleCloudChannelV1BillableSku"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListSkuGroupBillableSkusRequest.page_token to obtain that page."
        }
      },
      "id": "GoogleCloudChannelV1ListSkuGroupBillableSkusResponse",
      "description": "Response message for ListSkuGroupBillableSkus."
    },
    "GoogleCloudChannelV1BillingAccountPurchaseInfo": {
      "id": "GoogleCloudChannelV1BillingAccountPurchaseInfo",
      "description": "Represents a billing account that can be used to make a purchase.",
      "properties": {
        "billingAccount": {
          "$ref": "GoogleCloudChannelV1BillingAccount",
          "description": "The billing account resource."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1BillableSku": {
      "properties": {
        "sku": {
          "description": "Resource name of Billable SKU. Format: billableSkus/{sku}. Example: billableSkus/6E1B-6634-470F\".",
          "type": "string"
        },
        "skuDisplayName": {
          "type": "string",
          "description": "Unique human readable name for the SKU."
        },
        "service": {
          "type": "string",
          "description": "Resource name of Service which contains Repricing SKU. Format: services/{service}. Example: \"services/B7D9-FDCB-15D8\"."
        },
        "serviceDisplayName": {
          "type": "string",
          "description": "Unique human readable name for the Service."
        }
      },
      "id": "GoogleCloudChannelV1BillableSku",
      "description": "Represents the Billable SKU information.",
      "type": "object"
    },
    "GoogleCloudChannelV1ParameterDefinition": {
      "type": "object",
      "properties": {
        "maxValue": {
          "description": "Maximum value of the parameter, if applicable. Inclusive. For example, maximum seats when purchasing Google Workspace Business Standard. Applicable to INT64 and DOUBLE parameter types.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "optional": {
          "description": "If set to true, parameter is optional to purchase this Offer.",
          "type": "boolean"
        },
        "allowedValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Value"
          },
          "description": "If not empty, parameter values must be drawn from this list. For example, [us-west1, us-west2, ...] Applicable to STRING parameter type."
        },
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        },
        "parameterType": {
          "description": "Data type of the parameter. Minimal value, Maximum value and allowed values will use specified data type here.",
          "enumDescriptions": [
            "Not used.",
            "Int64 type.",
            "String type.",
            "Double type.",
            "Boolean type."
          ],
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "INT64",
            "STRING",
            "DOUBLE",
            "BOOLEAN"
          ],
          "type": "string"
        },
        "minValue": {
          "$ref": "GoogleCloudChannelV1Value",
          "description": "Minimal value of the parameter, if applicable. Inclusive. For example, minimal commitment when purchasing Anthos is 0.01. Applicable to INT64 and DOUBLE parameter types."
        }
      },
      "id": "GoogleCloudChannelV1ParameterDefinition",
      "description": "Parameter's definition. Specifies what parameter is required to use the current Offer to purchase."
    },
    "GoogleCloudChannelV1StartPaidServiceRequest": {
      "id": "GoogleCloudChannelV1StartPaidServiceRequest",
      "description": "Request message for CloudChannelService.StartPaidService.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1Plan": {
      "type": "object",
      "properties": {
        "paymentCycle": {
          "description": "Describes how frequently the reseller will be billed, such as once per month.",
          "$ref": "GoogleCloudChannelV1Period"
        },
        "trialPeriod": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Present for Offers with a trial period. For trial-only Offers, a paid service needs to start before the trial period ends for continued service. For Regular Offers with a trial period, the regular pricing goes into effect when trial period ends, or if paid service is started before the end of the trial period."
        },
        "billingAccount": {
          "description": "Reseller Billing account to charge after an offer transaction. Only present for Google Cloud offers.",
          "type": "string"
        },
        "paymentPlan": {
          "description": "Describes how a reseller will be billed.",
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "type": "string"
        },
        "paymentType": {
          "description": "Specifies when the payment needs to happen.",
          "enumDescriptions": [
            "Not used.",
            "Prepay. Amount has to be paid before service is rendered.",
            "Postpay. Reseller is charged at the end of the Payment cycle."
          ],
          "enum": [
            "PAYMENT_TYPE_UNSPECIFIED",
            "PREPAY",
            "POSTPAY"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1Plan",
      "description": "The payment plan for the Offer. Describes how to make a payment."
    },
    "GoogleCloudChannelV1CustomerConstraints": {
      "id": "GoogleCloudChannelV1CustomerConstraints",
      "description": "Represents constraints required to purchase the Offer for a customer.",
      "properties": {
        "promotionalOrderTypes": {
          "description": "Allowed Promotional Order Type. Present for Promotional offers.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Order used for new customers, trial conversions and upgrades.",
              "All orders for transferring an existing customer.",
              "Orders for modifying an existing customer's promotion on the same SKU."
            ],
            "enum": [
              "PROMOTIONAL_TYPE_UNSPECIFIED",
              "NEW_UPGRADE",
              "TRANSFER",
              "PROMOTION_SWITCH"
            ]
          },
          "type": "array"
        },
        "allowedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Allowed geographical regions of the customer."
        },
        "allowedCustomerTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Domain-owning customer which needs domain verification to use services.",
              "Team customer which needs email verification to use services."
            ],
            "enum": [
              "CUSTOMER_TYPE_UNSPECIFIED",
              "DOMAIN",
              "TEAM"
            ]
          },
          "type": "array",
          "description": "Allowed Customer Type."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1ProvisionedService": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1ProvisionedService",
      "description": "Service provisioned for an entitlement.",
      "properties": {
        "skuId": {
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        },
        "provisioningId": {
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount.",
          "readOnly": true,
          "type": "string"
        },
        "productId": {
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1Value": {
      "id": "GoogleCloudChannelV1Value",
      "description": "Data type and value of a parameter.",
      "properties": {
        "int64Value": {
          "description": "Represents an int64 value.",
          "type": "string",
          "format": "int64"
        },
        "doubleValue": {
          "description": "Represents a double value.",
          "type": "number",
          "format": "double"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "protoValue": {
          "description": "Represents an 'Any' proto value.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1SubscriberEvent": {
      "id": "GoogleCloudChannelV1alpha1SubscriberEvent",
      "description": "Represents information which resellers will get as part of notification from Pub/Sub.",
      "properties": {
        "customerEvent": {
          "$ref": "GoogleCloudChannelV1alpha1CustomerEvent",
          "description": "Customer event sent as part of Pub/Sub event to partners."
        },
        "channelPartnerEvent": {
          "description": "Channel Partner event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1ChannelPartnerEvent"
        },
        "entitlementEvent": {
          "description": "Entitlement event sent as part of Pub/Sub event to partners.",
          "$ref": "GoogleCloudChannelV1alpha1EntitlementEvent"
        },
        "opportunityEvent": {
          "description": "Opportunity event sent as part of Pub/Sub event to partners/integrators.",
          "$ref": "GoogleCloudChannelV1alpha1OpportunityEvent"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1Entitlement": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Entitlement",
      "description": "An entitlement is a representation of a customer's ability to use a service.",
      "properties": {
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1alpha1CommitmentSettings"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Parameter"
          },
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. For Google Workspace, the following Parameters may be accepted as input: - max_units: The maximum assignable units for a flexible offer OR - num_units: The total commitment for commitment-based offers The response may additionally include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. For Google Cloud billing subaccounts, the following Parameter may be accepted as input: - display_name: The display name of the billing subaccount."
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "readOnly": true
        },
        "offer": {
          "type": "string",
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}."
        },
        "provisionedService": {
          "description": "Output only. Service provisioning details for the entitlement.",
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1alpha1ProvisionedService"
        },
        "billingAccount": {
          "description": "Optional. The billing account resource name that is used to pay for this entitlement.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the entitlement is updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the entitlement is created.",
          "readOnly": true
        },
        "trialSettings": {
          "description": "Output only. Settings for trial offers.",
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1alpha1TrialSettings"
        },
        "numUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Number of units for a commitment-based Offer. For example, for seat-based Offers, this would be the number of seats; for license-based Offers, this would be the number of licenses. Required for creating commitment-based Offers. Deprecated: Use `parameters` instead.",
          "deprecated": true
        },
        "priceReferenceId": {
          "type": "string",
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order."
        },
        "provisioningState": {
          "readOnly": true,
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement was canceled. After an entitlement is `CANCELED`, its status will not change. Deprecated: Canceled entitlements will no longer be visible.",
            "The entitlement reached end of term and was not renewed. After an entitlement is `COMPLETE`, its status will not change. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason in (TRIAL_ENDED, RENEWAL_WITH_TYPE_CANCEL)",
            "The entitlement is pending. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason=PENDING_TOS_ACCEPTANCE",
            "The entitlement is currently suspended."
          ],
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "CANCELED",
            "COMPLETE",
            "PENDING",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            false
          ],
          "description": "Output only. Current provisioning state of the entitlement."
        },
        "suspensionReasons": {
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "assignedUnits": {
          "type": "integer",
          "format": "int32",
          "description": "The current number of users that are assigned a license for the product defined in provisioned_service.skuId. Read-only. Deprecated: Use `parameters` instead.",
          "deprecated": true
        },
        "maxUnits": {
          "description": "Maximum number of units for a non commitment-based Offer, such as Flexible, Trial or Free entitlements. For commitment-based entitlements, this is a read-only field, which only the internal support team can update. Deprecated: Use `parameters` instead.",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "associationInfo": {
          "$ref": "GoogleCloudChannelV1alpha1AssociationInfo",
          "description": "Association information to other entitlements."
        },
        "channelPartnerId": {
          "type": "string",
          "description": "Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is generally used in 2-tier ordering, where the order is placed by a top-level distributor on behalf of their channel partner or reseller. Required for distributors. Deprecated: `channel_partner_id` has been moved to the Customer.",
          "deprecated": true
        }
      }
    },
    "GoogleCloudChannelV1FetchReportResultsRequest": {
      "properties": {
        "pageToken": {
          "description": "Optional. A token that specifies a page of results beyond the first page. Obtained through FetchReportResultsResponse.next_page_token of the previous CloudChannelReportsService.FetchReportResults call.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. Requested page size of the report. The server may return fewer results than requested. If you don't specify a page size, the server uses a sensible default (may change over time). The maximum value is 30,000; the server will change larger values to 30,000.",
          "type": "integer",
          "format": "int32"
        },
        "partitionKeys": {
          "description": "Optional. List of keys specifying which report partitions to return. If empty, returns all partitions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudChannelV1FetchReportResultsRequest",
      "description": "Request message for CloudChannelReportsService.FetchReportResults.",
      "type": "object",
      "deprecated": true
    },
    "GoogleCloudChannelV1ListSkuGroupsResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListSkuGroupsResponse",
      "description": "Response message for ListSkuGroups.",
      "properties": {
        "skuGroups": {
          "description": "The list of SKU groups requested.",
          "items": {
            "$ref": "GoogleCloudChannelV1SkuGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListSkuGroupsRequest.page_token to obtain that page."
        }
      }
    },
    "GoogleCloudChannelV1EntitlementChange": {
      "type": "object",
      "properties": {
        "suspensionReason": {
          "description": "Suspension reason for the Entitlement.",
          "enumDescriptions": [
            "Not used.",
            "Entitlement was manually suspended by the Reseller.",
            "Trial ended.",
            "Entitlement renewal was canceled.",
            "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
            "Other reasons (internal reasons, abuse, etc.)."
          ],
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "RESELLER_INITIATED",
            "TRIAL_ENDED",
            "RENEWAL_WITH_TYPE_CANCEL",
            "PENDING_TOS_ACCEPTANCE",
            "OTHER"
          ],
          "type": "string"
        },
        "changeType": {
          "type": "string",
          "description": "The change action type.",
          "enumDescriptions": [
            "Not used.",
            "New Entitlement was created.",
            "Price plan associated with an Entitlement was changed.",
            "Number of seats committed for a commitment Entitlement was changed.",
            "An annual Entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was activated.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded for ex. from Google Workspace Business Standard to Google Workspace Business Plus.",
            "The settings for renewal of an Entitlement have changed.",
            "Use for Google Workspace subscription. Either a trial was converted to a paid subscription or a new subscription with no trial is created.",
            "License cap was changed for the entitlement.",
            "The suspension details have changed (but it is still suspended).",
            "The trial end date was extended.",
            "Entitlement started trial."
          ],
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SUBSCRIPTION_STARTED",
            "LICENSE_CAP_CHANGED",
            "SUSPENSION_DETAILS_CHANGED",
            "TRIAL_END_DATE_EXTENDED",
            "TRIAL_STARTED"
          ]
        },
        "operatorType": {
          "type": "string",
          "description": "Operator type responsible for the change.",
          "enumDescriptions": [
            "Not used.",
            "Customer service representative.",
            "System auto job.",
            "Customer user.",
            "Reseller user."
          ],
          "enum": [
            "OPERATOR_TYPE_UNSPECIFIED",
            "CUSTOMER_SERVICE_REPRESENTATIVE",
            "SYSTEM",
            "CUSTOMER",
            "RESELLER"
          ]
        },
        "otherChangeReason": {
          "description": "e.g. purchase_number change reason, entered by CRS.",
          "type": "string"
        },
        "parameters": {
          "description": "Extended parameters, such as: purchase_order_number, gcp_details; internal_correlation_id, long_running_operation_id, order_id; etc.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          }
        },
        "offer": {
          "description": "Required. Resource name of the Offer at the time of change. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "provisionedService": {
          "description": "Service provisioned for an Entitlement.",
          "$ref": "GoogleCloudChannelV1ProvisionedService"
        },
        "operator": {
          "description": "Human-readable identifier that shows what operator made a change. When the operator_type is RESELLER, this is the user's email address. For all other operator types, this is empty.",
          "type": "string"
        },
        "entitlement": {
          "description": "Required. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The submitted time of the change."
        },
        "cancellationReason": {
          "description": "Cancellation reason for the Entitlement.",
          "enumDescriptions": [
            "Not used.",
            "Reseller triggered a cancellation of the service.",
            "Relationship between the reseller and customer has ended due to a transfer.",
            "Entitlement transferred away from reseller while still keeping other entitlement(s) with the reseller."
          ],
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "SERVICE_TERMINATED",
            "RELATIONSHIP_ENDED",
            "PARTIAL_TRANSFER"
          ],
          "type": "string"
        },
        "activationReason": {
          "description": "The Entitlement's activation reason",
          "enumDescriptions": [
            "Not used.",
            "Reseller reactivated a suspended Entitlement.",
            "Customer accepted pending terms of service.",
            "Reseller updated the renewal settings on an entitlement that was suspended due to cancellation, and this update reactivated the entitlement.",
            "Other reasons (Activated temporarily for cancellation, added a payment plan to a trial entitlement, etc.)"
          ],
          "enum": [
            "ACTIVATION_REASON_UNSPECIFIED",
            "RESELLER_REVOKED_SUSPENSION",
            "CUSTOMER_ACCEPTED_PENDING_TOS",
            "RENEWAL_SETTINGS_CHANGED",
            "OTHER_ACTIVATION_REASON"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1EntitlementChange",
      "description": "Change event entry for Entitlement order history"
    },
    "GoogleCloudChannelV1SkuGroupCondition": {
      "id": "GoogleCloudChannelV1SkuGroupCondition",
      "description": "A condition that applies the override if a line item SKU is found in the SKU group.",
      "properties": {
        "skuGroup": {
          "description": "Specifies a SKU group (https://cloud.google.com/skus/sku-groups). Resource name of SKU group. Format: accounts/{account}/skuGroups/{sku_group}. Example: \"accounts/C01234/skuGroups/3d50fd57-3157-4577-a5a9-a219b8490041\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1EntitlementEvent": {
      "id": "GoogleCloudChannelV1alpha1EntitlementEvent",
      "description": "Represents Pub/Sub message content describing entitlement update.",
      "properties": {
        "entitlement": {
          "description": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
          "type": "string"
        },
        "eventType": {
          "description": "Type of event which happened for the entitlement.",
          "enumDescriptions": [
            "Not used.",
            "A new entitlement was created.",
            "The offer type associated with an entitlement was changed. This is not triggered if an entitlement converts from a commit offer to a flexible offer as part of a renewal.",
            "Annual commitment for a commit plan was changed.",
            "An annual entitlement was renewed.",
            "Entitlement was suspended.",
            "Entitlement was unsuspended.",
            "Entitlement was cancelled.",
            "Entitlement was upgraded or downgraded (e.g. from Google Workspace Business Standard to Google Workspace Business Plus).",
            "The renewal settings of an entitlement has changed.",
            "Paid service has started on trial entitlement.",
            "License was assigned to or revoked from a user.",
            "License cap was changed for the entitlement."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATED",
            "PRICE_PLAN_SWITCHED",
            "COMMITMENT_CHANGED",
            "RENEWED",
            "SUSPENDED",
            "ACTIVATED",
            "CANCELLED",
            "SKU_CHANGED",
            "RENEWAL_SETTING_CHANGED",
            "PAID_SERVICE_STARTED",
            "LICENSE_ASSIGNMENT_CHANGED",
            "LICENSE_CAP_CHANGED"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse": {
      "type": "object",
      "properties": {
        "cloudIdentityAccounts": {
          "description": "The Cloud Identity accounts associated with the domain.",
          "items": {
            "$ref": "GoogleCloudChannelV1CloudIdentityCustomerAccount"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse",
      "description": "Response message for CloudChannelService.CheckCloudIdentityAccountsExist."
    },
    "GoogleCloudChannelV1alpha1TrialSettings": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1TrialSettings",
      "description": "Settings for trial offers.",
      "properties": {
        "trial": {
          "description": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial.",
          "type": "boolean"
        },
        "endTime": {
          "description": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com).",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudChannelV1ListEntitlementsResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListEntitlementsResponse",
      "description": "Response message for CloudChannelService.ListEntitlements.",
      "properties": {
        "nextPageToken": {
          "description": "A token to list the next page of results. Pass to ListEntitlementsRequest.page_token to obtain that page.",
          "type": "string"
        },
        "entitlements": {
          "description": "The reseller customer's entitlements.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          }
        }
      }
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "type": "object",
      "id": "GoogleCloudChannelV1CancelEntitlementRequest",
      "description": "Request message for CloudChannelService.CancelEntitlement.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
        }
      }
    },
    "GoogleCloudChannelV1ReportJob": {
      "type": "object",
      "id": "GoogleCloudChannelV1ReportJob",
      "description": "The result of a RunReportJob operation. Contains the name to use in FetchReportResultsRequest.report_job and the status of the operation.",
      "properties": {
        "name": {
          "description": "Required. The resource name of a report job. Name uses the format: `accounts/{account_id}/reportJobs/{report_job_id}`",
          "type": "string"
        },
        "reportStatus": {
          "description": "The current status of report generation.",
          "$ref": "GoogleCloudChannelV1ReportStatus"
        }
      },
      "deprecated": true
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "type": "object",
      "id": "GoogleCloudChannelV1PurchasableSku",
      "description": "SKU that you can purchase. This is used in ListPurchasableSku API response.",
      "properties": {
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "SKU"
        }
      }
    },
    "GoogleCloudChannelV1PricePhase": {
      "type": "object",
      "properties": {
        "price": {
          "$ref": "GoogleCloudChannelV1Price",
          "description": "Price of the phase. Present if there are no price tiers."
        },
        "lastPeriod": {
          "description": "Defines first period for the phase.",
          "type": "integer",
          "format": "int32"
        },
        "priceTiers": {
          "items": {
            "$ref": "GoogleCloudChannelV1PriceTier"
          },
          "type": "array",
          "description": "Price by the resource tiers."
        },
        "firstPeriod": {
          "description": "Defines first period for the phase.",
          "type": "integer",
          "format": "int32"
        },
        "periodType": {
          "description": "Defines the phase period type.",
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1PricePhase",
      "description": "Specifies the price by the duration of months. For example, a 20% discount for the first six months, then a 10% discount starting on the seventh month."
    },
    "GoogleCloudChannelV1UnregisterSubscriberRequest": {
      "type": "object",
      "properties": {
        "account": {
          "type": "string",
          "description": "Optional. Resource name of the account. Required if integrator is not provided. Otherwise, leave this field empty/unset."
        },
        "integrator": {
          "description": "Optional. Resource name of the integrator. Required if account is not provided. Otherwise, leave this field empty/unset.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account to unregister from subscriber access to the topic.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1UnregisterSubscriberRequest",
      "description": "Request Message for UnregisterSubscriber."
    },
    "GoogleCloudChannelV1Constraints": {
      "type": "object",
      "id": "GoogleCloudChannelV1Constraints",
      "description": "Represents the constraints for buying the Offer.",
      "properties": {
        "customerConstraints": {
          "$ref": "GoogleCloudChannelV1CustomerConstraints",
          "description": "Represents constraints required to purchase the Offer for a customer."
        }
      }
    },
    "GoogleCloudChannelV1Entitlement": {
      "id": "GoogleCloudChannelV1Entitlement",
      "description": "An entitlement is a representation of a customer's ability to use a service.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the entitlement is created.",
          "readOnly": true
        },
        "trialSettings": {
          "$ref": "GoogleCloudChannelV1TrialSettings",
          "description": "Output only. Settings for trial offers.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the entitlement is updated.",
          "readOnly": true
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. The billing account resource name that is used to pay for this entitlement."
        },
        "priceReferenceId": {
          "description": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order.",
          "type": "string"
        },
        "provisioningState": {
          "description": "Output only. Current provisioning state of the entitlement.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not used.",
            "The entitlement is currently active.",
            "The entitlement is currently suspended."
          ],
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ]
        },
        "suspensionReasons": {
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "readOnly": true,
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not used.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ],
            "type": "string"
          }
        },
        "associationInfo": {
          "description": "Association information to other entitlements.",
          "$ref": "GoogleCloudChannelV1AssociationInfo"
        },
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1CommitmentSettings"
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters. This is only supported for Google Workspace entitlements."
        },
        "parameters": {
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameter names and values are defined in the Offer.parameter_definitions. For Google Workspace, the following Parameters may be accepted as input: - max_units: The maximum assignable units for a flexible offer OR - num_units: The total commitment for commitment-based offers The response may additionally include the following output-only Parameters: - assigned_units: The number of licenses assigned to users. For Google Cloud billing subaccounts, the following Parameter may be accepted as input: - display_name: The display name of the billing subaccount.",
          "items": {
            "$ref": "GoogleCloudChannelV1Parameter"
          },
          "type": "array"
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "provisionedService": {
          "description": "Output only. Service provisioning details for the entitlement.",
          "readOnly": true,
          "$ref": "GoogleCloudChannelV1ProvisionedService"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1TransferableSku": {
      "type": "object",
      "id": "GoogleCloudChannelV1TransferableSku",
      "description": "TransferableSku represents information a reseller needs to view existing provisioned services for a customer that they do not own. Read-only.",
      "properties": {
        "transferEligibility": {
          "description": "Describes the transfer eligibility of a SKU.",
          "$ref": "GoogleCloudChannelV1TransferEligibility"
        },
        "sku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "The SKU pertaining to the provisioning resource as specified in the Offer."
        },
        "legacySku": {
          "$ref": "GoogleCloudChannelV1Sku",
          "description": "Optional. The customer to transfer has an entitlement with the populated legacy SKU."
        }
      }
    },
    "GoogleCloudChannelV1Sku": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}",
          "type": "string"
        },
        "marketingInfo": {
          "$ref": "GoogleCloudChannelV1MarketingInfo",
          "description": "Marketing information for the SKU."
        },
        "product": {
          "description": "Product the SKU is associated with.",
          "$ref": "GoogleCloudChannelV1Product"
        }
      },
      "id": "GoogleCloudChannelV1Sku",
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs."
    },
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest",
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity",
      "properties": {
        "cloudIdentityInfo": {
          "description": "CloudIdentity-specific customer information.",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "user": {
          "description": "Admin user information.",
          "$ref": "GoogleCloudChannelV1AdminUser"
        },
        "validateOnly": {
          "description": "Validate the request and preview the review, but do not post it.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1Column": {
      "type": "object",
      "id": "GoogleCloudChannelV1Column",
      "description": "The definition of a report column. Specifies the data properties in the corresponding position of the report rows.",
      "properties": {
        "columnId": {
          "description": "The unique name of the column (for example, customer_domain, channel_partner, customer_cost). You can use column IDs in RunReportJobRequest.filter. To see all reports and their columns, call CloudChannelReportsService.ListReports.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The column's display name."
        },
        "dataType": {
          "description": "The type of the values for this column.",
          "enumDescriptions": [
            "Not used.",
            "ReportValues for this column will use string_value.",
            "ReportValues for this column will use int_value.",
            "ReportValues for this column will use decimal_value.",
            "ReportValues for this column will use money_value.",
            "ReportValues for this column will use date_value.",
            "ReportValues for this column will use date_time_value."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "DECIMAL",
            "MONEY",
            "DATE",
            "DATE_TIME"
          ],
          "type": "string"
        }
      },
      "deprecated": true
    },
    "GoogleCloudChannelV1ListTransferableSkusRequest": {
      "id": "GoogleCloudChannelV1ListTransferableSkusRequest",
      "description": "Request message for CloudChannelService.ListTransferableSkus",
      "properties": {
        "cloudIdentityId": {
          "description": "Customer's Cloud Identity ID",
          "type": "string"
        },
        "pageToken": {
          "description": "A token for a page of results other than the first page. Obtained using ListTransferableSkusResponse.next_page_token of the previous CloudChannelService.ListTransferableSkus call. Optional.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\". Optional.",
          "type": "string"
        },
        "authToken": {
          "description": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details.",
          "type": "string"
        },
        "customerName": {
          "description": "A reseller is required to create a customer and use the resource name of the created customer here. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "pageSize": {
          "description": "The requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000. Optional.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListTransferableOffersResponse": {
      "type": "object",
      "id": "GoogleCloudChannelV1ListTransferableOffersResponse",
      "description": "Response message for CloudChannelService.ListTransferableOffers.",
      "properties": {
        "transferableOffers": {
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableOffer"
          },
          "type": "array",
          "description": "Information about Offers for a customer that can be used for transfer."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableOffersRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ListSkusResponse": {
      "properties": {
        "skus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Sku"
          },
          "description": "The list of SKUs requested."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ListSkusResponse",
      "description": "Response message for ListSkus.",
      "type": "object"
    },
    "GoogleCloudChannelV1SkuPurchaseGroup": {
      "type": "object",
      "properties": {
        "skus": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Resource names of the SKUs included in this group. Format: products/{product_id}/skus/{sku_id}."
        },
        "billingAccountPurchaseInfos": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1BillingAccountPurchaseInfo"
          },
          "description": "List of billing accounts that are eligible to purhcase these SKUs."
        }
      },
      "id": "GoogleCloudChannelV1SkuPurchaseGroup",
      "description": "Represents a set of SKUs that must be purchased using the same billing account."
    },
    "GoogleCloudChannelV1CreateEntitlementRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "entitlement": {
          "description": "Required. The entitlement to create.",
          "$ref": "GoogleCloudChannelV1Entitlement"
        }
      },
      "id": "GoogleCloudChannelV1CreateEntitlementRequest",
      "description": "Request message for CloudChannelService.CreateEntitlement",
      "type": "object"
    },
    "GoogleTypePostalAddress": {
      "properties": {
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district.",
          "type": "string"
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
        },
        "recipients": {
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "addressLines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "sortingCode": {
          "type": "string",
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire)."
        }
      },
      "id": "GoogleTypePostalAddress",
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "type": "object"
    },
    "GoogleCloudChannelV1AdminUser": {
      "type": "object",
      "id": "GoogleCloudChannelV1AdminUser",
      "description": "Information needed to create an Admin User for Google Workspace.",
      "properties": {
        "familyName": {
          "type": "string",
          "description": "Family name of the admin user."
        },
        "givenName": {
          "type": "string",
          "description": "Given name of the admin user."
        },
        "email": {
          "description": "Primary email of the admin user.",
          "type": "string"
        }
      }
    },
    "GoogleCloudChannelV1ProvisionedService": {
      "properties": {
        "skuId": {
          "type": "string",
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true
        },
        "provisioningId": {
          "type": "string",
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount.",
          "readOnly": true
        },
        "productId": {
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ProvisionedService",
      "description": "Service provisioned for an entitlement.",
      "type": "object"
    },
    "GoogleCloudChannelV1CloudIdentityCustomerAccount": {
      "id": "GoogleCloudChannelV1CloudIdentityCustomerAccount",
      "description": "Entity representing a Cloud Identity account that may be associated with a Channel Services API partner.",
      "properties": {
        "customerType": {
          "type": "string",
          "description": "If existing = true, the type of the customer.",
          "enumDescriptions": [
            "Not used.",
            "Domain-owning customer which needs domain verification to use services.",
            "Team customer which needs email verification to use services."
          ],
[...]
