{
  "title": "Cloud Billing API",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-billing": {
          "description": "View and manage your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-billing.readonly": {
          "description": "View your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "revision": "20260619",
  "batchPath": "batch",
  "resources": {
    "skuGroups": {
      "methods": {
        "list": {
          "flatPath": "v1beta/skuGroups",
          "description": "Lists all publicly listed SKU groups.",
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          },
          "path": "v1beta/skuGroups",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "cloudbilling.skuGroups.list",
          "httpMethod": "GET"
        },
        "get": {
          "flatPath": "v1beta/skuGroups/{skuGroupsId}",
          "description": "Gets a publicly listed SKU group.",
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}",
              "location": "path",
              "pattern": "^skuGroups/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "id": "cloudbilling.skuGroups.get",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "skus": {
          "methods": {
            "get": {
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}",
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group.",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              },
              "parameters": {
                "name": {
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}"
                }
              },
              "id": "cloudbilling.skuGroups.skus.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1beta/{+parent}/skus",
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus",
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group.",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}",
                  "location": "path",
                  "pattern": "^skuGroups/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "cloudbilling.skuGroups.skus.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "services": {
          "methods": {
            "list": {
              "id": "cloudbilling.billingAccounts.services.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/services",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services",
              "description": "Lists services visible to a billing account."
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "description": "Gets a Google Cloud service visible to a billing account.",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.services.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}"
                }
              }
            }
          }
        },
        "skus": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}",
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "cloudbilling.billingAccounts.skus.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/skus",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus",
              "description": "Lists SKUs visible to a billing account.",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              }
            },
            "get": {
              "id": "cloudbilling.billingAccounts.skus.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}",
              "description": "Gets a SKU visible to a billing account."
            }
          },
          "resources": {
            "price": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price",
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$",
                      "required": true,
                      "type": "string"
                    },
                    "currencyCode": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used."
                    }
                  },
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  }
                }
              }
            },
            "prices": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price.",
                      "location": "path"
                    },
                    "currencyCode": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned."
                    }
                  },
                  "id": "cloudbilling.billingAccounts.skus.prices.list",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices",
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  },
                  "path": "v1beta/{+parent}/prices"
                }
              }
            }
          }
        },
        "skuGroups": {
          "methods": {
            "get": {
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}",
              "description": "Gets a SKU group visible to a billing account.",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "httpMethod": "GET"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}",
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned."
                }
              },
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "httpMethod": "GET",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "description": "Lists SKU groups visible to a billing account.",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              },
              "path": "v1beta/{+parent}/skuGroups"
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus",
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "path": "v1beta/{+parent}/skus",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}",
                      "location": "path"
                    }
                  },
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}",
                  "description": "Gets a SKU that is part of a billing account SKU group.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  }
                }
              }
            }
          }
        }
      }
    },
    "skus": {
      "resources": {
        "price": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.skus.price.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^skus/[^/]+/price$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price"
                },
                "currencyCode": {
                  "location": "query",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              },
              "flatPath": "v1beta/skus/{skusId}/price",
              "description": "Gets the latest price for the given SKU.",
              "path": "v1beta/{+name}"
            }
          }
        },
        "prices": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string"
                },
                "currencyCode": {
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^skus/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU."
                }
              },
              "id": "cloudbilling.skus.prices.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/prices",
              "flatPath": "v1beta/skus/{skusId}/prices",
              "description": "Lists the latest prices for all SKUs.",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              }
            }
          }
        }
      }
    },
    "v1beta": {
      "methods": {
        "generateInsights": {
          "request": {
            "$ref": "GenerateInsightsRequest"
          },
          "path": "v1beta:generateInsights",
          "flatPath": "v1beta:generateInsights",
          "description": "Analyzes cost data for a billing account and/or specific projects. Returns a natural language summary and supporting datasets.",
          "response": {
            "$ref": "GenerateInsightsResponse"
          },
          "parameters": {},
          "id": "cloudbilling.generateInsights",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://cloudbilling.googleapis.com/",
  "version": "v1beta",
  "schemas": {
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate",
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "properties": {
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo"
        },
        "tiers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          },
          "description": "All tiers associated with the `Rate` price."
        },
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time.",
      "properties": {
        "fixTime": {
          "description": "Time that the fixed discount is anchored to.",
          "format": "google-datetime",
          "type": "string"
        },
        "skuGroup": {
          "description": "SKU group where the fixed discount comes from.",
          "type": "string"
        },
        "discountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of the fixed discount."
        },
        "discountScopeType": {
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "type": "object"
    },
    "SuggestedQuery": {
      "id": "SuggestedQuery",
      "type": "object",
      "description": "A suggested follow-up query for the user.",
      "properties": {
        "query": {
          "description": "The natural language query.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
      "type": "object",
      "description": "Encapsulates a default price which is the current list price.",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
      "description": "Encapsulates a price migrated from other SKUs.",
      "properties": {
        "sourceSku": {
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement.",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU belong to.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          }
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the billing account SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "type": "string"
        },
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "multiRegionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
          "description": "Multi-regional geographic metadata with 2 or more regions."
        }
      }
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse",
      "type": "object",
      "description": "Response message for ListSkuGroups.",
      "properties": {
        "skuGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "description": "The returned publicly listed SKU groups."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Rejection": {
      "id": "Rejection",
      "type": "object",
      "description": "Encapsulates details about why a request was rejected.",
      "properties": {
        "reason": {
          "description": "Output only. The reason for the rejection.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ]
        },
        "displayMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A user-facing message explaining the rejection."
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
      "type": "object"
    },
    "GenerateInsightsRequest": {
      "type": "object",
      "id": "GenerateInsightsRequest",
      "description": "Request for GenerateInsights.",
      "properties": {
        "prompt": {
          "type": "string",
          "description": "Required. The natural language prompt from the user."
        },
        "userContext": {
          "$ref": "UserContext",
          "description": "Optional. Additional context for personalization (e.g., user persona, role)."
        },
        "filter": {
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\"",
          "type": "string"
        },
        "parents": {
          "type": "array",
          "items": {
            "$ref": "BillingDataResource"
          },
          "description": "Optional. The billing account or projects to analyze."
        },
        "overriddenMaxIterationCounts": {
          "description": "Optional. Overrides the maximum iterations for any selected strategy.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "description": "Response message for ListBillingAccountServices.",
      "properties": {
        "billingAccountServices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          },
          "description": "The returned billing account services."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "id": "GoogleCloudBillingPricesV1betaRate",
      "type": "object",
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "properties": {
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo"
        },
        "unitInfo": {
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        },
        "tiers": {
          "description": "All tiers associated with the `Rate` price.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time.",
      "properties": {
        "skuGroup": {
          "description": "SKU group where the floating discount comes from.",
          "type": "string"
        },
        "discountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of the floating discount."
        },
        "discountScopeType": {
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
      "type": "object"
    },
    "Decimal": {
      "type": "object",
      "id": "Decimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "description": "Encapsulates a Google Cloud service visible to a billing account.",
      "properties": {
        "serviceId": {
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"."
        },
        "displayName": {
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo",
      "type": "object",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price.",
      "properties": {
        "level": {
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "type": "string",
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ]
        },
        "interval": {
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "type": "string",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ]
        }
      }
    },
    "DataSet": {
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts).",
      "properties": {
        "billingData": {
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service.",
          "readOnly": true,
          "$ref": "BillingData"
        },
        "suggestedChart": {
          "readOnly": true,
          "$ref": "SuggestedChart",
          "description": "Output only. A suggested chart for the data set, used for UI rendering."
        },
        "queryInfo": {
          "readOnly": true,
          "$ref": "AgenticQueryInfo",
          "description": "Output only. The query used to fetch this data."
        }
      },
      "type": "object",
      "id": "DataSet"
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku",
      "type": "object",
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus).",
      "properties": {
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the BillingAccountSku."
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSku belongs to.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\"."
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "globalMetadata": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the SKU group SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        },
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
      "type": "object",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price.",
      "properties": {
        "level": {
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "type": "string"
        },
        "interval": {
          "type": "string",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ]
        }
      }
    },
    "FinalResult": {
      "description": "Encapsulates all structured data and the completed summary.",
      "properties": {
        "dataSets": {
          "readOnly": true,
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts).",
          "type": "array",
          "items": {
            "$ref": "DataSet"
          }
        },
        "fullAnalysis": {
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references.",
          "readOnly": true,
          "type": "string"
        },
        "interopLinks": {
          "readOnly": true,
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries).",
          "type": "array",
          "items": {
            "$ref": "InteropLink"
          }
        },
        "suggestedQueries": {
          "type": "array",
          "items": {
            "$ref": "SuggestedQuery"
          },
          "readOnly": true,
          "description": "Output only. A list of suggested follow-up queries for the user."
        },
        "summary": {
          "description": "Output only. The full natural language summary (re-sent for consistency).",
          "readOnly": true,
          "type": "string"
        },
        "insights": {
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Insight"
          }
        }
      },
      "type": "object",
      "id": "FinalResult"
    },
    "Struct": {
      "type": "object",
      "id": "Struct",
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value.",
      "properties": {
        "field": {
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          },
          "description": "The fields in the struct"
        }
      }
    },
    "Array": {
      "description": "An ordered collection of elements of arbitrary count.",
      "properties": {
        "element": {
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          },
          "description": "The elements of the array."
        }
      },
      "id": "Array",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "description": "Encapsulates the unit information for a Rate",
      "properties": {
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        },
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
      "type": "object",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          },
          "description": "All product categories that the SKU group SKU belongs to."
        }
      }
    },
    "UserContext": {
      "description": "Additional context for personalization (e.g., user persona, role).",
      "properties": {
        "persona": {
          "type": "string",
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ],
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer).",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ]
        },
        "role": {
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserContext"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
      "type": "object"
    },
    "GenerateInsightsResponse": {
      "description": "Response for GenerateInsights.",
      "properties": {
        "summaryChunk": {
          "type": "string",
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect.",
          "readOnly": true
        },
        "finalResult": {
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream.",
          "readOnly": true,
          "$ref": "FinalResult"
        },
        "thoughtChunk": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status."
        },
        "rejection": {
          "description": "Output only. The request was rejected (e.g. out of scope).",
          "readOnly": true,
          "$ref": "Rejection"
        }
      },
      "id": "GenerateInsightsResponse",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "contractPrice": {
          "description": "Negotiated contract price specific for a billing account.",
          "$ref": "Money"
        },
        "listPrice": {
          "$ref": "Money",
          "description": "List price of one tier."
        },
        "effectiveDiscountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details."
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        }
      }
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup",
      "type": "object",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "name": {
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "description": "Encapsulates a SKU that is part of a billing account SKU group.",
      "properties": {
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy"
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to.",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\"."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "description": "Response message for ListSkuGroupSkus.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "skuGroupSkus": {
          "description": "The returned SKU group SKUs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          }
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse",
      "description": "Response message for ListBillingAccountSkus.",
      "properties": {
        "billingAccountSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          },
          "description": "The returned billing account SKUs."
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Datetime": {
      "description": "A datetime value.",
      "properties": {
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution.",
          "format": "int32",
          "type": "integer"
        },
        "bitFieldDatetimeSeconds": {
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Datetime",
      "type": "object"
    },
    "InteropLink": {
      "id": "InteropLink",
      "type": "object",
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries).",
      "properties": {
        "linkType": {
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ]
        },
        "label": {
          "type": "string",
          "description": "Output only. The label of the link, suitable for UI rendering.",
          "readOnly": true
        },
        "url": {
          "description": "Output only. The URL of the link.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Range": {
      "id": "Range",
      "type": "object",
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present.",
      "properties": {
        "start": {
          "description": "Represents the start of the range.",
          "$ref": "ValueProto"
        },
        "end": {
          "description": "Represents the end of the range.",
          "$ref": "ValueProto"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse",
      "type": "object",
      "description": "Response message for ListBillingAccountSkuGroups.",
      "properties": {
        "billingAccountSkuGroups": {
          "description": "The returned publicly listed billing account SKU groups.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        },
        "listPrice": {
          "$ref": "Money",
          "description": "List price of one tier."
        }
      },
      "id": "GoogleCloudBillingPricesV1betaRateTier",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
      "type": "object",
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "description": "Encapsulates the latest price for a billing account SKU.",
      "properties": {
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        },
        "valueType": {
          "type": "string",
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"]."
        },
        "priceReason": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
          "description": "Background information on the origin of the price."
        },
        "rate": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate",
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the latest billing account price."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "id": "GoogleCloudBillingPricesV1betaPrice",
      "type": "object",
      "description": "Encapsulates the latest price for a SKU.",
      "properties": {
        "name": {
          "description": "Resource name for the latest price.",
          "type": "string"
        },
        "valueType": {
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "rate": {
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingPricesV1betaRate"
        },
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "description": "Encapsulates a price reason which contains background information about the origin of the price.",
      "properties": {
        "fixedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
          "description": "Fixed price applicable during the terms of a contract agreement."
        },
        "defaultPrice": {
          "description": "Default price which is the current list price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice"
        },
        "type": {
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'.",
          "type": "string"
        },
        "floatingDiscount": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time."
        },
        "migratedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
          "description": "Price migrated from other SKUs."
        },
        "listPriceAsCeiling": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice."
        },
        "fixedDiscount": {
          "description": "Discount off the list price, anchored to the list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount"
        },
        "mergedPrice": {
          "description": "Price after merging from multiple sources.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "description": "Response message for ListBillingAccountSkuGroupSkus.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "billingAccountSkuGroupSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          },
          "description": "The returned billing account SKU group SKUs."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
    },
    "SuggestedChart": {
      "description": "A suggested chart for the data set, used for UI rendering.",
      "properties": {
        "yAxisField": {
          "description": "The field used for the y-axis.",
          "type": "string"
        },
        "chartTitle": {
          "type": "string",
          "description": "The title of the chart."
        },
        "xAxisLabel": {
          "type": "string",
          "description": "The label of the x-axis."
        },
        "xAxisField": {
          "description": "The field used for the x-axis.",
          "type": "string"
        },
        "yAxisLabel": {
          "description": "The label of the y-axis.",
          "type": "string"
        },
        "seriesField": {
          "type": "string",
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data."
        },
        "chartType": {
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ],
          "type": "string",
          "description": "The type of the chart.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ]
        }
      },
      "type": "object",
      "id": "SuggestedChart"
    },
    "Row": {
      "description": "Represents a row in the query result.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          },
          "description": "Values for a row in the column order."
        }
      },
      "type": "object",
      "id": "Row"
    },
    "BillingData": {
      "id": "BillingData",
      "type": "object",
      "description": "Encapsulates billing data.",
      "properties": {
        "columnInfo": {
          "type": "array",
          "items": {
            "$ref": "ColumnInfo"
          },
          "description": "Information about columns."
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "Rows."
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory",
      "type": "object"
    },
    "Map": {
      "id": "Map",
      "type": "object",
      "description": "An unordered mapping from key to value, represented as a collection of map entries.",
      "properties": {
        "entry": {
          "type": "array",
          "items": {
            "$ref": "MapEntry"
          },
          "description": "Represents the map entries in the map."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "type": "object",
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "description": "Response message for ListBillingAccountPrices.",
      "properties": {
        "billingAccountPrices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          },
          "description": "The returned billing account prices."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku",
      "type": "object",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "service": {
          "type": "string",
          "description": "Service that the SkuGroupSku belongs to."
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the SkuGroupSku."
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the SkuGroupSku."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
      "type": "object",
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types.",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ]
        },
        "regionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
          "description": "Regional geographic metadata with 1 region."
        },
        "multiRegionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
          "description": "Multi-regional geographic metadata with 2 or more regions."
        }
      }
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "id": "Money",
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse",
      "type": "object",
      "description": "Response message for ListPrices.",
      "properties": {
        "prices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaPrice"
          },
          "description": "The returned publicly listed prices."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "BillingDataResource": {
      "id": "BillingDataResource",
      "type": "object",
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data.",
      "properties": {
        "billingAccount": {
          "description": "Optional. If not provided the billing account currently associated with the resource will be used.",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`"
        }
      }
    },
    "ColumnInfo": {
      "description": "Represents a column header.",
      "properties": {
        "column": {
          "description": "Name of the column.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ColumnInfo"
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingPricesV1betaUnitInfo",
      "type": "object",
      "description": "Encapsulates the unit information for a Rate",
      "properties": {
        "unitDescription": {
          "type": "string",
          "description": "Human-readable description of the unit. Example: gibibyte month."
        },
        "unit": {
          "type": "string",
          "description": "Shorthand for the unit. Example: GiBy.mo."
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional",
      "type": "object",
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          }
        }
      }
    },
    "AgenticQueryInfo": {
      "description": "A local representation of the query used to fetch the data. This is used instead of the raw QueryBillingDataRequest to avoid pulling in Cloud Policy Enforcement (CPE) resource_type annotations into the response payload, which causes ESF validation failures.",
      "properties": {
        "groupBy": {
          "description": "The group-by clause applied to the query.",
          "type": "string"
        },
        "columns": {
          "description": "The columns queried.",
          "type": "string"
        },
        "filter": {
          "description": "The filter applied to the query.",
          "type": "string"
        },
        "limit": {
          "description": "The row limit applied to the query.",
          "format": "int32",
          "type": "integer"
        },
        "orderBy": {
          "description": "The order-by clause applied to the query.",
          "type": "string"
        },
        "parents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The parents (e.g. projects, billing accounts) queried."
        },
        "view": {
          "description": "The view queried.",
          "type": "string"
        }
      },
      "id": "AgenticQueryInfo",
      "type": "object"
    },
    "Insight": {
      "id": "Insight",
      "type": "object",
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding).",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ]
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The title of the insight."
        },
        "description": {
          "description": "Output only. The description of the insight.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ValueProto": {
      "type": "object",
      "id": "ValueProto",
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto.",
      "properties": {
        "uint64Value": {
          "type": "string",
          "description": "Primitive for uint64.",
          "format": "uint64"
        },
        "enumValue": {
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete.",
          "format": "int32",
          "type": "integer"
        },
        "structValue": {
          "$ref": "Struct",
          "description": "A struct of values"
        },
        "intervalValue": {
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes().",
          "format": "byte",
          "type": "string"
        },
        "dateValue": {
          "type": "integer",
          "description": "Primitive for date.",
          "format": "int32"
        },
        "arrayValue": {
          "$ref": "Array",
          "description": "An array of value"
        },
        "datetimeValue": {
          "description": "primitive for datetime",
          "$ref": "Datetime"
        },
        "geographyValue": {
          "description": "Geography encoded using ::stlib::STGeographyEncoder",
          "format": "byte",
          "type": "string"
        },
        "uuidValue": {
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes().",
          "format": "byte",
          "type": "string"
        },
        "protoValue": {
          "type": "string",
          "description": "Stores a serialized protocol message.",
          "format": "byte"
        },
        "timestampValue": {
          "description": "primitive for timestamp",
          "format": "google-datetime",
          "type": "string"
        },
        "timestampPicoValue": {
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes().",
          "format": "byte",
          "type": "string"
        },
        "bignumericValue": {
          "type": "string",
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes().",
          "format": "byte"
        },
        "int64Value": {
          "description": "Primitive for int64.",
          "format": "int64",
          "type": "string"
        },
        "floatValue": {
          "type": "number",
          "description": "Primitive for float.",
          "format": "float"
        },
        "stringValue": {
          "type": "string",
          "description": "Primitive for string."
        },
        "tokenlistValue": {
          "type": "string",
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end",
          "format": "byte"
        },
        "timeValue": {
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details.",
          "format": "int64",
          "type": "string"
        },
        "jsonValue": {
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document.",
          "type": "string"
        },
        "uint32Value": {
          "type": "integer",
          "description": "Primitive for uint32.",
          "format": "uint32"
        },
        "bytesValue": {
          "type": "string",
          "description": "Primitive for bytes.",
          "format": "byte"
        },
        "numericValue": {
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes().",
          "format": "byte",
          "type": "string"
        },
        "ValueProtoSwitchMustHaveADefault": {
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added.",
          "type": "boolean"
        },
        "rangeValue": {
          "$ref": "Range",
          "description": "Encoded range value. See go/googlesql_range."
        },
        "int32Value": {
          "type": "integer",
          "description": "Primitive value for int32.",
          "format": "int32"
        },
        "mapValue": {
          "description": "Encoded map value. See go/googlesql_map.",
          "$ref": "Map"
        },
        "doubleValue": {
          "description": "Primitive for double.",
          "format": "double",
          "type": "number"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Primitive for bool."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice.",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup",
      "type": "object",
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\"."
        }
      }
    },
    "MapEntry": {
      "description": "A single entry in a Map, representing the mapping between `key` and `value`.",
      "properties": {
        "key": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map key for the entry."
        },
        "value": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map value of the entry."
        }
      },
      "type": "object",
      "id": "MapEntry"
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
[...]
