{
  "ownerDomain": "google.com",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "",
  "kind": "discovery#restDescription",
  "name": "cloudnumberregistry",
  "revision": "20260826",
  "version": "v1alpha",
  "batchPath": "batch",
  "id": "cloudnumberregistry:v1alpha",
  "title": "Cloud Number Registry API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "schemas": {
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "FindCustomRangeFreeIpRangesResponse": {
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.FindCustomRangeFreeIpRanges method.",
      "id": "FindCustomRangeFreeIpRangesResponse",
      "properties": {
        "freeIpCidrRanges": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The free IP CIDR ranges found."
        }
      }
    },
    "IpamAdminScopeAvailability": {
      "type": "object",
      "id": "IpamAdminScopeAvailability",
      "description": "Availability details for a specific IpamAdminScope.",
      "properties": {
        "adminProject": {
          "format": "int64",
          "description": "The admin project of the IpamAdminScope if it exists.",
          "type": "string"
        },
        "availability": {
          "enumDescriptions": [
            "Unspecified availability.",
            "The scope is available.",
            "The scope is not available."
          ],
          "description": "The availability of the scope.",
          "type": "string",
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "UNAVAILABLE"
          ]
        },
        "scope": {
          "description": "The scope of the IpamAdminScope.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ShowDiscoveredRangeUtilizationResponse": {
      "properties": {
        "discoveredRange": {
          "description": "The DiscoveredRange resource.",
          "$ref": "DiscoveredRange"
        },
        "rangeUtilization": {
          "$ref": "RangeUtilization",
          "description": "The utilization details of the DiscoveredRange."
        }
      },
      "description": "Response message for the CloudNumberRegistry.ShowDiscoveredRangeUtilization method.",
      "type": "object",
      "id": "ShowDiscoveredRangeUtilizationResponse"
    },
    "RegistryBook": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name of the RegistryBook."
        },
        "createTime": {
          "description": "Output only. The time at which the RegistryBook was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the RegistryBook is the default one."
        },
        "aggregatedData": {
          "description": "Output only. Aggregated data for the RegistryBook. Populated only when the view is AGGREGATE.",
          "readOnly": true,
          "$ref": "AggregatedData"
        },
        "claimedScopesInfo": {
          "items": {
            "$ref": "ScopeInfo"
          },
          "readOnly": true,
          "description": "Output only. Detailed scope information corresponding to each entry in `claimed_scopes`.",
          "type": "array"
        },
        "claimedScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of scopes claimed by the RegistryBook. In Preview, Only project scope is supported. Each scope is in the format of projects/{project}. Each scope can only be claimed once."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the RegistryBook was last updated.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "RegistryBook",
      "type": "object",
      "description": "A RegistryBook organizes and manages IP address space. It claims specific scopes (such as projects) and groups related Realms and Ranges."
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "SearchIpResourcesRequest": {
      "type": "object",
      "description": "Request message for the CloudNumberRegistry.SearchIpResources method.",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. A token identifying a page of results the server should return."
        },
        "searchResourceTypes": {
          "description": "Optional. The type of resources to search for. If not specified, the server will return Ranges.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified search type.",
              "Search for Ranges.",
              "Search for Realms."
            ],
            "type": "string",
            "enum": [
              "SEARCH_RESOURCE_TYPE_UNSPECIFIED",
              "RANGES",
              "REALMS"
            ]
          }
        },
        "query": {
          "description": "Optional. Search query. This string filters resources in an AIP-160-like format. It has some limitations. You can only specify top level conjunctions or attribute level negations. Each restriction can only be used once except the attribute restriction. The available restrictions for Ranges are: - `resource_id`: The resource ID to search for within Ranges (only substring matching using the format `resource_id=\"*value*\"` is supported). - `realm`: The Realm name to search in. - `ip_address`: The IP address to search for within Ranges. - `ip_version`: The IP version to filter by (e.g., \"IPV4\", \"IPV6\"). - `parent_range`: The parent Range of the Range to search for. - `attribute_text`: The attribute text to search for within Ranges. - `attribute`: The attribute key and value to filter by. The available restrictions for Realms are: - `ip_version`: The IP version to search for. - `management_type`: The management type of the Realm (e.g., \"CNR\", \"USER\"). Only one of attribute_text or multiple attribute filters can be specified. Examples: - `realm=test-realm` - `realm=test-realm AND ip_address=10.0.0.0` - `realm=test-realm AND ip_version=IPV6` - `realm=test-realm AND resource_id=\"*my-range*\"` - `realm=test-realm AND attribute_text=test` - `ip_address=10.0.0.0 AND attribute:(key1=value1) AND attribute:(key2=value2)` - `attribute_text=test AND parent_range=projects/123/locations/global/discoveredRanges/test-parent-range` - `management_type=CNR`",
          "type": "string"
        },
        "showUtilization": {
          "description": "Optional. Whether to show the utilization of the Ranges in the response.",
          "type": "boolean"
        },
        "orderBy": {
          "type": "string",
          "description": "Optional. Hint for how to order the results. Supported sort fields are: - `name`: Sort alphabetically by the resource name. - `create_time`: Sort by the creation timestamp of the resource. - `update_time`: Sort by the last update timestamp of the resource. Supported directions are `asc` (ascending) and `desc` (descending). If unspecified, direction defaults to `asc`. Only sorting by a single field is supported."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
          "type": "integer"
        }
      },
      "id": "SearchIpResourcesRequest"
    },
    "SearchIpResourcesResult": {
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "A Range matching the search query."
        },
        "realm": {
          "$ref": "Realm",
          "description": "A Realm matching the search query."
        }
      },
      "description": "A result matching the search query, which can be either a Range or a Realm.",
      "type": "object",
      "id": "SearchIpResourcesResult"
    },
    "AggregatedData": {
      "properties": {
        "discoveredRealmsCount": {
          "description": "Output only. Number of discovered Realms in the RegistryBook.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "customRealmsCount": {
          "description": "Output only. Number of custom Realms in the RegistryBook.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "discoveredRangesCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of DiscoveredRanges in the RegistryBook.",
          "type": "integer"
        },
        "uniqueScopesCount": {
          "description": "Output only. Number of scopes unique to the RegistryBook.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "customRangesCount": {
          "type": "integer",
          "description": "Output only. Number of CustomRanges in the RegistryBook.",
          "readOnly": true,
          "format": "int32"
        }
      },
      "description": "Aggregated data for the RegistryBook.",
      "type": "object",
      "id": "AggregatedData"
    },
    "Realm": {
      "id": "Realm",
      "description": "A Realm represents a distinct network domain or security zone. It groups Ranges that share the same traffic and management characteristics. All the ranges in a Realm are routable to each other, meaning that they cannot overlap.",
      "type": "object",
      "properties": {
        "discoveryMetadata": {
          "description": "Output only. Discovery metadata of the Realm.",
          "readOnly": true,
          "$ref": "DiscoveryMetadata"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the Realm was created."
        },
        "aggregatedData": {
          "$ref": "RealmAggregatedData",
          "description": "Output only. Aggregated data for the Realm. Populated only when the view is AGGREGATE.",
          "readOnly": true
        },
        "ipVersion": {
          "description": "Optional. IP version of the Realm.",
          "type": "string",
          "enum": [
            "IP_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "enumDescriptions": [
            "Unspecified IP version.",
            "IPv4 IP version.",
            "IPv6 IP version."
          ]
        },
        "managementType": {
          "type": "string",
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "CNR",
            "USER"
          ],
          "description": "Optional. Management type of the Realm.",
          "enumDescriptions": [
            "Unspecified management type.",
            "Managed by Cloud Number Registry.",
            "Managed by User."
          ]
        },
        "trafficType": {
          "description": "Required. Traffic type of the Realm.",
          "type": "string",
          "enum": [
            "TRAFFIC_TYPE_UNSPECIFIED",
            "UNSET",
            "INTERNET",
            "PRIVATE",
            "LINKLOCAL"
          ],
          "enumDescriptions": [
            "Unspecified traffic type.",
            "Unset traffic type.",
            "Internet traffic.",
            "Private traffic.",
            "Linklocal traffic."
          ]
        },
        "name": {
          "description": "Required. Identifier. The resource name of the Realm.",
          "type": "string"
        },
        "registryBook": {
          "description": "Required. Name of the RegistryBook that claims the Realm.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the Realm was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CheckAvailabilityIpamAdminScopesResponse": {
      "id": "CheckAvailabilityIpamAdminScopesResponse",
      "properties": {
        "scopeAvailabilities": {
          "items": {
            "$ref": "IpamAdminScopeAvailability"
          },
          "type": "array",
          "description": "The details of the requested scopes."
        }
      },
      "description": "Response message for the CloudNumberRegistry.CheckAvailabilityIpamAdminScopes method.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "ListRegistryBooksResponse": {
      "id": "ListRegistryBooksResponse",
      "description": "Response message for the CloudNumberRegistry.ListRegistryBooks method.",
      "type": "object",
      "properties": {
        "registryBooks": {
          "type": "array",
          "items": {
            "$ref": "RegistryBook"
          },
          "description": "The list of RegistryBook"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "CleanupIpamAdminScopeRequest": {
      "id": "CleanupIpamAdminScopeRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "description": "Request message for the CloudNumberRegistry.CleanupIpamAdminScope method."
    },
    "ListOrgNumberRegistriesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "orgNumberRegistries": {
          "items": {
            "$ref": "OrgNumberRegistry"
          },
          "description": "The list of OrgNumberRegistries.",
          "type": "array"
        }
      },
      "description": "Response message for the CloudNumberRegistry.ListOrgNumberRegistries method.",
      "id": "ListOrgNumberRegistriesResponse"
    },
    "CustomRange": {
      "description": "A CustomRange represents a user-defined IP address range.",
      "properties": {
        "ipv6CidrRange": {
          "description": "Optional. The IPv6 CIDR range of the CustomRange.",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the CustomRange.",
          "type": "string"
        },
        "registryBook": {
          "type": "string",
          "description": "Output only. The RegistryBook of the CustomRange. This field is inherited from the Realm or parent CustomRange depending on which one is specified.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels."
        },
        "ipv4CidrRange": {
          "description": "Optional. The IPv4 CIDR range of the CustomRange.",
          "type": "string"
        },
        "realm": {
          "description": "Optional. The resource name of the Realm associated with the CustomRange, in the format `projects/{project}/locations/{location}/realms/{realm}`. The Realm must be in the same project as the CustomRange. This field must not be set if the `parent_range` field is set, as the Realm will be inherited from the parent CustomRange.",
          "type": "string"
        },
        "parentRange": {
          "type": "string",
          "description": "Optional. The resource name of the parent CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`. If specified, the parent CustomRange must be in the same RegistryBook. This field is mutually exclusive with the `realm` field, as the Realm is inherited from the parent CustomRange."
        },
        "attributes": {
          "type": "array",
          "description": "Optional. The attributes of the CustomRange.",
          "items": {
            "$ref": "Attribute"
          }
        }
      },
      "type": "object",
      "id": "CustomRange"
    },
    "RangeUtilization": {
      "properties": {
        "usage": {
          "type": "number",
          "readOnly": true,
          "format": "double",
          "description": "Output only. The usage of the Range as a percentage. This is marked as optional so that we have presence tracking and API responses show 0.0 instead of NULL."
        },
        "totalConsumed": {
          "readOnly": true,
          "description": "Output only. The total number of IP addresses consumed in the Range.",
          "type": "string"
        },
        "totalProduced": {
          "description": "Output only. The total number of IP addresses produced in the Range.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Utilization metrics for an IP Range, including consumed and produced address counts.",
      "type": "object",
      "id": "RangeUtilization"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      }
    },
    "ScopeInfo": {
      "properties": {
        "name": {
          "description": "Output only. Resource name of the scope, e.g. \"projects/1234567890\".",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Output only. Programmatic string identifier of the scope (e.g. GCP Project ID \"my-project-id\"). Used for API and code logic.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Human-readable display title of the scope shown in Console (e.g. \"My Cloud Project\"). Used for UI display.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of a scope (e.g. project or folder).",
      "id": "ScopeInfo"
    },
    "FindDiscoveredRangeFreeIpRangesResponse": {
      "type": "object",
      "properties": {
        "freeIpCidrRanges": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The free IP CIDR ranges found."
        }
      },
      "description": "Response message for the CloudNumberRegistry.FindDiscoveredRangeFreeIpRanges method.",
      "id": "FindDiscoveredRangeFreeIpRangesResponse"
    },
    "ShowCustomRangeUtilizationResponse": {
      "properties": {
        "rangeUtilization": {
          "description": "The utilization details of the CustomRange.",
          "$ref": "RangeUtilization"
        },
        "customRange": {
          "description": "The CustomRange resource.",
          "$ref": "CustomRange"
        }
      },
      "description": "Response message for the CloudNumberRegistry.ShowCustomRangeUtilization method.",
      "type": "object",
      "id": "ShowCustomRangeUtilizationResponse"
    },
    "OrgNumberRegistry": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the OrgNumberRegistry was created."
        },
        "adminProject": {
          "type": "string",
          "description": "Required. The project that will act as the admin project for CNR resources Format: projects/{project_number} or projects/{project_id}"
        },
        "targetScopes": {
          "description": "Required. The scopes within the organization that the project is able to manage. Currently only organization scope is supported. For example, \"organizations/1234567890\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "labels": {
          "description": "Optional. User-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. The time at which the OrgNumberRegistry was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the OrgNumberRegistry."
        }
      },
      "description": "An OrgNumberRegistry defines a delegation of authority from an organization to a project, allowing the project to manage IP address data within specified scopes of the organization.",
      "type": "object",
      "id": "OrgNumberRegistry"
    },
    "DisableIpamAdminScopeRequest": {
      "type": "object",
      "description": "Request message for the CloudNumberRegistry.DisableIpamAdminScope method.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "DisableIpamAdminScopeRequest"
    },
    "SearchIpResourcesResponse": {
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.SearchIpResources method.",
      "properties": {
        "ranges": {
          "description": "Deprecated: Use results field instead. The list of Ranges matching the search query.",
          "items": {
            "$ref": "Range"
          },
          "deprecated": true,
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "SearchIpResourcesResult"
          },
          "description": "The list of results matching the search query.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SearchIpResourcesResponse"
    },
    "DiscoveredRange": {
      "type": "object",
      "id": "DiscoveredRange",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name of the DiscoveredRange, in the format `projects/{project}/locations/{location}/discoveredRanges/{discovered_range}`."
        },
        "ipv6CidrRange": {
          "type": "string",
          "description": "Optional. The IPv6 CIDR range of the DiscoveredRange."
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "Attribute"
          },
          "description": "Optional. The attributes of the DiscoveredRange."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the DiscoveredRange was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "realm": {
          "type": "string",
          "description": "Optional. The Realm of the DiscoveredRange."
        },
        "childCidrOverlapAllowed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, allows child DiscoveredRanges of this DiscoveredRange to overlap with each other."
        },
        "discoveryMetadata": {
          "readOnly": true,
          "$ref": "DiscoveryMetadata",
          "description": "Output only. Owner metadata for this DiscoveredRange. A unique set of metadata is associated with each DiscoveredRange. If an IP range is shared by multiple resources (e.g., an Address resource and an Instance resource, or multiple ForwardingRules),separate DiscoveredRanges are created, each with a distinct owner. This ensures each DiscoveredRange has its own unique set of attributes, labels, create time and update time."
        },
        "registryBook": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The RegistryBook of the DiscoveredRange."
        },
        "parentRange": {
          "description": "Optional. The resource name of the parent DiscoveredRange, in the format `projects/{project}/locations/{location}/discoveredRanges/{discovered_range}`.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the DiscoveredRange was last updated."
        },
        "ipv4CidrRange": {
          "description": "Optional. The IPv4 CIDR range of the DiscoveredRange.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the DiscoveredRange.",
          "type": "string"
        }
      },
      "description": "A DiscoveredRange represents an IP address range automatically detected by the discovery pipeline."
    },
    "IpamAdminScope": {
      "id": "IpamAdminScope",
      "type": "object",
      "description": "An IpamAdminScope defines the administrative boundary for IP address discovery and management. It configures which platforms and organizational scopes are enabled for IP tracking.",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Administrative scopes enabled for IP address discovery and management. For example, \"organizations/1234567890\". Minimum of 1 scope is required. In preview, only one organization scope is allowed."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the IpamAdminScope was last updated.",
          "format": "google-datetime"
        },
        "enabledAddonPlatforms": {
          "items": {
            "type": "string",
            "enum": [
              "ADD_ON_PLATFORM_UNSPECIFIED",
              "COMPUTE_ENGINE",
              "GCE"
            ],
            "enumDescriptions": [
              "Unspecified add-on platform.",
              "Google Compute Engine.",
              "Deprecated: Use COMPUTE_ENGINE instead."
            ],
            "enumDeprecated": [
              false,
              false,
              true
            ]
          },
          "description": "Required. Add-on platforms that are enabled for this IpamAdminScope. Cloud Number Registry only discovers the IP addresses from the enabled platforms.",
          "type": "array"
        },
        "labels": {
          "description": "Optional. User-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. Identifier. The resource name of the IpamAdminScope.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of resource discovery pipeline.",
          "enum": [
            "DISCOVERY_PIPELINE_STATE_UNSPECIFIED",
            "INTERNAL_FAILURE",
            "FAILED",
            "SETUP_IN_PROGRESS",
            "READY_FOR_USE",
            "DELETING_IN_PROGRESS",
            "UPDATING",
            "RECOVERING",
            "DISABLED",
            "DELETION_COMPLETED",
            "CLEANUP_IN_PROGRESS",
            "READY_FOR_DELETION"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Internal failure.",
            "Failure.",
            "Setup in progress.",
            "Ready for use.",
            "Deleting in progress.",
            "Updating.",
            "Recovering.",
            "Disabled.",
            "Deleting completed.",
            "Cleanup in progress.",
            "Ready for deletion."
          ],
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time at which the IpamAdminScope was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListRealmsResponse": {
      "description": "Response message for the CloudNumberRegistry.ListRealms method.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "realms": {
          "type": "array",
          "description": "The list of Realms.",
          "items": {
            "$ref": "Realm"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "id": "ListRealmsResponse"
    },
    "ListCustomRangesResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "customRanges": {
          "items": {
            "$ref": "CustomRange"
          },
          "type": "array",
          "description": "The list of CustomRanges."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.ListCustomRanges method.",
      "id": "ListCustomRangesResponse"
    },
    "Range": {
      "type": "object",
      "id": "Range",
      "description": "Represents either a CustomRange or a DiscoveredRange.",
      "properties": {
        "customRange": {
          "$ref": "CustomRange",
          "description": "A CustomRange."
        },
        "utilization": {
          "$ref": "RangeUtilization",
          "description": "The utilization of the Range."
        },
        "discoveredRange": {
          "description": "A DiscoveredRange.",
          "$ref": "DiscoveredRange"
        }
      }
    },
    "Attribute": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The key of the attribute."
        },
        "value": {
          "description": "Required. The value of the attribute.",
          "type": "string"
        }
      },
      "id": "Attribute",
      "description": "A key-value pair representing a custom attribute associated with a resource."
    },
    "DiscoveryMetadata": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the resource.",
          "enumDescriptions": [
            "Unspecified state.",
            "The resource is in an invalid state.",
            "The resource exists in the backing store (is not tombstoned or completely missing) and there were no failures reading out the resource level metadata.",
            "Resource does not exist or has been deleted or soft-deleted.",
            "There was an error reading out the resource level metadata."
          ],
          "enum": [
            "RESOURCE_STATE_UNSPECIFIED",
            "INVALID",
            "EXISTS",
            "DOES_NOT_EXIST",
            "ERROR"
          ],
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the resource was created.",
          "type": "string"
        },
        "resourceUri": {
          "readOnly": true,
          "description": "Output only. The resource uri of the discovered resource.",
          "type": "string"
        },
        "sourceSubId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A single source resource can be the source of multiple CNR resources. This sub_id is used to distinguish between the different CNR resources derived from the same upstream resource. For example, a single subnetwork can be the source of multiple Ranges, one for each protocol. In this case, the sub_id could be \"private-ipv4\" or \"private-ipv6\"."
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the discovered resource, should be API-agnostic. Example: \"projects/{project_number}/networks/{network_id}\"."
        },
        "eventTime": {
          "type": "string",
          "description": "Output only. The time when the event happened.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the resource was last modified.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sourceId": {
          "readOnly": true,
          "description": "Output only. The canonical google.aip.dev/122 name of the source resource.",
          "type": "string"
        }
      },
      "id": "DiscoveryMetadata",
      "description": "Metadata about a discovered resource, tracking event times, state, and source information.",
      "type": "object"
    },
    "RealmAggregatedData": {
      "id": "RealmAggregatedData",
      "description": "Aggregated data for the Realm.",
      "type": "object",
      "properties": {
        "discoveredRangesCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of DiscoveredRanges in the Realm.",
          "readOnly": true
        },
        "customRangesCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of CustomRanges in the Realm.",
          "readOnly": true
        }
      }
    },
    "ListDiscoveredRangesResponse": {
      "description": "Response message for the CloudNumberRegistry.ListDiscoveredRanges method.",
      "properties": {
        "discoveredRanges": {
          "items": {
            "$ref": "DiscoveredRange"
          },
          "type": "array",
          "description": "The list of DiscoveredRanges."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListDiscoveredRangesResponse"
    },
    "ListIpamAdminScopesResponse": {
      "properties": {
        "ipamAdminScopes": {
          "type": "array",
          "items": {
            "$ref": "IpamAdminScope"
          },
          "description": "The list of IpamAdminScopes."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListIpamAdminScopesResponse",
      "description": "Response message for the CloudNumberRegistry.ListIpamAdminScopes method.",
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    }
  },
  "version_module": true,
  "documentationLink": "https://docs.cloud.google.com/number-registry/reference/rest",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "customRanges": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the CustomRange resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.customRanges.patch",
                  "description": "Updates the parameters of a single CustomRange.",
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "path": "v1alpha/{+parent}/customRanges",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists CustomRanges in a given project and location.",
                  "id": "cloudnumberregistry.projects.locations.customRanges.list",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "response": {
                    "$ref": "ListCustomRangesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "showUtilization": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.showUtilization",
                  "description": "Gets the details of a single CustomRange and its utilization.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:showUtilization",
                  "response": {
                    "$ref": "ShowCustomRangeUtilizationResponse"
                  },
                  "path": "v1alpha/{+name}:showUtilization",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the CustomRange.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "findFreeIpRanges": {
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}:findFreeIpRanges",
                  "id": "cloudnumberregistry.projects.locations.customRanges.findFreeIpRanges",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:findFreeIpRanges",
                  "response": {
                    "$ref": "FindCustomRangeFreeIpRangesResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Finds free IP ranges in a single CustomRange.",
                  "parameters": {
                    "rangeCount": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The number of free IP ranges to find."
                    },
                    "cidrPrefixLength": {
                      "location": "query",
                      "type": "integer",
                      "description": "Required. The prefix length of the free IP ranges to find.",
                      "format": "int32"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. The resource name of the CustomRange to search within.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name where the CustomRange will be created.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "customRangeId": {
                      "description": "Required. The ID to use for the CustomRange, which will become the final segment of the resource name.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.customRanges.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/customRanges",
                  "description": "Creates a new CustomRange in a given project and location."
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "description": "Required. The resource name of the CustomRange to delete.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single CustomRange.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.delete",
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "description": "Required. The resource name of the CustomRange to retrieve.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details of a single CustomRange.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "response": {
                    "$ref": "CustomRange"
                  },
                  "id": "cloudnumberregistry.projects.locations.customRanges.get",
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "discoveredRanges": {
              "methods": {
                "findFreeIpRanges": {
                  "description": "Finds free IP ranges in a single DiscoveredRange.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.findFreeIpRanges",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}:findFreeIpRanges",
                  "response": {
                    "$ref": "FindDiscoveredRangeFreeIpRangesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}:findFreeIpRanges",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the DiscoveredRange to search within.",
                      "type": "string",
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "rangeCount": {
                      "description": "Optional. The number of free IP ranges to find.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "cidrPrefixLength": {
                      "location": "query",
                      "description": "Required. The prefix length of the free IP ranges to find.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details of a single DiscoveredRange.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}",
                  "response": {
                    "$ref": "DiscoveredRange"
                  },
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the DiscoveredRange to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$"
                    }
                  }
                },
                "list": {
                  "description": "Lists DiscoveredRanges in a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges",
                  "response": {
                    "$ref": "ListDiscoveredRangesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/discoveredRanges",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter expression to filter the results."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.list"
                },
                "showUtilization": {
                  "path": "v1alpha/{+name}:showUtilization",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}:showUtilization",
                  "response": {
                    "$ref": "ShowDiscoveredRangeUtilizationResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.showUtilization",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the DiscoveredRange.",
                      "required": true
                    }
                  },
                  "description": "Gets the details of a single DiscoveredRange and its utilization."
                }
              }
            },
            "realms": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single Realm.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.patch",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "Realm"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifier. The resource name of the Realm.",
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request.",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Realm resource by the update.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+parent}/realms",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Realm"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name where the Realm will be created.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request.",
                      "type": "string",
                      "location": "query"
                    },
                    "realmId": {
                      "type": "string",
                      "description": "Required. The ID to use for the Realm, which will become the final segment of the resource name.",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new Realm in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a single Realm.",
                  "httpMethod": "DELETE",
                  "id": "cloudnumberregistry.projects.locations.realms.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "Required. The resource name of the Realm to delete.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted."
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "description": "Gets details of a single Realm.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "response": {
                    "$ref": "Realm"
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "view": {
                      "location": "query",
                      "enum": [
                        "REALM_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the Realm."
                      ],
                      "description": "Optional. The view of the Realm to retrieve.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The resource name of the Realm to retrieve.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.realms.get"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Realms in a given project and location.",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms",
                  "response": {
                    "$ref": "ListRealmsResponse"
                  },
                  "id": "cloudnumberregistry.projects.locations.realms.list",
                  "path": "v1alpha/{+parent}/realms",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the Realm."
                      ],
                      "location": "query",
                      "enum": [
                        "REALM_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "description": "Optional. The view of the Realm to retrieve."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. Filter expression to filter the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "ipamAdminScopes": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single IpamAdminScope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "IpamAdminScope"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Identifier. The resource name of the IpamAdminScope.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the IpamAdminScope resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query"
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.patch"
                },
                "disable": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the IpamAdminScope to disable.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:disable",
                  "httpMethod": "POST",
                  "description": "Disables a single IpamAdminScope.",
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.disable",
                  "request": {
                    "$ref": "DisableIpamAdminScopeRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}:disable",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "response": {
                    "$ref": "IpamAdminScope"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "description": "Required. The resource name of the IpamAdminScope to retrieve."
                    }
                  },
                  "description": "Gets details of a single IpamAdminScope."
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes",
                  "response": {
                    "$ref": "ListIpamAdminScopesResponse"
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists IpamAdminScopes in a given project and location.",
                  "path": "v1alpha/{+parent}/ipamAdminScopes"
                },
                "checkAvailability": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Checks the availability of IpamAdminScopes in a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes:checkAvailability",
                  "response": {
                    "$ref": "CheckAvailabilityIpamAdminScopesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/ipamAdminScopes:checkAvailability",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`."
                    },
                    "scopes": {
                      "type": "string",
                      "description": "Required. The administrative scopes to check for availability.",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.checkAvailability"
                },
                "create": {
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "ipamAdminScopeId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the IpamAdminScope, which will become the final segment of the resource name."
                    },
                    "parent": {
                      "description": "Required. The parent resource name where the IpamAdminScope will be created.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/ipamAdminScopes",
                  "description": "Creates a new IpamAdminScope in a given project and location.",
                  "request": {
                    "$ref": "IpamAdminScope"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.create",
                  "httpMethod": "POST"
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a single IpamAdminScope.",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.delete",
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the IpamAdminScope to delete.",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  }
                },
                "cleanup": {
                  "path": "v1alpha/{+name}:cleanup",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}:cleanup",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Cleans up a single IpamAdminScope.",
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.cleanup",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the IpamAdminScope to clean up.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CleanupIpamAdminScopeRequest"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "id": "cloudnumberregistry.projects.locations.operations.delete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "cloudnumberregistry.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.operations.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
[...]
