{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "description": "",
  "basePath": "",
  "id": "cloudnumberregistry:v1alpha",
  "canonicalName": "Cloud Number Registry",
  "name": "cloudnumberregistry",
  "baseUrl": "https://cloudnumberregistry.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/number-registry/reference/rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1alpha",
  "schemas": {
    "ShowCustomRangeUtilizationResponse": {
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.ShowCustomRangeUtilization method.",
      "properties": {
        "customRange": {
          "$ref": "CustomRange",
          "description": "The CustomRange resource."
        },
        "rangeUtilization": {
          "description": "The utilization details of the CustomRange.",
          "$ref": "RangeUtilization"
        }
      },
      "id": "ShowCustomRangeUtilizationResponse"
    },
    "DisableIpamAdminScopeRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "Request message for the CloudNumberRegistry.DisableIpamAdminScope method.",
      "type": "object",
      "id": "DisableIpamAdminScopeRequest"
    },
    "DiscoveredRange": {
      "id": "DiscoveredRange",
      "description": "A DiscoveredRange represents an IP address range automatically detected by the discovery pipeline.",
      "type": "object",
      "properties": {
        "parentRange": {
          "description": "Optional. The resource name of the parent DiscoveredRange, in the format `projects/{project}/locations/{location}/discoveredRanges/{discovered_range}`.",
          "type": "string"
        },
        "realm": {
          "description": "Optional. The Realm of the DiscoveredRange.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name of the DiscoveredRange, in the format `projects/{project}/locations/{location}/discoveredRanges/{discovered_range}`."
        },
        "attributes": {
          "items": {
            "$ref": "Attribute"
          },
          "type": "array",
          "description": "Optional. The attributes of the DiscoveredRange."
        },
        "ipv6CidrRange": {
          "type": "string",
          "description": "Optional. The IPv6 CIDR range of the DiscoveredRange."
        },
        "childCidrOverlapAllowed": {
          "readOnly": true,
          "description": "Output only. If true, allows child DiscoveredRanges of this DiscoveredRange to overlap with each other.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the DiscoveredRange was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which the DiscoveredRange was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "registryBook": {
          "description": "Output only. The RegistryBook of the DiscoveredRange.",
          "readOnly": true,
          "type": "string"
        },
        "discoveryMetadata": {
          "readOnly": true,
          "description": "Output only. Owner metadata for this DiscoveredRange. A unique set of metadata is associated with each DiscoveredRange. If an IP range is shared by multiple resources (e.g., an Address resource and an Instance resource, or multiple ForwardingRules),separate DiscoveredRanges are created, each with a distinct owner. This ensures each DiscoveredRange has its own unique set of attributes, labels, create time and update time.",
          "$ref": "DiscoveryMetadata"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the DiscoveredRange."
        },
        "ipv4CidrRange": {
          "description": "Optional. The IPv4 CIDR range of the DiscoveredRange.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "AggregatedData": {
      "type": "object",
      "id": "AggregatedData",
      "properties": {
        "uniqueScopesCount": {
          "description": "Output only. Number of scopes unique to the RegistryBook.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "customRealmsCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of custom Realms in the RegistryBook."
        },
        "discoveredRangesCount": {
          "format": "int32",
          "description": "Output only. Number of DiscoveredRanges in the RegistryBook.",
          "type": "integer",
          "readOnly": true
        },
        "discoveredRealmsCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of discovered Realms in the RegistryBook.",
          "format": "int32"
        },
        "customRangesCount": {
          "description": "Output only. Number of CustomRanges in the RegistryBook.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Aggregated data for the RegistryBook."
    },
    "ListIpamAdminScopesResponse": {
      "description": "Response message for the CloudNumberRegistry.ListIpamAdminScopes method.",
      "type": "object",
      "id": "ListIpamAdminScopesResponse",
      "properties": {
        "ipamAdminScopes": {
          "type": "array",
          "description": "The list of IpamAdminScopes.",
          "items": {
            "$ref": "IpamAdminScope"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SearchIpResourcesResult": {
      "description": "A result matching the search query, which can be either a Range or a Realm.",
      "properties": {
        "range": {
          "description": "A Range matching the search query.",
          "$ref": "Range"
        },
        "realm": {
          "$ref": "Realm",
          "description": "A Realm matching the search query."
        }
      },
      "type": "object",
      "id": "SearchIpResourcesResult"
    },
    "SearchIpResourcesResponse": {
      "description": "Response message for the CloudNumberRegistry.SearchIpResources method.",
      "id": "SearchIpResourcesResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ranges": {
          "items": {
            "$ref": "Range"
          },
          "description": "Deprecated: Use results field instead. The list of Ranges matching the search query.",
          "type": "array",
          "deprecated": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "results": {
          "type": "array",
          "description": "The list of results matching the search query.",
          "items": {
            "$ref": "SearchIpResourcesResult"
          }
        }
      },
      "type": "object"
    },
    "ListOrgNumberRegistriesResponse": {
      "description": "Response message for the CloudNumberRegistry.ListOrgNumberRegistries method.",
      "type": "object",
      "id": "ListOrgNumberRegistriesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "orgNumberRegistries": {
          "type": "array",
          "items": {
            "$ref": "OrgNumberRegistry"
          },
          "description": "The list of OrgNumberRegistries."
        }
      }
    },
    "CheckAvailabilityIpamAdminScopesResponse": {
      "id": "CheckAvailabilityIpamAdminScopesResponse",
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.CheckAvailabilityIpamAdminScopes method.",
      "properties": {
        "scopeAvailabilities": {
          "description": "The details of the requested scopes.",
          "type": "array",
          "items": {
            "$ref": "IpamAdminScopeAvailability"
          }
        }
      }
    },
    "IpamAdminScopeAvailability": {
      "properties": {
        "scope": {
          "type": "string",
          "description": "The scope of the IpamAdminScope."
        },
        "availability": {
          "enumDescriptions": [
            "Unspecified availability.",
            "The scope is available.",
            "The scope is not available."
          ],
          "description": "The availability of the scope.",
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "UNAVAILABLE"
          ],
          "type": "string"
        },
        "adminProject": {
          "description": "The admin project of the IpamAdminScope if it exists.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "IpamAdminScopeAvailability",
      "type": "object",
      "description": "Availability details for a specific IpamAdminScope."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListCustomRangesResponse": {
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.ListCustomRanges method.",
      "id": "ListCustomRangesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "customRanges": {
          "items": {
            "$ref": "CustomRange"
          },
          "description": "The list of CustomRanges.",
          "type": "array"
        }
      }
    },
    "ScopeInfo": {
      "id": "ScopeInfo",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Programmatic string identifier of the scope (e.g. GCP Project ID \"my-project-id\"). Used for API and code logic."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the scope, e.g. \"projects/1234567890\".",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Human-readable display title of the scope shown in Console (e.g. \"My Cloud Project\"). Used for UI display.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Details of a scope (e.g. project or folder)."
    },
    "SearchIpResourcesRequest": {
      "id": "SearchIpResourcesRequest",
      "properties": {
        "query": {
          "type": "string",
          "description": "Optional. Search query. This string filters resources in an AIP-160-like format. It has some limitations. You can only specify top level conjunctions or attribute level negations. Each restriction can only be used once except the attribute restriction. The available restrictions for Ranges are: - `resource_id`: The resource ID to search for within Ranges (only substring matching using the format `resource_id=\"*value*\"` is supported). - `realm`: The Realm name to search in. - `ip_address`: The IP address to search for within Ranges. - `ip_version`: The IP version to filter by (e.g., \"IPV4\", \"IPV6\"). - `parent_range`: The parent Range of the Range to search for. - `attribute_text`: The attribute text to search for within Ranges. - `attribute`: The attribute key and value to filter by. The available restrictions for Realms are: - `ip_version`: The IP version to search for. - `management_type`: The management type of the Realm (e.g., \"CNR\", \"USER\"). Only one of attribute_text or multiple attribute filters can be specified. Examples: - `realm=test-realm` - `realm=test-realm AND ip_address=10.0.0.0` - `realm=test-realm AND ip_version=IPV6` - `realm=test-realm AND resource_id=\"*my-range*\"` - `realm=test-realm AND attribute_text=test` - `ip_address=10.0.0.0 AND attribute:(key1=value1) AND attribute:(key2=value2)` - `attribute_text=test AND parent_range=projects/123/locations/global/discoveredRanges/test-parent-range` - `management_type=CNR`"
        },
        "orderBy": {
          "type": "string",
          "description": "Optional. Hint for how to order the results. Supported sort fields are: - `name`: Sort alphabetically by the resource name. - `create_time`: Sort by the creation timestamp of the resource. - `update_time`: Sort by the last update timestamp of the resource. Supported directions are `asc` (ascending) and `desc` (descending). If unspecified, direction defaults to `asc`. Only sorting by a single field is supported."
        },
        "searchResourceTypes": {
          "description": "Optional. The type of resources to search for. If not specified, the server will return Ranges.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified search type.",
              "Search for Ranges.",
              "Search for Realms."
            ],
            "enum": [
              "SEARCH_RESOURCE_TYPE_UNSPECIFIED",
              "RANGES",
              "REALMS"
            ]
          }
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A token identifying a page of results the server should return."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
          "type": "integer"
        },
        "showUtilization": {
          "type": "boolean",
          "description": "Optional. Whether to show the utilization of the Ranges in the response."
        }
      },
      "description": "Request message for the CloudNumberRegistry.SearchIpResources method.",
      "type": "object"
    },
    "RegistryBook": {
      "id": "RegistryBook",
      "description": "A RegistryBook organizes and manages IP address space. It claims specific scopes (such as projects) and groups related Realms and Ranges.",
      "properties": {
        "name": {
          "description": "Required. Identifier. The resource name of the RegistryBook.",
          "type": "string"
        },
        "claimedScopes": {
          "description": "Optional. List of scopes claimed by the RegistryBook. In Preview, Only project scope is supported. Each scope is in the format of projects/{project}. Each scope can only be claimed once.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "aggregatedData": {
          "description": "Output only. Aggregated data for the RegistryBook. Populated only when the view is AGGREGATE.",
          "$ref": "AggregatedData",
          "readOnly": true
        },
        "isDefault": {
          "readOnly": true,
          "description": "Output only. Whether the RegistryBook is the default one.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "claimedScopesInfo": {
          "items": {
            "$ref": "ScopeInfo"
          },
          "description": "Output only. Detailed scope information corresponding to each entry in `claimed_scopes`.",
          "type": "array",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the RegistryBook was created.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the RegistryBook was last updated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListRealmsResponse": {
      "id": "ListRealmsResponse",
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.ListRealms method.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "realms": {
          "items": {
            "$ref": "Realm"
          },
          "description": "The list of Realms.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListDiscoveredRangesResponse": {
      "type": "object",
      "id": "ListDiscoveredRangesResponse",
      "description": "Response message for the CloudNumberRegistry.ListDiscoveredRanges method.",
      "properties": {
        "discoveredRanges": {
          "type": "array",
          "items": {
            "$ref": "DiscoveredRange"
          },
          "description": "The list of DiscoveredRanges."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "OrgNumberRegistry": {
      "type": "object",
      "description": "An OrgNumberRegistry defines a delegation of authority from an organization to a project, allowing the project to manage IP address data within specified scopes of the organization.",
      "id": "OrgNumberRegistry",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the OrgNumberRegistry was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time at which the OrgNumberRegistry was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The scopes within the organization that the project is able to manage. Currently only organization scope is supported. For example, \"organizations/1234567890\"."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the OrgNumberRegistry."
        },
        "adminProject": {
          "description": "Required. The project that will act as the admin project for CNR resources Format: projects/{project_number} or projects/{project_id}",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "ShowDiscoveredRangeUtilizationResponse": {
      "id": "ShowDiscoveredRangeUtilizationResponse",
      "type": "object",
      "properties": {
        "discoveredRange": {
          "description": "The DiscoveredRange resource.",
          "$ref": "DiscoveredRange"
        },
        "rangeUtilization": {
          "description": "The utilization details of the DiscoveredRange.",
          "$ref": "RangeUtilization"
        }
      },
      "description": "Response message for the CloudNumberRegistry.ShowDiscoveredRangeUtilization method."
    },
    "Range": {
      "type": "object",
      "description": "Represents either a CustomRange or a DiscoveredRange.",
      "id": "Range",
      "properties": {
        "utilization": {
          "description": "The utilization of the Range.",
          "$ref": "RangeUtilization"
        },
        "customRange": {
          "description": "A CustomRange.",
          "$ref": "CustomRange"
        },
        "discoveredRange": {
          "$ref": "DiscoveredRange",
          "description": "A DiscoveredRange."
        }
      }
    },
    "ListRegistryBooksResponse": {
      "properties": {
        "registryBooks": {
          "items": {
            "$ref": "RegistryBook"
          },
          "description": "The list of RegistryBook",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "description": "Response message for the CloudNumberRegistry.ListRegistryBooks method.",
      "id": "ListRegistryBooksResponse"
    },
    "Realm": {
      "type": "object",
      "properties": {
        "aggregatedData": {
          "description": "Output only. Aggregated data for the Realm. Populated only when the view is AGGREGATE.",
          "readOnly": true,
          "$ref": "RealmAggregatedData"
        },
        "discoveryMetadata": {
          "readOnly": true,
          "description": "Output only. Discovery metadata of the Realm.",
          "$ref": "DiscoveryMetadata"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined labels."
        },
        "name": {
          "description": "Required. Identifier. The resource name of the Realm.",
          "type": "string"
        },
        "registryBook": {
          "description": "Required. Name of the RegistryBook that claims the Realm.",
          "type": "string"
        },
        "trafficType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified traffic type.",
            "Unset traffic type.",
            "Internet traffic.",
            "Private traffic.",
            "Linklocal traffic."
          ],
          "description": "Required. Traffic type of the Realm.",
          "enum": [
            "TRAFFIC_TYPE_UNSPECIFIED",
            "UNSET",
            "INTERNET",
            "PRIVATE",
            "LINKLOCAL"
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the Realm was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the Realm was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "ipVersion": {
          "type": "string",
          "enum": [
            "IP_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "enumDescriptions": [
            "Unspecified IP version.",
            "IPv4 IP version.",
            "IPv6 IP version."
          ],
          "description": "Optional. IP version of the Realm."
        },
        "managementType": {
          "description": "Optional. Management type of the Realm.",
          "enumDescriptions": [
            "Unspecified management type.",
            "Managed by Cloud Number Registry.",
            "Managed by User."
          ],
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "CNR",
            "USER"
          ],
          "type": "string"
        }
      },
      "description": "A Realm represents a distinct network domain or security zone. It groups Ranges that share the same traffic and management characteristics. All the ranges in a Realm are routable to each other, meaning that they cannot overlap.",
      "id": "Realm"
    },
    "CleanupIpamAdminScopeRequest": {
      "description": "Request message for the CloudNumberRegistry.CleanupIpamAdminScope method.",
      "type": "object",
      "id": "CleanupIpamAdminScopeRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "Attribute": {
      "properties": {
        "key": {
          "description": "Required. The key of the attribute.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the attribute.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A key-value pair representing a custom attribute associated with a resource.",
      "id": "Attribute"
    },
    "RangeUtilization": {
      "type": "object",
      "description": "Utilization metrics for an IP Range, including consumed and produced address counts.",
      "id": "RangeUtilization",
      "properties": {
        "totalProduced": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The total number of IP addresses produced in the Range."
        },
        "usage": {
          "type": "number",
          "readOnly": true,
          "format": "double",
          "description": "Output only. The usage of the Range as a percentage. This is marked as optional so that we have presence tracking and API responses show 0.0 instead of NULL."
        },
        "totalConsumed": {
          "readOnly": true,
          "description": "Output only. The total number of IP addresses consumed in the Range.",
          "type": "string"
        }
      }
    },
    "IpamAdminScope": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the IpamAdminScope was created.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the IpamAdminScope was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name of the IpamAdminScope."
        },
        "state": {
          "enum": [
            "DISCOVERY_PIPELINE_STATE_UNSPECIFIED",
            "INTERNAL_FAILURE",
            "FAILED",
            "SETUP_IN_PROGRESS",
            "READY_FOR_USE",
            "DELETING_IN_PROGRESS",
            "UPDATING",
            "RECOVERING",
            "DISABLED",
            "DELETION_COMPLETED",
            "CLEANUP_IN_PROGRESS",
            "READY_FOR_DELETION"
          ],
          "description": "Output only. State of resource discovery pipeline.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Internal failure.",
            "Failure.",
            "Setup in progress.",
            "Ready for use.",
            "Deleting in progress.",
            "Updating.",
            "Recovering.",
            "Disabled.",
            "Deleting completed.",
            "Cleanup in progress.",
            "Ready for deletion."
          ],
          "readOnly": true
        },
        "scopes": {
          "description": "Required. Administrative scopes enabled for IP address discovery and management. For example, \"organizations/1234567890\". Minimum of 1 scope is required. In preview, only one organization scope is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined labels."
        },
        "enabledAddonPlatforms": {
          "items": {
            "enum": [
              "ADD_ON_PLATFORM_UNSPECIFIED",
              "COMPUTE_ENGINE",
              "GCE"
            ],
            "enumDeprecated": [
              false,
              false,
              true
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified add-on platform.",
              "Google Compute Engine.",
              "Deprecated: Use COMPUTE_ENGINE instead."
            ]
          },
          "description": "Required. Add-on platforms that are enabled for this IpamAdminScope. Cloud Number Registry only discovers the IP addresses from the enabled platforms.",
          "type": "array"
        }
      },
      "id": "IpamAdminScope",
      "type": "object",
      "description": "An IpamAdminScope defines the administrative boundary for IP address discovery and management. It configures which platforms and organizational scopes are enabled for IP tracking."
    },
    "DiscoveryMetadata": {
      "id": "DiscoveryMetadata",
      "description": "Metadata about a discovered resource, tracking event times, state, and source information.",
      "properties": {
        "resourceUri": {
          "description": "Output only. The resource uri of the discovered resource.",
          "readOnly": true,
          "type": "string"
        },
        "sourceId": {
          "description": "Output only. The canonical google.aip.dev/122 name of the source resource.",
          "type": "string",
          "readOnly": true
        },
        "sourceSubId": {
          "description": "Output only. A single source resource can be the source of multiple CNR resources. This sub_id is used to distinguish between the different CNR resources derived from the same upstream resource. For example, a single subnetwork can be the source of multiple Ranges, one for each protocol. In this case, the sub_id could be \"private-ipv4\" or \"private-ipv6\".",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "description": "Output only. The resource name of the discovered resource, should be API-agnostic. Example: \"projects/{project_number}/networks/{network_id}\".",
          "readOnly": true
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the event happened.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the resource was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the resource was last modified.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the resource.",
          "enum": [
            "RESOURCE_STATE_UNSPECIFIED",
            "INVALID",
            "EXISTS",
            "DOES_NOT_EXIST",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The resource is in an invalid state.",
            "The resource exists in the backing store (is not tombstoned or completely missing) and there were no failures reading out the resource level metadata.",
            "Resource does not exist or has been deleted or soft-deleted.",
            "There was an error reading out the resource level metadata."
          ]
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      }
    },
    "FindDiscoveredRangeFreeIpRangesResponse": {
      "type": "object",
      "properties": {
        "freeIpCidrRanges": {
          "type": "array",
          "description": "Output only. The free IP CIDR ranges found.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for the CloudNumberRegistry.FindDiscoveredRangeFreeIpRanges method.",
      "id": "FindDiscoveredRangeFreeIpRangesResponse"
    },
    "RealmAggregatedData": {
      "type": "object",
      "description": "Aggregated data for the Realm.",
      "id": "RealmAggregatedData",
      "properties": {
        "customRangesCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of CustomRanges in the Realm.",
          "format": "int32"
        },
        "discoveredRangesCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of DiscoveredRanges in the Realm."
        }
      }
    },
    "FindCustomRangeFreeIpRangesResponse": {
      "id": "FindCustomRangeFreeIpRangesResponse",
      "description": "Response message for the CloudNumberRegistry.FindCustomRangeFreeIpRanges method.",
      "properties": {
        "freeIpCidrRanges": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The free IP CIDR ranges found."
        }
      },
      "type": "object"
    },
    "CustomRange": {
      "properties": {
        "attributes": {
          "items": {
            "$ref": "Attribute"
          },
          "type": "array",
          "description": "Optional. The attributes of the CustomRange."
        },
        "realm": {
          "type": "string",
          "description": "Optional. The resource name of the Realm associated with the CustomRange, in the format `projects/{project}/locations/{location}/realms/{realm}`. The Realm must be in the same project as the CustomRange. This field must not be set if the `parent_range` field is set, as the Realm will be inherited from the parent CustomRange."
        },
        "name": {
          "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`.",
          "type": "string"
        },
        "parentRange": {
          "type": "string",
          "description": "Optional. The resource name of the parent CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`. If specified, the parent CustomRange must be in the same RegistryBook. This field is mutually exclusive with the `realm` field, as the Realm is inherited from the parent CustomRange."
        },
        "registryBook": {
          "readOnly": true,
          "description": "Output only. The RegistryBook of the CustomRange. This field is inherited from the Realm or parent CustomRange depending on which one is specified.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined labels."
        },
        "ipv6CidrRange": {
          "description": "Optional. The IPv6 CIDR range of the CustomRange.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the CustomRange.",
          "type": "string"
        },
        "ipv4CidrRange": {
          "description": "Optional. The IPv4 CIDR range of the CustomRange.",
          "type": "string"
        }
      },
      "id": "CustomRange",
      "type": "object",
      "description": "A CustomRange represents a user-defined IP address range."
    }
  },
  "rootUrl": "https://cloudnumberregistry.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "cloudnumberregistry.projects.locations.list",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                }
              }
            },
            "get": {
              "path": "v1alpha/{+name}",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "id": "cloudnumberregistry.projects.locations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "customRanges": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "parameters": {
                    "customRangeId": {
                      "location": "query",
                      "description": "Required. The ID to use for the CustomRange, which will become the final segment of the resource name.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name where the CustomRange will be created."
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "path": "v1alpha/{+parent}/customRanges",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new CustomRange in a given project and location."
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "id": "cloudnumberregistry.projects.locations.customRanges.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single CustomRange.",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the CustomRange to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "type": "boolean"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "httpMethod": "DELETE"
                },
                "showUtilization": {
                  "id": "cloudnumberregistry.projects.locations.customRanges.showUtilization",
                  "path": "v1alpha/{+name}:showUtilization",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the details of a single CustomRange and its utilization.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:showUtilization",
                  "response": {
                    "$ref": "ShowCustomRangeUtilizationResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the CustomRange.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the CustomRange to retrieve.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CustomRange"
                  },
                  "path": "v1alpha/{+name}",
                  "id": "cloudnumberregistry.projects.locations.customRanges.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single CustomRange."
                },
                "findFreeIpRanges": {
                  "id": "cloudnumberregistry.projects.locations.customRanges.findFreeIpRanges",
                  "parameters": {
                    "rangeCount": {
                      "type": "integer",
                      "description": "Optional. The number of free IP ranges to find.",
                      "location": "query",
                      "format": "int32"
                    },
                    "name": {
                      "description": "Required. The resource name of the CustomRange to search within.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "cidrPrefixLength": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Required. The prefix length of the free IP ranges to find."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "FindCustomRangeFreeIpRangesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:findFreeIpRanges",
                  "path": "v1alpha/{+name}:findFreeIpRanges",
                  "description": "Finds free IP ranges in a single CustomRange."
                },
                "patch": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "id": "cloudnumberregistry.projects.locations.customRanges.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single CustomRange.",
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the CustomRange resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH"
                },
                "list": {
                  "description": "Lists CustomRanges in a given project and location.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "path": "v1alpha/{+parent}/customRanges",
                  "response": {
                    "$ref": "ListCustomRangesResponse"
                  }
                }
              }
            },
            "realms": {
              "methods": {
                "get": {
                  "description": "Gets details of a single Realm.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Realm to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "view": {
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the Realm."
                      ],
                      "description": "Optional. The view of the Realm to retrieve.",
                      "location": "query",
                      "enum": [
                        "REALM_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.get",
                  "response": {
                    "$ref": "Realm"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "path": "v1alpha/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.list",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms",
                  "path": "v1alpha/{+parent}/realms",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to filter the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "view": {
                      "location": "query",
                      "description": "Optional. The view of the Realm to retrieve.",
                      "enum": [
                        "REALM_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the Realm."
                      ]
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results."
                    }
                  },
                  "response": {
                    "$ref": "ListRealmsResponse"
                  },
                  "description": "Lists Realms in a given project and location."
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms",
                  "request": {
                    "$ref": "Realm"
                  },
                  "parameters": {
                    "realmId": {
                      "description": "Required. The ID to use for the Realm, which will become the final segment of the resource name.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name where the Realm will be created.",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new Realm in a given project and location.",
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/realms",
                  "id": "cloudnumberregistry.projects.locations.realms.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, all associated resources will be deleted.",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the Realm to delete.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "description": "Deletes a single Realm.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "id": "cloudnumberregistry.projects.locations.realms.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "path": "v1alpha/{+name}",
                  "id": "cloudnumberregistry.projects.locations.realms.patch",
                  "description": "Updates the parameters of a single Realm.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Realm"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Realm resource by the update."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "Required. Identifier. The resource name of the Realm."
                    }
                  },
                  "httpMethod": "PATCH"
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "cloudnumberregistry.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE"
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.operations.list",
                  "path": "v1alpha/{+name}/operations",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "cloudnumberregistry.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "path": "v1alpha/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "cloudnumberregistry.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "registryBooks": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets details of a single RegistryBook.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the RegistryBook to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "type": "string"
                    },
                    "view": {
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "type": "string",
                      "description": "Optional. The view of the RegistryBook to retrieve.",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "response": {
                    "$ref": "RegistryBook"
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "searchIpResources": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "description": "Required. The resource name of the RegistryBook to search in."
                    }
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.searchIpResources",
                  "description": "Searches IP resources in a given RegistryBook.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}:searchIpResources",
                  "response": {
                    "$ref": "SearchIpResourcesResponse"
                  },
                  "request": {
                    "$ref": "SearchIpResourcesRequest"
                  },
                  "path": "v1alpha/{+name}:searchIpResources"
                },
                "create": {
                  "description": "Creates a new RegistryBook in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "registryBookId": {
                      "location": "query",
                      "description": "Required. The ID to use for the RegistryBook, which will become the final segment of the resource name.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name where the RegistryBook will be created.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/registryBooks",
                  "id": "cloudnumberregistry.projects.locations.registryBooks.create",
                  "request": {
                    "$ref": "RegistryBook"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a single RegistryBook.",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted."
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the RegistryBook to delete.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.delete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "id": "cloudnumberregistry.projects.locations.registryBooks.patch",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "description": "Required. Identifier. The resource name of the RegistryBook."
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the RegistryBook resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "RegistryBook"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single RegistryBook.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/registryBooks",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter expression to filter the results."
                    },
                    "view": {
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "type": "string",
                      "description": "Optional. The view of the RegistryBook to retrieve.",
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ]
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListRegistryBooksResponse"
                  },
                  "description": "Lists RegistryBooks in a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "id": "cloudnumberregistry.projects.locations.registryBooks.list"
                }
              }
            },
            "ipamAdminScopes": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
[...]
