{
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "servicePath": "",
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "protocol": "rest",
  "title": "Cloud Controls Partner API",
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "batchPath": "batch",
  "schemas": {
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Gcloud": {
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "properties": {
        "steps": {
          "description": "Steps to resolve violation via gcloud cli",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "gcloudCommands": {
          "type": "array",
          "description": "Gcloud command to resolve violation",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "type": "array",
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Gcloud"
    },
    "Instructions": {
      "type": "object",
      "id": "Instructions",
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "Gcloud"
        },
        "consoleInstructions": {
          "$ref": "Console",
          "description": "Remediation instructions to resolve violation via cloud console"
        }
      },
      "description": "Instructions to remediate violation"
    },
    "WorkloadOnboardingStep": {
      "type": "object",
      "id": "WorkloadOnboardingStep",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The starting time of the onboarding step.",
          "format": "google-datetime"
        },
        "step": {
          "type": "string",
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ],
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ],
          "description": "The onboarding step."
        },
        "completionTime": {
          "description": "The completion time of the onboarding step.",
          "type": "string",
          "format": "google-datetime"
        },
        "completionState": {
          "type": "string",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "description": "Output only. The completion state of the onboarding step.",
          "readOnly": true
        }
      },
      "description": "Container for workload onboarding information."
    },
    "Violation": {
      "id": "Violation",
      "description": "Details of resource Violation",
      "type": "object",
      "properties": {
        "resolveTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty."
        },
        "state": {
          "description": "Output only. State of the violation",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ]
        },
        "folderId": {
          "type": "string",
          "description": "The folder_id of the violation",
          "format": "int64"
        },
        "beginTime": {
          "readOnly": true,
          "description": "Output only. Time of the event which triggered the Violation.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
          "type": "string"
        },
        "nonCompliantOrgPolicy": {
          "readOnly": true,
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`",
          "type": "string"
        },
        "category": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc."
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "$ref": "Remediation",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last time when the Violation record was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value."
        }
      }
    },
    "ListViolationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "violations": {
          "description": "List of violation",
          "type": "array",
          "items": {
            "$ref": "Violation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for list customer violation requests",
      "id": "ListViolationsResponse"
    },
    "PartnerPermissions": {
      "id": "PartnerPermissions",
      "type": "object",
      "description": "The permissions granted to the partner for a workload",
      "properties": {
        "partnerPermissions": {
          "items": {
            "type": "string",
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ],
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ]
          },
          "description": "The partner permissions granted for the workload",
          "type": "array"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
          "type": "string"
        }
      }
    },
    "Partner": {
      "type": "object",
      "id": "Partner",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last time the resource was updated",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\""
        },
        "skus": {
          "type": "array",
          "description": "List of SKUs the partner is offering",
          "items": {
            "$ref": "Sku"
          }
        },
        "operatedCloudRegions": {
          "items": {
            "type": "string"
          },
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time the resource was created",
          "readOnly": true,
          "format": "google-datetime"
        },
        "ekmSolutions": {
          "type": "array",
          "items": {
            "$ref": "EkmMetadata"
          },
          "description": "List of Google Cloud supported EKM partners supported by the partner"
        },
        "partnerProjectId": {
          "type": "string",
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners."
        }
      },
      "description": "Message describing Partner resource"
    },
    "Console": {
      "properties": {
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "consoleUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Link to console page where violations can be resolved"
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Console",
      "type": "object",
      "description": "Remediation instructions to resolve violation via cloud console"
    },
    "Customer": {
      "id": "Customer",
      "description": "Contains metadata around a Cloud Controls Partner Customer",
      "properties": {
        "isOnboarded": {
          "readOnly": true,
          "description": "Output only. Indicates whether a customer is fully onboarded",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`"
        },
        "organizationDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\""
        },
        "displayName": {
          "description": "Required. Display name for the customer",
          "type": "string"
        },
        "customerOnboardingState": {
          "readOnly": true,
          "$ref": "CustomerOnboardingState",
          "description": "Output only. Container for customer onboarding steps"
        }
      },
      "type": "object"
    },
    "AccessApprovalRequest": {
      "properties": {
        "requestTime": {
          "type": "string",
          "description": "The time at which approval was requested.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`",
          "type": "string"
        },
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "requestedExpirationTime": {
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Details about the Access request.",
      "type": "object",
      "id": "AccessApprovalRequest"
    },
    "CustomerOnboardingState": {
      "description": "Container for customer onboarding steps",
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "type": "array",
          "items": {
            "$ref": "CustomerOnboardingStep"
          },
          "description": "List of customer onboarding steps"
        }
      },
      "id": "CustomerOnboardingState"
    },
    "EkmMetadata": {
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads.",
      "properties": {
        "ekmSolution": {
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ],
          "type": "string",
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ],
          "description": "The Cloud EKM partner.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ]
        },
        "ekmEndpointUri": {
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation.",
          "type": "string"
        }
      },
      "id": "EkmMetadata",
      "type": "object"
    },
    "ListWorkloadsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "workloads": {
          "type": "array",
          "items": {
            "$ref": "Workload"
          },
          "description": "List of customer workloads"
        }
      },
      "id": "ListWorkloadsResponse",
      "type": "object",
      "description": "Response message for list customer workloads requests."
    },
    "ListCustomersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "customers": {
          "description": "List of customers",
          "type": "array",
          "items": {
            "$ref": "Customer"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for list customer Customers requests",
      "id": "ListCustomersResponse"
    },
    "EkmConnections": {
      "id": "EkmConnections",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`"
        },
        "ekmConnections": {
          "description": "The EKM connections associated with the workload",
          "type": "array",
          "items": {
            "$ref": "EkmConnection"
          }
        }
      },
      "description": "The EKM connections associated with a workload"
    },
    "Remediation": {
      "type": "object",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "id": "Remediation",
      "properties": {
        "compliantValues": {
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "Instructions"
        },
        "remediationType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ],
          "type": "string",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "description": "Output only. Remediation type based on the type of org policy values violated"
        }
      }
    },
    "ListAccessApprovalRequestsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accessApprovalRequests": {
          "type": "array",
          "items": {
            "$ref": "AccessApprovalRequest"
          },
          "description": "List of access approval requests"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListAccessApprovalRequestsResponse",
      "type": "object",
      "description": "Response message for list access requests."
    },
    "Sku": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions."
        },
        "id": {
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services.",
          "type": "string"
        }
      },
      "id": "Sku",
      "type": "object",
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers."
    },
    "CustomerOnboardingStep": {
      "description": "Container for customer onboarding information",
      "type": "object",
      "properties": {
        "step": {
          "type": "string",
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ],
          "description": "The onboarding step",
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The starting time of the onboarding step"
        },
        "completionState": {
          "description": "Output only. Current state of the step",
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "type": "string",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "readOnly": true
        },
        "completionTime": {
          "type": "string",
          "description": "The completion time of the onboarding step",
          "format": "google-datetime"
        }
      },
      "id": "CustomerOnboardingStep"
    },
    "Workload": {
      "id": "Workload",
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API.",
      "properties": {
        "workloadOnboardingState": {
          "$ref": "WorkloadOnboardingState",
          "description": "Container for workload onboarding steps."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "partner": {
          "description": "Partner associated with this workload.",
          "type": "string",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ]
        },
        "location": {
          "description": "The Google Cloud location of the workload",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
          "type": "string"
        },
        "isOnboarded": {
          "type": "boolean",
          "description": "Indicates whether a workload is fully onboarded."
        },
        "folderId": {
          "readOnly": true,
          "description": "Output only. Folder id this workload is associated with",
          "format": "int64",
          "type": "string"
        },
        "folder": {
          "description": "Output only. The name of container folder of the assured workload",
          "readOnly": true,
          "type": "string"
        },
        "keyManagementProjectId": {
          "type": "string",
          "description": "The project id of the key management project for the workload"
        }
      },
      "type": "object"
    },
    "AccessReason": {
      "id": "AccessReason",
      "properties": {
        "detail": {
          "description": "More detail about certain reason types. See comments for each type above.",
          "type": "string"
        },
        "type": {
          "description": "Type of access justification.",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ]
        }
      },
      "description": "Reason for the access.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "ConnectionError": {
      "properties": {
        "errorDomain": {
          "description": "The error domain for the error",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message for the error"
        }
      },
      "id": "ConnectionError",
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified",
      "type": "object"
    },
    "EkmConnection": {
      "properties": {
        "connectionError": {
          "description": "The connection error that occurred if any",
          "$ref": "ConnectionError"
        },
        "connectionName": {
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}",
          "type": "string"
        },
        "connectionState": {
          "readOnly": true,
          "description": "Output only. The connection state",
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ],
          "type": "string",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ]
        }
      },
      "description": "Details about the EKM connection",
      "id": "EkmConnection",
      "type": "object"
    },
    "WorkloadOnboardingState": {
      "id": "WorkloadOnboardingState",
      "type": "object",
      "properties": {
        "onboardingSteps": {
          "description": "List of workload onboarding steps.",
          "type": "array",
          "items": {
            "$ref": "WorkloadOnboardingStep"
          }
        }
      },
      "description": "Container for workload onboarding steps."
    }
  },
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/",
  "ownerDomain": "google.com",
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "customers": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "customerId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id."
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+parent}/customers",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "response": {
                    "$ref": "Customer"
                  },
                  "description": "Creates a new customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Customer"
                  },
                  "id": "cloudcontrolspartner.organizations.locations.customers.create"
                },
                "delete": {
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "httpMethod": "DELETE",
                  "description": "Delete details of a single customer",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                    }
                  }
                },
                "patch": {
                  "description": "Update details of a single customer",
                  "request": {
                    "$ref": "Customer"
                  },
                  "path": "v1beta/{+name}",
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "response": {
                    "$ref": "Customer"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The list of fields to update",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "response": {
                    "$ref": "Customer"
                  },
                  "id": "cloudcontrolspartner.organizations.locations.customers.get",
                  "description": "Gets details of a single customer",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`"
                    }
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "parent": {
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page."
                    }
                  },
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "response": {
                    "$ref": "ListCustomersResponse"
                  },
                  "path": "v1beta/{+parent}/customers"
                }
              },
              "resources": {
                "workloads": {
                  "resources": {
                    "accessApprovalRequests": {
                      "deprecated": true,
                      "methods": {
                        "list": {
                          "deprecated": true,
                          "httpMethod": "GET",
                          "parameters": {
                            "filter": {
                              "location": "query",
                              "description": "Optional. Filtering results.",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned.",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "type": "string"
                            },
                            "orderBy": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. Hint for how to order the results."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder.",
                          "path": "v1beta/{+parent}/accessApprovalRequests",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          }
                        }
                      }
                    },
                    "violations": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list",
                          "path": "v1beta/{+parent}/violations",
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations",
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned."
                            },
                            "orderBy": {
                              "type": "string",
                              "description": "Optional. Hint for how to order the results",
                              "location": "query"
                            },
                            "parent": {
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "interval.startTime": {
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                              "location": "query",
                              "type": "string",
                              "format": "google-datetime"
                            },
                            "interval.endTime": {
                              "type": "string",
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                              "location": "query",
                              "format": "google-datetime"
                            },
                            "filter": {
                              "type": "string",
                              "description": "Optional. Filtering results",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page.",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get",
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}",
                          "response": {
                            "$ref": "Violation"
                          },
                          "path": "v1beta/{+name}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets details of a single Violation."
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}",
                      "response": {
                        "$ref": "Workload"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single workload",
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "getEkmConnections": {
                      "description": "Gets the EKM connections associated with a workload",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`"
                        }
                      }
                    },
                    "getPartnerPermissions": {
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions",
                      "response": {
                        "$ref": "PartnerPermissions"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1beta/{+name}",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "description": "Gets the partner permissions granted for a workload",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filtering results."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page."
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned.",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Lists customer workloads for a given customer org id",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+parent}/workloads",
                      "httpMethod": "GET",
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getPartner": {
              "path": "v1beta/{+name}",
              "description": "Get details of a Partner.",
              "id": "cloudcontrolspartner.organizations.locations.getPartner",
              "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/partner",
              "response": {
                "$ref": "Partner"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$",
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "cloudcontrolspartner",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "version": "v1beta",
  "revision": "20260916",
  "canonicalName": "Cloud Controls Partner Service",
  "basePath": "",
  "id": "cloudcontrolspartner:v1beta"
}