{
  "discoveryVersion": "v1",
  "servicePath": "",
  "resources": {
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "lookupEntity": {
              "httpMethod": "GET",
              "path": "v1/{+lookupUri}:lookupEntity",
              "parameters": {
                "lookupUri": {
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}"
                }
              },
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "parameterOrder": [
                "lookupUri"
              ],
              "description": "Look up entities."
            },
            "get": {
              "description": "Get details of a LogicalProductVariant.",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "location": "path",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "httpMethod": "GET"
            },
            "list": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "path": "v1/{+parent}/variants",
              "httpMethod": "GET",
              "description": "Lists LogicalProductVariants matching given criteria.",
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      },
      "methods": {
        "list": {
          "id": "cloudproductregistry.logicalProducts.list",
          "flatPath": "v1/logicalProducts",
          "parameterOrder": [],
          "description": "Lists LogicalProducts matching given criteria.",
          "httpMethod": "GET",
          "parameters": {
            "filter": {
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "path": "v1/logicalProducts"
        },
        "get": {
          "id": "cloudproductregistry.logicalProducts.get",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets details of a LogicalProduct.",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^logicalProducts/[^/]+$",
              "location": "path",
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}"
            }
          },
          "response": {
            "$ref": "LogicalProduct"
          }
        },
        "lookupEntity": {
          "parameters": {
            "lookupUri": {
              "required": true,
              "pattern": "^logicalProducts/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}"
            }
          },
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "path": "v1/{+lookupUri}:lookupEntity",
          "httpMethod": "GET",
          "description": "Look up entities.",
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ]
        }
      }
    },
    "productSuites": {
      "methods": {
        "list": {
          "id": "cloudproductregistry.productSuites.list",
          "flatPath": "v1/productSuites",
          "parameterOrder": [],
          "description": "Lists ProductSuites.",
          "httpMethod": "GET",
          "path": "v1/productSuites",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListProductSuitesResponse"
          }
        },
        "lookupEntity": {
          "httpMethod": "GET",
          "parameters": {
            "lookupUri": {
              "required": true,
              "pattern": "^productSuites/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}"
            }
          },
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "path": "v1/{+lookupUri}:lookupEntity",
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "parameterOrder": [
            "lookupUri"
          ],
          "description": "Look up entities."
        },
        "get": {
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "location": "path",
              "type": "string",
              "pattern": "^productSuites/[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "ProductSuite"
          },
          "id": "cloudproductregistry.productSuites.get",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Get details of a ProductSuite."
        }
      }
    }
  },
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "schemas": {
    "LogicalProductVariant": {
      "properties": {
        "lifecycleState": {
          "readOnly": true,
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "string"
        },
        "title": {
          "description": "Display name of the LogicalProductVariant.",
          "type": "string"
        },
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "LogicalProductVariant",
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "type": "object"
    },
    "LogicalProduct": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        },
        "title": {
          "description": "Display name of the LogicalProduct.",
          "type": "string"
        },
        "productSuite": {
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}.",
          "type": "string"
        },
        "lifecycleState": {
          "description": "Output only. Current Lifecycle state of the logical product.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ]
        },
        "variants": {
          "readOnly": true,
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "replaced": {
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean",
          "readOnly": true
        },
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "LogicalProduct",
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "type": "object"
    },
    "ListLogicalProductVariantsResponse": {
      "description": "Response message for ListLogicalProductVariants.",
      "type": "object",
      "id": "ListLogicalProductVariantsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProductVariants": {
          "description": "Matched LogicalProductVariants",
          "type": "array",
          "items": {
            "$ref": "LogicalProductVariant"
          }
        }
      }
    },
    "ListLogicalProductsResponse": {
      "id": "ListLogicalProductsResponse",
      "properties": {
        "logicalProducts": {
          "items": {
            "$ref": "LogicalProduct"
          },
          "description": "Matched LogicalProducts",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListLogicalProducts.",
      "type": "object"
    },
    "LookupEntityResponse": {
      "description": "Response message for LookupEntity.",
      "type": "object",
      "id": "LookupEntityResponse",
      "properties": {
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        },
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        },
        "productSuite": {
          "description": "Matched ProductSuite.",
          "$ref": "ProductSuite"
        }
      }
    },
    "ProductSuite": {
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "type": "object",
      "properties": {
        "replacement": {
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc.",
          "type": "string"
        },
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        },
        "logicalProducts": {
          "items": {
            "type": "string"
          },
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        }
      },
      "id": "ProductSuite"
    },
    "ListProductSuitesResponse": {
      "description": "Response message for ListProductSuites.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "productSuites": {
          "description": "Matched ProductSuites",
          "type": "array",
          "items": {
            "$ref": "ProductSuite"
          }
        }
      },
      "id": "ListProductSuitesResponse"
    }
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "cloudproductregistry:v1",
  "batchPath": "batch",
  "basePath": "",
  "version_module": true,
  "name": "cloudproductregistry",
  "ownerName": "Google",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "protocol": "rest",
  "title": "Cloud Product Registry API",
  "revision": "20260715",
  "kind": "discovery#restDescription",
  "description": "cloudproductregistry.googleapis.com API.",
  "canonicalName": "Cloud Product Registry",
  "ownerDomain": "google.com",
  "version": "v1",
  "fullyEncodeReservedExpansion": true
}