{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "description": "Provides insights about your customers and their Assured Workloads based on your Sovereign Controls by Partners offering.",
  "id": "cloudcontrolspartner:v1beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "title": "Cloud Controls Partner API",
  "baseUrl": "https://cloudcontrolspartner.googleapis.com/",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/sovereign-controls-by-partners/docs/sovereign-partners/reference/rest",
  "batchPath": "batch",
  "canonicalName": "Cloud Controls Partner Service",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "rootUrl": "https://cloudcontrolspartner.googleapis.com/",
  "revision": "20260422",
  "name": "cloudcontrolspartner",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://cloudcontrolspartner.mtls.googleapis.com/",
  "schemas": {
    "EkmConnections": {
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
          "type": "string"
        },
        "ekmConnections": {
          "description": "The EKM connections associated with the workload",
          "type": "array",
          "items": {
            "$ref": "EkmConnection"
          }
        }
      },
      "description": "The EKM connections associated with a workload",
      "type": "object",
      "id": "EkmConnections"
    },
    "Workload": {
      "id": "Workload",
      "properties": {
        "workloadOnboardingState": {
          "description": "Container for workload onboarding steps.",
          "$ref": "WorkloadOnboardingState"
        },
        "partner": {
          "enumDescriptions": [
            "Unknown Partner.",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNXT (Kingdom of Saudi Arabia) partner offering without EKM provisioning.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "description": "Partner associated with this workload.",
          "type": "string",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "PARTNER_LOCAL_CONTROLS_BY_S3NS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "PARTNER_SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_PSN",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT",
            "PARTNER_SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "PARTNER_SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ]
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time the resource was created.",
          "type": "string"
        },
        "folder": {
          "readOnly": true,
          "description": "Output only. The name of container folder of the assured workload",
          "type": "string"
        },
        "isOnboarded": {
          "description": "Indicates whether a workload is fully onboarded.",
          "type": "boolean"
        },
        "keyManagementProjectId": {
          "description": "The project id of the key management project for the workload",
          "type": "string"
        },
        "location": {
          "description": "The Google Cloud location of the workload",
          "type": "string"
        },
        "folderId": {
          "description": "Output only. Folder id this workload is associated with",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "description": "Contains metadata around the [Workload resource](https://cloud.google.com/assured-workloads/docs/reference/rest/Shared.Types/Workload) in the Assured Workloads API.",
      "type": "object"
    },
    "ListWorkloadsResponse": {
      "id": "ListWorkloadsResponse",
      "description": "Response message for list customer workloads requests.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workloads": {
          "description": "List of customer workloads",
          "type": "array",
          "items": {
            "$ref": "Workload"
          }
        }
      }
    },
    "AccessReason": {
      "description": "Reason for the access.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of access justification.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT",
            "CLOUD_INITIATED_ACCESS"
          ],
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): - \"Feedback Report: #####\" - \"Case Number: #####\" - \"Case ID: #####\" - \"E-PIN Reference: #####\" - \"Google-#####\" - \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage.",
            "Similar to 'GOOGLE_INITIATED_SERVICE' or 'GOOGLE_INITIATED_REVIEW', but with universe agnostic naming. The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage, or for security, fraud, abuse, or compliance review purposes."
          ]
        },
        "detail": {
          "description": "More detail about certain reason types. See comments for each type above.",
          "type": "string"
        }
      },
      "id": "AccessReason"
    },
    "Gcloud": {
      "id": "Gcloud",
      "properties": {
        "gcloudCommands": {
          "description": "Gcloud command to resolve violation",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "description": "Steps to resolve violation via gcloud cli",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "type": "object"
    },
    "Customer": {
      "properties": {
        "organizationDomain": {
          "description": "Output only. The customer organization domain, extracted from CRM Organization’s display_name field. e.g. \"google.com\"",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name for the customer",
          "type": "string"
        },
        "customerOnboardingState": {
          "description": "Output only. Container for customer onboarding steps",
          "readOnly": true,
          "$ref": "CustomerOnboardingState"
        },
        "isOnboarded": {
          "readOnly": true,
          "description": "Output only. Indicates whether a customer is fully onboarded",
          "type": "boolean"
        }
      },
      "description": "Contains metadata around a Cloud Controls Partner Customer",
      "type": "object",
      "id": "Customer"
    },
    "Violation": {
      "description": "Details of resource Violation",
      "type": "object",
      "properties": {
        "folderId": {
          "format": "int64",
          "description": "The folder_id of the violation",
          "type": "string"
        },
        "category": {
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "description": "Output only. State of the violation",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ]
        },
        "resolveTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "type": "string"
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "$ref": "Remediation",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last time when the Violation record was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
          "type": "string"
        },
        "beginTime": {
          "description": "Output only. Time of the event which triggered the Violation.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "nonCompliantOrgPolicy": {
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: `projects/{project_number}/policies/{constraint_name}` `folders/{folder_id}/policies/{constraint_name}` `organizations/{organization_id}/policies/{constraint_name}`",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Violation"
    },
    "WorkloadOnboardingStep": {
      "properties": {
        "completionState": {
          "description": "Output only. The completion state of the onboarding step.",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "type": "string",
          "readOnly": true
        },
        "step": {
          "enumDescriptions": [
            "Unspecified step.",
            "EKM Provisioned step.",
            "Signed Access Approval step."
          ],
          "description": "The onboarding step.",
          "type": "string",
          "enum": [
            "STEP_UNSPECIFIED",
            "EKM_PROVISIONED",
            "SIGNED_ACCESS_APPROVAL_CONFIGURED"
          ]
        },
        "completionTime": {
          "format": "google-datetime",
          "description": "The completion time of the onboarding step.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The starting time of the onboarding step.",
          "type": "string"
        }
      },
      "description": "Container for workload onboarding information.",
      "type": "object",
      "id": "WorkloadOnboardingStep"
    },
    "Remediation": {
      "properties": {
        "compliantValues": {
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instructions": {
          "$ref": "Instructions",
          "description": "Required. Remediation instructions to resolve violations"
        },
        "remediationType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Remediation type based on the type of org policy values violated",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION"
          ],
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation."
          ]
        }
      },
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "type": "object",
      "id": "Remediation"
    },
    "ListCustomersResponse": {
      "id": "ListCustomersResponse",
      "description": "Response message for list customer Customers requests",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "customers": {
          "description": "List of customers",
          "type": "array",
          "items": {
            "$ref": "Customer"
          }
        }
      }
    },
    "AccessApprovalRequest": {
      "properties": {
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "The time at which approval was requested.",
          "type": "string"
        },
        "requestedExpirationTime": {
          "format": "google-datetime",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/accessApprovalRequests/{access_approval_request}`",
          "type": "string"
        }
      },
      "description": "Details about the Access request.",
      "type": "object",
      "id": "AccessApprovalRequest"
    },
    "ListAccessApprovalRequestsResponse": {
      "id": "ListAccessApprovalRequestsResponse",
      "properties": {
        "accessApprovalRequests": {
          "description": "List of access approval requests",
          "type": "array",
          "items": {
            "$ref": "AccessApprovalRequest"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for list access requests.",
      "type": "object"
    },
    "ListViolationsResponse": {
      "id": "ListViolationsResponse",
      "description": "Response message for list customer violation requests",
      "type": "object",
      "properties": {
        "violations": {
          "description": "List of violation",
          "type": "array",
          "items": {
            "$ref": "Violation"
          }
        },
        "unreachable": {
          "description": "Workloads that could not be reached due to permission errors or any other error. Ref: https://google.aip.dev/217",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Partner": {
      "id": "Partner",
      "description": "Message describing Partner resource",
      "type": "object",
      "properties": {
        "operatedCloudRegions": {
          "description": "List of Google Cloud regions that the partner sells services to customers. Valid Google Cloud regions found here: https://cloud.google.com/compute/docs/regions-zones",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last time the resource was updated",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the partner. Format: `organizations/{organization}/locations/{location}/partner` Example: \"organizations/123456/locations/us-central1/partner\"",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time the resource was created",
          "type": "string"
        },
        "partnerProjectId": {
          "description": "Google Cloud project ID in the partner's Google Cloud organization for receiving enhanced Logs for Partners.",
          "type": "string"
        },
        "skus": {
          "description": "List of SKUs the partner is offering",
          "type": "array",
          "items": {
            "$ref": "Sku"
          }
        },
        "ekmSolutions": {
          "description": "List of Google Cloud supported EKM partners supported by the partner",
          "type": "array",
          "items": {
            "$ref": "EkmMetadata"
          }
        }
      }
    },
    "EkmConnection": {
      "properties": {
        "connectionError": {
          "description": "The connection error that occurred if any",
          "$ref": "ConnectionError"
        },
        "connectionName": {
          "description": "Resource name of the EKM connection in the format: projects/{project}/locations/{location}/ekmConnections/{ekm_connection}",
          "type": "string"
        },
        "connectionState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The connection state",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "AVAILABLE",
            "NOT_AVAILABLE",
            "ERROR",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Unspecified EKM connection state",
            "Available EKM connection state",
            "Not available EKM connection state",
            "Error EKM connection state",
            "Permission denied EKM connection state"
          ]
        }
      },
      "description": "Details about the EKM connection",
      "type": "object",
      "id": "EkmConnection"
    },
    "Sku": {
      "id": "Sku",
      "properties": {
        "displayName": {
          "description": "Display name of the product identified by the SKU. A partner may want to show partner branded names for their offerings such as local sovereign cloud solutions.",
          "type": "string"
        },
        "id": {
          "description": "Argentum product SKU, that is associated with the partner offerings to customers used by Syntro for billing purposes. SKUs can represent resold Google products or support services.",
          "type": "string"
        }
      },
      "description": "Represents the SKU a partner owns inside Google Cloud to sell to customers.",
      "type": "object"
    },
    "CustomerOnboardingState": {
      "id": "CustomerOnboardingState",
      "properties": {
        "onboardingSteps": {
          "description": "List of customer onboarding steps",
          "type": "array",
          "items": {
            "$ref": "CustomerOnboardingStep"
          }
        }
      },
      "description": "Container for customer onboarding steps",
      "type": "object"
    },
    "CustomerOnboardingStep": {
      "id": "CustomerOnboardingStep",
      "description": "Container for customer onboarding information",
      "type": "object",
      "properties": {
        "completionState": {
          "enumDescriptions": [
            "Unspecified completion state.",
            "Task started (has start date) but not yet completed.",
            "Succeeded state.",
            "Failed state.",
            "Not applicable state."
          ],
          "description": "Output only. Current state of the step",
          "enum": [
            "COMPLETION_STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "NOT_APPLICABLE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "step": {
          "enumDescriptions": [
            "Unspecified step",
            "KAJ Enrollment",
            "Customer Environment"
          ],
          "description": "The onboarding step",
          "type": "string",
          "enum": [
            "STEP_UNSPECIFIED",
            "KAJ_ENROLLMENT",
            "CUSTOMER_ENVIRONMENT"
          ]
        },
        "completionTime": {
          "description": "The completion time of the onboarding step",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The starting time of the onboarding step",
          "type": "string"
        }
      }
    },
    "EkmMetadata": {
      "properties": {
        "ekmSolution": {
          "type": "string",
          "description": "The Cloud EKM partner.",
          "enum": [
            "EKM_SOLUTION_UNSPECIFIED",
            "FORTANIX",
            "FUTUREX",
            "THALES",
            "VIRTRU"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Unspecified EKM solution",
            "EKM Partner Fortanix",
            "EKM Partner FutureX",
            "EKM Partner Thales",
            "This enum value is never used."
          ]
        },
        "ekmEndpointUri": {
          "description": "Endpoint for sending requests to the EKM for key provisioning during Assured Workload creation.",
          "type": "string"
        }
      },
      "description": "Holds information needed by Mudbray to use partner EKMs for workloads.",
      "type": "object",
      "id": "EkmMetadata"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "WorkloadOnboardingState": {
      "id": "WorkloadOnboardingState",
      "properties": {
        "onboardingSteps": {
          "description": "List of workload onboarding steps.",
          "type": "array",
          "items": {
            "$ref": "WorkloadOnboardingStep"
          }
        }
      },
      "description": "Container for workload onboarding steps.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Console": {
      "properties": {
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Remediation instructions to resolve violation via cloud console",
      "type": "object",
      "id": "Console"
    },
    "PartnerPermissions": {
      "properties": {
        "name": {
          "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
          "type": "string"
        },
        "partnerPermissions": {
          "description": "The partner permissions granted for the workload",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PERMISSION_UNSPECIFIED",
              "ACCESS_TRANSPARENCY_AND_EMERGENCY_ACCESS_LOGS",
              "ASSURED_WORKLOADS_MONITORING",
              "ACCESS_APPROVAL_REQUESTS",
              "ASSURED_WORKLOADS_EKM_CONNECTION_STATUS",
              "ACCESS_TRANSPARENCY_LOGS_SUPPORT_CASE_VIEWER"
            ],
            "enumDescriptions": [
              "Unspecified partner permission",
              "Permission for Access Transparency and emergency logs",
              "Permission for Assured Workloads monitoring violations",
              "Permission for Access Approval requests",
              "Permission for External Key Manager connection status",
              "Permission for support case details for Access Transparency log entries"
            ]
          }
        }
      },
      "description": "The permissions granted to the partner for a workload",
      "type": "object",
      "id": "PartnerPermissions"
    },
    "ConnectionError": {
      "id": "ConnectionError",
      "properties": {
        "errorDomain": {
          "description": "The error domain for the error",
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message for the error",
          "type": "string"
        }
      },
      "description": "Information around the error that occurred if the connection state is anything other than available or unspecified",
      "type": "object"
    },
    "Instructions": {
      "id": "Instructions",
      "description": "Instructions to remediate violation",
      "type": "object",
      "properties": {
        "gcloudInstructions": {
          "$ref": "Gcloud",
          "description": "Remediation instructions to resolve violation via gcloud cli"
        },
        "consoleInstructions": {
          "$ref": "Console",
          "description": "Remediation instructions to resolve violation via cloud console"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "version_module": true,
  "version": "v1beta",
  "servicePath": "",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getPartner": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/partner$",
                  "description": "Required. Format: `organizations/{organization}/locations/{location}/partner`",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Get details of a Partner.",
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/partner",
              "response": {
                "$ref": "Partner"
              },
              "id": "cloudcontrolspartner.organizations.locations.getPartner",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "customers": {
              "resources": {
                "workloads": {
                  "resources": {
                    "accessApprovalRequests": {
                      "deprecated": true,
                      "methods": {
                        "list": {
                          "path": "v1beta/{+parent}/accessApprovalRequests",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListAccessApprovalRequests` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results.",
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Optional. Filtering results.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "required": true,
                              "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "location": "path",
                              "type": "string",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$"
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of access requests to return. The service may return fewer than this value. If unspecified, at most 500 access requests will be returned.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "description": "Deprecated: Only returns access approval requests directly associated with an assured workload folder.",
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.accessApprovalRequests.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/accessApprovalRequests",
                          "deprecated": true,
                          "response": {
                            "$ref": "ListAccessApprovalRequestsResponse"
                          }
                        }
                      }
                    },
                    "violations": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "filter": {
                              "description": "Optional. Filtering results",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListViolations` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "orderBy": {
                              "description": "Optional. Hint for how to order the results",
                              "location": "query",
                              "type": "string"
                            },
                            "interval.endTime": {
                              "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                              "location": "query",
                              "type": "string",
                              "format": "google-datetime"
                            },
                            "parent": {
                              "description": "Required. Parent resource Format `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$"
                            },
                            "interval.startTime": {
                              "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                              "location": "query",
                              "type": "string",
                              "format": "google-datetime"
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of customers row to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "description": "Lists Violations for a workload Callers may also choose to read across multiple Customers or for a single customer as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of {customer} & {workload}. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "path": "v1beta/{+parent}/violations",
                          "httpMethod": "GET",
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations",
                          "response": {
                            "$ref": "ListViolationsResponse"
                          },
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "response": {
                            "$ref": "Violation"
                          },
                          "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/violations/{violationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "cloudcontrolspartner.organizations.locations.customers.workloads.violations.get",
                          "description": "Gets details of a single Violation.",
                          "parameters": {
                            "name": {
                              "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/violations/[^/]+$",
                              "type": "string",
                              "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/violations/{violation}`",
                              "location": "path",
                              "required": true
                            }
                          },
                          "httpMethod": "GET",
                          "path": "v1beta/{+name}"
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads",
                      "response": {
                        "$ref": "ListWorkloadsResponse"
                      },
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of workloads to return. The service may return fewer than this value. If unspecified, at most 500 workloads will be returned.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListWorkloads` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists customer workloads for a given customer org id",
                      "path": "v1beta/{+parent}/workloads",
                      "httpMethod": "GET"
                    },
                    "getEkmConnections": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getEkmConnections",
                      "response": {
                        "$ref": "EkmConnections"
                      },
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/ekmConnections",
                      "httpMethod": "GET",
                      "path": "v1beta/{+name}",
                      "description": "Gets the EKM connections associated with a workload",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/ekmConnections$",
                          "required": true,
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/ekmConnections`",
                          "location": "path"
                        }
                      }
                    },
                    "get": {
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}",
                      "response": {
                        "$ref": "Workload"
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Gets details of a single workload"
                    },
                    "getPartnerPermissions": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of the resource to get in the format: `organizations/{organization}/locations/{location}/customers/{customer}/workloads/{workload}/partnerPermissions`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+/workloads/[^/]+/partnerPermissions$",
                          "type": "string"
                        }
                      },
                      "description": "Gets the partner permissions granted for a workload",
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}/workloads/{workloadsId}/partnerPermissions",
                      "response": {
                        "$ref": "PartnerPermissions"
                      },
                      "id": "cloudcontrolspartner.organizations.locations.customers.workloads.getPartnerPermissions",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudcontrolspartner.organizations.locations.customers.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "httpMethod": "DELETE",
                  "path": "v1beta/{+name}",
                  "description": "Delete details of a single customer",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. name of the resource to be deleted format: name=organizations/*/locations/*/customers/*",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListCustomers` call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of Customers to return. The service may return fewer than this value. If unspecified, at most 500 Customers will be returned.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "description": "Lists customers of a partner identified by its Google Cloud organization ID",
                  "path": "v1beta/{+parent}/customers",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "response": {
                    "$ref": "ListCustomersResponse"
                  },
                  "id": "cloudcontrolspartner.organizations.locations.customers.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "cloudcontrolspartner.organizations.locations.customers.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "response": {
                    "$ref": "Customer"
                  },
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Gets details of a single customer"
                },
                "create": {
                  "response": {
                    "$ref": "Customer"
                  },
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Customer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudcontrolspartner.organizations.locations.customers.create",
                  "description": "Creates a new customer.",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource Format: `organizations/{organization}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "customerId": {
                      "description": "Required. The customer id to use for the customer, which will become the final component of the customer's resource name. The specified value must be a valid Google cloud organization id.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1beta/{+parent}/customers"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Customer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudcontrolspartner.organizations.locations.customers.patch",
                  "response": {
                    "$ref": "Customer"
                  },
                  "flatPath": "v1beta/organizations/{organizationsId}/locations/{locationsId}/customers/{customersId}",
                  "httpMethod": "PATCH",
                  "path": "v1beta/{+name}",
                  "description": "Update details of a single customer",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/customers/[^/]+$",
                      "description": "Identifier. Format: `organizations/{organization}/locations/{location}/customers/{customer}`",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update",
                      "location": "query",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}