{
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "servicePath": "",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "batchPath": "batch",
  "protocol": "rest",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "revision": "20260805",
  "title": "Cloud Product Registry API",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "name": "cloudproductregistry",
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "ownerName": "Google",
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "productSuites": {
      "methods": {
        "list": {
          "path": "v1/productSuites",
          "flatPath": "v1/productSuites",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Lists ProductSuites.",
          "id": "cloudproductregistry.productSuites.list",
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "type": "integer"
            }
          }
        },
        "get": {
          "parameters": {
            "name": {
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "location": "path",
              "type": "string",
              "pattern": "^productSuites/[^/]+$",
              "required": true
            }
          },
          "id": "cloudproductregistry.productSuites.get",
          "response": {
            "$ref": "ProductSuite"
          },
          "flatPath": "v1/productSuites/{productSuitesId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Get details of a ProductSuite.",
          "path": "v1/{+name}"
        },
        "lookupEntity": {
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "parameters": {
            "lookupUri": {
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "type": "string",
              "pattern": "^productSuites/[^/]+$",
              "required": true
            }
          },
          "path": "v1/{+lookupUri}:lookupEntity",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "httpMethod": "GET",
          "parameterOrder": [
            "lookupUri"
          ],
          "description": "Look up entities."
        }
      }
    },
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Get details of a LogicalProductVariant.",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "parameters": {
                "name": {
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "lookupEntity": {
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "parameters": {
                "lookupUri": {
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "required": true,
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+lookupUri}:lookupEntity",
              "description": "Look up entities.",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "httpMethod": "GET",
              "parameterOrder": [
                "lookupUri"
              ]
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^logicalProducts/[^/]+$",
                  "required": true,
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists LogicalProductVariants matching given criteria.",
              "path": "v1/{+parent}/variants"
            }
          }
        }
      },
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets details of a LogicalProduct.",
          "id": "cloudproductregistry.logicalProducts.get",
          "response": {
            "$ref": "LogicalProduct"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "location": "path",
              "type": "string",
              "pattern": "^logicalProducts/[^/]+$",
              "required": true
            }
          }
        },
        "lookupEntity": {
          "description": "Look up entities.",
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "httpMethod": "GET",
          "parameterOrder": [
            "lookupUri"
          ],
          "path": "v1/{+lookupUri}:lookupEntity",
          "parameters": {
            "lookupUri": {
              "pattern": "^logicalProducts/[^/]+$",
              "required": true,
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "type": "string"
            }
          },
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "response": {
            "$ref": "LookupEntityResponse"
          }
        },
        "list": {
          "id": "cloudproductregistry.logicalProducts.list",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "parameters": {
            "filter": {
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/logicalProducts",
          "description": "Lists LogicalProducts matching given criteria.",
          "flatPath": "v1/logicalProducts",
          "httpMethod": "GET",
          "parameterOrder": []
        }
      }
    }
  },
  "id": "cloudproductregistry:v1",
  "canonicalName": "Cloud Product Registry",
  "schemas": {
    "LogicalProduct": {
      "properties": {
        "variants": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "array"
        },
        "lifecycleState": {
          "readOnly": true,
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product.",
          "type": "string"
        },
        "title": {
          "description": "Display name of the LogicalProduct.",
          "type": "string"
        },
        "productSuite": {
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}.",
          "type": "string"
        },
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        },
        "replacement": {
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        }
      },
      "id": "LogicalProduct",
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "type": "object"
    },
    "ListProductSuitesResponse": {
      "description": "Response message for ListProductSuites.",
      "type": "object",
      "properties": {
        "productSuites": {
          "description": "Matched ProductSuites",
          "type": "array",
          "items": {
            "$ref": "ProductSuite"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListProductSuitesResponse"
    },
    "ProductSuite": {
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        },
        "replacement": {
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "logicalProducts": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "type": "array"
        }
      },
      "id": "ProductSuite"
    },
    "ListLogicalProductsResponse": {
      "description": "Response message for ListLogicalProducts.",
      "type": "object",
      "properties": {
        "logicalProducts": {
          "description": "Matched LogicalProducts",
          "type": "array",
          "items": {
            "$ref": "LogicalProduct"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListLogicalProductsResponse"
    },
    "LogicalProductVariant": {
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "type": "object",
      "id": "LogicalProductVariant",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "string"
        },
        "replaced": {
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean",
          "readOnly": true
        },
        "replacement": {
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "type": "string"
        },
        "title": {
          "description": "Display name of the LogicalProductVariant.",
          "type": "string"
        },
        "lifecycleState": {
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ]
        }
      }
    },
    "ListLogicalProductVariantsResponse": {
      "description": "Response message for ListLogicalProductVariants.",
      "type": "object",
      "id": "ListLogicalProductVariantsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProductVariants": {
          "description": "Matched LogicalProductVariants",
          "type": "array",
          "items": {
            "$ref": "LogicalProductVariant"
          }
        }
      }
    },
    "LookupEntityResponse": {
      "description": "Response message for LookupEntity.",
      "type": "object",
      "id": "LookupEntityResponse",
      "properties": {
        "productSuite": {
          "description": "Matched ProductSuite.",
          "$ref": "ProductSuite"
        },
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        },
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        }
      }
    }
  }
}