{
  "id": "cloudsupport:v2beta",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "ownerName": "Google",
  "name": "cloudsupport",
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "discoveryVersion": "v1",
  "version": "v2beta",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Create a file attachment on a case or Cloud resource. The attachment must have the following fields set: `filename`. EXAMPLES: cURL: ```shell echo \"This text is in a file I'm uploading using CSAPI.\" \\ > \"./example_file.txt\" case=\"projects/some-project/cases/43594844\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --data-binary @\"./example_file.txt\" \\ \"https://cloudsupport.googleapis.com/upload/v2beta/$case/attachments?attachment.filename=uploaded_via_curl.txt\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) file_path = \"./example_file.txt\" with open(file_path, \"w\") as file: file.write( \"This text is inside a file I'm going to upload using the Cloud Support API.\", ) request = supportApiService.media().upload( parent=\"projects/some-project/cases/43595344\", media_body=file_path ) request.uri = request.uri.split(\"?\")[0] + \"?attachment.filename=uploaded_via_python.txt\" print(request.execute()) ```",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the case or Cloud resource to which the attachment should be attached.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true
            }
          },
          "path": "v2beta/{+parent}/attachments",
          "id": "cloudsupport.media.upload",
          "parameterOrder": [
            "parent"
          ],
          "supportsMediaUpload": true,
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2beta/{+parent}/attachments"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "response": {
            "$ref": "Attachment"
          }
        },
        "download": {
          "path": "v2beta/{+name}:download",
          "id": "cloudsupport.media.download",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Download a file attached to a case. When this endpoint is called, no \"response body\" will be returned. Instead, the attachment's blob will be returned. Note: HTTP requests must append \"?alt=media\" to the URL. EXAMPLES: cURL: ```shell name=\"projects/some-project/cases/43594844/attachments/0674M00000WijAnZAJ\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$name:download?alt=media\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.media().download( name=\"projects/some-project/cases/43595344/attachments/0684M00000Pw6pHQAR\" ) request.uri = request.uri.split(\"?\")[0] + \"?alt=media\" print(request.execute()) ```",
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
              "required": true,
              "description": "The name of the file attachment to download.",
              "location": "path",
              "type": "string"
            }
          },
          "supportsMediaDownload": true,
          "response": {
            "$ref": "Media"
          },
          "httpMethod": "GET",
          "useMediaDownloadService": true
        }
      }
    },
    "cases": {
      "resources": {
        "attachments": {
          "methods": {
            "get": {
              "id": "cloudsupport.cases.attachments.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieve an attachment associated with a support case. EXAMPLES: cURL: ```shell attachment=\"projects/some-project/cases/23598314/attachments/0684M00000P3h1fQAB\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$attachment\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .attachments() .get(name=\"projects/some-project/cases/43595344/attachments/0684M00000P3h1fQAB\") ) print(request.execute()) ```",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}",
              "parameters": {
                "name": {
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the attachment to get.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Attachment"
              },
              "httpMethod": "GET"
            },
            "list": {
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "httpMethod": "GET",
              "path": "v2beta/{+parent}/attachments",
              "id": "cloudsupport.cases.attachments.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List all the attachments associated with a support case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/23598314\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$case/attachments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .attachments() .list(parent=\"projects/some-project/cases/43595344\") ) print(request.execute()) ```",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the case for which attachments should be listed."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100. The size of each page can be smaller than the requested page size and can include zero. For example, you could request 100 attachments on one page, receive 0, and then on the next page, receive 90.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        },
        "comments": {
          "methods": {
            "create": {
              "request": {
                "$ref": "Comment"
              },
              "response": {
                "$ref": "Comment"
              },
              "httpMethod": "POST",
              "id": "cloudsupport.cases.comments.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta/{+parent}/comments",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "description": "Required. The name of the case to which the comment should be added."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Add a new comment to a case. The comment must have the following fields set: `body`. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43591344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"body\": \"This is a test comment.\" }' \\ \"https://cloudsupport.googleapis.com/v2beta/$case/comments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .comments() .create( parent=\"projects/some-project/cases/43595344\", body={\"body\": \"This is a test comment.\"}, ) ) print(request.execute()) ```",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the comment to retrieve.",
                  "required": true,
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+/comments/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments/{commentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieve a comment. EXAMPLES: cURL: ```shell comment=\"projects/some-project/cases/43595344/comments/234567890\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$comment\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().comments().get( name=\"projects/some-project/cases/43595344/comments/234567890\", ) print(request.execute()) ```",
              "path": "v2beta/{+name}",
              "id": "cloudsupport.cases.comments.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Comment"
              }
            },
            "list": {
              "id": "cloudsupport.cases.comments.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta/{+parent}/comments",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the case for which to list comments.",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of comments to fetch. Defaults to 10."
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return. If unspecified, the first page is returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List all the comments associated with a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$case/comments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .comments() .list(parent=\"projects/some-project/cases/43595344\") ) print(request.execute()) ```",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            },
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of a parent to list cases under.",
              "pattern": "^[^/]+/[^/]+$",
              "required": true
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "An expression used to filter cases. If it's an empty string, then no filtering happens. Otherwise, the endpoint returns the cases that match the filter. Expressions use the following fields separated by `AND` and specified with `=`: - `state`: Can be `OPEN` or `CLOSED`. - `priority`: Can be `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. EXAMPLES: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`"
            },
            "productLine": {
              "enumDescriptions": [
                "Unknown product type.",
                "Google Cloud",
                "Google Maps"
              ],
              "enum": [
                "PRODUCT_LINE_UNSPECIFIED",
                "GOOGLE_CLOUD",
                "GOOGLE_MAPS"
              ],
              "location": "query",
              "type": "string",
              "description": "The product line to request cases for. If unspecified, only Google Cloud cases will be returned."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieve all cases under a parent, but not its children. For example, listing cases under an organization only returns the cases that are directly parented by that organization. To retrieve cases under an organization and its projects, use `cases.search`. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$parent/cases\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().list(parent=\"projects/some-project\") print(request.execute()) ```",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "id": "cloudsupport.cases.list",
          "parameterOrder": [
            "parent"
          ],
          "path": "v2beta/{+parent}/cases",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListCasesResponse"
          }
        },
        "escalate": {
          "httpMethod": "POST",
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "response": {
            "$ref": "Case"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Escalate a case, starting the Google Cloud Support escalation management process. This operation is only available for some support services. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which ones let you do that. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\" } }' \\ \"https://cloudsupport.googleapis.com/v2beta/$case:escalate\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().escalate( name=\"projects/some-project/cases/43595344\", body={ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\", }, }, ) print(request.execute()) ```",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:escalate",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the case to be escalated.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true
            }
          },
          "id": "cloudsupport.cases.escalate",
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}:escalate"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieve a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/16033687\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$case\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().get( name=\"projects/some-project/cases/43595344\", ) print(request.execute()) ```",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The full name of a case to be retrieved."
            }
          },
          "id": "cloudsupport.cases.get",
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Case"
          }
        },
        "close": {
          "httpMethod": "POST",
          "request": {
            "$ref": "CloseCaseRequest"
          },
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the case to close.",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:close",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Close a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$case:close\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().close( name=\"projects/some-project/cases/43595344\" ) print(request.execute()) ```",
          "path": "v2beta/{+name}:close",
          "id": "cloudsupport.cases.close",
          "parameterOrder": [
            "name"
          ]
        },
        "search": {
          "path": "v2beta/cases:search",
          "id": "cloudsupport.cases.search",
          "parameterOrder": [],
          "flatPath": "v2beta/cases:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Search for cases using a query. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$parent/cases:search\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().search( parent=\"projects/some-project\", query=\"state=OPEN\" ) print(request.execute()) ```",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "The name of the parent resource to search for cases under."
            },
            "query": {
              "description": "An expression used to filter cases. Expressions use the following fields separated by `AND` and specified with `=`: - `state`: Can be `OPEN` or `CLOSED`. - `priority`: Can be `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` restricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time>\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`>`). If you are using the `v2` version of the API, you must specify the case parent in the `parent` field. If you provide an empty `query`, all cases under the parent resource will be returned. If you are using the `v2beta` version of the API, you must specify the case parent in the `query` field using one of the two fields below, which are only available for `v2beta`. The `parent` field will be ignored. - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. Examples: For `v2`: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)` - `update_time>\"2020-01-01T00:00:00-05:00\"` For `v2beta`: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "httpMethod": "GET"
        },
        "create": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Case"
          },
          "response": {
            "$ref": "Case"
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Create a new case and associate it with a parent. It must have the following fields set: `display_name`, `description`, `classification`, and `priority`. If you're just testing the API and don't want to route your case to an agent, set `testCase=true`. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"display_name\": \"Test case created by me.\", \"description\": \"a random test case, feel free to close\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, \"time_zone\": \"-07:00\", \"subscriber_email_addresses\": [ \"foo@domain.com\", \"bar@domain.com\" ], \"testCase\": true, \"priority\": \"P3\" }' \\ \"https://cloudsupport.googleapis.com/v2beta/$parent/cases\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().create( parent=\"projects/some-project\", body={ \"displayName\": \"A Test Case\", \"description\": \"This is a test case.\", \"testCase\": True, \"priority\": \"P2\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, }, ) print(request.execute()) ```",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the parent under which the case should be created.",
              "pattern": "^[^/]+/[^/]+$",
              "required": true
            }
          },
          "path": "v2beta/{+parent}/cases",
          "id": "cloudsupport.cases.create",
          "parameterOrder": [
            "parent"
          ]
        },
        "patch": {
          "path": "v2beta/{+name}",
          "id": "cloudsupport.cases.patch",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update a case. Only some fields can be updated. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request PATCH \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"priority\": \"P1\" }' \\ \"https://cloudsupport.googleapis.com/v2beta/$case?updateMask=priority\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().patch( name=\"projects/some-project/cases/43112854\", body={ \"displayName\": \"This is Now a New Title\", \"priority\": \"P2\", }, ) print(request.execute()) ```",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "description": "A list of attributes of the case that should be updated. Supported values are `priority`, `display_name`, and `subscriber_email_addresses`. If no fields are specified, all supported fields are updated. Be careful - if you do not provide a field mask, then you might accidentally clear some fields. For example, if you leave the field mask empty and do not provide a value for `subscriber_email_addresses`, then `subscriber_email_addresses` is updated to empty.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Identifier. The resource name for the case."
            }
          },
          "request": {
            "$ref": "Case"
          },
          "response": {
            "$ref": "Case"
          },
          "httpMethod": "PATCH"
        },
        "showFeed": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ShowFeedResponse"
          },
          "parameters": {
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Optional. Field to order feed items by, followed by `asc` or `desc` postfix. The only valid field is `creation_time`. This list is case-insensitive, default sorting order is ascending, and the redundant space characters are insignificant. Example: `creation_time desc`"
            },
            "pageSize": {
              "description": "Optional. The maximum number of feed items fetched with each request.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A token identifying the page of results to return. If unspecified, it retrieves the first page.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "description": "Required. The resource name of the case for which feed items should be listed.",
              "required": true,
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:showFeed",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Show items in the feed of this case, including case emails, attachments, and comments.",
          "path": "v2beta/{+parent}:showFeed",
          "id": "cloudsupport.cases.showFeed",
          "parameterOrder": [
            "parent"
          ]
        }
      }
    },
    "caseClassifications": {
      "methods": {
        "search": {
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "httpMethod": "GET",
          "path": "v2beta/caseClassifications:search",
          "id": "cloudsupport.caseClassifications.search",
          "parameterOrder": [],
          "flatPath": "v2beta/caseClassifications:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieve valid classifications to use when creating a support case. Classifications are hierarchical. Each classification is a string containing all levels of the hierarchy separated by `\" > \"`. For example, `\"Technical Issue > Compute > Compute Engine\"`. Classification IDs returned by this endpoint are valid for at least six months. When a classification is deactivated, this endpoint immediately stops returning it. After six months, `case.create` requests using the classification will fail. EXAMPLES: cURL: ```shell curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ 'https://cloudsupport.googleapis.com/v2beta/caseClassifications:search?query=display_name:\"*Compute%20Engine*\"' ``` Python: ```python import googleapiclient.discovery supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=\"v2beta\", discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version=v2\", ) request = supportApiService.caseClassifications().search( query='display_name:\"*Compute Engine*\"' ) print(request.execute()) ```",
          "parameters": {
            "query": {
              "location": "query",
              "type": "string",
              "description": "An expression used to filter case classifications. If it's an empty string, then no filtering happens. Otherwise, case classifications will be returned that match the filter."
            },
            "product.productLine": {
              "enumDescriptions": [
                "Unknown product type.",
                "Google Cloud",
                "Google Maps"
              ],
              "enum": [
                "PRODUCT_LINE_UNSPECIFIED",
                "GOOGLE_CLOUD",
                "GOOGLE_MAPS"
              ],
              "location": "query",
              "type": "string",
              "description": "The product line of the Product."
            },
            "pageSize": {
              "description": "The maximum number of classifications fetched with each request.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            }
          }
        }
      }
    },
    "supportEventSubscriptions": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "SupportEventSubscription"
          },
          "response": {
            "$ref": "SupportEventSubscription"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates a support event subscription.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/supportEventSubscriptions/{supportEventSubscriptionsId}",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Optional. The list of fields to update. The only supported value is pub_sub_topic."
            },
            "name": {
              "location": "path",
              "type": "string",
              "description": "Identifier. The resource name of the support event subscription.",
              "required": true,
              "pattern": "^[^/]+/[^/]+/supportEventSubscriptions/[^/]+$"
            }
          },
          "id": "cloudsupport.supportEventSubscriptions.patch",
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}"
        },
        "undelete": {
          "id": "cloudsupport.supportEventSubscriptions.undelete",
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}:undelete",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+/[^/]+/supportEventSubscriptions/[^/]+$",
              "required": true,
              "description": "Required. The name of the support event subscription to undelete. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Undeletes a support event subscription.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/supportEventSubscriptions/{supportEventSubscriptionsId}:undelete",
          "request": {
            "$ref": "UndeleteSupportEventSubscriptionRequest"
          },
          "response": {
            "$ref": "SupportEventSubscription"
          },
          "httpMethod": "POST"
        },
        "create": {
          "request": {
            "$ref": "SupportEventSubscription"
          },
          "response": {
            "$ref": "SupportEventSubscription"
          },
          "httpMethod": "POST",
          "path": "v2beta/{+parent}/supportEventSubscriptions",
          "id": "cloudsupport.supportEventSubscriptions.create",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/supportEventSubscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a support event subscription for an organization.",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Required. The parent resource name where the support event subscription will be created. Format: organizations/{organization_id}",
              "pattern": "^[^/]+/[^/]+$",
              "required": true
            }
          }
        },
        "list": {
          "response": {
            "$ref": "ListSupportEventSubscriptionsResponse"
          },
          "httpMethod": "GET",
          "id": "cloudsupport.supportEventSubscriptions.list",
          "parameterOrder": [
            "parent"
          ],
          "path": "v2beta/{+parent}/supportEventSubscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists support event subscriptions.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/supportEventSubscriptions",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Required. The fully qualified name of the Cloud resource to list support event subscriptions under. Format: organizations/{organization_id}",
              "required": true,
              "pattern": "^[^/]+/[^/]+$"
            },
            "filter": {
              "description": "Optional. Filter expression based on AIP-160. Supported fields: - pub_sub_topic - state Examples: - `pub_sub_topic=\"projects/example-project/topics/example-topic\"` - `state=WORKING` - `pub_sub_topic=\"projects/example-project/topics/example-topic\" AND state=WORKING`",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Whether to show deleted subscriptions. By default, deleted subscriptions are not returned."
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of support event subscriptions to return."
            },
            "pageToken": {
              "description": "Optional. A token identifying the page of results to return. If unspecified, the first page is retrieved. When paginating, all other parameters provided to `ListSupportEventSubscriptions` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "path": "v2beta/{+name}",
          "id": "cloudsupport.supportEventSubscriptions.get",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/supportEventSubscriptions/{supportEventSubscriptionsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets a support event subscription.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the support event subscription to retrieve. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}",
              "required": true,
              "pattern": "^[^/]+/[^/]+/supportEventSubscriptions/[^/]+$"
            }
          },
          "response": {
            "$ref": "SupportEventSubscription"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+/[^/]+/supportEventSubscriptions/[^/]+$",
              "required": true,
              "description": "Required. The name of the support event subscription to delete. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Soft deletes a support event subscription.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/supportEventSubscriptions/{supportEventSubscriptionsId}",
          "id": "cloudsupport.supportEventSubscriptions.delete",
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "SupportEventSubscription"
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "servicePath": "",
  "ownerDomain": "google.com",
  "basePath": "",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "canonicalName": "Cloud Support",
  "protocol": "rest",
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "schemas": {
    "CompositeMedia": {
      "type": "object",
      "properties": {
        "crc32cHash": {
          "format": "uint32",
          "type": "integer",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "cosmoBinaryReference": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "referenceType": {
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "inline": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "length": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobRef": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "md5Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "sha1Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "id": "CompositeMedia",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "Product": {
      "type": "object",
      "properties": {
        "productLine": {
          "type": "string",
          "description": "The product line of the Product.",
          "enumDescriptions": [
            "Unknown product type.",
            "Google Cloud",
            "Google Maps"
          ],
          "enum": [
            "PRODUCT_LINE_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "GOOGLE_MAPS"
          ]
        }
      },
      "id": "Product",
      "description": "The product a case may be associated with."
    },
    "ListCasesResponse": {
      "type": "object",
      "properties": {
        "cases": {
          "type": "array",
          "description": "The list of cases associated with the parent after any filters have been applied.",
          "items": {
            "$ref": "Case"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "id": "ListCasesResponse",
      "description": "The response message for the ListCases endpoint."
    },
    "TextContent": {
      "id": "TextContent",
      "description": "Stores text attached to a support object.",
      "type": "object",
      "properties": {
        "plainText": {
          "description": "Content in this field should be rendered and interpreted as-is.",
          "type": "string"
        }
      }
    },
    "ListAttachmentsResponse": {
      "id": "ListAttachmentsResponse",
      "description": "The response message for the ListAttachments endpoint.",
      "type": "object",
      "properties": {
        "attachments": {
          "items": {
            "$ref": "Attachment"
          },
          "description": "The list of attachments associated with a case.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve."
        }
      }
    },
    "CreateAttachmentRequest": {
      "id": "CreateAttachmentRequest",
      "description": "The request message for the CreateAttachment endpoint.",
      "type": "object",
      "properties": {
        "attachment": {
          "description": "Required. The attachment to be created.",
          "$ref": "Attachment"
        }
      }
    },
    "Escalation": {
      "type": "object",
      "properties": {
        "justification": {
          "type": "string",
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated."
        },
        "reason": {
          "type": "string",
          "description": "Required. The reason why the Case is being escalated.",
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ]
        }
      },
      "id": "Escalation",
      "description": "An escalation of a support case."
    },
    "ListCommentsResponse": {
      "id": "ListCommentsResponse",
      "description": "The response message for the ListComments endpoint.",
      "type": "object",
      "properties": {
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "type": "array",
          "description": "List of the comments associated with the case."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.comments.list` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      }
    },
    "Comment": {
      "type": "object",
      "properties": {
        "creator": {
          "description": "Output only. The user or Google Support agent who created the comment.",
          "readOnly": true,
          "$ref": "Actor"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the comment was created."
        },
        "plainTextBody": {
          "readOnly": true,
          "description": "Output only. DEPRECATED. DO NOT USE. A duplicate of the `body` field. This field is only present for legacy reasons.",
          "deprecated": true,
          "type": "string"
        },
        "body": {
          "type": "string",
          "description": "The full comment body. Maximum of 12800 characters."
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of the comment.",
          "readOnly": true
        }
      },
      "id": "Comment",
      "description": "A comment associated with a support case. Case comments are the primary way for Google Support to communicate with a user who has opened a case. When a user responds to Google Support, the user's responses also appear as comments."
    },
    "ContentTypeInfo": {
      "type": "object",
      "properties": {
        "fromHeader": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromFusionId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromFileName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromUrlPath": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "bestGuess": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fusionIdDetectionMetadata": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "ContentTypeInfo",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "filename": {
          "type": "string",
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`)."
        },
        "mimeType": {
          "description": "Output only. The MIME type of the attachment (e.g. text/plain).",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the attachment."
        },
        "creator": {
          "readOnly": true,
          "$ref": "Actor",
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the attachment was created."
        },
        "sizeBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The size of the attachment in bytes."
        }
      },
      "id": "Attachment",
      "description": "An Attachment contains metadata about a file that was uploaded to a case - it is NOT a file itself. That being said, the name of an Attachment object can be used to download its accompanying file through the `media.download` endpoint. While attachments can be uploaded in the console at the same time as a comment, they're associated on a \"case\" level, not a \"comment\" level."
    },
    "Media": {
      "type": "object",
      "properties": {
        "isPotentialRetry": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentType": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "mediaId": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "contentTypeInfo": {
          "$ref": "ContentTypeInfo",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "length": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "inline": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "byte"
        },
        "diffChecksumsResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffChecksumsResponse"
        },
        "diffUploadRequest": {
          "$ref": "DiffUploadRequest",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "timestamp": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint64"
        },
        "sha512Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "diffDownloadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffDownloadResponse"
        },
        "sha256Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "algorithm": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "diffVersionResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffVersionResponse"
        },
        "referenceType": {
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "bigstoreObjectRef": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true,
          "type": "string"
        },
        "crc32cHash": {
          "type": "integer",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint32"
        },
        "hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true,
          "type": "string"
        },
        "diffUploadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadResponse"
        },
        "token": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobRef": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "deprecated": true,
          "format": "byte"
        },
        "filename": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "cosmoBinaryReference": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "md5Hash": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "compositeMedia": {
          "items": {
            "$ref": "CompositeMedia"
          },
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "array"
        },
        "hashVerified": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "downloadParameters": {
          "$ref": "DownloadParameters",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "Media",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "SearchCasesResponse": {
      "type": "object",
      "properties": {
        "cases": {
          "items": {
            "$ref": "Case"
          },
          "description": "The list of cases associated with the parent after any filters have been applied.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.search` requests. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "id": "SearchCasesResponse",
      "description": "The response message for the SearchCases endpoint."
    },
    "DiffChecksumsResponse": {
      "type": "object",
      "properties": {
        "chunkSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        },
        "checksumsLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DiffChecksumsResponse",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "FeedItem": {
      "id": "FeedItem",
      "description": "A feed item associated with a support case.",
      "type": "object",
      "properties": {
        "deletedAttachment": {
          "readOnly": true,
          "$ref": "Attachment",
          "description": "Output only. A deleted attachment that used to be associated with the support case."
        },
        "eventTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time corresponding to the event of this item.",
          "type": "string"
        },
        "attachment": {
          "readOnly": true,
          "$ref": "Attachment",
          "description": "Output only. An attachment attached to the case."
        },
        "emailMessage": {
          "readOnly": true,
          "$ref": "EmailMessage",
          "description": "Output only. An email message received in reply to the case."
        },
        "comment": {
          "readOnly": true,
          "$ref": "Comment",
          "description": "Output only. A comment added to the case."
        }
      }
    },
    "ListSupportEventSubscriptionsResponse": {
      "id": "ListSupportEventSubscriptionsResponse",
      "description": "Response message for ListSupportEventSubscriptions.",
      "type": "object",
      "properties": {
        "supportEventSubscriptions": {
          "items": {
            "$ref": "SupportEventSubscription"
          },
          "description": "The support event subscriptions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ObjectId": {
      "id": "ObjectId",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "bucketName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "generation": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectName": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      }
    },
    "EscalateCaseRequest": {
      "id": "EscalateCaseRequest",
      "description": "The request message for the EscalateCase endpoint.",
      "type": "object",
      "properties": {
        "escalation": {
          "$ref": "Escalation",
          "description": "The escalation information to be sent with the escalation request."
        }
      }
    },
    "CloseCaseRequest": {
      "type": "object",
      "properties": {},
      "id": "CloseCaseRequest",
      "description": "The request message for the CloseCase endpoint."
    },
    "UndeleteSupportEventSubscriptionRequest": {
      "type": "object",
      "properties": {},
      "id": "UndeleteSupportEventSubscriptionRequest",
      "description": "Request message for UndeleteSupportEventSubscription."
    },
    "ShowFeedResponse": {
      "type": "object",
      "properties": {
        "feedItems": {
          "items": {
            "$ref": "FeedItem"
          },
          "type": "array",
          "description": "The list of feed items associated with the given Case."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ShowFeedRequests`. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "id": "ShowFeedResponse",
      "description": "The response message for the ShowFeed endpoint."
    },
    "DiffVersionResponse": {
      "id": "DiffVersionResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectSizeBytes": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        }
      }
    },
    "Blobstore2Info": {
      "id": "Blobstore2Info",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "uploadFragmentListCreationInfo": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "blobId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "downloadReadHandle": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "readToken": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "uploadMetadataContainer": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "downloadExternalReadToken": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "blobGeneration": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "EmailMessage": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Time when this email message object was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "subject": {
          "description": "Output only. Subject of the email.",
          "type": "string",
          "readOnly": true
        },
        "ccEmailAddresses": {
          "description": "Output only. Email addresses CCed on the email.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "recipientEmailAddresses": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Email addresses the email was sent to.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for the email message."
        },
        "actor": {
          "readOnly": true,
          "$ref": "Actor",
          "description": "Output only. The user or Google Support agent that created this email message. This is inferred from the headers on the email message."
        },
        "bodyContent": {
          "description": "Output only. The full email message body. A best-effort attempt is made to remove extraneous reply threads.",
          "readOnly": true,
          "$ref": "TextContent"
        }
      },
      "id": "EmailMessage",
      "description": "An email associated with a support case."
    },
    "SupportEventSubscription": {
      "id": "SupportEventSubscription",
      "description": "A support event subscription.",
      "type": "object",
      "properties": {
        "deleteTime": {
          "description": "Output only. The time at which the subscription was deleted.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "pubSubTopic": {
          "type": "string",
          "description": "Required. The name of the Pub/Sub topic to publish notifications to. Format: projects/{project}/topics/{topic}"
        },
        "purgeTime": {
          "type": "string",
          "description": "Output only. The time at which the subscription will be purged.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the subscription was created.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the subscription.",
          "enumDescriptions": [
            "Unspecified state.",
            "Subscription is active and working.",
            "Subscription is failing. Notifications cannot be published for some reason.",
            "Subscription has been deleted and is pending purge. Notifications are not sent for deleted subscriptions. Deleted subscriptions are purged after their `purge_time` has passed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "WORKING",
            "FAILING",
            "DELETED"
          ],
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the subscription was last updated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the support event subscription."
        },
        "failureReason": {
          "enumDescriptions": [
            "Unspecified failure reason.",
            "The service account (i.e. cloud-support-apievents@system.gserviceaccount.com) lacks the permission to publish to the customer's Pub/Sub topic.",
            "The specified Pub/Sub topic does not exist.",
            "Message failed to publish due to a system-side error."
          ],
          "enum": [
            "FAILURE_REASON_UNSPECIFIED",
            "PERMISSION_DENIED",
            "TOPIC_NOT_FOUND",
            "OTHER"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Reason why subscription is failing. State of subscription must be FAILING in order for this to have a value."
        }
      }
    },
    "DiffDownloadResponse": {
      "type": "object",
      "properties": {
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      },
      "id": "DiffDownloadResponse",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "CaseClassification": {
      "type": "object",
      "properties": {
        "product": {
          "description": "The full product the classification corresponds to.",
          "$ref": "Product"
        },
        "id": {
          "description": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`. Classification IDs returned by `caseClassifications.search` are guaranteed to be valid for at least 6 months. If a given classification is deactiveated, it will immediately stop being returned. After 6 months, `case.create` requests using the classification ID will fail.",
          "type": "string"
        },
        "displayName": {
          "description": "A display name for the classification. The display name is not static and can change. To uniquely and consistently identify classifications, use the `CaseClassification.id` field.",
          "type": "string"
        }
      },
      "id": "CaseClassification",
      "description": "A Case Classification represents the topic that a case is about. It's very important to use accurate classifications, because they're used to route your cases to specialists who can help you. A classification always has an ID that is its unique identifier. A valid ID is required when creating a case."
    },
    "Actor": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the actor. If not provided, it is inferred from the credentials supplied during case creation. When a name is provided, an email must also be provided. If the user is a Google Support agent, this is obfuscated. This field is deprecated. Use `username` instead.",
          "deprecated": true
        },
        "googleSupport": {
          "type": "boolean",
          "description": "Output only. Whether the actor is a Google support actor.",
          "readOnly": true
        },
        "username": {
          "type": "string",
          "description": "Output only. The username of the actor. It may look like an email or other format provided by the identity provider. If not provided, it is inferred from the credentials supplied. When a name is provided, a username must also be provided. If the user is a Google Support agent, this will not be set.",
          "readOnly": true
        },
        "displayName": {
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent.",
          "type": "string"
        }
      },
      "id": "Actor",
      "description": "An Actor represents an entity that performed an action. For example, an actor could be a user who posted a comment on a support case, a user who uploaded an attachment, or a service account that created a support case."
    },
    "DiffUploadResponse": {
      "id": "DiffUploadResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "originalObject": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "DiffUploadRequest": {
      "type": "object",
      "properties": {
        "objectInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "checksumsInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DiffUploadRequest",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "DownloadParameters": {
      "id": "DownloadParameters",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "ignoreRange": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "allowGzipCompression": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        }
      }
    },
    "SearchCaseClassificationsResponse": {
      "type": "object",
      "properties": {
        "caseClassifications": {
          "items": {
            "$ref": "CaseClassification"
          },
          "type": "array",
          "description": "The classifications retrieved."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `caseClassifications.list` requests. If unspecified, there are no more results to retrieve."
        }
      },
      "id": "SearchCaseClassificationsResponse",
      "description": "The response message for SearchCaseClassifications endpoint."
    },
    "Case": {
      "id": "Case",
      "description": "A Case is an object that contains the details of a support case. It contains fields for the time it was created, its priority, its classification, and more. Cases can also have comments and attachments that get added over time. A case is parented by a Google Cloud organization or project. Organizations are identified by a number, so the name of a case parented by an organization would look like this: ``` organizations/123/cases/456 ``` Projects have two unique identifiers, an ID and a number, and they look like this: ``` projects/abc/cases/456 ``` ``` projects/123/cases/456 ``` You can use either of them when calling the API. To learn more about project identifiers, see [AIP-2510](https://google.aip.dev/cloud/2510).",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this case was created.",
          "type": "string"
        },
        "languageCode": {
          "description": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours",
          "type": "string"
        },
        "description": {
          "description": "A broad description of the issue.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name for the case.",
          "type": "string"
        },
        "subscriberEmailAddresses": {
          "description": "The email addresses to receive updates on this case.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "description": "REMOVED. The severity of this case. Use priority instead.",
          "type": "string",
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "S0",
            "S1",
            "S2",
            "S3",
            "S4"
          ]
        },
        "contactEmail": {
          "description": "A user-supplied email address to send case update notifications for. This should only be used in BYOID flows, where we cannot infer the user's email address directly from their EUCs.",
          "type": "string"
        },
        "priority": {
          "enumDescriptions": [
            "Priority is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "type": "string",
          "description": "The priority of this case."
        },
        "creator": {
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support.",
          "$ref": "Actor"
        },
        "timeZone": {
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ],
          "description": "Output only. The current status of the support case.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this case was last updated.",
          "type": "string"
        },
        "testCase": {
          "type": "boolean",
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team."
        },
        "escalated": {
          "type": "boolean",
          "description": "Whether the case is currently escalated."
        },
        "displayName": {
          "description": "The short summary of the issue reported in this case.",
          "type": "string"
        },
        "classification": {
          "$ref": "CaseClassification",
          "description": "The issue classification applicable to this case."
        }
      }
    }
  },
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260628",
  "title": "Google Cloud Support API",
  "kind": "discovery#restDescription"
}