{
  "basePath": "",
  "title": "Cloud Product Registry API",
  "version": "v1",
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "protocol": "rest",
  "canonicalName": "Cloud Product Registry",
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "cloudproductregistry",
  "version_module": true,
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "revision": "20260827",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "ownerDomain": "google.com",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "id": "cloudproductregistry:v1",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "description": "Cloud Product Registry API provides capabilities to access all first Google Cloud products.",
  "ownerName": "Google",
  "resources": {
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "lookupEntity": {
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "description": "Look up entities.",
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "httpMethod": "GET",
              "parameterOrder": [
                "lookupUri"
              ],
              "path": "v1/{+lookupUri}:lookupEntity",
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "parameters": {
                "lookupUri": {
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "description": "Get details of a LogicalProductVariant.",
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}",
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$"
                }
              },
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "path": "v1/{+name}"
            },
            "list": {
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "type": "string",
                  "pattern": "^logicalProducts/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "description": "Lists LogicalProductVariants matching given criteria.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "path": "v1/{+parent}/variants"
            }
          }
        }
      },
      "methods": {
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "description": "Lists LogicalProducts matching given criteria.",
          "parameters": {
            "filter": {
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "type": "string"
            }
          },
          "flatPath": "v1/logicalProducts",
          "id": "cloudproductregistry.logicalProducts.list",
          "httpMethod": "GET",
          "path": "v1/logicalProducts"
        },
        "lookupEntity": {
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "httpMethod": "GET",
          "parameterOrder": [
            "lookupUri"
          ],
          "path": "v1/{+lookupUri}:lookupEntity",
          "parameters": {
            "lookupUri": {
              "pattern": "^logicalProducts/[^/]+$",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "description": "Look up entities."
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets details of a LogicalProduct.",
          "response": {
            "$ref": "LogicalProduct"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^logicalProducts/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "cloudproductregistry.logicalProducts.get",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "path": "v1/{+name}"
        }
      }
    },
    "productSuites": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^productSuites/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}"
            }
          },
          "description": "Get details of a ProductSuite.",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "ProductSuite"
          },
          "id": "cloudproductregistry.productSuites.get"
        },
        "list": {
          "httpMethod": "GET",
          "description": "Lists ProductSuites.",
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "id": "cloudproductregistry.productSuites.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token."
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "v1/productSuites",
          "path": "v1/productSuites",
          "parameterOrder": []
        },
        "lookupEntity": {
          "parameterOrder": [
            "lookupUri"
          ],
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "path": "v1/{+lookupUri}:lookupEntity",
          "description": "Look up entities.",
          "httpMethod": "GET",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity",
          "parameters": {
            "lookupUri": {
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "location": "path",
              "pattern": "^productSuites/[^/]+$",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "LookupEntityResponse": {
      "description": "Response message for LookupEntity.",
      "id": "LookupEntityResponse",
      "type": "object",
      "properties": {
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        },
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        },
        "productSuite": {
          "$ref": "ProductSuite",
          "description": "Matched ProductSuite."
        }
      }
    },
    "ListProductSuitesResponse": {
      "id": "ListProductSuitesResponse",
      "properties": {
        "productSuites": {
          "type": "array",
          "items": {
            "$ref": "ProductSuite"
          },
          "description": "Matched ProductSuites"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListProductSuites.",
      "type": "object"
    },
    "LogicalProductVariant": {
      "id": "LogicalProductVariant",
      "type": "object",
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment.",
      "properties": {
        "lifecycleState": {
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "readOnly": true,
          "description": "Output only. Current Lifecycle state of the logical product variant.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ]
        },
        "replaced": {
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean",
          "readOnly": true
        },
        "replacement": {
          "type": "string",
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc.",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProductVariant."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}"
        }
      }
    },
    "ProductSuite": {
      "properties": {
        "replacement": {
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc.",
          "readOnly": true,
          "type": "string"
        },
        "logicalProducts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}"
        },
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        },
        "replaced": {
          "type": "boolean",
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true
        }
      },
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "type": "object",
      "id": "ProductSuite"
    },
    "LogicalProduct": {
      "description": "Represents an independent service offering that can be provisioned by a customer.",
      "properties": {
        "lifecycleState": {
          "readOnly": true,
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "type": "string",
          "description": "Output only. Current Lifecycle state of the logical product.",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        },
        "replaced": {
          "type": "boolean",
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true
        },
        "variants": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}"
        },
        "title": {
          "type": "string",
          "description": "Display name of the LogicalProduct."
        },
        "replacement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc."
        },
        "productSuite": {
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LogicalProduct"
    },
    "ListLogicalProductsResponse": {
      "description": "Response message for ListLogicalProducts.",
      "properties": {
        "logicalProducts": {
          "type": "array",
          "description": "Matched LogicalProducts",
          "items": {
            "$ref": "LogicalProduct"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListLogicalProductsResponse",
      "type": "object"
    },
    "ListLogicalProductVariantsResponse": {
      "description": "Response message for ListLogicalProductVariants.",
      "type": "object",
      "properties": {
        "logicalProductVariants": {
          "description": "Matched LogicalProductVariants",
          "type": "array",
          "items": {
            "$ref": "LogicalProductVariant"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListLogicalProductVariantsResponse"
    }
  }
}