{
  "batchPath": "batch",
  "canonicalName": "Cloud Build",
  "ownerDomain": "google.com",
  "version": "v2",
  "title": "Cloud Build API",
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "name": "cloudbuild",
  "servicePath": "",
  "id": "cloudbuild:v2",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Creates and manages builds on Google Cloud Platform.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "discoveryVersion": "v1",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "version_module": true,
  "endpoints": [
    {
      "endpointUrl": "https://cloudbuild.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://cloudbuild.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://cloudbuild.asia-northeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://cloudbuild.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://cloudbuild.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://cloudbuild.asia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://cloudbuild.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://cloudbuild.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://cloudbuild.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://cloudbuild.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-southwest1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://cloudbuild.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://cloudbuild.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.europe-west6.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://cloudbuild.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://cloudbuild.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://cloudbuild.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://cloudbuild.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://cloudbuild.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://cloudbuild.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://cloudbuild.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://cloudbuild.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://cloudbuild.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://cloudbuild.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:cancel",
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "id": "cloudbuild.projects.locations.operations.get"
                }
              }
            },
            "connections": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If set, validate the request, but do not actually post it.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. The name of the Connection to delete. Format: `projects/*/locations/*/connections/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "id": "cloudbuild.projects.locations.connections.delete",
                  "description": "Deletes a single connection.",
                  "path": "v2/{+name}"
                },
                "fetchLinkableRepositories": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchLinkableRepositories",
                  "response": {
                    "$ref": "FetchLinkableRepositoriesResponse"
                  },
                  "description": "FetchLinkableRepositories get repositories from SCM that are accessible and could be added to the connection.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "connection"
                  ],
                  "id": "cloudbuild.projects.locations.connections.fetchLinkableRepositories",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of results to return in the list. Default to 20.",
                      "location": "query"
                    },
                    "connection": {
                      "description": "Required. The name of the Connection. Format: `projects/*/locations/*/connections/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page start."
                    }
                  },
                  "path": "v2/{+connection}:fetchLinkableRepositories"
                },
                "processWebhook": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`."
                    },
                    "webhookKey": {
                      "type": "string",
                      "location": "query",
                      "description": "Arbitrary additional key to find the matching repository for a webhook event if needed."
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections:processWebhook",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "cloudbuild.projects.locations.connections.processWebhook",
                  "path": "v2/{+parent}/connections:processWebhook",
                  "description": "ProcessWebhook is called by the external SCM for notifying of events.",
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+resource}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "cloudbuild.projects.locations.connections.setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Connection to retrieve. Format: `projects/*/locations/*/connections/*`.",
                      "type": "string"
                    }
                  },
                  "description": "Gets details of a single connection.",
                  "id": "cloudbuild.projects.locations.connections.get",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "response": {
                    "$ref": "Connection"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Connection"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a single connection.",
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "description": "The current etag of the connection. If an etag is provided and does not match the current etag of the connection, update will be blocked and an ABORTED error will be returned.",
                      "type": "string"
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "If set to true, and the connection is not found a new connection will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input connection has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties).",
                      "type": "boolean"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "The list of fields to be updated."
                    },
                    "name": {
                      "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudbuild.projects.locations.connections.patch",
                  "path": "v2/{+name}"
                },
                "create": {
                  "path": "v2/{+parent}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbuild.projects.locations.connections.create",
                  "description": "Creates a Connection.",
                  "request": {
                    "$ref": "Connection"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "connectionId": {
                      "description": "Required. The ID to use for the Connection, which will become the final component of the Connection's resource name. Names must be unique per-project per-location. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Project and location where the connection will be created. Format: `projects/*/locations/*`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections",
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  },
                  "description": "Lists Connections in a given project and location.",
                  "path": "v2/{+parent}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.connections.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Number of results to return in the list."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page start."
                    },
                    "returnPartialSuccess": {
                      "description": "Optional. If set to true, the response will return partial results when some regions are unreachable. If set to false, the response will fail if any region is unreachable.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of Connections. Format: `projects/*/locations/*`.",
                      "type": "string"
                    }
                  }
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "path": "v2/{+resource}:testIamPermissions",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "id": "cloudbuild.projects.locations.connections.testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "getIamPolicy": {
                  "path": "v2/{+resource}:getIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "id": "cloudbuild.projects.locations.connections.getIamPolicy",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  }
                }
              },
              "resources": {
                "repositories": {
                  "methods": {
                    "create": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there."
                        },
                        "repositoryId": {
                          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Repository"
                      },
                      "description": "Creates a Repository.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+parent}/repositories",
                      "id": "cloudbuild.projects.locations.connections.repositories.create"
                    },
                    "batchCreate": {
                      "path": "v2/{+parent}/repositories:batchCreate",
                      "id": "cloudbuild.projects.locations.connections.repositories.batchCreate",
                      "request": {
                        "$ref": "BatchCreateRepositoriesRequest"
                      },
                      "description": "Creates multiple repositories inside a connection.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories:batchCreate",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The connection to contain all the repositories being created. Format: projects/*/locations/*/connections/* The parent field in the CreateRepositoryRequest messages must either be empty or match this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                        }
                      }
                    },
                    "delete": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "validateOnly": {
                          "description": "If set, validate the request, but do not actually post it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the Repository to delete. Format: `projects/*/locations/*/connections/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$"
                        },
                        "etag": {
                          "location": "query",
                          "description": "The current etag of the repository. If an etag is provided and does not match the current etag of the repository, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        }
                      },
                      "description": "Deletes a single repository.",
                      "path": "v2/{+name}",
                      "id": "cloudbuild.projects.locations.connections.repositories.delete"
                    },
                    "fetchGitRefs": {
                      "id": "cloudbuild.projects.locations.connections.repositories.fetchGitRefs",
                      "path": "v2/{+repository}:fetchGitRefs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "repository": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. Page start.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Number of results to return in the list. Default to 20.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "refType": {
                          "enum": [
                            "REF_TYPE_UNSPECIFIED",
                            "TAG",
                            "BRANCH"
                          ],
                          "location": "query",
                          "description": "Type of refs to fetch",
                          "type": "string",
                          "enumDescriptions": [
                            "No type specified.",
                            "To fetch tags.",
                            "To fetch branches."
                          ]
                        }
                      },
                      "parameterOrder": [
                        "repository"
                      ],
                      "description": "Fetch the list of branches or tags for a given repository.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:fetchGitRefs",
                      "response": {
                        "$ref": "FetchGitRefsResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Page start.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Number of results to return in the list.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent, which owns this collection of Repositories. Format: `projects/*/locations/*/connections/*`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "Optional. If set to true, the response will return partial results when some regions are unreachable. If set to false, the response will fail if any region is unreachable.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "A filter expression that filters resources listed in the response. Expressions must follow API improvement proposal [AIP-160](https://google.aip.dev/160). e.g. `remote_uri:\"https://github.com*\"`.",
                          "type": "string"
                        }
                      },
                      "description": "Lists Repositories in a given connection.",
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/repositories",
                      "id": "cloudbuild.projects.locations.connections.repositories.list",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories",
                      "response": {
                        "$ref": "ListRepositoriesResponse"
                      }
                    },
                    "get": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}",
                      "response": {
                        "$ref": "Repository"
                      },
                      "httpMethod": "GET",
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the Repository to retrieve. Format: `projects/*/locations/*/connections/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Gets details of a single repository.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "cloudbuild.projects.locations.connections.repositories.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "accessReadWriteToken": {
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadWriteToken",
                      "request": {
                        "$ref": "FetchReadWriteTokenRequest"
                      },
                      "parameterOrder": [
                        "repository"
                      ],
                      "parameters": {
                        "repository": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`."
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadWriteToken",
                      "response": {
                        "$ref": "FetchReadWriteTokenResponse"
                      },
                      "description": "Fetches read/write token of a given repository.",
                      "path": "v2/{+repository}:accessReadWriteToken"
                    },
                    "accessReadToken": {
                      "id": "cloudbuild.projects.locations.connections.repositories.accessReadToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "repository": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the repository in the format `projects/*/locations/*/connections/*/repositories/*`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "repository"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "FetchReadTokenRequest"
                      },
                      "description": "Fetches read token of a given repository.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/repositories/{repositoriesId}:accessReadToken",
                      "response": {
                        "$ref": "FetchReadTokenResponse"
                      },
                      "path": "v2/{+repository}:accessReadToken"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbuild.projects.locations.get",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "path": "v2/{+name}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v2/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "id": "cloudbuild.projects.locations.list",
              "path": "v2/{+name}/locations",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "BitbucketCloudConfig": {
      "type": "object",
      "properties": {
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the `webhook`, `repository`, `repository:admin` and `pullrequest` scope access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate these credentials."
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*`."
        },
        "readAuthorizerCredential": {
          "description": "Required. An access token with the `repository` access. It can be either a workspace, project or repository access token. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        },
        "workspace": {
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform.",
          "type": "string"
        }
      },
      "id": "BitbucketCloudConfig",
      "description": "Configuration for connections to Bitbucket Cloud."
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method."
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "type": "array",
          "description": "The list of Repositories."
        }
      },
      "description": "Message for response to listing Repositories."
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "TaskResult": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the result."
        },
        "name": {
          "description": "Name of the result.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of data that the result holds.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ]
        },
        "properties": {
          "description": "When type is OBJECT, this map holds the names of fields inside that object along with the type of data each field holds.",
          "type": "object",
          "additionalProperties": {
            "$ref": "PropertySpec"
          }
        },
        "value": {
          "$ref": "ParamValue",
          "description": "Optional. Optionally used to initialize a Task's result with a Step's result."
        }
      },
      "id": "TaskResult",
      "type": "object",
      "description": "TaskResult is used to describe the results of a task."
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "GoogleDevtoolsCloudbuildV2OperationMetadata": {
      "id": "GoogleDevtoolsCloudbuildV2OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RunWorkflowCustomOperationMetadata": {
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "pipelineRunId": {
          "description": "Output only. ID of the pipeline run created by RunWorkflow.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        }
      },
      "type": "object",
      "id": "RunWorkflowCustomOperationMetadata",
      "description": "Represents the custom metadata of the RunWorkflow long-running operation."
    },
    "FetchReadWriteTokenRequest": {
      "properties": {},
      "id": "FetchReadWriteTokenRequest",
      "type": "object",
      "description": "Message for fetching SCM read/write token."
    },
    "Provenance": {
      "id": "Provenance",
      "properties": {
        "enabled": {
          "enumDescriptions": [
            "Default to disabled (before AA regionalization), optimistic after",
            "Provenance failures would fail the run",
            "GCB will attempt to push to artifact analaysis and build state would not be impacted by the push failures.",
            "Disable the provenance push entirely."
          ],
          "type": "string",
          "enum": [
            "ENABLED_UNSPECIFIED",
            "REQUIRED",
            "OPTIMISTIC",
            "DISABLED"
          ],
          "description": "Optional. Provenance push mode."
        },
        "region": {
          "enumDescriptions": [
            "The PipelineRun/TaskRun/Workflow will be rejected. Update this comment to push to the same region as the run in Artifact Analysis when it's regionalized.",
            "Push provenance to Artifact Analysis in global region."
          ],
          "description": "Optional. Provenance region.",
          "enum": [
            "REGION_UNSPECIFIED",
            "GLOBAL"
          ],
          "type": "string"
        },
        "storage": {
          "enum": [
            "STORAGE_UNSPECIFIED",
            "PREFER_ARTIFACT_PROJECT",
            "ARTIFACT_PROJECT_ONLY",
            "BUILD_PROJECT_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default PREFER_ARTIFACT_PROJECT.",
            "GCB will attempt to push provenance to the artifact project. If it is not available, fallback to build project.",
            "Only push to artifact project.",
            "Only push to build project."
          ],
          "description": "Optional. Where provenance is stored."
        }
      },
      "description": "Provenance configuration.",
      "type": "object"
    },
    "EmbeddedTask": {
      "properties": {
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User annotations. See https://google.aip.dev/128#annotations"
        },
        "taskSpec": {
          "$ref": "TaskSpec",
          "description": "Spec to instantiate this TaskRun."
        }
      },
      "type": "object",
      "description": "EmbeddedTask defines a Task that is embedded in a Pipeline.",
      "id": "EmbeddedTask"
    },
    "FetchGitRefsResponse": {
      "id": "FetchGitRefsResponse",
      "properties": {
        "refNames": {
          "description": "Name of the refs fetched.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response for fetching git refs",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "Param": {
      "id": "Param",
      "description": "Param defined with name and value. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the parameter."
        },
        "value": {
          "description": "Value of the parameter.",
          "$ref": "ParamValue"
        }
      }
    },
    "HttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "id": "HttpBody",
      "type": "object",
      "properties": {
        "extensions": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "data": {
          "format": "byte",
          "description": "The HTTP request/response body as raw binary.",
          "type": "string"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      }
    },
    "Repository": {
      "description": "A repository associated to a parent connection.",
      "id": "Repository",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Immutable. Resource name of the repository, in the format `projects/*/locations/*/connections/*/repositories/*`.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Allows clients to store small amounts of arbitrary data."
        },
        "webhookId": {
          "readOnly": true,
          "description": "Output only. External ID of the webhook created for the repository.",
          "type": "string"
        },
        "remoteUri": {
          "description": "Required. Git Clone HTTPS URI.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "updateTime": {
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "VolumeMount": {
      "description": "Pod volumes to mount into the container's filesystem.",
      "type": "object",
      "properties": {
        "mountPath": {
          "description": "Path within the container at which the volume should be mounted. Must not contain ':'.",
          "type": "string"
        },
        "readOnly": {
          "description": "Mounted read-only if true, read-write otherwise (false or unspecified).",
          "type": "boolean"
        },
        "subPath": {
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the volume."
        },
        "subPathExpr": {
          "type": "string",
          "description": "Expanded path within the volume from which the container's volume should be mounted. Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container's environment. Defaults to \"\" (volume's root)."
        }
      },
      "id": "VolumeMount"
    },
    "GitHubConfig": {
      "id": "GitHubConfig",
      "description": "Configuration for connections to github.com.",
      "properties": {
        "appInstallationId": {
          "description": "Optional. GitHub App installation id.",
          "format": "int64",
          "type": "string"
        },
        "authorizerCredential": {
          "$ref": "OAuthCredential",
          "description": "Optional. OAuth credential of the account that authorized the Cloud Build GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the Cloud Build GitHub App."
        }
      },
      "type": "object"
    },
    "PipelineWorkspaceDeclaration": {
      "id": "PipelineWorkspaceDeclaration",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name is the name of a workspace to be provided by a PipelineRun."
        },
        "description": {
          "type": "string",
          "description": "Description is a human readable string describing how the workspace will be used in the Pipeline."
        },
        "optional": {
          "type": "boolean",
          "description": "Optional marks a Workspace as not being required in PipelineRuns. By default this field is false and so declared workspaces are required."
        }
      },
      "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun."
    },
    "SecretVolumeSource": {
      "type": "object",
      "properties": {
        "secretName": {
          "description": "Name of the secret referenced by the WorkspaceBinding.",
          "type": "string"
        },
        "secretVersion": {
          "description": "Optional. Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "type": "string"
        }
      },
      "description": "Secret Volume Source.",
      "id": "SecretVolumeSource"
    },
    "TaskRef": {
      "id": "TaskRef",
      "description": "TaskRef can be used to refer to a specific instance of a task. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "properties": {
        "params": {
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the task."
        },
        "resolver": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https://tekton.dev/docs/pipelines/bundle-resolver/",
            "GCB repo resolver.",
            "Simple Git resolver. https://tekton.dev/docs/pipelines/git-resolver/",
            "Developer Connect resolver.",
            "Default resolver."
          ],
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT",
            "DEVELOPER_CONNECT",
            "DEFAULT"
          ],
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FetchLinkableRepositoriesResponse": {
      "id": "FetchLinkableRepositoriesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "repositories": {
          "description": "repositories ready to be created.",
          "items": {
            "$ref": "Repository"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for FetchLinkableRepositories."
    },
    "GoogleDevtoolsCloudbuildV2GitLabConfig": {
      "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise.",
      "id": "GoogleDevtoolsCloudbuildV2GitLabConfig",
      "type": "object",
      "properties": {
        "hostUri": {
          "description": "Optional. The URI of the GitLab Enterprise host this connection is for. If not specified, the default value is https://gitlab.com.",
          "type": "string"
        },
        "sslCa": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to GitLab Enterprise."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise server. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the `api` scope access."
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab Enterprise project, formatted as `projects/*/secrets/*/versions/*`."
        },
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access.",
          "$ref": "UserCredential"
        },
        "serverVersion": {
          "type": "string",
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "readOnly": true
        }
      }
    },
    "OAuthCredential": {
      "properties": {
        "oauthTokenSecretVersion": {
          "description": "Optional. A SecretManager resource containing the OAuth token that authorizes the Cloud Build connection. Format: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "username": {
          "readOnly": true,
          "description": "Output only. The username associated to this token.",
          "type": "string"
        }
      },
      "id": "OAuthCredential",
      "type": "object",
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata."
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "Binding",
      "type": "object"
    },
    "ChildStatusReference": {
      "description": "ChildStatusReference is used to point to the statuses of individual TaskRuns and Runs within this PipelineRun.",
      "type": "object",
      "id": "ChildStatusReference",
      "properties": {
        "pipelineTaskName": {
          "type": "string",
          "description": "PipelineTaskName is the name of the PipelineTask this is referencing."
        },
        "whenExpressions": {
          "items": {
            "$ref": "WhenExpression"
          },
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask",
          "type": "array"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "TaskRun."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TASK_RUN"
          ],
          "description": "Output only. Type of the child reference."
        },
        "name": {
          "description": "Name is the name of the TaskRun or Run this is referencing.",
          "type": "string"
        }
      }
    },
    "Connection": {
      "description": "A connection to a SCM like GitHub, GitHub Enterprise, Bitbucket Data Center, Bitbucket Cloud or GitLab.",
      "id": "Connection",
      "type": "object",
      "properties": {
        "githubEnterpriseConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig",
          "description": "Configuration for connections to an instance of GitHub Enterprise."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "bitbucketCloudConfig": {
          "description": "Configuration for connections to Bitbucket Cloud.",
          "$ref": "BitbucketCloudConfig"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Set to true when the connection is being set up or updated in the background."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "type": "string"
        },
        "installationState": {
          "description": "Output only. Installation state of the Connection.",
          "$ref": "InstallationState",
          "readOnly": true
        },
        "githubConfig": {
          "$ref": "GitHubConfig",
          "description": "Configuration for connections to github.com."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Allows clients to store small amounts of arbitrary data."
        },
        "gitlabConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV2GitLabConfig",
          "description": "Configuration for connections to gitlab.com or an instance of GitLab Enterprise."
        },
        "name": {
          "description": "Immutable. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "bitbucketDataCenterConfig": {
          "description": "Configuration for connections to Bitbucket Data Center.",
          "$ref": "BitbucketDataCenterConfig"
        }
      }
    },
    "SkippedTask": {
      "description": "SkippedTask is used to describe the Tasks that were skipped due to their When Expressions evaluating to False.",
      "id": "SkippedTask",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name is the Pipeline Task name",
          "type": "string"
        },
        "whenExpressions": {
          "type": "array",
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask",
          "items": {
            "$ref": "WhenExpression"
          }
        },
        "reason": {
          "readOnly": true,
          "description": "Output only. Reason is the cause of the PipelineTask being skipped.",
          "type": "string"
        }
      }
    },
    "WorkspaceBinding": {
      "description": "WorkspaceBinding maps a workspace to a Volume. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the workspace."
        },
        "secret": {
          "$ref": "SecretVolumeSource",
          "description": "Secret Volume Source."
        },
        "subPath": {
          "type": "string",
          "description": "Optional. SubPath is optionally a directory on the volume which should be used for this binding (i.e. the volume will be mounted at this sub directory). +optional"
        }
      },
      "id": "WorkspaceBinding"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "PipelineResult": {
      "id": "PipelineResult",
      "description": "A value produced by a Pipeline.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the result."
        },
        "value": {
          "description": "Output only. Value of the result.",
          "readOnly": true,
          "$ref": "ResultValue"
        },
        "type": {
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ],
          "description": "Output only. The type of data that the result holds.",
          "type": "string"
        },
        "description": {
          "description": "Output only. Description of the result.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ParamValue": {
      "properties": {
        "arrayVal": {
          "description": "Value of the parameter if type is array.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "stringVal": {
          "type": "string",
          "description": "Value of the parameter if type is string."
        },
        "objectVal": {
          "description": "Optional. Value of the parameter if type is object.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "description": "Type of parameter.",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type",
            "Object type"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY",
            "OBJECT"
          ]
        }
      },
      "id": "ParamValue",
      "type": "object",
      "description": "Parameter value."
    },
    "VolumeSource": {
      "id": "VolumeSource",
      "description": "Volumes available to mount.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the Volume. Must be a DNS_LABEL and unique within the pod. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names"
        },
        "emptyDir": {
          "$ref": "EmptyDirVolumeSource",
          "description": "A temporary directory that shares a pod's lifetime."
        }
      }
    },
    "Worker": {
      "id": "Worker",
      "description": "Configuration for the worker.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Optional. Machine type of a worker, default is \"e2-standard-2\".",
          "type": "string"
        }
      }
    },
    "WhenExpression": {
      "id": "WhenExpression",
      "type": "object",
      "description": "Conditions that need to be true for the task to run.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Values is an array of strings, which is compared against the input, for guard checking."
        },
        "expressionOperator": {
          "enum": [
            "EXPRESSION_OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "type": "string",
          "description": "Operator that represents an Input's relationship to the values",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Input is in values.",
            "Input is not in values."
          ]
        },
        "input": {
          "description": "Input is the string for guard checking which can be a static input or an output from a parent Task.",
          "type": "string"
        }
      }
    },
    "SecurityContext": {
      "description": "Security options the container should be run with.",
      "id": "SecurityContext",
      "type": "object",
      "properties": {
        "runAsUser": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional"
        },
        "privileged": {
          "description": "Run container in privileged mode.",
          "type": "boolean"
        },
        "runAsGroup": {
          "description": "Optional. The GID to run the entrypoint of the container process. Uses runtime default if unset. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. Note that this field cannot be set when spec.os.name is windows. +optional",
          "type": "string",
          "format": "int64"
        },
        "runAsNonRoot": {
          "type": "boolean",
          "description": "Optional. Indicates that the container must run as a non-root user. If true, the Kubelet will validate the image at runtime to ensure that it does not run as UID 0 (root) and fail to start the container if it does. If unset or false, no such validation will be performed. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional"
        },
        "allowPrivilegeEscalation": {
          "type": "boolean",
          "description": "Optional. AllowPrivilegeEscalation controls whether a process can gain more privileges than its parent process. This bool directly controls if the no_new_privs flag will be set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged 2) has CAP_SYS_ADMIN Note that this field cannot be set when spec.os.name is windows. +optional"
        }
      }
    },
    "Sidecar": {
      "type": "object",
      "description": "Sidecars run alongside the Task's step containers.",
      "id": "Sidecar",
      "properties": {
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Entrypoint array."
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint."
        },
        "env": {
          "description": "List of environment variables to set in the container.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "securityContext": {
          "description": "Optional. Security options the container should be run with.",
          "$ref": "SecurityContext"
        },
        "image": {
          "type": "string",
          "description": "Docker image name."
        },
        "volumeMounts": {
          "items": {
            "$ref": "VolumeMount"
          },
          "description": "Pod volumes to mount into the container's filesystem.",
          "type": "array"
        },
        "readinessProbe": {
          "$ref": "Probe",
          "description": "Optional. Periodic probe of Sidecar service readiness. Container will be removed from service endpoints if the probe fails. Cannot be updated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional"
        },
        "name": {
          "description": "Name of the Sidecar.",
          "type": "string"
        },
        "script": {
          "description": "The contents of an executable file to execute.",
          "type": "string"
        },
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        }
      }
    },
    "Policy": {
[...]
