{
  "canonicalName": "Cloud Build",
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "version_module": true,
  "revision": "20260627",
  "resources": {
    "operations": {
      "methods": {
        "cancel": {
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}:cancel",
          "id": "cloudbuild.operations.cancel",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true,
              "type": "string",
              "description": "The name of the operation resource to be cancelled."
            }
          },
          "flatPath": "v1/operations/{operationsId}:cancel",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CancelOperationRequest"
          }
        },
        "get": {
          "id": "cloudbuild.operations.get",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true,
              "type": "string",
              "description": "The name of the operation resource."
            }
          },
          "flatPath": "v1/operations/{operationsId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}"
        }
      }
    },
    "projects": {
      "resources": {
        "builds": {
          "methods": {
            "retry": {
              "description": "Creates a new build based on the specified build. Note: This method only applies to global (non-regional) builds when using the legacy resource path `projects/{project_id}/builds/{id}:retry`. To retry regional builds, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:retry`. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/builds/{id}:retry",
              "id": "cloudbuild.projects.builds.retry",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "required": true,
                  "type": "string"
                },
                "id": {
                  "location": "path",
                  "description": "Required. Build ID of the original build.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectId}/builds/{id}:retry",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "RetryBuildRequest"
              }
            },
            "get": {
              "id": "cloudbuild.projects.builds.get",
              "parameters": {
                "id": {
                  "description": "Required. ID of the build.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "name": {
                  "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectId}/builds/{id}",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "response": {
                "$ref": "Build"
              },
              "httpMethod": "GET",
              "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information. Note: This method only applies to global (non-regional) builds when using the legacy resource path `projects/{project_id}/builds/{id}`. To fetch regional builds, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/builds/{id}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/builds",
              "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully. Note: This method only lists global (non-regional) builds when using the legacy resource path `projects/{project_id}/builds`. To list regional builds, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
              "response": {
                "$ref": "ListBuildsResponse"
              },
              "httpMethod": "GET",
              "id": "cloudbuild.projects.builds.list",
              "parameters": {
                "pageSize": {
                  "description": "Number of results to return in the list.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "location": "query",
                  "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`",
                  "type": "string"
                },
                "projectId": {
                  "description": "Required. ID of the project.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "description": "The raw filter text to constrain the results.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectId}/builds",
              "parameterOrder": [
                "projectId"
              ]
            },
            "cancel": {
              "response": {
                "$ref": "Build"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelBuildRequest"
              },
              "id": "cloudbuild.projects.builds.cancel",
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "location": "path",
                  "description": "Required. ID of the build.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectId}/builds/{id}:cancel",
              "parameterOrder": [
                "projectId",
                "id"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/builds/{id}:cancel",
              "description": "Cancels a build in progress. Note: This method only applies to global (non-regional) builds when using the legacy resource path `projects/{project_id}/builds/{id}:cancel`. To cancel regional builds, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:cancel`."
            },
            "approve": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:approve",
              "description": "Approves or rejects a pending build. If approved, the returned long-running operation (LRO) will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "ApproveBuildRequest"
              },
              "id": "cloudbuild.projects.builds.approve",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/builds/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\""
                }
              },
              "flatPath": "v1/projects/{projectsId}/builds/{buildsId}:approve",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/builds",
              "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`). Note: This method only creates global (non-regional) builds when using the legacy resource path `projects/{project_id}/builds`. To create regional builds, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Build"
              },
              "id": "cloudbuild.projects.builds.create",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "required": true,
                  "type": "string"
                },
                "parent": {
                  "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectId}/builds",
              "parameterOrder": [
                "projectId"
              ]
            }
          }
        },
        "triggers": {
          "methods": {
            "get": {
              "description": "Returns information about a `BuildTrigger`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "id": "cloudbuild.projects.triggers.get",
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project that owns the trigger.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "triggerId": {
                  "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "name": {
                  "location": "query",
                  "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "response": {
                "$ref": "BuildTrigger"
              },
              "httpMethod": "GET"
            },
            "list": {
              "description": "Lists existing `BuildTrigger`s.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/triggers",
              "id": "cloudbuild.projects.triggers.list",
              "parameters": {
                "projectId": {
                  "description": "Required. ID of the project for which to list BuildTriggers.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Number of results to return in the list.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "ListBuildTriggersResponse"
              },
              "httpMethod": "GET"
            },
            "run": {
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "RepoSource"
              },
              "id": "cloudbuild.projects.triggers.run",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project.",
                  "required": true,
                  "type": "string"
                },
                "triggerId": {
                  "description": "Required. ID of the trigger.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "name": {
                  "location": "query",
                  "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/triggers/{triggerId}:run",
              "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers."
            },
            "patch": {
              "id": "cloudbuild.projects.triggers.patch",
              "parameters": {
                "triggerId": {
                  "location": "path",
                  "description": "Required. ID of the `BuildTrigger` to update.",
                  "required": true,
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project that owns the trigger.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "response": {
                "$ref": "BuildTrigger"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "BuildTrigger"
              },
              "description": "Updates a `BuildTrigger` by its project ID and trigger ID.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/triggers/{triggerId}"
            },
            "delete": {
              "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/triggers/{triggerId}",
              "id": "cloudbuild.projects.triggers.delete",
              "parameters": {
                "triggerId": {
                  "description": "Required. ID of the `BuildTrigger` to delete.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "name": {
                  "location": "query",
                  "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "description": "Required. ID of the project that owns the trigger.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers/{triggerId}",
              "parameterOrder": [
                "projectId",
                "triggerId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE"
            },
            "webhook": {
              "id": "cloudbuild.projects.triggers.webhook",
              "parameters": {
                "projectId": {
                  "description": "Project in which the specified trigger lives",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "secret": {
                  "location": "query",
                  "description": "Secret token used for authorization if an OAuth token isn't provided.",
                  "type": "string"
                },
                "trigger": {
                  "location": "path",
                  "description": "Name of the trigger to run the payload against",
                  "required": true,
                  "type": "string"
                },
                "name": {
                  "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectId}/triggers/{trigger}:webhook",
              "parameterOrder": [
                "projectId",
                "trigger"
              ],
              "response": {
                "$ref": "ReceiveTriggerWebhookResponse"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "HttpBody"
              },
              "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.",
              "path": "v1/projects/{projectId}/triggers/{trigger}:webhook"
            },
            "create": {
              "path": "v1/projects/{projectId}/triggers",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new `BuildTrigger`.",
              "httpMethod": "POST",
              "request": {
                "$ref": "BuildTrigger"
              },
              "response": {
                "$ref": "BuildTrigger"
              },
              "flatPath": "v1/projects/{projectId}/triggers",
              "parameterOrder": [
                "projectId"
              ],
              "id": "cloudbuild.projects.triggers.create",
              "parameters": {
                "parent": {
                  "location": "query",
                  "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`",
                  "type": "string"
                },
                "projectId": {
                  "description": "Required. ID of the project for which to configure automatic builds.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        },
        "githubEnterpriseConfigs": {
          "methods": {
            "create": {
              "id": "cloudbuild.projects.githubEnterpriseConfigs.create",
              "parameters": {
                "parent": {
                  "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "projectId": {
                  "description": "ID of the project.",
                  "deprecated": true,
                  "type": "string",
                  "location": "query"
                },
                "gheConfigId": {
                  "description": "Optional. The ID to use for the GithubEnterpriseConfig, which will become the final component of the GithubEnterpriseConfig's resource name. ghe_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "description": "Create an association between a GCP project and a GitHub Enterprise server.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/githubEnterpriseConfigs"
            },
            "delete": {
              "id": "cloudbuild.projects.githubEnterpriseConfigs.delete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\""
                },
                "configId": {
                  "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                  "deprecated": true,
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "location": "query",
                  "description": "ID of the project",
                  "deprecated": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "DELETE",
              "description": "Delete an association between a GCP project and a GitHub Enterprise server.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}"
            },
            "patch": {
              "id": "cloudbuild.projects.githubEnterpriseConfigs.patch",
              "parameters": {
                "name": {
                  "description": "Identifier. The full resource name for the GitHubEnterpriseConfig For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\"",
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GitHubEnterpriseConfig"
              },
              "description": "Update an association between a GCP project and a GitHub Enterprise server.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}"
            },
            "get": {
              "description": "Retrieve a GitHubEnterpriseConfig.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs/{githubEnterpriseConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbuild.projects.githubEnterpriseConfigs.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/githubEnterpriseConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "This field should contain the name of the enterprise config resource. For example: \"projects/{$project_id}/locations/{$location_id}/githubEnterpriseConfigs/{$config_id}\""
                },
                "configId": {
                  "description": "Unique identifier of the `GitHubEnterpriseConfig`",
                  "deprecated": true,
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "description": "ID of the project",
                  "deprecated": true,
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "GitHubEnterpriseConfig"
              }
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/githubEnterpriseConfigs",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudbuild.projects.githubEnterpriseConfigs.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}"
                },
                "projectId": {
                  "description": "ID of the project",
                  "deprecated": true,
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListGithubEnterpriseConfigsResponse"
              },
              "description": "List all GitHubEnterpriseConfigs for a given project.",
              "path": "v1/{+parent}/githubEnterpriseConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "getDefaultServiceAccount": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/defaultServiceAccount",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbuild.projects.locations.getDefaultServiceAccount",
              "parameters": {
                "name": {
                  "description": "Required. The name of the `DefaultServiceAccount` to retrieve. Format: `projects/{project}/locations/{location}/defaultServiceAccount`",
                  "pattern": "^projects/[^/]+/locations/[^/]+/defaultServiceAccount$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "DefaultServiceAccount"
              },
              "description": "Returns the `DefaultServiceAccount` used by the project.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  }
                }
              }
            },
            "workerPools": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.workerPools.delete",
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "description": "If set to true, and the `WorkerPool` is not found, the request will succeed but no action will be taken on the server.",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Required. The name of the `WorkerPool` to delete. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. If provided, it must match the server's etag on the workerpool for the request to be processed.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a `WorkerPool`."
                },
                "create": {
                  "id": "cloudbuild.projects.locations.workerPools.create",
                  "parameters": {
                    "workerPoolId": {
                      "location": "query",
                      "description": "Required. Immutable. The ID to use for the `WorkerPool`, which will become the final component of the resource name. This value should be 1-63 characters, and valid characters are /a-z-/.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource where this worker pool will be created. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "WorkerPool"
                  },
                  "description": "Creates a `WorkerPool`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/workerPools"
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "WorkerPool"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.workerPools.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the `WorkerPool` to retrieve. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`."
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns details of a `WorkerPool`."
                },
                "list": {
                  "response": {
                    "$ref": "ListWorkerPoolsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.workerPools.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent of the collection of `WorkerPools`. Format: `projects/{project}/locations/{location}`."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of `WorkerPool`s to return. The service may return fewer than this value. If omitted, the server will use a sensible default.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListWorkerPools` call. Provide this to retrieve the subsequent page.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/workerPools",
                  "description": "Lists `WorkerPool`s."
                },
                "patch": {
                  "description": "Updates a `WorkerPool`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "cloudbuild.projects.locations.workerPools.patch",
                  "parameters": {
                    "name": {
                      "description": "Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. A mask specifying which fields in `worker_pool` to update.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request and preview the response, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "WorkerPool"
                  }
                }
              }
            },
            "bitbucketServerConfigs": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a `BitbucketServerConfig`. This API is experimental.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The config resource name."
                    }
                  }
                },
                "create": {
                  "description": "Creates a new `BitbucketServerConfig`. This API is experimental.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.create",
                  "parameters": {
                    "bitbucketServerConfigId": {
                      "location": "query",
                      "description": "Optional. The ID to use for the BitbucketServerConfig, which will become the final component of the BitbucketServerConfig's resource name. bitbucket_server_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Name of the parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BitbucketServerConfig"
                  }
                },
                "removeBitbucketServerConnectedRepository": {
                  "path": "v1/{+config}:removeBitbucketServerConnectedRepository",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Remove a Bitbucket Server repository from a given BitbucketServerConfig's connected repositories. This API is experimental.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RemoveBitbucketServerConnectedRepositoryRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}:removeBitbucketServerConnectedRepository",
                  "parameterOrder": [
                    "config"
                  ],
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.removeBitbucketServerConnectedRepository",
                  "parameters": {
                    "config": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the `BitbucketServerConfig` to remove a connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`"
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Retrieve a `BitbucketServerConfig`. This API is experimental.",
                  "response": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The config resource name."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListBitbucketServerConfigsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 50 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListBitbucketServerConfigsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/bitbucketServerConfigs",
                  "description": "List all `BitbucketServerConfigs` for a given project. This API is experimental."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "BitbucketServerConfig"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.bitbucketServerConfigs.patch",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name for the config.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing `BitbucketServerConfig`. This API is experimental."
                }
              },
              "resources": {
                "repos": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/repos",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.repos.list",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous `ListBitbucketServerRepositoriesRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBitbucketServerConfigsRequest` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of configs to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. Name of the parent resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListBitbucketServerRepositoriesResponse"
                      },
                      "description": "List all repositories for a given `BitbucketServerConfig`. This API is experimental.",
                      "path": "v1/{+parent}/repos",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "connectedRepositories": {
                  "methods": {
                    "batchCreate": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "BatchCreateBitbucketServerConnectedRepositoriesRequest"
                      },
                      "id": "cloudbuild.projects.locations.bitbucketServerConfigs.connectedRepositories.batchCreate",
                      "parameters": {
                        "parent": {
                          "description": "The name of the `BitbucketServerConfig` that added connected repository. Format: `projects/{project}/locations/{location}/bitbucketServerConfigs/{config}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/bitbucketServerConfigs/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bitbucketServerConfigs/{bitbucketServerConfigsId}/connectedRepositories:batchCreate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/connectedRepositories:batchCreate",
                      "description": "Batch connecting Bitbucket Server repositories to Cloud Build."
                    }
                  }
                }
              }
            },
            "builds": {
              "methods": {
                "cancel": {
                  "response": {
                    "$ref": "Build"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelBuildRequest"
                  },
                  "id": "cloudbuild.projects.locations.builds.cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "description": "Cancels a build in progress. Note: This method only applies to global (non-regional) builds when using the legacy resource path `projects/{project_id}/builds/{id}:cancel`. To cancel regional builds, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:cancel`."
                },
                "approve": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ApproveBuildRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:approve",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.builds.approve",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the target build. For example: \"projects/{$project_id}/builds/{$build_id}\""
                    }
                  },
                  "path": "v1/{+name}:approve",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Approves or rejects a pending build. If approved, the returned long-running operation (LRO) will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done."
                },
                "retry": {
                  "description": "Creates a new build based on the specified build. Note: This method only applies to global (non-regional) builds when using the legacy resource path `projects/{project_id}/builds/{id}:retry`. To retry regional builds, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}:retry`. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:retry",
                  "id": "cloudbuild.projects.locations.builds.retry",
                  "parameters": {
                    "name": {
                      "description": "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}:retry",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RetryBuildRequest"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information. Note: This method only applies to global (non-regional) builds when using the legacy resource path `projects/{project_id}/builds/{id}`. To fetch regional builds, use the regional resource path: `projects/{project_id}/locations/{location}/builds/{id}`.",
                  "response": {
                    "$ref": "Build"
                  },
                  "httpMethod": "GET",
                  "id": "cloudbuild.projects.locations.builds.get",
                  "parameters": {
                    "name": {
                      "description": "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/builds/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "id": {
                      "description": "Required. ID of the build.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds/{buildsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "description": "Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully. Note: This method only lists global (non-regional) builds when using the legacy resource path `projects/{project_id}/builds`. To list regional builds, use the regional resource path: `projects/{project_id}/locations/{location}/builds`.",
                  "path": "v1/{+parent}/builds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.builds.list",
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The raw filter text to constrain the results.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "The parent of the collection of `Builds`. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Number of results to return in the list.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListBuildsResponse"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Build"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/builds",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.builds.create",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/builds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`). Note: This method only creates global (non-regional) builds when using the legacy resource path `projects/{project_id}/builds`. To create regional builds, use the regional resource path: `projects/{project_id}/locations/{location}/builds`."
                }
              }
            },
            "gitLabConfigs": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/gitLabConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "deprecated": true,
                  "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. Creates a new `GitLabConfig`. This API is experimental",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GitLabConfig"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.gitLabConfigs.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the parent resource."
                    },
                    "gitlabConfigId": {
                      "description": "Optional. The ID to use for the GitLabConfig, which will become the final component of the GitLabConfig’s resource name. gitlab_config_id must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.gitLabConfigs.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The config resource name."
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "deprecated": true,
                  "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. Delete a `GitLabConfig`. This API is experimental",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "removeGitLabConnectedRepository": {
                  "deprecated": true,
                  "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. Remove a GitLab repository from a given GitLabConfig's connected repositories. This API is experimental.",
                  "path": "v1/{+config}:removeGitLabConnectedRepository",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}:removeGitLabConnectedRepository",
                  "parameterOrder": [
                    "config"
                  ],
                  "id": "cloudbuild.projects.locations.gitLabConfigs.removeGitLabConnectedRepository",
                  "parameters": {
                    "config": {
                      "description": "Required. The name of the `GitLabConfig` to remove a connected repository. Format: `projects/{project}/locations/{location}/gitLabConfigs/{config}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RemoveGitLabConnectedRepositoryRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GitLabConfig"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.gitLabConfigs.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "Identifier. The resource name for the config.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "deprecated": true,
                  "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. Updates an existing `GitLabConfig`. This API is experimental"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.gitLabConfigs.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The config resource name."
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GitLabConfig"
                  },
                  "deprecated": true,
                  "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. Retrieves a `GitLabConfig`. This API is experimental",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListGitLabConfigsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.gitLabConfigs.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 50 configs will be returned. The maximum value is 1000;, values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. Name of the parent resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous ‘ListGitlabConfigsRequest’ call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ‘ListGitlabConfigsRequest’ must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/gitLabConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "deprecated": true,
                  "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. List all `GitLabConfigs` for a given project. This API is experimental"
                }
              },
              "resources": {
                "repos": {
                  "methods": {
                    "list": {
                      "deprecated": true,
                      "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. List all repositories for a given `GitLabConfig`. This API is experimental",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/repos",
                      "id": "cloudbuild.projects.locations.gitLabConfigs.repos.list",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous ListGitLabRepositoriesRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGitLabRepositoriesRequest` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the parent resource."
                        },
                        "pageSize": {
                          "description": "The maximum number of repositories to return. The service may return fewer than this value.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}/repos",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListGitLabRepositoriesResponse"
                      },
                      "httpMethod": "GET"
                    }
                  },
                  "deprecated": true
                },
                "connectedRepositories": {
                  "methods": {
                    "batchCreate": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gitLabConfigs/{gitLabConfigsId}/connectedRepositories:batchCreate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "cloudbuild.projects.locations.gitLabConfigs.connectedRepositories.batchCreate",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gitLabConfigs/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "The name of the `GitLabConfig` that adds connected repositories. Format: `projects/{project}/locations/{location}/gitLabConfigs/{config}`"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "BatchCreateGitLabConnectedRepositoriesRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "deprecated": true,
                      "description": "Deprecated: CloudBuild GitLab V1 integration is deprecated. Batch connecting GitLab repositories to Cloud Build. This API is experimental.",
                      "path": "v1/{+parent}/connectedRepositories:batchCreate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "deprecated": true
                }
              }
            },
            "triggers": {
              "methods": {
                "create": {
                  "description": "Creates a new `BuildTrigger`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/triggers",
                  "id": "cloudbuild.projects.locations.triggers.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`"
                    },
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project for which to configure automatic builds.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BuildTrigger"
                  }
                },
                "webhook": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "HttpBody"
                  },
                  "response": {
                    "$ref": "ReceiveTriggerWebhookResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:webhook",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.webhook",
                  "parameters": {
                    "projectId": {
                      "description": "Project in which the specified trigger lives",
                      "type": "string",
                      "location": "query"
                    },
                    "secret": {
                      "description": "Secret token used for authorization if an OAuth token isn't provided.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                    },
                    "trigger": {
                      "location": "query",
                      "description": "Name of the trigger to run the payload against",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:webhook",
                  "description": "ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger."
                },
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a `BuildTrigger` by its project ID and trigger ID.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.delete",
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project that owns the trigger.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "triggerId": {
                      "location": "query",
                      "description": "Required. ID of the `BuildTrigger` to delete.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "description": "Updates a `BuildTrigger` by its project ID and trigger ID.",
                  "path": "v1/{+resourceName}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "parameterOrder": [
                    "resourceName"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.patch",
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project that owns the trigger.",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Update mask for the resource. If this is set, the server will only update the fields specified in the field mask. Otherwise, a full update of the mutable resource fields will be performed.",
                      "type": "string"
                    },
                    "resourceName": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service."
                    },
                    "triggerId": {
                      "location": "query",
                      "description": "Required. ID of the `BuildTrigger` to update.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "BuildTrigger"
                  },
                  "response": {
                    "$ref": "BuildTrigger"
                  }
                },
                "get": {
                  "description": "Returns information about a `BuildTrigger`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "cloudbuild.projects.locations.triggers.get",
                  "parameters": {
                    "projectId": {
                      "description": "Required. ID of the project that owns the trigger.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
                    },
                    "triggerId": {
                      "location": "query",
                      "description": "Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "BuildTrigger"
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "description": "Lists existing `BuildTrigger`s.",
                  "path": "v1/{+parent}/triggers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`"
                    },
                    "projectId": {
                      "location": "query",
                      "description": "Required. ID of the project for which to list BuildTriggers.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Number of results to return in the list.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListBuildTriggersResponse"
                  }
                },
                "run": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RunBuildTriggerRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}:run",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudbuild.projects.locations.triggers.run",
                  "parameters": {
                    "name": {
                      "description": "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:run",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Runs a `BuildTrigger` at a particular source revision. To run a regional or global trigger, use the POST request that includes the location endpoint in the path (ex. v1/projects/{projectId}/locations/{region}/triggers/{triggerId}:run). The POST request that does not include the location endpoint in the path can only be used when running global triggers."
                }
              }
            },
            "githubEnterpriseConfigs": {
              "methods": {
                "create": {
[...]
