{
  "ownerName": "Google",
  "batchPath": "batch",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-billing": {
          "description": "View and manage your Google Cloud Platform billing accounts"
        },
        "https://www.googleapis.com/auth/cloud-billing.readonly": {
          "description": "View your Google Cloud Platform billing accounts"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "cloudbilling",
  "canonicalName": "Cloudbilling",
  "documentationLink": "https://cloud.google.com/billing/docs/apis",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "revision": "20260619",
  "version": "v1beta",
  "rootUrl": "https://cloudbilling.googleapis.com/",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Cloud Billing API",
  "baseUrl": "https://cloudbilling.googleapis.com/",
  "basePath": "",
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "resources": {
    "billingAccounts": {
      "resources": {
        "services": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/services",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services",
              "description": "Lists services visible to a billing account.",
              "id": "cloudbilling.billingAccounts.services.list",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "description": "Gets a Google Cloud service visible to a billing account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.services.get",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              }
            }
          }
        },
        "skuGroups": {
          "methods": {
            "list": {
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "description": "Lists SKU groups visible to a billing account.",
              "path": "v1beta/{+parent}/skuGroups",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}",
              "description": "Gets a SKU group visible to a billing account.",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus",
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "path": "v1beta/{+parent}/skus",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}",
                  "description": "Gets a SKU that is part of a billing account SKU group."
                }
              }
            }
          }
        },
        "skus": {
          "resources": {
            "price": {
              "methods": {
                "get": {
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account.",
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$",
                      "required": true,
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price",
                      "location": "path",
                      "type": "string"
                    },
                    "currencyCode": {
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used.",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "prices": {
              "methods": {
                "list": {
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices",
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbilling.billingAccounts.skus.prices.list",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "currencyCode": {
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "location": "query"
                    }
                  },
                  "path": "v1beta/{+parent}/prices"
                }
              }
            }
          },
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/skus",
              "parameters": {
                "parent": {
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query"
                },
                "filter": {
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "cloudbilling.billingAccounts.skus.list",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus",
              "description": "Lists SKUs visible to a billing account."
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}",
              "description": "Gets a SKU visible to a billing account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.billingAccounts.skus.get",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              }
            }
          }
        }
      }
    },
    "skuGroups": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
              "location": "query"
            }
          },
          "path": "v1beta/skuGroups",
          "flatPath": "v1beta/skuGroups",
          "description": "Lists all publicly listed SKU groups.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudbilling.skuGroups.list",
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          }
        },
        "get": {
          "flatPath": "v1beta/skuGroups/{skuGroupsId}",
          "description": "Gets a publicly listed SKU group.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudbilling.skuGroups.get",
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^skuGroups/[^/]+$",
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "v1beta/{+name}"
        }
      },
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}",
                  "location": "path",
                  "pattern": "^skuGroups/[^/]+$"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta/{+parent}/skus",
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus",
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.skuGroups.skus.list",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              }
            },
            "get": {
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}",
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group.",
              "id": "cloudbilling.skuGroups.skus.get",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "v1beta": {
      "methods": {
        "generateInsights": {
          "path": "v1beta:generateInsights",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "cloudbilling.generateInsights",
          "response": {
            "$ref": "GenerateInsightsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GenerateInsightsRequest"
          },
          "flatPath": "v1beta:generateInsights",
          "description": "Analyzes cost data for a billing account and/or specific projects. Returns a natural language summary and supporting datasets."
        }
      }
    },
    "skus": {
      "resources": {
        "prices": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU.",
                  "location": "path",
                  "pattern": "^skus/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "currencyCode": {
                  "type": "string",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "location": "query"
                }
              },
              "path": "v1beta/{+parent}/prices",
              "flatPath": "v1beta/skus/{skusId}/prices",
              "description": "Lists the latest prices for all SKUs.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.skus.prices.list",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              }
            }
          }
        },
        "price": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.skus.price.get",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              },
              "flatPath": "v1beta/skus/{skusId}/price",
              "description": "Gets the latest price for the given SKU.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price",
                  "location": "path",
                  "type": "string",
                  "pattern": "^skus/[^/]+/price$"
                },
                "currencyCode": {
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "type": "object",
      "description": "Response message for ListPrices.",
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "prices": {
          "type": "array",
          "description": "The returned publicly listed prices.",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaPrice"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "type": "object",
      "description": "Response message for ListBillingAccountSkus.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse",
      "properties": {
        "billingAccountSkus": {
          "description": "The returned billing account SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "properties": {
        "fixTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that the fixed discount is anchored to."
        },
        "discountScopeType": {
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        },
        "skuGroup": {
          "type": "string",
          "description": "SKU group where the fixed discount comes from."
        },
        "discountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of the fixed discount."
        }
      },
      "type": "object",
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time."
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse",
      "properties": {
        "billingAccountSkuGroups": {
          "type": "array",
          "description": "The returned publicly listed billing account SKU groups.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for ListBillingAccountSkuGroups."
    },
    "DataSet": {
      "type": "object",
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts).",
      "id": "DataSet",
      "properties": {
        "suggestedChart": {
          "readOnly": true,
          "$ref": "SuggestedChart",
          "description": "Output only. A suggested chart for the data set, used for UI rendering."
        },
        "billingData": {
          "readOnly": true,
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service.",
          "$ref": "BillingData"
        },
        "queryInfo": {
          "readOnly": true,
          "$ref": "AgenticQueryInfo",
          "description": "Output only. The query used to fetch this data."
        }
      }
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "type": "object",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price.",
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo",
      "properties": {
        "level": {
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        },
        "interval": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
      "properties": {}
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "type": "object",
      "description": "Response message for ListSkuGroupSkus.",
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse",
      "properties": {
        "skuGroupSkus": {
          "description": "The returned SKU group SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Insight": {
      "id": "Insight",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ],
          "readOnly": true,
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding).",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the insight."
        },
        "title": {
          "type": "string",
          "description": "Output only. The title of the insight.",
          "readOnly": true
        }
      },
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO",
      "type": "object"
    },
    "Row": {
      "description": "Represents a row in the query result.",
      "type": "object",
      "id": "Row",
      "properties": {
        "values": {
          "type": "array",
          "description": "Values for a row in the column order.",
          "items": {
            "$ref": "ValueProto"
          }
        }
      }
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "Money",
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "description": "Response message for ListBillingAccountSkuGroupSkus.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "billingAccountSkuGroupSkus": {
          "type": "array",
          "description": "The returned billing account SKU group SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          }
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku",
      "properties": {
        "service": {
          "type": "string",
          "description": "Service that the SkuGroupSku belongs to."
        },
        "productTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
          "description": "List of product categories that apply to the SkuGroupSku."
        },
        "name": {
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy"
        }
      },
      "type": "object",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy.",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "type": "object",
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional",
      "properties": {
        "regions": {
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          },
          "type": "array"
        }
      }
    },
    "BillingDataResource": {
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data.",
      "type": "object",
      "id": "BillingDataResource",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`"
        },
        "billingAccount": {
          "description": "Optional. If not provided the billing account currently associated with the resource will be used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
      "properties": {
        "taxonomyCategories": {
          "type": "array",
          "description": "All product categories that the SKU group SKU belongs to.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          }
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
      "properties": {},
      "type": "object",
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
      "properties": {},
      "description": "Encapsulates a global geographic taxonomy.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "description": "Encapsulates a price reason which contains background information about the origin of the price.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
      "properties": {
        "fixedDiscount": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
          "description": "Discount off the list price, anchored to the list price as of a fixed time."
        },
        "fixedPrice": {
          "description": "Fixed price applicable during the terms of a contract agreement.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice"
        },
        "floatingDiscount": {
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount"
        },
        "migratedPrice": {
          "description": "Price migrated from other SKUs.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice"
        },
        "mergedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
          "description": "Price after merging from multiple sources."
        },
        "listPriceAsCeiling": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice."
        },
        "type": {
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'.",
          "type": "string"
        },
        "defaultPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
          "description": "Default price which is the current list price."
        }
      }
    },
    "Struct": {
      "id": "Struct",
      "properties": {
        "field": {
          "description": "The fields in the struct",
          "items": {
            "$ref": "ValueProto"
          },
          "type": "array"
        }
      },
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU belong to.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku",
      "properties": {
        "billingAccountService": {
          "type": "string",
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to."
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy"
        },
        "name": {
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku."
        }
      },
      "description": "Encapsulates a SKU that is part of a billing account SKU group.",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "properties": {
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "globalMetadata": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "type": {
          "description": "Type of geographic taxonomy associated with the SKU group SKU.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        }
      }
    },
    "SuggestedChart": {
      "type": "object",
      "description": "A suggested chart for the data set, used for UI rendering.",
      "id": "SuggestedChart",
      "properties": {
        "chartType": {
          "type": "string",
          "description": "The type of the chart.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ],
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ]
        },
        "chartTitle": {
          "type": "string",
          "description": "The title of the chart."
        },
        "yAxisLabel": {
          "description": "The label of the y-axis.",
          "type": "string"
        },
        "xAxisField": {
          "type": "string",
          "description": "The field used for the x-axis."
        },
        "yAxisField": {
          "description": "The field used for the y-axis.",
          "type": "string"
        },
        "xAxisLabel": {
          "description": "The label of the x-axis.",
          "type": "string"
        },
        "seriesField": {
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
      "properties": {
        "discountScopeType": {
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        },
        "skuGroup": {
          "description": "SKU group where the floating discount comes from.",
          "type": "string"
        },
        "discountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of the floating discount."
        }
      },
      "type": "object",
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time."
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse",
      "properties": {
        "billingAccountServices": {
          "description": "The returned billing account services.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Response message for ListBillingAccountServices.",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "type": "object",
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\"."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\"."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "description": "Encapsulates a Google Cloud region.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
      "properties": {
        "level": {
          "type": "string",
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ]
        },
        "interval": {
          "type": "string",
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ]
        }
      },
      "type": "object",
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price."
    },
    "Array": {
      "description": "An ordered collection of elements of arbitrary count.",
      "type": "object",
      "id": "Array",
      "properties": {
        "element": {
          "type": "array",
          "description": "The elements of the array.",
          "items": {
            "$ref": "ValueProto"
          }
        }
      }
    },
    "SuggestedQuery": {
      "type": "object",
      "description": "A suggested follow-up query for the user.",
      "id": "SuggestedQuery",
      "properties": {
        "query": {
          "description": "The natural language query.",
          "type": "string"
        }
      }
    },
    "Map": {
      "id": "Map",
      "properties": {
        "entry": {
          "description": "Represents the map entries in the map.",
          "items": {
            "$ref": "MapEntry"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "An unordered mapping from key to value, represented as a collection of map entries."
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "type": "object",
      "description": "Encapsulates a Google Cloud service visible to a billing account.",
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService",
      "properties": {
        "displayName": {
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\".",
          "type": "string"
        },
        "serviceId": {
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "type": "object",
      "description": "Encapsulates the unit information for a Rate",
      "id": "GoogleCloudBillingPricesV1betaUnitInfo",
      "properties": {
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitDescription": {
          "type": "string",
          "description": "Human-readable description of the unit. Example: gibibyte month."
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
      "properties": {
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional"
        },
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "type": {
          "type": "string",
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU.",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        }
      },
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          },
          "type": "array"
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "type": "object",
      "description": "Response message for ListSkuGroups.",
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse",
      "properties": {
        "skuGroups": {
          "description": "The returned publicly listed SKU groups.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Range": {
      "type": "object",
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present.",
      "id": "Range",
      "properties": {
        "start": {
          "$ref": "ValueProto",
          "description": "Represents the start of the range."
        },
        "end": {
          "description": "Represents the end of the range.",
          "$ref": "ValueProto"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "type": "object",
      "description": "Encapsulates a Google Cloud region.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional",
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "description": "Encapsulates a regional geographic taxonomy.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "properties": {
        "regions": {
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "type": "object"
    },
    "UserContext": {
      "type": "object",
      "description": "Additional context for personalization (e.g., user persona, role).",
      "id": "UserContext",
      "properties": {
        "persona": {
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer).",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ],
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ]
        },
        "role": {
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.).",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "description": "Encapsulates the latest price for a billing account SKU.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the latest billing account price."
        },
        "valueType": {
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "rate": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate",
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        },
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        },
        "priceReason": {
          "description": "Background information on the origin of the price.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason"
        }
      }
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "id": "GoogleCloudBillingPricesV1betaRateTier",
      "properties": {
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        },
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        }
      },
      "type": "object",
      "description": "Encapsulates a rate price tier."
    },
    "FinalResult": {
      "description": "Encapsulates all structured data and the completed summary.",
      "type": "object",
      "id": "FinalResult",
      "properties": {
        "insights": {
          "readOnly": true,
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "items": {
            "$ref": "Insight"
          },
          "type": "array"
        },
        "dataSets": {
          "type": "array",
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts).",
          "items": {
            "$ref": "DataSet"
          },
          "readOnly": true
        },
        "fullAnalysis": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references."
        },
        "summary": {
          "description": "Output only. The full natural language summary (re-sent for consistency).",
          "type": "string",
          "readOnly": true
        },
        "interopLinks": {
          "readOnly": true,
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries).",
          "items": {
            "$ref": "InteropLink"
          },
          "type": "array"
        },
        "suggestedQueries": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of suggested follow-up queries for the user.",
          "items": {
            "$ref": "SuggestedQuery"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse",
      "properties": {
        "billingAccountPrices": {
          "description": "The returned billing account prices.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "description": "Response message for ListBillingAccountPrices.",
      "type": "object"
    },
    "ColumnInfo": {
      "id": "ColumnInfo",
      "properties": {
        "column": {
          "type": "string",
          "description": "Name of the column."
        }
      },
      "type": "object",
      "description": "Represents a column header."
    },
    "ValueProto": {
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto.",
      "type": "object",
      "id": "ValueProto",
      "properties": {
        "rangeValue": {
          "$ref": "Range",
          "description": "Encoded range value. See go/googlesql_range."
        },
        "mapValue": {
          "description": "Encoded map value. See go/googlesql_map.",
          "$ref": "Map"
        },
        "floatValue": {
          "description": "Primitive for float.",
          "type": "number",
          "format": "float"
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Primitive for int64."
        },
        "numericValue": {
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes().",
          "type": "string",
          "format": "byte"
        },
        "jsonValue": {
          "type": "string",
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document."
        },
        "tokenlistValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end"
        },
        "enumValue": {
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete.",
          "type": "integer",
          "format": "int32"
        },
        "bytesValue": {
          "description": "Primitive for bytes.",
          "type": "string",
          "format": "byte"
        },
        "uint32Value": {
          "type": "integer",
          "format": "uint32",
          "description": "Primitive for uint32."
        },
        "uint64Value": {
          "type": "string",
          "format": "uint64",
          "description": "Primitive for uint64."
        },
        "arrayValue": {
          "description": "An array of value",
          "$ref": "Array"
        },
        "datetimeValue": {
          "description": "primitive for datetime",
          "$ref": "Datetime"
        },
        "uuidValue": {
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes().",
          "type": "string",
          "format": "byte"
        },
        "geographyValue": {
          "description": "Geography encoded using ::stlib::STGeographyEncoder",
          "type": "string",
          "format": "byte"
        },
        "boolValue": {
          "description": "Primitive for bool.",
          "type": "boolean"
        },
        "protoValue": {
          "type": "string",
          "format": "byte",
          "description": "Stores a serialized protocol message."
        },
        "dateValue": {
          "description": "Primitive for date.",
          "type": "integer",
          "format": "int32"
        },
        "structValue": {
          "description": "A struct of values",
          "$ref": "Struct"
        },
        "timeValue": {
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details.",
          "type": "string",
          "format": "int64"
        },
        "intervalValue": {
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes().",
          "type": "string",
          "format": "byte"
        },
        "ValueProtoSwitchMustHaveADefault": {
          "type": "boolean",
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added."
        },
        "timestampPicoValue": {
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes().",
          "type": "string",
          "format": "byte"
        },
        "stringValue": {
          "type": "string",
          "description": "Primitive for string."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Primitive for double."
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "primitive for timestamp"
        },
        "int32Value": {
          "type": "integer",
          "format": "int32",
          "description": "Primitive value for int32."
        },
        "bignumericValue": {
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes().",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a Google Cloud region.",
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "id": "GoogleCloudBillingPricesV1betaPrice",
      "properties": {
        "rate": {
          "$ref": "GoogleCloudBillingPricesV1betaRate",
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the latest price."
        },
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        },
        "valueType": {
          "type": "string",
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"]."
        }
      },
      "description": "Encapsulates the latest price for a SKU.",
      "type": "object"
    },
    "GenerateInsightsRequest": {
      "id": "GenerateInsightsRequest",
      "properties": {
        "parents": {
          "description": "Optional. The billing account or projects to analyze.",
          "items": {
            "$ref": "BillingDataResource"
          },
          "type": "array"
        },
        "filter": {
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\"",
          "type": "string"
        },
        "prompt": {
          "description": "Required. The natural language prompt from the user.",
          "type": "string"
        },
        "userContext": {
          "$ref": "UserContext",
          "description": "Optional. Additional context for personalization (e.g., user persona, role)."
        },
        "overriddenMaxIterationCounts": {
          "description": "Optional. Overrides the maximum iterations for any selected strategy.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Request for GenerateInsights."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate",
      "properties": {
        "tiers": {
          "type": "array",
          "description": "All tiers associated with the `Rate` price.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          }
        },
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo"
        },
        "aggregationInfo": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
          "description": "Aggregation info for tiers such as aggregation level and interval."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
        }
      },
      "type": "object",
      "description": "Encapsulates a regional geographic taxonomy."
    },
    "Rejection": {
      "description": "Encapsulates details about why a request was rejected.",
      "type": "object",
      "id": "Rejection",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Output only. The reason for the rejection.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ]
        },
        "displayMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A user-facing message explaining the rejection."
        }
      }
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup",
      "properties": {
        "name": {
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\"."
        }
      },
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "type": "object"
    },
    "Decimal": {
      "id": "Decimal",
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
      "properties": {
        "sourceSku": {
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Encapsulates a price migrated from other SKUs."
    },
    "InteropLink": {
      "id": "InteropLink",
      "properties": {
        "label": {
          "description": "Output only. The label of the link, suitable for UI rendering.",
          "type": "string",
          "readOnly": true
        },
        "url": {
          "readOnly": true,
          "description": "Output only. The URL of the link.",
          "type": "string"
        },
        "linkType": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ],
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ],
          "readOnly": true,
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries)."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
      "properties": {}
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
      "properties": {
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        },
        "type": {
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU.",
          "type": "string"
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional"
        }
      },
      "type": "object",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`."
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku",
      "properties": {
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSku belongs to.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
        },
        "name": {
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus).",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "description": "Encapsulates a product category.",
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
      "properties": {},
      "type": "object",
      "description": "Encapsulates a default price which is the current list price."
    },
    "GenerateInsightsResponse": {
      "id": "GenerateInsightsResponse",
      "properties": {
        "summaryChunk": {
          "readOnly": true,
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect.",
          "type": "string"
        },
        "thoughtChunk": {
          "readOnly": true,
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status.",
          "type": "string"
        },
        "finalResult": {
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream.",
          "$ref": "FinalResult",
          "readOnly": true
        },
        "rejection": {
          "description": "Output only. The request was rejected (e.g. out of scope).",
          "$ref": "Rejection",
          "readOnly": true
        }
      },
      "description": "Response for GenerateInsights.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
      "properties": {
        "regions": {
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          }
        }
      },
      "type": "object",
      "description": "Encapsulates a multi-regional geographic taxonomy."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Encapsulates a product category."
    },
    "MapEntry": {
      "id": "MapEntry",
      "properties": {
        "value": {
          "description": "Represents the serialized map value of the entry.",
          "$ref": "ValueProto"
        },
        "key": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map key for the entry."
        }
      },
      "description": "A single entry in a Map, representing the mapping between `key` and `value`.",
      "type": "object"
    },
    "Datetime": {
      "id": "Datetime",
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Non-negative fractions of a second at nanosecond resolution."
        },
        "bitFieldDatetimeSeconds": {
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A datetime value."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "properties": {
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        },
        "contractPrice": {
          "$ref": "Money",
          "description": "Negotiated contract price specific for a billing account."
        },
        "effectiveDiscountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details."
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        }
      },
      "description": "Encapsulates a rate price tier.",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal",
      "properties": {},
      "type": "object",
      "description": "Encapsulates a global geographic taxonomy."
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "id": "GoogleCloudBillingPricesV1betaRate",
      "properties": {
        "unitInfo": {
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        },
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo"
        },
        "tiers": {
          "type": "array",
          "description": "All tiers associated with the `Rate` price.",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          }
        }
      },
      "type": "object",
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers."
    },
    "BillingData": {
      "type": "object",
      "description": "Encapsulates billing data.",
      "id": "BillingData",
      "properties": {
        "columnInfo": {
          "type": "array",
          "description": "Information about columns.",
          "items": {
            "$ref": "ColumnInfo"
          }
        },
        "rows": {
          "description": "Rows.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "description": "Encapsulates a product category.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
      "properties": {
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        },
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        }
      },
      "description": "Encapsulates the unit information for a Rate",
      "type": "object"
    },
    "AgenticQueryInfo": {
      "id": "AgenticQueryInfo",
      "properties": {
        "limit": {
          "description": "The row limit applied to the query.",
          "type": "integer",
          "format": "int32"
        },
        "parents": {
          "type": "array",
          "description": "The parents (e.g. projects, billing accounts) queried.",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "type": "string",
          "description": "The filter applied to the query."
        },
        "orderBy": {
          "type": "string",
          "description": "The order-by clause applied to the query."
        },
        "groupBy": {
          "type": "string",
[...]
