{
  "revision": "20260821",
  "description": "Allows developers to manage billing for their Google Cloud Platform projects programmatically.",
  "kind": "discovery#restDescription",
  "basePath": "",
  "discoveryVersion": "v1",
  "version": "v1beta",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://cloudbilling.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
      "description": "Encapsulates the unit information for a Rate",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitQuantity": {
          "$ref": "Decimal",
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000."
        },
        "unitDescription": {
          "description": "Human-readable description of the unit. Example: gibibyte month.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingPricesV1betaUnitInfo": {
      "id": "GoogleCloudBillingPricesV1betaUnitInfo",
      "type": "object",
      "properties": {
        "unit": {
          "description": "Shorthand for the unit. Example: GiBy.mo.",
          "type": "string"
        },
        "unitQuantity": {
          "description": "Unit quantity for the tier. Example: if the RateTier price is $1 per 1000000 Bytes, then `unit_quantity` is set to 1000000.",
          "$ref": "Decimal"
        },
        "unitDescription": {
          "type": "string",
          "description": "Human-readable description of the unit. Example: gibibyte month."
        }
      },
      "description": "Encapsulates the unit information for a Rate"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountSkuGroup. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroup. Example: \"A2 VMs (1 Year CUD)\"."
        }
      },
      "description": "Encapsulates a stock keeping (SKU) group visible to a billing account. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
    },
    "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku": {
      "id": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) that is part of a publicly listed SKU group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs.",
      "properties": {
        "geoTaxonomy": {
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
          "description": "Geographic metadata that applies to the SkuGroupSku."
        },
        "service": {
          "description": "Service that the SkuGroupSku belongs to.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the SkuGroupSku. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the SkuGroupSku.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy"
        },
        "displayName": {
          "type": "string",
          "description": "Description of the SkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku": {
      "properties": {
        "name": {
          "description": "Resource name for the BillingAccountSku. Example: \"billingAccounts/012345-567890-ABCDEF/skus/AA95-CD31-42FE\".",
          "type": "string"
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSku belongs to.",
          "type": "string"
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy"
        },
        "skuId": {
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\".",
          "type": "string"
        },
        "displayName": {
          "description": "Description of the BillingAccountSku. Example: \"A2 Instance Core running in Hong Kong\".",
          "type": "string"
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSku.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
        }
      },
      "type": "object",
      "description": "Encapsulates a stock keeping unit (SKU) visible to a billing account. A SKU distinctly identifies a resource that you can purchase. For a list of available SKUs, see [SKUs](https://cloud.google.com/skus).",
      "id": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountSkuGroupSku. Example: \"A2 Instance Core running in Hong Kong\"."
        },
        "billingAccountService": {
          "description": "BillingAccountService that the BillingAccountSkuGroupSku belongs to.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountSkuGroupSku. Example: \"billingAccounts/012345-567890-ABCDEF/skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301/skus/AA95-CD31-42FE\"."
        },
        "geoTaxonomy": {
          "description": "Geographic metadata that applies to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy"
        },
        "skuId": {
          "type": "string",
          "description": "Unique identifier for the SKU. It is the string after the collection identifier \"skus/\" Example: \"AA95-CD31-42FE\"."
        },
        "productTaxonomy": {
          "description": "List of product categories that apply to the BillingAccountSkuGroupSku.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy"
        }
      },
      "description": "Encapsulates a SKU that is part of a billing account SKU group.",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku",
      "type": "object"
    },
    "GoogleCloudBillingPricesV1betaPrice": {
      "type": "object",
      "description": "Encapsulates the latest price for a SKU.",
      "id": "GoogleCloudBillingPricesV1betaPrice",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "ISO-4217 currency code for the price."
        },
        "rate": {
          "$ref": "GoogleCloudBillingPricesV1betaRate",
          "description": "Rate price metadata. SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers."
        },
        "valueType": {
          "type": "string",
          "description": "Type of the price. It can have values: [\"unspecified\", \"rate\"]."
        },
        "name": {
          "description": "Resource name for the latest price.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice": {
      "type": "object",
      "properties": {
        "valueType": {
          "description": "Type of the price. The possible values are: [\"unspecified\", \"rate\"].",
          "type": "string"
        },
        "currencyCode": {
          "description": "ISO-4217 currency code for the price.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the latest billing account price.",
          "type": "string"
        },
        "rate": {
          "description": "Rate price metadata. Billing account SKUs with `Rate` price are offered by pricing tiers. The price can have 1 or more rate pricing tiers.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRate"
        },
        "priceReason": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
          "description": "Background information on the origin of the price."
        }
      },
      "description": "Encapsulates the latest price for a billing account SKU.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
    },
    "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory": {
      "type": "object",
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "description": "Encapsulates a product category.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
    },
    "SuggestedQuery": {
      "id": "SuggestedQuery",
      "type": "object",
      "properties": {
        "query": {
          "description": "The natural language query.",
          "type": "string"
        }
      },
      "description": "A suggested follow-up query for the user."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
    },
    "GoogleCloudBillingPricesV1betaRate": {
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaRate",
      "properties": {
        "tiers": {
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaRateTier"
          },
          "description": "All tiers associated with the `Rate` price.",
          "type": "array"
        },
        "unitInfo": {
          "description": "Unit info such as name and quantity.",
          "$ref": "GoogleCloudBillingPricesV1betaUnitInfo"
        },
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingPricesV1betaAggregationInfo"
        }
      },
      "description": "Encapsulates a `Rate` price. SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers."
    },
    "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory": {
      "properties": {
        "category": {
          "description": "Name of the product category.",
          "type": "string"
        }
      },
      "description": "Encapsulates a product category.",
      "id": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory",
      "type": "object"
    },
    "Money": {
      "type": "object",
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal": {
      "description": "Encapsulates a global geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
      "properties": {},
      "type": "object"
    },
    "GenerateInsightsRequest": {
      "description": "Request for GenerateInsights.",
      "type": "object",
      "id": "GenerateInsightsRequest",
      "properties": {
        "filter": {
          "description": "Optional. Filters cost data by service id. Follows https://google.aip.dev/160 for the filter syntax. eg. filter: \"service = 'C7E2-9256-1C43'\"",
          "type": "string"
        },
        "overriddenMaxIterationCounts": {
          "description": "Optional. Overrides the maximum iterations for any selected strategy.",
          "type": "integer",
          "format": "int32"
        },
        "userContext": {
          "description": "Optional. Additional context for personalization (e.g., user persona, role).",
          "$ref": "UserContext"
        },
        "prompt": {
          "description": "Required. The natural language prompt from the user.",
          "type": "string"
        },
        "parents": {
          "description": "Optional. The billing account or projects to analyze.",
          "type": "array",
          "items": {
            "$ref": "BillingDataResource"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "properties": {
        "regions": {
          "type": "array",
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion"
          }
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaProductTaxonomy",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU group SKU belong to.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others."
    },
    "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse": {
      "type": "object",
      "id": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse",
      "description": "Response message for ListSkuGroups.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "skuGroups": {
          "items": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "description": "The returned publicly listed SKU groups.",
          "type": "array"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
      "description": "Encapsulates a set fixed price applicable during the terms of a contract agreement."
    },
    "Rejection": {
      "id": "Rejection",
      "properties": {
        "displayMessage": {
          "description": "Output only. A user-facing message explaining the rejection.",
          "readOnly": true,
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Output only. The reason for the rejection.",
          "readOnly": true,
          "enum": [
            "REASON_UNSPECIFIED",
            "EXPLICIT_OUT_OF_SCOPE"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user explicitly asked about a service that is not Gemini or Vertex AI."
          ]
        }
      },
      "type": "object",
      "description": "Encapsulates details about why a request was rejected."
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional": {
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional",
      "properties": {
        "regions": {
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SuggestedChart": {
      "type": "object",
      "properties": {
        "chartTitle": {
          "description": "The title of the chart.",
          "type": "string"
        },
        "yAxisField": {
          "type": "string",
          "description": "The field used for the y-axis."
        },
        "xAxisLabel": {
          "type": "string",
          "description": "The label of the x-axis."
        },
        "yAxisLabel": {
          "type": "string",
          "description": "The label of the y-axis."
        },
        "seriesField": {
          "description": "The field used for the series (e.g., color-coding). Optional, but recommended for time-series data.",
          "type": "string"
        },
        "chartType": {
          "enum": [
            "CHART_TYPE_UNSPECIFIED",
            "BAR_CHART",
            "UNCHARTABLE",
            "LINE_CHART",
            "AREA_CHART"
          ],
          "description": "The type of the chart.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Represents a bar chart.",
            "The data set cannot be rendered as a chart.",
            "Represents a line chart. Suitable for quantitative and temporal data on the x-axis.",
            "Represents an area chart."
          ]
        },
        "xAxisField": {
          "type": "string",
          "description": "The field used for the x-axis."
        }
      },
      "description": "A suggested chart for the data set, used for UI rendering.",
      "id": "SuggestedChart"
    },
    "Struct": {
      "id": "Struct",
      "properties": {
        "field": {
          "description": "The fields in the struct",
          "items": {
            "$ref": "ValueProto"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A collection of fields. The count, order, and type of the fields is determined by the type associated with this value."
    },
    "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy": {
      "type": "object",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the billing account SKU belong to.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaTaxonomyCategory"
          }
        }
      },
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "id": "GoogleCloudBillingBillingaccountskusV1betaProductTaxonomy"
    },
    "Datetime": {
      "properties": {
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution.",
          "format": "int32",
          "type": "integer"
        },
        "bitFieldDatetimeSeconds": {
          "description": "Represents bit field encoding of year/month/day/hour/minute/second. See class DatetimeValue in civil_time.h for details of encoding.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A datetime value.",
      "type": "object",
      "id": "Datetime"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRateTier": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRateTier",
      "description": "Encapsulates a rate price tier.",
      "properties": {
        "contractPrice": {
          "description": "Negotiated contract price specific for a billing account.",
          "$ref": "Money"
        },
        "startAmount": {
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100.",
          "$ref": "Decimal"
        },
        "listPrice": {
          "$ref": "Money",
          "description": "List price of one tier."
        },
        "effectiveDiscountPercent": {
          "$ref": "Decimal",
          "description": "Percentage of effective discount calculated using the current list price per pricing tier. Formula used: effective_discount_percent = (list_price - contract_price) / list_price × 100 If list_price and contract_price are zero, this field is the same as `discount_percent` of FixedDiscount and FloatingDiscount. If your contract does NOT have the feature LIST_PRICE_AS_CEILING enabled, the effective_discount_percent can be negative if the SKU has a FixedDiscount and the current list price is lower than the list price on the date of the contract agreement. See the `FixedDiscount.fix_time` on when the discount was set. If you have questions regarding pricing per SKU, contact your Account team for more details."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
      "description": "Encapsulates a contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy": {
      "properties": {
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "description": "Type of geographic taxonomy associated with the SKU group SKU.",
          "type": "string"
        },
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
        },
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional"
        }
      },
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomy",
      "type": "object"
    },
    "Row": {
      "id": "Row",
      "description": "Represents a row in the query result.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Values for a row in the column order.",
          "items": {
            "$ref": "ValueProto"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudBillingPricesV1betaAggregationInfo": {
      "properties": {
        "level": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account."
        },
        "interval": {
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month.",
          "type": "string",
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ]
        }
      },
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a price.",
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaAggregationInfo"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount": {
      "properties": {
        "discountPercent": {
          "description": "Percentage of the fixed discount.",
          "$ref": "Decimal"
        },
        "discountScopeType": {
          "description": "Type of the fixed discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        },
        "skuGroup": {
          "description": "SKU group where the fixed discount comes from.",
          "type": "string"
        },
        "fixTime": {
          "description": "Time that the fixed discount is anchored to.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
      "description": "Encapsulates a discount off the list price, anchored to the list price as of a fixed time.",
      "type": "object"
    },
    "BillingData": {
      "properties": {
        "columnInfo": {
          "items": {
            "$ref": "ColumnInfo"
          },
          "description": "Information about columns.",
          "type": "array"
        },
        "rows": {
          "description": "Rows.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "description": "Encapsulates billing data.",
      "id": "BillingData",
      "type": "object"
    },
    "BillingDataResource": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. Resource name for an entitity that can be used for authorization to access billing data such as `projects/{project}` or `billingAccounts/{billing_account}`"
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. If not provided the billing account currently associated with the resource will be used."
        }
      },
      "id": "BillingDataResource",
      "description": "Specifies a Billing data resource that can be used for authorization to access billing data."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice",
      "properties": {},
      "description": "Encapsulates a price after merging from multiple sources. With merged tiers, each individual tier can be from a different source with different discount types."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyMultiRegional",
      "description": "Encapsulates a multi-regional geographic taxonomy.",
      "type": "object",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
          },
          "description": "Google Cloud regions associated with the multi-regional geographic taxonomy."
        }
      }
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of the product category."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaTaxonomyCategory",
      "description": "Encapsulates a product category."
    },
    "GoogleCloudBillingPricesV1betaRateTier": {
      "type": "object",
      "id": "GoogleCloudBillingPricesV1betaRateTier",
      "properties": {
        "listPrice": {
          "description": "List price of one tier.",
          "$ref": "Money"
        },
        "startAmount": {
          "$ref": "Decimal",
          "description": "Lower bound amount for a tier. Tiers 0-100, 100-200 will be represented with two tiers with `start_amount` 0 and 100."
        }
      },
      "description": "Encapsulates a rate price tier."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo",
      "properties": {
        "level": {
          "enum": [
            "LEVEL_UNSPECIFIED",
            "LEVEL_ACCOUNT",
            "LEVEL_PROJECT"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated at an account level.",
            "Usage is aggregated at a project level."
          ],
          "description": "Level at which usage is aggregated to compute cost. Example: \"ACCOUNT\" level indicates that usage is aggregated across all projects in a single account.",
          "type": "string"
        },
        "interval": {
          "enum": [
            "INTERVAL_UNSPECIFIED",
            "INTERVAL_MONTHLY",
            "INTERVAL_DAILY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Usage is aggregated every month.",
            "Usage is aggregated every day."
          ],
          "description": "Interval at which usage is aggregated to compute cost. Example: \"MONTHLY\" interval indicates that usage is aggregated every month."
        }
      },
      "description": "Encapsulates the aggregation information such as aggregation level and interval for a billing account price."
    },
    "GenerateInsightsResponse": {
      "type": "object",
      "description": "Response for GenerateInsights.",
      "properties": {
        "thoughtChunk": {
          "description": "Output only. A chunk of the agent's internal reasoning process. The UI can use this to render a \"Thinking...\" log or status.",
          "type": "string",
          "readOnly": true
        },
        "summaryChunk": {
          "description": "Output only. A chunk of the natural language summary (customer-facing). The UI can append these chunks to provide a real-time \"typing\" effect.",
          "type": "string",
          "readOnly": true
        },
        "finalResult": {
          "$ref": "FinalResult",
          "description": "Output only. The final structured results and metadata. Usually sent as the final message in the stream.",
          "readOnly": true
        },
        "rejection": {
          "$ref": "Rejection",
          "description": "Output only. The request was rejected (e.g. out of scope).",
          "readOnly": true
        }
      },
      "id": "GenerateInsightsResponse"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion": {
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion",
      "type": "object",
      "properties": {
        "region": {
          "description": "Description of a Google Cloud region. Example: \"us-west2\".",
          "type": "string"
        }
      },
      "description": "Encapsulates a Google Cloud region."
    },
    "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
      "properties": {
        "sourceSku": {
          "type": "string",
          "description": "Source SKU where the discount is migrated from. Format: billingAccounts/{billing_account}/skus/{sku}"
        }
      },
      "type": "object",
      "description": "Encapsulates a price migrated from other SKUs."
    },
    "AgenticQueryInfo": {
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "The row limit applied to the query."
        },
        "parents": {
          "description": "The parents (e.g. projects, billing accounts) queried.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "columns": {
          "description": "The columns queried.",
          "type": "string"
        },
        "view": {
          "description": "The view queried.",
          "type": "string"
        },
        "filter": {
          "description": "The filter applied to the query.",
          "type": "string"
        },
        "orderBy": {
          "description": "The order-by clause applied to the query.",
          "type": "string"
        },
        "groupBy": {
          "description": "The group-by clause applied to the query.",
          "type": "string"
        }
      },
      "id": "AgenticQueryInfo",
      "description": "A local representation of the query used to fetch the data. This is used instead of the raw QueryBillingDataRequest to avoid pulling in Cloud Policy Enforcement (CPE) resource_type annotations into the response payload, which causes ESF validation failures.",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomy",
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`.",
      "properties": {
        "multiRegionalMetadata": {
          "description": "Multi-regional geographic metadata with 2 or more regions.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyMultiRegional"
        },
        "type": {
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU.",
          "type": "string"
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
        },
        "globalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyGlobal",
          "description": "Global geographic metadata with no regions."
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse": {
      "type": "object",
      "properties": {
        "billingAccountSkuGroups": {
          "type": "array",
          "description": "The returned publicly listed billing account SKU groups.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse",
      "description": "Response message for ListBillingAccountSkuGroups."
    },
    "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the BillingAccountService. Example: \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"."
        },
        "displayName": {
          "type": "string",
          "description": "Description of the BillingAccountService. Example: \"BigQuery\", \"Compute Engine\"."
        },
        "serviceId": {
          "type": "string",
          "description": "Identifier for the service. It is the string after the collection identifier \"services/\". Example: \"DA34-426B-A397\"."
        }
      },
      "description": "Encapsulates a Google Cloud service visible to a billing account."
    },
    "Map": {
      "description": "An unordered mapping from key to value, represented as a collection of map entries.",
      "type": "object",
      "properties": {
        "entry": {
          "items": {
            "$ref": "MapEntry"
          },
          "description": "Represents the map entries in the map.",
          "type": "array"
        }
      },
      "id": "Map"
    },
    "Decimal": {
      "id": "Decimal",
      "type": "object",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html)."
    },
    "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "billingAccountSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
          },
          "description": "The returned billing account SKUs."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse",
      "description": "Response message for ListBillingAccountSkus.",
      "type": "object"
    },
    "FinalResult": {
      "properties": {
        "interopLinks": {
          "description": "Output only. Links to interoperable tools (e.g., pre-filtered Cost Reports or BQE queries).",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InteropLink"
          }
        },
        "summary": {
          "readOnly": true,
          "description": "Output only. The full natural language summary (re-sent for consistency).",
          "type": "string"
        },
        "dataSets": {
          "description": "Output only. Data sets used to support the insights, suitable for UI rendering (tables/charts).",
          "readOnly": true,
          "items": {
            "$ref": "DataSet"
          },
          "type": "array"
        },
        "fullAnalysis": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Contains the full natural language analysis, including thoughts, reasoning, and references."
        },
        "suggestedQueries": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of suggested follow-up queries for the user.",
          "items": {
            "$ref": "SuggestedQuery"
          }
        },
        "insights": {
          "readOnly": true,
          "description": "Output only. A list of discrete insights gleaned from the data.",
          "items": {
            "$ref": "Insight"
          },
          "type": "array"
        }
      },
      "description": "Encapsulates all structured data and the completed summary.",
      "id": "FinalResult",
      "type": "object"
    },
    "GoogleCloudBillingSkugroupsV1betaSkuGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the SKU group. Example: \"skuGroups/0e6403d1-4694-44d2-a696-7a78b1a69301\"."
        },
        "displayName": {
          "description": "Description of the SKU group. Example: \"A2 VMs (1 Year CUD)\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingSkugroupsV1betaSkuGroup",
      "description": "Encapsulates a publicly listed stock keeping unit (SKU) group. A SKU group represents a collection of SKUs that are related to each other. For example, the `AI Platform APIs` SKU group includes SKUs from the Cloud Dialogflow API, the Cloud Text-to-Speech API, and additional related APIs."
    },
    "ValueProto": {
      "description": "This is a copy of storage/googlesql/public/value.proto. ValueProto represents the serialized form of the googlesql::Value. The intention is to support multiple languages including Java and C++, so we must be sensitive to the distinction between Java Strings and byte arrays or ByteStrings. We also want to support use-cases which do not want to serialize a copy of the GoogleSQL type for every instance (which might be very repetitive). Therefore, unlike googlesql::Value, ValueProto does not carry full type information with every instance, and can only be fully interpreted with an associated TypeProto.",
      "type": "object",
      "properties": {
        "enumValue": {
          "format": "int32",
          "description": "Tag 11 was used for specifying micros timestamps as int64, now obsolete.",
          "type": "integer"
        },
        "int64Value": {
          "description": "Primitive for int64.",
          "type": "string",
          "format": "int64"
        },
        "timeValue": {
          "type": "string",
          "format": "int64",
          "description": "Bit field encoding of hour/minute/second/nanos. See TimeValue class for details."
        },
        "timestampPicoValue": {
          "description": "Encoded timestamp_pico value. For the encoding format see documentation for googlesql::TimestampPico::SerializeAsBytes().",
          "format": "byte",
          "type": "string"
        },
        "structValue": {
          "description": "A struct of values",
          "$ref": "Struct"
        },
        "ValueProtoSwitchMustHaveADefault": {
          "type": "boolean",
          "description": "User code that switches on this oneoff enum must have a default case so builds won't break when new fields are added."
        },
        "geographyValue": {
          "description": "Geography encoded using ::stlib::STGeographyEncoder",
          "type": "string",
          "format": "byte"
        },
        "mapValue": {
          "$ref": "Map",
          "description": "Encoded map value. See go/googlesql_map."
        },
        "timestampValue": {
          "format": "google-datetime",
          "type": "string",
          "description": "primitive for timestamp"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Primitive for bool."
        },
        "dateValue": {
          "type": "integer",
          "format": "int32",
          "description": "Primitive for date."
        },
        "intervalValue": {
          "format": "byte",
          "description": "Encoded interval value. For the encoding format see documentation for IntervalValue::SerializeAsBytes().",
          "type": "string"
        },
        "stringValue": {
          "type": "string",
          "description": "Primitive for string."
        },
        "doubleValue": {
          "description": "Primitive for double.",
          "type": "number",
          "format": "double"
        },
        "bignumericValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded bignumeric value. For the encoding format see documentation for BigNumericValue::SerializeAsProtoBytes()."
        },
        "tokenlistValue": {
          "format": "byte",
          "description": "Encoded tokenlist value. copybara:strip_begin(internal-comment) See //search/tokens:token_list. copybara:strip_end",
          "type": "string"
        },
        "uint32Value": {
          "format": "uint32",
          "description": "Primitive for uint32.",
          "type": "integer"
        },
        "bytesValue": {
          "description": "Primitive for bytes.",
          "format": "byte",
          "type": "string"
        },
        "protoValue": {
          "description": "Stores a serialized protocol message.",
          "format": "byte",
          "type": "string"
        },
        "uint64Value": {
          "format": "uint64",
          "description": "Primitive for uint64.",
          "type": "string"
        },
        "floatValue": {
          "format": "float",
          "type": "number",
          "description": "Primitive for float."
        },
        "rangeValue": {
          "description": "Encoded range value. See go/googlesql_range.",
          "$ref": "Range"
        },
        "datetimeValue": {
          "$ref": "Datetime",
          "description": "primitive for datetime"
        },
        "numericValue": {
          "format": "byte",
          "description": "Encoded numeric value. For the encoding format see documentation for NumericValue::SerializeAsProtoBytes().",
          "type": "string"
        },
        "uuidValue": {
          "type": "string",
          "format": "byte",
          "description": "Encoded uuid value. For the encoding format see documentation for UuidValue::SerializeAsBytes()."
        },
        "arrayValue": {
          "$ref": "Array",
          "description": "An array of value"
        },
        "int32Value": {
          "type": "integer",
          "format": "int32",
          "description": "Primitive value for int32."
        },
        "jsonValue": {
          "description": "Tag 22 was used for json value as bytes, now obsolete. Json value represented as a string document.",
          "type": "string"
        }
      },
      "id": "ValueProto"
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional": {
      "description": "Encapsulates a regional geographic taxonomy.",
      "properties": {
        "region": {
          "description": "Google Cloud region associated with the regional geographic taxonomy.",
          "$ref": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegion"
        }
      },
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyRegional"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion": {
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegion",
      "type": "object"
    },
    "Insight": {
      "description": "e.g. insight: title: \"Cost Increase (The Explanation)\" description: \"Your cost increase was driven by Vertex AI Online Prediction in us-central1...\" severity: INFO",
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The description of the insight."
        },
        "severity": {
          "description": "Output only. The severity of the insight, used for UI rendering (e.g., color-coding).",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "CRITICAL"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The insight is useful, but no action is required.",
            "The insight is useful, and some action may be required.",
            "The insight is useful, and immediate action is required."
          ]
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The title of the insight."
        }
      },
      "id": "Insight",
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
      "description": "Encapsulates a Google Cloud region.",
      "properties": {
        "region": {
          "type": "string",
          "description": "Description of a Google Cloud region. Example: \"us-west2\"."
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaRate": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaRate",
      "type": "object",
      "description": "Encapsulates a `Rate` price. Billing account SKUs with `Rate` price are offered by pricing tiers. The price have 1 or more rate pricing tiers.",
      "properties": {
        "unitInfo": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaUnitInfo",
          "description": "Unit info such as name and quantity."
        },
        "tiers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaRateTier"
          },
          "description": "All tiers associated with the `Rate` price."
        },
        "aggregationInfo": {
          "description": "Aggregation info for tiers such as aggregation level and interval.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaAggregationInfo"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice": {
      "type": "object",
      "description": "Encapsulates a default price which is the current list price.",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
      "properties": {}
    },
    "ColumnInfo": {
      "properties": {
        "column": {
          "description": "Name of the column.",
          "type": "string"
        }
      },
      "description": "Represents a column header.",
      "type": "object",
      "id": "ColumnInfo"
    },
    "GoogleCloudBillingPricesV1betaListPricesResponse": {
      "id": "GoogleCloudBillingPricesV1betaListPricesResponse",
      "description": "Response message for ListPrices.",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        },
        "prices": {
          "type": "array",
          "description": "The returned publicly listed prices.",
          "items": {
            "$ref": "GoogleCloudBillingPricesV1betaPrice"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
      "description": "Encapsulates a discount off the current list price, not anchored to any list price as of a fixed time.",
      "properties": {
        "discountScopeType": {
          "description": "Type of the floating discount scope which indicates the source of the discount. It can have values such as 'unspecified' and 'sku-group'.",
          "type": "string"
        },
        "skuGroup": {
          "type": "string",
          "description": "SKU group where the floating discount comes from."
        },
        "discountPercent": {
          "description": "Percentage of the floating discount.",
          "$ref": "Decimal"
        }
      }
    },
    "Range": {
      "type": "object",
      "description": "A range of values, bounded by the values 'start' (inclusive) and 'end' (exclusive). A range has an element type, and values must be of this element type. A range is contiguous, ie it contains all values of the given element type starting at 'start' and ending before 'end'. A \"null\" value on start or end represents an unbounded start or end value respectively. Start and end values must always be present.",
      "id": "Range",
      "properties": {
        "end": {
          "$ref": "ValueProto",
          "description": "Represents the end of the range."
        },
        "start": {
          "description": "Represents the start of the range.",
          "$ref": "ValueProto"
        }
      }
    },
    "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse": {
      "id": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse",
      "description": "Response message for ListBillingAccountPrices.",
      "properties": {
        "billingAccountPrices": {
          "type": "array",
          "description": "The returned billing account prices.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
          }
        },
        "nextPageToken": {
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal": {
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {},
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal",
      "type": "object"
    },
    "DataSet": {
      "id": "DataSet",
      "type": "object",
      "properties": {
        "billingData": {
          "description": "Output only. Actual billing data returned from the Data Mart. Uses the formal message from the Billing Data Service.",
          "readOnly": true,
          "$ref": "BillingData"
        },
        "suggestedChart": {
          "readOnly": true,
          "description": "Output only. A suggested chart for the data set, used for UI rendering.",
          "$ref": "SuggestedChart"
        },
        "queryInfo": {
          "description": "Output only. The query used to fetch this data.",
          "readOnly": true,
          "$ref": "AgenticQueryInfo"
        }
      },
      "description": "A dataset used to support an insight, suitable for UI rendering (tables/charts)."
    },
    "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        },
        "skuGroupSkus": {
          "description": "The returned SKU group SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse",
      "description": "Response message for ListSkuGroupSkus."
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse": {
      "type": "object",
      "description": "Response message for ListBillingAccountSkuGroupSkus.",
      "properties": {
        "billingAccountSkuGroupSkus": {
          "type": "array",
          "description": "The returned billing account SKU group SKUs.",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
    },
    "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse": {
      "id": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse",
      "type": "object",
      "description": "Response message for ListBillingAccountServices.",
      "properties": {
        "billingAccountServices": {
          "description": "The returned billing account services.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `page_token` in the subsequent request to retrieve the next page. If this field is empty, there are no subsequent pages."
        }
      }
    },
    "InteropLink": {
      "properties": {
        "url": {
          "description": "Output only. The URL of the link.",
          "type": "string",
          "readOnly": true
        },
        "label": {
          "description": "Output only. The label of the link, suitable for UI rendering.",
          "readOnly": true,
          "type": "string"
        },
        "linkType": {
          "description": "Output only. The type of the interop link, e.g., \"COST_REPORT\", \"BQE_QUERY\", etc.",
          "type": "string",
          "enum": [
            "LINK_TYPE_UNSPECIFIED",
            "COST_REPORT",
            "BQE_QUERY",
            "FINOPS_HUB"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A link to a Cost Report in Google Cloud Console.",
            "A link to a BigQuery Export query.",
            "A link to a FinOps Hub page."
          ],
          "readOnly": true
        }
      },
      "id": "InteropLink",
      "description": "A link to interoperable tools (e.g., pre-filtered Cost Reports, BQE queries).",
      "type": "object"
    },
    "Array": {
      "type": "object",
      "description": "An ordered collection of elements of arbitrary count.",
      "properties": {
        "element": {
          "description": "The elements of the array.",
          "type": "array",
          "items": {
            "$ref": "ValueProto"
          }
        }
      },
      "id": "Array"
    },
    "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional": {
      "properties": {
        "region": {
          "$ref": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegion",
          "description": "Google Cloud region associated with the regional geographic taxonomy."
        }
      },
      "description": "Encapsulates a regional geographic taxonomy.",
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountskusV1betaGeoTaxonomyRegional"
    },
    "GoogleCloudBillingBillingaccountpricesV1betaPriceReason": {
      "type": "object",
      "id": "GoogleCloudBillingBillingaccountpricesV1betaPriceReason",
      "description": "Encapsulates a price reason which contains background information about the origin of the price.",
      "properties": {
        "mergedPrice": {
          "description": "Price after merging from multiple sources.",
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMergedPrice"
        },
        "fixedDiscount": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedDiscount",
          "description": "Discount off the list price, anchored to the list price as of a fixed time."
        },
        "floatingDiscount": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFloatingDiscount",
          "description": "Discount off the current list price, not anchored to any list price as of a fixed time."
        },
        "type": {
          "type": "string",
          "description": "Type of the price reason. It can have values such as 'unspecified', 'default-price', 'fixed-price', 'fixed-discount', 'floating-discount', 'migrated-price', 'merged-price', 'list-price-as-ceiling'."
        },
        "fixedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaFixedPrice",
          "description": "Fixed price applicable during the terms of a contract agreement."
        },
        "listPriceAsCeiling": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListPriceAsCeiling",
          "description": "Contract feature that the list price (DefaultPrice) will be used for the price if the current list price drops lower than the custom fixed price. Available to new contracts after March 21, 2022. Applies to all fixed price SKUs in the contract, including FixedPrice, FixedDiscount, MigratedPrice, and MergedPrice."
        },
        "defaultPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaDefaultPrice",
          "description": "Default price which is the current list price."
        },
        "migratedPrice": {
          "$ref": "GoogleCloudBillingBillingaccountpricesV1betaMigratedPrice",
          "description": "Price migrated from other SKUs."
        }
      }
    },
    "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy": {
      "id": "GoogleCloudBillingSkugroupskusV1betaProductTaxonomy",
      "description": "Encapsulates product categories, such as `Serverless`, `Cloud Run`, `TaskQueue`, and others.",
      "properties": {
        "taxonomyCategories": {
          "description": "All product categories that the SKU group SKU belongs to.",
          "items": {
            "$ref": "GoogleCloudBillingSkugroupskusV1betaTaxonomyCategory"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy": {
      "id": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomy",
      "type": "object",
      "properties": {
        "globalMetadata": {
          "description": "Global geographic metadata with no regions.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyGlobal"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Unspecified type.",
            "Global geographic taxonomy with no regions.",
            "Regional geographic taxonomy with 1 region.",
            "Multi-regional geographic taxonomy with 2 or more regions."
          ],
          "description": "Type of geographic taxonomy associated with the billing account SKU group SKU.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_GLOBAL",
            "TYPE_REGIONAL",
            "TYPE_MULTI_REGIONAL"
          ]
        },
        "regionalMetadata": {
          "description": "Regional geographic metadata with 1 region.",
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyRegional"
        },
        "multiRegionalMetadata": {
          "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaGeoTaxonomyMultiRegional",
          "description": "Multi-regional geographic metadata with 2 or more regions."
        }
      },
      "description": "Encapsulates geographic metadata, such as regions and multi-regions like `us-east4` or `European Union`."
    },
    "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal": {
      "description": "Encapsulates a global geographic taxonomy.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudBillingSkugroupskusV1betaGeoTaxonomyGlobal"
    },
    "UserContext": {
      "id": "UserContext",
      "description": "Additional context for personalization (e.g., user persona, role).",
      "properties": {
        "role": {
          "description": "Optional. The user's role (e.g., Billing Admin, Project Owner, etc.).",
          "type": "string"
        },
        "persona": {
          "type": "string",
          "description": "Optional. The user's persona (e.g., FinOps Manager, Developer).",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The user is a FinOps Manager.",
            "The user is a Developer."
          ],
          "enum": [
            "PERSONA_UNSPECIFIED",
            "FINOPS_MANAGER",
            "DEVELOPER"
          ]
        }
      },
      "type": "object"
    },
    "MapEntry": {
      "description": "A single entry in a Map, representing the mapping between `key` and `value`.",
      "properties": {
        "value": {
          "description": "Represents the serialized map value of the entry.",
          "$ref": "ValueProto"
        },
        "key": {
          "$ref": "ValueProto",
          "description": "Represents the serialized map key for the entry."
        }
      },
      "type": "object",
      "id": "MapEntry"
    }
  },
  "canonicalName": "Cloudbilling",
  "version_module": true,
  "batchPath": "batch",
  "baseUrl": "https://cloudbilling.googleapis.com/",
  "name": "cloudbilling",
  "documentationLink": "https://cloud.google.com/billing/docs/apis",
  "servicePath": "",
  "protocol": "rest",
  "id": "cloudbilling:v1beta",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "rootUrl": "https://cloudbilling.googleapis.com/",
  "resources": {
    "billingAccounts": {
      "resources": {
        "services": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse"
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists services visible to a billing account.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of billing account service to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountServices call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+$",
                  "description": "Required. The billing account to list billing account service from. Format: billingAccounts/{billing_account}"
                }
              },
              "id": "cloudbilling.billingAccounts.services.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/services"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountservicesV1betaBillingAccountService"
              },
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/services/{servicesId}",
              "id": "cloudbilling.billingAccounts.services.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a Google Cloud service visible to a billing account.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the billing account service to retrieve. Format: billingAccounts/{billing_account}/services/{service}",
                  "pattern": "^billingAccounts/[^/]+/services/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "skuGroups": {
          "methods": {
            "list": {
              "description": "Lists SKU groups visible to a billing account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The billing account to list billing account SKU groups from. Format: billingAccounts/{billing_account}",
                  "pattern": "^billingAccounts/[^/]+$"
                },
                "pageToken": {
                  "description": "Page token received from a previous ListBillingAccountSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of billing account SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse"
              },
              "path": "v1beta/{+parent}/skuGroups",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups",
              "id": "cloudbilling.billingAccounts.skuGroups.list",
              "httpMethod": "GET"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "cloudbilling.billingAccounts.skuGroups.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the BillingAccountSkuGroup to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "description": "Gets a SKU group visible to a billing account.",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskugroupsV1betaBillingAccountSkuGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}"
            }
          },
          "resources": {
            "skus": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus",
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.list",
                  "httpMethod": "GET",
                  "description": "Lists SKUs that is part of billing account SKU groups.",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaListBillingAccountSkuGroupSkusResponse"
                  },
                  "path": "v1beta/{+parent}/skus",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The billing account SKU group to list billing account SKU group SKUs from. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Maximum number of billing account SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Page token received from a previous ListBillingAccountSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the billing account SKU group SKU to retrieve. Format: billingAccounts/{billing_account}/skuGroups/{sku_group}/skus/{sku}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^billingAccounts/[^/]+/skuGroups/[^/]+/skus/[^/]+$"
                    }
                  },
                  "id": "cloudbilling.billingAccounts.skuGroups.skus.get",
                  "description": "Gets a SKU that is part of a billing account SKU group.",
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skuGroups/{skuGroupsId}/skus/{skusId}",
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountskugroupskusV1betaBillingAccountSkuGroupSku"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "skus": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the billing account SKU to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}",
                  "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta/{+name}",
              "id": "cloudbilling.billingAccounts.skus.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaBillingAccountSku"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}",
              "description": "Gets a SKU visible to a billing account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudBillingBillingaccountskusV1betaListBillingAccountSkusResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/skus",
              "description": "Lists SKUs visible to a billing account.",
              "id": "cloudbilling.billingAccounts.skus.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of billing account SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32"
                },
                "filter": {
                  "description": "Options for how to filter the billing account SKUs. Currently, only filter on `billing_account_service` is supported. Only !=, = operators are supported. Examples: - billing_account_service = \"billingAccounts/012345-567890-ABCDEF/services/DA34-426B-A397\"",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token received from a previous ListBillingAccountSkus call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+$",
                  "description": "Required. The billing account to list billing account SKU from. Format: billingAccounts/{billing_account}",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "prices": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaListBillingAccountPricesResponse"
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/prices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudbilling.billingAccounts.skus.prices.list",
                  "parameters": {
                    "currencyCode": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, currency of billing account will be used."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Page token received from a previous ListBillingAccountPrices call to retrieve the next page of results. If this field is empty, the first page is returned."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of billing account price to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+$",
                      "description": "Required. To list all Billing Account SKUs, use `-` as the SKU ID. Format: `billingAccounts/{billing_account}/skus/-` Note: Specifying an actual SKU resource id will return a collection of one Billing Account Price.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1beta/{+parent}/prices",
                  "description": "Lists the latest prices for SKUs available to your Cloud Billing account."
                }
              }
            },
            "price": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudBillingBillingaccountpricesV1betaBillingAccountPrice"
                  },
                  "description": "Gets the latest price for SKUs available to your Cloud Billing account.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts/[^/]+/skus/[^/]+/price$",
                      "type": "string",
                      "description": "Required. Name of the billing account price to retrieve. Format: billingAccounts/{billing_account}/skus/{sku}/price"
                    },
                    "currencyCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. ISO-4217 currency code for the price. If not specified, the currency of the billing account is used."
                    }
                  },
                  "flatPath": "v1beta/billingAccounts/{billingAccountsId}/skus/{skusId}/price",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "cloudbilling.billingAccounts.skus.price.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-billing",
                    "https://www.googleapis.com/auth/cloud-billing.readonly",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}"
                }
              }
            }
          }
        }
      }
    },
    "skuGroups": {
      "resources": {
        "skus": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^skuGroups/[^/]+/skus/[^/]+$",
                  "description": "Required. The name of the SKU group SKU to retrieve. Format: skuGroups/{sku_group}/skus/{sku}"
                }
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus/{skusId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaSkuGroupSku"
              },
              "description": "Gets a publicly listed SKU that is part of a publicly listed SKU group.",
              "id": "cloudbilling.skuGroups.skus.get",
              "httpMethod": "GET"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token received from a previous ListSkuGroupSkus call to retrieve the next page of results. If this field is empty, the first page is returned."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of SKU group SKUs to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}",
                  "type": "string",
                  "pattern": "^skuGroups/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.skuGroups.skus.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/skus",
              "description": "Lists all publicly listed SKUs contained by a publicly listed SKU group.",
              "response": {
                "$ref": "GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse"
              },
              "flatPath": "v1beta/skuGroups/{skuGroupsId}/skus"
            }
          }
        }
      },
      "methods": {
        "list": {
          "description": "Lists all publicly listed SKU groups.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta/skuGroups",
          "flatPath": "v1beta/skuGroups",
          "id": "cloudbilling.skuGroups.list",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of SKU groups to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token received from a previous ListSkuGroups call to retrieve the next page of results. If this field is empty, the first page is returned."
            }
          },
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse"
          }
        },
        "get": {
          "path": "v1beta/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudBillingSkugroupsV1betaSkuGroup"
          },
          "description": "Gets a publicly listed SKU group.",
          "flatPath": "v1beta/skuGroups/{skuGroupsId}",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudbilling.skuGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^skuGroups/[^/]+$",
              "description": "Required. The name of the SKU group to retrieve. Format: skuGroups/{sku_group}",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "v1beta": {
      "methods": {
        "generateInsights": {
          "request": {
            "$ref": "GenerateInsightsRequest"
          },
          "parameterOrder": [],
          "path": "v1beta:generateInsights",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-billing",
            "https://www.googleapis.com/auth/cloud-billing.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GenerateInsightsResponse"
          },
          "id": "cloudbilling.generateInsights",
          "flatPath": "v1beta:generateInsights",
          "description": "Analyzes cost data for a billing account and/or specific projects. Returns a natural language summary and supporting datasets.",
          "parameters": {}
        }
      }
    },
    "skus": {
      "resources": {
        "price": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the latest price to retrieve. Format: skus/{sku}/price",
                  "pattern": "^skus/[^/]+/price$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "currencyCode": {
                  "location": "query",
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudbilling.skus.price.get",
              "path": "v1beta/{+name}",
              "description": "Gets the latest price for the given SKU.",
              "flatPath": "v1beta/skus/{skusId}/price",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaPrice"
              }
            }
          }
        },
        "prices": {
          "methods": {
            "list": {
              "id": "cloudbilling.skus.prices.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-billing",
                "https://www.googleapis.com/auth/cloud-billing.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/prices",
              "description": "Lists the latest prices for all SKUs.",
              "httpMethod": "GET",
              "parameters": {
                "currencyCode": {
                  "description": "Optional. ISO-4217 currency code for the price. If not specified, USD will be used.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Maximum number of prices to return. Results may return fewer than this value. Default value is 50 and maximum value is 5000.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. To list the prices for all SKUs, use `-` as the SKU ID. Format: `skus/-` Specifying a specific SKU ID returns a collection with one Price object for the SKU.",
                  "pattern": "^skus/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token received from a previous ListPrices call to retrieve the next page of results. If this field is empty, the first page is returned.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudBillingPricesV1betaListPricesResponse"
              },
[...]
