{
  "id": "cloudlocationfinder:v1alpha",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "baseUrl": "https://cloudlocationfinder.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "rootUrl": "https://cloudlocationfinder.googleapis.com/",
  "name": "cloudlocationfinder",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "cloudLocations": {
              "methods": {
                "search": {
                  "description": "Searches for cloud locations from a given source location.",
                  "parameters": {
                    "sourceCloudLocation": {
                      "type": "string",
                      "description": "Required. The source cloud location to search from. Example search can be searching nearby cloud locations from the source cloud location by latency.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return. Provide Page token returned by a previous 'ListCloudLocations' call to retrieve the next page of results. When paginating, all other parameters provided to 'ListCloudLocations' must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent, which owns this collection of cloud locations. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "query": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The query string in search query syntax. While filter is used to filter the search results by attributes, query is used to specify the search requirements."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of cloud locations to return. The service might return fewer cloud locations than this value. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    }
                  },
                  "id": "cloudlocationfinder.projects.locations.cloudLocations.search",
                  "path": "v1alpha/{+parent}/cloudLocations:search",
                  "response": {
                    "$ref": "SearchCloudLocationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cloudLocations:search",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListCloudLocationsResponse"
                  },
                  "description": "Lists cloud locations under a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/cloudLocations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cloudLocations",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter expression that filters resources listed in the response. The expression is in the form of field=value. For example, 'cloud_location_type=CLOUD_LOCATION_TYPE_REGION'. Multiple filter queries are space-separated. For example, 'cloud_location_type=CLOUD_LOCATION_TYPE_REGION territory_code=\"US\"' By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of cloud locations to return per page. The service might return fewer cloud locations than this value. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return. Provide page token returned by a previous 'ListCloudLocations' call to retrieve the next page of results. When paginating, all other parameters provided to 'ListCloudLocations' must match the call that provided the page token."
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of cloud locations. Format: projects/{project}/locations/{location}"
                    }
                  },
                  "id": "cloudlocationfinder.projects.locations.cloudLocations.list"
                },
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cloudLocations/{cloudLocationsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudLocations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "CloudLocation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "description": "Retrieves a resource containing information about a cloud location.",
                  "id": "cloudlocationfinder.projects.locations.cloudLocations.get"
                }
              }
            }
          },
          "methods": {
            "get": {
              "description": "Gets information about a location.",
              "id": "cloudlocationfinder.projects.locations.get",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              }
            },
            "list": {
              "parameters": {
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudlocationfinder.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "path": "v1alpha/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations"
            }
          }
        }
      }
    }
  },
  "description": "",
  "batchPath": "batch",
  "revision": "20260826",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Cloud Location Finder",
  "mtlsRootUrl": "https://cloudlocationfinder.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/location-finder/docs",
  "protocol": "rest",
  "servicePath": "",
  "title": "Cloud Location Finder API",
  "version": "v1alpha",
  "schemas": {
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "CloudLocation": {
      "properties": {
        "carbonFreeEnergyPercentage": {
          "type": "number",
          "format": "float",
          "description": "Optional. The carbon free energy percentage of the cloud location. This represents the average percentage of time customers' application will be running on carbon-free energy. See https://cloud.google.com/sustainability/region-carbon for more details. There is a difference between default value 0 and unset value. 0 means the carbon free energy percentage is 0%, while unset value means the carbon footprint data is not available."
        },
        "containingCloudLocation": {
          "readOnly": true,
          "description": "Output only. The containing cloud location in the strict nesting hierarchy. For example, the containing cloud location of a zone is a region.",
          "type": "string"
        },
        "cloudLocationType": {
          "enum": [
            "CLOUD_LOCATION_TYPE_UNSPECIFIED",
            "CLOUD_LOCATION_TYPE_REGION",
            "CLOUD_LOCATION_TYPE_ZONE",
            "CLOUD_LOCATION_TYPE_GDCC_ZONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "CloudLocation type for region.",
            "CloudLocation type for zone.",
            "CloudLocation type for Google Distributed Cloud Connected Zone."
          ],
          "description": "Optional. The type of the cloud location."
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "CLOUD_PROVIDER_GCP",
            "CLOUD_PROVIDER_AWS",
            "CLOUD_PROVIDER_AZURE",
            "CLOUD_PROVIDER_OCI"
          ],
          "type": "string",
          "description": "Optional. The provider of the cloud location. Values can be Google Cloud or third-party providers, including AWS, Azure, or Oracle Cloud Infrastructure.",
          "enumDescriptions": [
            "Unspecified type.",
            "Cloud provider type for Google Cloud.",
            "Cloud provider type for AWS.",
            "Cloud provider type for Azure.",
            "Cloud provider type for OCI."
          ]
        },
        "name": {
          "description": "Identifier. Name of the cloud location. Unique name of the cloud location including project and location using the form: `projects/{project_id}/locations/{location}/cloudLocations/{cloud_location}`",
          "type": "string"
        },
        "territoryCode": {
          "description": "Optional. The two-letter ISO 3166-1 alpha-2 code of the cloud location. Examples: US, JP, KR.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The human-readable name of the cloud location. Example: us-east-2, us-east1.",
          "type": "string"
        }
      },
      "id": "CloudLocation",
      "type": "object",
      "description": "Represents resource cloud locations."
    },
    "ListCloudLocationsResponse": {
      "type": "object",
      "description": "Message for response to listing cloud locations.",
      "id": "ListCloudLocationsResponse",
      "properties": {
        "cloudLocations": {
          "items": {
            "$ref": "CloudLocation"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of cloud locations."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The continuation token, used to page through large result sets. Provide this value in a subsequent request as page_token in subsequent requests to retrieve the next page. If this field is not present, there are no subsequent results."
        }
      }
    },
    "SearchCloudLocationsResponse": {
      "description": "Message for response to searching cloud locations.",
      "type": "object",
      "id": "SearchCloudLocationsResponse",
      "properties": {
        "cloudLocations": {
          "description": "Output only. List of cloud locations.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CloudLocation"
          }
        },
        "nextPageToken": {
          "description": "Output only. The continuation token, used to page through large result sets. Provide this value in a subsequent request as page_token in subsequent requests to retrieve the next page. If this field is not present, there are no subsequent results.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  }
}