{
  "ownerName": "Google",
  "title": "Cloud Number Registry API",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://cloudnumberregistry.mtls.googleapis.com/",
  "protocol": "rest",
  "name": "cloudnumberregistry",
  "basePath": "",
  "servicePath": "",
  "id": "cloudnumberregistry:v1alpha",
  "discoveryVersion": "v1",
  "documentationLink": "https://docs.cloud.google.com/number-registry/reference/rest",
  "ownerDomain": "google.com",
  "baseUrl": "https://cloudnumberregistry.googleapis.com/",
  "rootUrl": "https://cloudnumberregistry.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "cloudnumberregistry.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}/locations"
            },
            "get": {
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "cloudnumberregistry.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "customRanges": {
              "methods": {
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the CustomRange to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "response": {
                    "$ref": "CustomRange"
                  },
                  "id": "cloudnumberregistry.projects.locations.customRanges.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single CustomRange.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "showUtilization": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.showUtilization",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the details of a single CustomRange and its utilization.",
                  "response": {
                    "$ref": "ShowCustomRangeUtilizationResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:showUtilization",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the CustomRange.",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:showUtilization"
                },
                "list": {
                  "id": "cloudnumberregistry.projects.locations.customRanges.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists CustomRanges in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "response": {
                    "$ref": "ListCustomRangesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results."
                    }
                  },
                  "path": "v1alpha/{+parent}/customRanges"
                },
                "findFreeIpRanges": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.findFreeIpRanges",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Finds free IP ranges in a single CustomRange.",
                  "response": {
                    "$ref": "FindCustomRangeFreeIpRangesResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}:findFreeIpRanges",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the CustomRange to search within.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$"
                    },
                    "cidrPrefixLength": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Required. The prefix length of the free IP ranges to find."
                    },
                    "rangeCount": {
                      "description": "Optional. The number of free IP ranges to find.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "path": "v1alpha/{+name}:findFreeIpRanges"
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudnumberregistry.projects.locations.customRanges.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new CustomRange in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "path": "v1alpha/{+parent}/customRanges",
                  "parameters": {
                    "customRangeId": {
                      "description": "Required. The ID to use for the CustomRange, which will become the final segment of the resource name.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name where the CustomRange will be created.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "CustomRange"
                  },
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the CustomRange resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single CustomRange."
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/customRanges/[^/]+$",
                      "description": "Required. The resource name of the CustomRange to delete."
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/customRanges/{customRangesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.customRanges.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single CustomRange."
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "cloudnumberregistry.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "path": "v1alpha/{+name}/operations",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "id": "cloudnumberregistry.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "path": "v1alpha/{+name}"
                },
                "delete": {
                  "id": "cloudnumberregistry.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "registryBooks": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single RegistryBook.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the RegistryBook to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted."
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListRegistryBooksResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists RegistryBooks in a given project and location.",
                  "path": "v1alpha/{+parent}/registryBooks",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`."
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "description": "Optional. The view of the RegistryBook to retrieve.",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "type": "string",
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ]
                    }
                  }
                },
                "create": {
                  "id": "cloudnumberregistry.projects.locations.registryBooks.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new RegistryBook in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name where the RegistryBook will be created.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "registryBookId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the RegistryBook, which will become the final segment of the resource name."
                    }
                  },
                  "path": "v1alpha/{+parent}/registryBooks",
                  "request": {
                    "$ref": "RegistryBook"
                  }
                },
                "patch": {
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "RegistryBook"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "description": "Required. Identifier. The resource name of the RegistryBook.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the RegistryBook resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single RegistryBook.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "searchIpResources": {
                  "request": {
                    "$ref": "SearchIpResourcesRequest"
                  },
                  "path": "v1alpha/{+name}:searchIpResources",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the RegistryBook to search in.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}:searchIpResources",
                  "response": {
                    "$ref": "SearchIpResourcesResponse"
                  },
                  "id": "cloudnumberregistry.projects.locations.registryBooks.searchIpResources",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Searches IP resources in a given RegistryBook.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/registryBooks/[^/]+$",
                      "description": "Required. The resource name of the RegistryBook to retrieve.",
                      "type": "string"
                    },
                    "view": {
                      "enum": [
                        "REGISTRY_BOOK_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the RegistryBook."
                      ],
                      "description": "Optional. The view of the RegistryBook to retrieve.",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.registryBooks.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single RegistryBook.",
                  "response": {
                    "$ref": "RegistryBook"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/registryBooks/{registryBooksId}",
                  "httpMethod": "GET"
                }
              }
            },
            "ipamAdminScopes": {
              "methods": {
                "cleanup": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.cleanup",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Cleans up a single IpamAdminScope.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}:cleanup",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the IpamAdminScope to clean up.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+name}:cleanup",
                  "request": {
                    "$ref": "CleanupIpamAdminScopeRequest"
                  }
                },
                "delete": {
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The resource name of the IpamAdminScope to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted."
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single IpamAdminScope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes",
                  "response": {
                    "$ref": "ListIpamAdminScopesResponse"
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists IpamAdminScopes in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/ipamAdminScopes",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new IpamAdminScope in a given project and location.",
                  "path": "v1alpha/{+parent}/ipamAdminScopes",
                  "request": {
                    "$ref": "IpamAdminScope"
                  },
                  "parameters": {
                    "ipamAdminScopeId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the IpamAdminScope, which will become the final segment of the resource name."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name where the IpamAdminScope will be created."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  }
                },
                "patch": {
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single IpamAdminScope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the IpamAdminScope resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Identifier. The resource name of the IpamAdminScope.",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "IpamAdminScope"
                  }
                },
                "checkAvailability": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes:checkAvailability",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "CheckAvailabilityIpamAdminScopesResponse"
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.checkAvailability",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Checks the availability of IpamAdminScopes in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/ipamAdminScopes:checkAvailability",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "type": "string"
                    },
                    "scopes": {
                      "repeated": true,
                      "description": "Required. The administrative scopes to check for availability.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "disable": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.disable",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Disables a single IpamAdminScope.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}:disable",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the IpamAdminScope to disable.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "DisableIpamAdminScopeRequest"
                  },
                  "path": "v1alpha/{+name}:disable"
                },
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/ipamAdminScopes/{ipamAdminScopesId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "IpamAdminScope"
                  },
                  "id": "cloudnumberregistry.projects.locations.ipamAdminScopes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single IpamAdminScope.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/ipamAdminScopes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the IpamAdminScope to retrieve.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "realms": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+parent}/realms",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "description": "Optional. The view of the Realm to retrieve.",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the Realm."
                      ],
                      "type": "string",
                      "enum": [
                        "REALM_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ]
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "description": "Optional. Filter expression to filter the results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms",
                  "response": {
                    "$ref": "ListRealmsResponse"
                  },
                  "id": "cloudnumberregistry.projects.locations.realms.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Realms in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "path": "v1alpha/{+parent}/realms",
                  "request": {
                    "$ref": "Realm"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name where the Realm will be created.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request."
                    },
                    "realmId": {
                      "description": "Required. The ID to use for the Realm, which will become the final segment of the resource name.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Realm in a given project and location."
                },
                "patch": {
                  "id": "cloudnumberregistry.projects.locations.realms.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single Realm.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Realm resource by the update."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "Required. Identifier. The resource name of the Realm."
                    }
                  },
                  "request": {
                    "$ref": "Realm"
                  },
                  "path": "v1alpha/{+name}"
                },
                "delete": {
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the Realm to delete.",
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, all associated resources will be deleted."
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "id": "cloudnumberregistry.projects.locations.realms.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single Realm.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the Realm to retrieve."
                    },
                    "view": {
                      "description": "Optional. The view of the Realm to retrieve.",
                      "location": "query",
                      "enum": [
                        "REALM_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL",
                        "AGGREGATE"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to BASIC.",
                        "Basic view.",
                        "Full view. Includes the same data as the BASIC view.",
                        "Aggregate includes data about the child resources of the Realm."
                      ]
                    }
                  },
                  "response": {
                    "$ref": "Realm"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.realms.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Realm."
                }
              }
            },
            "discoveredRanges": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+parent}/discoveredRanges",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression to filter the results."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, for example `projects/*/locations/*`.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListDiscoveredRangesResponse"
                  },
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists DiscoveredRanges in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the DiscoveredRange to retrieve."
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}",
                  "response": {
                    "$ref": "DiscoveredRange"
                  },
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single DiscoveredRange.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "findFreeIpRanges": {
                  "parameters": {
                    "cidrPrefixLength": {
                      "description": "Required. The prefix length of the free IP ranges to find.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the DiscoveredRange to search within.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "rangeCount": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The number of free IP ranges to find."
                    }
                  },
                  "path": "v1alpha/{+name}:findFreeIpRanges",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.findFreeIpRanges",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Finds free IP ranges in a single DiscoveredRange.",
                  "response": {
                    "$ref": "FindDiscoveredRangeFreeIpRangesResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}:findFreeIpRanges"
                },
                "showUtilization": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the DiscoveredRange.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredRanges/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}:showUtilization",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "cloudnumberregistry.projects.locations.discoveredRanges.showUtilization",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the details of a single DiscoveredRange and its utilization.",
                  "response": {
                    "$ref": "ShowDiscoveredRangeUtilizationResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/discoveredRanges/{discoveredRangesId}:showUtilization"
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListRealmsResponse": {
      "id": "ListRealmsResponse",
      "description": "Response message for the CloudNumberRegistry.ListRealms method.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "realms": {
          "type": "array",
          "description": "The list of Realms.",
          "items": {
            "$ref": "Realm"
          }
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListRegistryBooksResponse": {
      "type": "object",
      "id": "ListRegistryBooksResponse",
      "description": "Response message for the CloudNumberRegistry.ListRegistryBooks method.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "registryBooks": {
          "description": "The list of RegistryBook",
          "items": {
            "$ref": "RegistryBook"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "AggregatedData": {
      "type": "object",
      "id": "AggregatedData",
      "description": "Aggregated data for the RegistryBook.",
      "properties": {
        "discoveredRangesCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of DiscoveredRanges in the RegistryBook."
        },
        "discoveredRealmsCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of discovered Realms in the RegistryBook."
        },
        "uniqueScopesCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of scopes unique to the RegistryBook.",
          "readOnly": true
        },
        "customRangesCount": {
          "readOnly": true,
          "description": "Output only. Number of CustomRanges in the RegistryBook.",
          "format": "int32",
          "type": "integer"
        },
        "customRealmsCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of custom Realms in the RegistryBook."
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "DisableIpamAdminScopeRequest": {
      "type": "object",
      "id": "DisableIpamAdminScopeRequest",
      "description": "Request message for the CloudNumberRegistry.DisableIpamAdminScope method.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "CustomRange": {
      "id": "CustomRange",
      "description": "A CustomRange represents a user-defined IP address range.",
      "properties": {
        "ipv4CidrRange": {
          "description": "Optional. The IPv4 CIDR range of the CustomRange.",
          "type": "string"
        },
        "registryBook": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The RegistryBook of the CustomRange. This field is inherited from the Realm or parent CustomRange depending on which one is specified."
        },
        "name": {
          "description": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels."
        },
        "realm": {
          "description": "Optional. The resource name of the Realm associated with the CustomRange, in the format `projects/{project}/locations/{location}/realms/{realm}`. The Realm must be in the same project as the CustomRange. This field must not be set if the `parent_range` field is set, as the Realm will be inherited from the parent CustomRange.",
          "type": "string"
        },
        "attributes": {
          "items": {
            "$ref": "Attribute"
          },
          "description": "Optional. The attributes of the CustomRange.",
          "type": "array"
        },
        "parentRange": {
          "description": "Optional. The resource name of the parent CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`. If specified, the parent CustomRange must be in the same RegistryBook. This field is mutually exclusive with the `realm` field, as the Realm is inherited from the parent CustomRange.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the CustomRange.",
          "type": "string"
        },
        "ipv6CidrRange": {
          "description": "Optional. The IPv6 CIDR range of the CustomRange.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiscoveryMetadata": {
      "id": "DiscoveryMetadata",
      "description": "Metadata about a discovered resource, tracking event times, state, and source information.",
      "properties": {
        "eventTime": {
          "description": "Output only. The time when the event happened.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sourceSubId": {
          "readOnly": true,
          "description": "Output only. A single source resource can be the source of multiple CNR resources. This sub_id is used to distinguish between the different CNR resources derived from the same upstream resource. For example, a single subnetwork can be the source of multiple Ranges, one for each protocol. In this case, the sub_id could be \"private-ipv4\" or \"private-ipv6\".",
          "type": "string"
        },
        "state": {
          "enum": [
            "RESOURCE_STATE_UNSPECIFIED",
            "INVALID",
            "EXISTS",
            "DOES_NOT_EXIST",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The resource is in an invalid state.",
            "The resource exists in the backing store (is not tombstoned or completely missing) and there were no failures reading out the resource level metadata.",
            "Resource does not exist or has been deleted or soft-deleted.",
            "There was an error reading out the resource level metadata."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the resource."
        },
        "resource": {
          "readOnly": true,
          "description": "Output only. The resource name of the discovered resource, should be API-agnostic. Example: \"projects/{project_number}/networks/{network_id}\".",
          "type": "string"
        },
        "sourceId": {
          "description": "Output only. The canonical google.aip.dev/122 name of the source resource.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the resource was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceUri": {
          "description": "Output only. The resource uri of the discovered resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "FindDiscoveredRangeFreeIpRangesResponse": {
      "id": "FindDiscoveredRangeFreeIpRangesResponse",
      "description": "Response message for the CloudNumberRegistry.FindDiscoveredRangeFreeIpRanges method.",
      "properties": {
        "freeIpCidrRanges": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The free IP CIDR ranges found.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ShowDiscoveredRangeUtilizationResponse": {
      "id": "ShowDiscoveredRangeUtilizationResponse",
      "description": "Response message for the CloudNumberRegistry.ShowDiscoveredRangeUtilization method.",
      "properties": {
        "discoveredRange": {
          "$ref": "DiscoveredRange",
          "description": "The DiscoveredRange resource."
        },
        "rangeUtilization": {
          "$ref": "RangeUtilization",
          "description": "The utilization details of the DiscoveredRange."
        }
      },
      "type": "object"
    },
    "ListIpamAdminScopesResponse": {
      "type": "object",
      "id": "ListIpamAdminScopesResponse",
      "description": "Response message for the CloudNumberRegistry.ListIpamAdminScopes method.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ipamAdminScopes": {
          "description": "The list of IpamAdminScopes.",
          "items": {
            "$ref": "IpamAdminScope"
          },
          "type": "array"
        }
      }
    },
    "ListDiscoveredRangesResponse": {
      "id": "ListDiscoveredRangesResponse",
      "description": "Response message for the CloudNumberRegistry.ListDiscoveredRanges method.",
      "properties": {
        "discoveredRanges": {
          "items": {
            "$ref": "DiscoveredRange"
          },
          "description": "The list of DiscoveredRanges.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "ShowCustomRangeUtilizationResponse": {
      "id": "ShowCustomRangeUtilizationResponse",
      "description": "Response message for the CloudNumberRegistry.ShowCustomRangeUtilization method.",
      "properties": {
        "customRange": {
          "description": "The CustomRange resource.",
          "$ref": "CustomRange"
        },
        "rangeUtilization": {
          "description": "The utilization details of the CustomRange.",
          "$ref": "RangeUtilization"
        }
      },
      "type": "object"
    },
    "RealmAggregatedData": {
      "type": "object",
      "id": "RealmAggregatedData",
      "description": "Aggregated data for the Realm.",
      "properties": {
        "discoveredRangesCount": {
          "description": "Output only. Number of DiscoveredRanges in the Realm.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "customRangesCount": {
          "readOnly": true,
          "description": "Output only. Number of CustomRanges in the Realm.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "FindCustomRangeFreeIpRangesResponse": {
      "type": "object",
      "id": "FindCustomRangeFreeIpRangesResponse",
      "description": "Response message for the CloudNumberRegistry.FindCustomRangeFreeIpRanges method.",
      "properties": {
        "freeIpCidrRanges": {
          "type": "array",
          "description": "Output only. The free IP CIDR ranges found.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SearchIpResourcesResponse": {
      "id": "SearchIpResourcesResponse",
      "description": "Response message for the CloudNumberRegistry.SearchIpResources method.",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "SearchIpResourcesResult"
          },
          "description": "The list of results matching the search query."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "ranges": {
          "type": "array",
          "items": {
            "$ref": "Range"
          },
          "description": "Deprecated: Use results field instead. The list of Ranges matching the search query.",
          "deprecated": true
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Attribute": {
      "id": "Attribute",
      "description": "A key-value pair representing a custom attribute associated with a resource.",
      "properties": {
        "key": {
          "description": "Required. The key of the attribute.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the attribute.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CleanupIpamAdminScopeRequest": {
      "id": "CleanupIpamAdminScopeRequest",
      "description": "Request message for the CloudNumberRegistry.CleanupIpamAdminScope method.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Realm": {
      "type": "object",
      "id": "Realm",
      "description": "A Realm represents a distinct network domain or security zone. It groups Ranges that share the same traffic and management characteristics. All the ranges in a Realm are routable to each other, meaning that they cannot overlap.",
      "properties": {
        "discoveryMetadata": {
          "description": "Output only. Discovery metadata of the Realm.",
          "readOnly": true,
          "$ref": "DiscoveryMetadata"
        },
        "registryBook": {
          "description": "Required. Name of the RegistryBook that claims the Realm.",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. The resource name of the Realm.",
          "type": "string"
        },
        "managementType": {
          "enumDescriptions": [
            "Unspecified management type.",
            "Managed by Cloud Number Registry.",
            "Managed by User."
          ],
          "type": "string",
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "CNR",
            "USER"
          ],
          "description": "Optional. Management type of the Realm."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the Realm was created.",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. User-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "trafficType": {
          "enumDescriptions": [
            "Unspecified traffic type.",
            "Unset traffic type.",
            "Internet traffic.",
            "Private traffic.",
            "Linklocal traffic."
          ],
          "type": "string",
          "enum": [
            "TRAFFIC_TYPE_UNSPECIFIED",
            "UNSET",
            "INTERNET",
            "PRIVATE",
            "LINKLOCAL"
          ],
          "description": "Required. Traffic type of the Realm."
        },
        "ipVersion": {
          "enum": [
            "IP_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "description": "Optional. IP version of the Realm.",
          "enumDescriptions": [
            "Unspecified IP version.",
            "IPv4 IP version.",
            "IPv6 IP version."
          ],
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the Realm was last updated.",
          "readOnly": true
        },
        "aggregatedData": {
          "readOnly": true,
          "$ref": "RealmAggregatedData",
          "description": "Output only. Aggregated data for the Realm. Populated only when the view is AGGREGATE."
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
[...]
