{
  "kind": "discovery#restDescription",
  "description": "cloudproductregistry.googleapis.com API.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "cloudproductregistry:v1",
  "title": "Cloud Product Registry API",
  "basePath": "",
  "mtlsRootUrl": "https://cloudproductregistry.mtls.googleapis.com/",
  "version_module": true,
  "rootUrl": "https://cloudproductregistry.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "name": "cloudproductregistry",
  "ownerDomain": "google.com",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "documentationLink": "https://docs.cloud.google.com/product-registry",
  "ownerName": "Google",
  "schemas": {
    "ListLogicalProductsResponse": {
      "id": "ListLogicalProductsResponse",
      "description": "Response message for ListLogicalProducts.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "logicalProducts": {
          "description": "Matched LogicalProducts",
          "items": {
            "$ref": "LogicalProduct"
          },
          "type": "array"
        }
      }
    },
    "LookupEntityResponse": {
      "id": "LookupEntityResponse",
      "description": "Response message for LookupEntity.",
      "type": "object",
      "properties": {
        "logicalProduct": {
          "description": "Matched LogicalProduct.",
          "$ref": "LogicalProduct"
        },
        "productSuite": {
          "description": "Matched ProductSuite.",
          "$ref": "ProductSuite"
        },
        "logicalProductVariant": {
          "description": "Matched LogicalProductVariant.",
          "$ref": "LogicalProductVariant"
        }
      }
    },
    "ListProductSuitesResponse": {
      "id": "ListProductSuitesResponse",
      "description": "Response message for ListProductSuites.",
      "type": "object",
      "properties": {
        "productSuites": {
          "type": "array",
          "items": {
            "$ref": "ProductSuite"
          },
          "description": "Matched ProductSuites"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "LogicalProductVariant": {
      "type": "object",
      "properties": {
        "replacement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product variant is replaced by. This field is only populated when this logical product variant is replaced by some other type. Eg: logicalProducts/{logical_product}, productSuites/{product_suite}, etc."
        },
        "replaced": {
          "description": "Output only. Indicates whether the logical product variant has been replaced. If `false`, the variant is active. If `true`, the variant has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "lifecycleState": {
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "description": "Output only. Current Lifecycle state of the logical product variant."
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProductVariant. Format: logicalProducts/{logical_product}/variants/{variant}",
          "type": "string"
        },
        "title": {
          "description": "Display name of the LogicalProductVariant.",
          "type": "string"
        }
      },
      "id": "LogicalProductVariant",
      "description": "Represents a distinct offering derived from a primary product that retains core functionalities but offers specialized features for a specific market segment."
    },
    "ProductSuite": {
      "id": "ProductSuite",
      "description": "Represents a unified grouping of products sharing a common brand and market positioning.",
      "type": "object",
      "properties": {
        "logicalProducts": {
          "description": "Output only. LogicalProducts under this suite. Format: logicalProducts/{logical_product}",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "replaced": {
          "description": "Output only. Indicates whether the product suite has been replaced. If `false`, the product suite is active. If `true`, the product suite has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "readOnly": true,
          "type": "boolean"
        },
        "replacement": {
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the product suite is replaced by. This field is only populated when this product suite is replaced by some other type. Eg: logicalProducts/{logical_product}, logicalProducts/{logical_product}/variants/{variant}, etc.",
          "type": "string"
        },
        "title": {
          "description": "Title of the ProductSuite.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the ProductSuite. Format: productSuites/{product_suite}",
          "type": "string"
        }
      }
    },
    "ListLogicalProductVariantsResponse": {
      "id": "ListLogicalProductVariantsResponse",
      "description": "Response message for ListLogicalProductVariants.",
      "type": "object",
      "properties": {
        "logicalProductVariants": {
          "type": "array",
          "items": {
            "$ref": "LogicalProductVariant"
          },
          "description": "Matched LogicalProductVariants"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "LogicalProduct": {
      "type": "object",
      "properties": {
        "lifecycleState": {
          "readOnly": true,
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "LIFECYCLE_STATE_PUBLIC_PREVIEW",
            "LIFECYCLE_STATE_PRIVATE_GA",
            "LIFECYCLE_STATE_GA",
            "LIFECYCLE_STATE_DEPRECATED"
          ],
          "description": "Output only. Current Lifecycle state of the logical product.",
          "enumDescriptions": [
            "The default value. This value is used if the lifecycle state is not set.",
            "The entity is in Public Preview. It is available to all customers, but may not be feature-complete or have full support guarantees.",
            "The entity is in Private General Availability. It is fully supported and stable, but only available to a select group of customers.",
            "The entity is Generally Available. It is fully supported, stable, and available to all customers.",
            "The entity is deprecated. It is no longer recommended for use and may be removed in a future version."
          ],
          "type": "string"
        },
        "variants": {
          "description": "Output only. Child variant resource references. Format: logicalProducts/{logical_product}/variants/{variant}",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "replaced": {
          "readOnly": true,
          "description": "Output only. Indicates whether the logical product has been replaced. If `false`, the product is active. If `true`, the product has been replaced by another type, and the `replacement` field contains the resource name of that replacement.",
          "type": "boolean"
        },
        "replacement": {
          "readOnly": true,
          "description": "Output only. The resource name of the Logical Entity that the logical product is replaced by. This field is only populated when this logical product is replaced by some other type. Eg: logicalProducts/{logical_product}/variants/{variant}, productSuites/{product_suite}, etc.",
          "type": "string"
        },
        "title": {
          "description": "Display name of the LogicalProduct.",
          "type": "string"
        },
        "productSuite": {
          "description": "Product suite associated with the logical product. Format: productSuites/{product_suite}.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the LogicalProduct. Format: logicalProducts/{logical_product}.",
          "type": "string"
        }
      },
      "id": "LogicalProduct",
      "description": "Represents an independent service offering that can be provisioned by a customer."
    }
  },
  "resources": {
    "logicalProducts": {
      "resources": {
        "variants": {
          "methods": {
            "get": {
              "response": {
                "$ref": "LogicalProductVariant"
              },
              "description": "Get details of a LogicalProductVariant.",
              "path": "v1/{+name}",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}",
              "id": "cloudproductregistry.logicalProducts.variants.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the LogicalProductVariant to retrieve. Format: logicalProducts/{logical_product}/variants/{variant}"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "lookupEntity": {
              "description": "Look up entities.",
              "response": {
                "$ref": "LookupEntityResponse"
              },
              "id": "cloudproductregistry.logicalProducts.variants.lookupEntity",
              "httpMethod": "GET",
              "parameters": {
                "lookupUri": {
                  "pattern": "^logicalProducts/[^/]+/variants/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}"
                }
              },
              "parameterOrder": [
                "lookupUri"
              ],
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants/{variantsId}:lookupEntity",
              "path": "v1/{+lookupUri}:lookupEntity"
            },
            "list": {
              "response": {
                "$ref": "ListLogicalProductVariantsResponse"
              },
              "description": "Lists LogicalProductVariants matching given criteria.",
              "path": "v1/{+parent}/variants",
              "flatPath": "v1/logicalProducts/{logicalProductsId}/variants",
              "id": "cloudproductregistry.logicalProducts.variants.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListLogicalProductVariants` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProductVariants` must match the call that provided the page token."
                },
                "parent": {
                  "description": "Required. Parent logical product id. Format: logicalProducts/{logical_product}",
                  "type": "string",
                  "required": true,
                  "pattern": "^logicalProducts/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of logical product variants to return. The service may return fewer than this value. If unspecified, at most 100 logical product variants will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "id": "cloudproductregistry.logicalProducts.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the LogicalProduct to retrieve. Format: logicalProducts/{logical_product}",
              "type": "string",
              "required": true,
              "pattern": "^logicalProducts/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/logicalProducts/{logicalProductsId}",
          "response": {
            "$ref": "LogicalProduct"
          },
          "description": "Gets details of a LogicalProduct."
        },
        "lookupEntity": {
          "description": "Look up entities.",
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "flatPath": "v1/logicalProducts/{logicalProductsId}:lookupEntity",
          "path": "v1/{+lookupUri}:lookupEntity",
          "id": "cloudproductregistry.logicalProducts.lookupEntity",
          "httpMethod": "GET",
          "parameters": {
            "lookupUri": {
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}",
              "type": "string",
              "required": true,
              "pattern": "^logicalProducts/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "lookupUri"
          ]
        },
        "list": {
          "id": "cloudproductregistry.logicalProducts.list",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of logical products to return. The service may return fewer than this value. If unspecified, at most 100 logical products will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            },
            "filter": {
              "description": "Optional. The filter expression for listing logical products. Filter syntax: https://google.aip.dev/160 Supported fields: suite_id",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListLogicalProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLogicalProducts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "path": "v1/logicalProducts",
          "flatPath": "v1/logicalProducts",
          "response": {
            "$ref": "ListLogicalProductsResponse"
          },
          "description": "Lists LogicalProducts matching given criteria."
        }
      }
    },
    "productSuites": {
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "flatPath": "v1/productSuites/{productSuitesId}",
          "id": "cloudproductregistry.productSuites.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the ProductSuite to retrieve. Format: productSuites/{product_suite}",
              "type": "string",
              "pattern": "^productSuites/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ProductSuite"
          },
          "description": "Get details of a ProductSuite."
        },
        "lookupEntity": {
          "response": {
            "$ref": "LookupEntityResponse"
          },
          "description": "Look up entities.",
          "id": "cloudproductregistry.productSuites.lookupEntity",
          "httpMethod": "GET",
          "parameters": {
            "lookupUri": {
              "required": true,
              "pattern": "^productSuites/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Entity uri to look up. Supported Formats: logicalProducts/{logical_product} logicalProducts/{logical_product}/variants/{variant} productSuites/{product_suite}"
            }
          },
          "parameterOrder": [
            "lookupUri"
          ],
          "path": "v1/{+lookupUri}:lookupEntity",
          "flatPath": "v1/productSuites/{productSuitesId}:lookupEntity"
        },
        "list": {
          "response": {
            "$ref": "ListProductSuitesResponse"
          },
          "description": "Lists ProductSuites.",
          "id": "cloudproductregistry.productSuites.list",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of suites to return. The service may return fewer than this value. If unspecified, at most 100 suites will be returned. The maximum value is 500; values above 500 will be coerced to 500."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListProductSuites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductSuites` must match the call that provided the page token."
            }
          },
          "parameterOrder": [],
          "path": "v1/productSuites",
          "flatPath": "v1/productSuites"
        }
      }
    }
  },
  "version": "v1",
  "canonicalName": "Cloud Product Registry",
  "revision": "20260710",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://cloudproductregistry.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch"
}